.blocCol2 .calendrier,.calendrier{
	text-align:center;
	}
.calendrier h2{
	padding:10px 0 0 0;
	margin:0;
	background:url(bg-zoomSur-H1.gif) top left no-repeat;
	}
.calendrier table{
	margin:5px auto 5px auto;
	border-collapse:collapse;
	border:2px solid #dde2e8;
	
}
caption{	
	margin:5px auto 5px auto;
	padding:0 2px 5px 2px;
	background-color:#ffffff;
	}
caption a{
	color:#003068;
}
.calendrier td{
	font-size:80%;
	padding:2px;
	border:1px solid #dde2e8;
	background-color:#ffffff;
	}
.calendrier th{
	background-color:#dde2e8;
	padding:2px;
	text-align:center;
	font-size:80%;
	}
#prev a,#next a{
	font-weight:bold;
	font-size:100%;
	text-decoration:none;
	}