.ccilLoiretEco {
        margin:13px 0 10px 20px;
        }

form.connexion fieldset.connexion {
        border: 0;
        margin: 0;
	margin-top: 1em;
        padding: 0;
}

form.connexion fieldset.connexion div.connexion input {
        margin-bottom: 1em;
}

div.connexion_msg_erreur {
        font-weight: bold;
        color: red;
        margin-bottom: 1em;
	margin-top: 1em;
}

.ccil_sondage {
        border: 1px solid #000000;
        background:url('http://www.loiret.cci.fr/blogs/skins/img/selection.png') repeat-x 0px -22px;
}

div.ccilBienvenue {
	margin: 1em;
	/* font-family: Garamond, serif; */
	font-size: 105%;
        margin-bottom: 2em;
}

.ccil_agenda a {
	color:#000000;
        text-decoration:none;
	font-weight: bold;
}
.ccil_agenda a:hover, .ccil_agenda li.active a:hover {
        color:#FF9900;
	font-weight: bold;
}

table.ccil_tab_rss {
	margin-left: 1em;
	margin-bottom: 1em;
	border-style: solid;
	border-width: thin;
	border-collapse: collapse;
}

table.ccil_tab_rss td {
	padding: 0.5em;
	margin: 0;
	border-style: solid;
	border-width: thin;
	border-collapse: collapse;
}

ul.ccil_ul_rss {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-left: 1em;
}

ul.ccil_ul_rss li {
	margin-bottom: 0.5em;
	padding: 0;
}

ul.ccil_ul_rss li table {
	margin-top: 1em;
}

ul.ccil_ul_rss li > a {
	color:#000000;
	text-decoration:none;
}

ul.ccil_ul_rss li > a:hover {
	color:#FF9900;
}

div.bannierepub {
	margin: 0;
	padding: 0;
	margin-top: 3em;
}

.bt_veille_reglementaire li {
	background-color: #f2eeeb;
	background-image: url(btn-type-enquete-statisfaction-B.gif);
	margin-left: 10px;
	margin-right: 0;
	font-size: 100%;
}

.bt_veille_reglementaire li a {
	background-image: url(btn-type-enquete-statisfaction-T.gif);
}

.bt_energies45 li {
	background-color: #f2eeeb;
	background-image: url(btn-type-enquete-statisfaction-B.gif);
	margin-left: 10px;
	margin-right: 0;
}

.bt_energies45 li a {
	background-image: url(btn-type-enquete-statisfaction-T.gif);
}

p.slogan_8priorites {
	font-size: 120%;
	/* /!\ : pas plus de 90% pour eviter decalage sous IE6 */
	width: 90%;
	color:#bc9d57;
        font-weight:bold;
	margin-left: 1em;
	margin-top: 0.5em;
}

p.slogan_8priorites a { 
	font-size: 120%;
	width: 100%;
	color:#bc9d57;
        font-weight:bold;
}

div.video_accueil {
	margin-bottom: 1em;
}

.agenda h1{
	background: none;
        color:#003068;
        margin:0;
        padding:0;
	height: 26px;
}

div.fluxrsspetit {
	margin-top: 2em;
}

.fluxrsspetit a {
	background-image: url(i_rss.jpg);
	background-position: left;
	background-repeat: no-repeat;
	margin-left: 10px;
	margin-right: 0;
	padding-left: 20px;
	background-color: inherit;
	color: #003068;
	text-decoration: none;
	font-size: 85%;
	font-weight: bold;
	display: block;
	height: 100%;
}

.fluxrsspetit a:hover {
	color: #ff9900;
}

p {
	margin-bottom: 5px;
}

h3 {
	margin-top: 10px;
	margin-bottom: 5px;
}

div.msgEmptyPost {
	margin-top: 3em;
	margin-left: 1em;
	font-weight: bold;
}

div.itemArticle {
	overflow: auto;
}

/* formulaire proposition article */

form.propart {
	margin-bottom: 2em;
}

p.ccil_msg_intro_propart {
	margin: 1em;
}

form.propart fieldset {
	margin: 1em;
	padding: 1em;
}

form.propart fieldset div.ligne input {
	clear: both;
	float: left;
        margin-bottom: 1.5em;
}

form.propart fieldset div.ligne textarea {
        clear: both;
        float: left;
        margin-bottom: 1.5em;
}

form.propart fieldset div.ligne label {
        clear: both;
        float: left;
	margin-bottom: 0.2em;
}

form.propart fieldset div.ligne ul {
        clear: both;
        float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: 2em;
}

form.propart fieldset div.ligne ul.niveau1 {
	margin: 0;
	padding: 1em;
}

form.propart fieldset div.ligne ul li {
        clear: both;
        float: left;
	margin: 0;
	margin-bottom: 0.5em;
	padding: 0;
	width: 100%;
}

form.propart fieldset div.ligne ul li input {
	margin: 0;
	margin-right: 0.2em;
	padding: 0;
}

/* Fin formulaire proposition article */
