/*Personnailsation de l'image du bandeau et du fond du menu de navigation en fonction de l'espace et de la rubrique*/
.top{
	background-image:url(bandeau-accueil.jpg.1);
	}
.communautes .top{
	background-image:url(bandeau-communautes.jpg);
	}
.ressource .top{
	background-image:url(bandeau-ressource.jpg);
	}
.projet .top{
	background-image:url(bandeau-projet.jpg);
	}
.accueilSiteInstit ul{
	background-image:url(http://www.loiret.cci.fr/blogs/skins/ccil_std/images_charte/f_nav2.gif);
	}
.accueilSiteInstit li{
	background-image:url(http://www.loiret.cci.fr/blogs/skins/ccil_std/images_charte/f_nav1_li.gif);
	}