/*positionment des blocs*/
.total{
	margin:0 auto 0 auto;
	text-align:left;
	width:958px;
	background:url(bg-total.jpg) bottom left repeat-x #ffffff;
	}
.top{
	height:105px;
	background-position:bottom right;
	background-repeat:no-repeat;
	background-color:#ffffff;
	background-image:url(bandeau-accueil.jpg);
	clear:both;
	}
.logoCCIL{
	background:url(logo-CCIL.gif) center top no-repeat;
	width:245px;
	height:104px;
	float:left;
	margin:0 0 0 0;
}
.logoCCIL a{
	display:block;
	width:100%;
	height:100%;
	}
.baseLineCCIL{
	background:url(http://www.loiret.cci.fr/blogs/skins/ccil_std/images_charte/slogan_CCIL.gif) center top no-repeat;
	width:100%;
	height:37px;
}
.workSpace{
	background:url(bg-total.jpg) 0 0 repeat-x #f2eeeb;
}
.espaceDeTravail{
	background:url(bg-colDroite.gif) 816px 0 repeat-y;
	}
.corps{
	clear:both;
	min-height:50px;
	width:960px;	
	background:url(bg-BR-total.gif) 666px bottom no-repeat;
	}
.ventre{
	min-height:750px;
	margin:0 0 0 0;
	width:790px;
	float:left;
	}
.gauche{
	float:left;
	width:170px;
	overflow:hidden;
	padding:0;
	margin:0;
	background:url(http://www.loiret.cci.fr/blogs/skins/ccil_std/images_charte/f_gauche.gif) bottom left no-repeat;
	}
.col1{
	width:417px;
	float:left;
	margin:0 0 0 3px;
	}
.col2{
	width:206px;
	float:left;
	margin:0 0 60px 9px;
	overflow:hidden;
	}
.col3{
	float:right;
	margin:0 0 0 0;
	width:147px;
	overflow:hidden;
	
	}
.piedPage{
	clear:both;
	margin:0 0 0 0;
	font-size:90%;
	color:#FFFFFF;
	}
/*mise en page spécifique*/
.filAriane {
	padding-top:0;
	padding-bottom:10px;
	}
.filAriane a{
	color:#bbbbbb;
	}
.filAriane a.active{
	color:#fdb429;
	text-decoration:none;
	}
/*sondage*/
.blockGauche,.profil{
	background:url(menuGauche-T-BG.jpg) top left no-repeat;
	min-height:75px;
	margin:5px 0 10px 10px;
	}
.profil{
	min-height:75px;
	margin:0 0 0 9px;
	padding:0;
	}
.blockGauche h1,.profil h1{
	font-size:120%;
	margin:5px 0 0 0;
	padding:0 0 0 0;
	background:none;
	text-align:center;
	min-height:10px;
	background-color:none;
}
.gauche .blockGauche h2{
	padding:15px 10px 5px 0;
	margin:0;
	_height:15px;
	background-image:none;
	}
.blockGauche ul{
	list-style-type:none;
	margin:0;
	padding:0 0 10px 0;
	background:url(menuGauche-B-BG.gif) bottom left no-repeat;
	}
.blockGauche a{
	color:#003068;
	text-decoration:none;
	}
.blockGauche a:hover{
	color:#ffb32c;
	}	
.blockGauche li,.profil li{
	background:url(menuGauche-BG.jpg) top left repeat-y;
	padding:5px 10px 0 10px;
	}
.article{
	background:url(bg-article.jpg) top left no-repeat;
	margin-top:11px;
	padding-top:10px;
	min-height:489px;
	_height:489px;
	}
.agenda,.blocCol2{
	background:url(bg-agenda.jpg) top left repeat-y;
	padding:0 0 0 0;
	margin-top:10px;
	} 
.agenda h1{
	background:url(bg-agenda-H1.jpg) 0 0 no-repeat;
	width:206px;
	height:93px;
	color:#003068;
	margin:0;
	padding:7px 0 5px 5px;
	}
.blocCol2 h2{
	background:url(bg-zoomSur-H1.gif) 0 0 no-repeat;
	width:206px;
	color:#003068;
	margin:0;
	padding:10px 5px 5px 10px;
	font-size:100%;
	}
.agenda h2{
	color:#003068;
	font-size:100%;
	margin:0 10px 0 10px;
	padding:0;
	min-height:10px;
	background:none;
	border:1px solid #ffffff;
	}
.agenda h2 a{
	color:#003068;
	}
.agenda h3{
	background:none;
	color:#8c887c;
	font-size:100%;
	margin:0;
	padding:0;
	font-weight:normal;
	margin:0 10px 0 10px;
	padding:0;
	min-height:10px;
	border:1px solid #ffffff;
	}	
.agenda h3 a{
	color:#8c887c;
}	
.agenda ul,.blocCol2 div{
	background:url(bg-b-agenda.gif) bottom left no-repeat;
	list-style-type:none;
	margin:0;
	padding:0 0 10px 0;
	}
.blocCol2 ul{
	margin:5px 5px 5px 10px;
	padding:0;
	list-style-type:none;
}
.blocCol2 p{
	text-align:left;
	margin-bottom:20px;
	}
.blocCol2 div.type2{
	background:url(bg-annuaire.gif) 0 -70px no-repeat #ffffff;
	min-height:230px;
	}
.agenda li{
	margin-bottom:5px;
	}
.fichierEntreprises {
	background:url(btn-Fichier.gif) top left no-repeat;	
	width:206px;
	height:41px;
	margin:0 0 15px 0;	
}
.fichierEntreprises a{
	display:block;
	color:#003068;
	font-weight:bold;
	text-decoration:none;
	padding:21px 0 0 52px;
	}
.territoire a{
	height:100%;
	width:100%;
	display:block;
	}
.annuaireEntreprise {
	background:url(bg-annuaire.gif) top left no-repeat #ffffff;
	width:205px;
	overflow:hidden;
	height:300px;
	}
.annuaireEntreprise h1{
	background:none;
	color:#003068;
	font-size:100%;
	margin:0 10px 0 10px;
	padding:10px 0 0 0;
	min-height:10px;
	text-transform:none;
	}
.annuaireEntreprise	ul{
	list-style-type:none;
	margin:5px;
	padding:0;
	}
.annuaireEntreprise	li{
	height:65px;
	}
.annuaireEntreprise	ul img{
	margin:0 5px 0 5px;
	border:2px solid #CCCCCC;
	float:left;
	}
.contientVideo{
	padding:5px 0 0 2px;
	text-align:center;
	}
.legende{
	color:#999999;
	}
.aMasquer{
	display:none;
	}
.col3 h1{
	margin:0;
	padding:25px 0 10px 0;
	text-align:center;
	color:#003068;
	font-size:100%;
	text-transform:none;
	background:url(bg-T-menuDroite.gif) 3px 0 no-repeat;
}
.col3 h1.type2{
	background:none;
	padding-top:5px;
	margin:15px 10px 0 10px;
	border-top:1px dotted #003068;
}
.titreComment{
	background:url(http://www.loiret.cci.fr/blogs/skins/ccil_std/images_menu/i_hautParleur.jpg) top left no-repeat;
	padding:10px 5px 10px 45px;
	margin-left:25px;
	color:#f37900;
	}
.bComment label{
	color:#005cc3;
	border-top:1px dotted #005cc3;
	margin-top:5px;
	padding-top:5px;
	font-weight:bold;
	clear:both;
	display:block;
	}
.areaLaisserCommentaire{
	margin:2px;
	width:98%;
	}
form.bComment p{
	margin:0;
	}
textarea.bComment{
	margin:0 0 0 0;
	width:590px;
	}	
.articleBlog{
	clear:left;
	float:left;
	width:auto;
	overflow:auto;
	width:650px;
}
fieldset.connexion{
	text-align:center;
	}
.submit{
	background:url(bg-submit.jpg) #fdb429 top left repeat-x;
	background-color:#fdb429;
	color:#ffffff;
	border:1px solid #666666;
	margin:10px 0 0 0;
	font-weight:bold;
	}	
.filAriane{
	margin:0 0 0 15px;
	padding:10px 0 0 0;
	clear:both;	
	font-size:90%;
	color:#999999;	
	list-style-type:none;
	}
.filAriane li{
	float:left;
	margin:0 0 0 5px;
	}
.filAriane a{
	color:#999999;	
}
/*Formatage des formulaires*/
.noteArticle {
	text-align:right;
	}
.middle{
	vertical-align:middle;
	}
.valideForm{
	text-align:center;
	}
.valideForm input{
	margin:15px 15px 10px 15px;
	padding:5px;
	font-weight:bold;
	}
.coord{
	font-style:normal;
	text-align:center;
	margin:10px 0 0 0;
	height:50px;
	color:#000000;
	background-color:#f5f4f0;
	}
.focus{
	padding:10px 15px 5px 55px;
	margin:5px;
	background:url(bg-focus.gif) 10px 8px no-repeat;
	min-height:38px;
	_height:38px;
	}
.bienvenue{
	padding:10px 15px 5px 80px;
	margin:5px;
	background:url(ico-bienvenue.jpg) 10px 0 no-repeat;
	min-height:60px;
	_height:72px;
	}
.visu_membre_bloc_contrib{
	list-style-type:none;
	margin:10px;
	padding:0;
	}
.visu_membre_bloc_contrib li{
	margin-bottom:10px;
	margin-right:10px;
}
.infoDetaillees_intro{
	margin:10px 0 5px 0;
	height:75px;
	}
.visu_membre_bloc_contrib strong{
	color:#01489c;
	text-decoration:none;	
	}
.visu_membre_photo{
	float:left;
	margin:10px;
	}
.visu_membre_photo img{
	border:2px solid #cccccc;
	}
/*Elements de mise en page*/
.bSmallHead{
	border:1px solid #9198a6;
	background-color:#cad5eb;
	}
.toutLAgenda{
	text-align:center;
	}	
/*Divers*/
.aMasquer{
	display:none;
	}
.clear{
	clear:both;	
	}
