@charset "utf-8";
/* CSS Document */
/*
A-167 Formulaire TS, dealer, 5-8 liens et Zoom Rubrique de la home deplacable sur le site
=> Déplacement des styles dans michelin.css
*/
/*h3 span {display:none}*/
#contenuPage {color:#62557d; font-family:Verdana, Arial; font-size:10px}
.puceWhite {background:url(hp_puceWhite.gif) left 5px no-repeat; padding-left:10px}
.puceBlack {background:url(hp_puceBlack.gif) left 5px no-repeat; padding-left:10px}
.flotRight {float:right}
.flotLeft {float:left}
.clearBoth {height:1px; margin:0px; padding:0px}
.margRight {margin-right:6px}
.clearBoth {height:1px; font-size:0px}
#contenuPage {
	background-image: url(hp_fondHeader.jpg);
}
/* colonnages*/
#hp_col0 { float:left; width:237px; margin-left:15px; margin-top:30px; background-color:#fefefe; display:inline}
#hp_col1 { float:left; width:486px; margin-left:16px; margin-top:40px; position:relative}
#hp_col2 { float:left; width:180px; margin-left:3px; margin-top:80px}

