/* CSS Document */
#mag, #mag2 { margin-top:0px}
#mag_conteneur {
	width:935px; 
	padding:0px 0px 0px 18px; 
}
#mag #magligne1 { 
	clear:both; margin-top:5px; 
	height:175px; 
	background-image:url(mag_fondflash.gif); background-repeat:no-repeat;
	width:935px; 
}
#mag #magligne1_cel1 { float:left; width:644px; height:175px}
#mag #magligne1_cel2 { 
	float:left;
	height:175px;
	width:283px;
	
	/*background-image:url(../images/mag_edito.gif); background-repeat:no-repeat*/
}
#mag #magligne1_cel2data { color:#FFFFFF; width:220px; margin:60px 0px 0px 42px}
#mag #magligne2 { 
	clear:both; float:left; 
	background-image:url(mag_bdEtirable.gif); background-repeat:repeat-y
}
#magligne2 #degrade_data {
	background-image:url(mag_degrade.jpg); background-repeat:no-repeat;
	width:927px; height:395px; padding:10px 0px 0px 10px
}
#maglignetirable { 
	background-image:url(mag_bdEtirable.gif); background-repeat:repeat-y;
	width:927px; clear:both
}
#magligneBas { 
	background-image:url(mag_bdBas.gif); background-repeat:no-repeat;
	width:927px; height:27px; clear:both; margin-bottom:20px
}
#mag #magligne2_1 { clear:both; height:30px; margin-left:5px}
#magligne2_1 #zoneEmail { float:left; width:635px}
#magligne2_1 #zoneEmail input { 
	margin-left:10px; width:168px;
	background-color:#c5c9d6; border:0px; 
	font-size:11px; padding:2px;
}

#magligne2_1 #accesArchive { float:left; padding:5px 0px 0px 20px}
#mag #magligne2_2 { clear:both }
.magligne2_2_cel1 { float:left; margin-right:4px; width:210px}
#magligne2_2_cel4 { float:left; margin-top:2px}
/* portlet 01*/
#mag .portletmag01 { width:208px}
.portletmag01 .portletmag01_visu { 
	background-image:url(mag_portlet01_top.gif); background-repeat:no-repeat;
	height:119px; padding:5px 0px 0px 5px
}

.portletmag01_titre {
	width:198px !important; width /**/:208px;
	height: 22px;
	background: url(mag_portlet01.gif) top left no-repeat; 
	padding: 0px 0px 0px 10px;
	border: 0px solid #000000;
	/*font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size:16px;
	color: #4d4d9b;*/
	font-family:Helvetica, sans-serif;
	font-weight: normal;
	font-size:15px;
	color:#4a4a98;
	
}
.portletmag01_titre span {
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
font-family:Helvetica, sans-serif;
	font-weight: normal;
	font-size:15px;
	color:#4a4a98;
}

.portletmag01 .portletmag01_txtHeader { }
.portletmag01 .portletmag01_txtCenter { 
	background-image:url(mag_portlet01_centertxt.gif); background-repeat:repeat-y;
}
.portletmag01_degrade {
	background-image:url(mag_portlet01_degrade.gif); background-repeat:no-repeat; 
	padding:7px 12px 5px 25px; height :140px
}
html[xmlns] .portletmag01_degrade { height:auto; min-height:140px}
.portletmag01_txtCenter h3 { font-size:12px; color:#0c0c76; font-weight:bold}
.portletmag01_txtCenter p { font-size:11px; color:#62557d}
.portletmag01_txtCenter p a{ font-weight:bold; color:#0c0c76}
.portletmag01 .portletmag01_txtFooter {
	background-image: url(mag_portlet01_bastxt.gif); background-repeat:no-repeat;
	height:13px
}

/*portlet 02*/
.portletmag02 {width:264px}
.portletmag02_degrade {}
.portletmag02_degrade_titre {
	width: 264px;
	height: 43px;
	/*background:url(../images/mag_portlet02_degrade_titre.jpg) top left no-repeat;*/
	border: 0px solid #FF0000;
}
.portletmag02_degrade_texte {
	background:url(mag_portlet02_degrade_texte.jpg) top left no-repeat;
	border: 0px solid #00FF00;
}
.portletmag2_etirable {background-image:url(mag_portlet02_etirable.gif); background-repeat:repeat-y}
.portletmag02 .zoneContenu {padding:10px 10px 0px 20px; height :230px}
html[xmlns] .portletmag02 .zoneContenu { height:auto; min-height:230px}
.portletmag02 div{ font-weight:bold}
.portletmag02 p{ margin:0px 5px 10px 10px; font-weight:normal}

.portletmag02 .zoneBas {
	background-image:url(mag_portlet02_zoneBas.gif); background-repeat:repeat-y;
	padding:5px 0px 0px 15px; clear:both
}
.portletmag02 .zoneBas img{ margin-right:10px}
.portletmag02 .zoneBas a{ color:#FFFFFF; display:block; margin:-16px 0px 0px 30px; padding-bottom:5px}
.portletmag02 .zoneBas2 {
	background-image:url(mag_portlet02_zoneBas2.gif); background-repeat: no-repeat;
	height:9px
}
/**/
#magligne3 {clear:both; float:left; margin-top:5px; padding:5px 0px 0px 15px;}
#magligne3_cel1 { float:left}
#magligne3_cel2 { float:left}
/**/
#mag .portletSondage { width:447px; margin-right:6px; margin-top:1px}
.portletSondage .portletSondage_header {  
	background-image:url(mag_portletsondage_header.gif); background-repeat:no-repeat;
	height:9px
}
.portletSondage .portletSondage_centre { 
	clear:both; float:left; 
	width:447px; height :140px;
	background-image:url(mag_portletsondage_data.gif); background-repeat:repeat-y
}
html[xmlns] .portletSondage .portletSondage_centre { height:auto; min-height:140px}
.portletSondage .portletSondage_footer {
	background-image:url(mag_portletsondage_footer.gif); background-repeat:no-repeat;
	height:26px; clear:both
}
.portletSondage_centre .portletSondage_centre_left { float:left; margin-left:12px; width:130px}
.portletSondage_centre .portletSondage_centre_right { float:left; margin-right:7px}
.portletSondage_centre_right img { margin:10px 5px 0px 0px}
.portletSondage_centre_right li {list-style-type:none}
.portletSondage_centre_right h3 { font-size:12px; color:#0c0c76; margin-bottom:5px}
/*--------------------------------*/
/*------ mag 2 -------------------*/
/*--------------------------------*/
#mag2 #mag2_ligne1 { clear:both; height:84px; margin-top:5px}
#mag2_ligne1_cel1 { 
	float:left; 
	background-image:url(http://www.michelin.fr/michelinfr/images/mag2_fondflash.gif); background-repeat:no-repeat;
	width:643px; height:84px;
	padding-left:0px;

}
#mag2_ligne1_cel2 { 
	float:left;
	background-repeat:no-repeat;
	width:248px;
	height:49px; padding:30px 5px 5px 32px; 
	color:#FFFFFF
}
#mag2_ligne1_cel2 form{ margin:0px; padding:0px}
#mag2_ligne1_cel2 .chp { 
	background-color:#c5c9d6; border:0px; width:166px;
	font-size:11px; color:#62557d; margin-right:10px
}


#mag2 #zoneEtirable { 
	background-image:url(mag2_etirable.gif); background-repeat:repeat-y
}
#mag2 #zonedegrade {
	background-image:url(mag2_degrade.gif); background-repeat:no-repeat;
	height:474px
}
html[xmlns] #mag2 #zonedegrade { height:auto; min-height:474px}

#mag2 #zonebas { background-image:url(mag2_baspage.gif); background-repeat:no-repeat; height:41px; margin-bottom:10px}

#mag2 #zoneRubriqueVide {height:3px;margin-left:4px}



#mag2 #zoneRubrique {

    width:628px;
	margin:0px 0px 0px 3px;
	font-size:12px;	font-weight:bold; color:#84acd6;
}

#mag2 #zoneRubrique table {

                background-color:#FFFFFF;

                background-image:url(fondOnglets_2.gif); background-repeat:repeat-x; background-position:bottom left;

                border:0px solid #d7d4d6;

}



#mag2 #zoneRubrique td {
     padding:10px 0px 10px 0px;
     font-family:Arial, Helvetica, sans-serif;
     font-size:15px;  font-weight:normal; color:#4a4a98;
     text-align:center;           
     vertical-align:middle;
     border: 0px solid #000000;
}

#mag2 #zoneRubrique a {
	border: 0px solid #000000;
    margin:0px 5px 0px 5px;

}

td.rub {
            background-image:url(fondOnglets_2.gif); background-repeat:repeat-x; background-position:bottom left;

}
td.rub_over {

            background-image:url(fondOnglets_3.gif); background-repeat:repeat-x; background-position:bottom left;

}

td.rub_over a:hover {
     cursor: default;
     text-decoration: none;
}

.onglet2Bordure2 {
     width:1px;
     font-size:1px;
     background-color:#dbdbff;
}


#mag2 #zoneContenu { 
	width:864px; font-size:12px;
	margin-left:auto; margin-right:auto; margin-top:15px
}
#mag2 #zoneContenu h2 { font-size:21px; font-weight:normal; height:30px; display:block}
#mag2 #zoneContenu h3 { font-size:18px; font-weight:bold}
#mag2 #zoneContenu h4 { font-size:12px; font-weight:bold; margin-bottom:10px}
/**/
#mag2 #separateurh3 {
	background-image:url(mag2_h3separateur.gif); background-repeat:no-repeat;
	height:9px; margin-bottom:7px
}
#mag2_ligne2 { clear:both; float:left}
#mag2_ligne2_cel1 { float:left; width:344px}
#mag2_ligne2_cel1 p, #mag2_ligne3_cel2 p{ margin:0px 0px 0px 10px}

#mag2_ligne2_cel2 { float:left; width:500px; margin-top:20px}
#mag2 .clearAll{ clear:both}
/**/
.btAlign {
	position:relative;
	padding:0px;
	margin:-2px 0px 0px 2px;
	vertical-align:middle;
}
html[xmlns] .btAlign {
	margin:-5px 0px 0px 2px;
}
/**/
#mag2_ligne3 { clear:both; float:left;  margin-top:20px; width:870px}
#mag2_ligne3_cel1 { float:left; width:520px; margin-right:20px}
#mag2_ligne3_cel2 { float:left}

