body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

a {text-decoration : underline; font-family : Verdana; font-size : 8pt ; color : rgb(000,000,000)}
a:hover {text-decoration : none; color : rgb(000,000,000)}
a:active {text-decoration : none; color : rgb(000,000,000)}

a.fiches {text-decoration : underlinne; font-family : Verdana; font-size : 8pt ; color : rgb(0,0,0)}
a.fiches:hover {text-decoration : none; color : rgb(0,0,0)}
a.fiches:active {text-decoration : underline; color : rgb(0,0,0)}

a.share {text-decoration : underline; font-family : Verdana; font-size : 7pt ; color : rgb(0,0,0)}
a.share:hover {text-decoration : underline; color :  rgb(0,0,0)}
a.share:active {text-decoration : underline; color :  rgb(0,0,0)}

a.finan {text-decoration : none; font-family : Verdana; font-size : 7pt ; color : rgb(0,0,0)}
a.finan:hover {text-decoration : underline; color :  rgb(0,0,0)}
a.finan:active {text-decoration : underline; color :  rgb(0,0,0)}

P.texte {font-family : Verdana; font-weight : normal ; font-size : 8pt ; color : rgb(0,0,0)}
P.textes {font-family : Verdana; font-weight : normal ; font-size : 7pt ; color : rgb(0,0,0)}

SPAN.texte {font-family : Verdana; font-weight : normal ; font-size : 8pt ; color : rgb(0,0,0)}
SPAN.textes {font-family : Verdana; font-weight : normal ; font-size : 7pt ; color : rgb(0,0,0)}
SPAN.titre {font-family : Verdana; font-weight : normal ; font-size : 8pt ; color : rgb(0,0,0)}
SPAN.titreo {font-family : Verdana; font-weight : normal ; font-size : 8pt ; color : rgb(0,0,0)}
SPAN.texteb {font-family : Verdana; font-weight : normal ; font-size : 8pt ; color : rgb(0, 0, 0)}
SPAN.BN {font-family : Verdana; font-weight : normal ; font-size : 8pt ; color : rgb(60,60,60)}
SPAN.sharebrun {font-family : Verdana; font-weight : normal ; font-size : 7pt ; color : rgb(0, 0, 0)}
SPAN.titre2 {font-family : Verdana; font-weight : bold ; font-size : 10pt ; color : rgb(0,0,0)}
SPAN.titre3 {font-family : Verdana; font-weight : normal ; font-size : 9pt ; color : rgb(0,106,183)}
SPAN.titre4 {font-family : Verdana; font-weight : bold ; font-size : 11pt ; color : rgb(0,0,0)}

td.texte {font-family : Verdana; text-align:justify; font-weight : normal ; font-size : 8pt ; color : rgb(0,0,0)}

SELECT.BN {font-family : Verdana; font-weight : normal ; font-size : 8pt } 
INPUT.BN {font-family : Verdana; font-weight : normal ; font-size : 8pt } 
TEXTAREA.BN {font-family : Verdana; font-weight : normal ; font-size : 8pt } 

input.texte {
	font-family: Verdana;
	font-size: 7pt;
	font-weight: normal;
	color: rgb(0, 0, 0);
	background-color: #FFFFFF;
	width: 30px;
	border: 1px solid rgb(0, 0, 0);
	padding: 1px;
}

input.texte1 {
	font-family: Verdana;
	font-size: 7pt;
	font-weight: normal;
	color: rgb(0, 0, 0);
	background-color: #FFFFFF;
	width: 130px;
	border: 1px solid rgb(0, 0, 0);
	padding: 1px;
}

input.texte2 {
	font-family: Verdana;
	font-size: 7pt;
	font-weight: normal;
	color: rgb(0, 0, 0);
	background-color: #FFFFFF;
	width: 105px;
	border: 1px solid rgb(0, 0, 0);
	padding: 1px;
}

input.texte3 {
	font-family: Verdana;
	font-size: 7pt;
	font-weight: normal;
	color: rgb(0, 0, 0);
	background-color: #FFFFFF;
	width: 382px;
	border: 1px solid rgb(0, 0, 0);
	padding: 1px;
}

input.texte4 {
	font-family: Verdana;
	font-size: 7pt;
	font-weight: normal;
	color: rgb(0, 0, 0);
	background-color: #FFFFFF;
	width: 160px;
	border: 1px solid rgb(0, 0, 0);
	padding: 1px;
}

input.submit {
	font-family: Verdana;
	font-size: 9px;
	font-weight: normal;
	color: rgb(0, 0, 0);
	background-color: #FFFFFF;
	border: 1px solid rgb(0, 0, 0);
	padding: 1px;
}
 
TEXTAREA.BN {font-family : Verdana; font-weight : normal ; font-size : 8pt } 

select.list {
	font-family: Verdana;
	font-size: 9px;
	font-weight: normal;
	color: rgb(0, 0, 0);
	background-color: #FFFFFF;
	border: 1px solid rgb(0, 0, 0);
	padding: 1px;
}

.result {
	font-family : Verdana;
	font-weight : normal;
	font-size : 8pt;
	color : #006AB7;
}
