/* default styles for extension "tx_indexedsearch" */
		.tx-indexedsearch .tx-indexedsearch-browsebox LI { display:inline; margin-right:5px; }
		.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-button { width:100px; }
		.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-sword { width:150px; }
		.tx-indexedsearch .tx-indexedsearch-whatis { margin-top:10px; margin-bottom:5px; }
		.tx-indexedsearch .tx-indexedsearch-whatis .tx-indexedsearch-sw { font-weight:bold; font-style:italic; }
		.tx-indexedsearch .tx-indexedsearch-noresults { text-align:center; font-weight:bold; }
		.tx-indexedsearch .tx-indexedsearch-res TD.tx-indexedsearch-descr { font-style:italic; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-descr .tx-indexedsearch-redMarkup { color:red; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-info { background:#eeeeee; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead { margin-top:20px; margin-bottom:5px; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead H2 { margin-top:0px; margin-bottom:0px; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead TD { background:#cccccc; vertical-align:middle; }
		.tx-indexedsearch .tx-indexedsearch-res .noResume { color:#666666; }
		.tx-indexedsearch .tx-indexedsearch-category { background:#cccccc; font-size:16px; font-weight:bold; }

		/* Additional styles, needed for the tableless template_css.tmpl (styles don't conflict with the original template) */
		.tx-indexedsearch .res-tmpl-css { clear:both; margin-bottom:1em; }
		.tx-indexedsearch .searchbox-tmpl-css LABEL { margin-right:1em; width:10em; float:left; }
		.tx-indexedsearch .result-count-tmpl-css, .tx-indexedsearch .percent-tmpl-css { letter-spacing:0; font-weight:normal; margin-top:-1.2em; float:right; }
		.tx-indexedsearch .info-tmpl-css dt, .tx-indexedsearch dl.info-tmpl-css dd { float:left; }
		.tx-indexedsearch .info-tmpl-css dd.item-mtime { float:none; }
		.tx-indexedsearch .info-tmpl-css dd.item-path { float:none; }
/* default styles for extension "tx_loginboxmacmade_pi1" */
		.tx-loginboxmacmade-pi1 .tx-loginboxmacmade-pi1-error {
			color: #FF0000;
		}
		.tx-loginboxmacmade-pi1 TABLE.tx-loginboxmacmade-pi1-loginTable {
			margin-top: 5px;
			margin-bottom: 5px;
			border: solid 1px #DFE2E3;
			border-collapse: collapse;
		}
		.tx-loginboxmacmade-pi1 TABLE.tx-loginboxmacmade-pi1-loginTable TD {
			border: solid 1px #DFE2E3;
			background-color: #FAFBFB;
			padding: 5px;
		}
		.tx-loginboxmacmade-pi1 TABLE.tx-loginboxmacmade-pi1-loginTable TD.tx-loginboxmacmade-pi1-labelCell {
			border: solid 1px #E5D9B1;
			background-color: #F0E9D2;
			font-weight: bold;
		}
/* default styles for extension "tx_thmailformplus_pi1" */
  .tx-thmailformplus-pi1 H2 { margin-top: 0px; margin-bottom: 0px; }
/* default styles for extension "tx_fdfx2cols_pi1" */
/*  Layout 1 */
.c2l1-left{
   border-right: 1px solid #FFEDA8;
   padding-right: 5px;
   width:50%;
   white-space:normal;
}
.c2l1-middle{
   padding-left: 5px;
   width:50%;
   white-space:normal;
}
/*  Layout 2 */
.c2l2-left{
   border-right: 1px solid #FFEDA8;
   padding-right: 5px;
   width:50%;
   white-space:normal;
}
.c2l2-middle{
   background-color:#FFEDA8;
   padding-left: 5px;
   width:50%;
   white-space:normal;
}
/* Layout 2 */
.c2l3-left{
   border-right: 1px solid #FFEDA8;
   padding-right: 5px;
   width:70%;
   white-space:normal;
}
.c2l3-middle{
   background-color:#FFEDA8;
   border: 1px solid blue;
   padding-left: 5px;
   width:30%;
   white-space:normal;
}
/*
	Styles 2 Column DIV Section
*/
div.tx-fdfx2cols-pi1{
    position:relative;
    left:0px;
	margin-bottom:10px;
}
/* Layout 1 */
div.c2l1d-left{
   position:absolute;
   left:0px;
   padding: 0px;
   width:380px;
   white-space:normal;
   border:1px solid red;
}
div.c2l1d-middle{
   position:absolute;
   left:390px;
   padding: 0px;
   width:380px;
   border:1px solid blue;
   white-space:normal;
}
/* Layout 2 */
div.c2l2d-left{
   position:absolute;
   left:0px;
   padding: 0px;
   width:380px;
   border:1px solid blue;
   white-space:normal;
}
div.c2l2d-middle{
   position:absolute;
   left:390px;
   padding: 0px;
   width:380px;
   white-space:normal;
   border:1px solid blue;
   background-color:#C0C0C0;
}
/* 
	Layout 3 
	
	embedded
*/
div.c2l3d-left{
   position:absolute;
   left:0px;
   padding: 0px;
   width:770px;
   white-space:normal;
   border:1px solid red;
}
div.c2l3d-middle{
   float:right;
   margin:5px;
   padding: 0px;
   width: 200px;
   height: 100px;
   overflow:auto;
   white-space:normal;
   border:1px solid blue;
   background-color:#C0C0C0;
}
/* default styles for extension "tx_fdfx3cols_pi1" */
/* Layout 1 */
.c3l1-left{
   border-right: 1px solid #FFEDA8;
   padding-right: 5px;
   width:33%;
   white-space:normal;
}
.c3l1-middle{
   border-right: 1px solid #FFEDA8;
   padding-left: 5px;
   padding-right: 5px;
   width:33%;
   white-space:normal;
}
.c3l1-right{
   padding-left: 5px;
   width:33%;
   white-space:normal;
}
/* Layout 2 */
.c3l2-left{
   border-right: 1px solid #FFEDA8;
   padding-right: 5px;
   width:25%;
   white-space:normal;
}
.c3l2-middle{
   border-right: 1px solid #FFEDA8;
   padding-left: 5px;
   padding-right: 5px;
   width:50%;
   white-space:normal;
}
.c3l2-right{
   padding-left: 5px;
   width:25%;
   white-space:normal;
}
/* Layout 3 */
.c3l3-left{
   border-right: 1px solid #FFEDA8;
   padding-right: 5px;
   width:40%;
   white-space:normal;
}
.c3l3-middle{
   border-right: 1px solid #FFEDA8;
   padding-left: 5px;
   padding-right: 5px;
   width:40%;
   white-space:normal;
}
.c3l3-right{
   padding-left: 5px;
   width:20%;
   white-space:normal;
   background-color:#FFEDA8;
}
/*
	Styles 3 Column DIV Section
*/
div.tx-fdfx3cols-pi1{
    position:relative;
    left:0px;
	margin-bottom:10px;
}
/* Layout 1 */
div.c3l1d-left{
   position:absolute;
   left:0px;
   padding: 0px;
   width:250px;
   white-space:normal;
   border:1px solid red;
}
div.c3l1d-middle{
   position:absolute;
   left:260px;
   padding: 0px;
   width:250px;
   border:1px solid blue;
   white-space:normal;
}
div.c3l1d-right{
   position:absolute;
   left:520px;
   padding: 0px;
   width:250px;
   border:1px solid green;
   white-space:normal;
}
/* Layout 2 */
div.c3l2d-left{
   position:absolute;
   left:0px;
   padding: 0px;
   width:380px;
   border:1px solid blue;
   white-space:normal;
}
div.c3l2d-middle{
   position:absolute;
   left:390px;
   padding: 0px;
   width:380px;
   white-space:normal;
   border:1px solid blue;
   background-color:#C0C0C0;
}
/*
	Layout 3

	embedded
*/
div.c3l3d-left{
   position:absolute;
   left:0px;
   padding: 0px;
   width:770px;
   white-space:normal;
   border:1px solid red;
}
div.c3l3d-middle{
   float:right;
   margin:5px;
   padding: 0px;
   width: 200px;
   height: 100px;
   overflow:auto;
   white-space:normal;
   border:1px solid blue;
   background-color:#C0C0C0;
}
/* default styles for extension "tx_veguestbook_pi1" */
  /* example styles */
	.tx-guestbook-list-table { border-style: solid; border-color: #000000; border-width: 1px; }
    .tx-guestbook-list-header { background-color: #539521; color: #FFFFFF; font-weight:bold; }
    .tx-guestbook-list-row { background-color: #FFFFFF; }
    .tx-guestbook-list-rowleft { background-color: #EEEEEE; }
    .tx-guestbook-list-entrycomment-title {font-weight: bold; }
    .tx-guestbook-list-entrycomment { font-style: italic; }
    .tx-guestbook-list-small { font-size: 9px; color: #666666; }
    .tx-veguestbook-pi1-browsebox TD { font-size: 9px; color: #666666; }
    .tx-veguestbook-pi1-browsebox-strong, .tx-ttnews-browsebox-SCell { font-weight: bold; }
    .tx-veguestbook-pi1-browsebox-SCell { background-color: #EEEEEE; }
    .tx-guestbook-latest-header { background-color: #539521; color: #FFFFFF; font-weight:bold; }
    .tx-guestbook-latest-row { background-color: #FFFFFF; }
    .tx-guestbook-latest-small { font-size: 9px; color: #666666; }
    .tx-guestbook-form-inputfield-med { border-style: solid; border-width: 1pt; border-color:#539521; font-size:14px; color:#333333; width:100px; }
    .tx-guestbook-form-inputfield-big { border-style: solid; border-width: 1pt; border-color:#539521; font-size:14px; color:#333333; width:150px; }
    .tx-guestbook-form-textarea { border-style: solid; border-width: 1pt; border-color:#539521; font-size:14px; color:#333333; width:250px; }
    .tx-guestbook-form-obligationfield { color: #CC0000; }
    .tx-guestbook-form-error { color: #CC0000; }
/* default styles for extension "tx_wssitemap_pi1" */

	.tx-wssitemap-pi1 .treemenudiv {}
	.tx-wssitemap-pi1 .treemenudiv img {vertical-align: middle;border: none;}
	.tx-wssitemap-pi1 .treemenudiv a {text-decoration: none;  color: #788289; }
	.tx-wssitemap-pi1 .treemenudiv a:hover {color: #E40601;}
	.tx-wssitemap-pi1 .treemenudiv a span.treemenutext_act {color:red;}
	.tx-wssitemap-pi1 .treemenudiv a span.treemenutext_actifsub {color:green; }	
	
/* default styles for extension "tx_feevcal_pi1" */

	/* List Events */
	#In_Progress {color:red;}
	#category_current {BORDER-TOP:#000000 1px solid; BORDER-LEFT:#000000 1px solid;
			 BORDER-RIGHT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid;padding-left:5px;padding-right:5px;
			background-color:black; color:white;}
	#category_picker form select {position:absolute;margin-left:5px;}
	#category_picker form input {margin-left:5px;}
	#contentListNumberEvent table {border-collapse:collapse; margin-top:50px; margin-left:-80px;}
	#contentListNumberEvent table tr {border:#C0C0C0 solid 1px;}
	#contentListNumberEvent table th {padding-right:5px; font-size:small; height:30px; background: url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/bgColorWeek.gif); color:white;}
	#contentListNumberEvent table td, #contentListNumberEvent table td a{padding-right:20px; font-size:small;}
	#listEvent_firstColor_Pres, #listEvent_firstColor_Pres a{background-color:#e5f3f5; color:red;} /* fcffc2 */
	#listEvent_secondColor_Pres, #listEvent_secondColor_Pres a{background-color:#e3e3e3; color:red;} /* d0f8ff */
	#listEvent_firstColor_Fut, #listEvent_firstColor_Fut a{background-color:#e5f3f5; color:black;}
	#listEvent_secondColor_Fut, #listEvent_secondColor_Fut a{background-color:#e3e3e3; color:black;}
	a.header_ok_button{ position:absolute;float:right; margin-left:90px; text-decoration:none;}
	a.header_ok_button span{ position:relative; float: left;}
	a.header_ok_button span.right_part {background-image: url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/buttonRight.gif); width: 8px; height: 19px;}
	a.header_ok_button span.left_part{background-image: url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/buttonLeft.gif);  width: 8px;  height: 19px;}
	a.header_ok_button span.center_part {background: url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/buttonBG.gif); height:19px; padding: 0 3px 0 3px;
					color:white; font-weight:bold;}
	a.header_ok_button span.center_part span{padding-top: 3px;}

	
	/* Day */
	#headerfeevcalDay {margin:10px 0; text-align: center;}
	#backInDay {position:absolute; margin-top: -30px; margin-left: 10px;}
	#contentDay {margin-top: 20px; border-top: #000000 1px solid; border-left: #000000 1px solid; 
		border-right: #000000 1px solid; border-bottom: #000000 1px solid; text-align:center;}
	#contentDay table {width:100%; border:0; height:700px;}
	#contentDay table th {color:white; background-color:#000049; width:10px; height:100px; text-align:center;}
 	#contentDay table td {font-size: small; vertical-align:text-top;}
	#contentDay a {text-decoration:none;}

	/* Week */
	#headerfeevcalWeek {margin:10px 0; text-align: center;}
	#backInWeek {position:absolute;	margin-top: -30px; margin-left: 10px;}
	#detailWeek {vertical-align:4; text-align:center;}
	#contentWeek {margin-top: 20px; text-align: center;}
	#contentWeek table {width:100%; height:700px; border-collapse:collapse;}
	#contentWeek table tr {}
	#contentWeek table tr th {border:#C0C0C0 solid 1px;}
	#viewWeek_Time {height:50px; background: url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/viewWeek_Time.gif); color:white;}
	.viewWeek_Date {height:50px; background: url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/bgColorDate.gif);}
	.viewWeek_Date div a {color:black; text-decoration:none;}
	#viewWeek_TimeNumber {height:100px; background:#0file:///var/www/site1/typo3conf/ext/feevcal/ext_typoscript_setup.txt00049; color:white;}
	#contentWeek table tr td {border:#C0C0C0 solid 1px; vertical-align:text-top;}
	#contentWeek table tr td div {font-size:x-small;}
	#contentWeek table tr td div a {text-decoration:none;}

	/* Month */
	#headerfeevcalMonth {margin:10px 0; text-align: center;}
	#detailMonth {text-align:center; font-size:xx-large; margin-left:20px; margin-right:20px;}
	#detailMonth a {color:black; text-decoration:none;}
	#contentMonth {margin-top:20px;}
	#contentMonth table {width:800px; border-collapse:collapse;}
	#contentMonth table tr {}
	#contentMonth table tr th {border:#C0C0C0 solid 1px; height:30px;}
	#contentMonth table tr th a {text-decoration:none;}
	#contentMonth table tr th a:link {color:white;}
	#contentMonth table tr th a:visited {color:white;}
	#contentMonth table tr td {border:#C0C0C0 solid 1px; text-align:left; vertical-align:text-top; height:100px;}
	#contentMonth table tr td a, #contentMonth table tr td div {font-size:x-small;text-decoration:none;}
	#contentMonth table tr td div a:link {}
	#bgColorDayOfWeek {background: url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/bgColorMonth.gif);}
	#bgColorWeek {background: url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/bgColorWeek.gif); color:white;}
	#backInMonth {position:absolute; margin-top: -30px; margin-left: 10px;}

	/* Year */
	#headerfeevcalYear {margin:10px 0; text-align: center;}
	#detailYear {text-align:center; font-size:xx-large; margin-left:20px; margin-right:20px;}
	#contentYear {margin-top:-10px;}
	#contentYear table {text-align:center; margin:9px; width:100%;}
	#contentYear table tr td {vertical-align:top;}
	#contentYear table tr td table {border:#C0C0C0 solid 1px; border-collapse:collapse; width:300px;}
	#contentYear table tr td table tr th {font-size:xx-small; border:#C0C0C0 solid 1px;}
	#contentYear table tr td table tr th a {text-decoration:none;}
	#contentYear table tr td table tr td {font-size:xx-small; border:#C0C0C0 solid 1px; text-align:right; vertical-align:text-top;}
	#contentYear table tr td table tr td a {text-decoration:none;}
	#viewYear_Month {background:url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/viewYear_Month); height:25px;}/* Month */
	#viewYear_Month a {font-size:medium;}
	#viewYear_Month a:link {color:white;}
	#viewYear_Month a:visited {color:white;}
	#viewYear_Week {background:url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/viewYear_Week); height:20px; color:white; width:30px;}
	#viewYear_Week a {text-decoration:none;}
	#viewYear_DayOfWeek {background:url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/viewYear_DayOfWeek); width:38.5px;}
	#viewYear_WeekNumber {height:35px;}
	#viewYear_WeekNumber a:link, #viewYear_WeekNumber a:visited{color:white;}
	#backInYear {position:absolute; margin-top: -30px; margin-left: 10px;}

	/* Event */
	#headerfeevcalEvent {font-size:x-large;}
	.legendListEvents {float:left; clear:left; width: 100px;}
	#contentEvent div {margin-bottom: 5px;}
	#contentEvent {margin-top: 5px;}
	.viewEvent_day_IMG {position:absolute; margin-left:10px; margin-top:-5px;}
	.viewEvent_week_IMG {position:absolute; margin-left:40px; margin-top:-5px;}
	.viewEvent_month_IMG {position:absolute; margin-left:70px; margin-top:-5px;}

	/* Location */
	.legendListLoc {float:left; clear:left;	width: 100px;}
	#contentLoc div {margin-bottom: 5px;}
	#contentLoc {margin-top: 5px;}

	/* User */
	.legendListUser {float:left; clear:left; width: 100px;}
	#contentUser div {margin-bottom: 5px;}
	#contentUser {margin-top: 5px;}

	/* Category */
	#category,#category_picker {float: left;}
	#category_current {float: left; margin-left:15px;}
	/* #contentListNumberEvent {clear: left;} */

	/* Jump */
	#jumpTo {text-align:center; font-size:small;}
	#jumpTo img {vertical-align:-4px; margin-right:5px;}
	#jumpTo select {margin-left:5px;margin-right:5px;}
	#jumpTo input {vertical-align:-5px; margin-left:5px;}
	a.header_nav_button{ float:right; margin-right:100px; text-decoration:none;}
	a.header_nav_button span{ position:relative; float: left;}
	a.header_nav_button span.right_part {background-image: url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/buttonRight.gif); width: 8px; height: 19px;}
	a.header_nav_button span.left_part{background-image: url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/buttonLeft.gif);  width: 8px;  height: 19px;}
	a.header_nav_button span.center_part {background: url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/buttonBG.gif); height:19px; padding: 0 3px 0 3px;
					color:white; font-weight:bold;}
	a.header_nav_button span.center_part span{padding-top: 3px;}

	/* Quick Jump */
	.quickJumpTo {float:right;}

	/* MiniCal */
	#contentMiniCal table {border:#C0C0C0 solid 1px; border-collapse:collapse; width:180px; height:185px;}
	#contentMiniCal table tr th {font-size:xx-small; border:#C0C0C0 solid 1px;}
	#contentMiniCal table tr th a {text-decoration:none;}
	#contentMiniCal table tr td {font-size:xx-small; border:#C0C0C0 solid 1px; text-align:center; vertical-align:text-top;}
	#contentMiniCal table tr td a {text-decoration:none;}
	#miniCal_Month {background:url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/viewYear_Month.gif); height:20px; color:white; margin-left:10px; margin-right:10px;}
	#miniCal_Week {background:url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/miniCal_Week.gif); height:15px; color:white;}
	#miniCal_DayOfWeek {background:url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/miniCal_DayOfWeek.gif);}
	.miniCal_WeekNumber {height:25px; color:white;}
	.miniCal_WeekNumber a {text-decoration:none; color:white;}
	#miniCal_leftArrow {margin-right:10px;}
	#miniCal_rightArrow {margin-left:10px;}

	/* Back */
	#back img {margin-right: 10px;}
	#backReturn {color:blue; font-size:medium; font-weight:bold; text-decoration:none; BORDER-TOP:#000000 1px solid; BORDER-LEFT:#000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid;}
	a.header_return_button{ position:absolute;float:right; margin-left:30px; margin-top:-18px;text-decoration:none;}
	a.header_return_button span{ position:relative; float: left;}
	a.header_return_button span.right_part {background-image: url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/buttonRight.gif); width: 8px; height: 19px;}
	a.header_return_button span.left_part{background-image: url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/buttonLeft.gif);  width: 8px;  height: 19px;}
	a.header_return_button span.center_part {background: url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/buttonBG.gif); height:19px; padding: 0 3px 0 3px;
					color:white; font-weight:bold;}
	a.header_return_button span.center_part span{padding-top: 3px;}

	/* Print */
	#titlePrintForm {font-size:x-large; margin-bottom:5px;}
	#headerPrintList {font-size:large;}
	.legendListPrint {float:left; clear:left; width: 100px;}
	#titlePageListPrint {float:left; clear:left; width: 100px; font-size:large;}
	.headerPrintForm {font-size: large;}
	#contentPrintListEvent table {border-collapse:collapse; margin-top:10px;}
	#contentPrintListEvent table tr {border:#C0C0C0 solid 1px;}
	#contentPrintListEvent table th {padding-right:5px; font-size:small; height:30px; background: url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/bgColorWeek.gif); color:white;}
	#contentPrintListEvent table td, #contentListNumberEvent table td a{padding-right:20px; font-size:small;}
	
	a.print_button{ position:absolute;float:right; margin-left:30px; margin-top:10px;text-decoration:none;}
	a.print_button span{ position:relative; float: left;}
	a.print_button span.right_part {background-image: url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/buttonRight.gif); width: 8px; height: 19px;}
	a.print_button span.left_part{background-image: url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/buttonLeft.gif);  width: 8px;  height: 19px;}
	a.print_button span.center_part {background: url(http://www.granville.cci.fr/typo3temp/typo3conf/ext/feevcal/img/buttonBG.gif); height:19px; padding: 0 3px 0 3px;
					color:white; font-weight:bold;}
	a.print_button span.center_part span{padding-top: 3px;}
	#backListPrint {float:left; clear:left; width: 100px; margin-top:10px;}
	#headerPrintListTitlePage {font-size:x-large; margin-top:5px;}
	#printDateNow {margin-left:40px; font-size:x-small;}
/* default styles for extension "tx_chcforum_pi1" */



/* BASIC STUFF */
#tx_chcforum-pi1 {
	font-family: verdana, sans-serif;
	font-size: 11px;
}

#tx_chcforum-pi1 caption {
	display: none;
}

#tx_chcforum-pi1 a {
	text-decoration: underline;
}

#tx_chcforum-pi1 a:hover {
	text-decoration: none !important;
}

/* only one form in the forum */
#tx_chcforum-pi1 form {
	margin-top: 5px;
	margin-bottom: 5px;
}

.tx-chcforum-pi1-noWrap {
	display: inline;
	white-space: nowrap;
}

.tx-chcforum-pi1-preTableWrap {
	border: 1px solid #999999;
	margin-bottom: 2px;
}

.tx-chcforum-pi1-postTableWrap {
	border: 1px solid #999999;
	margin-bottom: 2px;
}

/* GENERIC TABLE BEGIN */
.tx-chcforum-pi1-Table {
	border: 1px solid #666666;
	background: #FFFFFF;
	margin-bottom: 2px;
	width: 100%;
}

.tx-chcforum-pi1-Table thead tr th {
	font-size: 14px;
	font-weight: bold;
	background: #A7B3CB;
	padding: 5px;
	text-align: center;
	white-space: nowrap;
}

/* category title row */
.tx-chcforum-pi1-Table tbody tr th {
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 2px;
	background: #F3F5F8;
	padding: 5px;
	text-align: left;
}

/* category features row */
.tx-chcforum-pi1-Table tbody tr td {
	font-size: 12px;
	background: #E3E7EF;
	padding: 5px;
}
/* GENERIC TABLE END */


/* CATEGORY TABLE BEGIN */
/* cell 1 */
.tx-chcforum-pi1-catConferenceCell {
}

.tx-chcforum-pi1-catConferenceCell dl {
	margin: 0;
}

.tx-chcforum-pi1-catConferenceCell dt {
}

.tx-chcforum-pi1-catConferenceCell dd {
	font-size: 10px;
	margin-left: 5px;
}

.tx-chcforum-pi1-catConferenceCell dd.new {
	color: #FF0000;
}

/* cell 2 */
.tx-chcforum-pi1-catThreadCell {
	text-align: center;
}

/* cell 3 */
.tx-chcforum-pi1-catPostCell {
	text-align: center;
}

/* cell 4 */
.tx-chcforum-pi1-catLastCell {
	font-size: 10px !important;
	vertical-align: top;
}
/* CATEGORY TABLE END */


/* CONFERENCE TABLE BEGIN */
/* cell 1 */

.tx-chcforum-pi1-confThreadImage {
	text-align: center;
}


.tx-chcforum-pi1-confThreadSubjCell {

}

.tx-chcforum-pi1-confThreadNew {
	color: #FF0000;
	font-size: 10px;
	padding-left: 5px;
}

.tx-chcforum-pi1-confThreadBtns img {
	padding-top: 5px;
}

.tx-chcforum-pi1-confThreadBtns {
	padding-left: 5px;
}

/* cell 2 */
.tx-chcforum-pi1-confThreadRepliesCell {
	text-align: center;
}

/* cell 3 */
.tx-chcforum-pi1-confThreadAuthorCell {
	text-align: center;
}

/* cell 4 */
.tx-chcforum-pi1-confThreadLastCell {
	font-size: 10px !important;
}

/* CONFERENCE TABLE END */

/* NAVPATH BEGIN*/
.tx-chcforum-pi1-navPath a {
	color: #6F6E70;
}

.tx-chcforum-pi1-navPath {
	line-height: 15px;
	color: #6F6E70;
	background: #E9E9E9;
	border-bottom: 1px solid #DEDEDE;
	margin-bottom: 1px;
	padding: 3px;
	font-size: 10px;
}
/* NAVPATH END*/

/* PAGELINKS BEGIN */
.tx-chcforum-pi1-pageLinksTop, .tx-chcforum-pi1-pageLinksBtm {
	color: #6F6E70;
	background: #E9E9E9;
	border-bottom: 1px solid #DEDEDE;
	font-size: 10px;
	line-height: 15px;
	padding: 3px;
	text-align: right;
	clear: both;
	padding-right: 5px;
}

.tx-chcforum-pi1-pageLinksBtm {
	margin-bottom: 1px;
}
/* PAGELINKS END */

/* POST FORM BEGIN */
.tx-chcforum-pi1-postForm {
	border: 1px solid #999999;
	background: #E3E7EF;
	padding: 5px;
	margin-bottom: 3px;
}

.tx-chcforum-pi1-postForm #formWhere {
	font-size: 14px;
	font-weight: bold;
	background: #A7B3CB;
	padding: 5px;
	text-align: center;
	white-space: nowrap;
	margin-bottom: 7px;
	border: 1px solid #999999;
}

.tx-chcforum-pi1-postForm fieldset label {
	display: block;
	text-align: right;
	padding-right: 20px;
	padding-top: 3px;
	width: 60px;
	float: left;
}

.tx-chcforum-pi1-postForm fieldset {
	background-color: #E9E9E9;
}

.tx-chcforum-pi1-postForm fieldset#formTop {
	margin-bottom: 8px;
}

.tx-chcforum-pi1-postForm fieldset#formTop legend {
	margin-bottom: 3px;
	background-color: #E9E9E9;
	border: 1px solid #999999;
	padding: 2px;
	font-weight: bold;
}

.tx-chcforum-pi1-postForm fieldset#formBottom legend {
	background-color: #E9E9E9;
	border: 1px solid #999999;
	padding: 2px;
	font-weight: bold;
	margin-bottom: 5px;
}


.tx-chcforum-pi1-postForm fieldset#formTop input {
	display: block;
	width: 150px;
	float: left;
	padding: 2px;
	border: 1px solid #DEDEDE;
	margin-bottom: 2px;
}

.tx-chcforum-pi1-postForm textarea {
	border: 1px solid #DEDEDE;
	margin: 3px 0;
	width: 100%;
	height: 150px;
}

.tx-chcforum-pi1-postForm fieldset#formTop br {
	clear:left;
}

.tx-chcforum-pi1-formBtn {
	text-align: center;
}

.tx-chcforum-pi1-formBtn input {
	border: 1px solid #999999;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:2px;
	background-color: #FFF;

}

.tx-chcforum-pi1-formBtnHov {
	border: 1px solid #666; 
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:2px;
	background-color: #FFF;
	color: #CC0000;
}

.tx-chcforum-pi1-formBtnStyle {
	background-color: #FFF;
	border: 1px solid #666666;
	padding: 3px;
	margin: 3px;
}

.tx-chcforum-pi1-formBtnStyleHov {
	background-color: #FFF;
	border: 1px solid #C00;
	color: #CC0000;
	padding: 3px;
	margin: 3px;
}
/* POST FORM END */

/* SINGLE POST BEGIN */
.tx-chcforum-pi1-singlePost {
	border: 1px solid #666666;
	margin: 3px 0;
}

/* top */
.tx-chcforum-pi1-singlePost .author {
	background: #E3E7EF;
	padding: 3px;
	vertical-align: top;
	height: 78px;
}

.tx-chcforum-pi1-formEmicoStyle {
	margin: 3px;
}

.tx-chcforum-pi1-singlePost .im {
	vertical-align: middle;
	margin-top: 3px;
}

.tx-chcforum-pi1-singlePost .im a {
	margin-right: 10px;
}

.tx-chcforum-pi1-singlePost .im img {
	vertical-align: middle;
	border: 0px;
	padding-right: 2px;
	margin-bottom: 2px;
}

.tx-chcforum-pi1-singlePost .userPic {
	border: 1px solid #666666;
	float: right;
}
/* deprecated */
.tx-chcforum-pi1-singlePost #userPic {
	border: 1px solid #666666;
	float: right;
}

/* middle */
.tx-chcforum-pi1-singlePost .text {
	border-top: 1px solid #666666;
	border-bottom: 1px solid #666666;
	background: #E3E7EF;
}

.tx-chcforum-pi1-singlePost .scroller {
	overflow: auto;
	width: 95%;
	background: #FFF;
	min-height: 125px;
	text-indent: 0px;
	padding: 3px;
}

/* bottom */
.tx-chcforum-pi1-singlePost .edit {
	background: #F3F5F8;
	padding: 3px;
	height: 19px;
	vertical-align: middle;
	margin-top: 3px;
}

.tx-chcforum-pi1-singlePost .edit a {
	margin-right: 30px;
}

.tx-chcforum-pi1-singlePost .edit img {
	vertical-align: middle;
	border: 0px;
}

.tx-chcforum-pi1-singlePost .attachment {
	background: #DEE3E7;
	padding: 3px;
}

.tx-chcforum-pi1-singlePost .attachment div {
	vertical-align: top;
}

.tx-chcforum-pi1-singlePost .attachment img {
	float: left;
	margin-right: 5px;
}

.tx-chcforum-pi1-singlePost .rate {
	background: #DEE3E7;
	border-top: 3px solid #FFFFFF ;
	padding: 3px;
}

.tx-chcforum-pi1-singlePost .rate input {
	background-color: #FFF;
	border: 1px solid #666666;
	font-size: 9px;
}

.tx-chcforum-pi1-singlePost .rate select {
	border: 1px solid #666666;
	font-size: 10px;
}

.tx-chcforum-pi1-singlePost .rate select option {
	height: 1.5em;
}

.tx-chcforum-pi1-singlePost .rate form {
	padding: 0;
	margin: 0;
	display: inline;
}

.tx-chcforum-pi1-singlePost .rate .rateStars {
	float: left;
	text-align: left;
	height: 1.85em;
}

.tx-chcforum-pi1-singlePost .rate .rateMenu {
	text-align: right;
	width: 100%;
	height: 1.85em;
}

.tx-chcforum-pi1-singlePost .offset {
	margin-left: 15px;
	margin-right: 15px;
}

.tx-chcforum-pi1-singlePost .codeCell {
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #006600;
	padding: 5px;
	background-color: #FAFAFA; 
	border: #D1D7DC; 
	border-style: solid;
	border-left-width: 1px; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px
}

.tx-chcforum-pi1-singlePost .quoteCell {
	background-color: #FAFAFA;
	font-size: 10px;
	padding: 5px;
	border: #D1D7DC; 
	border-style: solid;
	border-left-width: 1px; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px
}

.tx-chcforum-pi1-singlePost .quoteCellAuthor {
	border: 0px;
	font-weight: bold;
	padding: 3px 0;
}

.tx-chcforum-pi1-singlePost .quoteTable {
	border: 0px;
	margin: 15px 0;
}

.tx-chcforum-pi1-singlePost .text img {
	max-height: 350px;
	max-width: 350px;
}

.tx-chcforum-pi1-singlePostQuoteText {
	background-color: #FAFAFA;
	border: 1px solid #666666;
	font-size: 10px;
	padding: 5px;
}


/* SINGLE POST END */


/* FOOTER BOX BEGIN */
.tx-chcforum-pi1-footerBox {
	background: #A7B3CB;
	padding: 3px;
	border: 1px solid #999999;
	font-size: 10px; 
}

/* used for user listing */
.tx-chcforum-pi1-footerBox div { 
	padding-top: 5px; 
	padding-left: 5px;
	font-size: 10px; 
}
/* FOOTER BOX END */

/* HEADER BOX BEGIN */
.header_center {	
  text-align: center;
	height: 34px;
}
.header_text {
	font-size: 24px;
	line-height: 34px; 
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-variant: small-caps;
}
.header_small {
	margin-bottom: 3px;
	border: solid #666666 1px;
}
/* HEADER BOX END */

/* TOOL BAR  BEGIN */
.tx_chcforum-pi1-toolBar {
	background: #E3E7EF;
	border: 1px solid #666666;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 2px;
}

.tx_chcforum-pi1-toolBar img {
	vertical-align: middle;
	margin-left: 16px;
}

.tx_chcforum-pi1-toolBar div {
	line-height: 30px;
	text-align: right;
	font-size: 9px;
	font-weight: bold;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

.tx_chcforum-pi1-subToolBar {
	background: #DEE3E7;
	margin-bottom: 1px;
	padding-right: 5px;
}

.tx_chcforum-pi1-subToolBar img {
	vertical-align: middle;
	margin-left: 16px;
}

.tx_chcforum-pi1-subToolBar div {
	margin: 0px;
	line-height: 15px;
	padding: 3px 0px 3px 0px;
	text-align: right;
	font-size: 9px;
	font-weight: bold;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}


/* TOOL BAR  END */

/* PROFILE BEGIN */
.tx-chcforum-pi1-profileBorder {
	border: 1px solid #999999;
	padding: 3px;
}

.tx-chcforum-pi1-profileBorder #userPic {
	border: 1px solid #666666;
	float: right;
}

.tx-chcforum-pi1-profileBorder hr {
	clear: left;
	display: block;
	visibility: hidden;
}

.tx_chcforum-pi1-profileHdrBig {
	background: #DEE3E7;
	border: 1px solid #666666;
	padding: 5px;
	margin-bottom: 3px;
	font-size: 11px;
	font-weight: bold;
}

.tx_chcforum-pi1-profile_hdr {
	font-size: 11px;
  font-weight: bold;
  background: #E3E7EF;
  padding: 2px;
	padding-left: 6px;
}
/* PROFILE END */

/* MESSAGE BOX BEGIN */
.tx-chcforum-pi1-errorBoxCell {
	background: #E3E7EF;
	font-weight: bold;
	text-align: left;
}

.tx-chcforum-pi1-messageBoxErrorNoBorder {
	background: #FFD6EF;
	font-weight: bold;
	text-align: left;
	margin-bottom: 3px;
	padding: 3px;
	font-weight: bold;
}

.tx-chcforum-pi1-messageBox, .tx-chcforum-pi1-messageBoxError {
	background: #FFCCCC;
	margin-bottom: 3px;
	padding: 3px;
	padding-left: 5px;
	font-weight: bold;
	border: 1px solid #CF1127;
	color: #CF1127;
}
/* MESSAGE BOX END */

.tx-chcforum-pi1-forumTextBig {
	font-size: 14px;
	font-weight: bold;
}

.tx-chcforum-pi1-helpBox {
	background-color: #E9E9E9 !important;
	border-style: none;
}

.tx-chcforum-pi1-linkUp {
	background: #DEE3E7;
	border-bottom: 1px solid #DEDEDE;
	padding: 3px;
	padding-right: 5px;
	font-size: 10px;
	line-height: 15px;
	text-align: right;
}

.tx-chcforum-pi1-previewBoxCell {
	background: #A7B3CB;
	text-align: center;
}

/* CWT COMMUNITY STYLES */

#tx_chcforum-pi1 .tx-cwtcommunity-pi1 .userlistLetters {
	font-weight: bold;
}
#tx_chcforum-pi1 .tx-chcforum-pi1-Table .tx-cwtcommunity-pi1 form {
	margin: 0px;
	padding: 0px;
	font-family: arial, sans-serif;
}
#tx_chcforum-pi1 .tx-chcforum-pi1-Table .tx-cwtcommunity-pi1 td {
	font-family: arial, sans-serif;
	padding: 2px;
}
#tx_chcforum-pi1 .tx-chcforum-pi1-Table .tx-cwtcommunity-pi1 th {
	background: #E3E7EF;
	font-family: arial, sans-serif;
	font-size: 11px;
	padding: 2px;
	text-align: left;
	letter-spacing: 0px;
}



/* default styles for extension "tx_irfaq_pi1" */
		.tx-irfaq-pi1 ul.tx-irfaq-questions-list { margin-bottom: 75px; }
		.tx-irfaq-pi1 ul li a p.bodytext { margin: 0px; display: inline; font-weight: bold; }
		.tx-irfaq-pi1 ul li a { color: #000; text-decoration: none; }
		.tx-irfaq-pi1 ul li a:hover { color: #000; text-decoration: underline; }
		.tx-irfaq-pi1 .tx-irfaq-answer { margin-bottom: 10px; }
		.tx-irfaq-pi1 .tx-irfaq-answer h4 p.bodytext { margin: 0px; display: inline; font-weight: bold; }
		.tx-irfaq-pi1 dt p { font-weight: bold; margin: 0px; display: inline; }
		.tx-irfaq-pi1 dd { margin-left: 0px; }
		.tx-irfaq-pi1 dd p { margin-top: 0px;	}
		.tx-irfaq-pi1 .additional-info { border-top: 2px solid #e6e6e6; margin-bottom: 10px; }
/* default styles for extension "tx_srfeuserregister_pi1" */
   .tx-srfeuserregister-pi1 p { font-family:Verdana, sans-serif; font-size:12px; line-height:125%; color:#35006d; margin-top:8px; margin-bottom:0px; padding-top:0px; padding-bottom:0px; padding-right:3px; padding-left:3px; text-indent:0px; }
   .tx-srfeuserregister-pi1 a:link { background-color:transparent; color:navy; text-decoration:none; font-weight:bold;}
   .tx-srfeuserregister-pi1 a:visited { background-color:transparent; color:navy; font-weight:bold; text-decoration:none; }
   .tx-srfeuserregister-pi1 a:hover { background-color:transparent; color:#333333; text-decoration:none; }
   .tx-srfeuserregister-pi1 a:active { background-color:transparent; color:navy; font-weight:bold; text-decoration:none; }
   .tx-srfeuserregister-pi1 td { vertical-align:top;  font-family:Verdana, sans-serif; font-size:12px; line-height:125%; color:#35006d; margin-top:8px; margin-bottom:0px; padding-top:0px; padding-bottom:0px; padding-right:3px; padding-left:3px; text-indent:0px;}
   .tx-srfeuserregister-pi1 input { font-size:10px; font-family:Verdana; background-color:#35006d; color:#ffffff; font-weight:bold; }
   .tx-srfeuserregister-pi1 input[type=radio] { vertical-align: middle; margin-left: 10px; margin-right: 5px; }
   .tx-srfeuserregister-pi1 input.tx-srfeuserregister-pi1-submit { font-size:10px; font-family:Verdana; background-color:#35006d; color:#ffffff; font-weight:bold; }
   .tx-srfeuserregister-pi1 input.tx-srfeuserregister-pi1-uploader { font-size:10px; font-family:Verdana; background-color:#35006d; color:#ffffff; font-weight:bold; }
   .tx-srfeuserregister-pi1 input.tx-srfeuserregister-pi1-icon { font-size:10px; font-family:Verdana; background-color:transparent;}
   .tx-srfeuserregister-pi1 select { font-size:10px; font-family:Verdana; background-color:#35006d; color:#ffffff; font-weight:bold; }
   .tx-srfeuserregister-pi1 textarea { font-size:10px; font-family:Verdana; background-color:#35006d; color:#ffffff; font-weight:bold; }
   .tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-radio input  { font-size:10px; font-family:Verdana; background-color:transparent; color:#35006d; font-weight:bold; vertical-align:middle; }
   .tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-checkbox input  { font-size:10px; font-family:Verdana; background-color:transparent; color:#35006d; font-weight:bold; vertical-align:middle; }
   .tx-srfeuserregister-pi1 ul.tx-srfeuserregister-multiple-checkboxes { list-style-type: none; list-style-image: none; list-style-position: inside; margin: 0 0 0 .5em; font-size: 1em; }
   .tx-srfeuserregister-pi1 ul.tx-srfeuserregister-multiple-checkboxes li { margin: 0 0 .4em 0; }
   .tx-srfeuserregister-pi1 ul.tx-srfeuserregister-multiple-checkboxes li label { margin: 0; padding: 0 0 0 .5em; font-size: 1em; }
   .tx-srfeuserregister-pi1 ul.tx-srfeuserregister-multiple-checked-values { list-style-type: square; list-style-image: none; list-style-position: inside; margin: 0; font-size: 1em; }
   .tx-srfeuserregister-pi1 ul.tx-srfeuserregister-multiple-checked-values li { float: left; margin: 0 2em 0 0;}
/* default styles for extension "tx_mwkeywordlist_pi1" */
    .tx-mwkeywordlist-pi1 { font-family: Verdana, Tahoma, Arial, sans-serif; }
    .tx-mwkeywordlist-pi1 h1 { font-family: Arial, Helvetica, sans-serif; font-size: 20pt; font-weight: bold; margin: 0px; padding-top: 15px; padding-bottom: 5px; }
    .tx-mwkeywordlist-pi1 h2 { font-family: Arial, Helvetica, sans-serif; font-size: 17pt; font-weight: bold; margin: 0px; padding-top: 15px; padding-bottom: 5px; }
    .tx-mwkeywordlist-pi1-jumpmenu { padding-bottom: 25px; font-size: 80%; }
    .tx-mwkeywordlist-pi1-keywordlist {  }

    .tx-mwkeywordlist-pi1-content div {  }
    .tx-mwkeywordlist-pi1-content div.section { margin-top: 5px; margin-bottom: 10px; }
    .tx-mwkeywordlist-pi1-content div.sectiontoplink { text-align: right; margin-top: 5px; margin-bottom: 10px; }
    .tx-mwkeywordlist-pi1-content ul { margin: 0px; padding-bottom: 15px; font-weight: normal; }
    .tx-mwkeywordlist-pi1-content li { margin: 0px; padding: 0px; font-weight: normal;}

    .tx-mwkeywordlist-pi1-activeLink {}
    .tx-mwkeywordlist-pi1-inactiveLink {}
/* default styles for extension "tx_danewslettersubscription_pi1" */
	DIV.tx-danewslettersubscription-pi1 DIV.tx-danewslettersubscription-pi1-listrow TABLE TR TD.tx-danewslettersubscription-pi1-descr P {margin-bottom: 10px;}
	DIV.tx-danewslettersubscription-pi1 TABLE TR.tx-danewslettersubscription-pi1-form-row TD {background-color: #ffffff;}
	DIV.tx-danewslettersubscription-pi1 TABLE TR.tx-danewslettersubscription-pi1-form-row TD.tx-danewslettersubscription-pi1-form-header {background-color: #eeeeee;}
	DIV.tx-danewslettersubscription-pi1 DIV.tx-danewslettersubscription-pi1-listrow TABLE TR.tx-danewslettersubscription-pi1-listrow-header TD {background-color: #EEEEEE;}
	DIV.tx-danewslettersubscription-pi1 DIV.tx-danewslettersubscription-pi1-listrow TABLE TR.tx-danewslettersubscription-pi1-listrow-header TD P {font-weight: bold;}
/* default styles for extension "tx_cljoboffers_pi1" */
  .tx-cljoboffers-pi1 H2 { margin-top: 0px; margin-bottom: 0px; }
/* default styles for extension "tx_clcompanydatabase_pi1" */
  .tx-clcompanydatabase-pi1 H2 { margin-top: 0px; margin-bottom: 0px; }
/* default styles for extension "tx_rggooglemap_pi1" */
  #map {
    background:#999999;
  }
  #tx-rggooglemap-cat {
    padding:1px 30px;
    font-weight:bold;
  }
  #tx-rggooglemap-poiNest {
    padding:5px 0;
  }
  .tx-rggooglemap-poi {
    float:left;
    width:160px;
  }
  .tx-rggooglemap-poi li {
    list-style:none;
  }
  
  .tx-rggooglemap-poi h1 {
    text-decoration:underline;
  }
  .tx-rggooglemap-poi a, .tx-rggooglemap-poi a:link, .tx-rggooglemap-poi a:visited, .tx-rggooglemap-poi a:active {
    text-decoration:none;
  }
  .tx-rggooglemap-poi a:hover {
    text-decoration:underline;
  }
/* default styles for extension "tx_cssstyledcontent" */
	/* Captions */
	DIV.csc-textpic-caption-c .csc-textpic-caption { text-align: center; }
	DIV.csc-textpic-caption-r .csc-textpic-caption { text-align: right; }
	DIV.csc-textpic-caption-l .csc-textpic-caption { text-align: left; }

	/* Needed for noRows setting */
	DIV.csc-textpic DIV.csc-textpic-imagecolumn { float: left; display: inline; }

	/* Border just around the image */
	DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG {
		border: 2px solid black;
		padding: 0px 0px;
	}

	DIV.csc-textpic-imagewrap { padding: 0; }

	DIV.csc-textpic IMG { border: none; }

	/* DIV: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DIV.csc-textpic-image { float: left; }

	/* UL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL { list-style: none; margin: 0; padding: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL LI { float: left; margin: 0; padding: 0; }

	/* DL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image { float: left; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DT { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD IMG { border: none; } /* FE-Editing Icons */
	DL.csc-textpic-image { margin: 0; }
	DL.csc-textpic-image DT { margin: 0; display: inline; }
	DL.csc-textpic-image DD { margin: 0; }

	/* Clearer */
	DIV.csc-textpic-clear { clear: both; }

	/* Margins around images: */

	/* Pictures on left, add margin on right */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-right: 10px;
	}

	/* Pictures on right, add margin on left */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}

	/* Pictures centered, add margin on left */
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image .csc-textpic-caption { margin: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image IMG { margin: 0; }

	/* Space below each image (also in-between rows) */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image { margin-bottom: 5px; }
	DIV.csc-textpic-equalheight DIV.csc-textpic-imagerow { margin-bottom: 5px; display: block; }
	DIV.csc-textpic DIV.csc-textpic-imagerow { clear: both; }

	/* No margins around the whole image-block */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-firstcol { margin-left: 0px !important; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-lastcol { margin-right: 0px !important; }

	/* Add margin from image-block to text (in case of "Text w/ images") */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap {
		margin-right: 10px !important;
	}
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap {
		margin-left: 10px !important;
	}

	/* Positioning of images: */

	/* Above */
	DIV.csc-textpic-above DIV.csc-textpic-text { clear: both; }

	/* Center (above or below) */
	DIV.csc-textpic-center { text-align: center; /* IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap { margin: 0 auto; }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image { text-align: left; /* Remove IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-text { text-align: left; /* Remove IE-hack */ }

	/* Right (above or below) */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap { float: right; }
	DIV.csc-textpic-right DIV.csc-textpic-text { clear: right; }

	/* Left (above or below) */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap { float: left; }
	DIV.csc-textpic-left DIV.csc-textpic-text { clear: left; }

	/* Left (in text) */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap { float: left; }

	/* Right (in text) */
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap { float: right; }

	/* Right (in text, no wrap around) */
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap { float: right; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-right-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */

	/* Left (in text, no wrap around) */
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap { float: left; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-left-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */
/* default styles for extension "tt_news" */
	


/*-----------------------------------  clearer  -----------------------------------*/
/* prevent floated images from overlapping the div-containers they are wrapped in  */

.news-list-container HR.clearer, .news-single-item HR.clearer, .news-latest-container HR.clearer{
	clear:right;
	height:1px;
	border:1px solid #F9FFE5;

}
.news-latest-container HR.clearer {
	clear:left;
}

/*-----------------------------------  tt_news LATEST view  -----------------------------------*/

.news-latest-container {
	border:1px solid #333;
	background-color:#BBE53A;
}

.news-latest-container H2,.news-latest-gotoarchive {
	color:#fff;
	padding:3px;
	margin:3px;
	border:1px solid #666;
	/*background-color:#D8FA70;*/
	background-color:#769024;
}

.news-latest-gotoarchive {
	font-weight:bold;
	margin-top:5px;
}
.news-latest-gotoarchive A:LINK, .news-latest-gotoarchive A:VISITED, .news-latest-gotoarchive A:HOVER {
	color:#fff;
}
.news-latest-gotoarchive A {
	color:#fff;
}
.news-latest-item {
	/* IE hack */
	height: 1%;
	line-height: 1.3;
	/* IE hack end */
	padding:3px;
	margin:3px;
	border:1px solid #666;
	background-color:#F9FFE5;
}

.news-latest-item IMG {

	margin-bottom:5px;
	margin-right:5px;
	border:1px solid #666;
	float:left;
}
.news-latest-category IMG {
	float: none;
	border:none;
	margin:0px;
}
.news-latest-date,.news-latest-morelink,.news-latest-category {
	font-size:9px;
}

.news-latest-morelink {
	height:12px;
}

.news-latest-morelink A {
	float:right;
}


/*--------------------------------- tt_news LIST view  -----------------------------------*/
.news-list-container {

	border:1px solid #000;
	background-color:#BBE53A;
}


.news-list-item {
	/* IE hack */
	height: 1%;
	line-height: 1.3;
	/* IE hack end */
	padding:3px;
	margin:3px;
	border:1px solid #666;
	background-color:#F9FFE5;

	}
.news-search-form {
	padding:3px;
	margin-bottom:5px;
	border:1px solid #666;
	background-color:#F9FFE5;

}
.news-search-emptyMsg{
	margin:0px;
}
.news-search-form FORM {
	margin:0px;
}
.news-list-container H3 {
	margin-bottom: 5px;
	padding: 2px;
	border-bottom: 1px solid #769024;
	background-color: #769024;
}
.news-list-container H3 A:LINK,.news-list-container H3 A:VISITED,.news-list-container H3 A:HOVER {
	color:#fff;
	padding-left:2px;
}
.news-list-container H3 A {
	color:#fff;

}
.news-list-container P {
	padding-left:3px;
}
.news-list-date {
	float: right;
	color: #3E551C;
	width: 180px;
	text-align: right;
	height: 20px;
	margin-top: -2px;
	margin-right: -2px;
	font-size: 9px;
	font-weight: normal;
	background-color: #F9FFE5;
	}

.news-list-imgcaption {
	float: right;
	padding-top:3px;
	padding-right:3px;
	font-size: 9px;

	}

.news-list-container IMG {

	float: right;
	border:1px solid #666;
	margin-bottom:5px;
	margin-right:2px;
	margin-left:5px;
}
.news-list-category IMG {
	float: none;
	border:none;
	margin:0px;
}

.news-list-morelink,.news-list-category {
	font-size:9px;
	margin-left:3px;
}
.news-list-morelink  {
	margin-bottom:3px;
}
.news-list-browse {
	text-align: center;
}



	/*---------------------------------  tt_news Page-Browser ---------------------------------*/
.tx-ttnews-browsebox, .browseBoxWrap {
	margin:3px;
	border:1px solid #666;
	padding:3px;
	background-color:#F9FFE5;
}

.tx-ttnews-browsebox TD {
	font-size: 10px;
}
.tx-ttnews-browsebox-strong, .tx-ttnews-browsebox-SCell {
	font-weight: bold;
}
.tx-ttnews-browsebox-SCell P,.tx-ttnews-browsebox TD P{
	margin:0px;
}

.tx-ttnews-browsebox-SCell {
	background-color: #BBE53A;
	border:1px solid #666;
}
.news-search-emptyMsg {
	font-size: 11px;
	margin-left: 10px;
}
	/*--------------------------------- tt_news SINGLE view  ---------------------------------*/
.news-single-item {
	padding:5px;
	margin-bottom:5px;
	border:1px solid #666;
	background-color:#F9FFE5;

}
.news-single-item H2 {
	font-size: 16px;
	font-weight:bold;
	color: #85A600;
	margin-bottom: 0px;
}
.news-single-item H3 {
	margin-bottom: 15px;
}



.news-single-img {
	float: right;
	margin-left:5px;

}



.news-single-imgcaption {
	padding:3px;
	clear:both;
}

.news-single-category {

	float: right;
}
.news-single-backlink, .news-single-backlink a {
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 15px;
	margin-top: 10px;
}
.news-single-timedata {
	float: right;
}
.news-single-timedata, .news-single-author,.news-single-imgcaption {
	font-size: 9px;
}
.news-single-author {
	padding-bottom: 3px;
}
.news-single-additional-info {
	background-color: #BBE53A;
/*	clear: both;*/
	margin-top: 15px;
	border: 1px solid #666;
	padding:3px;
	padding-bottom:0px;

}
.news-single-related,.news-single-files,.news-single-links  {
	border: 1px solid #666;
	margin:0px;
	margin-bottom: 3px;
	padding:3px;
	background-color:#F9FFE5;
}

.news-single-related DD, .news-single-links DD, .news-single-files DD {
	margin-left:20px;
}

.news-single-related DT, .news-single-links DT, .news-single-files DT {
	font-weight: bold;
	font-size: 11px;
	margin-left:5px;
	width:90%;
}

/*--------------------------------- tt_news Archivemenu (AMENU) --------------------------------- */
.news-amenu-container {
	margin-top:10px;
	padding:3px;
	border:1px solid #333;
	background-color:#BBE53A;
}
.news-amenu-container LI {
	padding-bottom:1px;
}
.news-amenu-container UL {
	padding:3px;
	margin-top:5px;
	margin-left:0px;
	margin-bottom:0px;
	border:1px solid #666;
	background-color:#F9FFE5;
	list-style-type: none;
}
.news-amenu-container H2 {
	color:#fff;
	padding:3px;
	border:1px solid #666;
	background-color:#769024;
}
.news-amenu-item-year {
	font-weight: bold;
	border: 1px solid #666;
	padding: 2px;
	background-color: #769024;
	color:#fff;
}

/*--------------------------------- tt_news Categorymenu (CATMENU) --------------------------------- */


.news-catmenu  {
	padding:5px;
	margin:10px 0px 10px 10px;
	border:1px solid #666;
	background-color:#F9FFE5;
}
.news-catmenu-header {
	font-size:11px;
	font-weight:bold;
}
.news-catmenu DIV {
	font-size:10px;
	white-space: nowrap;
}
.news-catmenu DIV img, .news-catmenu img, .news-catmenu-header img {
	margin:0px;
	padding: 0px;
	vertical-align: middle;
}
.news-catmenu-ACT {
	font-weight:bold;
}

/*  Styles for catmenu mode "nestedWraps" */
.level1 {
	padding:1px;
	padding-left:10px;
	background-color:#ebf8bf;
	border-left:1px solid #666;
	border-top:1px solid #666;
}
.level2 {
	padding:1px;
	padding-left:10px;
	background-color:#ddf393;
	border-left:1px solid #666;
}
.level3 {
	padding:1px;
	padding-left:10px;
	background-color:#cae46e;
	border-left:1px solid #666;
	border-top:1px solid #666;

}
.level4 {
	padding:1px;
	padding-left:10px;
	background-color:#b0cb51;
	border-left:1px solid #666;
}


/* default styles for extension "tx_meta_feedit_pi1" */

						/* CSS META_FEEDIT */
						
						/* Dynamic Tab menu (template.php) */
						DIV.typo3-dyntabmenu-tabs { margin-top: 5px; padding-right: 20px; }
						DIV.typo3-dyntabmenu-divs P.c-descr { font-style : italic; padding: 3px 10px 5px 10px; background: #e7dba8;  }
						TABLE.typo3-dyntabmenu TD.tabact {color: #FFFFFF; border: solid black 1px; background: #CCCCCC; }
						TABLE.typo3-dyntabmenu TD.tab { color:#CCCCCC; border: solid #555 1px;  background: #FFFFFF; }
						TABLE.typo3-dyntabmenu TD.tab_over, TABLE.typo3-dyntabmenu TD.tabact_over, TABLE.typo3-dyntabmenu TD.disabled_over { color:#000; border: solid #555 1px;  background: #EEEEEE; }
						TABLE.typo3-dyntabmenu TD.disabled { color:#000000; border: solid #555 1px;  background: #FFFFFF; }
						TABLE.typo3-dyntabmenu TD.tab_over, TABLE.typo3-dyntabmenu TD.tabact_over, TABLE.typo3-dyntabmenu TD.disabled_over { color:#000; border: solid #555 1px;  background: #EEEEEE; }
						TABLE.typo3-dyntabmenu TD.tab, TABLE.typo3-dyntabmenu TD.tabact, TABLE.typo3-dyntabmenu TD.disabled, TABLE.typo3-dyntabmenu TD.tab_over, TABLE.typo3-dyntabmenu TD.tabact_over, TABLE.typo3-dyntabmenu TD.disabled_over  { border-radius: 3px; -moz-border-radius: 3px; border-bottom: 0px; }
						TABLE.typo3-dyntabmenu TD A { color:#CCCCCC; text-decoration:none; display: block; width:100%; padding:2px; padding-left:5px; padding-right:5px; }
						TABLE.typo3-dyntabmenu TD.tabact A, TABLE.typo3-dyntabmenu TD.tab_over A { font-weight:bolder; color:#000000;}
						
						.tx-metafeedit-error {
						font-size: 14x;
                                                margin:5px;
                                                width:99%;
                                                background-color: #B46453;
						font-weight: bold;
						color:#990000;
                                                padding:0em;
                                                align:left;
                                                outline: Black thick;
                                                margin-right:10px;
						}

.tx-metafeedit-form-field {
						font-size: 12px;
						margin:5px;
						width:97%;
						background-color: #EFEFEF;
						padding:5px;
						align:left;
						outline: Black thick;
						margin-right:10px;
						}

.tx-metafeedit-form-field INPUT{
							width:90%;
						}
.tx-metafeedit-blog-itemwrap {
						margin:5px;
						width:97%;
						background-color: #9F9F9F;
						padding:5px;
						text-align:left;
}
.tx-metafeedit-blog_label {
						text-align:left;
            float :left;
            width:10em;

}

.tx-metafeedit-blog_field {
						font-size: 12px;
						margin:5px;
						width:97%;
						background-color: #EFEFEF;
						padding:5px;
						text-align:left;
						outline: Black thick;
						margin-right:10px;
						}


						/*.tx-metafeedit-form-data {
						width:90%;
						}   removed to reactivate input size CBY */
.tx-metafeedit-form-button-date INPUT {
						width:5%!important;
						}
.tx-metafeedit-form-field TEXTAREA {
						width:98%;
						}
.tx-metafeedit-preview-value {
						font-size: 12px;
						margin:5px;
						width:97%;
						background-color: #EFEFEF;
						padding:5px;
						outline: Black thick;
						margin-right: 10px;
						}
						
.tx-metafeedit-form-error-field {
						font-size: 14px;
						font-family: Verdana, Arial, Helvetica, sans-serif;
						font-weight: bold;
							color:#990000;
						}
.tx-metafeedit-header {
						font-size: 14px;
						font-family: Verdana, Arial, Helvetica, sans-serif;
						font-weight: bold;
							color:#990000;
						}
.tx-metafeedit-form-label {
						font-size: 14px;
						font-family: Verdana, Arial, Helvetica, sans-serif;
						font-weight: bold;
							color:#FFFFFF;
						width:100%;
						background-color: #CCCCCC;
						}
.tx-metafeedit-preview-label {
						font-size: 14px;
						font-family: Verdana, Arial, Helvetica, sans-serif;
						font-weight: bold;
							color:#FFFFFF;
						width:100%;
						background-color: #CCCCCC;
						}
.tx-metafeedit-link {
						font-size: 14px;
						font-family: Verdana, Arial, Helvetica, sans-serif;
						font-weight: bold;
							color:#990000;
						}
						
.tx-metafeedit-editmenu-list {
						font-size: 14px;
						font-family: Verdana, Arial, Helvetica, sans-serif;
						font-weight: bold;
							color:#990000;
						}
						
.tx-metafeedit-editmenu-list  A{
						font-size: 14px;
						font-family: Verdana, Arial, Helvetica, sans-serif;
						font-weight: bold;
							color:#990000;
						}
.tx-metafeedit-lettersearch { 
							float:left; 
							width:1.5em; 
						}

.tx-metafeedit-editmenu-list-table {
							clear:left;
							width:100%;
						}
.tx-metafeedit-editmenu-list-table-header{
						 background-color:#CCCCCC;
						 text-align:left;
						 font-size: 14px;
						font-family: Verdana, Arial, Helvetica, sans-serif;
						font-weight: bold;
							color:#FFFFFF;
						}
.tx-metafeedit-form-required-message {
						font-size: 14px;
						font-family: Verdana, Arial, Helvetica, sans-serif;
						font-weight: bold;
							color:#990000;
						}

.tx-metafeedit-preview-row {
						 background-color:#EEEEEE;
						text-align:left;
						 font-size: 10px;
						font-family: Verdana, Arial, Helvetica, sans-serif;
						color:#000000;
						}
						
.tx-metafeedit-editmenu-list-table-row{
						 background-color:#EEEEEE;
						text-align:left !important;
						 font-size: 10px;
						font-family: Verdana, Arial, Helvetica, sans-serif;
						color:#000000;
						}
.tx-metafeedit-editmenu-list a {
						color:#666666;
							font-family: Verdana, Arial, Helvetica, sans-serif;
							font-weight: bold;
							font-size: 14px;
							text-decoration:none;
						
						}
.tx-metafeedit-editmenu-list a:visited{
						color:#666666;
							font-family: Verdana, Arial, Helvetica, sans-serif;
							font-weight: bold;
							font-size: 14px;
							text-decoration:none;
						
						}						
.tx-metafeedit-editmenu-list a:hover{
							color:#990000;
							font-family: Verdana, Arial, Helvetica, sans-serif;
							font-weight: bold;
							font-size: 14px;
							text-decoration:underline;
						}
.tx-metafeedit-list_field a img { border:0;}
.tx-metafeedit-preview-value a img  { border:0;}

.tx-metafeedit-searchbox form	{
 padding-left:1.5em;
 background-image: url("loupe_petit.jpg");
 background-repeat: no-repeat; background-position: 0% 0em; 
}	
.tx-metafeedit-link-edit a,.tx-metafeedit-link-edit a{
 line-height:2.5em;
 padding-top:1.6em;
 padding-bottom:1.6em;
 padding-left:1.8em;
 background-image: url("edit_petit.jpg");
 background-repeat: no-repeat; background-position: 0% 60%; 
}
.tx-metafeedit-link-csv a{
 line-height:2.5em;
 padding-top:1.6em;
 padding-bottom:1.6em;
 padding-left:1.8em;
 background-image: url("http://www.granville.cci.fr/typo3conf/ext/meta_feedit/res/csv_petit.jpg");
 background-repeat: no-repeat; background-position: 0% 60%;
}
.tx-metafeedit-link-html a{
 line-height:2.5em;
 padding-top:1.6em;
 padding-bottom:1.6em;
 padding-left:1.8em;
 background-image: url("http://www.granville.cci.fr/typo3conf/ext/meta_feedit/res/html_petit.jpg");
 background-repeat: no-repeat; background-position: 0% 60%;
}

.tx-metafeedit-link-xls a{
 line-height:2.5em;
 padding-top:1.6em;
 padding-bottom:1.6em;
 padding-left:1.8em;
 background-image: url("http://www.granville.cci.fr/typo3conf/ext/meta_feedit/res/xls_petit.jpg");
 background-repeat: no-repeat; background-position: 0% 60%; 
}
.tx-metafeedit-link-consult a,.tx-metafeedit-link-consult a{
 line-height:2.5em;
 padding-top:1.6em;
 padding-bottom:1.6em;
 padding-left:1.8em;
 background-image: url("loupe_petit.jpg");
 background-repeat: no-repeat; background-position: 0% 60%; 
}

.tx-metafeedit-link-create a,.tx-metafeedit-link-create a{
 line-height:6em;
 padding-top:1.6em;
 padding-bottom:1.6em;
 padding-left: 5em;
 background-image: url("baguette_petit.jpg");
 background-repeat: no-repeat; background-position: 0% 60%; 
}

.tx-metafeedit-link-delete a,.tx-metafeedit-link-delete a{
 /*line-height:6em;
 padding-top:1.6em;
 padding-bottom:1.6em;
 padding-left: 5em;
 */
 line-height:2.5em;
 padding-top:1.6em;
 padding-bottom:1.6em;
padding-left:1.8em;
 background-image: url("poubelle_petit.jpg");
 background-repeat: no-repeat; background-position: 0% 60%; 
}

.tx-metafeedit-list_table_field img {border:0;}

.tx-metafeedit-editmenu-list-table-row {
width:25%;
vertical-align:top;
}

.tx-metafeedit-link-delete-list a{
 line-height:2.5em;
 padding-left:1.8em;
 padding-top:5px;
 padding-bottom:5px;
 valign:bottom;
 background-image: url("poubelle_petit.jpg");
}
.tx-metafeedit-link-back a,.tx-metafeedit-link-back a{
 line-height:6em;
 padding-top:1.6em;
 padding-bottom:1.6em;
 padding-left: 5em;
 background-image: url("retour_petit.jpg");
 background-repeat: no-repeat; background-position: 0% 45%; 
}

.tx-metafeedit-form-error-field {
 padding-left:1.5em;
 background-image: url("http://www.granville.cci.fr/typo3conf/ext/meta_feedit/res/drapeau_petit");
 background-repeat: no-repeat; background-position: 0% 45%; 
}
.tx-metafeedit-form-required-message {
 padding-left:1.5em;
 background-image: url("http://www.granville.cci.fr/typo3conf/ext/meta_feedit/res/drapeau_petit");
 background-repeat: no-repeat; background-position: 0% 45%; 
}

.tx-metafeedit-list_table_field_image {height:65px;}

.tx-metafeedit-actions {
padding-top:1em;
display:block;
height:100%; 
vertical-align:bottom;
}

.tx-metafeedit-link-delete-ok a{ 
 line-height:6em;
 padding-top:1.6em;
 padding-bottom:1.6em;
 padding-left: 6em;
 background-image: url("ok_petit.jpg");
 background-repeat: no-repeat; background-position: 0% 45%; 
}

.tx-metafeedit-link a{
							color:#666666;
							font-size:10px!important;
							font-family: Verdana, Arial, Helvetica, sans-serif;
							font-weight: bold;
							font-size: 14px;
							text-decoration:none;
						
						}
.tx-metafeedit-link a:visited{
							color:#666666;
							font-size:10px!important;
							font-family: Verdana, Arial, Helvetica, sans-serif;
							font-weight: bold;
							font-size: 14px;
							text-decoration:none;
						
						}
.tx-metafeedit-link-delete-ko a{
  line-height:6em;
 padding-top:1.6em;
 padding-bottom:1.6em;
 padding-left: 6em;
 background-image: url("ko_petit.jpg");
 background-repeat: no-repeat; background-position: 0% 45%; 
}

						.tx-metafeedit-editmenu-list-table {width:100%}
						.tx-metafeedit-list_table_field_username {
font-size: 10px;
						font-family: Verdana, Arial, Helvetica, sans-serif;
						font-weight: bold;
							color:#990000;
}
.tx-metafeedit-advancedSearch {
  clear:left;
}

.tx-metafeedit-calendarSearch {
clear:left;
}

.tx-metafeedit-advancedSearch-input {float:left;width:14em;}
.tx-metafeedit-advancedSearch-select {float:left;width:14em;}
.tx-metafeedit-advancedSearch-input input {float:left;width:14em;}
.tx-metafeedit-advancedSearch-select select {float:left;width:14em;}
.tx-metafeedit-advancedSearch-date {float:left;}
.tx-metafeedit-advancedSearch-radio {float:left;}
.tx-metafeedit-advancedSearch-check {float:left;}
.tx-metafeedit-advancedSearch-actions {clear:both;}
.tx-metafeedit-advancedSearch-action {float:left;}
.activeLinkWrap a{float:left; color:#000000!important; margin-left:0.6em;margin-right:0.6em; font-size:1.1em!important;}
.inactiveLinkWrap {float:left;margin-left:0.2em;margin-right:0.2em;}
.disabledLinkWrap {float:left;color:red;margin-left:0.2em;margin-right:0.2em;}

.tx-metafeedit-action {
	background-color: #ffffff;
	font-size: 12px;	
	color:#444444;
	font-weight:bold;	
	border: 0px;	
	text-decoration:none;
}


.tx-metafeedit-action-SAVE {/*Disposition du bouton SOUMETTRE*/
	/*background-image: url(/typo3conf/ext/meta_feedit/res/baguette_petit.jpg)!important;*/
	background-repeat : no-repeat;
	margin-left:25px;
	cursor:pointer;
	cursor:hand;
	width:100px;
	height:40px;
	/* float: left!important;
	margin-top:0px!important;
*/ Chris Bell ...
}


.tx-metafeedit-action-PUBLIER{ /*Disposition du bouton PUBLIER*/ 
	float: left!important;
	margin : 0px 0px 0px 0px!important;
	margin-left: 20px!important;
	margin-top:0px!important;
	position : top; /* to be removed Chris Bell*/
}


.tx-metafeedit-action-MESOFFRES {/*Disposition du bouton MES OFFRES*/
	float: left!important;
	margin-left: 20px!important;
}


.tx-metafeedit-action-BACK  {
	background-image: url(retour_petit.jpg)!important;
	background-repeat : no-repeat;
	clear:left!important;
	margin-left:25px;
	cursor:pointer;
	/*cursor:hand; Chris Bell*/
	width:100px;
	height:20px;	
}

.tx-metafeedit-action-DELETE{
	background-image: url(poubelle_petit.jpg)!important;
	background-repeat : no-repeat;
	margin-left:25px;
	cursor:pointer;
	/*cursor:hand; Chris Bell*/
	width:100px;
	height:40px;
}

.tx-metafeedit-action-NEW{
	background-image: url(baguette_petit.jpg)!important;
	background-repeat : no-repeat;
	margin-left:25px;
	cursor:pointer;
	/*cursor:hand; Chris Bell*/
	width:100px;
	height:40px;

}

/* Begin Calendar */
#metafeedit-calendar {
	empty-cells: show;
	margin: 10px auto 0;
	width: 155px;
        background-color: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 1em;	
}

#metafeedit-calendar caption {
background-color: #fff;
}

#metafeedit-calendar td {
background-color: #cccccc;
}

#metafeedit-calendar td a{
background-color: #999999;
	}
#metafeedit-calendar #today {
background-color: red;
	}



#metafeedit-calendar #next a {
	padding-right: 10px;
	text-align: right;
	}

#metafeedit-calendar #prev a {
	padding-left: 10px;
	text-align: left;
	}

#metafeedit-calendar a {
	display: block;
	}

#metafeedit-calendar caption {
	text-align: center;
	width: 100%;
	}

#metafeedit-calendar td {
	padding: 3px 0;
	text-align: center;
	}

#metafeedit-calendar td.pad:hover { /* Doesn't work in IE */
	background-color: #fff; }
/* End Calendar */




