#main-position .class-feedback-form {
  margin-left:10px;
}

#sidemenu h2{
   word-wrap    : break-word;
   overflow    : hidden;
}



a.quicklink , div#sidemenu a.quicklink, .left-column a.quicklink { /* liens de navigation interne et d'Úvitement */
	display : block;
	width 	: 1px;
	color	: blue;
	height 	: 0px;
	overflow: hidden;
	text-align:center;
}
	a.quicklink:focus, div#sidemenu a.quicklink:focus, .left-column a.quicklink:focus{
		display 			: block;
		overflow			: visible;
		width				: 100%;
		height				: 1.5em;
		font-size 			: 80%;
		background-color	: #FFF;
	}


input.button, input.defaultbutton
{
    border: 1px solid #94d0e1;
  /*  background-image: url(images/button_bg.jpg);*/
    background-repeat: repeat-x;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 11px;
    color: #005493;
    background-color: #ADDBEB;
}

input.button-disabled
{
    border: 1px solid #94d0e1;
 /*   background-image: url(images/disabled_button_bg.jpg);*/
    background-repeat: repeat-x;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 11px;
    color: #fff;
    background-color: #CFEFFC;
}

fieldset input.button-disabled
{
    margin-top:0.5em;
}


div#header
{
    padding: 0;
    height: 180px;
}


div#languages
{
    background-image: none;
    height: 23px;
}

div#languages a
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/languages_a_bg.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 1em;
    color: #465A5C;
    text-decoration: none;
    font-size: 10px;
}

div#links a
{
    font-size: 10px;
    font-weight: normal;
    text-decoration: none;
    border-left: none;
    color: #465A5C;

}


div#logo
{
	bottom:0;
	margin:0;
	position:absolute;
	right:0;
	top:20px;
}

#advancedsearch, #accessibility{
	position:absolute;
	top:-5000px;
}

input#searchtext
{
    padding: 1px 3px 1px 3px;
}

input#searchbutton
{
    border: 1px solid #333;
    background	: #000;
    color: #FFFFFF;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    cursor: pointer;
}



div#sidemenu h4
{
    font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}

div#sidemenu ul li a
{
    background-position:0.2em 0.5em;
    background-repeat:no-repeat;
    display:block;
    /*font-size:0.85em;*/
    padding-left:10px;
}


div#sidemenu ul.submenu-list li
{
    line-height: 1em;
}

/* div#sidemenu ul.submenu-list li a
{
    background-position:0.2em 0.5em;
    background-repeat:no-repeat;
    display:block;
    font-size:0.8em;
    padding-left:18px;
    color: #3f93bc;
} */

.haut_page a{
	background		: transparent url(bg.haut_page.gif) no-repeat left top;
	padding-left	: 20px;
	color			: #000;
	font-weight		: bold;
}

.haut_page a:hover{
	text-decoration		: underline;
}

div#footer
{   
	clear: both; /* Ensures that the footer is pushed properly below the columns */
    text-align: center;
    /*background: #006699;*/
	background	:#006699 url(bg.footer.png) repeat-y right top;
	color		: #FFF;
    font-size: 0.85em;
	height	: 21px;
}

	div#page.col1 div#footer{   
		background-image	: none;
	}

div#footer a
{
    color			: #fff;
    text-decoration	: none;
	font-weight		: bold;
}


div#footer p
{
    font-style:normal;
	line-height: 21px;
}

div#footer p img
{
    vertical-align	: middle;
}

.content-view-full h2{
	color		: #006699;
	font-size	: 1.5em;
}

/*multicalendar*/
.content-view-full h2.agenda{
	font-size		: 1.2em;
	padding			: 2px 2px 2px 25px;
	margin-top		: 10px;
	background		: #FFF url(bg.agenda_title.png) no-repeat 2px center;
	border-bottom	: 1px solid #DAEAED;
}
	.content-view-full h2.agenda a{
		color	: #0078C1;
	}

	.class-multicalendar table.list{
		margin	: 0px;
	}

.content-view-full h3{
	color		: #63c5e1;
	font-size	: 1.3em;
}

.content-view-full h4{
	color		: #1A1A1A;
	font-size	: 1.1em;
	font-weight	: normal;
}