div.quote
{
    background-image:url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/quote-tl.gif);
}

div.quote-design
{
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #515151;
    font-weight: normal;
    font-size: 17px;
    background-image:url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/quote-br.gif);
}

div.quote-design p.author
{
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #989C9B;
}

/* Separator */

div.separator
{
    display: block;
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/sep-bg.gif);
    background-repeat: no-repeat;
    padding-left: 15px;
    height: 1px;
    margin: 0 0 0.75em 0;
}

div.separator-design
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/sep-design-bg.gif);
    background-repeat: repeat-x;
    height: 1px;
}

/* Billboard */


 div.attribute-billboard
{
	left			: 0;
	background-image: none;
    padding			: 0px;
	position		: absolute;
	top				: 0px;
	z-index			: 1;
}


div.infobox-header h2
{
    font-size: 13px;
    font-weight: normal;
    margin: 5px 0px 6px;
    padding: 0 0 0 15px;
    color: #1E81B3;
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/infobox-header-dot.gif);
    background-position: left center;
    background-repeat: no-repeat;
}


/* Itemized sub items - unordered list */

div.itemized_sub_items div.content-view-embed ul li a
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/isi_bullet.gif);
}

/* Image attribute */

div.attribute-image
{
    padding: 3px;
    border: 1px solid #e3e7eb;
    background-color: #FFFFFF;
}

/* Header */

div.attribute-header h1
{
    /*font-size: 1.4em;
    font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
    background-image: none;
    padding-bottom: 0.25em;*/
}

div.attribute-header h1.long
{
    font-size: 1.4em;
    font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
    background-image: none;
}

div.user-edit div.attribute-header h1
{
   /* background-image: none;
    padding-bottom: 25px;*/
}

div.content-edit div.class-comment div.attribute-header h1.long, div.content-edit div.class-forum-topic div.attribute-header h1.long, div.content-edit div.class-forum-reply div.attribute-header h1.long, div.content-edit div.class-file div.attribute-header h1.long
{
    padding-bottom: 0;
}


/* Phototeque*/

.content-view-galleryline div.class-image div.attribute-image{}

#main-position div.content-view-full > div.class-image div.attribute-image{
	margin-left	: 25px;
    float		: none;
	text-align	: center;
}

div.content-view-full > div.class-image div.content-navigator, div.content-view-full > div.class-image div.attribute-caption, div.content-view-full > div.class-image div.attribute-image img {
	text-align	: center;
}



/* Form */

label, legend
{
    font-size: 12px;
    color: #005493;
    font-weight: normal;
    padding-bottom: 0.25em;
}

fieldset
{
    border: 1px solid #d4d4d4;
    /*background-image: url(images/input_box_bg.jpg);*/
    background-position: left top;
    background-repeat: repeat-x;
}

input.box, textarea.box, input.halfbox, div.element input
{
    border: 1px solid #d4d4d4;
   /* background-image: url(images/input_box_bg.jpg);*/
    background-position: left top;
    background-repeat: repeat-x;
}

div.date input, div.time input
{
    border: 1px solid #d4d4d4;
   /* background-image: url(images/input_box_bg.jpg);*/
    background-position: left top;
    background-repeat: repeat-x;
}

/* AGENDA */

#agenda{
	padding-left: 15px;
    background: url(bg.agenda.png) left center no-repeat;
	
}

div#ezagenda_calendar_container
{
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}


div#ezagenda_calendar_container table
{
    background-color: #FFF;
    margin: auto;
    text-align: left;
	border:	1px solid #000;
    font-size: 0.85em;
}

div#ezagenda_calendar_container table th
{
    font-weight: bold;
    text-align: center;
    height: 20px;
    border: 1px solid;
    border-color: #fefffc #dee0dd #dee0dd #fefffc;
    border-top: 0px;
}

div#ezagenda_calendar_container table td
{
    padding: 8px;
    border: 1px solid;
    border-color: #fefffc #dee0dd #dee0dd #fefffc;
    text-align: center;
}

div#ezagenda_calendar_container table .first_col
{
    border-left: 0px;
}

div#ezagenda_calendar_container table .last_col
{
    border-right: 0px;
}

div#ezagenda_calendar_container table  tr.calendar_heading th
{
    border: 0px;
    padding-bottom: 12px;
}

div#ezagenda_calendar_container table  tr.calendar_heading th a
{
    text-decoration: none;
}

div#ezagenda_calendar_container table td a{
    font-weight: bold;
}

div#ezagenda_calendar_container table td.ezagenda_selected, div#ezagenda_calendar_container table td.ezagenda_selected a
{
    background-color: #006699;
	color			: #FFF;
    font-weight		: bold;
}

 table td.ezagenda_current, table td.ezagenda_current a
{
    background-color: #3F8ABD;
    color			: #000;
    font-weight		: bold;
}

.event-calendar-programview .block .right
{
    text-align: right;
}


div.ezagenda_month_event{
	margin-bottom	: 10px;
	border-bottom	: 1px solid #CCCCCC;
	clear			: both;
	min-height		: 90px;
}

div.ezagenda_month_label {
    color		: #FFF;
    font-size	: 1.8em;
    font-weight	: normal;
    margin		: 0 10px 0 0;
    background	: #FFF url(date_bg.png) no-repeat  center bottom;
    text-align	: center;
	height		: 72px;
	padding		: 10px 0 0 0;
	width		: 64px;
	float		: left;
}

div.ezagenda_month_label span{
    display: block;
}

.ezagenda_month_event .attribute-short ul li, .class-event ul li{
list-style-type:disc;
}

div#ezagenda_calendar_today
{
    margin-top: 14px;
}

div#ezagenda_calendar_today, div#sidebar_calendar_today{
	background-color	: #FFF;
	border				: 1px solid #000;
	padding				: 2px;
}

div#ezagenda_calendar_today  h2, div#sidebar_calendar_today h2, div#ezagenda_calendar_right h2{
	font-family			: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
    font-size			: 1em;
    color				: #000000;
	background-color	: #F0F0F0;
	text-align			: center;
}

div#ezagenda_calendar_today div.ezagenda_day_event
{
    border: none;
    /*margin-bottom: 4px;*/
    /*padding: 7px;*/
}


span.ezagenda_keyword
{
    display: block;
    font-size: 90%;
    color: #888;
}

span.ezagenda_date
{
    display		: block;
	font-weight	: bold;
    color		: #224F67;
}

.folder-content span.ezagenda_date
{
    display			: block;
	font-weight		: bold;
    color			: #224F67;
	border-bottom	: 1px dashed #999;
	font-size		: 1.1em;
	padding-bottom	: 2px;
	margin-bottom	: 5px;
	text-align		: center;
}


div#ezagenda_calendar_container table td
{
    border-color: #ffffff #c2dbe8 #c2dbe8 #ffffff;
    color: #717274;
    padding: 6px;
}

div#ezagenda_calendar_container table th
{
    border-color: #ffffff #c2dbe8 #c2dbe8 #ffffff;
    font-weight: normal;
    color: #717274;
}

div#ezagenda_calendar_container table tr.last_row td
{
    border-bottom: none;
}

div#ezagenda_calendar_container table th.calendar_heading_date
{
    font-weight: bold;
    color: #c90238;
}

div#ezagenda_calendar_container table th.calendar_heading_prev a, div#ezagenda_calendar_container table th.calendar_heading_next a
{
    color: #017bdb;
	font-weight: bold;
	font-size: 130%;
}


div#ezagenda_calendar_today div.ezagenda_day_event h4
{
    font-size: 12px;
}

div#ezagenda_calendar_today div.ezagenda_day_event h4 a
{
    color: #3f8abd;
}

div#ezagenda_calendar_right table.ezagenda_month_event
{
    border: none;
}

div#ezagenda_calendar_right table.ezagenda_month_event td.ezagenda_month_label
{
    width: 74px;
    padding: 0;
}

div#ezagenda_calendar_right table.ezagenda_month_event td.ezagenda_month_info
{
    padding-top: 1.5em;
}

div#ezagenda_calendar_right table.ezagenda_month_event td.ezagenda_month_info h4
{
    color: #000000;
    font-size: 12px;
}

div#ezagenda_calendar_right table.ezagenda_month_event td.ezagenda_month_info h4 a
{
    color: #3f8abd;
}

div#ezagenda_calendar_right table.ezagenda_month_event td.ezagenda_month_label h2
{
    background: #FFF url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/ezagenda_month_label_bg.jpg) no-repeat scroll 2px 0px;
    width: 64px;
    height: 62px;
    border: none;
    margin-left: 0;
    padding: 1em 0 0 0;
    color: #FFFFFF;
    font-weight: normal;
}

div#ezagenda_calendar_right table.ezagenda_month_event td.ezagenda_month_label h2 span.ezagenda_month_label_date
{
    display: block;
    font-size: 22px;
}

div#ezagenda_calendar_today div.ezagenda_day_event
{
    padding	: 2px;
}


/* Calendar */

div.calendar
{
    background-color:#e1f4fa;
    width:195px;
}

div.calendar div.calendar-tl
{
    background:transparent url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/calendar-corner-tl.gif) no-repeat scroll left top;
}

div.calendar div.calendar-tr
{
    background:transparent url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/calendar-corner-tr.gif) no-repeat scroll right top;
}

div.calendar div.calendar-bl
{
    background:transparent url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/calendar-corner-bl.gif) no-repeat scroll left bottom;
}

div.calendar div.calendar-br
{
    background:transparent url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/calendar-corner-br.gif) no-repeat scroll right bottom;
    padding:6px;
}

div.calendar div.content
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/calendar-bg.gif);
    background-repeat: repeat-x;
    background-color: #fff;
    border:1px solid #cbe6f2;
}

div.calendar div.month a
{
    color: #017bdb;
    text-decoration:none;
}

div.calendar table
{
    width:100%;
    font-size: 12px;
}

div.calendar th, div.calendar td
{
    border-color:#FFFFFF #c2dbe8 #c2dbe8 #fff;
}

div.calendar td.currentselected
{
    background-color: #FFFFFF;
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/calendar_selected.jpg);
    background-repeat: repeat-x;
}

/* Sondage */

.module-poll h2{
	background		: url(bg.sondage.png) no-repeat left top;
}

.module-poll input.button{
	width	: 100%;
}

/* Vertically listed sub items */

div.vertically_listed_sub_items div.content-view-embed h2
{
    padding-left: 0.5em;
}

div.vertically_listed_sub_items div.content-view-embed div.content-view-children div.separator
{
    display: block;
    margin: 0.75em 0 0.75em 0;
}

div.vertically_listed_sub_items div.content-view-embed div.content-view-line h2 a
{
    /*border-bottom: 1px dotted #d03030;*/
}

/* Horizontally listed sub items */

div.horizontally_listed_sub_items div.content-view-embed h2
{
    padding-left: 0.5em;
    padding-top: 0;
}

div.horizontally_listed_sub_items div.content-view-horizontallylistedsubitems div.class-image
{
    padding-top: 1em;
}

div.horizontally_listed_sub_items div.content-view-embed div.content-view-horizontallylistedsubitems div.content-image
{
    width: 130px;
    padding: 3px;
    border: 1px solid #e3e7eb;
    background-color: #FFFFFF;
}

div.content-view-horizontallylistedsubitems div.class-image div.caption
{
    text-align: left;
}

div.content-view-horizontallylistedsubitems div.class-image div.caption a
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/loupe-ico.gif);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

/* Highlighted object */

div.highlighted_object
{
    background-image: none;
    padding-bottom: 0;
}

/* Tables */

table.list
{
    font-size: 11px;
}

table.list th, table.cols th, table.comparison th, table.renderedtable th
{
    background-color: #DAEAED;
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/th_bg.jpg);
    background-position:left top;
    background-repeat:repeat-x;
    border-top:1px solid #fff;
    color:#342e15;
    font-weight:bold;
    text-align:left;
    white-space:nowrap;
    height: 29px;
}

/* table.list th, table.list td 
{
    border-bottom:1px solid #fff;
    border-right:1px solid #fff;
    padding:0.5em;
    vertical-align:top;
} */

/* table.list th:first-child, table.list td:first-child
{
    border-left:1px solid #fff;
}
 */
table.list tr.bglight, table.cols col.bglight, table.comparison col.bglight, table.renderedtable tr.bglight
{
    background-color: #f3fafc;
}

table.list tr.bgdark, table.cols col.bgdark, table.comparison col.bgdark, table.renderedtable tr.bgdark
{
    background-color: #e5f1f5;
}

table.renderedtable tr.bglight:hover, table.renderedtable tr.bgdark:hover
{
    background-color: #e5f1f5;
}

table.renderedtable tr.bglight:hover td, table.renderedtable tr.bgdark:hover td
{
    background-color: #e5f1f5;
}

table.cols tr.bglight:hover, table.cols tr.bgdark:hover
{
    background-color: #e5f1f5;
}

table.cols tr.bglight:hover td, table.cols tr.bgdark:hover td
{
    background-color: #e5f1f5;
}

table.comparison tr.bglight:hover, table.comparison tr.bgdark:hover
{
    background-color: #e5f1f5;
}

table.comparison tr.bglight:hover td, table.comparison tr.bgdark:hover td
{
    background-color: #e5f1f5;
}


/* Factbox */

div.factbox-header
{
    margin-bottom: 0;
}

div.factbox-header h2
{
    margin: 1px 0px 0px 0px;
    padding: 0;
    font-size: 14px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #367fb7;
    font-weight: normal;
}

div.factbox-header div.border-tl
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/factbox-header-border-tl.gif);
}

div.factbox-header div.border-tr
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/factbox-header-border-tr.gif);
}

div.factbox-header div.border-tc
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/factbox-header-border-tc.gif);
}

div.factbox-header div.border-ml
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/factbox-header-border-ml.gif);
}

div.factbox-header div.border-mr
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/factbox-header-border-mr.gif);
}

div.factbox-header div.border-mc
{
    background: #DFF3FA url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/factbox-header-border-mc.gif) repeat-x top left;
    padding: 1px 4px 0 4px;
}

div.factbox-header div.border-bl
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/factbox-header-border-bl.gif);
}

div.factbox-header div.border-br
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/factbox-header-border-br.gif);
}

div.factbox-header div.border-bc
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/factbox-header-border-bc.gif);
}

div.factbox-header div.box-content
{
    padding: 10px 5px 5px 5px;
    border-top: 1px solid #cbe5f1;
    border-left: 1px solid #e0eff5;
    border-right: 1px solid #e0eff5;
    border-bottom: none;
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/factbox-box-content.gif);
    background-position: left top;
    background-repeat: repeat-x;
    background-color: #FFFFFF;
}

/* factbox */

div.factbox-content div.attribute-image
{
    margin: 0.5em 0.5em 0.5em 0;
    float: left;
}

div.factbox-content div.border-tl
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/factbox-border-tl.gif);
}

div.factbox-content div.border-tr
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/factbox-border-tr.gif);
}

div.factbox-content div.border-tc
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/factbox-border-tc.gif);
}

div.factbox-content div.border-ml
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/factbox-border-ml.gif);
}

div.factbox-content div.border-mr
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/factbox-border-mr.gif);
}

div.factbox-content div.border-mc
{
    background: #e1f4fa;
    padding: 0px 4px 1px 4px;
}

div.factbox-content div.border-bl
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/factbox-border-bl.gif);
}

div.factbox-content div.border-br
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/factbox-border-br.gif);
}

div.factbox-content div.border-bc
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/factbox-border-bc.gif);
}

div.factbox-content div.box-content
{
    padding: 10px 5px 5px 5px;
    border-top: none;
    border-left: 1px solid #e0eff5;
    border-right: 1px solid #e0eff5;
    border-bottom: 1px solid #e0eff5;
    background-color: #FFFFFF;
}

/* PRODUCT - Productbox-header */

div.productbox-header
{
    margin-bottom: 0;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

div.productbox-header div.attribute-image
{
    border: none;
}
div.productbox-header div.border-tl
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/productbox-header-border-tl.gif);
}

div.productbox-header div.border-tr
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/productbox-header-border-tr.gif);
}

div.productbox-header div.border-tc
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/productbox-header-border-tc.gif);
}

div.productbox-header div.border-ml
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/productbox-header-border-ml.gif);
}

div.productbox-header div.border-mr
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/productbox-header-border-mr.gif);
}

div.productbox-header div.border-mc
{
    background: #fff;
    text-align: center;
}

div.productbox-header div.border-bl
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/productbox-header-border-bl.gif);
}

div.productbox-header div.border-br
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/productbox-header-border-br.gif);
}

div.productbox-header div.border-bc
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/productbox-header-border-bc.gif);
}

/* Forums */

div.content-view-line div.class-forum table.forum
{
    background-image: none;
    padding-bottom: 0;
}

div.content-view-line div.class-forum table.forum td ul
{
    margin-left: 1.25em;
    padding: 0;
}

div.content-view-line div.class-forum table.forum td ul li
{
    margin: 0;
    padding: 0 0 0 10px;
}

div.content-view-line div.class-forum table.forum td ul li a
{
    font-weight: normal;
}

div.content-view-line div.class-forum table.forum th
{
    background-color: #DAEAED;
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/th_bg.jpg);
    background-position:left top;
    background-repeat:repeat-x;
    border-top:1px solid #fff;
    color:#342e15;
    font-weight:bold;
    text-align:left;
    white-space:nowrap;
    height: 29px;
}

div.content-view-line div.class-forum table.forum td
{
    background-color: #F3FAFC;
}

div.content-view-full div.class-forums table.forum
{
    background-image: none;
    padding-bottom: 0;
}

div.content-view-full div.class-forums table.forum th
{
    background-color: #DAEAED;
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/th_bg.jpg);
    background-position:left top;
    background-repeat:repeat-x;
    border-top:1px solid #fff;
    color:#342e15;
    font-weight:bold;
    text-align:left;
    white-space:nowrap;
    height: 29px;
}

div.content-view-full div.class-forums table.forum td
{
    background-color: #e5f1f5;
}

div.content-view-full div.class-article div.attribute-byline
{
    background-image: none;
    display:block;
    padding-bottom:20px;
}

div.content-view-full div.attribute-byline p.author
{
    color: #676767;
    font-size: 0.85em;
}

div.content-view-full div.attribute-byline p.date
{
    color: #3f8abd;
    font-size: 0.85em;
}

/* Blogs */
div.content-view-line div.class-blog-post div.attribute-byline p.author, div.content-view-full div.class-blog-post div.attribute-byline p.author
{
    color: #676767;
    font-size: 0.85em;
}

div.content-view-line div.class-blog-post div.attribute-byline p.date, div.content-view-full div.class-blog-post div.attribute-byline p.date
{
    border-right: 1px solid #000;
    padding-right: 5px;
    color: #3f8abd;
    font-size: 0.85em;
}

div.content-view-line div.class-blog-post div.attribute-comments a
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/comment-ico.gif);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 16px;
}

/* Article */

div.content-view-full div.class-article div.attribute-byline p.author
{
    border-right: 1px solid #000;
}

div.content-view-full div.class-article div.attribute-byline p.date
{

}

div.content-view-full div.class-article div.attribute-long
{
    background-image: none;
    padding-bottom:20px;
}

/* Tip a friend */

div.attribute-tipafriend
{
    margin-top: 20px;
    background-image: none;
}

/* Comment */

div.content-view-line div.class-comment div.attribute-byline p.date
{
    border: none;
}

div.content-view-line div.class-comment div.attribute-byline p.author
{
    border-right: none;
}

div.content-view-full div.class-article div.attribute-byline
{
    padding-bottom: 5px;
}

/* Site map */

div.content-view-sitemap ul li
{
    background-image:url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/ul_bullet.gif);
}

/* Caption */
div.content-view-full div.attribute-image div.caption
{
    background-color:#DFEEF5;
}


div.message-confirmation, div.message-feedback, div.message-warning, div.message-error, div.warning {
background-color:#FFFFFF;
border:1px solid #BCDCEA;
padding:0 10px;
}

div.kernel
{
    width : 590px;
	margin	: 0 190px 0 180px;
}

div.message-feedback
{
    border-color:#BCDCEA;
}

div.message-warning, div.warning
{
    border-color:#BCDCEA;
}

div.message-error
{
    border-color:#BCDCEA;
}

/* DATE PICKER: START */

.datepicker-icon
{
    padding-top: 9px;
    margin-bottom: -2px;
}

.yui-calcontainer
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/calcontainer-bg.png);
    background-position: left top;
    background-repeat: repeat-x;
    border: 1px solid #c7e5ee;
    background-color: #FFFFFF;
    font-size: 0.75em;
}

.yui-calcontainer .calclose
{
    background: transparent url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/calx.gif) no-repeat scroll 0%;
    margin-right: 0.5em;
    margin-top: 0.25em;
    width: 6px;
    height: 5px;
}

.yui-calendar .calhead
{
    border: 1px solid #d0e8f4;
}

.yui-calendar .calnavleft
{
    background: transparent url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/callt.gif) no-repeat left center;
}

.yui-calendar .calnavright
{
    background: transparent url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/calrt.gif) no-repeat right center;
}

.yui-calendar td.calcell a
{
    color:#717274;
    text-decoration:none;
}

.yui-calendar td.today a
{
    color: #ff0000;
}

.yui-calendar td.calcell
{
    border-right: 1px solid #c2dbe8;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #cde6f3;
}

.yui-calendar td.calcell.today
{
    border-right: 1px solid #c2dbe8;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #cde6f3;
}

.yui-calendar td.calcell.oom
{
    border-right: 1px solid #c2dbe8;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #cde6f3;
    background-color: #e8f3fa;
}

.yui-calendar td.calcellright
{
    border-right: none;
}

.yui-calendar td.calcell.oom.calcellright
{
    border-right: none;
}

.yui-calendar td.calcellbottom
{
    border-bottom: none;
}

.yui-calendar td.calcell.oom.calcellbottom
{
    border-bottom: none;
}

.yui-calendar td.calcell.calcellhover
{
    background-color:#ffffff;
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/stylesheets/images/calcell-hover.png);
    background-position: center top;
    background-repeat: repeat-x;
    border:none;
    cursor:pointer;
}

.yui-calendar td.calcell.calcellhover a
{
    color:#717274;
}

/* DATE PICKER: END */

/*Formulaire et jeu concours*/

/*
div.class-feedback-form form h4
{
    margin-top: 0.5em;
    font-size: 12px;
    color: #005493;
    font-weight: normal;
    margin-bottom: 0.25em;
}
*/

div.class-feedback-form div.content-action
{
    margin-top: 0.5em;
}

.class-feedback-form .sender {
	border	: 1px solid #CCC;
	margin	: 5px 0;
	padding	: 25px;
}

.jeu_concours .questions, .jeu_concours .civilite {
	border	: 1px solid #b1ca00;
	margin	: 5px 0;
	padding	: 20px;
}

.class-feedback-form .questions{
margin-bottom	: 15px;
}

.class-feedback-form .questions label {
	padding-left	: 20px;
	background		: url(bg.label.gif) left top no-repeat;
	font-weight		: bold;
}

.class-feedback-form .questions textarea, .class-feedback-form .civilite input, .class-feedback-form .civilite textarea {
	margin-bottom	: 15px;
}

.formulaire-form{
	padding:0 10px;
	width:609px;
}

.formulaire-form .content-view-full{
	padding	: 0 50px;
}

.jeu_concours .content-view-full {
	padding	: 0 25px;
}

.formulaire-form .content-view-full ul{
	margin-left		: 0;
	margin-right	: 0;
}

.formulaire-form .content-view-full li{
	margin-left		: 0;
	margin-right	: 0;
	padding-left	: 0;
	padding-right	: 0;
}

form#feedbackform-fields{
	
}

#form-desc-ul ul{
	
}

.collectedinfo{
	background:transparent url(bg.subpage.png) repeat-x left top;
	border:1px solid #8D9CA7;
	margin:10px 8px 0;
	padding:5px;
	width:600px
}

/*Video FLV */

.attribute-video, .content-media {
	text-align	: center;
	margin		: 10px 0;
}