﻿/* CSS Document */
.ds_box {
	background-color: #FFF;
	border: 1px solid #000;
	position: absolute;
	z-index: 32767;
}

.ds_tbl {
	background-color: #FFF;
}

.ds_head {
	background-color: #32457B;
	/*background-image: url(img/bg_degrade_calendrier.gif);
	background-repeat: repeat-y;*/
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
}

.ds_subhead {
	background-color: #CCC;
	color: #000;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	width: 20px;
}

.ds_cell {
	background-color: #EEE;
	color: #000;
	font-size: 11px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding: 3px;
	cursor: pointer;
}

.jourCourant {
	background-color: #AD1B4A;
	color: #FFF;
	font-size: 11px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding: 3px;
	cursor: pointer;
}


.ds_cell:hover {
	background-color: #F3F3F3;
}
