/* CSS Document */

/****************************/
/*         CONTENU          */
/****************************/

div#contenu div#colGauche {
	float: left;
	/*width: 55%;*/
	width: 562px;
}

div#contenu div#colGauche div#tabloHoraires {
	background: url(bg_tablo_horaires.gif) repeat-y;
	padding: 15px 0px 15px 15px;
	height: 225px;
}
div#contenu div#colGauche div#tabloHoraires table.tabloHoraires {
	width: 100%;
	height: 187px;
}
div#contenu div#colGauche div#tabloHoraires th {
	background-color: #31467c;
	color: #FFFFFF;
	font-weight: normal; 
	padding: 4px 8px;
	border-bottom: solid 1px #ffffff;
	font-size: 0.8em;
	vertical-align: top;
}
div#contenu div#colGauche div#tabloHoraires th.onglet {
	background: #31467c url(bg_th.gif) no-repeat;
	border-bottom: solid 1px #ad1b4a;
	text-align: left;
	vertical-align: middle;
	padding: 0px 8px;
}
#contenu div#colGauche div#tabloHoraires th.onglet a {
	display: block;
	color: #ffffff;
	background: url(pic_of.gif) no-repeat 0px 3px;
	text-decoration: none;
	padding-left: 14px;
}
div#contenu div#colGauche div#tabloHoraires th.ongletOn {
	background: #FFFFFF url(bg_th.gif) no-repeat;
	border-bottom: solid 1px #ad1b4a;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	padding: 0px 8px;
}
div#contenu div#colGauche div#tabloHoraires th.ongletOn a {
	display: block;
	color: #23376a;
	background: url(pic_on.gif) no-repeat 0px 3px;
	text-decoration: none;
	padding-left: 14px;
}

div#contenu div#colGauche div#tabloHoraires th.rechDate {
	background: #31467c  url(pic_loupe.gif) no-repeat;
	text-align: left;
	padding-left: 20px;
	border-bottom: solid 1px #31467c;
	width: 137px;
}
div#contenu div#colGauche div#tabloHoraires th.rechDateOn {
	background: #fff  url(pic_loupe_on.gif) no-repeat;
	text-align: left;
	color:#31467c ;
	padding-left: 20px;
	border-bottom: solid 1px #31467c;
	width: 137px;
}


div#contenu div#colGauche div#tabloHoraires table#horaires.horaires {
	border-right: solid 1px #8da0d3;
	border-bottom: solid 1px #8da0d3;
	width: 100%;
}

div#contenu div#colGauche div#tabloHoraires table#horaires th {
	padding: 8px;
	vertical-align:middle;
}
div#contenu div#colGauche div#tabloHoraires table#horaires td {
	color: #1e3b70;
	background-color: #ffffff;
	border-bottom: solid 1px #ffffff;
	font-size: 0.8em; 
	padding: 4px 8px;
	text-align: center;
}
div#contenu div#colGauche div#tabloHoraires table#horaires td a{
	color: #1e3b70;

}
div#contenu div#colGauche div#tabloHoraires table#horaires td.bleu {
	background-color: #d8e1f9;
}


/* formulaire de recherche de date */
div#contenu div#colGauche div#tabloHoraires th form input {
	background: #d5dde8 url(calendrier.gif) no-repeat right;
	width:100px;
}
div#contenu div#colGauche div#tabloHoraires th form input.bouton {
	background: url(bg_OK.png) no-repeat;
	width: 19px;
	height: 19px;
	color: #31467c;
	font-size: 0.7em;
	cursor:pointer; 
}


/* vols suivants - vols précédents */
div#contenu div#colGauche div#tabloHoraires a#suivant, div#contenu div#colGauche div#tabloHoraires a#precedent {
	display: block;
	width: 80px; height: 18px;
	color: #31467c;
	float: right;
	font-size: 0.7em;
	text-decoration: none;
}
div#contenu div#colGauche div#tabloHoraires a#suivant {
	background: url(bg_volSuivant.gif) no-repeat right;
	text-align: right;
	padding: 2px 20px 0px 0px;
	margin: 8px 0px 0px 8px;
}
div#contenu div#colGauche div#tabloHoraires a#precedent {
	background: url(bg_volPrecedent.gif) no-repeat left;
	text-align: left;
	padding: 0px 0px 0px 20px;
	margin: 8px 8px 0px 0px;
}


/* Informations Accueil Passagers */
div#contenu div#colGauche div#infos{
	margin: 12px 0px 0px 0px;
}
div#contenu div#colGauche div#infos div#accueil {
	width: 180px;
	height: 165px;
	float: left;
	background: #ad1b4a url(arobase.gif) no-repeat right bottom;
}
div#contenu div#colGauche div#infos div#accueil h2 {
	color: #FFFFFF;
	font-size: 0.9em;
	margin: 8px;
}
div#contenu div#colGauche div#infos div#accueil ul {
	font-size: 0.8em;
	margin: 8px;
	list-style: none;
}
div#contenu div#colGauche div#infos div#accueil li {
	background: url(filet_liste_accueil.gif) repeat-x bottom;
	border: solid 1px #ad1b4a;
}
div#contenu div#colGauche div#infos div#accueil li a {
	display: block;
	margin: 3px 0px;
	text-decoration: none;
	color: #FFFFFF;
}
div#contenu div#colGauche div#infos div#accueil p {
	font-size: 0.8em;
	margin: 8px;
	list-style: none;
}
div#contenu div#colGauche div#infos div#accueil p a {
	display: block;
	margin: 12px 0px 0px 0px;
	text-decoration: none;
	color: #FFFFFF;
}
div#contenu div#colGauche div#infos div#accueil a:hover {
	text-decoration: underline;
}



/* flash infos */
div#contenu div#colGauche div#flashInfos {
	background: url(bg_flashInfo.gif) no-repeat;
	margin: 0px 0px 0px 192px;
	border-right: solid 1px #a0a0a0;
	border-bottom: solid 1px #a0a0a0;
	height: 165px;
}
div#contenu div#colGauche div#flashInfos h2 {
	background: url(pic_rss.gif) no-repeat 7px 7px;
	color: #154464;
	padding: 10px 0px 0px 35px;
	font-size: 0.8em;
	height: 25px;
	border-bottom: solid 1px #a0a0a0;
}
div#contenu div#colGauche div#flashInfos h2 span {
	color: #990033;
}
div#contenu div#colGauche div#flashInfos ul {
	list-style: none;
	color: #777777;
	margin: 10px 0px 10px 10px;
	font-size: 0.8em;
}
div#contenu div#colGauche div#flashInfos h3 {
	margin: 10px 10px 5px 0px;
	font-size: 1em;
}
div#contenu div#colGauche div#flashInfos ul span.suite {
	display: block;
	margin: 10px 0px;
	text-align: right;
	border-top: solid 1px #a0a0a0;
	font-size: 0.8em;
}
div#contenu div#colGauche div#flashInfos ul span.suite a {
	display: block;
	background: url(pic_suite.gif) no-repeat right center;
	text-decoration: none;
	color: #777777;
	padding: 0px 25px 0px 0px;
	margin: 6px 10px 3px 0px;
}



/* carte flash des vols réguliers et vacances */
div#contenu div#carteVols {
	float: right;
/*	width: 43%;*/
	width: 422px;
	/*min-width: 370px;
	max-width: 370px;*/
	height: 435px;
	margin: 10px 0px 0px 0px;
	text-align: left;
}



/* bandeaux publicitaires */
div#liste_publicites {
	clear: both;
	overflow: hidden;
}
div#liste_publicites img {
	float: left;
	margin: 0 1% 0 0;
}


/* iBox */
div#content li.liste h3 {
	font-size: 0.7em;
}
div#content li.liste h2 {
	font-size: 1.5em;
	color: #990033;
	margin: 15px 0;
}
div#content li.liste p {
	font-size: 0.8em;
}

#a_close_label {color: white;}


/* boutons d'achat des billets */
#bandeauCentral {
	padding-left: 172px;
}
#bandeauCentral a {
	display: block;
	float: left;
	width: auto;
	margin: 0 0 0 5px;
}