#lightbox {
	position:absolute;
	top:40px;
	left:0;
	width:100%;
	z-index:100;
	text-align:center;
	line-height:0;
	color:#0D0D0D;
}

#lightbox a img { border:none;}

#outerImageContainer {
	position:relative;
	background-color:#fff;
	width:250px;
	height:250px;
	margin:0 auto;
}

#imageContainer {
	padding:10px;
}

#loading {
	position:absolute;
	top:40%;
	left:0%;
	height:25%;
	width:100%;
	text-align:center;
	line-height:0;
}
#hoverNav {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:10;
}
#imageContainer>#hoverNav { left:0;}
#hoverNav a { outline:none;}

#prevLink, #nextLink {
	width:49%;
	height:100%;
	background:transparent url(http://www.clermont-aeroport.com/fr/images/blank.gif) no-repeat; /* Trick IE into showing hover */
	display:block;
}
#prevLink {
	background:url(prevlabel.gif) left 50% no-repeat;
	left:0;
	float:left;
}
#nextLink {
	background:url(nextlabel.gif) right 50% no-repeat;
	right:0;
	float:right;
}


#imageDataContainer {
	font:12px 'Trebuchet MS', Verdana, sans-serif;
	background-color:#fff;
	margin:0 auto;
	line-height:1.4em;
}

#imageData {
	padding:0 10px;
}
#imageData #imageDetails { width:70%; float:left; text-align:left;}	
#imageData #caption { font-weight:bold;}
#imageData #numberDisplay { display:block; clear:left; padding-bottom:1.0em;}			
#imageData #bottomNavClose { width:66px; float:right;  padding-bottom:0.7em;}	
		
#overlay {
	position:absolute;
	top:0;
	left:0;
	z-index:90;
	width:100%;
	height:500px;
	background-color:#000;
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	opacity:0.6;
}
	

.clearfix:after {
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden;
}

* html>body .clearfix {
	display:inline-block; 
	width:100%;
}

* html .clearfix {
	/* Hides from IE-mac \*/
	height:1%;
	/* End hide from IE-mac */
}	
	