.overlay_alphacube {
	background-color: #FFFFFF;
	filter:alpha(opacity=0);
	-moz-opacity: 0.0;
	opacity: 0.0;
}

.alphacube_nw {
  background: #B27FB2;	
  width:1px;	  
  height:48px;
}

.alphacube_n {
  background: #E4DCE5 url(pop_bg01.gif) no-repeat top right;
  border-top: 1px solid #B27FB2;
  height:48px;
}

.alphacube_ne {
  background: #B27FB2;	
  width:1px;	  
  height:48px;
}

.alphacube_w {
  background: #B27FB2;	
  width:1px;	  
  height:1px;
}

.alphacube_e {
  background: #B27FB2;	
  width:1px;	  
  height:1px;
}

.alphacube_sw {
  background: #B27FB2;	
  width:1px;	  
  height:1px;
}

.alphacube_s {
  background: #B27FB2;	
  width:1px;	  
  height:1px;
}

.alphacube_se, .alphacube_sizer  {
  background: #B27FB2;	
  width:1px;	  
  height:1px;
}

.alphacube_sizer {
	cursor:se-resize;	
}

.alphacube_close {
	width: 26px;
	height: 26px;
	background: transparent url(pop_btn_close01.gif.1) no-repeat 0 0;			
	position:absolute;
	top:5px;
	right:16px;
	cursor:pointer;
	z-index:10000;
}

.alphacube_minimize {
	width: 23px;
	height: 23px;
	background: transparent url(button-min-focus.gif) no-repeat 0 0;			
	position:absolute;
	top:0px;
	right:55px;
	cursor:pointer;
	z-index:10000;
}

.alphacube_maximize {
	display:none;
}

.alphacube_title {
	position:relative;
	top:-5px;
	padding-left:10px;
	font-weight:bold;
	font-size:14px;
	color:#A72C2F;
}

.alphacube_content {
	overflow:auto;
	color: #000;
	font-family: Tahoma, Arial, sans-serif;
  font: 12px arial;
	background:#E4DCE5;
}

/* For alert/confirm dialog */
.alphacube_window {
	border:1px solid #F00;	
	background: #FFF;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	width:400px;
}

.alphacube_message {
  font: 12px arial;
	text-align:center;
	width:100%;
	padding-bottom:10px;
}

.alphacube_buttons {
	text-align:center;
	width:100%;
}

.alphacube_buttons input {
	width:20%;
	margin:10px;
}

.alphacube_progress {
	float:left;
	margin:auto;
	text-align:center;
	width:100%;
	height:16px;
	background: #FFF url('progress.gif') no-repeat center center
}

.alphacube_wired_frame {
	background: #FFF;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;	
}


