/*BEGIN CMP STYLES v1.0 JAn2008*/
/*HOMEPAGE*/

#bodyCol01 {background:transparent url(leftcol_pix_bg00.jpg) no-repeat scroll 0 0; padding-top:241px;}
#bodyCol023 {width:691px /*729-38*/; padding:30px 0 0 35px; float:left; -margin-bottom:10px;}

#homeContainer {}
#homeContainer h2 {margin:0; padding:0 0 5px 0; background-image:none; height:auto;}
#homeContainer h3.title {font-size:13px; margin:6px 0 3px 0; padding:0 !important; background-image:none;}
/**/
#homeContainerCol02 {margin-bottom:8px; float:left; width:331px; margin-right:5px;}
#homeContainerRow011 {float:left; background:transparent url(body_bg03.jpg) no-repeat scroll 0 41px; width:325px; height:349px; padding-right:15px; overflow:hidden; margin-top:7px;}
#homeContainerRow011 h2{margin-left:7px;}
#homeContainerRow011 h3.title {color:#660066; margin:6px 0; padding:0 !important; position:absolute;}
#homeContainerRow012 {float:left; /*background:transparent url(../../img/home/body_bg05.jpg) no-repeat scroll 0 41px; */ width:325px; height:219px; margin-bottom:5px; overflow:hidden; position:relative;}
/**/
#homeContainerRow012 h2{margin-left:5px;}
#homeContainerRow012 #homeContainerRow011ExtraLink {font-size:11px; color:white; font-weight:normal; display:block; top:7px; left:23px; width:139px; height:121px; position:absolute;}
#homeContainerRow012 #homeContainerRow011SubHeader {font-size:11px; color:white; font-weight:normal; display:block; top:13px; left:175px; width:132px; height:108px; padding:0 !important; position:absolute;}
#homeContainerRow012 #homeContainerRow011SubHeader a {color:white;}
/*#homeContainerCol01 #homeContainerRow012 h3.title {font-size:11px; color:white; font-weight:normal; display:block; position:absolute; top:13px; left:175px; width:132px; height:108px; padding:0 !important;}
#homeContainerCol01 #homeContainerRow012 h3.title em {font-size:40px; font-style:italic; display:block;}
#homeContainerCol01 #homeContainerRow012 h3.title strong {}
#homeContainerCol01 #homeContainerRow012 h3.title a {color:white;}*/
	#homeContainerRow012SubHeader {top:149px; left:23px; width:298px; height:86px; overflow:hidden; position:absolute;}
	#homeContainerRow012SubHeader img {border:solid 4px #ECEFF4;}
	
	.homeContainerRow01xPading {padding:0 17px; position:relative; background:none;}
	
	.homeContainerRow01xPading img {margin:0 7px;}
	#homeContainerRow01BtnA, #homeContainerRow01BtnB, #homeContainerRow01BtnC, #homeContainerRow01BtnD {display:block; top:252px; width:127px; height:36px /*41-5px*/; text-align:center; /*letter-spacing:-0.05em;*/ overflow:hidden; position:absolute;}
	#homeContainerRow01BtnA, #homeContainerRow01BtnC {left:29px;}
	#homeContainerRow01BtnB, #homeContainerRow01BtnD {left:175px;}
	.homeContainerRow01xPading h3 {}
/**/
#homeContainerCol03 { float:left; width:331px; position:relative; -margin-left:-30px;}
#homeContainerRow021 {float:left; width:331px /*331-17+17*/; padding:8px 0 10px 8px; position:relative;}
#homeContainerRow021 h2 {padding:0;}
	.homeContainerRow0211 {width:145px /*148-13*/; padding-right:3px; float:left; border-right:solid 1px #EDBFC0; padding-left:8px;height:119px;}
	.homeContainerRow0212 {width:145px; padding-left:13px; float:left; height:119px;}
	.homeContainerRow0211 h3.title, .homeContainerRow0212 h3.title {color:#A32B2E; margin:6px 0; padding:0 !important;}
	.homeContainerRow0211 a, .homeContainerRow0212 a {background:transparent url(btn_silver_sq_bg01.gif) no-repeat; display:block; width:119px; height:39px /*44-5px*/; padding-top:3px; margin:3px 0; text-align:center; overflow:hidden;}
#homeContainerRow022 {float:left; width:320px /*331-22+9*/; padding:0 15px 0 5px;}
#homeContainerRow022 h2 img {border:none; margin:0;}
#homeContainerRow022 h2 a{border:none; margin:0; background-image:none;}
#homeContainerRow022 img {border:solid 4px #FAEBD3; margin:0 7px;}
#homeContainerRow022 p {width:310px;}
#homeContainerRow022 span {height:185px;}
#homeContainerRow022 a {background:transparent url(btn_beige_rect_bg01.gif) no-repeat; display:block; width:299px; line-height:30px; margin:5px 0; text-align:center; overflow:hidden;}
/* carousel */
#carousel-wrapper {
    width: 300px;
    height: 170px;
    overflow: hidden;
}
#carousel-content {
    width: 2500px;
}
#carousel-content .slide {
    float: left;
    width: 300px;
    height: 170px;
}

#lienCar {height:17px;}
#lienCar span{ margin-left:30px; height:25px;}
#heightRow {height:80px;}

