/* CSS RESET ->EDITED JAN08 */
/*
Copyright (c) 2007, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.4.1
*/
/*html{color:#333333; background:white;}*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,select,p,blockquote,th,td {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
fieldset legend {display:none;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:normal;}
li {list-style:none; }
/*li {list-style:none; background:transparent url(../img/dot_black_01.gif) no-repeat scroll 7px 7px; padding:0 0 3px 16px;}*/ 
caption,th {text-align:left;}

sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea,select {font-family:inherit;font-size:inherit;font-weight:inherit;}

em {font-style:italic;} /*Re-setting EM back to italic to suit customer's needs*/