* {
	margin: 0;
	padding: 0;
	
}

ul {
	padding-left:  20px;
	display:  box;
	
}

img, object {
	display:  block;
}

font {
	font-size: inherit;
}

strong {
	font-weight: bold;
}
body{
	font: 13px Arial, Helvetica, sans-serif;
}

#PAGE {
	width: 995px;
}

body {
	width: 995px;
}

#Head {
	background: url(bg-head.gif) no-repeat;
}

#Head h1 {
	margin: 0;
	padding: 2px 0 0;
	display: block;
	font-size: 11px;
	height: 17px;
}

#Head a {
	color: #ffffff;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 0 0 0 190px;
}

#Head a span {
	font-weight: bold;
}

#Moteur {
	padding: 7px;
}

#inpsearch {
	background: url(bg-search.png) no-repeat fixed;
	border-style: none;
	width: 100px;
	height: 19px;
	color: #000000;
	font: 11px Arial, Helvetica, sans-serif;
	padding-left: 22px;
	padding-top: 3px;
	padding-right: 6px;
}

html>body #inpsearch {
	background: url(bg-search.png) no-repeat scroll;
	border-style: none;
	width: 100px;
	height: 19px;
	color: #000000;
	font: 11px Arial, Helvetica, sans-serif;
	padding-left: 22px;
	padding-top: 3px;
	padding-right: 6px;
}

.inpsub {
	vertical-align: middle;
}

#Route {
	margin-bottom: 10px;
	clear: both;
	color: #999;
	font: 12px Verdana, Arial, Helvetica, Geneva, sans-serif;
}

#Route span.Puce {
	padding:  0 5px 0 0 ;
	background: url(puce-route.gif) no-repeat 0 6px;
	
}

#Route .Selected {
	font-weight: bold;
}

#Route{
	display: block;
}

#Route h1{
	display: block;
	float: left;
	font-size: 12px;
	font-weight: normal;
}

#Content{
	clear: both;
}

#Centre {
	width: 995px;
	vertical-align: top;
}

#ColG{
vertical-align: top;
}

#Gauche {
	width: 176px;
	float: left;
	background: url(bg-gauche.jpg) repeat-x;
}

#Gauche h4, #Gauche h4 a {
	color: #000000;
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding-left: 8px;
}

#Gauche ul {
	
}

#Gauche ul li {
	margin-top: 10px;
}

#Gauche ul li a {
	padding-left: 8px;
	background: url(puce-off.gif) no-repeat 2px 3px;
	color: #7e7e7e;
	font: 12px Arial, Helvetica, sans-serif;
	text-decoration: none;
}

#Gauche ul li a.Selected {
	background: url(puce-on.gif) no-repeat 2px 3px;
	color: #000000;
	text-decoration: none;
}

#Gauche h3, #Gauche h3 a {
	text-align: center;
	color: #000000;
	font: bold 16px Arial, Helvetica, sans-serif;
	text-decoration: none;
}

#Gauche div.AgendaGauche {
	padding: 10px;
	text-align: justify;
	font: 12px Arial, Helvetica, sans-serif;
	background: url(filet-agenda.gif) no-repeat 0px 100%;
}

#Gauche div.AgendaGauche a  {
	color: #000000;
	text-decoration: none;
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
}

#Gauche div.AgendaGauche img  {
	margin-top: 8px;
	margin-bottom: 8px;
}

#Gauche div.AgendaGauche a.EnSavoirPlus  {
	color: #7d7c7d;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
	display: block;
	margin-top: 5px;
}

#Gauche div.TeaserContactHaut {
	margin-top: 20px;
	width: 143px;
	padding: 10px;
	background: url(post-it2.jpg) no-repeat 0px 0%  #FEFF00;
	height: 33px;
	margin-left: 5px;
}

#Gauche div.TeaserContact {
	width: 143px;
	padding: 10px;
	background: url(postit.jpg) no-repeat 0px 100% #FEFF00;
	margin-left: 5px;
}

.ToutAgenda {
	display: block;
	margin-left: 20px;
	padding-left: 8px;
	background: url(puce-on.gif) no-repeat 0px 4px;
	color: #818181;
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

#Milieu {
	float: left;
	width: 600px;
	padding: 20px;
	background: url(bg-milieu.gif) repeat-x;
}

#Droite {
	float: left;
	width: 173px;
	padding: 20px 0px 0 0;
	background: url(bg-droite.gif) repeat-x;
}

#Droite div.Teas h2 {
	background: url(bg-teaser-titre.jpg) repeat-y;
	color: #000000;
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;	
}

#Droite div.Teas {
	border: 1px solid #3D329E;
	width:  160px;
	margin-bottom: 12px;
	
}
#Droite div.Teas p {
	padding: 3px 0px 3px 1px;
	
}

#Droite div.Teas img {
	float:  left; 
	
}


.LienPDF {
	padding-left: 35px;
	height: 30px;
	background: url(icone-pdf.gif.1) no-repeat;
	display: block;
	padding-top: 10px;
	color: #D47F2B;
	margin-top: 20px;
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.LienPDF:hover {
	text-decoration: underline;
}

div.Recherche {
	
}

div.Recherche dl {
	
}

div.Recherche dl dt {
	font-size: 13px;
	font-weight: bold;
}

div.Recherche dl dd {
	font-size: 11px;
	font-weight: normal;
	padding-left: 30px;
	padding-bottom: 10px;
}

/* @group Contact */

#Coord {
	margin-bottom: 20px;
}

#FormContact {
	margin-bottom: 20px;
}

#FormContact fieldset {
	border-style: none;
}

#FormContact fieldset legend {
	font: bold 13px Verdana, Arial, Helvetica, sans-serif;
	color: #D44DA9;
	padding-right: 100px;
	padding-bottom: 5px;
}

#FormContact label {
	width: 100px;
	text-align: right;
	float: left;
	display: block;
	clear: both;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	padding-right: 10px;
	margin-bottom: 20px;
}

#FormContact input {
	width: 200px;
	border: 1px solid #4d4d4d;
	margin-bottom: 20px;
	font: 12px Arial, Helvetica, sans-serif;
}

#FormContact textarea {
	margin-top: 20px;
	border: 1px solid #4d4d4d;
	font: 12px Arial, Helvetica, sans-serif;
	width: 400px;
}

#FormContact .Erreur {
	color: #ff0000;
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	display: block;
}

#FormContact input.Bouton {
	border-top: 2px solid #dcdcdc;
	border-left: 2px solid #dcdcdc;
	border-bottom: 2px solid #b9b9b9;
	border-right: 2px solid #b9b9b9;
	background: #c6c6c6;
}

div.Contact {
	clear: both;
	padding-top: 10px;
}
	
/* @end */

/* @group Foot */

#Foot {
	clear: both;
	width: 992px;
	height: 34px;
	background: url(bg-foot.gif) repeat-x;
	margin-top: 15px;
}

#Foot img {
	border-style: none;
}

#Foot ul {
	display: none;
}

#Foot h1 {
	text-align: right;
	color: #000000;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	height: 22px;
	background: url(logo-artefact.gif) no-repeat 100% 0px;
	padding-right: 25px;
	padding-top: 5px;
}

#Foot h1 a {
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}
	
/* @end */