
/***********************************************************************navigation superieure**********************************************************************/

.left{
	background: url(ong_left.gif) no-repeat;
}
.left a{
	background: url(ong_right.gif) no-repeat right;
}
.groupe{
	color: #79BB13;
}
.vous{
	color: #5FA9B8;
}
.actionnaires{
	color: #1C6E65
}
.subnav_td{
	background-color: #009385;
}
.bkg_nav_off{
	background-color: #009385;
}
.bkg_nav_expt_a{
	background-color: #009385;
}
.bkg_nav_on{
	background-color: #00D1C4;
}
.bkg_nav_expt_b{
	background-color: #00D1C4;
}
.subnav_td a{
	color: white;
}
.fin_nav{
	background: url(fin_nav.gif) no-repeat top right #009385;
}
.start_nav{
	background: url(debut_nav.gif) no-repeat;
}
/************************************************colonne de gauche*/

/*************************navigation gauche*/
.nav_left{
	margin-bottom: 10px;
}
.nav_left h2 a, .mod_left_top h2{
	font-size: 11px;
	text-transform: uppercase;
	color: White;
}
.nav_left h2{
	padding: 6px 10px;
}
.nav_left_top_on{
	background: url(nav_left_top_on.gif) no-repeat;	
}
.nav_left_top_off{
	background: url(nav_left_top_off.gif) no-repeat;
}
.t_left_news{
	background: url(nav_left_top_off.gif) no-repeat;
	color: White;
	font-size: 12px;
	padding: 6px 10px;
}
.left_news a{
	display: block;
	background: url(puce_fleche.gif) no-repeat 0 3px;
	padding-left: 12px;
	color: #009385;
}
.s_nav{
	padding: 2px 2px 2px 10px;
	background-color: #AEF0EC;
	border-top: 1px solid white;
}
.s_nav_on, .s_s_nav_on{
	font-weight: bold;
}
.nav_on{
	background-color: #00D1C4;
	border-top: 1px solid #80C9C2;
}
.nav_off{
	background-color: #009385;
	border-top: 1px solid #80C9C2;
}
.nav_left_bottom_on{
	background: url(nav_left_bottom_on.gif) no-repeat;
	border-top: 1px solid #80C9C2;
}
.nav_left_bottom_off{
	background: url(nav_left_bottom_off.gif) no-repeat;
	border-top: 1px solid #80C9C2;
}
.s_s_nav{
	border-left: 1px solid #AEF0EC;
	border-right: 1px solid #AEF0EC;
}
.s_s_nav li{
	margin-bottom: 5px
}
.s_s_nav li span{
	color: #009385;
	font-size: 8px
}

/************************module de gauche*/


.block_left{
	background: url(mod_bottom_nav_left.gif) no-repeat bottom;
}
.block_left div{
	border-left: 1px solid #BFE4E0;
	border-right: 1px solid #BFE4E0;
}
.block_left h3{
	background: url(puce_fleche.gif) no-repeat 0 3px;
	color: #009385;
}
.block_left h3 a{
	color: #009385;
}
.mod_left_top{
	width: 142px
}
.mod_left_top h2{
	background: url(mod_left_top.gif) no-repeat;
	padding: 4px 10px
}
.mod_left_top div{
	width: 132px;
	padding: 5px;
	background: url(mod_left_bottom.gif) no-repeat bottom;
}
.mod_left_top div p{
	margin-bottom: 5px
}
#key, .mod_left_top div p select{
	width: 120px
}

/**************************colonne centrale*/
.rail{
	margin-bottom: 10px
}
.rail span{
	color: #22A195;
}
.layout_center h1{
	color: #009385;
	border-left: 5px solid #666666;
}
.layout_content, .content_menu, .content_menu_top, .content_menu_presse, .mod_center_right div, .content_menu_partenariat, .content_menu_equipe, .content_menu_choix_equipe, .col_left div{
	border-left: 1px solid #B2DEDA;
	border-right: 1px solid #B2DEDA;
}
.deco_left_top{
	background: url(mod_center_round_top_right.gif) top right;
}
.deco_center{
	background: url(mod_center_round_bottom.gif) no-repeat right bottom;
}
.deco_center_left{
	background: url(mod_center_round_left.gif) no-repeat left bottom;
}
.deco_center_white{
	background: url(mod_center_right_bottom.gif) no-repeat right bottom;
	width: 100%
}
.deco_left_top_2{
	background: url(mod_center_top_right.gif) top right;
}
.deco_center_2{
	background: url(mod_center_bottom_right.gif) no-repeat right bottom;
	margin-bottom: 10px
}
.deco_center_left_2, .deco_center_left_3{
	background: url(mod_center_bottom_left.gif) no-repeat left bottom;
	padding-bottom: 14px;
}
.deco_center_left_2 div{
	border-left: 1px solid #009385;
	border-right: 1px solid #009385;
	padding: 0 13px
}
.deco_center_left_2 div h2{
	font-size: 13px;
	margin-bottom: 5px
}
.deco_center_left_2 div a{
	background: url(puce_link.gif) no-repeat 0 2px;
	padding-left: 12px;
	font-weight: bold;
}
.deco_center_left_2 td dl{
	margin-bottom: 10px
}
.deco_center_left_2 dt{
	font-weight: bold;
}
.layout_center .content_menu_partenariat h1{
	border: 0;
	margin: 0 0 20px 0
}
.content_list h2{
	color: #009385;
	font-size: 12px
}
.deco_burk{
	background: url(deco_burk.gif) repeat-x bottom;
	height: 40px
}
.deco_center_left_white{
	background: url(mod_center_left_bottom.gif) no-repeat left bottom;
}
.layout_content h2, .content_menu h2{
	background: url(picto_puce_white.gif) no-repeat 0 3px;
	color: black;
}
.layout_content h2 a, .content_menu h2 a{
	color: black;
	text-decoration: none;
}
.layout_content h2 a:hover, .content_menu h2 a:hover{
	text-decoration: underline;
}
.layout_content img, .content_menu img, .mod_center_right div img, .content_menu_presse div img, .mod_ecran img, .photo_ecran img{
	border: 1px solid #B2DEDA;
}
.content_list dd, .content_menu_top h3 a, .content_menu_presse p, .link_right a, .mod_center_right div li, .press_old p a, .link_press, .mod_actu li{
	background: url(puce_fleche.gif) no-repeat 0 3px;
}
.content_menu_top h2{
	color: #44B0A6;
	background: url(picto_titre.gif) no-repeat 0 0px;
}
.content_menu_presse{
	background-color: White;
}
.content_menu_presse h2{
	color: #44B0A6;
}
.content_menu_presse p a{
	color: Black;
}
.mod_center_right{
	background: url(mod_top_center_right.gif) no-repeat;
}
.mod_center_right h2{
	color: White;
}
.content_menu_presse h2.hblack{
	color: Black;
	font-size: 14px
}
.content_menu_presse p span{
	color: #707070
}
.content_menu_presse div{
	margin-bottom: 10px;
	background-color: White;
	width: 100%
}
.content_menu_partenariat td{
	padding: 0 10px
}
.content_menu_partenariat h2{
	margin-bottom: 10px;
	font-size: 13px
}
.content_menu_partenariat h2 a{
	padding-left: 15px;
	background: url(picto_puce_white.gif) no-repeat 0 2px;
}
.content_menu_partenariat p{
	padding-left: 15px;
}
.content_menu_equipe{
	padding: 0 10px 10px 0
}
.content_menu_equipe h2{
	font-size: 14px;
	margin-bottom: 10px
}
.content_menu_equipe div{
	padding:0 0 0 140px
}
.content_menu_choix_equipe{
	padding: 5px 0;
	text-align: center;
}
.content_menu_choix_equipe label{
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #44B0A6;
}
.press_old{
	margin-top: 20px
}
.press_old p, p.press_old{
	background: none;
}
.press_old p a{
	padding-left: 12px
}

.tab_press_img{
	width: 60px;
	text-align: right;
}
.tab_press.press_old{
	margin: 0
}
.date{
	color: #666666
}
.content_menu_presse p.date{
	background: none;
	margin-bottom: 10px;
	padding: 0
}
.content_press{
	margin: 20px 0 30px 0
}
.content_press p{
	margin-bottom: 10px
}
.telecharge{
	font-size: 14px;
	color: #22A195
}

.acrobat{
	margin-top: 20px;
	float: left;
}
.link_press{
	margin-top: 25px;
	padding-left: 12px;
	float: right;
}
.liste_press{
	margin-top: 20px
}
.liste_press dt{
	font-weight: bold;
}
.mod_actu {
	padding-left: 10px
}
.mod_actu h2{
	color: #44B0A6;
	font-size: 18px;
}
.mod_actu li{
	padding-left: 12px;
	font-weight: bold;
}

.mod_ecran{
	float: right;
	width: 219px;
	text-align: left;
	background: url(bottom_mod_ecran.gif) no-repeat bottom left;
}
.mod_ecran h2{
	background: url(top_mod_ecran.gif) no-repeat;
	padding: 5px 10px;
	color: White;
	font-size: 12px
}
.mod_ecran div{
	padding: 10px 10px 0 10px
}
.mod_ecran p{
	background: url(puce_fleche.gif) no-repeat 0 2px;
	padding-left: 12px
}
.big_link{
	width: 100%;
	margin-top: 30px
}
.big_link td{
	width: 50%
}
.big_link li{
	padding-left: 15px;
	margin-bottom: 5px;
	background: url(picto_puce_white.gif) no-repeat 0 2px;
	font-size: 14px;
	font-weight: bold;
}
.photo_ecran{
	width: 182px;
	float: left;
}
.text_ecran{
	float: left;
}
.text_ecran dl{
	margin-bottom: 10px
}
.text_ecran dt{
	font-weight: bold;
	color: #44B0A6;
}
.text_ecran a{
	padding: 0 10px 0 12px;
	background: url(puce_fleche.gif) no-repeat 0 2px;
	font-weight: bold;
}
.palmares{
	margin: 0 0 20px 140px
}
.palmares h3{
	margin-bottom: 10px;
	font-size: 11px;
	text-transform: uppercase;
	color: #44B0A6;
}
.palmares h4{
	font-size: 11px;
	color: #44B0A6;
}
.palmares ul{
	margin-bottom: 10px
}
.palmares li{
	padding-left: 8px;
	background: url(picto_liste.gif) no-repeat 0 5px;
}
.tab_col{
	margin-bottom: 30px
}
.tab_col h2{
	font-size: 12px;
	margin-bottom: 15px
}
.tab_col p{
	margin-bottom: 10px
}
.col_left{
	width: 173px
}
.col_left .visuel{
	margin-bottom: 10px
}

.col_left h3{
	font-size: 11px;
	color: #44B0A6;
	margin-bottom: 1px
}
.col_left p, .col_left span{
	font-size: 10px
}
.col_left p a{
	padding-left: 12px;
	background: url(puce_fleche.gif) no-repeat 0 2px;
	font-weight: bold;
}

/***************************************************************tableau de donnees*/

.deco_center_left_3 div{
	border-left: 1px solid #009385;
	border-right: 1px solid #009385;
}
.data caption{
	background-color: #7FC9C2;
	color: #666666;
}
.data caption span{
	color: Black;
}
.deco_tr{
	background-color: #E5F4F3
}
.deco_total{
	background-color: #BFE4E0;
}
.deco_total span{
	font-size: 11px;
	font-weight: bold;
	color: Black;
}
/*outils*/

.save{
	background: url(picto_save.gif) no-repeat 0 0;
}
a:hover.save{
	background: url(picto_save.gif) no-repeat 0 -33px;
}
.print{
	background: url(picto_print.gif) no-repeat 0 0;
}
a:hover.print{
	background: url(picto_print.gif) no-repeat 0 -33px;
}
.send{
	background: url(picto_send.gif) no-repeat 0 0;
}
a:hover.send{
	background: url(picto_send.gif) no-repeat 0 -33px;
}

/***********************************************
/* FB Tableaux */
/**************************************************************
tableau de donnees*/

.deco_center_left_3 div{
	border-left: 1px solid #009385;
	border-right: 1px solid #009385;
}
.data, table.spip{
	width: 100%
}
.data caption{
	background-color: #7FC9C2;
	text-align: left;
	padding: 2px 9px;
	color: #666666;
	font-weight: bold;
}
.data caption span{
	color: Black;
}
.data th{
	padding: 2px 9px;
	text-align: left;
	font-size: 10px
}
.data td{
	width: 20%;
	padding: 2px 9px;
	text-align: right;
}

.deco_tr, .row_even{
	background-color: #E5F4F3
}
.deco_total{
	background-color: #BFE4E0;
}
.deco_total span{
	font-size: 11px;
	font-weight: bold;
	color: Black;
}

/* FB STANDARD */
.secteur_1{
	color: #79BB13;
}
.secteur_8{
	color: #5FA9B8;
}
.secteur_10{
	color: #1C6E65
}
.content_list dd {
	font-weight:bold;
}
.texteencadre-spip {
	border:1px solid #009385;
	padding:10px;
	margin-bottom: 10px;
}
.content_menu_top div.evt a {
	background: url(puce_fleche.gif) no-repeat 0 3px;
	color: Black;
	padding-left: 12px;
	font-weight: bold;
}
.mod_center_right div li, .mod_center_right div li.spip,.mod_center_right li{
	background: url(puce_fleche.gif) no-repeat 0 3px;
	list-style-type: none;
	color:black;
}
.mod_center_right div li a{
	color:#444444;
}

.mod_center_right div,.mod_center_right div h3{
	margin: 0;
	font-size: 11px;
}
.mod_center_right h3{
	padding-left: 12px;
}

.mod_center_right a{
	font-weight: normal;
}
.mod_center_right div p{
	font-weight: normal;
}

/*.mod_center_right div h3 a{
	background: url(../image/home/picto_link_groupe.gif) no-repeat -5px 3px;
	color:#444444;	
	font-size: 11px;
	margin-left: 0px;
	background-color: #ff0000;
	padding-left: 0px;
}*/
/*.mod_center_right h3 a{
	font-size: 11px;
	margin-left: -12px;	
	padding-left: 0px;
	background: url(../image/groupe/puce_fleche.gif) no-repeat -12px 3px;
	color:#444444;
	font-weight: normal;
}*/
.content_menu_top ul li, .content_menu_top ul.spip li.spip {
	background: url(puce_fleche.gif) no-repeat 0 3px;
	padding-left: 12px;
	font-weight: bold;
	color: #444444;
	list-style-type: none;
}
.content_menu_top li a{
	color: #444444;
}
.content_menu_top div ul{
	margin: 0;
	padding: 0;
}

.mod_center_right div ul.spip{
	margin: 0;
	padding: 0;
}

.layout_content2{
	border-left: 1px solid #B2DEDA;
	border-right: 1px solid #B2DEDA;
	width: 100%;
	
}
.layout_content2 td {
	padding-left: 10px;
}
.layout_content2 h2 {
	background: url(picto_puce_white.gif) no-repeat 0 3px;
	color: black;
	font-size: 12px;
	padding-top:2px;
	padding-left: 15px;
}
.layout_content2 h2 a{
	color: black;
	text-decoration: none;
}
.layout_content2 h2 a:hover {
	text-decoration: underline;
}
.layout_content2 img {
	border: 1px solid #B2DEDA
}
.layout_content2 h2{
	padding-left:-5px;
}
.layout_content2 h2.nolink {
	background: url(picto_puce_grey.gif) no-repeat 0 3px;
}
.layout_content2 div{
	margin-bottom: 10px;
	clear: both;
}
.content_menu h2, .content_menu_simple h2{
	margin-left: 0px;
}
.content_menu p, .content_menu_simple p{
	padding-left: 18px;
}

.layout_content h2{
	margin-top:8px;
	margin-bottom:8px;
}
.layout_content img, .content_menu img{
	margin-left: 3px;	
}

.chapeauEtPhoto{
	margin-bottom: 10px;
	font-weight: bold;
	display: block;
	height: 90px;
}

.block_left ul, .content_menu_presse ul{
	margin: 0;
	padding: 0;
}
.block_left ul li, .content_menu_presse ul li,.block_left ul.spip li.spip, .content_menu_presse ul.spip li.spip{
	background: url(puce_fleche.gif) no-repeat 0 3px;
	color: #009385;
	padding-left: 12px;
	font-weight: bold;
	list-style-type: none;
	margin-top: 6px;
	padding-bottom: 0px;
}
.block_left ul li a{
	color: #009385;
}
.block_left h3{
	background:none;
}
.content_menu_presse ul li a{
	color: Black;
}

.content_espace_presse{
	border-left: 1px solid #B2DEDA;
	border-right: 1px solid #B2DEDA;
}

.content_menu_presse div p{
	background: none;
	margin-top: 0px;
}
.content_espace_presse div{
	margin-bottom: 10px;
	background-color: White;
	width: 100%;
	
}

.content_espace_presse p{
	margin-top: 2px;
	/*padding-bottom: 3px;*/
	margin-top: 4px;
	margin-left: 10px;
	color: Black;
}
.content_espace_presse p a {
	font-weight:bold;
}
.content_espace_presse p a{
	background: url(puce_fleche.gif) no-repeat 0 3px;
	padding-left: 12px;
	color: Black;
}

.content_espace_presse  h2.hblack{
	color: Black;
	font-size: 14px;
	padding-left:10px;
	
}
.content_espace_presse div p span{
	color: #707070;
	font-weight: normal;
	padding-left: 12px;
	padding-right: 12px;
	
}
.content_espace_presse p.date{
	background: none;
	/*margin-bottom: 10px;*/
	padding: 0
}
.content_press .titre {
	font-size:14px;
	font-weight:bold;
	margin-bottom:5px;
}
.content_press{
	margin: 5px 0 30px 0
}
.content_espace_presse div .press_old{
	margin: 0;
}
.layout_center h1.titreSmall {
	font-size: 16px;
}
.link_press2{
	/*margin-top: 7px;*/
	padding-left: 12px;
	background: url(puce_fleche.gif) no-repeat 0 3px;
	clear:both;
	float:right;
	font-weight: bold;
}
.link_press{
	font-weight: bold;
}
.tab_press .press_old{
	margin-top: 5px;
	padding-left: 12px;
}
/*** FB Partenariats */
.mod_actu ul.spip{
	
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.mod_actu  ul.spip li.spip{
	list-style-type: none;
	background: url(puce_fleche.gif) no-repeat 0 3px;
	padding-left: 12px;
	font-weight: bold;	
}
.mod_actu  ul.spip li.spip a{
	color: #444444;
}
.p_actu h3{
	background: url(nav_left_top_off.gif) no-repeat;
	color: White;
	font-size: 12px;
	padding: 6px 10px;
	margin: -5px -6px 6px -6px;
}
.p_actu a.spip_in, .p_actu a.spip_out{
	display: block;
	background: url(puce_fleche.gif) no-repeat 0 3px;
	padding-left: 12px;
	color: #009385;
	margin-left: -12px;
	font-size: 11px;
}

.palmares h3{
	margin-bottom: 10px;
	font-size: 11px;
	text-transform: uppercase;
	color: #44B0A6;
}
.palmares h4.spip{
	font-size: 11px;
	color: #44B0A6;
	margin-bottom: 10px;
}
.palmares ul.spip li.spip{
	list-style-type: none;
}
.palmares ul.spip{
	margin-bottom: 10px;
	margin-left: 0px;
}
.palmares li.spip{
	padding-left: 8px;
	background: url(picto_liste.gif) no-repeat 0 5px;
}

.col_left strong.spip{
	font-size: 11px;
	color: #44B0A6;
	margin-bottom: 1px
}

.col_left p a.spip_blank, .col_left p a.spip_blank strong.spip{
	padding-left: 0px;
	background: none;
	font-weight: bold;
	color: #444444;
	font-size: 9px;
}
.col_left p a.spip_blank strong.spip{
	padding-left: 0px;
	background: none;
	font-weight: bold;
	color: #444444;	
	font-size: 11px;
}
.content_txt h4.spip {
	color: #44B0A6;
	margin-top: 5px;
	margin-bottom: 5px;
}
.row_even{
	background-color: #E5F4F3
}
.big_cyclisme{
	/*width: 100%;*/
	margin-top: 30px
}
.big_cyclisme td{
	width: 100%
}
.big_cyclisme li{
	padding-left: 15px;
	margin-bottom: 5px;
	background: url(picto_puce_white.gif) no-repeat 0 2px;
	font-size: 14px;
	font-weight: bold;
}
table.tab_press {
	width: 100%;
}
.date_gras{
	color: #666666;
	font-weight:bold;
}
h2.small {
	font-size:11px;
}
.gros {
	font-size:12px;
}
h4.spip {
	color: #44B0A6;
	margin-top: 5px;
	margin-bottom: 5px;
}

.tab_press div.kiosqueUne{
	padding-left: 12px;
	padding-right: 12px;
	width: 95%;
	margin-top: 0px;
}

/*.palmares strong.spip{
	padding-left: 8px;
	font-size: 11px;
	color: #44B0A6;
	padding-bottom: 10px;
}*/
.telecharge sup {
 color: #22A195;
}

/* FB */
#uneKiosque .spip_images {
	margin: 0px 0px 0px 6px;
	padding: 0;
	float: left;
	width: 25px;
	display: block;
}
#uneKiosque {
	
	padding: 0;
}
#uneKiosque a{
	padding: 10px 0px 0px 5px;
	margin: 0;
	margin-bottom: 10px;
}

/* ----- fckeditor */
div.data_groupe {
	margin-bottom:8px;
}
.data_groupe table {
	background-color: #FFFFFF;
	padding: 0;
	margin: 0;
	border-spacing: 0;
	border-collapse: collapse
}
.data_groupe td{
	padding: 1px 9px 1px 9px;
	text-align: right;
	border-left: 1px solid #FFFFFF;
	margin: 0;
	
}
.data_groupe caption{
	background-color: #7FC9C2;
	text-align: left;
	padding: 2px 9px;
	color: #666666;
	font-weight: bold;
}
.data_groupe th, .data_groupe td.row_first{
	padding: 2px 9px;
	text-align: left;
	font-size: 11px;
	background-color: #7FC9C2;
	color: #666666;
	font-weight: bold;
	border: #7FC9C2 1px solid;
}

.n_32 {
height:30px;
padding-top:10px;
background:transparent url(mod_bottom_right.gif) no-repeat scroll left bottom;
}

.n_32 a{
background:transparent url(picto_link_groupe.gif) no-repeat scroll 8pt 2px;
font-weight:bold;
padding-left:22px;
text-decoration:none;
}

.n_32 a:hover{
text-decoration:underline;
}


/*----*/
