/* CSS FOOTER STATIC 		*/
/* Last modified 18/12/2008 		*/
div#footer-static {
	color: #8E97A0;
	font-family:Verdana, Arial;
	font-size:10px;
	width:97%;
	margin:0px auto;
}
div#footer-static a {
	color:#8E97A0;
	text-decoration:none;
}
div#footer-static a:hover {
	color:#8E97A0;
	text-decoration:underline;
}
div#footer-static span {
	float:left;
	font-weight:bold;
}
div#footer-static ul {
	float:left;
	list-style-type:none;
	padding:0 0 5px 0;
	width:100%;
}
div#footer-static ul.sub {
	float:left;
	width:100%;
	line-height:11px;
	text-align:justify;
}
div#footer-static ul.sub li {
	border-right:1px solid #8E97A0;
	display:inline;
	line-height:11px;
	padding-right:5px;
}
div#footer-static ul li:first-child , div#footer-static ul li.last {
	border-right:0px;
}