/*  styles for the unit rater
--------------------------------------------------------- 
ryan masuga, masugadesign.com
ryan@masugadesign.com 
Licensed under a Creative Commons Attribution 3.0 License.
http://creativecommons.org/licenses/by/3.0/
See readme.txt for full credit details.
--------------------------------------------------------- */
#cine h3, #Musique h3 {
	clear:both;
	margin-top:5px;
	}

#middle div.degrade_horizontal .cotation {
	clear:left;
	float:left;
	padding:3px 0;
}
#middle div.degrade_horizontal .cotation span {
	float:left;
	margin:0 5px 0 1px;
}
.ratingblock div, #middle div.degrade_horizontal div.ratingblock div{
	padding:0;
}
.ratingblock, #middle div.degrade_horizontal div.ratingblock {
	display:block;
	margin-bottom:1px;
	width:72px;
	padding:0;
	float:left;
	}

.loading {
	height: 30px;
	background: url('working.gif') 50% 50% no-repeat;
	}
	
.unit-rating { /* the UL */
	list-style:none;
	margin: 0px;
	padding:0px;
	/*height: 30px;*/
	height: 17px;
	position: relative;
	background: url('trois_etoiles.png') top left repeat-x;		
	}

.unit-rating li{
    text-indent: -90000px;
	padding:0px;
	margin:0px;
	/*\*/
	float: left;
	/* */
	}
	

#middle div.degrade_horizontal div ul li.current-rating {
	padding:0px;
	}
	
.unit-rating li a {
	outline: none;
	display:block;
	width:18px;
	height: 17px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
	}
	
.unit-rating li a:hover{
	background: url('trois_etoiles.png') left center;
	z-index: 2;
	left: 0px;
	}

.unit-rating a.r1-unit{left: 0px;}
.unit-rating a.r1-unit:hover{width:18px;}
.unit-rating a.r2-unit{left:18px;}
.unit-rating a.r2-unit:hover{width: 36px;}
.unit-rating a.r3-unit{left: 36px;}
.unit-rating a.r3-unit:hover{width: 54px;}
.unit-rating a.r4-unit{left: 54px;}	
.unit-rating a.r4-unit:hover{width: 72px;}
.unit-rating a.r5-unit{left: 72px;}
.unit-rating a.r5-unit:hover{width: 90px;}
.unit-rating a.r6-unit{left: 90px;}
.unit-rating a.r6-unit:hover{width: 108px;}

.unit-rating li.current-rating {
	background: url('trois_etoiles.png') left bottom;
	position: absolute;
	height: 17px;
	display: block;
	text-indent: -9000px;
	z-index: 1;
	padding:0px;
	}

.voted {color:#999;}
.thanks {color:#36AA3D;}
.static {color:#5D3126;}	