.link {
		position:absolute;
		border-left:1px solid #CCC;
		border-right:1px solid #CCC;
		border-bottom:1px solid #CCC;
		width:100%;
		height:0px;
		background:#f0f0f0 url(bg_gris2.png) repeat-x;	
		overflow:hidden;
		visibility:hidden;
		color:#fffff;
	}	
	.title, .title_o  {
		position:relative;
		cursor:pointer;
		background-color:#CCCCCC;
		width:100%;
		color:#fffff;
		font-size:12px;
		font-weight:bold;
		text-transform:uppercase;		
		padding:2px;
		height:13px;
		overflow:hidden;
	}
	.title_o { background-color:#a0a0a0;}
	
	#frames h3 {
		color:#FFF;
		font-size:10px;
		font-weight:bold;		
		margin:1px;
	}	
	
	.text {
		position:relative;
		line-height: 1.1em;
		margin:8px;
		font-size:11px;
		color:#222;
		overflow:hidden;
		height:90%;
	}
	
	.text2 {
		position:relative;
		line-height: 1.1em;
		margin:8px;
		font-size:11px;
		color:#222;
	}
	
	#frames {
		position:relative;
		width:240px;
		height:200px;
		overflow:hidden;
        border:0px solid #777;
        margin: auto auto;
        margin-top: -5px;
	}
	#frames img {
		margin: 8px 8px 5px 8px;
		padding:2px;
		border:1px solid #FFF;
	}
.blanc {
color:#FFF;
}