#sortir-container { background: transparent url(rounded_stripes7.jpg) no-repeat scroll 0 0 }
#protofade3 { 
clear:both;
display:block;
height:260px;
margin:0;
overflow:hidden;
padding:0;
position:relative;
width:660px;
}
#protofade3 p { padding: 0 0; margin-left:40px;margin-top:20px;}
#protofade3 h2 { padding: 0 0; margin-left:40px;margin-bottom:0px;}
#protofade3 h5 { margin:0px 0 0px 0;}
#protofade3 h3 { padding: 0 0; margin-left:40px;font-size: 16px;}
#protofade3 li { position:absolute; top:0; left:0; display:block; margin:0; padding:0; background:none;}
#protofade3 li img, #protofade2 li img { display:block; }
#slider-container3 { width:660px; margin:0 auto 20px auto; }
#protofade3 div { position:absolute; top:0; left:0; display:block; margin:0; padding:10px; background:none; text-align:left}
.next, .previous, .start, .stop { cursor:pointer; display: block; margin:5px 15px 15px 15px; float:right; }