/* Horizontal Carousel */
#horizontal_carousel {
  float: left;
  width: 300px;
  height: 240px;
  margin-bottom: 10px;
  position: relative;
}

#horizontal_carousel .container {
  float: left;
  width: 200px;
  height: 240px;
  position: relative;    
  overflow: hidden;
}

#horizontal_carousel ul {
  margin: 0;
  padding:0;
  width: 100000px;
  position: relative;
  top: 0;
  left: 0;
  height: 240px;
}                      

#horizontal_carousel ul li {
  width: 200px;
  height: 240px;
  text-align: center; 
  list-style:none;   
  float:left;
}

#horizontal_carousel .previous_button {
  float:left;  
  width: 32px;
  height: 175px;
  background: url(right.jpg);
  z-index: 100;
  cursor: pointer;
}

#horizontal_carousel .previous_button_over {
  background: url(right_over.jpg);
}

#horizontal_carousel .previous_button_disabled {
  background: url(right_disabled.jpg);
  cursor: default;
}

#horizontal_carousel .next_button {
  float:left;  
  width: 32px;
  height: 175px;
  background: url(left.jpg);
  z-index: 100;
  cursor: pointer;
}

#horizontal_carousel .next_button_over {
  background: url(left_over.jpg);
}

#horizontal_carousel .next_button_disabled {
  background: url(left_disabled.jpg);
  cursor: default;
}


/* vertical Carousel */

.ui_vertical_carousel {
}

#vertical_carousel {
  float:left;
  width: 350px;
  height: 270px;
  margin-bottom: 10px;
  position: relative;
}

#vertical_carousel .container {
  float:left;  
  width: 260px;
  height: 240px;
  overflow: hidden;
}

#vertical_carousel ul {
  margin: 0;
  padding:0;
  height: 100000px;
  position: relative;
  top: 0;
  left: 0;
}

#vertical_carousel ul li {
  width: 260px;
  height: 240px;
  text-align: center;      
  list-style:none;   
  float:left;
}                         

#vertical_carousel .previous_button {
  float:left;
  height: 32px;
  width: 175px;
  background: url(http://www.cg82.fr/css/carousel/prototype-ui/vertical/left.jpg);
  cursor: pointer;    
  display:inline;
  margin: 0 0 10px 40px;
}

#vertical_carousel .previous_button_over {
  background: url(http://www.cg82.fr/css/carousel/prototype-ui/vertical/left_over.jpg);
}

#vertical_carousel .previous_button_disabled {
  background: url(http://www.cg82.fr/css/carousel/prototype-ui/vertical/left_disabled.jpg);
  cursor: default;
}

#vertical_carousel .next_button {
  float:left;
  height: 32px;
  width: 175px;
  background: url(http://www.cg82.fr/css/carousel/prototype-ui/vertical/right.jpg);
  display:inline;
  margin-left: 40px;
  cursor: pointer;
}

#vertical_carousel .next_button_over {
  background: url(http://www.cg82.fr/css/carousel/prototype-ui/vertical/right_over.jpg);
}

#vertical_carousel .next_button_disabled {
  background: url(http://www.cg82.fr/css/carousel/prototype-ui/vertical/right_disabled.jpg);
  cursor: default;
}

