.hsbcGP2007ContentArea ul li, .hsbcGP2007ContentArea p
{
	font-size:75%;
}
.hsbcGP2007ContentArea h1, .hsbcGP2007ContentArea h2, .hsbcGP2007ContentArea h3
{
	font-family:"Times New Roman", Times, serif;
}
.hsbcGP2007BoxStyleContent a img
{
	vertical-align:bottom;
	border:0px none;
}
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007FauxRow
{
	background:#241942 url("redNotchBar.gif") bottom left no-repeat;
	padding-bottom:8px;
	width:868px;
	float:left;
}
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007FauxRow .hsbcGP2007FauxCol01
{
	width:598px;
	float:left;
}
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007FauxRow .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05
{
	background:url("hexagon.gif") top left repeat-x;
	padding:23px 0px 128px 22px;
}
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007FauxRow .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 h1
{
	color:#fff;
	font-size:137.5% !important;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	line-height:normal;
}
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007FauxRow .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 .hsbcGP2007BoxStyleContent
{
	padding:7px 0px 0px 28px;
	float:left;
}
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007FauxRow .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 .hsbcGP2007BoxStyleContent img
{
	float:left;
}
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007FauxRow .hsbcGP2007FauxCol01 .hsbcGP2007Style01
{
	padding:61px 0px 0px 25px;
	paddi\ng:61px 0px 0px 37px;
	float:left;
}
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007FauxRow .hsbcGP2007FauxCol01 .hsbcGP2007Style01 .hsbcGP2007Row
{
	width:143px;
}
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007FauxRow .hsbcGP2007FauxCol02
{
	width:270px;
	float:left;
	padding:0px;
	margin:0px;
}
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007FauxRow .hsbcGP2007FauxCol02 img,
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007FauxRow .hsbcGP2007FauxCol02 img
{
	/*float:left;*/
	float:none!important;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle01 .hsbcGP2007BoxStyleContent 
{
	width:241px;
}
.hsbcGP2007ContentArea .hsbcGP2007ContainerInner .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle01 ul li 
{
	background:url("blueGreyArrow.gif") no-repeat left top; 
	margin:0px 0px 0px 2px; 
	padding:4px 20px 5px 10px; 
	line-height:normal;
	border-top:#d5d3da 1px solid; 
	font-size:68.75%;
	color:#241942;
}
.hsbcGP2007ContentArea .hsbcGP2007ContainerInner .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle01 ul li.hsbcGP2007FirstItem
{
	border-top:none; 
}
.hsbcGP2007ContentArea .hsbcGP2007ContainerInner .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007Row .hsbcGP2007BoxStyle02 ul li
{
	padding:4px 0px 14px 30px; 
	background-position:left top; 
	font-size:75%; 
	line-height:normal; 
	background-repeat:no-repeat; 	
}
.hsbcGP2007ContentArea .hsbcGP2007ContainerInner .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle02 ul li 
{
	padding:4px 0px 14px 30px; 
	background-position:left top; 
	font-size:75%; 
	line-height:normal; 
	background-repeat:no-repeat; 	
}
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007Row .hsbcGP2007Column01
{
	width:368px;
	margin:6px 0px 0px 22px;
	display:inline;
}
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007Row .hsbcGP2007Column02
{
	width:178px;	
	margin-top:4px;
	padding-bottom:10px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007Row .hsbcGP2007Column .hsbcGP2007BoxStyle02 h2
{
	font-size:150% !important; 
	color:#eb352f;
	margin:10px 10px 10px 2px !important;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007BoxStyle04 .hsbcGP2007Row .hsbcGP2007Column .hsbcGP2007BoxStyle03 h2 
{
	font-size:150% !important; 
	color:#eb352f !important;
	margin:15px 10px 9px 0px !important;
	float:left;
}
.hsbcGP2007ContentArea .hsbcGP2007Column p 
{
	padding:8px 0px;
	margin:0px !important;
	line-height:1.3125em;
}
.hsbcGP2007ContentArea .hsbcGP2007Column a
{
	color:#000;
}
.hsbcGP2007ContentArea .hsbcGP2007Column ul 
{
	margin:3px 0px 1px !important;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007Row .hsbcGP2007BoxStyle02 ul li a,
.hsbcGP2007ContentArea .hsbcGP2007ContainerInner .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle02 ul li a
{
	text-decoration:none;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007Row .hsbcGP2007BoxStyle02 ul li a:hover,
.hsbcGP2007ContentArea .hsbcGP2007ContainerInner .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle02 ul li a:hover
{
	text-decoration:underline;
}
.hsbcGP2007ContentArea .hsbcGP2007ContainerInner .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007ColControl02
{
	background:url("greyBorder.gif") bottom left no-repeat;
	padding-bottom:1px;
	width:568px;
	padding-left:0px;
}
.hsbcGP2007ContentArea .hsbcGP2007ContainerInner .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007ColControl03
{
	width:576px;
	margin-left:22px;
	display:inline;
}
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007ColControl03 .hsbcGP2007Column
{
	width:192px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle03 .hsbcGP2007ButtonStyle01
{
	margin:17px 0px 0px 22px;
	background-image:url("redButtonSmallLeft.gif");
	padding:0 0 8px 20px;
} 
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle03 .hsbcGP2007ButtonStyle01 .hsbcGP2007ButtonStyleContent
{
	background-image:url("redButtonSmallRight.gif");
	padding:1px 20px 5px 0px;
	font-size:87.50%;
} 
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle03 .hsbcGP2007ButtonStyle01 .hsbcGP2007ButtonStyleContent a
{
	line-height:137%;
} 
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007ColControl03 .hsbcGP2007Column h2
{
	margin:1px 20px 5px 0px !important;
	font-size:112.50% !important;
}
.hsbcGP2007ContentArea .hsbcGP2007ColControl03 .hsbcGP2007Column ul
{
	margin:3px 0px 0px !important;
}
.hsbcGP2007ContentArea .hsbcGP2007ContainerInner .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007ColControl03 .hsbcGP2007Column ul li 
{
	padding:0px 20px 1px 9px; 
}
.hsbcGP2007ContentArea .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle06
{
	margin:21px 0px 10px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle07
{
	margin:25px 0px 10px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle01 ul
{
	margin:0px !important;
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContainerInner
{
	margin:1px 0px 0px 0px;
	display:inline;
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007FauxRow
{
	background:#241942 url("redNotchBarContent.gif") bottom left no-repeat;
	padding-bottom:8px;
	width:653px;
	float:left;
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007FauxRow .hsbcGP2007FauxCol01
{
	width:433px;
	float:left;
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007FauxRow .hsbcGP2007FauxCol02
{
	width:220px;
	float:left;
	padding:0px;
	margin:0px;
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007FauxRow .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05
{
	background:url("hexagon.gif") top left repeat-x;
	float:left;
	padding:18px 0px 13px 22px;
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007FauxRow .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 h1
{
	color:#fff;
	font-size:187.5%;
	float:left;
	font-weight:normal;
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007FauxRow .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 .hsbcGP2007BoxStyleContent
{
	float:left;
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007FauxRow .hsbcGP2007FauxCol01 .hsbcGP2007Style01
{
	padding:50px 0px 0px 0px;
	float:left;
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007FauxRow .hsbcGP2007FauxCol01 .hsbcGP2007Style01 .hsbcGP2007Row
{
	width:142px;
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007FauxRow .hsbcGP2007FauxCol01 .hsbcGP2007Style02
{
	float:left;
	width:269px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle13 .hsbcGP2007Row .hsbcGP2007Column
{
	width:384px;
	margin:12px 30px 0px 19px;
	display:inline;
	float:left;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle13,
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle13 .hsbcGP2007Row,
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle14,
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle14 .hsbcGP2007Row
{
	float:left;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle14 .hsbcGP2007Row .hsbcGP2007Column
{
	width:393px;
	margin:11px 20px 0px 20px;
	display:inline;
	float:left;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle14 .hsbcGP2007Row .hsbcGP2007Column h2
{
	color:#eb352f;
	font-size:150% !important;
	font-weight:normal;
	margin:10px 0px !important;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle14 .hsbcGP2007Row .hsbcGP2007Column h3
{
	color:#241942;
	font-size:87.50% !important;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	margin:13px 0px 10px !important;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle14 .hsbcGP2007Row .hsbcGP2007Column ul
{
	margin:7px 0px 0px !important;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle14 .hsbcGP2007Row .hsbcGP2007Column ul li 
{
	background:url("greyBullet.gif") no-repeat left top; 
	margin:0px 0px 0px 15px; 
	padding:0px 20px 14px 9px; 
	line-height:normal;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle08 .hsbcGP2007BoxStyleContent
{
	float:left;
	border:1px solid #f0f0f2;
	background-color:#e9e8ec;
	padding:15px 10px 7px 15px;
	width:355px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007Row .hsbcGP2007Column .hsbcGP2007BoxStyle08 .hsbcGP2007BoxStyleContent h2
{
	font-weight:normal;
	font-size:112.50% !important;
	color:#2e1362;
	margin:0px !important;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007Row .hsbcGP2007Column .hsbcGP2007BoxStyle08 .hsbcGP2007BoxStyleContent p
{
	font-size:81.25%;
	color:#2e1362;
	padding:8px 0px 12px 2px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007Row .hsbcGP2007Column .hsbcGP2007BoxStyle08 .hsbcGP2007BoxStyleContent p a,
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007Row .hsbcGP2007Column .hsbcGP2007BoxStyle08 .hsbcGP2007BoxStyleContent ul li a
{
	color:#2e1362; 
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007Row .hsbcGP2007Column .hsbcGP2007BoxStyle08 .hsbcGP2007BoxStyleContent ul li
{
	color:#2e1362;
	background:url("greyBullet.gif") no-repeat left top; 
	margin:0px 0px 0px 15px; 
	padding:0px 20px 14px 9px; 
	line-height:normal;
	font-size:81.25%; 
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle02 h2
{
	font-size:150% !important; 
	color:#eb352f;
	margin:16px 0px 8px !important;
	font-weight:normal;
}
.hsbcGP2007ContentArea .hsbcGP2007ContainerInner .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle02 ul
{
	margin:0px 0px 10px;
}
.hsbcGP2007ContentArea .hsbcGP2007LogoBar .hsbcGP2007Content p a
{
	color:#fa0200;
	text-decoration:none;
	display:inline-block;
}
.hsbcGP2007ContentArea .hsbcGP2007LogoBar .hsbcGP2007Content p a:hover
{
	text-decoration:underline;
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007LogoBar
{ 
	width:653px;
}
a 
{
	color:#FF0000;
	text-decoration:underline;
}
.extPremier .IBPortlet div
{
	right:10px !important;
}
.containerGlobal .extPremier
{
	padding:0px;
}
.extPremier .containerFooter 
{
	clear:both;
	float:none;
	width:auto;
	margin-right:10px;
	padding-top:0;
}

.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle02
{
	float:left;
	width:100%;
	padding:0px;
	border:none;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle02 .hsbcGP2007BoxStyleContent
{
	padding-left:7px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007Row .hsbcGP2007Column h2
{
	font-weight:normal;
	padding:0px;
	line-height:1.1em;
	font-size:125%;
	color:#241942;
	margin:10px 20px 10px 0px;/**/
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007Row .hsbcGP2007Column ul li
{
	background:url("blueArrow.gif") no-repeat left top; 
	margin:0px 0px 0px 1px; 
	padding:0px 20px 7px 9px; 
	line-height:normal;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007Row .hsbcGP2007Column ul.infoList li
{
	background:url("info.gif") no-repeat left top;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle01
{
	background-color:#eeedf0;
	padding:0px 15px 6px 14px;
	margin:0;
	float:left;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle01 h2
{
	font-weight:normal; 
	font-size:112.50% !important; 
	margin:13px 0px 5px !important;
	color:#241942;
	padding:0;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007Row
{
	padding-left:0;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle03
{
	background:none;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle03 .hsbcGP2007BoxStyleContent
{
	padding:0;
}
.hsbcGP2007ContentArea .hsbcGP2007ButtonStyle01 .hsbcGP2007ButtonStyleContent a
{
	font-weight:bold;
	font-family:"Times New Roman", Times, serif;
	color:#fff;
	text-decoration:none;
	white-space:nowrap;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder
{
	border:none;
}
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007FauxBorder
{
	width:868px;
}
.hsbcGP2007ContentArea .hsbcGP2007ButtonStyle01
{
	padding-left:20px;
	background:url("redButtonLeft.gif") no-repeat left top;
	float:left;
	margin:0px;
}
.hsbcGP2007ContentArea .hsbcGP2007ButtonStyle01 .hsbcGP2007ButtonStyleContent
{
	background:url("redButtonRight.gif") no-repeat right top;
	float:left;
	padding:3px 20px 5px 0px;
	font-size:100%;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle02,
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle02
{
	padding-bottom:0;
	padding-top:0;
	margin-left:0;
}

.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle09 .hsbcGP2007Row .hsbcGP2007Column
{
	width:423px;
	margin:0px 10px 0px 0px;
	display:inline;
	float:left;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle09 .hsbcGP2007Row .hsbcGP2007Column h2
{
	color:#eb352f;
	font-size:150% !important;
	font-weight:normal;
	margin:0px 0px 2px !important;
}

.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle09 .hsbcGP2007Row .hsbcGP2007Column p 
{
	padding:8px 0px 4px;
	margin:0px !important;
	line-height:1.3125em;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle09 .hsbcGP2007Row .hsbcGP2007Column h3
{
	font-size:115%;
	color:#2e1362;
	font-weight:normal;
	padding-bottom:10px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle09 .hsbcGP2007Row .hsbcGP2007Column ul
{
	margin:0px;
	list-style:none;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle09 .hsbcGP2007Row .hsbcGP2007Column ul li
{
	margin:0px;
	padding:0px 0px 5px 8px;
	color:#2e1362; 
	background:url("boxStyle09_li_bg.gif") top left no-repeat;
	line-height:1.4em;
}
.hsbcGP2007ContentArea .hsbcGP2007ContainerInner .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle13 .hsbcGP2007ColControl02 .hsbcGP2007Column
{
	width:212px!important;
	wid\th:192px!important;
	padding:23px 20px 25px 0px;
	margin:0;
}
.hsbcGP2007ContentArea .hsbcGP2007ContainerInner .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle13 .hsbcGP2007ColControl02 .hsbcGP2007Column .hsbcGP2007BoxStyle10
{
	background:#c3c0cb url("boxStyle10_bg.gif") top repeat-x;
	float:left;
	width:192px;
	wid\th:160px;
	padding:11px 16px 0px;
	height:108px!important;
	overflow:hidden;
}
.hsbcGP2007ContentArea .hsbcGP2007ContainerInner .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle13 .hsbcGP2007ColControl02 .hsbcGP2007Column .hsbcGP2007BoxStyle10 h2
{
	font-size:115%;
	color:#2e1362;
	font-weight:normal;
	padding-bottom:13px;
}
.hsbcGP2007ContentArea .hsbcGP2007ContainerInner .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle13 .hsbcGP2007ColControl02 .hsbcGP2007Column .hsbcGP2007BoxStyle10 .hsbcGP2007ButtonStyle01
{
	padding-bottom:5px;
	clear:left;
}
.hsbcGP2007ContentArea .hsbcGP2007ContainerInner .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle13 .hsbcGP2007ColControl02 .hsbcGP2007Column .hsbcGP2007BoxStyle11
{
	background:#e9e8ec url("boxStyle11_bg.gif") bottom repeat-x;
	float:left;
	width:192px;
	wid\th:160px;
	padding:13px 16px 9px;
}
.hsbcGP2007ContentArea .hsbcGP2007ContainerInner .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle13 .hsbcGP2007ColControl02 .hsbcGP2007Column .hsbcGP2007BoxStyle11 p
{
	padding:0px 0px 4px;
	color:#2e1362;
}
.hsbcGP2007ContentArea .hsbcGP2007ContainerInner .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle13 .hsbcGP2007ColControl02 .hsbcGP2007Column .hsbcGP2007BoxStyle11 p.link
{
	padding:0px 0px 8px;
}
.hsbcGP2007ContentArea .hsbcGP2007ContainerInner .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle13 .hsbcGP2007ColControl02 .hsbcGP2007Column .hsbcGP2007BoxStyle11 p a,
.hsbcGP2007ContentArea .hsbcGP2007ContainerInner .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle13 .hsbcGP2007ColControl02 .hsbcGP2007Column .hsbcGP2007BoxStyle11 p.link a
{
	color:#2e1362;
}
.hsbcGP2007ContentArea .hsbcGP2007ContainerInner .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle13 .hsbcGP2007ColControl02 .hsbcGP2007Column .hsbcGP2007BoxStyle11 p a:hover,
.hsbcGP2007ContentArea .hsbcGP2007ContainerInner .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle13 .hsbcGP2007ColControl02 .hsbcGP2007Column .hsbcGP2007BoxStyle11 p.link a:hover
{	
	cursor:pointer;
}
.hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle03
{
	float:left;
	background:#241942 url("boxStyle03_bg.gif") top left repeat-x;
	color:#fff;
	margin:0px;
	padding:13px 15px;
}
.hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle03 .hsbcGP2007BoxStyleContent
{
	width:190px;
}
.hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle03 h2
{
	color:#fff;
	margin:0px;
	padding:0px 0px 11px 0px;
	font-weight:normal;
	font-size:100%;
}
.hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle03 ul
{
	color:#fff;
	margin:0px;
	padding:0px;
}
.hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle03 ul li
{
	color:#fff;
	margin:0px;
	padding:0px 0px 3px 12px;
	list-style:none;
	line-height:normal;
	background:url("boxStyle03_li_bg.gif") top left no-repeat;
}
.hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle03 p
{
	color:#fff;
	background:url("boxStyle03_p_bg.gif") top left no-repeat;
	padding:0px 10px 0px 29px;
	margin:26px 0px 0px;
}
.hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle03 p a
{
	color:#fff;
	text-decoration:none;
}
.hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle03 p span
{
	text-decoration:underline;
}

.hsbcGP2007ContentArea .hsbcGP2007LogoBar
{
	width:868px;
}