/* HW2008Amend */
.hsbcGP2007ExtOneCol .hsbcGP2007ContainerInner
{
	padding:0px;
	display:inline;
	margin:0px            ;
}
/* HW2008Amend */
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01
{
	width:598px;
}
/* HW2008Amend */
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 
{
	width:270px;
}

/* HW2008Deletions */

/*.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 .hsbcGP2007Style01 
{
	width:307px;
}
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 .hsbcGP2007Style02 .hsbcGP2007Row .hsbcGP2007Column
{
	width:269px;
}
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007FauxBorder
{
	background-image:url("../../images/gp/1col/shadow.png");
}
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007Row
{
	width:610px;
	wid\th:578px;
}
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007Row .hsbcGP2007Column
{
	width:269px;
}
*/

/* HW2008Amend */
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007ColControl01 .hsbcGP2007Column
{
	width:576px;
	margin-left:22px;
	display:inline;
	padding-bottom:10px;
}

/* Content styles */

.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007ContentRow01
{
	width:975px;
}
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007ColumnControl01
{
	width:585px;
}
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007ColumnControl01 .hsbcGP2007ContentRow01
{
	width:585px;
}
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007ColumnControl02
{
	width:350px;
}
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007ColumnControl02 .hsbcGP2007ContentRow01
{
	width:350px;
}

/* HW2008Deletions */

/*.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007BoxStyle09 .hsbcGP2007Content
{
	background:url("../_images/red-line-notch.gif") top left no-repeat;
}
.hsbcGP2007ExtOneCol .hsbcGP2007ContentArea .hsbcGP2007BoxStyle08 .hsbcGP2007Content .hsbcGP2007Column
{
	width:276px;
}*/