/*@import url("entity.css");*/
div.hsbcEntity
{
	float:left;
	font-size:68%;
	clear:both;
	width:100%;
	background:#eee;
}
div.hsbcEntity a
{
	color:#666;
	text-decoration:none;
}
div.hsbcEntity a:hover,
div.hsbcEntity a:focus
{
	text-decoration:underline;
}
div.hsbcEntity div.hsbcEntityTextArea01
{
	padding:5px 0;
	color:#333;
}
div.hsbcEntity div.hsbcEntityTextArea02
{
	float:right;
	background:url("bgEntityTextArea02.gif") bottom left repeat-x;
}
div.hsbcEntity div.extNoneSelected
{
	background:none;
}
div.hsbcEntity p
{
	padding:5px 0 0 40px;
	margin:0;
	float:left;
	position:relative;
	right:1px;
	border-left:1px solid #eee;
}
div.hsbcEntity p span
{
	position:absolute;
	left:-999px;
	top:-999px;
	width:20px;
	height:20px;
}
div.hsbcEntity p a
{
	color:#999;
}
div.hsbcEntity ul
{
	display:inline;
	padding:0px;
	margin:0px;
}
div.hsbcEntity ul li
{
	float:left;
	list-style: none;
	margin:0;
	padding:0 10px 0 8px;
	background: url("bgEntityTabDivider.gif") no-repeat right;
}
div.hsbcEntity ul li a
{
	display:block;
	float:left;
	color:#666;
	height:19px;
	padding:5px 0 0;
}
div.hsbcEntity ul li a:hover,
div.hsbcEntity ul li a:focus
{
	text-decoration: underline;
	color:#f00;
}
div.hsbcEntity ul li.hsbcEntityTabSelected
{
	background:#fff;
	padding-right:0;
	position:relative;
	right:1px;
}
div.hsbcEntity ul li.hsbcEntityTabSelected a
{
	background:#fff;
	padding-right:7px;
	padding-left:1px;
	color: #f00;
	border-right:1px solid #ccc;
}
div.hsbcEntity ul li.hsbcEntityTabSelected a:hover
{
	text-decoration:none;
}
div.hsbcEntity ul li.extLeftOfSelected
{
	background-color:#eee;
}

div.hsbcEntity ul li.skipLink
{
	margin:0px;
	padding:0px;
	text-align:center;
}
div.hsbcEntity ul li.skipLink
{
	background-image:none;
}
div.hsbcEntity ul li.skipLink a
{
	position:absolute;
	left:-300em;
	top:-300em;
}
div.hsbcEntity ul li.skipLink a:active,
div.hsbcEntity ul li.skipLink a:focus
{
	position:absolute;
	left:19%;
	top:4px;
	white-space:nowrap;
	margin:0 auto;	
	padding:0;
	background-color:#fdfdfd;
	width:110px;
}
/*@import url("logo.css");*/
div.hsbcLogoAndSearch
{
	float:left;
	width:100%;
	padding:7px 0 3px;
}
div.hsbcLogoAndSearch .hsbcTagLine
{
	float:left;
	vertical-align:middle;
	padding:20px 0px;
	font:bold 14px Arial, Helvetica, sans-serif;
	color:#f00;
}
div.hsbcLogoAndSearch .hsbcLogo
{
	float:left;
	vertical-align:middle;
	margin-top:6px;
	margin-left:37px;
}
div.hsbcDivletSearch
{
	float:right;
	text-align:right;
	font-size:68%;
	margin-top:18px;
	padding-right:49px;
	color:#666;
}
div.hsbcDivletSearch fieldset
{
	border:none;
	padding:0;
	margin:0;
}
div.hsbcDivletSearch input
{
	vertical-align:middle;
	font-size:100%;
	color:#666;
}
div.hsbcDivletSearch input.button
{
	border:none;
	background:none;
	text-decoration:underline;
	padding:0;
	margin:0;
	font-size:90%;
	cursor:pointer;
}
/*@import url("maintabs.css");*/
div.containerTabMenu
{
	float:left;
	width:100%;
}
div.hsbcDivletTabMenu
{
	clear:left;
	padding:0;
}
div.hsbcDivletTabMenuInner
{
	background:url("tab_bg.gif") repeat-x left bottom;
	float:left;
	width:100%;
}
div.hsbcDivletTabMenu ul
{
	height:46px;
	width:788px;
	margin:0;
	padding:0;
	float:left;
	padding:0 0 0 48px;
}
div.hsbcDivletTabMenu ul li
{
	margin:0;
	padding:0 0 0 7px;
	list-style:none;
	float:left;
	height:46px;
	background:url("tab_off_left.gif") no-repeat top left;
	text-align:center;
}
div.hsbcDivletTabMenu ul li a
{
	padding:5px 12px 0 5px;
	margin:0;
	height:41px;
	line-height:30px;
	float:left;
	display:block;
	background:url("tab_off_right.gif") no-repeat top right;
	text-decoration:none;
	color:#666;
	font-size:68%;
	font-weight:normal;
	vertical-align:50%;
}
body div.hsbcDivletTabMenu ul li a:hover
{
	color:#f00;
	text-decoration:none;
}

div.hsbcDivletTabMenu ul li.extRightAlign,
.pageContentOuter .pageContentInner .hsbcColumn .hsbcContent .extRightAlign
{
float:right;
}

div.hsbcDivletTabMenu ul li.hsbcDivletTabMenuEnd
{
	margin-right:12px;
}
div.hsbcDivletTabMenu ul li.hsbcDivletTabMenuEnd a
{
	background-image:url("tab_off_right_end.gif");
	padding-right:15px;
}
div.hsbcDivletTabMenu ul li.hsbcDivletTabMenuSelected
{
	background:url("tab_on_left.gif") no-repeat top left;
}
body div.hsbcDivletTabMenu ul li.hsbcDivletTabMenuSelected a
{
	background:url("tab_on_right.gif") no-repeat top right;
	color:#f00;
}
div.hsbcDivletTabMenu ul li.hsbcDivletTabMenuEnd.hsbcDivletTabMenuSelected a
{
	background-image:url("tab_on_right_end.gif");
}
div.hsbcDivletTabMenu ul li.extRightAlignTab
{
	float:right!important;
	display:inline;
}
div.hsbcDivletTabMenu ul li.extRightAlignTab a
{
	padding-right:16px;
}
div.hsbcDivletTabMenu ul li a.extDoubleLine
{
	/* Mac IE fix \*/
	line-height:13px;
	padding-top:7px;
	height:39px;
	/*  */
}
div.hsbcDivletTabMenu ul li a.extDoubleLine br
{
	float:left;
	/* Mac IE fix \*/
	float:none;
	/*  */
}
/*@import url("leftnav.css");*/
.pageLeftNavOuter
{
	float:left;
	width:220px;
}
.extPageStyle01 .pageLeftNavOuter
{
	display:none;
}
.pageLeftNavInner
{
	float:left;
	padding:0 25px 20px 0;
	margin-top:35px;
}
.pageLeftBlock
{
	padding:0 0 8px 0;
	margin:9px 0 0 0;
	border-bottom:1px solid #dedede;
	background-repeat:no-repeat;
	background-position:top right;
	width:195px;
}
.blockBg01
{
	background-image:url("mouse.jpg");
}
.blockBg02
{
	background-image:url("doorhandle.jpg");
}
.blockBg03
{
	background-image:url("france.gif");
}
.blockBg04
{
	padding-top:3px;
	border-top:1px solid #dedede;
}
.blockBg05
{
	background-image:url("phone.gif");
}
.blockBg06
{}
.pageLeftBlock h1
{
	font-size:94%;
	color:#999;
	font-weight:normal;
	padding:0 0 5px 25px;
	margin:0 0 0 0;
	width:170px;
	overflow:hidden;
}
.pageLeftBlock h1 span
{
	font-size:200%;
	color:#000;
	display:block;
}
.pageLeftBlock h2
{
	font-size:81%;
	color:#666;
	font-weight:normal;
	padding:12px 0 0 25px;
	margin:0 0 10px;
	background:url("bgH2.gif") top left no-repeat;
}
.pageLeftBlock h2 span
{
	clear:left;
	color:#000;
	display:block;
}
.blockBg01 h2
{
	margin-bottom:14px;
}
.blockBg01 h2,
.blockBg02 h2,
.blockBg03 h2,
.blockBg05 h2,
.blockBg06 h2
{
	margin-right:60px;
}
.pageLeftBlock h2 a
{
	color:#666;
}
.pageLeftBlock input
{
	vertical-align:middle;
}
.pageLeftBlock p
{
	font-size:68%;
	color:#999;
	padding:0 0 0 25px;
	margin:0 0 10px;
}
.pageLeftBlock p a
{
	color:#666;
}
.pageLeftBlock p a img
{
	vertical-align:middle;
}
.pageLeftBlock .extDecorationImage
{
	float:right;
}
.pageLeftBlock form
{
	padding:0 0 10px 25px;
	margin:0;
	position:relative;
	bottom:4px;
}
.pageLeftBlock form fieldset
{
	border:none;
	padding:0;
	margin:0;
}
.pageLeftBlock form label
{
	font-size:68%;
	color:#999;
	display:block;
}
.pageLeftNav
{
	float:left;
}
.pageLeftNav ul
{
	margin:0;
	padding:10px 0 10px;
	list-style:none;
}
.pageLeftNav ul li
{
	margin:0;
	padding:3px 0 12px 24px;
	background:url("bgList.gif") top left no-repeat;
	width:171px;
}
.pageLeftNav ul li a,
.pageLeftNav ul li span
{
	font-size:111%;
	text-decoration:none;
	color:#f00;
	display:block;
	padding:7px 0 7px 0;
	border-bottom:1px solid #d6d6d6;
}
.pageLeftNav ul li a:hover
{
	text-decoration:underline;
}
.pageLeftNav ul ul
{
	background:none;
	padding:0;
}
.pageLeftNav ul li ul li
{
	margin:0;
	padding:0;
	background:none;
}
.pageLeftNav ul li ul li a,
.pageLeftNav ul li ul li span
{
	padding:10px 0 7px;
	color:#666;
	font-size:74%;
	line-height:110%;
}
.pageLeftNav ul li ul li span
{
	color:#333;
	font-weight:bold
}
.pageLeftNav ul li ul li ul li a
{
	padding-left:15px;
}
.pageLeftNav ul li a.pageLeftNavSelected
{
	border-bottom-color:#fcc;
	color:#f00;
}
.pageLeftNav ul li a.pageLeftNavSelected:hover
{
	text-decoration:none;
	/*cursor:text;*/
}
.pageLeftNavText
{
	float:left;
	width:173px;
	padding-top:3px;
}
.extLeftNavBannerLink
{
	margin:0 0 15px 25px;
	width:170px;
	overflow:hidden;
	float:left;
	display:inline;
}
.extLeftNavContactLink,
.extLeftNavSitesLink,
.extLeftNavRssLink
{
	margin:0 0 15px 25px;
	width:170px;
	overflow:hidden;
	background:url("ContactLink_top.gif") top right no-repeat;
}
.extLeftNavContactLink div.innerWrapper,
.extLeftNavSitesLink div.innerWrapper,
.extLeftNavRssLink div.innerWrapper
{
	margin:0px;
	padding:10px 10px 10px 10px;
	background:url("ContactLink_bottom.gif") bottom right no-repeat;
}
.extLeftNavContactLink p,
.extLeftNavSitesLink p,
.extLeftNavRssLink p
{
	color:#666666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:69%;
	font-weight:normal;
	margin:0px;
}
.extLeftNavContactLink p span,
.extLeftNavSitesLink p span,
.extLeftNavRssLink p span
{
	font-size:175%!important;
	margin-bottom:10px!important;
	display:block;
}
.extLeftNavContactLink a,
.extLeftNavSitesLink a,
.extLeftNavRssLink a
{
	margin:0px;
	color:#f00;
	line-height:normal;
	font-family:Arial, Helvetica, sans-serif;
	font-size:69%;
	font-weight:normal;
	text-decoration:underline;
}

.extLeftNavSitesLink
{
	background:url("SitesLink_top.gif") top right no-repeat;
}
.extLeftNavSitesLink a
{
	color:#666;
	display:block;
	margin-bottom:10px;
}
.extLeftNavRssLink
{
	background-image:url("rssLink_top.gif");
}
.extLeftNavRssLink select
{
	margin-top:15px;
	font-size:74%;
	color:#999;
}

/*@import url("langlogin.css");*/
.hsbcContentStyle26
{
	width:100%;
}
.hsbcContentStyle26a
{
	height:45px;
	padding-right:36px;
}
.hsbcContentStyle26b
{
	float:right;
	padding-top:8px;
	white-space:nowrap;
}
.extPageStyle01 .hsbcContentStyle26a
{
	padding-right:31px;
	position:relative;
	top:-3px;
}
.extPageStyle01 .hsbcContentStyle26b
{
	padding-top:0;
}
.hsbcContentStyle26b *
{
	vertical-align:middle;
}
.hsbcContentStyle26c
{
	font-size:68%;
	float:left;
	display:inline;
}
.hsbcContentStyle26c a
{
	margin-left:9px;
}
.hsbcContentStyle26c img
{
	
}
.hsbcContentStyle26d
{
	font-size:68%;
	display:inline;	
}
.hsbcContentStyle26d a
{
	color:#666;
	text-decoration:none;
}
.hsbcContentStyle26d a:hover
{
	text-decoration:underline;
}
.hsbcContentStyle26d ul
{
	margin:0px;
	padding:3px 0px;
	list-style:none;
	float:left;
	position:relative;
	z-index:2;
	overflow:hidden;
} 
.hsbcContentStyle26d ul li
{
	color:#666;
	float:left;
	background:url("pipe.gif") no-repeat left;
	padding-left:9px;
	margin-left:6px;
	position:relative;
	right:8px;
	z-index:1;
}
/*@import url("hsbcContentStyles.css");*/
/************
 hsbcContent*/
.hsbcContent ul
{
	padding:0;
	margin:0 0 10px;
	list-style:none;
}
.hsbcContent ul ul
{
	margin:0;
}
.hsbcContent ul li
{
	background:url("listBullet01.gif") no-repeat left top;
	padding:2px 0 12px 14px;
	height:1%;
	font-size:74%;
	line-height:120%;
	color:#666;
}
.hsbcContent ul li li
{
	font-size:100%;
	padding-bottom:0;
	margin:4px 0 0;
}
.hsbcContent ol
{
}
.hsbcContent ol li
{
	padding:0;
	font-size:74%;
	line-height:120%;
	color:#666;
}
.hsbcContent ol li h3,
.hsbcContent ol li p
{
	font-size:100%;
}
.hsbcContent h1
{
	font-size:162%;
	font-weight:normal;
	padding:0;
	margin:5px 0 13px;
	color:#666;
}
.hsbcContent h2
{
	font-size:111%;
	font-weight:normal;
	padding:0;
	margin:0 0 20px;
	color:#666;
}
.hsbcContent h3
{
	font-size:74%;
	color:#666;
	padding:0;
	margin:0 0 10px;
}
.hsbcContent p
{
	font-size:74%;
	color:#666;
	padding:0;
	margin:0 0 12px;
	/*clear:left;*/
}
.hsbcContent dl
{
	padding:0;
	margin:0;
}
.hsbcContent dt
{
	padding:0;
	margin:0;
	font-size:74%;
	font-weight:bold;
}
.hsbcContent dd
{
	padding:0;
	margin:0 0 10px;
	font-size:74%;
}
.hsbcContent a
{
	color:#f00;
	text-decoration:none;
}
.hsbcContent a:hover
{
	text-decoration:underline;
}
.hsbcContent dt,
.hsbcContent dd
{
	font-size:74%;
	color:#666;
}
div.hsbcContent fieldset
{
	border:none;
	padding:0;
	margin:0;
	display:inline;
}
.hsbcContent label
{
	font-size:74%;
	color:#666;
}
.hsbcContent input,
.hsbcContent select
{
	vertical-align:middle;
	font-size:74%;
	color:#666;
}
.hsbcContent textarea
{
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:74%;
}
.hsbcContent input.button
{
	border:none;
	background:none;
	text-decoration:underline;
	padding:0;
	margin:0;
	font-size:68%;
	cursor:pointer;
}
.hsbcContent table
{
	width:100%;
	border:1px solid #ececec;
	border-collapse:collapse;
	font-size:100%;
	color:#666;
	margin:15px 0;
}
.hsbcContent table td,
.hsbcContent table th
{
	font-size:74%;
	text-align:center;
	padding:6px;
	border-left:1px solid #ededed;
}
.hsbcContent table thead th
{
	background:#e1e1e1 url("table-header.gif") repeat-x bottom left;
	color:#8e8e8e;
	border-left-color:#fff;
	vertical-align:top;
}
.hsbcContent table tbody td
{
	background:url("dotted-line.gif") repeat-x bottom left;
}
.hsbcContent table td a
{
	color:#666;
	vertical-align:middle;
}
/*******************
 hsbcColumnStyle01 - two column faded border joining*/
.hsbcColumnStyle01
{
	border:1px solid #d8d8d8;
	border-left-color:#f0f0f0;
	border-right-color:#dcdcdc;
	border-top:none;
	margin:2px 0 5px;
	padding:15px 0 18px;
	background:url("columnBg01.gif") repeat-x left bottom;
	float:left;
}
.hsbcColumnStyle01a
{
	background:url("columnBg01a.gif") no-repeat left bottom;
	float:left;
}
/*******************
 hsbcColumnStyle02 - two column faded border joining (with top border)*/
.hsbcColumnStyle02
{
	border:1px solid #d8d8d8;
	border-left-color:#f0f0f0;
	border-top-color:#f0f0f0;
	border-right-color:#dcdcdc;
	margin:2px 0 5px;
	padding:15px 0 18px;
	background:url("columnBg01.gif") repeat-x left bottom;
	float:left;
}
.hsbcColumnStyle02 .hsbcContent
{
	padding:0 5px;
}
/*******************
 hsbcColumnStyle03 - line between 2 columns, lines under a pair of content blocks*/
.hsbcColumnStyle03a
{
	background: url("columnBg03a.gif") repeat-y top;
	float:left;
}

.hsbcColumnStyle04 .hsbcColumnStyle03a,
.hsbcColumnStyle05 .hsbcColumnStyle03a
{
	background-image:url("columnBg04-3a.gif");
	padding:15px 0 18px;
}
.hsbcColumnStyle03b
{
	background:url("columnBg03b.gif") no-repeat bottom;
	float:left;
	margin:10px 0;
}
.hsbcColumnStyle03c
{
	float:left;
	margin:10px 0 0;
}
/*******************
 hsbcColumnStyle04 - joined columns with split visual design*/
.hsbcColumnStyle04
{
	border:1px solid #f0f0f0;
	border-right-color:#dcdcdc;
	border-top:none;
	border-bottom:none;
	margin:2px 0 5px;
	padding:0;
	background:url("columnBg04.gif") repeat-x left bottom;
	float:left;
}

/*******************
 hsbcColumnStyle05 - joined columns with split visual design*/
.hsbcColumnStyle05
{
	border:1px solid #f0f0f0;
	border-right-color:#dcdcdc;
	border-top:none;
	border-bottom:none;
	margin:50px 0 5px 0;
	padding:0;
	background:url("columnBg04.gif") repeat-x left bottom;
	float:left;
}

/*******************
 hsbcColumnStyle07 - split colums with aligning heights*/
.hsbcColumnStyle07
{
	float:left;
	margin:4px 0;
}
.hsbcColumnStyle07 .hsbcColumn
{
	border:1px solid #f0f0f0;
	margin:0 6px 0 0;
	border-right-color:#d9d9d9;
	border-bottom:none;
	background:url("columnBg04.gif") repeat-x left bottom;
}


/*******************
 hsbcContentStyle01 - linked banners without div structure between them*/
.hsbcContentStyle01 a
{
	border-right:5px solid #fff;
}
/*******************
 hsbcContentStyle02 - Paper strip*/
.hsbcContentStyle02
{
	float:right;
	position:relative;
}
.hsbcContentStyle02 p
{
	font-size:68%;
	background:#fbfbfb;
	padding:4px 22px 6px 10px;
	margin:9px 0 12px 0;
	border-bottom:1px solid #f6f6f6;
	border-right:1px solid #f6f6f6;
}
.hsbcContentStyle02 p a,
.hsbcContentStyle02 p a:hover
{
	color:#333;
	text-decoration:none;
}
.hsbcContentStyle02 span
{
	position:absolute;
	width:31px;
	height:31px;
	top:4px;
	right:-10px;
	background: url("paperclip.gif") bottom right no-repeat;
}
.hsbcContentStyle02 p a span
{
	position:relative;
	top:0;
	right:0;
	height:auto;
	width:auto;
}
/*******************
 hsbcContentStyle03 - Call to action area */
.hsbcContentStyle03
{
	float:right;
	width:300px;
	border-left:25px solid #fff;
	border-bottom:10px solid #fff;
}
.hsbcContentStyle03 a
{
	margin-bottom:5px;
	float:left;
}
.hsbcContentStyle03 p
{
	padding:0 0 5px 14px;
	margin:0;
	font-size:59%;
}
/*******************
 hsbcContentStyle04 - Call to action box */
.hsbcContentStyle04
{
	background:url("bgCallToAction01a.gif") no-repeat top right;
	background-position:left top;
	margin-bottom:16px;
	margin-right:0;
	padding-right:0;
	border-right:1px solid #e2e2e2;
}
.hsbcContentStyle03 .hsbcContentStyle04
{
	background-image:url("bgCallToAction01.gif");
	background-position:right top;
	border:none;
	margin-bottom:5px;
}
.hsbcContentStyle04a
{
	padding:1px 1px 1px 16px;
	background:url("bgCallToAction02a.gif") no-repeat bottom left;
}
.hsbcContentStyle03 .hsbcContentStyle04a
{
	padding-left:13px;
	background-image:url("bgCallToAction02a.gif");
}
.hsbcContentStyle04b
{
	padding:18px 10px 18px 10px;
	background:url("bgCallToAction03.gif") repeat-x bottom right;
}
.hsbcContentStyle04b h2
{
	font-size:119%;
	font-weight:normal;
	padding:0;
	margin:0 19px 3px 12px;
}
.hsbcContentStyle04b p
{
	color:#f00;
	font-weight:normal;
	margin:4px 19px 5px 12px;
	padding:0;
	font-size:78%;
}
.hsbcContentStyle04b p span
{
	font-weight:bold;
	color:#666;
	white-space:nowrap;
}
.hsbcContentStyle04b a
{
	float:none;
}
.hsbcContentStyle04b ul
{
	padding-left:12px;
	margin-bottom:0;
}
.hsbcContentStyle04b form
{
	padding:0 19px 0 12px;
	display:block;
}
.hsbcContentStyle04b label
{
	font-size:68%;
	color:#666;
	float:left;
	padding-bottom:3px;
}
.hsbcContentStyle04b input
{
	vertical-align:middle;
}
.hsbcContentStyle04b p.hsbcTextStyle07
{
	color:#666;
	margin:0 0 0 5px;
	padding:0;
	border:none;
	font-size:111%;
	text-align:center;
}
.hsbcContentStyle04b p.hsbcTextStyle07 span
{
	color:#f00;
}
.hsbcContentStyle04b h2.hsbcTextStyle08
{
	margin:2px 5px 3px 12px;
	font-size:86%;
}
.hsbcContentStyle04b a.hsbcTextStyle16,
.hsbcContentStyle04b input.hsbcTextStyle16
{
	float:right;
	margin:0;
	position:relative;
	bottom:6px;
} 
.hsbcContentStyle04b input.hsbcTextStyle16
{
	vertical-align:baseline;
}
.hsbcContentStyle04b .hsbcContentStyle12
{
	width:45%;
	float:left;
}
/*******************
 hsbcContentStyle05 - content page header */
.hsbcContentStyle05
{
	padding-top:4px;
	padding-bottom:27px;
}
.hsbcContentStyle05b
{
	padding-top:4px;
	padding-bottom:4px;
}
.hsbcContentStyle05b h1,
.hsbcContentStyle05 h1
{
	font-size:210%;
	margin-bottom:7px;
	margin-top:0;
}
.hsbcContentStyle05b p,
.hsbcContentStyle05 p 
{
	padding:0;
	margin:0;
	font-size:111%;
}
/*******************
 hsbcContentStyle06 - in page nav list */
ul.hsbcContentStyle06
{
	background:url("dotted-line.gif") repeat-x bottom left;
	padding-bottom:20px;
	margin-bottom:20px;
}
ul.hsbcContentStyle06 li
{
	background:url("listArrow01.gif") no-repeat top left;
	padding-bottom:4px;
	padding-left:10px;
}
.hsbcContentStyle06 a
{
	color:#666;
	font-weight:bold;
}
/*******************
 hsbcContentStyle07 - Used on bottom of home page for split column content*/
.hsbcContentStyle07
{
	padding:0 13px 0 19px;
}
.hsbcContentStyle07 h2
{
	color:#666;
	margin-bottom:0;
	padding-bottom:20px;
	margin-right:15px;
	border-bottom:1px solid #dedede;
}
.hsbcContentStyle07 h2 a
{
	color:#f30000;
}
.hsbcContentStyle07 p
{
	font-size:74%;
	color:#666;
	padding:8px 0 0;
	margin:0 15px 5px 0;
}
.hsbcContentStyle07 p a
{
	color:#999;
}

.hsbcContentStyle07 ul li
{
	background:none;
	border-bottom:1px solid #dedede;
	padding:8px 0px 6px;
	margin:0;
	height:1%;
	font-size:74%;
	line-height:120%;
	clear:left;
}
.hsbcContentStyle07 ul li a
{
	color:#666;
}
.hsbcContentStyle07 dl
{
	padding-left:10px;
}
.hsbcContentStyle07 dl dt a
{
	text-decoration:underline;
}
/*******************
 hsbcContentStyle08 - landing pages */
.hsbcContentStyle08
{
	margin:0 12px 0 18px;
}
.hsbcContentStyle08 h2
{
	margin-bottom:7px;
}
.hsbcContentStyle08 h3
{
	font-size:86%;
	margin-top:15px;
	padding-top:15px;
	border-top:1px solid #ccc;
}
.hsbcContentStyle08 h2,
.hsbcContentStyle08 h3,
.hsbcContentStyle08 p
{
	color:#666;
	padding-left:5px;
}
.hsbcContentStyle08 h2 a
{
	color:#666;
}
.hsbcContentStyle08 h3 a
{
	color:#f00;
}
.hsbcContentStyle08 ul
{
	padding-left:18px;
}

.hsbcContentStyle08 p,
.hsbcContentStyle08 ul li
{
	font-size:68%;
}
.hsbcContentStyle08 p
{
	line-height:1.5em;
}
.hsbcContentStyle08a
{
	background:url("columnBg03b.gif") no-repeat left bottom;
	padding-bottom:3px;
	margin-bottom:17px;
}
/*******************
 hsbcContentStyle09 - landing pages */
.hsbcContentStyle09
{
	padding:0 26px;
}
.hsbcContentStyle09 h2
{
	margin-bottom:10px;
}
.hsbcContentStyle09 ul
{
	padding-bottom:0;
}
.hsbcContentStyle09 ul li
{
	background-image:url("listStyle02.gif");
	padding-bottom:5px;
	padding-right:30px;
}
/*******************
 hsbcContentStyle10 - search results */
.hsbcContentStyle10
{
}
.hsbcContentStyle10 ol
{
	padding:0;
	margin:0;
	clear:both;
}
.hsbcContentStyle10 ol li
{
	padding:14px 18px 16px;
	margin:0;
	list-style:none;
	background:url("dotted-line.gif") repeat-x top left;
}
.hsbcContentStyle10 ol li h3
{
	padding:0;
	margin:0;
}
.hsbcContentStyle10 ol li h3 a
{
	color:#000;
	text-decoration:underline;
}
.hsbcContentStyle10 ol li p
{
	padding:0;
	margin:0;
}
.hsbcContentStyle10 ol li.extlistStyle01
{
}
.hsbcContentStyle10 ol li.extlistStyle02
{
	background-color:#f9f9f9;
}
.hsbcContentStyle10a
{
	padding:0 10px;
}
.hsbcContentStyle10b
{
	padding:10px 0;
	width:100%;
	background:#e1e1e1 url("bgContentStyle10b.gif") repeat-x bottom left;
	position:relative;
	top:1px;
	float:left;
}
.hsbcContentStyle10b .hsbcPosition01
{
	padding-right:12px;
}
.hsbcContentStyle10b .hsbcPosition02
{
	padding-left:12px;
}
.hsbcContentStyle10b a img
{
	float:left;
}
.hsbcContentStyle10b ul
{
	padding:0;
	margin:0;
}
.hsbcContentStyle10b ul li
{
	padding:2px 11px;
	margin:0;
	float:left;
	background:none;
	font-size:68%;
}
.hsbcContentStyle10b ul li a
{
	color:#333;
	text-decoration:underline;
	margin:0;
}
.hsbcContentStyle10b ul li.extSelected a
{
	color:#8e8e8e;
	text-decoration:none;
	cursor:text;
}
/*******************
 hsbcContentStyle11 - Chart styling (place holder for java/flash? charting output?) */
.hsbcContentStyle11
{
	padding:0 0 10px 0;
}
/*******************
 hsbcContentStyle12 - sub landing page contact form also used on the 'logo page'*/
.hsbcContentStyle12
{
	padding:0 12px 0 3px;
}
.hsbcContentStyle12a
{
	padding:0 12px 0 0;
}
.hsbcContentStyle12 h2,
.hsbcContentStyle12a h2
{
	margin:0;
	padding:0 0 5px 20px;
	background:url("bgH2-02.gif") no-repeat top left;

}
.hsbcContentStyle04b .hsbcContentStyle12 h2
{
	background:none;
}
.hsbcContentStyle12a h2
{
	position:relative;
	left:-1px;
}
.hsbcContentStyle12 p
{
	color:#f00;
	font-size:111%;
	font-weight:normal;
	margin:5px 15px 10px 20px;
	padding:8px 0;
	border-top:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
}
.hsbcContentStyle12 a
{
	float:none;
	margin:0;
}
.hsbcContentStyle04b .hsbcContentStyle12 a
{
	font-size:68%;
	margin:25px 0 0 20px;
	float:left;
	color:#666;
	text-decoration:underline;
}
.hsbcContentStyle12 p span
{
	font-weight:bold;
	color:#666;
	white-space:nowrap;
}
.hsbcContentStyle12 form
{
	padding:0 17px 0 20px;
}
.hsbcContentStyle12 form h2
{
	background:none;
	padding-left:0;
}
.hsbcContentStyle12 label
{
	font-size:68%;
	color:#666;
	padding-bottom:3px;
	display:block;
	width:100%;
}
.hsbcContentStyle12 h2 label
{
	font-size:100%;
	display:inline;
	padding-bottom:15px;
}
.hsbcContentStyle12 input
{
	vertical-align:middle;
}
/*.hsbcContentStyle##12a .textStyle##01
{
	padding:0 0 10px 20px;
	margin:0;
	font-size:94%;
	color:#f00;
}
.hsbcContentStyle##12a .textStyle##02
{
	padding:0 0 20px 20px;
	margin:0;
	font-size:68%;
}
.hsbcContentStyle##12a a
{
	margin-left:20px;
}*/
/*******************
 hsbcContentStyle13 - table wrapper */
.hsbcContentStyle13
{
	padding:5px;
	border:1px solid #ececec;
	margin:15px 0;
}
.hsbcContentStyle13 table
{
	border-color:#fff;
	margin:0;
}
/*******************
 hsbcContentStyle14 - content headers */
div.hsbcContentStyle14
{
	margin-bottom:20px;
	padding-right:0;
}
/*******************
 hsbcContentStyle15 - Back to top links*/
p.hsbcContentStyle15
{
	margin-top:25px;
	padding-bottom:10px;
	background:url("dotted-line.gif") repeat-x bottom left;
	margin-bottom:15px;
}
.hsbcContentStyle15 a
{
	color:#666;
}	
/*******************
 hsbcContentStyle16 - In page tabs*/
.hsbcContentStyle16{}
/*******************
 hsbcContentStyle17 - content 'cut outs'*/
.hsbcContentStyle17
{
	float:right;
	clear:right;
	background:#f9f9f9 url("bgContentStyle17.gif") no-repeat top left;
	width:230px;
	border:10px solid #fff;
	border-right-width:18px;
	border-top:none;
	padding:15px 15px 15px 35px;
}
.hsbcContentStyle17 p
{
	margin:0;
	padding:0;
	font-size:94%;
}
/*******************
 hsbcContentStyle18 - product page cross sell call to action*/
html .hsbcContentStyle18
{
	border-bottom:1px solid #d6d6d6;
	padding:50px 300px 0 0;
	background:url("acorn03.gif") no-repeat bottom right;
}
.hsbcContentStyle18 p
{
	font-size:111%;
	margin-top:0;
}
.hsbcContentStyle18 p a
{
	text-decoration:underline;
	color:#548c14;
}
/*******************
 hsbcContentStyle19 - Full page width call to action box*/
.hsbcContentStyle19
{
	background:url("bgCallToAction01.gif") no-repeat top right;
	margin-bottom:5px;
}
.hsbcContentStyle19a
{
	padding:1px 1px 1px 13px;
	background:url("bgCallToAction02.gif") no-repeat bottom right;
}
.hsbcContentStyle19b
{
	padding:18px 10px 18px 10px;
	background:url("bgCallToAction03.gif") repeat-x bottom right;
}
/*******************
 hsbcContentStyle20 - Used on top of home page for split column content*/
.hsbcContentStyle20 a
{
	border-bottom:3px solid #fff;
}
.hsbcContentStyle20 h2
{
	padding:20px 0 20px 19px;
	margin-bottom:0;
}
.hsbcContentStyle20 h2 a
{
	border:none;
}
.hsbcContentStyle20 h3
{
	margin:0;
	padding:9px 0 0 19px;
}
.hsbcContentStyle20 h3 a
{
	color:#4d4d4d;
	text-decoration:underline;
	border:none;
}
.hsbcContentStyle20 p
{
	padding:0 10px 9px 19px;
	margin:0;
	font-size:68%;
}

.hsbcContentStyle20 .hsbcPosition01
{
	padding-right:15px;
}
.hsbcContentStyle20 .row
{
	background:url("bgContentStyle20.gif") repeat-x bottom left;
	position:relative;
	border-left:1px solid #f0f0f0;
	border-right:1px solid #ddd;
}
.hsbcContentStyle20 .row h2
{
	padding:10px 10px 10px 29px;
	background: url("arrow01.gif") no-repeat top left;
}
.hsbcContentStyle20a
{
	float:left;
	width:323px;
	border-left:1px solid #f0f0f0;
	border-right:1px solid #ddd;
}
.hsbcContentStyle20a .row
{
	float:left;
	width:323px;
	background:url("bgContentStyle20.gif") repeat-x bottom left;
	border:none;
}
.hsbcColumnsTwo .hsbcContentStyle20a .row .hsbcColumn
{
	width:161px;
	float:left;
	position:relative;
}
.hsbcContentStyle20a h3
{
	padding:13px 0 17px 18px;
}
.hsbcContentStyle20a h3 a
{
	padding: 1px;
}
.hsbcContentStyle20 h3.extAdditionalInfo a
{
	padding-right:13px;
	background:url("additionalInfo.gif") no-repeat right;
}
.hsbcContentStyle20a p,
.hsbcContentStyle20 p.extShown
{
	background:url("bgContentStyle20a.gif") no-repeat top left;
	padding:0;
	margin:0;
	color:#fff;
	z-index:1000;
	text-align:center;
	width:125px;
	height:auto;
	position:absolute;
	left:-9999px;
	top:-9999px;
	font-size:74%;
}
.hsbcContentStyle20 p.extShown
{
	left:50px;
	top:-45px;
}
.hsbcContentStyle20a p.extShown
{
	left:40px;
	top:-40px;
}
.hsbcContentStyle20a p span,
.hsbcContentStyle20 p.extShown span
{
	display:block;
	background:url("bgContentStyle20b.gif") no-repeat bottom left;
	padding:0 3px 5px 3px;
	margin-top:4px;
}
/*******************
 hsbcContentStyle21 - News list on Particuliers home page*/
.hsbcContentStyle21
{
}
.hsbcContentStyle21 h2
{
	background:#fff url("bgH2-01.gif") no-repeat left;
	padding:0 0 10px 25px;
	margin-bottom:0;
	position:relative;
	left:-1px;
	z-index:2;
}
.hsbcContentStyle21 p
{
	padding:0 0 10px 25px;
	margin-bottom:0;
}
.hsbcContentStyle21 dl
{
	padding:0 25px;
	position:relative;
	top:-1px;
	z-index:1;
}
.hsbcContentStyle21 dt
{
	font-size:100%;
	border-top:1px solid #dedede;
	padding-top:10px;
}
.hsbcContentStyle21 dt span
{
	font-size:68%;
	width:65px;
	float:left;
	padding-top:3px;
}
.hsbcContentStyle21 dd
{
	padding:0 0 0 65px;
}
.hsbcContentStyle21 ul
{
	padding-left:25px;
}
/*******************
 hsbcContentStyle22 - Used on logon page*/
.hsbcContentStyle22
{
	padding-bottom:15px;
}
.hsbcContentStyle22 h1
{
	font-size:210%;
	margin-bottom:20px;
	margin-top:0;
}
.hsbcContentStyle22 p
{
	padding:0;
	margin:0 0 10px 0;
	font-size:100%;
}
.hsbcContentStyle22 ul
{
	padding-bottom:10px;
}
.hsbcContentStyle22 ul li
{
	font-size:100%;
	padding:0 0 0 15px;
	margin:0;
}
.flashContainer
{
	padding-left:26px;
}
/*******************
 hsbcContentStyle23 - Used on microsite (not present in this build)*/
/*******************
 hsbcContentStyle24 - Used on logon page (not present in this build)*/

/*******************
 hsbcContentStyle25 - Used on Particular home page*/
.hsbcContentStyle25
{
	background:url("bgContentStyle25.gif") no-repeat left;
	min-height:80px;
	position:relative;
	left:-1px;
	padding:20px 10px 0 26px;
} 
.hsbcContentStyle25 h2
{
	font-size:74%;
	font-weight:bold;
	margin:0;
	padding:0 0 3px 10px;
	background:url("arrow02.gif") no-repeat top left;
}
.hsbcContentStyle25 p
{
	color:#4d4d4d;
	padding:0 80px 0 0;
	margin:0;
}
 
 

/*@import url("hsbcBgs.css");*/
.hsbcBg01
{
	background:url("bgMain.jpg") bottom left no-repeat;
	border-bottom:1px solid #dfdfdf;
}
.hsbcBg02
{
	background-color:#f9f9f9;
}
.hsbcBg03
{
	padding:5px 0 0;
}
.hsbcBg03 .hsbcColumnStyle03a
{
	padding:15px 0 0;
	background:url("leaves01.gif") bottom no-repeat;
}
.hsbcContent ul.hsbcBg03
{
	padding:2px 90px 12px 14px;
}
.hsbcBg04
{
	padding-bottom:14px;
	background:url("dotted-line.gif") bottom left repeat-x;
	margin-bottom:14px;
}
/*@import url("position.css");*/
.hsbcPosition01
{
	float:right;
	clear:both;
}
.hsbcPosition01 *
{
	vertical-align:middle;
}
.hsbcPosition02
{
	float:left;
}
.hsbcClearPosition
{
	clear:both;
	font-size:1px;
	line-height:1%;
}
/*@import url("footer.css");*/
/*--------------Leftnav Footer------------*/
/*--------------NEW FOOTER------------*/
.pageFooterNew
{ 
	float:left; 
	text-align:left; 
	width:880px; 
	color:#999; 
	padding:0px 0 30px 0; 
	margin:0px; 
	background:#fff url("bgFooter.gif") bottom left repeat-x; 
	font-size:61%; 
	clear:both; 
} 
/*--------------------------------------*/

/*--------------OLD FOOTER------------*/
.pageFooter
{
	float:left;
	text-align:center;
	width:100%;
	color:#999;
	padding-bottom:28px;
	padding-top:30px;
	background:#fff url("bgFooter.gif") bottom left repeat-x;
	font-size:61%;
	clear:both;
}
/*--------------------------------------*/

.pageFooterNewWrapper
{
	margin:0px 0px 0px 220px;
	padding:0px;
}
.pageFooterNewWrappera
{
	margin:20px 0px 0px 220px;
	padding:0px;
}
.pageFooterNew .column
{
	width:330px;
	float:left;
	margin:0px;
	padding:0px;
}
.pageFooterNew .column .contentStyle01
{
	padding-right:24px;
	margin-bottom:20px;
}
/*-----------Fullwidth Footer-----------*/
.footerFullWidth .pageFooterNewWrapper
{
	margin:0px 0px 0px 24px;
	padding:0px;
}
.footerFullWidth .pageFooterNewWrappera
{
	margin:20px 0px 0px 24px;
	padding:0px;
}
.footerFullWidth .column01
{
	width:486px;
	float:left;
	margin:0px;
	padding:0px;
}
.footerFullWidth .column
{
	width:330px;
	float:right;
	margin:0px;
	padding:0px;
}

.pageFooter a
{
	color:#999;
	text-decoration:none;
}
.pageFooter img
{
	display:inline;
}
.pageFooter a:hover
{
	color:#999;
	text-decoration:underline;
}

.pageFooter p
{
	padding:8px 0;
	margin:0;
}

.pageFooterNew p
{
	padding:3px 0px 0px 0px;
	margin:0px;
}
.pageFooterNew ul.listLeft
{
	margin:7px 0px 0px 0px;
	padding:0px;
	list-style:none;
}

.pageFooter ul
{
	margin:0 0 10px 0;
	padding:0;
	list-style:none;
	text-align:center;
}

.pageFooterNew ul
{
	margin:0px;
	padding:0px;
	list-style:none;
}

.pageFooter ul li
{
	display:inline;
	margin:0;
	padding:0 7px 0 4px;
	background:url("pipe.gif.1") no-repeat right;
}

.pageFooterNew ul li
{
	display:inline;
	margin:0px;
	padding:0px 7px 0px 4px;
	background:url("pipe.gif.1") no-repeat right;
	line-height:16px;
}
.pageFooterNew ul.imageList li
{
	background:url("pipe-01.gif") no-repeat right;
}
.pageFooterNew ul.extFloatRight
{
	float:right;
}
.pageFooterNew ul.imageList li a span.imageText
{
	vertical-align: top;
	padding-top:10px;
}
.pageFooterNew ul li.leftItems
{
	padding:0 7px 0 0px;
}

.pageFooter ul li.extLastFooterLink
{
	background:none;
}

.pageFooterNew ul li.extLastFooterLink
{
	background:none;
	padding:0 0px 0 4px;
}

/*@import url("inpagetabs.css");*/
div.hsbcContentStyle16
{
	height:28px;
	clear:left;
}
div.hsbcContentStyle16 div.hsbcContentStyle16a
{
	background:url("bg.gif") repeat-x left bottom;
	width:100%;
	height:28px;
}
div.hsbcContentStyle16 ul
{
	margin:0px;
	padding:0px;
	width:100%;
	float:left;
}
div.hsbcContentStyle16 ul li
{
	margin:0px;
	padding:0px 0px 0px 2px;
	list-style:none;
	float:left;
	height:28px;
	background:url("tab_off_left.gif.1") no-repeat top left;
	text-align:center;
	font-size:68%;
}
div.hsbcContentStyle16 ul li a
{
	padding:0px 13px 0px 9px;
	margin:0px;
	height:28px;
	line-height:28px;
	float:left;
	display:block;
	background:url("tab_off_right.gif.1") no-repeat top right;
	text-decoration:none;
	color:#666;
	font-weight:normal;
	vertical-align:50%;
}

div.hsbcContentStyle16 ul li.extTwoLineTab a
{
	vertical-align:top;
	line-height:normal;
}

div.hsbcContentStyle16 ul li a:hover
{
	color:#f00 !important;
	text-decoration:none;
}
div.hsbcContentStyle16 ul li.tabSelected
{
	background:url("tab_on_left.gif.1") no-repeat top left;
}
body div.hsbcContentStyle16 ul li.tabSelected a
{
	background:url("tab_on_right.gif.1") no-repeat top right;
	color:#f00;
	height:28px;
}

.hsbcTabContent
{
	margin-bottom:10px;
}
/*@import url("textStyles.css");*/
/* Small grey underlined text (should only realy be used on links) */
html body .hsbcTextStyle01
{
	font-size:68%;
	color:#666;
	text-decoration:underline;
	margin-left:5px;
}
/* Red text on a 'pink' background */
html body .hsbcTextStyle02
{
	color:#ec5858;
	background:#ffebeb;
}
/* Black uppercase text */
html body .hsbcTextStyle03
{
	color:#000;
	text-transform:uppercase;
}
/* hidden text */
html body .hsbcTextStyle04
{
	position:absolute;
	left:-9999px;
	top:-9999px;
	width:100px;
	height:20px;
}
/* blue text */
html body .hsbcTextStyle05
{
	color:#23789a;
}
/* black text */
html body .hsbcTextStyle06
{
	color:#000;
}
/* Used for alternative call to action (see hsbcContentStyle04b) */
html body .hsbcTextStyle07
{
}
html body .hsbcTextStyle08
{
}
/* green text */
html body .hsbcTextStyle09
{
	color:#548c14;
}
/* red text */
html body div .hsbcTextStyle10
{
	color:#f00;
}
/* small grey text with additional padding top - used for disclaimer text */
html body .hsbcTextStyle11
{
	padding-top:20px;
	color:#999;
	font-size:68%;
}
/* light grey text */
html body .hsbcTextStyle12
{
	color:#999;
}
/* small light grey text */
html body .hsbcTextStyle13
{
	color:#999;
	font-size:68%;
}
/* adds border top */
html body .hsbcTextStyle14
{
	margin-top:4px;
	border-top:1px solid #d6d6d6;
	padding-top:5px;
}
/* adds border bottom */
html body .hsbcTextStyle15
{
	margin-bottom:5px;
	border-bottom:1px solid #d6d6d6;
	padding-bottom:7px;
}
/* Used for alternative call to action (see hsbcContentStyle04b) */
html body .hsbcTextStyle16
{
}

/* dark grey text */
html body .hsbcTextStyle17
{
	color:#666;
}

/* Arrow to left of text */
html body .hsbcTextStyle18
{
	background: url("arrow01a.gif") no-repeat top left;
	border:none;
	padding:0 0 0 12px;
	margin:0;
}
/*@import url("tableStyles.css");*/
/* Clear */
.rowStyle01
{
}

/* light grey background */
table tr.rowStyle02 th,
table tr.rowStyle02 td
{
	background-color:#f9f9f9;
}

/* removes border (border is found on default cell styling) */
table tr .celStyle01
{
	border:none;
}
table tr td.celStyle02
{
	text-align:left;
}
/*@import url("pageBg.css");*/
/* Visa Infinate card - used in page header */
.bgStyle01
{
	background-image:url("infiniteCard.gif");
	background-position:top right;
	background-repeat:no-repeat;
	padding-bottom:10px;
}
.bgStyle01 .hsbcContentStyle05
{
	padding-bottom:15px;
}
.bgStyle01 h1
{
	margin-top:10px;
}
.bgStyle01 p
{
	margin-bottom:0;
}
.bgStyle01 h1,
.bgStyle01 p
{
	padding-right:195px;
}

/* Header back ground - The leaf */
.bgStyle02
{
	background-image:url("leaf01.jpg");
	background-position:bottom right;
	background-repeat:no-repeat;
	padding-right:0;
}
.bgStyle02 h1,
.bgStyle02 p
{
	padding-right:220px;
}

/* Header back ground - The gold fish */
.bgStyle03
{
	background-image:url("fish01.jpg");
	background-position:bottom right;
	background-repeat:no-repeat;
	padding-right:0;
}

.bgStyle03 h1,
.bgStyle03 p
{
	padding-right:280px;
}
/* Header back ground - The acorn (01)*/
.bgStyle04
{
	background-image:url("acorn04.gif");
	background-position:bottom right;
	background-repeat:no-repeat;
	padding-right:0;
}

.bgStyle04 h1,
.bgStyle04 p
{
	padding-right:190px;
}
/* Header back ground - The acorn (02)*/
.bgStyle05
{
	background-image:url("acorn05.gif");
	background-position:bottom right;
	background-repeat:no-repeat;
	padding-right:0;
}

.bgStyle05 h1,
.bgStyle05 p
{
	padding-right:240px;
}
/* Header back ground - The 'new customer' banner*/
.bgStyle06
{
	background-image:url("nouveau-customers.gif");
	background-position:top right;
	background-repeat:no-repeat;
	padding-right:0;
}

.bgStyle06 h1,
.bgStyle06 p
{
	padding-right:260px;
}
/* page back ground - The padlock*/
.bgStyle07
{
	background-image:url("padlock.gif");
	background-position:top right;
	background-repeat:no-repeat;
}

.bgStyle07 h1,
.bgStyle07 p,
.bgStyle07 ul li
{
	padding-right:100px;
}
/* page back ground - Default positioning*/
.bgStyle08
{
	background-position:bottom right;
	background-repeat:no-repeat;
}

.bgStyle08 h1,
.bgStyle08 p,
.bgStyle08 ul li
{
	padding-right:250px;
}

/*@import url("formElements.css");*/
.hsbcFormRow
{
	float:left;
	position:relative;
	padding:8px 0;
}
.hsbcFormRow p,
.hsbcFormRow label
{
	padding:0 45px 0 0;
	margin:0;
}
body.popup .hsbcFormRow p,
body.popup .hsbcFormRow label
{
	padding-right:30px;
}
.hsbcFormRow label.hsbcLabelStyle01,
body.popup .hsbcFormRow label.hsbcLabelStyle01
{
	padding:0 10px 0 0;
}
.hsbcFormRow .hsbcColumn
{
	width:50%!important;
/*	overflow:hidden;*/
}
.hsbcFormRow .extRequiredInput01
{
	position:absolute;
	right:135px;
	color:#f00;
}
body.popup .hsbcFormRow .extRequiredInput01
{
	right:128px;
}
.extInputWidth01
{
	width:120px;
}
input.extInputWidth02,
textarea.extInputWidth02
{
	width:175px;
}
select.extInputWidth02
{
	width:180px;
}
.extInputWidth03
{
	width:230px;
}
/*@import url("popup.css");*/
/* CSS Document */

body.popup .pageLeftNavOuter,
body.popup .containerTabMenu
{
	display:none;
}
body.popup .pageBody .pageContentOuter
{
	width:680px;
}
body.popup .pageContentInner
{
	padding:10px 25px 0;
}
body.popup .hsbcContent h2
{
	font-size:86%;
	color:#333;
	margin:0 0 5px;
}
body.popup .pageHeader
{
	background:#fff url("tab_bg.gif") no-repeat bottom left;
	padding-bottom:12px;
	border-bottom:20px solid #fff;
}
/* */

html body
{
	margin:0;
	padding:0;
	background:#E5E5E5 url("bgContent.gif") repeat-y center top;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
}
html body.pageStyle01 .pageHeader
{
	background:#fff url('patrimoine_logo.gif') top right no-repeat;
}
body.popup
{
	background-image:url("bgPopupContent.gif");
}
a img
{
	border:0px;
}
form
{
	padding:0;
	margin:0;
}
hr
{
	display:none;
}
.pageFrame01,
.pageFrame02
{
	width:100%;
	float:left;
}
.pageFrame03
{
	width:880px;
	margin:0 auto;
	text-align:left;
}
body.popup .pageFrame03
{
	width:680px;
}
.pageHeader
{
	background:#fff;
	float:left;
	width:100%;
}
* html .pageHeader
{
	height:1%;
}
.pageHeader:after
{
    content:"."; 
    display:block; 
    height:0; 
    clear:both; 
    visibility:hidden;
}
.pageSearchBody,
.pageHomepageBody,
.pageBody
{
	background:#fff;
	float:left;
	width:100%;
}
.hsbcColumnsTwo,
.hsbcColumnsOne,
.hsbcColumnsThree,
.hsbcColumnsFour
{
	float:left;
}
* html .hsbcColumnsTwo
{
	height:1%;
}
.hsbcColumnsTwo:after
{
    content:"."; 
    display:block; 
    height:0; 
    clear:both; 
    visibility:hidden;
}
.pageBody .pageContentOuter
{
	width:660px;
}
/* HW2008Amend */
.extPageStyle01 .pageContentOuter,
.containerMainFullWidth .pageContentOuter
{
	width:868px;
	padding:0px 6px;
}
.extPageStyle01 .pageContentInner
{
	padding:15px 5px 0 25px;
}
.pageContentInner,
.pageContentOuter,
.hsbcColumn,
.hsbcColumn01,
.hsbcColumn02
{
	float:left;
}
.pageBody .hsbcColumnsTwo .hsbcColumn
{
	width:330px;
}
.containerMainFullWidth .hsbcColumnsTwo .hsbcColumn
{
	width:440px;
}
.extPageStyle01 .hsbcColumnsTwo .hsbcColumn
{
	width:425px;
}
.pageBody .hsbcColumnStyle01 .hsbcColumnsTwo .hsbcColumn,
.pageBody .hsbcColumnStyle02 .hsbcColumnsTwo .hsbcColumn,
.pageBody .hsbcColumnStyle04 .hsbcColumnsTwo .hsbcColumn,
.pageBody .hsbcColumnStyle05 .hsbcColumnsTwo .hsbcColumn,
.pageBody .hsbcColumnStyle06 .hsbcColumnsTwo .hsbcColumn,
.pageBody .hsbcColumnStyle14 .hsbcColumnsTwo .hsbcColumn
{
	width:326px;
}
.pageBody .hsbcColumnStyle07 .hsbcColumnsTwo .hsbcColumn
{
	width:322px;
}
.extPageStyle01 .hsbcColumnStyle01 .hsbcColumnsTwo .hsbcColumn,
.extPageStyle01 .hsbcColumnStyle02 .hsbcColumnsTwo .hsbcColumn,
.extPageStyle01 .hsbcColumnStyle04 .hsbcColumnsTwo .hsbcColumn,
.extPageStyle01 .hsbcColumnStyle05 .hsbcColumnsTwo .hsbcColumn
{
	width:421px;
}
.pageBody .hsbcColumnsOne .hsbcColumn
{
	width:660px;
}
.extPageStyle01 .hsbcColumnsOne .hsbcColumn
{
	width:850px;
}
/* HW2008Amend */
.containerMainFullWidth .hsbcColumnsOne .hsbcColumn
{
	width:868px;
}
body.popup .pageBody .hsbcColumnsOne .hsbcColumn
{
	width:630px;
}
.pageBody .hsbcColumnStyle01 .hsbcColumnsOne .hsbcColumn,
.pageBody .hsbcColumnStyle02 .hsbcColumnsOne .hsbcColumn,
.pageBody .hsbcColumnStyle04 .hsbcColumnsOne .hsbcColumn,
.pageBody .hsbcColumnStyle05 .hsbcColumnsOne .hsbcColumn
{
	width:652px;
}
.extPageStyle01 .hsbcColumnStyle01 .hsbcColumnsOne .hsbcColumn,
.extPageStyle01 .hsbcColumnStyle02 .hsbcColumnsOne .hsbcColumn,
.extPageStyle01 .hsbcColumnStyle04 .hsbcColumnsOne .hsbcColumn,
.extPageStyle01 .hsbcColumnStyle05 .hsbcColumnsOne .hsbcColumn
{
	width:842px;
}
.pageBody .hsbcColumnsOne .hsbcColumn .hsbcFormRow
{
	width:652px;
}
.extPageStyle01 .hsbcColumnsOne .hsbcColumn .hsbcFormRow
{
	width:842px;
}
body.popup .pageBody .hsbcColumnsOne .hsbcColumn .hsbcFormRow
{
	width:630px;
}
.hsbcContent
{
	padding-right:5px;
}
body.popup .hsbcContent
{
	padding:0;
}



/* today.css */
.hsbcColumnStyle20
{
	margin-top:50px;
}

.hsbcContentStyle27 h1
{
	margin:0px 0px 5px 0px;
	padding-left:20px;
}

.hsbcContentStyle27 h2
{
	background:#fff url("bgH2-01.gif") no-repeat left;
	padding:0 0 10px 25px;
	margin-bottom:0;
	position:relative;
	left:-1px;
	z-index:2;
}

.hsbcContentStyle27 h3
{
	margin:5px 20px;
	padding-top:5px;
	background:url("dotted-line2.gif") top left repeat-x;
}

.hsbcContentStyle27 p
{
	padding:0px 20px;
}

.hsbcContentStyle27 img
{
	margin:0 10px;
	float:right;
}

.hsbcContentStyle27 p.hsbcTextStyle19
{
	font-style:italic;
	font-size:62%;
	color:#999999;
}

.hsbcContentStyle27 h2.hsbcTextStyle20
{
	margin:0 0 5px 3px;
	padding:0 0 5px 17px;
	background:#fff url("bgH2-01.gif") no-repeat top left;
}

html body .hsbcColumnStyle06 .hsbcColumnsTwo .hsbcColumn
{
	width:330px!important;
}


.hsbcColumnStyle06 h2
{
}

.hsbcContentStyle08 table
{
	margin-top:5px;
	background:url("dotted-line2.gif") top left repeat-x;
	border-collapse:collapse;
	border:0;
}

.hsbcContentStyle08 h2.hsbcTextStyle25
{
	margin-bottom:20px;
}

.hsbcContentStyle08 table caption
{
	display:none;
}

.hsbcContentStyle08 table tr
{
	border:0;
	background:none;
}

.hsbcContentStyle08 table tr td.hsbcTableColumn01
{
	padding-top:10px;
}

.hsbcContentStyle08 table tr td
{
	background:none;
	text-align:left;
	padding:3px;
	border:0;
}

.hsbcContentStyle08 table tr td a
{
	color:#ff0000;
}

.hsbcContentStyle08 img.hsbcPosition03
{
	float:right;
	margin-left:10px;
	margin-bottom:15px;
}

.hsbcContentStyle08 p.hsbcPosition03
{
	float:right;
	margin-bottom:18px;
}

.hsbcContentStyle08 p.hsbcPosition03 a
{
	color:#666;
	text-decoration:underline;
}

.hsbcContentStyle08 p.hsbcPosition03 a:hover
{
	color:#f00;
}

.hsbcContentStyle08 p.hsbcTextStyle23
{
	margin:20px 0 00px 0;
	font-size:75%;
}

.hsbcContentStyle08 span.hsbcTextStyle24
{
	font-size:112%;
	font-weight:bold;
}

.hsbcContentStyle08 .hsbcPosition02
{
	float:left;
	margin-bottom:2px;
}

.hsbcContentStyle08 ul,
.hsbcContentStyle08 ul li,
.hsbcContentStyle08 ul li a
{
	margin:0px;
	padding:0px;
	background:none;
	float:left;
}

.hsbcContentStyle08 ul
{
	margin-top:21px;
	margin-bottom:63px;
}

.hsbcContentStyle08 ul li a
{
	color:#666;
	text-decoration:underline;
	background:url("list-seperator.gif") left no-repeat;
	padding-left:5px;
	margin-left:5px;
}

.hsbcContentStyle08 ul li a:hover
{
	color:#f00;
}

.hsbcContentStyle08 ul li a.hsbcTextStyle28
{
	padding-left:0px;
	margin-left:0px;
	background:none;
}

.hsbcContentStyle08 ul.listStyle01
{
	margin-top:0px;
	margin-bottom:0px;
}

.hsbcContentStyle08 ul.listStyle01 li
{
	background:url("listBullet01.gif") top left no-repeat;
	padding-left:10px;
	margin-bottom:15px;
}

.hsbcContentStyle28
{
	padding:30px 30px 0;
}

.hsbcContentStyle28 img.hsbcPosition03
{
	float:right;
	margin-left:10px;
}

.hsbcPosition04
{
	float:right;
	padding:0 24px;
}

.hsbcPosition05
{
	margin-top:20px;
}

.hsbcPosition06
{
	float:left;
	margin-right:15px;
}

.hsbcPosition07
{
	margin-bottom:15px;
}

.bgStyle10
{
	margin-right:5px;
	padding-top:50px;
	background-position:bottom right;
	background-repeat:no-repeat;
}
.bgStyle10 p,
.bgStyle10 h1
{
	padding-right:100px;
}

.bgStyle12 p
{
	width:400px;
}
.bgStyle13 p
{
	width:300px;
}

.bgStyle14 h1,
.bgStyle14 p
{
	padding-right:200px;
}

.bgStyle15
{
	margin-right:5px;
	padding-top:50px;
	background-position:bottom right;
	background-repeat:no-repeat;
}
.bgStyle15 p,
.bgStyle15 h1
{
	padding-right:230px;
}

.hsbcColumnStyle12
{
	width:420px!important;
}

.hsbcColumnStyle08 /* 2/3 */
{ 
	width:420px!important;
	padding-top:50px;
}

.hsbcColumnStyle09 /* 1/3 */
{
	width:205px!important;
	padding-top:50px;
}

.hsbcColumnStyle10
{
	width:420px!important;
}

.hsbcContentStyle30 h2
{
	margin-bottom:0px;
}

.hsbcContentStyle30 h2.hsbcTextStyle25
{
	margin-bottom:10px;
}

.hsbcContentStyle30 table
{
	margin-top:0px;
	margin-bottom:30px;
	border:0;
}

.hsbcContentStyle30 table caption
{
	display:none;
}

.hsbcContentStyle30 table thead th
{
	color:#667;
	background:none;
	border-bottom:1px solid #f00;
}

.hsbcContentStyle30 table tr
{
	border:0;
	background:none;
}

.hsbcColumnStyle10 .hsbcContentStyle30 table th,
.hsbcColumnStyle10 .hsbcContentStyle30 table td
{
	text-align:center;
}

.hsbcContentStyle30 table th,
.hsbcContentStyle30 table td
{
	text-align:left;
	border:0;
	background:none;
	border-bottom:#f0f0f0 1px solid;
	padding-right:20px;
	vertical-align:top;
}

.hsbcContentStyle30 table tr.hsbcTextStyle21 td
{
	border-bottom:0;
}

.hsbcContentStyle30 table .hsbcTableColumn02
{
	width:250px;
	text-align:left!important;
}

.hsbcContentStyle30 table .hsbcTableColumn03
{
	width:110px;
}

.hsbcContentStyle30 table .hsbcTableColumn04
{
	width:60px;
}


.hsbcContentStyle30 table td.hsbcTableColumn05,
.hsbcContentStyle30 sup.hsbcTextStyle22
{
	color:#f00;
}

.hsbcContentStyle30 p.hsbcTextStyle26
{
	font-size:62%;
}

.hsbcContentStyle30 p a.hsbcTextStyle27
{
	padding:0px 0px 3px 18px;
	color:#666;
	text-decoration:underline;
	font-size:94%;
	background:url("btn-download.gif") top left no-repeat;
}

.hsbcColumnStyle08 .hsbcContent
{
	padding-right:20px;
}

.hsbcColumnStyle08 .hsbcContent h1
{
	font-style:italic;
	font-weight:normal;
	margin-bottom:5px;
}

.hsbcColumnStyle08 .hsbcContent p
{
	font-size:69%;
}

.hsbcColumnStyle08 .hsbcContent p.hsbcTextStyle19
{
	margin-top:0px;
	font-style:italic;
}

.hsbcColumnStyle08 .hsbcContent p.hsbcTextStyle28
{
	font-size:81%;
}

.hsbcColumnStyle09 a.hsbcTextStyle25
{
	display:block;
	margin-bottom:20px;
}

.hsbcColumnStyle09 .hsbcContentStyle04b h3
{
	font-size:119%;
	font-weight:normal;
	color:#667;
	margin:0px;
}

.hsbcColumnStyle09 .hsbcContentStyle04b ul
{
	list-style:none;
}

.hsbcColumnStyle09 .hsbcContentStyle04b ul,
.hsbcColumnStyle09 .hsbcContentStyle04b ul li
{
	padding:0px;
	margin:0px;
}

.hsbcColumnStyle09 .hsbcContentStyle04b ul li a
{
	color:#f00;
	font-size:69%;
	display:block;
	margin-top:5px;
	padding-left:20px;
	padding-bottom:3px;
	height:1%;
	line-height:120%;
}

.hsbcColumnStyle09 .hsbcContentStyle04b ul li a:hover
{
	color:#f00;
}

.hsbcColumnStyle09 .hsbcContentStyle04b ul li a.extDownload
{
	background:url("btn-download.gif") top left no-repeat;
}

.hsbcColumnStyle09 .hsbcContentStyle04b ul li a.extPrint
{
	background:url("btn-print.gif") top left no-repeat;
}

html body .pageBody .hsbcColumnStyle11 .hsbcColumn
{
	width:329px;
}
html body .pageBody .hsbcColumnStyle17 .hsbcColumn
{
	width:329px;
}
html body .pageBody .hsbcColumnStyle16 .hsbcColumn
{
	width:658px;
}

.hsbcColumnStyle11 .hsbcContent,
.hsbcColumnStyle17 .hsbcContent,
.hsbcColumnStyle16 .hsbcContent
{
	padding-right:40px;
	padding-bottom:5px;
}
.hsbcColumnStyle11
{
	background:url("bgColumnStyle11.gif") bottom left no-repeat;
	margin-top:20px;
}
.hsbcColumnStyle17
{
	background:url("bgColumnStyle12.gif") bottom left no-repeat;
	margin-top:20px;
}
.hsbcColumnStyle16
{
	background:url("bgColumnStyle16.gif") bottom left no-repeat;
	margin-top:20px;
}

.hsbcContentStyle29:after {
   content: "."; 
   display: block; 
   height: 0; 
   clear: both; 
   visibility: hidden;
}

.hsbcContentStyle29
{
	display: inline-block;
}

.hsbcContentStyle29 img
{
	float:left;
	margin-bottom:5px;
	margin-right:12px;
}

.hsbcContentStyle29 h2
{
	margin:0px;
}

.hsbcContentStyle29 p
{
	margin:0px
}

.hsbcContentStyle29 p.hsbcTextStyle26
{
	font-size:75%;
	font-weight:bold;
	color:#333;
}

.hsbcContentStyle29 p.hsbcTextStyle29
{
	font-size:69%;
	color:#999;
}

.hsbcContentStyle31
{
	margin-bottom:30px;
}

.hsbcContentStyle31 h3
{
	font-family:"Times New Roman", Times, serif;
	border-bottom:1px solid #dedede;
	font-weight:normal;
	font-size:100%;
	color:#f00;
	margin-bottom:5px;
}

.hsbcContentStyle31 p
{
	font-family:"Times New Roman", Times, serif;
	font-size:87%;
	color:#333;
	margin-bottom:0px;
}

.hsbcContentStyle31 h4
{
	font-family:"Times New Roman", Times, serif;
	font-size:87%;
	font-style:italic;
	font-weight:normal;
	color:#333;
	margin-top:0;
	margin-bottom:1px;
}

p.hsbcTextStyle24
{
	font-family:"Times New Roman", Times, serif;
	font-size:74%;
	color:#666;
	font-style:italic;
	margin-bottom:1px;
}

.hsbcContentStyle31 p a
{
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	font-size:87%;
}

.hsbcContentStyle31 p.hsbcTextStyle21
{
	border-bottom:1px solid #d8d8d8;
	padding-bottom:8px;
	margin-bottom:10px;
	color:#666;
}

.hsbcColumnStyle13
{
	width:303px!important;
	margin-left:20px;
	border:1px solid #dedede;
	background:url("bgContentStyle20.gif") bottom left repeat-x;
}

.hsbcContentStyle32 h4
{
	font-weight:normal;
	color:#667;
	margin:12px 0 10px 0px;
	padding:1px 0 0 17px;
	background:url("bgH2-02.gif") no-repeat top left;
	position:relative;
	left:-1px;
}

.hsbcContentStyle32 p a
{
	color:#667;
	font-size:94%;
	padding-left:17px;
	text-decoration:underline;
}

.hsbcContentStyle32 form
{
	padding-left:17px;
	padding-bottom:17px;
}

.hsbcContentStyle32 form fieldset label
{
	width:200px;
	display:block;
	font-weight:bold;
}

.hsbcContentStyle32 form fieldset select
{
	margin-bottom:15px;
	width:200px;
	color:#999;
}

.hsbcContentStyle32 form fieldset input
{
	float:left;
	margin-bottom:18px!important;
}

.hsbcContentStyle33
{
	padding:20px;
	border:1px solid #cccccc;
	margin-bottom:10px;
}

.hsbcContentStyle33 img
{
	float:right;
}

.floatFix
{
	clear:both;
}

.hsbcColumnStyle04 .hsbcColumnStyle03a,
.hsbcColumnStyle05 .hsbcColumnStyle03a
{
	background-image:url("bgBox01.gif");
	padding:15px 0 18px;
}

/*page has deeper margin*/
.extPageStyle02 .pageLeftNav
{
	margin-top:15px;
}

.hsbcColumnStyle06
{
	margin:50px 0 5px 0;
}

.hsbcColumnStyle06 .hsbcContent
{
	margin-bottom:12px;
	margin-right:5px;
/*	border-right:5px solid #fff;*/
}

/*two column, first column is an image*/
.hsbcColumnStyle14
{
	border:1px solid #f0f0f0;
	border-right-color:#dcdcdc;
	border-top:none;
	border-left:none;
	border-bottom:none;
	padding:0;
	background:url("columnBg04.gif") repeat-x left bottom;
	float:left;
}

.hsbcColumnStyle14 .hsbcColumnsTwo
{
	padding:0px;
}

/* notch */
.hsbcContentStyle27
{
/*	background:url("img/pageBgs/bgContentStyle27.gif") no-repeat left top;*/
/*	padding-left:20px;*/
/*	margin-left:3px;*/
}

.hsbcContentStyle34,
.hsbcContentStyle42
{
	background-position:bottom right;
	background-repeat:no-repeat;
	margin-right:5px;
	padding-top:50px;
	margin-bottom:20px;
	padding-right:0;
	border-bottom:1px solid #d6d6d6;
}

.hsbcContentStyle34 img,
.hsbcContentStyle42 img
{
	margin-top:20px;
}

.hsbcContentStyle42 p
{
	width:390px;
}

.hsbcContentStyle34 p
{
	width:450px;
}

.hsbcContentStyle35
{
	margin-right:5px;
	padding-top:50px;
	margin-bottom:20px;
}

.hsbcContentStyle35 h1
{
	font-family:"Times New Roman", Times, serif;
	font-size:170%;
	font-style:italic;
	font-weight:normal;
	color:#333;
	margin-top:0;
	margin-bottom:1px;
}

.hsbcContentStyle35 p
{
	font-size:74%;
}

.hsbcContentStyle35 .hsbcTextStyle24
{
	margin-bottom:10px;
}

.hsbcContentStyle31 .hsbcTextStyle24
{
	margin-bottom:10px;
}

.hsbcContentStyle36,
.hsbcContentStyle37
{
	border-top:1px solid #dedede;
}

.hsbcContentStyle37
{
	border-bottom:1px solid #dedede;
}

.hsbcContentStyle36 h2,
.hsbcContentStyle37 h2
{
	font-family:"Times New Roman", Times, serif;
	font-size:111%;
	font-style:italic;
	margin:15px 0 4px;
}

.hsbcContentStyle36 img,
.hsbcContentStyle37 img
{
	float:right;
	margin-left:8px;
	margin-bottom:5px;
}

.hsbcContentStyle36 .hsbcTextStyle24,
.hsbcContentStyle37 .hsbcTextStyle24
{
	margin-bottom:12px;
}

.hsbcContentStyle38
{
	background:url('columnBg04.gif') bottom repeat-x;
	border-left:1px solid #f0f0f0;
	border-top:1px solid #f0f0f0;
	border-right:1px solid #ddd;
	padding:0 0 20px;
}

.hsbcContentStyle38 p,
.hsbcContentStyle38 h1,
.hsbcContentStyle38 h2,
.hsbcContentStyle38 h3
{
	padding:0 28px;
}

.hsbcContentStyle38 p
{
/*	margin-top:5px;*/
}

.hsbcContentStyle38 h1
{
	padding-top:19px;
	margin:0 0 5px;
}

.hsbcContentStyle38 h2
{
	background:url("dotted-line.gif") repeat-x bottom;
	margin:0 28px 3px;
	padding:0 0 3px;
}


html body .hsbcContentStyle38 h2.hsbcTextStyle31
{
/*	padding-left:20px;*/
	background: url("bgContentStyle27.gif") no-repeat left;
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
	margin-bottom:0;
	position:relative;
	left:-1px;
	z-index:2;
	margin:16px 0 0;
	padding:3px 28px 3px;
}


html body .hsbcContentStyle38 h2.hsbcTextStyle33
{
/*	padding-left:20px;*/
	background: url("bgContentStyle27.gif") no-repeat left;
	margin-bottom:0;
	position:relative;
	left:-1px;
	z-index:2;
	margin:16px 0 0;
	padding:3px 28px 3px;
}

.hsbcContentStyle38 h3
{
	font-size:87%;
	font-weight:normal;
}

.hsbcContentStyle38 .hsbcTextStyle24
{
	margin-bottom:15px;
}

.hsbcContentStyle38 table,
.hsbcContentStyle38 table td
{
	border:none;
	background:none;
	
}

.hsbcContentStyle38 table
{
	margin-left:20px;
	background:url("dotted-line.gif") top left repeat-x;
	width:290px;
	margin-top:2px;
}

.hsbcContentStyle38 table td
{
	vertical-align:top;
	text-align:left;
	font-size:74%;
}

.hsbcContentStyle38 table td a
{
	color:#f00;
}

.hsbcColumn03
{
	padding-left:20px;
	white-space:nowrap;
}

.hsbcContent .hsbcTextStyle30
{
	font-size:111%;
	margin-bottom:25px;
}

.hsbcPosition01
{
	float:right;
	margin:5px;
}

.hsbcColumnStyle15 .hsbcColumn
{
	width:330px;
	padding-bottom:22px;
}

.hsbcColumnStyle15 .hsbcColumn .hsbcContent
{
	margin-right:5px;
	border-left:1px solid #f0f0f0;
	border-right:1px solid #dddddd;
	border-top:1px solid #f0f0f0;
	background:url(columnBg04.gif) bottom repeat-x;
	
	padding-top:14px;
	padding-left:22px;
	padding-bottom:26px;
}

.hsbcContentStyle39
{
/*ie.css style*/
}

.hsbcContentStyle40
{
/*ie.css style*/
}

.hsbcContentStyle41
{
	background:url("bgBox02.jpg") no-repeat left top;
	padding-top:13px;
	padding-left:29px;
	padding-bottom:19px;
}

.hsbcContentStyle41 h2
{
	font-size:125%;
	margin-bottom:14px;
}

.hsbcContentStyle41 a
{
	color:#666;
	text-decoration:underline;
}

.hsbcContentStyle43 h1,
.hsbcContentStyle43 .hsbcTextStyle19,
.hsbcContentStyle43 .hsbcTextStyle28
{
	font-family:"Times New Roman", Times, serif;
}


.hsbcContentStyle44
{
	margin-bottom:15px;
}

html body .pageBody .hsbcColumnStyle06 .hsbcColumnsTwo .hsbcColumn,
html body .pageBody .hsbcColumnStyle15 .hsbcColumnsTwo .hsbcColumn
{
	overflow:hidden;
}



/*--------------------------------------------------------------------*/

.extGold
{

}

.extGold .hsbcContentStyle05
{
	background:url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/img/decoration/gold-mastercard-new.gif") bottom right no-repeat;
	padding-bottom:10px;
}

.extGold .hsbcContentStyle05
{
	padding-bottom:15px;
}
.extGold .hsbcContentStyle05 h1
{
	margin-top:10px;
}
.extGold .hsbcContentStyle05 p
{
	margin-bottom:0;
}
.extGold .hsbcContentStyle05 h1,
.extGold .hsbcContentStyle05 p
{
	padding-right:195px;
}


.extGold div.hsbcContentStyle16
{
	height:auto;
	width:637px;
	float:left;
	clear:none;
	margin:0px;
	padding:0px 0px 24px 0px;
}
.extGold div.hsbcContentStyle16 div.hsbcContentStyle16a
{
	background:none;
	height:auto;
	float:left;
	width:636px;
}
.extGold div.hsbcContentStyle16 ul
{
	margin:0px;
	padding:0px;
	height:31px;
	list-style:none;
	width:auto;
	float:none;
}
.extGold div.hsbcContentStyle16 ul li
{
	width:212px;
	float:left;
	margin:0px;
	padding:4px 0px 0px 0px;
	font-size:68%;
	background:url("pagetab-top.gif") left top no-repeat;
	border:none;
	text-align:center;
	height:auto;
}
.extGold div.hsbcContentStyle16 ul li a
{
	padding:7px 0px 11px 0px;
	color:#999999;
	display:block;
	text-decoration:underline;
	background:url("pagetab-bottom.gif") left bottom no-repeat;
	height:auto;
	line-height:normal;
	float:none;
}
.extGold div.hsbcContentStyle16 ul li a:hover
{
	color:#f00 !important;
	text-decoration:none;
}
.extGold div.hsbcContentStyle16 ul li a.lastItem,
.extGold div.hsbcContentStyle16 ul li.lastItem a
{
	background:url("pagetab-lastitem-bottom.gif") right bottom no-repeat;
}
.extGold div.hsbcContentStyle16 ul li a.selected,
.extGold div.hsbcContentStyle16 ul li.tabSelected a
{
	height:auto;
	color:#d09b0e;
	text-decoration:none;
	background:url("pagetab-selected-bottom.gif") left bottom no-repeat;
}
.extGold div.hsbcContentStyle16 ul li a.selectedLast,
.extGold div.hsbcContentStyle16 ul li.selectedLast a,
.extGold div.hsbcContentStyle16 ul li.tabSelected a.lastItem,
.extGold div.hsbcContentStyle16 ul li.tabSelected.lastItem a
{
	color:#d09b0e;
	text-decoration:none;
	background:url("pagetab-selected-lastitem.gif") left bottom no-repeat;
}







.hsbcContentStyle50 .componentStyle002
{
	width:307px;
	float:left;
	margin:0px;
	padding:0px 0px 8px 0px;
}
.hsbcContentStyle50 .extSpacing001
{
	padding-bottom:0px;
}
.hsbcContentStyle50 .componentStyle002Wrapper
{
	margin:0px;
	padding:0px 20px 20px;
}
.hsbcContentStyle50 .componentStyle002 h2
{	
	font-size:111%;
	margin:0px;
	padding:0px;
}
.extGold .componentStyle002 h2
{
	color:#d09b0e;
}

.hsbcContentStyle50 .componentStyle002 p
{
	margin:24px 0px 0px 0px;
	padding:0px;
	font-size:74%;
	color:#666666;
}
.hsbcContentStyle50 .componentStyle002 ul
{
	margin:24px 0px 0px 0px;
	padding:0px;
	list-style:none
}
.hsbcContentStyle50 .componentStyle002 ul li
{
	margin:0px;
	padding:0px 0px 5px 12px;
	font-size:74%;
	background:url("bullet-gold-arrow.gif") left top no-repeat;
	height:1%;
}
.hsbcContentStyle50 .componentStyle002 ul li a
{
	color:#ff0000;
	padding:0px 0px 0px 0px;
	text-decoration:underline;
}
.extGold .componentStyle002 ul li a
{
	color:#d09b0e;
}
.hsbcContentStyle50 .componentStyle002a
{
	width:306px;
	float:right;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border-top:#dddddd 1px solid;
	border-right:#dddddd 1px solid;
	background:url("bg-contentStyle-001.gif") left top no-repeat;
	background-color:#FFFFFF;
}
.hsbcContentStyle50 .componentStyle002aWrapper
{
	padding:20px 15px 21px 15px;
	margin:0px;
}
.hsbcContentStyle50 .componentStyle002a h2
{
	color:#666666;
	font-size:111%;
	margin:0px;
	padding:0px;
}
.extGold .componentStyle002a h2
{
color:#d09b0e;
}

.hsbcContentStyle50 .componentStyle002b
{
	width:305px;
	float:right;
	margin:0px;
	padding:0px 0px 8px 0px;
	border-left:#dddddd 1px solid;
	border-right:#dddddd 1px solid;
	border-top:#dddddd 1px solid;
	background-color:#ededed;
}
.extGold .componentStyle002b
{
	background-color:#faf6e9;
}
.hsbcContentStyle50 .extStyle002
{
	border-bottom:#dddddd 1px solid;
}
.hsbcContentStyle50 .componentStyle002bWrapper
{
	padding:7px 9px 0px 13px;
	margin:0px;
}
.hsbcContentStyle50 .componentStyle002baWrapper
{
	padding:0px 9px 0px 13px;
	margin:0px;
}

.extGold .componentStyle002bWrapper
{
	padding:11px 15px 6px 15px;
	margin:0px;
}

.hsbcContentStyle50 .componentStyle002b .componentStyle002baWrapper p
{
	padding:16px 0px 0px 0px;
	margin:0px;
}
.hsbcContentStyle50 .componentStyle002b p
{
	margin:0px;
	padding:3px 0px 0px 0px;
	font-size:74%;
	color:#666666;
}
.hsbcContentStyle50 .componentStyle002b p.extStyle006
{
	margin:0px;
	padding:0px 0px 3px 0px;
	font-size:68%;
}
.hsbcContentStyle50 .componentStyle002b p.extStyle006 a
{
	color:#666666;
}
.hsbcContentStyle50 .componentStyle002b p a
{
	color:#000000;
	text-decoration:underline;
}
.hsbcContentStyle50 .componentStyle002b .curvyButton001
{
	float:right;
	margin:3px 0px 0px 0px;
	padding:0px;
}
.hsbcContentStyle50 .componentStyle002b .contentStyle002b
{
	width:70px;
	height:30px;
	float:right;
	margin:0px;
	padding:8px 0px 5px 0px;
	text-align:center;
}



.hsbcContentStyle50 .componentStyle002b .contentStyle002c
{
	width:280px;
	float:left;
	margin:10px 0px 0px 0px;
	padding:10px 0px 0px 0px;
	border-top:#d6d6d6 1px dotted;
	color:#666666;
}
.hsbcContentStyle50 .componentStyle002b .contentStyle002c p
{
	float:none;
	margin:0px;
	padding:0px 0px 3px 0px;
	font-size:68%;
	vertical-align:middle;
}
.hsbcContentStyle50 .contentStyle002c p.extStyle007
{
	padding-top:5px!important;
}
.hsbcContentStyle50 .componentStyle002b .contentStyle002c p.extStyle005
{
	color:#989898;
}
/* THE FOLLOWING STYLES ARE THE RECONSTRUCTION STYLES FOR GOLD-MASTERCARD PAGES */


hsbcContentStyle50 .componentStyle003x
{
	width:636px;
	float:left;
	background:#f9f9f9 url("bgContentStyle27.gif") no-repeat top left;
	border:10px solid #fff;
	border-right-width:18px;
	border-top:none;
	padding:15px 15px 15px 35px;
	/* padding:0px; */
}

.hsbcContentStyle50 .componentStyle003a
{
	_float:left;
	_clear:both;
	_width:100%;
	margin:0px;
	padding:0px;
	/* background:url("img/pageBgs/bg-contentStyleBottomWhite-002.gif") left bottom no-repeat; */
}

.hsbcContentStyle50 .componentStyle003Wrapper
{
	margin:0px;
	padding:20px 20px 10px 18px!important;
}
.hsbcContentStyle50 .componentStyle003x h3
{
	margin:0px 0px 20px 0px;
	padding:0px;
	font-size:111%;
	color:#777;
}
.hsbcContentStyle50 .componentStyle003x h4
{
	margin:0px 0px 20px 0px;
	padding:0px;
	color:#777;
	font-size:87%;
	font-weight:normal;
}
.extGold .componentStyle003x h4,
.extGold .componentStyle003x h3
{
	color:#d09b0e;
}
.hsbcContentStyle50 .componentStyle003x p.extStyle003
{
	color:#333;
}
.hsbcContentStyle50 .componentStyle003x p
{
	margin:0px 0px 20px 0px;
	padding:0px;
	font-size:74%;
	color:#666;
}
.hsbcContentStyle50 .componentStyle003x p a
{
	color:#000;
	text-decoration:underline;
}
.hsbcContentStyle50 .componentStyle003x ul
{
	margin:0px 0px 20px 16px;
	padding:0px;
	font-size:74%;
	color:#666;
	list-style:square;
}
.hsbcContentStyle50 .componentStyle003x ul li
{
	margin:0px 0px 5px 0px;
	padding:0px;
}
.hsbcContentStyle50 .componentStyle003b
{
	width:636px;
	float:left;
	margin:0px;
	padding:0px 0px 0px 0px;
	border-bottom:#dddddd 1px solid;
}
.hsbcContentStyle50 .componentStyle003x .componentStyle003b h3
{
	width:150px;
	float:left;
	margin:0px;
	padding:0px 0px 22px 0px;
	color:#666;
	font-size:111%;
}
.hsbcContentStyle50 .componentStyle003x .componentStyle003b ul
{
	margin:5px 0px 0px 0px;
	padding:0px;
	list-style:none;
	float:right;
}
.hsbcContentStyle50 .componentStyle003x .componentStyle003b ul li
{
	float:left;
	margin:0px;
	padding:0px 8px 0px 6px;
	color:#666;
	font-size:100%;
	background:url("seperation-pipe-001.gif") right top no-repeat;
}
.hsbcContentStyle50 .componentStyle003x .componentStyle003b ul li a
{
	color:#000;
}
.hsbcContentStyle50 .componentStyle003x .componentStyle003b ul li.lastItem
{
	background:none;
}
.hsbcContentStyle50 .componentStyle003c
{
	width:636px;
	float:left;
	margin:0px 0px 0px 0px;
	padding:0px;
	border-bottom:#dddddd 1px solid;
}
.hsbcContentStyle50 .componentStyle003c .componentStyle003cWrapper
{
	margin:0px;
	padding:20px 20px 0px 18px;
}
.hsbcContentStyle50 .componentStyle003c h3,
.hsbcContentStyle50 .componentStyle003b p,
.hsbcContentStyle50 .componentStyle003b p a
{
	color:#f00;
}
.extGold .componentStyle003c h3,
.extGold .componentStyle003b p,
.extGold .componentStyle003b p a
{
	color:#d09b0e;
}
.hsbcContentStyle50 .extStyle012
{
	background-color:#f7efd2;
	border-left:#dddddd 1px solid;
	border-right:#dddddd 1px solid;
}
.hsbcContentStyle50 .extStyle013
{
	margin-bottom:20px;
}
.hsbcContentStyle50 .componentStyle003c .extraInfo
{
	float:right;
	width:200px;
	margin:0px;
	padding:0px;
}
.hsbcContentStyle50 .componentStyle003c .extraInfo img
{
	float:right;
}
.hsbcContentStyle50 .componentStyle003c .extraInfo p
{
	font-size:68%;
	text-align:right;
	padding:0px 0px 3px 0px;
	margin:0px;
}
.hsbcContentStyle50 .componentStyle003
{
	width:636px;
	float:left;
	margin:15px 0px 20px 0px;
	padding:0px;
	background:url("bg-contentStyleTop-002.gif") left top no-repeat;
}
.hsbcContentStyle50 .componentStyle003a
{
	_float:left;
	_clear:both;
	_width:100%;
	margin:0px;
	padding:0px;
	background:url("bg-contentStyleBottom-002.gif") left bottom no-repeat;
}

.hsbcContentStyle50 .componentStyle003Wrapper
{
	margin:0px;
	padding:20px 20px 10px 18px!important;
}
.hsbcContentStyle50 .componentStyle003 h3
{
	margin:0px 0px 20px 0px;
	padding:0px;
	font-size:111%;
	color:#777;
}
.hsbcContentStyle50 .componentStyle003 h4
{
	margin:0px 0px 20px 0px;
	padding:0px;
	color:#777;
	font-size:87%;
	font-weight:normal;
}
.extGold .componentStyle003 h4,
.extGold .componentStyle003 h3
{
	color:#d09b0e;
}
.hsbcContentStyle50 .componentStyle003 p.extStyle003
{
	color:#333;
}
.hsbcContentStyle50 .componentStyle003 p
{
	margin:0px 0px 20px 0px;
	padding:0px;
	font-size:74%;
	color:#666;
}
.hsbcContentStyle50 .componentStyle003 p a
{
	color:#000;
	text-decoration:underline;
}
.hsbcContentStyle50 .componentStyle003 ul
{
	margin:0px 0px 20px 16px;
	padding:0px;
	font-size:74%;
	color:#666;
	list-style:square;
}
.hsbcContentStyle50 .componentStyle003 ul li
{
	margin:0px 0px 5px 0px;
	padding:0px;
}
.hsbcContentStyle50 .componentStyle003b
{
	width:636px;
	float:left;
	margin:0px;
	padding:0px 0px 0px 0px;
	border-bottom:#dddddd 1px solid;
}
.hsbcContentStyle50 .componentStyle003 .componentStyle003b h3
{
	width:150px;
	float:left;
	margin:0px;
	padding:0px 0px 22px 0px;
	color:#666;
	font-size:111%;
}
.hsbcContentStyle50 .componentStyle003 .componentStyle003b ul
{
	margin:5px 0px 0px 0px;
	padding:0px;
	list-style:none;
	float:right;
}
.hsbcContentStyle50 .componentStyle003 .componentStyle003b ul li
{
	float:left;
	margin:0px;
	padding:0px 8px 0px 6px;
	color:#666;
	font-size:100%;
	background:url("seperation-pipe-001.gif") right top no-repeat;
}
.hsbcContentStyle50 .componentStyle003 .componentStyle003b ul li a
{
	color:#000;
}
.hsbcContentStyle50 .componentStyle003 .componentStyle003b ul li.lastItem
{
	background:none;
}
.hsbcContentStyle50 .componentStyle003c
{
	width:636px;
	float:left;
	margin:0px 0px 0px 0px;
	padding:0px;
	border-bottom:#dddddd 1px solid;
}
.hsbcContentStyle50 .componentStyle003c .componentStyle003cWrapper
{
	margin:0px;
	padding:20px 20px 0px 18px;
}
.hsbcContentStyle50 .componentStyle003c h3,
.hsbcContentStyle50 .componentStyle003b p,
.hsbcContentStyle50 .componentStyle003b p a
{
	color:#f00;
}
.extGold .componentStyle003c h3,
.extGold .componentStyle003b p,
.extGold .componentStyle003b p a
{
	color:#d09b0e;
}
.hsbcContentStyle50 .extStyle012
{
	background-color:#f7efd2;
	border-left:#dddddd 1px solid;
	border-right:#dddddd 1px solid;
}
.hsbcContentStyle50 .extStyle013
{
	margin-bottom:20px;
}
.hsbcContentStyle50 .componentStyle003c .extraInfo
{
	float:right;
	width:200px;
	margin:0px;
	padding:0px;
}
.hsbcContentStyle50 .componentStyle003c .extraInfo img
{
	float:right;
}
.hsbcContentStyle50 .componentStyle003c .extraInfo p
{
	font-size:68%;
	text-align:right;
	padding:0px 0px 3px 0px;
	margin:0px;
}
.hsbcContentStyle50 form
{
	float:right;
	margin:0px;
	padding:0px 0px 10px 0px;
}
.hsbcContentStyle50 fieldset
{
	position:relative;
	margin:0px;
	padding:0px;
	border:none!important;
}
.hsbcContentStyle50 fieldset legend
{
	position:absolute;
	left:-5000px;
	top:-5000px;
	padding:0;
	margin:-10px;
	text-indent:-9999px;
}
.hsbcContentStyle50 fieldset label
{
	display:block;
	color:#666;
	font-size:74%;
	margin:0px;
	padding:0px;
}
.hsbcContentStyle50 input.text01
{
	float:left;
	width:150px;
	margin:4px 10px 0px 0px;
	padding:0px;
	height:15px;
}
.hsbcContentStyle50 input.goButton
{
	float:left;
	margin:4px 0px 0px 0px;
}
.hsbcContentStyle50 .componentStyle001
{
	width:637px;
	float:left;
	margin:0px;
	padding:0px 0px 43px 0px;
	background:url("gold-mastercard.gif") right bottom no-repeat;
}
.hsbcContentStyle50 .componentStyle001Wrapper
{
	margin-right:240px;
	margin-left:20px;
	margin-top:30px;
	padding:0px;
}
.hsbcContentStyle50 .componentStyle001 h1
{
	margin:0px 0px 10px 0px;
	padding:0px;
	color:#d09b0e;
	font-size:204%;
}
.hsbcContentStyle50 .componentStyle001 p
{
	margin:0px;
	padding:0px;
	color:#000000;
	font-size:111%;
}

.hsbcContentStyle50 .componentStyle004
{
	width:306px;
	float:left;
	margin:0px;
	padding:0px;
}
.hsbcContentStyle50 .componentStyle004 .componentStyle004Wrapper
{
	margin:0px 10px 20px 0px;
	padding:0px;
}
.hsbcContentStyle50 .componentStyle004 h2
{
	color:#666;
	font-size:100%;
	margin:0px 0px 10px 0px;
	padding:0px;
}
.hsbcContentStyle50 .componentStyle004 p
{
	margin:0px 0px 20px 0px;
	padding:0px;
	color:#666;
	font-size:74%;
	line-height:1.5em;
}
.hsbcContentStyle50 .componentStyle004 p a
{
	color:#000;
	text-decoration:underline;
}
.containerMainFullWidth
{
	width:880px;
	float:left;
	margin:0px;
	padding:0px;
}
.containerMainFullWidth .containerBoxStyle01
{
	margin:40px 24px 0px 24px;
	padding:0px;
}
.containerMainFullWidth .containerBoxStyle01 .columnContainer02 .column01
{
	width:415px;
	float:left;
	margin:0px;
	padding:0px;
}
.containerMainFullWidth .containerBoxStyle01 .columnContainer02 .column01 .contentStyle01
{
	margin:0px;
	padding:0px;
}
.containerMainFullWidth .containerBoxStyle02
{
	margin:0px 30px 0px 10px;
	padding:0px;
	float:left;
}
.containerMainFullWidth .containerBoxStyle02 .columnContainer03 .column01
{
	width:290px;
	float:left;
	margin:0px;
	padding:0px;
}
.containerMainFullWidth .containerBoxStyle02 .columnContainer03 .column02
{
	width:275px;
	float:left;
	margin:0px;
	padding:0px;
}
.containerMainFullWidth .containerBoxStyle03
{
	margin:0px 20px 20px 20px;
	padding:0px;
}
.containerMainFullWidth .containerBoxStyle03 .columnContainer04 .column
{
	width:210px;
	float:left;
	margin:0px;
	padding:0px;
}
.containerMainFullWidth .containerBoxStyle02 .columnContainer03 .column01 .contentStyle01,
.containerMainFullWidth .containerBoxStyle02 .columnContainer03 .column02 .contentStyle01,
.containerMainFullWidth .containerBoxStyle03 .columnContainer04 .column .contentStyle01
{
	margin:0px;
	padding:0px;
}



.component005
{
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
}
.component005 .component005Wrapper
{
	margin:0px 20px;
	padding:0px;
}
.component005 h1
{
	font-size:150%;
	color:#FF0000;
	margin:0px;
	padding:0px;
}
.component005 ul
{
	margin:15px 0px 10px 15px;
	padding:0px;
	list-style:square;
}
.component005 ul li
{
	margin:0px;
	padding:0px 0px 3px 0px;
	font-size:74%;
	color:#666;
	line-height:17px;zc
}
.component005a
{
	width:326px;
	float:left;
	margin:0px;
	padding:0px;
	background: url("bg-contentStyle-003.gif") left top no-repeat;
}
.component005a img
{
	float:right;
	margin:0px 0px 0px 0px;
	padding:0px;
}
.component005a h2
{
	font-size:111%;
	color:#FF0000;
	margin:0px 0px 0px 0px;
	padding:0px;
}
.component005a p
{
	font-size:74%;
	color:#000;
	margin:0px 0px 0px 0px;
	padding:0px;
}
.component005b
{
	width:200px;
	float:left;
	margin:35px 30px 0px 20px;
	padding:0px;
}
.component005b .component005bWrapper
{
	margin:0px 20px;
	padding:0px;
}
.component005b img
{
	float:left;
	margin:10px 30px 0px 0px;
	padding:0px;
}
.component005c
{
	margin:170px 0px 0px 0px;
	padding:0px;
}
.component006
{
	width:295px;
	float:left;
	margin:0px 0px 20px 0px;
	padding:0px;
	background:#f30000 url("red-banner-top.gif") left top no-repeat;
	border-bottom:#eaeaea 1px solid;
}
.component006 .component006Wrapper
{
	margin:0px;
	padding:17px 0px 12px 20px;
}
.component006 h2
{
	margin:0px;
	padding:0px 0px 4px 0px;
	font-size:111%;
	font-weight:normal;
	color:#ffffff;
}
.component006 p
{
	margin:0px;
	padding:0px 0px 12px 0px;
	font-size:74%;
	color:#ffffff;
}
.component006 img
{
	margin:0px;
	padding:0px;
}
.component006a h3
{
	margin:0px;
	padding:0px 0px 4px 0px;
	font-size:111%;
	font-weight:normal;
	color:#666666;
	border:none;
}
.component006b
{
	width:295px;
	float:left;
	margin:0px;
	padding:0px 0px 0px 0px;
	border-top:#eaeaea 1px solid;
}
.component006b .component006bWrapper
{
	margin:0px;
	padding:18px 0px;
}
.component006b h4
{
	font-size:87%;
	color:#FF0000;
	margin:0px;
	padding:0px 0px 0px 0px;
}
.component006b p
{
	color:#666;
	margin:0px;
	padding:0px 0px 0px 2px;
}
.component006b p.caption
{
	color:#000;
	margin:0px;
	padding:0px 0px 10px 2px;
}
.component006b img
{
	float:right;
	margin:0px;
	padding:0px;
}
.containerMainGoldMaterCard .extSpacing001
{
	padding-bottom:0px;
}
.containerMainGoldMaterCard .extSpacing002
{
	margin-top:0px;
	border-top:none;
}
.extStyle018
{
	float:left;
	border-top:#f2f2f2 1px solid;
	border-left:#f2f2f2 1px solid;
	border-right:#dcdcdc 1px solid;
	border-bottom:#dcdcdc 1px solid;
}
.extStyle020
{
	float:left;
	background:transparent url("fullwidth-bg-bottom.gif") no-repeat left bottom;
}
.componentStyle007
{
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
	left:-1px;
	position:relative;
	background:transparent url("bgH1-01.gif") no-repeat left top;
}
.componentStyle007 .componentStyle007Wrapper
{
	margin:20px 25px;
	padding:0px;
}
.extStyle022 .componentStyle007Wrapper
{
	margin:0px 25px;
	padding:0px;
}
.extStyle022
{
	margin-top:20px;
	margin-bottom:20px;
	border-right:#e5e5e5 1px solid;
}
.componentStyle007 h1
{
	font-size:150%;
	color:#FF0000;
	margin:0px 0px 10px 0px;
	padding:0px;
}
.componentStyle007 p
{
	font-size:100%;
	color:#666;
	margin:0px;
	padding:0px;
}
.componentStyle007 form p
{
	font-size:68%;
}
.componentStyle007 form p a
{
	color:#666;
}
.containerMainFullWidth .componentStyle007 form
{
	float:left;
	width:390px;
	margin:0px;
	padding:0px 0px 40px 25px;
	background:transparent url("login-bg.gif") no-repeat right top;
}
.containerMainFullWidth .extStyle022 form
{
	float:left;
	width:390px;
	margin:0px;
	padding:0px 0px 20px 25px;
	background:none;
}
.componentStyle007 fieldset
{
	position:relative;
	margin:0px;
	padding:0px;
	border:none!important;
}
.componentStyle007 fieldset legend
{
	position:absolute;
	left:-5000px;
	top:-5000px;
	padding:0;
	margin:-10px;
	text-indent:-9999px;
}
.componentStyle007 fieldset label
{
	color:#666;
	font-size:74%;
	margin:0px 0px 5px 0px;
	padding:0px;
	display:block;
}
.componentStyle007 input.text01
{
	float:left;
	margin:0px 10px 10px 0px!important;
	padding:0px;
}
.componentStyle007 input.okButton
{
	margin:0px 50px 10px 0px;
}
.componentStyle007a
{
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
}
.componentStyle007a .componentStyle007Wrapper
{
	margin:20px 25px;
	padding:0px;
}
.extStyle019 .componentStyle007Wrapper
{
	margin:0px 25px;
	padding:0px;
}
.extStyle019
{
	margin-top:20px;
	margin-bottom:20px;
	border-left:#e5e5e5 1px solid;
}
.componentStyle007b
{
	border-bottom:#f2f2f2 1px solid;
	padding-bottom:10px;
	margin-bottom:20px;
}
.componentStyle007c
{
	border-bottom:none;
	padding-bottom:0px;
	margin-bottom:0px;
}
.componentStyle007b h2,
.componentStyle007c h2
{
	font-size:100%;
	color:#666;
	margin:0px 0px 10px 0px;
	padding:0px;
}
.componentStyle007b p
{
	font-size:74%;
	color:#666;
	margin:0px 0px 3px 0px;
	padding:0px;
	line-height:1.5em;
}
.componentStyle007c p
{
	font-size:74%;
	color:#666;
	margin:0px 0px 0px 0px;
	padding:0px;
	line-height:1.5em;
}
.componentStyle007b p a,
.componentStyle007c p a,
span.extStyle021
{	
	color:#FF0000;
}
.componentStyle008
{
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
	background:url("banner21.gif") left bottom no-repeat;
}
.componentStyle008 .componentStyle008Wrapper
{
	margin:0px;
	padding:145px 28px 53px 32px;
}
.componentStyle008 .componentStyle008Wrapper .componentStyle008Inner
{
	height:160px;
}
.componentStyle008 h2
{
	color:#333;
	margin:0px;
	padding:0px 0px 5px 0px;
	font-size:74%;
}
.componentStyle008 p,
.componentStyle008a p
{
	margin:0px;
	padding:0px 0px 5px 0px;
	font-size:74%;
	color:#666;
}
.componentStyle008 p
{
	margin:0px 0px 2px 0px;
	padding:0px;
	line-height:1.5em;
}
.componentStyle008 p a
{
	font-size:90%;
	color:#006699;
	text-decoration:underline;
}
.componentStyle008 ul
{
	float:left;
	width:100%;
	margin:15px 0px;
	padding:0px;
	list-style:none;
}
.componentStyle008 ul li
{
	float:left;
	font-size:68%;
	margin:0px;
	padding:0px 5px 0px 5px;
}
.componentStyle008 ul li.firstItem
{
	border-right:#006699 1px solid;
	padding-left:0px;
}
.componentStyle008 ul li a
{
	color:#006699;
	text-decoration:none;
}
.componentStyle008 ul li a:hover
{
	text-decoration:underline;
}
.componentStyle008a
{
	/* width:100%; */
	float:left;
	margin:20px 0px 0px 0px;
	padding:0px;
}

.componentStyle008b
{
	width:50%;
	margin-top:0;
}

.componentStyle008a .componentStyle008aWrapper
{
	margin:10px 25px 0px 20px;
	padding:0px;
}
.componentStyle008a .componentStyle008aWrapper h2
{
	margin:0px 0px 0px 0px;
	padding:12px 0px 5px 0px;
	font-size:74%;
	color:#333;
}
.componentStyle008a img.extStyle024
{
	float:right;
	margin:0px 0px 0px 40px;
	padding:0px;
}
.componentStyle009
{
	width:210px;
	float:left;
	margin:20px 0px;
	padding:0px;
}
.componentStyle009 .componentStyle009Wrapper
{
	margin:0px;
	padding:10px 20px 10px 16px;
	border-right:#dedede 1px solid;
}
.componentStyle009 img
{
	float:right;
	margin:0px;
	padding:0px;
}
.componentStyle009 h3
{
	margin:0px 0px 0px 0px;
	padding:0px;
	font-size:100%;
	color:#FF0000;
}
.componentStyle009 p
{
	margin:0px;
	padding:12px 0px 0px 0px;
	font-size:74%;
	color:#666;
	line-height:1.5em;
}
.componentStyle009 ul
{
	margin:0px;
	padding:0px;
	list-style:none;
}
.componentStyle009 ul li
{
	margin:12px 0px 0px 0px;
	padding:0px;
	font-size:74%;
}
.componentStyle009 ul li a
{
	color:#333;
	text-decoration:underline;
}
div.hsbcContentStyle60 p {
      line-height:1.4em;
}
div.hsbcContentStyle61 p,
div.hsbcContentStyle63 p {
      line-height:1.5em;
}
div.hsbcContentStyle61 a {
      line-height:1.5em;
}


/* HW2008Amend */
.containerMainFullWidth .hsbcContentStyle26
{
	width:868px;
}
.componentStyle009 .extStyle026
{
	border:none;
}
.hsbcEntity .extStyle028
{
	background:none!important;
}
.containerMainFullWidth .extStyle023
{
	float:left;
	width:880px;
	margin:0px;
	padding:0px;
	background:url("homepage-bg-top.gif") left bottom no-repeat;
}
.containerMainFullWidth .extStyle025,
.containerMainFullWidth .extStyle027
{
	height:36px;
	margin:0px;
	padding-right:16px;
}
.extStyle027 ul li
{
	font-size:111%;
	background:url("seperation-pipe-002.gif") no-repeat left center;
}
.extStyle027 ul li a
{
	text-decoration:underline;
}
.containerMainGoldMaterCard .extSpacing003
{
	margin-top:1px!important;
}
.containerMainGoldMaterCard .extSpacing004
{
	margin-bottom:8px!important;
}
.containerMainGoldMaterCard .extStyle001
{
	color:#FF0000;
	font-size:111%;
}
/*.containerMainGoldMaterCard .extStyle04
{
	margin-top:8px!important;
}*/
.containerMainGoldMaterCard .extStyle008
{
	float:left;
	background:url("bg-two-column.gif") left bottom no-repeat;
}
.extStyle009
{
	font-size:100%!important;
}
.extStyle009 a
{
	color:#FF0000!important;
}
.hsbcColumnsOne .hsbcColumn .extStyle010
{
	font-size:100%;
	float:left;
	color:#FF0000;
	text-align:center;
	margin:0px 10px 0px 120px;
	padding:0px;
}
.hsbcColumnStyle01 .extStyle011
{
	border-bottom:#ddd 1px solid;
	margin:0px 15px 10px 15px;
	padding:0px 0px 15px 0px;
}
.containerMainGoldMaterCard .extStyle014
{
	border-bottom:#ddd 1px solid;
}
.containerMainGoldMaterCard .extStyle015
{
	padding-bottom:20px;
	margin-top:10px;
}
.extStyle016
{
	padding-top:0px;
}
.hsbcColumnStyle01 .hsbcColumnsTwo .extStyle017
{
	margin-top:0px;
}


.hsbcColumnStyle30a
{
	padding:0px 30px 0px 10px;
	margin:0;
	background:url("homepage-bg-top.gif") left bottom no-repeat;
}

.pageBody .hsbcColumnsTwo .hsbcColumnStyle30b
{
	width:290px;
	margin:0px;
	padding:0px;
}

.pageBody .hsbcColumnsTwo .hsbcColumnStyle30c
{
	width:275px;
	margin:0px;
	padding:0px;
}
.pageBody .hsbcColumnsTwo .hsbcColumnStyle30d
{
	width:550px;
	margin:0px;
	padding:0px;
}

.hsbcColumnStyle31a
{
	padding:0px 20px 0 20px;
	margin:0px;
}
.hsbcColumnStyle31b
{
	width:210px;
	float:left;
	margin:0px;
	padding:0px;
}

.hsbcCssHide
{
	display:none;
}


/* ------------------------------- STYLES RELEVANT TO PFS HOMEPAGE AND OUVRIR UN COMPTE FOLLOW ------------------------------ */
/* TOM FARMER AUGUST 07 */

/* -------------------------------- GENERAL ----------------------------- */

.pfsBackground
{
	background:url("pfs-bg.gif") bottom left repeat-x;
}
.extLoginBG
{
	background:url("login-bg.gif.1") bottom right no-repeat;
}

/* -------------------------------- TYPOGRAPHY / LINKS ----------------------------- */

p
{
	margin:0 0 10px 0;
}

.pfsFontStyle00,
div.pfsComponent00 p,
div.hsbcContentStyle60 p,
div.pfsComponent01 p,
div.hsbcContentStyle61 p,
div.pfsComponent03 p,
div.hsbcContentStyle63 p
{
	font-size:75%;
	color:#777;
}
.pfsFontStyle00 strong,
.pfsFontStyle00 a,
div.pfsComponent00 p strong,
div.pfsComponent00 p a,
div.hsbcContentStyle60 p strong,
div.hsbcContentStyle60 p a
{
	color:#669933;
}

.pfsFontStyle01,
div.pfsComponent01 a,
div.hsbcContentStyle61 a
{
	font-size:69%;
	color:#000;
}

.pfsFontStyle02,
div.pfsComponent03 ul li a,
div.hsbcContentStyle63 ul li a
{
	font-size:75%;
	color:#000;
}



/* -------------------------------- BOXES ----------------------------- */

div.pfsBox00,
div.hsbcColumnStyle32
{
	float:none;
	width:880px;
}

html body .pageBody div.hsbcColumnsTwo div.hsbcColumnStyle32a,
div.pfsBox01
{
	float:left;
	width:295px;
	background:url("pfs-lhs.gif") top left no-repeat;
}


div.pfsBox02,
html body .pageBody div.hsbcColumnsTwo div.hsbcColumnStyle32b
{
	float:left;
	width:585px;
	padding-bottom:10px;
}


/* -------------------------------- COMPONENTS ----------------------------- */

div.pfsComponent00,
div.hsbcContentStyle60
{
	float:left;
	clear:both;
	min-height:370px;
	_height:370px;
}
div.pfsComponent00 img.welcomeImage,
div.hsbcContentStyle60 img.welcomeImage
{
	margin:20px 0 0 30px;
}
div.pfsComponent00 div.pfsSpacing,
div.hsbcContentStyle60 div.pfsSpacing
{
	padding:5px 35px 0 40px;
	float:left;
	clear:both;
}
div.pfsComponent00 div.pfsSpacing div,
div.hsbcContentStyle60 div.pfsSpacing div
{
	width:220px;
	clear:both;
	float:left;
	margin:8px 0 0 0;
}
div.pfsComponent00 div.pfsSpacing div img,
div.hsbcContentStyle60 div.pfsSpacing div img
{
	float:right;
}
div.pfsComponent00 div.pfsSpacing div p,
div.hsbcContentStyle60 div.pfsSpacing div p
{
	width:135px;
	float:left;
	display:inline;
	margin-left:20px;
	padding-top:12px;
}
div.pfsComponent00 div.pfsSpacing div p a,
div.hsbcContentStyle60 div.pfsSpacing div p a
{
	font-weight:bold;
	text-decoration:none;
}
div.pfsComponent00 div.pfsSpacing div p a:hover,
div.hsbcContentStyle60 div.pfsSpacing div p a:hover
{
	text-decoration:underline;
}

div.pfsComponent01,
div.hsbcContentStyle61
{
	clear:both;
	margin:50px 0 0 35px;
	width:250px;
	float:left;
	display:inline;
	border-top:1px solid #ddd;
}
div.pfsComponent01 h3,
div.pfsComponent03 h3,
div.hsbcContentStyle63 h3,
div.hsbcContentStyle61 h3
{
	margin:10px 0 10px 0;
	padding:0;
	color:#fa0202;
	font-size:87%;
}
div.pfsComponent01 a,
div.hsbcContentStyle61 a
{
	float:left;
	margin-bottom:15px;
}


div.pfsComponent02,
div.hsbcContentStyle62
{
	float:left;
	clear:both;
	padding-left:5px;
	margin:5px 0 15px 0;
}
div.pfsComponent02 img,
div.hsbcContentStyle62 img
{
	border:0;
	float:left;
}

div.pfsComponent03,
div.hsbcContentStyle63
{
	border-top:1px solid #ddd;
	background-color:#fff;
	margin:0 0 0 10px;
	float:left;
	width:536px;
	display:inline;
	clear:both;
}
div.pfsComponent03 div.pfsSpacing,
div.hsbcContentStyle63 div.hsbcContentStyle63a
{
	padding:10px 0 10px 0;
	float:left;
	clear:both;
}
div.pfsComponent03 div.pfsComponent03inner,
div.hsbcContentStyle63 div.hsbcContentStyle63b
{
	float:left;
	clear:both;
	background:url("1px-grey.gif") top center repeat-y;
}
div.pfsComponent03 div.pfsColumn,
.pageBody div.hsbcContentStyle63 div.hsbcColumn
{
	width:268px;
	float:left;
}
div.pfsComponent03 div.seperator,
div.hsbcContentStyle63 div.seperator
{	
	display:inline;
	overflow:hidden;
	margin:0 20px;
	width:496px;
	float:left;
	clear:both;
	height:11px;
	background: url("1px-grey.gif") left repeat-x;
}
div.pfsComponent03 div.pfsColumn div.pfsColumnSpacing,
div.hsbcContentStyle63 div.hsbcColumn div.hsbcContentStyle63c
{
	float:left;
	margin:0;
	padding:0 18px;
}
div.pfsComponent03 div.pfsColumn div.extSpacing00,
div.hsbcContentStyle63 div.hsbcColumn div.extSpacing00
{
	padding:10px 0 0 18px;
}
div.pfsComponent03 h3,
div.hsbcContentStyle63 h3
{
	margin-top:10px;
}
div.pfsComponent03 ul,
div.hsbcContentStyle63 ul
{
	padding:0;
	margin:0;
	list-style:none;
}
div.pfsComponent03 ul li,
div.hsbcContentStyle63 ul li
{
	width:232px;
	float:left;
	clear:both;
	background: url("grey-dots.gif") bottom left repeat-x;
}
div.pfsComponent03 ul li a,
div.hsbcContentStyle63 ul li a
{
	padding:5px 0 4px;
	float:left;
}
div.pfsComponent03 ul li span,
div.hsbcContentStyle63 ul li span
{
	float:left;
	padding-bottom:3px;
}
div.pfsComponent03 ul li a img,
div.hsbcContentStyle63 ul li a img
{
	float:right;
	margin-bottom:1px;
}

div.pfsComponent03 ul li.last,
div.hsbcContentStyle63 ul li.last
{
	background:none;
}
html body a.pfsPlusButton
{
	margin:10px 0 0 0;
	float:right;
}

div.pfsComponent03 p strong,
div.pfsComponent03 p a,
div.hsbcContentStyle63 p strong,
div.hsbcContentStyle63 p a
{
	font-weight:normal;
	color:#000;
}
div.pfsComponent03 div.hr,
div.hsbcContentStyle63 div.hr
{
	height:1px;
	width:231px;
	border-top:1px solid #ddd;
	overflow:hidden;
	margin-left:18px;
	float:left;
}

div.pfsComponent04,
div.hsbcContentStyle64
{
	width:100%;
	float:left;
	clear:both;
	background:url("mainpanel_btm.gif") bottom left no-repeat;
}
div.pfsComponent04 div.pfsComponent04inner,
div.hsbcContentStyle64 div.hsbcContentStyle64b
{
	background:url("mainpanel_top.gif") top left no-repeat;
	float:left;
	clear:both;
	padding:20px 0 40px 0;
}
div.pfsComponent04 div.pfsComponent04inner div.pfsColumn,
.pageBody div.hsbcContentStyle64 div.hsbcContentStyle64b div.hsbcColumn
{
	width:326px;
	float:left;
}

div.pfsComponent04 div.pfsComponent04inner div.pfsColumn div.pfsRow,
div.hsbcContentStyle64 div.hsbcContentStyle64b div.hsbcColumn div.pfsRow
{
	float:left;
	clear:both;
	padding:0 20px;
}

div.pfsComponent04 div.pfsRow h2,
div.pfsComponent04 div.pfsRow h3,
div.hsbcContentStyle64 div.pfsRow h2,
div.hsbcContentStyle64 div.pfsRow h3
{
	margin:0 0 10px 0;
	padding:0;
	color:#f00;
}
div.pfsComponent04 div.pfsRow h2,
div.hsbcContentStyle64 div.pfsRow h2
{
	font-size:150%;
}
div.pfsComponent04 div.pfsRow h3,
div.hsbcContentStyle64 div.pfsRow h3
{
	font-size:118%;
}
div.pfsComponent04 a.pfsPlus,
div.hsbcContentStyle64 a.pfsPlus
{
	margin-top:6px;
	float:right;
}
div.pfsComponent04 a.pfsPlus2,
div.hsbcContentStyle64 a.pfsPlus2
{
	float:right;
}
div.pfsComponent04 p,
div.hsbcContentStyle64 p
{
	font-size:75%;
}
div.pfsComponent04 ul,
div.hsbcContentStyle64 ul
{
	margin:10px 0 0 0;
	padding:0 0 0 16px;
}
div.pfsComponent04 ul li,
div.hsbcContentStyle64 ul li
{
	font-size:75%;
	color:#777;
}

div.pfsComponent04 div.hr,
div.hsbcContentStyle64 div.hr
{
	margin-left:20px;
	display:inline;
	height:31px;
	float:left;
	clear:both;
	width:290px;
	_width:280px;
	background:url("1px-grey2.gif") left repeat-x;
}

div.pfsComponent04 div.pfsContent,
div.hsbcContentStyle64 div.hsbcContentStyle64c
{
	width:286px;
}
div.pfsComponent04 div.pfsContent p,
div.hsbcContentStyle64 div.hsbcContentStyle64c p
{
	color:#777;
}
div.pfsComponent04 a.pfsChangeBanner,
div.hsbcContentStyle64 a.pfsChangeBanner
{	
	color:#000;
	font-size:75%;
	padding:20px;
	margin-top:20px;
	display:block;
	text-decoration:none;
	width:210px;
	wid\th:170px;
	height:100px;
	hei\ght:60px;
	background:url("change_today_bg.gif") top left no-repeat;
}

div.pfsComponent05,
div.hsbcContentStyle65
{
	width:648px;
}
div.pfsComponent05 .hsbcColumnsTwo .hsbcColumn,
div.hsbcContentStyle65 .hsbcColumnsTwo .hsbcColumn
{
	width:320px!important;
}

div.pfsComponent05 h4.pfsStyle,
div.hsbcContentStyle65 h4.pfsStyle
{
	margin:0 0 0 5px;
	color:#f00;
	font-size:87%;
}
div.pfsComponent05 p.pfsStyle,
div.hsbcContentStyle65 p.pfsStyle
{
	color:#000;
	font-size:69%;
	margin:0 0 10px 0; 
}

div.hsbcContentStyle26d input
{
	margin-left:5px;
	font-size:94%;
}

/*-------------------------My France---------------------------*/
/*.pageBody .hsbcColumnsOne .hsbcContentStyle111
{
	float:left;
	margin:0px;
	padding:0px;
	clear:both;
}*/
.hsbcContentStyle111
{
	float:left;
	width:880px;
	margin:40px 0px 0px 0px;
	padding-bottom:15px;
	background:url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/img/myfrance/bannerStyle03-bottom.gif") no-repeat left bottom;
}
.hsbcContentStyle111a
{
	float:left;
	width:854px;
	margin:0px;
	text-transform:uppercase;
	padding:0px 10px 0px 16px;
	background:url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/img/myfrance/bannerStyle03-top.gif") no-repeat left top;
}
.hsbcContentStyle111 img
{
	float:left;
	padding:12px 0px 0px 0px;
	margin:0px 15px 0px 0px;
}
.hsbcContentStyle111b
{
	width:410px;
	float:left;
	margin:0px;
	padding:0px;
}
.hsbcContentStyle111b h1
{
	color:#6699cc;
	font-size:180%;
	padding:12px 0px 0px 0px;
	margin:0px;
}
.hsbcContentStyle111b p
{
	color:#6699cc;
	font-size:68%;
	font-weight:bold;
	margin:0px;
	padding:0px;
}
.hsbcContentStyle111c
{
	float:right;
	margin:20px 0px 0px 0px;
	padding:0px;
}
.hsbcContentStyle111c form
{
	float:left;
	margin:0px;
	padding:0px;
}
.hsbcContentStyle111c form label
{
	font-size:75%;
	color:#6699cc;
	margin:0px 10px 0px 0px;
	padding:0px;
	text-transform:none;
}
.hsbcContentStyle111d
{
	width:390px;
	float:right;
	margin:0px;
	padding:0px;
}
.hsbcContentStyle111d ul
{
	float:right;
	margin:10px 0px 0px 0px;
	padding:0px;
	list-style:none;
}
.hsbcContentStyle111d ul li
{
	float:left;
	display:inline;
	margin:0px 0px 0px 12px;
	padding:0px;
	font-size:75%;
	font-weight:bold;
	background:none;
}
.hsbcContentStyle111d ul li a
{
	padding:0px 0px 0px 8px;
	color:#6699cc;
	background:transparent url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/img/myfrance/link-bullet00.gif") no-repeat left center;
}
.hsbcContentStyle111d ul li.selected a
{
	color:#cccccc;
	background:transparent url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/img/myfrance/link-bullet02.gif") no-repeat left center;
}
.welcome .hsbcContentStyle111
{
	float:left;
	width:880px;
	margin:40px 0px 0px 0px;
	padding:0px;
	background:url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/img/myfrance/bannerStyle03-bottom-gradient.gif") no-repeat left bottom;
}
.welcome .hsbcContentStyle111 .hsbcContentStyle111e
{
	float:left;
	width:854px;
	margin:15px 0px 0px 0px;
	padding:0px;
}
.welcome .hsbcContentStyle111 .hsbcContentStyle111e p
{
	margin:0px;
	padding:0px 0px 7px 0px;
	color:#6699cc;
	text-transform:none;
}
.hsbcContentStyle112
{
	margin:15px 0px 0px 0px;
	padding:0px 23px;
	background:url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/img/myfrance/bannerStyle01-top.gif") no-repeat left top;
}
.hsbcContentStyle112a
{
	padding:0px 10px 18px 10px;
	background:url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/img/myfrance/bannerStyle01-bottom.gif") no-repeat left bottom;
}
.hsbcContentStyle112a h2
{
	font-size:94%;
	font-weight:bold;
	color:#bac92a;
	margin:0px;
	padding:10px 0px 2px 0px;
	text-transform:uppercase;
}
.hsbcContentStyle112a h2 a
{
	color:#bac92a;
}
.hsbcContentStyle112a p
{
	color:#989898;
	font-size:75%;
	margin:0px;
}
.hsbcContentStyle112a p a
{
	display:block;
	font-weight:bold;
	color:#6699cc;
	font-size:94%;
	float:right;
	text-decoration:none;
	padding:0px 0px 0px 8px;
	margin-top:25px;
	text-transform:uppercase;
	background:transparent url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/img/myfrance/link-bullet00.gif") no-repeat left center;
}
.hsbcContentStyle112a p a:hover
{
	text-decoration:underline;
}
.hsbcContentStyle113
{
	float:left;
	width:872px;
	margin:15px 0px 17px 0px;
	padding:0px 4px 0px 4px;
	background:url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/img/myfrance/bannerStyle02-top.gif") no-repeat left top;
}
.hsbcContentStyle113a
{
	float:left;
	width:832px;
	padding:0px 20px 10px;
	background:url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/img/myfrance/bannerStyle02-bottom.gif") no-repeat left bottom;
}
.hsbcContentStyle113a h2
{
	font-size:137%;
	font-weight:bold;
	color:#ccc;
	margin:0px;
	padding:15px 0px 0px 0px;
	text-transform:uppercase;
}
.hsbcContentStyle113a p
{
	color:#999999;
	clear:both;
	font-size:75%;
	padding:10px 0px;
	margin:0px;
}
.hsbcContentStyle113a p a
{
	color:#6699cc;
}
.hsbcContentStyle113a h3
{
	font-size:75%;
	color:#6699cc;
	margin:0px 0px 10px 0px;
	padding:0px;
	text-transform:uppercase;
}
.hsbcContentStyle113 form
{
	margin:0px;
	padding:0px 0px 10px 0px;
}
.hsbcContentStyle113b
{
	width:832px;
	float:left;
	margin:0px;
	padding:0px;
}
.hsbcContentStyle113c
{
	width:416px;
	float:left;
	margin:0px 0px 10px 0px;
	padding:0px;
}
.hsbcContentStyle113 fieldset,
.hsbcContentStyle111b fieldset
{
	position:relative;
	margin:0px;
	padding:0px;
	border:none!important;
}
.hsbcContentStyle113 fieldset legend,
.hsbcContentStyle111b fieldset legend
{
	position:absolute;
	left:-5000px;
	top:-5000px;
	padding:0;
	margin:-10px;
	text-indent:-999px;
}
.hsbcContentStyle113 form .hsbcContentStyle113c .formRow
{
	width:400px;
	float:left!important;
	margin:10px 0px 3px;
	padding:0px;
}
.hsbcContentStyle113 form .hsbcContentStyle113c .formRow .formRowInner
{
	width:200px;
	float:left;
	margin:0px;
	padding:0px;
}
.hsbcContentStyle113 form .hsbcContentStyle113c .formRow .formRowInner label
{
	padding-right:15px;
}
.hsbcContentStyle113 form .hsbcContentStyle113c .formRow .formRowInner label,
.hsbcContentStyle113 form .hsbcContentStyle113c .formRow .formRowInner input,
.hsbcContentStyle113 form .hsbcContentStyle113c .formRow .formRowInner select
{
	float:left;
	color:#999999;
}
.hsbcContentStyle113 form .hsbcContentStyle113c .formRow .formRowInner input
{
	padding-left:2px;
}
.hsbcContentStyle113 form .hsbcContentStyle113c .formRow .formRowInner input,
.hsbcContentStyle113 form .hsbcContentStyle113c .formRow .formRowInner select.selectStyle03
{
	width:178px;
}
.hsbcContentStyle113 form .hsbcContentStyle113c .formRow .formRowInner input.fieldStyle01
{
	width:37px;
}
.hsbcContentStyle113 form .hsbcContentStyle113c .formRow .formRowInner input.fieldStyle02
{
	width:60px;
}
.hsbcContentStyle113 form .hsbcContentStyle113c .formRow .formRowInner select.selectStyle03
{
	width:184px;
}
.pageContentInner .hsbcColumn .hsbcContentStyle113 form .mandatory
{
	font-size:68%;
	color:#6699cc;
	vertical-align:top;
	margin-left:5px;
}
.pageContentInner .hsbcColumn .hsbcContentStyle113 form .slash
{
	float:left;
	margin:0px;
	padding:0px 6px;
	color:#999999;
}
.pageContentInner .hsbcColumn .hsbcTextStyle34
{
	color:#6699cc;
}
.pageContentInner .hsbcColumn .hsbcTextStyle36
{
	margin-top:20px;
}
.hsbcContentStyle113 .hsbcContentStyle113b .hsbcTextStyle35 .formRow
{
	float:right;
}
.hsbcContentStyle113 .hsbcContentStyle113b .hsbcTextStyle35 .formRow .formRowInner input.fieldStyle01
{
	margin-left:57px;
}
.hsbcContentStyle113 .hsbcContentStyle113b form .formRow
{
	width:100%;
	clear:both;
	float:none;
	margin-top:5px;
	margin-bottom:10px;
}
.hsbcContentStyle113 .hsbcContentStyle113b form .formRow label
{
	color:#999;
}
.hsbcContentStyle113 form .hsbcContentStyle113c .formRow .formRowInner img
{
	float:left;
	margin:0px 0px 15px 0px;
	padding:0px;
}
.hsbcContentStyle113 .hsbcContentStyle113b form .buttonRow
{
	width:832px;
	clear:both;
	float:none;
	margin-top:15px;
	margin-bottom:10px;
	padding-top:10px;
	border-top:#efefef 1px solid;
}
.hsbcContentStyle113 .hsbcContentStyle113b form .buttonRow .buttonStyle01
{
	float:right;
	margin-left:10px;
	color:#FFFFFF;
	font-weight:bold;
	border:none;
}
.hsbcContentStyle114
{
	float:left;
	width:832px;
	margin:0px 0px 15px 0px;
	padding:15px 0px 0px 0px;
	border-top:#cccccc 1px solid;
	border-bottom:#cccccc 1px solid;
}
.hsbcContentStyle114 table
{
	margin:0px;
	padding:0px;
	border:none;
	color:#989898;
	float:left;
}
.hsbcContentStyle114 table thead th
{
	margin:0px;
	padding:10px 15px 10px 0px;
	border:none;
	text-align:left;
	background:url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/img/myfrance/table-row-bg01.gif") left bottom repeat-x;
}
.hsbcContentStyle114 table tbody td
{
	margin:0px;
	padding:10px 15px 10px 0px;
	border:none;
	text-align:left;
	background:url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/img/myfrance/table-row-bg01.gif") left bottom repeat-x;
}
.hsbcContentStyle114 table tbody td.firstColumn
{
	width:420px!important;
}
.hsbcContentStyle114 table tbody td.lastColumn
{
	width:120px;
	text-align:right;
	padding-right:0px;
}
.hsbcContentStyle114 table tbody td a
{
	color:#6699cc;
}
.hsbcContentStyle114a p
{
	float:left;
	margin:0px;
	padding:0px 15px 10px 0px;
}
.hsbcContentStyle114a ul
{
	margin:0px;
	padding:0px 0px 10px 0px;
	list-style:none;
}
.hsbcContentStyle114a ul li
{
	float:left;
	margin:0px;
	padding:0px 3px 0px 0px;
	background:none;
	color:#999999;
	font-size:68%;
}
.hsbcContentStyle114a ul li a
{
	color:#6699cc;
	margin-right:3px;
}
.hsbcContentStyle114a ul li.selected a
{
	color:#6699cc;
	color:#999999;
	font-weight:bold;
	margin-right:3px;
}
.pageContentInner .hsbcColumnsOne .hsbcColumn .hsbcTextStyle36
{
	border:none;
	padding-top:0px;
}
.pageContentInner .hsbcColumnsOne .hsbcColumn .hsbcTextStyle37
{
	border-top:#cccccc 1px solid;
}


/* ------------------------------------- PFS HOMEPAGE AND OUVRIR UN COMPTE END -------------------------------------- */ 

/* WARNING HSBCOLUMSTYLE 40 - 42 USED FOR MYFRANCE */
/* WARNING HSBCONTENTSTYLE 80 - 91 USED FOR MYFRANCE */
