.hsbcGP2007ContentArea .hsbcGP2007BoxStyle02 .hsbcGP2007BoxStyleContent ul li a
{
	color:#000;
}
.jsHeading
{
	padding-right:0px !important;
	padding-left:0px!important;
	background:url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/img/bullets/arrow-white-on-purple-2.gif") no-repeat top left!important;
}

.jsHeading a
{
	padding-bottom:6px !important;
	padding-right:0px !important;
	padding-left:10px;
	padding-top:6px !important;
	display:block;
	width:130px;
	background:url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/img/js-h2-border.gif") repeat-x bottom left!important;
}

.jsFirstAnchor
{
	background:url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/img/bullets/arrow-white-on-purple.gif") no-repeat top left!important;
	padding-top:0px !important;
}

.jsFirstAnchor a
{
	padding-top:0px !important;
}
.jsColumn
{
	float:left;
	clear:left;
}
.jsParagraph
{
	position:absolute;
	display:block;
	top:0px;
}
.hsbcGP2007ContentArea
{
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
}
.hsbcGP2007ContentArea .hsbcGP2007ContainerInner
{
	float:left;/* IE 5 fix */
}
.hsbcGP2007ContentArea .hsbcGP2007LogoBar
{
	float:left;
	width:100%;
	margin:0px 0px 15px 0px;
	padding:0px;
	/*background-color:#FF00FF;*/
}
.hsbcGP2007ContentArea .hsbcGP2007LogoBar img
{
	float:left;
}
.hsbcGP2007ContentArea .hsbcGP2007LogoBar .hsbcGP2007Content p
{
	float:right;
	padding:5px 0px 0px 0px;
	margin:0px;
	font-size:74%;
	line-height:1.4em;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder
{
	float:left;
	border-top:1px solid #d5d0e0;
	border-bottom:1px solid #d5d0e0;
	padding-bottom:25px;
	/*background-color:#0000FF;*/
}
.hsbcGP2007ContentArea ul,
.hsbcGP2007ContentArea ul li,
.hsbcGP2007ContentArea p,
.hsbcGP2007ContentArea h1,
.hsbcGP2007ContentArea h2,
.hsbcGP2007ContentArea h3
{
	padding:0px;
	margin:0px;
}
.hsbcGP2007ContentArea ul
{
	list-style:none;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01,
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02
{
	float:left;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04
{
	float:left;
	/* HW2008Amend */
	padding-top:5px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007Row
{
	padding-left:22px;
	float:left;
	/*clear:left;*/
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007Row .hsbcGP2007Column
{
	float:left;
	padding-bottom:20px;
}
/* HW2008Deletion 
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007Row .hsbcGP2007Column h2
{
	font-weight:bold;
	font-size:74%;
	line-height:1.4em;
	color:#2e1362;
	padding-bottom:7px;
	padding-right:16px;
}*/

.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007Row .hsbcGP2007Column ul
{

}
/* HW2008Deletion 
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007Row .hsbcGP2007Column ul li 
{
	font-size:74%;
	background:url("../_images/bullets/arrow-purple.gif") top left no-repeat;
	height:1%;
	padding:0px 32px 0px 9px;
	margin-left:1px;
	line-height:1.4em;
}*/


.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007Row .hsbcGP2007Column ul li a
{
	color:#2e1362;
	text-decoration:none;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007Row .hsbcGP2007Column ul li a:hover
{
	text-decoration:underline;
}
/* HW2008Deletion */
/*.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05
{
	float:left;
	width:100%;
	background-color:#2e1362;
}*/
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 .hsbcGP2007BoxStyleContent
{
	/*float:left;*/
	padding-left:21px;
	padding-top:23px;
	padding-bottom:15px;
	padding-right:22px;
	height:1%;
}
.hsbcGP2007ContentArea .hsbcGP2007ButtonStyle01
{
	float:left;
	background:url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/_images/buttons/white-on-purple-left.gif") top left no-repeat;
	padding-left:12px;
	padding-bottom:8px;
	margin:0px;
}
.hsbcGP2007ContentArea .hsbcGP2007ButtonStyle01 .hsbcGP2007ButtonStyleContent
{
	float:left;
	background:url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/_images/buttons/white-on-purple-right.gif") top right no-repeat;
	padding-right:12px;
	padding-bottom:8px;
	padding-top:2px;
}
/* HW2008Deletion
.hsbcGP2007ContentArea .hsbcGP2007ButtonStyle01 .hsbcGP2007ButtonStyleContent a
{
	color:#2e1362;
	font-weight:bold;
	font-size:61%;
	text-transform:uppercase;
	text-decoration:none;
	border:0px;
	padding:0px;
	margin:0px;
	padding-top:5px;
	float:left;
}*/
.hsbcGP2007ContentArea .hsbcGP2007ButtonStyle01 .hsbcGP2007ButtonStyleContent a:hover
{
	text-decoration:underline;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 .hsbcGP2007Style03 .hsbcGP2007Row
{
	margin:14px 0px 9px 0px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 .hsbcGP2007Style03 h1
{
	font-size:111%;
	font-family:"Times New Roman", Times, serif;
	font-weight:normal;
	color:#fff;
	line-height:1.6em;
/*	padding-bottom:10px;*/
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 h2
{
	font-size:74%;
	line-height:1.4em;
	color:#fff;
	background:url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/_images/bullets/arrow-white-on-purple.gif") top left no-repeat;
	padding:0px 0px 0px 9px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 h2 a
{
	color:#fff;
	text-decoration:none;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 h2 a:hover
{
	text-decoration:underline;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 p
{
	font-size:74%;
	color:#fff;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 .hsbcGP2007Style02 p,
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 .hsbcGP2007Style02 h2
{
	padding-right:16px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 .hsbcGP2007Style02
{
	position:relative;
	float:left;/* Need this for IE to get absolute positioning right */
	margin-bottom:20px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 .hsbcGP2007Style02 .hsbcGP2007Row
{
	float:left;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 .hsbcGP2007Style02 .hsbcGP2007Row .hsbcGP2007Column
{
	float:left;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 .hsbcGP2007Style01
{
	float:left;	
	border-bottom:1px solid #604c88;
	border-top:1px solid #604c88;	
	margin-bottom:15px;
	margin-top:14px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 .hsbcGP2007Style01 .hsbcGP2007Row
{
	padding:8px 0px 9px 0px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 .hsbcGP2007Style01 .hsbcGP2007Column
{
	float:left;
	width:50%;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 .hsbcGP2007Style01 .hsbcGP2007LastColumn .hsbcGP2007ButtonStyle01
{
	float:right;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle01,
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle02
{
	margin-left:20px;
	/*background-color:#CCCCCC;*/
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle01
{
	float:left;
	width:100%;
	border-top:1px solid #d5d0e0;
	padding-top:23px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle01 .hsbcGP2007BoxStyleContent
{
	padding-left:23px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle01 h2,
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle01 h2
{
	font-size:74%;
	line-height:1.4em;
	font-weight:bold;
	padding-bottom:10px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle01 ul
{

}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle01 ul li,
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle01 ul li
{
	border-top:1px solid #d5d0e0;
	font-size:74%;
	line-height:1.4em;
	padding-top:8px;
	padding-bottom:6px;
	padding-right:16px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle01 ul li
{
	margin-right:22px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle01 ul li.hsbcGP2007FirstItem,
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle01 ul li.hsbcGP2007FirstItem
{
	border-top:0px;
	padding-top:0px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle01 ul li a,
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle01 ul li a
{
	color:#000;
	text-decoration:none;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle01 ul li a:hover,
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle01 ul li a:hover
{
	text-decoration:underline;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle01 ul li.hsbcGP2007TextStyle01,
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle01 ul li.hsbcGP2007TextStyle01
{
	color:#4c4c4c;
	font-size:68%;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle01 ul li.hsbcGP2007TextStyle01 a,
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle01 ul li.hsbcGP2007TextStyle01 a
{
	text-decoration:underline;
	color:#4c4c4c;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle02
{
	float:left;
	width:100%;
	border-top:1px solid #d5d0e0;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle02 .hsbcGP2007BoxStyleContent
{
	padding-left:22px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle02,
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle02
{
	padding-top:20px;
	padding-bottom:14px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle02 ul li,
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02 .hsbcGP2007BoxStyle02 ul li
{
	font-size:74%;
	line-height:1.4em;
	/*background:url("../_images/bullets/info.gif") top left no-repeat;*/
	background-position:top left;
	background-repeat:no-repeat;
	height:1%;
	padding:6px 10px 10px 29px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle03
{
	float:left;
	background-color:#e72b2a;
	width:100%;
	background-repeat:no-repeat;
	background-position:right;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle03 .hsbcGP2007BoxStyleContent
{
	padding:20px 170px 16px 22px;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle03 p
{
	font-size:87%;
	color:#fff;
	position:relative;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle03 p img
{
	position:absolute;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle03 p a
{
	color:#fff;
	text-decoration:none;
}
.hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle03 p a:hover
{
	text-decoration:underline;
}


/*** START - Content page styles ***/

.hsbcGP2007ContentArea .hsbcGP2007ContentRow01
{
	float:left;
}
.hsbcGP2007ContentArea .hsbcGP2007MainHeadingRow
{
	border-top:1px solid #d5d0e0;	
}
.hsbcGP2007ContentArea .hsbcGP2007MainHeadingRow .hsbcGP2007Content
{
	/*background:url("../_images/header-cartoon.gif") top right no-repeat;*/
	background-position:top right;
	background-repeat:no-repeat;
}
.hsbcGP2007ContentArea .hsbcGP2007MainHeadingRow h1
{
	color:#2e1362;
	font-size:150%;
	font-weight:normal;
	font-family:"Times New Roman", Times, serif;
	padding:29px 0px 0px 0px;
	padding-right:185px;
}
.hsbcGP2007ContentArea .hsbcGP2007MainHeadingRow p
{
	color:#8271a1;
	font-size:150%;
	font-family:"Times New Roman", Times, serif;
	padding-bottom:27px;
	padding-right:180px;
}
.hsbcGP2007ContentArea .hsbcGP2007MainHeadingRow ul
{
	background-color:#2e1362;
	width:100%;
	float:left;
	padding:10px 0px 10px 0px;
	margin-bottom:30px;
	/* border-bottom:30px solid #fff;Need to do this as IE7 is not picking up margin */
}
.hsbcGP2007ContentArea .hsbcGP2007MainHeadingRow ul li
{
	float:left;
	font-size:74%;
	padding:0px 20px 0px 20px;
	line-height:1.4em;
}
.hsbcGP2007ContentArea .hsbcGP2007MainHeadingRow ul li a
{
	color:#fff;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle06 .hsbcGP2007Content
{
	background-color:#e72b2a;
	padding:17px 16px 15px 16px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle06 .hsbcGP2007Content h2
{
	color:#fff;
	font-family:"Times New Roman", Times, serif;
	font-size:111%;
	font-weight:normal;
	padding-bottom:12px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle06 .hsbcGP2007Content ul
{

}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle06
{
	margin-bottom:16px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle06 .hsbcGP2007Content ul li
{
	color:#fff;
	font-size:74%;
	line-height:1.4em;
	background:url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/_images/bullets/white-on-red.gif") top left no-repeat;
	padding:0px 0px 5px 11px;
	font-weight:bold;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle06 .hsbcGP2007Content p
{
	color:#fff;
	font-size:74%;
	line-height:1.4em;
	font-weight:bold;
	padding:0px 11px 10px 0px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle07
{

}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle07 .hsbcGP2007Content
{
	border-top:1px solid #d5d0e0;
	border-bottom:1px solid #d5d0e0;
	padding:15px 16px 15px 16px;
	margin-bottom:16px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle07 .hsbcGP2007Content h2
{
	font-family:"Times New Roman", Times, serif;
	font-size:111%;
	font-weight:normal;
	padding-bottom:12px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle07 .hsbcGP2007Content p
{
	font-size:74%;
	line-height:1.4em;
	padding:0px 12px 10px 0px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle07 .hsbcGP2007Content ul li
{
	font-size:74%;
	line-height:1.4em;
	background:url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/_images/bullets/grey-on-white.gif") top left no-repeat;
	padding:0px 0px 5px 12px;
}
.hsbcGP2007ContentArea a.hsbcGP2007LinkStyle02
{
	color:#f00 !important;
}
.hsbcGP2007ContentArea a.hsbcGP2007LinkStyle01
{
	color:#2e1362;
	text-decoration:underline;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle07 .hsbcGP2007Content ul li a.hsbcGP2007LinkStyle01
{
	/* font-size:87%;Warning - nested font size */
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle08
{
	background-color:#2e1362;
	margin-bottom:16px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle08 .hsbcGP2007Content
{
	float:left;
	padding:15px 16px 15px 16px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle08 .hsbcGP2007Content h2
{
	font-weight:normal;
	font-family:"Times New Roman", Times, serif;
	font-size:111%;
	color:#fff;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle08 .hsbcGP2007Content p
{
	font-size:74%;
	line-height:1.4em;
	color:#fff;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle08 .hsbcGP2007Content .hsbcGP2007LastColumn .hsbcGP2007ButtonStyle01
{
	float:right;
}
.hsbcGP2007ContentArea .hsbcGP2007ColumnControl02 .hsbcGP2007BoxStyle08 .hsbcGP2007Content .hsbcGP2007LastColumn .hsbcGP2007ButtonStyle01
{
	float:left;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle08 .hsbcGP2007Content .hsbcGP2007LastColumn p
{
	text-align:right;
	clear:both;
}
.hsbcGP2007ContentArea .hsbcGP2007ColumnControl02 .hsbcGP2007BoxStyle08 .hsbcGP2007Content h2
{
	padding-bottom:10px;
	font-size:150%;
}
.hsbcGP2007ContentArea .hsbcGP2007ColumnControl02 .hsbcGP2007BoxStyle08 .hsbcGP2007Content .hsbcGP2007LastColumn p
{
	text-align:left;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle08 .hsbcGP2007Content .hsbcGP2007Column
{
	float:left;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle09
{
	clear:left;
	display:inline;
	float:left;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle09 .hsbcGP2007Content
{
	background-position:top left;
	background-repeat:no-repeat;	
	margin-bottom:20px;
}
.hsbcGP2007ContentArea .hsbcGP2007ColumnControl01
{
	float:left;
}
.hsbcGP2007ContentArea .hsbcGP2007ColumnControl02
{
	float:left;
	margin-left:40px;
}
.hsbcGP2007ContentArea .hsbcGP2007ColumnControl01 .hsbcGP2007BoxStyle09 .hsbcGP2007Content
{
	background-position: top left;
	background-repeat:no-repeat;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle09 .hsbcGP2007Content .hsbcGP2007ContentInner
{
	border:1px solid #dedede;
	border-top:0px;
	padding:21px 31px 8px 23px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle09 .hsbcGP2007Content h2
{
	font-weight:normal;
	font-family:"Times New Roman", Times, serif;
	font-size:111%;
	line-height:1.4em;
	padding-bottom:10px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle09 .hsbcGP2007Content p
{
	font-size:74%;
	line-height:1.4em;
	padding-bottom:8px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle09 .hsbcGP2007Content ul li
{
	background:url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/_images/bullets/black-on-white.gif") top left no-repeat;
	font-size:74%;
	line-height:1.4em;
	padding:0px 0px 8px 11px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle10 .hsbcGP2007Content a,
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle09 .hsbcGP2007Content a
{
	text-decoration:underline;
	color:#000;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle09 .hsbcGP2007Content a:hover
{
	text-decoration:underline;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle10
{

}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle10 .hsbcGP2007Content
{
	background-color:#f5f5f5;
	padding:16px 24px 10px 24px;
	margin-bottom:16px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle10 .hsbcGP2007Content h2
{
	font-weight:normal;
	font-family:"Times New Roman", Times, serif;
	font-size:111%;
	line-height:1.4em;
	padding-bottom:10px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle10 .hsbcGP2007Content ul li
{
	background:url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/_images/bullets/grey-on-light-grey.gif") top left no-repeat;
	font-size:74%;
	line-height:1.4em;
	padding:0px 0px 8px 12px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle11
{

}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle11 .hsbcGP2007Content
{	
	margin-bottom:16px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle11 .hsbcGP2007Content h2
{
	font-size:74%;
	line-height:1.4em;
	padding-bottom:7px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle11 .hsbcGP2007Content p
{
	font-size:74%;
	line-height:1.4em;
	padding-bottom:10px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle11 .hsbcGP2007Content p a.hsbcGP2007LinkStyle01
{
	/* font-size:81%;Warning - nested font size */
}
.hsbcGP2007ContentArea .hsbcGP2007ExtStyle01
{
	text-align:right;
}
.hsbcGP2007ContentArea .hsbcGP2007ExtStyle02
{
	margin-bottom:0px !important;
}
.hsbcGP2007ContentArea .hsbcGP2007ExtStyle03
{
	border-top:1px solid #604c88;
	float:left;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle12
{
	background:url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/_images/link-box/down-arrow-purple.gif") no-repeat bottom center;
	padding-bottom:9px;
	margin-bottom:9px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle12 .hsbcGP2007Content
{
	padding:15px 18px 21px 16px;
	background:#2e1362;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle12 .hsbcGP2007Content h2
{
	font-family:"Times New Roman", Times, serif;
	font-size:125%;
	color:#fff;
	font-weight:normal;
	padding-bottom:10px;
}
.hsbcGP2007ContentArea .hsbcGP2007ColumnControl02 .hsbcGP2007BoxStyle12 .hsbcGP2007Content h2
{
	font-size:111%;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle12 .hsbcGP2007Content table
{
	padding:0px;
	margin:0px;
	border-collapse:collapse;
	margin-bottom:15px;
	border:0px;
	width:52%;
}
.hsbcGP2007ContentArea .hsbcGP2007ColumnControl02 .hsbcGP2007BoxStyle12 .hsbcGP2007Content table
{
	width:80%;
	wid\th:90%;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle12 .hsbcGP2007Content table td,
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle12 .hsbcGP2007Content table th,
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle12 .hsbcGP2007Content table tr
{
	padding:0px;
	margin:0px;
	border:0px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle12 .hsbcGP2007Content p
{
	color:#fff;
	font-size:74%;
	padding-bottom:8px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle12 .hsbcGP2007Content table td
{
	padding:2px 0px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle12 .hsbcGP2007Content table td a
{
	color:#fff;
	font-size:0.58em;/* used ems as Mac Firefox is a nightmare at this small font */
	text-transform:uppercase;
	background:url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/_images/link-box/mini-arrow-purple-on-white.gif") no-repeat top left;
	padding:0px;
	padding-left:7px;
	margin:0px;
	height:1%;
	text-decoration:none;
	float:left;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle12 .hsbcGP2007Content table td a:hover
{
	text-decoration:underline;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle12 .hsbcGP2007Content acronym
{
	border:0;
	padding:0px;
	margin:0px;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle12 .hsbcGP2007Content form
{
	display:inline;
}
.hsbcGP2007ContentArea .hsbcGP2007BoxStyle12 .hsbcGP2007Content form input
{
	background:#C52A30 url("http://www.hsbc.fr/1/themes/html/pws_p2_generique/_images/link-box/btn-bg.gif") repeat-x left top;
	border:none;
	color:#fff;
	padding:1px;
	margin-left:8px;
}