.webringWrapper {
	margin:0px;
	padding:0px 0px 9px;
	background:url("arrow.gif") no-repeat bottom;
	clear:both;
}

.webringContent {
	margin:0px;
	padding:14px 16px 18px;
	background:url("background.gif") repeat-x top left;
	font-family:Arial, Helvetica, sans-serif;
}

.webringContent h2,
.webringContent p,
.webringContent a {
	margin:0px;
	padding:0px;
	color:#fff;
}

div.hsbcStyleContentBase .webringWrapper .webringContent h2 {
	margin-top:0px!important;
}

div.hsbcStyleContentBase p {
	margin:0px!important;
}

.webringContent h2,
div.hsbcStyleContentBase .webringContent h2 {
	font-family:"Times New Roman", Times, serif;
	font-size:112.50%!important;
	font-weight:normal;
	padding-bottom:10px!important;
	color:#fff;
	line-height:1.2em;
	margin-top:0px!important;
}
.webringContent p {
	padding-bottom:10px!important;
	font-size:75%;
}
.webringContent ul,
div.hsbcStyleContentBase .webringContent ul {
	margin:0px;
	padding:0px;
	line-height:1.2em;
	clear:both;
	font-size:1em;
}
.webringContent ul li,
.hsbcGP2007ContentArea .webringContent ul li {
	margin:0px;
	padding:0px 0px 0px 0px;
	width:90px;
	float:left;
	font-size:56.25%!important;
	text-transform:uppercase;
	background:none;
	list-style:none;
}
.webringContent ul li a {
	margin:0px;
	padding:4px 5px 4px 9px;
	display:block;
	background:url("bullet.gif") no-repeat left;
	text-decoration:none;
	line-height:1em;
	font-size:100%;
}
.webringContent ul li a:hover {
	text-decoration:underline;
	color:#fff;
}
.webringContent form {
	clear:both;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.webringContent select{
	margin:12px 6px 0px 0px;
	padding:0px 0px;
	font-size:81.25%;
	color:#333;
	width:78%;
}
.webringContent input{
	margin:12px 0px 0px;
	padding:0px;
	vertical-align:bottom!important
}

/* 800 Build Fix */
.hsbcGP2007FauxCol01 .webringWrapper {
	margin:10px 32px 0px 0px;
} 

/* Argentina Build Fix */
td .hsbcGP2007FauxCol01 .webringWrapper {
	margin:10px 27px 0px 0px;
} 

/* France Build Fix */

/* Oman build fix */
table table table table table .hsbcGP2007FauxCol01 .webringWrapper {
	margin:10px 22px 0px 20px;
}
table table table table table .hsbcGP2007FauxCol01 .webringWrapper select {
	width:75%;
}
