/*#################### ENTETE ####################*/
#entete
{
	width : 995px;
}

	/*********************Bloc newsletter*********************/
	#entete .bloc_news
	{
		width : 258px;
		height:124px;
		font-size : 13px;
		font-weight : bolder;
		border : 2px solid black;
		margin-left:742px;;
		margin-top:-140px
	}
	
	#entete .news
	{
		margin-top : 3px;
		font-size : 10px;
		width : 105px;
	}
	
	#entete .compte
	{
		text-align:center;
		background-color : #000000;
		color : #FFFFFF;
		text-decoration:none;
		border: 2px solid black;
	}
	
	#entete .compte a
	{
		color : #FFFFFF;
		text-decoration:none;
		font-size : 14px;
	}
	
	#entete .compte img 
	{
		padding-left:40px;
		padding-top:4px;
	}
	
	#entete .lien
	{
		font-weight : bold;
	}
	
	#entete .lien_gauche
	{
		text-align:center;
	}
	
	#entete .lien_gauche a
	{
		color : #000000;
		text-decoration:none;
	}
	
	#entete .lien_droite 
	{
		color : red;
		text-decoration:none;
		font-size : 11px;
	}
	/*********************Fin bloc newsletter*********************/
	
	/*********************Menu*********************/
	#entete .menu
	{
		width:996px;
		margin-left:-4px;
		
	}
	#entete .menu td
	{
		/*width:80px;*/
		height:20px;
		text-align:center;
		/*background-color:black;*/
	}
	
	
	#entete .menu a
	{
		text-decoration:none;
		color:red;
		font-weight:bold;
		font-size:13px;
	}
	#entete .menu #separation
	{
		
		color:black;
		font-weight:bold;
		font-size:13px;
	}
	/*********************Fin menu*********************/
	
	/*********************Sous menu*********************/
	#entete .Smenu
	{
		margin-left:2px;
		width:996px;
		height:24px;
		background-repeat:repeat-x;		
		background-image:url(sous_menu.jpg);
	}
	#entete .Smenu td
	{
		width:80px;
		height :18px;
		/*border: 2px solid black;*/
		text-align:center;
		/*background-color:black;*/
	}
	#entete .Smenu a
	{
		text-decoration:none;
		color:black;
		font-size:12px;
	}

	/*********************Fin Sous menu*********************/
	
	/*********************Bandeau recherche*********************/
	#entete .BRecherche12
	{	/*background-color:#00BD9D;*/
		margin-left:2px;
		/*width:724px;*/
		
		/*color:white;*/
		font-weight:bold;
		border-bottom : solid 1px red;
	}
	#entete .BRecherche12 td
	{
		height :18px;
	}
	/*********************Fin bandeau recherche*********************/
	#entete .ok
	{
		background-color:red;
		width:23px;
		height :22px;
		text-align:center;
		color:white;
		font-weight:bolder;
		font-size:11px;
	}
	
	#entete .recherche
	{
		border-top:0px solid red;
		border-bottom:0px solid red;
		border-left:1px solid white;
		border-right:1px solid grey;
	}
	/*#################### FIN ENTETE ####################*/
	
	#entete 
	{
		margin-bottom:-30px;
	}