#FloatBubble{display: none;position: absolute;z-index: 3200;}
#EkBubbleTable{width:400px;border:0px;TEXT-ALIGN:left;}
#EkBubbleData{width: 360px; overflow: auto;background-color:#ffffff;}
#EkCloseBubbleIcon{TEXT-ALIGN: right;background-color:#ffffff;}
#EkClose{height:11px;width:11px;}
#EkTop{height:52px;width:247px;background-image:url(error500.aspx?aspxerrorpath=%252FWorkArea%252Fcsslib%252Fbubble%252Fimages%252Fapplication%252Fbubble%252Ftop.gif);}
#EkTopR{height:52px;width:21px;background-image:url(error500.aspx?aspxerrorpath=%252FWorkArea%252Fcsslib%252Fbubble%252Fimages%252Fapplication%252Fbubble%252Ftopr.gif);}
#EkTopL{height:52px;width:21px;background-image:url(error500.aspx?aspxerrorpath=%252FWorkArea%252Fcsslib%252Fbubble%252Fimages%252Fapplication%252Fbubble%252Ftopl.gif);}
#EkBotR{height:52px;width:21px;background-image:url(error500.aspx?aspxerrorpath=%252FWorkArea%252Fcsslib%252Fbubble%252Fimages%252Fapplication%252Fbubble%252Fbotr.gif);}
#EkBotL{height:52px;width:21px;background-image:url(error500.aspx?aspxerrorpath=%252FWorkArea%252Fcsslib%252Fbubble%252Fimages%252Fapplication%252Fbubble%252Fbotl.gif);}
#EkTopTile{background-image:url(error500.aspx?aspxerrorpath=%252FWorkArea%252Fcsslib%252Fbubble%252Fimages%252Fapplication%252Fbubble%252Ftoptile.gif);}
#EkCenL{background-image:url(error500.aspx?aspxerrorpath=%252FWorkArea%252Fcsslib%252Fbubble%252Fimages%252Fapplication%252Fbubble%252Fcenl.gif);}
#EkCenR{background-image:url(error500.aspx?aspxerrorpath=%252FWorkArea%252Fcsslib%252Fbubble%252Fimages%252Fapplication%252Fbubble%252Fcenr.gif);}
#EkBot{background-image:url(error500.aspx?aspxerrorpath=%252FWorkArea%252Fcsslib%252Fbubble%252Fimages%252Fapplication%252Fbubble%252Fbot.gif);}
#FloatBubbleT{display: none;position: absolute;z-index: 3200;}
#EkBubbleTableT{width:400px;border:0px;TEXT-ALIGN:left;}
#EkBubbleDataT{width: 360px; overflow: auto;background-color:#ffffff;}
#EkCloseBubbleIconT{TEXT-ALIGN: right;background-color:#ffffff;}
#EkCloseT{height:11px;width:11px;}
#EkTopT{background-image:url('error500.aspx?aspxerrorpath=%252FWEBSRC%252Fworkarea%252Fimages%252Fapplication%252Fbubble%252Ftopt.gif');}
#EkTopRT{height:52px;width:21px;background-image:url('error500.aspx?aspxerrorpath=%252FWEBSRC%252Fworkarea%252Fimages%252Fapplication%252Fbubble%252Ftopr.gif');}
#EkTopLT{height:52px;width:21px;background-image:url('error500.aspx?aspxerrorpath=%252FWEBSRC%252Fworkarea%252Fimages%252Fapplication%252Fbubble%252Ftopl.gif');}
#EkBotRT{height:52px;width:21px;background-image:url('error500.aspx?aspxerrorpath=%252FWEBSRC%252Fworkarea%252Fimages%252Fapplication%252Fbubble%252Fbotr.gif');}
#EkBotLT{height:52px;width:21px;background-image:url('error500.aspx?aspxerrorpath=%252FWEBSRC%252Fworkarea%252Fimages%252Fapplication%252Fbubble%252Fbotl.gif');}
#EkBotTile{background-image:url('error500.aspx?aspxerrorpath=%252FWEBSRC%252Fworkarea%252Fimages%252Fapplication%252Fbubble%252Fbottile.gif');}
#EkCenLT{background-image:url('error500.aspx?aspxerrorpath=%252FWEBSRC%252Fworkarea%252Fimages%252Fapplication%252Fbubble%252Fcenl.gif');}
#EkCenRT{background-image:url('error500.aspx?aspxerrorpath=%252FWEBSRC%252Fworkarea%252Fimages%252Fapplication%252Fbubble%252Fcenr.gif');}
#EkBotT{height:52px;width:247px;background-image:url('error500.aspx?aspxerrorpath=%252FWEBSRC%252Fworkarea%252Fimages%252Fapplication%252Fbubble%252Fbott.gif');}