

 

.modalCloseImg { clear: both; }
#modal-content-contest .question,
#modal-content-contest .row { display: block; clear: both; overflow: hidden; padding: 0 0 10px 0; }

#modal-content-contest .question .file-input-group {position: relative; float: left; clear: right; margin-bottom: 20px; width:203px;}


#modal-content-contest .question .file-input-group .faux-file-text { width:136px;}




.dialog_contest_close { position: absolute; cursor: pointer; margin: 1px 0px 10px 0; display: block; height: 20px; width: 464px; right: 1px; background: #373737 no-repeat top right url(error500.aspx?aspxerrorpath=%252Fimages%252Fregistration_close.png); }
.modal_dialog_contest_close {width:480px; left: -20px;}
#modal-content-contest form { overflow: hidden; padding: 30px 20px 0 20px; }
#modal-content-contest label { font-weight: bold; width: 210px; float: left; font-size: 12px; }
#modal-content-contest .file-upload { float: left; color:#ffffff; }
#modal-content-contest .text-box { width: 200px; }
#modal-content-contest .text-area { width: 205px; }
#modal-content-contest .select-option { width: 210px; }
#modal-content-contest .checkboxGroup { width: 205px; float: left; }
#modal-content-contest .checkboxGroup input {width: 13px; height: 13px; float: left; margin: 0 3px 0 0;border: 0 none; padding: 0;}
#modal-content-contest .checkboxGroup label { width: auto; float: none; }
#modal-content-contest .checkboxGroup .checkbox-element {}

#modal-content-contest .buttonWrapper {float: right; margin-right: 26px;}
#modal-content-contest .page { padding: 5px 22px 16px 16px; }


