/*on initialise par defaut*/
* {margin:0;padding:0;}
body{
	margin-left:auto;
	margin-right:auto;
	padding-left:0px;
	padding-right:1px;
	text-align:center;
	width:789px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-image : url(bord_gauche.jpg);
	background-position:center;
	background-repeat:repeat-y;
}
.textarea{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #006070;
	background-color: #F2F7D7;
	scrollbar-face-color: #A4B627;
}
.champ{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #504E53;
	background-color: #F2F7D7;
}
.bouton{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 16px;
	font-weight: normal;
	color: #006070;
	background-color:#BCD02D;
	border:0;
}
.lien:visited{
	color: #006070 ;
	text-decoration:underline;
}
.lien:hover{
	color: #FF0000 ;
	text-decoration:underline;
}
.lien:link{
	color: #006070 ;
	text-decoration:underline;
}
TABLE#contenu {
	text-align:left;
	width:97%;
}
TABLE#contenuhaut {
	text-align:left;
	width:97%;
}
TABLE#contenucentre {
	text-align:left;
	width:97%;
}
TABLE#contenubas {
	text-align:left;
	width:97%;
}
TABLE#accueil {
	margin-top:8px;
}
TABLE#table {
	width:789px;
	border-collapse:collapse;
	border-spacing:0px;		
}
TABLE#table_sans_espace {
	border-collapse:collapse;
}
TD#partie_gauche {
	height:620px;
	width:20%;
	vertical-align:top;
	padding:0;
	margin:0;
}
TD#google {
	width:375px;
	height:27px;
	padding-left:1px;
}
TD#menu{
	padding-top:15px;
	height:200px;
	vertical-align:top;
}
TD#menu ul{
    border-top: 1px #ffffff solid;
    border-left: 1px #ffffff solid;
    border-right: 1px #ffffff solid;
    margin:0;
    padding:0;
    position:absolute;
	z-index:11;
    width:150px;
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
	color: #504E53;
	background-position: left;
}  
TD#menu li ul{
    visibility:hidden;
	margin-left:150px;
    margin-top:-24px;
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
} 
TD#menu a{
    text-align:left;
    background-color: #B1D34A;
    color:#504E53;
    display:block;
    width:150px;
    border-bottom: 1px #ffffff solid;
    text-decoration:none;
    padding:3px 0px 3px 3px;
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
} 
TD#menu a:hover{
    background-color: #CCE289;
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
}  
TD#menu a:focus{
    background-color: #CCE289;
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
}    
TD#menu li{
    width:150px;
    display:block;    
    float:left;  
    list-style:none;
    margin:0;
    padding:0;
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
}
TD#menu a.linkOver{
    background-color: #00A2B9;
    }.titre {
	font-family: "Trebuchet MS";
	font-size: 20px;
	font-weight: bold;
	font-variant: small-caps;
	color: #00ACBE;
	text-decoration: underline;
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
}
/*TD#video ul{
	position:absolute;
	z-index:1;
	padding-left:1px;
	text-align:justify;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 14px;
	color: #5B5B5B;
	left: 386px;
	top: 484px;
}*/
TD#titre {
	width:570px;
	height:28px;
	text-align:justify;
	padding-left:15px;
	padding-top:7px;
	padding-bottom:7px;
	background-image:url(bandeau_titre.jpg);
	background-position:left;
	background-repeat: no-repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
}
TD#soustitre{
	width:570px;
	height:20px;
	text-align:justify;
	padding-left:30px;
	padding-top:7px;
	padding-bottom:7px;
	background-image: url(soustitre.jpg);
	background-repeat: no-repeat;
	background-position:center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 12px;
	line-height: 18px;
	color: #006070;
}
TD#soustitre a:visited{
	color: #006070 ;
	text-decoration:underline;
}
TD#soustitre a:hover{
	color: #FF0000 ;
	text-decoration:underline;
}
TD#soustitre a:link{
	color: #006070 ;
	text-decoration:underline;
}
TD#soustitre2{
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #00A2B9;
}
TD#soustitre2 a:link{
	color: #00A2B9 ;
	text-decoration:underline;
}
TD#soustitre2 a:hover{
	color: #FF0000 ;
	text-decoration:underline;
}
TD#soustitre2 a:visited{
	color: #00A2B9 ;
	text-decoration:underline;
}
TD#soustitre2 ul{
	padding-left: 40px;
	margin: 0px;
}
TD#legende{
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #C3C5C8;
	font-style:italic;
}
TD#suite {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #5B5B5B;
	text-align:right;
}
TD#suite a:visited{
	color: #006070 ;
	text-decoration:underline;
}
TD#suite a:hover{
	color: #FF0000 ;
	text-decoration:underline;
}
TD#suite a:link{
	color: #006070 ;
	text-decoration:underline;
}
TD#lien a:visited{
	color: #006070 ;
	text-decoration:underline;
}
TD#lien a:hover{
	color: #FF0000 ;
	text-decoration:underline;
}
TD#lien a:link{
	color: #006070 ;
	text-decoration:underline;
}
TD#lien_bas{
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	font-size:10px;
	background-image: url(lien_bas.jpg);
	background-repeat:no-repeat;
	background-position:center;
}
TD#lien_bas a:visited{
	color: #006070 ;
	text-decoration:underline;
}
TD#lien_bas a:hover{
	color: #FF0000 ;
	text-decoration:underline;
}
TD#lien_bas a:link{
	color: #006070 ;
	text-decoration:underline;
}
TABLE#tableau {
	border-collapse:collapse;
	width:595px;
}
TABLE#tableau  td {
	border:1px;
	border-style:solid;
	border-color:#C3C5C8;
}
TD#tableau {
	background-color:#C3C5C8;
}
TABLE#tableau1 {
	padding-bottom:5px;
	padding-top:5px;
	margin-bottom:5px;
	margin-top:5px;
}
TD#titretableau{
	background-color:#E5E5E5;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #504E53;
	text-align:center;
}
TD#soustitretableau{
	background-color:#E5E5E5;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 18px;
	color: #504E53;
	text-align:center;
}
TD#rubriquetableau{
	background-color:#F2F7D7;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 18px;
	color: #504E53;
	text-align:left;
	padding-left:10px;
}
TD#donneetableau{
	background-color:#FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 18px;
	color: #504E53;
	text-align:center;
}
TD#resumetableau{
	background-color:#FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 18px;
	color: #504E53;
	text-align:justify;
	padding-left:10px;
}
TD#sous_rubriquetableau{
	font-style:italic;
	background-color:#FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 18px;
	color: #504E53;
	text-align:justify;
}
TD#date{
	text-align:justify;
	font-family: "Trebuchet MS";
	font-size: 10px;
	color: #5B5B5B;
	font-style:italic
}
TD#chemin {
	padding-top:5px;
	width: 550px;
	background-repeat: no-repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-align:justify;
	color: #006070;
}
TD#chemin a:visited{
	color: #006070 ;
	text-decoration:underline;
}
TD#chemin a:hover{
	color: #FF0000 ;
	text-decoration:underline;
}
TD#chemin a:link{
	color: #006070 ;
	text-decoration:underline;
}
TD#lien_accueil {
	padding-top:5px;
	width:79px;
	font-size:9px;
	text-align:left;
	color: #006070;
}
TD#lien_accueil a:visited{
	color: #006070 ;
	text-decoration:underline;
}
TD#lien_accueil a:hover{
	color: #FF0000 ;
	text-decoration:underline;
}
TD#lien_accueil a:link{
	color: #006070 ;
	text-decoration:underline;
}

TD#rouge {
	text-align:justify;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #FF0000;
}
TD#contenu {
	vertical-align:top;
	padding-left:10px;
	padding-top:9px;
	padding-bottom:15px;
	text-align:justify;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #5B5B5B;
}
TD#content1 {
	text-align:center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #5B5B5B;
}
TD#contentgauche {
	vertical-align:top;
	width :47%;
	text-align:justify;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #5B5B5B;
	padding-bottom:5px;
}
TD#contentgauche ul{
	text-align:justify;
	padding-top:5px;
	padding-left: 40px;
	margin: 0px;
	font-size: 10px;
	line-height: 14px;
}
TD#contentgauche ul li ul{
	text-align:justify;
	font-size: 10px;
	line-height: 14px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left: 40px;
	margin: 0px;
}
TD#contentdroite {
	vertical-align:top;
	width:50%;
	text-align:justify;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #5B5B5B;
	padding-left:10px;
	padding-bottom:5px;
}
TD#contenthaut {
	text-align:justify;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #5B5B5B;
	padding-bottom:5px;
}
TD#contentbas {
	text-align:justify;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #5B5B5B;
	padding-bottom:5px;
}
TD#content {
	text-align:justify;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #5B5B5B;
	padding-bottom:0px;
}
TD#content a:visited{
	color: #006070 ;
	text-decoration:underline;
}
TD#content a:hover{
	color: #FF0000 ;
	text-decoration:underline;
}
TD#content a:link{
	color: #006070 ;
	text-decoration:underline;
}
TD#content p{
	text-align:justify;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #5B5B5B;
	padding-bottom:5px;
}
TD#content_communique {
	vertical-align:top;
	/*width:430px;*/
	padding-left:3px;
	text-align:justify;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #5B5B5B;
}
TD#contentul{
	text-align:justify;
	padding-left: 40px;
	font-size: 10px;
	line-height: 14px;
	margin: 0px;
}
TD#content ul{
	text-align:justify;
	padding-top:5px;
	padding-left: 40px;
	margin: 0px;
	font-size: 10px;
	line-height: 14px;
}
TD#content ul li ul{
	text-align:justify;
	font-size: 10px;
	line-height: 14px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left: 40px;
	margin: 0px;
}
TD#ligne {
	padding-top:5px;
}
TD#footer {
	height:15px;
	text-align:center;
	background-color: #B1D34B;
	font-family: "Trebuchet MS";
	font-size: 11px;
	width:789px;
}
TD#footer a:link{
	font-weight:bold ; 
	color: #006070;
	font-size: 10px;
}
TD#footer a:visited{
	color: #006070 ;
}
TD#footer a:hover{
	color: red ;
	text-decoration: underline ;
}
TD#image {
	padding-top:10px;
}
/*TD#image {
	vertical-align:middle;
	width: 154px;
	height: 94px;
	background-image : url(../images/contours.jpg);
	background-position:center;
	background-repeat:no-repeat;
	text-align:center;
}*/


/**************************************************************************************/
/********************************Style pour typo3 *************************************/
/**************************************************************************************/
.contenu_puce{
	text-align:justify;
	padding-left: 40px;
	margin: 0px;
}
.vertclair{
	color: #BCD02D;
}
.vertfonce{
	color: #A4B627;
}
.bleuclair{
	color: #00A2B9;
}
.bleufonce{
	color: #006070;
}
.grisclair{
	color: #C3C5C8;
}
.grisfonce{
	color: #504E53;
}
.contenttable {
	width:100%;
	margin-bottom:10px;
	border-collapse:collapse;
	background-color:#FF0000;
	/*background-color:#C3C5C8;*/
}
.contenttable tbody td{
	border:1px;
	border-style:solid;
	border-color:#C3C5C8;
}
.titretableau{
	background-color:#E5E5E5;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #504E53;
	text-align:center;
}
.soustitretableau{
	background-color:#E5E5E5;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 18px;
	color: #504E53;
	text-align:center;
}
.rubriquetableau{
	background-color:#F2F7D7;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 18px;
	color: #504E53;
	text-align:left;
	padding-left:10px;
}
.donneetableau{
	background-color:#FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 18px;
	color: #504E53;
	text-align:center;
}
.resumetableau{
	background-color:#FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 18px;
	color: #504E53;
	text-align:justify;
	padding-left:10px;
}
.sous_rubriquetableau{
	font-style:italic;
	background-color:#FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 18px;
	color: #504E53;
	text-align:justify;
}
.csc-sitemap {
	margin-left:20px;
	text-align:justify;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
}
.csc-sitemap a:visited{
	color: #006070 ;
	text-decoration:underline;
}
.csc-sitemap a:hover{
	color: #FF0000 ;
	text-decoration:underline;
}
.csc-sitemap a:link{
	color: #006070 ;
	text-decoration:underline;
}
.csc-sitemap-level1{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #FF0000;
}
.csc-sitemap-level2{
	padding-left:40px;
	text-align:justify;
	line-height:14px;
	color: #C4D548;
}
.csc-sitemap-level3{
	padding-left:80px;
	text-align:justify;
	line-height:14px;
	color: #5B5B5B;
}
.csc-sitemap-level4{
	padding-left:120px;
	text-align:justify;
	line-height:14px;
	color: #5B5B5B;
}
.news-single-img {
	text-align:left;
}
