/* Page d'accueil */
.slideshow{
	margin-top: -7px;
}
.bloc-pole-emploi{
	width: 610px;
	height: 100px;
	float: right;
	background: url("fd-acc-pole-emploi.gif") 0 0 no-repeat transparent;
	padding: 27px 30px 0 30px;
	margin-top: 4px;
	margin-bottom: 10px;
	display: inline;
}
.bloc-pole-emploi-txt{
	width: 370px;
	height: 103px;
	float: left;
	color: #666;
	position: relative;
}
.bloc-pole-emploi-txt h2{
	color: #00357e;
	font-size: 1.16em;
	margin-bottom: 10px;
}
.bloc-pole-emploi-txt .lien-bas{
	position: absolute;
	bottom: 6px;
	right: 0;
	background: url("puce1.gif") no-repeat 0 3px transparent;
	padding-left: 9px;
	color: #666;
	text-decoration: none;
}
.bloc-pole-emploi-txt .lien-bas:hover{
	text-decoration: underline;
}
.bloc-pole-emploi-bts{
	width: 214px;
	height: 97px;
	float: right;
	position: relative;
	padding-top: 3px;
}
.bt-informe{
	background: url("fd-bt-acc-informe.gif") 0 0 no-repeat transparent;
	width: 194px;
	height: 20px;
	padding: 12px 10px;
	text-align: center;
	display: block;
	font-weight: bold;
}
.bt-bloc-bas{
	position: absolute;
	bottom: 0;
	padding: 5px 10px;
	width: 192px;
	text-align: center;
	font-weight: bold;
	margin-left: 2px;
}

.rubrique-bloc{
	background: url("fd-acc-rubrique-bloc.gif") 0 34px no-repeat transparent;
	width: 438px;
	height: 275px;
}
.candidat{
	float: left;
}
.employeur{
	float: right;
	margin-right: -4px;
}
* html .employeur{
	margin-right: -2px;
}
.rubrique-bloc h2{
	font-size: 1.5em;
	margin: 0 3px;
}
.rubrique-bloc h2 a{
	background: 0 0 no-repeat transparent;
	display: block;
	color: #fff;
	padding: 3px 70px 6px 13px;
	height: 21px;
	text-decoration: none;
}
.rubrique-bloc.candidat h2 a{
	background-image: url("fd-titre-candidat.gif");
}
.rubrique-bloc.employeur h2 a{
	background-image: url("fd-titre-employeur.gif");
}
.sous-rub-bloc{
	width: 204px;
	background: url("fd-acc-sous-rub-bloc.gif") left bottom no-repeat transparent;	
	margin-top: 15px;
	font-size: 0.9em;
	position: relative;
	height: 185px;
	margin-bottom: 8px;
	display: inline;
}
.sous-rub1, .sous-rub1B{
	margin-left: 13px;
	float: left;
}
.sous-rub2{
	margin-right: 10px;
	float: right;
}
.sous-rub-bloc h3{
	background: 0 0 no-repeat transparent;
	padding: 3px 10px 0 100px;
	height: 77px;	
	font-size: 1.09em;
	line-height: 1em;
	margin-bottom: 14px;
}
.candidat .sous-rub-bloc.sous-rub1 h3{
	background-image: url("fd-acc-droits-demarches.jpg");
	color: #da0020;
}
.candidat .sous-rub-bloc.sous-rub1B h3{
	background-image: url("http://www.pole-emploi.fr/accueil/file/sitemodel/interpe/images/accueil/fd-acc-droits-demarchesB.jpg");
	color: #da0020;
}
.candidat .sous-rub-bloc.sous-rub2 h3{
	background-image: url("fd-acc-recherche-emploi.jpg");
	color: #da0020;
}
.employeur .sous-rub-bloc.sous-rub1 h3{
	background-image: url("fd-acc-declaration-cotisati.jpg");
	color: #009999;
}
.employeur .sous-rub-bloc.sous-rub2 h3{
	background-image: url("fd-acc-recrutement.jpg");
	color: #009999;
}
.sous-rub-bloc h3 strong{
	display: block;
	height: 25px;
}
.sous-rub-bloc h3 span{
	display: block;
	margin-left: 25px;
	margin-top: 8px;
	text-align: center;
	font-size: 1.16em;
	font-weight: normal;
	color: #fff;
	font-weight: bold;
}
.sous-rub-bloc h3 span em{
	font-size: 0.7em;
	display: block;
	font-style: normal;
	font-weight: normal;
}
.actualisation{
	position: absolute;
	font-size: 1.09em;
	font-weight: bold;
	color: #00357e;
	top: 36px;
	left: 10px;
	width: 120px;
}
.actualisation a{
	font-size: 1.16em;
}
.sous-rub-bloc ul{
	margin-left: 10px;
}
.candidat .basic-liste li{
	background-image: url("puce-candidat.gif");
}
.employeur .basic-liste li, .employeur-bloc-bas .basic-liste li{
	background-image: url("puce-employeur.gif");
}
.employeur-bloc-bas .basic-liste li{
	font-size: 0.9em;
	padding-bottom: 3px;
}

.liste-liens-bas{
	position: absolute;
	bottom: 6px;
	width: 180px;
	text-align: right;
}
.sous-rub-bloc .liste-liens-bas li{
	background: none;
	padding-left: 0;	
}
.sous-rub-bloc .liste-liens-bas li a{
	text-decoration: underline;
}
.candidat .sous-rub-bloc .liste-liens-bas li a{
	color: #da0020;
}
.employeur .sous-rub-bloc .liste-liens-bas li a{
	color: #009999;
}
.sous-rub-bloc .liste-liens-bas li a:hover{
	text-decoration: none;
}

.candidat-bloc-bas{
	background: url("fd-acc-candidat-bas.gif") no-repeat 0 0 transparent;
	height: 36px;
	overflow: hidden;
	padding-left: 6px;
	padding-top: 6px;
}
.candidat-bloc-bas li{
	float: left;
	background: url("fd-bt-gauche.gif") no-repeat 0 0 transparent;
	padding-left: 10px;
	margin-left: 10px;
	display: inline;
}
.candidat-bloc-bas li a{
	display: block;
	float: left;
	background: url("fd-bt-droite.gif") no-repeat right top transparent;
	color: #fff;
	padding: 2px 10px 2px 0;
	text-decoration: none;
}

.employeur-bloc-bas{
	background: url("fd-acc-employeur-bas.gif") 0 0 no-repeat transparent;
	padding: 4px 10px;
	height: 35px;
	overflow: hidden;
}
.offre-special{
	width: 305px;
	float: left;
	padding-top: 6px;
	font-weight: bold;
}
.offre-special strong{
	color: #fff;
	margin-right: 20px;
	text-transform: uppercase;
}
.employeur-bloc-bas ul{
	width: 105px;
	float: right;
}
/* FIN Page d'accueil */