.header, .footer, .chemin-de-fer, .lien-precedent, .lien-precedent-bas, .pagination, .barre-menu, .barre-droite, .liste-pictos, .logo{
	display: none;
}
.page-imprimable .logo{
	display: block;
}
.conteneur-ext-2-3-cols, .conteneur-int{
	background: #fff;
}
.conteneur-int, .contenu, .contenu_large{
	float: none;
	width: 100%;
}
html > body .conteneur-ext-2-3-cols{
	overflow: auto;
}
* html .conteneur-ext-2-3-cols{
	height: auto;
}
html > body .conteneur-float{
	overflow: auto;
}
* html .conteneur-float{
	height: auto;
}
html > body .contenu-large{
	overflow: auto;
}
* html .contenu-large{
	height: auto;
}
html > body .conteneur-2-blocs{
	overflow: auto;
}
* html .conteneur-2-blocs{
	height: auto;
}
html > body .bloc-onglet-int{
	overflow: auto;
}
* html .bloc-onglet-int{
	height: auto;
}
html > body .plan-int{
	overflow: auto;
}
* html .plan-int{
	height: auto;
}

.basic-tableau{
	border-right: solid 1px #000;
	border-top: solid 1px #000;
}
.basic-tableau th, .basic-tableau td{
	border-left: solid 1px #000;	
	border-bottom: solid 1px #000;
}
.basic-tableau .ligne-titre th{
	background-color: #fff;	
}
.basic-tableau .ligne-impaire th, .basic-tableau .ligne-impaire td{
	background-color: #fff;
}
.article h2, .bloc-txt-simple h2, caption{
	color: #000;
}
.article a{
	color: #000;
	text-decoration: none;
}
caption strong{
	border-bottom: solid 1px #000;
}
.zone-haut{
	background: #fff;
}
.titre{
	color: #000;
}