/* FEUILLE DE STYLE RESET CSS */

html {
    font-size: 100%; /* Fix bug d'IE 6-7 */
}

html, body, form, fieldset {
	margin:0;
	padding:0;
	font-family: Tahoma, Geneva, sans-serif;
}

p, select, input, caption, label, span, tr, td, table, textarea{
	font-family: Tahoma, Geneva, sans-serif;
	font-size:11px;
	text-align:left;
	line-height:16px;
}

h1, h2, h3, h4, h5, h6{
	font-family: Tahoma, Geneva, sans-serif;
	line-height:12px;
	margin:0;
}

img, fieldset, table{
   border:none;
}

form, p, ul, li, fieldset, input{
   margin:0;
   padding:0;
}

ul, li{
	list-style:none;
}

ol li{
	list-style:decimal inside;
}

address{
   font-style: normal;
}
	
/* CLEAR */
.clear{
	clear:both;
	display:block;
	height:0px;
	visibility:hidden;
}
