/* 
   $Creation: 1.0 $ 
   $Author: bpaillereau $ 
*/
/*---------------------- MODEL ARTICLE BLOCK TEMPLATE 11 */
.articleBlockTemplate11{margin: 8px 0px 8px 0px;}
.articleBlockTemplate11 div.titleBlock{display:none;}
.articleBlockTemplate11 div.thumbnailImage{ 
	float:left;
	margin: 5px 15px 3px 0px;
	padding: 0px;
}
.articleBlockTemplate11 div.imageaveclegende{ float:left;
  margin: 5px 15px 3px 0px;
  padding: 0px;}
.articleBlockTemplate11 div.legende{padding: 0px;}
.articleBlockTemplate11 div.title{padding-bottom: 8px;}
.articleBlockTemplate11 div.date{padding-bottom: 5px;}
.articleBlockTemplate11 div.accroche{padding: 0px 0px 5px 0px;}
.articleBlockTemplate11 div.resume{padding: 0px 0px 3px 0px;}
.articleBlockTemplate11 div.ensavoirplus{clear:both;float:right;}

