body {
	text-align: center;
	background-color: #ffcc33;
}
body.couleur2 {
	text-align: left !important;
	background-color: #FFF !important;
}
body.couleur2 a img {
	border: none !important;
}
body.couleur2 .contourespace {
	padding: 1em !important;
}
#container {
	position: absolute;
	width: 1000px;
}
#shell {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
	text-align: left;
}
#gmCanvas {
	width: 1000px;
}
#scrollptr {
	display: none;
}
#clock {
	position: absolute;
	width: 220px;
	z-index: 12;
	display: none;
	left: 760px;
	padding: 0px;
	top: 190px;
}
#clock .date {
	position: absolute;
	width: 180px;
	z-index: 7;
	left: 0px;
	padding: 0px;
	top: 0px;
}
#clock .time {
	position: absolute;
	width: 40px;
	z-index: 7;
	display: none;
	left: 180px;
	padding: 0px;
	top: 0px;
}
#dlogotyp {
	height: 126px;
	position: absolute;
	background: url(http://www.valdoise.fr/img/logo.jpg) 0 0 no-repeat;
	width: 173px;
	z-index: 11;
	display: block;
	top: 55px;
	left: 785px;
}
#dhead {
	height: 228px;
	position: absolute;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/media686538.png',sizingMethod='clip');
	width: 1000px;
	z-index: 4;
	top: 10px;
	left: 0;
}
#gmCanvas>#dhead {
	filter: none !important;
	background: url(http://www.valdoise.fr/img/media686538.png) 0 0 no-repeat;
}
#dleft {
	display: none;
	z-index: 3;
}
#drght {
	display: none;
	z-index: 3;
}
#dbody {
	height: 54px;
	position: absolute;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/media686545.png',sizingMethod='clip');
	width: 1000px;
	z-index: 4;
	display: block;
	top: 238px;
}
#gmCanvas>#dbody {
	filter: none !important;
	background: url(http://www.valdoise.fr/img/media686545.png) 0 0 no-repeat;
}
#dfill {
	position: absolute;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/media686552.png',sizingMethod='scale');
	width: 1000px;
	z-index: 3;
	display: block;
	top: 292px;
}
#gmCanvas>#dfill {
	filter: none !important;
	background: url(http://www.valdoise.fr/img/media686552.png) 0 0 repeat-y;
}
#dcontent {
	position: absolute;
	z-index: 6;
	top: 245px;
	left: 0;
}
#dcore {
	min-height: 830px;
	z-index: 9;
	margin: 0;
	padding: 0;
	font-size: 1.1em;
}
#dcorebody {
	padding: 0;
	margin: 0;
	font-size: 1em;
}
#zoom {
	position: absolute;
	z-index: 11;
	left: 930px;
	top: 250px;
}
#zoom:hover {
	cursor: pointer;
}
#zoom .imglyr {
	width: 39px;
	height: 35px;
}
#zoom>.imglyr {
	background: url(http://www.valdoise.fr/img/zoom.png) 0 0 no-repeat;
}
div.bcklyr {
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
}
div.imglyr {
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
}
div.clklyr {
	position: absolute;
	z-index: 3;
	top: 0px;
	left: 0px;
}
div.footer {
	height: 70px;
	position: relative;
	width: 1000px;
	z-index: 1;
	left: 0;
	top: 0;
	padding: 0;
}
#footer-img {
	width: 1000px;
	height: 70px;
}
#footer-oom {
	z-index: 10;
}
div#searchForm {
	font-style: normal;
	width: 145px;
	left: 850px;
	text-decoration: none;
	position: absolute;
	z-index: 10;
	font-weight: normal;
	top: 280px;
	height: 30px;
}
div#searchForm #sBlockImage {
	height: 16px;
	background: url(http://www.valdoise.fr/img/ok.gif) 0 0 no-repeat;
	width: 17px;
	display: block;
}
div#searchForm .sDoSearchOk {
	height: 16px;
	position: absolute;
	width: 17px;
	z-index: 6;
	display: block;
	top: 16px;
	left: 105px;
}
div#searchForm #sBlockLabel {
	position: absolute;
	z-index: 4;
	left: 5px;
	top: 4px;
}
div#searchForm .searchLabel {
	color: #666;
	font-weight: normal;
	font-size: 9.5px;
}
div#searchForm .sBlockEntry {
	height: 14px;
	position: absolute;
	width: 100px;
	z-index: 4;
	top: 16px;
	left: 5px;
}
div#searchForm .txtchamp {
	height: 14px;
	color: #666;
	border: 1px solid #000;
	width: 95px;
	margin: 0;
	padding: 0;
	font-size: 10px;
}
div#searchForm table td {
	font-style: normal;
	color: #666;
	font-size: 10px;
}
div#searchForm #divRadioSet {
	position: absolute;
	width: 145px;
	z-index: 5;
	left: 0px;
	top: 39px;
	display: none;
}
div#searchForm .searchSelect {
	color: white;
	font-size: 10px;
}
div#searchForm #divAdvancedSearch input {
	width: 50px;
	height: 12px;
}
div#searchForm .sDoAdvancedSearchOk {
	position: absolute;
	width: 50px;
	left: 130px;
	top: 5px;
	display: none;
}
div#searchForm #sBlockAdvancedLabel {
	position: relative;
	width: 50px;
	left: 130px;
	top: 5px;
	display: none;
}
div#searchForm .advancedSearchLabel {
	color: #666;
	font-size: 10px;
}
