.blocCommonArticle {
	clear: both !important;
	margin: 0px;
}
.blocCommonArticle h2.contenu {
	padding: 0px !important;
	margin: 0px 0px 8px 0px !important;
}
.blocCommonArticle div.titleBlock {
	clear: both;
	padding: 3px 0px 0px 0px !important;
	margin: 0px;
}
.blocCommonArticle h2.contenu {
	font-style: normal;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/bgH3ContentAccroche.gif');
	margin: 0px;
	color: #FE341E !important;
	background-position: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-repeat: no-repeat;
	font-weight: bold;
	padding: 4px 0px 0px 23px !important;
	height: 31px;
}
.blocCommonArticle h3.contenu span.date {
	display: none;
}
.blocCommonArticle  .legende {
	display: none;
}
.blocCommonArticle h3.contenu {
	background-image: url('http://www.valdoise.fr/img/btNewsletter.gif');
	margin: 15px 0px 0px 0px !important;
	color: #000 !important;
	background-position: 5px 0px;
	clear: both;
	background-repeat: no-repeat;
	font-size: 12px !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 4px solid #DCE19E;
	min-height: 18px;
	padding-left: 25px !important;
}
.blocCommonArticle h3.contenu a {
	color: #000 !important;
	border: none !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px !important;
}
.blocCommonArticle .accroche {
	color: #000000;
	font-style: italic;
	margin: 0px 0px 5px 0px !important;
	font-size: 12px;
	padding: 0px !important;
}
.blocCommonArticle .resume {
	color: #7B9440;
	width: 90%;
	font-weight: bold;
	margin: 0px !important;
	font-size: 12px;
	padding: 0px !important;
}
.blocCommonArticle div.ensavoirplus {
	border-top: 1px dotted #666666;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	float: left;
	margin: 0px 0px 10px 0px;
	background-position: left;
	background-repeat: no-repeat;
	display: block;
	padding: 3px;
}
a.savoirplus {
	border-top: 1px dotted #666666;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	float: left;
	margin: 0px 0px 10px 0px;
	background-position: left;
	background-repeat: no-repeat;
	display: block;
	padding: 3px;
}
.blocCommonArticle div.ensavoirplus a:link {
	color: #486dbb;
	font-style: italic;
	font-size: 11px !important;
	padding: 0px 0px 0px 12px;
}
.blocCommonArticle div.ensavoirplus a:visited {
	font-style: italic;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.blocCommonArticle div.ensavoirplus a:hover {
	text-decoration: underline !important;
}
.blocCommonArticle div.ensavoirplus a:active {
	text-decoration: underline !important;
}
.blocCommonBreve {
	clear: both !important;
	margin: 0px;
}
.blocCommonBreve h2.contenu {
	padding: 0px !important;
	margin: 0px 0px 8px 0px !important;
}
.blocCommonBreve div.titleBlock {
	clear: both;
	padding: 3px 0px 0px 0px !important;
	margin: 0px;
}
.blocCommonBreve h2.contenu {
	font-style: normal;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/bgH3ContentAccroche.gif');
	margin: 0px;
	color: #FE341E !important;
	background-position: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-repeat: no-repeat;
	font-weight: bold;
	padding: 4px 0px 0px 23px !important;
	height: 31px;
}
.blocCommonBreve h3.contenu span.date {
	display: none;
}
.blocCommonBreve h3.contenu {
	background-image: url('http://www.valdoise.fr/img/btNewsletter.gif');
	margin: 15px 0px 0px 0px !important;
	color: #000 !important;
	background-position: 5px 0px;
	clear: both;
	background-repeat: no-repeat;
	font-size: 12px !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 4px solid #DCE19E;
	min-height: 18px;
	padding-left: 25px !important;
}
.blocCommonBreve h3.contenu a {
	color: #000 !important;
	border: none !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px !important;
}
.blocCommonBreve  .legende {
	display: none;
}
.blocCommonBreve  img {
	margin: 10px !important;
}
.blocCommonBreve div.corps {
	color: #000000;
	font-style: italic;
	width: 90%;
	margin: 0px 0px 5px 0px !important;
	font-size: 12px;
	padding: 0px !important;
}
.blocCommonPV {
	clear: both !important;
	margin: 0px;
}
.blocCommonPV h2.contenu {
	padding: 0px !important;
	margin: 0px 0px 8px 0px !important;
}
.blocCommonPV div.titleBlock {
	clear: both;
	padding: 3px 0px 0px 0px !important;
	margin: 0px;
}
.blocCommonPV h2.contenu {
	font-style: normal;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/bgH3ContentAccroche.gif');
	margin: 0px;
	color: #FE341E !important;
	background-position: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-repeat: no-repeat;
	font-weight: bold;
	padding: 4px 0px 0px 23px !important;
	height: 31px;
}
.blocCommonPV h3.contenu span.date {
	color: #000 !important;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.blocCommonPV h3.contenu {
	background-image: url('http://www.valdoise.fr/img/btNewsletter.gif');
	margin: 15px 0px 0px 0px !important;
	color: #000 !important;
	background-position: 5px 0px;
	clear: both;
	background-repeat: no-repeat;
	font-size: 12px !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 4px solid #DCE19E;
	min-height: 18px;
	padding-left: 25px !important;
}
.blocCommonPV h3.contenu a {
	color: #000 !important;
	border: none !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px !important;
}
.blocCommonPV  .legende {
	display: none;
}
.blocCommonPV  img {
	margin: 10px !important;
}
.blocCommonPV .resume {
	border-bottom: 1px dotted #666666;
	color: #000000;
	font-style: italic;
	width: 90%;
	margin: 0px 0px 5px 0px !important;
	font-size: 12px;
	padding: 0px !important;
}
.blocCommonPV div.ensavoirplus {
	border-top: 1px dotted #666666;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	float: left;
	margin: 0px 0px 10px 0px;
	background-position: left;
	background-repeat: no-repeat;
	display: block;
	padding: 3px;
}
a.savoirplus {
	border-top: 1px dotted #666666;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	float: left;
	margin: 0px 0px 10px 0px;
	background-position: left;
	background-repeat: no-repeat;
	display: block;
	padding: 3px;
}
.blocCommonPV div.ensavoirplus a:link {
	color: #486dbb;
	font-style: italic;
	font-size: 11px !important;
	padding: 0px 0px 0px 12px;
}
.blocCommonPV div.ensavoirplus a:visited {
	font-style: italic;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.blocCommonPV div.ensavoirplus a:hover {
	text-decoration: underline !important;
}
.blocCommonPV div.ensavoirplus a:active {
	text-decoration: underline !important;
}
.blocCommonFormulaire {
	clear: both !important;
	margin: 0px;
}
.blocCommonFormulaire h2.contenu {
	padding: 0px !important;
	margin: 0px 0px 8px 0px !important;
}
.blocCommonFormulaire div.titleBlock {
	clear: both;
	padding: 3px 0px 0px 0px !important;
	margin: 0px;
}
.blocCommonFormulaire h2.contenu {
	font-style: normal;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/bgH3ContentAccroche.gif');
	margin: 0px;
	color: #FE341E !important;
	background-position: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-repeat: no-repeat;
	font-weight: bold;
	padding: 4px 0px 0px 23px !important;
	height: 31px;
}
.blocCommonFormulaire h3.contenu span.date {
	display: none;
}
.blocCommonFormulaire h3.contenu {
	background-image: url('http://www.valdoise.fr/img/btNewsletter.gif');
	margin: 15px 0px 0px 0px !important;
	color: #000 !important;
	background-position: 5px 0px;
	clear: both;
	background-repeat: no-repeat;
	font-size: 12px !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 4px solid #DCE19E;
	min-height: 18px;
	padding-left: 25px !important;
}
.blocCommonFormulaire h3.contenu a {
	color: #000 !important;
	border: none !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px !important;
}
.blocCommonFormulaire  .legende {
	display: none;
}
.blocCommonFormulaire  img {
	margin: 10px !important;
}
.blocCommonFormulaire .accroche {
	color: #000000;
	font-style: italic;
	width: 90%;
	margin: 0px 0px 5px 0px !important;
	font-size: 12px;
	padding: 0px !important;
}
.blocCommonFormulaire .resume {
	color: #7B9440;
	width: 90%;
	font-weight: bold;
	margin: 0px !important;
	font-size: 12px;
	padding: 0px !important;
}
.blocCommonFormulaire div.ensavoirplus {
	border-top: 1px dotted #666666;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	float: left;
	margin: 0px 0px 10px 0px;
	background-position: left;
	background-repeat: no-repeat;
	display: block;
	padding: 3px;
}
.blocCommonFormulaire .ensavoirplus {
	background-image: none !important;
	border: none !important;
}
.blocCommonFormulaire div.ensavoirplus a:link {
	color: #486dbb;
	font-style: italic;
	font-size: 11px !important;
	padding: 0px 0px 0px 12px;
}
.blocCommonFormulaire div.ensavoirplus a:visited {
	font-style: italic;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.blocCommonFormulaire div.ensavoirplus a:hover {
	text-decoration: underline !important;
}
.blocCommonFormulaire div.ensavoirplus a:active {
	text-decoration: underline !important;
}
.blocCommonAgenda {
	clear: both !important;
	margin: 0px;
}
.blocCommonAgenda h2.contenu {
	padding: 0px !important;
	margin: 0px 0px 8px 0px !important;
}
.blocCommonAgenda div.titleBlock {
	clear: both;
	padding: 3px 0px 0px 0px !important;
	margin: 0px;
}
.blocCommonAgenda h2.contenu {
	font-style: normal;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/bgH3ContentAccroche.gif');
	margin: 0px;
	color: #FE341E !important;
	background-position: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-repeat: no-repeat;
	font-weight: bold;
	padding: 4px 0px 0px 23px !important;
	height: 31px;
}
.blocCommonAgenda h3.contenu span.date {
	display: none;
}
.blocCommonAgenda  .legende {
	display: none;
}
.blocCommonAgenda  img {
	margin: 10px !important;
}
.blocCommonAgenda h3.contenu {
	background-image: url('http://www.valdoise.fr/img/btNewsletter.gif');
	margin: 15px 0px 0px 0px !important;
	color: #000 !important;
	background-position: 5px 0px;
	clear: both;
	background-repeat: no-repeat;
	font-size: 12px !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 4px solid #DCE19E;
	min-height: 18px;
	padding-left: 25px !important;
}
.blocCommonAgenda h3.contenu a {
	color: #000 !important;
	border: none !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px !important;
}
.blocCommonAgenda div.ensavoirplus {
	border-top: 1px dotted #666666;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	float: left;
	margin: 0px 0px 10px 0px;
	background-position: left;
	background-repeat: no-repeat;
	display: block;
	padding: 3px;
}
.blocCommonAgenda a.savoirplus {
	border-top: 1px dotted #666666;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	float: left;
	margin: 0px 0px 10px 0px;
	background-position: left;
	background-repeat: no-repeat;
	display: block;
	padding: 3px;
}
.blocCommonAgenda div.ensavoirplus a:link {
	color: #486dbb;
	font-style: italic;
	font-size: 11px !important;
	padding: 0px 0px 0px 12px;
}
.blocCommonAgenda div.ensavoirplus a:visited {
	font-style: italic;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.blocCommonAgenda div.ensavoirplus a:hover {
	text-decoration: underline !important;
}
.blocCommonAgenda div.ensavoirplus a:active {
	text-decoration: underline !important;
}
.blocCommonAnnuaire {
	clear: both !important;
	margin: 0px;
}
.blocCommonAnnuaire h2.contenu {
	padding: 0px !important;
	margin: 0px 0px 8px 0px !important;
}
.blocCommonAnnuaire div.titleBlock {
	clear: both;
	padding: 3px 0px 0px 0px !important;
	margin: 0px;
}
.blocCommonAnnuaire h2.contenu {
	font-style: normal;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/bgH3ContentAccroche.gif');
	margin: 0px;
	color: #FE341E !important;
	background-position: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-repeat: no-repeat;
	font-weight: bold;
	padding: 4px 0px 0px 23px !important;
	height: 31px;
}
.blocCommonAnnuaire h3.contenu span.date {
	display: none;
}
.blocCommonAnnuaire h3.contenu {
	background-image: url('http://www.valdoise.fr/img/btNewsletter.gif');
	margin: 15px 0px 0px 0px !important;
	color: #000 !important;
	background-position: 5px 0px;
	clear: both;
	background-repeat: no-repeat;
	font-size: 12px !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 4px solid #DCE19E;
	min-height: 18px;
	padding-left: 25px !important;
}
.blocCommonAnnuaire h3.contenu a {
	color: #000 !important;
	border: none !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px !important;
}
.blocCommonAnnuaire  .legende {
	display: none;
}
.blocCommonAnnuaire  img {
	margin: 10px !important;
}
.blocCommonAnnuaire .resume {
	border-bottom: 1px dotted #666666;
	color: #000000;
	font-style: italic;
	width: 90%;
	margin: 0px 0px 5px 0px !important;
	font-size: 12px;
	padding: 0px !important;
}
.blocCommonAnnuaire div.ensavoirplus {
	border-top: 1px dotted #666666;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	float: left;
	margin: 0px 0px 10px 0px;
	background-position: left;
	background-repeat: no-repeat;
	display: block;
	padding: 3px;
}
.blocCommonAnnuaire a.savoirplus {
	border-top: 1px dotted #666666;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	float: left;
	margin: 0px 0px 10px 0px;
	background-position: left;
	background-repeat: no-repeat;
	display: block;
	padding: 3px;
}
.blocCommonAnnuaire div.ensavoirplus a:link {
	color: #486dbb;
	font-style: italic;
	font-size: 11px !important;
	padding: 0px 0px 0px 12px;
}
.blocCommonAnnuaire div.ensavoirplus a:visited {
	font-style: italic;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.blocCommonAnnuaire div.ensavoirplus a:hover {
	text-decoration: underline !important;
}
.blocCommonAnnuaire div.ensavoirplus a:active {
	text-decoration: underline !important;
}
.blocCommonTrombinoscope {
	clear: both !important;
	margin: 0px;
}
.blocCommonTrombinoscope h2.contenu {
	padding: 0px !important;
	margin: 0px 0px 8px 0px !important;
}
.blocCommonTrombinoscope div.titleBlock {
	clear: both;
	padding: 3px 0px 0px 0px !important;
	margin: 0px;
}
.blocCommonTrombinoscope h2.contenu {
	font-style: normal;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/bgH3ContentAccroche.gif');
	margin: 0px;
	color: #FE341E !important;
	background-position: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-repeat: no-repeat;
	font-weight: bold;
	padding: 4px 0px 0px 23px !important;
	height: 31px;
}
.blocCommonTrombinoscope h3.contenu span.date {
	display: none;
}
.blocCommonTrombinoscope h3.contenu {
	background-image: url('http://www.valdoise.fr/img/btNewsletter.gif');
	margin: 15px 0px 0px 0px !important;
	color: #000 !important;
	background-position: 5px 0px;
	clear: both;
	background-repeat: no-repeat;
	font-size: 12px !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 4px solid #DCE19E;
	min-height: 18px;
	padding-left: 25px !important;
}
.blocCommonTrombinoscope h3.contenu a {
	color: #000 !important;
	border: none !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px !important;
}
.blocCommonTrombinoscope  .legende {
	display: none;
}
.blocCommonTrombinoscope  img {
	margin: 10px !important;
}
.blocCommonTrombinoscope .resume {
	border-bottom: 1px dotted #666666;
	color: #000000;
	font-style: italic;
	width: 90%;
	margin: 0px 0px 5px 0px !important;
	font-size: 12px;
	padding: 0px !important;
}
.blocCommonTrombinoscope div.ensavoirplus {
	border-top: 1px dotted #666666;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	float: left;
	margin: 0px 0px 10px 0px;
	background-position: left;
	background-repeat: no-repeat;
	display: block;
	padding: 3px;
}
.blocCommonTrombinoscope a.savoirplus {
	border-top: 1px dotted #666666;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	float: left;
	margin: 0px 0px 10px 0px;
	background-position: left;
	background-repeat: no-repeat;
	display: block;
	padding: 3px;
}
.blocCommonTrombinoscope div.ensavoirplus a:link {
	color: #486dbb;
	font-style: italic;
	font-size: 11px !important;
	padding: 0px 0px 0px 12px;
}
.blocCommonTrombinoscope div.ensavoirplus a:visited {
	font-style: italic;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.blocCommonTrombinoscope div.ensavoirplus a:hover {
	text-decoration: underline !important;
}
.blocCommonTrombinoscope div.ensavoirplus a:active {
	text-decoration: underline !important;
}
.blocCommonGaleriePhoto {
	clear: both !important;
	margin: 0px;
}
.blocCommonGaleriePhoto h2.contenu {
	padding: 0px !important;
	margin: 0px 0px 8px 0px !important;
}
.blocCommonGaleriePhoto div.titleBlock {
	clear: both;
	padding: 3px 0px 0px 0px !important;
	margin: 0px;
}
.blocCommonGaleriePhoto h2.contenu {
	font-style: normal;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/bgH3ContentAccroche.gif');
	margin: 0px;
	color: #FE341E !important;
	background-position: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-repeat: no-repeat;
	font-weight: bold;
	padding: 4px 0px 0px 23px !important;
	height: 31px;
}
.blocCommonGaleriePhoto h3.contenu span.date {
	display: none;
}
.blocCommonGaleriePhoto  .legende {
	display: none;
}
.blocCommonGaleriePhoto h3.contenu {
	background-image: url('http://www.valdoise.fr/img/btNewsletter.gif');
	margin: 15px 0px 0px 0px !important;
	color: #000 !important;
	background-position: 5px 0px;
	clear: both;
	background-repeat: no-repeat;
	font-size: 12px !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 4px solid #DCE19E;
	min-height: 18px;
	padding-left: 25px !important;
}
.blocCommonGaleriePhoto h3.contenu a {
	color: #000 !important;
	border: none !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px !important;
}
.blocCommonGaleriePhoto .legende {
	display: none;
}
.blocCommonGaleriePhoto img {
	margin: 10px !important;
}
.blocCommonGaleriePhoto .resume {
	border-bottom: 1px dotted #666666;
	color: #000000;
	font-style: italic;
	width: 90%;
	margin: 0px 0px 5px 0px !important;
	font-size: 12px;
	padding: 0px !important;
}
.blocCommonGaleriePhoto div.ensavoirplus {
	border-top: 1px dotted #666666;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	float: left;
	margin: 0px 0px 10px 0px;
	background-position: left;
	background-repeat: no-repeat;
	display: block;
	padding: 3px;
}
.blocCommonGaleriePhoto a.savoirplus {
	border-top: 1px dotted #666666;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	float: left;
	margin: 0px 0px 10px 0px;
	background-position: left;
	background-repeat: no-repeat;
	display: block;
	padding: 3px;
}
.blocCommonGaleriePhoto div.ensavoirplus a:link {
	color: #486dbb;
	font-style: italic;
	font-size: 11px !important;
	padding: 0px 0px 0px 12px;
}
.blocCommonGaleriePhoto div.ensavoirplus a:visited {
	font-style: italic;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.blocCommonGaleriePhoto div.ensavoirplus a:hover {
	text-decoration: underline !important;
}
.blocCommonGaleriePhoto div.ensavoirplus a:active {
	text-decoration: underline !important;
}
.blocCommonLiens {
	clear: both !important;
	margin: 0px;
}
.blocCommonLiens h2.contenu {
	padding: 0px !important;
	margin: 0px 0px 8px 0px !important;
}
.blocCommonLiens div.titleBlock {
	clear: both;
	padding: 3px 0px 0px 0px !important;
	margin: 0px;
}
.blocCommonLiens h2.contenu {
	font-style: normal;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/bgH3ContentAccroche.gif');
	margin: 0px;
	color: #FE341E !important;
	background-position: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-repeat: no-repeat;
	font-weight: bold;
	padding: 4px 0px 0px 23px !important;
	height: 31px;
}
.blocCommonLiens h3.contenu span.date {
	display: none;
}
.blocCommonLiens h3.contenu {
	background-image: url('http://www.valdoise.fr/img/btNewsletter.gif');
	margin: 15px 0px 0px 0px !important;
	color: #000 !important;
	background-position: 5px 0px;
	clear: both;
	background-repeat: no-repeat;
	font-size: 12px !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 4px solid #DCE19E;
	min-height: 18px;
	padding-left: 25px !important;
}
.blocCommonLiens h3.contenu a {
	color: #000 !important;
	border: none !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px !important;
}
.blocCommonLiens  .legende {
	display: none;
}
.blocCommonLiens  img {
	margin: 10px !important;
}
.blocCommonLiens .resume {
	border-bottom: 1px dotted #666666;
	color: #000000;
	font-style: italic;
	width: 90%;
	margin: 0px 0px 5px 0px !important;
	font-size: 12px;
	padding: 0px !important;
}
.blocCommonLiens div.ensavoirplus {
	border-top: 1px dotted #666666;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	float: left;
	margin: 0px 0px 10px 0px;
	background-position: left;
	background-repeat: no-repeat;
	display: block;
	padding: 3px;
}
.blocCommonLiens a.savoirplus {
	border-top: 1px dotted #666666;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	float: left;
	margin: 0px 0px 10px 0px;
	background-position: left;
	background-repeat: no-repeat;
	display: block;
	padding: 3px;
}
.blocCommonLiens div.ensavoirplus a:link {
	color: #486dbb;
	font-style: italic;
	font-size: 11px !important;
	padding: 0px 0px 0px 12px;
}
.blocCommonLiens div.ensavoirplus a:visited {
	font-style: italic;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.blocCommonLiens div.ensavoirplus a:hover {
	text-decoration: underline !important;
}
.blocCommonLiens div.ensavoirplus a:active {
	text-decoration: underline !important;
}
.blocCommonFichiersTelechargeables {
	clear: both !important;
	margin: 0px;
}
.blocCommonFichiersTelechargeables h2.contenu {
	padding: 0px !important;
	margin: 0px 0px 8px 0px !important;
}
.blocCommonFichiersTelechargeables div.titleBlock {
	clear: both;
	padding: 3px 0px 0px 0px !important;
	margin: 0px;
}
.blocCommonFichiersTelechargeables h2.contenu {
	font-style: normal;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/bgH3ContentAccroche.gif');
	margin: 0px;
	color: #FE341E !important;
	background-position: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-repeat: no-repeat;
	font-weight: bold;
	padding: 4px 0px 0px 23px !important;
	height: 31px;
}
.blocCommonFichiersTelechargeables h3.contenu span.date {
	display: none;
}
.blocCommonFichiersTelechargeables  .legende {
	display: none;
}
.blocCommonFichiersTelechargeables h3.contenu {
	background-image: url('http://www.valdoise.fr/img/btNewsletter.gif');
	margin: 15px 0px 0px 0px !important;
	color: #000 !important;
	background-position: 5px 0px;
	clear: both;
	background-repeat: no-repeat;
	font-size: 12px !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 4px solid #DCE19E;
	min-height: 18px;
	padding-left: 25px !important;
}
.blocCommonFichiersTelechargeables h3.contenu a {
	color: #000 !important;
	border: none !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px !important;
}
.blocCommonFichiersTelechargeables  .legende {
	display: none;
}
.blocCommonFichiersTelechargeables  img {
	margin: 10px !important;
}
.blocCommonFichiersTelechargeables .resume {
	border-bottom: 1px dotted #666666;
	color: #000000;
	font-style: italic;
	margin: 0px 0px 5px 0px !important;
	font-size: 12px;
	padding: 0px !important;
}
.blocCommonFichiersTelechargeables div.ensavoirplus {
	border-top: 1px dotted #666666;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	float: left;
	margin: 0px 0px 10px 0px;
	background-position: left;
	background-repeat: no-repeat;
	display: block;
	padding: 3px;
}
.blocCommonFichiersTelechargeables a.savoirplus {
	border-top: 1px dotted #666666;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	float: left;
	margin: 0px 0px 10px 0px;
	background-position: left;
	background-repeat: no-repeat;
	display: block;
	padding: 3px;
}
.blocCommonFichiersTelechargeables div.ensavoirplus a:link {
	color: #486dbb;
	font-style: italic;
	font-size: 11px !important;
	padding: 0px 0px 0px 12px;
}
.blocCommonFichiersTelechargeables div.ensavoirplus a:visited {
	font-style: italic;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.blocCommonFichiersTelechargeables div.ensavoirplus a:hover {
	text-decoration: underline !important;
}
.blocCommonFichiersTelechargeables div.ensavoirplus a:active {
	text-decoration: underline !important;
}
.blocCommonListe {
	clear: both !important;
	padding: 0px !important;
	margin: 0px;
}
.blocCommonListe  .legende {
	display: none;
}
.blocCommonListe div.titleBlock {
	clear: both;
	padding: 3px 0px 0px 0px !important;
	margin: 0px;
}
.blocCommonListe h2.contenu {
	display: none;
}
.blocCommonListe h3.contenu {
	background-image: url('http://www.valdoise.fr/img/btNewsletter.gif');
	margin: 15px 0px 0px 0px !important;
	color: #000 !important;
	background-position: 5px 0px;
	clear: both;
	background-repeat: no-repeat;
	font-size: 12px !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 4px solid #DCE19E;
	min-height: 18px;
	padding-left: 25px !important;
}
.blocCommonListe h3.contenu a {
	color: #000 !important;
	border: none !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px !important;
}
.blocCommonListe ul {
	padding: 0;
	margin: 9px 0px 0px 0px;
}
.blocCommonListe li {
	padding: 0;
	margin: 0;
}
.blocCommonListe li.elements {
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	background-position: left bottom;
	background-repeat: no-repeat;
	margin: 3px 0px 2px 0px;
	display: block;
	list-style: none;
}
.blocCommonListe li.elements a.elementsTitle {
	color: #486DBB !important;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
	text-align: left;
}
.blocCommonListe div.ensavoirplus {
	border-top: 1px dotted #666666;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	float: left;
	margin: 0px 0px 10px 0px;
	background-position: left;
	background-repeat: no-repeat;
	display: block;
	padding: 3px;
}
.blocCommonListe a.savoirplus {
	border-top: 1px dotted #666666;
	width: 90%;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	float: left;
	margin: 0px 0px 10px 0px;
	background-position: left;
	background-repeat: no-repeat;
	display: block;
	padding: 3px;
}
.blocCommonListe div.ensavoirplus a:link {
	color: #486dbb;
	font-style: italic;
	font-size: 11px !important;
	padding: 0px 0px 0px 12px;
}
.blocCommonListe div.ensavoirplus a:visited {
	font-style: italic;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.blocCommonListe div.ensavoirplus a:hover {
	text-decoration: underline !important;
}
.blocCommonListe div.ensavoirplus a:active {
	text-decoration: underline !important;
}
.articleBlockTemplate11 {
	margin: 8px 0px 8px 0px;
}
.articleBlockTemplate11 div.titleBlock {
	display: none;
}
.articleBlockTemplate11 div.thumbnailImage {
	float: left;
	padding: 0px;
	margin: 0px 15px 3px 0px;
}
.articleBlockTemplate11 div.imageaveclegende {
	float: left;
	padding: 0px;
	margin: 0px 15px 3px 0px;
}
.articleBlockTemplate11 div.legende {
	padding: 0px;
}
.articleBlockTemplate11 div.title {
	padding-bottom: 8px;
}
.articleBlockTemplate11 div.date {
	padding-bottom: 5px;
}
.articleBlockTemplate11 div.accroche {
	padding: 0px 0px 5px 0px;
}
.articleBlockTemplate11 div.resume {
	padding-bottom: 3px;
}
.articleBlockTemplate11 div.ensavoirplus {
	clear: both;
}
#pageTemplate54 #myDiv1 {
	width: 49%;
	margin: 0px 5px 5px 0px;
	display: block;
	float: left;
}
#pageTemplate54 #myDiv2 {
	width: 49%;
	margin: 0px 5px 5px 0px;
	display: block;
	float: left;
}
#pageTemplate54 #myDiv3 {
	width: 49%;
	margin: 0px 5px 5px 0px;
	display: block;
	float: left;
}
#pageTemplate54 #myDiv4 {
	width: 49%;
	margin: 0px 5px 5px 0px;
	display: block;
	float: left;
}
#pageTemplate54 #myDiv5 {
	width: 49%;
	margin: 0px 5px 5px 0px;
	display: block;
	float: left;
}
#pageTemplate54 #myDiv6 {
	width: 49%;
	margin: 0px 5px 5px 0px;
	display: block;
	float: left;
}
#pageTemplate54 #myDiv7 {
	width: 49%;
	margin: 0px 5px 5px 0px;
	display: block;
	float: left;
}
#pageTemplate54 #myDiv8 {
	width: 49%;
	margin: 0px 5px 5px 0px;
	display: block;
	float: left;
}
#pageTemplate54 #myDiv9 {
	width: 49%;
	margin: 0px 5px 5px 0px;
	display: block;
	float: left;
}
#pageTemplate54 #myDiv10 {
	width: 49%;
	margin: 0px 5px 5px 0px;
	display: block;
	float: left;
}
#pageTemplate54 #myDiv11 {
	width: 49%;
	margin: 0px 5px 5px 0px;
	display: block;
	float: left;
}
#pageTemplate54 #myDiv12 {
	width: 49%;
	margin: 0px 5px 5px 0px;
	display: block;
	float: left;
}
#pageTemplate54 #myDiv13 {
	width: 49%;
	margin: 0px 5px 5px 0px;
	display: block;
	float: left;
}
#pageTemplate54 #myDiv14 {
	width: 49%;
	margin: 0px 5px 5px 0px;
	display: block;
	float: left;
}
#pageTemplate54 #myDiv15 {
	width: 49%;
	margin: 0px 5px 5px 0px;
	display: block;
	float: left;
}
#pageTemplate54 #myDiv16 {
	width: 49%;
	margin: 0px 5px 5px 0px;
	display: block;
	float: left;
}
#pageTemplate54 #myDiv17 {
	width: 49%;
	margin: 0px 5px 5px 0px;
	display: block;
	float: left;
}
#pageTemplate54 #myDiv18 {
	width: 49%;
	margin: 0px 5px 5px 0px;
	display: block;
	float: left;
}
#pageTemplate54 #myDiv19 {
	width: 49%;
	margin: 0px 5px 5px 0px;
	display: block;
	float: left;
}
#pageTemplate54 #myDiv20 {
	width: 49%;
	margin: 0px 5px 5px 0px;
	display: block;
	float: left;
}
#pageTemplate54 #myDiv21 {
	width: 49%;
	margin: 0px 5px 5px 0px;
	display: block;
	float: left;
}
#pageTemplate54 #myDiv22 {
	width: 49%;
	margin: 0px 5px 5px 0px;
	display: block;
	float: left;
}
