#articleLayout6 #footerLinks {
	border: none !important;
}
#pageTemplate53 #myDiv7 {
	float: right;
	width: 400px !important;
	padding-left: 80px;
}
html {
	font-size: 100%;
}
body {
	font-style: normal;
	text-decoration: none;
	background-color: #fff;
	margin: 0;
	color: #000;
	font-size: .75em;
	font-family: Arial, Helvetica, sans-serif !important;
	font-weight: normal;
	padding: 0;
}
.titleBlock {
	display: block !important;
}
.grasMarron {
	color: #305905 !important;
	font-family: Arial, Verdana, sans-serif !important;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.1em;
	font-size: 1.1em;
}
.grasGris {
	color: #888;
	font-weight: bold;
}
.grasOrange {
	color: #305905;
	font-weight: bold;
}
.grasBleu {
	color: #0066CC;
	font-weight: bold;
}
.vert {
	color: #699404;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.1em;
}
.marron {
	color: #865223;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.1em;
}
.grasVert {
	color: #305905;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.1em;
}
.degradeVert {
	background: url(http://www.valdoise.fr/img/fond-vert-degrade.jpg);
}
.grasRouge {
	color: #CE0000;
	font-weight: bold;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
.WebCtBody {
	position: relative;
	width: 980px;
	top: 0px;
}
#headerText {
	position: absolute;
	left: 490px;
	top: 10px;
	float: left;
}
#headerText p {
	color: black;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: 600;
	margin: 0px;
	font-size: 11px !important;
	word-spacing: 1px;
	padding: 0px;
}
#headerText select {
	width: 150px;
}
#horizon {
	height: 79px;
	position: absolute;
	width: 125px;
	z-index: 1000;
	left: 630px;
	top: 22px;
	cursor: default;
}
#header {
	width: 980px;
	background-image: url('http://www.valdoise.fr/img/banner.jpg');
	float: left;
	background-color: #FFFFFF;
	margin: 0px;
	background-position: top left;
	position: relative;
	background-repeat: no-repeat;
	padding: 0px;
	height: 170px;
}
#logo {
	padding: 0px;
	margin: 0px;
}
#logo img {
	float: right;
	text-align: right;
	margin: 0px -20px 0px 0px;
}
#rss {
	padding: 0;
	margin: 0;
}
#rss img {
	height: 23px;
	width: 25px;
	margin: 8px -20px 0 0;
	float: right;
	text-align: right;
}
#infoContext {
	position: relative;
	font-style: italic;
	margin: 5px 5px 5px 13px;
	font-size: 11px !important;
	left: 180px;
	text-align: left;
}
#infoContext  span.txtsituation {
	padding: 0px 0px 0px 26px;
	font-size: 11px !important;
}
#infoContext span.txtsituation a {
	color: #000000 !important;
	font-size: 11px !important;
}
#infoContext span.txtsituation a.txtsituation:link {
	color: #000000 !important;
	text-decoration: none;
	font-size: 11px !important;
}
#infoContext span.txtsituation a.txtsituation:visited {
	color: #000000 !important;
	text-decoration: none;
	font-size: 11px !important;
}
#infoContext span.txtsituation a.txtsituation:hover {
	color: #000000 !important;
	text-decoration: none;
	font-size: 11px !important;
}
#infoContext span.txtsituation a.txtsituation:active {
	color: #000000 !important;
	text-decoration: none;
	font-size: 11px !important;
}
#search {
	vertical-align: middle;
	margin: 0px;
	padding: 5px 0px 0px 0px;
	float: left;
}
#divTextSearch table td {
	font-style: normal;
	color: #666666;
	font-size: 10px !important;
}
#divTextSearch .txtchamp {
	color: #666666;
	border: 1px solid #404040;
	margin: 0px 3px 0px 0px;
	font-size: 9px !important;
	padding: 0px;
}
#divTextSearch a:link {
	color: #666666;
	font-style: normal;
	text-decoration: none;
	margin: 0px 0px 0px 6px;
	font-size: 10px !important;
	padding: 0px;
}
#divTextSearch a:visited {
	color: #666666;
	font-style: normal;
	text-decoration: none;
	margin: 0px 0px 0px 6px;
	font-size: 10px !important;
	padding: 0px;
}
#divTextSearch a:active {
	color: #666666;
	font-style: normal;
	text-decoration: none;
	margin: 0px 0px 0px 6px;
	font-size: 10px !important;
	padding: 0px;
}
#divTextSearch a:hover {
	color: #666666;
	text-decoration: underline;
}
#divKeywordSearch {
	display: none;
}
#selectStyleSearch {
	display: none;
}
#topicImage {
	display: none;
}
#MenuPosition {
	height: 100%;
	position: relative;
	vertical-align: top;
	width: 170px;
	top: 0px;
	padding: 0px 0px 0px 0px;
	float: left;
}
#mainContent {
	height: 100%;
	position: relative;
	width: 100%;
	margin: 0px;
	left: 0px;
	top: 0px;
	padding: 0px;
	float: left;
}
#pageTemplate53 {
	position: absolute;
	width: 740px !important;
	top: 20px;
	left: 60px;
}
#pageTemplate53 #myDiv0 {
	width: 45% !important;
	margin: 0px 5px 5px 5px;
	display: inline;
	float: left;
}
#pageTemplate53 #myDiv1 {
	width: 45% !important;
	margin: 0px 0px 5px 0px;
	display: inline;
	float: right;
}
#pageTemplate53 #myDiv2 {
	width: 45% !important;
	margin: 0px 5px 5px 5px;
	display: inline;
	float: left;
}
#pageTemplate53 #myDiv3 {
	width: 45% !important;
	margin: 0px 5px 5px 0px;
	display: inline;
	float: right;
}
#pageTemplate53 #myDiv4 {
	width: 45% !important;
	margin: 0px 5px 5px 0px;
	display: inline;
	float: left;
}
#pageTemplate53 #myDiv5 {
	width: 45% !important;
	margin: 0px 5px 5px 5px;
	display: inline;
	float: right;
}
#pageTemplate53 #myDiv6 {
	width: 45% !important;
	margin: 0px 5px 5px 0px;
	display: inline;
	float: left;
}
#content {
	width: 540px;
	margin: 0px 5px 0px 16px;
	font-size: 12px;
	display: inline;
	padding: 0px !important;
	float: left;
	text-align: left;
}
#content a:link {
	color: #486DBB;
	text-decoration: none;
	font-size: 10px;
}
#content a:visited {
	color: #486DBB;
	text-decoration: none;
	font-size: 10px;
}
#content a:hover {
	color: #486DBB;
	text-decoration: none;
	font-size: 11px;
}
#content a:active {
	color: #486DBB;
	text-decoration: none;
	font-size: 11px;
}
.date {
	font-size: 11px;
}
p.resume {
	padding: 0px !important;
	margin: 0px !important;
}
.corps {
	font-style: normal;
	color: #000 !important;
	font-weight: normal;
}
.corps p {
	color: #000 !important;
	font-style: normal;
	font-weight: normal;
	margin: 0;
	line-height: 1.4em;
	font-size: .85em;
}
#content div.corps p a {
	font-style: normal;
	font-weight: normal;
	font-size: 11px !important;
}
#content div.corps a {
	font-style: normal;
	font-weight: normal;
	font-size: 11px !important;
}
#leftcol {
	width: 46px;
	border-right: 1px solid #FECBC7;
	background-image: url('http://www.valdoise.fr/img/leftcol_bg.jpg');
	float: left;
	background-color: #FD3420;
	margin: 0px;
	background-position: top left;
	background-repeat: no-repeat;
	padding: 0px;
	height: 700px;
}
#link {
	border: 1px solid #BEBEBE;
	background-color: #FEFCFD;
	width: 187px;
	margin: 0px 0px 0px 5px;
	padding: 0px;
	float: right;
	text-align: left;
}
#link h1.contenu {
	display: none;
}
#link div.pageTitle {
	display: none;
}
#link table {
	padding: 0px;
	margin: 0px;
}
#link td {
	padding: 0px;
	margin: 0px;
}
#divFooterLinks {
	float: left;
	width: 98%;
	margin: 0px 0px 10px 0px;
}
#divFooterLinksTitle {
	border-top: 1px dashed #DDDCD7;
	font-style: normal;
	background-image: url('http://www.valdoise.fr/img/btVoirAussi.gif');
	margin: 0px 0px 5px 0px;
	color: #000;
	background-position: left;
	border-bottom: 1px dashed #DDDCD7;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-repeat: no-repeat;
	font-weight: 900;
	padding: 5px 0px 8px 30px;
}
#footerLinks {
	margin: 0px 0px 0px 0px;
}
#footerOthers {
	float: left;
}
#divFooterLinks div.liAttachment {
	background-image: none !important;
	padding: 0px;
	margin: 0px 0px 0px 17px;
}
#divFooterLinks div.liAttachment a:link {
	font-style: italic !important;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	text-decoration: none;
	margin: 3px 0px 0px 0px;
	color: #486DBB !important;
	background-position: left;
	font-size: 11px !important;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 12px;
}
#divFooterLinks div.liAttachment a:visited {
	font-style: italic !important;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	text-decoration: none;
	margin: 3px 0px 0px 0px;
	color: #486DBB !important;
	background-position: left;
	font-size: 11px !important;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 12px;
}
#divFooterLinks div.liAttachment a:hover {
	font-style: italic !important;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	text-decoration: underline;
	margin: 3px 0px 0px 0px;
	color: #486DBB !important;
	background-position: left;
	font-size: 11px !important;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 12px;
}
#divFooterLinks div.liAttachment a:active {
	font-style: italic !important;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	text-decoration: underline;
	margin: 3px 0px 0px 0px;
	color: #486DBB !important;
	background-position: left;
	font-size: 11px !important;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 12px;
}
#divFooterLinks div.liLienContact {
	font-style: italic !important;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	text-decoration: none;
	margin: 0px 0px 0px 17px;
	color: #486DBB;
	background-position: left;
	font-size: 11px;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 8px;
}
#divFooterLinks div.liLienContact a:link {
	color: #486DBB;
	font-style: italic !important;
	text-decoration: none;
	font-size: 11px;
}
#divFooterLinks div.liLienContact a:visited {
	color: #486DBB;
	font-style: italic !important;
	text-decoration: none;
	font-size: 11px;
}
#divFooterLinks div.liLienContact a:hover {
	color: #486DBB;
	font-style: italic !important;
	text-decoration: none;
	font-size: 11px;
}
#divFooterLinks div.liLienContact a:active {
	color: #486DBB;
	font-style: italic !important;
	text-decoration: none;
	font-size: 11px;
}
#divFooterLinks .liInternalLink {
	background-image: none !important;
	padding: 0px;
	margin: 0px 0px 0px 17px;
}
#divFooterLinks div.liInternalLink a:link {
	font-style: italic !important;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	text-decoration: none;
	margin: 3px 0px 0px 0px;
	color: #486DBB !important;
	background-position: left;
	font-size: 11px !important;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 12px;
}
#divFooterLinks div.liInternalLink a:visited {
	font-style: italic !important;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	text-decoration: none;
	margin: 3px 0px 0px 0px;
	color: #486DBB !important;
	background-position: left;
	font-size: 11px !important;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 12px;
}
#divFooterLinks div.liInternalLink a:hover {
	font-style: italic !important;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	text-decoration: none;
	margin: 3px 0px 0px 0px;
	color: #486DBB !important;
	background-position: left;
	font-size: 11px !important;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 12px;
}
#divFooterLinks div.liInternalLink a:active {
	font-style: italic !important;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	text-decoration: none;
	margin: 3px 0px 0px 0px;
	color: #486DBB !important;
	background-position: left;
	font-size: 11px !important;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 12px;
}
#divFooterLinks .liExternalLink {
	background-image: none !important;
	padding: 0px;
	margin: 0px 0px 0px 17px;
}
#divFooterLinks div.liExternalLink a:link {
	font-style: italic !important;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	text-decoration: none;
	margin: 3px 0px 0px 0px;
	color: #486DBB !important;
	background-position: left;
	font-size: 11px !important;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 12px;
}
#divFooterLinks div.liExternalLink a:visited {
	font-style: italic !important;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	text-decoration: none;
	margin: 3px 0px 0px 0px;
	color: #486DBB !important;
	background-position: left;
	font-size: 11px !important;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 12px;
}
#divFooterLinks div.liExternalLink a:hover {
	font-style: italic !important;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	text-decoration: none;
	margin: 3px 0px 0px 0px;
	color: #486DBB !important;
	background-position: left;
	font-size: 11px !important;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 12px;
}
#divFooterLinks div.liExternalLink a:active {
	font-style: italic !important;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	text-decoration: none;
	margin: 3px 0px 0px 0px;
	color: #486DBB !important;
	background-position: left;
	font-size: 11px !important;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 12px;
}
#divFooterLinks div.flottantdroit {
	float: right;
	width: 200px;
	border: 1px solid #000;
}
.sep {
	display: none;
}
.liLienContact {
	color: #486DBB !important;
	text-align: left;
	font-size: 11px;
}
.liLienContact a {
	color: #486DBB !important;
	text-align: left;
	font-size: 11px;
}
.flottantdroit p table a {
	font-style: italic;
	color: #486DBB !important;
	font-size: 12px !important;
}
.flottantdroit p table {
	font-style: italic;
	color: #486DBB !important;
	font-size: 12px !important;
}
#AdvancedSearchForm {
	width: 470px;
	margin-top: 15px;
	padding: 0px;
}
.AdvancedSearchForm {
	width: 470px;
	padding: 0px;
}
.AdvancedSearchForm table {
	width: 470px;
	padding: 0px;
	font-size: 11px;
}
.AdvancedSearchForm th {
	border-top: 1px dashed #DDDCD7;
	font-style: normal;
	text-align: left;
	width: 470px;
	background-image: url('http://www.valdoise.fr/img/bgH2ContentAccroche.gif');
	background-color: #F8F8EC;
	margin: 10px 0px 10px 0px;
	color: #FE341E;
	background-position: left;
	border-bottom: 1px dashed #DDDCD7;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-repeat: repeat-y;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 0px 8px 30px;
}
.AdvancedSearchForm td {
	color: #4D4D4D;
	vertical-align: top;
	margin: 0px;
	font-size: 12px;
	padding: 3px 3px 3px 3px;
}
.AdvancedSearchForm input {
	color: #4D4D4D;
	font-size: 12px;
}
.AdvancedSearchForm select {
	color: #4D4D4D;
	font-size: 12px;
}
.AdvancedSearchForm .recherche {
	color: #4D4D4D;
	font-size: 12px;
}
.AdvancedSearchForm .titre3 {
	border-top: 1px dashed #DDDCD7;
	font-style: normal;
	background-color: #F8F8EC;
	margin: 12px 0px 15px 16px;
	color: #FE341E;
	border-left: 10px solid #7B9440;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	border-bottom: 1px dashed #DDDCD7;
	font-weight: bold;
	padding: 5px 0px 8px 30px;
}
.AdvancedSearchForm select {
	width: 120px;
}
.searchResults {
	width: 470px;
	margin: 15px 0px 10px 0px;
	padding: 0px;
	font-size: 11px;
}
td.nbrResults {
	border-bottom: 1px dashed #DDDCD7;
	background-color: #F8F8EC;
	border-top: 1px dashed #DDDCD7;
}
.searchResults .titre3 {
	border-top: 1px dashed #DDDCD7;
	font-style: normal;
	background-color: #F8F8EC;
	margin: 12px 0px 15px 16px;
	color: #FE341E;
	border-left: 10px solid #7B9440;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	border-bottom: 1px dashed #DDDCD7;
	font-weight: bold;
	padding: 5px 0px 8px 30px;
}
.searchResults li a {
	color: #4C4C4C !important;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	font-size: 13px;
}
.searchResults ul {
	list-style: none !important;
	padding: 0px;
	margin: 0px;
}
.searchResults ul li a {
	color: #7B9440 !important;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 12px !important;
}
.searchResults li .accroche {
	color: #4C4C4C !important;
	font-weight: normal;
	font-size: 11px;
}
.searchResults .txt3 {
	font-size: 10px;
}
.searchResults .txt3 a {
	font-size: 12px !important;
}
.searchResults .liusHit {
	color: #7B9440 !important;
	font-weight: bold;
}
.search_box {
	padding: 0px;
	margin: 0px 0px 10px 10px !important;
}
.search_box .table {
	width: 400px;
	padding: 0px;
	margin: 0px !important;
}
.search_box p {
	padding: 0px !important;
	margin: 0px !important;
}
.search_box td {
	color: #4D4D4D;
	vertical-align: top;
	margin: 0px;
	padding: 3px 3px 3px 3px;
	font-size: 12px;
	text-align: left;
}
.search_box input {
	color: #4D4D4D;
	font-size: 12px;
}
.search_box select {
	color: #4D4D4D;
	font-size: 12px;
}
.search_box .recherche {
	color: #4D4D4D;
	font-size: 12px;
}
.search_box #titre {
	color: #7B9440 !important;
	font-weight: bold;
	font-size: 13px;
}
.liencontenuoff {
	color: #666666 !important;
	font-style: normal;
	padding: 0 3px 0 3px;
	font-size: 12px !important;
}
a.liencontenuon {
	color: #666666 !important;
	font-style: normal;
	text-decoration: none;
	padding: 0 3px 0 3px;
	font-size: 12px !important;
}
a.liencontenuon:link {
	color: #666666 !important;
	font-style: normal;
	text-decoration: none;
	padding: 0 3px 0 3px;
	font-size: 12px !important;
}
a.liencontenuon:visited {
	color: #666666 !important;
	font-style: normal;
	text-decoration: none;
	padding: 0 3px 0 3px;
	font-size: 12px !important;
}
a.liencontenuon:hover {
	color: #666666 !important;
	font-style: normal;
	text-decoration: underline;
	padding: 0 3px 0 3px;
	font-size: 12px !important;
}
a.liencontenuon:active {
	color: #666666 !important;
	font-style: normal;
	text-decoration: underline;
	padding: 0 3px 0 3px;
	font-size: 12px !important;
}
.serviceButton {
	height: 18px;
	vertical-align: middle;
	width: 18px;
	margin: 3px 0px 0px 0px;
	padding: 0px;
	font-size: 10px;
}
#forms {
	margin-top: 11px;
	font-family: Arial, Helvetica, sans-serif !important;
}
#forms input {
	margin-top: 11px;
	font-family: Arial, Helvetica, sans-serif !important;
}
.formsBorderOnlyBottom {
	width: 10% !important;
	border: none;
}
.formsBorderBottom {
	background-color: #FFFFDD;
	border: 1px solid #B8CC88 !important;
}
.formsLabel {
	font-style: normal;
	text-align: justify;
	text-decoration: none;
	background-color: #FFFFDD;
	color: #000000;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif !important;
	font-weight: normal;
	vertical-align: top;
}
td.formsLabel {
	font-style: normal;
	text-align: justify;
	text-decoration: none;
	background-color: #FFFFDD;
	color: #000000;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif !important;
	font-weight: normal;
	vertical-align: top;
}
.formsLabel textarea {
	color: #000000;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif !important;
	vertical-align: top;
	font-weight: normal;
	text-decoration: none;
	font-size: 11px;
}
.formsOngletCurrent {
	border-top: 1px solid #B8CC88 !important;
	border-right: 1px solid #B8CC88 !important;
	background-color: #FFFFDD;
	color: #7B9440;
	padding-right: 10px;
	border-left: 1px solid #B8CC88 !important;
	border-bottom: none !important;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 10px;
}
.formsOnglet {
	border-top: 1px solid #B8CC88 !important;
	border-right: 1px solid #B8CC88 !important;
	background-color: #EBF3FC;
	color: #333;
	padding-right: 10px;
	border-left: 1px solid #B8CC88 !important;
	border-bottom: none !important;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 10px;
}
.formsCellRequired {
	text-align: right;
	font-size: 10px;
}
.formsCellRequired {
	text-align: right;
	font-size: 10px;
}
.flottantfin .flottantdroit a img {
	border: none !important;
}
#divPrintSend {
	height: 15px !important;
	clear: both;
	padding-bottom: 15px !important;
	margin: 8px 0px 0px 0px;
}
#divPrintSend {
	float: left !important;
}
#divPrintSend .send {
}
#divPrintSend a {
	padding: 0px;
	margin: 0px;
	font-size: 11px !important;
}
#divPrintSend img {
	border: none;
}
#divPrintSend a img {
	border: none;
}
.newsBlockTemplate10 div.thumbnailImage {
	border: 1px solid red;
	margin: 0px;
	padding: 5px 15px 3px 0px;
	float: right;
}
td.nbrResults {
	border-bottom: 1px dashed #DDDCD7;
	background-color: #F8F8EC;
	border-left: 1px solid #F8F8EC;
	width: 200px;
	border-top: 1px dashed #DDDCD7;
}
.fckTitrePictoRouge {
	font-style: normal;
	background-image: url('http://www.valdoise.fr/img/btNewsletter.gif');
	margin: 0px 0px 0px 0px;
	color: #FE341E !important;
	background-position: left;
	background-repeat: no-repeat;
	font-size: 15px !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 5px solid #F4F0D7;
	font-weight: 600;
	padding: 5px 0px 0px 25px !important;
	height: 30px;
}
.fckTitrePictoGris {
	width: 100%;
	background-image: url('http://www.valdoise.fr/img/pictoTitrePublications.gif');
	margin: 0px;
	color: #4C4C4C !important;
	background-position: left;
	font-size: 13px !important;
	background-repeat: no-repeat;
	border-bottom: 1px solid;
	font-weight: 600;
	padding: 0px 0px 3px 20px;
}
.fckTitreGrandRouge {
	color: #FE341E;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
}
.fckTitreSimple {
	color: #86858A;
	font-weight: bold;
	line-height: 15px;
	font-size: 12px;
	text-align: left;
}
.fckAccrocheGrasItalic {
	color: #000000;
	font-style: italic;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.fckResumeGrasVert {
	color: #849C4E;
	font-weight: bold;
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.lienItalicBleu {
	color: #486DBB !important;
	font-style: italic;
	text-decoration: none;
	font-size: 11px !important;
	text-align: left;
}
.fckTitre1 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 15px;
}
.fckTitre2 {
	font-weight: bold;
	font-size: 12px;
}
.fckTableau {
	line-height: 14px;
	color: #000000;
	font-size: 12px;
}
.fckLegende {
	color: #666666;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
}
.fckTableBorder1Noir td {
	font-size: 10px;
	border: 1px solid black;
}
.fckTableBorder2Noir td {
	border: 2px solid black;
	font-size: 10px;
}
.fckTableBorder1Gris td {
	border: 1px solid #A7A7A7;
	font-size: 10px;
}
.fckTableBorder2Gris td {
	border: 2px solid #A7A7A7;
	font-size: 10px;
}
table {
	font-size: 1em;
}
td {
	font-size: 1em;
}
.miseenpage {
	font-size: 1em;
}
.dframe {
	width: 1000px;
	margin: 0;
	font-size: 1em;
	padding: 0;
}
.lframe {
	width: 93px;
	padding: 0;
	margin: 0;
}
.mframe {
	width: 732px;
	padding: 0;
	margin: 0;
}
.rframe {
	width: 175px;
	padding: 0;
	margin: 0;
}
#secondLevelTopic {
	display: none;
}
#pathpos {
	position: absolute;
	z-index: 11;
	left: 250px;
	top: 260px;
}
.pathdat {
	position: relative;
	z-index: 11;
	left: 0;
	top: 0;
}
.txtsituation {
	font-style: italic;
	font-size: 0.9em;
}
.txtsituation a {
	color: #000000;
}
a.txtsituation:hover {
	text-decoration: underline;
}
