#elementlisteannuaire {
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	background-position: left bottom;
	background-repeat: no-repeat;
	margin: 3px 0px 2px 0px;
	display: block;
	list-style: none;
}
#elementlisteannuaire a:active {
	color: #486DBB !important;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
	text-align: left;
}
#elementlisteannuaire a:link {
	color: #486DBB !important;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
	text-align: left;
}
#elementlisteannuaire a:active {
	color: #486DBB !important;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
	text-align: left;
}
#elementlisteannuaire a:active {
	color: #486DBB !important;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
	text-align: left;
}
#elementlisteannuaire a:active {
	color: #486DBB !important;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
	text-align: left;
}
#elementlisteannuaire a:visited {
	color: #486DBB !important;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
	text-align: left;
}
#elementlisteannuaire a:active {
	text-decoration: underline;
}
#elementlisteannuaire a:hover {
	text-decoration: underline;
}
#elementlisteagenda {
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	background-position: left bottom;
	background-repeat: no-repeat;
	margin: 3px 0px 2px 0px;
	display: block;
	list-style: none;
}
#elementlisteagenda a {
	color: #486DBB !important;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
	text-align: left;
}
td#elementlisteagenda div#calendarLabel {
	background-image: url('http://www.valdoise.fr/img/pictoTitrePublications.gif');
	margin: 0px;
	color: #4C4C4C !important;
	background-position: left;
	font-size: 12px !important;
	background-repeat: no-repeat;
	border-bottom: 1px dotted #E2E2E2;
	font-weight: 600;
	padding: 0px 0px 3px 20px;
}
td#elementlisteagenda div#calendarEventDate {
	color: #4C4C4C !important;
	margin: 3px 0px 2px 0px;
	font-size: 11px !important;
	text-align: left;
}
td#elementlisteagenda div#calendarEventLocation {
	color: #7B9440 !important;
	border: none !important;
	font-weight: bold;
	margin: 3px 0px 2px 0px;
	font-size: 11px;
	padding: 0px;
}
td#elementlisteagenda div#calendarContact {
	color: #486DBB !important;
	font-weight: bold;
	margin: 3px 0px 2px 0px;
	font-size: 11px !important;
	text-align: left;
}
td#elementlisteagenda div#calendarIntLink {
	color: #486DBB !important;
	margin: 3px 0px 2px 0px;
	font-size: 11px !important;
	text-align: left;
}
td#elementlisteagenda div#calendarExtLink {
	color: #486DBB !important;
	margin: 3px 0px 2px 0px;
	font-size: 11px !important;
	text-align: left;
}
td#elementlisteagenda div#calendarDescription {
	color: #4C4C4C !important;
	margin: 3px 0px 2px 0px;
	font-size: 11px !important;
	text-align: left;
}
ol.index li {
	color: #486DBB !important;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
	text-align: left;
}
ol li {
	color: #486DBB !important;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
	text-align: left;
}
ol li a {
	color: #486DBB !important;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
	text-align: left;
}
ul li {
	margin: 3px 0px 2px 0px;
}
ul li a {
	color: #486DBB;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
	text-align: left;
}
li#nomarker {
	background-image: none  !important;
	color: #000000 !important;
	font-size: 11px !important;
	text-align: left;
}
div.elementsCategorie {
}
table.visibleCells {
	color: #000000 !important;
	text-align: left;
	font-size: 11px !important;
}
table.visibleCells a {
	color: #000000 !important;
	text-align: left;
	font-size: 11px !important;
}
table.visibleCells td {
	color: #000000 !important;
	text-align: left;
	font-size: 11px !important;
}
table.visibleCells .imagecontenu {
}
#directoryEmail {
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	background-position: left bottom;
	background-repeat: no-repeat;
	margin: 3px 0px 3px 0px;
	display: block;
	list-style: none;
}
#directoryExtlink {
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	background-position: left bottom;
	background-repeat: no-repeat;
	margin: 3px 0px 3px 0px;
	display: block;
	list-style: none;
}
#directoryIntlink {
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	background-position: left bottom;
	background-repeat: no-repeat;
	margin: 3px 0px 3px 0px;
	display: block;
	list-style: none;
}
#directoryName {
	color: #7B9440;
	font-weight: bold;
	margin: 3px 0px 3px 0px;
	font-size: 12px;
}
#directoryAddress {
	margin: 3px 0px 3px 0px;
}
#directoryCity {
	margin: 3px 0px 3px 0px;
}
#directoryPhone {
	margin: 3px 0px 3px 0px;
}
#directoryFax {
	margin: 3px 0px 3px 0px;
}
#directoryInformation {
	margin: 3px 0px 3px 0px;
}
#mugshotEmail {
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	background-position: left bottom;
	background-repeat: no-repeat;
	margin: 3px 0px 3px 0px;
	display: block;
	list-style: none;
}
#mugshotLastName {
	color: #7B9440;
	font-weight: bold;
	font-size: 12px;
}
#mugshotCivility {
	color: #000000 !important;
	margin: 3px 0px 3px 0px;
	font-size: 12px;
	text-align: left;
}
#mugshotFirstName {
	color: #000000 !important;
	margin: 3px 0px 3px 0px;
	font-size: 12px;
	text-align: left;
}
#mugshotTitle {
	color: #000000 !important;
	margin: 3px 0px 3px 0px;
	font-size: 12px;
	text-align: left;
}
#mugshotPhone {
	color: #000000 !important;
	margin: 3px 0px 3px 0px;
	font-size: 12px;
	text-align: left;
}
#mugshotFax {
	color: #000000 !important;
	margin: 3px 0px 3px 0px;
	font-size: 12px;
	text-align: left;
}
#mugshotDescription {
	color: #000000 !important;
	margin: 3px 0px 3px 0px;
	font-size: 12px;
	text-align: left;
}
.blocAgendaDate {
	color: #000000 !important;
	margin: 3px 0px 3px 0px;
	font-size: 12px;
	text-align: left;
}
.blocAgendaLibelle {
	color: #000000 !important;
	margin: 3px 0px 3px 0px;
	font-size: 12px;
	text-align: left;
}
.blocAgendaLieu {
	color: #000000 !important;
	margin: 3px 0px 3px 0px;
	font-size: 12px;
	text-align: left;
}
.blocAgendaDate {
	color: #000000 !important;
	margin: 3px 0px 3px 0px;
	font-size: 12px;
	text-align: left;
}
.blocAgendaLibelle {
	color: #000000 !important;
	margin: 3px 0px 3px 0px;
	font-size: 12px;
	text-align: left;
}
.blocAgendaLieu {
	color: #000000 !important;
	margin: 3px 0px 3px 0px;
	font-size: 12px;
	text-align: left;
}
#downloadableLabel {
	color: #7B9440;
	font-weight: bold;
	margin: 3px 0px 3px 0px;
	font-size: 12px;
}
#downloadableFile a {
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	background-position: left bottom;
	background-repeat: no-repeat;
	margin: 3px 0px 3px 0px;
	font-size: 12px !important;
	display: block;
	list-style: none;
}
#downloadableDescription {
	color: #000000 !important;
	margin: 3px 0px 3px 0px;
	font-size: 11px !important;
	text-align: left;
}
#galleryLabel {
	color: #7B9440;
	font-weight: bold;
	margin: 3px 0px 3px 0px;
	font-size: 12px;
}
#galleryImage {
	margin: 5px 0px 0px 0px;
}
.reportLayout a:link {
	color: #486DBB !important;
	font-style: italic;
	text-decoration: none;
	margin: 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.blocPublication a:link {
	color: #486DBB !important;
	font-style: italic;
	text-decoration: none;
	margin: 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.reportLayout a:link {
	color: #486DBB !important;
	font-style: italic;
	text-decoration: none;
	margin: 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.blocPublication a:active {
	color: #486DBB !important;
	font-style: italic;
	text-decoration: none;
	margin: 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.reportLayout a:link {
	color: #486DBB !important;
	font-style: italic;
	text-decoration: none;
	margin: 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.blocPublication a:visited {
	color: #486DBB !important;
	font-style: italic;
	text-decoration: none;
	margin: 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.reportLayout a:hover {
	text-decoration: underline !important;
}
.reportLayout a:active {
	text-decoration: underline !important;
}
.directoryLayout a:link {
	color: #486DBB !important;
	font-style: italic;
	text-decoration: none;
	margin: 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.directoryLayout a:visited {
	color: #486DBB !important;
	font-style: italic;
	text-decoration: none;
	margin: 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.directoryLayout a:hover {
	text-decoration: underline !important;
}
.directoryLayout a:active {
	text-decoration: underline !important;
}
.mugshotLayout a:link {
	color: #486DBB !important;
	font-style: italic;
	text-decoration: none;
	margin: 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.mugshotLayout a:visited {
	color: #486DBB !important;
	font-style: italic;
	text-decoration: none;
	margin: 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.mugshotLayout a:hover {
	text-decoration: underline !important;
}
.mugshotLayout a:active {
	text-decoration: underline !important;
}
.galleryLayout a:link {
	color: #486DBB !important;
	font-style: italic;
	text-decoration: none;
	margin: 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.galleryLayout a:visited {
	color: #486DBB !important;
	font-style: italic;
	text-decoration: none;
	margin: 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.galleryLayout a:hover {
	text-decoration: underline !important;
}
.galleryLayout a:active {
	text-decoration: underline !important;
}
.downloadableLayout a:link {
	color: #486DBB !important;
	font-style: italic;
	text-decoration: none;
	margin: 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.downloadableLayout a:visited {
	color: #486DBB !important;
	font-style: italic;
	text-decoration: none;
	margin: 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
}
.downloadableLayout a:hover {
	text-decoration: underline !important;
}
.downloadableLayout a:active {
	text-decoration: underline !important;
}
#content .calendarLayout .elementsCategorie {
}
#content .calendarLayout .elementsCategorie td {
	font-size: 11px;
}
#content .calendarLayout .elementsCategorie #elementlisteagenda #calendarLabel {
	color: #4D4D4D;
	font-weight: bold;
	font-size: 12px;
}
#content .calendarLayout .elementsCategorie #elementlisteagenda #calendarEventDate {
	color: #7B9440;
}
#content .calendarLayout .elementsCategorie #elementlisteagenda #calendarEventLocation {
	color: #4D4D4D;
}
#content .calendarLayout .elementsCategorie #elementlisteagenda #calendarContact {
	color: #8BA1D2;
}
#content .calendarLayout .elementsCategorie #elementlisteagenda #calendarIntLink {
	color: #8BA1D2;
}
#content .calendarLayout .elementsCategorie #elementlisteagenda #calendarExtLink {
	color: #8BA1D2;
}
#content .calendarLayout .elementsCategorie #elementlisteagenda #calendarDescription {
	color: #4D4D4D;
}
#content .calendarLayout .elementsCategorie #elementlisteagenda #calendarLabel {
	color: #4D4D4D;
}
