/*@CHARSET "ISO-8859-1";*/

#blocSondage
{
	font-family: Arial, Helvetica;
	width: 300px;
	border: 0;
	font-family: Arial, Helvetica;
	text-align: justify;
	margin-bottom: 15px;
	margin-right: 0px;
	margin-left: 9px;
	padding: 0px;
}

#blocSondage .content
{
	/*background-image: url(../../img/commun/loading.gif);
	background-repeat: no-repeat;
	background-position: top left;
	width: 100px;
	height: 100px;*/
	border: 1px solid red;
	border-top: 0;
}

#blocSondage .head
{
	background-color: red;
	color: #ffffff;
	/*height: 22px;*/
	background-image: url(http://www.nicematin.com/edito/share/img/commun/bg/bg_gondole_tag.png);
	background-repeat: no-repeat;
	font-size: 13px;
	font-weight: bold;
	padding: 2px 5px;
	text-align: center;
}

#blocSondage .poll-results .graph
{
	width:298px;
}

#blocSondage .poll-results .graph .bar-title {
  width: 150px;
}

#blocSondage a.art
{
	display: none;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #555;
	background-color: #fff;
	border-left: 1px solid #FFAAAA;
	border-right: 1px solid #FFAAAA;
	padding: 2px;
}

#blocSondage a .co
{
	color: #3399FF;
}

#blocSondage a .hp
{
	color: #DB0000;
}


#blocSondage .poll-form
{
  width: 298px;
}

#blocSondage .poll-results .graph .title, #blocSondage .poll-form .question
{
	background-color: #085CB0;
	color: #fff;
}

#blocSondage .more
{
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
}

#blocSondage .more a
{
	text-decoration: none;
}
