/*
    ColorBox Core Style
    The following rules are the styles that are consistant between all ColorBox themes
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:visible;}
#cboxLoadedContent{background-color:#000;overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
#cboxIframe{background-color:#000;}

/* 
	ColorBox example user style
	These rules are ordered and tabbed in a way that represents the order/nesting of the generated HTML, 
	in hope that this will make the relationship easier to understand. Thanks, jack@colorpowered.com
*/
#cboxOverlay{background-color:#000;}

#colorbox{}
	#cboxContent{background-color:#000; margin-top:20px;}
		#cboxLoadedContent{background-color:#000; padding:5px;}
                #cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
                #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
                #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#000;}
                #cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(controls.png) top left no-repeat; width:28px; height:65px; text-indent:-9999px;}
                #cboxPrevious.hover{background-position:bottom left;}
                #cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(controls.png) top right no-repeat; width:28px; height:65px; text-indent:-9999px;}
                #cboxNext.hover{background-position:bottom right;}
                #cboxLoadingOverlay{background-color:#000;}
		#cboxLoadingGraphic{background:url(loading.gif) center center no-repeat;}
		#cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(controls.png) top center no-repeat; width:38px; height:19px; text-indent:-9999px;}
		#cboxClose.hover{background-position:bottom center;}