/* integration menu avec puce image */

#mnNavi #menuNavFeed a.l0
{
	background-image: url("http://www.nicematin.com/edito/share/img/menu/navigation/bg_menu_rss.png");
	background-repeat: no-repeat;
	background-position: center center;
}
#mnNavi #menuNavFeed span.l0
{
	/*color: transparent;
	visibility: hidden;*/
	padding: 5px 2px;
	width: 28px;
}

/*
#mnNavi #menuNavAltUne a.l0
{
	background-image: url("../../img/menu/navigation/bg_menu_alt.png");
	background-repeat: no-repeat;
	background-position: center center;
}
*/
/*
#mnNavi #menuNavAltUne span.l0
{
	/*color: transparent;
	visibility: hidden;*/
	/*
	padding: 5px 2px;
	width: 28px;
}
#mnNavi #menuNavAltUne a.l0:hover
{
	background-image: url("../../img/menu/navigation/bg_menu_alt_on.png");
	background-repeat: no-repeat;
	background-position: center center;
}
*/
#mnNavi  li.l1#menuNavPiclens span.l1
{
	background-image: url("http://lite.piclens.com/images/PicLensButton.png");
	background-repeat: no-repeat;
	background-position: 97% center;
}

/* integration menu type image */
#mnNavi a.l0.maville
{
	/*
	background-image: url("../../img/menu/navigation/mv_logo_maville.png");
	background-repeat: no-repeat;
	background-position: center;
	*/
}
#mnNavi span.l0.maville
{
	/*
	padding-left: 0px;
	padding-right: 0px;
	width: 125px;
	visibility: hidden; /* on rend le texte invisible */
}

/* les menus de droites... */
/*
#mnNavi li.l0.liens,
#mnNavi li.l0.contacts
{
	float: right;
	border-right: 0px;
	border-left: solid white 1px;
}
*/

/* Une Sports */
#mnNavi li.l0.sports
{
	background-color: #B33238;
}

#mnNavi a.l0.sports:hover, /* ### Version IE <7 ### */
#mnNavi li.l0.sports:hover
{
	background-color: #92292E;
}

/* Nice 2018 */
#mnNavi li.l0.nice2018
{
	background-color: #55AAFF;
}

#mnNavi li.l0.nice2018,
#mnNavi li.l0.nice2018 a,
#mnNavi li.l0.nice2018 span
{
	color: white;
}


#mnNavi a.l0.nice2018:hover, /* ### Version IE <7 ### */
/*
#mnNavi li.l0.nice2018:hover
{
	background-color: #eeeeff;
}

#mnNavi a.l0.nice2018:hover span.l0
{
	color: #55AAFF;
}
*/