body, html {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	background: #AD431B url(herbe.png) repeat-x top center;
	min-height: 100%;
	height: 100%;
	color: #242013;
}
h1, h2, h3, h4, h5 {
	padding: 0;
	margin: 0;
}
h3.like_h1 {
	padding: 12px 0 8px 0;
	font-size: 1.5em;
}
h1 {
	position: absolute;
	top: 403px;
	left: 18px;
	z-index: 150;
	font-size: 1.5em;
}

a {
	text-decoration: none;
	color: #6E0000;
}

ul li {
	list-style: none;
}

fieldset {
	border: 0px;
}

a:hover {
	text-decoration: underline;
}

.spacer {
	clear: both;
}

hr.spacer	{
	padding: 0;
	margin: 0;
	border: none;
	height: 0;
	visibility: hidden;
	clear: left;
	}

p.center{
	text-align: center;
}
	
#container {
	position: relative;
	width: 755px;
	margin: 0 auto;
	padding: 6px;
	font-size: 0.8em;
	min-height: 100%;
	background: url(bg-container.png) repeat-y top;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/templates/css/bg-container.png', sizingMethod='scale');
}
#bg-flash {
	position: absolute;
	top: 16px;
	left: 6px;
	z-index: 0;
	background: url(photo.jpg) no-repeat;
}
#accessibility {
	position: absolute;
	left: -5000px;
	top: 0;
	margin: 0;
	padding: 0;
	z-index: 20;
}
#accessibility li#back-home {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	left: 5006px;
	top: 0;
	width: 253px;
	height: 99px;
	background: url(logo.png);
}
#accessibility li#back-home a {
	display: block;
	width: 253px;
	height: 99px;
}
#accessibility li#back-home span {
	position: absolute;
	left: -5000px;
}
#navigation {
	position: absolute;
	top: 0;
	z-index: 10;
}

#subnavigation {
	background: url(bg-navigation.png) no-repeat left top;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/templates/css/bg-navigation.png', sizingMethod='crop');
	width: 755px;
	padding: 114px 0 4px 0;
	margin: 0;
	min-height: 25px;
	_height: 25px;
}

#navigation li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	float: left;
	font-size: 0.9em;
}
#navigation li a {
	color: #FFFFFF;
	text-decoration: none;
	border-left: 2px solid #FFFFFF;
	padding: 3px 2px 0 4px;
	margin: 0 4px;
	display: block;
	position: relative;
}
#navigation .sub-menu {	
	position: absolute;
	background-color: #6E0000;
	margin: 0 10px; 0 0 ;
	padding: 5px;
	color: #FFFFFF;
	_width: 120px;
	_height: 1%;
	max-width: 150px;
	display: none;
	line-height: 120%;
}

#navigation .sub-menu li {
	list-style-type:square;
	float: none;
	margin: 0 10px 0 14px;	
	_height: 10px;
	padding: 0;
}

#navigation .sub-menu li a {
	color: #DDDDDD;
	border: 0;
	margin: 0;
	padding: 0;
}

#navigation .sub-menu li a:hover {
	color: #FFFFFF;
}

#content {
	background: url(bg-content.png) no-repeat left 145px;	
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/templates/css/bg-content-ie.png', sizingMethod='crop');
	_height: 1%;
	padding: 0 12px;
}

#content-positioning {
	top: 135px;
	position: relative;
}

.content-text {
	_height: 70px;
	min-height: 70px;
}
#sub-content {
	position: relative;
	padding: 250px 0 0 0;
}
#highlight {
	float: right;
	_position: relative;
	width: 171px;
	height: 273px;
	padding: 0 12px 10px 20px;
	margin: 63px 21px 10px 10px;
	_margin: 63px 10px 10px 10px;
	font-size: 0.9em;
	background: url(bg-highlight.png) no-repeat left bottom;	
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/templates/css/bg-highlight-ie.png', sizingMethod='crop');
}
#highlight p {
	margin: 0;
	padding: 0 0 7px 0;
}
#highlight p.more {
	margin-top: 6px;
	text-align: right;
	position: relative;
}
#highlight img {
	float: left;
	margin: 0 12px 0 0;
}
#highlight h2 {
	padding: 80px 0 7px 0;
	font-size: 1.3em;
}
#sub-highlight {
	position: relative;
	z-index: 100;
}

#sub-content .content-box img, .additional-content .box-news img{
	border: 2px solid #9B7800;
}

#call-to-action {
	clear: both;
	position: relative;
	margin: 145px 0 0 0;
	padding: 0 10px;
	width: 755px;
	_width: 700px;
}

#call-to-action a {
	display: block;
	float: left;
	width: 208px;
	height: 162px;
	font-size: 0.8em;
	padding: 0;
	color: #000000;
	text-decoration: none;
	margin: 10px 17px;
	_margin: 10px 32px 10px 5px;
}
#call-to-action a#brasserie-fr {
	background: url(bg-brasserie-fr.png) no-repeat;
}
#call-to-action a#brasserie-nl {
	background: url(bg-brasserie-nl.png) no-repeat;
}
#call-to-action a#brasserie-en {
	background: url(bg-brasserie-en.png) no-repeat;
}
#call-to-action a#fans-fr {
	background: url(bg-fans-fr.png) no-repeat;
}
#call-to-action a#fans-nl {
	background: url(bg-fans-nl.png) no-repeat;
}
#call-to-action a#fans-en {
	background: url(bg-fans-en.png) no-repeat;
}
#call-to-action  a#news-fr {
	background: url(bg-news-fr.png) no-repeat;
	margin-right: 0;
}
#call-to-action  a#news-nl {
	background: url(bg-news-nl.png) no-repeat;
	margin-right: 0;
}
#call-to-action  a#news-en {
	background: url(bg-news-en.png) no-repeat;
	margin-right: 0;
}
#call-to-action a span {
	position: absolute;
	left: -5000px;
}


#tools {
	position: absolute;
	top: 0;
	right: 6px;
	width: 300px;
	z-index: 100;
	text-align: right;
}
#tools span {
	position: absolute;
	left: -5000px;
}
#languages {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 12px;
}
#languages li {
	display: block;
	float: left;
	margin: 0 0 0 20px;
	padding: 0;
}
#languages a, #languages a:visited {
	color: #000000;
	text-decoration: underline;
	font-size: 0.85em;
}
#languages a:hover, #languages a.active {
	text-decoration: none;
}
#languages a.active {
	font-weight: bold;
}
#newsletter {
	margin: 27px 12px 0 0;
	padding: 0;
	font-size: 0.85em;
}
#newsletter input.box{
	width: 100px;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	height: 12px
}
#newsletter input {
	vertical-align: middle;
}
#signature {
	clear: both;
	padding: 0 12px;
	text-align: center;
	font-size: 0.85em;
	margin: 10px 0 0 0;
}
#signature p, #signature a {
	margin: 0;
	padding: 0;
	clear: both;
}
.hide {
	position: absolute;
	left: -5000px
}


/* Messages */
.error {
	font-size: 10px;
	color: #FF0000;
}

.notice {
	color: #008800;
	font-size: 10px;
}


/* Peoples */
.people-bloc {
	float: left;
	width: 116px;
	border: 2px solid #9B7800;
	background: #FFD648;	
	background-image: url(people-degrade.jpg);
	background-repeat: repeat-x;
	padding: 10px;
	margin: 0 0 40px 30px;	 
	min-height: 130px;
	_height: 130px;
	font-size: 12px;
	_display: inline;
	text-align: center;
}

.people-bloc .thumb {
	border: 1px solid #9B7800;
}

.people-bloc h3 {
	font-size: 13px;
	font-weight: bold;
}

.people-bloc p {
	height: 46px;
	margin: 6px 0 0 0;
	padding: 0;
}
.people-bloc p span {
	display: block;
	height:30px;
	margin: 0 0 3px 0;
	padding: 0;
}

.people-bloc .mail {
	font-size: 11px;	
	color: #626E58;
	text-decoration: none;
}



/*---------------------  Products-------------------*/
.product-bloc {
	border: 2px solid #9B7800;
	background: #FFE793;
	background-image: url(product-degrade.jpg);
	background-repeat: repeat-x;
	padding: 13px;
	float: left;
	width: 700px; 
	font-size: 12px;
	_display: inline;
	margin: 16px 0 8px 0;
}
#prod-bottles{
	width: 728px;
	height: 500px;
	border: 1px solid #AD431B;
	margin: 14px 0;
}

#content .additional-content ul#products{
	margin: 6px 0 30px;
	padding: 0;
}
#content .additional-content ul#products li{
	background: url(puce01.png) no-repeat 0 3px;
	padding-left: 14px;
}
#content .additional-content ul#products li a span{
	font-weight: bold;
	font-size: 1.1em;
}

#content .additional-content ul#products li img{
	border: 1px solid #9B7800;
	margin: 4px 4px 4px 0;
}

/* Recettes */
#content .additional-content #recettes  h5{
	margin: 2px 0 5px 5px;
	padding-left:12px;
	font-weight: bold;
	font-size: 1em;
	background: url(puce03.png) no-repeat 0 5px;
}

#content .additional-content #recettes  ul{
	margin: 14px 0 14px 20px;
	padding: 0;
}

#content .additional-content #recettes ul li {
	padding: 2px 0 3px 12px;
	background: url(puce01.png) no-repeat 0 6px;
}

#content .additional-content #recettes ul li.spacer {
	clear: both;
}
/*
#content .additional-content #recettes img {
	display: block;
	float: left;
	margin: 5px 5px 5px 0pxwidth: 80px;
	height: 80px;
	border: 3px solid #9B7800;
}*/
/*
#recettes p {
	margin-top: 5px;
	margin-right: 5px;
}*/

/*------ Espace Fans -------*/
h4{
	font-size: 1.2em;
	padding: 8px 0 6px;
}

#fan h5{
	clear: both;
	font-size: 1.1em;
	padding: 16px 0 6px;
	width: 100%;
}

#fan, #fanbox{
	float: left;
	width: 480px;
	margin-top: 36px;	
	margin: 0;
	padding: 0;
}
	
#fan{	
	min-height: 350px;
	_height: 350px;
}

/*-------------  Visite  ---------------*/
img.visite-pict{
	width: 600px;
	height: 600px;
	margin: 12px 0;
	border: 2px solid #9B7800;	
}


/*------------- Formulaire --------------*/
#fanbox{
	background: #FFE793 url(product-degrade.jpg) repeat-x 0 0;
	border: 2px solid #9B7800;
	padding: 8px;
	margin-bottom: 16px;
}

#fan #fanbox p{
	margin: 3px;
	padding: 0;
}

#fan #fanbox p.button{
	margin: 18px 0 20px 203px;
	text-align: left;
}

#fan p.button, #fan #fanbox p.button-center, #fan #fanbox p.submit{
	text-align: center;
	margin: 18px 0 15px;
}
#fan .ko, #fan .signup-required{
	margin: 5px 0;
	color: #97211B;
	font-size: 0.9em;
}
#fan #fanbox .signup-required{
	color: #444;
	padding-bottom: 12px;
}
	
#fan input.text, #fan input.error, #fan textarea, #fan input.text-img{
	border: 1px solid #9B7800;
	background: #fff;
	width: 200px;
	padding: 2px;
	height: 18px;
	color: #000;
}

#fan input.text-img{
	height: 22px;
}

#fan textarea{
	width: 98%;
	height: 200px;
}

#fan input.error{
	border: 1px solid #97211B;
}

#fan input.button, #fan input.submit{
	border: 1px solid #9B7800;
	background: #D4D0C8;
	padding: 2px 20px 6px;
	height: 24px;
}

#fan label{
	float: left;
	width: 200px;
	font-weight: bold;
	margin-top: 2px;
}
#fan a.supp{
	clear: both;
	display: block;
	background: url(cross.png) no-repeat 0 2px;
	height: 15px;
	padding-left: 19px;
	color: #ff0000;
}
#fan a.supp:hover{
	text-decoration: underline;
}
/*---------   Album photos  -----------*/

#fan ul#last-public-albums, #fan ul.album-photos, #fan ul#album-photos, #fan ul.my-last-albums, 
#fan ul.my-last-photos, #fan ul#albums-list, #fan ul.search-photos, #fan ul.last-private-albums, ul.admin-validation-photo {
	margin: 5px 0;
	padding: 0;	
}

#fan ul#last-public-albums li, #fan ul.album-photos li, #fan ul#album-photos li, #fan ul.my-last-albums li, 
#fan ul.my-last-photos li, #fan ul#albums-list li, #fan ul.search-photos li, #fan ul.last-private-albums li, ul.admin-validation-photo li {
	float: left;
	width: 140px;
	margin: 0 10px 12px 0;
	padding: 0 0 4px 0;
	background: #FFE793 url(product-degrade.jpg);
	border: 2px solid #9B7800;
	text-align: center;
}

#fan ul#last-public-albums li a, #fan ul.album-photos li a, #fan ul#album-photos li a, #fan ul.my-last-albums li a, 
#fan ul.my-last-photos li a, #fan ul#albums-list li a, #fan ul.search-photos li a, , #fan ul.last-private-albums li a, ul.admin-validation-photo li a {
	text-decoration: none;
	position: relative;
}

#fan ul#last-public-albums li a img, #fan ul.album-photos li a img, #fan ul#album-photos li a img, #fan ul.my-last-albums li a img, 
#fan ul.my-last-photos li a img, #fan ul#albums-list li a img, #fan ul.search-photos li a img, #fan ul.last-private-albums li a img, ul.admin-validation-photo li a img {
	border: 1px solid #9B7800;
	margin: 4px;
	text-decoration: none;
	position: relative;
}

#fan ul .album-owner{
	display: block;
	color: #000;
	text-decoration: none;
	padding-top: 3px;
}

/*---------------------  Infos photos  -------------------*/
#fan .photo-photo{
	float:left;
	width: 150px;
}
#fan .photo-photo img{
	border: 1px solid #9B7800;position: relative;
}
#fan ul#photo-info{
	float:left;
	width: 330px;
	margin: 0;
	padding: 0 0 12px 0;
}

#fan ul#photo-info li{
	padding: 2px 0;
}
#fan ul#photo-info li a{
	position: relative;
}
#fan ul#photo-info li span{
	display:block;
	float:left;
	width: 90px;
	font-weight: bold;
}
/*-------------- Commentaires -------------------*/
#fan .comment{
	margin: 2px 0 22px;
}
#fan .comment p.details{
	padding-top: 4px;
	font-size: 0.85em;
}


/*--------------   Colonne left  ----------------- */
#col{
	float: left;
	width: 203px;
	margin-left: 27px;
	_margin-left: 10px;
}
#col .box-left{
	background: #F4BC00 url(fan_backcadreleft.png) ;
	width: 203px;	
}
#col .sub-box-left{
	margin-left: 22px;
	margin-right: 12px;
	padding-top: 12px;
}
#col .box-left .sub-box-left p  label{
	width: 180px;
}
#col .box-left .footer{
	background: #F4BC00 url(fan_botcadreleft.png) ;
	width: 203px;
	height: 19px;
}

#col .box-left p{
	margin: 0 0 5px 0;
	padding: 0;
}
#col .box-left p.submit{
	text-align: center;
	margin: 10px 0;
}

#col .box-left input.text{
	border: 1px solid #9B7800;
	width: 164px;
}
#col .box-left input.submit{
	border: 1px solid #9B7800;
	background-color: #D4D0C8;
}

/*---------------------  Récompenses-------------------*/
#content .additional-content ul#recompense{
	margin: 20px 0 0;
	padding: 0;
}
#content .additional-content ul#recompense li{
	float: left;
	width: 198px;
	margin: 0 8px 12px 8px;
	padding: 10px;
	background: #FFE793 url(product-degrade.jpg);
	border: 2px solid #9B7800;
	text-align: center;
}

#content .additional-content ul#recompense li a span{
	display: block;
	min-height: 38px;
	_height: 38px;
	font-weight: bold;
	font-size: 1.1em;
}

#content .additional-content ul#recompense li img{
	border: 1px solid #9B7800;
	margin: 4px 4px 4px 0;
}


#container input.field-gd, #container input.field-gd-2{
	margin: 0px;
	padding: 2px;
	margin: 2px;
	border: 1px solid #9B7800;
	width: 220px;
}	
#container input.field-gd-2{
	width: 320px;
}
/*News*/
#container .box-news{
	margin-bottom: 16px;
}

#container .box-news h4{
	color: #6E0000;
	font-size: 1.2em;
}
#container .box-news h4 span{
	color: #242013;
	font-size: 0.8em;
	font-weight: normal;
}
#container .box-news li{
	background: url(puce02.png) no-repeat 0 8px;
	padding-left: 8px;
}

/* Formulaire de contact */
.contact-form {
	width: 700px;
	position: relative;
}

.contact-form fieldset {
	margin: 0pt auto;
}

.contact-form input, .contact-form textarea, .contact-form label {
	float: left;
	display: block;	
	width: 300px;
	margin: 3px;
}

.contact-form label {
	font-weight: bold;
	padding: 0 0 0 35px;
}


.contact-form input, .contact-form textarea {
	margin: 0px;
	padding: 2px;
	margin: 2px;
	border: 1px solid #9B7800;
}

.contact-form .field {	
	height: 20px;
}

.contact-form .button {
	width: 150px;
}

.contact-form p.ch-oblig {
	clear: both;
	margin-left: 340px;
	font-size: 0.9em;
	color: #342e1b;
}

.contact-form .error, .contact-form .notice {
	float: left;
	padding-left: 342px;
	_padding-left: 345px;
}

span.photo-validation {
	color: #FF0000;
	font-weight: bold;
}
img.img-map{
	border: 1px solid #6E0000;
	margin-bottom: 18px;
}




