/* default styles for extension "tx_tc2lcal_pi1" */

	/* List Events */
	#In_Progress {color:red;}
	#category_current {BORDER-TOP:#000000 1px solid; BORDER-LEFT:#000000 1px solid;
			 BORDER-RIGHT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid;padding-left:5px;padding-right:5px;
			background-color:black; color:white;}
	#category_picker form select {position:absolute;margin-left:5px;}
	#category_picker form input {margin-left:5px;}
	#contentListNumberEvent table {border-collapse:collapse; margin-top:50px; margin-left:-80px;}
	#contentListNumberEvent table tr {border:#C0C0C0 solid 1px;}
	#contentListNumberEvent table th {padding-right:5px; font-size:small; height:30px; background: url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/bgColorWeek.gif); color:white;}
	#contentListNumberEvent table td, #contentListNumberEvent table td a{padding-right:20px; font-size:small;}
	#listEvent_firstColor_Pres, #listEvent_firstColor_Pres a{background-color:#e5f3f5; color:red;} /* fcffc2 */
	#listEvent_secondColor_Pres, #listEvent_secondColor_Pres a{background-color:#e3e3e3; color:red;} /* d0f8ff */
	#listEvent_firstColor_Fut, #listEvent_firstColor_Fut a{background-color:#e5f3f5; color:black;}
	#listEvent_secondColor_Fut, #listEvent_secondColor_Fut a{background-color:#e3e3e3; color:black;}
	a.header_ok_button{ position:absolute;float:right; margin-left:90px; text-decoration:none;}
	a.header_ok_button span{ position:relative; float: left;}
	a.header_ok_button span.right_part {background-image: url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/buttonRight.gif); width: 8px; height: 19px;}
	a.header_ok_button span.left_part{background-image: url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/buttonLeft.gif);  width: 8px;  height: 19px;}
	a.header_ok_button span.center_part {background: url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/buttonBG.gif); height:19px; padding: 0 3px 0 3px;
					color:white; font-weight:bold;}
	a.header_ok_button span.center_part span{padding-top: 3px;}

	
	/* Day */
/*
	#headerTc2lCalDay {margin:10px 0; text-align: center;}
	#backInDay {position:absolute; margin-top: -30px; margin-left: 10px;}
	#contentDay {margin-top: 20px; border-top: #000000 1px solid; border-left: #000000 1px solid; 
		border-right: #000000 1px solid; border-bottom: #000000 1px solid; text-align:center;}
	#contentDay table {width:100%; border:0; height:700px;}
	#contentDay table th {color:white; background-color:#000049; width:10px; height:30px; text-align:center;}
 	#contentDay table td {font-size: small; vertical-align:text-top;}
	#contentDay a {text-decoration:none;}
*/

	/* Week */
	#headerTc2lCalWeek {margin:10px 0; text-align: center;}
	#backInWeek {position:absolute;	margin-top: -30px; margin-left: 10px;}
	#detailWeek {vertical-align:4; text-align:center;}
	#contentWeek {margin-top: 20px; text-align: center;}
	#contentWeek table {width:100%; height:700px; border-collapse:collapse;}
	#contentWeek table tr {}
	#contentWeek table tr th {border:#C0C0C0 solid 1px;}
	#viewWeek_Time {height:50px; background: url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/viewWeek_Time.gif); color:white;}
	.viewWeek_Date {height:50px; background: url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/bgColorDate.gif);}
	.viewWeek_Date div a {color:black; text-decoration:none;}
	#viewWeek_TimeNumber {height:100px; background:#0file:///var/www/site1/typo3conf/ext/tc2lcal/ext_typoscript_setup.txt00049; color:white;}
	#contentWeek table tr td {border:#C0C0C0 solid 1px; vertical-align:text-top;}
	#contentWeek table tr td div {font-size:x-small;}
	#contentWeek table tr td div a {text-decoration:none;}

	/* Month */
	#headerTc2lCalMonth {margin:10px 0; text-align: center;}
	#detailMonth {text-align:center; font-size:xx-large; margin-left:20px; margin-right:20px;}
	#detailMonth a {color:black; text-decoration:none;}
	#contentMonth {margin-top:20px;}
	#contentMonth table {width:800px; border-collapse:collapse;}
	#contentMonth table tr {}
	#contentMonth table tr th {border:#C0C0C0 solid 1px; height:30px;}
	#contentMonth table tr th a {text-decoration:none;}
	#contentMonth table tr th a:link {color:white;}
	#contentMonth table tr th a:visited {color:white;}
	#contentMonth table tr td {border:#C0C0C0 solid 1px; text-align:left; vertical-align:text-top; height:100px;}
	#contentMonth table tr td a, #contentMonth table tr td div {font-size:x-small;text-decoration:none;}
	#contentMonth table tr td div a:link {}
	#bgColorDayOfWeek {background: url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/bgColorMonth.gif);}
	#bgColorWeek {background: url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/bgColorWeek.gif); color:white;}
	#backInMonth {position:absolute; margin-top: -30px; margin-left: 10px;}

	/* Year */
	#headerTc2lCalYear {margin:10px 0; text-align: center;}
	#detailYear {text-align:center; font-size:xx-large; margin-left:20px; margin-right:20px;}
	#contentYear {margin-top:-10px;}
	#contentYear table {text-align:center; margin:9px; width:100%;}
	#contentYear table tr td {vertical-align:top;}
	#contentYear table tr td table {border:#C0C0C0 solid 1px; border-collapse:collapse; width:300px;}
	#contentYear table tr td table tr th {font-size:xx-small; border:#C0C0C0 solid 1px;}
	#contentYear table tr td table tr th a {text-decoration:none;}
	#contentYear table tr td table tr td {font-size:xx-small; border:#C0C0C0 solid 1px; text-align:right; vertical-align:text-top;}
	#contentYear table tr td table tr td a {text-decoration:none;}
	#viewYear_Month {background:url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/viewYear_Month); height:25px;}/* Month */
	#viewYear_Month a {font-size:medium;}
	#viewYear_Month a:link {color:white;}
	#viewYear_Month a:visited {color:white;}
	#viewYear_Week {background:url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/viewYear_Week); height:20px; color:white; width:30px;}
	#viewYear_Week a {text-decoration:none;}
	#viewYear_DayOfWeek {background:url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/viewYear_DayOfWeek); width:38.5px;}
	#viewYear_WeekNumber {height:35px;}
	#viewYear_WeekNumber a:link, #viewYear_WeekNumber a:visited{color:white;}
	#backInYear {position:absolute; margin-top: -30px; margin-left: 10px;}

	/* Event */
	#headerTc2lCalEvent {font-size:x-large;}
	.legendListEvents {float:left; clear:left; width: 100px;}
	#contentEvent div {margin-bottom: 5px;}
	#contentEvent {margin-top: 5px;}
	.viewEvent_day_IMG {position:absolute; margin-left:10px; margin-top:-5px;}
	.viewEvent_week_IMG {position:absolute; margin-left:40px; margin-top:-5px;}
	.viewEvent_month_IMG {position:absolute; margin-left:70px; margin-top:-5px;}

	/* Location */
	.legendListLoc {float:left; clear:left;	width: 100px;}
	#contentLoc div {margin-bottom: 5px;}
	#contentLoc {margin-top: 5px;}

	/* User */
	.legendListUser {float:left; clear:left; width: 100px;}
	#contentUser div {margin-bottom: 5px;}
	#contentUser {margin-top: 5px;}

	/* Category */
	#category,#category_picker {float: left;}
	#category_current {float: left; margin-left:15px;}
	/* #contentListNumberEvent {clear: left;} */

	/* Jump */
	#jumpTo {text-align:center; font-size:small;}
	#jumpTo img {vertical-align:-4px; margin-right:5px;}
	#jumpTo select {margin-left:5px;margin-right:5px;}
	#jumpTo input {vertical-align:-5px; margin-left:5px;}
	a.header_nav_button{ float:right; margin-right:100px; text-decoration:none;}
	a.header_nav_button span{ position:relative; float: left;}
	a.header_nav_button span.right_part {background-image: url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/buttonRight.gif); width: 8px; height: 19px;}
	a.header_nav_button span.left_part{background-image: url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/buttonLeft.gif);  width: 8px;  height: 19px;}
	a.header_nav_button span.center_part {background: url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/buttonBG.gif); height:19px; padding: 0 3px 0 3px;
					color:white; font-weight:bold;}
	a.header_nav_button span.center_part span{padding-top: 3px;}

	/* Quick Jump */
	.quickJumpTo {float:right;}

	/* MiniCal */
	#contentMiniCal table {border:#C0C0C0 solid 1px; border-collapse:collapse; width:180px; height:185px;}
	#contentMiniCal table tr th {font-size:xx-small; border:#C0C0C0 solid 1px;}
	#contentMiniCal table tr th a {text-decoration:none;}
	#contentMiniCal table tr td {font-size:xx-small; border:#C0C0C0 solid 1px; text-align:center; vertical-align:text-top;}
	#contentMiniCal table tr td a {text-decoration:none;}
	#miniCal_Month {background:url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/viewYear_Month.gif); height:20px; color:white; margin-left:10px; margin-right:10px;}
	#miniCal_Week {background:url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/miniCal_Week.gif); height:15px; color:white;}
	#miniCal_DayOfWeek {background:url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/miniCal_DayOfWeek.gif);}
	.miniCal_WeekNumber {height:25px; color:white;}
	.miniCal_WeekNumber a {text-decoration:none; color:white;}
	#miniCal_leftArrow {margin-right:10px;}
	#miniCal_rightArrow {margin-left:10px;}

	/* Back */
	#back img {margin-right: 10px;}
	#backReturn {color:blue; font-size:medium; font-weight:bold; text-decoration:none; BORDER-TOP:#000000 1px solid; BORDER-LEFT:#000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid;}
	a.header_return_button{ position:absolute;float:right; margin-left:30px; margin-top:-18px;text-decoration:none;}
	a.header_return_button span{ position:relative; float: left;}
	a.header_return_button span.right_part {background-image: url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/buttonRight.gif); width: 8px; height: 19px;}
	a.header_return_button span.left_part{background-image: url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/buttonLeft.gif);  width: 8px;  height: 19px;}
	a.header_return_button span.center_part {background: url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/buttonBG.gif); height:19px; padding: 0 3px 0 3px;
					color:white; font-weight:bold;}
	a.header_return_button span.center_part span{padding-top: 3px;}

	/* Print */
	#titlePrintForm {font-size:x-large; margin-bottom:5px;}
	#headerPrintList {font-size:large;}
	.legendListPrint {float:left; clear:left; width: 100px;}
	#titlePageListPrint {float:left; clear:left; width: 100px; font-size:large;}
	.headerPrintForm {font-size: large;}
	#contentPrintListEvent table {border-collapse:collapse; margin-top:10px;}
	#contentPrintListEvent table tr {border:#C0C0C0 solid 1px;}
	#contentPrintListEvent table th {padding-right:5px; font-size:small; height:30px; background: url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/bgColorWeek.gif); color:white;}
	#contentPrintListEvent table td, #contentListNumberEvent table td a{padding-right:20px; font-size:small;}
	
	a.print_button{ position:absolute;float:right; margin-left:30px; margin-top:10px;text-decoration:none;}
	a.print_button span{ position:relative; float: left;}
	a.print_button span.right_part {background-image: url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/buttonRight.gif); width: 8px; height: 19px;}
	a.print_button span.left_part{background-image: url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/buttonLeft.gif);  width: 8px;  height: 19px;}
	a.print_button span.center_part {background: url(http://www.cg976.fr/typo3temp/typo3conf/ext/tc2lcal/img/buttonBG.gif); height:19px; padding: 0 3px 0 3px;
					color:white; font-weight:bold;}
	a.print_button span.center_part span{padding-top: 3px;}
	#backListPrint {float:left; clear:left; width: 100px; margin-top:10px;}
	#headerPrintListTitlePage {font-size:x-large; margin-top:5px;}
	#printDateNow {margin-left:40px; font-size:x-small;}
/* default styles for extension "tx_cssstyledcontent" */
	/* Captions */
	DIV.csc-textpic-caption-c .csc-textpic-caption { text-align: center; }
	DIV.csc-textpic-caption-r .csc-textpic-caption { text-align: right; }
	DIV.csc-textpic-caption-l .csc-textpic-caption { text-align: left; }

	/* Needed for noRows setting */
	DIV.csc-textpic DIV.csc-textpic-imagecolumn { float: left; display: inline; }

	/* Border just around the image */
	DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG {
		border: 2px solid black;
		padding: 0px 0px;
	}

	DIV.csc-textpic-imagewrap { padding: 0; }

	DIV.csc-textpic IMG { border: none; }

	/* DIV: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DIV.csc-textpic-image { float: left; }

	/* UL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL { list-style: none; margin: 0; padding: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL LI { float: left; margin: 0; padding: 0; }

	/* DL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image { float: left; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DT { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD IMG { border: none; } /* FE-Editing Icons */
	DL.csc-textpic-image { margin: 0; }
	DL.csc-textpic-image DT { margin: 0; display: inline; }
	DL.csc-textpic-image DD { margin: 0; }

	/* Clearer */
	DIV.csc-textpic-clear { clear: both; }

	/* Margins around images: */

	/* Pictures on left, add margin on right */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-right: 10px;
	}

	/* Pictures on right, add margin on left */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}

	/* Pictures centered, add margin on left */
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image .csc-textpic-caption { margin: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image IMG { margin: 0; }

	/* Space below each image (also in-between rows) */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image { margin-bottom: 5px; }
	DIV.csc-textpic-equalheight DIV.csc-textpic-imagerow { margin-bottom: 5px; display: block; }
	DIV.csc-textpic DIV.csc-textpic-imagerow { clear: both; }

	/* No margins around the whole image-block */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-firstcol { margin-left: 0px !important; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-lastcol { margin-right: 0px !important; }

	/* Add margin from image-block to text (in case of "Text w/ images") */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap {
		margin-right: 10px !important;
	}
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap {
		margin-left: 10px !important;
	}

	/* Positioning of images: */

	/* Above */
	DIV.csc-textpic-above DIV.csc-textpic-text { clear: both; }

	/* Center (above or below) */
	DIV.csc-textpic-center { text-align: center; /* IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap { margin: 0 auto; }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image { text-align: left; /* Remove IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-text { text-align: left; /* Remove IE-hack */ }

	/* Right (above or below) */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap { float: right; }
	DIV.csc-textpic-right DIV.csc-textpic-text { clear: right; }

	/* Left (above or below) */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap { float: left; }
	DIV.csc-textpic-left DIV.csc-textpic-text { clear: left; }

	/* Left (in text) */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap { float: left; }

	/* Right (in text) */
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap { float: right; }

	/* Right (in text, no wrap around) */
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap { float: right; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-right-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */

	/* Left (in text, no wrap around) */
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap { float: left; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-left-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */