/* Abo-Praemien */
#ID_Praemien ul {
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
}
#ID_Praemien ul li {
	margin: 0 0 15px 0;
	padding: 0;
	clear: both;
}
#ID_Praemien ul li input {
	clear: both;
	float: left;
	width: 50px;
}
#ID_Praemien ul li label {
	margin: 0 0 0 50px; /* ff */
}
#ID_Praemien ul li label .Thumb {
	display: block;
	width: 90px;
	float: left;
	margin: 0 10px 10px 0;
}
#ID_Praemien ul li label .Title {
	font-weight: bold;
}
#ID_Praemien ul li label .Title,
#ID_Praemien ul li label .Description {
	display: block;
	margin: 0 0 0 50px; /* ff */
}
#ID_Praemien p {
	clear: both;
}