/* Werbung */
#ID_Ad {
	position: absolute;
	padding: 4px 10px 2px 10px;
	left: 0;
	top: 0;
	height: 66px;
	width: 770px;
	background: url(bg.png);
}
#ID_Ad div.Full {
	width: 510px;
	float: left;
	margin: 0;
	padding: 0 0 0 10px;
	background: url(http://www.jungewelt.de/images/werbung.png) no-repeat;
}
#ID_Ad div.Half {
	margin: 0;
	padding: 0 0 0 10px;
}
#ID_Ad h2 {
	display: none;
	speak: normal;
}
#ID_Ad_Sky {
	clear: left;
	position: absolute;
	left: 780px;
	top: 4px;
	width: 160px;
}
#ID_Ad_Sky ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#ID_Ad_Sky ul li {
	margin: 0 0 10px 0;
	padding: 0;
}
#ID_Ad_Sky div.Ad {
	padding: 10px 0 0 0;
	background: url(http://www.jungewelt.de/images/werbung_sky.png) no-repeat;
}

#ID_Ad2 {
	left: -10000px;
	position: absolute;
	top: -10000px;
}