/* Aktion */
#ID_News .Announcements .RubricId_77 address {
	color: #C00;
}

/* JW-Kommentar auf der Startseite */
#ID_News .JW_Comment {
	margin: 15px 0 10px 0;
	border: 1px solid #666;
	background: #FAFAFA;
}
#ID_News .JW_Comment h2 {
	font-size: 14px;
	background: #666;
	color: #FFF;
	border-bottom: 1px solid #666;
	padding: 0 10px;
	margin: 0;
}
#ID_News .JW_Comment p {
	margin: 10px;
}

/* Feedback */
#ID_Aktion_Feedback dl {
	margin: 0;
	padding: 0;
}
#ID_Aktion_Feedback dt {
	font-weight: bold;
	padding: 0 10px 0 10px;
	margin: 15px 0 0 0;
}
#ID_Aktion_Feedback dt a:link,
#ID_Aktion_Feedback dt a:visited {
	color: #C00;
	text-decoration: none;
}
#ID_Aktion_Feedback dt a:focus,
#ID_Aktion_Feedback dt a:hover,
#ID_Aktion_Feedback dt a:active {
	color: #C00;
	text-decoration: underline;
}
#ID_Aktion_Feedback dd {
	margin: 0 0 5px 0;
	padding: 0 10px 0 10px;
}

#ID_Aktion_Feedback #ID_Slideshow {
	/* Der Rest ist in slideshow.css */
	margin-top: 30px;
}
#ID_Aktion_Feedback #ID_Slideshow .Image { 
	padding-bottom: 0 !important;
}
#ID_Aktion_Feedback #ID_Slideshow .Foot address { 
	margin: 0 !important;
	padding: 0 !important;
}