/* Hilfe */
#ID_Help ul,
#ID_Help dl {
	margin: 10px 15px;
	padding: 0 15px;
}
#ID_Help #ID_Contents {
	border: 1px solid #CCC;
	margin: 0 0 40px 0;
	background: url(bg.png) #EEE;
}
#ID_Help #ID_Contents h3 {
	margin: 0;
}
#ID_Help #ID_Contents ul li {
	font-style: italic;
}
#ID_Help #ID_Contents ul li a {
	display: block;
}
#ID_Help .section {
	margin: 15px 0 0 0;
	border: 1px solid #CCC;
}
#ID_Help .section p {
	margin: 10px;
}
#ID_Help h3 {
	margin: 0;
	padding: 0 20px;
	text-transform: uppercase;
	background: url(ListingRessort.png) repeat-x #E3E3E3;
	border-bottom: 1px solid #CCC;
	color: #666;
}
#ID_Help dd ul,
#ID_Help dd dl {
	margin: 0;
	padding: 0;
}