/* Paging */
.Paging {
	display: block;
	clear: both;
	margin: 20px 0;
	border-top: 1px solid #CCC;
	padding: 13px 0 3px 10px;
	word-spacing: 3px;
	background: url(http://www.jungewelt.de/images/paging_blaettern.png) 5px 0 no-repeat;
}
.Paging ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.Paging ul li {
	display: inline;
	margin: 0;
}
.Paging ul li * {
	padding: 3px;
}
.Paging ul li a {
	display: inline !important;
}
.Paging ul li a:link,
.Paging ul li a:visited {
	color: #000 !important;
	text-decoration: underline !important;
}
.Paging ul li a:focus,
.Paging ul li a:hover,
.Paging ul li a:focus {
	color: #FFF !important;
	background: #666 !important;
	text-decoration: none !important;
}
.Paging ul li strong {
	color: #C00;
	border-color: #C00;
}