#ID_Slideshow {
	width: 390px;
}

/* Listing */
#ID_Slideshow ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#ID_Slideshow ul li {
	margin: 0 0 20px 0;
	padding: 0;
}

/* Rubriken */
#ID_Slideshow .SelectByRubric ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#ID_Slideshow .SelectByRubric ul li {
	display: inline;
	margin: 0 10px 0 0;
}
#ID_Slideshow .SelectByRubric ul li a {
	background: url(http://www.jungewelt.de/images/link2.png) 0 4px no-repeat;
	padding: 0 0 0 10px;
}
#ID_Slideshow .SelectByRubric ul li a:link,
#ID_Slideshow .SelectByRubric ul li a:visited {
	color: #333;
}
#ID_Slideshow .SelectByRubric ul li a:focus,
#ID_Slideshow .SelectByRubric ul li a:hover,
#ID_Slideshow .SelectByRubric ul li a:active {
	color: #C00;
	background: url(http://www.jungewelt.de/images/link2.png) 0 -288px no-repeat #EEE;
}
#ID_Slideshow .SelectByRubric ul li a strong {
	text-transform: uppercase;
	color: #C00;
	text-decoration: none;
}

#ID_Slideshow .SelectByYear {
	margin: 0 0 20px 0;
}
#ID_Slideshow .SelectByYear ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#ID_Slideshow .SelectByYear ul li {
	display: inline;
	margin: 0 10px 0 0;
}
#ID_Slideshow .SelectByYear ul li a {
	background: url(http://www.jungewelt.de/images/link2.png) 0 4px no-repeat;
	padding: 0 0 0 10px;
}
#ID_Slideshow .SelectByYear ul li a:link,
#ID_Slideshow .SelectByYear ul li a:visited {
	color: #333;
}
#ID_Slideshow .SelectByYear ul li a:focus,
#ID_Slideshow .SelectByYear ul li a:hover,
#ID_Slideshow .SelectByYear ul li a:active {
	color: #C00;
	background: url(http://www.jungewelt.de/images/link2.png) 0 -288px no-repeat #EEE;
}
#ID_Slideshow .SelectByYear ul li a strong {
	text-transform: uppercase;
	color: #C00;
	text-decoration: none;
}

/* Einzel-Ansicht */
#ID_Slideshow #ID_Show {
	border: 1px solid #CCC;
	padding: 10px 0;
}
#ID_Slideshow #ID_Listing dl dt {
	font-weight: bold;			
}
#ID_Slideshow #ID_Listing dl dd {
	margin: 0 0 20px 0;
	padding: 0;
}
#ID_Slideshow .Head {
	padding: 0 10px;			
}
#ID_Slideshow .Head ul {
	padding: 0;
	margin: 0;
	list-style: none;			
}
#ID_Slideshow .Head ul li { 
	display: inline;
	padding: 0;
	margin: 0;
}
#ID_Slideshow .Head ul li .Prev,
#ID_Slideshow .Prev { 
	width: 105px;
	float: left;
	padding: 0 0 0 15px;
	background: url(http://www.jungewelt.de/images/prev.png) no-repeat 0 1px;
}
#ID_Slideshow .Head ul li .Info,
#ID_Slideshow .Info { 
	width: 125px;
	text-align: center;
	float: left;
}
#ID_Slideshow .Head ul li .Next,
#ID_Slideshow .Next { 
	width: 105px;
	text-align: right;
	float: left;
	padding: 0 15px 0 0;
	background: url(http://www.jungewelt.de/images/next.png) no-repeat 105px 1px;
}
#ID_Slideshow .Image { 
	clear: left;
	text-align: center; 
	padding: 10px 0 20px 0;
}
#ID_Slideshow .Foot { 
	font-style: italic;
	margin: 0 10px;
}
#ID_Slideshow .Foot .Title { 
	font-weight: bold;
}
#ID_Slideshow .Foot address { 
	margin: 15px 0 0 0;
	color: #999;
}