@import url("default2.css");

#article{
	display:block;	
}

#logo{
	display:block;	
}

body{
	background: #fff;	
}

#container{
	margin: 0;	
}

#navHeader{
	display:none;
	height: 0px;	
}

#header{
	display:none;
	height: 0px;	
}

#footer{
	display: none;	
}

#navPrimaire, #navPrimaireListe, #navSecondaireListe, #info, #navSecondaire{
	display: none;
	height: 0;	
}

div.video{
	display:none;	
}

#colGauche{
 width: 640px; /*la meilleure largeur pour l'impression*/
 padding-right: 7px;
 padding-left: 7px;
 /*border-left: #666 dashed 1px;*/
 vertical-align:top;
}

#boxColsRadius{
 width: 0px;
 padding: 0;
 border: none;	
}
#boxColsRadius *{
	display:none;	
}

div.infosVote{
	display:none;	
}

#formVote{
	display:none;	
}

#commentaires{
	display:none;	
}

div.formulaire{
	display:none;	
}

#commenter{
	display:none;	
}

.pub{
	display:none;	
}

img.clicable{
	display:none;	
}
