#webs_asociadas {
	font-family: Arial, Helvetica, sans-serif;
	background: #F6F6F4;
	overflow: auto;
	padding-bottom: 7px;
	width: 312px;
}
#webs_asociadas a {
	color: #333333;
	text-decoration: none;
}
#webs_asociadas a:hover {
	color: #333333;
	text-decoration: underline;
}
#webs_asociadas .titulo {
	font-size: 18px;
	line-height: 32px;
	background: #C1C1C1 url(fondo-tit.gif) no-repeat;
	padding-left: 5px;
	height: 35px;
	border-bottom: 5px solid #DCDCDC;
}
#webs_asociadas .col {
	float: left;
	width: 155px;
	margin-top: 8px;
}
#webs_asociadas .col .caja_indiv {
	background: url(linea-ptos.gif) repeat-x left bottom;
	font-size: 11px;
	font-weight: bold;
	overflow: auto;
	width: 93%;
	padding-top: 4px;
	padding-bottom: 9px;
	margin-bottom: 6px;
	margin-left: 5px;
}
#webs_asociadas .linea_vert {
	border-left: 1px solid #CCCCCC;
}
#webs_asociadas .col .caja_indiv img {
	border: 1px solid #BBBBBB;
	margin-right: 3px;
	float: left;
}
