/*
Theme Name: Concordia Event
Theme URI: http://labzero.pl/
Author: labzero.pl
Author URI: http://labzero.pl/
Description: Convordia Event Theme
Version: 1.0.0
Text Domain: concordia-event
*/

header {
	position: relative;
    width: 100%;
    min-height: auto;
    overflow-y: hidden;
    background: url(./img/bg-pattern.png),#7b4397;
    background: url(./img/bg-pattern.png),-webkit-linear-gradient(to left, #12527e, #192638);
    background: url(./img/bg-pattern.png),linear-gradient(to left, #12527e, #192638);
    color: #fff;
}

.navbar-default .nav>li>a {
	font-size: 12px;
}

.navbar-nav>li.current_page_item>a {
	color: #fdcc52 !important;
}

.navbar-brand {
	font-size: 22px;
}

section.features .feature-item i {
	font-size: 80px;
    background: -webkit-linear-gradient(to left,#1573b5, #192638);
    background: linear-gradient(to left,#1573b5, #192638);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-orange {
	background-color: #fdcc52;
}

section.features table td {
	line-height: 47px;
}

section.features table td.file-ext {
	padding-left: 30px;
	font-weight: 600;
}

section.features table td.file-link em {
    padding-right: 10px;
    color: #aaa;
}


.dataTables_wrapper .dataTables_filter label {
    font-weight: normal;
}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #ccc;
    padding: 6px;
    font-weight: normal;
}

table.dataTable {
    border-collapse: collapse;
}

table.dataTable thead td {
    border-bottom: 1px solid #ddd !important;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ddd !important;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #ddd !important;
}


div.container h3 {
    margin-top: 40px;
}

blockquote {
    font-family: monospace;
    font-size: 14px;
}

blockquote p {
    font-family: monospace;
    font-size: 14px;
}