div.bloc_defaut {
border:1px solid #CFCFCF;
clear:both;
font-size:0.9em;
margin:0 0 5px 0;
overflow:hidden;
padding:3px;
width:300px;
font-family:arial;
}

div.bloc_defaut p.extract a {
	text-align:left;
	color: #01A5EC;
	font-weight:900;
	text-transform: uppercase;
	padding-left:5px;
}
div.bloc_defaut p {
    text-align:justify;
	margin-top: 5px;
    
}
div.bloc_defaut div.billet_extract {
    text-align:justify;
	margin-top:5px;
	margin-bottom:5px;
	line-height:1.5;
}
div.bloc_defaut p.agenda {
	color:#01A5EC;
	font-weight:900;
	font-size:1.2em;
}

div.bloc_defaut p.centrer {
    text-align:center;
}
div.bloc_defaut .suite {
	text-align:right;
}
div#content-middle div.bloc_defaut {
  width: 292px;
}


div.bleu_argent a:link, div.bleu_argent a:visited {color: #073A6F; text-decoration: none;}
div.bleu_argent a:hover, div.bleu_argent a:active {color: #073A6F; text-decoration: underline;}
div.bleu_argent h2 {
  text-align: left;
  padding: 3px;
  background: #073161 url(top_bleu_marine.jpg) repeat-x 0 0;
  color: white;
  font-size: 1.5em;
}
div.bleu_argent h6 {
  text-align: left;
  padding: 3px;
  background: #073161 url(top_bleu_marine.jpg) repeat-x 0 0;
  color: white;
  font-size: 1.5em;
}

div.bleu_argent {
	background: #E5E5E5;
	float:left;
	clear:both;
}

div.bloc_defaut ul.en_images {
	display:block;
	padding:0;
	width:292px;
	margin:10px 0;
}
div.bloc_defaut ul.en_images li {
	display:inline;
	width:80;
	margin:0 5px;
}
div.bloc_defaut ul.en_images span.en_images_lien {
	width:100%;
	text-align:center;
}
div#feminin{
	background-color:#E8F5A7;
	border:1px dotted #CC3467;
	/*
	border:1px solid #CC3467;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	*/

}

div.bleu_argent#feminin div.dossier img.contour{

}

div.bleu_argent#feminin div.dossier ul.liens_dossier{
}

 div.bleu_argent#feminin h2 {
	background-image:none;
	background-color:#CC3467;
}

div.bleu_argent#feminin a:link, div.bleu_argent#feminin a:visited {color: #CC3467; text-decoration: none;}
div.bleu_argent#feminin a:hover, div.bleu_argent#feminin a:active {color: #CC3467; text-decoration: underline;}


div#feminin a h3.dossier_title {
	color:#CC3467;
}

 div#feminin  a:hover h3.dossier_title{
	color:#CC3467;
}

div#feminin ul{
list-style-type:none;
}
div#feminin ul li {
background:transparent url(puce_rose.gif) no-repeat scroll 0 6px;
padding-left:10px;
text-align:left;
}