#wrap-header
{
    background: white url("bg-fond.png") repeat-x bottom left;
	width: 100%;
	clear:none;
	
}

/* -------------------------------------------------------------------------------------- Top header */

#top_header {
	border-bottom: 3px solid #bcbec5;
	background: white;
	margin: 0 auto;
	width: 1000px;
}
#top_header img {display:block; float:left}
#top_header ul{float:left}
#top_header ul li
{
	display: block;
	float: left;
	font-family: /*Verdana, */Arial, Helvetica, sans-serif;
    margin-right: 6px;
    text-transform: uppercase;
    color: #818181;
    text-align: center;
}

#top_header ul li span
{
    display: block;
	text-align: center;
	font-weight: bold;
	color: #787878;
}
	
#top_header a
{
	color: #818181;
	display: block;
	float: left;
    text-decoration: none;
}
#top_header a:hover, #top_header a:focus, #top_header a:active, #top_header .courant a {color: white;}
#top_header a:hover span, #top_header a:focus span, #top_header a:active span, #top_header .courant a span {color: white !important;}

#top_header a.item1 {
    border-top: 7px solid #01a5ec;
	width: 178px;
	font-size:1.0em;
	font-weight: bolder;
	color: #01a5ec;
	padding-top: 3px;
	display: block;
}
#top_header a.item1:hover, #top_header a.item1:focus, #top_header a.item1:active, #top_header a.courant .item1 {
	padding-bottom: 5px;
}

#top_header .accueil
{
    padding-left: 10px;
	background: transparent url("accueil.gif") no-repeat 47px 0;
	text-transform: none;
	font-weight: bold;
	font-size: 0.8em;
	color: #a2d3fe;
	display: block;
}

#top_header ul li:hover .accueil, #top_header ul li:focus .accueil, #top_header ul li.ie-hover .accueil, #top_header ul li.courant .accueil {
	background: transparent url("accueil_hover.gif") no-repeat 47px 0;
}

#top_header .item1:hover, #top_header .item1:focus, #top_header .ie-hover .item1, #top_header .courant .item1 {
    background: #0299f5 url("fleche_haut.gif") no-repeat top center;
	border: 0;
	padding-top: 10px;
	color: white;
	padding-bottom: 5px;
}

#top_header .item2
{
    border-top: 7px solid #0299f5;
	width: 102px;
    font-size: 0.7em;
	padding-top: 8px;
}

#top_header .item2:hover, #top_header .item2:focus, #top_header .ie-hover .item2, #top_header .courant .item2
{
    background: #0299f5 url("fleche_haut.gif") no-repeat top center;
	border: 0;
	padding-top: 14px;
	padding-bottom: 5px;
	color: white;
}

#top_header .item3
{
    border-top: 7px solid #EF7804;
	width: 102px;
    font-size: 0.7em;
	padding-top: 8px;
}

#top_header .item3:hover, #top_header .item3:focus,  #top_header .courant .item3
{
	background: #EF7804 url("fleche_haut.gif") no-repeat top center;
	border: 0;
	padding-top: 14px;
	padding-bottom: 5px;
	color: white;
}

#top_header .item4
{
    border-top: 7px solid #167e9d;
	width: 102px;
    font-size: 0.7em;
	padding-top: 8px;
}

#top_header .item4:hover, #top_header .item4:focus, #top_header .courant .item4
{
    background: #167e9d url("fleche_haut.gif") no-repeat top center;
	border: 0;
	padding-top: 14px;
	padding-bottom: 5px;
	color: white;
}

#top_header .item5
{
    border-top: 7px solid #cc3467;
	width: 102px;
    font-size: 0.7em;
	padding-top: 8px;
}

#top_header .item5:hover, #top_header .item5:focus, #top_header .courant .item5
{
    background: #cc3467 url("fleche_haut.gif") no-repeat top center;
	border: 0;
	padding-top: 14px;
	padding-bottom: 5px;
}

#top_header .item6
{
    border-top: 7px solid #5aaa24;
	width: 102px;
    font-size: 0.7em;
	padding-top: 8px;
}

#top_header .item6:hover, #top_header .item6:focus, #top_header .courant .item6
{
    background: #5aaa24 url("fleche_haut.gif") no-repeat top center;
	border: 0;
	padding-top: 14px;
	padding-bottom: 5px;
}

#top_header .item7
{
    border-top: 7px solid #9a1816;
	width: 102px;
    font-size: 0.7em;
	padding-top: 8px;
}

#top_header .item7:hover, #top_header .item7:focus, #top_header .courant .item7
{
    background: #9a1816 url("fleche_haut.gif") no-repeat top center;
	border: 0;
	padding-top: 14px;
	padding-bottom: 5px;
}

#top_header .item8
{
    border-top: 7px solid #612f88;
	width: 102px;
    font-size: 0.7em;
	padding-top: 8px;
}

#top_header .item8:hover, #top_header .item8:focus, #top_header .courant .item8
{
    background: #612f88 url("fleche_haut.gif") no-repeat top center;
	border: 0;
	padding-top: 14px;
	padding-bottom: 5px;
}

.item2 a, .item3 a, .item4 a, .item5 a, .item6 a, .item7 a, .item8 a  {color: #787878;}

.item2 span, .item3 span, .item4 span, .item5 span, .item6 span, .item7 span, .item8 span   
{
    font-weight: bolder;
	font-size: 1.2em;
	color: #787878;
}

#top_header ul li:hover span, #top_header ul li:hover a, #top_header ul li:focus span, #top_header ul li:focus a{color: white;}
#top_header #presse {float: right;}


/* -------------------------------------------------------------------------------------- banniere VDS */

#headerv2 {
    background: #01a5ec;
	width: 1000px;
    /*
	margin: 0 auto;
	*/
	margin:5px auto 0;
	
	padding: 10px 0 0 0;
	font-size:1.2em;
	position:absolute;
	overflow:visible;
	position:relative;
}
#wrapper #headerv2 h6 
{
	margin: 2px 6px 0 1px;
	float: left;
	display: block;
	margin:0;
	width:335px;
	height:48px;
}
#wrapper #headerv2 h6 img {
	display: block;
	float: left;
}
#headerv2 span a {
    padding-left:180px;
	float: left;

}
.search
{
float:right;
font-size:16px;
line-height:1;
margin-right:1px;
text-align:left;
width:280px;
}
.search ul li {
	display: block;
	float: right;
}
#wrapper #headerv2 .search ul li a {
    text-decoration: none;
	border: 2px solid #01a5ec;
	display: block;
	float: left;
    background: white;
	font-family: /*Verdana, */Arial, Helvetica, sans-serif;
	color: #01a5ec;
	font-weight: bold;
	font-size: 0.8em;
	padding: 2px;
}
#wrapper #headerv2 .search label
{
    border-bottom: 1px solid white;
	display: block;
	margin-bottom: 4px;
}
.lib_rech {
	font-family: /*Verdana, */Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: white;
	font-size: 0.8em;
	padding-bottom: 4px;
	margin-top: 5px;
}
.recherche
{
    border: 1px solid #01a5ec;
	border-right: 1px;
	display:block;
	padding-right: 1px;
    float: left;
	margin-right: 7px;
	width: 227px;
}
 .button {
    border: 0 outset #e4e4e4;
	background-color: #e4e4e4;
    font-family: /*Verdana, */Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: black;
	font-weight: bold;
}
.wrap {
    margin: 2px 4px 3px 4px;
	overflow: hidden;
	border-bottom: 1px solid white;
}


/* -------------------------------------------------------------------------------------- navigation */

#headerv2 #menu 
{
    background: #01a5ec;
	padding:10px 0 0 0;
	margin: 0;
	clear: both;
	width: 100%;
	text-align:left;
}

#menu ul li
{
	border: 2px solid white;
	display: block;
	float: left;
	font-family: /*Verdana, */Arial, Helvetica, sans-serif;
	color: white;
	font-size: 0.7em;
	line-height: 2em;
	position: relative;
}

#menu ul li ul
{
	border: 1px solid #3c3c3c;
	background: #e4e3bd;
	position: absolute;
	left: 0;
    display: none;
	padding: 0;
	margin: 0;
	z-index:1000;
	top:20px;
	margin-top:-2px;
	
}

#menu ul li ul li { 
	display: block;
	width: 167px;
	font-size: 1.0em;
	font-weight: bold;
	border: 0;
    border-bottom: 1px solid #646464;
	margin: 0 2px;
	text-align: left;
}

#menu ul li ul li:last-child, #menu ul li ul li.last {border: 0;}

#menu ul li:hover ul, #menu ul li.ie-hover ul
{
    top: 29px;
	display: block;	
}

#wrapper #headerv2 #menu li ul a {
    text-decoration: none;
	background: #fdfae2;
	color: #94947b;
	display: block;
	padding: 2px;
}

#wrapper #headerv2 #menu li ul a:hover, #wrapper #headerv2 #menu li ul a:focus, #wrapper #headerv2 #menu li ul a:active {
	text-decoration: none;
	color: #3c3c3c;
}
#wrapper #headerv2 #menu ul li .menu-info ul li {width:100%;}

#wrapper #headerv2 #menu ul li .menu-info ul li{
    background: #fdfae2;
	display: block;
	width: 505px;
	font-size: 1.0em;
	font-weight: bold;
	border: 0;
    border-bottom: 1px solid #646464;
	margin: 0 2px;
	text-align: left;
}

.rubriques1
{	
	display: inline;
	float: left;
	font-size:1.2em;
	font-weight: light;
	padding-top: 5px;
	margin-left: 10px;
}

.menu-info a{
    background: #fdfae2;
    color: #94947b;
	font-size: 0.9em;
    display: block;
	float:left;
}
#wrapper #headerv2 #menu li ul span.artois,
#wrapper #headerv2 #menu li ul span.hainaut,
#wrapper #headerv2 #menu li ul span.littoral,
#wrapper #headerv2 #menu li ul span.metropole
 {
    text-decoration: none;
	background: #fdfae2;
	color: #94947b;
	display: block;
	padding: 2px;
	width: 90px;
	float:left;
}

#menu ul li .communes {
    background: #fdfae2;
	display: block;
	float: right;
	color: #71b3c2;
	font-size: 0.7em;
	font-weight: 900em;
}

.rubriques2
{	
	display: inline;
	float: left;
	font-size:1.2em;
	font-weight: light;
	padding-top: 5px;
	margin-left: 6px;
}

.infos
{
    background: #94947b url("fleche.gif") no-repeat 110px 11px;
	width: 115px;
	text-align: left;
	padding-left: 11px;
}


#menu .infos:hover, #menu .infos:focus
{
    background: #e4e3bd url("fleche_hover.gif") no-repeat 110px 11px;
    width: 115px;
    text-align: left;
	color: #94947b;
}

.actualites
{
    background: #94947b url("fleche.gif") no-repeat 75px 11px;
	width: 81px;
	text-align: left;
	padding-left: 11px;
}


#menu .actualites:hover, #menu .actualites:focus
{
    background: #e4e3bd url("fleche_hover.gif") no-repeat 75px 11px;
    width: 81px;
    text-align: left;
	color: #94947b;
}

.sports
{
    background: #94947b url("fleche.gif") no-repeat 82px 11px;
	width: 73px;
	text-align: left;
	padding-left: 30px;
}

#menu .sports:hover, #menu .sports:focus
{
    background: #e4e3bd url("fleche_hover.gif") no-repeat 82px 11px;
    width: 73px;
    text-align: left;
	color: #94947b;
}

.economie
{
    background: #94947b url("fleche.gif") no-repeat 74px 11px;
	width: 81px;
	text-align: left;
	padding-left: 11px;
}

#menu .economie:hover, #menu .economie:focus
{
    background: #e4e3bd url("fleche_hover.gif") no-repeat 74px 11px;
    width: 81px;
    text-align: left;
	color: #94947b;
}

.loisirs
{
    background: #94947b url("fleche.gif") no-repeat 74px 11px;
	width: 70px;
	text-align: left;
	padding-left: 22px;
}
#headerv2 #menu ul li.loisirs ul li{
width:180px;
}
#menu .loisirs:hover, #menu .loisirs:focus
{
    background: #e4e3bd url("fleche_hover.gif") no-repeat 74px 11px;
    width: 70px;
    text-align: left;
	color: #94947b;
}

.feminin
{
    background: #94947b url("fleche.gif") no-repeat 76px 11px;
	width: 81px;
	text-align: left;
	padding-left: 11px;
}

#menu .feminin:hover, #menu .feminin:focus
{
    background: #e4e3bd url("fleche_hover.gif") no-repeat 76px 11px;
    width: 81px;
    text-align: left;
	color: #94947b;
}

.annonces
{
    background: #94947b url("fleche.gif") no-repeat 74px 11px;
	width: 81px;
	text-align: left;
	padding-left: 11px;
}

#menu .annonces:hover, #menu .annonces:focus
{
    background: #e4e3bd url("fleche_hover.gif") no-repeat 74px 11px;
    width: 81px;
    text-align: left;
	color: #94947b;
}
.photos
{
    background: #94947b;
	width: 100px;
	text-align: center;
}

#menu .photos:hover, #menu .photos:focus
{
    background: #e4e3bd;
    width: 100px;
    text-align: center;
	color: #94947b;
}

.videos
{
    background: #94947b;
	width: 100px;
	text-align: center;
}

#menu .videos:hover, #menu .videos:focus
{
    background: #e4e3bd;
    width: 100px;
    text-align: center;
	color: #94947b;
}
#menu .videos a, #menu .photos a {
	color:white;
	text-decoration:none;
}
.inter
{
    background: #271f63 url("fleche_mauve.gif") no-repeat 75px 11px;
	width: 92px;
    padding-left: 5px;	
}

#menu .inter:hover, #menu .inter:focus
{
    background: #0085c0 url("fleche2_hover.gif") no-repeat 74px 11px;
    width: 92px;
    text-align: left;
	color: white;
}

.services
{
    background: #271f63 url("fleche_mauve.gif") no-repeat 60px 11px;
	width: 71px;
    padding-left: 7px;	
}

#menu .services:hover, #menu .services:focus
{
    background: #0085c0 url("fleche2_hover.gif") no-repeat 60px 11px;
    width: 71px;
    text-align: left;
	color: white;
}

#headerv2 #menu ul li.services ul li{
width:120px;
}

.journal
{
    background: #271f63 url("fleche_mauve.gif") no-repeat 54px 11px;
	width: 71px;
    padding-left: 7px;	
}
#headerv2 #menu ul li.journal ul {
left:-92px;
}
#menu .journal:hover, #menu .journal:focus
{
    background: #0085c0 url("fleche2_hover.gif") no-repeat 54px 11px;
    width: 71px;
    text-align: left;
	color: white;
}

div.top1{

}
div.promo-marginless{
	float:left;
	height:0px;
	margin:0px;
}

div#wrapper div#headerv2 div#bottom_headerv2 {
display:none;
}

div#meteo-header{
left:525px;
position:absolute;
top:5px;
width:180px;
}

div#meteo-header img{
float:left;
margin-right:10px;
}

div#meteo-header p.ville{
color:white;
font-size:0.9em;
font-weight:bold;
margin-top:15px;
text-align:left;
text-transform:uppercase;
}

div#meteo-header p.temperature{
color:white;
font-size:11px;
text-align:left;
}
div#meteo-header p.votre-ville{
color:white;
font-size:9px;
margin-top:5px;
text-align:left;
text-transform:uppercase;
}
div#meteo-header p.votre-ville a{
color:white;
}
div#meteo-header p.votre-ville a:hover{
color:white;
}
div#meteo-header p.votre-ville a:hover, div#meteo-header p.votre-ville a:focus, div#meteo-header p.votre-ville a:active {
	color:white;
}