#scroller_container1, #scroller_container2, #scroller_container3, #scroller_container4 {
  width: 431px;
  height: 10em;
  overflow: hidden;
}

.jscroller2_up, .jscroller2_down, .jscroller2_left, .jscroller2_right {
 margin: 0;
 padding: 0;
  width: 431px !important;
}

.jscroller2_left, .jscroller_right, .jscroller2_left_endless, .jscroller2_right_endless {
 white-space: nowrap;
}
