/*****************************************************/
/* classes  génériques 								 */
/*****************************************************/
body {
	background-color: #A4ACAE;
	margin: 0px;
	padding: 0px;
}
.fond_bandeau{
	background: #859292 url(fond_bandeau.gif) repeat-x;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 16px;
}

.fond{
	background-color: #667878;
}

.fond2{
	background-color: #859292;
}

.fond_bas{
	background: #A3ADAD url(fond_bas.gif) no-repeat;
	
	padding-left: 20px;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #667777;
	font-size: 11px;
}

a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #667777;
	font-size: 11px;
	
	text-decoration: none;
}

a.lien_menu{
	FONT-SIZE: 12px;  
	color: #FFFFFF; 
	FONT-FAMILY: Arial, Verdana, sans-serif; 
	font-weight : bold;
	text-decoration: none;
}

a.lien_menu:hover{
	text-decoration: underline;
}
/*****************************************************/
/* classes  index	 								 */
/*****************************************************/
.index{
	background-color: #849292;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	padding-right : 16px;
	text-align: right;
}

.index2{
	background-color: #849292;
}

.fond_voeux{
	background-color: #A50C18;
}

.form_voeux{
	padding: 0px;
	margin: 0px;
}

.voeux{
	border: 0px;
	background-color: #A50C18;
	
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}

.fond_g1{
	background: #FFFFFF url(fond_g1.jpg) no-repeat;
	
	padding-left: 166px;
}

.fond_g2{
	background: #FFFFFF url(fond_g2.gif) no-repeat;
	
	padding-left: 16px;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #D73A19;
	font-size: 22px;
}

.fond_g3{
	background: #A50C18 url(fond_g3.gif) no-repeat top;
	
	padding: 12px 5px 0px 16px;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 11px;
}

a.lien_rubrique{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	
	text-decoration: none;
}

a.lien_rubrique:hover{
	text-decoration: underline;
}

.cadre1_h{
	background: #95B418 url(cadre1_h.gif) no-repeat;
	
	padding-left: 30px;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
}

.cadre1_f{
	background: #FFFFFF url(cadre1_f.gif) repeat-y;
	
	padding: 5px 0px 0px 15px;
}

.cadre1_b{
	background: #FFFFFF url(cadre1_b.gif) no-repeat;
}

.cadre2_h{
	background: #95B418 url(cadre2_h.gif) no-repeat;
	
	padding-left: 30px;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
}

.cadre2_f{
	background: #FFFFFF url(cadre2_f.gif) repeat-y;
	
	padding: 5px 0px 0px 15px;
}

.cadre2_b{
	background: #FFFFFF url(cadre2_b.gif) no-repeat;
}

.cadre3_h{
	background: #95B418 url(cadre3_h.gif) no-repeat;
	
	padding-left: 30px;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
}

.cadre3_f{
	background: #FFFFFF url(cadre3_f.gif) repeat-y;
	
	padding: 5px 0px 0px 15px;
}

.cadre3_b{
	background: #FFFFFF url(cadre3_b.gif) no-repeat;
}

.cadre4_h{
	background: #849292 url(cadre4_h.gif) no-repeat;
	
	padding-left: 30px;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
}

.cadre4_f{
	background: #657777 url(cadre4_f.gif) repeat-y;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #F9FFFF;
	font-size: 12px;
}

.cadre4_b{
	background: #657777 url(cadre4_b.gif) no-repeat;
}

.cadre5_h{
	background: #849292 url(cadre5_h.gif) no-repeat;
	
	padding-left: 30px;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
}

.cadre5_f{
	background: #657777 url(cadre5_f.gif) repeat-y;
	
	padding-top: 5px;
}

.cadre5_b{
	background: #657777 url(cadre5_b.gif) no-repeat;
}

.cadre6_h{
	background: #FFFFFF url(cadre6_h.gif) no-repeat;
}

.cadre6_f_logo{
	background: #FFFFFF url(cadre6_h.gif) top no-repeat;
	
	padding: 5px 0px 0px 0px;
}

.cadre6_f{
	background: #FFFFFF url(cadre6_b.gif) bottom no-repeat;
	
	padding: 5px 10px 5px 10px;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 11px;
	font-weight: bold;
}

.cadre6_f2{
	background: #FFFFFF;
	
	padding: 0px;
}

.cadre6_b{
	background: #FFFFFF url(cadre6_b.gif) no-repeat;
}

a.lien_article{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 11px;
	
	text-decoration: none;
}

a.lien_article:hover{
	text-decoration: underline;
}

a.lien_espaces{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #F9FFFF;
	font-size: 12px;
	
	text-decoration: none;
}

a.lien_espaces:hover{
	text-decoration: underline;
}

a.lien_titre_index{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 12px;
	
	text-decoration: none;
}

a.lien_titre_index:hover{
	text-decoration: underline;
}

.titre_texte{
	padding: 0px;
	margin: 0px;
}

.titre{
	padding: 0px;
	margin: 0px;
	
	color: #A50C18;
}

/*****************************************************/
/* classes  petit poucet							 */
/*****************************************************/

.fond_petit_poucet_1{
	background-color: #FFFFFF;
	padding: 0px 10px 0px 10px;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #95B415;
	font-size: 11px;
}

.fond_petit_poucet_2{
	background-color: #FFFFFF;
	padding: 0px 10px 0px 10px;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #549C83;
	font-size: 11px;
}

.fond_petit_poucet_3{
	background-color: #FFFFFF;
	padding: 0px 10px 0px 10px;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #1B5CCF;
	font-size: 11px;
}

a.lien_petit_poucet_1{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #95B415;
	font-size: 11px;
	
	text-decoration: none;
}

a.lien_petit_poucet_1:hover{
	text-decoration: underline;
}

a.lien_petit_poucet_2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #549C83;
	font-size: 11px;
	
	text-decoration: none;
}

a.lien_petit_poucet_2:hover{
	text-decoration: underline;
}

a.lien_petit_poucet_3{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #1B5CCF;
	font-size: 11px;
	
	text-decoration: none;
}

a.lien_petit_poucet_3:hover{
	text-decoration: underline;
}

/*****************************************************/
/* classes  rubrique 								 */
/*****************************************************/

.bandeau_separation{
	background: url(bandeau_separation.gif) no-repeat bottom left;
	padding-bottom: 5px;
}

.pos_dossier{
	padding-bottom: 5px;
}

a.lien_carif2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #E0E0E0;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

a.lien_carif2:hover{
	text-decoration: underline;
}

a.lien_carif{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #667777;
	font-size: 12px;
	font-weight: bold;
	
	text-decoration: none;
}

a.lien_carif:hover{
	text-decoration: underline;
}

a.lien_dossier{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #D8DDDD;
	font-size: 11px;
	font-weight: bold;
	
	text-decoration: none;
}

a.lien_dossier:hover{
	text-decoration: underline;
}

.fond_contenu{
	background-color: #FFFFFF;
	padding: 0px 10px 0px 10px;
	
}

h1.titre_rubrique_1{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #A50C18;
	font-size: 16px;
	font-weight: bold;
	
	padding: 0px;
	margin: 0px;
}

h1.titre_rubrique_2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #E77D10;
	font-size: 16px;
	font-weight: bold;
	
	padding: 0px;
	margin: 0px;
}

h1.titre_rubrique_3{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFB200;
	font-size: 16px;
	font-weight: bold;
	
	padding: 0px;
	margin: 0px;
}

/*****************************************************/
/* classes  article 								 */
/*****************************************************/

.fond_titre_acticle_1{
	background-color: #A50C18;
}

.fond_titre_acticle_2{
	background-color: #E77D10;
}

.fond_titre_acticle_3{
	background-color: #FFB200;
}

h1.titre_article{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	
	padding: 0px;
	margin: 0px;
}

h2{
	padding: 0px;
	margin: 0px;
}

a.lien_article_1{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #95B415;
	font-size: 11px;
	font-weight: bold;
	
	text-decoration: none;
}

a.lien_article_1:hover{
	color: #A50C18;
	
	text-decoration: underline;
}

a.lien_article_2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #549C83;
	font-size: 12px;
	font-weight: bold;
	
	text-decoration: none;
}

a.lien_article_2:hover{
	color: #E77D10;
	
	text-decoration: underline;
}

a.lien_article_3{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #1B5CCF;
	font-size: 12px;
	font-weight: bold;
	
	text-decoration: none;
}

a.lien_article_3:hover{
	color: #FFB200;
	
	text-decoration: underline;
}

.article{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #667777;
	font-size: 11px;
	
	text-align: justify;
	
}

.article2{
	background-color: #FFFFFF;

	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #667777;
	font-size: 11px;
	
	padding: 10px 10px 10px 10px; 	
}

.arbo{
	margin: 0px;
	padding: 0px 5px 0px 10px;
}


.titre_presentation{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #A50C18;
	font-size: 16px;
	font-weight: bold;
	
	padding: 0px;
	margin: 0px;
}

.titre_travaux_publication{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #E77D10;
	font-size: 16px;
	font-weight: bold;
	
	padding: 0px;
	margin: 0px;
}

.titre_boite_outil{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFB200;
	font-size: 16px;
	font-weight: bold;
	
	padding: 0px;
	margin: 0px;
}

.sous_titre_presentation{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #95B415;
	font-size: 14px;
	font-weight: bold;
	
	padding: 0px;
	margin: 0px;
}


.sous_titre_travaux_publication{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #549C83;
	font-size: 14px;
	font-weight: bold;
	
	padding: 0px;
	margin: 0px;
}

.sous_titre_boite_outil{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #1B5CCF;
	font-size: 14px;
	font-weight: bold;
	
	padding: 0px;
	margin: 0px;
}

.lien_presentation{
	color: #A50C18;
		
	padding: 0px;
	margin: 0px;
}

.lien_travaux_publication{
	color: #E77D10;
		
	padding: 0px;
	margin: 0px;
}

.lien_boite_outil{
	color: #FFB200;
		
	padding: 0px;
	margin: 0px;
}

/*****************************************************/
/* classes  autre rubriques							 */
/*****************************************************/

.titre_rubrique{
	background-color: #95B415;
	padding-left: 10px;
}

h1.autre_rubrique{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	
	padding: 0px;
	margin: 0px;
}

.fond_petit_poucet{
	background-color: #FFFFFF;
	padding: 0px 10px 0px 10px;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #AB1210;
	font-size: 11px;
}

a.lien_petit_poucet{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #AB1210;
	font-size: 11px;
	
	text-decoration: none;
}

a.lien_petit_poucet:hover{
	text-decoration: underline;
}

.fond_titre_acticle{
	background-color: #95B415;
}

a.lien_article_autre{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #95B415;
	font-size: 11px;
	text-decoration: none;
}

a.lien_article_autre:hover{
	color: #AB1210;
	text-decoration: underline;
}

.date_article{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

/*****************************************************/
/* classes  contact									 */
/*****************************************************/
.warning{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #AB1210;
	font-size: 12px;

	font-weight: bold;
}

.warning2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 10px;

	font-weight: bold;
}

.champ{
	background-color: #AB1210;
	
	padding-left: 15px;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 12px;
}

.value{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 12px;
}

.contact{
	background-color : #95B415;
	padding-left: 15px;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 12px;
}

.contact_message{
	border: #AB1210 dotted 1px;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #AB1210;
	font-size: 12px;
	
	font-weight: bold;
}

/*****************************************************/
/* classes  plan									 */
/*****************************************************/

.table_plan_1{
	border: #A50C18 solid 1px;
}

.table_plan_2{
	border: #E77D10 solid 1px;
}

.table_plan_3{
	border: #FFB200 solid 1px;
}

.plan_parent_1{
	background-color : #A50C18;
	padding-left: 15px;
}

.plan_parent_2{
	background-color : #E77D10;
	padding-left: 15px;
}

.plan_parent_3{
	background-color : #FFB200;
	padding-left: 15px;
}

.plan_rubrique{
	padding-left: 20px;
}

a.lien_titre_rubrique{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	
	text-decoration: none;
}

a.lien_titre_rubrique:hover{
	text-decoration: underline;
}

a.lien_titre_sous_rubrique_1{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #A50C18;
	font-size: 14px;
	font-weight: bold;
	
	text-decoration: none;
}

a.lien_titre_sous_rubrique_1:hover{
	color: #95B415;
	text-decoration: underline;
}

a.lien_titre_sous_rubrique_2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #E77D10;
	font-size: 14px;
	font-weight: bold;
	
	text-decoration: none;
}

a.lien_titre_sous_rubrique_2:hover{
	color: #549C83 ;
	text-decoration: underline;
}

a.lien_titre_sous_rubrique_3{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFB200;
	font-size: 14px;
	font-weight: bold;
	
	text-decoration: none;
}

a.lien_titre_sous_rubrique_3:hover{
	color: #1B5CCF;
	text-decoration: underline;
}

a.lien_titre_article{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 12px;
	
	text-decoration: none;
}

a.lien_titre_article:hover{
	text-decoration: underline;
}

.plan_h1{
	padding: 0px;
	margin: 0px;
}

.plan_h2{
	padding: 0px;
	margin: 0px;
}

.plan_article{
	padding-left: 30px;
}

.plan_article2{
	padding-left: 50px;
}

/*****************************************************/
/* classes  impression								 */
/*****************************************************/

.fond_titre_acticle{
	background-color: #859292;
	padding-left: 10px;
}