div#block-atb_custom-3 div#voyage_mesure {
		background:transparent url(formulaire-titre-fleche.gif) no-repeat scroll 0 0;
	}

	#block-block-43 h2#ATB-avantage-viatoulouse {
		background:transparent url(formulaire-titre-fleche.gif) no-repeat scroll 0 0;
		background-position: 0 -23px;
		color:#FFFFFF;
		font-size:14px;
		font-weight:normal;
		height:20px;
		margin-bottom:0;
		margin-top:0px;
		padding-left:27px;
		padding-top:3px;
		cursor:pointer;
	}

	#block-block-43  div#ATB-block-avantage-viatoulouse {
		background:transparent url(ATB-block-avantage-viatoulouse-2.gif) no-repeat scroll 0 0;
		height: 99px;
	}

	#block-block-43  #ATB-list-avantage-viatoulouse {
		float:left;
		list-style-image:none;
		list-style-position:outside;
		list-style-type:none;
		margin:0;
		padding:11px 4px 0;
		width:140px;
	}

	#block-block-43   #ATB-list-avantage-viatoulouse li {
		color:#480D04;
		cursor:pointer;
		font-family:arial;
		font-size:12px;
		padding-left:5px;
	}
		#block-block-43  #ATB-list-avantage-viatoulouse li.ATB-active-list-avantage-viatoulouse {
			color: #FFF;
			background: #ed5d95;
			font-weight: bold;
		}

	#block-block-43  div#ATB-detail-avantage-viatoulouse {
		height:81px;
		margin-left:139px;
		padding-top:10px;
		width:340px;
	}

	#block-block-43 #ATB-detail-avantage-viatoulouse p {
		margin-top: 0;
		margin-bottom: 0;
		color: #480d04;
		font-size: 16px;
		text-align: center;
	}

	#block-block-43  .ATB-hide-item-avantage-viatoulouse, 
	#block-block-43  .ATB-item-avantage-viatoulouse {
		display: none;
	}

	#block-block-43  .ATB-show-item-avantage-viatoulouse {
		display: block;
	}
	
	
	.ATB-item-avantage-viatoulouse {
		width: 359px;
		height: 81px;
	}
	
	#ATB-100-toulouse {
		background:transparent url(avantage-1.png) no-repeat scroll 0 0;
	}
	
	#ATB-100-economique {
		background:transparent url(avantage-2.png) no-repeat scroll 0 0;
	}
	
	#ATB-100-liberte {
		background:transparent url(avantage-3.png) no-repeat scroll 0 0;
	}
	
	#ATB-100-objectif {
		background:transparent url(avantage-4.png) no-repeat scroll 0 0;
	}
	
	#ATB-100-bon-plan {
		background:transparent url(avantage-5.png) no-repeat scroll 0 0;
	}