﻿.separator{
	clear:both;
	display:block;
}

.test{
	border-color:fuchsia;
}

.uneTable tr
{
	vertical-align:top;
}

div .titreAvecPuce{
	vertical-align:middle;
	background-repeat:no-repeat;	
	background-position:14px 3px;
	background-image:url('puce.jpg');
	padding-left:14px;
}

.titreAvecPuce a
{
	background-image:url('pixel_transparent.gif');
}

.selectionne a{
	font-weight:bold;
	color:#FF6F23;
}

.italique {
	font-style:italic;
	font-size:0.8em;
}

#content h2.couleur a:visited  {
	color:#FF9933;
	font-size:0.9em;
	border:0px;
	text-indent:0px;
	margin-bottom:0px;
	margin-top:0px;
}

#content h2.couleur a:link  {
	color:#FF9933;
	font-size:0.9em;
	border:0px;
	text-indent:0px;
	margin-bottom:0px;
	margin-top:0px;
}

#content h2.couleur  {
	color:#FF9933;
	font-size:0.9em;
	border:0px;
	text-indent:0px;
	margin-bottom:0px;
	margin-top:0px;
}

/*--------------------- liens utiles -------------------*/

#content .services {
background: url(ico_services.gif) 14px center no-repeat;
				font-size: 0.9em;
				color: #005CA2;
				font-weight: bold;

				padding-left: 31px;
				margin: 7px 0;
}

#content h2.services {
	border:0px;
	padding-bottom:0px;
}

#content .liens_utiles {
	font-size:0.85em;
}
#content .liens_utiles li{
			
	list-style-image:url(puce.jpg);

	vertical-align:middle;
	background-position:Opx 2px;
	padding-left:0px;
}

/* ----------- Plan du site ----------- */

#content div.plan_site {
	display:block;
}

#content div.plan_site li{

list-style-type:none;
list-style-image:none;
margin-top:3px;
margin-bottom:0px;
}
#content div.plan_site ul{
margin-top:8px;
}

#content div.plan_site .niveau1 a{
	border-left:solid #dddddd 2px;
	padding-left:3px;
	font-weight:bold;

}
#content div.plan_site .niveau2 a{
	
	color:#444444;
	border-left:0;
	padding-left:0;
	font-weight:normal;

}

#content div.plan_site .niveau3{

	display:none;

}


/* ----------- Trombi ----------- */

.trombiContenuSelectionne div {
	display:block;
}

.trombiContenu {

	display:block;
	margin:0px;
}



.trombiContenu span {
	display:none;
	margin:0px;
}

/* informations */
.trombiInformations {
	
	border-top-width:1px;
border-left-width:1px;
border-right-width:1px;
border-bottom-width:1px;
border-color:#CCCCCC;
border-style:dotted;

background-color:#F8F8F8;
text-align:left;

	display:block;

/*width:65%;

margin-top:15px;
margin-bottom:15px;
margin-left:auto;
margin-right:auto;*/
font-size:0.7em;
color:#666666;
font-weight:normal;
/*padding:3px;
	float:none;*/
	
	float:right;
	width:290px;
	margin: 15px 10px 15px -10px;
	 padding:3px;
}


/*
#content .trombiInformations p {
	font-size:0.75em;
	text-align:left;
	color:#666666;
}
*/
#content .trombiGroupePolitique {
	font-size: 0.95em;
	color:#FF6F23;
	text-decoration:none;
	font-weight:bold;
	clear:both;
	margin-top:5px;
	margin-bottom:20px;

	border-bottom:1px #CCCCCC solid;
	padding-bottom:2px;

	
	 
}

#content .trombiGroupePolitique a {
    line-height: normal;
	

}

#content .trombiNomElu {
	font-size: 0.9em;
	margin-left:0px;
	color:#666666;
	font-weight:normal;
	
	margin-top:0px;
	margin-bottom:0px;
}


/* délégation */
.trombiDelegation
 {

	display:block;

	color:#333333;
	font-weight:normal;

	font-size:0.85em;
	text-align:left;
	font-style:italic;

}
.trombiStatut {
	display:block;
	
	font-family:Verdana;
	color:#333333;
	font-weight:normal;
	line-height:normal;
	font-size:0.85em;
	margin-top:5px;
}

/* photo */
.trombiPhoto {
	/*margin-right:5px;
margin-top:5px;
margin-bottom:15px;*/
	/* modif jl janv 09
	padding: 3px;*/
	margin: 3px 10px 3px 3px;
	border: 1px solid #707070;
float:left;
display:block;
/* modif jl janv 09
clear:both; */
 
}


/* ----------- Culture ----------- */

.cultureContenuSelectionne div {
	display:block;
}

.cultureContenu {
	display:block;
	margin-left:0px;

}


.cultureContenu div {
	display:none;
	margin-left:0px;
}

.cultureCoordonnees{
	
	border-top-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-color:#CCCCCC;
	border-style:dotted;
	
	background-color:#F8F8F8;
	text-align:left;
	display:block;
	width:70%;
	margin-top:15px;

	margin-left:auto;
	margin-right:auto;
	font-size:0.75em;
	color:#666666;
	font-weight:normal;
	padding:3px;
}
#content .cultureCoordonnees p {
	font-size:1em;
	text-align:left;
	color:#666666;
}

#content .cultureCategorie {
	font-size: 0.95em;
	color:#FF6F23;
	text-decoration:none;
	font-weight:bold;
	font-family:Verdana;
	margin-bottom:10px;
	margin-top:10px;
	border-bottom:1px #CCCCCC solid;
}

#content .cultureCategorie a {
    line-height: normal;

    
    
}


#content .cultureTitre {

	font-size: 0.9em;
	margin-left:0px;
	color:#666666;
	font-weight:normal;
	text-indent:10px;
	margin-top:0px;
	margin-bottom:0px;
	border-bottom:0px;
}



.cultureResume {
display:block;

	font-family:Verdana;
	color:#333333;
	font-weight:normal;
	line-height:normal;
	font-size:0.8em;
	text-align:justify;

}

#content .cultureResume p{

	font-size:1em;
	color:#333333;

}

.cultureImage {
display:block;
float:left;
	width: 100px;
	height:100px;
    line-height: normal;
    margin-right:5px;
}

.precedent_suivant {
	font-size:0.8em;
	color:#333333;
	margin-top:20px;
	margin-bottom:15px;
	text-align:center;
	width:400px;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	height:15px;
}


.precedent_suivant_numero_page_selectionnee{
	margin-left:1px;
	margin-right:1px;
	text-align:center;
	display:inline;
	float:left;
	font-weight:bold;
}

.precedent_suivant_numero_page_non_selectionnee{
	margin-left:1px;
	margin-right:1px;
	text-align:center;
	display:inline;
	float:left;
}

.suivant{
	margin-left:1px;
	margin-right:1px;
	text-align:center;
	display:inline;
	float:left;
}

.precedent{
	margin-left:1px;
	margin-right:1px;
	text-align:center;
	display:inline;
	float:left;
}


/*========= Actus - Une ========*/

#content .content_img {
	margin-left:auto;
	margin-right:auto;
	padding:3px;
	border: 1px solid #707070;
	display:block;
	text-align:center;
	
	width:auto;
	max-width:443px;
}

#content .content_txt h1{
	font-size: 1em;
	color:#666666;
	margin: 0px 0;
}


#content .content_txt p{
	text-align: justify;
	margin: 5px 0;
	font-size:0.85em;
	color:#444444;
}


#content .content_img2 {
	margin-right:10px;
	padding: 3px;
	border: 1px solid #707070;
	float:left;
}
#content img.content_img2{
	width: 120px;
	width: auto !important;
	max-width:120px;
	max-height:120px;
}




#content .content_txt {
	width:100%;
	padding-left: 5px;
	float:left;
	margin-top:5px;
	margin-bottom:5px;
}

#content .content_txt h1{
	font-size: 1em;
	color:#666666;
	margin: 0px 0;
}


#content .content_txt p{
	text-align: justify;
	margin: 5px 0;
	font-size:0.85em;
	color:#444444;
}

#content .content_txt .uneTitre{
	font-size: 1em;
	font-weight:bold;
	color:#666666;
	margin: 10px 0;
	display:block;
}


#content .content_txt .uneTexte{
	text-align: justify;
	margin: 13px 0;
	font-size:0.85em;
	color:#444444;
	display:block;
}



#content p {
	text-align: justify;
	margin: 5px 0;
	font-size:0.90em;
	color:#444444;
}

#content p.resume {
	text-align: left;
	font-style:italic;
	color:#707070;
	margin: 5px 0;
}
#content p.resume2 {
	text-align:left;
	font-style:normal;
	color:#707070;
	margin: 5px 0;
}

#content .resume {
	text-align: left;
	font-style:italic;
	color:#707070;
	margin: 5px 0;
	font-size:0.85em;
}


#content .en_savoir {
	display:block;
	clear:both;
	text-align:left;
    width: 104px;
    height: 18px;
    line-height: 18px;
    background: url(btn_en_savoir_small_bg.gif) left top no-repeat;

     color: #707070;
    text-decoration: none;
    text-indent:5px;
    margin-left:310px;
    font-size:10px;
    font-weight:normal;
}


#content .retour_en_haut {
    display: block;
    width: 419px;
    height: 18px;
    line-height: 18px;
    background: url(btn_retour_en_haut.gif) left top no-repeat;
    padding-right: 25px;
    margin: 0;
    text-align: right;
    color: #707070;
    text-decoration: none;
	clear:both;
}



/* actus de rubriques */

#content .actu {
                background: url(ico_actu.gif) top no-repeat;
                background-position:40px 2px;

	margin-left:-24px;
	padding-left:62px;
				margin-bottom:15px;
				margin-top:15px;
				font-size: 1em;
				color: #005CA2;
				width:95%;
				font-weight:bold;
}


#content .actu_liste {
	width:95%;
	font-size:0.85em;
	margin-left: 7px;
	
}

#content .actu_liste img{

	width:90px;
	max-width:100px !important;
	max-width:100px;
	height:70px;
	max-height:70px;
	max-height:70px !important;
	
	}
	
	#content .img_actu_liste {
	padding:2px;
	border:1px gray solid;
	margin-right:5px;
	float:left;
	display:block;
	margin-top:5px;
	
	}

	
#content .actu_liste div.actuTxt{
	text-align: justify;
	margin: 5px 0;
	font-size:0.95em;
	font-weight:normal;



}

#content .actu_liste .actuTitre {
			font-size:1em;
			display:block;
			color: #005CA2;
			font-weight:bold;
	margin-left:0px;
	padding-left:0px;
	margin-top:5px;


}





/* fake partie droite (agenda) */

.fakedroit
{
	background-image:url('fakedroit.gif');
	width:230px;
	height:466px;
}



/* --------------------------------------------------------------------*/
/*          offres d'emplois                        */
/* --------------------------------------------------------------------*/



#content div.emplois {
border-top-width:1px;
border-left-width:1px;
border-right-width:1px;
border-bottom-width:1px;
border-color:#CCCCCC;
border-style:dotted;
width:425px;
background-color:#F8F8F8;
font-size:0.75em;
padding:2px;
margin-top:10px;

}


#content div.emplois p{
margin-left:20px;
text-align:left;
font-size:1.05em;
}
div.emplois div div{
margin-left:0px;
text-align:left;
font-size:1.0em;
}
div.emplois div{
margin-left:20px;
text-align:left;
font-size:1.0em;
}

div.emplois div.filet{
margin-left:0px;
}
#content div.emplois h2{
font-size:1.1em;
color:#555555;
font-weight:bold;
text-align:left;
font-style:normal;
margin-bottom:10px;
margin-top:10px;
text-align:center;
border:0px;
padding-bottom:0px;

}
#content div.emplois h3{
font-size:1em;
color:#666666;
font-weight:bold;
text-align:left;
font-style:normal;
margin-bottom:10px;
margin-top:10px;
margin-left:0px;
}

#content div.emplois a:link{
color:#333333;
font-weight:normal;
text-decoration:none;
}

#content div.emplois a:visited{
color:#666666;
font-weight:normal;
text-decoration:none;
}

#content div.emplois a:hover{
color:#999999;
font-weight:bold;
text-decoration:none;
}


#content div.emplois_liste a:link{
color:#555555;
font-weight:normal;
text-decoration:none;
font-style:normal;
}

#content div.emplois_liste a:visited{
color:#555555;
font-weight:normal;
text-decoration:none;
font-style:normal;
}

#content div.emplois_liste a:hover{
color:#333333;
font-weight:normal;
text-decoration:none;
font-style:normal;
}


#content div.emplois_liste {
border-top-width:1px;
border-left-width:1px;
border-right-width:1px;
border-bottom-width:1px;
border-color:#CCCCCC;
border-style:dotted;
width:443px;
background-color:#F8F8F8;
font-size:0.75em;
padding:2px;
margin-top:10px;

}

#content div.emplois_liste h2{
font-size:1.0em;
color:#666666;
font-weight:bold;
text-align:left;
font-style:normal;
margin-bottom:10px;
margin-top:10px;
text-align:center;

}

#content div.emplois_liste span{
font-size:0.95em;
color:#999999;
text-align:left;
font-style:italic;
margin-bottom:10px;
margin-top:10px;
text-align:center;
}



.offreEmploiProfil
{
	text-align:left;
	color:#333333;
	display:block;
	font-weight:normal;
	font-style:italic;
}
.offreEmploiTitre a
{
	margin-top:10px;
	text-align:left;
	color:#005CA2;
	display:block;
	font-weight:bold;
	font-size:0.8em;

}

.offreEmploiDate
{
	text-align:left;
	color:#333333;
	display:block;
	font-weight:normal;
	font-style:normal;
}

.offreEmploiCadre
{
margin-top:15px;
margin-bottom:10px;
margin-left:10px;
background-color:#F8F8F8;
text-align:left;
	display:block;
}

.offreEmploiService
{
margin-top:5px;
margin-bottom:10px;
border-top-width:1px;
border-left-width:1px;
border-right-width:1px;
border-bottom-width:1px;
border-color:#CCCCCC;
border-style:dotted;
background-color:#F8F8F8;
text-align:left;
	color:#686868;
	font-weight:bold;
	display:block;
	font-size:0.85em;
padding:2px;
}

/* --------------------------------------------------------------------*/
/*          Marchés publics                        */
/* --------------------------------------------------------------------*/

#content div.marchespub p {

font-style:normal;
margin-left:0.75em;
text-align:left;
}

#content div.marchespub h2{
font-size:0.85em;
font-weight:normal;
text-align:left;
font-style:normal;
margin-bottom:0px;
margin-left:10px;
text-indent:0px;
margin-top:5px;
border:0px;
padding-bottom:0px;
}


div.marchespub a:link{
margin-left:0.75em;
font-size:0.85em;
color:#777777;
font-weight:bold;
text-decoration:none;

}

div.marchespub a:visited{
margin-left:0.75em;
color:#888888;
font-size:0.85em;
font-weight:bold;
text-decoration:none;
}

div.marchespub a:hover{
color:#444444;
font-size:0.85em;
font-weight:bold;
text-decoration:none;
}

div.marchespub {
border-top-width:1px;
border-left-width:1px;
border-right-width:1px;
border-bottom-width:1px;
border-color:#CCCCCC;
border-style:dotted;
width:443px;
background-color:#F8F8F8;
clear:both;
}

div.choix_marches {

width:100%;
height:auto;
background-color:#666666;
margin-bottom:15px;
margin-top:5px;
text-align:center;
}


#content div.choix_marches p{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:0.75em;
color:white;
margin-left:8px;
text-align:left;
}




/* --------------------------------------------------------------------*/
/*          Divers                        */
/* --------------------------------------------------------------------*/


.filet{

width:100%;
height:1px;
border-top-width:0px;
border-left-width:0px;
border-right-width:0px;
border-bottom-width:1px;
border-color:#CCCCCC;
border-style:dotted;
clear:both;
}


/* --------------------------------------------------------------------*/
/*          Images                        */
/* --------------------------------------------------------------------*/


#content .largeur_content img{
width:443px;
}

#content .largeur_contentUNE img{
width:435px;
}


#content .largeur_classique img{
max-width:200px;
max-height:150px;
}

#content img.largeur_classique {
width:150px;
max-width:200px;
max-height:150px;
}

#content .contour_img {
	padding:3px;
	border: 1px solid #707070;
	text-align:center;
	float:left;
	width:auto;
	margin-right:5px;

}



#content .contenu_sedeplacer{
	font-size:0.9em;
}

.contenu_tram
{
	width:443px;
	float:left;
	margin-top:-70px;
}

.contenu_train
{
	width:443px;
	float:left;
	margin-top:-70px;
}
/* --------------------------------------------------------------------*/
/*          Formulaires                        */
/* --------------------------------------------------------------------*/


#content .formulaires table{
width:435px;
}
#content .formulaires table table{
width:200px;
font-size:0.9em;
}

#content .formulaires td label{
font-size:0.9em;
}
#content .formulaires tr {
vertical-align:top;
}



#content .formulaires img{
max-width:200px;
max-height:150px;
}

/* --------------------------------------------------------------------*/
/*          Presse                        */
/* --------------------------------------------------------------------*/


#content .presse_accueil {
	
font-size:0.8em;border:1px silver dotted; padding:10px;margin:30px;
}
#content .presse_accueil h2{
	
	margin-top:5px;
}


/* --------------------------------------------------------------------*/
/*          Quartiers                        */
/* --------------------------------------------------------------------*/

		#content .col_pad_blanc {
	        background: url(col_pad_blanc_bg.gif) left top repeat-y;
	        margin-bottom: 10px;

		}
			#content .col_pad_blanc_top {
			    height: 5px;
	        	background: url(col_pad_blanc_top.gif) left top no-repeat;
			}
			#content .col_pad_blanc_bottom {
			    height: 5px;
	        	background: url(col_pad_blanc_bottom.gif) left bottom no-repeat;
			}



#left_col .partie01, #menu_intermediaire .partie01 a, #content .partie01 {
color:#e795db;
font-weight:bold;
text-align:left;
margin-left:5px;

}
#left_col div.partie01 a.partie01 {
margin-left:-5px;
}
#left_col .partie02, #menu_intermediaire .partie02 a, #content .partie02{
color:#87cbfa;
font-weight:bold;
text-align:left;
margin-left:5px;
}
#left_col div.partie02 a.partie02 {
margin-left:-5px;
}

#left_col .partie03, #menu_intermediaire .partie03 a, #content .partie03{
color:#aacc7e;
font-weight:bold;
text-align:left;
margin-left:5px;
}
#left_col div.partie03 a.partie03 {
margin-left:-5px;
}

#left_col .partie04, #menu_intermediaire .partie04 a, #content .partie04{
color:#fd7977;
font-weight:bold;
text-align:left;
margin-left:5px;
}
#left_col div.partie04 a.partie04{
margin-left:-5px;
}
#content .h1_partie01 {
border-bottom:solid 2px #e795db;
color:#666666;
padding-bottom:2px;
}

#content .h1_partie02 {
border-bottom:solid 2px #87cbfa;
color:#666666;
padding-bottom:2px;
}

#content .h1_partie03 {
border-bottom:solid 2px #aacc7e;
color:#666666;
padding-bottom:2px;
}


#content .h1_partie04 {
border-bottom:solid 2px #fd7977;
color:#666666;
padding-bottom:2px;
}


#content div.partie01 {
color:#e795db;
font-weight:bold;
text-align:left;
margin-bottom:10px;
margin-top:10px;

margin-right:5px;
}

#content div.partie02 {
color:#87cbfa;
font-weight:bold;
text-align:left;
margin-bottom:10px;
margin-top:10px;

margin-right:5px;
}

#content div.partie03 {
color:#aacc7e;
font-weight:bold;
text-align:left;
margin-bottom:10px;
margin-top:10px;

margin-right:5px;
}


#content div.partie04 {
color:#fd7977;
font-weight:bold;
text-align:left;
margin-bottom:10px;
margin-top:10px;

margin-right:5px;
}

#liste_rubriques_sous_rubriques .quartiers_partie01,#liste_rubriques .quartiers_partie02,#liste_rubriques .quartiers_partie03,#liste_rubriques .quartiers_partie04
{
		margin:0px 0px 0px 0px;
}

#liste_rubriques_sous_rubriques .quartiers_partie01{
color:#e795db;
margin-left:10px;
}

#liste_rubriques_sous_rubriques .quartiers_partie02 {
color:#87cbfa;
margin-left:10px;
}
#liste_rubriques_sous_rubriques .quartiers_partie03 {
color:#aacc7e;
margin-left:10px;
}
#liste_rubriques_sous_rubriques .quartiers_partie04 {
color:#fd7977;
margin-left:10px;
}


.quartierContenu {
	display:block;

	font-family:Verdana;
	color:#333333;
	font-weight:normal;
	line-height:normal;
	font-size:0.80em;
	text-align:justify;

}

#content .quartierContenu  p{

	font-size:1em;
	color:#333333;

}
#content .quartierContenu  h2{

	font-size:1em;

}
#content .quartierContenu  h3{

	font-size:1em;
	margin-left:0px;
	margin-top:10px;
	margin-bottom:5px;

}
#content .quartierContenu  li{

	font-size:1em;
	margin-bottom:3px;

}

#content .quartierContenu  ul{

	margin-top:2px;
	margin-bottom:2px;

}
.quartiers_niveau1 a
{
	font-weight:normal;
	text-decoration:none;
	font-size:1.10em;
}

.quartiers_niveau1 a:hover
{
	color:#000000;
	text-decoration:none;
}

.quartiers_niveau1 div
{
	display:none;

}

.quartiers_niveau2
{
	margin:0px 0px 0px 10px;
}

#menu_intermediaire .dynamique_niveau1 {
margin-left:0px;

}

/* PISCINES */
#content div.conteneur_piscine {

position:absolute;
margin-top:10px;
margin-left:0px;
width:437px;
height:20px;
display:block;
}

#content a.affiche_texte { padding:0px;margin:0px;display:inline; font-size:0.85em;font-weight:bold; color:#000000;padding-left:1px; margin-right:1px; border-left: 2px solid #60cbea;text-decoration: none; /* définition du lien qui affichera le "calque" */}
#content a.affiche_texte:hover {display:inline;font-weight:bold;font-size:0.85em;border-left: 2px solid #ee4d9b;background-color:#c5e6eb;text-decoration: none; /* correction d'un bug IE */}
#content a.affiche_texte span.horaires_piscines { /* définition de la balise <span> inclue dans <a> */
margin-top:20px;display: none;}
#content a.affiche_texte:hover span.horaires_piscines { /* définition de la balise <span> au survol */
display:block;
position:relative;
margin-top:-250px;



color:#000000;
background-color:#c5e6eb;
border: 1px solid black;
text-align: left;
padding:5px;
float:right;
}
#content span.horaires_piscines strong {
 margin-right:5px;
}
#content span.horaires_piscines em {
 color:#ee4d9b;
 font-weight:bold
}

#content span.horaires_piscines p {

 font-weight:normal
}


/* <div style="width:443px;float:left;margin-top:-70px">    */
/* ajout tribune 30/01/2009 */
.Conteneur_img_tribune img {
display: block;
border:1px solid #707070;
float:left;
margin-right:5px;
padding:3px;
text-align:center;
width:auto;
}
/* ajout formulaire strasmag 24/03/2009 */
.description_form {
 font-weight: bold;
}