﻿/* CSS Contenant tous les styles des menus et bandeau du haut de la page */

.menu_outils
{
	height:21px;
	background-image:url("outils_fond.jpg");
	font-size:1px; letter-spacing:-500px;


color:#FEF0E2;
text-decoration:none;
}

.menu_outils a, .menu_outils a:hover, .menu_outils a:visited, .menu_outils a:link{

	color:#FEF0E2;
	background-repeat:no-repeat;
	text-decoration:none;
	float: left;
	display: block; 
}

/* #FEF0E2; */

.menu_principal
{
	height:41px;
text-decoration:none;
}

.menu_principal a, .menu_principal a:hover, .menu_principal a:visited, .menu_principal a:link
{
	background-repeat:no-repeat;
	float: left;
	display: block;
	text-decoration:none;
	color:#F6F6F6;
	
}


/* #F6F6F6 */

.bandeau_milieu
{
	height:99px;
}

/* --------------------------------------------------------------------*/
/*          liens multi colonnes                             		   */
/* --------------------------------------------------------------------*/

div.lienMenu2Colonnes
{
	width:220px;
	float:left;
	display:inline-block;
} 


div.lienMenu3Colonnes
{
	width:135px;
	float:left;
	padding-bottom:5px;
	display:inline;
} 


.lienMenu2Colonnes a
{
}

/* --------------------------------------------------------------------*/
/*          menu fonctions en haut de la page                          */
/* --------------------------------------------------------------------*/

a.accessibilite
{
	width: 102px;
	height: 21px; 
	background-image:url("outils_accessibilite.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}

a.ecrire
{
	width: 105px;
	height: 21px; 
	background-image:url("outils_ecrire.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px; }

a.envoyer
{
	width: 141px;
	height: 21px; 
	background-image:url("outils_envoyer.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}

a.favoris
{
	width: 132px;
	height: 21px; 
	background-image:url("outils_favoris.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}

a.imprimer
{
	width: 96px;
	height: 21px; 
	background-image:url("outils_imprimer.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}

a.plansite
{
	width: 110px;
	height: 21px; 
	background-image:url("outils_plan_site.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}

a.presse
{
	width: 80px;
	height: 21px; 
	background-image:url("outils_presse.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}

a.infoslegales
{
	width: 117px;
	height: 21px; 
	background-image:url("outils_infos_legales.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}


a.w3c
{
	width: 100px;
	height: 21px; 
	background-image:url("outils_w3c.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}



/* --------------------------------------------------------------------*/
/*                         langues                                     */
/* --------------------------------------------------------------------*/

a.english
{
	width: 28px;
	height: 21px; 
	background-image:url("langue_en.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}

a.francais
{
	width: 26px;
	height: 21px; 
	background-image:url("langue_fr.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}

a.deutsch
{
	width: 23px;
	height: 21px; 
	background-image:url("langue_de.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}

/* --------------------------------------------------------------------*/
/*                   partie centrale du bandeau                        */
/* --------------------------------------------------------------------*/

.bandeau_gauche
{
	float: left;
	display: block; 
	width: 57px;
	height: 99px; 
	background-image:url("bandeau_gauche.jpg");
	background-repeat:no-repeat;
}

.bandeau_flash
{
	float: left;
	display: block; 
	width: 158px;
	height: 99px; 
	background-image:url("strasbourgEU.gif");
	background-repeat:no-repeat;
	margin:0px 0px 0px 0px;
}

.bandeau_centre
{
	float: left;
	display: block; 
	width: 745px;
	height: 99px; 
	background-image:url("bandeau_centre.jpg");
	background-repeat:no-repeat;
}

.bandeau_focus
{
	float: right;
	display: inline;
	position:relative;
	right:-3px; 
	top:-99px;
	width: 133px;
	height: 99px; 
	background-image:url("focus_final.gif");
	background-repeat:no-repeat;
}


/* --------------------------------------------------------------------*/
/*                      4. menu principal                              */
/* --------------------------------------------------------------------*/

a.accueil
{
	width: 57px;
	height: 41px; 
	background-image:url("menu_accueil.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}

.menu_principal a.decouvrir, .menu_principal a:hover.decouvrir, .menu_principal a:visited.decouvrir
{
	color:#0060AA;
	text-decoration:none;
	width: 81px;
	height: 41px; 
	background-image:url("menu_decouvrir.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}

.menu_principal a.magazines, .menu_principal a:hover.magazines, .menu_principal a:visited.magazines
{
	color:#0060AA; 
	width: 77px;
	height: 41px; 
	background-image:url("menu_magazines.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}

a.deplacement
{
	width: 73px;
	height: 41px; 
	background-image:url("menu_deplacement.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}

a.environnement
{
	width: 83px;
	height: 41px; 
	background-image:url("menu_environnement.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}

a.urbanisme
{
	width: 64px;
	height: 41px; 
	background-image:url("menu_urbanisme.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}

a.culture
{
	width: 61px;
	height: 41px; 
	background-image:url("menu_culture.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}

a.sport
{
	width: 61px;
	height: 41px; 
	background-image:url("menu_sport.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}

a.enseignement
{
	padding-left:1px;
	width: 75px;
	height: 41px; 
	background-image:url("menu_enseignement.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}

a.social
{
	width: 60px;
	height: 41px; 
	background-image:url("menu_social.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}

a.jeunesse
{
	width: 64px;
	height: 41px; 
	background-image:url("menu_jeunesse.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}

a.seniors
{
	width: 63px;
	height: 41px; 
	background-image:url("menu_seniors.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}

a.economie
{
	width: 64px;
	height: 41px; 
	background-image:url("menu_economie.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}

a.international
{
	width: 76px;
	height: 41px; 
	background-image:url("menu_international.jpg");
	font-size:1px; letter-spacing:-500px;


                padding-top:2px;}
/* --------------------------------------------------------------------*/
/*                      menu territoire                                */
/* --------------------------------------------------------------------*/

div .communes
{
	height: 20px; 
	display:block;
}

a.communes
{
	background-image:url("ico_commune.gif");
	background-repeat:no-repeat;
	padding-left:20px;
	margin-left:10px;
	margin-bottom:8px;
	padding-bottom:10px;
}

div .quartiers
{
	height: 20px; 
	display:block;
}

a.quartiers
{
	background-image:url("ico_quartier.gif");
	background-repeat:no-repeat;
	padding-left:20px;
	margin-left:10px;
	margin-bottom:8px;
	padding-bottom:10px;
}



/* --------------------------------------------------------------------*/
/*                      menu pratique                                  */
/* --------------------------------------------------------------------*/
.div bloc_pratique
{
	
}

a.plandeville
{
	width:30%;
	float: left;
	background-image:url("ico_plan_ville.gif");
	background-repeat:no-repeat;
	padding-left:20px;
	margin-left:10px;
	margin-right:3px;
height:18px;


}

a.qualiteair
{
	width:30%;
	float: left;
	background-image:url("ico_qualite_eau.gif");
	background-repeat:no-repeat;
	padding-left:20px;
	margin-left:10px;
	margin-right:3px;
margin-bottom:6px;
height:18px;

}

a.qualiteeau
{
	width:30%;
	float: left;
	background-image:url("ico_qualite_eau.gif");
	background-repeat:no-repeat;
	padding-left:20px;
	margin-left:10px;
	margin-right:3px;
height:18px;

}

a.meteo
{
	width:30%;
	float: left;
	background-image:url("ico_meteo.gif");
	background-repeat:no-repeat;
	padding-left:20px;
	margin-bottom:5px;
	margin-left:10px;
	margin-right:3px;

height:18px;
}

a.marches
{
	width:30%;
	float: left;
	background-image:url("ico_marche.gif");
	background-repeat:no-repeat;
	padding-left:20px;
	margin-left:10px;
	margin-bottom:5px;
	margin-right:3px;
height:18px;

}

a.travaux
{
	width:30%;
	float: left;
	background-image:url("ico_travaux.gif");
	background-repeat:no-repeat;
	padding-left:20px;
	margin-left:10px;
	margin-bottom:5px;
	margin-right:3px;
height:18px;

}

a.hotels
{
	width:30%;
	float: left;
	background-image:url("ico_resto.gif");
	background-repeat:no-repeat;
	padding-left:20px;
	margin-left:10px;
	margin-bottom:5px;
	margin-right:3px;
margin-bottom:3px;
height:18px;
}

a.pharmacies
{
	width:30%;
	float: left;
	background-image:url("ico_pharma.gif");
	background-repeat:no-repeat;
	padding-left:20px;
	margin-left:10px;
	margin-bottom:5px;
	margin-right:3px;
height:18px;

}


a.webcam
{
	width:30%;
	float: left;
	background-image:url("ico_webcam.gif");
	background-repeat:no-repeat;
	padding-left:20px;
	margin-left:10px;
	margin-bottom:5px;
	margin-right:3px;

height:18px;

}

a.urgences
{
	width:30%;
	float: left;
	background-image:url("ico_num.gif");
	background-repeat:no-repeat;
	padding-left:20px;
	margin-left:10px;
	margin-bottom:5px;
	margin-right:3px;
height:18px;

}

a.trafic
{
	width:30%;
	float: left;
	background-image:url("ico_traffic.gif");
	background-repeat:no-repeat;
	padding-left:20px;
	margin-left:10px;
	margin-bottom:5px;
	margin-right:3px;
height:18px;

}

a.cimetieres
{
	width:30%;
	float: left;
	background-image:url("ico_cimetiere.gif");
	background-repeat:no-repeat;
	padding-left:20px;
	margin-left:12px;
	margin-bottom:5px;
	margin-right:5px;
height:18px;

}

a.piscines
{
	width:30%;
	float: left;
	background-image:url("ico_piscine.gif");
	background-repeat:no-repeat;
	padding-left:20px;
	margin-left:12px;
	margin-bottom:5px;
	margin-right:5px;
	margin-top:5px;
height:18px;

}

/* --------------------------------------------------------------------*/
/*          menu "Se déplacer"                                         */
/* --------------------------------------------------------------------*/

a.tram
{
	padding-right:5px;
	padding-bottom:-20px;
	padding-top:20px;
	vertical-align:middle;
	display:inline-block;
	width: 130px;
	height: 50px; 
	background-image:url(tram.gif);
	background-repeat:no-repeat;
	float:left;
	text-align:left;
	text-indent:55px;
}

a.bus
{
	padding-right:5px;
	padding-bottom:5px;
	padding-top:20px;
	vertical-align:middle;
	display:inline-block;
	width: 130px;
	height: 50px; 
	background-image:url(bus.jpg);
	background-repeat:no-repeat;
	float:left;
	text-align:left;
	text-indent:55px;
}

a.voiture
{ 
	padding-right:5px;
	padding-bottom:-20px;
	padding-top:20px;
	vertical-align:middle;
	display:inline-block;
	width: 130px;
	height: 50px; 
	background-image:url(voiture.jpg);
	background-repeat:no-repeat;
	float:left;
	text-align:left;
	text-indent:55px;
}

a.velo
{
	padding-right:5px;
	padding-bottom:-20px;
	padding-top:20px;
	vertical-align:middle;
	display:inline-block;
	width: 130px;
	height: 50px; 
	background-image:url(velo.jpg);
	background-repeat:no-repeat;
	float:left;
	text-align:left;
	text-indent:55px;
}

a.train
{
	padding-right:5px;
	padding-bottom:5px;
	padding-top:20px;
	vertical-align:middle;
	display:inline-block; 
	width: 130px;
	height: 50px; 
	background-image:url(train.jpg);
	background-repeat:no-repeat;
	float:left;
	text-align:left;
	text-indent:55px;
}

a.tramtrain
{
	padding-right:5px;
	padding-bottom:5px;
	padding-top:20px;
	vertical-align:middle;
	display:inline-block; 
	width: 130px;
	height: 50px; 
	background-image:url(tramtrain.jpg);
	background-repeat:no-repeat;
	float:left;
	text-align:left;
	text-indent:55px;
}

a.bateau
{

	padding-right:5px;
	padding-bottom:-20px;
	padding-top:20px;
	display:inline-block;
	width: 130px;
	height: 50px; 
	background-image:url(bateau.jpg);
	background-repeat:no-repeat;
	float:left;
	text-align:left;
	text-indent:55px;
	vertical-align:middle;
}

a.avion
{
	padding-right:5px;
	padding-bottom:-20px;
	padding-top:20px;
	vertical-align:middle;
	display:inline-block;
	width: 130px;
	height: 50px; 
	background-image:url(avion.jpg);
	background-repeat:no-repeat;
	float:left;
	text-align:left;
	text-indent:55px;
}

a.marche
{
	line-height:20px;
	padding-right:5px;
	padding-bottom:-20px;
	padding-top:20px;
	display:inline-block;
	width: 130px;
	height: 50px; 
	background-image:url(marche.jpg);
	background-repeat:no-repeat;
	float:left;
	text-align:left;
	text-indent:55px;
}

/* --------------------------------------------------------------------*/
/*          menu "Communes"                                            */
/* --------------------------------------------------------------------*/

/* a.bischheim
{
	padding-right:5px;
	vertical-align:middle;
	display:inline-block;
	width: 100px;
	height: 100px; 
	background-image:url(communes/bischheim.jpg);
	background-repeat:no-repeat;
}

a.blaesheim
{
	padding-right:5px;
	vertical-align:middle;
	display:inline-block;
	width: 100px;
	height: 100px; 
	background-image:url(communes/blaesheim.jpg);
	background-repeat:no-repeat;
}

a.eckbolsheim
{
	padding-right:5px;
	vertical-align:middle;
	display:inline-block;
	width: 100px;
	height: 100px; 
	background-image:url(communes/Eckbolsheim.jpg);
	background-repeat:no-repeat; 
}

*/
/* --------------------------------------------------------------------*/
/*                      menus dynamiques                               */
/* --------------------------------------------------------------------*/

.menu_sedeplacer {
	float:left; 
	position:relative; 
	top:-80px;
	width:300px;
	text-align:left;
	font-size:0.8em;
}

.menu_dynamique
{
	border-color:#707070;
	border-style:solid;
	border-width:1px;
	width:auto;
	padding:5px 5px 5px 5px;
	font-size: 0.625em;
}

.transparent
{
        display: none; 
}


/* -------------------  Sommaire Gauche de rubrique --------------------------------------*/
/* ------------------------ Niveau 1 ----------------------------------*/

.dynamique_niveau1 a
{
	font-weight:normal;
	text-decoration:none;
	font-size:1.10em;
}

.dynamique_niveau1 a:hover
{
	color:#000000;
	text-decoration:none;
}


.dynamique_niveau1
{
	margin:0px 5px 0px 5px;
}

.dynamique_selection_niveau1
{
	margin:0px 5px 0px 5px;

}

a.dynamique_selection_niveau1
{
	text-decoration:none;
	font-style:normal;
	font-size:1.10em;
	font-weight:bold;
	color:#FF6F23;
	
}


.dynamique_selection_niveau1 a:hover
{
	color:#000000;
}



/* ------------------------ Niveau 2 ----------------------------------*/

.dynamique_niveau2
{
	margin:0px 5px 0px 15px;
}

 a.dynamique_niveau2
{
	font-size:1.05em;
	font-weight:normal;
	text-decoration:none;
}

.dynamique_selection_niveau2
{
	margin:0px 5px 0px 15px;

}

a.dynamique_selection_niveau2 
{
	font-style:normal;
	font-weight:bold;
	color:#FF6F23;
}

.dynamique_selection_niveau2 a:hover
{
	color:#000000;
}



/* -------------------  Accueil de rubrique --------------------------------------*/
/* ------------------------ Niveau 1 ----------------------------------*/

#content .dynamique_niveau1 a
{
	font-weight:normal;
	text-decoration:none;
	font-size:0.75em;
}

#content .dynamique_niveau1 a:hover
{
	color:#000000;
	text-decoration:none;
}


#content .dynamique_niveau1
{
	margin:0px 15px 0px 5px;
}

#content .dynamique_selection_niveau1
{
	margin:0px 15px 0px 5px;
}

#content a.dynamique_selection_niveau1
{
	text-decoration:none;
	font-style:normal;

	font-weight:bold;
	
}

#content .dynamique_selection_niveau1 a:hover
{
	color:#000000;
}



/* ------------------------ Niveau 2 ----------------------------------*/

#content .dynamique_niveau2
{
	margin:0px 15px 0px 10px;

}

#content  a.dynamique_niveau2
{
	font-size:0.75em;
	font-weight:normal;
	text-decoration:none;
}

#content .dynamique_selection_niveau2
{
	margin:0px 15px 0px 10px;
}

#content .dynamique_selection_niveau2 a
{
	font-style:normal;
	font-weight:bold;

}

#content #content .dynamique_selection_niveau2 a:hover
{
	color:#EE3C75;
}
/* ------------------------ Niveau 1 ----------------------------------*/

.dynamique_niveau3 a
{
	background-image:none;
	background-repeat:no-repeat;
	vertical-align:middle;
	background-position:0px 0px;
	padding-left:0px;
}

.dynamique_niveau3 div
{
	padding:5px 5px 5px 5px;
}

/* ------------------------ ???? ----------------------------------*/

a.liens_transparents
{
        display: none; 
}


div.menuPageSimple
{
	padding-left:5px;
	display:inline-block;
	float:left;
	width:125px;
}