﻿/* CSS Document */
@media print {

@page {
        
        margin:0px;
        }


body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
}
.clear {
	clear:both;
}
a img {
	border: 0;
}
.left {
	float: left;
}
.right {
	float: right;
}
.sep_hr {
    border: 0;
    height: 1px;
    margin: 0 12px;
    padding: 0;
    color: #707007;
}

/*========= Header ========*/

#header {
	display:none;
}

	/*========= Menu top ========*/
	#menu_top {
		display: none;
	}
	
	/*========= Header corps ========*/
	#header_corps {
	    padding-top: 20px;
        height: 155px;
	}
		#header_corps img {
			display: none;
		}
		#header_corps .logo {
            display: block;
		}

	/*========= Menu principal ========*/
	#menu_principal {
		display: none;
	}



/*========= Partie principale (main) ========*/

#main {
	width: 100%;
	padding: 0;
	margin: 0;
}



    /*========= Colonne gauche ========*/
	#left_col {
		display: none;
	}


	/*========= Colonne central ========*/
	#content {
		width: 100%;
		font-size: 0.625em;
		color: #000;
	}
	/* Cf content.css */


	/*========= Colonne droite ========*/
	#right_col {
		display: none;
	}
	
	.right_col_pad_blanc {
 			background-image:none;
	        width:100%;
		}

} /* Fin @media */
