﻿@media print {

#collecte1-06_ 
{
	display: none;
}

#printbutton
{
	display: none;
}

#collecte1-11_
{
	display:none;
}

#pdf a:link:after, #pdf a:visited:after 
{
    display:block;
    content: " (" attr(href) ") ";
    font-size: 90%;
  }

#content span
{
	font-size: 1.0em; 
}

.printDechet
{
	display:block;	
}
#label_om
{
    color: White !important;
    font-size : 1.7em !important;
    font-weight : bold !important ;
}
#label_recap
{
    color:#444444 !important;
    font-size:1.5em !important;
}
#collecte1-05_
{
    font-size:1.5em!important;

}
#pdf
{
    display : none ;
}
}