#plan_site
{
 font-family: arial, verdana, sans-serif;
 font-size:	11px;
 color:#000;
 font-weight:normal;
 text-align:left;
 margin-left:30px;
 margin-top:40px;
}
#plan_site ul
{
 color:#000;
 padding-left:0px;
 margin-left:20px;
}
#plan_site li
{
 color:#000;
 list-style-type: inherit;
 margin-left:30px;
}
.lien_retour_categories
{
 font-family: arial, verdana, sans-serif;
 font-size:	13px;
 color:#000;
 font-weight:normal;
 padding-bottom:15px;
 font-weight:bold;
 display:block;
}
.li_enregistrement
{
 font-weight:bold;
 font-size:10px;
 color:#900;
}

.ul_enfant
{
 color:#000;
}
.ul_racine
{
 color:#000;
}
.li_enfant
{
 color:#000;
}
.li_racine
{
 color:#000;
}
.conteneur_ul
{
 color:#000;
 font-size:	13px;
 font-weight:bold;
 display:inline;
 vertical-align:top;
 width:33%;
 margin-bottom:30px;
}
.conteneur_ul_pas_ie
{
 color:#000;
 font-size:	13px;
 font-weight:bold;
 display:block;
 vertical-align:top;
 width:100%;
 margin-bottom:30px;
}

#plan_site a
{
 color:#000;
 text-decoration:none;
}
#plan_site a:hover
{
 color:#000;
 text-decoration:underline overline;
}
#plan_site a:focus, a:active, a:visited
{
 color:#000;
 text-decoration:underline overline;
}
.list_conteneur
{
 display:inline;
}
.red_dep
{
 display:inline;
}
#plan_site h1
{
 font-size:	13px;
}
#plan_site h2
{
 text-align:left;
 font-size:	13px;
}
#plan_site h3
{
 color:#000;
 font-size:	13px;
 font-weight:bold;
 display:inline;
}
#plan_site h4
{
 color:#000;
 font-size:	12px;
 font-weight:normal;
 display:inline;
}
#plan_site h5, h6
{
 color:#000;
 font-size:	12px;
 font-weight:normal;
 display:inline;
}
.img_reddep
{
 cursor:pointer;
 display:inline;
 margin-left:0px;
}

.icone_categories
{
 border:0px;
 margin-left:10px;
}


