table.menup { display: block; margin: 0; padding: 0; border-style: none }
table.menup td.N1 { color: #021d42; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; line-height: 11px; text-decoration: none; text-transform: uppercase; padding-top: 2px; padding-bottom: 2px; padding-left: 2px }
table.menup td.N1 a { color: #021d42; text-decoration: none }
table.menup td.N1 a:hover { color: #ffe20b;  text-decoration: none }
table.menup td.N2 { color: #254d82; font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; line-height: 9px; text-decoration: none; padding-top: 3px; padding-bottom: 4px; padding-left: 2px }
table.menup td.N2 a { color: #254d82; text-decoration: none }
table.menup td.N2 a:hover { color: #d77a27; text-decoration: none }
table.menup td.N3 { color: #3c75b0; font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; line-height: 9px; text-decoration: none; padding-top: 3px; padding-bottom: 4px; padding-left: 2px }
table.menup td.N3 a { color: #3c75b0; text-decoration: none }
table.menup td.N3 a:hover { color: #db8132;  text-decoration: none }
table.menup td.N4 { color: #6098d1; font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; line-height: 9px; text-decoration: none; padding-top: 3px; padding-bottom: 4px; padding-left: 2px }
table.menup td.N4 a { color: #6098d1; text-decoration: none }
table.menup td.N4 a:hover { color: #bc593a; text-decoration: none }
table.block td.T { color: #00074c; font-size: 10px; font-family: Arial, Verdana, Helvetica, sans-serif; line-height: 10px; text-decoration: none }
table.block td.T p { color: #00074c; font-size: 10px; font-family: Arial, Verdana, Helvetica, sans-serif; line-height: 10px; text-decoration: none; background-image: url("pblock.gif"); background-repeat: no-repeat; background-position: 0 1px; text-align: left; list-style: url("pblock.gif"); display: block; margin: 3px 0 3px 4px; padding: 0 3px 0 10px }
table.block td.T a { color: #00074c; text-decoration: none }
table.block td.T a:hover { color: #db8132; text-decoration: none }
table.block td.T div.S { margin: 4px 20px 4px 25px; border-top: 1px solid #f8fcfd }
div.zpage   { display: block; margin: 0; padding: 0; width: 476px ; max-width:476px }
div.zpage hr  {margin: 3px 30px;	padding: 0;	color: #021d42;	height: auto;	border: thin solid #021d42;	}
div.zpage p   { color: #021d42; font-size: 10px; font-family: Arial, Verdana, Helvetica, sans-serif; line-height: 10px; text-align: justify; margin: 1px 30px; padding:0 }
div.zpage p.listpdf  { color: #021d42; font-size: 10px; font-family: Arial, Verdana, Helvetica, sans-serif; line-height: 12px; background-image: url("pdf.gif"); background-repeat: no-repeat; background-position: 2px 1px; text-align: justify; display: block; margin: 3px 0 10px 0; padding: 0 30px }
div.zpage a  { color: #021d42; text-decoration: underline; text-align: justify }
div.zpage a:visited  { color: #3c75b0; text-decoration: underline; text-align: justify }
div.zpage a:hover { color: #bc593a; text-decoration: underline; text-align: justify }
div.zpage ul { color: #021d42; font-size: 10px; font-family: Arial, Verdana, Helvetica, sans-serif; line-height: 12px; text-align: justify; list-style-type: disc; list-style-image: url("puce.gif"); margin: 0 30px 3px; padding: 0 0 0 20px }
div.zpage ol { color: #021d42; font-size: 10px; font-family: Arial, Verdana, Helvetica, sans-serif; line-height: 12px; text-align: justify;  margin: 0 30px 3px; padding: 0 0 0 20px }
div.zpage p.tchap   { color: #165597; font-size: 14px; font-family: Verdana, Helvetica, sans-serif; font-variant: small-caps; font-weight: 700; line-height: 15px; text-align: right; display: block; margin-top: 0; margin-right: 35px; margin-bottom: 15px; clear: both }
div.zpage p.tchap2   { color: #165597; font-size: 12px; font-family: Verdana, Helvetica, sans-serif; font-variant: small-caps; font-weight: 600; line-height: 14px; text-align: right; display: block; margin-top: 0; margin-right: 35px; margin-bottom: 15px; clear: both }
div.zpage p.tchoix { color: #165597; font-size: 12px; font-family: Verdana, Helvetica, sans-serif; font-weight: 700; line-height: 12px; text-align: center; display: block; margin: 25px 0 15px; clear: both }

div.zpage div.tniv1  { display: block; margin-right: 30px; margin-left: 30px; padding: 0 0 8px; clear: both; overflow: hidden; border-left: 1px solid #93bce5;}

div.zpage div.tniv1 p  { color: #05234b; font-size: 17px; font-family: Arial, Verdana, Helvetica, sans-serif; font-variant: small-caps; font-weight: bold; line-height: 20px; display: inline; margin-left: 0; padding: 0 40px 0 2px }

div.zpage div.tniv1 p.sst  { color: #05234b; font-size: 13px; font-family: Arial, Verdana, Helvetica, sans-serif; font-variant: small-caps; font-weight: bold; line-height: 16px; background-image: none; display: block; margin-right: 0; margin-left: 2px; padding-right: 0; padding-left: 0; width: 416px }
div.zpage div.tniv1 a { color: #05234b; font-weight: bold; text-decoration: underline }
div.zpage div.tniv1 a:hover { color: #db8132; font-weight: bold }
div.zpage div.tniv1g  { margin-left: 14px; padding: 0 0 8px; border-left: 1px solid #93bce5 }
div.zpage div.tniv1g p { color: #05234b; font-size: 17px; font-family: Arial, Verdana, Helvetica, sans-serif; font-variant: small-caps; font-weight: bold; line-height: 20px; background-image: url("t1r.gif"); background-repeat: no-repeat; background-position: right 10px; display: inline; margin-left: 0; padding: 0 40px 0 2px; clear: both }


div.zpage p.tniv2 { color: #05234b; font-size: 12px; font-family: Arial, Verdana, Helvetica, sans-serif; font-weight: bold; line-height: 18px; display: block; margin-right: 30px; margin-left: 30px; padding: 0 0 8px; clear: both; overflow: hidden }


div.zpage h2      { color: #05234b; font-size: 12px; font-family: Arial, Verdana, Helvetica, sans-serif; font-weight: bold; line-height: 14px; display: block; margin-right: 30px; margin-left: 30px; padding: 0 0 0px; clear: both; overflow: hidden }
div.zpage p.piedpage  { color: #00074c; font-size: 10px; font-family: Arial, Verdana, Helvetica, sans-serif; line-height: 10px; text-align: justify; margin: 0 10px; padding: 0 }
div.zpage table.navig  { color: #05234b; font-size: 10px; font-family: Arial, Verdana, Helvetica, sans-serif; line-height: 12px; margin-top: 15px; margin-bottom: 10px; margin-left: 30px; width: 416px; border-collapse: collapse          }
div.zpage table.agenda { color: #05234b; font-size: 10px; font-family: Arial, Verdana, Helvetica, sans-serif; line-height: 12px; margin-left: 30px; width: 416px; border-collapse: collapse        }
div.zpage table.agenda td { margin: 0; padding: 0 }
div.zpage table.agenda td.paire { text-align: center; margin: 0; padding: 2px }
div.zpage table.agenda th.paire { font-weight: normal; text-align: left; margin: 0; padding: 2px 2px 2px 6px }
div.zpage table.agenda td.impaire { background-color: #b2d2f3; text-align: center; margin: 0; padding: 2px }
div.zpage table.agenda th.impaire { font-weight: normal; background-color: #b2d2f3; text-align: left; margin: 0; padding: 2px 2px 2px 6px }
div.zpage table.result { color: #05234b; font-size: 10px; font-family: Arial, Verdana, Helvetica, sans-serif; line-height: 12px; background-color: #b2d2f3; margin-left: 30px; width: 416px; border: solid 1px #021d42; border-collapse: collapse       }
div.zpage table.result th { color: #fff; font-size: 11px; font-weight: bold; line-height: 12px; background-color: #254d82; text-align: center; padding: 2px; border-right: 1px inset #f8fcfd; border-left: 1px inset #f8fcfd }
div.zpage table.result th.ligne { color: #05234b; font-size: 11px; font-weight: bold; line-height: 12px; background-color: #9fbbe4; text-align: center; padding: 2px; border: outset 1px #254d82 }
div.zpage table.result td { text-align: center; padding: 2px; border: inset 1px #3c75b0 }
div.zpage table.result caption { color: #05234b; font-size: 10px; font-family: Arial, Verdana, Helvetica, sans-serif; font-style: italic; line-height: 12px; text-align: right; padding-top: 2px }
div.zpage table.bicolonne { color: #05234b; font-size: 10px; font-family: Arial, Verdana, Helvetica, sans-serif; line-height: 12px; margin-left: 30px; width: 416px; border-collapse: collapse       }
div.zpage table.bicolonne td { text-align: justify; margin: 0; padding: 0 }
div.zpage table.bicolonne td p { text-align: justify; margin-right: 0; margin-left: 0; padding-right: 0; padding-left: 0 }

div.zpage table.illust   { margin: 0; padding: 0 }
div.zpage table.illust td.titre { color: #05234b; font-size: 10px; font-family: Arial, Verdana, Helvetica, sans-serif; line-height: 12px; text-align: right; margin: 0; padding: 0 }
div.zpage table.illust td.marged { width: 30px }
div.zpage table.illustr { margin: 0 0 0 5px; padding: 0; float: right }
div.zpage table.illustr td.titre { color: #05234b; font-size: 10px; font-family: Arial, Verdana, Helvetica, sans-serif; line-height: 12px; text-align: right; margin: 0; padding: 0 }
div.zpage table.illustr td.marged { width: 30px }
div.zpage table.illustl { margin: 0 0 0 5px; padding: 0; float: left }
div.zpage table.illustl td.titre { color: #05234b; font-size: 10px; font-family: Arial, Verdana, Helvetica, sans-serif; line-height: 12px; text-align: right; margin: 0; padding: 0 }
div.zpage table.illustl td.marged { width: 30px }
div.zpage table.bicolonne td table.illustr { margin: 0; padding: 0; float: right }
div.zpage table.bicolonne td table.illustr td.marged { width: 1px }
div.zpage form  { margin: 0 0; padding: 0 }
div.zpage select { color: #05234b; font-size: 10px; font-family: Arial, Verdana, Helvetica, sans-serif; line-height: 12; background-color: #b2d2f3; border: solid 1px #3c75b0 }
div.zpage select:hover { color: #f8fcfd; background-color: #3c75b0 }
div.zpage select.manif  { height: 14px }

div.zpage input { color: #05234b; font-size: 10px; font-family: Arial, Verdana, Helvetica, sans-serif; line-height:12px; background-color: #b2d2f3; border: solid 1px #3c75b0;}
div.zpage input.manif  { height: 14px }


div.zpage div.pages     { color: #165597; font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; line-height: 17px; margin: 0 0 15px 30px }



div.zpage div.pages div.numpage2     { color: #e0f5fc; font-size: 11px; font-family: Arial, Verdana, Helvetica, sans-serif; font-weight: bold; background-color: #165597; display: inline; margin-right: 5px; padding-right: 3px; padding-left: 3px; border: solid 1px #165597 }
div.zpage div.pages div.numpage     { color: #165597; font-size: 11px; font-family: Arial, Verdana, Helvetica, sans-serif; font-weight: bold; display: inline; margin-right: 5px; padding-right: 3px; padding-left: 3px; border: solid 1px }
div.zpage div.pages div.numpage a    { color: #165597; text-decoration: none }
div.zpage div.pages div.numpage a:hover  { color: #db8132; text-decoration: none }
div.zpage table.bicolonne td p.tniv1actu     { color: #05234b; font-size: 13px; font-family:Verdana,  Arial, Helvetica, sans-serif;  font-variant: small-caps; font-weight: bold; line-height: 15px; text-align: left; display: block; margin: 0; padding: 0 0 4px 2px; clear: both; overflow: hidden; border-left: 1px solid #93bce5 }
div.zpage table.bicolonne td p.tniv1actu a  { color: #05234b; font-weight: bold; text-decoration: none }
div.zpage table.bicolonne td p.tniv1actu a:hover { color: #db8132; font-weight: bold }

/* ############ SERVICES ############## */
.texte-bloc { font-size: 10px; font-family: Arial, Verdana, Helvetica, sans-serif; line-height: 12px; text-align: justify; }

.arbo-vertical {background-image: url(vertical.gif);	background-repeat:repeat-y;	background-position: center center;}
	
.arbo-t-d {background-image: url(t-droit.gif);background-repeat: no-repeat;background-position: center center;}

.arbo-t-g {background-image: url(t-inv.gif);background-repeat: no-repeat;background-position: center center;}
	
.arbo-case-mil-sans {background-image: url(milieu_sans.gif);background-repeat: repeat-x;	background-position: center center;font-size: 9px;	font-family: Arial, Verdana, Helvetica, sans-serif; line-height: 11px;	color: #254d82;	text-align: center;}

.arbo-case-gauche {background-image: url(bord_g.gif);	background-repeat: no-repeat;	background-position: right center; width:4px;}
.arbo-case-droit {background-image: url(bord_d.gif);	background-repeat: no-repeat;	background-position: left center;	width:4px;}
td.arbo-case-mil-sans a {color: #254d82;}
td.arbo-case-mil-sans a:visited {color: #254d82;}

.arbo-croix {background-image: url(croix.gif);background-repeat: no-repeat;background-position: center center;}
.arbo-coude-d {background-image: url(coude-d.gif);background-repeat: no-repeat;background-position: center center;}
.arbo-coude-g {	background-image: url(l-inv.gif);background-repeat: no-repeat;  background-position: center center;}
.arbo-horizontal {background-image: url(horizontal.gif);background-repeat:repeat-x;background-position: center center;}
