
/* NOIR */
.Noir, table.Noir, td.Noir, a.Noir, p.Noir, span.Noir {
	font-size: 0.70em;
	color: #000000;
}
.NoirBold, table.NoirBold, td.NoirBold, a.NoirBold, p.NoirBold, span.NoirBold {
	font-size: 0.70em;
	color: #000000;
	font-weight: bold;
}


/* GRIS */
.Gris, table.Gris, td.Gris, a.Gris, p.Gris, span.Gris, h3.Gris, h4.Gris {
	font-size: 0.70em;
	color: #333333;
}
.GrisBold, table.GrisBold, td.GrisBold, a.GrisBold, p.GrisBold, span.GrisBold, h1.GrisBold, h2.GrisBold, h3.GrisBold, h4.GrisBold {
	font-size: 0.70em;
	color: #333333;
	font-weight: bold;
}

.GrisBoldNormal, table.GrisBoldNormal, td.GrisBoldNormal, a.GrisBoldNormal, p.GrisBoldNormal, span.GrisBoldNormal, h1.GrisBoldNormal, h2.GrisBoldNormal, h3.GrisBoldNormal, h4.GrisBoldNormal {
	color: #333333;
	font-weight: bold;
}


/* VERT */
.Vert, table.Vert, td.Vert, a.Vert, p.Vert, span.Vert, h1.Vert, h2.Vert, h3.Vert, h4.Vert {
	font-size: 0.70em;
	color: #00A651;
}
.VertBold, table.VertBold, td.VertBold, a.VertBold, p.VertBold, span.VertBold, h1.VertBold, h2.VertBold, h3.VertBold, h4.VertBold {
	font-size: 0.70em;
	color: #00A651;
	font-weight: bold;
}


/* BLEU */
.Bleu, table.Bleu, td.Bleu, a.Bleu, p.Bleu, span.Bleu, h1.Bleu, h2.Bleu, h3.Bleu, h4.Bleu {
	font-size: 0.70em;
	color: #00A0D9;
}
.BleuBold, table.BleuBold, td.BleuBold, a.BleuBold, p.BleuBold, span.BleuBold, h1.BleuBold, h2.BleuBold, h3.BleuBold, h4.BleuBold {
	font-size: 0.70em;
	color: #00A0D9;
	font-weight: bold;
}


/* ROSE */
.Rose, table.Rose, td.Rose, a.Rose, p.Rose, span.Rose, h1.Rose, h2.Rose, h3.Rose, h4.Rose {
	font-size: 0.70em;
	color: #C13082;
}
.RoseBold, table.RoseBold, td.RoseBold, a.RoseBold, p.RoseBold, span.RoseBold, h1.RoseBold, h2.RoseBold, h3.RoseBold, h4.RoseBold {
	font-size: 0.70em;
	color: #C13082;
	font-weight: bold;
}


/* VIOLET */
.Violet, table.Violet, td.Violet, a.Violet, p.Violet, span.Violet, h1.Violet, h2.Violet, h3.Violet, h4.Violet {
	font-size: 0.70em;
	color: #824597;
}
.VioletBold, table.VioletBold, td.VioletBold, a.VioletBold, p.VioletBold, span.VioletBold, h1.VioletBold, h2.VioletBold, h3.VioletBold, h4.VioletBold {
	font-size: 0.70em;
	color: #824597;
	font-weight: bold;
}


/* BLANC */
.Blanc, table.Blanc, td.Blanc, a.Blanc, p.Blanc, span.Blanc, h1.Blanc, h2.Blanc, h3.Blanc, h4.Blanc {
	font-size: 0.70em;
	color: #FFFFFF;
}
.BlancBold, table.BlancBold, td.BlancBold, a.BlancBold, p.BlancBold, span.BlancBold, h1.BlancBold, h2.BlancBold, h3.BlancBold, h4.BlancBold {
	font-size: 0.70em;
	color: #FFFFFF;
	font-weight: bold;
}

.BlancBoldNav, span.BlancBoldNav {
	font-size: 0.75em;
	color: #FFFFFF;
	font-weight: bold;
}
h3.BlancBoldNav, h3.BlancBoldNavFdBleu, h3.BlancBoldNavFdRose, h3.BlancBoldNavFdVert, h3.BlancBoldNavFdViolet {
	font-size: 0.75em;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
h3.BlancBoldNavFdBleu {
	background-color: #00A0D9;
	margin-bottom: 2px;
}
h3.BlancBoldNavFdRose {
	background-color: #C13082;
	margin-bottom: 2px;
}
h3.BlancBoldNavFdVert {
	background-color: #00A651;
	margin-bottom: 2px;
}
h3.BlancBoldNavFdViolet {
	background-color: #824597;
	margin-bottom: 2px;
}



a.LienGrisSouligne {
	/*font-size: 0.70em;*/
	color: #333333;
	text-decoration: underline;
}
a.LienBlancSouligne {
	/*font-size: 0.70em;*/
	color: #FFFFFF;
	text-decoration: underline;
}
a.LienBlancSouligne {
	/*font-size: 0.70em;*/
	color: #FFFFFF;
	text-decoration: underline;
}


a.LienGrisSouligne07em {
	font-size: 0.70em;
	color: #333333;
	text-decoration: underline;
}
a.LienBlancSouligne07em {
	font-size: 0.70em;
	color: #FFFFFF;
	text-decoration: underline;
}
a.LienBlancSouligne07em {
	font-size: 0.70em;
	color: #FFFFFF;
	text-decoration: underline;
}

