@charset "utf-8";

/* Éléments en général */
* {
  padding: 0;
  margin: 0;
  border: none;
}
html {
  color: white;
  background: #069;
}
body {
  font: normal 100%/150% Georgia, "Palatino Linotype", serif;
  color: black;
  background: white;
  max-width: 1200px;
  margin: 2em auto 1em;
  border: 5px double #030;
}
h2, h3 {
  color: #063;
}
h2 {
  font-size: 1.5em;
  font-variant: small-caps;
  text-align: center;
  margin: 2em 0 1em;
}
h3 {
  font-size: 1.25em;
  margin: 1.75em 0 0;
}
h4, h5, h6 {
  font-size: 1em;
}
h4, h5 {
  margin-left: 2em;
  margin: 1.5em 0 0;
}
h4 {
  color: #069;
}
h6 {
  margin: 1.25em 0 0;
}
p, ul, ol, dl {
  text-align: justify;
  margin: 1em 0;
}
p {
  text-indent: 2em;
}
li {
  margin-left: 2em;
}
li ul {
  margin: 0;
  list-style-type: disc;
}
blockquote, pre {
  width: 87.5%;
  padding: 0 1em;
  margin: 1em auto;
  border: 1px solid #030;
  border-left-width: 1ex;
}
blockquote {
  font-style: italic;
}
blockquote em {
  font-style: normal;
}
pre {
  font-size: 1em;
  overflow: auto;
}
form p {
  text-indent: 0;
}
label {
  text-align: left;
  vertical-align: top;
  display: inline-block;
  width: 37.5%;
}
input, textarea, img {
  vertical-align: middle;
}
input, textarea {
  font: normal 1em Georgia, "Palatino Linotype", serif;
  width: 20em;
  border: 1px solid #030;
}
input[type="checkbox"] {
  width: 1em;
  height: 1em;
}
input[type="submit"] {
  color: white;
  background: #063;
  width: 15em;
  border-width: 3px;
  border-style: outset;
}
input[type="submit"]:hover, input[type="submit"]:focus {
  background: #069;
}
a {
  color: #063;
}
a:hover, a:focus {
  color: #069;
  text-decoration: none;
}
a[hreflang]:after {
  content: "\0000a0("attr(hreflang)")";
}
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}
kbd {
  color: white;
  background: #063;
  border: 1px solid #030;
}
kbd:hover {
  background: #069;
}
q {
  quotes: "«\0000a0" "\0000a0»" "“" "”" "‘" "’";
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}
em em {
  font-style: normal;
}

/* En-tête */
#en-tete {
  margin: 2ex;
  position: relative;
}
#en-tete ul {
  font-size: 0.75em;
  margin: 0;
  position: absolute;
  top: -4em;
  right: 0;
}
#en-tete li {
  color: white;
  background: #069;
  display: inline;
  margin: 0;
}
#en-tete li a {
  color: inherit;
}
#en-tete > img {
  border: 1px solid #030;
  position: absolute;
  top: 0;
  right: 0;
}

/* Menu principal */
#menu-principal {
  color: white;
  background: #069;
  text-align: center;
  margin-top: 6.25em;
  overflow: hidden;
  list-style: none;
}
#menu-principal li {
  width: 20%;
  padding: 1px 0;
  margin: 0;
  float: left;
}
#menu-principal a {
  color: inherit;
  text-decoration: none;
  display: block;
  min-height: 1em;
  padding: 1em 0;
}
#menu-principal a:hover, #menu-principal a:focus {
  color: #069;
  background: white;
  margin: -1px 0;
  border: 1px solid #030;
}

/* Corps */
#corps {
  margin: 0 2ex;
  overflow: hidden;
}

/* Menu */
#menu {
  width: 30%;
  float: left;
}
#menu h2 {
  font-variant: normal;
  color: #069;
  text-align: left;
  margin: 0;
}
#menu ul, #menu p {
  text-align: left;
}
#menu ul {
  list-style: none;
}
#menu li {
  margin: 0;
}
#menu p {
  text-indent: 0;
}
#menu input {
  width: 12em;
}

/* Contenu */
#contenu {
  margin-left: 35%;
}
#fil-ariane {
  text-align: left;
  margin: 0;
}
#fil-ariane li {
  display: inline;
  margin: 0;
}
#comments dl {
  margin: 0 1em;
}
#comments dt {
  margin: 0;
}
#comments dd {
  padding: 0 1em;
  margin: 1em 0;
  border: 1px solid #030;
}
.avertissement {
  font-weight: bold;
  color: red;
}
.capture {
  display: block;
  margin: 0 auto;
}
.vignette {
  margin: 0.5em 0;
}
.dat-date, .post-info {
  font-weight: bold;
  text-indent: 0;
}
.day-date {
  font-style: italic;
  margin: 2em 0 0;
}
.post-info {
  color: #063;
}
.post-info a {
  color: inherit;
}
.post-info-co {
  text-align: right;
}

/* Pied */
#pied {
  font-size: 0.75em;
  color: white;
  background: #069;
  text-align: center;
  padding: 1em 0;
}
#pied div, #pied p {
  display: inline;
}
#pied p {
  text-indent: 0;
  margin: 0;
}
#pied p img {
  display: block;
  margin: 0 auto;
}
#pied a {
  color: inherit;
}