@charset "utf-8";

/* Éléments en général */
body {
  font-size: 125%;
  max-width: 480px;
  margin: 0;
  border: none;
}
blockquote, pre {
  width: auto;
  padding: 0 1em;
  margin: 1em;
}
pre, code, kbd {
  white-space: pre-wrap;
}

/* En-tête */
#en-tete {
  padding-top: 2ex;
  margin-top: 0;
}
#en-tete ul {
  font-size: 1em;
  text-align: center;
  margin: inherit;
  position: static;
}
#en-tete li {
  color: inherit;
  background: inherit;
}
#en-tete img {
  display: block;
  margin: 0 auto;
}
#en-tete > img {
  position: static;
}

/* Menu principal */
#menu-principal {
  margin-top: 0;
}
#menu-principal li {
  width: auto;
  float: none;
}
#menu-principal a:hover, #menu-principal a:focus {
  border-right: none;
  border-left: none;
}

/* Menu */
#menu {
  width: auto;
  float: none;
}

/* Contenu */
#contenu {
  margin-left: 0;
}