/*
JBNN
2009-01-29
CSS for product comparison
*/


/* ---------- compare ---------*/

#compare .productsHeaderContainer {
    border-bottom:0;
}

#compare .rightContent .productsHeaderContainer h1 {
	margin-left:-0.57em;
}
	
#compare #tblCompare {
    width:100%;
}

#compare #tblCompare td {
    border-right:1px solid #EBE8D8;
    color:#333;
}

#compare #tblCompare td.width2column {
	width:35.938em; /*345px*/
}

#compare #tblCompare td.width3column {
	width:23.854em;	/*229px*/
}

#compare #tblCompare td.width4column {
	width:17.708em; /*170px*/
}

#compare #tblCompare td.features {
    padding:1.05em 1.56em;
    vertical-align:top;
}

#compare #tblCompare td.features div {
	overflow:hidden;
}

#compare #tblCompare td.features div.width2column {
	width:32.710em;
}

#compare #tblCompare td.features div.width3column {
	width:20.729em;
}

#compare #tblCompare td.features div.width4column {
	width:14.583em;
}

#compare #tblCompare td.features a {
    color:#999;
    display:block;
    margin-top:0.91em;
    margin-bottom:0.91em;
    font-size:1.15em;
}

#compare #tblCompare td.features a:hover {
    color:#F60;
    text-decoration:none;
}

#compare #tblCompare ul {
    padding:0;
    margin:0;
    margin-left:1.36em;
    font-size:1.15em;
}

#compare #tblCompare td .prodDescr {
    font-size:1.15em;
}

#compare #tblCompare .noBorder {
    border:0;
}

#compare .productContainer {
    border:0;
    width:100%;
}

#compare .rightContent .productsContainer .productContainer .cartContainer {
	top:24.48em;
}

#compare .rightContent .productsContainer .productContainer .cartContainer .linkContainer {
	width:100%;
	display:block;
	margin-top:0.417em;
}

#compare .rightContent .productsContainer .productContainerLong .cartContainer {
	top:30.94em;
}

#compare .productBottom {
    background:url('dotline_228.gif') repeat-x;
    margin:0.42em 0.42em 0.42em 0.52em;
    overflow:hidden;
    width:auto;
    display:block;
    padding:0;
    float:none;
}

#compare h2 {
    font-weight:bold;
    font-size:1.15em;
    margin-top:0px;
    margin-bottom:1.05em;
}

#compare h2:first-letter {
	text-transform:uppercase;
}

.dimensionPopup {
	position:absolute;
	z-index:10000;
	text-align:left;
	border:1px solid #ccc;
	background-color:#fff;
}

.dimensionPopup .dimension {
	padding:0.62em 1.04em 0.72em 0.83em;
}

.dimensionPopup .dimension span {
	font-size:1.15em;
}

.dimensionPopup .moreInfo {
	padding:0em 1.04em 0.72em 0.83em;
}

.dimensionPopup .moreInfo span {
	font-size:1.15em;
	color:#999;
}	

.loading {
	text-align:center;
}