/*
jake
2009-01
framework 10
*/

/* ----------------------------------------------------------------------------------- start footer  */

#footer {
	font-family: Verdana,sans-serif;
	background-color:#FFFFFF;
    width:93.75em;
}

#footer .fade {
	width:93.75em;
	height:1.04em;
	padding:0px;
	margin:0px;
	border:0px;
	overflow:hidden;
	display:block;
}

#footer .imgOverLine {
	display:block;
	float:right;
	position:relative;
	top:-1.042em;
	width:8.65em;
	height:5.73em;
}

#footer .leftSection {
	margin-top:0.63em;
	float:left;
    font-size:1.145em;
    width:61.818em;
}

#footer .linkDivider {
	color:#CCCCCC;
}

#footer .leftSection .links {
	margin-bottom:0.363em; /*4px;*/
	color:#666666;
}

#footer .leftSection a:link, #footer .leftSection a:visited, #footer .leftSection a:active {
	color:#666666;
}

#footer .leftSection a:hover {
	color:#FF6600;
}

#footer .leftSection .copyRight {
	color:#999999;
}

#footer .leftSection .copyRight a:link, #footer .leftSection .copyRight a:visited, #footer .leftSection .copyRight a:active {
	font-weight:normal;
	color:#666666;
}

#footer .leftSection .copyRight  a:hover {
	color:#FF6600;
}

#footer .rightSection {
	margin-top:0.63em;
	float:right;
    margin-right:1.04em; /*20px;*/
    font-size:1.145em;
    width:10em;  /*This line has been added for SC#4753253*/
}

#footer .rightSection .header {
	color:#666666;
}

#footer .rightSection .links a:link, #footer .rightSection .links a:visited, #footer .rightSection .links a:active {
	color:#666666;
}

#footer .rightSection .links  a:hover {
	color:#FF6600;
}

/* ----------------------------------------------------------------------------------- end footer */