
/* -------------------------------------------------Page Home Banque ------------------------------------------*/

.bodyhome{
	background: #0B2F48 url(bodyhome.png) repeat-x scroll center top;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	margin-top:5px;
	padding:0px 0px 0pt;
	position:relative;
	width:958px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
#loginuser_1_4{
margin-left:-17px;
}
#resteConecte_1_3{
margin-left:-17px;
}
.contenuhome {
	background: url(bg_home.jpg) top  left no-repeat !important;
	font-size:12px;
	border: 6px solid #4998D0;
	font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
	color:white;
	width:958px;
	height:398px;
}
#institutional_portal_book_19 {
	width:958px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	z-index:1000;
	border-bottom:6px solid #4998D0;
	border-right: 6px solid #4998D0;
	border-left:6px solid #4998D0;
}
#instit_portal_main .wlp-bighorn-layout-grid
{
background:#305D78 url(bg_conteneur.gif) repeat-y scroll right top;
}
#groupe_portal_book_14 .wlp-bighorn-layout-grid
{
background:#305D78 none repeat scroll 0 50%;
}
.wlp-bighorn-layout-grid-cell {
	background-color: transparent !important;
}
.no-border {/*pour supprimer les bordures du header et du footer */
	border:0px ! important;
}
#footer.no-border
{
margin:0pt 0pt 0pt 20px;
}
.wlp-bighorn-layout-flow-last {
float:right;
}

/* ------------------------- Bloc Logo ---------------------*/
#logocdnhome {
	margin-left:14px;
	margin-top:14px;
}

/* --------------------- Bloc Carrousel --------------------*/

#carrousel {
	position:absolute;
	z-index:1000;
	width:450px;
	height:300px;
	/*margin-top:25px;*/
	margin-left:-6px;/*rajoute*/
	margin-top:36px;/*rajoute*/
	text-align:left;
}

/* ---------------------- Bloc Information -----------------*/
#titrehome {
	margin-bottom:15px;
}
#texthome {
	display:block;
	height:82px;
	margin-top:30px;
	margin-right:30px;
	text-align:justify;
	margin-left:30px;
}

.grey {
	color:#dcdcdc;
}

/* -------------------- Bloc Identification ----------------*/

#encarthome {
	width:487px;
	height:162px;
	background: url(bgencarthome.jpg) top  left no-repeat;
	border:3px solid #4998D0;
	margin-top:27px;
	margin-bottom:20px;
}
#accescomptes {
	margin-top:20px;
	margin-left:24px;
}
#loghome {
	margin-left:21px;
	margin-top:6px;
}
.identhome {
	background: url(bg_input_home.gif) left bottom no-repeat;
	margin-bottom:1px;
	margin-top:12px;
	margin-bottom:12px;
}
.loginputhome {
	background:none;
	border:0;
	font-size:11px;
	/*margin: 5px 0px 0 0;*/
	margin: 3px 0px 0 0;
	padding-top:5px;
	padding-left:5px;
	width:145px;
}
* html .loginputhome {
padding-top:0px;
}
#loghome a:hover{
/*text-decoration:underline;*/
text-decoration:none;
}
.flhome {
margin-right:1px;
margin-top:3px;
}
.linkcomptes2 {
text-decoration:none;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size:11px;
font-weight:bold;
color:#ffffff;
vertical-align:middle;
}
a:hover .souligne {
text-decoration:underline;
}
#lienscompteshome {
margin-left:24px;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size:10px;
font-weight:bold;
}
#lienscompteshome a{
vertical-align:6px;
}
#lienscompteshome img{
margin-top:11px;
}
.img_lien {
text-decoration:none;	
}
.espacelien {
margin-bottom:18px;
}
a span.infosecu  {
text-decoration:none;
color:#ffc047;
font-size:11px;
font-weight:bold;
vertical-align:6px;
margin-left:5px;
margin-top:10px;
}
* html a#noline:hover {
text-decoration:underline;
}
a:hover #underlineorange {
text-decoration:underline;
}
a#noline {
text-decoration:none;
}

.x-button-bourse {
	background-image: url(fleche.gif);
	background-repeat: no-repeat;
	width: 16px ! important;
	height: 16px ! important;
}

.x-button-vos-comptes {
  background-image: url(fleche.gif);
	background-repeat: no-repeat;
	width: 16px ! important;
	height: 16px ! important;
	margin-left: 10px;
}

.x-acces-comptes {
  background-image: url(acces_comptes.gif);
	background-repeat: no-repeat;
	margin-top: 5px;
}

.x-text-bourse{
	margin-left: 5px;
}

.x-text-vos-comptes {
   margin-left: 5px;
}

#loghome #ext-gen71 {
color:#FFFFFF;
font-family:Verdana,Helvetica,Arial,sans-serif;
font-size:11px;
font-weight:bold;
}
#loghome #ext-gen92 {
color:#FFFFFF;
font-family:Verdana,Helvetica,Arial,sans-serif;
font-size:11px;
font-weight:bold;
}

#loghome .x-form-field {
color:black;
font-family:Geneva,Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
}

#loghome #ext-gen17 {
margin-left:-20px;
}
#encarthome #ext-comp-1026 {
margin-left:-28px;
}

.x-attentionErreur {
background:white url(picto_danger.gif) no-repeat scroll 7px 10px;
border:1px solid red;
color:#000000;
font-size:11px;
/*margin-bottom:10px;*/
padding:9px 12px 9px 40px;
}

.x-attentionErreurLigneHaut{
 color:red;
}

.erreurConnexion{
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;	
}

#aideErr{
	float:right;
	margin-right:35px;
	margin-top:-15px;	
}

*+html #aideErr{
	float:right;
	margin-right:35px;
	margin-top:-15px;
}

.largeur{
width :600px;
margin-left: 75px;
margin-bottom: 20px;
}


.largeur_confirmation_reinitialisation{
width :660px;
margin-left: 55px;	
}
.largeur_reinitialisation, .largeur_contact_conseiller{
width :635px;
margin-left: 75px;
}
.largeur_Attente_initialisation{
width :625px;
margin-left: 75px;	
}
.largeur_blocage_reinitialisation{
width :640px;
margin-left: 75px;
}
.MDPLargeur{
	width :580px;
	margin-left: 15px;
}

.blocDuBas{
background: url(bg_authentification.gif) repeat-x scroll left top #337CAF;
margin-bottom: 0px;
}

.MDPblocDuHaut{
 width: 590px;
 }

.texteErreur{
	color:white;
	font-size: 10px;
	font-weight: bold;
}
.texteErreur2{
	color:yellow;
	font-size: 10px;
	font-weight: bold;
}

.formWidgetId {
border-bottom:1px solid white;
margin:0 auto;
padding-bottom:5px;
width:578px;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
font-weight:normal;
border:0 none;
padding:0;
text-align:left;
}

.widgetNonpliableLegend {
background:transparent url(puce_tableau.gif) no-repeat scroll 1% 50%;
color:#5BB2DF;
display:block;
margin-left:-4px;
padding:8px 0 7px 24px;
}

.widgetUtilsateurnom, .widgetUtilsateurprenom {
	font-weight:bold;
}

.widgetUtilsateurnomInputText, .widgetUtilsateurprenomInputText {
	left:54%;
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #9D9D9D;
	position:absolute;
	width:215px;
	padding:3px 0 1px 2px;
}

.widgetUtilsateurprenomInputText2, .widgetUtilsateurnomInputText2 {
	left:600px;
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #9D9D9D;
	border-color:red;
	position:absolute;
	width:215px;
	padding:3px 0 1px 2px;
}
.widgetUtilsateurnomP {
	margin:5px 0 5px 12px;
	padding:5px 0;
	margin-top:0;
	text-align:left
}

.widgetUtilsateurprenomP {
	padding-bottom:5px;
	margin:5px 0 5px 12px;
	padding:5px 0;
	margin-top:0;
	text-align:left;
}

.FieldsBlocDuBas{
	text-align:left;	
	border-bottom:1px solid #5BB2DF;
	border-right:1px solid #5BB2DF;
	border-left:1px solid #5BB2DF;
	margin:0 0 8px;
	background:transparent url(bg-fieldset3.gif) no-repeat scroll center top;
	border-top:0 none;
	height:160px;
}

.FieldsBlocDuBas2{
	text-align:left;
	border-bottom:1px solid #5BB2DF;
	border-left:1px solid #5BB2DF;
	border-right:1px solid #5BB2DF;
	/*width : 580px;*/
	margin:0 0 8px;
	background:transparent url(bg-fieldset2.gif) no-repeat scroll center top;
	height:125px;
}

.FieldsBlocDuBas4{
text-align:left;
border-bottom:1px solid #5BB2DF;
border-left:1px solid #5BB2DF;
border-right:1px solid #5BB2DF;
/*width : 580px;*/
margin:0 0 8px;
background:transparent url(bg-fieldset4.gif) no-repeat scroll center top;
height:125px;
}

.boutonValider {
margin-top: -20px;
margin-right: -5px;
}

.validerFormWidget {
margin:0;
padding:0;
background:transparent none repeat scroll 0 0;
border:0 none;
color:#026094;
cursor:pointer;
display:inline-block;
font-size:11px;
font-weight:normal;
padding:0;
text-align:center;
vertical-align:middle;
white-space:nowrap;
}

.mesgErreur1, .mesgErreur2, .mesgErreur3 {
   display: none;
	font-size: 10px;
	color :red;
}
.mesgErreur4 {
   display: block;
	font-size: 10px;
	color :red;
}
a.orange {
color:#FFC047;
font-family:Verdana,Helvetica,Arial,sans-serif;
font-size:11px;
}
a.orange {
text-decoration:none;
}
.blanc {
color:#FFFFFF !important;
text-decoration:none;
}
.gras {
font-weight:bold;
}
.defaut {
color:#FFFFFF;
text-decoration:none;
}
.defaut:hover {
text-decoration:underline;
}

/* ---------------------Bloc Recrutement ---------------------*/ 
/* ----------- Positionnement  -------------*/
.hauteur4 {
vertical-align:4px;
}
#bashome {
height:36px;
margin-left:13px;
}
#basdroitehome {
float:right;
margin-left:140px;
position:absolute;
}
#basgauchehome {
float:left;
}
#listboxsimulhome {
padding-top:15px;
margin-left:3px;
}

button.listboxpetitsimulateurs {
background: url(simulateur_home.gif) left top no-repeat;
width:128px;
height:19px;
}
ul#btpetitsimulateurs {
margin:0px;/*rajoute*/
width:124px;
z-index:100000; 
}
#bginput {
background: url(input_home.jpg) left top no-repeat;
}
#underlineblue {
width:60px;
}
#underlineblue:hover {
	text-decoration:underline;
}
#recrutement {
width:194px;
height:24px;
margin-top:11px;
margin-right:11px;
border:1px solid #4998D0;
float:left;
}

body:first-of-type #recrutement {
	width:205px;
	height:24px;
	margin-top:11px;
	margin-right:11px;
	border:1px solid #4998D0;
	float:left;

}

body:first-of-type #aideErr {

	float:right;
	margin-right:35px;
	margin-top:20px;
	
}

#flrecrut {
margin-left:5px;
margin-top:4px;
margin-right:6px;
}
a.littleblue {
font-size:10px;
color:#4999d2;
text-decoration:none;
}
a:hover span.sansligne {
text-decoration:none;
}
a:hover #underlineblue {
color:#4999d2;
text-decoration:underline;
}
#searchome {
margin-top:12px;
float:left;

}
.searchome {
background:none;
border:0;
font-size:11px;
margin: -23px 0px 0px 0px;
padding-top:5px;
padding-left:5px;
width:115px;
color:black;
}
*+html .searchome {
margin-top:-2px;
}
* html .searchome {
padding-top:2px;/*rajoute a cause du DOCTYPE:NONE pour IE*/
}
iframe {
height:15px;
margin-left:136px;
margin-top:-19px;
width:35px;
border:0;
color:#4999d2;
}

/* ------------------ Hack IE 7 - temporaire ------------------------ */

*+html #basdroitehome {
margin-left : 10px;
}

*+html #bashome {
margin-top:-15px;
height:36px;
}
*+html #lienscomptehome {
margin-top:5px;
}

/* ------------Footer Home Banque -------------*/
#flbashome {
vertical-align:-4px;
margin-right:8px;
}
.liendroite {
margin-left:15px;
margin-right:265px;
}
a#blancbas {
color:white;
text-decoration:none;
white-space:nowrap
}
a#blancbas2 {/*rajoute*/
color:white;
text-decoration:none;
left:810px;
position:absolute;
margin-top:2px;
}
a#blancbas:hover {
text-decoration:none;
}
a#blancbas:hover span#ligne {
text-decoration:underline;
}
* html a#blancbas:hover {
text-decoration:underline;
}


/* ----------------Bloc Animenu ------------ */
#animenu {
width:1005px;
height:150px;
margin: 0 auto;
margin-top:-20px;
padding-right:5px;
margin-left:-21px;/* rajoute*/
}
#animenu2 {
height:150px;
/*margin:-35px auto 0pt;*/
margin:-16px auto 0pt;
position:relative;
width:970px;
z-index:2;
}
* html #animenu2 {
margin-top: -8px;
}
#positmenu {
left:-20px;
position:relative;
z-index:-1;
}

/* ------------------------Alerte Phishing --------*/
#phishing {
font-family:verdana;
font-size:14px;
font-weight:bold;
margin-top:55px;
position:absolute;
width:400px;
z-index:1000;
}

.jaune {
color:#FFC146;
}
.jaune a {
color:#FFC146;
}
.red {
color:red;
font-weight:bold;
}


/* ------------------------------------------------------------ Fin de page home generale -------------------------------*/

/* ------------------ Home Groupe ----------------*/
#groupe_portal_book_14 {
	border-bottom:6px solid #4998D0;
	border-right: 6px solid #4998D0;
	border-left:6px solid #4998D0;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:958px;
}

#bandeau_groupe{
padding-left:30px;
position:absolute;
top:20px;
}


/* --------------------------------------------------------------- Contenu commun -------------------------------------- */
img {
border:0;
}
a {
color:#057bce;
}
a:hover{
	cursor:pointer;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	background: #0B2F48 url(bodyhome.png) repeat-x scroll center top;
	margin-top:16px;
	padding:0px 0px 0pt;
}



/* ------------------------------ Header --------------------------*/
#header
{
	background:#001220;
	height:105px; /*modifie : normalement 105px;*/
	width:958px;
	clear:both;
}
* html #header {
height:105px;
clear:both;
}
*.wlp-bighorn-header
{
	border-top:6px solid #4998D0;
	border-left:6px solid #4998D0;
	border-right:6px solid #4998D0;
	border-bottom:4px solid #4998D0;
	margin-left:auto;
	margin-right:auto;
	width:958px;
	position:relative;
	z-index:1000;
	text-align:left;
}

.wlp-bighorn-footer
{
	margin-left:auto;
	margin-right:auto;
	width:970px;
	position:relative;
	/*z-index:0;*/
}

/* formulaire de recherche */
p#top {
	position: absolute;
	margin: 0px;
	padding:0px;
	text-indent: -5000px;
	line-height: 1px;
	font-size: 1px;
}
dl.rechercher {float:right; background: url(bg-form-recherche.gif) top no-repeat; width:205px; height:32px; margin:0; padding:0;}
dl.rechercher dd {display:none;}
dl.rechercher dt {float:left;}
dl.rechercher dt.first {padding:3px 0 0 25px}
dl.rechercher input {background:transparent; border:0; font-size:11px; margin: 0 5px 0 0; margin-top:5px; width:116px;}

/* ---------------------A harmoniser-----------------*/
#divrecherche {float:right; background: url(bg-form-recherche.gif) top left no-repeat; width:188px; height:32px; padding:1px 17px 0 0; margin:0;}
table#recherche {margin:0 0 0 17px;border-collapse:collapse; border:0;}
table#recherche td {padding:0; vertical-align: middle;}
table#recherche caption, table#recherche label, table#recherche thead, table#recherche tfoot {display:none;}
table#recherche td p {padding:2px 0 3px 0; margin:0px 3px 0 0; width:125px}
table#recherche td p input {background:transparent; color:#000000; border:0; font-size:11px; width:115px; margin:3px 0 3px 10px;}
table#recherche td img {margin-top:0; margin-left:0px;}

* html table#recherche td p input {
margin-left:10px;/*rajoute a cause du DOCTYPE:NONE pour IE*/
}

#recherche p {
	margin-top:-6px !important;
}

/* ---------------------Logo de la banque -----------------*/
#logoid{
position:relative;
margin:0;
padding:0;
text-align:left;
top:6px;
margin-left:12px;
width:700px;
}
img#logobanque {
	margin:6px 0 6px 12px;/*7px 0 0 16px;*/
	padding:0;
	}
img#logo {/*a harmoniser*/
	margin:6px 0 6px 16px; 
	padding:0;
}
#logoid img{
	margin:0px 0 6px 0; 
	padding:0;
}
h1#top,h2#top,h3#top,h4#top,h5#top,p#top {
	position: absolute;
	margin: 0px;
	padding:0px;
	line-height: 0px;
	font-size: 0px;
}

/*---Marges du contenu principal--- */
.marges
{
	border-right:6px solid #4998D0;
	border-left:6px solid #4998D0;
	border-bottom: 6px solid #4998D0;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:958px;
}
.td_gauche
{
	font-family:Verdana,Arial,Helvetica,sans-serif;/*rajoute a cause du doctype: none pour IE*/
	font-size:11px;	/*rajoute a cause du doctype: none pour IE*/
}
.td_centre {
	font-family:Verdana,Arial,Helvetica,sans-serif;/*rajoute a cause du doctype: none pour IE*/
	/*height:500px;*/
}

.td_droite
{
	/*border-left:2px solid #4998D0;*/
	background: #305D78;
	font-family:Verdana,Arial,Helvetica,sans-serif;/*rajoute a cause du doctype: none pour IE*/
	font-size:11px;	/*rajoute a cause du doctype: none pour IE*/
}

div#instit_portal_main > table.wlp-bighorn-layout.wlp-bighorn-layout-grid > tbody > tr > td:last-child {
	background: #F1F1F1;
	border-left:2px solid #4998D0;
	font-family:Verdana,Arial,Helvetica,sans-serif;/*rajoute a cause du doctype: none pour IE*/
}
#transactional_portal_page_3 .wlp-bighorn-layout-grid {
	background:none;
}
/* -----------------------------------------------------------blocs -----------------------------------------------*/
#transactional_portal_book_19 {
	border-bottom:6px solid #4998D0;
	border-right: 6px solid #4998D0;
	border-left:6px solid #4998D0;
	width:958px;
	margin-left:auto;
	margin-right:auto;
}
.largeur_transac {
	width:1133px !important;
}
.largeur_transac2 {
	width:988px !important;
}

#instit_portal_book_19{
	width:958px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	z-index:1;
	border-bottom:6px solid #4998D0;
	border-right: 6px solid #4998D0;
	border-left:6px solid #4998D0;
}
/* Important : permet un affichage correct, place avant la fermeture de div ou des floats sont en jeu */
.clearer {
	clear:both;
}


/* -----------------------------------------Listes deroulantes ---------------------------------------------*/
ul.bt {
	background:#FFFFFF none repeat scroll 0% 50%;
	border:1px solid #4998D0;
	display:none;
	font-size:10px;
	list-style-image:none ;
	list-style-position:outside;
	list-style-type:none ! important;
	padding:0pt;
	position:absolute;
	z-index:10000;
	margin:0pt 0pt 0pt 0px;
	text-align:left;
}



ul.bt li {
	margin:0;
	padding:5px;
	list-style-type:none ! important;
}

ul.bt li a {
	color:#000000;
	text-decoration:none;
	cursor:pointer;
}
	 
ul.bt li a:hover {
	color:#7192BF;
	cursor:pointer;
}

.linklb {
	font-size:11px;
	font-weight:bold;
	font-style:italic;
	background-color:#d8d8d8;
}

ul#btproduits {
	width:149px;
	display:none;
	z-index:2000;
	margin:0px 0pt 0pt 1px;/*rajoute*/
}

/* ----------------- page produit patr fiscassvie ----------------------- */
#logocourtois {margin:11px 0 5px 16px; padding:0;}


/* home pro */
#bghome {
	background: #0b2f48 url(https://www.credit-du-nord.fr/instit/IPI/framework/skins/cdn/css/img/bodyhome.jpg) top repeat-x;
}
/* page entreprise */
#menuentp {
	width:763px;
	height:35px;
	margin-left:184px;
	margin-top:5px;
}
/* ------------------------------------ Footer ------------------------------- */
#footer {
	font-family:Arial,Verdana,Helvetica,sans-serif;
	height:31px;
	margin:0pt 0pt 0pt 0pt;
	padding:14px 0px 0pt;
	width:970px;
}

#footer a:hover {
	text-decoration:underline;
}
#footer a#blancbas:hover {
	text-decoration:none;
}
* html #footer a#blancbas:hover {
	text-decoration:underline;
}

.hauteur3 {
vertical-align:2px;
}
.lienfooter {
	margin-right:12px;
	margin-left:15px;
	text-decoration:none;
	color:white;
}
.lienfooter a{
	text-decoration:none;
	color:white;
}
.trait{/*rajoute*/
	background: url(trait.gif);
}
	
#flbas {
	vertical-align:-4px;
	margin-right:8px;
}
.gras {
	font-weight:bold;
}
a.gras:hover{
font-weight:bold;	
}

#bgchemin2 {
background: url(chemin_fer2.jpg) left top no-repeat;
}
.floatleft{
float:left;
margin-left:-13px;
}
.floatright {
float:right;
text-align:left;
}
	