/*
    Horizontal placeholders in flow layouts, as well as the west, center and east placeholders in border
    layouts use float mechanisms for placement.
*/
.wlp-bighorn-layout-flow-horizontal,
.wlp-bighorn-layout-border-west,
.wlp-bighorn-layout-border-center,
.wlp-bighorn-layout-border-east
{
    float: left;
}

/*
    Float clearing strategy based on http://www.quirksmode.org/css/clearing.html.
*/
.wlp-bighorn-layout-flow,
.wlp-bighorn-layout-border-wce-container
{
    overflow: hidden;
    width: 100%;
      background: transparent;      
}

/*
    Default widths of the west, center and east placeholders in border layouts.  These widths can be
    overridden by specifying explicit widths on the individual placeholders in the layout markup.
*/
.wlp-bighorn-layout-border-west,
.wlp-bighorn-layout-border-east
{
    width: 33%;
}
.wlp-bighorn-layout-border-center
{
    width: 34%;
}

/*
    Grid layout uses fixed tables.  This style can be overridden in custom skeletons, skins or layouts.
*/
.wlp-bighorn-layout-grid
{
    table-layout: fixed;
}

/*
    Preserves layout structure when placeholder is empty.
*/
.wlp-bighorn-layout-cell
{

   background: transparent;
}
*.wlp-bighorn-layout td
{
  vertical-align: top;
 
}
