@charset "utf-8";

body{font-size:75%; background:#d6d6d6; font-family:Arial,Helvetica,"Helvetica Neue",sans-serif; margin-bottom:30px; text-align:center}
input, select, textarea {border: 1px solid #8A8A8A; font-size: 0.9em; color: #788C9B}
#frmPbSurvey{color:#788C9B;}
#frmPbSurvey checkbox{border:1px solid yellow;}
#frmPbSurvey td{color:#788C9B;}
#frmPbSurvey legend{font-weight:bold;}
#frmPbSurvey fieldset{margin-top:15px;}
.formbuttons{float:right;margin-right:100px;}
.questionSubtext{font-weight:bold}
.clear{clear:left}
#imgBlogTitre{height:40; position:absolute; margin-top:79px; margin-left:115px}
.clearboth{clear:both}

img.gauche, object.gauche{float:left; margin-right:8px}

#global ul#navTop{display:inline; float:left; width:585px; position:relative; height:26px; margin-top:0px; margin-bottom:4px}

#blocHeader ul#navTop{display:inline; float:left; width:585px; position:relative; height:26px; margin-top:2px; margin-bottom:0px}

ul#navTop li{border:1px solid #fff; border-top:none; border-right:none; border-bottom:none; padding-left:8px; padding-right:8px; display:block; float:left; color:#fff; height:22px}

ul#navTop li a{border:none; padding:0px}

ul#navTop li.first{padding-left:0px; padding-right:0px; border-left:none}

ul#navTop li.first a{padding-left:0px; padding-right:0px; border-left:none}

ul#navTop li a img{margin:0px; border:none}

ul#navRadios{position:absolute; display:none; left: -7px; top:22px; padding:0px; margin:0px; width:99px}

ul#navRadios li{display:block; position:relative; text-align:center; z-index:111; color: #FFF; border: 1px solid #7F7F7F; padding: 0px !important; height: 31px;}

ul#navRadios li a{display:block; width: 90px !important; background:#7F7F7F; color:white; font-size:12px; text-decoration:none; font-weight:bold; float:none; height:auto; border:none; padding: 8px 15px 8px !important;}

ul#navRadios li a:hover {color:#7F7F7F; background: white; font-size:12px; text-decoration:none; font-weight:bold; float:none; height:auto; border:none}

#global{display:block; width:1142px; height:auto; position:absolute; left:50%; margin-left:-487px; ; text-align:left; overflow:hidden}

div#global>div#banniere{display:block; float:left; width:982px; height:90px; padding-left:0px; background:url(fd_bloc_header.png) no-repeat left center; text-align:right; margin-bottom:4px}

div#banniere>div#FinContentTop1 {text-align: right;}

div#global div#main{display:block; float:left; width:982px; height:auto; padding-left:8px; background:repeat-x; background-image:url(pageBackground.png); overflow-x:hidden}

div#global>div#main{width:974px; margin-top:3px}

div#skyscrapper{display:none; float:right; margin-top:114px; width:160px; height:600px}

div#global>div#skyscrapper{display:none; float:right; margin-top:117px; width:160px; height:600px; background-color:#0ff}

div#global div#page{display:block; float:left; width:974px; height:auto}

div#global div#header{margin-top:8px}

div#global div#headerLogo{display:block; float:left; width:100px; height:100px}

div#global div#headerLogo img{width:100px; height:100px}

div#global div#headerCentre{display:block; width:856px; height:82px; background-image:url(headerBackground.png); margin-left:8px; padding-top:2px; float:left; overflow:hidden}

div#global div#headerCentre div.left{display:block; float:left; width:600px}

div#global div#headerCentre ul{display:block; float:left; width:532px}

div#global div#headerCentre ul li{border:1px solid #fff; border-top:none; border-right:none; border-bottom:none; padding-left:8px; padding-right:8px; font-size:0.8em; display:block; float:left}

div#global div#headerCentre ul li a{color:#fff}

div#global div#headerCentre ul li.first{border-left:none}

div#global div#headerCentre form{display:block; float:left; width:340px; padding-left:105px}

div#global div#header form input#motsClefs{display:block; float:left; margin-top:22px; width:270px; color:#474b64; height:18px; padding-left:3px; font-size:0.9em}

div#global div#header form input#motsClefsOk{display:block; float:left; margin-top:16px; margin-left:10px; border:0px}

div#global div#headerCentre a#Avancee{display:block; float:left; border:none; margin-left:8px; margin-top:35px; color:#c7d8e2; text-decoration:underline}

div#global div#headerCentre div.right{display:block; float:right; width:250px}

div#global div#headerDate{display:block; float:right; font-size:0.8em; color:#fff; padding-top:2px; margin-right:2px}

div#global div#headerTime{display:block; float:right; height:84px; margin-top:-1px}

div#global div#headerTime img{margin-top:1px}

div#global div#ligneMiseEnAvant{text-align:left; display:block; float:left; width:972px; height:208px; margin-top:8px; overflow:hidden}

#mea1{position:relative; width:640px; z-index:100; height:210px; overflow:hidden}

#mea1 a {text-decoration: none;}

#mea1 .contenu{cursor:pointer; position:absolute; top:0; left:0; width:100%; z-index:110}

#mea1 .menuOnglet{float:right; margin-bottom:1px; width:150px}

#mea1 .menuOnglet ul{width:160px}

#mea1 .menuOnglet li{list-style:none; display:inline; float:right; height:60px; width:160px; margin-right:1px; margin-bottom:1px; background-color:#B6D2E7; opacity:0.85; color:#264FA1; padding:8px 8px 0 8px}

#mea1 .menuOnglet li.actif{background-color:#1E549E; color:#fff}

#mea1 .menuOnglet li.actif span.onglet{background-color:#1E549E; color:#fff}

#mea1 .menuOnglet span.onglet{text-decoration:none; color:#1e549e; display:block; padding:5px 8px 5px 0px; font-weight:bold; font-size:0.9em; line-height:1.4em}

#mea1 .menuOnglet .date{font-weight:normal}

#mea1 .menuOnglet span.actif{color:#fff; background:#4175b1; opacity:0.85}

.annonceMea1{display:block; position:absolute; top:0; width:450px}

.annonceMea1.onglet2,.annonceMea1.onglet3{display:none}

#mea1 h1 a, #mea1 h2 a, #mea1 h3{font-size:1.7em; line-height:1.4em; letter-spacing:1px; background:#4175b1; opacity:0.85; padding:0 8px; float:left; margin-bottom:1px; clear:both; color:#fff; text-decoration:none; opacity:0.7}

#mea1 p{margin-top:1px; clear:left;width:450px;}

#mea1 p span, #mea1 p span a{background:#4175b1; padding:0 8px; float:left; color:#fff; text-decoration:none; opacity:0.85; cursor:pointer;width:434px;}

#mea1 span.bt_suite{background:none}

div#global div#mea2{position:relative; top:-210px; left:640px; width:332px; height:210px; overflow:hidden}

div#global div#mea2 ul{display:block; float:left; width:332px; padding-left:8px}

div#global div#mea2 ul li{position:relative; float:left; display:inline; overflow:hidden; width:100px; height:100px; margin-right:8px; margin-bottom:8px; background-color:#678bb0; opacity:0.85; -moz-opacity:0.85; filter:alpha(opacity = 85)}

div#global div#mea2 ul li.mea2_100 a span { padding-right: 4px; width: 92px; text-decoration:none;}

div#global div#mea2 ul li.mea2_100 a { text-decoration:none;}

div#global div#mea2 ul li.mea2_208{width:208px; height:208px;}

div#global div#mea2 ul li.mea2_208 a span {width: 200px; text-decoration:none;}

div#global div#mea2 ul li.mea2_208 a {text-decoration:none;}

div#global div#mea2 ul li.mea2_316{width:316px; height:208px;}

div#global div#mea2 ul li:Hover{background-color:#1e549e}

div#global div#mea2 ul li a span{position:absolute; top:50%; left:0px; width:100%; height:50%; z-index:2; background:#1E549E none repeat scroll 0 0; text-decoration:none; line-height:1.3em; padding-left:4px; padding-right:4px; color:#fff; font-weight:bold; font-weight:0.9em}

div#global div#mea2 ul li img.pictoMEA{position:absolute; bottom:2px; right:4px; z-index:3}

div#page ul#zoneDock{position:relative; float:left; width:966px; padding-left:25px; padding-top:25px; margin-top:8px; background:url(fb_bloc_dock.png) no-repeat left bottom; background-repeat:repeat-x; padding:19px 0 0 28px}

div#page>ul#zoneDock{width:938px}

ul#zoneDock li{position:relative; float:left; width:74px; height:75px; margin-left:8px}

ul#zoneDock li ul.ssrDock{position:absolute; top:0; left:0; z-index:2; width:70px; height:70px}

ul#zoneDock li ul.ssrDock li{display:block; line-height:21px; height:20px !important; width:60px !important; border-top:1px solid #fff; margin:0 4px !important}

ul#zoneDock li ul.ssrDock li.first{border-top:none; padding-top:8px}

ul#zoneDock li ul.ssrDock li a{display:block; padding:0 2px; font-size:0.9em; text-decoration:none}

ul#zoneDock li ul.ssrDock li.first a{border:none}

ul#zoneDock ul.ssrDock a:hover, #zoneDock ul.ssrDock a:focus{}

ul#zoneDock ul.dock1{background:url(fd_dock1.png) no-repeat left top}

#zoneDock ul.dock1 a:hover, #zoneDock ul.dock1 a:focus{}

ul#zoneDock ul.dock2{background:url(fd_dock2.png) no-repeat left top}

#zoneDock ul.dock2 li a{border-top:1px solid #000}

#zoneDock ul.dock2 li a:hover, #zoneDock ul.dock2 li a:focus{}

ul#zoneDock ul.dock3{background:url(fd_dock3.png) no-repeat left top}

#zoneDock ul.dock3 a:hover, #zoneDock ul.dock3 a:focus{}

ul#zoneDock ul.dock4{background:url(fd_dock4.png) no-repeat left top}

#zoneDock ul.dock4 a:hover, #zoneDock ul.dock4 a:focus{}

ul#zoneDock ul.dock5{background:url(fd_dock5.png) no-repeat left top}

#zoneDock ul.dock5 a:hover, #zoneDock ul.dock5 a:focus{}

/* FIP */
ul#zoneDock ul.dock7{background:url(fd_dock7.png) no-repeat left top}

#zoneDock ul.dock6 a:hover, #zoneDock ul.dock6 a:focus{}

#zoneDock ul.dock7 a:hover, #zoneDock ul.dock7 a:focus{}

#zoneDock ul.dock7 li a{border-top:1px solid #000; color:#000}

ul#zoneDock ul.dock8{background:url(fd_dock8.png) no-repeat left top}

#zoneDock ul.dock8 a:hover, #zoneDock ul.dock8 a:focus{}

ul#zoneDock ul.dock9{background:url(fd_dock9.png) no-repeat left top}

#zoneDock ul.dock9 a:hover, #zoneDock ul.dock9 a:focus{}

ul#zoneDock ul.dock10{background:url(fd_dock10.png) no-repeat left top}

#zoneDock ul.dock10 a:hover, #zoneDock ul.dock10 a:focus{}

ul#zoneDock ul.dock11{background:url(fd_dock11.png) no-repeat left top}

#zoneDock ul.dock11 a:hover, #zoneDock ul.dock11 a:focus{}

div#global div#colonneGauche{display:block; float:left; width:640px; padding-top:8px}

div#global div#actualites{display:block; width:640px; height:703px; float:left; background-color:#c5d7e5; overflow:hidden}

div#global #colonneGauche>div#actualites{margin-bottom:8px; height:703px}

div#global div#actualites h2{display:block; width:640px; height:23px; padding-left:8px; float:left; font-size:1.4em; color:#6c9bad; font-weight:bold; background-image:url(actualitesH2Background.png); background-repeat:repeat-x}

div#global div#actualites>h2{width:632px}

div#global div#filInfo{display:block; padding:8px; width:632px; height:84px; float:left; background-color:#c5d7e5; color:#456493}

div#global div#actualites>div#filInfo{width:624px}

div#global div#filInfo img{display:block; float:left; margin-top:0px; margin-right:8px}

div#global div#filInfo img.filInfoPicBgInter{width:16px; height:16px; margin-top:8px; background-image:url(puceBigRadioInter.png)}

div#global div#filInfo img.filInfoPicBgBleu{width:16px; height:16px; margin-top:0px; background-image:url(puceBigRadioBleu.png)}

div#global div#filInfo img.filInfoPicBgMusique{width:16px; height:16px; margin-top:8px; background-image:url(puceBigRadioMusique.png)}

div#global div#filInfo img.filInfoPicBgCulture{margin-top:8px; background-image:url(http://www.radiofrance.fr/fileadmin/templates/medias/images/home/puceBigCulture.png)}

div#global div#filInfo img.filInfoPicBgFIP{width:16px; height:16px; margin-top:8px; background-image:url(http://www.radiofrance.fr/fileadmin/templates/medias/images/home/puceBigFip.png)}

div#global div#filInfo img.filInfoPicBgInfo{width:16px; height:16px; margin-top:8px; background-image:url(puceBigRadioInfo.png)}

div#global div#filInfo img.filInfoPicBgMouv{width:16px; height:16px; margin-top:8px; background-image:url(http://www.radiofrance.fr/fileadmin/templates/medias/images/home/puceBigMouv.png)}

div#global div#filInfo img.filInfoPicBgChoeur{width:16px; height:16px; margin-top:8px; background-image:url(http://www.radiofrance.fr/fileadmin/templates/medias/images/home/puceBigChoeur.png)}

div#global div#filInfo img.filInfoPicBgOrchestre{width:16px; height:16px; margin-top:8px; background-image:url(http://www.radiofrance.fr/fileadmin/templates/medias/images/home/puceBigOrchestre.png)}

div#global div#filInfo img.filInfoPicBgPhilarmonique{width:16px; height:16px; margin-top:8px; background-image:url(http://www.radiofrance.fr/fileadmin/templates/medias/images/home/puceBigPhilarmonique.png)}

div#global div#filInfo img.filInfoPicBgMaitrise{width:16px; height:16px; margin-top:8px; background-image:url(http://www.radiofrance.fr/fileadmin/templates/medias/images/home/puceBigMaitrise.png)}

div#global div#filInfo h2{display:block; float:left; background:none; padding-left:0px; padding-top:5px; font-size:1.8em; font-family:Arial,Helvetica,"Helvetica Neue",sans-serif; font-weight:normal; color:#456493; width:507px; line-height:22px}

div#global div#filInfo span.filInfo{display:block}

div#global div#filInfo span.categorie{font-weight:bold; display:block}

div#global div#sousColonneGauche{display:block; float:left; padding-left:8px; width:424px; overflow-x:hidden}

div#actualites>div#sousColonneGauche{width:416px}

div#global div#sousColonneGauche div{display:block; float:left; width:424px; height:140px; margin-left:0px; margin-bottom:9px; margin-bottom:5px; background-color:#c5d7e5; overflow:hidden}

div#global div#sousColonneGauche>div{width:416px}

div#global div#sousColonneGauche div h3{display:block; float:left; width:350px; width:424px; height:20px; margin-left:0px; background-color:#98b2cb; padding-left:8px; font-weight:bold; color:#fff; font-size:1.0em}

div#global div#sousColonneGauche div>h3{width:342px; width:416px}

div#global div#sousColonneGauche div div{display:block; float:left; width:66px; height:20px; margin-left:0px; margin-bottom:0px; background-color:#98b2cb}

div#global div#sousColonneGauche div div img{display:block; float:right}

div#global div#sousColonneGauche div ul>li{width:408x}

div#global div#sousColonneGauche div ul li a{line-height:26px; text-decoration:none}

div#global div#sousColonneGauche div ul li img{display:block; float:left; margin-top:5px; margin-right:5px}

div#global div#sousColonneGauche div ul>li img{display:block; float:left; margin-top:10px; margin-right:5px}

div#global div#sousColonneGauche div ul li span{font-size:13.5px; font-weight:bold; color:#6c9bad; background-color:#fafbfd}

div#global div#sousColonneGauche div ul li span.radio{font-size:0.8em; color:#6c9bad; background-color:#fafbfd}

div#global div#sousColonneGauche div div#wn5{position:relative; width:416px; height:116px; top:-116px}

div#global div#sousColonneGauche div>div#wn5{top:-116px}

div#global div#sousColonneGauche div div#scrollLinks5{position:relative; left:392px; height:112px; margin-top:0px !important; top:0px; width:18px; z-index:10; overflow:hidden; background-color:transparent}

div#global div#sousColonneGauche div>div#scrollLinks5{left:400px}

div#global div#sousColonneGauche div div#scrollLinks5 a.mouseover_up{position:absolute; left:0px; top:0px}

div#global div#sousColonneGauche div div#scrollLinks5 a.mouseover_down{position:absolute; left:0px; top:90px}

div#global div#sousColonneGauche div div#wn5 ul#lyr5{position:relative; top:0px; left:0px}

div#global div#sousColonneGauche div div#wn5 ul li{display:block; float:left; width:416px; padding-left:8px; padding-right:18px; padding-top:4px; margin-left:0px; margin-bottom:1px; color:#6c9bad; background-color:#fafbfd; height:29px}

div#global div#sousColonneGauche div div#wn5 ul>li{height:24px; width:390px}


div#global div#sousColonneGauche div div#wn6{position:relative; top:-116px; width:416px; height:116px}

div#global div#sousColonneGauche div>div#wn6{top:-116px}

div#global div#sousColonneGauche div div#scrollLinks6{position:relative; left:400px; height:112px; margin-top:0px !important; top:0px; width:18px; z-index:10; overflow:hidden; background-color:transparent; top:0px}

div#global div#sousColonneGauche div div#scrollLink6 a.mouseover_up{position:absolute; left:0px; top:0px}

div#global div#sousColonneGauche div div#scrollLinks6 a.mouseover_down{position:absolute; left:0px; top:90px}

div#global div#sousColonneGauche div div#wn6 ul#lyr6{position:relative; top:0px; left:0px}

div#global div#sousColonneGauche div div#wn6 ul li{display:block; float:left; width:416px; padding-left:8px; padding-top:4px; padding-right:18px; margin-left:0px; margin-bottom:1px; color:#6c9bad; background-color:#fafbfd; height:29px}

div#global div#sousColonneGauche div div#wn6 ul>li{height:24px; width:390px}


div#global div#sousColonneGauche div div#wn7{position:relative; width:416px; height:116px; top:-116px}

div#global div#sousColonneGauche div>div#wn7{top:-116px}

div#global div#sousColonneGauche div div#scrollLinks7{position:relative; left:400px; height:112px; margin-top:0px !important; top:0px; width:18px; z-index:10; background-color:transparent; overflow:hidden}

div#global div#sousColonneGauche div div#scrollLinks7 a.mouseover_up{position:absolute; left:0px; top:0px}

div#global div#sousColonneGauche div div#scrollLinks7 a.mouseover_down{position:absolute; left:0px; top:90px}

div#global div#sousColonneGauche div div#wn7 ul#lyr7{position:relative; top:0px; left:0px}

div#global div#sousColonneGauche div div#wn7 ul li{display:block; float:left; width:416px; padding-left:8px; padding-top:4px; padding-right:18px; margin-left:0px; margin-bottom:1px; color:#6c9bad; background-color:#fafbfd; height:29px}

div#global div#sousColonneGauche div div#wn7 ul>li{height:24px; width:390px}


div#global div#sousColonneGauche div div#wn8{position:relative; top:-112px; width:416px; height:116px}

div#global div#sousColonneGauche div>div#wn8{top:-112px}

div#global div#sousColonneGauche div div#scrollLinks8{position:relative; left:400px; height:112px; margin-top:0px !important; top:0px; width:18px; z-index:10; background-color:transparent; overflow:hidden}

div#global div#sousColonneGauche div div#scrollLinks8 a.mouseover_up{position:absolute; left:0px; top:0px}

div#global div#sousColonneGauche div div#scrollLinks8 a.mouseover_down{position:absolute; left:0px; top:100px}

div#global div#sousColonneGauche div div#wn8 ul#lyr8{position:relative; top:0px; left:0px}

div#global div#sousColonneGauche div div#wn8 ul li{display:block; float:left; width:416px; ; padding-left:8px; padding-top:4px; padding-right:18px; margin-left:0px; margin-bottom:1px; color:#6c9bad; background-color:#fafbfd; height:29px}

div#global div#sousColonneGauche div div#wn8 ul>li{width:390px; height:24px}


div#global div#sousColonneDroite{display:block; float:left; width:208px; height:572px; overflow:hidden; padding-left:8px}

div#actualites>div#sousColonneDroite{width:200px; padding-left:8px}

div#global div#sousColonneDroite div{display:block; float:left; width:200px; margin-bottom:22px; background-color:#688bb1; font-size:1.0em; font-weight:bold; height:96px}

div#global div#sousColonneDroite div h3{display:inline; float:left; width:150px; width:200px; padding-left:8px; font-weight:bold; color:#fff}

div#global div#sousColonneDroite div>h3{width:142px}

div#global div#sousColonneDroite div>h3{width:190px}

div#global div#sousColonneDroite div div{display:inline; float:left; width:50px; margin-bottom:0px}

div#global div#sousColonneDroite div div img{display:inline; float:right}

div#global div#sousColonneDroite div ul li{display:block; float:left; width:200px; height:36px; margin-bottom:1px; overflow:hidden; background-color:#98b2cb; padding-left:8px; padding-top:3px}

div#global div#sousColonneDroite div ul>li{width:196px}

div#global div#sousColonneDroite div ul li a{text-decoration:none}

div#global div#sousColonneDroite div ul li img{display:block; float:left; margin-top:5px; margin-right:5px}

div#global div#sousColonneDroite div ul li span{display:block; /*float:left;*/width:155px; overflow:hidden; line-height:18px; height:18px; font-size:0.9em; font-weight:bold; color:#fff}

div#global div#sousColonneDroite div ul li span.radio{display:block; float:left; width:100%; font-size:0.8em; color:#fff}

div#global div#sousColonneDroite div div#scrollLinks9{position:relative; left:182px; height:80px; margin-top:0px !important; top:0px; width:18px; z-index:10; overflow:hidden; background-color:transparent}

div#global div#sousColonneDroite div div#scrollLinks9 a.mouseover_up{position:absolute; left:0px; top:0px}

div#global div#sousColonneDroite div div#scrollLinks9 a.mouseover_down{position:absolute; left:0px; top:60px}

div#global div#sousColonneDroite div div#wn9{position:relative; top:-78px; width:200px; height:80px; margin-bottom:0px; overflow:hidden}

div#global div#sousColonneDroite div div#wn9 ul#lyr9{position:relative; top:0px; left:0px}

div#global div#sousColonneDroite div div#wn9 ul li{display:block; float:left; width:200px; height:36px; margin-bottom:1px; overflow:hidden; background-color:#98b2cb; padding-left:8px; padding-right:18px; padding-top:3px}
div#global div#sousColonneDroite div div#wn9 ul>li{width:174px}

div#global div#sousColonneDroite div div#scrollLinks10{position:relative; left:182px; height:80px; margin-top:0px !important; top:0px; width:18px; z-index:10; overflow:hidden; background-color:transparent}

div#global div#sousColonneDroite div div#scrollLinks10 a.mouseover_up{position:absolute; left:0px; top:0px}

div#global div#sousColonneDroite div div#scrollLinks10 a.mouseover_down{position:absolute; left:0px; top:60px}

div#global div#sousColonneDroite div div#wn10{position:relative; width:200px; height:80px; margin-top:0px; overflow:hidden; top:-78px}

div#global div#sousColonneDroite div div#wn10 ul#lyr10{position:relative; top:0px; left:0px}

div#global div#sousColonneDroite div div#wn10 ul li{display:block; float:left; width:200px; height:36px; margin-bottom:1px; overflow:hidden; background-color:#98b2cb; padding-left:8px; padding-right:18px; padding-top:3px}
div#global div#sousColonneDroite div div#wn10 ul>li{width:174px}

div#global div#sousColonneDroite div div#scrollLinks11{position:relative; left:182px; height:80px; margin-top:0px !important; top:0px; width:18px; z-index:10; overflow:hidden; background-color:transparent}

div#global div#sousColonneDroite div div#scrollLinks11 a.mouseover_up{position:absolute; left:0px; top:0px}

div#global div#sousColonneDroite div div#scrollLinks11 a.mouseover_down{position:absolute; left:0px; top:60px}

div#global div#sousColonneDroite div div#wn11{position:relative; width:200px; height:80px; margin-top:0px; top:-78px; overflow:hidden}

div#global div#sousColonneDroite div div#wn11 ul#lyr11{position:relative; top:0px; left:0px}

div#global div#sousColonneDroite div div#wn11 ul li{display:block; float:left; width:200px; height:36px; margin-bottom:1px; overflow:hidden; background-color:#98b2cb; padding-left:8px; padding-right:18px; padding-top:3px}
div#global div#sousColonneDroite div div#wn11 ul>li{width:174px}

div#global div#sousColonneDroite div div#scrollLinks12{position:relative; left:182px; height:80px; margin-top:0px !important; top:0px; width:18px; z-index:10; overflow:hidden; background-color:transparent}

div#global div#sousColonneDroite div div#scrollLinks12 a.mouseover_up{position:absolute; left:0px; top:0px}

div#global div#sousColonneDroite div div#scrollLinks12 a.mouseover_down{position:absolute; left:0px; top:60px}

div#global div#sousColonneDroite div div#wn12{position:relative; width:200px; height:80px; margin-top:0px; top:-78px; overflow:hidden}

div#global div#sousColonneDroite div div#wn12 ul#lyr12{position:relative; top:0px; left:0px}

div#global div#sousColonneDroite div div#wn12 ul li{display:block; float:left; width:200px; height:36px; margin-bottom:1px; overflow:hidden; background-color:#98b2cb; padding-left:8px; padding-right:18px; padding-top:3px}
div#global div#sousColonneDroite div div#wn12 ul>li{width:174px}

div#global div#sousColonneDroite div div#scrollLinks13{position:relative; left:182px; height:80px; margin-top:0px !important; top:0px; width:18px; z-index:10; overflow:hidden; background-color:transparent}

div#global div#sousColonneDroite div div#scrollLinks13 a.mouseover_up{position:absolute; left:0px; top:0px}

div#global div#sousColonneDroite div div#scrollLinks13 a.mouseover_down{position:absolute; left:0px; top:60px}

div#global div#sousColonneDroite div div#wn13{position:relative; width:200px; height:80px; margin-top:0px; top:-78px; overflow:hidden}

div#global div#sousColonneDroite div div#wn13 ul#lyr13{position:relative; top:0px; left:0px}

div#global div#sousColonneDroite div div#wn13 ul li{display:block; float:left; width:200px; height:36px; margin-bottom:1px; overflow:hidden; background-color:#98b2cb; padding-left:8px; padding-top:3px; padding-right:18px}
div#global div#sousColonneDroite div div#wn13 ul>li{width:174px}

div#global div#selections{display:block; float:left; width:640px; height:174px; margin-bottom:4px; overflow-x:hidden}

div#global div#selections h2{display:block; float:left; width:640px; height:24px; padding-left:8px; background-image:url('selectionH2Background.png'); background-repeat:repeat-x; font-size:1.4em; color:#6c6d81; font-weight:bold}

div#global div#selections>h2{width:632px}

div#global div#selections ul li{display:inline; float:left; padding-left:8px; font-weight:bold; color:#fff; cursor:pointer}

div#global div#selections ul.onglet li{padding-left:7px; border-left:#FFF 1px solid;border-bottom:#FFF 0px solid}
div#global div#selections ul.onglet li.selected{border-bottom:none;}

div#global div#selections ul.onglet li.first{padding-left:7px; border-left:none}

div#global div#selections ul li.ongletRadio6{background-color:#E4063B}

div#global div#selections ul li.ongletRadio2{background-color:#e30037}

div#global div#selections ul li.ongletRadio3{background-color:#b10046}

div#global div#selections ul li.ongletRadio4{background-color:#e30073}

div#global div#selections ul li.ongletRadio5{background-color:#014493}

div#global div#selections ul li.ongletRadio13{background-color:#EC7709}

div#global div#selections ul li.ongletRadio7{background-color:orange}

div#global div#selections ul li.ongletRadio8{background-color:orange}

div#global div#selections ul li.ongletRadio9{background-color:orange}

div#global div#selections ul li.ongletRadio10{background-color:#E4063B}

div#global div#selections ul li.ongletRadio11{background-color:#E30474}

div#global div#selections div.ongletRadioContent{display:none; float:left; width:640px; height:125px; overflow:hidden; padding-top:8px; padding-left:8px}

div#global div#selections>div.ongletRadioContent{width:632px}

div#global div#selections div.ongletRadioContent ul li{display:inline; float:left; padding-left:24px; margin-left:0px; padding-bottom:12px; background-position:0px 4px; background:url(ombreNoire.png) no-repeat}

div#global div#selections div.ongletRadioContent ul>li{display:block; float:left; width:92px; height:92px; padding-left:0px; margin-left:24px; padding-bottom:12px; background:url(ombreNoire.png) no-repeat 0px 4px}

div#global div#selections div.first{display:block}

div#global div#selections div.ongletRadioContent a{display:block; float:left; width:424px; height:20px; text-decoration:none; font-weight:bold; padding-top:3px}

div#global div#selections div.ongletRadioContent a.right{display:block; float:right; width:200px; height:20px; text-align:right; padding-right:28px; text-decoration:none; background-repeat:no-repeat; background-position:176px;}

div#global div#selections div.ongletRadioContent>a.right{width:172px}

div#global div#ongletRadio4{background-image:url(selectionBleuBackground.png); background-repeat:repeat; background-color:#ec7608}

/*div#global div#ongletRadio4 a{color:#155996}

div#global div#ongletRadio4 a.right{background:url(../medias/images/home/plusSelectionsFranceBleue.png) no-repeat 176px}

div#global div#ongletRadio5{background-image:url(../medias/images/home/selectionInfoBackground.png)}

div#global div#ongletRadio5 a{color:#155996}

div#global div#ongletRadio5 a.right{background:url(../medias/images/home/plusSelectionsFranceInfo.png) no-repeat 176px}

div#global div#ongletRadio6{background-image:url(../medias/images/home/selectionInterBackground.png)}

div#global div#ongletRadio6 a{color:#E4063B}

div#global div#ongletRadio6 a.right{background:url(../medias/images/home/plusSelectionsFranceInter.png) no-repeat 176px}

div#global div#ongletRadio10{background-image:url(../medias/images/home/selectionInterBackground.png)}

div#global div#ongletRadio10 a{color:#155996}

div#global div#ongletRadio10 a.right{background:url(../medias/images/home/plusSelectionsEditionsRadioFrance.png) no-repeat 176px}

div#global div#ongletRadio11{background-image:url(../medias/images/home/selectionFIPBackground.png)}

div#global div#ongletRadio11 a{color:#E30474}

div#global div#ongletRadio11 a.right{background:url(../medias/images/home/plusSelectionsFIP.png) no-repeat 176px}

div#global div#ongletRadio12{background-image:url(../medias/images/home/selectionCultureBackground.png)}

div#global div#ongletRadio12 a{color:#155996}

div#global div#ongletRadio12 a.right{background:url(../medias/images/home/plusSelectionsCulture.png) no-repeat 176px}

div#global div#ongletRadio13{background-image:url(../medias/images/home/selectionLeMouvBackground.png)}

div#global div#ongletRadio13 a{color:#EC7709}

div#global div#ongletRadio13 a.right{background:url(../medias/images/home/plusSelectionsLeMouv.png) no-repeat 176px}

div#global div#ongletRadio14{background-image:url(../medias/images/home/selectionMusiqueBackground.png)}

div#global div#ongletRadio14 a{color:#155996}

div#global div#ongletRadio14 a.right{background:url(../medias/images/home/plusSelectionsFranceMusique.png) no-repeat 176px}

div#global div#ongletRadio15{background-image:url(../medias/images/home/selectionPhilarmoniqueBackground.png)}

div#global div#ongletRadio15 a{color:#155996}

div#global div#ongletRadio15 a.right{background:url(../medias/images/home/plusSelectionsPhilarmonique.png) no-repeat 176px}

div#global div#ongletRadio16{background-image:url(../medias/images/home/selectionMaitriseBackground.png)}

div#global div#ongletRadio16 a{color:#155996}

div#global div#ongletRadio16 a.right{background:url(../medias/images/home/plusSelectionsMaitrise.png) no-repeat 176px}

div#global div#ongletRadio17{background-image:url(../medias/images/home/selectionOrchestreBackground.png)}

div#global div#ongletRadio17 a{color:#155996}

div#global div#ongletRadio17 a.right{background:url(../medias/images/home/plusSelectionsNational.png) no-repeat 176px}
*/
div#global .ongletRadioContent a.right span{padding-left:10px;}
div#global div#selectionsEditionsRadioFrance{display:block; float:left; width:640px; height:168px; overflow:hidden; margin-bottom:8px}

div#global div#selectionsEditionsRadioFrance h2{display:block; float:left; width:640px; height:24px; padding-left:8px; background-image:url(selectionH2Background.png); background-repeat:repeat-x; font-size:1.4em; color:#6c6d81; font-weight:bold}

div#global div#selectionsEditionsRadioFrance>h2{width:632px}

div#global div#selectionsEditionsRadioFrance div {display:block; float:left; width:632px; padding-left:8px; height:142px; background: #A00000 url(ongletRadioFranceBackground.png) top left repeat-x}

div#global div#selectionsEditionsRadioFrance>div {width:632px}

div#global div#selectionsEditionsRadioFrance div ul{display:block; float:left; width:632px}

div#global div#selectionsEditionsRadioFrance div ul li{display:block; float:left; width:92px; height:92px; margin-top:8px; margin-left:16px; margin-right:8px; background:url(ombreNoire.png) no-repeat top left; background-position:0px 7px; padding-left:0px; padding-top:0px; padding-bottom:16px; cursor:pointer}

div#global div#selectionsEditionsRadioFrance div a{height:20px; padding-top:6px; display:block; float:left; color:#155996; font-weight:bold; text-decoration:none}

div#global div#selectionsEditionsRadioFrance div a.right{display:block; float:right; width:200px; height:20px; background-image:url(plusSelectionsEditionsRadioFrance.png); background-repeat:no-repeat; background-position:176px; text-align:right; padding-right:28px; text-decoration:none}

div#global div#selectionsEditionsRadioFrance div>a.right{width:172px}

div#global div#colonneDroite{display:block; float:left; width:324px; padding-left:8px; padding-top:8px; overflow:hidden}

div#global div#page>div#colonneDroite{width:316px}

div.scroll_controls, div#extra_controls, div#scrollbar{display:block}

div.scroll_controls{position:relative; left:284px; height:100px; margin-top:10px; width:18px; z-index:10}

.mouseover_up{position:relative; top:0px; left:0px}

div#scrollLinks1 a.mouseover_down{position:relative; top:71px; left:0px}

div#scrollLinks2 a.mouseover_down{position:relative; top:75px; left:0px}

div#global div#agenda{display:block; float:left; width:316px; height:378px; background-color:#464d67; overflow:hidden}

div#global div#agenda h2{display:block; float:left; width:316px; height:23px; background-image:url(agendaH2Background.png); background-repeat:repeat-x; padding-left:8px; font-size:14px; color:#fff; font-weight:bold}

div#global div#agenda>h2{width:308px}

div#global div#agenda h3{display:block; float:left; width:300px; height:32px; padding-left:40px; padding-top:12px; font-weight:bold; background-image:url(ico_media_son_home.png); background-position:8px 8px; background-repeat:no-repeat; color:#fff; font-size:12px}

div#global div#agenda div#player{display:block; float:left; padding-left:8px; padding-bottom:8px; overflow:hidden}

div#global div#agenda div#player img{display:block; float:left; margin-left:8px}

div#global div#agenda ul{clear:both}
div#global div#agenda ul li{display:block; float:left; width:308px; margin-bottom:5px; padding-left:8px; overflow:hidden}

div#global div#agenda ul>li{width:300px}

div#global div#agenda ul li h3{display:block; float:left; width:308px; height:19px; padding-left:8px; background-image:none; background-color:#dbdce0; margin-top:0px; padding-top:3px; font-weight:bold; color:#464d67; font-size:12px}

div#global div#agenda ul li>h3{width:300px}

div#global div#agenda ul li ul li{color:#fff; text-decoration:none; font-size:11px; font-weight:bold}

div#global div#agenda ul li ul li a{color:#fff; text-decoration:none; font-size:11px; font-weight:bold}

div#global div#agenda ul li ul li a span{font-size:11px}

div#global div#agenda ul li ul li img{display:block; float:left; margin-top:7px; margin-right:5px}

div#global div#agenda ul li.first{display:block; float:left; width:308px; height:132px; padding-left:8px; overflow:hidden}

div#global div#agenda ul>li.first{width:300px}

div#global div#agenda ul li.first div#scrollLinks1{position:relative; left:284px; height:100px; margin-top:10px; top:-10px; width:18px; z-index:10}

div#global div#agenda ul li.first>div#scrollLinks1{top:0px}

div#global div#agenda ul li.first div#wn1{position:relative; top:-108px; left:0px; visible:true; overflow:hidden; height:108px; width:300px}

div#global div#agenda ul li.first>div#wn1{top:-90px}

div#global div#agenda ul li.first div#wn1 ul#lyr1{position:absolute; top:0px; left:0px}

div#global div#agenda ul li.first div#wn1 ul#lyr1 li{display:block; float:left; width:300px; height:54px; line-height:18px; padding-left:8px; padding-right:18px}
div#global div#agenda ul li.first div#wn1 ul#lyr1>li{width:274px}

div#scrollLinks2{position:relative; left:284px; height:100px; margin-top:10px !important; top:-10px; width:18px; z-index:10}

div#global div#agenda ul li>div#scrollLinks2{top:0px}

div#global div#agenda ul li div#wn2{position:relative; height:110px; width:300px; top:-110px; left:0px; visible:true; overflow:hidden}

div#global div#agenda ul li>div#wn2{top:-88px}

div#global div#agenda ul li div#wn2 ul#lyr2{position:absolute; top:0px; left:0px}

div#global div#agenda ul li ul li{display:block; float:left; height:21px; line-height:21px; width:300px; margin-bottom:1px; margin-left:0px; padding-left:8px; background-color:#868c9c; overflow:hidden}

div#global div#agenda ul li ul>li{width:274px; padding-right:18px}

div#global div#pubDroite{display:block; float:left; width:316px; height:317px; background-color:#dedddb; text-align:center; margin-top:8px; margin-bottom:8px}

div#global div#pubDroite h3{display:block; text-align:center; color:#fff; height:20px; padding-left:0px; padding-top:12px}

div#global div#pubDroite div{display:block; float:left; padding-left:8px}

div#global div#sons{display:block; float:left; width:316px; height:320px; padding-bottom:8px; overflow:hidden; background-color:#cccdd2}

div#global div#colonneDroite div#sons{display:block; float:left; width:316px; height:325px; padding-bottom:8px; overflow:hidden; background-color:#cccdd2}

div#global div#colonneDroite>div#sons{height:320px}

div#global div#sons h2{display:block; float:left; width:316px; height:24px; padding-left:8px; margin-bottom:8px; overflow:hidden; background-image:url('selectionH2Background.png'); background-repeat:repeat-x; font-size:1.4em; color:#6c6d81; font-weight:bold}

div#global div#sons>h2{margin-bottom:0px; width:308px}

div#global div#sons ul li{display:block; float:left; width:308px; height:148px; padding-left:8px; overflow:hidden}

div#global div#sons ul>li{width:300px}

div#global div#sons ul li h3{display:block; float:left; width:300px; height:20px; padding-left:8px; background-color:#868c9c; font-weight:bold; color:#fff; font-size:0.95em}

div#global div#sons ul li>h3{width:292px; margin-top:8px; padding-top:3px}

div#global div#sons ul li ul li{display:block; float:left; line-height:23px; width:300px; height:23px; margin-bottom:1px; margin-left:0px; padding-left:8px; overflow:hidden; background-color:#f4f5f7}

ul li div#scrollLinks3{position:relative; left:284px; height:170px; width:18px; overflow:hidden; margin-top:0px; z-index:10}

ul li div#scrollLinks4{position:relative; left:284px; height:170px; width:18px; overflow:hidden; margin-top:0px; z-index:10}

div#sons a.mouseover_up{position:relative; top:0px; left:0px}

div#sons a.mouseover_down{position:relative; top:80px; left:0px}

ul li div#wn3{position:relative; width:300px; height:116px; top:-170px; left:0px; visible:true; overflow:hidden}

ul li div#wn4{position:relative; width:300px; height:116px; top:-170px; left:0px; visible:true; overflow:hidden}

ul#lyr3, ul#lyr4{position:absolute; top:0px; left:0px}

div#global div#sons ul li ul>li{display:block; float:left; line-height:23px; width:274px; height:23px; margin-bottom:1px; margin-left:0px; padding-left:8px; padding-right:18px; overflow:hidden; background-color:#f4f5f7}

div#global div#sons ul li ul li a{font-size:11px; color:#424b5a; text-decoration:none}

div#global div#sons ul li ul li a span{display:inline; float:left; margin-bottom:1px; margin-top:6px; font-size:0.9em; color:#424b5a; font-weight:bolder}

div#global div#sons ul li ul li a span.radio{font-weight:normal}

div#global div#sons ul li ul li a img{display:inline; float:left; margin-top:8px; margin-right:5px}

div#global div#menuBas{display:block; float:left; width:982px; padding-left:11px; background-color:#fff; padding-top:4px; padding-bottom:12px; text-align:left; color:#888c97}

div#global>div#menuBas{width:971px}

div#global div#menuBas div.menuBas h3{font-weight:bold; display:block; float:left}

div.menuBas{padding-top:4px; padding-bottom:4px}

div#global div#menuBas div.menuBas a{border-color:#888c97; padding-left:8px; padding-right:8px; text-decoration:underline; color:#888c97}

div#global div#menuBas div.menuBas a:hover{text-decoration:none; color:#444650}

div#global div#copyright{display:block; float:left; text-align:right; padding-top:8px; width:300px; font-size:0.8em; color:#888c97}
div#global div#copyright p{text-align:right}

#blocPrincipal{width:1107px; margin:0 auto; font-size:1 em}

#blocMaitre{float:left; width:982px}

#blocSkycrapper{float:right; margin-top:130px; margin-top:124px; margin-left:5px}

#blocHeader a{display:block; float:left; height:16px; border:1px solid #fff; border-top:none; border-right:none; border-bottom:none; color:#fff}

#blocPublicitaire{display:block; text-align:right; padding-left:254px; background:url(fd_bloc_header.png) no-repeat left center; height:90px; margin-bottom:4px}

ul#navHeader{display:block; float:left; width:500px; padding-top:10px; padding-bottom:5px}

ul#navHeader li{display:inline; float:left}

#formRecherche{display:block; float:right; padding-top:6px; padding-bottom:5px;}

#formRecherche img{float:left; border:none}

#formRecherche input{float:left; margin-top:-2px}

#formRecherche input#motsClefs{width:89px; height:16px; border:none; border-top:1px solid #999; border-left:1px solid #999; background:#fff}

#blocEnTete{padding-top:8px; padding-bottom:8px; background:#fff url(fd_bloc_tete.png) no-repeat left top; height:100px; clear:both}

#blocEnTete a{display:block; float:left; padding-left:8px}

#logoRadioFrance{margin-left:10px; float:left}

div#blocEnTete #monCompte{display:block; float:left; width:858px; margin-left:8px; background:#678bb0; padding-right:8px; text-align:right; overflow:visible; position:relative; height:48px; z-index:30000}

div#blocEnTete>#monCompte{width:850px}

#monCompte .actionCompte{display:none; height:15px; text-align:right; color:#c3e1f0}

#monCompte a.monCompte{display:inline; float:none; margin-left:0px; font-size:10px; color:#c3e1f0; text-decoration:underline}

#monCompte .zoneDate{display:inline; margin-left:20px; padding-right:80px; font-size:10px; color:#fff}

#blocEnTete .zoneHeure{display:block; float:right; width:86px; left:8px; top:-50px; padding-top:3px; padding-bottom:4px; font-size:22px; font-weight:bold; color:#fff; text-align:right; position:relative; z-index:50000; margin-right:20px}

ul#navTete{background:transparent url(fd_nav_tete.png) repeat-x scroll left top; border-top:2px solid #3B6AA5; height:38px; margin-left:116px; margin-top:48px; position:absolute; width:858px; z-index:10000}


#navTete li{position:relative; display:inline; float:left; height:38px; margin-right:20px}

#navTete li ul{position:absolute; display:none; top:37px; width:100%; padding-bottom:5px; overflow-x:hidden; z-index:250; background:url(fd_ssr.png) repeat left top}

#navTete li ul li{display:block; float:none; clear:left; height:auto; margin-left:8px; background:transparent url(fd_ssr.png) repeat scroll left top}

#navTete li ul li a{display:block; float:left; width:100%; border-top:1px solid #FFF; padding:6px; background:#4D87C7 none repeat scroll 0 0; color:#FFF; font-size:0.9em; text-decoration:none}

#navTete li ul li a:hover, #navTete li ul li a:focus{background:#1e549e}

#blocConteneur{display:block; float:left; width:100%; margin-bottom:8px; padding-bottom:8px; overflow:hidden; background:#fff url(fd_bloc_conteneur.png) no-repeat left top; margin-top:-29px}

#blocLateraleGauche{display:block; float:left; width:118px; padding-top:23px; padding-bottom:50px}

.presentation #blocLateraleGauche, .liste #blocLateraleGauche, .organigramme #blocLateraleGauche{padding-bottom:700px}

ul#sousNav{margin:0 8px 10px 10px}

ul#sousNav li{margin-bottom:1px; list-style:none}

ul#sousNav li a{display:block; line-height:120%; padding:5px 5px 6px 5px; background-color:#417fc4; text-decoration:none; font-size:0.9em; color:#fff}

ul#sousNav li a:hover, ul#sousNav li a:focus, ul#sousNav li a.actif{background-color:#1e549e; color:#feffff}

ul#sousNav li ul.sousSousNav{border-top:1px solid #fff; padding-bottom:3px; background:#b6d3f2}

ul#sousNav li ul.sousSousNav li{margin-bottom:0}

ul#sousNav li ul.sousSousNav li a{display:block; line-height:120%; padding:3px 4px 2px 8px; background:#b6d3f2; text-decoration:none; font-size:0.8em; font-weight:normal; color:#14418c}

ul#sousNav li ul.sousSousNav li a:hover, ul#sousNav li ul.sousSousNav li a:focus, ul#sousNav li ul.sousSousNav li a.actif{background:#b6d3f2 url(puce_2.png) no-repeat 4px 8px}

ul#navServices{margin:0 8px 10px 10px}

ul#navServices li{margin-bottom:1px; list-style:none}

ul#navServices li a{display:block; padding:4px 5px; background:#464d67; text-decoration:none; font-size:0.88em; font-weight:bold; color:#fff}

ul#navServices li a:hover, ul#navServices li a:focus, ul#navServices li a.actif{background:#1e2337; color:#feffff}

ul#navOutils{margin:0 8px 0 10px; border-top:1px solid #8ba6c9; background:#fff url(fd_nav_outils.png) no-repeat left top}

ul#navOutils li{border-bottom:1px solid #8ba6c9; list-style:none}

ul#navOutils li a{display:block; padding:5px 5px 6px 25px; line-height:1.1em; text-decoration:none; font-size:0.88em; color:#1e549e}

ul#navOutils li a#faq,ul#navOutils li a#rub_faq{background:url(ico_faq_n.png) no-repeat 4px center}

ul#navOutils li a#Widget,ul#navOutils li a#widget{background:url(ico_media_son_n.png) no-repeat 4px center}

ul#navOutils li a#frequences,ul#navOutils li a#rub_freq{background:url(ico_freq_n.png) no-repeat 4px center}

ul#navOutils li a#podcast,ul#navOutils li a#rub_pod{background:url(ico_pod_n.png) no-repeat 4px center}

ul#navOutils li a#rss,ul#navOutils li a#rub_rss{background:url(ico_rss_n.png) no-repeat 4px center}

ul#navOutils li a#rub_cont{background:url(ico_cont_n.png) no-repeat 4px center}

ul#navOutils li a#faq:hover, ul#navOutils li a#rub_faq:focus{background:url(ico_faq_h.png) no-repeat 4px center}

ul#navOutils li a#frequences:hover, ul#navOutils li a#frequences:focus{background:url(ico_freq_h.png) no-repeat 4px center}

ul#navOutils li a#podcast:hover, ul#navOutils li a#podcast:focus{background:url(ico_pod_h.png) no-repeat 4px center}

ul#navOutils li a#rss:hover, ul#navOutils li a#rss:focus{background:url(ico_rss_h.png) no-repeat 4px center}
ul#navOutils li a#rss:hover, ul#navOutils li a#rss:focus{background:url(ico_rss_h.png) no-repeat 4px center}

ul#navOutils li a#rub_cont:hover, ul#navOutils li a#rub_cont:focus{background:url(ico_cont_h.png) no-repeat 4px center}

.colG a{color:#788C9B}

.presentation .colG, .liste .colG{position:relative; float:left; width:532px; padding-top:20px; padding-bottom:50px}

.organigramme .colG{position:relative; float:left; width:856px; padding-top:20px; padding-bottom:50px}

.agenda .colG{float:left; width:640px; padding-top:20px; padding-bottom:50px; position:relative; height:100%}

.frequences .colG{float:left; width:424px; padding-top:20px; padding-bottom:8px; position:relative; background:url(fd_bloc_conteneur2.png) no-repeat left 8px; min-height:200px}

.presentation .colG .aLire, .liste .colG .aLire{float:left; width:100%; padding-top:20px; padding-bottom:20px}

#menuPratique{display:block; float:right; margin-bottom:8px; text-align:right}

#menuPratique img{float:left; cursor:pointer}

.hhsgcontent{display:block; float:left}

div.tx-jkpoll-pi1 h2{display:block; float:left; margin-top:8px; margin-bottom:4px; width:100%; font-size:1.4em; font-weight:bold; color:#698caf}

div.img_poll{display:block; float:left; margin-left:0px}

div#question{display:block; float:left; margin-top:10px; margin-bottom:10px; font-size:0.9em; font-weight:bold; padding:2px 7px 0}
div#hresult{display:block; float:left; width:100%; padding-left:8px; padding-top:8px; padding-bottom:8px; color:#788C9B}

div#question p{margin-left:8px; color:black}

div#answer{display:block; float:left}

div#answer input.pollanswer{display:block; float:left; border:none}

div#answer fieldset{display:block}

div#answer fieldset.submit{display:block; float:left; margin-left:150px}

div#answer label{display:block; float:left}

.colD .tx-jkpoll-pi1{background:#D6E4EC none repeat scroll 0 0; border-bottom:8px solid #FFF; display:block; float:left;margin-right:5px;clear:both;}

.colD .tx-jkpoll-pi1 img {padding-left:8px; padding-right:8px}

.colD .tx-jkpoll-pi1 img.tx-srfreecap-pi2-image{margin-top:8px; margin-bottom:8px}

.colD .tx-jkpoll-pi1 h3{background:#678BB0 none repeat scroll 0 0; color:#FFF; font-weight:bold; padding:2px 7px 3px}

.colD .tx-jkpoll-pi1 form{background:#C0D2E0 none repeat scroll 0 0;padding-top:5px}

.colD .tx-jkpoll-pi1 form p{clear:left; font-size:0.9em; line-height:170%; font-weight:normal; color:#364860; margin:0; padding:2px 7px 3px}

.colD .tx-jkpoll-pi1 p{font-size:0.9em; font-weight:bold; padding:2px 7px 0}

.colD .tx-jkpoll-pi1 input { border:none; }

/*fix width for error message box from poll.tmpl -> jk_poll ext*/
.error_poll{color:red;font-weight:bold;margin:5px;width:100%;}

.presentation h1, .liste h1, .recherche h1{line-height:125%; font-size:1.6em; font-weight:bold; color:#698caf}

.blog h1{border-bottom:1px solid #699; padding-bottom:2px; margin-bottom:5px; line-height:125%; font-size:1.6em; font-weight:bold; color:#698caf}

.presentation .sommaire h2, .liste .sommaire h2{color:#fff; font-weight:bold; margin-bottom:4px}

.autresArticlesBlog h2{border-bottom:1px solid #699; padding-bottom:2px; margin-bottom:5px; line-height:125%; font-size:1.6em; font-weight:bold; color:#698caf}

.presentation .aLire h3, .liste .aLire h3{font-weight:bold; color:#fff; background:#678bb0; padding:2px 7px 3px 7px}

.presentation p{color:#788c9b; line-height:120%; vertical-align:top}

.presentation p.chapo{color:#446593; margin:7px 0}

.presentation img.bandeau{float:left; border-bottom:1px solid #fff}

.presentation .sommaire{background:#abc1d6 url(fd_sommaire_1.png) repeat-x left bottom; clear:left; padding:1px 8px 7px 8px}

.presentation .sommaire a{color:#364860; font-size:0.9em; font-weight:bold}

.presentation #autresArticles{border-top:1px solid #ccc; clear:left}

.presentation #autresArticles p{margin-bottom:15px}

.presentation #autresArticles p.accroche{margin-bottom:0px}

.presentation #autresArticles a.btTop{display:block; clear:left; height:19px; text-align:right; border-bottom:1px solid #acbfd4; text-decoration:none}

.presentation #autresArticles a.btTop span.signature{float:left; width:500px; font-style:italic}

.presentation .aLire ul{background:#d6e4ec; padding-bottom:15px}

.presentation .aLire li{list-style:none; margin-left:10px}

.presentation .aLire a{font-size:0.9em; color:#364860; text-decoration:none; font-weight:bold; padding-left:10px; background:url(puce_1.png) no-repeat left 3px}

.presentation .ligneCommentaire{border-top:1px dotted #8A8A8A; margin-top:5px; padding-top:5px}

.presentation .nbCommentaires{font-weight:bold; font-size:0.9em; color:#698caf; border-top:1px solid #aabed2; padding:5px 5px 5px 30px; background:url(ico_comment.png) no-repeat left top; margin-bottom:4px}

.presentation .dateCommentaire{color:#8a8a8a; font-size:0.9em; padding-top:5px; margin-bottom:4px}

.presentation .auteurCommentaire{color:#8a8a8a; font-size:0.9em; margin-bottom:5px}

.presentation .nom{font-weight:bold}

.presentation .texteCommentaire{color:#8a8a8a; font-size:0.9em; margin-bottom:16px}

.presentation #formAjoutCommentaire{padding-top:8px}

.presentation #formAjoutCommentaire h3{font-weight:bold; font-size:0.9em; color:#698caf; padding-top:2px; margin-bottom:8px; border-top:1px solid #aabed2}

.presentation #formAjoutCommentaire label{float:left; width:110px; color:#8a8a8a; font-size:0.9em}

.presentation #formAjoutCommentaire p{clear:left; margin-bottom:7px}

.presentation #formAjoutCommentaire input{border:1px solid #8a8a8a; font-size:0.9em}

.presentation #formAjoutCommentaire textarea{border:1px solid #8a8a8a; width:320px; font-size:0.9em; margin-top:7px; height:98px}

.presentation #formAjoutCommentaire .checkbox input{float:left; width:auto; font-weight:bold; margin:0 4px 0 0; border:none; }

.presentation #formAjoutCommentaire p.checkbox{float:left; width:220px; font-weight:bold; font-size:0.9em; color:#698caf; margin-bottom:24px}

.presentation #formAjoutCommentaire .checkbox a{font-weight:bold; color:#698caf}

.presentation #formAjoutCommentaire p.action{float:left; width:102px; clear:none; text-align:right}

.presentation #formAjoutCommentaire .requiredField{font-size:0.9em; color:red}

.presentation .zoneCommentaires a.btTop{display:block; clear:left; height:19px; text-align:right; border-bottom:1px solid #acbfd4; margin-top:24px}

.liste p{color:#788c9b; line-height:120%; vertical-align:top; margin-top:10px}
.liste p.chapo{color:#446593; margin:7px 0}

.liste #autresArticles{margin-top:1px; padding-top:15px; margin-bottom:20px}

.liste #autresArticles h2{padding-top:15px; color:#364860; font-weight:bold; font-size:1em; margin-bottom:3px}

.liste #autresArticles p{margin-bottom:15px}

.liste #autresArticles p.accroche{margin-bottom:0px}

.liste #autresArticles p.dateArticle{font-size:0.9em; color:#364860; margin-bottom:3px; padding-bottom:15px}

.liste #autresArticles a.btSavoirPlus{display:block; clear:left; height:19px; text-align:right; border-bottom:1px solid #acbfd4; text-decoration:none}

.liste #autresArticles a.btSavoirPlus, .liste .topArticle a.btSavoirPlus{margin-bottom:10px; margin-top:5px}

.liste #autresArticles a.btTop{display:block; clear:left; height:19px; text-align:right; border-bottom:1px solid #acbfd4; text-decoration:none}

.liste #autresArticles a.btTop span.signature{float:left; width:500px; font-style:italic}

.liste #autresArticles img.gauche{margin-top:4px}

.liste  #autresArticles.mediaGalerie { display:block; margin: 0px; padding: 0px;}

.liste #contenu .aLire ul {background:#d6e4ec;}
.liste #contenu .aLire ul, .liste .colD .aLire ul { padding: 1em 0 1em 0px;}

.liste .aLire li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin-left:10px;
}

.liste #contenu .aLire li{list-style-type: none; margin-left:10px}

.liste .aLire a{font-size:0.9em; color:#364860; text-decoration:none; font-weight:bold; padding-left:10px; background:url(puce_1.png) no-repeat left 3px}

.liste .sommaire{background:#abc1d6 url(fd_sommaire_1.png) repeat-x left bottom; clear:left; padding:1px 8px 7px 8px}

.liste li{line-height:1.5}

.liste .sommaire a{color:#364860; font-size:0.9em; font-weight:bold}

.mediaAss{display:block; width:100%; clear:both; float: left;}

.tx-hhsmoothgallery-pi1{overflow:hidden; clear:both; margin-bottom: 12px;}

p.infoMedia{display:block; font-size:0.9em; margin-top:15px; padding-right:10px; min-height:25px}

p.infoMedia a{color:#2458a0}

.mediaSon{background:url(ico_media_son.png) no-repeat left top; padding-left:35px}

.mediaFilm{padding-left:35px; background:url(ico_media_film.png) no-repeat left top}

.mediaDoc{padding-left:35px; background:url(ico_media_doc.png) no-repeat left top}

span.titreMedia{color:#2458a0}

span.media{display:block; padding-left:0px}

.mediaSonRetrait{background:url(ico_media_son.png) no-repeat left top; padding-left:35px; margin-left:110px}

span.mediaRetrait{display:block; height:20px; padding-left:35px; margin-left:110px}

#organigramme{position:relative}

.organigramme h1{font-size:1.6em; color:#698caf; font-weight:bold; line-height:125%; border-bottom:1px solid #698caf; padding-bottom:2px; margin-bottom:9px}

#organigramme h2{color:#fff; font-weight:bold; background:#c2d1df; padding:6px 8px 6px 8px; clear:left; margin-bottom:4px}

#organigramme h3{color:#788c9b; font-weight:bold; padding-left:1px; padding-right:5px; float:left; width:213px; clear:left; line-height:120%; margin-bottom:8px; margin-top:4px}

#organigramme ul{float:left; width:213px; margin-bottom:8px; margin-top:4px}

#organigramme ul li{list-style:none; line-height:120%; color:#698caf}

#organigramme li span{padding-left:13px}

#organigramme li a{text-decoration:none; color:#698caf; padding-left:13px; background:url(puce_3.png) no-repeat left 3px}

#organigramme hr.sep{clear:both; background:#fff; border:none; border-top:1px dotted #aabed2; margin:0; padding:0; color:white}

.opopup{background:#fff; text-align:left}

.opopup #popup{position:relative; margin:auto}

#popup{padding:10px 0 10px 0; width:436px; position:absolute; top:25px; right:-8px}

#popup .popupContenu{background:url(popup1_cote.png) repeat-y left top}

#popup .haut{position:absolute; top:0; left:0; background:url(popup1_haut.png) no-repeat left top; height:12px; width:100%}

#popup .bas{position:absolute; bottom:0; left:0; background:url(popup1_bas.png) no-repeat left top; height:10px; width:100%}

#popup h2{color:#698caf; font-size:1.4em; font-weight:bold; background:url(popup1_cote.png) repeat-y left top; padding:6px 8px 0 12px; margin:0; margin-right:20px}

#popup h3{color:#788c9b; font-size:1.2em; font-weight:bold; float:none; width:auto; padding:0 8px 6px 12px; margin:0}

#popup p.nom{color:#000}

#popup .popupDroite{padding-top:20px; float:right; width:150px}

#popup .popupGauche{padding-top:20px; float:left; width:150px}

#popup .popupGauche ul{margin-left:12px; border-bottom:1px solid #b4c5d7}

#popup .popupGauche li{list-style:none; color:#698caf; font-size:0.9em; font-weight:bold; border-top:1px solid #b4c5d7; padding:6px 0}

#popup .popupGauche li a{margin-left:-12px; background-image:none; font-weight:bold}

#popup .popupGauche li a.poste{color:#305477}

#popup img.gauche{margin-left:12px}

#popup .popupDroite img.gauche{margin-left:0; margin-top:2px}

#popup p{font-size:0.9em; line-height:120%; color:#788c9b; margin:0 20px 12px 120px}

#popup .popupDroite p{margin:0 20px 12px 0}

#popup p.titre{margin:35px 14px 0 12px; border-top:1px dotted #aabed2; padding:5px 12px 10px 30px; clear:both; color:#2458a0; background:url(puce_3.png) no-repeat 10px 7px}

#popup p.titre_nobu{margin:35px 14px 0 12px; border-top:1px dotted #aabed2; padding:5px 12px 10px 30px; clear:both; color:#2458a0}

#popup p.titre a{text-decoration:none; color:#2458A0; line-height:0}

#organigramme #fermerPopup{position:absolute; top:50px; right:10px; cursor:pointer}

#organigramme #popup #fermerPopup{position:absolute; top:25px; right:18px; cursor:pointer}

#formFiltreListe{text-align:center; background:#c0d2e0; color:#364860; padding:10px}

#formFiltreListe a, #formFiltreListe label{color:#364860; font-size:0.9em; text-decoration:none}

#formFiltreListe label{font-weight:bold}

#formFiltreListe .listeAnnees{text-align:center}

#formFiltreListe .listeAnnees a, #formFiltreListe .listeAlpha a{font-weight:bold; border:1px solid #c0d2e0; padding:0 3px}

#formFiltreListe .listeAnnees a:hover, #formFiltreListe .listeAnnees a:focus, #formFiltreListe .listeAnnees a.actif, #formFiltreListe .listeAlpha a:hover, #formFiltreListe .listeAlpha a:focus, #formFiltreListe .listeAlpha a.actif{background:#e0e9f0; border:1px solid #b6c8da}

#formFiltreListe .listeAnnees a.btImg, #formFiltreListe .listeAnnees a.btImg:hover, #formFiltreListe .listeAnnees a.btImg:focus{background:none; border:none}

#formFiltreListe p.listeAnnees, #formFiltreListe p.listeMois{text-align:center; padding-bottom:5px}

#formFiltreListe p.listeAlpha{padding-top:9px; padding-bottom:19px; text-align:center}

#formFiltreListe p.filtre{position:relative; text-align:left; padding-left:115px; padding-top:5px; border-top:1px solid #fff}

#formFiltreListe select{width:200px}

#formFiltreListe a.btValider{position:absolute; z-index:0; top:5px; margin-left:5px}

.blog .topArticleBlog a{color:#698caf; font-weight:bold}

.blog #autresArticles{border:none}

.topArticleBlog a.btSavoirPlus, .autresArticlesBlog a.btSavoirPlus{display:block; clear:left; height:19px; text-align:right; border-bottom:1px solid #acbfd4; text-decoration:none}

.topArticleBlog a.btSavoirPlus, .autresArticlesBlog a.btSavoirPlus{margin-bottom:14px}

#icoBlogs{position:absolute; z-index:0; bottom:-16px; left:119px}

p.infosArticleBlog{font-size:0.8em; margin-bottom:0.8em}

div.replyForm{padding-bottom:1.4em}

span.blog116{background:#696; color:#fff; padding:0 2px}

span.blogDirection{background:#699; color:#fff; padding:0 2px}

.zoneImageBlog{margin-top:10px; position:relative}

.zoneImageBlog img{border:4px solid #9cc}

.tx-wecdiscussion-forumMessage {float:left;}

.tx-wecdiscussion-forumMessage .intro{bottom:16px; left:324px; line-height:120%; font-weight:bold; color:#369}

.nbCommentairesBlog{font-size:0.8em; float:left; margin-bottom:-20px; margin-top:20px; padding-left:30px; padding-bottom:2px; padding-top:4px; background:url(ico_comment.png) no-repeat left 1px}

#calendrier { margin-left: 3px; margin-top:8px; }

#agendaBlog{float:left; width:100%; background:#fff; border-bottom:8px solid #fff; height:159px;}

#blocAgendaBlog{float:left; width:208px; height:159px; background:#d6e4ec}

#blocAgendaEphemeride{float:left; width:316px; height:159px; background:#d6e4ec}
#blocAgendaEphemeride table{width:94%; border-collapse:separate; border-spacing:2px; margin-top:6px;}

#blocListeArchiveBlog{float:right; width:100px; height:159px; background:#d6e4ec; }

#navCalendrierBlog{background:#678bb0; color:#fff; text-align:center; position:relative; font-weight:bold; padding:3px 0; width:100%;}

#blogMoisPrec{position:absolute; top:6px; left:6px; z-index:0}

#blogMoisSuiv{position:absolute; top:6px; right:6px; z-index:0}

table#calendrier caption{display:none}

table#calendrier td, table#calendrier th{width:20px; padding:3px 3px 3px 5px; text-align:right; line-height:0.6em}
table#calendrier th{color:#678bb0; font-weight:bold}

table#calendrier a{color:#678bb0; text-decoration:none; padding:0 2px}

table#calendrier a.hm{color:#acbfd4}

table#calendrier .ja{color:#364860; font-weight:bold}

table#calendrier .jc{color:#364860; border:1px solid #c1d1e0; background:#ebf2f6; font-weight:bold}

#blocListeArchiveBlog h3{background:#678bb0; color:#fff; text-align:center; position:relative; font-weight:bold; padding:3px 0}

#navArchivesBlog{height:135px; overflow:auto}

.art116 #navArchivesBlog{scrollbar-base-color:green; scrollbar-arrow-color:green; scrollbar-DarkShadow-Color:green}

#blocListeArchiveBlog a{display:block; font-size:0.8em; line-height:140%; margin-left:8px; margin-top:8px; color:#364860}

#partagerArticleBlog{margin-top:10px; text-align:right}

.ligneCommentaireBlog{border-top:1px dotted #8a8a8a; margin-top:8px; padding-top:8px}

#listeCommentairesBlog .ligneCommentaireBlog p{color:#8a8a8a; margin-bottom:5px; font-size:0.9em}

#nbCommmentaireBlogs{font-size:0.9em; font-weight:bold; color:#649669; border-top:1px solid #649669; background:url(ico_comment2.png) no-repeat left top; padding-left:35px; padding-bottom:5px}

.blog #formAjoutCommentaire{padding-top:8px}

.blog #formAjoutCommentaire h3{font-weight:bold; font-size:0.9em; color:#649669; padding-top:2px; margin-bottom:8px; border-top:1px solid #649669}

.blog #formAjoutCommentaire h3 span.mandatory{font-weight:normal}

.blog #formAjoutCommentaire label{float:left; width:110px; color:#8a8a8a; font-size:0.9em}

.blog #formAjoutCommentaire p{clear:left; margin-bottom:7px}

.blog #formAjoutCommentaire input{border:1px solid #8a8a8a; width:210px; font-size:0.9em}

.blog #formAjoutCommentaire textarea{border:1px solid #8a8a8a; width:320px; font-size:0.9em; margin-top:7px; height:98px}

.blog #formAjoutCommentaire .checkbox input{float:left; width:auto; font-weight:bold; margin:0 4px 0 0; border:none}

.blog #formAjoutCommentaire p.checkbox{float:left; width:220px; font-weight:bold; font-size:0.9em; color:#698caf; margin-bottom:24px}

.blog #formAjoutCommentaire .checkbox a{font-weight:bold; color:#698caf}

.blog #formAjoutCommentaire p.action{float:left; width:102px; clear:none; text-align:right}

.blog #formAjoutCommentaire p.mandatory{color:red}

.blog #formAjoutCommentaire p.error{color:red; font-weight:bold}

.blog #formAjoutCommentaire ul.error{color:#8190A9; padding-bottom:15px; padding-left:40px}

.blog #formAjoutCommentaire ul.error li{font-weight:bold}

.blog .zoneCommentaires a.btTop{display:block; clear:left; height:19px; text-align:right; border-bottom:1px solid #acbfd4; margin-top:24px}

.blog a.nbCommentairesBlog{color:#698caf}

.art116 h1{color:#649669; border-bottom:1px solid #649669}

.art116 p{color:#788c9b}

.art116 p.infosArticleBlog{color:#698caf}

.art116 .topArticleBlog a{color:#788c9b; font-weight:bold}

.art116 .zoneImageBlog img{border:4px solid #a7c4a9}

.art116 .tx-wecdiscussion-forumMessage .intro{color:#5d775e}

.art116 #nbCommmentaireBlogs{color:#8190a9; border-top:1px solid #a8b5cb; background:url(ico_comment.png) no-repeat left top}

.art116 #formAjoutCommentaire h3{color:#8190a9; border-top:1px solid #a8b5cb}

.art116 #blocAgendaBlog{background:#e9f0e9}

.art116 #navCalendrierBlog{background:#5b985f}

.art116 table#calendrier th{color:#5b985f}

.art116 table#calendrier a{color:#5b985f}

.art116 table#calendrier a.hm{color:#a6c7a8}

.art116 table#calendrier .ja{color:#2c532e}

.art116 table#calendrier .jc{color:#2c532e; background:#fff; border:1px solid #a6c7a8}

.art116 #blocListeArchiveBlog{background:#e9f0e9}

.art116 #blocListeArchiveBlog h3{background:#5b985f}

.art116 #blocListeArchiveBlog a{color:#2c532e}

.art116 .aLire h3{background:#5b985f}

.art116 .aLire ul{background:#e9f0e9}

.art116 .aLire ul a{color:#2c532e; background:url(puce_1b.png) no-repeat left 3px}

.art116 .colD .blocThemes h3{color:#fff; background:#5b985f}

.art116 .colD .blocThemes{background:#e9f0e9}

.art116 .tha a{font-size:1.1em; color:#317877}

.art116 .thb a{font-size:1.9em; color:#6baa88}

.art116 .thc a{font-size:1.1em; color:#8a8a8a}

.art116 .thd a{font-size:1.5em; color:#275648}

.art116 .the a{font-size:0.9em; color:#6baa88}

.art116 .thf a{font-size:1.6em; color:#798b9d}

.art116 .thg a{font-size:2.2em; color:#317877}

.art116 .thh a{font-size:1.4em; color:#275648}

.art116 .thi a{font-size:1.8em; color:#8a8a8a}

.art116 .thj a{font-size:1.2em; color:#6baa88; padding:0 20px}

.art116 .thk a{font-size:1.7em; color:#275648}

.artmediateur h1{color:#95a2b8; border-bottom:1px solid #95a2b8}

.artmediateur p.infosArticleBlog{color:#698caf}

.artmediateur p{color:#788c9b}

.artmediateur .topArticleBlog a{color:#788c9b; font-weight:bold}

.artmediateur .zoneImageBlog img{border:4px solid #95a2b8}

.artmediateur .tx-wecdiscussion-forumMessage .intro{color:#5d6677}

.artmediateur #nbCommmentaireBlogs{color:#8190a9; border-top:1px solid #a8b5cb; background:url(ico_comment.png) no-repeat left top}

.artmediateur #formAjoutCommentaire h3{color:#8190a9; border-top:1px solid #a8b5cb}

.artmediateur #blocAgendaBlog{background:#e3eaf6}

.artmediateur #navCalendrierBlog{background:#8190a9}

.artmediateur table#calendrier th{color:#8190a9}

.artmediateur table#calendrier a{color:#8190a9}

.artmediateur table#calendrier a.hm{color:#a8b5cb}

.artmediateur table#calendrier .ja{color:#556176}

.artmediateur table#calendrier .jc{color:#556176; background:#fff; border:1px solid #c7a6bd}

.artmediateur #blocListeArchiveBlog{background:#e3eaf6}

.artmediateur #blocListeArchiveBlog h3{background:#8190a9}

.artmediateur #blocListeArchiveBlog a{color:#556176}

.artmediateur .aLire h3{background:#8190a9}

.artmediateur .aLire ul{background:#e3eaf6}

.artmediateur .aLire ul a{color:#556176; background:url(puce_1.png) no-repeat left 3px}

.artmediateur .colD .blocThemes h3{color:#fff; background:#8190a9}

.artmediateur .colD .blocThemes{background:#e3eaf6; clear: both; }

.artmediateur .tha a{font-size:1.1em; color:#314d78}

.artmediateur .thb a{font-size:1.9em; color:#8190a9}

.artmediateur .thc a{font-size:1.1em; color:#79839d}

.artmediateur .thd a{font-size:1.5em; color:#556176}

.artmediateur .the a{font-size:0.9em; color:#a8b5cb}

.artmediateur .thf a{font-size:1.6em; color:#79839d}

.artmediateur .thg a{font-size:2.2em; color:#314d78}

.artmediateur .thh a{font-size:1.4em; color:#556176}

.artmediateur .thi a{font-size:1.8em; color:#899099}

.artmediateur .thj a{font-size:1.2em; color:#a8b5cb; padding:0 20px}

.artmediateur .thk a{font-size:1.7em; color:#556176}

.artprune h1{color:#ad819e; border-bottom:1px solid #ad819e}

.artprune p.infosArticleBlog{color:#698caf}

.artprune p{color:#ad819e}

.artprune .topArticleBlog a{color:#ad819e; font-weight:bold}

.artprune .zoneImageBlog img{border:4px solid #c7a6bd}

.artprune .tx-wecdiscussion-forumMessage .intro{color:#775d72}

.artprune #nbCommmentaireBlogs{color:#985b7f; border-top:1px solid #985b7f; background:url(ico_comment3.png) no-repeat left top}

.artprune #formAjoutCommentaire h3{color:#985b7f; border-top:1px solid #985b7f}

.artprune #blocAgendaBlog{background:#f3edf1}

.artprune #navCalendrierBlog{background:#985b7f}

.artprune table#calendrier th{color:#985b7f}

.artprune table#calendrier a{color:#985b7f}

.artprune table#calendrier a.hm{color:#c7a6bd}

.artprune table#calendrier .ja{color:#532c46}

.artprune table#calendrier .jc{color:#532c46; background:#fff; border:1px solid #c7a6bd}

.artprune #blocListeArchiveBlog{background:#f3edf1}

.artprune #blocListeArchiveBlog h3{background:#985b7f}

.artprune #blocListeArchiveBlog a{color:#532c46}

.artprune .aLire h3{background:#985b7f}

.artprune .aLire ul{background:#f3edf1}

.artprune .aLire ul a{color:#532c46; background:url(puce_1.png) no-repeat left 3px}

.artprune .colD .blocThemes h3{color:#fff; background:#985b7f}

.artprune .colD .blocThemes{background:#f3edf1}

.artprune .tha a{font-size:1.1em; color:#783156}

.artprune .thb a{font-size:1.9em; color:#985b7f}

.artprune .thc a{font-size:1.1em; color:#9d7992}

.artprune .thd a{font-size:1.5em; color:#532c46}

.artprune .the a{font-size:0.9em; color:#d1b8ca}

.artprune .thf a{font-size:1.6em; color:#9d7992}

.artprune .thg a{font-size:2.2em; color:#783156}

.artprune .thh a{font-size:1.4em; color:#532c46}

.artprune .thi a{font-size:1.8em; color:#998992}

.artprune .thj a{font-size:1.2em; color:#d1b8ca; padding:0 20px}

.artprune .thk a{font-size:1.7em; color:#532c46}

.artverdo h1{color:#7ac2c1; border-bottom:1px solid #7ac2c1}

.artverdo p.infosArticleBlog{color:#698caf}

.artverdo p{color:#788c9b}

.artverdo .topArticleBlog a{color:#788c9b; font-weight:bold}

.artverdo .zoneImageBlog img{border:4px solid #b5dfdf}

.artverdo .tx-wecdiscussion-forumMessage .intro{color:#5d7776}

.artverdo #nbCommmentaireBlogs{color:#7ac2c1; border-top:1px solid #b5dfdf; background:url(ico_comment4.png) no-repeat left top}

.artverdo #formAjoutCommentaire h3{color:#7ac2c1; border-top:1px solid #b5dfdf}

.artverdo #blocAgendaBlog{background:#eff}

.artverdo #navCalendrierBlog{background:#7ac2c1}

.artverdo table#calendrier th{color:#7ac2c1}

.artverdo table#calendrier a{color:#7ac2c1}

.artverdo table#calendrier a.hm{color:#b5dfdf}

.artverdo table#calendrier .ja{color:#4aa09f}

.artverdo table#calendrier .jc{color:#4aa09f; background:#fff; border:1px solid #b5dfdf}

.artverdo #blocListeArchiveBlog{background:#eff}

.artverdo #blocListeArchiveBlog h3{background:#7ac2c1}

.artverdo #blocListeArchiveBlog a{color:#4aa09f}

.artverdo .aLire h3{background:#7ac2c1}

.artverdo .aLire ul{background:#eff}

.artverdo .aLire ul a{color:#4aa09f; background:url(puce_1d.png) no-repeat left 3px}

.artverdo .colD .blocThemes h3{color:#fff; background:#7ac2c1}

.artverdo .colD .blocThemes{background:#eff}

.artverdo .tha a{font-size:1.1em; color:#783156}

.artverdo .thb a{font-size:1.9em; color:#7ac2c1}

.artverdo .thc a{font-size:1.1em; color:#799a9d}

.artverdo .thd a{font-size:1.5em; color:#4aa09f}

.artverdo .the a{font-size:0.9em; color:#b5dfdf}

.artverdo .thf a{font-size:1.6em; color:#799a9d}

.artverdo .thg a{font-size:2.2em; color:#22605f}

.artverdo .thh a{font-size:1.4em; color:#4aa09f}

.artverdo .thi a{font-size:1.8em; color:#899899}

.artverdo .thj a{font-size:1.2em; color:#b5dfdf; padding:0 20px}

.artverdo .thk a{font-size:1.7em; color:#4aa09f}

.artviolet h1{color:#b8b3e1; border-bottom:1px solid #b8b3e1}

.artviolet p.infosArticleBlog{color:#698caf}

.artviolet p{color:#788c9b}

.artviolet .topArticleBlog a{color:#788c9b; font-weight:bold}

.artviolet .zoneImageBlog img{border:4px solid #cac3f0}

.artviolet .tx-wecdiscussion-forumMessage .intro{color:#665d77}

.artviolet #nbCommmentaireBlogs{color:#a196d6; border-top:1px solid #cac3f0; background:url(ico_comment5.png) no-repeat left top}

.artviolet #formAjoutCommentaire h3{color:#a196d6; border-top:1px solid #cac3f0}

.artviolet #blocAgendaBlog{background:#f0edff}

.artviolet #navCalendrierBlog{background:#a196d6}

.artviolet table#calendrier th{color:#a196d6}

.artviolet table#calendrier a{color:#a196d6}

.artviolet table#calendrier a.hm{color:#cac3f0}

.artviolet table#calendrier .ja{color:#554da4}

.artviolet table#calendrier .jc{color:#554da4; background:#fff; border:1px solid #cbc3f0}

.artviolet #blocListeArchiveBlog{background:#f0edff}

.artviolet #blocListeArchiveBlog h3{background:#a196d6}

.artviolet #blocListeArchiveBlog a{color:#554da4}

.artviolet .aLire h3{background:#a196d6}

.artviolet .aLire ul{background:#f0edff}

.artviolet .aLire ul a{color:#554da4; background:url(puce_1e.png) no-repeat left 3px}

.artviolet .colD .blocThemes h3{color:#fff; background:#A196D6}

.artviolet .colD .blocThemes{background:#f0edff}

.artviolet .tha a{font-size:1.1em; color:#383178}

.artviolet .thb a{font-size:1.9em; color:#a196d6}

.artviolet .thc a{font-size:1.1em; color:#797b9d}

.artviolet .thd a{font-size:1.5em; color:#554da4}

.artviolet .the a{font-size:0.9em; color:#cac3f0}

.artviolet .thf a{font-size:1.6em; color:#797b9d}

.artviolet .thg a{font-size:2.2em; color:#383178}

.artviolet .thh a{font-size:1.4em; color:#554da4}

.artviolet .thi a{font-size:1.8em; color:#8c8999}

.artviolet .thj a{font-size:1.2em; color:#b5dfdf; padding:0 20px}

.artviolet .thk a{font-size:1.7em; color:#554da4}

.artmarron h1{color:#98765b; border-bottom:1px solid #98765b}

.artmarron p.infosArticleBlog{color:#698caf}

.artmarron p{color:#788c9b}

.artmarron .topArticleBlog a{color:#788c9b; font-weight:bold}

.artmarron .zoneImageBlog img{border:4px solid #c7b3a6}

.artmarron .tx-wecdiscussion-forumMessage .intro{color:#776c5d}

.artmarron #blocAgendaBlog{background:#f3f1ed}

.artmarron #navCalendrierBlog{background:#98765b}

.artmarron table#calendrier th{color:#98765b}

.artmarron table#calendrier a{color:#98765b}

.artmarron table#calendrier a.hm{color:#c7b3a6}

.artmarron table#calendrier .ja{color:#533a2c}

.artmarron table#calendrier .jc{color:#533a2c; background:#fff; border:1px solid #c7b3a6}

.artmarron #blocListeArchiveBlog{background:#f3f1ed}

.artmarron #blocListeArchiveBlog h3{background:#98765b}

.artmarron #blocListeArchiveBlog a{color:#533a2c}

.artmarron .aLire h3{background:#98765b}

.artmarron .aLire ul{background:#f3f1ed}

.artmarron .aLire ul a{color:#533a2c; background:url(puce_1c.png) no-repeat left 3px}

.artmarron .colD .blocThemes h3{color:#fff; background:#98765b}

.artmarron .colD .blocThemes{background:#f3f1ed}

.artmarron .tha a{font-size:1.1em; color:#785931}

.artmarron .thb a{font-size:1.9em; color:#98765b}

.artmarron .thc a{font-size:1.1em; color:#9d8d79}

.artmarron .thd a{font-size:1.5em; color:#533a2c}

.artmarron .the a{font-size:0.9em; color:#c7b3a6}

.artmarron .thf a{font-size:1.6em; color:#9d8d79}

.artmarron .thg a{font-size:2.2em; color:#785931}

.artmarron .thh a{font-size:1.4em; color:#533a2c}

.artmarron .thi a{font-size:1.8em; color:#88847d}

.artmarron .thj a{font-size:1.2em; color:#c7b3a6; padding:0 20px}

.artmarron .thk a{font-size:1.7em; color:#533a2c}

.agenda .calendrierTop{float:left; width:100%; background: url(fd_calenrierHaut.png) no-repeat left top; min-height:500px}

.agenda .colonneJour{width:91px; float:left}

.agenda h3.jour{text-align:center; color:#fff; padding:4px 0}

.agenda .prg{margin-left:2px}

.agenda .prg p{font-size:0.9em; color:#fff; background:url(fd_prg_haut.png) no-repeat left top; line-height:120%; padding:5px 4px 0 6px}

.agenda .prg h2{color:#77829e; font-size:0.9em; letter-spacing:-0.01em; font-weight:bold; line-height:120%; background:url(fd_prg_bord.png) repeat-y left top; padding:0 8px}

.agenda .prg p.visuel{background:url(fd_prg_bord.png) repeat-y left bottom; padding:0 8px 5px 8px}

.agenda .prg p.detail{background:url(fd_prg_bas.png) no-repeat left bottom; padding:0 8px 5px 8px; color:#454e66}

.agenda .prg p.detail{background-color:white}

.agenda .prg h2{background-color:white}

.agenda .prg p{}

.agenda .cLundi .prg h2{}

.agenda .cLundi .prg p{}

.agenda .cLundi .prg p.detail{}

.agenda .prg p.photo{background:url(fd_prg_bord.png) repeat-y left top}

.agenda .prg p img{display:inline; padding:0}

.agenda .prg a{color:#454e66; font-size:0.8em; text-decoration:none}

.agenda .prg a:hover, .agenda .prg a:focus{text-decoration:underline}

.agenda .prg span{display:block; padding-top:1px; padding-bottom:1px; font-size:0.9em; padding-left:2px}

.agenda .prg .horaire_a span{background:#e30036}

.agenda .prg p.horaire_b span{background:#ffed00; color:#000}

.agenda .prg .horaire_c span{background:#b10046}

.agenda .prg .horaire_d span{background:#ec7404}

.agenda .prg .horaire_e span{background:#762b84}

.agenda .prg .horaire_f span{background:#e30072}

.agenda .prg .horaire_g span{background:#00a1da}

.agenda .prg .horaire_h span{background:#b10046}

.agenda #popup{padding:10px 0 10px 0; width:436px; position:absolute; top:100px; left:100px; z-index:600; float:left}

.apopup #popup{position:relative; margin:auto; left:0; top:0}

.agenda #popup .popupContenu{background:url(popup1_cote.png) repeat-y left top}

.agenda #popup .haut{position:absolute; top:0; left:0; background:url(popup1_haut.png) no-repeat left top; height:12px; width:100%}

.agenda #popup .bas{position:absolute; bottom:0; left:0; background:url(popup1_bas.png) no-repeat left top; height:10px; width:100%}

.agenda #popup .popupContenu{float:left}

.agenda #popup .colGauche{float:left; width:126px; text-align:center; padding-top:8px}

.agenda #popup .colDroite{float:right; width:307px}

.agenda #popup .colGauche img{padding-bottom:16px}

.agenda #popup h2{color:#698caf; font-size:1.2em; font-weight:bold; background:none; line-height:120%; padding:5px 30px 8px 0; margin:0}

.agenda #popup h3{color:#788c9b; font-size:1.2em; font-weight:bold; float:none; width:auto; padding:0 0 8px 0; margin:0}

.agenda #popup h3 a{font-size:0.6em; color:#788c9b}

.agenda #popup p{margin:0; padding:0 16px 8px 0}

#icoAgenda{position:absolute; z-index:100; bottom:-16px; left:119px}

#calendrierJ1{float:left; background:url(fd_calendrier_j1.png) repeat-y left top; border-bottom:1px solid #77829e; width:100%; min-height:500px}
.agenda .calendrierTop{}
.agenda .colonneJour div{}
.agenda .cl_today .prg, .agenda .cl_today .prg p.detail, .agenda .cl_today .prg h2, .agenda .cl_today .padder{background-color:#AAA}

.cl_today h3.jour{}

.apopup{background:#fff; text-align:left}

.btAcceder a{font-weight:bold; text-decoration:none; color:#788c9b}

.agenda #fermerPopup{position:absolute; top:15px; right:15px; cursor:pointer}

#icoFrequences{position:absolute; bottom:-16px; left:119px}

.frequences h1{color:#788c9b; font-weight:bold; padding-bottom:2px; border-bottom:1px solid #788c9b}

#formRechercheFrequence{width:100%; background:#fff; padding:8px 0}

#formRechercheFrequence .formGauche{float:left; width:208px}

#formRechercheFrequence .formDroite{float:right; width:208px; position:relative}

#formRechercheFrequence label{color:#698caf; font-size:0.9em; font-weight:bold; display:block; padding-bottom:4px}

#formRechercheFrequence #ville{border:1px solid #8a8a8a; width:200px; font-size:0.9em; color:#8a8a8a}

#formRechercheFrequence #filtreRadio{border:1px solid #8a8a8a; width:170px; font-size:0.9em; color:#788c9b}

#formRechercheFrequence a.btValider{position:absolute; right:0; bottom:-8px}

.resultatsRechercheFrequences{padding:4px 8px}

.resultatsRechercheFrequences h2{color:#788c9b; font-weight:bold; padding-bottom:2px; border-bottom:1px solid #788c9b; margin-bottom:8px}

.resultatsRechercheFrequences h3, .resultatsRechercheFrequences h4{color:#698caf; font-weight:600; margin-bottom:8px; line-height:120%}

.logoFrequency{height:22px; padding-left:30px; margin-bottom:2px; display:block; padding-top:6px}
h3.logoFreq0, p.logoFreq0{background:url(picto_frequence4.gif)  no-repeat left top}
h3.logoFreq4, p.logoFreq4{background:url(picto_frequence4.gif)  no-repeat left top}
h3.logoFreq5, p.logoFreq5{background:url(picto_frequence5.gif)  no-repeat left top}
h3.logoFreq6, p.logoFreq6{background:url(picto_frequence6.gif)  no-repeat left top}
h3.logoFreq11, p.logoFreq11{background:url(picto_frequence11.gif)  no-repeat left top}
h3.logoFreq12, p.logoFreq12{background:url(picto_frequence12.gif)  no-repeat left top}
h3.logoFreq13, p.logoFreq13{background:url(picto_frequence13.gif)  no-repeat left top}
h3.logoFreq14, p.logoFreq14{background:url(picto_frequence14.gif) no-repeat left top}

.resultatsRechercheFrequences h3 a, .resultatsRechercheFrequences h4 a{color:#698caf; font-weight:bold; margin-bottom:8px; text-decoration:none}

.resultatsRechercheFrequences p{color:#698caf; font-size:0.8em}

.resultatsRechercheFrequences p.proximite{color:#8a8a8a}

.resultatsRechercheFrequences li{color:#999; list-style:none; font-size:0.9em}

.resultatsRechercheFrequences li a{color:#698caf; font-weight:bold; display:block}

.presentation .colD, .liste .colD{float:left; width:316px; padding-top:20px; padding-left:8px; overflow:hidden}

.presentation .colD #contenu, .liste .colD #contenu{overflow-x:hidden}

.agenda .colD{float:left; width:216px; padding-top:20px; padding-left:8px; overflow:hidden}

.agenda div#blocCentral>div.colD{width:208px}

.frequences .colD{float:right; width:432px; padding-top:20px; padding-bottom:8px; padding-left:8px}

.frequences div#blocCentral>div.colD{width:424px}

.colD #meaPub{float:none; border-bottom:8px solid #fff; padding-bottom:30px}

.colD .aLire, .colD .blocCahiersMultimedias, .colD .blocSondage, .colD .blocThemes{ float:left; width: 100%; background:#d6e4ec; border-top:4px solid #fff;border-bottom:4px solid #fff;}

.colD .blocCahiersMultimedias h3, .colD .blocSondage h3, .colD .blocThemes h3{font-weight:bold; color:#fff; background:#678bb0; padding:2px 7px 3px 7px}

.colD .blocCahiersMultimedias p, .colD .blocSondage p, .colD .blocThemes p{margin:0; padding:2px 7px 3px 7px; color:#364860}

.colD .blocCahiersMultimedias p.chapo, .colD .blocSondage p.chapo, .colD .blocThemes p.chapo{padding:2px 7px 0 7px; font-size:0.9em; font-weight:bold}

.colD p.btSavoirPlus{padding:0; text-align:right; margin:10px 4px 4px 4px; background:#c0d2e0; line-height:10px}

.colD #formSondage{background:#c0d2e0; padding-top:5px; margin:4px}

.colD #formSondage p{font-size:0.9em; clear:left; line-height:170%}

.colD #formSondage input{float:left}

.colD #formSondage .btValider{float:right; margin-top:-25px}

.colD .blocThemes p{line-height:170%; text-align:justify}

.blocThemes a{text-decoration:none; font-weight:bold; display: -moz-inline-stack; display: inline-block; padding-left:10px;padding-right:10px;cursor:default;}

.nuageTag a{cursor:pointer;}

.tha a{font-size:1.1em; color:#446593;}

.thb a{font-size:1.9em; color:#8c96a0}

.thc a{font-size:1.1em; color:#006aaf}

.thd a{font-size:1.5em; color:#798b9d}

.the a{font-size:0.9em; color:#006aaf}

.thf a{font-size:1.6em; color:#798b9d}

.thg a{font-size:2.2em; color:#446593}

.thh a{font-size:1.4em; color:#364860}

.thi a{font-size:1.8em; color:#006aaf}

.thj a{font-size:1.2em; color:#888a90; padding:0 20px}

.thk a{font-size:1.7em; color:#364860}

#agendaCalendrier{float:left; width:100%; min-height:159px; background:#d6e4ec}

#navAgendaCalendrier{background:#678bb0; color:#fff; text-align:center; position:relative; font-weight:bold; padding:3px 0}

#agendaMoisPrec{position:absolute; top:6px; left:6px;}

#agendaMoisSuiv{position:absolute; top:6px; right:6px;}

.agenda table#calendrier caption{display:none}

.agenda table#calendrier td, .agenda table#calendrier th{width:20px; padding:4px; text-align:right; line-height:0.6em}

.agenda table#calendrier th{color:#678bb0; font-weight:bold}

.agenda table#calendrier a{color:#678bb0; text-decoration:none; padding:0 2px}

.agenda table#calendrier a.hm{color:#acbfd4}

.agenda table#calendrier .ja{color:#364860; font-weight:bold}

.agenda table#calendrier .sc td{color:#364860; border:1px solid #c1d1e0; background:#ebf2f6; font-weight:bold}

#formFiltreAgendaDate h3{background:#678bb0; color:#fff; font-weight:bold; padding:3px 8px}

form#formFiltreAgendaDate{border-top:8px solid #fff; float:left; background:#eaeff2; width:100%}

#formFiltreAgendaDate fieldset{margin:0px 8px 0 8px; color:#364860; font-size:0.9em}

#formFiltreAgendaDate #dateFin, #formFiltreAgendaDate #dateDebut{border:none; border-top:1px solid #999; border-left:1px solid #999; width:75px; font-size:0.9em; color:#364860}

form#formFiltreAgendaDate p{margin-top:5px}

#formFiltreAgendaEvenement h3{background:#678bb0; color:#fff; font-weight:bold; padding:3px 8px}

form#formFiltreAgendaEvenement{border-top:8px solid #fff; float:left; background:#eaeff2; width:100%}

#formFiltreAgendaEvenement fieldset{margin:5px 8px 8px 8px; color:#364860; font-size:0.9em}

form#formFiltreAgendaEvenement p{line-height:120%}

#blocBasDePage{display:block; float:left; margin-top:-8px; padding:0px}
ul#navBottom{display:block; float:left; width:682px; height:20px; margin-top:8px; overflow:hidden}

ul#navBottom li{display:inline-block; float:left; border:1px solid #fff; border-top:none; border-right:none; border-bottom:none; padding:0px; margin:0px; color:#fff; height:20px}

ul#navBottom li a{display:block; float:left; border:none; padding-left:8px; padding-right:8px}
ul#navBottom li a img{display:block; float:left}

ul#navBottom li.first{padding:0px; border-left:none}

#blocFooter{display:block; float:right; text-align:right; background:#d6d6d6}

#blocFooter p{text-align: right; font-size: 9.5px; margin-top: 0px; line-height: 1.15}

.tipafriend{color:#788C9B; font-weight:bold; line-height:120%; margin-bottom:8px; margin-top:20px; padding-left:5px}

.tipafriend input, .tipafriend textarea{border:1px solid #999; font-size:1em; color:#364860}

#mailform{margin-top:20px;}

.tx-thmailformplus-pi1 {color:#8A8A8A;}

.csc-header { padding-bottom: 20px; }

.csc-mailform{margin-top:20px;}

.csc-mailform h2{color:#698CAF; font-size:1.4em; font-weight:bolder}

.csc-mailform-field label{margin-right:10px; color:#8A8A8A; text-align:right; float:left; font-size:0.9em; width:150px}

.csc-mailform-field{float:left; width:100%; margin:3px 0 3px 0;}

span.csc-mailform-label{margin:15px 0 0; display:block; color:#8A8A8A; font-weight:bold; width:100%;}

.csc-mailform-field input, .csc-mailform-field select{border:1px solid #8A8A8A; font-size:0.9em; width:210px; color:#788C9B}

.csc-mailform-field fieldset label{float:none;}

.csc-mailform-field fieldset input{text-align:left; width:20px;}

.csc-mailform-field fieldset legend{display:none;}

.csc-mailform-radio input{border:none}

.csc-mailform-field textarea{width:300px; border:1px solid #999; color:#788C9B;}

input.ok{border:0; padding-top:2px}

input.checkbox{border:none; width:20px}

input.csc-mailform-check{border:none}

input.csc-mailform-submit{display:block; width:auto; margin-left:160px}

.tx-chcforum-pi1-Table thead tr{color:white}

.tx-chcforum-pi1-postForm #formWhere{color:white}

.tx-chcforum-pi1-Table tbody tr th{color:#698CAF}

.tx-chcforum-pi1-catConferenceCell a, .tx-chcforum-pi1-catConferenceCell a:visited, .tx-chcforum-pi1-catConferenceCell a:hover{color:#364860; text-decoration:none}

.hiddenDiv{position:absolute; visibility:hidden; border:1px solid #8A8A8A; color:#8A8A8A; background-color:white; text-align:left; overflow:auto}

.currentDiv{width:auto; margin:1px; text-align:left; cursor:pointer; overflow:hidden; font-size:0.9em}
.currentDiv.selected{background-color:#1E549E; color:white}

.unvalaibleMedia{display:block; width:180px; height:130px; float:left; text-align:center; border:1px solid #b6c8da; margin:5px}

.unvalaibleMedia .contenu{display:block; margin-top:40px}

span.blocMediaSon{display:block; float:left; width:210px; padding-right:8px; padding-left:8px;}

span.blocMediaFilm{display:block; float:left; padding-right:8px; padding-left:8px;}

span.blocMediaAnimation{display:block; float:left; padding-right:8px; padding-left:8px;}

span.blocMediaImage{display:block;}

.mediaAss .blocMediaSon, .mediaAss .blocMediaFilm, .mediaAss .blocMediaAnimation, .mediaAss .blocMediaImage { padding-left: 35px;}

p.blocMediaImage{margin-top:8px !important; margin-bottom:8px !important}

.copyright{clear:left; display:block; font-size:0.8em; color:#698caf; margin-bottom:0px; margin-right:5px; width:100%}

.tx-mssurvey-pi1{padding-bottom:8px; border-bottom:thin blue solid}

.survey_item{padding-top:4px; padding-bottom:4px}

table.multitable th{text-align:left}

table.multitable td p.itemform{padding-left:8px}

#survey_submit{background:lightblue}

#survey_submit:hover{background:blue; color:white}

input.captcha{margin-top:0px; padding-top:0px; height:70px; font-size:48px}

tr.captcha td{vertical-align:top}

.news_item h2 a{text-decoration:none; color:#3a6293; font-weight:normal; font-family:arial}

#contenu ul{padding:1em 0 1em 50px;}
#contenu li{list-style-type:disc; display:list-item}

#contenu ol{padding:1em 0 1em 50px; list-style-type:decimal}
#contenu ol li{list-style-type:decimal}

.navPageHaut{border-bottom:1px solid #888a90}
.navPageBas{border-top:1px solid #888a90}

.navPageHaut ul,.navPageBas ul{background:#888a90; padding:36px; height:18px; float:right}
#contenu .navPageHaut li, #contenu .navPageBas li{list-style:none; display:inline}

.navPageHaut a,.navPageBas a{text-decoration:none; color:#fff; font-size:0.9em; display:block; float:left; text-align:center; margin-top:3px; width:12px; line-height:12px}

.navPageHaut a:hover, .navPageHaut a:focus, .navPageHaut a.actif, .navPageBas a:hover, .navPageBas a:focus, .navPageBas a.actif{color:#888a90; background:#fff}

#contenu .recherche {margin-top:35px;}

.recherche p{color:#788c9b; line-height:120%; vertical-align:top}

.recherche .type{color:#000; font-weight:bold}

.recherche #autreCritere {padding-bottom:25px}

.recherche #autreCritere td {padding-top:10px;}

.recherche #autreCritere p {margin-top:0;}

.recherche #autreCritere .aide { color:#6f6f6f; }

.recherche #autresArticles {float:left; width:100%;}

.recherche #autresArticles p.urlArticle{font-size:0.9em; color:#364860; margin-bottom:3px; padding-bottom:15px}

.recherche #autresArticles h2, .recherche #autreCritere h2  {background:#C2D1DF none repeat scroll 0 0; clear:left; color:#FFF; font-weight:bold; margin-bottom:4px; padding:6px 8px;}

.recherche #autresArticles .seeOther a{color:#333; font-weight:bold; text-decoration:none}

.recherche #autresArticles a.titreArticle{font-size:1em; color:#446593; font-weight:bold}

.recherche .navPageHaut {float:right; border-bottom:1px solid #888a90; width:100%; padding-top:25px;}

.recherche .navPageBas{float:right; border-top:1px solid #888a90; width:100%;}

#contenu .recherche .navPageHaut ul, #contenu .recherche .navPageBas ul{background:#888a90; padding:3px 5px 4px 5px; height:18px}

.recherche .navPageHaut li, .recherche .navPageBas li{list-style:none; display:inline}

.recherche .navPageHaut a, .recherche .navPageBas a{text-decoration:none; color:#fff; font-size:0.9em; display:block; float:left; text-align:center; margin-top:3px; width:12px; line-height:12px; padding-left:3px; margin-left:2px;}

.recherche .navPageHaut a:hover, .recherche .navPageHaut a:focus, .recherche .navPageHaut a.actif, .recherche .navPageBas a:hover, .recherche .navPageBas a:focus, .recherche .navPageBas a.actif{color:#888a90; background:#fff}

.liste ul li, #global ul li, .agenda ul li, .frequences ul li, #contenu .sommaire ul li{list-style-type:none}

.slideInfoZone h2{padding-top:0px !important; color:#FFF !important; height:16px; display:block; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px}

.jdGallery .carousel p.label{margin-bottom:0px !important}

.jdGallery .slideInfoZone p{margin-bottom:0px !important; display:block; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px}

div.infoDiffusionSons{display:block; float:left; width:132px; text-align:right; color:#788C9B; font-size:0.9em; padding-top:10px}
div.infoDiffusionSons div{display:inline-block; float:left; width:100%; text-align:right}
div.infoDiffusionSons div span{display:inline-block; float:right; text-align:right; padding-top:3px}
div.infoDiffusionSons div img.logoSonsDuMois{display:inline-block; float:right; margin-bottom:2px}

.mainSonDuMois{display:block; float:left; width:392px; padding-left:8px}
p.listening {padding-bottom:4px}

.blogPreview {background-color: #e2eaf5;margin-right: 10px; clear: both; margin-bottom: 8px;}
.blogPreview h2 {font-size: 13px; font-weight:bold; background-color: #818fa9; color: white; padding-left: 8px; padding-top: 3px; padding-bottom: 3px;}
.blogPreview ul {padding: 8px;}
.blogPreview ul li {padding-left: 10px; font-weight: bold; background: transparent url(puce-blog.png) left no-repeat;}
.blogPreview ul li a {text-decoration: none; color: #546076;}
div#global div#headerCentre a#rechercheAvancee {
	display: block;
	float: left;
	border: none;
	margin-left: 8px;
	margin-top: 35px;
	color: #c7d8e2;
	text-decoration: underline;
}
.select-plus{height:16px;width:16px;background:url(select-plus.png);display:inline-block;}


/* Ajout class pour gérer le lien sur toute la partie cliquable MEA / home */
.annonceMea1_link_mask{
	position:relative;
	height:207px;
	width:460px;
	left:0px;
	top:0px;
}

/* Sitemap */
.csc-sitemap { padding-top: 30px;}
.csc-sitemap  ul li { font-weight: bold; padding-bottom: 15px;}
.csc-sitemap  ul li ul li { font-weight: normal; padding-bottom: 0px;}
.csc-sitemap  li { color: #788C9B; }
.csc-sitemap  li  a{ text-decoration: underline; }
