/* style valide W3C */
#bgfond {
background-color:#d1dcec;
}
.a22titre {
color:#ffffff;
font-weight:900;
}
.a25titre {
color:#668cbf;
font-weight:900;
}
#cordparr input {
width:205px;
}
#contsuj td {
padding-left:34px;
padding-right:10px;
}
#contsuj table {
margin-bottom:5px;
margin-top:5px;
}
#contsuj #choix td {
padding-left:0;
padding-right:0;
font-size:11px;
color:#666666;
}

/*style valide w3c */
#detaz a {
color : #666666;
}
#bgfond {
background-color : #d1dcec;
}
.az22titre {
color:#ffffff;
font-weight:900;
font-family:Arial;
font-size:22px;
}
.az25titre {
color:#668cbf;
font-weight:900;
font-family:Arial;
font-size:25px;
}



