
#menu-outils { 
	border-bottom: 0;
}

.right {
	margin-top: 20px;
}

#titre-rubrique {
	clear: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

/*
h2 {
	font-size: 1.6em;
	font-weight: 700;
	font-family: arial, sans-serif;
	padding: 6px 100px 6px 366px;
	margin: 0;
}
*/

#accroche {
	position: relative;
	font-family: verdana, helvetica, arial, sans-serif; 
	font-size: 1.25em;
	line-height: 1.3;
	min-height: 88px;
}

#accroche p {
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	margin: 0;
}

#visuel-rubrique {
	float: left;
	background-repeat: no-repeat;
	width: 366px;
	height: 147px;
}

#accroche .clear {
	font-size: 1px;
	background-color: #787878;
	height: 1px;
}
