body { color: #000; background-color:#fff; font-family: arial, sans-serif; font-size:10pt;}

.clear { clear: both; }
.no-border { border:0; }

#acces-direct  { display:none;  }
#recherche, #connexion, #bienvenue, .left, .bottom, .right, #menu, #fil-ariane { display:none; }
.menu-composantes, #langues, #menuSite{display:none;}
.bouton_bas{display:none;}
a { text-decoration:none; color:#666; }
/****************
	Bandeau
****************/
h1 { 
	font-size: 15pt;
}

#logo { float:left; display:none; }

.wide {
	width: 100%; 
}

.top {
	position: relative;
}
.center, .center-in, .bandeau1, #debutcontenu, .ligne, .firstline{width:100%;}
/*********************************
	Zone Centrale
*********************************/
.outer { clear:both; }



h2, .coll h2 {
	font-size: 16pt;
	font-weight: normal; }
.ligne { margin: 0 ; padding:10pt 0 0 0; clear:left; border-top:2pt dotted #666; }
.conteneursousparagraphe { float:left; }
.firstline { border:0; padding-top:0; }

.innerconteneur {
	margin-right : 10pt;
	border-left : 1pt solid #666;
	padding : 0 0 15pt 20pt;
}


/* \*/ * html .innerconteneur {	height: 1%; } /* */

.lastconteneur .innerconteneur {
	margin-right : 0;
}
.firstconteneur .innerconteneur {
	border : 0;
	padding-left : 0;
}

.style1 { 
	font-size : 10pt;
}

.style1 h3 {
	font-size : 16pt; 
	font-weight : 700;
	margin : 20pt 0 20pt 0;
}


.style2 {
	font-size : 0.95em;
}

.style2 h3 {
	font-size: 15pt; 
	margin: 20pt 0 20pt 0;
	font-weight: normal;
}

.style3 {
	font-size : 10pt;
}

.style3 h3 {
	font-size : 13pt; 
	margin : 20pt 0 20pt 0;
	font-weight : 700;
}

.sansstyle { 
	font-size : 10pt;
}





.bouton, .coll .box a { display:none; }



/*************************************************
	page de rubrique
**************************************************/

#photo {
	height: 80pt;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	padding: 0pt 0 21pt 0;		
	color: #fff;
}

#photo div {
	padding-left: 30pt;
}

/**** Liste d'affichage ****/
.div-liste { margin: 0 ; clear:left; padding:10pt 0;  border-top: 1pt solid #999; }
.div-liste a { padding-left:0; }
.img-liste {
	float:left;
	clear:left;
	margin:0.3pt 10pt 0 0;
}
h4.titre-liste { font-size:110%; }
.resume-liste { font-size:100%; }
.date-liste { color:#666; }
.soustitre-liste { font-weight:700; font-size:110%; }
.redac-liste { font-size:110%; font-style:italic; color:#999;}


/**** IE5 Mac ****/
*>html .ligne { clear: none; float: left; }
/**** Fin IE5 Mac ****/ 

/*** prevents long urls from widening floated cols and breaking the layout in IE6 ***/
/* \*/
* html .outer {
	word-wrap: break-word;
}
/* */

/******** BOITE BAS **************************************************************************/

.boite-bas {
	clear: left;
	border-top: 1pt solid #999;
	border-right: 1pt solid #999;
	color: #787878;
	padding: 7pt 15pt 7pt 0;
}

/* \*/ .boite-bas {
	padding: 7pt 15pt 7pt 0;
} /* */

.boite-bas .libel {
	float: left;
	font-weight: 700;
	width:100pt
}

/* Anti 3pt text - jog pb in IE Win - Hide from IE5-mac \*/
/* \*/ * html .avec-libelle { height:1%;} /* */
/* End hide from IE5/mac */



.avec-libelle {
	margin-left: 100pt;
}


.ligne-boite-bas {
	clear: left;
	margin-bottom: 10pt;
}


.derniere-ligne { 
	margin-bottom: 0;
}



.derniere-boite-bas { 
	border-bottom: 1pt solid #999;
}


/**** Structure ************************************************************************************/


#defaultstructureksupdomaine {
	margin:8pt 0;

}

#defaultstructureksupphoto { float:left; border:1pt solid #000; margin:-10pt 10pt 0 0;}
p#defaultstructureksupformations { margin:0 0 10pt 0; }

.annuaire-details { 	
	border-top: 1pt solid #999;
	margin:10pt 0;
	padding:10pt 0;
	font-size: 90%;
}
* html .annuaire-details { height:1em; padding-bottom:10pt; padding-top:0; }	
*>html .annuaire-details { floa\t:left; }	
* html .annuaire-details br { font-size:0; }	

.an-det-gau {
	float:left;
	clear:left;
	width:70pt;
	text-align: right;
	margin-right:12pt;
}

.an-det-dro {
	float:left;
	width:210pt;
	margin-bottom:5pt;
}

* html .an-det-dro { margin-bottom:0; width: auto;}
*>html .an-det-dro { width:210pt;  }

.an-det-dro-mac { float:left; }
*>html .an-det-dro-mac { float:none; width:210pt; }

.an-det-mt { clear:left; margin-top:5pt; }
* html .an-det-mt { margin-top:10pt; }

*>html .an-det-mt {clear:left; width:350pt; }

.para-an { border-bottom:1pt solid #999; padding: 10pt 0; }
.para-an strong { font-size:110%; }
.para-an .soustitre { font-size:90%; font-weight:700;  }
.para-tab { border-bottom:1pt solid #999; }

/*** Fiche UE UP *************************************************************************************/



/**** Collaboratif ************************************************************************************/
/*** layout du collaboratif ***/
.center.coll {
	float:left;
	padding:10pt 25pt 50pt 25pt;
	width:100%;
}

.coll .filet-droit{
	background-image:none;
}
.coll .right { display:none }

/* \*/ 
* html .center.coll  { width:780pt; wid\th:730pt; }
* html .coll .ligne { height:1%; } 
/*** end layout ***/



/******************************/
/****  Styles Formation ****/
/******************************/


/*** ONGLETS FORMATION ***/
.onglets {display:none;}

/**** Tri Colonnes   ****/
.f-bloc-gau { float:left; border-left:1pt solid #858585; width: 33%;}
.f-bloc-in { padding:0 10pt; }
.f-bloc-1 { clear: left; padding-left: 0pt; border:0; }
.f-bloc-1 .f-bloc-in { padding:0 10pt 0 0; }
.f-bloc-in div { margin-bottom:10pt;}






/******************************/
/*** styles du collaboratif ***/
/******************************/
.coll #menu { border-bottom: 1pt solid #787878; }
.coll h3 { color:#000 !important; background-color:#fff !important; padding-bottom: 5pt; }

.coll tb_tribu td { width:100%; padding-right: 20pt; border:1pt solid black; }
/*** Zone Centrale ***/
.coll .ligne { border:0; }
.coll .conteneursousparagraphe { width:49%; }
.contenu_fiche .conteneursousparagraphe { width:98%; }
/* *>html .coll .conteneursousparagraphe { width:49%; } */

/* \*/ 
.coll .innerconteneur { padding:0; border:0; ma\rgin:0 30pt 0 0; }
.contenu_fiche .innerconteneur { padding:0; border:0; ma\rgin:0 0pt 0 0; }
* html .coll .innerconteneur { float:left;  width:95%; margin:0; }
/* */

.item { float:left;  width:100%;}
.coll .cell1 { float:left; width:25%; }
.coll .cell2 { float:left; width: 73%; padding-left: 1%; }


/*** this come from the page.html ***/
.coll #menu-prin { border-bottom: 0; }
.coll .menuleft, .coll .menuleft-in { background-image: none;  }



/*** boutons ***/
.coll .box, .bouton_tribu_sm { display:none; }


/* Page interieures du collaboratif */
.pageint .conteneursousparagraphe { width:98%; }
.pageint .style-colab { margin-top:30pt; }


/* photo album */
.slide-mount { 
	float:left;
	background-color: #cdcdcd; 
	border:1pt solid #5f5f5f; 
	margin: 23pt 8pt 0 8pt; 
	width:200pt; 
	height:200pt;
	text-align:center;
	voice-family: "\"}\""; /*   Tantek hack    */
    voice-family:inherit;
	margin: 23pt 23pt 0 0;
}

.ligne-photo { clear:left; }
.ligne-photo { float:left; fl\oat:none; }

.last-photo { margin-right:0; }
.slide-mount img { border:1pt solid #737373; }
 /* \*/ 
* html .pageint .innerconteneur { width:100%; }
/* */



/* ajouts eurodoc */

div.eurodoc_photo{
}

div.puce_eurodoc{
margin: 0;
padding-top: 0.5em;
padding-left:2%;
display:block;
background:url(liste_def_titre.png) no-repeat 0 70%;
clear:left;
}

div.type_eurodoc {
margin: 0;
padding: 0;
display:block;
min-height:19px;
background-color:red;
}

div.type_eurodoc span.type_eurodoc_debut{
margin:0;
padding:0;
background:transparent url(http://www.univ-lyon3.fr/jsp/css/img/eurodoc_debut.png) no-repeat 0;
height:19px;
width: 100%;
}

div.type_eurodoc span.type_eurodoc_milieu{
margin: 0;
padding: 0;
background: transparent url(http://www.univ-lyon3.fr/jsp/css/img/eurodoc_milieu.png);
background-repeat: repeat-x
height:19px;
}

div.type_eurodoc span.type_eurodoc_fin{
margin: 0;
padding: 0;
background:transparent url(http://www.univ-lyon3.fr/jsp/css/img/eurodoc_fleche.png) no-repeat 0;
height:19px;
width: 100%;
}

td.annuaire_eurodoc_col1{
border-right: 1px dotted #FF9900;
margin-right:5px;
vertical-align:top;
padding-right:1px;
}

td.annuaire_eurodoc_col2{
padding-left:1px;
vertical-align:top;
}

tr.annuaire_ens{
padding-top:5px;
margin-top:50px;
border-left: 1px dotted #FF9900;
}

td.annuaire_ens{
/*padding-top:15px;*/
/*margin-top:50px;*/
}

td.annuaire_ens_s{
/*padding-top:5px;*/
/*margin-top:50px;*/
/*border-left: 1px dotted #FF9900;	*/
}

td.annuaire_ens1{
/*padding-top:5px;*/
/*margin-top:50px;*/
/*border-right: 1px dotted #FF9900;*/
margin-right:5px;
width:50%;
}

td.annuaire_ens1_s{
/*padding-top:5px;*/
/*margin-top:50px;*/
/*border-right: 1px dotted #FF9900;*/
margin-right:5px;
width:50%;
}

td.annuaire_ens1_s_sep{
/*padding-top:5px;*/
/*margin-top:50px;*/
/*border-right: 1px dotted #FF9900;*/
margin-right:5px;
width:50%;
border-right: 1px dotted #FF9900;
}

.eurodoc_entete{
}
.eurodoc_gauche{
  float:left;
}
.eurodoc_photo{
  float:right;
  position:relative;
}

.message_titre_eurodoc{
  clear : both;
  font-weight:bold;
  margin-top:10px;
}

.message_titre_eurodoc_principal{
  padding-top:10px;
  font-weight:bold;
}


.titre_fonction {
  font-weight:bold;
  /*text-decoration:underline;*/
  margin-top:10px;
}

.box {
  margin-top:5px;
  vertical-align:middle;
  font-weight:bold;
  text-decoration: underline;
}

html>body .type_eurodoc_debut{
height:auto;
}

html>body .type_eurodoc_milieu{
height:auto;
}

html>body .type_eurodoc_fin{
height:auto;
}


div.message_eurodoc{
float: left;
clear: left;
margin-top:5px;
margin-left:10px;
display:block;
color:#333;
font-size:0.9em;
}

td+td.fin_bloc{
  /*border-left: 1px dotted #FF9900;*/
  line-height:10px;
}

td.fin_bloc{
/*  border-right: 1px dotted #FF9900;*/
  line-height:10px;
}

td.fin_bloc_sep{
/*  border-right: 1px dotted #FF9900;*/
  line-height:10px;
  border-right: 1px dotted #FF9900;
}

div.tete_annuaire{
/*  float:left;*/
  width: 280px;
  margin-top:10px;
}

div.sections_annuaire{
color:#CBADB5;
font-weight:bold;
border-bottom: 1px solid #CBADB5;
}

div.menu_pratique{
  width:auto;
}

div.menu_pratique#menu_pratique{
float: right;
position:relative;
padding:0 0 15px 10px;
overflow:hidden;
z-index: 5;
margin-top: 1em;
width:300px;
}

.an-det-dro2 {
	/*float:left;*/
	/*width:300px;*/
	margin-bottom:5px;
}


.an-det-mt-droite{
}

.an-det-mt-droite2{
  float: right;
  width: 50%;
}

span.num_etudiant{
  float:right;
}

ul.liste-res li span.num_etudiant{
	text-align:right;
	float:right;
}

ul.liste-res li span.num_etudiant2{
	text-align:right;
	float:right;
}

#mafiche {
display: none;
}

#menu_pratique{
display: none;
}

#menu_pratique_annuaire{
display: none;
}