.titre {
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#00618E;
}
.texte {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}

.texte_rouge {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#E91D29;
}