
	/* COMMON */

	.csi-textpic {
	margin: 10px 0px 10px 0px;
	padding: 10px 0px 10px 0px;
	border : 1px solid	rgb(197,215,156);
	background : rgb(253,255,242) url(fond_bloc_texte.jpg) repeat-y ;
        width:100%;
}

	.csi-imagewrap .csi-image img {
		border: 1px solid #669900;  
}
	.csi-imagewrap{
	margin: 10px 10px 0px 15px;
}
	.csi-textpic .csi-caption p{
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center; 
        font-size:0.9em;
	font-style: italic; 
}
	.csi-textpic p{
	margin: 5px 0px 0px 15px;
	padding: 0px 0px 0px 0px;
}
       .csi-imagespacer {
        clear : both;
}
        .csi-below .csi-imagewrap {
          clear : both;
display: block;
}

