span.important {
	background-color : #999900;
	color : #ff0000;
}

p.align-left {
        text-align: left;
}

p.align-center {
        text-align: center;
}

p.align-right {
        text-align: right;
}