#crise .imageTitre2					                { background: url("picto_Titre.gif") top left no-repeat; height: 30px; padding-left:20px; padding-top:5px; }
#crise * >  .imageTitre2 		                    { background: url("picto_Titre.gif") 0% 0% no-repeat; height: 25px; padding-left:20px; padding-top:5px; }
#crise .texteTitre2 				                { background-color: #0D0D37; font-weight: bold; color: #AAE0FA; height: 21px; padding: 4px 0 0 5px; font-size: 12px; }
#crise .backgroundActuDeCom 			            { background: url("http://www.natixis.com/images/natixis/visu_TitreCrise.jpg") top left no-repeat; padding-top: 70px;width: 255px; }
#crise .texteAccroche2					            { font-weight: Bold; font-size: 10px; color: #00A0C6; text-align: right;}
#crise .blocDroitAcrocheAccueilRH		            { padding: 10px 10px 0 10px; text-align: justify; }
#crise .texteAccrocheAccueilRH			            { font-weight: Bold; font-size: 14px; color: #00A0C6; margin-bottom: 5px; }
#crise .texteAccroche2AccueilRH		                { font-weight: Bold; font-size: 10px; color: #0D0D37; margin-bottom:15px; }
#crise .article_resume2				                { font-size:12px; }
#crise .texteArticle3					            { color: #000; text-align: justify;font-family: Verdana; font-size: 10px; margin-top:10px;}
#crise .aligneTexteDiv2				                { margin:0; padding:0; margin-top:5px; text-align:right; }
#crise .aligneTexteDiv2 a:hover 	                { text-decoration:none;}
#crise .lienArticle2 					            { color:#0D0D37; font-size:10px; font-weight:bold; text-decoration:underline; }
#crise .filetSeparateurArticle	                    { color: #AAE0FA; background-color: #AAE0FA; height: 1px; border:0; margin: 10px 0 10px 0; }
#crise .textArticleAccueil3RH			            { font-weight: normal; padding-top:10px; text-align: justify; margin-left: -25px; }
#crise .demiLargeurContentAccueilRH1 .natixisCAussi { padding-left:30px; }
#crise .demiLargeurContentAccueilRH1 	            { width: 50%; }
#crise .natixisCAussi 					            { padding-left:30px; } 
#crise .demiLargeurContentAccueilRH 	            { width: 233px; vertical-align:top; }
#crise .demiLargeurContentAccueilRH .stagiaires     { padding-left: 22px; }
#crise .demiLargeurContentAccueilRH .stagiaires  .texte { font-size:11px; vertical-align:60%; }
#crise .demiLargeurContentAccueilRH1 .natixisCAussi     { padding-left:30px; }
#crise .demiLargeurContentAccueilRH1 	            { width: 50%; }
#crise .titreArticle2AlignAccueilRH	                {  height:20px;}
#crise .texteArticle2AccueilRH			            { float:left; font-size: 11px; color: #0D0D37; text-align:justify; }
#crise .titreArticle2AccueilRH			            { font-weight: Bold; font-size: 11px;  vertical-align: 100%; padding-left: 20px;  background: url("http://www.natixis.com/images/natixis/accueil_RH/puceBleue_SousTitre.gif") 0% 40% no-repeat;height: 20px; float:left;  color: #0D0D37; text-align:justify;}

#crise .tableRH					                    { margin-top:0px; !margin-top:-8px; }
#crise * > .tableRH					                { margin-top: 0; }

#crise .TexteMet1					                { font-size: 12px;margin-top:15px;}
#crise .texteArticle2                               { padding-top:10px; font-size:10px;font-weight: Bold; color: #505050;}