#faq				    { font-size: 10px; text-align: justify; margin-left:20px; margin-top:5px; }
#faq .texteAccroche 	{  background:transparent url(puceBleue_SousTitre.gif) no-repeat scroll 0% 40%; color:#581d74; font-weight:bold; height:20px; padding-left:20px; vertical-align:100%; font-family: Verdana; font-size: 12px;margin-top:10px;}
#faq .question 			{ font-size: 11px; margin-bottom:5px; }
#faq .question a		{ color:#505050; text-decoration: underline; }
#faq .question a:hover	{ color:#505050; text-decoration: none; }

#faq .imageTitre 		{ background: url("picto_Titre.gif") top left no-repeat; height: 30px; padding-left:10px; padding-top:5px; z-index:100; }
* > #faq .imageTitre 	{ height: 25px; }

#faq .texteTitre 		{ background-color: #775549; font-weight: bold; color: #FFF; height: 21px; padding: 4px 0 0 5px; font-size: 12px; }
#faq .answer            { color:#505050;}