#publicite		                { margin:0; padding:0; width:100%; margin-top:20px; }
#publicite div		            { margin-top:5px; cursor: pointer; }
#publicite a:hover	            { text-decoration: none; cursor: pointer; }
#publicite .lienArticle         { margin-top:5px; color:#581D74; font-size:10px; font-weight:bold; text-decoration:underline; text-align:right; margin-right:18px; !margin-right:0px; }
#publicite .lienArticle:hover   { text-decoration: none; }

#publicite .lienArticle a:hover { text-decoration: none; }

#publicite .lienArticle .lienPublicite       { color:#581D74; font-size : 10px; }
#publicite .lienArticle .lienPublicite:hover { text-decoration: none; }