.STDFullDisplay			{ margin-top:0px; !margin-top:0px; }

.STD				    { font-size: 11px; text-align: justify; color: #505050; margin-bottom:5px; !margin-bottom:0; }
.STD .imageTitre2		{ background: url("picto_Titre.gif") top left no-repeat; height: 30px; padding-left:10px; padding-top:5px;}
.STD * >  .imageTitre2	{ background: url("picto_Titre.gif") 0% 0% no-repeat; height: 25px; }
.STD .texteTitre2		{ background-color: #775549; font-weight: bold; color: #FFF; height: 21px; padding: 4px 0 0 5px; font-size: 12px; }
.STD .titreArticle		{ background:transparent url(puceBleue_SousTitre.gif) no-repeat scroll 0% 30%; color:#581D74; font-weight:bold; height:20px; padding-left:20px; vertical-align:100%; font-family: Verdana; font-size: 12px; margin-top: 15px; margin-bottom:0px; !margin-bottom:0;}

.STD .abstract			{ margin-left: 20px; }
.STD .accroche			{ margin-top: 10px; font-weight: bold;font-size: 11px;}
.STD .accroche2			{ margin-top: 10px; font-weight: bold;font-size: 11px;margin-left:20px;}
.STD .pieceJointe           { margin-top: 20px; margin-bottom:10px;}
.STD .pieceJointe .normal	{ margin-top:5px; margin-left:0px; }
.STD .pieceJointe a		    { color:#581D74; font-weight:bold; }
.STD .pieceJointe a:hover	{ text-decoration:none; }
.STD .lienExt               { margin-top:20px; margin-bottom:10px; }
.STD .lienExt .normal		{ margin-top:5px; margin-left:00px; }
.STD .lienExt a			    { color:#581D74; font-weight:bold; }
.STD .lienExt a:hover		{ text-decoration:none; }
.STD .filetSeparateurArticle { color: #581D74; background-color: #581D74; height: 1px; border:0; margin: 10px 0 10px 0; }

.STD .puceArticle		    { background:transparent url(puceBleue_SousTitre.gif) no-repeat scroll 0% 0%; padding-left:20px; vertical-align:100%;}

.STD .STD_icone             { float:left; margin-right:5px; }
#STD_temoignage             { margin-top:0px; !margin-top:0px; }
#STD_temoignage             { margin-top:0px; !margin-top:0px; }
*+html #STD_temoignage      { margin-top:-18px; }

*+html  #STD_temoignage .STD .imageTitre2 { !margin-top:20px; }

*+html #modele_bio .STD { margin-bottom:5px; }
#modele_bio .STD { !margin-bottom:5px; }