#popup
{
	position: absolute;
	cursor: move;
	top: 200px;
	left: 400px;
	min-width: 300px;
	max-width: 400px;
	overflow: auto;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
	background-color: #D93225;
	opacity: 0.8;
	color: white;
	z-index: 100;
}

#titre
{
	margin-bottom: 15px;
}

#fermeture
{
	position: relative;
	cursor: pointer;
	float: right;
	margin-right: -10px;
}

#popup #image
{
	float: left;
	margin-right: 10px;
}

#popup #txtCourt
{
	margin-top: 10px;
	margin-bottom: 10px;
	color: #FFE189;
}

#popup #lien
{
	color: white;
}

#popup li
{
	cursor: pointer;
	float: left;
	margin-top: 10px;
	margin-right: 80px;
}

#popup #image, #format
{
	margin-top: 15px;
}

#nom_edition, #lieu_edition, #date_edition
{
	position: relative;
	float: left;
	margin-top: 0px;
}

#culture_oc, #culture_catalan
{
	position: relative;
	float: left;
	margin-left: 10pt;
}

#observations
{
	position: relative;
	margin-top: 20px;
	max-width: 400px;
	padding: 10px;
	text-align: justify;
}