﻿/* slideshow */
.left { float: left; }
.right {float: right; }
.hide { display: none; }

.box {
	padding: 10px;
	margin-bottom: 35px;
	background: url(semitrans_.png);
	text-align: left;
	}

.error {
	padding: 10px 10px 10px 35px;
	font-style: italic;
	border: 2px solid #600;
	color: #fff;
	}
	
.success {
	padding: 10px 10px 10px 35px;
	font-style: italic;	
	border: 2px solid #3C9B89;
	color: #fff;
	}			
	
.slideshow {
	width: 600px;
	margin: 0 auto;
    position: relative;
	margin-bottom: 10px;
	}	
	
.slideshow ul {
	list-style-type: none;
	padding: 0;
	margin: 0;	
	}
	
.slideshow ul li {
	padding-bottom: 5px;
	padding-top: 5px;
	width: 600px;
	height: 150px;
	}		
	
.slideshow ul:after,	
.slideshow ul li:after {
	content: ".";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	font-size: 0;
	}
	
.slideshow .caption {
	padding: 0 10px;
	}	
	
/* Mise en forme */
div#content-slide{
	width: 580px;
	margin-left: 10px;
	margin-right: 10px;
}

div#content-slide h2 {
	font-weight: bold;
	font-size: 15px;
	text-align:center;
	margin: 10px;}

div#content-slide img {
	border: none;
	float:left;
	height: auto;
	width: 113px;
}
	
.paraf {
	font-size: 12px;
	float:left;
	text-align:justify;
	width: 445px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 5px;
	}	

div#content-slide a{
	font-size: 12px;
	color: #CC3300;
	float:left;
	text-align: justify;
	text-decoration: none;
	}	

div#content-slide a:hover{
	color: #CC3300;
	text-decoration: underline;
	}
	
/* button styling */
.slideshow .next,
.slideshow .prev {
    position: absolute;
    top: 110px;
    width: 59px;
    height: 46px;
    cursor: pointer;
    border: 0;
    color: #63C9BA;
    font-weight: bold;
    font-size: 1.2em;
    overflow: hidden;
    }
 .slideshow .next { 
    right: -80px; 
    padding-left: 10px;
    }
 .slideshow .next span {    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(next.png) no-repeat 0 top;
    }
.slideshow .prev { 
    left: -80px; 
    text-align: right;
    padding-right: 10px;
    }
.slideshow .prev span {    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -0;
    background: url(prev.png) no-repeat 0 top;
    }    
.slideshow .disabled span {
    background-position: -80px top;
    }  