body
{
	margin: 10px;
	padding: 0;
	font: 80% verdana, arial, sans-serif;
	background: url("fond.gif");
	color: #400f0b;
	height: 100%;
}

#barreDeTitre
{
	position: relative;
	background-image: url("fond_bandeau.png");
	top: 0;
	left: 0;
	height: 81px;
	width: 100%;
	background-repeat: no-repeat;
}

#menuDeNavigation
{
	position: relative;
	width: 100%;
	z-index: 1000;
}

div#corps
{
	position: relative;
	/*height: auto;*/
	min-height:40em;
	overflow: auto;
	padding: 10px;
	padding-top: 20px;
}

div#page
{
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid white;
	background-color: white;
}

.opt
{
	position: relative;
	float: right;
	margin-right:10px;
	font-size: 10px;
	color: #fff;
	margin-top: 5px;
}

div#footer-general{
	margin-top: 15px;
}

div#bt-cata{
	background-image: url("bt-cata.gif");
	background-repeat: no-repeat;
	position: relative;
	height:33px;
	width:202px;
}

div#footer{
	background-color: #CC3300;
	height: 30px;
	width: 980px;
}