/* AGENDA PAGE */
#agenda_page {color:#454545;}
#agenda_page .niveau{padding-bottom:20px;}
#agenda_page .date {padding-left:12px; font-weight:bold;}
#agenda_page .details { margin-left:15px;}

/* COMMUNIQUES PAGE */
#communique_page {color:#454545;}
#communique_page .date_annee_current {font-weight:bold; font-size:1.2em; padding-bottom:10px;}
#communique_page .niveau{padding-bottom:20px;}
#communique_page .date {padding-left:12px; font-weight:bold;}
#communique_page .details { margin-left:15px;}

/* ligne du temps */
#global #ligne_temps a {color:#FFFFFF;}
#ligne_temps {height:26px; font-weight:bold;}
#ligne_temps a:hover {text-decoration:underline;}
#ligne_temps li{background-image:url("repeat_grey.gif"); background-repeat:repeat-x; background-position:top left; margin:0; padding:0; float:left; width:39px; text-align:center; height:26px; padding-top:7px;}
#ligne_temps li.first {background-image:url("left_grey.gif"); background-repeat:repeat-x; background-position:top left;width:46px; text-align:right; height:26px; padding-right:8px;}
#ligne_temps li.end {background-image:url("right_grey.gif"); background-repeat:repeat-x; background-position:top left;width:46px; text-align:left; height:26px; padding-left:8px;}
#ligne_temps li.current_first {width:46px; text-align:right; height:26px; padding-right:8px;}
#ligne_temps li.current{margin:0; padding:0; float:left; width:39px; text-align:center; height:26px; padding-top:7px;}
#ligne_temps li.current_end {width:46px; text-align:left; height:26px; padding-left:8px;}
#ligne_temps li span {color: #FFFFFF;}


/* CONTACT */
#contact a{font-weight: bold; }
#contact a:hover {text-decoration: underline;}

/* CONTACT 2 */
#contact_second a:hover {text-decoration: underline;}

/* REJOINDRE */
#rejoindre a{font-weight: bold; }
#rejoindre a:hover {text-decoration: underline;}

/* POSTULER EN LIGNE */
#postuler_ligne .titre_annonce{text-transform: uppercase; font-size: 1.5em;}
#postuler_ligne .bottom_left {float: left; padding: 18px 0 0 0; font-weight: bold;}
#postuler_ligne .bottom_left a {font-weight: bold;}
#postuler_ligne .bottom_right {float: right;}
#postuler_ligne #formulaire_contact .legende {border-top:0px; padding-top: 0px;  color:#6f6d67;}
#postuler_ligne #postuler_liens {border-top:1px solid #B8B8B8;}
#postuler_ligne .reference, #postuler_ligne .reference_resultat {display: block; float: left;  color:#6f6d67;}
#postuler_ligne .reference {margin:0 11px 0 0; text-align:right; width:150px; color:#000000;}

/* FORMUALIRE */
#formulaire_contact {color: #000000;}
#formulaire_contact a{color: #000000;}
#formulaire_contact form label{display: block; width: 165px; text-align: right; margin: 0 11px 0 0; float: left;}
#formulaire_contact form input, #formulaire_contact form select, #formulaire_contact form textarea{ float: left; width: 250px; font-size: 1.2em; font-family: "Tahoma,sans-serif"; border: 1px solid #b8b8b8;}
#formulaire_contact form textarea {height: 120px;}
#formulaire_contact form .caracteres { float: left; margin: 0 0 0 5px; width: 55px; font-style: italic; padding: 95px 0 0 0 ; color:#6f6d67; font-size: 0.9em;}
#formulaire_contact form .recevoir {padding: 0 0 0 155px; color: #000000;}
#formulaire_contact form .recevoir input {float: none; width: 15px; margin: 0 5px 0 0; }
#formulaire_contact form .envoyer input{width: auto; padding: 2px 10px; float: none; border: 0px; font-size: 1.2em; font-weight: bold; color: #FFFFFF; background-color: #6f6d67; cursor: pointer; margin: 12px 0;}
#formulaire_contact .legende {font-size: 0.9em; font-style: italic; border-top: 1px solid #b8b8b8; padding: 13px 0 40px 0; color:#6f6d67;}
#formulaire_contact .legendes {font-size: 0.9em; font-style: italic; color:#6f6d67; padding: 0 0 40px 0;}
#formulaire_contact .abonnements-chk .abonnements-input {width:8px; _width:18px; *width:18px; *border: none; }
#formulaire_contact form .teq-form-label label {color:#19744B; font-weight: bold; display:inline; float:none; margin:0; text-align:left; width:100%;}
#formulaire_contact form .teq-form-padding {padding-left: 177px;}
#formulaire_contact form .abonnements-chk label {float: none; display: inline;}


/* DEMANDE DE DOCUMENTS */
#demande_documents #formulaire_contact form label{margin: 0 30px 0 0;}
#demande_documents #formulaire_contact form select#civilite {width: auto;}
#demande_documents #formulaire_contact form textarea {height: 70px;}
#demande_documents #formulaire_contact .legende {border-top:none; color:#6f6d67;}
#demande_documents #formulaire_contact form .envoyer input {margin: 0 0 0 365px;}

/* FORMUALIRE AMI */
.formualire_contact_presentation {margin: 0 0 15px 30px;}
.submit_positionnement {margin: 0 0 0 345px;}
/* FORMULAIRE ALERTE */
#formulaire_contact form input.checkbox {width: 20px; border:0px;}
#formulaire_contact form input.checkbox_marge {margin: 0 0 0 161px;}
#formulaire_contact form label.checkbox_label {display: block; width: 100%; text-align: left; padding-left:162px;}

/* PAGINATION */
#pagination {margin:15px 0;}
#pagination a.pagination_previous {padding:3px 7px; background-image:url("puces-triangle-grey-last.gif"); background-repeat:no-repeat; background-position:6px 6px;}
#pagination a {padding:3px 5px; color:#aaaaaa; font-weight:bold; border:1px solid #dddddd;}
#pagination a.pagination_selected {padding:3px 5px; font-weight:bold; border:1px solid #a0a0a0;}
#pagination a:hover {border:1px solid #a0a0a0; text-decoration: underline;}
#pagination a.pagination_next {padding:3px 7px; background-image:url("puces-triangle-grey-next.gif"); background-repeat:no-repeat; background-position:7px 6px;}
#pagination a.pagination_next:hover, #pagination a.pagination_previous:hover {text-decoration: none;}
#pagination  span {padding:3px 5px; font-weight:bold; border:1px solid #a0a0a0; color: #19744b;}

/* FAQ */
#faq {font-weight:normal; font-family:Tahoma,sans-serif;}
#faq .qr-item .qr-r {position:relative;}	
#faq .qr-item-selected .qr-r{display:block;}	
#faq .qr-q {cursor:pointer;position:relative;}
#faq .qr-item-selected .qr-q {margin-top:2px; padding:4px 0; padding-left:25px; background-position:10px 9px; margin-bottom:10px; font-weight: bold;}
#faq .qr-item-selected .qr-r {overflow:hidden; padding:0 5px 15px 10px; margin: 0 0 10px ;}
#faq .qr-item-not-selected .qr-q{padding-top:0px; padding:4px 0;padding-left:25px; background-position:10px 9px; font-family:Tahoma,sans-serif; color:#000000;}
#faq .image-faq {float:right; padding-right:10px; padding-top:4px; margin-left:10px;}

/* PUBLICATIONS */
#publication_page {}
#publication_page .illustration{width: 111px; float: left;}
#publication_page .detail{width: 360px; float: left;}
#publication_page .detail .titre{color:#454545; font-weight: bold; text-align: left; padding:0 0 0 10px; margin: 0 0 7px 0; display:block;}
#publication_page .detail form {margin: 0 0 10px 0; display: block;}
#publication_page .detail label {display: block; padding: 0 0 0 10px; color:#454545; margin: 0 0 11px 0;}
#publication_page .detail select {margin:0 0 0 10px; }
#publication_page .detail input {color:#ffffff; font-weight: bold; background-color: #666666; border:0px; text-transform: uppercase; cursor:pointer;}
#publication_page .detail li {line-height: 1.6em;}
#publication_page .clear{border-bottom:1px solid #bfbfbf; width: 100%; height: 12px; margin: 0 0 11px 0;}
#publication_page .end {border-bottom:0px solid #bfbfbf;}
#publication_page .texte_pres{padding: 0 0 0 10px; color:#454545; margin: 0 0 11px 0; display: block;}

/* PRESENTATION DES COMPTES */
#compte_presentation table.tableau_offre p {line-height: 1.8em;}
#compte_presentation table.tableau_offre th{color: #FFFFFF; font-weight: bold; padding: 8px 10px;}
#compte_presentation table.tableau_offre td{padding: 7px 10px; text-align: left; vertical-align: top;}
#compte_presentation table.tableau_offre tr.niveau_1 {background-color: #FFFFFF;}
#compte_presentation table.tableau_offre caption {visibility: hidden;}
#compte_presentation table.tableau_offre_gamme_1 td.first, #compte_presentation table.tableau_offre_gamme_2 td.first,
#compte_presentation table.tableau_offre_gamme_3 td.first, #compte_presentation table.tableau_offre_gamme_4 td.first,
#compte_presentation table.tableau_offre_gamme_5 td.first, #compte_presentation table.tableau_offre_gamme_6 td.first,
#compte_presentation table.tableau_offre_gamme_7 td.first, #compte_presentation table.tableau_offre_gamme_8 td.first {border-right:1px solid #c4c0b7;  width: 175px;}
.gamme-1 #compte_presentation table.tableau_offre_gamme_1 li, .gamme-2 #compte_presentation table.tableau_offre_gamme_2 li,
.gamme-3 #compte_presentation table.tableau_offre_gamme_3 li, .gamme-4 #compte_presentation table.tableau_offre_gamme_4 li,
.gamme-5 #compte_presentation table.tableau_offre_gamme_5 li, .gamme-6 #compte_presentation table.tableau_offre_gamme_6 li,
.gamme-7 #compte_presentation table.tableau_offre_gamme_7 li, .gamme-8 #compte_presentation table.tableau_offre_gamme_8 li 
{background-image:none; margin-left:0; padding-left:0;}




/* OFFRES */
#offres input {background-color:#6F6D67; border:0px; color:#FFFFFF; cursor:pointer; font-size:1.2em; font-weight:bold; padding:2px 5px; width:auto; text-transform: uppercase;}
#offres table.tableau_offre {border-bottom:1px solid #C4C0B7;}
#offres table.tableau_offre th{color: #FFFFFF; font-weight: bold; padding: 8px 10px;}
#offres table.tableau_offre td{padding: 7px 10px; text-align: left; vertical-align: top;}
#offres table.tableau_offre tr.niveau_1 {background-color: #FFFFFF;}
#offres table.tableau_offre caption {visibility: hidden;}
#offres table.tableau_offre_gamme_1 td, table.tableau_offre_gamme_1 th,
#offres table.tableau_offre_gamme_2 td, table.tableau_offre_gamme_2 th,
#offres table.tableau_offre_gamme_3 td, table.tableau_offre_gamme_3 th,
#offres table.tableau_offre_gamme_4 td, table.tableau_offre_gamme_4 th,
#offres table.tableau_offre_gamme_5 td, table.tableau_offre_gamme_5 th,
#offres table.tableau_offre_gamme_6 td, table.tableau_offre_gamme_6 th,
#offres table.tableau_offre_gamme_7 td, table.tableau_offre_gamme_7 th,
#offres table.tableau_offre_gamme_8 td, table.tableau_offre_gamme_8 th {border-right:1px solid #c4c0b7;}
#offres table.tableau_offre_gamme_1 td.end, table.tableau_offre_gamme_1 th.end,
#offres table.tableau_offre_gamme_2 td.end, table.tableau_offre_gamme_2 th.end,
#offres table.tableau_offre_gamme_3 td.end, table.tableau_offre_gamme_3 th.end,
#offres table.tableau_offre_gamme_4 td.end, table.tableau_offre_gamme_4 th.end,
#offres table.tableau_offre_gamme_5 td.end, table.tableau_offre_gamme_5 th.end,
#offres table.tableau_offre_gamme_6 td.end, table.tableau_offre_gamme_6 th.end,
#offres table.tableau_offre_gamme_7 td.end, table.tableau_offre_gamme_7 th.end,
#offres table.tableau_offre_gamme_8 td.end, table.tableau_offre_gamme_8 th.end {border-right:0px;}

/* DETAILS OFFRES */
#details_offre .titre_annonce{font-size: 1.5em; font-family: "Tahoma,sans-serif"; font-weight: bold; text-transform: uppercase;}
#details_offre .contener_liens {background-image:url("background.gif"); background-repeat:no-repeat; background-position: top left;}
#details_offre .contener_liens .retour_lien{float: left; padding: 20px 0 0 14px;}
#details_offre .contener_liens .retour_lien a{font-weight: bold;}
#details_offre .contener_liens .postuler_lien{float: right;}
#details_offre .contener_liens .postuler_lien img {padding: 6px 6px 0 0;}

/* COMMUNIQUE PAGE INTERNE FOCCUS */
.communique_page_interne li{margin-left: 0px;}

/* PANIER D IMPRESSION */
#panier_impression {}
#panier_impression .gestion_panier{padding: 10px 10px 0 10px; background-color: #f4f5f3;}
#panier_impression .gestion_panier li{display: inline; color: #a4a39f; font-weight: bold; background-image: none; padding-left:0px; margin-left:0px;}
#panier_impression .gestion_panier li a {color: #a4a39f; font-weight: bold;}
#panier_impression table {margin:15px 0; border-top:1px solid #e9ebe8;}
#panier_impression table td {border-bottom:1px solid #e9ebe8; vertical-align: top; text-align: left; padding:15px 0;}
#panier_impression .colone-gauche-liste .titre-details{display: block; background-image:url("fleche_gamme_1.gif");background-position:0 5px;background-repeat:no-repeat;color:#19744B;padding-left:12px;}
#panier_impression .colone-droite-liste {width: 215px; text-align: right;}
#panier_impression .colone-droite-liste ul {padding-left: 55px; color: #19744B;}
#panier_impression .colone-droite-liste a {text-transform: uppercase; font-size: 0.75em;}
#panier_impression .colone-droite-liste li {display: inline; background-image: none; padding-left:0px; margin-left:0px;}
/* DETAILS */
#panier_impression .container_panier_details .separateur_panier {border-top: 4px double #e9ebe8; margin: 12px 0 0 0;}
#global #panier_impression h2{text-transform: uppercase; color: #19744B; font-weight: bold; font-size: 1.4em; padding-bottom: 10px;}
#global #panier_impression a.imprimer {background-image:url("print.gif"); background-repeat:no-repeat; background-position: 0 2px; padding-left: 15px;}
/* POP UP */
#pop_up_print {width: 295px; /*border: 1px solid #19744B;*/ background-color: #FFFFFF; background-image:url("background.gif.1");background-position:0 30px;background-repeat:repeat-x;}
#pop_up_print #pop_up_print_header {background-color: #19734a; padding: 8px 8px 0 8px;}
#pop_up_print #pop_up_print_header .titre_left {color: #FFFFFF; font-weight: bold; text-transform: uppercase; font-size: 1.2em; float: left;}
#pop_up_print #pop_up_print_header .close_right {float: right; }
#pop_up_print #pop_up_print_header .close_right a {color: #FFFFFF; font-weight: bold; text-transform: uppercase; font-size: 1.2em;}
#pop_up_print #pop_up_print_header .close_right a:hover {text-decoration: none;}
#pop_up_print #pop_up_print_header .clear {height: 8px;}
#pop_up_print #pop_up_print_container {padding: 8px; text-align: left;}
#pop_up_print #pop_up_print_container .docs {display: block; /*background-image:url("cms/bouygues/css/gammes/puces/fleche_gamme_1.gif");background-position:0 5px;background-repeat:no-repeat;color:#19744B;padding-left:12px;*/}
#pop_up_print #pop_up_print_container a.valid {background-image:url("button.gif");background-repeat:no-repeat; width: 45px; display: block; margin: 0 auto; color: #FFFFFF; text-transform: uppercase; font-weight: bold; text-align: center; padding: 4px 0 3px 0;}
#pop_up_print #pop_up_print_container a.valid:hover {text-decoration: none;}
#pop_up_print #pop_up_print_footer {background-color: #e8f1ed; padding: 8px 8px 0 8px;}
#pop_up_print #pop_up_print_footer .clear {height: 8px;}
#pop_up_print #pop_up_print_footer a{color: #19744B;}
#pop_up_print #pop_up_print_footer li {margin: 0 0 5px 0;}
#pop_up_print #pop_up_print_footer li.print_pop {background-image:url("print.gif.1");background-repeat:no-repeat;padding-left:18px; background-position: 0 3px;}
#pop_up_print #pop_up_print_footer li.print_all_pop {background-image:url("panier.gif");background-repeat:no-repeat;padding-left:18px; background-position: 0 3px;}

#global .yui-panel .bd {background-color: #FFFFFF; background-image:url("background.gif.1");background-position:top left;background-repeat:repeat-x; padding: 0px;}
#global #Dialog_h {padding: 0px; border: 0px;}
#global .yui-panel .ft {padding:  0px;}






/* SITEMAP */
#global #sitemap {}
#global #sitemap ul.gamme-2 a{color:#e75012;  padding-left:15px;}
#global #sitemap li a.niveau-1 {font-weight: bold; }
#global #sitemap ul {margin-left:0px;}
#global #sitemap li {margin-left:3px; padding-left:0px; line-height: 1.7em; background-image: none;}
#global #sitemap li.end {margin-left:0px; !margin-left:-1px;}
#global #sitemap li.border {padding-bottom:15px;border-left:1px solid #FFFFFF; margin-left: -1px;}
#global #sitemap ul.clear {clear: both; margin-left:8px;}
#global #sitemap li.first {padding:15px 0 15px 0;}
#global #sitemap .colonne {float: left; width:235px;}
#global .col-centre-contenu-siteMap {}
#global #sitemap .colonne li.border li a {display: block;}
#global #sitemap .clear {margin:0 0 10px 0;}
#global #sitemap #titre_sitemap_gamme_2, #global #sitemap #titre_sitemap_gamme_3, #global #sitemap #titre_sitemap_gamme_4,
#global #sitemap #titre_sitemap_gamme_5, #global #sitemap #titre_sitemap_gamme_6, #global #sitemap #titre_sitemap_gamme_7,
#global #sitemap #titre_sitemap_gamme_8 {font-size: 1.3em; font-weight: bold; text-transform: uppercase;}
/* gamme-2 */
#global #sitemap #titre_sitemap_gamme_2 {color:#e75012;}
#global #sitemap ul.gamme-2 li a.niveau-1 {background-image:url("sitemap_horizontale_gamme-2.gif"); background-repeat:no-repeat; background-position:3px 5px;}
#global #sitemap ul.gamme-2 li.border {background-image:url("sitemap_verticale_gamme-2.gif"); background-repeat:repeat-y; background-position:top left;}
#global #sitemap ul.gamme-2 a{color:#e75012;  padding-left:15px;}
#global #sitemap ul.gamme-2 li.end {background-image:url("sitemap_verticale_gamme-2.gif"); background-repeat:no-repeat; background-position:0px 0px;}
#global #sitemap #carre_color_gamme_2 {background-image:url("carre_gamme_2.gif.1"); background-repeat:no-repeat; background-position:0px 0px; height: 20px; width: 20px; float: left; margin: 0 5px 0 0;}
#global #sitemap #titre_sitemap_gamme_2 {float: left;}
/* gamme-3 */
#global #sitemap #titre_sitemap_gamme_3 {color:#12959a;}
#global #sitemap ul.gamme-3 li a.niveau-1 {background-image:url("sitemap_horizontale_gamme-3.gif"); background-repeat:no-repeat; background-position:3px 5px;}
#global #sitemap ul.gamme-3 li.border {background-image:url("sitemap_verticale_gamme-3.gif"); background-repeat:repeat-y; background-position:top left;}
#global #sitemap ul.gamme-3 a{color:#12959a;  padding-left:15px;}
#global #sitemap ul.gamme-3 li.end {background-image:url("sitemap_verticale_gamme-3.gif"); background-repeat:no-repeat; background-position:0px 0px;}
#global #sitemap #carre_color_gamme_3 {background-image:url("carre_gamme_3.gif.1"); background-repeat:no-repeat; background-position:0px 0px; height: 20px; width: 20px; float: left; margin: 0 5px 0 0;}
#global #sitemap #titre_sitemap_gamme_3 {float: left;}
/* gamme-4 */
#global #sitemap #titre_sitemap_gamme_4 {color:#1d5a9f;}
#global #sitemap ul.gamme-4 li a.niveau-1 {background-image:url("sitemap_horizontale_gamme-4.gif"); background-repeat:no-repeat; background-position:3px 5px;}
#global #sitemap ul.gamme-4 li.border {background-image:url("sitemap_verticale_gamme-4.gif"); background-repeat:repeat-y; background-position:top left;}
#global #sitemap ul.gamme-4 a{color:#1d5a9f;  padding-left:15px;}
#global #sitemap ul.gamme-4 li.end {background-image:url("sitemap_verticale_gamme-4.gif"); background-repeat:no-repeat; background-position:0px 0px;}
#global #sitemap #carre_color_gamme_4 {background-image:url("carre_gamme_4.gif.1"); background-repeat:no-repeat; background-position:0px 0px; height: 20px; width: 20px; float: left; margin: 0 5px 0 0;}
#global #sitemap #titre_sitemap_gamme_4 {float: left;}
/* gamme-5 */
#global #sitemap #titre_sitemap_gamme_5 {color:#759937;}
#global #sitemap ul.gamme-5 li a.niveau-1 {background-image:url("sitemap_horizontale_gamme-5.gif"); background-repeat:no-repeat; background-position:3px 5px;}
#global #sitemap ul.gamme-5 li.border {background-image:url("sitemap_verticale_gamme-5.gif"); background-repeat:repeat-y; background-position:top left;}
#global #sitemap ul.gamme-5 a{color:#759937;  padding-left:15px;}
#global #sitemap ul.gamme-5 li.end {background-image:url("sitemap_verticale_gamme-5.gif"); background-repeat:no-repeat; background-position:0px 0px;}
#global #sitemap #carre_color_gamme_5 {background-image:url("carre_gamme_5.gif.1"); background-repeat:no-repeat; background-position:0px 0px; height: 20px; width: 20px; float: left; margin: 0 5px 0 0;}
#global #sitemap #titre_sitemap_gamme_5 {float: left;}
/* gamme-6 */
#global #sitemap #titre_sitemap_gamme_6 {color:#e4a545;}
#global #sitemap ul.gamme-6 li a.niveau-1 {background-image:url("sitemap_horizontale_gamme-6.gif"); background-repeat:no-repeat; background-position:3px 5px;}
#global #sitemap ul.gamme-6 li.border {background-image:url("sitemap_verticale_gamme-6.gif"); background-repeat:repeat-y; background-position:top left;}
#global #sitemap ul.gamme-6 a{color:#e4a545;  padding-left:15px;}
#global #sitemap ul.gamme-6 li.end {background-image:url("sitemap_verticale_gamme-6.gif"); background-repeat:no-repeat; background-position:0px 0px;}
#global #sitemap #carre_color_gamme_6 {background-image:url("carre_gamme_6.gif.1"); background-repeat:no-repeat; background-position:0px 0px; height: 20px; width: 20px; float: left; margin: 0 5px 0 0;}
#global #sitemap #titre_sitemap_gamme_6 {float: left;}
/* gamme-7 */
#global #sitemap #titre_sitemap_gamme_7 {color:#7459a6;}
#global #sitemap ul.gamme-7 li a.niveau-1 {background-image:url("sitemap_horizontale_gamme-7.gif"); background-repeat:no-repeat; background-position:3px 5px;}
#global #sitemap ul.gamme-7 li.border {background-image:url("sitemap_verticale_gamme-7.gif"); background-repeat:repeat-y; background-position:top left;}
#global #sitemap ul.gamme-7 a{color:#7459a6;  padding-left:15px;}
#global #sitemap ul.gamme-7 li.end {background-image:url("sitemap_verticale_gamme-7.gif"); background-repeat:no-repeat; background-position:0px 0px;}
#global #sitemap #carre_color_gamme_7 {background-image:url("carre_gamme_7.gif.1"); background-repeat:no-repeat; background-position:0px 0px; height: 20px; width: 20px; float: left; margin: 0 5px 0 0;}
#global #sitemap #titre_sitemap_gamme_7 {float: left;}
/* gamme-8 */
#global #sitemap #titre_sitemap_gamme_8 {color:#e75012;}
#global #sitemap ul.gamme-8 li a.niveau-1 {background-image:url("sitemap_horizontale_gamme-8.gif"); background-repeat:no-repeat; background-position:3px 5px;}
#global #sitemap ul.gamme-8 li.border {background-image:url("sitemap_verticale_gamme-8.gif"); background-repeat:repeat-y; background-position:top left;}
#global #sitemap ul.gamme-8 a{color:#ca1010;  padding-left:15px;}
#global #sitemap ul.gamme-8 li.end {background-image:url("sitemap_verticale_gamme-8.gif"); background-repeat:no-repeat; background-position:0px 0px;}
#global #sitemap #carre_color_gamme_8 {background-image:url("carre_gamme_8.gif.1"); background-repeat:no-repeat; background-position:0px 0px; height: 20px; width: 20px; float: left; margin: 0 5px 0 0;}
#global #sitemap #titre_sitemap_gamme_8 {float: left;}


table#teq-stat-bourse {
	width:100%;
}

table#teq-stat-bourse th{
	font-weight:bold;
	border:1px solid #E6E6E4;
	padding:8px;
	text-align:center;
	vertical-align:top;
}
table#teq-stat-bourse td{
	border:1px solid #E6E6E4;
	padding:8px;
	text-align:left;
	vertical-align:top;
	text-align:center;
}

table#teq-stat-bourse caption{
	color:#FFF;
	background-color: #1D5A9F;
	font-weight:bold;
	padding:6px;
	text-align:center;
}


table#teq-stat-bourse-annee {
	width:100%;
}

table#teq-stat-bourse-annee th{
	font-weight:bold;
	border:1px solid #E6E6E4;
	padding:8px;
	text-align:center;
	vertical-align:top;
}
table#teq-stat-bourse-annee td{
	border:1px solid #E6E6E4;
	padding:8px;
	text-align:center;
	vertical-align:top;
}

table#teq-stat-bourse-annee caption{
	color:#FFF;
	background-color: #1D5A9F;
	font-weight:bold;
	padding:6px;
	text-align:center;
}

table#teq-stat-bourse-actuelle {
	width:100%;
}

table#teq-stat-bourse-actuelle th{
	font-weight:bold;
	border:1px solid #E6E6E4;
	padding:8px;
	text-align:left;
	vertical-align:top;
}

table#teq-stat-bourse-actuelle {
	width:100%;
}
table#teq-stat-bourse-actuelle caption{
	color:#FFF;
	background-color: #1D5A9F;
	font-weight:bold;
	padding:6px;
	text-align:center;
}

table#teq-stat-bourse-actuelle td{
	border:1px solid #E6E6E4;
	padding:8px;
	text-align:left;
	vertical-align:top;
}
