/* FOCUS HP */
/* ACTUALITE */
#actualite {margin:0px 0 0 3px; background-image:url(bgr-actu-rpt.gif); background-repeat:repeat-y;}
#actualite #focus_titre_actu {padding:15px 10px 5px;} 
#actualite .actualite_top {background-image:url("bgr-actu-top.gif"); width:309px; height:46px; background-repeat:no-repeat;}
#actualite .actualite_center {background-image:url("bgr-actu-center.gif"); width:309px; height:211px; background-repeat:no-repeat;}
#actualite .actualite_bottom {background-image:url("bgr-actu-bottom.gif"); width:309px; height:11px; background-repeat:no-repeat;}
#actualite .boutton-actu {float:left; padding:50px 0 0 3px;}
#actualite #btn-prev {cursor:pointer;}
#actualite #btn-next {cursor:pointer;}
#actualite #caroussel 	{ position:relative;overflow:hidden; height:150px; width:270px; float:left;z-index:1;font-size:0.9em;  padding-left:10px;}
#actualite #panel 	{ position:relative;overflow: hidden;}
#actualite .bloc_evenement { margin-bottom:10px; padding-right:10px;}
#actualite .titre {color:#116f4b; font-size:1.125em;}
#actualite .titre a {color:#116f4b;}
#actualite .separateur {background-image:url("bgr-actu-sep.gif"); background-repeat:no-repeat; background-position:bottom;width:227px; height:1px; margin-bottom:5px;}
#actualite .lien {margin:19px 0 0 261px;}
#actualite .lien a {color:#767676; text-decoration:none;}
#actualite .lien a:hover {text-decoration:underline;}
#actualite .bloc_contenu {position: relative;}

/* HP EXECPTIONNELLE */
/* ACTUALITE */
.focus_actu_hp_exeptionnel #focus_titre_actu_exp {padding:0px 5px;}
.focus_actu_hp_exeptionnel {background-image:url("focus_hp_rpt.gif"); width:310px; background-repeat:repeat-y; }
.focus_actu_hp_exeptionnel .header_actu_hp_exeptionnel {background-image:url("focus_hp_top.gif"); width:309px; background-repeat:no-repeat; padding:15px;}
.focus_actu_hp_exeptionnel .bottom_actu_hp_exeptionnel {background-image:url("focus_hp_bottom.gif"); width:309px; height:12px; background-repeat:no-repeat;}
.focus_actu_hp_exeptionnel ul li {background-image:url("fleche_gamme_1.gif"); background-repeat:no-repeat; background-position:left center; padding-left:10px; margin-left:13px;}
/* STANDARD */
/* communique */
.focus_communique_hp {background-image:url("focus_hp_focus_rpt.gif"); width:313px; background-repeat:repeat-y;}
.focus_communique_hp .header_communique_hp{ padding:15px 10px 5px 10px; background-image:url("focus_hp_focus_top.gif"); width:313px; background-repeat:no-repeat; }
.focus_communique_hp .bottom_communique_hp {background-image:url("focus_hp_focus_bottom.gif"); width:313px; height:10px; background-repeat:no-repeat;}
.focus_communique_hp .date {font-weight:bold; color:#0e8255;background-image:url("puce-ronde-gamme-11.gif"); background-repeat:no-repeat; background-position:left center; padding-left:10px; }
.focus_communique_hp .lien {margin:5px 0 0 11px; }
.focus_communique_hp .lien a{color:#116F4B;}
.focus_communique_hp .left {float:left; width:228px;}
.focus_communique_hp .left ul {padding:2px 0 0 0;}
.focus_communique_hp .left li {background-image:url("fleche_gamme_1.gif"); background-repeat:no-repeat; background-position:left center; padding-left:10px;margin:0 0 0 1px;}
.focus_communique_hp .left li a { color:#767676;}
.focus_communique_hp .right {float:left; width:62px; margin:10px 0 0 0;}
.focus_communique_hp .right p {padding-left:10px; background-image:url("fleche_gamme_1.gif"); background-repeat:no-repeat; background-position:0 5px;}
.focus_communique_hp .right a {color:#767676;}
/* agenda */
.focus_agenda_hp {background-image:url("focus_hp_focus_rpt.gif"); width:313px; background-repeat:repeat-y;}
.focus_agenda_hp .header_agenda_hp{ padding:15px 10px 5px 10px;background-image:url("focus_hp_focus_top.gif"); width:313px; background-repeat:no-repeat}
.focus_agenda_hp .bottom_agenda_hp {background-image:url("focus_hp_focus_bottom.gif"); width:313px; height:10px; background-repeat:no-repeat;}
.focus_agenda_hp .date {font-weight:bold; color:#0e8255;background-image:url("puce-orange.gif"); background-repeat:no-repeat; background-position:left center; padding-left:10px; }
.focus_agenda_hp .lien a{display:block; margin:0 0 5px 11px; color:#000000;}
.focus_agenda_hp .liens a{color:#767676; background-image:url("fleche_gamme_1.gif"); background-repeat:no-repeat; background-position:left center; padding-left:10px; }
/*COMMUN */
/* FOCUS LIENS HP */
#global #focus_liens_hp ul li {background-image: none; padding:0px;}
#focus_liens_hp {background-image:url("fond_accueil.gif"); width:313px; background-repeat:no-repeat; height:35px; }
#focus_liens_hp ul li.rss {position:absolute; margin:13px 0 0 18px; display: block;}
#focus_liens_hp ul li.envoyer {position:absolute; margin:13px 0 0 118px; display: block;}
#focus_liens_hp ul li.panier {position:absolute; margin:13px 0 0 204px; display: block;}
#focus_liens_hp ul li.alerte {position:absolute; margin:13px 0 0 204px; display: block;/*position:absolute; margin:30px 0 0 18px; display: block;*/}
#focus_liens_hp ul li.imprimer {position:absolute; margin:30px 0 0 118px; display: block;}
#focus_liens_hp ul li.export {position:absolute; margin:30px 0 0 204px; display: block;}
/* MODELE */
.focus_type_hp {background-image:url("focus_hp_focus_rpt.gif"); width:313px; background-repeat:repeat-y;}
.focus_type_hp .focus_type_hp_top {background-image:url("focus_hp_focus_top.gif"); width:313px; background-repeat:no-repeat; padding:15px 15px 5px 15px;}
.focus_type_hp .focus_type_hp_top_single {background-image:url("focus_hp_focus_top_single.gif"); width:313px; background-repeat:no-repeat; padding:15px 15px 5px 15px;}
.focus_type_hp .focus_type_hp_bottom{background-image:url("focus_hp_focus_bottom.gif"); width:313px; height:10px; background-repeat:no-repeat;}
/*.focus_type_hp ul li {background-image:url("cms/bouygues/css/gammes/puces/fleche_gamme_1.gif"); background-repeat:no-repeat; background-position:left center; padding-left:10px;}*/
.focus_type_hp li a {color:#767676;}
/* PUBLICATION */
#focus_titre_publication {position:absolute;}
.focus_type_hp img.image {width:44px; height:62px; overflow:hidden; margin:7px 0 8px 0;}

/* **************************** */

/* PAGE */
/* FOCUS LIENS PAGE */
#global #focus_liens_page li {background-image: none; padding:0px;}
#global #focus_liens_page_miniature li {background-image: none; padding:0px;}
#focus_liens_page {background-image:url("fond_page.gif"); width:196px; background-repeat:no-repeat; height:72px; }


#focus_liens_page_miniature {background-image:url("fond_page.gif"); width:196px; background-repeat:no-repeat; height:51px; }
#focus_liens_page_miniature ul li.rss {position:absolute; margin:11px 0 0 14px; display: block;}
#focus_liens_page_miniature ul li.imprimer {position:absolute; margin:11px 0 0 115px; display: block;}
#focus_liens_page_miniature ul li.envoyer {position:absolute; margin:14px 0 0 115px; display: block;}
#focus_liens_page_miniature ul li.alerte {position:absolute; margin:29px 0 0 14px; display: block;}
#focus_liens_page_miniature ul li.export {position:absolute; margin:47px 0 0 115px; display: block;}
#focus_liens_page_miniature ul li.panier {position:absolute; margin:47px 0 0 14px; display: block;}



#focus_liens_page ul li.rss {position:absolute; margin:11px 0 0 14px; display: block;}
#focus_liens_page ul li.imprimer {position:absolute; margin:11px 0 0 115px; display: block;}
#focus_liens_page ul li.envoyer {position:absolute; margin:29px 0 0 115px; display: block;}
#focus_liens_page ul li.alerte {position:absolute; margin:29px 0 0 14px; display: block;}
#focus_liens_page ul li.export {position:absolute; margin:47px 0 0 115px; display: block;}
#focus_liens_page ul li.panier {position:absolute; margin:47px 0 0 14px; display: block;}

/* FOCUS MODELE TEMPLATE ONE */
#col-droite table.focus_modele_template_one {background-image:url("focus_page_repeat.gif"); width:196px; background-repeat:repeat-y; }
#col-droite table.focus_modele_template_one .top{background-image:url("focus_right_top_modele_1.gif"); width:196px; background-repeat:no-repeat;padding:26px 15px 5px 25px;}
#col-droite table.focus_modele_template_one .top .titre_focus {font-size: 1.2em; font-weight: bold; text-transform: uppercase;}
#col-droite table.focus_modele_template_one .bottom{background-image:url("focus_page_bottom.gif"); width:196px; background-repeat:no-repeat; height: 10px;}

/* FOCUS MODELE TEMPLATE TWO */
#col-droite table.focus_modele_template_two {background-image:url("focus_page_repeat.gif"); width:196px; background-repeat:repeat-y; }
#col-droite table.focus_modele_template_two .top{background-image:url("focus_right_top_modele_2.gif"); width:196px; background-repeat:no-repeat;padding:26px 5px 5px 15px;}
#col-droite table.focus_modele_template_two .bottom{background-image:url("focus_page_bottom.gif"); width:196px; background-repeat:no-repeat; height: 10px;}
#col-droite table.focus_modele_template_two li{margin-left:0px; line-height: 1.7em;}
#col-droite table.focus_modele_template_two .titre{padding: 0 0 0 10px;  font-size: 1.2em; font-weight: bold; text-transform: uppercase;}

/* FOCUS GAUCHE */
#col-gauche .savoirplus {margin: 100px 0 0 0;}
#col-gauche .savoirplus .savoirplus_top{ font-weight: bold; font-size: 1.125em; text-transform: uppercase; background-image:url("focus_page_ensavoirplus.gif"); background-repeat:no-repeat; background-position:top left; width:141px; padding-top:2px; padding-bottom:2px; padding-left:13px; !padding-left:5px;}
#col-gauche .savoirplus li{padding-left:18px; margin:0 0 5px 15px;}

