/*********** FONTS - TITRES ************/

h1 {font-size:1.6em; font-weight: bold; text-transform:uppercase;}
h2 {font-size:1em; font-weight: bold;}
h3 {font-size:1em; font-weight: bold;}

.color-gamme-bold {font-weight:bold;}

.couleur-gamme-1 {font-weight:bold; color:#19744B;}
.couleur-gamme-2 {font-weight:bold; color:#e75012;}
.couleur-gamme-3 {font-weight:bold; color:#12959a;}
.couleur-gamme-4 {font-weight:bold; color:#1d5a9f;}
.couleur-gamme-5 {font-weight:bold; color:#759937;}
.couleur-gamme-6 {font-weight:bold; color:#e4a545;}
.couleur-gamme-7 {font-weight:bold; color:#7459a6;}
.couleur-gamme-8 {font-weight:bold; color:#ca1010;}

.puce_carre_gamme-1 {background-image:url("carre_gamme_1.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px;}
.puce_carre_gamme-2 {background-image:url("carre_gamme_2.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px;}
.puce_carre_gamme-3 {background-image:url("carre_gamme_3.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px;}
.puce_carre_gamme-4 {background-image:url("carre_gamme_4.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px;}
.puce_carre_gamme-5 {background-image:url("carre_gamme_5.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px;}
.puce_carre_gamme-6 {background-image:url("carre_gamme_6.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px;}
.puce_carre_gamme-7 {background-image:url("carre_gamme_7.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px;}
.puce_carre_gamme-8 {background-image:url("carre_gamme_8.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px;}

.puce_fleche_gamme-1 {background-image:url("fleche_gamme_1.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px;}
.puce_fleche_gamme-2 {background-image:url("fleche_gamme_2.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px;}
.puce_fleche_gamme-3 {background-image:url("fleche_gamme_3.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px;}
.puce_fleche_gamme-4 {background-image:url("fleche_gamme_4.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px;}
.puce_fleche_gamme-5 {background-image:url("fleche_gamme_5.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px;}
.puce_fleche_gamme-6 {background-image:url("fleche_gamme_6.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px;}
.puce_fleche_gamme-7 {background-image:url("fleche_gamme_7.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px;}
.puce_fleche_gamme-8 {background-image:url("fleche_gamme_8.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px;}

.puce_carre_marge_gamme-1 {background-image:url("carre_gamme_1.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px; margin:0 0 0 35px;}
.puce_carre_marge_gamme-2 {background-image:url("carre_gamme_2.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px; margin:0 0 0 35px;}
.puce_carre_marge_gamme-3 {background-image:url("carre_gamme_3.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px; margin:0 0 0 35px;}
.puce_carre_marge_gamme-4 {background-image:url("carre_gamme_4.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px; margin:0 0 0 35px;}
.puce_carre_marge_gamme-5 {background-image:url("carre_gamme_5.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px; margin:0 0 0 35px;}
.puce_carre_marge_gamme-6 {background-image:url("carre_gamme_6.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px; margin:0 0 0 35px;}
.puce_carre_marge_gamme-7 {background-image:url("carre_gamme_7.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px; margin:0 0 0 35px;}
.puce_carre_marge_gamme-8 {background-image:url("carre_gamme_8.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px; margin:0 0 0 35px;}

.puce_carre_bold_gamme-1 {background-image:url("carre_gamme_1.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px; font-weight: bold; color: #19744B;}
.puce_carre_bold_gamme-2 {background-image:url("carre_gamme_2.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px; font-weight: bold; color: #e75012;}
.puce_carre_bold_gamme-3 {background-image:url("carre_gamme_3.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px; font-weight: bold; color: #12959a;}
.puce_carre_bold_gamme-4 {background-image:url("carre_gamme_4.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px; font-weight: bold; color: #1d5a9f;}
.puce_carre_bold_gamme-5 {background-image:url("carre_gamme_5.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px; font-weight: bold; color: #759937;}
.puce_carre_bold_gamme-6 {background-image:url("carre_gamme_6.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px; font-weight: bold; color: #e4a545;}
.puce_carre_bold_gamme-7 {background-image:url("carre_gamme_7.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px; font-weight: bold; color: #7459a6;}
.puce_carre_bold_gamme-8 {background-image:url("carre_gamme_8.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:10px; font-weight: bold; color: #ca1010;}

.titre-puce-orange {color:#0e8255; font-weight:bold;background-image:url("croix-orange.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:6px; }
.titre_puce_vert {background-image:url("rond-vert.gif"); background-repeat:no-repeat; background-position:0px 4px; padding-left:8px; color:#759937; font-weight:bold;}
.vert {color:#0e8255; font-weight:bold;}
.orange {color:#e75012; font-weight:bold;}
.violet {color:#7459a6; font-weight:bold;}
.bold_gris {color:#454545; font-weight:bold;}

.webzine_vert_fonce_titre, .webzine_vert_fonce {color: #218e07;}
.webzine_vert_fonce_titre {text-transform: uppercase; font-weight: bold;}
.webzine_vert_clair_titre, .webzine_vert_clair {color: #9ad41c;}
.webzine_vert_clair_titre {text-transform: uppercase; font-weight: bold;}
.webzine_turquoise_titre, .webzine_turquoise {color: #12b4e3;}
.webzine_turquoise_titre {text-transform: uppercase; font-weight: bold;}
.webzine_orange_titre, .webzine_orange {color: #e75012;}
.webzine_orange_titre {text-transform: uppercase; font-weight: bold;}

/* TEMPALTE TABLEAU */
table.tableau_template th{color: #FFFFFF; font-weight: bold; padding: 8px 10px;}
table.tableau_template td{padding: 5px 10px;}
table.tableau_template tr.niveau_1 {background-color: #FFFFFF;}
table.tableau_template tr.niveau_2 {background-color: #e5e4e1;}
table.tableau_template caption {visibility: hidden;}
/* gamme */
.gamme-1 table.tableau_template_gamme_0 th {background-color: #19744B;}
.gamme-1 table.tableau_template_gamme_0 td {color:#19744B;}
.gamme-2 table.tableau_template_gamme_0 th {background-color: #e75012;}
.gamme-2 table.tableau_template_gamme_0 td {color:#e75012;}
.gamme-3 table.tableau_template_gamme_0 th {background-color: #12959a;}
.gamme-3 table.tableau_template_gamme_0 td {color:#12959a;}
.gamme-4 table.tableau_template_gamme_0 th {background-color: #1d5a9f;}
.gamme-4 table.tableau_template_gamme_0 td {color:#1d5a9f;}
.gamme-5 table.tableau_template_gamme_0 th {background-color: #759937;}
.gamme-5 table.tableau_template_gamme_0 td {color:#759937;}
.gamme-6 table.tableau_template_gamme_0 th {background-color: #e4a545;}
.gamme-6 table.tableau_template_gamme_0 td {color:#e4a545;}
.gamme-7 table.tableau_template_gamme_0 th {background-color: #7459a6;}
.gamme-7 table.tableau_template_gamme_0 td {color:#7459a6;}
.gamme-8 table.tableau_template_gamme_0 th {background-color: #ca1010;}
.gamme-8 table.tableau_template_gamme_0 td {color:#ca1010;}
/* gamme-1 */
table.tableau_template_gamme_1 th{background-color: #19744B;}
table.tableau_template_gamme_1 td {color:#19744B;}
/* gamme-2 */
table.tableau_template_gamme_2 th{background-color: #e75012;}
table.tableau_template_gamme_2 td {color:#e75012;}
/* gamme-3 */
table.tableau_template_gamme_3 th{background-color: #12959a;}
table.tableau_template_gamme_3 td {color:#12959a;}
/* gamme-4 */
table.tableau_template_gamme_4 th{background-color: #1d5a9f;}
table.tableau_template_gamme_4 td {color:#1d5a9f;}
/* gamme-5 */
table.tableau_template_gamme_5 th{background-color: #759937;}
table.tableau_template_gamme_5 td {color:#759937;}
/* gamme-6 */
table.tableau_template_gamme_6 th{background-color: #e4a545;}
table.tableau_template_gamme_6 td {color:#e4a545;}
/* gamme-7 */
table.tableau_template_gamme_7 th{background-color: #7459a6;}
table.tableau_template_gamme_7 td {color:#7459a6;}
/* gamme-8 */
table.tableau_template_gamme_8 th{background-color: #ca1010;}
table.tableau_template_gamme_8 td {color:#ca1010;}

/* CONSEIL D'ADMINISTRATION */
table.conseil_administration{/*font-size: 0.9em;*/}
table.conseil_administration tr {padding:0 0 10px 0; display: block;}
table.conseil_administration td {padding: 0 5px 0 0 ;}
#titre_page_president {float: left; width: 168px;}
#titre_page_Administrateur {float: left;  width: 250px;}

/* WEBZINE */
/* HEADER */
table.webzine_header {font-style: italic;}
table.webzine_header .top_left {background-image:url("header-top-left.gif"); background-repeat:no-repeat; background-position:top left;}
table.webzine_header .top_right {background-image:url("header-top-right.gif"); background-repeat:no-repeat; background-position:top left;}
table.webzine_header .bottom_left {background-image:url("header-bottom-left.gif"); background-repeat:no-repeat; background-position:top left;}
table.webzine_header .bottom_right {background-image:url("header-bottom-right.gif"); background-repeat:no-repeat; background-position:top left;}
table.webzine_header .left {background-image:url("header-left.gif"); background-repeat:repeat-y; background-position:top left;}
table.webzine_header .right {background-image:url("header-right.gif"); background-repeat:repeat-y; background-position:top left;}
/* ARTICLES */
div.article_titre span {text-transform: uppercase; font-size: 16px; color:#8e8772; font-weight:bold; background-image:url("icone-article.gif"); background-repeat:no-repeat; background-position:0 3px; padding: 0 0 0 17px;}
#articles .separateur{width: 100%; border-bottom:1px solid #e2e2e2; height: 12px; margin: 0 0 12px 0;}
#articles img {border:1px solid #dfdfdf; padding: 3px;}
#articles td {vertical-align: top;}
#global #articles a {color: #000000;}
/* ZOOM SUR */
table.zoom_sur {background-color: #eeeee7;}
table.zoom_sur .coin_top_right {background-image:url("bloc-top-right.gif"); background-repeat:no-repeat; background-position:top left; height: 22px;}
table.zoom_sur .coin_top_left {background-image:url("bloc-top-left.gif"); background-repeat:no-repeat; background-position:top left; height: 22px;}
table.zoom_sur .coin_bottom_right {background-image:url("bloc-bottom-right.gif"); background-repeat:no-repeat; background-position:top left; height: 22px;}
table.zoom_sur .coin_bottom_left {background-image:url("bloc-bottom-left.gif"); background-repeat:no-repeat; background-position:top left; height: 22px;}
table.zoom_sur td.contener_texte {padding: 0 10px 0 0;}
table.zoom_sur td.contener_texte ul li{margin: 3px 0 3px 0; padding: 0 0 0 10px; background-image:url("puce.gif"); background-repeat:no-repeat; background-position:0 4px;}
table.zoom_sur table.titre_bottom td {background-color: #ffffff;  height: 22px; font-weight: bold; color: #8e8772; font-size: 12px;}
table.zoom_sur table.titre_bottom td span {text-transform: uppercase; font-size: 16px;background-image:url("loupe.jpg"); background-repeat:no-repeat; background-position:top left; padding: 0 0 0 20px;}
/* DESABONNEMENT */
div.desabonnement {color:#8a8a8a;}
#global div.desabonnement a{color:#8a8a8a;}
/* FOCUS PORTRAIT */
/* ZOOM SUR */
table.focus_portrait {background-color: #eeeee7; text-align: left;}
table.focus_portrait .coin_top_right {background-image:url("bloc-top-right.gif"); background-repeat:no-repeat; background-position:top right; height: 22px;}
table.focus_portrait .coin_top_left {background-image:url("bloc-top-left.gif"); background-repeat:no-repeat; background-position:top left; height: 22px;}
table.focus_portrait .coin_bottom_right {background-image:url("bloc-bottom-right.gif"); background-repeat:no-repeat; background-position:top right; height: 22px;}
table.focus_portrait .coin_bottom_left {background-image:url("bloc-bottom-left.gif"); background-repeat:no-repeat; background-position:top left; height: 22px;}
table.focus_portrait td.contener_texte {padding: 0 10px 0 0;}
table.focus_portrait td.contener_texte ul li{margin: 3px 0 3px 0; padding: 0 0 0 10px; background-image:url("puce.gif"); background-repeat:no-repeat; background-position:0 4px;}
table.focus_portrait table.titre_bottom td { height: 22px; font-weight: bold; color: #8e8772; font-size: 12px;}
table.focus_portrait table.titre_bottom td.titre_bottom_top {background-color: #ffffff; width:200px; }
table.focus_portrait table.titre_bottom td.titre_bottom_bottom {background-color: #EEEEE7; width:200px; }


table.focus_portrait table.titre_bottom td span {text-transform: uppercase; font-size: 16px;background-image:url("icone-portrait.gif"); background-repeat:no-repeat; background-position:top left; padding: 0 0 0 20px;}
table.focus_portrait td.footer_focus_portrait { font-size: 10px;}
table.focus_portrait td.header_focus_portrait strong{color:#e75012;}








