/**************** FEUILLE DE STYLE - BOUYGUES - GRILLES *****************/
/* RESET CSS */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;  padding:0;}

table {border-collapse:collapse;  border-spacing:0;}

fieldset {border:0;}
 
address,caption,cite,code,dfn,em,th,var {font-style:normal;  font-weight:normal;}

ol,ul {list-style:none; }

caption,th {text-align:left; }

h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal;}

html, body { height:100%; color: #000000;}

body {font:11px Tahoma,sans-serif; text-align:justify;}

/************* OBJETS GLOBALS *********************/
a  {color:#000000; text-decoration:none; outline:none; position: relative;}

a:hover { text-decoration:underline}

img { border:none; }

ul, li { list-style:none; text-align:left}

#titre_page_print {display: block; font-size:1.2em; margin-bottom: 15px;}
#global #panier_impression h2 {font-size: 16px}
#center {background: none;}
.gamme-1 li, .gamme-2 li, .gamme-3 li, .gamme-4 li, .gamme-5 li,
.gamme-6 li, .gamme-7 li, .gamme-8 li {list-style: circle; background: none;}
.gamme-1 h3, .gamme-2 h3, .gamme-3 h3, .gamme-4 h3, .gamme-5 h3,
.gamme-6 h3, .gamme-7 h3, .gamme-8 h3 {background: none;}

#agenda_page .date {padding-left: 0;}
#table.conseil_administration {width: 100%;}

/* STRUCTURES */
#header {display: none;}
#footer {display: none;}
#col-gauche {display: none;}
#col-droite {display: none;}
#titre_page {display: none;}
#debug {display: none;}
.nav_acces_web {display: none;}
.gestion_panier {display: none;}
#chemin_de_fer{display: none;}

.mask{opacity:0; filter: alpha(opacity=0); -moz-opacity : 0; left:-10000px; opacity:0.5;
position:absolute;
top:-10000px;}
#global {z-index: 100; /*position: absolute;*/}

/* STYLES */
.legende_tableau { font-size: 12px; }
.offline { border:1px solid red; }
.clear { clear:both; }
.italique {font-style: italic; font-size: 12px; }

#center{ /*background: #fff url("images/logo.gif") center top no-repeat;*/ font-size: 17px; text-align: justify; padding: 0 0 25px 0; border-bottom: 3px solid #E75012;  }
/*#center table.focus_type_hp {width: 100%;}
#center .homepage_grid #col-gauche, #center .homepage_grid #col-centre, #center .homepage_grid #col-droite {width:100%; display: block;}*/
#center #focus_liens_hp {display: none;}
/*#center a:link:after, #center a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 90%;
  }
*/

.homepage_grid #col-gauche{ display: block; float: none; height: 300px; width: 300px; }
.homepage_grid #col-center{ display: block; float: none; height: 300px; width: 300px; }
.homepage_grid #col-droite{ display: block; float: none; height: 300px; width: 300px; }

.titre-focus-hp-print-no{display: none;}

#_yuiResizeMonitor, #debug, #Dialog_mask, #lightwindow, #lightwindow_overlay{ display:none; }