﻿/*============================================
CSS Pour editeur wysiwyg :: CG67
============================================*/

.titre-trait-orange {
	font-size: 1.4em;
	color: #1A171B;
	padding: 10px 0 4px 13px;
	margin: 0 0 10px 0;
	background: url(puce_title_trait_orange.gif) left bottom no-repeat;
/* ajout airsoft 02/10/09 */
	clear:left;
/* fin ajout airsoft 02/10/09 */	
}
/* ajout airsoft 02/10/09 */
.titre-trait-orange-flottant-gauche {
	font-size: 1.4em;
	color: #1A171B;
	padding: 10px 0 4px 13px;
	margin: 0 0 10px 201px;
	background: url(puce_title_trait_orange.gif) left bottom no-repeat;	
/*	width: 401px;
	float: left;*/
/* fin ajout airsoft 02/10/09 */	
}
.img-gauche {
	margin: 0 28px 18px 0;
	float: left;
	/* ajout airsoft 02/10/09 */
	width:173px;
    height: auto;
	/* fin ajout airsoft 02/10/09 */    
}
.liste-bordure-gauche {
	padding: 1px 0;
	/* margin: 10px 0 10px 50px; */
    margin: 10px 0 10px 0;
	border-left: 1px solid #ccc;
}
/* ajout airsoft 03/11/09 */
.liste-bordure-gauche-flottant-gauche {
    padding: 1px 0;
	/* margin: 10px 0 10px 223px; */
	margin: 10px 0 10px 201px;
	/* float: left; */
	border-left: 1px solid #ccc;
}
/* fin ajout airsoft 03/11/09 */
/* ajout airsoft 29/10/09 - permet à l'auteur de mettre cette classe à un lien dans colonne contenu afin d'ouvrir le lien dans nouvelle fenêtre */
.lien-externe {
}
/* fin ajout airsoft 29/10/09 */ 
/*  ajout airsoft 02/12/09 pour bloc infos pratiques 
.separateur-infos-pratiques 
{
    margin: 0 0 10px 0;
}
fin ajout airsoft 02/12/09 pour bloc infos pratiques*/ 
