.buttons{
/*	clear:both;
	float:right;*/
}

a.buttons, .buttons button, input.buttons{
/*    display:block;*/
/*    float:left;*/
    margin:10px 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
	border-bottom:1px solid #dedede!important;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button,input.buttons{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type],input.buttons{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, a.buttons img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */

button:hover, a.buttons:hover,input.buttons:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
a.buttons:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, a.buttons.positive,input.positive{
    color:#529214;
}
a.buttons.positive:hover, button.positive:hover,input.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
a.buttons.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

a.buttons.negative, button.negative,input.negative{
    color:#d12f19;
}
a.buttons.negative:hover, button.negative:hover,input.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
a.buttons.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}
