@import url(reset.css);
@import url(typo.css);
/*@import url(table.css);*/
@import url(form.css);
@import url(uni-form-generic.css);

@import url(buttons.css);
@import url(jquery.fancybox.css);
@import url(catalog.css);
@import url(calendar.css);

body{
	background:#fff url("bg.gif") repeat-x 0 0;
	font:normal .75em/1.6em Arial, sans-serif;
  	color: #444; 
}
html>body{
	font-size:12px;
}

/* ============ */
/* = Couleurs = */
/* ============ */
.text h1				   			{font-family: Georgia, serif;line-height:1em;border-bottom: 1px solid #999;color:#393C3C;padding-bottom:.5em;font-weight:normal;}
.text ul 							{padding-left:15px;}
.text ul li							{/*list-style:disc url("/images/theme/puce2.gif") inside;*/list-style-type:none;background:transparent url("puce2.gif") no-repeat 0 5px;padding-left:15px;}
.text h2							{font-family: Georgia, serif;margin-bottom:.5em;color:#014f91;text-indent:23px;font-weight:normal;background:transparent url("title-h2.gif") no-repeat 0 9px;}

.text table							{font-size:.9em;}
    		    
.text .LinkOut							{padding:0 15px 0 0;background:transparent url("out.gif") no-repeat right 0;}
/*.text .LinkFile							{padding:0 18px 0 0;border:none!important;font-weight:bold;color:#cc0000!important;background:transparent url("/images/icons/page_white_acrobat.png") no-repeat right 0;}*/
.text .view_more						{padding:0 18px 0 0;background:transparent url("text_align_left.png") no-repeat right 0;}

/*.text img							{float:right;margin:0 0 20px 20px;}*/
	
#chapo	{font-weight:bold;}
	
	
img.align-right,
#chapo img						{margin:0 0 20px 20px;float:right;}
	
/* ============= */      		    	
/* = Structure = */      		    	
/* ============= */      		    	

#page 								{position:relative;margin:0 auto;width:960px;}
#banner 							{position:relative;width:960px;height:270px;margin-bottom:20px;background:#fff url("entete-home.jpg") no-repeat right 20px}
.form #banner 						{background:#fff url("entete-form.jpg") no-repeat right 20px}
/*.ccia #banner 						{background:#fff url("/images/theme/entete-cci.jpg") no-repeat right 20px}*/
/*.crea #banner 						{background:#fff url("/images/theme/entete-crea.jpg") no-repeat right 20px}*/
/*.eco #banner 						{background:#fff url("/images/theme/entete-eco.jpg") no-repeat right 20px}*/
/*.pro #banner 						{background:#fff url("/images/theme/entete-pro.jpg") no-repeat right 20px}*/
/*#banner								{background:none}*/
#banner #entete						{position:absolute;top:20px;right:0;}




#contents 							{position:relative;padding:20px 10px 0 20px;width:680px;float:left;margin-left:250px;display:inline;overflow:hidden;height:1%;background:#fff url("bg_page.gif") no-repeat 0 0;}

#contents #main						{width:470px;min-height:500px;float:left;}

#rightbar							{padding:10px;margin-left:20px;width:170px;float:left;background:#fff;-moz-border-radius:4px;font-size:.9em;line-height:1.4em;}
#rightbar .text	p					{text-align:left!important;}

.breadcrumb							{padding-left:20px;font-size:.9em;background:transparent url("ico_sitemap.gif") no-repeat 1px 3px;}
.breadcrumb	a						{border:none!important;}
.rubrique_sommaire_ .breadcrumb		{display:none;}

#leftbar 							{position:relative;width:230px;margin-left:-960px;float:left;}
#footer 							{position:relative;clear:both;margin-top:20px;border-top: 1px solid #999;}

#article							{overflow:hidden;/*padding:0 20px;*/}

/*#flash								{position:absolute;top:20px;right:0;width:730px;height:190px;}*/
.animbandeau .flash					{position:absolute;top:20px;right:0;width:730px;height:190px;}

/*#rightbar .box h2					{display:none;}*/

.boxrss 							{overflow:hidden;width:150px;margin:10px 0;padding:10px;background:#E4E4E4 url("flux_rss.gif") no-repeat top right;-moz-border-radius:4px;}

.boxrss h3							{margin-right:30px;}
.boxrss p							{font-family: Georgia, serif;font-style:italic;line-height:1.5em;}

/*.boutique 							{margin:10px 0;padding:10px;background:#f6f6f6;-moz-border-radius:4px;}
.boutique h2						{display:none;}
.boutique h3						{font-weight:bold;}
.boutique a							{padding:0 0 0 20px;background:transparent url("/images/icons/information.png") no-repeat 0 center;}*/

#rightbar .boxtext 					{margin:10px 0;padding:10px;background:#d5e6f1;-moz-border-radius:4px;color:#004F9B;color:#333;}
.txtcontact 						{background:#d5e6f1 url("question.gif") no-repeat top right ;}
.boxtext h2							{display:none;}
.boxtext h3							{font-weight:bold;font-size:1.4em;color:#004F9B;margin-bottom:.5em;}
.boxtext strong						{font-weight:bold;}
.boxtext a							{text-decoration: underline;color:#004F9B}

.logos 								{margin:0;padding:0;background:#fff;border:none}


.alert								{background:#CC727F;padding:10px 10px 0 10px;margin-top:10px;}



#rightbar .boxshorcuttools			{margin:10px 0;padding:10px;background:transparent url("http://www.alencon.cci.fr/images/theme/.gif") no-repeat top right;-moz-border-radius:4px;color:#004F9B;color:#333;}

#rightbar .boxproduct				{overflow:hidden;width:150px;margin:10px 0;padding:10px;background:#C1CC3F  url("documents.gif") no-repeat top right;-moz-border-radius:4px;}
#rightbar .boxproduct h2			{font-weight:bold;font-size:1.3em;color:#383A09;margin-bottom:.5em;}

/*
.tools								{}
.tools h2							{display:none;}
.tools ul 							{margin:2px 0 0 0;padding:0;}
.tools li							{margin:0;list-style:none!important;}
.tools a							{display:block;text-indent:-9999px;}
.tools a.printer					{background:transparent url("/images/icons/printer.png") no-repeat 0 center;}
.tools a.email_go					{background:transparent url("/images/icons/email_go.png") no-repeat 0 center;}
.tools a.increaseFont				{background:transparent url("/images/icons/tools/font-larger.gif") no-repeat 0 center;}
.tools a.decreaseFont				{background:transparent url("/images/icons/tools/font-smaller.gif") no-repeat 0 center;}
.tools a.resetFont					{background:transparent url("/images/icons/tools/font-standard.gif") no-repeat 0 center;}*/


/*.news_event img,
.boxlastelements .picture			{float:right;margin-left:20px;}*/

.bandeau							{}
.bandeau h2							{display:none;}






#rightcol							{position:absolute;top:62px;right:10px;background:#fff;width:170px;padding:10px;}
#rightcol p							{text-align:left!important;}



.offres								{clear:both;}





/* Navigation banner
/* =================== */

#corporate_logo		   				{z-index:100;position:absolute;top:0;left:0;background:#333;width:230px;height:210px;}
#boxes								{z-index:99;position:absolute;background:transparent url("bg_banner.gif") no-repeat 0 bottom;left:0;top:0px;width:960px;height:270px;}

#banner .box h2			 			{display:none;}
.boxlogin							{position:absolute;right:0;top:0;}

.boxsearch 							{position:absolute;width:210px;padding-right:10px;height:50px;left:10px;bottom:10px;background:#fff url("bg_search.gif") no-repeat 0 0;}
.boxsearch .wordsbox 				{width:150px;float:left;}
.boxsearch .submit 					{margin:0;}
.boxsearch .submit input			{padding:0;margin:0;font-size:.8em;float:right;}


.sec_nav h2							{display:none;}
.sec_nav ul li						{position:absolute;background:#fff;bottom:10px;width:220px;height:50px;}
.sec_nav ul li a					{text-indent:-9999px;display:block;width:220px;height:50px;}

#banner li.vitrine_2				{left:250px}
#banner li.catalogue						{left:490px}	
#banner li.questions_reponses_48h			{left:730px}



#banner li.vitrine_2 a	{background:#fff url("btn_vitrine.gif") no-repeat 0 0;}
#banner li.catalogue a				{background:#fff url("btn_catalogue3.gif") no-repeat 0 0;}	
#banner li.questions_reponses_48h a	{background:#fff url("btn_faq.gif") no-repeat 0 0;}


/* Leftbar
/* =================== */

#nested {
margin-bottom:20px;
}

#nested ul.first_level{

}
#nested .first_level li{
	background:none;
}

#nested .first_level a {
	width:220px;
/*	background:#D8D8D8 url("/images/theme/menu_fleche_up2.jpg") no-repeat 215px center;*/
	background:#D8D8D8 url("0096_arrow_02.gif") no-repeat 210px center;
	-moz-border-radius:4px;
	border-bottom:1px solid #fff;
	color:#014f91;
	display:block;
	font-size:1em;
	padding:5px 0 5px 10px;
	text-decoration:none;
	font-weight:bold;	
}


#nested .first_level a span{ 
	display:block;
	padding:0 0 0 0;
}
#nested .first_level a:hover {
	color:#333;
}
#nested .first_level .active a span{
/*	background:#D8D8D8 url("/images/theme/menu_fleche_down2.jpg") no-repeat 203px center;*/
}

#nested .first_level .active a:hover{
	color:#333;
}

#nested .first_level .second_level {

}
#nested .first_level .second_level li {
	border-bottom:1px solid #fff;
}

#nested .first_level .second_level li a{
	width:230px;
	background:#ededed;
	color:#515150;
	display:block;
	padding:3px 0 3px 0px;
	text-transform:none;
	border-bottom:none;
	
}
#nested .first_level .second_level li a span{
	background:none;
	display:block;
	font-weight:normal;
	padding:0 0 0 10px;
}

#nested .first_level .second_level li a:hover{
	color:#333;
}

#nested .first_level .second_level li.active a span{
	color:#333;
	font-weight:bold;
}

#nested .first_level .second_level li.active a:hover{
	color:#333;
}
	
	

#nested .first_level .second_level .third_level{

}

#nested .first_level .second_level .third_level li{

}
#nested .first_level .second_level .third_level li a{
	background:#fff;
	color:#a4a4a4;
	display:block;
	padding:0 0 0px 10px;
	width:220px;
	font-size:.9em;
	border-top:1px solid #D7D7D7;
	background:transparent url("0025_bullet.png") no-repeat 7px 3px;
}

#nested .first_level .second_level .third_level li:first-child a{
	border-top:none;
}

#nested .first_level .second_level .third_level li a span{
	background:none;
	font-weight:normal;
}
#nested .first_level .second_level .third_level li a:hover{
	color:#555;
}
#nested .first_level .second_level .third_level li.active a span{
	font-weight:bold;
}
#nested .first_level .second_level .third_level li.active a:hover{
	color:#555;
	font-weight:bold;
}

#nested .first_level .second_level .third_level .fourth_level{

}
#nested .first_level .second_level .third_level .fourth_level li{
	list-style-type:none;

}
#nested .first_level .second_level .third_level .fourth_level li a{
	background:#fff;
	color:#a4a4a4;
	display:block;
	font-weight:normal;
	padding:0px 0 0px 25px;
	width:205px;
	border-top:1px solid #E4E4E4;
	background:transparent url("0105_ico-arrow.png") no-repeat 20px 3px;
	
}
#nested .first_level .second_level .third_level .fourth_level li a span{
	background:none;
	font-weight:normal;
}
#nested .first_level .second_level .third_level .fourth_level li a:hover{
	color:#555;
}
#nested .first_level .second_level .third_level .fourth_level li.active a span{
	font-weight:bold;
}
#nested .first_level .second_level .third_level .fourth_level li.active a:hover{
	color:#555;
	font-weight:bold;
}

#nested .first_level li.espace_elus a,
#nested .first_level li.agenda_de_l_intranet_consulaire a {background:#115E92 url("0096_arrow_02.gif") no-repeat 210px center;color:#fff;}
#nested .first_level li.espace_elus a span{padding-left:25px;background:transparent url("folder.png") no-repeat 0 0;text-transform:none;}
#nested .first_level li.agenda_de_l_intranet_consulaire a span{padding-left:25px;background:transparent url("calendar.png") no-repeat 0 0;text-transform:none;}

#nested .first_level li.espace_entreprise {margin-top:20px;}
#nested .first_level li.espace_entreprise a {background:#003E7C url("0096_arrow_02.gif") no-repeat 210px center;color:#fff;}
#nested .first_level li.espace_entreprise a:hover {color:#fff;}

#nested .first_level li.espace_entreprise a span{padding-left:25px;background:transparent url("folder.png") no-repeat 0 0;text-transform:none;}

#nested .first_level li.espace_entreprise ul.second_level a {background:#f6f6f6 url("0025_bullet.png") no-repeat 20px center;}
#nested .first_level li.espace_entreprise ul.second_level a span{
	width:200px;
	background-image:none;
	color:#515150;
	display:block;
	padding:3px 0 3px 35px;
	text-transform:none;
	border-bottom:none;
	text-transform: none!important;
}

/* ============ */
/* = Rightbar = */
/* ============ */

#boite_catalogue 	{background:#f6f6f6;margin-bottom:20px;}

#fluxRSS			{background:#f6f6f6;padding:10px;}

/* ========== */
/* = Footer = */
/* ========== */

#footer a,        		
#footer a:visited	{background:none;color:#333;display:inline;}
#footer a:hover		{text-decoration:underline;}
#footer strong		{font-weight:bold;}
                    
#footer #copyright 	{position:absolute;display:block;width:410px;top:7px;left:20px}
#footer #mininav 	{position:absolute;text-align:right;display:block;width:310px;top:7px;right:20px}

/* ============ */
/* = HomePage = */
/* ============ */


.espaceelu			{margin:0 0 20px 0;}
.espaceelu li a {
	width:220px;
/*	background:#D8D8D8 url("/images/theme/menu_fleche_up2.jpg") no-repeat 215px center;*/
	background:#D8D8D8 url("0096_arrow_02.gif") no-repeat 210px center;
	-moz-border-radius:4px;
	border-bottom:1px solid #fff;
	color:#014f91;
	display:block;
	font-size:1em;
	padding:5px 0 5px 10px;
	text-decoration:none;
	font-weight:bold;	
}

.une h1					{margin-top:0;}

.une img				{float:right;margin:0 0 20px 20px;}

.col_actualites	.pubDate,
.une .pubDate			{display:none;}

.col_actualites			{width:240px;float:left;font-size:.9em;}
.col_agenda				{width:200px;float:right;font-size:.9em;}

.col_agenda	h1,
.col_actualites	h1		{margin:0;font-size:1.4em;background:none;}

.col_agenda	h2,
.col_actualites	h2		{text-indent:0;font-size:1.2em;background:none;}

.col_agenda	img,
.col_actualites	img		{display:none;}


.news_eclair h2			{font-weight:bold;font-size:1.2em;}

.agenda_link		{width:190px;clear:both;float:right;font-size:.8em;border: 1px solid #999;padding:8px 5px 0 5px ;}
.agenda_link p		{text-align:right;}

/*.add_fiche		{margin:10px 0;padding:10px;background:#d5e6f1;-moz-border-radius:4px;color:#004F9B;color:#333;}	*/
.add_fiche h2		{display:none;}
.add_fiche h3		{font-weight:bold;color:#333;font-size:1.4em;}



.gallery a			{padding:0;border:none!important;background:none!important;}

/* ======== */
/* = Page = */
/* ======== */


.pager							{clear:both;border-top:1px solid #ccc;margin-top:10px;padding-top:10px;font-size:1.2em;}

/*.pager a						{border:none!important;padding:2px 5px;}*/
.pager a.pager_default_page		{background:#CAE1ED;}
.pager a.pager_current_page 	{background:#002F67;font-weight:bold;color:#fff!important}

/*.pager 					{float:left;padding-left:20px;background:transparent url("/images/icons/resultset_previous.png") no-repeat 0 4px;}
.pager .next					{float:right;padding-right:20px;background:transparent url("/images/icons/resultset_next.png") no-repeat 100% 4px;}*/
				

.linksmore	{
	float:right;
	background:#f5f5f5;
    border:1px solid #dedede;
	border-bottom:1px solid #dedede!important;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
	color:#565656;
	padding:3px 5px 4px 22px;
	margin-bottom:10px;
	text-align:center!important;
	font-weight:bold;
	background:transparent url("resultset_next.png") no-repeat 5px 5px;
}

.linksmore a{
	border:none!important;
}


.boxrecommend		{position:absolute;top:0px;margin:20px 20px 0px 0px;width:460px;padding:10px;background:#ccc;-moz-border-radius:4px;}

#steps				{font-size:.9em;display:none;}

#alert				{position:relative;background:red;font-size:1.2em;color:#fff;padding:30px 30px 20px 30px;}
#alert p,
#alert p strong,
#alert a 			{color:#fff;}
#fermerietest		{position:absolute;top:20px;right:20px;}

/* ============= */
/* = catalogue = */
/* ============= */

/*#download a			{margin-top:10px;clear:right;color:#cc0000;text-align:center;font-size:10px;display:block;width:100px;float:right;border:1px #f6f6f6 solid;margin-left:20px;padding:90px 10px 5px 10px;background:transparent url("/images/PDF-logo.gif") no-repeat center 0;}*/
/*#download a			{margin-top:10px;color:#cc0000;text-align:center;font-size:12px;font-weight:bold;background:#E5E5E5;display:block;border:1px #D3D3D3 solid;margin:10px 50px;}*/

#info_panier {padding-top:30px;border: 4px solid #DEDEDE;position:relative;}
/*.panier{position:absolute;top:10px;right:10px;}

.panier a{
	display:block;
    float:right;
    margin:0;
    background-color:#f5f5f5;
    border:1px solid #dedede!important;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px; /* Links */
}*/

#info_panier .prix	{position:absolute;top:10px;left:10px;}



#button {
	display:block;
    float:right;
    margin:0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 8px 7px; /* Links */
}



#button img{
	margin-bottom:-5px;
	margin-right:5px;
}

#button a{
	border:none!important;
}

.moteurderecherche #main 		{width:670px!important;}
.moteurderecherche #rightbar	{display:none;}

/* =========== */
/* = Sondage = */
/* =========== */


.poll_element			{margin-bottom:.5em;padding:5px;}
.poll_element:hover		{background:#f6f6f6;}
.libelle 				{font-weight:bold;}
.libelle p 				{margin:0;}
.group_multi_radio		{}
.multi_radio			{display:inline;margin-right:20px;}
.multi_radio label		{font-weight:normal;}
.poll_warning			{font-weight:normal;color:#cc0000;}




#annonce_gal img		{width:135px;}

/* ========== */
/* = Divers = */
/* ========== */

.colleft				{float:left;width:50%}
.colright				{float:right;width:50%}



/* ============ */
/* = Annonces = */
/* ============ */

#contactAnnonce			{border: 1px solid #999;padding:10px;}



/* =========== */
/* = Vitrine = */
/* =========== */


.blocape h2				{background:transparent url("resultset_next.png") no-repeat 0 1px;text-indent:15px;color:#333;margin-top:10px;padding:0;font-size:15px;}
.blocape h2 span		{border-bottom:1px dotted #BDBDBD;}
.blocape h2 span:hover	{border-bottom:1px solid #BDBDBD;}
.blocape p				{background:transparent url("bullet_blue.png") no-repeat 10px 1px;padding:0;margin:0;padding-left:28px}

.ads_entry_summary h2	{background:transparent url("bullet_blue.png") no-repeat 10px 1px;padding:0;margin:0;padding-left:5px;font-size:12px;font-family:Arial;}

#change					{display:block;
    margin:0 0 10px 0 ;
    background:#f5f5f5 url("arrow_refresh.png") no-repeat 5px 6px;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:underline;
	text-align:left;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 5px 25px;
}

/*#btn_retour {
	display:inline;
	float:right;
    margin:0 0 10px 0 ;
    background:#f5f5f5 url("/images/icons/arrow_undo.png") no-repeat 5px 6px;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
	text-align:left;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 5px 25px;
}

#btn_retour a{
    text-decoration:none;
}*/


/* ============= */
/* = Catalogue = */
/* ============= */

#rightbar .menu_prod	{background:#ECECEC;padding:0;}
.menu_prod li			{border-bottom:1px solid #ccc;}
.menu_prod li:last-child{border-bottom:none}
.menu_prod a			{font-weight:bold;color:#333;font-size:11px;line-height:10px;padding:10px;display:block;height:auto;}
.menu_prod li.active a	{background:#ccc;}
.menu_prod a:hover		{background:#DADADA;}



#media_downloads .short_product2 {clear:left;border-bottom:none;border-left:none;border-right:none;position:relative;padding-right:125px;width:335px;background:none;}
#media_downloads .short_product2 img{display:block;float:left;margin:0 10px 0 0;border:none;}
#media_downloads .short_product2 h3{font-weight:normal;margin-top:0px;}
#media_downloads .boutonDown {position:absolute;top:0;right:0;display:block;width:112px;height:29px;text-indent:-9999px;background:transparent url("bouton_down.png") no-repeat right top;border:none;}

.short_product2{
padding:5px 10px;
text-align:left;
width:450px;
border: 1px solid #ccc;
margin:10px 0px;
padding-right:125px;width:335px;
}


#catalNav {margin:10px 0 0 0;border: 1px solid #999;padding:5px;}
#catalNav ul ul{padding: 0 0 0 10px;}
/*#catalNav li{font-size:15px;}*/
#catalNav li a{font-size:15px;color:#87A61D;font-weight:bold;}
#catalNav ul li{margin:5px 0;}
#catalNav ul li a{font-size:11px;padding:5px 0;color:#003F7D;font-weight:normal;background:transparent url("folder.png") no-repeat 0 3px;padding-left:20px;}
#catalNav ul li ul li a{background:transparent url("report.png") no-repeat 0 2px;}
#catalNav ul li.active,
#catalNav ul li.active ul li.active a{font-weight:bold;}
#catalNav ul li.active ul li a{font-weight:normal;color:#333;}

.deux_colonnes .textAndImages{
	border: 2px solid #EDEEED;
	text-align:center ;
	margin:5px;
	padding:5px 10px;
}

.deux_colonnes .textAndImages p{
	text-align: center;
	margin:0;
}

.deux_colonnes .textAndImages h3{
	margin:0;
}
.deux_colonnes .textAndImages h3 a{
	padding:0;
}
.deux_colonnes .textAndImages img{
	width:100px;
	border: 2px solid #E3E3E3;
	border-bottom: 2px solid #B9B9B9;	
	border-left: 2px solid #B9B9B9;		
}
.clear{display:none;}

.catalogue #article li{background:none;}



#media_downloads img.align-right{border: 2px solid #E3E3E3;
border-bottom: 2px solid #B9B9B9;	
border-left: 2px solid #B9B9B9;}

#media_downloads h3{
	clear:right;
}


/* ========== */
/* = Compte = */
/* ========== */

#account_address ul,
#account_address li{
	margin:0!important;
	padding:0!important;
	list-style-type:none!important;
	background:none;
}

#account_address ul dt{
	font-size:1.2em;
	font-weight:bold;
}

/* ========== */
/* = Panier = */
/* ========== */

/*#selections_cart #formcart a.supprimer {text-indent:-9999px;display:block;width:20px;background:transparent url("/images/icons/cross.png") no-repeat 0 0;border:none;}
input.updatecartsubmit{background:transparent url("/images/icons/arrow_refresh.png") no-repeat 7px center;font-weight: bold;}
input.updatecartsubmit:hover{background-color:#dff4ff;border:1px solid #c2e1ef;color:#336699;}
input.deletecartsubmit{background:transparent url("/images/icons/cancel.png") no-repeat 7px center;color:#d12f19;font-weight: bold;}
input.deletecartsubmit:hover{background-color:#fbe3e4;border:1px solid #fbc2c4;color:#d12f19;}
input.validcarsubmit{float:right;margin-top:20px;background:transparent url("/images/icons/tick.png") no-repeat 7px center;color:#529214;font-weight: bold;}
input.validcarsubmit:hover{background-color:#E6EFC2;border:1px solid #C6D880;color:#529214;}
*/
#steps_cart {font-size:1.2em;margin:5px 0;padding:5px 0;text-align: center;border: 2px solid #dfdfdf;}
#steps_cart strong{color:#cc0000;}


/* ================== */
/* = Petite annonce = */
/* ================== */

#field_38{
	width:200px!important;
}

/* ========= */
/* = Login = */
/* ========= */

#payment_module {clear:both;}
.condition_label {overflow: auto;height:100px;}
.condition_label p{font-size:0.8em;}

.boxcart{overflow:hidden;}

.address{
	width:205px;
	border: 2px solid #dfdfdf;
	padding:10px 10px 0;
	margin-top:10px;
}

.invoicing_address{
	float:left;
}

.delivery_address{
	float:right;
}


.uniForm .textfield, .uniForm select, .uniForm textarea{ border: 2px solid #dfdfdf; background:#fff; width:60%;}

.uniForm label { display: block; float: left; padding: 0; line-height: 100%; width: 39%; }

.uniForm .row {border-bottom: 1px solid #dfdfdf;padding:10px 0;}

#loginform,#subscribeform{
	overflow:hidden;
}


#cart_footer p{text-align:center;font-weight:bold;font-size:1.2em;color:#529214;}

#selections_cart #formcart a.supprimer {text-indent:-9999px;display:block;width:20px;background:transparent url("cross.png") no-repeat 0 0;border:none;}

input.updatecartsubmit{background:transparent url("arrow_refresh.png") no-repeat 7px center;padding-left:30px!important;}
.deletecartsubmit{float:left;background:transparent url("cancel.png") no-repeat 7px center;padding-left:30px!important;}
input.valid{clear:both;float:right;background:transparent url("tick.png") no-repeat 7px center;padding-left:30px!important;}
input.payment{clear:both;background:transparent url("creditcards.png") no-repeat 7px center;padding-left:30px!important;}
a.payment{clear:both;background:transparent url("email_open.png") no-repeat 7px center;padding-left:30px!important;}

#cybermut_form a.buttons{clear:both;}
a.user_add{background:transparent url("user_add.png") no-repeat 7px center;padding-left:30px!important;}
a.viewcart{display:block;background:#fff url("basket.png") no-repeat 7px center;padding-left:30px!important;}
a.add_basket{background:transparent url("basket_add.png") no-repeat 7px center;padding-left:30px!important;}
a.modifaddr{display:block;background:transparent url("page_white_edit.png") no-repeat 7px center;padding-left:30px!important;}
a.modif_basket{float:right;background:transparent url("basket_edit.png") no-repeat 7px center;padding-left:30px!important;}
a.print{background:transparent url("printer.png") no-repeat 7px center;padding-left:30px!important;}
a.retour{background:transparent url("arrow_undo.png") no-repeat 7px center;padding-left:30px!important;float:right;}
a.apercu{display:block;background:transparent url("page_white_acrobat.png") no-repeat 7px center;padding-left:30px!important;float:none;}
a.prev{float:left;padding-left:20px;background:transparent url("resultset_previous.png") no-repeat left center;}
a.next{float:right;clear:none;padding-right:20px;background:transparent url("resultset_next.png") no-repeat right center;}
a.add{float:right;background:transparent url("add.png") no-repeat 7px center;padding-left:30px!important;}
a.edit{background:transparent url("page_white_edit.png") no-repeat 7px center;padding-left:30px!important;margin-top:10px;}