p{
	font-family: Arial; 
	font-size: 11px;
	font-weight: normal;
	color: #666666;
}
	
input{
	font-family: Arial; 
	font-size: 10px;
	font-weight: normal;
	border: 1px solid #cccccc;
	color: #888888;
}

select{
	font-family: Arial; 
	font-size: 10px;
	font-weight: normal;
	border: solid 1px #cccccc;
	color: #888888;
}

/* ************* BOX MEIN WETTER *************** */

.meinwetter_eingabe{
   width: 209px;
   height: 19px;
   line-height: 16px;
}

.meinwetter_tabelle{
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	line-height: 16px;
}

.meinwetter_header{
    font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #dd0000;
	width: 292px;
	margin-left: 7px;
	padding: 8px 0px 8px 0px;
	border-bottom: solid 1px #e7e7e7;
}

.meinwetter_header a{
	text-decoration: none;
	color: #dd0000;
}

.meinwetter_header a:hover{
	color: #dd0000;
	text-decoration: underline;
}

.meinwetter_link{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	width: 120px;
	text-align: right;
	margin-left: 7px;
	padding: 8px 0px 8px 0px;
}

.meinwetter_link a{
	text-decoration: underline;
	color: #666666;	
}

.meinwetter_link a:hover{
	color: #dd0000;
	text-decoration: underline;
}

.meinwetter_box{
    width: 306px;
	height: 179px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #F5F5F5;
	background-image: url("http://www.bild.de/wetter/img/hg_meinwetter_home.png"); 
	background-position: left top;
	background-repeat: repeat-x;
}

.meinwetter_text{
	position: absolute;
	width: 292px;
	height: 68px;
	top: 66px;
	left: 7px;
	border-bottom: 1px solid #e5e5e5;
}

.meinwetter_suche{
	position: absolute;
	width: 292px;
	height: 30px;
	top: 135px;
	left: 7px;
	border-top: 1px solid #ffffff;
}

* html .meinwetter_suche{
	top: 134px;
}

.meinwetter_symbol2{
	position: absolute; top: 58px; left: 225px; 
}

.meinwetter_symbol{
	position: absolute; top: 60px; left: 250px; 
}

.meinwetter_name{
    font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	color: #888888;
	position: absolute; top: 38px; left: 7px;
	width: 290px;
	white-space: nowrap;
	overflow: hidden;
}

