/* styles pour le layer d'avertissement -18 ans */

#AffichageAverti18ans 
{
	Z-INDEX: 105;
	LEFT: 0px;
	TOP: 0px; 
	VISIBILITY: hidden; 
	POSITION: absolute;  
	WIDTH: 0px; 
	HEIGHT: 0px; 
	background-color : #000000; 
	color:#ffffff; 
	filter : alpha(opacity=90); 
	-moz-opacity : 0.9; 
	opacity : 0.9;
}

#Iframepopup_layer_Averti18ans
{
	Z-INDEX: 104; 
	LEFT: 0px; 
	VISIBILITY: hidden; 
	WIDTH: 0px; 
	POSITION: absolute; 
	TOP: 0px; 
	HEIGHT: 0px;
}

#popup_layer_Averti18ans
{
	Z-INDEX: 106; 
	LEFT: 0px; 
	TOP: 0px; 
	VISIBILITY: hidden; 
	margin:0 auto; 
	height:0px; 
	width:0px; 
	border:2px solid #ce0f42; 
	position:absolute; 
	color:#111010;
}

#popup_layer_Averti18ans h1 
{
	text-align:center; 
	font-size:42px; 
	font-weight:bold; 
	font-family: Arial, Helvetica, sans-serif; 
	margin:10px 0 0 0;
}

#popup_layer_Averti18ans p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px; 
	margin-left:20px;
}

#popup_layer_Averti18ans a.BtnFermer
{
	position:absolute;
	height:14px; 
	width:15px; 
	display:block; 
	top:4px; 
	right:4px;
}

#popup_layer_Averti18ans a.BtnOUI
{
	display:block; 
	position:absolute; 
	bottom:1px; 
	left:40px; 
	width:216px; 
	height:127px;
}

#popup_layer_Averti18ans a.BtnNON
{
	display:block; 
	position:absolute; 
	bottom:1px; 
	right:40px; 
	width:216px; 
	height:127px;
}

/* fin styles pour le layer d'interro-stock sur la fiche produit */
