/*********** Surcouf ***********/
/* colonne de droite */
#SecondCol a{
	color:#000;
}
#SecondCol ul.redarrow li a{
	color:#E61C08;
	text-decoration: underline;
}
#SecondCol h5{
	color:#000;
	font-size:13px;
	font-weight:bold;
	margin-bottom:3px;
}
#SecondCol .block_promo{
	border-top: 5px solid #fff;
}
#SecondCol .block_promo a{
	display:block;
}
#SecondCol .block_promo a img{
	display:block;
}
/* Mise en forme generique */
#SecondCol h3{
	position: relative;
	color:#fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;
	padding: 2px 0 2px 9px;
}

h3 span.linkCollapse{
 	color: #FFF;
	cursor: pointer;
}

h3 span.collapseOpen, h3 span.collapseClose{
	background-position: 215px 3px;
	background-repeat: no-repeat;
	display: block;
	margin-right: 5px;
	width:225px;
}
h3 span.collapseOpen{
	background-image: url(http://www.surcouf.com/img/B2C/common/right_Arrow_Open.gif);
}

h3 span.collapseClose{
	background-image: url(http://www.surcouf.com/img/B2C/common/right_Arrow_Close.gif);
}
#SecondCol h4{
	font-size: 11px;
}

#SecondCol .block_gray, #SecondCol .block_blue, #SecondCol .block_pink{
	border-top: 5px solid #fff;
}

#SecondCol .block_gray h3{
	background: url(http://www.surcouf.com/img/B2C/common/bg_titreright_gray.gif) no-repeat;
}

#SecondCol .block_pink h3{
	background: url(http://www.surcouf.com/img/B2C/common/bg_titreright_pink.gif) no-repeat;
}

#SecondCol .block_blue h3{
	background: url(http://www.surcouf.com/img/B2C/common/bg_titreright_gray.gif) no-repeat;
}

#SecondCol .block_gray{
	background-color: #DBDFE1;
}
#SecondCol .block_pink{
	background-color: #EBB5F9;
}
#SecondCol .block_pink .Block_prod{	
	background-color: transparent;
	padding: 5px 0;
	height: 90px;
	width:222px;
	margin-bottom:5px;
}

#SecondCol .block_blue{
	background-color: #DBDFE1;
}

#SecondCol .Content_block{
	padding:7px 9px 10px 9px;
}

#SecondCol .Content_block input, #SecondCol .Content_block select{
	width:175px;
	margin: 2px 4px 2px 0;
	vertical-align: middle;
}

#SecondCol .Content_block .bt_ok{
	background: url(http://www.surcouf.com/img/B2C/common/bg_btok.gif) no-repeat;
	border:none;
	color:#E61C08;
	font-weight: bold;
	width:25px;
	height: 18px;
	padding-bottom:2px;
	text-align: center;
	/*margin-right:8px;*/
	cursor: pointer;
}

#SecondCol .Content_block ul li, #SecondCol .Content_block p a{
	background: url(http://www.surcouf.com/img/B2C/common/arrow_red.gif) 0 4px no-repeat;
	padding-left: 9px;
}

#SecondCol .Content_block ul li a, #SecondCol .Content_block p a{
	text-decoration: underline;
}

/* Fin Mise en forme generique */
/* Mise en forme specifique */
/* Magasins */
#SecondCol .block_magasins{
	background: url(http://www.surcouf.com/img/B2C/common/bg_magasins.gif) top right no-repeat;
}

#SecondCol .block_magasins p.content_mag{
	width:150px;
}
#SecondCol .block_magasins form{
	margin-bottom:5px;
}
/* Carte */
#SecondCol .Block_carte{
	background: url(http://www.surcouf.com/img/B2C/common/bg_carte.gif) bottom right no-repeat;
}

/* carte title*/
#SecondCol  .Block_carte .carteTitle{
	padding-right:40px;
	font-size:13px;
	color:#E61C08;
}

/* perso */
#SecondCol .Block_personnage{
	background: url(http://www.surcouf.com/img/B2C/MonCompte/Perso-gris.jpg) bottom right no-repeat;
}
/* France */
#SecondCol .Block_France{
	background: url(http://www.surcouf.com/img/B2C/MonCompte/France-gris.jpg) top right no-repeat;
}
/* Haut Parleur */
#SecondCol .Block_HautPaleur{
	background-image: url(http://www.surcouf.com/img/B2C/MonCompte/haut_parleur-gris.jpg);
	background-repeat: no-repeat;
	background-position: right 10px;
}

/* super promo */
#SecondCol .Block_superPromo{
	background: url(http://www.surcouf.com/img/B2C/common/bg_superpromo.jpg) top left no-repeat;
	/*padding-top:60px;*/
	padding-bottom:0;
}

#SecondCol .Block_superPromo .Block_prod{
	margin-top:60px;
}

/* Custom */
#SecondCol .Block_custom{
	height:40px;
	background: url(http://www.surcouf.com/img/B2C/common/bg_custom.gif) bottom right no-repeat;
}
#SecondCol .Block_custom select{
	width:140px;
}

/* forum */
#SecondCol .Block_forum{
	background: url(http://www.surcouf.com/img/B2C/common/bg_forum.gif) bottom right no-repeat;
}

/* Contact */
#SecondCol .Block_contact{
	background: url(http://www.surcouf.com/img/B2C/common/bg_contact.gif) bottom right no-repeat;
}

/* Fin Mise en forme specifique */

/* Liste prduits */
/*Selection critere*/
.Selection_criter{
	background: url(http://www.surcouf.com/img/B2C/common/bg_selcriters.jpg) top no-repeat #fff;
	width: 220px;
	border:1px solid #9FA8B0;
	padding: 10px;
	margin-bottom:10px;
	voice-family: "\"}\"";
	voice-family:inherit;
		width: 198px;
	voice-family: "\"{\"";
}

#SecondCol .Content_block .Selection_criter ul li{
	background: none;
	padding-left: 9px;
	text-align: right;
}

#SecondCol .Selection_criter ul{
	margin-bottom:5px;
}

#SecondCol .Content_block .Selection_criter ul li div{
	width: 200px;
}

#SecondCol .Content_block .Selection_criter ul li div span{
	float:left;
}

#SecondCol h4.criter_open{
	background: url(http://www.surcouf.com/img/B2C/common/arrow_black_open.gif) 0 6px no-repeat;
	padding-left:11px;
}

#SecondCol h4.criter_close{
	background: url(http://www.surcouf.com/img/B2C/common/arrow_black_close.gif) 0 3px no-repeat;
	padding-left:11px;
}

#SecondCol h4.criter_open img, #SecondCol h4.criter_close img{
	vertical-align: -2px;
	margin-left:2px;
}

#SecondCol h4.criter_open, #SecondCol h4.criter_close{
	margin-bottom:2px;
}
/* Fin Liste produits */

/* Block produit */
h4.best{
	padding: 5px 0 5px 18px;
	background: url(http://www.surcouf.com/img/B2C/common/picto_right_best.gif) 0 4px no-repeat;
}
h4.star{
	padding: 5px 0 5px 18px;
	background: url(http://www.surcouf.com/img/B2C/common/picto_right_star.gif) 0 4px no-repeat;
}
h4.heart{
	padding: 5px 0 5px 18px;
	background: url(http://www.surcouf.com/img/B2C/common/picto_right_coeur.gif) 0 8px no-repeat;
}
#SecondCol .Block_prod{	
	background-color: #fff;
	padding: 5px 0;
	width:222px;
	margin-bottom:5px;
}

#SecondCol .Block_prod .visu_prod{
	float:left;
	width:100px;
	height:80px;
}

#SecondCol .Block_prod .desc_prod a{
	color:#E61c08;
}

#SecondCol .Block_prod .desc_prod p{
	margin-bottom:5px;
}
/* Block produit */


/* Aide au choix */
#SecondCol .block_aide{
	background: url(http://www.surcouf.com/img/B2C/common/bg_right_aide.gif) no-repeat;
	height:126px;
	width:240px;
	padding:26px 10px 0 30px;
	voice-family: "\"}\"";
	voice-family:inherit;
		height:100px;
		width:200px;
	voice-family: "\"{\"";
}

#SecondCol .block_aide p{
	color:#fff;
	margin-bottom:10px;
	line-height: 12px;
}

#SecondCol .block_aide select{
	width: 180px;
}
/* Fin Aide au choix */

/* Responsable magasin */
#SecondCol .block_responsable{
	border:1px solid #E61C08;
	padding: 4px;
	width:240px;
	background: url(http://www.surcouf.com/img/B2C/common/bg_right_rouge.jpg) no-repeat #FEF6F5;
	voice-family: "\"}\"";
	voice-family:inherit;
		width:230px;
	voice-family: "\"{\"";
}

#SecondCol .block_responsable .content_responsable{
	float:left;
	width:150px;
	margin-left:5px;
	display:inline;
}

#SecondCol .block_responsable h3{
	color:#000;
	padding-left:0;
}

#SecondCol .block_responsable p{

}

#SecondCol .block_responsable img{
/*	float:left;*/
	width:68px;
	border:1px solid #fff;
}
/* Fin */

#SecondCol .block_orange{
	border-top:5px solid #fff;
	background-color: #FFA700;
	color: #fff;
	text-align: center;
	padding: 7px 0 10px 0;
}

#SecondCol .block_orange h3{
	padding-left:0;
	padding-bottom:5px;
}

#SecondCol .block_orange span{
	font-weight: bold;
	font-size: 13px;
}

#SecondCol .block_orange a{
	color: #fff;
	text-decoration: underline;
}

#MainContainer #Container #SecondCol .DateMonCompte {
	color: #000000;
	text-decoration: none;
	width: 100%;
	text-align: right;
	margin: 37px 0 3px 0;

}
#MainContainer #Container #Content .ligneprod .desc_prod .linkProdsConsult {
	color: #E61C08;
	text-decoration: underline;
}
