/*********** Surcouf ***********/
/* Selecteur */
*{
	margin:0;
	padding:0;
	}

select, input, caption, label, span, tr, td, table, textarea {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:11px;
	}

select, input[type=text] , input[type=password] , textarea {
    border:1px solid #C0CAD8;
    margin:1px;
    }

img, fieldset, table{
   border: 0;
	}

form, p, ul, fieldset{
   margin: 0;
   padding: 0;
	}

input, label{
	vertical-align: middle;
	}

ul{
	list-style: none;
	}

hr {
  	visibility: hidden;
  	clear: both;
  	border:0;
	}
/* paragraphe */
.pbottom5{
	margin-bottom:5px;
	}

.pbottom10{
	margin-bottom:10px;
	}

.pbottom15{
	margin-bottom:15px;
	}
.pbottom20{
	margin-bottom:20px;
	}
	
.ptop5{
	margin-top:5px;
	}

.ptop10{
	margin-top:10px;
	}

.ptop15{
	margin-top:15px;
	}
.ptop20{
	margin-top:20px;
	}
.uppercase{ 
	text-transform: uppercase; 
 }
/* Fin paragraphe */

/* positionnement */
.floatleft{
	float:left;
}

.floatright{
	float:right;
}

.aligncenter{
	text-align: center;
}

.alignright{
	text-align: right;
}

.right{
	float:right
}

.left{
	float:left
}
/* Fin positionnement */

/* Debut affichage */

.displayNone{
	display:none;
}

.displayBlock{
	display:block;
}

.displayInlineTable{
	display: inline-table;
}

.visibleHid{
	visibility: hidden;
}

.visibleShow{
	visibility: visible;
}


/* Fin affichage */

/* Fin Selecteur */
