/* colonne centre accueil */
#colgauche #a-la-une {background-color:#eff1f4;overflow:hidden;background-image:url(fond-col-centre.gif);background-position:100% 0%;background-repeat:repeat-y;}

/* titres et haut de page accueil */
table.ttitre {font-size:100%;border-collapse:collapse; border:0;left:30px;position:relative;width:800px; margin-bottom:0;}
table.ttitre td {padding:0; margin:0;}
table.ttitre td.titre {font-size:1em;background-image:url(fond-rouge.gif);background-position:2.2em 0em;background-repeat:repeat-y;}
table.ttitre h2 {font-size:1.2em;color:#FFF;margin:0 0 0 1.2em;letter-spacing:0.05em;}
table.ttitre td.arrondi {background-color:#E61E02; text-align: right; vertical-align: top;}
table.ttitre td.surtitre {
	vertical-align:bottom;
	color:#4b4b4b; 
	font-weight:bold;
	text-align:right;
	padding-right:0.8em;
	font-size:0.9em;
	width:400px;
	_width:auto;
	border-right:1px solid #4c4c4c;
}
*+html table.ttitre td.surtitre{position:relative;}
table.ttitre #ic-o {float:none;position:relative;top:0;left:0; text-align:right;_border-right:1px solid #000;}
table.ttitre #ic-o img {position:relative;right:0px !important;_right:-2px !important;}

/* titres cartouche infos et dossiers */
table.ttitreh2 td.titre {font-size:1em;background-image:url(fond-rouge.gif);background-position:2em 0em;}
table.ttitreh2 td.arrondi {background-color:#E61E02; text-align: right; vertical-align: top;}
table.ttitreh2 h2 { margin:0 0 0 1em}

/* styles accueil */
img.a-la-une {float:left;margin-right:1em;position:relative;}
table.mtop { margin-top:1.5em;}
/* bloc aujourd'hui */
#contenu {border-top-color:#4c4c4c !important;}
#colgauche { border-right-color:#4c4c4c;}
#colgauche #a-la-une h3 {font-size:1.9em;font-weight:900;margin:0.2em 0 0.2em 0;color:#E61E02;position:relative;}
#colgauche #a-la-une h3 a { color:#e51f00;text-decoration: none;}
#colgauche #a-la-une h3 a:hover { text-decoration: underline;}
#colgauche #a-la-une .date {position:relative;}
#colgauche #a-la-une span {position:relative;}
#colgauche #a-la-une .premier {margin-left:205px;padding-right:1.5em;position:relative;padding-bottom:10px;}
#colgauche #a-la-une .premier5 { position:relative}
#colgauche #a-la-une .premier5 div p.texte {margin-left:205px;}
#colgauche #a-la-une .premier5 { width:375px !important;width:376px; /*border-right: solid 1px #b2b2b2;*/ float:left;}
#colgauche #a-la-une .premier5 img { margin-bottom:0.6em;}
#colgauche #a-la-une .premier5 .rappel-rubrique{font-size:1.2em;margin-left:205px;}
#colgauche #a-la-une .premier5 h3 {margin-left:205px; font-size:1.5em;}
.droite5 {border-left: solid 1px #b2b2b2;} 

.premier5, .droite5 {margin-bottom:0 !important; margin-bottom:0em;background-color:#eff1f4;}
.premier5 div, .droite5 div { padding-bottom:0 !important;}

#colgauche #a-la-une .premier5 p.lien5 {display:block;float:right;margin: 0 45px 0 0 !important;clear:both;}
p.lien5 { padding:0 0 0 0; margin-bottom: 1em !important}

div.a-la-une {border-collapse:collapse;}
div.a-la-une div {vertical-align:top;margin:0;padding:0 0 0 0.6em; float: left;}
div.a-la-une div div {float:none;}
div.a-la-une .rappel-rubrique {font-size:1.1em;padding-left:0;}
div.a-la-une div h3,#colgauche #a-la-une .droite5 h3 {font-size:1.3em !important;}
.rubtete,#colgauche #a-la-une .droite5 .rubtete {font-size:1.4em;}
.rappel-rubrique {border-bottom:0;}

#colgauche #a-la-une .droite5 {float:left; padding:0 0.5em 0 0;margin-left:0; width:178px !important;}
#uned5,#une5 { padding-bottom: 0.2em;}
#colgauche #a-la-une .droite5 img { margin-left:10px;}
#colgauche #a-la-une .droite5 .rappel-rubrique { font-size:1em; margin-left:10px}
#colgauche #a-la-une .droite5 h3,#colgauche #a-la-une .droite5 p {margin-left:10px}

/* 3 colonnes bloc principal */
.cont-une{border-top:solid 1px #B2B2B2;margin-top:1em;}
.index5 {clear:left; margin-top:0 !important}
.index5  .a-la-une { margin-top:0; padding-top:0;}
.cont-une .a-la-une #alun1{border-right:solid 1px #B2B2B2;width:180px;}
.cont-une .a-la-une #alun2{width:179px !important;border-right:solid 1px #B2B2B2;}
.cont-une .a-la-une #alun3{width:179px !important;padding-right:1em;}
#alun1 p,#alun2 p,#alun3 p {margin:0; padding:0;}
#alun1 ,#alun2 ,#alun3 {position:relative;}
#pun1 ,#pun2 ,#pun3 { margin:0; padding:0;}
#alun1 h3,#alun2 h3,#alun3 h3{font-size:1.1em !important;}
#alun1 .rappel-rubrique,#alun2 .rappel-rubrique,#alun3 .rappel-rubrique{ margin-top:0.75em; font-size:0.9em;}
.unelire { margin-bottom:0.8em; margin-top:0.5em; display: block; color: #000; font-weight:700; font-size:0.9em;}
.unelire:hover { text-decoration: underline; }
#une-bas .unelire { margin-top:0;}
#alun1p{border-right:solid 1px #B2B2B2;width:186px; padding-bottom:0.8em;}
#alun2p{width:170px;border-right:solid 1px #B2B2B2; padding-bottom:0.8em;}
#alun3p{width:170px;padding-right:1em; padding-bottom:0.8em;}

/* bloc fil d'informations */
#colgauche #f-inf {clear:both;margin-top:0;border-top:solid 1px #B2B2B2;background-color:#eff1f4;/*background-image:url(../images/fond-col-centre.gif);background-position:100% 0%;background-repeat:repeat-y;*/}
a.tout {display:block; text-align:center; margin:1em 0 0.5em 0; font-weight:700;padding:5px 0 0.5em 0.5em;}
h3.une {font-size:1.3em !important;}
div.f-inf {width:98%;clear:both !important;background-color:#eff1f4;float:left;}
div.f-inf h3 {background-image: url(puce-fd-gris.gif);background-position:0% 50%;background-repeat:no-repeat;padding-left:16px;margin:0.8em 0 0.8em 0;}
div.f-inf div {width:48%;margin:0;padding:0; float:left;}
div.f-inf div.large {width:100%;margin:0;padding:0; float:left;}
div.f-inf ul {list-style-image:url(fil-infos-puce.gif);margin-left:0;padding-left:0;padding: 0 0 5px 0;}
div.f-inf ul li {margin-left:16px;padding-left:0;margin-bottom:7px;font-size:0.9em;margin-right:0.6em;}
div.f-inf ul>li {margin-left:14px;}
div.f-inf ul li span {color:#3D4D80!important;font-weight:bold;}
div.f-inf ul li span.date {color:#000!important;font-weight:normal;}
div.f-inf ul li a {color:black;}
div.f-inf h4 {display:inline;font-size:1em;}
div.f-inf ul.actus { margin-top:1.5em;}
div.f-inf ul.actus li { margin-top:1em;}
div.une-plus {border-right:solid 1px #B2B2B2;width:30% !important;float:left;margin:0;padding:0 0 0 0.6em;}

/* 2 colonnes fil infos */
table.tf-inf {border-collapse:collapse;width:108%;}
table.tf-inf ul {list-style-image:url(puce-blc-fd-gris.gif);}
table.tf-inf td {vertical-align:top;}
table.tf-inf td.cel2 { border-bottom: solid 1px #fff; background-color:#dee4e9;}

/* bloc dossiers */
#une-bas .a-la-une {border-top:solid 1px #000;background-color:#eff1f4;float:left;width:569px;}
/* #une-bas h3 {position:relative;top:18px !important;top:20px;left:0;width:300px;color:#FFF;font-size:1.4em;padding-left:1em;background-image:url(../images/onglet-autres-infos.gif)url(../images/onglet-infos.gif);background-repeat:no-repeat;background-position:1.6em 0em;} */
/* #une-bas h3 span {color:#E71E00} */
#une-bas a:hover {text-decoration:none;}
#une-bas a.accroche { color:#e94c35;}
#une-bas .tout {background-color:#EFF2F2;margin-right:1em;}
#une-bas h3 {margin:0}
#une-bas>div>div>div>h3 { font-size:1.3em !important;}
.tout { display:block; text-align:center; margin-bottom: 1em; font-weight: 700;}
a.tout { color:#556e72;}



/* 3 colonnes bloc bas */
/*#alb1,#alb2,#alb3 {width:175px; padding:0;margin:0;}
#alb3{padding-right:1em;}
#alb1 div,#alb2 div {border-right: solid 1px #b2b2b2; padding-bottom:0.2em;}
#alb1 div span,#alb2 div span,#alb3 div span { font-weight:bold; font-size:1.2em; }
#albs1 img,#albs2 img,#albs3 img {margin-bottom:0.6em;}
#albs1 h3,#albs2 h3,#albs3 h3 {margin-bottom:0.4em;}*/


#alb1 {width:310px; padding:0;margin:0;}
#alb1 div { padding:0 0 0 0!important ;}
#albs1 span.titre{font-weight:bold;font-size:14px!important;display:block;margin:0px 0 10px 0!important;}
#albs1 img {margin:-10px 10px 0 0;float:left;}
#albs1 .unelire {text-align:right;margin:10px 45px 0pt 0pt;}
#une-bas div#albs1 h3 {color:#3d4d80;font-size:12px!important;margin:10px 0 0.4em 0!important;}

#alb2 {width:258px; padding:0;margin:0;float:left;background:#dfe4ea;border-bottom: solid 1px #fff;}
#alb3 {width:245px; padding:0;margin:0;float:left;background:#dfe4ea;border-bottom: solid 1px #fff;}
#alb3{padding-right:1em;}

#albss2 img,#albss3 img {margin:0px 20px 0 0;float:left;}
#une-bas div#albss2 h3 {color:#3d4d80;font-size:12px!important;margin:10px 0 0.4em 0!important;background:transparent url(puce-fdgris-ptt.gif) no-repeat 62px;}
#une-bas div#albss3 h3 {color:#3d4d80;font-size:12px!important;margin:10px 0 0.4em 0!important;background:transparent url(puce-fdgris-ptt.gif) no-repeat 62px;}

#alb2 div {border-left: solid 1px #b2b2b2;padding:0 0px 0 0px!important ;float:left;}
#alb3 div {border-left: solid 1px #b2b2b2;padding:0 0 0 0!important ;float:left;}
#alb1 div span,#alb2 div span,#alb3 div span { font-weight:bold; font-size:1.2em; }
#albs1 img,#albss2 img,#albss3 img {margin-bottom:0em;}
#albss2 h3,#albss3 h3 {margin-bottom:0.4em;}


/* #une-bas a.unelire { clear: both; display: block !important; margin-bottom:1em !important;} */
