@page {size:portrait;margin:0.5cm 0cm;}

/** {overflow:visible; position:relative;}*/

#esp-h, #tetiere, #menu, #menu-g, #avnav, .haut-d, #ic-o, #pied-page {display: none !important;}
#menu-g {width:0 !important;padding:0 !important;margin:0 !important;}
#contenu {position:relative;float:right;width:790px !important;margin-left:10px;font-size:0.8em;margin-top:0;border-top:none;}
#conteneur {width:17cm;width:100%; border:0 !important;border-top:solid 1px #b2b2b2;margin:0 !important;clear:both; margin:0 0 1cm 0;}
body>#conteneur {width:100%}
#conteneur #top {margin-left:0 !important; padding:0 0 0.1cm 0 !important;position:relative;height:1cm;left:0 !important;clear:both;}
#conteneur #contenu {margin:0 !important;}

#conteneur #contenu #coldroite {width:30% !important; margin:0 !important;}
#conteneur #contenu #colgauche {width:65% !important; margin:0 !important;}

#conteneur #contenu>#coldroite {position:relative;left:4% !important;}
#conteneur #contenu>#colgauche {width:68% !important;position:relative;left:4% !important;}

#conteneur #contenu #coldroite {display:none;visibility:hidden;}
#conteneur #contenu #colgauche {border:none;height:auto;}

#navig-basse, #nv-bs { display:none;}

form { display:none;}
.foto-g {float:left;}

table.ttitreh2 {margin:18px 0 0 120px;}
table.ttitre {width:96% !important;}
table.ttitre td.surtitre {border-right:0;}
.cont-une .a-la-une #alun1,.cont-une .a-la-une #alun2,.cont-une .a-la-une #alun3 {width:30% !important;}
#alb1,#alb2,#alb3 {width:30% !important;}

.lst-actu,.lst-aide,.lst-sport,.lst-faq,.lst-galerie,.lst-quiz {margin:0 0.4cm 0 0 !important;}  

#adr {margin:0;padding:0.5cm 0 0 7cm !important;width:18cm;height:2cm;text-align:left;background-image:url(http://www.iledefrance.fr/images/logo-print.gif); background-repeat:no-repeat; background-position:0 0;border:0 !important;}


#sportLT #clpgch {width:65%;}
#sportLT #clpdte {width:25%;}

#lst-actu {width:96%;}
#lst-actu .liste .prg-rtt {width:80%;}
#lst-actu #f-actu-g {width:55%;}
#lst-actu #f-actu-d {width:20%;}
#lst-actu .lst-actu { width:98%}

/*
#divtheme #cgctre {width:50% !important;}
#divtheme #cdctre {width:15% !important;}
*/