#facebox * { outline:0px; }
#facebox a { text-decoration:none; }
#facebox a:hover { text-decoration:underline; }
#facebox .b { background:url(b.png); }
#facebox .tl { background:url(corner.png) no-repeat 0% 0%; }
#facebox .tr { background:url(corner.png) no-repeat 100% 0%; }
#facebox .bl { background:url(corner.png) no-repeat 0% 100%; }
#facebox .br { background:url(corner.png) no-repeat 100% 100%; }
#facebox { position:absolute;top:0;left:0;z-index:3000000;text-align:left;font:11px "lucida grande",tahoma,verdana,arial,sans-serif; }
#facebox .popup { font-size:11px;background:none;padding:0px;position: relative;text-align:left;width:auto; }
#facebox .popup form { padding:0px;width:auto; }
#facebox table { border-collapse:collapse; }
#facebox .main table { border-collapse:separate; }
#facebox td { border-bottom:0;padding:0; }
#facebox .body { padding:0px;background:#fff; }
#facebox .content h1 { font:13px "lucida grande",tahoma,verdana,arial,sans-serif;padding:0px;margin:0px;font-weight:bold; }
#facebox .content h3 { font:15px "lucida grande",tahoma,verdana,arial,sans-serif;padding:0px;margin:0px;font-weight:bold; }
#facebox h2 { font:26px "lucida grande",tahoma,verdana,arial,sans-serif;padding:0px;margin:0px;font-weight:bold; }
#facebox input[type=text], #facebox input[type=password] { padding:3px;width:200px;font-size:11px; }
#facebox textarea { padding:1px;font-size:11px;overflow:auto; }
#facebox .loading { text-align:center; }
#facebox .image { text-align:center; }
#facebox img { border:0px;margin:0px; }
#facebox .header .titleb { text-align:left;float:left; }
#facebox .content .main { padding:10px; }
#facebox .header .closeb { text-align:right;float:right; }
#facebox .header .close_image { background:transparent url(close.png) no-repeat 1px 0px;margin:2px 2px 0px 0px; }
#facebox .header .close_image:hover { background:transparent url(close.png) no-repeat -12px 0px; }
#facebox .desc, #facebox .desc a { font-size:9px; }
#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br { height:10px;width:10px;overflow:hidden;padding:0; }
#facebox_overlay { position: fixed;top:0px;left:0px;height:100%;width:100%; }
.facebox_hide { z-index:-100; }
.facebox_overlayBG { background-color:#000;z-index:2999999; }
* html #facebox_overlay { position:absolute;height:expression(document.body.scrollHeight>document.body.offsetHeight?document.body.scrollHeight:document.body.offsetHeight+'px'); }

#facebox label { display: block;padding:3px 0px; }
#facebox label input[type='radio'], #facebox label input[type='checkbox'] { float: left; height: 16px; vertical-align: middle; }
#facebox label span { line-height: 16px; }

#facebox .facebook a { color:#6D84B4; }
#facebox .facebook .content { border: 1px solid #555555;border-top:0px;color:#333; }
#facebox .facebook input[type=text], #facebox .facebook input[type=password] { border:1px solid #AAA;background-color:#F2F2F2;padding:3px;width:200px;font-size:11px; }
#facebox .facebook input[type=text]:focus, #facebox .facebook input[type=password]:focus { background-color:#FAFAFA; }
#facebox .facebook textarea { background-color:#F2F2F2;border:1px solid #AAA; }
#facebox .facebook textarea:focus { background-color:#FAFAFA; }
#facebox .facebook .header { padding:5px;margin:0px;background-color:#6D84B4;border:1px solid #3B5998; }
#facebox .facebook .footer { padding:15px;margin:5px 0px 0px 0px;background-color:#F2F2F2;border-top:1px solid #CCCCCC;text-align:right; }
#facebox .facebook .footer input.valid { padding:2px;background-color:#617AAC;border:1px solid #29447E;color:#FFF;font-weight:bold;font-size:11px;margin-left:5px;cursor:pointer; }
#facebox .facebook .footer input.cancel {padding:2px;background-color:#DFDFDF;border:1px solid #999999;color:#333;font-weight:bold;font-size:11px;margin-left:5px;cursor:pointer; }
#facebox .facebook .header .titleb { color:#FFFFFF;font-size:14px;font-weight:bold; }
#facebox .facebook .desc { color:#888; }
#facebox .facebook .avatar { background-color:#ADC4E6 !important;border:1px solid #899EC7; }
#facebox .facebook .synchro { background-color:#617AAC;border:1px solid #29447E;color:#FFFFFF;cursor:pointer;font-size:11px;font-weight:bold;padding:2px; }

#facebox .clubic a { color:#C50000; }
#facebox .clubic .content { border: 1px solid #555555;border-top:0px;color:#333; }
#facebox .clubic input[type=text], #facebox .clubic input[type=password] { border:1px solid #AAA;background-color:#F2F2F2;padding:3px;width:200px;font-size:11px; }
#facebox .clubic input[type=text]:focus, #facebox .clubic input[type=password]:focus { background-color:#FAFAFA; }
#facebox .clubic textarea { background-color:#F2F2F2;border:1px solid #AAA; }
#facebox .clubic textarea:focus { background-color:#FAFAFA; }
#facebox .clubic .header { padding:5px;margin:0px;background-color:#D51917;border:1px solid #7F0E0B; }
#facebox .clubic .footer { padding:15px;margin:5px 0px 0px 0px;background-color:#F2F2F2;border-top:1px solid #CCCCCC;text-align:right; }
#facebox .clubic .footer input.valid { padding:2px;background-color:#D51917;border:1px solid #7F0E0B;color:#FFF;font-weight:bold;font-size:11px;margin-left:5px;cursor:pointer; }
#facebox .clubic .footer input.cancel {padding:2px;background-color:#DFDFDF;border:1px solid #999999;color:#333;font-weight:bold;font-size:11px;margin-left:5px;cursor:pointer; }
#facebox .clubic .header .titleb { color:#FFFFFF;font-size:14px;font-weight:bold;background:transparent url(clubic.png) no-repeat left center;padding-left:21px; }
#facebox .clubic .desc { color:#888; }
#facebox .clubic .avatar { background-color:#ADC4E6 !important;border:1px solid #899EC7; }
#facebox .clubic .synchro { background-color:#D51917;border:1px solid #7F0E0B;color:#FFFFFF;cursor:pointer;font-size:11px;font-weight:bold;padding:2px; }

#facebox .jvfr a { color:#018BAF; }
#facebox .jvfr .content { border: 1px solid #555555;border-top:0px;color:#333; }
#facebox .jvfr input[type=text], #facebox .jvfr input[type=password] { border:1px solid #AAA;background-color:#F2F2F2;padding:3px;width:200px;font-size:11px; }
#facebox .jvfr input[type=text]:focus, #facebox .jvfr input[type=password]:focus { background-color:#FAFAFA; }
#facebox .jvfr textarea { background-color:#F2F2F2;border:1px solid #AAA; }
#facebox .jvfr textarea:focus { background-color:#FAFAFA; }
#facebox .jvfr .header { padding:5px;margin:0px;background-color:#018BAF;border:1px solid #014156; }
#facebox .jvfr .footer { padding:15px;margin:5px 0px 0px 0px;background-color:#F2F2F2;border-top:1px solid #CCCCCC;text-align:right; }
#facebox .jvfr .footer input.valid { padding:2px;background-color:#018BAF;border:1px solid #014156;color:#FFF;font-weight:bold;font-size:11px;margin-left:5px;cursor:pointer; }
#facebox .jvfr .footer input.cancel {padding:2px;background-color:#DFDFDF;border:1px solid #999999;color:#333;font-weight:bold;font-size:11px;margin-left:5px;cursor:pointer; }
#facebox .jvfr .header .titleb { color:#FFFFFF;font-size:14px;font-weight:bold;background:transparent url(jvfr.gif) no-repeat left center;padding-left:21px; }
#facebox .jvfr .desc { color:#888; }
#facebox .jvfr .avatar { background-color:#A9D1FF !important;border:1px solid #899EC7; }
#facebox .jvfr .synchro { background-color:#018BAF;border:1px solid #014156;color:#FFFFFF;cursor:pointer;font-size:11px;font-weight:bold;padding:2px; }

#facebox .nouvellestar a { color:#4BB4E3; }
#facebox .nouvellestar table, #facebox .nouvellestar td { color:#333;border:0px !important; }
#facebox .nouvellestar .content { border: 1px solid #555555;border-top:0px;color:#333; }
#facebox .nouvellestar input[type=text], #facebox .nouvellestar input[type=password] { border:1px solid #AAA;background-color:#F2F2F2;padding:3px;width:200px;font-size:11px; }
#facebox .nouvellestar input[type=text]:focus, #facebox .nouvellestar input[type=password]:focus { background-color:#FAFAFA; }
#facebox .nouvellestar textarea { background-color:#F2F2F2;border:1px solid #AAA; }
#facebox .nouvellestar textarea:focus { background-color:#FAFAFA; }
#facebox .nouvellestar .header { padding:5px;margin:0px;background-color:#4BB4E3;border:1px solid #2A708F; }
#facebox .nouvellestar .footer { padding:15px;margin:5px 0px 0px 0px;background-color:#F2F2F2;border-top:1px solid #CCCCCC;text-align:right; }
#facebox .nouvellestar .footer input.valid { padding:2px;background-color:#D92972;border:1px solid #A31654;color:#FFF;font-weight:bold;font-size:11px;margin-left:5px;cursor:pointer; }
#facebox .nouvellestar .footer input.cancel {padding:2px;background-color:#DFDFDF;border:1px solid #999999;color:#333;font-weight:bold;font-size:11px;margin-left:5px;cursor:pointer; }
#facebox .nouvellestar .header .titleb { color:#FFFFFF;font-size:14px;font-weight:bold;background:transparent url(nouvellestar.png) no-repeat left center;padding-left:21px; }
#facebox .nouvellestar .desc { color:#888; }
#facebox .nouvellestar .avatar { background-color:#ADC4E6 !important;border:1px solid #899EC7; }
#facebox .nouvellestar .synchro { background-color:#D92972;border:1px solid #A31654;color:#FFFFFF;cursor:pointer;font-size:11px;font-weight:bold;padding:2px; }

#facebox .m6 a { color:#62788D; }
#facebox .m6 table, #facebox .m6 td { color:#333;border:0px !important; }
#facebox .m6 .content { border: 1px solid #555555;border-top:0px;color:#333; }
#facebox .m6 input[type=text], #facebox .m6 input[type=password] { border:1px solid #AAA;background-color:#F2F2F2;padding:3px;width:200px;font-size:11px; }
#facebox .m6 input[type=text]:focus, #facebox .m6 input[type=password]:focus { background-color:#FAFAFA; }
#facebox .m6 textarea { background-color:#F2F2F2;border:1px solid #AAA; }
#facebox .m6 textarea:focus { background-color:#FAFAFA; }
#facebox .m6 .header { padding:5px;margin:0px;background-color:#62788D;border:1px solid #404E59; }
#facebox .m6 .footer { padding:15px;margin:5px 0px 0px 0px;background-color:#F2F2F2;border-top:1px solid #CCCCCC;text-align:right; }
#facebox .m6 .footer input.valid { padding:2px;background-color:#62788D;border:1px solid #404E59;color:#FFF;font-weight:bold;font-size:11px;margin-left:5px;cursor:pointer; }
#facebox .m6 .footer input.cancel {padding:2px;background-color:#DFDFDF;border:1px solid #999999;color:#333;font-weight:bold;font-size:11px;margin-left:5px;cursor:pointer; }
#facebox .m6 .header .titleb { color:#FFFFFF;font-size:14px;font-weight:bold; }
#facebox .m6 .desc { color:#888; }
#facebox .m6 .avatar { background-color:#ADC4E6 !important;border:1px solid #899EC7; }
#facebox .m6 .synchro { background-color:#62788D;border:1px solid #404E59;color:#FFFFFF;cursor:pointer;font-size:11px;font-weight:bold;padding:2px; }

#facebox .turbo a { color:#C50000; }
#facebox .turbo .content { border: 1px solid #555555;border-top:0px;color:#333; }
#facebox .turbo input[type=text], #facebox .turbo input[type=password] { border:1px solid #AAA;background-color:#F2F2F2;padding:3px;width:200px;font-size:11px; }
#facebox .turbo input[type=text]:focus, #facebox .turbo input[type=password]:focus { background-color:#FAFAFA; }
#facebox .turbo textarea { background-color:#F2F2F2;border:1px solid #AAA; }
#facebox .turbo textarea:focus { background-color:#FAFAFA; }
#facebox .turbo .header { padding:5px;margin:0px;background-color:#D51917;border:1px solid #7F0E0B; }
#facebox .turbo .footer { padding:15px;margin:5px 0px 0px 0px;background-color:#F2F2F2;border-top:1px solid #CCCCCC;text-align:right; }
#facebox .turbo .footer input.valid { padding:2px;background-color:#D51917;border:1px solid #7F0E0B;color:#FFF;font-weight:bold;font-size:11px;margin-left:5px;cursor:pointer; }
#facebox .turbo .footer input.cancel {padding:2px;background-color:#DFDFDF;border:1px solid #999999;color:#333;font-weight:bold;font-size:11px;margin-left:5px;cursor:pointer; }
#facebox .turbo .header .titleb { color:#FFFFFF;font-size:14px;font-weight:bold; }
#facebox .turbo .desc { color:#888; }
#facebox .turbo .avatar { background-color:#ABABAB !important;border:1px solid #ABABAB; }
#facebox .turbo .synchro { background-color:#D51917;border:1px solid #7F0E0B;color:#FFFFFF;cursor:pointer;font-size:11px;font-weight:bold;padding:2px; }

#facebox .ozap a { color:#125D84; }
#facebox .ozap .content { border: 1px solid #555555;border-top:0px;color:#333; }
#facebox .ozap input[type=text], #facebox .ozap input[type=password] { border:1px solid #AAA;background-color:#F2F2F2;padding:3px;width:200px;font-size:11px; }
#facebox .ozap input[type=text]:focus, #facebox .ozap input[type=password]:focus { background-color:#FAFAFA; }
#facebox .ozap textarea { background-color:#F2F2F2;border:1px solid #AAA; }
#facebox .ozap textarea:focus { background-color:#FAFAFA; }
#facebox .ozap .header { padding:5px;margin:0px;background-color:#3FABDC;border:1px solid #2C6884; }
#facebox .ozap .footer { padding:15px;margin:5px 0px 0px 0px;background-color:#F2F2F2;border-top:1px solid #CCCCCC;text-align:right; }
#facebox .ozap .footer input.valid { padding:2px;background-color:#3FABDC;border:1px solid #2C6884;color:#FFF;font-weight:bold;font-size:11px;margin-left:5px;cursor:pointer; }
#facebox .ozap .footer input.cancel {padding:2px;background-color:#DFDFDF;border:1px solid #999999;color:#333;font-weight:bold;font-size:11px;margin-left:5px;cursor:pointer; }
#facebox .ozap .header .titleb { color:#FFFFFF;font-size:14px;font-weight:bold;background:transparent url(ozap.gif) no-repeat left center;padding-left:21px; }
#facebox .ozap .desc { color:#888; }
#facebox .ozap .avatar { background-color:#ADC4E6 !important;border:1px solid #899EC7; }
#facebox .ozap .synchro { background-color:#3FABDC;border:1px solid #2C6884;color:#FFFFFF;cursor:pointer;font-size:11px;font-weight:bold;padding:2px; }