/*******************************************

CSS commune pour le header et le footer 

*******************************************/

/* ***************************************** GENERAL */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, hr, em, img, strong, dl, dt, dd, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; }
img { border: 0; }
li { list-style:none; }
input, textarea, select { font-size:100%; font-family: inherit; }
a { text-decoration:none; cursor:pointer; outline:0 none; color:#000; }
a:hover { text-decoration:underline; }
label { cursor:pointer; }
/* clearfix */
.cf:after, #middle:after, #menu:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.cf, #middle, #menu { display:inline-block; }
/*hides from IE mac \*/
* html .cf, * html #middle, * html #menu { height:1%; }
.cf, #middle, #menu { display:block; }
/*end hides from IE mac*/
.left { text-align:left; }
.right { text-align:right; }
.center { text-align:center; }
.justify { text-align:justify; }
.fL { float:left; }
.fR { float:right; }
.jCarouselParent { position:relative; left:-5000px; }
.swImg { position:relative; overflow:hidden; display:block; }
.swImg span { position:absolute; top:0; left:0; overflow:hidden; background-repeat:no-repeat; display:block; }
label.erreur { color:#ED381B !important; }
input.erreur, textarea.erreur { border:1px solid #ED381B !important; }

/* jcarousel */
.jcarousel-container { position:relative; }
.jcarousel-clip { z-index:2; padding:0; margin:0; overflow:hidden; position:relative; }
.jcarousel-list { z-index:1; overflow:hidden; position:relative; top:0; left:0; }
.jcarousel-list li, .jcarousel-item { float:left; list-style:none; }
.jcarousel-next { z-index:3; cursor:pointer; }
.jcarousel-prev { z-index:3; cursor:pointer; }
.jcarousel-prev-disabled { filter:alpha(opacity=35)!important; -moz-opacity:.35!important; opacity:0.35!important; }
.jcarousel-next-disabled { filter:alpha(opacity=35)!important; -moz-opacity:.35!important; opacity:0.35!important; }
/* ***************************************** HEADER */

#page-index h1 { margin-left:10px; padding:5px 5px 0 0; font-size:18px; font-weight:bold; color:#FFFFFF; text-transform: uppercase; font-family:arial }
#page-index h1 a { color:#FFFFFF }

#header-m6 { margin:0 auto -2px; text-align:left; font-size:11px; zoom:1; background:url("http://www.m6.fr/style/images/header_body.jpg") no-repeat scroll top center #000000 }
/*.page-m6fr #header-m6{background:none; }*/
#header-m6 #header-m6-inner {width:1000px;margin:0 auto;position:relative; }
#header-m6 #header-line1 { height:128px; overflow:hidden; background:url(http://www.m6.fr/img/bg-header-line1.png) no-repeat bottom right;}
#header-m6 #header-line2 { margin-left:-154px !important; height:31px; overflow:hidden; }
#header-m6 #header-line1, #header-m6 #header-line2, #header-m6 #subMenu { overflow:hidden; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif!important;}
#header-m6 #pub768 { color:white; text-align:center;}
#header-m6 #pub-1000 {position:relative; height:90px; color:white; text-align:center;}
#header-m6 #logoM6 { position:absolute!important; top:20px; left:18px; width:130px; height:85px; text-align:center; z-index:1000; background:url(http://www.m6.fr/style/images/sprite_header.gif) no-repeat 0 0 }
#header-m6 #info_header { position:absolute; top:50px; left:194px; font-size:22px; font-family:arial; font-weight:bold }
#header-m6 #info_header span#first { color:#a4bcc9; text-transform: uppercase;}
#header-m6 #info_header span#second { color:#FFFFFF; text-transform: uppercase;}
#header-m6 #carouLogo { padding:15px 0 0 150px; float:left; }
#header-m6 #headerRight { float:right; margin:60px 0 0 0; width:492px; height:66px; }
#header-m6 #headerRight ul#header_buttons { float:right; }
#header-m6 #headerRight ul#header_buttons li a{ color:#FFFFFF }
#header-m6 #headerRight ul#header_linksM6 { padding-left:68px }
#header-m6 #searchForm { display:block; float:left; margin-top:2px }
#header-m6 #searchForm label { float:left; padding:5px 5px 0; font-weight:bold; color:#FFFFFF }
#header-m6 #searchForm #keyword { float:left; background:url(http://www.m6.fr/style/images/bg_search.jpg) no-repeat; width:375px; height:21px; padding:2px 5px; border:0; }
#header-m6 #searchForm .inputSubmit {float:left; width:35px; height:25px; border:none; background:url(http://www.m6.fr/style/images/sprite_header.gif) no-repeat -145px -57px}
#header-m6 #headerRight li { display:block; float:left; color:#a4bcc9 }
#header-m6 #headerRight li a{ text-decoration:none; color:#a4bcc9 }
#header-m6 #btnRegister a{ float:left; margin-top:-1px; width:144px; height:24px; text-align:center; line-height:19px; color:#FFFFFF; background:url(http://www.m6.fr/style/images/sprite_header.gif) no-repeat -145px -29px;  }
#header-m6 #btRSS a { float:left; width:20px; height:18px; }
#header-m6 #btRSS span { width:20px; height:18px; background:url(http://www.m6.fr/style/images/sprite_header.gif) no-repeat -195px -57px; line-height:0; font-size:0; }
#header-m6 .btnHeader a { display:block; width:72px; height:19px; line-height:19px; background:url(http://www.m6.fr/style/images/sprite_header.gif) no-repeat -145px 0; color:white; text-align:center; font-size:9px; }
.clearer { clear:both; margin-top:5px }
/* menu */
#header-m6 #menuM6 { width:700px; float:left; height:34px; overflow:hidden; padding-left: 156px; border-right: 0px; /*background:transparent url(/style/images/bg_menu.png) no-repeat 0 0*/}
#header-m6 #menuM6 li { float:left; padding-top:7px; text-align:center; height:36px; }
#header-m6 #menuM6 li a { display:block; height:36px; position:relative; font-size:15px; font-family:arial; font-weight:bold; text-decoration:none; color:#FFFFFF }
#header-m6 #menuM6 li a:hover span, #header-m6 .containerCol a:hover span { text-decoration: none}
#header-m6 #menuM6 li a span { background-image: url('footer-header-m6.css');}
#header-m6 #menuM6 #item-0 a, #header-m6 #menuM6 #item-0 a span { width:157px; }
#header-m6 #menuM6 #item-1 a, #header-m6 #menuM6 #item-1 a span { width:119px; }
#header-m6 #menuM6 #item-2 a, #header-m6 #menuM6 #item-2 a span { width:138px; }
#header-m6 #menuM6 #item-3 a, #header-m6 #menuM6 #item-3 a span { width:112px; }
#header-m6 #menuM6 #item-0 a span { background-position:0 0; }
#header-m6 #menuM6 #item-1 a span { background-position:-157px 0; }
#header-m6 #menuM6 #item-2 a span { background-position:-276px 0; }
#header-m6 #menuM6 #item-3 a span { background-position:-414px 0; }
#header-m6 #menuM6 #item-0:hover a span, #header-m6 #menuM6 #item-0.hover a span, #header-m6 #menuM6 #item-0.current a span { background-position:0 -36px; }
#header-m6 #menuM6 #item-1:hover a span, #header-m6 #menuM6 #item-1.hover a span, #header-m6 #menuM6 #item-1.current a span { background-position:-157px -36px; }
#header-m6 #menuM6 #item-2:hover a span, #header-m6 #menuM6 #item-2.hover a span, #header-m6 #menuM6 #item-2.current a span { background-position:-276px -36px; }
#header-m6 #menuM6 #item-3:hover a span, #header-m6 #menuM6 #item-3.hover a span, #header-m6 #menuM6 #item-3.current a span { background-position:-414px -36px; }
#header-m6 #liensTransversaux { position:relative; float:right; width:298px; height:34px; color:#fff; font-size:10px; text-align:center; overflow:hidden; }
#header-m6 #liensTransversaux a { display:inline; color:#fff; padding:0 2px; line-height:36px; font-family:arial; font-size:11px }
#header-m6 #liensTransversaux .jcarousel-container { width:268px; padding:0 15px; overflow:hidden; margin:0 auto; }
#header-m6 #liensTransversaux .jcarousel-clip { width:268px; }
#header-m6 #liensTransversaux .jcarousel-item { position:relative; width:268px; text-align:center; }
#header-m6 #liensTransversaux .jcarousel-next { position:absolute; display:block; top:9px; left:283px; width:15px; height:20px; background :url(http://www.m6.fr/style/images/sprite_header.gif) no-repeat -227px -70px; filter:alpha(opacity=80); -moz-opacity:.80; opacity:0.80; }
#header-m6 #liensTransversaux .jcarousel-prev { position:absolute; display:block; top:9px; left:2px; width:14px; height:20px; background: url(http://www.m6.fr/style/images/sprite_header.gif) no-repeat -215px -70px; filter:alpha(opacity=80); -moz-opacity:.80; opacity:0.80; }
#header-m6 .focusProgramme ul { width:253px; height:111px; overflow:hidden; margin:0 auto; }
/* subMenu */
#header-m6 #loadingMenu { display:none; position:absolute; left:486px; top:200px; width:32px; height:32px; background:url(http://www.m6.fr/img/loading.gif) left top no-repeat; }
#header-m6 #subMenu { position:relative; display:none; width:1000px; margin-bottom:0; background:#819bac url(http://www.m6.fr/img/bg-sub-menu.png) repeat-x; padding:0 3px 3px 0; height:428px; overflow:hidden; }
#header-m6 #subMenuLeft { float:left; color:white; padding:20px 0 10px 0; width:697px; overflow:hidden; }
#header-m6 p {color: white!important;}
#header-m6 #subMenuLeft a { color:white; }
#header-m6 #subMenuLeft a:hover, #header-m6 #subMenuLeft li:hover a, #header-m6 #subMenuLeft li.hover a { color:#2d3e4e; text-decoration:none; }
#header-m6 .tri { padding:0 0 0 5px;}
#header-m6 .tri li { display:inline; }
#header-m6 .tri li a { padding:0 5px; }
#header-m6 .tri .ui-tabs-selected a { color:#2d3e4e!important; font-weight:bold; }
#header-m6 .col { float:left; width:211px; padding:0 10px; margin:20px 0 0 0; border-right:1px solid #a1b4c1; height:357px; }
#header-m6 .last { border-right:none; }
#header-m6 .col ul { margin-bottom:16px; }
#header-m6 .col .h4, #header-m6 .col .h4-vide { background:url(http://www.m6.fr/img/bg-sub-menu-titres.png) repeat-x; padding:0 10px; font-weight:normal; line-height:17px; margin:0 -10px; }
#header-m6 .col .h4-vide {display:block;margin-left:-11px;}
#header-m6 .col .plusInfos { display:block; background:#293a4a; padding:3px; line-height:11px; height:35px; overflow:hidden; }
#header-m6 .col .plusInfos img { display:block; float:left; margin-right:3px; }
#header-m6 .col .plusInfos a { color:white!important; }
#header-m6 .col .plusInfos a:hover { text-decoration:underline; }
#header-m6 .semainier { position:relative; width:686px; margin:0 auto 0 auto; }
#header-m6 .semainier .jcarousel-container { position:relative; width:648px; height:30px; overflow:hidden; padding:0 15px; }
#header-m6 .semainier .jcarousel-next { width:15px; height:36px; background:url(http://www.m6.fr/img/btn-focus.gif) no-repeat right; position:absolute; right:0px; top:0px; filter:alpha(opacity=80); -moz-opacity:.80; opacity:0.80; }
#header-m6 .semainier .jcarousel-prev { width:15px; height:36px; background:url(http://www.m6.fr/img/btn-focus.gif) no-repeat left; position:absolute; left:0px; top:0px; filter:alpha(opacity=80); -moz-opacity:.80; opacity:0.80; }
#header-m6 .semainier .jcarousel-clip { width:648px; }
#header-m6 .semainier .jcarousel-item { width:90px; margin-right:3px; }
#header-m6 .semainier .jcarousel-item a { background:#a3b4be; text-align:center; display:block; width:90px; height:24px; padding:3px 0; color:#283848; line-height:12px; }
#header-m6 .semainier .jcarousel-item a:hover, #header-m6 .semainier .jcarousel-item .on { background:url(http://www.m6.fr/img/bg-remontee-fixe.png) repeat-x; color:white!important }
#header-m6 #sub-menu2 .col { margin:15px 0 0 0; background:#819bac url(http://www.m6.fr/img/bg-sub-menu.png) 0 -65px repeat-x; /* BACKGROUND TRICKY BUG FADE IN FOR IEx */ }
#header-m6 .horaires a { font-size:12px; line-height:20px; }
#header-m6 .horaires .nolink { font-size:12px; line-height:20px; color:white; font-weight:normal;}
#header-m6 .horaires span { color:black; margin-right:5px; font-weight:bold; }
#header-m6 .miseEnAvant li { display:block; width:200px; height:113px; overflow:hidden; margin:0 0 5px 0; padding:0; position:relative;line-height:16px; }
#header-m6 .miseEnAvant li a, #header-m6 .miseEnAvant li .h2 { display:block; overflow:hidden; color:white; font-weight:bold; }
#header-m6 .miseEnAvant li a:hover { color:white; }
#header-m6 .miseEnAvant li img { width:200px; }
#header-m6 .miseEnAvant li .h2 { display:block; background:#0e161d; width:200px; overflow:hidden; filter:alpha(opacity=70); opacity:0.70; -moz-opacity:0.70; padding:1px 3px; }
#header-m6 .miseEnAvant li .h2 span { display:inline-block; margin-right:5px; font-size:12px; }
#header-m6 .miseEnAvant li .text { position:absolute; bottom:0; left:0; }
#header-m6 .miseEnAvant li .h3 { display:block; width:190px; background:#0e161d; padding:3px 5px; filter:alpha(opacity=70); opacity:0.70; -moz-opacity:0.70; color:#fff; font-size:11px; line-height:14px; font-weight:normal; }
#header-m6 #subMenuRight { float:right; width:300px; padding-top:25px; }
#header-m6 #remonteeFixe { color:white; margin-bottom:10px; background:#273747 url(http://www.m6.fr/img/bg-remontee-fixe.png) repeat-x; padding:5px; width:290px; }
#header-m6 #remonteeFixe .h2 { background:url(http://www.m6.fr/img/t-alaune.png) no-repeat scroll 0 0; height:0; line-height:21px; overflow:hidden; padding:21px 0 0 0; width:91px; }
#header-m6 #remonteeFixe img { float:left; margin:0 10px 0 0; }
#header-m6 #remonteeFixe .h2 img {float:none;margin:0;}
#header-m6 #remonteeFixe .titre {margin:0; padding:0; font-size:11px; font-weight:normal; color:#FFFFFF; text-transform:none; }
#header-m6 #remonteeFixe a {color:white;}
#header-m6 #fermerSousMenu a { display:block; text-align:right; color:white; text-transform:uppercase; line-height:20px; background: url(http://www.m6.fr/img/bt-close.gif) no-repeat right; padding:8px 25px 8px 0; }
#skin { zoom:1; }
/* ***************************************** FOOTER */
#footer { margin:0 auto; width:1000px; height:115px; background: transparent url(http://www.m6.fr/style/images/bg_footer.jpg) repeat-y 0 0 !important }
#globalMetabarre #footer { margin:0 auto; width:1000px; height:115px; background:none !important }
#footer_all { background: transparent url(http://www.m6.fr/style/images/bg_footer.jpg) repeat-y 0 0; color:#000000; }
#footer-m6 { background: transparent url(http://www.m6.fr/style/images/bg_footer.jpg) repeat-y 0 0 !important; color:#000000; }
#footer a, #footer_all a, #footer-m6 a { color:#FFFFFF; }
#footer ul, #footer_all ul, #footer-m6 ul {    text-align:center;}
#footer li, #footer_all li, #footer-m6 li {    display:inline;    margin:0 2px; color:#FFFFFF}
#footer-contextuel { text-align:center; padding:10px; font-size:11px; font-weight:normal; }
#footer-contextuel span { padding:0 10px; }
#footer-contextuel a {    color:#FFFFFF !important;}
#footer-contextuel ul {
    list-style-type: none;
    padding:0;
    margin:0;
}
#footer-contextuel li {
    display:inline;
    padding:4px;
}
#footer-groupe { text-align:center; margin-bottom:10px; font-size:11px; font-weight:normal;}
#footer-groupe li { display:inline; }
#footer-groupe li a { text-align:left; display:inline-block; padding:4px 10px; height:26px; background:transparent url(http://www.m6.fr/style/images/bg_footer_groupe.png) no-repeat 0 0; text-decoration:none;  color:#FFFFFF!important; margin:0 2px;}
#footer-groupe li a img { vertical-align:middle; margin-right:5px; display:inline-block; }
#footer-groupe li a:hover {  }
#footer-corporate { height:26px; line-height:26px; text-align:center; color:#fff; font-size:10px; background-image: url('footer-header-m6.css'); }
#footer-corporate li { display:inline; }
#footer-corporate a { color:#fff!important; padding:0 15px; }
/********************************************* thickbox */
#TB_window { font: 12px Arial, Helvetica, sans-serif; color: #333333; }
#TB_secondLine { font: 10px Arial, Helvetica, sans-serif; color:#666666; }
#TB_overlay { position: fixed; z-index:1001; top: 0px; left: 0px; height:100%; width:100%; }
.TB_overlayMacFFBGHack { background:url(http://www.m6.fr/style/macFFBgHack.png) repeat; }
.TB_overlayBG { background-color:#000; filter:alpha(opacity=75); -moz-opacity: 0.75; opacity: 0.75; }
* html #TB_overlay { /* ie6 hack */ position: absolute; height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');}
#TB_window { position: fixed; background: #ffffff; z-index: 1002; color:#000000; display:none; border: 4px solid #525252; text-align:left; top:50%; left:50%; }
* html #TB_window { /* ie6 hack */ position: absolute; margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');}
#TB_window img#TB_Image { display:block; margin: 15px 0 0 15px; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; border-top: 1px solid #666; border-left: 1px solid #666; }
#TB_caption { height:25px; padding:7px 30px 10px 25px; float:left; }
#TB_closeWindow { height:25px; padding:11px 25px 10px 0; float:right; }
#TB_closeAjaxWindow { padding:7px 10px 5px 0; margin-bottom:1px; text-align:right; float:right; }
#TB_ajaxWindowTitle { float:left; padding:7px 0 5px 10px; margin-bottom:1px; }
#TB_title { background-color:#e8e8e8; height:27px; }
#TB_ajaxContent { clear:both; padding:2px 15px 15px 15px; overflow:auto; text-align:left; line-height:1.4em; }
#TB_ajaxContent.TB_modal { padding:15px; }
#TB_ajaxContent p { padding:5px 0px 5px 0px; }
#TB_load { position: fixed; display:none; height:13px; width:208px; z-index:1003; top: 50%; left: 50%; margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */ }
* html #TB_load { /* ie6 hack */ position: absolute; margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');}
#TB_HideSelect { z-index:1000; position:fixed; top: 0; left: 0; background-color:#fff; border:none; filter:alpha(opacity=0); -moz-opacity: 0; opacity: 0; height:100%; width:100%; }
* html #TB_HideSelect { /* ie6 hack */ position: absolute; height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');}
#TB_iframeContent { clear:both; border:none; margin-bottom:-1px; margin-top:1px; _margin-bottom:1px; }
