div.accordion {
	margin-bottom: 20px;
	border: 1px solid #B7BBBC;
	border-bottom: 0;
	position: relative;
	}
div.accordionItem-top,
div.accordionItem-bottom {
	font-size: 0;
	}
div.accordion ul.accordionToggle {
	background: #FFF url(accordion_bg.jpg) repeat-x bottom;
	cursor: pointer;
	padding: 10px;
	position: relative;
	list-style-type: none;
	height: 25px;
	overflow: hidden;
	}
div.accordion ul.accordionToggle li {
	float: left;
	vertical-align: middle;
	}
div.accordion ul.accordionToggle li.arrow {
	background: url(accordion_sprite.gif) no-repeat 0 0;
	width: 20px;
	height: 20px;
	}
div.accordion ul.accordionToggleActive {
	background-image: none;
	background-position: bottom;
	background-repeat: repeat-x;
	}
div.accordion ul.accordionToggleActive li.arrow {
	background: url(accordion_sprite.gif) no-repeat 0 -21px;
	}
ul.accordionToggle li.tabTitle {
	font-size: 18px;
	padding: 0 10px;
	display: inline;
	}
ul.accordionToggle li.preview h2{
	padding-left: 10px;
	display: inline;
	}
ul.accordionToggle li.tabTitle,
ul.accordionToggle li.preview,
ul.accordionToggle li.preview h2 {
	color: #000;
	line-height: 22px;
	}
ul.accordionToggle li.preview h2 {
	font-size: 12px;
	font-weight: normal;
	padding-left: 0;
	float: left;
	}
div.accordionContent {
	background: #FFF url(accordion_bg.jpg) repeat-x bottom;
	color: #C4BAB1;
	overflow: hidden;
	padding: 0 10px;
	width: 314px;
	}
div.accordionContent h1,
div.accordionContent h2,
div.accordionContent h3,
div.accordionContent h4,
div.accordionContent h5,
div.accordionContent h6,
div.accordionContent p {
	color: #C4BAB1;
	}
div.accordionContent a {
	color: #011369;
	}
div.accordion div.module {
	background: transparent;
	border: 0;
	margin: 0 0 5px;
	padding-top: 0;
	}
div.accordion li.preview div.weather1 {
	padding: 0;
	}
div.accordion li.preview div.weather65 div#icon img {
	width: 50px;
	}
div.accordion li.preview div.weather65 div#icon p#currentconditions-label,
div.accordion li.preview div.weather65 div#label,
div.accordion li.preview div.weather65 div#data p#wind-level,
div.accordion li.preview div.weather65 div#data p#dewpoint-level,
div.accordion li.preview div.weather65 div#data p#humidity-level,
div.accordion li.preview div.weather65 div#data p#visbility-level,
div.accordion li.preview div.weather65 div#data p#barometer-level {
	display: none;
	}
div.accordion li.preview div.weather65 div#data {
	margin-left: 70px;
	}
div.accordion div.weather65 div#icon img {
	margin-top: -5px;
	}
div.accordion div.weather65 div#conditions {
	height: 1px;
	}
div.accordion li.sponsorContainer {
	float: right;
	}
div.accordion li.sponsorContainer span.sponsortitle {
	float: left;
	position: relative;
	top: 15px;
	}