/* Columnist */

#columnist .rail {
	padding: 3px;
	}
#columnist div.columnist-bio h3 {
	font-size:18px;
}
#columnist h3.title {
	text-transform:uppercase;
	font-size:18px;
}
#columnist div#columnist-info h2 {
	font-size:22px;
	margin-bottom:5px;
}
#columnist div#columnist-lead  {
	margin-bottom:15px;
}
#columnist .rail img.photo {
	float:left;
	margin-bottom:10px;
	margin-right:5px;
}
#columnist .rail h4 {
	padding: 10px 0;
	}
#columnist .rail  ul.recent-columns li {
	list-style-type: none;
	margin-bottom:15px;
	list-style-position: outside;
	padding-top: 15px;
}
#columnist .rail h3.columnist-recent-lead {
	font-size: 24px;
}
#columnist .rail img.columnist-image {
	float:right;
}
#columnist .rail #columnist-info {
	margin-bottom: 20px;
}
#columnist .rail div#columnist-info {
	overflow:hidden;
}
#columnist #module-secondary-content div.columnist-bio {
	padding-bottom:10px;
}
#columnist #module-secondary-content .columnist-bio p {
	font-size:12px;
} 
#module-secondary-content {
	background-color:#FFFFFF;
	float: right;
	padding:0 0 25px 90px;
	width: 198px;
	}
#module-secondary-content li {
	line-height: 14px;
	margin-bottom: 11px;
	list-style-type: none;
	}
#module-related-links h4 { 
	margin: 0; 
	}
 #module-related-links ul li{
    list-style-position:outside !important;  
    display:inline;
    float:left; 
    padding:3px;
    vertical-align:middle;
     width:190px; 
    
 }
  #module-related-links ul li img{
   display:inline; 
   float:left;
   vertical-align:middle;
   padding-right:5px;
  }
 #module-related-links li {
    margin:0px;
     display:inline; 
 }
  #module-related-links a{
    float:left;
     display:inline; 
 }
 
/* Columnist Bio */

#columnist-bio-body {
	background: #FFF;
	padding: 0;
	margin: 0;
	}
#columnist-bio-body #header {
	width: auto;
	}
#columnist-bio-body #masthead {
	margin: 0;
	position: static;
	}
#columnist-bio-logo {
	border: 0;
	}
#columnist-bio-body #content {
	float: none;
	margin: 0;
	padding: 0;
	width: auto;
	}
#columnist-bio {
	padding: 10px;
	margin: 0;
	width: auto;
	}
#columnist-bio-name {
	font-size: 22px;
	margin: 15px 0;
	}
#columnist-bio-hbio {
	margin: 15px 0 0;
	}
#columnist-bio-p {
	margin: 10px 0 0;
	}
#columnist-bio br {
	line-height: 10px;
	}