div.email-form {
	padding: 10px;
	}
div.email-form form p {
	padding: 5px 0px;
	}
div.email-form p span.tip {
	font-size: 10px;
	}
div.email-form div.captcha-content {
	margin: 10px 0;
	}
div.email-form input.captcha-input {
	margin-top: 10px;
	}
div.captcha-image img {
	border: 1px solid #EEF1F1;
	margin-top: 10px;
	}
div.email-form label {
	font-size: 11px;
	display: inline-block;
	width: 60px;
	padding-right: 10px;
	font-weight: normal;
	white-space: nowrap;
	}
div.email-form textarea {
	width: 100%;
	height: 100px;
	}
div.email-form p span.tip input {
	width: auto;
	}
div.email-form div.submit {
	text-align: right;
	}
div.email-form div.submit input.submit {
	background: #3E667D;
	color: #FFF;
	border: 0;
	padding: 3px;
	font-size: 10px;
	}		
.email-form h3 {
	color: #063640
	}
.custom-form {
	padding: 5px;
	}
#email-form,
.custom-form#article {
	clear: left;
	}
#email-form-thumbnail {
	float: left;
	margin-right: 5px;
	font-size: 0;
	line-height: 0;
	}
div#topRightNarrow div#content { width:334px; }

/* style for the expanded email form ("Flex Form") */

div.email-form #email-flexform-fields label {
	width: auto;
	padding-right: 0;
	}
	
div.email-form .form-field-required {
	font-weight: bold;
	font-size: 13px;
}
div.registerPop div.email-form input#fromaddress,
div.registerPop div.email-form input#fromname{ 
	width:200px !important; 
	 
}
div.registerPop div.email-form textarea{
	height:50px;
}
