div#footer {margin: 0px 0; padding: 10px;}
div#footer div#siteOverview {padding-bottom: 10px;}
div#footer div#siteOverview ul{width: 160px; float: left;}
div#footer div#siteOverview ul li ul{padding-top: 0px;}
div#footer div#siteOverview ul li ul li a.mainOverviewLink,
div#footer div#siteOverview ul li a.mainNav{font-size: 20px; line-height: 40px;}
div#footer div#siteOverview ul li a{font-weight: normal; font-size: 12px;}
div#footerContainer {display:inline-block; width:100%;}
div#footer div#footerlogo {float:left;}
div#footer div#footertext {float:right;}
div#footer div#footertext ul.links {padding-bottom: 3px;}
div#footer div#footertext ul.links li { display: inline; padding: 0px 4px; font-weight: normal; border-right: 1px solid #3a3939; }
div#footer div#footertext ul.links li.firstMenuItem {padding-left: 0px;border-left: none;}
div#footer div#footertext ul.links li.lastMenuItem {border-right: 0px solid #3a3939;}
div#footer div#footertext ul.links li a {color: #3a3939; font-weight:normal; white-space:nowrap;}

div.family {text-align: center;}