div#classBarNav {
	width:980px;
	font-size:12px;
	}
div#classBarNav ul.classBarNavLink {
	list-style-type:none;
	float:right;
	padding:3px 0;
	}
div#classBarNav ul.classBarNavLink li {
	float:left;
	padding:0 8px;
	}
div#classBarNav ul.classBarNavLink li.lastMenuItem {
	border-right:0;
	}
div#classBarNav ul.classBarNavMember {
	list-style-type:none;
	float:left;
	padding:3px 5px;
	}
div#classBarNav ul.classBarNavLink a {
	text-transform:uppercase;
	}
div#headerPromo {
	height:60px;
	overflow:hidden;
	padding-top:10px;
	width:100%;
	}
div#headerPromo .holder {
	padding-left:10px;
	width:726px;
	float:left;
	}
div#headerPromo div.headerItem,div#headerPromo div.headerAdExtra {
	width:234px;
	float:left;
	padding-right:8px;
	}
div#headerPromo div.headerAdExtra {
	height:60px;
	}
div#headerAd {
	float:right;
	padding-right:10px;
	}
div#headerthirdparty div#headerAd {
	padding:0;
	}
div.headerAdCode {
	position:absolute;
	top:29px;
	height:64px;
	}
div#headerAdCode1.headerAdCodeNoPromo {
	top:55px;
	}
div#headerAdCode1 {
	right:10px;
	z-index: 2137483600;
	}
div#headerAdCode2 {
	left:10px;
	}
div#headerAdCode3 {
	left:252px;
	}
div#headerAdCode4 {
	left:494px;
	}
#inlineHeaderAd {
	z-index: 2147483600;
	}
div#navigation {
	width:100%;
	position:relative;
	margin-top:8px;
	margin-bottom:35px;
	}
div#navigation div#layerOne {
	display:block;
	position:relative;
	}
div#navigation div#search {
	float:right;
	padding-top:2px;
	position:absolute;
	top:4px;
	right:0;
	}
div#navigation div#search input {
	font-size:10px;
	}
div#navigation div#search input#searchText {
	color:#666;
	width:100px;
	padding:2px 4px;
	}
ul#root {
	position:relative;
	width:100%;
	margin:0;
	padding:0;
	}
ul#root li {
	cursor:pointer;
	float:left;
	width:auto;
	text-align:center;
	list-style-type:none;
	font-weight:700;
	display:block;
	padding:5px 7px;
	}
ul#root li a {
	display:block;
	float:left;
	}
ul#root li a.mainNav {
	display:block;
	text-transform:uppercase;
	font-weight:400;
	}
ul#root li.highlight,ul#root li:hover {
	background-image:url('menuArrow.jpg');
	background-repeat:no-repeat;
	background-position:top center;
	}
ul#root li.highlight a {
	cursor:pointer;
	}
ul#root li ul.level2 {
	cursor:pointer;
	max-width:100%;
	position:absolute;
	height:auto;
	left:-9999px;
	top:26px;
	width:980px;
	display:block;
	margin-top:0;
	}
ul#root li ul.level2 li {
	max-width:none;
	background-image:none;
	padding:0 7px;
	}
ul#root li ul.level2 li a {
	position:relative;
	cursor:pointer;
	white-space:nowrap;
	font-weight: normal;
	background-image:none;
	text-transform:uppercase;
	}
ul#root li ul.level2 li a:hover {
	text-decoration:underline;
	}
ul#root li ul.level2 li,ul#root li ul.level2 li.highlight li:hover {
	background-image:none;
	}
ul#root li.hideMainNav a {
	display:none;
	}
ul#root li.hideMainNav {
	background-image:none;
	padding:5px 0;
	}
ul#root li:hover ul,ul#root li.msieFix ul,ul#root li.highlight ul {
	display:block;
	left:0;
	z-index:5;
	}
ul#root li ul.subStay {
	z-index:3;
	}
ul#root li ul.subStay a {
	display:block;
	}
div#hotTopic {
	background-repeat:repeat-x;
	width:980px;
	padding-top:3px;
	text-transform:uppercase;
	font-size:14px;
	font-weight:700;
	}
div#hotTopic ul {
	height:19px;
	}
div#hotTopic ul li {
	float:left;
	list-style-type:none;
	border-left:1px solid #034;
	padding:0 7px;
	}
div#hotTopic ul li a {
	color:#034;
	float:left;
	font-size:12px;
	font-weight:400;
	text-transform:capitalize;
	}
div#hotTopic ul li.hot-link-begin {
	border:none;
	}
div#logo {
	float:left;
	}
div#logothirdparty {
	float:left;
	bottom:0;
	left:10px;
	position:absolute;
	}
div#headerthirdparty {
	background-color:#FFF;
	height:90px;
	width:980px;
	position:relative;
	margin:5px 0;
	}
div#toolbarthirdparty {
	background-color:#26b;
	margin-top:0;
	position:relative;
	width:100%;
	}
div#breadcrumbthirdparty {
	float:left;
	font-size:11px;
	position:absolute;
	left:3px;
	top:4px;
	}
div#headerPromo div.holder div.wrapper,div#searchthirdparty {
	float:right;
	}
div#navigation a,div#hotTopic a {
	text-decoration:none;
	}
div.goto-iphone-version {
	text-align: center;
	line-height: 50px;
	height: 50px;
	border: 3px solid #F00;
	font-size: 30px;
}
