body {
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: #FFF;
	font-size: 14px;
	padding: 0 5px;
	background-position: center top;
	background-repeat: no-repeat;
	}
h1, h2, h3, h4, h5, h1 a, h2 a, h3 a, h4 a, h5 a, a {
	color: #000;
	font-weight: normal;
	}
h1 {
	 font-size: 26px;
	}
div.module {
	margin-bottom: 30px;
	}
div.blurb {
	margin-bottom: 0;
	}
div#container {
	background-color: #FFF;
	}
div#content {
	width: 630px;
	margin-left: 0;
	padding-left: 0 !important;
	}
div#rail {
	margin-right: 0;
	}
#topLeftWide,
#middleLeftWide,
#bottomLeftWide,
#topRightWide,
#middleRightWide,
#bottomRightWide {
	width: 630px;
	padding: 0;
	}
#topLeftNarrow,
#middleLeftNarrow,
#bottomLeftNarrow,
#topRightNarrow,
#middleRightNarrow,
#bottomRightNarrow {
	padding: 0;
	}
#topCenterFull,
#middleCenterFull,
#bottomCenterFull {
	padding: 0;
	}
div.slidingbillboard {
	margin-left: 0;
	}
#bottomCenterFull .curvedCorners {
	margin: 0;
	}
div#contentBottom {
	margin: 0 auto;
	width: 980px;
	}
div.breaking_main {
	width: 978px;
	}
.breaking_box_email {
	display: inline;
	padding-left: 0;
	padding-right: 0;
	}


/* Header Styles */

div#header {
	height: 90px;
	position: relative;
	}
div#header.headerWithPromo {
	height: 140px;
	}
div#logo {
	position: absolute;
	bottom: 0;
	}
.smallLogo div#logo {
	bottom: 5px;
	}
div#weatherbug {
	bottom: 20px;
	left: 450px;
	position: absolute;
	}
div#classified-bar {
	margin-top: 10px;
	border-bottom: 3px solid #000;
	}
div#classified-bar, 
div#classBarNav,
div#classBarNav ul.classBarNavLink a,
div#classified-bar a {
	font-weight: normal;
	background-color: #FFF;
	}
div#classBarNav ul.classBarNavMember {
	padding-left: 3px;
	}
div#classBarNav ul.classBarNavLink a {
	text-transform: capitalize;
	}
div#classBarNav ul.classBarNavLink a:hover,
div#classified-bar a:hover {
	text-decoration: underline;
	}
#helloVisitor {
	padding-right: 8px;
	margin-right: 4px;
	border-right: 1px solid #000;
	}
#loginSeparator {
	text-transform: lowercase;
	}
#sectionBreadcrumb {
	text-transform: uppercase;
	font-size: 27px;
	border-left: 2px solid #CCC;
	position: absolute;
	left: 432px;
	top: 34px;
	padding: 5px 0 0 16px;
	line-height: 35px;
	}
div.dateStamp {
	bottom: 20px;
	left: 540px;
	}
div#inlineHeaderAd {
	bottom: 15px;
	right: 0 !important;
	}
div#headerAdCode1 {
	right: 0;
	}
div.headerAdCodeNoPromo#headerAdCode1 {
	top: 54px;
	}
div#headerPromo .holder {
	width: 735px;
	padding-left: 0;
	}
div#headerPromo div.headerItem,
div#headerPromo div.headerAdExtra {
	padding-left: 11px;
	}
#container div.topLeaderboard {
	padding-top: 4px;
	}


/* Centered Header Styles */

div#header.centered-logo div#logo {
	left: 301px;
	}
div.centered-logo div.dateStamp {
	left: 0;
	}


/* Navigation Styles */

div#navigation {
	background-color: #000;
	margin-top: 0;
	margin-bottom: 50px;
	}
div#navigation div#layerOne {
	position: relative;
	height: 38px;
	width: 100%;
	display: inline-block;
	}
ul#root {
	padding-left: 5px;
	width: auto;
	}
* html ul#root {
	display: inline-block;
	}
ul#root li a.mainNav {
	color: #FFF;
	font-size: 14px;
	}
ul#root li.navLink {
	padding: 0;
	}
ul#root li.first {
	margin-left: 5px;
	}
ul#root li.navLink a {
	padding: 17px 4px 16px 5px;
	*padding: 17px 4px 16px 4px;
	}
ul#root li.hideMainNav a.mainNav {
	background: none;
	}
ul#root li.highlight,
ul#root li:hover {
	background: none;
	}
ul#root li.highlight a {
	background: url(tabs.gif) no-repeat 0 4px;
	}
ul#root li a.mainNav span {
	line-height: 5px;
	padding-bottom: 10px;
	padding-right: 7px;
	padding-top: 5px;
	}
ul#root li.highlight a.mainNav span {
	background: url(tabs.gif) no-repeat right -50px;
	padding-left: 0;
	}
ul#root li.highlight a,
ul#root li a:hover {
	color: #000;
	}
ul.level2 {
	background: url(subnav_bg.gif) no-repeat 0 bottom;
	}
ul#root li ul.level2 {
	top: 38px;
	height: 40px;
	}
ul#root li ul.level2 li {
	margin: 0 7px 0 9px;
	padding: 0;
	}
ul#root li ul.subStay li.highlight {
	margin: 0 0 0 7px;
	background: url(subnav_tabs.gif) no-repeat 0 5px;
	}
ul#root li ul.level2 li a:hover,
ul#root li.highlight ul.level2 li a:hover {
	color: #000;
	}
ul#root li.highlight ul.level2 li a, 
ul#root li ul.level2 li a {
	color: #000;
	font-size: 12px;
	line-height: 29px;
	margin: 0;
	padding: 5px 7px 6px;
	}
ul#root li ul.subStay li.highlight a {
	background: url(subnav_tabs.gif) no-repeat right -31px;
	padding-right: 14px;
	padding-left: 9px;
	}
div#hotTopic {
	font-size: 12px;
	margin-bottom: 15px;
	padding-top: 0;
	}
div#hotTopic ul {
	height: 16px;
	}
div#hotTopic ul li {
	line-height: 12px;
	padding: 0 10px;
	border-color: #000;
	}
div#hotTopic ul li a {
	color: #000;
	font-size: 12px;
	text-transform: uppercase;
	}
div#hotTopic ul li a:hover {
	color: #000;
	text-decoration: underline;
	}
div#hotTopic ul li.hot-link-begin {
	color: #930000;
	font-weight: normal;
	}
div#hotTopic ul li.hot-link-1 {
	padding-left: 0;
	border: 0;
	}
div#navigation div#search {
	float: right;
	padding: 6px 6px 0 0;
	position: absolute;
	top:0;
	right:0;
	}
div#navigation div#search input {
	font-size: 10px;
	padding: 3px 2px 2px;
	}
div#navigation div#search input#searchButton {
	text-transform: uppercase;
	}
* html div#navigation div#search input#searchButton {
	padding-left: 3px;
	padding-right: 3px;
	}
*:first-child+html div#navigation div#search input#searchButton {
	padding-left: 3px;
	padding-right: 3px;
	}
div#navigation div#search input#searchText {
	padding: 5px 4px 3px;
	margin-right: 3px;
	color: #666;
	width: 92px;
	}
* html div#navigation div#search input#searchText {
	padding-top: 4px;
	margin-right: 0;
	}
*:first-child+html div#navigation div#search input#searchText {
	padding-top: 4px;
	margin-right: 0;
	}


/* Lead Content Styles */

#leadcontent-main,
.leadMezz {
	background-color: #FFF;
	color: #000;
	border: 0;
	padding: 0;
	width: 630px;
	}
* html #leadcontent-main,
* html .leadMezz {
	margin-left: 0;
	}
div#leadcontent-main.noBorder {
	border: 0;
	}
div.leadcolumn1,
div#leadcontent-main div#slideContainerSmall,
div#leadcontent-main div#slideContainerSmall div.mainSlide,
div#leadcontent-main div#slideContainerAdjust div.mainSlide {
	padding: 0;
	}
div#leadcontent-main div#slideContainerAdjust {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	}
div#leadcontent-main div#headlineContainerAdjust,
div#leadcontent-main div#headlineContainerLarge {
	padding: 0;
	}
#leadcontent-main h1 a, 
div.mainHeadline h4 a, 
h3.headline a, 
div.mainHeadline h2 a, 
div.leadMezz a, 
div.leadMezz h2.headline a,
#leadcontent-main p.brief a, 
div.mainSlideDetailsContents h3.headline a,
div.highlight h2.headline a, 
.highlight a {
	color: #000;
	}
#leadcontent-main h1 a:hover, 
div.mainHeadline h4 a:hover, 
h3.headline a:hover, 
div.mainHeadline h2 a:hover, 
div.leadMezz a:hover, 
div.leadMezz h2.headline a:hover,
#leadcontent-main p.brief a:hover, 
div.mainSlideDetailsContents h3.headline a:hover {
	color: #000;
	}	
#leadcontent-main h2.headline,
#leadcontent-main h2.headline a {
	font-size: 24px;
	}
div.slideshow-thumb-img-small-container div.highlight, 
div#leadcontent-main div#headlineContainer div.highlight {
	background-color: #CCC;
	}
div.headlines a.callToAction,
div#leadcontent-main a.callToAction {
	color: #2262CC;
	font-size: 14px;
	font-weight: normal;
	}
div.headlines a:hover.callToAction,
div#leadcontent-main a:hover.callToAction {
	text-decoration: underline;
	}
.lead-related-items .related-item p a, 
div.leadcontent div.relatedItem a {
	color: #000;
	}
div#leadcontent-main div.mainSlideDetails {
	padding-left: 0;
	}
.headline-container div.mainHeadline div {
	padding: 0 !important;
	}
.headline-container .bulleted .mainHeadline {
	padding-left: 0 !important;
	}
.headline-container .mainHeadline,
.headline-container .emphasizedBulleted .mainHeadline {
	padding: 5px 0 !important;
	margin: 0 4px !important;
	}
.headline-container .bulleted .mainHeadline .first,
.headline-container .bulleted .mainHeadline .normal,
.headline-container .bulleted .mainHeadline .last {
	padding-left: 0 !important;
	}
.headline-container .mainHeadline .first,
.headline-container .mainHeadline .normal,
.headline-container .mainHeadline .last,
.headline-container .emphasizedBulleted .mainHeadline .first,
.headline-container .emphasizedBulleted .mainHeadline .normal,
.headline-container .emphasizedBulleted .mainHeadline .last {
	padding: 0 4px !important;
	}
.headline-container .last {
	float: none;
	margin: 0;
	}
.headline-container img {
	margin: 0 0 4px 4px;
	}
div#leadcontent-main ul li.bulleted {
	margin-left: 23px;
	list-style-position: outside;
	}
div#leadcontent-main ul li.emphasizedBulleted {
	margin-left: 0;
	list-style: none;
	}
.defaultHeadlines .headlineItem,
#headlineContainer,
#headlineContainer .mainHeadline,
.mainSlideDetailsContents,
#leadcontent-bigstory {
	overflow: hidden;
	}
#headlineContainer .mainHeadline {
	zoom: 1;
	}
#bigStoryHeadline,
#bigStoryDetails {
	display: inline;
	}
.defaultHeadlines .headline,
.mainSlideHeadline,
.bigStoryHeadline,
#headlineContainer .headline {
	display: inline !important;
	margin-right: 1px;
	}
* html .defaultHeadlines .headline,
* html .mainSlideHeadline,
* html .bigStoryHeadline,
* html #headlineContainer .headline {
	margin-right: 3px;
	}
*:first-child+html .defaultHeadlines .headline,
*:first-child+html .mainSlideHeadline,
*:first-child+html .bigStoryHeadline,
*:first-child+html #headlineContainer .headline {
	margin-right: 3px;
	}
.defaultHeadlines .headline a,
.mainSlideHeadline a,
.bigStoryHeadline a,
#headlineContainer .headline a {
	display: inline !important;
	position: relative;
	background: #FFF;
	padding-right: 4px;
	}
.kaleidoscope #headlineContainer .headline a {
	background: transparent;
	}
#leadcontent-main .relatedHeadline .relatedHeadline-link {
	margin-right: 7px;
	}
.defaultHeadlinesByline,
.mainSlideByline,
.bigStoryByline,
.mainHeadlineByline {
	margin-top: 3px;
	display: block;
	}
.defaultHeadlinesByline .byline,
.mainHeadlineByline .byline,
.mainSlideByline .byline,
.bigStoryByline .byline {
	display: inline;
	float: left;
	margin-right: 4px;
	}
.leadcontent .byline {
	line-height: 20px;
	}
* html .defaultHeadlinesByline .byline,
* html .mainHeadlineByline .byline,
* html .mainSlideByline .byline,
* html .bigStoryByline .byline {
	margin-right: 8px;
	}
.defaultHeadlines .update-source,
.mainTimestamp,
.bigStoryTimestamp {
	font-size: 0;
	display: inline-block;
	}
.defaultHeadlines .last-updated,
.mainTimestamp .last-updated,
.bigStoryTimestamp .last-updated {
	display: inline;
	line-height: 20px;
	}
.defaultHeadlines .last-updated span,
.mainTimestamp .last-updated span,
.bigStoryTimestamp .last-updated span {
	white-space: nowrap;
	line-height: 20px;
	padding-left: 4px;
	border-left: 1px solid #000;
	}
* html .defaultHeadlines .last-updated span,
* html .mainTimestamp .last-updated span,
* html .bigStoryTimestamp .last-updated span {
	display: inline;
	}
*:first-child+html .defaultHeadlines .last-updated span,
*:first-child+html .mainTimestamp .last-updated span,
*:first-child+html .bigStoryTimestamp .last-updated span {
	display: inline;
	margin-top: 0;
	}
.defaultHeadlinesByline {
	float: left;
	}
.rightHeadlinePos .defaultHeadlinesByline {
	float: none;
	height: 14px;
	}
.hasByline .last-updated {
	display: block;
	padding-bottom: 1px;
	}
.defaultHeadlinesBrief {
	margin-top: 1px;
	}
.hasByline .defaultHeadlinesBrief {
	clear: both;
	}
.rightHeadlinePos .defaultHeadlinesBrief {
	clear: none;
	}
.mainHeadlineBrief,
.mainSlideBrief,
.bigStoryBrief {
	margin-top: 3px;
	clear: left;
	}
.defaultHeadlines .rightHeadlinePos img.headlineThumb {
	margin-right: 0;
	padding-right: 8px;
	background: #FFF;
	}


/* Headline Module Styles */

div.headlines {
	padding-top: 0;
	}
div.headlines h2.title {
	border-bottom: 1px solid #DDD;
	border-top: 3px solid #000;
	padding: 0;
	margin-bottom: 0;
	font-size: 24px;
	line-height: 37px;
	text-transform: none;
	}
* html div.headlines h2.title {
	display: inline-block;
	}
*:first-child+html div.headlines h2.title {
	display: inline-block;
	}
div.mainWSecondary h2.title {
	margin-bottom: 10px;
	}
.headlines div.curvedContent h2.title {
	padding-top: 0 !important;
	}
.tabContentContainer .headlines h2.title {
	display: none;
	}
div.titleContainer h2.title,
div.titleContainer h2.title a {
	color: #000;
	}
div.twoColumnContainer h2.title, div.twoColumnContainer h2.title a,
div.threeColumnContainer h2.title, div.threeColumnContainer h2.title a {
    font-size:24px;
    padding-top:7px;	
} 	
	
div.headlines h2,
div.headlines h3,
div.headlines h4 {
	margin-bottom: 5px;
	color: #000;
	font-size: 13px;
	}
.defaultHeadlines .aboveHeadlinePos .headlineTimestamp {
	margin-bottom: 5px;
	}
div.headlines h2 a,
div.headlines h3 a,
div.headlines h4 a {
	color: #000;
	font-size: 13px;
	}
div.headlines h2.headline,
div.headlines h2.headline a,
div.headlines h3.headline,
div.headlines h3.headline a,
div.headlines h4.headline,
div.headlines h4.headline a {
	color: #000;
	font-size: 13px;
	}
.mainWSecondary .headline1 a {
	line-height: 17px;
	}
div.headlines a.storySource {
	color: #000;
	font-size: 11px;
	}
div.headlines .headlineItem h2.embiggen,
div.headlines .headlineItem h2.embiggen a,
div.headlines .headlineItem h3.embiggen,
div.headlines .headlineItem h3.embiggen a,
div.headlines .headlineItem h4.embiggen,
div.headlines .headlineItem h4.embiggen a,
div.mainWSecondary ul.col1 .headline,
div.mainWSecondary ul.col1 .headline a {
	font-size: 17px;
	line-height: 21px;
	}
#leadcontent-main div.slide-container h1,
#leadcontent-main div.slide-container h1 a {
	font-size: 22px;
	margin-bottom: 5px;
	}
#headlineContainer div.first h2,
#headlineContainer div.first h2 a,
#leadcontent-main div.slide-container h2,
#leadcontent-main div.slide-container h2 a {
	font-size: 18px;
	margin-bottom: 5px;
	}
#leadcontent-main div.topSecondary h2,
#leadcontent-main div.topSecondary h2 a {
	font-size: 26px;
	}
#headlineContainer div.normal h3,
#headlineContainer div.normal h3 a,
#headlineContainer div.normal h4,
#headlineContainer div.normal h4 a,
#headlineContainer div.last h3,
#headlineContainer div.last h3 a,
#headlineContainer div.last h4,
#headlineContainer div.last h4 a {
	font-size: 14px;
	line-height: 19px;
	}
#leadcontent-main p.brief {
	font-size: 11px;
	}
.relatedHeadline a {
	font-size: 13px;
	line-height: 18px;
	}
#leadcontent-main .mainSlideDetails p.brief,
#leadcontent-main .mainHeadlineBrief p.brief {
	font-size: 13px;
	line-height: 18px;
	}
span.minutesAgo,
p.last-updated {
	font-style: normal;
	}
div.headlines ul.col1 {
	padding-left: 0;
	padding-right: 2%;
	width: 48%;
	}
div.headlines ul.FullAlt1 {
	width:400px !important;
}	
div.headlines ul.col2 {
	padding-left: 0;
	}
div.headlines ul.col2 li {
	padding-bottom: 8px;
	}
div.headlines ul.col2 li.lastSecondary {
	padding-bottom: 0;
	}
div.headlines ul.col2 h3,
div.headlines ul.col2 .headline1 {
	display: inline;
	}
.mainWSecondary .byline {
	display: block;
	}
table.threeColumn img.headlineThumb,
img.headlineThumb {
	margin: 0;
	}
.headlineBelow img.headlineThumb {
	margin-bottom: 5px;
	float: none;
	}
.rightHeadlinePos img.headlineThumb,
.inLine img.headlineThumb,
.headlineTable img.headlineThumb,
.mainWSecondary img.headlineThumb {
	margin-right: 8px;
	}
div.headlines ul li div.overlayThumb div.overlay {
	left: 0;
	}
.mainWSecondary p.small {
	font-size: 12px;
	line-height: 16px;
	}
.aboveHeadlinePos h2,
.aboveHeadlinePos h3,
.aboveHeadlinePos h4 {
	display: block;
	}
table.headlineBelow td h2,
table.headlineBelow td h3,
table.headlineBelow td h4 {
	padding-top: 0;
	}
table.headlineTable td {
	padding: 0;
	}
div.headlineItem {
	padding-left: 0;
	font-size: 12px;
	}
div.headlineItem p {
	line-height: 17px;
	text-align:left;
	padding-top: 2px;
	*padding-top: 1px;
	}
div.belowHeadlinePos p {
	clear:left;
	}
div.headlineItem .briefRight .defaultHeadlineBrief p{
	float:right; 
}
.headlineTable div.headlineItem {
	width: auto;
	padding-right: 25px;
	}
.verticalRules table.threeColumn {
	margin: 5px 0 0;
	width: 100%;
	}
.verticalRules table.threeColumn td {
	border-left: 1px solid #DDD;
	padding: 5px 0 0;
	width: auto;
	}
.verticalRules table.threeColumn td.firstCol {
	border-left: 0;
	}
.verticalRules table.threeColumn td.secondCol {
	padding-left: 8px;
	padding-right: 7px;
	text-align: center;
	}
.verticalRules table.threeColumn td.secondCol table {
	margin: auto;
	float: none;
	}
.verticalRules table.threeColumn td.lastCol table {
	float: right;
	}
.verticalRules table.threeColumn td td {
	border: 0;
	text-align: left;
	}
.verticalRules table.threeColumn div.headlineItem {
	padding: 0;
	}
#topLeftWide .headColumn1,
#topRightWide .headColumn1,
#middleLeftWide .headColumn1,
#middleRightWide .headColumn1,
#bottomLeftWide .headColumn1,
#bottomRightWide .headColumn1 {
	margin-bottom: 17px;
	}
#topLeftWide .headColumn1 .headlineItem,
#topRightWide .headColumn1 .headlineItem,
#middleLeftWide .headColumn1 .headlineItem,
#middleRightWide .headColumn1 .headlineItem,
#bottomLeftWide .headColumn1 .headlineItem,
#bottomRightWide .headColumn1 .headlineItem {
	margin-top: -1px;
	padding-top: 12px;
	padding-bottom: 13px;
	border-top: 1px dotted #DDD;
	}
#section .twoColumnSplit .headColumn1 .headlineItem,
#section .threeColumnSplit .headColumn1 .headlineItem {
	margin-top: 0;
	padding-top: 10px;
	padding-bottom: 0;
	border-top: 0;
	}
.defaultHeadlines .headlineItem li.bullets {
	list-style-position: inside;
	padding-left: 1px;
	}


/* Tab Module Styles */

#topLeftWide div.tabContentDisplay,
#topLeftWide div.tabContentContainer,
#middleLeftWide div.tabContentDisplay,
#middleLeftWide div.tabContentContainer,
#bottomLeftWide div.tabContentDisplay,
#bottomLeftWide div.tabContentContainer,
#topRightWide div.tabContentDisplay,
#topRightWide div.tabContentContainer,
#middleRightWide div.tabContentDisplay,
#middleRightWide div.tabContentContainer,
#bottomRightWide div.tabContentDisplay,
#bottomRightWide div.tabContentContainer,
#topLeftWide div.fakeContentHolder div.newContent,
#middleLeftWide div.fakeContentHolder div.newContent,
#bottomLeftWide div.fakeContentHolder div.newContent,
#topRightWide div.fakeContentHolder div.newContent,
#middleRightWide div.fakeContentHolder div.newContent,
#bottomRightWide div.fakeContentHolder div.newContent,
#topLeftWide div.tabContentDisplay,
#topLeftWide div.tabContentContainer,
#middleLeftWide div.tabContentDisplay,
#middleLeftWide div.tabContentContainer,
#bottomLeftWide div.tabContentDisplay,
#bottomLeftWide div.tabContentContainer,
#topRightWide div.tabContentDisplay,
#topRightWide div.tabContentContainer,
#middleRightWide div.tabContentDisplay,
#middleRightWide div.tabContentContainer,
#bottomRightWide div.tabContentDisplay,
#bottomRightWide div.tabContentContainer,
#topLeftWide div.tabContentHolder div.newContent,
#middleLeftWide div.tabContentHolder div.newContent,
#bottomLeftWide div.tabContentHolder div.newContent,
#topRightWide div.tabContentHolder div.newContent,
#middleRightWide div.tabContentHolder div.newContent,
#bottomRightWide div.tabContentHolder div.newContent,
#rail div.tabContentDisplay,
#rail div.tabContentContainer,
#rail div.tabContentHolder div.newContent {
	width: 630px;
	}
#topLeftNarrow div.tabContentDisplay,
#topLeftNarrow div.tabContentContainer,
#middleLeftNarrow div.tabContentDisplay,
#middleLeftNarrow div.tabContentContainer,
#bottomLeftNarrow div.tabContentDisplay,
#bottomLeftNarrow div.tabContentContainer,
#topRightNarrow div.tabContentDisplay,
#topRightNarrow div.tabContentContainer,
#middleRightNarrow div.tabContentDisplay,
#middleRightNarrow div.tabContentContainer,
#bottomRightNarrow div.tabContentDisplay,
#bottomRightNarrow div.tabContentContainer,
#topLeftNarrow div.tabContentHolder div.newContent,
#middleLeftNarrow div.tabContentHolder div.newContent,
#bottomLeftNarrow div.tabContentHolder div.newContent,
#topRightNarrow div.tabContentHolder div.newContent,
#middleRightNarrow div.tabContentHolder div.newContent,
#bottomRightNarrow div.tabContentHolder div.newContent,
#rail div.tabContentDisplay,
#rail div.tabContentContainer,
#rail div.tabContentHolder div.newContent {
	width: 336px;
	}
div.tabContentContainer {
	padding-top: 10px;
	clear: left;
	}
div.tabModuleContainer {
	background: none;
	}
div.tabModuleContainer div.tabs {
	border-top: 3px solid #000;
	border-bottom: 1px solid #CCC;
	height: auto;
	float: left;
	}
div.tabModuleContainer ul.tabModule{
	float: none;
	margin: 0;
	}
div.tabModuleContainer h2.tabTitle {
	color: #000;
	font-size: 24px;
	line-height: 37px;
	font-weight: normal;
	float: left;
	padding: 0 20px 0 0;
	}
div.tabModuleContainer h2.tabTitle a {
	color: #000;
	}
ul.tabModule li {
	line-height: 32px;
	padding-top: 5px;
	background: transparent !important;
	}
ul.tabModule li a:link,
ul.tabModule li a:visited,
ul.tabModule li a:hover,
ul.tabModule li a:active {
	color: #888;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	}
ul.tabModule li.curTab a,
ul.tabModule li.curTab a:link,
ul.tabModule li.curTab a:visited,
ul.tabModule li.curTab a:hover,
ul.tabModule li.curTab a:active {
	color: #000;
	text-decoration: none;
	}
ul.tabModule li.curTab a {
	cursor: default;
	}
div.tabDisplay {
	padding: 0;
	}
div.tabDisplay .blurb,
div.tabDisplay .mainWSecondary {
	margin-top: 10px;
	}


/* Promo Styles */

div.featurePromo {
	border: 1px solid #BCB9B9;
	background-color: #FFF;
	padding-top: 10px;
	width: auto !important;
	}
div.featurePromo b {
	font-weight: normal;
	}
div.photogalleryPromo h2,
div.featurePromo h2.title {
	color: #000;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	padding: 0 10px 10px;
	}
div.photogalleryPromo div.featurePromoTitle {
    padding: 0 5px 10px 10px;
    }
div.photogalleryPromo div.featurePromoTitle h2 {
    border-bottom: 1px solid #dddddd;
    font-size: 24px;
    margin-bottom: 5px;
    padding: 0 10px 10px 0;
    text-transform: none;
	display: block;
    }
* html div.photogalleryPromo div.featurePromoTitle h2 {
    display: inline-block;
    }
div.photogalleryPromo div.featurePromoTitle h2 a {
    font-size: 24px;
	line-height: 21px;
    }
div.photogalleryPromo div.featurePromoTitle span {
    color: #000;
    }
div.photogalleryPromo li.photoGalleryItem h3,
div.photogalleryPromo li.photoGalleryItem h3 a,
div.featurePromo h4 a {
    color: #000;
    font-size: 14px;
    }
div.featurePromo a,
div.featurePromo p {
    color: #000;
    font-size: 12px;
    line-height: 16px;
    }
div.featurePromo h4 {
    margin-bottom: 3px;
    }
div.featurePromo div.content {
    padding-top: 0;
    }
div.photogalleryPromo ul.main {
    padding-left: 10px;
    }
div.photogalleryPromo ul.secondary {
    padding-left: 10px;
    margin-bottom: 10px;
    }
div.photogalleryPromo li.photoGalleryItem {
    padding: 0 0 10px;
	color: #000000;
    }
div.featurePromo div.content img {
	border: 0;
	margin: 0 10px;
	display: inline;
	}
div.photogalleryPromo li.photoGalleryItem img {
	border: 0;
	margin: 0 10px 10px 0;
	display: inline;
	}
div.featurePromo div.bottomBorder {
	padding-bottom: 10px;;
	border: 0;
	}
div.featuredItem,
div.columnistsContent {
	padding: 0 10px;
	}
div.photogalleryPromo div.photogalleriesMain,
div.photogalleryPromo div.photogalleriesSecondary,
div.photogalleryPromo div.promoBar {
	padding: 0;
	}
div.single-item-promo div {
	margin-left: 0;
	margin-right: 0;
	}
div.single-item-promo div.promo-image img {
	margin: 0;
	}


/* Footer Styles */

div#footer {
	padding: 0;
	margin: 0 auto;
	width: 980px;
	}
div#footerContainer {
	min-height: 110px;
	}
* html div#footerContainer {
	height: 110px;
	}
div#footer div#footerlogo {
	float: none;
	}
div#footer div#footertext {
	float: none;
	}
div#footer div#siteOverview {
	border-bottom: 1px solid #000;
	border-top: 3px solid #000;
	margin-bottom: 10px;
	padding: 6px 10px 12px;
	}
* html div#footer div#siteOverview {
	display: inline-block;
	}
div#footer div#footertext ul li {
	margin-bottom: 16px;
	}
div#footer div#footertext ul.links li a {
	color: #000;
	}
div#footerlogo,
div#footertext {
	color: #000;
	}
div#footertext {
	font-size: 11px;
	}
div#footer div#siteOverview ul li ul li a.mainOverviewLink, 
div#footer div#siteOverview ul li a.mainNav {
	color: #000;
	font-size: 17px;
	line-height: 30px;
	}
div#footer div#siteOverview ul li ul li a {
	color: #000;
	}


body#videofront div#footertext {
	width:100% !important;
	}
	
body#videofront div#footerContainer {
    background:transparent url(white_inkblot.gif) no-repeat scroll right bottom !important;
	padding-right:25% !important;
	width:75% !important;
}


body#videofront ul#root li.highlight ul.level2 li a, 
body#videofront ul#root li ul.level2 li a  {
	text-transform:uppercase;	
}

body#videofront ul#root li a.mainNav span {
	text-transform:uppercase;
}

.family {
	margin-top: 12px;
}

/* Article Styles */

div.articlebody,
div#special-package {
	color: #000;
	}
div.article#content div.story,
div.special-package#content div#story-body {
	background: transparent;
	border: 0;
	margin: 5px 0 20px;
	padding: 0;
	}
div.article#content h1,
div.article#content h2,
div.article#content h3 {
	color: #000;
	}
div.article#content h1 {
	font-size: 28px;
	margin: 0 0 8px;
	}
div.column#content h1 {
	margin-bottom: 14px;
	}
div.article#content h2 {
	font-size: 15px;
	font-weight: normal;
	padding: 0;
	margin-bottom: 18px;
	}
div.article#content p.deckhead {
	margin-bottom: 5px;
	padding-top: 2px;
	font-size: 12px;
	text-transform: uppercase;
	}
div.article#content #module-ratings-and-comments h2 {
	color: #252525;
	}
p.fontsize {
	margin-bottom: 8px;
	}
span#extraPhotos,
span#extraVideos,
span#extraAudio,
span#extraMultimedia,
span#extraStories,
span#extraLinks,
span#extraTopics {
	background-color: #FFF;
	border: 1px solid #000;
	}
div.module p.last-updated,
span.last-updated {
	color: #930000;
	font-size: 11px;
}
div.article div.articlerail ul li.relatedTitle {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: normal;
	}
div.article div.articlerail ul li.relatedTitle span.relatedTitleText , div.storygallery div.storyGalleryRail ul li.relatedTitle span.relatedTitleText {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 4px;
	}
div.articleRelates li.viewMore a,
div.storyGalleryRelates li.viewMore a {
	text-decoration: none;
	color: #1964CA;
	}
div.article div.thumbnail {
	float: left;
	margin: 0 0 15px 0;
	width: 98%;
	background-color: #F2F2F2;
	padding: 13px 8px 8px;
	margin-bottom: 18px;
	margin-right: 10px;
	}
div.article .largeImage div.thumbnail {
	margin-right: 0;
	}
div.article div.thumbnail div.holder {
	margin-bottom: 0;
	}
div.thumbnail p.small {
	margin: 6px 0 0;
	}
div.article div.articlerail,
div.storygallery div.storyGalleryRail {
	margin-top: 0;
	font-size: 12px;
	line-height: 15px;
	}
div.article div.articlerail ul li,
div.storygallery div.storyGalleryRail ul li {
	margin-left: 0;
	padding-bottom: 10px;
	}
div.article div.articlerail img,
div.storygallery div.storyGalleryRail img {
	padding-right: 8px;
	}
div.articleRelates,
div.storyGalleryRelates {
	padding: 10px 10px 0;
	border: 1px solid #E7E7E7;
	}
#extraPhotos,
#extraVideos,
#extraAudio,
#extraMultimedia,
#extraStories,
#extraLinks,
#extraTopics {
	background-color: #FFF;
	border-color: #DDD;
	}
.closeBox {
	border-color: #DDD;
	}
div#content.article #gallery-subcontent {
	padding: 10px;
	}
div#content.article div.byline {
	font-size: 13px;
	margin-bottom: 12px;
	}
div.article div.byline p.date {
	margin: 3px 0 0;
	}
div.article .dateTimeSeparator {
	color: #FFF;
	font-size: 10px;
	letter-spacing: -1px;
	margin-left: 6px;
	border-left: 1px solid #000;
	}
div.article div.byline p.date span.timeString {
	text-transform: lowercase;
	}
div#content.article span.toolSet {
	margin-top: 6px;
	margin-bottom: 14px;
	}
div#content span.toolSet div.tools ul li {
	font-size: 11px;
	}
* html div#content span.toolSet div.tools ul li {
	line-height: 16px;
	}
*:first-child+html div#content span.toolSet div.tools ul li {
	line-height: 16px;
	}
#content #articletools-fontsize .text,
span.toolSet div.tools ul li a {
	font-size: 11px;
	font-weight: bold;
	}
* html #articletools-share {
	padding-top: 1px;
	}
*:first-child+html #articletools-share {
	padding-top: 1px;
	}
#articletools-share a.stbutton {
	padding-top: 1px;
	padding-bottom: 2px;
	background-position: 0 0 !important;
	}
* html #articletools-share .stbuttontext {
	display: block;
	}
*:first-child+html #articletools-share .stbuttontext {
	display: block;
	}
div.tools .rating-icons {
	font-size: 11px;
	}
* html div.tools #sb_sharethis {
	margin-top: 0;
	}
p#story-body,
#story-body-text {
	line-height: 1.43;
	}
p#story-body a,
#story-body-text a {
	color: #2262CC;
	}
.sphereTools {
	margin-top: 22px;
	}
#sphereRelated h3#sphereMainTitle.headerSphereRelated {
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0 0 4px;
	}
#sphereRelated h3#sphereMainTitle a {
	margin-top: -16px;
	}
div#content.article #sphereRelated div .headerSphereRelated {
	font-size: 15px;
	font-weight: normal;
	}
#sphereRelated div.sphereContent {
	margin-bottom: 5px;
	}
div#sphereRelated li {
	font: 12px/17px Arial, Helvetica, sans-serif;
	}
span.sphereDocsetSeparator {
	color: #000;
	}
div .sphereDocsetUrl {
	color: #5989d9;
	font-size: 12px;
	}
#sphereAdContainer {
	margin-top: 28px;
	}
div#moduleArticleToolsContainer {
	width: 630px;
	}


/* Most Popular Module Styles */

.popular ol {
	color: #000;
	padding-top: 14px;
	}
.popular ol li {
	padding-bottom: 4px;
	}
div.popular .tabs {
	overflow: hidden;
	}
div.popular ul.tabModule {
	float: left;
	margin-left: -8px;
	padding: 7px 0 6px;
	}
div.popular ul.tabModule li {
	line-height: 17px;
	margin: 0;
	padding: 0 10px;
	border-left: 1px solid #000;
	}
div.popular ul.tabModule li a:link,
div.popular ul.tabModule li a:visited,
div.popular ul.tabModule li a:hover,
div.popular ul.tabModule li a:active {
	font: 15px Georgia, "Times New Roman", Times, sans-serif;
	}
div.popular div.tabs h3 {
	background-color: #FFF;
	padding-bottom: 10px;
	*padding-bottom: 0;
	}
div.mostpopular {
	padding: 0;
	}


/* Feed Mashup Styles */

.feedMasherList .publishDate {
	color: #930000;
	font-size: 11px;
	font-style: italic;
	}


/* Accordion Styles */

div.accordion {
	font-family: Arial, Helvetica, sans-serif;
	border: 0;
	padding: 0;
	background: #F5F5F5 url(accordion-top-bottom-bg.gif) no-repeat;
	}
div.accordion-inner {
	padding: 7px 6px 3px;
	background: url(accordion-top-bottom-bg.gif) no-repeat -336px bottom;
	zoom: 1;
	}
div.accordionItem {
	position: relative;
	margin-bottom: 4px;
	background: #FFF url(accordion-repeat-bg.gif) repeat-x bottom;
	min-height: 50px;
	}
* html div.accordionItem {
	height: 50px;
	}
div.accordionItem-top {
	position: relative;
	background: url(accordion-border-top-bg.png) no-repeat;
	margin-bottom: -3px;
	height: 3px;
	}
* html div.accordionItem-top {
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/accordion-border-top-bg.png', sizingMethod='crop');
	}
div.accordionItem-bottom {
	background: url(accordion-border-bottom-bg.png) no-repeat bottom;
	margin-top: -3px;
	height: 3px;
	}
* html div.accordionItem-bottom {
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/accordion-border-bottom-bg.png', sizingMethod='crop');
	}
div.accordionItem-inner {
	background: url(accordion-border-repeat-bg.png) repeat-y;
	}
* html div.accordionItem-inner {
	zoom: 1;
	margin-right: -1px;
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/accordion-border-repeat-bg.png', sizingMethod='scale');
	}
div.accordionItem-toggleActive {
	background-image: none;
	}
div.accordion ul.accordionToggle {
	background: transparent;
	min-height: 30px;
	}
* html div.accordion ul.accordionToggle {
	height: 30px;
	}
div.accordion ul.accordionToggle li.tabTitle {
	color: #000;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 16px;
	text-transform: uppercase;
	padding-left: 0;
	margin-left: 29px;
	}
div.accordion ul.accordionToggle li.arrow {
	background: url(accordion_sprite.gif.1) no-repeat 0 -23px;
	height: 19px;
	width: 19px;
	position: absolute;
	left: 10px;
	top: 9px;
	}
div.accordion ul.accordionToggleActive li.arrow {
	background: url(accordion_sprite.gif.1) no-repeat 0 0;
	}
div.accordion div.accordionContent {
	background: transparent;
	color: #000;
	width: 304px;
	}
div.accordionContent h1,
div.accordionContent h2,
div.accordionContent h3,
div.accordionContent h4,
div.accordionContent h5,
div.accordionContent h6,
div.accordionContent p,
div.accordionContent a {
	color: #000;
	}
div.accordion div.module {
	padding-left: 0;
	padding-right: 0;
	}
div.weather68 div.wu_505 {
	display: inline;
	padding: 6px 0;
	border: 1px solid #DDD;
	}
div.weather68 .wu_daylabel {
	text-transform: uppercase;
	}
div.weather68 span.hightemp {
	font-weight: normal;
	color: #9c1414;
	}
div.weather68 span.lowtemp {
	font-weight: normal;
	color: #0065ba;
	}
div.weather68 .wu_temps {
	font-size: 0;
	}


/* Photogallery Styles */

#gallery-content-popup #gallery-photos-more li {
	background: #FFF !important;
	border: 1px solid #CCC;
	line-height: 18px;
	}
#gallery-content-popup #gallery-photos-more li a {
	color: #333;
	padding-bottom: 2px;
	}
#gallery-content-popup #gallery-photos-more li.current a,
#gallery-content-popup #gallery-photos-more li a:hover {
	background: #FFF url(gallery-index_bg.gif);
	}
#gallery-photo-header-title {
	padding: 0;
	}
#photo-index {
	display: none;
	}
#gallery-content-popup #gallery-photos-more {
	margin-left: 0;
	}
#module-ratings-and-comments h3,
#photo-information h3 {
	color: #000;
	font-size: 14px;
	padding-bottom: 3px;
	}
#photo-information .subheadline {
	padding-bottom: 3px;
	}
#photo-information .credit {
	padding-bottom: 3px;
	display: block;
	}
#gallery-slideshow #photo-information #pgCaption {
	padding-bottom: 3px;
	padding-top: 0;
	}
#module-secondary-content-spotlight div.relatedContent {
	margin-top: 30px;
	}
#module-secondary-content-spotlight div.relatedContent ul.relatedItems li.relatedTitle {
	font-weight: normal;
	text-transform: uppercase;
	}
#module-secondary-content-spotlight div.relatedContent ul.relatedItems li {
	margin-left: 0;
	font-size: 14px;
	}
#gallery-slideshow #moduleArticleToolsContainer {
	margin-top: 20px;
	}
div#moduleArticleTools ul {
	border-color: #DDD;
	}


/* Taxonomy Styles */

#rtIconBGBar,
#topicGallerySummaryHead,
#tgSearchForm,
.tax-tab,
.tabLeftBorder,
.tabRightBorder,
#htTopTitleBar,
.ttHead td {
	background-color:#000;
	}
.tax-tab {
	border-bottom: 0;
	border-top: 0;
	}
#tax-filterContainer {
	background: #000;
}

#tax-hotTopicsOutsideWide,
#tax-smallHotTopicsModule,
.ttTopic td,
.ttHead td,
#queueLoadingDiv,
#tiSearchInner {
	border-color: #000;
	}


/* Search Results Styles */

#search-results {
	padding: 0;
	position: relative;
	border-top: 1px solid #000;
	}
.search-error#search-results {
	padding-top: 10px;
	}
#search-results .tabTitle {
	display: none;
	}
#search-results div.tabs {
	border: 0;
	}
#search-results ul.tabModule li {
	margin-bottom: 30px;
	padding: 0;
	line-height: 35px;
	}
#search-results ul.tabModule li.curTab {
	background: url(search-tabs.gif) !important;
	}
#search-results ul.tabModule li a,
#search-results ul.tabModule li a:link,
#search-results ul.tabModule li a:visited,
#search-results ul.tabModule li a:hover,
#search-results ul.tabModule li a:active {
	color: #000;
	font: bold 14px Georgia, "Times New Roman", Times, sans-serif;
	line-height: 35px;
	padding: 0 20px;
	display: block;
	}
#search-results ul.tabModule li.curTab a,
#search-results ul.tabModule li.curTab a:link,
#search-results ul.tabModule li.curTab a:visited,
#search-results ul.tabModule li.curTab a:hover,
#search-results ul.tabModule li.curTab a:active {
	color: #FFF;
	background: url(search-tabs.gif) right bottom;
	}
#search-results div.sort-by {
	margin-top: 18px;
	padding: 0;
	}
#search-results div.sort-by p {
	float: none;
	position: absolute;
	top: 11px;
	right: 102px;
	margin: 0;
	font-size: 12px;
	}
#search-results div.sort-by p.results-type {
	position: static;
	font-weight: bold;
	}
#search-results div.sort-by p.results-type a#toggleHandle {
	font-weight: bold;
	background: url(open-options_plus.gif) no-repeat 0 1px;
	padding-left: 19px;
	}
#search-results div.sort-by p.advanced-open a#toggleHandle {
	background-position: 0 bottom;
	}
#search-results div.sort-by form {
	position: absolute;
	top: 7px;
	right: 0;
	float: none;
	}
#advanced-facets {
	margin: 20px 0 10px;
	}
#advanced-facets .advanced-subtypes {
	padding: 0 4px 0 8px;
	}
#advanced-facets #facet-cell-events .advanced-subtypes {
	padding-left: 0;
	}
#advanced-facets #facet-table td {
	font-size: 11px;
	}
#advanced-facets .advanced-subtype {
	padding: 0;
	}
#advanced-facets .advanced-subtype-choose {
	font-weight: normal;
	text-transform: lowercase;
	}
#search-results p.search-terms {
	margin: 0 0 10px;
	padding-left: 5px;
	font-size: 12px;
	line-height: 20px;
	background: #E0E0E0;
	float: none;
	display: block;
	}
#search-results ul.pagination {
	font-size: 12px;
	line-height: 20px;
	margin-top: -30px;
	padding-right: 5px;
	}
#search-results ul.pagination li {
	display: inline;
	float: none;
	margin-right: 0;
	}
#search-results ul.pagination li.next {
	padding-left: 0;
	}
#search-results ul.pagination li.next-block-dotted {
	display: inline;
	}
#search-results ul.pagination li.next-block-numbered {
	display: none;
	}
#search-results ul.results-list {
	margin: 27px 0 10px;
	}
#search-results ul.results-list li {
	background: url(separator-horiz-dotted.gif) repeat-x 1px 0;
	}
* html #search-results ul.results-list li {
	display: inline-block;
	}
#search-results ul.results-list .date {
	font-size: 12px;
	}
#search-results ul.results-list .resultType {
	font-size: 12px;
	margin-left: 5px;
	padding-left: 8px;
	border-left: 1px solid #000;
	text-transform: capitalize;
	}
#search-results ul.results-list .resultType span {
	display: none;
	}
#search-results ul.results-list h3 {
	margin: 4px 0 3px;
	}
#search-results ul.results-list h3 a {
	font-size: 14px;
	line-height: 19px;
	font-weight: bold;
	}
#search-results ul.results-list span.byline {
	color: #333;
	font-size: 11px;
	font-weight: normal;
	margin-bottom: 3px;
	}
#search-results ul.results-list dd.excerpt img {
	margin: 0 10px 0 0;
	}
#search-results ul.results-list dd.excerpt p {
	margin-bottom: 0;
	font-size: 12px;
	line-height: 17px;
	}


/* (TIR-1180) temporary -- this does not work yet */
#search-results div.sort-by p.results-type {
	display: none;
	}
#search-results div.sort-by {
	margin: 0;
	}
#search-results ul.results-list {
	margin-top: 30px;
	}
/* end (TIR-1180) temporary */


/* Search Top Results Styles */

#sponsored-links {
	padding: 0;
	}
#sponsored-links h3,
#sponsored-links h3.tabTitle,
#sponsored-links h4 {
	font-weight: bold;
	font-size: 18px;
	position: relative;
	padding-bottom: 4px;
	background: #FFF;
	}
#sponsored-links .sponsored-link {
	background: url(separator-horiz-dotted.gif) repeat-x 1px 0;
	padding: 8px 0 10px;
	margin-top: -1px;
	}
* html #sponsored-links .sponsored-link {
	display: inline-block;
	}
#sponsored-links a {
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	padding-bottom: 2px;
	display: block;
	}
#sponsored-links .sponsored-link div,
#sponsored-links p {
	font-size: 12px;
	line-height: 17px;
	}
#sponsored-links img {
	float: left;
	margin-right: 10px;
	}


/* Search Results Google Ad Styles */

#search-google-ads {
	margin-left: 40px;
	}
#search-google-ads h4 {
	color: #555;
	font-size: 11px;
	line-height: 11px;
	padding-right: 20px;
	margin-bottom: -18px;
	text-align: right;
	text-transform: capitalize;
	}
#search-google-ads .google-ad {
	padding: 3px 20px 4px 12px;
	margin-bottom: 8px;
	background: #F3F3F3;
	}
#search-google-ads p a {
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	}
#search-google-ads p,
#search-google-ads p.url a {
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	}


/* Search Results Rail Styles */

div#promo-rail {
	padding: 0;
	}
#promo-rail div.module {
	padding: 0;
	}
#promo-rail h4,
#promo-rail h4 a {
	color: #000;
	font-size: 15px;
	font-weight: bold;
	}
#related-topics div.tax-rec-gals {
	font-weight: normal;
	padding-bottom: 0;
	}
#related-topics ul {
	margin-top: 4px;
	}
#related-topics li {
	font-size: 14px;
	line-height: 17px;
	display: block;
	padding-left: 10px;
	background: url(list-style_dash.gif) no-repeat 0 10px;
	}
#related-topics li a {
	font-size: 14px;
	line-height: 17px;
	}
#related-topics .topic-separator {
	display: none;
	}


/* Email Popup Styles */

#email-head {
	border-top: 5px solid #000;
	}
.email-form h3 {
	color: #000;
	font-size: 20px
	}
.email-form h2 {
	color: #888;
	font-size: 22px
	}
div#form-errors {
	margin-bottom: 0;
	}    
.email-form #byline,
.email-form form {
	padding-top: 10px
	}
.email-form #byline {
	font-size: 13px
	}
.email-form #date {
	font-size: 12px
	}


/* Structure Module Styles */

div.tabModuleContainer,
.twoColumnSplit,
.threeColumnSplit {
	margin-bottom: 30px;
	padding: 0;
	}
#container .twoColumnSplit div.module,
#container .threeColumnSplit div.module {
	margin-bottom: 0;
	}
.twoColumnSplit td {
	padding-left: 0;
	}
.twoColumnSplit td.left {
	padding-right: 7px !important;
	}
.twoColumnSplit td.right {
	padding-left: 7px !important;
	}


/* Stock Quotes Styles */

.wide #stockquotes {
	margin-bottom: 10px;
	}
#stockquotes #markets {
	font: 11px Arial, Helvetica, sans-serif;
	display: inline;
	line-height: 15px;
	}
#stockquotes #indu,
#stockquotes #comp,
#stockquotes #spx,
#stockquotes #quote {
	float: left;
	width: 111px;
	border: 1px solid #E0E0E0;
	background-color: #F6F6F6;
	padding: 2px 2px 8px 15px;
	margin-left: -1px;
	}
#stockquotes #quote {
	width: 232px;
	height: 26px;
	padding: 8px 6px 6px;
	font-size: 12px;
	border-right-width: 0;
	}
#stockquotes #quote-label {
	margin-left: 10px;
	vertical-align: middle;
	}
#stockquotes #quote-input {
	width: 130px;
	padding: 0;
	color: #999;
	font-size: 12px;
	margin-left: 5px;
	vertical-align: middle;
	}
#stockquotes #quote-submit {
	padding: 2px 1px;
	font-size: 10px;
	}
#stockquotes #indu {
	border-left-width: 0;
	}
#stockquotes .company {
	font-weight: bold;
	}
#stockquotes .last {
	float: left;
	margin-right: 10px;
	}
#stockquotes .posChange {
	color: #3A0;
	}
#stockquotes .negChange {
	color: #D10;
	}
#stockquotes .datetime {
	display:none;
	}
#rail #stockquotes #markets {
	font-size: 14px;
	}
#rail #stockquotes #indu,
#rail #stockquotes #comp,
#rail #stockquotes #spx,
#rail #stockquotes #quote,
.narrow #stockquotes #indu,
.narrow #stockquotes #comp,
.narrow #stockquotes #spx,
.narrow #stockquotes #quote {
	width: 290px;
	padding: 5px 5px 5px 10px;
	float: none;
	margin-bottom: 2px;
	border-width: 1px;
	}
#rail #stockquotes #quote,
.narrow #stockquotes #quote {
	padding: 8px 6px 6px 10px;
	}
#rail #stockquotes #quote-label,
.narrow #stockquotes #quote-label {
	font-size: 14px;
	margin-left: 0;
	}
#rail #stockquotes #quote-input,
.narrow #stockquotes #quote-input {
	width: 180px;
	font-size: 12px;
	}
#rail #stockquotes .company,
.narrow #stockquotes .company {
	font-size: 16px;
	float: left;
	}
#rail #stockquotes .last,
.narrow #stockquotes .last {
	font-size: 16px;
	float: none;
	margin-right: 0;
	text-align: right;
	}
#rail #stockquotes .change,
.narrow #stockquotes .change {
	font-size: 16px;
	text-align: right;
	}


div.leadcolumn1,
div#leadcontent-main .headlineDivider {
	margin-bottom: 2px;
	margin-top: -5px;
	clear: left;
	border-top: 0;
	border-bottom: 1px solid;
	}
div#leadcontent-main div#slideContainer {
	padding-left: 0;
	}
div.leadcolumn1,
div.leadcolumn2,
div#leadcontent-main .headline-container,
div#leadcontent-main .slide-container,
div#leadcontent-main .headlineDivider {
	border-color: #DDD !important;
	}
div#branding.thirdParty {
	background-color: transparent;	
	}
div#branding.thirdParty div#classified-bar{
	background-image: none;
	}
div#toolbarthirdparty {
	background-color: #000;
	padding: 5px 0;
	}
div#headerthirdparty {
	background:#FFF;
	margin: 0;
	padding: 5px 0;
	}
div#breadcrumbthirdparty {
	padding-top: 5px;
	}
div#breadcrumbthirdparty, div#breadcrumbthirdparty a{
	color: #FFF;
	}
div#slideContainerSmall #main-slide1 img {
	display: inline;
	}
img.icon {
	height: auto;
	width: auto;
	}
div.iconBlock {
	padding: 1px 0;
	}

.date {
	color: #930000;
	}
div.ad {
	padding-bottom: 20px;
	padding-top: 14px;
	}
div.wide-text-ads {
	border: 1px solid #E7E7E7;
	}
table.cubeAd {
	background: transparent;
	}
table.cubeAd .adLabel {
	color: #888;
	font: 10px/10px Arial, Helvetica, sans-serif;
	text-transform: lowercase;
	letter-spacing: 1px;
	padding-bottom: 3px;
	}
table.cubeAd .miscAd {
	background: #CCC;
	padding: 15px 0;
	}
#tg-widget,
input,
select,
table {
	font-family: Georgia, "Times New Roman", Times, serif;
	}
div.mezzanine h2.header {
	padding-left: 0;
	}
div.mezzanine.for4 li.mezzitem {
	margin-left: 0;
	margin-right: 2%;
	}
.bigstory {
	padding: 0 5px 0 0;
	}
div.ruleModule {
	margin-bottom: 16px;
	}
.rule-horizontal-line {
	border-color: #DDD;
	}
#sliderLeftArrow {
	background: url(left-slider-arrow.gif.1) no-repeat;
	}
#sliderRightArrow {
	background: url(right-slider-arrow.gif.1) no-repeat;
	}
div.headline-slider {
	background-color: #DEDEDE;
	}
div.headline-slider a {
	color: #FFF;
	}
div.headline-slider a.item {
	background-color: #333;
	background-image: none;
	}


/* Market Requested Styles */

.center {
	cellpadding: 0;
	cellspacing: 0;
	border: 0;
	width: 630px;
	margin-bottom: 12px;
	}
.center_left {
	width: 400px;
	padding-right: 5px;
	border-right: 1px solid #DDD;
	vertical-align: top;
	}
.center_left_noborder {
	width: 400px;
	padding-right: 6px;
	vertical-align: top;
	}
.center_right {
	padding-left: 8px;
	width: 230px;
	vertical-align: top;
	}
.center_three_column tr td {
	width: 33%;
	margin-top: 4px;
	vertical-align: top;
	}
.center_label {
	color: #2262CC;
	font-size: 11px;
	font-weight: normal;
	}
.center_brief {
	margin-bottom: 5px;
	font-size: 13px;
	line-height: 18px;
	}
.center_brief .center_label {
	color: #2262CC;
	font-size: 11px;
	font-weight: normal;
	}
.center_morenewslink {
	font-size: 14px;
	line-height: 19px;
	color: #000;
	margin-bottom: 10px;
	}
.center_morenewslink h1,
.center_morenewslink h2,
.center_morenewslink h3 {
	font-size: 14px;
	color: #000;
	text-indent: 0;
	}
.center_heddeck_rule {
	border-bottom: 1px solid #DDD;
	padding-bottom: 14px;
	margin-bottom: 14px;
	}
.center_heddeck_norule {
	padding-bottom: 7px;
	}
.center_heddeck_rule .byline,
.center_heddeck_norule .byline {
	margin-top: 1px;
	}
.center_photo {
	margin-top: 4px;
	margin-bottom: 4px;
	}
.center_credit {
	text-align: right;
	margin-top: 1px;
	margin-bottom: 1px;
	font-size: 10px;
	font-weight: normal;
	color: #000;
	}
.center_cutline {
	text-align:left;
	font-size: 10px;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 6px;
	}
.center_img_right {
	float: right;
	margin: 0 0 5px 5px;
	}
div.blurb ul,
div.blurb ol,
div.customform ul,
div.customform ol,
div.email-form#content ul,
div.email-form#content ol .center .center_bullet,
.center_bullet {
	list-style-position: inside;
	list-style-type: disc;
	margin-top: 5px;
	margin-left: 10px;
	font-size: 13px;
	position: relative;
	}
.center_leadin {
	color: #000;
	font-weight: normal;
	}
.center_byline {
	font-size: 11px;
	margin: 4px 0 3px;
	}
.center_timestamp {
	color: #930000;
	font-size: 11px;
	font-style: italic;
	}
.center_headline44,
.center_headline44 h1 {
	color: #000;
	font-size: 44px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	}
.center_headline42,
.center_headline42 h1 {
	color: #000;
	font-size: 42px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	}
.center_headline40,
.center_headline40 h1 {
	color: #000;
	font-size: 40px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	}
.center_headline36,
.center_headline36 h1 {
	color: #000;
	font-size: 36px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	}
.center_headline34,
.center_headline34 h1 {
	color: #000;
	font-size: 34px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	}
.center_headline32,
.center_headline32 h1 {
	color: #000;
	font-size: 32px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	}
.center_headline30,
.center_headline30 h1 {
	color: #000;
	font-size: 30px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	}
.center_headline28,
.center_headline28 h1 {
	color: #000;
	font-size: 28px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	}
.center_headline26,
.center_headline26 h1 {
	color: #000;
	font-size: 26px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	}
.center_headline25,
.center_headline25 h1 {
	color: #000;
	font-size: 25px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	}
.center_headline24,
.center_headline24 h1 {
	color: #000;
	font-size: 24px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	}
.center_headline23,
.center_headline23 h1 {
	color: #000;
	font-size: 23px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	}
.center_headline22,
.center_headline22 h1,
.center_headline22 h2 {
	color: #000;
	font-size: 22px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	}
.center_headline22  a:link,
.headline22 a:hover,
.center_headline22 a:active,
.headline22 a:visited {
	color: #000;
	}
.center_headline20,
.center_headline20 h1,
.center_headline20 h2 {
	color: #000;
	font-size: 20px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	}
.center_headline20 a:link,
.center_headline20 a:hover,
.center_headline20 a:active,
.center_headline20 a:visited {
	color: #000;
	}
.center_headline18,
.center_headline18 h1,
.center_headline18 h2 {
	color: #000;
	font-size: 18px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	}
.center_headline18 a:link,
.center_headline18 a:hover,
.center_headline18 a:active,
.center_headline18 a:visited {
	color: #000;
	}
.center_headline16,
.center_headline16 h1,
.center_headline16 h2 {
	color: #000;
	font-size: 16px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	}
.center_headline16 a:link,
.center_headline16 a:hover,
.center_headline16 a:active,
.center_headline16 a:visited {
	color: #000;
	}
.center_headline14,
.center_headline14 h1,
.center_headline14 h2 {
	color: #000;
	font-size: 14px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	}
.center_headline14 a:link,
.center_headline14 a:hover,
.center_headline14 a:active,
.center_headline14 a:visited {
	color: #000;
	}
	
/* Gen Merch Styles */	
.comp-sectionhead input { font: normal 11px arial, sans-serif; }
/* compressor content classes */
.comp-fieldcontent { font-size: 12px; font-family: arial, verdana, sans-serif; color: #000000 }
.comp-fieldcontent a { font-weight: bold }
.comp-searchfields { font-size: 12px; font-family: arial, verdana, sans-serif; color: #000000 }
.comp-searchfields a { font-weight: bold }
.comp-advsearch { font-size: 11px; font-family: arial, verdana, sans-serif; color: #000000 }
.comp-advsearch a { font-weight: bold }
.comp-find-options { font-size: 10px; font-family: arial, verdana, sans-serif; color: #000000 }
.comp-find-options a { font-weight: bold }
.comp-resultsnav { font-size: 12px; font-family: arial, verdana, sans-serif; color: #fff }
.comp-resultsnav a { font-weight: bold; color: #fff }

/* headlines */
.comp-printhead { font: bold 24px arial, verdana, sans-serif; color: #000000; }
.comp-printhead a:active { color: #666666; }

.comp-keywords { font: bold 16px arial, verdana, sans-serif; color: #000000; }
.comp-keywords a:active { color: #666666; }

.comp-fieldhead { font: bold 12px arial, verdana, sans-serif; color: #fff; color: #000000; }
.comp-fieldhead a:active { color: #666666; }

.comp-sectionhead { font: bold 24px arial, verdana, sans-serif; color: #fff; color: #fff; }
.comp-sectionhead a { color: #fff; }

.comp-detailhead { font: bold 14px arial, verdana, sans-serif; color: #fff; }
.comp-detailhead a { color: #fff; }

.comp-adsfound { font: bold 18px arial, verdana, sans-serif; color: #fff; }
.comp-adsfound a { color: #fff; }

/* related links classes */
.comp-relatedlinks { font: normal 11px arial, verdana, sans-serif; color: #000000; }

/* rows */
tr.comp-header-row { background-color: #083973; }
tr.comp-content-row { background-color: #e3ecf8; }
tr.comp-white-row { background-color: #fff; }
div.button { background-color: #083973; padding: 4px; width: 420px; }
div.searchbox { background-color: #e3ecf8; padding: 4px; width: 420px; }
div.contentbox { background-color: #fff; padding: 4px; width: 420px; }

/* spacers */
.comp-spacer10 { font-size: 10px; font-family: arial, sans-serif; line-height: 10px }
.comp-spacer9 { font-size: 9px; font-family: arial, sans-serif; line-height: 9px }
.comp-spacer8 { font-size: 8px; font-family: arial, sans-serif; line-height: 8px }
.comp-spacer7 { font-size: 7px; font-family: arial, sans-serif; line-height: 7px }
.comp-spacer6 { font-size: 6px; font-family: arial, sans-serif; line-height: 6px }
.comp-spacer5 { font-size: 5px; font-family: arial, sans-serif; line-height: 5px }
.comp-spacer4 { font-size: 4px; font-family: arial, sans-serif; line-height: 4px }
.comp-spacer3 { font-size: 3px; font-family: arial, sans-serif; line-height: 3px }
.comp-spacer2 { font-size: 2px; font-family: arial, sans-serif; line-height: 2px }
.comp-spacer1 { font-size: 1px; font-family: arial, sans-serif; line-height: 1px }

.reNavbar { font: bold 13px arial, sans-serif; color: #fff; background-color: #4A688C; }
.reNavbar a:link, .reNavbar a:active { color: #fff; }
.reNavbar a:visited { color: #C0C0C0; }

.find_text1 { font: normal 11px Arial, Verdana, sans-serif; }
.find_text2 { font: bold 10px Arial, Verdana, sans-serif; color: #669933; }
.find_text2 a:link { color: #669933; }
.find_text2 a:visited { color: #669933; }
.find_text3 { font: bold 10px Arial, Verdana, sans-serif; }
.find_text4 { font: bold 12px Arial, Verdana, sans-serif; }
.sell_lnk { font: bold 11px Arial, Verdana, sans-serif; color: #669933; }
a.sell_lnk { color: #336699; }

.sell_header { font: bold 11px Arial, Verdana, sans-serif; color: white; }
.sell_text { font: 11px Arial, Verdana, sans-serif; }
.sell_lnk { font:  bold 11px Arial, Verdana, sans-serif; color: #336699; }
a.sell_lnk { color: #336699; }	

/* Registration */

div.register div#heading a:link,
div.register div#heading a:visited,
div.register div#heading a:hover,
div#loginbox a:link,
div#loginbox a:visited,
div#loginbox a:hover
{
	font-weight: bold;
}

/* TIR-2050 */
div.thirdPartyContent .cb_style img {
	display: inline;
}
div#footer div#footertext ul.links {
	clear:both;
	padding-bottom:3px;
}
div#footertext ul li p {
	clear:left
}
#columnist .rail  ul.recent-columns li {
	border-top:1px dotted #DDD; 
}
#columnist .columnist-email a {
	text-decoration:underline;
}
ul.recent-columns h5 {
	font-size:17px;
	line-height:21px;
}
#promo-rail div.archiveSearch {
	padding: 20px;
	border: solid 1px #CCC;
}
div.archiveSearch h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 22px;
	color: #000;
}
div.archiveSearch form#lat_archives {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 17px;
	color: #000;
	padding: 10px;
}
div.archiveSearch form#lat_archives input {
	margin: 5px;
}
div.archiveSearch a {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #000;
}
div.archiveSearch a #archiveArrows {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #2262cc;
	display: inline;
}
div.archiveSearch a img {
	border: none;
	padding: 20px;
	margin-left:27px;
}

/* BAQ-31 */
div.google-ad-story-bottom {
	width: 600px;
	margin: 16px auto 0;
	border-bottom: 1px solid #e7e7e7;
	display: block;
}

/* # 17799 */
div.featurePromo ul.feedMasherList {
   color: #000;
}

/* div#commentPost {
	background-color: #000; 
	color:#FFF; 
	font-weight:bold; 
	padding-bottom:6px;
	padding-top:6px;
	padding-left:6px;
} commented out for tugs */
/* div#commentPost a {font-weight:bold; color:#FFF;} */

/* /video */

body#videofront ul#root li a.mainNav span {
	
	padding-right:6px !important;
	
}
/* carnival */
body#carnival{color:black;margin:0;text-align:center;}

#carnival_logo{background:transparent url(logoSmall.png) repeat scroll 0 0;height:64px;width:414px;margin:5px 55px;}
#carnival h2{font-size:18px;}
.signon-content .required_label span,.signon-frame .required_label span{color:red;}
.signon-frame input.error{border:1px solid red;}
.signon-frame span.signon-error{color:red;}
.signon-frame h2{font-size:18px;}
#carnival #content{width:660px;border:1px solid #000;overflow:hidden;}
#carnival #content #providerChoiceIntro,#carnival #content #providerChoice{margin:0 10px;}
#carnival #content .additionalOptions{margin:10px 10px;}
/* end carnival */
/* tugs */
div#content.article #gallery-subcontent div h3 { color:#000; }
/* end tugs */
