div.poll {
    border: 1px solid #ddd;
    padding: 10px;
}
div#content.poll {
    border: 0;
    padding: 0;
}
div#content.poll h1 {
    margin-bottom: 5px;
}
div.poll h4 {
    font-size: 14px;
    margin-bottom: 5px;
}
div.poll p.description {
    margin-bottom: 5px;
}
div.poll p.question {
    font-weight: bold;
    margin-bottom: 5px;
}
div.poll ul {
    margin-bottom: 5px;
}
div.poll ul li {
    margin-bottom: 5px;
}
div.poll ul li span.radio {
    margin: 0 10px;
}
div.poll div.bar {
    width: 100%;
}
div.poll div.bar p.colored {
    padding: 1px 15px 1px 5px;
    font-size: 11px;
    color: #fff;
    background-color: #AF0116;
}
div.poll div.question-submit {
    width: 100%;
    text-align: right;
}
div.poll div.question-submit input.submit {
	background: #3e667d;
	color: #fff;
	border: 0px;
	padding: 3px;
	font-size: 10px;
}
div.poll div.captcha-content {
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #f7f7f7;
}
div.poll input.captcha-input {
    margin-top: 10px;
}
div.poll div.captcha-image img {
    border: 1px solid #ddd;
    margin: 10px auto;
}
div.poll div#related-links {
    border: 1px solid #ddd;
    margin-top: 20px;
    padding: 10px;
    width: 300px;
}
div.poll div#related-links ul {
    margin-bottom: 0;
}

div#story-body div.articlerail div.poll { width:185px;}
div#story-body div.poll div.captcha-image img {width:160px;}

div.articlerail div.articleRelates div.poll { width:185px;}
div.articlerail div.articleRelates div.poll div.captcha-image img {width:160px;}