.topix-related {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, san-serif;
	font-size: 11px;
}
.topix-related h4 {
	margin: 0px;
	padding: 0px;
}
.topix-related p {
	margin: 0px;
	padding: 0px;
}
.topix-related a:link {
	color:#003366;
}

.topix-related a:visited {
	color:#003366;
}

.topix-related a:active {
	color:#003366;
}

.topix-related a:hover {
	color:#666666;
}

.topix-related ul {
	margin: 0px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.topix-related  ul li {
	margin-left: 18px;
	padding-top: 0px;
	padding-bottom: 2px;
}
div.wide-text-ads {
    background-color: white;
    border: 1px solid #AAAAAA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    padding: 0px;
}

div.wide-text-ads div.text-ad {
    overflow: hidden;
    padding: 6px;
}

div.wide-text-ads div.ads-label {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    padding: 3px 3px 3px 5px;
    /* background-color: #AAAAAA; */
}

div.wide-text-ads div.ads-label a {
    color: black;
    text-decoration: none;
}

div.wide-text-ads div.ads-label a:hover {
    text-decoration: underline;
}

div.wide-text-ads a.ad-link {
    font-weight: bold;
    color: #003399;
    text-decoration: none;
}

div.wide-text-ads a.ad-link:hover {
    text-decoration: underline;
}

div.wide-text-ads a.ad-body {
    color: #000000;
    text-decoration: none;
}

div.wide-text-ads a.ad-body:hover {
    text-decoration: none;
}

div.wide-text-ads a.visible-url {
    color: #003399;
    font-size: 11px;
    text-decoration: none;
}

div.wide-text-ads a.visible-url:hover {
    text-decoration: underline;
}

/* Google Maps */

div.address div#content_map {
    width: 500px;
    height: 300px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}
div.address div#content_map p#bottomtext {
    margin-top: 140px;
    font-size: 11px;
    color: #666;
    text-align: center;
}
div.address div#content_map.module {
    width: 300px;
    height: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
}
div.address h1 {
    margin-bottom: 10px;
}
div.address div.formitem {
    margin-bottom: 10px;
}

/* BAQ-31 */
div.wide-text-ads {
	font-family: Georgia, "Times New Roman", Times, serif;
	border: 1px solid #e7e7e7;
	color: #000;
	font-size: 14px;
}
div.wide-text-ads div.ads-label {
	font-size: 10px;
	color: #999;
	font-family: Arial;
}
div.wide-text-ads a.ad-link {
	color: #000;
}
div.wide-text-ads a.visible-url {
	color: #999;
}
div.wide-text-ads div.ads-label a {
	color: #999999;
	text-transform: uppercase;
}