div.articlebody,div#special-package {
color:#292727;
}

div#content.article h1,div#content.article h2,div#content.article h3,div#special-package div.special h1,div#special-package div.special h2,div#special-package div.special h3 {
color:#063640;
}

div#content.article h2 {
padding-bottom:5px;
}

div#content.article div.story,div#content.special-package div#story-body {
background-image:url(story_bg.jpg);
background-repeat:repeat-x;
background-color:#f8f8f8;
border:1px solid #b8c9ce;
margin-bottom:20px;
padding:5px;
}

div#content.article h1,div#content.special-package h1 {
font-size:26px;
position:relative;
margin:10px 0 0;
}

div#content.special-package p#description {
margin:5px 0 10px;
}

div#content.special-package div.story-item {
margin:20px 0;
}

div#content.special-package div.story-item div.contents img {
float:left;
margin-right:10px;
}

div.article ul li {
list-style-image:none;
list-style-position:inside;
list-style-type:disc;
}

div.article div.promoRSS ul li {
list-style-type:none;
}

div.article div.promoRSS ul li.bullets {
list-style-type:disc;
}

div#content.article ol li {
list-style-type:decimal;
}

div#content.article span.toolSet {
	margin-right: -50px;
	margin-bottom: 10px;
	display: inline-block;
	}
div#content.article div.tools {
	display: block;
	clear: both;
	position: relative;
	}
div.article#content div.tools ul {
	display: block;
	}
div.article#content div.tools ul li {
	list-style: none outside;
	vertical-align: middle;
	display: inline-block;
	float: left;
	margin: 0 8px 0 0;
	line-height: 0;
	}
#content #articletools-fontsize {
	margin-right: -10px;
	}
#content #articletools-fontsize .text {
	vertical-align: middle;
	margin-left: 3px;
	font-weight: bold;
	}
#content #articletools-fontsize .arrow {
	vertical-align: middle;
	font-size: 0;
	}
#content #articletools-fontsize .arrow-img {
	margin-right: 2px;
	}
div#content.article div.byline {
	color: #292727;
	font-size: 11px;
	float: left;
	}
div#content.htmlstory div.byline {
	float: none;
	}

div.article div.byline span {
display:block;
}

div.article div.byline p span.byline.bordered {
margin-right:5px;
padding-right:5px;
border-right:1px solid #666;
}

div.article div.byline p.date {
margin-top:2px;
}

div.article div.byline p.date span {
display:inline;
}

div.article p.last-updated {
font-style:italic;
color:#666;
margin-bottom:5px;
clear:both;
}

div.article div.thumbnail {
padding-right:10px;
}

div.article div#story-body div.thumbnail {
text-align:center;
}

div.article div#story-body div.thumbnail div.holder {
display:inline-block;
text-align:left;
margin:0 auto 5px;
}
* html div.article div#story-body div.thumbnail div.holder {
display:inline;
}
*:first-child+html div.article div#story-body div.thumbnail div.holder {
display:inline;
}

div.article div#story-body div.thumbnail img,div.article div.story div.thumbnail img {
margin:0 auto;
}

div.thumbnail p.small {
margin:10px 0 0;
}

div.articlebody p {
margin:10px 0;
}

p.fontsize {
float:right;
}

em.leadin {
font-weight: bold;
}

div.article p.fontsize span.text,div.storygallery p.fontsize span.text,div.special-package p.fontsize span.text {
float:left;
margin-right:3px;
}

div.article p.fontsize a.arrow,div.storygallery p.fontsize a.arrow,div.special-package p.fontsize a.arrow {
float:left;
margin-left:2px;
}

/* Article Tools */
div#moduleArticleToolsContainer {
margin-bottom:15px;
text-align:center;
width:600px;
padding:15px 0;
}

div#moduleArticleTools {
position:relative;
text-align:center;
padding:10px 0;
}

div#moduleArticleTools ul {
	border-color: #999;
	border-style: solid;
	border-width: 1px 0;
	height: 48px;
	}
div#moduleArticleTools ul li {
	background-image: none;
	line-height: 47px;
	list-style: none;
	white-space: nowrap;
	vertical-align: middle;
	display: inline;
	float: left;
	padding: 0 5px;
	}
* html div#moduleArticleTools ul li {
	font-size: 42px;
	}
* html #moduleArticleTools #sb_sharethis {
	font-size: 0;
	}
#gallery-content-popup #moduleArticleTools #sb_sharethis {
	line-height: 48px;
	}
#moduleArticleTools #sharethis_1 {
	display: inline-block;
	}
*:first-child+html #moduleArticleTools #sharethis_1 {
	padding-top: 3px;
	}
* html #moduleArticleTools #sb_sharethis iframe {
	margin-top: 16px;
	}
*:first-child+html #moduleArticleTools #sb_sharethis iframe {
	margin-top: 9px;
	}
div#moduleArticleTools #share-tool {
	height:18px;
	margin-bottom:-5px;
	}
div#moduleArticleTools ul li a {
	font-size: 10px;
	font-weight: 400;
	vertical-align: middle;
	}
div#moduleArticleTools ul li a.stbutton {
	background-position: 0 1px !important;
	padding-top: 1px;
	padding-bottom: 3px;
	padding-right: 0;
	}
* html #moduleArticleTools #rating span,
* html div#moduleArticleTools ul li a span,
div#moduleArticleTools ul li img {
	display: inline;
	vertical-align: middle;
	margin-right: 4px;
	line-height: 16px;
        float:none; /* minor change */
	}
@media screen and (-webkit-min-device-pixel-ratio:0){
	#zc-wrapper .zc-textBox {
		padding: 3px 2px 2px 4px;
		}
	}
#moduleArticleTools #rating span {
	line-height: 18px;
	}
* html #moduleArticleTools.sb_digg img,
* html #moduleArticleTools.sb_stum img {
	padding: 1px 0;
	}
#moduleArticleTools #rating span {
	margin-rigth: 4px;
	}

div#moduleArticleTools div#shareImgContainer {
line-height:0;
margin:0;
}

div#moduleArticleTools div li#share-bookmarks {
_padding-left:0;
padding-left:0;
}

div#moduleArticleToolsContainer div#moduleArticleTools ul#social-bookmarks {
background-color:#FFF;
border:1px solid #999;
position:absolute;
z-index:30;
padding-left:10px;
text-align:left;
width:265px;
top:40px;
left:20px;
}

ul#social-bookmarks {
margin:0 !important;
padding:10px 0;
}

ul#social-bookmarks li {
float:left;
padding-bottom:5px;
padding-right:5px;
padding-left:20px;
list-style-type:none;
margin:0 !important;
}

ul#social-bookmarks li a {
font-size:10px;
font-weight:400;
}

ul#social-bookmarks li.digg {
background:transparent url(icon-digg.gif) no-repeat scroll left center;
}

ul#social-bookmarks li.delicious {
background:transparent url(icon-delicious.gif) no-repeat scroll left center;
}

ul#social-bookmarks li.facebook {
background:transparent url(icon-facebook.gif) no-repeat scroll left center;
}

ul#social-bookmarks li.fark {
background:transparent url(icon-fark.gif) no-repeat scroll left center;
}

ul#social-bookmarks li.google {
background:transparent url(icon-google.gif) no-repeat scroll left center;
}

ul#social-bookmarks li.newsvine {
background:transparent url(icon-newsvine.gif) no-repeat scroll left center;
}

ul#social-bookmarks li.reddit {
background:transparent url(icon-reddit.gif) no-repeat scroll left center;
}

ul#social-bookmarks li.yahoo {
background:transparent url(icon-yahoo.gif) no-repeat scroll left center;
}

div.toppaginate ul.paginate li,ul.article-nav li {
display:inline;
margin-right:5px;
}

div.toppaginate ul.paginate li a,ul.article-nav li a {
font-weight:400;
text-decoration:underline;
}

div.toppaginate ul.paginate li.next,div.toppaginate ul.paginate li.previous,ul.article-nav li.next,ul.article-nav li.previous {
font-style:italic;
}

p.copyright {
position:relative;
font-size:11px;
color:#666;
margin-top:10px;
clear:left;
}

div.mapmashup-650 {
width:100%;
height:350px;
}

div#story-body.articlebody div.toppaginate ul,ul.article-nav {
text-align:right;
width:610px;
}

div.toppaginate ul {
position:relative;
text-align:right;
}

div#story-body.articlebody div.storyextras {
clear:left;
float:left;
}

div#story-body.articlebody div.storyextras div.articlerail {
margin-top:0;
}

/** Related items **/
div.article div.articlerail,div.storygallery div.storyGalleryRail {
float:left;
width:234px;
clear:both;
position:relative;
z-index: 4;
margin:15px 10px 10px 0;
}

.galleryModule {
margin-bottom:20px;
position:relative;
overflow: hidden;
}

div.article div.articlerail ul,div.related ul,div.storygallery div.storyGalleryRail ul,div.storygallery div.storyGalleryRail ul {
margin:0;
padding:0;
}

div.article div.articlerail ul li,div.related ul li,div.storygallery div.storyGalleryRail ul li,div.storygallery div.storyGalleryRail ul li {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}

div.article div.articlerail ul li,div.storygallery div.storyGalleryRail ul li,.relatedExtraItem {
padding-bottom:5px;
margin-left:10px;
}

.relatedExtraItem {
text-align:left;
}

div.article div.articlerail ul li.relatedTitle,div.storygallery div.storyGalleryRail ul li.relatedTitle {
font-size:14px;
font-weight:700;
clear:both;
margin-left:0;
position:relative;
}

div.article div.articlerail ul li img.thumbnail,div.storygallery div.storyGalleryRail ul li img.thumbnail {
float:left;
margin:0 5px 5px 0;
}

div.article div.articlerail ul li div#mapdiv,div.storygallery div.storyGalleryRail ul li div#mapdiv {
height:250px;
width:300px;
overflow:hidden;
margin-top:2px;
}

div.article div.articlerail h3,div.storygallery div.storyGalleryRail h3 {
margin-bottom:5px;
font-size:15px;
}

div.article div.articlerail li.relatedTitle a,div.storygallery div.storyGalleryRail li.relatedTitle a {
font-weight:700;
}

div.article div.articlerail li.columnistBio,div.storygallery div.storyGalleryRail li.columnistBio {
margin:0;
}

div.article div.articlerail li.columnistBio img,div.storygallery div.storyGalleryRail li.columnistBio img {
padding-bottom:5px;
padding-left:10px;
}

div.articleRelates li.relatedTitle span {
float:left;
margin-top:4px;
}

ul#columnist li {
margin:0;
padding:0;
}

div#story-leftrail-ad {
clear:both;
display:inline-block;
text-align:center;
width:100%;
margin-bottom:10px;
}

div#story-leftrail-ad img {
display:inline;
float:none;
}

div.articleRelates,div.storyGalleryRelates {
padding:5px;
}

div.articlerelates div.articleRelates {
	margin: 0;
	}

#extraPhotos,#extraVideos,#extraAudio,#extraMultimedia,#extraStories,#extraLinks,#extraTopics {
background-color:#EEF1F1;
border:1px solid #B8C9CE;
left:1px;
position:absolute;
width:190px;
z-index:3;
padding:10px;
}

li.viewMore {
display:block;
text-align:right;
position:relative;
}

span#extraPhotos li {
margin-left:0;
}

#module-ratings-and-comments {
padding:10px;
}

div#content.article #module-ratings-and-comments h2 {
padding-left:0;
color:#fff;
}

div#content.article #gallery-subcontent {
position:relative;
padding:10px;
}

div#content.article #gallery-subcontent div h3 {
color:#fff;
font-size:15px;
}

.closeBox {
position:absolute;
right:5px;
top:5px;
border:1px solid #B8C9CE;
cursor:pointer;
display:inline;
width:8px;
height:8px;
text-align:center;
line-height:8px;
font-size:8px;
margin:0;
padding:0;
}

div#form-content {
float:left;
clear:left;
width:100%;
}

div.storygallery ul#story-body li {
margin-bottom:20px;
}

div.storygallery ul#story-body li div.story {
width:100%;
}

div.storygallery ul#story-body li div.story img.thumbnail {
margin-right:10px;
margin-bottom:10px;
float:left;
}

.galleryModule img,div.article div.articlerail img,div.storygallery div.storyGalleryRail img,.rating-icons img {
float:left;
margin-right:5px;
}
div#content.article span.toolSet img {
	float: none;
	display: inline;
	vertical-align: middle;
	margin-right: 3px;
	}
#content #articletools-email .icon,
#content #articletools-print .icon {
	line-height: 16px;
	height: 16px;
	width: 17px;
	}
#articletools-share a.stbutton {
	padding: 1px 0 1px 22px;
	background-position: 0 1px !important;
	}
* html #articletools-share a.stbutton {
	line-height: 16px;
	}
*:first-child+html #articletools-share a.stbutton {
	line-height: 16px;
	}
#articletools-share .stbuttontext {
	line-height: 14px;
	}	

div.article div.thumbnail,.rating-icons img,div#results {
float:left;
}

div.toppaginate,ul.article-nav,div.storygallery h1,div.storygallery p.description,div.storygallery p.credit {
margin-bottom:10px;
}

div.article div.articlerail ul li.viewMore a,div.storygallery div.storyGalleryRail ul li.viewMore a,div.article div.articlerail a,div.storygallery div.storyGalleryRail a {
font-weight:400;
}

div.articleRelates li,div#columnist {
clear:both;
}
/* TIR-400 */
.registerPop div#content.article h3{
color:#333;
}
div#content.article #loginbox h3{
    color:#333;
}
div#story-body-text {
position:relative;
}
div.article div.thumbnail table {
margin:0 auto;
}