#gallery-content-popup #gallery-photos-more {
	margin-left: -5px;
	margin-top: 14px;
	}

div#gallery-subcontent div#content {width:580px;}	
div#gal-content {width:580px;}

#gallery-content-popup #gallery-photos-more div.list-left {
	border: 0;
	padding: 4px 7px 0;
	margin-left: 0;
	margin-top: 2px;
	height: auto;
	float: left;
	font-weight: bold;
	}
#gallery-content-popup #gallery-photos-more li {
	background: #638792 url(tab_off.gif) repeat-x;
	border: 1px solid #BED0D5;
	float: left;
	margin: 0 1px 0 0;
	padding: 0;
	text-align: center;
	width: 34px;
	height: 20px;
	line-height: 20px;
	position: relative;
	}
#gallery-content-popup #gallery-photos-more li a {
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	display: block;
	}
#gallery-content-popup #gallery-photos-more li.current a {
	background: #013445 url(tab_over.gif) repeat-x;
	}
#gallery-content-popup #gallery-photos-more li a:hover {
	background: #7BBED5;
	}
#gallery-content-popup #gallery-photos-more li#photo-next-left,
#gallery-content-popup #gallery-photos-more li#photo-next-right {
	border: 0;
	margin: 0;
	width: 25px;
	height: 22px;
	background: transparent;
	text-indent: -6000px;
	}
#gallery-content-popup #gallery-photos-more li#photo-next-left a {
	height: 20px;
	background: url(gallery-index_arrow.gif) no-repeat 0 5px;
	}
#gallery-content-popup #gallery-photos-more li#photo-next-right a {
	height: 20px;
	background: url(gallery-index_arrow.gif) no-repeat right -18px;
	}
#photo-next-left div,
#photo-next-right div {
	display: none;
	}
#gallery-content-popup #gallery-videos-more {
	float: right;
	display: inline-block;
	padding: 5px;
	margin: 0 5px;
	width:150px;
	}
#gallery-content-popup #gallery-videos-more li.current {
	background-color: #013445;
	background-image: url(tab_over.gif);
	background-repeat: repeat-x;
	}
#gallery-content-popup #gallery-videos-more li:hover {	
	background-color: #7BBED5;
	background-image: none;
	}
#gallery-content-popup #gallery-videos-more li {
	margin: 0;
	padding: 5px;
	text-align: center;
	width: 140px;
	}
#gallery-content-popup #gallery-videos-more li a {
	color: #FFF
	}	
#gallery-content-popup #gallery-slideshow {
	display: inline-block;
	float: left;
	height: auto;
	margin: auto;
	text-align: center;
	padding-top: 12px;
	_overflow:hidden;
	}
#gallery-content-popup #gallery-slideshow .holder {
	margin: auto;
	display: inline-block;
	text-align: left;
	}
#gallery-content-popup #gallery-slideshow.ugcvideogallery {
	width: 420px;
}
#gallery-slideshow img.gallery-slideshow-photo {
	display: inline;	
	}
#gallery-photo-header {
	height: auto;
	}
#gallery-photo-header-title h1 {
	float: left;
	width: 450px;
	}
#gallery-photo-header-title .description {
	clear: both;
	}
#gallery-slideshow #photo-information h2{
	font-size: 110%;
	font-weight: bold;	
	padding: 0;
	}
#gallery-slideshow #photo-information {
	margin-top: 8px;
	font-size: 11px;	
	text-align: left;
	clear: both;
	}
#gallery-slideshow #gallery-photo-tools-upper {
	font-size: 11px;
	word-spacing: 0.1em;
	width: auto;
	text-align: center;
	}
#social-bookmarks {
	padding-top: 10px;	
	}
ul#social-bookmarks li a {
	padding-bottom: 4px;	
	}
#gallery-slideshow #gallery-photo-tools-upper ul li {
	display: inline-block;
	text-align: center;
	}
li#share-bookmarks{
	margin-left: 0;
	padding-bottom: 4px;	
	}
#gallery-slideshow #photo-information #pgCaption {
	font-size: 11px;	
	text-align: left;
	padding-top: 10px;
	padding-right: 10px;
	}
.holder table {
	width: 1px;
	}
#gallery-content-popup #gallery-photos-more,
div#moduleArticleTools {
	display: inline;
	float: left;
	position: relative;
	left: 50%;
	text-align: left;
	}   
#gallery-content-popup #gallery-photos-more ul,
div#moduleArticleTools ul {
	float: left;
	list-style: none;
	position: relative;
	left: -50%;
	}
#gallery-content-popup #gallery-photos-more div.list-right-new {
	border: none;	
	padding-top: 6px;
	}
#gallery-content-popup #gallery-photos-more div.list-middle {
	float: none;
	height: auto;
	margin: 0;
	padding: 0;	
	}
#fake-nav {
	width: 124px;
	float: left;	
	background-color: #CCC;
	height: 800px;
	}
#ugcHeader {
	text-align: center;
	display: block;
	}
#gallery-photo-tools {
	width: auto;
	}
#gallery-photo-tools #photo-tool-email {
	margin-left: 10px;
	float: left;
	}
#gallery-photo-tools #photo-tool-share {
	margin-left: 115px;	
	float: left;
	}
#gallery-photo-tools #photo-tool-buy {
	margin-left: 400px;
	}
#module-secondary-content-spotlight div.content {
	float: left;	
	}
#module-secondary-content-spotlight img.lead-photo {
	float: none;	
	}
#photoTabs {
	padding-top: 10px;	
	}
#gallery-top-photos div.item {
	height: 90px;
	width: 100px;	
	}
#gallery-top-photos #photo-left {
	clear: left;	
	}
#gallery-top-photos div.item img {
	margin: auto;	
	}
#gallery-top-photos p.view-all a {
	font-style: normal;	
	}
.next {
	padding-left: 5px;
	}
#gallery-content-popup a:link.referer,
#gallery-content-popup a:hover.referer,
#gallery-content-popup a:active.referer,
#gallery-content-popup a:visited.referer {
	font-size: 11px;
	padding: 10px 5px 0 0;
	float: right;
	}
#gallery-photo-header-title {
	margin-top: 0;
	padding: 10px 10px 0;
	}
li#share-bookmarks a.share {
	padding-left: 0;	
	}
#gallery-content-popup #gallery-photos-more div.list-right {
	border: none;	
	}
#module-ratings-and-comments  {
	text-align: left;
	position: relative;
	}
#photo-information h3,
#module-ratings-and-comments h3 {
	padding-bottom: 5px;
	color: #034;
	}
#photo-index {
	margin: 12px 0 -8px;
	}
.date {
	color: #D55317;
	font-size: 11px;
	}
#ugc-comment-form label {
	display: inline-block;
	padding-right: 10px;
	font-weight: normal;
	font-size: 11px;
	width: 100px;
	}
#ugc-comment-form textarea {
	width: 100%;
	height: 100px;
	}
#ugc-comment-form P span.tip input {
	width: auto;
	}
#ugc-comment-form div.submit {
	text-align: right;
	}
#ugc-comment-form div.submit input.submit {
	background: #3E667D;
	color: #FFF;
	border: 0;
	padding: 3px;
	font-size: 10px;
	}		
h5 {
	color: #063640
	}
#toolBox input.submit {
	float: right;
	margin: 0 5px;
	background-color: #638792;
	background-image: url(tab_off.gif);
	background-repeat: repeat-x;
	border: 1px solid #BED0D5;
	font-weight: bold;
	color: #FFF;
	font-size: 10px;
	padding: 3px;
	cursor: pointer;
	overflow: visible;
	}
.pick-rating {
	padding: 0;
	line-height: normal;
	}
.gallery-description {
	clear: both;
	}
div.ugc-report-comment-form {
	background-color:#EEEEEE;
	border: 1px solid #000;
	height:240px;
	left:325px;
	padding:5px;
	position:absolute;
	width:300px;
	z-index:9002;
}
div.ugc-report-comment-form p{
	font-weight:bold;
}
div.ugc-report-comment-form select,
div.ugc-report-comment-form textarea{
font-weight:normal;
}
