/* Weather Module CSS */

.skyline {
	height: 344px;
}

	.skyline .title {
		height: 30px;
		margin-bottom: 4px;
	}
	
		.skyline .title .titletabs {
			float: left;
			height: 30px;
			line-height: 30px;
			text-transform: uppercase;
			color: #fff;
			font-size: 16px;
		}
		
			.skyline .title .titletabs li {
				display: block;
				float: left;
				border-right: 1px solid #eee;
				margin-left: 10px;
			}
			
				.skyline .title .titletabs li a {
					padding-left: 40px;
					padding-right: 10px;
					display: block;
					text-decoration: none;
				}
					
				.skyline .title .titletabs li .sevenday {
					background: transparent url(tab01Background.png) no-repeat;
				}
				
				.skyline .title .titletabs li .localradar {
					background: transparent url(tab02Background.png) no-repeat;
				}
		
		.skyline .title .weatherLocations {
			position: absolute;
			right: 0;
			height: 30px;
			font-size: 14px;
			width: auto;
			z-index: 1000;
		}
			
			.skyline .title .weatherLocations .currentLocation {
				line-height: 30px;
				color: #fff;
				background: transparent url(locationBackground.png) no-repeat scroll right 5px;
			}
			
			.skyline .title .weatherLocations .locationList {
				top: 30px;
				padding: 8px 0;
			}
			
			.skyline .title .weatherLocations .locationList li {
				padding: 0 10px;
				line-height: 20px;
			}
			
				.skyline .title .weatherLocations .locationList li .zipField {
				}
			
					.skyline .title .weatherLocations .locationList li .zipField .weatherZipSearch {
						width: 50px;
						margin-top: 20px;
					}
			
	.skyline .forecasttab {
	}
	
		.skyline .rightnow {
			position: absolute;
			width: 212px;
			left: 0;
		}
		
		.skyline .plus01 {
			position: absolute;
			width: 124px;
			left: 216px;
		}
		
		.skyline .plus02 {
			position: absolute;
			width: 124px;
			left: 344px;
		}
		
		.skyline .plus03 {
			position: absolute;
			width: 124px;
			left: 472px;
		}
		
		.skyline .plus04 {
			position: absolute;
			width: 124px;
			left: 600px;
		}
		
		.skyline .plus05 {
			position: absolute;
			width: 124px;
			left: 728px;
		}
		
		.skyline .plus06 {
			position: absolute;
			width: 124px;
			left: 856px;
		}

			.skyline .day {
				height: 220px;
				z-index: 1;
			}
					
			.skyline .lightblue {
				background: transparent url(skyBackground.png) 0 0 repeat-x;
			}
			
			.skyline .blue {
				background: transparent url(skyBackground.png) 0 -220px repeat-x;
			}
			
			.skyline .darkblue {
				background: transparent url(skyBackground.png) 0 -440px repeat-x;
			}
			
			.skyline .lightgray {
				background: transparent url(skyBackground.png) 0 -660px repeat-x;
			}
			
			.skyline .gray {
				background: transparent url(skyBackground.png) 0 -880px repeat-x;
			}
			
			.skyline .red {
				background: transparent url(skyBackground.png) 0 -1100px repeat-x;
			}
			
		.skyline .nowdata {
			height: 86px;
			width: 212px;
			z-index: 1000;
			margin-top: 4px;
			background: #ccc;
			overflow: hidden;
		}
		
			.skyline .nowdata h3 {
				margin-left: 8px;
				padding-top: 8px;
				height: 27px;
			}
		
			.skyline .nowdata h4 {
				float: left;
				margin-left: 8px;
				font-weight: normal;
				font-size: 11px;
				height: 22px;
				line-height: 12px;
				overflow: hidden;
			}
		
			.skyline .nowdata h5 {
				float: right;
				margin-right: 8px;
				margin-top: 18px;
				font-size: 24px;
			}
			
		.skyline .data {
			position: absolute;
			height: 86px;
			width: 124px;
			z-index: 1000;
			margin-top: 4px;
			background: #ccc;
			overflow: hidden;
		}
				
			.skyline .data p {
				clear: both;
				font-size: 10px;
				text-align: center;
			}
				.skyline .data .hilo {
					font-size: 14px;
				}
				.skyline .data .hitemp {
					padding-right: 8px;
				}
			
				.skyline .data .lowtemp {
					padding-left: 8px;
				}
			
			.skyline .data h3 {
				margin-left: 8px;
				padding-top: 8px;
				height: 27px;
			}
		
			.skyline .data h4 {
				float: left;
				margin-left: 8px;
				margin-bottom: 10px;
				font-weight: normal;
				font-size: 11px;
				height: 22px;
				line-height: 12px;
				overflow: hidden;
			}
				
			.skyline .data img {
				margin: 10px auto;
				height: 80px;
			}
							
			.skyline .data .wind, .skyline .data .sunset {
				margin-bottom: 8px;
			}
						
		.skyline .skylineimage {
			position: absolute;
			z-index: 500;
		}
							
	.skyline .radartab {
		display: none;
		height: 310px;
	}