/*
Fichier definissant les styles propres a la CCI

Certains styles sont utilisables sous l'editeur Wysiwyg, il sont alors ecrits
dans le fichier cci_style_editor.css plutot qu'ici.
*/

LI {
	list-style-image: url(puceniveau2.gif);
	list-style-position:outside;
}

a:link, a:visited{
	text-decoration: none;
	color: #FF6600;
}
a:hover{
	text-decoration:underline;
	color: #FF6600;
}

BODY {
	FONT-SIZE: 100%;
	MARGIN: 5px;
	OVERFLOW: auto;
	COLOR: #274583;
	FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
	WHITE-SPACE: normal;
	BACKGROUND-COLOR: #c1dce3;
	text-align: left;
	empty-cells: show;
}

BODY.nomargin {
	FONT-SIZE: 100%;
	MARGIN: 0px;
	OVERFLOW: auto;
	COLOR: #000000;
	FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
	WHITE-SPACE: normal;
	BACKGROUND-COLOR: buttonface;
	text-align: left;
	empty-cells: show;
}
BODY.bodyblanc {
	BACKGROUND-COLOR: #ffffff;
}

/************  Gestion du mot de bienvenue  ********************/
.bienvenue{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bolder;
	text-transform: uppercase;
	color: #8fb0ec;
	text-decoration: none;
	height: 30px;
	text-align: center;
	vertical-align: bottom;
	letter-spacing: normal;
	word-spacing: normal;
}

.date_actus{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	font-style: italic;
	color: #FF6600;
	text-decoration: none;
	text-align: left;
	height: 18px;
	padding-bottom : 3px;
}

/************  Gestion du bandeau publicitaire  ********************/
.bandeauPub{
	padding-top : 0px;
	padding-bottom : 10px;
	font-family: Arial, helvetica, sans-serif;
	COLOR: #204D84;
	text-align: center;
	font-size: 8pt;
	font-weight: none;
	font-style : none;
	text-decoration : none;
}

/************  Gestion de la liste d'article a la une  ********************/
div.liste_titre{
	COLOR: #FF6900;
	font-family: Arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	font-style : none;
	text-align : left;
	text-decoration: none;
}
div.liste_date{
	COLOR: #FF6900;
	font-family: Arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: none;
	font-style : none;
	text-align : left;
	text-decoration: none;
}
div.liste_chapo{
	COLOR: #204D84;
	font-family: Arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: none;
	font-style : none;
	text-align : left;
	text-decoration: none;
}
div.lien_liste{
	COLOR: #204D84;
	font-family: Arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: none;
	font-style : none;
	text-align : left;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
}

/************  Gestion de la partie public et admin de la faq  ************/
td.faq_admin_theme{
	COLOR: #FFC000;
	font-family: Arial, helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	font-style : none;
	text-align : left;
	text-decoration: none;
}
td.faq_admin_good{
	COLOR: #656478;
	font-family: Arial, helvetica, sans-serif;
	font-size: 13pt;
	font-weight: bold;
	font-style : none;
	text-align : center;
	text-decoration: none;
}
td.faq_admin_sstitre2{
	COLOR: #656478;
	font-family: Arial, helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	font-style : none;
	text-align : left;
	text-decoration: none;
}
td.faq_admin_sstitre{
	COLOR: #656478;
	font-family: Arial, helvetica, sans-serif;
	font-size: 13pt;
	font-weight: bold;
	font-style : none;
	text-align : center;
	text-decoration: none;
}

td.faq_admin_question{
	COLOR: #656478;
	font-family: Arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	font-style : none;
	text-align : left;
	text-decoration: none;
}
td.faq_admin_titre{
	COLOR: #656478;
	font-family: Arial, helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	font-style : none;
	text-align : center;
	text-decoration: none;
}
a.faq_menu{
	COLOR: #656478;
	font-family: Arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	font-style : none;
	text-align : left;
	text-decoration: none;
}
a.faq_menu:hover{
	COLOR: #656478;
	font-family: Arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	font-style : none;
	text-align : left;
	text-decoration: underline;
}
td.faq_theme{
	COLOR: #656478;
	font-family: Arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	font-style : none;
}
a.faq_question{
	COLOR: #656478;
	font-family: Arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	font-style : none;
	text-decoration: none;
}
a.faq_question:hover{
	COLOR: #656478;
	font-family: Arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	font-style : none;
	text-decoration: underline;
}

td.faq_question{
	COLOR: #656478;
	font-family: Arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	font-style : none;
}
td.faq_reponse{
	COLOR: #656478;
	font-family: Arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: none;
	font-style : none;
}

/**********************  Gestion du bandeau  ******************************/
a.bandeau:link, a.bandeau:visited{
	color: #05728b;
	text-decoration: none;
}
a.bandeau:hover{
	text-decoration: underline;
	COLOR: #FF6600;
}
#divBandeau {
	width: 954px;
	background-color: #ffffff;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 10px;
	padding-bottom: 0px;
	vertical-align: bottom;
}
#tableBandeau {
	width: 954px;
	padding:0px;
	margin: 0px;
	border-width: 0px;
	background-color: #f5bd19;
	text-align: left;
	background-repeat:repeat-x;
	BACKGROUND-IMAGE: url(fond_bandeauhaut2.gif);
}
.imgRecherche {
	padding-left: 0px;
	padding-right: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 1px;
	margin-left: 2px;
	vertical-align: bottom;
}
.imgmenuhaut {
	padding-left: 4px;
	padding-right: 4px;
	width: 15px;
	FONT-SIZE: 70%;
	VERTICAL-ALIGN: middle;
	COLOR: #05728b;
	BORDER-BOTTOM: #ffffff 1px solid;
	BACKGROUND-COLOR: #f5bd19;
}
.tableOrange {
	width: 20%;
	text-align: left;
	VERTICAL-ALIGN: bottom;
	FONT-SIZE: 70%;
	COLOR: #05728b;
	background-color: #f5bd19;
	BORDER-BOTTOM: #ffffff 1px solid;
	BACKGROUND-COLOR: #f5bd19;
}
td.navigation {
	width: 8%;
	text-align: left;
	FONT-SIZE: 70%;
	VERTICAL-ALIGN: middle;
	COLOR: #05728b;
	BORDER-BOTTOM: #ffffff 1px solid;
	BACKGROUND-COLOR: #f5bd19;
}
td.separateur {
	width: 3px;
	FONT-SIZE: 70%;
	VERTICAL-ALIGN: middle;
	COLOR: #05728b;
	BORDER-BOTTOM: #ffffff 1px solid;
	BACKGROUND-COLOR: #f5bd19;
}
.find {
	padding-left: 7px;
	PADDING-BOTTOM: 1px;
	VERTICAL-ALIGN: bottom;
	WIDTH: 107px;
}
.blanc {
	width: 150px;
	BACKGROUND-COLOR: #ffffff;
}
.orange {
	width: 95px;
	FONT-SIZE: 70%;
	VERTICAL-ALIGN: middle;
	COLOR: #05728b;
	BORDER-BOTTOM: #ffffff 1px solid;
	BACKGROUND-COLOR: #f5bd19;
}
INPUT.findit {
	BORDER-RIGHT: #1e66ae 1px outset;
	BORDER-TOP: #1e66ae 1px outset;
	FONT-SIZE: 100%; 
	padding-top: 0px;
	margin-top: 0px;
	PADDING-BOTTOM: 1px;
	VERTICAL-ALIGN: bottom;
	BORDER-LEFT: #1e66ae 1px outset;
	WIDTH: 140px;
	COLOR: #1e66ae;
	BORDER-BOTTOM: #1e66ae 1px outset;
	HEIGHT: 16px;
	BACKGROUND-COLOR: #ffffff;
}
.form_faq
{
	font: 11px Arial;
	color: #01526B;
	border: 1px solid #01526B;
	background: #FFFFFF;
	marging-right:4px;
}

/**********************  Recherche  ******************************/
.detailTexte {
	padding-left: 0px;
	padding-bottom: 5px;
}

#formRecherche {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-right: 0px;
}
/**********************  Localisation dans le site  ******************************/
#localisation {
	width: 100%;
	border:0px;
	background-color: #ffffff;
	vertical-align: center;
	margin-top: 0px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 7pt;
	text-transform: lowercase;
	MARGIN-BOTTOM: 0px;
	COLOR: #f76c05;
	padding-left: 10px;
	padding-right: 18px;
	padding-top: 3px;
	padding-bottom: 3px;
	BORDER-LEFT: 1px dotted #357ea7;
	BORDER-RIGHT: 1px dotted #357ea7;
	BORDER-TOP: 1px dotted #357ea7;
	BORDER-BOTTOM: 1px dotted #357ea7;
	
}

.localisation_article {
	text-align: justify;
	FONT-SIZE: 7pt;
	font-weight: bold;
	font-style : none;
	text-decoration : none;
	COLOR: #204D84;
}

table.localisation {
	width:990px;
	background-color: #ffffff;
	padding-left: 195px;
	padding-right: 0px;
}

select.select_bandeau
{
	text-transform: none;
	COLOR: #59526B;
	border : 10px solid #01526B;
	font-family: Arial, helvetica, sans-serif;
	font-size: 7pt;
	font-weight: 100;
	text-transform: none;
}
option.grey {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 7pt; 
	BACKGROUND-COLOR: #f0f0f0
}

/***************************** Pied de page **************************************/
.pointille {
	width:990px;
	BORDER: 1px dotted #357ea7;
	BACKGROUND-COLOR: #ffffff;
}
.pointille-v {
	border-bottom: none;
	padding: 1px;
	margin: 0px;
	background: url(pointille-v.gif) repeat-y;
}
.pointille-h {
	border-bottom: none;
	padding: 1px;
	margin: 0px;
	background: url(pointille-h.gif) repeat-x 	
}
.piedpage
	{
	font-family:  Arial, Verdana, sans-serif; 
	padding-left:7px;
	padding-bottom:2px;
	padding-top:2px;
	}
.textefooter
	{
	font-family:  Arial, Verdana, sans-serif; 
	color: #1E66AE;
	font-size: 60%;
	padding-bottom: 2px;
	vertical-align: bottom;
	}
.textefooter2
	{
	color: #F76C05;
	font-size: 60%;
	padding-bottom: 2px;
	padding-right:10px;
	vertical-align: bottom;
	text-align:right;
	}
a.lnkpied
	{
	color: #1E66AE;
	}
	
a.lnkorange:link,  a.lnkorange:visited
	{
	color: #F76C05;
	font-weight: normal;
	text-decoration:none;
	}

a.lnkorange:hover
	{
	color: #066C9D;
	font-weight: normal;
	text-decoration:underline;
	}
/**********************  Style pour le menu  ******************************/
td.groupe_mot{
	COLOR: #FFFFFF;
	font-family: Arial, helvetica, sans-serif;
	font-size: 9pt;
	font-weight: 600;
	font-style : none;
}
td.mot{
	COLOR: #656478;
	font-family: Arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 400;
	font-style : none;
}
a.mot{
	COLOR: #656478;
	font-family: Arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 400;
	font-style : none;
	text-decoration: none
}
a.mot:hover{
	COLOR: #656478;
	font-family: Arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 400;
	font-style : none;
	text-decoration: underline;
}

/**********************  Style pour les rubriques  ******************************/
table.tableFond {
	width:990px;
	background-color: #ffffff;
}

#contenu {
	width:585px;
	height:800px;
	margin-top:5px;
	font-family: Arial, helvetica, sans-serif;
	COLOR: #204D84;
	text-align: justify;
	font-size: 8pt;
	font-weight: none;
	font-style : none;
	text-decoration : none;
	padding-left : 10px;
}

#rubrique {
	font-family: Arial, helvetica, sans-serif;
	COLOR: #204D84;
	text-align: justify;
	font-size: 8pt;
	font-weight: none;
	font-style : none;
	text-decoration : none;
	padding-top: 10px;
	margin-top: -1px;
	BORDER-LEFT: 1px dotted #357ea7;
	BORDER-RIGHT: 1px dotted #357ea7;
	BORDER-TOP: 1px dotted #357ea7;
}

#encart {
	text-align: right;
}

table.rubrique {
	width:990px;
	background-color: #ffffff;
	padding-left: 195px;
	padding-right: 190px;
	BORDER-RIGHT: 1px dotted #357ea7;
}

.rubrique-titre{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bolder;
	text-transform: uppercase;
	color: #8fb0ec;
	text-decoration: none;
	background-image: url(grde_flechebleu.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 30px;
	height: 30px;
	text-align: left;
	vertical-align: bottom;
	letter-spacing: normal;
	word-spacing: normal;
}
/*
== ================================ ==
== DEFINI DANS CCI_STYLE_EDITOR.CSS ==
== ================================ ==
.rubrique-sous-titre{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF6600;
	text-decoration: none;
	text-align: left;
	height: 18px;
	list-style-type:none;
}
*/

ul li.rubrique {
	list-style-image: url(fleche_menu_bleu.gif);
	list-style-position:outside;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	text-transform: uppercase;
	color: #8fb0ec;
	text-decoration: none;
	padding-left: 0px;
	text-align: justify;
	vertical-align: center;
	letter-spacing: normal;
	word-spacing: normal;
}
a.rubrique:link, a.rubrique:visited{
	color: #204D84;
}
a.rubrique:hover{
	text-decoration:underline;
	color: #FF6600;
}

/**********************  Style pour les articles  ******************************/
#article {
	font-family: Arial, helvetica, sans-serif;
	COLOR: #204D84;
	text-align: justify;
	font-size: 8pt;
	font-weight: none;
	font-style : none;
	text-decoration : none;
	padding-top: 10px;
	margin-top: -1px;
	BORDER-LEFT: 1px dotted #357ea7;
	BORDER-RIGHT: 1px dotted #357ea7;
	BORDER-TOP: 1px dotted #357ea7;
}

table.article{
	width:990px;
	background-color: #ffffff;
	padding-left: 195px;
	padding-right: 190px;
	BORDER-RIGHT: 1px dotted #357ea7;
}

.article-titre{
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(puce_niveau2.gif);
	background-repeat: no-repeat;
	background-position: 15px 2px;
	padding-left: 30px;
	font-size: 15px;
	font-weight: bolder;
	text-transform: uppercase;
	color: #8fb0ec;
	text-decoration: none;
	height: 30px;
	text-align: left;
	vertical-align: bottom;
	letter-spacing: normal;
	word-spacing: normal;
}

/*
== ================================ ==
== DEFINI DANS CCI_STYLE_EDITOR.CSS ==
== ================================ ==
.article-sous-titre{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF6600;
	text-decoration: none;
	text-align: justify ;
	height: 18px;
	list-style-type:none;
	padding-bottom : 5px;
}
*/

/*
== ================================ ==
== DEFINI DANS CCI_STYLE_EDITOR.CSS ==
== ================================ ==
.chapeau{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-top : 10px;
	color: #234d7f;
	text-align: justify ;
}
*/

/*
Repris dans spip_style_atl.css pour permettre l'affichage propre dans la partie admin
*/
.texte{
	padding-top : 6px;
	font-family: Arial, helvetica, sans-serif;
	COLOR: #204D84;
	text-align: justify;
	font-size: 8pt;
	font-weight: none;
	font-style : none;
	text-decoration : none;
}

/*
Repris dans spip_style_atl.css pour permettre l'affichage propre dans la partie admin
*/
.notes {
	padding-top : 6px;
	font-family: Arial, helvetica, sans-serif;
	COLOR: #204D84;
	text-align: justify;
	font-size: 7pt;
	font-weight: none;
	font-style : italic;
	text-decoration : none;
}

ul li.article {
	COLOR: #204D84;
	font-family: Arial, helvetica, sans-serif;
	list-style-image: url(puce_niveau2.gif);
	list-style-position:outside;
	font-size: 8pt;
	font-weight: 400;
	font-style : none;
	text-decoration : none;
	text-align: justify ;
	margin-left : 10px;
	padding-left : 5px;
	padding-right : 10px;
	vertical-align: center;
}
a.article:link, a.article:visited{
	color: #FF6000;
}
a.article:hover{
	text-decoration:underline;
	color: #FF6600;
}

td.article-texte{
	COLOR: #204D84;
	font-family: Arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 400;
	font-style : none;
	text-decoration : none;
	text-align: justify ;
	padding-left : 10px;
	padding-right : 10px;
}
a.article-texte{
	COLOR: #204D84;
	text-decoration : none;
}
a.article-texte:hover{
	COLOR: #204D84;
	text-decoration : underline;
}



/**********************  Divers ******************************/
a.lien_niv_inf{
	COLOR: #FF6900;
	font-family: Arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 400;
	font-style : none;
	text-decoration : none;
}
a.lien_niv_inf:hover{
	text-decoration:underline;		
}
.art1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	/*text-transform: uppercase;*/
	color: #FF6600;
	text-decoration: none;
	text-align: left;
	height: 18px;
	list-style-type:none;
}

td.telechargement{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FF6600;
	text-decoration: none;
	text-align: left;
	height: 18px;
}

td.description{
	COLOR: #656478;
	font-family: Arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 400;
	font-style : none;
	text-decoration : none;
	text-align: justify ;
	margin-left : 15px;
	margin-right : 5px;
	
}
a.chapeau{
	COLOR: #204D84;
	text-decoration : none;
}
a.chapeau:hover{
	COLOR: #204D84;
	text-decoration : underline;
}
td.egalement{
	COLOR: #FFFFFF;
	background-color: #00C6DE;
	font-family: Arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 600;
	font-style : none;
	text-decoration : none;
}
td.phare{
	COLOR: #FFFFFF;
	background-color: #FFC000;
	font-family: Arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 600;
	font-style : none;
	text-decoration : none;
}
td.phare-text{
	COLOR: #877A92;
	background-color: #FFEEC0;
	font-family: Arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 400;
	font-style : none;
	text-decoration : none;
	text-align: center ;
}
a.phare-text{
	COLOR: #877A92;
	text-decoration : none;
}
a.phare-text:hover{
	COLOR: #877A92;
	text-decoration : underline;
}
td.phare-date{
	COLOR: #327891;
	background-color: #FFEEC0;
	font-family: Arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 400;
	font-style : none;
	text-decoration : none;
	text-align: left ;
}
td.egalement-text{
	COLOR: #FF3403;
	background-color: #E9FBFC;
	font-family: Arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 400;
	font-style : none;
	text-decoration : none;
	text-align: left ;
	margin-left: 3px;
}
a.egalement-text{
	COLOR: #FF3403;
	text-decoration : none;
	margin-left: 3px;
}
a.egalement-text:hover{
	COLOR: #FF3403;
	text-decoration : underline;
	margin-left: 3px;
}


/*************************Style pour un article venant de la rubique AGENDA***********************/
a.agenda:link, a.agenda:visited{
	color: #05728b;
	text-decoration: none;
}
a.agenda:hover{
	text-decoration: underline;
	COLOR: #FF6600;
}
#containerAgenda {
	position: absolute;
	top: 180px;
	left: 950px;
	width: 165px;
}

#date {
	background-color: #ffffff;
	padding-right: 0px; 
	FONT-WEIGHT: 70%; 
	FONT-SIZE: 70%; 
	COLOR: #f76c05; 
	padding-top: 0px; 
	padding-bottom: 8px; 
	text-align: right
}

/* ---------------- */
#agenda {
	background-image: url(agenda.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding-top: 17px;
	background-color: #ffffff;
	margin-top: 0px;
	margin-bottom: 0px;
}
#titreAgenda {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 0px;
	color: #ffffff;
	background-color: #f8751b;
	background-image: url(fleche_agenda.gif);
	background-repeat: no-repeat;
	background-position: 10px 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: normal;
	padding-left: 20px;
	vertical-align: top;
	text-transform: uppercase;
	text-align: left;
}
#contenuAgenda {
	padding-right: 5px;
	padding-left: 7px;
	padding-top: 0px;
	padding-bottom: 10px;
	background-color: #DEE8F4;
	color: #204D84;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: normal;
}
#titreBreveAgenda {
	font-weight: bold;
	color: #066c9d;;
	background-color: #DEE8F4;
	text-decoration:none;
	padding-top: 4px;
	margin: 0px;
}
#texteBreveAgenda {
	font-weight: normal;
	color: #066c9d;;
	background-color: #DEE8F4;
	text-decoration:none;
	padding-left: 5px;
}

/* ---------------- */
#leSaviezVous {
	/*
	background-image: url(images/lesaviezvous.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding-top: 17px;
	*/
	background-color: #DEE8F4;
	margin-top: 7px;
	margin-bottom: 0px;
}
.titreLeSaviezVous {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 25px;
	margin-top: 0px;
	color: #2a64cf;
	background-color: #FFCC33;
	background-image: url(fleche_saviezvous.gif);
	background-repeat: no-repeat;
	background-position: 10px 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: normal;
	vertical-align: top;
	text-transform: uppercase;
	text-align: left;
}
.contenuLeSaviezVous {
	padding-right: 5px;
	padding-left: 7px;
	padding-top: 0px;
	padding-bottom: 10px;
	background-color: #DEE8F4;
	color: #204D84;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: normal;
}

/* ---------------- */
#nosProduits {
	/*
	background-image: url(images/nosproduits.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding-top: 17px;
	*/
	background-color: #DEE8F4;
	margin-top: 7px;
	margin-bottom: 0px;
}
.titreNosProduits {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 25px;
	margin-top: 0px;
	color: #ffffff;
	background-color: #8fb0ec;
	background-image: url(fleche_produits.gif);
	background-repeat: no-repeat;
	background-position: 10px 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: normal;
	vertical-align: top;
	text-transform: uppercase;
	text-align: left;
}
.contenuNosProduits {
	padding-right: 5px;
	padding-left: 7px;
	padding-top: 0px;
	padding-bottom: 10px;
	background-color: #DEE8F4;
	color: #204D84;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: normal;
}

/* ---------------- */
#enSavoirPlus {
	/*
	background-image: url(images/ensavoirplus.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding-top: 17px;
	*/
	background-color: #DEE8F4;
	margin-top: 7px;
	margin-bottom: 0px;
}
.titreEnSavoirPlus {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 25px;
	margin-top: 0px;
	color: #ffffff;
	background-color: #39a539;
	background-image: url(fleche_savoirplus.gif);
	background-repeat: no-repeat;
	background-position: 10px 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: normal;
	vertical-align: top;
	text-transform: uppercase;
	text-align: left;
}
.contenuEnSavoirPlus {
	padding-right: 5px;
	padding-left: 7px;
	padding-top: 0px;
	padding-bottom: 10px;
	background-color: #DEE8F4;
	color: #204D84;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: normal;
}


TABLE.menudroit {
	BORDER-BOTTOM: #ffffff 4px solid
}

td.lesnews {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: normal;
	color: #ffffff;
	background-color: #2869B4;
	text-transform: uppercase;
	text-align: left;
	vertical-align: middle;
	padding-right: 10px;
	margin-top: 0px;
	padding-left: 10px;
	MARGIN-BOTTOM: 0px;
	}

.textemenudroit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #066c9d;;
	text-decoration:none;
	margin: 0px;
	padding: 5px;
	margin: 0px;
}
.textemenudroit2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #066c9d;;
	text-decoration:none;
	margin: 5px;
	padding: 0px;
	margin: 0px;
}

ul.niveau2{
	list-style-image: url(puceniveau2.gif);
	padding-top:5px;
	padding-bottom:0px;
	padding-left:15px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	list-style-type:none;
}
li.niveau2{
	padding-top:5px;
	padding-bottom:10px;
}
ul.niveau3{
	list-style-image: url(puceniveau3.gif);
	padding-top:5px;
	padding-bottom:0px;
	padding-left:15px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	list-style-type:none;
}
ul.invisible{
	list-style-type:none;
	list-style-image:none;
	padding-top:5px;
	padding-bottom:0px;
	padding-left:0px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
}
li.invisible{
	list-style-type:none;
	list-style-image:none;
}
td.agenda_date{
	COLOR: #327891;
	font-family: Arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 400;
	font-style : none;
	text-decoration : none;
	text-align: left ;
}
td.agenda_texte{
	COLOR: #877A92;
	font-family: Arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 400;
	font-style : none;
	text-decoration : none;
	text-align: left ;
}
td.agenda_chapeau{
	COLOR: #877A92;
	font-family: Arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 600;
	font-style : none;
	text-decoration : none;
	text-align: left ;
}
/*********************************** Style pour la page le saviez vous ******************************/
td.saviez{
	COLOR: #656478;
	font-family: Arial, helvetica, sans-serif;
	font-size: 9pt;
	font-weight: 400;
	font-style : none;
	text-decoration : none;
	text-align: justify ;
}

/***************************************** Style le plan du site ************************************/
ul.plan-niveau0 {
	padding-top:0px;
	padding-bottom:0px;
	padding-left:20px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:15px;
	COLOR: #204D84;
	font-family: Arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 400;
	font-style : none;
	text-decoration : none;
	text-align: justify ;
	vertical-align: top;
}
li.plan-niveau0 {
	margin-top : 25px;
	margin-left : 0px;
	padding-top : 0px;
	padding-left : 0px;
	padding-right : 0px;
}
#plan-niveau0-1 {
	list-style: square outside url(plan_niveau0-1.gif);
}
#plan-niveau0-2 {
	list-style: square outside url(plan_niveau0-2.gif);
}

ul.plan-niveau1 {
	padding-top:3px;
	padding-bottom:0px;
	padding-left:15px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:15px;
	COLOR: #204D84;
	font-family: Arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 400;
	font-style : none;
	text-decoration : none;
	text-align: justify ;
	vertical-align: center;
}
li.plan-niveau1 {
	margin-left : 0px;
	padding-left : 0px;
	padding-right : 0px;
	margin-top : 10px;
	padding-top : 0px;
}
#plan-niveau1-1 {
	list-style: disc outside url(plan_niveau1-1.gif);
}
#plan-niveau1-2 {
	list-style: disc outside url(plan_niveau1-2.gif);
}

ul.plan-niveau2 {
	padding-top:3px;
	padding-bottom:0px;
	padding-left:15px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:15px;
	COLOR: #204D84;
	font-family: Arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 400;
	font-style : none;
	text-decoration : none;
	text-align: justify ;
	vertical-align: center;
}
li.plan-niveau2 {
	margin-left : 0px;
	padding-left : 0px;
	padding-right : 0px;
	padding-top : 0px;
	margin-top : 5px;
}
#plan-niveau2-1 {
	list-style: circle outside url(plan_niveau2-1.gif);
}
#plan-niveau2-2 {
	list-style: circle outside url(plan_niveau2-2.gif);
}

ul.plan-niveau3 {
	padding-top:3px;
	padding-bottom:0px;
	padding-left:15px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:15px;
	COLOR: #204D84;
	font-family: Arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 400;
	font-style : none;
	text-decoration : none;
	text-align: justify ;
	vertical-align: center;
}
li.plan-niveau3 {
	margin-left : 0px;
	padding-left : 0px;
	padding-right : 0px;
	padding-top : 0px;
	margin-top : 3px;
}
#plan-niveau3-1 {
	list-style: circle outside url(plan_niveau3-1.gif);
}
#plan-niveau3-2 {
	list-style: circle outside url(plan_niveau3-2.gif);
}

a.plandusite:link, a.plandusite:visited{
	color: #204D84;
	font-family: Arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 400;
	font-style : none;
	text-decoration : none;
	text-align: justify ;
}
a.plandusite:hover{
	color: #FF6600;
	font-family: Arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 400;
	font-style : none;
	text-align: justify ;
	text-decoration:underline;
}

/******************************************* Gestion de l'impression ********************************/
@media Print    
{
	.noprint {
		DISPLAY: none
	}
	.pagebreak {
		PAGE-BREAK-BEFORE: always
	}
}

@media Screen    
{
	.noprint {	}
	.noview  { DISPLAY: none }
	.pagebreak {	}
}
IMG {border:0px}

