body {
	background-color: #E7E7E5;
}
.pdp {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #999999;
}
a {
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.domaine {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
}
a.domaine:hover {
	text-decoration: underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
}
.pdplittle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #999999;
}
.texte {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-align: justify;
}
.soustitre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #731815;
}
.titre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: #731815;
	letter-spacing: -1px;
	text-transform: uppercase;
}
.baseline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #000000;
	letter-spacing: -1px;
}
.sousmenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #A34056;
	text-decoration: none;
}
.sousmenu:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #F8DAC0;
	background-color: #A34056;
	text-decoration: none;
}
.news {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
}
.newslink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #83052E;
}
.resume {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	font-style: italic;
	text-align: justify;
}
img {
	border:none;
}
/*
	ADDON 25-11-2009
*/

/* PAGE MILLESIME 2009 */

h1, h2 {
	font: bold 17px Arial, Helvetica, sans-serif;
	color: #731815;
	text-transform: uppercase;
}
h3 {
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	color: #731815;
}
p.listevignerons {
	padding: 7px;
	font: normal 12px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #731815;
	background-color: #80C9F5;
	border: 1px solid #A04157;
	margin: 12px 0;
}
p.legende {
	padding: 6px 0;
	margin: 0;
	font: normal 9px Verdana, Arial, Helvetica, sans-serif;
	color: #731815;
	text-align: center;
}
div.teasing {
	padding: 7px 12px;
	color: #321F04;
	background-color: #F6EDD2;
	border: 1px solid #E7B0BC;
}

/* END */