/* general */
h1, h2, h3, h4, h5, h6 {font-weight:normal;display:inline;font-family:verdana,helvetica,arial,sans-serif;font-size:11px;}
a {color:black;text-decoration:none;}
a:hover {color:black;text-decoration:underline;}
body {font-family:verdana,helvetica,arial,sans-serif;font-size:11px;font-weight:normal;padding:0;margin:0;background:#E5e1e0;}

/* structure */
.clearboth {clear:both;margin-top:10px;}
.clearright {clear:right;margin-top:10px;}
.page {font-family:verdana,helvetica,arial,sans-serif;font-size:11px;font-weight:normal;background:url(fond-site.gif);padding:0;margin:0;width:1000px;text-align:left;}
.page-article {font-family:verdana,helvetica,arial,sans-serif;font-size:11px;font-weight:normal;background:url(fond-article.gif);padding:0;margin:0}
.tete {width:1000px;height:129px;}
.tetecontenu {width:1000px;height:129px;background:url(tetRMC-gauche.jpg);background-repeat:no-repeat;}
.tetecontenuhaut{width:760px;height:19px;margin-left:236px;}
.tetecontenubasgauche{width:236px;height:110px;float:left;}
.tetecontenubasdroite{width:760px;height:100px;float:right;padding-top:10px;text-align:center;}
.ventrecolgcold {width:1000px;clear:both;}
.ventrecolg {width:670px;float:left;}
.cold {width:300px;margin-left:18px;float:right;margin-top:0px;margin-right:12px;}
.coldR {width:300px;margin-left:18px;float:right;margin-top:0px;margin-right:12px;}
.colg {width:210px;padding:0;margin:0;float:left;}
.ventre {width:460px;float:right;margin-top:0px;}
.ventreR {width:460px;float:right;margin-top:0px;}
.ventre2col {width:460px;background:url(fond_ventre_2col.png);background-position:bottom;}
.ventre2colbis {width:10px;background:url(fond_ventre_2col_ter.gif);background-repeat:repeat-y;}
.ventre2colg {width:225px;padding-right:5px;}
.ventre2cold {width:225px;padding-left:5px;}
.ventredemicol {width:205px;margin:10px 10px 0px 10px;}
.ventredemicolbis {width:215px;margin:0px 5px 0px 5px;}
.ventredemicolter {width:205px;margin:0px 10px 0px 10px;}
.ventredemicolsepfil {background:url(sep_fil_ventre.gif);margin:5px 0 5px 0;background-repeat:repeat-x;height:1px;}
.ventredemicolsepfilbis {background:url(sep_fil_ventre_bis.gif);margin:5px 0 0px 0;background-repeat:repeat-x;height:2px;}
.coldsepfildoss {background:url(sep_fil_ventre_bis.gif);margin:10px 0 0px 0;background-repeat:repeat-x;height:2px;}
.ventredemicolsmargh {width:205px;margin:0px 10px 0px 10px;}
.ventredemicolsmargblogs {width:258px;margin:0px 10px 0px 10px;}
.ventredemicolsmargd {width:215px;margin:10px 0px 0px 10px;}
.chainesnav {float:right;position:relative;left:0px;width:1000px;}
.chaines {float:right;width:790px;left:210px;height:26px;}
.chaineOngletLien {color:#DEDF88;text-decoration:none;font-size:14px;}
.chaineOngletLien:link{color:#DEDF88;text-decoration:none;font-size:14px;}
.chaineOngletLien:visited{color:#DEDF88;text-decoration:none;font-size:14px;}
.chaineOngletLien:hover {color:#DEDF88;text-decoration:none;font-size:14px;}
.chaineOngletLien:active {color:#DEDF88;text-decoration:none;font-size:14px;}
.chaineOngletLienActif {color:black;text-decoration:none;font-size:14px;}
.chaineOngletLienActif:link {color:black;text-decoration:none;font-size:14px;}
.chaineOngletLienActif:hover {color:black;text-decoration:none;font-size:14px;}
.chaineOngletLienActif:active {color:black;text-decoration:none;font-size:14px;}
.newchaineOngletLien {color:white;text-decoration:none;font-size:14px;}
.newchaineOngletLien:link{color:white;text-decoration:none;font-size:14px;}
.newchaineOngletLien:visited{color:white;text-decoration:none;font-size:14px;}
.newchaineOngletLien:hover {color:white;text-decoration:none;font-size:14px;}
.newchaineOngletLien:active {color:white;text-decoration:none;font-size:14px;}
.newchaineOngletLienActif {color:black;text-decoration:none;font-size:14px;}
.newchaineOngletLienActif:link {color:black;text-decoration:none;font-size:14px;}
.newchaineOngletLienActif:hover {color:black;text-decoration:none;font-size:14px;}
.newchaineOngletLienActif:active {color:black;text-decoration:none;font-size:14px;}
.chaineOnglet{width:112px;height:16px;padding:5px 0 5px 0;text-align:center;background:url(onglet_noir-112.gif);color:#DEDF88;font-weight:bold;font-size:14px;margin:0 0 0 1px;float:left;text-transform:uppercase;font-family:arial,helvetica,sans-serif;cursor:pointer;}
.newchaineOnglet{width:140px;height:16px;padding:5px 0 5px 0;text-align:center;background:none;color:white;font-weight:bold;font-size:14px;margin:0;float:left;text-transform:uppercase;font-family:arial,helvetica,sans-serif;cursor:pointer;}
.chaineOngletActif{width:112px;height:16px;padding:5px 0 5px 0;text-align:center;background:url(onglet_actif-112.gif);color:#DEDF88;font-weight:bold;font-size:14px;margin:0 0 0 1px;float:left;text-transform:uppercase;font-family:arial,helvetica,sans-serif;cursor:pointer;}
/* .newchaineOngletActif{width:90px;height:16px;padding:5px 0 5px 0;text-align:center;background:url(http://www.rmc.fr/images/general/onglet_actif-90.gif);color:black;font-weight:bold;font-size:14px;margin:0;float:left;text-transform:uppercase;font-family:arial,helvetica,sans-serif;cursor:pointer;} */
.newchaineOngletActif{width:120px;height:16px;text-align:center;background:url('onglet_actif-90.gif');color:black;font-weight:bold;font-size:14px;margin:0;float:left;text-transform:uppercase;font-family:arial,helvetica,sans-serif;cursor:pointer; padding-left:0; padding-right:0; padding-top:5px; padding-bottom:5px}
.chaineOngletServ{width:128px;height:16px;padding:5px 0 5px 0;text-align:center;background:url(onglet_noir-128.gif);color:#DEDF88;font-weight:bold;font-size:14px;margin:0 0 0 1px;float:left;text-transform:uppercase;font-family:arial,helvetica,sans-serif;cursor:pointer;}
.newchaineOngletServ{width:110px;height:16px;padding:5px 0 5px 0;text-align:center;background:none;color:white;font-weight:bold;font-size:14px;margin:0;float:left;text-transform:uppercase;font-family:arial,helvetica,sans-serif;cursor:pointer;}
.chaineOngletServActif{width:128px;height:16px;padding:5px 0 5px 0;text-align:center;background:url(onglet_actif-128.gif);color:#DEDF88;font-weight:bold;font-size:14px;margin:0 0 0 1px;float:left;text-transform:uppercase;font-family:arial,helvetica,sans-serif;cursor:pointer;}
.newchaineOngletServActif{width:110px;height:16px;padding:5px 0 5px 0;text-align:center;background:url(onglet_actif-110.gif);color:black;font-weight:bold;font-size:14px;margin:0;float:left;text-transform:uppercase;font-family:arial,helvetica,sans-serif;cursor:pointer;}
.chaineOngletRech{width:315px;height:18px;padding:4px 0 4px 0;background:url(onglet_noir-316.gif);color:white;font-weight:bold;font-size:12px;margin:0 5px 0 1px;text-transform:uppercase;float:right;}
.nav {width:785px;left:1px;background:#DCDCB7;height:25px;clear:right;float:right;margin-right:5px;}
.nav2Item {background:#DCDCB7;text-align:center;font-size:11px;font-weight:bold;height:25px;border-left:solid 1px white;padding:0 13px 0 13px;color:#444444;cursor:pointer;}
.nav2ItemR {background:#9C9C74;text-align:center;font-size:11px;font-weight:bold;height:25px;border-left:solid 1px #9C9C74;padding:0 13px 0 13px;color:white;cursor:pointer;}
.nav2ItemS {background:#9C9C74;text-align:center;font-size:11px;font-weight:bold;height:25px;border-left:solid 1px #9C9C74;padding:0 13px 0 13px;color:white;cursor:pointer;}
.nav2ItemLien {font-size:11px;font-weight:bold;color:#444444;text-decoration:none;font-family:verdana,arial,helvetica,sans-serif;}
.nav2ItemLien:link {font-size:11px;font-weight:bold;color:#444444;text-decoration:none;font-family:verdana,arial,helvetica,sans-serif;}
.nav2ItemLien:visited {font-size:11px;font-weight:bold;color:#444444;text-decoration:none;font-family:verdana,arial,helvetica,sans-serif;}
.nav2ItemLien:hover {font-size:11px;font-weight:bold;color:#444444;text-decoration:none;font-family:verdana,arial,helvetica,sans-serif;}
.nav2ItemLienR {font-size:11px;font-weight:bold;color:white;text-decoration:none;font-family:verdana,arial,helvetica,sans-serif;}
.nav2ItemLienR:hover {font-size:11px;font-weight:bold;color:white;text-decoration:none;font-family:verdana,arial,helvetica,sans-serif;}
.nav2ItemLienS {font-size:11px;font-weight:bold;color:white;text-decoration:none;font-family:verdana,arial,helvetica,sans-serif;}
.nav2ItemLienS a {font-size:11px;font-weight:bold;color:white;text-decoration:none;font-family:verdana,arial,helvetica,sans-serif;}
.nav2ItemLienS:link {font-size:11px;font-weight:bold;color:white;text-decoration:none;font-family:verdana,arial,helvetica,sans-serif;}
.nav2ItemLienS:hover {font-size:11px;font-weight:bold;color:white;text-decoration:none;font-family:verdana,arial,helvetica,sans-serif;}
.nav2ItemLienS:active {font-size:11px;font-weight:bold;color:white;text-decoration:none;font-family:verdana,arial,helvetica,sans-serif;}
.nav2ItemLienS:visited {font-size:11px;font-weight:bold;color:white;text-decoration:none;font-family:verdana,arial,helvetica,sans-serif;}
.nav3Box { position: absolute; left:0px; top:0px; visibility:hidden; z-index: 10000;}
.nav3Item {font: 11px verdana; color: white;  padding: 1px 10px 4px 10px; background-color:#9C9C74;  z-index: 10000;}
.nav3ItemLien {font: 11px verdana; color: white;text-decoration:none;}
.nav3ItemLien:hover {font: 11px verdana; color: white;text-decoration:none;}
.nav3ItemLienActif {font: 11px verdana; color: white;text-decoration:none;font-weight:bold;}
.nav3ItemLienActif:hover {font: 11px verdana; color: white;text-decoration:none;font-weight:bold;}
.nav3ItemR {font: 11px verdana; color: white;  padding: 1px 10px 4px 10px; background-color:#848457;  z-index: 10000;}
.evenementbox {width:430px;height:200px;padding:12px 15px 13px 15px;background:url(zone_evenement.png);margin-bottom:10px;}
.evenementboxcontenu {width:430px;height:186px;padding-top:14px;}
.evenementboxrubrique {width:127px;height:21px;font-weight:normal;text-transform:uppercase;clear:both;float:right;margin-top:3px;padding-left:5px;background:black;filter:alpha(opacity=50);-moz-opacity:.50;opacity:.50;color:white;font-size:18px;}
.evenementboxrubriqueactif  {width:139px;height:21px;font-weight:normal;text-transform:uppercase;clear:both;float:right;margin-top:3px;}
.evenementboxrubriqueactifcontenu {width:127px;height:21px;font-weight:normal;text-transform:uppercase;padding-left:5px;background:white;filter:alpha(opacity=80);-moz-opacity:.80;opacity:.80;color:black;font-size:18px;float:right;}
.evenementboxpucerubriqueactif {width:7px;height:21px;background:#f12b30;float:left;}
.evenementboxtitrechapo {width:314px;clear:both;float:right;margin-top:30px;padding:8px;background:white;filter:alpha(opacity=80);-moz-opacity:.80;opacity:.80;color:black;}
.coldEvenementBox {width:300px;margin:10px 0 10px 0;background:white;}
.coldEvenementBoxheader {background:url(tet-pas_manquer.gif);width:300px;height:17px;text-align:center;color:white;font-family:arial,helvetica,sans-serif;font-size:13px;font-weight:bold;text-transform:uppercase;padding-top:2px;}
.coldEvenementBoxpied {background:url(ombre-pas_manquer.gif);width:300px;height:13px;}
.coldEvenementBoxcontenu {width:300px;background:white;}
.coldEvenementBoxBox {background:white;width:140px;padding:5px 5px 0 5px;text-align:center;float:left;}
.coldEvenementBoxcontenu2 {background:url('fdnepasmanquer.gif');background-repeat:repeat-y;width:300px;padding-top:5px;}
.coldEvenementBoxpied2 {background:url('footernepasmanquer.gif');background-repeat:no-repeat;width:300px;height:6px}
.coldFullBox {width:300px;background:white;clear:both;padding-bottom:5px;}
.coldFullBox2 {width:300px;background:white;clear:both;padding-bottom:5px;margin-bottom:10px;}
.coldFullBoxFond {width:300px;background:white;clear:both;}
.coldFullBoxFond2 {width:300px;background:white;clear:both;margin-bottom:10px;}
.coldFullBoxHeader {background:#89927C;width:295px;height:13px;font-size:11px;font-weight:bold;font-family:arial,helvetica,sans-serif;padding:0 0 0 5px;color:white;}
.coldFullBoxHeaderLuis {background:#255179;width:290px;height:17px;font-size:14px;font-style:italic;font-weight:bold;font-family:arial,helvetica,sans-serif;padding:2px 0 0 10px;color:white;}
.coldFullBoxHeaderLahaie {background:#A10C4F;width:290px;height:17px;font-size:14px;font-style:italic;font-weight:bold;font-family:arial,helvetica,sans-serif;padding:2px 0 0 10px;color:white;}
.coldFullBoxHeaderBourdin {background:#C59A31;width:290px;height:17px;font-size:14px;font-style:italic;font-weight:bold;font-family:arial,helvetica,sans-serif;padding:2px 0 0 10px;color:white;}
.coldFullBoxHeaderGG {background:#6F5C99;width:290px;height:17px;font-size:14px;font-style:italic;font-weight:bold;font-family:arial,helvetica,sans-serif;padding:2px 0 0 10px;color:white;}
.coldFullBoxTexte {width:290px;padding:5px 5px 0 5px;background:white;}
.coldFullBoxTexte2 {padding:5px 5px 0 5px;background:white;}
.coldFullBoxBox {background:white;width:140px;padding:5px 5px 5px 5px;float:left;}
.coldFullBoxTexteC {text-align:center;margin-top:5px;background:white;}
.coldFullBoxTexteLuis {color:#255179;font-family:arial,helvetica,sans-serif;font-size:12px;;font-weight:bold;font-style:italic;}
.coldFullBoxTexteLahaie {color:#A10C4F;font-family:arial,helvetica,sans-serif;font-size:12px;font-weight:bold;font-style:italic;}
.coldFullBoxTextePersonne {color:black;text-transform:uppercase;}

/* bloc cold blog courbis */	
.coldFullBoxHeaderCourbis {background:#44903C;width:290px;height:17px;font-size:14px;font-style:italic;font-weight:bold;font-family:arial,helvetica,sans-serif;padding:2px 0 0 10px;color:white;}	
.coldFullBoxTexteCourbis {color:#58A14A;font-family:arial,helvetica,sans-serif;font-size:12px;;font-weight:bold;font-style:italic;}
.coldLinksBlogs {display:block; margin-left:15px;margin-top:3px;margin-bottom:3px; color:#535353;font-size:11px;}

/* bloc cold sport forum */	
.coldblocforumrub {background: #000000; color: #ffffff; font: bold italic 13px verdana,helvetica; padding-left: 5px; margin-top: 10px;}
.coldblocforumbox {padding: 5px 10px 10px 10px; background: #ffffff;}
.coldblocforumnewstitre {font: bold 10px verdana,helvetica; color: #000000; margin-top: 5px;}
.coldblocforumnews {font: 10px verdana,helvetica; color: #999999; margin-top: 5px;}
.coldblocforumsep {background: url(point_rouge_4-2.gif) repeat-x; margin-top: 2px; height: 2px;}

.ombredroitesousmenu {background:url(ombre_droite_sousmenu.gif);filter:alpha(opacity=20);-moz-opacity:.20;opacity:.20;color:black;}
.ombrebassousmenu {background:url(ombre_bas_sousmenu.gif);filter:alpha(opacity=20);-moz-opacity:.20;opacity:.20;color:black;}
.playercolg {background:url(player.gif);background-repeat:no-repeat;height:51px;cursor:pointer;text-align:center;font-size:1px;font-weight:bold;cursor:pointer;color:#475958;}
.cellTabDebat {padding-bottom:6px;}
.cellTabIntro {color:#000000;font-family:arial,helvetica,sans-serif;font-size:11px;;font-weight:bold;font-style:italic;padding-bottom:5px;padding-left:5px;}
.cellTabDebatNum {width:16px;padding-bottom:1px;background:#CC0000;margin-right:9px;}
.cellTabDebatNumInt {background:#EFEFEF;text-align:right;font-weight:bold;padding-bottom:1px;color:#CC0000;font-size:12px;}
.cellTabDebatTexte {width:150px;}
.cellFrequence {background:url(carte_frequence.gif);width:160px;height:184px;padding:5px 15px 5px 15px;font-size:12px;}
.ongletGrille1on {font-size:13px;font-weight:bold;color:#CC0000;background:#F3F1F2;vertical-align:middle;text-align:center;}
.ongletGrille1off {font-size:13px;font-weight:bold;color:black;background:#C5C5C5;vertical-align:middle;text-align:center;}
.ongletGrille2 {font-size:11px;font-weight:normal;color:black;background:#F3F1F2;vertical-align:middle;text-align:center;}


/* bloc colg radio */
.colgradioliste {margin-bottom: 2px; color: #EF2B30;}
.colgradiolien {font-weight: bold; color: #000000;}
.colgradiolienR {font-weight: bold; color: #000000;}

/* bloc newsletter */
.coldLinksNl {display:block; margin-left:15px;margin-top:2px;margin-bottom:2px; color:#535353;font-size:11px;}

/* bloc colg evenement */
.colgevenementtitre {font-weight: bold; color: #C51A37;}
.colgevenementtexte {font-weight: bold; background: url(colg_evenement_mea.gif) no-repeat; padding: 3px 0 10px 50px; margin-top: 5px;}
.colgEmissionBoxR {background:url(fond_onglet_noir.gif);background-position:left;background-repeat:repeat-y;width:185px;margin-top:10px;}
.colgEmissionBoxpiedR {background:url(bas_onglet_noir.gif);background-repeat:no-repeat;width:185px;height:7px;font-size:1px;}
.colgEmissionBoxteteR {background:url(haut_onglet_noir.gif);height:17px;padding:3px 15px 0 15px;color:white;font-weight:bold;font-family:arial,helvetica,sans-serif;font-size:13px;}
.colgEmissionBoxteteLienR {color:white;text-decoration:none;}
.colgEmissionBoxteteLienR:hover {color:white;text-decoration:none;}
.colgEmissionBoxcontenuR {padding:5px 5px 5px 10px;}
.colgEmissionBoxcontenu2R {padding:5px 10px 5px 7px;}
.colgEmissionBoxcontenuDebutR {float:right;margin-left:8px;width:107px;}
.colgEmissionBoxcontenuSurtitreR {color:#CC0000;text-decoration:none;}
.colgEmissionBoxcontenuTitreR {color:black;text-transform:uppercase;font-weight:bold;text-decoration:none;}
.colgEmissionBoxcontenuTitreR:hover {color:black;text-decoration:underline;}
.colgEmissionBoxcontenuSavoirMailR {margin:4px 0 2px 0;text-align:center;}
.colgEmissionBoxcontenuAvis {margin:8px 0 2px 0;text-align:center;font-size:10px;font-weight:bold;background:url(sep_fil_colg.gif);background-repeat:repeat-x;background-position:bottom;padding-bottom:2px;}
.colgEmissionBoxcontenuBlog {margin:4px 0 2px 0;width:175px;height:20px;background:url(bouton_blog.gif);background-repeat:no-repeat;text-align:center;color:white;font-weight:bold;padding-top:3px;}
.colgEmissionBoxcontenuBlogLien {color:white;text-decoration:none;}
.colgEmissionBoxcontenuBlogLien:hover {color:white;text-decoration:none;}
.colgEmissionBoxcontenutexteR {color:black;text-decoration:none;}

.colgEmissionBox {background:url(fond_onglet_noir.gif);background-position:left;background-repeat:repeat-y;width:200px;margin-top:10px;}
.colgEmissionBoxtete {background:url(haut_onglet_noir.gif);height:17px;padding:3px 15px 0 15px;color:white;font-weight:bold;font-family:arial,helvetica,sans-serif;font-size:13px;}
.colgEmissionBoxteteLien {color:white;text-decoration:none;}
.colgEmissionBoxteteLien:hover {color:white;text-decoration:none;}
.colgEmissionBoxpied {background:url(bas_onglet_noir.gif);background-repeat:no-repeat;width:200px;height:7px;font-size:1px;}
.colgEmissionBoxcontenu {padding:5px 10px 5px 15px;}
.colgEmissionBoxcontenu2 {padding:5px 10px 5px 7px;}
.colgEmissionBoxcontenuDebut {float:right;margin-left:8px;width:107px;}
.colgEmissionBoxcontenuSurtitre {color:#CC0000;text-decoration:none;}
.colgEmissionBoxcontenuTitre {color:black;text-transform:uppercase;font-weight:bold;text-decoration:none;}
.colgEmissionBoxcontenuTitre:hover {color:black;text-decoration:underline;}
.colgEmissionBoxcontenuSavoirMail {margin:4px 0 2px 0;text-align:center;}
.colgEmissionBoxcontenuAvis {margin:8px 0 2px 0;text-align:center;font-size:10px;font-weight:bold;background:url(sep_fil_colg.gif);background-repeat:repeat-x;background-position:bottom;padding-bottom:2px;}
.colgEmissionBoxcontenuBlog {margin:4px 0 2px 0;width:175px;height:20px;background:url(bouton_blog.gif);background-repeat:no-repeat;text-align:center;color:white;font-weight:bold;padding-top:3px;}
.colgEmissionBoxcontenuBlogLien {color:white;text-decoration:none;}
.colgEmissionBoxcontenuBlogLien:hover {color:white;text-decoration:none;}
.colgEmissionBoxcontenutexte {color:black;text-decoration:none;}
.colgEmissionBoxcontenuImg {padding-left:7px;}
.creditbox {width:995px;background:white;height:50px;clear:both;background:url(fond-creditbox.gif);padding-top:2px;}
.creditboxcontenu {font-size:11px;color:#616061;width:987px;text-align:center;}

.gr_off {filter:alpha(opacity=30);-moz-opacity:.30;opacity:.30;}
.gr_on {filter:alpha(opacity=100);-moz-opacity:1;opacity:1;}

/* bloc colg RSS  */
.clodRssLienGris:link {color:#7d7d7d; text-decoration:none;}
.clodRssLienGris:hover {color:#7d7d7d; text-decoration:underline;}
.clodRssLienGris:visited {color:#7d7d7d; text-decoration:none;}
.clodRssLienRouge:link {color:#d30202; text-decoration:none;}
.clodRssLienRouge:hover {color:#d30202; text-decoration:underline;}
.clodRssLienRouge:visited {color:#d30202; text-decoration:none;}


/* textes */
.texte10 {font-size:10px;}
.textegras {font-weight:bold;}
.texterouge {color:#CC0000;text-decoration:none;}
.texterougegras {font-weight:bold;color:#CC0000;text-decoration:none;}
.texterougegras10 {font-size:10px;font-weight:bold;color:#CC0000;text-decoration:none;}
.texterouge:hover {color:#CC0000;text-decoration:underline;}
.lienrouge10 {color:#CC0000;text-decoration:underline;font-size:10px;}
.lienrouge10deconone {color:#CC0000;font-size:10px;font-family:verdana,sans-serif;font-weight:normal}
.evenementboxtitre {color:#CC0000;font-size:14px;font-weight:bold;text-decoration:none;}
.evenementboxtitre:link {color:#CC0000;font-size:14px;font-weight:bold;text-decoration:none;}
.evenementboxtitre:active {color:#CC0000;font-size:14px;font-weight:bold;text-decoration:none;}
.evenementboxtitre:hover {color:#CC0000;font-size:14px;font-weight:bold;text-decoration:underline;}
.evenementboxtitre:visited {color:#CC0000;font-size:14px;font-weight:bold;text-decoration:none;}
.evenementboxchapo {color:black;font-size:11px;}
.evenementboxlien {color:#CC0000;font-size:10px;font-weight:bold;text-decoration:none;}
.evenementboxlien:hover {color:#CC0000;font-size:10px;font-weight:bold;text-decoration:underline;}
.ventredemicoltitre {color:black;font-size:11px;font-weight:bold;text-decoration:none;}
.ventredemicoltitrelien {color:#555555;font-size:11px;font-weight:bold;text-decoration:none;}
.ventredemicoltitrelien:hover {color:#555555;font-size:11px;font-weight:bold;text-decoration:underline;}
.ventredemicoltitrelienm {color:#555555;font-size:11px;text-decoration:none;}
.ventredemicoltitrelienm:hover {color:#555555;font-size:11px;text-decoration:underline;}
.ventredemicolheaderactualites {width:217px;background:#EE741A;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.colddoss {background: #4C8EB1; font: italic bold 13px verdana,helvetica; color: #ffffff; padding: 0 0 1px 10px;}
.ventredemicolheaderchats {width:145px;background:#006699;color:white;font-weight:bold;font-style:italic;font-size:14px;height:32px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.ventredemicolsurtitreactualites {color:#EE741A;font-size:11px;font-family:verdana,sans-serif;}
.ventredemicoltitreactualites {color:black;font-size:11px;font-weight:bold;}
.ventredemicolheadersport {width:217px;background:#C51A37;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.ventredemicolsurtitresport {color:#C51A37;font-size:11px;font-family:verdana,sans-serif;}
.ventredemicoltitresport {color:black;font-size:11px;font-weight:bold;}
.ventredemicolheaderinterviews {width:217px;background:#AD8154;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.ventredemicolheaderRouge{width: 217px;background-color: #cc0001;background-image: none;background-repeat: repeat;background-attachment: scroll;background-x-position: 0%;background-y-position: 0%;color: white;font-weight: bold;font-size: 14px;height: 16px;padding-top: 2px;padding-right: 2px;padding-bottom: 1px;padding-left: 6px;font-family: arial,helvetica,sans-serif; font-style:italic;}
.ventredemicolheaderbonplans {width:217px;background:#A10C4E;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.ventredemicolheaderlestops {width:217px;background:#000000;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.ventredemicolheaderlesdoss {width:217px;background:#9A0000;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.ventredemicolheaderinterviews2 {width:217px;background:#5F0000;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.ventredemicolsurtitreinterviews {color:#AD8154;font-size:11px;font-family:verdana,sans-serif;}
.ventredemicolsurtitreinterviews2 {color:#5F0000;font-size:11px;font-family:verdana,sans-serif;}
.ventredemicoltitreinterviews {color:black;font-size:11px;font-weight:bold;}
.ventredemicolchapointerviews {color:black;font-size:11px;font-weight:normal;}
.ventredemicolblockinterviews {float:right;margin-left:10px;width:135px;}
.ventredemicolheadergalphoto {width:217px;background:#333333;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.ventredemicolheaderforums {width:217px;background:#F12B30;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.ventredemicolheadercontribs {width:217px;background:#2B2B2C;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.ventrecolheaderforumthemes {width:452px;background:#EF1D25;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.ventredemicolheadercontribssmall {background:#2B2B2C;color:white;font-weight:bold;font-style:italic;font-size:11px;height:16px;font-family:arial,helvetica,sans-serif;}
.ventredemicolheaderlahaie {width:217px;background:#A10C4F;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.ventredemicolheaderlahaie2 {width:145px;background:#A10C4F;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.ventredemicolsurtitreforums {color:#F12B30;font-size:11px;font-family:verdana,sans-serif;padding-top:10px;}
.ventredemicoltitreforums {color:#25507A;font-size:10px;font-family:verdana,sans-serif;padding-left:12px;}
.ventredemicolsurtitrethemesforums {color:#040301;font-size:11px;font-family:verdana,sans-serif;background:#E9EEF2;height:16px;}
.ventredemicolsurlienthemesforums {color:#25507A;font-size:11px;font-family:verdana,sans-serif;height:16px;text-align:right;padding-right:10px;padding-top:10px;padding-bottom:20px;text-decoration:underline;}
.ventredemicolsurtitrecontribs {color:#2B2B2C;font-size:11px;font-family:verdana,sans-serif;}
.ventreplusde {font-size:10px;color:black;text-align:right;margin-bottom:10px;}
.ventreplusdeblogs {font-size:10px;color:black;text-align:right;margin-bottom:2px;}
.debutventreplusde {color:#CC0000;font-size:11px;}
.ventreplusdelien {font-size:10px;color:black;text-decoration:underline;}
.coldplusdelien {font-size:10px;color:black;text-decoration:underline;}
.coldplusde {font-size:10px;color:black;text-align:right;}
.debutcoldplusde {color:#CC0000;font-size:11px;}
.credit {color:#616061;text-decoration:none;}
.credit:link {color:#616061;text-decoration:none;}
.credit:active {color:#616061;text-decoration:none;}
.credit:hover {color:#616061;text-decoration:underline;}
.credit:visited {color:#616061;text-decoration:none;}
.ventredemicoltitredebatinfo {color:black;font-size:11px;font-weight:bold;background:#FBDCC6;}
.ventredemicoltitreblog {color:#040301;font-size:11px;margin-top:3px;font-family:verdana,sans-serif;}
.ventredemicolsurtitredoss {color:#4C8EB1;font-size:11px;margin-top:0px;margin-bottom:5px;font-family:verdana,sans-serif;}
.ventredemicolsurtitrefoc {color:#4C8EB1;font-size:11px;margin-top:0px;margin-bottom:1px;font-family:verdana,sans-serif;}
.ventredemicoltitredoss {color:#000000;font-size:11px;font-weight:bold;}
.ventredemicolnomblog {color:#AC8054;font-size:11px;margin-top:3px;padding-right:10px;text-align:right;text-decoration:underline;font-family:verdana,sans-serif;}
.ventredemicoltitredebatsport {color:black;font-size:11px;font-weight:bold;background:#F0C6CD;}
.ventredemicolheaderblog {color:#353536;font-size:14px;font-weight:bold;font-style:italic;padding-top:7px;padding-left:7px;}
.ventredemicolheaderblogsmall {color:#353536;font-size:11px;font-weight:bold;font-style:italic;text-align:right;padding-right:3px;}
.ventredemicolnbreponses {color:#9A9B9B;font-size:11px;padding-top:2px;padding-bottom:3px;text-decoration:underline;}
.ventredemicolheaderHSfoot {width:225px;background:#5F0000;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 0px 2px 0px;font-family:arial,helvetica,sans-serif;}
.ventredemicolheaderHSRugby {width:225px;background:#D2080B;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 0px 2px 0px;font-family:arial,helvetica,sans-serif;}
.ventredemicolheaderHSFocus {width:460px;background:#8C0818;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 0px 2px 0px;font-family:arial,helvetica,sans-serif;}
.ventredemicolheaderHTFocus {width:460px;background:#4D8FB3;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 0px 2px 0px;font-family:arial,helvetica,sans-serif;}
.ventredemicolheaderVfocus {width:217px;background:#4C8EB1;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.HSfootligne1 {background:#F1E8E8;height:16px;vertical-align:middle;}
.HSfootligne2 {background:#FFFFFF;height:16px;vertical-align:middle;}
.HSfootnumero {font-weight:bold;font-family:Verdana;font-size:10px;color:#CC0000;}
.HSfootclub {font-weight:bold;font-family:Verdana;font-size:10px;color:#000000;}
.HSfootres {font-weight:normal;font-family:Verdana;font-size:10px;color:#000000;}
.HSfootliensnoirs {font-weight:normal;font-family:Verdana;font-size:10px;color:#000000;text-decoration:underline;}
.HSfootliensrouges {font-weight:normal;font-family:Verdana;font-size:10px;color:#CC0000;text-decoration:underline;}
.HSrugbyliensrouges {font-weight:normal;font-family:Verdana;font-size:10px;color:#CC0000;text-decoration:underline;margin-bottom:5px;}
.HSRugbytitre {font-weight:bold;font-family:Verdana;font-size:11px;color:#000000;margin-top:5px;margin-bottom:12px;}
.HSrugbymeaimage {margin-right:10px;}
.HSrugbyfiletrouge {height:1px;background:url(rugby_dotrouge.gif);background-repeat:repeat-x;}
.HSfocusbase {height:8px;background:url(fond_bas_focus.gif);background-repeat:repeat-x;}
.HSfocusmeaimage {margin-right:10px;margin-left:10px;margin-top:10px;margin-bottom:5px;}
.HSFocussurtitre {font-weight:normal;font-family:Verdana;font-size:11px;color:#CC0000;margin-top:10px;margin-right:8px;}
.HSFocustitre {font-weight:bold;font-family:Verdana;font-size:11px;color:#000000;margin-right:8px;}
.HSFocuschapo {font-weight:normal;font-family:Verdana;font-size:11px;color:#000000;margin-bottom:5px;margin-right:8px;}
.HSFocusliensnoirs {font-weight:normal;font-family:Verdana;font-size:10px;color:#000000;text-decoration:underline;}
.gtrouge10 {font-weight:normal;font-family:Verdana;font-size:10px;color:#CC0000;}
.ventredemicoltitrelienBL {color:#AE577E;font-size:14px;text-decoration:none;font-family:verdana,sans-serif;}
.HTLienBrigitte_souligne {font-weight:normal;font-family:Verdana;font-size:11px;color:#663366;text-decoration:underline;}
.HTLienBrigitte {font-weight:normal;font-family:Verdana;font-size:11px;color:#663366;}
.debutventreplusdeblogs {color:#000000;font-size:11px;}
.HTcoldractus {background: #EE741A; font: italic bold 13px verdana,helvetica; color: #ffffff; padding: 0 0 1px 10px;}
.HTcoldractussurtitre {color:#B35611;font-size:11px;margin-top:0px;margin-bottom:5px;font-family:verdana,sans-serif;margin-left:5px;margin-right:5px;}
.HTcoldractustitre {color:#000000;font-size:11px;font-weight:bold;margin-left:5px;margin-right:5px;}
.rmcinfo_niv0_stit {font: 11px verdana,helvetica; color: #AD8154; text-align: left;}
.rmcinfo_niv0_titre {font: bold 11px verdana,helvetica; color: #000000; text-align: left;}
.rmcinfo_niv0_chapo {font: 11px verdana,helvetica; color: #000000; text-align: left;}

/* images */
.imggalphoto {padding-right:10px;margin-bottom:10px;width:95px;}
.imgblogs {border:2px solid #919090;margin:0px;padding:0px;}
.imgdoss {border:1px solid #555555;margin-top:5px;padding:0px;}
.imginterv {border:1px solid #555555;margin-top:5px;padding:0px;}


/* agenda des partenaires */
.ventreheaderagenda {width:80px;padding-top:4px;padding-bottom:4px;padding-right:0px;padding-left:0px;background:#F12B30;color:white;font-weight:bold;font-size:11px;font-family:verdana;text-align:right;}
.ventrecategorieagenda {margin-top:20px;padding-top:9px;padding-bottom:0px;padding-right:0px;padding-left:10px;color:#71A458;font-weight:bold;font-size:11px;font-family:verdana;text-transform:uppercase;}
.ventretitreagenda {background:#ffffff;color:#F12B30;font-weight:bold;font-size:16px;margin-top:9px;margin-bottom:0px;padding-right:0px;padding-left:0px;font-family:verdana;text-transform:uppercase;}
.ventretitreagenda2 {margin-left:10px;background:#ffffff;color:#F12B30;font-weight:bold;font-size:16px;margin-top:7px;margin-bottom:0px;padding-right:0px;padding-left:0px;font-family:verdana;text-transform:uppercase;}
.agenda_pointilles {margin-left:10px;background:url(http://www.rmc.fr/css/pointilles_titre_agenda.gif);background-repeat:repeat-x;background-position:bottom;}
.ventrepresentagenda {border:#75A75D 1px solid;color:#000000;font-size:11px;padding:10px 10px 10px 10px;font-family:verdana;margin-top:10px;margin-right:10px;}
.ventreinfosagenda {color:#666666;font-weight:bold;font-size:12px;font-family:verdana;}
.ventrelinkagenda {color:#F12B30;font-weight:bold;font-size:12px;font-family:verdana;}
.ventrefilcategorieagenda {color:#71A458;font-weight:bold;font-size:10px;font-family:verdana;text-transform:uppercase;}
.ventrefiltitreagenda {color:#F12B30;margin-top:2px;margin-bottom:2px;font-weight:bold;font-size:15px;font-family:verdana;}
.ventrefilcommentagenda {color:#000000;margin-top:0px;margin-bottom:2px;font-size:11px;font-family:verdana;}
.ventrefilinfosagenda {color:#000000;font-weight:bold;font-size:11px;font-family:verdana;}
.agenda_titre {background:url(fond_titre_agenda.gif);background-repeat:no-repeat;}
.agenda_titre_texte {font: bold italic 14px verdana; color: #ffffff;margin:1px 0 0px 25px;width:669px;height:19px;}
.agenda_small_titre {background:url(fond_titre_agenda_small.gif);background-repeat:no-repeat;}
.agenda_small_titre_texte {font: bold italic 14px verdana; color: #ffffff;margin:0px 0 0px 25px;width:460px;height:19px;}

/* blocs promotionnels colD */
.cold_promo_lien {font: 10px verdana,helvetica; padding-left: 13px;}
.cold_promo_texte {font: 10px verdana,helvetica; padding: 1px 5px 0 13px;}

/* rose - ? */
.cold_promo_titre_rose {background: #C457A4; font: italic bold 12px arial,helvetica; color: #ffffff; padding: 0 0 1px 10px;}
.cold_promo_contenu_rose {background: #ffffff; border-left: 1px solid #C457A4; border-right: 1px solid #C457A4; font: 10px verdana,helvetica; padding-bottom: 5px;}
.cold_promo_base_rose {background: url(http://www.rmc.fr/images/cold/mea_promo_bas_rose.gif) no-repeat; clear: left;}

/* vert - jeux */
.cold_promo_titre_vert {background: #6BB667; font: italic bold 12px arial,helvetica; color: #ffffff; padding: 0 0 1px 10px;}
.cold_promo_contenu_vert {background: #ffffff; border-left: 1px solid #6BB667; border-right: 1px solid #6BB667; font: 10px verdana,helvetica; padding-bottom: 5px;}
.cold_promo_base_vert {background: url(http://www.rmc.fr/images/cold/mea_promo_bas_vert.gif) no-repeat; clear: left;}

/* violet - rencontres */
.cold_promo_titre_violet {background: #8b7bb0; font: italic bold 12px arial,helvetica; color: #ffffff; padding: 0 0 1px 10px;}
.cold_promo_contenu_violet {background: #ffffff; border-left: 1px solid #8b7bb0; border-right: 1px solid #8b7bb0; font: 10px verdana,helvetica; padding-bottom: 5px;}
.cold_promo_base_violet {background: url(http://www.rmc.fr/images/cold/mea_promo_bas_violet.gif) no-repeat; clear: left;}

/* bleu - concours */
.cold_promo_titre_bleu {background: #67b4bb; font: italic bold 12px arial,helvetica; color: #ffffff; padding: 0 0 1px 10px;}
.cold_promo_contenu_bleu {background: #ffffff; border-left: 1px solid #67b4bb; border-right: 1px solid #67b4bb; font: 10px verdana,helvetica; padding-bottom: 5px;}
.cold_promo_base_bleu {background: url(http://www.rmc.fr/images/cold/mea_promo_bas_bleu.gif) no-repeat; clear: left;}

/* kaki - voyages */
.cold_promo_titre_kaki {background: #a7b37c; font: italic bold 12px arial,helvetica; color: #ffffff; padding: 0 0 1px 10px;}
.cold_promo_contenu_kaki {background: #ffffff; border-left: 1px solid #a7b37c; border-right: 1px solid #a7b37c; font: 10px verdana,helvetica; padding-bottom: 5px;}
.cold_promo_base_kaki {background: url(http://www.rmc.fr/images/cold/mea_promo_bas_kaki.gif) no-repeat; clear: left;}


/* podcasts */
.podcast_titre {background:url(fond_titre_podcast.gif);background-repeat:no-repeat;}
.podcast_titre_texte {font: bold italic 14px verdana; color: #ffffff;margin:1px 0 0px 25px;width:669px;height:19px;}
.podcast_nom {font: bold italic 13px verdana; color: #FFFFFF;background:#6A6869;padding-left:10px;padding-top:2px;}
.podcast_descriptif {font: 11px verdana; color: #000000;padding-top:10px;}
.podcast_abonn {font: bold 14px verdana; color: #CB0305;}
.podcast_consignes {font: 10px verdana; color: #000000;padding-top:10px;}
.podcast_lignepodcastemission {font: 10px verdana; color: #000000;padding-top:15px;padding-left:15px;}
.podcast_lignepodcastinvites {font: 10px verdana; color: #000000;padding-top:0px;padding-left:30px;padding-right:15px;padding-bottom:15px;}
.podcastlecteur {padding-top:15px;}
.podcastmeatelech {font: bold italic 19px verdana; color: #CB0305;}
.podcast_telechdescriptif {font: 11px verdana; color: #000000;padding-top:10px;}
.podcastheaderune {background:#6A6869;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.podcast_titre_emiss {font: bold 10px verdana; color: #DD0101;padding-bottom:4px;padding-top:0px;}
.podcast_descrip_emiss {font: 9px verdana; color: #000000;}
.podcast_titre_emiss2 {font: bold 11px verdana; color: #DD0101;padding-bottom:1px;padding-top:0px;}
.podcast_descrip_emiss2 {font: 10px verdana; color: #000000;}
.podcast_pages {font: 11px Arial; color: #5E5E5E;}
.podcast_numero {font: 11px Arial; color: #D90200;}
.podcast_plusdinfo {font: bold 11px verdana; color: #DD0101;padding-right:10px;padding-top:10px;text-align:right;}
.podcast_images {border:0px;margin-top:10px;padding:0px;}
.podcast_images2 {border:1px solid #7E7C7D;margin:0px;padding:0px;}
.podcast_numtop {font: bold 24px verdana; color: #FFFFFF;vertical-align:middle;padding-left:4px;padding-right:4px;}
.podcast_images3 {border:1px solid #7E7C7D;margin-right:5px;margin-top:4px;padding:0px;}
.podcast_images4 {border:1px solid #7E7C7D;margin-right:6px;margin-top:0px;padding:0px;}
.podcast_images5 {border:1px solid #7E7C7D;margin-right:0px;margin-top:0px;padding:0px;}
.podcast_images6 {border:1px solid #7E7C7D;margin-right:3px;margin-top:0px;padding:0px;}

/* formulaires */
.formnomemiss {font:18px Arial, Helvetica, sans-serif;color:#ffffff;text-align:left;padding-left:22px;}
.formfondcolgauche {width:35px;background:url(form_fond_gauche.gif);background-repeat:repeat-y;}
.formfondcoldroite {width:35px;background:url(form_fond_droite.gif);background-repeat:repeat-y;}
.formfondcolgauche2 {width:35px;background:url(form_fond_gauche2.gif);background-repeat:repeat-y;}
.formfondcoldroite2 {width:35px;background:url(form_fond_droite2.gif);background-repeat:repeat-y;}
.formfondtitre {width:390px;background:url(form_fond_emiss.gif);background-repeat:no-repeat;}
.formlibelle {font:12px Arial, Helvetica, sans-serif;margin-top:4px;}
.formcommentaires {font:10px Arial, Helvetica, sans-serif;margin-top:4px;color:#666666;}
.formmail {font:12px Arial, Helvetica, sans-serif;margin-top:0px;margin-bottom:0px;}
.formcomplete {font:10px Arial, Helvetica, sans-serif;margin-top:0px;margin-bottom:0px;color:#666666;}
.forminput {font:11px Arial, Helvetica, sans-serif;height:18px;width:180px;margin-top:4px;border:1px solid #9C9C9C;}
.formselect{font:11px Arial, Helvetica, sans-serif;height:18px;width:50px;margin-top:4px;border:1px solid #9C9C9C;}
.formtextarea{font:11px Arial, Helvetica, sans-serif;width:320px;margin-top:8px;margin-bottom:15px;border:1px solid #9C9C9C;}
.formenvoiami_titre {font:bold 11px Arial, Helvetica, sans-serif;color:#ffffff;text-align:left;padding-left:22px;padding-right:10px;}

/*FOND NOIR*/
.formfondcolgauche_noir {width:35px;background:url(form_fond_gauchenoir.gif);background-repeat:repeat-y;}
.formfondcoldroite_noir {width:35px;background:url(form_fond_droitenoir.gif);background-repeat:repeat-y;}
.formfondcolgauche2_noir {width:35px;background:url(form_fond_gauche2noir.gif);background-repeat:repeat-y;}
.formfondcoldroite2_noir {width:35px;background:url(form_fond_droite2noir.gif);background-repeat:repeat-y;}


/* liens commerciaux */
.liencommerciaux_top {background:url(lienscx_dotnoir.gif);background-repeat:repeat-x;background-position:bottom;}
.liencommerciaux_header {font-weight:bold;font-family:arial,sans-serif;font-size:11px;color:#000000;}
.liencommerciaux_pquoipas {font-weight:normal;font-family:arial,sans-serif;font-size:10px;color:#000000;}
.liencommerciaux_titre {font-weight:bold;font-family:arial,sans-serif;font-size:11px;color:#1F4386;}
.liencommerciaux_chapo {font-weight:normal;font-family:arial,sans-serif;font-size:11px;color:#000000;}
.liencommerciaux_lien {font-weight:normal;font-family:arial,sans-serif;font-size:10px;color:#CC0000;margin-bottom:6px;}
.liencommerciaux_pointill {width:450px;height:1px;background:url(lienscx_pointill.gif);background-repeat:repeat-x;}

/* moteur recherche */
.recherche_header {background:#8C8080;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.recherche_res {width:440px;margin-left:20px;margin-top:8px;}
.recherche_nbre {font-weight:bold;font-family:Verdana;font-size:20px;color:#000000;}
.recherche_groslibelle {font-weight:bold;font-family:Verdana;font-size:15px;color:#000000;}
.recherche_chaine {font-weight:bold;font-family:Verdana;font-size:15px;color:#CC0000;}
.recherche_triactif {font-weight:normal;font-family:Verdana;font-size:11px;color:#CC0000;}
.recherche_triinactif_souligne {font-weight:normal;font-family:Verdana;font-size:11px;color:#666666;text-decoration:underline;}
.recherche_triinactif {font-weight:normal;font-family:Verdana;font-size:11px;color:#666666;}
.recherche_article_infos {font-weight:normal;font-family:Verdana;font-size:11px;color:#CC0000;margin-top:15px;margin-bottom:2px;}
.recherche_article_titre {font-weight:bold;font-family:Verdana;font-size:12px;color:#000000;}
.recherche_article_chapo {font-weight:normal;font-family:Verdana;font-size:12px;color:#000000;}
.recherche_nbpage_rouge {font-weight:normal;font-family:Verdana;font-size:11px;color:#CC0000;}
.recherche_nbpage_gris {font-weight:normal;font-family:Verdana;font-size:11px;color:#666666;}
.recherche_avancee {font-weight:normal;font-family:Verdana;font-size:12px;color:#000000;margin-bottom:12px;}
.recherche_expression {font-weight:bold;font-family:Verdana;font-size:12px;color:#000000;}

/* inscrip forum */
.foruminscript_cartouchetete {width:652px;margin-left:18px;margin-top:0px;margin-bottom:0px;}
.foruminscript_zonechamps {width:622px;margin-left:30px;margin-top:0px;}
.foruminscript_titre {background:url(fond_titre_foruminscrip.gif);background-repeat:no-repeat;}
.foruminscript_titre_texte {font: bold italic 14px verdana; color: #ffffff;margin:1px 0 0px 25px;width:670px;height:19px;}
.foruminscript_surtitre {margin-top:2px;margin-bottom:25px;margin-left:220px;font-weight:normal;font-family:Verdana;font-size:10px;color:#CC0000;}
.foruminscript_categories {margin-top:5px;margin-bottom:1px;font-weight:normal;font-family:Verdana;font-size:12px;color:#343435;}
.foruminscript_explic {margin-top:0px;margin-bottom:15px;font-weight:bold;font-family:Verdana;font-size:11px;color:#000000;}
.foruminscript_pointnoir {background:url(dotnoir_foruminscrip.gif);background-repeat:repeat-x;}
.foruminscript_pointnoir2 {background:url(dotnoir_foruminscrip2.gif);background-repeat:repeat-x;}
.foruminscript_filetgris {background:url(filetgris_foruminscrip.gif);background-repeat:repeat-x;background-position:bottom;}
.foruminscript_colg {width:18px;background:url(colg_foruminscrip.gif);background-repeat:repeat-y;}
.foruminscript_input {font:11px Verdana, sans-serif;height:18px;width:180px;margin-top:4px;border:1px solid #9C9C9C;}
.foruminscript_libelles {margin-top:5px;margin-bottom:10px;font-weight:bold;font-family:Verdana;font-size:11px;color:#CC0000;}
.foruminscript_zonevalid {width:642px;margin-left:10px;margin-top:50px;}
.foruminscript_rappelcharte {margin-top:0px;margin-bottom:15px;font-weight:normal;font-family:Verdana;font-size:11px;color:#CC0000;}
.foruminscript_note {margin-top:10px;margin-bottom:0px;font-weight:normal;font-family:Verdana;font-size:10px;color:#343435;}
.foruminscript_modos {padding-top:8px;height:32px;text-align:center;width:670px;background:url(fond_moderat_foruminscript.gif);background-repeat:repeat-x;font-weight:normal;font-family:Verdana;font-size:11px;color:#000000;}

/* coupe du monde rugby */
.cdmrugby_formselect{font:12px Arial, Helvetica, sans-serif;height:18px;width:150px;margin-top:10px;border:1px solid #666666;}
.cdmrugby_nav {font-weight:normal;font-family:Verdana;font-size:11px;color:#666666;}
.cdmrugby_header {font-weight:bold;font-family:Verdana;font-size:18px;color:#CC0000;margin-top:2px;margin-bottom:2px;}
.cdmrugby_header2 {font-weight:bold;font-family:Verdana;font-size:14px;color:#000000;}
.cdmrugby_intitules {font-weight:bold;font-family:Verdana;font-size:12px;color:#ffffff;text-align:center;vertical-align:middle;height:26px;background:#cc0000;}
.cdmrugby_lignefoncee {font-weight:normal;font-family:Verdana;font-size:12px;color:#333333;vertical-align:middle;height:26px;background:#EEEEEE;}
.cdmrugby_ligneclaire {font-weight:normal;font-family:Verdana;font-size:12px;color:#333333;vertical-align:middle;height:26px;background:#ffffff;}

/* competition f1 */
.f1_formselect{font:12px Arial, Helvetica, sans-serif;height:18px;width:150px;margin-top:10px;border:1px solid #666666;}
.f1_nav {font-weight:normal;font-family:Verdana;font-size:11px;color:#666666;}
.f1_header {font-weight:bold;font-family:Verdana;font-size:18px;color:#CC0000;margin-top:2px;margin-bottom:2px;}
.f1_header2 {font-weight:bold;font-family:Verdana;font-size:14px;color:#000000;}
.f1_intitules {font-weight:bold;font-family:Verdana;font-size:12px;color:#ffffff;text-align:center;vertical-align:middle;height:26px;background:#cc0000;}
.f1_lignefoncee {font-weight:normal;font-family:Verdana;font-size:12px;color:#333333;vertical-align:middle;height:26px;background:#EEEEEE;}
.f1_ligneclaire {font-weight:normal;font-family:Verdana;font-size:12px;color:#333333;vertical-align:middle;height:26px;background:#ffffff;}


/* presentations emissions */
.presemiss_titre {background:url(fond_titre_presemiss.gif);background-repeat:no-repeat;}
.presemiss_titre_texte {font: bold italic 14px verdana; color: #ffffff;margin:1px 0 0px 25px;width:669px;height:19px;}
.presemiss_ventre {margin-left:7px;margin-right:13px;width:650px;margin-top:20px;}
.presemiss_pointnoir {background:url(dotnoir_presemiss.gif);background-repeat:repeat-x;height:2px;margin-bottom:0px;}
.presemiss_blog {margin-top: 5px; text-align: center; height: 20px; padding-top: 2px; background:url(fondmeablog_presemiss.gif) no-repeat; font: bold 11px verdana,helvetica; color: #ffffff; cursor: pointer;}
/*presemiss_blog {background:url(http://www.rmc.fr/images/ventre/fondmeablog_presemiss.gif);background-repeat:no-repeat;padding-left:65px;padding-top:2px;font: bold 11px verdana; color: #ffffff;height:19px;margin-top:7px;cursor:pointer;}*/
.presemiss_avis {font-weight:bold;font-family:Verdana;font-size:10px;color:#2B2B2C;text-align:center;margin-top:8px;margin-bottom:5px;}
.presemiss_avis_picto {margin-right:3px;}
.presemiss_podcast {background:url(lecteurpodcast_presemiss.gif);background-repeat:no-repeat;padding-left:40px;padding-top:6px;font: bold 11px verdana; color: #444444;height:28px;margin-top:7px;cursor:pointer;}
.presemiss_themes {background:#C50405;height:18px;font-weight:bold;font-family:Verdana;font-size:11px;color:#ffffff;padding-left:7px;padding-top:2px;}
.presemiss_themes_titres {background:#EFEEEE;font-weight:normal;font-family:Verdana;font-size:11px;color:#101110;padding-left:13px;padding-top:2px;text-align:left;}
.presemiss_horaire {font-weight:bold;font-family:Verdana;font-size:12px;color:#F12A2F;}
.presemiss_animat {font-weight:bold;font-family:Verdana;font-size:12px;color:#2B2B2C;margin-bottom:10px;}
.presemiss_parag {font-weight:normal;font-family:Verdana;font-size:11px;color:#2B2B2C;margin-top:20px;}
.presemiss_autresshow {font-weight:bold;font-family:Verdana;font-size:12px;color:#F12A2F;margin-bottom:8px;}
.presemiss_nomautreshow {font-weight:bold;font-family:Verdana;font-size:12px;color:#545353;padding-left:10px;}

/* bloc CadresOnLine */
.COL_tete {width:300px;background:#BC0C25;color:white;font-weight:bold;font-size:14px;height:16px;padding:2px 0px 1px 0px;font-family:arial,helvetica,sans-serif;}
.COL_titre {color:#000000;font-weight:bold;font-size:12px;font-family:arial,helvetica,sans-serif;margin-top:7px;margin-bottom:1px;}
.COL_texte {color:#000000;font-weight:normal;font-size:12px;font-family:arial,helvetica,sans-serif;margin-top:1px;margin-bottom:2px;}
.COL_mediumtexte {color:#000000;font-weight:normal;font-size:11px;font-family:arial,helvetica,sans-serif;margin-top:0px;margin-bottom:0px;}
.COL_mediumtextegras {color:#000000;font-weight:bold;font-size:11px;font-family:arial,helvetica,sans-serif;margin-top:0px;margin-bottom:0px;}
.COL_mediumtexterouge {color:#CC0000;font-weight:normal;font-size:11px;font-family:arial,helvetica,sans-serif;margin-top:0px;margin-bottom:0px;}
.COL_smalltexte {color:#000000;font-weight:normal;font-size:10px;font-family:arial,helvetica,sans-serif;margin-top:1px;margin-bottom:2px;}
.COL_input {font:11px Arial, Helvetica, sans-serif;height:20px;width:110px;margin-top:4px;border:1px solid #9C9C9C;}
.COL_davantage {color:#CC0000;font-weight:normal;font-size:11px;font-family:arial,helvetica,sans-serif;text-decoration:underline;}
.COL_pointilles {height:10px;width:160px;background:url(COL_pointilles.gif);background-repeat:repeat-x;}

/* News Par Dates*/
.NDP_header {width:452px;background:#C51A37;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.NPD_formselect{font:11px Arial, Helvetica, sans-serif;height:18px;width:150px;margin-top:10px;border:1px solid #666666;}
.NPD_date {color:#ffffff;font-size:12px;font-weight:normal;background:#333333;padding-left:20px;font-family:Verdana;margin-top:20px;width:440px;}
.NPD_surtitre {color:#CC0000;font-size:11px;font-weight:normal;text-decoration:none;font-family:Verdana;margin-top:8px;}
.NPD_titre {font-weight:bold;font-family:Verdana;font-size:12px;color:#555555;}
.coldLinksNPDactif {display:block; margin-left:15px;margin-right:15px;margin-top:3px;margin-bottom:3px; color:#C90205;font-size:11px;text-decoration:none;}
.coldLinksNPDinactif {display:block; margin-left:15px;margin-right:15px;margin-top:3px;margin-bottom:3px; color:#535353;font-size:11px;text-decoration:none;}
.coldTxtNPDactif {display:block; margin-left:15px;margin-top:3px;margin-bottom:3px; color:#C90205;font-size:11px;text-decoration:none;}
.coldTxtNPDinactif {display:block; margin-left:15px;margin-top:3px;margin-bottom:3px; color:#535353;font-size:11px;text-decoration:none;}

/* Sondages */
.Sond_head {background:url(Sond_head_fond.gif);background-repeat:no-repeat;font: bold 13px verdana,helvetica; color: #ffffff; padding: 1px 0 0 10px;height:19px;}
.Sond_base {background:url(Sond_base_fond.gif);background-repeat:no-repeat;height:6px;}
.Sond_compteur {font-weight:normal;font-family:Verdana;font-size:10px;color:#666666;margin-top:8px;margin-bottom:8px;}
.Sond_question {font-weight:bold;font-family:Verdana;font-size:11px;color:#000000;margin-bottom:8px;}
.Sond_valid {margin-bottom:8px;text-align:center;}
.Sond_reponses {font-weight:normal;font-family:Verdana;font-size:11px;color:#000000;margin-top:3px;margin-bottom:8px;}
.Sond_reponses2 {font-weight:normal;font-family:Verdana;font-size:11px;color:#000000;}
.Sond_pourcent {font-weight:bold;font-family:Verdana;font-size:11px;color:#CC0000;}
.Sond_barre {background:url(Sond_fondbarre.gif);background-repeat:no-repeat;background-position:bottom;height:8px;}
.ventredemicolheadersond {width:217px;background:#BABABA;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.SondVentreCompteur {color:#646464;font-size:10px;}
.SondVentreQuestion {margin-top:3px;margin-bottom:3px;color:#555555;font-size:11px;font-weight:bold;text-decoration:none;}
.SondVentreReponses {margin-top:2px;margin-bottom:2px;color:#575757;font-size:11px;}
.articleSondheader {width:400px;background:url(sep_fil_ventre.gif);height:16px;background-position:bottom left;background-repeat:repeat-x;border:none;padding:0 0 0 10px;margin-top:10px;}
.articleSondheadertext{background:white;}
.SondArticleQuestion {margin-top:3px;margin-bottom:3px;color:#464646;font-size:12px;font-weight:bold;text-decoration:none;}
.SondArticleReponses {margin-top:2px;margin-bottom:2px;color:#464646;font-size:12px;}
.SondArticleReponses2 {margin-top:5px;color:#464646;font-size:12px;}


/* CDM RUGBY */
.Rugbycolgaucheactus {background: #C51A37; font: italic bold 13px verdana,helvetica; color: #ffffff; padding: 0 0 1px 10px;}
.Rugbycolgaucheactussurtitre {color:#C51A37;font-size:11px;margin-top:0px;margin-bottom:5px;font-family:verdana,sans-serif;}
.Rugbycolgaucheactustitre {color:#555555;font-size:11px;font-weight:bold;}
.Rugbycolgaucheactusbase {background:url(rugby2007_fondbas.gif);background-repeat:repeat-x;height:11px;}
.Rugbycolgauchesepar {background:url(rugby2007_separ.gif);background-repeat:repeat-y;}
.Rugbycolgaucheheaderinterviews {width:435px;background:#5F0000;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 0px 1px 0px;font-family:arial,helvetica,sans-serif;}
.Rugbycolgauchephotointerviews {border:1px solid #5F0000;margin-right:10px;margin-left:10px;margin-top:10px;}
.Rugbycolgauchesurtitreinterviews {color:#5F0000;font-size:11px;font-family:verdana,sans-serif;margin-top:10px;}
.Rugbycolgauchetitreinterviews {color:#555555;font-size:11px;font-weight:bold;text-transform:uppercase;}
.Rugbycolgauchechapointerviews {color:black;font-size:12px;font-weight:normal;font-family:verdana,sans-serif;}
.Rugbycolgaucheheaderpodcast {width:435px;background:#89927C;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 0px 1px 0px;font-family:arial,helvetica,sans-serif;}
.Rugbycolgauchephotopodcast {border:1px solid #89927C;margin-right:10px;margin-left:10px;margin-top:10px;}
.Rugbycolgauchesurtitrepodcast {color:#DD0200;font-size:11px;font-family:verdana,sans-serif;margin-top:10px;font-weight:bold;margin-bottom:2px;}
.Rugbycolgauchetitrepodcast {color:#555555;font-size:11px;}
.Rugbycolgaucheactusbaseventre {background:url(rugby2007_fondbasventre.gif);background-repeat:no-repeat;height:15px;}
.Rugbycolgaucheheaderquiz {width:435px;background:#71A458;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 0px 1px 0px;font-family:arial,helvetica,sans-serif;}
.Rugbycolgauchepresquiz {color:#000000;font-size:12px;font-family:verdana,sans-serif;margin-top:10px;font-weight:normal;margin-bottom:10px;}
.Rugbycolgauchesurtitrequiz {color:#D2080B;font-size:11px;font-family:verdana,sans-serif;margin-top:5px;font-weight:bold;margin-bottom:2px;}
.Rugbycolgauchetitrequiz {color:#000000;font-size:11px;font-weight:bold;}
.Rugbyventrepodcastheader {width:217px;background:#89927C;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;margin-bottom:10px;}
.Rugbyventrepodcastsurtitre {color:#555555;font-size:11px;font-family:verdana,sans-serif;font-weight:bold;margin-left:10px;margin-right:10px;}
.Rugbyventrepodcasttitre {color:#555555;font-size:11px;font-family:verdana,sans-serif;font-weight:normal;margin-bottom:2px;margin-left:10px;margin-right:10px;}

/* FORUM */
div.messagequote {border : 1px solid #aaaaaa; width : 80%; padding : 10px; margin : 10px auto 10px auto; background-color : #f6f6f6;}
div.messagequote div.quote {font-size : 11px; font-weight : 900; width : 75%; border-bottom : 1px solid #666666; margin-bottom : 10px;}
.coldLinksForums {display:block;margin-left:15px;margin-top:3px;margin-bottom:3px;margin-right:10px;color:#535353;font-size:11px;}

/* Pages bas site */
.Contacts_header {width:452px;background:#89927C;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.Contacts_titre {background:url(Fond_Titres_Contact.gif);background-repeat:repeat-x;height:15px;color:#000000;font-weight:bold;font-size:11px;padding:1px 2px 1px 6px;font-family:arial,helvetica,sans-serif;margin-top:10px;margin-bottom:10px;}
.Contacts_parag {color:#000000;font-weight:normal;font-size:11px;font-family:arial,helvetica,sans-serif;margin-bottom:4px;margin-left:20px;}
.Contacts_rouge {color:#CC0000;font-weight:bold;font-size:11px;font-family:arial,helvetica,sans-serif;}
.Contacts_noir {color:#000000;font-weight:normal;font-size:11px;font-family:arial,helvetica,sans-serif;}
.Contacts_pointill {background:url(Pointilles_Fiche_Contact.gif);background-repeat:repeat-x;height:9px;}
.Contacts_base {background:url(Base_Fiche_Contact.gif);background-repeat:no-repeat;height:11px;}


/* BRIGITTE */
.TemSelectHeader_BL {width:448px;background:#FFFFFF;color:#5B257A;font-weight:normal;font-style:italic;font-size:11px;padding:0px 2px 5px 10px;font-family:Verdana,sans-serif;height:25px;margin-bottom:0px;}
.TemSelect{font:10px Verdana;height:18px;width:260px;margin-top:1px;border:1px solid #5B257A;}
.TemOption{font-family:Verdana,sans-serif;color:#5B257A;font-weight:normal;font-size:10px;}
.TemHeader_BL {background:url(dentelle-haut.gif);background-repeat:no-repeat;height:34px;padding:8px 2px 1px 10px;margin-left:0px;margin-top:0px;margin-bottom:1px;}
.TemHeader_BL2 {background:url(dentelle-haut2.gif);background-repeat:no-repeat;height:34px;padding:8px 2px 1px 10px;margin-left:0px;margin-top:0px;margin-bottom:1px;}
.TemBigTxtHeader_BL {font-family:Verdana,sans-serif;color:#ffffff;font-weight:bold;font-size:16px;}
.TemSmallTxtHeader_BL {font-family:Verdana,sans-serif;color:#ffffff;font-weight:bold;font-size:11px;}
.TemTitre_BL {background:url(Fond_Titres_Contact_BL.gif);background-repeat:repeat-x;height:15px;color:#CE0E44;font-weight:normal;font-size:11px;padding:1px 2px 1px 6px;font-family:Verdana,sans-serif;margin-left:10px;margin-right:10px;margin-top:0px;margin-bottom:3px;}
.Temtexte_BL {font-family:Verdana,sans-serif;color:#555555;font-weight:bold;font-size:11px;margin-left:20px;margin-right:40px;margin-bottom:10px;}
.TemBase_BL {background:url(dentelle-bas.gif);background-repeat:no-repeat;height:25px;padding:2px 2px 1px 6px;margin-left:0px;margin-top:15px;margin-bottom:0px;}
.TemSmallTxtBase_BL {font-family:Verdana,sans-serif;color:#ffffff;font-weight:normal;font-size:10px;text-align:right;padding-right:10px;}
.ForumHeader_BL {width:448px;background:#555555;color:white;font-weight:bold;font-style:italic;font-size:12px;height:16px;padding:1px 2px 1px 10px;font-family:Verdana,sans-serif;}
.ForumContrib {margin-bottom:15px;}
.ForumTitre_BL {background:url(Fond_Titres_Forum_BL.gif);background-repeat:repeat-x;height:15px;color:#844C6D;font-weight:normal;font-size:11px;padding:1px 0px 1px 6px;font-family:Verdana,sans-serif;margin-left:5px;margin-right:0px;margin-top:8px;margin-bottom:3px;}
.Forumtexte_BL {font-family:Verdana,sans-serif;color:#555555;font-weight:bold;font-size:11px;margin-left:12px;margin-right:0px;margin-bottom:10px;}
.ForumBase_BL {background:url(ForumBL_Base.gif);background-repeat:no-repeat;height:25px;padding:2px 2px 1px 6px;margin-left:0px;margin-top:15px;margin-bottom:10px;}
.ForumSmallTxtBase_BL {font-family:Verdana,sans-serif;color:#000000;font-weight:normal;font-size:10px;text-align:right;padding-right:10px;}
.MeasHeader_BL {width:213px;background:#8C88CF;color:white;font-weight:bold;font-style:italic;font-size:12px;height:16px;padding:1px 2px 1px 10px;font-family:Verdana,sans-serif;}
.MeasTexte_BL {font-family:Verdana,sans-serif;color:#000000;font-weight:normal;font-size:11px;}
.BlogHeader_BL {width:213px;background:#A10C4F;color:white;font-weight:bold;font-style:italic;font-size:12px;height:16px;padding:1px 2px 1px 10px;font-family:Verdana,sans-serif;}


	/* home podcasts - titres catégories */
.homepodcasts_rubeve {padding: 2px 0 3px 9px; font: bold italic 12px verdana, helvetica; color: #ffffff; background: #E50404;}
.homepodcasts_rubeve2 {padding: 2px 0 3px 9px; font: bold italic 12px verdana, helvetica; color: #ffffff; background: #990000;}
.homepodcasts_rubeve_tdf {padding: 2px 0 3px 9px; font: bold italic 12px verdana, helvetica; color: #000000; background: #fdc900;}
.homepodcasts_rubinfotalk {padding: 2px 0 3px 9px; font: bold italic 12px verdana, helvetica; color: #ffffff; background: #3F079D;}
.homepodcasts_rubsport {padding: 2px 0 3px 9px; font: bold italic 12px verdana, helvetica; color: #ffffff; background: #02A810;}
.homepodcasts_rubloisirs {padding: 2px 0 3px 9px; font: bold italic 12px verdana, helvetica; color: #ffffff; background: #E79903;}
	/* home podcasts - 4 podcasts MEA */
.homepodcasts_evebox {padding: 0 0 10px 0;}
.homepodcasts_evetitre {clear: left; font: bold 10px verdana, helvetica; color: #DE0101; padding: 1px 2px 0 3px;}
.homepodcasts_evechapo {clear: left; font: 9px verdana, helvetica; color: #000000; padding: 2px 5px 0 3px;}
	/* home podcasts - liste des podcasts */
.homepodcasts_box {padding: 15px 0 0 0;}
.homepodcasts_box2 {padding: 15px 0 0 15px;}
.homepodcasts_titre {clear: left; font: bold 10px verdana, helvetica; color: #DE0101; margin-top: 2px;}
.homepodcasts_titre_tdf {clear: left; font: bold 10px verdana, helvetica; color: #fd5910; margin-top: 2px;}
.homepodcasts_chapo {clear: left; font: 10px verdana, helvetica; color: #000000; margin-top: 2px;}
.homepodcasts_chapo_tdf {clear: left; font: 11px verdana, helvetica; color: #000000; margin-top: 2px;}

/*Calendrier*/
.ds_box {background-color: #FFF; border: 1px solid #000; position: absolute; z-index: 32767;}
.ds_tbl {background-color: #FFF;}
.ds_head {background-color: #333; color: #FFF; font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; text-align: center; letter-spacing: 2px;}
.ds_subhead {background-color: #CCC; color: #000; font-size: 12px; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; width: 32px}
.ds_cell {background-color: #EEE; color: #000; font-size: 13px; text-align: center; font-family: Arial, Helvetica, sans-serif; padding: 5px; cursor: pointer;}
.ds_cell:hover {background-color: #F3F3F3;}

/*Plans*/
.plans_red_top {width:312px;background:#E50404;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.plans_red_body {font-weight: normal; font-family: Verdana; font-size: 11px; color: #2B2B2C; margin-top: 20px; border: 1px solid red; padding: 6px;} 
.plans_green_top {width:312px;background:#02A810;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.plans_green_body_inside {font-weight: normal;font-family: Verdana;font-size: 11px; color: #2B2B2C;}
.plans_green_body_outside {font-weight: normal;font-family: Verdana;font-size: 11px; color: #2B2B2C;border: 1px solid #02A810;}
.plans_blue_top {width:312px;background:#3F079D;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.plans_blue_body_inside {font-weight: normal;font-family: Verdana;font-size: 11px; color: #2B2B2C;} 
.plans_blue_body_outside {font-weight: normal;font-family: Verdana;font-size: 11px; color: #2B2B2C;border: 1px solid #3F079D;} 
.plans_yellow_top {padding: 2px 0 3px 9px; font: bold italic 12px verdana, helvetica; color: #ffffff; background: #E79903;height:16px;}
.plans_yellow_body_inside {font-weight: normal;font-family: Verdana;font-size: 11px; color: #000000;}
.plans_yellow_body_outside {font-weight: normal;font-family: Verdana;font-size: 11px; color: #000000; border: 1px solid #E79903;}
.plans_pink_top {padding: 2px 0 3px 9px; font: bold italic 12px verdana, helvetica; color: #ffffff; background: #A10C4F;height:16px;}
.plans_pink_body_inside {font-weight: normal;font-family: Verdana;font-size: 11px; color: #000000;}
.plans_pink_body_outside {font-weight: normal;font-family: Verdana;font-size: 11px; color: #000000; border: 1px solid #A10C4F;}
 
/* cold - autres titres */
.art_autres_rub {font: bold italic 14px verdana,arial,helvetica; background: #C51A37; color: #ffffff; padding: 3px 0 3px 6px;}
.art_autres_bloc {background: #ffffff; padding: 5px 10px 5px 10px;}
.art_autres_st {font: 11px verdana,arial,helvetica; color: #C51A37;}
.art_autres_tit {font: bold 11px verdana,arial,helvetica; color: #000000;}
.art_autres_points {background: url(point_noir_4-2.gif) repeat-x; height: 2px; margin: 5px 0 5px 0;}
.art_autres_plusde {font: 10px verdana,arial,helvetica; color: #C51A37; margin-top: 10px; text-align: right;}
.new_art_autres_st {font: 11px verdana,arial,helvetica; color: #E20008;margin-left:15px;margin-right:10px;margin-top:6px;}
.new_art_autres_tit {display:block;margin-left:15px;margin-top:0px;margin-bottom:0px;margin-right:10px;color:#535353;font-size:11px;}
.new_art_autres_chapo {display:block;margin-left:15px;margin-top:3px;margin-bottom:2px;margin-right:10px;color:#535353;font-size:11px;}
.new_art_autres_dotted {border-bottom:1px dotted #000000;margin-left:10px;margin-right:10px;margin-top:4px;margin-bottom:4px;}

/* barre */
.BarreReseau {height:15px;padding:0;background:#c42e2f;font-family:arial,helvetica;font-size:11px;margin-bottom:2px;text-align:left;border-bottom:solid 1px white;}
.CadreReseau {background:#c42e2f;}
.LiensReseau ,  .LiensReseau a, .LiensReseau a:link, .LiensReseau a:visited, .LiensReseau a :active{color:white;padding:0 10px 0 10px;font-weight:bold;}

/* annuaires */
.annu_intertitre {background: url(annuaire_fond3.png) no-repeat; font: bold 10px verdana,helvetica; color: #666666; padding: 8px 0 4px 42px;}

.annu_sommclubnoir {background: #323232;}
.annu_sommclubgris {background: #5B5B5B;}
.annu_sommclubnom {font: bold 12px verdana,helvetica; color: #ffffff;}
.annu_somm3fleches {margin: 20px 0 20px 13px;}

.annu_clubnom {font: bold 18px verdana,helvetica; color: #CC0000; margin-bottom: 15px;}
.annu_clubbloc {margin-bottom: 15px;}
.annu_clubprofil {margin-bottom: 15px;width:300px;}
.annu_clubitem {font: 10px verdana,helvetica; color: #CC0000;}
.annu_clubdata {font: 11px verdana,helvetica; color: #000000;}
.annu_clublogo {float: left; margin-right: 30px; width: 170px;}

.annu_joueurclub {font: 12px verdana,helvetica; color: #010101;}
.annu_joueurnom {font: bold 18px verdana,helvetica; color: #CC0000; margin-bottom: 15px;}
.annu_joueuritem {font: 10px verdana,helvetica; color: #CC0000;}
.annu_joueurdata {font: 11px verdana,helvetica; color: #000000; margin-bottom: 15px;}
.annu_joueurphoto {float: left; margin-right: 25px;}
.annu_joueurcarrgris {background: #E4E4E4; font: 10px verdana,helvetica; color: #000000;}
.annu_joueurcarrblanc {background: #ffffff; font: 10px verdana,helvetica; color: #000000;}
.annu_joueurcarrtitre {font: bold 10px verdana,helvetica; color: #cc0000;}
.annu_joueurcarrsoustitre {font: 10px verdana,helvetica; color: #666666; text-align: center; padding-bottom: 5px;}
.annu_joueurcarrdonnees {text-align: center;}
.annu_joueurpalmares {font: 10px verdana,helvetica; color: #000000;}

/* Brigitte Lahaie pages */
.ventredeuxcolHeaderRose{width:451px;background-color: #de3b82;background-image: none;background-repeat: repeat;background-attachment: scroll;background-x-position: 0%;background-y-position: 0%;color: white;font-weight: bold;font-size: 14px; font-style:italic; height: 16px;padding-top: 2px;padding-right: 2px;padding-bottom: 1px;padding-left: 6px;font-family: arial,helvetica,sans-serif;}
.ventredeuxcolHeaderLS{width:451px;background-color: #9484cf;background-image: none;background-repeat: repeat;background-attachment: scroll;background-x-position: 0%;background-y-position: 0%;color: white;font-weight: bold;font-size: 14px; font-style:italic; height: 16px;padding-top: 2px;padding-right: 2px;padding-bottom: 1px;padding-left: 6px;font-family: arial,helvetica,sans-serif;}
.ventredeuxcolHeaderViolet{width:451px;background-color: #a10c7c;background-image: none;background-repeat: repeat;background-attachment: scroll;background-x-position: 0%;background-y-position: 0%;color: white;font-weight: bold;font-size: 14px; font-style:italic; height: 16px;padding-top: 2px;padding-right: 2px;padding-bottom: 1px;padding-left: 6px;font-family: arial,helvetica,sans-serif;}
.ventredemicoltitrelienRose {color:#d41d6f;font-size:11px;font-weight:bold;text-decoration:none;}
.ventredemicolsurtitreDebats {color:#5F0000;font-size:11px;font-family:verdana,sans-serif; margin-bottom:10px}
.ventredemicolheaderLoveStory{width: 217px;background-color: #9484cf;background-image: none;background-repeat: repeat;background-attachment: scroll;background-x-position: 0%;background-y-position: 0%;color: white;font-weight: bold;font-size: 14px; font-style:italic; height: 16px;padding-top: 2px;padding-right: 2px;padding-bottom: 1px;padding-left: 6px;font-family: arial,helvetica,sans-serif;}
.ventredemicolheaderRose{width: 217px;background-color: #de3b82;background-image: none;background-repeat: repeat;background-attachment: scroll;background-x-position: 0%;background-y-position: 0%;color: white;font-weight: bold;font-size: 14px; font-style:italic; height: 16px;padding-top: 2px;padding-right: 2px;padding-bottom: 1px;padding-left: 6px;font-family: arial,helvetica,sans-serif;}
.ventredemicolheaderViolet{width: 217px;background-color: #a10c7c;background-image: none;background-repeat: repeat;background-attachment: scroll;background-x-position: 0%;background-y-position: 0%;color: white;font-weight: bold;font-size: 14px;height: 16px;padding-top: 2px;padding-right: 2px;padding-bottom: 1px;padding-left: 6px;font-family: arial,helvetica,sans-serif; font-style:italic;}
.debutventreplusdeRose {color:#de3b82;font-size:11px;}
.lien_puces:link{color:#545454; font-size:10px; text-decoration:none}
.lien_puces:hover{color:#545454; font-size:10px; text-decoration:underline}
.lien_puces:visited{color:#545454; font-size:10px; text-decoration:none}
.BL_surtitre {color:#DE3B82;font-size:11px;font-weight:normal;text-decoration:none;font-family:Verdana;margin-top:8px;}
.BL_surtitre_loveStory {color:#9484cf;font-size:11px;font-weight:normal;text-decoration:none;font-family:Verdana;margin-top:8px;}
.formfondcolgaucheR {width:35px;background:url(form_fond_gaucherose.gif);background-repeat:repeat-y;}
.formfondcoldroiteR {width:35px;background:url(form_fond_droiterose.gif);background-repeat:repeat-y;}
.formfondcolgauche2R {width:35px;background:url(form_fond_gauche2rose.gif);background-repeat:repeat-y;}
.formfondcoldroite2R {width:35px;background:url(form_fond_droite2rose.gif);background-repeat:repeat-y;}
#menu_conseils li.selected{
 display:block;
 background-image: url(puce_menu.gif);
 background-repeat: no-repeat;
 background-position: left center;
 list-style-type: none; 
 float:left;
 padding-left:12px;
 margin-left:5px;
 font-weight:bold;
 font-size:9px; 
 }
 #menu_conseils li.no{
 display:block;
 background-image: url(puce_menu2.gif);
 background-repeat: no-repeat;
 background-position: left center;
 list-style-type: none; 
 float:left;
 padding-left:12px;
 margin-left:5px;
 font-size:9px;
 }
#menu_conseils a:link{color:#a10c7c; text-decoration:none}
#menu_conseils a:hover{color:#a10c7c; text-decoration:underline}
#menu_conseils a:visited{color:#a10c7c; text-decoration:none}
.ventredemicolsurtitreBL {color:#a10c7c;font-size:11px;font-family:verdana,sans-serif;}

/* Brigitte Lahaie pages */

/* News par date new */
._date img{ border:none;}
._date{ text-align:center; display:block; text-decoration:none;padding:5px 0; margin:0 5px; }
._date a{ display:block; border:#990000 solid 1px; text-align:center; float:left; height:15px;}
._date a:hover{ }
.date_jour{ width:416px; border-top:#990000 solid 1px; border-bottom:#990000 solid 1px;float:left; height:15px; text-transform:uppercase; font-size:11px; background:#EEEEEE;}

.LIVESCORE_header {width:452px;background:#3377BB;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}

/* euro 2008  */
.header{ width:460px; height:44px; background:url(fond_header.jpg) bottom; font-family:Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;}
.header h1{ margin:0; padding:6px 0 0 200px;  font-size:14px; color:#FFFFFF; letter-spacing:1px; text-transform:uppercase; display:block; font-weight:bold;}
.header a{ display:block;margin:0 0 0 200px; text-decoration:none; color:#FFFFFF; font-size:11px; font-weight:bold; }
.header a:hover{ text-decoration:underline;}

/*  jo */

.header_colg_r {width:193px;background:#C51A37;color:white;font-weight:bold;font-style:italic;font-size:14px;height:16px;padding:2px 2px 1px 6px;font-family:arial,helvetica,sans-serif;}
.ventredemicolsepfil_colg {background:url(http://www.rmc.fr/images/ventre/sep_fil_colg.gif);margin:5px 0 5px 0;background-repeat:repeat-x;height:1px;}

.ventredemicolheadereve {padding:2px 2px 3px 6px; width:217px; height:16px; background:#CC0000; color:#FFFFFF; font-weight:bold; font-style:italic; font-size:14px; font-family:arial,helvetica,sans-serif; }

/* menu idalgo */
.menuidalactif {font:11px Verdana,Arial,sans-serif;color:#ffffff;font-weight:bold;text-decoration:none;height:27px;float:left;background:url(fondmenumlactif.jpg) repeat-x;padding-top:5px;padding-left:12px;padding-right:11px;cursor:pointer;}
.menuidalinactif {font:11px Verdana,Arial,sans-serif;color:#ffffff;font-weight:normal;text-decoration:none;height:27px;float:left;background:url(fondmenumlinactif.jpg) repeat-x;padding-top:5px;padding-left:7px;padding-right:7px;cursor:pointer;}
.separmenuidal {height:27px;float:left;background:url(separfondmenuml.jpg) no-repeat;padding-top:0px;padding-left:0px;padding-right:0px;width:2px;}