#MB_overlay {
position:absolute;
margin:auto;
top:0;	left:0;
width:100%; height:100%;
z-index:9999;
background-color:#000!important;
filter:alpha(opacity=0);
-moz-opacity:0;
opacity:0;
}

#MB_wrapper {
position:absolute;
z-index:10000;
}

#MB_window {
position:relative;
border-style:solid;
border-width:0 1px 1px 2px;
border-color:#E6E6E6;
text-align:left;
}

#MB_frame {
position:relative;
border-style:solid;
border-width:0 1px 1px 1px;
height:100%;
}

#MB_header {
margin:0;
height:28px;
}

#MB_content {
padding:16px 12px 6px;
overflow:auto;
}

#MB_content h2 { 
border-bottom:1px solid #D3D2CE;
color:#51493C;
font-size:16px;
margin-bottom:7px;
}

#MB_contentLoad {
margin-top:40px;
text-align:center;
}

#MB_loadingTxt {
color:#7BB517;
font-size:11px;
margin-bottom:10px;
}

#MB_caption {
background:url(bandeau_h.gif) repeat-x;
color:#6B6257;
font-size:15px;
font-weight:bold;
padding:6px 0 0 5px;
margin:0;
text-align:left;
height:36px;
}

#MB_close {
background:url(close.gif) no-repeat;
display:block;
position:absolute;
right:5px;
top:9px;
width:17px;
height:17px;
}

#MB_close span {
display:none;
}

/* Color scheme */
#MB_window {
border-color:#DEE0E5;
background-color:#FFF;
color:#000;
}

#MB_frame { border-color:#979CB6 }

#MB_header {
background-color:#F9F9FF;
border-color:#DDE;
}
#MB_caption { color:#000 }

#MB_close { color:#99B }
#MB_close:hover { color:#000 }