.new_articles h1 {
border:none;
color:#71695E;
font-size:10px;
line-height:10px;
font-weight:normal;
margin:0;
text-transform:uppercase;
}

.new_articles h1 strong {
color:#81BE18;
display:block;
font-size:28px;
line-height:25px;
font-weight:normal;
text-transform:none;
margin:5px 0 10px 0;
}

.article h3 {
color:#1B1B1F;
font-size:20px;
font-weight:normal;
line-height:20px;
margin-bottom:5px;
}
.new_articles h2 {
border-bottom:1px solid #D3D2CE;
color:#51493C;
font-size:16px;
margin-bottom:7px;
}

.new_articles h3 {
color:#675E52;
font-size:13px;
}
.new_articles h4 {color:#81BE18;}

.new_articles h5 {
color:#675E52;
font-size:12px;
}

.new_articles h6 {
color:#81BE18;
font-size:11px;
}

.new_articles p {
color:#676563;
font-size:11px;
line-height:15px;
margin-top:3px;
}

.new_articles p a {
text-decoration:none;
}
.new_articles  a.lien {
border-bottom:1px dashed #7BB517;
font-size:11px;
text-decoration:none;
}
.new_articles a.lien:hover {
border-bottom:1px solid #7BB517;
}

.lesarticles {
padding:0px 10px 0px 7px;
float:left;
width:270px;
}

.art_sep {
margin-top:10px;
width:100%;
}

.lesarticles img {
float:left;
margin:0px 7px 0 0;
padding:0 0 0 0;
}
.medias  {
margin:2px 0 10px;
}


.lesmedias {display:block;
clear:left;
height:20px;
}
.right, .rights  {float:right;
margin:0 10px;
}
.rights {padding:16px 0 0 0;margin:0;}


.medias:after {    
content:"."; 
display:block; 
height:0; 
clear:both; 
visibility:hidden;
}


.medias li {
display:block;
float:left;
}
.medias li.more{margin:0 5px 0 0;
padding:5px 0 0 0;}
.medias li a {
display:block;
float:left;
height:27px;
margin-right:2px;
width:27px;
}

.bt_videos {
background:url(videos.gif) no-repeat;
}
.bt_sons {
background:url(sons.gif) no-repeat;
}
.bt_photos {
background:url(photos.gif) no-repeat;
}

.mediasbas {clear:both;
background:url(grise_double.gif) repeat-x top;
padding:5px 0 0 0;
margin:5px 0;
}
.fl_l {
float:left;
margin: 10px 3px 0 0;}

.blocf {background:url(liste_f.gif) repeat-y;
	width:174px;
	min-height:200px;
	padding:3px 5px 3px 9px;
	}
.blocf ul {widows:170px;}	

.blocf  li {
	list-style:none;
	background:url(square.gif) no-repeat 0 5px;
	font-size:11px;
	margin-top:4px;
	padding-left:8px;
	}
.blocf  li a {
	color:#605445;
	text-decoration:none;
	}
	.blocf  li a.rose {
	color:#7BB517;
	font-size:11px;
	text-decoration:none;
	} 
	.blocf  li a:hover{text-decoration:underline;}
.end {background:url(liste_u.gif) no-repeat;
	height:43px;
	width:186px;
	}
.alire, .plusinfo {background: url(liste_lire_aussi.gif) no-repeat;
	height:19px;
	width:186px;
	}
	.plusinfo {background: url(liste_plus_infos.gif) no-repeat;}
.alire span, .plusinfo span {display:none;
}