#agenda {
	margin-top : 10px;
}

#bloc_agenda {
	margin-bottom : 10px;	
}

#agenda h2 {
	background: #ececec;
	color: #686868;
	font-weight: bold;
	border: 1px solid #cdcdcd;
	padding-top : 3px;
	padding-bottom : 3px;
	width : 160px;
	/width : 162px;
}

table.jCalendar {
	/*border: 1px solid #cdcdcd;*/
    border-collapse: collapse;
    border-spacing: 0;
    border-padding : 0;
    font-size : 10px;    
}
table.jCalendar th {
	background: #ececec;
	color: #686868;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
	border: 1px solid #cdcdcd;   	
}
table.jCalendar td {
	padding: 5px 5px 5px 5px;
	text-align: center;
  	cursor : default;
	border: 1px solid #cdcdcd;   	
}
table.jCalendar td.other-month {
  	cursor : default;	
}

table.jCalendar td.selected {
	background: #f66;
	color: #fff;
}
table.jCalendar td.selected:hover {
	background: #f33;
	color: #fff;
}
table.jCalendar td:hover, table.jCalendar td.dp-hover {
	background: #fff;
	color: #000;
}

table.jCalendar td.other-month.disabled, table.jCalendar td.other-month.disabled:hover {
	background-image: url(fond-day-out.gif);
	background-repeat : repeat-x;
	color:#CDCDCD;
}

table.jCalendar td.disabled, table.jCalendar td.disabled:hover {
	background: none;
	background-image: url(fond-day-in.gif);
  	background-repeat : repeat-x;    
  	color : #cdcdcd;
}

table.jCalendar td.event {
	background-image: url(fond-day-event.gif);
  	background-repeat : repeat-x;
  	color : #ffffff;
}
table.jCalendar td.event:hover {
	background: #f33;
	color: #fff;
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div.dp-popup {
	position: relative;
	/*background: #ccc;*/
	font-size: 11px;
	font-family: arial, sans-serif;
	padding: 2px;
	width: 171px;
	line-height: 1.2em;
}
div#dp-popup {
	position: absolute;
	z-index: 199;
}
div.dp-popup h2 {
	font-size: 12px;
	text-align: center;
	margin: 2px 0;
	padding: 0;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #000;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 60px;
}

div.dp-popup div.dp-nav-prev img.left {
	margin-top : 3px;
}

div.dp-popup div.dp-nav-next img.right {
	margin-top : 3px;
}

div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 60px;
	margin-right : 10px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #aaa;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}

#agenda_txt .day {
color:#8F1512;
}