/* GLOBAL_NAVI */

#global_navi {
width:782px;
height:25px;
}

#global_navi li {
display:inline;
}


#global_navi ul {
height:20px;
}

#global_navi li a {
background-image:url(navigation.jpg);
background-repeat:no-repeat;
float:left;
height:0px;
overflow:hidden;
padding-top:24px;
width:91px;
color:#6a6a6a;
text-decoration:none;
font-weight:bold;
}


#global_navi li#accueil a {
background-position:0px -24px;
width:140px;
}
#global_navi li#accueil a:hover {
background-position:0px -24px;
width:140px;
}


#global_navi li#institution a {
background-position:-140px 0px;
width:90px;
}
#global_navi li#institution a:hover {
background-position:-140px -24px;
}

#global_navi li#institution ul {
background-image:url(grey_space.png);
background-repeat:no-repeat;
height:382px;
position:absolute;
margin-top:25px;
left:-999em;
opacity:0.8;
}


#global_navi li:hover#institution ul {
left:auto;
margin-left:140px;
padding-top:10px;
padding-left:22px;
width:180px;
/margin-left : -90px;/*IE7*/
-margin-left : -90px; /*IE6*/
}

#global_navi li#institution ul li {
display:block;
padding-bottom:10px;	
}

#global_navi li#institution ul li a {
background-image:none;
overflow:visible;
float:none;
padding-top:0px;
}


#global_navi li#institution ul li a:hover {
color:#21a1d6;
}





#global_navi li#formation a {
background-position:-231px 0px;
width:90px;
}
#global_navi li#formation a:hover {
background-position:-231px -24px;
}

#global_navi li#formation ul {
position:absolute;
background-image:url(grey_space.png);
background-repeat:no-repeat;
height:382px;
margin-top:25px;
left:-999em;
opacity:0.8;
}
#global_navi li:hover#formation ul {
left:auto;
margin-left:229px;
padding-top:10px;
padding-left:22px;
width:180px;
/margin-left : -90px;/*IE7*/
-margin-left : -90px; /*IE6*/
}

#global_navi li#formation ul li a {
background-image:none;
overflow:visible;
float:none;
padding-top:0px;
}
#global_navi li#formation ul li a:hover {
color:#67b143;
}

#global_navi li#formation ul li {
display:block;
padding-bottom:10px;	
}


#global_navi li#recherche a {
background-position:-322px 0px;
}
#global_navi li#recherche a:hover {
background-position:-322px -24px;
}

#global_navi li#recherche ul {
position:absolute;
background-image:url(grey_space.png);
background-repeat:no-repeat;
height:382px;
margin-top:25px;
left:-999em;
opacity:0.8;
}
#global_navi li:hover#recherche ul {
left:auto;
margin-left:321px;
padding-top:10px;
padding-left:22px;
width:180px;
/margin-left : -90px;/*IE7*/
-margin-left : -90px; /*IE6*/
}

#global_navi li#recherche ul li a {
background-image:none;
overflow:visible;
float:none;
padding-top:0px;
}
#global_navi li#recherche ul li a:hover {
color:#347813;
}

#global_navi li#recherche ul li {
display:block;
padding-bottom:10px;	
}



#global_navi li#docu a {
background-position:-413px 0px;
width:93px;
}
#global_navi li#docu a:hover {
background-position:-413px -24px;
}

#global_navi li#docu ul {
position:absolute;
background-image:url(grey_space.png);
background-repeat:no-repeat;
height:382px;
margin-top:25px;
left:-999em;
opacity:0.8;
}
#global_navi li:hover#docu ul {
left:auto;
margin-left:410px;
padding-top:10px;
padding-left:22px;
width:180px;
/margin-left : -93px;/*IE7*/
-margin-left : -93px; /*IE6*/
}

#global_navi li#docu ul li a {
background-image:none;
overflow:visible;
float:none;
padding-top:0px;
}
#global_navi li#docu ul li a:hover {
color:#e5801d;
}

#global_navi li#docu ul li {
display:block;
padding-bottom:10px;	
}


#global_navi li#campus a {
background-position:-506px 0px;
}
#global_navi li#campus a:hover {
background-position:-506px -24px;
}

#global_navi li#campus ul {
position:absolute;
background-image:url(grey_space.png);
background-repeat:no-repeat;
height:382px;
margin-top:25px;
left:-999em;
opacity:0.8;
}
#global_navi li:hover#campus ul {
left:auto;
margin-left:504px;
padding-top:10px;
padding-left:22px;
width:180px;
/margin-left : -90px;/*IE7*/
-margin-left : -90px; /*IE6*/
}

#global_navi li#campus ul li a {
background-image:none;
overflow:visible;
float:none;
padding-top:0px;
}
#global_navi li#campus ul li a:hover {
color:#e2a92d;
}

#global_navi li#campus ul li {
display:block;
padding-bottom:10px;	
}



#global_navi li#international a {
background-position:-598px 0px;
}
#global_navi li#international a:hover {
background-position:-598px -24px;
}

#global_navi li#international ul {
position:absolute;
background-image:url(grey_space.png);
background-repeat:no-repeat;
height:382px;
margin-top:25px;
left:-999em;
opacity:0.8;
}
#global_navi li:hover#international ul {
left:auto;
margin-left:596px;
padding-top:10px;
padding-left:22px;
width:180px;
/margin-left : -90px;/*IE7*/
-margin-left : -90px; /*IE6*/
}

#global_navi li#international ul li a {
background-image:none;
overflow:visible;
float:none;
padding-top:0px;
}
#global_navi li#international ul li a:hover {
color:#d16b99;
}

#global_navi li#international ul li {
display:block;
padding-bottom:10px;	
}


#global_navi li#actu a {
background-position:-690px 0px;
width:95px;
}
#global_navi li#actu a:hover {
background-position:-690px -24px;
}

#global_navi li#actu ul {
position:absolute;
background-image:url(grey_space.png);
background-repeat:no-repeat;
height:382px;
margin-top:25px;
left:-999em;
opacity:0.8;
}
#global_navi li:hover#actu ul {
left:auto;
margin-left:687px;
padding-top:10px;
padding-left:22px;
width:130px;
/margin-left : -93px;/*IE7*/
-margin-left : 687px;/*IE6*/
-margin-top : 0px;/*IE6*/
}

#global_navi li#actu ul li a {
background-image:none;
overflow:visible;
float:none;
padding-top:0px;
}
#global_navi li#actu ul li a:hover {
color:#901515;
}

#global_navi li#actu ul li {
display:block;
padding-bottom:10px;	
}
/* END ::: GLOBAL_NAVI */

/* NAV_INTERN */

#nav_intern {
background-repeat:no-repeat;
margin-left:1px;
height:300px;
color:#FFFFFF;
opacity:0.9;
width:150px;
line-height:14px;
}

#no_nav_intern {
background-repeat:no-repeat;
margin-left:1px;
height:300px;
opacity:0.8;
width:150px;

}

#nav_intern a {
text-decoration:none;
color:#FFFFFF;
}

#nav_intern a:visited {
text-decoration:none;
}

#nav_intern h4 {
padding-left:10px;
padding-top:3px;
font-size:10px;
padding-right:20px;
color:#FFFFFF;
}

#top_container #nav_intern ul {
font-weight:bold;
padding-top:39px;
font-size:10px;
padding-right:10px;
}

#nav_intern ul li {
margin:0px;
margin-left:16px;
padding-bottom:6px;
}

/* END ::: NAV_INTERN */

/* NAVIGATION SOUS_MENUS */

#smenu {
position:absolute;
margin-top:24px;
margin-left:140px;
height:auto;
min-height : 20px;
border-style:solid;
border-width:1px;
border-color:#FFFFFF;
width:623px;
-width : 641px;
padding-left:17px;
opacity:0.8;
}

#smenu li {
display:inline;
padding-right:8px !important;
padding-right:5px;
}

#smenu li a {
color:#FFFFFF;
text-decoration:none
}

/* END ::: NAVIGATION SOUS_MENUS */



/* NAVIGATION ENT-LANGUAGES */

#secure_space {
width:40px;
float:left;
margin-top:90px;
}

#languages {
width:30px;
float:right;
padding-top:66px;
}

#languages img {
padding-bottom:10px;
}
/* END ::: NAVIGATION ENT-LANGUAGES */



/* HEAD/TITRE */

#head {
padding-top:5px;
padding-bottom:6px;
}

#head form {
margin:0px;
}

.navi_head {
float:right;
}


.navi_head span {
padding-right:8px;
}

.navi_head input {
padding:2px;
margin:0px;
font-size:10px;
vertical-align:top;
}

.input_search {
border-style:solid;
border-width:1px;
border-color:#9a9a9a;
width:130px;
color:#666666;
/*height:13px;*/
}

.button_ok {
background-image:url(ok_button.gif);
background-repeat:no-repeat;
background-position:top;
color:#FFFFFF;
border-width:0px;
height:18px;
}
/* END ::: HEAD/TITRE */