DIV#tracker {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: 900; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 481px; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 17px; BACKGROUND-COLOR: #ffffff
}
DIV#tracker A {
	COLOR: #000000; TEXT-DECORATION: underline
}
DIV#tracker Q {
	FONT-STYLE: italic
}
DIV#homeGauche {
	Z-INDEX: 1; MIN-HEIGHT: 400px; FLOAT: left; MARGIN: 7px 6px 0px 7px; WIDTH: 491px; POSITION: relative;
_MARGIN-right: 7px;
_MARGIN-left: 2px;
}
DIV#homeGauche H1.titre {
	MARGIN-TOP: 15px; PADDING-LEFT: 32px; FONT-WEIGHT: 900; FONT-SIZE: 14px; BACKGROUND: url(fond-titre-t1.gif) no-repeat 0px 0px; MARGIN-BOTTOM: 10px; WIDTH: 440px; PADDING-TOP: 1px; FONT-STYLE: italic; HEIGHT: 16px;
color: #333;
}
DIV#homeGauche DIV#une {
	BORDER: #cccccc 1px solid; HEIGHT: 228px; BACKGROUND-COLOR: #ffffff;
_WIDTH: 490px;
}

#une .cursor {
position: absolute;
margin: -4px 0 0 348px;
*margin: -4px 0 0 217px;
width: 12px;
font-weight: bold;
font-size: 16px;
padding: 0 0 0 1px;
*padding: 28px 0 0 1px;
}

DIV#homeGauche DIV#une DIV.bloc_contour {
	float:left; width: 340px; height:190px
}
DIV#homeGauche DIV#une DIV.bloc_contour DIV.blockN1 {
	MARGIN: 0px 16px 0px 8px; WIDTH: 340px; HEIGHT: 189px;
	_MARGIN-left: 5px; position: absolute;
}
DIV#homeGauche DIV#une DIV.bloc_contour DIV.blockN1 H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 330px; LINE-HEIGHT: 10px; PADDING-TOP: 0px; HEIGHT: 10px
}
DIV#homeGauche DIV#une DIV.bloc_contour DIV.blockN1 DIV.img {
	WIDTH: 340px; POSITION: relative; HEIGHT: 183px; BACKGROUND-COLOR: #f0f0f0; TEXT-ALIGN: center
}
DIV#homeGauche DIV#une DIV.bloc_contour DIV.blockN1 DIV.fond {
	FILTER: alpha(opacity=50); WIDTH: 340px; TOP: 135px; HEIGHT: 48px; BACKGROUND-COLOR: #ffffff; opacity: 0.8; margin-top: -48px;
}
DIV#homeGauche DIV#une DIV.bloc_contour DIV.blockN1 H3 {
	FONT-WEIGHT: 900;
	FONT-SIZE: 18px;
	LEFT: 0;
	WIDTH: 330px;
	POSITION: absolute;
	TOP: 140px;
	HEIGHT: 47px;
	TEXT-ALIGN: left;
	BACKGROUND-COLOR: #ffffff;
	-moz-opacity : 0.8;
	filter : alpha(opacity=80);
	padding: 1px 0 0 10px;
}
DIV#homeGauche DIV#une DIV.bloc_contour DIV.blockN1 H3 A {
	COLOR: #000000
}
DIV#homeGauche DIV#une DIV.bloc_contour DIV.blockN1 H3 A {
	COLOR: #000000
}
DIV#homeGauche DIV#une DIV.blockN2 {
	BACKGROUND: url(homeGauche-une-blockN2.gif) no-repeat 0px 36px; FLOAT: left; MARGIN: 0px 0px 0px 20px; WIDTH: 116px; HEIGHT: 47px;
}
DIV#homeGauche DIV#une DIV.blockN2 H2 {
	PADDING-LEFT: 5px; FONT-SIZE: 11px; MARGIN-BOTTOM: 3px; LINE-HEIGHT: 10px; HEIGHT: 10px
}
DIV#homeGauche DIV#une DIV.blockN2 A.aBlock {
	DISPLAY: block; FONT-SIZE: 10px; WIDTH: 116px; COLOR: #000000; LINE-HEIGHT: 11px; HEIGHT: 29px
}
DIV#homeGauche DIV#news {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 7px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 481px; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV#homeGauche DIV#news A.toutes {
	CLEAR: both; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 21px; FONT-WEIGHT: 900; FONT-SIZE: 12px; BACKGROUND: url(a-suite-t1.gif) no-repeat 0px 1px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 355px; WIDTH: 115px; PADDING-TOP: 0px; HEIGHT: 17px
}
DIV#homeGauche DIV#news DIV.titre {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 10px; WIDTH: 472px; HEIGHT: 17px
}
DIV#homeGauche DIV#news DIV.blockNewsN1 {
	CLEAR: both; PADDING-BOTTOM: 13px; MARGIN: 0px 0px 5px; WIDTH: 481px;/* border: 1px solid red; height: 100px*/
}
DIV#homeGauche DIV#news DIV.norm {
	BACKGROUND: url(homeGauche-news-blockNewsN1.gif) no-repeat left bottom
}
DIV#homeGauche DIV#news DIV.exclu {
	BACKGROUND: url(homeGauche-news-blockNewsN1-exclu.gif) no-repeat left bottom
}
DIV#homeGauche DIV#news DIV.blockNewsN1 a.img {
	DISPLAY: block; FLOAT: left;  WIDTH: 123px; HEIGHT: 78px;
}
DIV#homeGauche DIV#news DIV.blockNewsN1 DIV.left {
	FLOAT: left; MARGIN: 0px 0px 0px 15px; WIDTH: 341px
}
DIV#homeGauche DIV#news DIV.blockNewsN1 DIV A.fam {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: 900; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV#homeGauche DIV#news DIV.blockNewsN1 DIV H2 {
	MARGIN-TOP: 3px; FONT-WEIGHT: 900; FONT-SIZE: 15px; WIDTH: 336px
}
DIV#homeGauche DIV#news DIV.blockNewsN1 DIV P {
	FONT-WEIGHT: 500; FONT-SIZE: 11px; MARGIN-BOTTOM: 3px; WIDTH: 341px
}
DIV#homeGauche DIV#news DIV.blockNewsN1 DIV A.block {
	DISPLAY: block; FONT-WEIGHT: 900; FONT-SIZE: 12px; FLOAT: left
}
DIV#homeGauche DIV#news DIV.blockNewsN1 DIV A.suite {
	PADDING-RIGHT: 0px; PADDING-LEFT: 21px; BACKGROUND: url(a-suite-t1.gif) no-repeat 0px 2px; PADDING-BOTTOM: 0px; WIDTH: 72px; PADDING-TOP: 0px
}
DIV#homeGauche DIV#news DIV.blockNewsN1 DIV A.video {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; BACKGROUND: url(a-video-t1.gif) no-repeat 0px 0px; PADDING-BOTTOM: 0px; WIDTH: 48px; PADDING-TOP: 0px
}
DIV#homeGauche DIV#news DIV.blockNewsN1 DIV A.photo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 27px; BACKGROUND: url(a-photo-t1.gif) no-repeat 0px 0px; PADDING-BOTTOM: 0px; WIDTH: 66px; PADDING-TOP: 0px
}
DIV#homeGauche DIV#news DIV.blockNewsN2 {
	CLEAR: both; MARGIN-TOP: 8px; WIDTH: 481px
}
DIV#homeGauche DIV#news DIV.blockNewsN2 H2 {
	PADDING-RIGHT: 5px; DISPLAY: inline; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN-LEFT: -1px; PADDING-TOP: 0px
}
DIV#homeGauche DIV#news DIV.blockNewsN2 DIV {
	CLEAR: both; MARGIN: 2px 0px 0px; WIDTH: 481px
}
DIV#homeGauche DIV#news DIV.blockNewsN2 SPAN {
	FLOAT: left
}
DIV#homeGauche DIV#news DIV.blockNewsN2 H3 {
	FONT-SIZE: 12px; FLOAT: left; MARGIN-LEFT: 5px; WIDTH: 361px
}
DIV#homeGauche DIV#news DIV#blockNewsPopBlockT1 {
	BORDER-RIGHT: #e4e1e1 1px solid; FLOAT: left; WIDTH: 215px
}
DIV#homeGauche DIV#news DIV#blockNewsPopBlockT2 {
	FLOAT: left; MARGIN-LEFT: 16px; WIDTH: 215px
}
DIV#homeGauche DIV#news DIV.blockNewsPop {
	CLEAR: both; MIN-HEIGHT: 40px; MARGIN: 0px 0px 5px; WIDTH: 215px
}
DIV#homeGauche DIV#news DIV.blockNewsPop H2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: 900; FONT-SIZE: 11px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 3px 0px -2px; PADDING-TOP: 0px
}
DIV#homeGauche DIV#news DIV.blockNewsPop H3 {
	MARGIN-TOP: 3px; FONT-WEIGHT: 900; FONT-SIZE: 12px; WIDTH: 215px
}
DIV#pref {
	Z-INDEX: 1; BACKGROUND: url(fond_videos_preferees.gif) #ffffff no-repeat 0px 0px; FLOAT: left; MARGIN: 7px 0px; WIDTH: 468px; BORDER: #cccccc 1px solid; HEIGHT: 203px;
}
DIV#pref DIV#prefTitre {
	MARGIN-LEFT: 135px; WIDTH: 333px; HEIGHT: 29px;
}
DIV#pref DIV#prefTitre DIV.sep {
	FLOAT: left; WIDTH: 2px; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 28px
}
DIV#pref DIV#prefTitre DIV.sep_fin {
	FLOAT: left; WIDTH: 3px; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 28px
}
DIV#pref DIV#prefTitre A {
	DISPLAY: block;FLOAT: left; BACKGROUND-REPEAT: no-repeat; TEXT-ALIGN: center; padding-left: 4px; outline: none;
}
DIV#pref DIV#prefTitre A.prefT1 {
	WIDTH: 124px;  MARGIN-TOP: 7px; HEIGHT: 15px; padding-top: 7px; FONT-WEIGHT: 900; FONT-SIZE: 11px; 
	BACKGROUND-IMAGE: url(homeDroite-pref-t1.gif); COLOR: #000000
}
DIV#pref DIV#prefTitre A.prefT2 {
	WIDTH: 91px;  MARGIN-TOP: 14px; HEIGHT: 13px; FONT-SIZE: 10px; padding-top: 1px;
	BACKGROUND-IMAGE: url(homeDroite-pref-t2.gif); COLOR: #000000;  BORDER-BOTTOM: #000000 1px solid;
}
DIV#pref DIV.prefBloc {
	margin-LEFT: 6px; OVERFLOW: hidden; WIDTH: 454px; HEIGHT: 126px;
}
DIV#pref DIV.prefBloc DIV#prefBlocCont0, DIV#pref DIV.prefBloc DIV#prefBlocCont1, DIV#pref DIV.prefBloc DIV#prefBlocCont2, DIV#pref DIV.prefBloc DIV#prefBlocCont3 {
	WIDTH: 3800px;
padding-top: 7px;
}
DIV#pref DIV.prefBloc DIV {
margin-right: 6px;
FLOAT: left;
WIDTH: 107px;
height: 115px;
}

DIV#pref DIV.prefBloc DIV.prefBlocT {
BACKGROUND-COLOR: #FFFFFF;
border : 1px solid #ccccca;
}

DIV#pref DIV.prefBloc DIV.prefBlocT a.img1, DIV#pref DIV.prefBloc DIV.prefBlocT a.img19, DIV#pref DIV.prefBloc DIV.prefBlocT a.img2, DIV#pref DIV.prefBloc DIV.prefBlocT a.img3, DIV#pref DIV.prefBloc DIV.prefBlocT a.img4, DIV#pref DIV.prefBloc DIV.prefBlocT a.img5, DIV#pref DIV.prefBloc DIV.prefBlocT a.img6 {
	WIDTH: 101px;
	height: 65px;
	border: 1px solid #666666;
	margin: 2px 0 2PX 2px;
	display: block;
}

DIV#pref DIV.prefBloc DIV.prefBlocT a.img1:hover, DIV#pref DIV.prefBloc DIV.prefBlocT a.img19:hover {
	border: 1px solid #2D81CA;
}
DIV#pref DIV.prefBloc DIV.prefBlocT a.img2:hover {
	border: 1px solid #FFA20D;
}
DIV#pref DIV.prefBloc DIV.prefBlocT a.img3:hover {
	border: 1px solid #43B356;
}
DIV#pref DIV.prefBloc DIV.prefBlocT a.img4:hover {
	border: 1px solid #FF1616;
}
DIV#pref DIV.prefBloc DIV.prefBlocT a.img5:hover {
	border: 1px solid #8548AE;
}
DIV#pref DIV.prefBloc DIV.prefBlocT a.img6:hover {
	border: 1px solid #FF599A;
}

DIV#pref DIV.prefBloc DIV.bloctexte {
margin: 0 0 0 2px;
width: 100px;
height: 45px;
display: block;
FONT-SIZE: 11px;
}
DIV#pref DIV.prefBloc DIV.bloctexte a {
color: #000000;
}
DIV#pref div.lien_videos {
	text-align: right;
	HEIGHT: 20px;
	width: 462px;
	vertical-align:middle;
	font-weight: bold;
	padding-right: 10px;
	margin-top: 11px;
}
DIV#pref div.lien_videos img {
	margin-top: -3px;
}

DIV#pref  DIV.scroll {
	CLEAR: both; MARGIN: 5px 0 0 6px; WIDTH: 456px; POSITION: relative; HEIGHT: 13px
}
DIV#pref DIV.scroll IMG {
	FLOAT: left; CURSOR: pointer;
}
DIV#pref DIV.scroll DIV {
	BORDER-TOP: #ccccca 1px solid; FLOAT: left; WIDTH: 427px; BORDER-BOTTOM: 1px solid #ccccca; HEIGHT: 11px; background-color: #fafaf9;
}
DIV#homeDroite {
	Z-INDEX: 1; FLOAT: left; MARGIN: 7px 0 0px 3px; POSITION: relative; padding: 0px;
}
#droite {
margin-left: 7px !important;
}
DIV#homeDroite DIV.titre {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 10px; WIDTH: 316px; HEIGHT: 17px
}
DIV#homeDroite H1.titre {
	MARGIN-TOP: 15px; PADDING-LEFT: 32px; FONT-WEIGHT: 900; FONT-SIZE: 14px; BACKGROUND: url(fond-titre-t2.gif) no-repeat 0px 0px; MARGIN-BOTTOM: 10px; WIDTH: 266px; PADDING-TOP: 1px; FONT-STYLE: italic; HEIGHT: 16px
}
DIV#homeDroite DIV#pub {
	Z-INDEX: 1; MARGIN: 0px 0px 0px 10px; WIDTH: 300px; HEIGHT: 249px
}
DIV#homeDroite DIV#sondage {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 8px 0px 0px 0px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 306px; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #ffffff;
}
DIV#homeDroite DIV#sondage A.toutes {
	CLEAR: both; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 21px; FONT-WEIGHT: 900; FONT-SIZE: 12px; BACKGROUND: url(a-suite-t1.gif) no-repeat 0px 1px; PADDING-BOTTOM: 0px; WIDTH: 140px; PADDING-TOP: 0px; HEIGHT: 17px;
}
DIV#homeDroite DIV#sondage A#a1 {
	MARGIN-LEFT: 175px;
WIDTH: 110px;
}
DIV#homeDroite DIV#sondage A#a2 {
	MARGIN-LEFT: 145px
}
DIV#homeDroite DIV#sondage H2#titreSondage {
	FONT-WEIGHT: 900; FONT-SIZE: 14px; margin-bottom: 10px;
}
DIV#homeDroite DIV#sondage DIV#qcm {
	MARGIN-BOTTOM: 10px;
}
DIV#homeDroite DIV#sondage DIV#quest {
	MARGIN-BOTTOM: 10px;
}
DIV#homeDroite DIV#sondage DIV#qcm UL {
	LIST-STYLE-TYPE: none;
}
DIV#homeDroite DIV#sondage DIV#quest UL {
	LIST-STYLE-TYPE: none
}
DIV#homeDroite DIV#sondage DIV#qcm UL LI {
	CLEAR: both; FONT-WEIGHT: 900; FONT-SIZE: 12px; MARGIN: 0px 0px 8px 0px; WIDTH: 296px;
background: #f9f9cc; padding: 1px 2px;
}
DIV#homeDroite DIV#sondage DIV#quest UL LI {
	CLEAR: both; FONT-WEIGHT: 900; FONT-SIZE: 12px; MARGIN: 3px 0px 0px; WIDTH: 296px;
}
DIV#homeDroite DIV#sondage DIV#qcm UL LI INPUT {
	MARGIN-TOP: 2px; DISPLAY: block; FLOAT: left
}
DIV#homeDroite DIV#sondage DIV#quest UL LI INPUT {
	MARGIN-TOP: 2px; DISPLAY: block; FLOAT: left

}
DIV#homeDroite DIV#sondage DIV#qcm UL LI SPAN {
	PADDING-LEFT: 5px
}
DIV#homeDroite DIV#sondage DIV#quest UL LI SPAN {
	PADDING-LEFT: 5px
}
DIV#homeDroite DIV#sondage DIV#clash {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 296px; BORDER-BOTTOM: #cccccc 1px solid; POSITION: relative; HEIGHT: 132px
}
DIV#homeDroite DIV#sondage DIV#clash IMG#imgClash {
	DISPLAY: block; Z-INDEX: 3; LEFT: 120px; POSITION: absolute; TOP: 0px
}
DIV#homeDroite DIV#sondage DIV#clash DIV.img {
	FLOAT: left; WIDTH: 146px; HEIGHT: 109px; TEXT-ALIGN: center
}
DIV#homeDroite DIV#sondage DIV#clash SPAN {
	DISPLAY: block; FONT-WEIGHT: 900; FONT-SIZE: 14px; BACKGROUND: url(homeDroite-sondage-clash-photo.gif) no-repeat 0px 0px; WIDTH: 94px; PADDING-TOP: 2px; POSITION: absolute; TOP: 87px; HEIGHT: 19px; TEXT-ALIGN: center
}
DIV#homeDroite DIV#sondage DIV#clash SPAN#photo0 {
	LEFT: 20px
}
DIV#homeDroite DIV#sondage DIV#clash SPAN#photo1 {
	LEFT: 182px
}
DIV#homeDroite DIV#sondage DIV#clash A {
	POSITION: absolute; TOP: 113px
}
DIV#homeDroite DIV#sondage DIV#clash A#vote0 {
	LEFT: 48px
}
DIV#homeDroite DIV#sondage DIV#clash A#vote1 {
	LEFT: 210px
}
DIV#homeDroite DIV#sondage DIV.sondage {
	WIDTH: 298px
}
DIV#homeDroite DIV#sondage DIV.sondage H2 {
	PADDING-RIGHT: 5px; DISPLAY: inline; PADDING-LEFT: 5px; FONT-WEIGHT: 900; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px 3px 0px -2px; PADDING-TOP: 0px
}
DIV#homeDroite DIV#sondage DIV.sondage A {
	DISPLAY: block; FONT-WEIGHT: 900; FONT-SIZE: 12px; MARGIN: 3px 0px 10px; WIDTH: 298px
}
DIV#homeDroite DIV#buzz {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 8px 0px 0px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 306px; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV#homeDroite DIV#dossier {
	BORDER: #43b356 1px solid; PADDING: 0 0 0 9px; MARGIN: 8px 0px 0px 0; WIDTH: 307px; BACKGROUND-COLOR: #ffffff
}

DIV#homeDroite DIV#dossier * {

}

DIV#homeDroite DIV#dossier H1.titre {
	MARGIN: 0 0 0 -9px;
	PADDING: 7px 0 0 90px;
	FONT-SIZE: 18px;
	BACKGROUND: url(titre_dossier_home.jpg) no-repeat 0px 0px;
	WIDTH: 100%;
	FONT-STYLE: normal;
	HEIGHT: 25px;
	color: white;
width: 226px;
}

div#homeDroite div#dossier h2.home_derniers_dossiers {
background: url(dossier_etoile.gif) no-repeat 0px 0px;
padding: 3px 0 0 30px;
font-size: 18px;
color: #2a683e;
margin: 3px 0;
}

div#homeDroite div#dossier h2.home_dossiers_plus_vus {
background: url(dossier_etoile.gif) no-repeat 0px 3px;
padding: 6px 0 0 30px;
font-size: 18px;
color: #2a683e;
margin: -10px 0 0 0;
*margin: -15px 0 0 0;
border-top: 2px solid;
width: 268px;
position: absolute;
z-index: 99;
background-color: white;
}

div#homeDroite div#dossier div.png_19,
div#homeDroite div#dossier div.png_5,
div#homeDroite div#dossier div.png_2,
div#homeDroite div#dossier div.png_1774,
div#homeDroite div#dossier div.png_4,
div#homeDroite div#dossier div.png_6,
div#homeDroite div#dossier div.png_3,
div#homeDroite div#dossier div.png_1 {
	width:97px;
	height:62px;
	position: absolute;
	cursor: pointer;
	margin-top: -65px;
	*position: relative;
}

div#homeDroite div#dossier div.png_1 {
background-image: url(dossier_ico-video.png) !important;
_background: none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='http://www.entrevue.fr/images/dossier_ico-video.png');
}

div#homeDroite div#dossier div.png_19 {
background-image: url(dossier_ico-people.png) !important;
_background: none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='http://www.entrevue.fr/images/dossier_ico-people.png');
}

div#homeDroite div#dossier div.png_2 {
background-image: url(dossier_ico-zapping.png) !important;
_background: none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='http://www.entrevue.fr/images/dossier_ico-zapping.png');
}

div#homeDroite div#dossier div.png_4 {
background-image: url(dossier_ico-enquetes.png) !important;
_background: none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='http://www.entrevue.fr/images/dossier_ico-enquetes.png');
}

div#homeDroite div#dossier div.png_5 {
background-image: url(dossier_ico-internet.png) !important;
_background: none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='http://www.entrevue.fr/images/dossier_ico-internet.png');
}

div#homeDroite div#dossier div.png_6 {
background-image: url(dossier_ico-sexy.png) !important;
_background: none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='http://www.entrevue.fr/images/dossier_ico-sexy.png');
}

div#homeDroite div#dossier div.png_1774 {	
background-image: url(dossier_ico-business.png) !important;
_background: none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='http://www.entrevue.fr/images/dossier_ico-business.png');
}

div#homeDroite div#dossier div.puce_hits {
	width:7px;
	height:12px;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	position: absolute;
	font-size: 12px;
	color: black;
	padding: 0 3px 3px 3px;
	margin: -70px 0 0 -4px;
}

DIV#homeDroite DIV#dossier DIV.blockDossier {
	CLEAR: both; PADDING-BOTTOM: 20px; MARGIN: 0 0 5px 0; WIDTH: 298px; POSITION: relative; padding-top: 4px;
}
DIV#homeDroite DIV#dossier DIV.norm {
	BACKGROUND: url(homeDroite-dossier.gif) no-repeat left bottom
}
DIV#homeDroite DIV#dossier DIV.exclu {
	BACKGROUND: url(homeDroite-dossier-exclu.gif) no-repeat left bottom
}
DIV#homeDroite DIV#dossier DIV.blockDossier A {
	DISPLAY: block; FONT-WEIGHT: 900; FONT-SIZE: 11px; FLOAT: left;
}
DIV#homeDroite DIV#dossier DIV.blockDossier DIV.clear {
	HEIGHT: 18px; margin-top: 5px;
}
DIV#homeDroite DIV#dossier DIV.blockDossier A.img {
	MARGIN-BOTTOM: 0px; OVERFLOW: hidden; MARGIN-RIGHT: 10px;text-decoration: none;
}
DIV#homeDroite DIV#dossier DIV.blockDossier A.suite {
	PADDING-RIGHT: 0px; PADDING-LEFT: 21px; BACKGROUND: url(a-suite-t1.gif) no-repeat 0px 2px; PADDING-BOTTOM: 0px; WIDTH: 72px; PADDING-TOP: 0px;
}
DIV#homeDroite DIV#dossier DIV.blockDossier A.video {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; BACKGROUND: url(a-video-t1.gif) no-repeat 0px 0px; PADDING-BOTTOM: 0px; WIDTH: 48px; PADDING-TOP: 0px;
}
DIV#homeDroite DIV#dossier DIV.blockDossier A.photo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 27px; BACKGROUND: url(a-photo-t1.gif) no-repeat 0px 0px; PADDING-BOTTOM: 0px; WIDTH: 66px; PADDING-TOP: 0px;
}
DIV#homeDroite DIV#dossier DIV.blockDossier H2 {
	MARGIN-TOP: -3px; margin-bottom: 4px; FONT-WEIGHT: 900; FONT-SIZE: 18px; FLOAT: left; WIDTH: 190px; line-height: 18px;
}
DIV#homeDroite DIV#dossier DIV.blockDossier H2 A {
	FONT-SIZE: 16px; line-height: 18px;
}
DIV#homeDroite DIV#dossier DIV.blockDossier SPAN {
	FONT-WEIGHT: 500; FONT-SIZE: 11px; MARGIN-BOTTOM: 3px; OVERFLOW: hidden
}
DIV#tags {
	CLEAR: both; BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN: 6px 0 0 7px; FONT-WEIGHT: 900; BORDER-LEFT: #cccccc 1px solid; WIDTH: 822px; BORDER-BOTTOM: #cccccc 1px solid; POSITION: relative; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: justify
}
DIV#tags DIV.left {
	MARGIN-TOP: 14px; FLOAT: left; WIDTH: 258px
}
DIV#tags DIV H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; FONT-WEIGHT: 900; FONT-SIZE: 14px; BACKGROUND: url(fond-titre-t3.gif) no-repeat 0px 0px; MARGIN-BOTTOM: 11px; PADDING-BOTTOM: 0px; WIDTH: 226px; PADDING-TOP: 1px; FONT-STYLE: italic; HEIGHT: 16px;
color: #333;
}
DIV#tags DIV#tv {
	MARGIN-LEFT: 9px
}
DIV#tags DIV#people {
	MARGIN-LEFT: 15px
}
DIV#tags DIV#sexy {
	MARGIN-LEFT: 15px
}
DIV#reaction {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 9px; BACKGROUND: url(reaction-titre-t1.gif) #ffffff no-repeat 9px 9px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 7px 14px 0px 0px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 482px; PADDING-TOP: 33px; BORDER-BOTTOM: #cccccc 1px solid; POSITION: relative; HEIGHT: 84px
}
DIV#reaction DIV#profil {
	MARGIN-TOP: 3px; BACKGROUND: url(reaction-profil-fond.gif) #f0f0f0 no-repeat right top; FLOAT: left; WIDTH: 154px; HEIGHT: 72px
}
DIV#reaction DIV#profil A#img {
	DISPLAY: block; WIDTH: 50px; HEIGHT: 50px
}
DIV#reaction DIV#com {
	PADDING-LEFT: 18px; BACKGROUND: url(reaction-com-fond.gif) #ffffff no-repeat 0px 0px; FLOAT: left; MARGIN-LEFT: 8px; WIDTH: 292px; HEIGHT: 72px
}
DIV#reaction DIV#com SPAN#date {
	CLEAR: both; MARGIN-TOP: 10px; DISPLAY: block
}
DIV#flux {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BACKGROUND: url(flux-titre-t1.gif) #ffffff no-repeat 9px 9px; FLOAT: left; MARGIN: 7px 0px 0px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 316px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 69px
}

/*.newsletter_message{
	padding:4px;
	text-align: center;
	font-weight: bold;
	background-color: #FF0033;
	border:#000;
}*/

.message{
	padding-top:4px;
	text-align: center;
	font-weight: bold;
	color: #FF0033;
font-size: 11px;
width: 220px;
}


/* =============== MOBILE */

#mobile {
background: url(mobile_fond.jpg) no-repeat;
height: 656px;
border-top: 1px solid #fff;
margin-top: 10px;
}

#mobile .right {
width: 236px;
margin: 80px 0 0 240px;
}

#mobile .right h2 {
height: 30px;
background: url(mobile_header.gif) no-repeat;
font-size: 20px;
color: #000;
padding: 5px 0 0 40px;
font-style: italic;
}

#mobile .right p {
background: url(mobile-bloc-fond.jpg) no-repeat;
padding: 2px 10px 30px 8px;
margin: -5px 0 5px 0 !important;
font-size: 13px;
font-weight: bold;
color: #000;
}

#mobile .texte {
margin: 10px 0 0 0;
font-size: 12px;
font-weight: bold;
color: #000;
text-align: center;
}

#mobile iframe {
margin-left: 40px;
}

#mobile .logo {
font-size: 12px;
font-weight: bold;
color: #000;
text-align: center;
margin-top: -15px;
}

#rssPage {
border: solid 1px #ccc;
background: #fff;
padding: 0 10px 10px 10px;
}

#rssPage a {color: #000;}

#rssPage h2 {
font-size: 14px;
margin: 0 0 5px 0;
}

#rssPage h3 {
font-size: 14px;
margin: 10px 0 5px 0;
}

#rssPage ul {
font-weight: bold;
font-size: 13px;
margin: 5px 0 5px 15px;
}

#rssPage hr {
height: 1px;
background: #ccc;
margin: 10px 0;
}

#rssPage p {
font-size: 12px;
}

#rssPage div {
margin: 10px 0;
}

#rssPage div h3 {
margin: 0;
}

#rssPage div img {
float: left;
margin: 0 5px 15px 0;
}

#rssPage .reader {
font-size: 14px;
}

#rssPage .reader img {
margin: 8px 5px -2px 0;
}

.bwin {
background: black;
overflow: hidden;
}