/*! $Id: global-elements.css 6915 2009-11-05 14:15:55Z mhammel $ */

/* Logo */
#containerHeadpart #chevroletLogo {
	float:left;
}
input {
	color: #000;
}
input.default {
	color: #787878;
}
/* separated lists (lists with a vertical line as spacers between the list items) */
ul.separated {
	list-style-type:none;
}
ul.separated li {
	float:left;
	border-right:1px solid;
	margin:0px;
	padding:0px 10px;
    height: 1em;
}
ul.separated li,
ul.separated li a {
	line-height:1.1em;
}
ul.separated li.first {
	padding-left:0px;
}
ul.separated li.last {
	padding-right:0px;
	border-right:none;
}

/* H1 Grafiken */
h1.modelname {
	background: url(http://www.chevrolet.fr/assets/images/global/models/model-headline-lacetti.png) no-repeat left top;
	height:0px;
	width: 191px; /* max width possible (becasuse of the gallery pages) */
	overflow:hidden;
	padding-top:30px;
	margin-bottom: 10px;
}

h1.modelname.modelnameLacetti {
	background-image:url(http://www.chevrolet.fr/assets/images/global/models/model-headline-lacetti.png);
}
h1.modelname.matizModelname {
	background-image:url(http://www.chevrolet.fr/assets/images/global/models/model-headline-matiz-em.jpg);
}
h1.modelname.new-sparkModelname {
	background-image:url(http://www.chevrolet.fr/assets/images/global/models/model-headline-spark-em.jpg);
}
h1.modelname.sparkModelname {
	background-image:url(http://www.chevrolet.fr/assets/images/global/models/model-headline-spark-em.jpg);
}
h1.modelname.aveo-3dModelname {
	background-image:url(http://www.chevrolet.fr/assets/images/global/models/model-headline-aveo-3d-em.jpg);
}
h1.modelname.aveo-4dModelname {
	background-image:url(http://www.chevrolet.fr/assets/images/global/models/model-headline-aveo-4d-em.jpg);
}
h1.modelname.aveo-5dModelname {
	background-image:url(http://www.chevrolet.fr/assets/images/global/models/model-headline-aveo-5d-em.jpg);
}
h1.modelname.lacetti-5dModelname {
	background-image:url(http://www.chevrolet.fr/assets/images/global/models/model-headline-lacetti-5d-em.jpg);
}
h1.modelname.nubira-4dModelname {
	background-image:url(http://www.chevrolet.fr/assets/images/global/models/model-headline-nubira-4d-em.jpg);
}
h1.modelname.nubira-swModelname {
	background-image:url(http://www.chevrolet.fr/assets/images/global/models/model-headline-nubira-sw-em.jpg);
}
h1.modelname.epicaModelname {
	background-image:url(http://www.chevrolet.fr/assets/images/global/models/model-headline-epica-em.jpg);
}
h1.modelname.captivaModelname {
	background-image:url(http://www.chevrolet.fr/assets/images/global/models/model-headline-captiva-em.jpg);
}
h1.modelname.cruzeModelname {
	background-image:url(model-headline-cruze-em.jpg);
}

/* 
 * Generic 'round corners'
 */

.corner,
.topLeft,
.topRight,
.bottomLeft,
.bottomRight {
	overflow: hidden;
	position: absolute;
	width: 4px;
	height: 4px;
	background: no-repeat left top;
}
.topLeft {
	top: -1px;
	left: -1px;
}
.bottomLeft {
	bottom: -1px; 
	left: -1px;
	background-position: left bottom;
}
.topRight {
	top: -1px;
	right: -1px;
	background-position: right top;
}
.bottomRight {
	bottom: -1px;
	right: -1px;
	background-position: right bottom;
}

/******************************
* Call To Action Button Links *
*******************************/
.button {
	display: block;
	position: relative;
	color: #FFF !important;
	text-align: center;
	text-decoration: none;
	font-size: 11px;
	line-height: 14px;
	font-weight: bold;
	padding: 3px 9px 4px;
	background: repeat left top;
	margin: 0px auto 10px;
}
.button:hover {
	text-decoration: underline;
}
.button strong {
	display: block;
	font-size: 18px; /* 1.64em */
	line-height: 1em;
}
.button.cta1 {
	border: 1px solid #A63100;
	background-color: #DF3F00;
	background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta1/cta1.gif);
}
.button.cta2 {
	border: 1px solid #C1C1C1;
	color: #4C4C4C !important;
	background-color: #E9E9E9;
	background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta2/cta2.gif);
}
.button.cta3 {
	border: 1px solid #004368;
	background-color: #0086C8;
	background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta3/cta3.gif);
}

#containerGlobal .button.cta1 .topLeft,
#containerGlobal .button.cta1 .topRight,
#containerGlobal .button.cta1 .bottomLeft,
#containerGlobal .button.cta1 .bottomRight { background-image: url(http://www.chevrolet.fr/assets/images/global/corners-a63100.gif); }

#containerGlobal .button.cta2 .topLeft,
#containerGlobal .button.cta2 .topRight,
#containerGlobal .button.cta2 .bottomLeft,
#containerGlobal .button.cta2 .bottomRight { background-image: url(http://www.chevrolet.fr/assets/images/global/corners-c1c1c1.gif); }

#containerGlobal .button.cta3 .topLeft,
#containerGlobal .button.cta3 .topRight,
#containerGlobal .button.cta3 .bottomLeft,
#containerGlobal .button.cta3 .bottomRight { background-image: url(http://www.chevrolet.fr/assets/images/global/corners-004368.gif); }

.button.cta1.size1 { background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta1/cta1-0to20.gif); }
.button.cta1.size2 { background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta1/cta1-21to30.gif); }
.button.cta1.size3 { background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta1/cta1-31to45.gif); }
.button.cta1.size4 { background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta1/cta1-46to70.gif); }
.button.cta1.size5 { background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta1/cta1-71to105.gif); }
.button.cta1.size6 { background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta1/cta1-106to160.gif); }
.button.cta1.size7 { background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta1/cta1-161to240.gif); }

.button.cta2.size1 { background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta2/cta2-0to20.gif); }
.button.cta2.size2 { background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta2/cta2-21to30.gif); }
.button.cta2.size3 { background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta2/cta2-31to45.gif); }
.button.cta2.size4 { background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta2/cta2-46to70.gif); }
.button.cta2.size5 { background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta2/cta2-71to105.gif); }
.button.cta2.size6 { background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta2/cta2-106to160.gif); }
.button.cta2.size7 { background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta2/cta2-161to240.gif); }
                                                                           
.button.cta3.size1 { background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta3/cta3-0to20.gif); }
.button.cta3.size2 { background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta3/cta3-21to30.gif); }
.button.cta3.size3 { background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta3/cta3-31to45.gif); }
.button.cta3.size4 { background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta3/cta3-46to70.gif); }
.button.cta3.size5 { background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta3/cta3-71to105.gif); }
.button.cta3.size6 { background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta3/cta3-106to160.gif); }
.button.cta3.size7 { background-image: url(http://www.chevrolet.fr/assets/images/global/buttons/cta3/cta3-161to240.gif); }

/* generic styles for buttons under left navi */
#containerLvl5Lvl6Navigation .buttons {
	clear: left;
	float: left;
	margin: 35px 0px 60px auto;
	width: 194px;
}

/* Link-Elements:*/
/* External Links */
.plainTextExternalLink {
	background:url(http://www.chevrolet.fr/assets/images/global/icons/external-link-red.gif) no-repeat right 1px;
	padding-right:18px;
}

a:visited .plainTextExternalLink {
	background:url(http://www.chevrolet.fr/assets/images/global/icons/external-link-grey.gif) no-repeat right 1px;
}

/* * dealer search start */
/* the z-index is needed to fix ie's z-index bug for the dealer search (appears under mainNavi if it is missing) */
.dealerSearch {
	position:relative;
	z-index:60;
}
#dealerSearchWrp h1 {
	line-height:18px;
}

#dealerSearchWrp h1,
#dealerSearchWrp input#searchItem {
	font-size:12px;
}
#dealerSearchWrp {
	position:absolute;
	float:left;
	z-index:500;
	width:153px;
	display:none;
	top:11px;
	left:0px;
}
#dealerSearchWrp .bubblePointer {
	position:absolute;
	background:url(http://www.chevrolet.fr/assets/images/global/buttons/dealer-search/dealerTop.gif) no-repeat 0px top;
	width:20px;
	height:11px;
	top:0px;
	left:30px;
}
#dealerSearchWrp .contentWrp {
	margin-top:9px;
	padding:17px 14px 18px;
	border:2px solid #b0b0b0;
	background:#f7f7f7;
}
#dealerSearchWrp h1, /* old markup has h1, this is for backwards compatibility */
#dealerSearchWrp h2 {
	font-weight:bold;
	line-height:18px;
	margin-bottom:0px;
}
#dealerSearchWrp .closeAction {
	position:absolute;
	width:14px;
	height:14px;
	right:5px;
	top:14px;
	cursor:pointer;
	background:url(http://www.chevrolet.fr/assets/images/global/buttons/dealer-search/icon-close-dl-box-grey.gif) no-repeat 0px top;
}
#dealerSearchWrp a.button {
	margin-bottom: 15px;
}

#dealerSearchWrp a.advancedSearch {
	color:#b33037;
	font-size:11px;
	font-weight:bold;
	text-decoration:underline;
}
#dealerSearchWrp input#searchItem {
	height:14px;
	font-family:Verdana;
	border:1px solid #909090;
	color:#9D9D9D;
	padding:3px 10px;
	margin: 7px 0px 10px;
	width:96px;
}
#containerGlobal #dealerSearchWrp input.warning {
	border-color:#BB061C;
}
/* dealer search end */

/*
* OLD dealerbox start Quickfix for the Dealer search route finder box
* work in progress,  will be removed soon...
*/
div.searchBox {
	position:absolute;
	z-index:500;
	width: 148px;
	top:6px;
	display:none;
}
div.searchBoxHeadline {
	font-weight:bold;
}

input.dealerSearchField {
	height:14px;
	font-family:Verdana;
	display:block;
	border:1px solid #909090;
	font-size:12px;
	color:#9D9D9D;
	padding:3px 10px 3px 10px;
	position:relative;
	margin-top:10px;
	margin-bottom:10px;
	width:92px;
}
input.warning {
	border:1px solid #BB061C;
}
div.dealerSearchBoxRemoveIcon {
	position:absolute;
	right:4px;
	top:4px;
	cursor:pointer;
}
div.dealerTop {
	width:14px;
	position:relative;
	z-index:1;
	left:30px;
	top:11px;
}
div.dealerSearchBoxContent {
	width:100%;
	font-size:12px;
	padding:20px 0px 10px 0px;
	background-color:#f7f7f9;
	border:2px solid #b0b0b0;
	position:relative;
	top:9px;
}
div.dealerSearchBoxContent a.dealerSearchBoxAdvancedLink,
div.dealerSearchBoxContent input.dealerSearchField,
div.dealerSearchBoxContent div.searchBoxHeadline,
div.dealerSearchBoxContent table.dealerSearchBoxButton,
div.dealerSearchBoxContent a.button {
	margin-left:16px;
	margin-right:18px;
}
a.dealerSearchBoxAdvancedLink {
	display:block;
	padding-top:20px;
	font-size:11px;
	font-weight:bold;
	text-decoration:underline;
}

/*dealerbox end*/


/* Infobox:*/
/* Question:*/
div.infobox.question {
	background:url(http://www.chevrolet.fr/assets/images/global/infobox-question.png);
	background-repeat:no-repeat;
	height:44px;
	overflow:hidden;
	font-size:11px;
	font-weight:bold;
}
div.infobox.question span {
	padding-left:45px;
	line-height:44px;
	color:#2e2e2e;
}
div.infobox.question a {
	text-decoration:underline;
	color:#000;
	font-weight:bold;
	padding-left:12px;
}

/* Debug Info */
div.bpiaLog
{
	padding:2em;
	border-style:dotted;
	border-color:black;
	font-size:62.5%;
}
div.bpiaLogDebug
{
	color:#FFFFFF;
	background-color:#009900;
}
div.bpiaLogDebug a
{
	color:#FFFFFF;
	background-color:#009900;
	font-weight:normal;
	text-decoration:underline;
	cursor:pointer;
}

div.bpiaLogDebug a:link,
div.bpiaLogDebug a:visited,
div.bpiaLogDebug a:focus,
div.bpiaLogDebug a:hover,
div.bpiaLogDebuga :active
{
	color:#FFFFFF;
	background-color:#009900;
}

div.bpiaLogInfo
{
	color:#FFFFFF;
	background-color:#990000;
}
div.bpiaLogWarn
{
	color:#FFFFFF;
	background-color:#990000;
}
div.bpiaLogError
{
	color:#FFFFFF;
	background-color:#990000;
}
div.bpiaLog dl
{
	margin:1em 0 1em 0;
}
div.bpiaLog dt
{
	font-weight:bold;
}
div.bpiaLog dd
{
	margin-left:2em;
	padding:0.75em 0 0.75em 0;
}
div.bpiaLogError pre
{
	font-size:1em;
	font-weight:bold;
}


/* model overview headlines including price pdf download links */

div.modelOverviewHeader h1.modelname {
	width:191px;
}

div.modelOverviewHeader div.containerRightLinks {
	text-align:right;
	padding-bottom:10px;
}