#resa .texte_info {

	margin-top : 20px ;

}


#sousmenu_7 {

	display : none !important ;

}

img {
        border:0px;
}



.dopad {
        background-color:#ffffff;

        padding:10px;
        font-size:11px;


        _filter:alpha(opacity=90);

}

.dopad_opaque{
    background-color:#ffffff;

    padding:10px;
    font-size:11px;
}

.bloc_video{
	background-color:#000;
    padding:10px;
    font-size:11px;
    margin-bottom:10px;
}



.invisible {
    display:none;
}


.dopad[class] {


        background:url(trans.png);


}

a.aon {
    font-weight:bold;
    text-decoration:none;
}



.softpad {
        background-color:#ffffff;

       padding:2px;
        font-size:11px;
}

.softpad[class] {


        background:url(trans.png);


}

#printtable td{

    border:1px solid #000;
}

#printtable hr{
    border:1px solid #000;
}

/*
.softpadaaa {

    filter: alpha(opacity=50);
        -moz-opacity:0.9;

           opacity: 0.9;
        padding:2px;
        background-color:#ffffff;
    background:url(../img/trans.png);
        font-size:11px;
}
  */

.aright {
    display:block;
    text-align:right;
}

fieldset {
    border:0px;
}
legend {
    font-weight:bold;
    color:#000;
}

.doblack {
        color:#ffffff;
        padding:10px;
        background-color:#000000;
}

body,p{
        font-size:11px;
        font-family:Arial,Helvetica,sans-serif;
}

h1 {
        letter-spacing:-0.5px;
        text-transform:uppercase;
        font-size:20px;
        margin:0px;
        line-height:18px;
}

h2 {
        text-transform:uppercase;
        font-size:16px;
        margin:0px;
}

h3 {
        text-transform:uppercase;
        font-size:12px;
        margin:0px;
}

h3 {

        margin:0px;
}


h4 {
    margin:0px;
    font-size:11px;
}

#menu ul {
        margin:0px;
        padding:0px;
        margin-top:0px;
        border:0px solid #f00;
        height:30px;
        list-style-type:none;
}

#menu ul li {
        float:left;
        height:30px;;
        margin-right:10px;


}

#menu ul li a{


        color:#000000;
        font-weight:bold;
        font-size:14px;

        text-decoration:none;

}

li#liactive {    background:url(strie.gif);


}

#liactive a {

visibility:hidden;
}





#form_newsletter {
 text-align:center;
 margin:0px;
}

#form_newsletter label {
  font-size:11px;
}

#form_newsletter input {
 text-align:center;
 font-size:11px;
 width:110px;
 margin-top:10px;
}


#form_newsletter fieldset {
    margin:0px;
    padding:0px;
    border:0px;
}


a {
        color:#000000;
}

.hidden {
	visibility:hidden;
	display:none;
	position:absolute;
	font-size:1px;
	margin-left:-5000px;
	margin-top:-5000px;
}


#sousmenu {
        width:480px;
        height:53px;
        background:url(fond_resa.gif);
        overflow:hidden;
}

#sousmenu a{
        padding:0px;
        text-transform:uppercase;
        font-weight:bold;
        display:block;
        float:left;
        text-decoration:none;
}

#sousmenu a img {
	background:white;
}

#fond {

        background-color:#000000;
}


.img_diapo {
        display:none;
       dheight:270px;
}


.img_diapo h4 {
        margin:0px;
        font-size:11px;
}



#img_diapo_1 {
        display:block;
}




#imgliste {
    line-height:20px;
}


#imgliste a {
        padding-left:3px;
        padding-right:3px;
        text-decoration:none;
        font-size:10px;

}


#imgliste a:hover {
        background-color:#ffffff;
        color:#000;
}

.diapo_lien {
        border:1px solid #000000;


        background:black;
        color:#fff;
}

.diapo_lien_vu {


        background:transparent;
        border:1px solid #cccccc;
        color:#cccccc;
}

.diapo_lien_on {

        border:1px solid #000000;


        background:white;
        color:#000000;
}

.fichier {
        width:290px;
        border:0px solid;
}

.fichier td {
      padding-top:5px;
}
.fichier_g {

        font-weight:bold;
}

.fichier_d {
       text-align:right;
}




/******************* PROGRAMME *************************/



.btnplus {
    float:right;margin:3px;
}



.clef {
 font-weight:bold;
}


.calendar {
 width:120px;
margin:0px;
padding:0px;
border:0px;
}

.calendar td {
        padding:0px;
        margin:0px;
 background-color:#d6cfca;
 color:#eee;
 text-align:center;
 font-size:10px;
}


td.calendar_selected {
        background-color:black;
        color:white;
        font-weight:bold;
}


#recherche_prg  {
    border:0px;
    margin:0px;
    padding:0px;
}



#recherche_prg fieldset {
        border:0px;
    margin:0px;
    padding:0px;

}

#recherche_prg fieldset legend{
        text-transform:uppercase;
        margin:0px;
        padding:0px;
        color:#fff;
    font-size:12px;
    margin-bottom:5px;

}

#recherche_prg label {

        padding:1px;
        margin:0px;
        margin-top:10px;
        margin-bottom:0px;
        display:block;
}

#recherche_prg input {
        border:1px solid #999;
        font-size:9px;
        padding:1px;

}

#recherche_prg input.inputimage {
        border:0px;
        font-size:9px;
        padding:0px;
        margin-top:10px;

}

#recherche_prg select {
font-size:11px;
width:130px;

}
.input_small {
        text-align:center;
        width:16px;
}

.button {
        width:130px;
        text-align:center;
    background-color:#ffffff;
        font-weight:bold;
    text-transform:uppercase;

    font-size:10px;
}

#key {
 width:130px;
}

.prg_in_festi {
margin-top:15px;
 background-color:#ddd;
 text-transform:uppercase;
 font-size:16px;
 font-weight:bold;
}


a.prg_titre {
        display:block;
        padding:2px;
        text-decoration:none;
        font-size:11px;
}

a.prg_titre:hover {
       background-color:#000;
    color:#fff;
}

a.prg_titre span {

        font-size:12px;
}

a.prg_titre span.gras {
    font-weight:bold;
}

a.noline {
    text-decoration:none;

}
a.noline img{
    border:0px;

}

.rolllink {
 padding:4px;
    display:block;
    text-decoration:none;
}

.rolllink:hover {
    background-color:#eee;

}

/*************************
    CARNET
   **********************/

#carnet_connexion
 {
    background-color:black;
    color:white;
    padding:10px;

 }

 #carnet_connexion a {
    color:white;
 }

 #carnet_connexion legend {

 font-size:13px;
 font-weight:bold;
 display:block;

 color:white;
  margin:0px;
 padding:0px;
 }

#carnet_connexion fieldset {
    border:0px;
    padding:0px;
    margin:0px;
}

#carnet_connexion input {
  font-size:11px;
    margin:2px;
    width:150px;

}

#carnet_connexion label {
   width:70px;
   float:left;
    margin:2px;
    display:block;

}

#carnet_connexion input.inputimage {

    margin:10px;
    width:auto;
    float:right;
}


#carnet_creation
 {
    background:#ffffff;
    padding:10px;
    margin-top:5px;

 }
 #carnet_creation legend {
 padding:0px;
 font-size:13px;
 font-weight:bold;
 margin-bottom:5px;
 color:black;
 }

#carnet_creation fieldset {
    border:0px;
    padding:0px;
    margin:0px;
}

#carnet_creation input {
  font-size:11px;
    margin:2px;
    width:150px;
}

#carnet_creation label {
   width:70px;
   float:left;
    margin:2px;
    display:block;

}

#carnet_creation input.inputimage {
  clear:both;
    margin:10px;
    width:auto;
    float:right;
}

#change_password
 {

    padding:0px;


 }
 #change_password legend {
 padding:0px;
 font-size:13px;
 font-weight:bold;
 margin-bottom:5px;
 color:black;

 }

#change_password fieldset {
    border:0px;
    padding:0px;
}

#change_password input {
    width:110px;
    margin:2px;

}

#change_password input.inputimage {
    width:auto;
    margin:2px;
    float:right;

}



.light {
    font-style:italic;
    color:#888888;
    font-size:10px;
}



.notify {
    font-size:12px;

    color:#cc0000;
    font-weight:bold;

}



/************
    RECEVOIR LE PROGRAMME
    ************/

#adresse {
    margin:0px;
    padding:0px;
}

#adresse legend{
    margin:0px;
    padding:0px;
    color:black;
}


#adresse fieldset {
    margin:0px;
    padding:0px;
    margin-left:10px;

}


#adresse input{
    margin:0px;
    padding:2px;
    color:black;
    font-size:11px;
}



#adresse textarea {
    width:240px;
    font-family:arial,helvetica,sans-serif;
    font-size:11px;
}

.spacer {
    line-height:10px;
}

#adresse label {
margin:0px;
margin-top:10px;
padding:0px;
    display:block;
}


.mailing {
    background-color:#eee;
    border:1px solid #000;
    padding:5px;
}


iframe {
    border:1px solid #000;
}


.inputimage {

        padding:0px;
        margin:0px;
        border:0px;

}

.hide {
    display:none;
}


legend {

margin:0px;
padding:0px;
display:inline;
}

form p {
    margin-top:5px;
}

form, fieldset, legend , label{

margin:0px;
padding:0px;
}

.video_link{
	display:block;
	text-decoration:none;
	padding:5px;
	zoom:1;
}

.video_link:hover{
	display:block;
	text-decoration:none;
	color:#FFF;
	background-color:#000;
	zoom:1;
}

.video_link_selected{
	display:block;
	color:#FFF;
	text-decoration:none;
	background-color:#000;
	padding:5px;
	zoom:1;
}

.video_link_selected:hover{
	display:block;
	text-decoration:none;
	color:#FFF;
	background-color:#000;
	zoom:1;
}

#results .title {
	font-weight:bold;

}

#result_report {
	
	padding:10px;
	padding-top:0;
}

#results .description {
	border-bottom:1px solid;
	padding-bottom:10px;
}