body { font-size: 75%; }  
body { 
  color: #444;
  font-family: Arial, Verdana, Helvetica, "Helvetica Neue", Verdana, sans-serif;
}
h1,h2,h3,h4,h5,h6 { 
  color: #787878;
  text-shadow:#ccc 1px 1px 1px;
  font-family: Arial, Verdana, Helvetica, "Helvetica Neue", Verdana, sans-serif;
}
.col-16-grey-bg h2,
.col-16-grey-bg h3,
.col-16-deep-grey-bg h2,
.col-16-deep-grey-bg h3
        {
        color:#fff;
        }

/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: normal; }

h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.2em; line-height: 1; margin-bottom: 1.8em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }


/* Text elements
-------------------------------------------------------------- */

p           { margin: 0 0 1.5em; }
p.last,
a img       { margin-bottom: 0; }

p img.top   { margin-top: 0; } /* Use this if the image is at the top of the <p>. */
img         { margin: 0; }

ul, ol      { margin:0 1.5em 1.5em 1.5em; }
ul          { list-style-type: circle; }
ol          { list-style-type: decimal; }
dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}

abbr, 
acronym     { border-bottom: 1px dotted #666; }
address     { margin-top: 1.5em; font-style: italic; }
del         { color:#666; }

a:focus, 
a:hover     { color: #000; text-decoration: underline; }
a           { color: #333; font-weight:bold; text-decoration:none; }

blockquote  { margin: 1.5em; color: #666; font-style: italic; }
blockquote cite
        {
        display:block;
        font-style:normal;
        color:#444;
        text-align:right;
        font-size:11px;
        margin-top:0.6em;
        }
strong      { font-weight: bold; }
em,dfn      { font-style: italic; background: #ffc; }
dfn         { font-weight: bold; }
pre,code    { margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'monotype.com', 'lucida console', monospace; line-height: 1.5; } 
tt          { display: block; margin: 1.5em 0; line-height: 1.5; }


/* Tables
-------------------------------------------------------------- */

table   { margin-bottom: 1.4em; }
th      { border-bottom: 2px solid #ccc; font-weight: bold; }
td      { border-bottom: 1px solid #ddd; }
th,td   { padding: 4px 10px 4px 0; }
tfoot   { font-style: italic; }
caption { background: transparent; }

/* Use this if you use span-x classes on th/td. */
table .last { padding-right: 0; } 


/* Some default classes
-------------------------------------------------------------- */

.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.quiet      { color: #666; }

.hide       { display: none; }
.highlight  { background:#ff0; }
.added      { color:#060; }
.removed    { color:#900; }

.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }

.caps       { letter-spacing:0.1em; font-variant:small-caps; }
