/*---------------------- Boite de redirection vers les sites départementaux ----------------------*/
div.cadre_bloc_redir {
	height: 100%;
	width: 100%;
	background-image: url(bloc-national.gif);
	background-repeat: no-repeat;
	background-color : #FFFFFF;
	margin: 0px;
}

div.bloc_redirection {
	height: 230px;
	width: 280px;
	margin: 0px;
}

table.home td .bloc_redirection div {
	margin-bottom:0px;
}

.bloc_redirection .titre_redir {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-size: 100%;
	color: #FFFFFF;
	margin: 10px;
	float: left;

}

.titre_redir .bleu_redir {
	color: #1e3cbd;
	font-size: 19px;
}

.bloc_redirection .form_redir {
	clear : both;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	float: left;
	margin: 69px 10px 10px;
	width: 90px;
}

.form_redir .label_numDepartRedir{
	text-align:left;
}

.form_redir .field{
}

.form_redir .subm2{
	vertical-align:bottom ;
}

/*---------------------- Boite de connection vers les services sécurisés ----------------------*/

.backBlocDirServSecu{
	height: 100%;
	width : 100%;
	background-color:#FFFFFF;
}


.blocDirServSec {
	background-color:#0B60EF;
	height: 229px;
	width: 100%;
	margin: 0px;
	background-image: url(bloc_connex-fond2.jpg);
	background-repeat: no-repeat;		
}

table.home td .blocDirServSec div {
	margin-bottom:0px;
}

.blocDirServSec a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#FFFFFF;
	text-decoration:underline;
}

.blocDirServSec a:hover {
	color:#CC6633;
}

.titreDirServSec {
	/*float : right;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #FFFFFF;
	margin: 0px 20px 0px 90px;
	padding: 10px 0px 0px 0px;
	text-align: center;
	width: 230px;
}

.titreDirServSec em, strong {
	font-size : 135%;
	}


.formDirServSecu {
	/* float : right; */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 16px;
	margin: 10px 60px 10px 130px;	
}

.labelIdServSecu{
}
.labelMdpServSecu{
}
.fieldIdServSecu{
}
.fieldMdpServSecu{
}
.formDirServSecu ul{
	list-style-type : none;
	padding: 0 0 0 2px ;
	margin:  0 0 -15px 0;	
}
div.formDirServSecu .btOk{
	position : relative ;
	top : -22px;
	left : 160px;
}
.liensDirServSecu {
	/* float : right; */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	margin: 1.5em 40px 0px 100px;
	width: 200px;
	text-align: right;
}

/*----------------------------Styles nouvelle boite de connection - (janv 2009)-------------------------------------*/

.panneau_msp{
	background-color:#DAE7EF;
	margin: 5px 0px 0px;
	width: 100%;
	height:72px;
	text-align:center;
	font-family:Arial,Helvetica,sans-serif;
	font-size:0.75em;
	/*font-size-adjust:none;*/
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	color:#000000;
}

.msp{
	background-color:#DAE7EF;
	color:#2B2A91;
	/* float : right; */
	font-family:sans-serif;
	font-size:11px;
	vertical-align:middle;
	text-align:center;
	/*font-size-adjust:none;*/
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	padding : 10px 25px 10px 25px;
}


.cadre{
	width:285px;
	background-image:url(degrade.jpg);
	background-repeat:repeat-x;
	border:1px solid #2B2A91;
	text-align:left;
	/*font-size-adjust:none;*/
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
}

.msp .bordure{
	height:46px;
	border:2px solid #FFFFFF;
	color:#2B2A91;
	font-family:sans-serif;
	font-size:11px;
	text-align:left;
	/*font-size-adjust:none;*/
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
}

.msp .marges{
	padding-top:0.5em;
	padding:0.4em;
	color:#2B2A91;
	font-family:sans-serif;
	font-size:11px;
	text-align:left;
	/*font-size-adjust:none;*/
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
}

.msp .marges p{
	margin:0 0 0 0px;
	padding:0 0 0 0px;
}
.marges p.imgconnexion{
	float : right;
}

.marges p.txtconnexion strong{
	font-size:13px;
}
.marges p.lien{
	margin-top:-1.8em
}

.msp p img{
	vertical-align:middle;
}

.msp img {
	border:medium none;
}

.msp p.lien {
	text-align:right;
}
.msp p.lien a {
	background-image:url(fleche.png);
	background-position:0 4px;
	background-repeat:no-repeat;
	padding-left:12px;
	color:#000066;
	font-family:arial,helvetica,geneva,sans-serif;
	font-size:10pt;
	/*font-size-adjust:none;*/
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
}

.msp a.roll, .msp a.none {
	text-decoration:none;
	/*font-size-adjust:none;*/
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
}

.msp a {
	background-color:inherit;
	color:#31579C;
}

.msp a:visited {
	color:#000066;
}

.msp a.roll:focus {
	text-decoration:underline;
}

/*--- redef pour suppr les interferences---*/
table.home td div {
	margin-bottom:0px;
}














