/* 	 SIMULATIONS	*/
td.droiteUnTiers {
width:33%;
text-align:right;
}

td.taillealignedroite {
width:40%;
text-align:right;
}

td.donneealignegauche {
background-color:#FFF;
text-align:left;
}

.bleu {
font-family:verdana, sans-serif;
font-size:10pt;
font-weight:700;
color:#0e207e;
width:60%;
}

/* 	 ESPACES RESERVES	*/
td.libelleER {
text-align:right;
width:35%;
}

table.identER {
padding-left:20px;
padding-top:8px;
width:70%;
}

.rightcontA {
width:69%;
padding:8px 12px 18px 20px;
}

.rightcontA div.tabnav {
font-size:100%;
}

.rightcontA div.pages {
font-size:100%;
}

.rightcontB {
width:32%;
}

.rightcontC {
padding-left:20px;
padding-right:18px;
padding-bottom:18px;
width:100%;
}

.rightcontD {
padding-left:20px;
padding-bottom:18px;
padding-top:4px;
width:100%;
}

.titreDossier {
font-size:90%;
font-weight:700;
color:#006;
padding-left:20px;
padding-right:12px;
}

div.pgsheader {
font-size:110%;
font-weight:700;
color:#006;
padding-top:4px;
margin-left:20px;
margin-right:12px;
}

div.pgheader,div.pgfooter,div.pgfooterform {
border-bottom:1px #FF8100 solid;
font-size:140%;
color:#006;
font-weight:700;
height:1px;
vertical-align:top;
padding:2px 0 6px;
}

div.pgheader h3 {
font-size:120%;
}

div.pgheader h3 span {
font-size:100%;
}


div.pgheader h2 {
font-size:120%;
}
head:first-child+body div.pgheader,head:first-child+body div.pgfooter,head:first-child+body div.pgfooterform {
height:auto;
}

div.pgheader,div.pgfooterform {
margin-left:20px;
margin-right:12px;
}

div.pgfooter,div.pgfooterform {
border-top:1px #FF8100 solid;
border-bottom:none;
margin-top:12px;
margin-left:20px;
margin-right:12px;
}

.rightcontC div.pgheader,.rightcontD div.pgheader {
margin:0;
}

span.action {
float:right;
margin-top:4px;
margin-bottom:-5px;
}

span.action a {
margin-left:4px;
}

div.pgfooter div.action {
margin-top:8px;
margin-left:20px;
margin-right:12px;
}

div.pgfooterform div.action {
margin-top:8px;
}

div.hdp {
clear:both;
text-align:right;
padding-top:4px;
width:96%;
}

td.boitesSommaire {
width:30%;
vertical-align:top;
}

/* 	BLOCS ACTION (boites, sommaire,tÚlÚchargement, lettre info) */
div.box1 {
margin-bottom:18px;
border-left:1px solid #09C;
}

div.box1 h3 {
background-color:#09C;
color:#FFF;
font-weight:700;
padding:2px 4px 3px 12px;
}

div.box1 p.ilink {
margin:0 4px 15px 6px;
}

div.box1 p.ilinkBoite {
background:url(fleche_small-0.gif) 0 5px no-repeat;
margin:0 4px 0 6px;
padding:0 0 0 12px;
}

div.box1 p.inter {
padding:0 0 4px 18px;
}

div.box1 p.interBoite {
font-weight:300;
padding:3px 0 0 18px;
}

div.box1 p.accrocheBoite {
font-weight:700;
padding:8px 0 8px 18px;
}

div.box1 p.accrocheBoite2 {
font-weight:700;
padding:8px 0 4px 18px;
}

div.box1 p.accrocheBoiteItalique {
font-weight:700;
padding:0px 0 8px 18px;
font-style:italic;
}

div.box2 {
margin-bottom:18px;
padding-bottom:8px;
clear:both;
}

div.box2 h3 {
font-weight:700;
padding:3px 0 0 28px;
}

div.box2 p.ilink {
padding-bottom:5px;
margin:0 4px 10px 6px;
}

div.box2 p.ilinkBoite {
padding:1px 1px 1px 6px;
}

div.box2 p.inter {
padding:0 0 8px 18px;
}

div.box2 p.interBoite {
padding:1px 1px 1px 6px;
}

div.box2 p.accrocheBoite {
font-weight:700;
padding:8px 0 10px 18px;
}

div.box2 p.accrocheBoite2 {
font-weight:700;	
padding:1px 1px 1px 6px;
}

div.box3 {
margin-top:12px;
clear:both;
background-color:#BBBDC9;
padding:1px;
}

div.box3 div {
background-color:#FFF;
padding:6px 10px;
}

div.box3 p {
color:#5E627D;
padding-top:2px;
font-size:90%;
}

div.box3 h3 {
color:#5E627D;
font-weight:700;
padding-top:0;
padding-bottom:2px;
font-size:105%;
}

div.box4 {
margin-bottom:18px;
}

div.box4 h3 {
background-color:#F90;
color:#FFF;
font-weight:700;
padding:2px 4px 3px 12px;
}

div.box4 p.ilink {
border-top:1px solid #F90;
background:url(fleche_big-0.gif) 0 7px no-repeat;
margin-bottom:2px;
padding:3px 0 0 16px;
}

div.box4 p.ilink a {
font-weight:700;
}

div.box4 p.ilinkOn {
border-top:1px solid #F90;
background:url(fleche_big-0.gif) 0 7px no-repeat;
margin-bottom:2px;
font-weight:700;
color:#B34000;
padding:3px 0 0 16px;
}

div.box1 h3,div.box2 h3,div.box4 h3,div.box5 h3 {
font-size:110%;
}

#aide {
background:#E5F5FA url(pict_aide.gif) top left no-repeat;
}

#doss {
background:#E5F5FA url(pict_votre-msa.gif) top left no-repeat;
}

#tele {
background:#FFF5E5 url(pict_telecharger.gif) top left no-repeat;
margin-bottom:0;
}

#tele h3 {
color:#B34000;
}

#tele p.ilink {
margin-left:16px;
}

/* 	LETTRE D'INFO    */
table.news {
margin-top:24px;
width:70%;
}

table.news img {
margin:2px 0 12px 24px;
}

table.news td p.titrepubli {
background:url(fleche_news.gif) 0 4px no-repeat;
font-size:8pt;
padding:0 12px 0 20px;
}

table.news td p.esp {
background:none;
color:#F90;
font-size:8pt;
font-weight:700;
}

table.news td p a {
font-size:18px;
font-weight:700;
}

table.news td p.ilink {
background:url(fleche_small-0.gif) 0 5px no-repeat;
margin-left:20px;
padding:0 0 0 12px;
}

div.boxnews {
width:70%;
background:#FFF5E5 url(pict_acces-direct.gif) top left no-repeat;
margin:20px 30px 0;
padding:6px 0 8px;
}

div.boxnews p {
background:url(fleche_big-0.gif) 0 5px no-repeat;
font-size:8pt;
margin:0 0 6px 30px;
padding:2px 0 0 15px;
}

div.boxnews p a {
font-size:12pt;
font-weight:700;
}

div.boxnews p.title {
font-weight:700;
color:#F90;
font-size:9pt;
background:none;
margin:0;
padding:3px 0 10px 30px;
}

td.title {
background:#039 url(news-title-fnd.gif) top left no-repeat;
padding-top:10px;
padding-left:30px;
height:46px;
}

td.title p {
font-size:14pt;
font-weight:700;
color:#FFF;
}

td.title p span {
font-size:10pt;
font-weight:400;
}

td.date {
background-color:#039;
padding-top:14px;
padding-left:30px;
padding-right:10px;
}

td.date p {
font-size:12pt;
color:#FFF;
text-align:right;
font-weight:400;
}

#footerB {
border-top:1px #FF8100 solid;
font-size:8pt;
background-color:#039;
color:#FFF;
height:1px;
padding:2px 10px 3px;
}

#footerB span {
font-size:90%;
}

/*    TABLEAU DE DONNEES      */
table.data2 {
border-collapse:collapse;
}

table.data2 td {
border:1px solid #F90;
vertical-align:top;
padding:7px;
}

table.data2 th {
border:1px solid #F90;
vertical-align:top;
font-weight:700;
padding:7px;
}

table.data2 th.recherche {
border:1px solid #F90;
background-color:#F90;
color:#FFF;
font-weight:700;
text-align:left;
font-size:100%;
padding:2px 7px;
}

table.data2 th.entete{
border:1px solid #F90;
background-color:#F90;
color:#FFF;
font-weight:700;
text-align:center;
font-size:100%;
padding:2px 7px;
}

table.data2 th.entete a:link, table.data2 th.entete a:hover, table.data2 th.entete a:active, table.data2 th.entete a:visited {
border:1px solid #F90;
background-color:#F90;
color:#FFF;
font-weight:700;
text-align:center;
font-size:100%;
}

table.nocharte td {
border:1px solid #777;
padding:3px;
}

table.nocharte th {
border:1px solid #777;
font-weight:700;
padding:3px;
}

caption.resultatRecherche {
font-weight:700;
color:#006;
}

caption.resultatRecherche span {
font-size:130%;
}

/*     BLOCS DE TEXTE      */
table.illus {
margin:6px 0;
border: 0px;
}

table.illus td.vignette {
vertical-align:top;
border: 0px;
width : 80px;
}

table.illus img {
margin:2px 8px 0 0;
}

table.illus td {
vertical-align:top;
border: 0px;
}


p.chapo {
color:#006;
font-family:verdana, sans-serif;
font-size:105%;
}

div.txtconteneur {
padding:8px 7px 12px;
}

tr.lettreinfo div.txt {
margin-left:40px;
margin-right:12px;
}

div.txt {
color:#000;
font-size:100%;
margin:4px 0 10px;
}

table.illus div.txt {
margin-top:0;
}

/* 	  TABLEAUX CHARTE AGORA 	*/
div.rechbox {
padding:8px 0 4px;
}

input.rech {
width:11em;
font-size:100%;
margin-right:7px;
}

input.rechsub {
margin-top:2px;
}

table.list2 {
border:1px solid #F90;
width:100%;
background-color:#FFF5E5;
font-size:100%;
margin-top:5px;
}

table.list2 td {
padding:3px;
}

table.list2 td.lib {
text-align:left;
}

table.list2 td.lib2 {
text-align:right;
}

table.list2 td.int {
border-bottom:1px solid #F90;
}

table.list2 td.alt1Date {
font-weight:700;
background-color:#FFF5E5;
width:25%;
}

table.list2 td.alt2Date {
font-weight:700;
background-color:#FFF;
width:25%;
}

table.list2 td.alt2Entree {
background-color:#FFF;
}

table.list2 td.long {
text-align:justify;
padding-left:6px;
}
table.list3 {
border:1px solid #F90;
width:95%;
background-color:#FFF5E5;
font-size:100%;
margin-top:5px;
}

table.list3 td {
padding:3px;
}

table.list3 td.lib {
text-align:left;
}

table.list3 td.lib2 {
text-align:right;
}

table.list3 td.int {
border-bottom:1px solid #F90;
}

table.list3 td.alt1Date {
font-weight:700;
background-color:#FFF5E5;
width:25%;
}

table.list3 td.alt2Date {
font-weight:700;
background-color:#FFF;
width:25%;
}

table.list3 td.alt2Entree {
background-color:#FFF;
}

table.list3 td.long {
text-align:justify;
padding-left:6px;
}

input.sub {
font-size:100%;
color:#FFF;
font-weight:700;
background:#039 url(p.gif) bottom right no-repeat;
border:none;
padding:0;
}

input.sub1 {
width:9em;
}

table.confirm {
border:1px solid #F90;
width:50%;
background-color:#FFF5E5;
margin-top:5px;
}

label.serviceSecurise {
color:#FFF;
font-size:90%;
}

/*Styles pour les pop-up de services anonymes
 	 SIMULATIONS	*/
#etapes {
float:left;
width:490px;
height:55px;
}

#etapes ul {
list-style-type:none;
margin:0;
padding:5px 0 0;
}

#etapes li {
float:left;
width:98px;
text-align:center;
}

#etapes div.image {
margin-top:6px;
}

#etapes div.texte {
margin-top:6px;
color:#000;
font-size:90%;
font-family:arial,verdana,sans-serif;
width:90px;
}

#etapes div.texteOn {
margin-top:6px;
color:#006;
font-size:90%;
font-family:arial,verdana,sans-serif;
font-weight:700;
width:90px;
}

#titreSimu {
font-size:16pt;
font-weight:700;
color:#006;
text-align:left;
font-family:arial,sans-serif;
float:left;
width:435px;
padding:12px 5px 10px 28px;
}

#titrePageSimu{
	font-size:12pt;
	font-weight:bold;
	color:#000066;
	text-align:left;
	padding-top:5px;
	padding-left:2px;
	font-family:arial,sans-serif;
	margin-top:10px;
	margin-bottom:10px;
}

#logo {
padding-top:3px;
text-align:left;
float:left;
width:128px;
}

#barre {
border-bottom:#f90 1px solid;
width:625px;
height:33px;
padding-top:13px;
}

#barre #progression {
text-align:left;
float:left;
font-size:90%;
}

#barre #print {
text-align:right;
width:34%;
float:left;
}

#barre #print a {
background:url(imprimer.gif) no-repeat;
padding-left:21px;
height:12px;
}


#barreTitre {
border-bottom:#f90 1px solid;
width:625px;
height:50px;
padding-top:13px;
}

#barreTitre #progressionTitre {
text-align:left;
float:left;
font-size:90%;
}

#barreTitre #printTitre {
text-align:right;
width:34%;
float:left;
}

#barreTitre #printTitre a {
background:url(imprimer.gif) no-repeat;
padding-left:21px;
height:12px;
}


#help {
text-align:right;
padding-top:5px;
padding-right:5px;
height:25px;
}

#help a {
font-size:10pt;
color:#006;
height:20px;
background:url(aide.gif) no-repeat;
padding-left:24px;
}

#header {
width:625px;
}

.bandeauHaut {
background-color:#BBB;
}

fieldset.encadre {
font-family:arial,sans-serif;
width:97%;
border:1px solid #F90;
background-color:#FFF5E5;
font-size:9pt;
padding:3px;
position:relative;
}

fieldset.encadre legend {
font-size:10pt;
font-family:Arial, Helvetica, sans-serif;
color:#006;
font-weight:700;
padding-left:5px;
position:absolute; top: -.6em; left: .5em;
}

fieldset.encadre td.libelle {
text-align:right;
font-family:Arial, Helvetica, sans-serif;
font-size:10pt;
color:#000;
width:45%;
margin:2px;
}

fieldset.encadre td.libellelong {
text-align:right;
font-family:Arial, Helvetica, sans-serif;
font-size:10pt;
color:#000;
width:50%;
margin:2px;
}

fieldset.encadre td.champ {
text-align:left;
font-family:Arial, Helvetica, sans-serif;
font-size:10pt;
color:#000;
width:60%;
margin:2px;
}

fieldset.encadre table.lib2 {
text-align:right;
}

fieldset.encadre select {
margin-top:5px;
}

table.simu {
font-family:arial,sans-serif;
width:97%;
border:1px solid #F90;
background-color:#FFF5E5;
font-size:9pt;
margin-top:10px;
padding:5px;
}

table.simu td {
font-family:Arial, Helvetica, sans-serif;
font-size:10pt;
color:#000;
margin:2px;
}

table.simu td.libelle {
text-align:right;
width:40%;
}

table.simu td.libellelong {
text-align:right;
width:45%;
}

table.simu td.treslong {
text-align:right;
width:55%;
}

table.simu td.trestreslong {
text-align:right;
width:70%;
}

table.simu td.champ {
text-align:left;
width:60%;
}

table.simu td.radio {
text-align:left;
width:45%;
padding-left:60px;
}

div#footerPopUpSimu1 {
width:625px;
border-top:1px #F90 solid;
color:#FF8100;
height:20px;
padding:2px 0 2px 10px;
}

div#footerPopUpSimu1Diapo {
width:99%;
border-top:1px #F90 solid;
color:#FF8100;
}

div#contact span {
color:#006;
}

div#footerPopUpSimu2 {
border-top:1px #F90 solid;
font-size:70%;
background-color:#039;
color:#FFF;
text-align:left;
font-family:arial;
padding:2px 0 2px 10px;
width:625px;
}

div#footerPopUpSimu2Diapo {
border-top:1px #F90 solid;
font-size:70%;
background-color:#039;
color:#FFF;
font-family:arial;
width:100%;
padding:2px 0 2px 10px;
}

div#tableauDiapo {
font-family:arial,sans-serif;
background-color:#F90;
vertical-align:middle;
text-align:center;
font-size:9pt;
color:#FFF;
margin-top:10px;
padding:5px;
}

.legendeDiapo { font-style: italic; text-align:center; vertical-align: top; }

table.tableauDiapo { text-align:center; 
color:#FFF;
border-spacing:10px;
}

td.colonneDiapoNonSelectionne {
background-color:#F90; 
width:15px;
height:50%;
text-align:center; 
}

td.colonneDiapoSelectionne {
background-color:#006;
width:15px;
height:50%;
text-align:center;
}

td.centre,table.list2 td.sub {
text-align:center;
}

#rightcont,fieldset.encadre table {
width:100%;
}

div.hdp a,table.news td p.ilink a {
font-size:100%;
font-weight:400;
}

div.box1 input.champSaisieBoite,div.box2 input.champSaisieBoite {
margin-left:18px;
margin-bottom:5px;
}

div.box1 p a,div.box2 p a,div.box4 p a,div.box4 p.ilink span,div.box2 p.inter,div.box1 p.inter,div.box3 p span,table.data2 td p,table.data2 td p a,table.nocharte td p,table.nocharte td p a,table.nocharte th p,table.nocharte th p a,div.txt a,table.list2 td input,table.list2 td textarea,table.list2 td a input,table.list2 td select {
font-size:100%;
}

div.box1 p a,div.box2 p a,div.box4 p a,div.box4 p.ilink span,div.box2 p.inter,div.box1 p.inter,div.box3 p span,table.data2 td p,table.data2 td p a,table.nocharte td p,table.nocharte td p a,table.nocharte th p,table.nocharte th p a,div.txt a,table.list3 td input,table.list3 td textarea,table.list3 td a input,table.list3 td select {
font-size:100%;
}

#aide h3,#doss h3 {
color:#09C;
}

table.data2 tr.alt,td.alt,th.alt,table.nocharte tr.alt,td.alt,th.alt,table.list2 td.alt1Entree {
background-color:#FFF5E5;
}

table.data2 tr.alt,td.alt,th.alt,table.nocharte tr.alt,td.alt,th.alt,table.list3 td.alt1Entree {
background-color:#FFF5E5;
}

table.data2 tr.alt2,td.alt2,th.alt2,table.nocharte tr.alt2,td.alt2,th.alt2 {
background-color:#F90;
}

table.data2 tr.alt3,td.alt3,th.alt3,table.nocharte tr.alt3,td.alt3,th.alt3 {
background-color:#F0FAE5;
}

table.data2 tr.alt4,td.alt4,th.alt4,table.nocharte tr.alt4,td.alt4,th.alt4 {
background-color:#E5F5F4;
}

table.data2 tr.alt5,td.alt5,th.alt5,table.nocharte tr.alt5,td.alt5,th.alt5 {
background-color:#F5EFF5;
}

table.data2 tr.alt6,td.alt6,th.alt6,table.nocharte tr.alt6,td.alt6,th.alt6 {
background-color:#FAEFEA;
}

table.data2 caption,table.nocharte caption {
font-size:100%;
font-weight:700;
}

p.txt,option.txt {
font-size:100%;
font-family:verdana, sans-serif;
padding:8px 7px 12px;
}

div.txtconteneur *,div.txtconteneurbloc * {
font-family:arial,verdana,sans-serif;
font-size:100%;
padding:0;
}

fieldset.encadre td.radio,fieldset.encadre td.labelradio {
text-align:left;
font-family:Arial, Helvetica, sans-serif;
font-size:10pt;
color:#000;
width:45%;
padding-left:30px;
margin:2px;
}

div#footerPopUpSimu1Diapo div#contact,div#footerPopUpSimu1 div#contact {
width:60%;
text-align:left;
float:left;
font-size:80%;
font-family:Arial, Helvetica, sans-serif;
}

div#footerPopUpSimu1Diapo div#fermeture,div#footerPopUpSimu1 div#fermeture {
width:40%;
color:#006;
text-align:right;
float:left;
}

td.colonneDiapoNonSelectionne a,td.colonneDiapoSelectionne span {
font-size:7pt;
color:#FFF;
}

#channel {
text-align:left
}

#channel .chapo,div.items {
margin:1em
}

#channel h3 {
padding-top:1em
}

div.item {
font-size:1em;
font-weight:700;
margin:1em
}

#channel .description {
font-weight:400;
display:block
}

#channel .cadrer {
margin:28px
}

#note {
color:#006;
padding:10px 0 0 20px
}

.ficheDocumentaireLabel {
	font-weight: bold;
	font-size: 15px;
}

table.ficheDocumentaireDescriptif {
	width: 100%;
	border: 1px solid #09C;
}

table.ficheDocumentaireDescriptif td {
	padding-top: 6px;
	padding-bottom: 5px;
	padding-left: 20px;
}

table.ficheDocumentaireInformations {
	width: 100%;
	/*border: 1px solid grey;*/
	border: 1px solid #D3D3D3;
}

table.ficheDocumentaireInformations td {
	padding-top: 6px;
	padding-bottom: 5px;
	padding-left: 20px;
	/*color: grey;*/
	color: #D3D3D3;
	font-size: 11px;
	font-family: Arial;
}

table.ficheDocumentaireInformations td.titre {
	padding-bottom: 10px;
	font-weight: bold;
}


#accueil-mosaique {
	border: 0px; 
	margin: 0px;
	padding: 0px; 
	width: 100%; 
	height: 620px;
}

#accueil-mosaique div {
	float: left;
	height: 50%;
	padding: 0px;	
	margin: 0px;
}

#accueil-mosaique-hg {
	background:#adbd7b;
	width:50%; 
	text-align:right;
}

#accueil-mosaique-hd {
	background:#e79c00;
	width: 49.99%;
}

#accueil-mosaique-bg {
	background:#e79c00;
	width: 50%;
	text-align:right;
}

#accueil-mosaique-bd {
	background:#7b9c42;
	width: 49.99%;
}

.titre-thematique-lettreinfo {	
	font-weight:bold;
}

.lien-thematique-lettreinfo {
	text-align:right; 
}

.confirmation-abonnement-lettreinfo {
	font-size:100%;
	width:70%;
	text-align:left;
}

#fieldsetDossier {
padding-bottom:15px;
white-space:nowrap;
}

#fieldsetDossier legend {
margin-left:0px;
margin-left:0px;
}

#fieldsetDossier div {
padding-top:20px;
margin-left:16px;
font-weight:200;
}

#fieldsetDossier select {
margin-left:16px;
width:91%;
font-weight:200;
}

#fieldsetDossier input {
margin-right:16px;
}

.lienNoteTableau {
}

a.ancreNoteTableau {
text-decoration:none;
}