head:first-child+body p.ilink a {
font-size:115%;
}

head:first-child+body table.news td p.ilink a {
font-size:100%;
font-weight:400;
}

head:first-child+body #headertransverse {
font-size:95%;
height:31px;
margin:0;
}

head:first-child+body #headersearch {
font-size:50%;
height:35px;
}

head:first-child+body div.tabnav span {
font-size:180%;
}

head:first-child+body div.txtconteneur ul {
padding:0 0 0 40px;
}

head:first-child+body #footerB {
height:auto;
}

head:first-child+body #homer a {
font-size:90%;
font-weight:400;
}

head:first-child+body strong.bigger,head:first-child+body #leftmenu div p.title,head:first-child+body div.box1 h3,head:first-child+body div.box2 h3,head:first-child+body div.box4 h3,head:first-child+body div.box5 h3,head:first-child+body div.index,head:first-child+body #homer td.botA p.contact {
font-size:110%;
}

head:first-child+body p.retour a,head:first-child+body #headeractions select,head:first-child+body #trail,head:first-child+body div.hdp a,head:first-child+body div.box1 p a,head:first-child+body div.box2 p a,head:first-child+body div.box4 p a,head:first-child+body div.box5 p a,head:first-child+body div.box4 p.ilink span,head:first-child+body div.box2 p.inter,head:first-child+body div.box3 p,div.box3 h3,head:first-child+body span.lnav a,head:first-child+body span.rnav a,head:first-child+body table.data2 th,head:first-child+body table.data2 td p,head:first-child+body table.data2 td p a,head:first-child+body p.txt,head:first-child+body div.txt,head:first-child+body div.txt a,head:first-child+body input.sub,head:first-child+body table.plan td p a,head:first-child+body table.plan td p.title a,head:first-child+body table.mp p,head:first-child+body table.mp p a,head:first-child+body #footerA a,head:first-child+body #footerA span,head:first-child+body #footerB span,head:first-child+body table.home p,head:first-child+body #home td.botB input.field {
font-size:100%;
}

head:first-child+body .headfooter a,head:first-child+body p.stitre {
font-size:70%;
}

head:first-child+body #headersearch input.search,head:first-child+body div.box3 h3,head:first-child+body p.chapo,head:first-child+body #home td.botA p,head:first-child+body #homer td.botA p {
font-size:105%;
}

head:first-child+body #menu td p a,head:first-child+body #footerA,head:first-child+body #footerB {
font-size:85%;
}

head:first-child+body #leftmenu div p a,head:first-child+body table.data1 td p a,head:first-child+body #footerA p.ilink {
font-size:90%;
}

head:first-child+body div.pgsheader,head:first-child+body div.tabnav span a,head:first-child+body table.data1 th,head:first-child+body #homer input {
font-size:80%;
}

head:first-child+body div.pgheader,head:first-child+body div.pgfooter,head:first-child+body table.mp h4 {
font-size:140%;
}

head:first-child+body div.tabnav,head:first-child+body #autres h3,head:first-child+body table.plan td h3 {
font-size:120%;
}

head:first-child+body table.data1 td p,head:first-child+body div.sep a,head:first-child+body input.rech,head:first-child+body div.close a,head:first-child+body td.imgnavA a,head:first-child+body td.imgnavB a,head:first-child+body div.imginfo {
font-size:60%;
}

head:first-child+body div.popheader,head:first-child+body table.home h3 {
font-size:135%;
}

head:first-child+body td.imgnav,head:first-child+body #home td.top h3 span,head:first-child+body #homer td.top h3 span {
font-size:50%;
}

head:first-child+body #home td.top h3,head:first-child+body #homer td.top h3 {
font-size:160%;
}