#lien_ca {
height: 290px;
width: 230px;
margin-left: 155px;
margin-top: 115px;
position: absolute;
visibility: visible;
overflow:hidden;
}

#main-left{
	width:400px;
}

#main-right{
	width:400px;
}
/**
#main-right h2{
	background: #1E52A1 url(../img/home/news-bck.gif) top left no-repeat;
	color:white;
	line-height:21px;
	padding-left:40px;
	font-style:italic;
}*/
#formation-search{
	position:absolute;
	top:46px;
	left:400px;
	width:410px;
	height:115px;
	background:#f2ede7 url(formation-search.gif) top left no-repeat;
}
#formation-search h2{
	left:90px;
}
#formation-search .submit {
	left:300px;
}
#formation-search .selectformation {
	left:125px;
}

/****************************************************************** gesprofil */

.tx-gesprofil-pi1{
	background:url(bandeau-bottom.gif) top left no-repeat;
	padding-top:306px;
}

.tx-gesprofil-pi1 h2{
	background: #1E52A1 url(iam-bck.gif) top left no-repeat;
	color:white;
	line-height:21px;
	padding-left:50px;
	font-style:italic;
}
.tx-gesprofil-pi1 .menu_home {
	background-color:#ede7dd;
	padding:10px 0 12px 20px;
	width:379px;
}
.tx-gesprofil-pi1 .menu_home form {
	padding: 0;
	margin: 0;
}
.tx-gesprofil-pi1 .home_menu, .tx-gesprofil-pi1 .home_menu ul {
	padding:0;
	margin:0;
	list-style:none;
	color:#8a7e6b;
	/**font-size:100%;*/
	font-weight:bold;
}
.tx-gesprofil-pi1 .home_menu li {
    border-style:solid;
	border-width:1px;
	border-color:#ede7dd;	
	margin:0 -10px;
	width:350px;
} 
.tx-gesprofil-pi1 .home_menu li a {
	color:#8a7e6b;
	/**font-size:100%;*/
	font-weight:bold;
	text-decoration:none;
	padding:4px;	
	display:block;
	width:368px;	
	border-style:solid;
	border-width:1px;
	border-color: #ede7dd; 
}
.tx-gesprofil-pi1 .home_menu li a:hover {
	border-style:solid;
	border-width:1px;
	border-color:#1e52a1;
	background-color:#FFFFFF;	
}
.tx-gesprofil-pi1 .home_menu li a span {
	display: none;
	background-color:none;
	border:none;
}
.tx-gesprofil-pi1 .home_menu li a:hover span {
	display: inline;
	z-index: 1000;
	position: absolute;
	margin-left: 50px;
	top: 170px;	
	left: auto;
	width: 209px;
	height: 414px;
	border:none;
	border-width:0px;
}

/*********************************************************************** Actu */

p.date {
	color:#333333;
	/**font-size:100%;*/
	font-style:italic;
	padding:0;
	margin:0;
}
#une{
	margin-top:15px;
}
#une h4, #bref h4{
	margin:0;
	padding:2px 0 2px 0;
	/**font-size:1em;*/
	color:#333333;
	font-weight:bold;
}
#une img{
	border:none;
}

.lirelasuite a {
	color:#336699;
	text-decoration:none;
	font-style:italic;
	font-weight:bold;
	/**font-size:100%;*/
}
.lirelasuite a:hover{
	text-decoration:underline;
}

#illustration{
	float:right;
	display:block;
	padding:0;
	margin:10px 0 10px 0;
}
.texte_home{
	width:225px;
	_width:240px;
	margin:0;
	padding:10px;
	float:left;
	display:block;
}
.texte_home p{
	padding:0;
	margin:0;
	text-align:justify;
	line-height:1.3em;
	/**font-size:1em;*/
	color:#333333;
}

#bref p{
	padding:0;
	margin:0;
	text-align:justify;
	/**font-size:1em;*/
	
}

#bref ul{
	margin:0;
	padding:0;
	display:block;
	list-style:none;
	
}
#bref li{
	margin:10px;
	padding:0;
	display:block;
	list-style:none;
	
}
#bref a{
	color:#333333;
	text-decoration:none;
}
#bref a:hover{
	color:#1e52a1;
	text-decoration:underline;
}


