

body{
	text-align: center;
	background-color:#f2ede7;
	margin:20px 0;
}
.clear{
	clear:both;
}
#container{
	position:relative;
	width:960px;
	margin:0;
	margin-left: auto;
	margin-right: auto;
	padding:0;
	text-align: left;
	background: url(container-middle.gif) top left repeat-y;
	overflow:hidden;
}

#header{
	position:absolute;
	top:0;
	left:0;
	width:960px;
	height:46px;
	background: url(container-top.gif) top left no-repeat;
}

#column-left{
	position:relative;
	float:left;	
	width:140px;
	text-align:center;
	z-index:1;
	margin-top:9px;
}
#column-left .box{
	/**float:left;*/
	clear:both;
	background-color:#f4f1eb;
	border:1px solid #e2dacd;
	margin: 0 10px 10px 10px;
	/**padding:5px;*/
	text-align: center;
}
#main{
	padding-top:46px;
	position:relative;
	float:right;
	text-align:center;
	width:820px;
	text-align:left;
}
#right-content{
	margin-right:15px;
}
#main-left{
	float:left;
}

#main-right{
	float:right;
}
#bandeau{
	position:relative;
	height:115px;
	overflow:hidden;
}
#footer {
	clear:both;
	width:960px;	
	text-align:center;
	background: #f2ede7 url(container-bottom.gif) top left no-repeat;
	padding:30px 0 0 20px;
	color:#413c33;
	font-size:85%;
}
#footer a{
	color:#413c33;
	text-decoration:none;
}
#footer a:hover {
	text-decoration:underline;
}
#address {
	padding:20px 0;
}
/********************************************************************* search */

#search{
	position:absolute;
	top:24px;
	left:740px;
}
#search input{
	vertical-align: middle;
	height:15px;
	font-size:92%;
}
#search .recherche {
	border:0;
	padding:0 0 0 5px;
}
#search .valider {
	background-color: #8a7e6b;
	border: 0;
	color: #FFFFFF;
	padding:0;
	width: 25px;
}

/*********************************************************** formation-search */

#formation-search{
	position:relative;
	height:115px;
}
#formation-search h2{
	position:relative;
	background-color:#FF6600;
	border:1px solid #ffffff;
	color:#ffffff;
	width: 210px;
	line-height:20px;
	margin-bottom:5px;
	font-size:92%;
	top:15px;
}
#formation-search .submit {
	background:url(formation-submit.gif) top left no-repeat;
	width:35px;
	height:62px;
	border:0;
	margin:0;
	padding:0;
	position:absolute;
	top:28px;
	left:175px;
	top:43px;
}
#formation-search .selectformation, #formation-search .selectformation_rub {
	position:relative;
	width: 175px;
	left:0;
	margin:0;
	top:18px;
}
#formation-search .selectformation select {
	width: 175px;
	line-height:24px;
}
/*********************************************************************** Menu */

#menu {
	position:relative;
	height:26px;
	margin-top:20px;
	left:145px;
}
#menu ul {
	padding:0 20px 0 20px; 
	margin: 0 0 0 -5px;
	font-size: 12px;
	color: #000000;	
}
#menu li {
	float:left;
	z-index: 1000;
}
#menu a{
	color:#FFFFFF;
	display:block;
	margin:0 0 0 0;
	padding:6px 10px 6px 10px;
	text-align: center;
	text-decoration:none;
	z-index: 1000;
}
#menu a:link{
	color:#FFFFFF;
	text-decoration:none;
}
#menu a:active{
	color:#FFFFFF;
	text-decoration:none;
}
#menu a:hover{
	color:#FFFFFF;
	text-decoration:none;
}
#menu ul li li a {
	color: #000000;
	width: 14.5em;
	border-color: #8A7E6B;
	border-width: 0 0 1px 0;
	border-style: solid;
	padding: 2px 6px 2px 6px;
	background-image: none;
	font-weight: normal;
	background-color: #FFFFFF;
	text-align: left;	
	font-size: 80%;
	z-index: 1000;
}
#menu ul li li a:link{
	color:#000000;
	background-color: #FFFFFF;	
}
#menu ul li li a:active{
	color:#FFFFFF;
	background-color: #8A7E6B;
}
#menu ul li li a:hover {
	background-color: #8A7E6B;	
	color: #FFFFFF;
}
#menu ul li li {
	/*color: #FFFFFF;*/
	color: #000000;	
	margin: 0px;
	padding: 0px;
	background-image: none;
	z-index: 1000;
}
#menu ul li ul {
	position: absolute;
	left: -999em;
	width: 14.4em;
	font-weight: normal;
	margin: 0;
	padding:0;
	z-index: 1000;	
}
#menu ul li:hover ul, #menu ul li.sfhover2 ul {
	left: auto;
	z-index: 1000;
}
#menu ul li.hauton4 li a, #menu ul li.hauton5 li a, #menu ul li.hauton6 li a, #menu ul li.hauton7 li a, #menu ul li.hauton8 li a, #menu ul li.hauton9 li a, #menu ul li.hauton9402 li a {
	background-color: #FFFFFF;
	z-index: 1000;
}
#menu ul li.hauton9402 a, #menu ul li.hauton9402 a:hover, #menu ul li.haut9402 a:hover{
	background-color:#c42250;
}
#menu ul li.hauton9 a, #menu ul li.hauton9 a:hover, #menu ul li.haut9 a:hover{
	background-color:#015b9a;
}
#menu ul li.hauton7 a, #menu ul li.hauton7 a:hover, #menu ul li.haut7 a:hover{
	background-color:#990000;
}
#menu ul li.hauton8 a, #menu ul li.hauton8 a:hover, #menu ul li.haut8 a:hover{
	background-color:#ff6600;
}
#menu ul li.hauton6 a, #menu ul li.hauton6 a:hover, #menu ul li.haut6 a:hover{
	background-color:#be31df;
}
#menu ul li.hauton4 a, #menu ul li.hauton4 a:hover, #menu ul li.haut4 a:hover{
	background-color:#333333;
}
#menu ul li.hauton5 a, #menu ul li.hauton5 a:hover, #menu ul li.haut5 a:hover{
	background-color:#00a8ff;
}

/*************************************************************** Menu Gauche 1*/


#nav {
	/**float: left;*/
	list-style: none;
	padding:5px;
	margin:0;
	font-weight: bold;
	font-size:85%;
	z-index: 1000;	
}

#nav a {

	display: block;
	color: #574a36;
	text-decoration: none;
	margin:0;
	padding:0;
}
#nav a:hover {
	text-decoration:underline;
}

#nav ul {
	float: left;
	list-style: none;
	font-weight: bold;
	padding: 5px 7px;
	background-color: #f4f1eb;
	border-width: 1px;
	border-style: solid;
	border-color: #e2dacd;
	margin: 0;
	z-index: 1000;
}

#nav li {
	/**float: left;*/
	clear:both;
	padding:7px 0px 7px 0px;
	margin:0;	
	z-index: 1000;
}
#nav li.organisation, #nav li.gauche23, #nav li.org {
	border-style:solid;
	border-width:1px;
	border-color:#bfb7ab;
	background-color:#faf8f5;
}

#nav li ul {
	position: absolute;
	left: -999em;
	width: 120px;
	font-weight: normal;
	border-width: 1px;
	
	margin: 0;
	
	margin: -27px 0 0 99px;
	*margin: -27px 0 0 50px;
}


/*
*:first-child+html {} #nav li ul{
	margin: -27px 0 0 50px;
}
*/

/*
*+html {} #nav li ul{
	margin: -27px 0 0 50px;
}
*/


#nav li ul ul {
	margin: -27px 0 0 111px;
	*margin: -27px 0 0 60px;
}


#nav li li {
	width: 120px;
	/*padding:2px 0px;*/
}

#nav li li a  {
	width: 120px;
	text-align: left;
}

#nav ul ul {
	width: 260px;
}

#nav li li li {
	width: 260px;
	padding:2px 0px 2px 2px;
}

#nav li li li a  {
	width: 260px;
	text-align: left;
}


#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
	left: -999em;
}


#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {
	left: auto;
}


#nav li li:hover ul, #nav li li.sfhover ul {
	top: 26px;
}
/********************************************************************************************************************************/
/*                                          STYLE DU DEUXIEME MENU A GAUCHE                                                     */
/********************************************************************************************************************************/

#nav2 {
	font-weight: bold;
	font-size:85%;
}
#nav2 ul {
	float: left;
	list-style: none;
	font-weight: bold;
	padding:5px 7px;
	background-color:#f4f1eb;
	border-width:1px;
	border-style:solid;
	border-color:#e2dacd;
	margin:0;
}
#nav2 a {
	display: block;
	color: #574a36;
	text-decoration: none;
}
#nav2 a:hover {
	text-decoration:underline;
}
#nav2 li {
	/**float: left;*/
	clear:both;
	padding:7px 0px;
}
#nav2 li ul {
	position: absolute;
	left: -999em;
	width: 100px;
	font-weight: normal;
	border-width: 1px;
	margin: -26px 0 0 99px;
	*margin: -26px 0 0 50px;
}
#nav2 li li {
	width: 100px;
}
#nav2 li ul a {	
	width: 100px;
}
#nav2 li ul ul {
	margin: -26px 0 0 101px;
	*margin: -26px 0 0 50px;
}
#nav2 li:hover ul ul, #nav2 li:hover ul ul ul, #nav2 li.sfhover2 ul ul, #nav2 li.sfhover2 ul ul ul {
	left: -999em;
}
#nav2 li:hover ul, #nav2 li li:hover ul, #nav2 li li li:hover ul, #nav2 li.sfhover2 ul, #nav2 li li.sfhover2 ul, #nav2 li li li.sfhover2 ul {
	left: auto;
}


/* languages - ROLEM */
#language-switch {
	z-index: 1500;
	height:115px;
	left:730px;
	padding: 4px;
	position:absolute;
	top:0px;
	text-align: right;
	width: 200px;
}
#language-switch img {
	margin-left: 5px;
}
#language-switch img.unavailable {
	filter: Gray;
	-moz-opacity: 0.5;
	opacity: 0.5;
}
