.champ {

	height: 18px;

	font-size: 12px;

}

.date {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 9px;

	color: #999999;
	
	text-decoration:none; 

}

.LienSsRubrique {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-weight: normal;

	color: #333333;

	font-size: 10px;

}

.LienRubriqueGras {



	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	font-weight: bold;

	color: #404F88;

	text-decoration: none;

}



.LienRubriqueMaigre {







	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	font-weight: normal;

	color: #404F88;

	text-decoration: none;

}







.TitreBleu {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 13px;

	font-weight: bold;

	color: #336699;

}

.Texte {



	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-weight: normal;

	color: #333333;

	font-size: 10px;

}

.TitreTableaux {



	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	font-weight: bold;

	color: #336699;

}

.TexteGras {



	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-weight: bold;

	color: #333333;

	font-size: 10px;

	text-decoration: none;

}

.LienSsRubriqueGras {



	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-weight: bold;

	color: #333333;

	font-size: 10px;

}

.TitreColonnes {





	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 9px;

	font-weight: bold;

	color: #336699;

}

.TexteCartouche {





	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-weight: normal;

	color: #333333;

	font-size: 9px;

}

.TexteGris {





	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-weight: normal;

	color: #666666;

	font-size: 9px;

}