body {
	font:13px verdana,helvetica,sans-serif bold;
	background:url(background.jpg) repeat;
	padding:10px 30px 10px 30px;
	color:#000
}

body,#header,#bandeau  ul,#festival,#footer_menu ul {
	margin:0
}

body,#footer,#footer_menu,#footer_menu ul,.ads {
	text-align:center
}

img,.logo_parnters img {
	border:0
}

#main-container {
	margin:0 auto 0 auto;
	max-width:940px;
	min-width:700px
}

#main-container,#container,#editotitle,#festivaltitle,.text_align_left,.vignettetitle,.vignette_link,.vignette_link a {
	text-align:left;

}
.titlestyle {
	text-align:left;
}


#container {
	padding:0 0 10px 0;
	border:0 solid #ea8b2e
}
#bandeau{
font-size:1.1em;
}
#content-container{
width:900px;
}
#container,#bandeau  ul li a,#footer_menu ul li a {
	color:#1a528f
}

#container,#content-container {
	background:#fff
}

#container,#content-container,#bandeau,#bandeau  li,#bandeau  ul li a,#festival,#left_edito,#right_edito,#laureats_selection,#laureats,#selection,#last_most_seen,#last,#most_seen,#partners,.logo_parnters,#footer,#footer_menu li,#footer_menu ul li a,.imagefloat,.vignette {
	float:left
}

#content-container {
	padding:25px;
	padding-top:0
}

#header,#bandeau  ul,#edito,#festival,#footer_menu ul {
	padding:0
}

#bandeau {
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-style:solid;
	border-right-style:none;
	border-bottom-style:solid;
	border-left-style:none;
	border-top-color:#bf001b;
	border-right-color:#bf001b;
	border-bottom-color:#bf001b;
	border-left-color:#bf001b
}

#bandeau,#footer_menu {
	padding-top:15px
}

#bandeau,#edito,#festival,#footer_menu {
	padding-bottom:15px
}

#bandeau,#festival,#last_most_seen,#partners,#footer,#footer_menu {
	width:100%
}

#bandeau,#edito_recherche,#laureats_selection,#last_most_seen,#partners,#footer,.vignette_link {
	clear:both
}

#bandeau  ul,#footer_menu ul {
	list-style-type:none
}

#bandeau  li,#footer_menu li {
	padding-left:5px;
	padding-right:5px;
	margin-left:2px
}

#bandeau  ul li a,#festival a,#footer_menu ul li a,.vignette_link a {
	font-weight:bold
}

#bandeau  ul li a,#footer_menu ul li a,.imagefloat {
	display:block
}

#bandeau  ul li a,#edito a,#festival a,.logo_parnters img,#footer_menu ul li a,.vignette_link a {
	text-decoration:none
}

#edito,#last_most_seen,#partners {
	border-bottom:1px dotted
}

#editotitle,#festivaltitle,.vignettetitle {
	background:left;
	background:#fff url(logo&#32;motif.jpg) no-repeat 0% 100%
}

#editotitle h2,#festivaltitle h2,.vignettetitle h2 {
	padding:15px 15px 5px;
	margin:0 0 0 80px;
	font-size:1em
}

#festival a {
	background:#009ecb;
	font-size:0.9em;
	padding:4px;
	color:#fff
}

#left_edito {
	padding-right:50px;
	width:40%
}
#right_edito{
width:41%
}

#left_edito,#laureats,#last,#partners {
	padding-left:0px
}

#laureats_selection {
	border-top:1px dotted
}

#laureats,#last {
	padding-right:15px
}

#laureats,#selection,#last,#most_seen {
	width:400px
}

#selection,#most_seen {
	padding-left:0px
}

#last_most_seen,#partners {
	padding-top:10px;
	padding-bottom:10px
}

.logo_parnters {
	padding:4px
}

#footer_menu {
	padding-left:10px
}

#footer_menu li,.text_right,.vignette_link a {
	font-size:0.8em
}

#footer_menu ul li a {
	font-size:1.1em
}

.imagefloat {
	position:relative;
	margin:2px;
	padding-right:10px
}

.text_align_right {
	text-align:right;
	padding:10px
}

.vignette {
	width:200px
}

.vignette_link {
	padding-top:5px
}

.vignette_link a {
	color:#be162d
}

.formlabel {display:block;
				float: left;
				width: 10em;   
				text-align:right;
				padding:2px;
				color:#1A528F;
				}
input, select, textarea	{margin: 2px; padding: 0; color:#1A528F; border: 1px solid #1A528F; background-color:#FFFFFF; }	