.dfClear {clear: both; display: block; height: 1px; line-height: 1px; width: 1px; font-size:1px;}
.dfLabel {float: left; width: 130px; clear: both;}
.dfMandatory {float: left; width: 30px;text-align:center; color:#B81116; line-height: 2.1em; }

.dfMandatoryText { color:#B81116; }

.dfControl { width:375px;  }

#col2.content ul.dfRows  li, .dfRows {list-style: none; margin: 0px; }

.mandatory {float: left;color: #920088;line-height:2.0em;width: 30px;text-align:center;}
.dfRows div {float:left;}
.dfRows div ul {list-style: none; margin: 0px; width: 375px;} 
.dfRows div li {list-style: none; width: 375px; } 

.dfRadiobuttonList input {float: left; width: 20px !important;  clear:none; margin-top:3px !important; }
.dfRadiobuttonList label {float: left; margin-left: 5px; width:100px; clear:none; line-height:2.0em; }

.dfRadiobuttonList .dfGender { display:block; min-height:27px; height:auto !important; height:27px;}
.dfRadiobuttonList .dfGender input { width:auto; }
.dfRadiobuttonList .dfGender label { width:auto; margin-right:10px; }

.dfRadioButtonRow .dfControl .dfRadiobuttonList label { width:auto !important; margin-right:10px; margin-left:2px !important;}
.dfRadioButtonRow .dfControl .dfRadiobuttonList label.dfLabelAfter { clear:both; width: 250px !important;}

.dfCheckboxList input {float: left; width: 20px !important;  clear:none; margin-top:4px !important; }
.dfCheckboxList label {float: left; margin-left: 5px;   clear:none; line-height:2.0em; width:300px; }

.dfSelect select { margin-right: 3px; min-width:130px;}

.dfInput { width:auto; float:left; }
.dfInput input {width: 263px; margin-right: 3px;}

input.dfInputSmall { width: 35px; margin-right:5px; }
input.dfInputMedium { width: 115px; margin-right:5px;}
input.dfInputLarge { width: 195px; margin-right:5px;}

.dfButtonContainer { width:535px;}

a.dfSubmit { margin-left:150px;display:block; color:#636363;font-weight:bold; font-size:10px;padding-top:4px; text-align:center;margin-top:2px; width:150px; height:14px; background:url('btn_dynform.gif') no-repeat center top;}
a.dfSubmitHover { text-decoration:none; background-position:center bottom;color: #fff;  }
#dealerSearchForm a.dfSubmit { margin-left:292px;}

#search a.dfSubmit,
#faqselect a.dfSubmit { float:none; display:inline-block; margin-left:auto !important;}

#search a.dfSubmit {margin-top:4px !important;}

.dfTextarea textarea { margin:4px 0px 0px 0px !important; width:263px;}

.dfDateControl input { width: 75px;}

.dfHousenumber ul { min-height:27px; height:auto !important; height:27px; }
.dfHousenumber .dfInput { width:auto; }
.dfHousenumber .dfInput .dfLabelBefore { width:auto;}
.dfHousenumber .dfInput input { width:40px;}

.dfLabelBefore {float: left; margin-left: 10px; margin-right: 3px;}
.dfLabelAfter {float: left; margin-left: 1px; margin-right: 5px; width:auto !important;}
.dfReadonlyItem {float: left; margin-right: 5px;}
.dfRows .error {clear:both; }

.dfTooltip {float: left;}

.dfUploadIframe {width: 450px; border: none; margin: 0px; padding: 0px; display: block; }
.dfUploadImage {border: 1px solid #000 !important; margin-bottom: 5px; display: block;} 
.dfUploadChange {width: 150px; margin-right: 15px;}
.dfUploadDelete {}
.dfUploadFile {margin-top: 10px;}
.dfUploadSend {}

.dfUploadImagePreview {border: 1px solid #000 !important; margin-bottom: 5px;}

.dfYouTubePreview {float: left; clear: both; border: solid 1px #000;}

.dfWatermark, .watermarked {color: #a0a0a0;}

#dfImageUploader  { font-size:14px; }
.dfUploadSend { 
	background: url(btn_send.gif) no-repeat center top; 
	display:block;
	width: 109px;
	height: 20px; 
	text-align:center;
	padding-right: 35px;
	padding-left: 35px;
	padding-top: 5px;
	color: #920088;
	text-decoration:none;
	font-size:12px;
	margin: auto;
	font-weight:bold;
}

.dfUploadSend:hover {
	background-position: center bottom;
	color:#fff;
	text-decoration:none;
}

.dfUploadChange { 
	background: url(http://www.kia.fr/img/btn_previous.gif) no-repeat center top; 
	display:block;
	width: 129px;
	height: 20px; 
	text-align:center;
	padding-right: 15px;
	padding-left: 35px;
	padding-top: 5px;
	color: #920088;
	text-decoration:none;
	font-size:12px;
	margin: auto;
	font-weight:bold;
	float:left;
}

.dfUploadChange:hover {
	background-position: center bottom;
	color:#fff;
	text-decoration:none;
}

.dfUploadDelete { 
	background: url(http://www.kia.fr/img/btn.gif) no-repeat center top; 
	display:block;
	width: 109px;
	height: 20px; 
	text-align:center;
	padding-right: 35px;
	padding-left: 35px;
	padding-top: 5px;
	color: #920088;
	text-decoration:none;
	font-size:12px;
	margin: auto;
	font-weight:bold;
	float:left;
}

.dfUploadDelete:hover {
	background-position: center bottom;
	color:#fff;
	text-decoration:none;
}
.dfUploadImage { }


.error { line-height:1.8em; clear:both;}


.ajax__calendar_days thead tr { background-color: #B30005;}
/*
.ajax__calendar_container {padding:4px;position:absolute;cursor:default;width:170px;font-size:11px;text-align:center;font-family:tahoma,verdana,helvetica;}
.ajax__calendar_body {height:139px;width:170px;position:relative;overflow:hidden;margin:auto;}
.ajax__calendar_days, .ajax__calendar_months, .ajax__calendar_years {top:0px;left:0px;height:139px;width:170px;position:absolute;text-align:center;margin:auto;}
.ajax__calendar_container TABLE {font-size:11px;}
.ajax__calendar_header {height:20px;width:100%;}
.ajax__calendar_prev {cursor:pointer;width:15px;height:15px;float:left;background-repeat:no-repeat;background-position:50% 50%;background-image:url(WebResource.axd?d=x6lt9HfG5Si8NZjMNt1DLcY6US8hUl3G4muzIFtahMQFZTbwxJ00qsx5N8jeAW90ZvGxZ6SJJh48yx62JKItzQ2&t=633053122925312500);}
.ajax__calendar_next {cursor:pointer;width:15px;height:15px;float:right;background-repeat:no-repeat;background-position:50% 50%;background-image:url(WebResource.axd?d=x6lt9HfG5Si8NZjMNt1DLcY6US8hUl3G4muzIFtahMQFZTbwxJ00qsx5N8jeAW90HZemRms4wXOo1BZWTwWtNQ2&t=633053122925312500);}
.ajax__calendar_title {cursor:pointer;font-weight:bold;}
.ajax__calendar_footer {height:15px;}
.ajax__calendar_today {cursor:pointer;padding-top:3px;}
.ajax__calendar_dayname {height:17px;width:17px;text-align:right;padding:0 2px;}
.ajax__calendar_day {height:17px;width:18px;text-align:right;padding:0 2px;cursor:pointer;}
.ajax__calendar_month {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}
.ajax__calendar_year {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}

.ajax__calendar .ajax__calendar_container {border:1px solid #646464;background-color:#ffffff;color:#000000;}
.ajax__calendar .ajax__calendar_footer {border-top:1px solid #f5f5f5;}
.ajax__calendar .ajax__calendar_dayname {border-bottom:1px solid #f5f5f5;}
.ajax__calendar .ajax__calendar_day {border:1px solid #ffffff;}
.ajax__calendar .ajax__calendar_month {border:1px solid #ffffff;}
.ajax__calendar .ajax__calendar_year {border:1px solid #ffffff;}

.ajax__calendar .ajax__calendar_active .ajax__c`alendar_day {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.ajax__calendar .ajax__calendar_active .ajax__calendar_month {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.ajax__calendar .ajax__calendar_active .ajax__calendar_year {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}

.ajax__calendar .ajax__calendar_other .ajax__calendar_day {background-color:#ffffff;border-color:#ffffff;color:#646464;}
.ajax__calendar .ajax__calendar_other .ajax__calendar_year {background-color:#ffffff;border-color:#ffffff;color:#646464;}

.ajax__calendar .ajax__calendar_hover .ajax__calendar_day {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_month {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_year {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}

.ajax__calendar .ajax__calendar_hover .ajax__calendar_title {color:#0066cc;}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_today {color:#0066cc;}
*/

/* <UCRT> */

.dfUCRT { font-family:Arial, Verdana,Helvetica; color:#000; font-size:13px;  }
.dfUCRT fieldset { padding-left:20px; margin-bottom:10px; padding-bottom:5px;  background: url('bgContentHeaderSplitter.gif') repeat-x left bottom; } /* padding-bottom:20px */
.ds-form-content .dfUCRT fieldset {padding-left:20px;}
.dfUCRT #dfBrochure_group0 { height:140px; }
.dfUCRT fieldset.dfShowLegend legend { display:block; font-size:13px; color:#000; margin-bottom:13px; }
.dfUCRT .dfRows li { display:block; margin-bottom:8px;  float:left; width: 246px; min-height:48px; height:auto !important; height:52px; }
.dfUCRT .dfRows li label { font-size:11px; line-height:12px;}
.dfUCRT .dfRows li .dfLabel { width:auto; clear:none; }
.dfUCRT .dfRows li .dfMandatory { width:auto; font-size:12px; line-height:8px; padding-left:5px; padding-top:2px; }
.dfUCRT .dfRows li .dfControl  { width: 248px; clear:both; }
.dfUCRT .dfRows li .dfControl ul {  margin-bottom:2px !important; width: 243px; }
.dfUCRT .dfRows li .dfControl ul li { width:243px; height:auto !important; min-height: 1px !important; margin:0px;}
.dfUCRT .dfRows li .dfControl ul li.dfInput input { width:235px; font-size:14px;} 
.dfUCRT .dfRows li .dfControl ul li.dfTextarea textarea { width:235px; font-size:12px;} 
.dfUCRT .dfRows li .dfControl ul li.dfRadiobuttonList label { width:auto; padding-top:5px; margin-right:10px; line-height:8px; height:12px;}
.dfUCRT .dfRows li .dfControl ul li.dfRadiobuttonList input {  height:13px !important; padding-bottom: 10px !important;  margin-top:0px; }
.dfUCRT .dfRows li .dfControl ul li.dfCheckboxList label { width:auto; padding-top:5px;padding-bottom:2px; margin-right:10px; }
.dfUCRT .dfRows li .dfControl ul li.dfCheckboxList input {  height:15px !important;  }
.dfUCRT .dfRows li .dfControl ul li.dfSelect select { width:239px; font-size:12px;} 

.dfUCRT .dfRows li .dfControl ul li.dfRadiobuttonList .dfCheckboxListRows label,
.dfUCRT .dfRows li .dfControl ul li.dfCheckboxList .dfCheckboxListRows label { width: 208px;  }

.dfUCRT .dfRows .dfOptin .dfControl ul li, 
.dfUCRT .dfRows .dfContactOptin .dfControl ul li, 
.dfUCRT .dfRows .dfOptin, 
.dfUCRT .dfRows .dfContactOptin   { width:490px !important; min-height:0px !important; /*position:relative;*/ }
/*.dfUCRT .dfRows .dfOptin .dfMandatory, .dfUCRT .dfRows .dfContactOptin .dfMandatory  , .dfUCRT .dfRows .dfContactOptin .dfMandatory  { position:absolute;height:0px; display:none;} */
.dfUCRT .dfRows .dfContactOptin .dfLabel { display:none;}
.dfUCRT .dfRows .dfContactOptin .dfMandatory  { float:left; line-height:16px; padding-right:3px;}
.dfUCRT .dfRows .dfContactOptin .dfControl  { float:left; clear:right;}
.dfUCRT .dfRows .dfContactOptin .dfControl  ul li.dfCheckboxList span label { width:455px !important; }

.dfUCRT .dfRows .dfOptin .dfControl ul li.dfCheckboxList label,
.dfUCRT .dfRows .dfContactOptin .dfControl ul li.dfCheckboxList label { width:455px !important; }
.dfUCRT .dfRows .dfOptin .dfControl .error,
.dfUCRT .dfRows .dfContactOptin .dfControl .error { padding-left: 25px;}
.dfUCRT .dfRows .dfSubOptin  { padding-top:5px;}
.dfUCRT .dfRows .dfSubOptin .dfControl  { margin-left: 37px; margin-bottom:10px;  }
.dfUCRT .dfRows .dfSubOptin .dfLabel {margin-left:40px;}
 
.dfUCRT .dfRows li .dfControl ul li.dfRadiobuttonList .dfCheckboxListRows label  { line-height:8px; }

.dfUCRT .dfRows li .dfControl .error { line-height:12px;font-size:10px; padding-bottom:10px;}

.dfUCRT .dfRows li.dfStreet .dfControl ul .dfInput { width:auto;}
.dfUCRT .dfRows li.dfStreet .dfControl ul .dfInput input { width:170px; }
.dfUCRT .dfRows li.dfStreet .dfControl ul .dfInput input.dfStreetNo { width:25px;}
.dfUCRT .dfRows li.dfStreet .dfControl ul .dfInput .dfLabelBefore { width:auto; padding-top:7px; margin:0px 3px ;}

.dfUCRT .dfRows li.dfPostcode { width:67px;}
.dfUCRT .dfRows li.dfPostcode .dfControl,
.dfUCRT .dfRows li.dfPostcode .dfControl ul,
.dfUCRT .dfRows li.dfPostcode .dfControl ul li { width:64px;}
.dfUCRT .dfRows li.dfPostcode .dfControl ul li input { width:60px;}
.dfUCRT .dfRows li.dfCity { width:170px;}
.dfUCRT .dfRows li.dfCity .dfControl,
.dfUCRT .dfRows li.dfCity .dfControl ul,
.dfUCRT .dfRows li.dfCity .dfControl ul li { width:160px;}
.dfUCRT .dfRows li.dfCity .dfControl ul li input { width:168px;}

.dfUCRT .dfRows li.dfPhone .dfControl ul li { width:auto;}
.dfUCRT .dfRows li.dfPhone .dfControl ul .dfInput input { width:144px; }
.dfUCRT .dfRows li.dfPhone .dfControl ul .dfInput input.dfPhoneType { width:50px;}
.dfUCRT .dfRows li.dfPhone .dfControl ul .dfSelect select { min-width: 87px; width:87px; margin-top:4px !important;}

.dfUCRT .submitButton { display:block; width: 117px; height:20px; padding-top:2px;background:url('btn_send.gif') no-repeat center top; text-align:center; color:#ffffff; font-weight:bold; font-size:12px; margin:0px auto;  }
.dfUCRT .submitButton:hover { text-decoration: none; color:#ffffff;}

.dfUCRT .dfRows li.skipCol { padding-right:200px; /*min-height:0px !important; */ }

.dfUCRT .dfRows li.dfDateDropDown .dfControl ul { display:block;  min-height:20px; height:auto !important; height:20px;}
.dfUCRT .dfRows li.dfDateDropDown .dfControl ul li.dfSelect  { min-width:10px; width:auto !important; width:10px;}
.dfUCRT .dfRows li.dfDateDropDown .dfControl ul li.dfSelect select { min-width:10px; width:auto !important; width:77px;}
.dfUCRT .dfRows li.dfDateDropDown .dfControl ul li.dfSelect select option { padding-right:10px;}
.dfUCRT .dfRows li.dfDateDropDown .dfControl ul li.dfInput { width:45px;}
.dfUCRT .dfRows li.dfDateDropDown .dfControl ul li.dfInput input { min-width:10px; width:40px;}

.dfUCRT .dfRows li.dfPhoneSelectType .dfControl ul .dfInput { width: 160px; padding-right:10px;}
.dfUCRT .dfRows li.dfPhoneSelectType .dfControl ul .dfInput input { width: 160px;}

.dfUCRT .dfRows li.dfPhoneSelectType .dfControl ul .dfSelect { width: 70px;}
.dfUCRT .dfRows li.dfPhoneSelectType .dfControl ul .dfSelect select { min-width:70px; width:auto !important; width:70px; }

a.dfConfigSubmit, .dfUCRT a.dfSubmit, .dfUCRTold a.dfSubmit { margin-left:210px;display:block; color:#ffffff;font-weight:bold; font-size:10px; padding: 4px 0 10px 0; text-align:center; margin-top:21px; width:115px; height:16px; background:url('btn_brochure_dynform.gif') no-repeat center top; }
a.dfConfigSubmit { float:left; margin-right:10px; margin: 20px 0 0 100px; }

.dfUCRT .dfRows li.dfDeliveryMethod { margin-bottom:10px !important; width:150px !important; overflow:hidden;}
.dfUCRT .dfRows li.dfDeliveryMethod span.dfMandatory, .dfUCRT .dfRows li.dfDeliveryMethod label.dfLabel { height:0px; }
.dfUCRT .dfRows li.dfHidden { display:none !important; }
.dfUCRT .dfRows .dfControl .dfRadiobuttonList .dfGender { min-height:15px; height:auto !important; height:15px;  }

.dfUCRT .dfFieldset99 { float:left; height:140px; }
.dfUCRT .dfFieldset99 .dfRows .dfControl ul li { width:70px; margin-right:9px !important; }
.dfUCRT .dfFieldset99 .dfRows .dfControl ul li a .modelname { color:#000; margin-left:15px; font-size:11px; }
.dfUCRT .dfFieldset99 h2 { margin:0px; font-size:13px; margin-bottom:13px; color: #000000; display:block; }
.dfUCRT .dfFieldset99 .dfRows li .dfMandatory { height:0px; }

.dfUCRT .dfContactOptin .dfControl .error { display:block !important; }
.dfUCRT .dfRows .dfContactOptin .dfControl { width:400px !important; }

/* popup dfUCRTold */
#col2 .dfUCRTold fieldset { padding-left:20px;  margin-bottom:10px; padding-bottom:10px; background: url('bgContentHeaderSplitter.gif') repeat-x left bottom !important; }
#col2 .dfUCRTold fieldset .dfRows div li, #col2 .dfUCRTold fieldset .dfRows div ul, #col2 .dfUCRTold fieldset .dfRows .dfControl { width: 350px }
#col2 .dfUCRTold h1, #popupFormBrochure #col2 .dfUCRTold p { margin-left:20px; padding-top:10px; }
#popupFormBrochure #col2 .ds-form-content { width:534px; }
#popupFormBrochure #col2 { padding:0px }
#popupFormBrochure #col2 .contentHeaderSplitter { display:none; }
#popupFormBrochure #col2.content ul.dfRows li { float:left; }
#col2 .dfUCRTold .dfRadiobuttonList label { width:auto; line-height:1.8em; margin-left:0px;margin-right:10px; }
#col2 .dfUCRTold .dfHousenumber .dfControl li.dfInput { width:auto; }
#col2 .dfUCRTold .dfHousenumber .dfInput .dfLabelBefore { margin-right:10px; }
#col2 .dfUCRTold .confirmMessage { padding:0px; margin: 10px 0 10px 10px; }
#col2 .dfHousenumber ul { margin-bottom:0px; }
#col2 .dfUCRTold fieldset .toelichting { margin-left:0px !important; margin-bottom:5px; }
#popupFormBrochure .dfUCRTold #persoonlijk input.normal, #popupFormBrochure .dfUCRTold #persoonlijk input.medium {  padding-top:3px !important; }
#col2.content .dfUCRTold ul { margin-bottom:0px; }
#col2 .dfUCRTold .dfContactOptin .dfLabel { width:0px; }

/* embed dfUCRTold */
#col2 .ds-form-content h1 { margin-top:0px;}
#col2 .ds-form-content h1, #col2 .ds-form-content p {  margin-left:20px;  }
#col2 .UCRTSplitter .contentHeaderSplitter { margin-bottom:0px; height:0px; }

div#dealersearch .ds-directions-form #ds-start-address { font-size:1.2em;  }
div#dealersearch .ds-directions-form a.dfSubmit { color:#ffffff; display:block; margin-top:3px; height:16px; background:url('btn_brochure_dynform.gif') no-repeat center top;}
div#dealersearch #ds-screen-directions .subnav, div#dealersearch #ds-screen-map-view .subnav { margin-top:10px }

/* print or mail configuration form */
#contentPrintStep1, #contentRegister1 {background:#FFFFFF;margin:0;padding-bottom:20px;}
#contentPrintStep1 .close, #contentRegister1 .close {display:block;float:right;text-transform:uppercase;color:#7D7D7D;margin-top:2px;padding-top:1px;padding-right:15px;font-size:1.1em;line-height:20px;background: transparent url('galleryImageClose.gif') no-repeat right top;}
#contentPrintStep1 .close:hover, #contentRegister1 .close:hover {text-decoration:none;}

#contentPrintStep1 fieldset, #contentRegister1 fieldset {margin:5px 20px;}
#contentPrintStep1 .dfRows li, #contentRegister1 .dfRows li {display:block;padding-bottom:5px;}
#contentPrintStep1 input, #contentRegister1 input {height:18px;line-height:18px;font-size:1.1em;}
#contentPrintStep1 .dfRadiobuttonList input, #contentRegister1 .dfRadiobuttonList input {height:auto;} 
#contentPrintStep1 .dfRadiobuttonList label, #contentRegister1 .dfRadiobuttonList label {padding:2px 10px 0 0;}
#contentPrintStep1 label, #contentPrintStep1 .dfMandatory,
#contentRegister1 label, #contentRegister1 .dfMandatory {line-height:1.1em ;width:auto;}
#contentPrintStep1 .buttonContainer, #contentRegister1 .buttonContainer {display:block;height:22px;text-align:center;}
#contentPrintStep1 .buttonContainer .dfConfigSubmit, #contentRegister1 .buttonContainer .dfConfigSubmit {display:inline-block;width:117px;height:22px;line-height:18px;margin:auto;text-align:center;color:#FFFFFF;font-weight:bold; font-size:1.3em;background:transparent url('btn_send.gif') no-repeat top left;}

#popupFormRegister .dfRows div li, #popupFormRegister .dfControl  {  }
#popupFormRegister .dfSelect select { float:left; }
#popupFormRegister .dfSelect select { width:80px; }
#popupFormRegister legend { display:block;font-weight:bold;margin:0;padding:0; }