﻿/****************************************************/
/*  GLOBAL Stylesheet Kia Europe					*/
/*  june 2007                                  		*/
/*  created by: Booleanpark - W.L.                	*/     
/*                                                  */
/****************************************************/


/* GLOBAL *************************************/

body 		{font-size:62.5%; font-family: Tahoma, Arial, Helvetica, sans-serif;  color: #FFFFFF; margin: 0px; padding: 0px 0px 100px 0px; }
td 			{vertical-align: top;} 
img 		{border: 0px;}
form 		{margin: 0px;padding:0px;}
INPUT,  TH, TD {font-size:1.0em;}
.colend {clear: both; display: block; height: 1px; line-height: 1px; } /* dit zorgt voor een goede hoogte van de container bij floating divs*/
/* STRUCTURE-GRID ****************************/
#outline  {	font-size:1.1em;position: absolute;	left: 0px;	width: 100%; display: block; }
#container   { margin-left: -490px;left: 50%;position: absolute; width: 980px;  }

#saveEnergy { position:absolute; background-color:#000; z-index:99999; height:0%; width:0%; overflow:hidden;}
#saveEnergy #startEngine { margin-left:50px; padding-top:20px;font-size:13px; }
#dealerprint {display:none;}

#header { height: 184px; width: 980px; position:relative; z-index:998;}
#header #experienceImage { position:absolute;z-index:-1; width:980px; height:184px;overflow:hidden;  }
#header #bgLogo { display:block; position:absolute;z-index:999; background: url('logo.png') no-repeat left top; height:147px; width:284px;left:0px; top:0px; }
#header #bgGradHeaderRight { position:absolute;z-index:-1; background: url('bg_grad_header_right.png') no-repeat right top; height:184px; width:546px;margin-left:434px;}
#header h1 { position:absolute; right:20px; top:70px;font-size:24px; color: #ffffff; text-align:right;}

#header .topNavigation { position:absolute; left:284px; top:3px; width:680px;list-style:none none; }
#header .topNavigation li { display:block; float:left; position:relative;  }

#header .topNavigation li a { display:block; position:relative; min-width:0px; padding-left:2px;padding-right:1px; height:12px;  color:#4C4C4C;background: url('btn_topNavigation_center.png') repeat-x center bottom;text-align:center; font-size:11px; font-weight:bold; margin-left:16px; }
#header .topNavigation li a.cufon { font-size: 10px; padding-top:2px;  }


#header .topNavigation li.isIE a.cufon { padding-top:1px; padding-bottom:1px;} 

#header .topNavigation .hover { color: #ffffff;}

#header .topNavigation li a:hover { background-position:center center;}
#header .topNavigation li a.noLink:hover { cursor:default; }

#header .topNavigation li a.selected,
#header .topNavigation li.selected a  { background-position:center top; color: #b3000f;}

#header .topNavigation  a span.topNavLeft,
#header .topNavigation  a span.topNavRight { display:block;  position:absolute;top:0px; width:10px; height:14px;background-image:url('btn_topNavigation.png'); background-repeat:no-repeat; }
#header .topNavigation  a span.topNavLeft { background-position:left bottom;left:-10px; }
#header .topNavigation  a span.topNavRight { background-position:right bottom;right:-10px; }
#header .topNavigation  a:hover span.topNavLeft { background-position:left top; }
#header .topNavigation  a:hover span.topNavRight { background-position:right top; }

#header .topNavigation li a:hover span.topNavLeft { background-position:left center;}

#header .topNavigation li a.selected span.topNavLeft,
#header .topNavigation li.selected a span.topNavLeft  { background-position:left top;}

#header .topNavigation li a:hover span.topNavRight { background-position:right center;}

#header .topNavigation li a.selected span.topNavRight,
#header .topNavigation li.selected a span.topNavRight { background-position:right top;}

/*foldout menu*/	

#header .topNavigation .topNavigationSubMenu { z-index:999; width:187px; left:0px;position:absolute;  top:15px;  margin-left:6px; }
#header .topNavigation .topNavigationSubMenu .topNavigationSubMenuInner { background: url('bg_topNavSub_Left.png') no-repeat left top;}
#header .topNavigation .topNavigationSubMenu ul { background: url('bg_topNavSub_Right.png') no-repeat right top; padding-top:10px; margin-left:8px;}

#header .topNavigation .topNavigationSubMenu li { float:none; position:relative; }
#header .topNavigation .topNavigationSubMenu li .modelSnippet { color: #000; padding:15px 5px 15px 10px;height:241px; width:211px; background:url('bg_modelsnippet.png') no-repeat center center; position:absolute; right:-226px;}
#header .topNavigation .topNavigationSubMenu li .modelSnippet h3 { color: #626262; font-size: 26px; margin-bottom:13px}
#header .topNavigation .topNavigationSubMenu li .modelSnippet a { color: #626262; font-size: 12px; background: Transparent url('arrow_modelsnippet.gif') no-repeat left 4px;border-width:0px; padding-left:10px}
#header .topNavigation .topNavigationSubMenu li .modelSnippet a:hover { background-color: Transparent; }
#header .topNavigation .topNavigationSubMenu li .modelSnippet img { margin-top:25px;}

#header .topNavigation .topNavigationSubMenu li a { min-width: 0; height:auto; background-color:#f5f5f5; background-image: none; text-align:left; border-width:1px; border-style:solid; border-color: #fafafa #dadada #dadada #dadada;margin-left:0px; padding:3px 6px; font-size:10px;  width:165px;}
#header .topNavigation .topNavigationSubMenu li a.cufon { margin-top:0px;}
#header .topNavigation .topNavigationSubMenu li a:hover { background-color:#b3000f;  }

#header .topNavigation .topNavigationSubMenu li .subMenuFooter { display:block; height:9px; background-color:#f5f5f5; background-image: none; text-align:left; border-width:1px; border-style:solid; border-color: #fafafa #dadada #dadada #dadada;margin-left:0px; padding:0px 6px; font-size:1px; line-height:1px;  width:165px;}

#header #tabs { position:absolute; z-index:-1; top:160px;left:20px; height:24px; width: 940px; border-bottom:1px solid #f5f7fa;}
#header #tabsInner { width:938px; background: url('bg_tabscontainer.png') repeat center center;height:24px; margin:0px 1px; }
#header .tabCornerLeft,
#header .tabCornerRight { width:1px; height:23px; background: url('bg_tabscontainer.png') repeat center center; position:absolute; top:1px; }
#header .tabCornerLeft { left:0px; }
#header .tabCornerRight { right:0px; }

#header #tabs ul { list-style:none none; }
#header #tabs ul li { display:block; float:left; height:24px; border-right:1px solid #cccccc;  }
#header #tabs ul li a { font-size: 12px;display:block;  min-width: 95px; height:14px; padding:7px 10px 3px 10px; text-align:center; text-transform:uppercase; font-weight:bold; color:#4c4c4c;  }

#header #tabs ul li a.hover {  color: #b3000f; }
#header #tabs ul li a.selected,
#header #tabs ul li.selected a  { background-image:none;background-color:#fff; color: #b3000f; }

#contentContainer #content #tabs { position:absolute; z-index:998; top:-24px;background: url('bg_tabscontainer.png') repeat center center; height:24px; width: 940px; border-bottom:1px solid #f5f7fa;}
#contentContainer #content #tabs ul { list-style:none none; }
#contentContainer #content #tabs ul li { display:block; float:left; height:24px; border-right:1px solid #cccccc;  }
#contentContainer #content #tabs ul li a { font-size: 12px;display:block;  min-width: 95px; height:14px; padding:7px 10px 3px 10px; text-align:center; text-transform:uppercase; font-weight:bold; color:#4c4c4c;  }

#contentContainer #content #tabs ul li a.hover {  color: #b3000f; }
#contentContainer #content #tabs ul li a.selected,
#contentContainer #content #tabs ul li.selected a  { background-image:none;background-color:#fff; color: #b3000f; }
#contentContainer #content #col2 p { padding: 0px; }
#contentContainer #configSwf {margin-left:20px;  } 
#contentContainer #kia2009Specifications {margin-left:20px;  } 

#logo { display:block; width:184px;	height: 50px; }

#footerContainer { }
#footerContainer #footerSpacer { width:940px; margin:0px 20px; min-height:15px; height:auto !important; height:15px; background: url('bg_tabscontainer.png') repeat center center; border-top:1px solid; }
#footerContainer #footnote { width:940px; padding:0px 20px; min-height:21px; height:auto !important; height:21px;color:#ffffff; font-size:11px; line-height:19px; text-align:center; background: url('bg_footer.png') no-repeat left bottom; }
#footerContainer #footerNavigation { text-transform:uppercase;  width:980px; background-color:#ffffff; min-height:22px; height:auto !important; height:22px;}
#footerContainer #footerNavigation #languageSelect { position:relative;float:left; padding-top:5px; margin:0px 10px 0px 10px; z-index:1001;  }
#footerContainer #footerNavigation #languageSelect ul { position:absolute;list-style:none none; bottom:18px; background:url('bg_language.gif') no-repeat center top;}
#footerContainer #footerNavigation #languageSelect ul li { display:block; }
#footerContainer #footerNavigation #languageSelect ul li a { display:block; color: #666666; width:79px; height:10px;padding:4px 4px 4px 15px;font-size:10px; font-weight:bold; margin:4px 0px;  }
#footerContainer #footerNavigation #languageSelect ul li a:hover { color: #b3000f; text-decoration: none; }

#footerContainer #footerNavigation #languageSelect a.currentLanguage { display:block; background:url('bg_languageCurrent.gif') no-repeat center -25px; width:79px; height:10px;padding:4px 4px 4px 15px ; color: #666666; font-size:10px; font-weight:bold;} 
#footerContainer #footerNavigation #languageSelect a.currentLanguage:hover { color: #666666; text-decoration: none; }
#footerContainer #footerNavigation #languageSelect.hover a.currentLanguage { background-position: center 0px;}

#footerContainer #footerNavigation ul#footerNavLinks { float:left; list-style:none none; padding-top:8px; }
#footerContainer #footerNavigation ul#footerNavLinks li { display:block; float:left; margin-right:10px;}
#footerContainer #footerNavigation ul#footerNavLinks li a { display:block; color: #666666; font-size:10px; font-weight:bold;  }
#footerContainer #footerNavigation ul#footerNavLinks li a:hover { color: #b3000f; text-decoration: none; }

#footerContainer #footerNavigation #copyright { float:right; color: #666666;font-weight:bold; padding-top:8px;}
#footerContainer #footerNavigation #copyright a { color: #666666;  font-size:10px; }
#footerContainer #footerNavigation #copyright a:hover { color: #b3000f; text-decoration: none; }


#footerOutline {
	font-size:1.1em;
	width: 980px;
	margin: 0px;
	padding: 0px;
	background-color:#70733c;
}

#footer 	{
	min-height:30px;
	height: auto !important;
	height:30px;
	text-align:right; 
	width: 940px;	
	margin: 0px 20px; 
	padding: 0;
	}



/* toolBox main*/
/* ************************************* */

.toolboxMiddle ul 	{ width:172px; border-top:1px solid #d7d7d7; margin: 0px; padding: 0px; display: block;}
.toolboxMiddleTools li 	{list-style-type: none;line-height:18px; min-height:19px; height:auto !important; height:19px;border-bottom:1px solid #d3d3d3; padding-left:5px;}
.toolboxMiddleDownloads ul { padding-top:5px !important;}
.toolboxMiddleDownloads li 	{list-style-type: none;line-height:18px; }
.toolboxMiddleDownloads li a {background:url('icon_download.gif') no-repeat left 5px; padding-left:20px; margin-left:6px; display:inline-block; font-size:12px; color: #262626; font-weight:normal;}

.toolboxMiddleDownloads li a.delete {background:url('icon_delete.gif') no-repeat left 4px !important; margin-left: 1px !important; width:11px; height:13px; float:left; display:block; padding:0px; margin-right:10px;}

.toolboxMiddleDownloads .downloadItem {list-style-type: none;line-height:18px; padding-bottom:2px;min-height:18px; height:auto !important; height:18px; border-bottom:1px solid #d3d3d3; padding-left:5px;width:166px; overflow:hidden;}

.toolboxMiddleTips ul { padding-top:5px !important;}
.toolboxMiddleTips li 	{ list-style-type: none;line-height:18px; }
.toolboxMiddleTips li a { margin-left:6px; display:inline-block; font-size:12px; color: #262626; font-weight:normal;}

.toolboxMiddle .downloadicon { margin-right:5px; padding-top:2px; }

.toolbox a 			{ color: #000000; }
.toolbox a:hover 	{ color: #B3000F; }

/* POPUP */
#popupwrapper,#popupwrapperNoFlash 	{ height:100%;top:0px;display: none;z-index: 9999; float:left;position: absolute; left:0px; width: 100%; background: #fff; opacity: .6;filter: alpha(opacity=60);}

#popupWrapper3{ height:100%;top:0px;display: none;z-index: 9998; float:left;position: absolute; left:0px; width: 100%; background: #000; opacity: .6;filter: alpha(opacity=60); }

#popup,#popupNoFlash { 
	margin-left: -150px;left: 50%;
	display: none;
	z-index: 9999; 
	position: absolute;
	padding: 20px 5px 5px 5px; 
	text-align:left;
	background: #f0f0f0; 
	border: solid 1px #ccc;
	color: #3a4e5f;
}

.popup .close {	
	font-size: 1.2em;
	color: #3a4e5f;
	background: url('close.gif') no-repeat right top;
	display:block;
	position:absolute;
	padding-right:20px;
	padding-top:3px;
	margin-right:2px;
	height: 20px;
	top:0px; 
	right:1px;
	cursor:pointer; 
}
	
.swfpopup {
	text-align:left !important;
	width:300px;
	top: 100px;
	min-height:200px;
	height:auto !important;
	height:200px;	
	font-size:1.2em;
}
.swfpopup h3 {
	margin-left:10px;
}
/* TEMPLATE FORMS */
fieldset		{border: none;padding: 0px;}
legend			{display: none;  margin: 0; padding: 0; font-weight: bold;}
* html legend	{margin-left: -6px;}

.radio 			{ display:block;float:left;width: 270px; margin:3px 0px 8px 0px;padding-bottom:1px;}
.radio input 	{ margin-top: 2px !important;width: auto;  margin-right: 2px;}
.radio label	{ display: inline; float:none;line-height: 14px; margin-right:5px;}

.optin			{ display:block;float:left;width: 250px; margin:0px 0px 8px 0px;  }
.optin input 	{ float:left; clear:none;margin-top: 2px !important;width: auto;  margin-right: 2px;}
.optin label	{ float:left; clear:none;line-height: 16px;margin-top: 2px;display:block;width:215px; margin-left:5px;}
.optinDE label  { width:215px !important;}

label			{ width: 130px; display: block; float: left; clear: left; line-height: 24px; font-size:12px; }

textarea		{ width: 240px; height: 100px;margin: -15px 0px 10px 230px !important; }
input 			{ margin-top: 4px !important; margin-bottom: 0px !important; }
select			{ margin-top: 4px !important; margin-bottom: 2px !important; font-size:1.0em;}

input.modelTypeSelect	{width: 140px;}
.modelTypeImage {vertical-align:middle; margin-bottom:7px;}

input.normal,textarea.normal,select.normal	{width: 240px;}
textarea.normal	{width: 240px; margin:0px !important;}
input.medium,textarea.medium,select.medium	{width: 130px;}
input.short,select.short 					{width: 45px;}
.verplicht		{ float: left; width: 30px; text-align: center; color: #b81116; margin-top:5px;}
.verplichtDE	{ color: #b81116; line-height:24px;}
.verplichtSE	{ color: #b81116; line-height:24px;}
.verplichtSK	{ color: #b81116; line-height:24px;}

.uploadText { font-size:0.8em;}

p.toelichting			{ font-size: 90%;  margin: 0px; padding:5px 0px;width:450px;}

.validationSummary { color: #b81116 !important; font-size:0.9em;}
.validationSummary ul { margin:3px 5px 5px 35px;}
.validationSummary li { color: #b81116 !important;font-weight:normal; list-style-type:disc;line-height:1.5em;}
/*input,textarea,select	{margin: 2px 0px; float: left; }
input.normal,textarea.normal,select.normal	{width: 260px;}
input.medium,textarea.medium,select.medium	{width: 140px;}
input.short,select.short 					{width: 40px;}
select					{font-size: 100%; font-size: 8pt;}
select.dealers			{width:260px;}
.radio					{float: left; clear: none; width: auto;}
label.radio				{line-height: 20px; margin: 0px 4px 2px 3px;}
* html label.radio		{margin: 2px 4px 2px 3px;}
p.toelichting			{font-size: 90%;  margin: 15px 0;}
.error					{color: #B81116; font-size: 90%; display: block; clear: both; margin: -1px 0 10px 0; padding-left: 310px; background: transparent url(../img/icon_formerror.gif) no-repeat 300px 0px;}
img.button				{margin-top: 0px;}
div.radio				{margin: 15px 0px 0px -4px;}
div.radio input			{}
div.radio2				{margin: 5px 4px 2px 3px;}
div.radio2 label		{font-size: 90%; line-height: normal; width: 320px; margin: 0; clear: none;}
*/

.checkboxlist {display:block;float:left;}
.checkboxlist label { clear: right; width:auto; padding:2px 0 0 5px;cursor:pointer;}
.checkboxlist input { float:left;clear: left; }

/* KIA DE Lpg form */
.rood { color:#f00; }
.groen { color:#0c0; }

/* KIA NL Pro_cee'd driving challenge */
.ReadOnlyFormField { width: 240px; }