/*  
Theme Name: Limau Orange
Theme URI: http://www.blogohblog.com/
Description: Limau Orange is a 3 columns Wordpress theme. I love to hear of my work being used :). This work is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 License<;/a>. This means you may use it for any purpose, and make any changes you like. Just leave my Bob link under your footer :)
Version: 0.2
Author: Bob 
Author URI: http://www.blogohblog.com/

This theme was designed and built by Bob of &lt;a href="http://www.blogohblog.com/">Blog Oh Blog</a> based on the famous <a href="http://binarybonsai.com/kubrick/"&gt;Kubrick</a>.
*/

*{
margin:0;
padding:0;
border:none;
}

html,body { 
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size:10px;
  background: #353535 url(bg.jpg) repeat-y scroll top center; 
  height:100%;
  width:100%;
}

#wrap { 
  width:890px; 
  font-family: Arial, Helvetica, sans-serif; 
  font-size:10px; 
  color:#666; 
  margin:0 auto; 
}


#page{
	background:transparent url(http://www.cargodenuit.com/images/bg_page.png) repeat-y top center scroll;
	width:890px;
	height:inherit;
	margin: 0 auto;
	padding-left:0px;
	padding-bottom:0px;
	vertical-align:bottom;
}

#page2{
	position:relative;
	background:transparent url(http://www.cargodenuit.com/images/bg_page.png) repeat-y top center scroll;
	width:564px;
	margin: 0 auto;
	padding-left:0px;
	padding-bottom:0px;
	vertical-align:bottom;
	height:240px;
}

.contenupage2{
	position:relative;
	background:transparent url(fond_pdp.jpg) no-repeat;
	width:564px;
	height:100px;
	left:-13px;
	margin: 0 auto;
	padding-left:0px;
	padding-bottom:0px;
	vertical-align:bottom;
}

#header { 
background:transparent url(bg_header.jpg) no-repeat scroll 0 0;
height:112px;
padding:0px 0 0 0px;
width:980px;
}

#header h1 {
  text-indent:-10000px; 
  margin:0; 
  padding:0; 
}

#header2 {
  text-align:center;
  margin:0; 
  padding:0; 
}

#header2 h2 {
  font-family: Arial, Helvetica, sans-serif; 
  font-size:12px; 
  color:#545454;
  margin-bottom:5px; 
}

#header h1 a { 
display:block; 
background:url(logo_header.png) no-repeat left top; 
height:111px; 
margin-left:-20px;
}

#search { 
margin-top:30px; 
float:right; 
padding:0; 
}

input#searchsubmit { 
background:#fc6; 
border:2px solid #f93; 
color:#333; 
font-size:13px; 
}

a:hover { 
text-decoration:none; 
color:#555353; 
border:none;
}


.ads { 
margin-top:10px; 
line-height:16px; 
margin-left:10px; 
float:left; 
width:510px; 
border:3px solid #f3f3f3; 
text-align:center; 
padding:10px; 
}

.ads img { 
border:0; 
text-align:center;
}

img.wp-smiley { 
border:0; 
padding:0; 
}

#footer { 
width:980px; 
margin-top:20px; 
text-align:center; 
clear:both; 
padding:10px; 
}

#footerpdp { 
bottom:10px;
text-align:center; 
clear:both; 
padding:10px; 
}

div.hr { 
height:3px; 
background:#fff url(hr.gif) repeat-x scroll center; 
clear:both; 
}

div.br { 
height:10px; 
background:#fff url(br.gif) repeat-x scroll center; 
clear:both; 
}

.alignright { 
float:right; 
} 

.alignleft { 
float:left; 
} 

.gcomment { 
border-left:none; 
vertical-align:middle; 
border-right:none; 
margin-bottom:3px; 
border-bottom:1px solid #f3f3f3; 
background-color:#F7F7F7; 
padding:3px; 
}

.gcomment cite a{
color:#f93; 
font-size:12px;
font-weight:bold;
}

.commentmetadata a{
color: #595959; 
font-size:11px;
font-weight:bold;
}

.ucomment { 
border-left:none; 
border-right:none; 
margin-bottom:3px; 
border-bottom:1px solid #f3f3f3; 
background-color:#fbfbf1; 
padding:3px; 
} 

input#submit { 
background:#ff6600; 
border:1px solid #c44e00; 
color:#fff; 
font-size:13px; 
}

ol.commentlist { 
margin:0 0 1px; 
padding:0; 
}

ol.commentlist li { 
list-style:none; 
margin:0; 
padding:13px 13px 1px; 
}

ol.commentlist li.commenthead { 
list-style:none; margin:0; 
} 

ol.commentlist li.commenthead h2 { 
margin:0; 
}

span {}

.addthis { 
float:right; clear:both; 
}

a:link,a:active,a:visited { 
text-decoration:none; 
color:#e1eb7a; 
border:none;
font-size:12px; 
}


/* SideBar LEFT
-------------------------------------------------------- */

.left{
background:#eee;
float:left;
width:140px;
height:100%;
margin-left:5px;
}

.leftTop{
height:55px;
width:100%;
margin:0px;
padding:opx;
background: url(bg_menu_top.gif) no-repeat scroll center; 
}

.leftContent{
margin:0px;
padding:0px;
background: url(bg_menu_middle.gif) repeat-y scroll center; 
}

.leftBottom{
height:10px;
width:100%;
margin:-5px 0 0px 0px;
padding:0px 0 0 0px;
background: url(bg_menu_bottom.gif) no-repeat scroll center; 
}

.leftSeparation{
background: url(leftSeparation.png) no-repeat scroll center;
height:3px;
}

.leftSeparation2{
background: url(leftSeparation2.png) no-repeat scroll center;
margin:0px 0px -5px 0px;
height:3px;
}

.leftSeparation3{
background: url(leftSeparation3.png) no-repeat scroll center;
height:3px;
margin:-5px 0px 0px 0px;
}

* html .leftSeparation2{
background: none;
margin:-5px 0px -5px 0px;
height:1px;
}

* html .leftSeparation3{
background: none;
height:1px;
margin:-5px 0px -5px 0px;
}

*+htmll .leftSeparation3{
background: none;
height:1px;
margin:-5px 0px -5px 0px;
}

*+html .leftSeparation3{
background: none;
height:1px;
margin:-5px 0px -5px 0px;
}

/*border-bottom:dashed 1px #ccc;*/

.left h2,.comments h3 { 
font-size:14px; 
 
margin:0 7px 3px; 
padding:1px 0; 
}

.left ul,.right ul { 
list-style-type:none; 
margin:0; 
padding:0; 
line-height:150%; 
font-size:11px; 
}

.left ul li,.right ul li { 
list-style-type:none; 
margin:0 0 4px; 
padding:0; 
}

.left ul li ul,.right ul li ul { 
list-style-type:square; 
margin:0; 
padding:0 3px; 
}

/* background:transparent url(images/bullet.gif) no-repeat 0 4px; padding:0 0 2px 14px;  */

.left ul li ul li,.right ul li ul li { 
list-style-type:none; 

border:0; 
margin:0; 
padding:0 0 2px 0px; 
}

.left ul li ul li ul li,.right ul li ul li ul li { 
list-style-type:none; 

border:0; 
margin:0; 
padding:0 0 2px 4px; 
}


/* border-bottom:#ccc 1px solid; */
.left ul li ul li :hover { 

}

/* border-bottom:dashed 1px #ccc;  */
.right h2,.comments h3 { 
font-size:14px; 
margin:0 7px 3px; 
padding:3px 0; 
}

.right ul,.right ul { 
list-style-type:none; 
margin:0; 
padding:0; 
line-height:150%; 
font-size:11px; 
}

.right ul li,.right ul li { 
list-style-type:none; 
margin:0 0 20px; 
padding:0; 
}

.right ul li ul,.right ul li ul { 
list-style-type:square; 
margin:0; 
padding:0 3px; 
}

.right ul li ul li,.right ul li ul li { 
list-style-type:none; 
background:transparent url(bullet.gif) no-repeat 0 4px; 
border:0; 
margin:0; 
padding:0 0 2px 14px; 
}

.right ul li ul li :hover { 
border-bottom:#ccc 1px solid;
}

div.hr hr,div.br br { 
display:none; 
}

.middle2,.middle3 { 
margin-top:10px; 
line-height:16px; 
margin-left:10px; 
float:left; 
width:237px; 
border:3px solid #f3f3f3; 
overflow:hidden; 
padding:10px; 
}


/* border-bottom:dashed 1px #ccc; */

.middle2 h2,.middle3 h2 { 
font-size:14px;
margin:0 7px 4px 0; 
padding:3px 0; 
} 

.middle2 :hover,.middle3 :hover { 
background:#fafafa; 
}

.ucomment img,.addthis img { 
border:0; 
}



/* Content
-------------------------------------------------------- */

.middle{
background:none;
float:left;
width:562px;
height:800px;
min-height:100%;
padding:0px 2px 0 10px;
}


.middle h2 { 
background:transparent url(bg_breadcrumb2.gif) no-repeat scroll 0 0;
font-size:16px; 
height:25px;
margin:0 7px 4px 0; 
padding:2px 5px 3px 8px;
color:#FFF;
}

.middle h2 a{ 
font-size:16px; 
height:25px;
color:#FFF;
}

.middle h2 a:hover{ 
color:#e1eb7a;
}

.middle h2 img{ 
margin:0px; 
padding:0px;
border:0px;
}

.middle img { 
border:4px #fff solid; 
}



/* SideBar Right
-------------------------------------------------------- */

.right{
background:#eee url(fond_droite1.jpg) no-repeat;
float:right;
width:166px;
height:100%;
margin-right:5px;
}

#clientarea{
background:#1a171b url(http://www.cargodenuit.com/images/bg_espaceClient.jpg) no-repeat;
padding-bottom:15px;
height:230px;
color:#FFFF00;
font-size:14px;
height:106px;
padding:70px 0 0 5px;
}

#clientarea .submit{
background:transparent url(http://www.cargodenuit.com/images/bt_ok.jpg) repeat scroll 0 0;
float:right;
height:30px;
margin:6px 5px 0 0;
width:29px;
}

#login, #pass {
border:1px solid #363636;
height:15px;
margin:6px 0 0 0;
padding:0 0 0 20px;
width:128px;
color:#000;
}

#login {
background:#FFFFFF url(http://www.cargodenuit.com/images/ico_login.gif) no-repeat scroll 2% 50%;
}

#pass {
background:#FFFFFF url(http://www.cargodenuit.com/images/ico_pass.gif) no-repeat scroll 2% 50%;
}


/* BLOC SUPP
------------------------------------------------------------------ */

.NewsLetterBloc{
height:90px;
width:100%;
margin-top:10px;
padding:0px;
background: url(bg_newsletter.gif) no-repeat scroll center; 
}

.NewsLetterContent{
text-align: center;
margin:2px;
padding:0px;
}

.NewsLetterContent h2 {
text-align: center;
color: #656565;
font-family: Arial, Helvetica, sans-serif;
font-size:11px;
}

.inputNews{
border: 1px solid #656565;
text-align: left;
color: #000;
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
margin-bottom:4px;
}


.submitNews{
     border:none;
     color:#fff;
     background: transparent url('bt_newsletter_ok.gif') no-repeat top left;
     width:122px;
     height:26px;
     font-size:12px;
     font-weight: bold;
}

.DigitickBloc{
height:107px;
width:100%;
margin-top:10px;
padding:0px;
background: url(bg_pub_digitick.png) no-repeat scroll center; 
}

.DigitickContent{
text-align: center;
margin:3px 3px 3px 3px;
padding:4px 0px 0px 0px;
}

.DigitickContent h2 {
text-align: center;
color: #656565;
font-family: Arial, Helvetica, sans-serif;
font-size:11px;
}


/* BLOC RIGHT
-----------------------------------------------*/


.rightTop{
height:7px;
width:100%;
margin:0px;
padding:0px;
background: url(menuDroitev1-haut.gif) no-repeat scroll center; 
}

.rightContent{
margin:0px;
padding:0px 0px 0px 0px;
background: url(menuDroitev1-mid.gif) repeat-y scroll center; 
}

.rightBottom1{
height:17px;
width:100%;
margin:-5px 0 0px 0px;
padding:0px 0 0 0px;
background: url(menuDroitev1-1-bas.jpg) no-repeat scroll center; 
}

.rightBottom2{
height:17px;
width:100%;
margin:-5px 0 0px 0px;
padding:0px 0 0 0px;
background: url(menuDroitev1-2-bas.jpg) no-repeat scroll center; 
}

.rightBottom3{
height:17px;
width:100%;
margin:-5px 0 0px 0px;
padding:0px 0 0 0px;
background: url(menuDroitev1-3-bas.jpg) no-repeat scroll center; 
}

.rightBottom4{
height:100px;
width:100%;
margin:-5px 0 0px 0px;
padding:0px 0 0 0px;
background: url(menuDroitev1-4-bas.jpg) no-repeat scroll center; 
}


.rightHeader1{
background: transparent url(bg_concours_title1.png) no-repeat scroll center;
background-position: left top;
background-repeat: no-repeat;
height: 33px;
padding:0px 0 0 0px;
margin:0px 0 0px 5px;
}

.rightHeader2{
background: transparent url(bg_concours_title3.png) no-repeat scroll center;
background-position: left top;
background-repeat: no-repeat;
height: 33px;
padding:0px 0 0 0px;
margin:0px 0 0px 5px;
}

.rightHeader3{
background: transparent url(bg_concours_title5.png) no-repeat scroll center;
background-position: left top;
background-repeat: no-repeat;
height: 33px;
padding:0px 0 0 0px;
margin:0px 0 0px 5px;
}

.rightHeader4{
background: transparent url(bg_concours_title7.png) no-repeat scroll center;
background-position: left top;
background-repeat: no-repeat;
height: 33px;
padding:0px 0 0 0px;
margin:0px 0 0px 5px;
}

.rightheaderIcon1{
  display:inline-block;
  background-position:left top;
  background-image: url('ico_news.gif');
  padding:0px 0 0 14px;
  background-repeat: no-repeat;
  min-height: 25px;
  margin: 0px 0 0 5px;
}

.rightheaderIcon2{
  display:inline-block;
  background-position:left top;
  background-image: url('ico_newsletter.gif');
  padding:0px 0 0 14px;
  background-repeat: no-repeat;
  min-height: 25px;
  margin: 0px 0 0 5px;
}

.rightheaderIcon3{
  display:inline-block;
  background-position:left top;
  background-image: url('ico_concours.gif');
  padding:0px 0 0 14px;
  background-repeat: no-repeat;
  min-height: 25px;
  margin: 0px 0 0 5px;
}

.rightheaderIcon4{
  display:inline-block;
  background-position:left top;
  background-image: url('ico_archives.gif');
  padding:0px 0 0 14px;
  background-repeat: no-repeat;
  min-height: 25px;
  margin: 0px 0 0 5px;
}



.rightHeaderText{
padding:4px 6px 4px 6px;
color: #FFFFFF;
font-family: Arial, Helvetica, sans-serif;
font-size:15px;
font-weight:bold;

}

.rightText{
padding:4px 6px 4px 6px;
color:#737373;
font-size:10px;
}
.rightText a{
font-size:12px;
font-weight:bold;
color:#525252;
}
.rightText a:hover{
color:#737373;
}

.rightTextCenter{
text-align:center;
font-size:12px;
font-weight:bold;
color:#4e4e4e;
}

.rightSeparation{
color: #606060;
background-color: #606060;
height: 1px;
width: 100px
border: 0;
margin: 7px 0px 7px 0px;
}

.positionnewslink{
	text-align:right;
}
a.newslink{
	color: #525252;
	font-size:12px;
	font-weight:bold;
	text-decoration: underline ;
}

a.newslink:visited{
	color: #525252;
	font-size:12px;
	font-weight:bold;
	text-decoration: underline ;
}

a.newslink:hover{
	color: #838383;
	font-size:12px;
	font-weight:bold;
	text-decoration: underline ;
}





/* BLOCK ALERT
---------------------------------------------------*/
.cargo_alert_div{
height: 110px;
margin: 0px 0px 5px -5px;
padding:0px 0px 0px 0px;
background: url(bg_alerte.jpg) no-repeat scroll center; 
}

.alertHeader{
height: 110px;
padding:0px 0 0 0px;
margin:0px 0 0px 5px;
}

.alertIcon{
  position:relative;
  display:inline-block;
  background-position:left top;
  padding:0px 0 0 14px;
  background-repeat: no-repeat;
  height: 110px;
  margin: 4px 0 0 5px;
}


.alertHeaderText{
padding:1px 15px 0px 105px;
color: #fb6700;
font-family: Arial, Helvetica, sans-serif;
font-size:15px;
font-weight:bold;
}

.alertsousTitre{
padding:0px 15px 0px 105px;
color: #785015;
font-size:14px;
font-weight:bold;
}

.alertAffDate{
padding:0px 15px 0px 105px;
color: #c69867;
font-size:13px;
font-weight:bold;
}

.alertText{
padding:3px 15px 0px 105px;
color: #000000;
font-size:12px;
}

.alertIcon p{
margin:0;
padding:0;
position:absolute;
height:20px;
width:520px; 
text-align:right;
bottom:6px;
color: #ff6400;
font-size:11px;
}

.alertIcon a{
color: #ff6400;
text-decoration: underline ;
margin: padding:0px 0px 0px 10px;
background: url('ico_plus_orange.gif') no-repeat left ;     
}


/* BLOCK EVENT
---------------------------------------------------*/
.cargo_event_div{
margin: 0px 0px 5px -5px;
padding:0px 0px 0px 0px;
}

.eventHeader{

padding:0px 0 0 0px;
margin:0px 0 0px 5px;
}

.eventIcon{
  position:relative;
  display:inline-block;
  background-position:left top;
  padding:0px 0 0 14px;
  background-repeat: no-repeat;

  margin: 4px 0 0 5px;
}


.eventHeaderText{
padding:1px 15px 0px 105px;
color: #7b5019;
font-family: Arial, Helvetica, sans-serif;
font-size:15px;
font-weight:bold;
}

.eventsousTitre{
padding:0px 15px 0px 105px;
color: #595959;
font-size:13px;
font-weight:bold;
}

.eventAffDate{
padding:0px 15px 0px 105px;
color: #c69867;
font-size:14px;
font-weight:bold;
}

.eventText{
padding:3px 15px 0px 105px;
color: #000000;
font-size:12px;
}

.eventIcon p{
margin:0;
padding:0;

height:20px;
width:520px; 
text-align:right;
bottom:6px;
color: #ff6400;
font-size:11px;
}

.eventIcon a{
color: #ff6400;
text-decoration: underline ;
margin: padding:0px 0px 0px 10px;
background: url('ico_plus_orange.gif') no-repeat left ;     
}

.centerSeparation{
background: url(wideHR.jpg) no-repeat scroll center;
height:11px;
margin: 5px 0px 5px -5px;
border:none;
border:0px;
}

.agenda_list_gauche{
margin: 0px 0px 0px 5px;
color:#FFFFFF;
}

* html .agenda_list_gauche{
margin: 0px 0px 0px 5px;
padding:0px 0px -15px 0px;
color:#FFFFFF;
}


/* BLOCK EVENT CENTRAL
---------------------------------------------------*/
.cargo_big_event_div{

margin: 0px 0px 5px -5px;
padding:0px 0px 0px 0px;

}

.eventBigHeader{

padding:0px 0 0 0px;
margin:0px 0 0px 5px;
}

.eventBigIcon{
  position:relative;
  display:inline-block;
  background-position:left top;
  padding:0px 0 0 14px;
  background-repeat: no-repeat;
  min-height: 110px;
  margin: 4px 0 0 5px;
}


.eventBigHeaderText{
padding:1px 15px 0px 105px;
color: #7b5019;
font-family: Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
}

.eventBigsousTitre{
padding:0px 15px 0px 105px;
color: #595959;
font-size:13px;
font-weight:bold;
}

.eventBigAffDate{
padding:0px 15px 0px 105px;
color: #c69867;
font-size:14px;
font-weight:bold;
}

.eventBigAffDate2{
padding:0px 15px 0px 105px;
color: #595959;
font-size:11px;
font-weight:bold;
}

.eventBigText{
padding:3px 15px 0px 105px;
color: #000000;
font-size:12px;
text-align:left;
}

.eventBigIcon p.eventBigBottomLink{
margin:0;
padding:0;

height:20px;
width:520px; 
text-align:right;
bottom:6px;
color: #ff6400;
font-size:11px;
}

.eventBigIcon a{
color: #ff6400;
text-decoration: underline ;
margin: padding:0px 0px 0px 10px;
background: url('ico_plus_orange.gif') no-repeat left ;     
}

.eventTexttete{
margin: 6px 0px 0px 0px;
font-size:13px;
}

.eventTextsecond{
font-size:10px;
margin: 0px 0px 0px 5px;
}


.cargo_small_event_div{
margin: 0px 0px 5px -5px;
padding:0px 0px 0px 0px;
}
.eventsmallHeader{
padding:0px 0 0 0px;
margin:0px 0 0px 5px;
}
.eventsmallHeaderText{
padding:1px 15px 0px 6px;
color: #0000;
font-family: Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
}

.eventsmallHeaderText a{
color: #ff6400;
font-family: Arial, Helvetica, sans-serif;
font-size:13px;
font-weight:bold;
}

.eventsmallsousTitre{
padding:0px 15px 0px 6px;
color: #595959;
font-size:13px;
font-weight:bold;
}


/* BLOCK EVENT CENTRAL
---------------------------------------------------*/
.cargo_center_event_div{

margin: 0px 0px 5px -5px;
padding:0px 0px 0px 0px;

}

.eventcenterHeader{

padding:0px 0 0 0px;
margin:0px 0 0px 5px;
}

.eventcenterIcon{
  position:relative;
  display:inline-block;
  background-position:left top;
  background-repeat: no-repeat;
  min-height: 320px;
  
}

.reserverDigitick{
  float:left;
}

.eventcenterHeaderText{
padding:5px 15px 0px 238px;
color: #ff6400;
font-family: Arial, Helvetica, sans-serif;
font-size:20px;
font-weight:bold;
}

.eventcentersousTitre{
padding:3px 15px 0px 238px;
color: #595959;
font-size:14px;
font-weight:bold;
}

.eventcenterAffDate{
padding:0px 15px 0px 238px;
color: #c69867;
font-size:15px;
font-weight:bold;
}

.eventcenterAffDate2{
padding:2px 15px 0px 238px;
color: #595959;
font-size:11px;
font-weight:bold;
}

.eventcenterText{
padding:3px 15px 0px 238px;
color: #000000;
font-size:12px;
text-align:left;
}

.eventcenterIcon p.eventcenterBottomLink{
margin:0;
padding:0;

height:20px;
width:520px; 
text-align:right;
bottom:6px;
color: #ff6400;
font-size:11px;
}

.eventcenterIcon a{
color: #ff6400;
text-decoration: underline ;
margin: 0px 0px 0px 10px;     
}

.eventcenterTexttete{
padding:3px 15px 0px 238px;
color: #000000;
font-size:12px;
text-align:left;
}

/* BLOCK EVENT CENTRAL
---------------------------------------------------*/
.eventcenterGroupTete{
padding:0px 15px 0px 0px;	
}
.eventcenterGroupTeteHeader{
padding:15px 0px 0px 0px;
color: #ff6400;
font-family: Arial, Helvetica, sans-serif;
font-size:18px;
font-weight:bold;
}

.eventcenterGroupTeteStyle{
padding:3px 0px 0px 0px;
color: #595959;
font-family: Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
}

.eventcenterGroupTeteOrigine{
padding:2px 0px 0px 0px;
color: #7b5019;
font-family: Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
}

.eventcenterGroupTeteText{
padding:5px 0px 10px 0px;
color: #000;
font-family: Arial, Helvetica, sans-serif;
font-size:11px;
}

.eventcenterGroupTetePresse{
margin:20px 5px 0px 0px;
padding:5px 5px 5px 5px;
color: #595959;
font-family: Arial, Helvetica, sans-serif;
font-size:11px;
width:300px;
border-style:solid;
border-color:#525252;
border-bottom-width:0px;
border-left-width:1px;
border-top-width:1px;
border-right-width:1px;
}

.eventcenterGroupTetePresseBottom{
padding:0px 0px 0px 0px;
background: url('bg_citation.gif') no-repeat left ;
width:312px;
height:22px
}

.eventcenterGroupTeteCD{
padding:15px 0px 0px 0px;
color: #7b5019;
font-family: Arial, Helvetica, sans-serif;
font-size:12px;
font-style:italic;
}

.eventcenterGroupTeteCD a{
color: #ff6400;
text-decoration: underline ;
margin: 0px 0px 0px 10px;
background: none;
}

.eventcenterGroupTeteAutre{
margin:20px 5px 0px 0px;
padding:5px 5px 5px 5px;
color: #595959;
font-family: Arial, Helvetica, sans-serif;
font-size:11px;
width:300px;
border-style:solid;
border-color:#525252;
border-width:1px;
}

.eventTextAutre{
font-size:10px;
margin:0px 0px 10px 0px;
}

.eventTexttete .eventTextteteA{
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
color: #7b5019;
text-decoration: none ;
background: none ;
font-size:15px;
}

.eventTexttete .eventTextteteA:hover{
text-decoration: underline ;
}

.eventTextsecond .eventTextteteA{
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
color: #000000;
text-decoration: none ;
background: none ;
font-size:11px;
}

.eventTextsecond .eventTextteteA:hover{
text-decoration: underline ;
}

/*
-------------------------------------------------*/

.cargo_center_groupe_div{
margin: 0px 0px 5px -5px;
padding:0px 0px 0px 0px;
}

.groupecenterHeader{
padding:0px 0 0 0px;
margin:0px 0 0px 5px;
}

.groupecenterIcon{
	
  position:relative;
  display:inline-block;
  background-position:left top;
  padding:0px 0 0 14px;
  background-repeat: no-repeat;
  min-height: 320px;
  margin: 4px 0 0 5px;
}

.groupecenterHeaderText{
padding:0px 15px 0px 220px;
color: #ff6400;
font-family: Arial, Helvetica, sans-serif;
font-size:20px;
font-weight:bold;
}

.groupecentersousTitre{
padding:3px 15px 0px 220px;
color: #595959;
font-size:14px;
font-weight:bold;
}


/*
-------------------------------------------------*/
.cargocontainer {
  display: table;
  border-spacing: 10px; 
  
}

.cargorow {
  display: table-row;
}

.cargocell {
  display: table-cell;
  width: 180px;
  border: 1px solid #b1b1b1;
  padding: 1em;
  color: #595959;
  font-size:12px;
}

.cargocell h4 {
color: #595959;
font-size:14px;
font-weight:bold;
}

.cargocell a{
	color: #ff6400;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}
.cargocell a:hover{
	color: #ff6400;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-decoration: underline ;
}



/*
-------------------------------------------------*/



.headerEntryLine{
color: #595959;
font-size:12px;	
padding:0px 0px 10px 0px;
font-style:italic;
}

.headerEntryLine a{
color: #595959;
font-size:12px;	
padding:0px 0px 10px 0px;
font-style:italic;
text-decoration: underline ;
}

.tagList1{
margin: 10px 0px 10px 0px;
color: #595959;
font-size:10px;	
}
.tagList1 a{
color: #595959;
font-size:10px;	
}
.tagList1 a:hover{
text-decoration: underline ;	
}

.entry{
font-size:12px;
padding-right:8px;
text-align:justify;
}

.entry a{
font-size:12px;
color: #ff6400;
text-decoration: underline ;
font-weight:bold;
}

.post{
font-size:12px;
}

.titleComment{
color: #595959;
font-size:11px;
font-style:italic;
}

#commentform p {
margin: 4px 0px 4px 0px;
}

#commentform p input,textarea {
border:1px solid #b2b2b2;
}

.commentmetadata a{
color: #595959; 
font-size:11px;
font-weight:bold;
}

.ucomment p{
color: #595959; 
font-size:10px;
}

.comments{
margin: 10px 0px 0px 0px;
}

* html .middle{
background:none;
float:left;
width:550px;
height:100%;
padding:0px 2px 0 10px;
}

* html #header { 
background:transparent url(bg_header.jpg) no-repeat scroll 0 0;
height:112px;
padding:0px 10 0 0px;
width:890px;
}

* html #header h1 a { 
display:block; 
background:url(logo_header.png) no-repeat left top; 
height:111px;
width:880px;
margin-left:0px;
}

* html .middle h2 { 
background:transparent url(bg_breadcrumb2.gif) no-repeat scroll 0 0;
font-size:16px;
height:25px;
margin:0 0px 4px -5px;
padding:2px 5px 3px 4px;
color:#FFF;

}

* html .leftTop{
height:11px;
width:100%;
margin:0px 0px -1px 0px;
padding:0px;
background: url(bg_menu_top.gif) no-repeat scroll center;
}

* html #header2 h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#545454;
  margin-bottom:3px;
}

* html .leftBottom{
height:10px;
width:100%;
margin:-7px 0 0px 0px;
padding:0px 0 0 0px;
background: url(bg_menu_bottom.gif) no-repeat scroll center; 
}

* html .leftSeparation{
background: url(leftSeparation.png) no-repeat scroll center;
height:3px;
width:100%;
margin: 0;
padding: 0;
border: 0;
}

* html .rightTop{
height:7px;
width:100%;
margin:0px 0px -4px 0px;
padding:opx;
background: url(menuDroitev1-haut.gif) no-repeat scroll center; 
}

* html .rightContent{
margin:0px;
padding:0px 0px 0px 0px;
background: url(menuDroitev1-mid.gif) repeat-y scroll center; 
}

* html .rightBottom{
height:7px;
width:100%;
margin:-5px 0 10px 0px;
padding:0px 0 0 0px;
background: url(menuDroitev1-bas.gif) no-repeat scroll center; 
}

* html .rightTop{
height:7px;
width:100%;
margin:-3px 0px -4px 0px;
padding:opx;
background: url(menuDroitev1-haut.gif) no-repeat scroll center; 
}

* html .alertIcon p{
margin:0;
padding:0;
position:absolute;
height:20px;
width:526px; 
text-align:right;
bottom:6px;
color: #ff6400;
font-size:11px;
}

* html .alertIcon a,a:visited{
color: #ff6400;
text-decoration: underline ;
margin: padding:0px 0px 0px 10px;
font-weight:normal;
}

* html .eventIcon a,a:visited{
color: #ff6400;
text-decoration: underline ;
margin: padding:0px 0px 0px 10px;
font-weight:normal;
}

* html a,a:visited{
color: #efe78d;
text-decoration: underline ;
margin: padding:0px 0px 0px 10px;
font-weight:normal;
}




* html .cargo_center_groupe_div{
margin: 0px 0px 5px -5px;
padding:0px 0px 0px 0px;
}

* html  .groupecenterHeader{
padding:0px 0 0 0px;
margin:0px 0 0px 0px;
}

* html  .groupecenterIcon{
  position:relative;
  display:inline-block;
  background-position:left top;
  padding:0px 0 0 18px;
  background-repeat: no-repeat;
  min-height: 320px;
  margin: 4px 0 0 5px;
}

* html  .groupecenterHeaderText{
padding:0px 15px 0px 220px;
color: #ff6400;
font-family: Arial, Helvetica, sans-serif;
font-size:20px;
font-weight:bold;
}

* html  .groupecentersousTitre{
padding:3px 15px 0px 210px;
color: #595959;
font-size:14px;
font-weight:bold;
}

* html  .eventcenterGroupTetePresse{
margin:20px 5px 0px 0px;
padding:5px 5px 5px 5px;
color: #595959;
font-family: Arial, Helvetica, sans-serif;
font-size:11px;
width:250px;
border-style:solid;
border-color:#525252;
border-bottom-width:1px;
border-left-width:1px;
border-top-width:1px;
border-right-width:1px;
}

* html .eventcenterGroupTetePresseBottom{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
border:0px;
height:0px;
width:20px;
background: none;
}

* html .eventcenterGroupTeteAutre{
margin:20px 5px 0px 0px;
padding:5px 5px 5px 5px;
color: #595959;
font-family: Arial, Helvetica, sans-serif;
font-size:11px;
width:250px;
border-style:solid;
border-color:#525252;
border-width:1px;
}

table {
 border-width:0px; 
 border-style:solid; 
 border-color:black;
 width:100%;
 }
 
td { 
 border-width:1px;
 border-style:solid; 
 border-color:#d0d0d0;

 }
 /*  background: #d7d7d7 ; */
 
.newslink2{
	margin: 0px 0px 0px 5px;
	text-align:left;
}
/* liens visited peu lisible */
.newslink2 a,a:visited{
	color: #000000;
	font-size:12px;
	font-weight:normal;
	text-decoration: none ;
}

/*hover ne marche pas ?? */
.newslink2 a:hover{
	color: #000000;
	font-size:12px;
	font-weight:normal;
	text-decoration: underline ;
}
 

.cargo_event_widget{
margin:20px 0px 0px 0px;
padding:20px 0px 0px 0px;
background: url(bg_menu_middle2.gif) repeat-y scroll center; 	
}

.pages_titre_orange{
	color: #ff6400;
	font-family: Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;	
}

.pages_hr{
	font-weight:bold;
	color:#999999;
	border:1px solid;
	size:20px;	
}

.pages_imgleft{
	clear:left;
	float:left;
	padding-right:5px; 	
}

.pages_imgright{
	clear:right;
	float:right;
	padding-left:5px;	
}

.eventText p{
width:420px;
height:auto;
text-align:left;
font-size:12px;
color:#4e4e4e;
}

* html .eventText p{
width:400px;
height:auto;
text-align:left;
font-size:12px;
color:#4e4e4e;
}


input[type~=password] {
margin:5px 0px 5px 0px;
border: 1px solid #686868;
background: #d5d5d5;
}
