/*__________________________________________________________________________________________________________________________

Cette feuille de style contient les styles de la page d'accueil :
1. LE CG, UNE COLLECTIVITE A VOTRE SERVICE
2. LE MAINE-ET-LOIRE, VOTRE TERRITOIRE
__________________________________________________________________________________________________________________________*/

/*__________________________________________________________________________________________________________________________

POUR VERIFIER LES EVENTUELS PBS DE MISE EN PAGE : VISUALISATION DU DECOUPAGE 
__________________________________________________________________________________________________________________________
table {border: 1px solid black;}
td {border: 1px dotted gray;}
div {border: 1px solid orange;}
img, form {border: 1px dashed blue;}
h1, h2, h3, h4, h5, h6, p {border: 1px solid yellow;}
ul {border: 1px solid green;}
li {border: 1px solid lightgreen;}
*/

#outer_wrapper h2
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0 0 0.3em 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	border: 0;
}

/*__________________________________________________________________________________________________________________________

      1. LE CONSEIL GENERAL, UNE COLLECTIVITE A VOTRE SERVICE
__________________________________________________________________________________________________________________________*/
		
#collectivite_service
{
	/* ___Dimensions et positionnement */
	float: left;
	width: 45.7em;
	position: relative;
	display: inline;
	/* ___Marges */
	margin-left: 1.5em !important;margin-left: 1em;
	margin-top: -3em;
	/* ___Texte */
	/* ___Décoration */
}

#collectivite_service div
{
	/* ___Dimensions et positionnement */
	float: left;
	display: inline;
	width: 21.4em;
	/* ___Marges 
	margin-right: 0.2em !important;margin-right: 0em;
	margin: 0.5em 0.3em 0.5em 0.7em;*/
	margin: 0.5em 0.2em 0.5em 0.8em;
	padding: 0.2em;
	/* ___Texte */
	/* ___Décoration */
	background: #fff;
}

#collectivite_service img
{
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	margin: 0 auto;
	padding: 0;
	/* ___Texte */
	text-align: center;
	/* ___Décoration */
	border: 0.1em solid #ccc;
}

#collectivite_service h2 img
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	border: 0; /* Pas de bordure sur le titre de l'onglet */
}

#collectivite_service h3
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.3em 0 0.2em 0.2em;
	padding: 0 0 0 0.6em;
	/* ___Texte */
	color: #ed4d05;
	font-size: 1.6em;
	line-height: 1.2em;
	/* ___Décoration */
	background: url(puce_carree_orange.png) 0em 0.6em no-repeat;
}

#collectivite_service h3 a,
#collectivite_service h3 a:visited
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #ed4d05;
	/* ___Décoration */
	text-decoration: none;
}

#collectivite_service h3 a:hover,
#collectivite_service h3 a:active,
#collectivite_service h3 a:focus
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	text-decoration: underline;
}

#collectivite_service h4
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	color: #81001F;
	font-size: 1.2em;
	/* ___Décoration */
}

#collectivite_service h4 a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #81001F;
	/* ___Décoration */
	text-decoration:none;
}

#collectivite_service p
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0 0.2em;
	/* ___Texte */
	font-size: 1.2em;
	line-height: 1.4em;
	/* ___Décoration */
}

#collectivite_service p a,
#maine_loire_territoire #rub_ml p a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #81000F;
	font-weight: normal;
	/* ___Décoration */
}

#collectivite_service p a img,
#maine_loire_territoire #rub_ml p a img
{
	/* ___Dimensions et positionnement */
	display: inline;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	border: 0;
}

/* ________________________________ Rubriques ________________________________ */

#collectivite_service #rub_cg
{
	/* ___Dimensions et positionnement */
	height: 14.8em;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}


#collectivite_service #rub_actions
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

#collectivite_service #rub_infos
{
	/* ___Dimensions et positionnement */
	height: 16.2em!important; height: 16.6em;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

#collectivite_service #rub_service
{
	/* ___Dimensions et positionnement */
	height: 19.9em!important;height: 20.8em;
	/*height: 22.9em!important;height: 23.8em;
	 ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

#collectivite_service .cg_recrute
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin-top: 1em;
	/* ___Texte */
	/* ___Décoration */
}

/* ________________________________ Profils ________________________________ */

#collectivite_service #rub_profils
{
	/* ___Dimensions et positionnement 
	width: auto!important;width: 21.5em;*/
	height: 20em;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

#collectivite_service #rub_profils div
{
	/* ___Dimensions et positionnement */
	display: inline;
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	background: none;
}

#collectivite_service #rub_profils .hide,
#collectivite_service #rub_profils .tx_cg49profil_pi1
{
	/* ___Dimensions et positionnement */ 
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	background: none;
}

#collectivite_service #rub_profils a.profil_prec,
#collectivite_service #rub_profils a.profil_suiv
{
	/* ___Dimensions et positionnement */
	position: relative;
	width: 5.2em;
	float: left;
	display: block;
	height: 5em;
	/* ___Marges */
	margin-top: 2em;
	padding-top: 2.5em;
	/* ___Texte */
	color: #444;
	text-align: center;
	/* ___Décoration */
	text-decoration: none;
}

#collectivite_service #rub_profils a.profil_prec
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin-left: 0!important; margin-right: 0;
	margin-right: 0!important; margin-right: 0;
	/* ___Texte */
	/* ___Décoration */
	background: url(profil_prec.png) top center no-repeat;
}

#collectivite_service #rub_profils a.profil_suiv
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	background: url(profil_suiv.png) top center no-repeat;
}

#collectivite_service #rub_profils img
{
	/* ___Dimensions et positionnement */
	float: left;
	display: block;
	/* ___Marges */
	margin-top: 0.5em!important; margin-top: 1em;
	margin-right: 0.3em;
	/* ___Texte */
	/* ___Décoration */
}

#collectivite_service #rub_profils a:hover,
#collectivite_service #rub_profils a:active,
#collectivite_service #rub_profils a:focus
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	text-decoration: underline;
}

#collectivite_service #rub_profils h3,
#collectivite_service #rub_profils p
{
	/* ___Dimensions et positionnement */
	clear: both;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}
	
/* ________________________________ Dossier ________________________________ */

.dossier_mois
{
	/* ___Dimensions et positionnement */
	height: 15.2em!important; height: 14.9em;
	/* ___Marges  */
	padding: 0!important;
	/* ___Texte */
	/* ___Décoration */
}

#collectivite_service .dossier_mois
{
	/* ___Dimensions et positionnement */
	width: 21.5em;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	background: #ffd8b2;
}

#maine_loire_territoire .dossier_mois
{
	/* ___Dimensions et positionnement */
	float: right;
	display: inline;
	width: 21.5em;
	/* ___Marges */
	margin-right: 0.6em;
	margin-top: 0.5em;
	padding:0;
	/* ___Texte */
	/* ___Décoration */
	background: #fbfbcb;
}

/* _________ Titre _________ */
.dossier_mois h3
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0.2em 0.2em 1em 0.2em;
	/* ___Texte */
	font-size: 2.1em !important;
	font-weight: normal;
	color: #81001F!important;
	/* ___Décoration */
	background: none!important;
}

#collectivite_service .dossier_mois h3
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0.2em;
	/* ___Texte */
	/* ___Décoration */
}

#maine_loire_territoire .dossier_mois h3
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0.2em;
	/* ___Texte */
	color: #81001F;
	/* ___Décoration */
}

/* _________ Paragraphe _________ */
.dossier_mois p
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0 0 0.5em 0;
	/* ___Texte */
	/* ___Décoration */
}

#collectivite_service .dossier_mois p,
#maine_loire_territoire .dossier_mois p
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0 0 0.5em 0;
	/* ___Texte */
	/* ___Décoration */
}

/* _________ Lien _________ */
.dossier_mois a
{
	/* ___Dimensions et positionnement */
	display: none;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

.dossier_mois p a
{
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	padding: 0.3em!important;
	/* ___Texte */
	font-weight: bold!important;
	/* ___Décoration */
	text-decoration: underline!important;
}

#collectivite_service .dossier_mois p a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #ed4d05;
	/* ___Décoration */
}

/* _________ Image _________ */
#collectivite_service .dossier_mois img
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	border: 0.1em solid #fff;
}

.dossier_mois img,
#maine_loire_territoire .dossier_mois img
{
	/* ___Dimensions et positionnement */
	display: block;
	position: relative;
	/* ___Marges */
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	border: 0.1em solid #fff;
}

#maine_loire_territoire .dossier_mois img
{
	/* ___Dimensions et positionnement */
	/* ___Marges 
	margin-top: -1.5em!important; margin-top: 0;*/
	/* ___Texte */
	/* ___Décoration */
}

/*__________________________________________________________________________________________________________________________

      2. LE MAINE-ET-LOIRE, VOTRE TERRITOIRE
__________________________________________________________________________________________________________________________*/

#maine_loire_territoire
{
	/* ___Dimensions et positionnement */
	float: right;
	width: 45.5em;
	position: relative;
	display: inline;
	/* ___Marges */
	margin-top: -3em;
	margin-right: 1.5em;
	/* ___Texte */
	/* ___Décoration */
	background: #d1d119;
}

#maine_loire_territoire div
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.6em;
	/* ___Texte */
	/* ___Décoration */
}

#maine_loire_territoire h3
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0 0 0.2em 0;
	padding: 0 0 0 0.6em;
	/* ___Texte */
	font-size: 1.6em;
	line-height: 1.2em;
	/* ___Décoration */
	background: url(puce_carree.png) 0em 0.2em no-repeat;
}

#maine_loire_territoire h3 a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #81001F;
	/* ___Décoration */
	text-decoration: none;
}

#maine_loire_territoire p
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	font-size: 1.2em;
	line-height: 1.4em;
	/* ___Décoration */
}

#maine_loire_territoire a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #717101;
	font-weight: bold;
	/* ___Décoration */
}

/* ________________________________ Rubrique Maine-et-Loire ________________________________ */

#maine_loire_territoire #rub_ml
{
	/* ___Dimensions et positionnement */
	width: 21.2em;
	float: left;
	display: inline;
	/* ___Marges */
	margin: 0.5em 0.2em 0.5em 0.8em;
	/* ___Texte */
	color: #333;
	/* ___Décoration */
	background: url(http://www.cg49.fr/fileadmin/templates/internet/medias/images/accueil/pointille.png) bottom left repeat-x;
}

#maine_loire_territoire #rub_ml img
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin-bottom: 0.3em;
	/* ___Texte */
	/* ___Décoration */
	border: 0.1em solid #fff;
}

/* ________________________________ Actualités ________________________________ */

#maine_loire_territoire #actualites
{
	/* ___Dimensions et positionnement */
	clear: both;
	/* ___Marges */
	padding: 0.5em 0;
	margin-top: 0;
	/* ___Texte */
	/* ___Décoration */
	background: #fff;
}

#maine_loire_territoire #actualites div
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	padding: 0.2em;
	margin: 0;
	/* ___Texte */
	/* ___Décoration */
}

#maine_loire_territoire #actualites img
{
	/* ___Dimensions et positionnement */
	float: left;
	/* ___Marges */
	margin: 0 0.5em 0.5em 0;
	/* ___Texte */
	/* ___Décoration */
	border: 0.1em solid #d8d8d8;
}

#maine_loire_territoire #actualites .actu
{
	/* ___Dimensions et positionnement */
	float: left;
	width: 48%;
	height: 9em;
	/* ___Marges */
	margin: 0 0.3em 1.3em 0.3em;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

#maine_loire_territoire #actualites .actu a
{
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	/* ___Texte */
	font-size: 1.1em;
	/* ___Décoration */
}

#maine_loire_territoire #actualites p.bodytext
{
	/* ___Dimensions et positionnement */
	float: none;
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

#maine_loire_territoire #actualites .date
{
	/* ___Dimensions et positionnement */
	display: inline-block;
	/* ___Marges */
	margin-top: 0.2em!important; margin-top: 0.5em;
	/* ___Texte */
	line-height: 1.2em;
	color: #81001F;
	font-size: 0.8em;
	/* ___Décoration */
}

#maine_loire_territoire .autres
{
	/* ___Dimensions et positionnement */
	clear: both;
	display: list-item;
	/* ___Marges */
	margin: 0.3em 0 0 0;
	/* ___Texte */
	text-align: right;
	font-size: 1.1em;
	/* ___Décoration */
	list-style: url(puce_carree_verte.png);
	text-decoration: none;
}

#maine_loire_territoire .autres:hover
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	text-decoration: underline;
}

#maine_loire_territoire #actualites .autres
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	padding-right: 0.3em;
	/* ___Texte */
	/* ___Décoration */
}

/* ________________________________ Agenda ________________________________ */

#maine_loire_territoire #agenda
{
	/* ___Dimensions et positionnement */
	clear: both;
	/* ___Marges */
	padding: 0.5em;
	/* ___Texte */
	/* ___Décoration */
	background: #ffffcc;
}

#maine_loire_territoire #agenda h3
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.2em 0 0.2em 0; 
	padding: 0;
	/* ___Texte */
	color: #81001F;
	/* ___Décoration */
	background: none;
}

#maine_loire_territoire #agenda ul
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

#maine_loire_territoire #agenda li
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.1em 0 0 1.6em;
	padding: 0.1em 0;
	/* ___Texte */
	font-size: 1.2em;
	line-height: 1.3em;
	/* ___Décoration */
	list-style: url(puce_carree.png);
	list-style-position: outside;
}

#maine_loire_territoire #agenda li a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #444;
	font-weight: normal;
	/* ___Décoration */
	text-decoration: none;
}

#maine_loire_territoire #agenda li a:hover
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	text-decoration: underline;
}

#maine_loire_territoire #agenda .date
{
	/* ___Dimensions et positionnement */
	display: inline!important;
	/* ___Marges */
	margin-left: 1em;
	/* ___Texte */
	line-height: 1.2em;
	/* ___Décoration */
}


#maine_loire_territoire #agenda a.autres
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	padding-right: 0.3em;
	/* ___Texte */
	font-size: 1em;
	/* ___Décoration */
}

/* ________________________________ Promo ________________________________ */

#maine_loire_territoire #promo div,
#maine_loire_territoire #promo .csc-textpic
{
	/* ___Dimensions et positionnement */
	float: left;
	width: 21.5em;
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}
#maine_loire_territoire #promo .csc-textpic-clear
{
	/* ___Dimensions et positionnement */
	display: none;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

#maine_loire_territoire #promo .csc-textpic
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	padding: 0;
	margin-right: 0.6em!important;margin-right: 0em;
	/* ___Texte */
	/* ___Décoration */
}

#maine_loire_territoire #promo img,
#maine_loire_territoire #promo .csc-textpic img
{
	/* ___Dimensions et positionnement 
	display: block;*/
	/* ___Marges */
	margin-right: 0em;
	margin-bottom: 1em!important; margin-bottom: 0em;
	/* ___Texte */
	/* ___Décoration */
	border: 0.1em solid #fff;
}

#maine_loire_territoire #promo a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	cursor: pointer;
}

#maine_loire_territoire #promo embed
{
	/* ___Dimensions et positionnement */
	width: 21.5em;
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	border: 0.1em solid #fff;
}