/* default styles for extension "tx_felogin_pi1" */
	.tx-felogin-pi1 label {
		display: block;
	}
/* default styles for extension "tx_flvplayer_pi1" */
		.tx-flvplayer-pi1 {
			text-align: center;
		}
/* default styles for extension "tx_loginboxmacmade_pi1" */
        .tx-loginboxmacmade-pi1 .tx-loginboxmacmade-pi1-error {
            color: #FF0000;
        }
        .tx-loginboxmacmade-pi1 TABLE.tx-loginboxmacmade-pi1-loginTable {
            margin-top: 5px;
            margin-bottom: 5px;
            border: solid 1px #DFE2E3;
            border-collapse: collapse;
        }
        .tx-loginboxmacmade-pi1 TABLE.tx-loginboxmacmade-pi1-loginTable TD {
            border: solid 1px #DFE2E3;
            background-color: #FAFBFB;
            padding: 5px;
        }
        .tx-loginboxmacmade-pi1 TABLE.tx-loginboxmacmade-pi1-loginTable TD.tx-loginboxmacmade-pi1-labelCell {
            border: solid 1px #E5D9B1;
            background-color: #F0E9D2;
            font-weight: bold;
        }
/* default styles for extension "tx_indexedsearch" */
		.tx-indexedsearch .tx-indexedsearch-browsebox LI { display:inline; margin-right:5px; }
		.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-button { width:100px; }
		.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-sword { width:150px; }
		.tx-indexedsearch .tx-indexedsearch-whatis { margin-top:10px; margin-bottom:5px; }
		.tx-indexedsearch .tx-indexedsearch-whatis .tx-indexedsearch-sw { font-weight:bold; font-style:italic; }
		.tx-indexedsearch .tx-indexedsearch-noresults { text-align:center; font-weight:bold; }
		.tx-indexedsearch .tx-indexedsearch-res TD.tx-indexedsearch-descr { font-style:italic; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-descr .tx-indexedsearch-redMarkup { color:red; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-info { background:#eeeeee; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead { margin-top:20px; margin-bottom:5px; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead H2 { margin-top:0px; margin-bottom:0px; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead TD { background:#cccccc; vertical-align:middle; }
		.tx-indexedsearch .tx-indexedsearch-res .noResume { color:#666666; }
		.tx-indexedsearch .tx-indexedsearch-category { background:#cccccc; font-size:16px; font-weight:bold; }

		/* Additional styles, needed for the tableless template_css.tmpl (styles don't conflict with the original template) */
		.tx-indexedsearch .res-tmpl-css { clear:both; margin-bottom:1em; }
		.tx-indexedsearch .searchbox-tmpl-css LABEL { margin-right:1em; width:10em; float:left; }
		.tx-indexedsearch .result-count-tmpl-css, .tx-indexedsearch .percent-tmpl-css { letter-spacing:0; font-weight:normal; margin-top:-1.2em; float:right; }
		.tx-indexedsearch .info-tmpl-css dt, .tx-indexedsearch dl.info-tmpl-css dd { float:left; }
		.tx-indexedsearch .info-tmpl-css dd.item-mtime { float:none; }
		.tx-indexedsearch .info-tmpl-css dd.item-path { float:none; }
/* default styles for extension "tx_cssstyledcontent" */
/* Captions */
	DIV.csc-textpic-caption-c .csc-textpic-caption { text-align: center; }
	DIV.csc-textpic-caption-r .csc-textpic-caption { text-align: right; }
	DIV.csc-textpic-caption-l .csc-textpic-caption { text-align: left; }

	/* Needed for noRows setting */
	DIV.csc-textpic DIV.csc-textpic-imagecolumn { float: left; display: inline; }

	/* Border just around the image */
	DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG {
		border: 2px solid black;
		padding: 0px 0px;
	}

	DIV.csc-textpic-imagewrap { padding: 0; }

	DIV.csc-textpic IMG { border: none; }

	/* DIV: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DIV.csc-textpic-image { float: left; }

	/* UL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL { list-style: none; margin: 0; padding: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL LI { float: left; margin: 0; padding: 0; }

	/* DL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image { float: left; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DT { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD IMG { border: none; } /* FE-Editing Icons */
	DL.csc-textpic-image { margin: 0; }
	DL.csc-textpic-image DT { margin: 0; display: inline; }
	DL.csc-textpic-image DD { margin: 0; }

	/* Clearer */
	DIV.csc-textpic-clear { clear: both; }

	/* Margins around images: */

	/* Pictures on left, add margin on right */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-right: 10px;
	}

	/* Pictures on right, add margin on left */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}

	/* Pictures centered, add margin on left */
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image .csc-textpic-caption { margin: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image IMG { margin: 0; }

	/* Space below each image (also in-between rows) */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image { margin-bottom: 5px; }
	DIV.csc-textpic-equalheight DIV.csc-textpic-imagerow { margin-bottom: 5px; display: block; }
	DIV.csc-textpic DIV.csc-textpic-imagerow { clear: both; }

	/* No margins around the whole image-block */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-firstcol { margin-left: 0px !important; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-lastcol { margin-right: 0px !important; }

	/* Add margin from image-block to text (in case of "Text w/ images") */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap {
		margin-right: 10px !important;
	}
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap {
		margin-left: 10px !important;
	}

	/* Positioning of images: */

	/* Above */
	DIV.csc-textpic-above DIV.csc-textpic-text { clear: both; }

	/* Center (above or below) */
	DIV.csc-textpic-center { text-align: center; /* IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap { margin: 0 auto; }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image { text-align: left; /* Remove IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-text { text-align: left; /* Remove IE-hack */ }

	/* Right (above or below) */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap { float: right; }
	DIV.csc-textpic-right DIV.csc-textpic-text { clear: right; }

	/* Left (above or below) */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap { float: left; }
	DIV.csc-textpic-left DIV.csc-textpic-text { clear: left; }

	/* Left (in text) */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap { float: left; }

	/* Right (in text) */
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap { float: right; }

	/* Right (in text, no wrap around) */
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap { float: right; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-right-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */

	/* Left (in text, no wrap around) */
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap { float: left; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-left-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */
	
	/* Browser fixes: */
	
	/* Fix for unordered and ordered list with image "In text, left" */
	.csc-textpic-intext-left ol, .csc-textpic-intext-left ul { padding-left: 40px; overflow: auto; height: 1%; }
DIV.csc-textpic DIV.csc-textpic-imagerow-last { margin-bottom: 0; }
/* default styles for extension "tx_cssfilelist" */
	.filelinks div{padding-left:25px; background:url('http://www.cg49.fr/typo3/gfx/fileicons/default.gif') left top no-repeat; margin-bottom:10px;}
	.filelinks span{display:block;}
	.filelinks .filecount{display:block; margin-bottom:5px;} 
	.filelinks a{color:#000;text-decoration:none; }
	/* Icons begin */
	.filelinks .ai{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/ai.gif')!important;}
	.filelinks .ani{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/ani.gif')!important;}
	.filelinks .au{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/au.gif')!important;}
	.filelinks .avi{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/avi.gif')!important;}
	.filelinks .bmp{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/bmp.gif')!important;}
	.filelinks .cdr{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/cdr.gif')!important;}
	.filelinks .css{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/css.gif')!important;}
	.filelinks .csv{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/csv.gif')!important;}
	.filelinks .doc{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/doc.gif')!important;}
	.filelinks .dtd{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/dtd.gif')!important;}
	.filelinks .eps{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/eps.gif')!important;}
	.filelinks .exe{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/exe.gif')!important;}
	.filelinks .fh3{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/fh3.gif')!important;}
	.filelinks .flash{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/flash.gif')!important;}
	.filelinks .folder{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/folder.gif')!important;}
	.filelinks .gif{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/gif.gif')!important;}
	.filelinks .htm{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/htm.gif')!important;}
	.filelinks .html{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/html.gif')!important;}
	.filelinks .ico{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/ico.gif')!important;}
	.filelinks .inc{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/inc.gif')!important;}
	.filelinks .java{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/java.gif')!important;}
	.filelinks .jpg{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/jpg.gif')!important;}
	.filelinks .js{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/js.gif')!important;}
	.filelinks .max{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/max.gif')!important;}
	.filelinks .mid{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/mid.gif')!important;}
	.filelinks .mov{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/mov.gif')!important;}
	.filelinks .mpeg{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/mpeg.gif')!important;}
	.filelinks .mpg{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/mpg.gif')!important;}
	.filelinks .pcd{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/pcd.gif')!important;}
	.filelinks .pcx{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/pcx.gif')!important;}
	.filelinks .pdf{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/pdf.gif')!important;}
	.filelinks .png{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/png.gif')!important;}
	.filelinks .ps{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/ps.gif')!important;}
	.filelinks .psd{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/psd.gif')!important;}
	.filelinks .rtf{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/rtf.gif')!important;}
	.filelinks .sgml{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/sgml.gif')!important;}
	.filelinks .swf{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/swf.gif')!important;}
	.filelinks .sxc{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/sxc.gif')!important;}
	.filelinks .sxw{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/sxw.gif')!important;}
	.filelinks .tga{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/tga.gif')!important;}
	.filelinks .tif{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/tif.gif')!important;}
	.filelinks .ttf{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/ttf.gif')!important;}
	.filelinks .txt{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/txt.gif')!important;}
	.filelinks .wav{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/wav.gif')!important;}
	.filelinks .wrl{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/wrl.gif')!important;}
	.filelinks .xls{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/xls.gif')!important;}
	.filelinks .xml{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/xml.gif')!important;}
	.filelinks .xsl{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/xsl.gif')!important;}
	.filelinks .zip{background-image:url('http://www.cg49.fr/typo3/gfx/fileicons/zip.gif')!important;}
	/* Icons end */
	.filelinks a:hover{text-decoration:underline;}
/* default styles for extension "tt_news" */

/*-----------------------------------  clearer  -----------------------------------*/
/* prevent floated images from overlapping the div-containers they are wrapped in  */

.news-list-container HR.clearer, .news-single-item HR.clearer, .news-latest-container HR.clearer{
	clear:right;
	height:1px;
	border:1px solid #F9FFE5;

}
.news-latest-container HR.clearer {
	clear:left;
}

/*-----------------------------------  tt_news LATEST view  -----------------------------------*/

.news-latest-container {
	border:1px solid #333;
	background-color:#BBE53A;
}

.news-latest-container H2,.news-latest-gotoarchive {
	color:#fff;
	padding:3px;
	margin:3px;
	border:1px solid #666;
	/*background-color:#D8FA70;*/
	background-color:#769024;
}

.news-latest-gotoarchive {
	font-weight:bold;
	margin-top:5px;
}
.news-latest-gotoarchive A:LINK, .news-latest-gotoarchive A:VISITED, .news-latest-gotoarchive A:HOVER {
	color:#fff;
}
.news-latest-gotoarchive A {
	color:#fff;
}
.news-latest-item {
	/* IE hack */
	height: 1%;
	line-height: 1.3;
	/* IE hack end */
	height: auto !important;
	padding:3px;
	margin:3px;
	border:1px solid #666;
	background-color:#F9FFE5;
}

.news-latest-item IMG {

	margin-bottom:5px;
	margin-right:5px;
	border:1px solid #666;
	float:left;
}
.news-latest-category IMG {
	float: none;
	border:none;
	margin:0px;
}
.news-latest-date,.news-latest-morelink,.news-latest-category {
	font-size:9px;
}

.news-latest-morelink {
	height:12px;
}

.news-latest-morelink A {
	float:right;
}


/*--------------------------------- tt_news LIST view  -----------------------------------*/
.news-list-container {

	border:1px solid #000;
	background-color:#BBE53A;
}


.news-list-item {
	/* IE hack */
	height: 1%;
	line-height: 1.3;
	/* IE hack end */
	height: auto !important;
	padding:3px;
	margin:3px;
	border:1px solid #666;
	background-color:#F9FFE5;

	}
.news-search-form {
	padding:3px;
	margin-bottom:5px;
	border:1px solid #666;
	background-color:#F9FFE5;

}
.news-search-emptyMsg{
	margin:0px;
}
.news-search-form FORM {
	margin:0px;
}
.news-list-container H3 {
	margin-bottom: 5px;
	padding: 2px;
	border-bottom: 1px solid #769024;
	background-color: #769024;
}
.news-list-container H3 A:LINK,.news-list-container H3 A:VISITED,.news-list-container H3 A:HOVER {
	color:#fff;
	padding-left:2px;
}
.news-list-container H3 A {
	color:#fff;

}
.news-list-container P {
	padding-left:3px;
}
.news-list-date {
	float: right;
	color: #3E551C;
	width: 180px;
	text-align: right;
	height: 20px;
	margin-top: -2px;
	margin-right: -2px;
	font-size: 9px;
	font-weight: normal;
	background-color: #F9FFE5;
	}

.news-list-imgcaption {
	float: right;
	padding-top:3px;
	padding-right:3px;
	font-size: 9px;

	}

.news-list-container IMG {

	float: right;
	border:1px solid #666;
	margin-bottom:5px;
	margin-right:2px;
	margin-left:5px;
}
.news-list-category IMG {
	float: none;
	border:none;
	margin:0px;
}

.news-list-morelink,.news-list-category {
	font-size:9px;
	margin-left:3px;
}
.news-list-morelink  {
	margin-bottom:3px;
}
.news-list-browse {
	text-align: center;
}



	/*---------------------------------  tt_news Page-Browser ---------------------------------*/
.tx-ttnews-browsebox, .browseBoxWrap {
	margin:3px;
	border:1px solid #666;
	padding:3px;
	background-color:#F9FFE5;
}

.tx-ttnews-browsebox TD {
	font-size: 10px;
}
.tx-ttnews-browsebox-strong, .tx-ttnews-browsebox-SCell {
	font-weight: bold;
}
.tx-ttnews-browsebox-SCell P,.tx-ttnews-browsebox TD P{
	margin:0px;
}

.tx-ttnews-browsebox-SCell {
	background-color: #BBE53A;
	border:1px solid #666;
}
.news-search-emptyMsg {
	font-size: 11px;
	margin-left: 10px;
}
	/*--------------------------------- tt_news SINGLE view  ---------------------------------*/
.news-single-item {
	padding:5px;
	margin-bottom:5px;
	border:1px solid #666;
	background-color:#F9FFE5;

}
.news-single-item H2 {
	font-size: 16px;
	font-weight:bold;
	color: #85A600;
	margin-bottom: 0px;
}
.news-single-item H3 {
	margin-bottom: 15px;
}



.news-single-img {
	float: right;
	margin-left:5px;

}



.news-single-imgcaption {
	padding:3px;
	clear:both;
}

.news-single-category {

	float: right;
}
.news-single-backlink, .news-single-backlink a {
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 15px;
	margin-top: 10px;
}
.news-single-timedata {
	float: right;
}
.news-single-timedata, .news-single-author,.news-single-imgcaption {
	font-size: 9px;
}
.news-single-author {
	padding-bottom: 3px;
}
.news-single-additional-info {
	background-color: #BBE53A;
/*	clear: both;*/
	margin-top: 15px;
	border: 1px solid #666;
	padding:3px;
	padding-bottom:0px;

}
.news-single-related,.news-single-files,.news-single-links  {
	border: 1px solid #666;
	margin:0px;
	margin-bottom: 3px;
	padding:3px;
	background-color:#F9FFE5;
}

.news-single-related DD, .news-single-links DD, .news-single-files DD {
	margin-left:20px;
}

.news-single-related DT, .news-single-links DT, .news-single-files DT {
	font-weight: bold;
	font-size: 11px;
	margin-left:5px;
	width:90%;
}

/*--------------------------------- tt_news Archivemenu (AMENU) --------------------------------- */
.news-amenu-container {
	margin-top:10px;
	padding:3px;
	border:1px solid #333;
	background-color:#BBE53A;
}
.news-amenu-container LI {
	padding-bottom:1px;
}
.news-amenu-container UL {
	padding:3px;
	margin-top:5px;
	margin-left:0px;
	margin-bottom:0px;
	border:1px solid #666;
	background-color:#F9FFE5;
	list-style-type: none;
}
.news-amenu-container H2 {
	color:#fff;
	padding:3px;
	border:1px solid #666;
	background-color:#769024;
}
.news-amenu-item-year {
	font-weight: bold;
	border: 1px solid #666;
	padding: 2px;
	background-color: #769024;
	color:#fff;
}

/*--------------------------------- tt_news Categorymenu (CATMENU) --------------------------------- */


.news-catmenu  {
	padding:5px;
	margin:10px 0px 10px 10px;
	border:1px solid #666;
	background-color:#F9FFE5;
}
.news-catmenu-header {
	font-size:11px;
	font-weight:bold;
}
.news-catmenu DIV {
	font-size:10px;
	white-space: nowrap;
}
.news-catmenu DIV img, .news-catmenu img, .news-catmenu-header img {
	margin:0px;
	padding: 0px;
	vertical-align: middle;
}
.news-catmenu-ACT {
	font-weight:bold;
}

/*  Styles for catmenu mode "nestedWraps" */
.level1 {
	padding:1px;
	padding-left:10px;
	background-color:#ebf8bf;
	border-left:1px solid #666;
	border-top:1px solid #666;
}
.level2 {
	padding:1px;
	padding-left:10px;
	background-color:#ddf393;
	border-left:1px solid #666;
}
.level3 {
	padding:1px;
	padding-left:10px;
	background-color:#cae46e;
	border-left:1px solid #666;
	border-top:1px solid #666;

}
.level4 {
	padding:1px;
	padding-left:10px;
	background-color:#b0cb51;
	border-left:1px solid #666;
}


/* default styles for extension "tx_a21glossary" */
   acronym, dfn, abbr, span.abbr { border-bottom: 1px dotted black; cursor: help; }
   dl.glossary dt { font-weight: bold; margin: 0 0 3px 0; font-style: normal; }
   dl.glossary dd { margin: 0 0 15px 20px; }
   dl.glossary .description { margin: 0; padding: 0; }
   dl.glossary .type { font-style: italic; padding: 0 3px 0 0; }