body {
	background-color: #ffffff;
	padding: 0px;
	margin: 0px;
	font-family: Arial, sans-serif;
	font-size: 11px;
}
#page {
	width: 955px;
	margin: auto;
	font-family: Arial, sans-serif;
	font-size: 11px;
	background-image: url(body_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
}
img {
	border: 0px;
	vertical-align: middle;
}
form {
	margin: 0px;
	padding: 5px;
}
input, textarea {
	border: 1px solid #000000;
	font-family: Arial, sans-serif;
	font-size: 10px;
}

.head {
	margin: 0;
	padding: 0;
	background-color: transparent;
	height: 232px;
}
.headLinks {
	margin: 10px 15px 9px 0;
	padding: 0;
	float: right;
	font-family: Arial, sans-serif;
	font-size: 11px;
	color: #c62226;
}
.headLinks a, .headLinks a:link, .headLinks a:hover, .headLinks a:visited, .headLinks a:active {
	font-family: Arial, sans-serif;
	font-size: 11px;
	color: #c62226;
	text-decoration: none;
}
.headLogo {
	clear:right;
	width: 100%;
	height: 122px;
	background-color:#4286e2;
	background-image: url(banner_bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	margin-bottom: 27px;
}
.headLogoLinks {
	padding: 22px 0 0 269px;
}
.headLogoLinks span {
	margin: 0 10px 0 9px;
}
.headLogoLinks a, .headLogoLinks a:link, .headLogoLinks a:hover, .headLogoLinks a:visited, .headLogoLinks a:active {
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
}
.headLine {
	width: 100%;
	height: 37px;
}
.servicesPlus {
	float: left;
	width: 156px;
	height: 27px;
	background-image: url(home_servicesPlus_button.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding: 10px 0 0 38px;
}
.servicesPlus select {
	font-family: Arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
	width: 145px;
	background-color: #560099;
	color: #ffffff;
}
.headSearch {
	width: 213px;
	float: left;
	margin-left: 12px;
	height: 27px;
	padding: 10px 0 0 0;
	background-color: #d1d0d0;
	background-image: url(search_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
.headSearch form {
	margin: 0;
	padding: 0 0 0 10px;
}
.headSearch input {
	border: 1px solid #aaaaaa; /* MODIFIER : mettre la bonne couleur pour la bordure du champs */
	font-family: Arial, sans-serif;
	font-size: 11px;
	color: #000000;
	margin: 0 10px 0 0;
	padding: 0 0 0 3px;
	height: 14px;
	width: 160px;
}
#submitSearch {
	border: 0; /* MODIFIER : mettre la bonne couleur pour la bordure du champs */
	height: 16px;
	width: 18px;
	margin: 0;
	padding: 0;
	background-color: #ebebeb;
	background-image: url(search_button.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
.headMenu {
	float: left;
	margin: 0 0 0 23px;
	padding: 12px 0 0 0;
	width: 513px;
	height: 25px;
	background-color: #6ab5dc;
	background-image: url(nav2_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	text-align:center;
	color: #ffffff;
}
.headMenu a, .headMenu a:link, .headMenu a:hover, .headMenu a:visited, .headMenu a:active {
	font-family: Arial, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.headMenu dl, .headMenu dt, .headMenu dd, .headMenu ul, .headMenu li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.headMenu dl {
	position: relative;
	display: inline;
}
.headMenu dt {
	position: relative;
	display: inline;
}
.headMenu dd {
	z-index: 10;
	background-color: #6ab5dc;
	position: absolute;
	left: 0;
	top: 11px;
	display: none;
	width: 18em;
	text-transform: none;
}
.headMenu dd a:hover {
	text-decoration: underline;
}

.headMenu li {
	display: block;
	width: 100%;
}
.headMenu li a {
	display: block;
	width: 100%;
	text-align: left;
}

.clear {
	clear: both;
	margin:0;
	height: 1px;
}
