A.liensActualites{
font-family:arial,sans-serif;
font-size:11px;
font-weight:bold;
color:#000000;
text-decoration:underline;
}

A:hover.liensActualites{
font-family:arial,sans-serif;
font-size:11px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.barreOutils{
font-family:arial,sans-serif;
font-size:10px;
color:#0181C8;
}

A.barreOutils{
font-family:arial,sans-serif;
font-size:10px;
color:#0181C8;
text-decoration:none;
}

A:hover.barreOutils{
font-family:arial,sans-serif;
font-size:10px;
color:#0181C8;
text-decoration:underline;
}

.mentionsLegales{
font-family:arial,sans-serif;
font-size:10px;
color:#AEAFB0;
}

A.mentionsLegales{
font-family:arial,sans-serif;
font-size:10px;
color:#AEAFB0;
text-decoration:underline;
}

A:hover.mentionsLegales{
font-family:arial,sans-serif;
font-size:10px;
color:#AEAFB0;
text-decoration:none;
}
