/* CSS ADD ON */

.Vote_Bulle {
	background: url(bulle.png) no-repeat;
	position: absolute;
	float: left;
	width: 86px;
	height: 34px;
}
.coeur_plein {
	cursor: default;
}

.coeur_vide {
	cursor: default;
}
.form_error {
	padding-top: 5px;
	font-size: 10px;
	font-weight: bold;
	color: red;
}

.take_all {
	height:13px;
	width:14px;
}

/* ma ville */
#ma_ville_menu {
	margin-left: 960px;
	position: absolute;
	background: white;
	border-bottom: 1px solid #555;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
	width: 165px;
	margin-top: 32px;
	list-style: none;
	overflow: hidden;
}

#ma_ville_menu ul {
	margin: 0;
	padding:0;
}
#ma_ville_menu li {
	width: 100%;
	border-bottom: 1px solid #ddd;
	margin: 0;
	padding: 0;
	padding: 3px 5px 3px 5px;
	font-size: 13px;
	list-style: none;
	cursor: pointer;
}

#ma_ville_menu li:hover {
	background: #F5F5F5;
	cursor: pointer;
}

/* DISABLE YAHOO STYLE FOR TOOLTIP */
.yui-skin-sam .yui-tt-shadow {
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: transparent;
}

.coeur_vide, .coeur_plein {
	cursor: pointer;
}

.yui-skin-sam .yui-tt .bd {
	background: url(bulle.png) top left no-repeat !important;
	background: url(bulle.png) top left no-repeat;
	border:0;
	margin: 0;
	width: 86px;
	text-align: center;
	margin-top: 0px;
	margin-left: -40px;
	padding: 11px 0px 5px;
	font: 12px Arial;
	color: #fff;
	font-weight: bold;
}

div.bloc-sidebar-artistes-bulle a span
{
	/*background: url(../images/pages/vote/bulle.png) top left no-repeat !important;
	background: url(../images/pages/vote/bulle.png) top left no-repeat;*/

	background-color: #555555;
	border: 2px outset #000000;
	padding: 5px;

	border:0;
	margin: 0;
	width: 100px;
	text-align: center;
	margin-top: -5px;
	margin-left: -35px;
	/*padding: 11px 0px 5px;*/
	font: 11px Arial;
	color: #fff;
	font-weight: bold;
	position: absolute;
	display: none;
}

div.bloc-sidebar-artistes-bulle a:hover span
{
	display: block;
}

div.bloc-sidebar-video-bulle a span
{
	/*background: url(../images/pages/vote/bulle.png) top left no-repeat !important;
	background: url(../images/pages/vote/bulle.png) top left no-repeat;*/

	background-color: #555555;
	border: 2px outset #000000;
	padding: 5px;

	border:0;
	margin: 0;
	width: 200;
	text-align: center;
	margin-top: -5px;
	margin-left: -35px;
	/*padding: 11px 0px 5px;*/
	font: 10px Arial;
	color: #fff;
	font-weight: bold;

	position: absolute;
	z-index: 5;
	display: none;
}

div.bloc-sidebar-video-bulle a:hover span
{
	display: block;
}

.choix h3 {
	color:#6C6467;
	font-size:11px;
}
.resultat_final h3 {
	font-size:11px;
}
.state h3 {
	font-size:11px;
	color:#333;
}

.choix h3 {
	color:#6C6467;
	font-size:11px;
}

.content_sidebar .choix h3 {
	color:#fff;
	font-size:11px;
}
.content_sidebar .resultat_final h3 {
	font-size:11px;
}
.content_sidebar .state h3 {
	font-size:11px;
	color:#fff;
}

.content_sidebar .choix h3 {
	color:#fff;
	font-size:11px;
}

.resultat_progress {
background:transparent url(progress-bar-background.png) no-repeat scroll 0 0;
display:block;
float:right;
height:12px;
vertical-align:middle;
width:73px;
}

.choix .resultat_line h3{float:left;}
.choix .resultat_progress{float:left;margin-bottom: 3px;vertical-align:middle;display:block;width:120px;height:12px;background:url(progress-bar-background.png) no-repeat;}
.choix .resultat_percent h3{width:34px;float:left; margin-bottom: 3px; margin-left: 5px;}
.choix .resultat_answer { width: 100%; clear: both; margin-bottom:2px }

.barre-page-lettre{float:right;padding:0 8px 0 0;width:500px;}
.barre-page-lettre{padding:2px 8px 0 0;}
.barre-page-lettre .fleche-gauche{float:right;}
.barre-page-lettre .fleche-gauche a{display:block;width:37px;height:18px;background:url(fleche-gauche.png.1) no-repeat;}
.barre-page-lettre .fleche-gauche a:hover{background:url(fleche-gauche-hover.png) no-repeat;}
.barre-page-lettre ul.pages{float:right;}
.barre-page-lettre ul.pages li{float:left;width:19px;height:18px;}
.barre-page-lettre ul.pages li a{display:block;width:19px;height:18px;line-height:18px;background:url(pages-a.png) no-repeat;font-size:.7em;text-align:center;}
.barre-page-lettre ul.pages li a:hover, .barre-page-lettre ul.pages li a.select{background:url(pages-a-hover.png) no-repeat;color:#fff;text-decoration:none;}
.barre-page-lettre .fleche-droite{float:right;}
.barre-page-lettre .fleche-droite a{display:block;width:37px;height:18px;background:url(fleche-droite.png.1) no-repeat;}
.barre-page-lettre .fleche-droite a:hover{background:url(fleche-droite-hover.png) no-repeat;}


.content_mise_en_page_titre .rating_search{right:11px;background:transparent url('background_rating.png') no-repeat 0 -21px;width:152px;height:51px;padding:4px 10px 0 10px;font:bold 9px Arial;float:right;}
.content_mise_en_page_titre .rating_search a{display:block;float:left;text-align:center;height:50px;margin-right:2px;}
.content_mise_en_page_titre .rating_search a:hover{color:#d81e4d;text-decoration:none;}

.barre-page-chiffre{float:right;padding:0 312px 0 0;width:200px;}
.barre-page-chiffre .fleche-gauche{float:right;}
.barre-page-chiffre .fleche-gauche a{display:block;width:37px;height:18px;background:url(fleche-gauche.png.1) no-repeat;}
.barre-page-chiffre .fleche-gauche a:hover{background:url(fleche-gauche-hover.png) no-repeat;}
.barre-page-chiffre ul.pages{float:right;}
.barre-page-chiffre ul.pages li{float:left;width:19px;height:18px;}
.barre-page-chiffre ul.pages li a{display:block;width:19px;height:18px;line-height:18px;background:url(pages-a.png) no-repeat;font-size:.7em;text-align:center;}
.barre-page-chiffre ul.pages li a:hover, .barre-page-lettre ul.pages li a.select{background:url(pages-a-hover.png) no-repeat;color:#fff;text-decoration:none;}
.barre-page-chiffre .fleche-droite{float:right;}
.barre-page-chiffre .fleche-droite a{display:block;width:37px;height:18px;background:url(fleche-droite.png.1) no-repeat;}
.barre-page-chiffre .fleche-droite a:hover{background:url(fleche-droite-hover.png) no-repeat;}

.input_texte {width:140px;color:#62595c;font-size:12px;}
.select_texte {color:#62595c;font-size:12px;width:74px;}
.select_texte_align {color:#62595c;font-size:12px;width:82px;}
.textarea_texte {width:225px;color:#62595c;font-size:12px;}
.color_mot_cle {color:#858585;}