/* Horizontal Carousel */
#horizontal_carousel {
  float: left;
  height: 160px;
  position: relative;
  background: #232323;
}

#horizontal_carousel_home {
  float: left;
  height: 160px;
  position: relative;
  background: #232323;
}

#horizontal_carousel #sub {
  background: url(backgroundCarousel3.png) repeat-x scroll 0 -21px;
}

#horizontal_carousel_home #sub {
  background: url(backgroundGris.png) repeat-x scroll 0 -21px;
}

#horizontal_carousel .container {
  float: left;
  height: 160px;
  position: relative;
  padding-top: 5px;
  overflow: hidden;
}


#horizontal_carousel_home .container  {
  float: left;
  height: 160px;
  position: relative;
  padding-top: 5px;
  overflow: hidden;
}

#horizontal_carousel ul, #horizontal_carousel_home ul {
  margin: 0;
  padding:0;
  width: 100000px;
  position: relative;
  top: 0;
  left: 0;
  padding-top:37px;
  height: 160px;
}                      

#horizontal_carousel ul li, #horizontal_carousel_home ul li {
  text-align: center; 
  list-style:none;  
  margin-left: 5px; 
  margin-right: 5px; 
  width: 92px;
  float:left;
}

#horizontal_carousel ul li img, #horizontal_carousel_home ul li img {
	height:65px;
	width:82px;
	border: 5px solid #fff;
}
	

#horizontal_carousel .previous_button, #horizontal_carousel_home .previous_button {
  float:left;  
  width: 32px;
  height: 55px;
  margin-top: 60px;
  margin-left: 9px;
  margin-right: 2px;
  background: url(fleche-gauche.png) no-repeat;
  z-index: 100;
  cursor: pointer;
}

#horizontal_carousel .previous_button_over,  #horizontal_carousel_home .previous_button_over {
  background: url(fleche-gauche.png) no-repeat;
}

#horizontal_carousel .previous_button_disabled,  #horizontal_carousel_home .previous_button_disabled {
  background: 0;
  cursor: default;
}

#horizontal_carousel .next_button, #horizontal_carousel_home .next_button {
  float:left;  
  width: 32px;
  margin-left: 10px;
  height: 55px;
  margin-top: 60px;
  background: url(fleche-droite.png) no-repeat;
  z-index: 100;
  cursor: pointer;
}

#horizontal_carousel .next_button_over, #horizontal_carousel_home .next_button_over {
  background: url(fleche-droite.png) no-repeat;
}

#horizontal_carousel .next_button_disabled, #horizontal_carousel_home .next_button_disabled {
  background: 0;
  cursor: default;
}

