.carousel-display{font:12px Trebuchet MS;}
.carousel-display li p{padding:2px 4px;color:#fff;}
.carousel-display a, .carousel-display a:visited {color:#7897A4;}
.carousel-display h1{left:10px;top:3px;color:#fff;text-transform:uppercase;font-size:11px;font-weight:bold;z-index:100;}
.carousel-display h1 a,.carousel-display h1 a:visited {color:#fff;}
.carousel_1{background:url(backgroundGris.png) no-repeat;/*margin:0 2px 0 3px;*/}
.carousel_1 span{color:#fff;font:10px Trebuchet MS;display:block;}
.carousel_2{background:url(backgroundGris.png) no-repeat;}
.carousel_2 span{display:none;}
.carousel_3{background:#232323 url(backgroundCarousel3.png) repeat-x;}
.carousel_3 span{font:10px Trebuchet MS;display:block;}
.carousel_4{background:#FFF;}