#items_mea{position:relative;height:242px;padding:0px;}
#items_mea ul{position:absolute;right:1px;width:234px;height:100%;}
#items_mea li{padding:16px 12px 8px 24px;font-size:10px;line-height:16px;background:#000;color:#888888;cursor:pointer;background:url('mea-bg-li-off.png') no-repeat right 0;text-transform: uppercase;font-weight:700;}
#items_mea li.active{background:url('mea-bg-li-on.png') no-repeat right 0;color:#fff;padding:16px 12px 8px 24px;font-weight:bold;font-size:12px;}
#items_mea div.bloc{display:none;background:#000;height:240px;background-repeat:no-repeat;position:absolute;width:682px;}
#items_mea div.accroche_description{position:absolute;bottom:0px;width:469px;height:60px;background:url('mea-bg-accroche.png');padding-top:1%;}
#items_mea div.accroche_description div.links{height:20px;padding:0 3px 3px 13px;margin-top:1%;}
#items_mea div.accroche_description h2{padding-left:19px;height:28px;color:#fff;font-size:14px;font-weight:600;text-transform: uppercase;}
#items_mea div.accroche_description div.links a{font-size:10px;color:#fff;margin-right:12px;padding:4px 0 4px 6px;font-weight:700;background:url('mea-picto-liens.png') no-repeat left center;text-transform: uppercase;}