﻿/* BASIC TAGS */
body {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}

img {
	border-width: 0;
}


/* 0 - ZONE */
.zoneBody {
	width: 1003px;
	margin-right: auto;
	background-image: url(mainFond.gif);
	background-repeat:repeat-y;
}
.zoneHeader {
	background-image: url(header.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	position: relative;
	height: 147px;
}
.zoneMenu {
	position: relative;
	height:26px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.zoneRecherche {
	position:absolute;
	top: 8px;
	left: 823px;
}
.zonePage {
	width:100%;
	background-image: url(gaucheFond.gif);
	background-repeat:no-repeat;
	background-position: 182px 0px;	
}
.zoneHaut {
	float:left;
	display:inline-block;
	height: 33px;
	width: 585px;
	background-color: White;
	background-image: url(hautFond.gif);
	background-repeat:no-repeat;
	background-position:right top;
}
.zoneContext {
	float:left;
	display:inline-block;
	height: 33px;
	width: 585px;
	background-image: url(pixelVert.gif);
	background-repeat:repeat-x;
	background-position:left bottom;	
}
.zoneMapPath 
{
	float:left;
	height: 32px;
	padding-left: 3px;
	width: 490px;
	vertical-align: middle;
}
.zoneImprimer {
	float:left;
	height: 33px;
	width: 95px;
	background-image: url(ImprimerOff.gif);
	background-repeat:no-repeat;
	background-position:right;		
}
.zoneImprimer:hover {
	background-image: url(ImprimerOn.gif);
}

.zoneEspacePrive {
	float:left;
	width: 180px;
	height: 33px;
}
.zoneGauche {
	width: 238px;	
	vertical-align: top;
}
.zoneGaucheCartouche {
	vertical-align: bottom;
}
.zoneMain {
	vertical-align: top;
}
.zoneContent 
{
	float:left;
	display: block;
	width: 100%;
    min-height :350px;
    height: auto !important;
    height: 350px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.zoneFooter {
	height:25px;
	vertical-align: bottom;
}
.zoneFooter DIV {
	position:relative;
	width:800px;
	height:24px;
	margin-left:-35px;
}



/*  HEADER */
a.nomSite, a.nomSite:visited, a.nomSite:hover {
	position: absolute;
	display: block;
	left: 14px;
	top: 10px;
	width:180px;
	height:132px;
}


/*  MENU */
.staticMenu 
{
	border-collapse:collapse;
	width:784px;
	height:28px;
	margin: 0px 0px 0px 24px;
}  
.staticMenuItem 
{
	height:28px;
	text-align:center;
	text-transform: uppercase;
	padding-left: 4px;
	padding-right: 4px;
}
.dynamicMenu {
	padding: 2px 0px 0px 0px;
	margin-top:3px !important;
	margin-top:5px ;
	position:absolute;
	z-index:1000;
	min-width: 140px;
}
TABLE.dynamicMenuItem {
	padding: 0px 6px 1px 2px;
	width:100%;
}
A.dynamicMenuItem  
{
	display: block;
	width: 100%;
	margin-right: 20px;
}
A.dynamicMenuItemWithChild  {
	background-image: none;
}
A.dynamicMenuItemWithChild:Hover{
	background-image: url(mnuDynamicPopOut.gif);
	background-position: right center;
	background-repeat: no-repeat;
}
DIV.dynamicMenuNiveau1 {
}
DIV.dynamicMenuNiveau2 {
	margin-top: -3px;
}

/* SOUS MENU */
DIV.SousMenu 
{
	width:216px;
	margin-left: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
}
UL.SousMenu 
{
	display: block;
	padding:0px;
	margin:0px;
	width:150px;
	margin-top: 20px;
	margin-left: 14px;
	list-style-type:none;
	list-style-position:inside;
}
UL.SousMenu LI
{
	display: block;
	padding:0px;
	margin:0px;
	margin-bottom: 10px;
}
UL.SousMenu LI A, UL.SousMenu LI A:active, UL.SousMenu LI A:visited, UL.SousMenu LI A:hover 
{
	display: block;
	padding:0px;
	margin:0px;	
	padding-left: 24px;
	margin-bottom: 6px;

	background-repeat:no-repeat;
	background-position: 0px  0px;	

	text-decoration:none;	
	text-indent:0px !important;	
	text-indent:-16px;	
}
UL.SousMenu LI A.SousMenuItem,  UL.SousMenu LI A.SousMenuItem:visited, UL.SousMenu LI A.SousMenuItem:hover 
{
	background-image : url(mnuPuceOff.gif);
}
UL.SousMenu LI A.SousMenuItem:hover, 
UL.SousMenu LI A.SousMenuItemSelected 
{
	background-image : url(mnuPuceOn.gif);
}

UL.SousMenu1
{
	display: block;
	padding:0px;
	margin:0px;
	list-style-type:none;
	list-style-position:inside;
}
UL.SousMenu1 LI
{
	display: block;
	padding:0px;
	margin:0px;
	margin-left: 24px;
}
UL.SousMenu1 LI A,  UL.SousMenu1 LI A:visited, UL.SousMenu1 LI A:hover, UL.SousMenu1 LI A:hover 
{
	display: inline;
	padding:0px;
	margin:0px;
	font-size: 10px;
	background: none;
}
UL.SousMenu1 LI A.SousMenuItem,  UL.SousMenu1 LI A.SousMenuItem:active, UL.SousMenu1 LI A.SousMenuItem:visited, UL.SousMenu1 LI A.SousMenuItem:hover,
UL.SousMenu1 LI A.SousMenuItemSelected 
{
	background: none;
}

	
/* MAP PATH */
.MapPath 
{
	
}
.ContextTitre
{
	display:block;
}
	
/* FOOTER */
UL.Footer {
	padding:0px;
	margin:0px;
	margin-top: 5px;
	list-style-type:none;
	list-style-position:inside;
}
UL.Footer LI {
	float:left;
	padding:0px;
	margin:0px;
	padding-left:16px;
	padding-right:16px;
}
UL.Footer LI A,  UL.Footer LI A:visited, UL.Footer LI A:hover {
	display: block;
	padding:0px;
	margin:0px;		
}

/* CARTOUCHE ACTUALITE */
.CartoucheActu
{
	margin-top: 10px;
	margin-left: 16px;
	width: 216px;	
}
.CartoucheActuVignette 
{
	margin-left: 8px;
	margin-bottom: 10px;
}
.CartoucheActuItemOff, .CartoucheActuItemOn {
	width:200px;
	margin-left: 6px;
	margin-bottom: 8px;
	background-repeat:no-repeat;
	background-position: 0px  0px;	
	background-image : url(mnuPuceOff.gif);		
}
.CartoucheActuItemOn 
{
	background-image : url(mnuPuceOn.gif);	
}
.CartoucheActuTitre {
	padding-left:18px;
	display: block;
	width:150px;
	margin-bottom: 8px;
}
.CartoucheActuResume {
	display: block;
	width:150px;
	margin-bottom: 4px;
	margin-left: 14px;
}
A.CartoucheActuLien,  A.CartoucheActuLien:visited, A.CartoucheActuLien:hover {
	display: block;
	width:200px;
	margin-bottom: 4px;
	margin-left: 14px;
}
A.CartoucheActuArchives,  A.CartoucheActuArchives:visited, A.CartoucheActuArchives:hover 
{
	display:block;
	margin-top: 16px;
	margin-left: 20px;
}
/* RECHERCHE */
.zoneRecherche .tbRecherche {
	width: 130px;
	padding-left: 7px;
}
.zoneRecherche .btnRecherche 
{
	width: 24px;
	height: 20px;	
	margin-left: 6px;
}	
/* ESPACE PRIVE */
.zoneEspacePrive A,  .zoneEspacePrive A:visited 
{
	display: block;
	margin-top: 8px;
	margin-left: 50px;	
}

/* PAGE - ACCUEIL */
.zoneContentAccueil {
	margin-top: -10px;
}
.zoneAccueilMain {
	float: left;
	width:571px;
}
.zoneAccueilMain .CartoucheAccueil1 {
	width: 100%;
	margin-bottom: 20px;
}
.zoneAccueilMain .CartoucheAccueil2 {
	width: 100%;
}
.zoneAccueilDroit {
	float: left;
	width: 182px;
	margin-left: 12px;
	margin-top: 24px;
}
.CartoucheDroit {
	margin-bottom: 24px;
}
.CartoucheDroit P {
	margin-left: 8px;
	margin-right: 16px;
	margin-bottom: 8px;
}
.CartoucheDroit .Lien {
	font-size: 11px;
}
.CartoucheAccueilEntreprise H2 {
	margin-bottom: 8px;
}
.CartoucheAccueilNewsLetter H2 {
	margin-bottom: 4px;
}


/* PAGE - ACTUALITES */
.Actualites 
{
	width:571px;
}
.Actualites .ActuImage 
{
	width: 120px;
	text-align: center;
	vertical-align: top;
	padding-right: 10px;
	padding-bottom: 20px;
	
}
.Actualites .ActuContenu 
{
	padding-bottom: 20px;
}


/* PAGE - PLAN DU SITE */
.PlanDuSite 
{
	width:571px;	
}
.PlanDuSite .RubriqueNiveau1
{
	display:block;
	font-weight: bold;
	margin-top: 8px;
}
