﻿
/*--------------------------------------------------
ul.MenuStatic#Menu{
	z-index:1000;
	list-style-type:none;
	list-style-position:inside;	
	width:784px;
	height:26px;	
	margin: 0px 0px 0px 24px;
	border-left: solid 1px #A2AFAE;	
	position:absolute;
	padding: 0;
}
ul.MenuStatic#Menu li 
{
	float:left;
	height:26px;
	text-align:center;
	text-transform: uppercase;
	border-right: solid 1px #A2AFAE;
	padding-left: 8px;
	padding-right: 8px;	
}
ul.MenuStaticMenu li a,  ul.MenuStatic#Menu li a:active, ul.MenuStatic#Menu li a:visited, ul.MenuStatic#Menu li a:hover  {
	display: block;	
}

/*--------------------------------------------------
#Menu ul.MenuDynamic
{
	z-index:1000;
	list-style-type:none;
	list-style-position:inside;		
	position:absolute;
	display:none;
	padding: 4px;
}
#Menu ul.MenuDynamic li{
	float:none;
	display:block;
	padding: 0;
	margin:0 !important;
	min-width:150px;
	width:auto !important;
	width:150px;
	margin-left:-16px;
	height: 8px;
	text-align: left;
	border-style:none;
}
#Menu ul.MenuDynamic li a, #Menu ul.MenuDynamic li a:active, #Menu ul.MenuDynamic li a:visited, #Menu ul.MenuDynamic li a:hover {
	background-image:none;
	display:block;
	width:auto;

}
#Menu ul.MenuNiveau2 
{
	margin-left: -8px;
	margin-top:5px;
}
#Menu ul.MenuNiveau3
{
	margin-top:-1px;
}


/*--------------------------------------------------

ul.MenuStaticMenu li a,  ul.MenuStatic#Menu li a:active, ul.MenuStatic#Menu li a:visited, ul.MenuStatic#Menu li a:hover  {
	color:White;	
	text-decoration:none;
}
ul.MenuStatic#Menu li a:hover {
	color:#BDDFE0;	
}
#Menu ul.MenuNiveau2 {
	background-color: #AACFD6;
}
#Menu ul.MenuNiveau2 li a,  #Menu ul.MenuNiveau2 li a:active, #Menu ul.MenuNiveau2 li a:visited, #Menu ul.MenuNiveau2 li a:hover  {
	text-decoration: none;
	color:black;	
}
#Menu ul.MenuNiveau3 {
	background-color: #009082;
}
#Menu ul.MenuNiveau3 li a,  #Menu ul.MenuNiveau3 li a:active, #Menu ul.MenuNiveau3 li a:visited, #Menu ul.MenuNiveau3 li a:hover  {
	text-decoration: none;
	color:white;
}


/*--------------------------------------------------*/