/* = Gestion de la feuille d’impression = */
	
	.logo_print {
		border: 1px #ccc solid;
		display: block!important;
		}
	
	#topHeader, #MenuSolutions, 
	#contentPage #left, #logo, #ariane,
	#footer, #debug {display: none;}

	table {width: 100%;}
	table th {}
	table tr.pair {
		background-color:#E7EEF6;
		}
	.fieldValid input, 
	.fieldValid button, 
	.fieldValid a.button_basicform {
		float:right;
		color:#000!important;
		cursor:pointer;
		margin:0 1em 0 0;
		padding:0.2em;
		text-align:center;
		text-decoration:none;
		background-color:#ccc!important;
		}
		
	#contentPage #intro,
	#events, #extended,
	.article {width: 100%!important;}
	
	
	.extended {display: block!important;}
	