/* = Html = */
	html, body {margin:0; padding:0;}
	body#home {background: #BED1E6 url(bgHtml.gif) repeat-x scroll 0 0;}
	body#generique {background: #BED1E6 url(bgHtmlPage.gif) repeat-x scroll 0 0;}

/* = Commun = */
	.break, .clear {clear:both; height: 1px; overflow: hidden;}
	.hidden {display: none}
	p {line-height: 135%;}
	
	.separator, .separatorWhite {
		margin: 5px 0 5px 0;
		display: block; height: 0px; 
		overflow: hidden;
		clear: both;
		}
	.separator {border-bottom: 1px #ccc solid;}	
	.largeur100pct { display:block;width:99%;}
	div.object-center /* 33% = approximatif */ {
		/*float: right; */clear: right;
		text-align: center;
		margin: 0.25em 0.25em 0.25em 0.25em;
		}
	a.return {
		display: block;
		text-align: right; color:#2F7CF8;
		text-decoration: none;
		padding: 0 15px 0 0!important;
		background: transparent url(flcSui.gif) no-repeat right;
		}
	.imagecenter {/*text-align: center; border: 1px red solid; margin:0; padding:0;*/}
	.imagecenter img {}
	
	.logo_print {display: none;}
			
/* = Debug = */
	.debug {
		/*background: transparent url(../images/12_col.png) repeat-y;*/
		}
	.container_12 {
		position: relative;
		/*background: transparent url(../images/bgBody.jpg) no-repeat 0 112px;*/
		}
		
/*habillage*/
	#main_container {
		position: relative; 
		width: 960px;
		}
	body#generique #main_container {
		width: 940px;
		background: transparent url(bgRepeatMainGene.gif) repeat-y 0 0;
		}
	body#home #main_container #row {
		width:940px; 
		background: transparent url(bgRepeatRowHome.gif) repeat-y 0 0;
		}
	#habillage {
		width: 940px; z-index: 1000;
		background: transparent url(bgTopMainHome.gif) no-repeat top left!important;
		}
	body#home #habillage {padding: 0 0 1.6em 0;}
	body#generique #habillage {	padding: 0 0 2em 0;}
	body#generique #contentPage {
		background: transparent url(bgTopContentPage.gif) no-repeat 0 0;
		}

/* = Arrondis*/
	.rounded, .roundedContact {
		margin:0;
		position: relative;
		}
	.tl, .tr, .bl, .br {
		position: absolute; 
		width: 8px; height: 8px;
		}
	.tl {background: transparent url(TopLeft.png) no-repeat 0 0;}
	.tr {background: transparent url(TopRight.png) no-repeat 0 0;}
	.bl {background: transparent url(BottomLeft.png) no-repeat 0 0;}
	.br {background: transparent url(BottomRight.png) no-repeat 0 0;}
	
	.roundedContact .tl, .roundedValid .tl {background: transparent url(TopLeftC.png) no-repeat 0 0;}
	.roundedContact .tr, .roundedValid .tr {background: transparent url(TopRightC.png) no-repeat 0 0;}
	.roundedContact .bl, .roundedValid .bl {background: transparent url(BottomLeftC.png) no-repeat 0 0;}
	.roundedContact .br, .roundedValid .br {background: transparent url(BottomRightC.png) no-repeat 0 0;}
	
	.tr, .br {right: 0}
	.tl, .bl {left: 0}
	.tl, .tr {top: 0}
	.bl, .br {bottom: 0}

/* = HEDADER */
	
	/* = header */
	body#home #header  {height: 115px}
	body#generique #header {height: 160px}
	
	a#logo, h1.h1Header {position: absolute;}
	a#logo {
		z-index: 1000;
		top: 0; left: 5px;
		width: 228px; height: 125px;
		background: transparent url(logo.png) no-repeat 0 0;
		}
	h1.h1Header {
		z-index:1;
		top: 42px; left: 240px;
		width: 685px; height: 62px;
		background: transparent url(h1CCI.gif) no-repeat 0 0;
		}
	body#generique h1.h1Header {display: none;}
		
	/* = navTop */
	#topHeader {
		position: relative;
		z-index: 1000;
		margin: 0 0 0 225px;
		width: 715px; height: 24px;
		background: transparent url(bgHtml.gif) repeat-x scroll 0 0;}
		}
	#navTop {
		float: left;
		margin:0;
		/*padding:0 0 0 220px;*/
		}
	#navTop li {
		float: left;
		position: relative;
		/*height: 1%; */
		}
	#navTop li a {
		cursor: pointer;
		display: block;
		width: 125px; height: 20px;
		font-size: 100%; color:#fff;
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
		padding: 4px 0 0 0;
		margin-right: 1px;
		}
	#navTop li.last a {margin:0;}
	
	/* niveau 2 */
	#navTop .niv2 {
		z-index: 1000;
		position: absolute;
		top: 28px;
		padding: 0 0 5px 0;
		margin:0;
		background-color:#C8012C!important;
		}
	#navTop .niv2 li {
		height: auto;
		float: none;
		}
	#navTop .niv2 li a {
		display: block;
		width: 115px;
		height: auto;
		padding: 5px 5px 0 5px;
		font-size: 77%;
		color:#fff;
		background-image: none;
		}
	
	/*= rechercheMode */
	#rechercheMode {
		float: right;
		right: 10px; top: 0;
		padding: 5px 0 0 25px;
		width: 285px; height: 19px;
		background: transparent url(bgSearchLeft.gif) no-repeat 0 2px;
		
		}
	#rechercheMode label,
	#rechercheMode input,
	#rechercheMode button {float: left}
	#rechercheMode label,
	#rechercheMode input {font-size: 85%;}
	#rechercheMode label {
		color:#fff;
		padding: 0 5px 0 0;
		}
	
	#rechercheMode input {
		border: 1px #6F6F6F solid;
		width: 140px; padding: 0 5px 0 5px;
		}
	#rechercheMode button {
		display: block; border:0;
		margin: -3px 0 0 0;
		text-indent: -1000em;
		width: 32px; height: 24px;
		background: transparent url(buttonOk.gif) no-repeat 0 0;
		cursor: pointer;
		}

	/* flashHome */
	#flashHome {
		/*width: 940px; height: 245px;*/
		/*margin: 90px 0 0 0;*/
		/*margin: 0 0 10px 0;*/
		}
	#flashHome img {display: block; margin:0;}
	
	/*MenuSolutions*/
	#MenuSolutions {
		position: absolute;
		left: 240px; top: 41px;
		width: 720px;
		}
	#MenuSolutions h2 {
		display: block;
		width: 220px; height: 32px;
		background: transparent url(h1SolutionsPlus.gif) no-repeat 0 0;
		border-bottom: 1px #BECCE3 solid;
		}
	#MenuSolutions li {float: left; margin: 0 2px 0 0;}
	#MenuSolutions li a {
		display: block;
		text-indent: -100em;
		width: 175px; height: 120px;
		}
	#MenuSolutions li a.menSol1 {
		background: transparent url(solu1.gif) no-repeat 0 0;}
	#MenuSolutions li a.menSol2 {
		background: transparent url(solu2.gif) no-repeat 0 0;}
	#MenuSolutions li a.menSol3 {
		background: transparent url(solu3.gif) no-repeat 0 0;}
	#MenuSolutions li a.menSol4 {
		background: transparent url(solu4.gif) no-repeat 0 0;}

	#MenuSolutions li.current a.menSol1,
	#MenuSolutions li.current a.menSol2,
	#MenuSolutions li.current a.menSol3,
	#MenuSolutions li.current a.menSol4, 
	#MenuSolutions li a:hover {background-position: 0 -120px;}
	
	/* résultat de la recherche */
	.content-search {padding: 0 0 1em 0;}
	.content-search h1 {color:#000;}
	.content-search input {
		float: left;
		padding: 0.2em;
		font-size: 93%;
		border: 1px #ccc solid;
		}
	.content-search input.button {
		color:#fff;
		margin: 0 0 0 10px;
		border:0; padding: 0.2em;
		background-color:#0B4182;
		}
	.content-search input.button:hover {}
	
	.feedback {
		margin: 0.5em 0 0.1em 0;
		padding: 0.5em;
		font-size: 85%;
		background-color:#E7EEF6;
		}
	.feedback h2,
	.warning h2 {padding:0!important}
		
	ul.listing_warning li {
		color:#D90058;
		font-size: 85%;
		list-style-type: disc;
		list-style-position: inside;
		}

	.search_item {
		padding: 0 0 0.2em 0;
		border-top: 1px #ccc solid;
		}
	.search_item a {
		display: block;
		text-decoration: none;
		padding: 0 0 0 15px;
		background: transparent url(flcSearch.gif) no-repeat -3px -2px;
		}
	.search_item a:hover {
		color:#fff;
		background-color: #BBD0E6;
		}
		
/* pages génériques */
	#main_container {z-index:1; /*background-color:#fff*/}
	#main_container #left {
		padding: 0 0 5em 0;
		background-color:#AAD3FF;
		}
	#main_container #left h2 {cursor: pointer;}
	
/* decouvrir */
	#decouvrir {
		margin: 0 0 20px 0;
		background-color:#003284;
		}
	#decouvrir img {padding: 10px;}
	#decouvrir #modeCarte {padding: 0 10px 10px 10px;}
	
	/*home*/
	body#home #decouvrir {
		width: 220px;
		border:0;
		}
	body#home #decouvrir h2 {
		display: block;
		margin:0;
		text-indent: -1000em;
		width: 220px; height: 75px;
		background: #134082 url(h2Decouvrir.gif) no-repeat 0 0;
		}		
	
	/*generique*/
	#decouvrir .container {
		width: 200px; 
		background-color:#003284;
		}
	body#generique #decouvrir h2 {
		display: block;
		padding: 12px 50px 12px 10px;
		color:#fff; font-size: 108%;
		width: 160px;
		background: #003284 url(h1DecouvrirPlus.gif) no-repeat 0 0;
		}
	#decouvrir h2.moins {
		background: transparent url(h1DecouvrirMoins.gif) no-repeat -1px 0!important;}
		
	#decouvrir h3 {color:#96C8FF; font-size: 100%;}
	#decouvrir select {
		width: 195px; 
		font-size: 85%;
		color:#0B4182;
		margin-top: 3px;
		}

/* articles / home */

	/*home*/
	body#home #news #colA,
	body#home #news #colB {
		float: left; width: 220px;
		}
	body#home #news #colA {margin: 0 20px 0 0;}
	body#home #news h2 {
		display: block;
		width: 410px; 
		font-size: 150%;
		margin: 1px 0 0 0;
		padding: 25px 0 10px 50px;
		background: transparent url(itemH1Une.gif) no-repeat 0 0;
		}
	
	body#home #news #content {
		position: relative;
		float: left;
		background: transparent url(bgRepeatColAHome.gif) repeat-y -20px 0;}
	
	/*generique*/
	#news {padding: 0}
	#news h2 {
		display: block;
		font-size: 130%; color:#093B7E;
		padding: 10px 0 0 45px;
		width: 175px; height: 24px;
		background: transparent url(h1UnePlus.gif) no-repeat 0 0;
		}
	#news h2.moins {
		background: transparent url(h1UneMoins.gif) no-repeat 0 0;
		}	
	#news .container {
		padding: 0.5em; margin:0;
		border: 1px #BACFE6 solid;
		background-color:#7FB0E3;
		}

	#news .article {
		text-align: justify;
		padding: 0.5em 0 1em 0;
		}
	#news h3, #news a {color:#000;}
	#news h3 {
		font-size: 93%;
		padding: 0 0 0.3em 0;
		font-weight: bold;
		}
	#news p {
		font-size: 85%; color:#666;
		padding: 0.3em 0 0.3em 0;
		}
	#news .container p {color:#000;}
	#news a.more,
	#news a.all {
		margin: 12px 0 0 0;
		display: block; text-align: right;
		font-size: 85%;color:#103184;
		}
	#news a.all_news {
		float: right;
		display: block; width: 175px; height: 23px;
		text-align: center;  padding: 7px 0 0 0;
		font-size: 100%; color:#093B7E;
		margin: 20px 0 0 0;
		text-decoration: none; font-weight: bold;
		background: transparent url(all_news.gif) no-repeat 0 0;	
		}
		
/* = agenda*/
	
	/* scroll */
	#agenda_cycle {/*position:relative;height:50px;*/}
	
	/*home*/
	body#home #agenda {
		margin: 0 0 0 5px;
		overflow: hidden;
		width: 210px;
		}
	body#home #agenda h2 {
		height: 20px; 
		color:#093B7E;font-size: 130%;
		width: 155px!important;
		padding: 5px 0 3px 55px;
		background: #B3C9E1 url(itemH2AgendaHome.gif) no-repeat 0 0!important;
		}
	
	/*generique*/
	body#generique #agenda h2 {
		display: block;
		color:#093B7E; font-size: 130%;
		padding: 10px 0 0 45px;
		width: 175px; height: 24px;
		background: transparent url(h1AgendaPlus.gif) no-repeat 0 0;
		}
	#agenda h2.moins {
		background: transparent url(h1AgendaMoins.gif) no-repeat 0 0;
		}
	#agendaContent {
		padding: 0.5em; margin:0;
		background-color:#F2F6FA;
		}
	#agenda .container #agendaContent {background-color:#B2C9E1;}
	#agendaContent a {text-decoration: none;}
	#agendaContent p {	
		color:#666;
		font-size: 85%;
		padding: 0 0 5px 15px;
		background: transparent url(flcLink.gif) no-repeat 0 0;
		}
	#agendaContent p span {
		display: block;
		color:#000;
		font-weight: bold;
		}
	#agendaContent p span.titre {
		color:#666;
		font-weight:normal;
		}
	#agendaContent a.all {
		display: block;
		text-align: right;
		}
		
/* entreprise Vendée*/
	#entrepriseVendee {
		border: 1px #A11E26 solid;
		margin:10px 0 10px 0;
		padding: 10px 0 0 0;
		background-color:#FAD2BE;
		}
	body#home #entrepriseVendee {
		position: relative; clear: both;
		margin: 10px 0 10px 0;
		}
	#entrepriseVendee img {width: 198px; margin: 0 0 0 10px;}
	#entrepriseVendee img {/*display: block; margin:0; padding:0;*/}
	#entrepriseVendee h2 {display: none!important;}
	#entrepriseContent {
		/*border-top: 1px #A11E26 solid;*/
		padding: 10px;
		}
	
	#entrepriseContent h3 {font-size: 108%;}
	#entrepriseContent a {
		display: block; text-align: right;
		font-size: 85%; color:#A11E26;
		margin: 0 0 5px 0;
		}
	
/* catalogues liste*/
	.catalogue {margin: 10px 0 0 0; padding: 0 0 10px 0; border-bottom: 1px #ccc dotted;}
	.images_catalogue, .content_catalogue {float: left;}
	.images_catalogue {padding: 0 1em 0 0;}
	.images_catalogue img {display: block;} 
	.content_catalogue {}

/*----------------------------*/
/* tools */
	
	/*home*/
	body#home #tools {
		padding: 0 0 225px 0;
		/*background: #188AD9 url(../images/bgBottomTools.gif) no-repeat bottom;*/
		}
	#habllage_left {}
	.right_home {}
	body#home #tolls {padding: 0 0 10px 0;}
	body#home #tools h2 {
		padding: 20px 0 5px 55px;
		width: 165px;
		background: transparent url(h1Outils.gif) no-repeat 0 0;
		}
	
	/*génrique*/
	#tools {background-color:#188AD9;}
	#tools h2 {
		display: block;
		color:#fff;
		font-size: 120%;
		font-weight: bold;
		margin: -1px 0 0 0;
		padding: 10px 0 0 45px;
		width: 175px; height: 25px;
		background: transparent url(h1ToolsPlus.gif) no-repeat 0 0;
		}
	#tools h2.moins {background: transparent url(h1ToolsMoins.gif) no-repeat 0 0;}
	
	#tools ul {margin:7px 0 7px 0;}
	#tools ul li {
		height: 1%;
		margin: 0 0 3px 0;
		}
	#tools ul li a {
		display: block;
		width: 200px;
		padding: 0 0 0 20px;
		margin:0;
		text-decoration: none;
		font-size: 85%; color:#fff;
		background: transparent url(itemTool.gif) no-repeat 0 2px;
		}
	#tools ul li.focus a {
		font-weight: bold;
		text-decoration: underline;
		}
	
	/*poser*/
	div a.poser {
		display: block;
		margin: -215px 0 0 0;
		text-indent: -1000em;
		width: 220px; height: 57px;
		background: transparent url(h1PoserPage.gif) no-repeat 0 0;
		}
	body#home div a.poser {
		/*position: absolute; bottom: 40px; right: 10px;*/
		background: transparent url(h1PoserPage.gif) no-repeat 0 0;
		}
	body#generique div a.poser {
		margin: 0;
		height: 42px!important;
		}
	body#generique #tools .container {padding: 0 0 5px 0;}
	#tools .current {font-weight: bold;}
		
/*---------------------*/
/* autres */
	
	/*home*/
	body#home #autres h2 {
		width: 200px; 
		padding: 10px 0 0 20px;
		background: transparent url(h1AutreRepeat.gif) repeat-x 0 0;
		}
		
	/*générique*/
	#autres {margin:0;padding:0;}
	#autres h2 {
		display: block;
		color:#093B7E;
		font-size: 120%;
		padding: 10px 0 0 45px;
		width: 175px; height: 24px;
		background: transparent url(h1AutresPlus.gif) no-repeat 0 0;
		}
	#autres h2.moins {background: transparent url(h1AutresMoins.gif) no-repeat 0 0;}
	
	#autres ul, #autres ul li {margin:0;}
	#autres ul li {border-bottom: 1px #AAD4FD solid;}
	#autres ul li a {
		display: block;
		width: 200px; 
		padding: 0.5em 0 0.5em 20px;
		font-size: 93%; color:#103184;
		text-decoration: none;
		background: #73AFFF url(flcBlue.gif) no-repeat 4px 8px;
		}

/* extranet */
	body#generique #extranetAcces {/*bottom:52px; left: 10px;*/}
	#extranetAcces h2 a {
		position: absolute; 
		display: block; 
		width: 220px; height: 50px;
		text-indent: -1000em;
		}
	body#home #extranetAcces {}
	body#home #extranetAcces h2 a {
		bottom: 50px;
		background: transparent url(h2ExtranetHome.gif) repeat-x 0 0;
		}
	body#generique #extranetAcces {}
	body#generique #extranetAcces h2 a {
		bottom: -20px;
		background: transparent url(h2Extranet.gif) repeat-x 0 0;
		}
	
/*-------------------------------*/
/* = Contenu = */

	/* = ariane = */
	#ariane {
		padding: 0 0 5px 0;
		margin: 1em 0 1em 0;
		border-bottom: 1px #9AB9DC solid;
		}
	#ariane li {
		display: inline;
		color:#10367B;
		}
	#ariane li a {
		font-size: 100%;
		color:#0B4182;
		padding: 0 0 0 10px;
		background: transparent url(flcRed.gif) no-repeat 0 2px;
		}
	#ariane li.ariane_nolink {
		padding: 0 0 0 10px;
		background: transparent url(flcBlueF.gif) no-repeat 0 2px;
		}
	
	/* = wisi = */
	.wisi {/*text-align: justif;*/}
	.wisi h1 {
		font-size: 150%;
		color:#0B4182;
		font-weight: bold;
		padding: 0.2em 0 1em 0;
		}
	.wisi h1 a {
		color:#0B4182;
		text-decoration: none;
		}
	.wisi h2,
	.wisi h2 a {color:#05377b}
	.wisi h2 {font-size: 130%}
	.wisi h2 a {font-size: 100%}
	
	.wisi h2 a.top {
		position:absolute; right: 10px;
		padding: 0 10px 0 0;
		font-size: 77%; color:#C8002C;
		text-decoration: none;
		background: transparent url(flcTop.gif) no-repeat right;
		}
	
	.wisi h2, .wisi h3, .wisi h4,
	.wisi h5, .wisi h6 {padding: 0.5em 0 0.5em 0;}
	
	.wisi h3 {
		font-size: 125%; 
		color:#188AD9;
		font-weight: bold;
		margin: 0 0 5px 0;
		/*padding: 0 0 0 1em;*/
		}
	.wisi h4 { font-size: 100%; color:#048FFD;} 
	#newsletterForm h4 {font-weight: bold;}
	
	.wisi p, .wisi li {font-size: 85%; color:#666;}
	.wisi p {
		/*clear: both;*/
		padding: 0 0 0.5em 0;
		}

	.wisi ul {
		margin: 7px 0 7px 0
		}
	.wisi ul li {
		list-style: inside disc;
		margin: 0 0 5px 0;
		}
	.wisi ul li a {font-size: 100%;color:#3A96D2;}

	.wisi a.more {
		display: block;
		font-size: 93%; color:#103184;
		text-align: right; text-decoration: underline;
		padding: 0 20px 0 0; margin: 0 0 10px 0;		
		background: transparent url(flcMore.gif) no-repeat right;
		}
		
	/*intro*/
	#intro {padding: 0 0 0.5em 0;}
	
	/*archives actus*/
	#intro span.archives {float: right;}
	
	/* events */
	#events .article {
		display: block; width: 100%;
		clear: both; margin: 0 0 10px 0;
		border-top: 1px #C1CFE6 solid;
		}
	#events .article h3 {font-size: 93%; }
	#events .article img {float: left; margin: 10px 10px 0 0;}
	#events #extended img {float: none;margin: 0 0 1em 0;}
	#events .article span.date {
		position: absolute; right: 20px;
		display: block; width: 15%;
		padding: 0.1em 0 0.1em 0;
		text-align: center; font-size: 93%; color:#fff;
		background-color: #0B4182;
		}
	#events .article span {display: block;font-weight: bold;}
	#events .article h2 {padding: 1em 0 0 0;}
	#events .article h3 {color:#2F7CF7;}
	
	/* fiche cartographie */
	#cartoFiche a.return {
		position: absolute; right: 25px;
		display: block;
		font-size: 93%; color:#2F7CF7;
		font-weight: bold;
		text-align: right;
		padding: 0 5px 0 0;
		text-decoration: underline;
		}

	#ficheVille .rappel {
		float: right; width: 35%;
		margin: 0 0 0 1em; padding: 0.5em;
		background-color:#0B4182;
		}
	.rappel ul li {
		position: relative; height: 1%;
		font-size: 85%; color: #fff;
		list-style-type: disc;
		list-style-position: inside;
		}
		
	/*detail des assos */
	#associations {}
	.asso {
		clear: both;
		margin: 5px 10px 1em 0;
		border-top: 1px #C1CFE6 solid;
		}
	.asso img {
		float: left; 
		padding: 0.5em 0 0.5em 0;
		margin: 0 1em 0 0;
		}
	.asso h3 {
		padding: 0.5em 0 0 0;
		font-size: 100%; color:#2F7CFA;
		}
	.asso h4 {
		font-size: 93%; color:#0B4182;
		font-weight: bold;
		}
	.asso a.more {
		display:; block;
		text-decoration: underline;
		}
	
	/*petitesAnnonces */
	#petitesAnnonces {}
	#petitesAnnonces .block_annonce {
		float: left; width: 100%; min-height: 100px;
		padding:0; margin: 0 0 1em 0!important;
		background-color: #F4F7FB;
		}
	#petitesAnnonces .block_annonce h2 {
		padding:.2em .5em .2em .5em; margin:0;
		background-color: #BDE4FF;
		}
	#petitesAnnonces .block_annonce .content {
		padding: .5em; margin:0;
		}
	
	#petitesAnnonces h2 {
		padding: 0.5em 0 0.2em 0;
		margin: 0 0 10px 0;
		border-bottom: 1px #9AB9DC solid;
		}
	#petitesAnnonces form {margin:0; padding:0;}
	#petitesAnnonces .boutonsAnnonce {text-align: right;}
	#petitesAnnonces .boutonsAnnonce a, 
	#petitesAnnonces .annonce_deposer,
	#petitesAnnonces .boutonsAnnonce input.button  {float: left;}
	
	#petitesAnnonces .boutonsAnnonce {width: 650px; overflow: hidden;}
	a.consulterOA, a.consulterEmploi  {margin: 5px 0 0 0!important;}
	
	#petitesAnnonces .boutonsAnnonce a {
		width: 300px;
		haight: 16px;
		text-align: center; color:#fff;
		text-decoration: none;
		margin: 0; padding: 2px 0 2px 0;
		background:transparent url(annonce_link_White_sup.gif) no-repeat top center;
		}
	.annonce_deposer {
		width: auto!important; 
		margin: 0 5px 0 0; padding:0;
		}
	#petitesAnnonces .fieldValid {padding: 0; margin:5px 0 0 0;}
	#petitesAnnonces .boutonsAnnonce input.button {
		width: 150px; height: 20px;
		padding:0;
		margin: 0 0 0 5px!important;
		background:transparent url(button_annonces_reduce.gif) no-repeat scroll 0 0;
		}
	
	/* page des études / produitsListe */
	#etudesListe {padding: 0 0 1em 0;}
	.thematique {clear:both;padding: 0 0 0.5em 0;}
	#boutique_liste .thematique {
		padding: 0;
		background-color:#FFFFFF;
		}
	#boutique_liste .libele {
		width: 218px; height: 130px;
		margin: 5px 5px 0 0;  padding: 5px;
		border-bottom: 3px #E7EEF6 solid;
		background-color: #D4E9FF;
		}
	#boutique_liste h2 {
		width: 690px; height: 24px;	
		padding: 2px 0 0 10px;
		border-top: 5px #fff solid;
		background: #fff url(boutique_liste_h2.gif) no-repeat 0 0;
		}
	#boutique_liste h2 a {color:#fff;}
	
	.thematique h2 {
		margin: 10px 0 0 0;	
		padding: 0 0 0 0.3em;
		background-color:#F4F7FB;
		}
	.thematique a {text-decoration: none;}
	
	.thematique .libele .top, 
	.thematique .libele .bottom {}
	.thematique .libele .top {height: 85px;}
	.thematique .libele .bottom {height: 45px; padding: 0 5px 0 0;}
	
	.thematique .libele {
		float: left; width: 32%;
		margin: 0 7px 10px 0;
		padding: 0.5em 0 0.5em 0;
		}
	.thematique .libele form {}
	.produit .libele form {float: left;clear: both;}
	
	.thematique .libele .button,
	.produit .libele .button {color:#fff;}
	.produit .libele .button {background-color: #05377B;}
	
	.thematique .libele input.putBasket, 
	.thematique .libele a.download, 
	.thematique .libele a.devis,
	.button input.putBasket {
		float: right;
		display: block; border:0;
		width: 110px; height: 19px;
		color:#fff; font-size: 1px; text-indent: -1000em;
		cursor: pointer;
		}
	.button input.putBasket {background: transparent url(putBasketWhite.gif) no-repeat 0 0;}
	.thematique .libele input.putBasket {background: transparent url(putBasket.gif) no-repeat 0 0;}
	.thematique .libele a.download {background: transparent url(putDownload.gif) no-repeat 0 0;}
	.thematique .libele a.devis {background: transparent url(putDevis.gif) no-repeat 0 0;}
	
	.thematique .libele h3 {
		display: block; 
		width: 210px; /*height: 50px;*/
		margin:0; padding: 5px 5px 7px 0; font-size: 93%;
		}
	.thematique .libele h3 a {
		display: block; width: 200px; padding: 0; 
		color:#048FFD; font-size: 108%;
		text-decoration: none;
		}
	.thematique .libele p {
		display: block; 
		padding:5px 5px 5px 0; 
		text-align: right; 
		color:#114182; font-size: 100%;
		font-weight: bold;
		}
	.thematique .libele .top a {
		display: block; text-align: right;
		padding: 0 5px 0 0;
		color:#114182; font-size: 90%; font-weight: bold;
		}
	.thematique .libele .bottom p.prix {font-size: 108%; padding: 0 0 3px 0;}
	.thematique .libele a.more {display; block; clear: both; color:#048FFD;}
	
	#etudesListe button#acheter {
		display: block; clear: both;
		float: right; border:0;
		margin: 1em 0 1em 0;
		color:#fff; font-size: 93%;
		background-color: #0B4182;
		}
	
	#boutique_liste .thematique a.retour_top {
		display: block; text-align:right;
		width: 96%;
		padding: 0 10px 0 0; margin: .5em 0 0 7px;
		background: transparent url(flcTop.gif) no-repeat right 2px;
		}
		
	/*voir le panier */
	.voir_panier {
		position: absolute; right: 10px;
		}
	.voir_panier a {
		display: block; width: 140px; height: 27px;
		text-indent: -1000em;
		background: transparent url(btVoirPanier.gif) no-repeat 0 0;
		}
	
	/*shop-basket */	
	.shop-basket, 
	.shop-userregister,
	.shop-confirmorder  {}
	
	.shop-basket ul,
	.shop-userregister ul,
	.shop-confirmorder ul {
		background-color:#E7EEF6;
		marging: 0;
		}
	.shop-basket ul li,
	.shop-userregister ul li,
	.shop-confirmorder ul li {
		display: bock; line-height: 80%;
		padding: 2px 0 3px 10px;
		}
	
	.shop-basket ul li.selected,
	.shop-userregister ul li.selected,
	.shop-confirmorder ul li.selected {color:#000; font-weight: bold; }
	
	
	.shop-basket h1 {margin:0; padding:0;}
	.shop-confirmorder h1 {margin:0; padding:0;}
	.shop-basket .list, .shop-confirmorder {width: 99%;padding:0;}
	.shop-basket .list th,
	.shop-confirmorder .list th{
		color:#fff; font-size: 85%;
		text-transform: uppercase;
		background-color:#003284;
		}
	
	/* pagination */
	#pagination, .pagenavigator {
		height: 15px;
		padding: 0.5em 0 0.5em 0;
		border-top: 1px #0B4188 solid;
		background-color:#E7EEF6;
		}
	#pagination li,
	.pagenavigator li {
		position: relative;
		display: block;
		margin: 0 0 1em 0;
		}
	#pagination li a,
	.pagenavigator li a {
		font-size: 100%;
		font-weight: bold;
		}
	#pagination li a:hover,
	.pagenavigator li a:hover {
		color:#2F7CF7!important;
		}
	#pagination li.pre,
	.pagenavigator .previous {float: left;}
	#pagination li.pre {width: 20%;}
	
	#pagination li.sui {
		float: right; width: 20%;
		text-align: right; 
		}
	.pagenavigator .next {float: left; margin: 0 0 0 10px;}
	
	#pagination li.pre a,
	.pagenavigator .previous a,
	#pagination a.previous,
	#pagination a.prev,
	#pagination li.sui a,
	.pagenavigator .next a,
	#pagination a.next {
		color:#000;
		text-decoration: none;
		}
	#pagination a.next {margin: 0 0 0 10px;}
	#pagination a.prev {margin: 0 10px 0 0 ;}
	
	#pagination li.pre a,
	.pagenavigator .previous a,
	#pagination a.prev {
		padding: 0 0 0 15px;
		background: transparent url(flcPre.gif) no-repeat 0 0;
		}
	#pagination li.sui a,
	.pagenavigator .next a,
	#pagination a.next {
		padding: 0 15px 0 0;
		background: transparent url(flcSui.gif) no-repeat right;
		}
	#pagination li.nbre,
	.pagenavigator .pages {
		float: left;
		text-align: center; 
		}
	#pagination li.nbre {width: 60%;}
	.pagenavigator .pages {padding: 0 1em 0 1em;}
	
	#pagination li.nbre a,
	.pagenavigator .pages a {
		color:#000;
		font-size: 108%;
		}
	#pagination li.nbre a.current,
	.pagenavigator .pages a.current {color:#478DF7}
	
	.pagination span, .pagination a {padding: 0 5px 0 5px;}
	
	/* liste_apprentissages */
	#liste_apprentissages label,
	#liste_apprentissages input {float: left;}
	
	#liste_apprentissages label {width: 100px;}
	#liste_apprentissages input {width: 400px;}
	#liste_apprentissages input.button {width: auto!important; float: right!important;}
	
	/*enumeration*/
	.enum {
		padding: 0.2em 0.5em 0 0.5em;
		margin: 0 1px 5px 0;
		background-color:#F4F7FB;
		}
	.enum h2 {
		display: block; width: 100%;
		z-index: 1000;
		font-size: 108%; cursor: pointer;
		padding: 0.3em 0 0.2em 0;
		background: transparent url(itemPlus.gif) no-repeat right;
		}
	.enum  h2.moins {background: transparent url(itemMoins.gif) no-repeat right;}
	.enum .extended {padding: 1em 1em 0 0;}
	
	.enum .extended .pdf a {
		display: block; 
		padding: 3px 0 5px 0;
		margin: 3px 0 3px 0;
		color:#666; border-top: 1px #ccc dotted;
		background: transparent url(acrobat.gif) no-repeat bottom right;
		}
	.enum .extended .pdf a:hover {}
	.enum .extended .pdf a {color:#000; font-weight: bold;}
	
	/* contact enumérations */
	.content_contact {
		position: relative; z-index: 1000;
		float: right;
		margin: 0 0 1em 1em;
		background-color:#F4F7FB;
		}
	.content_contact .objet-right {}
	.contact {
		margin: 0 0 1px 0;
		padding: 0em 0.7em 0.5em 0.7em;
		font-size: 85%; color:#05377B;
		background-color:#BDE4FF;
		}
	.contact h3 {
		margin: 7px 0 0 5px; border:0;
		/*background-color: #E5EEF7!important;*/
		}
	
	.enum .extended a.more {
		display: block;
		text-align: right;		
		text-decoration: underline;
		padding: 0 20px 0 0;
		margin: 0 0 10px 0;
		background: transparent url(flcMore.gif) no-repeat right;
		}
	
	/* contact pages */
	.sommaire {
		position: relative;
		padding: 1em;
		background-color:#E7EEF6;
		}
	.sommaire ul {}
	.sommaire ul li,
	.sommaire ul li a {
		color: #003284;
		}
	.sommaire ul li a {
		font-size: 108%;
		}
	
	.contact_content {padding: 0 0 1em 0;}
	.contact_content .contact {
		padding: 0 0 5px 0;
		margin:0; font-size: 100%;
		border-top: 1px #ccc solid;
		}
	.contact_content .contact p {
		padding: 0 0 0 15px;
		background: transparent url(flcGrey.gif) no-repeat 0 4px;
		}
	
	/* petites annonces */
	span.countRech{float: right;}
	
	.annonce, .apprentissage, .demande {
		border-top: 1px #0B4188 solid;
		padding: 0 0 1em 0;
		}
	.annonce h2,
	.apprentissage h2,
	.demande h2 {
		font-size: 108%;
		padding: 3px 0 3px 0;
		}
	.annonce h3,
	.apprentissage h3,
	.demande h3 {
		font-size:100%;
		margin:0; 
		padding:0.2em 0 0.2em 0;
		border-top: 1px #ccc dotted;
		}
		
	.annonce div, 
	.annonce p,
	.apprentissage div, 
	.apprentissage p,
	.demande div,
	.demande p {
		padding: 2px 0 0 12px;
		background: transparent url(flcBlueC.gif) no-repeat 0 8px;
		}
	.annonce div, .apprentissage div, .demande div {font-size: 100%;}
	.apprentissage_item span {font-weight:bold;}
	
	.libele_annonce h2,
	.libele_demande h2 {
		font-size: 93%; color:#048FFD;
		}
	.libele_annonce h3,
	.libele_demande h3 {color:#0B4188; font-size: 85%;}
	.opportunites_affaires{float: right;}
	
	.libele_annonce h3 p, .libele_demande h3 p{
		padding: 0px 0px 0px 0px;
		background: none;
		font-weight: normal;
	}
	
	/* focus listes jeunes et entreprises */
	#liste_jeunes, #liste_entreprises {
		float: left; width: 340px;
		margin: 0; height: 135px;
		border: 1px #fff solid;
		background-color:#F4F7FB;
		}
	#liste_jeunes h3, 
	#liste_entreprises h3 {
		display: block;
		text-align: center;
		padding: 5px 0 5px 0;
		background-color:#BDE4FF;
		}
	#liste_jeunes {margin: 0 10px 0 0;}
	#liste_jeunes .chapeau, 
	#liste_entreprises .chapeau {padding: 10px;}
	
	#liste_jeunes form, 
	#liste_entreprises form {
		position: relative;
		padding: 5px 0 0 0; margin: 0 0 0 35px;
		}
	.roundedValid {position:relative; padding:0; margin:0;}
	
	#liste_jeunes form .bt_submit, 
	#liste_entreprises form .bt_submit {
		float: none!important; border:0;
		padding:0; margin: 5px 0 3px 10px;
		display: block; width: 250px; height: 30px; 
		font-size: 100%; color:#fff; font-weight: bold;
		background: transparent url(bg_submit_button.png) no-repeat 0 0;
		cursor: pointer;
		}
			
	/* gestion globale des tables */
	table {border-collapse: collapse;margin: 0 0 1em 0;}
	table.list{width: 350px;}
	table.list td{width: 175px;}
	table tr {background-color: #fff;}
	table tr.pair {background-color:#E7EEF6;}
	table th, table td {border:0;}
	table th {font-size: 108%;background-color:#0B4182;}
	table th {color:#fff}
	table th p {
		color:#fff!important;
		padding: 0.2em!important;
		font-weight: bold;
		}
	table td {padding: 0.2em; font-size: 93%;}
		
	/* content_block_bleumarine */
	.content_block_bleumarine {
		float: right;
		padding: 10px;
		margin: 0 -1px 1em 1em;
		background-color:#0B4182;
		}	
	.content_block_bleumarine p,
	.content_block_bleumarine p a,
	.content_block_bleumarine a,
	.content_block_bleumarine li,
	.content_block_bleumarine li a {color:#fff}
	
	.content_block_bleumarine li {font-size: 77%; line-height: 150%;}
	.content_block_bleumarine li a {
		font-size: 100%!important; 
		color:#BCDBFC!important
		}
	.content_block_bleumarine a {text-decoration: none;}
	.content_block_bleumarine .object-left,
	.content_block_bleumarine .object-right {float: none!important;}
		
/*sitemap_group*/
	.sitemap_group {width:100%; margin:0;}
	.sitemap_group ul {padding: 0 0 0 12px;}
	.sitemap_group ul li a {font-size: 93%;}
	.sitemap_group ul li ul li a {font-size: 108%!important;}
	.sitemap_group ul li ul {padding: 0 0 0 1em;}
	.sitemap_item {
		float: left; width: 325px;		
		padding: 0 0 5px 0; 
		border-top: 1px #ccc solid;
		}
	.sitemap_item h2 {
		font-size: 108%;
		padding: 0 0 0 12px;
		/*
		border-left: 1px #ccc solid;
		border-right: 1px #ccc solid;
		border-bottom: 1px #ccc solid;
		*/
		background: #F5F8FB url(flcBlue.gif) no-repeat 0 3px;
		}
	.sitemap_item h2 a {text-decoration: none;}
	
/* mentions légales */
	.embed_file {float:none!important;}
	.embed_file a {
		font-size: 85%;
		float:none!important;
		}
	
/* = footer */
	#footer {
		width: 940px; clear: both;
		margin: -1px 0 25px 10px;
		padding: 2em 0 0 0;
		background: transparent url(bgTopFooterPage.gif) no-repeat top left;
		}
	body#home #footer {	
		background: transparent url(bgTopFooter.gif) no-repeat top left;
		}
	
	#footer address {
		padding: 3px 0 0 0;
		font-size: 85%; 
		color:#fff;
		}
		
	#navBottom {
		float: right;margin:0;
		}
	#navBottom li {display: inline;}
	#navBottom li a {
		color:#103184;
		font-size: 85%;
		/*margin: 0 0 5px 3px;*/
		padding: 0 0 0 10px;
		text-decoration: none;
		background: transparent url(flcRed.gif) no-repeat 0 3px;
		}
		