body{
background-color: #e2dedd;
}

#page{
background: #fff url(page.png.1) no-repeat right 309px;
margin: 0 auto !important;
position: relative;
}

div#bandeau {
height : 258px;
position : relative;
}

p#langues{
top: 8px;
}

/* === */

div#equipements{
background-color: transparent;
color: #fff;
position: absolute;
top: 360px;
left: 15px;
font-family: arial, sans-serif;
width: 215px;
}

div#equipements li {
font-size: 1.22em;
}

div#equipements li.first {
font-size: 1.5em;
}

div#equipements li{
margin-bottom: 0.5em;
}

div#equipements em{
font-style: normal;
font-weight: 700;
}

div#equipements a{
color: #fff;
background-color: transparent;
}

div#equipements a:hover{
color: #400;
text-decoration: none;
}

div#acces_rapide{
/*background-color: #ffbb1b;*/
position: absolute;
top: 315px;
left: 280px;
font-family: "Trebuchet MS", sans-serif;
font-size: 1.3em;
}

div#acces_rapide h2{
font-weight: 500;
font-family: helvetica, arial, sans-serif;
font-size: 1.05em;
padding-bottom: 0.9em;
margin-bottom: 0.2em;
background: url(acces_rapide_titre.png) no-repeat 0 bottom;
}

div#acces_rapide h2:first-letter {
font-weight: 700;
font-size: 1.25em;
}

div#acces_rapide li{
margin-bottom: 0.5em;
}

div#acces_rapide a{
color: #c02769;
background-color: transparent;
}

div#acces_rapide a:hover{
color: #400;
text-decoration: none;
}

div#profils{
position: absolute;
top: 325px;
left: 625px;
width: 370px;
}

div#profils h2{
background: url(profils_titre.png) no-repeat 0 bottom;
padding-bottom: 10px;
color: #f70;
font-weight: 500;
font-family: helvetica, arial, sans-serif;
font-size: 1.5em;
}

div#profils h2:first-letter {
font-weight: 700;
font-size: 1.2em;
}

div#profils ul{
font-size: 1.5em;
font-size: 20px;
font-family:"arial black", sans-serif;
letter-spacing: 1px;
}

div#profils li{
border-bottom: 1px solid #f7c9a0;
padding: 0.4em 0;
}

div#profils a{
color: #f70;
}

div#profils a:hover{
color: #ff5400;
text-decoration: none;
}


div#equipements ul,
div#acces_rapide ul,
div#profils ul{
list-style: none;
}

div#acces_rapide h2{
color: #c02769;
}

/* === */


div#navigation{
color : #f70;
padding-top: 0;
margin-top: 220px;
width:400px;
}

div#navigation ul{
margin-left: 20px;
margin-top: 0.2em;
padding: 0;
font-family: "Trebuchet MS", sans-serif;
}

div#navigation li{
font-size: 1.4em;
list-style-type: none;
margin-bottom: 0.5em;
}

div#navigation a{
color: #f70;
}


div#contenu_sans_encadres{
padding: 0;
margin-top: 220px;
width:570px;
min-height: 351px;
}

ul.liste-documents span.date-liste,
ul.liste-actualites span.date-liste,
ul.liste-articles span.date-liste {
color : #87990F;
display: block;
font-size: 1em;
margin-bottom: 0.2em;
}

ul.liste-documents a.lire_la_suite,
ul.liste-actualites a.lire_la_suite,
ul.liste-articles a.lire_la_suite {
display: none;
}

div#pied_flash{
display: block;
background-color:#e2dedd;
width: 1000px;
}

div#liens_utiles {
left: 633px;
}
