
/*
+-------------------------------+
|	=>	Home					|
+-------------------------------+
*/
#home_flash {
}
#home_flash embed,
#home_flash object {
	display:block;
}

.lookingfor {
	position:relative;
	background:url('http://www.renault.com/Style%20Library/Renault/Images/fr-fr/home/lookingfor-gradient.gif') left bottom repeat-x;
	border-bottom:4px solid #cdcdcf;
}
.lookingfor-dot {
	background:url('http://www.renault.com/Style%20Library/Renault/Images/fr-fr/design/dot-horizontal-gris-2.gif') 0 0 repeat-x;
}
.lookingfor-map {
	background:url('http://www.renault.com/Style%20Library/Renault/Images/fr-fr/home/lookingfor-map.gif') right center no-repeat;
}
.lookingfor-content {
	position:relative;
	padding:5px 18px 13px;
}

.lookingfor-perso {
	float:left;
	margin:-75px 0 0 -20px;
	_margin:-75px 0 0 -10px;
}
.lookingfor-car {
	float:right;
	margin:-6px 0 0 0;
}

.lookingfor-titre {
	float:left;
	padding:0;
	width:257px;
}

.lookingfor-choix {
	float:left;
	width:640px;
	margin:12px 0 0;
}

.lookingfor-choix-01,
.lookingfor-choix-02 {
	float:left;
	margin:0 0 0 20px;
	_margin:0 0 0 10px;
}
.lookingfor-choix-01 {
	margin-bottom:20px;
}

.lookingfor-titres-01,
.lookingfor-titres-02 {
	float:left;
	width:272px;
}
.lookingfor-choix-01-titre-01,
.lookingfor-choix-01-titre-02 {
	padding:1px 0;
}
.lookingfor-choix-02-titre-01 {
	padding:0;
}
.lookingfor-choix-01-titre-01 img,
.lookingfor-choix-01-titre-02 img,
.lookingfor-choix-02-titre-01 img {
	display:block;
}

.lookingfor-choix-01-titre-02 {
	/*background:url('/Style Library/Renault/Images/design/dot-horizontal-gris.gif') 0 0 repeat-x;*/
}
.lookingfor-choix-02 {
}

.lookingfor-liste-01,
.lookingfor-liste-02,
.fiche_produit_action_liste-01 {
	float:left;
	width:245px;
	padding:0 0 0 30px;
	margin:0 0 0 20px;
	background:url('http://www.renault.com/Style%20Library/Renault/Images/fr-fr/home/fleche-jaune.gif') left center no-repeat;
}

.lookingfor-liste-01 {
	margin-top:3px;
}
.lookingfor-liste-02 {
	position:relative;
	top:-10px;
}

.lookingfor-liste-01-item,
.lookingfor-liste-02-item,
.fiche_produit_action_liste-01-item {
	width:225px;
	padding:2px 5px;
	text-transform:uppercase;
	font-size:.8em;
	border-width:1px;
	border-style:solid;
	border-top-color:#E9E9E9;
	border-left-color:#E9E9E9;
	border-right-color:#737576;
	border-bottom-color:#737576;
	cursor:pointer;
	background:#FFF url('http://www.renault.com/Style%20Library/Renault/Images/fr-fr/home/lookingfor-select.gif') right center no-repeat;
}
.lookingfor-liste-01-label,
.lookingfor-liste-02-label,
.fiche_produit_action_liste-01-label {
	margin:0 0 0 2px;
}

.lookingfor-liste-01-liens,
.lookingfor-liste-02-liens,
.fiche_produit_action_liste-01-liens {
	display:none;
	position:absolute;
	z-index:9999;
	width:235px;
	height:84px;
	_height:89px;
	overflow:auto;
	text-transform:uppercase;
	font-size:9px;
	border-width:1px;
	border-style:solid;
	border-top-color:#E9E9E9;
	border-left-color:#E9E9E9;
	border-right-color:#737576;
	border-bottom-color:#737576;
	background:#FFF;
}

.lookingfor-liste-01-liens-item,
.lookingfor-liste-02-liens-item,
.fiche_produit_action_liste-01-liens-item {
	display:block;
	padding:2px 5px;
	height:10px;
	color:#000;
	text-decoration:none;
}
.lookingfor-liste-01-liens-item:hover,
.lookingfor-liste-02-liens-item:hover,
.fiche_produit_action_listee-01-liens-item:hover {
	background:#E9E9E9;
}

/* Langues */
.fr .lookingfor-titres-01,
.fr .lookingfor-titres-02 {
	width:359px;
}
.fr .lookingfor-liste-01,
.fr .lookingfor-liste-02,
.fr .fiche_produit_action_liste-01,
.fr .lookingfor-liste-01-item,
.fr .lookingfor-liste-02-item,
.fr .fiche_produit_action_liste-01-item {
	width:190px;
}
.fr .popin-content-entete .lookingfor-liste-01 {
	margin:-33px 12px 0;
}

.de .lookingfor-titres-01,
.de .lookingfor-titres-02 {
	width:319px;
}
.es .lookingfor-titres-01,
.es .lookingfor-titres-02 {
	width:303px;
}
.it .lookingfor-titres-01,
.it .lookingfor-titres-02 {
	width:293px;
}
.pt .lookingfor-titres-01,
.pt .lookingfor-titres-02 {
	width:292px;
}
.ru .lookingfor-titres-01,
.ru .lookingfor-titres-02 {
	width:358px;
}

/* Nouveau style */
.bloc_presentation {
	margin: 10px 0 20px 0;
	overflow: hidden;
	height: 1%;
	background:#f5f5f4 url('http://www.renault.com/Style%20Library/Renault/Images/fr-fr/home/bg_gray.jpg') 0 100% no-repeat;
}
.bloc_presentation .cours_action {
	float: left;
	width: 345px;
	margin: 0 10px 0 0;
	padding: 20px 15px 20px 20px;
}
.bloc_presentation .sites_pays {
	float: left;
	width: 310px;
	margin: 0 1px 0 0;
	padding: 20px;
	_padding: 20px 20px 20px 15px;
}
.bloc_presentation .sites_web {
	float: left;
	width: 152px;
	margin: 0;
	padding: 20px 20px 20px 20px;
	_padding: 20px 20px 20px 15px;
}
.cours_action h2 {
	margin: 0 0 8px 0;
}
.cours_action ul {
	margin: 0 0 15px 0;
	overflow: hidden;
	height: 1%;
}
.cours_action ul li {
	float: left;
	margin: 0 5px 0 0;
}
.cours_action ul li a {
	display: block;
	background: url('http://www.renault.com/Style%20Library/Renault/Images/fr-fr/home/sep_home.gif') 100% 2px no-repeat;
	padding: 0 7px 0 0;
	color: #191c1f;
	text-decoration: none;
}

.cours_action ul li p a {
	display: inline;
	background: none;
	padding: 0;
	color: #000;
	text-decoration: none;
}
	.cours_action ul li p a:hover {text-decoration: underline;}

.cours_action ul li.orange_element a {
	color: #f8b600;
	font-weight: bold;
	font-size: 13px;
}
.cours_action ul li.green_element a {
	background:url('http://www.renault.com/Style%20Library/Renault/Images/fr-fr/home/picto_bourse-augmentation.gif') no-repeat 100% 2px;
	color: #62b805;
	font-weight: bold;
	font-size: 13px;
	padding: 0 15px 0 0;
}

.cours_action ul li.red_element a {
	background:url('http://www.renault.com/Style%20Library/Renault/Images/fr-fr/home/picto_bourse-reduction.gif') no-repeat 100% 8px;
	color: #FF0000;
	font-weight: bold;
	font-size: 13px;
	padding: 0 15px 0 0;
} 
.cours_action ul li a:hover {
	text-decoration: underline;
}
.cours_action ul li a span.fisrt_element {
	background: url('http://www.renault.com/Style%20Library/Renault/Images/fr-fr/home/picto_infos.gif') 0 3px no-repeat;
	padding: 0 0 0 10px;
	display: block;
	
}
.cours_action p.strong_para {
	background: url('http://www.renault.com/Style%20Library/Renault/Images/fr-fr/home/picto_infos.gif') 0 4px no-repeat;
	padding: 0 0 0 10px;
	display: inline;
	color: #191c1f;
}
.cours_action p {
	color: #a2a5a4;
	margin: 0 0 14px 0;
}
.cours_action ul.pagination {
	margin: 0;
}
.cours_action ul.pagination li {
	float: left;
	margin: 0 7px 0 0;
}
.cours_action ul.pagination li a {
	background: url('http://www.renault.com/Style%20Library/Renault/Images/fr-fr/home/sep_home.gif') 100% 0px no-repeat;
	padding: 0 8px 0 0;
}
.cours_action ul.pagination li a span.previous{
	background: url('http://www.renault.com/Style%20Library/Renault/Images/fr-fr/home/picto_next.gif')  0 3px no-repeat;
	padding: 0 0 0 11px;
	display: block;
}
.cours_action ul.pagination li.next a{
	background: none;
	padding: 0;
}
.cours_action ul.pagination li.next a span.next_content {
	background: url('http://www.renault.com/Style%20Library/Renault/Images/fr-fr/home/picto_infos.gif')  100% 3px no-repeat;
	padding: 0 11px 0 0;
	display: block;
}
.cours_action ul.pagination li.all {
	float: right;
}
.cours_action ul.pagination li.all a {
	background: url('http://www.renault.com/Style%20Library/Renault/Images/fr-fr/home/picto_infos.gif')  0 3px no-repeat;
	padding: 0 0 0 11px;
}

.cours_action ul li p.content_CP a {color:#999;}


.sites_pays h2 {
	margin: 0 0 7px 0;
}
.sites_pays h3 {
	font-weight: normal;
	margin: 0 0 4px 0;
}
.sites_pays .img_pays {
	float: left;
	margin: 0 13px 0 0;
}
.sites_pays ul {
	margin: 10px 0 0 0;
	float: left;
}
.sites_pays li {
	margin: 0 0 2px 0;
}
.sites_pays li,
.sites_pays li a {
	font-weight: bold;
	color: #000000;
}
.sites_pays .votre_pays {
	margin: 0 0 7px 0;
}

.sites_pays .nom_pays {
	text-transform: uppercase;
}
.sites_pays li.nom_pays {
	background: url('http://www.renault.com/Style%20Library/Renault/Images/fr-fr/home/picto_fr.gif')  0 1px no-repeat;
	padding: 0 0 0 20px;
}
.sites_pays li.site_commercial {
	background: url('http://www.renault.com/Style%20Library/Renault/Images/fr-fr/home/picto_infos.gif')  0 3px no-repeat;
	padding: 0 0 0 9px;
}
.sites_pays li.site_commercial a {
	text-decoration: none;
}
.sites_pays li.site_commercial a:hover {
	text-decoration: underline;
}

.sites_web h2 {
	margin: 0 0 23px 0;
}
.sites_web ul li {
	margin: 0 0 2px 0;
}
.sites_web ul li a {
	display: block;
	background: url('http://www.renault.com/Style%20Library/Renault/Images/fr-fr/home/picto_infos.gif')  0 3px no-repeat;
	padding: 0 0 0 10px;
	color: #000000;
	text-decoration: none;
	height: 1%;
}
.sites_web ul li a:hover {
	text-decoration: underline;
}
.img_nos-sites {
	text-align: center;
	margin: 0 0 9px 0;
}
/* carousel **************************************************************** */
.jcarousel-skin-tango .jcarousel-container {
	background: #F0F6F9;
	border: 1px solid red;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
	width: 240px;
}


.jcarousel-skin-tango .jcarousel-clip-horizontal {
	width:  245px;
	height: 75px;
}


.jcarousel-skin-tango .jcarousel-item {
	width: 245px;
	height: 75px;
	
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-right: 10px;
}


.jcarousel-skin-tango .jcarousel-item-placeholder {
    color: #000;
}

.jcarousel-scroll a {
	display: block;
	float: left;
	margin: 0 7px 0 0;
	color: #191c1f;
	text-decoration: none;
}
.jcarousel-scroll a:hover {
	text-decoration: underline;
}
.jcarousel-scroll a.previous {
	background: url('http://www.renault.com/Style%20Library/Renault/Images/fr-fr/home/sep_home.gif') 100% 0px no-repeat;
	padding: 0 8px 0 0;
}
.jcarousel-scroll a span {
	display: block;
}
.jcarousel-scroll a span.content_previous{
	background: url('http://www.renault.com/Style%20Library/Renault/Images/fr-fr/home/picto_next.gif')  0 3px no-repeat;
	padding: 0 0 0 11px;
	display: block;
}
.jcarousel-scroll a.next {
	background: url('http://www.renault.com/Style%20Library/Renault/Images/fr-fr/home/picto_infos.gif')  100% 3px no-repeat;
	padding: 0 11px 0 0;
}
.jcarousel-scroll a.all {
	float: right;
	background: url('http://www.renault.com/Style%20Library/Renault/Images/fr-fr/home/picto_infos.gif')  0 3px no-repeat;
	padding: 0 0 0 11px;
}
.none {display: none;}
.bloc_select {
	clear: both;
}

.bloc_select select {
	width: 289px;
	text-transform: uppercase;
	font-size:.8em;
	border-width:1px;
	border-style:solid;
	border-top-color:#d0cfcb;
	border-left-color:#d0cfcb;
	border-right-color:#d0cfcb;
	border-bottom-color:#d0cfcb;
	cursor:pointer;
	margin: 5px 0 0 0;
}
.sites_pays .lookingfor-liste-01-item {
	color: #a2a5a4;
	text-transform: none;
	font-size: 11px;
	font-weight: normal;
	margin: 0;
}

.img_nos-sites img 
{
	width: 156px;	
}


