.popin-voile {
	position:fixed;
	top:0;
	left:0;
	z-index:5000;
	width:100%;
	height:0;
	background:#000;
	opacity:0;
	filter:alpha(opacity=0);
}
* html .popin-voile {
	position: absolute;
	top:expression(documentElement.scrollTop + body.scrollTop + "px");
}
.onload {
	background:#000 url('http://www.renault.com/Style&#32;Library/Renault/Images/fr-fr/popin/ajax-loader.gif') center center no-repeat;
}

.popin {
	position:fixed;
	top:50%;
	left:50%;
	z-index:5500;
	width:935px;
	height:550px;
	margin:-275px 0 0 -467px;
	opacity:0;
	filter:alpha(opacity=0);
}
* html .popin {
	position:absolute;
	margin-top:0;
	top:expression(documentElement.scrollTop + body.scrollTop + (documentElement.clientHeight/2) - 275 + "px");
}

.popin-image {
	width:auto;
	height:auto;
	margin:0;
	opacity:0;
	filter:alpha(opacity=0);
}
.popin-image .popin-conteneur {
	padding:40px 20px 20px 20px;
}



.contenu .popin {
	position:relative;
	top:auto;
	left:auto;
	z-index:5500;
	width:auto;
	height:auto;
	margin:0;
	opacity:1;
}

.popin-conteneur {
	position:relative;
	background:#FFF;
}
.popin-close {
	position:absolute;
	top:10px;
	right:10px;
	z-index:5900;
}
.popin-close a {
	float:left;
	padding:2px 20px 2px 0;
	color:#000;
	font-size:.9em;
	text-decoration:none;
	text-transform:uppercase;
	background:url('http://www.renault.com/Style&#32;Library/Renault/Images/fr-fr/popin/btn-close.gif') right center no-repeat;
}
.contenu .popin-close {
	display:none;
}


.popin-colonne {
	position:absolute;
	z-index:5900;
	top:30px;
	right:30px;
	width:151px;
}
.popin-langues {
	margin:0 0 10px 0;
}
.popin-langues-bottom {
	background:url('http://www.renault.com/Style&#32;Library/Renault/Images/fr-fr/popin/langues-bottom.gif') left bottom no-repeat;
}
.popin-langues-top {
	padding:3px;
	background:url('http://www.renault.com/Style&#32;Library/Renault/Images/fr-fr/popin/langues-top.gif') left top no-repeat;
}
.popin-langues-inner {
	min-height:190px;
	height:auto!important;
	height:190px;
	border:1px solid #f3f3f3;
	background:#FFF;
}

.popin-langues-titre {
	padding:10px 10px 7px 10px;
	background:url('http://www.renault.com/Style&#32;Library/Renault/Images/fr-fr/design/dot-horizontal-gris.gif') left bottom repeat-x;
}



.popin-langues-liste {
	margin:0;
	padding:10px 0;
}
.popin-langues-liste-item {
}
a.popin-langues-liste-item-lien {
	display:block;
	padding:3px 10px;
	color:#000;
	font-size:1em;
	text-decoration:none;
	text-transform:uppercase;
}
a.popin-langues-liste-item-lien:hover {
	background:#ededed;
}

.popin-langues-liste-item-lien-on {
    font-weight:bold;
}




.popin-encart {
	text-align:center;
	margin:0 0 10px 0;
}

.popin .lookingfor {
	background:none;
	border:0;
}
.popin .lookingfor-map {
	background-position:75% center;
}
.popin .lookingfor-dot {
	background:url('http://www.renault.com/Style&#32;Library/Renault/Images/fr-fr/design/dot-horizontal-gris.gif') left bottom repeat-x;
}
.popin .lookingfor-content {
	padding-top:25px;
	padding-bottom:25px;
	height:95px;
}

.popin .lookingfor-choix-01 {
	margin-top:20px;
}
.popin-content-entete .lookingfor-liste-01 {
	float:right;
	margin:-33px -8px 0;
}
.popin .lookingfor-perso {
	float:none;
	position:absolute;
	top:55px;
	left:0;
	margin:0;
}


.sites-renault-intro {
	padding:15px 25px;
	background:url('http://www.renault.com/Style&#32;Library/Renault/Images/fr-fr/design/dot-horizontal-gris.gif') left bottom repeat-x;
}
.sites-renault-intro-titre img {
	vertical-align:middle;
	margin:0 30px 0 0;
}
.sites-renault-intro-visuel {
	position:absolute;
	top:65px;
	left:25px;
}
.sites-renault-intro-txt {
	margin:30px 210px 0 255px;
	font-size:1.1em;
	line-height:1.4;
}




.popin-content {
}
.popin-content-bottom {
	background:url('http://www.renault.com/Style&#32;Library/Renault/Images/fr-fr/popin/popin-content-gradient-bottom.gif') left bottom repeat-x;
}
.popin-content-top {
	background:url('http://www.renault.com/Style&#32;Library/Renault/Images/fr-fr/popin/popin-content-gradient-top.gif') left top repeat-x;
}
.popin-content-inner {
	padding:5px 210px 30px 30px;
}
.popin-site .popin-content-inner {
	padding-top:44px;
}

.popin-content-entete {
	position:relative;
	min-height:45px;
	height:auto!important;
	height:45px;
}
.popin-pays {
	color:#000;
	font-size:.9em;
	margin:0 275px 0 0;
	text-transform:uppercase;
	overflow:hidden;
}
.popin-pays strong {
	color:#3b464d;
	font-size:3em;
	filter:alpha(opacity=100)!important;
}


.popin-page {
	clear:both;
	position:relative;
	padding:10px 12px;
	border:1px solid #d0d0d0;
	min-height:200px;
	height:auto!important;
	height:200px;
}

.popin-page-titre {
	color:#3b464d;
	font-size:1.1em;
	text-transform:uppercase;
}


.popin-marques {
	text-align:center;
	margin:10px auto;
	background:#FFF!important;
	filter:alpha(opacity=100)!important;
}
.popin-marques-nb-1 {width:212px;}
.popin-marques-nb-2 {width:424px;}
.popin-marques-nb-3 {width:636px;}

.popin-marques-item {
	float:left;
	width:150px;
	margin:0 30px;
	_margin:0 24px;
	text-align:center;
	border:1px solid #b9b9b9;
	position:relative;
	background:#FFF!important;
	filter:alpha(opacity=100)!important;
}
.popin-marques-visuel {
	display:block;
	width:150px;
	text-align:center;
}
.popin-marques-visuel img {
	display:block;
}
.popin-marques-url {
	*height:1%;
}
.popin-marques-url-lien {
	display:block;
	color:#FFF;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	background:#b9b9b9;
	zoom:1;
}




.popin-page-sidebar {
	float:left;
	width:125px;
	background:url('http://www.renault.com/Style&#32;Library/Renault/Images/fr-fr/popin/popin-page-sidebar-ombre.gif') right top no-repeat;;
}
.popin-page-sidebar-inner {
	margin:0 3px 0 0;
	border:1px solid #f3f3f3;
	background:#FFF;
}
.popin-page-sidebar-liste {
	padding:5px 0;
}
.popin-page-sidebar-liste-item {
}
a.popin-page-sidebar-liste-item-lien {
	display:block;
	color:#000;
	font-size:.9em;
	padding:2px 10px;
	text-decoration:none;
	text-transform:uppercase;
}
a.popin-page-sidebar-liste-item-lien:hover {
	color:#f8b600;
}
a.popin-page-sidebar-liste-item-lien.on {
	background:#f8b600;
}
a.popin-page-sidebar-liste-item-lien.on:hover {
	color:#000;
}



.popin-page-carroussel {
	_float:left;
	margin:0;
	width:543px;
	height:294px;
	overflow:hidden;
}
.popin-page-carroussel-page-conteneur {
	width:3000px;
}
.popin-page-carroussel-page {
	float:left;
	width:543px;
	_width:553px;
	height:294px;
}
.popin-page-carroussel-item {
	border:1px solid #B9B9B9;
    float:left;
    height:133px;
    margin:0 7px 14px;
    overflow:hidden;
    width:165px;
}

.popin-page-carroussel-item-visuel {
	display:block;
	text-align:center;
}
.popin-page-carroussel-item-visuel img {
	display:block;
}
.popin-page-carroussel-item-url {

}
a.popin-page-carroussel-item-url-lien {
	display:block;
	color:#FFF;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	background:#b9b9b9;
}



.popin-page-pagination {
	clear:both;
}
.popin-page-pagination-liste {
	text-align:right;
}
.popin-page-pagination-liste-item {
	display:inline;
}
* html .popin .popin-page-pagination-liste-item {
	margin:0 1px;
}
*:first-child+html .popin .popin-page-pagination-liste-item {
	margin:0 1px;
}
a.popin-page-pagination-liste-lien,
a.popin-page-pagination-liste-lien-prev,
a.popin-page-pagination-liste-lien-next {
	color:#FFF;
	padding:0 3px;
	background:#adaeb5;
	text-decoration:none;
}
a.popin-page-pagination-liste-lien-prev,
a.popin-page-pagination-liste-lien-next {
	background:#686976;
}
a.popin-page-pagination-liste-lien:hover,
a.popin-page-pagination-liste-lien-prev:hover,
a.popin-page-pagination-liste-lien-next:hover,
a.popin-page-pagination-liste-lien.on {
	color:#686976;
	background:#f8b600;
}
	

.popin .popin-desc {
	padding:5px 0;
	color:#000;
	font-size:1.1em;
	text-align:center;
}








