@charset "ISO-8859-15";
/* SQLI Agency - SLM - Month 2007 */
h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
}

.contenu_h2 {
	_height:1%;
	padding:5px 20px 0;
	*padding-bottom:5px;
	margin:0 0 3px 0;
	font:bold 1.8em/1.2 Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	background:url(http://www.renault.com/Style%20Library/Renault/images/fr-fr/design/h2.png) left bottom repeat-x;
	padding-left:0;
}
.contenu_h2 span, 
.contenu_h3 span {
	display:block;
}

.contenu_h3 {
	margin-bottom:20px;
	color:#34303A;
	font:normal 1.3em/1.3 Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
.contenu_h4 {
	font-size:1.3em;
	margin-bottom:10px;
}
.contenu_h5 {
	font-size:1.2em;
	margin-bottom:10px;
}
