/* ALL */
.universite #menus,
.formation #menus,
.recherche #menus,
.international #menus,
.vie-etudiante #menus,
.entreprises #menus,
.presse #menus,
.profils #menus,
.autres #menus, 
.autres2 #menus { background-image: url('degrade-bottom-left.png.1'); }



/* UNIVERSITE */
.universite #headerContent { background-image: url('illustration-entete.jpg.1'); }
.universite #headerContent #logo2 { background-image: url('logo-univ-bdx.png.1'); }
.universite #left { background-image: url('degrade-top-left.png.1'); }
.universite dl.menu-nav dt { background-image: url('titre-section-menu.png.1'); }
.universite #container {	background: url('fond-page.gif.1') repeat-y left top; }
.universite #center { background-image: url('fond-container.gif.1'); }
.universite .blocDroite {
	background: #e9f6f3 url('fond-bloc-droite.gif') repeat-x left top;
	border-bottom-color: #009897;
}
.universite .blocDroite h2 { border-bottom-color: #009897; }
.universite #slogan { background-image: url('slogan.png.1'); }
.universite #center h1.titre-page {
	background-image: url('fond-titre-niveau2.png');
	color: #009897;
}
.universite #center .border-h1 {
	background-image: url('border-titre-niveau2.png');
	width: 540px;
	height: 8px;
	zoom: 1;
	font-size: 1%;
}
.universite dl.menu-nav dd a { color: #009897 }
.universite #center h2 { color: #009897; background: url('puce-actus.gif') no-repeat left 6px; padding: 0 0 0 12px; }
.universite #center h3, .universite #center h3 a { color: #009897; }
.universite #center .intertitre, .universite #center .intertitre a { color: #009897; }
.universite #center h4 { background: url('puce-actus.gif') no-repeat left center; padding: 0 0 0 12px; }
.universite #center .puce { background: url('puce-niveau1.png') no-repeat left center; }
.universite .news-latest-item h3 { background: url('puce-actus.gif') no-repeat left center; padding: 0 0 0 12px; }
.universite .news-latest-item h3 a { color: #009897; }
.universite .news-latest-morelink a { color: #009897; }
.universite #center ul { margin-left: 15px;}
.universite #center ul li { list-style: none; background: url('puce-contenu.gif') no-repeat left 4px; padding: 0 0 0 12px; }
.universite #center .csc-textpic-caption {color: #009897;}


/* FORMATION */
.formation #headerContent { background-image: url('illustration-entete.jpg.2'); }
.formation #headerContent #logo2 { background-image: url('logo-univ-bdx.png.2'); }
.formation #left { background-image: url('degrade-top-left.png.2'); }
.formation dl.menu-nav dt { background-image: url('titre-section-menu.png.2'); }
.formation #container {	background: url('fond-page.gif.2') repeat-y left top; }
.formation #center { background-image: url('fond-container.gif.2'); }
.formation .blocDroite {
	background: #faf3e7 url('fond-bloc-droite.gif.1') repeat-x left top;
	border-bottom-color: #e86a10;
}
.formation .blocDroite h2 { border-bottom-color: #e86a10; }
.formation #slogan { background-image: url('slogan.png.2'); }
.formation #center h1.titre-page {
	background-image: url('fond-titre-niveau2.png.1');
	color: #e86a10;
}
.formation #center .border-h1 {
	background-image: url('border-titre-niveau2.png.1');
	width: 540px;
	height: 8px;
	zoom: 1;
	font-size: 1%;
}
.formation dl.menu-nav dd a { color: #e86a10 }
.formation #center h2 { color: #e86a10; background: url('puce-actus.gif.1') no-repeat left 6px; padding: 0 0 0 12px; }
.formation #center h3, .formation #center h3 a { color: #e86a10; }
.formation #center .intertitre, .formation #center .intertitre a { color: #e86a10; }
.formation #center h4 { background: url('puce-actus.gif.1') no-repeat left 4px; padding: 0 0 0 12px;}
.formation #center .puce { background: url('puce-niveau1.png.1') no-repeat left center; }
.formation .news-latest-item h3 { background: url('puce-actus.gif.1') no-repeat left center; padding: 0 0 0 12px; }
.formation .news-latest-item h3 a { color: #e86a10; }
.formation .news-latest-morelink a { color: #e86a10; }
.formation #center ul { margin-left: 15px;}
.formation #center ul li { list-style: none; background: url('puce-contenu.gif.1') no-repeat left 4px; padding: 0 0 0 12px; }
.formation #center .csc-textpic-caption {color: #e86a10;}

/* RECHERCHE */
.recherche #headerContent { background-image: url('illustration-entete.jpg.3'); }
.recherche #headerContent #logo2 { background-image: url('logo-univ-bdx.png.3'); }
.recherche #left { background-image: url('degrade-top-left.png.3'); }
.recherche dl.menu-nav dt { background-image: url('titre-section-menu.png.3'); }
.recherche #container {	background: url('fond-page.gif.3') repeat-y left top; }
.recherche #center { background-image: url('fond-container.gif.3'); }
.recherche .blocDroite {
	background: #eaeff6 url('fond-bloc-droite.gif.2') repeat-x left top;
	border-bottom-color: #2765aa;
}
.recherche .blocDroite h2 { border-bottom-color: #2765aa; }
.recherche #slogan { background-image: url('slogan.png.3'); }
.recherche #center h1.titre-page {
	background-image: url('fond-titre-niveau2.png.2');
	color: #2765aa;
}
.recherche #center .border-h1 {
	background-image: url('border-titre-niveau2.png.2');
	width: 540px;
	height: 8px;
	zoom: 1;
	font-size: 1%;
}
.recherche dl.menu-nav dd a { color: #2765aa }
.recherche #center h2 { color: #2765aa; background: url('puce-actus.gif.2') no-repeat left 6px; padding: 0 0 0 12px; }
.recherche #center h3, .recherche #center h3 a { color: #2765aa; }
.recherche #center .intertitre, .recherche #center .intertitre a { color: #2765aa; }
.recherche #center h4 { background: url('puce-actus.gif.2') no-repeat left center; padding: 0 0 0 12px; }
.recherche #center .puce { background: url('puce-niveau1.png.2') no-repeat left center; }
.recherche .news-latest-item h3 { background: url('puce-actus.gif.2') no-repeat left center; padding: 0 0 0 12px; }
.recherche .news-latest-item h3 a { color: #2765aa; }
.recherche .news-latest-morelink a { color: #2765aa; }
.recherche #center ul { margin-left: 15px;}
.recherche #center ul li { list-style: none; background: url('puce-contenu.gif.2') no-repeat left 4px; padding: 0 0 0 12px; }
.recherche #center .csc-textpic-caption {color: #2765aa;}


/* INTERNATIONAL */
.international #headerContent { background-image: url('illustration-entete.jpg.4'); }
.international #headerContent #logo2 { background-image: url('logo-univ-bdx.png.4'); }
.international #left { background-image: url('degrade-top-left.png.4'); }
.international dl.menu-nav dt { background-image: url('titre-section-menu.png.4'); }
.international #container {	background: url('fond-page.gif.4') repeat-y left top; }
.international #center { background-image: url('fond-container.gif.4'); }
.international .blocDroite {
	background: #f6f6e9 url('fond-bloc-droite.gif.3') repeat-x left top;
	border-bottom-color: #88871d;
}
.international .blocDroite h2 { border-bottom-color: #88871d; }
.international #slogan { background-image: url('slogan.png.4'); }
.international #center h1.titre-page {
	background-image: url('fond-titre-niveau2.png.3');
	color: #88871d;
}
.international #center .border-h1 {
	background-image: url('border-titre-niveau2.png.3');
	width: 540px;
	height: 8px;
	zoom: 1;
	font-size: 1%;
}
.international dl.menu-nav dd a { color: #88871d }
.international #center h2 { color: #88871d; background: url('puce-actus.gif.3') no-repeat left 6px; padding: 0 0 0 12px; }
.international #center h3, .international #center h3 a { color: #88871d; }
.international #center .intertitre, .international #center .intertitre a { color: #88871d; }
.international #center h4 { background: url('puce-actus.gif.3') no-repeat left center; padding: 0 0 0 12px; }
.international #center .puce { background: url('puce-niveau1.png.3') no-repeat left center; }
.international .news-latest-item h3 { background: url('puce-actus.gif.3') no-repeat left center; padding: 0 0 0 12px; }
.international .news-latest-item h3 a { color: #88871d; }
.international .news-latest-morelink a { color: #88871d; }
.international #center ul { margin-left: 15px;}
.international #center ul li { list-style: none; background: url('puce-contenu.gif.3') no-repeat left 4px; padding: 0 0 0 12px; }
.international #center .csc-textpic-caption {color: #88871d;}


/* VIE ETUDIANTE */
.vie-etudiante #headerContent { background-image: url('illustration-entete.jpg.5'); }
.vie-etudiante #headerContent #logo2 { background-image: url('logo-univ-bdx.png.5'); }
.vie-etudiante #left { background-image: url('degrade-top-left.png.5'); }
.vie-etudiante dl.menu-nav dt { background-image: url('titre-section-menu.png.5'); }
.vie-etudiante #container {	background: url('fond-page.gif.5') repeat-y left top; }
.vie-etudiante #center { background-image: url('fond-container.gif.5'); }
.vie-etudiante .blocDroite {
	background: #e9f6f9 url('fond-bloc-droite.gif.4') repeat-x left top;
	border-bottom-color: #00b1dc;
}
.vie-etudiante .blocDroite h2 { border-bottom-color: #00b1dc; }
.vie-etudiante #slogan { background-image: url('slogan.png.5'); }
.vie-etudiante #center h1.titre-page {
	background-image: url('fond-titre-niveau2.png.4');
	color: #00b1dc;
}
.vie-etudiante #center .border-h1 {
	background-image: url('border-titre-niveau2.png.4');
	width: 540px;
	height: 8px;
	zoom: 1;
	font-size: 1%;
}
.vie-etudiante dl.menu-nav dd a { color: #00b1dc }
.vie-etudiante #center h2 { color: #00b1dc; background: url('puce-actus.gif.4') no-repeat left 6px; padding: 0 0 0 12px; }
.vie-etudiante #center h3, .vie-etudiante #center h3 a { color: #00b1dc; }
.vie-etudiante #center .intertitre, .vie-etudiante #center .intertitre a { color: #00b1dc; }
.vie-etudiante #center h4 { background: url('puce-actus.gif.4') no-repeat left center; padding: 0 0 0 12px; }
.vie-etudiante #center .puce { background: url('puce-niveau1.png.4') no-repeat left center; }
.vie-etudiante .news-latest-item h3 { background: url('puce-actus.gif.4') no-repeat left center; padding: 0 0 0 12px; }
.vie-etudiante .news-latest-item h3 a { color: #00b1dc; }
.vie-etudiante .news-latest-morelink a { color: #00b1dc; }
.vie-etudiante #center ul { margin-left: 15px;}
.vie-etudiante #center ul li { list-style: none; background: url('puce-contenu.gif.4') no-repeat left 4px; padding: 0 0 0 12px; }
.vie-etudiante #center .csc-textpic-caption {color: #00b1dc;}


/* ENTREPRISES */
.entreprises #headerContent { background-image: url('illustration-entete.jpg.6'); }
.entreprises #headerContent #logo2 { background-image: url('logo-univ-bdx.png.6'); }
.entreprises #left { background-image: url('degrade-top-left.png.6'); }
.entreprises dl.menu-nav dt { background-image: url('titre-section-menu.png.6'); }
.entreprises #container {	background: url('fond-page.gif.6') repeat-y left top; }
.entreprises #center { background-image: url('fond-container.gif.6'); }
.entreprises .blocDroite {
	background: #f1edf8 url('fond-bloc-droite.gif.5') repeat-x left top;
	border-bottom-color: #912f86;
}
.entreprises .blocDroite h2 { border-bottom-color: #912f86; }
.entreprises #slogan { background-image: url('slogan.png.6'); }
.entreprises #center h1.titre-page {
	background-image: url('fond-titre-niveau2.png.5');
	color: #912f86;
}
.entreprises #center .border-h1 {
	background-image: url('border-titre-niveau2.png.5');
	width: 540px;
	height: 8px;
	zoom: 1;
	font-size: 1%;
}
.entreprises dl.menu-nav dd a { color: #912f86 }
.entreprises #center h2 { color: #912f86; background: url('puce-actus.gif.5') no-repeat left 6px; padding: 0 0 0 12px; }
.entreprises #center h3, .entreprises #center h3 a { color: #912f86; }
.entreprises #center .intertitre, .entreprises #center .intertitre a { color: #912f86; }
.entreprises #center h4 { background: url('puce-actus.gif.5') no-repeat left center; padding: 0 0 0 12px; }
.entreprises #center .puce { background: url('puce-niveau1.png.5') no-repeat left center; }
.entreprises .news-latest-item h3 { background: url('puce-actus.gif.5') no-repeat left center; padding: 0 0 0 12px; }
.entreprises .news-latest-item h3 a { color: #912f86; }
.entreprises .news-latest-morelink a { color: #912f86; }
.entreprises #center ul { margin-left: 15px;}
.entreprises #center ul li { list-style: none; background: url('puce-contenu.gif.5') no-repeat left 4px; padding: 0 0 0 12px; }
.entreprises  #center .csc-textpic-caption {color: #912f86;}


/* PRESSE */
.presse #headerContent { background-image: url('illustration-entete.jpg.7'); }
.presse #headerContent #logo2 { background-image: url('logo-univ-bdx.png.7'); }
.presse #left { background-image: url('degrade-top-left.png.7'); }
.presse dl.menu-nav dt { background-image: url('titre-section-menu.png.7'); }
.presse #container {	background: url('fond-page.gif.7') repeat-y left top; }
.presse #center { background-image: url('fond-container.gif.7'); }
.presse .blocDroite {
	background: #f9f1f3 url('fond-bloc-droite.gif.6') repeat-x left top;
	border-bottom-color: #e74461;
}
.presse .blocDroite h2 { border-bottom-color: #e74461; }
.presse #slogan { background-image: url('slogan.png.7'); }
.presse #center h1.titre-page {
	background-image: url('fond-titre-niveau2.png.6');
	color: #e74461;
}
.presse #center .border-h1 {
	background-image: url('border-titre-niveau2.png.6');
	width: 540px;
	height: 8px;
	zoom: 1;
	font-size: 1%;
}
.presse dl.menu-nav dd a { color: #e74461 }
.presse #center h2 { color: #e74461; background: url('puce-actus.gif.6') no-repeat left 6px; padding: 0 0 0 12px; }
.presse #center h3, .presse #center h3 a { color: #e74461; }
.presse #center .intertitre, .presse #center .intertitre a { color: #e74461; }
.presse #center h4 { background: url('puce-actus.gif.6') no-repeat left center; padding: 0 0 0 12px; }
.presse #center .puce { background: url('puce-niveau1.png.6') no-repeat left center; }
.presse .news-latest-item h3 { background: url('puce-actus.gif.6') no-repeat left center; padding: 0 0 0 12px; }
.presse .news-latest-item h3 a { color: #e74461; }
.presse .news-latest-morelink a { color: #e74461; }
.presse #center ul { margin-left: 15px;}
.presse #center ul li { list-style: none; background: url('puce-contenu.gif.6') no-repeat left 4px; padding: 0 0 0 12px; }
.presse #center .csc-textpic-caption {color: #e74461;}


/* PROFILS */
.profils #headerContent { background-image: url('illustration-entete.jpg.8'); }
.profils #headerContent #logo2 { background-image: url('logo-univ-bdx.png.8'); }
.profils #left { background-image: url('degrade-top-left.png.8'); }
.profils dl.menu-nav dt { background-image: url('titre-section-menu.png.8'); }
.profils #container {	background: url('fond-page.gif.3') repeat-y left top; }
.profils #center { background-image: url('fond-container.gif.8'); }
.profils .blocDroite {
	background: #ecf3f9 url('fond-bloc-droite.gif.7') repeat-x left top;
	border-bottom-color: #332a4e;
}
.profils .blocDroite h2 { border-bottom-color: #332a4e; }
.profils #slogan { background-image: url('slogan.png.8'); }
.profils #center h1.titre-page {
	background-image: url('fond-titre-niveau2.png.7');
	color: #332a4e;
}
.profils #center .border-h1 {
	background-image: url('border-titre-niveau2.png.7');
	width: 540px;
	height: 8px;
	zoom: 1;
	font-size: 1%;
}
.profils dl.menu-nav dd a { color: #332a4e }
.profils #center h2 { color: #332a4e; }
.profils #center h3, .profils #center h3 a { color: #332a4e; }
.profils #center .intertitre, .profils #center .intertitre a { color: #332a4e; }
.profils #center h4 { color: #332a4e; }
.profils #center .puce { background: url('puce-niveau1.png.7') no-repeat left center; }
.profils #center .csc-textpic-caption {color: #332a4e;}


/* AUTRES (Bleu Gris) */
.autres #headerContent { background-image: url('illustration-entete.jpg.9'); }
.autres #headerContent #logo2 { background-image: url('logo-univ-bdx.png.9'); }
.autres #left { background-image: url('degrade-top-left.png.1'); }
.autres dl.menu-nav dt { background-image: none; height: 0; }
.autres #container {	background: url('fond-page.gif.3') repeat-y left top; }
.autres #center { background-image: url('fond-container.gif.1'); }
.autres .blocDroite {
	background: #ecf2f7 url('fond-bloc-droite.gif.8') repeat-x left top;
	border-bottom-color: #9eb2d3;
}
.autres .blocDroite h2 { border-bottom-color: #9eb2d3; }
.autres #slogan { background-image: url('slogan.png.3'); }
.autres #center h1.titre-page {
	background-image: url('fond-titre-niveau2.png.8');
	color: #9eb2d3;
}
.autres #center .border-h1 {
	background-image: url('border-titre-niveau2.png.8');
	width: 540px;
	height: 8px;
	zoom: 1;
	font-size: 1%;
}
.autres dl.menu-nav dd a { color: #9eb2d3 }
.autres #center h2 { color: #9eb2d3; }
.autres #center h3, .autres #center h3 a { color: #9eb2d3; }
.autres #center .intertitre, .autres #center .intertitre a { color: #9eb2d3; }
.autres #center h4 { color: #9eb2d3; }
.autres #center .puce { background: url('puce-niveau1.png.8') no-repeat left center; }
.autres #center .csc-textpic-caption {color: #9eb2d3;}

	
/* AUTRES2 (Bleu Gris) */
.autres2 #headerContent { background-image: url('illustration-entete.jpg.10'); }
.autres2 #headerContent #logo2 { background-image: url('logo-univ-bdx.png.8'); }
.autres2 #left { background-image: url('degrade-top-left.png.9'); }
.autres2 dl.menu-nav dt { background-image: none; height: 0; }
.autres2 #container { background: url('fond-page.gif.3') repeat-y left top; }
.autres2 #center { background-image: url('fond-container.gif.9'); }
.autres2 .blocDroite {
	background: #ecf2f7 url('fond-bloc-droite.gif.7') repeat-x left top;
	border-bottom-color: #9eb2d3;
}
.autres2 .blocDroite h2 { border-bottom-color: #332a4e; }
.autres2 #slogan { background-image: url('slogan.png.8'); }
.autres2 #center h1.titre-page {
	background-image: url('fond-titre-niveau2.png.7');
	color: #332a4e;
}
.autres2 #center .border-h1 {
	background-image: url('border-titre-niveau2.png.7');
	width: 540px;
	height: 8px;
	zoom: 1;
	font-size: 1%;
}
.autres2 dl.menu-nav dd a { color: #332a4e }
.autres2 #center h2 { color: #332a4e; }
.autres2 #center h3, .autres2 #center h3 a { color: #332a4e; }
.autres2 #center .intertitre, .autres2 #center .intertitre a { color: #332a4e; }
.autres2 #center h4 { color: #332a4e; }
.autres2 #center .puce { background: url('puce-niveau1.png.7') no-repeat left center; }
.autres2 #center .csc-textpic-caption {color: #332a4e;}


.fermer-box { text-align:right; margin-right:50px; }

/* AUTRE ENTETE */
/*#body109 .autres2 #headerContent { background-image: url('../images/univers/entete/bibliotheque-entete.jpg') !important; }*/
#body40  .autres2 #headerContent { background-image: url('annuaire-entete.jpg') !important; }
#body35  .autres2 #headerContent { background-image: url('contacts-entete.jpg') !important; }
#body176 .accueil #headerContent { background-image: url('presse-entete.jpg') !important; }
#body37  .autres2 #headerContent { background-image: url('liens-utiles-entete.jpg') !important; }
#body177 .autres2 #headerContent { background-image: url('marches-publics-entete.jpg') !important; }
#body36  .autres2 #headerContent { background-image: url('plan-acces-entete.jpg') !important; }
#body38  .autres2 #headerContent { background-image: url('recrutement-entete.jpg') !important; }
#body176 .accueil #left { background-image: url('degrade-top-left.png.9') !important; }
#body176 .accueil #center { background-image:url(fond-container.gif.9) !important; }

.tx-oxcsformation-pi1 {
	width:554px;
}
