@import url('blocs.css');
@import url('extensions.css');
@import url('offre-formation.css');


/* Reset */
* {
	margin: 0;
	padding: 0;
}

body, table {
	text-align: center;
	font: 11px Arial;
}

a img { border: none; }

a { outline: none; color: #737373; }

/*p { text-align: justify; }*/

/* Classes generiques */
.skip {
	height: 0;
	width: 0;
	left: -1000em;
	overflow: hidden;
	position: absolute;
}

.clear { clear: both; }

.overflow { overflow: hidden; }

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.align-justify {
	text-align: justify;
}

body {
	background: #d0eef6 url('fond-repeat-global.gif') repeat-x left top;
	color: #737373;
}

/* Squelette */
#globalContainer {
	width: 987px;
	margin: 0 auto;
	text-align: left;
}

#header {
	height: 248px;
	/* background: url('../images/header/fond-header.png') repeat-y left top; */
}

	#headerTop {
		height: 26px;
		border-bottom: 2px solid #b4dbe5;
		background: url('fond-header-top.png') no-repeat left top;
		margin: 0px 20px 0px 14px;
	}
	
		#headerTop #search {
			float: right;
			width: 162px;
			margin-top: 2px;
		}
		
			#search input {
				float: left;
				font-size: 10px;
				color: #f77e09;
				padding: 2px;
				border: 1px solid #cde5e5;
				border-bottom: 0px;
				margin-left: 5px;
				margin-top: 2px;
				width: 120px;
			}
			
			#search button {
				float: left;
				border: 0px;
				background: none;
				font-size: 1px;
			}

		#headerTop ul {
			list-style-type: none;
			text-align: right;
			margin-right: 11px;
			background: none;
			float: right;
		}
		
			#headerTop ul li {
				display: inline;
				font-size: 1px;
			}
			
				#headerTop ul li.univ { width: 27px; }
				#headerTop ul li.plan { width: 24px; }
				#headerTop ul li.ent { width: 18px; }
				#headerTop ul li.french { width: 27px; }
				#headerTop ul li.english { width: 25px; }
				#headerTop ul li.spanish { width: 26px; }
	
	#headerContent {
		height: 220px;
		position: relative;
		margin: 0px 20px 0px 14px;
		background-image: url('illustration-entete.jpg');
	}
	
		#headerContent img {
			position: absolute;
			z-index: 0;
		}
		
		#headerContent object {
			position: absolute;
			z-index: 0;
		}
		
		#headerContent embed {
			position: absolute;
			z-index: 0;
		}
	
		#headerContent a.logo1 {
			z-index: 100;
			display: block;
			position: absolute;
			width: 430px;
			height: 60px;
			margin: 10px 0px 0px 100px;
			background-color: transparent;
			cursor: pointer;
		}
		
		#headerContent a.logo2 {
			z-index: 100;
			display: block; 
			position: absolute;
			width: 70px;
			height: 60px;
			margin: 10px 0px 0px 10px;
			background-color: transparent;
			cursor: pointer;
		}
		
		#headerContent #logo2 {
			display: block;
			width: 51px;
			height: 51px;
			position: absolute;
			right: 24px;
			top: 23px;
			background: url('logo-univ-bdx.png') no-repeat left top;
		}
	
		#headerBottom {
			position: absolute;
			bottom: 0px;
			height: 33px;
			z-index: 100;
		}
		
			#headerBottom #menu {
				/*float: left;*/
				width: 791px;
				height: 31px;
				margin-left: 162px;
				border-bottom: 2px solid #b4d8e5;
				/*display: inline;*/
				
				position: relative;
			}
			
				#headerBottom #menu ul#menu_vertical_dynamique {
					list-style-type: none;
					background-color: #332a4e;
					height: 25px;
					width: 791px;
					
					position:relative;
				}
				
					#headerBottom #menu ul#menu_vertical_dynamique li.first-level  {
						display: block;
						float: left;
						width: 113px;
						text-align: center;
						
						position:relative;
					}
					
						#headerBottom #menu ul#menu_vertical_dynamique li a.first-level {
							display: block;
							height: 25px;
							font-size: 12px;
							line-height: 25px;
							font-weight: bold;
							color: #fff;
							text-decoration: none;
							text-transform: uppercase;
							border-bottom: 6px solid #332a4e;
						}
						
						#headerBottom #menu ul#menu_vertical_dynamique li a.universite { border-bottom-color: #009897; }
						#headerBottom #menu ul#menu_vertical_dynamique li.hover a.universite,
						#headerBottom #menu ul#menu_vertical_dynamique li a.universite:hover { background-color: #009897; }
						#headerBottom #menu ul#menu_vertical_dynamique li a.universite-actif { border-bottom-color: #009897; background-color: #009897; }
						
						#headerBottom #menu ul#menu_vertical_dynamique li a.formation { border-bottom-color: #ec7206; }
						#headerBottom #menu ul#menu_vertical_dynamique li.hover a.formation,
						#headerBottom #menu ul#menu_vertical_dynamique li a.formation:hover { background-color: #ec7206; }
						#headerBottom #menu ul#menu_vertical_dynamique li a.formation-actif { border-bottom-color: #ec7206; background-color: #ec7206; }
						
						#headerBottom #menu ul#menu_vertical_dynamique li a.recherche { border-bottom-color: #2765aa; }
						#headerBottom #menu ul#menu_vertical_dynamique li.hover a.recherche,
						#headerBottom #menu ul#menu_vertical_dynamique li a.recherche:hover { background-color: #2765aa; }
						#headerBottom #menu ul#menu_vertical_dynamique li a.recherche-actif { border-bottom-color: #2765aa; background-color: #2765aa; }
						
						#headerBottom #menu ul#menu_vertical_dynamique li a.international { border-bottom-color: #88871e; }
						#headerBottom #menu ul#menu_vertical_dynamique li.hover a.international,
						#headerBottom #menu ul#menu_vertical_dynamique li a.international:hover { background-color: #88871e; }
						#headerBottom #menu ul#menu_vertical_dynamique li a.international-actif { border-bottom-color: #88871e; background-color: #88871e; }
						
						#headerBottom #menu ul#menu_vertical_dynamique li a.vie-etudiante { border-bottom-color: #00b1dc; }
						#headerBottom #menu ul#menu_vertical_dynamique li.hover a.vie-etudiante,
						#headerBottom #menu ul#menu_vertical_dynamique li a.vie-etudiante:hover { background-color: #00b1dc; }
						#headerBottom #menu ul#menu_vertical_dynamique li a.vie-etudiante-actif { border-bottom-color: #00b1dc; background-color: #00b1dc; }
						
						#headerBottom #menu ul#menu_vertical_dynamique li a.entreprises { border-bottom-color: #912f86; }
						#headerBottom #menu ul#menu_vertical_dynamique li.hover a.entreprises,
						#headerBottom #menu ul#menu_vertical_dynamique li a.entreprises:hover { background-color: #912f86; }
						#headerBottom #menu ul#menu_vertical_dynamique li a.entreprises-actif { border-bottom-color: #912f86; background-color: #912f86; }
						
						#headerBottom #menu ul#menu_vertical_dynamique li a.presse { border-bottom-color: #e64650; }
						#headerBottom #menu ul#menu_vertical_dynamique li.hover a.presse,
						#headerBottom #menu ul#menu_vertical_dynamique li a.presse:hover { background-color: #e64650; }
						#headerBottom #menu ul#menu_vertical_dynamique li a.presse-actif { border-bottom-color: #e64650; background-color: #e64650; }
						
						/* menu déroulant javascript/typoscript */
						
						.second-level {
							border-left-style: solid;
							border-right-style: solid;
							border-bottom-style: solid;
							
							border-left-width: 1px;
							border-right-width: 1px;
							border-bottom-width: 1px;
							
							background-color: #FFFFFF;
							
							position:absolute;
							top: 31px;
							left: 0px;
							
						}
						
						ul.niveau2 {
							list-style-type: none;
						}
						
						
						#Menu00  .second-level{
							border-left-color: #009897;
							border-right-color: #009897;
							border-bottom-color: #009897;
							z-index: 100;
						}
						
							#Menu00 ul.niveau2 a {
								text-decoration: none;
								color: #009897;
							}
							
							#Menu00 ul.niveau2 a:hover {
								text-decoration: none;
								font-weight: bold;
								background-color: #afdbdb;
							}
						
						#Menu01 .second-level{
							border-left-color: #ec7206;
							border-right-color: #ec7206;
							border-bottom-color: #ec7206;
						}
						
							#Menu01 ul.niveau2 a {
								text-decoration: none;
								color: #ec7206;
							}
							
							#Menu01 ul.niveau2 a:hover {
								text-decoration: none;
								font-weight: bold;
								background-color: #fbe0c3;
							}

						
						#Menu02 .second-level{
							border-left-color: #2765aa;
							border-right-color: #2765aa;
							border-bottom-color: #2765aa;
						}
						
							#Menu02 ul.niveau2 a {
								text-decoration: none;
								color: #2765aa;
							}
							
							#Menu02 ul.niveau2 a:hover {
								text-decoration: none;
								font-weight: bold;
								background-color: #d4dce8;
							}
						
						#Menu03  .second-level {
							border-left-color: #88871e;
							border-right-color: #88871e;
							border-bottom-color: #88871e;
						}
						
							#Menu03 ul.niveau2 a {
								text-decoration: none;
								color: #88871e;
							}
							
							#Menu03 ul.niveau2 a:hover {
								text-decoration: none;
								font-weight: bold;
								background-color: #e3e1c1;
							}
						
						#Menu04 .second-level {
							border-left-color: #00b1dc;
							border-right-color: #00b1dc;
							border-bottom-color: #00b1dc;
						}
						
							#Menu04 ul.niveau2 a {
								text-decoration: none;
								color: #00b1dc;
							}
							
							#Menu04 ul.niveau2 a:hover {
								text-decoration: none;
								font-weight: bold;
								background-color: #cce4ef;
							}
						
						#Menu05 .second-level {
							border-left-color: #912f86;
							border-right-color: #912f86;
							border-bottom-color: #912f86;
						}
						
							#Menu05 ul.niveau2 a {
								text-decoration: none;
								color: #912f86;
							}
							
							#Menu05 ul.niveau2 a:hover {
								text-decoration: none;
								font-weight: bold;
								background-color: #ebcae3;
							}
						
						#Menu06  .second-level {
							border-left-color: #e64560;
							border-right-color: #e64560;
							border-bottom-color: #e64560;
						}
						
							#Menu06 ul.niveau2 a {
								text-decoration: none;
								color: #e64560;
							}
							
							#Menu06 ul.niveau2 a:hover {
								text-decoration: none;
								font-weight: bold;
								background-color: #f2d6de;
							}
						
						/*ul.niveau2 li {
							display: block;
							background: #F6F7FB;
						}*/
						
						ul.niveau2 li {
							
						}
						
						ul.niveau2 li a {
							display: block;
							width: 97px;
							padding: 2px 4px 2px 10px;
							text-decoration: none;
							text-align: left;
						}
						
						ul.niveau2 li a:hover {
							text-decoration: none;
						}

			/* Affichage des sous menus pour le hover en JS */
			#menu ul li.first-level div.second-level {
				display: none;
			}

#container {
	background: url('fond-page.gif') repeat-y left top;
	padding: 0px 20px 0px 14px;
}

	#left {
		float: left;
		width: 162px;
		background: #fff url('degrade-top-left.png') no-repeat left top;
		padding-top: 68px;
	}
	
		#menus {
			background: #fff url('degrade-bottom-left.png') no-repeat left top;
			margin-bottom: 10px;
		}
	
		#left dl {
			text-transform: uppercase;
			margin-left: 12px;
			padding-bottom: 30px;
			background: transparent url('fond-menu-gauche.gif') repeat-y right top;
		}
		
			dl.menu dt, dl.menu-nav dt {
				font-size: 12px;
				font-weight: bold;
				color: #fff;
				width: 129px;
				height: 34px;
				line-height: 25px;
				background: transparent url('titre-section-menu.png') no-repeat left top;
				padding-left: 10px;
			}
			
				dl.menu dd, dl.menu-nav dd {
					border-bottom: 1px solid #97b5be;
					font-size: 10px;
					color: #666;
					padding: 5px 0px;
					margin-right: 20px;
				}
				
					dl.menu-nav dd.active {
						padding: 5px 0px 0px 10px;
						background: transparent url('croix-menu-gauche.png') no-repeat left 10px;
					}
					
					dl.menu-nav dd.activeSans {
						padding: 5px 0px 5px 10px;
						background: transparent url('croix-menu-gauche.png') no-repeat left 10px;
					}
					
						dl.menu-nav dd.active a {
							font-weight: bold;
							font-size: 11px;
						}
						
						dl.menu-nav dd.activeSans a {
							font-weight: bold;
							font-size: 11px;
						}
				
				dl.menu dd a, dl.menu-nav dd a {
					color: #666;
					text-decoration: none;
				}
				
				dl.menu dd a.active {
					font-size: 11px;
					font-weight: bold;
				}
				
				dl.menu dd a:hover, dl.menu-nav dd a:hover {
					text-decoration: underline;
				}
				
				dl.menu dd.last, dl.menu-nav dd.last {
					border: none;
				}
				
					dl.menu dd ul, dl.menu-nav dd ul {
						list-style-type: none;
						margin-top: 4px;
					}
					
						dl.menu dd ul li {
							line-height: 17px;
							padding-left: 10px;
						}
						
						dl.menu dd ul li a, dl.menu-nav dd ul li a {
							color: #9b9595;
							text-decoration: none;
						}
						
						dl.menu dd ul li a:hover, dl.menu-nav dd ul li a:hover {
							text-decoration: underline;
						}
						
						/* MENU : ACCES RAPIDE */
						dl.menu dd.agenda,
						dl.menu dd.annuaire,
						dl.menu dd.bibliotheque,
						dl.menu dd.recrutement,
						dl.menu dd.liens,
						dl.menu dd.plan,
						dl.menu dd.univ,
						dl.menu dd.presse,
						dl.menu dd.marche,
						dl.menu dd.contact {
							padding-left: 20px;
							background: transparent no-repeat left center;
						}
						
						dl.menu dd.agenda { background-image: url('icon-agenda.gif'); }
						dl.menu dd.annuaire { background-image: url('icon-annuaire.gif'); }
						dl.menu dd.bibliotheque { background-image: url('icon-bibliotheque.gif'); }
						dl.menu dd.recrutement { background-image: url('icon-recrutement.gif'); }
						dl.menu dd.liens { background-image: url('picto-ent-gris.png'); }
						dl.menu dd.plan { background-image: url('icon-plan.gif'); }
						dl.menu dd.contact { background-image: url('icon-contact.gif'); }
						dl.menu dd.univ { background-image: url('icon-univ.gif'); }
						dl.menu dd.presse { background-image: url('icon-presse.gif'); }
						dl.menu dd.marche { background-image: url('icon-marche.gif'); }
	
			dl.menu-nav ul {
				padding: 0 0 5px 0;
				margin: 0 0 0 0;
			}
			
			dl.menu-nav ul li {
				list-style: none;
				margin-bottom: 3px;
			}
			
				dl.menu-nav dd.active ul li a {
					font-size: 10px;
					text-transform: none;
					font-weight: normal;
					text-decoration: none;
					color: #666;
				}

					dl.menu-nav dd.active ul li a:hover {
						text-decoration: underline;
					}
					
					dl.menu-nav dd.active ul li.active a {
						font-weight: bold;
					}
	
	#center {
		float: left;
		width: 554px;
		padding: 15px 20px 20px 10px;
		background: #fff url('fond-container.gif') no-repeat left top;
	}
	
		ul#ariane {
			list-style-type: none;
			padding: 0px 0px 38px 50px;
			margin: 0 !important;
		}
		
			ul#ariane li {
				display: inline;
				color: #959289;
				background: none !important;
				padding: 0 !important;
			}
			
			ul#ariane li.actif {
				text-decoration: underline;
				color: #2765aa;
			}
			
				ul#ariane li a {
					color: #959289;
					text-decoration: none;
				}
				
				ul#ariane li a:hover {
					text-decoration: underline;
				}
		
		#center h1 {
			width: 515px;
			font-size: 16px;
			font-weight: bold;
			background-repeat: no-repeat;
			padding-left: 25px;
			padding-bottom:5px;
			text-transform: uppercase;
		}
		
		.accueil #center h1 { display: none; }
		
		#center .rss {
			float: right;
			background: url('picto-rss.gif') no-repeat left top;
			padding: 1px 15px 2px 25px;
			margin-bottom: 10px;
		}
			
			#center .rss a {
				font-size: 10px;
				color: #737373;
				text-decoration: none;
			}
		
		#center .print {
			float: right;
			background: url('picto-print.gif') no-repeat left top;
			padding: 1px 15px 3px 25px;
			margin-bottom: 10px;
		}
		
			#center .print a {
				font-size: 10px;
				color: #737373;
				text-decoration: none;
			}
		
		#center h2 {
			color: #666;
			font-size: 15px;
			font-weight: bold;
		}
		
		#center h3 {
			color: #666;
			font-size: 13px;
			font-weight: bold;
		}
		
		#center h4 {
			color: #737373;
			font-size: 11px;
			font-weight: bold;
		}
		
		
		#center .intertitre {
			color: #666;
			font-size: 12px;
			font-weight: bold;
		}
		
		
		
		#center ul, #center ol {
			margin-left: 30px;
		}
		
			#center ul li, #center ol li {
				margin-bottom: 5px;
			}
			
				#center ul li ul li {
					list-style: none !important;
					background: url('puce-contenu2.gif') no-repeat left 8px !important;
					padding: 0 0 0 12px  !important;
				}
		
		#center .smaller { font-size: 10px; }
		
		#center .puce { padding-left: 10px; }
		
		p#lastUpdate {
			text-align: right;
			padding: 10px 0px 0px 0px;
		}
		
		p#responsable {
			text-align: right;
			padding: 0px 0px 10px 0px;
		}
	
	#right {
		float: left;
		width: 207px;
		background: #fff;
	}
		
		#slogan {
			width: 207px;
			height: 80px;
			background: url('slogan.png') no-repeat left top;
		}
		
			#slogan a {
				display: block;
				width: 207px;
				height: 80px;
			}
	
	#footer {
		height: 25px;
		line-height: 25px;
	}
	
		#footer ul {
			list-style-type: none;
			text-align: center;
			font-size: 10px;
			background: #e4f0f1 url('fond-footer.gif') repeat-x left top;
		}
		
			#footer ul li {
				display: inline;
				color: #71a9b8;
			}
			
			#footer ul li.contact {
				font-variant: small-caps;
			}
			
				#footer ul li a {
					color: #71a9b8;
					text-decoration: none;
				}
			
				#footer ul li a:hover {
					text-decoration: underline;
				}
				
/* RAJOUT BX1 : B. PORTE*/

.annu_fieldset {
	padding: 1em;
	background: #d0eef6;
	border: 1px solid #2765aa;
	margin: 0 0 15px 15px;
	width: 400px;
	display: block;
  }
.annu_father_fieldset {
	padding: 1em;
	        background: #e1f2f5;
		border: 1px solid #3324ae;
		margin: 0 0 15px 15px;
		width: 490px;
		display: block;
}
.legend_father {
padding: 4px;
border: 1px solid #e8dff5;
background: #332a4e;
color: #fff;
font-weight: bold;
margin-bottom: 10px;
 }
 
option.option_en_gras {
  font-weight: 700;
  font-size:12px;
 }
option.option2_pas_gras{
  font-size:12px;
 }
