
/* CSS Document - communs - DEBUT */
html {font-size: 100%;}
body{font-family:Arial, Verdana, sans-serif; color:#000000; font-size:0.75em; padding:0; margin:0; background-color:#302f2e; background-image: url(body-bg.gif); background-position: left top; background-repeat:repeat-y;}

/*body{font-family:Arial, Verdana, sans-serif; color:#000000; font-size:12px; padding:0; margin:0; background-color: #999999; line-height:140%}*/

a{color:#000000; text-decoration:none; border-bottom:1px dotted #000000;}
a:hover{color:#302f2e; text-decoration:none; border-bottom:2px dotted #ffa40d;}
a:focus{color:#302f2e; text-decoration:none; border-bottom:2px dotted #ffa40d; outline:none}
a img {border:0;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
.clearleft{clear:left;}
.margright{ margin-right:100px;}
h1{
	background-image:url(h1-bg.jpg);
	background-repeat:no-repeat;
	background-position:top;
	font-size:1.67em;
	font-weight:bold;
	margin: 5px 0 0 0;
	padding:8px 0 20px 60px;
	width:640px;
	color:#000000;
}
h1 span{ background-image:url(http://www.natural-net.fr/images/bg-h1.jpg); background-position:center 0; background-repeat:repeat; margin:8px 0 20px 0;}
h3{font-size:1.17em; font-weight:bold; margin: 15px 0 0 0; padding:7px 0 7px 38px;}
acronym{cursor:help; border-bottom: none; border-top: dashed 1px #333333;}
/* CSS Document - communs - FIN */


/* CSS Document - mise en forme - DEBUT */

#conteneur{width:999px; }
* html #tetiere{
	background-image:url(tetiere-bg.jpg);
	background-repeat:no-repeat;
	background-position:right top;
	height: 88px;
}
#tetiere{
	background-image:url(tetiere-bg.jpg);
	background-repeat:no-repeat;
	background-position:right top;
	min-height: 88px;
	background-color:#FFFFFF;
}
* html #contournement{margin-top:10px; float:left; padding:5px; margin-left:250px;}
#contournement{margin-top:10px; float:left; padding:5px; margin-left:280px;}
#contournement a{color:#000000; text-decoration:none; border-bottom:1px dotted #000000; font-size:0.92em; font-weight:normal; }
#contournement a:hover{color:#666666; text-decoration:none; border-bottom:2px dotted #ffa40d;}
#contournement a:focus{color:#666666; text-decoration:none; border-bottom:2px dotted #ffa40d; outline:hidden;}
* html #baseline{
	padding:5px;
	float:left;
	font-size:2em;
	color:#000000;
	width:460px;
	letter-spacing:6px;
	margin-left:250px;
	padding-bottom: 20px;
}
#baseline{
	padding:5px;
	float:left;
	font-size:2em;
	color:#000000;
	width:460px;
	letter-spacing:6px;
	margin-left:280px;
	padding-bottom: 20px;
}
#baseline span{
background-color:#FFFFFF;
}
* html #banniere{ display:none}
#banniere{ display:none}
#banniere.bando1{ display:none}
#banniere.bando2{ display:none}
#banniere.bando3{ display:none}
#banniere.bando4{ display:none}
#banniere.bando5{ display:none}
#banniere.bando6{ display:none}
#banniere.bando7{ display:none}
#banniere.bando8{ display:none}
#accessiweb{
	float:right;
	width:114px;
	padding-top:167px
}
#accessiweb p{
	padding:0 0 0 25px;
	font-size:0.92em;
	font-weight:bold;
	margin:0;
	height:14px
}
#contenu{}
#menu{width:248px; background-image:url(menu-bg.jpg); background-repeat:no-repeat; background-position:top left; background-color:#302f2e; color:#ffffff; float:left; padding:0; margin: 0;}
#menu a {color:#ffffff; text-decoration:none; border-bottom:none;}
#menu a acronym{color:#ffffff; text-decoration:none;  cursor:help; border-bottom:0; border-top: dashed 1px #333333;}
#menu a:hover {color:#ffa40d; text-decoration:none; border-bottom:2px dotted #ffa40d;}
#menu a:hover acronym{color:#ffa40d; text-decoration:none; border-top: dashed 1px #333333;}
#menu .actif {color: #FFFFff;  font-weight:bold; font-size:1.17em;  border-left:solid 5px #ffffff; padding-left:5px;}
#menu a:focus {color:#ffa40d; text-decoration:none; border-bottom:2px dotted #ffa40d; outline:hidden; }
#menu a:focus acronym{color:#ffa40d; cursor:help; border-bottom: solid 1px #ffa40d;border-top: dashed 1px #333333;}
#menu ul { margin: 0 0 0 15px; padding:0;}
#menu ul li { list-style-type:none; padding:0; margin:20px 0 8px 10px;}
#menu ul li a{ font-weight:bold; font-size:1.17em;}
#menu ul li ul{ margin: 1px 0 1px 10px; padding:0;}
#menu ul li ul li { list-style-type:none; padding:0; margin:2px 0 2px 10px;}
#menu ul li ul li a{ font-weight:normal; font-size:1em;}
#menu ul li ul li span.actif{ font-weight:normal; font-size:1em; color:#FFFFff; border-left:solid 5px #ffffff; padding-left:5px;}
#menu ul li ul li ul{ margin: 1px 0 1px 15px; padding:0;}
#menu ul li ul li ul li { list-style-type:none; padding:0; margin:0 0 0 10px; list-style-image: url(chevron.jpg);}
#menu ul li ul li ul li a{ font-weight:normal; font-size:1em;}
#cont{ float:right; width:751px; background-color:#FFFFFF; background-image:url(content-bg.jpg); background-repeat:no-repeat; background-position:bottom right;}
#content{
	float:right;
	margin:0 0 50px 30px;
	padding: 0;
}
#contentint{
	float:right;
	margin:0 0 50px 10px;
	padding: 0;
}
#contentint p{ width:643px; padding: 6px 0 5px 11px; color:#000000; margin:0 0 0 26px; text-align:justify;}
#contentint ul{ width:600px; padding: 6px 0 5px 11px; color:#000000; margin:0 0 0 26px; text-align:justify;}
#contentint p.souspoucet{margin-top:20px;}
#poucet{
	background-image:url(ariane-bg.jpg);
	background-repeat:no-repeat;
	background-position:left;
	width:657px;
	padding: 6px 0 5px 33px;
	color:#000000;
	margin:15px 0 20px 22px;
}
#poucet.int{
	background-image:url(ariane-bg.jpg);
	background-repeat:no-repeat;
	background-position:left;
	width:657px;
	padding: 6px 0 5px 33px;
	color:#000000;
	margin:15px 0 20px 30px;
}
#poucet a{color:#000000; text-decoration:none; border-bottom:1px dotted #000000; font-size:1em; }
#poucet a:hover{color:#302f2e; text-decoration:none; border-bottom:2px dotted #ffa40d;}
#poucet a:focus{color:#302f2e; text-decoration:none; border-bottom:2px dotted #ffa40d; outline:hidden;}
#footer{
	margin:0 45px 35px 0;
	text-align:right;
	font-size:0.92em;
	padding: 6px 0 5px 0;
	text-align:right;
}
#footer a{color:#000000; text-decoration:none; border-bottom:1px dotted #000000; }
#footer a:hover{color:#666666; text-decoration:none; border-bottom:2px dotted #ffa40d;}
#footer a:focus{color: #666666; text-decoration:none; border-bottom:2px dotted #ffa40d; outline:hidden;}
#signature {
	text-align:right;
	margin:0 45px 45px 0;
	font-size:0.92em;
}

.padBot8{ padding-bottom:8px;}
/* CSS Document - mise en forme - FIN */

/* CSS Document - Home - DEBUT */

.bloc{
	width:285px;
	float:left;
	margin-left:26px;
	margin-top:15px;
	padding: 0;
	text-align: justify;
}
* html .blocright{
	width:285px;
	float:right;
	margin-right:30px;
	margin-left:15px;
	margin-top:15px;
	padding: 0;
	text-align: justify;
}
.blocright{
	width:285px;
	float:right;
	margin-right:45px;
	margin-top:15px;
	padding: 0;
	text-align: justify;
}
.bloc h2{padding:5px 0 7px 30px; font-size:1.33em; font-weight:bold; color:#262626; background-repeat:no-repeat; background-position:left; margin:0}
li.home{margin:5px;}
.blocright h2{padding:5px 0 7px 30px;   font-size:1.70em; font-weight:bold; color:#262626; background-repeat:no-repeat; background-position:left; margin:0}
.bloc h2.bloc1{background-image:url(h2-home-bg-bloc1.jpg);}
.blocright h2.bloc2{background-image:url(h2-home-bg-bloc2.jpg);}
.bloc h2.bloc3{background-image:url(h2-home-bg-bloc3.jpg);}
.blocright h2.bloc4{background-image:url(h2-home-bg-bloc4.jpg);}
.bloc h2 a{font-size:1.33em; font-weight:bold; color:#262626; text-decoration:none; border-bottom:1px dotted #262626; }
.bloc h2 span{font-size:1.33em; font-weight:bold; color:#262626; }
.bloc h2 a:hover{color:#302f2e; text-decoration:none; border-bottom:2px dotted #ffa40d; }
.bloc h2 a:focus{color:#302f2e; text-decoration:none; border-bottom:2px dotted #ffa40d; outline:hidden; }
.blocright h2 a{font-weight:bold; color:#262626; text-decoration:none; border-bottom:1px dotted #262626; }
.blocright h2 a:hover{color:#302f2e; text-decoration:none; border-bottom:2px dotted #ffa40d; }
.blocright h2 a:focus{color:#302f2e; text-decoration:none; border-bottom:2px dotted #ffa40d; outline:hidden; }

/* CSS Document - Home - FIN */


/* CSS Document - pages profondes - DEBUT */
/* QUALITE */
h1.qualite{
	background-image: url(h1-bg-ethique.jpg);
	background-repeat:no-repeat;
	background-position:top;
	font-size:2.08em;
	font-weight:bold;
	margin: 5px 0 0 0;
	padding:7px 0 20px 80px;
	width:640px;
}
h2.qualite{ background-image: url(h2-bg-ethique.jpg); background-repeat:no-repeat; background-position:top; font-size:1.33em; font-weight:bold; margin: 30px 0 0 0; padding:6px 0 20px 54px; color: #333333;}
h2.qualite span{ }
h2.qualite a {color:#333333; text-decoration:none; border-bottom:2px dotted #333333;}
h2.qualite a:hover{color:#000000; text-decoration:none; border-bottom:2px dotted #ffa40d;}
h2.qualite a:focus{color:#000000; text-decoration:none; border-bottom:2px dotted #ffa40d; outline:hidden;}
h3.qualite{color:#333333}
h3.art{color:#333333}
h3.accompagnement{color:#333333}
h3.competences{color:#333333}
#contentint ul {margin:0; padding-left:80px;}
.keywords{ background-color:#585757; color:#FFFFFF; float:right; width:150px; padding:5px; margin-right:55px;}
.citation{font-size:0.92em; font-style:italic;}
/* EXPERTISE */
h1.expertise{
	background-image: url(h1-bg-etatart.jpg);
	background-repeat:no-repeat;
	background-position:top;
	font-size:2.08em;
	font-weight:bold;
	margin: 5px 0 0 0;
	padding:7px 0 20px 80px;
	width:640px;
}
h2.expertise{ background-image: url(h2-bg-etatart.jpg); background-repeat:no-repeat; background-position:top; font-size:1.33em; font-weight:bold; margin: 30px 0 0 0; padding:6px 0 20px 54px; color: #333333;}
h2.expertise span{ }
h2.expertise a {color:#333333; text-decoration:none; border-bottom:2px dotted #333333;}
h2.expertise a:hover{color:#000000; text-decoration:none; border-bottom:2px dotted #ffa40d;}
h2.expertise a:focus{color:#000000; text-decoration:none; border-bottom:2px dotted #ffa40d; outline:hidden;}
h3.expertise{
	color:#333333;
}
#contentint ul {margin:0; padding-left:80px;}
.keywords{ background-color:#585757; color:#FFFFFF; float:right; width:150px; padding:5px; margin-right:55px;}
.citation{font-size:0.92em; font-style:italic;}
/* EXPERTISE */

/* clients */
h1.clients{
	background-image: url(h1-bg-competences.jpg);
	background-repeat:no-repeat;
	background-position:top;
	font-size:2.08em;
	font-weight:bold;
	margin: 5px 0 0 0;
	padding:7px 0 20px 80px;
	width:640px;
}
h2.clients{ background-image: url(h2-bg-competences.jpg) ; background-repeat:no-repeat; background-position:top; font-size:1.33em; font-weight:bold; margin: 30px 0 0 0; padding:6px 0 20px 54px; color: #333333;}
h2.clients span{

}
h2.clients a {color:#333333; text-decoration:none; border-bottom:2px dotted #333333;}
h2.clients a:hover{color:#000000; text-decoration:none; border-bottom:2px dotted #ffa40d;}
h2.clients a:focus{color:#000000; text-decoration:none; border-bottom:2px dotted #ffa40d; outline:hidden;}
h3.clients{
	color:#333333;
}
#contentint ul {margin:0; padding-left:80px;}
.keywords{ background-color:#585757; color:#FFFFFF; float:right; width:150px; padding:5px; margin-right:55px;}
.citation{font-size:0.92em; font-style:italic;}
/* clients */


/* services */
h1.services{
	background-image: url(h1-bg-accompagnement.jpg);
	background-repeat:no-repeat;
	background-position:top;
	font-size:2.08em;
	font-weight:bold;
	margin: 5px 0 0 0;
	padding:7px 0 20px 80px;
	width:640px;
}
h2.services{ background-image: url(h2-bg-accompagnement.jpg); background-repeat:no-repeat; background-position:top; font-size:1.33em; font-weight:bold; margin: 30px 0 0 0; padding:6px 0 20px 54px; color: #333333;}
h2.services span{

}
h2.services a {color:#333333; text-decoration:none; border-bottom:2px dotted #333333;}
h2.services a:hover{color:#000000; text-decoration:none; border-bottom:2px dotted #ffa40d;}
h2.services a:focus{color:#000000; text-decoration:none; border-bottom:2px dotted #ffa40d; outline:hidden;}
h3.services{
	color:#333333;
}
#contentint ul {margin:0; padding-left:80px;}
.keywords{ background-color:#585757; color:#FFFFFF; float:right; width:150px; padding:5px; margin-right:55px;}
.citation{font-size:0.92em; font-style:italic;}
/* services */

/* PLAN DU SITE */
.padLeft50{ padding-left:50px;}
/* PLAN DU SITE */

/* CSS Document - pages profondes - FIN */
