@charset "utf-8";
/* CSS Document */

.body-home-01{background:#94aaaa;}
.body-home-02{background:#9ca8ad;}
.body-home-03{background:#5b93b6;}

html{overflow:hidden;}
body{font-size:62.5%; font-family:Arial, Verdana, Helvetica, sans-serif; color:#505050; height:100%;overflow:hidden;}

#background{position:absolute; left:0px; top:0px; width:100%;height:100%;min-width:970px;min-height:744px; overflow:hidden;}

#logo{display:block;position:absolute; top:25px; left:25px; width:155px; height:106px; background:url(http://www.sqli.com/design/fre/images/logo-sqli.png) no-repeat;}

#logo span{ margin-left:-9000px;}

#wrapper{ background:url(http://www.sqli.com/design/fre/images/bg-wrapper-plus.gif) no-repeat 690px 71px; width:930px; height:270px; position:absolute; top:50%; left:50%; margin-top:-75px; margin-left:-465px;}


ul#menu-niv-1{width:730px; position:absolute; top:146px;}

.bloc-actualites{width:165px; top:0px; right:0px;position:absolute;}
.bloc-actualites h2{font-weight:bold; font-size:1.5em;color:#fff;  letter-spacing:-0.03em; line-height:20px; }
.bloc-actualites  p{ text-align:left; color:#fff; padding:4px 0;}
.bloc-actualites  .border-bottom{border-bottom:1px solid #fff;}
.bloc-actualites  a{ color:#fff; text-decoration:none; font-size:1.1em;}
.bloc-actualites  a:hover{ color:#fff; text-decoration:underline;}

.bloc-offres{width:165px;  top:146px; right:0px;position:absolute;}
.bloc-offres h2{font-weight:normal; font-size:1.5em;color:#fff;line-height:20px; padding:5px; background:#000;}
.bloc-offres form{background:#000; padding:5px;margin-bottom:1px;}
.bloc-offres form input.saisie{/*background:#3e4244; color:#fff;*/background:#fff; border:none; padding:2px; border:1px solid #555a5d;}
.bloc-offres form input.btn-ok{ background:#ffff00; border:none; color:#000; padding:1px; cursor:pointer;}
.bloc-offres ul{}
.bloc-offres ul li{ background:#242424; margin-bottom:1px; list-style:none;}
.bloc-offres ul li a{ height:19px; display:block; color:#fff;overflow:hidden; background-repeat:no-repeat; background-position:0 0;}
.bloc-offres ul li a:hover{background-position:0 -19px;}
.bloc-offres ul li a span{ margin-left:-9999px;}
	.bloc-offres ul li a.secteur{ background-image:url(http://www.sqli.com/design/fre/images/menu-offre-accueil-secteur.gif);}
	.bloc-offres ul li a.expertise{ background-image:url(http://www.sqli.com/design/fre/images/menu-offre-accueil-expertise.gif);}
	.bloc-offres ul li a.references{ background-image:url(http://www.sqli.com/design/fre/images/menu-offre-accueil-references.gif);}

.suggestionsBox {position: absolute;top:55px; right:30px;}
.ac_results {
	border: 1px solid #3e4244;}
.ac_over {
	background:#3e4244;color:#fff;
}

/* Footer */
#footer{ position:absolute; bottom:10px; right:10px;width:600px;}
#footer p{ text-align:right;}
#footer p a{ color:#fff; padding:0 5px; text-decoration:none;}
#footer p a:hover{ text-decoration:underline;}
#footer p#copy{ margin-right:5px; font-size:0.9em; font-style:italic; color:#fff;}