@charset "utf-8";
/* CSS Document */


/*h1#web-agency{ background-image:url(../images/h1-web-agency.gif); height:60px;}
h1#nos-references{background-image:url(../images/h1-nos-references.gif); height:60px;}
h1#votre-secteurs{background-image:url(../images/h1-votre-secteur-dactivite.gif); height:60px;}
h1#banque-finance{background-image:url(../images/h1-banque-finance.gif); height:60px;}
h1#web-agency-marketing-et-web{ background-image:url(../images/h1-web-agency-marketing-et-web.gif); height:84px;}
h1#implantations{background-image:url(../images/h1-implantations.gif); height:60px;}
h1#expertises{background-image:url(../images/h1-expertises.gif); height:60px;}
h1#erreur{background-image:url(../images/h1-erreur.gif); height:60px;}*/


h2#devis{ background:url(http://www.sqli.com/design/fre/images/right-un-devis-une-question.gif) no-repeat;}
h2#evenements{ background:url(http://www.sqli.com/design/fre/images/right-evenement.gif) no-repeat; position:relative;}
h2#evenements a#rss{ position:absolute; top:0px; right:60px;}
h2#evenements a#rss img{}
h2#evenements a#ecal{ position:absolute; top:0px; right:40px;}
h2#sur-le-web{ background:url(http://www.sqli.com/design/fre/images/right-sqli-agency-sur-le-web.gif) no-repeat;}
h2#telecharger{ background:url(http://www.sqli.com/design/fre/images/right-telecharger.gif) no-repeat;}
h2#les-blogs-sqli{ background:url(http://www.sqli.com/design/fre/images/right-les-blogs-sqli.gif) no-repeat;}
h2#lire{ background:url(http://www.sqli.com/design/fre/images/right-lire.gif) no-repeat;}
h2#toutes-nos-agences{ background:url(http://www.sqli.com/design/fre/images/right-toutes-nos-agences.gif) no-repeat;}

#left-colonne h2#notre-expertise{ background:url(http://www.sqli.com/design/fre/images/menu-niv3-expertise.gif) no-repeat;}
#left-colonne h2#secteur-activite{ background:url(http://www.sqli.com/design/fre/images/menu-niv3-secteur-activite.gif) no-repeat;}

