BODY{margin:0px;}
.BackTitle{cursor:hand;}
.BackTitleCell{color:#33C;font-family:Helvetica, Arial, sans-serif;font-weight:normal;font-size:10pt;}
.BackTitleLink{color:#33C;font-family:Helvetica, Arial, sans-serif;font-weight:normal;font-size:10pt;text-decoration:none;cursor:hand;}
.FolderTitle{}
.FolderTitleCell{color:black;font-family:Helv;font-weight:normal;font-size:9pt;}
.Level1{cursor:hand;margin:0px;spacing:0px;color:#000000;font-family:Helvetica, Arial, sans-serif;font-size:9pt;font-weight:bold;}
.Level1Cell{cursor:hand;margin:0px;spacing:0px;}
.Level1Link{color:#000000;font-family:Helvetica, Arial, sans-serif;font-size:9pt;font-weight:bold;text-decoration:none;}
.Level1Link A:hover{color:#cd2f37;font-family:Helvetica, Arial, sans-serif;font-size:9pt;font-weight:normal;text-decoration:none;text-transform:uppercase;}
A:hover{color:#cd2f37;}
.Level2{}
.Level2Cell{}
.Level2Link{color:#000000;font-family:Helvetica, Arial, sans-serif;font-size:9pt;font-weight:normal;text-decoration:none;}
.Level2{color:#cd2f37;font-family:Helvetica, Arial, sans-serif;font-size:9pt;font-weight:normal;text-decoration:none;}
.Level3Link{color:#33C;font-family:Helvetica, Arial, sans-serif;font-size:9pt;font-weight:normal;text-decoration:none;}
.Level4Link{color:#000000;font-family:Helvetica, Arial, sans-serif;font-size:9pt;font-weight:normal;text-decoration:none;}
.Level3{color:#000000;font-family:Helvetica, Arial, sans-serif;font-size:9pt;font-weight:normal;text-decoration:none;}
.Level4{color:#000000;font-family:Helvetica, Arial, sans-serif;font-size:9pt;font-weight:normal;text-decoration:none;}
