.righthead 
{  
	font-family: Arial, geneva, helvetica, sans-serif;
	font-size:13px;
	font-weight: bold; 
	color:#FDF501; /* Yellow */
}


a.righthead:Link
{
font-family: Arial, geneva, helvetica, sans-serif;
	font-size:13px;
	font-weight: bold; 
	color:#FDF501; /* yellow */
}

a.righthead:visited
{
font-family: Arial, geneva, helvetica, sans-serif;
	font-size:13px;
	font-weight: bold; 
	color:#FDF501; /* yellow */
}

a.righthead:hover
{
font-family: Arial, geneva, helvetica, sans-serif;
	font-size:13px;
	font-weight: bold; 
	color:#FDF501; /* yellow */
	text-decoration: underline;
}

a.greylink:link 
{
	color: #FFFFFF; /* light grey */
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 12px;
}

a.greylink:visited 
{
	color: #FFFFFF;
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}

a.greylink:hover 
{
	color: #FDF501;
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
}


a.greysmall:link 
{
	color: #FFFFFF;
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 11px;	
}

a.greysmall:visited 
{
	color: #FFFFFF;
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}

a.greysmall:hover 
{
	color: #FDF501;
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 11px;
	text-decoration: underline;	
}

.grey 
{
	font-family: Arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	color:#FDF501; /* Yellow */
}

a.elevenb:link 
{ 
	font-family: arial, geneva, helvetica, sans-serif;
    font-size: 11px;
    color: #006699;
}

a.elevenb:hover 
{ 
	font-family: arial, geneva, helvetica, sans-serif;
    font-size: 11px;
    color: #006699;
	text-decoration: underline;
}
a.elevenb:visited 
{
	color: #006699;
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}