/*************************************************************************************************************
* FORMULAIRE
*************************************************************************************************************/

div.rec-full #contact_form div label
{
	float: left;
	display: block;
	width: 12em;
	color: #005AA1;
	/*height: 1em;*/
	clear: left;
}

div.rec-full #contact_form div i {
	color:#005AA1;
}


div.rec-full #contact_form span.asterisques{
		color: red;
}

div.rec-full #contact_form label.vide{
	margin-left: 12em;
	width: auto;
}
div.rec-full #contact_form label.gris{
	color: gray;
}

div.rec-full #contact_form {
	margin: 1.42em 0 1.42em 0;
}

div.rec-full #contact_form input.large, textarea.large{
		width: 24.17em;
		margin-bottom: .25em;
}
