div.formMuseum .titreMuseum {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(logo.gif.1) no-repeat scroll left 1.07em;
	border:1px solid LightGrey;
	color:#005AA1;
	font-size:1.1em;
	font-weight:bolder;
	line-height:1.53em;
	margin-bottom:1.67em;
	padding-left:20.67em;
	height: 100px;
}

div.formMuseum p.titreTexteMuseum {
	color:#40AAEE;
	font-size:1em;
	font-weight:bolder;
	line-height:1.13em;
	margin-left:2.1em;
	text-align:left;
}

div.formMuseum label.tightCell {
	width:8em;
}

div.formMuseum {
	margin:0 1.8%;
}
/*
div.formMuseum .titreMuseum {
	border: 1px solid black;
	text-align: center;
	margin:0.9em;
	padding:0.5em;
	font-weight:bold;
	background-color:#EEEEEE;
}*/

div.formMuseum .museumSoustitre {
	text-align: center;
	margin:0.5em;
	padding:0.2em;
	font-weight:bold;
}

div.formMuseum .museumEncadre {
	text-align: center;
	border: 1px solid black;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	background-color:#EEEEEE;
}

div.formMuseum label{
	width:8em;
}

