body {
background:#eed39e;
}

#contenu .gc_thumbs img{
width:120px;
height:82px;
float:none;
clear:both;
position:relative;
margin:0;
padding:0;
}

.gc_thumbs{
padding:0;
padding-top:3px;
float:left;
background:#999999;
text-align:center;
color:white;
margin:3px;
font-weight:bold;
width:120px;
padding:3px;
border:1px solid black;
}

.gc_thumbs_lib{
background:#666666;
color:white;
text-align:center;
font-weight:bold;
width:120px;
}

#global-container 
{
margin-left:0;
width:auto;
}

.large{
border: 0.08em solid #999999;
color:#999999;
width:350px;
}

input.btn {
background-color:#ed9;
color:#680c0c;
font-size:120%;
padding-left:0;
text-align:center;
}

H3{
margin-bottom:3px;
margin-top:3px;
}

.gc {

	font-size:small;
}