body{
	text-align: center;
	background: white;
	font-size: 75%;
}

/*************************************************************************************************************
* CLASSES DE TEXTES
*************************************************************************************************************/
body, div, span, td, h1, h2, h3, h4, h5, h6 , p{
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	color: #4B4B4D;
	float: none;
}
body, div, span, td, h1, h2, h3, h4, h5, h6{
	text-align: left;
}
img{
	border: 0;
}

/*************************************************************************************************************
* POSITIONNNEMENT PRINCIPAL DE LA PAGE
*************************************************************************************************************/
.taille-ecran{
	width: 80.25em; /* 963px */
	margin: 0 auto 0 auto;
}
.fond-clair{
	float: left;
	background-color: #F0F0F0;
}
/* MISE EN PAGE DES BLOCS */
#menu-gauche, #menu-droite, #contenu{
	width: 14.33em; /* 172px */
	float: left;
	padding-top: .83em; /* 10px */
}
#contenu{
	text-align: left;
	width: 48.17em; /* 578px */
	border-left: 1.67em solid white; /* 20px */
	border-right: 1.67em solid white; /* 20px */
	background-color: white;
}
#menu-droite{
	float: right;
}

.skip{
	display: none;
	visibility: hidden;
}

/*************************************************************************************************************
* BANDEAU HAUT
*************************************************************************************************************/
#bandeau{
	position: relative;
	height: 10em; /* 120px */
}
#bandeau #lang{
	position: absolute;
	right: -0.08em; /* 1px */
	background-color: #005AA1;
	z-index: 2;
	color: white;
}
#bandeau #lang a{
	font-weight: bold;
	color: white;
	text-decoration: none;
}
#bandeau #lang a:hover{
	text-decoration: underline;
}
#bandeau #index{
	position: absolute;
	bottom: 0;
	z-index: 2;
}
#bandeau #index a{
	padding-left: 1em; /* 12px */
	background: url(puce_fleche.gif.1) left .17em no-repeat; /* 2px */
	color: #005AA1;
	text-transform: none;
	font-weight: bold;
}
#bandeau img.logo{
	position: absolute;
	top: 2.5em; /* 30px */
	width: 29.4em; /* 353px */
	height: 5em; /* 60px */
	z-index: 2;
	
}
#bandeau img.ill{
	position: absolute;
	right: 0;
	width: 80.3em; /* 963px */
	height: 10em; /* 120px */
	z-index: 1;
}


#bandeau object.ill{
	width: 80.3em;
	height: 10em;
}

#bandeau div.ill{
	width: 80.3em;
	height: 10em;
	z-index: 1;
	background: url(bandeau_acceuil.jpg) repeat-x left top; 
}

/*************************************************************************************************************
* MENU HAUT
*************************************************************************************************************/
#menu-haut ul{
  list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: .83em;
	height: 2.3em;
	font-weight: bold;
	background-color: #005AA1;
}
#menu-haut li {
	display: block;
	z-index: 100;
	float: left;
	position: relative;
	margin-right: .1em;
}
#menu-haut li a {
	display: block;
	z-index: 100;
	border-left: .1em solid white;
}
#menu-haut li:first-child a {
	border-left: 0;
}
#menu-haut dl {
	position: absolute;
	top: 2.17em;
	left: 0;
	margin: 0;
	padding: 0;
/*	background: url(transparency.gif);*/
}
#menu-haut dd {
	display: none;
	background: transparent;
	border-top: .1em solid white;
	clear: left;
	margin: 0;
	padding: 0;
	text-align: left;
}
#li_lastchild dl
{
	margin:0 0 0 -96px;
}
#li_lastchild dd
{
	margin: 0;
}
#menu-haut dd a, #menu-haut dd a:visited  {
	display: block;
}
#menu-haut li a, #menu-haut dd a, #menu-haut dd a:visited {
	text-decoration: none;
	text-transform: uppercase;
	background: #005AA1;
	color: white;
	padding: .5em .2em .5em .2em;
	white-space: nowrap;
}
#menu-haut li:hover dd{
	display: block;
}
#menu-haut dd a:hover{
	background: #009DE0;
}
#menu-haut li:hover>a {
	background: #009DE0;
}
#menu-haut dd.hidden{
	width: 14em;
	height: .1em;
	overflow: hidden;
	background: transparent;
}


.smallTxt{
	font-size: .75em;
	font-style:italic;
}

#lienAccueil {
	position:absolute;
	top:100px;
}

#lienEnglish {
	float:right;
	margin-left:894px;
	position:absolute;
	top:0;
}


#logoHeader {
	margin-left:2px;
	position:absolute;
	top:30px;
	width:964px;
}

a.lienAccueilBleu {
	color:#005AA1;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
}

#lienAccueil a:hover {
	text-decoration:none;
}


a.lienEnglishBlanc {
	font-family:Helvetica;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	background-color:#005AA1;
	color:white;
	margin-top:-13px;
	padding:2px 12px;
}

#lienEnglish a:hover {
	text-decoration:none;
}
