/*************************************************************************************************************
* MENUS
*************************************************************************************************************/
div.menu-vertical ul, div.menu-vertical div.stitre, div.menu-vertical div.ligne,div.menu-vertical h3{
	margin: 0;
	padding: 0 .83em .67em .83em;
	clear: both;
}
div.menu-vertical li{
	list-style-type: none;
	clear: left;
}
div.menu-vertical a,div.menu-vertical li a{
	padding-left: 1em; /* 12px */
	background: url(puce_fleche.gif.1) left .17em no-repeat; /* 2px */
	/*display: block;*/
	font-weight:normal;
}
div.menu-vertical img{
	width: 12.5em; /* 144px */
	margin: .42em 0 0 0; /* 5px */
}
div.menu-vertical div.titre, div.menu-vertical div.titre-principal, div.menu-vertical H2{
	font-weight: bold;
	padding: .08em 0 .08em .83em; /* 1 0 1 10px */
	margin: 0 0 .17em 0; /* 8 0 2 0px */
	border-top: .08em solid white; /* 1px */
	border-bottom: .08em solid white; /* 1px */
	color: gray;
	background-color: #DCDCDC;
}
div.menu-vertical div.titre-principal{
	color: white;
	background-color: #FFA800;
}

div.menu-vertical #entete {
	border-bottom:0pt none;
	margin:0pt;
	}

div.menu-vertical h3{
	color: #005AA1;
	font-weight: bold;
	padding: 0 0 0 .83em; /* 10px */
}

#menu-droite h3{
	margin: 0 .83em 0 .83em;
	padding: 0 0 .17em 0; /* 5px */
}

div.menu-vertical H2.titre-principal{
	color: white;
	background-color: #FFA800;
}

div.menu-vertical div.stitre{
	color: #005AA1;
	font-weight: bold;
	padding: 0 0 0 .83em; /* 10px */
}
#menu-droite div.stitre{
	margin: 0 .83em 0 .83em;
	padding: 0 0 .17em 0; /* 5px */
}

#menu-droite FORM {
margin: 0px;
padding: 0px;
}

div.menu-vertical div.ligne{
	border-top: .08em dotted gray; /* 1px */
	padding: 0;
	height: .08em; /* 1px */
	margin: 0 .83em .67em .83em;
	overflow: hidden;
}


.nopuce a,.nopuce li a
{
background:none;
padding-left:0;
margin-left:0.83em;

}	
/*************************************************************************************************************
* ENCART PRESSE
*************************************************************************************************************/
div.menu-vertical a.press{
	display: block;
	text-align: center;
	background: #005AA1;
	font-weight: bold;
	color: white;
}
/*************************************************************************************************************
* ENCART EPHEMERIDE
*************************************************************************************************************/
div.menu-vertical div.saint{
	font-weight: bold;
	padding: .08em 0 .08em 0; /* 1 0 1 0px */
	background: #DCDCDC;
	color: gray;
	border: .08em solid white; /* 1px */
	text-align: center;
}

/*************************************************************************************************************
* CALENDRIER
*************************************************************************************************************/
table#calendrier{
	width: 100%;
	/*border-collapse:collapse;*/
}
#calendrier th a{
	color: #FFA800;
	font-weight: bold;
}
#calendrier th{
	color: #005AA1;
	text-align: center;
}
#calendrier td{
	text-align: center;
	padding: .08em; /* 1px */
	background-color: white;
	border-bottom: .17em solid #F2F3F5; /* 2px */
}
#calendrier td#today{
	background-color: #FFA800;
	
}

#calendrier td#today a{
	color: white;
}

#calendrier a{
	padding-left: 0;
	background: none;
	display: block;
}


/*************************************************************************************************************
* RSS
*************************************************************************************************************/
#RSS-left{
		padding: .17em .25em .17em .25em;
		color: white;
		font-size: .67em;
		background: #FF7C00;
		text-align: center;
		vertical-align: middle;
		width: 2.17em;
	}


/*************************************************************************************************************
* IFRAMES
*************************************************************************************************************/


#menu-droite IFRAME
{
width: 12.5em; /* 144px */
margin: .42em 0 0 0; /* 5px */
}

/*************************************************************************************************************
* FORMULAIRES
*************************************************************************************************************/
div.menu-vertical #searchinput, div.menu-vertical #email{
		font-size: 80%;
		border: 0;
		margin: 0 0 .17em 0;
		width: 13.5em;
}
	/*
	div.menu-vertical a input{
		width: 12.2em;
	}
	*/
div.menu-vertical input.btn{
		font-size: 80%;
		background-color: #005AA1;
		text-align: center;
		color: white;
		width: 2em;
		padding-left: 0;
}

div.menu-vertical input.btn-link{
		text-align: center;
		color: #005AA1;
		padding-left: 0.6em;
		cursor: pointer;
 		border-width: 0;
 		background:transparent url(puce_fleche.gif.1) no-repeat scroll left 0.17em;
}
