/*************************************************************************************************************
* MISE EN PAGE DES CONTENUS
*************************************************************************************************************/
div.actu-small, div.actu-small-right{
	float: left;
	width: 23.67em;
	border-bottom: .08em dotted gray;
	margin-bottom: 1.67em;
	padding-bottom: .83em;
	height: 15.83em;
}
div.actu-small-right{
	margin-left: .75em;
}
div.actu-small img, div.actu-small-right img, div.actu-small object, div.actu-small-right object{
	width: 10.42em;
	height: 7.83em;
}
div.actu-medium, div.actu-full{
	float:left;
	width: 48.17em;
	border-bottom: .08em dotted gray;
	margin-bottom: 1.67em;
	padding-bottom: 1.67em;
}
div.actu-full{
	width: 44.17em;
	/*margin: 0 2em 1.67em 2em;*/
}
div.actu-medium img, div.actu-medium object{
	width: 16.42em;
	height: 12.33em;
}
div.no-border{
	border-bottom: 0;
	height: auto;
}
div.img-actu{
	float: left;
	margin: 0 .42em 0 0;
}
/*
div.actu-full img, div.actu-full object, #contenu img.actu-full, #contenu object.actu-full, div.img-actu{
	width: 21.08em;
	height: 15.83em;
	margin: 0 .67em 0 0;
}
*/

/*
div.actu-full object, #contenu object.actu-full, div.img-actu img,.img-actu{
	width: 21.08em;
	height: 15.83em;
	margin: 0 .67em 0 0;
}
*/

div.actu-full img, div.actu-full object, #contenu img.actu-full, #contenu object.actu-full, div.img-actu{
		width: 21.08em;
		height: 15.83em;
		margin: 0 .67em .25em 0;
	}
div.img-actu{
		height: auto;
		border: 1px solid white;
	}
div.img-actu img{
		border-bottom: .25em solid white;
	}

#contenu img.actu-full{
	float: left;
}

div.actu-full h2{
	/*font-size: 1.50em;*/
	padding-left: 1.67em;
	background: url(puce_titre.gif) left .17em no-repeat;
	/*color: #005AA1;*/
	margin-bottom: .67em;
	/*font-weight: bold;*/
	line-height: .83em;
}

div.actu-full h2 .date{
	font-size: .67em;
	font-weight: normal;
	color: #4B4B4D;
	font-style: italic;
}
div.actu-full h3{
	color: #005AA1;
	font-weight: bold;
}

div.actu-small p, div.actu-small-right p{
	padding-top: 0.42em;
	padding-bottom: 0.83em;
	clear:both;
}
div.actu-full p, div.actu-medium p{
	padding-top: 0.83em;
	padding-bottom: 0.83em;
}

span.commentaires{
	font-weight: bold;
}


/*************************************************************************************************************
* CONDUCTEUR
*************************************************************************************************************/
div.scroller{
/*	float: left;*/
	width: 100%;
	height: 1.67em; /* 20px */
	position: relative;
	overflow: hidden;
	/*border-bottom: .08em dotted gray;
	margin-bottom: 1.67em;*/
}
div.scroller div{
	margin-right: .67em; /* 8px */
	width: 48.17em;
	height: 1.67em; /* 20px */
	position: absolute;
	overflow: hidden;
	z-index: 1;
	white-space:nowrap;
	/*visibility: hidden;*/
	/*border: 1px solid red;*/
}
div.scroller div a{
	color: #4B4B4D;
	margin-right: 20px;
}
div.conducteur{
	margin-bottom: 1.67em; /* 20px */
}
div.conducteur div{
	float: left;
}

div.articlebody
{
padding-top:1em;
}


div.no-MarginAndPadding{
	margin: 0;
	padding: 0;
}

div.no-margin{
	margin: 0;
}

