.sari-form-default p, .sari-form-default div {
	text-align: center;
}

.sari-resultats div {
	text-align: center;
}

.sari-table td {
	text-align: center;
}

.sari-form div {
	text-align: left;
}

div.sari-form-motcles {
	text-align: left;
	height: 170px;	
}

div.sari-details h1 {
	font-size: 160%;
	/*font-weight: bold;*/
}

div.sari-details a {
	text-align: right;
}

div.sari-details hr {
	color: #FF9933;
	background-color: #FF9933;
	height: 1px;
	border: 0;
}

.sari-encadre {
	background:#DDEFFF none repeat scroll 0 0;
	text-align: left;
}

.sari-table-encadre td{
	padding:4px;
	border:0 none;
	width:100%;
}