
body {
	margin: 0px 0px 0px 0px;
	text-align: center;
	background-color: #FFFFFF;
}
#container {
	width: 801px;
	padding: 0px;
	background-color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-width: 1px;
	border-color: #FFFFFF;
	margin-right: auto;
	margin-left: auto;
}
#content {
	float: left;
	width: 600px;
	background-color: #FFFFFF;
	border-top-style: none;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: none;
	border-width: 1px;
	border-color: #FFFFFF;
	overflow: hidden;
}
#rightbar {
	float: left;
	width: 200px;
	background-color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-width: 1px;
	border-color: #;
	overflow: hidden;
}
#leftbar {
	float: left;
	width: 0px;
	background-color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-width: 1px;
	border-color: #;
	overflow: hidden;
}
#topbar-logo {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-width: 1px;
	border-color: #FFFFFF;
	background: #FFFFFF;
	height: 0px;
	display: none;
}
div .logolink a {
	display: block;
	text-decoration: none;
	width: 100%;
	height: 0px;
}
#topbar {
	background-color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-width: 1px;
	border-color: #FFFFFF;
	padding: 10px;
	display: block;
}
a {
	text-decoration: none;
}
a:link {
	color: #666666;
	text-decoration: none;
}
a:visited {
	color: #666666;
	text-decoration: none;
}
a:active {
	color: #666666;
	text-decoration: none;
}
a:hover {
	color: #666666;
	text-decoration: none;
}
h1 {
	margin: 0px;
	padding: 0px;
}
h2 {
	margin: 0px;
	padding: 0px;
}
h3 {
	margin: 0px;
	padding: 0px;
}
#topbar h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: xx-large;
	font-weight: normal;
	font-style: normal;
	text-align: left;
}
#topbar a {
	text-decoration: none;
	color: #666666;
}
#topbar h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: small;
	font-weight: normal;
	font-style: normal;
	text-align: left;
}
.blogbody {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: x-small;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	padding: 10px;
	text-align: left;
	line-height: 150%;
}
.blogbody h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: small;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	text-align: left;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-width: 1px;
	border-color: #;
	margin-bottom: 10px;
	padding: 0px;
}
.blogbody h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: small;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	text-align: left;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-width: 1px;
	border-color: #;
	margin-bottom: 10px;
	padding: 0px;
}
.blogbody p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: x-small;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	text-align: left;
	line-height: 150%;
	margin-bottom: 10px;
}
.blogbody .itemfooter {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: x-small;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	text-align: left;
	margin-bottom: 25px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-width: 2px;
	border-color: #;
	padding: 0px;
	clear: both;
}
.navlinks {
	padding: 10px;
}
.navlinks .title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: small;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	text-align: left;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-width: 1px;
	border-color: #;
	padding: 0px;
}
.navlinks ul {
	padding: 0px;
	margin: 0px 0px 20px 0px;
	list-style-type: none;
	margin: 0px 0px 20px 0px;
}
.navlinks li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: x-small;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	line-height: 150%;
	margin-top: 10px;
}
.navlinks .item {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: x-small;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	line-height: 150%;
	margin-top: 10px;
	margin-bottom: 10px;
}
#calendar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: x-small;
	line-height: 150%;
	padding: 2px;
	margin-bottom: 20px;
}
#calendar table {
	width: 100%;
	padding: 2px;
	border-collapse: collapse;
	border: 0px;
}
#calendar caption {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: x-small;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	padding: 3px;
}
#calendar th {
	font-weight: normal;
	text-align: center;
}
#calendar td {
	text-align: center;
}
.image {
	text-align: left;
	margin-bottom: 20px;
}
.navlinks img {
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
}
#album-container {
	width: 801px;
	padding: 0px;
	background-color: #FFFFFF;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-width: 1px;
	border-color: #99B2CC;
	margin-right: auto;
	margin-left: auto;
}
#album-content {
	float: left;
	width: 550px;
	background-color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-width: 1px;
	border-color: #;
	overflow: hidden;
}
#album-nav {
	float: left;
	width: 251px;
	background-color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-width: 1px;
	border-color: #;
	overflow: hidden;
}
.albumcol table {
	padding: 2px;
	border-collapse: collapse;
	border: 0px;
	font-size: x-small;
}
.albumcol td {
	text-align: center;
}
.albumbody {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: small;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	padding: 10px;
	text-align: left;
	line-height: 150%;
}
.albumcol {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: small;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	padding: 10px;
	text-align: left;
	line-height: 150%;
}
.albumcol h3 {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: small;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	text-align: left;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-width: 1px;
	border-color: #;
	margin-bottom: 10px;
	padding: 0px;
}
.albumbody h2 {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: small;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	text-align: left;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-width: 1px;
	border-color: #;
	margin-bottom: 10px;
	padding: 0px;
}
.albumbody img {
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
}
.albumcol img {
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	margin: 2px;
}
.albumbody p {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: small;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	text-align: left;
	line-height: 150%;
	margin-bottom: 10px;
}
.albumcol p {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: small;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	text-align: left;
	line-height: 150%;
	margin-bottom: 10px;
}
.clear {
	clear: both;
	height: 0px;
	line-height: 0px;
}
ul.tagcloud {
	text-align: left;
	margin-top: 10px;
}
ul.tagcloud li {
	line-height: 200%;
	display: inline;
	margin-right: 0.5em;
}
ul.taglist {
	text-align: left;
	padding: 0px;
	margin-left: 0px;
}
ul.taglist li {
	line-height: 200%;
	display: inline;
	margin-right: 0.5em;
}
.gravatar {
	float: left;
	margin: 0 5px 5px 0;
	border: 1px solid black;
}
