#logo{
	float:none;
	left:25px;
	position:absolute;
	top:82px;
	z-index:9999;
}
#highlight{
	position: relative;
	width: 100%;
	height: 460px;
	float: none;
}
#highlight img{
	width: 100%;
	margin-top: -60px;
}
#highlight .over{
	right: 0;
	bottom: 0;
}
#top-story{
	width: auto;
	padding: 1.5em;
	background: url(dot10-000.png) left top repeat;
}
#top-story h2{
	margin: 0;
	font-size: 2.3em;
}
#top-story ul{
	float :right;
}
#top-story p{
	margin: 0;
}
#top-story p em{
	padding-top: .5em;
	color: #999;
}
.headlines{ margin-bottom: 0; }

#content-sub2 .blogs-match {
}
#ebuyclub p{
	padding: 10px;
	border: 5px solid #CCC;
	font-size: .92em;
	color: #666;
}
#ebuyclub img{
	float: left;
	margin-right: .5em;
}
#ebuyclub a{
	white-space: normal;
	text-decoration: none;
	color: #125C8D;
}

/* IE6 png fix
---------------------------------------- */
* html #top-story{
	float: right;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/includes/cobrand/img/dot10-000.png"', sizingMethod="scale");
	background-image:none;
}
* html #top-story a{ position: relative; }