

body {
	margin:0px;
}

.menuNAV             {color:#0A3481 ; text-decoration:none ; font-size:14px ; font-family:VERDANA,HELVETICA,ARIAL;}
.menuNAV:link        {color:#0A3481 ; text-decoration:none ; font-size:14px ; font-family:VERDANA,HELVETICA,ARIAL;}
.menuNAV:visited     {color:#0A3481 ; text-decoration:none ; font-size:14px ; font-family:VERDANA,HELVETICA,ARIAL;}
.menuNAV:active      {color:#0A3481 ; text-decoration:none ; font-size:14px ; font-family:VERDANA,HELVETICA,ARIAL;}
.menuNAV:hover       {color:#1A789B ; text-decoration:underline ; font-size:14px ; font-family:VERDANA,HELVETICA,ARIAL;}
.menuNAV2_text		 {color:#E00024 ; text-decoration:none ; font-size:24px; text-indent:15px; font-family:VERDANA,HELVETICA,ARIAL;}
.menuNAV2			 {color:#E00024 ; text-decoration:none ; font-size:24px; font-family:VERDANA,HELVETICA,ARIAL;}


.menuItem{PADDING-RIGHT: 15px; PADDING-LEFT: 10px; WIDTH: 100%; CURSOR: hand; LINE-HEIGHT: 20px; BORDER-BOTTOM: white 1px solid; }

.lienout     {color:#FFFFFF; CURSOR: hand; text-decoration:none; font-size:16px; font-weight:bold; font-family:VERDANA,HELVETICA,ARIAL;}
.lienover    {background-color:#749DD5; CURSOR: hand; color:#00ACEC ; text-decoration:none ; font-size:11px ; font-family:VERDANA,HELVETICA,ARIAL;}

.lienout2deca     {color:#749DD5 ; text-decoration:none ; font-size:11px ; font-family:VERDANA,HELVETICA,ARIAL;}
.lienover2deca    {color:#FFFFFF ; text-decoration:none ; font-size:11px ; font-family:VERDANA,HELVETICA,ARIAL;}

.lienmenuout     {background-image:url(fond_layer.jpg); background-repeat:repeat-x; CURSOR: hand; color:#FFFFFF ; text-decoration:none ; font-size:10px ; font-family:VERDANA,HELVETICA,ARIAL;}
.lienmenuover    {background-color:#CDDAEA; CURSOR: hand; color:#0E3C88; text-decoration:none ; font-size:10px ; font-family:VERDANA,HELVETICA,ARIAL}

.lienmenuout2     {background-image:url(fond_layer.jpg); background-repeat:repeat-x; CURSOR: hand; color:#FFFFFF ; text-decoration:none ; font-size:10px ; font-family:VERDANA,HELVETICA,ARIAL;}
.lienmenuover2    {background-color:#CDDAEA; CURSOR: hand; color:#0E3C88 ; text-decoration:none ; font-size:10px ; font-family:VERDANA,HELVETICA,ARIAL}

.lienmenuoutdeca     {background-image:url(fond_layer.jpg); background-repeat:repeat-x; color:#FFFFFF ; text-decoration:none ; font-size:10px ; font-family:VERDANA,HELVETICA,ARIAL;}
.lienmenuoverdeca    {background-color:#CDDAEA; color:#0E3C88 ; text-decoration:none ; font-size:11px ; font-family:VERDANA,HELVETICA,ARIAL;}

.lienmenuout2deca     { background-image:url(fond_layer.jpg); background-repeat:repeat-x; text-decoration:none ; font-size:10px ; font-family:VERDANA,HELVETICA,ARIAL}
.lienmenuover2deca    { background-color:#CDDAEA; color:#0E3C88 ; text-decoration:none ; font-size:10px ; font-family:VERDANA,HELVETICA,ARIAL;}

.menu_droite {color:#000347 ; margin-top:10px; text-decoration:none; font-size:12px; font-weight:bold; font-family:VERDANA,HELVETICA;}
.menu_bas {color:#B3CEFE; text-decoration:none; font-size:9px; font-family:VERDANA,HELVETICA;}

.phpdiginputtext { border:1px solid #7391BD; color:#012369; text-decoration:none; font-size:10px; font-family:VERDANA,HELVETICA,ARIAL;}

.titre_rouge h1 {color:#E00024; text-decoration:none; padding:0px; margin:0px; font-size:12px; font-weight:bold; font-family:VERDANA,HELVETICA,ARIAL;}

.actu_suite {color:#006FC8; text-decoration:none; font-size:9px; font-family:VERDANA,HELVETICA,ARIAL;}
.agenda {color:#00539C; text-decoration:none; font-size:8px; font-family:VERDANA,HELVETICA,ARIAL; CURSOR:hand;}
.agenda:link        {color:#00539C; text-decoration:none; font-size:8px; font-family:VERDANA,HELVETICA,ARIAL; CURSOR:hand;}
.agenda:visited     {color:#00539C; text-decoration:none; font-size:8px; font-family:VERDANA,HELVETICA,ARIAL; CURSOR:hand;}
.agenda:active      {color:#00539C; text-decoration:none; font-size:8px; font-family:VERDANA,HELVETICA,ARIAL; CURSOR:hand;}
.agenda:hover       {color:#00539C; text-decoration:none; font-size:8px; font-family:VERDANA,HELVETICA,ARIAL; CURSOR:hand;}

.workspace {text-align:center;}


.workspace_haut_accueil { width:975px; height:300px; text-align:center; margin:auto;}
.image_gauche_accueil { width:455px; height:300px; text-align:left; float:left; background-image:url(image_accueil_gauche4.jpg); } 
.image_centre_accueil { width:161px; height:300px; float:left;}
.image_droite_accueil { width:359px; height:300px; text-align:left; float:left; background-image:url(image_accueil_droit4.jpg);} 
.image_centre_haut_accueil { width:161px; height:140px;}
.image_centre_bas_accueil_titre { width:161px; height:35px; text-align:left;}
.arma_accueil { width:161px; height:126px;} 
.bandeau_flash {position:relative; width:160px; top:150px; left:-10px; height:455px; float:left;}
.votre_recherche_accueil { position:relative; top:258px; left:273px; width:180px; height:20px;}

.workspace_haut_page { width:975px; height:167px; text-align:center; margin:auto;}
.image_gauche_page {width:471px; height:167px; text-align:left; float:left; background-image:url(image_page_gauche4.jpg); } 
.image_centre_page {width:116px; height:127px; float:left; margin-top:40px;}
.image_droite_page {width:388px; height:167px; text-align:left; float:left; background-image:url(image_page_droit4.jpg);}
.votre_recherche_page { position:relative; top:143px; left:45px; width:180px; height:25px;} 
		
.workspace_bas{width:975px; height:100%; text-align:left; margin:auto;}	
.workspace_milieu_page{width:975px; float:left; text-align:left; margin:auto;}
.navigation {width:770px; text-align:left; border-right:1px solid #C4C4C4; float:left; padding-bottom:10px;}
.arma_page { width:204px; float:left; text-align:center; margin-top:7px;} 

.workspace_bas_page{width:975px; height:100%; float:left; text-align:left; margin:auto;}
.menu_gauche {width:160px; margin:0; padding:0; text-align:left; float:left; background-image:url(fond.gif.1); background-repeat:repeat-y;}
.titre_select{color:#5397E0; text-decoration:underline; CURSOR: hand; font-size:11px; font-weight:bold; font-family:VERDANA,HELVETICA,ARIAL;}
.titre_non_select{color:#00529B; text-decoration:none; CURSOR: hand; font-size:11px; font-weight:bold; font-family:VERDANA,HELVETICA,ARIAL;}
.fils_select{color:#80BDE8; text-decoration:underline; CURSOR: hand; font-size:9px; font-family:VERDANA,HELVETICA,ARIAL;}
.fils_non_select{color:#5397E0; text-decoration:none; CURSOR: hand; font-size:9px;  font-family:VERDANA,HELVETICA,ARIAL;}
.contenu {width:815px; float:left; text-align:left;}	
.menu_bas_tout {width:975px; height:20px; clear:left; text-align:left;}	

/*.ligne_grise2{width:1px; height:100%; margin-top:7px; float:left; background-color:#C4C4C4;}*/
.ligne_blanche_menu{position:relative; width:1px; height:130px; float:left; background-color:#FFFFFF; top:-5px; left:100px} 
.phpdigHighlight { color: #000000;
                   background-color: #FFBB00;
                   font-weight: bold; }	

body{font-family:Verdana,Arial,Times New Roman;font-size:10px;text-decoration:none;color:#555555;}

.normal10{font-family:Verdana,Arial,Times New Roman;font-size:10px;text-decoration:none;color:#555555;}

.titre_principal_actualite{font-size:12px;font-weight:bold;text-decoration:none;color:#E00024;}
.titre_principal_actualite:link{font-size:11px;font-weight:bold;}
.titre_principal_actualite:active{font-size:11px;font-weight:bold;}
.titre_principal_actualite:visited{font-size:11px;font-weight:bold;}
.titre_principal_actualite:hover{font-size:11px;font-weight:bold;}

INPUT.bordure {background-color: #FFFFFF ; border-color:#000000 ; border-width:1px; border-style:solid ; font-size:12px ; font-family:VERDANA,HELVETICA,ARIAL}

.layerout {background-color: #FFFFFF;}
.layerover {background-color: #749DD5;}



form .explid_radio, form .explid_checkbox {
	clear:left;
}

.fieldrow{
	width:80%;
	display:block;
	float:left;
	margin-top:1px;
	margin-bottom:1px;
	padding-left:3px;
	padding-right:3px;
	/*background-color:#EEEEEE;*/
}

.fieldrow label{
	width:40%;
	display:block;
	float:left;
}

.fieldrow input, textarea, select{
	width:40%;
	display:block;
	float:left;
	font-size:0.9em;
	font-family:Arial;
}
.fieldrow input[type="radio"]{
	margin-left:3px;
	margin-right:5px;
}
.fieldcell{
	width:auto;
	display:inline;
	float:left;
	margin-top:1px;
	margin-bottom:1px;
	padding-left:3px;
	padding-right:3px;

}
.fieldcell label{
	width:auto;
	display:inline;
	float:left;
}

.fieldcell input, textarea, select{
	width:auto;
	display:inline;
	float:left;
	font-size:0.9em;
	font-family:Arial;
}

.formfooter {
	width:80%;
	clear:left;
	padding-top:30px;
}



.required {
	color:red;
}



.fieldtitle{
	width:40%;
	float:left;
}

.fieldcellhorizontale{
	width:40%;
	float:left;
}

.fieldcellverticale{
	width:40%;
	float:left;
}

.fieldrow .fieldcellhorizontale label{
	float:left;
}

.fieldrow .fieldcellhorizontale input{
	float:left;
	font-size:0.9em;
	font-family:Arial;
}

.fieldrow .fieldcellverticale label{
	font-size:0.9em;
	font-family:Arial;
	display:block;
}

.fieldrow .fieldcellverticale input{
	display:block;
	float:left;
	height:12px; 
}


.standard h1{margin: 0px 10px 5px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; line-height: 24px; font-weight: bold; color: #e00025; text-decoration: none; text-align: justify}
.standard h1 a{margin: 0px 10px 5px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; line-height: 24px; font-weight: bold; color: #e00025; text-decoration: none; text-align: justify}
.standard h1 a:link{margin: 0px 10px 5px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; line-height: 24px; font-weight: bold; color: #e00025; text-decoration: none; text-align: justify}
.standard h1 a:active{margin: 0px 10px 5px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; line-height: 24px; font-weight: bold; color: #e00025; text-decoration: none; text-align: justify}
.standard h1 a:visited{margin: 0px 10px 5px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; line-height: 24px; font-weight: bold; color: #e00025; text-decoration: none; text-align: justify}
.standard h1 a:hover{margin: 0px 10px 5px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; line-height: 24px; font-weight: bold; color: #e00025; text-decoration: underline; text-align: justify}
.standard h2{font-weight: normal; font-size: 11px; margin: 0px 11px 0px 10px; color: #565656; line-height: 16px; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; padding: 0px}
.standard h2 a{font-weight: normal; font-size: 11px; margin: 0px; color: #006fc8; line-height: 16px; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; text-decoration: none; padding: 0px}
.standard h2 a:link{font-weight: normal; font-size: 11px; margin: 0px; color: #006fc8; line-height: 16px; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; text-decoration: none; padding: 0px}
.standard h2 a:active{font-weight: normal; font-size: 11px; margin: 0px; color: #006fc8; line-height: 16px; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; text-decoration: none; padding: 0px}
.standard h2 a:visited{font-weight: normal; font-size: 11px; margin: 0px; color: #006fc8; line-height: 16px; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; text-decoration: none; padding: 0px}
.standard h2 a:hover{font-weight: normal; font-size: 11px; margin: 0px; color: #006fc8; line-height: 16px; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; text-decoration: underline; padding: 0px}
.standard h3{margin: 0px 10px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; font-style: italic; line-height: 16px; font-weight: normal; color: #8b8b8b; text-align: justify}
.standard h3 a{margin: 0px 10px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; font-style: italic; line-height: 16px; font-weight: normal; color: #8b8b8b; text-align: justify}
.standard h3 a:link{margin: 0px 10px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; font-style: italic; line-height: 16px; font-weight: normal; color: #8b8b8b; text-align: justify}
.standard h3 a:active{margin: 0px 10px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; font-style: italic; line-height: 16px; font-weight: normal; color: #8b8b8b; text-align: justify}
.standard h3 a:visited{margin: 0px 10px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; font-style: italic; line-height: 16px; font-weight: normal; color: #8b8b8b; text-align: justify}
.standard h3 a:hover{margin: 0px 10px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; font-style: italic; line-height: 16px; font-weight: normal; color: #8b8b8b; text-align: justify}
.standard li{margin: 0px 10px 0px 20px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; line-height: 16px; color: #565656; text-decoration: none; text-align: justify; list-style-type: none; list-style-position: inside; list-style-image: url('fleche_listes.gif'); top: 0px; right: 0px; bottom: 0px; left: 0px; clip: rect(0px, 0px, 0px, 0px)}
.standard li a{margin: 0px 10px 0px 20px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; line-height: 16px; color: #006fc8; text-decoration: none; text-align: justify; list-style-type: none; list-style-position: inside; list-style-image: url('fleche_listes.gif'); top: 0px; right: 0px; bottom: 0px; left: 0px; clip: rect(0px, 0px, 0px, 0px)}
.standard li a:link{margin: 0px 10px 0px 20px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; line-height: 16px; color: #006fc8; text-decoration: none; text-align: justify; list-style-type: none; list-style-position: inside; list-style-image: url('fleche_listes.gif'); top: 0px; right: 0px; bottom: 0px; left: 0px; clip: rect(0px, 0px, 0px, 0px)}
.standard li a:active{margin: 0px 10px 0px 20px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; line-height: 16px; color: #006fc8; text-decoration: none; text-align: justify; list-style-type: none; list-style-position: inside; list-style-image: url('fleche_listes.gif'); top: 0px; right: 0px; bottom: 0px; left: 0px; clip: rect(0px, 0px, 0px, 0px)}
.standard li a:visited{margin: 0px 10px 0px 20px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; line-height: 16px; color: #006fc8; text-decoration: none; text-align: justify; list-style-type: none; list-style-position: inside; list-style-image: url('fleche_listes.gif'); top: 0px; right: 0px; bottom: 0px; left: 0px; clip: rect(0px, 0px, 0px, 0px)}
.standard li a:hover{margin: 0px 10px 0px 20px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; line-height: 16px; color: #006fc8; text-decoration: underline; text-align: justify; list-style-type: none; list-style-position: inside; list-style-image: url('fleche_listes.gif'); top: 0px; right: 0px; bottom: 0px; left: 0px; clip: rect(0px, 0px, 0px, 0px)}
.standard ul{margin: 0px; padding: 0px}
.standard ul a{margin: 0px; padding: 0px}
.standard ul a:link{margin: 0px; padding: 0px}
.standard ul a:active{margin: 0px; padding: 0px}
.standard ul a:visited{margin: 0px; padding: 0px}
.standard ul a:hover{margin: 0px; padding: 0px}
.standard {font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif}
.standard a{}
.standard a:link{}
.standard a:active{}
.standard a:visited{}
.standard a:hover{}
.standard em{padding-right: 10px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px}
.standard em a{}
.standard em a:link{}
.standard em a:active{}
.standard em a:visited{}
.standard em a:hover{}
.divhautcontenu {width: 604px; float: left}
.divec {margin: 0px; padding: 0px; width: 203px; height: 100%; float: left}
.divec a{}
.divec a:link{}
.divec a:active{}
.divec a:visited{}
.divec a:hover{}
.fieldrow {background-color: #eeeeee; display: block; width: 80%; float: left; padding-right: 3px; padding-left: 3px; margin-top: 1px; margin-bottom: 1px}
.fieldrow a{background-color: #eeeeee; display: block; width: 80%; float: left; padding-right: 3px; padding-left: 3px; margin-top: 1px; margin-bottom: 1px}
.fieldrow a:link{background-color: #eeeeee; display: block; width: 80%; float: left; padding-right: 3px; padding-left: 3px; margin-top: 1px; margin-bottom: 1px}
.fieldrow a:active{background-color: #eeeeee; display: block; width: 80%; float: left; padding-right: 3px; padding-left: 3px; margin-top: 1px; margin-bottom: 1px}
.fieldrow a:visited{background-color: #eeeeee; display: block; width: 80%; float: left; padding-right: 3px; padding-left: 3px; margin-top: 1px; margin-bottom: 1px}
.fieldrow a:hover{background-color: #eeeeee; display: block; width: 80%; float: left; padding-right: 3px; padding-left: 3px; margin-top: 1px; margin-bottom: 1px}
.divdroitecontenu {margin: 0px; padding: 0px; width: 301px; float: left}
.divdroitecontenu a{}
.divdroitecontenu a:link{}
.divdroitecontenu a:active{}
.divdroitecontenu a:visited{}
.divdroitecontenu a:hover{}
.moteur h1{font-weight: bold; font-size: 12px; margin: 0px 10px 5px; color: #e00025; line-height: 24px; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; text-decoration: none; padding: 0px}
.moteur h1 a{font-weight: bold; font-size: 12px; margin: 0px 10px 5px; color: #e00025; line-height: 24px; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; text-decoration: none; padding: 0px}
.moteur h1 a:link{font-weight: bold; font-size: 12px; margin: 0px 10px 5px; color: #e00025; line-height: 24px; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; text-decoration: none; padding: 0px}
.moteur h1 a:active{font-weight: bold; font-size: 12px; margin: 0px 10px 5px; color: #e00025; line-height: 24px; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; text-decoration: none; padding: 0px}
.moteur h1 a:visited{font-weight: bold; font-size: 12px; margin: 0px 10px 5px; color: #e00025; line-height: 24px; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; text-decoration: none; padding: 0px}
.moteur h1 a:hover{font-weight: bold; font-size: 12px; margin: 0px 10px 5px; color: #e00025; line-height: 24px; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; text-decoration: underline; padding: 0px}
.moteur h2{font-weight: normal; font-size: 11px; margin: 0px 10px; color: #565656; line-height: 16px; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; text-decoration: none; padding: 0px}
.moteur h2 a{font-weight: normal; font-size: 11px; margin: 0px; color: #006fc8; line-height: 16px; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; text-decoration: none; padding: 0px}
.moteur h2 a:link{font-weight: normal; font-size: 11px; margin: 0px; color: #006fc8; line-height: 16px; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; text-decoration: none; padding: 0px}
.moteur h2 a:active{font-weight: normal; font-size: 11px; margin: 0px; color: #006fc8; line-height: 16px; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; text-decoration: none; padding: 0px}
.moteur h2 a:visited{font-weight: normal; font-size: 11px; margin: 0px; color: #006fc8; line-height: 16px; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; text-decoration: none; padding: 0px}
.moteur h2 a:hover{font-weight: normal; font-size: 11px; margin: 0px; color: #006fc8; line-height: 16px; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; text-decoration: underline; padding: 0px}
.moteur h3{font-weight: normal; font-size: 12px; margin: 0px 10px; color: #8b8b8b; line-height: 16px; font-style: italic; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; padding: 0px}
.moteur h3 a{font-weight: normal; font-size: 12px; margin: 0px 10px; color: #8b8b8b; line-height: 16px; font-style: italic; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; padding: 0px}
.moteur h3 a:link{font-weight: normal; font-size: 12px; margin: 0px 10px; color: #8b8b8b; line-height: 16px; font-style: italic; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; padding: 0px}
.moteur h3 a:active{font-weight: normal; font-size: 12px; margin: 0px 10px; color: #8b8b8b; line-height: 16px; font-style: italic; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; padding: 0px}
.moteur h3 a:visited{font-weight: normal; font-size: 12px; margin: 0px 10px; color: #8b8b8b; line-height: 16px; font-style: italic; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; padding: 0px}
.moteur h3 a:hover{font-weight: normal; font-size: 12px; margin: 0px 10px; color: #8b8b8b; line-height: 16px; font-style: italic; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: justify; padding: 0px}
.moteur span{background-color: #99ffff}
.moteur span a{}
.moteur span a:link{}
.moteur span a:active{}
.moteur span a:visited{}
.moteur span a:hover{}
.divgauchecontenu {border-right: #c4c4c4 1px solid; right: 0px; left: 0px; float: left; margin: 0px; width: 301px; clip: rect(0px 0px 0px 0px); bottom: 0px; top: 0px; padding: 0px}
.divgauchecontenu a{}
.divgauchecontenu a:link{}
.divgauchecontenu a:active{}
.divgauchecontenu a:visited{}
.divgauchecontenu a:hover{}
.pagewysistat h1{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; line-height: normal; font-weight: bold; color: #e00024}
.pagewysistat h1 a{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; line-height: normal; font-weight: bold; color: #e00024}
.pagewysistat h1 a:link{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; line-height: normal; font-weight: bold; color: #e00024}
.pagewysistat h1 a:active{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; line-height: normal; font-weight: bold; color: #e00024}
.pagewysistat h1 a:visited{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; line-height: normal; font-weight: bold; color: #e00024}
.pagewysistat h1 a:hover{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; line-height: normal; font-weight: bold; color: #e00024}
.pagewysistat h2{margin: 0px; padding: 5px 0px 4px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; color: #555555; text-align: right}
.pagewysistat h2 a{margin: 0px; padding: 5px 0px 4px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; color: #555555; text-align: right}
.pagewysistat h2 a:link{margin: 0px; padding: 5px 0px 4px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; color: #555555; text-align: right}
.pagewysistat h2 a:active{margin: 0px; padding: 5px 0px 4px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; color: #555555; text-align: right}
.pagewysistat h2 a:visited{margin: 0px; padding: 5px 0px 4px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; color: #555555; text-align: right}
.pagewysistat h2 a:hover{margin: 0px; padding: 5px 0px 4px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; color: #555555; text-align: right}
.pagewysistat h3{padding-right: 0px; padding-left: 0px; font-weight: normal; font-size: 10px; padding-bottom: 4px; margin: 0px; color: #797979; line-height: normal; padding-top: 0px; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: right; text-decoration: none}
.pagewysistat h3 a{padding-right: 0px; padding-left: 0px; font-weight: normal; font-size: 10px; padding-bottom: 4px; margin: 0px; color: #797979; line-height: normal; padding-top: 0px; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: right; text-decoration: none}
.pagewysistat h3 a:link{padding-right: 0px; padding-left: 0px; font-weight: normal; font-size: 10px; padding-bottom: 4px; margin: 0px; color: #797979; line-height: normal; padding-top: 0px; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: right; text-decoration: none}
.pagewysistat h3 a:active{padding-right: 0px; padding-left: 0px; font-weight: normal; font-size: 10px; padding-bottom: 4px; margin: 0px; color: #797979; line-height: normal; padding-top: 0px; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: right; text-decoration: none}
.pagewysistat h3 a:visited{padding-right: 0px; padding-left: 0px; font-weight: normal; font-size: 10px; padding-bottom: 4px; margin: 0px; color: #797979; line-height: normal; padding-top: 0px; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: right; text-decoration: none}
.pagewysistat h3 a:hover{padding-right: 0px; padding-left: 0px; font-weight: normal; font-size: 10px; padding-bottom: 4px; margin: 0px; color: #797979; line-height: normal; padding-top: 0px; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: right; text-decoration: underline}
.pagewysistat h4{padding-right: 0px; padding-left: 0px; font-weight: normal; font-size: 9px; padding-bottom: 4px; margin: 0px; color: #a1a1a1; line-height: normal; padding-top: 0px; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: right; text-decoration: none}
.pagewysistat h4 a{padding-right: 0px; padding-left: 0px; font-weight: normal; font-size: 9px; padding-bottom: 4px; margin: 0px; color: #a1a1a1; line-height: normal; padding-top: 0px; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: right; text-decoration: none}
.pagewysistat h4 a:link{padding-right: 0px; padding-left: 0px; font-weight: normal; font-size: 9px; padding-bottom: 4px; margin: 0px; color: #a1a1a1; line-height: normal; padding-top: 0px; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: right; text-decoration: none}
.pagewysistat h4 a:active{padding-right: 0px; padding-left: 0px; font-weight: normal; font-size: 9px; padding-bottom: 4px; margin: 0px; color: #a1a1a1; line-height: normal; padding-top: 0px; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: right; text-decoration: none}
.pagewysistat h4 a:visited{padding-right: 0px; padding-left: 0px; font-weight: normal; font-size: 9px; padding-bottom: 4px; margin: 0px; color: #a1a1a1; line-height: normal; padding-top: 0px; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: right; text-decoration: none}
.pagewysistat h4 a:hover{padding-right: 0px; padding-left: 0px; font-weight: normal; font-size: 9px; padding-bottom: 4px; margin: 0px; color: #a1a1a1; line-height: normal; padding-top: 0px; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: right; text-decoration: underline}
.pagewysistat h5{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: normal; color: #006fc8; text-decoration: none; text-align: right}
.pagewysistat h5 a{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: normal; color: #006fc8; text-decoration: none; text-align: right}
.pagewysistat h5 a:link{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: normal; color: #006fc8; text-decoration: none; text-align: right}
.pagewysistat h5 a:active{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: normal; color: #006fc8; text-decoration: none; text-align: right}
.pagewysistat h5 a:visited{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: normal; color: #006fc8; text-decoration: none; text-align: right}
.pagewysistat h5 a:hover{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: normal; color: #006fc8; text-decoration: underline; text-align: right}
.actualiteaccueil h1{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: bold; color: #e00024}
.actualiteaccueil h1 a{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: bold; color: #e00024}
.actualiteaccueil h1 a:link{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: bold; color: #e00024}
.actualiteaccueil h1 a:active{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: bold; color: #e00024}
.actualiteaccueil h1 a:visited{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: bold; color: #e00024}
.actualiteaccueil h1 a:hover{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: bold; color: #e00024}
.actualiteaccueil h2{padding-right: 0px; padding-left: 30px; font-weight: bold; font-size: 10px; padding-bottom: 2px; margin: 0px; color: #429cde; line-height: normal; padding-top: 5px; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif}
.actualiteaccueil h2 a{font-weight: bold; font-size: 10px; margin: 0px; color: #429cde; line-height: normal; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; padding: 0px}
.actualiteaccueil h2 a:link{font-weight: bold; font-size: 10px; margin: 0px; color: #429cde; line-height: normal; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; padding: 0px}
.actualiteaccueil h2 a:active{font-weight: bold; font-size: 10px; margin: 0px; color: #429cde; line-height: normal; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; padding: 0px}
.actualiteaccueil h2 a:visited{font-weight: bold; font-size: 10px; margin: 0px; color: #429cde; line-height: normal; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; padding: 0px}
.actualiteaccueil h2 a:hover{font-weight: bold; font-size: 10px; margin: 0px; color: #429cde; line-height: normal; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; text-decoration: underline; padding: 0px}
.actualiteaccueil h3{margin: 0px; padding: 0px 0px 3px 20px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: bold; color: #00529b}
.actualiteaccueil h3 a{margin: 0px; padding: 0px 0px 3px 20px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: bold; color: #00529b}
.actualiteaccueil h3 a:link{margin: 0px; padding: 0px 0px 3px 20px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: bold; color: #00529b}
.actualiteaccueil h3 a:active{margin: 0px; padding: 0px 0px 3px 20px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: bold; color: #00529b}
.actualiteaccueil h3 a:visited{margin: 0px; padding: 0px 0px 3px 20px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: bold; color: #00529b}
.actualiteaccueil h3 a:hover{margin: 0px; padding: 0px 0px 3px 20px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: bold; color: #00529b}
.actualiteaccueil h4{font-weight: normal; font-size: 10px; margin: 0px; color: #555555; line-height: normal; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; text-decoration: none; padding: 0px}
.actualiteaccueil h4 a{font-weight: normal; font-size: 10px; margin: 0px; color: #006fc8; line-height: normal; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; text-decoration: none; padding: 0px}
.actualiteaccueil h4 a:link{font-weight: normal; font-size: 10px; margin: 0px; color: #006fc8; line-height: normal; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; text-decoration: none; padding: 0px}
.actualiteaccueil h4 a:active{font-weight: normal; font-size: 10px; margin: 0px; color: #006fc8; line-height: normal; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; text-decoration: none; padding: 0px}
.actualiteaccueil h4 a:visited{font-weight: normal; font-size: 10px; margin: 0px; color: #006fc8; line-height: normal; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; text-decoration: none; padding: 0px}
.actualiteaccueil h4 a:hover{font-weight: normal; font-size: 10px; margin: 0px; color: #006fc8; line-height: normal; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; text-decoration: underline; padding: 0px}
.actualiteaccueil h5{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: normal; color: #006fc8; text-decoration: none; text-align: right}
.actualiteaccueil h5 a{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: normal; color: #006fc8; text-decoration: none; text-align: right}
.actualiteaccueil h5 a:link{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: normal; color: #006fc8; text-decoration: none; text-align: right}
.actualiteaccueil h5 a:active{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: normal; color: #006fc8; text-decoration: none; text-align: right}
.actualiteaccueil h5 a:visited{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: normal; color: #006fc8; text-decoration: none; text-align: right}
.actualiteaccueil h5 a:hover{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: normal; color: #006fc8; text-decoration: underline; text-align: right}
.actualiteaccueil p{margin: 0px 5px 0px 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #555555; text-align: justify}
.actualiteaccueil p a{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #555555; text-align: justify}
.actualiteaccueil p a:link{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #555555; text-align: justify}
.actualiteaccueil p a:active{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #555555; text-align: justify}
.actualiteaccueil p a:visited{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #555555; text-align: justify}
.actualiteaccueil p a:hover{margin: 0px; padding: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #555555; text-align: justify}
.video {}
.video a{}
.video a:link{}
.video a:active{}
.video a:visited{}
.video a:hover{}
.video p{text-align: center}
.video p a{}
.video p a:link{}
.video p a:active{}
.video p a:visited{}
.video p a:hover{}
