body{
	scrollbar-face-color:#0A72B7;
	scrollbar-highlight-color:#0A72B7;
	scrollbar-darkshadow-color:#0A72B7;
	scrollbar-track-color:#003366;
	scrollbar-3dlight-color:#0A72B7;
	scrollbar-shadow-color:#0A72B7;
	scrollbar-arrow-color:#FFFFFF;
	background: url(_dot.gif) repeat-x #FFFFFF;
	margin-top:0;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
}

.imagepopup {
	position:absolute;
	width:97px;
	height:132px;
	z-index:32;
	visibility:hidden;
	border:1px solid #033568;
}

.cacheonglet {
	display:none;
}

.champ-bleu {font: 12px Verdana, Arial, Helvetica, sans-serif;color: #4D70B7; height: 20px;width: 200px;border: 1px solid #4D70B7;padding-left: 3px;}

.champ-bleu-remarque {font: 12px Verdana, Arial, Helvetica, sans-serif;color: #4D70B7; height:150px;width: 200px;border: 1px solid #4D70B7;padding-left: 3px;}



.blanc10 {font: 10px Arial, Helvetica, sans-serif; color: #FFFFFF;}

.blanc10v {font: 10px Verdana, Helvetica, sans-serif; color: #FFFFFF;}

a.blanc10:link {font: 10px Verdana, Helvetica, sans-serif; color: #FFFFFF; text-decoration:underline;}

a.blanc10:visited {font: 10px Verdana, Helvetica, sans-serif; color: #FFFFFF; text-decoration:underline;}

a.blanc10:hover {font: 10px Verdana, Helvetica, sans-serif; color: #FFCC00; text-decoration:underline;}

a.blanc10:active {font: 10px Verdana, Helvetica, sans-serif; color: #FFFFFF; text-decoration:none;}



.blanc10b {font: bold 10px Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF;}

a.blanc10b:link {font: bold 10px Verdana, Helvetica, sans-serif; color: #FFFFFF; text-decoration:none;}

a.blanc10b:visited {font: bold 10px Verdana, Helvetica, sans-serif; color: #FFFFFF; text-decoration:none;}

a.blanc10b:hover {font: bold 10px Verdana, Helvetica, sans-serif; color: #FFFFFF; text-decoration:underline;}

a.blanc10b:active {font: bold 10px Verdana, Helvetica, sans-serif; color: #FFFFFF; text-decoration:none;}



.blanc11vb {font: bold 11px Verdana, Helvetica, sans-serif; color: #FFFFFF;}

.blanc12b {font: bold 12px Arial, Helvetica, sans-serif; color: #FFFFFF;}

a.blanc12b:link {font: bold 12px Arial, Helvetica, sans-serif; color: #FFFFFF; text-decoration:none;}

a.blanc12b:visited {font: bold 12px Arial, Helvetica, sans-serif; color: #FFFFFF; text-decoration:none;}

a.blanc12b:hover {font: bold 12px Arial, Helvetica, sans-serif; color: #FFCC00; text-decoration:none;}

.blanc12vb {font: bold 12px Verdana, Helvetica, sans-serif; color: #FFFFFF;}



.bleu10 {font: 10px Verdana, Helvetica, sans-serif; color: #0099CC;}

.bleu10B {font: bold 10px Verdana, Helvetica, sans-serif; color: #0099CC;}

.bleu18B {font: bold 18px Verdana, Helvetica, sans-serif; color: #0099CC;}



.marine10 {font: 10px Verdana, Helvetica, sans-serif; color: #003366;}

.marine10B {font: bold 10px Verdana, Helvetica, sans-serif; color: #003366;}

.marine12B {font: bold 12px Verdana, Helvetica, sans-serif; color: #003366;}

.marine18 {font: bold 18px Verdana, Helvetica, sans-serif; color: #003366;}



.marine10Broll {font: bold 10px Verdana, Helvetica, sans-serif; color: #003366;}

.marine10Broll:link {font: bold 10px Verdana, Helvetica, sans-serif; color: #003366; text-decoration:none;}

.marine10Broll:visited {font: bold 10px Verdana, Helvetica, sans-serif; color: #003366; text-decoration:none;}

.marine10Broll:hover {font: bold 10px Verdana, Helvetica, sans-serif; color: #003366; text-decoration:underline;;}

.marine10Broll:active {font: bold 10px Verdana, Helvetica, sans-serif; color: #003366;}



.ArialBleuclair10 {font: 10px Arial, Helvetica, sans-serif; color: #99CCFF;}

.Arialmarine10 {font: 10px Arial, Helvetica, sans-serif; color: #003366;}

.Arialmarine10B {font: bold 10px Arial, Helvetica, sans-serif; color: #003366;}





.blanc10lien {font: 10px Arial, Helvetica, sans-serif; color: #FFFFFF;}



a.blanc10lien:link {font: 10px Arial, Helvetica, sans-serif; color: #FFFFFF; text-decoration:none;}

a.blanc10lien:visited {font: 10px Arial, Helvetica, sans-serif; color: #FFFFFF; text-decoration:none;}

a.blanc10lien:hover {font: 10px Arial, Helvetica, sans-serif; color: #99CCFF; text-decoration:none;}

a.blanc10lien:active {font: 10px Arial, Helvetica, sans-serif; color: ##99CCFF; text-decoration:none;}



.marineclair10 {font: 10px Verdana, Helvetica, sans-serif; color: #4C70B7;}

.marineclair10B {font: bold 10px Verdana, Helvetica, sans-serif; color: #4C70B7;}

.marineclair12B {font: bold 12px Verdana, Helvetica, sans-serif; color: #4D7AB8;}



.Arialrouge10 {font: 10px Arial, Helvetica, sans-serif; color: #FF3300;}



.noir10 {font: 10px Verdana, Helvetica, sans-serif; color: #000000;}

.noir12 {font: 12px Verdana, Helvetica, sans-serif; color: #000000;}



.orange10b{font: bold 10px Verdana, Helvetica, sans-serif; color: #FF9000;}

a.orange10b:link {font: bold 10px Verdana, Helvetica, sans-serif; color: #FF6600; text-decoration:underline;}

a.orange10b:visited {font: bold 10px Verdana, Helvetica, sans-serif; color: #FF6600; text-decoration:underline;}

a.orange10b:hover {font: bold 10px Verdana, Helvetica, sans-serif; color: #FF3300; text-decoration:underline;}

a.orange10b:active {font: bold 10px Verdana, Helvetica, sans-serif; color: #FF6600; text-decoration:underline;}

.orange10{font: 10px Verdana, Helvetica, sans-serif; color: #FF9000;}

.orangefoncer10{font: 10px Verdana, Helvetica, sans-serif; color: #FF6600;}

.orangefoncer10b{font: bold 10px Verdana, Helvetica, sans-serif; color: #FF6600;}

.orange12b{font: bold 12px Verdana, Helvetica, sans-serif; color: #FF6600;}

.vert { font: bold 12px Verdana, Arial, Helvetica, sans-serif; color:#66B821;}
.vert10 { font: bold 9px Verdana, Helvetica, sans-serif; color: #66B821;}

.inputIns{font: 11px Verdana, Arial, Helvetica, sans-serif;color: #660000;padding: 1px 1px 1px 2px;height: 20px;width: 92px;	border: 1px solid #CC0000;}

.inputCompte{font: 11px Verdana, Arial, Helvetica, sans-serif;color: #660000;padding: 1px 1px 1px 2px;height: 18px;width: 92px;	border: 1px solid #FFCC00;background: url(fond_champ.gif);}

.inputCodes{font: bold 12px Verdana, Arial, Helvetica, sans-serif;color: #660000;padding: 0px 0px 0px 2px;height: 18px;width: 72px;	border: 1px solid #FFCC00;background: url(fond_champ.gif);}

.inputRecherche{font: 11px Verdana, Arial, Helvetica, sans-serif;color: #660000;padding: 1px 1px 1px 2px;height: 20px;width: 486px;	border: 1px solid #CC0000;}

.selectbox{font: 10px  Arial, Helvetica, sans-serif;color: #003366;padding: 1px 1px 1px 2px;height: 20px; width: 140px;border: 1px solid #003366;}



.cadreMain {border: 1px solid #003366;background:url(fond_bas.jpg) bottom no-repeat #FEFFFF;}

#pad4{padding-left: 4px;padding-right: 4px;}

#pad6{padding-left: 6px;padding-right: 6px;}

#pad4v{padding-bottom: 4px;padding-top: 4px;}

#pad6v{padding-bottom: 6px;padding-top: 6px;}

#pad8v{padding-bottom: 8px;padding-top: 8px;}


LI{	padding-left: 5px;list-style: url(puce_carre.gif) outside;}