/* CSS Document */

/*******************************
Encart_fond_gris
*******************************/
#encart_fond_gris{
	background:url(encart_fond_gris.gif) repeat-x bottom #f1f1f1 ;
	min-height: 200px;
	height: auto !important;
	height:200px;
}

/*******************************
A la une
*******************************/
#a_la_une_general{
	margin:0px;
}
	#a_la_une_general #contenu_a_la_une_general{
	padding:10px 5px 0px 10px;
	}

	#a_la_une_general h2{
		background:url(titre_actu_region.gif) no-repeat;
		height:23px; 
		line-height:23px;
		width:100%; 
		display:block;
	}
	#a_la_une_general .contenu_actu_region{
		text-align:justify;
	}
		#a_la_une_general .contenu_actu_region a{
			color:#a10000;
		}
		#a_la_une_general .contenu_actu_region h3{
			font-size:13px;
		}
		#a_la_une_general .contenu_actu_region p.texte_actu_region {
			margin:5px 0px;
		}
		#a_la_une_general .contenu_actu_region p.lire_suite {
			color:#a10000;
			font-weight:bold;
		}




/*******************************
Et aussi
*******************************/
#et_aussi_general{
	margin:0px;
	width:380px;
	float:left;
	margin-top:8px;
	padding-bottom:10px;
}
	#et_aussi_general h2{
		background:url(titre_et_aussi.gif) no-repeat;
		height:23px; 
		line-height:23px;
		width:100%; 
		display:block;
	}
	#et_aussi_general h3{
		font-size:100%;
		font-weight:normal;
	}


	#et_aussi_general table{
		width:99%;
	}
	#et_aussi_general tr.contenu_et_aussi{
	}
	#et_aussi_general tr.fond_blanc{
		background-color:#f6f6f6;
	}
		#et_aussi_general tr td{
			padding:5px 0px;
		}
			#et_aussi_general tr td h3{
				font-weight:normal;
				font-size:100%;
			}
			#et_aussi_general tr td.date_et_aussi{
				width:50px;
				padding:0 10px;
				color:#6e6e6e;
			}
			#et_aussi_general tr td.theme_et_aussi{
				padding-right:10px;
				font-style:italic;
				color:#a10000;
			}
			#et_aussi_general tr td a{
				color:#000;
				text-decoration:none;
				font-weight:normal;
			}
			#et_aussi_general tr td a:hover{
				text-decoration:underline;
				font-weight:normal;
			}


/*******************************
Edito du président
*******************************/
#edito_president_general{
	width:213px;
	height:178px;
	float:left;
	text-align:center;
}


/*******************************
A ne pas manquer
*******************************/

#rdv_general{
	width:200px;
	float:right;
	margin-top:8px;
	margin-bottom:10px;
	text-align:center;
}
	#rdv_general h2{
		background:url(ne_pas_manquez.gif) no-repeat ;
		height:23px; 
		line-height:23px;
		display:block;
		margin-bottom:3px;
	}
	#rdv_general .lien_autre_rdv img{
		border:1px solid #fc0;
		margin:3px 0px;
	}



/*******************************
Fils d'infos
*******************************/
#fils_infos_general{
	background:url(fond_fil_info.gif) #fdfdfd repeat-x bottom;
	margin-right:10px;
	width:379px;
	float:left;
	margin-top:15px;
}
	#fils_infos_general h2{
		background:url(titre_fil_info.gif) no-repeat;
		height:23px; 
		line-height:23px;
		display:block;
	}
	#fils_infos_general h3{
		font-size:100%;
		font-weight:normal;
	}
	#fils_infos_general .article_fil_info_general{
		padding:7px 10px;
		!padding:10px 10px;
	}
		#fils_infos_general .border_bottom_fil_info{
			background:url(border_bottom_fil_info.gif) no-repeat  bottom center;
		}
		#fils_infos_general .article_fil_info_general .logo_fil_info{
			float:left;
			width:60px;
			margin-right:10px;
		}
		#fils_infos_general .article_fil_info_general .titre_fil_info{
			float:left;
		}
		#fils_infos_general .article_fil_info_general .titre_fil_info a{
			text-decoration:underline;
			color:#a10000;
		font-weight:normal;
		}
		#fils_infos_general .article_fil_info_general .titre_fil_info a:hover{
			text-decoration:none;
			color:#a10000;
		font-weight:normal;
		}

/*******************************
Rendez-vous
*******************************/
#encart_rdv{
	margin:20px 0px;
	padding:1px;
	border:1px solid #fedf65;
	min-height: 50px;
	height: auto !important;
	height:50px;
}
	#encart_rdv #autre_rdv{
		float:left;
	}
		#encart_rdv #autre_rdv img{
			width:292px;
			height:86px;
			float:left;
			padding:1px;
		}
		#encart_rdv #autre_rdv h2{
			background:url(rendez_vous.gif) no-repeat;
			height:26px; 
			line-height:26px;
			display:block;
			margin-bottom:3px;
		}
		#encart_rdv #autre_rdv .lien_autre_rdv{
			float:left;
		}
		



