/* CSS Document */


@import 'reset.css';
@import 'html_screen.css';
@import 'zones_communes.css';
@import 'style_commun.css';

/*
#bandeau,
*/
#menu_univers,
#colonne_gauche,
#colonne_droite,
#fonctionnalites_communes,
#hierarchie,
#pieddepage,
div.zoom,
.lien_a_droite,
.spip-admin-float{
	display:none;
}

body { font-size: 70%; }

#logo { display: block; }
#flash_bandeau { display: none; }
#bandeau { 
	padding-bottom: 1em; 
	margin-bottom: 2em; 
	border-bottom: 1px solid #666; 
}

#a_la_une_univers .invisible,
#et_aussi_univers .invisible,
#fil_infos_univers .invisible,
#nuage_univers .invisible,
#encart_rdv_univers .invisible {
	display: block;
	font-size: 120%;
	border-bottom: 1px solid #DDD;
}
#encart_rdv_univers .titre {
	font-size: 90%;
}

h2.titre_fil_infos_general {
	margin-bottom: 0.5em;
}

li {
	list-style: disc;
}