

body{
	background-color:#e6e6e6;
}


/**************************************
Conteneur principal de la page
**************************************/

#conteneur_global{
	background:url(http://www.midipyrenees.fr/squelettes/images/fond_conteneur_global.gif) #fff no-repeat center top;
	width:100%;
	height:100%;
}

	#conteneur{
		text-align:left;
		width:951px;
		margin:0 auto;
	}

	
	/**************************************
	Bandeau
	**************************************/
	#conteneur #bandeau{
		position:relative;
		width:951px;
		height:135px;
		padding:10px 0px;
	}
		#conteneur #bandeau #logo{
			width:166px;
			height:135px;
			float:left;
		}
			#conteneur #bandeau #logo{
				width:166px;
				height:135px;
				float:left;
			}
		#conteneur #flash_bandeau{
			width:785px;
			height:135px;
			float:left;
		}
			#conteneur #flash_bandeau embed{
				margin:0;
			}
		/*
		#conteneur #mobimipy{
			width:178px;
			height:135px;
			background:url(../images/fond_mobimipy.gif) #fff no-repeat right top;
			float:right;
			text-align:center;
		}
			#conteneur #mobimipy form{
				padding: 55px 15px 0px 15px;
			}
				#conteneur #mobimipy form input.zone_texte{
					width:148px;
					height:16px;
					background-color:#8b8a84;
					border:0;
					color:#fff;
					font-size:11px;
					margin:3px 0px;
				}
		*/
	/**************************************
	Menu des univers principaux (bande en haut)
	**************************************/	
	#conteneur #menu_univers{
		position:relative;
		width:100%;
	}	
	
	
	/*******************************
	Fil d'ariane
	*******************************/
	#conteneur #hierarchie{
		margin-top:4px;
		padding:5px 0px;
		background:url(http://www.midipyrenees.fr/squelettes/images/fond_colonne_droite.jpg) no-repeat top right;
		color:#a1a0a0;
		font-size:10px;
	}
		#conteneur #hierarchie span.fleche_rouge{
			color:#e10019;
			font-size:12px;
			font-weight:bold;
		}
		#conteneur #hierarchie a{
			color:#a1a0a0;
			font-weight:bold;
			
		}
	/**************************************
	Colonne centrale
	**************************************/	
	#conteneur #colonne_centrale{
		float:left;
		width:100%;
	}
		#conteneur #content_colonne_centrale{
			width:593px;
			margin:0px 178px 0px 158px;
			padding: 3px 10px;
		}
			
			/********* Contenu ********/	
			#conteneur #content_colonne_centrale #conteneur_contenu{
				min-height: 550px;
				height: auto !important;
				height:550px;
				color:#4e4e4e;
			}
			

	/**************************************
	Colonne droite
	**************************************/	
	#conteneur #colonne_droite{
		background:url(http://www.midipyrenees.fr/squelettes/images/fond_colonne_droite.jpg) no-repeat top left;
		float:left;
		width:167px;
		margin-left:-178px;
		min-height: 550px;
		height: auto !important;
		height:550px;
		padding-left:11px;
	}	
	#conteneur #colonne_droite a{
		color:#fff;
	}
	
	/**************************************
	Colonne Gauche
	**************************************/	
	#conteneur #colonne_gauche{
		float:left;
		width:158px;
		margin-left:-951px;
		margin-bottom:10px;
	}	
	
	
	
/**************************************
Pied de page
**************************************/	

#pieddepage{
	background:url(http://www.midipyrenees.fr/squelettes/images/fond_pied.gif) #e6e6e6 repeat-x top;
	color: #FFF;
	clear:left;
	width:100%;
	margin-bottom:10px;
}
	#pieddepage #content_pieddepage{
		margin:auto;
		width:951px;
		padding-top:20px;
	}
		#pieddepage #content_pieddepage #pied_colonne_un{
			width:215px;
			padding-left:20px;
			float:left;
			background:url(http://www.midipyrenees.fr/squelettes/images/border_pied_de_page.gif) no-repeat top right;
		}
		
		#pieddepage #content_pieddepage #pied_colonne_deux{
			width:215px;
			padding-left:20px;
			float:left;
			background:url(http://www.midipyrenees.fr/squelettes/images/border_pied_de_page.gif) no-repeat top right;
		}
		#pieddepage #content_pieddepage #pied_colonne_trois{
			width:215px;
			padding-left:20px;
			float:left;
			background:url(http://www.midipyrenees.fr/squelettes/images/border_pied_de_page.gif) no-repeat top right;
		}
		#pieddepage #content_pieddepage #pied_colonne_quatre{
			width:215px;
			padding-left:20px;
			float:left;
		}
		
		#pieddepage #content_pieddepage #pied_colonne_un ul, #pied_colonne_deux ul, #pied_colonne_trois ul, #pied_colonne_quatre ul{
			margin:0;
			padding:0;
		}
		#pieddepage #content_pieddepage #pied_colonne_un li, #pied_colonne_deux li, #pied_colonne_trois li, #pied_colonne_quatre li{
			list-style:none;
			list-style-position:inside;
			margin:0;
			padding:0;
			!margin-left:-17px;
		}
		#pieddepage #content_pieddepage #pied_colonne_un a, #pied_colonne_deux a, #pied_colonne_trois a, #pied_colonne_quatre a{
			color:#414141;
			text-decoration:underline;
			margin:0;
			padding:0;
		}
		#pieddepage #content_pieddepage #pied_colonne_un a:hover, #pied_colonne_deux a:hover, #pied_colonne_trois a:hover, #pied_colonne_quatre a:hover{
			text-decoration:none;
		}
