/* Formulaire de recherche Verticrawl*/
#recherche_verticrawl{
	background:url(http://www.midipyrenees.fr/squelettes/images/fond_encart_verticrawl.jpg) repeat-x top;
	width: 178px;
	height: 20px;
	padding-top: 2px;
	float:left;
}
	#recherche_verticrawl fieldset,
	#recherche_verticrawl fieldset div{
		margin:0;
		padding:0;
	}
	#recherche_verticrawl #label_verticrawl{
		font-size:10px;
		color:#fff;
		padding-left:5px;
		font-weight:bold;		
		vertical-align: middle;
	}
	#recherche_verticrawl input#motcle{
		width:81px;
		border:1px solid #5881a1;
		font-size:10px;
		color:#000;
		padding:0 2px;
		margin:0;		
		vertical-align: middle;
	}
	#recherche_verticrawl #bouton_valider_verticrawl{
		margin:0; padding:0; border: 0; background: none; 
		/*vertical-align: middle;*/
	}

/*** ESSENTIAL STYLES ***/
.sf-menu{
	background:url(http://www.midipyrenees.fr/squelettes/images/fond_menu_univers.jpg) repeat-x top;
	width: 772px;
	font-size:12px;
	font-weight:normal;
	height:22px;
	text-align:left;
	z-index : 99;
	float:left;
}

.sf-menu span.titre_univers {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 0px 8px;
	line-height:22px;
	width:241px;
	text-align:center;
	cursor:default;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}
.sf-menu span.titre_univers:hover {
	color: #2c4b76;
	font-weight:bold;
}
.sf-menu span.rubrique_active{
	color: #2c4b76;
	font-weight:bold;
}

.sf-menu .pipe {
	background:url(http://www.midipyrenees.fr/squelettes/images/pipe_menu_univers.jpg) no-repeat top left;
}
.sf-menu li ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 257px;
	font-weight: normal;
	margin: 0;
	padding:0;
	list-style:none;
	background-color:#fff;
	font-family:Tahoma, Verdana, Arial;
	border:1px solid #5986c5;
}
.sf-menu li ul li {
}
.sf-menu li ul li:hover, .sf-menu li ul  li.sfhover {
	/*background:#5986c5;*/
}

.sf-menu li ul a {
	display: block;
	color: #5986c5;
	cursor:pointer;
	text-decoration: none;
	margin-left: 20px;
	padding-left: 20px;
	line-height:27px;
	cursor:pointer;
	font-size:13px;
	width: 217px;
}

.sf-menu li ul a:hover{
	background:url(http://www.midipyrenees.fr/squelettes/images/puce_menu_univers.gif) no-repeat left;
	color:#fff;
	text-decoration:none;
}


.sf-menu ul {
	top:			-999em;
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			21px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}



/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

