
.crj_elu {
	clear: both;
}

		.crj_elu .logo {
			float: left;
			width: 80px;
			height: 100px;
			margin-right: 15px;
		}
		
		.crj_elu .infos {
			float: left;
			width: 290px;
		}
		
				.crj_elu .infos td {
					color: #658FC9;
					vertical-align: top;
				}
				.crj_elu .infos td.titre {
					width: 85px;
					color: black;
				}
		
		.crj_elu .crj_elu_lien {
			float: left;
			width: 140px;
			text-align: left;
			padding: 0 0 8px 20px;
		}


.crj_elu_form {
	border: 1px solid #D8D5CA;
	margin-top: 10px;
	padding: 10px;
	width: 80%;
}
		.crj_elu_form .warning {
			color: white;
			background: gray;
			padding: 3px;
		}
		.crj_elu_form .form input, 
		.crj_elu_form .form select,
		.crj_elu_form .form textarea {
			width: 320px;
		}
		.crj_elu_form .form textarea {
			height: 180px;
		}

#crj_recherche {
	border: 1px solid #D8D5CA;
	padding: 10px;
	margin-bottom: 20px;	
}

		#crj_recherche .initiale {
			display: block;
			height: 20px;
			float: left;
		}
		#crj_recherche .initiale form {
			display: inline;
		}
		#crj_recherche .filtre {
			width: 300px;
		}		
		#crj_recherche .initiale button {
			width: 18px;
			height: 20px;
			padding: 0;
			margin: 0 3px 0 0;
			background: #EEE;
			border: 1px solid #BBB;
			cursor: pointer;
			font-weight: bold;
		}
		#crj_recherche .initiale button.selected {
			font-weight: bold;
			border: 1px solid #666;
			background: #999;
			color: white;
		}
		
.courrier_lu,
.courrier_non_lu,
.courrier_repondu {
	padding: 2px;
}
.courrier_lu img,
.courrier_non_lu img,
.courrier_repondu img {
	vertical-align:middle;
	margin-right: 6px;
}
.courrier_lu {
	color: #F28941;
	font-weight: normal;
}
.courrier_non_lu {
	color: black;
	font-weight: bold;
}
.courrier_repondu {
	color: #EB2393;
	font-weight: normal;
}

h3.titre {
	background-color: #666;
	color: white;
	font-weight: bold;
	padding: 4px;
	margin-top: 5px;
}
h3.lien {
	margin: 6px 0;
}
h3.lien a img {
	vertical-align: middle;
	margin-right: 6px;
}
.titre td {
	text-align: center;
	background-color: #DDD;
	font-weight:bold;
	padding: 4px;
}
.titrecommission td{
	text-align: left;
	background-color: #EEE;
	font-weight: bold;
	padding: 4px 4px 4px 24px;
}
.courrier_detail td {
	border: 1px solid gray;
	margin: 2px;
	padding: 2px;
	vertical-align: top;
}

.elus_pagination {
	margin: 20px 0;
	font-weight: bold;
}
		.elus_pagination button,
		.elus_pagination .disabled {
			width: 120px;
			height: 24px;
			line-height: 24px;
			padding-left: 8px;
			padding-right: 8px;
			margin: 0;
			text-align:center;
		}
		.elus_pagination button{
			background: #AAA;
			border: 1px solid #666;
			cursor: pointer;
			color: white;
		}
		.elus_pagination .disabled{
			background: #DDD;
			border: 1px solid #AAA;
			color: white;
		}