#AgendaRech .saisieForm {
	border: 0px red dotted;
	overflow: auto;
	padding: 1px;
}
#AgendaRech .saisieForm .calendrierAgenda {
	font-size: 11px;
	width: 200px;
	border: 0px solid red;
	margin: 0 0 10px 40px;
	padding: 0;
}
#AgendaRech .saisieForm .calendrierAgenda .dateDu {
	overflow: auto;
	_height: 1%;
	margin: 2px 0;
}
#AgendaRech .saisieForm .calendrierAgenda .dateAu {
	overflow: auto;
	_height: 1%;
	margin: 2px 0;
}
#AgendaRech .saisieForm .calendrierAgenda img {
	display: inline;
	margin: 0;
	padding: 0;
	border: 0px solid green;
}
#AgendaRech .saisieForm .calendrierAgenda a {
	display: inline;
	margin: 0;
	padding: 0;
}
#AgendaRech .saisieForm .calendrierAgenda input.clickCalendar {
	width: 160px;
	display: inline;
	margin: 0 0 3px;
	border: 1px solid #b6b6b6;
	float: left;
}
#AgendaRech .saisieForm .ligne {
	border-top: 1px #3366cc dotted;
	overflow: auto;
	margin: 10px 0 10px 0;
	padding: 5px 0 0 0;
}
#AgendaRech .saisieForm label.ttrLigne {
	margin: 0 0 3px 40px;
	display: block;
	font-weight: bold;
}
#AgendaRech .saisieForm .znSaisie {
	margin: 0 0 0 40px;
	width: 180px;
	border: 1px solid #b6b6b6;
}
#AgendaRech .saisieForm .ComboSaisi {
	margin: 0 0 0 40px;
	width: 180px;
	border: 1px solid #b6b6b6;
}
#AgendaRech .saisieForm .genreSousGenre {
	background: url('http://www.ouest-france.fr/design/images/liensrech.gif')  no-repeat 23px 22px;
	margin: 0 0;
}
#AgendaRech .saisieForm .genreSousGenreVide {
}
#AgendaRech .btn {
	margin: 0 0 0 40px;
}
#agendaSpectacle {
	overflow: auto;
	height: auto;
	font-size: 11px;
	margin: 0 0 20px;
	padding: 0 0 0 0;
}
#agendaSpectacle .ListeRub {
	display: block;
	border: 0px solid gray;
	overflow: auto;
	_height: 1%;
	margin: 0 0 0;
}
#agendaSpectacle h4.TitreListe {
}
#agendaSpectacle .rubrique {
	float: left;
	display: inline;
/*sinon, caca ie*/
	width: 147px;
	margin: 0 4px 0 5px;
	/* height: 18px;
*/
	padding: 3px 0;
	border-bottom: 1px solid #ddd;
	color: #B6B6B6;
	overflow: hidden;
}
#agendaSpectacle h4.barre {
	font-size: 14px;
	color: #ED1C24;
	margin: 25px 0 10px;
	padding: 0;
}
a.lienRubrique, a.lienRubrique:link, a.lienRubrique:visited {
	display: block;
	text-decoration: none;
	color: #404040;
	padding: 0 1px;
}
a.lienRubrique:hover {
	color: #000;
	background: #f2f2f2;
}
a.aLienAnnonce:active, a.aLienAnnonce:link, a.aLienAnnonce:visited, div.aLienAnnonce {
	background-position: 1px 10px;
	background-repeat: no-repeat;
	color: #404040;
	display: block;
	font-size: 12px;
	margin: 0;
	overflow: auto;
	padding: 8px 10px 8px 15px;
	text-decoration: none;
	width:430px;
}
a.aLienAnnonce:hover {
	background-color: #F8F9FC;
}
a.aLienAnnonce img, div.aLienAnnonce img {
	float: right;
	margin: 0 0 0 5px;
	width: 100px;
}
a.aLienAnnonce strong, div.aLienAnnonce strong {
	font-size: 14px;
}
.detailAnnonce em, a.aLienAnnonce strong.ttrLienAnnonce em, div.aLienAnnonce strong .ttrLienAnnonce em {
	color: #316eb8;
	font-style: normal;
	font-size: 14px;
}
a.aLienAnnonce strong.ttrLienAnnonce, div.aLienAnnonce strong.ttrLienAnnonce {
	display: block;
	line-height: 14px;
}
#colGauche .detailAnnonce {
	margin: 0 0 30px;
	overflow: auto;
	_height: 1%;
}
.detailAnnonce h1.titreArt {
	color: #333;
	font-size: 22px;
	font-weight: bold;
	line-height: 22px;
	margin: 0 0 18px;
	padding: 0;
}
.detailAnnonce .genre {
	color: #316eb8;
	font-style: normal;
	font-size: 14px;
	font-weight: bold;
}
.detailAnnonce .photoZoom {
	/*float: right;
*/
	width: 200px;
	text-align: right;
	margin: 0  0 18px 0;
}
.detailAnnonce .photoZoom img {
	width: 190px;
	margin: 0 0 6px 0;
}
.detailAnnonce .photoZoom strong {
	color: #000;
	display: block;
	font-size: 12px;
	font-weight: normal;
	margin: 0 5px 0 5px;
}
.detailAnnonce h2.chapoArt {
	color: #141414;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 14px;
	padding: 0;
}
.detailAnnonce .texteArt {
	color: #141414;
	font-size: 12px;
	text-align: justify;
}
.detailAnnonce .texteArt p {
	margin: 0 0 10px;
}
.lienDetails a {
	color: #000;
}

#agendaSpectacle .programmation {
  display:block;
  margin:20px 0 20px 0;
  text-align:left;
}
#agendaSpectacle .programmation h3.date {
  color:#316EB8;
  margin:0 0 10px;
  padding:0;
  font-size:14px;
  text-align:justify;
}
#agendaSpectacle .programmation h2.groupe {
  font-size:12px;
  font-weight:normal;
  margin:0 0 5px;
  padding:0;
}
#agendaSpectacle .programmation h2.groupe span {
  font-size:10px;
  text-transform:lowercase;
  text-transform:text-transform;
}
#agendaSpectacle .partenaires img {
  padding:10px 0 0;
}
#agendaSpectacle .uneAnnonce {
	border-bottom: 1px dotted #b6b6b6;
	display:block;
	float:left;
}
#agendaSpectacle .partenaires {
  padding-bottom:5px;
}
#agendaSpectacle .partenaires .lienPlus {
  padding-left:15px;
}
#agendaSpectacle .partenaires .partenaires {
  float:right;
}
#agendaSpectacle .partenaires img {
  margin:0;
}
