#MatchL1 h4 {
	padding: 3px 0;
	background: #F6F6F6;
	color: #990000;
	border: 1px solid #E6EAF4;
	overflow: auto;
	font-weight: normal;
	font-size: 12px;
	margin: 0 0 0 0;
	text-align: center;
	font-weight:bold;
}
#MatchL1 .LignePrincip {
	overflow: auto;
	_height: 1%;
	padding: 3px 0;
	margin: 0;
	background-color: #FFF;
	color: #000;
	border: 1px solid #888;
	border-top: 0;
	overflow: auto;
	font-size: 11px;
	font-weight: bold;
}
#MatchL1 .LigneColor1 {
	overflow: auto;
	_height: 1%;
	padding: 5px 0;
	margin: 0;
	background-color: white;
	color: #000;
	border: 1px solid #E6EAF4;
	border-top: 0;
	overflow: auto;
	font-size: 11px;
}
#MatchL1 .LigneColor2 {
	overflow: auto;
	_height: 1%;
	padding: 5px 0;
	margin: 0;
	background-color: #E6EAF4;
	color: #000;
	border: 1px solid #E6EAF4;
	border-top: 0;
	overflow: auto;
	font-size: 11px;
}
/*#MatchL1 .ResultatDate {
	margin: 1em 25%;
}
#MatchL1 .Equipe1 {
	position: absolute;
	top: 1em;
	left: 1%;
	width: 18%;
}
#MatchL1 .Equipe2 {
	position: absolute;
	top: 1em;
	right: 1%;
	width: 18%;
}
*/
#MatchL1 .ResultatDate {
	float: left;
	display: block;
	text-align: center;
	margin: 0;
}
#MatchL1 .Equipe1 {
	float: left;
	display: block;
	text-align: left;
	width: 44%;
	margin: 0;
	padding: 0 0 0 7px;
	margin: 0;
}
#MatchL1 .Equipe2 {
	float: right;
	display: block;
	text-align: right;
	margin: 0;
	padding: 0 7px 0 0;
	margin: 0;
}
#MatchL1 a {
	text-decoration: none;
	color: #444;
	font-weight:bold;
}
#MatchL1 .ResultatDate a {
font-weight:normal;
}
#MatchL1 a:hover {
	text-decoration: underline;
	color: #CC0000;
}
.butteur {
	font-size: 12px;
	font-weight: normal;
}
.MatchCom {
	width: 500px;
	border: 0px solid red;
}
.MatchCom td {
	font-size: 11px;
	color: #414141;
	padding: 15px 0 0 0;
}
.MatchScore {
	background-color: #e8e8e8;
	padding: 15px 0;
	margin: 15px 0;
}
.eq01 {
	font-weight: bold;
	font-size: 25px;
	text-align: right;
	color: #0045b6;
}
.eq02 {
	font-weight: bold;
	font-size: 25px;
	text-align: left;
	color: #0045b6;
}
#ColMatch01 .MatchTime {
	float: right;
	display: block;
	width: 25px;
	text-align: center;
}
#ColMatch01 .MatchEvent {
	float: right;
	display: block;
	width: 180px;
	padding-right: 5px;
	text-align: right;
}
#ColMatch02 .MatchTime {
	float: left;
	display: block;
	width: 25px;
	text-align: center;
}
#ColMatch02 .MatchEvent {
	float: left;
	display: block;
	width: 180px;
	padding-left: 5px;
	text-align: left;
}
#TeamCompo {
	font-size: 11px;
	color: #414141;
	text-align: left;
}
/*#TeamCompo H1 {
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	text-transform: uppercase;
	margin: 0 0 0;
	padding: 5px 5px;
	background: #0045b6;
	text-align: left;
}
*/
#TeamCompo H2 {
	font-size: 11px;
	color: #0045b6;
}
#TeamCompo H3 {
	font-size: 12px;
	color: #0045b6;
	font-weight: bold;
	text-transform: uppercase;
}
#ClassementMatch {
	font-size: 11px;
	color: #414141;
	text-align: left;
	margin: 0 0 10px 0;
}
#ClassementMatch td {
	font-size: 11px;
}
/*#ClassementMatch H1 {
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	text-transform: uppercase;
	margin: 0 0 0;
	padding: 5px 5px;
	background: #0045b6;
	text-align: left;
}
*/