#megaColGColC #barreMenu a.menuBtnAcc {
	display: none;
}
#megaColGColC #barreMenu {
	background: #fff;
	width: 810px;
	height: 700px;
	overflow: hidden;
}
#megaColGColC #barreMenu ul {
	font-size: 13px;
	list-style: none;
	width: 180px;
	_display: block;
	_overflow: hidden;
	height: 330px;
	margin-right: 15px;
	float: left;
}
#megaColGColC #barreMenu ul li.niv1 {
	float: left;
	width: 180px;
}
#megaColGColC #barreMenu ul li.niv1 a.niv1:link, #megaColGColC #barreMenu ul li.niv1 a.niv1:visited {
	color: #fff;
	background: #5280cb;
	width: 165px;
	display: block;
	font-weight: bold;
	padding: 6px 9px 0;
	text-decoration: none;
	height: 23px;
	margin-right: 15px;
}
#megaColGColC #barreMenu ul li.niv1 a#barreMenuServices {
	color: #fff;
	background: #5280cb;
	width: 165px;
	display: block;
	font-weight: bold;
	padding: 6px 9px 0;
	text-decoration: none;
	height: 23px;
	margin-right: 15px;
}
#megaColGColC #barreMenu ul li.niv1 ul {
	display: block;
	clear: both;
	padding-top: 10px;
	_padding-top: 20px;
	margin: 0;
	height: auto;
	display: block;
	overflow: hidden;
	width: 180px;
}
#megaColGColC #barreMenu ul li.niv1 ul li a:link, #megaColGColC #barreMenu ul li.niv1 ul li a:visited {
	color: #404040;
	border-bottom: 1px solid #8faedd;
	display: block;
	font-size: 11px;
	height: auto;
	margin: 0;
	padding: 4px 10px;
	text-decoration: none;
	text-transform: none;
	width: 180px;
	_font-weight: normal;
}
#megaColGColC #barreMenu ul li.niv1 ul li a:hover {
	color: #404040;
	border-bottom: 1px solid #8faedd;
	display: block;
	font-size: 11px;
	height: auto;
	_float: left;
	margin: 0;
	padding: 4px 10px;
	text-decoration: none;
	text-transform: none;
	width: 180px;
}
#megaColGColC #barreMenu ul li.niv1:hover ul li a {
	color: #404040;
	border-bottom: 1px solid #8faedd;
	display: block;
	font-size: 11px;
	height: auto;
	margin: 0;
	padding: 4px 10px;
	text-decoration: none;
	text-transform: none;
	width: 180px;
}
#megaColGColC #barreMenu ul li.niv1:hover ul li a:hover {
	background: #8faedd;
}
#megaColGColC #barreMenu ul li.niv1:hover ul {
	background: #fff;
	border: none;
	_float: left;
	_overflow: auto;
	display: block;
	width: 180px;
	margin: 1px 0 0 -1px;
}

/* --  Version IE6  -- */
#megaColGColC #barreMenu ul li.niv1 a:hover ul {
	background: #fff;
	border: none;
	display: block;
	overflow: hidden;
	float: left;
	margin: 0;
	padding: 0;
}
#megaColGColC #barreMenu ul li.niv1 a:hover ul li a:hover {
	background: #8faedd;
	padding: 4px 10px;
	border-bottom: 1px solid #8faedd;
	color: #404040;
	display: block;
	font-size: 11px;
	display: block;
}