.searchResRegBlock.width300 {
   width:300px;
   margin-bottom:20px;
   line-height:16px;
}

.searchResRegBlock.width680 {
   width:680px;
   margin-bottom:20px;
   margin-top:20px;
   line-height:16px;
}

.searchResRegBlock * {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
}

.searchResRegBlock li {
   list-style-image:none;
   list-style-position:outside;
   list-style-type:none;
}

.searchResRegBlock a {
   text-decoration:none;
}

.searchResRegBlock.type1 {
   background:url(titleBar2.gif) repeat-x left top #f9f9f9;
   padding-top:6px;
}

.searchResRegBlock.type2 {
   background:#f9f9f9;
}

.searchResRegBlock.type2 h2 {
   background:url(ti_searchResRegBlock.png) no-repeat left top #f9f9f9;
   text-indent:-10000px;
   height:27px;
}

.searchResRegBlock form {
   border-right:1px solid #ccc;
   border-bottom:1px solid #ccc;
   border-left:1px solid #ccc;
   position:relative;
}

.searchResRegBlock.width680 form {
   height:77px;
}
html>/**/body .searchResRegBlock.width680 form {height:74px;}

.searchResRegBlock label {
   text-transform:uppercase;
   color:#646464;
   font-size:11px;
   font-weight:bold;
   display:block;
   margin-bottom:8px;
}

.searchResRegBlock input {
   color:#b7b7b7;
   font-size:11px;
   border:1px solid #acacac;
   padding:7px;
   padding:4px 7px;
   width:194px;
   height:24px;
}
html>/**/body .searchResRegBlock input {width:174px;height:14px;}

.searchResRegBlock.width680 input {
   width:222px;
}
html>/**/body .searchResRegBlock.width680 input {width:206px;}

.searchResRegBlock a.btn {
   width:82px;
   display:block;
   text-align:center;
   text-transform:uppercase;
   color:#666;
   font-size:11px;
   font-weight:bold;
   border:1px solid #acacac;
   padding:3px 0px 3px 0px;
   position:absolute;
   top:36px;
   right:8px;
   background:url(bg_searchResRegBlock_btn.png) repeat-x 0px 0px #d6d6d6;
}
html>/**/body .searchResRegBlock a.btn {top:35px;}

.searchResRegBlock.width680 a.btn {
   right:11px;
}  

.searchResRegBlock a.btn:hover {
   background:url(bg_searchResRegBlock_btn.png) repeat-x 0px -22px;
   text-decoration:none;
}

.searchResRegBlock .top {
   border-bottom:1px solid #e2e2e2;
   padding:11px 0px 15px 9px;
}

.searchResRegBlock .bottom {
   padding:11px 0px 15px 9px;
}

#zoneActu.revolutionnaire .searchResRegBlock.width680 .top {
   padding:11px 0px 15px 15px;
   border-right:1px solid #e2e2e2;
   border-bottom:0px solid #e2e2e2;
   position:absolute;
   top:0px;
   left:0px;
   width:339px;
}
html>/**/body #zoneActu.revolutionnaire .searchResRegBlock.width680 .top {width:323px;}

.searchResRegBlock.width680 .bottom {
   padding:11px 0px 15px 10px;
   border-left:1px solid #fff;
   position:absolute;
   top:0px;
   right:0px;
   width:339px;
}
html>/**/body .searchResRegBlock.width680 .bottom {width:328px;}


/*autocomplete*/


.searchResRegBlock div#containerCommune {
   width:194px;
   position:absolute;
   top:59px;
   left:0px;
   z-index:200;
}
html>/**/body .searchResRegBlock div#containerCommune {top:58px;left:9px;}

.searchResRegBlock.width680 div#containerCommune {
   width:222px;
   left:15px;
}
html>/**/body .searchResRegBlock.width680 div#containerCommune {left:15px;}

.searchResRegBlock.width680 div#containerCommune {
   width:226px;
}

.searchResRegBlock .yui-ac-content {
   background:url(http://www.lemonde.fr/medias/www/img/regionales/shadow_autocomplete.png) bottom right no-repeat;
   padding:0 2px 5px 2px;
   position:relative;
   left:-2px;
   width:200px!important;
}
html>/**/body .searchResRegBlock .yui-ac-content {width:192px!important;padding-bottom:2px;}

.searchResRegBlock.width680 .yui-ac-content {
   background:url(http://www.lemonde.fr/medias/www/img/regionales/shadow_autocomplete680.png) bottom right no-repeat;
   width:228px!important;
}
html>/**/body .searchResRegBlock.width680 .yui-ac-content {width:224px!important;}


.searchResRegBlock .yui-ac-bd {
   background:#fff;
   border:1px solid #acacac;
   width:194px;
   padding:4px 0;
}
html>/**/body .searchResRegBlock .yui-ac-bd {width:188px!important;}

.searchResRegBlock.width680 .yui-ac-bd {
   width:222px;
}
html>/**/body .searchResRegBlock.width680 .yui-ac-bd {width:220px!important;}

.searchResRegBlock .yui-ac-content li {
   color:#606060;
   padding:0 0px 1px 7px;
   font-size:11px;
}

.searchResRegBlock .yui-ac-highlight {
   color:#000!important;
   font-weight:bold;
   background:#e5e5e5;
}

/*dropdown*/
.searchResRegBlock .dropdown dd, .dropdown dt, .dropdown ul {
   margin:0px;
   padding:0px; 
}

.searchResRegBlock .dropdown dd { 
   position:relative; 
   top:-26px;
}

.searchResRegBlock .dropdown a, .dropdown a:visited { 
   color:#222; 
   text-decoration:none; 
   outline:none;
}

.searchResRegBlock .dropdown a:hover { 
   color:#222; 
}

.searchResRegBlock .dropdown dt a {
   background:url(bg_searchResRegBlock_dpdn.png) no-repeat scroll right center #f9f9f9; 
   display:block; 
   border:1px solid #acacac; 
   width:282px;
   font-size:11px;
   height:24px;
   text-transform:uppercase;
}
html>/**/body .searchResRegBlock .dropdown dt a {height:22px;width:279px;}

.searchResRegBlock.width680 .dropdown dt a {
   width:314px;
}
html>/**/body .searchResRegBlock.width680 .dropdown dt a {width:311px;}


.searchResRegBlock .dropdown dt a span {
   cursor:pointer; 
   display:block; 
   padding:3px 7px 0 7px;
}

.searchResRegBlock .dropdown dd ul { 
   color:#222;
   display:none;
   left:-4px;
   position:absolute; top:2px; 
   width:auto; 
   width:290px;
   list-style:none;
   z-index:100;
   background:url(http://www.lemonde.fr/medias/www/img/regionales/shadow_drpdwn.png) bottom right no-repeat;
   padding:0 4px 5px 4px;
}
html>/**/body .searchResRegBlock .dropdown dd ul {width:281px;}

.searchResRegBlock.width680 .dropdown dd ul { 
   width:322px;
   background:url(http://www.lemonde.fr/medias/www/img/regionales/shadow_drpdwn680.png) bottom right no-repeat;
}
html>/**/body .searchResRegBlock.width680 .dropdown dd ul {width:313px;}

.searchResRegBlock .dropdown dd dir { 
   background:#fff;
   border:1px solid #acacac;
}

.searchResRegBlock .dropdown span.value { 
   display:none;
}

.searchResRegBlock .dropdown dd ul li a { 
   padding:2px 7px 1px 7px; 
   text-transform:uppercase;
   font-size:11px;
   display:inline-block;
}

.searchResRegBlock .dropdown dd ul li a {
   display:block;
}

.searchResRegBlock .dropdown dd ul li a:hover { 
   background-color:#e5e5e5;
   font-weight:bold;
}

.searchResRegBlock .dropdown dd ul li.line { 
   border-top:1px solid #e5e5e5; 
}

/*searchResRegBlock680*/
/*searchResRegBlock680 type 2*/

.searchResRegBlock.width680.type2 h2 {
   background:url(ti_searchResRegBlock680.gif) no-repeat left top #f9f9f9;
   text-indent:-10000px;
   height:27px;
}

.searchResRegBlock.width680.type2 a.btn {
   color:#000;
   border:1px solid #787878;
}

