﻿/************************************************/
/*  Styles de base                     			*/
/************************************************/

a
{
    text-decoration:none;
    color:#000000;
}
/* Titre 1 */
h1, h1 p, h1 a
{
    margin:0px;
    font-size: 1.5em;
    font-family:Arial;
    color:#189cae;
}
h1 a:link, h1 a:visited, h1 a:active, h1 a:hover
{
}
h1 a:hover
{
}
/* Titre 2 */
h2, h2 p, h2 a
{
    font-size: 1.3em;
    font-family:Arial;
    color:#189cae !important;
    margin :0px !important;
    padding:0px !important;    

}
h2 a:link, h2 a:visited, h2 a:active, h2 a:hover
{

}
h2 a:hover
{
}
/* Titre 3 */
h3, h3 p, h3 a
{
    font-size: 1.2em;
    font-family:Arial;
    color:#189cae;
    margin :0px !important;
    padding:0px !important;
}
h3 a:link, h3 a:visited, h3 a:active, h3 a:hover
{
}
h3 a:hover
{
}
/* Titre 4 */
h4, h4 p, h4 a
{
    font-size: 1.1em;
    margin :0px !important;
    padding:0px !important;    
}
h4 a:link, h4 a:visited, h4 a:active, h4 a:hover
{
}
h4 a:hover
{
}
/* Titre 5 */
h5, h5 p, h5 a
{
    font-size: 1em;
}
h5 a:link, h5 a:visited, h5 a:active, h5 a:hover
{
}
h5 a:hover
{
}
/* Titre 6 */
h6, h6 p, h6 a
{
    font-size: 1em;
}
h6 a:link, h6 a:visited, h6 a:active, h6 a:hover
{
}
h6 a:hover
{
}

/* Texte normal */
p, div, th, td, caption
{
    font-size: 12px;
    font-family:Arial;
 }
p
{
    font-size: 12px;
    text-align:justify;
}



/* Liens */
a:link, a:visited, a:active, a:hover
{
}

/* Liste à puce */
ul
{
    padding:10px;
    font-size: 1em;
}
ol
{
    padding:0;
    font-size: 1em;
}
ul li, ul li p
{
    font-size: 1em;
    line-height:1.2em; 
    font-family:Arial;
}
ol li, ol li p
{
    font-size: 1em;
    line-height:1.2em; 
    font-family:Arial;    
}

.divContenu h1 , .fckbody h1
{
    margin-bottom:25px;
}

.divContenu p, .divContenu li, 
.fckbody p, .fckbody li
{
    margin :0px !important;
    padding:0px !important;
    font-size: 1em;
    font-family:Arial;    
}

.fckbody p
{
   font-size: 11px!important;  
}

.fckbody h1
{
   font-size: 15px!important;  
}
.fckbody h2
{
   font-size: 14px!important;  
}
.fckbody h3
{
   font-size: 12px!important;  
}
.fckbody h2
{
   font-size: 12px!important;  
}
/************************************************/
/*  Styles du site publique                     */
/************************************************/
div.header h1
{
    color:#000000;
}
.contenu
{
    
}
div.ListeActualite
{
    clear:both;
    height:500px;
    height:auto !important;
    min-height:500px;    zoom:1;
}

.divResumeActualite div.ResumeActu
{
    clear:both;
    margin-top:15px;

}
.divResumeActualite .ResumeActu .Titre
{
    display: block;
    color: #1797a9;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding:0;
    margin:0;
    font-size:1.3em;
}
.divResumeActualite .ResumeActu .ResumeTexte
{
    font-size:1em;
    padding-right: 15px;
    text-align:justify;
}
.divResumeActualite .ResumeActu .ResumeTexte .Resume
{
    text-align:justify;
}
.divResumeActualite .ResumeActu .ResumeTexte .Resume p
{
    text-align:justify;
    padding:0;
    margin:0;
    font-size:1em;
    display:inline!important;
}
.divResumeActualite .ResumeActu .ResumeTexte a.LienSavoirPlus
{
    font-family: Arial;
  /*  font-weight: bold;*/
    color: #1797a9;
    text-decoration: none;
    font-size:1em;
}
.divResumeActualite ul.divFinActualites
{
    margin:0px;
    padding:0px;
    border-top:solid 1px #d9d9d9;
    margin:30px 15px 30px 10px;
    padding-top:15px;
    list-style-type:none;
}

.divSeparator
{
     border-top:solid 1px #d9d9d9;   
     width:590px;
}
.divResumeActualite ul.divFinActualites li
{
    margin:0px;
    padding:0px;
    margin-bottom:5px;
}

.divResumeActualite ul.divFinActualites li a.hlActionActualite
{
    background:url(fondLienActualite.gif) no-repeat left 1px;
    padding-left: 21px;
    line-height:15px;
    font-family: Arial;
    font-weight:bold;
    font-size: 13px;
    color: #1797a9;
    text-decoration: none;
    display:block;
}



.divResumeActualite div.DetailActu
{
    clear:both;
    margin-top:15px;
    padding:0 15px 0 10px;
}
.divResumeActualite div.Separateur div.divSeparateur
{
    border-top:solid 1px #d9d9d9;
    margin:0 0 15px 0;
}
div.DetailActu .Date
{
    clear:both;
    color:#87888a;
    font-weight: bold;
    font-size: 0.9em;
}
div.DetailActu .Titre
{
    display: block;
    color: #1797a9;
    font-family: Arial;
    font-size: 1.4em;
    font-weight: bold;
    padding:0;
    margin:0;
}
div.DetailActu .Texte
{
    font-size: 1em;
    padding-right: 15px;
    color:#58585a;
}
div.DetailActu .Texte .Detail
{
    font-size: 1em;
    text-align:justify!important;    
}
div.DetailActu .Texte .Detail p
{
    text-align:justify !important;
    font-size: 1em;
    padding:0;
    margin:0;
}

/************************************************/
/*  Style contenu de l'agenda                   */
div.contenuAgenda
{
    padding:0px 10px;
}
div.contenuAgenda h1
{
    color:#1898a8;
    font-weight:normal;
    font-size:1.4em;
}
div.contenuAgenda div.ListeAgenda
{
}
div.contenuAgenda div.ListeAgenda div.DetailAgenda
{
    border-top:solid 1px #d9d9d9;
    padding-top:15px;
    padding-bottom:10px;
}
div.contenuAgenda div.ListeAgenda div.premier
{
    border-top:0;
    padding-top:0;
}
div.contenuAgenda div.ListeAgenda div.DetailAgenda .Date
{
    clear:both;
    color: #1898a8;
    font-weight: bold;
    font-size:0.9em;
}
div.contenuAgenda div.ListeAgenda div.DetailAgenda .Titre
{
    display: block;
    color:#58585a;
    font-family: Arial;
    font-size:1em;
    font-weight: bold;
    padding:0;
    margin:0;
}
div.contenuAgenda div.ListeAgenda div.DetailAgenda .Texte
{
    font-size:1em;
    padding-right: 15px;
    color:#58585a;
}
div.contenuAgenda div.ListeAgenda div.DetailAgenda .Texte .Detail
{
    font-size:1em;
}
div.contenuAgenda div.ListeAgenda div.DetailAgenda .Texte .Detail p
{
    /*text-align:justify;*/
    padding:0;
    margin:0;
    font-size:1em;
}
div.contenuAgenda div.ListeAgenda div.DetailAgenda .Texte .Contact h2
{
    clear:both;
    color: #1898a8;
    font-weight: bold;
    font-size:1.2em;
    padding:0;
    margin:0;
    margin-top:10px;
    display:inline;
}
div.contenuAgenda div.ListeAgenda div.DetailAgenda .Texte .Contact p
{
    padding:0;
    margin:0;
    display:inline;
    font-size:1em;
}
.clearBoth
{
    padding:0px;
    margin:0px;
    clear:both;
}
/************************************************/

/************************************************/
/*  Style enquête   /Envoyer a un ami /Mot de passe oublié           */
div.enqueteContenu p,
div.envoyerAmi p,
div.MotDepasseOublie p,
div.enqueteContenu,
div.envoyerAmi,
div.MotDepasseOublie
{
    font-size: 1em;
    background-color:#ffffff;
}
div.envoyerAmi,
div.MotDepasseOublie
{
    padding:5px;
}
div.enqueteContenu h1,
div.enqueteContenu h1 p, 
div.enqueteContenu h1 a,
div.envoyerAmi h1,
div.envoyerAmi h1 p, 
div.envoyerAmi h1 a,
div.MotDepasseOublie h1,
div.MotDepasseOublie h1 p, 
div.MotDepasseOublie h1 a
{
    color:#1898a8;
}
div.enqueteContenu h1 a:link,
div.enqueteContenu h1 a:visited,
div.enqueteContenu h1 a:active,
div.enqueteContenu h1 a:hover,
div.envoyerAmi h1 a:link,
div.envoyerAmi h1 a:visited,
div.envoyerAmi h1 a:active,
div.envoyerAmi h1 a:hover,
div.MotDepasseOublie h1 a:link,
div.MotDepasseOublie h1 a:visited,
div.MotDepasseOublie h1 a:active,
div.MotDepasseOublie h1 a:hover
{
}



div.enqueteContenu h2 a:hover
{
}
div.enqueteContenu1
{

}
div.enqueteContenu1 h2,
div.enqueteContenu1 h2 p, 
div.enqueteContenu1 h2 a
{
    display: block;
    color: #1797a9;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding:0;
    margin:0;
    color: #1797a9;    
}

div.enqueteContenu h2,
div.enqueteContenu h2 p, 
div.enqueteContenu h2 a
{
    display: block;
    color: #1797a9;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding:0;
    margin:0;
    color: #1797a9;
}
div.enqueteContenu h2 a:link,
div.enqueteContenu h2 a:visited,
div.enqueteContenu h2 a:active,
div.enqueteContenu h2 a:hover
{
}
div.enqueteContenu h2 a:hover
{
}

div.enqueteContenu span.erreurFormulaire,
div.enqueteContenu span.erreurFormulaire p
{
    font-size: 1em;
    text-align:justify;
    color: red;
}

/************************************************/




/************************************************/
/*  Styles redéfinis pour FCK dans WPAdmin      */
/************************************************/
.fckbody .contenu
{
    height:auto;
    width:auto;
}


/************************************************/



.fckbody body
{
	font-family:Arial;
	font-size:12px;
}

.header h1 a
{
    margin:0px;
    font-family:Arial;
    padding-top:41px;
    color:#000000;
    margin-left:20px;
    text-decoration:none;
    display:block;
    font-size:18px !important;
}

.titreRubrique
{
    font-weight: bold;
    font-family: Arial;
    font-size: 16px;
    color: #53B7F6;
    margin: 0px;
    margin-left: 12px;
    margin-top: 10px;
}

.grosTitreRubrique
{
    font-weight: bold;
    font-family: Arial;
    font-size: 26px;
    color: #53B7F6;
    margin: 10px 10px 10px 12px
}

.titreDroite
{
    font-family: Arial;
    font-size: 13px;
    color: #53B7F6;
    margin: 0px;
    margin-left: 12px;
}

.titreEnTeteRubrique
{
    font-weight: bold;
    font-family: Arial;
    font-size: 20px;
    color: #53B7F6;
    margin: 0px;
    margin-left: 0px;
    margin-top: 10px;
    padding: 0px 15px;
}

.texteRubrique
{
    font-family: Arial;
    font-size: 14px;
    color: black;
    margin-top: 5px;
    padding: 0px 15px;
}

.texteRubriqueWebTv
{
    font-family: Arial;
    font-size: 10px;
    color: black;
    margin-top: 5px;
    padding: 0px 15px;
    color: #8D8D8D;
}



.paragraphe
{
    font-family: Arial;
    font-size: 12px;
    margin-left: 12px;
    margin-top: 0px;
    color: Black;
}

.paragrapheDroite
{
    font-family: Arial;
    font-size: 12px;
    margin-left: 12px;
    margin-top: 0px;
    color: #58585A;
}

.titrePlusLoin
{
    margin: 0px;
    margin-left: 12px;
    margin-top: -19px !important;
    padding: 0px;
}

.paragraphePlusLoin
{
    color: #58585A;
    padding-left: 5px;
    text-align: left;
    margin: 0px;
}

.laSuiteRubrique
{
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #53b7f6;
    text-decoration: none;
}

.infoPlus p, .infoPlusRubrique
{
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.actualites
{
    display: block;
    padding-left: 22px;
    background: url("puce.gif") no-repeat 1px 1px;
    text-decoration: none;   
    color: #1797A9;
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    margin-left: 12px;
}

.actualitesRubrique
{
    display: block;
    padding-left: 22px;
    background: url("puceRubrique.gif") no-repeat 1px 1px;
    text-decoration: none;   
    color: #53b7f6;
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    margin-left: 12px;
}

.lienFooter a
{
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    color: #A6A6A6;
}


.cadreDroite h1
{
    font-size:14px;
    font-weight:bold;
    font-family:Arial;
    color:White;
    margin: 0px 0px 16px 11px;
    padding-top: 6px;
}

.cadreDroite h2
{
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;  
    color: #1797a9;
    margin: 0px;
    margin-left: 13px;
}

.cadreDroite h3
{
    padding-left: 13px;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    color: Black;
    margin-top: 0px;
    margin-bottom: 0px;
}

.accueil .cadreDroite p
{
    font-size:12px;
    font-family:Arial;
    padding-left: 13px;
    margin: 0px;
    margin-bottom: 10px;
}

.cadreCentreEko p
{
    padding-left: 15px;
    padding-right: 15px;
}

.cadreCentreEko h1
{
    color: #1996aa!important;   

}

.cadreCentreEko h2
{
    color: #e4122a;   
    font-size: 10px;
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.cadreCentreEko h3
{
    font-weight: bold;
    color: black;
    font-size: 10px;
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.cadreCentreEko h4
{    
    margin: 0px;    
    color: black;
    font-size: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.cadreCentreEko .edito
{
    margin: 0px;
    color: #58585a;
    padding-left: 15px;
    padding-right: 15px;
}

.accueil .cadreGaucheRubrique h1
{    
    font-size:14px;
    font-weight:bold;
    font-family:Arial;
    margin-top:5px;
    margin-bottom:12px;
    margin-left:11px;
    color: #53B7F6;
}

.accueil .encartDroite h1
{ 
    font-size:14px;
    font-weight:bold;
    font-family:Arial;
    margin-bottom:12px;
    margin-left:11px;
    color: #53B7F6;
}

.accueil .encartDroite h2
{ 
    font-size:13px;
    font-weight:bold;
    font-family:Arial;
    margin-left:11px;
    color: black;
}

.texteWebTv h1
{
    font-size: 16px;
    margin: 0px;
    color:#ffffff;

}

.texteWebTv h2
{
   font-size: 12px;
    margin: 0px;
    color:#ffffff !important;        
}

.texteWebTv .sousTitre span, .texteWebTv .sousTitre  a
{
     font-size: 15px;
    margin:0px;
    color:#ffffff !important;      
}

.texteWebTv p span
{
    font-size: 12px;
    color: #c6c7c8;
    margin: 0px;
    margin-bottom: 15px;
}

.lienVideo
{
     font-size: 10px;
    color: #ffffff;
    margin: 0px;
    text-decoration : none;   
}
.divResumeAgenda .Type
{
    font-family: Arial;
    font-size: 13px;
    color: #1797a9;
    margin: 0px;
    margin-left: 0px;
    margin-top: 10px;
}

.divResumeAgenda .Titre
{
    font-weight: bold;
    font-family: Arial;
    font-size: 12px;
    color: black;
    display: block;
    margin: 0px;
    margin-left: 0px;
    text-decoration:none;
}

.divResumeAgenda .ResumeTexte
{
    font-family: "Arial";
    font-size: 12px;
    margin: 0px;
    margin-left: 0px;
    color: black;
    font-weight:normal;
}

.diaporama .titreActuAccueil
{
    margin: 0px;
    font-size: 10px;    
}

/**********************************/
/*      Hack pour Safari          */
/*********************************/
html[xmlns*=""] body:last-child .titrePlusLoin
{
    padding-top: 10px;
}

html[xmlns*=""] body:last-child .encartDroite h1
{ 
    margin-top: 22px;
}


/***Création bordure arrondi css****/
.angle
{
    background:#e6e6e6;
    margin:0px !important;
    zoom:1;
}
.b1,  .b2,  .b3 {
  display:block; 
  overflow:hidden; 
  height:1px; 
  background:#ffffff;
  border-left:1px solid #f5f5f5; 
  border-right:1px solid #f5f5f5;
  }

 .b1 {margin:0 3px; background:#ffffff;}
 .b2 {margin:0 2px;}
 .b3 {margin:0 1px;}


/************************************************/
/*  Modèle de page             modele1 			*/
/************************************************/
.fckBody .modeleRubrique1
{
    width:auto!important;
}
.modeleRubrique1
{
    width:557px;
}
/***gauche**/
.modelGauche1
{
    float:left;
    padding:5px;
}
.modelGauche1 p
{
    margin:0px;
    padding:0px;
    color:#000000;
    font-size:12px;
    text-align:justify;
    line-height:1.2em;
    display:inline;
}
.modelGauche1
{

}
.modelGauche1 .titreModelGauche1
{
    margin:0px;
    padding:0px;
    color:#000000;
    font-size:10px;
    display:inline;
}
/**droite**/
div.modeleDroite1
 {
    float:right;
   width:250px;
    padding:8px;
    background:url(BorderTopModele.gif) no-repeat #c2c2c2 top;
   
}
.modeleDroite1 img
{
    margin-bottom:8px;
}
.modeleDroite1 .titreModeleDroite1
{
    margin:0px !important;
    padding:0px !important;
    color:#ffffff;
    font-size:10px;
    display:inline;
}
.modeleDroite1 p
{
    margin:0px;
    padding:0px;
    color:#ffffff;
    font-size:12px;
    text-align:justify;
    line-height:1.2em; 
    display:inline;           
}
/************************************************/
/*  Modèle de page             modele2 	jaune   */
/************************************************/
.fckBody .modeleRubrique2
{
    width:auto!important;
}
.modeleRubrique2
{
    width:535px;
    background:url(BorderTopModele2.gif)  #ffc800 top no-repeat;
    padding:13px;
}
.modeleRubrique2 img
{
    margin-right:15px;
}

.modeleDroite2 h1.titreModeleDroite2
{
    margin:0px !important;
    padding:0px !important;
    color:#ffffff;
    font-size:10px;
}


/************************************************/
/*  Modèle de page             modele2 	bleu   */
/************************************************/
.fckBody .modeleRubrique2bleu
{
    width:auto!important;
}
.modeleRubrique2bleu
{
    width:535px;
    background:url(BorderTopModele2bleu.gif)  #53b7f6 top no-repeat;
    padding:13px;
}
.modeleRubrique2bleu img
{
    margin-right:15px;
}

.modeleDroite2 h1.titreModeleDroite2
{
    margin:0px !important;
    padding:0px !important;
    color:#ffffff;
    font-size:10px;
}



/************************************************/
/*  Modèle de page             modele2 	orange   */
/************************************************/
.fckBody .modeleRubrique2orange
{
    width:auto!important;
}
.modeleRubrique2orange
{
    width:535px;
    background:url(BorderTopModele2orange.gif)  #ff9c00 top no-repeat;
    padding:13px;
}
.modeleRubrique2orange img
{
    margin-right:15px;
}

.modeleDroite2 h1.titreModeleDroite2
{
    margin:0px !important;
    padding:0px !important;
    color:#ffffff;
    font-size:10px;
}


/************************************************/
/*  Modèle de page             modele2 	vert   */
/************************************************/
.fckBody .modeleRubrique2vert
{
    width:auto!important;
}
.modeleRubrique2vert
{
    width:535px;
    background:url(BorderTopModele2vert.gif)  #b5cd00 top no-repeat;
    padding:13px;
}
.modeleRubrique2vert img
{
    margin-right:15px;
}

.modeleDroite2 h1.titreModeleDroite2
{
    margin:0px !important;
    padding:0px !important;
    color:#ffffff;
    font-size:10px;
}


/************************************************/
/*  Modèle de page             modele2 	bleu canard   */
/************************************************/
.fckBody .modeleRubrique2bleuc
{
    width:auto!important;
}
.modeleRubrique2bleuc
{
    width:535px;
    background:url(BorderTopModele2bleuc.gif)  #189cae top no-repeat;
    padding:13px;
}
.modeleRubrique2bleuc img
{
    margin-right:15px;
}

.modeleDroite2 h1.titreModeleDroite2
{
    margin:0px !important;
    padding:0px !important;
    color:#ffffff;
    font-size:10px;
}


/************************************************/
/*  Modèle de page             modele2 	gris   */
/************************************************/
.fckBody .modeleRubrique2gris
{
    width:auto!important;
}
.modeleRubrique2gris
{
    width:535px;
    background:url(BorderTopModele2gris.gif)  #aaaaaa top no-repeat;
    padding:13px;
}
.modeleRubrique2gris img
{
    margin-right:15px;
}

.modeleDroite2 h1.titreModeleDroite2
{
    margin:0px !important;
    padding:0px !important;
    color:#ffffff;
    font-size:10px;
}
.modeleDroite2 p
{
    margin:0px;
    padding:0px;
    color:#ffffff;
    font-size:12px;
    text-align:justify;
    line-height:1.2em;       
}
/************************************************/
/*  Modèle  de titre                            */
/************************************************/

.titreAgenda
{
    color:#000000;
    background: url("Agenda.gif") no-repeat  left top ; 
    padding-top:45px!important;
    font-size:1em;    
}
.titreANoter
{
    color:#000000;
    background: url("ANoter.gif") no-repeat  left top; 
    padding-top:45px!important;
    font-size:1em;    

}
.titreCommentCamarche
{
    color:#000000;
    background: url("CommentCamarche.gif") no-repeat  left top ; 
    padding-top:45px!important;
    font-size:1em;    
}
.titreInformation
{
    color:#000000;
    background: url("Informations.gif") no-repeat  left  top; 
    padding-top:45px!important;
    font-size:1em;    
}
.titreLesChiffres
{
    color:#000000;
    background: url("lesChiffres.gif") no-repeat  left top ; 
    padding-top:45px!important;
    font-size:1em;    
}
.titretelechargement
{
    color:#000000;
    background: url("Telechargement.gif") no-repeat  left top ; 
    padding-top:45px!important;
    font-size:1em;    
}
.titrePlanDacces
{
    color:#000000;
    background: url("PlanAcces.gif") no-repeat  left top ; 
    padding-top:45px!important;
    font-size:1em;    
}

.titreSinformaer
{
    color:#000000;
    background: url("Sinformer.gif") no-repeat  left top ; 
    padding-top:45px!important;
    font-size:1em;    
}

h2.titreEko
{
    color:#e2001a !important;
    font-family:Arial !important;
    margin:0px !important;
    padding:0px !important; 

}

h2.titreEko2
{
    color:#e2001a !important;
    font-family:Arial !important;
    font-size:10px;
    margin:0px !important;
    padding:0px !important;   
    display: inline ;
}

.hrEko  
{
    border-bottom: 1px solid #d1d1d1;
    height:1px;
    width:329px;
    margin-left:14px;
}

td.pEko p
{
    display:inline;
    font-size:12px;
}


h3.titreEko3
{
    color:#96b314 !important;
    font-family:Arial !important;
    font-size:12px;
    margin:0px !important;
    padding:0px !important;   
}
h3.titreEko4
{
    color:#f88400 !important;
    font-family:Arial !important;
    font-size:12px;
    margin:0px !important;
    padding:0px !important;   
}
h3.titreEko5
{
    color:#a2845a !important;
    font-family:Arial !important;
    font-size:12px;
    margin:0px !important;
    padding:0px !important;   
}
h3.titreEko6
{
    color:#306ebb !important;
    font-family:Arial !important;
    font-size:12px;
    margin:0px !important;
    padding:0px !important;   
}
h3.titreEko7
{
    color:#e2001a !important;
    font-family:Arial !important;
    font-size:12px;
    margin:0px !important;
    padding:0px !important;   
}

p.go_creer
{
    padding-left:20px!important;
    background: url("go_creer.gif") no-repeat  left top ; 
    display:block;
}
p.go_ekoscopie
{
    padding-left:20px!important;
    background: url("go_ekoscopie.gif") no-repeat  left top ; 
    display:block;
}
p.go_former
{
    padding-left:20px!important;
    background: url("go_former.gif") no-repeat  left top ; 
    display:block;
}
p.go_innover
{
    padding-left:20px!important;
    background: url("go_innover.gif") no-repeat  left top ; 
    display:block;
}
p.go_integrer
{
    padding-left:20px!important;
    background: url("go_integrer.gif") no-repeat  left top ; 
    display:block;
}

p.fleche
{
    padding-left:20px!important;
    background: url("FlecheTelechargement.gif") no-repeat  left ; 
    display:inline-block!important;

}

.tarif
{
    color:#000000;
    background: url("picto_tarif.jpg") no-repeat  left ; 
    padding-top:45px!important;
    font-size:1em;    
}

.historique
{
    color:#000000;
    background: url("picto_historique.jpg") no-repeat  left ; 
    padding-top:45px!important;
    font-size:1em;    
}

/****modele cartouche lien utile agenda***/
.modeleCartoucheAgenda p
{
    display:inline;
    color:#58585a;
    font-size:12px!important;
    font-weight:bold;
    line-height:1.5em;
    height:0.8em;
}

/****modele cartouche info plus***/

.modeleInfoPlus
{
    height:100px;
}

.modeleInfoPlus h1
{
    color:#ffffff !important;
    font-size:14px;
    font-family:Trebuchet MS ;
    margin:0px!important;
    padding:0px!important;
    margin-top:22px!important;
}


.modeleInfoPlus h2
{
    color:#ffffff!important;
    font-size:13px; 
    font-family:Trebuchet MS ;  
    margin:0px!important;
    padding:0px!important;         
}

.modeleInfoPlus h3
{
    color:#ffffff!important;
    font-size:12px; 
    font-family:Trebuchet MS ;
    margin:0px!important;
    padding:0px!important;            
}

.fckBody .modeleInfoPlus h1,.fckBody .modeleInfoPlus h2,.fckBody .modeleInfoPlus h3
{
    color:#53b7f6!important;
}


/****modele EKO****/

.modeleEkoContenu p 
{
    font-size:12px;
    padding:0px!important;
    margin:0px!important;
}


    .ContenuMenuCreer h1,     .ContenuMenuCreer h2,     .ContenuMenuCreer h3,     .ContenuMenuCreer h4,     .ContenuMenuCreer h5, .ContenuMenuCreer h6
    {
        color:#53b7f6!important
    }
    .ContenuMenuInnover h1,     .ContenuMenuInnover h2,     .ContenuMenuInnover h3,     .ContenuMenuInnover h4,     .ContenuMenuInnover h5, .ContenuMenuInnover h6
    {
        color:#ffc800!important;
    }    
    .ContenuMenuFormer h1,     .ContenuMenuFormer h2,     .ContenuMenuFormer h3,     .ContenuMenuFormer h4,     .ContenuMenuFormer h5, .ContenuMenuFormer h6
    {
        color:#ff9c00!important
    }    
    .ContenuMenuIntegrer h1,     .ContenuMenuIntegrer h2,     .ContenuMenuIntegrer h3,     .ContenuMenuIntegrer h4,     .ContenuMenuIntegrer h5, .ContenuMenuIntegrer h6
    {
        color:#b5cd00!important
    }    
    .ContenuMenuEkoscopie h1,     .ContenuMenuEkoscopie h2,     .ContenuMenuEkoscopie h3,     .ContenuMenuEkoscopie h4,     .ContenuMenuEkoscopie h5, .ContenuMenuEkoscopie h6
    {
        color:#189cae!important
    }
    
    
    /***Modèle cartouche univers***/
.modeleUnivers
{
    margin:0px!imporant;
    padding:10px;
    background: url("FondModeleCartoucheUnivers.gif") no-repeat left top;
   /* height:92px;*/
    height:102px;
}
.modeleUnivers img
{
    margin-right:10px;    
}

.modeleUnivers h1.jaune
{
    margin:0px!imporant;
    padding:0px!important;
    display:inline;
    color:#ffc800 !important;
    font-size:14px;
    font-family:Arial; 
}
.modeleUnivers h2.jaune
{
    margin:0px!imporant;
    padding:0px!important;
    display:inline;    
    color:#ffc800 !important;
    font-size:13px;
    font-family:Arial;          
}

.modeleUnivers h1.bleu
{
    margin:0px!imporant;
    padding:0px!important;
    display:inline;
    color:#189cae !important;
    font-size:14px;
    font-family:Arial; 
}
.modeleUnivers h2.bleu
{
    margin:0px!imporant;
    padding:0px!important;
    display:inline;    
    color:#189cae !important;
    font-size:13px;
    font-family:Arial;          
}
    
.modeleUnivers p
{
    margin:0px!imporant;
    padding:0px!important;
    color:#58585a;
    font-family:Arial;
    font-size:12px !important;   
    float:left;       
}

    /***Modèle contenu univers ****/
.modeleContenuUnivers
{
    margin:0px!imporant;
    padding:10px;
}    
.modeleContenuUnivers h1
{
    margin:0px!imporant;
    padding:0px!important;
    color:#58585a !important;
    font-size:14px;    
}

.modeleContenuUnivers p
{
    margin:0px!imporant;
    padding:0px!important;
    color:#58585a !important;
    font-size:12px !important; 
    font-weight:bold;     
}

.modeleContenuUnivers hr
{
    color:#b8b8b8 !important;
    height:1px;
}


/***page abonnement: lien flux rss***/
.lienRss
{
    color:#000000;
    font-size:0.9em;
    text-decoration : none;
}

.lienRss:Hover
{
    color:#58585a;
    font-size:0.9em;
    text-decoration : none;
}

.inscriptionFormation a.lienRetourListeFormation, .monPanier  a.lienRetourListeFormation,a.lienRetourListeFormation
{
    color:#000000!important;
    float:right;
    text-decoration:none;
    display:block;
    background: url("puceRetour.gif") no-repeat left white;     
    padding-left:20px;
    height:20px;
    padding-top:3px;
}


/***********************************/
/**Modele dynNewsletter**/
.dynNewsletterTPEPME p
{
    color:#000000;  
    font-size:12px;     
    font-family:arial;
    clear:both;
    margin:0px;
    padding:5px;
	display:inline;
}
.dynNewsletterTPEPME p.date
{
 	color:#8f84bc;
    font-size:14px;
	font-weight:bold;          
}
.dynNewsletterTPEPME a
{
	color:#8f84bc;
    font-size:14px;
	font-weight:bold;	
	text-decoration:none;
    font-family:arial;
}
.dynNewsletterTPEPME a.lienBas
{
	color:#464646;
    font-size:14px;	
}
.dynNewsletterTPEPME h1,.dynNewsletterTPEPME h1 a
{
    color:#8f84bc;  
    font-size:25px; 
    float:left; 
    font-family:arial;
    margin:0px;
    padding-left:5px;
	padding-right:5px;
}
.dynNewsletterTPEPME h2,.dynNewsletterTPEPME  h2 a
{
    color:#8f84bc;  
    font-size:18px;
    float:left;    
    font-family:arial;
    margin:0px;
    padding:5px;
    
}
.dynNewsletterTPEPME h3,.dynNewsletterTPEPME  h3 a 
{
    color:#8f84bc; 
    font-size:16px;          
    font-family:arial;
    margin:0px;
    padding:5px;    
}
.dynNewsletterTPEPME h4, .dynNewsletterTPEPME h4 a
{
    color:#000000;
    font-size:12px; 
    font-family:arial;
    margin:0px;
    padding:5px;
    font-weight:normal;    
}

.dynNewsletterTPEPME h5,.dynNewsletterTPEPME  h5 a
{
    clear:both;
    color:#000000; 
    font-size:15px;          
    font-family:arial;
    margin:0px;
    padding:5px;    
}
.dynNewsletterTPEPME h6
{
    clear:both;
    color:#8f84bc; 
    font-size:13px;          
    font-family:arial;
    margin:0px;
    padding:5px;    
}
