* { margin:0; padding:0;}
img, form { padding:0px; margin:0px; border:0px; display:block;}object {display:block;}
body {margin:0px;padding:0px;background:url('http://media.mth.net/comedie_prod/images/fond_orange.jpg') repeat-y #000;font-weight:normal;}
body.artiste, body.sorties, body.fiche_spectacle {margin:0px;padding:0px;background:url('http://media.mth.net/comedie_prod/images//fond_rouge.jpg') repeat-y #000;}
ul, ol {list-style:none;}
div#conteneur {
	position:relative;
	width:990px;
	font-family:Arial, sans-serif;
	color:#fff;
	font-size:12px;
}
/* //////////// ENTETE /////////// */
#entete {
	height:123px;
	background:url('http://media.mth.net/comedie_prod/images//entete/fond_entete_orange.jpg') no-repeat;
	position:relative;
	margin-left:15px;
	z-index:1;
}
#entete_pub {
	height:237px;
	background:url('http://media.mth.net/comedie_prod/images//entete/fond_entete_orange.jpg') no-repeat;
	position:relative;
	margin-left:15px;
	z-index:1;
}
.artiste #entete_pub, .sorties #entete_pub, .fiche_spectacle #entete_pub {
	height:237px;
	background:url('http://media.mth.net/comedie_prod/images//entete/fond_entete_rouge.jpg') no-repeat -1px 0px;
	position:relative;
	margin-left:15px;
	z-index:1;
	width:974px;
}
#entete h1 a, #entete_pub h1 a {
	display:block;
	width:522px;
	height:67px;
}
#en_ce_moment {
	position:absolute;
	top:0px;
	left:665px;
	z-index:4;
}
#popin_en_ce_moment {
	z-index:5;
	position:absolute;
	background:url('http://media.mth.net/comedie_prod/images//entete/fond_popin_en_ce_moment.jpg') no-repeat 0px 0px;
	width:173px;
	height:42px;
	color:#E86104;
	font-size:12px;
	left:747px;
	top:0px;
	padding-left:30px;
	padding-top:25px;
	display:none;
}
#popin_en_ce_moment a {text-decoration:none;}
#popin_en_ce_moment a:hover {text-decoration:underline;color:#000;}
#popin_en_ce_moment .programme_en_cours {
	font-size:13px;
	color:#000;
}
/* //////////// MENU //////////// */
#menu {
	height:38px;
	padding-top:18px;
	width: 980px;
}
#menu li {float:left;position:relative;}
#menu a {
	display:block;
	z-index:2;
	position:relative;
}
/* /////////// SOUS MENU //////////// */
.conteneur_sous_menu {
	position:absolute;
	top:-1px;
	left:48px;
	margin-left:-75px;
	width:135px;
	z-index:5;
	padding-top:33px;
	height: 215px; 
	display:none;
}
#menu .conteneur_sous_menu img.png.fond {
	position:absolute;
	height:223px;
	width: 220px;
	top:0px;
	left:12px;
	z-index:10;

}
#menu .conteneur_sous_menu img.png.titre {
	position:absolute;
	height:38px;
	top:1px;
	left:27px;
	z-index: 12;
	background:none;
	margin:0px;
	padding:0px;
}
.conteneur_sous_menu.conteneur_sous_menu_prems {
	left:0px;
	margin-left:0px;
}
#menu .sous_menu {
	width:206px;
	float:left;
	padding:6px 20px 10px;
	z-index:11;
	position:relative;
	background:url('http://media.mth.net/comedie_prod/images//entete/fond_noir_sous_nav-new.jpg') no-repeat 12px 90px;
}
#menu .conteneur_sous_menu img.ombre {
	width:152px;
	height:5px;
	float:left;
}
#menu .sous_menu li {
	width:100%;
	border-bottom:1px solid #7C6351;
	text-align:center;
	padding:3px 0px;
	position:static;
}
#menu .sous_menu li.last {
	border-bottom:0px;
}
#menu .sous_menu li.deco {
	position:absolute;
	top:0px;
	left:0px;
	background:none;
	border:0px;
	padding:0px;
	width:152px;
	height:5px;
	z-index:10;
}
.sous_menu a {
	font-family:Verdana, Arial, sans-serif;
	font-size:11px;
	color:#fff;
	text-decoration:none;
}
/* /////// Form RECHERCHE ET Recevoir la newsletter ////// */
#archives_artistes {margin-bottom:16px;}
#recevez_newsletter {margin-bottom:0px;}
.artiste #recevez_newsletter h2 {
	background:#C0101E;
}
#form_recevez_newsletter {
	background:url('http://media.mth.net/comedie_prod/images//corps/fond_mini_block_orange.jpg') repeat-x;
	padding:18px 0px 14px 18px;
}
.artiste #form_recevez_newsletter, .sorties #form_recevez_newsletter, .fiche_spectacle #form_recevez_newsletter {
	background:#E6101E;
}
#conteneur_archives_artistes {
	position:relative;
	background:#E6101E;
	padding:18px 0px 18px 18px;
}
#form_rechercher {
	position:absolute;
	top:84px;
	left:665px;
}
#form_rechercher fieldset, #form_recevez_newsletter fieldset, #form_archives_artistes fieldset {border:0px;}
#form_rechercher input, #form_recevez_newsletter input, #form_archives_artistes input {
	display:block;
	float:left;
	width:196px;
	font-family:Verdana, Arial, sans-serif;
	font-size:10px;
	padding:2px;
}
#form_rechercher input.png, #form_recevez_newsletter input.png {
	position:relative;
	top:-6px;
	margin-left:10px;
	width:32px;
	padding:0px;
}
#form_archives_artistes input.png  {
	position:relative;
	top:0px;
	margin-left:10px;
	width:25px;
	height:23px;
	padding:0px;
}
/* ///////////// ENTETE PUB .//////////// */
#ban_pub {
	height:114px;
	background:url('http://media.mth.net/comedie_prod/images//corps/fond_corps_home_orange.jpg') no-repeat #FF7713 874px 0px;
}
.artiste #ban_pub, .sorties #ban_pub, .fiche_spectacle #ban_pub {
	height:114px;
	background:url('http://media.mth.net/comedie_prod/images//corps/fond_corps_home_rouge.jpg') no-repeat #F6101E 874px 0px;
}
#conteneur_pub {
	background:url('http://media.mth.net/comedie_prod/images//pub/fond_pub_top.jpg') no-repeat 0px 0px;
	width:728px;
	height:94px;
	padding-top:6px;
	padding-left:168px;
}
.artiste #conteneur_pub, .sorties #conteneur_pub, .fiche_spectacle #conteneur_pub {
	background:url('http://media.mth.net/comedie_prod/images//pub/fond_pub_top_rouge.jpg') no-repeat 0px 0px;
}
/* ////////////////// CORPS /////////////// */
#corps {
	background:url('http://media.mth.net/comedie_prod/images//corps/fond_corps_home_orange.jpg') no-repeat 889px 0px #FF7713;
	height:751px;
	padding-left:15px;
	padding-top:6px;
}
.la_chaine #corps ,.page_recherche #corps{
	background:url('http://media.mth.net/comedie_prod/images//corps/fond_corps_home_orange.jpg') no-repeat 883px 0px #FF7713;
	margin-right:6px;
}
.artiste #corps, .sorties #corps, .fiche_spectacle #corps {
	background:url('http://media.mth.net/comedie_prod/images//corps/fond_corps_home_rouge.jpg') no-repeat 883px 0px #F6101E;
	margin-right:6px;
}
.guide_tv  #corps, .programme  #corps {
	background:url('http://media.mth.net/comedie_prod/images//corps/fond_corps_home_orange.jpg') no-repeat 889px -114px #FF7713;
	height:637px;
	margin-right:6px;
}
#corps .interrogation {position:absolute;border:0px;}
#dernieres_videos .interrogation {top:30px;left:93px;}
/* ///////////////// DERNIERES VIDEOS //////// */
#dernieres_videos {
	height:249px;
	border-bottom:1px solid #E45D01;
	width:290px;
	float:left;
	padding-right:14px;
	position:relative;
}
#conteneur_dernieres_videos_defil {
	background:url('http://media.mth.net/comedie_prod/images//corps/fond_mini_block_orange.jpg') repeat-x;
	height:218px;
	width:290px;
	overflow:hidden;
	position:relative;
}
#liste_dernieres_videos {
	width:1160px;
	height:300px;
}
#liste_dernieres_videos li {float:left;width:145px;position:relative;}
#liste_dernieres_videos li a {
	display:block;
	text-align:center;
	padding:36px 10px 0px;
	text-decoration:none;
	color:#fff;
	font-family:Verdana, Arial, sans-serif;
	font-size:10px;
	line-height:13px;
}
#liste_dernieres_videos li a .titre {
	text-transform:uppercase;
}
#liste_dernieres_videos li a img {
	margin:0px auto 6px;
	border:1px solid #FC9106;
	width:90px;
	height:70px;
}
#dernieres_videos .lien_seul, #lien_toutes_les_sorties {
	position:absolute;
	top:208px;
	left:12px;
}
.titre {
	font-family:Verdana, Arial, sans-serif;
	font-weight:bold;
	color:#fff;
	background:#FC9206;
	padding:0px 3px;
}
.guide_tv .mini_nav, .programme .mini_nav {
	left:363px;
}
#nav_guideTv li.prems {
	margin-left:0px;
}
.mini_nav {
	position:absolute;
	top:8px;
	left:250px;
	margin-right:12px;
}
.la_chaine .mini_nav {
	top:100px;
	left:524px;
}
.artiste #centre .mini_nav_1, .sorties #centre .mini_nav_1, .fiche_spectacle #centre .mini_nav_1 {
	position:absolute;
	top:231px;
	left:522px;
}
.artiste #galerie_photo .mini_nav, .sorties #galerie_photo .mini_nav, .fiche_spectacle #galerie_photo {
	position:relative;
	top:0px;
	left:0px;
	padding:0px;
	margin:0px 0px 0px 19px;
	height:30px;
}
.artiste #galerie_photo .mini_nav li, .sorties #galerie_photo .mini_nav li, .fiche_spectacle #galerie_photo .mini_nav li {margin:0px;}
.artiste #galerie_photo .mini_nav img, .sorties #galerie_photo .mini_nav img, .fiche_spectacle #galerie_photo .mini_nav img {
	width:11px;
	height:13px;
	border:0px;
}
.guide_tv .mini_nav .infos, .programme .mini_nav .infos {
	width:153px;
	text-align:center;
}
.artiste .mini_nav .infos, .sorties .mini_nav .infos, .fiche_spectacle .mini_nav .infos {
	width:128px;
	text-align:center;
	position:relative;
	top:-1px;
}
.mini_nav li {
	float:left;
	width:12px;
	height:12px;
	margin-right:12px;
}
.mini_nav li.last {
	margin:0px;
}
/* ///////////// SORTIES /////////// */
#sorties {
	height:250px;
	width:250px;
	float:left;
	position:relative;
	background:url('http://media.mth.net/comedie_prod/images//corps/fond_sorties.jpg') no-repeat 0px 30px;
	margin-bottom:0px;
	padding-bottom:0px;
}
#lien_mea_sorties {
	display:block;
	height:192px;
	width:232px;
	border-bottom:1px solid #E45D01;
	padding:27px 0px 0px 13px;
	color:#fff;
	text-decoration:none;
	position:relative;
}
#lien_mea_sorties .titre {
	text-transform:uppercase;
}
#lien_mea_sorties .infos {
	display:block;
	width:133px;
	float:left;
	margin-right:4px;
}
#lien_mea_sorties img {
	float:left;
	border:1px solid #FC9206;
	
}
/* //////////////// COLONNE ////////////// */
#colonne {width:300px;float:left;}
#creations {
	position:relative;
	height:216px;
	margin-bottom:16px;
	z-index:0;
}
#pub_300_250 {
	background:#000;
	height:250px;
	margin-bottom:16px;
}
#artiste_du_mois {margin-bottom:15px;}
.home #artiste_du_mois {margin-bottom:9px;}
.home #colonne h2{background:#D15702;}
.guide_tv #colonne h2{background:#D15702;}
.sorties #colonne h2, .artiste #colonne h2 {background:#C0101E;}
.serie #colonne h2{background:#4B2359;}
.creation #colonne h2 {background:#4B2359;}
.home #artiste_du_mois h2 {
	background:#D15702;
}
.sorties #artiste_du_mois h2, .fiche_spectacle #artiste_du_mois h2 {
	background:#C0101E;
}
#creations .infos {
	margin:19px 13px 0px 13px;
	position:relative;
	z-index:1;
	height:170px;
}
#creations .infos a, .lien_seul {
	font-size:11px;
	color:#E45D01;
	text-decoration:none;
	background:#FFD000;
	padding:0px 3px;
	float:left;
	margin-bottom:3px;
	clear:both;
}
#creations h3 {
	display:inline;
	font-weight:bold;
	font-size:14px;
	background:#FC9206;
	padding:2px 4px;
	text-transform:uppercase;
}
#creations span {
	font-size:13px;
	line-height:20px;
}
/* ////////// CE MOIS CI  //////////// */
#ce_mois_ci {margin-bottom:15px;}
#conteneur_ce_mois_ci_video {
	width:300px;
	height:185px;
}
/* //////// ARCHIVES ARTISTE DU MOIS ////// */
#champ_select_artiste {
	background:url('http://media.mth.net/comedie_prod/images//corps/artiste/choisir_artiste.jpg') no-repeat 0px 0px;
	display:block;
	width:260px;
	height:19px;
	text-decoration:none;
	color:#000;
	font-family:Verdana, Arial, sans-serif;
	font-size:10px;
	padding:4px 0px 0px 5px;
	position:relative;
}
#champ_select_artiste span {
	display:block;
	float:left;
	width:230px;
}
#champ_select_artiste img {position:absolute;top:0px; left:230px;}
#liste_artiste {
	overflow:auto;
	/*height:100px;*/
	width:209px;
	margin:10px 0px;
	background:#fff;
	border:1px solid #333;
	padding:5px;
	margin-bottom:0px;
}
#liste_artiste a {
	color:#000;
	text-decoration:none;
}
#liste_artiste a:hover {
	text-decoration:underline;
}
/* ///////// VOTRE SOIREE //////////// */
#votre_soiree,#coups_coeurs, #mate_ma_scene { margin-bottom:16px; }
.artiste #votre_soiree h2 {
	background:#C0101E;
}
#coups_coeurs h2 {
	background:#C0101E;
}
#contenu_votre_soiree {
	background:url('http://media.mth.net/comedie_prod/images//corps/fond_mini_block_orange.jpg') repeat-x 0px 0px;
	padding-bottom:14px;
	height:141px;
}
#contenu_mate_ma_scene {
	height:185px;
}
.artiste #contenu_votre_soiree, .sorties #contenu_coups_coeurs, .sorties #contenu_votre_soiree {
	background:#E6101E;
}
#contenu_coups_coeurs {
	background:#E6101E;
	padding-bottom:0px;
	/*height:173px;*/
}
.footer {
	clear:both;
	width:100%;
	line-height:5px;
	font-size:5px;
	height:12px;
}
#contenu_votre_soiree ul {
	padding:8px 21px 0px;
	float:left;
	margin-bottom:10px;
}
#contenu_coups_coeurs ul {
	padding:8px 21px 0px;
	float:left;
}
#contenu_votre_soiree li, #contenu_coups_coeurs li {
	height:20px;
	float:left;
	width:252px;
}
#contenu_votre_soiree li img, #contenu_coups_coeurs li img {
	clear:both;
}
#contenu_votre_soiree dl {
	height:17px;
	padding-top:0px;
	padding-left:2px;
	float:left;
	width:256px;
}
#contenu_votre_soiree dl a, #contenu_coups_coeurs a {
	color:#fff;
	text-decoration:none;
	display:block;
	width:100%;
	float:left;
}
#contenu_coups_coeurs a {
	padding-bottom:2px;
}
#contenu_votre_soiree dl a:hover, #contenu_coups_coeurs a:hover {
	font-weight:bold;
	color:#fff;
}
#contenu_votre_soiree dt {
	width:40px;
}
#contenu_votre_soiree .select dt, #contenu_votre_soiree .select dd {
	font-weight:bold;
}
#contenu_votre_soiree dt, #contenu_votre_soiree dd{
	float:left;
}
#contenu_votre_soiree .lien_seul {
	margin:15px 23px 0px;
	clear:both;
float:none;
}
/* /////////// PUB 300 x 85 ///////// */
.la_chaine #pub_300_85, .artiste #pub_300_85, .sorties #pub_300_85, .guide_tv #pub_300_85, .programme #pub_300_85, #pub_300_85 {margin-bottom:20px;}
.home #pub_300_85 {margin-bottom:13px;padding-bottom:0px;}
.fond {
	position:absolute;
	top:22px;
	left:0px;
	z-index:0;
	zoom: 1;
}
.important {font-weight:bold;}
.capital {text-transform:uppercase;}
/* ///////////////////// CENTRE ////////////////// */
#centre {float:left;	width:600px;margin-left:15px;position:relative;}
#conteneur_flash {
	margin-bottom:19px;
	float:left;
	height:482px;
}
/* //////////// CONTENU LA CHAINE /////////// */
.la_chaine #centre {
	float:left;
	width:600px;
	margin-left:15px;
	background:url('http://media.mth.net/comedie_prod/images//corps/la_chaine/fond_contenu.jpg') no-repeat 0px 120px;
	height:748px;
}
.page_recherche #centre {
	float:left;
	width:600px;
	margin-left:15px;
	background:url('http://media.mth.net/comedie_prod/images//corps/recherche/fond.jpg') no-repeat 1px 120px;
	height:748px;
}

.artiste #centre, .sorties #centre, .fiche_spectacle #centre {background:none;}
#conteneur_artiste {
	background:url('http://media.mth.net/comedie_prod/images//corps/artiste/fond_contenu.jpg') no-repeat -1px 0px;
	position:relative;
	height:498px;
}
.guide_tv #centre, .programme #centre {
	float:left;
	width:600px;
	margin-left:15px;
	background:url('http://media.mth.net/comedie_prod/images//corps/guide_tv/fond_conteneur_guide_tv.jpg') no-repeat 0px 30px;
	height:637px;
}
#sous_nav {
	height:30px;
	background:url('http://media.mth.net/comedie_prod/images//corps/la_chaine/fond_titre.jpg') no-repeat 389px 0px;
}
.artiste #sous_nav, .sorties #sous_nav {
	background:#F6101E;
	height:30px;
	margin-right:17px;
}

#sous_nav li{float:left;}
.contenu_la_chaine,.contenu_page_recherche {
	position:absolute;
	margin:0px 37px 0px 13px;
	padding-top:27px;
	width:542px;
	height:600px;
	text-align:left;
	border-bottom:1px solid #E45D01;
}
.contenu_la_chaine h3 ,.contenu_page_recherche h3{
	font-weight:bold;
	font-size:12px;
	background:#FC9206;
	padding:0px 2px;
	display:inline;
	text-transform:uppercase;
}
.contenu_la_chaine p {
	margin:3px 0px 10px;
}

#contenu_la_chaine_2 p {
	margin:4px 0px;
}

#contenu_la_chaine_2 p.important {
	font-size:14px;
	color:#000;
	font-family:Arial;
}

#contenu_la_chaine_2 .wordingTel{
	font-size:14px;
	color:#FFF;
	font-family:Arial;
	font-weight:bold;
}

#contenu_la_chaine_2 .numtel{
	color:#FFD000;
}


#contenu_la_chaine_2 .mini {
	font-size:8px;

}


#contenu_la_chaine_2 img{
	margin:0px 0px 15px 0px;
}



#contenu_la_chaine_2, #contenu_la_chaine_3{display:none;}
/* //////////////// CONTENU ARTISTE SPE //////////// */
.contenu_artiste {
	position:absolute;
	width:330px;
	padding:30px 0px 0px 16px;
}
.programme .contenu_artiste {padding:0;}
#contenu_artiste_2, #contenu_artiste_3, #contenu_artiste_4, #contenu_sorties_2, #contenu_sorties_3 {display:none;}
.contenu_artiste h3, .contenu_artiste p {
	text-align:justify;
	font-family:Verdana, Arial, sans-serif;
	font-size:11px;
	margin-bottom:10px;
}
.contenu_artiste a {
	font-size:11px;
	color:#E45D01;
	text-decoration:none;
	background:#FFD000;
	padding:0px 3px;
	display:block;
	float:right;
}
#galerie_photo {
	position:absolute;
	top:19px;
	left:368px;
	width:198px;
}
#galerie_photo ul {
	height:344px;
	padding:12px 0px 0px 15px;
}
#galerie_photo ul li {
	float:left;
	margin-right:14px;
	margin-bottom:14px;
}
#galerie_photo ul li img {
	width:70px;
	height:70px;
	border:1px solid #fff;
}

h4#contactezNous {
	color : #FFD000;
	font-size : 12px;
	padding-bottom : 24px;
}
.la_chaine #mailSent {
	font-weight: bold;
	padding-top: 100px;
	text-align:center;
	color: #FFD000;
}
fieldset#contactUs {
	border : none;
}
 

input#email, input#nom{
	marfin-top : 8px;
        width : 220px;
	display : block;
}
div#formMessage {
        float : left;        
        margin-top : 0px;
}

select#comboSujet {
	width : 225px;
	display : block;
        margin-right : 150px;
}
div#formEmail, div#formNom, div#formSujet{
	float : left;
	padding-bottom : 24px;

}
div#howReceive, div#formSujet, div#fournisseur {
	float : left;
	padding-bottom : 24px;
	width:100%;
}
div#formNom {
	padding-right : 36px;
}
textarea#message {
	display : block;
	width : 480px;
	height : 130px;
}
#boutonOk {
	margin-left :455px;
        margin-top : 16px;
}
.formContact {
	display : block;
}

/* ////////// CONTENU FICHE SPECTACLE ////////////// */
#contenu_fiche_spectacle {
	width:333px;
	padding-top:16px;
	padding-left:19px;
}
#contenu_fiche_spectacle h3 {
	font-weight:bold;
	font-size:15px;
	color:#4A0509;
	background:#EDF1D4;
	padding:0px 3px;
	float:left;
	margin-top:16px;
clear:both;
}
#contenu_fiche_spectacle h4 {
	font-weight:bold;
	font-size:14px;
	padding-top:16px;
	margin-bottom:12px;
	float:left;
	width:100%;
clear:both;
}
#contenu_fiche_spectacle p {margin-bottom:12px;float:left;width:100%;text-align:justify;height:485px;overflow:auto;position:relative;padding-right:5px;clear:both;}
#contenu_fiche_spectacle .jScrollPaneTrack{left:0px;background:#8B0913;}
#contenu_fiche_spectacle .jScrollPaneDrag{background:#FED000;}
#contenu_fiche_spectacle .conteneurLien {margin-top:20px;float:left;width:100%;}
#contenu_fiche_spectacle li {margin-bottom:5px;}
/* //////// DETAILS FICHE SPECTACLE ////////// */
#details_fiche_spectacle {
	position:absolute;
	top:45px;
	left:371px;
}
#details_fiche_spectacle img {margin:11px 0px 12px 27px;}
#details_fiche_spectacle h3 img {
	width:207px;
	height:19px;
	border:0px;
	padding:0px;
	margin:0px;
}
#details_fiche_spectacle dl {
	margin-left:16px;
	padding-top:12px;
	width:170px;
}
#details_fiche_spectacle dt {font-weight:bold;display:inline;}
#details_fiche_spectacle dd {display:inline;}

/* ////////////////// CONTENU SORTIES //////////// */
.contenu_sorties {
	position:absolute;
}
.mini_nav_2 {left:538px;}
.sorties #sous_nav {
	position:absolute;
	top:0px;
	left:250px;
}
.sorties #sous_nav li  {
	margin:3px 8px 0px 0px;
}
.sorties #sous_nav li a {
	display:block;
	height:21px;
	width:22px;
	background:#F6101E;
	color:#C0101E;
	font-family:"Arial Black", Arial, sans-serif;
	font-size:14px;
	text-decoration:none;
	text-align:center;
	line-height:18px;
}
.sorties #sous_nav li.select a {
	background:#FFD000;
	color:#fff;
}
#conteneur_sorties {
	background:url('http://media.mth.net/comedie_prod/images//corps/sorties/fond_contenu_sorties.jpg') no-repeat -1px 0px;
	height:720px;
}
#conteneur_fiche_spectacle {
	background:url('http://media.mth.net/comedie_prod/images//corps/fiche_spectacle/fond.jpg') no-repeat 0px 0px;
	height:720px;
}
.contenu_sorties ul {
	padding:25px 0px 0px 16px;
	float:left;
}
.contenu_sorties li {
	float:left;
	width:146px;
	height:341px;
	font-size:12px;
	margin-right:44px;
	position:relative;
}
.contenu_sorties li h3 {
	font-size:12px;
	color:#C0101E;
	background:#F1F3DC;
	text-align:center;
	padding:3px 0px;
	font-family:Verdana, Arial, sans-serif;
}
.contenu_sorties li img, #details_fiche_spectacle img {
	width:110px;
	height:154px;
	border:1px solid #F1F3DC;
	background:url('http://media.mth.net/comedie_prod/images//corps/sorties/fond_spectacle.jpg') no-repeat 0px 0px;
	padding:11px 18px 14px 16px;
	margin-bottom:5px;
}
.contenu_sorties li p {font-size:12px;font-family:Arial, sans-serif;}
.contenu_sorties li p.prems {margin-bottom:3px;}
.contenu_sorties li .lien_seul {
	position:absolute;
	top:308px;
	left:75px;
	font-weight:bold;
}




/* ////////////////// PIED ///////////// */
#pied {
	background:url('http://media.mth.net/comedie_prod/images//pied/fond_pied_orange.jpg') no-repeat;
	width:895px;
	height:52px;
	position:relative;
	margin-bottom:40px;
}
.la_chaine #pied {
	left:-6px;
}

.page_recherche #pied {
	left:-6px;
}

.artiste #pied, .sorties #pied, .fiche_spectacle #pied {
	left:-6px;
	background:url('http://media.mth.net/comedie_prod/images//pied/fond_pied_rouge.jpg') no-repeat top right #F6101E;
}
.guide_tv #pied, .programme #pied {
	left:0px;
}
#abonnez_vous {
	display:block;
	position:absolute;
	top:17px;
	left:689px;
	background:#FFD000;
}
.video #abonnez_vous, .communaute #abonnez_vous {
	background:#FFFF00;
}
#menu_pied {
	display:block;
	position:absolute;
	top:-82px;
	left:895px;
}
#menu_pied a, #menu_pied li {display:block;float:left;}


/* /////////// GUIDE TV /////////// */
#contenu_guide_tv {
	border-bottom:1px solid #E45D01;
	height:606px;
	width:525px;
	margin-left:13px;
position:relative;
}
.guide_tv #tableau_guide_tv {
	background:url('http://media.mth.net/comedie_prod/images//corps/guide_tv/fond_tableau.jpg') no-repeat;
	width:525px;
	height:497px;
}
#nav_guideTv {
	padding-top:12px;
	margin-bottom:10px;
	position:relative;
	left:205px;
	height:14px;
}
#nav_guideTv li {
	float:left;
	margin-left:11px;
}

#tableau_guide_tv {
	background:url('http://media.mth.net/comedie_prod/images//guide_tv/fond.jpg') repeat-x #fff;
	border-bottom:0px;
	width:606px;
	border-collapse:collapse;
}
#tableau_guide_tv td {
	font-family:Verdana, Arial, sans-serif;
	font-size:10px;
	height:69px;
}
#tableau_guide_tv td.jour {
	font-weight:bold;
	width:84px;
	text-align:left;
	padding-left:8px;
	
	font-family:Verdana, Arial, sans-serif;
	font-size:11px;
	color:#F9F7F4;
}
#tableau_guide_tv td.jour img {
	display:inline;
}
#tableau_guide_tv .derniere td {
	border-bottom:0px;
}
.lienDefilGauche, .lienDefilDroite {
	display:block;
	float:left;
	width:11px;
	height:39px;
	background:#E79558;
	padding-top:32px;
}
.lienDefilGauche img, .lienDefilDroite img {
	margin:0px auto 0px auto;
}
.conteneur_defil {
	height:73px;
	float:left;
	width:411px;
	overflow:hidden;
}

#tableau_guide_tv  .contenu_defil {
	background:none;
	width:auto;
	border-bottom:0px;
	border-collapse:collapse;
	border-spacing:0px;
}
.programme_defil {
	width:120px;
	height:37px;
	border-right:1px solid #B48562;
	
	font-family:Verdana, Arial, sans-serif;
	font-size:10px;
	/*padding:0px 10px;*/
	background:none;
	vertical-align:top;
	/*padding-top:7px;padding-left:11px;*/
}
.programme_defil_prime.programme_defil_prime {
	padding-top:0px;
	height:48px;
}
#tableau_guide_tv  .horraire_prog_tabl {
	display:block;
	margin-bottom:3px;
	color:#fff;
}


td.programme_defil span{
margin-top:10px;
}

td.programme_defil_prime span{
margin-top:0px;
}

.pos_coin_tabl {
left:-4px;
position:relative;
}
.programme_defil span {
	color:#FAC9A5;
}
.coin_tab_guide_tv {
	top:0px;
	left:0px;
}
.lienContenu_defil {
	font-family:Verdana, Arial, sans-serif;
	font-size:10px;
	color:#FAC9A5;
	text-decoration:none;
	font-weight:bold;
}


div.arrowleft{

}

div.arrowright{
position:absolute;
right:-11px;
}
.conteneur_defil{margin-left:11px;position:absolute;}
.boite_contenu_defil{position:absolute;}

table#container td{
width:160px;
}


table#proglist {

}

/* //////////// MESSAGE INTERDIT MOINS DE 18  //////////// */
#message_moins_18 {
	position:absolute;
	top:363px;
	left:485px;
	width:254px;
	padding:20px;
	border:3px solid red;
	background:#eee;
	color:#000;
	height:224px;
	display:none;
}
#message_moins_18 h2 {
	color:red;
	text-align:center;
	font-size:14px;
	margin-bottom:50px;
}
#message_moins_18 p {
	margin:0px 0px 10px;
	font-size:16px;
}
#message_moins_18 a {
	display:block;
	float:left;
	width:100px;
	background:#FFF;
	padding:5px;
	margin:0px 5px;
	color:#000;
	text-decoration:none;
}
#message_moins_18 .lien_plus_18 {font-weight:bold;border:3px solid green;}
#message_moins_18 .lien_moins_18 {font-weight:normal;border:3px solid red;}


#frmSondage{
	padding-left:15px;
	font-family:Arial, sans-serif;
	color:black;
	font-size:12px;
}

.percent{
	background:#EFBC00 none repeat scroll 0%;
	border-spacing:0px;
	border-collapse:collapse;
	color:white;
}

.communaute #contenuGauche input#valider{float:right;padding-right:10px;}

a#lien_mea_sorties img{
width:82px;
height:115px;
}

#formulaire_blague label{
float:left;
	color:#482308;
}

#formulaire_blague li{
margin-bottom:15px;
text-align:right;
width:400px;
}

.contenu_blague {
	position:absolute;
	margin:0px;
	padding-top:27px;
	padding-right:37px;
	padding-left:13px;
	width:521px;
	height:600px;
	text-align:justify;
	border-bottom:1px solid #E45D01;
	background:url('http://media.mth.net/comedie_prod/images/corps/blague/fond.jpg') no-repeat -4px -22px;
	margin-left:5px;
}

.contenu_blague p {
	margin:3px 0px 10px;
	color:#482308;
}

.contenu_blague a {
	background:#FFFF00;
	float:right;
	font-weight:bold;
	margin-right:122px;
}


/* ////// AJOUT PAGE RECHERCHE /////////// */
.page_recherche #centre h2 img {
	width:577px;
	height:120px;
	position:relative;
	left:1px;
}
#champs_recherche fieldset {border:0px;}
#champs_recherche label {
	display:block;
	font-size:12px;
	font-weight:bold;
	padding-bottom:0px;
	margin-left:2px;
	padding-top:10px;
	width:135px;
	height:20px;
}
#champs_recherche #label_recherche_mots_cles {
	padding-top:0px;
}
#champs_recherche {
	position:absolute;
	top:40px;
	left:362px;
	width:165px;
}
#champs_recherche input {
	display:block;
	width:125px;
	font-family:Verdana, Arial, sans-serif;
	font-size:10px;
	padding:2px;
	margin:0px;
	padding:0px;
}
#champs_recherche select {
	width:100%;
	margin-bottom:10px;
}
#resultat_recherche {
	position:relative;
	width:340px;
	overflow:auto;
	height:510px;
}
#resultat_recherche a {
	text-decoration:underline;
	color:#fff;
	font-weight:bold;
}
#resultat_recherche ul {margin-left:10px;}
#resultat_recherche ul ul {
	margin:15px 4px;
}
#infos_resultats_recherche {
	font-weight:bold;
	font-size:14px;
	margin-bottom:20px;
}
#infos_resultats_recherche span {
	color:#FFD000;
}
input#submit_page_recherche {
	width:32px;
	height:33px;
	position:absolute;
	top:78px;
	left:133px;
}
#debug_titre_blague {
	position:relative;
	left:5px;
	width:573px;
}

#text_mentions {
	width:610px;
	padding-left:10px;
	font-family:Verdana,Arial;
	font-size:13px;
	color:#FFF;
}


#conteneur_artiste .contenu_artiste {
	width:350px;
	margin-top:5px; position:absolute;
}

.serie #annexe #bande_annonce img.interrogation {
	position:relative;
	right:-45px;
	top:-131px;
}
#lightbox-secNav {overflow:hidden;}

.newsletter {width:500px; padding-top:30px}
/* //////////// JEU CONCOURS /////////// */
#contenu_concours_jeu {
	height:620px;
	position:relative;
}
#liens_reglement {
	position:absolute;
	top:0px;
	left:0px;
	width:581px;
}
#liens_reglement li {
	position:absolute;
	top:202px;
	right:1px;
}
#liens_reglement li.prems {
	left:0px;
}
#conteneur_reglement {
	background:url('http://media.mth.net/jeuweb_bddc/comedie/commun/fond_reglement.jpg') no-repeat 0px 0px;
}
/* //////////// FIN JEU CONCOURS /////////// */
/* /////////// SCROLLPANE page Reglement ///////////// */
#conteneur_reglement .jScrollPaneDrag {
	background:#FFD000;
}
#conteneur_reglement .jScrollPaneTrack {
	background:#EFBC00;
	border:1px solid #D8AA01;
}
/* /////////// FIN SCROLLPANE page Reglement ///////////// */





/* TEST */
.test #pub_300_250 {
	background:#000;
	height:250px;
	margin-bottom:16px;
	position:absolute;
	top:222px;left:703px;
	z-index:1000000000;
}
.manuEtBruno
{
	margin-top:10px;
}
/* FIN TEST */


.manu_bruno #form_liste_videos_creations {
margin:10px 0 0 21px;
position:relative;
}
.manu_bruno #video {

height:310px;

}


#contenu_lecture_en_cours #player_vid{
height:185px;
}