/* Commun a toutes les couleurs */
#recevez_newsletter h2, #votre_soiree h2, #serie_en_diffusion h2, #recevez_newsletter h2, #lecture_en_cours h2, #videos h2, #artiste_du_mois h2, #ce_mois_ci h2, #creation_comedie h2{
	/*height: 15px;*/
	padding: 5px 0px 5px 20px;
}
/* Bug safari */
#form_recevez_newsletter {
	height: 33px;
}
#form_recevez_newsletter img {
	display: block;
	clear: both;
}
/* Contenu violet */
.serie, .creation{
	width: 964px;
	background: url('http://media.mth.net/comedie_prod/images//fond_violet.jpg') repeat-y #000;
}
#conteneur.violet #entete_pub{
	background:url('http://media.mth.net/comedie_prod/images//entete/fond_entete_violet.jpg') no-repeat 0px 0px;
	width: 958px;
}
#conteneur.violet #ban_pub{
	background:url('http://media.mth.net/comedie_prod/images//corps/fond_corps_home_violet.jpg') no-repeat #603B6E 875px 0px;
	width: 946px;
}
#conteneur.violet  #conteneur_pub{
	background:url('http://media.mth.net/comedie_prod/images//pub/fond_pub_top_violet.jpg') no-repeat 0px -1px;
}

#conteneur.violet #corps{
	background:url('http://media.mth.net/comedie_prod/images//corps/fond_corps_home_violet.jpg') no-repeat 884px 0px #603B6E;
	height: 745px;
	width: 940px;
}
#conteneur.violet #menu_pied {
	left: 889px;
}
#abonnez_vous {
	left: 683px;
}

#conteneur.violet #pied {
	background:url('http://media.mth.net/comedie_prod/images//pied/fond_pied_violet.jpg') no-repeat -2px 0px;
	width: 887px;
}
.violet #recevez_newsletter h2, .violet #votre_soiree h2, .violet #serie_en_diffusion h2, .violet #creation_comedie h2{
	background: #4B2359;
}
.violet #form_recevez_newsletter, .violet #contenu_votre_soiree, .violet #contenu_serie_diffusion, .series #contenu_serie_diffusion {
	background-image: none;
	background-color: #582B66;
}
.violet #creation_comedie {background:none;}
/* Fin contenu violet */

.serie #centre {
	margin-left: 15px;
}

.serie #votre_soiree{margin-top: 15px;}

.serie #sous_nav {
	background: none;
	height:30px;
	position: relative;
	top: -30px;
}
.serie .mini_nav{
	position: absolute;
	top: 202px;
	left: 502px;
	height:22px;
	width: 50px;
	padding: 8px 0 0 27px;
	float: left;
}

#contenu_serie_diffusion p, #contenu_creation_comedie {
	padding:2px 2px 2px 0px;
	width:298px;
	background:#582B66;
}
#contenu_serie_diffusion p {
	width:252px;
}
#contenu_serie_diffusion a, #contenu_creation_comedie a{
	color: #fff;
	text-decoration: none;
}
#contenu_serie_diffusion a:hover, #contenu_creation_comedie a:hover{
	font-weight: bold;
}
#contenu_serie_diffusion ul, #contenu_creation_comedie ul {
	padding:8px 21px 11px;
	/*margin-bottom:11px;*/
}

.serie #contenu_global {
	clear: both;
	float: left;
	z-index: 50;
	background: url(http://media.mth.net/comedie_prod/images//corps/serie/fond_general.gif) no-repeat;
	width: 575px;
	position: absolute;
	height: 500px;
	overflow: hidden;
	top: 232px;
}
.serie .contenu_serie {
	position:absolute;
	width: 354px;
}
.hr{
	clear: both;
	width: 540px;
	position: absolute;
	top: 740px;
}
.serie .hr, .creation .hr{
	border-top: thin solid #593367;
}
.serie .contenu_serie ol{
	margin: 20px 0 0 18px;
}

.serie .contenu_serie ol li{
	margin-bottom: 5px;
}

.serie #contenu_gauche{
	float: left;
	clear: both;
	width: 354px;
	padding: 15px 0 0 15px;
	height:490px;
}
/* Block contenu serie */
#contenu_serie_1 dl {
	display: block;
	margin-bottom: 3px;
	float: left;
	position: relative;
	padding-top:8px;
}
#contenu_serie_1 dt{
	clear: both;
	position: relative;
	display: block;
	margin-right: 5px;
	float: left;
}
#contenu_serie_1 dd{
	position: relative;
	display: block;
	float: left;
}
#contenu_serie_1 img#simple{
	padding-top: 15px;
	clear: both;
}
/* Largeur contenu dl */
#contenu_serie_1 dt.genre{width: 40px;}
#contenu_serie_1 dd.genre{width: 300px;}

#contenu_serie_1 dt.nb_saisons{width: 116px;}
#contenu_serie_1 dd.nb_saisons{width: 225px;}

#contenu_serie_1 dt.nb_espisodes{width: 115px;}
#contenu_serie_1 dd.nb_espisodes{width: 225px;}

#contenu_serie_1 dt.duree{width: 170px;}
#contenu_serie_1 dd.duree{width: 175px;}

#contenu_serie_1 h4, #contenu_serie_5 h4 {
	clear: both;
	color: #fff;
	background: #60008C;
	padding: 0px 2px;
	margin-bottom: 8px;
	display:inline;
	font-size:12px;
}
#contenu_serie_1 p, #contenu_serie_2 p, #contenu_serie_2_2 p, #contenu_serie_4 p, #contenu_serie_5 p {
	padding-top: 5px;
	width: 337px;
}
#contenu_serie_5 p {height:103px;padding:0px;margin:0px;overflow:auto;}

#contenu_serie_5 p span {display:block;}

#contenu_serie_2 ul#distribution li, #contenu_serie_2_2 ul#distribution li, #contenu_serie_2 ul#distribution_2 li, #contenu_serie_2_2 ul#distribution_2 li {
	float: left;
	padding: 20px 10px 0 40px;
	height: 190px;
	overflow: hidden;
	width:100px;
}
#distribution li img {width:100px;height:100px;}

#contenu_serie_2 ul#distribution li p, #contenu_serie_2_2 ul#distribution li p, #contenu_serie_2 ul#distribution_2 li p, #contenu_serie_2_2 ul#distribution_2 li p{
	height: 45px;
	margin: 0;
	padding-top: 0px;
	width: 100px;
}
#contenu_serie_2 ul#distribution li p.important, #contenu_serie_2_2 ul#distribution li p.important, #contenu_serie_2 ul#distribution_2 li p.important, #contenu_serie_2_2 ul#distribution_2 li p.important{
	height: 30px;
}
#contenu_serie_2 .suite, #contenu_serie_2_2 .suite {
	clear: both;
	float: right;
	background: #FFD000;
	color: #E45D01;
	padding: 0 2px;
	text-decoration: none;
	font-size: 11px;
	margin: 10px;
}
#contenu_serie_3{
	width: 298px;
	padding: 16px 32px 0 20px;
}
#contenu_serie_4 ul li{
	margin-bottom: 50px;
}

#contenu_serie_4 ul li h5 {
	text-align: left;
	float: left;
	font-weight: bold;
	font-size: 11px;
	width: 240px;

}
#contenu_serie_4 ul li p{
	text-align: left;
	padding-top: 0;
	font-size: 12px;
	width: 240px;
}
#contenu_serie_4 ul li a{
	margin-top: 10px;
	color: #FFD000;
	text-decoration: none;
	font-weight: bold;
}
#contenu_serie_4 ul li img{
	float: right;
	margin-right: 10px;
}
#contenu_serie_5 img{
	float: left;
	margin-bottom: 25px;
}
#contenu_serie_5 ul li{
	margin-top: 5px;
}
#contenu_serie_5 ul li a, #contenu_serie_3 ol li a{
	color: #fff;
	text-decoration: none;
}
#contenu_serie_5 ul li a:hover, #contenu_serie_5 ul li.select a, #contenu_serie_3 ol li a:hover, #contenu_serie_3 ol li.select a{
	color: #FFD000;
	font-weight: bold;
	text-decoration: none;
}
#contenu_serie_5 p {
	margin-left: 0px;
	padding-top: 0;
	width: 337px;
	float: left;
}
#contenu_episodes {
	clear: both;
	position:relative;
	zoom:1;
	margin-top:25px;
}
#contenu_serie_5 h4#episodes{
	clear: both;
	width: 80px;
	float: left;
	margin-right: 60px;
}
#contenu_serie_5 ul{
	clear: both;
}
#contenu_serie_5 form{
	float: left;
	width: 180px;
}
#contenu_serie_5 fieldset{
	border: none;
}
#contenu_serie_5 fieldset select{
	width: 160px;
}
* html #contenu_serie_5 h4#episodes{width: 110px;}

#contenu_serie_2, #contenu_serie_2_2, #contenu_serie_3, #contenu_serie_4, #contenu_serie_5 {display: none;}

.serie #annexe{
	float: left;
	height: 498px;
	width: 205px;
	padding-top: 15px;
}
.serie  #annexe dl {
	float: left;
	padding: 10px 20px 0 20px;
	height: 140px;
	overflow-y:auto;
	overflow-x:none;
}



.serie  #annexe dl dt, .programme  #droite dl dt{
	clear: both;
	float: left;
	width: 120px;
	font-size:11px;
}
.serie #annexe dl dt{
	float: none;
}
.serie #annexe dl dt a{color:#FFF;text-decoration:none;}

.serie  #annexe dl dt{
	width: 120px;
}

.serie  #annexe dl dd{
	width: 120px;
}


.serie  #annexe dl dd, .programme  #droite dl dd{
	float: left;
	font-weight: bold;
}
.serie #annexe dl dt,.serie #annexe dl dd{
	font-size:11px;
}

.serie #annexe dl dd{float:none;display:none;}

.serie   #annonce{
	clear: both;
	padding-top: 1px;
	padding-bottom: 19px;
}
.serie   #bande_annonce{
	text-align: center;
	width:178px;
}
.serie  #annexe  #bande_annonce img{
	margin: 0 auto;
}
.serie  #annexe  #bande_annonce a {
	display: block;
	margin: 0 auto;
	width: 103px;
	padding: 0px;
	font-weight: bold;
	text-decoration: none;
		color: #fff;
}

.contenu_serie h3 {
	font-weight:bold;
	font-size:12px;
	display:inline;
	text-transform:uppercase;
}
.contenu_serie p {
	margin:3px 0px 10px;
}

/* Contenu jaune */
.video, body.communaute{
	background: url('http://media.mth.net/comedie_prod/images//fond_jaune.gif') repeat-y #000;
}
.video, .communaute {
	width: 964px;
}

#conteneur.jaune #entete_pub{
	background:url('http://media.mth.net/comedie_prod/images//entete/fond_entete_jaune.jpg') no-repeat 0px 0px;
}
#conteneur.jaune #ban_pub{
	background:url('http://media.mth.net/comedie_prod/images//corps/fond_corps_home_jaune.jpg') no-repeat #FFD000 875px 0px;
	width: 944px;
}

#conteneur.jaune #conteneur_pub{
	background:url('http://media.mth.net/comedie_prod/images//pub/fond_pub_top_jaune.jpg') no-repeat 0px 4px;
}

#conteneur.jaune #corps{
	background:url('http://media.mth.net/comedie_prod/images//corps/fond_corps_home_jaune.jpg') no-repeat 884px 0px #FFD000;
	height: 745px;
	width: 937px;
	overflow: hidden;
	padding-top: 6px;
}

#conteneur.jaune #pied {
	background:url('http://media.mth.net/comedie_prod/images//pied/fond_pied_jaune.jpg') no-repeat -2px 0px;
}


#conteneur.jaune form#recherche{
	padding: 8px 0 0 17px;
	height: 44px;
	background: url(http://media.mth.net/comedie_prod/images//corps/video/fond_recherche.jpg) no-repeat;z-index:999999;
	z-index:10;
}
#conteneur.jaune form#recherche * {
	z-index:10;
}
#conteneur.jaune #form_recevez_newsletter, #conteneur.jaune #contenu_votre_soiree, #conteneur.jaune #serie_en_diffusion{
	background-image: none;
	background-color: #EFBC00;
}
#conteneur.jaune .hr {
	top: 620px;
	border-top: thin solid #E0A901;
}
.video #conteneur.jaune .hr {
	top: 744px;
}
#conteneur.jaune #menu_pied {
	left: 889px;
}
#conteneur.jaune ol#pagination li{
	text-align: center;
	padding: 3px 3px;
	width: 15px;
	margin-left:10px;
}
#conteneur.jaune ol#pagination li.select{
	background: #FF7713;
}
#conteneur.jaune ol#pagination li a{
	font-weight: bolder;
	font-size: 12px;
	color: #CB9C0C;
	text-decoration: none;
}
#conteneur.jaune ol#pagination li.select a{color: #fff;}
.jaune #recevez_newsletter h2, .jaune #votre_soiree h2, .jaune #serie_en_diffusion h2, .jaune #lecture_en_cours h2, .jaune #videos h2, .jaune #artiste_du_mois h2{
	background: #D8AA01;
	width: 280px;
}
/* Fin contenu jaune */

/* Video */
.video  #contenu_lecture_en_cours p {
	background: #E0B201;
	padding: 8px 22px;
}
.creation  #contenu_lecture_en_cours p {
	background: #4B2359;
	padding: 8px 22px;
}

.video #centre {
	margin-left: 17px;
}


.video #votre_soiree{margin-top: 15px;}


.video form#recherche input#titre {
	padding-top:1px;
	width: 200px;
	margin-right: 10px;
	float: left;
	height:17px;
}
.video form#recherche input#valider {
	margin-left: 6px;
	float: left;
}
/* Liste deroulante perso */
.video form#recherche #comboCategorie {
	width: 225px;
	float:left;
}
.video form#recherche .conteneurListe{
	float: left;
	background: url(http://media.mth.net/comedie_prod/images/corps/video/fond_select.jpg) no-repeat right top;
	height: 25px;
	position:relative;
}
.serie form .conteneurListe, #form_liste_videos_creations .conteneurListe {
	float: left;
	background: url(http://media.mth.net/comedie_prod/images/corps/serie/fond_saison.gif) no-repeat left top;
	height: 25px;
	position:relative;
}
#form_liste_videos_creations .conteneurListe {
	background: url(http://media.mth.net/comedie_prod/images/creations/commun/fond_liste_creations.jpg) no-repeat left top;
}
.video form#recherche .contenuValeurListe, .serie form .contenuValeurListe, #form_liste_videos_creations .contenuValeurListe {
	color: #000;
	padding: 3px 3px 3px 6px;
}
.video form#recherche .conteneurDeroule, .serie form .conteneurDeroule,  .serie form .conteneurDerouleSerie, #form_liste_videos_creations .conteneurDerouleSerie {
	top:0px;
	left:0px;
	background:#fff;
	padding-left: 5px;
	color:#000;
	width: 160px;
	z-index: 1000;
}
.serie form .conteneurDerouleSerie, #form_liste_videos_creations .conteneurDerouleSerie {
	position:absolute;
	top:0px;
	left:0px;
}
.video form#recherche .conteneurValeurListe, .serie form .conteneurValeurListe, #form_liste_videos_creations .conteneurValeurListe {padding-bottom:20px;}
#form_liste_videos_creations .conteneurValeurListe {padding-bottom:20px;_padding-bottom:0px;}
.video form#recherche .boutonListe, .serie form .boutonListe {}
.video form#recherche .elementListe, .serie form .elementListe {background:#fff;}

.video form#recherche .elementOverListe{
	background: #eee;
}
/* Fin liste deroulante */


/* AJOUT du 22-07-2008 - Liste deroulante perso PAGE RECHERCHE */
.conteneurListe_recherche {
	background: url(http://media.mth.net/comedie_prod/images/corps/recherche/fond_select.jpg) no-repeat left top;
	height: 35px;
	position:relative;
}

#contenu_la_chaine_4 .conteneurListe_recherche {
	background: url(http://media.mth.net/comedie_prod/images/corps/la_chaine/fond_select_contact.jpg) no-repeat left top;
}

.contenuValeurListe_recherche {
	color: #000;
	padding: 3px 3px 3px 6px;
	font-family:Verdana, Arial, sans-serif;
	font-size:10px;
}
.conteneurDeroule_recherche {
	top:0px;
	left:0px;
	background:#fff;
	padding-left: 5px;
	color:#000;
	width: 160px;
	z-index: 1000;
}
.conteneurValeurListe_recherche {padding-bottom:20px;}
.boutonListe_recherche {}
.elementListe_recherche {
	background: #fff;
	font-family:Verdana, Arial, sans-serif;
	font-size:10px;
	cursor:pointer;
}

.elementOverListe_recherche {
	background: #eee;
}
/* FIN AJOUT du 22-07-2008 - Liste deroulante perso PAGE RECHERCHE */
.video #recherche fieldset {
	border: none;
	position:relative;
}
.video #sous_nav, .communaute #sous_nav {
	height:30px;
	margin-right:17px;
}
.communaute #gagnants #sous_nav {
	height:30px;
	margin-right:17px;
	left:233px;
}
.communaute #sous_nav{
	float: left;
	background: none;
}
#titre_page_video {
	float:left;
	width:99px;
}
.video #sous_nav{
	background: none;
	width:400px;
	padding-top:7px;
	float:left;
	height:25px;
	margin-left:4px;
}
.communaute #sous_nav{
	background: none;
	position:absolute;
	top:5px;
	left:137px;
}
.video #sous_nav li, .communaute #sous_nav li {
	margin:0px 8px 0px 0px;
}
.video #sous_nav li a, .communaute #sous_nav li a {
	display:block;
	height:21px;
	width:22px;
	background:#FFD000;
	color:#E0AA02;
	font-family:"Arial Black", Arial, sans-serif;
	font-size:14px;
	text-decoration:none;
	text-align:center;
	line-height:18px;
}
.video #sous_nav li.select a, .communaute #sous_nav li.select a {
	background:#FF7713;
	color:#fff;
}

.video .mini_nav {
	display: block;
	float:left;
	margin-top:12px;
	width:50px;
	position:static;
	margin-left:10px;
	/*position: absolute;
	left: 527px;
	top:118px;*/
}
.communaute .mini_nav{
	display: block;
	position: absolute;
	left: 530px;
	top: 9px;
}


.video #videos{
	clear: both;
	background: url(http://media.mth.net/comedie_prod/images//corps/video/fond_videos.jpg) no-repeat;
	height: 570px;
	width: 552px;
	padding-top: 24px;
	z-index:1;
}
.video #videos * {
	z-index:1;
}.video #videos li a {text-decoration:none;}
.video #videos.no_response {text-align:center;}
.video #videos.no_response a {
color:#fff;
}
.video #videos li {
	float: left;
	width: 125px;
	height: 130px;
	padding-left: 41px;
	padding-right: 6px;
	text-align: center;
	position:relative;
}
.video #videos li .interrogation {
	top:-7px;
	left:123px;
	border:0px;
}
.video #videos li img {
	display: block;
	margin: 0 auto;
	border:1px solid #FC9106;
}
.video #videos li a img {
	width:90px;
	height:70px;
}
.video #videos li a img.png {
	width:32px;
	height:53px;
}
.video #videos li .h5 {
	color: #3D2B00;
	font-weight: bold;
	font-size: 11px;
	text-transform:uppercase;
	padding-top:3px;
	display:block;
}
.video #videos li .paragraphe {
	color: #3D2B00;
	font-size: 11px;
	display:block;
	text-decoration:none;
}

#formvideoserie span.rub{
	color: #FFF;
	font-weight: bold;
	font-size: 11px;
	text-transform:uppercase;
	padding-top:3px;
	display:block;
	padding-left:7px;
}
#formvideoserie span {
	color: #FFF;
	font-size: 11px;
	display:block;
	font-weight:normal;
}


.video #contenu_votre_soiree .lien_seul {
	background: #FFFF00;
	color: #E45D01;
}

.video #votre_soiree img{
	clear: both;
	display: block;
}

/* Communaute */
.communaute #votre_soiree {
	margin-bottom:11px;
}
.communaute #videos {
	margin-bottom:8px;
}
.communaute #contenu_votre_soiree {
	padding-bottom: 14px;
	height: 130px;
}

.communaute h3 {
	padding: 0px 2px;
	width: auto;
	margin: 0px 0px 2px 14px;
	color: #482308;
	font-size: 12px;
	font-weight: bold;
	background: #FFE400;
	float:left;
}
.communaute .description p {
	clear:both;
}
.communaute  #colonne{
	height: 640px;
}
.communaute #conteneur.jaune #corps{
	background:url('http://media.mth.net/comedie_prod/images//corps/fond_corps_home_communaute.jpg') no-repeat 891px 0px #FFD000;
	height: 623px;
}
.communaute #conteneur.jaune #pied {
	background:url('http://media.mth.net/comedie_prod/images//pied/fond_pied_jaune2.jpg') no-repeat 13px 0px;
	width: 900px
}
.communaute #conteneur.jaune #entete_pub{
	background-position: 0px 0px;
}

.communaute #contenu_videos {
	background: #EFBC00;
/*	height: 148px;*/
	height: 155px;
	padding: 5px 0 0 15px;
}
.communaute #contenu_videos ul li {
	text-align: center;
	float: left;
	width: 114px;
	padding: 0 14px 10px 10px;
	position:relative;
}
* html .communaute #contenu_videos ul li {padding-bottom: 0px;}
.communaute #contenu_videos .lien_seul{
	clear: both;
	display: block;
	width: 90px;
	background: #FFFF00;
}
#contenu_videos ul {
	margin-top:7px;
}
.communaute #contenu_videos ul li img{
	margin: 0 auto;
}#contenu_videos ul li a {text-decoration:none; color:#000;}
.communaute #contenu_videos .h5 {
	font-size: 11px;
	color: #482308;
	text-transform:uppercase;
	padding-top:3px;
	font-weight:bold;
	display:block;
}
.communaute #contenu_videos .paragraphe {
	color: #482308;
	font-size:11px;
	display:block;
}
.communaute #contenu_videos a.lien_seul{
	margin-left:7px;
}

.communaute #contenu_videos img.interrogation {
left:87px;
position:absolute;
top:-5px;
}

.communaute #conteneur_concours  .lien_seul{
	background: #FFFF00;
}
.communaute #contenu_votre_soiree  .lien_seul{background: #FFFF00;}
.communaute #recevez_newsletter {
	margin: 0;
	padding:11px 0 8px;
}


.communaute #conteneur_concours{
	clear: both;
	background: url('http://media.mth.net/comedie_prod/images//corps/communaute/fond_concours.jpg') no-repeat;
	height: 162px;
	width: 582px;
	padding-bottom: 15px;
}
.communaute .concours{
	position: absolute;
}

.communaute #conteneur_concours .concours {display: none;}
.communaute #conteneur_concours #concours_1 {display:block;}
.communaute .concours p{
	color: #482308;
	font-size: 12px;
	margin: 0 0 20px 15px;
	width: 300px;
}
.communaute .description{
	margin-top: 23px;
	float: left;
	width: 330px;
}
.communaute .concours .img_droite{
	float: left;
}
.communaute .concours  .lien_seul{
	margin-left: 15px;
}

.communaute #contenuGauche{
	width: 198px;
	margin: 0 7px 20px 0;
	float: left;
	border: 1px solid #FFE400;
	/*height: 343px;*/
}
.communaute #contenuGauche li{
	clear: both;
}
.communaute #contenuGauche li div{
	clear: both;
}
.communaute #artiste_du_mois{
	margin-bottom: 0;
}
.communaute #artiste_du_mois h2{float: left;margin-bottom:0px;}
.communaute #artiste_du_mois a{display:block; clear: both;}
.communaute #contenuGauche  h4{
	clear: both;
	float: left;
}
.communaute #contenuGauche  h4.bas{
	float: none;
	clear: both;
	padding-top: 30px;
}
.communaute #contenuGauche  h4.colle{
	margin-top: 1px;
}
.communaute #contenuGauche .lien_seul{
	clear: both;
	background: #FFFF00;
	float: right;
	margin-top: 3px;
	margin-right: 10px;
}
* html .communaute #contenuGauche .lien_seul, *+html .communaute #contenuGauche .lien_seul{margin-right: 5px;}
.communaute #contenuGauche #premier.lien_seul{
	margin-top: 10px;
}

.communaute #contenuGauche p{
	padding: 10px;
	color: #482308;
}
.communaute #contenuGauche #blague p .auteur{
	text-align: right;
	display: block;
}
.communaute #contenuGauche #blague  #contenu_blague{
	height: 340px;
	clear: both;
}

.communaute #contenuGauche #sondage fieldset{
	border: 0;
}
.communaute #contenuGauche input{
	clear: both;
	float: left;
	margin: 5px 0 0 14px;
	
}
.communaute  #centre {
	margin-left: 17px;
}
.communaute #contenuGauche input#valider{
	clear: none;
}
.communaute #contenuGauche label{
	color: #482308;
	float: left;
	padding: 5px 0 0 9px;
	width: 78px;
	display: block;
}
* html .communaute #contenuGauche label{padding-top: 10px; width: 75px;}
*+html .communaute #contenuGauche label{padding-top: 10px; width: 75px;}
/* Block droite */
.communaute #gagnants {
	float: left;
	height: 440px;
	position:relative;
}

.communaute #gagnants #contenu_gagnants{
	background: url(http://media.mth.net/comedie_prod/images//corps/communaute/fond_gagnants.jpg) no-repeat;
	width: 357px;
	height: 360px;
	padding-top: 20px;
overflow:hidden;
}

#gagnants .jScrollPaneDrag {background-color:#ffe400;}
#gagnants .jScrollPaneTrack {background-color:#D8AA01;}
#gagnants .jScrollPaneTrack {border:1px solid #C09909;}

communaute #gagnants #contenu_gagnants h3 {
	clear: both;
	width:auto;
	float:left;
}
.communaute #gagnants #contenu_gagnants img{
	float: left;
	padding: 10px 0 35px 10px;
}
.communaute #gagnants  #contenu_gagnants p {
	color: #482308;
	margin-left: 15px;
	clear:both;
}

#contenu_gagnants li {float:left;width:333px;margin-bottom:15px;}

.communaute #gagnants  #contenu_gagnants p.liste_gagnants {
	float: left;
	margin-top: 10px;
	width: 225px;
	clear:none;
}

.communaute 	#conteneur.jaune  #menu_pied {
	left: 895px;
}
/* orange */
.la_chaine #recevez_newsletter h2, .la_chaine #votre_soiree h2, .programme #artiste_du_mois h2, .la_chaine #artiste_du_mois h2, .guide_tv #ce_mois_ci h2, .guide_tv #recevez_newsletter h2, .page_recherche #recevez_newsletter h2, .page_recherche #votre_soiree h2, .page_recherche #artiste_du_mois h2{
	background: #D15703;
	width: 280px;
}

/* Creation */
.creation #creation_comedie {
	margin-bottom: 10px;
}
.creation #creation_comedie ul li p {
	padding: 2px 0;
}
.creation #conteneur.violet #ban_pub {
	background-image:url('http://media.mth.net/comedie_prod/images//corps/fond_corps_home_violet_vierge.jpg');
}

.creation #conteneur.violet #corps {
	background-image:url('http://media.mth.net/comedie_prod/images//corps/fond_corps_home_violet_vierge.jpg');
}

/* Fiche programme */
.programme #votre_soiree h2, .programme #recevez_newsletter h2 {
	background: #D15703;
}
.programme #gauche {
	width: 329px;
	padding: 0 20px 0 20px;
	float: left;
}
.programme #gauche h3 {
	margin: 36px 0 15px;
	padding: 2px;
	color: #fff;
	background: #FC9206;
	font-size: 15px;
	font-weight: bold;
	width: auto;
	float:left;
}


.programme #gauche h4 {
	margin: 0px 0 15px;
	padding: 2px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	width: auto;
	float:none;
	clear:both;
}

.programme #gauche div.holder {
	color: #fff;
	margin-bottom: 15px;
	clear:both;
}
.programme #gauche div.holder {position:relative;width:289px;}
.programme #gauche div.holder .scroll-pane {height:450px;overflow:auto;position:relative;}
.programme #gauche a {
	text-decoration: none;
	color: #E45D01;
	background: #FFD000;
	padding: 1px;
}
.programme #droite{
	float: left;
	width: 205px;
}
.programme #droite h2 {
	height: 20px;
	padding: 3px 0 0 10px;
}
.programme #droite #details {
	background: url(http://media.mth.net/comedie_prod/images//corps/programme/fond_details.jpg) no-repeat;
	height: 215px;
	margin-top: 16px;
}
.programme #droite #details img#scene {
	display: block;
	margin: 12px auto 8px;
}
.programme #droite #details p {
	margin-left: 25px;
	margin-top:10px;
}
.programme #droite #diffusion {
	background: url(http://media.mth.net/comedie_prod/images//corps/programme/fond_diffusion.jpg) no-repeat;	
}

.programme  #droite dl {
	float: left;
	padding: 15px 10px 0 20px;
}
.programme .hr{
	clear: both;
	border-top: thin solid #E45D01;
	width: 540px;
	position: absolute;
	top: 635px;
}

#logo_rss {
	position: relative;
	left: 5px;
}
#logo_rss embed {display:block;float:left;}
#image_comedie {
	position: relative;
	top: -2px;
}
.js_alternatif {display:none;}
#aucun_gagnant {font-weight:bold;text-align:center;font-size:16px;margin-top:69px;}
.nogames{font-weight:bold;text-align:center;font-size:16px;padding-top:69px;}

/* /////// AJOUT Yann 18-07-2008 /////// */
#contenu_general {
	height:740px;
	width:580px;
}
#frmEpisodes {
	position:absolute;
	top:0px;
	left:180px;
	zoom:1;
}
.elementListeSerie {background:#fff;}