/*
ColorBox Core Style
The following rules are the styles that are consistant between themes.
Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:100001; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:hidden;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
/* 
Example user style
The following rules are ordered and tabbed in a way that represents the
order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:url(overlay.png) 0 0 repeat;}
#colorbox{}
    #cboxTopLeft{width:17px; height:17px; background:url(http://www.leparisien.fr/scripts/colorbox/images/controls_dark.png) -59px 0 no-repeat;}
    #cboxTopRight{width:17px; height:17px; background:url(http://www.leparisien.fr/scripts/colorbox/images/controls_dark.png) -92px 0 no-repeat;}
    #cboxBottomLeft{width:17px; height:17px; background:url(http://www.leparisien.fr/scripts/colorbox/images/controls_dark.png) -59px -33px no-repeat;}
    #cboxBottomRight{width:17px; height:17px; background:url(http://www.leparisien.fr/scripts/colorbox/images/controls_dark.png) -92px -33px no-repeat;}
    #cboxMiddleLeft{width:17px; background:url(http://www.leparisien.fr/scripts/colorbox/images/controls_dark.png) left top repeat-y;}
    #cboxMiddleRight{width:17px; background:url(http://www.leparisien.fr/scripts/colorbox/images/controls_dark.png) right top repeat-y;}
    #cboxTopCenter{height:17px; background:url(http://www.leparisien.fr/scripts/colorbox/images/border_dark.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:17px; background:url(http://www.leparisien.fr/scripts/colorbox/images/border_dark.png) 0 -8px repeat-x;}
    #cboxContent{background:#141414;}
        #cboxLoadedContent{margin-bottom:95px; }
        #cboxTitle{position:absolute; bottom:3px; left:0; width:100%; color:#fff;}
        #cboxCurrent, #cboxSlideshow, #cboxPrevious, #cboxNext{display:none;}
        #cboxLoadingOverlay{background:#141414;}
        #cboxLoadingGraphic{background:url(http://www.leparisien.fr/diaporama-videos/imgs/loader_lp.gif) center center no-repeat;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(http://www.leparisien.fr/diaporama-videos/imgs/close.gif) no-repeat; width:30px; height:30px; text-indent:-9999px;}
/*
The following fixes png-transparency for IE6.  
It is also necessary for png-transparency in IE7 & IE8 to avoid 'black halos' with the fade transition
Since this method does not support CSS background-positioning, it is incompatible with CSS sprites.
Colorbox preloads navigation hover classes to account for this.
!! Important Note: AlphaImageLoader src paths are relative to the HTML document,
while regular CSS background images are relative to the CSS document.
*/
.cboxIE #cboxTopLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/scripts/colorbox/images/ie6/borderTopLeft.png, sizingMethod='scale');}
.cboxIE #cboxTopCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/scripts/colorbox/images/ie6/borderTopCenter.png, sizingMethod='scale');}
.cboxIE #cboxTopRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/scripts/colorbox/images/ie6/borderTopRight.png, sizingMethod='scale');}
.cboxIE #cboxBottomLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/scripts/colorbox/images/ie6/borderBottomLeft.png, sizingMethod='scale');}
.cboxIE #cboxBottomCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/scripts/colorbox/images/ie6/borderBottomCenter.png, sizingMethod='scale');}
.cboxIE #cboxBottomRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/scripts/colorbox/images/ie6/borderBottomRight.png, sizingMethod='scale');}
.cboxIE #cboxMiddleLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/scripts/colorbox/images/ie6/borderMiddleLeft.png, sizingMethod='scale');}
.cboxIE #cboxMiddleRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/scripts/colorbox/images/ie6/borderMiddleRight.png, sizingMethod='scale');}