/*COULEURS BORDURES DES RUBRIQUES ET ARTICLES*/
.bord-none { border-bottom:none; }
.bord-none-loi { border-bottom:none; }
.bord-gene { border-color: #ccc;	/*GRIS*/ }
.bord-une {	border-color: #c03;	/*ROUGE*/ }
.bord-pol { border-color: #36c;	/*BLEU*/ }
.bord-div { border-color: #669;	/*VIOLET CLAIR*/ }
.bord-soc { border-color: #f60;	/*ORANGE*/ }
.bord-moi { border-color: #663399;	/*VIOLET*/ }
.bord-eco { border-color: #c90;	/*JAUNE*/ }
.bord-int { border-color: #336;	/*VIOLET FONCE*/ }
.bord-redac { border-color: #af324b; }	/*ROUGE SANG*/	/*MODULE COL 310 la redaction vous recommande*/
.bord-tour { border-color: #f7be19;	/*JAUNE - TOUR DE FRANCE*/ }
.bord-jo { border-color: #c03;	/*ROUGE - JO*/ }
.bord-cgv { border-color: #c03;	/*ROUGE*/ }
.bord-ident { border-color: #006699;	/*BLEU*/}
.bord-ligue1 { border-color:#00749b;  margin-bottom:0;}
.bord-grippea { border-color:#CC0033; margin-bottom:0;}
.bord-auto { border-color:#CC0033;; margin-bottom:0;}
.bord-transports { border-color:#CC0033;; margin-bottom:0;}
.bord-cannes { border-color:#B2863D; margin-bottom:0; }
.bord-rolandgarros { border-color:#D25B17; margin-bottom:0; }
.bord-loi { margin-bottom:0;} /*ROSE*/ 
.bord-psg { border-color:#318606; margin-bottom:0; }
.bord-spo { margin-bottom:0; }
.bord-res { margin-bottom:0;}
.bord-jo2010 {border-color:#005673;}

/*COULEURS TITRES DES RUBRIQUES ET ARTICLES*/
.coul-gene { color: #666;	/*GRIS*/ }
.coul-une { color: #c03;	/*ROUGE*/ }
.coul-pol { color: #36c;	/*BLEU*/ }
.coul-div { color: #669;	/*VIOLET CLAIR*/ }
.coul-soc { color: #f60;	/*ORANGE*/ }
.coul-loi { color: #f00050;	/*ROSE*/ }
.coul-none-loi { color: #f00050;	/*ROSE*/ }
.coul-moi { color: #663399;	/*VIOLET*/ }
.coul-spo { color: #390;	/*VERT*/ }
.coul-eco { color: #c90;/*color: #c90;*/	/*JAUNE*/ }
.coul-auto { color:#CC0033; }
.coul-int { color: #336;	/*VIOLET FONCE*/ }
.coul-tour { color: #f7be19;	/*JAUNE - TOUR DE FRANCE*/ }
.coul-jo { color: #c03;	/*ROUGE - JO DE FRANCE*/ }
.coul-psg {color:#390; }
.coul-res {color:#390; }
.coul-cgv { color: #c03;	/*ROUGE*/ }
.coul-musique { color: #c03;	/*ROUGE*/ }
.coul-ident { color: #006699;	/*BLEU*/}
.coul-rouge	{color:#c03;}
.coul-vert	{color: #318606;}
.coul-grippea {color: #CC0033;}
.coul-transports {color: #CC0033;}
.coul-cannes {color:#B2863D; }
.coul-rolandgarros {color:#D25B17;}
.coul-cin {color:#339900;}
.coul-jo2010 {color:#005673;}