/* CSS Document */
.clear {clear:both;height:0;overflow:hidden;position:relative;}
div#bottom {	position: relative;	z-index: 100;	background: #dcdcdc url('bg_bottom.png') repeat-x left top;}

img#logo-bot	{ position: relative; width: 98px; height: 25px;}

div#chemin {	position: absolute;	z-index: 1000;	width: 830px;	top: 0px;	left: 120px; background: #e6e6e6 url('bg_chemin.gif') repeat-x left bottom;	border: 1px solid #afafaf;	padding: 0 10px;	font-size:12px; line-height:20px;}

#chemin a { /*color: #0f638d;*/}
#chemin div.etape {	position: relative;	float: left;}

#chemin div.sep {	position: relative;	float: left;	width: 20px;	background: url('chemin_sep.gif') no-repeat center center;}

#chemin div.liens {	position: relative;	float: right;    padding-left: 20px;	border-left: 1px solid #afafaf;	margin-left: 20px;}
#chemin div.liens a img { vertical-align:middle;	}
div#links {position: relative;	z-index: 200;	width: 970px;	padding-top: 20px;	margin: 0 auto;	}

#links div.module {	position: relative;	float: left; margin-right: 15px;color: #666;font-size: 10px;	line-height: 14px;}
#links div.module dt {	font-weight: bold;	color: #0f638d;}
#links div.module dt a { /*color: #0f638d;*/}
#links div.module dd {	margin: 0;	padding: 0;	color: #666;}
#links div.module dd a { color: #666; }
#links div#copy {	position: relative;	text-align: center;	padding: 3px;	border-top : 1px solid #ccc;	margin-top: 10px;	color: #666;	font-size: 10px;}
#copy a { color: #666; }

#links div.module dt.event {	font-weight: bold;	color: #cc0033;}
#links div#ojd {position: absolute;width: 130px;right: 5px;bottom: 25px;color: #666;font-size: 10px;font-weight: bold;}
#links div#ojd img {padding-right: 5px;}

#topjump { border:1px solid #CCCCCC;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px; margin-top:2px;}

