 /* CSS Document */
/* ----- MEA - OREILLES ----- */
#meaHaut { background:#FFF; margin:0 auto; height:40px; font-size:12px; width:1000px;}
#meaHaut ul { width:990px; margin:0 auto; list-style-type:none;}
#meaHaut li { float:left; width:330px; height:40px; background: url(meaHaut-bg.png) no-repeat right;}
#meaHaut li img { display:block; float:left; margin-right:9px; }
#meaHaut li a.acces { float:left; font-weight:bold; color:#005A78; margin-top:5px;}
#meaHaut li span {font-weight:normal; display:block; color:#333;}

/* ----- HEADER ----- */
.contenerGlobal { background:#FFFFFF none repeat scroll 0 0; margin:0 auto; padding-bottom:15px; width:1000px; }
#headerGlobal { width:1000px; height:80px; margin:0 auto; background: #003C50 url(header-bg-cotes.png) repeat-x top;}
#header { width:990px;height:80px;  margin:0 auto; background: url(header-bg.jpg) no-repeat left top;}
#header #logoLP { float:left; margin:10px 20px 10px 0; position:relative;}
#header #logoLP #site_groupe{ position:absolute; left:756px; top:0; z-index:1000;}
#header #logoPR { float:left; margin:10px 0;}
#header #logoAEF { float:right; margin:10px 0;}
#header #headerContent { float:left;}
#headerContent .top { float:left; margin-bottom:8px;  line-height:30px; color:#FFF; font-size:12px; }
#headerContent .top h1.header-actualite{font-size:12px; font-weight:normal; float:left;}
#headerContent .top a { float:left; display:block; color:#FFF;  padding-right: 6px;}
#headerContent .top a.sep { background: url(header-sep.png) no-repeat left; padding-left:6px; }
#headerContent .top a img { margin-top:9px;}
#headerContent .bottom { clear:both; vertical-align:bottom;}
#headerContent .champ {  background: #E1F0FF url(header-moteur-bg.png) no-repeat left; border:none; height:17px; padding:5px 10px 3px; width:139px; font-size:12px; font-family:Arial,Verdana,Helvetica,sans-serif;}
#headerContent .ok { width:41px; height:25px; margin-bottom:-1px; }
#headerContent .bottom fieldset { float:left; width:220px; height:25px; display:inline; margin:8px 0 0 0; padding:0; border: 0; }
#headerContent .bottom form {height:25px; display:inline; margin:0; padding:0 }
#headerContent .bottom p { float:left; color:#FFF; }
#headerContent .bottom p a { color:#FFF; font-size:13px; }
#headerContent .bottom p#identifie a { background: url(header-sep.png) no-repeat right; line-height:17px;}
#non-identifie { font-size:11px; margin:5px 0 0 0; padding:0;}
#non-identifie img { margin:0 2px 0 15px;}
#non-identifie span { display:block;  }
#non-identifie .sep{ background: url(header-sep.png) no-repeat right; line-height:17px; padding:0 7px 0 0;}
#non-identifie a{ padding:0 7px 0 4px;}
#identifie { margin:0; padding:0;}
#identifie img { margin:0 2px 0 10px;}
#identifie .nom { display:block; font-size:13px; font-weight:bold; color:#E1F0FF; width:260px; height:18px; overflow:hidden; }
#identifie a{ padding:0 7px 0 4px;}

/* ----- MEGABANNER ----- */
div#megabanner { background: url(pub_bg_megabanner.gif) repeat-x left top; margin: 0 auto; text-align:center;}
#megabannerBas { background:#FFF; margin:5px auto; text-align:center;}
#megabanner_bas { background:#FFF; margin:5px auto; text-align:center;}

/* ----- NAVIGATION ----- */
#menuHaut { background:#FFF; margin:0 auto; padding:0 0 5px 0; height:70px; font-size:12px; width:1000px;}
.navmenu{ height:44px; background:url(menu_bg.gif) repeat-x; line-height:42px; width:100%; float:left;}
.navmenu li{ padding:0 7px; background:url(menu_border.gif) no-repeat; height:44px; float:left;}
.navmenu li.first{ background:none;}
.navmenu li.hover{ background:url(menu_bg_actif.gif) repeat-x; padding:0; display:none;}
.navmenu img{ float:left;}
.navmenu a{ font-weight: bold; font-size:15px; color:#333; float:left;}
.navmenu ul{ list-style-type:none;  margin: 0 auto; height:44px; width:994px;}
.navsousmenu .sousmenu{ display:none;}
.navsousmenu{ height:26px; background:#C8DCF0 url(sub_menu_bg.gif) repeat-x; line-height:22px; width:100%; float:left;}
.navsousmenu ul{ list-style-type:none; margin: 0 auto; height:26px; width:990px;}
.navsousmenu li{ background:transparent url(sub_menu_border.gif) no-repeat scroll 0 11px; float:left; height:24px; line-height:24px; padding:0 5px 0 10px;}
.navsousmenu li.first{ background:none;}
.navsousmenu li.imgs { background:none repeat scroll 0 0 transparent; padding:1px 0 0 5px;}
.navsousmenu a{ font-size: 13px; color:#003c50;}
.navsousmenu a:hover{ color:#c03;}
.navsousmenu .evenementiel{ background:url(evenementiel_bg.gif) repeat-x; height:22px; margin:-4px 1px 0 0; padding:4px 6px;}
.navsousmenu .evenementiel a{ color:#fff;}
.navsousmenu .evenementiel a:hover{ color:#fff; text-decoration:underline;}
.ediabo:link, .ediabo:visited{ width:115px; height:20px; margin:11px 0; display:block; background: url(edition_abonnes.gif) no-repeat;}
.ediabo:hover{ background: url(edition_abonnes_actif.gif) no-repeat;}

.ediaboDixit:link, .ediaboDixit:visited{ width:62px; height:28px; margin: 6px 0; display:block; background: url(edition_abonnes.gif.1) no-repeat;}
.ediaboDixit:hover{ background: url(edition_abonnes_e.gif) no-repeat;}

.DixitMonCompte:link, .DixitMonCompte:visited{ width:110px; height:24px; margin:0; display:block; background: url(mon_compte_a.gif) no-repeat;}
.DixitMonCompte:hover{ background: url(mon_compte_e.gif) no-repeat;}

.DixitContribuer:link, .DixitContribuer:visited{ width:110px; height:24px; margin:0; display:block; background: url(contribuer_a.gif) no-repeat;}
.DixitContribuer:hover{ background: url(contribuer_e.gif) no-repeat;}


/* ----- POPUP ----- */
.popupAuth{ width:360px; height:190px; padding:20px; background:url(popup_bg.gif) repeat-x; font-size:13px; font-weight:normal; display:block;margin:0 45px;}
.popupAuthTitle{ font-size:15px; font-weight:bold; color:#333; padding:0 0 6px 0; border-bottom:1px #999 solid; line-height:15px;text-align:center;}
.popupAuthMessage{ color:#333; padding:10px 0 25px; text-align:center; margin:0;}
.popupAuthMail{ color:#003c50; width:180px; float:left; margin:0; padding:0;}
.popupAuthPass{ color:#003c50; padding: 0 0 23px; margin:0;}
.popupInput{ height:14px; border:0; margin:4px 0 0 0; padding:3px 2px; font-size:11px; color: #333;}
.popupAuthMail input#email{ width:156px;}
.popupAuthPass input#password{ width:165px;}
.popupAuthError{ clear:both; color:#CC0033; display:none; font-size:12px; font-weight:bold; padding-top:10px;}
.popupAuth a, .popupAuth a:link, .popupAuth a:visited{color: #003c50;}
#popupRetrieve .popupAuthMail { width:360px;}
#popupRetrieve .popupAuthMail input#retrieve-password-email { width:250px;}

/* style generale pour meteo */
#visu-meteo .col-650{width:650px; float: left; margin-right: 20px;}
#visu-meteo .gouttiere-20{ display:none;}
#visu-meteo .col-310{ width:310px; float:left;}

/* ----- OVERLAY GREYBOX ----- */
#GB_overlay {background-color: #000; position: absolute; margin: auto; top: 0; left: 0; z-index: 10000; }
#GB_window {left: 0; top: 0; font-size: 1px; position: absolute;overflow: hidden; z-index: 15000; }
#GB_frame {	border: 0;	overflow: hidden;	height: 469px;}
.GB_frame {padding: 5px 20px 15px 20px; background: transparent url(bg_overlay.png) no-repeat 0px 0px;}