/* CSS Document */
* { font-family:Arial, Helvetica, sans-serif}

.alerte_email{ margin-bottom:20px;float:left;}
#electionsRegionales {clear:both; position:relative; width:640px;}
.reg-menu { float:left; width:640px; height:40px; list-style-type:none; font-size:12px; font-weight:bold; background:url(bg-gris-entete.png) repeat-x left top;}
.reg-menu li {float:left;  border-right:1px solid #FFF; padding:0 3px; height:20px; line-height:20px; background:url(bg-titre-bloccentral-light.png) repeat-x left top; margin:0; }
.reg-menu li.actif { background:url(bg-titre-bloccentral-dark.png) repeat-x left top;}
.reg-menu li a {display:block; color:#FFF;  padding:0 4px;font-size:12px;}

.entete-tab { float:left; position:relative; width:640px; padding:26px 0 0 0; border-bottom:1px solid #969696; margin-bottom:20px; }
.bg-urne { position:absolute; left:375px; top:0; width:102px; height:102px; background:url(bg-urne.jpg) no-repeat 0 0;} 
.goToRegion, .goToDep {  width:150px; height:24px;  font-size:11px; font-weight:bold; }
.goToRegion {float:left;}
.goToDep {float:right;}
.goToRegion a:link, .goToRegion a:visited, .goToDep a:link, .goToDep a:visited {color:#333333; display:block; width:120px; line-height:24px; background-color:#E6E6E6; }
.goToRegion a  { background:url(fl-left.png) no-repeat left center; padding-left:30px;}
.goToDep a { background:url(fl-right.png) no-repeat right; text-align:right;padding-right:30px;}

.entete-tab .titre { float:left; width:318px; line-height:24px; background:#636363 url(bg-intitule.png) no-repeat left top; font-size:14px; color:#FFF; padding:0 0 0 22px; }
.entete-tab .localisation { float:left; width:365px; line-height:30px; font-size:18px; font-weight:bold; color:#005A78; text-align:right; padding:0 20px 0 10px;}

.titreTableau { float:left; line-height:20px; width:640px; background:#961932; text-align:center; color:#FFF; font-size:14px; margin:0 0 10px 0; }

/*tableaux*/
.Tabdonnees, .Tabdetails { float:left; width:640px; font-size:13px;}
.Tabdonnees {margin-bottom:10px;}
.Tabdonnees tr { height:20px; line-height:19px;}

.Tabdonnees td.nombre { background:url(bg-tab-td-nb.gif) no-repeat left; }
.Tabdonnees td.lastcol { background:url(bg-tab-td-nb.gif) no-repeat left;}
.Tabdonnees th.left { border-bottom:1px solid #CBDDE3;}
.Tabdonnees th.col1 { background:url(bg-20-col1.png) no-repeat left;}
.Tabdonnees th.col2 { background:url(bg-20-col2.png) no-repeat left;}
.Tabdonnees th.col3 { background:url(bg-20-col3.png) no-repeat left;}
.Tabdonnees th.result {border-bottom:1px solid #4D8CA1; color:#961932; text-align:left; padding-left:20px;}


.Tabdetails tr.top{ height:30px; line-height:30px;}
.Tabdetails tr.lines  { height:40px; line-height:40px; }
.Tabdetails th.left { background:url(bg-40-th-left.png) repeat-x left;}
.Tabdetails th.col0 { background:url(bg-30-col0.png) no-repeat left;}
.Tabdetails th.col1  { background:url(bg-30-col1.png) no-repeat left;}
.Tabdetails th.col2 { background:url(bg-30-col2.png) no-repeat left;}
.Tabdetails th.col3 { background:url(bg-30-col3.png) no-repeat left;}
.Tabdetails td.nombre, .Tabdetails td.lastcol { background: url(bg-40-td.png) no-repeat left; }
.Tabdetails td.tour1 { background:#E6E6E6url(/imgs/regionales/bg-tab-td-nb.gif) repeat-y left;}

/*donnees communes aux tableaux*/
.Tabdonnees td, .Tabdonnees th, .Tabdetails td, .Tabdetails th { text-align:right; padding-right:10px;}
.Tabdonnees th.col1, .Tabdetails th.col1 { width:120px;}
.Tabdonnees th.col2, .Tabdetails th.col2, .Tabdonnees th.col3, .Tabdetails th.col3 { width:85px;}
.Tabdonnees tr.top, .Tabdetails tr.top, .Tabnuances tr.top { color:#FFF;  text-transform:capitalize; } 
.Tabdonnees td.nombre, .Tabdetails td.nombre {color:#333; }
.Tabdonnees td.lastcol, .Tabdetails td.lastcol { color:#005A78; font-weight:bold;}
.Tabdonnees th.left, .Tabdetails th.left, .Tabdetails td.sigles { color:#005A78; text-align:left; padding-left:20px;}

/*signification des sigles */
.Tabnuances { float:left; width:640px; font-size:11px; margin-bottom:30px;}
.Tabnuances tr { line-height:18px; height:18px;}
.Tabnuances tr.top {height:20px; line-height:20px; text-transform:uppercase;}
.Tabnuances th.col0 { width:60px; background:url(bg-30-col0.png) no-repeat right bottom;}
.Tabnuances th.col1 {width:260px;  background:url(bg-20-th.png) repeat-x right top;  }
.Tabnuances td.code {color:#005A78; background: url(bg-40-th-left.png) repeat-x right bottom; font-weight:bold; text-align:right; padding-right:10px;}
.Tabnuances td.intitule {color:#333; background: url(bg-20-td.png) no-repeat left bottom; padding-left:10px;}
.Tabnuances a.closeTab { display:block; cursor:pointer; color:#333; padding-right:20px; line-height:20px; font-size:12px; font-weight:bold; background: url(close.gif) no-repeat right center; }
.choix_ville{color:#c03;padding:0 10px; border: 1px solid rgb(221, 221, 221);}

.affichersigles { float:right; width:300px; height:25px; text-align:right; margin-bottom:10px; padding-right:10px; text-transform:uppercase; margin-bottom:20px;}
.affichersigles a {display:block; float:right; line-height:25px; padding-left:30px;  color:#333; background: url(blocs-flechegrise.png) no-repeat left center; cursor:pointer; font-size:11px; font-weight:bold;}
.listesigles { display:none;}

/* ------------- * Hidden - used to hide the original form elements * ------------- */
.jqTransformHidden {display: none;}

/*Alerte email*/
.entete-alerte { float:left; width:640px; padding:26px 0 0 0; margin-bottom:20px; }
.entete-alerte .intro {float:left; color:#333; font-size:15px;}
.entete-alerte .titre {width:340px; line-height:24px; background:#333; font-size:14px; color:#FFF;  font-weight:bold; text-align:center; margin:0 auto 30px auto; }

.AlerteInscription {float:left; position:relative; width:620px; background:#005069 url(fl-bas.gif) no-repeat left top; padding:18px 0 0 20px; height: 110px;}
.AlerteInscription .bg-urne {position:absolute; left:505px; top:25px; width:132px; height:157px; background:url(bg-urne-alerte.png) no-repeat 0 0;}
.AlerteInscription h3 { display:block; font-size:18px; color:#FFF; margin-bottom:8px;}
.AlerteInscription h3 span { color:#6EDCF0; font-weight:normal; padding:0 0 0 15px}
.AlerteInscription h4 { display:block; color:#FFF; font-size:13px; font-weight:normal; }
 
.formAlerte640 { margin:18px 0 0 0;}
.formAlerte640 input[type=text] {float:left; font-size:11px; width:215px; height:16px; padding:5px 0 4px 5px; margin-right:20px; border:none; background:transparent url(alerte-bg-saisie.png) left;}
.formAlerte640 input[type=submit] { float:left;display:block;  width:82px; height:25px; border:0; background:url(btn-valider-on.png) no-repeat right center; margin:0 50px 18px 0}
.formAlerte640 input[type=submit]:hover {background:url(btn-valider.png) no-repeat right center;}

/*moteur */
.module-moteurRegionales-310 {margin:0 0 15px; margin:0 0 15px; border-top:6px solid #003C50; color:#003C50;}
.module-moteurRegionales-310 .topbleu {display:block; height:45px; font-size:14px;  font-weight:bold; line-height:17px; padding:5px 0 0 10px; background:#FFFFFF url(bg-moteur-bleu.png) no-repeat left center;}
.module-moteurRegionales-310 .topbleu span { color:#333333; display:block; font-size:13px; font-weight:normal; }
.module-moteurRegionales-310 fieldset.moteurRegionales, .module-moteurRegionales-310 fieldset.formAlerte310 { background:#005069 url(moteur-urne.jpg) no-repeat right top; border:0; color:white; padding:0 110px 10px 10px;}
.module-moteurRegionales-310 input.saisieVille {float:left; font-size:10px; width:160px; height:15px; padding:3px 0 2px 5px; border:none; background:transparent  url(moteur-bg-textfield.png) left; }
.module-moteurRegionales-310 input.okVille { float:left; width:25px; height:20px; border:0; background:url(moteur-btnok.png) no-repeat right center; }
.module-moteurRegionales-310 input.okVille:hover {background:url(moteur-btnok-on.png) no-repeat right center;}

.module-moteurRegionales-470 { float:left;  background:url(bg-moteur-470.png) no-repeat left top; width:470px; height:170px; border-bottom:1px solid #DCDCDC; border-top:1px solid #DCDCDC; margin-top: 20px}
.module-moteurRegionales-470 .titre { padding-left:10px; color:#FFF; line-height:20px; font-size:12px;}
.module-moteurRegionales-470 fieldset { padding:20px 10px;}
.module-moteurRegionales-470 input.saisieVille {float:left; font-size:10px; width:270px; height:15px; padding:5px 0 0 5px; border:none; background:transparent  url(moteur-bg-textfield470.png) left; color:#E6E6E6;}
.module-moteurRegionales-470 input.okVille { float:left; width:25px; height:20px; border:0; background:url(moteur470-btnok.png) no-repeat right center; }
.module-moteurRegionales-470 input.okVille:hover {background:url(moteur470-btnok-on.gif) no-repeat right center;}

#moteur640{ background:url(bg-moteur-640.png) no-repeat left top; width:640px;}
#moteur640 fieldset { padding:20px 10px; width:470px;}

/* ------------- * Selects * ------------- */ 
.jqTransformSelectWrapper {position:relative; height: 20px; float:left; font-size: 11px; }
.module-moteurRegionales-310 .jqTransformSelectWrapper { width: 190px;  background: url(moteur-bg-select.png) no-repeat top left; margin-bottom:10px;}
.module-moteurRegionales-470 .jqTransformSelectWrapper { width: 300px;  background: url(moteur-bg-select470.png) no-repeat top left; margin-bottom:15px; }

.jqTransformSelectWrapper div span { float: none; position: absolute; white-space: nowrap;  height: 19px; line-height: 20px; padding: 1px 0 0 7px; overflow: hidden; cursor:pointer;}
.module-moteurRegionales-310 .jqTransformSelectWrapper div span {color: #333; width: 188px; }
.module-moteurRegionales-470 .jqTransformSelectWrapper div span {color: #E6E6E6; width: 298px;}

.jqTransformSelectWrapper a.jqTransformSelectOpen { display: block; position: absolute; right: 0px; width: 25px; height: 20px; }
.module-moteurRegionales-310 .jqTransformSelectWrapper a.jqTransformSelectOpen {background: url(moteur-bg-select-fl.png) no-repeat center center;}
.module-moteurRegionales-470 .jqTransformSelectWrapper a.jqTransformSelectOpen {background: url(moteur-bg-select470-fl.png) no-repeat center center;}

.jqTransformSelectWrapper ul { position: absolute; top: 20px; left: 0px; list-style: none; border-bottom:none; display: none; margin: 0; padding: 0; height: 200px;  /*overflow: auto;*/ overflow-y: auto; z-index:100;}
.module-moteurRegionales-310 .jqTransformSelectWrapper ul {background:#FFF; border: solid 1px #E6E6E6; width: 188px;}
.module-moteurRegionales-470 .jqTransformSelectWrapper ul {background:#323232; border: solid 1px #000; width: 298px; }

.jqTransformSelectWrapper ul a { display: block; padding: 2px 2px 2px 7px;  margin:1px;  }
.module-moteurRegionales-310 .jqTransformSelectWrapper ul a {border-bottom:1px solid #E6E6E6; color:#666;  }
.module-moteurRegionales-470 .jqTransformSelectWrapper ul a { border-bottom:1px solid #000; color:#E6E6E6; }

.module-moteurRegionales-310 .jqTransformSelectWrapper ul a.selected, .module-moteurRegionales-310 .jqTransformSelectWrapper ul a:hover, .module-moteurRegionales-310 .jqTransformSelectWrapper ul a.selected:hover { background-color:#646464; color: #FFF; text-decoration:none;}
.module-moteurRegionales-470 .jqTransformSelectWrapper ul a.selected, .module-moteurRegionales-470 .jqTransformSelectWrapper ul a:hover, .module-moteurRegionales-470.jqTransformSelectWrapper ul a.selected:hover { background-color:#E6E6E6; color: #333; text-decoration:none;}

/* ------------- * Hidden - used to hide the original form elements * ------------- */
.jqTransformHidden {display: none;}

/*--------------- * Overlay Check * ----------------*/
.ui-widget-overlay {background:url("overlay.png") repeat scroll 0 0 transparent;left:0;opacity:0.8;position:absolute;top:0;}
.ui-resizable-handle {display:none !important;}
.ui-widget-content {background:url("bg_reagir_controle_24.png") no-repeat scroll center center transparent;height:324px !important;position:absolute;width:484px !important;}
.ui-dialog-titlebar-close {background:url("b_reagir_fermer.png") no-repeat scroll center center transparent;display:block;height:24px;margin:15px auto;width:24px;}
.ui-dialog-titlebar-close-hover {background-image:url("b_reagir_fermer_on.png");}
.ui-dialog-titlebar-close span {display:none;}
.ui-dialog-content {background:url("bg_reagir_controle_in.png") no-repeat scroll center top transparent;height:197px !important;margin:0 50px;padding:10px;text-align:center;width:364px !important;}