
	

/* styles du tableau de la galerie --------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.galerie_texte { color: #800000; margin-bottom: 5px; }
.entete { background-color: #deb887; }
#tableau { display: block; width: 420px; margin: 0; padding: 1px; border: 0; border-spacing: none; border-collapse: collapse; }
#tableau .entete { display: block; background-color: #deb887; }
#tableau .line { display: block; height: 20px; position: relative; border: 0; margin: 0; }
#tableau .line_blanc { display: block; height: 20px; position: relative; background-color: #ffffff; border: 0; margin: 0; }
#tableau .artiste { width: 200px; position: absolute; top: 0px; right: 0px; text-align: left; color: #000; text-transform: capitalize; padding: 1px; border: 0; margin: 0; vertical-align: middle; }
#tableau .line .artiste a, #tableau .line_blanc .artiste a { color: #000; }
#tableau .line .artiste a:hover, #tableau .line_blanc .artiste a:hover   { color: #d90000; text-decoration: none }
#tableau .day { width: 60px; position: absolute; top: 0px; right: 25px; text-align: center; padding: 1px; border: 0; margin: 0; vertical-align: middle; }
#tableau .nombre { width: 60px; position: absolute; top: 0px; right: 270px; text-align: center; color: #555555; padding: 1px; border: 0; margin: 0; vertical-align: middle; }
#tableau  .photographe { width: 70px; position: absolute; top: 0px; right: 340px; text-align: center; padding: 1px; border: 0; margin: 0; vertical-align: middle; }



