
/* menu */
#header { width: 1010px; height: 170px; background-color: #ffffff; margin-bottom: 15px; } /* height = flash + 20 */
#header .bottom_left,
#header .bottom_right { display: none; }
#header #flash { 
	height: 150px; 
	text-align: right; 
	background: #a4954f center right no-repeat;
	padding: 0;
	}
#header #flash p { 
	padding-right: 8px; 
	margin-top: 75px;
	}


#header #contenu_menu { 
	width: 1010px; 
	text-align: left; 
	/*position: absolute;  */
	background: #ffffff;
	font-family: Arial, Helvetica, sans-serif; 
	letter-spacing: -0.5px;
	font-weight: bold;
	}
#navigation, #navigation  ul { 
	display: inline; list-style: none; line-height: 1; 
	font-weight: bold; 
	padding: 0; margin: 0 0 1em 0;
	background: #ffffff; 
	border: solid #888;
	border-width: 0px; 
	}
#navigation  a { 
	display: block; 
	color: #888; 
	text-decoration: none; 
	padding: 0.25em 0.5em;
	text-transform: uppercase; 
	}
#navigation  a:hover { color: #000; background-color: #bbb; }
#navigation .white    { 
	color: #888888; 
	font-weight: bold; font-size: 1.2em; 
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
	background-color: transparent; 
	text-transform: uppercase; 
	}
#navigation a:hover.white,
#navigation .white:hover { text-decoration:none; color:#000000; background-color: #bbb; }
#navigation .selected  { 
	display: block; padding: 0.25em 0.5em; 
	color: #000; 
	font-weight: 800; font-size: 1.2em; 
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
	text-transform: uppercase; 
	}
#navigation  a.parent { 
	background: transparent url(http://www.legrandmix.com/images/template/next_level.gif) center right no-repeat; 
	padding: 0.25em 0.5em; 
	color: #888; 
	font-weight: bold; font-size: 1.2em; 
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
	text-transform: uppercase; 
	}
#navigation  a:hover.parent,
#navigation  a.parent:hover { text-decoration: none; color: #000000; background-color: #bbb; }

#navigation  li { display: block; float: left; padding: 0; border-right: 1px solid #888; }
#navigation  li ul { display: block; float: none; 
	position: absolute; left: -999em; height: auto; 
	width: 20em; w\idth: 18em; 
	z-index: 2; 
	font-weight: normal; 
	border-width: 1px 2px 2px 1px; 
	padding: 5px 0 5px 0; margin: 0; 
	}
#navigation ul li { display: block; float: none; border: 0; margin: 0; padding: 0; }
#navigation  li li {	display: block; float: none; }
#navigation  li ul ul { margin: -1.75em 0 0 18em; }


#navigation  li:hover, #navigation  li.sfhover {	background: #bbb; }
#navigation li:hover ul ul, #navigation li:hover ul ul ul, #navigation li:hover ul ul ul ul, 
#navigation li.sfhover ul ul, #navigation li.sfhover ul ul ul, #navigation li.sfhover ul ul ul ul { left: -999em; }
#navigation li:hover ul, #navigation li li:hover ul, #navigation li li li:hover ul, #navigation li li li li:hover ul, 
#navigation li.sfhover ul, #navigation li li.sfhover ul, #navigation li li li.sfhover ul, #navigation li li li li.sfhover ul { left: auto; }
#navigation .texte { padding: 0.25em 0.5em; color: #000000; text-align: center; }



