@charset "utf-8";

/* CSS Document */


body{
	margin: 0 auto;
	background-image: url(fd_site.jpg);
	background-repeat: repeat-x;
	background-color: #586C17;
	font-family: Tahoma, Arial, sans-serif;
	color: #586C17;
	font-size: 12px;
}

#header{
	display:block;
	}



#nav {
	background-image: url(fd_menu_hor.jpg);
	background-repeat: no-repeat;
}

#conteneur {
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	width: 985px;
	}

#content {
	background-color:#FFFFFF;
	background-image: url(fd_content.gif);
	background-repeat: repeat-x;
	width: 925px;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 15px;
	background-position: top;
	padding-right: 30px;
}

#footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
	text-align: center;
	padding: 10px;
	background-image: url(footer.jpg);
	background-position: top;
}

#footer a {
	color: #D9E8F2;
	font-weight: normal;
	font-size: 10px;
}


#footer a:hover {
	color: #FFFFFF;
	font-weight: normal;
}



p {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 13px;
	color: #32688F;
	text-align: justify;
}


h1{
	font-family:Tahoma, Arial, sans-serif;
	font-size: 16px;
	color:#325C7C;
	letter-spacing: -1pt;
	text-indent: 25px;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0pt;
	font-size: 16px;
}

h3 {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 14px;
	text-decoration: none;
}


a:link {
	color: #0099FF;
	text-decoration: none;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;}

a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #0066FF;
	font-family: Arial, Helvetica, sans-serif;
}

a:hover {
	color: #00CCFF;
	text-decoration: none;
	font-weight: bold;
}


.content_text {
	font-family:Tahoma, Arial, sans-serif;
	font-size : 12px;
	text-align: justify;
	margin-right: 20px;
	line-height: 18px;
	color: #32688F;
	}
	
.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: -1px;
	padding-bottom: 10px;
	padding-top: 10px;

}

.tahoma13 {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 13px;
	color: #32688F;
	text-align: justify;}
	
	
.tableau {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0099CC;
}

.Tab_guide {
	border: 1px dotted #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0099CC;
}

.Tab_row_01{
	background-color:#F7F7F7;
}

.Tab_row_02{
	background-color:#E6E6E6;
}
	
.Tab_head{
background-color:#CCCCCC;}


.Image_300 {

}

.Image_300_bottom {
	background-image: url(fd_vignette300_bottom.jpg);
	background-repeat: repeat-x;
	background-position: top;
	height:30px;
	display:block;
	margin-top:-15px;
}

.Image_300_top {
	background-image: url(fd_vignette300_top.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	height:30px;
	display:block;
}


#recherche {
	float:right;
	}
	
	

.texte_intro {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: italic;
	color: #1F8B86;
	text-decoration: none;
	font-weight: bold;
}
.texte_adresse {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #003366;
	font-variant: small-caps;
}
.title2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -1px;
	padding-bottom: 20px;
	text-align:left;
}

.texte_lien{
	color: #666666;
	text-decoration: none;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

#texteaccueil {
	font-family:Arial, sans-serif;
	font-size:12px;
}

.imageedito {
	float: right;
	height: 150px;
	width: 150px;
	padding: 10px;
}


.aides {
	list-style:none;
	color:#333333;
}

.aides p{
	list-style:none;
	color:#333333;}

.aides li {
	list-style-type:circle;}
	
	
