/* ************************************************************************
 * Handica.com : Style sheet
 * ************************************************************************
 * Creation : copyright 2005-2008 - Handica.com - oxc
 * ************************************************************************ */


* {margin: 0; padding: 0; border: 0 }

body { margin:0px;
	padding:10px 30px 10px 30px;
	font-family: arial,verdana,helvetica,sans-serif;
	font-size: 0.8em;
	color: #000000;
	background-color: #9C9C9C;
}

.none {margin: 0; padding: 0; border: 0; background-color:inherit; }
.emptyfloatdiv {margin: 0; padding: 0 0 2px 0; border: 0; background-color:inherit; float:left; position:relative; width:100%; }
.centerdiv {margin: 0; padding: 2px 0 2px 0; border: 0; background-color:inherit; text-align:center;  }

/* ------------------ form element ---------------------------------------- */
input, select, textarea	{margin: 2px; padding: 0; border: 1px solid black; background-color:#FFFFFF; }			
option          {margin: 0; padding: 0; border: 0;  }
*.formel        {color:#000000; background-color:#FFFFFF; font-size: 1em ; border:1px solid #000000; margin:1px;  }
*.forme2        {color:#000000; background-color:#FFFFFF; border: 1px solid white; margin:0;padding:0;text-decoration: underline; font-weight: normal;font-family: arial,verdana,helvetica,sans-serif;}
*.forme2:hover  {color:#FFCC00; background-color:#FFFFFF; border:0; margin:0;padding:0;text-decoration: underline; font-weight: normal;font-family: arial,verdana,helvetica,sans-serif;}
span.formlabel {display:inline;
				float: left;
				width: 11em;   
				text-align:right;
				padding:2px;}
label.formlabel {display:inline;
				float: left;
				width: 11em;   
				text-align:right;
				padding:2px;}
label.WBformlabel {display:block;
				text-align:left; }
label.formlabellong {display:inline;
				float: left;
				width: 18em;   
				text-align:right;
				padding:2px;}
fieldset { border:1px solid black;
          margin-bottom:10px;
         }
legend { color: #000000;
		background: #FFFFFF;
		border: 1px solid black;
		padding: 2px 6px;
		margin: 6px;
}
/* ------------------------------------------------------------------------ */
strong	{ font-weight:bold; }
em		{ font-style:italic; }
ul			{ text-align:left; margin-left:18px; margin-bottom:5px;}
ul.menubox	{ list-style-type:none;text-align:left; margin:0; padding:0 0 0 25px; }
li.menubox	{ background-image:url(puce-handicap.gif); 
	background-position:left;
	background-repeat:no-repeat;
	padding-left:7px;
}

ol				{text-align:left; margin-left:18px; margin-bottom:5px; counter-reset: olcnt; list-style-type:none; }
ol li:before	{text-align:left; counter-increment: olcnt;  content: counters(olcnt,".") " - "; }

dt {text-align:left; color:#003366; list-style-type:none; font-weight: bold}
dd {text-align:left; 
    margin: 0px 0px 5px 22px; 
    padding-left: 2px;
    border-left:1px solid #003366;
}

p        {margin-top:2px; margin-bottom:5px; }
p.shrink {margin-top:2px; margin-bottom:2px; }

table {border:1px solid black;
		padding:1px;
		font-size:0.9em;
}
th {border-bottom:1px solid black;
		padding:1px;
		font-size:0.7em;
}


table.dataA { margin:auto;width:90%;
              border:1px solid black       ; padding:1px; font-size:1.0em; background-color:#FFFFFF; }
tr.dataA    { border-bottom:1px solid black; padding:2px; font-size:1.0em; background-color:#FFFFFF; }
tr.dataA1   { border-bottom:1px solid black; padding:2px; font-size:1.0em; background-color:#FFFFFF; }
tr.dataA2   { border-bottom:1px solid black; padding:2px; font-size:1.0em; background-color:#DDDDDD; }

tr.dataA1 > td { padding:1px; }
tr.dataA2 > td { padding:1px; }
tr.dataA  > th { border-bottom:1px solid black; padding:1px; font-size:1.0em; font-weight: bold}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

#main-container{  
	margin:0px auto 0px auto; 
	text-align:left; 
	/*
	max-width:950px; 
	min-width:700px;  
	*/
}


#content-container { 
	padding: 0px 0px 10px 0px; 
	border:  0px solid #EA8B2E;
	color: #000000;
	background: #FFFFFF ;
	text-align: left;
	/*
	margin: 20px 0px 10px -375px; 
	left: 50%;
	width: 755px;
	background: #003366 url(http://www.handica.com/images/baspage0.gif) no-repeat 0% 100% ;
	*/
}

.clear {
    clear: both;
    display: block;
    height: 0px;
    overflow: hidden;
    margin: 0; padding: 0; border: 0px;
}

/* ------------------------------------------------------------------------ 
 * Aide
 * ------------------------------------------------------------------------ */

#aide        { display:none; }
#aide input  { display:none; }
#aide select { display:none; }
#aide form   { display:none; }
#aide label  { display:none; }
#aide p      { display:none; }


/* ------------------------------------------------------------------------ 
 * Header section
 * ------------------------------------------------------------------------ */
#headerbox { 
	margin: 0 ; 
	padding: 0px 0px 0px 3px; 
	background-color:#FFFFFF;  /* #003366 */
	color:#000000;
	border: 0 solid #CC0000;
	text-align:right;
}
#headermainmenu {
	font-size:0.8em;
	color:#999999;
	background-color:#FFFFFF;
	border:0;
	margin:0;
	padding:0;
	text-align:left;
}
#logo { }

.headerttl { border:0;padding:0;margin:0; width:5em; color:#FB6900;display:inline;font-weight: bold  ;}

/* ------------------------------------------------------------------------ 
 * Content wrapper
 * ------------------------------------------------------------------------ */
#contenu { 
		margin: 0px 0px 0px 0px; 
		padding: 0px 0px 0px 0px; 
		color:#000000;
		border:0px  solid #CC0000;
		background: #FFFFFF; /* url(http://www.handica.com/images/fond_tri.gif) repeat 0% 0% ; */
		text-align:left;
}

/* ************************************************************************
 * MAIN PAGE STYLES
 * ************************************************************************ */

/* Left wrapper -------------------------------------------------------------- */
/* Used when there is a left menu  */
#leftwrapper { display:none; }
/* ------------------------------------------------------------------------ 
 * Main section wrapper
 * ------------------------------------------------------------------------ */
#txtleft { 
		width: 580px;
		margin:3px;
		float:left; 
		/*
		width: 580px;
		margin:3px 400px 3px 3px;
		*/
		padding: 0px 5px 10px 3px; 
		background-color:#FFFFFF;
		color:#000000;
		text-align:left;
		border:0 solid #CDCDCD;

}

.editobox { 
		margin: 3px; 
		padding: 0px;
		background-color:#FFFFFF;  /* #003366 */
		color:#000000;
		border: 1px  solid #CDCDCD;
		text-align:left;
}

h2.editoboxtitle { 
		margin: 0; 
		padding: 0 0 0 2px; 
		background: #FFFFFF url(fond-degrade-gris.gif) repeat-x 0% 100% ;
		color:#003366; /* #FFFFFF; */
		border:0;
		text-align:left;
		/* ---------------------------- */
		font-size: 0.8em;
	/* text-transform: uppercase */
}
.editoboxbody { 
	margin: 0px; 
	padding: 0px 0px 2px 12px; 
	background-color: #FFFFFF;
	color:#000000;
	border:0;
	text-align:left;
	/* ---------------------------- */
	font-size: 0.8em;
}

.mainleftbox { display:none }

div.mainleftboxtitle { display:none; }

div.mainleftboxelementtitle         { display:inline; margin: 0; padding: 0px 3px 0px 3px; border-right:1px solid #CDCDCD; border-left:1px solid #CDCDCD; border-top:0;border-bottom:0; color:#003366; text-align:left; background: #FFFFFF url(fond-degrade-gris.gif)         repeat-x top left ; }
div.mainleftboxelementtitleinverse  { display:inline; margin: 0; padding: 0px 3px 0px 3px; border-right:1px solid #CDCDCD; border-left:1px solid #CDCDCD; border-top:0;border-bottom:0; color:#003366; text-align:left; background: #FFFFFF url(fond-degrade-gris-inverse.gif) repeat-x top left ; }

div.mainleftboxelement         {margin: 0;padding-top: 12px;padding-bottom: 4px; border:0px solid red;}


h2.mainleftboxelementtitle { display:inline; margin: 0; padding: 0; border:0; color:#003366; text-align:left; }
p.mainleftboxelementtitle  { display:inline; margin: 0; padding: 0; border:0; color:#003366; text-align:left; }

.h2link:link   { color:#003366; background-color:inherit; text-decoration: none     ; font-weight: normal; font-size: 1.0em;}
.h2link:visited{ color:#003366; background-color:inherit; text-decoration: none     ; font-weight: normal; font-size: 1.0em;}
.h2link:hover  { color:#003366; background-color:inherit; text-decoration: underline; font-weight: bold  ; font-size: 1.0em;}



.mainleftboxbody { 
	margin: 0px; 
	padding: 0px 0px 2px 12px; 
	background-color: #FFFFFF;
	color:#000000;
	border:0px  solid #CC0000;
	text-align:left;
	/* ---------------------------- */
	font-size: 0.8em;
}






/* ------------------------------------------------------------------------ 
 * Right menu
 * ------------------------------------------------------------------------ */

#rightmenu { 
		float:right;
		width: 340px;
		/*
		position:relative; 
		top:0px;
		right:0px;
		float:right;
		*/
		padding: 0px 0px 0px 2px; 
		background-color:#FFFFFF;  /* #003366 */
		color:#FFFFFF;
		border:0px solid #CDCDCD;
		margin:3px;
		text-align:left;
}

.rightbox      { margin: 3px; padding: 0px; color:#000000; background-color:#FFFFFF;  border: 1px solid #CDCDCD; text-align:left; }
.rightboxblue  { margin: 3px; padding: 0px; color:#000000; background-color:#000099;  border: 1px solid #CDCDCD; text-align:left; }
.rightboxgreen { margin: 3px; padding: 0px; color:#000000; background-color:#006600;  border: 1px solid #CDCDCD; text-align:left; }
.rightboxred   { margin: 3px; padding: 0px; color:#000000; background-color:#CC0000;  border: 1px solid #CDCDCD; text-align:left; }

.rightboxtitle       { text-align:left; font-size: 0.8em; margin:0; border:0; padding: 0px 0px 0px 3px; color:#003366; background: #FFFFFF url(fond-degrade-gris.gif)  repeat-x 0% 100% ; }
.rightboxtitleblue   { text-align:left; font-size: 0.8em; margin:0; border:0; padding: 0px 0px 0px 3px; color:#FFFFFF; background: #000099 url(fond-degrade-bleu.gif)  repeat-x 0% 100% ; }
.rightboxtitlegreen  { text-align:left; font-size: 0.8em; margin:0; border:0; padding: 0px 0px 0px 3px; color:#FFFFFF; background: #006600 url(fond-degrade-vert.gif)  repeat-x 0% 100% ; }
.rightboxtitlered    { text-align:left; font-size: 0.8em; margin:0; border:0; padding: 0px 0px 0px 3px; color:#FFFFFF; background: #CC0000 url(fond-degrade-rouge.gif) repeat-x 0% 100% ; }

.rightboxbody      { text-align:left; font-size: 0.8em; margin: 0; border:0; padding: 0px 0px 2px 12px; color:#000000; background-color: #FFFFFF; }
.rightboxbodyblue  { text-align:left; font-size: 0.8em; margin: 0; border:0; padding: 0px 0px 2px 12px; color:#FFFFFF; background-color: #000099; }
.rightboxbodygreen { text-align:left; font-size: 0.8em; margin: 0; border:0; padding: 0px 0px 2px 12px; color:#FFFFFF; background-color: #006600; }
.rightboxbodyred   { text-align:left; font-size: 0.8em; margin: 0; border:0; padding: 0px 0px 2px 12px; color:#FFFFFF; background-color: #CC0000; }


div.focus     {float:left;position:relative; width:140px;padding:4px;text-align:center;}
div.longfocus {float:left;position:relative; width:310px;padding:4px;text-align:center;}
div.focuslink {float:left;position:relative; width:12px; padding:0;  text-align:center;}

/* ************************************************************************
 * INNER PAGES STYLES
 * ************************************************************************ */

#inner_box { width:100%; }

#inner_txt {
	text-align:left;
	margin:3px;
	border:1px solid #CDCDCD;
	padding:15px;
	background: #FFFFFF url(fond-degrade-gris.gif) repeat-x top left ;
	font-size: 0.8em;
	/*
	width:80%;
	*/
}

#inner_menu       { display:none; }
#inner_search_box { display:none; }
#inner_search     { display:none; }



/* ------------------------------------------------------------------------ 
 * Footer area
 * ------------------------------------------------------------------------ */
#partners   { display:none; }
#footer     { display:none; }
#lastfooter { 
		color:#000000;
		background:#FFFFFF;
		border:0px  solid #003163;
		text-align:center;
		font-size: 0.7em;
}
#bandeau {}
#innerfooter  { text-align:center; font-size: 0.7em; margin: 4px 0px 0px 0px;}

.prdlistdiv { float:left;position:relative;width:100%;margin-bottom:3px; border-bottom:1px black dashed;padding-bottom:2px;}
.prdlistimg { float:left;position:relative;margin-right:2px;}


/* ------------------------------------------------------------------------ 
 * 
 * ------------------------------------------------------------------------ */

.comment    { display:none; }
#hndccmtfrm { display:none; }

.pub_h { display:none; }
.pub_v { display:none; }
.pub_t { display:none; }

.pubinfo    {float:right;position:relative;  width:95%;margin:4px 2px 4px 10px; padding:2px; background-color:#CCCC99; border:1px solid #0066AA;}
.pubinfotxt {margin:0; }
.pubinfoimg {float:left;position:relative; margin:0 3px 0 0; }

h1 {color:#00B5E7	;  /* #000099 */
	/*
	width:80%;	
	*/
	background:#FFFFFF;
	font-size: 0.9em;
	display:block;
	text-align:center;
	border-top:1px solid #CDCDCD;	
	border-bottom:1px solid #CDCDCD;	
	margin: 1px 3px 1px 3px;
}

h2 { display: block;
	margin : 4px 4px 4px 4px ;
	border-bottom:1px  solid #0066AA;
	font-size: 0.9em;
	color:#FF6600;
	text-align:center;
}
h2.white { display: block;
		margin : 0px 4px 4px 4px ;
		border-bottom:1px  solid #FF6600;
		font-size: 1.0em;
		color:#FFFFFF;
		text-align:center;
}

h3 {display: block;
	margin : 0px 4px 4px 4px ;
	border-bottom:0px  solid #0066AA;
	font-size: 1.2em;
	font-weight: bold;
	color:#FF6600;
}

h3.edito { padding-top:5px;padding-right:30px;background-color: #FFFFFF; }
h3.actu  { padding-top:5px;padding-right:30px;background-color: #FFFFFF; }
h3.loupe { padding-top:5px;padding-right:30px;background-color: #FFFFFF; }
h3.corp  { padding-top:5px;padding-right:30px;background-color: #FFFFFF; }
h3.pubinfo  {padding:2px 0px 2px 0px; margin:2px 0px 2px 0px;}

/*
h4         {display: block;	margin : 10px 2px 4px 4px ; padding-left:12px; font-size: 1.0em; color:#003366;background: #FFFFFF url(http://handica/www/images/bt-gt-blue.gif) no-repeat 0% 0% }
*/
h4         {display: block;	margin : 2px 2px 4px 4px ; font-size: 1.0em; color:#003366; }
h4.pubinfo {display: block;	margin : 2px ;	font-size: 1.0em; color:#003366; }

h5 {display: inline; margin : 10px 2px 4px 4px ; font-size: 1.0em; color:#003366; }

.nouveau { color:#FF6600; background:#FFFFFF; font-size: 1.0em ;
		   border-left:1px solid #FF6600;
		   border-bottom:1px solid #FF6600;
		   margin:1px 2px 0px 0px; font-weight: bold;   }

table.tblspeedlink	{ font-size:0.7em; border:1px solid black; padding:1px;  }
th.tblspeedlink		{ font-size:  1em; border-bottom: 1px solid black; padding:1px; font-size:1em; }
tr.tblspeedlink1	{ font-size:  1em; background-color:#CCCCCC; }
tr.tblspeedlink2	{ font-size:  1em; background-color:#FFFFFF; }

.illus		{ float:left; position:relative;  margin:2px; }
.ariane		{ font-size:0.7em; }
.speedlink	{ font-size:0.7em; }
.dateinfo	{ font-size:0.7em; }

a:hover{ color:#FF6600;}
a.h4link:link   { color:#003366; text-decoration: none;}
a.h4link:visited{ color:#003366; text-decoration: none;}
a.h4link:hover  { color:#FF6600; text-decoration: none;}

h4 a:link   { color:#003366; text-decoration: none;}
h4 a:visited{ color:#003366; text-decoration: none;}
h4 a:hover  { color:#FF6600; text-decoration: none;}

h5 a:link   { color:#003366; text-decoration: none;}
h5 a:visited{ color:#003366; text-decoration: none;}
h5 a:hover  { color:#FF6600; text-decoration: none;}

.blacklink:link   { color:#000000; background-color:inherit; text-decoration: none     ; font-weight: normal}
.blacklink:visited{ color:#000000; background-color:inherit; text-decoration: none     ; font-weight: normal}
.blacklink:hover  { color:#FB6900; background-color:inherit; text-decoration: underline; font-weight: normal}

.whitelink:link   { color:#FFFFFF; background-color:inherit; text-decoration: underline; font-weight: normal}
.whitelink:visited{ color:#FFFFFF; background-color:inherit; text-decoration: underline; font-weight: normal}
.whitelink:hover  { color:#FB6900; background-color:inherit; text-decoration: underline; font-weight: normal}


.bluelink:link   { color:#000099; background-color:inherit; text-decoration: none     ; font-weight: normal}
.bluelink:visited{ color:#000099; background-color:inherit; text-decoration: none     ; font-weight: normal}
.bluelink:hover  { color:#FB6900; background-color:inherit; text-decoration: underline; font-weight: normal}

.lienclair:link   { color:#FFFFFF; background-color:inherit; text-decoration: underline; font-weight: normal}
.lienclair:visited{ color:#FFFFFF; background-color:inherit; text-decoration: underline; font-weight: normal}
.lienclair:hover  { color:#FFCC00; background-color:inherit; text-decoration: underline; font-weight: normal}

.lienclair2:link   { color:#FFFFFF; background-color:inherit; text-decoration: none;      font-weight: normal}
.lienclair2:visited{ color:#FFFFFF; background-color:inherit; text-decoration: none;      font-weight: normal}
.lienclair2:hover  { color:#FFCC00; background-color:inherit; text-decoration: underline; font-weight: normal}


p.liennavhaut { display:none;}

a:link    {	color: #000000;text-decoration:underline; padding-right:2px;background-color: inherit }
a:visited {	color: #000000;text-decoration:underline; padding-right:2px;background-color: inherit }
a:hover   {	color: #FF6600;text-decoration:underline; padding-right:2px;background-color: inherit }

a.hiddenspeedlink:link    {	font-size:0.7em; color: #FFFFFF;text-decoration:underline; padding-right:2px;background-color: inherit }
a.hiddenspeedlink:visited {	font-size:0.7em; color: #FFFFFF;text-decoration:underline; padding-right:2px;background-color: inherit }
a.hiddenspeedlink:hover   {	font-size:0.7em; color: #FF6600;text-decoration:underline; padding-right:2px;background-color: inherit }



a.liennavhaut:link    {	color: #000000; font-size:0.8em;border-right:1px solid #FF6600; border-bottom:1px solid #FF6600;text-decoration:none; padding-right:2px;background: #FFFFFF url(haut_orange.gif) no-repeat 100% 0% }
a.liennavhaut:visited {	color: #000000;font-size:0.8em; border-right:1px solid #FF6600; border-bottom:1px solid #FF6600;text-decoration:none; padding-right:2px;background: #FFFFFF url(haut_orange.gif) no-repeat 100% 0% }
a.liennavhaut:hover   {	color: #FF6600;font-size:0.8em; border-right:1px solid #FF6600; border-bottom:1px solid #FF6600;text-decoration:none; padding-right:2px;background: #FFFFFF url(haut_orange.gif) no-repeat 100% 0% }

/* *****************************
 * Modif WYSIWIG - 2007-07-23
 * ***************************** */
span.strongorange  {font-weight: bold; font-style: normal; color: #FF6600; background-color: #FFFFFF; }
span.strongblue    {font-weight: bold; font-style: normal; color: #000066; background-color: #FFFFFF; }
/* ***************************** */



.partner { 
        background:#FFFFFF;
		margin-top:2px;
		padding-bottom:10px;
		text-align:center;
}

/* ------------------------------------------------------------------------ 
 * EMPLOI
 * ------------------------------------------------------------------------ */

.gestion_cv_block {
	margin-top:8px;
	padding-top:8px;
	width:33%;
	clear: none;
	float: left ;
	margin-left:auto;
	margin-right:auto;
}

.gestion_cv_block_image {
	margin-left:10px;
	width:15%;
	float: left ;
}
.gestion_cv_block_text {
	width:75%;
	clear: none;
	float: left ;
}
/* Content area ----------------------------------------------------------- */





