
/* *** BEGIN FILE:/templates/css/1/metro.css *** */
* {
	margin:0px;
	padding:0px;
}
body {
	padding:5px 0px;
	background:#fff;
	text-align:center;
}

#top-banner{
	margin:auto;
}


#ad0 {
  margin-bottom: 0px;
}


#ad11 {
  float: right;
  padding: 15px 0px 20px 15px;
  margin: 0;
  width: 310px;
}

#ad11 div.ad-msg {
  background-color: #CBCBCB;    
}

#ad11 div.ad-msg span.ad-msg {
  color: #444;
}

#ad11_rectangle {
  padding: 0 5px 5px 5px;
  background-color: #CBCBCB;
}

#wrapper {
	text-align:left;
	margin:0 auto;
	width:1000px;
	float:left
}
#content {
	width:998px;
	background-color: white;
	margin: 0 1px;
}

.regional-homepage {
	height:572px;
	background:transparent url('regional-homepage-bg.gif') no-repeat top left;
}

div#banner {
        clear:         both;
        width:         1000px;
}

#article-heading {
	margin-left:20px !important;
	margin-left:10px;
	float:left;
	width:730px;
}
.col-179 {
	float:left;
	display:inline;
	width:179px;
}
.col-373 {
	float:left;
	display:inline;
	width:373px;
}
.col-567 {
	float:left;
	display:inline;
	width:567px;
}
.col-761 {
	float:left;
	display:inline;
	width:761px;
}
#article-col-1 {
	float:left;
	margin-left:20px !important;
	margin-left:10px;
	width:530px;
}
#index-col-1 {
	float:left;
	margin-left:20px !important;
	margin-left:10px;
	width:582px;
}
#index-179-col {
	float:left;
	margin-right:15px;
	width:179px;
}
#index-col-2-wide {
	float:left;
	margin-right:14px;
	width:338px;
}
#article-col-2, #index-col-2, #article-col-3, #index-col-3 {
	float:left;
	width:180px;
	margin-left:15px;
}
#article-col-2-wide {
	float:left;
	margin-left:15px;
	width:375px;
}
.media-bg-1 {
	background:transparent url(media-template-bg-1.gif) no-repeat 0px 159px;
}
.media-bg-2 {
	background:transparent url(media-template-bg-2.gif) no-repeat 0px 1200px;
}
.regional-homepage-dropdown {
	position:relative;
	top:15px; 
	left:350px; 
	width:500px;
}
/*** CLEAR, DISPLAYS & FLOATS ***/
.clear {
	clear:both;
}
.clear-simple {
	overflow:hidden;
	clear:both;
	height:1px;
	margin:-1px 0px 0px 0px;
	font-size:1px;
}
.clear-left {
	clear:left;
}
.float-left {
	float:left;
}
.float-right {
	float:right;
}
.text-center{
	text-align:center;
}
.text-right {
	text-align:right;
}
.text-left {
	text-align:left;
}
.display-block {
	display: block;
}
/*** WIDTHS ***/
.width-45 {
	width: 45px;
}
.width-70 {
	width:70px;
}
.width-80 {
	width:80px;
}
.width-85 {
	width:85px;
}
.width-114 {
	width:114px;
}
.width-120 {
	width:120px;
}
.width-124 {
	width:124px;
}
.width-127 {
	width:127px;
}
.width-132 {
	width:132px;
}
.width-137 {
	width:137px;
}
.width-140 {
	width:140px;
}
.width-145 {
	width:145px;
}
.width-148 {
	width:148px;
}
.width-150 {
	width:150px;
}
.width-157 {
	width:157px;
}
.width-158 {
	width:158px;
}
.width-160 {
	width:160px;
}
.width-161 {
	width:161px;
}
.width-162 {
	width:162px;
}
.width-169 {
	width:169px;
}
.width-170 {
	width:170px;
}
.width-174 {
	width:174px;
}
.width-177 {
	width:177px;
}
.width-178 {
	width:178px;
}
.width-179 {
	width:179px;
}
.width-180 {
	width:180px;
}
.width-185 {
	width:185px;
}
.width-190 {
	width:190px;
}
.width-200 {
	width:200px;
}
.width-210 {
	width:210px;
}
.width-230 {
	width:230px;
}
.width-235 {
	width:235px;
}
.width-240 {
	width:240px;
}
.width-260 {
	width:260px;
}
.width-266 {
	width:266px;
}
.width-271 {
	width:271px;
}
.width-281 {
	width: 281px;
}
.width-290 {
	width: 290px;
}
.width-292 {
	width: 292px;
}
.width-325 {
	width:325px;
}
.width-330 {
	width:330px;
}
.width-338 {
	width:338px;
}
.width-351 {
	width:351px;
}
.width-353 {
	width:353px;
}
.width-365 {
	width:365px;
}
.width-371 {
	width:371px;
}
.width-372 {
	width:372px;
}
.width-373 {
	width:373px;
}
.width-373-1column {
	width:180px;
}
.width-373-3column {
	width:580px;
}
.width-375 {
	width:375px;
}
.width-377 {
	width:377px;
}
.width-390 {
	width: 390px;
}
.width-425 {
	width: 425px;
}
.width-445 {
	width: 445px;
}
.width-526 {
	width: 526px;
}
.width-530 {
	width:530px;
}
.width-540 {
	width:540px;
}
.width-557 {
	width:557px;
}
.width-560 {
	width:560px;
}
.width-564 {
	width:564px;
}
.width-565 {
	width:565px;
}
.width-566 {
	width:566px;
}
.width-567 {
	width:567px;
}
.width-567 {
	width:567px;
}
.width-710 {
	width:710px;
}
.width-760 {
	width: 760px;
}
.width-956 {
	width:956px;
}
.width-989 {
	width:989px;
}
/*** HEIGHTS ***/
.height-54 {
	height:65px;
}
.height-219 {
	height:219px;
}
.height-380 {
	min-height:380px;
	height:380px;
}
/*** PADDINGS ***/
.padding-1 {
	padding:1px;
}
.padding-4 {
	padding:4px;
}
.padding-5 {
	padding:5px;
}
.padding-10 {
	padding:10px;
}
.padding-15 {
	padding:15px;
}
.padding-lr-10 {
	padding:0px 10px;
}
.padding-trb-10-l5 {
	padding:10px 10px 10px 5px;
}
.padding-t10-r15-b10-l10 {
	padding:10px 15px 10px 10px;
}
/* Top paddings */
.padding-top-1 {
	padding-top:1px;
}
.padding-top-2 {
	padding-top:2px;
}
.padding-top-3 {
	padding-top:3px;
}
.padding-top-4 {
	padding-top:4px;
}
.padding-top-5 {
	padding-top:5px;
}
.padding-top-6 {
	padding-top:6px;
}
.padding-top-7 {
	padding-top:7px;
}
.padding-top-8 {
	padding-top:8px;
}
.padding-top-10 {
	padding-top:10px;
}
.padding-top-12 {
	padding-top:12px;
}
.padding-top-14 {
	padding-top:14px;
}
.padding-top-15 {
	padding-top:15px;
}
/* Bottom paddings */
.padding-bottom-3 { 
	padding-bottom:3px;
}
.padding-bottom-4 { 
	padding-bottom:4px;
}
.padding-bottom-5 {
	padding-bottom:5px;
}
.padding-bottom-5ie {
	* padding-bottom:5px;
}
.padding-bottom-7 {
	padding-bottom:7px;
}
.padding-bottom-10 {
	padding-bottom:10px;
}
.padding-bottom-12 {
	padding-bottom:12px;
}
.padding-bottom-15 {
	padding-bottom:15px;
}
.padding-bottom-20 {
	padding-bottom:20px;
}
.padding-bottom-70 {
	padding-bottom:70px;
}
/* Left paddings */
.padding-left-3 {
	padding-left:3px;
}
.padding-left-4 {
	padding-left:4px;
}
.padding-left-5 {
	padding-left:5px;
}
.padding-left-6 {
	padding-left:6px;
}
.padding-left-9 {
	padding-left:9px;
}
.padding-left-10 {
	padding-left:10px;
}
.padding-left-15 {
	padding-left:15px;
}
.padding-left-20 {
	padding-left:20px;
}
.padding-left-30 {
	padding-left:30px;
}
.padding-left-25 {
	padding-left:25px;
}
.padding-left-45 {
	padding-left:45px;
}
.padding-left-179 {
	padding-left:179px;
}
/* Right Paddings */
.padding-right-5 {
	padding-right:5px;
}
.padding-right-10 {
	padding-right:10px;
}
/* Specific paddings */
.padding-lr-10-l3ie {
	padding-right:10px;
	padding-left:10px;
	* padding-left:3px;
}
.padding-left-10-5ie {
	padding-left:10px;
	* padding-left:5px;
}
.padding-bottom-12-4ie {
	padding-bottom:12px;
	* padding-bottom:4px;
}
.padding-bottom-6ie {
	* padding-bottom:6px;
}
.padding-bottom-8ff-1ie {
	padding-bottom:8px;
	* padding-bottom:1px;
}
.padding-tlr-10 {
	padding:10px 10px 0px 10px;
}
.padding-t15-lr10 {
	padding:15px 10px 0px 10px;
}
.padding-tl-15 {
	padding:15px 0px 0px 15px;
}
.padding-t20-r10-b5-l50 {
	padding:20px 10px 5px 50px;
}
.logo-padding {
	padding: 2px 0px 0px 19px;
}
.primary-nav-padding {
	padding:8px 10px 5px 10px;
}
.submit-your-voice-padding {
	padding:11px 10px 15px 10px;
}
.masthead-padding {
	padding-bottom:10px !important;
	padding-bottom:0px;
}
.photo-gallery-padding {
	padding:5px 5px 20px 5px;
}
.article-module-padding-left {
	padding: 13px 15px 15px 0px;
}
.article-module-padding-right {
	padding: 13px 0px 15px 15px;
}
/*** BORDERS ***/
.border-dotted-top-bot-62991F {
  border-top: 1px dotted #62991F;
  border-bottom: 1px dotted #62991F;	
}
.border-dotted-bottom-62991F {
	border-bottom:1px dotted #62991F;
}
.border-dotted-top-62991F {
	border-top:1px dotted #62991F;
}
.border-bot-62991F {
	border-bottom: 1px solid #62991F;
}
.border-left-bot-62991F {
	border-left: 1px solid #62991F;
	border-bottom: 1px solid #62991F;	
}
.border-right-bot-62991F {
	border-right: 1px solid #62991F;
	border-bottom: 1px solid #62991F;	
}
.border-1px-666 {
	border: 1px solid #666;
}
.border-solid-ccc {
	border:5px solid #ccc;
}
.border-1px-cff200 {
	border:1px solid #cff200;
}
.border-1px-afd318 {
	border:1px solid #d1f400;
}
.border-5px-afd318 {
	border:5px solid #d1f400;
}
.border-5-lr-d1f400 {
	border-right:5px solid #d1f400;
	border-left:5px solid #d1f400;
}
.border-trl-5px-afd318 {
	border-top:5px solid #d1f400;
	border-right:5px solid #d1f400;
	border-left:5px solid #d1f400;
}
.border-10-afd318 {
	border:10px solid #afd318;
}
/*** Z INDEX ***/
.z-index-0 {
	z-index:0;
}
.z-index-9000 {
	z-index:9000;
}
/* Dotted lines */
.dotted-line-180 {
	background: url('dotted-line-180.gif') no-repeat top left;
	height:7px;
}
.dotted-line-180-2 {
	background: url('dotted-line-180-2.gif') no-repeat top left;
	height:7px;
}
.dotted-line-375 {
	background: url('dotted-line-375.gif') no-repeat top left;
	height:7px;
}
/*** MARGINS ***/
.margin-top-10 {
	margin-top:10px;
}
.margin-right-neg-5 {
	margin-right:-5px;
}
.margin-right-neg-15 {
	margin-right:-15px;
}
.margin-right-30-15 {
	margin-right:30px !important;
	margin-right:15px;
}
.margin-right-15-7ie {
	margin-right:15px !important;
	margin-right:7px;
}
.margin-right-15-ie-0 {
	margin-right:15px !important;
	margin-right:0px;
}
.margin-left-15-ie12 {
	margin-left:15px !important;
	margin-left:12px;
}
.margin-top-ie-neg-13 {
	margin-top:0px !important;
	* margin-top:-13px;
}
.margin-right-4 {
	margin-right:4px;
}
.margin-right-5 {
	margin-right:5px;
}
.margin-right-7 {
	margin-right:7px;
}
.margin-right-10 {
	margin-right:10px;
}
.margin-right-11 {
	margin-right:11px;
}
.margin-right-14 {
	margin-right:14px;
}
.margin-right-15 {
	margin-right:15px;
}
.margin-right-16 {
	margin-right:16px;
}
.margin-right-30 {
	margin-right:30px;
}
.margin-left-5 {
	margin-left:5px;
}
.margin-left-7 {
	margin-left:7px;
}
.margin-left-10 {
	margin-left:10px;
}
.margin-left-14 {
	margin-left:14px;
}
.margin-left-15 {
	margin-left:15px;
}
.margin-left-16 {
	margin-left:16px;
}
.margin-left-19 {
	margin-left:19px;
}
.margin-left-20 {
	margin-left:20px;
}
.margin-left-179 {
	margin-left:179px;
}
.margin-left-186 {
	margin-left:186px;
}
.margin-left-245 {
	margin-left:245px;
}
.margin-10trb-20l {
	margin:10px 10px 10px 20px;
}
.margin-top-neg-34 {
	margin-top:-34px;
}
.margin-top-neg-17 {
	margin-top:-17px;
}
.margin-bottom-neg-10 {
	margin-bottom:-10px;
}
.margin-right-neg-10 {
	margin-right:-10px;
}
/* BACKGROUND COLOURS */
.bg-fcf6c8 {
	background-color:#fcf6c8;
}
.bg-fff {
	background-color:#fff;
}
.bg-ccc {
	background-color:#ccc;
	display:block;
}
.bg-ccff00 {
	background-color:#ccff00;
}
/*** Forms ***/
input {
	position:relative;
	top:-2px;
	* top:2px; /* For IE Browsers */
}
.border-1-ccc {
	border:#ccc 1px solid;
}
.form-link-pos {
	position:relative;
	top:0px;
	* top:4px; /* For IE Browsers */
}
.terms-check-pos {
	position:relative;
	top:2px;
	* top:-2px;
}
.top-5 {
	top:5px;
}
.top-2 {
	top:2px;
}
.top-10 {
	top:10px;
}
.left-5 {
	left:5px;
}
.radio-label-pos {
	position:relative;
	top:-5px;
	* top:0px;
}
.radio-pos {
	position:relative;
	top:3px;
	* left:-5px; /* For IE broswers */
}
.check-pos {
	position:relative;
	top:-5px;
	* top:2px;
	margin-bottom:-5px;
	* margin-bottom:0px;	
	* left:-2px;
}
textarea {
	position:relative;
	border:#ccc 1px solid;
	left:0px !important;
	* left:-3px; /* For older IE browsers */
	* margin-right:-3px;
}
textarea.scrolling {
	* background:#fff url('form-scroll-border.gif') repeat-y top right;
}
textarea.width-384 {
	width:386px;
	* width:384px !important; /* For IE7 */
	* width:386px; /* For IE 5 & 6 */
}
form {
scrollbar-base-color: #fff;
scrollbar-arrow-color: #000;
scrollbar-track-color: #fff;

scrollbar-shadow-color:#fff;
scrollbar-lightshadow-color:#fff;
scrollbar-darkshadow-color:#fff;

scrollbar-highlight-color:#fff;
scrollbar-3dlight-color:#fff;
}
.browse-pos {
	position:relative;
	top:-5px;
	* top:0px;
}
.form-but-pos {
	position:relative;
	top:-5px;
}
/*** Buttons ***/
.green-button-left {
	float:left;
	background:transparent url(btn2-green-left-6x23-new.gif) no-repeat top left;
	width:6px;
	height:23px;
}
.green-button-mid a {
	float:left;
	background:transparent url(btn2-green-mid-1x23-new.gif) repeat-x top left;
	height:23px;
	line-height:2em;
	padding:0px 5px;
	color:#fff;
	text-align:center;
}
.green-button-right {
	float:left;
	background:transparent url(btn2-green-right-6x23-new.gif) no-repeat top left;
	width:6px;
	height:23px;
}
.lime-button-left {
	float:left;
	background:transparent url(btn-lime-left-4x23.gif) no-repeat top left;
	width:4px;
	height:23px;
}
.lime-button-mid a {
	float:left;
	background:transparent url(btn-lime-mid-4x23.gif) repeat-x top left;
	height:23px;
	line-height:1.9em;
	padding:0px 5px;
	color:#fff;
	text-align:center;
}
.lime-button-mid a:hover {
	color:#285600;
}
.lime-button-right {
	float:left;
	background:transparent url(btn-lime-right-4x23.gif) no-repeat top left;
	width:4px;
	height:23px;
}
/*** IMAGES AND IMAGE MASKS ***/
img {
	border:0px;
}
.img-mask {
	position:absolute;
	top:0px;
	left:0px;
}
/* Image mask sizes */
.size-72x47 {
	background:transparent url(height-47-mask.png) no-repeat top right !important;
	background:transparent url(height-47-mask.gif) no-repeat top right;
	width:72px;
	height:47px;
}
.size-72x54blog {
	background:transparent url(http://www.metrofrance.com/templates/img/img-masks/height-54-blog-mask.png) no-repeat top right !important;
	background:transparent url(http://www.metrofrance.com/templates/img/img-masks/height-54-blog-mask.gif) no-repeat top right;
	width:72px;
	height:54px;
}
.size-128x128 {
	background:transparent url(height-128-mask.png) no-repeat top right !important;
	background:transparent url(height-128-mask.gif) no-repeat top right;
	width:128px;
	height:128px;
}
.size-128x128blog {
	background:transparent url(height-128-blog-mask.png) no-repeat top right !important;
	background:transparent url(http://www.metrofrance.com/templates/img/img-masks/height-128-blog-mask.gif) no-repeat top right;
	width:128px;
	height:128px;
}
.size-148x73 {
	background:transparent url(height-73-mask.png) no-repeat top right !important;
	background:transparent url(height-73-mask.gif) no-repeat top right;
	width:148px;
	height:73px;
}
.size-179x134 {
	background:transparent url(height-135-mask.png) no-repeat top right !important;
	background:transparent url(height-135-mask.gif) no-repeat top right;
	width:179px;
	height:134px;
}
.photo-teaser-size-179x134 {
	background:transparent url('photo-teaser-mask-179x134.png') no-repeat top right !important;
	background:transparent url('photo-teaser-mask-179x134.gif') no-repeat top right;
	width:179px;
	height:134px;
}
.video-teaser-mask-179x134 {
	background:transparent url('video-teaser-mask-179x134.png') no-repeat top left !important;
	background:transparent url('video-teaser-mask-179x134.gif') no-repeat top left;
	width:179px;
	height:134px;
}
/*** Module Specific ***/
#global-nav {
	padding:10px 14px 0px 0px;
	float:right;
	height:3.4em;
	background:transparent url('global-nav-bg.gif') no-repeat 0px 10px;
}
.global-nav-container {
	width:745px;
}
.global-nav-bg {
	background:transparent url('global-nav-bg.gif') no-repeat 0px 0px;
}
.third-nav-middle ul.link-list li a {
	display:block;
	padding-bottom:8px;
	margin-left:-18px;
	padding-left:18px;
	background:transparent url('bg-3rd-nav-seperate.gif') no-repeat bottom left;
}
.third-nav-middle ul.link-list li a.last {
	padding-bottom:0px;
	background:transparent url('main.css') no-repeat bottom left;
}
.third-nav-middle ul.link-list li.active .last {
	padding-bottom:7px;
	margin-bottom:-7px;
	background:transparent url('main.css') no-repeat bottom left;
}
.third-nav-middle ul.link-list li {
	position:relative;
	z-index:100;
	padding-bottom:7px;
}
.third-nav-middle ul.link-list li.active {
	z-index:0;
	margin-top:-2px;
	* margin-top:0px;
	top:-7px;
	padding-top:9px;
	* padding-top:7px;
	padding-bottom:0px;
	background:#eff6d1 url('green-chevron-10x10.gif') no-repeat 0px 7px;
}
.third-nav-top {
	background:#fff url('bg-3rd-nav-top.gif') no-repeat top left;
	height:29px;
}
.third-nav-middle {
	background-color:#fff;
	border-left:14px solid #afd318;
	border-right:10px solid #afd318;
}
.third-nav-bottom {
	background:#fff url('bg-3rd-nav-bot.gif') no-repeat top left;
	height:18px;
}
.seperator-135 {
	margin-bottom:7px;
	background:#fff url('bg-3rd-nav-seperate.gif') no-repeat 0px 0px;
	width:135px;
	height:9px;
}
/* City Filter */
.city-filter-blur {
    position:         fixed !important;
    position:         absolute;
    top:              0px;
    /* left:             0px; */
    width:            100%;
    height:           100%;
    padding-bottom:   0 !important;
    padding-bottom:   100%;
    background-color: #fff;
    opacity:          .70;
    filter:           alpha(opacity=70);
    z-index:          9997;
    margin:           0 auto;
}
.city-filter-ds {
	padding:8px;
	position:relative;
	z-index:9998;
	/* top:116px; */
	width:463px;
	height:317px;
	margin:0 auto;
	margin-bottom:-330px;
	background:transparent url('bg-city-filter-ds.png') no-repeat top left !important;
	background:transparent url('bg-city-filter-ds.gif') no-repeat top left;
}
.city-filter-pop {
	position:absolute;
	z-index:9999;
	width:462px;
	height:314px;
	min-height:314px;
	background:#fff url('bg-city-filter.gif') no-repeat top left;
	border:1px solid #cdff03;
	opacity:1.0; 
	filter:alpha(opacity=100);
}
.city-filter-footer {
	position:absolute;
	top:275px;
	width:100%;
	border-top:1px solid #ffbf80;
}
.go-button {
	border:1px solid #ccc;
	position:relative;
	left:-5px;
	top:4px !important;
	top:-7px;
}
/*** postioning ***/
.relative {
	position:relative;
}
.display-block {
	display:block;
}
/*** MISC ***/
.home {
	background:#fff;
	margin-top:17px;
	margin-left:15px;
	voice-family: "\"}\"";
	margin-left:0px;
	margin-top:0px;
}
/*** FORMS ***/
/*** CSS drop down ***/
.css-drop-down {
	position:relative;
	float:left;
	z-index:9000;
}
.drop-down-bg-70 {
	background:transparent url('select-box-70.gif') no-repeat top left;
}
.drop-down-bg-160 {
	background:transparent url('select-box-160.gif') no-repeat top left;
}
.drop-down-bg-190 {
	background:transparent url('select-box-190.gif') no-repeat top left;
}
.drop-down-bg-195 {
	background:transparent url('select-box-195.gif') no-repeat top left;
}
.drop-down-bg-235 {
	background:transparent url('select-box-235.gif') no-repeat top left;
}
.css-drop-down ul{
	list-style-type:none;
}
.css-drop-down ul li a.first {
	margin-left:3px;
	line-height:20px;
	display:block;
}
.css-drop-down ul li ul {
	position:absolute;
	z-index:9000;
	background:#fff;
	margin-top:-2px;
	padding-top:2px;
	padding-left:5px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.long-drop-down {
	height:200px;
	overflow:auto;
}
.css-drop-down ul li ul li {
	line-height:1.7em;
	border-bottom:1px dotted #62991F;
	margin-left:-5px;
	padding-left:5px;
}
.css-drop-down ul li ul li a {
	display:block;
}
.css-drop-down ul li ul li a:hover {
	color:#fff;
	background-color:#3D7311;
	margin-left:-5px;
	padding-left:5px;
}
.css-drop-down ul li ul li.last {
	border-bottom:0px solid #fff;
}
/*** Module tabs ***/
ul.tabs {
	z-index:8000;
	position:relative;
}
ul.tabs li {
	float:left;
	list-style-type:none;
	margin-right:5px;
	background:#fff;
	border-top:1px solid #AFD318;
	border-right:1px solid #AFD318;
	border-left:1px solid #AFD318;
}
ul.tabs li a {
	float:left;
	font-size:0.75em;
	color:#AFD318;
	font-weight:bold;
	text-transform:uppercase;
	padding:3px 7px;
	z-index: 6000;
}
ul.tabs li a.active {
	background:#AFD318;
	color:#fff;
	z-index: 6000;
}
/***SMALL TABS***/
ul.tabs li.small-tabs a {
	float:left;
	font-size:0.6em;
	color:#afd318;
	font-weight:bold;
	text-transform:uppercase;
	padding:3px 1px 3px 1px;
}
ul.tabs li.small-tabs a.active {
	background:#afd318;
	color:#fff;
}
/*** HALL OF FAME-SHAME ***/
.fame-180-bottom {
	background:transparent url('hall-of-fame-bottom-180x120.gif') no-repeat bottom right;
	height:120px;
}
/*** FEATURED CONTENT ***/
.fc-wrapper {
	background:#fff url('fc-portrait-bg-292x215.gif') no-repeat top left;
	position:relative;
	border-top:3px solid #afd318;
	border-right:3px solid #afd318;
	border-bottom:3px solid #afd318;
	border-left:1px solid #afd318;
	width:563px;
	height:199px;
}
#fc-main-image {
	text-align:left;
	height:199px;
}
.bottom-3pix-fix {
	margin-bottom:0px !important;
	margin-bottom:-3px;
}
.fc-user-quote {
	position:relative;
	z-index:5000;
	top:-236px;
	right:-7px;
	height:254px;
	margin-bottom:-254px;
	background:transparent url('fc-user-quote.png') no-repeat top right !important;
	background:transparent url('fc-user-quote.gif') no-repeat top right;
}
.fc-metro-quote {
	position:relative;
	z-index:5000;
	top:-236px;
	right:-7px;
	height:254px;
	width: 250px;
	margin-bottom:-254px;
	left: 320px;
	background:transparent url('fc-metro-quote.png') no-repeat top right !important;
	background:transparent url('fc-metro-quote.gif') no-repeat top right;
}
.fc-quote-container {
	position:absolute; 
	width:175px;
	top:50px; 
	right:35px;
}
.fc-metro-container {
	position:absolute; 
	width:175px;
	top:50px; 
	right:35px;
}
.fc-reader-more-link {
	position:absolute;
	top:150px;
	left:0px;
}
.fc-reader-more-link a {
    color: #3d7311;
}
ul.fc-links-list {
	list-style-type:none;
}
ul.fc-links-list li {
	float:left;
}
ul.fc-links-list li a img {
	border:2px solid #fff;
}
ul.fc-links-list li a:hover img {
	border:2px solid #afd318;
}
ul.fc-links-list li img.active {
	border:2px solid #afd318;
}
a.next {
	top:3px;
	display:inline;
	background:transparent url('next-20x19.gif') no-repeat top right;
	padding:3px 24px 19px 0px;
	margin-left:5px;
	line-height:19px;
	text-transform:uppercase;
}
a.previous {
	top:3px;
	display:inline;
	background:transparent url('previous-20x19.gif') no-repeat top left;
	padding:3px 0px 19px 24px;
	margin-right:5px;
	line-height:19px;
	text-transform:uppercase;
}
.fc-indicator {
	position:relative;
	display:block;
	height:25px;
	width:25px;
	top:-86px;
	left:8px;
	margin-bottom:-25px;
	background:transparent url('green-arrow-up-25x25.png') no-repeat bottom left !important;
	background:transparent url('green-arrow-up-25x25.gif') no-repeat top right;
}
#fc-most-read {
	position:relative;
}
#fc-your-voice {
	position:relative;
}
.fc-image-map {
	position:relative;
	top:64px;
	left:137px;
}
.fc-count {
	color:#360;
	padding:0px 7px;
}
/*** FEATURED CONTENT B ***/
#fc-main-image-b {
	text-align:left;
	height:219px;
	margin-bottom:0px !important;
	margin-bottom:-2px;
}
.fc-wrapper-b {
	position:relative;
	background:#fff url('fc-portrait-bg-292x215.gif') no-repeat top left;
	border-top:3px solid #afd318;
	border-right:3px solid #afd318;
	border-bottom:3px solid #afd318;
	border-left:1px solid #afd318;
	width:292px;
	height:219px;
	text-align:center;
}
.fc-user-quote-b {
	position:relative;
	z-index:5000;
	top:-245px !important;
	top:-243px;
	right:-276px;
	height:256px;
	margin-bottom:-254px;
	background:transparent url('fc-user-quote-b.png') no-repeat top right !important;
	background:transparent url('fc-user-quote-b.gif') no-repeat top right;
}
.fc-metro-quote-b {
	position:relative;
	z-index:5000;
	top:-245px !important;
	top:-243px;
	right:-276px;
	height:256px;
	margin-bottom:-254px;
	background:transparent url('fc-metro-quote-b.png') no-repeat top right !important;
	background:transparent url('fc-metro-quote-b.gif') no-repeat top right;
}
.fc-quote-container-b {
	position:absolute; 
	width:241px;
	top:50px; 
	right:35px;
}
.fc-metro-container-b {
	position:absolute; 
	width:241px;
	top:50px; 
	right:35px;
}
.fc-reader-more-link-b {
	position:absolute;
	top:150px;
	left:0px;
}
.fc-user-quote-b p a, .fc-metro-quote-b p a, .fc-user-quote-b blockquote div a , .fc-user-quote blockquote div a {
	color:#fff;
}

.fc-user-quote-b p a, .fc-metro-quote-b p a, .fc-user-quote-b blockquote div a {
    color:#fff;
}

/*** FEATUREED CONTENT PORTRAIT ***/
.fc-portrait-image-wrapper {
	background: url('fc-portrait-bg-292x215.gif') no-repeat top left;
	border-top:3px solid #9c0;
	border-right:3px solid #9c0;
	border-bottom:3px solid #9c0;
	border-left:1px solid #9c0;
	width:292px;
	height:215px;
	text-align:center;
}
.fc-portrait-user-quote {
	position:relative;
	z-index:5000;
	top:-244px;
	right:-5px;
	height:256px;
	margin-bottom:-256px;
	background:transparent url('fc-user-quote-293x265.png') no-repeat top right !important;
	background:transparent url('fc-user-quote-293x256.gif') no-repeat top right;
}
.fc-portrait-quote-container {
	position:absolute; 
	width:245px;
	top:50px; 
	right:30px;
}
/*** Featured COntetn Media ***/
.fc-media-wrapper {
	position:relative;
	float:left;
	border-top:3px solid #afd318;
	border-right:3px solid #afd318;
	border-bottom:3px solid #afd318;
	border-left:1px solid #afd318;
	width:373px;
	height:280px;
}
/*** CAROUSEL MODULE ***/
.carousel-border {
	border-top:3px solid #afd318;
	border-right:4px solid #afd318;
	border-bottom:3px solid #afd318;
	border-left:1px solid #afd318;
	margin:10px 0px 5px 0px;
}
.carousel-pagination-previous {
	background:url('previous-20x19.gif') no-repeat top left;
	line-height:2.4em;
	padding:4px 5px 5px 37px;
}
.carousel-pagination-next {
	background:url('next-20x19.gif') no-repeat top right;
	line-height:2.4em;
	padding: 4px 37px 5px 5px;
}
.photo-credit {
	width:140px; 
	margin-left:-140px;
}
/*** ADD/VIEW COMMENT ***/
.add-view-comment {
	background:transparent url('add-view-comments-bg-725x64.gif') repeat-y;
	border-right: 1px solid #f7ffab;	
}
.add-view-comments-line {
	background:url('comment-diag-line.gif') no-repeat top right;
	position:relative;
	top: 0px;
	right: -1px;
}
.ugc-bg-left {
	background:url('ugc-bg-left-4x27.gif') no-repeat top left;
}
.ugc-bg-center {
	background:url('ugc-bg-center-1x27.gif') repeat-x ;
}
.ugc-bg-right {
	background:url('ugc-bg-right-4x27.gif') no-repeat top right;
	padding-top: 2px;
}
.ugc-section-text p{
	color:#fff;
	padding: 3px 15px 5px 25px;
}
.whats-this-text-section {
	position:absolute;
	width: 180px;
	top: 100px;
	left: 100px;
	padding: 7px 10px 10px 10px;
	background-color:#cf0;
}
/*** MEDIA WIDGET ***/
ul.media-widget {
	list-style-type:none;
	background:url(media-widget-179x47.gif) no-repeat 0px 0px;
	width: 180px;
	height:49px;
	position:relative;
	top:15px;
	padding-bottom:10px;
}
ul.media-widget li {
	display:inline;
}
.metro-media-text {
	position:relative;
	top:15px;
	left:32px;
	text-align: center;
	width:10px;
}
ul.media-widget li.media-widget-audio-icon {
	position:relative;
	top:-5px;
	left:66px;
}
ul.media-widget li.media-widget-video-icon {
	position:relative;
	top:22px;
	left:70px;
}
ul.media-widget li.media-widget-podcast-icon {
	position:relative;
	top:22px;
	left:78px;
}
/* Media Widget Small Version */
ul.media-widget-small {
	list-style-type:none;
	background:url(media-widget-85x37.gif) no-repeat 0px 0px;
	height:37px;
	width:85px;
	margin-top:10px;
}
ul.media-widget-small li {
	display:inline;
}
ul.media-widget-small li.media-widget-audio-icon {
	position:relative;
	top:-6px;
	left:10px;
}
ul.media-widget-small li.media-widget-video-icon {
	position:relative;
	top:3px;
	left:14px;
}
ul.media-widget-small li.media-widget-podcast-icon {
	position:relative;
	top:9px;
	left:21px;
}
/*** COMPETITIONS ***/
.bg-competitions {
	background:url('bg-competitions.gif') no-repeat top right;
}
.competition-question {
	background:transparent url('competitions-question.gif') no-repeat top left;
}
/* Pagination */
.previous-button {
	background:url('left-green-chevron-10x10.gif') no-repeat 0px 2px;
	padding-left:16px;
	padding-right:5px;
}
.previous-grey-button {
	background:url('left-grey-chevron-10x10.gif') no-repeat 0px 2px;
	padding-left:16px;
	padding-right:5px;
	color: #ccc;
	font-size: 0.7em;
	font-weight:bold;	
}
.next-button {
	background:url('green-chevron-10x10.gif') no-repeat 34px 2px;
	padding-right:18px;
	padding-left:5px;
}
.next-grey-button {
	background:url('grey-chevron-10x10.gif') no-repeat 34px 2px;
	padding-right:18px;
	padding-left:5px;
	color: #ccc;
	font-size: 0.7em;
	font-weight:bold;
}
/* m011 Photo Gallery Pagination */
ul.pg-pagination {
	list-style:none;
	text-align: center;
}
ul.pg-pagination li {
	position:relative;
	padding-right:11px;
}
ul.pg-pagination li.first-child {
	position:relative;
	top:3px;
	padding-right:12px;
}
ul.pg-pagination li.last-child {
	display:inline;
	top:3px;
	* left:3px;
	padding-right:0px;
	margin-right: 0px;
}
table.pg-pagination tr td a.selected {
	font-weight:bold;
	font-size:1.3em;
}
ul.pg-pagination li a.selected {
	font-weight:bold;
	font-size:1.3em;
	margin-right:-4px;
}
.photo-gallery-thumb {
	background:transparent url('image-gallery-thumbs.png') no-repeat top left !important;
	background:transparent url('image-gallery-thumbs.gif') no-repeat top left;
	display:block;
	width:86px;
	height:91px;
	position:absolute;
	top:-105px;
	left:-23px;
	margin-bottom:-101px;
	margin-right:-100px;
	padding-top:7px;
}
/* Polls */
.poll-radio {
	position:relative;
	top:2px;
	* top:-2px;
	margin-right:5px;
}
.padding-bottom-10-ie5 {
	padding-bottom:10px;
	*padding-bottom:5px;
}
/*** AGGREGATED CONTENT ***/
.aggregated-bg {
	background:transparent url('aggregated-content.gif') no-repeat bottom left;
}
.aggregated-rss-block {
	clear:left;
	float:left;
	border-top:1px dotted #62991F;
	width:387px;
}
/****CLASSIFIEDS TEASER***/
.classifieds-bg {
	/* Is set as style attrib in template (classifieds-teaser-comp.xsl) to allow locale dependent background */
	/*background:transparent url('/templates/img/backgrounds/classifieds.gif') no-repeat top left;*/
	width:989px;
	height:216px;
	float:left;
}
#classifieds-wrapper-1 {
	position:absolute;
	left:182px;
	top:-72px;
	width:164px;
}
#classifieds-wrapper-2 {
	position:absolute;
	left:389px;
	top:-30px;
	width:164px;
}
#classifieds-wrapper-3 {
	position:absolute;
	left:514px;
	top:-30px;
	width:164px;
}
#classifieds-wrapper-4 {
	position:absolute;
	left:660px;
	top:6px;
	width:164px;
}
#classifieds-wrapper-5 {
	position:absolute;
	left:795px;
	top:-55px;
	width:164px;
}
.classifieds-details {
	background-color:#d1f400;
	width:164px;
	height:144px;
}
.pointer {
	background:transparent url(classifieds-pointer.gif) no-repeat 28px 0px;
	height:16px;
	width:164px;
}
.classifieds-module-pop-up {
	background-color:#d1f400;
	width: 164px;
	padding: 5px;
	position:absolute;
	margin-top: -130px;
	left: 270px;
}
.classifieds-down-arrow {
	background: url(http://www.metrofrance.com/templates/img/icons/classifieds-down-arrow-19x16.gif) no-repeat bottom left;
	position:relative;
	top: 20px;
	left: 65px;
	width: 19px;
	height: 16px;
}
/*** MEDIA TEASERS ***/
.metro-alert {
	background:transparent url('metro-alert.gif') no-repeat 0px 0px;
	height:98px;
	padding:0px 0px 0px 110px;
}
ul.media-teaser {
	list-style-type: none;
}
ul.media-teaser li {
	height:30px;
	padding: 5px 0px 2px 40px;
}
ul.media-teaser li.media-teaser-podcasts-featured-icon {
	background:transparent url('podcasts-30x30.gif') no-repeat 0px 0px;
}
ul.media-teaser li.media-teaser-mobile-icon {
	background:transparent url('mobile-30x30.gif') no-repeat 0px 0px;
}
ul.media-teaser li.media-teaser-rss-icon {
	background:transparent url('rss-30x30.gif') no-repeat 0px 0px;
	padding-right: 10px;
}
ul.media-teaser li.media-teaser-photo-gallery-icon {
	background:transparent url('photo-gallery-30x30.gif') no-repeat 0px 0px;
}
ul.media-teaser li.media-teaser-video-featured-icon {
	background:transparent url('video-30x30.gif') no-repeat 0px 0px;
}
ul.media-teaser li.media-teaser-games-icon {
	background:transparent url('games-30x30.gif') no-repeat 0px 0px;
}
.generic-teaser-bg {
	background:transparent url('generic-teaser-bg-179x102.png') no-repeat 0px 0px !important;
	background:transparent url('generic-teaser-bg-179x102.gif') no-repeat 0px 0px;
	height:102px;
}
.games-teaser-bg {
	background:#ccff00 url('games-teaser-bg.gif') no-repeat bottom right;
}
.bg-teaser-survey-179 {
	background:#fff url('bg-teaser-surveys-179.gif') no-repeat top left;
}
.bg-teaser-survey-373 {
	background:#fff url('bg-teaser-surveys-373.gif') no-repeat top left;
}
.bg-teaser-archive-179 {
	background:transparent url('bg-teaser-archive-179.gif') no-repeat top left;
	margin-left:-2px;
}
.bg-teaser-archive-373 {
	background:transparent url('bg-teaser-archive-373.gif') no-repeat top right;
	height:100%;
	min-height:86px;
	margin:-5px -5px 0px 0px;
	* padding-bottom:5px;
}
.bg-teaser-archive-373-top {
	background:transparent url('bg-teaser-archive-373-top.gif') no-repeat -5px 0px;
	min-height:124px;
	* height:auto !important; /* For IE 7 */
	* height:134px; /* For IE 5 & 6 */
}
.bg-teaser-archive-373-bot {
	background:transparent url('bg-teaser-archive-bot-373.gif') no-repeat bottom left;
	height:5px;
}
.bg-teaser-archive-567-top {
	background:transparent url('bg-teaser-archive-567-top.gif') no-repeat -5px 0px;
	min-height:86px;
	* height:auto !important; /* For IE 7 */
	* height:86px; /* For IE 5 & 6 */
}
.bg-teaser-archive-567-bot {
	background:transparent url('bg-teaser-archive-567-bot.gif') no-repeat bottom left;
	height:5px;
}
.upload-media-image-single {
	position:relative;
	margin-top:-17px;
	margin-right:-10px;
	
}
.upload-media-image-triple {
	position:relative;
	margin-top:-30px;
	margin-right:-15px;
}
.upload-media-bg {
	position:relative;
	float:left;
 	background:url('upload-media-bg.gif') repeat-x bottom left;
	top:-17px;
	left:3px;
	margin-right:-7px;
	height: 17px;
	margin-bottom:-17px;
 }
.teaser-generic-bg-line-right {
	background:url('bg-line-right-82x121.gif') no-repeat bottom right;
}
.teaser-generic-bg-line-left {
	background:url('bg-line-left-82x121.gif') no-repeat bottom left;
}
.cheveron-down-arrow-left {
	background:url(down-arrow-17x14.gif) repeat-y -8px 0px;
}
.cheveron-down-arrow-right {
	background:url(down-arrow-27x14.gif) repeat-y 168px 0px;
}
.cheveron-down-arrow-right-2-col {
	background:url(down-arrow-27x14.gif) repeat-y 362px 0px;
}

.cheveron-down-arrow-right-3-col {
	background:url(down-arrow-27x14.gif) repeat-y 556px 0px;
}
.display-inline {
	display:inline;
}
 .call-to-action-left {
	float:left;
	background:url('call-to-action-left.gif') no-repeat top left;
	width:32px;
	height:19px;
}
.call-to-action-center {
	float:left;
	background:url('call-to-action-center.gif') repeat-x top left;
	height:19px;
	padding:0px 1px 0px 2px;
}
.call-to-action-right {
	float:left;
	background:url('call-to-action-right.gif') no-repeat top left;
	height:19px;
	width:16px;
}
/*** Hal of Fame ***/
.hfs-wrapper-middle-338 {
	background: url(hall-of-fame-shame-middle-338x1.gif) repeat-y top left;
	width:338px;
	float: left;
	z-index: 50;
}
.hfs-wrapper-top-338 {
	background:url(hall-of-fame-shape-top-338x78.gif) no-repeat top left;
	float: left;
	width:338px;
	z-index: 1000;
}
.hfs-wrapper-bottom-338 {
	background: url(hall-of-fame-shame-bottom-338x47.gif) no-repeat bottom left;
	float: left;
	width:338px;
}

.hfs-wrapper-bottom-no-number-338 {
	background: url(hall-of-fame-shame-bottom-no-number-338x47.gif) no-repeat bottom left;
	width:338px;
	float: left;
	z-index: 1000;
}
.hfs-wrapper-338 {
	padding:4px 0px 10px 13px;
}
/***HAll of Fame 371 Pixel Width***/
.hfs-wrapper-middle-373{
	background: url(hall-of-fame-shame-middle-371.gif) repeat-y top left;
	width: 373px;
	float:left;
	z-index: 50;
}
.hfs-wrapper-top-373 {
	background:url(hall-of-fame-shame-371x80-top.gif) no-repeat top left;
	width: 373px;
	float:left;
	z-index: 1000;
}
.hfs-wrapper-bottom-373 {
	background: url(hall-of-fame-shame-373x122-bottom.gif) no-repeat bottom left;
	width: 373px;
	float:left;
	z-index: 1000;
}
.hfs-wrapper-bottom-no-number-373 {
	background: url(hall-of-fame-shame-373x122-no-number-bottom.gif) no-repeat bottom left;
	width: 373px;
	float:left;
}
.hfs-wrapper-373 {
	padding:7px 10px 10px 20px;
}

/****Hall of fame shame 179 pixel width**/
.hf-wrapper-top-179 {
	background:url(hall-of-fame-top-179x79.gif) no-repeat top left;
	width: 179px;
	float:left;
}
.hf-wrapper-middle-179{	
	background: url(hall-of-fame-middle-179x1.gif) repeat-y top left;
	width: 179px;
	float:left;
}
.hf-wrapper-bottom-179 {
	background: url(hall-of-fame-bottom-179x120.gif) no-repeat bottom left;
	width: 179px;
	float:left;
	z-index: 1000;
}
.hf-wrapper-bottom-no-number-179 {
	background: url(hall-of-fame-bottom-no-number-179x120.gif) no-repeat bottom left;
	width: 179px;
	float:left;
	z-index: 1000;
}
.hs-wrapper-top-179 {
	background:url(hall-of-shame-top-179x79.gif) no-repeat top left;
	width: 179px;
	float:left;
	z-index: 1000;
}
.hs-wrapper-middle-179{
	background: url(hall-of-shame-middle-179x1.gif) repeat-y top left;
	width: 179px;
	float:left;
	z-index: 50;
}
.hs-wrapper-bottom-179 {
	background: url(hall-of-shame-bottom-179x120.gif) no-repeat bottom left;
	width: 179px;
	float:left;
	z-index: 1000;
}
.hs-wrapper-bottom-no-number-179 {
	background: url(hall-of-shame-bottom-no-number-179x120.gif) no-repeat bottom left;
	width: 179px;
	float:left;
	z-index: 1000;
}
.hfs-wrapper-179 {
	width: 149px;
	padding:5px 0px 10px 20px;
}
.hfs-margins {
	margin-left: 20px !important;
	margin-left:15px;
}
.hall-of-fame-tabs {
	background:#afd318;
	padding:3px 6px;
}
.hall-of-fame-tabs p {
	color: #fff;
	font-weight:bold;
	font-size: .8em;
	text-transform:uppercase;
}
.hfs-image-map-179 {
	position:relative;
	left: 109px;
	top:22px;
}
.hfs-image-map-338 {
	position:relative;
	left: 274px;
	top:8px;
}
.hfs-image-map-373 {
	position:relative;
	left: 303px;
	top:8px;
}
/*** m011 Photo gallery ***/
.photo-gallery-top {
	width:373px !important;
	width:375px;
	height:7px;
	background:#afd318 url(image-gallery-top-376x7.gif) no-repeat top left;
}
.photo-gallery-bottom {
	width:373px;
	background:#afd318;
}
.photo-gallery-top-1column {
	width:180px !important;
	width:180px;
	height:7px;
	background:#afd318 url(image-gallery-top-376x7.gif) no-repeat top left;
}
.photo-gallery-bottom-1column {
	width:180px;
	background:#afd318;
}
.photo-gallery-top-3column {
	width:580px !important;
	width:580px;
	height:7px;
	background:#afd318 url(image-gallery-top-376x7.gif) no-repeat top left;
}
.photo-gallery-bottom-3column {
	width:580px;
	background:#afd318;
}
/**Metro Teaser Style*/
.teaser-wrapper-bottom {
	width: 174px;
	border-right: 3px solid #62991F;
	border-bottom: 3px solid #62991F;
}
.teaser-sub-wrapper-top {
	border:1px solid #62991F;
	position:relative;
	top: -3px;
	left: -2px;
	padding: 10px;
	margin-bottom: -3px;
	margin-right: -2px;
	width: 173px;
	voice-family: "\"}\""; 
	width:154px !important;
}
/*Form Element Styles*/
fieldset {
  margin-bottom: 10px;
  border:none;
}
fieldset ul.metro-form-list {
	list-style-type: none;
}
fieldset li {
  list-style-type: none;
  margin: 0;
}
fieldset label.metro-form-label {
	float:left;
	width: 180px;
	text-align:right;
	padding-top: 2px;
}
fieldset input.input-text {
	float:left;
	width: 160px;
	margin-left: 10px;
	margin-bottom: 5px;
}
/* Added from Kuldip's development versions */
.margin-left-14 {
	margin-left: 14px;
}
.green-button-left-fcf8 {
 float:left;
 background:transparent url(btn2-green-left-6x23-new.gif) no-repeat top left;
 width:6px;
 height:23px;
 display:inline;
}
.green-button-right-fcf8 {
 float:left;
 background:transparent url(btn2-green-right-6x23-new.gif) no-repeat top left;
 width:6px;
 height:23px;
}
.searchResults {
 width: 567px;
}
.sky-scrapper-position-relative {
 position:relative;
 top: -78px;
 _top:-78px;
 }
.search-text-box {
	border: 1px solid #ccc ;
	width:420px;
	padding:2px;
 }
.sky-scrapper-tile-square{
	background:url('skyscrapper-bg.gif') no-repeat top left;
	height:620px;
	padding-top: 15px;
	width: 177px;
	float:left;
 }
.aggregated-content-bg {
	background: transparent url('linesbg.gif') no-repeat top left;
	width:567px;
	margin-top: 3px;
}
.aggregated-rss-first-block {
	float:left;
	width:373px;
	padding-bottom:3px;
}
.aggregated-rss-right-border {
	float:left;
	width:179px;
}
#aggregated-content-wrap{
	width:567px;
	float:left;
	border-top:1px dotted #62991F;
	background:transparent url('linesbg.gif') no-repeat top left;
	border-bottom:1px dotted #62991F;
}
#aggregated-content-menu-wrap{
	width: 179px;
	float: left;
}
#aggregated-content-blocks-wrap {
	float: left;
	width: 387px;
}
fieldset {
	margin-bottom: 10px;
	border:none;
}
fieldset ul.metro-form-list {
	list-style-type: none;
}
fieldset li {
  list-style-type: none;
  margin: 0;
}
fieldset label.metro-form-label {
	float:left;
	width: 180px;
	text-align:right;
	padding-top: 2px;
}
fieldset input.input-text {
	float:left;
	width: 160px;
	margin-left: 10px;
	margin-bottom: 5px;
}
ul.aggregated-rss-level-2 {
	margin-bottom:-3px;
}
ul.aggregated-rss-level-2 li.border-dotted-top {
	border-top:1px dotted #62991F;
	margin-left: -20px;
	margin-right: -4px;
}
ul.aggregated-rss-level-2 li.active {
	background:transparent url('linesbg-active.gif') no-repeat -1px 1px;
	padding: 5px 0px 4px 36px;
	border-right:0px solid #fff;
	width:145px !important;
	width:175px;
	margin-right: -8px;
}
ul.aggregated-rss-level-2 li.active a {
	font-size:1.1em;
	color:#cbdb29;
}
ul.search-option {
	float:right;
	list-style-type: none;
}
ul.search-option li {
	display:inline;
}
ul.search-option li .pipe {
	padding: 0px 5px 0px 5px;
}
ul.search-results-list-option {
	padding-top: 3px;
	list-style-type:none;
}
ul.search-results-list-option li {
	font-size: 0.7em;
	font-weight: normal;
	color: #666;
	display:inline;
}
.mpu-search {
	position:relative;
	left:120px;
	width:330px;
}
.most-searched-wrapper {
	background:url('most-searched-bg.gif') no-repeat top left;
	border: 1px solid #bfe7f1;
}
h4.big-teaser-heading-grey {
	font-size:1.22em;
	line-height:1em;
	color:#333;
	text-transform:uppercase;
}
.padding-t10-r10-b5-l10 {
	padding:10px 10px 5px 10px;
}
.search-in-text {
	float:left;
	font-weight: bold;
	/* width:65px; */
	color:#333;
}
.search-radio {
	position:relative;
	top: -2px;
	margin-right:5px;
}
.margin-top-3 {
	margin-top: 3px;
}
.margin-top-25 {
	margin-top : 25px;
}
.refine-search-bg {
	background:transparent no-repeat 0px 0px !important; /*  url('/templates/img/backgrounds/refine-search-179x102.png') */
	background:transparent no-repeat 0px 0px;
}
ul.link-list li.video {
	background:url(video-20x23.gif) no-repeat 0px 0px;
	padding: 7px 0px 5px 28px ;
}
ul.link-list li.photo {
	background:url(photo-17x18.gif) no-repeat 0px 0px;
	padding: 3px 0px 5px 25px ;
}
ul.link-list li.podcasts {
	background:url(podcast-15x20.gif) no-repeat 0px 5px;
	padding:5px 0px 5px 22px ;
}
ul.link-list li.audio {
	background:url(audio-16x23.gif) no-repeat 0px 0px;
	padding: 10px 0px 5px 22px ;
}
ul.link-list li.rss {
	background:url(rss-17x18.gif) no-repeat 0px 5px;
	padding: 5px 0px 5px 22px ;
}
.position-absolute {
	position:absolute;
}
/* Bottom paddings */
.padding-bottom-3 {
	padding-bottom: 3px;
}
.padding-bottom-5 {
	padding-bottom:5px;
}
.padding-bottom-8 {
	padding-bottom:8px;
}
.padding-bottom-10 {
	padding-bottom:10px;
}
.padding-bottom-15 {
	padding-bottom:10px;
}
.padding-bottom-20 {
	padding-bottom:20px;
}
.padding-bottom-70 {
	padding-bottom:70px;
}

.article-photo-border4px-afd318 {
	border-top-width: 4px;
	border-right-width: 2px;
	border-bottom-width: 4px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #AFD318;
	border-right-color: #AFD318;
	border-bottom-color: #AFD318;
	border-left-color: #AFD318;
}

.article-photo-credits {
	color:         #999999;
	font-size:     0.7em;
	padding-left:  10px;
	padding-right: 10px;
	padding-top:   5px;
	padding-bottom:5px;
	text-align:    right;
}

/** Send to a friend popup **/
form#send2friendForm {
  text-align: left;
}

/** blog pushes **/

.size-128x128blog{ 
background:transparent url(height-128-blog-mask.png) no-repeat scroll right top !important;
height:128px;
width:128px;
}

.size-72x54blog {
background:transparent url(http://www.metrofrance.com/templates/img/img-masks/height-54-blog-mask.png) no-repeat scroll right top !important;
height:54px;
width:72px;
}

li.blog-teaser-icon {
background-color:transparent;
list-style-image:url(blog.gif);
list-style-position:inside;
}

/** article caption **/

p.article-image-caption {
  font-size: 0.8em;
  color: #62991F;	
  text-align: left;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
}

div.article-image-caption {
  background-color: #F3FCBF;
  width: 246px;
  margin-left: 15px;
  margin-bottom: 10px;
}

div.article-image-caption-2column {
  background-color:#F3FCBF;
  margin-bottom:10px;
  margin-left:15px;
  width:380px;
}

div.article-image-caption-3column {
  background-color:#F3FCBF;
  margin-bottom:10px;
  margin-left:15px;
  margin-top:15px;
  width:536px;
}
	
/** article byline **/

.article-byline {
	text-align: left;
	float: right;
	font-size: 0.7em;
	background-color: #F3FCBF;
	width: 246px;
}
.article-byline p {
	padding-top: 5px;
}
.close-article-byline {
	float: right;
	background-color: #AFD318;
	clear: both;
	width: 246px;
	height: 4px;
}
.article-byline div.image {
	float: left;
	height: 40px;
	margin-right: 15px;
}

.article-byline a {
	font-weight: bold;
}

/* this is the same as the class padding-bottom-10 */
.article-paragraph {
  padding-bottom:10px;
}

.article-paragraph a {
  color: #62991F;
  text-decoration: none;
}

.article-paragraph a:hover {	
  color: #AFD318;
  text-decoration: underline;
}
/* *** END FILE:/templates/css/1/metro.css *** */
	
/* *** BEGIN FILE:/templates/css/1/metro2.css *** */
/* --------- New Style CSS ------- */

div.column-1-3 {
    float: left;
    display: inline;
    width: 567px;
    margin-left: 19px;
    margin-right: 20px;
    overflow: hidden;
}

div.column-1-2 {
    float: left;
    display: inline;
    width: 373px;
    margin-right: 15px;
    overflow: hidden;
}

div.column-3 {
    float: left;
    display: inline;
    width: 179px;
    overflow: hidden;
}

div.column-4-5 {
    float: left;
    display: inline;
    width: 373px;
    margin-right: 19px;
    overflow: hidden;
}

div.column-1-4 {
    float: left;
    display: inline;
    width: 761px;
    margin-left: 19px;
    margin-right: 20px;
    overflow: hidden;
}

div.column-1-5 {
    float: left;
    display: inline;
    width: 960px;
    overflow: hidden;
    margin-left: 19px;
    margin-right: 19px;
}

div.column-4 {
    float: left;
    display: inline;
    width: 179px;
    margin-right: 19px;
    overflow: hidden;
}

div.column-5 {
    float: left;
    display: inline;
    width: 179px;
    margin-right: 19px;
    overflow: hidden;
}


/* 404-page */
div.wrapper-404 {
    padding: 50px 30px 95px 30px;
}

div.wrapper-404 p {
    font-size: 12px;
}

div.title-404 {
    padding: 0 0 15px 0;
}

div.title-404 h1 {
    font-size: 32px;
}

div.content-404 a.body-link {
    color: #264A04;
    text-decoration: none;
    font-weight: normal;
}

div.content-404 a.body-link:hover {
    color: #264A04;
    text-decoration: underline;
    font-weight: normal;
}

div.search-404 {
    padding: 15px 0 0;
}

div.search-title-404 {
    padding: 5px 0 15px 0;
}

div.search-title-404 p {
    font-weight: 700;
}

input.search-field-404 {
  top: auto; /* FIXME: remove this when we remove global input css */
  float: left;
  width: 312px;
  height: 13px;
  font-size: 11px;
  color: #000000;
/*background-image: url('/templates/img/backgrounds/header-searchbox.gif');
  background-repeat: no-repeat;
  background-position: top left;*/
  border: 1px solid #666;
  padding: 2px 3px;
}

input.search-button-404 {
  float: left;
  margin-left: 5px;
  width: 25px;
  height: 19px;
  top: auto;  /* FIXME: remove this when we remove global input css */
}

div.copyright-404 {
    padding: 10px 0 0;
}

/* --- end 404-page --- */

div.one-col {
	width: 179px;
	overflow: hidden;
}

div.two-col {
	width: 373px;
	overflow: hidden;	
}

div.three-col {
	width: 567px;
	overflow: hidden;	
}

div.white {
	background-color: #FFFFFF;
}
div.grey {
	background-color: #E7E7E7;
}
div.lightgreen {
	background-color: #ADD036;
}

div.ultralightgreen {
	background-color: #F3FCBF;
}

div.darkgreen {
	background-color: #649B44;
}
div.orange {
	background-color: #FFAD10;
}

div.white li {
	background-image: url(bullet-white.gif);
}
div.grey li {
	background-image: url(bullet-grey.gif);
}
div.lightgreen li {
	background-image: url(bullet-lightgreen.gif);
}
div.ultralightgreen li {
	background-image: url(bullet-ultralightgreen.gif);
}
div.darkgreen li {
	background-image: url(bullet-darkgreen.gif);
}
div.orange li {
	background-image: url(bullet-orange.gif);
}

div.white li.blog {
	background-image: url(bullet-blog-white.gif);
}
div.grey li.blog {
	background-image: url(bullet-blog-grey.gif);
}
div.lightgreen li.blog {
	background-image: url(bullet-blog-lightgreen.gif);
}
div.darkgreen li.blog {
	background-image: url(bullet-blog-darkgreen.gif);
}
div.orange li.blog {
	background-image: url(bullet-blog-orange.gif);
}

div.white li.video {
	background-image: url(bullet-video-white.gif);
}
div.grey li.video {
	background-image: url(bullet-video-grey.gif);
}
div.lightgreen li.video {
	background-image: url(bullet-video-lightgreen.gif);
}
div.darkgreen li.video {
	background-image: url(bullet-video-darkgreen.gif);
}
div.orange li.video {
	background-image: url(bullet-video-orange.gif);
}

div.teaser-component p {
	font-size: 12px;
}

div.teaser-component ul li a {
	color: #264A04;
}
div.teaser-component ul li a:hover {
	color: #264A04;
}

div.teaser-component,
div.push-component {
	float: left;
}

div.teaser-component-inner {
    /* Fix for IE to get hasLayout property set */
    display: inline-block; /* IE6+ */
}
div.teaser-component-inner {
    /* Fix for IE to get hasLayout property set */
    display: block; /* IE6+ */
}

div.teaser-component h4.module-title, 
div.push-component h4.category-title {
	color:#666;
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
}

div.teaser-component h4.teaser-title,
div.push-component h4.title {
	font-size:16px;
}


div.teaser-component div.lightgreen h4.teaser-title * {
    color: #FFFFFF;
}

div.teaser-component div.darkgreen h4.teaser-title *,
div.teaser-component div.darkgreen p {
    color: #FFFFFF;
}

div.push-component div.two-col h4.title {
        font-size: 20px;
}

div.push-component div.two-col div.lead-story h4.title {
        font-size: 26px;
}

div.push-component div.three-col h4.title {
        font-size: 24px;
	margin: 0 7px;
}

div.push-component div.three-col div.standard-image h4.title {
	margin: 0;
}

div.push-component div.three-col div.large-image h4.title {
    font-size: 34px;
}

div.push-component div.three-col div.small-image h4.title,
div.push-component div.three-col div.medium-image h4.title {
    font-size: 30px;
}

div.push-component div.mediatype-blog h4.title * {
	color:#FCAF17;
}

div.push-component div.three-col div.small-image h4.category-title,
div.push-component div.three-col div.medium-image h4.category-title,
div.push-component div.three-col div.large-image h4.category-title {
        margin: 0 7px;
}

div.push-component div.two-col div.large-image h4.category-title {
        margin: 0 7px;
}


div.push-component .comment {
        color: #FFB000;
	font-weight: bold;
	white-space: nowrap;
}

div.push-component span.comment {
    margin-left: 5px;
}

div.push-component a.comment {
    margin-left: 7px;
}
    
div.teaser-component div.image-right {
	float: right;
	margin-left: 7px;
}

div.push-component div.image-left {
	float: left;
	margin-bottom: 7px;
	margin-right: 7px;
}


div.teaser-component ul,
div.push-component ul,
div.poll-component div.border ul,
div.related-links ul {
	list-style:none;
}

div.push-component ul.push-link-list a {
    color: #264A04;
}

div.push-component ul.push-link-list a:hover {
    color: #264A04;
}

div.teaser-component ul li,
div.push-component ul li,
div.poll-component div.border ul li,
div.related-links ul li {
	font-size:12px;
        background-repeat: no-repeat;	
	padding: 2px 0 2px 20px;
	background-color: transparent;
	background-attachment: scroll;
	background-position: 2px 3px;
	line-height: 100%;	
}

div.teaser-component div.active-left,
div.teaser-component div.active-right,
div.teaser-component div.passive {
    float: left;
    position: relative;
    bottom: -1px;
    font-size: 11px;
    font-weight: bold;
}

div.teaser-component div.two-col div.active-left,
div.teaser-component div.two-col div.active-right,
div.teaser-component div.two-col div.passive {
    padding: 3px 14px;
}

div.teaser-component div.one-col div.active-left,
div.teaser-component div.one-col div.active-right,
div.teaser-component div.one-col div.passive {
    width: 88px;
    text-align: center;
    padding: 3px 0;
}

div.teaser-component div.active-left { 
    border-width: 1px;
    border-style: solid none solid solid;
    border-color: #b5b5b5 #b5b5b5 white #b5b5b5;
}

div.teaser-component div.active-right { 
    border-width: 1px;
    border-style: solid solid solid none;
    border-color: #b5b5b5 #b5b5b5 white #b5b5b5;
}

div.teaser-component div.passive { 
    border: 1px solid #b5b5b5;
    background-color: #e7e7e7;
}

div.teaser-component div.list {
    padding: 10px 5px;
}

div.teaser-component li.bold {
    font-weight: bold;
}


div.teaser-component div.active-left span,
div.teaser-component div.active-right span,
div.teaser-component div.passive span {
    cursor:pointer;
}

div.related-links ul li {
  padding-bottom: 10px;
  padding-right: 10px;
}

div.push-component div.mediatype-blog ul li {
        background-image:none;
	font-size:11px;
	font-weight:700;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	padding-top:0;    
}

div.push-component div.mediatype-blog ul li a {
	color:#FCAF17;
}

ul li.blog {
    	background-position: 0 2px !important; 
}

ul li.video {
    	background-position: 0 1px !important;
}

ul.teaser-footer-link li {
	font-weight: bold;
	font-size: 13px;
}

div.push-component div.border,
div.teaser-component div.border {
    background-image: url('dotted-b5b5b5-border-100x100.gif');
    background-repeat: repeat;
    background-position: top left;
    float: left;
}

div.teaser-component div.teaser-component-most div.border {
    background-image: none;
    border: 1px solid #b5b5b5;
    float: none;
}

div.push-component div.border-inner,
div.teaser-component div.border-inner {
    margin: 1px;
}

div.one-col div.border div.border-inner {
	width: 177px;
	overflow: hidden;
}

div.two-col div.border div.border-inner {
	width: 371px;
	overflow: hidden;	
}

div.three-col div.border div.border-inner {
	width: 565px;
	overflow: hidden;	
}

div.push-component div.two-col div.image {
	float: left;
}

div.push-component div.three-col div.image {
        float: left;
}

div.push-component div.two-col div.mediatype-blog div.image,
div.push-component div.three-col div.mediatype-blog div.image {
        margin-left: 7px;
	margin-bottom: 7px;
	display: inline; /* Fixes double margin bug in IE6 (?) */
}

div.push-component div.two-col div.large-image div.mediatype-blog div.image {
        margin-left: 0;
}

div.push-component div.one-col div.image {
        width: 163px;
	margin: 0 7px;
}

div.push-component div.one-col span.icon {
	background-position: center center;
	background-repeat: no-repeat;		
}

div.push-component div.two-col span.icon {
	background-position: center center;
	background-repeat: no-repeat;		
}

div.push-component div.one-col div.mediatype-photo span.icon,
div.push-component div.two-col div.mediatype-photo span.icon {
	background-image: url(gallery_play2.gif);
}

div.push-component div.one-col div.mediatype-video span.icon,
div.push-component div.two-col div.mediatype-video span.icon {
	background-image: url(video_play2.gif);
}

div.push-component div.text {
       overflow: hidden;
}

div.push-component div.two-col div.text {
	margin: 0 7px;
}

div.push-component div.three-col div.text {
	margin: 0 7px;
}	

div.push-component div.one-col div.text {
        margin: 0 7px;
}

div.push-component div.two-col div.large-image div.mediatype-blog div.text {
        margin: 0 7px;
}

div.push-component div.mediatype-blog img.blog-avatar {
	float: left;
	margin: 2px 7px 3px 0;
}

div.poll-component div.border {
        border: 1px solid #B5B5B5;
}

div.poll-component div.padder {
	padding: 7px;
	padding-bottom: 10px;
}

div.poll-component h2 {
        font-size: 16px;
	color: #666;
}

div.poll-component ul.tabs li {
	border-top:1px solid #B5B5B5;
	border-right:1px solid #B5B5B5;
	border-left:1px solid #B5B5B5;
}

div.poll-component ul.tabs li a {
	color: #000000;
        background: #E7E7E7;
}

div.poll-component ul.tabs li a.active {
	background: #ffffff;
	color:#000000;
}

/* Fix for IE to get hasLayout property set */
div.poll-component p {
    position: relative;
}

div.keyline-component {
    /* Fix for IE to get hasLayout property set */
    display: inline-block;
}
div.keyline-component {
       clear: both;
       background: url(dotted-background-border-666666.gif);
       padding: 1px 0 0 1px;
       margin-bottom: 10px;
        /* Fix for IE to get hasLayout property set */
       display: block;
}

div.keyline-component div.text {
       padding-left: 4px;
       padding-top: 2px;
}

div.keyline-component div.text h4,
div.keyline-component div.text h4 a {
       font-size: 12px;
       font-weight: bold;
       color: #646464;
       text-transform: uppercase;
       text-decoration: none;
}

div.keyline-component div.text h4 a:hover {
       text-decoration: underline;
}
    
div.keyline-component-container {
       background-color: white;
}

div.search-form-button {
       float: left;
       margin-top: -2px;
}

div.ad {
  margin-bottom: 10px;
  text-align: center;
}    

div.ad-rectangle {
}

div.ad-rectangle-edit {
  background-color: #eee;
}

div.ad-msg {
    text-align: center;
}

span.ad-msg {
    color: #999;
    font-size: 10px;
    font-weight: 700;  
}

div.article-item-wrapper {
  float: right;
}

div.article-column-4 {
  float: left;
  width: 179px;
  overflow: hidden;
}

div.article-column-5 {
  float: left;
  width: 179px;
  margin-left: 15px;
  overflow: hidden;
}

div.article-tools {
  width: 179px;
  float: left;
}

div.article-copy-link {
  margin-top: 30px;
}

div.dotted-line-rating {
  width: 179px;
  height: 2px;
  background-image: url(dotted-line-rating.gif);
  background-repeat: repeat-x;
}

div#mt-rating {
  padding: 5px;
}


div.related-links {
  width: 169px;
  padding: 5px;
  border-top: 1px solid #62991F;
  border-bottom: 1px solid #62991F;
}

div.related-links div.title h4 {
  color: #62991F;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 10px;
}

div.related-links a {
    color: #264A04;
}


/* CUSTOM HTML CSS */
div.outer-wrapper {
    margin: 0 auto;
    width: 1000px;
}

div.custom-html {
    /* 1000 + (142 * 2) */
    width: 1284px;
}

div.custom-top-html {
}

div.custom-side-html-left,
div.custom-side-html-right,
div.custom-side-html {
}


div.page-border {
    background-image: url('dotted-background-border-100x100.gif');
    background-repeat: repeat;
    background-position: top left;
}

/* -------- HEADER --------- */
div.header {
  width: 1000px;
  overflow: hidden;
  height: 90px;
  margin-top: 5px;
  background-image: url('header-background.jpg');
  background-repeat: no-repeat;
  background-position: top left;
}

div.logotype {
   float: left;
   width: 233px;
   margin: 11px 0 ;
   height: 68px;
   overflow: hidden;
}

div.promo {
  float:  left;
  width:  120px;
  height: 68px;
  margin: 11px 0;
  overflow: hidden;
}

div.promo-large {
  float:  left;
  width:  230px;
  height: 68px;
  margin: 11px 0;
  overflow: hidden;
}

div.header-delimiter {
  float:      left;
  background: #333333;
  height:     68px;
  width:      1px;
  margin:     11px 8px;
}

div.header-delimiter-no-line {
  float: left;
  height: 68px;
  width: 1px;
  margin: 11px 8px;
}

div.header-search {
    float: left;
    width: 235px;
    height: 42px;
    margin: 37px 11px 11px 0px;
    /* allow two rows of top search words: */
    /* overflow: hidden; */ 
    font-size: 11px;
}

div.header-search input.search-field {
  top: auto; /* FIXME: remove this when we remove global input css */
  float: left;
  width: 189px;
  height: 13px;
  font-size: 11px;
  color: #000000;
/*background-image: url('/templates/img/backgrounds/header-searchbox.gif');
  background-repeat: no-repeat;
  background-position: top left;*/
  border: 1px solid #666;
  padding: 2px 3px;
}

div.header-search input.search-button {
  float: left;
  margin-left: 5px;
  width: 25px;
  height: 19px;
  top: auto;  /* FIXME: remove this when we remove global input css */
}
      
div.top-searches {
  float: left;
  color: #fff;
  width: 235px;
  height: 23px;
  line-height: 11px;
  overflow: hidden;
  margin:   3px 0 0 0;
}

a.top-search-link,
a.top-search-link:hover {
  color: #fff;
}

h4.search-results-heading a {
  color: #264A04;
}

div.header-advertisement {
  float:    left;
  width:    230px;
  height:   90px;
  overflow: hidden;
  margin-bottom: 0;
}

div.header-advertisement div.ad-msg,
#adadcomp-7 div.ad-msg,
#adadcomp-8 div.ad-msg,
#adadcomp-9 div.ad-msg {
  display: none;
}

div.navigation {
  width: 1000px;
  margin-top: 5px;
}


/* Navigation */
ul.primary-nav {
    border-left:         1px solid black;
    height:              22px;
    list-style-image:    none;
    list-style-position: outside;
    list-style-type:     none;
}

ul.primary-nav {
  font-size: 14px;
}

ul.primary-nav a {
    text-decoration: none;
    color: #000;
}

ul.primary-nav a:hover {
    text-decoration: underline;
    color:           #000;
}

/* Level 1 item */
ul.primary-nav li {
    float: left;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    margin-left: -1px;
    padding:      3px 9px 0 9px;
    height:       18px;
}

/* Level 1 item text */
ul.primary-nav li a {
    color: #000;
}

/* Level 1 selected item background */
ul.primary-nav li.selected-1,
ul.primary-nav li.selected-2,
ul.primary-nav li.selected-3,
ul.primary-nav li.selected-4,
ul.primary-nav li.selected-5,
ul.primary-nav li.selected-6,
ul.primary-nav li.selected-7,
ul.primary-nav li.selected-8,
ul.primary-nav li.selected-9,
ul.primary-nav li.selected-10,
ul.primary-nav li.selected-11,
ul.primary-nav li.selected-12,
ul.primary-nav li.selected-13,
ul.primary-nav li.selected-14,
ul.primary-nav li.selected-15 {
    background-color: #333;
}

/* Level 1 selected item text */
ul.primary-nav li.selected-1 a,
ul.primary-nav li.selected-2 a,
ul.primary-nav li.selected-3 a,
ul.primary-nav li.selected-4 a,
ul.primary-nav li.selected-5 a,
ul.primary-nav li.selected-6 a,
ul.primary-nav li.selected-7 a,
ul.primary-nav li.selected-8 a,
ul.primary-nav li.selected-9 a,
ul.primary-nav li.selected-10 a,
ul.primary-nav li.selected-11 a,
ul.primary-nav li.selected-12 a,
ul.primary-nav li.selected-13 a,
ul.primary-nav li.selected-14 a,
ul.primary-nav li.selected-15 a {
    color: #fff;
}

ul.primary-nav li.with-logo-left,
ul.primary-nav li.with-logo-right {
    padding-top: 0 !important;
    height: 21px !important;
    overflow: hidden;
}

ul.primary-nav li.with-logo-left {
    padding-left: 0 !important;
}

ul.primary-nav li.with-logo-right {
    padding-right: 0 !important;
}

ul.primary-nav li.with-logo-right a.logo {
    margin-left: 3px;
    margin-right: 1px;
    float: left;
}

ul.primary-nav li.with-logo-left a.logo {
    margin-left: 1px;
    margin-right: 3px;
    float: left;
}

ul.primary-nav li.with-logo-left a.next-to-logo,
ul.primary-nav li.with-logo-right a.next-to-logo {
    margin-top: 3px;
    float: left;
}

/* Level 2 item */
ul.secondary-nav {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 2px 0 0 5px;
  height: 20px;
  background-color: #333;
  font-size: 11px;
  line-height: 20px;
  overflow: hidden;
}

ul.secondary-nav a {
    text-decoration: none;
    color:           #FFFFFF;
    font-weight:     bold;
    padding:         0 5px 0 5px;
}

ul.secondary-nav a:hover {
    text-decoration: underline;
    color:           #FFFFFF;
}

ul.secondary-nav li {
    float:left;
}

/* Level 2 item text */
ul.secondary-nav li a {
    color: #fff;
}

/* Level 2 selected item background */
ul.secondary-nav li.selected {
  background-image: url(second-nav-selected-bg.gif);
  margin: 0 -3px;
  padding: 0 3px;
}

/* Level 2 selected item text */
ul.secondary-nav li.selected a,
ul.secondary-nav li.selected a:hover {
  color: #000;
}

/* Level 2 delimiter */
ul.secondary-nav li.delimiter {
  color: #fff;
  font-weight: bold;
}


/* Quicklinks */
ul.secondary-nav li.quicklinks {
  float: right;
  margin-right: 11px;
  display: inline; /* Fixes double margin bug in IE6 (?) */
}

ul.secondary-nav li.quicklinks ul li.quicklink-rss img {
    float: left;
    margin-top: 2px;
}

ul.secondary-nav li.quicklinks a {
  padding: 0 3px;
  display: inline;
}

li.quicklinks ul {
  list-style-image:    none;
  list-style-position: outside;
  list-style-type:     none;
}

.now {
  margin: 0 0 5px 7px;
  padding-top: 3px;
  font-size: 11px;
  color: #808080;
}

div.banner {
  width:  1000px;
  margin: 5px 0 0 0;
}

div.banner div.ad-msg {
  display: none;
}

div.article-comments-disclaimer { }
p.article-comments-disclaimer-text {
    padding-bottom: 10px;
    font-style: italic;
    font-size: 10px;
    color: #666;
}

div.map-component h3 {
    color: black;
}

div.html-component {
    float: left;
}

/* Footer */
div.footer {
    clear: both;
    text-align: left;
    margin: 0 auto;
    background-color: #353535;
    background-image: url('metro_logo_footer_167x55.jpg');
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 70px;
    padding: 10px;
    color: #fff;
    font-size: 11px;
}
div.footer p {
    color: #fff;
    font-size: 11px;
}

div.footer a,
div.footer a:hover {
    color: #fff;
}

div.footer-extra {
    margin: 1px 1px 0px 1px;
    background-color: #FAFAFA;
    padding: 10px;
    font-size: 11px;    
}

div.footer-extra table {
    font-size: 11px;
    width: 100%;
    margin-bottom: 10px;
}

div.footer-extra table tr td {
    vertical-align: top;
}

div.footer div.footer-text,
div.footer-extra div.footer-text {
    float: left;
}

div.footer-extra td.footer-extra-table-divider {
    background-image: url('dotted-background-border.gif');
    background-position: -1px top;
    background-repeat: repeat-y;
    padding-left: 10px;
}

div.footer-extra table tr.footer-extra-bottom-row td {
    padding-top: 15px;
}

div.footer h4,
div.footer-extra h4 {
    font-size: 14px;
    padding-bottom: 10px;
}

div.footer ul li ul,
div.footer-extra ul li ul {
    padding-top: 4px;
}

div.footer ul li,
div.footer-extra ul li {
    padding-left: 10px;
}

div.footer ul li b,
div.footer-extra ul li b {
    font-size: 12px;
}

/* Twitter article tool */
ul li.tools-twitter {
  padding:0px 20px 9px 25px;
  background:url(twitter-share-icon.png) no-repeat;
  background-position: 3px top;
  text-transform: none;
}

/* *** END FILE:/templates/css/1/metro2.css *** */
	
/* *** BEGIN FILE:/templates/css/1/typography.css *** */
body {
	font-family:arial, sans-serif;
}
/*** PARAGRAPHS ***/
p {
	color: #000000;
}
v-big {
	font-size:1.4em;
}
p.big {
	font-size:1.1em;
}
.medium {
	font-size:1em;
}
.small {
	font-size:0.8em;
}
.v-small {
	font-size:0.7em;
}
.x-small-333 {
	font-size:0.6em;
	color:#333;
}
/*** HEADINGS ***/
h1.headline {
	color: #000000;
	font-size:1.6em;	
}
h1.small-heading {
	color:#3D7311;
	font-size:1.3em;
}
h1.fc-reader {
	color:#ffaf00;
}
h1.fc-metro {
	color:#3D7311;
}
h2 {
	color:#000;
	font-size:1.1em;
}
h2.small {
	font-size:0.8em;
}
h3 {
	color:#3D7311;
	font-size:1em;
}
h3.small-666 {
	color:#666;
	font-size:0.8em;
}
h4.big-teaser-heading {
	font-size:1.35em;
	line-height:1em;
	padding-bottom:0.1em;
	margin-bottom:-0.1em;
	color:#3D7311;
}
h4.small-teaser-heading {
	font-size:0.8em;
	line-height:1.2em;
	color:#3D7311;
}

h4.teaser-heading-grey {
	color:#666;
	font-size:1em;
}

/*** QUOTES ***/
blockquote {
	color:#fff;
	font-size:0.8em;
	font-weight:bold;
}
/* Blockquote */
blockquote.user-generated-quote {
  background:url('open-pull-quote-32x27.gif') no-repeat 3px 3px;
}
blockquote.user-generated-quote div {
	background:url('close-pull-quote-32x27.gif') no-repeat bottom right;
	padding:29px 0px 20px 0px;
	margin-right:3px;
}
blockquote.metro-generated-quote {
	background:url('open-metro-pull-quote-32x27.gif') no-repeat 3px 3px;
}
blockquote.metro-generated-quote div {
	background:url('close-metro-pull-quote-32x27.gif') no-repeat bottom right;
	padding:29px 0px 20px 0px;
	margin:0px 3px 3px 0px;
}
blockquote.user-white {
	background:url('open-user-quote-white.gif') no-repeat top left;
	padding-left:14px;
	padding-top:29px;
}
blockquote.user-white div {
	background:url('close-user-quote-white.gif') no-repeat bottom right;
	padding-bottom:22px;
}
/*** LINKS ***/
a {
    color: #000000;
    text-decoration:none;
}
a:hover {
    color: #000000;
    text-decoration:underline;
}
a.white-rollover:hover {
	color:#fff;
}
a.body-link {
	color:#360;
	text-decoration:underline;
	font-weight:bold;
}
.call-to-action-center {
	font-size:0.75em;
	line-height:1.4em;
	font-weight:bold;
	color:#fff;
}
.call-to-action-center a {
	color:#fff;
}
.call-to-action-center a:hover {
	text-decoration:underline;
	color:#fff;
} 
/*** LINK LISTS ***/
ul {
	list-style:none;
}

ul.link-list li {
  	background:transparent url(green-chevron-10x10.gif) no-repeat 0px 4px;
	line-height:0.9em;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding-left:18px;
}

ul.link-list.bg-ffb000 li {
	font-size:0.7em;
	line-height:1.4em;
	background:url(green-chevron-10x10.gif) no-repeat 0px 2px;
	padding-left:18px;
}


/* Blog pushes **/
.small-blog-teaser-heading a:hover {
color:#FFB000;
text-decoration:underline;
}

.small-blog-teaser-heading {
color:#FFB000;
font-size:1em;
line-height:1em;
}

.big-blog-teaser-heading a:hover {
color:#FFB000;
text-decoration:underline;
}

.big-blog-teaser-heading a {
color:#FFB000;
}

.small-blog-teaser-heading a {
color:#FFB000;
}

ul.link-list.bg-fcf6c8 li {
	font-size:0.7em;
	line-height:1.4em;
	background:url(green-chevron-bg-fcf6c8.gif) no-repeat 0px 2px;
	padding-left:18px;
}
ul.mp-link-list li {
	list-style:none;
	font-size:0.7em;
	line-height:1.3em;
	padding-bottom:5px;
}
ul.mp-link-list li {
	background:url(green-chevron-10x10.gif) no-repeat 6px 3px;
	padding-left:27px;
}
ul.mp-link-list li.user-generated {
	background:url(user-comment-17x15.gif) no-repeat 0px 0px;
	padding-left:27px;
}
ul.ug-link-list li {
	background:url(user-comment-20x18.gif) no-repeat 0px 3px;
	padding-left:28px;
	list-style-type:none;
}
ul.ug-link-list li a {
	font-size:0.7em;
	font-weight:bold;
	color:#666;
}
ul.ug-link-list li a .ug-title {
	color:#3D7311;
	line-height:1.1em;
}
ul.link-list-light  {
	list-style:none;
}
ul.link-list-light  li {
	background:transparent url(green-chevron-10x10.gif) no-repeat scroll 0px 1px;
	font-size:0.7em;
	font-weight:normal;
	line-height:1.1em;
	padding-bottom:5px;
	padding-left:18px;
}
.inline li {
	display:inline;
	margin-right:5px;
}
ul.link-list-x-small {
	list-style-type:none;
}
ul.link-list-x-small li {
	background:url(green-chevron-bg-green.gif) no-repeat 0px 0px;
	font-size:0.6em;
	 * font-size:0.7em;
	line-height:1.2em;
	padding:0px 0px 4px 16px;
}
ul.link-list-x-small li a:hover {
	color:#fff;
}
/*** NAVIGATION LISTS ***/
.home {
	position:relative;
	top:0px;
	background:#fff;
	border-top:0px;
	margin-bottom:0px;
	padding:0px 20px 10px 0px;
}

/* Article Tools */
ul.tools {
	margin-left:5px;
	list-style-type:none;
	text-transform:uppercase;
	font-size:0.7em;
}
ul.tools li{
	float:left;
	width: 129px;
}
ul li.tools-comments {
	padding:0px 20px 9px 25px;
	background:url(user-comment-20x18.gif) no-repeat top left;
}
ul li.tools-comments a,
ul li.tools-comments a:hover {
  color: #FCAF17;
  font-weight: 700;
}
ul li.tools-print {
	padding:0px 20px 9px 25px;
	background:url(tools-print.gif) no-repeat top left;
}
ul li.tools-share {
	padding:0px 20px 9px 25px;
	background:url(tools-share.gif) no-repeat top left;
}
ul li.tools-rss {
	padding:0px 20px 9px 25px;
	background:url(tools-rss.gif) no-repeat top left;
}
ul li.tools-newsvine {
	padding:0px 20px 9px 25px;
	background:url(tools-newsvine.gif) no-repeat top left;
}
ul li.tools-delicious {
	padding:0px 20px 9px 25px;
	background:url(tools-delicious.gif) no-repeat top left;
}
ul li.tools-wikio {
	padding:0px 20px 9px 25px;
	background:url(tools-wikio.gif) no-repeat top left;
}
/* Aggregated Content */
ul.aggregated-menu {
	list-style:none;
	width:161px;
}
ul.aggregated-menu li.aggregated-level-1 {
	padding:0px 5px 0px 18px;
}	
ul.aggregated-menu li.closed {
	background:transparent url(plus-14x13.png) no-repeat 0px 4px !important;
	background:transparent url(plus-14x13.gif) no-repeat 0px 4px;
}
ul.aggregated-menu li.open {
	background:transparent url(minus-14x13.png) no-repeat 0px 4px !important;
	background:transparent url(minus-14x13.gif) no-repeat 0px 4px;
}
ul.aggregated-level-2 {
	list-style:none;
}
ul.aggregated-level-2 li {
	padding-bottom:3px;
}
/* Classifieds */
ul.classifieds-teaser-lists li {
	list-style-type: none;
	display:inline;
	text-transform:uppercase;
}
ul.classifieds-teaser-lists li.property {
	position:absolute;
	left:230px;
	top:70px;
}
ul.classifieds-teaser-lists li.property a {
	background: url(property-21x17.gif) no-repeat 0px 20px;
	width:21px;
	height: 17px;
	padding: 5px 10px 25px 3px;
	position:relative;
}
ul.classifieds-teaser-lists li.property a:hover {
	background: url(property-hover-21x17.gif) no-repeat 0px 20px;
	width:21px;
	height: 17px;
	padding: 5px 10px 25px 3px;
	position:relative;
}
ul.classifieds-teaser-lists li.dating {
	position: absolute;
	left:440px;
	margin-top:114px;
}
ul.classifieds-teaser-lists li.dating a {
	background: url(dating-25x16.gif) no-repeat 0px 20px;
	width:21px;
	height: 17px;
	padding: 5px 10px 25px 0px;
	position:relative;
}
ul.classifieds-teaser-lists li.dating a:hover {
	background: url(dating-hover-25x16.gif) no-repeat 0px 20px;
	width:21px;
	height: 17px;
	padding: 5px 10px 25px 0px;
	position:relative;
}
ul.classifieds-teaser-lists li.education {
	position: absolute;
	left:553px;
	margin-top:114px;
}
ul.classifieds-teaser-lists li.education a {
	background: url(education-13x16.gif) no-repeat 0px 20px;
	width:21px;
	height: 17px;
	padding: 5px 10px 25px 12px;
	position:relative;
}
ul.classifieds-teaser-lists li.education a:hover {
	background: url(education-hover-13x16.gif) no-repeat 0px 20px;
	width:21px;
	height: 17px;
	padding: 5px 10px 25px 12px;
	position:relative;
}
ul.classifieds-teaser-lists li.cars {
	position: absolute;
	left:696px;
	margin-top:150px;
}
ul.classifieds-teaser-lists li.cars a {
	background: url(cars-29x16.gif) no-repeat 0px 20px;
	width:21px;
	height: 17px;
	padding: 5px 10px 25px 15px;
	position:relative;
}
ul.classifieds-teaser-lists li.cars a:hover {
	background: url(cars-hover-29x16.gif) no-repeat 0px 20px;
	width:21px;
	height: 17px;
	padding: 5px 10px 25px 15px;
	position:relative;
}
ul.classifieds-teaser-lists li.jobs {
	position: absolute;
	left:825px;
	margin-top:95px;
}
ul.classifieds-teaser-lists li.jobs a {
	background: url(jobs-23x21.gif) no-repeat 0px 5px;
	width:21px;
	height: 17px;
	padding: 0px 10px 10px 25px;
	position:relative;
}
ul.classifieds-teaser-lists li.jobs a:hover {
	background: url(jobs-hover-23x21.gif) no-repeat 0px 5px;
	width:21px;
	height: 17px;
	padding: 0px 10px 10px 25px;
	position:relative;
}
/* Ratings Lists */
ul.start-ratings-list {
	list-style-type: none;
}
ul.start-ratings-list li {
	display:inline;
	margin-left:-4px;
}
/* PAGINATION */
ul.pagination li {
	text-align:center;
	text-transform:uppercase;
	display:inline;
}
ul.pagination-list {
	list-style: none;
	float:left;
	padding:0px 5px;
}
ul.pagination-list li {
	display:inline;
}
/*** MISC ***/
.indent {
	text-indent:10px;
}
.access-text {
	display:none;
}
.bold {
	font-weight:bold;
}
.normal {
	font-weight:normal;
}
/*** COLOURS ***/
.color-360 {
	color:#360;
}
.color-fff {
	color:#fff;
}
.color-000 {
	color:#000;
}
.color-ec008c {
	color:#ec008c;
}
.color-c65b46 {
	color:#c65b46;
}
a.pagination {
	font-size:0.9em;
	padding:0px 5px;
}
a.pagination-text {
	font-size:0.9em;
	padding:0px 0px 0px 18px;
}
.current-page {
	font-size:0.9em;
	color: #666;
	font-weight: bold;
}
a.small {
	font-size:0.7em; 
	color:#3D7311;
	text-decoration:none;
}
a.small:hover {
	text-decoration:underline;
	color:#3D7311;
}
label {
	color: #666;
	font-size: 0.7em;
}
.your-voice-error-text {
	font-size: 0.7em;
	font-weight:bold;
	color:#f2270c;
	padding:3px 0px;
}
.pipe {
	font-size:0.7em;
	color:#360;
	font-weight:bold;
}
.error-text {
	font-size: 0.7em;
	font-weight:bold;
	color:#f2270c;
	padding: 3px 0px;
}
ul.aggregated-menu-rss {
	list-style:none;
	width:176px;
	display:block;
	border-right:3px solid #CBDB29;
	min-height:380px;
}
ul.aggregated-menu-rss li.aggregated-level-1 {
	padding:3px 5px 3px 18px;
	border-bottom:1px dotted #62991F;
} 
ul.aggregated-menu-rss li.closed {
	background:#FFFFFF
	/*background:#fff url(/templates/img/lists/plus-14x13.png) no-repeat 0px 4px !important;
	background:#fff url(/templates/img/lists/plus-14x13.gif) no-repeat 0px 4px;*/
}
ul.aggregated-menu-rss li.open {
	background:#FFFFFF
	/*background:#fff url(/templates/img/lists/minus-14x13.png) no-repeat 0px 4px !important;
	background:#fff url(/templates/img/lists/minus-14x13.gif) no-repeat 0px 4px;*/
}
ul.aggregated-rss-level-2  {
	list-style:none;
}
ul.aggregated-rss-level-2 li {
	/*background:transparent url(/templates/img/lists/green-chevron-10x10.gif) no-repeat 20px 7px;*/
	font-size:0.9em;
	line-height:1.1em;
	font-weight:normal;
	padding: 5px 0px 4px 37px;
}
ul.link-list-light.refine-search li {
	list-style:none;
	line-height:0.9em;
	font-size: 1em;
	background:url(green-chevron-10x10.gif) no-repeat 0px 5px;
	padding-top:5px;
	padding-left:18px;
}
ul.link-list-light.refine-search-list  li {
	padding-bottom:8px;
}
ul.pagination-list {
	list-style: none;
	float:left;
	padding-left: 10px;
}
ul.pagination-list li {
	list-style: none;
	display:inline;
}
.color-666 {
	color: #666;
}
h1.page-heading {
	color:#666;
	font-size:1.1em;
}
h4.search-results-heading {
	font-size:0.95em;
	line-height:1.2em;
	color:#3D7311;
}
ul.ugc-link-list li {
	background:url(user-comment-20x18.gif) no-repeat 0px 0px;
	padding-left:28px;
	list-style-type:none;
}

#pg-description{
	overflow: hidden;
}

/* *** END FILE:/templates/css/1/typography.css *** */
	
/* *** BEGIN FILE:/templates/css/1/roxen-style-changes.css *** */
.rating-outer-box {
    margin-left: 5px;
}

#clubmetro {
   margin-left: 4px;
  }

.col-179 {
  overflow: hidden;
}

.col-373 {
  overflow: hidden;
  
}

.col-567 {
  overflow: hidden;
}

.col-761 {
  overflow: hidden;
}

/* Extra class for 5-Column article layout used when article contains
   5-Column iframes. */
.col-955 {
  width: 955px;
  overflow: hidden;
}

	
/*Style for city selector: NOOOO
#city-filter {
  display: none;  
}
*/

/* Style for city selector header because it couldn't use the h1-tag 
   for search engines optimization reasons */
div.headline {
  color: #3D7311;
  font-size: 1.6em;
  font-weight: bold;
}

/* SEO: subtitle changed from <p> to <h2> */
h2.big {
  font-size: 1.1em;
  color:     #666666;
  font-weight: normal;
}

/* Style for push */
ul.link-list li {
  background:transparent url(green-chevron-10x10.gif) no-repeat scroll center left;
}

/* Style for third navigation */
.third-nav-middle ul.link-list li {
  background: transparent url(green-chevron-10x10.gif) no-repeat scroll top left;
}


/* Style for blogicon added, missing in typograh css file */

ul.link-list-light li.user-generated {
	background: transparent url(user-comment-17x15.gif) no-repeat scroll 0px;
	padding-left: 27px;
}

.overflow-hidden {
	overflow: hidden;
}

/* Style for readspeaker */

ul li.tools-readspeaker {
	background: transparent url(audio-16x23.gif) no-repeat scroll left top;
	padding: 0px 20px 9px 25px;
}

ul li.tools-print {
  height: 17px;
}

#profile_login {
	background: #FCF6C8 none repeat scroll 0%;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 17px;
	padding-right :17px;
}

#profile_login label {
	font-size: 0.7em;
	line-height: 1.4em;
	color: black;
	padding: 10px 0px 0px;
}

#profile_login li {
	background: #FCF6C8 none repeat scroll 0%;
	padding: 0px;
}


#profile_login input {
	background: #FFFFFF none repeat scroll 0%;
	border: 1px solid #CCCCCC;
	margin-top: 5px;
}

#profile_login input[type="submit"] {
	margin-left: 150px;
}

.width-176 {
  width: 176px;
}

.width-230 {
  width: 230px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

/* Custom margins */
.margin-left-3 {
  margin-left: 3px;
}

/* customization for IE to make all components in the right col fit */
.margin-right-15 {
  *margin-right: 13px; 
}

.hfs-image-map-179 {
  position: relative;
  left: 128px;
  top: 0px;
}

.hfs-image-map-179-no-number {
  position: relative;
  left: 109px;
  top: 10px;
}

.hfs-image-map-373 {
  position:relative;
  left: 303px;
  top:8px;
}

/* Layout for table component */
table.table-article {
  width: 565px;
  font-family: arial,sans-serif;
  font-size: 0.8em;
  color: #666666;
}

table.table-article th {
  font-weight:700;
  text-align:left;
  padding:3px 0px 3px 6px;
}

table.table-article td {
 /* font-size: 10px;  */
 padding: 3px 3px 3px 6px; 
}

table.table-article tr.alternate td {
  background-color: #DDEADD; 
}

/* metro-generated-facts (a derivate from the quote) */
blockquote.metro-generated-fact {
  font-weight: 400;
}

blockquote.metro-generated-fact div {
  padding: 10px 5px 10px 10px;
  margin: 0px 3px 3px 0px;
}

blockquote.metro-generated-fact ul,
blockquote.metro-generated-fact ol {
  color: #666666;
}

/* metro-generated-quote (addition) */
blockquote.metro-generated-quote ul,
blockquote.metro-generated-quote ol {
  color: #666666;	
}

/* Featured content */
.fc-metro-container p a {
  color: #FFFFFF;
}

.fc-metro-container p a:hover {
  color: #3D7311;
  text-decoration: underline;
}

/* Carousel (slideshow) */
.carousel-pagination-next {
    background:url('next-20x19.gif') no-repeat top right;    
}

/* Search result pagination */
.previous-grey-button {
   background:   url('left-grey-chevron-10x10.gif') no-repeat left 2px;
   padding-left: 18px;
}

.next-grey-button {
   background:url('grey-chevron-10x10.gif') no-repeat right 2px;
}

.previous-button {
   background:url('left-green-chevron-10x10.gif') no-repeat left 2px;
   padding-left: 18px;
}

.next-button {
   background:url('green-chevron-10x10.gif') no-repeat right 2px;
}

.pagination-list {
   width:      353px;
}

.search-in-text {
  margin-right: 5px;
}

/* Fix empty background: url('') that generates extra requests */
.third-nav-middle ul.link-list li a.last {
  background-image: none;
}
.third-nav-middle ul.link-list li.active .last {
  background-image: none;
}


/* Map component */
.map {  
  width: 371px;
  height: 278px;
}

.map .marker {
  width: 217px;
  font-size: 10px;
}

.map .marker .title {
  font-size: 12px;
  font-weight: 700;
}

.map .marker .description {        
}

.map-description-wrapper { 
  background-color:#F3FCBF;
}

.map-description-p {
  color:#999999;
  font-size: 0.7em;
  padding: 5px 10px 10px;
}

.rss-component {
  float: left;
  width: 373px;
}

/* RSS List css changes */
ul.aggregated-rss-level-2 li.active {
  background: transparent url(linesbg-active-no-arrow.gif) no-repeat scroll -1px 1px;
}

.width-383 {
  width: 383px;
}


/* *** END FILE:/templates/css/1/roxen-style-changes.css *** */
	
/* *** BEGIN FILE:/templates/css/1/roxen.css *** */
div#panel_form_inner form table tr td table tr td {
	padding: 4px;
}
div#panel_form_inner input {
	top:0;
	margin: 0 2px;
	position: static;
}

.comp_edit_component_box option {
	padding-left: 3px;
	padding-right: 5px;
}

table#edit_table input {
	top:0;
	position:static;
}

.wiz_table {
	text-align: left;
}

tr.popup_item,
tr.popup_item_hover,
tr.popup_item_submenu,
tr.popup_item_submenu_hover,
tr.popup_item_disabled {
	text-align: left;
}

table#edit_table div#aggregated-content-wrap.height-380 {
	overflow:	hidden;
}


/* Hidden navigation menu items */
ul.primary-nav li a.strikeout,
ul.secondary-nav li a.strikeout {
	text-decoration:	line-through;
	color:			#888;
}

/*Style for blogicon added, missing in typograh css file*/
ul.link-list-light li.user-generated {
background:transparent url(user-comment-17x15.gif) no-repeat scroll 0px;
padding-left:27px;
}

u.body-link {
	color: #336600;
	font-weight: bold;
	text-decoration: underline;
}

u.a {
	color: #3D7311;
	text-decoration: none;
}

u.a-small {
	color: #336600;
	font-size: 0.7em;
	text-decoration: none;
}

.call-to-action u {
	color: #FFFFFF;
	text-decoration: none;
}

.content-box
{
 	background-color:	#FFFFFF;
	padding: 10px;
	width: 567px;
	text-align: left;
}
div.content-box
{
	padding:		8px 20px;
	/*	font-family:      <xsl:value-of select="$font-name-body"/>;*/
	/*      font-size:        11px;*/
	/*	color:            <xsl:value-of select="$font-color-body"/>;*/
	/*	line-height:      130%;*/
	/*	background-color: <xsl:value-of select="$page-bgcolor"/>;*/
}

.content-box td,
.content-box th {
	/*padding: 4px;*/
}

/* Editor widgets */

.roxen-editor-table {
	border: 1px solid #c9c9c6;
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
}

.roxen-editor-table th,
.roxen-editor-table td {
	padding: 3px;
}

.roxen-editor-table {
	border: 1px solid #c9c9c6;
	margin-bottom: 5px;
}

.roxen-editor-category {
	float: left;
	margin-right: 5px;
}
.roxen-editor-city {
	float: left;
	margin-right: 5px;
	clear: left;
}
.roxen-editor-mediatype {
	float: left;
	margin-right: 5px;
}



    /* Day Parting */
    div.dp-selector {
	float:		left;
	padding:	0 2px 0 0;
	cursor:		default;
    }
    div.dp-selector span.dp-choice {
	display:	block;
	color:		#3D7311;
	padding:	0 4px 0 0;
    }
    div.dp-selector span.dp-choice.open {
	background:	#bbcabb;
    }
    div.dp-selector span.dp-choice span.dp-popup {
	display:	none;
    }
    div.dp-selector span.dp-choice span.title,
    div.dp-selector span.dp-choice span.title2 {
	font-weight:	bold;
    }
    div.dp-selector span.blob,
    div.dp-selector span.dp-choice span.title {
	cursor:		pointer;
    }
    div.dp-selector span.dp-choice span.title2 {
	color:		#3D7311;
	padding-left:	2px;
    }
    div.dp-selector span.dp-choice.open span.dp-popup {
	display:	block;
	z-index:	9999;
	position:	absolute;
	background:	#bbcabb;
	border-bottom:	4px solid #bbcabb;
    }
    div.dp-selector div.heading {
	margin:		8px 8px 4px 8px;
	font-weight:	bold;
	color:		#fff;
	text-transform:	uppercase;
	letter-spacing:	1px;
	font-size:	95%;
    }
    div.dp-selector div.disabled,
    div.dp-selector div.item {
	margin:		0;
	padding:	0;
    }
    div.dp-selector div.disabled {
	color:		#666;
	margin-left:	16px;
    }
    div.dp-selector div.item a {
	display:	block;
	padding:	2px 8px 2px 0px;
	color:		#222;
	text-decoration:	none;
	white-space:	nowrap;
	cursor:		pointer;
    }
    div.dp-selector div.item.sel a {
	font-weight:	bold;
    }
    div.dp-selector div.item:hover a {
	background:	#222;
	color:		white;
    }
    div.dp-page-selector span.blob,
    div.dp-selector span.blob {
	display:	block;
	float:		left;
	width:		14px;
	height:		8px;
	border:		1px solid white;
	margin:		1px 3px 1px 2px;
	cursor:		pointer;
    }
    div.dp-selector div.item span.blob {
	margin-top:	2px;
	margin-left:	16px;
    }

    div.dp-page-selector {
	float: right;    
	width: 660px;
    }
    .dp-calendar {
      float: left;
      width: 54px;
      margin-left: 3px;
    }
    .dp-list {
      float: left;
      width: 600px;
    }
    div.dp-page-selector div.item {
	float:		left;
	width:		60px;
	height:		29px;
	text-align:	center;
	font-size:	90%;
	border:		4px solid #ccc; 
	margin:		0 3px 3px 0;
	padding:	2px;
	overflow: 	hidden;
    }
    div.dp-page-selector div.icon {
        border-width: 1px;
	width:		45px;
	height:		35px;
    }
    div.dp-page-selector div.item:hover {
/*	border:		1px solid green; */
	background:	white !important;
	cursor:		pointer;
    }
    div.dp-page-selector a {
	text-decoration: none;
    }
    div.dp-page-selector div.item.sel {
	background:	#bbcabb;
/*	border:		1px solid green; */
    }
    /*
    div.dp-page-selector div.item span.blob {
	float:		none;
	width:		24px;
	height:		14px;
	margin:		1px auto;
    }
    */
    div.dp-page-selector div.icon span.blob {
	width:		auto;
	height:		22px;
	border:		none;
	margin-left: 7px;
    }
    div.dp-page-selector div.item.disabled {
	opacity:	0.25;
	filter:         alpha(opacity=25); 	
    }
    div.dp-page-selector div.item.disabled:hover {
	opacity:	1.0;
	filter: 	alpha(opacity=100); 	
    }
    div.dp-page-selector div.item span.title {
	clear:		both;
	position:	relative;
	color:		black;
    }
/*    
    div.dp-page-selector div.item.disabled span.title {
	color:		#aaa; 
	filter:         alpha(opacity=75);
    }
    div.dp-page-selector div.item.disabled.sel span.title {
	color:		#666; 
	filter:         alpha(opacity=75); 
    }
*/
    div.dp-page-selector div.item.sel span.title {
	font-weight:	bold;
    }
    div.dp-page-selector div.item.disabled:hover span.title {
	color:		black;
    }
    div.dp-page-selector div.item:hover span.title {
	display:	block;
    }


    div#toolbar-calendar {
	/*float:		left; */
	display:	none;
	position: relative;
	z-index: 99999;
	left: -894px;
    }
    iframe#toolbar-calendar-iframe {
	position:	absolute;
	border:		3px solid #ccff00;
	padding:	0;
	margin:		0;
	z-index:	10000;
	width:		828px;
	height:		378px;
    }
    body#toolbar-calendar {
	margin:		0;
	padding:	0;
	background:	white;
    }

    body#toolbar-calendar div.info {
	height:		30px;
	text-align:	center;
	background:	#ccff00;
	color:		black;
    }
    body#toolbar-calendar div.info span {
	float:		left;
	padding:	8px 0 0 10px;
	margin:		0;
	font-family:	verdana,sans-serif;
	font-size:	11px;
    }
    body#toolbar-calendar div.info p {
	padding:	8px 0 0 0;
	margin:		0 100px;
	font-family:	verdana,sans-serif;
	font-weight:	bold;
	font-size:	11px;
	color:		#7fa308;
    }

    div.cal,
    div.day {
	float:		left;
	padding:	0;
	margin:		10px 10px 0 10px;
	cursor:		default;
    }
    div.day {
	margin-right:	0;
    }

    body#toolbar-calendar div.sep {
	float:		left;
	background:	url("internal-roxen-pixel-ccff00") 50% 0 repeat-y;
	width:		1px;
	height:		348px;
    }

    div.cal div.nav {
	text-align:	center;
	width:		245px;
	padding:	1px 0 9px 0;
	font-family:	verdana,sans-serif;
	font-size:	11px;
	font-weight:	bold;
    }
    div.cal div.nav span.prev,
    div.cal div.nav span.next {
	display:	block;
	font-weight:	normal;
    }
    div.cal div.nav span.prev {
	float:		left;
    }
    div.cal div.nav span.next {
	float:		right;
    }
    div.cal div.nav span a {
	text-decoration: none;
	color:		#555;
	cursor:		pointer;
    }
    div.cal div.heading,
    div.cal div.row {
	clear:		both;
    }
    div.cal div.heading span,
    div.cal div.row span {
	display:	block;
	float:		left;
	width:		35px;
	padding:	3px 0;
	text-align:	center;
	color:		white;
	background:	white;
	border-bottom:	1px solid #444;
	font-family:	verdana,sans-serif;
	font-size:	11px;
    }
    div.cal div.heading span {
	color:		#444;
	background:	#ccc;
	font-weight:	bold;
    }
    div.cal div.row a {
	text-decoration: none;
	cursor:		pointer;
    }
    div.cal div.row a:hover span {
	background:	#444 !important;
    }
    div.cal div.row a span.sel {
	font-weight:	bold;
	color:		yellow;
    }


    div.day div.nav {
	text-align:	center;
	width:		535px;
	padding:	1px 0 9px 0;
	font-family:	verdana,sans-serif;
	font-size:	11px;
	font-weight:	bold;
    }
    div.schedule {
	width:		535px;
	height:		308px;
	position:	relative;
	background:	url("timescale.gif") 0 0 no-repeat;
    }
    div.schedule div.slot {
	position:	absolute;
	display:	table;
	width:		118px;
	background:	#ccc;
	text-align:	center;
	opacity:	0.92;
    }
    div.schedule div.slot div.cent {
	#position:	absolute;
	#top:		50%;
	display:	table-cell;
	vertical-align:	middle;
	width:		120px;
	left:		0;
	right:		120px;
    }
    div.schedule div.slot span.cent2 {
	#position:	relative;
	#top:		-50%;
	padding-top:	2px;
	padding-left:	2px;
	display:	block;
	font-family:	verdana,sans-serif;
	font-size:	11px;
	color:		white;
	opacity:	1.0;
    }
    div.schedule div.slot span.dim {
	color:		#ddd;
	font-size:	9px;
	padding-top:	1px;
    }
    div.schedule div.slot.default {
	background:	#888;
	border-top:	1px solid #bbb;
	border-left:	1px solid #bbb;
	border-bottom:	1px solid #555;
	border-right:	1px solid #555;
    }
    div.schedule div.slot.daily {
	left:		120px;
	background:	#2a2;
	border-top:	1px solid #5d5;
	border-left:	1px solid #5d5;
	border-bottom:	1px solid #060;
	border-right:	1px solid #060;
    }
    div.schedule div.slot.weekly {
	left:		240px;
	background:	#22a;
	border-top:	1px solid #55d;
	border-left:	1px solid #55d;
	border-bottom:	1px solid #006;
	border-right:	1px solid #006;
    }
    div.schedule div.slot.exception {
	left:		360px;
	background:	#a22;
	border-top:	1px solid #d55;
	border-left:	1px solid #d55;
	border-bottom:	1px solid #600;
	border-right:	1px solid #600;
    }

    div.schedule div#indicator-line {
	position:	absolute;
	width:		531px;
	height:		1px;
	background:	url("internal-roxen-pixel-red") 0 0 repeat-x;
	z-index:	500;
	visibility:	hidden;
    }
    div.schedule div#indicator-text {
	position:	absolute;
	width:		31px;
	margin:		0 0 0 500px;
	padding:	2px;
	z-index:	500;
	text-align:	center;
	color:		white;
	font-family:	verdana,sans-serif;
	font-size:	9px;
	font-weight:	bold;
	background:	red;
	visibility:	hidden;
    }


    div.roxen-action-toolbar-on {
	display:	block;
	background:	#ddeadd;
	padding:	2px 3px;
    }
    div.roxen-action-toolbar-on,
    div.roxen-action-toolbar-on table {
	color:		#898;
	font-size:	10px;	
    }
    div.roxen-action-toolbar-on a,
    div.roxen-action-toolbar-on table a {
	color:		#3d7311;
    }
     
    div.roxen-action-toolbar-off {
	display:	none;
    }
    div.roxen-action-toolbar-on span.disabled {
	color:		#aba;
    }

    div.roxen-action-border-on {
	outline:	1px dotted #ccdacc;
	margin-bottom:	10px;
	min-height:	40px;
    }
    div.roxen-action-border-off {
	min-height:	1px;
    }

    div.roxen-action-border-on.colgroup {
	outline:	1px dashed red;
	margin-bottom:	0;
    }


    div.roxen-error-box {
	clear:		both;
	background:	#ffcccc;
	color:		red;
	padding:	4px;
	border:		1px dotted #ff8888;
	font-size:	11px;
	font-family:	helvetica;
    }


    .roxen-edit-box-off { }
    .roxen-edit-box-on {
      outline:          1px dotted #f8bb7b;
      background:       #faf9f3;
      -moz-outline:     1px dotted #f8bb7b;     /*  FIXME: invalid CSS  */
    }

    .roxen-edit-marker-off {
      visibility:       hidden;
      display:          block;
      position:         absolute;
    }

    .roxen-edit-marker-on {
      visibility:       visible;
      display:          block;
      position:         absolute;
      background:       URL(button_edit_comp.gif)
                        top left no-repeat;
      width:            28px;
      height:           13px;
      z-index:          1;
    }

    div.roxen-linkbrowser-anchor a {
      visibility:       visible;
      display:          block;
      position:         absolute;
      background:       URL(button_link_browser.gif)
                        top left no-repeat;
      width:            28px;
      height:           13px;
      z-index:          1;
    }

div#popuplinetop {
	font-size:1px;
	position:absolute;
	top:22px; left:0px;
	width:100%;
	height:5px;
	background-color:#EAEAEA;
}

div#popuplineleft {
	position:absolute;
	top:0px; left:0px;
	width:5px;
	height:100%;
	background-color:#EAEAEA;
}

div#popuplinebottom {
	position:absolute;
	left:0px;
	width:100%;
	height:5px;
        bottom:0px;
	background-image:url(http://www.metrofrance.com/templates/images/popup_bottom.gif);
	background-position:bottom left;
	background-repeat:repeat-x;
}

div#popupbar {
	position:absolute;
	top:0px; left:0px;
	text-align:right;
	padding-top:4px;
	z-index:2;
	background-color:#004B32;
	width:100%;
	height:18px;
}

div#popupbar .popupbar-title { 
  margin-left: 12px;
  align: left;
  text-align: left;
  color: white;
  display: block;
  float: left;
}

div#popupcontent {
	position:absolute;
	top:46px; left:22px;
	width:345px;
}

div.popup-image { 
  align: center;
  text-align: center;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

div.popup-nav-link { 
  color: #999999;
  z-index:2;
}

div.warning-on-admin-user {
    border: 5px solid red;
    padding: 10px;
    margin-bottom: 5px;
}

/* *** END FILE:/templates/css/1/roxen.css *** */
	
/* *** BEGIN FILE:/locale/fr/templates/css/1/typography.css *** */
ul li.tools-wikio {
  padding:0px 20px 9px 25px;
  background:url(wikio_14x14.png) no-repeat;
  background-position: 3px top;
  text-transform: none;
}

ul li.tools-facebook {
  padding:0px 20px 9px 25px;
  background:url(FaceBook_14x14.png) no-repeat;
  background-position: 3px top;
  text-transform: none;  
}

ul li.tools-myspace {
  padding:0px 20px 9px 25px;
  background:url(MySpace_14x14.png) no-repeat;
  background-position: 3px top;
  text-transform: none;  
}

/* *** END FILE:/locale/fr/templates/css/1/typography.css *** */
	