/* CSS Document */


#recherche_partenaire {
border:0px;
background-image:url(http://www.metrofrance.com/partenaires/immo_new/373x100/img/373X100_immo_ADD036.jpg); width:373px; height:100px; background-repeat:no-repeat;
margin:0;padding-top:32px; padding-left:10px;
font-family:Arial, Helvetica, sans-serif;
}

#recherche_partenaire img {border:0px;}

#recherche_partenaire img, #recherche_partenaire input {margin:0;padding:0;}

#recherche_partenaire form { width:220px;}

#recherche_partenaire input {margin:2px 0 0 0;font-family:Arial, Helvetica, sans-serif;font-size:10px;color:#000000;}

#recherche_partenaire br {display:none;}

#recherche_partenaire .recherche {background-image:url(http://www.metrofrance.com/partenaires/immo_new/373x100/img/fond.jpeg); width:179px; height:200px; background-repeat:no-repeat; position:relative; padding-left:10px;}

#recherche_partenaire .recherche_largeur { position:relative; }

#recherche_partenaire .ex_combien {width:80px;}

#recherche_partenaire .trouvez { position: absolute;top:80px;}

#recherche_partenaire .ch_quoi {width:80px;background:#eaeaea;font-size:9px;color:#666666;margin:0px;}
#recherche_partenaire .ch_ou {width:80px;background:#eaeaea;font-size:9px;color:#666666;margin:0px;}
#recherche_partenaire .ch_combien {width:80px;background:#eaeaea;font-size:9px;color:#666666;margin:0px;}

#recherche_partenaire .visible {display:block;}
#recherche_partenaire .invisible {display:none;}

.inputContainer {float:left; width:100px;}
.inputContainercombien {float:left; width:100px; padding-left:100px;}
