/**************************************/
/* Dimensionnement, positionnement... */
/**************************************/
/* largeurs */
#sideDivers .enMagasins{width:154px;}
#sideDivers  .carteCadeaux{width:153px;}
#sideDivers  .carteClub{width:153px;}

/*Menus latéraux*/
#sideMenus, #sideDivers {width:230px; position:absolute; top:125px; left:0;}
#sideDivers {top:125px; left:734px;}
#sideMenus h2, #sideDivers h2 {height:0; overflow:hidden;}

#sideMenus .loisirs h2 {padding-top:55px;}
#sideMenus .loisirs .boxend{height:20px;}
#sideMenus .accesDirect h2, #sideMenus .listeCadeaux h2 {padding-top:33px;}
#sideMenus .accesDirect div{padding:0px;}
#sideMenus .accesDirect .inner{padding:0px;padding-left:15px;width:138px;}
#sideMenus .accesDirect form div{padding:0px;width:138px;}
#sideMenus .magasins h2 {padding-top:31px;}
#sideMenus .services h2 {padding-top:34px;}
#sideMenus .offresSpeciales h2 {padding-top:42px;}
#sideMenus .listeCadeaux h2{padding-top:42px;}

#sideDivers .recherche h2 {padding-top:30px;}
#sideDivers .espacePerso h2,#sideMenus .espacePerso h2 {padding-top:57px;}
#sideDivers .magKids h2 {padding-top:48px;}
#sideMenus .jeuxOnline h2,#sideDivers .jeuxOnline h2 {padding-top:35px;}
#sideDivers .enMagasins h2 {padding-top:46px;}
#sideDivers .nousOnAime h2 {padding-top:34px;}
#sideDivers .memeFamille h2 {padding-top:46px;}
#sideDivers .trouverMagasin h2 {padding-top:40px;}
#sideDivers .chequesCadeaux h2 {padding-top:39px;}
#sideDivers .carteClub h2 {padding-top:46px;}
#sideDivers .carteCadeaux h2{padding-top:46px;}
#sideDivers .collectivites h2 {padding-top:30px;}
#sideDivers .annivGeoffrey h2 {padding-top:150px;}

#sideMenus div, #sideDivers div {margin-bottom:5px; padding-bottom:0px;}
#sideMenus div div, #sideDivers div div {margin:0;}
#sideMenus div div, #sideDivers div div, #sideMenus .accesDirect, #sideMenus .jeuxOnline,#sideDivers .jeuxOnline, #sideDivers .chequesCadeaux, #sideDivers .carteClub, #sideDivers .carteCadeaux, #sideDivers .collectivites {padding:0;}

#sideMenus .offresSpeciales .inner {padding:3px 39px 17px 47px;}
#sideMenus label, #sideDivers label {position:absolute; left:-10000px;}
#sideDivers .espacePerso label, #sideMenus .espacePerso label {display:block; padding:0.5em 0 0.3em 0; position:absolute; left:-9999px;top:-9999px; clear:left;}
#sideMenus .offresSpeciales label {padding-top:0;}

#sideMenus a, #sideDivers a, #footer a {text-decoration:none;}
#sideMenus a:hover, #sideDivers a:hover, #footer a:hover {text-decoration:underline;}
#sideMenus ul {margin:0; padding:2px 39px 2px 47px; font-weight:bold; line-height:1.5;}
#sideMenus li{padding:0.1em 0;}
#sideMenus li a, #sideDivers .carteCadeaux a, #sideDivers .espacePerso a,#sideDivers .collectivites a {display:block; padding-left:13px;font-weight:bold;}

#sideMenus .bestOf {margin:0 31px 5px 30px; padding:0;}
#sideMenus .bestOf a {margin-bottom:3px; padding:41px 0 0 0; height:0; overflow:hidden;}

#sideMenus .espacePerso .contenu {padding:3px 0px 2px 47px;}
#sideMenus .espacePerso form {padding:1em 0;}
#sideMenus .espacePerso ul {padding:0;}
#sideMenus .espacePerso .creer, #sideMenus .espacePerso .acces {padding:1em 0 0.5em 0;}
#sideMenus .espacePerso .creer a, #sideMenus .espacePerso .acces a {margin:0 auto; padding:52px 0 0 0; width:122px; height:0; overflow:hidden;}

#sideMenus .accesDirect form {margin:0; padding:0 47px;}
#sideMenus .accesDirect form div {padding:0;}
#sideMenus .accesDirect form {padding:0;}

#sideDivers p, #sideDivers ul, #sideDivers form {padding:2px 1px 4px 15px;}
#sideDivers .espacePerso p,#sideMenus .espacePerso p  {padding:0;padding-right:15px;}
#sideDivers .recherche{text-align:center;}
#sideDivers .recherche form {padding-right:0px;padding-left:13px;text-align:left;}
#sideDivers .recherche form div{padding-left:7px;width:128px;}
#sideMenus .espacePerso input, #sideDivers .espacePerso input, #sideDivers .recherche input {padding:0px;width:93px;font-weight:bold;height:12px;padding-bottom:4px;}
#sideMenus .espacePerso input, #sideDivers .espacePerso input{width:83px;}
/*#sideMenus .espacePerso input, #sideDivers .espacePerso input {display:block; width:105px;}*/

#sideMenus select, #sideDivers select {margin:6px 0; width:105px;height:20px; border:1px solid #aaa;}
#sideDivers select {width:105px;}

#sideMenus .accesDirect .submit, #sideDivers .espacePerso .submit,#sideMenus .espacePerso .submit, #sideDivers .recherche .submit, #sideDivers .trouverMagasin .submit {padding:0; width:25px; height:28px;}
#sideDivers .recherche .submit{margin-left:5px;}
#sideMenus .espacePerso .submit {margin:0px;}
#sideDivers .espacePerso .submit,#sideMenus .espacePerso .submit {/*margin:-23px 0 0 119px;*/float:right;margin-top:-33px;}

#sideDivers .nousOnAime ul, #sideDivers .memeFamille ul {padding:2px 4px 2px 12px;}

#sideDivers .nousOnAime li, #sideDivers .memeFamille li {padding-bottom:15px;}
#sideDivers .nousOnAime a, #sideDivers .memeFamille a {float:left; font-weight:bold; text-decoration:none;padding-left:13px;}
#sideDivers .nousOnAime a:hover{text-decoration:underline;}

#sideDivers .nousOnAime a span, #sideDivers .memeFamille a span {padding-left:5px; float:right;}

#sideDivers .thumbs a {display:block; float:none;}

#sideDivers .espacePerso .contenu,#sideMenus .espacePerso .contenu {/*padding:3px 39px 2px 47px;*/width:147px;padding-left:15px;}
#sideDivers .espacePerso form,#sideMenus .espacePerso form  {padding:1em 0 0 0;}
#sideDivers .espacePerso form p,#sideMenus .espacePerso form p{margin-bottom:7px;background:transparent url(champs_espace_perso.gif) left top no-repeat;height:21px;margin-bottom:7px;padding:5px 0 0 9px;}
#sideDivers .espacePerso form div,#sideMenus .espacePerso form div{width:133px;}
#sideDivers .espacePerso ul,#sideMenus .espacePerso ul  {padding:0;}
#sideDivers .espacePerso a,#sideMenus .espacePerso a,#sideMenus .espacePerso ul li a, #sideDivers .espacePerso ul li a {font-weight:normal;padding-left:0px;background:none;}
#sideDivers .espacePerso .creer, #sideDivers .espacePerso .acces ,#sideMenus .espacePerso .creer, #sideMenus .espacePerso .acces {padding:1em 0 0 0;}
#sideDivers .espacePerso .creer a, #sideDivers .espacePerso .acces a,#sideMenus .espacePerso .creer a, #sideMenus .espacePerso .acces a {margin:0 0; padding:56px 0 0 0; width:133px; height:0; overflow:hidden;cursor:pointer;}

#sideDivers .magKids p {padding-bottom:1em;}
#sideDivers .magKids img {float:left; border:1px solid #266e74;}
#sideDivers .magKids span {width:86px; float:right;}
#sideDivers .magKids li, #sideDivers .enMagasins li {padding-bottom:1em;}

#sideDivers .magKids a, #sideDivers .enMagasins a {font-weight:bold;}

#sideDivers .enMagasins a{padding-left:13px;display:block;margin-bottom:5px;}
#sideDivers .enMagasins .more{padding-bottom:0px;}
#sideDivers .enMagasins .more a{background:none;padding:0px;margin-bottom:0px;}
#sideDivers .enMagasins br{display:none;}
#sideMenus .jeuxOnline p,#sideDivers .jeuxOnline p {padding:5px 37px 0px 15px;}
#sideDivers .chequesCadeaux p {padding:5px 85px 15px 40px;}
#sideDivers .carteClub p {padding:5px 45px 0px 15px;}
#sideDivers .carteCadeaux ul {padding:5px 43px 0px 15px;}
#sideDivers .collectivites p {padding:5px 34px 0 0;}

#sideMenus .jeuxOnline a,#sideDivers .jeuxOnline a, #sideDivers .chequesCadeaux a, #sideDivers .carteClub a, #sideDivers .collectivites a {display:block;font-weight:bold;}

#sideMenus .jeuxOnline a,#sideDivers .jeuxOnline a{font-weight:normal;}

#sideDivers .annivGeoffrey, #sideDivers .pub {/*padding:5px 19px 10px 31px;*/width:179px;margin-right:5px;}

#sideDivers .annivGeoffrey p {padding:0 10px; text-align:center;}
#sideDivers .annivGeoffrey .accroche {padding-bottom:110px; font-size:1.2em; font-weight:bold;}
#sideDivers .annivGeoffrey .accroche strong {position:absolute; left:-10000px;}
#sideDivers .annivGeoffrey .contenu {padding-bottom:190px; font-size:1.1em;}
#sideDivers .annivGeoffrey .legal {padding-bottom:120px; font-size:0.9em; text-align:left;}
#sideDivers .annivGeoffrey .legal span {display:block; padding-right:50px;}

#sideDivers .heros {/* padding:0 20px 0 26px; */width:163px;}
#sideDivers .heros a{display:block;background:transparent url(herosSide.png) left top no-repeat;height:141px;width:163px;cursor:pointer;}
#sideDivers .heros img{display:none;}
/*Univers indépendants*/
#universIndependants li {float:left;}
#universIndependants a {display:block; height:0; overflow:hidden;}

#universIndependants a {padding-top:60px;cursor:pointer;}
#universIndependants .babies a {background:transparent url(bouton_babies.png) left top no-repeat;margin-left:18px; width:213px;}
#universIndependants .fiesta {margin-left:10px;}
#universIndependants .fiesta a {padding-top:63px;width:250px;background:transparent url(bouton_guide_anniversaire.png) left top no-repeat;margin-top:-5px;}

/*Footer*/
#footer li, #footer a {display:inline;}
#footer p {padding-top:1em;}

/************************/
/* Backgrounds + Colors */
/************************/

/*Menus latéraux*/
#sideMenus ul li a,#sideDivers ul li a {background:url(puce.png) no-repeat left top;vertical-align:middle;}
#sideMenus div div, #sideMenus .bestOf, #sideDivers .espacePerso ul, #sideMenus .espacePerso ul, #sideMenus .accesDirect {background:none;}
#sideMenus div,#sideDivers div {margin:auto;width:156px;background:none;padding-bottom:0px;margin-bottom:10px;}
#sideDivers div{margin-left:54px;}
#sideMenus ul{padding:2px 4px 2px 15px;background:none;}
#sideMenus .boxend {font-size:1px;}


#sideMenus .loisirs h2{background:transparent url(h2_tous_nos_loisirs.png) no-repeat left top;}
#sideMenus .loisirs .inner{background:transparent url(centre_tous_nos_loisirs.png) repeat-y left top;}
#sideMenus .loisirs .boxend{background:transparent url(end_tous_nos_loisirs.png) no-repeat left bottom;} 
#sideMenus .espacePerso {background-position:-230px 100%;}
#sideMenus .espacePerso .contenu {background:url(bg_sideMenus_simples.gif) repeat-y -230px 0;}
/*#sideMenus .espacePerso h2 {background-position:0 -55px;}*/



#sideMenus .accesDirect form div {background:none;}
#sideMenus .accesDirect h2{background:transparent url(h2_acces_direct.png) no-repeat left top;}
#sideMenus .accesDirect .inner{background:transparent url(centre_acces_direct.png) repeat-y left top;}
#sideMenus .accesDirect .boxend{background:transparent url(end_acces_direct.png) no-repeat left bottom;height:20px;}

#sideMenus .listeCadeaux h2{background:transparent url(h2_liste_cadeaux_online.png) no-repeat left top;}
#sideMenus .listeCadeaux .inner{background:transparent url(centre_liste_cadeaux_online.png) repeat-y left top;}
#sideMenus .listeCadeaux .boxend{background:transparent url(end_liste_cadeaux_online.png) no-repeat left bottom;height:19px;}

#sideMenus .magasins h2{background:transparent url(h2_les_magasins.png) no-repeat left top;}
#sideMenus .magasins .inner{background:transparent url(centre_les_magasins.png) repeat-y left top;}
#sideMenus .magasins .boxend{background:transparent url(end_les_magasins.png) no-repeat left bottom;height:17px;}

#sideMenus .services h2{background:transparent url(h2_nos_services.png) no-repeat left top;}
#sideMenus .services .inner{background:transparent url(centre_nos_services.png) repeat-y left top;}
#sideMenus .services .boxend{background:transparent url(end_nos_services.png) no-repeat left bottom;height:19px;}

#sideMenus .jeuxOnline,#sideDivers .jeuxOnline{position:relative;}
#sideMenus .jeuxOnline h2,#sideDivers .jeuxOnline h2{background:transparent url(h2_jeux_online.png) no-repeat left top;}
#sideMenus .jeuxOnline p,#sideDivers .jeuxOnline p{background:transparent url(centre_jeux_online.png) repeat-y left top;}
#sideMenus .jeuxOnline .boxend,#sideDivers .jeuxOnline .boxend{background:transparent url(end_jeux_online.png) no-repeat left bottom;height:19px;}
#sideMenus .jeuxOnline .pictoJeuxO,#sideDivers .jeuxOnline .pictoJeuxO{position:absolute;right:-20px;top:13px;width:65px;height:75px;background:transparent url(jeux_online.png) left top no-repeat;}

#sideDivers .collectivites{position:relative;}
#sideDivers .collectivites h2{background:transparent url(h2_ce.png) no-repeat left top;}
#sideDivers .collectivites p{background:transparent url(centre_ce.png) repeat-y left top;}
#sideDivers .collectivites .boxend{background:transparent url(end_ce.png) no-repeat left bottom;height:19px;}
#sideDivers .collectivites #pictoCe{position:absolute;right:-13px;top:26px;width:49px;height:47px;background:transparent url(ce.png) left top no-repeat;}
/*#sideMenus .jeuxOnline .pictoJeuxO{position:absolute;right:-20px;top:13px;width:65px;height:75px;background:transparent url(pictos/jeux_online.png) left top no-repeat;}*/


#sideMenus .offresSpeciales h2 {background:url(header_offresSpeciales.png) no-repeat;}
#sideMenus .offresSpeciales {background:url(end_offresSpeciales.gif) no-repeat 0 100%;}

/*#sideMenus .bestOf a {background:url(menus/bestOf.gif) no-repeat;}*/
/** mise en place du menu best of **/
#sideMenus .bestOf a{padding:51px 0 0;width:142px;margin:auto;cursor:pointer;}
#sideMenus .bestOf .nousOnAime a{background:transparent url(nousOnAime.png) left top no-repeat;}
#sideMenus .bestOf .promosMois a {background:transparent url(promosMois.png) left top no-repeat;}
#sideMenus .bestOf .trouverCadeau a {background:transparent url(trouverCadeau.png) left top no-repeat;}
#sideMenus .bestOf .actualites a {background:transparent url(actualites.png) left top no-repeat;}
#sideMenus .bestOf .nosMarques a {background:transparent url(nosMarques.png) left top no-repeat;}

#sideDivers h2 {background:url(headers_sideDivers.gif) no-repeat;}
/* #sideDivers .magKids, #sideDivers .enMagasins, #sideDivers .nousOnAime, #sideDivers .memeFamille, #sideDivers .trouverMagasin {background:url(menus/end_sideDivers.gif) no-repeat;}
 */#sideDivers .chequesCadeaux p, #sideDivers .carteClub p, #sideDivers .carteCadeaux ul {background:url(end_sideDivers_complexes.gif) no-repeat;}

#sideDivers .recherche h2{background:transparent url(h2_recherche.png) no-repeat left top;}
#sideDivers .recherche form{background:transparent url(centre_recherche.png) repeat-y left top;}
#sideDivers .recherche .boxend{background:transparent url(end_recherche.png) no-repeat left bottom;height:19px;}
#sideDivers .recherche form div{background:transparent url(champs_recherche.gif) left top no-repeat;}

#sideDivers .espacePerso, #sideMenus .espacePerso {width:162px;}
#sideDivers .espacePerso ,#sideMenus .espacePerso{margin-left:38px;}
#sideDivers .espacePerso{margin-left:55px;}
#sideDivers .espacePerso .contenu ,#sideMenus .espacePerso .contenu {background:transparent url(centre_espace_perso.png) repeat-y;}
#sideDivers .espacePerso h2,#sideMenus .espacePerso h2  {background:transparent url(h2_espace_perso.png) no-repeat left top;}
#sideDivers .espacePerso .boxend,#sideMenus .espacePerso .boxend {background:transparent url(end_espace_perso.png) no-repeat left top;height:21px;width:162px;}
#sideDivers .espacePerso .creer a,#sideMenus .espacePerso .creer a {background-image:none;background:url(espacePerso_creer.gif) no-repeat;}
#sideDivers .espacePerso .acces a,#sideMenus .espacePerso .acces a {background:url(espacePerso_acces.gif) no-repeat;}

#sideDivers .magKids {background-position:-230px 100%;}
#sideDivers .magKids h2 {background-position:0 -38px;}
#sideDivers .magKids p, #sideDivers .magKids ul {background:url(bg_sideDivers_simples.gif) repeat-y -230px 0;}


#sideDivers .enMagasins h2{background:transparent url(h2_ca_se_passe_en_magasin.png) no-repeat left top;}
#sideDivers .enMagasins ul{background:transparent url(centre_ca_se_passe_en_magasin.png) repeat-y left top;padding-right:10px;}
#sideDivers .enMagasins .boxend{background:transparent url(end_ca_se_passe_en_magasin.png) no-repeat left bottom;height:19px;}


#sideDivers .nousOnAime {background-position:-690px 100%;}
#sideDivers .nousOnAime h2 {background:transparent url(h2_nous_on_aime.png) no-repeat left top;}
#sideDivers .nousOnAime ul {background:transparent url(centre_nous_on_aime.png) repeat-y left top;}
#sideDivers .nousOnAime .boxend{background:transparent url(end_nous_on_aime.png) no-repeat left bottom;height:19px;}

#sideDivers .memeFamille {background-position:-920px 100%;}
#sideDivers .memeFamille h2 {background:transparent url(h2_dans_la_meme_famille.png) no-repeat left top;}
#sideDivers .memeFamille ul {background:transparent url(centre_dans_la_meme_famille.png) repeat-y left top;}
#sideDivers .memeFamille .boxend{background:transparent url(end_dans_la_meme_famille.png) no-repeat left bottom;height:19px;z-index:2;}


#sideDivers .trouverMagasin {background-position:-1150px 100%;}
#sideDivers .trouverMagasin h2 {background-position:0 -296px;}
#sideDivers .trouverMagasin form {background:url(bg_sideDivers_simples.gif) repeat-y -1150px 0;}

#sideDivers .chequesCadeaux h2 {background-position:0 -340px;}
#sideDivers .chequesCadeaux p {background-position:-230px 100%;}

#sideDivers .carteClub{position:relative;}
#sideDivers .carteClub h2{background:transparent url(h2_la_carte_club.png) no-repeat left top;}
#sideDivers .carteClub p{background:transparent url(centre_la_carte_club.png) repeat-y left top;}
#sideDivers .carteClub .boxend{background:transparent url(end_la_carte_club.png) no-repeat left bottom;height:18px;}
#sideDivers .carteClub .pictoCarteClub50{background:transparent url(pictoCarteClub50.png) no-repeat scroll left top;height:67px;position:absolute;right:-26px;top:40px;width:64px;z-index:1;}
#sideDivers .carteClub .laCarte{background:transparent url(carte_club.png) left top no-repeat;width:81px;height:62px;position:absolute;right:-25px;top:-3px;z-index:3;}


#sideDivers .carteCadeaux{position:relative;}
#sideDivers .carteCadeaux h2{background:transparent url(h2_la_carte_cadeaux.png) no-repeat left top;}
#sideDivers .carteCadeaux ul{background:transparent url(centre_la_carte_cadeaux.png) repeat-y left top;}
#sideDivers .carteCadeaux .boxend{background:transparent url(end_la_carte_cadeaux.png) no-repeat left bottom;height:18px;}
#sideDivers .carteCadeaux .laCarte{background:transparent url(carte_cadeaux.png) left top no-repeat;width:73px;height:60px;position:absolute;right:-25px;top:5px;}

#sideDivers .trouverMagasin h2{background:transparent url(h2_trouver_un_magasin.png) no-repeat left top;}
#sideDivers .trouverMagasin form{background:transparent url(centre_trouver_un_magasin.png) repeat-y left top;}
#sideDivers .trouverMagasin .boxend{background:transparent url(end_trouver_un_magasin.png) no-repeat left bottom;height:18px;}



#sideDivers .annivGeoffrey h2 {background:url(geoffrey_header.gif) no-repeat;}
#sideDivers .annivGeoffrey .accroche {background:url(geoffrey_accroche.gif) no-repeat 0 100%;}
#sideDivers .annivGeoffrey .contenu {background:url(geoffrey_contenu.gif) no-repeat 0 100%;}
#sideDivers .annivGeoffrey .legal {background:url(geoffrey_legal.gif) no-repeat 0 100%;}

#sideDivers .magicMaman, #sideDivers .ecards {padding:5px 17px 10px 28px;}

/*Univers indépendants*/
/*#universIndependants {background:url(menus/universIndependants.gif) no-repeat;}*/

/*Couleurs*/
#sideDivers .memeFamille a {color:#fff;}

#sideMenus, #sideMenus a, #sideDivers, #sideDivers a, #footer, #footer a {color:#fff;}
#sideDivers .espacePerso .erreur {color:#fff12e;}

#sideDivers .magKids p, #sideDivers .magKids a {color:#266e74;}


#sideDivers .nousOnAime a:hover, #sideDivers .nousOnAime a span {color:#fff;}

#sideDivers .annivGeoffrey .accroche {color:#d51612;}
#sideDivers .annivGeoffrey .contenu {color:#a12d8d;}

#sideDivers .memeFamille a:hover, #sideDivers .memeFamille a span {color:#fff;text-decoration:underline;}

.home #banDroite{display:none !important;}
/*** fix ie ***/
* html #sideMenus ul li a,* html #sideDivers ul li a{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/puce.png');background-image:none;}
* html  #sideMenus .espacePerso ul li a{filter:none;}
* html  #sideDivers .espacePerso .creer a{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/btns/espacePerso_creer.gif');background-image:none;}

* html #sideMenus .loisirs h2 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/headers/h2_tous_nos_loisirs.png');background-image:none;}
* html #sideMenus .loisirs .boxend {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/footers/end_tous_nos_loisirs.png');background-image:none;}

* html #sideMenus .listeCadeaux h2 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/headers/h2_liste_cadeaux_online.png');background-image:none;}
* html #sideMenus .listeCadeaux .boxend {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/footers/end_liste_cadeaux_online.png');background-image:none;}

* html #sideMenus .accesDirect h2 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr//layout/menus/headers/h2_acces_direct.png');background-image:none;}
* html #sideMenus .accesDirect .boxend {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/footers/end_acces_direct.png');background-image:none;}

* html #sideMenus .magasins h2 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/headers/h2_les_magasins.png');background-image:none;}
* html #sideMenus .magasins .boxend {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/footers/end_les_magasins.png');background-image:none;}

* html #sideMenus .nousOnAime h2 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/headers/h2_nous_on_aime.png');background-image:none;}
* html #sideMenus .nousOnAime .boxend {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/footers/end_nous_on_aime.png');background-image:none;}

* html #sideMenus .services h2 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/headers/h2_nos_services.png');background-image:none;}
* html #sideMenus .services .boxend {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/footers/end_nos_services.png');background-image:none;}

* html #sideDivers .recherche h2 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/headers/h2_recherche.png');background-image:none;}
* html #sideDivers .recherche .boxend {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/footers/end_recherche.png');background-image:none;}

* html #sideDivers .enMagasins h2 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/headers/h2_ca_se_passe_en_magasin.png');background-image:none;}
* html #sideDivers .enMagasins .boxend {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/footers/end_ca_se_passe_en_magasin.png');background-image:none;}

* html #sideDivers .nousOnAime h2 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/headers/h2_nous_on_aime.png');background-image:none;}
* html #sideDivers .nousOnAime .boxend {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/footers/end_nous_on_aime.png');background-image:none;}

* html #sideDivers .memeFamille h2 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/headers/h2_dans_la_meme_famille.png');background-image:none;}
* html #sideDivers .memeFamille .boxend {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/footers/end_dans_la_meme_famille.png');background-image:none;}

* html #sideDivers .trouverMagasin h2 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/headers/h2_trouver_un_magasin.png');background-image:none;}
* html #sideDivers .trouverMagasin .boxend {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/footers/end_trouver_un_magasin.png');background-image:none;}

* html #sideDivers .carteCadeaux h2 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/headers/h2_la_carte_cadeaux.png');background-image:none;}
* html #sideDivers .carteCadeaux .boxend {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/footers/end_la_carte_cadeaux.png');background-image:none;}
* html #sideDivers .carteCadeaux .laCarte{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/pictos/carte_cadeaux.png');background-image:none;}

* html #sideDivers .collectivites h2 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/headers/h2_ce.png');background-image:none;}
* html #sideDivers .collectivites .boxend {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/footers/end_ce.png');background-image:none;}
* html #sideDivers .collectivites #pictoCe {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/pictos/ce.png');background-image:none;}

* html #sideDivers .carteClub h2 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/headers/h2_la_carte_club.png');background-image:none;}
* html #sideDivers .carteClub .boxend {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/footers/end_la_carte_club.png');background-image:none;}
* html #sideDivers .carteClub .pictoCarteClub50{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='layout/pictos/pictoCarteClub50.png');background-image:none;}
* html #sideDivers .carteClub .laCarte{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/pictos/carte_club.png');background-image:none;}

* html #sideDivers .espacePerso h2,* html #sideMenus .espacePerso h2 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/headers/h2_espace_perso.png');background-image:none;}
* html #sideDivers .espacePerso .boxend,* html #sideMenus .espacePerso .boxend,* html #sideMenus .espacePerso .boxend{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/footers/end_espace_perso.png');background-image:none;}



* html #sideMenus .jeuxOnline h2 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/headers/h2_jeux_online.png');background-image:none;}
* html #sideMenus .jeuxOnline .boxend {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/footers/end_jeux_online.png');background-image:none;}
* html #sideMenus .jeuxOnline .pictoJeuxO{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/pictos/jeux_online.png');background-image:none;}
* html #sideDivers .jeuxOnline h2 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/headers/h2_jeux_online.png');background-image:none;}
* html #sideDivers .jeuxOnline .boxend {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/footers/end_jeux_online.png');background-image:none;}
* html #sideDivers .jeuxOnline .pictoJeuxO{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/pictos/jeux_online.png');background-image:none;}

* html #sideDivers .heros a{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/herosSide.png');background-image:none;}

/** mise en place du menu best of **/
* html #sideMenus .bestOf .nousOnAime a{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/nousOnAime.png');background-image:none;}
* html #sideMenus .bestOf .promosMois a {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/promosMois.png');background-image:none;}
* html #sideMenus .bestOf .trouverCadeau a {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/trouverCadeau.png');background-image:none;}
* html #sideMenus .bestOf .actualites a {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/actualites.png');background-image:none;}
* html #sideMenus .bestOf .nosMarques a {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/nosMarques.png');background-image:none;}

* html #sideDivers .enMagasins a {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/puce.png');background-image:none;background:url(peripherie.css) no-repeat left top;vertical-align:middle;}

* html #main .bestOf .itemHead {}
* html #main .bestOf .item .boxend {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/bg/bg_itemEnd.png');background-image:none;}
/** univers independants **/ 
* html #universIndependants .babies a{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/bouton_babies.png');background-image:none;}
* html #universIndependants .fiesta a{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='http://www.toysrus.fr/layout/menus/bouton_guide_anniversaire.png');background-image:none;}