.themeClip { position:relative; width:100%; overflow:hidden; }
.themeLeft {background:url(Foot_left.jpg) no-repeat right top; height:600px; margin:0 0 0 -293px; position:absolute; width:301px; z-index:1;}
.themeRight {background:url(Foot_right.jpg) no-repeat left top; height:600px; margin:0 0 0 953px; position:absolute; width:301px; z-index:1;} 