body {
	background-color:#6C6C6C;
	margin:0px;
	padding:0px;
}
#entete {
	position:absolute;
	top:25px;
	left:50%;
	width:800px;
	margin:0px 0px 0px -400px;
	padding:0px;
	border-left: 1px solid #000000; 
	border-top: 1px solid #000000; 
	border-right: 1px solid #000000; 
}
#menugeneral {
	position:absolute;
	width:800px;
	height:25px;
	margin:0px;
	padding:0px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#B0AF9F;
	margin-top:3px
}
#menugeneral a{
	color:#B0AF9F;
	background:none;
	padding:0px;
}
#menugeneral a:hover{
	color:#dad9d2;
	text-decoration:underline;	
	background:none
}
#smenu {
	position: absolute;
	width:170px;
	top:23px;
	left:20px;
	display: block;
}
#smenu ul{
	margin:0px;
	padding:0px;
}
#smenu li{
	color:#000000;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 20px;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height:20px;
}
html>body #smenu li{
height:auto;
min-height: 20px;
} 
#smenu a{
	font-weight: normal;
	color:#000000;
	text-decoration:none;
	background-image: none;
	padding:0px;
}
#smenu a:hover{
	font-weight: normal;
	color:#000000;
	text-decoration:underline;	
	background-image: none;
}
#contenu {
	position:absolute;
	top:235px;
	left:50%;
	width:800px;
	margin:0px 0px 0px -400px;
	padding:0px;
	border-left: 1px solid #000000; 
	border-right: 1px solid #000000; 
	border-bottom: 1px solid #000000; 
	background-color:#dad9d2;
}
#lecontenu {
	width:509px;
	height:350px;
	background-color:#ffffff;
	margin: 0px 0px 0px 206px;
	padding: 22px 45px 42px 40px
}
html>body #lecontenu {
height:100%;
min-height: 350px;
} 
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin: 0px 0px 20px 0px;
	padding: 0px
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin: 0px 0px 20px 0px;
	padding: 0px
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color:#555555;
	text-align: justify;
	margin: 0px 0px 14px 0px;
	padding: 0px
}
.texte {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color:#555555;
	text-align: justify;
	margin: 0px;
	padding: 0px
}
ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: justify;
	margin: 0px 0px 14px 0px;
	padding: 0px;
	clear:both
}
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	list-style:square;
	color:#555555;
	text-align: justify;
	margin: 0px 0px 0px 15px;
	padding: 0px

}

a { color:#555555;
	text-decoration:none;
	background-image:url(fleche.gif);
	background-repeat:no-repeat;
	padding-left:15px;
}
a:hover { color:#555555;
	text-decoration: underline;
	background-image:url(fleche-over.gif);
	background-repeat:no-repeat;
	padding-left:15px;
}
.image {
	text-align: center;
	margin:0px;
	padding:0px;
}
.image a {
	text-decoration:none;
	background-image:none;
	margin:0px;
	padding:0px;
}
.image a:hover { color:#555555;
	text-decoration:none;
	background-image:none;
	margin:0px;
	padding:0px;
}
p b {
	color: #000000;
}
img {
	border:0px;
	margin:0px;
	padding:0px;
}
.deuxcolonnes {
	width:50%;
	float:left
}
.btn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	margin: 0px;
	padding: 0px 5px 0px 5px;
	color:#FFFFFF;
	background-color: #5491af;
	border: 1px solid #3A6A81;
}


