BODY {
font-family:verdana,arial,sans serif;
margin:0px;
padding:0px;
background-color: #FBF9F8;
font-size:small;

}

/* do not delete these styles */

.tblBorderOrng	{border:solid 1px  #F97D17;background-color:#ffffff;}
.tblBorderGrn{border:solid 1px  #57BC60;background-color:#ffffff;}
.tblBorderVlt{border:solid 1px  #8D13FE;background-color:#ffffff;}
.tblBorderBl{border:solid 1px  #1595FF;background-color:#ffffff;}
.tblBorderDBl{border:solid 1px  #354DDE;background-color:#ffffff;}
.tblBorderBlack{border:solid 1px  #000000;background-color:#ffffff;}

.divMain { width: 90%; float:right; margin-top:20px; clear: both;	}
.divOrng { float: left; text-align: right; width: 85%; }
.divGrn { float: left; text-align: right; width: 86%; }
.divVlt { float: left; text-align: right; width: 85%; }
.divBl { float: left; text-align: right; width: 85%; }
.divDbl { float: left; text-align: right; width: 85%; }
/* --- */

td.orangeClr { background-color: #FB7809; }
td.blueClr { background-color: #ECF3F8; }
td.whiteClr { background-color: #FFFFFF; }
td.algR { text-align:right; }

input.style { width:92px; height:20px; }

.tblBorderquot { border-top:solid 1px  #F97D17;border-right:solid 1px  #F97D17;border-bottom:solid 1px  #F97D17;background-color:#ffffff;}
.tblBorderressources { border-top:solid 1px  #57BC60;border-right:solid 1px  #57BC60;border-bottom:solid 1px  #57BC60; background-color:#ffffff; }
.tblBordergta { border-top:solid 1px  #8D13FE;border-right:solid 1px  #8D13FE;border-bottom:solid 1px  #8D13FE; background-color:#ffffff; }
.tblBorderlabel { border-top:solid 1px  #1595FF;border-right:solid 1px  #1595FF;border-bottom:solid 1px  #1595FF; background-color:#ffffff; }
.tblBordertrophees { border-top:solid 1px  #354DDE;border-right:solid 1px  #354DDE;border-bottom:solid 1px  #354DDE; background-color:#ffffff; }
.tblBorderBlack { border-top:solid 1px  #000000;border-right:solid 1px  #000000;border-bottom:solid 1px  #000000; background-color:#ffffff; }


#u { text-decoration: underline; }
h1 { PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-TOP: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;	
	font-weight:normal;
}
h1.advance {
	PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-TOP: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;	
	font-weight:normal;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:-15px;	
}
h2 {
	PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-TOP: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;	
	font-weight:normal;
}
h3 {
	PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-TOP: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;	
	font-weight:normal;
}

.nobr { white-space: nowrap; }
.logoBG {
	background-image: url(logoBG.gif);
	background-repeat:repeat-y;
}
.h102 { height: 102px; }
.h69 { height: 69px; }
.h101 { height: 101px; }


/* styles for link */
a { text-decoration:underline; color:Blue; }
a:visited { text-decoration:none; border-bottom: 1px dashed; }
a:hover { text-decoration:overline; }
a:active { text-decoration:overline; }

/* styles for information navigation */
.aBlack { color:#000000; }
a.aBlack { text-decoration:none; border-bottom: none 0px; }
a.aBlack:visited { text-decoration:none; border-bottom: none 0px; }
a.aBlack:hover { text-decoration:underline; }
a.aBlack:active { text-decoration:underline; border-bottom: none 0px; }

/* styles for information navigation Green Color */
.aGreen { color:#139809; }
a.aGreen { text-decoration:none; border-bottom: none 0px; color:#139809; }
a.aGreen:visited { text-decoration:none; border-bottom: none 0px; color:#139809; }
a.aGreen:hover { text-decoration:underline; color:#139809; }
a.aGreen:active { text-decoration:none; border-bottom: none 0px; color:#139809; }

/* Style for the path */
.dynamicLink { color:#637386; font-size:x-small; font-weight:normal; text-decoration: underline;}
.staticLink { color:#637386; font-size:x-small; font-weight:normal; }
.staticLinkB { color:#000000; font-size:x-small; font-weight:normal; }

a.dynamicLink:visited { border-bottom: none 0px; }
a.dynamicLink:hover { text-decoration:underline; }

/* tools navigation */

.aWhite { color:#ffffff; }
a.aWhite { text-decoration:none; border-bottom: none 0px; }
a.aWhite:visited { text-decoration:none; border-bottom: none 0px; }
a.aWhite:hover { text-decoration:underline; }
a.aWhite:active { text-decoration:underline; border-bottom: none 0px; }

a.textWhiteSmallU:visited { border-bottom: none 0px; }
a.textWhiteSmallU:hover { text-decoration:underline; }

a.textWhiteSmall:visited { border-bottom: none 0px; }
a.textWhiteSmall:hover { text-decoration:underline; }

/* 3d level navigation */
a.notdashed { text-decoration:none; border-bottom: none 0px; }
a.notdashed:visited { text-decoration:none; border-bottom: none 0px; }
a.notdashed:hover { text-decoration:none; }
a.notdashed:active { text-decoration:none; border-bottom: none 0px; }

.aOrng { color:#F97D17; font-weight:bold; }
a.aOrng { text-decoration:none; border-bottom: none 0px; }
a.aOrng:visited { text-decoration:none; border-bottom: none 0px; }
a.aOrng:hover { text-decoration:underline; }
a.aOrng:active { text-decoration:underline; border-bottom: none 0px; }



