/******************************************************************************
* bsElements.css
******************************************************************************/

/*----------------------------------------------------------------------------/
	ELEMENTS DE BASIC
-----------------------------------------------------------------------------*/


/*********************/
/* remarque
/*********************/

.bsRemark .icon {
	padding:3px;
	margin:0px;
	display:block;
	float:left;
}

/*********************/
/* titres            */
/*********************/
.bsHeading1 .bsHeading1Content {
	margin-left: 2em;
}

/*********************/
/* tableau d'images  */
/*********************/
.bsImageTableTop td {
	vertical-align:top;
}

.bsImageTableMiddle td {
	vertical-align:middle;
}

.bsImageTableBottom td {
	vertical-align:bottom;
}

/*********************/
/* date du jour      */
/*********************/
.bsDate .date{
	font-weight: bold;
}

/**************************/
/* document a telecharger */
/**************************/
.bsDownloadable {
}

.bsDownloadable .bsDownloadableInfos {
	font-style:italic;
}

.bsDownloadable dt.bsDownloadableTitleWithIcon {
	padding-left:21px;
}

.bsDownloadable dt.bsDownloadableTitleWithoutIcon {
	padding-left:0px;
}

.bsDownloadable dt.bsDownloadableTitleStdIcon {
	background-image: url(bsDownloadable.gif);
	background-repeat: no-repeat;
	min-height: 16px;
	padding-left: 21px;
}

.bsDownloadable dd.bsDownloadableDescriptionWithIcon {
	padding-left:21px;
}

.bsDownloadable dd.bsDownloadableDescriptionStdIcon {
	padding-left:21px;
}

.bsDownloadable dd.bsDownloadableDescriptionWithoutIcon {
	padding-left:0px;
}