/******************************************************************************
* cmStyle.css
******************************************************************************/

body, html
{
    width: 100%;
}

body
{
    text-align: center;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-position: center top;
    font-family: Arial,Verdana;
}

#cmPage h2
{
    font-size: 18px;
    font-weight: normal;
    padding:0px;
    margin:0px;
    margin-bottom:10px;
}

#cmPage h3
{
    font-size: 13px;
    font-weight: bold;
    color: #31098c;
    padding:0px;
    margin:0px;
    margin-bottom:10px;
}

#cmPage h4
{

}

.cmBold
{
    font-weight: bold;
}

.cmClearBoth
{
    clear: both;
}

.cmClearLeft
{
    clear: left;
}

.cmClearRight
{
    clear: right;
}

.cmClearNone
{
    clear: none;
}

.cmFloatLeft
{
    float: left;
}

.cmFloatRight
{
    float: right;
}

.cmFloatNone
{
    float: none;
}

#cmPage
{
    text-align: left;
    width:751px;
    margin-left:auto;
    margin-right:auto;
}

#cmPage #cmHeader
{
    background-image:url('fond.png');
    background-position:right 22px;
    background-repeat:no-repeat;
    float:left;
    background-color:#ffffff;
}

/* Logo */

#cmPage h1.cmLogo
{
    margin: 0px;
    padding: 0px;
    float:left;
    margin-top:31px;
}

#cmPage h1.cmLogo a
{
    width: 123px;
    height: 99px;
    display: block;
    background-image:url('page_logo_orne.png');
    background-position:left top;
    background-repeat:no-repeat;
}

#cmPage .cmHome h1.cmLogo
{
    margin: 0px;
    padding: 0px;
    float:left;
    margin-top:0px;
}

#cmPage .cmHome h1.cmLogo a
{
    width: 123px;
    height: 92px;
    display: block;
    background-image:url('page_logo_orne.png');
    background-position:left top;
    background-repeat:no-repeat;
}


/* Raccourcis haut */

ul.cmRaccourcisTop
{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    float:right;
    background-image:url('page_outil_gauche.png');
    background-position:left top;
    background-repeat:no-repeat;
    padding-left:6px;
}

ul.cmRaccourcisTop li
{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    float:left;
    color: #009543;
    background-color:#f6eacd;
    font-size: 11px;
    font-weight:bold;
    border-right:solid 1px #ffffff;
}

ul.cmRaccourcisTop a
{
    text-decoration: none;
    color: #009543;
    display:block;
    padding:4px;
    padding-left:7px;
    padding-right:7px;
}

ul.cmRaccourcisTop a:hover
{
    text-decoration: none;
}

/* Menu top */

#cmPage .cmMenuTop
{
    float:left;
    width:450px;
    margin-top:10px;
}

#cmPage .cmHome .cmMenuTop
{
    float:left;
    width:auto;
    margin-top:0px;
}

#cmPage .cmMenuTop ul
{
    padding: 0px;
    margin: 0px;
    list-style: none;

}

#cmPage .cmMenuTop ul li
{
    padding: 0px;
    margin: 0px;
    list-style: none;
    float:left;
}

#cmPage .cmMenuTop ul li a
{
    display:block;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: left top; 
    width:111px;
    height:99px;
}

#cmPage .cmMenuTop ul li a span
{
    display:block;
    cursor:pointer;
}

#cmPage .cmMenuTop ul li a:hover
{
    color:#004b96;
}



#cmPage .cmMenuTop ul ul
{
    background-image:url('white.png');
    position:absolute; 
    visibility:hidden; 
    z-index: 100;
}

#cmPage .cmMenuTop ul ul li
{
    float:none;
    display:block;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
}

#cmPage .cmMenuTop ul ul li a
{
    background-image:none;
    font-size:11px;
    text-decoration:none;
    color:#000000;
}

#cmPage .cmMenuTop ul ul li a span
{

}

#cmPage .cmMenuTop ul ul li a:hover
{
    text-decoration:underline;
    color:#000000;
}

#cmPage .cmMenuTop ul ul li a:active
{
    font-weight:bold;
}



#cmPage .cmMenuTop ul ul ul
{
    background-image:none;
    border:none;
    position:absolute; 
    visibility:hidden; 
    z-index: 101;
}

#cmPage .cmMenuTop ul ul ul li
{
    padding-left:10px;
}

#cmPage .cmMenuTop ul ul ul li a
{

}

#cmPage .cmMenuTop ul ul ul li a span
{

}

#cmPage .cmMenuTop ul ul ul li a:hover
{

}

/* Barre d'ancetre */


#cmPage .cmAncestor
{
    background-color:#f6eacd;    
    border-bottom:solid 1px #ffffff;
    height:31px;
    display:block;
    float:left;
    width:750px;
}

#cmPage .cmAncestor ul
{
    margin: 0px;
    list-style: none; 
    padding-left:145px;
    padding-top:9px;
}

#cmPage .cmAncestor ul li
{
    padding: 0px;
    margin: 0px;
    list-style: none;
    float:left;
    color:#555555;
    font-weight:bold;
}

#cmPage .cmAncestor ul li a
{
    text-decoration: underline;
    color:#555555;
    font-weight:normal;
}

#cmPage .cmAncestor ul li a:hover
{
    text-decoration: none;
}

/* Menu Cote */

#cmPage .cmMenuLeft
{
    background-image: none;
    float: left;
    width: 124px;
}

#cmPage .cmMenuLeft ul
{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-align:right;
}

#cmPage .cmMenuLeft li
{
    padding: 0px;
    margin: 0px;
    list-style: none;
    border:none;
    border-bottom:solid 1px #ffffff;
    color:#009543;  
    float:none;  
    padding-bottom:1px;
    zoom:1;
}

#cmPage .cmMenuLeft li a
{
    display:block;
    text-decoration: none;
    font-size:12px;
    color:#009543;
    padding:5px;
    border:none;
    font-weight:bold;
}

#cmPage .cmMenuLeft li a span
{

}

#cmPage .cmMenuLeft li a:hover
{
    background-color:#fbf5e7; 
}

#cmPage .cmMenuLeft li.cmHover
{
    background-color:#fbf5e7;     
}

#cmPage .cmMenuLeft li.cmHover a
{
    background-color:#fbf5e7;     
}

#cmPage .cmMenuLeft li.cmHover a:hover
{
    background-color:#fbf5e7;   
}

#cmPage .cmMenuLeft li a.cmHover span
{

}

#cmPage .cmMenuLeft ul ul
{

}

#cmPage .cmMenuLeft ul ul li
{
    line-height:12px;
    border:none;
    padding-bottom:0px;
}

#cmPage .cmMenuLeft ul ul li a
{
    font-size:10px;
    padding-top:2px;
    padding-bottom:2px;
    border:none;
    font-weight:normal;
}

#cmPage .cmMenuLeft ul ul li a:hover
{
    text-decoration:underline
}

#cmPage .cmMenuLeft ul ul li span
{

}

#cmPage .cmMenuLeft ul ul li.cmHover
{

}

#cmPage .cmMenuLeft ul ul li a.cmHover,
#cmPage .cmMenuLeft ul ul li a.cmHover:hover
{
    text-decoration:underline;
}

/* Contenu */

.cmMiddle
{
    min-height:350px;
    background-image:url('cmMenuLeftBackGround.png');
    background-position:left top;
    background-repeat:repeat-y;
}

#cmCenter
{
    float: right;
    color: #555555;
    font-size: 11px;

}

#cmCenter .cmBackground 
{
    padding:15px;
    padding-right:0px;
}

#cmCenter a,
#cmCenter a:link,
#cmCenter a:active,
#cmCenter a:visited
{
    color:#555555;
    text-decoration: underline;
}

#cmCenter a:hover
{
    text-decoration: none;
}


#cmCenter #cmContent
{
    float: left;
    width: 100%;
    overflow: hidden;
}

#cmCenter #cmContent #cmPaneCenter
{
}

#cmCenter #cmContent #cmPaneCenter .cmPaneCenterPadding
{
    padding-right: 15px;
}

#cmCenter #cmPaneLeft
{
    float: left;
}

#cmCenter #cmPaneLeft .cmPaneLeftPadding
{
    padding-right: 15px;
}


#cmCenter #cmPaneRight
{
    float: left;
}

#cmCenter #cmPaneRight .cmPaneRightPadding
{
    padding-right: 0px;
}


/* Footer */

#cmFooter
{
    text-align:left;
    width:750px;
    border-top:solid 1px #ffffff;
    margin-left:auto;
    margin-right:auto;
}

#cmFooter .cmFooterTools
{
    position:absolute;
    margin-top:-30px;
    width:590px;
    padding-left:150px;
    padding-top:10px;
}

#cmFooter .cmFooterTools a.cmPrint
{
    float:left;
    color:#000000;
}

#cmFooter .cmFooterTools a.cmTop
{
    float:right;
    color:#000000;
}


#cmFooter .cmContent
{
    text-align:left;
    background-color:#009543;
    float:left;
    width:750px;
}


#cmFooter ul.cmSignature
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    float:right;
    padding:3px;
}

#cmFooter ul.cmSignature li
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: left;
    color: #bfe4d0;
    font-size: 10px;
}

#cmFooter ul.cmSignature li a, #cmFooter ul.cmSignature li a:active, #cmFooter ul.cmSignature li a:visited
{
    text-decoration: underline;
    color: #bfe4d0;
    font-size: 9px;
}

#cmFooter ul.cmSignature li a:hover
{
    text-decoration: none;
}

/* CSS de surcharge diverse */

div.bsHeading1Content
{
    padding: 0px;
    margin: 0px;
}


/* Langue */

.cmLang {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
    width:751px;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
}

.cmLang ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
    position:absolute;	
}

.cmLang li {
	display: inline;
	font-size: 11px;
	font-weight: bold;
	line-height: 11px;
	float: left;
	white-space: nowrap;
	margin: 0px;
	padding: 0px;	
	margin-right: 0px;
}

.cmLang li a,
.cmLang li a:link,
.cmLang li a:active,
.cmLang li a:visited,
.cmLang li a:hover {
	font-size: 11px;
	font-weight: bold;	
	text-decoration:none;	
}

.cmLang img {
	padding: 0px;
	margin: 0px;
	float: left;
}


/* Moteur de recherche (decor) */

.cmSearch 
{
    float:left;
    padding-top:68px;
    padding-left:16px;
}

.cmSearch .cmLabel
{
    display:block;
    font-size:11px;
    font-weight:bold;
    color:#009543;
    margin-bottom:2px;
}

.cmSearch .cmInput
{
    float:left;
    width:115px;
    background-color:#f6eacd;
    border:solid 1px #a0e0ac;
    font-size:9px;
    line-height:9px;
    padding-top:3px;
    padding-left:4px;
}

.cmSearch .cmBtn
{
    float:left;
    width:25px;
    height:18px;
    background-color:#009543;
    border:solid 1px #009543;
    color:#ffffff;
    font-weight:bold;
    padding:0px;
}



.cmSearchHome 
{
    float:right;
    background-image:url('cmSearchBackground.png');
    background-position:left 22px;
    background-repeat:no-repeat;
    width:215px;
    height:27px;
    margin-right:10px;
    padding-top:22px;
}

.cmSearchHome .cmLabel
{
    display:block;
    font-size:11px;
    font-weight:bold;
    color:#009543;
    margin-bottom:2px;
    float:left;
    padding-left:10px;
    margin-top:6px;
    margin-right:5px;
}

.cmSearchHome .cmInput
{
    float:left;
    width:100px;
    background-color:#f6eacd;
    border:solid 1px #a0e0ac;
    font-size:9px;
    line-height:9px;
    padding-top:3px;
    padding-left:4px;
    margin-top:4px;
}

.cmSearchHome .cmBtn
{
    float:left;
    width:25px;
    height:18px;
    background-color:#009543;
    border:solid 1px #009543;
    color:#ffffff;
    font-weight:bold;
    padding:0px;
    margin-top:4px;
}


/* CSS Moteur de recherche (page) */

.bsHeading1 .bsHeading1Content
{
    margin: 0px;
}

.sdsSearchPage .sdsSearchForm
{
    text-align: center;
    color: #6a361e;
    background-image: url(http://www.cg61.fr/iso_icons/cmSearchPageBackground.png);
    background-repeat: no-repeat;
    background-position: 300px 2px;
    margin-bottom: 30px;
    font-size: 11px;
}

.sdsSearchPage .sdsSearchForm .sdsSearchFullextLabel
{
    font-weight: normal;
}


.sdsSearchPage .sdsSearchForm input.sdsSearchFulltextField
{
    color: #6a361e;
    height: 15px;
    border: 0px;
    width: 320px;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    margin-left: 5px;
}

.sdsSearchPage .sdsSearchForm span input
{
    height: 20px;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    color: #6a361e;
    font-weight: bold;
    margin-top: 3px;
    width: 105px;
}

.sdsSearchPage .gshpItemsSeparator
{
    display: none;
}

.sdsSearchPage .productFloatingDiv
{
    float: left;
    width: 128px;
    height: 130px;
    border: 2px #eadbb1 dashed;
    padding-left: 5px;
    padding-right: 5px;
}

.sdsSearchPage .productFloatingLabel
{
    width: auto;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 35px;
}

.sdsSearchPage .productFloatingLabel .gshpFlashSaleImg
{
    display: none;
}

.sdsSearchPage .productFloatingDiv .productFloatingPrice
{
    width: auto;
    font-size: 10px;
    color: white;
    text-align: left;
}

.sdsSearchPage .productFloatingDiv .productFloatingPrice .gshpSeparatorDashedDiscountedPrices
{
    display: none;
}

.sdsSearchPage .productFloatingDiv .gshpPriceSpan .gshpDashedPrice
{
    background-image: url(http://www.cg61.fr/iso_icons/cmBoutiquePriceDashedBackgroundSmall.png);
    background-repeat: no-repeat;
    background-position: left top;
    width: 59px;
    height: 12px;
    color: white;
    display: block;
    float: left;
    margin-right: 2px;
    margin-left: 3px;
    text-align: center;
}


.sdsSearchPage .productFloatingDiv .gshpPriceSpan .gshpDiscountedPrice
{
    background-image: url(http://www.cg61.fr/iso_icons/cmBoutiquePriceBackgroundSmall.png);
    background-repeat: no-repeat;
    background-position: left top;
    width: 59px;
    height: 12px;
    display: block;
    float: left;
    text-align: center;
}

.sdsSearchPage .productFloatingDiv .gshpPriceSpan .gshpPrice
{
    background-image: url(http://www.cg61.fr/iso_icons/cmBoutiquePriceBackgroundSmall.png);
    background-repeat: no-repeat;
    background-position: left top;
    width: 59px;
    height: 12px;
    display: block;
    margin-left: 35px;
    text-align: center;
}

.sdssFileSearchArea
{
}

.sdssFileSearchArea .sdssNavigationBar
{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sdssFileSearchArea .sdssResult_record
{
    margin-bottom: 20px;
}

.sdssFileSearchArea .sdssResult_record .sdssResult_size, .sdssFileSearchArea .sdssResult_record .sdssResult_date
{
    font-size: 10px;
}

/* Surcharge formulaire */

#cmPage fieldset
{
    border:solid 1px #0c549c;
    padding:10px;
}

#cmPage fieldset legend
{
    color:#0c549c;
    padding:5px;
}

/* bouton */

#cmCenter span.bsButtonSpan
{
    background-image: url('http://www.cg61.fr/iso_icons/cmBtn1Right.png');
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
    clear: none;
    padding: 0px;
    margin: 0px;
}

#cmCenter span.bsButtonSpan a.bsButton
{
    background-image: url('http://www.cg61.fr/iso_icons/cmBtn1Left.png');
    background-repeat: no-repeat;
    background-position: left top;
    display: block;
    margin: 0px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 6px;
    text-decoration: none;
    color: #b71b30;
    font-weight: bold;
    font-size: 10px;
    border: none;
    text-decoration: none;
}

/* Cadre */
/********* c1 *********/

#cmPage .cmC1
{
    zoom:1;
    padding:10px;
    background-color:#ffffff;
    border:solid 1px #a0e0ac;
}

#cmPage .cmC1 .insLevel4 h3
{
    padding: 0px;
    margin: 0px;
}

/********* c2 *********/

#cmPage .cmC2
{
    zoom:1;
    padding:10px;
    background-color:#f6eacd;
    border:solid 1px #a0e0ac;
}

#cmPage .cmC2 .insLevel4 h3
{
    padding: 0px;
    margin: 0px;
}

/********* c3 *********/

#cmPage .cmC3
{
    zoom:1;
}

#cmPage .cmC3 .insLevel1
{
    background-image: url('cadre1_bas_droite.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

#cmPage .cmC3 .insLevel2
{
    background-image: url('cadre1_bas_gauche.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}

#cmPage .cmC3 .insLevel3
{
    background-image: url('cadre1_haut_droite.png');
    background-repeat: no-repeat;
    background-position: right top;
}

#cmPage .cmC3 .insLevel4
{
    background-image: url('cadre1_haut_gauche.png');
    background-repeat: no-repeat;
    background-position: left top;
    padding: 10px;
}

#cmPage .cmC3 .insLevel4 h3
{
    padding: 0px;
    margin: 0px;
}


/********* c4 *********/


#cmPage .cmC4
{
    zoom:1;
}

#cmPage .cmC4 .insLevel1
{
    background-image: url('cadre2_bas_droite.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

#cmPage .cmC4 .insLevel2
{
    background-image: url('cadre2_bas_gauche.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}

#cmPage .cmC4 .insLevel3
{
    background-image: url('cadre2_haut_droite.png');
    background-repeat: no-repeat;
    background-position: right top;
}

#cmPage .cmC4 .insLevel4
{
    background-image: url('cadre2_haut_gauche.png');
    background-repeat: no-repeat;
    background-position: left top;
    padding: 10px;
}

#cmPage .cmC4 .insLevel4 h3
{
    padding: 0px;
    margin: 0px;
}

/* Plan du site */
 
 #cmPage .smeSiteMap ul
{
    list-style:none;
    padding:0px;
    margin:0px;
    color:#cccccc;
    font-size:0.9em;
}

#cmPage .smeSiteMap ul li
{
    float:left;
    width: 33%;
    display:block;
    margin-bottom:10px;
    line-height:16px;
    font-size:1.2em;

}

#cmPage .smeSiteMap ul li a
{
    color:#555555;
}

#cmPage .smeSiteMap ul h3
{
    margin-bottom:10px;
    font-size:1.4em;
    border-bottom:none;
    font-weight:bold;
}

#cmPage .smeSiteMap ul ul
{
    list-style: disc;
    margin-left:15px;
    margin-bottom:10px;
    clear:both;
}

#cmPage .smeSiteMap ul ul li
{
    float:none;
    width: auto;
    margin:0px;
    padding:0px;
    list-style: disc;
    font-size:1.1em;
    margin-bottom:3px;
    margin-top:3px;
}

#cmPage .smeSiteMap ul ul li h4
{
    margin:0px;
    padding:0px;
    font-size:1.2em;
}

#cmPage .smeSiteMap ul ul ul
{
    list-style: square;
    margin-left:15px;
    margin-bottom:0px;
}

#cmPage .smeSiteMap ul ul ul li h5
{
    margin:0px;
    padding:0px;
    font-size:1.1em;
}

#cmPage .smeSiteMap ul ul ul ul
{ 

    list-style: disc;
    margin-left:15px;
    padding-top:5px;
}


#cmPage .smeSiteMap ul ul ul ul li h6
{
    margin:0px;
    padding:0px;
    font-size:1em;
}

#cmPage .smeSiteMap .p-4,
#cmPage .smeSiteMap .p-8,
#cmPage .smeSiteMap .p-12,
#cmPage .smeSiteMap .p-16,
#cmPage .smeSiteMap .p-20,
#cmPage .smeSiteMap .p-24,
#cmPage .smeSiteMap .p-28,
#cmPage .smeSiteMap .p-32,
#cmPage .smeSiteMap .p-36,
#cmPage .smeSiteMap .p-40
{
    clear:both;
}