
.overlay_lvmhome {
	background-color: #FFF;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.lvmhome_nw {
	display:none;
}

.lvmhome_n {
	display:none;
}

.lvmhome_ne {
	display:none;
}

.lvmhome_w {
	display:none;
}

.lvmhome_e {
	display:none;
}

.lvmhome_sw {
	display:none;
}

.lvmhome_s {
	display:none;
}

.lvmhome_se, .lvmhome_sizer {
	display:none;

}

.lvmhome_sizer {
	cursor:se-resize;	
}

.lvmhome_close {
	width: 11px;
	height: 11px;
	background: transparent url(croix.gif) no-repeat 0 0;
	position:absolute;
	top:15px;
	right:20px;
	cursor:pointer;
	z-index:1000;
}

.lvmhome_minimize {
	width: 23px;
	height: 23px;
	background: transparent url(button-min-focus.gif) no-repeat 0 0;
	position:absolute;
	top:0px;
	right:55px;
	cursor:pointer;
	z-index:1000;
}

.lvmhome_maximize {
	width: 23px;
	height: 23px;
	background: transparent url(button-max-focus.gif) no-repeat 0 0;
	position:absolute;
	top:0px;
	right:33px;
	cursor:pointer;
	z-index:1000;
}

.lvmhome_title {
	float:left;
	height:10px;
	font-size:14px;
	text-align:left;
	margin-top:10px;
	width:100%;
	font-family:Arial;
	font-weight: bold;
	font-size: 10px;
	color: #b2b2b2;
}



.lvmhome_content {
	overflow:auto;
	color: #000;
	font-family: Tahoma, Arial, sans-serif;
	font: 12px arial;
	background: transparent;
}

/* For alert/confirm dialog */
.lvmhome_window {
	border:1px solid #F00;	
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	width:400px;
}


.lvmhome_message {
	font: 12px arial;
	width:100%;
	padding-bottom:10px;
}

.lvmhome_buttons {
	text-align:center;
	width:100%;
}

.lvmhome_buttons input {
	width:20%;
	margin:10px;
}

.lvmhome_progress {
	float:left;
	margin:auto;
	text-align:center;
	width:100%;
	height:16px;
	background: #FFF url('progress.gif') no-repeat center center
}

.lvmhome_wired_frame {
	background: #FFF;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;	
}


