/*  Affichage de la balise CFG_ARBO  */
.cfg_arbo{}
.cfg_arbo h5{padding:0.2em 0.2em; margin:0.2em 0; cursor:pointer;}
.cfg_arbo ul{border:1px solid #ccc; margin:0; padding:0.2em 0.5em; list-style-type:none;}

/* Affichage des crayons/config */
.crayon-icones em.crayon-config {
    background: url(spip.php?page=cfg.css) no-repeat;
    height: 20px;
    width: 20px;
    cursor: pointer;
    display: none;
}
.crayon-changed em.crayon-config {
    display: none;
}
