body{
	color:#666666;
	font-size:11px;
}

#homeContent{
	/* Modif */
	/*background:transparent url(../img/bg_home.jpg) no-repeat;*/
	width:1000px;
	height:600px;
	margin:auto;
	/* Modif */
	position: relative;
}

#homeContent #headerHome{
	padding:7px 10px 0px 30px;
}

#homeContent #headerHome a img.logo{
	float:left;
	margin-top:5px;
}

#homeContent #headerHome #navTop{
	float:right;
}

#homeContent #headerHome #navTop ul li{
	float:left;
	font-weight:bold;
	position:relative;
	margin:0px 1px;
	z-index: 1000;
}

#homeContent #headerHome #navTop #ulTop{
	float:left;
}

#homeContent #headerHome #navTop ul li a{
	color:#666666;
	padding:1px 5px 2px 5px;
	position:relative;
}

#homeContent #headerHome #navTop ul li#allSite a:hover,#homeContent #headerHome #navTop ul li#allSite.on a{
	background-color:#ffffff;
	color:#ff6633;
}

#homeContent #headerHome #navTop ul li#urgDep a{
	background:transparent url(urgences_dep.gif) no-repeat;
	color:#ff6633;
}


#homeContent #headerHome #navTop ul li#urgDep a:hover,#homeContent #headerHome #navTop ul li#urgDep.on a{
	background:transparent url(urgences_dep_hover.gif) no-repeat ;
}

#homeContent #headerHome #navTop ul li form{
	margin:0px;
	padding:0px;
	display:inline;
}

#homeContent #headerHome #navTop ul li form input#field_search{
	background:transparent url(bg_field_search.gif) no-repeat;
	float:left;
	border:none;
	height:15px;
	width:140px;
	padding:2px 3px 0px 3px;
	margin:0px 5px 0px 8px;
}

#homeContent #headerHome #navTop ul li form input.btnOk{
	width:17px;
	height:17px;
	margin:0px;
	border:0;
	background:transparent url(btn_ok.png) no-repeat;
	cursor:pointer;
}

#homeContent #headerHome #navTop ul li form input.btnOkhover{
	background:transparent url(btn_ok_hover.png) no-repeat;
	width:17px;
	height:17px;
	margin:0px;
	border:0;
	cursor:pointer;
}

*html #homeContent #headerHome #navTop ul li form input.btnOk{
	background:transparent url(btn_ok.gif) no-repeat;
}

*html #homeContent #headerHome #navTop ul li form input.btnOkhover{
	background:transparent url(btn_ok_hover.gif) no-repeat;
}

#homeContent #headerHome #navTop ul li form label.labelS{
	color:#666666;
	margin-left:10px;
	float:left;
}

/** sous menu **/

#homeContent #headerHome #navTop ul li div.menuList{
	color:#fff;
	background:transparent url(bg_nav_transparent.png) repeat-x;
	padding:0px 0px 0px 0px;
	position:fixed;
	display:none;
	z-index: 1000;
}

#homeContent #headerHome #navTop ul li .ssMenu{
	position:absolute;
	left:0px;
	top:15px;
}

* html #homeContent #headerHome #navTop ul li div.ssMenu{
	background-color:#fff;	
}

* html #homeContent #headerHome #navTop ul li div.menuList{
	background:none;
	background-color:#fff;	
}

* html #homeContent #headerHome #navTop ul li div.menuList ul{
	background:none;	
}

#homeContent #headerHome #navTop ul li div.menuList ul {
	float:left;
	padding:5px 2px 0px 8px;
	overflow:hidden;
}

div.menuList .btm{
	background:transparent url(bg_nav_transparent_btm.png) no-repeat right bottom;
	height:9px;
	position:absolute;
	bottom:-9px;
	right:0;
	width:100%;
}

* html div.menuList .btm{
	display:none;
}

#homeContent #headerHome #navTop ul li div.menuList ul li{
	display:block;
	padding:0px 0px 8px 10px;
	background:transparent url(arr_orange.gif) no-repeat 0px 4px;
	float:none;
}

#homeContent #headerHome #navTop ul li div.menuList ul li a{
	color:#003366;	
	display:block;
	width:170px;
	padding:0px;
}

#homeContent #headerHome #navTop ul li#urgDep div.menuList ul li a,#homeContent #headerHome #navTop ul li#allSite.on div.menuList ul li a{
	background:none !important;
	color:#003366;
}

#homeContent #headerHome #navTop ul li#urgDep div.menuList{
	background:transparent url(bg_nav_transparent.png) repeat-x;
}

#homeContent #headerHome #navTop ul li#urgDep ul li a{width:145px;}
#homeContent #headerHome #navTop ul li#allSite div.menuList ul li a:hover,#homeContent #headerHome #navTop ul li#allSite.on div.menuList ul li a{
	background:none;
}

/** par defaut : noscript**/

#ulTop.noScript li#urgDep{
	margin-right:28px !important;
}

#ulTop.noScript li#allSite a{
	background-color:#ffffff;
	color:#ff6633 !important;
}

#ulTop.noScript li#allSite ul li a{
	background:none;
	color:#003366 !important;
}

#ulTop.noScript li#allSite ul li a:hover{
	color:#ff6633 !important;
}

#ulTop.noScript li#urgDep a{
	background:transparent url(urgences_dep_hover.gif) no-repeat !important;
}

#ulTop.noScript li div.menuList{
	display:block !important;
}

/****/



/************************************/
/************************************/
/** Center */

#homeContent #homeCentral{
	clear:both;
	margin-top:270px;
	margin-left:20px;
	overflow:hidden;
	width:960px;
	height:214px;
}


/* Modif */
/** changement de fond **/

#arrows {
	clear:both;
	position:absolute;
	right:17px;
	top:335px;
	width:150px;
}

#arrows #textzone {
	height:18px !important;
	position:absolute;
	right:40px;
	text-align:right;
	top:0;
	width:100%;
	color: white;
}

#arrows ul {
	overflow:auto;
}

#arrows li {
	float:right;
	width:auto;
}

#arrows li span {
	display:none;
	position:absolute;
	width:200px;
}


/*	=THEMES
-------------------------------------------------------------------------------------- */
body .theme-1 {
	background: url(bg_home_1.jpg)
		no-repeat !important;
}

body .theme-2 {
	background-image: url(bg_home_1.jpg)
		!important;
}

body .theme-3 {
	background-image: url(bg_home_1.jpg)
		!important;
}

body .theme-4 {
	background-image: url(bg_home_4.jpg)
		!important;
}

body .theme-5 {
	background-image: url(bg_home_5.jpg)
		!important;
}

body .theme-1 div.theme-1, body .theme-2 div.theme-2, body .theme-3 div.theme-3, body .theme-4 div.theme-4, body .theme-5 div.theme-5, body .theme-6 div.theme-6
{
	background: transparent !important;
}

#ttl-level-2 h2 {
	position: absolute;
	background: none !important;
	left: -9999em;
	z-index: 100;
}

.fr #ttl-level-2 .theme-1 #theme-1 {
	left: 600px;
	top: 75px;
}

.fr #ttl-level-2 .theme-2 #theme-2 {
	left: 438px;
	top: 88px;
}

.fr #ttl-level-2 .theme-3 #theme-3 {
	left:461px;
	top:92px;
}

.fr #ttl-level-2 .theme-4 #theme-4 {
	left: 647px;
	top: 181px;
}

.fr #ttl-level-2 .theme-5 #theme-5 {
	left: 585px;
	top: 244px;
}

/*.fr #ttl-level-2 .theme-6 #theme-6 { left:508px; top:128px; }*/
.en #ttl-level-2 .theme-1 #theme-1 {
	left: 600px;
	top: 75px;
}

.en #ttl-level-2 .theme-2 #theme-2 {
	left: 438px;
	top: 88px;
}

.en #ttl-level-2 .theme-3 #theme-3 {
	left: 461px;
	top: 92px;
}

.en #ttl-level-2 .theme-4 #theme-4 {
	left: 646px;
	top: 181px;
}

.en #ttl-level-2 .theme-5 #theme-5 {
	left: 577px;
	top: 245px;
}

/*.en #ttl-level-2 .theme-6 #theme-6 { left:508px; top:128px; }*/
#ttl-level-2 span {
	position: absolute;
	left: -9999em;
}


/** nav central **/
#homeContent #homeCentral .homeCentralNavContent{
	overflow:hidden;
	height:30px;
}

#homeContent #homeCentral .homeCentralNavContent span.bgLeftCor{
	background:transparent url(bg_corner_left.png) no-repeat left top;
	float:left;
	width:9px;
	height:30px;
	font-size:0px;
}

* html #homeContent #homeCentral .homeCentralNavContent span.bgLeftCor{/* ie6 */
	background:transparent url(bg_corner_left.jpg) no-repeat left top;
}

#homeContent #homeCentral .homeCentralNavContent ul{
	background-color:#fff;
	float:right;
	width:941px;
	height:30px;
	padding:0px 0px 0px 10px;
}

#homeContent #homeCentral .homeCentralNavContent ul li{
	float:left;
	margin-right:2px;	
	width:139px;
	height:25px;
}
#homeContent #homeCentral .homeCentralNavContent ul li a{
	font-size:13px;	
	display:block;
	font-weight:bold;	
	padding:5px 0px 4px 19px;
	color:#666;
}

#homeContent #homeCentral .homeCentralNavContent ul li.accueil{
	border-bottom:5px solid #ff6633;
}

#homeContent #homeCentral .homeCentralNavContent ul li.accueil a{
	background:transparent url(pict_accueil.gif) no-repeat 7px 7px;
	/*color:#ff6633;*/
}
#homeContent #homeCentral .homeCentralNavContent ul li.accueil a:hover,#homeContent #homeCentral .homeCentralNavContent ul li.accueil a.hover{
	background:transparent url(pict_accueil_hover.gif) no-repeat 0px 0px;
	color:#fff !important;
}

#homeContent #homeCentral .homeCentralNavContent ul li.particuliers{
	border-bottom:5px solid #009ee1;
}

#homeContent #homeCentral .homeCentralNavContent ul li.particuliers a{
	background:transparent url(pict_part.gif) no-repeat 7px 7px;
	/*color:#009ee1;*/
}

#homeContent #homeCentral .homeCentralNavContent ul li.particuliers a:hover,#homeContent #homeCentral .homeCentralNavContent ul li.particuliers a.hover{
	background:transparent url(pict_part_hover.gif) no-repeat 0px 0px;
	color:#fff !important;
}

#homeContent #homeCentral .homeCentralNavContent ul li.professionnels{
	border-bottom:5px solid #831a6e;
}

#homeContent #homeCentral .homeCentralNavContent ul li.professionnels a{
	background:transparent url(pict_prof.gif) no-repeat 7px 7px;
	/*color:#831a6e;*/
}

#homeContent #homeCentral .homeCentralNavContent ul li.professionnels a:hover,#homeContent #homeCentral .homeCentralNavContent ul li.professionnels a.hover{
	background:transparent url(pict_prof_hover.gif) no-repeat 0px 0px;
	color:#fff !important;
}

#homeContent #homeCentral .homeCentralNavContent ul li.entreprises{
	border-bottom:5px solid #957f6e;
}

#homeContent #homeCentral .homeCentralNavContent ul li.entreprises a{
	background:transparent url(pict_entr.gif) no-repeat 7px 7px;
	/*color:#957f6e;*/
}

#homeContent #homeCentral .homeCentralNavContent ul li.entreprises a:hover,#homeContent #homeCentral .homeCentralNavContent ul li.entreprises a.hover{
	background:transparent url(pict_entr_hover.gif) no-repeat 0px 0px;
	color:#fff !important;
}

#homeContent #homeCentral .homeCentralNavContent ul li.collectivite{
	border-bottom:5px solid #008895;
}

#homeContent #homeCentral .homeCentralNavContent ul li.collectivite a{
	background:transparent url(pict_collect.gif) no-repeat 7px 7px;
	/*color:#008895;*/
}

#homeContent #homeCentral .homeCentralNavContent ul li.collectivite a:hover,#homeContent #homeCentral .homeCentralNavContent ul li.collectivite a.hover{
	background:transparent url(pict_collect_hover.gif) no-repeat 0px 0px;
	color:#fff !important;
}

#homeContent #homeCentral .homeCentralNavContent ul li.last{
	border-bottom:5px solid #e0e0e0;
	width:230px;
}

/******** End Nav central  *************/

#homeContent #homeCentral .container{
	width:960px;
	height:184px;
	background:transparent url(bg_transparent.png) no-repeat;
}

* html #homeContent #homeCentral .container{ 
	background:none;
	/*background-color:#F8F5F4;*/
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/FRONT/ACCUEIL_FR/img/common/bg_transparent.png' ,sizingMethod='crop' );
}

#homeContent #homeCentral #particuliers.container{
	padding:22px 0px 0px 25px;
	height:162px;
	width:935px;
}

#homeContent #homeCentral #profs.container{
	padding:22px 0px 0px 25px;
	height:162px;
	width:935px;
}

#homeContent #homeCentral #entreprise.container{
	padding:22px 0px 0px 25px;
	height:162px;
	width:935px;
}
#homeContent #homeCentral #collectivite.container{
	padding:22px 0px 0px 25px;
	height:162px;
	width:935px;
}

/**/
#homeContent #homeCentral #accueil.container .actualite,#homeContent #homeCentral #accueil.container .coverFlow,#homeContent #homeCentral #accueil.container .others{
	float:left;
}

#homeContent #homeCentral #accueil.container .others ul{
	width: 230px;
}

#homeContent #homeCentral #accueil.container .actualite{
	width:240px;
	padding:20px 10px 0px 20px;
	
}

* html #homeContent #homeCentral #accueil.container .actualite {
	position: relative;
}

#homeContent #homeCentral #accueil.container .actualite ul{
	padding-bottom:3px;
}

#homeContent #homeCentral #accueil.container .actualite ul li a{
	color:#666666;
}

#homeContent #homeCentral #accueil.container .actualite ul li{
	padding-bottom:10px;
}

#homeContent #homeCentral #accueil.container .actualite a.news{
	color:#339900;
	font-weight:bold;
}

#homeContent #homeCentral #accueil.container .actualite p.bourseNews{
	margin-top:10px;
}

#homeContent #homeCentral #accueil.container .actualite p.bourseNews a {
	color:#003366;
}

.bleuN{color:#003366}
.marronC{color:#333333}

#homeContent #homeCentral #accueil.container .actualite ul li b{
	color:#333333;
}

#homeContent #homeCentral #accueil.container .coverFlow{
	width:385px;
	height:172px;
	background-color:#fff;
	padding:12px 15px 0px 20px;
	overflow:hidden;
}

* html #homeContent #homeCentral #accueil.container .coverFlow {
	position: relative;
}

#homeContent #homeCentral #accueil.container .coverFlow img.visu{
	float:left;
	margin-right:10px;
}

#homeContent #homeCentral #accueil.container .coverFlow ul{
	float:right;
	width:200px;
}

#homeContent #homeCentral #accueil.container .coverFlow ul li,a.link{
	padding:0px 0px 10px 10px;
	background:transparent url(arr_orange.gif) no-repeat 0px 4px;
}

#homeContent #homeCentral #accueil.container .coverFlow ul li a,a.link{
	color:#043477;
	font-weight:bold;
}
a.link{
	float:left;
	margin-top:5px;
}

#homeContent #homeCentral #accueil.container .others{
	padding:20px 15px 0px 24px
}

* html #homeContent #homeCentral #accueil.container .others {
	position: relative;
}

#homeContent #homeCentral #accueil.container .others ul li{	
	padding:0px 0px 7px 15px;
	background:transparent url(arr_orange.gif) no-repeat 0px 4px;
}

#homeContent #homeCentral #accueil.container .others ul li a{	
	color:#666666;
	font-weight:bold;
}

a.edfRec{font-size:13px;font-weight:bold;color:#333333 !important}
a.edfRec:hover{color:#ff6633 !important}

#homeContent #homeCentral .container .banniere{
	float:left;
	margin-right:14px;
}

#homeContent #homeCentral .container .banniere a img{
	width:250px;
	height:110px;
}

#homeContent #homeCentral #particuliers.container .bloc,#homeContent #homeCentral #profs.container .bloc,#homeContent #homeCentral #entreprise.container .bloc,#homeContent #homeCentral #collectivite.container .bloc{
	background:transparent url(bg_block.png) no-repeat;
	width:190px;
	height:113px;
	float:left;
	margin-right:25px;
	padding:0px 2px 0px 2px;
	position: relative;
}

*html #homeContent #homeCentral #particuliers.container .bloc,* html #homeContent #homeCentral #profs.container .bloc,* html #homeContent #homeCentral #entreprise.container .bloc,* html #homeContent #homeCentral #collectivite.container .bloc{
	background:transparent url(bg_block.gif) no-repeat;
}

#homeContent #homeCentral .container .lauraCons{
	width:194px;
	height:113px;
	float:left;
	margin-right:25px;
}

#homeContent #homeCentral #particuliers.container #mySpace h2{
	background:transparent url(head_my_space.gif) no-repeat;
	display:block;
	height:19px;
	font-size:13px;
	font-weight:bold;
	padding:4px 0px 0px 18px;
	color:#fff;	
}

#homeContent #homeCentral a.btAccess{
	bottom:6px;
	font-size:1.1em;
	font-weight:bold;
	padding-left:10px;
	position:absolute;
	right:13px;
}

#homeContent #homeCentral a.btAccess:hover{
	color:#FF6633;
}

#homeContent #homeCentral #particuliers.container #mySpace a.btAccess{
	background:transparent url(arrow_part.gif) no-repeat scroll 0 4px;
	color: #009ee1;
}

#homeContent #homeCentral #profs.container #mySpace a.btAccess{
	background:transparent url(arrow_pro.gif) no-repeat scroll 0 4px;
	color: #831a6e;
}

#homeContent #homeCentral #entreprise.container #mySpace a.btAccess{
	background:transparent url(arrow_entr.gif) no-repeat scroll 0 4px;
	color: #957f6e;
}

#homeContent #homeCentral #collectivite.container #mySpace a.btAccess{
	background:transparent url(arrow_coll.gif) no-repeat scroll 0 4px;
	color: #008895;
}


#homeContent #homeCentral #particuliers.container #mySpace ul,
#homeContent #homeCentral #profs.container #mySpace ul,
#homeContent #homeCentral #entreprise.container #mySpace ul,
#homeContent #homeCentral #collectivite.container #mySpace ul,
#homeContent #homeCentral #particuliers.container #mySpace p,
#homeContent #homeCentral #profs.container #mySpace p,
#homeContent #homeCentral #entreprise.container #mySpace p,
#homeContent #homeCentral #collectivite.container #mySpace p
{
	padding:12px 5px 0px 15px;
}

#homeContent #homeCentral #particuliers.container #mySpace p,
#homeContent #homeCentral #profs.container #mySpace p,
#homeContent #homeCentral #entreprise.container #mySpace p,
#homeContent #homeCentral #collectivite.container #mySpace p,
#homeContent #homeCentral #particuliers.container #mySpace ul li a,
#homeContent #homeCentral #profs.container #mySpace ul li a,
#homeContent #homeCentral #entreprise.container #mySpace ul li a,
#homeContent #homeCentral #collectivite.container #mySpace ul li a
{
	color:#666666;
	font-weight:bold;
}

ul.arrOrange li{
	padding:0px 0px 6px 10px;
	background:transparent url(arr_orange.gif) no-repeat 0px 4px;
}

#homeContent #homeCentral #particuliers.container #bleuCiel a{
	/*margin:8px 0px 0px 10px;*/
	display:block;
}

p.edfBleuCiel{
	float:right;
	display:block;
	clear:both;
	text-align:right;
	padding:5px 45px 0px 0px;
	font-size:12px;
	font-weight:bold;
}

p.edfBleuCiel a.all{
	background:transparent url(pict_bleuF.gif) no-repeat 0px 2px;
	padding:0px 0px 0px 15px;
	color:#003679;
}

p.edfBleuCiel a{
	color:#666666;
}

/****/

#homeContent #homeCentral #profs.container #mySpace h2{
	background:transparent url(head_my_space_prof.gif) no-repeat;
	display:block;
	height:19px;
	font-size:13px;
	font-weight:bold;
	padding:4px 0px 0px 18px;
	color:#fff;	
}

#homeContent #homeCentral .container #besoinEnergie h2{
	color:#ea611e;
	font-size:16px;
	padding:8px 0px 8px 12px;
}

#homeContent #homeCentral .container #besoinEnergie ul li a{
	color:#666666;
	font-weight:bold;
}

#homeContent #homeCentral .container #besoinEnergie ul{
	padding:0px 0px 0px 12px;
}

#homeContent #homeCentral #profs.container #edfPro{
	text-align:center;
}
#homeContent #homeCentral #profs.container #edfPro a{
	display:block;
	/*margin-top:10px;*/
}

/****/

#homeContent #homeCentral #entreprise.container #mySpace h2{
	background:transparent url(head_my_space_entr.gif) no-repeat;
	display:block;
	height:19px;
	font-size:13px;
	font-weight:bold;
	padding:4px 0px 0px 18px;
	color:#fff;	
}

#homeContent #homeCentral #entreprise.container #edfEntr{
	text-align:center;
}

#homeContent #homeCentral #entreprise.container #edfEntr a{
	display:block;
	/*margin-top:5px;*/
}

#homeContent #homeCentral #entreprise.container #conseiller a,
#homeContent #homeCentral #particuliers.container #conseiller a,
#homeContent #homeCentral #profs.container #conseiller a, /* modif */
#homeContent #homeCentral #collectivite.container #conseiller a /* modif */ {
	display:block;
	/*margin-top:4px;*/
}
/****/

#homeContent #homeCentral #collectivite.container #mySpace h2{
	background:transparent url(head_my_space_collect.gif) no-repeat;
	display:block;
	height:19px;
	font-size:13px;
	font-weight:bold;
	padding:4px 0px 0px 18px;
	color:#fff;	
}

#homeContent #homeCentral #collectivite.container #edfCol{
	text-align:center;
}

#homeContent #homeCentral #collectivite.container #edfCol a{
	display:block;
	/*margin-top:5px;*/
}

/************************************/
/************************************/

/** Footer */

#homeContent #footer{
	height:20px;
	width:100%;
	text-align:center;
	padding:8px 0px 0px 0px;
}

#homeContent #footer ul li{
	display:inline;
	font-size:10px;
	color:#666666;
}

#homeContent #footer ul li a{
	padding:1px 5px 2px 5px;
	color:#666666;
}

#homeContent #footer ul li a.devPart{
	background:transparent url(devenir_partenaire.png) no-repeat;
	color:#ff6633;
	padding:1px 9px 3px 8px;
}

* html #homeContent #footer ul li a.devPart{
	background:transparent url(devenir_partenaire.gif) no-repeat;
}








