	/*Masqués*/
	body {
		font-size: 9pt;
		font-family: Georgia, "Georgia", serif;
		}

	h1 {font-size: 1.5em;}
	h2 {font-size: 1.4em;}
	h3 {font-size: 1.3em;}
	h4 {font-size: 1.2em;}
	h5 {font-size: 1.1em;}
	h5 {font-size: 1em;}
	h1, h2, h3, h4, h5, h6,p {margin: 0.5em 0 0.8em 0;}
	p {line-height: 1.4em;}
	* {color: #000;}
/*	img {display: block; float: left; margin: 0.5em; clear: left;}*/
	img {border:0;}
	a:link, a:visited {
		color: #333;
		background: transparent;
		font-weight: bold;
		text-decoration: none;
		}
	#topBanner,#legales,#top,#prelude,#extra,#sideBar,#newsletter, #plus, #sideContent, .pagination a, 
	#footer a {display: none;}

	/*Styles éléments*/
	.dateglobale {
		text-align: right;
		float: right;
		padding:5pt;
		border-left: 1pt solid #000;
		}
	#logo {
/*		font-size: 13pt;*/
		border-top: 5pt #000 solid;
		padding-top: 10pt;
		text-transform: uppercase;
	}
	#logo img {
		margin: 0 0 1em 0;
		}
	.ariane {
		margin: 0; padding: 0;
		list-style: none;
		border-bottom: 0.25pt #000 solid;
		border-top: 1pt #000 solid;
		padding-bottom: 10pt;
		padding-top: 10pt;
		height: 10pt;
		}
	.ariane li {float: left; margin-right: 5pt;}
	#footer {
		padding-top: 10pt;
		border-top: 2pt #000 solid;
	}
	.clearfix {clear: both;}
	.infos {border-bottom: 0.25pt #999 solid;}
	
	
