.icoCommentB, .icoCommentG, .icoCommentO, .icoJournalB, .icoJournalG, .icoJournalO, .icoJournalToolsB, .icoJournalToolsG, .icoJournalToolsO, .icoPodcastB, .icoPodcastG, .icoPodcastO, .icoFiStockMoneyB, .icoFiStockMoneyG, .icoFiStockMoneyO, .icoFiMarketB, .icoFiMarketG, .icoFiMarketO, .icoFiStockB, .icoFiStockG, .icoFiStockO, .icoFiFondsB, .icoFiFondsG, .icoFiFondsO, .icoNewsB, .icoNewsG, .icoNewsO, .icoFiDatabaseB, .icoFiDatabaseG, .icoFiDatabaseO, .icoUBusinessB, .icoUBusinessG, .icoUBusinessO, .icoUJobsB, .icoUJobsG, .icoUJobsO, .icoUDatabaseB, .icoUDatabaseG, .icoUDatabaseO, .icoTechB, .icoTechG, .icoTechO, .icoWeblogB, .icoWeblogG, .icoWeblogO, .icoPBusinessActivityB, .icoPBusinessActivityG, .icoPBusinessActivityO, .icoMarketDataB, .icoMarketDataG, .icoMarketDataO, .icoEcoLexikonB, .icoEcoLexikonG, .icoEcoLexikonO, .icoEcoJournalB, .icoEcoJournalG, .icoEcoJournalO, .icoThemeCategoryB, .icoThemeCategoryG, .icoThemeCategoryO, .icoInfoGraphB, .icoInfoGraphG, .icoInfoGraphO, .icoTableB, .icoTableG, .icoTableO, .icoWebLinkB, .icoWebLinkG, .icoWebLinkO, .icoPollB, .icoPollG, .icoPollO, .icoQuizB, .icoQuizG, .icoQuizO.icoSpecialB, .icoSpecialG, .icoSpecialO, .icoAnalysisB, .icoAnalysisG, .icoAnalysisO, .icoCommentsB, .icoCommentsG, .icoCommentsO, .icoExcluArtB, .icoExcluArtG, .icoExcluArtO, .icoStandArtB, .icoStandArtG, .icoStandArtO, .icoPicGalleryB, .icoPicGalleryG, .icoPicGalleryO, .icoVideoB, .icoVideoG, .icoVideoO, .icoMobileB, .icoMobileG, .icoMobileO 
{color: #727272 !important; padding: 0.1em 0 0.1em 10px !important; background: transparent url(http://www.handelsblatt.com/Images/background/ico_orange_rarr.gif) left center no-repeat;}

.upperLinkArrow { text-transform:uppercase; }
span.arrow, span.upperLinkArrow { display: none;}
.arrowBold, .upperLinkArrow { background:url(http://www.handelsblatt.com/images/icon/ico_link_arrow_bold.gif) no-repeat right center; padding:0 7px 0 0; }

*+html span.arrow, 
*+html span.upperLinkArrow { display:inline-block; } 

acronym.tooltipp, a.tooltipp { background:url(http://www.handelsblatt.com/images/icon/ico_orange_tooltipp.gif) no-repeat right center; padding:0 10px 0 0; }

a.icoTooltippOr, ul li.icoTooltip { background:url(http://www.handelsblatt.com/images/icon/ico_orange_tooltip.gif) no-repeat;}

.icoArticleB { background:url(http://www.handelsblatt.com/images/icon/ico_blue_article.gif) no-repeat;}

/* Calender*/
.icoCalB { background:url(http://www.handelsblatt.com/images/icon/ico_blue_cal.gif) no-repeat;}
.icoCalG { background:url(http://www.handelsblatt.com/images/icon/ico_grey_cal.gif) no-repeat;}
.icoCalO { background:url(http://www.handelsblatt.com/images/icon/ico_orange_cal.gif) no-repeat;}

/* Delete */
.icoDeleteB { background:url(http://www.handelsblatt.com/images/icon/ico_blue_delete.gif) no-repeat;}
.icoDeleteG { background:url(http://www.handelsblatt.com/images/icon/ico_grey_delete.gif) no-repeat;}
.icoDeleteO { background:url(http://www.handelsblatt.com/images/icon/ico_orange_delete.gif) no-repeat;}

/* Edit */
.icoEditB { background:url(http://www.handelsblatt.com/images/icon/ico_blue_edit.gif) no-repeat;}
.icoEditG { background:url(http://www.handelsblatt.com/images/icon/ico_grey_edit.gif) no-repeat;}
.icoEditO { background:url(http://www.handelsblatt.com/images/icon/ico_orange_edit.gif) no-repeat;}

/* Germany */
.icoPGermanyB { background:url(http://www.handelsblatt.com/images/icon/ico_blue_p_germany.gif) no-repeat;}
.icoPGermanyG { background:url(http://www.handelsblatt.com/images/icon/ico_grey_p_germany.gif) no-repeat;}
.icoPGermanyO { background:url(http://www.handelsblatt.com/images/icon/ico_orange_p_germany.gif) no-repeat;}

/* Memorylist */
.icoMemlistB { background:url(http://www.handelsblatt.com/images/icon/ico_blue_memlist.gif) no-repeat;}
.icoMemlistG { background:url(http://www.handelsblatt.com/images/icon/ico_grey_memlist.gif) no-repeat;}
.icoMemlistO { background:url(http://www.handelsblatt.com/images/icon/ico_orange_memlist.gif) no-repeat;}

/* Login */
.icoLoginB { background:url(http://www.handelsblatt.com/images/icon/ico_blue_login.gif) no-repeat;}
.icoLoginG { background:url(http://www.handelsblatt.com/images/icon/ico_grey_login.gif) no-repeat;}
.icoLoginO { background:url(http://www.handelsblatt.com/images/icon/ico_orange_login.gif) no-repeat;}

/* Print */
.icoPrintB { background:url(http://www.handelsblatt.com/images/icon/ico_blue_print.gif) no-repeat;}
.icoPrintG { background:url(http://www.handelsblatt.com/images/icon/ico_grey_print.gif) no-repeat;}
.icoPrintO { background:url(http://www.handelsblatt.com/images/icon/ico_orange_print.gif) no-repeat;}

/* RSS */
.icoRssG { background:url(http://www.handelsblatt.com/images/icon/ico_grey_rss.gif) no-repeat;}
.icoRssB { background:url(http://www.handelsblatt.com/images/icon/ico_blue_rss.gif) no-repeat;}
.icoRssO { background:url(http://www.handelsblatt.com/images/icon/ico_orange_rss.gif) no-repeat;}

/* Send */
.icoSendB { background:url(http://www.handelsblatt.com/images/icon/ico_blue_send.gif) no-repeat;}
.icoSendG { background:url(http://www.handelsblatt.com/images/icon/ico_grey_send.gif) no-repeat;}
.icoSendO { background:url(http://www.handelsblatt.com/images/icon/ico_orange_send.gif) no-repeat;}

/* Social Bookmarking */
.icoBookmarkB { background:url(http://www.handelsblatt.com/images/icon/ico_blue_bookmark.gif) no-repeat;}

/* Tool-PC*/
.icoToolPcB { background:url(http://www.handelsblatt.com/images/icon/ico_blue_tool_pc.gif) no-repeat;}
.icoToolPcG { background:url(http://www.handelsblatt.com/images/icon/ico_grey_tool_pc.gif) no-repeat;}
.icoToolPcO { background:url(http://www.handelsblatt.com/images/icon/ico_orange_tool_pc.gif) no-repeat;}

/* Data-Download*/
.icoDataDownlB { background:url(http://www.handelsblatt.com/images/icon/ico_blue_data_download.gif) no-repeat;}
.icoDataDownlG { background:url(http://www.handelsblatt.com/images/icon/ico_grey_data_download.gif) no-repeat;}
.icoDataDownlO { background:url(http://www.handelsblatt.com/images/icon/ico_orange_data_download.gif) no-repeat;}

a.icoWebLinkB {color: #727272; padding: 0.1em 0 0.1em 10px !important; background: transparent url(http://www.handelsblatt.com/Images/background/ico_orange_rarr.gif) left center no-repeat; }

/* PDF*/
.icoPdfB { background:url(http://www.handelsblatt.com/images/icon/ico_blue_pdf.gif) no-repeat;}
.icoPdfG { background:url(http://www.handelsblatt.com/images/icon/ico_grey_pdf.gif) no-repeat;}
.icoPdfO { background:url(http://www.handelsblatt.com/images/icon/ico_orange_pdf.gif) no-repeat;}

/* Newsletter */
.icoNewsLForwB { background:url(http://www.handelsblatt.com/images/icon/ico_blue_forw.gif) no-repeat 0px 0px; padding:0 0 0 14px !important; }
.icoNewsLDeleB { background:url(http://www.handelsblatt.com/images/icon/ico_blue_dele.gif) no-repeat 0px 0px; padding:0 0 0 14px !important; }
.icoNewsLOpenB { background:url(http://www.handelsblatt.com/images/icon/ico_blue_open.gif) no-repeat 0px 0px; padding:0 0 0 14px !important; }
.icoNewsLProfB { background:url(http://www.handelsblatt.com/images/icon/ico_blue_inte.gif) no-repeat 0px 0px; padding:0 0 0 14px !important; }

/* Embed-Icon*/
.icoEmbedB { background:url(http://www.handelsblatt.com/images/icon/ico_blue_embed.gif) no-repeat;}
.icoEmbedG { background:url(http://www.handelsblatt.com/images/icon/ico_grey_embed.gif) no-repeat;}
.icoEmbedO { background:url(http://www.handelsblatt.com/images/icon/ico_orange_embed.gif) no-repeat;}

/* Tools */
.icoBigTools { background:url(http://www.handelsblatt.com/images/icon/ico_big_tools.gif) no-repeat; }

/* Aktuell */
.icoBigCurrent { background:url(http://www.handelsblatt.com/images/icon/ico_big_current.gif) no-repeat; } 

/* Studien und Statistiken */
.icoBigStudies { background:url(http://www.handelsblatt.com/images/icon/ico_big_studies.gif) no-repeat; } 

/* News */
.icoBigNews { background:url(http://www.handelsblatt.com/images/icon/ico_big_news.gif) no-repeat; } 

/* Ratgeber */
.icoBigCounseler { background:url(http://www.handelsblatt.com/images/icon/ico_big_counseler.gif) no-repeat; } 

/* Audio */
.icoBigAudio { background:url(http://www.handelsblatt.com/images/icon/ico_big_audio.gif) no-repeat;  }

/* Video */
.icoBigVideo { background:url(http://www.handelsblatt.com/images/icon/ico_big_video.gif) no-repeat;  }

/* Newsletter */
.icoBigNewsletter { background:url(http://www.handelsblatt.com/images/icon/ico_big_newsletter.gif) no-repeat;  }

/* User */
.icoBigUser { background:url(http://www.handelsblatt.com/images/icon/ico_big_user.gif) no-repeat;  }

/* Thread */
.icoBigThread { background:url(http://www.handelsblatt.com/images/icon/ico_big_thread.gif) no-repeat; } 

/* Rubrik */
.icoBigCategory { background:url(http://www.handelsblatt.com/images/icon/ico_big_category.gif) no-repeat; } 

/*  Zahlen, Fakten, FAQ */
.icoBigData { background:url(http://www.handelsblatt.com/images/icon/ico_big_data.gif) no-repeat;  }

/* Artikel */
.icoBigArticle { background:url(http://www.handelsblatt.com/images/icon/ico_big_article.gif) no-repeat;  }

/* Aktien */
.icoBigStock { background:url(http://www.handelsblatt.com/images/icon/ico_big_stock.gif) no-repeat;  }

/* Externer Link */
.icoBigExternalLink { background:url(http://www.handelsblatt.com/images/icon/ico_big_extern_link.gif) no-repeat;  }

/* Download */
.icoBigDownload { background:url(http://www.handelsblatt.com/images/icon/ico_big_download.gif) no-repeat;  }

/* Webblog/Blog */
.icoBigBlog { background:url(http://www.handelsblatt.com/images/icon/ico_big_blog.gif) no-repeat;  }

/* Bildergallery */
.icoBigImagegallery { background:url(http://www.handelsblatt.com/images/icon/ico_big_imagegallery.gif) no-repeat; } 

/* Infodiagramm */
.icoBigInfochart { background:url(http://www.handelsblatt.com/images/icon/ico_big_infochart.gif) no-repeat;  }

/* Umfrage */
.icoBigVoting { background:url(http://www.handelsblatt.com/images/icon/ico_big_voting.gif) no-repeat; } 

/* PDF */
.icoBigPdf { background:url(http://www.handelsblatt.com/images/icon/ico_big_pdf.gif) no-repeat; } 

/* Kategorie mit neuem Inhalt */
.icoBigCategroryNewCnt { background:url(http://www.handelsblatt.com/images/icon/ico_big_category_new_content.gif) no-repeat;  }

/* Icons auf dunklem Grund (Audioplayer) */
div.audioplayerHuge .icoMemlistB {background: url(http://www.handelsblatt.com/images/icon/ico_grey_memlist.gif)}
div.audioplayerHuge .icoSendB {background:url(http://www.handelsblatt.com/images/icon/ico_grey_send.gif)}
div.audioplayerHuge .icoBookmarkB {background:url(http://www.handelsblatt.com/images/icon/ico_grey_bookmark.gif)}
div.audioplayerHuge .icoEmbedB {background:url(http://www.handelsblatt.com/images/icon/ico_grey_embed.gif)}
div.audioplayerHuge .icoDataDownlB {background:url(http://www.handelsblatt.com/images/icon/ico_grey_data_download.gif)}
div.audioplayerHuge .icoRssB {background:url(http://www.handelsblatt.com/images/icon/ico_grey_rss.gif) no-repeat;}