/* ######################################### General #################################################### */
.Wp1Negative { white-space: nowrap;	word-spacing: -0.2em; }
.Wp1Positive { color:#398934; font-weight: bold; }
.Wp1Negative { color:#a71716; font-weight: bold; }

tr.border { border-bottom:solid 1px #bbb; }
/* ######################################### Ende General #################################################### */


/* ######################################### Finanzclips rechte Spalte #################################################### */

/* Tabbed Marketinfo */
.rtContentBox .Wp1MarketInfo .Wp1Positive.absolute, .rtContentBox .Wp1MarketInfo .Wp1Negative.absolute { font-weight:bold; display:block; width:70px; padding-left:12px; background-position:15px center; background-repeat:no-repeat; }
.rtContentBox .Wp1MarketInfo .Wp1Positive.absolute { background-image:url(http://www.handelsblatt.com/Images/background/ico_chartarrow_up.gif); }
.rtContentBox .Wp1MarketInfo .Wp1Negative.absolute { background-image:url(http://www.handelsblatt.com/Images/background/ico_chartarrow_down.gif); }
.rtContentBox .Wp1MarketInfo .Wp1Positive.percent, .rtContentBox .Wp1MarketInfo .Wp1Negative.percent { font-weight:bold; display:block; width:60px; }
.rtContentBox .Wp1MarketInfo div.ctWp1TabularData {font-size:12px;}
.rtContentBox .Wp1MarketInfo div.ctWp1TabularData table {font-size:12px; border-collapse: collapse;}
.rtContentBox .Wp1MarketInfo div.ctWp1TabularData td { height:20px; }

/* Boersenticker im Fuss */
#ticker_wrap {overflow:hidden;position:relative;cursor:default;border-top:1px solid #bbb; background:#f7f7f7; width:298px; height:14px; margin: 0; padding: 1px 0 1px 0; font:bold 10px Arial, Helvetica, sans-serif; line-height: 14px; *line-height: 12px;}
.hbTicker {white-space:nowrap;cursor:default;visibility:hidden;}
#ticker_wrap span.tickerItem {padding:0 10px; margin:1px 0; border-right:solid 1px #727272; display: inline-block; min-width: 10px; width: auto !important; width: 10px;}
span.tickerItem a { white-space:nowrap; display:block; height:10px; padding: 0; border-bottom:solid 1px #f7f7f7; }
span.tickerItem a:hover { text-decoration:none; border-bottom:solid 1px #727272; }
.rtContentBox .Wp1MarketInfo span.tickerItem a.Wp1Positive {color:#398934; }
.rtContentBox .Wp1MarketInfo span.tickerItem a.Wp1Negative {color:#a71716; }
.rtContentBox .Wp1MarketInfo span.tickerItem span { padding:0 6px; color:#727272; }

/* ######################################### Ende Finanzclips rechte Spalte #################################################### */

.rtContentBox .Wp1MarkOffTop, .rtContentBox .Wp1MarkOffBottom, .rtContentBox .Wp1MarkOffTopBottom {  }

.wp1ChartHeadline{height:16px;width:100%;background-color:#ffffff;text-align:center; margin:0px 0 6px 0; }
.wp1ChartHeadline h3 {font-size: 12px; font-weight: bold; color:#222; text-transform:uppercase}

.wp1BlockHeadline{ height:16px;width:100%;background:url(http://www.handelsblatt.com/images/background/bg_gradient_grey_headline.png) repeat-x;text-align:center; margin:0px 0 6px 0; }
.wp1BlockHeadline h3 {font-size: 12px; font-weight: bold; color:#222; text-transform:uppercase}
.wp1BlockHeadlineLeft{ height:16px;width:100%;background:url(http://www.handelsblatt.com/images/background/bg_gradient_grey_headline.png) repeat-x;text-align:left; margin:0px 0 6px 0; }
.wp1BlockHeadlineLeft h3 {font-size: 12px; font-weight: bold; color:#222; text-transform:uppercase}
.wp1BlockHeadlineRight{ height:16px;width:100%;background:url(http://www.handelsblatt.com/images/background/bg_gradient_grey_headline.png) repeat-x;text-align:right; margin:0px 0 6px 0; }
.wp1BlockHeadlineRight h3 {font-size: 12px; font-weight: bold; color:#222; text-transform:uppercase}

a.wp1LinkedText {color:#727272; padding: 0.1em 0 0.1em 10px !important; background: transparent url(http://www.handelsblatt.com/Images/background/ico_orange_rarr.gif) left center no-repeat; } /*arrowlink-attribute fÃ¼r .WP1CtFooterLine hinzugefÃ¼gt, ggf spezifischer definieren*/

div.wp1ctBlock {Width:100%; overflow:hidden; }

div.cnWp1QuoteHeader { width:440px;overflow:hidden; font-family:Arial, Helvetica, sans-serif;color:#9d9d9d; font-size:10px;margin-bottom:6px; padding-bottom:9px;}
div.cnWp1QuoteHeader h2 {font-family:"Arial Black", Arial, Helvetica, sans-serif; font-weight:normal; font-size:19px; color:#222;}
div.cnWp1QuoteHeader h3 {font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; margin-bottom: 5px; color:#222;}
div.cnWp1QuoteHeader div.cols { background:url(http://www.handelsblatt.com/images/background/bg_dotted_vertical_three_cols.gif) repeat-y;width:440px;height:75px;overflow:hidden;margin-bottom:1px;}
div.cnWp1QuoteHeader div.cols div.col1 { width:130px;float:left;padding:0 15px 0 0; margin-top: 15px; text-align:center;   }				
div.cnWp1QuoteHeader div.cols div.col2 { width:140px;float:left;margin: 15px 5px 0 5px; text-align:center; font-size: 1.1em;}				
div.cnWp1QuoteHeader div.cols div.col3 { width:130px;float:right;padding:0 0 0 10px; margin-top: 15px; text-align:left; font-size: 1.1em;}	
div.cnWp1QuoteHeader select {font-size: 11px;width:120px; color:#9d9d9d;}
div.cnWp1QuoteHeader .refreshbutton { font-size: 11px;width:80%;text-align:center;margin-top:8px; color:#222; background-color: #efefef;}
div.cnWp1QuoteHeader div.price {font-size: 16px; font-weight:bold; white-space: nowrap; word-spacing: -0.2em;}
div.cnWp1QuoteHeader div.col2 span {color: #727272}
div.cnWp1QuoteHeader span.exchange {font-weight:normal; color:#222; }
div.cnWp1QuoteHeader div.col2 a {text-decoration: underline; color: #727272}


div.Wp1FormBox { width:140px;overflow:hidden;}
div.Wp1FormBox h3 {font-size: 12px; font-weight: bold; color:#222; text-transform:uppercase}
div.Wp1FormBox form {/* background-color:#e6e6e6; */ font-size: 10px; color:#222; margin:20px 0 10px 0;padding:10px 10px 10px 10px;}
div.Wp1FormBox div.form {/* background-color:#e6e6e6; */ font-size: 10px; color:#222; margin:20px 0 10px 0;padding:10px 10px 10px 10px;}
div.Wp1FormBox input[type='text'],input.text {font-size: 10px;width:95%; color:#9d9d9d;margin:0 0 10px 0;} 
div.Wp1FormBox select {font-size: 10px; color:#9d9d9d; }
div.Wp1FormBox select.currency  {width:53px;}
div.Wp1FormBox select.floatleft {float: left;}

div.Wp1FormBox2 { width:100%; overflow:hidden; }
div.Wp1FormBox2 h3 {font-size: 12px; font-weight: bold; color:#222; text-transform:uppercase}
div.Wp1FormBox2 form {/* background-color:#e6e6e6; */ font-size: 10px; color:#222; margin:20px 0 10px 0;padding:10px 10px 10px 10px;}
div.Wp1FormBox2 div.form {/* background-color:#e6e6e6; */ font-size: 10px; color:#222; margin:20px 0 10px 0;padding:10px 10px 10px 10px;}
div.Wp1FormBox2 input[type='text'],input.text {font-size: 10px;width:95%; color:#9d9d9d;margin:0 0 10px 0;} 
div.Wp1FormBox2 select {font-size: 10px; color:#9d9d9d; }
div.Wp1FormBox2 select.currency  {width:53px; float: left;}

div.WP1ContentStopper, div.WP1ContentStopper2 { width:440px;overflow:hidden;margin:14px 0 8px 0; }
div.WP1ContentStopper{ background:url(http://www.handelsblatt.com/images/background/bg_dotted_vertical_two_cols_2to1.gif) repeat-y; }

div.cnWp1QuoteChart { width:440px;overflow:hidden;}
div.ctWp1QuoteChart h3 {font-size: 12px; font-weight: bold; color:#222; text-transform:uppercase}

div.ctWp1QuoteChart { width:298px;overflow:hidden;}
div.ctWp1QuoteChart h3 {font-size: 12px; font-weight: bold; color:#222; text-transform:uppercase}

div.cnWp1QuoteData { width:440px;overflow:hidden;}
div.cnWp1QuoteData h3 {font-size: 12px; font-weight: bold; color:#222;text-transform:uppercase}
div.cnWp1QuoteData div.cnWp1QuoteDataOneCol { width:440px;overflow:hidden; }
div.cnWp1QuoteData div.cnWp1QuoteDataTwoCols { width:440px;overflow:hidden;}
div.cnWp1QuoteData div.cnWp1QuoteDataTwoCols div.cols { background:url(http://www.handelsblatt.com/images/wp1/bg_wp1_dotted_vertical_two_cols.gif) repeat-y;width:440px;overflow:hidden;  }
div.cnWp1QuoteData div.cnWp1QuoteDataTwoCols div.cols div.col1 { width:210px;float:left;padding:0 10px 0 0; }				
div.cnWp1QuoteData div.cnWp1QuoteDataTwoCols div.cols div.col2 { width:210px;float:right;padding:0 0 0 10px; }

div.cnWp1TabularData table th { font-family:Arial;font-size:12px; }
div.cnWp1TabularData table td { font-family:Arial;font-size:12px; }
div.cnWp1TabularData table { width:100%;border-collapse:collapse;line-height:12px;color:#222;margin: 0 0 0 0;}
div.cnWp1TabularData table .right{ text-align:right; }
div.cnWp1TabularData table .left{ text-align:left; }
div.cnWp1TabularData table tbody th { font-weight:normal;text-align:left;}
div.cnWp1TabularData tbody tr.even th, div.cnWp1TabularData tbody tr.even td, div.cnWp1TabularData tbody tr.uneven th, div.cnWp1TabularData tbody tr.uneven td { border-top:solid 1px #e3e3e3; border-bottom:solid 1px #e3e3e3; height:16px; }

div.ctWp1TabularData { font-family:Arial;font-size:12px; }

div.ctWp1TabularData table thead th { padding:1px 3px 0px 3px; height:18px; background:#e3e3e3; font-size:10px; font-weight:bold; }
div.ctWp1TabularData table tbody th { padding:0px 3px 0px 3px; font-weight:normal;text-align:left; border-bottom:1px solid #e3e3e3; font-size:12px;}
div.ctWp1TabularData table tbody th {font-family:Arial;font-size:10px; }
div.ctWp1TabularData table tbody td {font-family:Arial;font-size:10px; padding:0px 3px 0px 3px; }
div.ctWp1TabularData table { width:100%;border-collapse:collapse;line-height:14px;color:#222; }
div.ctWp1TabularData table .right{ text-align:right; }
div.ctWp1TabularData table .left{ text-align:left; }
div.ctWp1TabularData table tbody tr td, div.ctWp1TabularData table tbody tr th  { border-top:solid 1px #e3e3e3; border-bottom:solid 1px #e3e3e3; height:16px }
div.ctWp1TabularData table table tbody tr td, div.ctWp1TabularData table table tbody tr th  { border: none;}

div.ctWp1TabularData tbody td.firstrowleft { height:20px; border-bottom: solid 1px #9d9d9d; border-top: solid 1px #9d9d9d; border-left: solid 1px #9d9d9d; }
div.ctWp1TabularData tbody td.firstrow { height:20px; border-bottom: solid 1px #9d9d9d; border-top: solid 1px #9d9d9d; }
div.ctWp1TabularData tbody td.firstrowright { height:20px; border-bottom: solid 1px #9d9d9d; border-top: solid 1px #9d9d9d; border-right: solid 1px #9d9d9d; }

div.Wp1References { width:100%;border-collapse:collapse;margin-bottom:5px; font-size: 1.2em;}
div.Wp1References .formElements {text-align:center;margin-top:5px}
div.Wp1References .formElements input{font-family: Arial, Helvetica,sans-serif; font-size:11px; background-color: #efefef;}
div.Wp1References button {width:80%;text-align:left;margin-top:5px; color:#5c5c5c; }
div.Wp1References img.wp1gauge {display: block;  margin-left: auto;  margin-right: auto;}


/* POTENTIAL ERROR Alte smartcardnavielemente - Formatierung greift nur noch in cnLeftCol */
div.cnLeftCol div.WP1CardNavigation ul.smartcardsdouble { border-bottom: solid 1px #c5c5c5; height:30px;margin:0 0 9px 0;vertical-align:middle;}
div.cnLeftCol div.WP1CardNavigation ul.smartcardsdouble li a { height:26px; outline:none; background: #ededed url(http://www.handelsblatt.com/images/background/bg_card_0.gif) repeat-x;color:#727272;display:block;border:solid 1px #c5c5c5;border-bottom-width:0;	margin-top:1px;	font-weight:normal;	height:16px;padding-top:2px; width:71px; }
div.cnLeftCol div.WP1CardNavigation ul.smartcardsdouble li.active a {color:#222 !important; border-color:#c5c5c5 !important;	border-bottom-color:#FFFFFF !important;	border-bottom-width:1px; margin-top:0 !important; line-height:15px; margin-bottom:-1px;position:relative; z-index:1; background:#FFFFFF !important;padding-top:3px; font-weight:bold}
div.cnLeftCol div.WP1CardNavigation ul.smartcardsdouble li a:hover { text-decoration:none; }
div.WP1ChartNavigation ul.smartcardsdouble li a, div.cnLeftCol div.WP1CardNavigation ul.smartcardsdouble li a  {height:26px;}
div.WP1ChartNavigation ul.smartcardsdouble, div.cnLeftCol div.WP1CardNavigation ul.smartcardsdouble { border-bottom: solid 1px #c5c5c5; height:30px;margin:0 0 9px 0;vertical-align:middle;}

div.cnLeftCol div.WP1CardNavigation li a.ctx_first { border-left:0; }
div.cnLeftCol div.WP1CardNavigation li a.ctx_last { border-right:0; }
div.cnLeftCol div.WP1CardNavigation li a.cnt_first { border-left:1; }
div.cnLeftCol div.WP1CardNavigation li a.cnt_last { border-right:1; width:63px; }

div.WP1ChartNavigation li, div.cnLeftCol div.WP1CardNavigation li { float:left;text-align:center;font-size:10px;text-transform:uppercase; }
div.WP1ChartNavigation ul.smartcards { border-bottom: solid 1px #c5c5c5; height:20px;margin:0 0 9px 0;vertical-align:middle;}

div.WP1ChartNavigation li a { outline:none; background: #ededed url(http://www.handelsblatt.com/images/background/bg_card_0.gif) repeat-x;color:#727272;display:block;border:solid 1px #c5c5c5;border-bottom-width:0;	margin-top:1px;	font-weight:normal;	height:16px;padding-top:2px; width:73px;}
div.WP1ChartNavigation ul.smartcards li a {height:16px;}
div.WP1ChartNavigation li.active a {color:#222 !important; border-color:#c5c5c5 !important;	border-bottom-color:#FFFFFF !important;	border-bottom-width:1px; margin-top:0 !important; line-height:15px; margin-bottom:-1px;position:relative; z-index:1; background:#FFFFFF !important;padding-top:3px; font-weight:bold}
div.WP1ChartNavigation li a:hover { text-decoration:none; }
div.WP1ChartNavigation li a.ctx_first { border-left:0; }
div.WP1ChartNavigation li a.ctx_last { border-right:0; }
div.WP1ChartNavigation li a.cnt_first { border-left:1; }
div.WP1ChartNavigation li a.cnt_last { border-right:1; width:63px; }

div.WP1CtFooterLine { font-family:Arial; font-size:12px; text-align:right; padding:5px 0 5px 0; clear:both; position:relative; display:inline; }
div.WP1CtFooterLine:after { clear: both; content: ' ';	display: block;font-size: 0;line-height: 0;visibility: hidden;width: 0;height: 0; }
*div.WP1CtFooterLine:after { height:1%; }

div.WP1CtFooterLine .right{text-align:right;}
div.WP1CtFooterLine .left{text-align:left;}

div.WP1CtFooterLine ul { float:left; position:relative; text-align:left; margin:10px 20px 10px 0; }
div.WP1CtFooterLine ul li { }
div.WP1CtFooterLine ul li a { background:transparent url(http://www.handelsblatt.com/Images/icon/ico_orange_rarr.gif) left center no-repeat; padding-left:10px; color:#222; }

div.wp1NoteBox {font-size:12px;  margin:20px 5px 20px 10px;}
div.wp1NoteBox .right{text-align:right;}
div.wp1NoteBox .left{text-align:left;}
div.wp1NoteBox .center{text-align:center;}

div.wp1ImageCenter {width:100%; text-align:center;}
div.wp1ImageLeft {width:100%; text-align:left;}
div.wp1ImageRight {width:100%; text-align:right;}

.WP1Break {visibility: hidden;line-height: 0.1%;font-size: 0.1%;text-decoration: none !important;}


div.Wp1MarketInfo div.Wp1CtInner { padding:10px; clear:both; }
div.Wp1MarketInfo div.Wp1CtInner div.ChartBody {padding-top: 23px;}
div.Wp1MarketInfo div.Wp1CtInner:after { clear: both; content: ' '; display: block;font-size: 0;line-height: 0;visibility: hidden;width: 0;height: 0; }
*div.Wp1MarketInfo div.Wp1CtInner { height:1%; }

div.Wp1MarketInfo div.Wp1CtInner div.chart { font-size:.7em;text-align:right;color:#1a171b;width:100%;overflow:hidden;padding:0 0 6px;margin-bottom:3px;  }
div.Wp1MarketInfo div.Wp1CtInner div.chart h3 { float:left;display:inline;font-size:1em;font-weight:normal; }
div.Wp1MarketInfo div.Wp1CtInner div.chart span { float:left;display:inline;margin-left:7px; }
div.Wp1MarketInfo div.Wp1CtInner div.chart img { display:block;clear:both;float:none; }
div.Wp1MarketInfo table.top { font-size:10px;border-collapse:collapse;float:left;margin-bottom:10px;width:130px; }
div.Wp1MarketInfo table.flop { font-size:10px;border-collapse:collapse;float:right;margin-bottom:10px;width:130px; }

/* Fixes für Tops/Flops rechte Spalte */

div.Wp1MarketInfo table.top tr th a, div.Wp1MarketInfo table.flop tr th a { font-weight:normal; }
div.Wp1MarketInfo div.boxFooter a.arrowLink {padding: 0.1em 0 0.1em 10px !important; }


div.cnWp1ChartForm { width:440px;overflow:hidden; font-family:Arial, Helvetica, sans-serif;color:#727272; font-size:1.2em; }
div.cnWp1ChartForm h3 {font-size: 12px; font-weight: bold; color:#222; text-transform:none;padding-top: 3px;}
div.cnWp1ChartForm select {font-size: 11px;width:110px; color:#727272}
div.cnWp1ChartForm span.fixedLabel {display: block; float: left;}
div.cnWp1ChartForm div.wp1row {width:100%;margin-top: 5px;margin-left: 30px; height:30px; padding: 10px 0;}
div.cnWp1ChartForm div.wp1row div.wp1LeftPart {width:190px;float:left;}
div.cnWp1ChartForm div.wp1row div.wp1RightPart {width:200px; float:left;padding:0 0 0 25px;}
div.cnWp1ChartForm input[type='text'],input.text {font-size: 10px;width:90px; color:#727272;} 

div.cnWP1Coop {width:440px;overflow:hidden; text-align:center; font-size: 12px; font-family:Arial, Helvetica, sans-serif;color:#222;}


.WP1ModalBackground
{
	background-color: #000000;
	color: #1a171b;
	filter: alpha(opacity=60);
	opacity: 0.6;
	-moz-opacity: 0.6;
}

.WP1ModalPopup
{
	background-color: White;
	display: block;
	border: 0px;
}

.WP1ModalCloseButton
{ float: right; }


/* free text */
.WP1MessageBox,
.WP1Link,
.WP1Text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
}
/* free link */
a.WP1Link,
a.WP1Link2 { padding: 0px 10px 0px 0px; text-decoration: none; }
a.WP1Link { background: url(http://www.handelsblatt.com/images/icon/ico_link_arrow.gif) no-repeat right center; }
a.WP1Link:hover,
a.WP1Link2:hover { text-decoration: underline; }

/* link in ul menu */
.WP1LinkInTabs
{
	color: #445cb2 !important;
	background-image: none !important;
	background-color: white !important;
	border-style: none !important;
	border-color: white !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px !important;
	font-style: normal !important;
	font-variant: normal !important;
	font-weight: normal !important;
	text-decoration: none !important;
	text-transform: none !important;
	text-align: right !important;
	line-height: 20px !important;
}
.WP1LinkInTabs:hover
{
	text-decoration: underline !important;
}

.WP1LinkButton,
.WP1LinkButtonHeight { line-height: 24px; }

.WP1LinkButton,
.WP1LinkButton:hover
{
	font-size: 12px;
	text-align: center;
	color: black;
	border: solid 1px #c5c5c5;
	padding: 2px;
	text-decoration: none;
}
.WP1LinkButton:hover
{
	text-decoration:  underline;
	cursor: pointer;
}
.WP1Hidden { display: none; }
.WP1Input,
.WP1DropDown { font-size: 12px; }
.WP1MessageBox { width: 100%; }
.WP1MessageBox div
{
	border: solid 1px #e0e1e3;
	padding: 5px 3px 5px 3px;
	margin: 5px;
}

.WP1DropDownDescription { padding-right: 8px; float: left; }

/*AutoComplete flyout */
.WP1AutoComplete_completionListElement 
{  
	visibility : hidden;
	margin : 0px !important;
	background-color : white;
	color : windowtext;
	border : buttonshadow;
	border-width : 1px;
	border-style : solid;
	cursor : 'default';
	overflow : auto;
	height : 200px;
    text-align : left; 
    list-style-type : none;
}
/* AutoComplete item */
.WP1AutoComplete_listItem 
{
	background-color : window;
	color : windowtext;
	padding : 1px;
}
/* AutoComplete highlighted item */
.WP1AutoComplete_highlightedListItem
{
	background-color: #ee7b19;
	color: white;
	cursor: pointer;
	padding: 1px;
}

/* Quote search */
.WP1QuoteSearchResultTable
{
	border-collapse: collapse;
	table-layout: fixed;
	border: none 0px white;
	width: 100%;
}
.WP1QuoteSearchResultTable tbody tr th
{
	background-color: white;
	padding: 5px 3px 2px 3px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	border-top: solid 1px #e4e4e4;
	border-bottom: solid 1px #e4e4e4;
}
.WP1QuoteSearchResultTable tbody tr th.right
{
	border-right: none 0px white; 
}
.WP1QuoteSearchResultRow td
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	background-color: #f0f1f3;
	border-right: solid 1px #e4e4e4; 
	padding: 2px 3px 2px 3px;
}
.WP1QuoteSearchResultRow td.right
{
	border-right: none 0px white; 
}
.WP1QuoteSearchResultAltRow td
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	background-color: White;
	border-right: solid 1px #e4e4e4;
	padding: 2px 3px 2px 3px;
}
.WP1QuoteSearchResultAltRow td.right
{
	border-right: none 0px white; 
}
.WP1QuoteSearchFooterTable
{
	background-color: white;
	margin-top: 3px;
	padding: 2px 3px 2px 3px;
}
.WP1QuoteSearchHeaderTable tr td.c0top 
{
	padding-left: 5px;
	text-align: left;
	font-weight: 700;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	color: #ee7b19;
}
.WP1QuoteSearchHeaderTable tr td.c1top
{
	padding: 0px 5px 0px 5px;
	text-align: left;
	font-size: 12px;
}
.WP1QuoteSearchHeaderTable tr td.c0 
{
	padding-left: 5px;
	text-align: left;
	font-weight: bold;
	font-size: 12px;
}
.WP1QuoteSearchHeaderTable tr td.c1 
{
	padding: 0px 5px 0px 5px;
	text-align: center;
	font-size: 12px;
}
.WP1QuoteSearchHeaderTable tr td input.textbox 
{
	width: 365px;
	cursor: auto;
}
.WP1QuoteSearchHeaderTable tr td.c2
{
	text-align: right;
	padding-right: 5px;
}

.WP1FieldSet
{
	border: solid 1px #e0e1e3;
	font-size: 10px;
	padding: 5px;
	margin-bottom: 2px;
}
.WP1FieldSet legend
{
	font-weight: bold;
}

.WP1Heading
{	
	background: url(http://www.handelsblatt.com/images/background/bg_gradient_grey_headline.png) repeat-x;
	border: solid 1px #e0e1e3;
	margin: 3px 0px 2px;
	padding: 2px 5px 2px 5px;
	width: 100%;
	height: 16px;
	text-align: left;
	font-size: 10px;
	font-weight: bold;
}

/* modal quote search popup styles */
.WP1QuoteSearchModalBackground
{
	background-color: #000000;
	color: #1a171b;
	filter: alpha(opacity=60);
	opacity: 0.6;
	-moz-opacity: 0.6;
}
.WP1QuoteSearchModalPopup
{
	background-color: White;
	width: 600px;
	display: block;
	border: 0px;
}

.WP1QuoteSearchDragPanel
{
	border-top: #9d9d9d 1px solid;
	border-right: #9d9d9d 1px solid;
	border-left: #9d9d9d 1px solid;
	overflow: hidden;
	height: 13px;
	background-color: #f2f2f2;
}

.WP1QuoteSearchDragPanelCloseIcon
{
	padding: 2px 2px 2px 0px;
	float: right;
	height: 9px;
	width: 9px;
	border: 0px;
}

.WP1QuoteSearchPanel
{
	background-color: White;
	border: #9d9d9d 1px solid;
}

.WP1QuoteSearchRefreshDiv,
.WP1QuoteSearchRefreshSpan
{
	background-image: url(http://www.handelsblatt.com/images/wp1/refresh_moving.gif);
	background-repeat: no-repeat;
	background-position: left;
	vertical-align: middle;
	height: 16px;
	z-index: 100;
}
.WP1QuoteSearchRefreshDiv {width: 16px;}
.WP1QuoteSearchRefreshSpan {display: block; padding-left: 20px;}

.WP1QuoteSearchDetailPanel
{
	background-color: White;
	margin: 5px;
}

.WP1QuoteSearchFilterPanel
{
	width: 100%;
}

.WP1QuoteSearchExpirationPanel,
.WP1QuoteSearchStrikePanel,
.WP1QuoteSearchIssuerPanel,
.WP1QuoteSearchTypePanel
{
	float: left;
	width: 150px;
	margin-right: 3px;
}
.WP1QuoteSearchExpirationPanel { width: 200px; }
.WP1QuoteSearchStrikePanel { float: none; }
.WP1QuoteSearchStrikePanel fieldset { text-align: right; }
.WP1QuoteSearchIssuerPanel { width: 220px; }
.WP1QuoteSearchTypePanel { width: 220px; }
.WP1QuoteSearchRefreshPanel { float: right; width: 110px; margin: 10px;}

.WP1QuoteSearchExpirationTable tr td { font-size: 10px; }

.WP1QuoteSearchResultPanel
{
	margin-top: 2px;
}

.WP1CancelButton
{
	padding: 3px 3px 3px 3px;
	color: white;
	text-align: center;
	vertical-align: middle;
}

.WP1ClearBoth { clear: both; line-height: 0px; }

/* Message box */
.WP1MessagePanel,
.WP1MessageErrorPanel
{
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 2px;
	margin-bottom: 2px;
}
.WP1MessageErrorPanel { border: solid 1px #ff0000; background-color: #ffeeee; }
.WP1MessagePanel { border: solid 1px #13c824;  background-color: #fafffa; }
.WP1MessageLabel
{
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	line-height: 30px;
}

/* Buttons */
.WP1ButtonSmall,
.WP1ButtonBig,
.WP1ButtonLarge {border:1px solid #bbb;margin:0;padding-right:8px;padding-left:8px;background: transparent url(http://www.handelsblatt.com/images/buttons/bt_bg_input_submit.gif) left center repeat-x; position:relative;text-transform:none;font-size:12px; color:#333; -moz-border-radius: 2px; -webkit-border-radius: 2px; cursor: pointer;}

.WP1ButtonSmall:hover,
.WP1ButtonBig:hover,
.WP1ButtonLarge:hover {background-image: url(http://www.handelsblatt.com/images/buttons/bg_input_submit_aktiv.gif);}

*+html .WP1ButtonSmall,
*+html .WP1ButtonBig,
*+html .WP1ButtonLarge { background-color: #000000; margin-top:6px; margin-bottom:6px; border:1px solid transparent; padding: 2px;}

.WP1ButtonLarge { width:100%; }
input.floatright { float:right; }

.WP1ButtonActive { background-image:url(http://www.handelsblatt.com/images/buttons/bg_bg_input_input_submit_aktive.gif);background-position:right center; text-transform:uppercase;font-size:12px; color:#FFFFFF; }
.WP1ButtonActive { vertical-align: middle; cursor: pointer; background-color:transparent; border:1px solid #000000; }
*+html .WP1ButtonActive { background-color: #000000; border:1px solid transparent;}

/* Validators + Masked Edit */
.WP1QuotesMaskedEditFocus,
.WP1QuotesMaskedEditError
{
	border-style: inset;
	border-width: 2px;
	padding: 1px;
	text-align: justify;
}
.WP1QuotesMaskedEditFocus { background-color: #ffffcc; }
.WP1QuotesMaskedEditError { background-color: #ffcccc; }

div.WP1MPLChartDisplay div.chart { float:left;display:inline;margin-right:10px; }
div.WP1MPLChartDisplay div.chart img { display:block;margin:8px 0 6px; }
div.WP1MPLChartDisplay div.chart h4 {color:#222;text-transform:uppercase; font-size:12px;padding:5px 4px 1px; }
div.WP1MPLChartDisplay div.text { padding:0 0 0 0; }
div.WP1MPLChartDisplay div.text h4 {font-size:12px;padding:5px 4px 1px; }
div.WP1MPLChartDisplay div.text a {color: #727272;}
div.WP1MPLChartDisplay div.text p a {padding: 0.1em 0 0.1em 10px !important; background: transparent url(http://www.handelsblatt.com/Images/background/ico_orange_rarr.gif) left center no-repeat;}


.gnExchangeTable table thead th div.highlow span { width:9px;height:5px;float:left;overflow:hidden;margin:2px 0;padding:0;background-repeat:no-repeat;color:#c5c5c5; }

.gnExchangeTable tbody td div.trend { 
	background: url(http://www.handelsblatt.com/images/background/bg_redgreen.gif) no-repeat left center;
	color:White;
}

/* History, Realtime, News */
div.cnWp1FormChartData table.wp1-cdl-formtable{ background-color:#EDEDED; font-family:Arial, Helvetica, sans-serif; color: #222; font-size: 12px; border-collapse: collapse;}
div.cnWp1FormChartData td.wp1-cdl-form { background-color:#EDEDED; font-family:Arial; color: #40413F; font-size: 12px; padding: 4px 4px 4px 4px; }
div.cnWp1FormChartData select { font-family:Arial; font-size: 10px; color:#222; }
div.cnWp1FormChartData input.wp1-cdl-inptext { width:35px; font-family:Arial; font-size: 10px; padding:2px; color:#222; }
div.cnWp1TabularChartData table th {font-family:Arial;font-size:12px;font-weight: bold; color: #222;}
div.cnWp1TabularChartData table th.wp1-headertop { background: #EDEDED; text-align: center;}
div.cnWp1TabularChartData table th.wp1-cdl-header { background: #E3E3E3; text-align:right; padding: 2px 8px;}
div.cnWp1TabularChartData table td {font-family:Arial;font-size:12px; padding-left: 8px; padding-right: 8px; border: 1px solid #E3E3E3; border-left: none; border-right: none;}
div.cnWp1TabularChartData table { width:100%;border-collapse:collapse;line-height:16px;color:#666666;margin: 0 0 12px 0;}
div.cnWp1TabularChartData table tr.even {height:16px; }
div.cnWp1TabularChartData table tr.uneven {height:16px; }
.wp1-headerchart{ background: #F6AD76 url(http://www.handelsblatt.com/images/background/bg_headline_teaser_right.gif) repeat-x scroll center bottom; border:solid 1px #f18e23; padding: 3px 5px 3px 5px; }
.wp1-newsheader { color: #222; font-size: 20px; font-family:Times New Roman; height:20px; }
.wp1-newsinfo { color: #222; font-size:10px; font-family:Arial; padding-bottom: 20px;}

/* Paging */
div.back a {}
div.back a:hover {}
div.next a {}
div.next a:hover {}
A.wp1-paginglink {font-size: 12px; }

/* &thinsp; surrogate */
.WP1ThinSp,
.WP1PriceUp,
.WP1PriceDown
{
	white-space: nowrap;
	word-spacing: -0.2em;
}

/* colored price up / down */
.WP1PriceUp
{
	text-decoration: none;
	color: #008010;
}
.WP1PriceDown
{
	text-decoration: none;
	color: #ff0000;
}

/* Start WP1News stuff*/
table.wp1News							{ border-collapse:collapse;border-spacing:0;margin-bottom:5px;}
table.wp1News td						{ font-size:12px; padding:0 0 5px 0;}
table.wp1News td.h2					{ font-weight:bold;color:#ee7b19;font-size:14px;padding-bottom:8px; }
table.wp1News .headLink				{ padding-top:2px;font-size:10px; margin-left:17px;color:#9D9D9C; }
table.wp1News .newsheader			{ padding:15px 0 10px 0}
table.wp1News td.showchart    	{ background: #EDEDED url(http://www.handelsblatt.com/images/background/bg_gradient_grey_headline.png) repeat-x scroll center bottom; font-weight:bold;height:14px;padding:0;margin:0;cursor:pointer;} 
table.wp1News td.showchart *    	{ cursor:pointer;} 
table.wp1News td.showchart img   { float:left;margin-right:5px; }
table.wp1News td.showchart div   { padding:0;margin:0 }
table.wp1News td div.separator	{ background:url(http://www.handelsblatt.com/images/background/bg_dotted_horizontal.gif) repeat-x bottom;font-size:0px;height:10px;padding:0; margin:0; }

/* patch for exchangetable in two cols */
.structTwoCols .gnExchangeTable table thead th {	background:url(http://www.handelsblatt.com/images/background/bg_header_exchange_table.gif) repeat-x;	height:35px; }


/* ausgelagerte Analyser-Styles */
.wp1dg-header,
.wp1dg-pager { background: url(http://www.handelsblatt.com/images/background/bg_gradient_grey_headline.png) repeat-x;color:#40413f;margin:4px 0px 3px 0px; height:50px; }
.wp1dg-storypager { background: url(http://www.handelsblatt.com/images/background/bg_gradient_grey_headline.png) repeat-x;color:#40413f;font-size:12px;font-weight:bold;text-align:center;margin:4px 0px 3px 0px; }
.wp1details-head { background: url(http://www.handelsblatt.com/images/background/bg_gradient_grey_headline.png) repeat-x;color:#40413f;font-size:12px;font-weight:bold;text-align:center; }


div.gnDepotNavi,
div.gnDepotNaviPadding { padding:0 0 18px  0; }
div.gnDepotNavi div.block,
div.gnDepotNaviPadding div.block { background:#e6e6e6;width:440px; padding:14px 0;position:relative; }
div.gnDepotNavi div.block { padding:0; }
div.gnDepotNavi div.block div.cols,
div.gnDepotNaviPadding div.block div.cols { background:url(http://www.handelsblatt.com/images/background/bg_disturber_line_depotnavi.gif) repeat-y;width:440px;overflow:hidden;}
div.gnDepotNavi div.block div.cols div.colLeft,
div.gnDepotNaviPadding div.block div.cols div.colLeft { width:139px;margin:0 1px 0 0;float:left;padding:10px; }
div.gnDepotNavi div.block div.cols div.colRight,
div.gnDepotNaviPadding div.block div.cols div.colRight { width:259px;margin:0 0 0 1px;float:left;padding:10px;   }
div.gnDepotNaviPadding div.headline { padding:0 8px 13px 12px;margin:0; }
div.gnDepotNaviPadding div.headline img.icon { position:absolute; top:-13px; }
div.gnDepotNaviPadding div.headline h2 { color:#6d93c9;font-size:.9em;font-weight:bold; padding:0 0 0 70px;margin-top:-2px; }
div.gnDepotNavi div.block div.cols div.colRight a.back {font-size:.9em; text-transform:none; background:url(http://www.handelsblatt.com/images/buttons/bt_button_arrow_small_left_1.gif) no-repeat left center;padding:2px 0 2px 18px;line-height:1em;   }
div.gnDepotNavi div.block div.cols div.colRight a.backdisabled {font-size:.9em; text-transform:none; background:url(http://www.handelsblatt.com/images/buttons/bt_button_arrow_small_left_1.gif) no-repeat left center;padding:2px 0 2px 18px;line-height:1em; color:Gray }
div.gnDepotNavi div.block div.cols div.colRight a.next {font-size:.9em; text-transform:none; background:url(http://www.handelsblatt.com/images/buttons/bt_button_arrow_small_right_1.gif) no-repeat right center;padding:2px 18px 2px 0;line-height:1em;  }
div.gnDepotNavi div.block div.cols div.colRight a.nextdisabled {font-size:.9em; text-transform:none; background:url(http://www.handelsblatt.com/images/buttons/bt_button_arrow_small_right_1.gif) no-repeat right center;padding:2px 18px 2px 0;line-height:1em; color:Gray }
div.gnDepotNavi div.block div.cols div.colRight a.next:hover {text-decoration:underline; }
div.gnDepotNavi div.block div.cols div.colRight a.nextdisabled:hover {text-decoration:none; }
div.gnDepotNavi div.block div.cols div.colRight a.back:hover {text-decoration:underline; }
div.gnDepotNavi div.block div.cols div.colRight a.backdisabled:hover {text-decoration:none; }

div.WP1MarketOverview,div.WP1MarketOverviewNoPad div.header {text-transform:uppercase; font-size:10px; padding:0 0 5px 0;}
div.WP1MarketOverview,div.WP1MarketOverviewNoPad h2 { padding:0 0 4px 0; font-size:0.6em; font-weight:normal; }
div.WP1MarketOverviewNoPad h2  { text-transform:uppercase; }
div.WP1MarketOverview,div.WP1MarketOverviewNoPad td { padding: 0 10px 0 0}
div.WP1MarketOverview,div.WP1MarketOverviewNoPad td.chart { font-size:10px;}
div.WP1MarketOverview,div.WP1MarketOverviewNoPad td.chart div.chartheader { padding: 0 0 5px 0;}
/* Ausnahmeregelung, wenn WP1 Charts 2-Spaltig am Kopf der Seite stehen (Index Finanzen) */div.structOneCol div.WP1MarketOverview { padding:0 0 15px 0 !important; } 
div.WP1MarketOverview,div.WP1MarketOverviewNoPad tr {vertical-align:top; }
div.WP1MarketOverviewNoPad td { padding: 0 0 0 0}
.Wp1MOMarkOffTopBottom{}

/* u.a. Tabellenformate für Chartbühne */
div.ctWp1MOTabularData {font-family:Arial;font-size:10px;}
div.ctWp1MOTabularData table {border-collapse:collapse;}
div.ctWp1MOTabularData table th {font-family:Arial;font-size:10px;}
div.ctWp1MOTabularData table td {font-family:Arial;font-size:10px;}
div.ctWp1MOTabularData table { width:100%;border-collapse:collapse;line-height:14px;margin-bottom:0px;}
div.ctWp1MOTabularData table .right{ text-align:right; }
div.ctWp1MOTabularData table .left{ text-align:left; }
div.ctWp1MOTabularData table thead tr th { padding:1px 3px 0px 3px; height:18px;background:#e3e3e3;color:#222;font-size:10px;font-weight:bold; }
div.ctWp1MOTabularData table tbody tr th { padding:0px 3px 0px 3px;font-weight:normal;text-align:left;}
div.ctWp1MOTabularData table tbody tr td { padding:0px 3px 0px 3px;}
div.ctWp1MOTabularData tbody tr.even td, div.ctWp1MOTabularData tbody tr.even th, div.ctWp1MOTabularData tbody tr.uneven td, div.ctWp1MOTabularData tbody tr.uneven th { border-top:solid 1px #e3e3e3; border-bottom:solid 1px #e3e3e3; height:16px }
div.ctWp1MOTabularData tbody td.firstrowleft { height:20px; border-bottom: solid 1px #9d9d9d; border-top: solid 1px #9d9d9d; border-left: solid 1px #9d9d9d; }
div.ctWp1MOTabularData tbody td.firstrow { height:20px; border-bottom: solid 1px #9d9d9d; border-top: solid 1px #9d9d9d; }
div.ctWp1MOTabularData tbody td.firstrowright { height:20px; border-bottom: solid 1px #9d9d9d; border-top: solid 1px #9d9d9d; border-right: solid 1px #9d9d9d; }

/* CategoryModules */
div.rtRMQuickSelector {padding: 10px; font-size:12px;}
div.rtRMQuickSelector div.selector select {width:208px;}
div.rtRMQuickSelector div.selectorLinks {padding-top:2px; text-align:right}
div.rtRMQuickSelector div.selectorLinks a {font-size:10px;}

div.rtCurQuickSelector {padding: 10px; font-size:12px;}
div.rtCurQuickSelector table {margin-left: 20px; margin-top:5px;}

div.rtCurQuickSelector div.selector select {width:218px;}
div.rtCurQuickSelector div.selectorLinks {padding-top:0px; text-align:right}
div.rtCurQuickSelector div.selectorLinks a {font-size:10px;}

div.rtRMCurQuickSelector div.seperator {border-top:1px solid #D3D3D3; margin-left: 10px; margin-right:10px;}

div.rtStockQuickSelector {padding: 10px; font-size:12px;}
div.rtStockQuickSelector div.selector {padding-bottom:10px; }
div.rtStockQuickSelector div.selector select {width:218px;}
div.rtStockQuickSelector div.seperator {border-top:1px solid #D3D3D3;}
div.rtStockQuickSelector div.selectorLinks a {font-size:10px;}
div.rtStockQuickSelector div.selectorLinks table {width:100%;}

div.rtFundQuickSelector {padding: 10px; font-size:12px;}
div.rtFundQuickSelector div.selector {padding-bottom:0px; }
div.rtFundQuickSelector div.selector select {width:218px;}
div.rtFundQuickSelector div.seperator {border-top:1px solid #D3D3D3;}
div.rtFundQuickSelector div.selectorLinks {padding-top:2px; text-align:right}
div.rtStockQuickSelector div.selectorLinks a {font-size:11px; padding: 0.1em 0 0.1em 10px !important; background: transparent url(http://www.handelsblatt.com/Images/background/ico_orange_rarr.gif) left center no-repeat; }
div.rtFundQuickSelector div.selectorLinks table {width:100%;}


div.ctWP1OverviewWithChart {width:440px;overflow:hidden;margin:14px 0 8px 0; padding-bottom: 10px;}
div.ctWP1OverviewWithChart table {line-height:17px;}
div.ctWP1OverviewWithChart div.listLink {text-align:right; margin-top:5px;}
div.ctWP1OverviewWithChart div.listLink a,
div.ctWP1OverviewWithChart div.profileLink a {font-size: 1.2em; color: #727272; padding: 0.1em 0 0.1em 10px !important; background: transparent url(http://www.handelsblatt.com/Images/background/ico_orange_rarr.gif) left center no-repeat;}
div.ctWP1OverviewWithChart div.profileLink {text-align:right; margin-top:5px;}


div.WP1Clip {background-color:#ffffff;}

/* Fondsbarometer */
.WP1TopsImage { background-image: url(http://www.handelsblatt.com/images/wp1/tops.gif); background-position: center; background-repeat: no-repeat; width: 40px; height: 45px; float: right;}
.WP1FlopsImage { background-image: url(http://www.handelsblatt.com/images/wp1/flops.gif); background-position: center; background-repeat: no-repeat; width: 40px; height: 45px; float: right;}
.WP1TableH1,
.WP1TableH2
{
	letter-spacing: 0.02em;
	line-height: 1.1em;
	font-weight: bold;
	color: #222222;
	font-family: 'Arial Black',Arial,sans-serif;
	font-size: 1.9em;
	margin: 0;
	padding-bottom: 4px;
	text-transform: none;
}
.WP1TableH2 { line-height: 1.1em; font-size: 1.4em; padding-bottom: 3px; }
.WP1FondsTitle { padding-top: 15px; float: left; }

div.WP1QuoteTable {font-family:Arial;font-size:11px;}
div.WP1QuoteTable table {border-collapse:collapse;}
div.WP1QuoteTable table th {font-family:Arial;font-size:11px;}
div.WP1QuoteTable table td {font-family:Arial;font-size:11px;}
div.WP1QuoteTable table { width:100%;border-collapse:collapse;line-height:14px;margin-bottom:0px;}

span.disabled { color: #777777; }
.WP1ColumnHeaderRow thead tr { background-color: #E3E3E3; }
.WP1ColumnHeaderRow thead th { font-weight: bold; }
