/* DEBUT MONDE DEV */


	.lien_monde_dev{
		color:#545454;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight:bold;
		text-decoration:none;
		width:180px;
	}
	
	.lien_monde_dev:hover{
		color:#CC0000;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight:bold;
		text-decoration:underline;
		width:180px;
	}
/* FIN MONDE DEV */


/* DEBUT SCROLLBARS */

	p{
		margin-top:0px;
	}
	#dhtmlgoodies_scrolldiv{
		/* The total width of the scrolling div including scrollbar */
		width:650px;
		height:700px;	/* The height of the scrolling div */
		margin-left:5px;
	}
	#scrolldiv_parentContainer{
		width:650px;	/* Width of the scrolling text */
		height:100%;
		overflow:hidden;
		border:0px solid #EFEFEF;
		float:left;
		position:relative;
		z-index:0;
	}
	
	/*
	CSS for the scrolling content 
	*/
	#scrolldiv_content{
		padding: 1px;
		position:relative;
		font-size: 0.9em;
		line-height:100%;
		color: #EFEFEF;
	}
	
	/*
	The scrollbar slider 
	*/
	#scrolldiv_slider{
		width:15px;
		margin-left:2px;
		height:650px;
		float:left;
				margin-left:12px;
	}
	
	/*
	The scrollbar (The bar between the up and down arrow )
	*/
	#scrolldiv_scrollbar{
		width:17px;
		height:600px;	/* Total height - 40 pixels */
		border:1px solid #EFEFEF;
		position:relative;
		
	}
	/*
	The scrollbar handle
	*/
	#scrolldiv_theScroll{
		margin:1px;
		width:13px;
		height:50px;
		background-color:#FFFFFF;
		position:absolute;	
		top:0px;
		left:0px;
		cursor:pointer;
		
	}
	/*
	Scroll buttons(The up and down arrows)
	*/
	#scrolldiv_scrollUp,#scrolldiv_scrollDown{
		width:17px;
		height:16px;
		border:1px solid #EFEFEF;
		color: #FFFFFF;
		text-align:center;
		font-size:16px;
		line-height:16px;
		cursor:pointer;
	}
	#scrolldiv_scrollUp{
		margin-bottom:2px;
	}
	#scrolldiv_scrollDown{
		margin-top:2px;
	}
	#scrolldiv_scrollDown span,#scrolldiv_scrollUp span{
		font-family: Symbol;
	}
/* FIN SCROLLBARS */




/* INFOROUTE DEFILEMENT */

#tickertape{
position:relative;

layer-background-color:#FFFFFF;
width:240;
height:12;
}

#subtickertape{
background-color:#FFFFFF;
	position:absolute;
	border: 0px;
	width:240px;
	height:20px;
	left: 7px;
	top: -21px;
}

.inforoute{
color:black;
font-face:arial;
font-size:11px;
text-align:justify;
}



#dhtmlgoodies_tooltip{
		background-color:#FFF;
		border:2px solid #a9a9a9;
		position:absolute;
		display:none;
		z-index:20000;
		padding:2px;
		font-size:11px;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
		font-family: Arial, sans-serif;
		padding:5px;
		
	}
	#dhtmlgoodies_tooltipShadow{
		position:absolute;
		background-color:#EFEFEF;
		display:none;
		z-index:10000;
		opacity:0.7;
		filter:alpha(opacity=70);
		-khtml-opacity: 0.7;
		-moz-opacity: 0.7;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
									}



/* FIN INFOROUTE DEFILEMENT */