#contentPage #message-Ok h3 {
	font-weight: bold;
	font-size: 14px;
	color: #54be48;
	margin: 0;
}
#contentPage #message-Ok {
	padding: 1em ;
	margin: 1em;
	min-height: 80px;
	border: 1px solid #54be48;
}
#contentPage #message-Ok a { color: #54be48; }
#contentPage #message-Ok ul { margin: 2em; }

#contentPage #message-Echec h3 {
	font-weight: bold;
	border-color: #de2523;
	font-size: 14px;
	color: #de2523;
	margin: 0;
}
#contentPage #message-Echec {
	padding: 1em;
	margin: 1em;
	min-height: 100px;
	border: 1px solid #de2523;
}
#contentPage #message-Echec a { color: #de2523; }
#contentPage #message-Echec ul { margin: 2em; }
#contentPage #message-Echec ul li {
	list-style: square;
	list-style-image: none;
}