#topNav {
	font: normal 100% Arial, Helvetica, sans-serif;
	margin: 0px 0 0 10px;
	padding:0;
	position:absolute;
	top:67px;
}

#topNav ul {
	list-style: none;
}
#topNav ul li {
	width: 140px;
	float: left;
	position: relative;
	z-index: 1000;
	border: 1px solid #eaeaea;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	margin: 0 1px 0 0 ;
}
#topNav ul li a {
	text-decoration: none;
	font-weight:bold;
	display: block;
	padding:2px 10px 2px 15px ;
	background:#fff url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/puce_jaune.gif) 4% 50% no-repeat;
}
#topNav ul li a:link {color:#00667f;}
#topNav ul li a:visited {color: #00667f; }
#topNav ul li a:hover { color: #FFF; background-color:#DFDFDF; }
#topNav ul li a:active { color: #00667f; }
#topNav ul li:hover ul { display: block; }
#topNav ul li#prem {
	float: left;
	position: relative;
	z-index: 1000;
	display: block;
}
#topNav ul li.selected {}

#topNav ul li ul {
	display: none;
	position: absolute;
	border: 1px solid #eaeaea;
	width: 138px;
	text-transform: none;
	z-index: 1000;
	padding: 0;
}
#topNav ul li#prem ul {}
#topNav ul li ul li {
	margin: 0;
	clear: both;
	width: 138px;
	z-index: 1000;
	border: none;
	display: block;
	position: relative;
}
#topNav ul li ul li a {
	color: #DFDFDF;
	font-weight: normal;
	text-align: left;
	font-size: 90%;
	padding: 2px 2px 2px 15px;
	background-color: #F0F0F0;
	display: block;
}
#topNav ul li ul li a:link {color: #DFDFDF;}
#topNav ul li ul li a:visited { color: #DFDFDF; }
#topNav ul li ul li a:hover { color: #FFF;background-color:#DFDFDF;display: block;  }
#topNav ul li ul li a:active { color: #FFF; }