/* <?xml version="1.0" encoding="UTF-8"?><XMLCSS> */

@import url("commun.css");

/***** Styles temporaires pour recette back-office ****/

@import url("jalios.css");

/* Pager */
.pager a {
	color: #666;
}

/* Menu */
.PortletMenu_White {
	float:right;
}


/* -------------------------------------------------------------------------------------- */
/* ---------------------------------------- LISTES MEDIAS ------------------------------- */
/* -------------------------------------------------------------------------------------- */
#listeMedias {
	font-family: Trebuchet MS;
}
#listeMedias h1 {
	color: #666666;
	font-size: 1.6em;
	font-weight: bold;
	margin: 5px 0px;
}
#listeMedias h2 {
	color: #666666;
	font-size: 12px;
	font-weight: bold;
	background-image: url(puce_grise.gif);
	background-position: left 8px;
	background-repeat: no-repeat;
	margin: 10px 0px 5px 0px;
	padding: 0px 0px 0px 10px;
}
#listeMedias h3 {
	color: #000;
	font-size: 1.3em;
	font-weight: bold;
	border-top: 1px dotted #ccc;
	height: 25px;
	vertical-align: bottom;
	padding-top: 10px;
	padding-bottom: 10px;	
	font-family: Trebuchet MS;
}
#listeMedias h3 a {
	color: #000;
	font-family: Trebuchet MS;
}
#listeMedias .photo {
	float: left;
	margin-bottom: 15px;
}
#listeMedias .photo img {
	border: 1px solid #666;
}
#listeMedias .colDroite {
	margin-left: 195px;
	padding: 5px;
	font-size: 11px;
	color: #666;
	background-color: #f9f9f9;
}
#listeMedias .colDroite .telecharger {
	margin-top: 10px;
}
#listeMedias .colDroite .telecharger a,
#listeMedias .colDroite .bonCommande a {
	color: #0A7896;
	font-weight: bold;
}

/* -------------------------------------------------------------------------------------- */
/* ------------------------------ LISTES APPELS A PROJETS ------------------------------- */
/* -------------------------------------------------------------------------------------- */
#listeAppelsAProjets {
	font-family: Trebuchet MS;
}
#listeAppelsAProjets h1 {
	color: #666666;
	font-size: 1.6em;
	font-weight: bold;
	margin: 5px 0px;
}
#listeAppelsAProjets h2 {
	font-size: 1.4em;
	font-weight: bold;
	margin: 10px 0px 0px 0px;
	padding: 5px 0px 0px 0px;
	border-top: 1px dotted #CCCCCC;
}
#listeAppelsAProjets .resume {
	font-size: 1.1em;
	color: #666666;
}
#listeAppelsAProjets a.lienProjet {
	color: black;
}

/* --------------- Glossaire --------------- */

div.title {
	color: #666;
	font-size: 1.25em;
	font-family: Trebuchet MS;
	margin-bottom: 15px;
	font-weight: bolder;
}
#conteneurGlossaire {
	padding-left: 30px;
}
#conteneurGlossaire .index {
	font-family: Trebuchet MS;
	font-weight: bolder;
	color: white;
	margin: 0px 0px 20px 0px;
	text-align: left;
	background-color: #666;
	display: inline;
	padding: 0px 5px 0px 0px;
}
#conteneurGlossaire .index a {
	color: #FFF;
	background-color: #666;
	padding: 0px 1px;
} 
#conteneurGlossaire .index a:active {
	color: #464646;
	background-color: White;
	padding: 0px 1px;
}
.Glossary span.emptyLetter {
	margin: 0px;
	color: White;
}
#conteneurGlossaire .entry {
	padding-left: 15px;
}
#glossaryTitle {
	color:#666666;
	font-family:Trebuchet MS;
	font-size:1.6em;
	font-weight:bolder;
	margin-bottom:15px;
}
#conteneurGlossaire .letter {
	font-size: 1.8em;
	font-family: Trebuchet MS;
	color: #464646;
	background-image: url(ligne_points_bas_glossaire.gif);
	background-position: 16px 14px;
	background-repeat: no-repeat;
}
#conteneurGlossaire .letter .top {
	font-size: 0.6em;
	font-family: Trebuchet MS;
	color: #666;
	margin-left: 4px;
	text-decoration: none;
}
#conteneurGlossaire .letter a {
	text-decoration: none;
}
#conteneurGlossaire .term {
	font-size: 1.3em;
	font-family: Trebuchet MS;
	color: #464646;
}
#conteneurGlossaire p.first {
	font-size: 1.1em;
	font-family: Trebuchet MS;
	color: #666;
}
#conteneurGlossaire div.seealso span.label { /* voir aussi */
	font-size: 1.1em;
	font-family: Trebuchet MS;
	color: #464646;
}
#conteneurGlossaire div.seealso span.value a { /* lien */
	font-size: 1.1em;
	font-family: Trebuchet MS;
	color: #0a7896;
	font-weight: bold;
}

#conteneurGlossaire .ancre {
	float: right;
	margin-top: -11px;
}

/* -------------------------------------------------------------------------------------- */
/* ------------------ NAVIGATION POUR LA VERSION BRETONNE ------------------------------- */
/* -------------------------------------------------------------------------------------- */
#colonneCentraleN1 .skinNavigN2 {
	width: 179px;
	margin-bottom: 15px;
}
#colonneCentraleN1 .skinNavigN2 a {
	color: #666;
	font-size: 1.1em;
	font-family: Trebuchet MS;
	padding-left: 10px;
	background-image: url(puce_navig_n2.gif);
	background-position: left 7px;
	background-repeat: no-repeat;
	line-height: 1.2em;
}
#colonneCentraleN1 .skinNavigN2 .selected a {
	color: #000;
	background-image: url(puce_navig_n2_selected.gif);
	background-position: left 5px;
	background-repeat: no-repeat;
	font-weight: bold;
}
#colonneCentraleN1 .skinNavigN2 .navigSecondaire p {
	margin-bottom: 5px;
}
#colonneCentraleN1 .skinNavigN2 .navigSecondaire h2 {
	font-weight: bolder;
}
#colonneCentraleN1 .skinNavigN2 # {
	border: 1px solid #bababa;
	background-color: #f8f8f8;
}


#colonneCentraleN1 #ID_JBO80115_5845.skinNavigN2 # h2,
#colonneCentraleN1 #ID_JBO80115_5845.skinNavigN2 # h2,
#colonneCentraleN1 #ID_JBO80115_5845.skinNavigN2 # h2 {
	color: #BF054B;
	padding-left: 15px;
	background-image: url(flecheH1NavigN2magenta.gif);
	background-position: left;
	background-repeat: no-repeat;
	font-size: 1.2em;
	font-weight: bold;
	font-family: Trebuchet MS;
	margin: 5px 7px;
}
#colonneCentraleN1 .skinNavigN2 #bordureBas {
	background-image: url(bordureOrangeBas.gif);
	background-position: left;
	background-repeat: no-repeat;
	height: 11px;
	font-size: 0px;
}
#colonneCentraleN1 .skinNavigN2 .contenuPortlet {
	border-left: 1px solid;
	border-right: 1px solid;
	padding: 10px 10px 0px 10px;
	margin-bottom: -1px;
}

#colonneCentraleN1 #ID_JBO80115_5845.skinNavigN2 .contenuPortlet,
#colonneCentraleN1 #ID_JBO80115_5845.skinNavigN2 .contenuPortlet,
#colonneCentraleN1 #ID_JBO80115_5845.skinNavigN2 .contenuPortlet {
	border-left-color: #F25000;
	border-right-color: #F25000;
}

/** Navigation principale pour la version bretonne dans la colonne centrale */

#colonneCentraleN1 .skinNavigN2Bis .navigBreton, #colonneCentraleN3 .skinNavigN2Bis .navigBreton  {
	border-left: #F25000 solid 1px;
	border-right: #F25000 solid 1px;
	width:177px;
	padding-bottom: 2px;
}	
#colonneCentraleN1 .skinNavigN2Bis, #colonneCentraleN3 .skinNavigN2Bis  {
	padding-bottom: 22px;
}

#colonneCentraleN1 .skinNavigN2Bis .navigBreton p.selected, #colonneCentraleN3 .skinNavigN2Bis .navigBreton p.selected {
	margin-bottom: 5px;
	padding-left: 10px;
	background-image: url(puce_navig_n2_selected.gif);
	background-position: left 5px;
	background-repeat: no-repeat;
	font-weight: bolder;
}
#colonneCentraleN1 .skinNavigN2Bis .navigBreton p, #colonneCentraleN3 .skinNavigN2Bis .navigBreton p {
	margin-bottom: 3px;  
	padding-left: 10px;
	background-image: url(puce_navig_n2.gif);
	background-position: left 6px;
	background-repeat: no-repeat;
}
#colonneCentraleN1 .skinNavigN2Bis .navigBreton p a, #colonneCentraleN3 .skinNavigN2Bis .navigBreton p a{
	font-size: 1.1em;
	font-family: Trebuchet MS;
	color : #666666;
}

#colonneCentraleN1 .skinNavigN2Bis h2, #colonneCentraleN3 .skinNavigN2Bis h2 {
	color: #FFF;
	font-size: 1.5em;
	font-family: Trebuchet MS;
	line-height: 15px;
}
#colonneCentraleN1 .skinNavigN2Bis #bordureHaut, #colonneCentraleN3 .skinNavigN2Bis #bordureHaut {
	padding-left: 20px;
	padding-top:5px; 
	padding-bottom:5px; 	
	background-image: url(flecheH1NavigN2blanc.gif);
	background-position: left top;
	background-repeat: no-repeat;
	background-color: #F25000;		
}

#colonneCentraleN1 .skinNavigN2Bis .navigBreton .contenuPortlet, #colonneCentraleN3 .skinNavigN2Bis .navigBreton .contenuPortlet{
	margin-left : 14px;
	margin-top: 5px;
	margin-bottom: 11px;	
}

#colonneCentraleN1 #bordureBas, #colonneCentraleN3 #bordureBas {
	background-image: url(bordureOrangeBas.gif);
	background-position: left;
	background-repeat: no-repeat;
	height : 11px;
	font-size: 0px;
	margin-top:-10px; 
}

/* -------------------------------------------------------------------------------------- */
/* ------------------ PLAN D'ACCES						  ------------------------------- */
/* -------------------------------------------------------------------------------------- */

h2.tab { 
  width: 135px;
}

h2.tab_selected { 
  width: 135px;
}

.tab-pane {
  width: 100%;
}

/* -------------------------------------------------------------------------------------- */
/* ------------------ Article Simple					  ------------------------------- */
/* -------------------------------------------------------------------------------------- */

/* Page detail Article simple */
#articleSimpleDetail {
	width: 450px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
#articleSimpleDetail .image {	
	float:left;
	margin: 0 15px 15px 0;	
}
#articleSimpleDetail .infosImg {
	background-color: #F9F9F9;	
	line-height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}
#articleSimpleDetail .infosImg p{
	margin-left: 5px;
	margin-right: 5px;
}

/* Portlet Portaits */
#portraits {
	width:300px; 
	margin:0px; 
	padding:0px;
}
#portraits #haut{
	margin:0px; 
	padding:0px;
	width:300px; 
	height:50px;
	<!--[if IE]>
		height: 35px; 
	<![endif]-->

	*margin-bottom:8px
}
#portraits #haut img{
	margin:0px; 
	padding:0px; 
}
#portraits #haut h1{
	margin:0px; 
	padding:0px;
}
#portraits #ligne {
	margin-top:8px;
	*margin-top:0px;
	margin-left: 5px; 
	margin-right: 5px; 	
	padding:0;	
	padding-bottom:5px;	
	*padding-bottom:0px;	
	overflow:auto;
}
#portraits #ligne #photo {
	padding-right: 8px;
	padding-top:3px;
	float:left; 
	margin:0px;	
}
#portraits #ligne h2{
	font-family: "Trebuchet MS";
	font-size: 11px; 
	font-weight:normal;
	color : #666666; 
}	
#portraits #ligne h3 a{
	font-family: "Gerogia";
	font-size: 15px; 
	color : #000000; 
	margin-top: -7px;
}
#portraits #bas a{
	font-family: "Trebuchet MS";
	font-size: 11px; 
	color : #000000; 
	font-weight: bold;
	float:right;
	margin-right:10px;
	margin-top:4px;	
	
}
#portraits #bas {
	width:300px;
	height:25px;	
	*margin-top:-7px;		
}

/* Module ApprendreLeBreton */

#ApprendreLeBreton {
	width:300px; 
	margin:0px; 
	padding:0px;
}
#ApprendreLeBreton #haut{
	margin:0px; 
	padding:0px;
	width:300px; 
	height: 39px; 
	*margin-bottom:8px
}
#ApprendreLeBreton #haut img{
	margin:0px; 
	padding:0px; 
}
#ApprendreLeBreton #haut h1{
	margin:0px; 
	padding:0px;
}
#ApprendreLeBreton #ligne {
	margin-top:3px;
	*margin-top:-10px;
	margin-left: 5px; 
	margin-right: 5px; 	
	padding:0;	
	padding-bottom:5px;	
	*padding-bottom:5px;	
	overflow:auto;
}
#ApprendreLeBreton #ligne h2 a{
	font-family: "Georgia";
	font-size: 14px; 
	font-weight:bold;
	color : #e1006e; 
	margin-left:43px;
}	
#ApprendreLeBreton #ligne P {
	font-family: "Trebuchet MS";
	font-size: 11px; 
	font-weight:normal;
	color : #535353; 
	margin-left:43px;
}


#ApprendreLeBreton #bas {
	width:300px;
	height:25px;	
	*margin-top:-7px;		
}

/* </XMLCSS> */