/* Message Box */
@import url("msgbox.css");

/* Form */
@import url("form.css");

/* Misc */
@import url("misc.css");

/* List */
@import url("list.css");

/* Widget */
@import url("widget.css");

/* Tab */
@import url("tab.css");

/* Body */
body {margin: 0; padding: 0px; background-color: #FFFFFF; }
body.displayWork { background-color: #FFFFFF; }

/* Exception */
DIV.exception BUTTON{
  font: bold 8pt Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  background-color: #CC0000;
  border:1px solid  #666666;
  margin: 1px;
}
DIV.exception TEXTAREA { 
  overflow:    scroll;
  white-space: pre;
  text-align:  left;
  font-size: 8pt;
  padding:   5px;
  margin:    0px;
  height:    300px;
  width:     400px;
  border:1px solid  #CC0000;
  background-color: #DDDDDD;
  color: #111111;
  display: block;
}
HTML > BODY  DIV.exception TEXTAREA { width: 90%; }

/* Preview */

DIV.previewWFState {
  background-color: #FFFFCC; 
  vertical-align: middle;
  margin: 5px;
  border:1px solid #FFEE88;
}

DIV.previewWFStateTitle {
	font: bold 12pt Arial, Helvetica, sans-serif;
	text-align: left;
	background-color: #FFEE88; 
	padding: 4px 6px 2px 6px;
  white-space:nowrap;
}

DIV.previewWFStateChooser {
  font: 10pt Arial, Helvetica, sans-serif;
  padding: 8px 4px 8px 8px;
  
}

.previewWFState FORM {
	display: inline;
}

.previewWFState SELECT{
/*  font: bold 14pt Arial, Helvetica, sans-serif;
  color: #EE5500;
  */
  
}
.previewWFState OPTION{
	/*
  font: 12pt Arial, Helvetica, sans-serif;
  */
}

/* Edit Area */
.hidden {
  display: none;
}
.nowrap {
  white-space: nowrap;
}


/* Tree */
.tree, .tree SPAN, .tree A, .tree TD {
 border:0px solid red;
 padding:0px;
 margin:0px;
 border-collapse:collapse;
 font:12px Arial, Helvetica, sans-serif;
 text-decoration:none;
 color:black;
 white-space:nowrap;
}
.tree A:hover { text-decoration: underline; }
.tree INPUT { width:12px; height:12px;}
.tree A.node IMG { border:0px;}

.ULtree , .ULtree UL { font: 12px Arial, Helvetica, Sans-Serif; color: #333333; list-style-type : none ; }
.ULtree LI           { font: 12px Arial, Helvetica, Sans-Serif; color: #333333; margin : 2px 2px 0px -25px ; white-space: nowrap; }
.ULtree A            { font: 12px Arial, Helvetica, Sans-Serif; color: #333333; text-decoration: none;}
.ULtree A:hover      { text-decoration: underline; }
.clickable           { cursor: pointer; }

/* Contextual Menu specific styles for some menu */
A.ctxPubMenu { margin-left: -5px; }
A.ctxMbrMenu { margin-left: -5px; }
A.ctxLoginSuMenu { margin-left: -2px; }
A.ctxLangMenu { }
A.ctxWsMenu { }
A.ctxEditAddMenu { }

.displayHeaderToolbar { 
  float: right;
  margin: 5px;
  background-color: #F7F7F7;
  border: 1px solid #DDDDDD;
  padding: 3px 5px 3px 5px;
}

.displayHeaderToolbar IMG.tool { 
  margin: 0 0 0 4px;
}

/* Global style for all thumbnail image */
img.thumbnail {
  border: 1px solid #BBBBBB;
  padding: 2px;
  background-color: #EEEEEE;
  margin: 5px;
}

/* Set fieldset padding as default values in firefox */
fieldset {
  padding: 3px 6px 6px 6px;
}

/* Caddy */
.caddyPopinWindow {  
	background: white url("caddy-32x32.gif") no-repeat 10px center;
	border: 3px solid #3B7FBA;
  padding-left: 55px;
	width: 350px;
  min-height: 50px;
}
.caddyPopinWindow .caddyPopinClose {
	display:block;
  float: right;
  margin-top: 5px;
	margin-right: 5px;
	background: white url("window_close_square_blue.gif") no-repeat;
	color: transparent;
	overflow: none;
	width: 16px;
	height: 16px; 
}
.caddyPopinWindow .caddyPopinContent H1 {
  font: bold 11pt Arial, Helvetica, sans-serif;
  margin-top: 0;
  padding-top: 0;
}
.caddyPopinWindow .caddyPopinContent {
	padding: 10px 0;
  font: normal 9pt Arial, Helvetica, sans-serif;
}
.caddyPopinWindow .caddyPopinContent .nbr {
	font-weight: bold;
}
.caddyPopinWindow .caddyPopinActions {
	display: block;
  float: right;
	font: normal 9pt Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  margin-right: 20px;
}
.caddyPopinWindow .caddyPopinActions A,
.caddyPopinWindow .caddyPopinActions A:VISITED {
  color: #3B7FBA;
}

.ajax-refresh-debug{ /* Ajax-Refresh Debug */
  border: 2px solid red;
}
