	UL.ctxMenu,
	UL.ctxMenu UL {
	  width:       220px;
	  margin:      0px;
	  padding:     0px;
	  color:       #666666; 
	  white-space: normal;
	  position:    absolute;
	  text-align:   left;
	  background: #F8F8F8 url('ctxmenuBack.gif') repeat-y;
	  list-style-type : none;
	  border-top:    1px solid #BBBBBB;
	  border-left:   1px solid #BBBBBB;
	  border-right:  2px solid #999999;
	  border-bottom: 2px solid #999999;
	}
	UL.ctxMenu LI {
	  height:      20px;
	  line-height: 20px;
	  margin :     0px;
	  padding :    0px 14px 0px 25px;
	  overflow:    hidden;
	  font: normal 8pt arial,helvetica,sans-serif;
	  text-align:  left;
	  vertical-align: text-bottom;
	  cursor: default;
	}
  UL.ctxMenu LI SPAN,
  UL.ctxMenu LI A {
    margin:     0px;
    padding:    0px;
    color:      #333333;
    display:    block;
    text-decoration: none;
    height:      20px;
	line-height: 20px;
	vertical-align: text-bottom;
  }
  
  /* --- ICON ------------------------ */

  UL.ctxMenu LI.icon{
    padding: 0px 0px 0px 2px;
  }
  UL.ctxMenu LI.icon LI{
    padding: 0px 14px 0px 2px;
  }
  UL.ctxMenu LI.icon IMG {
    border: 0px;
    float:  left;
    vertical-align: text-bottom;
    margin: 2px 8px 2px 3px;
  }
  
  UL.ctxMenu IMG.icon16 {
    width:  16px;
    height: 16px;
  }
  
  UL.ctxMenu LI.icon IMG.ss_sprite {
    margin: 2px 8px 2px 1px;
  }
  
  /* --- Contextual Info ------------------------ */
  
  UL.ctxInfo {
	  background: #FFFFCC !important;
	}
  
  UL.ctxInfo LI {
    padding:  0px 0px 0px 2px !important;
    line-height: 16px;
    color:      #333333;
  }
  
  UL.ctxInfo LI A,
  UL.ctxInfo LI A IMG.icon {
    
    display: inline;
    float: none;
    vertical-align: middle;
  }
  
  /* used by pager to provide page size link in ctxInfo menu */
  UL.ctxInfoLink LI A {
    display: block;
  }
  
  /* --- WAIT ------------------------ */
  
  UL.ctxMenu LI.wait{
    height:  48px;
    text-align: center;
    vertical-align: middle;
  }
  
  UL.ctxMenu LI.wait IMG{
    margin-top: 16px;
  }
  
  /* --- NODE ------------------------ */
  
  UL.ctxMenu LI.node{
    background-image: url('ctxmenuArrow.gif');
    background-position: right 6px;
    background-repeat: no-repeat;
  }
  
  /* --- HOVER ----------------------- */
  UL.ctxMenu LI.hover {
    background-color: #0066AA;
    color: #FFFFFF;
  }
  
  UL.ctxMenu > LI.hover,
  UL.ctxMenu > LI.hover A,
  UL.ctxMenu > LI.hover SPAN,
  UL.ctxMenu > LI.hover SPAN A {
    color: #FFFFFF;
  }
  
  UL.ctxMenu LI.hover UL LI,
  UL.ctxMenu LI.hover UL LI > A,
  UL.ctxMenu LI.hover UL LI > SPAN,
  UL.ctxMenu LI.hover UL LI > SPAN A {
    color: #333333;
  }
  
  UL.ctxMenu LI.hover LI.hover,
  UL.ctxMenu LI.hover LI.hover > A,
  UL.ctxMenu LI.hover LI.hover > SPAN,
  UL.ctxMenu LI.hover LI.hover > SPAN A {
    color: #FFFFFF;
  }
  
  UL.ctxInfo LI.hover{
    background-color: #FF9900;
  }
  
  
  /* --- DISABLED ------------------- */
  
  UL.ctxMenu LI.disabled{
    background: transparent;
  }
  
  UL.ctxMenu LI.disabled,
  UL.ctxMenu LI.disabled A{
    color: #ABABAB !important;
    cursor: default;
  }
  
  /* --- HR ------------------------- */
  UL.ctxMenu LI.hr,
  UL.ctxMenu LI LI.hr {
    height:      1px;
    line-height: 1px;
    font-size:   1px;
    margin:      0px;
    padding:     0px;
    background-color: #88CCDD;
  }
  
  UL.ctxMenu UL.ctxInfo LI.hr {
   background-color: #FFBB33;
  }
  
  /* --- SECTION ------------------- */
  UL.ctxMenu LI.section{
    margin: -1px ;
  	padding: 2px;
    font: bold 8pt Arial, Helvetica, Sans-Serif;
    color: #888888;
    text-align: left;
    background: #E9F1F5;
    height: 15px;
    line-height: 100%;
  }
  UL.ctxMenu UL.ctxInfo LI.section{
    background: #FFDD77;
    border-color: #FF9900;
  }
  UL.ctxMenu li.icon img.thumbnail {
    margin: 0;
  }
  
/* --------------------------------------------------------- */
/*  TOOLTIP                                                  */
/* --------------------------------------------------------- */

	UL.ctxTooltip {
	  width:     400px;
	  margin:      20px 0px 0px 0px; /* -5px 0px 0px -5px;*/
	  padding:     0px;
	  color:       #000000; 
	  position:    absolute;
	  text-align:  left;
	  white-space: normal;
	  list-style-type : none;
	  background: #FFFFDD url('tooltipBg.gif') repeat-x bottom;
	  border-top:    1px solid #E2E2CC;
    border-left:   1px solid #E2E2CC;
    border-right:  1px solid #C6C669;
    border-bottom: 1px solid #C6C669;
	}
	
	UL.ctxTooltip LI.tt {
	  margin :     0px;
	  padding :    4px 4px 4px 4px;
	  overflow:    hidden;
	  text-align:  left;
	  vertical-align: auto;
	  font: normal 8pt arial,helvetica,sans-serif;
	  cursor: default;
	}
  UL.ctxTooltip LI.tt A {
    color: #BD5D12;
    text-decoration: none;
    font: normal 8pt arial,helvetica,sans-serif;
  }
  UL.ctxTooltip LI.tt A:hover {
    text-decoration: underline;
  }
	UL.ctxTooltip LI.tt P {
	  padding: 0px;
    margin:  0px 0px 1em 0px;
	}
	UL.ctxTooltip LI.tt .title {
	  font-weight: bold;
	  background-color: #DF7F34;
	  color: #FFFFFF;
	  padding: 1px 3px 1px 3px;
	}
	IMG.ctxTooltipMenu {
	  cursor: help;
	}
	
  UL.ctxSmall{ width: 250px; }
  UL.ctxTiny { width: 150px; }
  
  
/* --------------------------------------------------------- */
/*  TRICK CTXMENU                                            */
/* --------------------------------------------------------- */
    
  .js-visible,
  .ctxPubMenu,
  .ctxMbrMenu,
  .ctxWidgetMenu,
  .ctxHomeMenu,
  .ctxTooltipMenu {
    visibility: hidden;
  }
  
  .js-ready .js-visible,
  .js-ready .ctxPubMenu,
  .js-ready .ctxMbrMenu,
  .js-ready .ctxWidgetMenu,
  .js-ready .ctxHomeMenu,
  .js-ready .ctxTooltipMenu {
    visibility: visible;
  }
  
  