#control_overlay {
  background-color:#333333;
}

DIV.def-modal,
DIV.image-modal {
  background-color:#FFFFFF;
  padding:0.4em;
  border:4px solid #5080BD;
}

DIV.image-modal {
  cursor:pointer;  
  cursor:hand;  
}

.iframe-modal {  
  padding:0.4em;
} 

.iframe-modal .iframe-modal-content {  
  margin-top:10px;
  width:100%;
  height:100%;
  color:black;
} 

.iframe-modal .iframe-modal-header {  
  text-align:center;  
} 

.iframe-modal .iframe-modal-title {  
  font-family:"Lucida Grande",Verdana;  
  font-size:12px;  
  font-size:11px;
  text-align:center;  
  float: left;
} 

.iframe-modal .iframe-modal-close {  
  display:block;  
	background: url("window_close_square_blue.gif") no-repeat;  
  float: right;
  height:20px;  
  width:18px;  
  cursor:pointer;  
  cursor:hand;  
}

DIV.modal {
  background: #FAFAFA;
  background-image: url("msgBoxBg.gif");
  background-repeat: repeat-x;
  background-position: bottom;
  padding:0.4em;
  border:4px solid #70A1DF;
}

DIV.modal H1 {
  color: #5080BD;
  margin:  0;
  padding: 0;
  font: normal 16pt Arial, Helvetica, sans-serif;
  line-height: 32px;
}

DIV.modal .msg {
  padding: 0em 0.5em 0.5em 3.8em;
  font: normal 10pt Arial, Helvetica, sans-serif;
  text-align: left;
}

DIV.modal .visual {
  background-repeat: no-repeat;
  width:  32px;
  height: 32px;
  margin: 0.3em;
  vertical-align: middle;
}

DIV.modal .btn {
  clear: both;
  padding-top: 1em;
  text-align: right;
}


/* ----------------------------------------------- */
/*  ALERT                                        */
/* ----------------------------------------------- */

DIV.warning H1,
DIV.alert   H1{
  color: #FF6633;
}

DIV.warning,
DIV.alert  {
  border:4px solid #F79200;
}

DIV.warning .visual,
DIV.alert   .visual{
  background-image: url(warning.gif);
}

/* ----------------------------------------------- */
/*  CONFIRM                                        */
/* ----------------------------------------------- */

DIV.confirm .visual {
  background-image: url(information.gif);
}

/* ----------------------------------------------- */
/*  PROMPT                                        */
/* ----------------------------------------------- */

DIV.prompt .visual {
  background-image: url(information.gif);
}

DIV.prompt .value {
  margin: 0.4em 0em 0em 0em;
  width: 20em;
}

/* ----------------------------------------------- */
/*  PROMPT                                        */
/* ----------------------------------------------- */
.modal .modalForm {
  font-family: Arial,sans-serif;
  font-size: 10pt;  
  background: #fff;
  margin:-6px;
  padding:6px;
}

.modal .modalForm .bigIcon {
  float: right;
  margin-top: 6px;
}

.browser-IE6 .modalForm .bigIcon ,
.browser-IE7 .modalForm .bigIcon ,
.browser-IE8 .modalForm .bigIcon {
  display: none;
}

.modal .modalForm H1 {
  margin:-6px -6px 10px -6px;
  padding:8px 10px 12px;
	
  font-size: 17pt;
  font-weight: bold;
  
  border-bottom:1px solid #dce8f2; 
	color:#0061d7; 
	background:transparent url(bgModalTitle.gif) repeat-x left bottom;
  
}


.modal .modalForm H2 {
  color: #999999;
  margin: 16px 0 8px 0;
}

.modal .modalForm .content {
  margin: 10px 10px 0 10px;
}

.modal .modalForm .info {
  margin: 0 0 10px 0;
}

.modal .modalForm .buttons {
  margin-top: 20px;
  text-align: right;
}

.modal DIV.modalForm A {
  color: #0066CC;
  text-decoration: none;
}

/* ----------------------------------------------- */
/*  WAIT WINDOW                                    */
/* ----------------------------------------------- */
.modal .waitWindow {
  width: 200px;
  height: 20px;
  padding: 10px;
  text-align: center;
}
