.mbox {
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  margin: 30px auto;
  padding: 10px;
  border: 1px solid #999999;
  background: #FAFAFA;
  background-image: url("msgBoxBg.gif");
  background-repeat: repeat-x;
  background-position: bottom;
}
.mbox .mboxTitle {
  font-size: large;
  line-height: 32px;
}
.mbox .mboxMsg {
  font-size: small;
  margin: 10px 0px 0px 37px;
  padding: 0px;
}

.mbox .mboxMsg p {
  margin-bottom: 0px;	
}


.mbox .mboxIcon {
  float: left;
  margin-right: 5px;
}

.mboxError   .mboxTitle { color: #FF0000; font-weight: bold;}
.mboxError              { border-color: #CC3333; }
.mboxWarning .mboxTitle { color: #FF6633; }
.mboxInfo    .mboxTitle { color: #0000FF; }

/* Portlet Skinable */

.PortletSkinable .mbox {
  width: 180px;
}

.PortletSkinable .mbox .mboxTitle {
  font-size: medium;
}

.PortletSkinable .mbox .mboxMsg {
  font-size: xx-small;
}