/*---------- Reset ----------*/
body {background: url(bg_page.png); color: #2e2c35; font-family: Arial, sans-serif; font-size: 62.5%; line-height: 1; margin: 0; padding: 0 5px;}
h1, h2, h3, h4, h5, h6, p, li, ol, dl, dt, dd { line-height: 1; margin: 0; padding: 0;}
form, textarea {  margin: 0;}
ul, ul ul { list-style: none; margin: 0; padding: 0;}
img { border: none;}
input, select, textarea { font-family: Arial, sans-serif; font-size: 1.1em; vertical-align: middle;}
input.input-text, textarea {   margin: 0;  padding: 0;}
fieldset { border: none; margin: 0; padding: 0;}
label { display: inline; font-weight: normal; padding: 0; vertical-align: middle; white-space: normal;}
table { border-collapse: collapse; border-spacing: 0;}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
.clear {clear: both; height: 0; font-size: 1px;}

.clearfix:after, #main:after, .main-block .in-inblock:after, .agenda-list .item-in-in:after,
.search-list .item-in-in:after
{ clear: both; content: "."; display: block; height: 0; visibility: hidden;}

/*---------- General structure ----------*/
#top-bar {height: 30px; margin: 0 auto 4px; padding: 13px 0 0;  text-align: right; width: 979px;}
#container {background: #fff; margin: 0 auto 20px; width: 979px;}
#header {background: #fff no-repeat right top; height: 140px; margin: 0;}
#header #logo {float: left; padding: 9px 0 0 14px;}
#header #header-banner {float: right; height: 140px; width: 630px;}
#header #header-banner a, #header #header-banner img {display: block;}
#body {border: 1px solid #e3e2e2; border-top-color: #fff; border-bottom-color: #f4f3f3;}
#main {padding: 0 10px 20px;}
.cols-right .main-col {float: left; width: 693px;}
.cols-right .side-col {float: right; width: 258px;}
.cols-right .title-bar {margin: 10px auto; width: 948px;}
#footer {border: 1px solid #e3e2e2;}


/*---------- Top bar (login, social links) ----------*/
#top-bar .social-links {display: inline-block; height: 30px; line-height: 30px; vertical-align: top;}
#top-bar .login-section {display: inline-block; height: 30px;line-height: 30px; vertical-align: top;}
#top-bar .login-section form  {line-height:10px;}
#top-bar .login-section form fieldset {position:relative;top:5px; }
#top-bar form, #top-bar fieldset, #top-bar .social-links li {display: inline;}
#top-bar .login-section form {margin-right: 9px;}
#top-bar .login-section input.input-text {background: url(textfield1.png) no-repeat; border: none; margin: 0 2px; padding: 1px 3px 2px; width: 154px; }
#top-bar .login-section input.input-password {background: url(textfield2.png) no-repeat; width: 88px;}
#top-bar .login-section a {color: #fff; font-weight: bold; margin-right: 9px; text-decoration: underline;}
#top-bar .social-links li img {margin-left: 2px; vertical-align: middle;}

/*---------- News bar ----------*/
#news-bar {background: #a80330 url(bg_topnews_top.png) no-repeat; margin: 0 0 7px; }
#news-bar ul {
/* background: url(../images/bg_topnews_bottom.png) no-repeat left bottom;*/
 padding: 7px 65px 7px 42px;}
#news-bar ul li {color: #fff; font-size: 1.1em; font-weight: bold;}
#news-bar ul li.active {display: block;}
#news-bar ul li a {color: #fff;}
#news-bar span.nav {float: right; padding: 5px 16px 0 0;}
#news-bar span.nav img {cursor: pointer;}

/*---------- Top "info carousel" ----------*/
#info-carousel {height: 70px; overflow: hidden;}
.jcarousel-skin-info .jcarousel-container {margin: 0 0 7px; padding: 0 45px 0 43px; width: 889px;}
.jcarousel-skin-info .jcarousel-clip-horizontal { width:  889px; height: 70px;}
.jcarousel-skin-info .jcarousel-item, #info-carousel li {background: no-repeat; display: inline; float: left; width: 120px; height: 70px; margin-left: 7px; overflow: hidden; position: relative;}
.jcarousel-skin-info .jcarousel-next-horizontal {position: absolute; top: 23px; right: 16px; width: 14px; height: 24px; cursor: pointer; background: url(arrow_red_right.png) no-repeat left center;}
.jcarousel-skin-info .jcarousel-next-disabled-horizontal { cursor: default; background: url(arrow_grey_right.png) no-repeat left center;}
.jcarousel-skin-info .jcarousel-prev-horizontal { position: absolute; top: 23px; left: 17px; width: 14px; height: 24px; cursor: pointer; background: url(arrow_red_left.png) no-repeat left center;}
.jcarousel-skin-info .jcarousel-prev-disabled-horizontal{ cursor: default; background: url(arrow_grey_left.png) no-repeat left center;}
.jcarousel-skin-info .jcarousel-item a {display: block; height: 29px; padding: 41px 0 0;}
.jcarousel-skin-info .jcarousel-item a strong {background: url(carousel_img_overlay-trans.png); color: #fff; display: block; font-size: 1.1em; font-weight: normal; height: 27px; padding: 2px 4px 0; }
.jcarousel-skin-info .jcarousel-item a strong:hover {text-decoration: underline;}
.jcarousel-skin-info .jcarousel-item p {bottom: 0; color: #fff; font-size: 1.1em; height: 15px; left: 0; padding: 0 4px; position: absolute; width: 112px;}

/*---------- Main navigation ----------*/
#main-nav {background: url(bg_main_nav.png) no-repeat; display: inline; float: left; height: 87px; margin-left: 25px; padding-left: 38px; position: relative; width: 847px; z-index: 10;}
#main-nav > li {float: left; height: 87px; width: 113px;}
#main-nav > li.op3 {width: 114px;}
#main-nav > li.op5 {width: 135px;}
#main-nav > li.op6 {width: 150px;}
#main-nav > li > a {color: #fff; display: block; font-size: 1.1em; font-weight: bold; height: 69px; line-height: 1.09; padding: 18px 5px 0; text-align: center;}
#main-nav > li:hover > a, #main-nav > li.current > a {height: 81px; text-decoration: none; padding-top: 6px;}
#main-nav > li.op5 > a {height: 62px; padding-top: 25px;}
#main-nav > li.op6 > a {font-size: 1.4em; font-weight: normal; padding: 18px 35px 0 30px;}
#main-nav > li.op5:hover > a, #main-nav > li.op5.current > a {height: 74px; padding-top: 13px;}
#main-nav > li.op6:hover > a, #main-nav > li.op6.current > a {height: 69px; padding-top: 18px;}
#main-nav > li .submenu { display: none; left: 37px; position: absolute; top: 68px; width: 787px;}
#main-nav > li.op6 .submenu {background: none; left: auto; right: 55px; top: 58px; width: 205px;}
#main-nav > li.hover .submenu {display: block;}
#main-nav > li .submenu .s-top {background: url(bg_submenu_top-trans.png); font-size: 1px; height: 11px;}
#main-nav > li.op6 .submenu .s-top {background: url(bg_submenu6_top-trans.png); height: 21px;}
#main-nav > li .submenu .submenu-in {background: url(bg_submenu-trans.png) repeat-y; width: 787px;}
#main-nav .submenu .submenu-in > ul {background: url(bg_submenu_cols.png) no-repeat; display: inline-block; font-size: 0; margin: 0 0 0 7px;}
#main-nav .submenu .submenu-in > ul > li {display: inline-block; font-size: 10px; margin: 5px 0 0 15px; vertical-align: top;}
#main-nav .submenu .col1 {width: 141px;}
#main-nav .submenu .col2 {width: 133px;}
#main-nav .submenu .col3 {width: 143px;}
#main-nav .submenu .col4 {width: 132px;}
#main-nav .submenu .col5 {width: 134px;}
#main-nav .op1 .submenu h4, #main-nav .op1 .submenu h4 a, #main-nav .op1 .submenu li a:hover, #main-nav .op1 .submenu li a strong {color: #a70230;}
#main-nav .op2 .submenu h4, #main-nav .op2 .submenu h4 a, #main-nav .op2 .submenu li a:hover, #main-nav .op2 .submenu li a strong {color: #f9b701;}
#main-nav .op3 .submenu h4, #main-nav .op3 .submenu h4 a, #main-nav .op3 .submenu li a:hover, #main-nav .op3 .submenu li a strong {color: #db6f01;}
#main-nav .op4 .submenu h4, #main-nav .op4 .submenu h4 a, #main-nav .op4 .submenu li a:hover, #main-nav .op4 .submenu li a strong {color: #32c0b7;}
#main-nav .op5 .submenu h4, #main-nav .op5 .submenu h4 a, #main-nav .op5 .submenu li a:hover, #main-nav .op5 .submenu li a strong {color: #adc119;}
#main-nav .op6 .submenu h4, #main-nav .op6 .submenu h4 a, #main-nav .op6 .submenu li:hover > a, #main-nav .op6 .submenu li a strong {color: #07c4ec;}
#main-nav .submenu li ul {margin: 0 0 15px;}
#main-nav .submenu li li, #main-nav .op6 .submenu li {color: #5d5d5d; font-size: 1.2em; line-height: 0.92; margin: 0 0 6px;}
#main-nav .submenu li li a, #main-nav .op6 .submenu li a {color: #464343; position: relative;}
#main-nav .submenu h4 {font-size: 1.2em; font-weight: bold;  line-height: 0.92; margin: 0 0 15px }
#main-nav .submenu .bottom-links {border-bottom: 1px solid #f3f3f4; margin: 30px 2px 0; min-height: 1.2em; padding: 6px; text-align: center;}
#main-nav .op1 .submenu .bottom-links {background: #b2274d;}
#main-nav .op2 .submenu .bottom-links {background: #f6be26;}
#main-nav .op3 .submenu .bottom-links {background: #dd8326;}
#main-nav .op4 .submenu .bottom-links {background: #4ec6be;}
#main-nav .op5 .submenu .bottom-links {background: #b6c63a;}
#main-nav .submenu .bottom-links li {color: #fff; display: inline; font-size: 1.2em; font-weight: bold;}
#main-nav .submenu .bottom-links li a {color: #fff !important;}
#main-nav .op6 .submenu > ul {background: url(bg_submenu6-trans.png) repeat-y; padding: 0 0 3px; width: 205px;}
#main-nav .op6 .submenu li {margin: 0 0 4px; padding: 0 14px; position: relative; width: 177px;}
#main-nav .op6 .submenu .s-bottom {background: url(bg_submenu6_bottom-trans.png) no-repeat; font-size: 1px; height: 4px;}
#main-nav .op6 .subsubmenu {display: none; left: -163px; position: absolute; top: 0; width: 163px;}
#main-nav .op6 .submenu li:hover .subsubmenu {display: block !important;}
#main-nav .op6 .subsubmenu .ss-top {background: url(bg_subsubmenu_top-trans.png) no-repeat; font-size: 1px; height: 6px;}
#main-nav .op6 .subsubmenu .ss-bottom {background: url(bg_subsubmenu_bottom-trans.png) no-repeat; font-size: 1px; height: 6px;}
#main-nav .op6 .subsubmenu ul {background: url(bg_subsubmenu-trans.png) repeat-y; margin: 0; padding: 2px 0; width: 163px;}
#main-nav .op6 .subsubmenu li {font-size: 1em; padding: 0 11px; width: 141px;}

/*---------- Mini search ----------*/
.mini-search {background: url(bg_search.png) no-repeat; display: inline; float: left; height: 48px; margin: 25px 0 0 -108px; padding: 6px 0 0 8px;  position: relative; width: 152px; z-index: 11;}
.mini-search strong {color: #3c3a42; display: block; font-size: 1.1em; font-weight: normal; margin: 0 0 3px 3px;}
.mini-search input.input-text {background: url(textfield3.png) no-repeat; border: none; font-size: 1.1em; padding: 1px 2px 2px; width: 118px;}

/*---------- Footer ----------*/
#footer .footer-1 {border-bottom: 1px solid #f1f1f2; padding: 12px 0 23px 20px;}
#footer .footer-1 div {float: left; margin-right: 13px;}
#footer .footer-1 .col-1, #footer .footer-1 .col-1 h5 a {color: #a70230; width: 160px;}
#footer .footer-1 .col-2, #footer .footer-1 .col-2 h5 a {color: #f9b701; width: 202px;}
#footer .footer-1 .col-3, #footer .footer-1 .col-3 h5 a {color: #db6f01; width: 174px;}
#footer .footer-1 .col-4, #footer .footer-1 .col-4 h5 a {color: #adc119; width: 193px;}
#footer .footer-1 .col-5, #footer .footer-1 .col-5 h5 a {color: #32c0b7; margin-right: 0; width: 163px;}
#footer .footer-1 .col-1, #footer .footer-1 .col-1 li a.link, #footer .footer-1 .col-1, #footer .footer-1 .col-1 li a:hover {color: #a70230;}
#footer .footer-1 .col-2, #footer .footer-1 .col-2 li a.link, #footer .footer-1 .col-2, #footer .footer-1 .col-2 li a:hover {color: #f9b701;}
#footer .footer-1 .col-3, #footer .footer-1 .col-3 li a.link, #footer .footer-1 .col-3, #footer .footer-1 .col-3 li a:hover {color: #db6f01;}
#footer .footer-1 .col-4, #footer .footer-1 .col-4 li a.link, #footer .footer-1 .col-4, #footer .footer-1 .col-4 li a:hover {color: #adc119;}
#footer .footer-1 .col-5, #footer .footer-1 .col-5 li a.link, #footer .footer-1 .col-5, #footer .footer-1 .col-5 li a:hover {color: #32c0b7;}
#footer .footer-1 h5 {font-size: 1.1em; margin: 0 0 13px;}
#footer .footer-1 li {font-size: 1.1em; line-height: 1.09;}
#footer .footer-1 li a {color: #2e2c35;}
#footer .footer-2 {color: #b2b1b5; font-size: 1.1em; padding: 8px; text-align: center;}
#footer .footer-2 li {display: inline;}
#footer .footer-2 li a {color: #b2b1b5;}

/*---------- News slider ----------*/
.news-slider {margin: -10px auto 13px; width: 683px;}
.news-slider h2 {background: url(a_la_une-trans.png) no-repeat; height: 29px; margin: 0 0 -6px 22px; position: relative; text-indent: -1000em; width: 122px; z-index: 1; }
.news-slider .slider-body {background: url(bg_slider.png) no-repeat; height: 230px; padding: 3px 3px 3px 520px; position: relative; width: 160px;}
.news-slider .slider-links {background: #bfc1c0; height: 230px;}
.news-slider .slider-links li {background: #bfc1c0 url(slider_button_bottom.png) repeat-x left bottom; }
.news-slider .slider-links li.last {background-image: none;}
.news-slider .slider-links li.active {background: #2e2c35;}
.news-slider .slider-links li a {color: #fff; display: table-cell; font-size: 1.2em; height: 46px; font-weight: bold; padding: 0 5px 0 17px; vertical-align: middle;}
.news-slider .slider-links li a:hover {text-decoration: none;}
.news-slider .slider-slides {height: 230px; left: 3px; overflow: hidden; position: absolute; top: 3px; width: 517px;}
.news-slider .slider-slides li {left: -3000em; position: absolute; top: 0;}
.news-slider .slider-slides li.active {left: 0;}
.news-slider .slider-slides .overlay {margin-top: -137px; position: relative; width: 448px;}
.news-slider .slider-slides .overlay .top {background: url(overlay_top-trans.png) no-repeat; font-size: 1px; height: 4px;}
.news-slider .slider-slides .overlay .bottom {background: url(overlay_bottom-trans.png) no-repeat; font-size: 1px; height: 4px;}
.news-slider .slider-slides .overlay .body {background: url(overlay-trans.png); padding: 8px 0 12px 30px; }
.news-slider .slider-slides a {color: #fff; position: relative;}
.news-slider .slider-slides h3 {color: #fff; font-size: 1.8em; font-weight: bold; margin: 0 0 15px;}
.news-slider .slider-slides p {color: #fff; font-size: 1.2em; line-height: 1;}
.news-slider .slider-slides p a {font-weight: bold; text-decoration: underline;}

/*---------- Magasin box ----------*/
.magasin-box {background: url(bg_magasin.png) no-repeat; height: 235px; margin: 4px 0 7px; padding: 14px 0 0; text-align: center; width: 258px;}
.magasin-box a {background: url(shadow_magasin.png) no-repeat; display: block; height: 213px; margin: 0 auto; padding: 8px 0 0; width: 175px;}
#tooltip {background: #fff; border: 1px solid #e5e6e5; padding: 5px; position: absolute; z-index: 12;}

/*---------- Publications box ----------*/
.publications-box {background: url(side_box_fill.png) repeat-y; margin: 0 0 13px; width: 258px;}
.publications-box .inbox {background: url(side_box_top.png) no-repeat;}
.publications-box .in-inbox {background: url(side_box_bottom.png) no-repeat left bottom; padding: 14px 6px 9px;}
.publications-box h3 {background: url(ico_pubs_header.png) no-repeat 14px 0; border-bottom: 3px solid #2e2c35; font-size: 1.4em; font-weight: normal; margin: 0 0 11px; padding: 6px 35px;}
.publications-box h3 a {color: #2e2c35;}
.first-letters span {display: inline-block;}
.first-letters span:first-letter {font-weight: bold;}
.publications-box ul {padding: 0 14px;}
.publications-box ul li {background: url(arrow_red.png) no-repeat 0 1px; font-size: 1.1em; font-weight: bold; line-height: 1.27; margin: 8px 0; padding-left: 15px;}
.publications-box ul li a {color: #2e2c35;}

/*---------- Agenda box ----------*/
.agenda-box {background: url(bg_agenda_box.png) no-repeat; height: 194px; margin: 0 0 7px; padding: 13px 15px 14px; }
.agenda-box h2 {background: url(ico_agenda.png) no-repeat; font-size: 1.8em; font-weight: normal; height: 36px; padding-left: 34px;}
.agenda-box h2 a {color: #2e2c35;}
#agenda-carousel {height: 158px; overflow: hidden; position: relative;}
.jcarousel-skin-agenda .jcarousel-container {margin: 0; padding: 0 26px 0 21px; width: 616px;}
.jcarousel-skin-agenda .jcarousel-clip-horizontal { width:  616px; height: 158px;}
.jcarousel-skin-agenda .jcarousel-item, #agenda-carousel li {background: url(bg_agenda_item.png) no-repeat; display: inline; float: left; width: 99px; height: 154px; margin-left: 6px; overflow: hidden; padding: 4px 9px 0; position: relative;}
.jcarousel-skin-agenda .jcarousel-next-horizontal {position: absolute; top: 56px; right: 0; width: 14px; height: 24px; cursor: pointer; background: url(arrow_red_right.png) no-repeat left center;}
.jcarousel-skin-agenda .jcarousel-next-disabled-horizontal { cursor: default; background: url(arrow_grey_right.png) no-repeat left center;}
.jcarousel-skin-agenda .jcarousel-prev-horizontal { position: absolute; top: 56px; left: 0; width: 14px; height: 24px; cursor: pointer; background: url(arrow_red_left.png) no-repeat left center;}
.jcarousel-skin-agenda .jcarousel-prev-disabled-horizontal{ cursor: default; background: url(arrow_grey_left.png) no-repeat left center;}
#agenda-carousel li.theme1 a {color: #a70230;}
#agenda-carousel li.theme2 a {color: #f9b701;}
#agenda-carousel li.theme3 a {color: #db6f01;}
#agenda-carousel li.theme4 a {color: #32c0b7;}
#agenda-carousel li.theme5 a {color: #adc119;}
#agenda-carousel li h3 {display: table-cell; font-size: 1.1em; height: 42px; line-height: 1.09; vertical-align: middle; }
#agenda-carousel li img {display: block; margin: 4px 0 8px;}
#agenda-carousel li strong {display: block; font-size: 1.1em; text-align: center;}

/*---------- Promo box ----------*/
.promo-box {background: url(bg_promo_box.png) no-repeat; float: left; height: 231px; margin-right: 7px; padding: 12px 0 12px 14px; width: 184px;}
.promo-box img {display: block;}

/*---------- Community box ----------*/
.community-box {float: left; padding: 14px 0 12px; width: 225px;}
.community-box ul.tabs-nav {height: 31px; margin: 0 0 24px;}
.community-box ul.tabs-nav li {background: url(community_tab.png) no-repeat; display: table-cell; height: 31px; line-height: 1.2; padding: 0 6px 0; vertical-align: middle; width: 63px;}
.community-box ul.tabs-nav a {color: #2e2c35; }
.community-box ul.tabs-nav li:hover, .community-box ul.tabs-nav li.active {background: url(community_tab_active.png) no-repeat; }
.community-box ul.tabs-nav li:hover a, .community-box ul.tabs-nav li.active a {color: #fff;}
.community-box ul.tabs-nav li a:hover { text-decoration: none;}
.tab-body {display: none;}
.tab-body.active {display: block;}
.community-box .tab-body ul {padding: 0 12px;}
.community-box .tab-body ul li {background: url(arrow_red.png) no-repeat 0 0.2em; color: #616265; line-height: 1.2; margin: 0 0 14px; padding-left: 14px;}
.community-box .tab-body a {color: #a70230; text-decoration: underline;}
.community-box .tab-body .bottom-link {padding: 0 12px; text-align: right;}

/*---------- "Our sites" box ----------*/
.sites-box {border-left: 1px solid #cbcac9; float: right; height: 216px; margin: 7px 0 0; padding: 11px 5px 0 14px; width: 229px;}
.sites-box h2 {background: url(ico_sites.png) no-repeat; font-size: 1.4em; font-weight: normal; line-height: 1.21; margin: 0 0 14px; padding: 4px 0 0 26px; }
.jcarousel-skin-sites .jcarousel-container {height: 146px; padding: 19px 0 14px;  width: 229px;}
.jcarousel-skin-sites .jcarousel-clip-vertical { width:  229px; height: 146px;}
.jcarousel-skin-sites .jcarousel-item, #sites-carousel li { width: 229px; height: 69px; margin-bottom: 4px;}
.jcarousel-skin-sites .jcarousel-next-vertical { position: absolute; bottom: 0; left: 105px; width: 24px; height: 14px; cursor: pointer; background: url(arrow_red_down.png) no-repeat center top;}
.jcarousel-skin-sites .jcarousel-next-disabled-vertical { cursor: default; background: url(arrow_grey_down.png) no-repeat center top;}
.jcarousel-skin-sites .jcarousel-prev-vertical { position: absolute; top: 0; left: 105px; width: 24px; height: 14px; cursor: pointer; background: url(arrow_red_up.png) no-repeat center top;}
.jcarousel-skin-sites .jcarousel-prev-disabled-vertical { cursor: default; background: url(arrow_grey_up.png) no-repeat center top;}
#sites-carousel li a, #sites-carousel li img {display: block;}

/*---------- Newsletter box ----------*/
.newsletter-box {border-top: 1px solid #bfc1c0; border-bottom: 1px solid #bfc1c0; margin: 0 auto 5px; padding: 10px 12px 14px; width: 210px;}
.newsletter-box input.input-text {background: url(textfield4.png) no-repeat; border: none; font-size: 1.1em; margin-right: 2px; padding: 0 3px 1px; width: 167px; }
.newsletter-box h3 {background: url(ico_newsletter.png) no-repeat; font-size: 1.6em; font-weight: normal; line-height: 1.25; margin: 0 0 10px; padding: 7px 0 0 28px;}
.newsletter-box p {font-size: 1.1em; margin: 0 0 5px;}

/*---------- e-administration link ----------*/
.e-administration {margin: 0 auto; width: 236px;}

/*---------- Tag cloud ----------*/
.tag-cloud {padding-left: 9px;}
.tag-cloud ul {font-size: 1.1em; line-height: 2.18;}
.tag-cloud li {display: inline; margin-right: 10px;}
.tag-cloud li a {color: #d5d5d7 !important;}

/*---------- Web TV box ----------*/
.webtv-box {background: url(webtv_fill.png) repeat-y; margin: 0 0 14px; width: 258px;}
.webtv-box .inbox {background: url(webtv_bottom.png) no-repeat left bottom;}
.webtv-box .in-inbox {background: url(webtv_top.png) no-repeat; min-height: 252px; padding: 0 5px 0 7px;}
.webtv-box .head {color: #fff; font-size: 1.2em; height: 23px; margin: 0 0 5px;}
.webtv-box .head h3 {float: left; height: 16px; margin-right: 2px; padding: 7px 0 0 20px; width: 52px;}
.webtv-box .head li {float: left; margin-right: 2px; padding-top: 5px; width: 83px;}
.webtv-box .head li a {color: #fff; display: block; height: 18px; padding: 4px 0 0 21px;}
.webtv-box .video-title {background: url(quote_begin.png) no-repeat 11px 0; color: #fff; font-size: 1.2em; margin: 0 0 2px; padding: 6px 0 0 30px;}
.webtv-box .video-title strong {background: url(quote_end.png) no-repeat right bottom; display: inline-block; font-weight: normal; padding: 0 20px 3px 0;}
.webtv-box #video-player {margin: 0 0 4px 7px; width: 232px;}
.webtv-box .bottom-link {font-weight: bold; margin-right: 7px; text-align: right;}
.webtv-box .bottom-link a {color: #fff; text-decoration: underline;}

/*---------- Breadcrumbs ----------*/
.breadcrumbs {list-style: none; margin: 12px 15px 11px; }
.breadcrumbs li {display: inline; font-size: 1.2em; margin-right: 2px;}
.breadcrumbs a {color: #2e2c35; margin-right: 2px;}

/*---------- Main block ----------*/
.main-block {background: url(main_block_fill.png) repeat-y; margin: 11px 0 0;}
.main-block .inblock {background: url(main_block_top.png) no-repeat;}
.main-block .in-inblock {background: url(main_block_bottom.png) no-repeat left bottom; padding: 22px 21px 40px 22px;}

/*---------- Article page ----------*/
.article h1 { font-size: 2em; font-style: italic; font-weight: normal; margin: 0 0 4px; }
.article .article-data {font-size: 1.1em; margin: 0 0 10px; }
.article .object-left {margin-right: 13px;}
.article .object-right {margin-left: 13px;}
.article p, .article li {font-size: 1.2em; line-height: 1.17; text-align: justify;}
.article p, .article ul {margin: 0 0 16px;}
.article ul {list-style: disc; padding-left: 20px;}
.article li {margin: 0 0 11px;}
.article .object-left p, .article .object-right p {margin-bottom: 3px;}
.article p.intro { font-weight: bold; line-height: 1.33;}
.article a {}
.article h2 { font-size: 1.8em; margin: 0 0 5px;}
.article h3 { font-size: 1.4em; font-style: italic; margin: 7px 0 5px; text-indent: 20px;}
.article h4 { font-size: 1.3em; font-style: italic; margin: 9px 0 5px; text-indent: 25px;}
.article h5 { font-size: 1.1em; font-style: italic; margin: 11px 0 5px; text-indent: 30px;}
.article .article-bottom {margin: 0 0 35px; text-align: right;}
.article .article-bottom p { float: left; margin: 0;}
.article .article-bottom a.gototop {display: inline-block; height: 13px; text-align: left; text-indent: -1000em; width: 13px;}
.main-col .social-links {background: #f4f4f4; border-top: 3px solid #b2b2b2; margin: 0 0 50px; padding: 4px 9px; text-align: right;}
.main-col .social-links ul {list-style: none; margin: 0;}
.main-col .social-links .do-links {float: left; padding: 0;}
.main-col .social-links .do-links li {font-size: 1em; line-height: 1; margin: 0; padding: 3px 0 3px 18px; text-align: left;}
.main-col .social-links .do-links li.save {background: url(ico_save.png) no-repeat 2px center;}
.main-col .social-links .do-links li.send {background: url(ico_send.png) no-repeat 0 center;}
.main-col .social-links .do-links li.print {background: url(ico_print.png) no-repeat 2px center;}
.main-col .social-links .do-links a {color: #434149 !important; text-transform: uppercase;}
.main-col .social-links .addto-links li {display: inline; margin: 0;}
.comments .comments-list { margin: 0 auto; padding: 0 0 6px; width: 550px;}
.comments .comments-list li {margin: 0 0 25px;}
.comments .comments-list .comment-author {background: url(bg_comment.png) no-repeat right bottom; padding: 0 0 7px;}
.comments .comments-list .comment-author img {float: left; margin-right: 4px;}
.comments .comments-list .comment-author a {color: #393740;}
.comments .comments-list .comment-author strong {display: block; font-size: 1.8em; font-weight: normal; margin: 0 0 2px;}
.comments .comments-list .comment-author span {color: #868686; font-size: 1.1em;}
.comments .comments-list .comment-body {background: #efefef; font-size: 1.1em; line-height: 1.18; padding: 13px 10px; text-align: justify;}
.comments .comments-list .comment-body p {line-height: 1.18; margin: 0 0 13px;}
.comments .comments-list .comment-body p:last-child {margin: 0;}
.comments .add-comment {background: url(comments_bottom.png) no-repeat center top; margin: 0 auto; padding: 32px 0 0; width: 486px;}
.comments .add-comment h4 {font-size: 1.4em; font-style: italic; margin: 0 0 25px;}
.comments .add-comment .input-name {float: left; margin: 0 0 35px; width: 233px;}
.comments .add-comment .input-email {float: right; margin: 0 0 35px; width: 233px;}
.comments .add-comment .input-comment {margin: 0 0 7px; width: 486px;}
.comments .add-comment label {display: block; font-size: 1.2em; margin: 0 0 5px;}
.comments .add-comment input.input-text, .comments .add-comment textarea {background: #f0f0f0; border: 1px solid #dcdcdc; font-size: 1.2em; padding: 4px 1px;}
.comments .add-comment input.input-text {width: 229px;}
.comments .add-comment textarea {width: 482px;}
.comments .add-comment .btn-line {text-align: right;}
.comments .add-comment .btn-line span {display: inline-block; text-align: center;}
.comments .add-comment .btn-line input {background: none; border: none; color: #fff;  font-size: 1.2em; font-weight: bold; padding: 2px 9px;}

/*---------- Properties depending on theme ----------*/
#main.theme1 .article h1, #main.theme1 .article p.intro, #main.theme1 .article a, #main.theme1 .article h2, #main.theme1 .article h3,  #main.theme1 .article h4,#main.theme1 .article h5,
#main.theme1 .article .article-bottom p, #main.theme1 .article .article-bottom p a, #main.theme1 .side-nav li:hover > a,
#main.theme1 .side-box ul li a:hover, #main.theme1 .download-box ul li span, #main.theme1 .informations-box .tel,
#main.theme1 .evenements-links-box ul li span, #main.theme1 .agenda-item .date, #main.theme1 .agenda-item .agenda-aside dd,
#main.theme1 #agenda-carousel2 li a,
#main.theme1 .pagination li.current a, #main.theme1 .search-results-info em,
#main.theme1 .zoom-block li h3, #main.theme1 .subcat-news h2 a,
#main.theme1 .subcat-news .bottom-link a, #main.theme1 .subcat-pagination, #main.theme1 .video h1, #main.theme1 .video-details-box li span,
#main.theme1 .job-table th, #main.theme1 .diaporama-page .album-toolbar a, .agenda-list li.theme1 .date, .agenda-list li.theme1 p a, 
li.theme1 .item-aside strong, .agenda-list li.theme1 .item-aside a, .search-list li.theme1 h2,.search-list li.theme1 h2 a, .search-list li.theme1 p a
    {color: #a80330;}
#main.theme2 .article h1, #main.theme2 .article p.intro, #main.theme2 .article a, #main.theme2 .article h2, #main.theme2 .article h3,  #main.theme2 .article h4, #main.theme2 .article h5,
#main.theme2 .article .article-bottom p, #main.theme2 .article .article-bottom p a, #main.theme2 .side-nav li:hover > a,
#main.theme2 .side-box ul li a:hover, #main.theme2 .download-box ul li span, #main.theme2 .informations-box .tel,
#main.theme2 .evenements-links-box ul li span, #main.theme2 .agenda-item .date, #main.theme2 .agenda-item .agenda-aside dd,
#main.theme2 #agenda-carousel2 li a, 
#main.theme2 .pagination li.current a, #main.theme2 .search-results-info em, 
#main.theme2 .zoom-block li h3, #main.theme2 .subcat-news h2 a,
#main.theme2 .subcat-news .bottom-link a, #main.theme2 .subcat-pagination, #main.theme2 .video h1, #main.theme2 .video-details-box li span,
#main.theme2 .job-table th, #main.theme2 .diaporama-page .album-toolbar a, .agenda-list li.theme2 .date, .agenda-list li.theme2 p a, 
li.theme2 .item-aside strong, .agenda-list li.theme2 .item-aside a, .search-list li.theme2 h2, .search-list li.theme2 h2 a, .search-list li.theme2 p a
    {color: #f9b701;}
#main.theme3 .article h1, #main.theme3 .article p.intro, #main.theme3 .article a, #main.theme3 .article h2, #main.theme3 .article h3, #main.theme3 .article h4, #main.theme3 .article h5,
#main.theme3 .article .article-bottom p, #main.theme3 .article .article-bottom p a, #main.theme3 .side-nav li:hover > a,
#main.theme3 .side-box ul li a:hover, #main.theme3 .download-box ul li span, #main.theme3 .informations-box .tel,
#main.theme3 .evenements-links-box ul li span, #main.theme3 .agenda-item .date, #main.theme3 .agenda-item .agenda-aside dd,
#main.theme3 #agenda-carousel2 li a, 
#main.theme3 .pagination li.current a, #main.theme3 .search-results-info em, 
#main.theme3 .zoom-block li h3, #main.theme3 .subcat-news h2 a,
#main.theme3 .subcat-news .bottom-link a, #main.theme3 .subcat-pagination, #main.theme3 .video h1, #main.theme3 .video-details-box li span,
#main.theme3 .job-table th, #main.theme3 .diaporama-page .album-toolbar a, .agenda-list li.theme3 .date, .agenda-list li.theme3 p a, 
li.theme3 .item-aside strong, .agenda-list li.theme3 .item-aside a, .search-list li.theme3 h2, .search-list li.theme3 h2 a, .search-list li.theme3 p a
    {color: #db6f01;}
#main.theme4 .article h1, #main.theme4 .article p.intro, #main.theme4 .article a, #main.theme4 .article h2, #main.theme4 .article h3, #main.theme4 .article h4, #main.theme4 .article h5,
#main.theme4 .article .article-bottom p, #main.theme4 .article .article-bottom p a, #main.theme4 .side-nav li:hover > a,
#main.theme4 .side-box ul li a:hover, #main.theme4 .download-box ul li span, #main.theme4 .informations-box .tel,
#main.theme4 .evenements-links-box ul li span, #main.theme4 .agenda-item .date, #main.theme4 .agenda-item .agenda-aside dd,
#main.theme4 #agenda-carousel2 li a, 
#main.theme4 .pagination li.current a, #main.theme4 .search-results-info em, 
#main.theme4 .zoom-block li h3, #main.theme4 .subcat-news h2 a,
#main.theme4 .subcat-news .bottom-link a, #main.theme4 .subcat-pagination, #main.theme4 .video h1, #main.theme4 .video-details-box li span,
#main.theme4 .job-table th, #main.theme4 .diaporama-page .album-toolbar a, .agenda-list li.theme4 .date, .agenda-list li.theme4 p a, 
li.theme4 .item-aside strong, .agenda-list li.theme4 .item-aside a, .search-list li.theme4 h2, .search-list li.theme4 h2 a, .search-list li.theme4 p a
    {color: #32c0b7;}
#main.theme5 .article h1, #main.theme5 .article p.intro, #main.theme5 .article a, #main.theme5 .article h2, #main.theme5 .article h3, #main.theme5 .article h4, #main.theme5 .article h5,
#main.theme5 .article .article-bottom p, #main.theme5 .article .article-bottom p a, #main.theme5 .side-nav li:hover > a,
#main.theme5 .side-box ul li a:hover, #main.theme5 .download-box ul li span, #main.theme5 .informations-box .tel,
#main.theme5 .evenements-links-box ul li span, #main.theme5 .agenda-item .date, #main.theme5 .agenda-item .agenda-aside dd,
#main.theme5 #agenda-carousel2 li a, 
#main.theme5 .pagination li.current a, #main.theme5 .search-results-info em, 
#main.theme5 .zoom-block li h3, #main.theme5 .subcat-news h2 a,
#main.theme5 .subcat-news .bottom-link a, #main.theme5 .subcat-pagination, #main.theme5 .video h1, #main.theme5 .video-details-box li span,
#main.theme5 .job-table th, #main.theme5 .diaporama-page .album-toolbar a, .agenda-list li.theme5 .date, .agenda-list li.theme5 p a, 
li.theme5 .item-aside strong, .agenda-list li.theme5 .item-aside a, .search-list li.theme5 h2, .search-list li.theme5 h2 a, .search-list li.theme5 p a
    {color: #adc119;}
#main.theme1 .comments .add-comment .btn-line span, #main.theme1 .side-nav h3, #main.theme1 .subcat-block h1 
    {background: #a80330; }
#main.theme2 .comments .add-comment .btn-line span, #main.theme2 .side-nav h3, #main.theme2 .subcat-block h1 
    {background: #f9b701; }
#main.theme3 .comments .add-comment .btn-line span, #main.theme3 .side-nav h3, #main.theme3 .subcat-block h1 
    {background: #db6f01; }
#main.theme4 .comments .add-comment .btn-line span, #main.theme4 .side-nav h3, #main.theme4 .subcat-block h1 
    {background: #32c0b7; }
#main.theme5 .comments .add-comment .btn-line span, #main.theme5 .side-nav h3, #main.theme5 .subcat-block h1 
    {background: #adc119; }
#main.theme1 .subcat-news p
    {border-color: #a80330; }
#main.theme2 .subcat-news p 
    {border-color: #f9b701; }
#main.theme3 .subcat-news p 
    {border-color: #db6f01; }
#main.theme4 .subcat-news p 
    {border-color: #32c0b7; }
#main.theme5 .subcat-news p 
    {border-color: #adc119; }
#main.theme1 .side-box ul li {background: url(arrow_red.png) no-repeat;}
#main.theme2 .side-box ul li {background: url(arrow_yellow.png) no-repeat;}
#main.theme3 .side-box ul li {background: url(arrow_orange.png) no-repeat;}
#main.theme4 .side-box ul li {background: url(arrow_blue.png) no-repeat;}
#main.theme5 .side-box ul li {background: url(arrow_green.png) no-repeat;}
#main.theme1 .article a.gototop {background: url(gototop_red.png) no-repeat;}
#main.theme2 .article a.gototop {background: url(gototop_yellow.png) no-repeat;}
#main.theme3 .article a.gototop {background: url(gototop_orange.png) no-repeat;}
#main.theme4 .article a.gototop {background: url(gototop_blue.png) no-repeat;}
#main.theme5 .article a.gototop {background: url(gototop_green.png) no-repeat;}
#main.theme1 .zoom-block .head {background: url(header_border_red.png) no-repeat 19px bottom;}
#main.theme2 .zoom-block .head {background: url(header_border_yellow.png) no-repeat 19px bottom;}
#main.theme3 .zoom-block .head {background: url(header_border_orange.png) no-repeat 19px bottom;}
#main.theme4 .zoom-block .head {background: url(header_border_blue.png) no-repeat 19px bottom;}
#main.theme5 .zoom-block .head {background: url(header_border_green.png) no-repeat 19px bottom;}
#main.theme1 .category-news .overlay .top {background: url(overlay_red_top-trans.png) no-repeat; }
#main.theme2 .category-news .overlay .top {background: url(overlay_yellow_top-trans.png) no-repeat; }
#main.theme3 .category-news .overlay .top {background: url(overlay_orange_top-trans.png) no-repeat; }
#main.theme4 .category-news .overlay .top {background: url(overlay_blue_top-trans.png) no-repeat; }
#main.theme5 .category-news .overlay .top {background: url(overlay_green_top-trans.png) no-repeat; }
#main.theme1 .category-news .overlay .bottom {background: url(overlay_red_bottom-trans.png) no-repeat;}
#main.theme2 .category-news .overlay .bottom {background: url(overlay_yellow_bottom-trans.png) no-repeat;}
#main.theme3 .category-news .overlay .bottom {background: url(overlay_orange_bottom-trans.png) no-repeat;}
#main.theme4 .category-news .overlay .bottom {background: url(overlay_blue_bottom-trans.png) no-repeat;}
#main.theme5 .category-news .overlay .bottom {background: url(overlay_green_bottom-trans.png) no-repeat;}
#main.theme1 .category-news .overlay .body {background: url(overlay_red-trans.png);}
#main.theme2 .category-news .overlay .body {background: url(overlay_yellow-trans.png);}
#main.theme3 .category-news .overlay .body {background: url(overlay_orange-trans.png);}
#main.theme4 .category-news .overlay .body {background: url(overlay_blue-trans.png);}
#main.theme5 .category-news .overlay .body {background: url(overlay_green-trans.png);}
#main.theme1 .rss-box {background: url(rss_red.png) no-repeat;}
#main.theme2 .rss-box {background: url(rss_yellow.png) no-repeat;}
#main.theme3 .rss-box {background: url(rss_orange.png) no-repeat;}
#main.theme4 .rss-box {background: url(rss_blue.png) no-repeat;}
#main.theme5 .rss-box {background: url(rss_green.png) no-repeat;}
#main.theme1 .subcat-news h2 {background: url(arrow_subcat_red.png) no-repeat;}
#main.theme2 .subcat-news h2 {background: url(arrow_subcat_yellow.png) no-repeat;}
#main.theme3 .subcat-news h2 {background: url(arrow_subcat_orange.png) no-repeat;}
#main.theme4 .subcat-news h2 {background: url(arrow_subcat_blue.png) no-repeat;}
#main.theme5 .subcat-news h2 {background: url(arrow_subcat_green.png) no-repeat;}
#main.theme1 .subcat-pagination a.prev {background: url(pl_red.png) no-repeat; }
#main.theme2 .subcat-pagination a.prev {background: url(pl_yellow.png) no-repeat; }
#main.theme3 .subcat-pagination a.prev {background: url(pl_orange.png) no-repeat; }
#main.theme4 .subcat-pagination a.prev {background: url(pl_blue.png) no-repeat; }
#main.theme5 .subcat-pagination a.prev {background: url(pl_green.png) no-repeat; }
#main.theme1 .subcat-pagination a.next {background: url(pr_red.png) no-repeat; }
#main.theme2 .subcat-pagination a.next {background: url(pr_yellow.png) no-repeat; }
#main.theme3 .subcat-pagination a.next {background: url(pr_orange.png) no-repeat; }
#main.theme4 .subcat-pagination a.next {background: url(pr_blue.png) no-repeat; }
#main.theme5 .subcat-pagination a.next {background: url(pr_green.png) no-repeat; }
#main.theme1 .video h1 {background: url(arrow_h_red.png) no-repeat 0 4px;}
#main.theme2 .video h1 {background: url(arrow_h_yellow.png) no-repeat 0 4px;}
#main.theme3 .video h1 {background: url(arrow_h_orange.png) no-repeat 0 4px;}
#main.theme4 .video h1 {background: url(arrow_h_blue.png) no-repeat 0 4px;}
#main.theme5 .video h1 {background: url(arrow_h_green.png) no-repeat 0 4px;}
#main.theme1 .job-table th .sort span.sort-up {background: url(sort_up_red.png) no-repeat;}
#main.theme2 .job-table th .sort span.sort-up {background: url(sort_up_yellow.png) no-repeat;}
#main.theme3 .job-table th .sort span.sort-up {background: url(sort_up_orange.png) no-repeat;}
#main.theme4 .job-table th .sort span.sort-up {background: url(sort_up_blue.png) no-repeat;}
#main.theme5 .job-table th .sort span.sort-up {background: url(sort_up_green.png) no-repeat;}
#main.theme1 .job-table th .sort span.sort-down {background: url(sort_down_red.png) no-repeat;}
#main.theme2 .job-table th .sort span.sort-down {background: url(sort_down_yellow.png) no-repeat;}
#main.theme3 .job-table th .sort span.sort-down {background: url(sort_down_orange.png) no-repeat;}
#main.theme4 .job-table th .sort span.sort-down {background: url(sort_down_blue.png) no-repeat;}
#main.theme5 .job-table th .sort span.sort-down {background: url(sort_down_green.png) no-repeat;}
#main.theme1 .diaporama-page .photo-container a.photo-prev {background: url(photo_prev_red.png) no-repeat;}
#main.theme2 .diaporama-page .photo-container a.photo-prev {background: url(photo_prev_yellow.png) no-repeat;}
#main.theme3 .diaporama-page .photo-container a.photo-prev {background: url(photo_prev_orange.png) no-repeat;}
#main.theme4 .diaporama-page .photo-container a.photo-prev {background: url(photo_prev_blue.png) no-repeat;}
#main.theme5 .diaporama-page .photo-container a.photo-prev {background: url(photo_prev_green.png) no-repeat;}
#main.theme1 .diaporama-page .photo-container a.photo-next {background: url(photo_next_red.png) no-repeat;}
#main.theme2 .diaporama-page .photo-container a.photo-next {background: url(photo_next_yellow.png) no-repeat;}
#main.theme3 .diaporama-page .photo-container a.photo-next {background: url(photo_next_orange.png) no-repeat;}
#main.theme4 .diaporama-page .photo-container a.photo-next {background: url(photo_next_blue.png) no-repeat;}
#main.theme5 .diaporama-page .photo-container a.photo-next {background: url(photo_next_green.png) no-repeat;}


/*---------- Side navigation ----------*/
.side-nav {background: url(side_box_fill.png) repeat-y; margin: 11px 0 7px; }
.side-nav .inbox {background: url(side_box_bottom.png) no-repeat left bottom; padding: 0 5px 19px;}
.side-nav h3 {color: #fff; font-size: 1.4em; margin: 0 0 14px; padding: 7px 14px 5px; text-transform: uppercase;}
.side-nav li {padding: 2px 14px; position: relative; width: 220px;}
.side-nav li a {color: #2e2c35; display: block; font-size: 1.2em; line-height: 1.17;}
.side-nav li a:hover {text-decoration: none;}
.side-nav .submenu {left: -1000em; position: absolute; top: -10px; width: 162px;}
.side-nav li:hover {border: 0px solid black;} /*For IE... we must remind him of hover...*/
.side-nav li:hover .submenu {left: -162px;}
.side-nav .submenu .top {background: url(side_submenu_top-trans.png) no-repeat; font-size: 1px; height: 5px;}
.side-nav .submenu .bottom {background: url(side_submenu_bottom-trans.png) no-repeat; font-size: 1px; height: 5px;}
.side-nav .submenu ul {background: url(side_submenu_fill-trans.png) repeat-y; padding: 5px 0; }
.side-nav .submenu ul li {margin: 0; padding: 0 6px 0 11px; width: 145px;}

/*---------- Side boxes ----------*/
.side-box {background: url(side_box_fill.png) repeat-y; margin: 0 0 8px; }
.side-box .inbox {background: url(side_box_top.png) no-repeat;}
.side-box .in-inbox {background: url(side_box_bottom.png) no-repeat left bottom; padding: 8px 10px 12px;}
.side-box h3 {border-bottom: 3px solid #2e2c35; font-size: 1.4em; font-weight: normal; margin: 0 0 10px; padding: 10px 0 6px 34px;}
.side-box h3:first-letter {font-weight: bold;}
.side-box ul {padding-left: 3px;}
.side-box ul li { font-size: 1.1em; font-weight: bold; line-height: 1; margin: 7px 0; padding-left: 16px;}
.side-box ul li a {color: #2e2c35;}
.side-box ul li a:hover {text-decoration: none;}
.informations-box h3 {background: url(ico_informations.png) no-repeat;}
.series-links-box h3, .evenements-links-box h3 {background: url(ico_series.png) no-repeat;}
.complementary-links-box h3 {background: url(ico_complementary.png) no-repeat 0 3px;}
.download-box h3 {background: url(ico_download.png) no-repeat;}
.download-box ul li span {display: block; font-weight: normal; text-decoration: underline;}
.informations-box h4 {font-size: 1.2em; margin: 0 0 8px;}
.informations-box .informations-set {padding: 7px 11px 0;}
.informations-box p {font-size: 1.1em; line-height: 1.18; margin: 0 0 5px;}
.informations-box .tel {font-size: 1.1em; margin: 0 0 15px;}

/*---------- Agenda page ----------*/
.agenda-block {background: url(agenda_block_fill.png) repeat-y; margin: 4px 0 0;}
.agenda-block .inblock {background: url(agenda_block_bottom.png) no-repeat left bottom; min-height: 1015px; padding: 0 21px 40px 22px;}
.agenda-item {background: url(agenda_item_fill.png) repeat-y; margin: 0 -21px 13px -22px; width: 693px;}
.agenda-item-in {background: url(agenda_item_top.png) no-repeat; padding: 16px 13px 15px 19px; }
.agenda-item img {float: left; margin-right: 10px;}
.agenda-item .agenda-info {float: left; width: 348px;}
.agenda-item .agenda-info .date {font-size: 1.1em; font-weight: bold; margin: 0 0 3px;}
.agenda-item .agenda-info h2 {font-size: 1.4em; margin: 0 0 17px;}
.agenda-item .agenda-info p {font-size: 1.2em; line-height: 1.33; margin: 5px 0 0; text-align: justify;}
.agenda-item .agenda-aside {float: right; width: 98px;}
.agenda-item .agenda-aside dl {font-size: 1.2em;}
.agenda-item .agenda-aside dt {font-weight: normal; line-height: 1.33;}
.agenda-item .agenda-aside dt:first-letter {font-weight: bold;}
.agenda-item .agenda-aside dd {line-height: 1.33; margin: 0 0 8px; padding-left: 14px;}
.agenda-item .agenda-aside a {background: url(bg_link.png) no-repeat; color: #fff; font-size: 1.2em; line-height: 2.5; display: block; margin: 25px 0 0; padding-left: 32px; text-decoration: none !important;}
.agenda-carousel-wrapper {background: url(bg_agenda_carousel.png) no-repeat; margin: 0 -4px 17px; padding: 10px 10px 0; width: 638px;}
.agenda-carousel-wrapper h3 {background: url(ico_series.png) no-repeat; font-size: 1.4em; font-weight: normal; margin: 0 0 12px; padding: 10px 0 6px 34px;}
.agenda-carousel-wrapper h3:first-letter {font-weight: bold;}
#agenda-carousel2 {height: 145px; overflow: hidden; position: relative;}
.jcarousel-skin-agenda2 .jcarousel-container {margin: 0; padding: 0 37px; width: 564px;}
.jcarousel-skin-agenda2 .jcarousel-clip-horizontal { width:  564px; height: 145px;}
.jcarousel-skin-agenda2 .jcarousel-item, #agenda-carousel2 li {display: inline; float: left; width: 161px; height: 145px; margin: 0 13px 0 14px; overflow: hidden; padding: 0; position: relative; text-align: center;}
.jcarousel-skin-agenda2 .jcarousel-next-horizontal {position: absolute; top: 40px; right: 20px; width: 14px; height: 24px; cursor: pointer; background: url(arrow_red_right.png) no-repeat left center;}
.jcarousel-skin-agenda2 .jcarousel-next-disabled-horizontal { cursor: default; background: url(arrow_grey_right.png) no-repeat left center;}
.jcarousel-skin-agenda2 .jcarousel-prev-horizontal { position: absolute; top: 40px; left: 22px; width: 14px; height: 24px; cursor: pointer; background: url(arrow_red_left.png) no-repeat left center;}
.jcarousel-skin-agenda2 .jcarousel-prev-disabled-horizontal{ cursor: default; background: url(arrow_grey_left.png) no-repeat left center;}
#agenda-carousel2 li img {display: block; margin: 0 0 6px;}
#agenda-carousel2 li a {font-size: 1.1em; font-weight: bold; line-height: 1.18;}
.title-bar h1 { background:url(ico_agenda.png) no-repeat scroll 0 3px; font-size:1.8em; margin-left:18px; font-weight:normal; height:21px; padding:3px 0 1px 33px;}

/*---------- Agenda list page & search page ----------*/
.agenda-list-page, .search-page {padding: 0 18px 20px !important;}
.agenda-list-page .side-col, .search-page .side-col {padding-left: 7px; width: 243px !important;}
.agenda-list-page .main-col, .search-page .main-col {padding-right: 3px; width: 682px !important;}
.search-page .title-bar h1 {background: url(ico_search.png) no-repeat 0 2px;}
.side-search {background: #a80330 url(bg_side_search.jpg) no-repeat; margin: -8px 0 0; min-height: 120px; position: relative;}
.side-search .inbox {padding: 24px 10px;}
.side-search .input-box {margin: 0 0 12px; text-align: center;}
.side-search .input-box-bordered {background: url(search_separator.png) no-repeat center bottom; padding: 0 0 14px; width: 223px;}
.side-search .input-inline-box {text-align: left;}
.side-search .input-box label, .side-search .input-box span.label {color: #fff; display: block; font-size: 1.2em; margin: 0 0 10px; text-align: left;}
.side-search .input-inline-box label {display: inline; margin: 0 4px 0 0;}
.side-search .input-box input.input-text {background: url(textfield5.png) no-repeat; border: none; color: #939393; font-size: 1.1em; font-style: italic; padding: 1px 1px 2px; width: 200px;}
.side-search .input-box select {border: 1px solid #e5e6e5; color: #353336; font-size: 1.1em; height: 17px; width: 202px;}
.side-search .input-inline-box select {width: auto;}
.side-search .check-group {text-align: left;}
.side-search .check-group label {display: inline; margin: 0 0 0 4px;}
.side-search .btn-line {text-align: right;}
.side-search .btn-line input {background: url(bg_btn_search.png) no-repeat; border: none; color: #fff; cursor: pointer; font-size: 1.2em; padding: 2px 0; text-align: center; width: 77px;}
.search-results-info {font-size: 1.4em; margin: 24px 9px;}
.search-results-info em {font-style: normal;}
.agenda-list li, .search-list li {background: url(generic_item_fill.png) repeat-y; margin: 0 0 4px; width: 682px;}
.agenda-list .item-in, .search-list .item-in {background: url(generic_item_top.png) no-repeat;}
.agenda-list .item-in-in, .search-list .item-in-in {min-height:80px;background: url(generic_item_bottom.png) no-repeat left bottom; padding: 5px 0 5px 6px; position: relative;}
.agenda-list .item-main {float: left; width: 520px;}
.search-list .item-main {float: left; width: 544px;}
.search-list .item-body {height:80px; }
html > body .search-list .item-body {min-height:80px; }
.agenda-list .item-img {float: left; margin-right: 18px; }
.search-list .item-img {float: left; margin-right: 9px; }
.agenda-list .item-img a, .agenda-list .item-img img, .search-list .item-img a, .search-list .item-img img {display: block;}
.search-list .item-img span.movie {background: url(ico_movie-trans.png) no-repeat; height: 42px; position: absolute; left: 50px; top: 28px; width: 42px;}
.agenda-list .date {font-size: 1.1em; font-weight: bold; margin: 7px 0 3px;}
.search-list .date {font-size: 1em; font-weight: bold; margin: 0 0 5px;}
.agenda-list h2 {font-size: 1.4em; margin: 0 0 5px;}
.search-list h2 {font-size: 1.4em; margin: 0 0 1px;}
.agenda-list p, .search-list p {color: #737373; font-size: 1.2em; line-height: 1.33; text-align: justify;}
.search-list p a {position: absolute; bottom: 5px; right: 132px;  }
.agenda-list .item-aside {float: right; padding: 4px 0 0; width: 116px;}
.search-list .item-aside {float: right; padding-right: 1px; width: 120px;}
.agenda-list .item-aside div {margin: 0 0 10px;}
.search-list .item-aside div {font-size: 1.2em; padding-left: 10px;}
.agenda-list .item-aside span, .agenda-list .item-aside strong  {font-size: 1.2em; font-weight: normal; line-height: 1.33;}
.search-list .item-aside span, .search-list .item-aside strong {font-weight: normal; line-height: 1.33;}
.agenda-list .item-aside strong.theme-name, .search-list .item-aside strong.theme-name {display: block; padding-left: 14px;}
.search-list .item-aside div.relevance {border-top: 1px solid #c7c7c7; border-bottom: 1px solid #c7c7c7; font-size: 1.1em; margin: 4px 0 0; padding: 5px 0 4px; text-align: center;}
.agenda-list .item-aside a {font-size: 1.1em;}
.search-list .item-aside a {background: url(ico_save.png) no-repeat left center; bottom: 5px; color: #434149; display: block; font-size: 0.9em; line-height: 1.22; padding-left: 17px; position: absolute; right: 2px; text-transform: uppercase; width: 99px;}

/*---------- Pagination ----------*/
.pagination {margin: 28px 0; text-align: center;}
.pagination li {display: inline; font-size: 1.2em;}
.pagination li.current {font-size: 1.6em; font-weight: bold;}
.pagination li a {color: #504e51; padding: 0 1px;}

/*---------- Category news block ----------*/
.category-news {margin: -14px auto 13px; width: 683px;}
.category-news h2 {background: url(a_ne_pas_manquer-trans.png) no-repeat; height: 38px; margin: 0 0 -13px 22px; position: relative; text-indent: -1000em; width: 360px; z-index: 1; }
.category-news .news-body {background: url(bg_slider.png) no-repeat; height: 230px; padding: 3px; position: relative; width: 677px;}
.category-news .overlay {margin-top: -137px; position: relative; width: 448px;}
.category-news .overlay .top { font-size: 1px; height: 4px;}
.category-news .overlay .bottom { font-size: 1px; height: 4px;}
.category-news .overlay .body { padding: 8px 0 12px 30px; }
.category-news .overlay a {color: #fff; position: relative;}
.category-news .overlay h3 {color: #fff; font-size: 1.8em; font-weight: bold; margin: 0 0 15px;}
.category-news .overlay p {color: #fff; font-size: 1.2em; line-height: 1;}
.category-news .overlay p a {font-weight: bold; text-decoration: underline;}

/*---------- "Zoom sur" block ----------*/
.zoom-block {background: url(zoom_block_fill.png) repeat-y; margin: 0 0 5px; width: 693px;}
.zoom-block .inbox {background: url(zoom_block_top.png) no-repeat;}
.zoom-block .in-inbox {background: url(zoom_block_bottom.png) no-repeat left bottom; padding: 10px 0 9px 11px;}
.zoom-block .head {margin: 0 0 14px; padding-bottom: 1px;}
.zoom-block .head h2 {background: url(ico_zoom.png) no-repeat; font-size: 1.8em; font-weight: normal; padding: 5px 35px 2px}
.zoom-block .head h2:first-letter {font-weight: bold;}
.zoom-block li {background: url(zoom_border.png) no-repeat right top; float: left; margin-right: 9px; min-height: 219px; padding-right: 12px; width: 209px; }
.zoom-block li.last {background: none; margin: 0; padding: 0; }
.zoom-block li h3 {background: url(arrow_zoom.png) no-repeat; font-size: 1.4em; font-style: italic; line-height: 1.14; margin: 0 0 4px; padding-left: 21px;}
.zoom-block li img {margin: 0 0 5px;}
.zoom-block li h4 {font-size: 1.2em; margin: 0 0 6px;}
.zoom-block li a {color: #2e2c35;}
.zoom-block li p {color: #8a8a8c; font-size: 1.1em; line-height: 1.18; margin: 0 0 2px; text-align: justify;}
.zoom-block li .bottom-link {text-align: right;}
.zoom-block li .bottom-link a {font-size: 1.1em; font-style: italic; text-decoration: underline;}

/*---------- Agenda box 2 (on rubrique page) ----------*/
.agenda-box2 {background: url(bg_agenda_box2.png) no-repeat; float: left; height: 194px; margin: 0 0 7px; padding: 13px 14px 34px; width: 408px;}
.agenda-box2 h2 {background: url(ico_agenda.png) no-repeat; font-size: 1.8em; font-weight: normal; height: 36px; padding-left: 34px;}
.agenda-box2 h2 a {color: #2e2c35;}
.agenda-box2 .jcarousel-skin-agenda .jcarousel-container {margin: 0; padding: 0 21px 0 18px; width: 369px;}
.agenda-box2 .jcarousel-skin-agenda .jcarousel-clip-horizontal { width:  369px; height: 158px;}

/*---------- Resources box ----------*/
.resources-box {background: url(side_box_fill.png) repeat-y center top; float: right; width: 254px; }
.resources-box .inbox {background: url(side_box_top.png) no-repeat center top;}
.resources-box .in-inbox {background: url(side_box_bottom.png) no-repeat center bottom; height: 220px; padding: 11px 17px; }

/*---------- Promo box in side column ----------*/
.side-col .promo-box {background: url(bg_promo_box2.png) no-repeat; float: none; height: 285px; margin: 0 0 8px; padding: 16px 17px; width: 224px;}
.side-col .promo-box a, .side-col .promo-box img {display: block;}

/*---------- RSS box ----------*/
.rss-box {color: #fff; font-size: 1.1em; font-weight: bold; height: 34px; margin: 0 auto 9px; padding-left: 7px; width: 241px;}
.rss-box a {color: #fff; display: block; height: 34px; line-height: 34px; text-decoration: none !important;}

/*---------- Subcategory page ----------*/
.subcategory-page {padding: 11px 0 0 8px;}
.subcategory-page .banner {margin: 0 0 10px;}
.subcategory-page .banner a, .subcategory-page .banner img {display: block;}
.subcat-block {background: url(subcat_fill.png) repeat-y; }
.subcat-block .inbox {background: url(subcat_bottom.png) no-repeat left bottom; padding: 0 0 20px; }
.subcat-block h1 {background-image: url(subcat_top.png) !important; background-repeat: no-repeat !important; color: #fff; font-size: 3.6em; font-weight: bold; font-style: italic; margin: 0 0 40px; padding: 3px 13px 5px; text-align: right;  }
.subcat-news {font-size: 0; padding: 0 0 15px;}
.subcat-news li {display: inline-block; font-size: 10px; margin: 0 0 35px; padding: 0 14px; vertical-align: top; width: 313px;}
.subcat-news h2 {font-size: 1.4em; line-height: 1.29; margin: 0 0 3px; padding-left: 20px;}
.subcat-news img {float: left; margin-right: 9px;}
.subcat-news p {border-bottom-width: 2px; border-bottom-style: solid; font-size: 1.2em; line-height: 1.17; min-height: 98px; padding: 0 0 11px; text-align: justify;}
.subcat-news .bottom-link {margin-top: -7px; text-align: right;}
.subcat-news .bottom-link a {background: #fff; font-size: 1.1em; padding-left: 5px;}
.subcat-pagination {font-size: 1.2em; font-weight: bold; text-align: center; }
.subcat-pagination a.prev, .subcat-pagination a.next {display: inline-block; height: 12px; margin: 0 4px 0; overflow: hidden; position: relative;  width: 7px;}

/*---------- Video page ----------*/
#agenda-carousel2 li span.movie {background: url(ico_movie-trans.png) no-repeat; height: 42px; position: absolute; left: 60px; top: 30px; width: 42px;}
#agenda-carousel2 li a:hover span.movie {background: url(ico_movie_on-trans.png) no-repeat; }
.video h1 {font-size: 2.4em; font-weight: bold; margin: 0 0 10px; padding-left: 25px;}
.video .video-embed {float: left; height: 300px; padding: 0 0 25px; width: 400px;}
.video .video-description {float: right; padding: 0 0 25px; width: 227px;}
.video .video-description p {font-size: 1.2em; line-height: 1.17; margin: 0 0 13px; text-align: justify;}
.video-details-box {margin-top: 8px;}
.video-details-box h3 {background: url(ico_video.png) no-repeat 0 4px; }
.video-details-box li {background: none !important; margin: 2px 0 !important; padding-left: 0 !important;}

/*---------- Job offers page ----------*/
.job-offers-block {background: url(offres_fill.png) repeat-y;}
.job-offers-block .inbox {background: url(offres_top.png) no-repeat;}
.job-offers-block .in-inbox {background: url(offres_bottom.png) no-repeat left bottom; padding: 22px 1px 6px;}
.job-table {background: url(job_table_bottom.png) no-repeat left bottom; padding: 0 0 15px;}
.job-table table {width: 100%;}
.job-table th {background: url(job_table_top.png) no-repeat right top; font-size: 1.4em; padding: 7px 5px 4px; vertical-align: top;}
.job-table td {background: url(job_table_border.png) no-repeat right top; font-size: 1.2em; line-height: 1.17; padding: 3px 5px; text-align: center; vertical-align: middle;}
.job-table .col1 {width: 92px;}
.job-table .col2 {width: 127px;}
.job-table .col3 {width: 132px;}
.job-table .col4 {width: 112px;}
.job-table .col5 {width: 68px;}
.job-table .col6 {background-image: none !important; width: 89px;}
.job-table th .sort {margin: 4px 0 0;}
.job-table th .sort span {display: inline-block; height: 11px; margin: 0 2px; width: 12px;}
.job-table tr.odd td {background-color: #eeeeee;}
.job-table .col5 a {background: url(ico_pdf.png) no-repeat; display: block; height: 23px; margin: 0 auto; text-indent: -1000em; width: 23px;}
.job-table .col6 a {background: url(link_more.png) no-repeat; display: block; height: 25px; margin: 0 auto; text-indent: -1000em; width: 19px;}
.job-table .col6 a:hover {background: url(link_more_on.png) no-repeat;}
.search-legend {background: url(search_separator.png) no-repeat center bottom; margin: 0 0 12px; padding: 0 0 8px;}
.search-legend dt {color: #fff; font-style: italic;  font-weight: bold; line-height: 1.2em;}
.search-legend dd {color: #e1e1e1; line-height: 1.2em; padding: 0 0 6px; }

/*---------- Diaporama pages ----------*/
.diaporama-page h1 {background: url(ico_gallery.png) no-repeat; font-size: 1.8em; font-weight: normal; margin: -8px 0 24px; padding: 6px 33px 2px; }
.diaporama-page h1:first-letter {font-weight: bold;}
.diaporama-page h2 {font-size: 1.8em; margin: 0 0 25px; text-align: center;}
.diaporama-page .album-toolbar {font-size: 1.2em; margin: 0 0 28px;}
.diaporama-page .album-toolbar strong {float: left; font-weight: normal; margin-right: 4px;}
.diaporama-page .album-toolbar ul {float: left;}
.diaporama-page .album-toolbar ol {float: right;}
.diaporama-page .album-toolbar li {display: inline;}
.diaporama-page .album-toolbar a {margin-right: 1px;}
.diaporama-page .photo-list {font-size: 0; margin: 0 -1px 36px; width: 652px; }
.diaporama-page .photo-list li {background: url(frame_fill.png) repeat-y; display: inline-block; margin: 0 4px 5px 3px; vertical-align: top; width: 156px;}
.diaporama-page .photo-list li a {background: url(frame_top.png) no-repeat; display: block;}
.diaporama-page .photo-list li span {background: url(frame_bottom.png) no-repeat left bottom; display: block; padding: 10px 9px 10px 10px; width: 137px;}
.diaporama-page .photo-list li img {display: block;}
.diaporama-page .photo-list li:hover {background: url(frame_fill_on.png) repeat-y;}
.diaporama-page .photo-list li:hover a {background: url(frame_top_on.png) no-repeat;}
.diaporama-page .photo-list li:hover span {background: url(frame_bottom_on.png) no-repeat left bottom;}
.albums-links-box {margin-top: 8px;}
.albums-links-box h3 {background: url(ico_albums.png) no-repeat 4px 4px;}
.diaporama-page .photo-container {margin: 0 0 20px;}
.diaporama-page .photo-container a.photo-prev {float: left; height: 36px; margin: 156px 0 0 8px; text-indent: -1000em; width: 36px;}
.diaporama-page .photo-container a.photo-next {float: right; height: 36px; margin: 156px 8px 0 0; text-indent: -1000em; width: 36px;}
.diaporama-page .photo-container .photo {background: url(big_frame_fill.png) repeat-y; margin: 0 auto; width: 518px;}
.diaporama-page .photo-container .photo span {background: url(big_frame_top.png) no-repeat; display: block; }
.diaporama-page .photo-container .photo span span {background: url(big_frame_bottom.png) no-repeat left bottom; padding: 13px; width: 492px; }
.diaporama-page .photo-container .photo img {display: block;}
.diaporama-page .photo-description {margin: 0 auto 70px; width: 512px;}
.diaporama-page .photo-description p {font-size: 1.2em; line-height: 1.17; margin: 0 0 10px; text-align: justify;}

/*nav bar*/

.tickercontainer { width: 977px; height: 27px; margin: 0; padding: 0;overflow: hidden; }
.tickercontainer .mask { position: relative;width: 977px;overflow: hidden;}
ul.newsticker {position: relative;left: 977px;margin: 0;padding: 0;}
ul.newsticker li {float: left; }
ul.newsticker li span{width:150px;display:block;float:left;}
/*captcha*/
.captchaImage { margin: 0 2px; }
.simpleCaptchaSelected { border: 2px solid #393; } 


/*---------- Diaporama pages ----------*/
.diaporama-page h1 {background: url(ico_gallery.png) no-repeat; font-size: 1.8em; font-weight: normal; margin: -8px 0 24px; padding: 6px 33px 2px; }
.diaporama-page h1:first-letter {font-weight: bold;}
.diaporama-page h2 {font-size: 1.8em; margin: 0 0 25px; text-align: center;}
.diaporama-page .album-toolbar {font-size: 1.2em; margin: 0 0 28px;}
.diaporama-page .album-toolbar strong {float: left; font-weight: normal; margin-right: 4px;}
.diaporama-page .album-toolbar ul {float: left;}
.diaporama-page .album-toolbar ol {float: right;}
.diaporama-page .album-toolbar li {display: inline;}
.diaporama-page .album-toolbar a {margin-right: 1px;}
.diaporama-page .photo-list {font-size: 0; margin: 0 -1px 36px; width: 652px; }
.diaporama-page .photo-list li {background: url(frame_fill.png) repeat-y; display: inline-block; margin: 0 4px 5px 3px; vertical-align: top; width: 156px;}
.diaporama-page .photo-list li a {background: url(frame_top.png) no-repeat; display: block;}
.diaporama-page .photo-list li span {background: url(frame_bottom.png) no-repeat left bottom; display: block; padding: 10px 9px 10px 10px; width: 137px;}
.diaporama-page .photo-list li img {display: block;}
.diaporama-page .photo-list li:hover {background: url(frame_fill_on.png) repeat-y;}
.diaporama-page .photo-list li:hover a {background: url(frame_top_on.png) no-repeat;}
.diaporama-page .photo-list li:hover span {background: url(frame_bottom_on.png) no-repeat left bottom;}
.albums-links-box {margin-top: 8px;}
.albums-links-box h3 {background: url(ico_albums.png) no-repeat 4px 4px;}
.diaporama-page .photo-container {margin: 0 0 20px;}
.diaporama-page .photo-container a.photo-prev {float: left; height: 36px; margin: 156px 0 0 8px; text-indent: -1000em; width: 36px;}
.diaporama-page .photo-container a.photo-next {float: right; height: 36px; margin: 156px 8px 0 0; text-indent: -1000em; width: 36px;}
.diaporama-page .photo-container .photo {background: url(big_frame_fill.png) repeat-y; margin: 0 auto; width: 518px;}
.diaporama-page .photo-container .photo span {background: url(big_frame_top.png) no-repeat; display: block; }
.diaporama-page .photo-container .photo span span {background: url(big_frame_bottom.png) no-repeat left bottom; padding: 13px; width: 492px; }
.diaporama-page .photo-container .photo img {display: block;}
.diaporama-page .photo-description {margin: 0 auto 70px;; width: 512px;}
.diaporama-page .photo-description p {font-size: 1.2em; line-height: 1.17; margin: 0 0 10px; text-align: justify;}

/*---------- Newsletter page ----------*/
.newsletter-page .page-top {padding: 0 0 9px;}
.newsletter-page .side-col {float: left; padding: 9px 0 0 7px; width: 258px;}
.newsletter-page .side-col .side-search {margin: 0 auto 12px; width: 243px;}
.newsletter-page .side-col .promo-box {margin-bottom: 0;}
.newsletter-page .main-col {float: right; padding-right: 8px; width: 680px;}
.newsletter-page .main-col .category-news {margin: -10px auto 11px; width: 676px;}
.newsletter-page .category-news h2 {background: url(http://www.somme.fr/extension/cg80/design/cg80/images/txt/a_ne_pas_manquer2-trans.png) no-repeat; height: 31px; margin: 0 0 -12px 19px; position: relative; width: 304px; }
.newsletter-page .category-news .news-body {background: url(bg_slider2.png) no-repeat; height: 194px; width: 670px;}
.newsletter-page .category-news .overlay {margin-top: -181px; width: 377px;}
.newsletter-page .category-news .overlay .body { padding: 8px 5px 3px 16px; }
.newsletter-page .category-news .overlay h3 {font-size: 1.6em; font-weight: bold; margin: 0 0 6px;}
.newsletter-page .category-news .overlay p {font-size: 1.1em; }
.newsletter-page .category-news .overlay p.bottom-link {text-align: right;}
.newsletter-page .category-news .overlay p.bottom-link a {font-weight: bold; text-decoration: underline;}
.newsletter-page .zoom-block {background: url(bg_zoom_fill.png) repeat-y; margin: 0; width: 680px;}
.newsletter-page .zoom-block .inbox {background: url(bg_zoom_top.png) no-repeat;}
.newsletter-page .zoom-block .in-inbox {background: url(bg_zoom_bottom.png) no-repeat left bottom; padding: 10px 0 9px 11px;}
.newsletter-page .zoom-block .head {margin: 0 0 11px;}
.newsletter-page .zoom-block ul {padding-left: 7px;}
.newsletter-page .zoom-block li {background: url(zoom_border2.png) no-repeat right top; margin-right: 6px; min-height: 181px; padding-right: 9px; width: 149px; }
.newsletter-page .zoom-block li.last {background: none; margin: 0; padding: 0;}
.newsletter-page .zoom-block li img {margin: 0 0 4px;}
.newsletter-page .zoom-block li h3 {background: url(arrow_zoom2.png) no-repeat 0 2px; font-size: 1.3em; font-style: italic; padding-left: 15px;}
.newsletter-page .zoom-block li h4 {margin: 0 0 9px;}
.newsletter-page .zoom-block li h4 a {color: #606165;}
.newsletter-page .zoom-block li p {color: #292a2f; line-height: 1.09; margin: 0 0 4px; min-height: 60px;}
.newsletter-page .zoom-block li .bottom-link {text-align: right;}
.newsletter-page .search-list {margin: 0 auto; width: 936px;}
.newsletter-page .search-list li {background: url(generic_item2_fill.png) repeat-y; margin: 0 0 10px; width: 936px;}
.newsletter-page .search-list .item-in {background: url(generic_item2_top.png) no-repeat;}
.newsletter-page .search-list .item-in-in {background: url(generic_item2_bottom.png) no-repeat left bottom; padding: 6px 12px 6px 7px;}
.newsletter-page .search-list .item-img {margin-right: 10px; }
.newsletter-page .search-list .date {font-size: 1.1em; margin: 0 0 6px;}
.newsletter-page .search-list p {line-height: 1.17; }
.newsletter-page .search-list p.bottom-link {text-align: right;}
.newsletter-page .search-list p.bottom-link a {position: static; }

