/*******************************************************************************************************************/
/***********************************                 TT_NEWS                ****************************************/
/*******************************************************************************************************************/

/**************************************************/
/*********    LATEST    ***************************/
/**************************************************/
.actu_une h3 {
	color: #008AC2;
	font-size: 1.7em;
}

.actu_une h3 a {
	color: #008AC2;
}

.actu_une_subheader p {
	text-align: left;
}

.actu_une_subheader a, 
.actu_une_subheader a:link {
	font-weight: normal;
	text-decoration: none;
}

.actu_une_subheader a:hover {
	text-decoration: underline;
}


/**************************************************/
/*********    LATEST DOSSIER    *******************/
/**************************************************/

.actu_une_dossiers h3 {
	color: #008AC2;
	font-size: 1.2em;
}

.actu_une_dossiers h3 a {
	color: #008AC2;
}

/**************************************************/
/*********    SINGLE    ***************************/
/**************************************************/

.actu_seule_contenu_subheader {
	font-weight: bold;
	color: #333333;
	font-size: 1.2em;
	text-align: justify;
}

.actu_seule_contenu_contenu {
	text-align: justify;
	padding: 10px 10px 10px 0;
}

.actu_seule_contenu_contenu img {
	float: left;
	padding: 0 10px 10px 0;
	clear: both;
}

.actu_seule_retour {
	padding: 10px 0 0 0;
	background: transparent url(bg_hr.gif.1) repeat-x scroll left top;
}

.actu_seule_retour a {
	color: #008AC2;
	font-weight: bold;
}

#milieu-milieu .contenu .actu_seule_category p {
	margin:0;
}


/**************************************************/
/*********    LIST    *****************************/
/**************************************************/

h3.actus-titre {
	color: #008AC2;
	font-size: 1.2em;
}

h3.actus-titre a{
	color: #008AC2;
}

.actus-subheader {
	padding: 10px 0 20px 0;
}
.actus-subheader p {
	text-align: justify;
}

.actus-subheader a, 
.actus-subheader a:link {
	font-weight: normal;
	text-decoration: none;
}

.actus-subheader a:hover {
	text-decoration: underline;
}

.actus-categorie_texte {
	color: #008AC2;
	font-weight: bold;
	clear:both;
}


