/******************************************************************************/
/*      	                 EXTENSION - INSCRIPTION NEWSLETTER                  */
/******************************************************************************/

.inscription_newsletter_form{}

.inscription_newsletter_form .inscription_newsletter_form_field {
  margin:0px 0px 15px 0px;
}

.inscription_newsletter_form .inscription_newsletter_form_field label{
  float:left;
  width:100px;
}

.inscription_newsletter_form .submit{
  color:#FFFFFF;
  background-color:#C8BB89;
  
  font-weight:normal;

  border:medium none;
  margin:0px 0px 0px 5px;
  padding:2px 4px;

  cursor:pointer;
}

.inscription_newsletter_form .cancel{
  color:#FFFFFF;
  background-color:#C8BB89;
  
  font-weight:normal;

  border:medium none;
  margin:0px 0px 0px 5px;
  padding:2px 4px;

  cursor:pointer;
}

#gauche-milieu .btnNews img{
  padding:0px 0px 0px 0px;
}

.required_message{
  color:#FF0000;	
  font-style:italic;
}

.htmlinfo{
  font-style:italic;
}