/*  MISE EN PAGE VIA LA CONSOLE */

/* Alignement du texte */
.cm_alignLeft {	TEXT-ALIGN: left; }
.cm_alignRight { TEXT-ALIGN: right; }
.cm_alignCenter { TEXT-ALIGN: center; }

/* Images flottantes */
.cm_floatLeft { FLOAT: left; }
.cm_floatRight { FLOAT: right; }
.cm_floatCenter { TEXT-ALIGN: center; }

/* Formatage */
.cm_strong {
	FONT-WEIGHT: bold;
	COLOR: #53AC58;
	FONT-SIZE: 130%;
}
.cm_em {
	FONT-WEIGHT: bold;
}

/* Paragraphes particuliers */
.cm_legend {
	FONT-SIZE: 92%;
	FONT-STYLE: italic;
}
.cm_encart, #contenu P.cm_encart {
	BACKGROUND-COLOR: #E6EFD2;
	MARGIN-LEFT: 40px;
	MARGIN-RIGHT: 40px;
	PADDING: 10px 20px 10px 20px;
}
.cm_savoirPlus {
	FONT-SIZE: 123%;
	FONT-WEIGHT: bold;
	COLOR: #FFFFFF;
	FLOAT: right;
	HEIGHT: 21px;
	BACKGROUND: #ACCF6E url("http://www.tibus.fr/img/savoirPlus_bg.gif");
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 5px;
}
.cm_savoirPlus A {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}

/* SÚparateur */
HR {
	BORDER: 1px solid #D6D4D4;
}
