html {font-size: 12px;}

h1, h2, h3, h4 {page-break-after: avoid;}

dl, div {display: inline;} /* Evite qu'une liste trop longue ne commence sur une nouvelle page. */

#liensEvitement, #liens_evitements, #recherche , #menu, #footer, #outils, #arbre_carac, #contenu .yahoopath, #sommaire, #menu_produit, p.retourSommaire, #footer_annexes, #menu_fiscalite {display: none !important;}
#conteneur, #contenu, #texte, #contenu .conteneurPoint, #contenu .point, .float_left {
	background: none !important;
	float: none !important;
	position: static !important;
	width: auto !important;
	}

#contenu  {padding: 20px;}
	#contenu img.enSavoirPlus, #contenu #rss img {display: none !important;}
#texte {
	border: none !important;
	float: none !important;
	}
	#texte .point, #texte .point2 {clear: both;}
#logoCarac {
	height: 141px;
	display: block;
	}
	#logoCarac img {display: none;}
		#logoCarac a img {display: block;}
#contenu .conteneurPoint {border: none;}
.pageProduit .point {
	padding-top: 15px;
	padding-bottom: 5px;
	}

#rmc   h1 { color: #008d9f;}
#rvi   h1 { color: #bc9c93;}
#sr    h1 { color: #A6B7B6;}
#cec   h1 { color: #F7942C;}
#eec   h1 { color: #EB2226;}
#cef   h1 { color: #D6B63A;}
#profileo  h1 { color: #21a8d1;}
#voc   h1 { color: #913493;}
#perp  h1 { color: #3E88C2;}
#ca    h1 { color: #99CA3C;}
#handicap    h1 { color: #00A82B;}
#rmc   h2 { color: #008d9f;}
#carac h2 { color: #008D9F;}
#rvi   h2 { color: #bc9c93;}
#sr    h2 { color: #A6B7B6;}
#cec   h2 { color: #F7942C;}
#eec   h2 { color: #EB2226;}
#cef   h2 { color: #D6B63A ;}
#profileo   h2 { color: #21a8d1;}
#voc   h2 { color: #913493 ;}
#perp  h2 { color: #3E88C2 ;}
#ca    h2 { color: #99CA3C ;}
#handicap    h2 { color: #00A82B;}

.assurance_vie h2 {width: 300px;}
.assurance_vie .intro {width: 530px;}
.assurance_vie form {width: auto !important;}
.assurance_vie #actions {
	clear: none;
	display: none;
	margin: 0;
	}

.assurance_vie #actions ul li {margin: 0;}
.assurance_vie #sidebar {float: left;}

