/* =INITIAL
   v2.1, by Faruk Ates - www.kurafire.net
   http: //kurafire.net/log/archive/2005/07/26/starting-css-revisited
   Addendum by Robert Nyman - www.robertnyman.com */

/* Neutralize styling:
   Elements we want to clean out entirely: */
html, body, form, fieldset {
	margin: 0;
	padding: 0;
	font: 100%/1.2 Verdana, Arial, Helvetica, sans-serif;
	}

/* Neutralize styling:
   Elements with a vertical margin: */
h1, h2, h3, h4, h5, h6, p, pre,
blockquote, ul, ol, dl, address {
	margin: 1em 0;
	padding: 0;
	}

/* Apply left margin:
   Only to the few elements that need it: */
li, dd, blockquote {margin-left: 1em;}
ul {
	list-style: url(li.jpg);
	margin-left: 1em;
	}
dt {
	color: #4B7284;
	font-weight: bold;
	}
dd {margin-left: 0;}
	dl dd {margin-left: 20px;}

/* Miscellaneous conveniences: */
input {
	background-color: #FFFFFF;
	border: 1px solid #4B7284;
	color: #4B7284;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	padding: 0pt 3px;
	}
	input.borderNone {
		border: none;
		margin-left: 3px;
		margin-right: 0.2em;
		}
		#formEpargneHandicap input.borderNone {margin-top: 0;}

select {
	background-color: #FFFFFF;
	border: 1px solid #4B7284;
	color: #4B7284;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	padding: 0pt;
	}
textarea {
	background-color: #FFFFFF;
	border: 1px solid #4B7284;
	color: #4B7284;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	padding: 0pt 3px;
	}
html {
	background: #fff;
	font-size: 68.75%;
	}
h1 {
	font-size: 2em;
	margin: 0;
	text-align: left;
	}
h4 {font-size: 1em;}
strong {color: #4B7284;}
.viewPanno {position: relative;}
.viewPanno, .viewDesc, a {
	color: #4B7284;
	cursor: pointer;
	text-decoration: none;
	}
	a:hover, a:focus {
		color: #34505C;
		text-decoration: underline;
		}
	a img {border: none;}
kbd {
	border: 1px outset #555;
	font-size: 1em;
	padding: 0 2px;
	}
.clear {clear: both;}
.float_left {float: left;}
.float_right {float: right;}
.float_none {float: none;}
.centre {text-align: center;}
.pdroite {text-align: right;}

table {
	border: 1px solid #4B7284;
	border-collapse: collapse;
	margin: auto;
	padding: 1em;
	margin-bottom: 1.5em;
	}

	table tr {
		border: 0;
		margin: 0;
		padding: 0;
		}
	table td, table th {
		border: 0;
		margin: 0;
		}
	table th {
		padding: 0.5em;
		text-align: center;
		}
	table td {
		color: #000000;
		padding: 0.5em;
		text-align: center;
		}
	table thead tr {
		background-color: #4B7284;
		color: #FFFFFF;
		font-weight: bold;
		}

	table tbody tr.alternate, table tbody td.alternate {background-color: #EFF3F7;}
		table thead th a {
			color: #FFFFFF;
			font-weight: bold;
			text-decoration: none;
			}
			table thead th a:visited {
				color: #FFFFFF;
				font-weight: bold;
				text-decoration: none;
				}
			table thead th a:hover, table thead th a:focus {
				color: #FFFFFF;
				font-weight: bold;
				text-decoration: underline;
				}
	table tbody tr {background-color: #fff;}
	table tbody th {
		color: #fff;
		text-align: left;
		}
	table tfoot th {
		background-color: #FEA137;
		color: #fff;
		}

	#tabbicolor table {
		 margin: 0.1em;
		 margin-bottom: 2em;
		 padding: 0;
		 }
		 #tabbicolor table.vert {border: 1px solid #97C942;}
		 #tabbicolor table.violet {border: 1px solid #944397;}
		 #tabbicolor table.orange {border: 1px solid #EE7E1D;}

	#tabbicolor table caption {
		font-size: 1.2em;
		font-weight: bold;
		padding: 0.5em;
		margin: 0em;
		}
		#tabbicolor table caption.vert {
			background-color: #FFFFFF;
			color: #97C942;
			}
		#tabbicolor table caption.orange {
			background-color: #FFFFFF;
			color: #EE7E1D;
			}
		#tabbicolor table caption.violet {
			background-color: #FFFFFF;
			color: #944397;
			}

	#tabbicolor table thead tr th {color: black;}
		#tabbicolor table thead tr th.vert  {background-color: #97C942;}
		#tabbicolor table thead tr th.orange {background-color: #EE7E1D;}
		#tabbicolor table thead tr th.violet {background-color: #944397;}
	#tabbicolor table tbody th,#tabbicolor table tbody td {
		color: #000000;
		font-size: 0.9em;
		}
		#tabbicolor table tbody th.vert,   #tabbicolor table tbody td.vert  {background-color: #DFEDC2;}
		#tabbicolor table tbody th.orange, #tabbicolor table tbody td.orange {background-color: #FBDBBA;}
		#tabbicolor table tbody th.violet, #tabbicolor table tbody td.violet {background-color: #D4BADA;}
		#tabbicolor table tbody td.taux,   #tabbicolor table tbody th.taux,
		#tabbicolor table thead tr th.taux {
			font-weight: bold;
			text-align: right;
			}
		#tabbicolor table tbody td.tranche, #tabbicolor table tbody th.tranche,
		#tabbicolor table thead tr th.tranche {
			text-align: left;
			}
/* =READSPEAKER */
	#playerReadspeaker td{ padding: 0.3em;}
			
			

/* =FORMULAIRE */
#formEpargneHandicap {clear: both;}
fieldset {
	border: none;
	margin-bottom: 1em;
	}
	legend {
		color: #4B7284;
		font-weight: bold;
		padding: 0 0 0.5em;
		white-space: normal;
		}
	fieldset label {
		float: left;
		margin-bottom: 0.5em;
		position: relative;
			top: 0.3em;
		}
		#formEpargneHandicap fieldset label {position: static;}
		fieldset .commemo label {
			position: static;
				top: auto;
			}

form input, form select {
	margin-bottom: 0.3em;
	}
	#formEpargneHandicap input, #formEpargneHandicap select {margin-bottom: 0;}
form textarea {
	margin-bottom: 1.5em;
	margin-left: 0;
	}

sup {font-family: Verdana, Arial, Helvetica, sans-serif;}
dfn {font-style: normal;}
p.contact {
	font-weight: bold;
	text-align: left;
	margin: 1em 0 0;
	}
span.etoile {
	color: #D41541;
	padding: 0 0.5em;
	}
span.error {color: #FF0000;}
	#sim_epargne .error {
		clear: both;
		display: block;
		}

/* Form field text-scaling */
input, select, textarea {
	font-size: 100%;
	}

.pagination {position: relative;} /* !IE */
	.precedente, .suivante {
		position: absolute;
			top: 0;
		}
	.precedente {left: 0;}
	.suivante {right: 0;}

/* =CONTENEUR */
	#conteneur {
		background: url(fond-carac.gif) repeat-y;
		margin: 0 auto;
		min-height: 730px;
		padding: 0 9px 0 10px;
		position: relative;
		width: 761px;
		}
	#arbre_carac {
		position: absolute;
			bottom: -1px;
			left: 10px;
		}

/* =HEADER */
	#stopAnimHeader {
		position:absolute;
		left:570pt;
		top:0pt;
	}
	#stopAnimHeader a {
		font-size: 9px;
		font-weight:normal;
	}
	#header {
		background: rgb(231, 235, 247);
		min-height: 181px;
		position: relative;
		}
		#logoCarac {
			margin: 0;
			position: relative;
				z-index: 2;
			}
			#logoCarac img, #logoCarac object {
				display: block;
				}
			#logoCarac a img {
				/*display: block;*/
				float: left;
				}
		#liens_evitements {
			position: absolute;
				top: 10px;
				left: 10px;
				z-index: 1;
			}
		/* =RECHERCHE */
		#recherche {
			background: rgb(231, 235, 247);
			min-height: 40px;
			padding: 0 0 0 10px;
			position: absolute;
				bottom: 0;
				left: 0;
				z-index: 2;
			width: 168px;
			}
			#recherche p {
				margin: 0;
				}
				#recherche label {
					color: #305463;
					font-variant: small-caps;
					}
				#recherche input {
					background-color: #FFF;
					border: 1px solid #305463;
					color: #305463;
					width: 125px;
					}
					#recherche input.button {
						background-color: #FFF;
						border: 1px solid #305463;
						color: #305463;
						width: 25px;
						}

			.recherche {padding-left:1.1em;}
			.recherche li a {font-weight:bold}
			.recherche li a img {margin-bottom : -5px}
			.recherche li  {margin-bottom : 1em}

			.recherche dt {margin: 1em 0 0.2em;}
				.recherche dt img {
					/*float: left;*/
					margin-bottom:-5px;
				}



			.recherche .dateModif {font-style: italic;}

/* =MENU */
	#menu {
		float: left;
		list-style: none;
		list-style-image: none;
		margin: 0;
		width: 181px;
		}
		#menu li {
			border-right: 1px solid #bcd0da;
			list-style: none;
			margin: 0;
			}
			#menu li a, #menu li a img {
				border-bottom: 1px solid #bcd0da;
				list-style: none;
				}
		#menu ul {
			list-style: none;
			list-style-image: none;
			margin: 0;
			}
			#menu ul li, #menu ul li a, #menu ul li a img {
				border: none;
				}
		#menu img {
			vertical-align: bottom;
			}

/* =CONTENU */
	#contenu {
		float: left;
		padding: 0 19px 19px;
		text-align: justify;
		width: 542px;
		}

		/* =YAHOOPATH */
		.yahoopath {
			color: #4B7284;
			padding: 5px 0;
			}
			.yahoopath a {
				text-decoration: none;
				}
				.yahoopath a:hover {
					text-decoration: underline;
					}

		h2 {
			color: #4B7284;
			font-size: 1em;
			margin: 0 0 1em 0;
			}
		h3 {
			color: #4B7284;
			font-size: 1em;
			margin: 0 0 1em 0;
			}
		h2 a {
			text-decoration: none;
			}
			h2 a:hover {
				text-decoration: underline;
				}
			.autoheight h2 a img {
				margin: 0 -5px;
				}
		#texte {
			border: 1px solid #D6DFE7;
			border-top-width: 5px;
			border-bottom-width: 10px;
			clear: left;
			padding: 10px 5px 5px 5px;
			position: relative;
			width: 530px;
			}
			#readspeaker_button{
				float: left;
				margin-bottom:5px;
				}
			#rs_div{
				float: left;
				margin-left: 15px;
				}
			#rmc  #texte {border: 1px solid #008d9f;}
			#rvi  #texte {border: 1px solid #bc9c93;}
			#sr   #texte {border: 1px solid #A6B7B6;}
			#sr_perp   #texte {border: 1px solid #3E88C2;}
			#cec  #texte {border: 1px solid #F7942C;}
			#sr_cec  #texte {border: 1px solid #F7942C;}
			#eec  #texte {border: 1px solid #EB2226;}
			#cef  #texte {border: 1px solid #D6B63A;}
			#profileo  #texte {border: 1px solid #21a8d1;}
			#voc  #texte {border: 1px solid #913493;}
			#perp #texte {border: 1px solid #3E88C2;}
			#ca   #texte {border: 1px solid #99CA3C;}
			#sr_ca   #texte {border: 1px solid #99CA3C;}
			#handicap   #texte {border: 1px solid #00A82B;}
			#rmc  #texte, #rvi  #texte, #sr   #texte,
			#cec  #texte, #eec  #texte, #cef  #texte, #profileo  #texte,
			#voc  #texte, #perp #texte, #ca   #texte, #sr_perp #texte,
			#sr_ca #texte, #sr_cec #texte, #handicap  #texte {
				padding: 0;
				width: 538px;
				}
			#texte p {margin: 0 0 1.5em 0;}
				#texte p.aideConseiller {
					float: left;
					margin-right: 5px;
					width: 383px;
					}
			#texte b {
				color: #4B7284;
				font-weight: bold;
				}
			#texte ul.tabCommentaire {padding: 0 1em 1em;}
				#texte ul.tabCommentaire li {
					font-size: 0.9em;
					font-style: italic;
					list-style: none;
					list-style-image: none;
					margin: 0;
					padding: 0;
					}
			#texte form input.button {
				background-color: #FFF;
				border: 1px solid #4B7284;
				color: #4B7284;
				font-family: Verdana,Arial,Helvetica,sans-serif;
				font-size: 1em;
				font-weight: bold;
				padding: 0 3px;
				}
			#texte a.souligne {text-decoration: underline;}
			#texte ul.list_large li {margin-bottom: 1em;}
		/* =CONTACT AGENCE */
			#contact_agence dd {text-align : left;}

		/* =PRODUITS */
		.produits {
			clear: both;
			list-style: none;
			list-style-image: none;
			margin: 20px -5px 0 0;
			padding: 0;
			}
			.produits li {
				border: 1px solid #d4d4d4;
				display: block;
				float: left;
				margin: 0 5px 10px 0;
				width: 260px;
				}
				.produits li .autoheight {padding: 0 5px;}
				.produits li h2 {margin: 0;}
					.produits li h2 img {vertical-align: bottom;}

					/* retraite */
					.produits li.rmc h2 a { color: #008d9f; }
					.produits li.rvi h2 a { color: #bc9c93; }
					.produits li.sr  h2 a { color: #A6B7B6; }
					.produits li.perp h2 a { color: #3E88C2; }
					.produits li.ca h2 a { color: #3E88C2; }


					/* epargne */
					.produits li.cec h2 a { color: #F7942C; }
					.produits li.eec h2 a { color: #EB2226; }
					.produits li.cef h2 a { color: #d6b63a; }
					.produits li.eh h2 a { color: #00A82B; }

					#eec_croix {margin : 0.1em 0.2em 0 0.2em;} /* croix rouge de la zone Entraid'Epargne Carac sur la page epargne.php  */

					/* obseques */
					.produits li.voc h2 a { color: #913493; }

					/* assurances */
					.produits li.ass_auto h2 a /*,label.auto*/ { color: #E95D7B; }
					.produits li.ass_habitation h2 a /*,label.habit*/ { color: #6C86C2; }
					.produits li.ass_sante h2 a /*,label.sante*/ { color: #60B256; }

					/* nouveautes */
					.produits li.nouv h2 a { color: #4B7284; }

			/*	#texte .produits p {
					margin: 1em 0;
					}*/
					.produits li.rmc p, .produits li.rvi p, .produits li.sr p, .produits li.perp p,
					.produits li.ca p, .produits li.cec p, .produits li.eh p, .produits li.eec p, .produits li.cef p,
					.produits li.voc p, .produits li.ass_auto p, .produits li.ass_habitation p,
					.produits li.ass_sante p, .produits li.nouv p, .produits li.eh p {
						padding-top: 1em;
						}
					#texte p.taux {
						margin-bottom: 0;
						padding-bottom: 1em;
						}
					.produits li.rmc p.taux, .produits li.rvi p.taux, .produits li.sr p.taux,
					.produits li.perp p.taux, .produits li.ca p.taux, .produits li.cec p.taux,
					.produits li.eec p.taux, .produits li.cef p.taux, .produits li.voc p.taux,
					.produits li.ass_auto p.taux, .produits li.ass_habitation p.taux,
					.produits li.ass_sante p.taux, .produits li.nouv p.taux {
						padding-top: 0;
						text-align: right;
						}
						.produits p.taux span {
							color: #4B7284;
							display: block;
							font-size: 0.9em;
							font-style: italic;
							text-align: left;
							text-decoration: none;
							width: auto;
							}
					#listeSurvol {
						list-style: url(li.jpg);
						}

					 #texte div.autoheight p {
							margin: 0;
						}
					 #texte .eh.enSavoirPlus p {
					 	padding-bottom: 15px;
					 }

/* PLAN DU SITE */
/* =PLANSITE */
#planSite div {
	width: 40%;
	margin: 1em;
	position: relative;
	}

#planSite h2 {
	background: #4B7284 url(fleur.gif) no-repeat scroll 0%;
	background-position: 4px;
	background-repeat: no-repeat;
	color: #FFFFFF;
	font-size: 1em;
	font-weight: bold;
	margin: 10px 0 0;
	padding: 3px 14px;
	}
	#planSite h2 a {
		color: #FFFFFF;
		padding-left: 0.3em;
		}
	#planSite ul {
		list-style: none;
		list-style-image: none;
		margin: 0;
		text-align: left;
		}
		#planSite li {margin-left: 17px;}

div.panno {
	font-size: 9px;
	font-style: italic;
	}

		/* =PAGEPRODUIT */
			/* =SOMMAIRE */
			#sommaire {
				position: absolute;
					top: 35px;
					right: 5px;
				padding: 0 0 0 1em;
				}
				#rmc  #sommaire { list-style: url(rmc_puce2.gif);}
				#rvi  #sommaire { list-style: url(rvi_puce2.gif);}
				#sr   #sommaire { list-style: url(sr_puce2.gif);}
				#cec  #sommaire { list-style: url(cec_puce2.gif);}
					#cec  #sommaire .sr_cec { list-style: url(sr_cec_puce2.gif);}
				#sr_cec  #sommaire { list-style: url(cec_puce2.gif);}
					#sr_cec  #sommaire .sr_cec { list-style: url(sr_cec_puce2.gif);}
				#eec  #sommaire { list-style: url(eec_puce2.gif);}
				#cef  #sommaire { list-style: url(cef_puce2.gif);}
				#profileo  #sommaire { list-style: url(profileo_puce2.gif);}
				#voc  #sommaire { list-style: url(voc_puce2.gif);}
				#perp #sommaire { list-style: url(perp_puce2.gif);}
				#sr_perp #sommaire { list-style: url(perp_puce2.gif);}
				#ca   #sommaire { list-style: url(ca_puce2.gif);}
				#sr_ca   #sommaire { list-style: url(ca_puce2.gif);}
				#handicap   #sommaire { list-style: url(eh_puce2.gif);}


				#sommaire li {
					margin: 0;
					padding: 0;
					}
					#sommaire a {
						display: block;
						font-size: 0.9em;
						font-weight: bold;
						padding-bottom: 5px;
						position: relative;
							bottom: 3px;
						text-decoration: none;
						}
						#rmc  #texte #sommaire a { color: #fff; }
						#rvi  #texte #sommaire a { color: #000; }
						#sr   #texte #sommaire a { color: #fff; }
						#cec  #texte #sommaire a { color: #fff; }
						#sr_cec  #texte #sommaire a { color: #fff; }
						#eec  #texte #sommaire a { color: #EB2226; }
						#cef  #texte #sommaire a { color: #fff; }
						#profileo  #texte #sommaire a { color: #fff; }
						#voc  #texte #sommaire a { color: #913493; }
						#perp #texte #sommaire a { color: #3E88C2; }
						#sr_perp #texte #sommaire a { color: #3E88C2; }
						#ca   #texte #sommaire a { color: #99CA3C; }
						#sr_ca   #texte #sommaire a { color: #99CA3C; }
						#handicap  #texte #sommaire a { color: 	#FFF; }

						#sommaire a:hover {
							text-decoration: underline;
							}
			/* =CONTENU */
			.pageProduit h1 {
				color : #fff;
				padding-right: 0.5em;
				font-weight: normal;
				text-align: left;
				}
				.pageProduit h1 img {float: left;}
			#rmc   h1 { background: #008d9f; float: left; font-size: 1.4em; height: 22px; padding-left: 5px; padding-top: 2px; font-weight: bold;}
			#rvi   h1 { background: #bc9c93; float: left; font-size: 1.4em; height: 22px; padding-left: 5px; padding-top: 2px; font-weight: bold;}
			#sr    h1 { background: #A6B7B6; float: left; font-size: 1.4em; height: 22px; padding-left: 5px; padding-top: 2px; font-weight: bold;}
			#cec   h1 { background: #F7942C; float: left; font-size: 1.4em; height: 22px; padding-left: 5px; padding-top: 2px; font-weight: bold;}
			#sr_cec   h1 { background: #F7942C; float: left; font-size: 1.4em; height: 22px; padding-left: 5px; padding-top: 2px; font-weight: bold;}
			#eec   h1 { background: #EB2226; float: left; font-size: 1.4em; height: 22px; padding-left: 5px; padding-top: 2px; font-weight: bold;}
			#cef   h1 { background: #D6B63A; float: left; font-size: 1.4em; height: 22px; padding-left: 5px; padding-top: 2px; font-weight: bold;}
			#profileo  h1 { background: #21a8d1; float: left; font-size: 1.4em; height: 22px; padding-left: 5px; padding-top: 2px; font-weight: bold;}
			#voc   h1 { background: #913493; float: left; font-size: 1.4em; height: 22px; padding-left: 5px; padding-top: 2px; font-weight: bold;}
			#perp  h1 { background: #3E88C2; float: left; font-size: 1.4em; height: 22px; padding-left: 5px; padding-top: 2px; font-weight: bold;}
			#sr_perp  h1 { background: #3E88C2; float: left; font-size: 1.4em; height: 22px; padding-left: 5px; padding-top: 2px; font-weight: bold;}
			#ca    h1 { background: #99CA3C; float: left; font-size: 1.4em; height: 22px; padding-left: 5px; padding-top: 2px; font-weight: bold;}
			#sr_ca    h1 { background: #99CA3C; float: left; font-size: 1.4em; height: 22px; padding-left: 5px; padding-top: 2px; font-weight: bold;}
			#handicap    h1 { background: #00A82B; float: left; font-size: 1.4em; height: 22px; padding-left: 5px; padding-top: 2px; font-weight: bold; width: 387px;padding-right:0;}
			/*#rmc   h2 { background: #008d9f url(../img/rmc_fleche.gif)  no-repeat;}*/
			#carac h2 { background: #008D9F url(rmc_fleche.gif)  no-repeat;}
			/*#rvi   h2 { background: #bc9c93 url(../img/rvi_fleche.gif)  no-repeat;}*/
			/*#sr    h2 { background: #A6B7B6 url(../img/sr_fleche.gif)   no-repeat;}*/
			/*#cec   h2 { background: #F7942C url(../img/cec_fleche.gif)  no-repeat;}*/
			/*#eec   h2 { background: #EB2226 url(../img/eec_fleche.gif)  no-repeat;}*/
			/*#cef   h2 { background: #D6B63A url(../img/cef_fleche.gif)  no-repeat;}*/
			/*#profileo   h2 { background: #21a8d1 url(../img/profileo_fleche.gif)  no-repeat;}*/
			/*#voc   h2 { background: #913493 url(../img/voc_fleche.gif)  no-repeat;}*/
			/*#perp  h2 { background: #3E88C2 url(../img/perp_fleche.gif) no-repeat;}*/
			/*#ca    h2 { background: #99CA3C url(../img/ca_fleche.gif)   no-repeat;}*/
			/*#handicap    h2 { background: #00A82B url(../img/eh_fleche.gif)  no-repeat;}*/
			#cec #distinctions {
				background: #fff;
				/*height: 140px;*/
				text-align: center;
				width: 392px;
				}
				#cec #distinctions img {
					/*margin: 0 10px;*/
					/*float: left;*/
					}
					#cec #distinctions img.premier {
					margin: 0 0 0 50px;
					}
			#cec #title_page, #rmc #title_page, #rvi #title_page, 
			#perp #title_page, #sr_perp #title_page, #sr_ca #title_page, 
			#sr_cec #title_page, #ca #title_page, #profileo #title_page, 
			#eec #title_page, #cef #title_page, #handicap #title_page,
			#voc #title_page{
				height: 24px;
				width: 392px;
				}
			#cec #visuel_2010, #rmc #visuel_2010, #rvi #visuel_2010, 
			#perp #visuel_2010, #sr_perp #visuel_2010, #sr_ca #visuel_2010, 
			#sr_cec #visuel_2010, #ca #visuel_2010, #profileo #visuel_2010,
			#eec #visuel_2010, #cef #visuel_2010, #voc #visuel_2010{
				float: left;
				height: 174px;
				}
			#cec #bloc_visuel, #rmc #bloc_visuel, #rvi #bloc_visuel, 
			#perp #bloc_visuel, #sr_perp #bloc_visuel, #sr_ca #bloc_visuel, 
			#sr_cec #bloc_visuel, #ca #bloc_visuel, #profileo #bloc_visuel,
			#eec #bloc_visuel, #cef #bloc_visuel, #voc #bloc_visuel{
				width: 392px;
				height: 174px;
				}
			#cec #visuel_taux, #rmc #visuel_taux, #rvi #visuel_taux, 
			#perp #visuel_taux, #sr_perp #visuel_taux, #sr_ca #visuel_taux, 
			#sr_cec #visuel_taux, #ca #visuel_taux, #profileo #visuel_taux,
			#eec #visuel_taux, #cef #visuel_taux, #handicap #visuel_taux,
			#voc #visuel_taux{
				float: left;
				height: 174px;
				width: 120px;
				}
			#handicap #bloc_visuel{
				width: 392px;
				height: 120px;
				}
			#handicap #visuel_2010{
				float: left;
				}
			.pageProduit .conteneurPoint { /*!ie*/
				border-right: 1px solid #d4d4d4;
				float: left;
				min-height: 556px;
				/*min-height: 538px;*/
				overflow: visible;
				width: 392px;
				}
				#rmc  .conteneurPoint { border-right-color: #008d9f; }
				#rvi  .conteneurPoint { border-right-color: #bc9c93; }
				#sr   .conteneurPoint { border-right-color: #A6B7B6; }
				#cec  .conteneurPoint { border-right-color: #F7942C; }
				#sr_cec  .conteneurPoint { border-right-color: #F7942C; }
				#eec  .conteneurPoint { border-right-color: #EB2226; }
				#cef  .conteneurPoint { border-right-color: #D6B63A; }
				#profileo  .conteneurPoint { border-right-color: #21a8d1; }
				#voc  .conteneurPoint { border-right-color: #913493; }
				#perp .conteneurPoint { border-right-color: #3E88C2; }
				#sr_perp .conteneurPoint { border-right-color: #3E88C2; }
				#ca   .conteneurPoint { border-right-color: #99CA3C; }
				#sr_ca   .conteneurPoint { border-right-color: #99CA3C; }
				#handicap   .conteneurPoint { border-right-color: #00A82B; }
				.pageProduit ul {
					list-style: url(li.jpg);
					margin-left: 1em;
					}
				.conteneurPoint li, .conteneurPoint dd {
					margin-left: 1em;
					}
			.pageProduit .point {
				margin-bottom: 10px;
				margin-top: 10px;
				padding: 0 5px;
				position: relative;
				}
				.pageProduit .point h2 {
					color: #EB2226;
					font-weight: bold;
					margin: 0;
					padding: 1px 1px 5px;
					}
					.pageProduit .point h3, .pageProduit .point h3 {
						font-size: 1.2em;
						margin-bottom: 0;
						}
						.pageProduit #texte .point h3 + p {
							margin-top: 0;
							}
							.pageProduit .point2 {
								margin-bottom: 10px;
								padding: 0 5px;
								position: relative;
								}
				#texte .exergue {
					margin: 0 0 10px 0;
					}
				#texte .retourSommaire {
					margin: 0;
					position: absolute;
						bottom: 0;
						right: 0;
					}
					#texte .point .retourSommaire {
						margin: 0;
						position: absolute;
							top: 1px;
							right: 2px;
							bottom: auto;
						}
						#texte .point .retourSommaire a {
							color: #000;
							}
				#texte .illustration {
					margin: 0 5px 3px 5px;
					}
			#rmc .ficheCombattant h3{
				margin-bottom: 10px;;
				}

			/* =NOTES*/
			#notes, .notesTab, #notes1, #notes2, #notes3, #notes4  {
				list-style: none;
				list-style-image: none;
				margin: 20px 0 15px 0px;
				padding: 0 5px;
				}
			#notes {
				border: 2px solid #000;
				margin: 40px 10px 10px;
				padding: 5px 10px;
				}
				.conteneurPoint #notes li {
					/*margin-left: 1em;*/
					}
				#notes li, #notes1 li, #notes2 li, #notes3 li, #notes4 li, .notesTab li {
					margin-left: 0;
					}
					.notesTab li ul {
						margin: 0;
						}
					.notesTab li ul li {
						list-style: url(li.jpg);
						margin-left: 2em;
						}
			.conteneurPoint .remarque {
				padding: 0 5px 0 5px;
				}
			.resume, .remarque {
				font-style: italic;
				}

			/* =MENU_PRODUIT */
			#menu_produit {
				float: right;
				position: relative;
					bottom: 0;
				text-align: left;
				width: 145px;
				padding-bottom: 26px;
				}
			#cec .ficheProduit #menu_produit, #eec .ficheProduit #menu_produit, #rvi .ficheProduit #menu_produit,
			#cef .ficheProduit #menu_produit, #profileo .ficheProduit #menu_produit, #ca .ficheProduit #menu_produit, 
			#rmc .ficheProduit #menu_produit{
				position: relative;
					/*bottom: 54px;*/
				}
			/*#handicap .ficheProduit #menu_produit {
				bottom: 31px;
			}*/
			.ficheProduit #menu_produit {
				position: relative;
					/*bottom: 33px;*/
				}
				#menu_produit dl {
					background: #fff;
					margin: 0 0 1em;
					}
					#menu_produit dd {
						background: url(pucerouge.gif) no-repeat;
						margin: 0;
						padding-left: 20px;
						}
						#menu_produit dd a {
							color: #829fa6;
							font-weight: bold;
							text-decoration: none;
							}
							#menu_produit dd a:hover {
								text-decoration: underline;
								}
								#menu_produit dd .produitPageActive {
									color: #3C5763;
									font-weight: bold;
									}

			#outils {
				list-style: none;
				list-style-image: none;
				margin: 0;
				padding: 0;
				}
				#outils li {
					margin: 0;
					padding: 0;
					}
					#outils li img {
						vertical-align: bottom;
						}
					#impression, #ajoutFavoris {
						display: none;
						}
			/*= PAGE PRODUIT : FICHE PRATIQUE */
			.fichePratique dt {
				font-weight: bold;
				margin-top: 10px;
				}
				.fichePratique dt .precision {
					color: #000;
					font-weight: normal;
					}
				.fichePratique dd {
					background: url(li.jpg) 0 3px no-repeat;
					padding-left: 2em;
					}

			/*= PAGE PRODUIT : TEMOIGNAGE */
			.pageProduit .ficheTemoignage .first {
				margin-bottom: 10px;
				}
			.ficheTemoignage dfn {
				display: block;
				font-weight: bold;
				margin: 10px 10px 30px 0;
				text-align: right;
				width: auto;
				}

			/*= PAGE PRODUIT : SUCCESSION */
			.pageProduit .ficheSuccession .first {
				margin-bottom: 10px;
				}
			.info dt {
				font-weight: bold;
				}
			.info dd {
				margin-left: 0;
				}

			/*= PAGE PRODUIT : FISCALITE */
			.fiscalite #menu_fiscalite {
				border-bottom: 2px solid #EB2226;
				height: 36px;
				margin: 2px -5px 0;
				}
			.fiscalite #menu_fiscalite h3 {
				margin: 0;
				padding: 0;
				}
			.fiscalite #menu_fiscalite a,.fiscalite #menu_fiscalite h3 {
				border-right: 2px solid;
				border-top: 2px solid;
				border-left: 2px solid;
				/*border-bottom: none;*/
				display: block;
				float: left;
				margin: 2px;
				text-align: center;
				text-decoration: none;
				}
			.fiscalite #menu_fiscalite a {
				height: 30px;
				}
			.fiscalite #menu_fiscalite h3 {
				height: 30px;
				}
			#rmc  .fiscalite #menu_fiscalite a {border-color: #4B7284;}
			#rvi  .fiscalite #menu_fiscalite a {border-color: #4B7284;}
			#sr   .fiscalite #menu_fiscalite a {border-color: #4B7284;}
			#cec  .fiscalite #menu_fiscalite a {border-color: #4B7284;}
			#sr_cec  .fiscalite #menu_fiscalite a {border-color: #4B7284;}
			#eec  .fiscalite #menu_fiscalite a {border-color: #4B7284;}
			#cef  .fiscalite #menu_fiscalite a {border-color: #4B7284;}
			#handicap  .fiscalite #menu_fiscalite a {border-color: #4B7284;}
			#profileo  .fiscalite #menu_fiscalite a {border-color: #4B7284;}
			#voc  .fiscalite #menu_fiscalite a {border-color: #4B7284;}
			#perp .fiscalite #menu_fiscalite a {border-color: #4B7284;}
			#sr_perp .fiscalite #menu_fiscalite a {border-color: #4B7284;}
			#ca   .fiscalite #menu_fiscalite a {border-color: #4B7284;}
			#sr_ca   .fiscalite #menu_fiscalite a {border-color: #4B7284;}
			.fiscalite #menu_fiscalite #lienAssurance {width: 19%;}
			.fiscalite #menu_fiscalite #lienAssuranceSelected {
				background-color: #FFF;
				border-color: #EB2226;
				border-bottom: none;
				color: #EB2226;
				font-size: 1em;
				font-weight: normal;
				height: 32px;
				margin-bottom: 0px;
				padding-bottom: 0px;
				padding-top: 2px;
				width: 19%;
				}
			.fiscalite #menu_fiscalite #lienTransmission {
				height: 22px;
				padding-bottom: 4px;
				padding-top: 6px;
				width: 20%;
				}
			.fiscalite #menu_fiscalite #lienTransmissionSelected {
				background-color: #FFF;
				border-color: #EB2226;
				border-bottom: none;
				color: #EB2226;
				height: 28px;
				font-size: 1em;
				font-weight: normal;
				margin-bottom: 0px;
				padding-bottom: 0px;
				padding-top: 6px;
				width: 20%;
				}
			.fiscalite #menu_fiscalite #lienAssurance,
			.fiscalite #menu_fiscalite #lienRente,
			.fiscalite #menu_fiscalite #lienRenteSelected,
			.fiscalite #menu_fiscalite #lienCsg,
			.fiscalite #menu_fiscalite #lienCsgSelected {
				padding-top: 2px;
				}
			.fiscalite #menu_fiscalite #lienRente         {width: 23%;}
			.fiscalite #menu_fiscalite #lienRenteSelected {
				background-color: #FFF;
				border-color: #EB2226;
				border-bottom: none;
				color: #EB2226;
				height: 32px;
				font-size: 1em;
				font-weight: normal;
				margin-bottom: 0px;
				padding-bottom: 0px;
				padding-top: 2px;
				width: 23%;
				}
			.fiscalite #menu_fiscalite #lienCsg           {width: 29%;}
			.fiscalite #menu_fiscalite #lienCsgSelected   {
				background-color: #FFF;
				border-color: #EB2226;
				border-bottom: none;
				color: #EB2226;
				height: 32px;
				font-size: 1em;
				font-weight: normal;
				margin-bottom: 0px;
				padding-bottom: 0px;
				padding-top: 2px;
				width: 29%;
				}
			.fiscalite #menu_fiscalite a:link, .fiscalite #menu_fiscalite a:visited {
				color : gray;
				}
			.fiscalite dt {
				font-weight: bold;
				}
			.fiscalite dd {
				color: #000;
				font-weight: normal;
				margin-left: 0;
				}
			.fiscalite .enum dt {
				display: list-item;
				list-style: url(li.jpg);
				font-weight: bold;
				margin-bottom: 1em;
				margin-left: 2em;
				}
			.fiscalite .enum dd {
				margin-left: 4px;
				}
				.fiscalite .enum li {
					margin-left: 2em;
					}
			.fiscalite #notesAssuranceVie , .fiscalite .conteneurPoint .listNum {
				margin-left: 0;
				list-style: none;
				list-style-image: none;
				}
				.fiscalite #notesAssuranceVie #note1 {
					margin-left: 0;
					}
			.fiscalite h5 {
				font-size: 1em;
				}
				#texte .fiscalite p {
					margin-left: 0;
					}

/* couleurs spécifiques*/
	#rmc h3, #rmc h4, #rmc strong, /*#rmc #notes, #rmc #notes a,*/
	#rmc .point a, #rmc .fichePratique dt, #rmc .ficheTemoignage dfn,
	#rmc .info dt, #rmc .fiscalite dt, #rmc .ficheCombattant dt,
	#rmc strong, #rmc h5, #rmc .fiscalite #menu_fiscalite a:hover /*,
	label.rmc*/ {
		color: #4B7284; /*#008d9f*/
		}
		#rmc #notes {border-color: #008d9f;}
	#rvi h3, #rvi h4, #rvi strong, /*#rvi #notes, #rvi #notes a,*/
	#rvi .point a, #rvi .fichePratique dt, #rvi .ficheTemoignage dfn,
	#rvi .info dt, #rvi .fiscalite dt, #rvi strong, #rvi h5,
	#rvi .fiscalite #menu_fiscalite a:hover /*, label.rvi*/ {
		color: #4B7284;/*#bc9c93*/
		}
		#rvi #notes {border-color: #bc9c93;}
	#sr h3, #sr h4, #sr strong, /*#sr #notes, #sr #notes a,*/
	#sr .point a, #sr .fichePratique dt, #sr .ficheTemoignage dfn,
	#sr .info dt, #sr .fiscalite dt, #sr strong, #sr h5,
	#sr .fiscalite #menu_fiscalite a:hover /*, label.sr*/ {
		color: #4B7284;/*#768786*/
		}
		#sr #notes {border-color: #768786;}
		.fiscalite #menu_fiscalite a:hover {
			color: #EB2226;
		}
		.conteneurPoint h3 strong, .point strong, .conteneurPoint h3 strong, .point strong {
			color: #EB2226;
		}
	#sr_perp h3, #sr_perp h4, #sr_perp strong, /*#sr #notes, #sr #notes a,*/
	#sr_perp .point a, #sr_perp.fichePratique dt, #sr_perp .ficheTemoignage dfn,
	#sr_perp .info dt, #sr_perp .fiscalite dt, #sr_perp strong, #sr_perp h5,
	#sr_perp .fiscalite #menu_fiscalite a:hover /*, label.sr*/ {
		color: #4B7284;/*#768786*/
		}
		#sr #notes {border-color: #768786;}
		.fiscalite #menu_fiscalite a:hover {
			color: #EB2226;
		}
	#cec h3, #cec h4, /*#cec #notes , #cec #notes a,*/
	#cec .point a, #cec .fichePratique dt, #cec .ficheTemoignage dfn,
	#cec .info dt, #cec .fiscalite dt, #cec h5 /*, label.cec, label.ehcec*/ {
		color: #4B7284;/*#F7942C;*/
		}
		#cec #notes {border-color: #F7942C;}
	#sr_cec h3, #sr_cec h4, /*#cec #notes , #cec #notes a,*/
	#sr_cec .point a, #sr_cec .fichePratique dt, #sr_cec .ficheTemoignage dfn,
	#sr_cec .info dt, #sr_cec .fiscalite dt, #sr_cec h5 /*, label.cec, label.ehcec*/ {
		color: #4B7284;/*#F7942C;*/
		}
		#sr_cec #notes {border-color: #F7942C;}
	#eec h3, #eec h4, /*#eec #notes, #eec #notes a,*/
	#eec .point a, .red_span,  #eec .fichePratique dt, #eec .ficheTemoignage dfn,
	#eec .info dt, #eec .fiscalite dt, #eec h5,
	#eec .fiscalite #menu_fiscalite a:hover /*, label.eec, label.eheec*/ {
		color: #4B7284;/*EB2226*/
		}
		#eec #notes {border-color: #EB2226;}
	#cef h3, #cef h4, /*#cef #notes, #cef #notes a,*/
	#cef .point a, #cef .fichePratique dt, #cef .ficheTemoignage dfn,
	#cef .info dt, #cef .fiscalite dt, #cef h5,
	#cef .fiscalite #menu_fiscalite a:hover /*, label.cef*/ {
		color: #4B7284;/*D6B63A*/
		}
		#cef #notes {border-color: #D6B63A;}
	#profileo h3, #profileo h4, /*#cef #notes, #cef #notes a,*/
	#profileo .point a, #profileo .fichePratique dt, #profileo .ficheTemoignage dfn,
	#profileo .info dt, #profileo .fiscalite dt, #cef h5,
	#profileo .fiscalite #menu_fiscalite a:hover /*, label.cef*/ {
		color: #4B7284;/*#21a8d1*/
		}
				#profileo #notes {border-color: #21a8d1;}
	#voc h3, #voc h4, /*#voc #notes, #voc #notes a,*/
	#voc .point a, #voc .fichePratique dt, #voc .ficheTemoignage dfn,
	#voc .info dt, #voc .fiscalite dt, #voc h5,
	#voc .fiscalite #menu_fiscalite a:hover /*, label.voc*/ {
		color: #4B7284;/*913493*/
		}
		#voc #notes {border-color: #913493;}
	#perp h3, #perp h4, /*#perp #notes, #perp #notes a,*/
	#perp .point a, #perp .fichePratique dt, #perp .ficheTemoignage dfn,
	#perp .info dt, #perp .fiscalite dt, #perp h5,
	#perp .fiscalite #menu_fiscalite a:hover /*, label.perp*/ {
		color: #4B7284;/*#3E88C2*/
		}
		#perp #notes {border-color: #3E88C2;}
	#ca h3, #ca h4, /*#ca #notes, #ca #notes a,*/ #ca .point a,
	#ca .fichePratique dt, #ca .ficheTemoignage dfn, #ca .info dt,
	#ca .fiscalite dt, #ca h5, #ca .fiscalite #menu_fiscalite a:hover /*,
	label.ca, label.ehca*/ {
		color: #4B7284;/*#99CA3C*/
		}
		#ca #notes {border-color: #99CA3C;}
	#sr_ca h3, #sr_ca h4, /*#ca #notes, #ca #notes a,*/ #sr_ca .point a,
	#sr_ca .fichePratique dt, #sr_ca .ficheTemoignage dfn, #sr_ca .info dt,
	#sr_ca .fiscalite dt, #sr_ca h5, #sr_ca .fiscalite #menu_fiscalite a:hover /*,
	label.ca, label.ehca*/ {
		color: #4B7284;/*#99CA3C*/
		}
		#sr_ca #notes {border-color: #99CA3C;}
	#handicap h3, #handicap h4, /*#handicap #notes , #handicap #notes a,*/
	#handicap .point a, #handicap .fichePratique dt, #handicap .ficheTemoignage dfn,
	#handicap .info dt, #handicap .fiscalite dt, #handicap h5,
	#handicap .fiscalite #menu_fiscalite a:hover /*, label.eh*/ {
		color: #4B7284;/*00A82B*/
		}
		#handicap #notes {border-color: #00A82B;}

/* TABLEAU PRODUIT*/

	#profileo table {border-color: #21A8D1;}
	#profileo table thead tr {
			background-color: #21A8D1;
	}


/* =ACTUALITES */

	ul.actualite li {
		padding-top: 1.3em;

		}

	h1.flower {
		background: url(puce.gif) no-repeat;
		color: #4B7284;
		margin: 0;
		padding: 4px 0 4px 30px;
		font-size: 1.4em;
		text-transform: uppercase;
		}
	h1.grand_titre {
		display: block;
		float: left;
		font-size: 1.7em;
		font-weight: normal;
		padding: 0 0 2px 30px;
		text-align: left;
		text-transform: uppercase;

		}
		h1.rss {width: 330px;}
		h1.rss_immo {width: 345px;}

		#rss span, #rss img {float: left;}
		#rss span {padding: 0 0 0 5px;}
		#texte.listeActualites li {
			clear: both;
			list-style-image: none;
			display: block;
			list-style: none;
			list-style-image: none;
			margin-left: 0;
			}
			#texte.listeActualites li a, #texte.listeActualites li a:hover {
				font-weight: bold;
				text-decoration: underline;
				}
			/*#texte.listeActualites li span {
				display: block;
				float: left;
				margin-bottom: 1em;
				text-align: center;
				width: 15em;
				}*/
			#texte.listeActualites li p, #texte.listeActualites li a {
				padding-left: 12em;
				display: block;
				}
				#texte.listeActualites li p a {
					padding-left: 0;
					display: inline;
					}

				#texte.listeActualites li img {
					float: left;
					margin-left: -12em;
					}
			#texte.listeActualites li p {
				/*padding: 0;*/
				}
			#texte .illustrationNouveauPlafond {
				margin: 0 5px 3px 15px;
				}
			#texte h2.flower {
				background: url(puce.gif) no-repeat;
				color: #4B7284;
				margin: 10px 0 0 0;
				padding: 4px 0 10px 30px;
				font-size: 1em;
				}
			#texte #garantiesAssuranceVie dt {
				background: url(puce.gif) no-repeat;
				font-weight: bold;
				margin: 10px 0 0 0;
				padding: 4px 0 6px 30px;
				}
			#texte #garantiesAssuranceVie dd {
				margin: 0;
				padding: 0;
				}
				#texte #garantiesAssuranceVie dd ul {
					font-style: italic;
					margin: 0;
					padding: 0;
					}
					#texte #garantiesAssuranceVie dd ul li {
						font-style: normal;
						list-style: url(li.jpg);
						padding: 0 ;
						margin-left: 1.5em;
						}
		#texte #encadre {
			background-color: #E7EBF7;
			padding: 1em;
			}
			#texte #encadre dt {
				font-weight: bold;
				padding-bottom: 1em;
				}
			#texte #encadre dd {
				margin: 0;
				padding: 0 0 1em 0;
				}
		.photoLegende {
			float: left;
			}
			.photoLegende p {
				font-size: 0.8em;
				font-style: italic;
				text-align: center;
				}

		/* = page actualites_nouveautes_fiscalites */
			caption {padding-bottom: 1em; text-align: left;}

				table tbody td.versement {
					color: #000;
					font-weight: bold;
					text-align: center;
					}
				table tbody th.atout {
					background-color: #008F59;
					}
				table tbody th.atoutAlternate {
					background-color: #97C942;
					}

		/* = page actualites_nouveautes_taux2005.php*/
		#tabTauxRecap caption {
			color: #4B7284;
			font-weight: bold;
			text-align: left;
			padding: 0 0 1em 0;
			}
		#tabTauxRecap ul {
			text-align: left;
			list-style: disc;
			padding: 0;
			}
			#tabTauxRecap tbody td {
				border-left: 1px solid #4B7284;
				border-bottom: 1px solid #4B7284;
				}
			#tabTauxRecap tbody th {
				border-left: 1px solid #4B7284;
				border-bottom: 1px solid #4B7284;
				color: #000;
				text-align: left;
				}
			#tabTauxRecap tbody th.alternate {
				background-color: #97C942;
				}

		/* = parrainage_2006.php*/
		.texte_parrainage img {
			vertical-align: bottom;
			}
		#texte div.parrain {
			background-color: #E4F0CD;
			width: 530px;
			}
			#texte div.parrain p {
				padding: 0.5em 0.5em 1em 0.5em;
				margin: 0;
				}
				#texte div.parrain p a.cadeau {
					color: #D9304F;
					font-weight: bold;
					}
		#texte #listeCadeau {
			list-style: none;
			list-style-image: none;
			margin: 1em 0 0 0;
			}
			#texte #listeCadeau li {
				clear: both;
				}
				#texte #listeCadeau li img {
					position: relative;
						bottom: 1em;
					}
				#texte #listeCadeau li p {
					width: 400px;
					padding-left: 4em;
					margin-bottom: 0.5em;
					}
				#texte #listeCadeau li p.cadeau1, #texte #listeCadeau li p.cadeau2,
				#texte #listeCadeau li p.cadeau3, #texte #listeCadeau li p.cadeau4 {
					font-weight: bold;
					font-size: 1.3em;
					padding: 0;
					}
				#texte #listeCadeau li p.cadeau1 {color: #EFA13C;}
				#texte #listeCadeau li p.cadeau2 {color: #9DCF4C;}
				#texte #listeCadeau li p.cadeau3 {color: #D9304F;}
				#texte #listeCadeau li p.cadeau4 {color: #538BA6;}
					#texte #listeCadeau li p img {
						position: relative;
							top: 10px;
						}
			#texte #viewReglement {
				cursor: pointer;
				}
		#texte #reglement {
			background-color: #E7EBF7;
			border: 1px solid #528EA5;
			display: block;
			padding: 5px;
			width: 518px;
			}
			#texte #reglement h2 {
				clear: both;
				display: block;
				}
			#texte #reglement dd {
				padding-bottom: 1em;
				}
				#texte #reglement dd li {
					list-style: disc;
					}
			#texte #reglement #closeReglement {
				cursor: pointer;
				float: right;
				}
		#erreur {
			background: #D41541 none repeat scroll 0%;
			color: #FFFFFF;
			display: block;
			font-weight: bold;
			margin: 5px;
			opacity: 0.6;
			padding: 4px;
			width: 320px;
			}

		/* = page actualites_nouveautes_auto_sante_habitation.php */
		#assurance dt {
			clear: both;
			color: #4B7284;
			display: block;
			font-weight: bold;
			padding: 1em 0 0 0;
			}
		/* = actualites_evenements_caravane2006.php */
		ul.flower {
			clear: both;
			color: #4B7284;
			font-weight: bold;
			}
			ul.flower li {
				list-style: url(puce_petit.gif);
				color: #000;
				font-weight: normal;
				margin-left: 2em;
				}
		/* = actualites_evenements_labelfinansol.php */
		#texte #finansol {
			padding-bottom: 1.5em;
			}
		/* = actualites_evenements_election.php */
			.photoLegende p.president {
				width: 170px;
				}
		/* = actualites_evenements_lci.php		*/
			.photoLegende p.lci {
				width: 198px;
				}
			/* = actualites_evenements_defibrillateurs.php		*/
			p.defribilateur {
				font-size: 0.8em;
				font-style: italic;
				text-align: center;
				width: 198px;

				}
		/* = actualites_evenements_rencontrecrf.php */
			#texte p.rencontrecrf {
				font-size: 0.8em;
				font-style: italic;
				margin: 0 auto 1em;
				text-align: center;
				width: 293px;
				}
		/* = actualites_evenements_mcd.php */
			.photoLegende p.mcd {
				padding-bottom: 2em;
				width: 187px;
				}

		/* = actualites_evenements_croixrouge.php */
			#texte ul.caravane {
				color: #4B7284;
				font-weight: bold;
				}
				ul.caravane li {
					list-style: url(li.jpg);
					color: #000;
					font-weight: normal;
					}
				ul.caravane li.first {
					padding-top: 1em;
					}
		/* = actualites_magazine.php */
			#texte #magazine {
				border: 1px solid #D6DFE7;
				margin-bottom: 1em;
				padding: 0 10px 10px 0;
				position: relative;
				}
				#texte #magazine img {
					float: left;
					padding: 50px 10px 50px 0;
					}
				#texte #magazine dl, #texte #magazine p {
					padding-left: 165px;
					/*padding-left: 0;*/
					width: 360px;
					width: auto;
					}
					#texte #magazine dt {
						padding-bottom: 1em;
						}
				#texte #listeNumero {
					color: #4B7284;
					font-weight: bold;
					margin: 0;
					}
					#texte #listeNumero li {
						float: left;
						list-style: none;
						list-style-image: none;
						padding: 12px;
						text-align: center;
						width: 92px;
						}
						#texte #listeNumero li span {
							display: block;
							}
			/* = actualites_presse.php */
				#texte .communique, #texte #listeLogo {
					list-style: none;
					list-style-image: none;
					margin: 0;
					padding: 0;
					}
					#texte .communique li {
						clear: both;
						margin: 0;
						padding: 0;
						}
						#texte .communique img {
							float: left;
							padding-right: 5px;
							position: relative;
								bottom: 5px;
							}
				#texte #listeLogo li {
					margin: 0;
					}
					#texte #listeLogo img {
						padding-right: 5px;
						position: relative;
							top: 4px;
						}
				#texte p.logo {
					color: #4B7284;
					font-weight: bold;
					padding: 1em 0 0 0;
					}

/* =QUI SOMMES-NOUS */

		.qui {
			clear: both;
			list-style: none;
			list-style-image: none;
			margin: 0 -5px 0 0;
			padding: 0;
			}
			.qui li {
				border: 1px solid #d4d4d4;
				display: block;
				float: left;
				height: 114px;
				margin: 10px 5px 0 0;
				padding: 0;
				width: 126px;
				}
				.qui li h3 {
					margin: 0;
					}
					.qui li h3 a img {
						margin: 0;
						}
		table.immo {
			border: 1px solid #4B7284;
			margin: auto;
			}
			table.immo caption {
				color: #4B7284;
				font-weight: 1.2em;
				text-align: center;
				}
			table.immo td, table.immo th {
				color: #000000;
				padding: 5px 0 5px 8px ;
				}
			table.immo th {text-align: center;}
			table.immo td {text-align: left;}

				table.immo th#type {width: 80px;}
				table.immo th#surface {width: 80px;}
				table.immo th#adresse {width: 190px;}
				table.immo th#prix {width: 70px;}
				table.immo th#interet {width: 100px;}

			table.immo th.titre {
				background-color: #4B7284;
				color: #FFFFFF;
				font-weight: bold;
				}
				table.immo th.titre a {
					color: #FFFFFF;
					font-weight: bold;
					text-decoration: none;
					}
					table.immo th.titre a:visited {
						color: #FFFFFF;
						font-weight: bold;
						text-decoration: none;
						}
					table.immo th.titre a:hover {
						color: #FFFFFF;
						font-weight: bold;
						text-decoration: underline;
						}
			table.immo tr.immoFond1 {background-color: #ffffff;}
			table.immo tr.immoFond2 {background-color: #EFF3F7;}
		#contenu #texte.qui_histoire h2 {margin-top: 0;}
		#contenu #texte.qui_histoire dt {
			color: #F7942C;
			float: left;
			font-weight: bold;
			}
		#contenu #texte.qui_histoire dd {
			margin: 0;
			padding: 0;
			}
		#texte.qui_chiffre dl {
				padding: 0;
				margin: 0;
				}
			#texte.qui_chiffre dt, #texte.qui_chiffre dd {
				margin: 0;
				padding: 0;
				}
			#texte.qui_chiffre dl #actifs, #texte.qui_chiffre dl #salaries {
				padding-left: 13em;
				}
			#texte.qui_chiffre #donneesValeurs, #texte.qui_chiffre dl #actifs {
				padding-bottom: 2em;
				}
			#texte.qui_chiffre dl dt, #texte.qui_chiffre dl dl .patrimoine, #texte.qui_chiffre dl dl .repartition {
				color: #4B7284;
				font-weight: bold;
				}
			#texte.qui_chiffre dl #donnees, #texte.qui_chiffre dl dl .patrimoine, #texte.qui_chiffre dl dl .repartition {
				float: none;
				}
			#texte.qui_chiffre dl dl .patrimoine, #texte.qui_chiffre dl dl .repartition {
				padding-top: 1em;
				}
			#texte.qui_chiffre dd {
				color: #000;
				font-weight: normal;
				}
				#texte.qui_chiffre dl dl dt, #texte.qui_chiffre dl dl dl dt, #texte.qui_chiffre dl dl dd {
					color: #000;
					font-weight: normal;
					margin: 0;
					padding: 0 1em 0 0;
					}
				#texte.qui_chiffre dt {
					float: left;
					}

/* = ELEMENTS SPECIFIQUES AUX PAGES CONTENANT DES FORMULAIRES */
#texte #obligatoire {
	list-style: none;
	list-style-image: none;
	margin-left: 0;
	padding-left: 0;
	}
	#texte #obligatoire li {
		margin-left: 0;
		padding-left: 0;
		}
form #actionFormulaire {
	display: block;
	text-align: center;
	padding: 1em;
	}
	#coordonnees label,#infoUtils label {
		width: 240px;
		}
	#coordonnees2 label {
		width: 100px;
		margin-bottom: 0.8em;
		}
	#coordonnees2 #pays_id {position: absolute; /* IE */}

	#coordonnees label.genre,#coordonnees2 label.genre, #infoUtils label.choix {width: 25px;}
	#adherent label {width: 250px;}
	label.joignable, label.precise_id {padding-left: 50px;}
	p#date {
		margin: 0 0 3px;
		padding-left: 50px;
		}
		#date .labelPrecision {
			float: none;
			position: absolute;
				top: -1000px;
				left: -1000px;
			}
		#date input {margin: 0;}
	p#civilite {
		margin: 0;
		padding-left: 215px; /* !IE */
		}
		#forminterlocuteurs #civilite, #formdiagnostic #civilite {padding-left: 0;}

	#caracetvous {
		position: relative;
		top: 0em;
		}
	#par_lien_fill_id {
		position: relative;
		top: 0.5em;
		}
	div #parrainage label,div #recrutement label {width: 240px;}
		div #parrainage label.genre {width: 30px;}
			div #parrainage label.checkbox {
				width: 500px;
				margin-bottom: 1em;
				}
	div #recrutement label {
		width: 240px;
		color: #4B7284;
		font-family: Verdana;
		font-size: 11px;
		font-weight: bold;
		}
	div #recrutement input,div #recrutement textarea {width: 200px;}
		div #recrutement textarea {margin-left: 0;}
		#form_parrainage fieldset label {
			width: 260px;
			padding-bottom: 0.3em;
			}
			#form_parrainage fieldset .message_parrain textarea {
				margin-bottom:0px;
				margin-top:12px;
				}
			#form_parrainage fieldset span {
					position: relative;
					top: 0.3em;
					}
					#form_parrainage fieldset select {
						margin: 0px -50px 0pt 0pt;
						}
			#form_parrainage fieldset .cadeaux_parrain input {
				border: none;
				float: left;
				margin-left: 17px;
				margin-top: 5px;
				}
			#form_parrainage fieldset .cadeaux_parrain label {margin-top: 4px;}
			#form_parrainage fieldset .message_parrain {padding-top:16px;}
			#form_parrainage fieldset .par_reglement input {float: left;}
			#form_parrainage fieldset .par_reglement label {width: 450px;}
			#form_parrainage fieldset .par_reglement label a {font-weight: bold;}
		#forminterlocuteurs fieldset input, #formdiagnostic fieldset input {
			width: 140px;
			}
			#forminterlocuteurs fieldset input.genre, #formdiagnostic fieldset input.genre {
				width: 11px;
				}


		fieldset.connu_carac select,fieldset.connu_carac input, fieldset.connu_carac label {
			margin-top: 1em;
			}

/* =FOOTER */
	#footer {
		background: url(fond-footer-carac.gif) no-repeat;
		margin: 0 auto;
		padding: 1em 9px 1em 10px;
		text-align: center;
		width: 761px;
		}
		#footer li {
			border-left: 1px solid #bcd0da;
			display: inline;
			margin: 0;
			padding: 0;
			}
			#footer li.first {border-left: none;}
		#footer a {
			color: #4B7284;
			padding: 0 0.5em;
			text-decoration: none;
			}
			#footer a:hover {text-decoration: underline;}

		#footer_annexes {
			margin: 0pt auto;
			padding: 11px;
			width: 740px;
			color: #4B7284;
			background-color: #FFFFFF;}
		#footer_texte, #labelBronze {float: left;}
		#footer_texte {
			border-right: 1px solid #4B7284;
			padding-right: 30px;
			text-align: justify;
			width: 562px;
			}
			#footer_texte a {color: #4B7284;}
		#labelBronze {
			text-align: right;
			width: 147px;
			}


/* =QUESTIONS-REPONSES */

	#question ul li a {
		color: #4B7284;
		cursor: pointer;
		line-height: 10px;
		font-weight: bold;
		}
		#question ul li ul li a {
			color: black;
			cursor: pointer;
			line-height: 10px;
			font-weight: normal;
			}
			#question ul li ul li.none {list-style: none;}
			#question ul li ul li span {font-weight: bold;}
				#question ul li ul li span.cp {color: #3E88C2;}
				#question ul li ul li span.ca {color: #99CA3C;}
				#question ul li ul li span.cec {color: #99CA3C;}
	#question ul li a:hover {
		font-family: Verdana;
		font-size: 11px;
		text-decoration: underline;
		}

    #lacarac {
		cursor: pointer;
		color: #4B7284;
		line-height: 10px;
		}
	#question dl dt {
		background-repeat: no-repeat;
		background-position: 4px 4px;
		color: #FFFFFF ;
		font-size: 1em;
		font-weight: bold;
		margin: 10px 0 0 0;
		padding: 4px 18px;
		}
	#question #carac {
		background-image: url(fleur.gif);
		background-color: #528EA5;
		}
	#question #rmc {
		background-image: url(rmc_fleur.gif);
		background-color: #008D9F;
		}
	#question #rvi {
		background-image: url(rvi_fleur.gif);
		background-color: #BC9C93;
		}
	#question #sr {
		background-image: url(sr_fleur.gif);
		background-color: #A6B7B6;
		}
	#question #cec {
		background-image: url(cec_fleur.gif);
		background-color: #F7942C;
		}
	#question #eec {
		background-image: url(eec_fleur.gif);
		background-color: #EF2021;
		}
	#question #cef {
		background-image: url(cef_fleur.gif);
		background-color: #D6B63A;
		}
	#question #profileo {
		background-image: url(profileo_fleur.gif);
		background-color: #21a8d1;
		}
	#question #voc {
		background-image: url(voc_fleur.gif);
		background-color: #913493;
		}
	#question #handicap {
		background-image: url(eh_fleur.gif);
		background-color: #00A82B;
		}
	/* h3 */
	#question dl dd dl dt,#question dl dd dl dd dl dt {
		color: #4B7284;
		font-family: Verdana;
		font-size: 11px;
		font-weight: bold;
		}
		#question dl dd dl dt.cp {color: #3E88C2;}
		#question dl dd dl dt.ca {color: #99CA3C;}
		#question dl dd dl dt.cec {color: #F7942C;}

	#question #notes li {color: black;}
	#question #notes1 li {color: black;}
	#question #notes2 li {color: black;}
	#question #notes3 li {color: black;}
	#question #notes4 li {color: black;}

	#nouveaute2007 h3 {
		font-weight: normal;
		font-family: Verdana;
		font-size: 11px;
		text-decoration: underline;
		}

	/* sections */
	#Dcarac, #Drmc, #Drvi, #Dsr, #Dcec, #Deec, #Dcef, #Dvoc {display : none;}


/* RECRUTEMENT */
dl.anoncerecrutement {padding-bottom: 2em;}

dl.anoncerecrutement dt {
	padding: 0;
	padding-left: 1em;
	margin: 0;
	}
dl.anoncerecrutement dd.date {
	color: #000000;
	font-family: Verdana;
	font-size: 11px;
	font-style: italic;
	}
dl.anoncerecrutement dd {
	padding: 0;
	padding-left: 1em;
	margin: 0;
	}
/* MARCHE COMMEMORATIVE */
.commemo {
	float: left;
	width: 250px;
	}
div.commemoDescription {
	height: 150px;
	margin: 1em;
	border: 1px solid #4B7284 ;
	}
	div.commemoDescription label {margin-left: 0.5em;}
	div.commemoDescription label span.commemoDescriptionDate {
		color: #4B7284;
		font-weight: bold;
		}
	div.commemoDescription label span.commemoDescriptionLieu {
		color: #000000;
		font-weight: bold;
		}
	div.commemoDescription div.contenu_invitation {
		margin-left: 0.5em;
		text-align: justify;
		}
	#texte p.erreur {
		color: #D41541;
		font-weight: bold;
		margin: 1.5em 0 0;
		text-align: left;
		}
	#texte .contenu_invitation p.erreur {font-weight: normal;}




/* EN SAVOIR PLUS */
div.enSavoirPlus, li.enSavoirPlus  {
	position: relative;
	}
	#texte .cef.enSavoirPlus p.taux{
	}
	img.enSavoirPlus {
		margin: 0 !important;
		position: absolute;
			right: 0;
			bottom: 0;
		}

		/* =ACCESSIBILITE */
		dl.accessibilite dt {
			margin-top: 1em;
			font-weight: normal
			}

			dl.accessibilite dd {
				margin-left: 0.5em;
			}

/* ADHESION */

ul#adhesion {
	list-style-image: url(li.jpg);
	list-style-position: outside;
	list-style-type: disc;
	margin-left: 1em;
	}
ul#adhesion li {
	float: left;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	min-height: 200px;
	margin: 1em;
	text-align: center;
	width: 140px;
	}

	ul#adhesion li.petit {
		margin: 2em 0 0 0;
		width: 110px;
		}


			ul#adhesion li span {
				display: inline;
			}

			#rss {
				float: left;
				padding-top: 0.5em;
				}


/* OOTB */
#OOTB {
	margin-left: -282px;
	position: absolute;
		left: 50%;
		top: 100px;
		z-index: 5;
	width: 535px;
	}
#OOTBalt {
	background: #19576D url(http://www.carac.fr/img/fond_ootb_alt.jpg) repeat-x;
	color : #FFF;
	min-height: 402px;
	_height: 402px;
	margin: 0 auto;
	padding: 35px 25px 1.2em;
	text-align: center;
	}
	#OOTB #OOTBalt h2{
		color : #FDC300;
		font-size: 5em;
		}
	#OOTB #OOTBalt h3{
		color : #fff;
		font-size: 2.5em;
		margin: 1.5em 0;
		}
	#OOTB #OOTBalt p{
		color : #fff;
		font-size: 1.3em;
		font-weight:bold;
		}
#stopAnimOOTB {
	background-color: #fff;
	float: left;
	margin: 0;
	}
#OOTBClose {
	border: 1px solid #fff;
	margin: 0;
	position: absolute;
		top: 2px;
		right: 2px;
	text-align: left;
	}
	#OOTBClose a {
		color: #fff;
		display: block;
		padding: 2px;
		}


/* =simulation_assurancevie */

#sim_assurancevie {padding-right: 30px;}

	#sim_assurancevie label {
		float: none;
		top: -2px; /* IE */
		}
	#sim_assurancevie ul {
		list-style: none;
		list-style-image: none;
		margin-bottom: 0;
		}

		#sim_assurancevie ul li {
			background: transparent url(puce_simul.gif) no-repeat scroll 0 0;
			padding: 0 0 5px 20px;
			}

		#sim_assurancevie .age ul {
		float: left;
		margin: -2px 0 0;
		}
		#sim_assurancevie .age ul li { /* IE */
			clear: both;
			margin-left: 5px;
			}
			#sim_assurancevie .age label {float: left;}
			#sim_assurancevie .age ul label {float: none;}

			#sim_assurancevie .inline li {
				float: left;
				margin-right: 68px;
				}

		#sim_assurancevie ul li {margin-bottom: 15px;}
			#sim_assurancevie ul li p {margin-bottom: 0;}
			#sim_assurancevie ul ul {margin: 0 0 0 65px;}
				#sim_assurancevie ul ul li {
					background: none;
					margin-bottom: 0;
					padding-left: 26px;
					}
					#sim_assurancevie ul ul li p {
						margin: 0;
						text-indent: -26px;
						}

.assurance_vie #actions {
	clear: both;
	margin-top: -100px;
	text-align: center;
	}

	.assurance_vie #actions .boutton {
		background: #4597A0;
		color: #FFF;
		display: block;
		height: 27px;
		line-height: 25px;
		width: 160px;
		}

	.assurance_vie #actions #rdv {background: #ed9e11;}

	.assurance_vie .resultat_contenu {
		float: left;
		margin-right: 10px;
		width: 365px;
		}
	.assurance_vie .resultat_simulation h2 {margin-bottom: 25px;}
		.assurance_vie #actions ul {} /* IE */
			.assurance_vie #actions ul li {
				list-style: none;
				margin-right: 20px; /* IE */
				margin-left: 3px;
				float: left;
				}
			.assurance_vie #actions .imprimer { /* IE */
				text-align: left;
				margin-left: 23px;
				}

			.assurance_vie #actions .imprimer img {
				float: left;
				margin-right: 15px;
				}
			.assurance_vie #actions .imprimer .text_imprimer {
				float: left;
				margin-top: 12px; /* IE */
				}


	.assurance_vie .submit {text-align: center;}
	.assurance_vie .bouton_resultat {
		border: none;
		height: 28px;
		width: 122px;
		}

	.assurance_vie .intro .bouton_resultat {
		height: 15px;
		width: 65px;
		vertical-align: bottom;
		}

	 #intro_flash {
	 	color: #394C59;
	 	float: left;
	 	font-family: arial;
	 	font-size: 1.12em;
	 	font-weight: bold;
	 	margin-top: -20px;
	 	padding-top: 21px;
	 	text-align: center;
	 	width: 99px;
	 	}
	 	 #intro_flash p {margin-bottom: 0;}

	 #thermometre object {
	 	margin-left: -10px;
	 	}

	 #thermometre img {
	 	margin-left: 15px;
	 	margin-top: 12px;
	 	}

	.assurance_vie .toggle_flash {text-align: right;}
	.assurance_vie .toggle_flash #toggle_flash {
		border: 0;
		cursor: pointer;
		}
