/*
*   name           FavSlider
*   version        2.2
*   description    Responsive and customizable Joomla!3 module
*   demo           http://extensions.favthemes.com/favslider
*   author         FavThemes
*   author URL     http://www.favthemes.com
*   copyright      Copyright (C) 2012-2018 FavThemes.com. All Rights Reserved.
*   license        Licensed under GNU/GPLv3, see http://www.gnu.org/licenses/gpl-3.0.html
*/

/*
////////////////////////////////////////////////////////////////////////////////

1. reset
2. slideshow
3. images
4. caption
5. arrows
6. indicators

////////////////////////////////////////////////////////////////////////////////
*/

/*/
////////////////////////////////////////////////////////////////////////////////
///
///  favslider css
///
////////////////////////////////////////////////////////////////////////////////
/*/

/*//////////////////////////////////////////////////////////////////////////////

1. reset

//////////////////////////////////////////////////////////////////////////////*/

div[id^="favslider"] a,
div[id*=" favslider"] a,
div[id^="favslider"] a:hover,
div[id*=" favslider"] a:hover,
div[id^="favslider"] a:focus,
div[id*=" favslider"] a:focus {
  text-decoration: none!important;
}

/*//////////////////////////////////////////////////////////////////////////////

2. slideshow

//////////////////////////////////////////////////////////////////////////////*/

/*/
///
///  container
///
/*/

.favslider { position: relative; }

.favslider-carousel .favth-carousel-inner {
  margin-top: 5px;
  margin-bottom: 5px;
}

/*//////////////////////////////////////////////////////////////////////////////

3. images

//////////////////////////////////////////////////////////////////////////////*/

.favslider-carousel .favslider-image-right,
.favslider-carousel .favslider-image-left {
  margin-bottom: 20px;
}

/*/
///
///  images align
///
/*/

.favslider-carousel .favslider-image {
  float: none;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}
.favslider-carousel .favslider-images img {
  width: 100%;
}

/*//////////////////////////////////////////////////////////////////////////////

4. caption

//////////////////////////////////////////////////////////////////////////////*/

/*/
///
///  style
///
/*/

/* default */
.favslider-carousel {
  position: relative;
}
.favslider-carousel .favth-carousel-caption {
  width: 100% !important;
  height: auto !important;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  padding: 21px;
}
.favslider-carousel .favth-carousel-caption h3,
.favslider-carousel .favth-carousel-caption  p {
  text-align: left;
}

/*/// mobile ///*/
@media (max-width: 767px) {

  .favslider-carousel .favth-carousel-caption {
    padding-left: 50px;
    padding-right: 50px;
  }

}

/*/
///
///  color
///
/*/

/* transparent */
.favslider-carousel .favslider-caption.favslider-caption-transparent .favth-carousel-caption {
  background-color: transparent;
}

/* dark */
.favslider-carousel .favslider-caption.favslider-caption-dark .favth-carousel-caption {
  background-color: rgba( 17,17,17, 0.7);
  text-shadow: none;
}

/* light */
.favslider-carousel .favslider-caption.favslider-caption-light .favth-carousel-caption {
  background-color: rgba( 255,255,255, 0.7);
  text-shadow: none;
}

/*/
///
///  title
///
/*/

.favslider-carousel h3[id^="favslider-caption-title"],
.favslider-carousel h3[id*=" favslider-caption-title"] {
  font-style: normal !important;
  border: 0 none !important;
  padding: 0 !important;
  font-weight: normal;
}

/*/
///
///  caption effects
///
/*/

/* js classes */
.favhide { opacity:0; }
.favshow { opacity:1; }

/* no effect */
.favslider-caption-effect-none,
div[id^="favslider-carousel-"] .favslider-caption-effect-none,
div[id*=" favslider-carousel-"] .favslider-caption-effect-none {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
  position: relative;
}

/* caption effect */
.favslider-caption-effect {
  -webkit-animation-name: favslider-caption-effect;
  -moz-animation-name: favslider-caption-effect;
  animation-name: favslider-caption-effect;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes favslider-caption-effect {

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

}

@-moz-keyframes favslider-caption-effect {

  0% {
    opacity: 0;
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -moz-transform: none;
    transform: none;
  }

}

@keyframes favslider-caption-effect {

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }

}

/*//////////////////////////////////////////////////////////////////////////////

5. arrows

//////////////////////////////////////////////////////////////////////////////*/

#favslider-arrows .favth-carousel-control {
  opacity: 0.8;
  filter: alpha(opacity=80);
  background: none;
  height: 40px;
  width: 40px;
  top: 50%;
  margin-top: -60px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
#favslider-arrows .favth-carousel-control:hover,
#favslider-arrows .favth-carousel-control:focus {
  opacity: 1;
  filter: alpha(opacity=100);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
}

/*/// mobile ///*/
@media (max-width: 767px) {

  #favslider-arrows .favth-carousel-control {
    margin-top: -20px;
  }

}

/* left and right */
#favslider-arrows .favth-right.favth-carousel-control {
  right: 15px;
  left: auto;
}
#favslider-arrows .favth-left.favth-carousel-control {
  left: 15px;
  right: auto;
}

/* icons */
#favslider-arrows .favth-carousel-control i {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 30px;
  line-height: 1.3em;
  padding: 0;
}
#favslider-arrows .favth-right.favth-carousel-control i {
  padding-left: 4px;
}

/*//////////////////////////////////////////////////////////////////////////////

6. indicators

//////////////////////////////////////////////////////////////////////////////*/

.favslider-carousel .favth-carousel-indicators {
  position: relative;
  list-style-type: none;
  bottom: 0px;
  left: auto;
  right: auto;
  width: auto;
  margin: 0px auto 30px;
  display: table;
}
.favslider-carousel .favth-carousel-indicators li {
  float: left;
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 0;
  border: 0 none;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.favslider-carousel .favth-carousel-indicators li.favth-active {
  opacity: 1;
}

/*/
///
///  color
///
/*/

/* dark */
.favth-carousel-indicators li.favslider-dark {
  background-color: #111;
}

/* light */
.favth-carousel-indicators li.favslider-light {
  background-color: #ddd;
}

/* fix */

.favsliderpro > div:first-child, .favslider > div:first-child {
    height: auto!important;
}

.favth-carousel {
    margin: 0!important;
}

