#redim-cookiehint{
	padding: 20px 20px;
	box-sizing: border-box;
	font-size: 16px;
	-webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.21);
	-moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.21);
	box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.21);
	background-color: #800000;
	text-align: center;
}

#redim-cookiehint-modal {
	background-color: rgba(0,0,0,0.75);
	padding: 15%;
}

#cookiehintinfo {
	margin-right: 12px;
	
}

#redim-cookiehint .cookiecontent{
	font-size: 16px;
	line-height: 20px;
	display: block;
}

#redim-cookiehint, #redim-cookiehint a  {
	color: #ffffff;
}

#redim-cookiehint .cookiehead {
	font-size: 1.45em;
	padding: 4px 2px 12px 2px;
}

#redim-cookiehint .cookiebuttons{
	display: block;
	padding: 8px;
	margin-top: 2px;

}
#redim-cookiehint .clr {
	clear: both;
}

#redim-cookiehint .cookiebuttons .btn{
	padding: 5px 10px !important;
	border-radius: 0px !important;
	color: #111111 !important;
	background-color: #ffffff !important;
	font-size: 14px;
	line-height: 2.5em;
	margin-top: 2px;	
	margin-bottom: 2px;
	cursor: pointer;	
}

#redim-cookiehint .cookiebuttons a.btn {
	text-decoration: none !important;
	background-image: none !important;
}


#redim-cookiehint .cookiebuttons .btn:hover{ 
	background-color: #eeeeee !important;
	color: #222222 !important;
}

#redim-cookiehint.hidden{
	display: none;
	visibility: hidden;
}