/********************************/ /*	    						*/
	/*	  POUR LE MENU DEROULENT	*/ /*	   							*/
	/********************************/
td.sous-menu-on {
	/*font-family: Arial, Trebuchet MS, Helvetica, sans-serif;
font-size: 10px; 
color: #002163;*/
	background-color: #bef7ff;
}

td.sous-menu-off {
	/*font-family: Arial, Trebuchet MS, Helvetica, sans-serif;
font-size: 10px; 
color: #002163;*/
	background-color: #98ddf8;
}

/********************************/ /*	    */
	/*	       LIENS HYPERTEXTES	    */ /*	    */
	/********************************/
a{
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/************************************************/
a.lien-sous-menu-off:visited,a.lien-sous-menu-off:active,a.lien-sous-menu-off:link
	{
	font-family: arial, trebuchet ms, helvetica, sans-serif;
	font-size: 11px;
	color: #002163;
	text-decoration: none;
}

a.lien-sous-menu-off:hover,a.lien-sous-menu-off:visited:hover {
	font-family: arial, trebuchet ms, helvetica, sans-serif;
	font-size: 11px;
	color: #002163;
	text-decoration: none;
}

/************************************************/
a.lien-sous-menu-on:visited,a.lien-sous-menu-on:active,a.lien-sous-menu-on:link
	{
	font-family: arial, trebuchet ms, helvetica, sans-serif;
	font-size: 11px;
	color: #002163;
	text-decoration: none;
}

a.lien-sous-menu-on:hover,a.lien-sous-menu-on:visited:hover {
	font-family: arial, trebuchet ms, helvetica, sans-serif;
	font-size: 11px;
	color: #002163;
	text-decoration: none;
}

/************************************************/
a.lien-menu-accueil:visited,a.lien-menu-accueil:active,a.lien-menu-accueil:link
	{
	font-family: arial, trebuchet ms, helvetica, sans-serif;
	font-size: 10px;
	color: #707070;
	text-decoration: none;
}

a.lien-menu-accueil:hover,a.lien-menu-accueil:visited:hover {
	font-family: arial, trebuchet ms, helvetica, sans-serif;
	font-size: 10px;
	color: #3d3d3d;
	text-decoration: none;
}

/************************************************/
a.lien-menu-eng-off:visited,a.lien-menu-eng-off:active,a.lien-menu-eng-off:link
	{
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #a6dff7;
	text-decoration: none;
}

a.lien-menu-eng-off:hover,a.lien-menu-eng-off:visited:hover {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #a6dff7;
	text-decoration: none;
}

/************************************************/
a.lien-menu-eng-on:visited,a.lien-menu-eng-on:active,a.lien-menu-eng-on:link
	{
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
}

a.lien-menu-eng-on:hover,a.lien-menu-eng-on:visited:hover {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
}

/************************************************/
a.lien-menu-gauche-off:visited,a.lien-menu-gauche-off:active,a.lien-menu-gauche-off:link
	{
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
}

a.lien-menu-gauche-off:hover,a.lien-menu-gauche-off:visited:hover {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #002163;
	text-decoration: none;
}

/************************************************/
a.lien-menu-gauche-on:visited,a.lien-menu-gauche-on:active,a.lien-menu-gauche-on:link
	{
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #002163;
	text-decoration: none;
}

a.lien-menu-gauche-on:hover,a.lien-menu-gauche-on:visited:hover {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #002163;
	text-decoration: none;
}

/************************************************/
a.lien-www-marseille:visited,a.lien-www-marseille:active,a.lien-www-marseille:link
	{
	font-family: helvetica, arial, sans-serif;
	font-size: 9px;
	color: #919191;
	text-decoration: none;
}

a.lien-www-marseille:hover,a.lien-www-marseille:visited:hover {
	font-family: helvetica, arial, sans-serif;
	font-size: 9px;
	color: #919191;
	text-decoration: underline;
}

/************************************************/
a.lien-menu-bas:visited,a.lien-menu-bas:active,a.lien-menu-bas:link {
	font-family: arial, helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
}

a.lien-menu-bas:hover,a.lien-menu-bas:visited:hover {
	font-family: arial, helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	text-decoration: none;
}

/************************************************/
a.lien-chemin-fer:visited,a.lien-chemin-fer:active,a.lien-chemin-fer:link
	{
	font-family: arial, helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
	text-decoration: none;
}

a.lien-chemin-fer:hover,a.lien-chemin-fer:visited:hover {
	font-family: arial, helvetica, sans-serif;
	font-size: 9px;
	color: #0099FF;
	text-decoration: none;
}

/************************************************/
a.lien-menu-bando:visited,a.lien-menu-bando:active,a.lien-menu-bando:link
	{
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	color: #a6dff7;
	font-weight: bold;
	text-decoration: none;
}

a.lien-menu-bando:hover,a.lien-menu-bando:visited:hover {
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

/************************************************/
a.lien-toute-news:visited,a.lien-toute-news:active,a.lien-toute-news:link
	{
	font-family: arial, trebuchet ms, helvetica, sans-serif;
	font-size: 9px;
	color: #b71101;
	text-decoration: none;
}

a.lien-toute-news:hover,a.lien-toute-news:visited:hover {
	font-family: arial, trebuchet ms, helvetica, sans-serif;
	font-size: 9px;
	color: #7f0b00;
	text-decoration: none;
}

/************************************************/
a.lien-titre-rouge:visited,a.lien-titre-rouge:active,a.lien-titre-rouge:link
	{
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #b71101;
	font-weight: bold;
	text-decoration: none;
}

a.lien-titre-rouge:hover,a.lien-titre-rouge:visited:hover {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #7f0b00;
	font-weight: bold;
	text-decoration: none;
}

.titre-rouge {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #b71101;
	font-weight: bold;
	text-decoration: none;
}

/************************************************/
a.lien-compagnie:visited,a.lien-compagnie:active,a.lien-compagnie:link {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #787878;
	text-decoration: none;
}

a.lien-compagnie:hover,a.lien-compagnie:visited:hover {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

/************************************************/
a.lien-affiner-recherche:visited,a.lien-affiner-recherche:active,a.lien-affiner-recherche:link
	{
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #0042ff;
	text-decoration: none;
}

a.lien-affiner-recherche:hover,a.lien-affiner-recherche:visited:hover {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #002163;
	text-decoration: none;
}

/************************************************/
a.lien-affiner-recherche-bold:visited,a.lien-affiner-recherche-bold:active,a.lien-affiner-recherche-bold:link
	{
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #0042ff;
	font-weight: bold;
	text-decoration: none;
}

a.lien-affiner-recherche-bold:hover,a.lien-affiner-recherche-bold:visited:hover
	{
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #002163;
	font-weight: bold;
	text-decoration: none;
}

/************************************************/
a.lien-affiner-recherche-big-bold:visited,a.lien-affiner-recherche-big-bold:active,a.lien-affiner-recherche-big-bold:link
	{
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #0042ff;
	font-weight: bold;
	text-decoration: none;
}

a.lien-affiner-recherche-big-bold:hover,a.lien-affiner-recherche-big-bold:visited:hover
	{
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #002163;
	font-weight: bold;
	text-decoration: none;
}

/************************************************/
a.lien-voir-detail:visited,a.lien-voir-detail:active,a.lien-voir-detail:link
	{
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 10px;
	color: #0042ff;
	text-decoration: none;
}

a.lien-voir-detail:hover,a.lien-voir-detail:visited:hover {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 10px;
	color: #002163;
	text-decoration: none;
}

a.lien-voir-compagnie:visited,a.lien-voir-compagnie:active,a.lien-voir-compagnie:link,a.lien-voir-compagnie:hover,a.lien-voir-compagnie:visited:hover
	{
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
}

/************************************************/
a.lien-voir-detail-blanc:visited,a.lien-voir-detail-blanc:active,a.lien-voir-detail-blanc:link
	{
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 10px;
	color: #f1f1f1;
	text-decoration: none;
	font-weight: normal;
}

a.lien-voir-detail-blanc:hover,a.lien-voir-detail-blanc:visited:hover {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	text-decoration: none;
	font-weight: normal;
}

/************************************************/
a.lien-blanc:visited,a.lien-blanc:active,a.lien-blanc:link {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #f1f1f1;
	text-decoration: none;
	font-weight: normal;
}

a.lien-blanc:hover,a.lien-blanc:visited:hover {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	text-decoration: none;
	font-weight: normal;
}
/************************************************/
a.lien-actualiser{
	background-image:url(bg_bt_actu.gif);
	background-repeat:no-repeat;
	padding:3px 7px 5px 6px;
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 10px;
	color: #F2FF00;
	text-decoration: none;
	font-weight: normal;
	margin:0px 0px 0px 10px;
}

a.lien-actualiser:hover{
	color: #ffffff;
	text-decoration: none;
}

/************************************************/
a.lien-prec-suiv{
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
}

a.lien-prec-suiv:hover{
	color: #F2FF00;
}

/************************************************/
a.lien-copyright:visited,a.lien-copyright:active,a.lien-copyright:link {
	font-family: arial, helvetica, sans-serif;
	font-size: 9px;
	color: #797979;
	text-decoration: none;
}

a.lien-copyright:hover,a.lien-copyright:visited:hover {
	font-family: arial, helvetica, sans-serif;
	font-size: 9px;
	color: #3d3d3d;
	text-decoration: none;
}

/********************************/ /*	    */
	/*	      POLICE DE CARACTÈRES	    */ /*	    */
	/********************************/
.text-titre-principale {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 14px;
	letter-spacing: -1px;
	color: #33bcf1;
}

.text-menu {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #002163;
}

.text-menu-bas {
	font-family: arial, helvetica, sans-serif;
	font-size: 9px;
	color: #abe1f7;
}

.text-menu-bando {
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #a6dff7;
	padding-left: 165px;
}

.text-copyright {
	font-family: arial, helvetica, sans-serif;
	font-size: 9px;
	color: #797979;
}

.text-menu_accueil {
	font-family: arial, helvetica, sans-serif;
	font-size: 10px;
	color: #707070;
	padding-left:100px;
}

.text-www-marseille {
	font-family: helvetica, arial, sans-serif;
	font-size: 9px;
	color: #919191;
}

.text-new-promo {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	padding: 15px 7px 15px 7px;
}
/******* CSS DU 02/02/09 *******/
.bando-gris{
		height:6px;
		font-size:5px;
		background-color:#CDCECF;
		margin-top:1px;
}

.text-titre-gen-gris {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #787878;
}

.text-titre-gen-gris-bold {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #5E5E5E;
}

.text-titre-gen-gris-bold-grand {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #787878;
}

.text-titre-gen-gris-grand {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 14px;
	color: #787878;
}

.text-paragraphe-gen {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

.text-paragraphe-gen-petit {
	font-family: "trebuchet ms", arial, helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	line-height: 11px;
}

.text-toute-news {
	font-family: arial, trebuchet ms, helvetica, sans-serif;
	font-size: 9px;
	color: #b71101;
}

.text-date-heure {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 10px;
	color: #002162;
}

.text-depart-arrivee {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	padding:12px 0px 12px 30px;
}


.text-titre-de-a {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}

.text-sous-input {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 10px;
	color: #787878;
}

.text-affiner-recherche {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 10px;
	color: #0042ff;
}

.text-menu-on-eng {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
}

.text-tablo-rech-bas {
	font-family: arial, helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}

.text-tablo-rech-bas-info-vol-direct {
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}

.text-chemin-fer {
	background-color:#37424A;
	font-family: arial, trebuchet ms, helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
	padding-left:155px;
	height:20px;
	line-height:20px;
}

/********************************/
h1.titre-text-new-promo {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 10px;
	margin: 0px;
	color: #b71101;
}

/********************************/ /*	    */
	/*	      CONSTRUCTIONS	    */ /*	    */
	/********************************/
table.t-acrobat {
	border: #cccccc 1px solid;
	background-color: #ffffff;
}

/********************************/
table.t-encart-gris {
	border: #cccccc 1px solid;
	background-color: #ffffff;
}

/********************************/
table.t-encart-orange {
	border: #f14800 1px solid;
	background-color: #fff5dd;
}

/********************************/
table.t-encart-bleu {
	border: #0042ff 1px solid;
	background-color: #ffffff;
}

/********************************/
td.separation-standard-bas {
	border-bottom: #cccccc 1px solid;
}

/********************************/
td.separation-standard-haut {
	border-top: #cccccc 1px solid;
	padding-top: 7px;
	padding-right: 0px;
	padding-bottom: 7px;
	padding-left: 0px;
}

/********************************/
td.td-new-promotion,
td.td-new-aeroport {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	background-color: #797979;
}

/********************************/
td.td-new-promotion-index,
td.td-new-aeroport-index {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	background-image:url(bg_infos_partenaires.jpg);
	background-repeat:no-repeat;
	padding:0px 0px 0px 40px;
	height:30px;
	line-height:30px;
	/*background-color: #797979;*/
}
td.td-new-aeroport-index {
	background-image:url(bg_site_aeroport.gif);
}
/********* CSS du 02/02/09 ***********/
.bando-passagers {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	background-image:url(bg_infos_passagers.jpg);
	background-repeat:no-repeat;
	height:21px;
	line-height:21px;
	padding-left:40px;
}
.contenu-text-passager{
	font-size:12px;
	color:#A9A9A9;
	font-weight:bold;
	border:2px solid #FFB600;
	text-align:center;
	padding: 5px 5px 5px 5px;
}
/**********************************/
/* PARTIE CAP EVASION */
td.td-bg-capevasion{
	border:1px solid #E2E2E2;
	background-image:url(bg_cap_evasion.jpg);
	background-repeat:repeat-y;
	padding: 20px 9px 16px 10px;
}
.ce-recherche-vol{
	/*width:126px;*/
	width:156px;
	/*padding: 4px 0px 0px 30px;*/
	height:18px;
	line-height:18px;
	background-image:url(bg_recherche_vols_cap_evasion.gif);
	background-repeat:no-repeat;
	font-family:"Trebuchet MS", Arial, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#E2007A;
	text-align:center;
}
.ce-recherche-vol a{
	font-family:"Trebuchet MS", Arial, sans-serif;
	font-size:10px;
	text-decoration:none;
	color:#E2007A;
	font-weight:bold;
}
.ce-recherche-vol a:hover{
	text-decoration:none;
	font-family:"Trebuchet MS", Arial, sans-serif;
	font-size:10px;
	color:#000000;
}

.ce-sejour,
.ce-promo-vols{
	background-image:url(bg_vert_cap_evasion.jpg);
	background-repeat:no-repeat;
	width:156px;
	/*padding: 0px 0px 0px 10px;*/
	margin:10px 0px;
	height:18px;
	line-height:18px;
	font-family:"Trebuchet MS", Arial, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#FFFFFF;
}
.text-ce-sejour span.titre-ce{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:10px;
	color:#E2007A;
}
.text-ce-sejour span.titre-ce a{
	text-decoration:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:10px;
	color:#E2007A;
}
.text-ce-sejour span.titre-ce a:hover{
	color:#000000;
}
.text-ce-sejour span.prix-ce{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#E2007A;
	background-color:#FFFF33;
	padding:0px 3px;
	font-size:10px;
}
.text-ce-sejour{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	margin-bottom: 5px;
}
.text-ce-sejour img{
	padding-bottom:5px;
}
/*********************************/
/* PARTIE PRATIQUE */
.encart-pratique{
	background-image:url(bg_encart_pratique.gif);
	background-repeat:no-repeat;
	width:137px;
	height:18px;
	line-height:18px;
	padding:0px 0px 0px 15px;
	font-family:Helvetica, Arial, sans-serif;
	font-size:10px;
	color:#FFFFFF;
	font-weight:bold;
}
/*********************************/
/* PARTIE PUBLICITAIRE */
.encart-pub{
	padding:10px 0px 0px 0px;
}
.encart-pub img{
	border:1px solid #666666;
}
/********************************/
td.td-tablo-rech-ced {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	background-color: #797979;
}

td.td-tablo-rech-titre-dco {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	background-color: #474F59;
}

td.td-tablo-rech-titre-vol {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	background-color: #002163;
}

td.td-rub-fond-bleu {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #e7f2f5;
}

td.td-rub-fond-beige {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #f5f0e1;
}
td.td-recherche-vol ,
td.td-tablo-rech-titre ,
td.td-tablo-rech {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight:bold;
	background-image:url(bg_recherche_vols_new.jpg);
	background-repeat:no-repeat;
	height:30px;
	line-height:30px;
	padding:0px 0px 0px 45px;
}
td.td-tablo-date {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 10px;
	color: #464F59;
	background-color: #CDCECF;
	height:19px;
	line-height:19px;
	padding-left:7px;
}

td.td-tablo-rech-affine {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	background-color: #000000;
}

td.td-tablo-rech-rub {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	background-color: #002163;
}

td.td-tablo-rech-rub-dco {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	background-color: #ededed;
}

td.td-tablo-rech-rub-code {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #f1f1f1;
}

td.td-tablo-rech-rub-code_clair {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #f8f8f8;
}

td.td-gris-clair-texte-gris {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #787878;
	background-color: #f8f8f8;
}

td.td-gris-clair-texte-bold-gris {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #787878;
	background-color: #f8f8f8;
}

td.td-gris-texte-gris {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #787878;
	background-color: #f8f8f8;
}

td.td-gris-texte-bold-gris {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #787878;
	background-color: #f8f8f8;
}

td.td-tablo-rech-rub-desti {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
	background-color: #ededed;
}

td.td-tablo-rech-rub-heure-hall {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-color: #fff0af;
}

td.td-tablo-rech-vol-pre-sui {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	background-color: #474F59;
}

/********************************/ /*	    */
	/*	      ÉLÉMENTS FORMULAIRES	    */ /*	    */
	/********************************/
input {
	font-size: 11px;
	/*font-size : 14px;*/
}

.input-field {
	font-family: trebuchet ms, helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	border: #707070 1px solid;
	background-color: #ffffff;
}

/********************************/
.select-field {
	font-family: arial, "trebuchet ms", helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-color: #ffffff;
	border: #999999 1px solid;
}

/********************************/
.textarea {
	font-family: trebuchet ms, helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	border: #999999 1px solid;
	background-color: #ffffff;
}

/********************************/ /*.submit-button 
	{
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	border: #999999 1px solid;
	background-color: #FFFFFF;
	}*/
a.lien-sous-menu-off:active {
	font-family: arial, "trebuchet ms", helvetica, sans-serif;
	font-size: 11px;
	color: #002163;
	text-decoration: none;
}

/********************************/
img.img-contour-noir {
	border-color: #000000;
}

.text-descrip-fiche {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	line-height: 13px;
}

.text-paragraphe-gen-grand {
	font-family: "trebuchet ms", arial, helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
}

td.td-tablo-alert {
	background-color: #ff9900;
	font-size: 10px;
	color: #ffffff;
	font-weight: bold;
	font-family: "trebuchet ms", arial, helvetica, sans-serif;
	height: 21px;
	line-height: 21px;
}

table.t-alert {
	border-right: 1px solid #ff9900;
	border-bottom: 1px solid #ff9900;
	border-left: 1px solid #ff9900;
	background-color: #FBE76D;
}

/************************************************/
a.lien-alerte:visited,a.lien-alerte:link,a.lien-alerte:active {
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	color: #787878;
	text-decoration: none;
}

a.lien-alerte:hover,a.lien-alerte:visited:hover {
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}

/************************************************/
	/* Style utilisé pour les résultats htdig */
a.titre-resultat-recherche:visited,a.titre-resultat-recherche:active,a.titre-resultat-recherche:link
	{
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #b71101;
	font-weight: bold;
	text-decoration: none;
}

a.titre-resultat-recherche:hover,a.titre-resultat-recherche:visited:hover
	{
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #7f0b00;
	font-weight: bold;
	text-decoration: none;
}

.mots-resultat-recherche {
	color: #000000;
	font-weight: bold;
}

.texte-resultat-recherche {
	font-family: "trebuchet ms", arial, helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: 11px;
}

.info-resultat-recherche {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 10px;
	color: #787878;
	line-height: 11px;
}

.intro-resultat-recherche {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #787878;
}

a.recherche-suite {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #0042ff;
	text-decoration: none;
}

.td-pvv-impression {
	font-family: "trebuchet ms";
	font-size: 11px;
	color: #000000;
	background-color: #ffffff;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000000;
	border-bottom-color: #000000;
}

.table-pvv-impression {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-left-color: #000000;
}

.liseret_v {
	background: url(bg_liseret_gris_v.gif) repeat-y fixed left
		top;
}

.div-detection-flash {
	border: 1px solid #333;;
	padding: 20px;;
	margin: 10px;;
	background: white;;
	width: 350px;
}

.reponse_sondage {
	margin-top: 5px;;
	margin-bottom: 5px;;
	margin-left: 15px;
}

.erreur-recherche {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #b71101;
}

/************************************************/
	/* Style utilisé pour le panier de vol           */
span.panier-mail-envoye {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #11b701;
}

span.panier-mail-erreur {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #b71101;
}

td.panier-explication {
	font-family: trebuchet ms, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	padding:7px 10px 10px 10px;
	background-color:#EDEDED; 
}

#drapeau{
	text-align: right;
	white-space: nowrap;
	/*padding: 3px 0px 3px 20px;*/
	width: 200px;
	height: 20px;
}
#drapeau img{
	/*padding: 3px 4px 3px 4px;*/
	margin: 3px 0px 3px 8px;
}
/*********** NOUVEAU RECHERCHE DE VOL DU 02/02/09 ************/
.bloc-recherche-vol{
		width:334px;
		border:1px solid #A9A9A9;
}
.entete-vol{
	width:300px;
	height:37px;
}
.contenu-recherche-vol{
	width:298px;
	border: 1px solid #D4D4D4;
}
.pied-page-recherche-vol{
		width:334px;
		height:11px;
}
/*********** POUR LA TETIERE DU MOTEUR ILLIGO ************/
.tetiere-illigo{
	width:302px;
	height:36px;
	margin-left:4px;
	background-image:url(tetiere_302_mrs.gif);
	background-repeat:no-repeat;
}
.tetiere-illigo-600{
	width:600px;
	height:36px;
	/*margin-left:4px;*/
	background-image:url(tetiere_600_mrs.gif);
	background-repeat:no-repeat;
}
.tetiere-illigo-820{
	width:820px;
	height:36px;
	/*margin-left:4px;*/
	background-image:url(tetiere_820_mrs.gif);
	background-repeat:no-repeat;
}
.tetiere-illigo-sejour-820{
	width:820px;
	height:36px;
	/*margin-left:4px;*/
	background-image:url(tetiere_820_mpevasion.gif);
	background-repeat:no-repeat;
}

/*********** MENTION LEGALE SUR LE MOTEUR LILIGO ************/
.contenu-mention-legales-seul{
	font-size:11px;
	color:#9C9C9C;
	font-family:Arial, Helvetica, sans-serif;
	padding:9px;
	border:1px solid #D1D1D1;
	margin:5px 6px 0px 4px !important;
	margin:5px 3px 0px 2px;
}
.contenu-mention-legales-small{
	font-size:11px;
	color:#9C9C9C;
	font-family:Arial, Helvetica, sans-serif;
	padding:9px;
	border:1px solid #D1D1D1;
	margin:0px 6px 0px 14px !important;
	margin:0px 3px 0px 7px;
	width:582px;
}
.contenu-mention-legales{
	font-size:10px;
	color:#9C9C9C;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px 1px 5px 5px;
	border:1px solid #D1D1D1;
	width:294px;
	margin-left:4px !important;
	margin-left:2px;
}
.contenu-mention-legales a{
	text-decoration:none;
	/*color:#434345;*/
	color:#03F;
}
.contenu-mention-legales a:hover{
	color:#000000;
}
#mention-legales{
	display:none;
	font-size:10px;
	color:#9C9C9C;
	font-family:Arial, Helvetica, sans-serif;
	padding:8px 8px 8px 8px;
	text-align:justify;
	margin-top:7px;
}
#mention-legales a{
	text-decoration:none;
	/*color:#434345;*/
	color:#03F;
}
#mention-legales a:hover{
	color:#000000;
}
