.button {
	display:block;
	width:152px;
	height:42px;
	text-indent:-9999px;
}
.button a {
	display:block;
	width:100%;
	height:100%;
	background:url(btn_voyageurs_affaires.jpg) no-repeat top left;
	outline:none;
}
.button a:hover {
	background-position:0 -42px;
}
.button_famille {
	display:block;
	width:152px;
	height:42px;
	text-indent:-9999px;
}
.button_famille a {
	display:block;
	width:100%;
	height:100%;
	background:url(btn_voyage_famille.jpg) no-repeat top left;
	outline:none;
}
.button_famille a:hover {
	background-position:0 -42px;
}