/* Put this inside a @media qualifier so Netscape 4 ignores it */
@media screen { 
	/* Turn off list bullets */
	ul.mktree li {
		list-style: none;
		padding: 0px;
		margin: 0px;
		color: #AE2977;
		} 
	ul.mktree { margin: 0px; padding: 0px; line-height: 1.3em; background: #A0CFB7; }
	/* margin-left controls how "spaced out" the tree is ; DON'T TOUCH THE PADDING */
	ul.mktree ul  {  padding: 0px; margin-left: 0px; }
	/* Provide space for our own "bullet" inside the LI */
	ul.mktree li .bullet { padding-left: 8px; margin-left: 3px; }
	/* Show "bullets" in the links, depending on the class of the LI that the link's in */
	ul.mktree li.liOpen .bullet { cursor: pointer; cursor: hand; background: url(th_minus.gif) 0px 2px no-repeat; }
	ul.mktree li.liOpen { color: #AE2877; }
	ul.mktree li.liClosed  .bullet { cursor: pointer; cursor: hand; background: url(th_plus.gif) 0px 2px no-repeat; }
	ul.mktree li.liClosed:hover  .bullet { background: url(th_plus_ani.gif) 0px 2px no-repeat; }

/* maj 04/05/2007 */
	ul.mktree li.liBullet .bullet { background: url(th_plus.gif) 0px 2px no-repeat; }
	ul.mktree li ul li.liBullet .bullet { cursor: default; background: url(th_bullet.gif) 0px 2px no-repeat; }
/* /maj 04/05/2007 */

	/* Sublists are visible or not based on class of parent LI */
	ul.mktree li.liOpen    ul { display: block; }
	ul.mktree li.liClosed  ul { display: none; }
	/* Format menu items differently depending on what level of the tree they are in */
	ul.mktree li { font-size: 1em; border-top: 1px solid #D0E7DB;
	}
	ul.mktree li ul li { font-size: 1em; padding: 0 0 0 12px; border-top-width: 0; background: #E2F1EA !important; }
	ul.mktree li ul li#it_on, ul.mktree  li ul li#it_on a { color: #AE2877; }
	ul.mktree li ul li ul li { font-size: 1em; }
	ul.mktree ul li ul li ul li li { font-size: 1em; }
	
	ul.mktree a { color: #616161; text-decoration: none; }
	ul.mktree a:hover { color: #616161; text-decoration: underline; }
}
