/* Put this inside a @media qualifier so Netscape 4 ignores it */
@media screen { 
	/* Turn off list bullets */
	ul.mktree2 li { 
		list-style: none !important; 
		padding: 0px !important; 
		margin: 0px !important; 
		background: none !important;
		color:#000000;
		} 
	ul.mktree2		{ margin: 10px 0; padding: 0px; line-height: 1.2em !important; background: #EED2E3; font-size: 0.7em; }
	/* margin-left controls how "spaced out" the tree is ; DON'T TOUCH THE PADDING */
	ul.mktree2 ul  {  padding: 0px !important; margin-left: 0px !important; }
	/* Provide space for our own "bullet" inside the LI */
	ul.mktree2  li .bullet {
		padding-left: 15px;
		margin-left: 10px;
		}
	/* Show "bullets" in the links, depending on the class of the LI that the link's in */
	ul.mktree2  li.liOpen    .bullet { cursor: pointer; cursor: hand; background: url(sth_minus.gif) no-repeat 0px 1px; }
	ul.mktree2  li.liOpen { font-weight: bold; }
	ul.mktree2  li.liClosed  .bullet { cursor: pointer; cursor: hand; background: url(sth_plus.gif) no-repeat 0px 1px; }
/*	ul.mktree2  li.liClosed:hover  .bullet { background: url(../img/th_plus_ani.gif)   center left no-repeat; }*/
	ul.mktree2  li.liBullet  .bullet { cursor: default; background: url(sth_bullet.gif) no-repeat 0px 1px; }
	/* Sublists are visible or not based on class of parent LI */
	ul.mktree2  li.liOpen    ul { display: block; }
	ul.mktree2  li.liClosed  ul { display: none; }
	/* Format menu items differently depending on what level of the tree they are in */
	ul.mktree2  li { font-size: 1em !important; padding: 2px 0 2px 0px !important; line-height: 1.2em !important; }
	ul.mktree2  li ul li { font-size: 1em !important; padding-left: 20px !important; background: #F7E8F1 !important; font-weight: normal !important; margin: 0 !important; }
	ul.mktree2  li ul li ul li { font-size: 1em !important; font-weight: normal !important; margin: 0 !important; }
	ul.mktree2  ul li ul li ul li li { font-size: 1em !important; font-weight: normal !important; margin: 0 !important; }
	
	ul.mktree2 a { color: #000000 !important;}
/*	ul.mktree2 a:hover { color: #19328F; text-decoration: underline; }*/
}
