.menu_scroll ul {
	border-width:1px 1px 1px 1px;
	border-style: none;
	padding: 0px;
	margin: 0px;
}

.menu_scroll li {
	border-bottom:1px solid #ffffff;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.access_menu_secteur {
	background-color: #00386C;
	display: block;
	color: #FFFFFF;
	font-size: 1.1em;
	padding: 2px;
	magin: 0px;
}

.access_menu_secteur p {
	margin-top: 6px;
}

.access_menu_secteur a:link, a:hover, a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

.access_menu_rubriques {

}

.menu_scroll {
	border: 1px none #000000;
	width: 198px;
	height: 279px;
	z-index: 1;
	overflow: auto;
	background-color: #ffffff;
	visibility: visible;
}