@media screen{
html{margin:0px;padding:0px;} 
body{background-color:#FFF; font-family:arial; font-size:12px; color:#09205F; margin:0px; padding:0px;}
img{border:none}
h1{font-size:1.4em}
#main{background:#FFF url('background.jpg') no-repeat; width:980px; margin:auto;margin-bottom:40px; text-align:left;border-left:1px #09205F solid}
#header{background:url('header.jpg') no-repeat; height:162px;}
#logo{float:right}
#recherche{float:left;margin-top:30px;margin-left:40px}
#recherche #keyword{background-color:#F00;border:1px #09205F solid;color:#FFF;width:130px}
#right{float:left;width:710px}
#footer{clear:both;background:#FFF url('background-footer.jpg') no-repeat;height:30px; margin:auto; text-align:left;padding-left:435px;padding-top:18px}
#contentInt{float:left;width:520px;padding-left:10px;padding-right:20px;border-right:2px #6E7CA1 solid}
#actuInt{float:left;width:147px;padding-left:10px;}
#ariane{margin:10px}
#news{width:405px;}
#news h1{margin:0px;padding:0px;margin-left:20px}
#lienHome{width:388px;height:95px;padding-top:8px;margin-left:25px;background:url('background-lien.jpg') no-repeat;}
#content{float:left;}

#menuInstLeft{float:left;margin-left:31px;margin-right:56px;width:131px;display: inline;}
#menuInstLeft ul {margin:0px;padding:0px;border-left:1px #09205F solid}
#menuInstLeft ul li{list-style-type:none;list-style-image:none;width:116px;background:url('mitre.jpg') no-repeat;margin-bottom:37px;color:#FFF;padding-left:10px;padding-top:5px;padding-bottom:5px;padding-right:5px;}
#menuInstLeft ul li a{color:#FFF;text-decoration:none;font-weight:bold;}
#menuInstLeft ul li ul{display:none;margin:0px;margin-top:10px}
#menuInstLeft ul li ul.visible{display:block;}
#menuInstLeft ul li ul li{width:100px;list-style-type:none;color:#000;text-decoration:none;font-weight:bold;background:none; padding-left:10px;margin-bottom:0px;border-top:1px white solid;}
#menuInstLeft ul li ul li a{font-weight:normal}

#menuInstTop{width:710px;border-bottom:1px solid #3A4D7F;height:41px;margin-bottom:20px}
#menuInstTop ul {margin:0px;padding:0px;border-bottom:1px solid #CED2DF;height:40px}
#menuInstTop ul li{float:left;list-style-type:none;text-align:center;list-style-image:none}
#menuInstTop ul li table{width:108px;border-left:1px solid #CED2DF;height:38px;position:relative;margin-bottom:3px}
#menuInstTop ul li div.ssmenu{width:110px;position:absolute;display:none;margin-left:-1px;}
#menuInstTop ul li a{color:#09205F;text-decoration:none;font-weight:bold;font-size:1.1em}
#menuInstTop ul li div.ssmenu ul{border:none;height:auto;margin-top:-3px;}
#menuInstTop ul li div.ssmenu ul li{display:list-item;padding:4px;margin:0px;border-top:1px #9DA6BF solid;text-align:left;width:102px;background-color:#09205F;}
#menuInstTop ul li div.ssmenu ul li a{font-weight:bold;color:#FFF;font-size:1em}

#visite{background:url('background-contact.jpg') no-repeat 0px 46px ;color:#FFF;padding:5px;height:185px;width:131px;margin-left:auto;margin-right:auto}

#menuLeft{float:left;width:297px;;display: inline;}
#menuLeftHeader1{background:url('vos-besoins.gif');height:69px;width:297px}
#menuLeftFooter{background:url('besoins-bottom.gif');height:40px;width:297px}
#menuLeft ul {margin:0px;padding:0px;background:url('besoins-background.gif');}
#menuLeft ul li{list-style-type:none;list-style-image:none;color:#FFF;padding-left:10px;padding-top:5px;padding-bottom:5px;padding-right:5px;font-weight:bold;}
#menuLeft ul li a{color:#FFF;text-decoration:none;font-size:1.3em;}
#menuLeft ul li ul{display:none;margin:0px;padding:0px;width:150px;background:none;margin-left:50px}
#menuLeft ul li ul.visible0{display:block;margin:0px;padding:0px;width:150px;background:none;margin-left:50px}
#menuLeft ul li ul li{padding-left:0px;border-bottom:1px #FFF solid;color:#000;text-decoration:none;font-weight:normal;}

#menuLeftInt{float:left;width:210px;}
#menuLeftHeaderInt{height:77px;width:209px;background:url('besoins-top-int.jpg') no-repeat;}
#menuLeftFooterInt{background:url('besoins-bottom-int.gif');height:30px;width:209px}
#menuLeftInt ul {margin:0px;padding:0px;background:url('besoins-background-int.gif')}
#menuLeftInt ul li{list-style-type:none;list-style-image:none;color:#FFF;padding-left:25px;padding-top:5px;padding-bottom:5px;padding-right:5px;font-weight:bold;}
#menuLeftInt ul li a{color:#FFF;text-decoration:none;font-size:1em;}
#menuLeftInt ul li ul{display:none;margin:0px;padding:0px;width:150px;background:none;padding-left:20px;}
#menuLeftInt ul li ul.visible{display:block;}
#menuLeftInt ul li ul li{padding-left:0px;border-bottom:1px #FFF solid;color:#000;text-decoration:none;font-weight:normal;}


#lienHome li{margin-top:10px}
#lienHome li a{color:#FFF;text-decoration:none;font-weight:bold}

#footer ul {margin:0px;padding:0px;width:auto}
#footer ul li{float:left;list-style-type:none;text-align:center;list-style-image:none;padding-right:20px;nowrap:nowrap}
#footer ul li a{color:#09205F;text-decoration:none;font-weight:normal;font-size:1em;white-space: nowrap;}

#contentInt h1.titre{color:#F80039;font-size:1.1em;margin:0px;padding:0px}
#contentInt h2.titre{color:#09205F;font-size:1.1em;margin:0px;margin-top:10px;padding:0px;border-bottom:1px #09205F solid;}
#contentInt h2{color:#09205F;font-size:1.1em;margin:0px;margin-top:10px;padding:0px;border-bottom:1px #09205F solid;}
#contentInt ul li {list-style-image:url('puce.gif');}
#contentInt img{border:1px #09205F solid}
#contentInt img.noborder{border:none}
table.fiche{width:100%}
table.fiche td.titre{font-weight:bold;vertical-align:top;width:150px;}
table.fiche td{background-color:#D9DDE6;padding:3px}

#contentInt p.retour{text-align:right;}
#contentInt p.retour img.retour {border:none;}

#contentNews{background:url('background-news1-home.jpg') no-repeat bottom left;width:385px;padding-left:20px;padding-bottom:35px;}
#contentNews h2{color:#F80039;font-size:1.1em}
#contentNews h2 a{color:#F80039;font-size:1.1em;text-decoration:none;}
#planning{background:url('background-news-home.jpg') no-repeat 0px 43px ;height:220px;color:#FFF;width:450px}
#planning h3{text-align:left;color:#FFF;margin:0px;padding:4px;font-size:1.4em}
#planning h1{margin:0px;padding:0px;margin-bottom:15px}
#planning p{margin-top:8px;margin-bottom:5px}
#planning a{color:#FFF;text-decoration:none}
#retenirHome{float:left;text-align:right;width:200px;display:inline;}
#retenirHome h3{text-align:right;}
#bientotHome{margin-left:28px;float:left;width:170px;display:inline;}


#bientot{background-color:#A4ADC4;width:146px}
#bientot h3{text-align:left;background-color:#09205F;color:#FFF;margin:0px;padding:4px;}
#bientot p{padding:5px;padding-top:8px;margin:0px}
#bientot p a{color:#09205F;text-decoration:none}

#retenir{background-color:#FCA1B6;width:146px;margin-top:23px}
#retenir h3{text-align:left;background-color:#F80039;color:#FFF;margin:0px;padding:4px;}
#retenir p{padding:5px;padding-top:8px;margin:0px}
#retenir p a{color:#09205F;text-decoration:none}

#lienInt{background-color:#F80039;width:146px;}
#lienInt ul {margin:0px;padding:3px;}
#lienInt ul li {list-style-type:none;background:url('puce-lien.jpg') no-repeat 0 50%;margin-bottom:10px;color:#FFF;padding-left:30px}
#lienInt ul a {color:#FFF;text-decoration:none;font-weight:bold}
#lienInt ul a:hover {text-decoration:underline}

p.plus{text-align:right}
}
@media print{
div{display:none}
div#main{display:block}
div#right{display:block}
div#contentInt{display:block}
}