/***********************************************/
/* 3col_leftNav.css                             */
/* Use with template 3col_leftNav.html          */
/***********************************************/

/***********************************************/
/* HTML tag styles                             */
/***********************************************/ 



a{
	color: #333566;
	text-decoration: underline;
	font-weight: bold;
}

a:link{
	color: #333566;
	text-decoration: underline;
}

a:visited{
	color: #006699;
	text-decoration: underline;
}

h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #94977d;
	text-decoration: none;
	font-weight: normal;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

h2{
	font-family: Arial, sans-serif;
	font-size: 114%;
	color: #404274;
	margin: 0px;
	padding: 0px;
}

h3{
	font-family: Arial, sans-serif;
	font-size: 100%;
	color: #65679f;
	margin: 0px;
	padding: 0px;
}

h4{
 font-family: Arial,sans-serif;
 font-size: 100%;
 font-weight: normal;
 color: #333333;
 margin: 0px;
 padding: 0px;
}

h5{
 font-family: Verdana,Arial,sans-serif;
 font-size: 100%;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}


label{
	font-family: Arial, sans-serif;
	font-size: 100%;
	font-weight: bold;
	color: #334d55;
}


/***********************************************/
/* Components                                  */
/***********************************************/

#siteName{
	margin: 0;
	padding: 0 0 0 10px;
}


/************* #globalNav styles **************/

#globalNav{
padding: 0px 0px 5px 10px;
border-bottom: 1px solid #CCC;
color: #cccccc;
}

#globalNav img{
 display: block;
}

#globalNav a {
	font-size: 90%;
	padding: 0 4px 0 0;
}

/*************** #pageName styles **************/

#pageName{
	margin: 0px;
	padding: 0px 0px 0px 10px;
}


/************** .sous-titres *******************/
.sous-titres{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	line-height: 20px;
}

/************** .sous-titres-Orange *******************/
.sous-titres-Orange{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	line-height: 20px;
	color: #e75600;
}

/************** .sous-titres-Vert *******************/
.sous-titres-Vert{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	line-height: 20px;
	color: #51ae31;
}

/************ .mini_caractere **************/
.mini_caractere {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #000000;
	margin: 0px;
	padding: 0px;
}


/************* #siteInfo styles ***************/

#siteInfo{
	clear: both;
	border: 1px solid #cccccc;
	font-size: 75%;
	color: #cccccc;
	padding: 10px 10px 10px 10px;
}

#siteInfo img{
	padding: 4px 4px 4px 10px;
	vertical-align: middle;
}


/************* #search styles ***************/

#search{
	padding: 5px 0px 5px 10px;
	border-bottom: 1px solid #cccccc;
	font-size: 90%;
}

#search form{
 margin: 0px;
 padding: 0px;
}

#search label{
	display: block;
	margin: 0px;
	padding: 0px;
}



/*********** #sectionLinks styles ***********/

#sectionLinks{
	position: relative;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #cccccc;
	font-size: 90%;
	color: #006699;
}


/************** #advert styles **************/

#advert{
	padding: 30px 0px 10px;
}

#advert img{
	display: block;
}

/*************** La boite courante ************/
#BoiteCourant{
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	line-height: 20px;
	background-color: #FFFFFF;
}

#BoiteCourant P {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	margin: 0px;
	line-height: 20px;
}

#BoiteCourant a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: #000000;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}