/*--WEBARTCHITECTE VERSION 2006 LITE ---//
//--- Dernire mise  jour juin 2006 ----//
//-------------- par JT -----------------*/
* {
	margin: 0px;
	padding: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: transparent;
}
.MenuPrincipal{
	position:relative;
	padding:0;
	height:20px;
	font-size:12px;
	text-decoration: none;
	display: block;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	z-index: 1000;
	width: 540px;
	background-color: transparent;
}
.menuMaster{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color:#ccc;
	margin: 0;
	height:20px;
	border: none;
	font-weight:bold;
	text-indent:0;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 5px;
	display: block;
}
.overMenuMaster{
	text-transform: uppercase;
	font-size: 12px;
	height:20px;
	color:#FFF;
	border: none;
	text-indent:0px;
	font-weight:bold;
	text-decoration: none;
	display: block;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 5px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.menuMaster a:link, .menuMaster a:visited, .menuMaster a:active, .menuMaster a:focus{
	margin: 0;
	text-transform: uppercase;
	font-size: 12px;
	height:20px;
	border: none;
	text-indent:0px;
	font-weight:bold;
	text-decoration: none;
	color: #ccc;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	display: block;
	background-color: transparent;
}

.overMenuMaster a:link, .overMenuMaster a:visited, .overMenuMaster a:active, .overMenuMaster a:focus{
	margin: 0;
	text-transform: uppercase;
	font-size: 12px;
	color:#FFF;
	height:20px;
	border: none;
	text-indent:0px;
	font-weight:bold;
	text-decoration: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	}


.overMenuMaster a:hover, .menuMaster a:hover {
	margin: 0;
	text-transform: uppercase;
	font-size: 12px;
	color:#FFF;
	border: none;
	height:20px;
	text-indent:0px;
	font-weight:bold;
	text-decoration: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	display: block;
	padding: 0px;
}
/*-----------------------------------------------*/
.menuBouton{
	padding:0;
	list-style-type:none;
	color:#FFFFFF;
	display:block;
	position: relative;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-top: -2px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: auto;
	}
	
.menuBouton menu {
	list-style-type:none;
	padding:0;
	margin:0;
	display:block;
	font-size: 12px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #2b3134;
	border-right-color: #2b3134;
	border-left-color: #2b3134;
	width: auto;
	position: relative;
}
.menuBouton li{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none;
	line-height: 20px;
	text-align: left;
	display:block;
	list-style-type:none;
	vertical-align: middle;
	font-weight:bold;
	font-size: 12px;
	background-color: #333;
	white-space: nowrap;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000;
	width: 100%;
	position: relative;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
	text-indent: 0px;
}
.menuBouton a:link, .menuBouton a:visited, .menuBouton a:active, .menuBouton a:focus{
	display:block;
	text-decoration:none;
	color: #FFFFFF;
	font-size: 12px;
	font-weight:bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height: 20px;
	text-indent:10px;
}
.menuBouton a:hover{
	color:#333;
	text-decoration:none;
	font-size: 12px;
	font-weight:bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height: 20px;
	text-decoration:none;
	display:block;
	background-color: #ffc002;
	text-indent: 10px;
}
.overBoutonMenu a:link, .overBoutonMenu a:visited, .overBoutonMenu a:active, .overBoutonMenu a:focus{
	color: #FFFFFF;
	text-indent:0px;
	font-size: 12px;
	font-weight:bold;	
	
}
.overBoutonMenu a:hover{
	color: #ffc002;
	text-indent:0px;
	font-size: 12px;
	font-weight:bold;
}

.overBoutonSousMenu{
	color:#ffc002;
	font-size: 12px;
	font-weight:bold;
}
.overBouton{
	line-height:82px;
	color:#ffc002;	/*font-size: 12px;*/
}
.outBouton{
	/*background-color: #999999;
	list-style-type:none;*/
}
