.DATE { font-size: 9px;}
.Style15 {color: #DC241F}
.Style17 {color: #878787}

.grand_titre {font-size: 12px}
.Style23 {font-size: 18px; font-weight: bold;}
.Style24 {
	color: #013983;
	font-weight: bold;
}
.Style25 {color: #122D6B}

.fond_bl {
	background-image: url(guadjaune.gif);
	background-repeat: no-repeat;
}
.fond_vl {
	background-image: url(guadvert2.gif);
	background-repeat: no-repeat;
}
.fond_v2 {
	background-image: url(guadbleu.gif);
	background-repeat: no-repeat;
}

.Style29 {color: #006666}
.Style31 {color: #FFFFFF}
.Style32 {font-size: 14}