.treeview ul{ /*CSS for Simple Tree Menu*/
margin: 0;
padding: 0;
}

.treeview li{ /*Style for LI elements in general (excludes an LI that contains sub lists)*/
background: url(http://www.cg24.fr/images/flecheb.gif) no-repeat left;
list-style-type: none;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: bold;
color: #8C543D;
font-size: 7pt;
text-decoration: none;
border-style: none;
padding-left: 16px;
margin-bottom: 3px;
}

.treeview li.submenu{ /* Style for LI that contains sub lists (other ULs). */
background: url(http://www.cg24.fr/images/closed.gif) no-repeat left 8px;
cursor: hand !important;
cursor: pointer !important;
}


.treeview li.submenu ul{ /*Style for ULs that are children of LIs (submenu) */
display: none; /*Hide them by default. Don't delete. */
}

.treeview .submenu ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
cursor: default;
}

A:hover {TEXT-DECORATION: underline}
a:link {color:gray; text-decoration:none;}
a:visited {color: gray; text-decoration:none;}
a:hover {color:gray; text-decoration:underline;}

/*body { background-image:url(menu.jpg); background-repeat: no-repeat; background-attachment: fixed}*/
