* { background:#fff; }
html { /*font-family:serif;*/ }
body { color:black; }
blockquote { font-style:italic; color:black; }
a:link, a:visited { border-bottom-width:1px; border-bottom-style:solid; text-decoration:none; }

div.printme a, #retourtop, div.header, div.col_left, div.box_encart_publicitaire-content, div.hautes_pyrenees-content, div.footer, div#menu_bouton, ul.navigation {
	display:none;
}

div#depart, div#arrivees { display:block; }

label#lblDepart, label#lblArrivees, label.lblDestinations, label.lblDepart, label#lblCompagnie, label#lblStatut, label.lblProvenance, label.lblArrivee { display:block; }

label.lblDestinations, label.lblDepart, label#lblCompagnie, label#lblStatut, label.lblProvenance, label.lblArrivee { display:block; float:left; margin:0 22px; }

#slider { background:none; }

/* footer ********************************************************************************************************/
div#contenu, div.container_voyageur, div#contenu-espacepro, div#contenu-activites-industrielles { background:none; }