*{
	font-family: Arial;
}
h1{
	font-size:15pt;
	color:#000;
}
h2{
	font-size:12pt;
	color:#000;
}
table{
	border: 1px solid #666;
}
.table_structure{
	border: 0;
}

th{
	padding:2px;
	color:#FFF;
	background-color:#666;
	font-weight:normal;
	font-size:10pt;
}
caption{
	margin:5px 0 2px 0;
	font-size:0.7em;
	font-weight:normal;
	text-align:left;
}

#conteneur_menu{
	display:none;
}


#header{
	display:none;
}
#header a, #header a:hover{
	color:#FFF;
	text-decoration:none;
}
#header .separ{
	margin:0 7px 0 7px;
}
#header_left{
	float:left;
	height:87px;
	width:603px;
	background-image:url(bandeau_left.jpg);
	background-repeat:no-repeat;
	padding: 10px 0 0 20px;
}
#header_left img{
	float:left;
	margin-right:17px;
}
#header_left h2{
	padding-top:17px;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	
}
#header_right{
	float:right;
	height:87px;
	width:293px;
	background-image:url(bandeau_right.jpg);
	background-repeat:no-repeat;
	padding: 10px 20px 0 0;
	text-align:right;
}
#header_right h2{
	padding-top:17px;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	
}
#societe{

}
#societe h2{
	color:#000;
	font-size:12pt;
}
#societe span{
	display:none;
}
#search{
	display:none;
}
#search label{
	display:none;
	font-weight:bold;
	font-size:10px;
}
#search .saisie{
	background-color:#EEE;
	border:2px solid #EEE;
	font-size:10px;
}
#search .bouton{
	color:#000;
	border:1px solid #EEE;
	background-color:#EEE;
	font-size:10px;
}
#bandeau_accueil{
	display:none;
}
#bandeau_accueil img{
	display:none;
}
#bandeau_accroche{
	display:none;
}
#bandeau_accroche, #accroche{
	display:none;
}
#bandeau_accroche h3, #accroche h3, #menu_accroche h3{
	display:none;
}
#bandeau_accroche p, #accroche p, #menu_accroche p{
	display:none;
}
#bandeau_accroche * a, #accroche * a{
	display:none;	
}
#bandeau_accroche form, #accroche form{
	display:none;
}
#bandeau_accroche input, #accroche input{
	display:none;
}
* html #bandeau_accroche input, * html #accroche input{
	display:none;
}

#bandeau_accroche label, #accroche label{
	display:none;
}
#bandeau_accroche button, #accroche button{
	display:none;
}
* html #bandeau_accroche button, * html #accroche button{
	display:none;
}
#contenu {
}
#contenu h3{
	
}
#contenu h4{
	
}
#contenu p{
	
}
#contenu ul{

}
#contenu li{

}
#centre { /* Page sans marge a droite */

}
#gauche { /* Page avec marge a droite */

}
#droite { /* Page avec marge a droite */
	display:none;
}
#pathfinder {

	color: #000;
}
#pathfinder a {
	text-decoration:none;

}
/*
#animation{
	padding:0.5em;
}
#animation h2{
	font-size:0.9em;
	font-weight: normal;
	color:#666;
}
#animation h3{
	font-size:0.8em;
	color:#9C3;
}
#animation a, #animation a:hover, #animation a:visited{
	color:#9C3;
}
*/
#corps{
}

#corps h3{
	color:#FFF;
	font-size:0.8em;
}
#corps a, #corps a:visited{
	text-decoration:none
}
#basdepage{
}
#basdepage a{
}
.multi_colonne{

}
#footer {
	height: 30px;
	padding-top:10px;
	background-color: #FFF;
	font-size:0.7em;
	color:#666;
	text-align:center;
}
#footer a{
	text-decoration:none
}

.actualite_gauche{
	float:left;
	width:194px;
	border-right:1px solid #999;
	padding: 0 20px 0 0;
}
.actualite_droite{
	float:left;
	width:194px;
	padding: 0 20px 0 20px;
}
.actualite_gauche a, .actualite_droite a{
	color:#A5D442;
	background-image:url(http://www.dexia-sofaxis.com/file/resources/sites/sfx/img/puce_inferieur_A5D442.gif);
	background-repeat:no-repeat;
	padding-left: 10px;
}
.actualite_gauche h2, .actualite_droite h2{
	margin-bottom:6px;
}
.alerte{
	color:#C00;
}
.alerte h2{
	color:#C00;
}
.alerte li{
	list-style-image:url(http://www.dexia-sofaxis.com/file/resources/sites/sfx/img/li_circle_C30.gif);
	margin-left:23px;
}
.animation{
	display:none;
}
.animation h2{
	display:none;
}
.animation h3{
	display:none;
}
.animation a, .animation a:hover, .animation a:visited{
	display:none;
}
.bas{
	padding-top:5px;
}
.bas p{
	color:#FFF;
	font-size:10px;
}
.bloc{
	display:block;
}
.chapo{
	font-size:0.8em;
	font-weight:bold;
}
.chapo strong{
	font-size:1.3em;
	color:#6F98C7;/*mlo#5C86B8*/
}
.clair{
	background-color:#EFEFEF;
	font-size:0.7em;
}
.clear{
	clear:both;
}
.col_gauche{
	float:left;
	width:47%;
}
.col_droite{
	float:right;
	width:47%;
}
.float_left{
	float:left;
}
.float_right{
	float:right;
	margin: 0 0 5px 10px;
}
.fonce{
	background-color:#DEDEDE;
	font-size:0.7em;
}
.haut{
	height:63px;
}
.picto_pdf{
	display:block;
	background-image:url(icon_pdf.gif);
	background-repeat:no-repeat;
	padding:0 0 5px 22px;
	margin: 3px 0 5px 0;
	color:#9C3;
}
.picto_excel{
	display:block;
	background-image:url(icon_excel.gif);
	background-repeat:no-repeat;
	padding:0 0 5px 22px;
	margin: 3px 0 5px 0;
	color:#9C3;
}
.picto_media{
	display:block;
	background-image:url(icon_media.gif);
	background-repeat:no-repeat;
	padding:0 0 5px 22px;
	margin: 3px 0 5px 0;
	color:#9C3;
}
.picto_ppt{
	display:block;
	background-image:url(icon_ppt.gif);
	background-repeat:no-repeat;
	padding:0 0 5px 22px;
	margin: 3px 0 5px 0;
	color:#9C3;
}
.picto_word{
	display:block;
	background-image:url(icon_word.gif);
	background-repeat:no-repeat;
	padding:0 0 5px 22px;
	margin: 3px 0 5px 0;
	color:#9C3;
}
.picto_html{
	display:block;
	background-image:url(icon_htm.gif);
	background-repeat:no-repeat;
	padding:0 0 5px 22px;
	margin: 3px 0 5px 0;
	color:#9C3;
}
.picto_pdf:hover, .picto_pdf:visited, .picto_swf:hover, .picto_swf:visited, .picto_doc:hover, .picto_doc:visited, .picto_excel:hover, .picto_excel:visited, .picto_media:hover, .picto_media:visited, .picto_ppt:hover, .picto_ppt:visited, .picto_word:hover, .picto_word:visited, .picto_html:hover, .picto_html:visited{
	color:#9C3;
}
.picto_doc_grande{
	display:block;
	background-image:url(http://www.dexia-sofaxis.com/file/resources/sites/sfx/img/icon/picto_doc_grande.gif);
	background-repeat:no-repeat;
	background-position:0 5px;
	margin-bottom:10px;
	padding:10px 0 20px 35px;
	color:#9C3;
}
.picto_pdf_grande{
	display:block;
	background-image:url(http://www.dexia-sofaxis.com/file/resources/sites/sfx/img/icon/picto_pdf_grande.gif);
	background-repeat:no-repeat;
	background-position:0 5px;
	margin-bottom:10px;
	padding:10px 0 20px 35px;
	color:#9C3;
}
.picto_swf_grande{
	display:block;
	background-image:url(http://www.dexia-sofaxis.com/file/resources/sites/sfx/img/icon/picto_swf_grande.gif);
	background-repeat:no-repeat;
	background-position:0 5px;
	margin-bottom:10px;
	padding:10px 0 20px 35px;
	color:#9C3;
}
.picto_excel_grande{
	display:block;
	background-image:url(http://www.dexia-sofaxis.com/file/resources/sites/sfx/img/icon/picto_swf_grande.gif);
	background-repeat:no-repeat;
	background-position:0 5px;
	margin-bottom:10px;
	padding:10px 0 20px 35px;
	color:#9C3;
}
.invisible{
	display:none;
}
.lien_bouton{
	padding: 0.1em 0.1em 0.1em 0.3em;
	margin-right:3.3em;
	background-color:#B5D708;
	border-top: 1px solid #CBEA5A;
	border-right: 1px solid #739506;
	border-bottom: 1px solid #739506;
}
.lien_bouton a{
	text-decoration:none;
}
.lien_header, .lien_header_dernier {
	float:left;
	width:70px;
	height:40px;
	padding:10px;
	text-align:center;
	border-left: 1px solid #FFF;
}
.lien_header_dernier{
	border-right: 1px solid #FFF;
}
.lien_header a, .lien_header_dernier a{
	font-size: 0.6em;
	color : #FFF;
	text-decoration:none;
}
.logo{
	margin:53px 0 0 45px;
}
.logo_partenaire{
	margin:10px 15px;
}
.pays{
	float:left;
	width:133px;
	margin-right:15px;
	text-align:center;
	color:#FFF;
}
.plan{
	color:#000 ! important ;
	text-decoration:none;
}
.soustitre{
	font-family: verdana, Helvetica, sans-serif;
	font-size:1.2em;
	line-height:1em;
	color:#BBB;/*mlo DDD*/
}
.table_form{
	width: 100%;
	font-size:10px;
}
.table_form input, .table_form textarea{
	margin: 3px;
	font-size:10px;
}
.table_form textarea{
	display:block;
}
.titre{
	padding:0 0 5px 0;
	font-family: verdana, Helvetica, sans-serif;
	font-size:1.2em;
	color:#FFF;
}
.titreactualite{
	font-size:24px;
	color:red;
}
.soustitrehome {
	font-size:1em;
	font-weight: normal;
	color:#666;
	margin-bottom:10px; 
}