/***************************************** 
********* HACK IE6 ***********************
http://217.174.222.104/cg06-internet/cms/cg06/css/
******************COLOR GAMME*************
GAMME 1 : #02B7D3
GAMME 2 : #b5006f
GAMME 3 : #689b1f / d5e6bd
GAMME 4 : #fe7800 / e8ccb3
*****************************************/

.general_body .gamme-1 .col-centre-contenu h1.titre {
    background:transparent url(fleche_dans_rond.png) no-repeat scroll left 4px;
    border-bottom:1px dotted #454545;
    color:#454545;
    font-family:Arial,Helvetica,sans-serif;
    font-size:17px;
    font-weight:bold;
    margin:10px 0 3px;
    padding-bottom:5px;
    padding-left:25px;
    text-transform:uppercase;
    padding-top:5px;
}

/* GAMME 1 : GENERIQUE ? */
.general_body #header #menu {background-image:url("menu_header_body.png"); background-repeat:no-repeat; background-position:top left;width:966px; height:44px; margin: 0 0 0 -6px;}
*html .general_body #header #menu {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://217.174.222.104/cg06-internet/cms/cg06/css/images/menu_header_body.png', sizingMethod='scale');background: none; width:966px; height:44px;}
.general_body .gamme-1 #menu li.n_1 {margin-top :0px; !margin-top :3px; }
.general_body .gamme-14 #menu li.n_1 {margin-top :0px; !margin-top :3px; }
.general_body .gamme-15 #menu li.n_1 {margin-top :0px; !margin-top :3px; }
.general_body .gamme-16 #menu li.n_1 {margin-top :0px; !margin-top :3px; }
*html .general_body .gamme-1 #menu li.n_1 {width:290px; }
*html .general_body .gamme-14 #menu li.n_1 {width:290px;}
*html .general_body .gamme-15 #menu li.n_1 {width:290px;}
*html .general_body .gamme-16 #menu li.n_1 {width:290px;}
.general_body .gamme-1 #menu {}
.general_body .gamme-1 #menu li.n_1{float:left; width:295px; background:none;padding-top:2px; }
.general_body .gamme-1 #menu li.n_1 a {display:block; margin-top:10px; height:21px; }
.general_body .gamme-1 #menu li.n_1 a.menu_1 {background-image:url("bgr_menu_bulle.gif"); background-repeat:no-repeat; background-position:25px 1px; margin-left:-25px; color:#626262; font-weight:bold; text-transform:uppercase; font-size:14px; text-align:center; padding-top:3px;}
.general_body .gamme-1 #menu li.n_1 a.menu_2 {background-image:url("bgr_menu_bulle.gif"); background-repeat:no-repeat; background-position:top left; color:#626262; font-weight:bold; text-transform:uppercase; font-size:14px; text-align:center; padding-top:3px;}
.general_body .gamme-1 #menu li.n_1 a.menu_3 {background-image:url("bgr_menu_bulle.gif"); background-repeat:no-repeat; background-position:top left; color:#626262; font-weight:bold; text-transform:uppercase; font-size:14px; text-align:center; padding-top:3px;}
.general_body .gamme-1 #menu li.n_1 a.menu_1:hover {text-decoration:none;background-image:url("bgr_menu_bulle_gamme_2.gif"); background-repeat:no-repeat; background-position:25px 1px; margin-left:-25px;}
.general_body .gamme-1 #menu li.n_1 a.menu_2:hover {text-decoration:none;background-image:url("bgr_menu_bulle_gamme_3.gif"); background-repeat:no-repeat; background-position:top left;}
.general_body .gamme-1 #menu li.n_1 a.menu_3:hover {text-decoration:none;background-image:url("bgr_menu_bulle_gamme_4.gif"); background-repeat:no-repeat; background-position:top left;}
.general_body .gamme-1 #menu .sous_menu{}
.general_body .gamme-1 #menu .sous_menu .top{background-image:url("top.png"); background-repeat:no-repeat; background-position:top left; width:296px; height:11px;  font-size:8px;}
.general_body .gamme-1 #menu .sous_menu .main{background-image:url("repeat.png"); background-repeat:repeat-y; background-position:top left; width:296px;}
.general_body .gamme-1 #menu .sous_menu .bottom{background-image:url("bottom.png"); background-repeat:no-repeat; background-position:top left; width:296px; height:26px;}
*html .general_body .gamme-1 #menu .sous_menu .top {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://217.174.222.104/cg06-internet/cms/cg06/css/gammes/menu/top.png', sizingMethod='scale');background: none;}
*html .general_body .gamme-1 #menu .sous_menu .main {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://217.174.222.104/cg06-internet/cms/cg06/css/gammes/menu/repeat.png', sizingMethod='scale');background: none; width:296px; background-repeat:repeat-y;}
*html .general_body .gamme-1 #menu .sous_menu .bottom {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://217.174.222.104/cg06-internet/cms/cg06/css/gammes/menu/bottom.png', sizingMethod='scale');background: none;}
.general_body .gamme-1 #menu #menu_1 {overflow:hidden; position:absolute; margin-left:15px; top :319px; !top :319px; z-index:15;}
.general_body .gamme-1 #menu #menu_2 {overflow:hidden; position:absolute; margin-left:340px;top :319px; !top :319px; z-index:15;}
.general_body .gamme-1 #menu #menu_3 {overflow:hidden; position:absolute; margin-left:655px;top :319px; !top :319px; z-index:15;}
.general_body .gamme-1 #menu #menu_1 .main li{background:transparent url(puces_rond_gamme_2.gif) 0 50% no-repeat; padding:0 0 0 15px; width:250px;}
.general_body .gamme-1 #menu #menu_1 .main li a{color:#b5006f; font-weight:bold; line-height:1.5;}
.general_body .gamme-1 #menu #menu_1 .main li a:hover{background-color:#e7c1d8;}
.general_body .gamme-1 #menu #menu_2 .main li{background:transparent url(puces_rond_gamme_3.gif) 0 50% no-repeat; padding:0 0 0 15px; color:#689b1f; font-weight:bold; width:250px;}
.general_body .gamme-1 #menu #menu_2 .main li a{color:#689b1f; font-weight:bold; line-height:1.5;}
.general_body .gamme-1 #menu #menu_2 .main li a:hover{background-color:#c6e699;}
.general_body .gamme-1 #menu #menu_3 .main li{background:transparent url(puces_rond_gamme_4.gif) 0 50% no-repeat; padding:0 0 0 15px; color:#fe7800; font-weight:bold; width:250px;}
.general_body .gamme-1 #menu #menu_3 .main li a{color:#fe7800; font-weight:bold; line-height:1.5;}
.general_body .gamme-1 #menu #menu_3 .main li a:hover{background-color:#e8ccb3;}

/* titre */
.gamme-1 h1.titre  { font-family:Arial, Helvetica, sans-serif;color:#027789; font-size:18px; font-weight:bold; text-transform:uppercase; background:transparent url("fleche_dans_rond.png") left 4px no-repeat; !background-position:0 1px; padding-left:25px; padding-bottom:5px; margin:10px 0 3px 0;}
*+html .general_body .gamme-1 h1.titre  { font-family:Arial, Helvetica, sans-serif;color:#454545; border-bottom: dotted 1px #454545; font-size:18px; font-weight:bold; text-transform:uppercase; background:transparent url("fleche_dans_rond.png") left 4px no-repeat;  !background-position:0 -2px; padding-left:25px; padding-bottom:5px; margin:10px 0 3px 0;}
.gamme-1 .sous_titre_gamme_1 {color:#02B7D3; font-weight:bold; text-transform:uppercase; font-size:12px; display:block; margin:10px 0px}
.gamme-1 li {background-image:url("liste_puces_gamme_1.gif"); background-repeat:no-repeat; background-position:0 4px; padding-left:15px; margin-left:10px;}
.gamme-1 li li {background-image:url("liste_puces_n2.gif"); background-repeat:no-repeat; background-position:0 5px; padding-left:10px; margin-left:5px;}
.gamme-1 a {color:#027789; text-decoration:none;}
.gamme-1 a:hover {text-decoration:underline;}

/* MENU GAUCHE */
/*.gamme-1 .menugauche {width:185px; padding-top:15px;border-right:dotted 1px #333333;}*/
.gamme-1 .menugauche {width:185px; padding-top:15px; background-color:#F2F2F2; border-right:dotted 1px #333333;}
.gamme-1 .menugauche p {line-height:1.5;}
.gamme-1 .menugauche a:hover{text-decoration:underline;}
.gamme-1 .menugauche-bottom {width:185px; height:100px;background-image:url("menugauche-bottom.jpg"); background-repeat:no-repeat; background-position:top left;}
.gamme-1 .menugauche-n-1-current {width:150px; text-align:left;background-image:url("puces_menugauche_gamme_1.gif"); background-repeat:no-repeat; background-position:0 2px; padding-left:15px;margin-left:8px; border-bottom:dotted 1px #02B7D3; border-top:dotted 1px #02B7D3; background-color:#e2f7fa;}
.gamme-1 .menugauche-n-1-current a {color:#525353; font-weight:bold; font-size:12px;}
.gamme-1 .menugauche-n-1 {background-image:url("puces_menugauche_generique.gif"); background-repeat:no-repeat; background-position:0 3px; padding:3px 0 3px 15px; margin-left:8px;}
.gamme-1 .menugauche-n-1-offline {width:150px; text-align:left;background-image:url("fleche_carre_gamme_1.gif"); background-repeat:no-repeat; background-position:0 5px; padding-left:15px;margin-left:8px;}
.gamme-1 .menugauche-n-1-offline a {color:#ff4545; font-weight:bold; font-size:12px;}
.gamme-1 .menugauche-n-1 {background-image:url("fleche_carre_gamme_1.gif"); background-repeat:no-repeat; background-position:0 5px; padding-left:15px; margin-left:8px;}
.gamme-1 .menugauche-n-1 a {color:#525353; font-weight:bold; font-size:12px;}

.gamme-1 .menugauche-n-2-current {width:150px; text-align:left;background-image:url("fleche_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 4px; padding-left:12px; margin-left:13px;}
.gamme-1 .menugauche-n-2-current a {color:#525353; font-weight:bold; font-size:11px;}
.gamme-1 .menugauche-n-2 {background-image:url("fleche_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 4px; padding-left:12px;  margin-left:13px;}
.gamme-1 .menugauche-n-2-offline {width:150px; text-align:left;background-image:url("fleche_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 4px; padding-left:12px; margin-left:13px;}
.gamme-1 .menugauche-n-2-offline a {color:#ff4545; font-weight:bold; font-size:11px;}
.gamme-1 .menugauche-n-2 {width:150px; text-align:left;background-image:url("fleche_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 4px; padding-left:12px;  margin-left:13px;}
.gamme-1 .menugauche-n-2 a {color:#525353; font-size:11px;}

.gamme-1 .menugauche-n-3-current {width:146px; text-align:left;background-image:url("moins_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 7px; padding-left:12px; margin-left:25px;}
.gamme-1 .menugauche-n-3-current a {color:#02B7D3; font-size:11px;}
.gamme-1 .menugauche-n-3-offline {width:146px; text-align:left;background-image:url("moins_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 7px; padding-left:12px; margin-left:25px;}
.gamme-1 .menugauche-n-3-offline a {color:#ff4545; font-weight:bold; font-size:11px;}
.gamme-1 .menugauche-n-3 {width:146px; text-align:left;background-image:url("plus_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 4px; padding-left:12px;  margin-left:25px;}
.gamme-1 .menugauche-n-3 a {color:#525353; font-size:11px;}

.gamme-1 .menugauche-n-4-current {width:150px; text-align:left;background-image:url("point_gamme_1.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:30px;width:130px;}
.gamme-1 .menugauche-n-4-current a {color:#525353; font-weight:bold; font-size:10px;}
.gamme-1 .menugauche-n-4-offline {width:150px; text-align:left;background-image:url("point_gamme_1.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:30px;width:130px;}
.gamme-1 .menugauche-n-4-offline a {color:#ff4545; font-weight:bold; font-size:10px;}
.gamme-1 .menugauche-n-4 {width:150px; text-align:left;background-image:url("point_gamme_1.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:30px;width:130px;}
.gamme-1 .menugauche-n-4 a {color:#525353; font-size:10px;}
/* BLOC LIENS BOTTOM */
.gamme-1 .bloc_liens_bottom_gamme .gamme_liens_l{color:#02B7D3; font-weight:bold; font-size:12px; margin:15px 0 10px 0; display:block;}
.gamme-1 .bloc_liens_bottom_gamme li {background-image:url("puces_rond_gamme_1.gif"); background-repeat:no-repeat; background-position:center left; padding-left:15px; margin-left:10px; color:#525353; margin-right:10px;}
.gamme-1 .bloc_liens_bottom_gamme li a {color:#525353;}
.bloc_grey_imp {margin:15px 0px;}
.gamme-1 .separeteur_bloc_liens_bottom_gamme {background-image:url("separateur.gif"); background-repeat:repeat-x; background-position:top left; height:4px; width:100%;}
/* FAQ */
.gamme-1  #faq{}
.gamme-1  #faq #formulaire {padding-bottom:10px;}
.gamme-1  #faq #formulaire #formulaire-header{text-align:left;}
.gamme-1  #faq #formulaire #formulaire-header a {font-size:12px; font-weight:bold; /*color: #46688b*/ color:#CC0000; background-image:url(liste_puces_gamme_1_faq.gif);background-position:0 6px;background-repeat:no-repeat; padding-left:17px;}
.gamme-1  #faq #formulaire #formulaire-body {margin: 0 0 30px 50px;}


.gamme-1 #faq #questions-reponses h3 {font-size:12px; font-weight:bold; padding-bottom:10px;}
.gamme-1 #faq .qr-item  .qr-r {display:none;position:relative;}	
.gamme-1 #faq .qr-item-selected .qr-r{display:block;}	
.gamme-1 #faq .qr-q {cursor:pointer;position:relative;}	
.gamme-1 #faq .qr-item-selected .qr-r {overflow:hidden;color:#525353; padding:10px 60px 0px 80px;}
.gamme-1 #faq .qr-item-selected .qr-q {background-image:url("faq_open_gamme_1.gif"); background-repeat:no-repeat; padding-left:15px; background-position:0 0px; font-size:12px; font-weight:bold; color:#02B7D3; margin:0 22px;}
.gamme-1 #faq .qr-item-not-selected .qr-q {background-image:url("faq_close_gamme_0.gif"); background-repeat:no-repeat; padding-left:15px; background-position:0 3px;font-size:12px; font-weight:bold; color:#46688b;  margin:0 22px 0 61px;}
.gamme-1 #faq .separateur {margin:15px 0; background-image:url("separateur.gif"); background-repeat:repeat-x; background-position:top left; height:4px; width:100%;}
.gamme-1 #faq {}
.gamme-1 #faq fieldset {padding-top:20px;}
.gamme-1 #faq fieldset p label{float:left;font-weight:bold; padding-right:20px;text-align:left;width:160px; font-size:11px;}
.gamme-1 #faq fieldset p{margin-bottom:5px;}
.gamme-1 #faq select, .gamme-1 input, .gamme-1 textarea{font-size:1.1em;letter-spacing:1px;}
.gamme-1 #faq input, .gamme-1 textarea {width:250px;}
.gamme-1 #faq #bouton-valider {color:#FFFFFF; font-weight:bold; width:250px; padding:2px 0; background-color:#02B7D3; border:none; cursor:pointer;}
/* AGENDA */
.gamme-1 #agenda {}
/* liste */
.gamme-1 #agenda .liste_agenda table.liste tr {}
.gamme-1 #agenda .liste_agenda tr.niveau {}
.gamme-1 #agenda .liste_agenda .liste {}
.gamme-1 #agenda .liste_agenda .liste .titre{color:#02B7D3; font-weight:bold; font-size:11px; padding-bottom:5px;}
.gamme-1 #agenda .liste_agenda .liste .texte{}
.gamme-1 #agenda .liste_agenda .liste .lien{padding-top:5px;}
.gamme-1 #agenda .liste_agenda .liste .lien a{color:#02B7D3;}
/* pagination */
.gamme-1 #agenda .liste_agenda .pagination {margin-top:20px;color:#02B7D3;}
.gamme-1 #agenda .liste_agenda .pagination a{color:#02B7D3;}
.gamme-1 #agenda .liste_agenda .pagination a.pagination_selected {font-weight:bold; font-size:13px;}
.gamme-1 #agenda .liste_agenda .pagination a.pagination_previous:hover {text-decoration:none;}
.gamme-1 #agenda .liste_agenda .pagination a.pagination_next:hover {text-decoration:none;}
/* details */
.gamme-1 #agenda .details_agenda .titre{color:#02B7D3; font-weight:bold; font-size:11px; padding-bottom:5px;}
.gamme-1 #agenda .details_agenda .separateur {margin:15px 0; background-image:url("separateur.gif"); background-repeat:repeat-x; background-position:top left; height:4px; width:100%;}
/* agenda-detail */
.gamme-1 #agenda-detail{}
.gamme-1 #agenda-detail .image{ float: left; margin: 0 10px 0 0; }
.gamme-1 #agenda-detail .railroad{}
.gamme-1 #agenda-detail .railroad a:firstletter{ text-transform: uppercase; }
.gamme-1 #agenda-detail .extract{}
.gamme-1 #agenda-detail .titre{ color: #02B7D3; font-weight: bold; font-size: 12px; text-transform: uppercase; margin: 10px 0; }
.gamme-1 #agenda-detail .content{}
.gamme-1 #agenda-detail .content p{ margin: 10px 0; }
.gamme-1 #agenda-detail .content .infos-pratiques{} alliance
.gamme-1 #agenda-detail .content .infos-pratiques ul li{ background: transparent url("liste_puces_gamme_1.gif") 0 4px no-repeat; margin: 0 0 0 10px; padding: 0 0 0 15px; }
.gamme-1 #agenda-detail .content .infos-pratiques ul li .horaires{}
.gamme-1 #agenda-detail .content .infos-pratiques ul li .lieu{}
.gamme-1 #agenda-detail .content .infos-pratiques ul li .entree{}
.gamme-1 #agenda-detail .content .gallerie{}
.gamme-1 #agenda-detail .content .gallerie .titre{ margin: 10px 0; }
.gamme-1 #agenda-detail .content .gallerie .image img{ width: 115px; }
.gamme-1 #agenda-detail .content .savoir-plus{ margin: 10px 0; background: transparent url("separateur.gif") left top repeat-x; padding: 20px 0 0 0; }
.gamme-1 #agenda-detail .content .savoir-plus .titre{ margin: 5px 0 15px 0; font-size: 12px; font-weight: bold; }
.gamme-1 #agenda-detail .content .savoir-plus ul li{ background: transparent url("puces_rond_gamme_1.gif") left center no-repeat; margin: 0 10px; padding: 0 0 0 15px; }
/* liste video */
.gamme-1 #liste-video{ color: #2C486C;}
.gamme-1 #liste-video .bloc3col{ margin: 0 0 0 23px;}
.gamme-1 #liste-video .col-1{ float: left; padding: 20px; }
.gamme-1 #liste-video .bg-col-left{ background: #fff url("bgr_video_col_left.gif") left top no-repeat; width: 173px; height: 199px; }
.gamme-1 #liste-video .bg-col-left-hover{ background: #fff url("bgr_video_col_left_hover.gif") left top no-repeat; width: 173px; height: 199px; }
.gamme-1 #liste-video .col-1 img.border {border:8px solid #B5006F;}
.gamme-1 #liste-video .bg-col-left-hover img.border {border:8px solid #FFFFFF;}
.gamme-1 #liste-video .col-2 img.border {border:8px solid #B5006F;}
.gamme-1 #liste-video .bg-col-middle-hover img.border {border:8px solid #FFFFFF;}
.gamme-1 #liste-video .col-3 img.border {border:8px solid #B5006F;}
.gamme-1 #liste-video .bg-col-right-hover img.border {border:8px solid #FFFFFF;}
.gamme-1 #liste-video .col-2{ float: left; padding: 20px;  }
.gamme-1 #liste-video .bg-col-middle{ background: #fff url("bgr_video_col_middle.gif") left top no-repeat; width: 167px; height: 199px; }
.gamme-1 #liste-video .bg-col-middle-hover{ background: #fff url("bgr_video_col_middle_hover.gif") left top no-repeat; width: 167px; height: 199px; }
.gamme-1 #liste-video .col-3{ float: left;  padding: 20px;  }
.gamme-1 #liste-video .bg-col-right{ background: #fff url("bgr_video_col_right.gif") left top no-repeat; width: 173px; height: 199px; }
.gamme-1 #liste-video .bg-col-right-hover{ background: #fff url("bgr_video_col_right_hover.gif") left top no-repeat; width: 173px; height: 199px; }
.gamme-1 #liste-video .col-1 .image,
.gamme-1 #liste-video .col-2 .image,
.gamme-1 #liste-video .col-3 .image{ width: 100%; margin: 0 auto; text-align: center; margin: 0 0 15px 0; }
.gamme-1 #liste-video .col-1 .date,
.gamme-1 #liste-video .col-2 .date,
.gamme-1 #liste-video .col-3 .date{ color: #B5006F; font-size: 12px; font-weight: bold; background: transparent url("liste_puces_gamme_2.gif");background-repeat: no-repeat; background-position:0 6px; margin: 10px 0; padding: 0 0 0 15px; }
.gamme-1 #liste-video .col-1 .extract,
.gamme-1 #liste-video .col-2 .extract,
.gamme-1 #liste-video .col-3 .extract{ height: 70px; overflow: hidden;  }
.gamme-1 #liste-video .col-1 .savoir-plus,
.gamme-1 #liste-video .col-2 .savoir-plus,
.gamme-1 #liste-video .col-3 .savoir-plus{ background: transparent url("liste_puces_n2.gif") left center no-repeat; padding: 0 0 0 15px; }
.gamme-1 #liste-video .liste-video{ margin: 20px 0 0 0; }
.gamme-1 #liste-video .liste-video .bloc{ clear: both; padding: 10px; margin: 10px; width: 639px; height: 77px; }
.gamme-1 #liste-video .liste-video .b-hover{ background: transparent url("bgr_video_liste_hover.gif") left top no-repeat;  }
.gamme-1 #liste-video .liste-video .bloc .image{ float: left; margin: 0 10px 0 0; width: 125px; }
.gamme-1 #liste-video .liste-video .bloc .image img{ }
.gamme-1 #liste-video .liste-video .bloc .titre{  }
.gamme-1 #liste-video .liste-video .bloc .date{ color: #B5006F; font-size: 12px; font-weight: bold; background: transparent url("liste_puces_gamme_2.gif") left center no-repeat; margin: 10px 0 10px 135px; padding: 0 0 0 15px; }
.gamme-1 #liste-video .liste-video .bloc .extract{ }
.gamme-1 #liste-video .liste-video .bloc .savoir-plus{ background: transparent url("liste_puces_n2.gif") left center no-repeat; margin: 0 0 0 135px; padding: 0 0 0 15px;  }
.gamme-1 #liste-video .liste-video .bloc img.border {border:8px solid #B5006F;}
.gamme-1 #liste-video .liste-video .b-hover img.border {border:8px solid #FFFFFF;}
.gamme-1 #liste-video .pagination {font-family:Arial, Helvetica, sans-serif;font-size:1.5em; font-weight:bold; text-align:right;}
/* Ajout des styles sur la pagination des pages du module WEBTV */
.gamme-1 #liste-video .pagination a.pagination_selected{background-color:#02B7D3; color:#FFFFFF;padding:2px;}
.gamme-1 #liste-video .pagination a.pagination_previous{}
.gamme-1 #liste-video .pagination a.pagination_next{}

/* recherche */
.gamme-1 #recherche {}
.gamme-1 #recherche .entete {margin:10px 0 30px 25px;}
.gamme-1 #recherche .entete .uppercase {text-transform:uppercase; font-size:12px; font-weight:bold;}
.gamme-1 #recherche .liste {margin-bottom:20px;}
.gamme-1 #recherche .titre{background-image:url("recherche_gamme_1.gif"); background-repeat:no-repeat; background-position:0 5px; padding-left:10px; font-weight:bold; font-size:12px; color:#02B7D3; padding-bottom:3px;}
.gamme-1 #recherche .texte a {color:#000000;}
/* pagination */
.gamme-1 #recherche .pagination {margin-top:20px;color:#02B7D3;}
.gamme-1 #recherche .pagination a{color:#02B7D3;}
.gamme-1 #recherche .pagination a.pagination_selected {font-weight:bold; font-size:13px;}
.gamme-1 #recherche .pagination a.pagination_previous:hover {text-decoration:none;}
.gamme-1 #recherche .pagination a.pagination_next:hover {text-decoration:none;}


/* GAMME 2 -> GAMME 14 : LE CG06 */
/* MENU HEADER */
.general_body .gamme-14 #menu {}
.general_body .gamme-14 #menu li.n_1{float:left; width:295px; background:none;padding-top:2px; }
.general_body .gamme-14 #menu li.n_1 a {display:block; margin-top:10px; height:21px; }
.general_body .gamme-14 #menu li.n_1 a.menu_1 {background-image:url("bgr_menu_bulle_gamme_2.gif"); background-repeat:no-repeat; background-position:25px 1px; margin-left:-25px; color:#626262; font-weight:bold; text-transform:uppercase; font-size:14px; text-align:center; padding-top:3px;}
.general_body .gamme-14 #menu li.n_1 a.menu_2 {background-image:url("bgr_menu_bulle.gif"); background-repeat:no-repeat; background-position:top left; color:#626262; font-weight:bold; text-transform:uppercase; font-size:14px; text-align:center; padding-top:3px;}
.general_body .gamme-14 #menu li.n_1 a.menu_3 {background-image:url("bgr_menu_bulle.gif"); background-repeat:no-repeat; background-position:top left; color:#626262; font-weight:bold; text-transform:uppercase; font-size:14px; text-align:center; padding-top:3px;}
.general_body .gamme-14 #menu li.n_1 a.menu_1:hover {text-decoration:none;background-image:url("bgr_menu_bulle_gamme_2.gif"); background-repeat:no-repeat; background-position:25px 1px; margin-left:-25px;}
.general_body .gamme-14 #menu li.n_1 a.menu_2:hover {text-decoration:none;background-image:url("bgr_menu_bulle_gamme_3.gif"); background-repeat:no-repeat; background-position:top left;}
.general_body .gamme-14 #menu li.n_1 a.menu_3:hover {text-decoration:none;background-image:url("bgr_menu_bulle_gamme_4.gif"); background-repeat:no-repeat; background-position:top left;}
.general_body .gamme-14 #menu .sous_menu{}
.general_body .gamme-14 #menu .sous_menu .top{background-image:url("top.png"); background-repeat:no-repeat; background-position:top left; width:296px; height:11px;  font-size:8px;}
.general_body .gamme-14 #menu .sous_menu .main{background-image:url("repeat.png"); background-repeat:repeat-y; background-position:top left; width:296px;}
.general_body .gamme-14 #menu .sous_menu .bottom{background-image:url("bottom.png"); background-repeat:no-repeat; background-position:top left; width:296px; height:26px;}
*html .general_body .gamme-14 #menu .sous_menu .top {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://217.174.222.104/cg06-internet/cms/cg06/css/gammes/menu/top.png', sizingMethod='scale');background: none;}
*html .general_body .gamme-14 #menu .sous_menu .main {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://217.174.222.104/cg06-internet/cms/cg06/css/gammes/menu/repeat.png', sizingMethod='scale');background: none; width:296px; background-repeat:repeat-y;}
*html .general_body .gamme-14 #menu .sous_menu .bottom {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://217.174.222.104/cg06-internet/cms/cg06/css/gammes/menu/bottom.png', sizingMethod='scale');background: none;}
.general_body .gamme-14 #menu #menu_1 {overflow:hidden; position:absolute; margin-left:15px; top :319px; !top :319px; z-index:15;}
.general_body .gamme-14 #menu #menu_2 {overflow:hidden; position:absolute; margin-left:340px;top :319px; !top :319px; z-index:15;}
.general_body .gamme-14 #menu #menu_3 {overflow:hidden; position:absolute; margin-left:655px;top :319px; !top :319px;; z-index:15;}
.general_body .gamme-14 #menu #menu_1 .main li{background:transparent url(puces_rond_gamme_2.gif) 0 50% no-repeat; padding:0 0 0 15px; width:250px;}
.general_body .gamme-14 #menu #menu_1 .main li a{color:#b5006f; font-weight:bold; line-height:1.5;}
.general_body .gamme-14 #menu #menu_1 .main li a:hover{background-color:#e7c1d8;}
.general_body .gamme-14 #menu #menu_2 .main li{background:transparent url(puces_rond_gamme_3.gif) 0 50% no-repeat; padding:0 0 0 15px; color:#689b1f; font-weight:bold; width:250px;}
.general_body .gamme-14 #menu #menu_2 .main li a{color:#689b1f; font-weight:bold; line-height:1.5;}
.general_body .gamme-14 #menu #menu_2 .main li a:hover{background-color:#c6e699;}
.general_body .gamme-14 #menu #menu_3 .main li{background:transparent url(puces_rond_gamme_4.gif) 0 50% no-repeat; padding:0 0 0 15px; color:#fe7800; font-weight:bold; width:250px;}
.general_body .gamme-14 #menu #menu_3 .main li a{color:#fe7800; font-weight:bold; line-height:1.5;}
.general_body .gamme-14 #menu #menu_3 .main li a:hover{background-color:#e8ccb3;}
/* titre */
.gamme-14 h1.titre {font-family:Arial, Helvetica, sans-serif; color:#454545; border-bottom: dotted 1px #454545; font-size:17px; font-weight:bold; text-transform:uppercase; background-image:url("puces_titre_gamme_2.gif"); background-repeat:no-repeat; background-position:0 -2px; !background-position:0 1px; padding-left:25px; padding-bottom:5px; margin:10px 0 3px 0;}
*+html .gamme-14 h1.titre {font-family:Arial, Helvetica, sans-serif; color:#454545; border-bottom: dotted 1px #454545; font-size:17px; font-weight:bold; text-transform:uppercase; background-image:url("puces_titre_gamme_2.gif"); background-repeat:no-repeat; background-position:0 -2px; !background-position:0 -2px; padding-left:25px; padding-bottom:5px; margin:10px 0 3px 0;}
.gamme-14 .sous_titre_gamme_2 {color:#b5006f; font-weight:bold; text-transform:uppercase; font-size:12px; display:block; margin:10px 0px}
.gamme-14 li {background-image:url("liste_puces_gamme_2.gif"); background-repeat:no-repeat; background-position:0 4px; padding-left:15px; margin-left:10px;}
.gamme-14 li li {background-image:url("liste_puces_n2.gif"); background-repeat:no-repeat; background-position:0 5px; padding-left:10px; margin-left:5px;}
.gamme-14 a {color:#2b2569; text-decoration:none;}
/*.gamme-14 a {color:#b5006f;}*/


/* MENU GAUCHE */
/*.gamme-14 .menugauche {width:185px; padding-top:15px; border-right:dotted 1px #333333;}*/
.gamme-14 .menugauche {width:185px; padding-top:15px; background-color:#F2F2F2; border-right:dotted 1px #333333;}
.gamme-14 .menugauche p {line-height:1.5;}
.gamme-14 .menugauche a:hover{text-decoration:underline;}
.gamme-14 .menugauche-bottom {width:185px; height:100px;background-image:url("menugauche-bottom.jpg"); background-repeat:no-repeat; background-position:top left;}
.gamme-14 .menugauche-n-1-current {width:150px; text-align:left;background-image:url("puces_menugauche_gamme_14.gif"); background-repeat:no-repeat; background-position:0 2px; padding-left:15px; padding-bottom:2px; margin-left:8px; border-bottom:dotted 1px #b5006f ; border-top:dotted 1px #b5006f ; background-color:#ffedf8;}
.gamme-14 .menugauche-n-1-current a {color:#525353; font-weight:bold; font-size:12px;}
.gamme-14 .menugauche-n-1-offline {background-image:url("fleche_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 5px; padding-left:15px;margin-left:8px;}
.gamme-14 .menugauche-n-1-offline a {color:#ff4545; font-weight:bold; font-size:12px;}
.gamme-14 .menugauche-n-1 {width:150px; text-align:left;background-image:url("puces_menugauche_generique.gif"); background-repeat:no-repeat; background-position:0 3px; padding:3px 0 3px 15px; margin-left:8px;}
.gamme-14 .menugauche-n-1 a {color:#525353; font-weight:bold; font-size:12px;}

.gamme-14 .menugauche-n-2-current {width:150px; text-align:left;background-image:url("fleche_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 4px; padding-left:12px; margin-left:13px;}
.gamme-14 .menugauche-n-2-current a {color:#525353; font-weight:bold; font-size:11px;}
.gamme-14 .menugauche-n-2-offline {background-image:url("fleche_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 4px; padding-left:12px; margin-left:13px;}
.gamme-14 .menugauche-n-2-offline a {color:#ff4545; font-weight:bold; font-size:11px;}
.gamme-14 .menugauche-n-2 {width:150px; text-align:left;background-image:url("fleche_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 4px; padding-left:12px;  margin-left:13px;}
.gamme-14 .menugauche-n-2 a {color:#525353; font-size:11px;}

.gamme-14 .menugauche-n-3-current {width:146px; text-align:left;background-image:url("moins_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 7px; padding-left:12px; margin-left:25px;}
.gamme-14 .menugauche-n-3-current a {color:#b5006f; font-size:11px;}
.gamme-14 .menugauche-n-3-offline {width:146px; text-align:left;background-image:url("moins_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 7px; padding-left:12px; margin-left:25px;}
.gamme-14 .menugauche-n-3-offline a {color:#ff4545; font-weight:bold; font-size:11px;}
.gamme-14 .menugauche-n-3 {width:146px; text-align:left;background-image:url("plus_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 4px; padding-left:12px;  margin-left:25px;}
.gamme-14 .menugauche-n-3 a {color:#525353; font-size:11px;}

.gamme-14 .menugauche-n-4-current {background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:30px;width:130px;}
.gamme-14 .menugauche-n-4-current a {color:#525353; font-weight:bold; font-size:10px;}
.gamme-14 .menugauche-n-4-offline {width:150px; text-align:left;background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:30px;width:130px;}
.gamme-14 .menugauche-n-4-offline a {color:#ff4545; font-weight:bold; font-size:10px;}
.gamme-14 .menugauche-n-4 {width:150px; text-align:left;background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:30px;width:130px;}
.gamme-14 .menugauche-n-4 a {color:#525353; font-size:10px;}

.gamme-14 .menugauche-n-5-current {background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:40px;width:130px;}
.gamme-14 .menugauche-n-5-current a {color:#525353; font-weight:bold; font-size:10px; font-style:italic;}
.gamme-14 .menugauche-n-5-offline {width:150px; text-align:left;background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:40px;width:130px;}
.gamme-14 .menugauche-n-5-offline a {color:#ff4545; font-weight:bold; font-size:10px; font-style:italic;}
.gamme-14 .menugauche-n-5 {width:150px; text-align:left;background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:40px;width:130px;}
.gamme-14 .menugauche-n-5 a {color:#525353; font-size:10px; font-style:italic;}

.gamme-14 .menugauche-n-6-current {background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:40px;width:130px;}
.gamme-14 .menugauche-n-6-current a {color:#525353; font-weight:bold; font-size:9px;}
.gamme-14 .menugauche-n-6-offline {width:150px; text-align:left;background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:40px;width:130px;}
.gamme-14 .menugauche-n-6-offline a {color:#ff4545; font-weight:bold; font-size:9px;}
.gamme-14 .menugauche-n-6 {width:150px; text-align:left;background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:40px;width:130px;}
.gamme-14 .menugauche-n-6 a {color:#525353; font-size:9px;}


/* BLOC LIENS BOTTOM */
.gamme-14 .bloc_liens_bottom_gamme .gamme_liens_l{color:#b5006f; font-weight:bold; font-size:12px; margin:15px 0 10px 0; display:block;}
.gamme-14 .bloc_liens_bottom_gamme li {background-image:url("puces_rond_gamme_2.gif"); background-repeat:no-repeat; background-position:center left; padding-left:15px; margin-left:10px; color:#525353; margin-right:10px;}
.gamme-14 .bloc_liens_bottom_gamme li a {color:#525353;}
.bloc_grey_imp {margin:15px 0px;}
.gamme-14 .separeteur_bloc_liens_bottom_gamme {background-image:url("separateur.gif"); background-repeat:repeat-x; background-position:top left; height:4px; width:100%;}
/* FAQ */
.gamme-14  #faq{font-size:1em; font-family:Verdana, Arial, Helvetica, sans-serif;}
.gamme-14 #faq .qr-item  .qr-r {display:none;position:relative;}	
.gamme-14 #faq .qr-item-selected .qr-r{display:block;}	
.gamme-14 #faq .qr-q {cursor:pointer;position:relative;}	
.gamme-14 #faq .qr-item-selected .qr-r {overflow:hidden;color:#525353; padding:10px 0 0px 40px;}
.gamme-14 #faq .qr-item-selected .qr-q {background-image:url("faq_open_gamme_2.gif"); background-repeat:no-repeat; padding-left:15px; background-position:0 0px; font-size:12px; font-weight:bold; color:#b5006f;}
.gamme-14 #faq .qr-item-not-selected .qr-q {background-image:url("faq_close_gamme_0.gif"); background-repeat:no-repeat; padding-left:15px; background-position:0 3px;font-size:12px; font-weight:bold; color:#46688b;}
.gamme-14 #faq .separateur {margin:15px 0; background-image:url("separateur.gif"); background-repeat:repeat-x; background-position:top left; height:4px; width:100%;}
/* AGENDA */
.gamme-14 #agenda {}
/* liste */
.gamme-14 #agenda .liste_agenda table.liste tr {border-bottom:11px solid #FFFFFF;}
.gamme-14 #agenda .liste_agenda .liste {}
.gamme-14 #agenda .liste_agenda .liste .titre{color:#b5006f; font-weight:bold; font-size:11px; padding-bottom:5px;}
.gamme-14 #agenda .liste_agenda .liste .texte{}
.gamme-14 #agenda .liste_agenda .liste .lien{padding-top:5px;}
.gamme-14 #agenda .liste_agenda .liste .lien a{color:#b5006f;}
/* pagination */
.gamme-14 #agenda .liste_agenda .pagination {margin-top:20px;color:#b5006f;}
.gamme-14 #agenda .liste_agenda .pagination a{color:#b5006f;}
.gamme-14 #agenda .liste_agenda .pagination a.pagination_selected {font-weight:bold; font-size:13px;}
.gamme-14 #agenda .liste_agenda .pagination a.pagination_previous:hover {text-decoration:none;}
.gamme-14 #agenda .liste_agenda .pagination a.pagination_next:hover {text-decoration:none;}
/* details */
.gamme-14 #agenda .details_agenda .titre{color:#b5006f; font-weight:bold; font-size:11px; padding-bottom:5px;}
.gamme-14 #agenda .details_agenda .separateur {margin:15px 0; background-image:url("separateur.gif"); background-repeat:repeat-x; background-position:top left; height:4px; width:100%;}
/* agenda-detail */
.gamme-14 #agenda-detail{}
.gamme-14 #agenda-detail .image{ float: left; margin: 0 10px 0 0; }
.gamme-14 #agenda-detail .railroad{}
.gamme-14 #agenda-detail .railroad a:firstletter{ text-transform: uppercase; }
.gamme-14 #agenda-detail .extract{}
.gamme-14 #agenda-detail .titre{ color: #b5006f; font-weight: bold; font-size: 12px; text-transform: uppercase; margin: 10px 0; }
.gamme-14 #agenda-detail .content{}
.gamme-14 #agenda-detail .content p{ margin: 10px 0; }
.gamme-14 #agenda-detail .content .infos-pratiques{}
.gamme-14 #agenda-detail .content .infos-pratiques ul li{ background: transparent url("liste_puces_gamme_2.gif") 0 4px no-repeat; margin: 0 0 0 10px; padding: 0 0 0 15px; }
.gamme-14 #agenda-detail .content .infos-pratiques ul li .horaires{}
.gamme-14 #agenda-detail .content .infos-pratiques ul li .lieu{}
.gamme-14 #agenda-detail .content .infos-pratiques ul li .entree{}
.gamme-14 #agenda-detail .content .gallerie{}
.gamme-14 #agenda-detail .content .gallerie .titre{ margin: 10px 0; }
.gamme-14 #agenda-detail .content .gallerie .image img{ width: 115px; }
.gamme-14 #agenda-detail .content .savoir-plus{ margin: 10px 0; background: transparent url("separateur.gif") left top repeat-x; padding: 20px 0 0 0; }
.gamme-14 #agenda-detail .content .savoir-plus .titre{ margin: 5px 0 15px 0; font-size: 12px; font-weight: bold; }
.gamme-14 #agenda-detail .content .savoir-plus ul li{ background: transparent url("puces_rond_gamme_2.gif") left center no-repeat; margin: 0 10px; padding: 0 0 0 15px; }
/* recherche */
.gamme-14 #recherche {}
.gamme-14 #recherche .entete {margin:10px 0 30px 25px;}
.gamme-14 #recherche .entete .uppercase {text-transform:uppercase; font-size:12px; font-weight:bold;}
.gamme-14 #recherche .liste {margin-bottom:20px;}
.gamme-14 #recherche .titre{background-image:url("recherche_gamme_2.gif"); background-repeat:no-repeat; background-position:0 5px; padding-left:10px; font-weight:bold; font-size:12px; color:#b5006f; padding-bottom:3px;}
.gamme-14 #recherche .texte a {color:#000000;}
/* pagination */
.gamme-14 #recherche .pagination {margin-top:20px;color:#b5006f;}
.gamme-14 #recherche .pagination a{color:#b5006f;}
.gamme-14 #recherche .pagination a.pagination_selected {font-weight:bold; font-size:13px;}
.gamme-14 #recherche .pagination a.pagination_previous:hover {text-decoration:none;}
.gamme-14 #recherche .pagination a.pagination_next:hover {text-decoration:none;}


/* GAMME 3 -> GAMME 15 :  SERVIR LES HABITANTS */
/* MENU HEADER */
.general_body .gamme-15 #menu {}
.general_body .gamme-15 #menu li.n_1{float:left; width:295px; background:none;padding-top:2px; }
.general_body .gamme-15 #menu li.n_1 a {display:block; margin-top:10px; height:21px; }
.general_body .gamme-15 #menu li.n_1 a.menu_1 {background-image:url("bgr_menu_bulle.gif"); background-repeat:no-repeat; background-position:25px 1px; margin-left:-25px; color:#626262; font-weight:bold; text-transform:uppercase; font-size:14px; text-align:center; padding-top:3px;}
.general_body .gamme-15 #menu li.n_1 a.menu_2 {background-image:url("bgr_menu_bulle_gamme_3.gif"); background-repeat:no-repeat; background-position:top left; color:#626262; font-weight:bold; text-transform:uppercase; font-size:14px; text-align:center; padding-top:3px;}
.general_body .gamme-15 #menu li.n_1 a.menu_3 {background-image:url("bgr_menu_bulle.gif"); background-repeat:no-repeat; background-position:top left; color:#626262; font-weight:bold; text-transform:uppercase; font-size:14px; text-align:center; padding-top:3px;}
.general_body .gamme-15 #menu li.n_1 a.menu_1:hover {text-decoration:none;background-image:url("bgr_menu_bulle_gamme_2.gif"); background-repeat:no-repeat; background-position:25px 1px; margin-left:-25px;}
.general_body .gamme-15 #menu li.n_1 a.menu_2:hover {text-decoration:none;background-image:url("bgr_menu_bulle_gamme_3.gif"); background-repeat:no-repeat; background-position:top left;}
.general_body .gamme-15 #menu li.n_1 a.menu_3:hover {text-decoration:none;background-image:url("bgr_menu_bulle_gamme_4.gif"); background-repeat:no-repeat; background-position:top left;}
.general_body .gamme-15 #menu .sous_menu{}
.general_body .gamme-15 #menu .sous_menu .top{background-image:url("top.png"); background-repeat:no-repeat; background-position:top left; width:296px; height:11px;  font-size:8px;}
.general_body .gamme-15 #menu .sous_menu .main{background-image:url("repeat.png"); background-repeat:repeat-y; background-position:top left; width:296px;}
.general_body .gamme-15 #menu .sous_menu .bottom{background-image:url("bottom.png"); background-repeat:no-repeat; background-position:top left; width:296px; height:26px;}
*html .general_body .gamme-15 #menu .sous_menu .top {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://217.174.222.104/cg06-internet/cms/cg06/css/gammes/menu/top.png', sizingMethod='scale');background: none;}
*html .general_body .gamme-15 #menu .sous_menu .main {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://217.174.222.104/cg06-internet/cms/cg06/css/gammes/menu/repeat.png', sizingMethod='scale');background: none; width:296px; background-repeat:repeat-y;}
*html .general_body .gamme-15 #menu .sous_menu .bottom {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://217.174.222.104/cg06-internet/cms/cg06/css/gammes/menu/bottom.png', sizingMethod='scale');background: none;}
.general_body .gamme-15 #menu #menu_1 {overflow:hidden; position:absolute; margin-left:15px; top :319px; !top :319px; z-index:15;}
.general_body .gamme-15 #menu #menu_2 {overflow:hidden; position:absolute; margin-left:340px;top :319px; !top :319px; z-index:15;}
.general_body .gamme-15 #menu #menu_3 {overflow:hidden; position:absolute; margin-left:655px;top :319px; !top :319px; z-index:15;}
.general_body .gamme-15 #menu #menu_1 .main li{background:transparent url(puces_rond_gamme_2.gif) 0 50% no-repeat; padding:0 0 0 15px; width:250px;}
.general_body .gamme-15 #menu #menu_1 .main li a{color:#b5006f; font-weight:bold; line-height:1.5;}
.general_body .gamme-15 #menu #menu_1 .main li a:hover{background-color:#e7c1d8;}
.general_body .gamme-15 #menu #menu_2 .main li{background:transparent url(puces_rond_gamme_3.gif) 0 50% no-repeat; padding:0 0 0 15px; color:#689b1f; font-weight:bold; width:250px;}
.general_body .gamme-15 #menu #menu_2 .main li a{color:#689b1f;  font-weight:bold; line-height:1.5;}
.general_body .gamme-15 #menu #menu_2 .main li a:hover{background-color:#c6e699;}
.general_body .gamme-15 #menu #menu_3 .main li{background:transparent url(puces_rond_gamme_4.gif) 0 50% no-repeat; padding:0 0 0 15px; color:#fe7800; font-weight:bold; width:250px;}
.general_body .gamme-15 #menu #menu_3 .main li a{color:#fe7800;  font-weight:bold; line-height:1.5;}
.general_body .gamme-15 #menu #menu_3 .main li a:hover{background-color:#e8ccb3;}
/* titre */
/*.gamme-15 h1.titre {color:#689b1f; font-size:18px; font-weight:bold; text-transform:uppercase; background-image:url("gammes/puces/puces_titre_gamme_3.gif"); background-repeat:no-repeat; background-position:0 2px; !background-position:0 1px; padding-left:25px; margin:10px 0 10px 0;}*/
.gamme-15 h1.titre { font-family:Arial, Helvetica, sans-serif;color:#454545; border-bottom: dotted 1px #454545; font-size:17px; font-weight:bold; text-transform:uppercase; background-image:url("puces_titre_gamme_3.gif"); background-repeat:no-repeat; background-position:0 -2px; !background-position:0 1px; padding-left:25px; padding-bottom:5px; margin:20px 0 3px 0;}
*+html .gamme-15 h1.titre { font-family:Arial, Helvetica, sans-serif;color:#454545; border-bottom: dotted 1px #454545; font-size:17px; font-weight:bold; text-transform:uppercase; background-image:url("puces_titre_gamme_3.gif"); background-repeat:no-repeat; background-position:0 -2px; !background-position:0 -2px; padding-left:25px; padding-bottom:5px; margin:20px 0 3px 0;}
.gamme-15 .sous_titre_gamme_3 {color:#689b1f; font-weight:bold; text-transform:uppercase; font-size:12px; display:block; margin:10px 0px}
.gamme-15 li {background-image:url("http://www.cg06.fr/cms/cg06/css/gammes/puces/liste_puces_gamme_3.gif"); background-repeat:no-repeat; background-position:0 4px; padding-left:15px; margin-left:10px;}
.gamme-15 li li {background-image:url("liste_puces_n2.gif"); background-repeat:no-repeat; background-position:0 5px; padding-left:10px; margin-left:5px;}
.gamme-15 a {color:#2b2569; text-decoration:none;}
/*.gamme-15 a {color:#689b1f;}*/

/* MENU GAUCHE */
.gamme-15 .menugauche {width:185px; padding-top:15px; background-color:#F2F2F2; border-right:dotted 1px #333333;} /* background-image:url(gammes/menu_gauche/fondombre.jpg); background-repeat:repeat-y;*/
.gamme-15 .menugauche p {line-height:1.5;}
.gamme-15 .menugauche a:hover{text-decoration:underline;}
.gamme-15 .menugauche-bottom {width:185px; height:100px;background-image:url("menugauche-bottom.jpg"); background-repeat:no-repeat; background-position:top left;}
.gamme-15 .menugauche-n-1-current {width:150px; text-align:left;background-image:url("puces_menugauche_gamme_15.gif"); background-repeat:no-repeat; background-position:0 2px; padding-left:15px; padding-bottom:2px; margin-left:8px; border-bottom:dotted 1px #689b1f; border-top:dotted 1px #689b1f; background-color:#f3ffe1;}
.gamme-15 .menugauche-n-1-current a {color:#525353; font-weight:bold; font-size:12px;}
.gamme-15 .menugauche-n-1 {width:150px; text-align:left;background-image:url("puces_menugauche_generique.gif"); background-repeat:no-repeat; background-position:0 3px; padding:3px 0 3px 15px; margin-left:8px;}
.gamme-15 .menugauche-n-1-offline {background-image:url("fleche_carre_gamme_3.gif"); background-repeat:no-repeat; background-position:0 5px; padding-left:15px;margin-left:8px;}
.gamme-15 .menugauche-n-1-offline a {color:#ff4545; font-weight:bold; font-size:12px;}
.gamme-15 .menugauche-n-1 a {color:#525353; font-weight:bold; font-size:12px;}

.gamme-15 .menugauche-n-2-current {width:150px; text-align:left;background-image:url("fleche_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 4px; padding-left:12px; margin-left:13px;}
.gamme-15 .menugauche-n-2-current a {color:#525353; font-weight:bold; font-size:11px;}
.gamme-15 .menugauche-n-2-offline {background-image:url("fleche_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 4px; padding-left:12px; margin-left:13px;}
.gamme-15 .menugauche-n-2-offline a {color:#ff4545; font-weight:bold; font-size:11px;}
.gamme-15 .menugauche-n-2 {width:150px; text-align:left;background-image:url("fleche_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 4px; padding-left:12px;  margin-left:13px;}
.gamme-15 .menugauche-n-2 a {color:#525353; font-size:11px;}

.gamme-15 .menugauche-n-3-current {width:146px; text-align:left;background-image:url("moins_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 7px; padding-left:12px; margin-left:25px;}
.gamme-15 .menugauche-n-3-current a {color:#689b1f; font-size:11px;}
.gamme-15 .menugauche-n-3-offline {width:146px; text-align:left;background-image:url("moins_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 7px; padding-left:12px; margin-left:25px;}
.gamme-15 .menugauche-n-3-offline a {color:#ff4545; font-weight:bold; font-size:11px;}
.gamme-15 .menugauche-n-3 {width:146px; text-align:left;background-image:url("plus_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 4px; padding-left:12px;  margin-left:25px;}
.gamme-15 .menugauche-n-3 a {color:#525353; font-size:11px;}

.gamme-15 .menugauche-n-4-current {background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:30px;width:130px;}
.gamme-15 .menugauche-n-4-current a {color:#525353; font-weight:bold; font-size:10px;}
.gamme-15 .menugauche-n-4-offline {width:150px; text-align:left;background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:30px;width:130px;}
.gamme-15 .menugauche-n-4-offline a {color:#ff4545; font-weight:bold; font-size:10px;}
.gamme-15 .menugauche-n-4 {width:150px; text-align:left;background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:30px;width:130px;}
.gamme-15 .menugauche-n-4 a {color:#525353; font-size:10px;}

.gamme-15 .menugauche-n-5-current {background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:40px;width:130px;}
.gamme-15 .menugauche-n-5-current a {color:#525353; font-weight:bold; font-size:10px; font-style:italic;}
.gamme-15 .menugauche-n-5-offline {width:150px; text-align:left;background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:40px;width:130px;}
.gamme-15 .menugauche-n-5-offline a {color:#ff4545; font-weight:bold; font-size:10px; font-style:italic;}
.gamme-15 .menugauche-n-5 {width:150px; text-align:left;background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:40px;width:130px;}
.gamme-15 .menugauche-n-5 a {color:#525353; font-size:10px; font-style:italic;}

.gamme-15 .menugauche-n-6-current {background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:40px;width:130px;}
.gamme-15 .menugauche-n-6-current a {color:#525353; font-weight:bold; font-size:9px;}
.gamme-15 .menugauche-n-6-offline {width:150px; text-align:left;background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:40px;width:130px;}
.gamme-15 .menugauche-n-6-offline a {color:#ff4545; font-weight:bold; font-size:9px;}
.gamme-15 .menugauche-n-6 {width:150px; text-align:left;background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:40px;width:130px;}
.gamme-15 .menugauche-n-6 a {color:#525353; font-size:9px;}

/* BLOC LIENS BOTTOM */
.gamme-15 .bloc_liens_bottom_gamme .gamme_liens_l{color:#689b1f; font-weight:bold; font-size:12px; margin:15px 0 10px 0; display:block;}
.gamme-15 .bloc_liens_bottom_gamme li {background-image:url("puces_rond_gamme_3.gif"); background-repeat:no-repeat; background-position:center left; padding-left:15px; margin-left:10px; color:#525353; margin-right:10px;}
.gamme-15 .bloc_liens_bottom_gamme li a {color:#525353;}
.bloc_grey_imp {margin:15px 0px;}
.gamme-15 .separeteur_bloc_liens_bottom_gamme {background-image:url("separateur.gif"); background-repeat:repeat-x; background-position:top left; height:4px; width:100%;}
/* FAQ */
.gamme-15  #faq{}
.gamme-15 #faq .qr-item  .qr-r {display:none;position:relative;}	
.gamme-15 #faq .qr-item-selected .qr-r{display:block;}	
.gamme-15 #faq .qr-q {cursor:pointer;position:relative;}	
.gamme-15 #faq .qr-item-selected .qr-r {overflow:hidden;color:#525353; padding:10px 0 0px 40px;}
.gamme-15 #faq .qr-item-selected .qr-q {background-image:url("faq_open_gamme_3.gif"); background-repeat:no-repeat; padding-left:15px; background-position:0 0px; font-size:12px; font-weight:bold; color:#689b1f;}
.gamme-15 #faq .qr-item-not-selected .qr-q {background-image:url("faq_close_gamme_0.gif"); background-repeat:no-repeat; padding-left:15px; background-position:0 3px;font-size:12px; font-weight:bold; color:#46688b;}
.gamme-15 #faq .separateur {margin:15px 0; background-image:url("separateur.gif"); background-repeat:repeat-x; background-position:top left; height:4px; width:100%;}
/* AGENDA */
.gamme-15 #agenda {}
/* liste */
.gamme-15 #agenda .liste_agenda table.liste tr {border-bottom:11px solid #FFFFFF;}
.gamme-15 #agenda .liste_agenda .liste {}
.gamme-15 #agenda .liste_agenda .liste .titre{color:#689b1f; font-weight:bold; font-size:11px; padding-bottom:5px;}
.gamme-15 #agenda .liste_agenda .liste .texte{}
.gamme-15 #agenda .liste_agenda .liste .lien{padding-top:5px;}
.gamme-15 #agenda .liste_agenda .liste .lien a{color:#689b1f;}
/* pagination */
.gamme-15 #agenda .liste_agenda .pagination {margin-top:20px;color:#689b1f;}
.gamme-15 #agenda .liste_agenda .pagination a{color:#689b1f;}
.gamme-15 #agenda .liste_agenda .pagination a.pagination_selected {font-weight:bold; font-size:13px;}
.gamme-15 #agenda .liste_agenda .pagination a.pagination_previous:hover {text-decoration:none;}
.gamme-15 #agenda .liste_agenda .pagination a.pagination_next:hover {text-decoration:none;}
/* details */
.gamme-15 #agenda .details_agenda .titre{color:#689b1f; font-weight:bold; font-size:11px; padding-bottom:5px;}
.gamme-15 #agenda .details_agenda .separateur {margin:15px 0; background-image:url("separateur.gif"); background-repeat:repeat-x; background-position:top left; height:4px; width:100%;}
/* agenda-detail */
.gamme-15 #agenda-detail{}
.gamme-15 #agenda-detail .image{ float: left; margin: 0 10px 0 0; }
.gamme-15 #agenda-detail .railroad{}
.gamme-15 #agenda-detail .railroad a:firstletter{ text-transform: uppercase; }
.gamme-15 #agenda-detail .extract{}
.gamme-15 #agenda-detail .titre{ color: #689b1f; font-weight: bold; font-size: 12px; text-transform: uppercase; margin: 10px 0; }
.gamme-15 #agenda-detail .content{}
.gamme-15 #agenda-detail .content p{ margin: 10px 0; }
.gamme-15 #agenda-detail .content .infos-pratiques{}
.gamme-15 #agenda-detail .content .infos-pratiques ul li{ background: transparent url("http://www.cg06.fr/cms/cg06/css/gammes/puces/liste_puces_gamme_3.gif") 0 4px no-repeat; margin: 0 0 0 10px; padding: 0 0 0 15px; }
.gamme-15 #agenda-detail .content .infos-pratiques ul li .horaires{}
.gamme-15 #agenda-detail .content .infos-pratiques ul li .lieu{}
.gamme-15 #agenda-detail .content .infos-pratiques ul li .entree{}
.gamme-15 #agenda-detail .content .gallerie{}
.gamme-15 #agenda-detail .content .gallerie .titre{ margin: 10px 0; }
.gamme-15 #agenda-detail .content .gallerie .image img{ width: 115px; }
.gamme-15 #agenda-detail .content .savoir-plus{ margin: 10px 0; background: transparent url("separateur.gif") left top repeat-x; padding: 20px 0 0 0; }
.gamme-15 #agenda-detail .content .savoir-plus .titre{ margin: 5px 0 15px 0; font-size: 12px; font-weight: bold; }
.gamme-15 #agenda-detail .content .savoir-plus ul li{ background: transparent url("puces_rond_gamme_3.gif") left center no-repeat; margin: 0 10px; padding: 0 0 0 15px; }
/* recherche */
.gamme-15 #recherche {}
.gamme-15 #recherche .entete {margin:10px 0 30px 25px;}
.gamme-15 #recherche .entete .uppercase {text-transform:uppercase; font-size:12px; font-weight:bold;}
.gamme-15 #recherche .liste {margin-bottom:20px;}
.gamme-15 #recherche .titre{background-image:url("recherche_gamme_3.gif"); background-repeat:no-repeat; background-position:0 5px; padding-left:10px; font-weight:bold; font-size:12px; color:#689b1f; padding-bottom:3px;}
.gamme-15 #recherche .texte a {color:#000000;}
/* pagination */
.gamme-15 #recherche .pagination {margin-top:20px;color:#689b1f;}
.gamme-15 #recherche .pagination a{color:#689b1f;}
.gamme-15 #recherche .pagination a.pagination_selected {font-weight:bold; font-size:13px;}
.gamme-15 #recherche .pagination a.pagination_previous:hover {text-decoration:none;}
.gamme-15 #recherche .pagination a.pagination_next:hover {text-decoration:none;}

/* GAMME 4 -> GAMME 16 : DECOUVRIR LES AM*/
/* MENU HEADER */
.general_body .gamme-16 #menu {}
.general_body .gamme-16 #menu li.n_1{float:left; width:295px; background:none;padding-top:2px; }
.general_body .gamme-16 #menu li.n_1 a {display:block; margin-top:10px; height:21px; }
.general_body .gamme-16 #menu li.n_1 a.menu_1 {background-image:url("bgr_menu_bulle.gif"); background-repeat:no-repeat; background-position:25px 1px; margin-left:-25px; color:#626262; font-weight:bold; text-transform:uppercase; font-size:14px; text-align:center; padding-top:3px;}
.general_body .gamme-16 #menu li.n_1 a.menu_2 {background-image:url("bgr_menu_bulle.gif"); background-repeat:no-repeat; background-position:top left; color:#626262; font-weight:bold; text-transform:uppercase; font-size:14px; text-align:center; padding-top:3px;}
.general_body .gamme-16 #menu li.n_1 a.menu_3 {background-image:url("bgr_menu_bulle_gamme_4.gif"); background-repeat:no-repeat; background-position:top left; color:#626262; font-weight:bold; text-transform:uppercase; font-size:14px; text-align:center; padding-top:3px;}
.general_body .gamme-16 #menu li.n_1 a.menu_1:hover {text-decoration:none;background-image:url("bgr_menu_bulle_gamme_2.gif"); background-repeat:no-repeat; background-position:25px 1px; margin-left:-25px;}
.general_body .gamme-16 #menu li.n_1 a.menu_2:hover {text-decoration:none;background-image:url("bgr_menu_bulle_gamme_3.gif"); background-repeat:no-repeat; background-position:top left;}
.general_body .gamme-16 #menu li.n_1 a.menu_3:hover {text-decoration:none;background-image:url("bgr_menu_bulle_gamme_4.gif"); background-repeat:no-repeat; background-position:top left;}
.general_body .gamme-16 #menu .sous_menu{}
.general_body .gamme-16 #menu .sous_menu .top{background-image:url("top.png"); background-repeat:no-repeat; background-position:top left; width:296px; height:11px;  font-size:8px;}
*html .general_body .gamme-16 #menu .sous_menu .top {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://217.174.222.104/cg06-internet/cms/cg06/css/gammes/menu/top.png', sizingMethod='scale');background: none;}
.general_body .gamme-16 #menu .sous_menu .main{background-image:url("repeat.png"); background-repeat:repeat-y; background-position:top left; width:296px;}
*html .general_body .gamme-16 #menu .sous_menu .main {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://217.174.222.104/cg06-internet/cms/cg06/css/gammes/menu/repeat.png', sizingMethod='scale');background: none; width:296px; background-repeat:repeat-y;}
.general_body .gamme-16 #menu .sous_menu .bottom{background-image:url("bottom.png"); background-repeat:no-repeat; background-position:top left; width:296px; height:26px;}
*html .general_body .gamme-16 #menu .sous_menu .bottom {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://217.174.222.104/cg06-internet/cms/cg06/css/gammes/menu/bottom.png', sizingMethod='scale');background: none;}
.general_body .gamme-16 #menu #menu_1 {overflow:hidden; position:absolute; margin-left:15px; top :319px; !top :319px; z-index:15;}
.general_body .gamme-16 #menu #menu_2 {overflow:hidden; position:absolute; margin-left:340px;top :319px; !top :319px; z-index:15;}
.general_body .gamme-16 #menu #menu_3 {overflow:hidden; position:absolute; margin-left:655px;top :319px; !top :319px; z-index:15;}
.general_body .gamme-16 #menu #menu_1 .main li{background:transparent url(puces_rond_gamme_2.gif) 0 50% no-repeat; padding:0 0 0 15px; width:250px;}
.general_body .gamme-16 #menu #menu_1 .main li a{color:#b5006f; font-weight:bold; line-height:1.5;}
.general_body .gamme-16 #menu #menu_1 .main li a:hover{background-color:#e7c1d8;}
.general_body .gamme-16 #menu #menu_2 .main li{background:transparent url(puces_rond_gamme_3.gif) 0 50% no-repeat; padding:0 0 0 15px; color:#689b1f; font-weight:bold; width:250px;}
.general_body .gamme-16 #menu #menu_2 .main li a{color:#689b1f; font-weight:bold; line-height:1.5;}
.general_body .gamme-16 #menu #menu_2 .main li a:hover{background-color:#c6e699;}
.general_body .gamme-16 #menu #menu_3 .main li{background:transparent url(puces_rond_gamme_4.gif) 0 50% no-repeat; padding:0 0 0 15px; color:#fe7800; font-weight:bold; width:250px;}
.general_body .gamme-16 #menu #menu_3 .main li a{color:#fe7800; font-weight:bold; line-height:1.5;}
.general_body .gamme-16 #menu #menu_3 .main li a:hover{background-color:#e8ccb3;}
/* titre */
.gamme-16 h1.titre { font-family:Arial, Helvetica, sans-serif;color:#454545; border-bottom: dotted 1px #454545; font-size:17px; font-weight:bold; text-transform:uppercase; background-image:url("puces_titre_gamme_4.gif"); background-repeat:no-repeat; background-position:0 -2px; !background-position:0 1px; padding-left:25px; padding-bottom:5px; margin:10px 0 3px 0;}
*+html .gamme-16 h1.titre { font-family:Arial, Helvetica, sans-serif;color:#454545; border-bottom: dotted 1px #454545; font-size:17px; font-weight:bold; text-transform:uppercase; background-image:url("puces_titre_gamme_4.gif"); background-repeat:no-repeat; background-position:0 -2px; !background-position:0 -2px; padding-left:25px; padding-bottom:5px; margin:10px 0 3px 0;}
.gamme-16 .sous_titre_gamme_4 {color:#fe7800; font-weight:bold; text-transform:uppercase; font-size:12px; display:block; margin:10px 0px}
.gamme-16 li {background-image:url("http://www.cg06.fr/cms/cg06/css/gammes/puces/liste_puces_gamme_4.gif"); background-repeat:no-repeat; background-position:0 4px; padding-left:15px; margin-left:10px;}
.gamme-16 li li {background-image:url("liste_puces_n2.gif"); background-repeat:no-repeat; background-position:0 5px; padding-left:10px; margin-left:5px;}
.gamme-16 a {color:#2b2569; text-decoration:none;}
/*.gamme-16 a {color:#fe7800;}*/

/* MENU GAUCHE */
/*.gamme-16 .menugauche {width:185px; padding-top:15px; border-right:dotted 1px #333333;}*/
/*.gamme-16 .menugauche {width:200px; padding-top:15px; background-image:url(gammes/menu_gauche/fondombre.jpg); background-repeat:repeat-y;}*/
.gamme-16 .menugauche {width:185px; padding-top:15px; background-color:#F2F2F2; border-right:dotted 1px #333333;}
.gamme-16 .menugauche p {line-height:1.5;}
.gamme-16 .menugauche a:hover{text-decoration:underline;}
.gamme-16 .menugauche-bottom {width:185px; height:100px;background-image:url("menugauche-bottom.jpg"); background-repeat:no-repeat; background-position:top left;}
.gamme-16 .menugauche-n-1-current {width:150px; text-align:left;background-image:url("puces_menugauche_gamme_16.gif"); background-repeat:no-repeat; background-position:0 2px; padding-left:15px; padding-bottom:2px; margin-left:8px; border-bottom:dotted 1px #fe7800 ; border-top:dotted 1px #fe7800 ; background-color:#fef1e6;}
.gamme-16 .menugauche-n-1-current a {color:#525353; font-weight:bold; font-size:12px;}
.gamme-16 .menugauche-n-1-offline {background-image:url("fleche_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 5px; padding-left:15px;margin-left:8px;}
.gamme-16 .menugauche-n-1-offline a {color:#ff4545; font-weight:bold; font-size:12px;}
.gamme-16 .menugauche-n-1 {width:150px; text-align:left;background-image:url("puces_menugauche_generique.gif"); background-repeat:no-repeat; background-position:0 3px; padding:3px 0 3px 15px; margin-left:8px;}
.gamme-16 .menugauche-n-1 a {color:#525353; font-weight:bold; font-size:12px;}

.gamme-16 .menugauche-n-2-current {width:150px; text-align:left;background-image:url("fleche_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 4px; padding-left:12px; margin-left:13px;}
.gamme-16 .menugauche-n-2-current a {color:#525353; font-weight:bold; font-size:11px;}
.gamme-16 .menugauche-n-2-offline {background-image:url("fleche_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 4px; padding-left:12px; margin-left:13px;}
.gamme-16 .menugauche-n-2-offline a {color:#ff4545; font-weight:bold; font-size:11px;}
.gamme-16 .menugauche-n-2 {width:150px; text-align:left;background-image:url("fleche_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 4px; padding-left:12px;  margin-left:13px;}
.gamme-16 .menugauche-n-2 a {color:#525353; font-size:11px;}

.gamme-16 .menugauche-n-3-current {width:146px; text-align:left;background-image:url("moins_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 7px; padding-left:12px; margin-left:25px;}
.gamme-16 .menugauche-n-3-current a {color:#fe7800 ; font-size:11px;}
.gamme-16 .menugauche-n-3-offline {width:146px; text-align:left;background-image:url("moins_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 7px; padding-left:12px; margin-left:25px;}
.gamme-16 .menugauche-n-3-offline a {color:#ff4545; font-weight:bold; font-size:11px;}
.gamme-16 .menugauche-n-3 {width:146px; text-align:left;background-image:url("plus_gamme_gris.gif"); background-repeat:no-repeat; background-position:0 4px; padding-left:12px;  margin-left:25px;}
.gamme-16 .menugauche-n-3 a {color:#525353; font-size:11px;}

.gamme-16 .menugauche-n-4-current {background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:30px;width:130px;}
.gamme-16 .menugauche-n-4-current a {color:#525353; font-weight:bold; font-size:10px;}
.gamme-16 .menugauche-n-4-offline {width:150px; text-align:left;background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:30px;width:130px;}
.gamme-16 .menugauche-n-4-offline a {color:#ff4545; font-weight:bold; font-size:10px;}
.gamme-16 .menugauche-n-4 {width:150px; text-align:left;background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:30px;width:130px;}
.gamme-16 .menugauche-n-4 a {color:#525353; font-size:10px;}

.gamme-16 .menugauche-n-5-current {background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:40px;width:130px;}
.gamme-16 .menugauche-n-5-current a {color:#525353; font-weight:bold; font-size:10px;font-style:italic;}
.gamme-16 .menugauche-n-5-offline {width:150px; text-align:left;background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:40px;width:130px;}
.gamme-16 .menugauche-n-5-offline a {color:#ff4545; font-weight:bold; font-size:10px;font-style:italic;}
.gamme-16 .menugauche-n-5 {width:150px; text-align:left;background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:40px;width:130px;}
.gamme-16 .menugauche-n-5 a {color:#525353; font-size:10px;font-style:italic;}

.gamme-16 .menugauche-n-6-current {background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:40px;width:130px;}
.gamme-16 .menugauche-n-6-current a {color:#525353; font-weight:bold; font-size:9px;}
.gamme-16 .menugauche-n-6-offline {width:150px; text-align:left;background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:40px;width:130px;}
.gamme-16 .menugauche-n-6-offline a {color:#ff4545; font-weight:bold; font-size:9px;}
.gamme-16 .menugauche-n-6 {width:150px; text-align:left;background-image:url("point_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px; padding-left:7px; margin-left:40px;width:130px;}
.gamme-16 .menugauche-n-6 a {color:#525353; font-size:9px;}

/* BLOC LIENS BOTTOM */
.gamme-16 .bloc_liens_bottom_gamme .gamme_liens_l{color:#fe7800; font-weight:bold; font-size:12px; margin:15px 0 10px 0; display:block;}
.gamme-16 .bloc_liens_bottom_gamme li {background-image:url("puces_rond_gamme_4.gif"); background-repeat:no-repeat; background-position:center left; padding-left:15px; margin-left:10px; color:#525353; margin-right:10px;}
.gamme-16 .bloc_liens_bottom_gamme li a {color:#525353;}
.bloc_grey_imp {margin:15px 0px;}
.gamme-16 .separeteur_bloc_liens_bottom_gamme {background-image:url("separateur.gif"); background-repeat:repeat-x; background-position:top left; height:4px; width:100%;}
/* FAQ */
.gamme-16  #faq{ margin:20px 0;}
.gamme-16  #faq #questions-reponses {margin:40px 0;}
.gamme-16  #faq #formulaire-header {font-size:12px; font-weight:bold;}
.gamme-16 #faq .qr-item  .qr-r {display:none;position:relative;}	
.gamme-16 #faq .qr-item-selected .qr-r{display:block;}	
.gamme-16 #faq .qr-q {cursor:pointer;position:relative;}	
.gamme-16 #faq .qr-item-selected .qr-r {overflow:hidden;color:#525353; padding:10px 0 0px 40px;}
.gamme-16 #faq .qr-item-selected .qr-q {background-image:url("faq_open_gamme_4.gif"); background-repeat:no-repeat; padding-left:15px; background-position:0 0px; font-size:11px; font-weight:bold; color:#fe7800;}
.gamme-16 #faq .qr-item-not-selected .qr-q {background-image:url("faq_close_gamme_0.gif"); background-repeat:no-repeat; padding-left:15px; background-position:0 3px;font-size:11px; font-weight:bold; color:#46688b;}
.gamme-16 #faq .separateur {margin:15px 0; background-image:url("separateur.gif"); background-repeat:repeat-x; background-position:top left; height:4px; width:100%;}
.gamme-16 #faq fieldset {padding-top:20px;}
.gamme-16 #faq fieldset p label{float:left;padding-right:20px;text-align:right;width:130px; font-weight:bold; font-size:11px;}
.gamme-16 #faq fieldset p{margin-bottom:5px;}
.gamme-16 #faq select, #faq .gamme-1 input, #faq .gamme-1 textarea{font-size:1.1em;letter-spacing:1px;}
.gamme-16 #faq input, #faq .gamme-1 textarea {width:250px;}
.gamme-16 #faq #bouton-valider {color:#FFFFFF; font-weight:bold; width:250px; padding:2px 0; background-color:#46688B; border:none;}


/* AGENDA */
.gamme-16 #agenda {}
/* liste */
.gamme-16 #agenda .liste_agenda table.liste tr {border-bottom:11px solid #FFFFFF;}
.gamme-16 #agenda .liste_agenda .liste {}
.gamme-16 #agenda .liste_agenda .liste .titre{color:#fe7800; font-weight:bold; font-size:11px; padding-bottom:5px;}
.gamme-16 #agenda .liste_agenda .liste .texte{}
.gamme-16 #agenda .liste_agenda .liste .lien{padding-top:5px;}
.gamme-16 #agenda .liste_agenda .liste .lien a{color:#fe7800;}
/* pagination */
.gamme-16 #agenda .liste_agenda .pagination {margin-top:20px;color:#fe7800;}
.gamme-16 #agenda .liste_agenda .pagination a{color:#fe7800;}
.gamme-16 #agenda .liste_agenda .pagination a.pagination_selected {font-weight:bold; font-size:13px;}
.gamme-16 #agenda .liste_agenda .pagination a.pagination_previous:hover {text-decoration:none;}
.gamme-16 #agenda .liste_agenda .pagination a.pagination_next:hover {text-decoration:none;}
/* details */
.gamme-16 #agenda .details_agenda .titre{color:#fe7800; font-weight:bold; font-size:11px; padding-bottom:5px;}
.gamme-16 #agenda .details_agenda .separateur {margin:15px 0; background-image:url("separateur.gif"); background-repeat:repeat-x; background-position:top left; height:4px; width:100%;}
/* agenda-detail */
.gamme-16 #agenda-detail{}
.gamme-16 #agenda-detail .image{ float: left; margin: 0 10px 0 0; }
.gamme-16 #agenda-detail .railroad{}
.gamme-16 #agenda-detail .railroad a:firstletter{ text-transform: uppercase; }
.gamme-16 #agenda-detail .extract{}
.gamme-16 #agenda-detail .titre{ color: #fe7800; font-weight: bold; font-size: 12px; text-transform: uppercase; margin: 10px 0; }
.gamme-16 #agenda-detail .content{}
.gamme-16 #agenda-detail .content p{ margin: 10px 0; }
.gamme-16 #agenda-detail .content .infos-pratiques{}
.gamme-16 #agenda-detail .content .infos-pratiques ul li{ background: transparent url("http://www.cg06.fr/cms/cg06/css/gammes/puces/liste_puces_gamme_4.gif") 0 4px no-repeat; margin: 0 0 0 10px; padding: 0 0 0 15px; }
.gamme-16 #agenda-detail .content .infos-pratiques ul li .horaires{}
.gamme-16 #agenda-detail .content .infos-pratiques ul li .lieu{}
.gamme-16 #agenda-detail .content .infos-pratiques ul li .entree{}
.gamme-16 #agenda-detail .content .gallerie{}
.gamme-16 #agenda-detail .content .gallerie .titre{ margin: 10px 0; }
.gamme-16 #agenda-detail .content .gallerie .image img{ width: 115px; }
.gamme-16 #agenda-detail .content .savoir-plus{ margin: 10px 0; background: transparent url("separateur.gif") left top repeat-x; padding: 20px 0 0 0; }
.gamme-16 #agenda-detail .content .savoir-plus .titre{ margin: 5px 0 15px 0; font-size: 12px; font-weight: bold; }
.gamme-16 #agenda-detail .content .savoir-plus ul li{ background: transparent url("puces_rond_gamme_4.gif") left center no-repeat; margin: 0 10px; padding: 0 0 0 15px; }
/* recherche */
.gamme-16 #recherche {}
.gamme-16 #recherche .entete {margin:10px 0 30px 25px;}
.gamme-16 #recherche .entete .uppercase {text-transform:uppercase; font-size:12px; font-weight:bold;}
.gamme-16 #recherche .liste {margin-bottom:20px;}
.gamme-16 #recherche .titre{background-image:url("recherche_gamme_4.gif"); background-repeat:no-repeat; background-position:0 5px; padding-left:10px; font-weight:bold; font-size:12px; color:#fe7800; padding-bottom:3px;}
.gamme-16 #recherche .texte a {color:#000000;}
/* pagination */
.gamme-16 #recherche .pagination {margin-top:20px;color:#fe7800;}
.gamme-16 #recherche .pagination a{color:#fe7800;}
.gamme-16 #recherche .pagination a.pagination_selected {font-weight:bold; font-size:13px;}
.gamme-16 #recherche .pagination a.pagination_previous:hover {text-decoration:none;}
.gamme-16 #recherche .pagination a.pagination_next:hover {text-decoration:none;}

/* archives : gestion de la présentation de la page des outils de recherche et documents numérisés */


.gamme-16 #archives-bases{ margin:20px 0;}
.gamme-16 #archives-bases #questions-reponses {margin:40px 0;}
.gamme-16 #archives-bases #formulaire-header {font-size:12px; font-weight:bold;}
.gamme-16 #archives-bases .qr-item  .qr-r {display:none;position:relative;}	
.gamme-16 #archives-bases .qr-item-selected .qr-r{display:block;}	
.gamme-16 #archives-bases .qr-q {cursor:pointer;position:relative;}	
.gamme-16 #archives-bases .qr-item-selected .qr-r {overflow:hidden;color:#525353; padding:2px 0 15px 16px; }
.gamme-16 #archives-bases .qr-item-selected .qr-q {/*background-image:url("gammes/puces/faq_open_gamme_4.gif"); background-repeat:no-repeat;  background-position:0 0px;*/padding-left:15px; font-size:10px; font-weight:bold; color:#fe7800;}
.gamme-16 #archives-bases .qr-item-not-selected .qr-q {padding-bottom:5px;/*background-image:url("gammes/puces/faq_close_gamme_0.gif");*/ background-repeat:no-repeat; padding-left:15px; background-position:0 3px;font-size:10px;  /*color:#46688b;*/ color:#999999;}
.gamme-16 #archives-bases .separateur {margin:2px 0; background-image:url("separateur.gif"); background-repeat:repeat-x; background-position:top left; height:4px; width:100%;}
.gamme-16 #archives-bases fieldset {padding-top:20px;}
.gamme-16 #archives-bases fieldset p label{float:left;padding-right:20px;text-align:right;width:130px; font-weight:bold; font-size:11px;}
.gamme-16 #archives-bases fieldset p{margin-bottom:5px;}
.gamme-16 #archives-bases select, #archives-bases .gamme-1 input, #archives-bases .gamme-1 textarea{font-size:1.1em;letter-spacing:1px;}
.gamme-16 #archives-bases input, #archives-bases .gamme-1 textarea {width:250px;}
.gamme-16 #archives-bases #bouton-valider {color:#FFFFFF; font-weight:bold; width:250px; padding:2px 0; background-color:#46688B; border:none;}
.gamme-16 #archives-bases a{background-image:url("faq_close_gamme_0.gif"); background-repeat:no-repeat; padding-left:15px; background-position:0 3px;font-size:12px; /*font-weight:bold;*/ color:#46688b;}

