/**************** FEUILLE DE STYLE - CG06 - GRILLES *****************/
/*--------------------------------------------------------------------
GAMME 1 : #02B7D3
GAMME 2 : #b5006f
GAMME 3 : #689b1f
GAMME 4 : #fe7800
-------------------------------------------------------------------- */
* {margin:0;  padding:0;}
/* RESET WHITE SPACE */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;  padding:0; } 
table { border-collapse:collapse;  border-spacing:0;  } 
fieldset {   border:0; } 
address,caption,cite,code,dfn,em,th,var {  font-style:normal;  font-weight:normal; } 
ol,ul { list-style:none; } 
caption,th {  text-align:left; } 
h1,h2,h3,h4,h5,h6 { font-size:100%;  font-weight:normal; } 
/* RESET WHITE SPACE */
html, body {}
body {font:10px Arial, Helvetica, sans-serif; text-align:justify; color: #000000; background-color:red;}
/************* OBJETS GLOBALS *********************/
a  {text-decoration:none; outline:none; position:relative;}
p { }
a:hover { text-decoration:underline}
img { border:none; }
ul, li { list-style:none; text-align:left}
/********** MISC CLASSES *************/
.offline { border:1px solid red; }
.btn-back { text-align: right; padding-top: 20px;}
.bloc-list-01 { padding-bottom:2px}
.left { float:left}
.right { float:right}
.txt-left { text-align:left}
.txt-right { text-align:right}
.clear { clear:both; padding-bottom:2px}
/*********** GLOBAL ************/


/* PRINT */
#image_print {display:block;}

/************ JUMP PAGE ************/
/* --------- NO IMPRESSION ------- */
.jump_body {}
.jump_body #menu{display:none;}
.jump_body #center{display:none;}
.jump_body .acces {display:none;}
.jump_body #bandeau {background:none;}
/************ JUMP PAGE ************/

/************ HOME PAGE ************/
/* --------- NO IMPRESSION ------- */
.general_body {}
.general_body #menu{display:none;}
.general_body .homepage_grid{display:none;}
.general_body .accueil {display:none;}
.general_body .profil {display:none;}
.general_body #bandeau {background:none;}
/************ HOME PAGE ************/

/* RECHERCHE */
#rechercher_global {display:none; border:1px solid red;}

/* GENERAL */
#global {}
#header {}
#center {}
#footer {display:none;}

/* HEADER */
#header #bandeau {}
#header #logo {margin: 0px;}
#header .accueil {display:none;}
#header .profil {display:none;}
#header #menu {display:none;}


/* PAGE_INTERNE */
#col-gauche {display:none;}
#col-droite {display:none;}


/* FCK */
table.tableau_details td {padding:10px; vertical-align:center; text-align:left; font-size:11px; border:1px solid #8a8a8a;}
table.tableau_details tr.niveau_1 {background-color:#ededed;}
table.tableau_details td.niveau_2 {background-color:#ededed; color:#2c486c;}
table.tableau_details {}
.couleur_gamme_0 {color:#2c486c;}
.couleur_gamme_1 {color:#02B7D3;}
.couleur_gamme_2 {color:#b5006f;}
.couleur_gamme_3 {color:#689b1f;}
.couleur_gamme_4 {color:#fe7800;}


/* SITES DU CG06 */
table.site_cg06 {}
table.site_cg06 td.image{}
table.site_cg06 td.contener{}
table.site_cg06 td.contener .titre{background-image:url("liste_puces_gamme_1.gif"); background-repeat:no-repeat; background-position:0 5px;color:#02B7D3; font-weight:bold; padding-left:20px; font-size:11px;}
table.site_cg06 td.contener .texte{margin-left:20px;}
table.site_cg06 td.contener .lien{background-image:url("liste_puces_n2.gif"); background-repeat:no-repeat; background-position:0 5px; font-weight:bold; padding-left:15px; margin-left:20px;}
table.site_cg06 td.contener .lien a {color:#2c486c;}
table.site_cg06 td.separateur {width:100%; background-image:url("separateur.gif"); background-repeat:repeat-x; background-position:bottom left; height:15px;}

/* COLOR */
.gamme-1 a{color:#02B7D3;}	
.gamme-14 a{color:#b5006f;}	
.gamme-15 a{color:#689b1f;}	
.gamme-16 a{color:#fe7800;}

.gamme-1 h1.titre {color:#02B7D3; font-size:18px; font-weight:bold; text-transform:uppercase; margin:10px 0 10px 0;}
.gamme-1 .sous_titre_gamme_1 {color:#02B7D3; font-weight:bold; text-transform:uppercase; font-size:12px; display:block; margin:10px 0px}
.gamme-14 h1.titre {color:#b5006f; font-size:18px; font-weight:bold; text-transform:uppercase; margin:10px 0 10px 0;}
.gamme-14 .sous_titre_gamme_2 {color:#b5006f; font-weight:bold; text-transform:uppercase; font-size:12px; display:block; margin:10px 0px}
.gamme-15 h1.titre {color:#689b1f; font-size:18px; font-weight:bold; text-transform:uppercase; margin:10px 0 10px 0;}
.gamme-15 .sous_titre_gamme_3 {color:#689b1f; font-weight:bold; text-transform:uppercase; font-size:12px; display:block; margin:10px 0px}
.gamme-16 h1.titre {color:#fe7800; font-size:18px; font-weight:bold; text-transform:uppercase; margin:10px 0 10px 0;}
.gamme-16 .sous_titre_gamme_4 {color:#fe7800; font-weight:bold; text-transform:uppercase; font-size:12px; display:block; margin:10px 0px}


/* FAQ */
#formulaire-header {display:none;}
#questions-reponses h3 {display:none;}
#faq .qr-q {margin-top:10px;}
#faq .qr-r {margin:10px 0 40px 50px;}
.gamme-1 #faq .qr-q {font-weight:bold; color:#02B7D3;}

