
/******* RESUTATS SONDAGE **************/
#teq-result-sondage .teq-item-content {border-top: 1px solid #c7c6c6; padding: 10px 0;}
#teq-result-sondage .teq-item-content-first {border-top: none;}
#teq-result-sondage h2 {font-weight: bold;}
#teq-result-sondage .teq-clear {clear: both; clear:both; font-size:0; height:7px;}
#teq-result-sondage .teq-col-1 {width: 285px; float: left; padding-top:2px;}
#teq-result-sondage .teq-col-2 {width: 213px; float: left; text-align: right;}
#teq-result-sondage .teq-col-2-a {width: 65px; float: left; padding-top:2px; text-align: right; font-size:0.9em;}
#teq-result-sondage .teq-col-2-b {width: 148px; float: left;}
#teq-result-sondage .teq-col-2-b span {display: block; height: 16px; float: right;}
cg06_chapeau_sondage {text-align: center; font-weight: bold;}
#teq-result-sondage h2.teq-item-contentSond {font-weight:normal; font-size:1.2em;}
#sondage_voter {border:1px solid #86B7BF; margin-top: 30px; background:transparent url(btn.gif) repeat-x scroll left center; padding:4px 0; text-align:center; width:96%; color:#FFFFFF; font-weight:bold; width: 50px; cursor: pointer; float: right;}
#global .col-centre-contenu #teq-result-sondage li { background-image:none;}