H1 {

		font-family: arial;

		font-size: 16pt;

		font-weight: medium;

		color: #006000;

}

H3 {

		font-family: arial;

		font-size: 12pt;

		font-weight: medium;

		color: #006000;
}

TT {

		font-family: arial;

		font-weight: bold;

		font-size: 10pt;

		color: #313131;
}

SMALL {

		font-family: arial;

		font-weight: medium;

		font-size: 8pt;

		color: #313131;
}

.HEADLINE {

		font-family: arial;

		font-weight: bold;

		font-size: 13pt;

		color: #313131;
}

.MENU {

		font-family: arial;

		font-size: 9pt;

		color: #FFFFFF;
}

.REGION {

		font-family: arial;

		font-size: 9pt;

		color: #00610A;

		font-weight: medium;

		text-decoration: none;


}

.FIELD {

		font-family: arial;

		font-weight: medium;

		font-size: 8pt;

		color: #313131;
}
H5 {

		font-family: arial;

		font-size: 12pt;

		font-weight: medium;

		color: #006000;

}

DT {

		font-family: arial;

		font-weight: bold;

		font-size: 8pt;

		color: #1A1A1A;

}

TD {

		font-family: arial;

		font-size: 9pt;

		color: #1A1A1A;

}

DD {

		font-family: arial;

		font-size: 8pt;

		color: #1A1A1A;
}

.front {

		font-family: arial;

		font-size: 10pt;

		color: #1A1A1A;

}

UL {

		font-family: arial;

		font-size: 10pt;

		color: #1A1A1A;

		}

A:link {

		font-family: arial;

		font-size: 9pt;

		color: #00610A;
		font-weight: bold;
		text-decoration: none;
		
		
}

A:visited {

		font-family: arial;

		font-size: 9pt;

		color: #00610A;
		font-weight: bold;
		text-decoration: none;
}

A:hover {

		font-family: arial;

		font-size: 9pt;

		color: #00610A;
		font-weight: bold;
		text-decoration: underline;

		}

.nav {

		font-family: arial;
		font-size: 10px;
		color: #eff6ef;
		font-weight: normal;
		text-decoration: none;

}

.nav:link {

		font-family: arial;
		font-size: 11px;
		color: #eff6ef;
		font-weight: normal;
		text-decoration: none;
		
		
}

.nav:visited {

		font-family: arial;
		font-size: 11px;
		color: #eff6ef;
		font-weight: normal;
		text-decoration: none;
}

.nav:hover {

		font-family: arial;
		font-size: 11px;
		color: #ffffff;
		font-weight: normal;
		text-decoration: none;


}



.region:link {

		font-family: arial;
		font-size: 12px;
		color: #444459;
		font-weight: normal;
		text-decoration: none;
		
		
}

.region:visited {

		font-family: arial;
		font-size: 12px;
		color: #444459;
		font-weight: normal;
		text-decoration: none;
}

.region:hover {

		font-family: arial;
		font-size: 12px;
		color: #444459;
		font-weight: normal;
		text-decoration: underline;


}
.text:link {

		font-family: arial;
		font-size: 9pt;
		color: #13131A;
		font-weight: medium;
		text-decoration: underline;
		
		
}

.text:visited {

		font-family: arial;
		font-size: 9pt;
		color: #39393A;
		font-weight: medium;
		text-decoration: underline;
}

.text:hover {

		font-family: arial;
		font-size: 9pt;
		color: #39393A;
		font-weight: medium;
		text-decoration: underline;

}

.form {
        border: 1px solid #992222;
		background-color: #ffffff;
		font-family: arial;
		font-size: 9px;
		color: #662222;
		BUTTONFACE="#FFFFFF"
		
}

.navsubmit {
	border: 1px solid #992222;
	background-color: #ecd0d0;
	cursor: hand;
	font-family:arial,verdana;
	font-color: #ffeeee;
	font-size: 9px;
	font-weight: medium;

.FORUMFORM {

		background-color: #cecec;
		font-family: arial,verdana;
		font-size: 8pt;
		BUTTONFACE="#FFFFFF"
		
}

.submit {
	background-color: #f6f6f6;
	cursor: hand;
	font-family:arial,verdana;
	font-size: 10pt;
	font-weight:bold;

}

.forumsubmit {
	background-color: #cecece;
	cursor: hand;
	font-family:arial,verdana;
	font-size: 8pt;
	font-weight:bold;

}