/* CSS Document */

BODY {
	margin-top: 00px;
}

BODY, P, TABLE, TD, TR, SPAN {
	font-family: Arial, Helvetica, sans-serif;	font-size: 11px;
}

.bgColorBlanc {
	background-color: #FFFFFF;
}

.bgColorBody {
		background-color:#EBEBEB;
}

/* .a{color:#FF0033} */
/*---------------------------------------------------------------------------------------------------------------------------------------*/
/* MENU 
/*---------------------------------------------------------------------------------------------------------------------------------------*/

#groupe {
	position:absolute;
	width:168px;
	height:108px;
	z-index:1;
	background-color: #785A9D;
	padding-left: 32px;
	top: 0px;
	vertical-align:middle;
	visibility: hidden;
}
.normalTypo12	{font-family:Arial,Helvetica; font-size:10px; color:#562785;}
#groupe A:link,
#groupe A:active,
#groupe A:visited {
	color: #D8C6E0; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-decoration: none;
}

#groupe A:hover {
	color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-decoration: none;
}


.txtMenuVerdanaBlanc {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}


/**/

#metier {
	position:absolute;
	width:168px;
	height:108px;
	z-index:2;
	background-color: #9682B6;
	padding-left: 32px;
	top: 0px;
	visibility: hidden;
}

#metier A:link,
#metier A:active,
#metier A:visited {
	color: #DCCDE4; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-decoration: none;
}

#metier A:hover {
	color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-decoration: none;
}

/**/

#finance {
	position:absolute;
	width:168px;
	height:108px;
	z-index:3;
	background-color: #CCC4DB;
	padding-left: 32px;
	top: 0px;
	visibility: hidden;
}

#finance A:link,
#finance A:active,
#finance A:visited {
	color: #9E97A9; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-decoration: none;
}

#finance A:hover {
	color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-decoration: none;
}

/**/

#emploi {
	position:absolute;
	width:168px;
	height:108px;
	z-index:4;
	background-color: #CB2129;
	padding-left: 32px;
	top: 0px;
	visibility: hidden;
}

#emploi A:link,
#emploi A:active,
#emploi A:visited {
	color: #ED8586; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-decoration: none;
}

#emploi A:hover {
	color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-decoration: none;
}

/**/

#press {
	position:absolute;
	width:168px;
	height:108px;
	z-index:5;
	background-color: #BCCD35;
	padding-left: 32px;
	top: 0px;
	visibility: hidden;
}

#press A:link,
#press A:active,
#press A:visited {
	color: #E7ECBD; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-decoration: none;
}

#press A:hover {
	color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-decoration: none;
}

/**/

#partenaire {
	position:absolute;
	width:168px;
	height:108px;
	z-index:6;
	background-color: #EE7E1F;
	vertical-align: bottom;
	padding-left: 32px;
	top: 0px;
	visibility: hidden;
}

#partenaire A:link,
#partenaire A:active,
#partenaire A:visited {
	color: #FED6B3; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-decoration: none;
}

#partenaire A:hover {
	color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-decoration: none;
}

#Layer1 {
	position:relative;
	top:33px;
	left:365px;
	width:234px;
	height:217px;
	z-index:7;
	visibility: visible;
}



/*---------------------------------------------------------------------------------------------------------------------------------------*/
/* COMMUN */
/*---------------------------------------------------------------------------------------------------------------------------------------*/

/** liens top **/

#linkBar {
	font-size: 10px;	color: #9A86BB;	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-left: 116px;	margin-top: 5px;	margin-bottom: 5px;
}

#linkBar A:link,
#linkBar A:active,
#linkBar A:visited {
	color: #9A86BB;	font-family: Verdana, Arial, Helvetica, sans-serif;	text-decoration: none;
}

#linkBar A:hover {
	color: #9A86BB;	font-family: Verdana, Arial, Helvetica, sans-serif;	text-decoration: underline;
}

/** Liens divers **/
.lien_violet a
{
	font-family: Verdana, Arial, Helvetica, sans-serif;	color: #572786;	font-size: 9px;	text-decoration: none;
}

.lien_violet a:hover {
	color: #572786;	font-size: 9px;	text-decoration: underline;
}

A.linkViolet:link,
A.linkViolet:active, 
A.linkViolet:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;	color: #572786;	font-size: 9px;	text-decoration: none;
}

A.linkViolet:hover {
	color: #572786;	font-size: 9px;	text-decoration: underline;
}
a.txt10Violet,
.txt10Violet A:link,
.txt10Violet A:active,
.txt10Violet A:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;	color: #572786;	font-size: 10px;	text-decoration: none;
}
a.txt10Violet:hover,
.txt10Violet A:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;	text-decoration: underline;	color: #572786;	font-size: 10px;
}

A.txt_arial12noir:hover {
	text-decoration: underline;
}

TD.txt10Violet{
	font-family: Verdana, Arial, Helvetica, sans-serif;	color: #572786;	font-size: 10px;	text-decoration: none;
}
TD.txt10Blanc{
	font-family: Verdana, Arial, Helvetica, sans-serif;	color: #FFFFFF;	font-size: 10px;	text-decoration: none;
}

/** bordures **/

.borderGrisTop {
	border-top: 1px #AFAFAF solid;
}

.borderVioletTop {
	border-top: 1px #572786 solid;
}

.borderB_white {
	border-bottom: 1px solid #FFFFFF;
}

/** Input **/

INPUT.inputRecherche {
	border: 1px #572786 solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #572786;
	width: 109px;
}

/** Images **/

#floatLeft {
	float: left;	margin-right: 15px;	margin-bottom: 5px;
}

#floatRight {
	float: right;	margin-left: 10px;	margin-bottom: 15px;
}

/** Marges **/

.marginBottom10px {
	margin-bottom: 20px;
}

.marginContent {
	margin-left: 23px;
}

.zoneFonctionTop {
	height: 52px !important; height:51px; width: 400px;	padding-left: 15px; margin-top: 0px;
	border-bottom: 1px solid #7C5DA2;	border-left: 1px solid #7C5DA2;
}

/** Spacer **/
.NBSPspacer8px {
	font-size: 8px;
	line-height: 5px;
	
}

/** Textes **/

.txt_verdana10Violet {
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 10px;	color: #572786;
}

.txt_verdana10Noir {
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 10px;	color: #000000;
}

.txt_verdana11Violet {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #572786;
}

.txt_verdana11Gris {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #666666;
}

.txt_arial12noir {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration: none;
}

.txt_arial10noirbold {
	font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; text-decoration: none;font-weight: bold;
}
.justify {
	text-align:justify;
}


/** background **/

.bgViolet {
	background-color: #572786;
}


/** separateur **/

.sepVerticalOrange {
	background-image:url(sepVertical_orange.gif);	background-repeat:repeat-y; background-position: top;
	margin-left: 24px;	margin-right: 24px;
}

/** Float **/

.floatLeftPuceArticle {
	float: left;
}

.floatLeftTitreArticle {
	float:left;
	width:475px;
	margin-left: 5px;
}



/** HOME **/ 

#blocEspace {
	background-color: #572786;
	width: 475px;
	border-bottom: 1px solid #9A7DB6;
	border-top: 1px solid #9A7DB6;
}

#blocEspace A:link,
#blocEspace A:active,
#blocEspace A:visited {
	color: #FFFFFF;
	font-size: 10px; font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

#blocEspace A:hover {
	color: #FFFFFF;
	font-size: 10px; font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
	
}

.borderBottom1pxBlueFonce {
	border-bottom: 1px solid #3C1B5C;
}

.borderLeft1pxBlueFonce {
	border-left: 1px solid #3C1B5C;
}

.borderright1pxBlueFonce {
	border-right: 1px solid #3C1B5C;
}

.marginLeft10px {
	margin-left: 10px;
}

.txtArial1pxViolet {
	color: #572786;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}

.txtArial1pxBleuFonce {
	color: #3C1B5C;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}

.txtArial1pxVioletClair {
	color: #8D78AF;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}

.txtArial2pxViolet {
	color: #572786;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

SELECT.selectBleuHome {
	border: 1px #1B97C0 solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #572786;
	width: 134px;	height: 15px;
}

P.spip {
	margin-top: 0px;
	margin-bottom: 7px;
}



/*---------------------------------------------------------------------------------------------------------------------------------------*/
/* FOOTER */
/*---------------------------------------------------------------------------------------------------------------------------------------*/

#footer A:link,
#footer A:active,
#footer A:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;	color: #572786;	font-size: 10px;	text-decoration: none;
}

#footer A:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;	text-decoration: underline;	color: #572786;	font-size: 10px;
}

#footer .spacer {
	font-family: Verdana, Arial, Helvetica, sans-serif;	color: #572786;	font-size: 10px;	margin-left: 1px;
	margin-right: 1px;
}



/*---------------------------------------------------------------------------------------------------------------------------------------*/
/* GROUPE */
/*---------------------------------------------------------------------------------------------------------------------------------------*/


/** Menu **/

#TableMenu A.menuviolet:link,
#TableMenu A.menuviolet:active,
#TableMenu A.menuviolet:visited{
	color: #FFFFFF;	font-weight: bold;	font-size: 10px;	font-family: Verdana, Arial, Helvetica, sans-serif;	text-decoration: none;
	padding-top: 4px;	padding-bottom: 4px;	line-height: 2;
}

#TableMenu A.menuviolet:hover {
	background-color: #7C5CA5;	color: #FFFFFF;	font-weight: bold;	font-size: 10px;	font-family: Verdana, Arial, Helvetica, sans-serif;	text-decoration: none;
	cursor: pointer;	padding-top: 4px;	padding-bottom: 4px;	line-height: 2;
}

#navRub_menuGroup, #navRub_menuFinance {
	background-color: #562785;
}

.menuvioletOn{
	background-color: #7C5CA5;	color: #FFFFFF;	font-weight: bold;	font-size: 10px;	font-family: Verdana, Arial, Helvetica, sans-serif;	text-decoration: none;
	cursor: pointer;	padding-top: 4px;	padding-bottom: 4px;	line-height: 2;
}


/** Zone A Gauche **/

#focusGroup_right {
	width: 173px;
	font-size: 10px;
	border-top: 5px #7B5EA1 solid;
}

#focusGroup_right TABLE.miniBloc1{
	border-bottom: 1px #AFAFAF solid;	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}

#focusGroup_right TABLE.miniBloc2{
	border-bottom: 1px #AFAFAF solid;	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}
#focusGroup_right TABLE.miniBloc3{
	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}

/** textes **/

#titleGroup {
	margin-left: 93px;
}

#titleGroup .title {
	font-family:Arial,Helvetica;
	font-size:19px;
	color:#7B5EA1;
	font-weight:bold;
	margin-left: 22px;
	margin-top: 50px;
}

#titleGroup .borderTitle {
	border-bottom: 1px #7B5EA1 solid;
}

.txt_subtitle_violetdark {
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #572786;	font-weight: bold;
	border-bottom: 1px #572786 solid;
}


.txt_subtitle_13pxVioletlight{
	color: #7D5CA3;
	font-weight: bold;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/** Bordure **/

.filetTableauGroup {
	border-bottom: 1px #7B5EA1 solid;
}

.borderLR_10px_grisdark {
	border-left: 10px solid #7B5EA1;
	border-right: 10px solid #7B5EA1
}

.borderB_menuGroup{
	border-bottom: 1px #7B5EA1 solid;	
}

.border1pxViolet {
	border: 0px solid #7B5EA1;
}


/** separateur **/

.sepVerticalViolet {
	background-image:url(sepVertical_violet.gif);	background-repeat:repeat-y; background-position: top;
	margin-left: 24px;	margin-right: 24px;
}

/** Input **/

SELECT.selectvioletgrpTheme {
	border: 1px #7B5EA1 solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #7B5EA1;
	width: 134px;	height: 16px;
}

SELECT.selectvioletgrpeAnnee {
	border: 1px #7B5EA1 solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #7B5EA1;
	width: 66px;	height: 16px;
}

INPUT.inputvioletgrp {
	border: 1px #7B5EA1 solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #7B5EA1;
	width: 134px;	height: 16px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
/* METIER */
/*---------------------------------------------------------------------------------------------------------------------------------------*/

/* titre */

#titleMetier {
	margin-left: 93px;
}

#titleMetier .title {
	font-family:Arial,Helvetica;
	font-size:19px;
	color: #9682B6;
	font-weight:bold;
	margin-left: 22px;
	margin-top: 50px;
}


#navRub_menuMetier {
	background-color: #562785;
}

#titleMetier .borderTitle {
	border-bottom: 1px #9684B8 solid;
}


/* Textes */

.txt11Arial7C5DA2 {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #7C5DA2;
}

.txt_subtitle_violetmet {
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #7C5DA2;	font-weight: bold;
	border-bottom: 1px #7C5DA2 solid;
}

.border1pxVioletmet {
		border: 1px #7C5DA2 solid;
}

/* Bordures */

.borderLR_10px_grismet {
	border-left: 10px solid #9683B7;
	border-right: 10px solid #9683B7
}

.borderB_menuMetier {
	border-bottom: 1px solid #9683B7;
}

/** Zone A Gauche **/

#focusMetier_right {
	border-top: 5px #9683B7 solid;
	width: 173px;
	font-size: 10px;
}

#focusMetier_right TABLE.miniBloc1{
	border-bottom: 1px #AFAFAF solid;	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}

#focusMetier_right TABLE.miniBloc2{
	border-bottom: 1px #AFAFAF solid;	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}
#focusMetier_right TABLE.miniBloc3{
	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}

/** Input **/

SELECT.selectvioletmetTheme {
	border: 1px #9683B7 solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #582685;
	width: 134px;	height: 16px;
}

SELECT.selectvioletmetAnnee {
	border: 1px #9683B7 solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #582685;
	width: 66px;	height: 16px;
}

INPUT.inputvioletmet {
	border: 1px #9683B7 solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #582685;
	width: 134px;	height: 16px;
}



/*---------------------------------------------------------------------------------------------------------------------------------------*/
/* PRESSE */
/*---------------------------------------------------------------------------------------------------------------------------------------*/

.borderLR_10px_vert {
	border-left: 10px solid #C1D237;
	border-right: 10px solid #C1D237
}

/** SOUS-MENU **/

#TableMenu {
	margin-left: 115px;
	height: 16px;
}

#TableMenu DIV.menuNav {
	height: 20px;
	line-height: 1.8;
}

/** Content **/

#titlePress {
	margin-left: 93px;
}

#titlePress .title {
	font-family:Arial,Helvetica;
	font-size:19px;
	color:#C1D237;
	font-weight:bold;
	margin-left: 22px;
	margin-top: 50px;
}


#titlePress .borderTitle {
	border-bottom: 1px #C1D237 solid;
}


.txt_subtitle_Vert {
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #C1D237;	font-weight: bold;
	border-bottom: 1px #C1D237 solid;
}

.txt_subtitle_13pxVert {
	color: #C1D237;
	font-weight: bold;
	font-size: 13px;
}

.txt_subtitle_13pxViolet {
	color: #572786;
	font-weight: bold;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


/** Zone A Gauche **/


#focusPress_right {
	border-top: 5px #C1D237 solid;
	width: 173px;
	font-size: 10px;
}

#focusPress_right TABLE.miniBloc1{
	border-bottom: 1px #AFAFAF solid;	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}

#focusPress_right TABLE.miniBloc2{
	border-bottom: 1px #AFAFAF solid;	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}
#focusPress_right TABLE.miniBloc3{
	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}

/** Input **/

SELECT.selectvertTheme {
	border: 1px #C1D237 solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #572786;
	width: 134px;	height: 16px;
}

SELECT.selectvertAnnee {
	border: 1px #C1D237 solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #572786;
	width: 66px;	height: 16px;
}

INPUT.inputvert {
	border: 1px #C1D237 solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #572786;
	width: 134px;	height: 16px;
}


/** Images **/

IMG.border1pxVert {
	border: 1px #C1D237 solid;
}

/** Bordure **/

.borderB_menuPress {
	border-bottom: 1px #C1D237 solid;
}

.filetTableau {
	border-bottom: 1px #C1D237 solid;
}

/** bloc tableau **/

.tableCommuniqueGrise {
	background-color:#EBEBEB;
	padding: 9px 11px 10px 10px;
	margin-bottom: 3px;
}

.tableCommuniqueBlanc {
	background-color:#FFFFFF;
	padding: 9px 11px 10px 10px;
	margin-bottom: 3px;
}

.foncellGrise {
	background-color: #EBEBEB;
}


/** Médiathèque **/

.titreMedia {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 10px;
	border-bottom: 1px solid #BFD036;
	border-top: 1px solid #BFD036;
	width: 82px;
	margin-bottom: 1px;
}

/** separateur **/

.sepVerticalVert{
	background-image:url(sepVertical_vert.gif);	background-repeat:repeat-y; background-position: top;
	margin-left: 10px;	margin-right: 10px;
}

/** Popups **/

.contentPopUp {
	padding-left: 40px;
	padding-right: 40px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
/* FINANCES */
/*---------------------------------------------------------------------------------------------------------------------------------------*/

/** Zone A Gauche **/


#focusFinance_right {
	width: 173px;
	font-size: 10px;
	border-top: 5px #CDC3DC solid;
}

#focusFinance_right TABLE.miniBloc1{
	border-bottom: 1px #AFAFAF solid;	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}

#focusFinance_right TABLE.miniBloc2{
	border-bottom: 1px #AFAFAF solid;	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}
#focusFinance_right TABLE.miniBloc3{
	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}

/** **/


#titleFinance {
	margin-left: 93px;
}

#titleFinance .title {
	font-family:Arial,Helvetica;
	font-size:19px;
	color:#7A60A1;
	font-weight:bold;
	margin-left: 22px;
	margin-top: 50px;
}
h1  {
	FONT-WEIGHT: bold; FONT-SIZE: 19px; MARGIN-LEFT: 22px; COLOR: #9682b6; FONT-FAMILY: Arial,Helvetica;
	margin-bottom:0;
}
h2  {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-LEFT: 0px; COLOR: #7c5da2; FONT-FAMILY: Arial,Helvetica;
	margin-bottom:0;
}
#titleFinance .borderTitle {
	border-bottom: 1px #C9C6D1 solid;
}

/** Bordure **/

.filetTableauFinance {
	border-bottom: 1px #C8C6D3 solid;
}

.borderLR_10px_violetFin{
	border-left: 10px solid #CDC3DC;
	border-right: 10px solid #CDC3DC
}

.borderLR_10px_gris {
	border-left: 10px solid #CDC3DB;
	border-right: 10px solid #CDC3DB
}

.borderB_menuFinance{
	border-bottom: 1px #CDC3DB solid;
}

/** Input **/

SELECT.selectvioletfinTheme {
	border: 1px #CDC3DC solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #572786;
	width: 134px;	height: 16px;
}

SELECT.selectvioletfinAnnee {
	border: 1px #CDC3DC solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #572786;
	width: 66px;	height: 16px;
}

INPUT.inputvioletfin {
	border: 1px #CDC3DC solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #572786;
	width: 134px;	height: 15px;
}

.txt_subtitle_violetlight{
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #572786;	font-weight: bold;
	border-bottom: 1px #C9C6D1 solid;
}

/** Agenda SubMenu **/


#Agenda{
	height: 16px;
	margin-bottom: 2px;
}

#Agenda DIV.menuAgenda {
	height: 20px;
	line-height: 1.8;
}

#Agenda A.agendaDate:link,
#Agenda A.agendaDate:active,
#Agenda A.agendaDate:visited{
	background-color: #ECE8F6; color: #562785;	font-size: 10px;	font-family: Verdana, Arial, Helvetica, sans-serif;	text-decoration: none;
	padding-top: 6px;	padding-bottom: 5px;	padding-left: 8px;	padding-right: 9px; line-height: 2;
}

#Agenda SPAN.agendaoff{
	background-color: #CDC3DB;	color: #572888;font-size: 10px;	font-family: Verdana, Arial, Helvetica, sans-serif;	text-decoration: none;padding-top: 6px;	padding-bottom: 5px;	padding-left: 8px;	padding-right: 9px; line-height: 2;
}

#Agenda .point,
#Agenda .point,
#Agenda .point {
	font-size: 12px;	font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;	text-decoration: none;
	line-height: 2;	color: #D1A6FF;
}	
	

#Agenda A.agendaDate:hover {
	background-color: #CDC3DB;	color: #572888;	text-decoration: none;	cursor: pointer;
}
.sepVerticalVioletfin {
	background-image:url(sepVertical_violetfin.gif);	background-repeat:repeat-y; background-position: top;
	margin-left: 24px;	margin-right: 24px;
}
/*
#Agenda A.agendaDate_vert:link,
#Agenda A.agendaDate_vert:active,
#Agenda A.agendaDate_vert:visited{
	background-color: #C1D237; color: #592788;	font-size: 10px;	font-family: Verdana, Arial, Helvetica, sans-serif;	text-decoration: none;
	padding-top: 6px;	padding-bottom: 5px;	padding-left: 18px;	padding-right: 18px; line-height: 2;
}

#Agenda A.agendaDate_vert:hover {
	background-color: #FFFFFF;	color: #592788;	text-decoration: none;	cursor: pointer;
}

#Agenda TD.agendaDate_vert{
	font-size: 10px;	font-family: Verdana, Arial, Helvetica, sans-serif;	text-decoration: none;
	background-color: #FFFFFF;	color: #592788;	text-decoration: none;	cursor: pointer;
	padding-top: 6px;	padding-bottom: 5px;	padding-left: 18px;	padding-right: 18px; line-height: 2;
}
*/
/*
#Agenda A.agendaDate_rouge:link,
#Agenda A.agendaDate_rouge:active,
#Agenda A.agendaDate_rouge:visited{
	background-color: #CC2129; color: #FFFFFF;	font-size: 10px;	font-family: Verdana, Arial, Helvetica, sans-serif;	text-decoration: none;
	padding-top: 6px;	padding-bottom: 5px;	padding-left: 18px;	padding-right: 18px; line-height: 2;
}

#Agenda A.agendaDate_rouge:hover {
	background-color: #FFFFFF;	color: #592788;	text-decoration: none;	cursor: pointer;
}

#Agenda TD.agendaDate_rouge{
	font-size: 10px;	font-family: Verdana, Arial, Helvetica, sans-serif;	text-decoration: none;
	background-color: #FFFFFF;	color: #592788;	text-decoration: none;	cursor: pointer;
	padding-top: 6px;	padding-bottom: 5px;	padding-left: 18px;	padding-right: 18px; line-height: 2;
}
*/
/*#Agenda A.agendaDate_orange:link,
#Agenda A.agendaDate_orange:active,
#Agenda A.agendaDate_orange:visited{
	background-color: #EE7E1F; color: #FFFFFF;	font-size: 10px;	font-family: Verdana, Arial, Helvetica, sans-serif;	text-decoration: none;
	padding-top: 6px;	padding-bottom: 5px;	padding-left: 18px;	padding-right: 18px; line-height: 2;
}

#Agenda A.agendaDate_orange:hover {
	background-color: #FFFFFF;	color: #EE7E1F;	text-decoration: none;	cursor: pointer;
}

#Agenda TD.agendaDate_orange{
	font-size: 10px;	font-family: Verdana, Arial, Helvetica, sans-serif;	text-decoration: none;
	background-color: #FFFFFF;	color: #EE7E1F;	text-decoration: none;	cursor: pointer;
	padding-top: 6px;	padding-bottom: 5px;	padding-left: 18px;	padding-right: 18px; line-height: 2;
}
*/

/** Partenaire SubMenu **/

#Agenda A.agendaDate_orange:link,
#Agenda A.agendaDate_orange:active,
#Agenda A.agendaDate_orange:visited{
	background-color: #FACDAE; color: #EE7E1F;	font-size: 10px;	font-family: Verdana, Arial, Helvetica, sans-serif;	text-decoration: none;
	padding-top: 6px;	padding-bottom: 5px;	padding-left: 8px;	padding-right: 9px; line-height: 2;
}

#Agenda SPAN.agendaoff_orange{
		background-color: #EE7E1F;	color: #FACDAE;font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none;
	padding-top: 6px;	padding-bottom: 5px;	padding-left: 9px;	padding-right: 9px; line-height: 2;
}
#Agenda A.agendaDate_orange:hover {
		background-color: #EE7E1F;	color: #FACDAE;text-decoration: none;	cursor: pointer;
}



/** Emploi SubMenu **/

#Agenda A.agendaDate_rouge:link,
#Agenda A.agendaDate_rouge:active,
#Agenda A.agendaDate_rouge:visited{
	background-color: #F5D3D4;	color: #D22129;	font-size: 10px;	font-family: Verdana, Arial, Helvetica, sans-serif;	text-decoration: none;
	padding-top: 6px;	padding-bottom: 5px;	padding-left: 8px;	padding-right: 9px; line-height: 2;
}

#Agenda SPAN.agendaoff_rouge{
	background-color: #D22129; color: #FFF;	font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none;
	padding-top: 6px;	padding-bottom: 5px;	padding-left: 9px;	padding-right: 9px; line-height: 2;
}
#Agenda A.agendaDate_rouge:hover {
	background-color: #D22129; color: #FFF;	text-decoration: none;	cursor: pointer;
}


/** Presse SubMenu **/

#Agenda A.agendaDate_vert:link,
#Agenda A.agendaDate_vert:active,
#Agenda A.agendaDate_vert:visited{
	background-color: #EBF1C1;	color: #727D1F; font-size: 10px;	font-family: Verdana, Arial, Helvetica, sans-serif;	text-decoration: none;
	padding-top: 6px;	padding-bottom: 5px;	padding-left: 8px;	padding-right: 9px; line-height: 2;
}

#Agenda SPAN.agendaoff_vert{
	background-color: #C0CF36; color: #737C21;	font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none;
	padding-top: 6px;	padding-bottom: 5px;	padding-left: 9px;	padding-right: 9px; line-height: 2;
}
#Agenda A.agendaDate_vert:hover {
	background-color: #C0CF36; color: #737C21;	text-decoration: none;	cursor: pointer;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
/* PARTENAIRES */
/*---------------------------------------------------------------------------------------------------------------------------------------*/

.borderLR_10px_orange {
	border-left: 10px solid #EE7E1F;
	border-right: 10px solid #EE7E1F
}

/** SOUS-MENU **/

#TableMenu {
	margin-left: 115px;
	height: 16px;
	
}

#TableMenu DIV.menuNav {
	height: 20px;
	line-height: 1.8;
}

#TableMenu A.menuorange:link, #TableMenu A.menuorange:active, #TableMenu A.menuorange:visited{
	color:#ffffff;	
	font-weight: bold;
	font-size: 10px;	
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	text-decoration: none;
	padding-top: 5px;	
	padding-bottom: 4px;	
	line-height: 2;
}

#TableMenu A.menuorange:hover {
	background-color: #EE7E1F; 
	color: #FFFFFF; 
	font-weight: bold; 
	font-size: 10px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	text-decoration: none;
	cursor: pointer; 
	padding-top: 4px; 
	padding-bottom: 5px;	
	line-height: 2;
}

#navRub_menuPartenaire {
	background-color: #562785;/*EE7E1F;*/
}

.menuOrangeOn{
	background-color: #EE7E1F;	
	color: #FFFFFF;	
	font-weight: bold;	
	font-size: 10px;	
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	text-decoration: none;
	cursor: pointer;	
	padding-top: 4px;	
	padding-bottom: 5px;	
	line-height: 2;
}

/** Content **/

#titlePartnaire {
	margin-left: 93px;
}

#titlePartnaire .title {
	font-family:Arial,Helvetica;
	font-size:19px;
	color:#EE7E1F;
	font-weight:bold;
	margin-left: 22px;
}

#titlePartnaire .borderTitle {
	border-bottom: 1px #EE7E1F solid;
}

.txt_subtitle_Orange {
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #EE7E1F;	font-weight: bold;
	border-bottom: 1px #EE7E1F solid;
}

.txt_subtitle_13pxorange {
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	color: #EE7E1F;
	font-weight: bold;
	font-size: 13px;
}

/** Zone A Gauche **/


#focusPartnaires_right {
	width: 173px;
	font-size: 10px;
	border-top: 5px #EE7E1F solid;
}

#focusPartnaires_right TABLE.miniBloc1{
	border-bottom: 1px #AFAFAF solid;	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}

#focusPartnaires_right TABLE.miniBloc2{
	border-bottom: 1px #AFAFAF solid;	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}
#focusPartnaires_right TABLE.miniBloc3{
	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}

#focusAbonnement_right {
	width: 173px;
	font-size: 10px;
	border-top: 5px #AFAFAF solid;
}

#focusAbonnement_right TABLE.miniBloc1{
	border-bottom: 1px #AFAFAF solid;	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}

#focusAbonnement_right TABLE.miniBloc2{
	border-bottom: 1px #AFAFAF solid;	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}
#focusAbonnement_right TABLE.miniBloc3{
	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}
INPUT.inputgris {
	border: 1px #AFAFAF solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #572786;
	width: 134px;	height: 16px;
}
SELECT.selectgrisTheme {
	border: 1px #AFAFAF solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #572786;
	width: 134px;	height: 16px;
}

SELECT.selectgrisAnnee {
	border: 1px #AFAFAF solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #572786;
	width: 66px;	height: 16px;
}

/** Input **/

SELECT.selectOrangeTheme {
	border: 1px #EE7E1F solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #572786;
	width: 134px;	height: 16px;
}

SELECT.selectOrangeAnnee {
	border: 1px #EE7E1F solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #572786;
	width: 66px;	height: 16px;
}

INPUT.inputOrange {
	border: 1px #EE7E1F solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #572786;
	width: 134px;	height: 16px;
}

/** Images **/

IMG.border1pxOrange {
	border: 0px #EE7E1F solid;
}

span.border1pxOrange {
	border: #EE7E1F solid 0px;
	margin-right:10px;
	margin-left:10px;
}

div.border1pxOrange {
	border: #EE7E1F solid 0px;
}

/** Bordure **/

.borderB_menuPartenaire {
	border-bottom: 1px #EE7E1F solid;
	
}

/* Textes */

.txt11Arialorange {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #EE7E1F;
}


/*---------------------------------------------------------------------------------------------------------------------------------------*/
/* PANIER */
/*---------------------------------------------------------------------------------------------------------------------------------------*/

#titlePanier {
	margin-left: 93px;
}

#titlePanier .title {
	font-family:Arial,Helvetica;
	font-size:19px;
	color:#808080;
	font-weight:bold;
	margin-left: 22px;
	margin-top: 50px;
}

#titlePanier .borderTitle {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BFBFBF;
}



/* textes */

.txt_subtitle_13pxGris {
	color: #808080;
	font-weight: bold;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.txt_verdana13pxorange {
	color: #EE7E1F;
	font-weight: bold;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.txt_verdana13pxrouge {
	color: #CC2129;
	font-weight: bold;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.txt_verdana13pxvert {
	color: #919F24;
	font-weight: bold;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.txt_verdana13pxviolet {
	color: #572786;
	font-weight: bold;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


#linkBarPrint {
	font-size: 10px;	color: #9A86BB;	font-family: Verdana, Arial, Helvetica, sans-serif; margin-top: 5px;	margin-bottom: 5px;
}


/* bordures */

.filetTablePrint{
	border-bottom: 1px solid #CDC4DC;
}

.borderLR_10px_gris {
	border-left: 10px solid #BFBFBF;
	border-right: 10px solid #BFBFBF
}

.borderB_menuPrint {
		border-bottom: 1px solid #CDC4DC;
}

/** Zone A Gauche **/

#focusPlan_right {
	width: 173px;
	font-size: 10px;
}

#focusPlan_right TABLE.miniBloc1{
	border-top: 5px #BFBFBF solid;	border-bottom: 1px #AFAFAF solid;	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}

#focusPlan_right TABLE.miniBloc2{
	border-bottom: 1px #AFAFAF solid;	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}
#focusPlan_right TABLE.miniBloc3{
	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}



/*---------------------------------------------------------------------------------------------------------------------------------------*/
/* EMPLOI */
/*---------------------------------------------------------------------------------------------------------------------------------------*/

/** Menu **/

#TableMenu A.menurouge:link,
#TableMenu A.menurouge:active,
#TableMenu A.menurouge:visited{
	color: #FFFFFF;	font-weight: bold;	font-size: 10px;	font-family: Verdana, Arial, Helvetica, sans-serif;	text-decoration: none;
	padding-top: 5px;	padding-bottom: 4px;	line-height: 2;
}

#TableMenu A.menurouge:hover {
	background-color: #CB2227;	color: #FFFFFF;	font-weight: bold;	font-size: 10px;	font-family: Verdana, Arial, Helvetica, sans-serif;	text-decoration: none;
	cursor: pointer;	padding-top: 5px;	padding-bottom: 4px;	line-height: 2;
}

#navRub_menuEmploi {
	background-color: #562785;
}

.menurougeOn{
	background-color: #CB2227;	color: #FFFFFF;	font-weight: bold;	font-size: 10px;	font-family: Verdana, Arial, Helvetica, sans-serif;	text-decoration: none;
	cursor: pointer;	padding-top: 5px;	padding-bottom: 4px;	line-height: 2;
}

/** Zone A Gauche **/


#focusEmploi_right {
	border-top: 5px #CDC3DB solid;
	width: 173px;
	font-size: 10px;
}

#focusEmploi_right TABLE.miniBloc1{
	border-bottom: 1px #AFAFAF solid;	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}

#focusEmploi_right TABLE.miniBloc2{
	border-bottom: 1px #AFAFAF solid;	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}
#focusEmploi_right TABLE.miniBloc3{
	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}

/** **/


#titleEmploi {
	margin-left: 93px;
}

#titleEmploi .title {
	font-family:Arial,Helvetica;
	font-size:19px;
	color:#CB2227;
	font-weight:bold;
	margin-left: 22px;
	margin-top: 50px;
}


#titleEmploi .borderTitle {
	border-bottom: 1px #CB2227 solid;
}

/** Bordure **/

.filetTableauEmploi {
	border-bottom: 1px #CB2227 solid;
}

.filetTableauPartnaire {
	border-bottom: 0px #F9964A solid;
}

.borderLR_10px_rouge {
	border-left: 10px solid #CB2227;
	border-right: 10px solid #CB2227;
}

.borderB_menuEmploi{
	border-bottom: 1px #CB2227 solid;
}

/** Input **/

SELECT.selectRougeTheme {
	border: 1px #CB2227 solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #CB2227;
	width: 134px;	height: 16px;
}

SELECT.selectRougeAnnee {
	border: 1px #CB2227 solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #CB2227;
	width: 66px;	height: 16px;
}

INPUT.inputRouge {
	border: 1px #CB2227 solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #CB2227;
	width: 134px;	height: 16px;
}

.txt_subtitle_rouge{
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #CB2227;	font-weight: bold;
	border-bottom: 1px #CB2227 solid;
}


/******** PLAN **********/

/*
#titlePanier {
	margin-left: 93px;
}

#titlePanier .title {
	font-family:Arial,Helvetica;
	font-size:19px;
	color:#808080;
	font-weight:bold;
	margin-left: 22px;
	margin-top: 50px;
}

#titlePanier .borderTitle {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BFBFBF;
}
*/



/* textes */

.txtArial11pxGris {
	color: #737373;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}

.txt_subtitle_gris {
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #808080;	font-weight: bold;
	border-bottom: 1px #BFBFBF solid;
}


.margesPlanSubtitle {
	padding-left: 23px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


.txt_subtitle_rouge{
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #D2222A;	font-weight: bold;
	border-bottom: 1px #D2222A solid;
}

.txt_subtitle_violetfin{
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #A08BC2;	font-weight: bold;
	border-bottom: 1px #CDC4DC solid;
}

.txt_subtitle_vert{
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #919F24;	font-weight: bold;
	border-bottom: 1px #C1D237 solid;
}


/* Liens de groupe */

A.mapLinkGroupe:link,
A.mapLinkGroupe:active,
A.mapLinkGroupe:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #572786;
	text-decoration: none;
}

A.mapLinkGroupe:hover {
	font-weight: bold;
	text-decoration: underline;
}

/* Liens de metier */

A.mapLinkMetier:link,
A.mapLinkMetier:active,
A.mapLinkMetier:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #76609A;
	text-decoration: none;
}

A.mapLinkMetier:hover {
	font-weight: bold;
	text-decoration: underline;
}


/* Liens de finance */

A.mapLinkFinance:link,
A.mapLinkFinance:active,
A.mapLinkFinance:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #9083A6;
	text-decoration: none;
}

A.mapLinkFinance:hover {
	font-weight: bold;
	text-decoration: underline;
}


/* Liens de emploi */

A.mapLinkEmploi:link,
A.mapLinkEmploi:active,
A.mapLinkEmploi:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #D2222A;
	text-decoration: none;
}

A.mapLinkEmploi:hover {
	font-weight: bold;
	text-decoration: underline;
}

/* Liens presse */

A.mapLinkPress:link,
A.mapLinkPress:active,
A.mapLinkPress:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #919F24;
	text-decoration: none;
}

A.mapLinkPress:hover {
	font-weight: bold;
	text-decoration: underline;
}

/* Liens partenaire */

A.mapLinkPartenaire:link,
A.mapLinkPartenaire:active,
A.mapLinkPartenaire:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F57C14;
	text-decoration: none;
}

A.mapLinkPartenaire:hover {
	font-weight: bold;
	text-decoration: underline;
}


/*
.txt_subtitle_13pxGris {
	color: #808080;
	font-weight: bold;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.txt_verdana13pxorange {
	color: #EE7E1F;
	font-weight: bold;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.txt_verdana13pxrouge {
	color: #CC2129;
	font-weight: bold;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.txt_verdana13pxvert {
	color: #919F24;
	font-weight: bold;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.txt_verdana13pxviolet {
	color: #572786;
	font-weight: bold;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


#linkBarPrint {
	font-size: 10px;	color: #9A86BB;	font-family: Verdana, Arial, Helvetica, sans-serif; margin-top: 5px;	margin-bottom: 5px;
}
*/

/* bordures */

/*
.filetTablePrint{
	border-bottom: 1px solid #CDC4DC;
}

.borderLR_10px_gris {
	border-left: 10px solid #BFBFBF;
	border-right: 10px solid #BFBFBF
}

.borderB_menuPrint {
		border-bottom: 1px solid #CDC4DC;
}
*/

/** Zone A Gauche **/


#focusPlan_right {
	width: 173px;
	font-size: 10px;
}

#focusPlan_right TABLE.miniBloc1{
	border-top: 5px #BFBFBF solid;	border-bottom: 1px #AFAFAF solid;	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}

#focusPlan_right TABLE.miniBloc2{
	border-bottom: 1px #AFAFAF solid;	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
}
#focusPlan_right TABLE.miniBloc3{
	border-left: 1px #AFAFAF solid;
	padding-left: 10px;	padding-right: 5px;
	width: 173px;
	
	}
	

/******** IMPRESSION **********/


#titlePrint {
	margin-left: 13px;
}

#titlePrint .title {
	font-family:Arial,Helvetica;
	font-size:19px;
	color:#808080;
	font-weight:bold;
	margin-left: 22px;
	margin-top: 50px;
}

#titlePrint .borderTitle {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BFBFBF;
}	
	
.txt_subtitle_Gris {
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #808080;	font-weight: bold;
	border-bottom: 1px #808080 solid;
}



.border1pxGris {
	margin-right:10px;
	margin-left:10px;
	border: 1px solid #808080;
}

.Panier{
	font-family: Verdana, Arial, Helvetica, sans-serif;	color: #000000;	font-size: 9px;	text-decoration: none;
	height: 8px; padding-left: 22px; vertical-align: bottom; margin: 0; padding-top: 0; padding-bottom: 0;
}

/** Contact **/

SELECT.selectContactTheme {
	border: 1px #7C64A2 solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #572786;
	width: 174px;	height: 16px;
}

INPUT.inputContact {
	border: 1px #7C64A2 solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #572786;
	width: 174px;	height: 16px;
}
TEXTAREA.textContact {
	border: 1px #7C64A2 solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #572786;
	width: 289px;	height: 125px;
}

SELECT.selectContactTheme {
	border: 1px #666 solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #555;
	width: 174px;	height: 16px;
}
INPUT.inputGris {
	border: 1px #666 solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #555;
	width: 134px;
}
TEXTAREA.textGris {
	border: 1px #7C64A2 solid;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	color: #555;
	width: 289px;	height: 125px;
}

.tableContactGrise {
	background-color:#EBEBEB;
	padding: 5px 5px 5px 5px;
	margin-bottom: 3px;
}

.tableContactBlanc {
	background-color:#FFFFFF;
	padding: 5px 5px 5px 5px;
	margin-bottom: 3px;
}

