/* ----------------------------------------------
	Mise en page generale
	---------------------------------------------- 
*/
#header {/* en-tete de page */
	width: 100%;
	background: white url(http://www.sepaq.com/resources/images/interface/header/header_shade.gif) repeat-x;
	height: 33px;
}
#head {
	width: 980px;
	margin: 0 auto;
}
#head_content_left {
	width: 400px;
	float: left;
}
#head_content_right {
	width: 560px;
	float: left;
}
#head ul {
	padding: 0 6px;
}
#head ul li {
	float: left;
	padding: 4px 4px;
	margin: 7px 0;	
        white-space: nowrap;
}
#head #head_content_right ul  {
	float:right;
}
#head #head_content_left ul li {
	border-left: 1px dotted #aaa;
}
#head #head_content_right ul li span.head_separateur {
	border-left: 1px dotted #aaa;
	height: 18px;
        margin-right: 3px;
	display:none; 
}
       
#head ul li.input_li {
	height: 19px;
	margin: 6px 0;
	padding: 0 4px;
       display: none; 
}
#head #head_content_left ul li:first-child {
	border-left: none;
}
#head a.nav {
	color: #5d605d; /* gris */
	text-decoration: none;
	padding: 5px 6px 4px 6px;
}
#head_content_right a.accent_bleu {
    font-weight: bold;
    color: #0070af;
}
#head_content_right a:hover.accent_bleu {
	font-weight: bold;
	color: white;
}
#head_content_right form {
	padding: 0;
	margin: 0;
	border: none;
}
#head_content_right form input#searchbox {
	width: 80px;
	height: 17px;
	vertical-align: middle;
	margin: 0;
	padding: 2px 0 0 2px;
	border: 1px solid #a1a1a1;
	color: #a1a1a1;
} 
#head_content_right form #btn_search {
  vertical-align: middle;
  color: #a1a1a1;
  width: 21px;
  height: 21px;
  border: none;
  margin: 0;
  padding: 0;
}

#header a:hover.nav, #header a:active.nav {
	color: #4d504d;
	background: #9c9a9b;
	color: white;
}

/* *** Menu general *** */
#menu_general {
	height: 43px;
	background: #45833e url(http://www.sepaq.com/resources/images/interface/header/menu_shade.gif) repeat-x;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
#menu_general #elements_general {
	width: 980px;
	margin: 0 auto;
}
#menu_general #elements_general ul li {
	float: left;
	border-right: 1px solid white;
}

/* *** Menu reseaux *** */
#menu_reseaux {
	height: 33px;
	background: #45833e url(http://www.sepaq.com/resources/images/interface/header/reseaux_shade.gif) repeat-x;
}
#menu_reseaux #elements_reseaux {
	width: 980px;
	margin: 0 auto;
}
#menu_reseaux #elements_reseaux ul li {
	float: left;
}

/* ----------------------------------------------
	Navig : Menu Principal 
	Image GIF divise en sprites, affichage par positionnement
	---------------------------------------------- 
*/
div#elements_general ul	li a {
	background: url('http://www.sepaq.com/resources/images/interface/header/mnu_principal.gif') no-repeat scroll top left;
	/* Permet l'affichage du texte avec le CSS desactive - Methode Phark Revisited + overflow hidden */
	text-indent: -5000px;
	overflow: hidden;
}
body.lang_en div#elements_general ul li a {
	background-image: url('http://www.sepaq.com/resources/images/interface/header/mnu_principal_en.gif');
}
div#elements_general ul	li, div#elements_general ul li a {
	display:block;
}
div#elements_general ul li a#logo_sepaq {
	background-position: 0 0;
	width: 108px;
	height: 43px;
}

/* Activites */
div#elements_general ul li a#mnu_activites {
	background-position: -109px 0;
	width: 178px;
	height: 43px;
}
div#elements_general ul li a#mnu_activites:hover {
	background-position: -109px -43px;
}

/* Hebergement */
div#elements_general ul li a#mnu_hebergement {
	background-position: -288px 0;
	width: 178px;
	height: 43px;
}
div#elements_general ul li a#mnu_hebergement:hover {
	background-position: -288px -43px;
}

/* Forfaits */
div#elements_general ul li a#mnu_forfaits {
	background-position: -467px 0;
	width: 179px;
	height: 43px;
}
div#elements_general ul li a#mnu_forfaits:hover {
	background-position: -467px -43px;
}

/* Developpement */
div#elements_general ul li a#mnu_developpement {
	background-position: -647px 0;
	width: 179px;
	height: 43px;
}
div#elements_general ul li a#mnu_developpement:hover {
	background-position: -647px -43px;
}

/* Carte interactive */
div#elements_general ul li a#mnu_carte {
	background-position: -827px 0;
	width: 136px;
	height: 21px;
}
div#elements_general ul li a#mnu_carte:hover {
	background-position: -827px -43px;
}

/* Tirages au sort */
div#elements_general ul li a#mnu_tirages {
	background-position: -827px -21px;
	width: 136px;
	height: 22px;
}
div#elements_general ul li a#mnu_tirages:hover {
	background-position: -827px -64px;
}


/* ----------------------------------------------
	Navig : Menu Rseaux
	Image GIF divise en sprites, affichage par positionnement
	---------------------------------------------- 
*/
div#elements_reseaux ul	li a {
	background: url('http://www.sepaq.com/resources/images/interface/header/mnu_reseaux.gif') no-repeat scroll top left;
	/* Permet l'affichage du texte avec le CSS desactive - Methode Phark Revisited + overflow hidden */
	text-indent: -5000px;
	overflow: hidden;
}
body.lang_en div#elements_reseaux ul	li a {
	background-image: url('http://www.sepaq.com/resources/images/interface/header/mnu_reseaux_en.gif');
}

div#elements_reseaux ul	li, div#elements_reseaux ul li a {
	display:block;
}
div#elements_reseaux ul li#t_reseaux {
	background: url('http://www.sepaq.com/resources/images/interface/header/mnu_reseaux.gif') no-repeat scroll top left;
	display: block;
	background-position: 0 0;
	width: 109px;
	height: 33px;
}
body.lang_en div#elements_reseaux ul li#t_reseaux {
	background-image: url('http://www.sepaq.com/resources/images/interface/header/mnu_reseaux_en.gif');
}

/* Parcs Quebec */
div#elements_reseaux ul li a#mnu_parcsquebec {
	background-position: -109px 0;
	width: 140px;
	height: 33px;
}
div#elements_reseaux ul li a#mnu_parcsquebec.hover {
	background-position: -109px -33px;
}

/* Reserves */
div#elements_reseaux ul li a#mnu_reserves {
	background-position: -249px 0;
	width: 187px;
	height: 33px;
}
div#elements_reseaux ul li a#mnu_reserves.hover {
	background-position: -249px -33px;
}

/* Centres touristiques */
div#elements_reseaux ul li a#mnu_centres {
	background-position: -436px 0;
	width: 193px;
	height: 33px;
}
div#elements_reseaux ul li a#mnu_centres.hover {
	background-position: -436px -33px;
}

/* Aquarium du Qubec */
div#elements_reseaux ul li a#mnu_aquarium {
	background-position: -628px 0;
	width: 187px;
	height: 33px;
}
div#elements_reseaux ul li a#mnu_aquarium.hover {
	background-position: -628px -33px;
}

/* Anticosti */
div#elements_reseaux ul li a#mnu_anticosti {
	background-position: -816px 0;
	width: 152px;
	height: 33px;
}
div#elements_reseaux ul li a#mnu_anticosti.hover {
	background-position: -816px -33px;
}


/* ----------------------------------------------
	Definition des "drop downs"
	.menu_dropdown : classe generale de mise en forme
	#menu_dropdown_parcsquebec : drop down de Parcs Quebec
	#menu_dropdown_reserves : drop down des Reserves fauniques
	#menu_dropdown_centres : drop down des Centres touristiques
	---------------------------------------------- 
*/

.menu_dropdown {
	display: none;
	width: 920px; /* 950px - padding de 38px */
	background: url('http://www.sepaq.com/resources/images/interface/header/bg_menu.png');
	position: absolute;
	top: 111px;
	left: 50%;
	margin-left: -475px;
}

/* ----------------------------------------------- */

#menu_dropdown_parcsquebec {
 	height: 185px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #5a5a5a;
	padding: 12px 12px 15px 19px;
}
#menu_dropdown_parcsquebec ul {
	float: left;
	width: 180px;
	height: 185px; /* Hauteur doit etre adaptee au contenu */
	line-height: 18px;
	margin-left: 15px;
	padding-left: 15px;
	border-left: 1px dotted #5a5a5a;
}
#menu_dropdown_parcsquebec ul:first-child {
	margin-left: 0;
	padding-left: 0;
	border-left: none;
}
#menu_dropdown_parcsquebec ul li a  {
	color: #5a5a5a;
	text-decoration: none;
	padding: 1px 2px 1px 12px;
	display: block;
	background: url(http://www.sepaq.com/resources/images/interface/header/bullet1.gif) no-repeat 4px 8px;
}
#menu_dropdown_parcsquebec ul li a:hover,
#menu_dropdown_parcsquebec ul li a.actif  {
	color: #4d504d;
	background-color: #ddd;
}
#menu_dropdown_parcsquebec ul li ul {
	border-left: none;
	float: none;
	height: auto;
}
#menu_dropdown_parcsquebec ul li ul li a  {
	padding-left: 27px;
	background: url('http://www.sepaq.com/resources/images/interface/header/bullet2.gif') no-repeat 16px 9px;
}
#menu_dropdown_parcsquebec .carte_etablissements {
	width: 310px;
	height: 185px;
	float: right;
} 
/* ----------------------------------------------- */

#menu_dropdown_reserves {
 	height: 185px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #5a5a5a;
	padding: 12px 12px 15px 19px;
}
#menu_dropdown_reserves ul {
	float: left;
	width: 180px;
	height: 185px;
	line-height: 18px;
	margin-left: 15px;
	padding-left: 15px;
	border-left: 1px dotted #5a5a5a;
}
#menu_dropdown_reserves ul:first-child {
	margin-left: 0;
	padding-left: 0;
	border-left: none;
}
#menu_dropdown_reserves ul li a  {
	color: #5a5a5a;
	text-decoration: none;
	padding: 1px 2px 1px 12px;
	display: block;
	background: url('http://www.sepaq.com/resources/images/interface/header/bullet1.gif') no-repeat 4px 8px;
}
#menu_dropdown_reserves ul li a:hover,
#menu_dropdown_reserves ul li a.actif  {
	color: #4d504d;
	background-color: #ddd;
}
#menu_dropdown_reserves ul li ul {
	border-left: none;
	float: none;
	height: auto;
}
#menu_dropdown_reserves ul li ul li a  {
	padding-left: 27px;
	background: url('http://www.sepaq.com/resources/images/interface/header/bullet2.gif') no-repeat 16px 9px;
}

#menu_dropdown_reserves .carte_etablissements {
	width: 310px;
	height: 185px;
	float: right;
}
/* ----------------------------------------------- */

#menu_dropdown_centres {
 	height: 185px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #5a5a5a;
	padding: 12px 12px 15px 19px;
}
#menu_dropdown_centres ul {
	float: left;
	width: 230px;
	height: 185px;
	line-height: 18px;
	margin-left: 15px;
	padding-left: 15px;
	border-left: 1px dotted #5a5a5a;
}
#menu_dropdown_centres ul:first-child {
	margin-left: 0;
	padding-left: 0;
	border-left: none;
}
#menu_dropdown_centres ul li a  {
	color: #5a5a5a;
	text-decoration: none;
	padding: 1px 2px 1px 12px;
	display: block;
	background: url('http://www.sepaq.com/resources/images/interface/header/bullet1.gif') no-repeat 4px 8px;
}
#menu_dropdown_centres ul li a:hover,
#menu_dropdown_centres ul li a.actif  {
	color: #4d504d;
	background-color: #ddd;
}
#menu_dropdown_centres ul li ul {
	border-left: none;
	float: none;
	height: auto;
}
#menu_dropdown_centres ul li ul li a  {
	padding-left: 27px;
	background: url('http://www.sepaq.com/resources/images/interface/header/bullet2.gif') no-repeat 16px 9px;
}

#menu_dropdown_centres .carte_etablissements {
	width: 310px;
	height: 185px;
	float: right;
}


/* ----------------------------------------------- */

#menu_dropdown_organisation {
	line-height: 20px;
	position: absolute;
       	top: 27px;
	left: 50%;
        margin-left: -425px;
	width: 211px;
	border: 1px solid #d9dad5;
	border-bottom: none;
	display: none;
	background: url('http://www.sepaq.com/resources/images/interface/header/bg_menu.png');
}
body.lang_en #menu_dropdown_organisation {
        margin-left: -435px;
}
#menu_dropdown_organisation ul li {
	border-bottom: 1px solid #d9dad5;
 	text-transform: uppercase;
}

#menu_dropdown_organisation ul li a {
        display: block;  
	text-decoration: none;
	color: #3c5325;
	padding: 4px 5px 0 8px;
}
#menu_dropdown_organisation ul li a:hover {
        background: rgba(0,0,0,.07) url(http://www.sepaq.com/resources/images/interface/header/org_menu_fleche.png) no-repeat right center;
}

/* ----------------------------------------------- */

#menu_dropdown_account {
  background: url('http://www.sepaq.com/resources/images/interface/header/bg_menu.png');
  position: absolute;
  top: 27px;
  right: 50%;
  margin-right: -491px;
  display: none;
  width: 255px;
  border: 1px solid #d9dad5;
  padding: 0 10px 10px 13px;
}
.lang_en #menu_dropdown_account {
  margin-right: -480px;
}


#menu_dropdown_account p {
  clear: left;
}
#menu_dropdown_account label {
  width: 98px;
  height: 20px;
  line-height: 26px;
  display: block;
  float: left;
}

#menu_dropdown_account input.account {
  width: 150px;
  border: 1px solid #a1a1a1;
  height: 20px;
  margin: 3px 0;
  height: 14px;
  display: block;
  float: left;
}
#menu_dropdown_account input.button#loginbtn {
  margin-top: 5px;
  width:93px;
}
#menu_dropdown_account .profile_link {
  margin: 0 0 5px 97px;
}
#menu_dropdown_account .profile_link a {
  border-bottom: 1px dotted #4A7BBE;
  color: #2C5DA0;
  padding-bottom: 0;
  text-decoration: none;
}


/* Styles pour l'interactivite avec la carte */
.map-container {
  position:relative;
  float:right;
  width: 310px;
}

.map-container .dot-over {
	position: absolute;
	background:transparent url('http://www.sepaq.com/resources/images/interface/header/dot_parcs.png') no-repeat 0 0;
	width:23px;
	height:23px;
}

#menu_dropdown_reserves .map-container .dot-over {
	background-image:url('http://www.sepaq.com/resources/images/interface/header/dot_reserves.png')
}


#menu_dropdown_centres .map-container .dot-over {
	background-image:url('http://www.sepaq.com/resources/images/interface/header/dot_centres.png')
}

#menu_dropdown_reserves div.map-container div.specialCT {
	background-image:url('http://www.sepaq.com/resources/images/interface/header/dot_centres.png');
}

.map-container .trigger {
	position:absolute;
	display:block;
	width:12px;
	height:16px;
	background-image:url('http://www.sepaq.com/resources/images/interface/header/fix.gif');
}
