body {
 background-image:none;
 color: black;
 overflow-y : visible !important;
 width: auto;
}

#header, #menu_general, #menu_reseaux, #breadcrumb, #tools, #tabs_main, #tabs_sub, #products ul, #news_ticker, .button, #tirages #zone_titre {
 display: none;
}

#header, #breadcrumb, #tools, #tabs_main, #tabs_sub, #products ul, #news_ticker, .buttons, .col, .col380, .col540 {
 float: none !important;
}



#container {
 width: auto;
 overflow: visible !important;
}
#container .col {
 width: auto;
 padding-bottom: 0px;
 margin-bottom: 0px;
}
#container .col .col540, #container .col .col380 {
 width: auto;
 padding-right: 15px;
 padding-bottom:0;
}
#container .col .col980 {
 width: 100%;
 padding-right: 15px;
 padding-bottom:0;
}
#container .box {
	padding-left:0;
	padding-right:0;
}
#zone_titre,
.produit #zone_titre,
.transac #zone_titre {
 width: auto;
 height: 30px;
}
#zone_titre h1,
.produit #zone_titre h1,
.transac #zone_titre h1 {
 font: normal 20px Arial, Helvetica, sans-serif;
 width: auto;
 height: 30px;
 text-indent: 0px;
 margin: 0;
 color: black;
 background-image: none;
}

#container a {
 color: #003;
 text-decoration: underline;
 border-bottom: none;
}

#container .ombre_top {
	background:none;
}

#container hr {
	/* display: none */
}



/* 

::: Ad Banner flash - accueil seulement --------------------------------

*/

#ad_banner_flash { display: none; }
#container h2.rss a { text-decoration: none; }



/*

::: Bas de page ----------------------------------------------------

*/

#footer { width: 100% }
#footer .contact span { display: none; }
#footer .contact a { display: none; }
#footer .copyright {float:none;margin-left:30pt}
#footer .copyright a { display: none; }

/*

::: Accueil ----------------------------------------------------

*/

#container .sections,
#container #zonevideo,
#container #tools {
	display: none;
}

/*

::: Création de profil ----------------------------------------------------

*/

#container .messDiv {
	height: auto;
	overflow: inherit;
}

/*

::: Produits ----------------------------------------------------

*/

.produit .titre,
#filtre_reseaux,
#container .col .onglets_niveau_1 ul,
#breadcrumbSolo {
	display: none;
}

#container .col .onglets_niveau_1 ul {
	background-image:none;
}

#fiche-technique div {
	float:none;
}
/* Maps */
#map,.bubble,.tooltip_element{
	display: none;
}
#pq_pin,#rf_pin,#ct_pin {
	margin-left:-10000px;
}
/*

::: Transac ----------------------------------------------------

*/
.transac #zone_titre {
	display: none;
}
div.surtitre {
	display: none;
}
#container .productLogo{
	width:auto;
	margin-right:20px;
}
#container .establishmentLogo {
	width:auto;
}
div.nav {
	width:auto;
	display: none;
}
.ligne1,.ligne2,.ligne3 {
	visibility: hidden;
}



/*

 :: TIRAGES ----------------------------------------------------

*/
#tirages .tirages_photo {
  display: none;
}
#tirages .tirages_texte {
  padding-left: 0;
  width: 95%;
}
