/* feuilles de styles qui surchargent les styles home.css pour les navigateurs autres que Netscape 4 */

/* logo magma */
#logo {	margin: 3px 2px; display:block; }
#nswarning {
	display: none;
	visibility: none;
}

/* menu dans le panel */
#menuprincipal { padding-bottom: 60px; }
@media all{ /* ie 4 hack : on veut pas que ca s'execute dans ie4 */
	#menuprincipal li {
		text-align:left;
	}
}

#recherche select {
	margin-right:8px;
	width:150px;
}

/* cadre news letter */
#newsletter {
	clear:both;
}

