
.tab_box_img {
              border: 0px;
              float: right;
              padding: 0px 5px 0 0px;
              margin-top: -9px;
}

#campaign_tab1{
               left:0%;
               z-index:7;
               width : 191px;
               cursor: hand;
               overflow : hidden;
               position : absolute;
               cursor:pointer;
}

div#campaign_tab1 p.tab_box_text {
               background-image: url(arrow_white.gif);
               background-position: 0px 8px;
               background-repeat: no-repeat;
               padding: 6px 10px 0px 20px;
               color: #ffffff;
               font-size: 13px;
               font-family : Arial, Helvetica, san-serif;
               letter-spacing: 0.01em;
               line-height: 21px;
               font-weight: bold;
}

div#campaign_tab1 div.tab_box{
              width : 175px;
              height : 74px;/*62px;*/
              padding: 0px 0px 0px 10px;
              position:absolute;
              z-index:8;
}

#campaign_tab2{
               left:20%;
               z-index:6;
               width : 191px;
               cursor: hand;
               overflow : hidden;
               position : absolute;
               cursor:pointer;
}

div#campaign_tab2 p.tab_box_text {
               background-image: url(arrow_white.gif);
               background-position: 0px 8px;
               background-repeat: no-repeat;
               padding: 6px 10px 0px 20px;
               color: #ffffff;
               font-size: 13px;
               font-family : Arial, Helvetica, san-serif;
               letter-spacing: 0.01em;
               line-height: 21px;
               font-weight: bold;
}

div#campaign_tab2 div.tab_box{
              width : 175px;
              height : 74px;
              padding: 0px 0px 0px 9px;
              position:absolute;
              z-index:8;
}

#campaign_tab3{
               left:40%;
               z-index:5;
               width : 191px;
               cursor: hand;
               overflow : hidden;
               position : absolute;
               cursor:pointer;
}

div#campaign_tab3 p.tab_box_text {
               background-image: url(arrow_white.gif);
               background-position: 0px 8px;
               background-repeat: no-repeat;
               padding: 6px 10px 0px 20px;
               color: #ffffff;
               font-size: 13px;
               font-family : Arial, Helvetica, san-serif;
               letter-spacing: 0.01em;
               line-height: 21px;
               font-weight: bold;
}

div#campaign_tab3 div.tab_box{
              width : 175px;
              height : 74px;
              padding: 0px 0px 0px 8px;
              position:absolute;
              z-index:8;
}

#campaign_tab4{
               left:60%;
               z-index:4;
               width : 191px;
               cursor: hand;
               overflow : hidden;
               position : absolute;
               cursor:pointer;
}

div#campaign_tab4 p.tab_box_text {
               background-image: url(arrow_white.gif);
               background-position: 0px 8px;
               background-repeat: no-repeat;
               padding: 6px 10px 0px 20px;
               color: #ffffff;
               font-size: 13px;
               font-family : Arial, Helvetica, san-serif;
               letter-spacing: 0.01em;
               line-height: 21px;
               font-weight: bold;
}

div#campaign_tab4 div.tab_box{
              width : 175px;
              height : 74px;
              padding: 0px 0px 0px 7px;
              position:absolute;
              z-index:8;
}

#campaign_tab5{
               right: 1px;
               z-index:7;
               width : 191px;
               cursor: hand;
               overflow : hidden;
               position : absolute;
               cursor:pointer;
}

div#campaign_tab5 p.tab_box_text {
               background-image: url(arrow_white.gif);
               background-position: 0px 8px;
               background-repeat: no-repeat;
               padding: 6px 10px 0px 20px;
               color: #ffffff;
               font-size: 13px;
               font-family : Arial, Helvetica, san-serif;
               letter-spacing: 0.01em;
               line-height: 21px;
               font-weight: bold;
}

div#campaign_tab5 div.tab_box{
              width : 175px;
              height : 74px;/*62px;*/
              padding: 0px 0px 0px 10px;
              position:absolute;
              z-index:8;
}
div.campaign_tab{
               background : url("campaign_bg.png")!important;
               background : none;
               bottom: -25px;
               height : 74px;
}

div.campaign_tab_ext{
               width:191px; 
               height:74px; 
               position:absolute; 
               z-index:7;
}

div.campaign_tab div.campaign_tab_ext{
               filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/fr_fr/static/img/campaign_bg.png', sizingMethod='crop');
}

div.campaign_tab_activ div.campaign_tab_ext{
               filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/fr_fr/static/img/campaign_bg_activ.png', sizingMethod='crop');
}

div.campaign_tab_activ_chosen div.campaign_tab_ext{
               filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/fr_fr/static/img/campaign_bg_activ.png', sizingMethod='crop');
}

div.campaign_tab_activ{
               background : url("campaign_bg_activ.png")!important;
               background : none;
               bottom: -25px;
               height : 74px;
}

div.campaign_tab_activ_chosen{
               background : url("campaign_bg_activ.png")!important;
               background : none;
               bottom: -25px;
               height : 74px;
}


/*
.campaign_tab div p{
               padding:8px 10px 0px 20px;
}

.campaign_tab_activ div p{
               padding:0px 10px 0px 20px;
}

.campaign_tab_activ_chosen div p{
               padding:0px 10px 0px 20px;
}
*/
/*  ============================================     */


#campaign_banner_link{
               height:197px;
               position:absolute;
               top:82px;
               width:960px;
               z-index:3;
               cursor:pointer;
}


/*  =============Start style for campaign_banner#===============================     */

DIV #campaign_banner1{
font-size:45px;
font-family:Verdana;/*DIN;*/
font-weight:bold;
height:60px;
left:22px;
position:absolute;
top:90px;
width:800px;
padding:0px;
margin:0px
z-index:2;
}

DIV #campaign_subbanner1{
font-size:30px;
font-family:Verdana;/*DIN;*/
font-weight:bold;
height:50px;
left:22px;
position:absolute;
top:150px;
width:800px;
padding:0px;
margin:0px;
z-index:2;
}

DIV #campaign_banner2{
font-size:45px;
font-family:Verdana;/*DIN;*/
font-weight:bold;
height:60px;
left:22px;
position:absolute;
top:90px;
width:800px;
padding:0px;
margin:0px
z-index:2;
}

DIV #campaign_subbanner2{
font-size:30px;
font-family:Verdana;/*DIN;*/
font-weight:bold;
height:50px;
left:22px;
position:absolute;
top:150px;
width:800px;
padding:0px;
margin:0px;
z-index:2;
}

DIV #campaign_banner3{
font-size:45px;
font-family:Arial
font-weight:bold;
height:60px;
left:22px;
position:absolute;
top:90px;
width:800px;
padding:0px;
margin:0px
z-index:2;
}

DIV #campaign_subbanner3{
font-size:30px;
font-family:Arial
font-weight:bold;
height:50px;
left:22px;
position:absolute;
top:150px;
width:800px;
padding:0px;
margin:0px;
z-index:2;
}

DIV #campaign_banner4{
font-size:45px;
font-family:Verdana;/*DIN;*/
font-weight:bold;
height:60px;
left:22px;
position:absolute;
top:90px;
width:800px;
padding:0px;
margin:0px
z-index:2;
}

DIV #campaign_subbanner4{
font-size:30px;
font-family:Verdana;/*DIN;*/
font-weight:bold;
height:50px;
left:22px;
position:absolute;
top:150px;
width:800px;
padding:0px;
margin:0px;
z-index:2;
}

/*  =============Start style for Serch Dealer===============================     */
div.campaign_search {
height:51px;
width:191px;
margin:0px 0px 0px 1px;
overflow:hidden;
position:absolute;
z-index:7;
right:0px;
top:228px;
text-align:left;
background: transparent url(http://eu.goodyear.com/fr_fr/static/img/serch_button.gif) no-repeat 0% 0%;
background-position-x: 0%; !important;
background-position-y: 0%; !important;
}

div.campaign_search P{
color:black;
text-align:left;
margin:5px 0px 0px 10px;
}

div.campaign_search DIV{
background:transparent url(arrow_right_gray.gif) no-repeat scroll 10% 50%;
border:0px none;
color:#505E6E;
float:left;
font-size:12px;
font-weight:bold;
margin:0px;
padding: 5px 0px 5px 10px;
}

div.campaign_search input{
margin:5px 5px 0px 12px;
float:left;
}
/*  =============End style for Serch Dealer ================================     */