* {margin:0;padding:0;list-style-type : none;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body{
                /*line-height: 1;*/
	color: black;
	text-align: center;
	background : #d3d3d3 url(bg_home.jpg) repeat-x;
	font-family: Verdana;
	font-size: small;
}

/*
body{
	background : #d3d3d3 url(../../static/img/bg_home.jpg) repeat-x;
	text-align : center;
}
*/

#container{
	margin : auto;
	background : #d3d3d3 url(bg_home.jpg) repeat-x;
	width: 970px;
	text-align : center;
/*	background-color: white; */
}
.mainpage {
	width: 960px;
	float:left;
	padding : 0px;
	margin : 0px;
}
#frame_shadow{
	background : white;
}


#menu{
	text-align : left;
	position : relative;
	width : 960px;

}

#menu.menu_subpage{
	width : 960px;
}

#menu[id]{
	border-top : 1px solid black !important; /* Firefox weirdness */ border : 0;
/*	left : 50%;*/
/*	 margin : -1px 0 0 -385px; */
                margin: -1px 0 0 0;
	 /*mar\gin : -1px 0 0 -385px !important; mar\gin : -1px 0 0 -418px;*/
}

#menu.menu_mainpage{height : 278px; he\ight:278px; z-index:0;}
.menu_mainpage_flash{height : 278px; he\ight:278px; z-index:0;}


#bottomnav_home{
/*	position : absolute;
	top : 882px; */
	float:left;
	height:20px;
	width : 965px;
	text-align : right;
	padding : 10px 5px 0 0;
	background-color: #d3d3d3;
}

div.home_links_infobox {
	background-image:url(layout_redesigned.css);
	background-repeat:no-repeat;
	border:1px solid #FFDB00;
	color:#FFFFFF;
	font-size:0.7em;
	font-weight:normal;
	height:100px;
	left:610px;
	position:absolute;
	top:100px;
	display:block;
	float:left;
	height:100px;
	line-height:24px;
	padding:0px 10px 10px 10px;
	text-align:left;
	width:340px;
}

div.home_links_infobox p#title{
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	padding:0px;
}

div.home_links_infobox p#text{
	font-size:14px;
	line-height:14px;
	text-align:justify
}

div.home_links_infobox #more_info {
	font-size:8pt;
	font-weight:bold;
	text-align:right;
}
div.home_links_infobox IMG{
	float:left;
	margin-right:5px;
	margin-bottom:5px;
}

div.home_links_infobox ul.list_ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0px;
	padding:0pt 0pt 0pt 15px;
}
div.home_links_infobox li.bulleted_list {
	font-size:12px;
	line-height:14px;
}