@charset "utf-8";
/* CSS Document */

/* ELEMENTS GENERIQUES *********************************************/
body {
	width: 970px;
	margin: 0px;
	padding: 0px;
	background-color:#FFFFFF;
	
}

HR {
	visibility:hidden;
	clear:both;
	height: 5px;
	padding: 0px;
}


#gauche {
	padding:0px;
	float:left;
	width: 210px;
	min-height: 865px;
	height: auto;
	background-color:#FFFFFF;
	border: 1px solid #6fbbd4;
	margin-top: 8px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-left: 5px;
}
	
#droite {
	float: left;
	width: auto;
	background-color:#FFFFFF;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	padding: 0px;
}

/* CELLULES ****************************************/

/* TELECHARGEMENTS *************************/

#telechargements {
	margin: 0px;
	height: 25px;
	display:block;
	background-color: #6fbbd4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	padding-top: 2px;
}

.p_telechargements {
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	color: #666666;
}

#liste_telechargements ul{
	margin:auto;
	padding:inherit;

}

#liste_telechargements li{
	list-style-image:url(http://www.marseille-port.fr/images/site/puce_pam.gif);
}

#liste_telechargements  a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #6fbbd4;
	text-decoration: underline;
	vertical-align: middle;
}

#liste_telechargements  a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #666666;
	text-decoration: none;
	vertical-align: middle;
}

/* PUBLICATION*/

#publications {
	margin: 0px;
	height: 25px;
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #669933;
	font-weight: bold;
	text-decoration: none;
	padding-top: 2px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #669933;
	padding-left: 5px;
}

.p_publications {
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #666666;
}

#liste_publications ul{
	margin:auto;
	padding:inherit;

}

#liste_publications li{
	list-style-image:url(http://www.marseille-port.fr/images/site/puce_pam_brochures.gif);
}

#liste_publications a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #669933;
	text-decoration: underline;
	vertical-align: middle;
}

#liste_publications a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #666666;
	text-decoration: none;
	vertical-align: middle;
}


/* CATALOGUES*/

#catalogues {
	margin: 0px;
	height: 25px;
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #004a8f;
	font-weight: bold;
	text-decoration: none;
	padding-top: 2px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #004a8f;
	padding-left: 5px;
}

.p_catalogues {
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #666666;
}

#liste_catalogues ul{
	margin:auto;
	padding:inherit;

}

#liste_catalogues li{
	list-style-image:url(http://www.marseille-port.fr/images/site/puce_pam_formations.gif);
}

#liste_catalogues a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #004a8f;
	text-decoration: underline;
	vertical-align: middle;
}

#liste_catalogues a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #666666;
	text-decoration: none;
	vertical-align: middle;
}


/* CATALOGUES TARIFS*/

#catalogues_t {
	margin: 0px;
	height: 25px;
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #5babd5;
	font-weight: bold;
	text-decoration: none;
	padding-top: 2px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #5babd5;
	padding-left: 5px;
}

.p_catalogues_t {
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #666666;
}

#liste_catalogues_t ul{
	margin:auto;
	padding:inherit;

}

#liste_catalogues_t li{
	list-style-image:url(http://www.marseille-port.fr/images/site/puce_pam_tarifs.gif);
}

#liste_catalogues_t a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #5babd5;
	text-decoration: underline;
	vertical-align: middle;
}

#liste_catalogues_t a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #666666;
	text-decoration: none;
	vertical-align: middle;
}

/* FORMULAIRES */

#formulaires_t {
	margin: 0px;
	height: 25px;
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #f29a79;
	font-weight: bold;
	text-decoration: none;
	padding-top: 2px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #f29a79;
	padding-left: 5px;
}

#formulaires p {
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #666666;
}

#formulaires ul{
	margin:auto;
	padding:inherit;

}

#formulaires li{
	list-style-image:url(http://www.marseille-port.fr/images/site/puce_pam_formulaires.gif);
}

#formulaires a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #f29a79;
	text-decoration: underline;
	vertical-align: middle;
}

#formulaires a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #666666;
	text-decoration: none;
	vertical-align: middle;
}






/* MAGAZINES*/

#magazines {
	margin: 0px;
	height: 25px;
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #c593be;
	font-weight: bold;
	text-decoration: none;
	padding-top: 2px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #c593be;
	padding-left: 5px;
}

.p_magazines {
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #666666;
}

#liste_magazines ul{
	margin:auto;
	padding:inherit;

}

#liste_magazines li{
	list-style-image:url(http://www.marseille-port.fr/images/site/puce_pam_magazines.gif);
}

#liste_magazines a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #c593be;
	text-decoration: underline;
	vertical-align: middle;
}

#liste_magazines a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #666666;
	text-decoration: none;
	vertical-align: middle;
}

/* PLANS */

#plans {
	margin: 0px;
	height: 25px;
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #9085ba;
	font-weight: bold;
	text-decoration: none;
	padding-top: 2px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9085ba;
	padding-left: 5px;
}

.p_plans  {
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #666666;
}

#liste_plans  ul{
	margin:auto;
	padding:inherit;

}

#liste_plans  li{
	list-style-image:url(http://www.marseille-port.fr/images/site/puce_pam_plans.gif);
}

#liste_plans  a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #9085ba;
	text-decoration: underline;
	vertical-align: middle;
}

#liste_plans  a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #666666;
	text-decoration: none;
	vertical-align: middle;
}


/* DIVERS */

#divers {
	margin: 0px;
	height: 25px;
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #959595;
	font-weight: bold;
	text-decoration: none;
	padding-top: 2px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #959595;
	padding-left: 5px;
}

.p_divers  {
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #666666;
}

#liste_divers  ul{
	margin:auto;
	padding:inherit;

}

#liste_divers  li{
	list-style-image:url(http://www.marseille-port.fr/images/site/puce_pam_divers.gif);
}

#liste_divers  a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #959595;
	text-decoration: underline;
	vertical-align: middle;
}

#liste_divers  a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #666666;
	text-decoration: none;
	vertical-align: middle;
}


/* TELECHARGEMENTS FIN *************************/

/* CELLULE ACTUALITE*/

/*====================== Diaporama Actualites ======================*/

#container_actu {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 500px;
	border: solid 1px #00b0e1;
	background-image: url(http://www.marseille-port.fr/images/site/actualites_bg.gif);
	background-position: right bottom;
	background-repeat: no-repeat;
}

#actualites {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 25px;
	display:block;
	background-color: #08569e;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}


.code{
	width: 420px;
}


#parent1 li{
	list-style: none;
	clear: both;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
}

#parent1 a{
	color: #FF9900;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: undeline;
}

#parent1 a:hover{
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

#parent1-menu a.wactive{
	padding: 0px 2px;
	background: #666666;
	color: #FFFFFF;
	border: 1px solid #666666;
	text-decoration: none;

}
#parent1-menu a{
	padding: 0px 2px;
	background: #eeeeee;
	color: #FF9900;
	border: 1px solid #666666;
	text-decoration: none;
}
#parent1-menu a:hover{
	padding: 0px 2px;
	background: #FF9900;
	color: #666666;
	border: 1px solid #666666;
	text-decoration: none;
}

.actu_consultation {
	background-image:url(http://www.marseille-port.fr/images/site/consultations_toutes_actus.gif);
	background-repeat:no-repeat;
	background-position: right;
	width: 235px;
	font-size: 0.9em;
	float:right;
	text-align: right;	
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;	
}

.actu_consultation:hover {
	background-image:url(http://www.marseille-port.fr/images/site/consultations_toutes_actus.gif);
	background-repeat:no-repeat;
	background-position: right;
	width: 235px;
	font-size: 0.9em;
	float:right;
	text-align: right;	
	color: #08569e;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;	
}


/*====================== Pour tous les menus de la page ======================*/
.wslide-menu{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
/*====================== Diaporama Actualites FIN======================*/

/* DOSSIER FOCUS */

#focus {
	background-color: #00b0e1;
	float: left;
	width: 205px;
	height: auto;
	border: 1px solid #00b0e1;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	padding:0px;
	font-size: 0.8em;
	text-align: left;
	vertical-align: middle;
}

#focus h1{
	font-size: 0.9em;
	margin: 0px;
	font-weight: bold;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}

#focus img{
	border: 0px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#focus a{
	text-align: right;	
	font-size: 1em;
	float: right;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

#focus a:hover{
	text-align: right;	
	font-size: 1em;
	float: right;
 	color: #08569e;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

#focus embed{
	margin: 0px;
	padding: 0px;
}


/* FOCUS DOSSIER */

/* 
	background-image: url(../accueil/images/dossier_focus.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;


*/

#dossier_focus {
	position: relative;
	margin: 0px;
	padding: 2px;
	float: left;
	height: auto;
	width: 710px;
	border: 1px solid #00b0e1;
	font-size: 0.8em;
	background-color: #FFFFFF;
}


#dossier_focus  h1 {
	margin: 0px;
	padding: 0px;
	height: 25px;
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #08569e;
}


#dossier_focus  p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	float: left;
	margin: 0px;
	padding: 0px;
	width: 235px;
}


#dossier_focus a{
	color: #FF9900;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: undeline;
}

#dossier_focus a:hover{
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}


/* CELLULE MODULES CONSULTATION */

#consultations {
	position: relative;
	margin: 0px;
	padding: 0px;
	float: left;
	height: auto;
	width: 710px;
	border: 1px solid #CCCCCC;
	font-size: 0.8em;
	background-color: #F5F5F5;
}

#consultations  h1 {
	margin: 0px;
	padding: 0px;
	height: 25px;
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #00b0e1;
}

#consultations p {
	padding: 0px;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 5px;
}

#consultations ul {
	margin: 5px;
	padding: 0px;

}

#consultations li {
	display:inline;
	list-style-type: none;
}

#consultations a {
	color: #FF9900;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 5px;
	text-decoration: underline;
}

#consultations a:hover {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 5px;
	text-decoration: none;
}

#consultations a span {
	display : none;
}

#consultations a:hover {
	background: none ;
	text-decoration: none;
}

#consultations a:hover span {
	display : block;
	position : absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF6600;
	text-decoration: none;
	top: 105px;
	left: 0px;
	width: 710px;
	text-align: center;
	font-weight: bold;
}



#horloge {
	margin: 0px;
	padding: 0px;
	height: 100px;
	width: 100px;
	background-color: #FFFFFF;
	float: left;
	background-image: url(http://www.marseille-port.fr/images/site/horloge_bg.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

#horloge_gpm {
	margin: 0px;
	padding: 0px;
	height: 100px;
	width: 100px;
	background-color: #FFFFFF;
	float: left;
	background-image: url(http://www.marseille-port.fr/images/site/horloge_bg_gpm.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

/* CELLULE GRANDS PROJETS */

#projets {
	padding: 0px;
	float: left;
	min-height: 260px;
	height: 260px;
	width: 350px;
	border: 1px solid #cccccc;
	background-image: url(http://www.marseille-port.fr/images/site/projet_bg.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	font-size: 0.8em;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#projets h1 {
	margin: 0px;
	padding: 0px;
	height: 25px;
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #cebca5;
}
#projets p {
	padding: 0px;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 5px;
}

#projets li {
	list-style: square;
	color: #cebca5;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 0px;
}

#projets a {
	color: #FF9900;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 5px;
}

#projets a:hover {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 5px;
	text-decoration: none;
}


/* CELLULE DEVELOPPEMENT DURABLE */

#DD {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	float: left;
	height: auto;
	width: 350px;
	border: 1px solid #9ac720;
	background-color: #f0f7de;
	background-image: url(http://www.marseille-port.fr/images/site/developpement_durable_bg.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	font-size: 0.8em;
}

#DD h1 {
	margin: 0px;
	padding: 0px;
	height: 25px;
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #9ac720;
}

#DD p {
	padding: 0px;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 5px;
}
#DD li {
	list-style: square;
	color: #9ac720;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 0px;
}

#DD a {

	color: #FF9900;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 5px;
}

#DD a:hover {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 5px;
	text-decoration: none;
}

/* CELLULE CONSEIL D'ADMINISTRATION*/

#CA {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	float: left;
	height: 135px;
	width: 350px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	background-image: url(http://www.marseille-port.fr/images/site/CA_bg.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	font-size: 0.8em;
}


#CA h1 {
	margin: 0px;
	padding: 0px;
	height: 25px;
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f29a79;

}

#CA p {
	padding: 0px;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 5px;
}

#CA li {
	list-style: square;
	color: #f29a79;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 0px;
}

#CA a {
	color: #FF9900;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 5px;
	text-decoration: underline;
}

#CA a:hover {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 5px;
	text-decoration: none;
}

/* CELLULE ACTIVITE */

#activites {
	padding: 0px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: left;
	min-height: 260px;
	height: 300px;
	width: 350px;
	border: 1px solid #CCCCCC;
	font-size: 0.8em;
	background-image: url(http://www.marseille-port.fr/images/site/activites_bg.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
}

#activites  h1 {
	margin: 0px;
	padding: 0px;
	height: 25px;
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	color: #0070b0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #c6e2f0;
}

#activites p {
	padding: 0px;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 5px;
}

#activites li {
	list-style: square;
	color: #c6e2f0;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 0px;
}

#activites a {
	color: #FF9900;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 5px;
	text-decoration: underline;
}

#activites a:hover {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 5px;
	text-decoration: none;
}

/* CELLULE ESPACE PRESSE */

#presse {
	padding: 0px;
	margin: 0px;
	float: left;
	min-height: 260px;
	height: 300px;
	width: 350px;
	border: 1px solid #CCCCCC;
	font-size: 0.8em;
	background-image: url(http://www.marseille-port.fr/images/site/presse_bg.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
}

#presse  h1 {
	margin: 0px;
	padding: 0px;
	height: 25px;
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #bac3e7;
}

#presse p {
	padding: 0px;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 5px;
}

#presse li {
	list-style:square;
	color: #9085ba;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 0px;
}

#presse a {
	color: #FF9900;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 5px;
	text-decoration: underline;
}

#presse a:hover {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 5px;
	text-decoration: none;
}
