/* 
www.vinci.com
Frederic RENARD pour Vinci
Derniere modification le 15/03/2010
*/

/* balises html */
*{margin:0;padding:0}
body,input,font{font: 0.688em "Trebuchet MS", Arial, Helvetica, sans-serif}
h1{letter-spacing:1px}
a{text-decoration:none}
p{padding-top:.5em;padding-bottom:.5em;line-height:1.5em}
img{border-style:none}
font{font-size:1em!important}
hr{border-top-width:1px;border-top-style:solid;height:1px;border-right:0;border-bottom:0;border-left:0;clear:both}

/* liens */
#context a,a.back{color:#999!important}
#context a:hover,a.back:hover{color:#000!important}
a.archiv{background:url(ico-archiv0.gif) no-repeat 0 50%;padding-left:18px}
a.archiv:hover{background:url(ico-archiv1.gif) no-repeat 0 50%}
a.back{background:url(ico-back0.gif) no-repeat 0 50%;padding-left:18px}
a.back:hover{background:url(ico-back1.gif) no-repeat 0 50%}
a.pdf{background:url(ico-pdf2.gif) no-repeat 0 50%;padding-left:14px}
a.print{background:url(ico-print0.gif) no-repeat 0 50%;padding-left:13px}
a.print:hover{background:url(ico-print1.gif) no-repeat 0 50%}
a.sort{background:url(ico-sort.gif) no-repeat 0 50%;padding-left:16px}
a.download{background:url(ico-download0.gif) no-repeat 0 50%;padding-left:15px}
a.download:hover{background:url(ico-download1.gif) no-repeat 0 50%}
a.pop{background:url(ico-pop0.gif) no-repeat 0 50%;padding-left:15px}
a.pop:hover{background:url(ico-pop1.gif) no-repeat 0 50%}
a.form{background:url(ico-form0.gif) no-repeat 0 50%;padding-left:14px}
a.form:hover{background:url(ico-form1.gif) no-repeat 0 50%}
a.icalabo{background:url(ical-subscribe.gif) no-repeat 0 50%;padding-left:16px;padding-top:2px;padding-bottom:2px}
a.icaltel{background:url(ical-download.gif) no-repeat 0 50%;padding-left:16px;padding-top:2px;padding-bottom:2px}
a.top{background:url(ico-top.gif) no-repeat 0 50%;padding-left:10px}
a.cam{background:url(ico-video0.gif) no-repeat 0 50%;padding-left:16px}
a.cam:hover{background:url(ico-video1.gif) no-repeat 0 50%}
a.fenetre{background:url(ico-fenetre0.gif) no-repeat 0 50%;padding-left:16px}
a.fenetre:hover{background:url(ico-fenetre1.gif) no-repeat 0 50%;padding-left:16px}


/* objets generiques */
.hidden{position:absolute;top:0;left:-2000px}
.title{font-size:1.1em;font-weight:700}
.spacer{clear:both}
.pixg, .pixd{font-size:0.917em;text-align:center}
.pixg{float:left;padding-right:1em!important}
.pixd{float:right;padding-left:1em!important}
.bouton{font-size:1em}
.note{font-size:.9em;font-weight:normal}
.justify{text-align:justify}
.fiftyfifty{float:left;margin-right:3px;width:422px}
.label{width:30em!important;text-align:left!important}
/* > tableaux financiers */
table.financier td{text-align:right}
table.financier th{font-weight:normal}
.numeriquefond, .numerique{text-align:right}
th.thline{text-align:left}

/* en-tete */
#header{height:4em;padding-top:2em}
#logo{position:absolute;z-index:1;top:0;width:166px;height:60px;left:794px}

/* contact, plan, styleswitcher, recherche */
#tools{color:#999;height:2em;padding-left:10px}
#tools li{display:inline}
#tools a{color:#999}
#tools a:hover{color:#000}
#links,#search{float:left}
#links{padding-top:.4em}
#links a{padding-right:.7em}
#styleswitcher {display:none}
#search{margin-left:.5em;display:none}
#search input{font-size:.95em;color:#999;width:9em;border:1px solid #b8c0c9;padding:1px 2px}
#search a{padding-left:3px}

/* sommaire & titre */
#summary,#title{float:left;height:2em!important;line-height:2em;background:#B8C0C9 url(coin-haut-droit.gif) no-repeat right top;color:#63686d;text-transform:uppercase}
#summary{width:9.1em;text-align:right;clear:both}
#summary a{color:#63686d;font-size:.95em;padding-left:1.2em;padding-right:1em;background:url(fleches-sommaire.gif) no-repeat left center}
#summary a:hover{color:#fff}
#title{width:620px;border-left:1px solid #FFF}
#title h1{background:url(coin-haut-gauche.gif) no-repeat left top;padding-left:10px;font-size:1.35em}

/* navigateur */
#nav{border-top:1px solid #FFF;border-left-width:9.1em;border-left-style:solid;letter-spacing:1px}
#nav ol{list-style:none}
#nav li{display:inline;padding-right:11px;text-transform:uppercase}
#main-nav,#sub-nav{margin-left:1px;padding-left:10px;padding-top:2px;padding-bottom:2px}
#main-nav{background-color:#475a75;margin-bottom:1px}
#main-nav a{color:#a3adba;padding-top:.4em;padding-bottom:.4em}
#main-nav a:hover,#main-nav .on{color:#fff}
#sub-nav{background:url(coin-bas-gauche.gif) no-repeat left bottom}
#sub-nav a:hover{text-decoration:underline}

/* contenu */
#content{margin-top:1px;width:960px}
#content a{color:#000}
#content a:hover{color:#F00;text-decoration:underline}
#content.margin{border-left-width:9.1em;border-left-style:solid;width:850px}
#content.margin p{padding-left:1.5em}
#content h2{font-size:1.2em;padding-left:1.15em}
#content h3{font-size:1.1em;padding-left:1.15em}
#content h4{font-size:1em;padding-left:1.15em}
p.marge{margin-left:9.1em;width:62em}
.lisere{border-top:1px solid #FFF}
.flottant{float:left}

/* contexte */
#context{padding-top:.5em;padding-bottom:.5em}
#context li{display:inline}
#context a{margin-left:1em}
#content #context a{text-decoration:none}
#context.list{padding-right:1em;text-align:right}

/* contenu avec marge gauche coloree */
.margin h2,.margin h3{clear:both;padding:.5em}
.margin .new{font-weight:700}

/* listes avec cases+image */
.case{width:261px;height:16em;float:left;padding:10px}
.case:hover{color:#000}
.case img{float:right;margin-left:5px;margin-bottom:5px}
.case img:hover{border:1px solid #F00}

/* streaming */
.video,.diaporama{float:left;padding-left:1px}
.video{width:410px}

/* contexte avec liens onglets */
#context .onglets {text-align:center}
#context .onglets li {border-left: 1px solid #a89eb6;	padding: 4px 15px !important}
#context .onglets li.last {border-right: 1px solid #a89eb6}
#context .onglets a { font-weight:bold;font-size:1.167em;margin-left:0 !important}
#context .onglets li.on {background:#a89eb6}
#context .onglets li.on a{color:#fff !important}

/* communiques */
#content.communique .date{text-align:right}
#content.communique h3{text-align:center}
#content.communique .auteur{text-align:right;font-style:italic;text-decoration:none}

/*-- pied de page --*/
#footer{width:960px;text-align:center;margin-top:3em;margin-bottom:2em;clear:both;font-size:.917em;color:#757575;font-family:Arial, "Trebuchet MS", Helvetica, sans-serif}
#footer ul{list-style:none}
#footer li{display:inline;padding-right:11px}
#footer a{color:#999}
#footer a:hover{color:#000}