/* CSS Document */
/* -------------------------------------------------------------------- Formulaire */
	input:focus,
	input.focus,
	textarea:focus,
	textarea.focus,
	select:focus,
	select.focus {background:#f7f1f0}
	input.bouton,  div.conteneur input.bouton,  div.content-action input, #boutons a {
		font-family:tahoma;
		font-size:1em;
		color:#fff;
		background:#f5600f;
		border:1px solid #f5600f;
		padding:1px;
		cursor:pointer
	}
	#boutons a {
		text-decoration:none;
		padding:2px 3px
	}
	#boutons a:hover,
	#boutons a:focus,
	#boutons a.hover,
	 div.conteneur input.bouton:hover,
	 div.conteneur input.bouton:focus,
	 #boutons input:hover,
	 #boutons input:focus,
	 #boutons input.focus,
	 div.boutons input:hover,
	 div.boutons input:focus,
	 div.boutons input.focus,
	 #etapes input:hover,
	 #etapes input:focus,
	 #etapes input.focus,
	 div.content-action input:hover,
	 div.content-action input:focus,
	 div.content-action input:focus
	{
		background:#f1880b;
		border-color:#f1880b
	}
/* -------------------------------------------------------------------- Liens externes */
	body.noeud_200 #main #left a.externe {
		background:none;
		padding-right:0
	}
	#main a.externe {
		background:url(lien_externe.gif) no-repeat right center;
		padding:0 14px 0 0
	}