/*
//================================================================
//  layout.css
//================================================================
//        $Id: layout.css,v 1.10 2007/06/01 15:41:02 libert-li Exp $
//================================================================
//   $RCSfile: layout.css,v $
//  $Revision: 1.10 $
//      $Date: 2007/06/01 15:41:02 $
//    $Author: libert-li $
//================================================================
*/

/*
Marquage CVS
$Header: /data/cvs/repository_v1.0/applis/src/fo/ebxapp/ebx/framework/skins/ebxDefault/css/layout.css,v 1.10 2007/06/01 15:41:02 libert-li Exp $
*/

.bea-portal-layout, .bea-portal-layout-border, .bea-portal-layout-grid, .bea-portal-layout-flow {
    padding: 0px; margin: 0px;
}

.bea-portal-layout-placeholder-container {
	padding: 0px; margin: 0px; vertical-align: top;
}

.bea-portal-layout-placeholder {
    padding: 0px; margin: 0px;
}

.bea-portal-layout-placeholder-container-west {
	background: transparent url(menu-fond.gif) repeat-y scroll left top;
    vertical-align: top; padding-right: 1em;
}

.bea-portal-layout-placeholder-container-east, .bea-portal-layout-placeholder-container-north, .bea-portal-layout-placeholder-container-south, .bea-portal-layout-placeholder-container-center {
    padding-right: 0em; margin: 0px; vertical-align: top;
}


