/*
//================================================================
//  style.css
//================================================================
//        $Id: style.css,v 1.5 2007/06/01 15:41:02 libert-li Exp $
//================================================================
//   $RCSfile: style.css,v $
//  $Revision: 1.5 $
//      $Date: 2007/06/01 15:41:02 $
//    $Author: libert-li $
//================================================================
*/

/*
Marquage CVS
$Header: /data/cvs/repository_v1.0/applis/src/fo/ebxapp/ebx/framework/skins/ebxDefault/css/style.css,v 1.5 2007/06/01 15:41:02 libert-li Exp $
*/

.droite {
  text-align: right;
}
 
    ul {
        list-style-type: none; padding: 0; margin: 0;
    }
 
.listevide li {
    background-repeat: no-repeat; background-position: 0 0.2em; padding-left: 1.3em;
}
.triangle2 li {
    background : url(triangle2.gif) no-repeat 0.4em; padding-left: 1.3em;
}
.triangle4 li {
    background : url(triangle4.gif) no-repeat 0.4em; padding-left: 1.3em;
}
.titre h1 {
	color: #787971; font-size : 18px;
}

