@charset "UTF-8";
/* CSS Document */


td {
font-size:12px;
}




/*General*/

.rose {
font-weight:bold;
color:#E75494;
}

h1 {
font-size:16px;
margin:0 0 15px 0;
color:#7FC63C;
}

h2 {
font-size:14px;
font-style:italic;
margin:8px 0 5px 0;
color:#00559b;
}

h3 {
font-size:14px;
margin:8px 0 5px 0;
color:#e54289;
}

h4 {
font-size:12px;
margin:8px 0 5px 0;
color:#00559b;
width:200px;
display:block;
border-bottom-color:#00559b;
border-bottom-style:solid;
border-bottom-width:1px;
}

h5 {
font-size:10px;
margin:8px 0 5px 0;
color:#e54289;

}

p {
margin:0 0 7px 0;
padding:0px;
text-align:justify;
}

a {
color:#E75494;;
}

a:hover {
color:#64B14D;
}

form {
margin:0px;
padding:0px;
}

.bouton {
border:0px;
background-color:#none;
color:#00488B;
cursor:pointer;
background-image:url(fond_bt.gif);
background-repeat:no-repeat;
width:50px;
height:19px;
padding:0px 0 7px 0;
margin:0 0 0 0px;
font-size:11px;}

.champ  {
height:14px;
width:150px;
margin:0 0 3px 0px;
border-style:solid;
border-color:#89b9d1;
border-width:1px;
}

img {
border:none;
}










