@charset "UTF-8";
/* CSS Document */

#sepa_accueil {

background-image:url(sepa_colonne.gif);
background-repeat: no-repeat;
width:22px;
height:403px;
}

#colonne_gauche {
width:160px;
padding:10px 0 0 0px;
text-align:left;
}

#colonne_gauche .act a {
color:#64B14D;
background-image:url(puce_hover_menu_gauche.gif);
background-repeat:no-repeat;
background-position:left;
padding:0 0 0 10px;
}

#colonne_gauche .act a:hover {
color:#64B14D;
background-image:url(puce_hover_menu_gauche.gif);
background-repeat:no-repeat;
background-position:left;
padding:0 0 0 10px;
}


#colonne_gauche ul {
margin:0px;
padding:15px 0 0 0px;
}

#colonne_gauche li {
list-style-type: none;
}

#colonne_gauche li a {
text-decoration:none;
background-image:url(puce_menu_gauche.gif);
background-repeat:no-repeat;
background-position:left;
padding:0 0 0 10px;
font-weight:bold;
color:#E75494;
line-height:18px;
}

#colonne_gauche ul li ul {
margin:0px;
padding:0px 0 0 10px;
}

#colonne_gauche ul li ul li a {
text-decoration:none;
background-image:url(puce_menu_gauche.gif);
background-repeat:no-repeat;
background-position:left;
padding:0 0 0 10px;
font-weight:bold;
color:#E75494;
line-height:18px;
font-size:10px;
}

#colonne_gauche li a:hover {
text-decoration:none;
background-image:url(puce_hover_menu_gauche.gif);
background-repeat:no-repeat;
background-position:left;
padding:0 0 0 10px;
font-weight:bold;
color:#64B14D;
}

#centre {
padding:10px 20px 0px 7px;
float:left;
width:535px;
text-align:left;
}

#centre_accueil {
padding:10px 20px 0 7px;
float:left;
width:675px;
margin-right:30px;
}

#titre_accueil h1 {
font-size:30px;
font-family:Georgia, "Times New Roman", Times, serif;
font-weight:bold;
font-style:italic;
color:#E75494;
margin:0 0 15px 0;
}

#droite {
padding:10px 0 0 7px;
float:left;
width:200px;
text-align:left;
}


#accroche {
clear:both;
text-align:right;
padding:0 25px 0 0;
}

/****BLOC***/

#acces_direct {
clear:both;
}

#acces_direct img {
margin:0 5px 5px 0;
}

#acces_direct  a {
text-decoration:none;
color:#E75494;

}

#acces_direct a:hover {
text-decoration:none;
color:#64B14D;
}

#acces_direct ul {
margin:0px;
padding:0px 0 0 5px;
}

#acces_direct li {
list-style-type: none;
}

#acces_direct h1 {
background-image:url(fond_titre_droite.gif);
background-repeat:no-repeat;
display: block;
width:193px;
height:36px;
font-size:13px;
color:#FFFFFF;
font-weight:normal;
padding:2px 0 0 27px;
margin:0px;
}

#actualites h1 {
background-image:url(fond_titre_droite.gif);
background-repeat:no-repeat;
display: block;
width:193px;
height:36px;
font-size:13px;
color:#FFFFFF;
font-weight:normal;
padding:2px 0 0 27px;
margin:15px 0 0 0;
clear:none;
}

.une_actu {
clear:both;
text-align:left;
padding:0px 0 15px 0;
}

.news-latest-item h3  {
color:#E75494;
font-size:14px;
margin:0px;
padding:0px;
text-align:left;
}

.news-latest-item h3 a {
color:#E75494;
font-size:14px;
margin:0px;
padding:0px;
text-decoration:none;
text-align:left;
}

.news-latest-item h3 a:hover {
color:#64B14D;
}

.une_actu h3  {
color:#E75494;
font-size:14px;
margin:0px;
padding:0px;
text-align:left;
}

.une_actu h3 a {
color:#E75494;
font-size:14px;
margin:0px;
padding:0px;
text-decoration:none;
text-align:left;
}

.une_actu h3 a:hover {
color:#64B14D;
text-align:left;
}

.une_actu p {
margin:0px;
padding:0px;
text-align:left;
}

.une_actu p a {
text-decoration:none;
color:#4C444F;
}

.une_actu p a:hover {
color:#64B14D;
}

.categorie_actu {
padding:2px 8px 8px 8px;
border-bottom-color:#89d9d1;
border-bottom-style:dotted;
border-bottom-width:1px;
}

/*.hide_empty_news {
display:none;
} */



/*ACTUS*/

.csc-firstHeader {
margin:0 0 3px 0;
height:36px;
display:block;
}

.csc-header csc-header-n1 {
margin:0px;
padding:0px;
height:10px;
}

.news-list-date {
font-size:11px;
font-weight:bold;
margin:0px;
padding:0px;
}

.news-list-item h3 {
margin:3px 0 3px 0;
padding:0px;
}

.bodytext p {
text-align:justify;
}

.level1 a {
text-decoration:none;
padding:0 0 0 10px;
font-weight:bold;
color:#E75494;
line-height:18px;
background-image:url(puce_menu_gauche.gif);
background-repeat:no-repeat;
background-position:left top;
}

.level1 a:hover {
text-decoration:none;
background-image:url(puce_hover_menu_gauche.gif);
background-repeat:no-repeat;
background-position:left top;
padding:0 0 0 10px;
font-weight:bold;
color:#64B14D;
}



/*****************/

#profilage {
text-align:left;
padding:30px 0 0 360px;
}

#profilage a {
text-decoration:none;
color:#114284;
}

#profilage a:hover {
color:#E75494;
}

#profilage_inside {
width:500px;
border-bottom-color: #999999;
border-bottom-style:solid;
border-bottom-width:1px;
border-top-color: #999999;
border-top-style:solid;
border-top-width:1px;
padding:3px 0 3px 0;
}

.pathway  {
text-align:left;
color:#FFFFFF;
font-size:11px;
padding:30px 0 0 15px;
text-decoration:none;
clear:both;
}

.pathway a  {
color:#FFFFFF;
text-decoration:none;
}

/* ----------------- */
/* Menu */
/* ----------------- */
.menu {
  clear:both;
   height:30px;
   width:915px;
   text-align:center;
   padding:0 0 0 60px;
   
   text-align:left;
	position:relative;
	
	display:block;
	
	
	

	font-style: normal;
	font-weight: normal;
	
   

}


#fond_menu {
float:left;
display:block;
margin:0 auto 0 auto;
text-align:center;
color:#004484;
padding:0px 0 0px 0;
list-style-type: none;
}



#coin-gauche {
float:left;
}

#coin-droit {
float:left;
}

.menu ul {
margin:0px;
padding:0px;

}

.menu li {
overflow:hidden;
	
    list-style:none;
    width:161px;
    display:block;
    float:left;
    margin:0;
    padding:0;
	border-right-color:#FFFFFF;
border-right-style:solid;
border-right-width:1px;
line-height:25px;
}



.menu a, .menu a:link, .menu a:visited {
display:block;
color: #FFFFFF;
text-decoration: none;
width:161px;
height:25px;
background-image:url(fond_li_menu_principal.gif);

}

.menu a:hover {
color:#7FC63C;

}

#fond_menu .act a {
color:#7FC63C;
}





/* ----------------- */
/* Menu footer */
/* ----------------- */
.menu_footer {
	clear:both;
  padding:0 0 0 20px;
   width:897px;
   text-align:center;
   margin:40px 0 0 0;
  
  
}


#fond_menu_footer {
 background-image:url(fond_footer.gif);
  background-repeat:no-repeat;
   height:15px;
float:left;

margin:0 auto 0 auto;

width:897px;
margin:0 auto 0 auto;
text-align:center;
color:#004484;
padding:5px 0 3px 0;

list-style-type: none;


}

.menu_footer ul {
margin:0px;
padding:0px;}


.menu_footer li {
display: inline;
}
.menu_footer a {
margin:25px;
color: #FFFFFF;
text-decoration: none;
}
.menu_footer a:hover {
color:#7FC63C;

}

#coin-gauche_bas {
float:left;
}

#coin-droit_bas {
float:left;
}


#lien_logo {
float:left;
width:360px;
height:100px;
}



.intranet {
padding-top:4px; float:left; width:520px;
}

.intranet input {


}

.bt_aide {
padding-top:4px; float:left; margin-left:5px; display:block;
}


#bandeau_print {
display:none;

}

