@charset "UTF-8";
/* CSS Document */


body {

margin:0px;
padding:0px;
font-size:18px;
color:#4C444F;
font-family: Arial, Helvetica, sans-serif;
}

td {
font-size:18px;
}

#content {
width:980px;
margin-left:auto;
margin-right:auto;

clear:both;
}

#haut_de_page {
display:none;
}

#form_haut {
display:none;
}


#bandeau_print {
display:block;
clear:both;
width:977px;
height:149px;
text-align:left;

}

#bandeau {
display:none;

}


#contenu {
text-align:left;
clear:both;
width:965px;
padding:0 6px 0 15px;
margin:20px 0 0 0;
}


#colonne_gauche {
display:none;
}

#colonne_gauche .act a {
display:none;
}

#colonne_gauche .act a:hover {
display:none;
}


#colonne_gauche ul {
display:none;
}

#colonne_gauche li {
display:none;
}

#colonne_gauche li a {
display:none;
}

#colonne_gauche ul li ul {
display:none;
}

#colonne_gauche ul li ul li a {
display:none;
}



#colonne_gauche li a:hover {
display:none;
}

#sepa_accueil {
display:none;
}

#centre {
padding:10px 20px 0px 7px;
float:left;
width:965px;
text-align:left;
}

#centre_accueil {
padding:10px 20px 0 7px;
float:left;
width:675px;
margin-right:30px;
}

#titre_accueil h1 {
font-size:30px;
font-family:Georgia, "Times New Roman", Times, serif;
font-weight:bold;
font-style:italic;
color:#E75494;
margin:0 0 15px 0;
}

.petit {
font-size:18px;
font-family:Georgia, "Times New Roman", Times, serif;
font-weight:bold;
font-style:italic;
color:#E75494;

}

#droite {
display:none;
}


#accroche {
display:none;
}




/****BLOC***/

#acces_direct {
display:none;
}

#acces_direct img {
display:none;
}

#acces_direct  a {
display:none;

}

#acces_direct a:hover {
display:none;
}

#acces_direct ul {
display:none;
}

#acces_direct li {
display:none;
}

#acces_direct h1 {
display:none;
}

#actualites h1 {
display:none;
}

.une_actu {
display:none;
}

.news-latest-item h3  {
display:none;
}

.news-latest-item h3 a {
display:none;
}

.news-latest-item h3 a:hover {
display:none;
}

.une_actu h3  {
display:none;
}

.une_actu h3 a {
display:none;
}

.une_actu h3 a:hover {
display:none;
}

.une_actu p {
display:none;
}

.une_actu p a {
display:none;
}

.une_actu p a:hover {
display:none;
}

#profilage {
display:none;
}

#profilage a {
display:none;
}

#profilage a:hover {
display:none;
}

#profilage_inside {
display:none;
}

.pathway  {
display:none;
}

.pathway a  {
display:none;
}


/* ----------------- */
/* Menu */
/* ----------------- */
.menu {
display:none;
}


#fond_menu {
display:none;
}



#coin-gauche {
display:none;
}

#coin-droit {
display:none;
}

.menu ul {
display:none;

}

.menu li {
display:none;
}



.menu a, .menu a:link, .menu a:visited {
display:none;

}

.menu a:hover {
display:none;

}

#fond_menu .act a {
display:none;
}





/* ----------------- */
/* Menu footer */
/* ----------------- */
.menu_footer {
	display:none;
  
  
}


#fond_menu_footer {
display:none;


}

.menu_footer ul {
display:none;}


.menu_footer li {
display:none;
}
.menu_footer a {
display:none;;
}
.menu_footer a:hover {
display:none;

}

#coin-gauche_bas {
display:none;
}

#coin-droit_bas {
display:none;
}




/*General*/

.rose {
font-weight:bold;
color:#E75494;
}

h1 {
font-size:16px;
margin:0 0 15px 0;
color:#7FC63C;
}

h2 {
font-size:14px;
font-style:italic;
margin:8px 0 5px 0;
color:#00559b;
}

p {
margin:0px;
padding:0px;
text-align:justify;
}

a {
color:#E75494;;
}

a:hover {
color:#64B14D;
}

form {
display:none;
}

.bouton {
display:none;
}

.champ  {

height:14px;
width:150px;
}

img {
border:none;
}

.bt_aide {
display:none;
}


#lien_logo {
display:none;
}



.intranet {
display:none;
}

.categorie_actu {
display:none;
}


/*ACTUS*/

.csc-firstHeader {
margin:0 0 3px 0;
height:36px;
display:block;
font-size:24px;
}

.csc-header csc-header-n1 {
display:none;
}

.news-list-date {
display:none;
}

.news-list-item h3 {
display:none;
}

.bodytext p {
display:none;
}

.level1 a {
display:none;
}

.level1 a:hover {
display:none;
}

