.unlocked {
    padding: 5px;
}

.completeLocked {
    padding: 5px;
    border: 1px solid #FF0000;
}

.partialLocked {
    padding: 5px;
    border: 1px solid #FF8000;
}

.workflow {
    padding: 5px;
    border: 1px solid #309030;
}
