body {
  font-family : Arial, Verdana, Helvetica, sans-serif;
  font-size  : 11px;
  background : #FFFFFF;
}
.articleheader {
  font-size  : 18px;
  color : #666666;
  font-family : Arial, Verdana, Helvetica, sans-serif;
}
.articleheadline {
  font-size  : 16px;
  color : #666666;
  font-family : Arial, Verdana, Helvetica, sans-serif;
}
.subNaviLine {
  background-color : #ffffff;
}
.articlebody {
  font-size  : 11px;
  color : #666666;
  font-family : Arial, Verdana, Helvetica, sans-serif;
}
.articletechtable {
  font-size  : 11px;
  line-height: 15px;
  color : #000000;
  font-family : Arial, Verdana, Helvetica, sans-serif;
}
a:link { color: #444444; }
a:active { color: #666666; }
a:hover { color: #888888; }
a:visited { color: #777777; }

.kathrin {
  font-size  : 10px;
  font-family : Arial, Verdana, Helvetica, sans-serif;
  text-decoration: none;

}
.cellType1 {
  background-color : #ffffff;
}
.cellAsLine1 {
  background-color : #666666;
}
.kathrin:link { color: #888888; }
.kathrin:active { color: #999999; }
.kathrin:hover { color: #999999; }
.kathrin:visited { color: #999999; }