/* ************************************** */
/* BASIC */
/* ************************************** */

body{
	color: #000000;
	background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6{
	color: #1191B6;	
}

/* ************************************** */
/* GENERAL */
/* ************************************** */

/*Affichage specifique pour les navigateurs de nouvelle generation */
@media print{

@page { 
	size: auto;   
 	margin-top: 20%;
	margin-right: 10%;
	margin-bottom: 10%;
	margin-left: 10%;
}

* {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;	
}

a{
	color: #FF3366;
	text-decoration: none;  
	
}

a:hover {
	text-decoration: none;
	  
}
/*
a:link:after {
  content: " ("  attr(href)  ") ";
  font-size: 9pt;
}
*/
h2{
	font-size: 18pt;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20pt;
}

li{
	list-style-type: none;	
}

img{
	border: none;
}

.invisible{
	display: none;
}

.imprimer{
	display: none;
		
}

.separateur_sections_page{
	display: none;
}

.spacer{
	clear: both;
	font-size: 1px;
}

/* ************************************** */
/* PAGE */
/* ************************************** */

#page{
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size : 10pt;
	color: #26415D;
	width : 100%;
	line-height: 14pt;
}

/* ************************************** */
/* ENTETE */
/* ************************************** */

#page_entete{
	display: none;
}


/* ************************************** */
/* BANDEAU */
/* ************************************** */

#bandeau{
	background-image: none;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border-bottom-style: none;
}

#fil_ariane{
	display: none;
}

#menu {
	display: none;
}

#raccourcis_portails{
	display: none;
}

#recherche_simple{
	display: none;
}

/* ************************************** */
/* CONTENU GENERIQUE
/* ************************************** */

#auteurs{
	padding-top: 2px;
	color: #9AA308;	
}

#chapeau, 
#resume{
	text-align: justify;
	padding-top: 20px;
	font-size: 10pt;
	line-height: 14pt;
	font-weight: bold;
}


#contenu_avec_encadres{
	width: 100%;
	float: none;	
}

#contenu_avec_encadres .gestion{
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 20px;
}

#contenu_titre{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #98A506;
	padding-bottom: 15px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #98A506;
	padding-top: 15px;
}

#corps{
	text-align: justify;
	padding-top: 20px;
	font-size: 10pt;
	line-height: 14pt;
}

#corps_structure{
	margin-top: 20px;
	padding-right: 10px;
	padding-left: 10px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #1191B6;
}

#date{
	color: #9AA308;
	font-size : 9pt;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #98A506;
}

#description{
	text-align: justify;	
	padding-top: 20px;	
}

#infoMajRedacteur{
	padding-top: 30px;
	padding-right: 10px;
	padding-left: 10px;
	font-size : 9pt;
	color: #26415D;
	clear: left;
	text-align: right;
}

#referenceauteurs{
	padding-right: 10px;
	padding-left: 10px;
	text-align: justify;
	font-size : 9pt;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #98A506;	
}

#referenceisdn{
	padding-top: 2px;
}

#soustitre,
#domaines_formation,
#references,
#disciplines,
#thematiques{
	color: #4A9BBB;
	margin-top: 20px;
}

#formation_lmd,
#thematique,
#type_structure,
#type_laboratoire,
#type,
#type_personnel,
#date_naissance,
#types_association{
	color: #9AA308;
	margin-bottom: 10px;
}

#telecharger li a{
	background-image: url(picto-fichier.gif);
	background-repeat: no-repeat;
	background-position: 0px 4px;
	padding-left: 20px;
	padding-top: 4px;
}

#telecharger li a.doc{
	background-image: url(picto-texte.gif);
}

#telecharger li a.image{
	background-image: url(picto-image.gif);
}

#telecharger li a.pdf{
	background-image: url(picto-pdf.gif);
}

#telecharger li a.xls{
	background-image: url(picto-excel.gif);
}

.button{
	margin-top: 10px;
}

.button .valider{
	background-color: #999999;
	color: #FFFFFF;	
}

.colonne{
	float: left;	
}

.colonne_deco{
	
}

.colonne .style1{
	background-image: url(pointilles_vertical_vert.gif);
	background-repeat: repeat-y;
	background-position: left top;
	padding-bottom: 20px;
	text-align: justify;
}

.colonne .style2{	
	text-align: justify;
}

.colonne .style3{
	text-align: justify;
}

.premiere_colonne .sansstyle,
.premiere_colonne .style1,
.premiere_colonne .style3{
	background-image: url(none);
}

.premiere_colonne .sansstyle_deco,
.premiere_colonne .style1_deco,
.premiere_colonne .style2_deco,
.premiere_colonne .style3_deco{
	padding-right: 20px;
}

.emploi_titre h3{
	font-size: 14pt;
	margin-top: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C2C969;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #C2C969;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(filaire_blanc_fond_vert.gif);
	background-repeat: no-repeat;
	background-position: right top;
	background-color: #98A506;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.legende{
	color: #9AA308;
	font-size : 9pt;
	text-align: left;
}

.ligne{
	margin-bottom: 20px;
}

.ligne table{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size : 9pt;
	color: #26415D;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-color: #98A506;
	border-left-color: #98A506;
}

.ligne table td{
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #98A506;
	border-right-color: #98A506;
}

.ligne table tr{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;	
}

.ligne .separateur{
	clear: left;	
}

.premiere_ligne{
	margin-top: 30px;
}

.para-an{
	clear: both;
	padding-top: 20px;
	text-align: justify;	
}

.para-an li{
	list-style-position: inside;
	list-style-type: circle;
	margin-left: 0px;
	padding-left: 0px;	
}

.para-an ul{
	padding-top: 10px;	
}

.para-emploi{
	padding-right: 10px;
	padding-left: 10px;
}

.para-emploi h4{
	font-size : 12pt;
	background-image: url(carre-fleche-bleu.gif);
	background-repeat: no-repeat;
	background-position: 0px 23px;
	padding-left: 16px;
	padding-bottom: 5px;
	padding-top: 20px;
}

.para-emploi p{
	text-align: justify;
}

.para-emploi .type_1{
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 5px;
}

.para-an h3{
	font-size : 14pt;
	padding-bottom: 5px;
}

.para-an li{
	list-style-position: inside;
	list-style-type: circle;
	margin-left: 0px;
	padding-left: 0px;
}

.para-an ul{
	margin-left: 0px;
	padding-left: 0px;			
}

.para-an .photo{
	margin-top: 25px;
}

.photo{
	float: right;
	margin-bottom: 15px;
	margin-left: 15px;
}

.sansstyle li{
	list-style-type: circle;
	list-style-position: inside;
}

.sansstyle .liste-objets li .date-liste{
	color: #26415D;
	font-size : 9pt;	
}

.sansstyle .liste-objets li em{
	font-style: normal;
}

.sansstyle .liste-objets li em .telecharger-fichiers{
	background-image: url(none);
	padding-left: 0px;
	font-size : 9pt;
}

.sansstyle .liste-objets li img{
	float: left;
	width: 60px; /* varibale largeurPhotoMax = 60 dans fonctions.jsp */
}

.sansstyle .liste-objets li .redac-liste{
	color: #26415D;
	font-size : 9pt;
	line-height: 1.8em;	
}

.sansstyle .liste-objets li .telecharger-fichiers{
	background-image: url(telecharger_gris.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 13px;
	font-size : 9pt;
	line-height: 1.8em;
}

.sansstyle .liste-objets li .typedocument-liste{
	color: #26415D;
	font-size : 9pt;
	line-height: 1.8em;
}

.sansstyle_deco{
	text-align: justify;
}

.style1{
	padding-bottom: 20px;	
}

.style1 h3{
	font-size: 14pt;
	font-weight: bold;
	color: #98A506;
	padding-top: 2px;
	padding-bottom: 2px;
}

.style1 li{
	list-style-type: circle;
	list-style-position: inside;
}

.style1 .liste-objets li{
	list-style-type: circle;
	list-style-position: inside;
}

.style1 .liste-objets li .date-liste{
	color: #26415D;
	font-size : 9pt;
	line-height: 1.8em;	
}

.style1 .liste-objets li .descriptif-liste{
	float: left;
	padding-left: 15px;
}

.style1 .liste-objets li em{
	font-style: normal;
}

.style1 .liste-objets li img{
	float: left;
	width: 60px; /* varibale largeurPhotoMax = 60 dans fonctions.jsp */
}

.style1 .liste-objets li .redac-liste{
	color: #26415D;
	font-size : 9pt;
	line-height: 1.8em;	
}

.style1 .liste-objets li .telecharger-fichiers{
	background-image: url(telecharger_gris.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 13px;
	font-size : 9pt;
	line-height: 1.8em;
}

.style1 .liste-objets li .typedocument-liste{
	color: #26415D;
	font-size : 9pt;
	line-height: 1.8em;
}

.style1 ol{
	margin-right: 10px;
	margin-bottom: 10px;
}

.style1 ol li{
	list-style-type: decimal;
	list-style-position: inside;
}

.style1_deco{
	margin-top: 10px;	
}

.style2 .style2_deco h3{
	font-size: 14pt;
	font-weight: bold;
	color: #1191B6;		
	padding-top: 2px;	
	padding-bottom: 2px;	
}

.style2 li{
	list-style-type: circle;
	list-style-position: inside;
}

.style2 .liste-objets li{
	list-style-type: circle;
	list-style-position: inside;		
}

.style2 .liste-objets li .date-liste{
	color: #26415D;
	font-size : 9pt;
	line-height: 1.8em;	
}

.style2 .liste-objets li .descriptif-liste{
	float: left;
	padding-left: 15px;
}

.style2 .liste-objets li em{
	font-style: normal;
}

.style2 .liste-objets li img{
	float: left;
	width: 60px; /* varibale largeurPhotoMax = 60 dans fonctions.jsp */
}

.style2 .liste-objets li .redac-liste{
	color: #26415D;
	font-size : 9pt;
	line-height: 1.8em;	
}

.style2 .liste-objets li .telecharger-fichiers{
	background-image: url(telecharger_gris.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 13px;
	font-size : 9pt;
	line-height: 1.8em;
}

.style2 .liste-objets li .typedocument-liste{
	color: #26415D;
	font-size : 9pt;
	line-height: 1.8em;
}


.style3 h3{
	font-size: 14pt;
	font-weight: bold;
	color: #1191B6;
	padding-top: 2px;
	padding-bottom: 2px;
}

.style3_deco{
	margin-top: 10px;	
}

.style3 li{
	list-style-type: circle;
	list-style-position: inside;
}

.style3 .liste-objets li{
	list-style-type: circle;
	list-style-position: inside;		
}

.style3 .liste-objets li .date-liste{
	color: #26415D;
	font-size : 9pt;
	line-height: 1.8em;	
}

.style3 .liste-objets li .descriptif-liste{
	float: left;	
	padding-left: 15px;
}

.style3 .liste-objets li em{
	font-style: normal;
}

.style3 .liste-objets li img{
	float: left;
	width: 60px; /* varibale largeurPhotoMax = 60 dans fonctions.jsp */
}

.style3 .liste-objets li .redac-liste{
	color: #26415D;
	font-size : 9pt;
	line-height: 1.8em;	
}

.style3 .liste-objets li .telecharger-fichiers{
	background-image: url(telecharger_gris.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 13px;
	font-size : 9pt;
	line-height: 1.8em;
}

.style3 .liste-objets li .typedocument-liste{
	color: #26415D;
	font-size : 9pt;
	line-height: 1.8em;
}

.type_1{
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size : 9pt;
	color: #26415D;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 20px;
	background-image: url(pointilles_vertical_bleu.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	clear: both;
}

.type_1 tr{
	vertical-align: top;
	background-image: url(pointilles_vertical_bleu.gif);
	background-repeat: repeat-x;
	background-position: left top;
	text-align: justify;	
}

.type_1 th{
	color: #4A9BBB;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 150px;
	text-align: left;
}

.type_1 td{
	padding-top: 5px;
	padding-bottom: 5px;	
}

.type_2{
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size : 9pt;
	color: #26415D;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 20px;
	clear: both;
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}

.type_2 tr{
	text-align: left;
	vertical-align: top;	
}

.type_2 th{
	font-weight: bold;
	color: #26415D;
	width: 155px;
	padding-left: 8px;	
	padding-top: 2px;
	padding-bottom: 2px;
}

.type_2 td{
	padding-left: 8px;	
	padding-top: 2px;
	padding-bottom: 2px;
}

/* ************************************** */
/* CONTENU PAGE ACCUEIL
/* ************************************** */

body.accueil #contenu_avec_encadres{
	margin-right: 0px;
	width: 100%;
}

body.accueil #contenu_titre{
	display: none;
}

body.accueil #fil_ariane{
	display: none;
}

body.accueil .encadre_fiche h3{
	color: #FFFFFF;
	background-image: none;
	border-top-style: none;
	border-bottom-style: none;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
	background-color: #FFFFFF;
}

body.accueil .encadre_fiche h3 span#vousetes{
	background-image: url(titre_vousetes.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;	
	height: 18px;
	width: 120px;
	display: block;
}

body.accueil .encadre_fiche h3 span#vousetes span{
	display: none;
}

body.accueil .encadre_fiche h3 span#vousrecherchez{
	background-image: url(titre_vousrecherchez.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;	
	height: 18px;
	width: 120px;
	display: block;
}

body.accueil .encadre_fiche h3 span#vousrecherchez span{
	display: none;
}

body.accueil .encadre_fiche h3 span#accesdirect{
	background-image: url(titre_accesdirect.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;	
	height: 18px;
	width: 120px;
	display: block;
}

body.accueil .encadre_fiche h3 span#accesdirect span{
	display: none;
}

body.accueil .encadre_fiche ul{
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: url(pointilles_vertical_vert.gif);
	background-repeat: repeat-x;
	background-position: left top;
}

body.accueil .encadre_fiche li{
	background-image: url(pointilles_vertical_vert.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-top: 1px;
	padding-bottom: 1px;	
}


body.accueil .encadre_fiche .encadre_fiche_contenu{
	margin-top: 0px;
	margin-bottom: 0px;
}

body.accueil .ligne{
	margin-bottom: 0px;
}

body.accueil .premiere_ligne{
	margin-top: 0px;
	
}

body.accueil .premiere_ligne .spacer{
	display: none;
}

body.accueil .sansstyle{
	margin-top: 20px;
}

body.accueil .premiere_ligne .sansstyle{
	padding-right: 0px;
	padding-left: 0px;
	float: right;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

body.accueil .style4{
	padding-bottom: 0px;
	float: right;
	width: 275px;
}

body.accueil .style4 h3{
	font-size: 14pt;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #98A506;
	border-top-style: none;
	font-weight: bold;
	color: #98A506;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 7px;
	padding-bottom: 7px;	
}

body.accueil .style4 h4{
	font-size: 12pt;	
}

body.accueil .style4_deco{
	padding: 10px;
}

body.accueil .style4 #unedateactu{
	color: #26415D;	
}

body.accueil .style5{
	padding: 0px;
	margin-right: 0px;
	margin-left: 0px;
	background-color: #FF99FF;
}

body.accueil .style5 h3{
	background-image: url(filaire_blanc_fond_bleu.gif);
	background-repeat: no-repeat;
	background-position: right top;
	background-color: #1191B6;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #1191B6;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #1191B6;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	color: #FFFFFF;
	font-size: 14pt;
}

body.accueil .style5 .style5_deco{
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	background-image: url(none);
}

body.accueil .style5 .style5_deco .style5_contenu{
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	background-image: url(none);
}

body.accueil .style5 ul{
	width: 180px;
	float: right;
	text-align: left;
	padding-top: 10px;
	padding-right: 10px;
}

body.accueil #style5_actus{
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

body.accueil .style5 ul li{
	padding-bottom: 10px;
}

body.accueil .style5 ul.liste-objets{
	width: 255px;
	margin: 10px;
	float: none;
	padding-top: 0px;
	padding-right: 0px;
}

body.accueil .style5 ul.liste-objets li{
	background-image: url(pointilles_vertical_bleu.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-top: 3px;
	padding-bottom: 3px;
}

body.accueil .style6 h3{
	font-size: 14pt;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(filaire_blanc_fond_vert.gif);
	background-repeat: no-repeat;
	background-position: right top;
	background-color: #98A506;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #98A506;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #98A506;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	margin-left : 0;
}

body.accueil .style6 .style6_deco{
	padding: 10px;
}

body.accueil .style6 .liste-objets li{	
	background-image: url(pointilles_vertical_vert.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-top: 3px;
	padding-bottom: 3px;		
}

body.accueil .style6 .liste-objets li .date-liste{
	color: #26415D;
	font-size : 9pt;
	line-height: 1.8em;	
}

body.accueil .style6 .liste-objets li .descriptif-liste{
	float: left;
	padding-left: 15px;
}

body.accueil .style6 .liste-objets li em{
	font-style: normal;
}

body.accueil .colonne .style6{
	background-image: url(pointilles_vertical_vert.gif);
	background-repeat: repeat-y;
	background-position: left top;
	padding-bottom: 20px;		
}

/* ************************************** */
/* CONTENU FICHE ACTUALITES
/* ************************************** */

body.actualite #description ul{
	margin-top: 10px;
}

body.actualite #description li{
	list-style-position: inside;
	list-style-type: circle;
}

/* ************************************** */
/* CONTENU FICHE ANNUAIRE PERSONNELS
/* ************************************** */

body.annuaireksup #entete_annuaire{
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 10px;
}

body.annuaireksup #entete_annuaire .photo{
	float: left;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
}

body.annuaireksup #entete_annuaire .type_2{
	float: left;
	width: 380px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	clear: none;
}

body.annuaireksup #entete_annuaire .type_2 th{
	width: 115px;	
}


/* ************************************** */
/* CONTENU FICHE ANNUAIRE ETUDIANTS
/* ************************************** */

#fiche_annuaireetudiants #fiche_annuaire{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #1191b6;
	padding-bottom: 15px;
}

#fiche_annuaireetudiants .para-an p{
	margin-bottom: 10px;
}

#fiche_annuaireetudiants .para-an li{
	list-style-position: inside;
	list-style-type: circle;
	margin-left: 0px;
	padding-left: 0px;
}


/* ************************************** */
/* CONTENU FICHE ANNUAIRE ANCIENS ETUDIANTS
/* ************************************** */

#fiche_annuaireanciensetudiants #fiche_annuaire{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #1191b6;
	padding-bottom: 15px;
}

#fiche_annuaireanciensetudiants .para-an p{
	margin-bottom: 10px;
}

#fiche_annuaireanciensetudiants .para-an li{
	list-style-position: inside;
	list-style-type: circle;
	margin-left: 0px;
	padding-left: 0px;
}

/* ************************************** */
/* CONTENU FICHE ASSOCIATION ETUDIANTS
/* ************************************** */

#fiche_associationetudiant #objet{
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 30px;
}

#fiche_associationetudiant .para-an p{
	margin-bottom: 10px;
}

#fiche_associationetudiant .para-an li{
	list-style-position: inside;
	list-style-type: circle;
	margin-left: 0px;
	padding-left: 0px;
}

#fiche_associationetudiant_coordonnees{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #1191b6;
	padding-bottom: 15px;
}

/* ************************************** */
/* CONTENU FICHE COURS
/* ************************************** */

#fiche_cours .para-an p{
	margin-bottom: 10px;
}

#fiche_cours .para-an li{
	list-style-position: inside;
	list-style-type: circle;
	margin-left: 0px;
	padding-left: 0px;
}

#fiche_cours .listes{
	margin-top: 15px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #1191b6;
}

#fiche_cours .listes table{
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	float: left;
	font-size : 9pt;
	color: #26415D;		
}

#fiche_cours .listes table.listes1{
	width: 45%;
}

#fiche_cours .listes table.listes2{
	width: 45%;
	margin-left: 5%;
}

#fiche_cours .listes th{
	font-weight: bold;
	padding-left: 5px;
	text-align: left;
}

#fiche_cours .listes tr{
	vertical-align: top;	
}




/* ************************************** */
/* CONTENU FICHE FORMATION
/* ************************************** */

body.formation .onglets{
	display: none;
}

body.formation .para-an p{
	margin-bottom: 10px;
}

body.formation .para-an li{
	list-style-position: inside;
	list-style-type: circle;
	margin-left: 0px;
	padding-left: 0px;
}

body.formation .presentationGlobal{
	margin-top: 15px;
	margin-right: 10px;
	margin-left: 10px;
}

body.formation .presentationGlobal dl{
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	float: left;
	padding-left: 4px;
	padding-right: 1px;	
}

body.formation .presentationGlobal dt{
	font-weight: bold;		
}

.titreFormationDetail{
	font-size: 12pt;	
}

.titreFormationDetail.premier{
	margin-top: 3px;	
}

.titreFormationDetail span{	
	font-weight: normal;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;	
}

/* ************************************** */
/* CONTENU FICHE LABO
/* ************************************** */

body.laboratoire h4{
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size : 9pt;
	color: #26415D;
	font-weight: bold;
	margin-top: 10px;
}

body.laboratoire #entete_labo{
	padding-top: 20px;	
}

body.laboratoire #entete_labo .photo{
	float: left;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
}

body.laboratoire #entete_labo .type_2{
	float: left;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 20px;
	clear: none;
}

body.laboratoire #entete_labo .type_2 th{
	width: 30%;	
}

/* ************************************** */
/* CONTENU FICHE PAGE LIBRE
/* ************************************** */

body.pagelibre span.formationLibelleSpecialite{
	display: block;
}


/* ************************************** */
/* CONTENU FICHE STRUCTURE
/* ************************************** */

body.defaultstructureksup #entete_structure{
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 10px;
}

body.defaultstructureksup #entete_structure .photo{
	float: left;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
}

body.defaultstructureksup #entete_structure .type_2{
	float: left;
	width: 380px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	clear: none;
}

body.defaultstructureksup #entete_structure .type_2 th{
	width: 115px;	
}




/* ************************************** */
/* CONTENU FICHE UE
/* ************************************** */


body.ueup .para-an li{
	list-style-position: inside;
	list-style-type: circle;
	margin-left: 0px;
	padding-left: 0px;
}

body.ueup .listes{
	margin-top: 15px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #1191b6;
}

body.ueup .listes table{
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	float: left;
	font-size : 9pt;
	color: #26415D;		
}

body.ueup .listes table.listes1{
	width: 45%;
}

body.ueup .listes table.listes1 th{
	
}

body.ueup .listes table.listes2{
	width: 45%;
	margin-left: 5%;
}

body.ueup .listes th{
	font-weight: bold;
	padding-left: 5px;
	text-align: left;
}

body.ueup .listes tr{
	vertical-align: top;	
}


/* ************************************** */
/* CONTENU PAGES MOTEUR DE RECHERCHE
/* ************************************** */

body.recherche #recherche_contenu{
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 30px;
	text-align: justify;
}

body.recherche #recherche_contenu form{
	margin-top: 20px;
}

body.recherche #recherche_contenu .liens-ra{
	margin-top: 20px;
}

body.recherche #recherche_contenu p.navigation{
	margin-top: 20px;
	text-align: right;
}

body.recherche #recherche_contenu #precisions_resultats strong{
	color: #4A9BBB;	
}

body.recherche #recherche_contenu .inactif{
	color: #26415D;
}

body.recherche #recherche_contenu ul{
	margin-top: 10px;
}

body.recherche #recherche_contenu ul.liste_resultats{
	background-image: url(pointilles_vertical_vert.gif);
	background-repeat: repeat-x;
	background-position: left top;	
}

body.recherche #recherche_contenu ul.liste_resultats li{
	background-image: url(pointilles_vertical_vert.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 0px;	
}

body.recherche #recherche_contenu #themes_recherche_avancee li{
	background-image: url(point.gif);
	background-repeat: no-repeat;
	background-position: 0px 7px;
	padding-left: 15px;
}

.recherche_calendrier{
	vertical-align: top;
}

.recherche_infoplus{
	margin-top: 20px;
}

/* ************************************** */
/* CONTENU PAGE PLAN DU SITE
/* ************************************** */

.plandusite li{
	background-image: url(carre-fleche-bleu.gif);
	background-repeat: no-repeat;
	background-position: 0px 3px;
}

.plandusite li a{
	color: #4A9BBB;
	font-size: 14pt;
	font-weight: bold;
}

.plandusite .plansite2{
	background-image: url(pointilles_vertical_vert.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	margin-bottom: 20px;
	margin-top: 10px;
}

.plandusite .plansite2 li{
	background-image: url(pointilles_vertical_vert.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;	
}

.plandusite .plansite2 li a{
	color: #FF3366;
	font-size : 9pt;
	font-weight: normal;
	background-image: url(point.gif);
	background-repeat: no-repeat;
	background-position: 0px 7px;
	padding-left: 15px;	
}

/* ************************************** */
/* APPLICATION CATALOGUE DES MATERIELS
/* ************************************** */

#contenu_catalogue_materiel{
	margin-top: 30px;
	padding-right: 10px;
	padding-left: 10px;	
}

#contenu_catalogue_materiel li{
	background-image: url(point.gif);
	background-repeat: no-repeat;
	background-position: 0px 7px;
	padding-left: 15px;		
}

#contenu_catalogue_materiel p{
	margin-bottom: 0px;	
}

#contenu_catalogue_materiel #entete_catalogue .photo{
	float: left;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.description_materiel{
	float: left;
	width: 355px;
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	padding-left: 10px;
}

.description_materiel p{
	font-weight: bold;
	color: #26415D;
}

.description_materiel ul{
	margin-bottom: 10px;
	margin-top: 10px;	
}

.materiel_contact{
	margin-bottom: 10px;
}


/* ************************************** */
/* APPLICATION CONVENTIONS INTERNATIONALES
/* ************************************** */

#conventions_accueil{
	margin-top: 30px;
	margin-right: 10px;
	margin-left: 10px;
}

#conventions_accueil p{
	text-align: justify;	
}

#conventions_accueil .image{
	float: left;
	width: 255px;
	margin-top: 50px;
}

#conventions_accueil .liste_pays{
	float: left;
	width: 275px;	
}

#conventions_autrerecherche{
	margin-top: 20px;
	padding-right: 10px;
	padding-left: 10px;	
}

#conventions_autrerecherche a{
	background-image: url(fleche-rose.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 11px;
	
}

#conventions_encadre{
	margin-top: 20px;
	padding-right: 10px;
	padding-left: 10px;	
}

#conventions_encadre h3{
	font-size : 9pt;
	background-image: url(carre-fleche-bleu.gif);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-left: 16px;
	padding-bottom: 5px;
}

#conventions_encadre .type_1{
	background-image: url(pointilles_vertical_vert.gif);
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

#conventions_encadre .type_1 th{
	padding-top: 2px;
	padding-bottom: 2px;	
}

#conventions_encadre .type_1 td{
	padding-top: 2px;
	padding-bottom: 2px;	
}

#conventions_encadre .type_1 tr{
	background-image: url(pointilles_vertical_vert.gif);
}

#conventions_liste{
	margin-top: 30px;
	padding-right: 10px;
	padding-left: 10px;
}

#conventions_liste ul{
	margin-top: 10px;
}

#conventions_liste li{
	background-image: url(point.gif);
	background-repeat: no-repeat;
	background-position: 0px 7px;
	padding-left: 15px;	
}

#conventions_liste li em{
	font-style: normal;	
}

#convention_structure{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #1191B6;
}

#convention_structure .type_2{
	margin-top: 0px;
}


/* ************************************** */
/* APPLICATION MARCHES PUBLICS
/* ************************************** */

#marches_authentification{
	margin-top: 30px;
	margin-right: 10px;
	margin-left: 10px;
}

#marches_authentification h3{
	background-image: url(carre-fleche-bleu.gif);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-left: 16px;		
	font-size : 9pt;
}

#marches_authentification li{
	margin-bottom: 20px;
}

#marches_authentification p{
	text-align: justify;
}

#marches_enligne{
	margin-top: 20px;
	text-align: justify;
}

#marches_publics caption{	
	display: none;
}

#marches_publics table{
	margin-top: 30px;
	background-image: url(pointilles_vertical_vert.gif);
	background-repeat: repeat-x;
	background-position: left top;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size : 9pt;
	color: #26415D;	
}

#marches_publics .numero{
	width: 70px;
}

#marches_publics .categorie{
	width: 80px;
}

#marches_publics .passation{
	width: 70px;
}

#marches_publics .date{
	width: 70px;
}

#marches_publics th{
	color: #4A9BBB;	
}

#marches_publics td{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#marches_publics td.numero,
#marches_publics td.date{
	padding-right: 0px;		
}

#marches_publics tr{
	margin-top: 30px;
	background-image: url(pointilles_vertical_vert.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	text-align: left;
	vertical-align: top;
	margin-top: 10px;
	margin-bottom: 10px;
}

#marches_telecharger{
	margin-top: 30px;
}

#marches_telecharger li{
	background-image: none;
	padding-left: 0px;
	padding-bottom: 10px;
}

.erreur{
	font-weight: bold;
	color: #FF0000;
	margin-bottom: 20px;
}

.infos_complementaires{
	color: #26415D;
	margin-bottom: 10px;
}

.liens-ra{
	margin-top: 30px;
}


/* ************************************** */
/* ENCADRES 
/* ************************************** */

#navigation{
	display: none;
}

#encadres{
	width: 100%;
	float: none;
}



#encadres .boutonsRadio div input{
	float: left;
	border: 1px solid #FFFFFF;
}

#encadres .boutonsRadio div label{
	float: left;
	margin-right: 20px;
	margin-left: 5px;
}

#encadres ul.fluxrss{
	background-image: url(pointilles_vertical_vert.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 0px;
}

#encadres ul.fluxrss li{
	background-image: url(pointilles_vertical_vert.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 0px;
}

#encadres ul.fluxrss .descriptionrss,
#encadres ul.fluxrss .daterss{
	display: none;
}

#encadres h3{
	font-size : 14pt;
	margin-top: 20px;
	color: #98A506;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}

#encadres_incitatif{
	display: none;
}

form#services{
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 20px;
}

#rappel_niveau1, 
.rappel_niveau1{
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #6EB4CD;
	background-image: url(fleche-blanc-bas.gif);
	background-repeat: no-repeat;
	background-position: 10px 17px;
	padding-left: 23px;
	height: 28px;
	padding-top: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.deco_generique_1 h3{
	background-color: #C8CD79;
	color: #FFFFFF;
	background-image: url(filaire_vert_fond_vert_clai.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;	
	border-top: 1px solid #C8CD79;
	border-bottom: 1px solid #C8CD79;
}

.deco_generique_1 .encadre_generique{
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
}

.deco_rubrique_1 h3{
	background-color: #C8CD79;
	color: #FFFFFF;
	background-image: url(filaire_vert_fond_vert_clai.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;	
	border-top: 1px solid #C8CD79;
	border-bottom: 1px solid #C8CD79;
}

.deco_rubrique_1 .encadre_rubrique{
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
}


.encadre_recherche{
	display: none;
}

.encadre_auto_fiche_contenu, 
.encadre_fiche_contenu, 
.encadre_recherche form{
	margin-top: 10px;	
}

.encadre_auto_fiche h3{
	/*background-image: url(img/filaire_bleu.jpg);*/
	background-color: #98A506;
	color: #FFFFFF;
	background-image: url(filaire_blanc_tparent_vert.gif);
	background-repeat: no-repeat;
	background-position: 80px 0px;	
	border-top: 1px solid #98A506;
	border-bottom: 1px solid #98A506;
}

.encadre_fiche h3{
	/*background-color: #1191B6;*/
	background-color: #98A506;
	color: #FFFFFF;
	background-image: url(filaire_blanc_tparent_vert.gif);
	background-repeat: no-repeat;
	background-position: 120px 0px;	
	border-top: 1px solid #98A506;
	border-bottom: 1px solid #98A506;
}

.encadre_fiche_contenu .liste-objets{
	margin-top: 20px;	
	background-image: url(pointilles_vertical_bleu.gif);
	background-repeat: repeat-x;
	background-position: left top;
}

.encadre_fiche_contenu .liste-objets li{
	background-image: url(pointilles_vertical_bleu.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-top: 10px;
	padding-bottom: 10px;
}

.encadre_fiche_contenu .liste-objets li .date-liste{
	color: #26415D;
	font-size : 9pt;
	line-height: 1.8em;	
}

.encadre_fiche_contenu .liste-objets li em{
	font-style: normal;
}

.encadre_fiche_contenu .liste-objets li .redac-liste{
	color: #26415D;
	font-size : 9pt;
	line-height: 1.8em;	
}

.encadre_fiche_contenu .liste-objets li .telecharger-fichiers{
	background-image: url(telecharger_gris.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 13px;
	font-size : 9pt;
	line-height: 1.8em;
}

.encadre_fiche_contenu .liste-objets li .typedocument-liste{
	color: #26415D;
	font-size : 9pt;
	line-height: 1.8em;
}

.encadre_nav_auto h3{
	background-color: #33B8F0;
	color: #FFFFFF;
	background-image: url(filaire_blanc_fond_bleu_cla.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;	
	border-top: 1px solid #33B8F0;
	border-bottom: 1px solid #33B8F0;
}

.encadre_nav_auto .encadre_nav_auto_contenu{
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
}

.encadre_recherche h3{
	border-top: 1px solid #99A505;
	border-bottom: 1px solid #99A505;
	color: #FFFFFF;
	background-color: #99A505;
	background-image: url(filaire_blanc_tparent_vert.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.encadre_recherche select{
	width: 200px;
}

.menu_secondaire{
	background-color: #1191B6;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #1191B6;
}

.menu_secondaire li{
	/*height: 25px;*/
	display: block;
}

.menu_secondaire li a{
	color: #FFFFFF;
	display: block;	
	/*height: 21px;*/
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-image: url(pointilles_vertical.gif);
	background-repeat: repeat-x;	
}

.menu_secondaire li a:hover, 
.menu_secondaire li a:focus, 
.menu_secondaire li a:active{
	color: #FFFFFF;
	background-color: #6EB4CD;
	text-decoration: none;	
}


.menu_secondaire li em a, 
.menu_secondaire li em a:hover, 
.menu_secondaire li em a:focus{
	font-style: normal;	
	/*background-color: #FFFFFF;
	font-style: normal;
	color: #26415D;
	background-image: url(img/fleche-noire-gauche.gif);
	background-repeat: no-repeat;
	background-position: 10px 8px;
	padding-left: 23px;*/

}


.menu_secondaire li ul{
	display: none;
}


/* ************************************** */
/* PIED */
/* ************************************** */

#boutons_actions{
	display: none;
}

#pied_page{
	margin-top: 30px;	
}

#pied_page a{
	display: none;
}




}
