#siteContent #rightColumn .entry {
	background:transparent url('news_bottom.png') no-repeat scroll center bottom;
	overflow:hidden;
	margin-top:0px;
	padding-bottom:11px;
	*+padding-bottom:10px;
	position:relative;
}
	#siteContent #rightColumn .entry h2.entryTitle {
		height:auto;
	}
		#siteContent #rightColumn .entry .entryContent .prgNowCarousel .prgNowContent ul.legend-list  li.color img,
		#siteContent #rightColumn .entry .entryContent .prgNowCarrousel .prgNowContent ul li img,
		#siteContent #rightColumn .entry h2.entryTitle img {
			vertical-align:bottom;
		}
	#siteContent #rightColumn .entry .entryContent {
		background:transparent url('news_content.png') no-repeat scroll center center;
		overflow:hidden;
		padding-left:10px;
		*+margin-top:-2px;
	}
	#siteContent #rightColumn .entry.now .entryContent {
		background-color:transparent;
		padding-left:0px;
	}
	#siteContent #rightColumn .entry .knowMore {
		bottom:7px;
		height:23px;
		position:absolute;
		right:12px;
		width:81px;
	}
		#siteContent #rightColumn .entry .entryContent li.news {
			margin-bottom:7px;
			overflow:hidden;
			position:relative;
		}
		#siteContent #rightColumn .entry .entryContent li.news.first {
			margin-top:10px;
		}
		#siteContent #rightColumn .entry .entryContent li.news.first .newsContent {
			border-bottom:1px dashed #5d7090;
		}
			#siteContent #rightColumn .entry .entryContent li.news h3 {
				font-weight:bold;
				text-transform:uppercase;
				padding-left:12px;
				background:transparent url('news_arrow.png') no-repeat scroll 0px 1px;
				margin-bottom:2px;
			}
				#siteContent #rightColumn .entry .entryContent li.news h3 a {
					text-decoration:none;
					color:#f72b88;
					font-size:11px;
				}
			#siteContent #rightColumn .entry .entryContent li.news .newsContent {
				overflow:hidden;
				height:50px;
				float:right;
				width:288px;
				margin-right:10px;
			}
			#siteContent #rightColumn .entry .entryContent li.news p {
				font-size:12px;
			}
				#siteContent #rightColumn .entry .entryContent li.news p a {
					color:#000;
					text-decoration:none;
				}
			#siteContent #rightColumn .entry .entryContent li.news img {
				float:left;
				margin-right:8px;
			}
		#siteContent #rightColumn .entry .entryContent .prgNowCarousel {
			/* height:156px; */
			background:transparent url('now_background.png') no-repeat scroll 0 0;
			display:block;
			overflow:hidden;
			z-index:100;
		}
			#siteContent #rightColumn .entry .entryContent .prgNowCarousel .rightArrow,
			#siteContent #rightColumn .entry .entryContent .prgNowCarousel .leftArrow {
				height:158px;
				display:block;
				overflow:hidden;
				z-index:200;
				width:13px;
			}
			#siteContent #rightColumn .entry .entryContent .prgNowCarousel .leftArrow {
				float:left;
			}
			#siteContent #rightColumn .entry .entryContent .prgNowCarousel .rightArrow {
				float:right;
			}
			#siteContent #rightColumn .entry .entryContent .prgNowCarousel .prgNowContent {
				margin:8px 13px 0;
				/* overflow:hidden; */
				/* position:absolute; */
				width:100%; 
				display:block;
				overflow:hidden;
				width:332px;
			}
				#siteContent #rightColumn .entry .entryContent .prgNowCarousel .prgNowContent ul.contentDisplay,
				#siteContent #rightColumn .entry .entryContent .prgNowCarousel .prgNowContent ul.legend-list,
				#siteContent #rightColumn .entry .entryContent .prgNowCarousel .prgNowContent ul.carousel-list {
					overflow:hidden;
				}
				#siteContent #rightColumn .entry .entryContent .prgNowCarousel .prgNowContent ul.legend-list {
					margin-top:8px;
					margin-left:11px;
					display:inline;
				}
					#siteContent #rightColumn .entry .entryContent .prgNowCarousel .prgNowContent ul.legend-list span.type {
						text-transform:uppercase;
						font-size:11px;
						margin:0 3px;
						font-weight:bold;
					}
					#siteContent #rightColumn .entry .entryContent .prgNowCarousel .prgNowContent ul.contentDisplay li,
					#siteContent #rightColumn .entry .entryContent .prgNowCarousel .prgNowContent ul.carousel-list li {
						display:inline;
						float: left;
						z-index:220; 
					}
						#siteContent #rightColumn .entry .entryContent .prgNowCarousel .prgNowContent ul li p.time,
						#siteContent #rightColumn .entry .entryContent .prgNowCarousel .prgNowContent ul li p.title {
							color:#4b5867;
							text-transform:uppercase;
							font-weight:bold;
							font-size:11px;
							margin-left:6px;
						}
						#siteContent #rightColumn .entry .entryContent .prgNowCarousel .prgNowContent ul li p.title {
							margin-bottom:6px;
						}
						#siteContent #rightColumn .entry .entryContent .prgNowCarousel .prgNowContent ul li .serie,
						#siteContent #rightColumn .entry .entryContent .prgNowCarousel .prgNowContent ul li .film,
						#siteContent #rightColumn .entry .entryContent .prgNowCarousel .prgNowContent ul li .emission {
							padding:12px 6px;
						}
						#siteContent #rightColumn .entry .entryContent .prgNowCarousel .prgNowContent ul li .serie {
							background-color:#ae37bd;
						}
						#siteContent #rightColumn .entry .entryContent .prgNowCarousel .prgNowContent ul li .film {
							background-color:#4ca1d8;
						}
						#siteContent #rightColumn .entry .entryContent .prgNowCarousel .prgNowContent ul li .emission {
							background-color:#462eb1;
						}
						#siteContent #rightColumn .entry .entryContent .prgNowCarrousel .prgNowContent ul li img {
							/* padding:12px 6px; */
							/* background-color:#ae37bd; */
							display:block;
							clear:none;
							/* background:#ae37bd; */
						}
			#siteContent #rightColumn .entry .entryContent .prg {
				height:38px;
				background-color:#95a6b2;
				z-index:50;
				margin-top:-2px;
				overflow:hidden;
				display:block;
			}
				#siteContent #rightColumn .entry .entryContent .prg .zap {
					margin-top:7px;
				}
					#siteContent #rightColumn .entry .entryContent .prg .zap a.tonight,
					#siteContent #rightColumn .entry .entryContent .prg .zap a.tonight img {
						z-index:100;
					}
					#siteContent #rightColumn .entry .entryContent .prg .zap a.download,
					#siteContent #rightColumn .entry .entryContent .prg .zap a.tonight,
					#siteContent #rightColumn .entry .entryContent .prg .zap a.tomorrow {
						overflow:hidden;
						position:relative;
						float:left;
					}
					#siteContent #rightColumn .entry .entryContent .prg .zap a.download {
						margin-left:33px;
						margin-top:1px;
					}
					#siteContent #rightColumn .entry .entryContent .prg .zap a.tomorrow {
						margin-left:-24px;
					}
					#siteContent #rightColumn .entry .entryContent .prg .zap a.tomorrow,
					#siteContent #rightColumn .entry .entryContent .prg .zap a.tomorrow img {
						z-index:50;
					}
#siteContent #middleFrame .expert {
	background:transparent url('expert.png') no-repeat scroll -2px 0;
	display:block;
	float:right;
	height:190px;
	width:235px;
	text-decoration:none;
}
	#siteContent #middleFrame .expert .newsExpert {
		color:#FFFFFF;
		margin-left:6px;
		margin-top:128px;
		display:block;
		text-decoration:none;
		color:#fff;
		font-size:14px;
	}

object#animateurs {
	margin-left:-6px;
}