.Grand-Gras-Noir{ font-size:1.2em; font-weight:bold; color:#000000;}
.Grand-Gras-Bleu{ font-size:1.2em; font-weight:bold; color:#0078c4;}
.Grand-Gras-Rouge{ font-size:1.2em;font-weight:bold; color:#c2001a;}
.Grand-Noir{ font-size:1.2em; color:#000000;}
.Grand-Bleu{ font-size:1.2em; color:#0078c4;}
.Grand-Rouge{ font-size:1.2em; color:#c2001a;}
.Gras-Noir{ font-weight:bold; color:#000000;}
.Gras-Bleu{ font-weight:bold; color:#0078c4;}
.Gras-Rouge{ font-weight:bold; color:#c2001a;}
.Noir{color:#000000;}
.Bleu{color:#0078c4;}
.Rouge{color:#c2001a;}
.fondBleu{ background-color:#98c9ea; padding:5px 10px; text-align:center; color:#011461; font-weight:bold;}

/* Correspondants */
table.tableCorrespondants td{ border:1px solid #666666; vertical-align:top;}
table.tableCorrespondants h5{ background-color:#333333; color:#FFFFFF; margin:0; padding:3px;}
table.tableCorrespondants h6{ font-style:normal; font-weight:bold;margin:0; padding:3px 0 2px 0; color:#000000;}