a.cartouche_une {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #8F8274;
	text-decoration: none;
}
.cartouche_une {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #8F8274;
	background-color: #FCE5CC;
}
.fond_communaute {
	background-color: #95689F;
}
.communaute {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CFD100;
	text-decoration: none;
}