* {
empty-cells: show	
}
BODY, TH, TD, P, DIV, SPAN, INPUT, SELECT, UL, OL, DL, H1, H2, H3, H5, H6, BIG, SMALL, B {
	FONT-FAMILY: Arial,Helvetica,FreeSans,Luxi-sans,"Nimbus Sans L",sans-serif; 
}
SMALL, .smaller, .smaller A, .small, SMALL SPAN, .small SPAN, SMALL A, .small A, DIV.sitelinks, DIV.sitelinks A, DIV.footlinks, DIV.footlinks A      {
	FONT-SIZE: 11px
}
BODY, TH, TD, P, DIV, SPAN, A, UL, OL, DL, LI, SELECT, INPUT {
	FONT-SIZE: 12px
}
H5,H5 A, H6, H6 A, H5 SPAN, H6 SPAN, BIG, .big, BIG SPAN, .big SPAN, .big A, BIG A  {
	FONT-SIZE: 13px
}
.xbig, .xbig SPAN, .xbig A {
	FONT-SIZE: 14px
}
H4, H4 SPAN, H4 A, .xxlarge {
	FONT-SIZE: 17px
}
H1, H2, H3, H1 SPAN, H2 SPAN, H3 SPAN, H1 A, H2 A, H3 A, .xxbig, .xxbig SPAN  {
	FONT-SIZE: 15px
}
BODY, TH, TD, P, H5, H5 A, H5 SPAN, H6 SPAN, H1, H2, H3, H1 SPAN, H2 SPAN, H1 A, H2 A, H3 A, H4 SPAN, H4 A {
	COLOR: #000
}
H1, H2, H3, H4, H5, H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 3px 0px 0px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
A {
	TEXT-DECORATION: none
}
A:visited, A:visited CODE  {
	COLOR: #3a5b70
}
A:link, A.named:visited, DIV.sitelinks A:visited  {
	COLOR: #5382a1
}
FORM {
	DISPLAY: inline
}
FORM, SELECT, INPUT, TEXTAERA, UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-LEFT: 0px; MARGIN-LEFT: 14px
}
UL, UL LI, OL, OL LI {
	PADDING-LEFT: 0px; MARGIN-LEFT: 9px
}
.a1 {
	MARGIN: 0px 22px 0px 19px
}
.a1 DIV {
	WIDTH: 100%
}
.a1 TABLE {
	BACKGROUND: #fff; MARGIN: 3px 0px; WIDTH: 100%
}
.toolbarlinks A, .selectorlinks SPAN {
	BORDER-RIGHT: #a3b8cb 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 2px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.toolbarlinks A.lastlink, .selectorlinks SPAN.lastlink  {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 3px; PADDING-LEFT: 2px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.toolbarlinks A.dividelink {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 14px; FONT-SIZE: 11px
}
.siteid SPAN, .siteid A, .selectorlinks SPAN A, .selectorlinks SPAN.lastlink A {
	FONT-SIZE: 11px
}
.siteid SPAN {
	PADDING-RIGHT: 2px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.siteid A {
	PADDING-RIGHT: 2px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; BORDER-LEFT: #a3b8cb 1px solid; PADDING-TOP: 0px
}
.flybg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.flymenus {
	Z-INDEX: 30; LEFT: 0px; VISIBILITY: hidden; MARGIN: 0px 20px 20px; POSITION: absolute; TOP: 0px
}
.flymenus A:visited {
	COLOR: #fff
}
.flymenus A:link, .flymenus {
	COLOR: #fff
}
.menulinks, .menulink1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; Z-INDEX: 33; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px
}
.menulink1 {
	BORDER-TOP: #35556b 1px solid; MARGIN-TOP: 4px
}
.menulinks {
	BORDER-TOP: #a8ccd9 1px solid
}
.menulinks:hover, .menulink1:hover {
	CURSOR: pointer
}
.firstlink {
	BORDER-TOP-STYLE: none
}
.navlinks {
	WHITE-SPACE: nowrap
}
.navlinks A {
	COLOR: #fff
}
.navlinks DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TD.navlinks A {
	FONT-WEIGHT: bold; COLOR: #fff; vertical-align: middle
}
TD.navlinks A:visited {
	FONT-WEIGHT: bold; COLOR: #fff
}
TD.navlinks A:hover {
	TEXT-DECORATION: underline
}
.a2 TD.navlinks {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#a2v1 TD.navlinks, #a2v2 TD.navlinks, #a2v3 TD.navlinks, #a2v5 TD.navlinks  {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 7px; PADDING-TOP: 4px
}
#a2v0 .navlinks DIV, #a2v4 .navlinks DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; PADDING-TOP: 7px
}
.a2topiclinks {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#a2v1 .a2topiclinks TD, #a2v2 .a2topiclinks TD, #a2v3 .a2topiclinks TD, #a2v5 .a2topiclinks TD  {
	VERTICAL-ALIGN: bottom
}
#a2v0 .a2search, #a2v2 .a2search, #a2v6 .a2search   {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 16px
}

#a2v1 .a2search, #a2v3 .a2search {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
#offdiv {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 25; VISIBILITY: hidden; PADDING-BOTTOM: 0px; MARGIN-LEFT: auto; WIDTH: 98%; MARGIN-RIGHT: auto; PADDING-TOP: 0px; POSITION: absolute; TOP: 100px
}
.a0v1 #offdiv {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.a2 {
	BACKGROUND: url("bandeau.gif") #35556b; MARGIN: 0px 10px; HEIGHT: 60px; min-width: 780px
}
.a2 DIV.cornerTL, .a2 DIV.cornerTR, .a2 DIV.cornerBL, .a2 DIV.cornerBR  {
	BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 100%; HEIGHT: 60px
}
.a2search SELECT {
	BORDER-RIGHT: #bcc9d4 2px solid; PADDING-RIGHT: 0px; BORDER-TOP: #1a242c 2px solid; PADDING-LEFT: 0px; BACKGROUND: #a3b8cb; PADDING-BOTTOM: 0px; BORDER-LEFT: #1a242c 2px solid; WIDTH: 100px; PADDING-TOP: 0px; BORDER-BOTTOM: #bcc9d4 2px solid
}
.a2search {
	FLOAT: right; BACKGROUND-COLOR: transparent; TEXT-ALIGN: right
}
#searchfield {
	BORDER-RIGHT: #bcc9d4 2px solid; PADDING-RIGHT: 0px; BORDER-TOP: #1a242c 2px solid; PADDING-LEFT: 0px; BACKGROUND: #a3b8cb; PADDING-BOTTOM: 0px; BORDER-LEFT: #1a242c 2px solid; WIDTH: 100px; PADDING-TOP: 0px; BORDER-BOTTOM: #bcc9d4 2px solid
}
#searchbttn {
	MARGIN-BOTTOM: -3px
}
.menucorners TD.cornerBL {
	BACKGROUND: url("a2_menu_corner_l.gif") no-repeat left top; WIDTH: 8px
}
.menucorners TD.cornerBR {
	BACKGROUND: url("a2_menu_corner_r.gif") no-repeat right top; WIDTH: 8px
}
TR TD.tablecaption2 DIV.headerpadding A {
	BACKGROUND-COLOR: transparent
}
TD.tablecaption2, .a2table TD.cornerTL,.a2table TD.cornerTR,.a2table TD.cornerBL, .a2table TD.cornerBR, .a2 .cornerTL, .a2 .cornerTR, .a2 .cornerBL, .a2 .cornerBR, .a2table TR TD.sunlogo, TD.a2links,.a2search, TD.a2title     {
	BACKGROUND-COLOR: transparent
}
.a5 {
	MARGIN: 5px 16px 10px 8px
}
DIV.a0v2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: auto; WIDTH: 780px; MARGIN-RIGHT: auto; PADDING-TOP: 0px
}
.a0v2 .a2, .a0v2 .a5 {
	MARGIN: 1px 0px 0px; WIDTH: 780px
}
.a0v2 .a1 {
	MARGIN: 0px
}
.a5 A, .a5 SPAN  {
	FONT-SIZE: 11px
}
.footerlinks A {
	BORDER-RIGHT: #a3b8cb 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 2px
}
SPAN.footercopy {
	PADDING-LEFT: 2px; WHITE-SPACE: nowrap
}
.fsubs {
	Z-INDEX: 70; LEFT: 0px; POSITION: relative; TOP: 0px
}
#subhover1 {
	Z-INDEX: 80; LEFT: 542px; VISIBILITY: hidden; POSITION: absolute; TOP: 21px
}
#subhover2 {
	Z-INDEX: 80; LEFT: 542px; VISIBILITY: hidden; POSITION: absolute; TOP: 122px
}
#subhover3 {
	Z-INDEX: 80; LEFT: 542px; VISIBILITY: hidden; POSITION: absolute; TOP: 224px
}
#feature1, #feature2, #feature3 {
	Z-INDEX: 20; FILTER: alpha(opacity=1); LEFT: 0px; VISIBILITY: hidden; POSITION: absolute; TOP: 0px; opacity: .1; 
}

#feature1 IMG, #feature2 IMG, #feature3 IMG  {
	WIDTH: 575px; HEIGHT: 326px
}
#mout {
	Z-INDEX: 50; LEFT: 30px; VISIBILITY: hidden; WIDTH: 100%; POSITION: absolute; TOP: -20px
}
#mout IMG {
	WIDTH: 780px; HEIGHT: 580px
}
#subhover1 IMG, #subhover2 IMG, #subhover3 IMG{
	WIDTH: 238px; HEIGHT: 101px
}
.a0v2 .a5 {
	MARGIN-TOP: 180px
}
#newsextra SPAN.newslink {
	PADDING-RIGHT: 5px; PADDING-LEFT: 18px; FONT-WEIGHT: bold;
}
DIV.a0v2 .a5 {
	MARGIN-TOP: 10px
}
#newsextra SPAN.newslink {
	PADDING-RIGHT: 5px; PADDING-LEFT: 18px; FONT-WEIGHT: bold; BACKGROUND: url("ar_lg_orange_h.gif") no-repeat left top
}
.a5 .footerlinks A.lastlink {
	BORDER-RIGHT: #fff 1px solid
}
.a5 .footercopy {
	DISPLAY: block; PADDING-TOP: 3px
}
.a5 #poweredby {
	PADDING-RIGHT: 68px; PADDING-LEFT: 0px; BACKGROUND: url("cci-brest.gif") no-repeat right top; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 80px; COLOR: #343434; PADDING-TOP: 6px; HEIGHT: 40px; TEXT-ALIGN: right
}
.a5 #poweredby B {
	DISPLAY: none
}
.b1, .b3, .a5{
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: auto; WIDTH: 780px; MARGIN-RIGHT: auto; PADDING-TOP: 0px; POSITION: relative; TOP: 0px
}
.b4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: auto; WIDTH: 780px; MARGIN-RIGHT: auto; PADDING-TOP: 0px; POSITION: relative; TOP: -25px
}
.b1 IMG {
	DISPLAY: block
}
.b3 {
	MARGIN-BOTTOM: 20px; 
}
#newsextra {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; Z-INDEX: 8; LEFT: 585px; PADDING-BOTTOM: 0px; WIDTH: 170px; PADDING-TOP: 0px; POSITION: absolute; TOP: 6px; TEXT-ALIGN: right
}
#newsextra SPAN.xmlbttn {
	FONT-WEIGHT: normal; FLOAT: right
}
#newstitle {
	Z-INDEX: 8; LEFT: 20px; POSITION: absolute; TOP: 6px;
}
#newstitle, #newstitle A  {
	FONT-WEIGHT: bold
}
#newsticker {
	PADDING-RIGHT: 1px; PADDING-LEFT: 10px; Z-INDEX: 10; PADDING-BOTTOM: 1px; MARGIN: 5px 0px 0px 100px; OVERFLOW: hidden; WIDTH: 470px; PADDING-TOP: 1px; WHITE-SPACE: nowrap; POSITION: absolute; HEIGHT: 15px
}
.newsitems {font-weight:bold;white-space:nowrap;width:500px;position:absolute;z-index:2;visibility:hidden}
div.newsitems {font-weight:bold;white-space:nowrap;width:500px;position:absolute;z-index:2;opacity:0;filter:alpha(opacity=0);-moz-opacity:0;visibility:visible}
.b4v0 {
	BACKGROUND: url(fds-barre-nav2.gif) repeat-x left bottom; WIDTH: 780px; HEIGHT: 262px
}
.b4v0 DIV.cornerBL, .menusite DIV.cornerBL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url("generic_bl.gif") no-repeat left bottom; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 262px
}
.b4v0 DIV.cornerBR, .menusite DIV.cornerBL{
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url("generic_br.gif") no-repeat right bottom; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 262px
}
.b4v0 H5 {
	COLOR: #343434
}
.b4v0 .col1, .b4v0 .col2, .b4v0 .col3, .b4v0 .col4 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 180px; PADDING-TOP: 0px; POSITION: absolute; TOP: 8px
}
.b4v0 .col1 {
	LEFT: 0px
}
.b4v0 .col2, .b4v0 #vline1 {
	LEFT: 195px
}
.b4v0 .col3, .b4v0 #vline2  {
	LEFT: 390px
}
.b4v0 .col4, .b4v0 #vline3 {
	LEFT: 585px
}
.b4v0 #vline1, .b4v0 #vline3  {
	BORDER-LEFT: #a3b8cb 1px solid; WIDTH: 1px; POSITION: absolute; TOP: 16px; HEIGHT: 120px
}
.b4v0 #vline2 {
	BORDER-LEFT: #a3b8cb 1px solid; WIDTH: 1px; POSITION: absolute; TOP: 16px; HEIGHT: 240px
}
.b5v0 IMG {
	MARGIN-TOP: 12px
}
.b5v0 .bgimg, .b5v0 {
	HEIGHT: 108px
}
.b5v0 H5 {
	LEFT: 89px; COLOR: #464646; POSITION: absolute; TOP: 18px
}
.b5v0 .bottomlink {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; FONT-WEIGHT: bold; BACKGROUND: url("ar_lg_orange_h.gif") no-repeat left top; LEFT: 73px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; POSITION: absolute; TOP: 110px
}
.b6 {
	MARGIN-LEFT: 10px
}
.b6 .bottomlink {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; FONT-WEIGHT: bold; BACKGROUND: url("ar_lg_orange_h.gif") no-repeat left top; LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; POSITION: absolute; TOP: 110px
}
.b6v0 .links1 {
	WIDTH: 150px; POSITION: absolute; TOP: 22px
}
.b6v1 .links1 {
	WIDTH: 150px; POSITION: absolute; TOP: 22px
}
.b6v1 .links2 {
	WIDTH: 150px; POSITION: absolute; TOP: 22px
}
.b6v0 .links1 A, .b6v1 .links1 A, .b6v1 .links2 A  {
	DISPLAY: block; PADDING-BOTTOM: 2px
}
.b6v1 .links1 {
	WIDTH: 90px
}
.b6v1 .links2 {
	LEFT: 115px; WIDTH: 90px
}

@media Print    
{
	DIV.a2 DIV.cornerBR DIV.menusite DIV.cornerBL DIV.menusite DIV.cornerBR,TABLE.dkgrey1 TABLE TR TD.tablecaption2, TR TD.tablecaption2 DIV.headerpadding, DIV.a2 DIV.cornerTL,DIV.a2 DIV.cornerTR, DIV.a2 DIV.cornerBL,DIV.a2 DIV.cornerBR DIV.b4v0 DIV.cornerBL DIV.b4v0 DIV.cornerBR  {
		BACKGROUND: none transparent scroll repeat 0% 0%
	}
	
	.a2search, .a2topiclinks {
		DISPLAY: none
	}
	
	DIV.a2 {
		HEIGHT: 90px
	}
}

table.depart {width:350px; background-color:#ABE837;border-spacing:0px; padding:0px;}
table.arrivee {width:350px; background-color:#EB892E;border-spacing:0px;padding:0px;}
td.vol { height:25px; border-bottom: 1px solid #BCF948;empty-cells:show}
td.volarr {height:25px; border-bottom: 1px solid #FCA03F; color:#ffffff;empty-cells:show;}
.tab_h DIV {font-family: Arial Narrow,arial; }
td.menu, td.menu_rub {height:21px; text-align: left;}
td.menu_rub {color:#35556B;font-weight: bold;}
table#menuccib {text-align:center}

div.b7 {margin-left:10px;margin-top:19px}
div.b7-2006 {margin-left:12px;margin-top:4px}

#heure {width:39px}
#desti {width:130px}
#comment {width:181px}

a.choix {font-size:11px}
a.choix {
	color: #5382A1;
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 2px 10px;
	text-align: left;
	text-decoration: none;
}

a.choix:hover {
	background: #2B9CC5;
	border-color: #2B9CC5;
	color:#FFFFFF;
}

a.choix:active {
	background: #000000;
	border-color: #000000;
	color: #ffffff;
}

#heureA1, #heureA2, #heureA3, #heureA4, #heureD1, #heureD2, #heureD3, #heureD4, #harr1, #harr2, #harr3, #harr4, #hdep1, #hdep2, #hdep3, #hdep4  {width:41px}
#destiA1, #prov1, #destiA2, #prov2,#destiA3, #prov4,#destiA4, #prov4,#destiD1, #dest1, #destiD2, #dest2, #destiD3, #dest3, #destiD4, #dest4 {width:128px}
#commentA1, #commentA2, #commentA3, #commentA4, #commentD1, #commentD2, #commentD3, #commentD4, #rmkdep1, #rmkarr1, #rmkdep2, #rmkarr2, #rmkdep3, #rmkarr3, #rmkdep4, #rmkarr4 {width:181px}

div.b1 {z-index:1}
div.b4  {z-index:1}


div.nos_sites {padding:5px 5px 5px 5px; visibility: hidden; position: absolute ; top: -28px; left:529px; width:237px; z-index:99;}

div.z100 {margin:0px auto; width:780px; height: 50px; visibility: hidden; position:relative; top:-717px;z-index:100}
div.all_destinations {width:370px;  visibility: hidden; position: absolute; top: -10px; left:405px; z-index:1000; opacity: .95}

table.all_destination {padding:0px; border-spacing:0px; margin:0px; font-family:Arial; font-size:11px; }
table.all_destination, td.find-oag {border-right:1px solid #343434; border-left:1px solid #343434}
td.find-oag {background:#f8f2f6}
td.txt-find-oag {font-family: Arial; font-size:11px;}
td.drapeau {width:30px;}
img.drapeau {padding-left:5px}
td.country {width: 60px; font-weight: bold; padding-left:3px}
td.dest_layer {width:275px}
td.drapeau, td.country,td.dest_layer { height:32px}
tr.dest_impair, tr.fin_impair {background:#f0f0f0;}
tr.dest_pair, tr.fin_pair {background:#ffffff;}
tr.dest_impair td.drapeau, tr.dest_impair td.country, tr.dest_impair td.dest_layer { border-bottom: 1px solid #343434}
tr.dest_pair td.drapeau, tr.dest_pair td.country, tr.dest_pair td.dest_layer { border-bottom: 1px solid #bbbbbb}
a.fly_to:visited, a.fly_to {color:#242424; text-decoration:none;}
a.fly_to:hover {color:#c600ff; text-decoration:underline;}

table.regular_cie{text-align:left;width:340px; background:#f9ccfe;}
td.bookescale {font-family: arial; font-size: 12px; font-weight:bold;padding-left:2px;padding-top:1px; padding-bottom:1px; color:#31556b; border-bottom:1px solid #f9ccfe; width:237px}
td.bookescalelogo {background:#FFFFFF;border-bottom:1px solid #fbe8fd;width:103px}
tr.ligne1 td.bookescale{background:#f9ccfe;}
tr.ligne2 td.bookescale{background:#fbe8fd;}
tr.ligne1, tr.ligne2 {height:40px;}

.more_info {font-family: arial; font-size: 10px;}
.ttc {font-family: arial; font-size: 6px;}
.trOver {font-family: arial; font-size: 13px; font-weight:bold; border: 2px solid #AA2B9F;cursor:pointer;text-align:left}

div.b3 {width:780px; height:28px; background:url('news-bg2.gif'); position: relative; z-index:7}
div.a5 {top:-20px}
img.efface_ca {width:780px; height:750px;}
input.dest_airpor {width:100px}
input.date_flight {width:75px; text-align:center}

a.nouvelles {background:#FAFAFA}
