html {height: 100%;}
body {background: #fff; font-size: 100.1%; color: #676765; line-height: 1.4; height: 100%;}
* {margin: 0; padding: 0; font-family: arial,FreeSans,verdana,sans-serif; font-size: 1em;}
sub, sup {font-size: 0.65em}
sub {line-height: 0.5em}
img, fieldset {border: none}
ul {list-style: none}
ol {padding: 0 0 0 2em}
table {border-collapse: collapse; border-spacing: 0; empty-cells: show;}
select > option {padding: 0 16px 0 3px}
textarea {overflow: auto;}
button {border-style: inset; border-width: 0; border: none; background: none; cursor: pointer; text-align: left; overflow: visible; vertical-align: middle;}
acronym {border-bottom: dotted 1px;}
hr,
legend {display: none;}

a {color: #676765; text-decoration: none; /*-webkit-transition-duration: .2s;*/}
a:hover {color: #d7001b;}

.cs1 a:hover {color: #77196f;}
.cs2 a:hover {color: #01654d;}
.cs3 a:hover {color: #008f8b;}
.cs4 a:hover {color: #8db402;}
.cs5 a:hover {color: #512469;}
.cs6 a:hover {color: #e2640d;}
.cs7 a:hover {color: #e6a801;}
.cs8 a:hover {color: #c12167;}
.cs9 a:hover {color: #003b81;}
.cs10 a:hover {color: #159fdb;}
.cs11 a:hover {color: #a5874c;}
.cs12 a:hover {color: #e00022;}

.jumpers,
.scripted span.wai {position: absolute; left: -9999px; top: -9999px;}

select {color: #676765;}

/* Pseudo preloads
----- */
.jumpers {background: url('direct-access.gif') -9999px -9999px no-repeat;}

/* Page
----- */
#page {width: 980px; margin: 0 auto; min-height: 100%; font-size: 0.874em; position: relative; background: #fff;}
#container {padding: 0 0 96px;}

#wrapper {position: relative;}
.tv #wrapper {background: #080d0f url('veolia-tv.jpg') 0 7px no-repeat; padding: 0 0 5em 0;}
#curve {display: block; z-index: 200; position: absolute; top: 0; left: 0; width: 980px; height: 66px;}

html>body #curve {background: url('curve.png') 0 0 no-repeat;}


/* 
----- */
#logo {width: 212px; height: 56px; background: url('veolia-environnement.gif') 0 0 no-repeat; float: left; overflow: hidden;}
#logo a,
#logo span {display: block; overflow: hidden; text-decoration: none; text-indent: -9999px; width: 100%; height: 100%;}


#tools {float: right; font-size: 0.78em; line-height: 1; color: #999; margin: 5px 5px 5px 0;}
#tools li,
#tools form,
#tools form div {display: inline;}
#tools li {line-height: 2; padding: 0 0 0 8px;}

#tools a {color: #999;}
#tools a:hover {text-decoration: underline;}
#tools input {border: solid 1px #999; padding: 1px 2px; color: #777; margin: 0 0 0 4px;}
#tools button {vertical-align: baseline; color: #999;}
#tools form:hover {color: #555;}
#tools form:hover input {border-color: #555;}
#tools form:hover button {color: #555;}
#tools input:focus {border-color: #666;}


#tools li:before {content: '|'; padding: 0 8px 0 0;}
#tools li li:before,
#tools li:first-child:before {content: ''; padding: 0;}

#tools li.corp a {padding: 0 0 0 14px; background: url('veolia-xs.gif') 0 50% no-repeat;}

#tools li.directAccess a span {background: url('direct-access.gif') 0 0 no-repeat; display: inline-block; line-height: 1.7;}
#tools li.directAccess a span span {background-position: 100% 0;}
#tools li.directAccess:hover a span span,
#tools li.directAccess a:hover span span {background-image: url('direct-access-on.gif');}
#tools li.directAccess a span span span {background-position: 100% 100%;}
#tools li.directAccess a span span span span {padding: 0 26px 0 8px; background-position: 0 100%;}
#tools li.directAccess a:hover {text-decoration: none;}
#tools li.directAccess:hover a {color: #d7001b;}
#tools li.directAccess a:hover span span span span {color: #d7001b;}

#tools .settlements a {padding: 0 0 0 40px; background: url('settlements.gif') 0 50% no-repeat;}

#tools li.directAccess {position: relative; margin-left: 8px; padding-left: 0;}

#tools li .sub {position: absolute; right: 9999px;}
#tools li .sub {padding: 38px 0 0 0;}
#tools li .sub-b {padding: 0 0 9px 0;}
#tools li .sub-c {width: 128px; padding: 0 20px 10px 20px;}
html>body #tools li .sub {background: url('tools-t.png') 0 0 no-repeat;}
html>body #tools li .sub-b {background: url('tools-b.png') 0 100% no-repeat;}
html>body #tools li .sub-c {background: url('tools.png') 0 0 repeat-y;}

#tools li:hover .sub {display: block; position: absolute; right: 0; margin-top: -10px; z-index: 555;}

#tools li a:focus + .sub {display: block; position: absolute; right: 0; margin-top: -10px; z-index: 555;}

#tools li .sub a:focus {position: absolute; left: 9999px; top: 0; background: #fff; background: rgba(255,255,255,0.75); padding-left: 5px; padding-right: 5px; text-align: right; width: 155px; z-index: 555;}

#tools li:hover .sub a:focus {position: static; left: auto; top: auto; background: none; text-align: left; width: auto; z-index: 1; padding-left: 0; padding-right: 0;}

#tools li ul li {display: block; font-weight: normal; position: static; line-height: 1.5; font-size: 1.1em;}
#tools li ul li:first-child {border: none;}
#tools li ul li:before {content: '';}
#tools li ul li a {display: block; padding: 2px 0; color: #676765;}
#tools li ul li:hover a,
#tools li ul li a:hover {color: #000; text-decoration: none;}
#tools li.directAccess:hover li a {color: #676765;}
#tools li.directAccess:hover li a:hover {color: #000;}
#tools li ul li:hover li a {color: #676765;}
#tools li ul li:hover li a:hover {color: #000;}

#tools li ul li li {font-size: 1em; margin-left: 37px; border-top: none;}
#tools li ul li li a {padding: 1px 0;}

#navigation {float: right; clear: right;}
#navigation li {display: inline; font-size: 1.214em; font-weight: bold; position: relative;}

#navigation li:before {content: ' | ';}
#navigation li:first-child:before {content: ''; float: left;}
#navigation li a {display: inline-table; display: inline-block; padding: 0 5px;}
#navigation li strong a {color: #d7001b;}

#navigation li .sub {position: absolute; right: 9999px; z-index: 555; padding: 28px 0 0 0;}
#navigation li .sub-b {padding: 0 0 9px 0;}
#navigation li .sub-c {width: 198px; padding: 0 20px 10px 20px;}
html>body #navigation li .sub {background: url('subnav-t.png') 0 0 no-repeat;}
html>body #navigation li .sub-b {background: url('subnav-b.png') 0 100% no-repeat;}
html>body #navigation li .sub-c {background: url('subnav.png') 0 0 repeat-y;}
#navigation li:hover .sub {display: block; position: absolute; right: 0; margin-top: -5px;}
#page #navigation li a:focus + .sub {display: block; position: absolute; right: 0; margin-top: -5px;}

#navigation li .sub a:focus {position: absolute; left: 9999px; top: 0; background: #fff; background: rgba(255,255,255,0.75); text-align: right; width: 220px; padding-left: 5px; padding-right: 5px;}
#navigation li:hover .sub a:focus {position: static; left: auto; top: auto; background: none; text-align: left; width: auto; padding-left: 0; padding-right: 0;}

#navigation li ul li {display: block; font-size: 0.706em; font-weight: normal; position: static; border-top: solid 1px #b7b7b7;}
#navigation li ul li:first-child {border: none;}
#navigation li ul li:before {content: '';}
#navigation li ul li a {display: block; padding: 3px 0;}
#navigation li ul li:hover a,
#navigation li ul li a:hover {color: #000;}
#navigation li ul li:hover li a {color: #676765;}
#navigation li ul li:hover li a:hover {color: #000;}

#navigation li ul li li {font-size: 1em; margin-left: 37px; border-top: none;}
#navigation li ul li li a {padding: 1px 0;}

/* 
----- */
.content p,
.content ul,
.content ol,
.content blockquote {margin-bottom: 0.85em;}

.content blockquote .inner {font-style: italic;display:inline}

.content ul li {list-style: disc; margin-left: 2.2em;}
.content ol {margin-left: 2.2em;}

.content .npslinks {display: table; display: inline-block; display: table-cell; padding-bottom: 0.85em;}
.content .npslinks li {margin: 0; list-style: none;}
/*.content .inset .npslinks li {background-image: url('i/backgrounds/npslinks-inset.gif');}
.content .creamy .npslinks li {background-image: url('i/backgrounds/npslinks-creamy.gif');}
.content .npslinks li.delete {background: url('i/backgrounds/delete.gif') 2px 0.3em no-repeat;}*/
.content .npslinks a {text-decoration: none; padding: 0 0 0 14px; display: table-cell; display: inline-block; background: url('nps-0.gif') 0 0.4em no-repeat;}
.cs1 .content .npslinks a {background-image: url('nps-1.gif');}
.cs2 .content .npslinks a {background-image: url('nps-2.gif');}
.cs3 .content .npslinks a {background-image: url('nps-3.gif');}
.cs4 .content .npslinks a {background-image: url('nps-4.gif');}
.cs5 .content .npslinks a {background-image: url('nps-5.gif');}
.cs6 .content .npslinks a {background-image: url('nps-6.gif');}
.cs7 .content .npslinks a {background-image: url('nps-7.gif');}
.cs8 .content .npslinks a {background-image: url('nps-8.gif');}
.cs9 .content .npslinks a {background-image: url('nps-9.gif');}
.cs10 .content .npslinks a {background-image: url('nps-10.gif');}
.cs11 .content .npslinks a {background-image: url('nps-11.gif');}
.cs12 .content .npslinks a {background-image: url('nps-12.gif');}


#highlight.town .npslinks a,
#highlight2.town .npslinks a {background-image: url('nps-h-t.gif'); color: #128abe;}
#highlight.town .npslinks a:hover,
#highlight2.town .npslinks a:hover {color: #fff;}

.content .npslinks a:hover {background-position: -1000px 0.4em;}


.cs0 .npscolor,
.cs0 .npscolor a {color: #a0978f;}
.cs1 .npscolor,
.cs1 .npscolor a {color: #77196f;}
.cs2 .npscolor,
.cs2 .npscolor a {color: #01654d;}
.cs3 .npscolor,
.cs3 .npscolor a {color: #008f8b;}
.cs4 .npscolor,
.cs4 .npscolor a {color: #8db402;}
.cs5 .npscolor,
.cs5 .npscolor a {color: #512469;}
.cs6 .npscolor,
.cs6 .npscolor a {color: #e2640d;}
.cs7 .npscolor,
.cs7 .npscolor a {color: #e6a801;}
.cs8 .npscolor,
.cs8 .npscolor a {color: #c12167;}
.cs9 .npscolor,
.cs9 .npscolor a {color: #003b81;}
.cs10 .npscolor,
.cs10 .npscolor a {color: #159fdb;}
.cs11 .npscolor,
.cs11 .npscolor a {color: #a5874c;}
.cs11 .npscolor,
.cs11 .npscolor a {color: #e00022;}


.illustration {margin: 0 0 0.8em 0;}
.related .illustration {margin-bottom: 0.35em; clear: both;}
/*.related .illustration + p,
.related .illustration + ul,
.related .illustration + ol {margin-top: -0.2em;}*/
.illustration img,
.illustration object {display: block; margin: 0;}
.illustration .legend {color: #b1aeab; font-size: 0.9em; line-height: 1.2; margin: 0.2em 0 0 0;}
.illustration .legend * {color: #b1aeab; margin-bottom: 0;}
.full {width: 772px; position: relative; left: -30px;}
#overlayInnerContent .full,
.unscripted .full {width: auto; left: auto;}
.main .full {width: 531px;}
.related .full {width: 241px; left: -20px;}
.full .legend {text-align: right; padding-right: 11px;}
.right .legend {text-align: right;}
.half {width: 235px;}
.quarter {width: 80px;}
.inset .half {width: 265px;}
.inset .illustration img {border: none;}
.left {float: left; margin-right: 20px;}
.right {float: right; margin-left: 20px;}
.center {margin-left: auto; margin-right: auto;}

.text ul,
.text ol,
.text blockquote {display: table; display: inline-block; display: table-cell; padding-bottom: 0.85em;}

.text cite {font-style: normal;}

/* Shadow
----- */
.split {position: relative;}
.shadow-r {width: 10px; min-height: 100%; display: block; position: absolute; top: 0; left: 501px; z-index: 100; overflow: hidden;}
.shadowTop {position: absolute; top: -382px; left: 0; display: block; width: 10px; height: 100%; z-index: 101;}
html>body .shadowTop {background: url('shadow-right-tile.png') 0 0 repeat-y;}
.shadowBtm {position: absolute; bottom: 0; left: 0; display: block; width: 10px; height: 382px; z-index: 102;}
html>body .shadowBtm {background: url('shadow-right-btm.png') 0 0 no-repeat;}

/* Footer
----- */
#footer {font-size: 0.714em; text-align: right; width: 631px; min-height: 42px; position: absolute; bottom: 0; right: 0; padding: 38px 10px 0 0; color: #999; z-index: 200;}
#footer li {display: inline;}
#footer li:before {content: ' | ';}
#footer li:first-child:before {content: '';}
#footer a {color: #999;}
#footer a:hover {color: #999;}
#footer .copyright,
#footer .copyright a {color: #000;}
#footer .rss a {padding: 0 16px 0 0; background: url('rss.gif') 100% 50% no-repeat;}
#footer li a:hover {text-decoration: underline;}


/* Overlay
---------------------- */
#overlay {min-height: 100%; min-width: 100%; position: absolute; left: 0; top: 0; z-index: 5000;}
html>body #overlay {background: url('000-45.png'); background: rgba(0,0,0,0.45);}
#overlayContainer {width: 500px; height: 400px; position: absolute; left: 50%; margin-left: -50%; z-index: 5002; top: 0; border: solid 3px #333; font-size: 0.75em; color: #676765;}
#overlayContainer h1 {background: #f4f2f0; color: #000; font-size: 1.75em; padding: 20px 55px 20px 17px; font-weight: normal;}
/*padding: 10px 17px 5px 17px;*/
#overlayContainer .illustration {clear: both;}
#content #overlayInnerContent h1 {color: #D6001B; font-size: 1.15em; margin-bottom: 0.5em; font-weight: bold;}
#overlayContainer .content {color: #676765; padding: 17px;}
#overlayContainer img {border: solid 1px #676765;}
#overlayContainer .diaporama img {border: none;}
#content #overlayInnerContent img {border: solid 1px #676765;}
#overlayInnerContent.center .illustration {margin-left: auto; margin-right: auto;}
.hidden {display: none;}
.transparent {-moz-opacity: 0; opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}


/*#overlayContainer .rh h1 {font-size: 1.35em; margin: 0 25px 1em 0;}*/
#overlayContainer .rh .content {padding-bottom: 1em; color: #333;}


#overlayNav a {margin: 0 0 0 0; text-align: left; color: #676765; font-size: 0.9em; outline: none;}
#content #overlayNav a {color: #676765; font-size: 0.9em;}
#overlayNav ul {height: 30px; top: 3px; position: absolute; right: 35px;}
#overlayNav ul li {list-style: none; margin: 0; padding: 0;}
#overlayNav a:hover {text-decoration: underline;}
#overlayNav .closer {background: url('overlay-close.gif') 0 0 no-repeat; width: 37px; height: 37px; position: absolute; top: 7px; right: 7px;}
#overlayNav .closer:hover {background-position: -100px 0;}

#overlayNav .paging {color: #676765; font-size: 0.9em; padding: 0.8em 25px 0 25px;}
#overlayNav .previous {display: block; width: 20px; height: 30px; position: absolute; top: 0; left: 0; overflow: hidden;}
#overlayNav .previous span {display: block; width: 20px; height: 30px; background: url('diapo-nav.gif') -11px -45px no-repeat; text-indent: -9999px;}
#overlayNav .previous a {display: block; width: 20px; height: 30px; background: url('diapo-nav.gif') -11px -5px no-repeat; text-indent: -9999px;}
#overlayNav .next {display: block; width: 20px; height: 30px; position: absolute; top: 0; right: 0; overflow: hidden;}
#overlayNav .next span {display: block; width: 20px; height: 30px; background: url('diapo-nav.gif') -49px -45px no-repeat; text-indent: -9999px;}
#overlayNav .next a {display: block; width: 20px; height: 30px; background: url('diapo-nav.gif') -49px -5px no-repeat; text-indent: -9999px;}

#overlayContainer .legend {font-size: 0.85em; text-align: right; display: block; margin-top: 0.4em;}
#overlayContainer .legend,
#overlayContainer .legend * {color: #888;}

#overlayContainer object {display: block; border: solid 1px #676765;}
#overlayContainer object object {border: none;}
#overlayContainer .content {min-height: 29px;}
#overlayContainer .content a {text-decoration: underline;}

#loader {display: block; width: 32px; height: 32px; margin: -16px 0 0 -16px; opacity: 0.5; position: absolute; left: 50%; top: 50%; z-index: 5001;}

#overlayInnerContent {background: #fff; position: relative;}

/* Diaporama
----- */
.diaporama {position: relative; /*width: 516px;*/}
.diapo .data {margin-bottom: 0.85em;}
.full .diapo .data {padding: 0 31px 0 31px;}
.diaporama .media {background: #151515; height: 387px; margin-bottom: 1em; overflow: hidden; line-height: 387px; text-align: center;}
.diaporama .media img {display: inline; line-height: 387px; vertical-align: middle;}
.diaporama .media a {text-decoration: none;}
.scripted .diapo {position: absolute; top: -9999px;}
.diaporama .current {position: static; top: 0;}
.diapoNav {position: absolute; top: 0; left: 0; height: 387px; width: 100%;}

.diapoNav button {display: block; width: 35%; height: 387px; overflow: hidden; position: absolute; line-height: 387px; text-decoration: none; text-align: center; font-size: 60px; top: 0; z-index: 300; text-indent: -9999px; background: url('fff-00.png'); background: rgba(255,255,255,0); text-shadow: rgba(0,0,0,0.25) 1px 1px 5px;}
.diapoNav .prev {left: 0;}
.diapoNav .next {right: 0;}

.diapoNav .playPause {width: 40%; line-height: 395px; font-size: 35px; left: 30%; font-weight: bold; letter-spacing: 0.1em; text-shadow: rgba(0,0,0,0.5) 1px 1px 20px;}

.diapoNav > button:focus,
.diapoNav > button:hover {background: url('fff-15.png'); background: rgba(255,255,255,0.15); color: #d7001b; color: rgba(215,0,27,0.95); text-indent: 0; outline: none; -webkit-transition: all 0.25s ease;}

.diapoNav span {display: none; text-align: center; width: 44%; position: absolute; bottom: 0; left: 28%; color: #efefef; color: rgba(255,255,255,0.5); text-shadow: rgba(0,0,0,0.25) 1px 1px 5px;}
.diapoNav:hover span {display: block;}

.diapoNav .reposition {width: 1px; height: 1px; left: 0; outline: none;}
.diapoNav .reposition:focus {outline: none;}


/* Floats
----- */
#header:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}