/*******************************
	TEMPLATE CSS COMMUN
*******************************/
html,
body {
	font-family: Trebuchet MS;
	font-size: 1em;
	line-height:1.2em;
	margin: 0;
	padding: 0;
	background-image:url(bg_body.jpg);
	background-repeat:no-repeat;
	background-color:#0574C3;
}
a{ 	color:#666a5b;	text-decoration:none;}
a:hover{ text-decoration:none;color: #000000; }
img {	border:0px; }
pre{
	background-color:black;
	color:#80FF80;
}
/* UNIFORMISATION DES MARGES ET PADDING des != NAVIGATEUR */
div,p,form,h1,h2,h3,h4,h5,h6,ol,ul,blockquote,img {
	margin: 0;
	padding:0;
}
ul,ol,blockquote{	margin-left:15px; }

div,p,h1,h2,h3,h4,h5,h6,ul,ol,blockquote,font,small,big{ line-height:1.2em; }

.cleaner{
	clear:both;
	font-size:0.1em;
	height:0px;
	line-height:0px;
	margin:0;
	padding:0;
}

.div-detection-flash{
	margin:0px;
	font-weight:normal;
	text-align:center;
	width:auto;
	border:1px solid #C6C5C0;
	padding:25px;
}
.transparence{
	filter:alpha(opacity=50);
	-moz-opacity:.50;
	opacity:.50;
}
/* POSITIONNEMENT DU CONTENU DE LA PAGE  */
.contenaire-page{
	position: absolute;
	left: 50%; /*positionnement a 50% de la gauche de la page du navigateur */
	z-index: 101; /* profondeur du div */
	top: 306px; /* hauteur du div par rapport au haut de la page */
	border-top:0px;
	
}
.contenaire-page{
	margin-left: -512px; /* div ramene de 400 pixels sue la gauche pour etre centre */
	width:1023px;
}
.contenu-main{
	background-image: url(bg_main.jpg);
	background-repeat:repeat-y;
	width:988px;
	padding:13px 16px 0px 19px;
}
/* POSITIONNEMENT DU CONTENU ENGLOBANT  */
.contenu-englobant{
	float:left;
	width:812px;
}
/********************************************************/
/* POSITIONNEMENT DE L'ENTETE DE LA PAGE  */
.entete{
	/*background-color:white;*/
	position: absolute;
	left: 50%;
	z-index: 100;
}
.entete{
	margin-left: -512px; /* div ramene de 400 pixels sue la gauche pour etre centre */
	width:1023px;
}

/*******************************************************/
/* CONTENU LOGO ET BLOC MENU HAUT */
.contenu-logo-menu-haut{
	width:1021px;
	border:1px solid red;
}
/* LOGO */
.logo{
	width:340px;
	height:70px;
	background-image: url(logo_ville_niceca.png)!important;
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/design/ezwebin/images/commun/logo_ville_niceca.png', sizingMethod='crop');/* ne pas oublie de mettre /img a la place de ../img pour IE */
	background-repeat: no-repeat;
	margin-left: 18px!important;
	margin-left: 8px;
	float:left;
	color:#FF0000;
	font-size:1.2em;
	font-weight:bold;
}
.logo a.link-accueil{
	text-decoration:none;
	display:block;
	width:283px;
	height:74px;
	position: relative;
}
/*******************************************************/
/* MENU DU HAUT */
.menu-haut{
	float:right;
	margin:42px 27px 0px 0px!important;
	margin:42px 13px 0px 0px;
	padding:0px 10px 0px 10px;
	width:593px;
	height:32px;
	background-image: url(bg_menu_haut.png)!important;
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/design/ezwebin/images/commun/bg_menu_haut.png', sizingMethod='crop');/* ne pas oublie de mettre /img a la place de ../img pour IE */
	background-repeat: no-repeat;
	color:#FFFFFF;
	font-size:0.85em;
}
.menu-haut a{
	position:relative;
	text-decoration:none;
}
.menu-haut .contenu-menu-haut{
	float:left;
	width: 373px;
}
.menu-haut .contenu-menu-haut ul{
	margin:0px;
	padding:8px 0px 0px 0px;
}
.menu-haut .contenu-menu-haut li{
	list-style:none;
	float:left;
	/*line-height: 32px;*/
}
.menu-haut .contenu-menu-haut li a{
	position:relative;
	text-decoration:none;
	color:#FFFFFF;
	font-size:0.85em;
}
.menu-haut .contenu-menu-haut li a:hover{
	color:#000000;
}
.menu-haut .bloc-recherche{
	float:left;
	width: 220px;
}
/*.menu-haut .bloc-recherche a.bt-go{
	position:relative;
	text-decoration:none;
	display:block;
	float:left;
	padding:7px 0px 0px 3px;
}*/
.menu-haut .bloc-recherche input.bt-go{
	position:relative;
	top: 7px;
	background-color:#0086CC;
	border:1px solid #1277AC;
	text-decoration:none;
	display:block;
	float:left;
	width:22px;
	/*height:19px;
	margin:7px 0px 0px 3px;*/
	padding: 2px 0px;
	color:#FFFFFF;
	font-size: 0.65em;
	font-weight: bold;
}
.menu-haut .bloc-recherche a.bt-accessibilite{
	position:relative;
	text-decoration:none;
	display:block;
	float:left;
	padding:4px 0px 0px 3px;
}
.menu-haut .bloc-recherche input{
	display:block;
	margin-left:8px;
	font-size:0.8em;
	color:#A0A0A0;
	width:110px;
	border:1px solid #D2D2D2;
	position:relative;
	float:left;
	margin-top:8px;
}

/*******************************************************/
/* VISUEL */
.bando-haut-visuel{
	width:1023px;
	height:7px;
}
.contenu-visuel-menu{
	width:992px;
	padding:16px 12px 0px 19px;
	background-image:url(bg_visuel_menu.gif);
	background-repeat:no-repeat;
}
.visuel{
	width:988px;
	height:100px;
}
.visuel-home{
	width:988px;
	height:169px;
}
/*******************************************************/
/* MENU */
.menu{
	width:988px;
	height:40px;
}
.menu ul{
	padding:0px;
	margin:0px;
}
.menu li{
	float:left;
	height:40px;
	list-style:none;
}
.menu li a.bt-municip,
.menu li a.bt-1276{
	display:block;
	background-image:url(bg_bt_municipalite.jpg);
	background-repeat:no-repeat;
	background-position:0px 0px;
	text-decoration:none;
	font-size:0.7em;
	color:#0062A9;
	width:73px;
	height:32px;
	padding-top:8px;
	text-align:center;
}
.menu li a.bt-environ,
.menu li a.bt-1401{
	background-image:url(bg_bt_environement.jpg);
	background-repeat:no-repeat;
	display:block;
	text-decoration:none;
	font-size:0.7em;
	color:#0062A9;
	width:87px;
	height:32px;
	padding-top:8px;
	text-align:center;
}
.menu li a.bt-culture,
.menu li a.bt-1083{
	background-image:url(bg_bt_culture.jpg);
	background-repeat:no-repeat;
	display:block;
	text-decoration:none;
	font-size:0.7em;
	color:#0062A9;
	width:49px;
	height:32px;
	padding-top:8px;
	text-align:center;
}
.menu li a.bt-urba,
.menu li a.bt-1403{
	background-image:url(bg_bt_urbanisme.jpg);
	background-repeat:no-repeat;
	display:block;
	text-decoration:none;
	font-size:0.7em;
	color:#0062A9;
	width:64px;
	height:32px;
	padding-top:8px;
	text-align:center;
}
.menu li a.bt-eco-empl,
.menu li a.bt-1442{
	background-image:url(bg_bt_eco_emploi.jpg);
	background-repeat:no-repeat;
	display:block;
	text-decoration:none;
	font-size:0.7em;
	color:#0062A9;
	width:104px;
	height:32px;
	padding-top:8px;
	text-align:center;
}
.menu li a.bt-edu-form,
.menu li a.bt-1441{
	background-image:url(bg_bt_educ_form.jpg);
	background-repeat:no-repeat;
	display:block;
	text-decoration:none;
	font-size:0.7em;
	color:#0062A9;
	width:125px;
	height:32px;
	padding-top:8px;
	text-align:center;
}
.menu li a.bt-sante-social,
.menu li a.bt-1440{
	background-image:url(bg_bt_sante_social.jpg);
	background-repeat:no-repeat;
	display:block;
	text-decoration:none;
	font-size:0.7em;
	color:#0062A9;
	width:82px;
	height:32px;
	padding-top:8px;
	text-align:center;
}
.menu li a.bt-sport,
.menu li a.bt-1439{
	background-image:url(bg_bt_sport_loisir.jpg);
	background-repeat:no-repeat;
	display:block;
	text-decoration:none;
	font-size:0.7em;
	color:#0062A9;
	width:82px;
	height:32px;
	padding-top:8px;
	text-align:center;
}
.menu li a.bt-territoire,
.menu li a.bt-1521{
	background-image:url(bg_bt_territoire.jpg);
	background-repeat:no-repeat;
	display:block;
	text-decoration:none;
	font-size:0.7em;
	color:#0062A9;
	width:67px;
	height:32px;
	padding-top:8px;
	text-align:center;
}
.menu li a.bt-securite,
.menu li a.bt-1438{
	background-image:url(bg_bt_securite_prev.jpg);
	background-repeat:no-repeat;
	display:block;
	text-decoration:none;
	font-size:0.7em;
	color:#0062A9;
	width:123px;
	height:32px;
	padding-top:8px;
	text-align:center;
}
.menu li a.bt-transport,
.menu li a.bt-1437{
	background-image:url(bg_bt_transport.jpg);
	background-repeat:no-repeat;
	display:block;
	text-decoration:none;
	font-size:0.7em;
	color:#0062A9;
	width:62px;
	height:32px;
	padding-top:8px;
	text-align:center;
}
.menu li a.bt-tourisme,
.menu li a.bt-1221{
	background-image:url(bg_bt_tourisme.jpg);
	background-repeat:no-repeat;
	display:block;
	text-decoration:none;
	font-size:0.7em;
	color:#0062A9;
	width:61px;
	height:32px;
	padding:8px 0px 0px 9px;
}
.menu li a.bt-municip:hover,
.menu li a.bt-environ:hover,
.menu li a.bt-culture:hover,
.menu li a.bt-urba:hover,
.menu li a.bt-eco-empl:hover,
.menu li a.bt-edu-form:hover,
.menu li a.bt-sante-social:hover,
.menu li a.bt-sport:hover,
.menu li a.bt-territoire:hover,
.menu li a.bt-securite:hover,
.menu li a.bt-transport:hover,
.menu li a.bt-tourisme:hover,
.menu li a.bt-1276:hover,
.menu li a.bt-1401:hover,
.menu li a.bt-1083:hover,
.menu li a.bt-1403:hover,
.menu li a.bt-1442:hover,
.menu li a.bt-1441:hover,
.menu li a.bt-1440:hover,
.menu li a.bt-1439:hover,
.menu li a.bt-1521:hover,
.menu li a.bt-1438:hover,
.menu li a.bt-1437:hover,
.menu li a.bt-1221:hover{
	color:#000000;
	background-position:0px -40px
}
.menu li a.selected{
	color:#000000;
	background-position:0px -40px	
}
/********************************************************/
/* CHEMIN DE FER */
.chemin-fer{
	height:24px;
	line-height:24px;
	font-size:0.65em;
	color:#6A665B;
	padding:0px 0px 0px 29px
}
.chemin-fer a{
	text-decoration:none;
	color:#009BFF;
}
.chemin-fer a:hover{
	color:#000000;
}
/********************************************************/
/* COLONNE GAUCHE POUR TOUT LE SITE */
.colonne-gauche{
	float:left;
	width:176px;
}
/* bloc rubrique */
.colonne-gauche .bloc-rubrique{
	width:152px;
	padding:11px 11px 20px 13px;
	background-image:url(bg_encart_colonne_gauche.jpg);
	background-repeat:no-repeat;
}
/*.colonne-gauche .bloc-rubrique .tetiere-rubrique{
	width:139px;
	height:27px;
	padding:3px 0px 0px 13px;
	background-image:url(../images/commun/bloc_colonne_gauche/tetiere_encart_colonne_gauche.jpg);
	background-repeat:no-repeat;
	font-size:0.95em;
	font-weight:bold;
	color:#0095FE;
}*/
.colonne-gauche .bloc-rubrique .tetiere-rubrique{
	width:139px;
	padding:5px 0px 0px 13px;
	background-image:url(bg_tetiere_colonne_gauche.jpg);
	background-repeat:no-repeat;
	font-size:0.85em;
	font-weight:bold;
	color:#0095FE;
}
.colonne-gauche .bloc-rubrique .tetiere-rubrique-bas{
	width:152px;
	height:12px;
}
.colonne-gauche .bloc-rubrique .tetiere-rubrique a{
	font-weight:bold;
	color:#0095FE;
}
/* MENU bloc rubrique */	
.colonne-gauche .bloc-rubrique ul.menu-list{
	padding:10px 0px 0px 15px;
	margin:0px;
}
.colonne-gauche .bloc-rubrique ul.menu-list li{
	list-style-type:none;
	color:#0095FE;
	line-height: 10px;
	padding: 1px 0px;
	text-indent: -8px;
}
.colonne-gauche .bloc-rubrique ul.menu-list li a{
	text-decoration:none;
	color: #0095FE;
	font-size: 0.7em;
}
.colonne-gauche .bloc-rubrique ul.menu-list li a:hover{
	color: #000000;
}
	
.colonne-gauche .bloc-rubrique ul.menu-list li a.list-on{
	text-decoration:none;
	color: #000000;
	font-size: 0.7em;
	/*font-weight:bold;*/
}
.colonne-gauche .bloc-rubrique ul.menu-list li a.list-on:hover{
	color: #0095FE;
}
/* SOUS MENU bloc rubrique */
.colonne-gauche .bloc-rubrique ul.submenu-list{
	padding:2px 0px 5px 7px;
	margin:0px;
}
.colonne-gauche .bloc-rubrique ul.submenu-list li{
	list-style-type:none;
	color:#0095FE;
	line-height: 8px;
	text-indent: -8px;
}
.colonne-gauche .bloc-rubrique ul.submenu-list li a{
	text-decoration:none;
	color: #0095FE;
	font-size: 0.65em;
}
.colonne-gauche .bloc-rubrique ul.submenu-list li a:hover{
	color: #000000;
	}
	
.colonne-gauche .bloc-rubrique ul.submenu-list li a.sous-list-on{
	text-decoration:none;
	color: #000000;
	font-size: 0.7em;
	/*font-weight:bold;*/
}
.colonne-gauche .bloc-rubrique ul.submenu-list li a.sous-list-on:hover{
	color: #0095FE;
	}	
.colonne-gauche .bas-bloc-rubrique{
	width:176px;
	height:10px;
	/*margin-bottom:100px;*/
	margin-bottom:10px;
}
/* bloc bouton demarches */
.colonne-gauche .bloc-bt-demarche{
	width:166px;
	height:26px;
	padding:3px 0px 0px 13px;
	background-image:url(bg_bt_demarches.jpg);
	background-repeat:no-repeat;
	font-size:0.95em;
	font-weight:bold;
	color:#3896E1;
}
.colonne-gauche .bloc-bt-demarche a{
	display:block;
	text-decoration:none;
	color:#3896E1;
	width:166px;
	height:26px;
}
.colonne-gauche .bloc-bt-demarche a:hover{
	color:#000000;
}

/* bloc bouton nice.fr TV */
.colonne-gauche .bloc-bt-nice-tv {
	margin-top:4px;
	width:166px;
	height:26px;
	padding:3px 0px 0px 13px;
	background-image:url(bg_bt_video.jpg);
	background-repeat:no-repeat;
	font-size:0.95em;
	font-weight:bold;
	color:#FFFFFF;
	
}
.colonne-gauche .bloc-bt-nice-tv a{
	display:block;
	text-decoration:none;
	color:#FFFFFF;
	width:166px;
	height:26px;
}

.colonne-gauche .bloc-bt-nice-tv a:hover {
	color:#000000;
}

/* bloc bouton agenda */
.colonne-gauche .bloc-bt-agenda{
	width:166px;
	height:26px;
	margin-top:4px;
	padding:3px 0px 0px 13px;
	background-image:url(bg_bt_agenda.jpg);
	background-repeat:no-repeat;
	font-size:0.95em;
	font-weight:bold;
	color:#FFFFFF;
}
.colonne-gauche .bloc-bt-agenda a{
	display:block;
	text-decoration:none;
	color:#FFFFFF;
	width:166px;
	height:26px;
}
.colonne-gauche .bloc-bt-agenda a:hover{
	color:#000000;
}
/* bloc bouton nice image */
.colonne-gauche .bloc-bt-nice-image{
	width:166px;
	height:26px;
	margin-top:4px;
	padding:3px 0px 0px 13px;
	background-image:url(bg_bt_nice_image.jpg);
	background-repeat:no-repeat;
	font-size:0.95em;
	font-weight:bold;
	color:#FFFFFF;
}
.colonne-gauche .bloc-bt-nice-image a{
	display:block;
	text-decoration:none;
	color:#FFFFFF;
	width:166px;
	height:26px;
}
.colonne-gauche .bloc-bt-nice-image a:hover{
	color:#000000;
}
/* bloc bouton en un clic */
.colonne-gauche .bloc-bt-un-clic{
	width:166px;
	height:26px;
	margin-top:4px;
	padding:3px 0px 0px 13px;
	background-image:url(bg_bt_un_clic.jpg);
	background-repeat:no-repeat;
	font-size:0.95em;
	font-weight:bold;
	color:#DA6E00;
}
.colonne-gauche .bloc-bt-un-clic a{
	display:block;
	text-decoration:none;
	color:#DA6E00;
	width:166px;
	height:26px;
}
.colonne-gauche .bloc-bt-un-clic a:hover{
	color:#000000;
}
/* bloc bouton portails */
.colonne-gauche .bloc-bt-portail{
	width:166px;
	height:26px;
	margin-top:4px;
	padding:3px 0px 0px 13px;
	background-image:url(bg_bt_portail_nice.jpg);
	background-repeat:no-repeat;
	font-size:0.95em;
	font-weight:bold;
	color:#FFFFFF;
}
.colonne-gauche .bloc-bt-portail a{
	display:block;
	text-decoration:none;
	color:#FFFFFF;
	width:166px;
	height:26px;
}
.colonne-gauche .bloc-bt-portail a:hover{
	color:#000000;
}
/* bloc bouton ecrire */
.colonne-gauche .bloc-bt-ecrire{
	width:166px;
	height:26px;
	margin-top:44px;
	padding:3px 0px 0px 13px;
	background-image:url(bg_bt_ecrire.jpg);
	background-repeat:no-repeat;
	font-size:0.95em;
	font-weight:bold;
	color:#838383;
}
.colonne-gauche .bloc-bt-ecrire a{
	display:block;
	text-decoration:none;
	color:#838383;
	width:166px;
	height:26px;
}
.colonne-gauche .bloc-bt-ecrire a:hover{
	color:#000000;
}
/*******************************************************/
/* BLOC - A LA UNE ET L'ACTU */
.colonne-une-actu{
	float:left;
	width:403px;
	margin: 0px 8px 0px 0px !important;
	margin: 0px 4px 0px 0px;
}
.colonne-une-actu .bloc-la-une{
	width:393px;
	padding:9px 0px 0px 10px;
	background-image:url(bg_actu_une.jpg);
	background-repeat:no-repeat;
	height: 188px;
}
.colonne-une-actu .bloc-lactu{
	width:393px;
	padding:9px 0px 0px 10px;
	background-image:url(bg_actu_une.jpg);
	background-repeat:no-repeat;
	height: 220px;
}
/*************************************/
/* POUR LE BLOC A LA UNE */
.colonne-une-actu .bloc-la-une .tetiere-la-une{
	width:332px;
	height:27px;
	padding:3px 24px 0px 24px;
	margin:0px 0px 12px 0px!important;
	margin:0px 0px 6px 0px;
	background-image:url(bg_tetiere_une.jpg);
	background-repeat:no-repeat;
	font-size:0.95em;
	font-weight:bold;
	color:#FFFFFF;
}
.colonne-une-actu .bloc-la-une .bloc-img{
	float:left;
	width:116px;
	padding:0px 0px 0px 4px;
}
.colonne-une-actu .bloc-la-une .bloc-img img{
	border:3px solid #FFFFFF;
}

.colonne-une-actu .bloc-la-une .bloc-texte,
.colonne-une-actu .bloc-la-une .bloc-texte p{
	float:left;
	width:237px;
	padding:0px 0px 0px 10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#6A665B;
	font-size:0.75em;
}
.colonne-une-actu .bloc-la-une .bloc-texte h2{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#0097C7;
	font-size:1.1em;
}
.colonne-une-actu .bloc-la-une .bloc-texte h2 a {
	text-decoration:none;
	color:#0097C7;
}
.colonne-une-actu .bloc-la-une .bloc-texte a:hover{
	color:#000000;
}
/*************************************/
/* POUR LE BLOC L'ACTU */
.colonne-une-actu .bloc-lactu .tetiere-actu{
	width:356px;
	height:30px;
	padding:0px 0px 0px 24px;
	margin:0px 0px 7px 0px;
	background-image:url(bg_tetiere_actu.jpg);
	background-repeat:no-repeat;
}
.colonne-une-actu .bloc-lactu .tetiere-actu .titre-actu{
	float:left;
	width:250px;
	height:27px;
	padding:3px 0px 0px 0px;
	font-size:0.95em;
	font-weight:bold;
	color:#FFFFFF;
}
.colonne-une-actu .bloc-lactu .tetiere-actu .lien-ttactu{
	float:right;
	width:85px;
	height:24px;
	padding:6px 0px 0px 17px;
	font-family:Arial, Helvetica, sans-serif;
	color:#005E9E;
	font-size:0.8em;
}
.colonne-une-actu .bloc-lactu .tetiere-actu .lien-ttactu a{
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	color:#005E9E;
}
.colonne-une-actu .bloc-lactu .tetiere-actu .lien-ttactu a:hover{
	color:#000000;
}
.colonne-une-actu .bloc-lactu .bloc-img-actu{
	float:left;
	/*width:69px;*/
	width:100px;
	padding:3px 0px 4px 11px;
}
.colonne-une-actu .bloc-lactu .bloc-texte-actu,
.colonne-une-actu .bloc-lactu .bloc-texte-actu p{
	float:left;
	/*width:276px;*/
	width:245px;
	padding:0px 0px 4px 11px;
	font-size:0.75em;
	font-family:Arial, Helvetica, sans-serif;
	color:#827E73;
}
.colonne-une-actu .bloc-lactu .bloc-texte-actu h2{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:0.95em;
	font-weight:bold;
	color:#827E73;
}
.colonne-une-actu .bloc-lactu .bloc-texte-actu h2 a{
	text-decoration:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#827E73;
}
.colonne-une-actu .bloc-lactu .bloc-texte-actu h2 a:hover{
	color:#000000;
}
.colonne-une-actu .bloc-lactu .bloc-texte-actu .date{
	font-family:Arial, Helvetica, sans-serif;
	color:#00B9EC;
	font-size:0.8em;
}
.colonne-une-actu .bloc-la-une .bloc-texte p,
.colonne-une-actu .bloc-lactu .bloc-texte-actu p{
	font-size:1em;
	padding: 0;
}
/*************************************/
/* BANDO DES BLOCS A LA UNE ET L'ACTU */
.bloc-bas-une-actu{
	width:403px;
	height:14px;
	margin-bottom:9px!important;
	margin-bottom:13px;
}
/*************************************/
/* BLOC - MAIRE ET NICE EN IMAGE */
.colonne-maire-image{
	float:left;
	width:576px;
}
.contenu-maire-image{
	width:527px;
	height:440px;
	padding:9px 19px 0px 30px;
	background-image:url(bg_bloc_maire_img.jpg);
	background-repeat:no-repeat;
}
.bando-bas-maire-image{
	width:576px;
	height:14px;
}
/* PARTIE MAIRE DE NICE */
.colonne-bloc-maire{
	float:left;
	width:220px;
	padding-right:33px;
}
.colonne-bloc-maire .bloc-titre-maire{
	width:220px;
	text-align:center;
	margin:10px 0px 10px 0px;
}
.colonne-bloc-maire .bloc-video-maire{
	width:220px;
	margin-bottom:10px;
}
.colonne-bloc-maire .bloc-photo-video{
	width:194px;
	padding:6px 13px 3px 13px;
	color:#6A665B;
	font-size:0.75em;
	background-image: url(bg_bloc_info_maire.gif);
	background-repeat: no-repeat;
}
.colonne-bloc-maire .bloc-photo-video a{
	text-decoration:none;
	color:#6A665B;
}

.colonne-bloc-maire .bloc-blog{
	width:194px;
	padding:6px 13px 0px 13px;
	color:#006FBD;
	font-size:0.75em;
	background-image: url(bg_bloc_info_maire.gif);
	background-repeat: no-repeat;
}
.colonne-bloc-maire .bloc-blog a{
	text-decoration:none;
	color:#006FBD;
	font-weight:bold;
}

.colonne-bloc-maire .bloc-ecrire-maire{
	width:194px;
	padding:5px 13px 0px 13px;
	color:#006FBD;
	font-size:0.8em;
	background-image: url(bg_bloc_info_maire.gif);
	background-repeat: no-repeat;
}
.colonne-bloc-maire .bloc-ecrire-maire a{
	text-decoration:none;
	color:#006FBD;
	font-weight:bold;
}

.colonne-bloc-maire .bloc-manif-off{
	width:198px;
	padding:6px 13px 0px 9px;
	color:#006FBD;
	font-size:0.75em;
	background-image: url(bg_bloc_info_maire.gif);
	background-repeat: no-repeat;
}
.colonne-bloc-maire .bloc-manif-off h3{
	font-weight:bold;
	color:#006FBD;
	font-size:1em;
}
.colonne-bloc-maire .bloc-manif-off a{
	text-decoration:none;
	color:#6A665B;
}
.colonne-bloc-maire .bloc-manif-off a:hover,
.colonne-bloc-maire .bloc-ecrire-maire a:hover,
.colonne-bloc-maire .bloc-photo-video a:hover,
.colonne-bloc-maire .bloc-blog a:hover{
	color:#000000;
}

.colonne-bloc-maire .bando-bas-bloc-maire{
	width:220px;
	height:6px;
	margin-bottom:7px;
}
/*******************************************************/
/* PARTIE NICE EN IMAGE */

.contenu-en-image{
	float:left;
	width:272px;
	padding:0px 0px 0px 0px;
}
.contenu-en-image .tetiere_en-image{
	width:272px;
	background-image:url(bg_tetiere_nice_img.jpg);
	background-repeat:no-repeat;
	height:27px;
	padding:2px 0px 0px 0px;
	font-size:0.95em;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	margin-bottom:3px;
}
.contenu-en-image .bloc-photo-video-en-image{
	width:267px;
	padding:3px 13px 0px 13px;
	background-image:url(bg_bloc_article_img.gif);
	background-repeat:no-repeat;
}
.contenu-en-image .bloc-photo-video-en-image .bloc-img-photo-video{
	float:left;
	/*width:66px;*/
	width:100px;
	padding:5px 0px 4px 13px;
}
.contenu-en-image .bloc-photo-video-en-image .bloc-texte-photo-video{
	float:left;
	/*width:159px;*/
	width:125px;
	padding:13px 8px 4px 8px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:0.6em;
}
.contenu-en-image .bloc-photo-video-en-image .bloc-texte-photo-video a{
	text-decoration:none;
	color:#000000;
}
.contenu-en-image .bloc-photo-video-en-image .bloc-texte-photo-video a:hover{
	color:#838383;
}


.contenu-en-image .bloc-tout-photo,
.contenu-en-image .bloc-tout-video{
	font-family:"Trebuchet MS", Arial, sans-serif;
	font-size:0.67em;
	color:#838383;
	float:right;
	width:120px;
	padding:2px 5px 0px 0px;
}
.contenu-en-image .bloc-tout-photo a,
.contenu-en-image .bloc-tout-video a{
	text-decoration:none;
	color:#838383;
}
.contenu-en-image .bloc-tout-photo a:hover,
.contenu-en-image .bloc-tout-video a:hover{
	color:#000000;
}
.contenu-en-image .bloc-tout-photo img,
.contenu-en-image .bloc-tout-video img{
	display:block;
	float:right;
	width: 14px;
	margin: 1px 18px 0px 0px !important;
	margin: 1px 9px 0px 0px;
}


.contenu-en-image .bando-bas-photo-video-en-image{
	width:267px;
	height:7px;
	margin-bottom: 7px;
}
/********************************************************/
/*div {
	border:1px solid red;
}*/
/*******************************************************/
/* COLONNE RUBRIQUE 4 */
.colonne-rub-4{
	/*width:988px;*/
}
/* PARTIE AGENDA NICOIS */
.colonne-agenda{
	float:left;
	width:238px;
}
.colonne-agenda .contenu-agenda{
	width:211px;
	padding:11px 17px 0px 10px;
	background-image:url(bg_bloc_agenda.jpg);
	background-repeat:no-repeat;
	height: 347px;
}
.colonne-agenda .contenu-agenda .tetiere-agenda{
	width:211px;
	height:29px;
	background-image:url(bg_tetiere_agenda.jpg);
	background-repeat:no-repeat;
}
.colonne-agenda .contenu-agenda .tetiere-agenda .titre-agenda{
	float:left;
	font-size:0.9em;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding: 3px 0px 0px 15px;
}
.colonne-agenda .contenu-agenda .tetiere-agenda .date-agenda{
	float:right;
	width:67px;
	text-align:right;
	padding:3px 11px 0px 0px;
	font-size:0.7em;
	color:#FFEDB9;
}
.colonne-agenda .contenu-agenda .tetiere-agenda .date-agenda a{
	text-decoration:none;
	color:#FFEDB9;
	font-family:Arial, Helvetica, sans-serif;
}
.colonne-agenda .contenu-agenda .tetiere-agenda .date-agenda a:hover{
	color:#000000;
}
.colonne-agenda .contenu-agenda .photo-agenda{
	float:left;
	width:60px;
	padding:0px 0px 0px 15px;
}
.colonne-agenda .contenu-agenda .photo-agenda img{
	border:3px solid #FFFFFF;
	margin-top:24px;
}
.colonne-agenda .contenu-agenda .texte-agenda{
	/*float:left;*/
	width:185px;
	padding:0px 0px 20px 19px;
	font-family:"Trebuchet MS", Arial, sans-serif;
	color:#FFFFFF;
	font-size:0.7em;
}
.colonne-agenda .contenu-agenda .texte-agenda ul{
	padding:20px 0px 0px 0px;
	margin:0px;
}
.colonne-agenda .contenu-agenda .texte-agenda li{
	list-style-type:none;
	line-height:15px;
	text-indent: -8px;
}
.colonne-agenda .contenu-agenda .texte-agenda li.sujet-agenda{
	list-style-type:none;
	color:#F5FF0B;
	font-weight:bold;
}
.colonne-agenda .contenu-agenda .texte-agenda li a{
	text-decoration:none;
	color: #FFFFFF;
}
.colonne-agenda .contenu-agenda .texte-agenda li a:hover{
	color:#000000;
}
.colonne-agenda .bando-bas-agenda{
	width:238px;
	height:15px;
}
/*******************************************************/
/* PARTIE EN UN CLIC */
.colonne-un-clic{
	float:left;
	width:239px;
	margin-left:10px!important;
	margin-left:8px;
}
.colonne-un-clic .contenu-un-clic{
	/*width:211px;*/
	padding:11px 0px 0px 11px;
	background-image:url(bg_bloc_clic.jpg);
	background-repeat:no-repeat;
	height: 347px;
}
.colonne-un-clic .contenu-un-clic .tetiere-un-clic{
	width:211px;
	height:29px;
	background-image:url(bg_tetiere_clic.jpg);
	background-repeat:no-repeat;
	padding: 3px 0px 0px 18px;
}
.colonne-un-clic .contenu-un-clic .tetiere-un-clic .titre-un-clic{
	float:left;
	font-size:0.9em;
	color:#8E5600;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.colonne-un-clic .contenu-un-clic .tetiere-un-clic .lien-un-clic{
	float:right;
	width:70px;
	padding: 0px 22px 0px 0px;
	font-size:0.7em;
	color:#8E5600;
}
.colonne-un-clic .contenu-un-clic .tetiere-un-clic .lien-un-clic a{
	text-decoration:none;
	color:#8E5600;
	font-family:Arial, Helvetica, sans-serif;
}
.colonne-un-clic .contenu-un-clic .tetiere-un-clic .lien-un-clic a:hover{
	color:#000000;
}
.colonne-un-clic .contenu-un-clic .sous-tetiere{
	width:188px;
	height:23px;
	line-height:23px;
	background-image:url(bg_bando_titre_clic.gif);
	background-repeat:no-repeat;
	padding:0px 0px 0px 18px;
	margin:5px 0px 7px 2px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.7em;
	font-weight:bold;
	color:#8E5600;
}
.colonne-un-clic .contenu-un-clic ul{
	padding:0px 0px 4px 11px!important;
	padding:5px 0px 7px 11px;
	margin:0px;
}
.colonne-un-clic .contenu-un-clic li{
	list-style-type:disc;
	line-height:14px;
	margin:0 0 0 8px;
	color: #8E5600;
	font-size: 0.7em;
}
.colonne-un-clic .contenu-un-clic li a {
	text-decoration:none;
	/*display:block;*/
	color: #8E5600;
	/*padding:1px 0px;*/
}
.colonne-un-clic .contenu-un-clic li a:hover{
	color:#000000;
}
.colonne-un-clic .bando-bas-un-clic{
	width:238px;
	height:15px;
}
/*******************************************************/
/* PARTIE EN DEMARCHE */
.colonne-demarche{
	float:left;
	width:236px;
	margin-left:12px!important;
	margin-left:12px;
}
.colonne-demarche .contenu-demarche{
	width:210px;
	padding:11px 14px 0px 12px;
	background-image:url(bg_bloc_demarche.jpg);
	background-repeat:no-repeat;
	height: 347px;
}
.colonne-demarche .contenu-demarche .tetiere-demarche{
	width:192px;
	height:29px;
	background-image:url(bg_tetiere_demarche.jpg);
	background-repeat:no-repeat;
	font-size:0.9em;
	color:#3896E1;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding: 3px 0px 0px 18px;
}
.colonne-demarche .contenu-demarche .sous-tetiere-demarche{
	width:188px;
	height:23px;
	line-height:23px;
	background-image:url(titre_demarche.gif);
	background-repeat:no-repeat;
	padding:0px 0px 0px 18px;
	margin:7px 0px 9px 2px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.7em;
	font-weight:bold;
	color:#3A90DF;
}
.colonne-demarche .contenu-demarche ul{
	padding:0px 20px 9px 20px!important;
	padding:3px 20px 12px 20px;
	margin:0px;
}
.colonne-demarche .contenu-demarche li{
	list-style-type:disc;
	/*line-height:12px;*/
	color: #6A665B;
	font-size: 0.7em;
	line-height:14px;
	/*margin: -5px 0px!important;
	margin: -4px 0px;*/
}
.colonne-demarche .contenu-demarche li a{
	text-decoration:none;
	color: #6A665B;
}
.colonne-demarche .contenu-demarche li a:hover{
	color:#000000;
}
.colonne-demarche .contenu-demarche .bloc-logo{
	text-align:center;
	padding:0px 0px 1px 0px!important;
	padding:0px 0px 6px 0px;
}

.colonne-demarche .bando-bas-demarche{
	width:236px;
	height:15px;
}
/*******************************************************/
/* PARTIE INTERACTIVE */
.colonne-interactive{
	float:left;
	width:239px;
	/*margin-left:14px;*/
	margin-left:12px!important;
	margin-left:11px;
}
.colonne-interactive .contenu-interactive{
	width:210px;
	padding:11px 17px 0px 12px;
	background-image:url(bg_bloc_interactive.jpg);
	background-repeat:no-repeat;
	height: 347px;
}
.colonne-interactive .contenu-interactive .tetiere-interactive{
	width:202px;
	height:29px;
	background-image:url(bg_tetiere_interactive.jpg);
	background-repeat:no-repeat;
	font-size:0.95em;
	color:#6A666B;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding: 3px 0px 0px  18px;
}
.colonne-interactive .contenu-interactive .tetiere-interactive-bis{
	width:202px;
	height:29px;
	background-image:url(bg_tetiere02_interactive.jpg);
	background-repeat:no-repeat;
	margin-top:10px;
	font-size:0.95em;
	color:#6A666B;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding: 3px 0px 0px  18px;
}

.colonne-interactive .contenu-interactive .img-plan-ville{
	width:62px;
	padding:7px 0px 0px 13px;
	text-align:right;
	float:left;
}
.colonne-interactive .contenu-interactive .text-plan-ville{
	float:left;
	font-size:0.7em;
	font-weight:bold;
	color:#6F6B60;
	padding:20px 20px 0px 10px;
}
.colonne-interactive .contenu-interactive .text-plan-ville a{
	text-decoration:none;
	font-size:0.9em;
	font-weight:bold;
	color:#6F6B60;
}
.colonne-interactive .contenu-interactive .text-plan-ville a:hover{
	color:#000000;
}
.colonne-interactive .contenu-interactive ul{
	padding:3px 20px 12px 30px;
	margin:0px;
}
.colonne-interactive .contenu-interactive li{
	list-style-type:disc;
	line-height:14px;
	color: #6A665B;
	font-size: 0.7em;
}
.colonne-interactive .contenu-interactive li a{
	text-decoration:none;
	color: #6A665B;
}
.colonne-interactive .contenu-interactive li a:hover{
	color:#000000;
}
.colonne-interactive .contenu-interactive .portail-associatif{
	width:166px;
	background-image:url(bg_portail_assoc.gif);
	background-repeat:no-repeat;
	padding:5px 20px 0px 20px;
	color:#6F6B60;
	font-size: 0.8em;
}
.colonne-interactive .contenu-interactive .portail-associatif ul{
	padding:5px 0px 12px 5px;
	margin:0px;
}
.colonne-interactive .contenu-interactive .portail-associatif li{
	list-style-type:none;
	line-height:10px;
	color: #6A665B;
}
.colonne-interactive .contenu-interactive .portail-associatif li a{
	text-decoration:none;
	color: #6A665B;
	font-size: 1.2em;
}
.colonne-interactive .contenu-interactive .portail-associatif li a:hover{
	color:#000000;
}
.colonne-interactive .contenu-interactive .bas-portail-associatif{
	width:206px;
	height:6px;
}
.contenu-interactive .colonne-interactive .bando-bas-interactive{
	width:236px;
	height:15px;
}
/*******************************************************/
/* PARTIE AU FIL DE L'INFO */
.colonne-fil-info{
	float:left;
	width:487px;
	margin-top: 6px;
}
.colonne-fil-info .contenu-fil-info{
	width:459px;
	padding:10px 17px 14px 11px;
	background-image:url(bg_fil_info.jpg);
	background-repeat:no-repeat;
}
.colonne-fil-info .contenu-fil-info .tetiere-fil-info{
	width:434px;
	padding:3px 3px 5px 22px;
	background-image:url(bg_tetiere_fil_info.jpg);
	background-repeat:no-repeat;
}
.colonne-fil-info .contenu-fil-info .tetiere-fil-info .titre-fil-info{
	float:left;
	font-size:0.9em;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.colonne-fil-info .contenu-fil-info .tetiere-fil-info .lien-fil-info{
	float:right;
	width:70px;
}
.colonne-fil-info .contenu-fil-info .tetiere-fil-info .lien-fil-info a{
	text-decoration:none;
	font-size:0.65em;
	color:#0064A2;
	font-family:Arial, Helvetica, sans-serif;
	width: 70px;
}
.colonne-fil-info .contenu-fil-info .tetiere-fil-info .lien-fil-info a:hover{
	color:#000000;
}
.colonne-fil-info .contenu-fil-info .img-fil-info{
	float:left;
	width:120px;
	padding:6px 0px 0px 8px;
	text-align: right;
}
.colonne-fil-info .contenu-fil-info .img-fil-info img{
	border:1px solid #D6D6D6;
	padding:3px;
}
.colonne-fil-info .contenu-fil-info .text-fil-info{
	float:left;
	width:290px;
	padding:22px 21px 0px 17px;
	color:#6A665B;
	font-size:0.7em;
}
.colonne-fil-info .contenu-fil-info .text-fil-info a{
	text-decoration:none;
	color:#6A665B;
	font-weight:bold;
}
.colonne-fil-info .contenu-fil-info .text-fil-info a:hover{
	color:#000000;
	background: none;
	position: relative;
}
.colonne-fil-info .bas-fil-info{
	width:487px;
	height:14px;
}
/*******************************************************/
/* PARTIE ZOOM */
.colonne-zoom{
	float:left;
	width:487px;
	margin: 6px 0px 0px 14px !important;
	margin: 6px 0px 0px 7px;
}
.colonne-zoom .contenu-zoom{
	width:459px;
	padding:10px 16px 19px 13px;
	background-image:url(bg_zoom.jpg);
	background-repeat:no-repeat;
}
.colonne-zoom .contenu-zoom .tetiere-zoom{
	width:434px;
	padding:3px 3px 10px 22px;
	background-image:url(bg_tetiere_zoom.jpg);
	background-repeat:no-repeat;
	font-size:0.9em;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.colonne-zoom .contenu-zoom .img-zoom{
	float:left;
	width:100px;
	padding:15px 0px 0px 10px;
}
.colonne-zoom .contenu-zoom .img-zoom img{
	border:1px solid #D6D6D6;
	padding:3px;
}
.colonne-zoom .contenu-zoom .text-zoom{
	float:left;
	width:98px;
	padding:22px 7px 0px 12px;
	color:#6A665B;
	font-size:0.7em;
}
.colonne-zoom .contenu-zoom .text-zoom-large{
	float:left;
	width:198px;
	padding:22px 7px 0px 12px;
	color:#6A665B;
	font-size:0.7em;
}
.colonne-zoom .contenu-zoom .text-zoom a,
.colonne-zoom .contenu-zoom .text-zoom-large a{
	text-decoration:none;
	color:#6A665B;
	font-weight:bold;
}
.colonne-zoom .contenu-zoom .text-zoom a:hover,
.colonne-zoom .contenu-zoom .text-zoom-large a:hover{
	background: none;
	position: relative;
	color:#000000;
}
.colonne-zoom .bas-zoom{
	width:487px;
	height:14px;
}
/*******************************************************/
/* ENCART BAS */
.encart-bas{
	width:915px;
	padding:22px 12px 10px 61px;
	background-image:url(bg_encart_bas.jpg);
	background-repeat:no-repeat;
	margin:9px 0px 0px 0px;
}
.encart-bas .mini-logo{
	float:left;
	width:184px;
	padding:11px 200px 0px 0px;
}
.encart-bas .menu-courant{
	float:left;
	width:71px;
	text-align:right;
	color:#FFFFFF;
	font-size:0.6em;
}
.encart-bas .menu-courant ul{
	padding:3px 0px 0px 0px;
	margin:0px;
}
.encart-bas .menu-courant li{
	list-style-type:none;
	line-height:14px;
}
.encart-bas .menu-courant li a{
	text-decoration:none;
	color:#FFFFFF;
}
.encart-bas .menu-courant li a:hover{
	color:#000000;
}
.encart-bas .menu-rub{
	float:left;
	width:110px;
	text-align:right;
	color:#FFFFFF;
	font-size:0.6em;
	padding-left:57px;
	display:inline;
}
.encart-bas .menu-rub ul{
	padding:0px;
	margin:0px;
}
.encart-bas .menu-rub li{
	list-style-type:none;
	line-height:14px;
}
.encart-bas .menu-rub li a{
	text-decoration:none;
	color:#FFFFFF;
}
.encart-bas .menu-rub li a:hover{
	color:#000000;
}
.encart-bas .logo-ville-internet{
	font-size: 0.6em;
	text-align: center;
	float:left;
	width:81px;
	padding:4px 0px 0px 40px;
}
.encart-bas .trophee-com{
	font-size: 0.6em;
	text-align: center;
	float:left;
	width:81px;
	padding:4px 0px 0px 15px;
}
.encart-bas .bloc-rss{
	float:left;
	width:30px;
	padding:145px 0px 0px 15px;
}
/*******************************************************/
/* COPYRIGHT */
.copyright{
	text-align:center;
	height: 25px;
	line-height: 25px;
	color: #56606D;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	background-image:url(ombre_copyright.jpg);
	background-position:0px 0px;
	background-repeat:no-repeat;
}
.copyright a{
	font-size: 1em;
	color:#232936;
}
.copyright a:hover{
	color:black;
}
/*******************************************************/
/* BANDO BAS MAIN */
.bando-bas-main{
	width:1023px;
	height:8px;
}

.alerte{
	margin-top:-15px!important;
	margin-top:-12px;
	margin-bottom:10px!important;
	margin-bottom:5px;	
}
