body{
	margin: 5px 0px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;	
}
A:link,
A:visited,
A:active {text-decoration: none;}
.Police-Arial-2 {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: justify}
.Police-Gras {  font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 13px}
.VV-fondgris {  background-color: #F3F3F3}
.ACTU-SousTitre1-Mauve {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #C7A9BC; font-style: normal; font-weight: bold}
.ACTU-Titre1-Bleu { font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: normal; color: #00529F; font-style: italic }
.RDV-Titre1-Bleu { font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: normal; color: #00529F; font-style: italic }
.RDV-SousTitre1-Vert { font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #009966; font-style: normal; font-weight: bold }
.ACTU-ARTICLE-Titre1-Bleu { font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #00529F; font-style: normal; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #00529F; font-style: normal }
.ACTU-ARTICLE-Date-Lieu-mauve {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #00529F; background-color: #F6F1F5}
.ACTU-ARTICLE-Surligne-Texte {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: #F2F2F2; border-style: none; }
.ACTU-ARCHIVES-Date-Gras-Rouge {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: italic; font-weight: bold; color: #CC0000}
.ACTU-RDV-Date-Gras-Rouge { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: italic; font-weight: bold; color: #CC0000 }
.VV-Surligne-Texte { font-family: Arial, Helvetica, sans-serif; font-size: 13px; background-color: #F2F2F2; border-style: none; color: #333333}
.RDV-ARTICLE-Date-Lieu-vert { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #00529F; background-color: #EFF9F4}
.RDV-ARTICLE-Titre1-Bleu { font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #00529F; font-style: normal; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #00529F; font-style: normal }
.RDV-ARTICLE-Surligne-Texte { font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: #F2F2F2; border-style: none; }
.RDV-ARTICLE-Rubrique-Bleu-FondGris { font-style: normal; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #00529F; background-color: #F2F2F2 }
.ACTU-ARTICLE-Rubrique-Bleu-FondGrisCopie { font-style: normal; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #00529F; background-color: #F2F2F2 }
.DIV-Contact-Titre-Bleu-Fond-Gris { font-family: Arial, Helvetica, sans-serif; font-size: 13px; background-color: #F2F2F2; border-style: none; color: #00529F}
.DIV-Titre2-Bleu-fondgris { font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #00529F; text-decoration: underline; font-weight: bold; background-color: #F2F2F2 }
.Police-Verdana-1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; text-align: justify}
.CONJ-Menu-Flèche-Winding3 { font-family: Wingdings; font-size: 9px; font-weight: bold ; color: #FF9900}
.CONJ-Menu-Sous-Titre { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold ; color: #5576B9 }
.CONJ-Menu-Sous-Titre-Rouge { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold ; color: #FF0000}
.VV-SousTitre1-Bleu { font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; color: #999999}
.Police-Arial-1 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-align: justify}
.VV-SousTitre1-Fond-Gris { font-family: Arial, Helvetica, sans-serif; font-size: 15px; font-weight: normal; color: #000000; text-decoration: underline overline; font-variant: normal; background-color: #FFCC66; font-style: normal; text-transform: none}
.Police-Italique { font-weight: normal; font-family: Arial, Helvetica, sans-serif; font-size: 13px ; font-style: italic; text-align: justify}
.CFE-Menu-Sous-Titre { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold ; color: #5576B9 }
.CFE-Menu-Flèche-Winding3 { font-family: Wingdings; font-size: 9px; font-weight: bold ; color: #FF9900 }
.Police-Justifié { text-align: justify }
.AO-Titre-Bleu-FondGris { font-style: normal; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #00529F; background-color: #F2F2F2 }
.AO-STitre-Violet { font-style: normal; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #FF0000}
.Police-Gras-Rouge { font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 13px ; color: #FF0000}
.AO-STitre-Bleu { font-style: normal; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #00529F}
.AO-Rubrique-Bleu { font-style: normal; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #00529F }
.Police-Arial-3 { font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-align: justify }
.Police-Gras-Italique-Souligné { font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 13px ; font-style: italic; font-variant: normal; text-transform: none; text-decoration: underline}
.RDV-ARTICLE-Publication {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #15AA55}
.ACTU-ARTICLE-Publication { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #C7A9BC}
.RECH-Param-case {  background-color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; border: thin #CCCCCC solid; background-repeat: no-repeat}
.RECH-Param-bouton { background-color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #0000FF; border: thin #CCCCCC solid; background-repeat: no-repeat ; font-weight: normal; font-style: normal}
.Police-Verdana-1-Bleu { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; text-align: justify ; color: #5576B9; font-weight: bold}
.Police-Verdana-1-Violet { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; text-align: justify ; color: #C7A9BC; font-weight: bold }
.Police-Verdana-1-Vert { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; text-align: justify ; color: #009966; font-weight: bold }
.Police-Arial-2-Centre { font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center}
.Police-Verdana-1-Gras { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; text-align: justify ; font-weight: bold}
.Police-Verdana-1-Center { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; text-align: center; font-weight: bold}
.Police-Verdana-1-Gras-Rouge { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; text-align: justify ; font-weight: bold ; color: #FF0000; background-color: #EFF9F4}
.RDV-ARTICLE-Sous-Titre1-Bleu { font-family: Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #00529F; font-style: normal; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #00529F; font-style: normal }
.Police-Verdana-1-Rouge { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; text-align: justify ; color: #FF0000; font-weight: bold }
.Police-Verdana-1-Marron { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; text-align: justify ; color: #AD9A67; font-weight: bold }
.Form-Liste {  width: 300px; border: thick #FF0000 solid; background-color: #CCCCCC;}
.justifié {  text-align: justify}
.Police-Verdana-1-Vert-Center { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; text-align: center; color: #009966; font-weight: bold }
.VV-SousTitre1-Gris { font-family: Arial, Helvetica, sans-serif; font-size: 15px; font-weight: bold; color: #999999 }
.Police-Arial-2-inscription { font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: justify ; background-color: #FFFF00}
.Police-Verdana-1-Noir {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-align: justify;
	font-weight: normal;
	color: #000000;
	font-variant: normal;
}
.Police-verdana-1-inscription {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; text-align: justify ; background-color: #FFFF00
}
.fond_orange {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFF6E6;
	color: #FFAD15;
}
.Police-Verdana-1-Blanc {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; text-align: justify ; color: #FFFFFF; font-weight: bold
}
.Police-Verdana-2-Rouge {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FF0000;
}
.VE-SousTitre1-rouge {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #CD5C5C;
}
.cadre_texte_orange {
	background-color: #FFF6E6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #FFAD15;
}
.carde_form_creaent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-color: #FEFEFE;
	border: 1px solid #FFAD15;
}
.carde_form_inscriptions {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #5576B9;
	background-color: #FFFFFF;
	border: 1px solid #C7A9BC;
}
.Police-Verdana-1-orange {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-align: justify;
	font-weight: bold;
	color: #F6731B;
	font-variant: normal;
}
/* Style pour le texte des gros titres et sous-titres : */
.VV-Titre1-BarreJaune{
	color : #FFAD15;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	
}

.VV-Titre1-Bleu{
font-family: Arial, Helvetica, sans-serif;
font-size: 18px; 
font-weight: normal;
color: #00529F;
font-style: italic ;
text-transform: none;
}

.VV-SousTitre1-Orange{
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: bold;
color: #FFAD15;
}
/*  titre de paragraphe : */ 
.VV-Titre2-Bleu-fondgris {
font-family: Arial, Helvetica, sans-serif; 
font-size: 14px;
color: #00529F; 
text-decoration: none; 
font-weight: bold; 
background-color: #F2F2F2 }

.VV-Resume-Gris{
font-family: Arial, Helvetica, sans-serif;
font-size: 10px; 
font-weight: normal;
color: #999999;
padding-left : 0px;
padding-right : 0px;
text-indent : 0px;
}


.bleu_grand{
	color : #0000A0;
	font-size : 14pt;
	font-family : arial;
	font-weight : bold;
}
.bleu_clair{
	color : #0071AF;
	font-size : 10pt;
}
/* Style pour le texte mis en valeur en rouge : */
.rouge {
	color : #FF0000;
	font-weight: bold;
}
/************************ PAGE LIENS_UTILES **************************/
/* Style pour les cases contenant les noms de rubriques : */
.cadre_rub {
	background-color : #FFD991;
	color : #00529F;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size : 13px;
	text-decoration : none;
}
a.cadre_rub {
	color : #00529F;
}
a:hover.cadre_rub {
	text-decoration : underline;
}
/* Style pour les cases contenant les noms de sous-rubriques : */
.cadre_ssrub {
	background-color : #FFF6E6;
	color : #00529F;
	font-family: Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-weight : bold;
}
/* Style pour les cases contenant les liens : */
.cadre_lien {
	background-color : #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	color : #999999;
}
a.cadre_lien {
	color : #0000FF;
	text-decoration : none;
	font-size : 12px;	
}
a:hover.cadre_lien {
	text-decoration : underline;
}
	
a.cadre_lien_pres {
	color : #0000FF;
	text-decoration : none;
	font-size : 11px;	
}
a:hover.cadre_lien_pres {
	text-decoration : underline;
}
.bouton_plat
{
	border:1px solid #999999;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight: bold;
	color: #0000FF;
	background-image:url(apm.jpg);
	background-repeat: repeat-x;
}
.Police-Gras-Souligne {
font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 13px ; font-style: normal; font-variant: normal; text-transform: none; text-decoration: underline
}
.noprint{}

/************************ PAGES REVUE PRESSE **************************/
.cadre
{
	padding:0;
	margin:0;
	width: 670px;
	background-color: #FFFFCC;
	background-image:url(index.html.3);
	background-repeat:repeat;
	border: 0px none;
	text-align:left;
	
}
.arial-1
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}
.arial-2
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:justify;
}
h1,
h2
{
	color:#00529F;
}

.gras-bleu
{
	font-style:italic;
	color:#00529F;
	font-weight:bold;
}


.gras-rouge
{
	font-style:italic;
	color:#FF0000;
	font-weight:bold;
}


.titre_type_presse
{
	color :#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size :18px;
	font-weight:normal;	
}

.titre_chapitre
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-style:italic;
	color:#0095BE;	
}

.titre_plan
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#000000;
	font-weight:bold;	
}

.titre_revue_presse
{
	color:#000000;
	font-size:13px;
	font-weight:normal;	
}

.reference
{
	color:#000000;
	font-style:italic;
	font-size:10px;	
}
/* css de la fiche a imprimer */
td.date
{
	color :#0000a0;
	font-weight:bold;
	width: 50%;
	background-color:#FFFFCC;
	font-size: 12px;
}
td.cote
{
	color :#53a064;
	font-weight:bold;
	width: 50%;
	background-color:#EAFFEA;
	font-size: 12px;
}
td.titre
{
	color :#CD5C5C;
	font-weight:bold;
	width: 50%;
	background-color:#E8EAF0;
	text-align:center;
	font-size: 12px;
}
td.ref
{
	color:#FF6600;
	font-weight:bold;
	font-style:italic;
	font-size:10px;	
}
td.bouton
{
	background-color:#1F3971;
	border-color:#FBFCFD;
}
td.bouton a
{
	font-size: 10px;
	color : #FFFFFF;
	font-weight:bold;
	text-decoration: none;
}
.bouton_plat
{
	border:solid 1px #9B9B9B;
}
.rss
{
	list-style-image:url(index.html.4);
}

td#titre{
	width:500px;
}

table#menu_sous_typo{
	background-repeat:repeat-y;
	padding-left:20px;
	width:247px;
}


table#titre1{
	width:500px;
}
table#titre2{
	width:500px;
}
table#titre3{
	width:500px;
	margin-bottom:20px;
	margin-top:20px;
}
table#texte{
	width:500px;
}

td#ss-titre2{
	text-align:left;
}

td#contenu{
	vertical-align:top;
}

td#bodytext{
	border:0;
}



/*Supprimer automatiquement la bordure quand on fait un lien sur une image*/
td#bodytext img{
	border:0;
}

td#menu{
	vertical-align:top;
}

.Contraste{
background-image:url(index.html.5);
background-repeat:repeat-y;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 9px; 
text-align: justify;
font-weight: bold;
}
/*
Contraste
   <table width="100%" border="0" cellspacing="0" cellpadding="0" background="../images/pagedegarde/fndmoteur2.gif" bordercolor="#FFFFFF">
                <tr>
                  <td bordercolor="#CCCCCC" height="15"><font class="Police-Verdana-1"><span class="Police-Verdana-1-Gras">&nbsp;</span></font><font color="#90033" size="1" face="Verdana, Arial, Helvetica, sans-serif"><b>Innovation</b></font></td>

                </tr>
              </table>
*/

.bouton_lien
{
	border:1px solid #999999;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	background:none;
	font-family:Arial, Helvetica, sans-serif;
	font:Arial, Helvetica, sans-serif;
	border:0;
	font-size:12;
	color:#3333FF;
	cursor: pointer;
	font-style:italic;
	vertical-align:bottom;
	
}


csc-textpic csc-textpic-intext-left-nowrap csc-textpic-caption-l{

}

td#titre_rh{
padding-top:5px;
padding-bottom:5px;
}
.csc-sitemap ul li{
font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: justify;
}
