﻿/* CSS Document */



/* HEADER --------------- */

#header {
	width: 978px;
	background: #5a4936;
	height: 123px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#logo {
	height: 107px;
	width: 275px;
	text-align: center;
	padding-top: 16px;
	float: left;
	position: relative;
}
#menubis {
	float: left;
	position: relative;
	height: 46px;
	width: 390px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #837567;
	padding-top: 14px;
}
#menubis a{
	color:#FFFFFF;
	font-size: 11px;
}

/* IDENTIFICATION  */
#identification {
	float: right;
	height: 39px;
	width: 266px;
	position: relative;
	background-color: #ece2c5;
	top: 7px;
	right: -12px;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
#identification #compte {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #5a4936;
	line-height: 20px;
	float: left;
	position: relative;
	width: 115px;
}
#identification #compte a{
	color: #5a4936;
}
#identification #panier {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	font-weight: normal;
	color: #FFFFFF;
	float: left;
	position: relative;
}
#identification #panier a{
	color: #5a4936;
}
#identification #panier #panier_rouge a{
	color: #d14800;
	font-weight : bold;
}

/* MENU  */
#menu {
	float: left;
	height: 38px;
	width: 703px;
	position: relative;
}
#menu ul {
	margin: 0px;
	padding: 0px;
}
#menu li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: block;
	float: left;
	position: relative;
}

/* RECHERCHE  */
#recherche {
	position: relative;
	float: right;
	width: 683px;
	background: #77a50a;
	z-index: 1;
	height: 37px;
	padding-top: 13px;
	padding-left: 20px;
}
#champs {
	float: left;
	position: relative;
}
#motscles {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #565655;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	height: 18px;
}
#typederecherche {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #565655;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	height: 22px;
}
#lecteur_ambiance {
	float: right;
	position: relative;
	padding-top: 5px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	padding-right: 15px;
	vertical-align: middle;
}
#lecteur_ambiance a{
	color:#FFFFFF;
}


/* Zones de une--------------- */

#workflow {
	height: 435px;
	margin: 0 auto;
	background-color: #f0eeda;
	background-repeat: repeat-x;
	background-position: center top;
}
#appel_principal {
	height: 393px;
	width: 978px;
	margin: 0 auto;
	
	background-repeat: no-repeat;
}
/*--------------------------------------*/




/* CONTENU --------------- */

.rouge{
	color: #d14800;
}
#actualite_planete {
	height: 17px;
	width: 958px;
	background-color: #f4f1e0;
	padding: 10px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	float:left;
}
#actualite_planete #feed {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #1e7cc5;
	float:left;
	margin-top:3px;

}
#actualite_planete #feed a{
	color: #1e7cc5;
	float:left;
	display:inline;

}
#actualite_planete #feed .date{
	color: #949494;
}
#actualite_planete #rss {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #1e7cc5;
	float:right;
	position: relative;

}
#actualite_planete #rss a{
	color: #1e7cc5;
}






#contenu {
	width: 978px;  
	margin: 0 auto;  
}

/* APPELS 3 BLOCS  */
#appel_3blocs {
	background-color: #f2efd7;
	height: 260px;
	width: 978px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #e7e2c8;
	border-bottom-color: #e7e2c8;
}

#blocGaucheImage {
    display:inline;
    float:left;
    height:90px;
}
#blocGaucheTitre h2
{
    color: #d14800;
    font-family:Arial;
    font-size:22px;
    display:inline;
    /*font-weight:bold;*/
}
#blocGaucheTitre h1
{
    color: #d14800;
    font-family:Arial;
    font-size:22px;
    display:inline;
    /*font-weight:bold;*/
}

#blocGaucheTexte
{
    float:left;
    width:300px;
}
#blocGaucheEntete 
{
    height:90px;
}

#blocGauche {
	background-color: #FFFFFF;
	height: 220px;
	width: 318px;
	float: left;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #616161;
}
#blocGauche #blocGaucheCorps {
	height: 180px;
}




#blocCentreImage {
    display:inline;
    float:left;
    height:90px;
}
#blocCentreTitre h2
{
    color: #d14800;
    font-family:Arial;
    font-size:22px;
    display:inline;
    /*font-weight:bold;*/
}

#blocCentreTitre h1
{
    color: #d14800;
    font-family:Arial;
    font-size:22px;
    display:inline;
    /*font-weight:bold;*/
}

#blocCentreTexte
{
    float:left;
    width:300px;
}
#blocCentreEntete 
{
    height:90px;
}

#blocCentre {
	background-color: #FFFFFF;
	height: 220px;
	width: 318px;
	float: left;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #616161;
}
#blocCentre #blocCentreCorps {
	height: 180px;
}









#appel_center {
	background-color: #FFFFFF;
	height: 220px;
	width: 330px;
	float: left;
	position: relative;
	border-left-width: 1px;
	border-right-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	border-left-color: #dfdac3;
	border-right-color: #dfdac3;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #616161;
}
#appel_center #texte {
	height: 180px;
}
#appel_right {
	height: 260px;
	width: 342px;
	float: left;
	position: relative;
}
#appel_right #blog h2
{
     color: #d14800;
    font-family:Arial;
    font-size:22px;
    display:inline;
    }

#appel_right #blog {
	background-image: url(logo_blog_antoine.gif);
	background-repeat: no-repeat;
	background-position:20px 50px;
	height: 165px;
}
#blog #textes {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #616161;
	width: 240px;
	height: 60px;
	padding-left:66px;
}
#blog #textes .titre {
	font-weight: bold;
	color: #1e7cc5;
}
#blog #textes .titre a{
	font-weight: bold;
	color: #1e7cc5;
}
#blog #textes .date {
	color: #949494;
}
#appel_right #newsletter {
	background-image: url(newsletter.gif);
	background-repeat: no-repeat;
	height: 41px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #dfdac3;
	padding-top: 29px;
	padding-left: 67px;
}
#champ_newsletter {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #616161;
	border: 1px solid #dfdac3;
	height: 18px;
}



/* NEWSLETTER */

#newsletterModalPopup {
	width: auto;
	background-color: #f2efd7;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dfdac3;
	height: 70px;
	padding-top: 15px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #808080;
	display:none;
}


.ui-dialog-overlay{
        opacity:0.5;
        background:black;
} 

.newsletter_titre{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #5a4936;
}

.global_flash_actif
{
    display:block;
}

.global_flash
{
   display:none; 
}

#lienBlog  {
    color:#D14800;
    display:inline;
    font-family:Arial;
    font-size:22px;
}

/*  --------------- */

/* liScroll style declarations */

.tickercontainer { /* the outer div with the black border */
width: 400px; 
height: 27px; 
margin: 0; 
padding: 0;
overflow: hidden; 
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
top: 4px;
width: 400px;
overflow: hidden;
}
ul.newsticker { /* that's your list */
position: relative;
left: 100px;
list-style-type: none;
margin: 0;
padding: 0;

}
ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0;
}
ul.newsticker a {
white-space: nowrap;
padding: 0;
margin: 0 50px 0 0;
} 
ul.newsticker span {
margin: 0 10px 0 0;
} 