/*-------------------------------------------------------------------------------------------------*/
/*
______________________
ACTIVEPORTAIL - ARTICLES CMS
______________________
Version 4.4
Feuille de style ActivePortail
Cette feuille de style comprend les éléments utilisés dans les articles de la CMS (XSLT + OPTIONS)

Notes :
Ce fichier ne comporte pas d'images - pas de chemin à modifier
_________________________________________________________

*/
/*-------------------------------------------------------------------------------------------------*/

/*---------------------------TABLES---------------------------*/

.table_article{
margin:10px 0px 10px 0px;
border-collapse:collapse;
}

.table_article li{
list-style:none;
margin:0px;
padding:0px 0px 0px 30px;
font-size:12px;
background:url('bloc_droite_puce_violet.gif') no-repeat 20px 5px;
}

.table_article td.options {
border:solid 2px #eeeeee;
color:#e50049;
font-size:12px;
font-weight:bold;
text-decoration:none;
width:40px;
}

.article_article{
padding:0px 0px 10px 0px;
}

.table_article td.options a{
display:block;
width:40px;
text-align:center;
padding:5px 0px;
}

.article_note{
background:url('article_note_bg.jpg') no-repeat 10px center;
padding:20px 20px 20px 90px;
text-align:left;
font-size:12px;
}

.article_export{
background:url('ico_auteur.gif') no-repeat 10px center;
padding:10px 0px 10px 35px;
text-align:left;
font-size:12px;
}

.article_options{
padding:10px 0px;
}

.article_options a{
float:right;
padding:0px 0px 0px 10px;
}

.texte{
font-size:12px;
}

.texte2{
font-size:12px;
}

.titre_article{
color:#e50049;
font-size:22px;
font-weight:normal;
margin:10px 0px;
padding:0px 0px 5px 0px;
display:block;
}

.img_left{
float:left;
margin:0px 10px 10px 0px;
}

.img_right{
float:right;
margin:0px 0px 10px 10px;
}