/******************************************************************************
* ccmLayout.css     copyright 2009
*******************************************************************************

/* General */

body {
	behavior:url("http://www.martinique.cci.fr/iso_misc/iso_misc/csshover.htc");
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	margin-top:0px;
}

p{
	font-size:1.2em;
	margin:0;
	padding-bottom:5px;
}

.ocsExtract p{
	font-size:1.2em;
	color:black;
}

.ccmBody {
	width:995px;
	margin-left:auto;
	margin-right:auto;
	background: #ffffff url(ccm_bgBody.jpg) repeat-y;
}

a{
	color:#F7931E;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

.ccmContent {
	min-height: 480px;
	height: auto !important;
	height: 480px;
	clear:both;
}

.ccmFooter {
	clear:both;
}

.bsDiscList,
.bsSquareList,
.bsCircleList,
.bsNumberList,
.bsLetterList{
	color:#4D4D4D;
	margin:0px;
	padding-top:5px;
	padding-bottom:5px;
}

.bsDiscList a,
.bsSquareList a,
.bsCircleList a,
.bsNumberList a,
.bsLetterList a{
	font-size:1.2em;
}
/* Header */ 

.ccmBannerLink{
	cursor:pointer;
}

.ccmHeader{
	overflow:auto;
}

.ccmBanner{
	height:147px;
}

.ccmTopRightShortcuts{
	float:right;
}

.ccmMenulevel1 {
	background-color:red;
	background:url(ccm_fond-menu.jpg) no-repeat 0 0;
	height:29px;
	color:white;
	margin-left:18px;
	width:977px;
	font-size:13px;
	font-weight:bold;
	clear:both;
}

.ccmMenulevel1 ul{
	float:left;
	list-style-type:none;
	margin:0px;
	height:29px;
	padding-left:0px;
}

.ccmMenulevel1 ul li{
	display:inline;
	padding-right:0px;
	float:left;
}

.ccmMenulevel1 ul li.separateur{
	border-left:1px solid white;
	padding-bottom:25px;
	padding-right:0px;
}

*+html .ccmMenulevel1 ul li.separateur{
	padding-bottom:7px;
}

.ccmMenulevel1 a:link,
.ccmMenulevel1 a:visited,
.ccmMenulevel1 a:hover,
.ccmMenulevel1 a:active,
.ccmMenulevel1 a:focus {
    text-decoration:none;
	color:white;
	padding:3px 4px 4px;
	display:block;
}

.ccmMenulevel1 ul.level1 a:focus,
.ccmMenulevel1 ul.level1 a:hover,
.ccmMenulevel1 ul.level1 li.on a:link,
.ccmMenulevel1 ul.level1 li.on a:visited,
.ccmMenulevel1 ul.level1 li.on a:active {
	background-color:white;
	color:orange;
}

.ccmTopShortcuts {
	overflow:auto;
	height:34px;
	color:white;
	background:url(ccm_orange-menu-raccourci.png) no-repeat right;
	width:977px;
	float:right;
	font-size:11px;
	clear:both;
}

.ccmTopShortcuts ul{
	clear:both;
	list-style-type:none;
	float:right;
	margin:0px;
	padding-right:5px;
	padding-top:8px;
}

.ccmTopShortcuts ul li{
	display:inline;
}

*+html .ccmTopShortcuts ul li.separator{
	margin-left:3px;
}

.ccmTopShortcuts ul li a{
	text-decoration:none;
	color:white;
}

.ccmTopShortcuts ul li a:hover{
	color:#004F9B;
}

.ccmSearch{
	float:right;
	margin-top:-50px;
}

#inputSearch{
	float:left;
	background:url(ccm_champ-rechercher.png) no-repeat;
	border:none;
	margin-right:2px;
	font-size:13px;
	color:#EF3943;
}

.ccmBoutonSearch{
	float:left;
}

/* Content */ 


.ccmBreadCrumb{
	font-size:1em;
	color:#999999;
	padding-left:30px;
	clear:both;
}

.ccmBreadCrumb a{
	color:#999999;
}

.ccmContent,
.ccmRightInsets,
.ccmLeftInsets,
.ccmMainContent{
	float:left;
}

.ccmRightInsets{
	margin-top:-79px;
}

*+html .ccmRightInsets{
	margin-top:-74px;
}

/*Footer*/

.ccmBottomShortcuts {
	text-align:center;
	color:#999999;
}

.ccmBottomShortcuts li{
	display:inline;
	font-size:10px;
}

*+html .ccmBottomShortcuts li.txtIcon,
*+html .ccmBottomShortcuts li.FluxRSS{
	padding-right:3px;
}

.ccmBottomShortcuts li a{
	padding-top:5px;
	text-decoration:none;
	color:#999999;
	font-size:10px;
}

.ccmBottomShortcuts li a:hover{
	text-decoration:underline;
}

.ccmBottomShortcuts li.FluxRSS a:hover{
	text-decoration:none;
}

/******menu*********/

.ccmMenu2Top {
	background:url(ccm_blue_top_left.png) no-repeat;
	height:15px;
}

.ccmMenu2Top1{
	background:url(ccm_blue_top_right.png) no-repeat right top;
	height:15px;
}

.ccmMenu2Middle{
	background:url(ccm_blue_middle_left.png) repeat-y;
	overflow:hidden;
}

.ccmMenu2Middle1{
	background:url(ccm_blue_middle_right.png) repeat-y right top;
	overflow:hidden;
}

.ccmNomRubrique{
	border-bottom:1px solid white;
	width:200px;
}

.ccmNomRubrique a{
	text-decoration:none;
	color:#F7931E;
}

.ccmMenu2{
	overflow:hidden;
}

.ccmMenu2 a:link,
.ccmMenu2 a:visited,
.ccmMenu2 a:hover,
.ccmMenu2 a:active,
.ccmMenu2 a:focus {
    text-decoration:none;
	color:white;
	font-size:1.3em;
}

.ccmMenu2 a:focus,
.ccmMenu2 a:hover,
.ccmMenu2 ul li.on a:link,
.ccmMenu2 ul li.on a:visited,
.ccmMenu2 ul li.on a:active {
	color:#F7931E;
}

.ccmMenu2 ul.level1 li ul.level2 a:focus,
.ccmMenu2 ul.level1 li ul.level2 a:hover,
.ccmMenu2 ul.level1 li ul.level2 a:link,
.ccmMenu2 ul.level1 li ul.level2 a:visited,
.ccmMenu2 ul.level1 li ul.level2 a:active {
	color:white;
}

.ccmMenu2 ul.level1 li ul.level2 a:focus,
.ccmMenu2 ul.level1 li ul.level2 a:hover,
.ccmMenu2 ul.level1 li ul.level2 li.on a:link,
.ccmMenu2 ul.level1 li ul.level2 li.on a:visited,
.ccmMenu2 ul.level1 li ul.level2 li.on a:active {
	color:#F7931E;
}

.ccmNomRubrique1{
	overflow:hidden;
	padding-left:30px;
	padding-bottom:5px;
	font-weight:bold;
	font-size:1.3em;
}

.ccmMenu2 ul.level1{
	margin:0px;
	list-style-type:none;
	padding:10px 10px 0 30px;
}

.ccmMenu2 ul.level2{
	list-style-type:none;
	margin:0px;
	padding-top:10px;
	padding-left:15px;
}

.ccmMenu2 ul.level1 li{
	margin:0px;
	padding-bottom:10px;
}

.ccmMenu2 ul.level1 li:first-letter {
	font-weight:bold;
}

.ccmMenu2Bottom{
	background:url(ccm_blue_bottom_left.png) no-repeat;
	margin:0;
	height:29px;
}

.ccmMenu2Bottom1{
	background:url(ccm_blue_bottom_right.png) no-repeat right;
	display:block;
	height:29px;
}


/* Styles */

.ccmFullBlueInset {
	color:white;
}

.ccmFullBlueInset a{
	color:white;
	/*font-size:0.9em;*/
	font-weight:bold;
}

.ccmFullBlueInset .Top{
	background:url(ccm_blue_top_left.png) no-repeat;
	height:15px;
}

.ccmFullBlueInset .Top .b1{
	background:url(ccm_blue_top_right.png) no-repeat right top;
	height:15px;
}

.ccmFullBlueInset .insLevel1{
	background:url(ccm_blue_middle_left.png) repeat-y;
	overflow:hidden;
}

.ccmFullBlueInset .Middle{
	background:url(ccm_blue_middle_right.png) repeat-y right top;
	overflow:hidden;
}

.ccmFullBlueInset h3.insTitle-text{
	margin:0px;
	padding-left:30px;
	width:170px;
	padding-bottom:5px;
	border-bottom:1px solid white;
	font-size:1.3em;
	font-weight:bold;
}

.ccmFullBlueInset .Content{
	padding:15px 10px 0;
}

.ccmFullBlueInset .Bottom{
	background:url(ccm_blue_bottom_left.png) no-repeat;
	margin:0;
	height:29px;
}

.ccmFullBlueInset .Bottom .b1{
	background:url(ccm_blue_bottom_right.png) no-repeat right;
	display:block;
	height:29px;
}
/****************************/

.ccmFullOrangeInset{
	color:white;
}

.ccmFullOrangeInset a{
	color:white;
	/*font-size:0.9em;*/
	font-weight:bold;
}


.ccmFullOrangeInset .Top{
	background:url(ccm_fullOrange_top_left.png) no-repeat;
	height:15px;
}

.ccmFullOrangeInset .Top .b1{
	background:url(ccm_fullOrange_top_right.png) no-repeat right top;
	height:15px;
}

.ccmFullOrangeInset .insLevel1{
	background:url(ccm_fullOrange_middle_left.png) repeat-y;
	overflow:hidden;
}

.ccmFullOrangeInset .Middle{
	background:url(ccm_fullOrange_middle_right.png) repeat-y right top;
	overflow:hidden;
}

.ccmFullOrangeInset h3.insTitle-text{
	margin:0px;
	padding-left:30px;
	width:170px;
	padding-bottom:5px;
	border-bottom:1px solid white;
	font-size:1.3em;
	font-weight:bold;
}

.ccmFullOrangeInset .Content{
	padding:15px 10px 0;
}

.ccmFullOrangeInset .Bottom{
	background:url(ccm_fullOrange_bottom_left.png) no-repeat;
	margin:0;
	height:29px;
}

.ccmFullOrangeInset .Bottom .b1{
	background:url(ccm_fullOrange_bottom_right.png) no-repeat right;
	display:block;
	height:29px;
}
/***************************************/
.ccmEmptyVioletInset h3{
	background:url(ccm_emptyViolet_top_left.png) no-repeat;
	height:29px;
	margin:0px;
}

.ccmEmptyVioletInset h3 span{
	background:url(ccm_emptyViolet_top_right.png) no-repeat right top;
	display:block;
	padding-left:10px;
	padding-top:5px;
	color:#F7931E;
	font-size:13px;
	font-weight:bold;
}

.ccmEmptyVioletInset .insLevel1{
	overflow:hidden;
}

.ccmEmptyVioletInset .Middle{
	overflow:hidden;
}

.ccmEmptyVioletInset .Content{
	padding:0 10px;
	border-left:1px solid #b296c8;
	border-right:1px solid #b296c8;
	clear:both;
	background-color:white;
}

.ccmEmptyVioletInset .Bottom{
	background:white url(ccm_emptyViolet_bottom_left.png) no-repeat;
	margin:0;
	height:13px;
}

.ccmEmptyVioletInset .Bottom .b1{
	background:url(ccm_emptyViolet_bottom_right.png) no-repeat 100% 0%;
	display:block;
	height:13px;
	width:14px;
	float:right;
}

/***************************************/
.ccmEmptyOrangeInset h3{
	background:url(ccm_emptyOrange_top_left.png) no-repeat;
	height:29px;
	margin:0px;
	clear:both;
}

.ccmEmptyOrangeInset h3 span{
	background:url(ccm_emptyOrange_top_right.png) no-repeat right top;
	display:block;
	padding-left:10px;
	padding-top:5px;
	color:white;
	font-size:13px;
	font-weight:bold;
	clear:both;
}

.ccmEmptyOrangeInset .insLevel1{
	overflow:hidden;
	clear:both;
}

.ccmEmptyOrangeInset .Middle{
	overflow:hidden;
	clear:both;
}

.ccmEmptyOrangeInset .Content{
	padding:0 10px;
	border-left:1px solid #f7931e;
	border-right:1px solid #f7931e;
	clear:both;
	background-color:white;
}

.ccmEmptyOrangeInset .Bottom{
	background:white url(ccm_emptyOrange_bottom_left.png) no-repeat;
	margin:0;
	height:13px;
}

.ccmEmptyOrangeInset .Bottom .b1{
	background:url(ccm_emptyOrange_bottom_right.png) no-repeat 100% 0%;
	display:block;
	height:13px;
	width:13px;
	float:right;
}

/********titres*******/

h2#pageTitle{
	font-size:18px;
	background:url(ccm_fleche-rouge.png) no-repeat;
	padding-left:30px;
	min-height:25px;
	margin:25px 0 10px -20px;
	float:left;
	color:black;
	position:relative;
}

.ccmTitle1{
	font-size:18px;
	font-weight:bold;
	color:#0092D0;
	margin-top:25px;
	margin-bottom:10px;
}

.ccmTitle2{
	font-size:16px;
	font-weight:bold;
	color:#E92037;
	margin-top:25px;
	margin-bottom:10px;
	padding-left:10px;
}

.ccmRedImgTitle{
	background:url(ccm_fleche-rouge.png) no-repeat;
	padding-left:30px;
	height:20px;
	margin-top:25px;
	margin-bottom:10px;
	margin-left:-20px;
	font-size:13px;
	padding-top:3px;
	position:relative;
}

.ccmVioletTitle{
	background:#b5619e url(ccm_violetTitle_left.png) no-repeat;
	margin-top:5px;
	margin-bottom:10px;
	min-height:38px;
	color:white;
}

.ccmVioletTitle span{
	display:block;
	background:url(ccm_violetTitle_right.png) no-repeat right top;
	padding-left:10px;
	padding-top:10px;
}

/*****Separateurs********/

.ccmContent div.ccmVioletSeparatorH_S{
	border:none;
	height:9px;
	background:url(ccm_separation-violette-1-480.png) no-repeat center 0;
	margin:10px 0;
}

.ccmContent div.ccmVioletSeparatorB_S{
	border:none;
	height:9px;
	background:url(ccm_separation-violette-2-480.png) no-repeat center 0;
	margin:10px 0;
}


.ccmContent div.ccmVioletSeparatorH_M{
	border:none;
	height:9px;
	background:url(ccm_separation-violette-1-730.png) no-repeat center 0;
	margin:10px 0;
}

.ccmContent div.ccmVioletSeparatorB_M{
	border:none;
	height:9px;
	background:url(ccm_separation-violette-2-730.png) no-repeat center 0;
	margin:10px 0;
}


.ccmContent div.ccmVioletSeparatorH_L{
	border:none;
	height:9px;
	background:url(ccm_separation-violette-1-960.png) no-repeat center 0;
	margin:10px 0;
}

.ccmContent div.ccmVioletSeparatorB_L{
	border:none;
	height:9px;
	background:url(ccm_separation-violette-2-960.png) no-repeat center 0;
	margin:10px 0;
}

.ccmContent div.ccmVioletSeparatorH_Insets{
	border:none;
	height:9px;
	background:url(ccm_separation-violette-1-205.png) no-repeat center 0;
	margin:10px 0;
}

.ccmContent div.ccmVioletSeparatorB_Insets{
	border:none;
	height:9px;
	background:url(ccm_separation-violette-2-205.png) no-repeat center 0;
	margin:10px 0;
}

/********************************/

table.tabTable{
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
}

table.tabTable th, table.tabTable td {
	border:1px solid #1B99A8;
	background-color:#FFFFFF;
}

table.tabTable th {
	background-color:#FFFFFF;
	color:#000000;
}

/**************/

a.ccmStdSmallTxt{
	font-size:0.8em;
}

.ccmFullOrangeInset .ocsExtract a.ccmStdSmallTxt{
	color:#004F9B;
}

a.ccmStdMediumTxt{
	font-size:0.9em;
}

p.ccmLTxt{
	font-size:13px;
}

/*************Style plan du site ****************/

.ccmStdSiteMap ul{
	list-style-type:none;
}

.ccmStdSiteMap ul.level1{
	padding-left:20px;
}

*+html .ccmStdSiteMap ul.level1{
	padding-left:0px;
	margin-left:20px;
}

.ccmStdSiteMap ul li.level1{
	width:235px;
	float:left;
}

.ccmStdSiteMap ul li.level1{
	margin-bottom:5px;
}

.ccmStdSiteMap ul li h3,
.ccmStdSiteMap ul li h4,
.ccmStdSiteMap ul li h5{
	margin:7px;
}

.ccmStdSiteMap ul li a{
	text-decoration:none;
}

.ccmStdSiteMap ul li h3 a{
	text-decoration:underline;
	font-size:14px;
}

.ccmStdSiteMap ul li h4 a{
	font-size:11px;
}

.ccmStdSiteMap ul li h5 a{
	font-size:10px;
}

.ccmStdSiteMap ul li a:hover{
	text-decoration:underline;
}