/******************************************************************************
* ishElements.css
*******************************************************************************

*******************************************************************************
*                                                                             *
* Copyright 2007
*                                                                             *
******************************************************************************/

/* images */

.ishImage .zoom,
.ishImage .legend {
	display:block;
	text-align:center;
}

.ishImage img.imageBorder {
	border-width:1px;
	border-style:solid;
}

/* legend */

caption,
.ishImage .legend,
p.bsDownloadableInfos {
	font-weight:normal;
	font-style:italic;
}

/* border styles */

.ishBorderSolid {
	border-width:2px;
	border-style:solid;
	padding:5px;
}

.ishBorderInset {
	border-width:2px;
	border-style:inset;
	padding:5px;
}

.ishBorderOutset {
	border-width:2px;
	border-style:outset;
	padding:5px;
}

/* sds table sort button */

span.sdsColumnSortBar a.sortButtonLink {
	text-decoration:none;
}

span.sdsColumnSortBar a.sortButtonLink span {
	visibility:hidden;
}

span.sdsColumnSortBar a.sortButtonLink {
	padding:6px;
}

span.sdsColumnSortBar a.sortButtonUp {
	background: url("ish-sds-th-up.png") transparent no-repeat center center;
}

span.sdsColumnSortBar a.sortButtonDown {
	background: url("ish-sds-th-down.png") transparent no-repeat center center;
}