.column1_1 	{ float : left; width : 876px; }

.column1_2	{ float : left; width : 672px; }

.column1_3 { float : left; width : 182px; margin-right : 25px; z-index:1; }
.column2_3 { float : left; width : 458px; }