/* ------------------- */
/*     COMMON TAGS     */
/* ------------------- */

* { margin : 0px; padding : 0px; }

ul ul {	list-style	: none;	margin-left	: 16px; }

body 		{ font-family : arial, helvetica, sans-serif; font-size : 11px; color : #585959; background-color : #fcfcfc; }

td			{border	: none; font-family : arial, helvetica, sans-serif;	font-size : 11px; margin : 1px; padding : 4px;}
th			{border	: none; font-family : arial, helvetica, sans-serif;	font-size : 11px; margin : 1px; padding : 4px; font-weight : bold;}
table		{border	: none;}

a 			{ color : #FF902b; text-decoration : none; }
a:visited 	{ color : #FF902b; text-decoration : none; }
a:hover 	{ color : #FF902b; text-decoration : underline; }

img			{ border : 0px; }
hr 			{ clear : both; margin : 4px 0px 4px 0px; background-color: #C8D1D6; color: #C8D1D6; height: 1px; border: 0px; font-size : 1px; }
p{margin-bottom:15px;}

input, 
select		{ font-size : 10px; border : 1px solid #A1A9AE; color : #313232; padding : 1px; }

#mask {
	margin: 0px 12px 0px 12px;
	padding: 0px;
	width: 876px;
	background-color : #ffffff;
	margin-left: -436px;
	position: relative;
	left: 50%;
}

/* --------------------- */
/*     STANDARD SIZE     */
/* --------------------- */

#header, #menuTop, #breadCrumb, #content, #footer { width : 876px; }


/* -------------------------- */
/*     LIENS HAUT DE PAGE     */
/* -------------------------- */

#header { display : block; text-align : center;	}

#header .headerLinks 			{ float : right; color : #4078C2; margin-top : 8px; margin-bottom : 6px; }
#header .headerLinks a 			{ color : #4078c2; text-decoration : none; }
#header .headerLinks a:visited 	{ color : #4078c2; text-decoration : none; }
#header .headerLinks a:hover 	{ color : #4078c2; text-decoration : underline; }

#header #headerLinkHome			{ position : absolute; top:28px;left:40px; width:130px; height:90px; z-index:999; }

#header #flc750 { margin:0px; padding:0px; width:876px; height:186px; clear:both; background:url('bandeau_default.jpg') no-repeat;}


/* ---------------- */
/*     MENU TOP     */
/* ---------------- */

#menutop { margin-top : 15px; background-image	: url('top_menu_bg.gif'); background-repeat	: repeat-x; height : 40px; text-align : left;}

#menutop img 			{ border : none; }
#menutop ul 			{ z-index:400; list-style : none; margin	: 0px; padding : 0px; left : 1px; }
#menutop ul li 			{ z-index:400; position : relative; float : left; }
#menutop ul li ul 		{ z-index:400; position : absolute; background-color : white; clear : both; display : none; top : 29px; width : 200px; border-width: 1px 1px 1px 1px; border-color: lightgrey;	border-style: solid; }
#menutop ul li ul li 	{ z-index:400; float : none; background-color : white; padding : 2px; }
#menutop ul li div 		{ z-index:400; float : left; height : 35px; overflow	: hidden; }
#menutop ul li:hover ul,
#menutop ul li.over ul	{ z-index:400; display : block; z-index : 20; }

#menutop ul li a,
#menutop ul li a:visited	{ z-index:400; color	: #4B7FCB; font-weight : bold; text-decoration	: none; cursor : pointer; }
#menutop ul li a:hover img 	{ z-index:400; position : relative;	top : -40px; }
#menutop ul li a.on img		{ z-index:400; position : relative; top	: -80px; }

#menutop ul li a.on div 		{ z-index:400; position : relative; left : -1px; }
#menutop ul li a.on:hover img 	{ z-index:400; position : relative; top : -80px; }

/*     MENU TOP - RECHERCHE     */
#menuTop #menuTopSearch 		{ color : #A3A6AB; font-weight : bold; float : right; margin : 0px; padding : 0px; margin-top : 6px; }
#menuTopSearch input 			{ border : 1px solid #A3A6AB; width : 100px; height : 16px; font-size : 9px; color : #5A5B56; text-align : center; margin-left : 5px; margin-right : 5px; }
#menuTopSearch .buttonSubmit 	{ cursor:pointer ;width : 18px; height : 17px; border : 0px; background-image : url('top_menu_search_button_ok.gif'); }

/*     MENU TOP - COULEURS SOUS-RUBRIQUES     */
#menuTop ul .blue a:hover 		{ z-index:400; color : #21c6fe; text-decoration : none; }
#menuTop ul .green a:hover 		{ z-index:400; color : #9dbc23; text-decoration : none; }
#menuTop ul .brown a:hover 		{ z-index:400; color : #a8a80a; text-decoration : none; }
#menuTop ul .lagoon a:hover 	{ z-index:400; color : #0bbfbc; text-decoration : none; }
#menuTop ul .orange a:hover 	{ z-index:400; color : #b7464c; text-decoration : none; }
#menuTop ul .raspberry a:hover 	{ z-index:400; color : #Ad0c90; text-decoration : none; }


/* ------------------ */
/*     BREADCRUMB     */
/* ------------------ */

#breadCrumb { display : block; text-align : left; margin : 0px 0px 4px 0px; color : #afafaf; font-size : 11px; }

#breadCrumb a 			{ color : #afafaf; text-decoration : none; }
#breadCrumb a:visited 	{ color : #afafaf; text-decoration : none; }
#breadCrumb a:hover 	{ color : #747474; text-decoration : underline; }

#breadCrumb li.selected 			{ color : #2C2C2C; }
#breadCrumb li.selected a			{ color : #2C2C2C; }
#breadCrumb li.selected a:visited	{ color : #2C2C2C; }
#breadCrumb li.selected a:hover		{ color : #2C2C2C; }

#breadCrumb ul 	{ margin : 0px; padding : 0px; }
#breadCrumb li 	{ display : inline; margin : 0px; list-style-type : none; list-style-position : inside;	padding-right : 2px; }


/* ----------------- */
/*     MENU LEFT     */
/* ----------------- */

#menuLeft			{ width : 216px; min-height : 200px; text-align : left; float : left; margin : 20px 0px 20px 0px; }

#menuLeft a, 		
#menuLeft a:visited { color : #4078c2; text-decoration : none; }
#menuLeft a:hover 	{ color : #0951B1; text-decoration : none; }

#menuLeft ul 		{ margin : 0px; padding : 0px; float : left; list-style-image : none; list-style : none; text-align : left; }
#menuLeft li 		{ float : left; clear : left; margin : 0px; list-style : none; list-style-position : inside;	}

/*     MENU LEFT - LEVEL 0    */
#menuLeft ul 		{ width : 175px; font-weight : bold; font-size : 12px; background : url('menu_left_bg.gif') top right repeat-y; }
#menuLeft ul li		{ width : 163px; padding : 2px 4px 5px 5px; border-bottom : 1px solid #F0F0F0; }

/*     MENU LEFT - LEVEL 1    */
#menuLeft ul ul 				{ background : none; width : 121px; font-weight : normal; font-size : 11px; }
#menuLeft ul ul li				{ width : 141px; border : 0px; padding : 0px 10px 0px 10px; border : 0px; }
#menuLeft ul ul li a:hover 		{ text-decoration : underline; border : 0px; }

#menuLeft .level0 .on			{ background : #ffffff; }
#menuLeft .level1 .on			{ background : #ffffff; }

/* -------------------- */
/*     MAIN CONTENT     */
/* -------------------- */

#content 	{ text-align : left; margin : 0px; padding-bottom : 15px; display : block;  clear : both; }

#content h1 {
	clear : both;
	min-height : 34px;
	color : #787878;
	background : url('title_bg.gif') top left repeat-x;	
	font-size : 24px;
	font-weight : bold;
	padding : 4px 0px 2px 0px;
	margin : 0px 0px 2px 0px;	
	clear : both;
	display	: block;
	border-bottom : 2px solid grey;
}

#content h2 {
	display : inline;
	font-size : 14px;
	color : #4078c2;
	text-transform : uppercase;
}

#content .subtitle	{ font-weight : bold; margin-bottom : 8px; color :#4078c2; }
#content .date 		{ font-weight : bold; color :#4078c2; }
#content .bordered 	{ border : 1px solid grey; padding : 5px; }

#content .list div 				{ float : left; }
#content .list li 				{ padding-bottom : 10px; clear : both; }
#content .list li 				{ list-style : none; }
#content .list_sub ul 			{ list-style : none; float : left; width : 100%; padding : 0px; margin : 0px; }
#content .list_sub li a 		{ color : grey; }
#content .list_sub li li h3 	{ font-weight:normal; }
#content .list_sub li 			{ padding-bottom : 10px; float : left;	width : 105px; }

#content .list_sub ul li li {
	margin : 0px;
	padding : 0px 0px 0px 10px;
	clear : both;
	font-weight : normal;
	background : url('arrow_orange.gif') top left no-repeat;
}


#content .blockRounded 		{ background-color : white; padding : 4px; }
#content .blockRounded hr	{ background-color: #C8D1D6; color: #C8D1D6; }

.greyTitle 		{ color : #787878; font-size : 20px; font-weight : bold;}
.greySubtitle 	{ color : #787878; font-size : 14px; font-weight : bold;}

.listTools 				{ display : inline; float : right; font-weight : bold; margin-bottom : 2px; }
.listTools a 			{ color : #FF902B; text-decoration : none; }
.listTools a:visited 	{ color : #FF902B; text-decoration : none; }
.listTools a:hover		{ color : #FF902B; text-decoration : underline; }


/* --------------------- */
/*     COLUMNS TYPES     */
/* --------------------- */

.bgContent	{ width : 100%; background-repeat : repeat-x; background-position : top left; padding-top : 0px; margin-top : 5px;  margin-bottom:20px;}

.bgContent,	
.column1_1 	{ float : left; width : 660px; }

.column1_2	{ float : left; width : 436px; }
.column2_2	{ float : right; text-align : left; width : 182px; }

.column1_3 { float : left; width : 110px; margin-right : 10px; position: relative; top:-6px; z-index:10;}
.column2_3 { float : left; width : 316px; }
.column3_3 { float : right; width : 182px; }

.column2_2 .blockContent,
.column3_3 .blockContent			{ width : 182px; margin : 4px 0px 16px 0px; float : right; }

.column2_2 .blockContent a,
.column3_3 .blockContent a,
.column2_2 .blockContent a:visited,
.column3_3 .blockContent a:visited 	{ color : #585959; text-decoration : none; }

.column2_2 .blockContent a:hover,
.column3_3 .blockContent a:hover	{ color : #585959; text-decoration : underline; }

/* LISTE DATE + TEXTE / VIGNETTE */
.Blockcontent .listNews 				{ clear : left; padding : 2px 2px 0px 0px; }
.blockContent .listNews ul				{ margin : 0px; padding : 0px;  }
.blockContent .listNews ul li				{ list-style : none; list-style-position : outside; background-image : none; padding : 0px; list-style : none; margin-bottom : 10px; }
.blockContent .listNews .title 			{ font-weight : bold; color : #585959; }
.blockContent .listNews .date 			{ font-weight : bold; color : #4078c2; }
.blockContent .listNews	.visuel			{ float : left; margin-right : 5px; margin-bottom : 5px; }
.blockContent .listNews	.visuel img		{ display : block; border : 0px; }

/* LISTE DATE + TEXTE - COLONNE DE DROITE */
.column2_2 .listNews,
.column3_3 .listNews	{ float : right; }

/* BLOCS AVEC BORDURE */
#content .blockBordered,
#content .blockBorderedIcon	{ padding : 4px 4px 3px 7px; border : 1px solid #1980CA; }
#content .blockBorderedIcon	{ margin-top : 0px; border-top : 0px; position : relative; top : -3px; }
		

#content .column2_2 .blockBordered,
#content .column3_3	.blockBordered			{ width : 170px; }

#content .column1_3	.blockBorderedIcon,
#content .column2_2 .blockBorderedIcon,
#content .column3_3	.blockBorderedIcon		{ width : 169px; }

#content .column1_2 .blockBordered			{ width : 423px; }
#content .column1_2 .blockBorderedIcon  	{ width : 422px; }

	
	
/* -------------------------- */
/*     BOXES COLUMN RIGHT     */
/* -------------------------- */

.blockContent				{ width : 100%; text-align : left; margin-bottom : 6px; }
.blockContent .imageLeft	{ float : left; margin : 0px 10px 5px 0px; }
.blockContent .imageRight	{ float : right; margin : 0px 0px 5px 10px; }

.boxRightNoMargin		{ width : 182px; margin : 4px 0px 16px 0px; }

.boxSharePriceContent { 
	color : #000000; 
	padding : 3px;
	text-align : center;
	border-left : 2px solid #F4F4F4;
	border-right : 1px solid #FCFCFC;
}

.boxUnbordered 			{ border : 0px; }
.boxBorderedLink 		{ padding : 0px 5px 5px 15px; background : url('http://www.pernod-ricard.com/images/arrow_orange.gif') top left no-repeat; }
.boxBorderedLinkGrey 	{ padding : 0px 5px 5px 15px; background : url('http://www.pernod-ricard.com/images/arrow_grey.gif') top left no-repeat; }

.boxShadowBordered 				{ background : url('http://www.pernod-ricard.com/images/box_shadow_bordered_bg.gif') top left repeat-y; }
.boxShadowBorderedContent 		{ margin-left : 12px; padding : 4px 2px 4px 0px; }

.boxUnborderedContent 			{ padding : 4px 2px 4px 0px; }

.boxShadowBorderedContentTitle,
.boxUnborderedContentTitle 		{ font-weight : bold; color : #4078C2; }

.boxPremium 							{ height : 84px; }
.boxPremium .inputField 				{ margin-top : 26px; padding : 1px;	width : 65px; border : 1px solid #A1A9AE; font-size : 10px; }
.boxPremium .submitField 				{ width : 16px; height : 16px;	border : 0px; background : url('box_premium_button.gif') top left no-repeat; }
.boxPremium .boxPremiumLink 			{ color : #FABB0A; margin-left : 58px; font-weight : bold; }
.boxPremium .boxPremiumLink a 			{ color : #FABB0A; text-decoration : none; }
.boxPremium .boxPremiumLink a:visited 	{ color : #FABB0A; text-decoration : none; }
.boxPremium .boxPremiumLink a:hover 	{ color : #FABB0A; text-decoration : underline; }
.submitField 				{ width : 16px; height : 16px;	border : 0px; background : url('box_premium_button.gif') top left no-repeat; }


/* ---------------------- */
/*     LISTES / LIENS     */
/* ---------------------- */

.blockContent ul { margin : 0px; padding : 0px; margin-top : 8px; margin-bottom : 4px;  list-style : none; }
.blockContent ul li { margin : 0px; clear : left; padding : 0px 2px 2px 10px; font-size : 11px; background : url('arrow_orange.gif') top left no-repeat; }

.blockContent ol { margin : 0px; padding : 0px; margin-top : 8px; margin-bottom : 4px; margin-left : 26px; }
.blockContent ol li { margin : 0px; clear : left; padding : 0px 2px 2px 0px; font-size : 11px; }

.blockContent li a,
.blockContent li a:visited 	{ color : #FF902B;  }
.blockContent li a:hover	{ color : #FF902B; text-decoration : underline; }

.blockContent ol ul li{ padding-left : 10px;}
.blockContent .archives { margin-top : 15px; background-image	: url('archives_bg.gif'); background-repeat	: repeat-x; }

.linkRubrique,
.linkListOrange,
.linkListGrey {
	clear : left;
	background : url('arrow_orange.gif') top left no-repeat;
	margin-top : 3px;
	padding : 0px 0px 2px 14px;
	color : #FF902B; 
	font-weight : bold;	
	font-size : 11px; 
}

.linkRubrique a,
.linkListOrange a,
.linkRubrique a:visited,
.linkListOrange a:visited 	{ color : #FF902B; text-decoration : none; }
.linkRubrique a:hover 		{ color : #FF902B; text-decoration : underline; }

.linkListOrange,
.linkListGrey { clear : none; overflow : auto; }

.linkListGrey { font-weight : normal; }
.linkListGrey a,
.linkListGrey a:visited { color : #585959; text-decoration : none; }
.linkListGrey a:hover 	{ color : #585959; text-decoration : underline; }


#content .column2_2 .blockWithImageBg,
#content .column3_3 .blockWithImageBg { width : 174px; padding : 0px 4px 0px 4px; color : #ffffff; }

#content .column2_2 .blockWithImageBg a,
#content .column2_2 .blockWithImageBg a:visited
#content .column3_3 .blockWithImageBg a,
#content .column3_3 .blockWithImageBg a:visited	{ color : #ffffff; }

#content .column2_2 .blockWithImageBg a:hover
#content .column3_3 .blockWithImageBg a:hover	{ text-decoration : underline; }

.listsuccess ul li { width:100%; background : url('title_bg.gif') top left repeat-x; padding-left: 0px; padding-top : 15px; }
.listsuccess .visuel{float:left;margin-right:10px;}
.listsuccess .title{font-size: 20px;font-weight: bold;}
.listsuccess .date{font-size: 14px;color: #787878;font-weight: bold;display:block;}

.list_img{width:100%;}
.list_img ul{ list-style:none;}
.list_img ul li { clear:none; float:left;background:none;padding:0px; padding-left:4px;padding-bottom:4px;margin:0px;}
.list_img ul li a{ border:1px solid white;margin:0px;padding:0px; }




/* -------------- */
/*     FOOTER     */
/* -------------- */

#footer {
	clear: both;
	display : block;
	height : 40px;
	padding : 10px 0px 0px 0px;
	margin : 0px 0px 0px 0px;
	font-size : 11px;
	color : #4078C2;
	text-align : left;
	background : url('footer_bg.gif') top left repeat-x;
	overflow	: hidden;
}
#footer ul			{list-style: none;}
#footer li			{float : left ; padding-left : 5px;}
#footer a 			{ color : #4078C2; text-decoration : none; }
#footer a:visited 	{ color : #4078C2; text-decoration : none; }
#footer a:hover 	{ color : #0951B1; text-decoration : underline; }



/* TABS */
dl.tabbed{
 position: relative;
 width: 100%;
 clear:both;
 }
dl.tabbed dt.dltab-active{
 color: #000;
 background: #FFF;
 border: 1px solid #AD0C90;
 }
dl.tabbed div{
 background: #FFF;
 border: 1px solid #AD0C90;
 border-left : 0px;
 border-right : 0px;
 border-bottom : 0px;
 position: relative;
 top: -1px;
 /*overflow : visible;*/
 padding: 0px;
 margin: 0;
 }
 dl.tabbed div div{
border:none
 }


dl.tabbed dt{
 display: inline;
 padding:  0;
 margin: 0 3px 0 0;
 font-weight: bold;
 width :50px;
 height : 60px;
 }
dl.tabbed dt.dltab-active{
display : inline;
 position: relative;
 z-index: 5;
 color: #4078C2;
 background: #FFF;
 padding: 0 .6em;
 border-bottom: 1px solid #FFF;
  height:60px;
 }
dl.tabbed dt a{
display : inline;
width : 50px;
 color: #585959;
 background: #CCC;
 text-decoration: none;
 margin: 0;
 padding: 0 .6em;
 background : url('box_brands_bg_type.gif') bottom left repeat-x; 
 border: 1px solid #DDD;
 border-bottom : 0px;
 height:60px;
 }
dl.tabbed dt a:hover{
 color: #FAA711;
 background: #FFF;
 text-decoration: none;
 background : url('box_brands_bg_type.gif') bottom left repeat-x; 
 }
dl.tabbed div a{
 color: #7F7F7F;
 text-decoration: none;
 }
dl.tabbed div a:hover{
 color: #FAA711;
 text-decoration: underline;
 }
dl.tabbed div a:visited{
 color: #7F7F7F;
 }
 dl.tabbed ul{
 margin : 0px;
 padding : 0px;
 list-style : none;
 height : 1px;
 }
 dl.tabbed li{
 margin : 5px;
 padding : 0px;
 float : left;
 width : 95px;
 font-weight : bold;
 }
 dl.tabbed ul ul{
 margin-top : 3px;
 padding : 0px;
 list-style : none;
 }
 dl.tabbed li li{
 margin : 0px;
 padding : 0px;
 padding-left : 10px;
 width : 90px;
 font-weight : normal;
 background : url('arrow_orange.gif') top left no-repeat;
 }


#tabs{
      margin:0px;
      padding:0px;
	list-style	: none;
	background	: url('onglet_bg.gif') repeat-x left top;
	height	: 35px;
	background-color : #F9F4E3;
}
#tabs li{ 
	background:url('onglet_off_r.gif') no-repeat top right;
	float: left;
}
#tabs li a{ 
	background:url('onglet_off_l.gif') no-repeat top left;
	padding:10px 8px 7px 8px;
	display:block;
	color	: #5889CA;
	font-weight:bold;
	font-size:12px;
}
#tabs li.on{ 
	background:url('onglet_on_r.gif') no-repeat top right;
}
#tabs li.on a{ 
	background:url('onglet_on_l.gif') no-repeat top left;
	color	: #BD950A;

}
div.tabscontent{
	background-color : #F9F4E3;
	padding	: 0px 4px 0px 4px;
	margin	: 0px 0px 0px 0px;
	border: 1px solid #F9F4E3;
}
div.tabscontent ul { margin : 0px; padding : 0px; margin-top : 8px; margin-bottom : 4px;  list-style : none; }
div.tabscontent li { margin : 0px; clear : left; padding : 0px 2px 2px 10px; font-size : 11px; background : url('arrow_orange.gif') top left no-repeat; }

div.tabscontent li a,
div.tabscontent li a:visited 	{ color : #FF902B;  }
div.tabscontent li a:hover	{ color : #FF902B; text-decoration : underline; }

div.aftertabs{
	background	: url('onglet_bg_after.gif') repeat-x left top;
	height	: 17px;
}

.contentOver{
	color	: white;
}
div.tabscontent.contentOver li,
div.tabscontent.contentOver li a,
div.tabscontent.contentOver li a:visited 	{ color : #FF902B;  }
div.tabscontent.contentOver li a:hover	{ color : #FF902B; text-decoration : underline; }


		.boxDiscoverBrands {
			height : 68px;
			background : url('box_discover_bg.gif') top left no-repeat;
		}

		.boxDiscoverBrands .searchFields {
			margin-top : 10px;
			margin-left : 5px;
	float:left;
		}

		.boxDiscoverBrands .searchFields select {
			color : #4078C2;
			width : 140px;
			margin-top : 5px;
			font-size	: 9px;
		}

div#homethumbs{
position : relative;
top : 14px;
left : 10px;
float:left;
}
div#homethumbs ul{
list-style: none;
}
div#homethumbs ul li{
background	: none;
clear:none; 
float:left;
}

div#homethumbs a{
	padding:1px;
	margin:2px;
	border:1px solid #cccccc;
	display:block;
}

/*     FORMULAIRE LOGIN     */

#contentBoxLogin { clear : both; margin-top : 13px; width : 400px; text-align : center;	}
#contentBoxLogin .boxForm { padding : 5px; border : 1px solid #a0a0a0; background-color : #fbfbfb; }

.boxForm label { width : 140px; }
.formBox 		{ padding : 8px; display : block; border : 1px solid #bbbbbb; margin-bottom : 10px; }
.formElement 	{ width : 100%; display : block; margin-top : 6px; float : left; text-align : left; overflow : visible; }

label 			{ display : inline; float : left; width : 20%; text-align : right; padding-right : 10px; padding-top : 2px; }
label.error 	{ color : #BE2020; font-weight : bold; }
label.disabled	{ text-decoration : line-through; }

fieldset 		{ margin-top : 10px; margin-bottom : 30px; border : 0px; border-top : 1px solid #274F86; }

legend 			{ color: #274F86; font-weight : bold; padding-bottom : 4px; }
.button 		{ cursor : pointer;color : #000000; background-color : #E0DFE3; padding-left : 6px; padding-right : 6px; margin : 5px; border: 2px outset #EEEDF1; }

 
 
 /* --------------- */
/*     ERREURS     */
/* --------------- */

.blockListErrors {
	padding : 8px;
	display : block;
	border : 1px solid #9B3E3E;
	color : #401D1D;	
	background-color : #EFDBDB;
	margin-bottom : 10px;
	text-align : left;
}	

.blockListErrors ul { list-style : none; }
.blockListErrors li { list-style : none; }

.blockErrors div {
	display : inline;
	padding-top : 4px;
	color : #6B2B2B;
}
