#header,
#footer,
#menutop,
#menuleft,
#sharePrice,
.listTools,
.archives
{
	display: none;
}
#mask {
	margin: 0px 12px 0px 12px;
	padding: 0px;
	width: 640px;
	background-color : #ffffff;
	position: relative;
	left: 0px;
}
.column1_1,
.bgContent
{
float:left;
width : 640px;
}

.column2_2,
.column3_3
{
float:right;
}
