/* CSS Document */
html { 
	overflow-y: scroll;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family:"arial",sans-serif;
	font-size:11px;
	color:#000096;
}
a:visited{
	color:#000096;
	text-decoration:underline;
}
a{
	color:#000096;
	text-decoration:underline;
	font-size:11px;
}
a:hover{
	color:#000066;
	text-decoration:none;
}
input.normal {
border:1px solid #003366;
background-color:#e4eef7;
font-family:"arial",sans-serif;
font-size:11px;
color:#003366;
}

.menubas {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#3c75d4;
}

.bordurebleu1px {
border-style:solid;
border-width: 1px;
border-color: #003366;
}

.bordurebleuclair1px {
border-style:solid;
border-width: 1px;
border-color:#96CFFA;
}

.bordurebleudroite1px {
border-right-style:solid;
border-right-width: 1px;
border-right-color: #003366;
}

.bordurebleudroite-top1px {
border-right-style:solid;
border-top-style:solid;
border-right-width: 1px;
border-top-width: 1px;
border-right-color: #003366;
border-top-color: #003366;
}

.bordureorangedroite-1px {
border-right-style:solid;
border-right-width: 1px;
border-right-color: #f2d635;
}

.borduretop1px {
border-top-style:solid;
border-top-width: 1px;
border-top-color: #003366;
}

.bordurebottom1px {
border-bottom-style:solid;
border-top-width: 1px;
border-top-color: #003366;
}

a.menubas {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#3c75d4;
text-decoration:none;
}

a.menubas:hover {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#3c75d4;
text-decoration:underline;
}

.textebleu10 {
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#000096;
}

.textebleu {
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#000096;
}

.textebleu {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#000096;
}

.textenoir11 {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#ffffff;
}

.texterouge11 {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#CC0000;
}

.texterouge11bold {
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:11px;
color:#CC0000;
}

.texterouge12bold {
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:12px;
color:#CC0000;
}

.texteblanc10 {
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#FFFFFF;
}

.texteblanc11 {
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:11px;
color:#FFFFFF;
}

.textegris11 a{
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:11px;
color:#333333;
}

.textegris11 a:hover{
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:11px;
color:#333333;
}

.texteblanc12 {
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:12px;
color:#FFFFFF;
}

.texteorange12 {
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:12px;
color:#ffac00;
}

.texteblanc14 {
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:14px;
color:#FFFFFF;
}

.textegris12 {
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:12px;
color:#000066;
}

.textegris14 {
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:14px;
color:#000066;
}

.textebleugras {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#003399;
}

.titretemoignage {
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
font-weight:bold;
color:#000096;
}

.soustitretemoignage {
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#000096;
}

a.textebleugras {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#003399;
text-decoration:none;
}

a.textebleugras:hover {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#003399;
text-decoration:none;
}

td.opaque {
filter:alpha(opacity=80);
}