#pageflip {
	position: relative;
	background: transparent;
	right: 0; top: 0;
	float: right;
	z-index: 110; 
}
#pageflip img {
	background: transparent;
	width: 140px; height: 140px;
	z-index: 1100000;
	position: absolute;
	right: 0; top: 0;
	-ms-interpolation-mode: bicubic;
	filter:alpha(opacity=90);
	opacity:0.9;
}
