/* CSS Document */
.dispNone{display:none;}
.block{display:block}
/*margin*/
.marginTop_7{margin-top:7px;}
.marginTop_10{margin-top:10px;}
.marginTop_20{margin-top:20px;}

.marginTop_2{margin-top:2px;}
.marginTop_neg_4{margin-top:-4px;}
.marginTop_neg_30{margin-top:-30px;}
.marginRight_15{margin-right:20px;}
.marginRight_10{margin-right:5px;}
.marginBot_7{margin-bottom:7px;}
.marginBot_15{margin-bottom:15px;}
.marginBot_35{margin-bottom:35px;}
.marginBot_22{margin-bottom:22px;}
.marginBot_20{margin-bottom:20px;}
.marginLeft_neg_10{margin-left:-10px;}
/*padding*/
.paddingTop_4{padding-top:4px;}
.paddingLeft_15{padding-left:15px;}
/*width*/
.width480{width:480px;}
.width474{width:474px;}
.width360{width:360px;}
.width325{width:325px;}
.width315{width:315px;}
.width285{width:285px;}
.width233{width:233px;}
.width231{width:231px;}
.width220{width:220px;}
.width224{width:224px;}
.width153{width:153px;}
.width147px{width:147px;}
.width85{width:85px;}
.width70{width:70px;}
.width224{width:224px}
.width100pc{width:100%}


.f9{font-size:9px;}
/*img page d'accueil*/
.destinationMoment{background-image:url(img_malte.jpg);}
.miseEnAvantCollection{background-image:url(img_collection.jpg)}
.lyonRegion{background-image:url(illustr_lyon.jpg);}

/*  bandeaux disponibles pour le header */
.bandeauPassager1{background-image:url(bandeau_passager_1.jpg);}
.bandeauPassager2{background-image:url(bandeau_passager_2.jpg);}
.bandeauPassager3{background-image:url(bandeau_passager_3.jpg);}

.bandeauPro1{background-image:url(bandeau_pro_1.jpg);}
.bandeauPro2{background-image:url(bandeau_pro_2.jpg);}
.bandeauPro3{background-image:url(bandeau_pro_3.jpg);}

.bandeauLesAeroports1{background-image:url(bandeau_aero_1.jpg);}
.bandeauLesAeroports2{background-image:url(bandeau_aero_2.jpg);}
.bandeauLesAeroports3{background-image:url(bandeau_aero_3.jpg);}

.bandeauAdmin{background-image:url(header_admin.jpg);}

/*bordure*/
.bordureBottomGris{border-bottom:1px solid #d2d2d2;}


.imputRecherche{
	border:1px solid red;
}

.textFondBleu{
	position:relative;
	border:1px solid #d4d4d4;
	background-image:url(fondTexteFdBleu.jpg);background-repeat:repeat-y;
	padding:13px;
	line-height:18px;
}