/* CSS Document */

/*
*   Css spécifiant les couleurs du menu de la colonne de gauche.
*   --> affichage en couleur VIOLET : partie 'Passagers'
*
*/


.bloc_couleur{
	position:relative;
	width:171px !important; width :187px;
	height:auto;
	background-image:url(fond_menu_sec.gif);
	background-repeat:repeat-y;
	padding:4px 8px 3px 8px;
	color:#d7abbb;
}

#menu_sec.bloc_couleur ul li.separateur_menu{
	display:block;
	position:relative;
	background-image:url(separateurMenu.gif);
	background-position:bottom;
	background-repeat:no-repeat;
	padding:0px 0px 5px 0px;
}
#menu_sec.bloc_couleur ul li ul{
	border:0px solid #FFFF00;
	background-image:url(separateurMenu.gif);
	background-position:0px 2px;
	background-repeat:no-repeat;
}
.bloc_couleur a{
	color:#d7abbb;
	text-decoration:none;
	background-image:url(puce_menu_sec.gif);
	background-repeat:no-repeat;
	background-position:0px 5px;
	padding:0px 0px 0px 10px;
}
	
	
#info_pratique.bloc_couleur a{
	background-image:url(puce2_menu_sec.gif);
}