@charset "utf-8";
/* CSS Document */

/* body */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	background-color: #FFFFFF;
	margin-top: 0px;
}

/* texte */
.surtitre {
	color: #beb4aa;
	font-size: 1.5em;
	text-align:right;
}
.date {
	color: #000;
	font-size: 1.1em;
}

.jaune {
	color: #faaa00;
}
.vert {
	color: #b1c800;
}
.bleu {
	color: #3296b4;
}
.bleufdblanc {
	color: #3296b4;
	background-color: #FFFFFF;	
}
.bleufdgris {
	color: #3296b4;
	background-color: #e0dcd8;	
	font-size: 1.2em;
}
.noirfdjaune {
	color: #000;
	background-color: #faaa00;
}

.rose {
	color: #c73558;
}

.noir {
	color: #000;
}
.blanc {
	color: #fff;
}
.noir {
	color: #000;
}
.gris {
	color: #beb4aa;
}

h1 {
	font-size: 1.4em;
	color: #fa8c19;
}

h2 {
	font-size: 1em;
	color: #3296b4;
	font-weight: bold;
	text-transform: uppercase;
}
h3 {
	font-size: 1.1em;
	color: #b1c800;
	font-weight: bold;
}

/* div */


a.lienbleu {color:#3296b4; text-decoration:none;}
a.lienbleu:hover {color:#000; text-decoration:none;}
a.liennoir {color:#000; text-decoration:none;}
a.liennoir:hover {color:#000; text-decoration:underline; }
a.lienmarron {
	color:#c73558;
	text-decoration:none;
	font-style: italic;
}
a.lienmarron:hover {color:#000; text-decoration:none;}
a.lienvert {
	color:#dcd264;
	text-decoration:none;
	font-weight: bold;
}
a.lienvert:hover {color:#000; text-decoration:none;}
