@charset "utf-8";
/* --------------------------------------------------------------------------------------------- Reset */
	* {
		padding:0;
		margin:0
	}
	body {
		font-size:62.5%;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		color:#5d6163;
		background:#e4dfda
	}
/* ----------------------------------------------------------------------------------- Lien */
	a {text-decoration:none}
	a:hover, a:focus, a.focus {text-decoration:underline}
	a img {border:none}
/* ----------------------------------------------------------------------------------- Liste */
	ul {list-style:none}
/* ----------------------------------------------------------------------------------- Emphase */
	strong {font-weight:bold}
	em {font-style:italic}
/* ----------------------------------------------------------------------------------- Autres */
	abbr,
	acronym {
		border-bottom:1px dotted;
		cursor:help
	}
	a abbr,
	a acronym {cursor:pointer}
	address {font-style:normal}
	kbd {
		font-size:1.2em;
		background:#e5e5e5;
		padding:0 2px;
		border:solid 1px #ccc;
		border-right:solid 1px #999;
		border-bottom:solid 1px #999
	}
/* --------------------------------------------------------------------------------------------- Récurrent */
	.masquer {
		overflow:hidden;
		position:absolute;
		left:-10000px;
		top:auto;
		width:1px;
		height:1px
	}
	.retour_chariot {clear:both}
	span.separation {
		display:block;
		overflow:hidden;
		height:0px;
		border-top:1px solid #cfcbc3;
		margin:5px 0
	}
/* ----------------------------------------------------------------------------------- Liens */
	p.voir_tout {
		overflow:hidden;
		clear:both;
		text-align:right;
		font-family:Arial, Helvetica, sans-serif;
		background:#f7f6f2;
		border-top:1px solid #dedace;
		padding:2px 15px
	}
	p.voir_tout.espacement {
		border:0;
		margin-bottom:15px
	}
	body p.voir_tout a {
		color:#5c5a55;
		background:url(puce01.gif) no-repeat left 5px;
		padding:0 0 0 10px;
		text-decoration:underline
	}
	p.voir_tout a:hover, p.voir_tout a:focus, p.voir_tout a.focus {text-decoration:none}
	#colonne02 p.voir_tout {
		text-align:center;
		padding-bottom:2px;
		margin-left:6px;
		margin-right:6px
	}
	body.sous_niveaux_2_noeud_10991 #colonne02 p.voir_tout {font-size:.9em}
	a.lien_externe {
		background:url(lien_externe.gif) no-repeat right center;
		padding:0 14px 0 0
	}
	a.flux_rss {
		background:url(flux_rss.gif) no-repeat left center;
		padding:0 0 0 16px
	}
/* ----------------------------------------------------------------------------------- Formulaire */
/* ------------------------------------------------------------------------- Champs */
	input.champ:hover {background:#faf8f6}
	input.champ:focus, input.champ.focus {background:#f3eee9}
/* ------------------------------------------------------------------------- Boutons */
	input.bouton {
		font-family:tahoma;
		font-size:1em;
		color:#fff;
		background:#0f67a8;
		border:1px solid #7f9db9;
		padding:1px;
		cursor:pointer
	}
	input.bouton.secondaire {
		background:#888;
		border:1px solid #777
	}
	input.bouton:hover,
	input.bouton:focus,
	p.accessiform input.bouton:hover,
	p.accessiform input.bouton:focus {background:#3883bd}
	input.bouton.secondaire:hover, input.bouton.secondaire:focus {background:#999}
/* --------------------------------------------------------------------------------------------- Global */
	#global {
		overflow:hidden;
		width:978px;
		font-size:1.1em;
		background:#fff url(global.gif) repeat-y;
		padding:1px 5px 0 5px;
		margin:0 auto
	}
/* ----------------------------------------------------------------------------------- Accès rapide */
	#global ul.acces_rapide {
		font-family:Arial, Helvetica, sans-serif;
		color:#fff;
		background:#34332f;
		padding:2px 0 1px 15px;
		margin:0 0 1px 0
	}
	#global ul.acces_rapide li {
		display:inline;
		margin:0 10px 0 0
	}
	#global ul.acces_rapide li a, #global ul.acces_rapide li strong {
		color:#fff;
		margin:0 10px 0 0
	}
/* ----------------------------------------------------------------------------------- Date de validité des informations */
	#date_infos_valables {display:none}
/* ----------------------------------------------------------------------------------- Entête */
	#entete {
		overflow:hidden;
		height:100%;
		background:url(entete.gif) repeat-y;
		margin:0 0 1px 0
	}
/* ------------------------------------------------------------------------- Flash */
	#animation_flash {
		float:right;
		width:606px;
		height:101px;
		background:url(entete.jpg) no-repeat
	}
	#animation_flash p {
		text-align:right;
		background:#fff;
		padding:5px;
		margin:10px 0 0 0
	}
	#animation_flash p a {
		color:#0069a3;
		text-decoration:underline
	}
	#animation_flash p a:hover, #animation_flash p a:focus, #animation_flash p a.focus {text-decoration:none}
/* ------------------------------------------------------------------------- Logo */
	#entete img.logo {margin:8px 0 0 7px}
/* ------------------------------------------------------------------------- h1 */
	#entete h1 {margin:9px 0 0 24px}
	#entete h1 a {color:#1677a9}
/* ----------------------------------------------------------------------------------- Navigation */
	#navigation {	
		overflow:hidden;
		height:100%;
		background:#ece4ce url(navigation.gif) repeat-x left bottom;
		padding:0 0 2px 0
	}
/* ------------------------------------------------------------------------- Choix langue */
	#choix_langue {
		float:right;
		font-weight:bold;
		color:#5f5e5a;
		border-left:1px solid #fff;
		padding:5px 7px 4px 9px
	}
/* ------------------------------------------------------------------------- Recherche */
	#navigation form {
		float:right;
		border-left:1px solid #fff;
		border-right:1px solid #dedace;
		padding:3px 4px 3px 5px
	}
	#navigation form input.champ {
		float:left;
		width:102px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:1em;
		color:#000;
		border:1px solid #7f9db9;
		border-right:0;
		padding:2px 0 2px 3px
	}
	#navigation form input.bouton {
		float:left;
		background:#0b63a4 url(chercher.gif) repeat-x left top
	}
/* ------------------------------------------------------------------------- Liste de liens */
	#navigation ul {
		float:right;
		font-weight:bold;
		border-right:1px solid #dedace;
		padding:5px 0 4px 0
	}
	#navigation ul li {
		float:left;
		margin:0 6px 0 0
	}
	#navigation ul li a, #navigation ul li strong {
		color:#4c4b48;
		padding:0 3px;
		margin:0 3px 0 0
	}
	#navigation ul li a:hover,
	#navigation ul li a:focus,
	#navigation ul li a.focus,
	#navigation ul li strong {background:#fff}
/* ----------------------------------------------------------------------------------- Navigation principale */
	#navigation_principale {
		font-size:1.2em;
		font-weight:bold;
		background:url(navigation_principale.gif) repeat-x
	}
	#navigation_principale li {display:inline}
	#navigation_principale li a, #navigation_principale li strong {
		float:left;
		color:#fff;
		background:#ff8c00 url(navigation_principale_a_couleur01.gif) repeat-x;
		padding:8px 32px 7px 31px;
		margin:0 1px 0 0
	}
	#navigation_principale #noeud_10683 a, #navigation_principale #noeud_10683 strong {
		padding-right:33px;
		margin-right:0
	}
	#navigation_principale li a:hover, #navigation_principale li a:focus, #navigation_principale li a.focus {
		padding-bottom:6px;
		border-bottom:1px solid #fff
	}
	/* Solidarité et Santé */
	#navigation_principale #noeud_10681 a:hover,
	#navigation_principale #noeud_10681 a:focus,
	#navigation_principale #noeud_10681 a.focus,
	#navigation_principale #noeud_10681 strong,
	body.sous_niveaux_2_noeud_10681 #navigation_principale #noeud_10681 a {background:#df5d8e url(navigation_principale_a_couleur02.gif)}
	/* Sport et loisirs */
	#navigation_principale #noeud_10679 a:hover,
	#navigation_principale #noeud_10679 a:focus,
	#navigation_principale #noeud_10679 a.focus,
	#navigation_principale #noeud_10679 strong,
	body.sous_niveaux_2_noeud_10679 #navigation_principale #noeud_10679 a {background:#ee3d32 url(navigation_principale_a_couleur03.gif)}
	/* Education */
	#navigation_principale #noeud_10680 a:hover,
	#navigation_principale #noeud_10680 a:focus,
	#navigation_principale #noeud_10680 a.focus,
	#navigation_principale #noeud_10680 strong,
	body.sous_niveaux_2_noeud_10680 #navigation_principale #noeud_10680 a {background:#3275ee url(navigation_principale_a_couleur04.gif)}
	/* Europe */
	#navigation_principale #noeud_10685 a:hover,
	#navigation_principale #noeud_10685 a:focus,
	#navigation_principale #noeud_10685 a.focus,
	#navigation_principale #noeud_10685 strong,
	body.sous_niveaux_2_noeud_10685 #navigation_principale #noeud_10685 a {background:#003399 url(navigation_principale_a_couleur05.gif)}
	/* Développement */
	#navigation_principale #noeud_10684 a:hover,
	#navigation_principale #noeud_10684 a:focus,
	#navigation_principale #noeud_10684 a.focus,
	#navigation_principale #noeud_10684 strong,
	body.sous_niveaux_2_noeud_10684 #navigation_principale #noeud_10684 a {background:#62a100 url(navigation_principale_a_couleur06.gif)}
	/* Culture */
	#navigation_principale #noeud_10682 a:hover,
	#navigation_principale #noeud_10682 a:focus,
	#navigation_principale #noeud_10682 a.focus,
	#navigation_principale #noeud_10682 strong,
	body.sous_niveaux_2_noeud_10682 #navigation_principale #noeud_10682 a {background:#90215d url(navigation_principale_a_couleur07.gif)}
	/* L'institution */
	#navigation_principale #noeud_10683 a:hover,
	#navigation_principale #noeud_10683 a:focus,
	#navigation_principale #noeud_10683 a.focus,
	#navigation_principale #noeud_10683 strong,
	body.sous_niveaux_2_noeud_10683 #navigation_principale #noeud_10683 a {background:#614246 url(navigation_principale_a_couleur08.gif)}
/* ----------------------------------------------------------------------------------- Principal */
	#principal {
		float:left;
		width:100%;
		/*min-height:625px;*/
		background:url(principal.gif) no-repeat 204px bottom;
		padding:8px 0 0 0
	}
	body.sous_niveaux_2_noeud_10681 #principal {border-top:2px solid #df5d8e}
	body.sous_niveaux_2_noeud_10679 #principal {border-top:2px solid #ee3d32}
	body.sous_niveaux_2_noeud_10680 #principal {border-top:2px solid #4575c9}
	body.sous_niveaux_2_noeud_10685 #principal {border-top:2px solid #003399}
	body.sous_niveaux_2_noeud_10684 #principal {border-top:2px solid #62a100}
	body.sous_niveaux_2_noeud_10682 #principal {border-top:2px solid #90215d}
	body.sous_niveaux_2_noeud_10683 #principal {border-top:2px solid #614246}
/* ------------------------------------------------------------------------- Colonne01 (gauche) */
	#colonne01 {
		position:relative;
		float:left;
		width:208px;
		min-height:560px;
		font-family:Arial, Helvetica, sans-serif;
		background:url(colonne01.gif) no-repeat
	}
	#sparadra {
		position:absolute;
		top:-8px;
		right:0;
		width:4px;
		height:8px;
		font-size:0;
		background:#fff
	}
/* --------------------------------------------------------------- h2 */
	#colonne01 h2 {
		overflow:hidden;
		font-size:1.1em;
		color:#fff;
		background:#5f4f48 url(colonne01_h2.gif) repeat-y right top;
		padding:4px 10px 3px 17px
	}
	#colonne01 h2.premier {
		background-image:url(colonne01_h2_premier.gif);
		background-repeat:no-repeat
	}
/* --------------------------------------------------------------- Accès direct */
	#acces_direct {
		overflow:hidden;
		margin:0 5px 0 0
	}
	#acces_direct li {clear:both}
	#acces_direct li a {
		display:block;
		float:left;
		width:198px;
		color:#343233;
		border-top:1px solid #fff;
		border-bottom:1px solid #cfcbc3;
		padding:5px 5px 5px 0;
		cursor:pointer
	}
	#acces_direct li a strong {display:block}
	#acces_direct li a.bleu {background:#cedaee}
	#acces_direct li a.rose {background:#ffe0ec}
	#acces_direct li a span.illustration {
		float:left;
		width:40px;
		text-align:center;
		margin:0 8px 0 0
	}
	#acces_direct li a span.sous_titre {
		display:block;
		height:1%;
		margin:0 0 0 48px
	}
/* --------------------------------------------------------------- Navigation contextuelle */
/* ----------------------------------------------------- H2 */
	#colonne01 #navigation_contextuelle_titre {
		/**/position:relative;
		line-height:1em;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:2.3em;
		color:#fff;
		background:#666 url(navigation_contextuelle_h2.gif) repeat-y right top;
		padding:20px 15px; 
		/**/margin-top:-8px
	}
	body.sous_niveaux_2_noeud_10681 #colonne01 #navigation_contextuelle_titre {background-color:#df5d8e}
	body.sous_niveaux_2_noeud_10679 #colonne01 #navigation_contextuelle_titre {background-color:#ee3d32}
	body.sous_niveaux_2_noeud_10680 #colonne01 #navigation_contextuelle_titre {background-color:#4575c9}
	body.sous_niveaux_2_noeud_10685 #colonne01 #navigation_contextuelle_titre {background-color:#003399}
	body.sous_niveaux_2_noeud_10684 #colonne01 #navigation_contextuelle_titre {
		font-size:2em;
		background-color:#62a100
	}
	body.sous_niveaux_2_noeud_10682 #colonne01 #navigation_contextuelle_titre {background-color:#90215d}
	body.sous_niveaux_2_noeud_10683 #colonne01 #navigation_contextuelle_titre {background-color:#614246}
	body.sous_niveaux_2_noeud_10991 #colonne01 #navigation_contextuelle_titre {background-color:#5f4f48}
/* ----------------------------------------------------- Boîte de connexion */
	#boite_connexion {
		font-size:1.1em;
		background:#5f4f48 url(connecte.gif) repeat-x;
		padding:8px 15px;
		margin:0 4px 0 0
	}
	#boite_connexion strong.titre {
		display:block;
		font-weight:bold;
		color:#fff;
		margin:0 0 2px 0
	}
	#boite_connexion form {padding:0 0 5px 0}
	#boite_connexion label {color:#fff}
	#boite_connexion p {margin:0 0 5px 0}
	#boite_connexion input.champ {
		width:169px;
		font-size:.9em;
		color:#000;
		border:1px solid #ffa32c;
		padding:2px 0 2px 3px;
		margin:2px 0 0 0
	}
	#boite_connexion input.bouton {float:right}
	#boite_connexion a {color:#ffa32c}
	#boite_connexion form a {font-size:.9em}
/* ----------------------------------------------------- Liste de liens */
/* ------------------------------------------- Premier niveau */
	#navigation_contextuelle {
		height:100%;
		font-size:1.1em;
		font-weight:bold;
		margin:0 5px 0 0
	}
	body.sous_niveaux_2_noeud_10991 #navigation_contextuelle {padding-bottom:25px}
	#navigation_contextuelle li {
		background:url(separation.gif) repeat-x left bottom;
		padding:0 0 2px 0
	}
	#navigation_contextuelle li a,
	#navigation_contextuelle li strong {
		display:block;
		height:100%;
		color:#462843;
		padding:4px 15px
	}
	body.sous_niveaux_2_noeud_10679 #navigation_contextuelle li a,
	body.sous_niveaux_2_noeud_10679 #navigation_contextuelle li strong {color:#682f02}
	body.sous_niveaux_2_noeud_10680 #navigation_contextuelle li a,
	body.sous_niveaux_2_noeud_10680 #navigation_contextuelle li strong {color:#041d48}
	body.sous_niveaux_2_noeud_10681 #navigation_contextuelle li a,
	body.sous_niveaux_2_noeud_10681 #navigation_contextuelle li strong {color:#462843}
	body.sous_niveaux_2_noeud_10682 #navigation_contextuelle li a,
	body.sous_niveaux_2_noeud_10682 #navigation_contextuelle li strong {color:#46102d}
	body.sous_niveaux_2_noeud_10683 #navigation_contextuelle li a,
	body.sous_niveaux_2_noeud_10683 #navigation_contextuelle li strong {color:#322224}
	body.sous_niveaux_2_noeud_10684 #navigation_contextuelle li a,
	body.sous_niveaux_2_noeud_10684 #navigation_contextuelle li strong {color:#2d4a00}
	body.sous_niveaux_2_noeud_10685 #navigation_contextuelle li a,
	body.sous_niveaux_2_noeud_10685 #navigation_contextuelle li strong {color:#041d48}
	body.sous_niveaux_2_noeud_10991 #navigation_contextuelle li a,
	body.sous_niveaux_2_noeud_10991 #navigation_contextuelle li strong {
		color:#46453f;
		padding-top:6px;
		padding-bottom:6px
	}
	#navigation_contextuelle li a:hover,
	#navigation_contextuelle li a:focus,
	#navigation_contextuelle li a.focus,
	#navigation_contextuelle li strong {background-color:#fff}
/* ------------------------------------------- Second niveau */
	#navigation_contextuelle li ul {
		font-size:1em;
		font-weight:normal;
		background:none;
		margin-right:0
	}
	#navigation_contextuelle li ul li {
		background-image:none;
		padding-bottom:0
	}
	#navigation_contextuelle li ul li a, #navigation_contextuelle li ul li strong {
		background-image:url(navigation_contextuelle_a.gif);
		background-repeat:no-repeat;
		background-position:30px 8px;
		padding-left:40px;
		padding-top:2px;
		padding-bottom:2px
	}
/* --------------------------------------------------------------- Flux RSS */
	#flux_rss {
		display:block;
		text-align:center;
		color:#0f4c9b;
		background:url(flux_rss_gd.gif) no-repeat center top;
		padding:40px 10px 0 10px;
		margin:30px 0 0 0;
		text-decoration:underline
	}
	#flux_rss:hover,
	#flux_rss:focus {text-decoration:none}
/* --------------------------------------------------------------- Contact */
	#contact {
		text-align:center;
		color:#525049;
		padding:10px 0 15px 0;
		margin:0 5px 0 0
	}
	body.sous_niveaux_2_noeud_10991 #contact {padding-bottom:0}
	body.sous_niveaux_2_noeud_10991 #contact address {
		background:url(separation.gif) repeat-x left bottom;
		padding-bottom:7px
	}
	#contact a {
		color:#0f4c9b;
		text-decoration:underline
	}
	#contact a:hover, #contact a:focus, #contact a.focus {text-decoration:none}
	#colonne01 div.contact {
		overflow:hidden;
		height:100%;
		line-height:1.4em;
		text-align:left;
		background:url(separation.gif) repeat-x left bottom;
		padding:7px 25px;
		margin:0 5px 0 0
	}
	#colonne01 div.contact img {
		float:left;
		margin:0 9px 0 0
	}
	#colonne01 div.contact h3 {
		font-size:1em;
		color:#525049
	}
	#colonne01 div.contact a {color:#004e9e}
/* ------------------------------------------------------------------------- Sous principal */
	#sous_principal {
		float:left;
		width:757px;
		padding:0 0 0 13px
	}
/* --------------------------------------------------------------- Outils */
	#outils01 {
		position:relative;
		float:right;
		padding:0 35px 0 20px;
		margin:-2px 0 0 0
	}
	#outils01 li {
		display:inline;
		margin:0 0 0 8px
	}
/* --------------------------------------------------------------- Fil d'ariane */
	#fil_ariane {
		font-family:Arial, Helvetica, sans-serif;
		color:#000;
		border-bottom:1px solid #dedace;
		padding:0 0 5px 0;
		margin:2px 0 18px 0
	}
	#fil_ariane a {color:#000}
/* --------------------------------------------------------------- Le saviez-vous ? */
	#saviez_vous {
		float:right;
		width:197px;
		color:#252525;
		padding:0 6px 0 0;
		margin:0 0 12px 0
	}
	#saviez_vous h2 {
		font-size:1em;
		background:#fff3b6 url(saviez_vous_titre.gif) no-repeat;
		padding:1px 15px 0 15px
	}
	#saviez_vous p {
		background:url(saviez_vous.gif) no-repeat left bottom;
		padding:10px 15px 25px 15px
	}
	#saviez_vous p a {
		display:block;
		text-align:right;
		color:#000;
		background:url(puce01.gif) no-repeat right center;
		padding:0 8px 0 0;
		margin:2px 0 0 0;
		text-decoration:underline
	}
	#saviez_vous p a:hover, #saviez_vous p a:focus, #saviez_vous p a.focus {text-decoration:none}
/* --------------------------------------------------------------- H2 */
/* ----------------------------------------------------- Habillage 01 (couleur sur typo) */
	h2.habillage01, #focus h2 {
		font-size:1.7em;
		font-weight:normal;
		color:#0073bc
	}
	body.sous_niveaux_2_noeud_10681 h2.habillage01, body.sous_niveaux_2_noeud_10681 #focus h2 {color:#df5d8e}
	body.sous_niveaux_2_noeud_10679 h2.habillage01, body.sous_niveaux_2_noeud_10679 #focus h2 {color:#d32c2c}
	body.sous_niveaux_2_noeud_10680 h2.habillage01, body.sous_niveaux_2_noeud_10680 #focus h2 {color:#072d71}
	body.sous_niveaux_2_noeud_10685 h2.habillage01, body.sous_niveaux_2_noeud_10685 #focus h2 {color:#072d71}
	body.sous_niveaux_2_noeud_10684 h2.habillage01, body.sous_niveaux_2_noeud_10684 #focus h2 {color:#538800}
	body.sous_niveaux_2_noeud_10682 h2.habillage01, body.sous_niveaux_2_noeud_10682 #focus h2 {color:#46102d}
	body.sous_niveaux_2_noeud_10683 h2.habillage01, body.sous_niveaux_2_noeud_10683 #focus h2 {color:#432e30}
	body.sous_niveaux_2_noeud_10991 h2.habillage01, body.sous_niveaux_2_noeud_10991 #focus h2 {color:#5f4f48}
/* ----------------------------------------------------- Habillage 02 (fond de couleur) */
	h2.habillage02, #colonne02 h2 {
		overflow:hidden;
		clear:both;
		font-family:Arial, Helvetica, sans-serif;
		font-size:1.1em;
		color:#fff;
		background:#137ab4;
		padding:3px 10px;
		margin:0 0 7px 0
	}
	body.sous_niveaux_2_noeud_10681 h2.habillage02, body.sous_niveaux_2_noeud_10681 #colonne02 h2 {background:#df5d8e}
	body.sous_niveaux_2_noeud_10679 h2.habillage02, body.sous_niveaux_2_noeud_10679 #colonne02 h2 {background:#ee3d32}
	body.sous_niveaux_2_noeud_10680 h2.habillage02, body.sous_niveaux_2_noeud_10680 #colonne02 h2 {background:#4575c9}
	body.sous_niveaux_2_noeud_10685 h2.habillage02, body.sous_niveaux_2_noeud_10685 #colonne02 h2 {background:#003399}
	body.sous_niveaux_2_noeud_10684 h2.habillage02, body.sous_niveaux_2_noeud_10684 #colonne02 h2 {background:#62a100}
	body.sous_niveaux_2_noeud_10682 h2.habillage02, body.sous_niveaux_2_noeud_10682 #colonne02 h2 {background:#90215d}
	body.sous_niveaux_2_noeud_10683 h2.habillage02, body.sous_niveaux_2_noeud_10683 #colonne02 h2 {background:#614246}
	body.sous_niveaux_2_noeud_10991 h2.habillage02, body.sous_niveaux_2_noeud_10991 #colonne02 h2 {background:#5f4f48}
	body.sous_niveaux_2_noeud_10708 #colonne02 h2 {background:#666}
/* --------------------------------------------------------------- Agenda */
	div.agenda {
		overflow:hidden;
		height:100%
	}
	div.agenda img {
		float:left;
		margin:0 10px 0 0
	}
	div.agenda h3 {
		line-height:1.3em;
		font-size:1.1em;
		color:#5f4f48
	}
	div.agenda h3 a {color:#5f4f48}
	div.agenda p {
		line-height:1.3em;
		margin:0 0 5px 0
	}
	div.agenda span {
		display:block;
		font-weight:bold;
		color:#ff8800;
		margin:0 0 5px 0
	}
	div.agenda a.lien_continuation {
		color:#ff8800;
		background:url(lien_continuation_couleur01.gif) no-repeat left center;
		text-decoration:none;
		padding:0 0 0 18px
	}
	div.agenda a.lien_continuation:hover,
	div.agenda a.lien_continuation:focus {text-decoration:underline}
/* --------------------------------------------------------------- Contenu */
	#contenu {
		float:left;
		width:540px;
		min-height:1px;
		font-size:1.1em;
		padding:0 11px 10px 0
	}
	#contenu.large {width:746px}
/* ----------------------------------------------------- Focus */
	#focus {margin:0 0 12px 0}
/* ----------------------------------------------------- Articles */
	div.article {
		overflow:hidden;
		height:100%;
		background:url(separation.gif) repeat-x left bottom;
		padding:6px 0 8px 0
	}
	div.article img {
		float:left;
		margin:0 10px 0 0
	}
	div.article.en_avant img {margin-right:13px}
	div.article h3 {
		line-height:1.2em;
		font-size:1.1em;
		color:#5f4f48;
		margin:0 0 2px 0
	}
	div.article.en_avant h3 {font-size:1.3em}
	div.article h3 a {color:#5f4f48}
	body.sous_niveaux_2_noeud_10679 div.article h3 a {color:#682f02}
	body.sous_niveaux_2_noeud_10680 div.article h3 a {color:#072d71}
	body.sous_niveaux_2_noeud_10681 div.article h3 a {color:#462843}
	body.sous_niveaux_2_noeud_10682 div.article h3 a {color:#90215d}
	body.sous_niveaux_2_noeud_10683 div.article h3 a {color:#614246}
	body.sous_niveaux_2_noeud_10684 div.article h3 a {color:#457100}
	body.sous_niveaux_2_noeud_10685 div.article h3 a {color:#072d71}
	div.article h3 span {
		font-size:.9em;
		color:#ff8800
	}
	div.article h3 span a {color:#ff8800}
	div.article h3 span.date {
		font-weight:normal;
		color:#707070
	}
	body.sous_niveaux_2_noeud_10681 div.article h3 span, body.sous_niveaux_2_noeud_10681 div.article h3 span a {color:#d25d8e}
	body.sous_niveaux_2_noeud_10679 div.article h3 span, body.sous_niveaux_2_noeud_10679 div.article h3 span a {color:#ee3d32}
	body.sous_niveaux_2_noeud_10680 div.article h3 span, body.sous_niveaux_2_noeud_10680 div.article h3 span a {color:#4575c9}
	body.sous_niveaux_2_noeud_10685 div.article h3 span, body.sous_niveaux_2_noeud_10685 div.article h3 span a {color:#4575c9}
	body.sous_niveaux_2_noeud_10684 div.article h3 span, body.sous_niveaux_2_noeud_10684 div.article h3 span a {color:#ff690e}
	body.sous_niveaux_2_noeud_10682 div.article h3 span, body.sous_niveaux_2_noeud_10682 div.article h3 span a {color:#ff690e}
	body.sous_niveaux_2_noeud_10683 div.article h3 span, body.sous_niveaux_2_noeud_10683 div.article h3 span a {color:#ff690e}
	body.sous_niveaux_2_noeud_10991 div.article h3 span, body.sous_niveaux_2_noeud_10991 div.article h3 span a {color:#5f4f48}
	div.article p {line-height:1.4em}
	div.article p {padding-bottom:3px}
	div.article.en_avant p {
		/*line-height:1.4em;*/
		font-size:1.1em
	}
	div.article a.lien_continuation {
		color:#ff8800;
		background:url(lien_continuation_couleur01.gif) no-repeat left center;
		text-decoration:none;
		padding:0 0 0 18px
	}
	div.article a.lien_continuation:hover,
	div.article a.lien_continuation:focus {text-decoration:underline}
/* ----------------------------------------------------- Agenda */
	#contenu div.agenda {
		float:left;
		width:230px;
		padding:0 20px;
		margin:10px 0
	}
	#contenu div.agenda.droite {
		width:249px;
		border-left:1px solid #e5e2d8;
		padding-right:0
	}
/* ----------------------------------------------------- Liens utiles */
	#liens_utiles {
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:.9em;
		table-layout:fixed;
		border-collapse:collapse
	}
	#liens_utiles tr td {
		width:170px;
		vertical-align:top;
		text-align:center;
		padding:0 5px 20px 5px
	}
	#liens_utiles tr td a {color:#5c494f}
	#liens_utiles tr td a img {margin:0 0 4px 0}
	#liens_utiles tr td a span {display:block}
	#liens_utiles tr td a:hover span, #liens_utiles tr td a:focus span, #liens_utiles tr td a.focus span {text-decoration:underline}
/* --------------------------------------------------------------- Colonne02 (droite) */
	#colonne02 {
		float:left;
		width:203px;
		/*min-height:490px;*/
		font-family:Arial, Helvetica, sans-serif;
		font-size:1.1em;
		background:url(colonne02.gif) no-repeat left bottom;
		padding:0 0 10px 3px;
		margin:-3px 0 10px 0
	}
/* ----------------------------------------------------- Vidéo */
	#colonne02 div.video {
		text-align:center;
		padding:0 0 5px 0
	}
	#colonne02 div.video.en_avant {
		background:#000;
		margin-top:-7px
	}
	#colonne02 div.video img {
		vertical-align:middle;
		margin:0 0 3px 0
	}
	#colonne02 div.video a {
		display:block;
		color:#34332f;
		text-decoration:underline
	}
	#colonne02 div.video.en_avant a {color:#fff}
	#colonne02 div.video a:hover, #colonne02 div.video a:focus, #colonne02 div.video a.focus {text-decoration:none}
/* ----------------------------------------------------- Agenda */
	#colonne02 div.agenda {
		background:url(separation.gif) repeat-x left top;
		padding:10px 3px;
		margin:0 6px
	}
	#colonne02 div.agenda.premier {background:none}
	#colonne02 div.agenda h3 {
		line-height:1em;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:1.1em
	}
	#colonne02 div.agenda h3 a {text-decoration:none}
	body.sous_niveaux_2_noeud_10679 #colonne02 div.agenda h3 a {color:#682f02}
	body.sous_niveaux_2_noeud_10680 #colonne02 div.agenda h3 a {color:#072d71}
	body.sous_niveaux_2_noeud_10681 #colonne02 div.agenda h3 a {color:#462843}
	body.sous_niveaux_2_noeud_10682 #colonne02 div.agenda h3 a {color:#90215d}
	body.sous_niveaux_2_noeud_10683 #colonne02 div.agenda h3 a {color:#614246}
	body.sous_niveaux_2_noeud_10684 #colonne02 div.agenda h3 a {color:#538800}
	body.sous_niveaux_2_noeud_10685 #colonne02 div.agenda h3 a {color:#072d71}
	#colonne02 div.agenda h3 a:hover,
	#colonne02 div.agenda h3 a:focus,
	#colonne02 div.agenda h3 a.focus {text-decoration:underline}
	#colonne02 div.agenda p {
		padding-bottom:0;
		padding-left:0
	}
	#colonne02 div.agenda span {
		font-weight:normal;
		margin-bottom:0
	}
	#colonne02 div.agenda a.lien_continuation {
		float:right;
		background:none
	}
/* --------------------------------------------------------------- Outils */
	#outils02 {
		clear:both;
		text-align:right;
		font-family:Arial, Helvetica, sans-serif;
		border-top:1px solid #dedace;
		padding:7px 18px 7px 0
	}
	#outils02 li {
		display:inline;
		margin:0 0 0 12px
	}
	#outils02 li a {
		color:#5c494f;
		text-decoration:underline;
		background-position:left center;
		background-repeat:no-repeat;
		padding:2px 0 3px 24px
	}
	#outils02 li a:hover, #outils02 li a:focus, #outils02 li a.focus {text-decoration:none}
	#outils02 li #imprimer {background-image:url(imprimer.gif)}
	#outils02 li #enregistrer_pdf {background-image:url(pdf.gif)}
	#outils02 li #faire_suivre {background-image:url(envoyer_page.gif)}
	#outils02 li #haut_page {
		background-image:url(haut_page.gif);
		padding-left:18px
	}
/* --------------------------------------------------------------- Plan du site */
	#plan_site li a {text-decoration:none}
	#plan_site li a:hover,
	#plan_site li a:focus {text-decoration:underline}
/* ----------------------------------------------------- Premier niveau */
	#contenu #plan_site {padding-left:60px}
	#contenu #plan_site li {
		background:url(lien_continuation_couleur01.gif) no-repeat left 4px;
		padding-left:20px;
		margin:0 0 3px 0
	}
	#contenu #plan_site li h2 {font-size:1.4em}
/* ----------------------------------------------------- Second niveau */
	#contenu #plan_site li ul {font-size:1.1em}
	#contenu #plan_site li ul li {
		background:url(suivant.gif) no-repeat left 6px;
		padding-left:12px;
		margin-bottom:3px
	}
	#contenu #plan_site li ul li a {color:#666}
/* ----------------------------------------------------- Autres niveaux */
	#contenu #plan_site li ul li ul {
		font-size:.9em;
		padding-top:5px
	}
	#contenu #plan_site li ul li ul li {
		background:url(puce01.gif) no-repeat left 6px;
		padding-left:10px
	}
	#contenu #plan_site li ul li ul li {margin-bottom:1px}
/* ----------------------------------------------------------------------------------- Pied de page */
	#pied_page_illustration img {
		vertical-align:middle;
		margin:20px 0 0 0
	}
	#pied_page {
		width:988px;
		text-align:center;
		font-family:Arial, Helvetica, sans-serif;
		font-size:1.1em;
		background:url(pied_page.gif) no-repeat;
		padding:8px 0;
		margin:0 auto
	}
	#pied_page ul {
		color:#e4dfda;
		margin:0 0 4px 0
	}
	#pied_page li {display:inline}
	#pied_page p {font-weight:bold}
	#pied_page a, #copyright {
		color:#3c3a35;
		margin:0 6px
	}
/* ----------------------------------------------------------------------------------- Pied de page pour l'impression */
	#impression_pied_page {display:none}