input {
	font-family: Arial, Helvetica, sans-serif;
}

/*
input.Submit {
	background-color: #eee;
	border: 1px solid #666;
	cursor: pointer;
}
*/
input.Input,
input.felder,
input.input,
textarea,
select {
	background-color: #eee;
	border: 1px solid #666;
}

input.Input:focus,
input.Input:hover,
input.Input:active,
/*
input.Submit:focus,
input.Submit:hover,
input.Submit:active,
*/
input.felder:focus,
input.felder:hover,
input.felder:active,
input.input:focus,
input.input:hover,
input.input:focus,
textarea:focus,
textarea:hover,
textarea:active,
select:focus,
select:hover,
select:active {
	border: 1px solid #333;
	background-color: #FFFF80;
}
.row label {
	display: block;
}

.checkbox span.left {
	display: block;
	float: left;
	width: 30px;
}

/* Submit-Buttons */
.row_submit {
	background: url(http://www.neues-deutschland.de/images/submit_right.png) right top no-repeat;
	clear: left;
	padding-right: 3px;
	text-align: right;
}
.row_submit input {
	background: url(http://www.neues-deutschland.de/images/arrow.png) right 5px no-repeat #fff;
	border: 0;
	cursor: pointer;
	font-size: 10px !important;
	margin: 0;
	padding: 0 8px 0 0;
	text-transform: uppercase;
}
.row_submit input.submit,
.row_submit input.Submit {
	background: url(http://www.neues-deutschland.de/images/submit_left.png);
	color: #000;
	height: 18px;
	padding: 0 6px 0 9px;
}

/*
.row_submit input.Submit {
	background: url(../images/ok.png) 2px 2px no-repeat #eee;
	border: 1px solid #666;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	color: #000;
	font-size: 12px !important;
	font-weight: bold;
	height: 24px;
	padding: 2px 2px 2px 24px;
	text-transform: none;
}
.row_submit input.Submit:hover {
	background-color: #fff;
	border: 1px solid #000;
	color: #060;
}
*/
fieldset .Advice {
	color: #c00;
	font-size: 10px;
}

ul.error,
ul.error li {
	list-style: circle;
	margin-left: 6px;
	padding-left: 6px;
}
ul.error li {
	color: #c00;
	font-weight: bold;
	margin-bottom: 6px;
}

p.Success {
	background: url(http://www.neues-deutschland.de/images/ok.png) no-repeat !important;
	color: #090 !important;
	font-size: 14px !important;
	font-weight: bold !important;
	margin: 20px 0 !important;
	padding-left: 35px !important;
}

.radio input {
	display: block;
	float: left;
	margin: 0 12px 12px 0;
}
.radio {
	clear: left;
	font-weight: bold;
}
.row_radio {
	clear: left;
	font-weight: normal;
	margin: 12px 0 0 0;
}
.row_radio label {
	margin: 0;
}
.row_radio label:focus,
.row_radio label:hover,
.row_radio label:active {
	font-weight: bold;
}

.Connected {
	clear: both;
}

/* Fehlermeldungen */
ul.ErrorList {
	list-style: disc;
	margin: 0 0 12px 12px;
	padding: 0 0 12px 12px;
}
ul.ErrorList li {
	list-style: disc;
	margin-bottom: 12px;
}

/* Zeichenangabe */
.Counter {
	padding: 12px 0 36px 0;
}
.Counter strong {
	color: #c00;
	font-size: 20px;
	font-weight: bold;
}
.Counter span {
	font-weight: bold;
}