/* Bilder */
.ImageBoxLeft {
	clear: both;
	float: left;
	margin: 0 18px 18px 0;
}
.ImageBoxRight {
	clear: both;
	float: right;
	margin: 0 0 18px 18px;
}
.ImageBoxLeft .Title,
.ImageBoxRight .Title {
	color: #666;
	font-size: 11px;
	margin-top: 6px;
}
.ImageBoxLeft .Copyright,
.ImageBoxRight .Copyright {
	color: #999;
	font-size: 11px;
}