/* Hauptnavi */
#ID_Navi {
	background: url(bg.png?2009-09-15) repeat-x;
	position: absolute;
	width: 825px;
	top: 117px;
}
#ID_Navi ul {
	padding: 10px 6px;
}
#ID_Navi ul li {
	float: left;
	padding-bottom: 6px;
	margin-right: 2px;
}
#ID_Navi ul li a {
	background: #eee;
	color: #39c;
	display: block;
	font-weight: bold;
	padding: 2px 6px;
}
#ID_Navi ul li a:focus,
#ID_Navi ul li a:hover,
#ID_Navi ul li a:active {
	background: url(bg.png?2009-09-15);
	color: #fff;
	text-decoration: none;
}
#ID_Navi ul li.Active {
	background: url(bg_NaviActive.png?2009-09-15) center bottom no-repeat !important;
	color: #fff;
}
#ID_Navi ul li.Active a {
	background: url(bg.png?2009-09-15);
	color: #fff;
}
#ID_Navi ul li ul {
	clear: left;
	left: 6px;
	padding: 7px 0 0 6px;
	position: absolute;
	width: 813px;
}
#ID_Navi ul li.Active ul li a {
	background: none;
	color: #666;
	display: inline;
	font-weight: normal;
	margin-right: 12px;
	padding: 0;
}
#ID_Navi ul li ul li.Active {
	background: none !important;
}
#ID_Navi ul li ul li a:focus,
#ID_Navi ul li ul li a:hover,
#ID_Navi ul li ul li a:active {
	background: none;
	color: #000;
	text-decoration: underline;
}
#ID_Navi ul li ul li.Active a {
	color: #000;
}