/* TYPO */

a.linkmessenger:link {text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000;}
a.linkmessenger:visited {text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000;}
a.linkmessenger:active {text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000;}
a.linkmessenger:hover {text-decoration:  font-family: Arial, Helvetica, sans-serif; font-size: 11px; underline; color: #FF0000; background: #FFFFFF;}

a.linktexto:link {text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FF0000;}
a.linktexto:visited {text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FF0000;}
a.linktexto:active {text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FF0000;}
a.linktexto:hover {text-decoration:  font-family: Arial, Helvetica, sans-serif; font-size: 11px; underline; color: #FFFFFF; background: #FF0000;}


a.linkavatar:link {text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000;}
a.linkavatar:visited {text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000;}
a.linkavatar:active {text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000;}
a.linkavatar:hover {text-decoration:  font-family: Arial, Helvetica, sans-serif; font-size: 11px; underline; color: #FF0000; background: #FFFF00;}

.txtarial36 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	color: #ffe145;
}

.txtarial48 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 48px;
	color: #ffe145;
}

.txtarial24 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FFFFFF;
}

.txtarial12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.txtarial11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}

/* FORMS */
.cajaform {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	border-width:thin;
	border-color:#FFFF66;
	background-image:url(http://www.jbscotch.com/img/boxform_bg.gif);
	height: 20px;
	
}


/* COMMON */
body{
	margin:0px;
	padding:0px;
	background:url(bodyBG.jpg) left top repeat-x #25253b;
	text-align:center;
}
/* COMMON */

/* HEADER */
#header{
	position:relative;
	margin:0px auto;
	width:770px;
	height:108px;
}

#logoNTG{
	position:absolute;
	left:0px;
	bottom:0px;
	border-width:0px;
}
#closeSite{
    position:absolute;
	right:0px;
	top:4px;
	font:9px arial, sans-serif;
	color:#FBDE4A;
	text-transform:uppercase;
	cursor:pointer;
}

#rightTopLink{
	position:absolute;
	right:0px;
	bottom:0px;
	text-align:right;
	font:bold 14px arial, sans-serif;
	color:#ffffff;
}

#rightTopLink .sel{
	font:bold 14px arial, sans-serif;
	color:#FBDE4A;
}

#rightTopLink a:hover{
	font:bold 14px arial, sans-serif;
	color:#ffffff;
	text-decoration:none;
}

#rightTopLink a{
	font:bold 14px arial, sans-serif;
	color:#ffffff;
	text-decoration:none;
}
/* HEADER */

/* MAIN CONTENT */
#mcGlow{
	margin:0px auto;
	width:770px;
	height:9px;
	background:url(http://www.jbscotch.com/images/mainContentGlow.jpg) left top no-repeat;
}
	/* MAIN AREA */
	#mainArea{
		margin:0px auto;
		width:770px;
		background:#000000;
    }
    #FixedMainArea{
		margin:0px auto;
		width:770px;
		height:500px;
		background:#000000;
    }
    #homeMainArea{
		margin:0px auto;
		width:770px;
		height:315px;
		background:#000000;
    }
	 #sectionMainArea{
		margin:0px auto;
		width:770px;
		height:520px;
		background:#000000;
    }
	
	 #gatewayMainArea{
		margin:0px auto;
		width:770px;
		height:523px;
		background:url(gateway.jpg) left top repeat-x #000000; 
    }

	/* BOXES */
	#boxes{
		position:relative;
        margin:0px auto;
		width:770px;
		height:204px;
		background:#000000;
    }
	#boxes object{
        position:absolute;
		left:0px;
		top:0px;
		margin:0px;
		padding:0px;
		text-align:left;
    }
	#boxes embed{
		position:absolute;
		left:0px;
		top:0px;
		margin:0px;
		padding:0px;
		text-align:left;
    }


	#box1{
		margin:0px;
		padding:0px;
		position:absolute;
		left:1px;
		top:0px;
		width:256px;
		height:204px;
		background:#000000;
		text-align:left;
		z-index:1;
    }
	#box2{
		margin:0px;
		padding:0px;
        position:absolute;
		left:257px;
		top:0px;
		width:256px;
		height:204px;
		background:#000000;
		text-align:left;
		z-index:2;
    }

	#box3{
		margin:0px;
		padding:0px;
        position:absolute;
		left:513px;
		top:0px;
		width:256px;
		height:204px;
		background:#000000;
		text-align:left;
		z-index:3;
    }

/*	Message area */
#message{
    width:420px;
	padding:20px 0px;
	margin:20px auto;
	font:12px arial, sans-serif;
	color:#ffffff;
	border:1px solid #FED943;
	text-align:left;
}

#message h1{
	padding:0px;
	margin:0px;
    padding-left:20px;
    font:bold 16px arial, sans-serif;
	color:#ffffff;
}
#message p{
	padding-left:20px;
	margin-right:20px;
}

#message a:hover{
    text-decoration:underline;
	color:#FED943;
}
#message a{
    text-decoration:underline;
	color:#FED943;
}

#message img.button{
    border-width:0px;
	margin:10px 0px 0px 0px;
}

#message span.note{
    font:11px arial, sans-serif;
	color:#999999;
}

#pages a:hover{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration:none;
	color:#FFFFFF;
	background-color:#FF3300;
}
#pages a{
   font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    text-decoration:none;
	color:#FFFFFF;
}



/* MAIN CONTENT */

/* FOOTER */
#footer{
	margin:4px auto;
	width:886px;
	height:69px;
	background:url(footerBG.gif) left top no-repeat;
    font:bold 10px arial, sans-serif;
	color:#ffffff;
}
#tablehome{
	margin:0px auto;
	width:770px;
	background:url(http://www.jbscotch.com/images/bg_home.jpg) left top repeat-x #000000;
}
#tabledown{
	margin:0px auto;
	width:770px;
	background:url(http://www.jbscotch.com/images/bg_downloads.jpg) left top repeat-x #000000;
}
#tableparties{
	margin:0px auto;
	width:770px;
	background:url(http://www.jbscotch.com/img/bg_logoball.jpg) left top repeat-x #000000;
}

#tableregister{
	margin:0px auto;
	width:770px;
	background:url(http://www.jbscotch.com/img/bg_registration.jpg) left top repeat-x #000000;
}

#footer p{
    margin-top:5px;
	margin-bottom:0px;
}
/*	1st line */
	#footer p.line1{
		padding-top:5px;
		font:bold 10px arial, sans-serif;
		color:#ffffff;
		text-decoration:none;
	}

	html>body #footer p.line1{
	    padding-top:10px;
	}

	#footer p.line1 a:hover{
		font:bold 10px arial, sans-serif;
		color:#ffffff;
		text-decoration:underline;
	}

	#footer p.line1 a{
		font:bold 10px arial, sans-serif;
		color:#ffffff;
		text-decoration:none;
	}

    #footer p.line1 a.sel:hover{
		font:bold 10px arial, sans-serif;
		color:#FBDE4A;
		text-decoration:underline;
	}

	#footer p.line1 a.sel{
		font:bold 10px arial, sans-serif;
		color:#FBDE4A;
		text-decoration:none;
	}

/*	2nd Line */
	#footer p.line2{
		font:bold 10px arial, sans-serif;
		color:#ffffff;
	}

	#footer p.line2 a:hover{
		font:bold 10px arial, sans-serif;
		color:#ffffff;
		text-decoration:underline;
	}

	#footer p.line2 a{
		font:bold 10px arial, sans-serif;
		color:#ffffff;
		text-decoration:none;
	}

/* FOOTER */






