/*
Couleur specifique composante : #E5352C
Liens : #FF0000
*/


@media all
{

	body {
		background: #eeeeee;
		color: #444444;		
	}

	.ariane a {color: #666; background: transparent;}
	.ariane_act {font-style: italic;}
	a, acronym, abbr, .ariane_act {color: #FF0000;}

	h1 {color: #E5352C; background:inherit; border-color:#cccccc; }
	h2 {color: #666666; background:inherit;}
	h3 {color: #999999; background:inherit;}
	h4 {color: #666666; background:inherit; font-style: italic;}
	h5 {color: #999999; background:inherit; font-style: italic;}
	h6 {color: #999999; background:inherit;}


	#col_cntr h1 {color: #E5352C; background:inherit; border-color:#cccccc; }
	#col_cntr h2 {color: #666666; background:inherit;}
	#col_cntr h3 {color: #999999; background:inherit;}
	#col_cntr h4 {color: #666666; background:inherit; font-style: italic;}
	#col_cntr h5 {color: #999999; background:inherit; font-style: italic;}
	#col_cntr h6 {color: #999999; background:inherit;}

	#col_drte h1 {background: url('http://www.univ-lille2.fr/fileadmin/template/css/img/fond_h1_drte.gif') repeat-x;	color: #666666;}
	#col_drte h2 {color: #666666; background:inherit;}
	#col_drte h3 {color: #999999; background:inherit;}
	#col_drte h4 {color: #000000; background:inherit;}
	#col_drte h5 {color: #E5352C; background:inherit;}
	#col_drte h6 {color: #666666; background:inherit;}



	#page_ext {
		border-color: #aaa;
		background: transparent url(http://www.univ-lille2.fr/fileadmin/template/css/img/fond_bandeau.jpg) no-repeat top right;		
	}

	#page_int { background: transparent;}

	#entete { background: transparent; }
	#supbandeau   {background: transparent url('http://www.univ-lille2.fr/fileadmin/template/css/img/supbanduniv.gif') no-repeat left center;}
	#bandeau      {background: transparent url('http://www.univ-lille2.fr/fileadmin/template/css/img/fleur_de_lys.gif') no-repeat right;}
	#bandeau_cntr {background: transparent url('http://www.univ-lille2.fr/fileadmin/template/css/img/titre_site.gif') no-repeat center; }
	#bandeau_gche {background: transparent url('http://www.univ-lille2.fr/fileadmin/template/css/img/logo_site.gif') no-repeat center center;}
	#infbandeau   {background: transparent;}
	#col_gche     {background: transparent url('http://www.univ-lille2.fr/fileadmin/template/css/img/fond_gauche.gif') repeat-x top;}	


	#contenu { background: #fff; }

	#pied {
		color: #666;
		background: #fff;
	} 

	.accessKey {text-decoration: underline;}

	.datejour {color: #666;}

}

@media screen
{


	/**** MENU VERTICAL DE NAVIGATION ****/
#menuvert li.menuvert_niv1_no a
{
	background: transparent url('pict_menu.gif') no-repeat center left;
	padding-left:10px;
	color: #000;
}



#menuvert li.menuvert_niv1_no a:hover,
#menuvert li.menuvert_niv1_act a,
#menuvert li.menuvert_niv1_cur
{
	background: #E5352C;
	color: #FFF;
}

#menuvert li.menuvert_niv2_no a {color: #000;}
#menuvert li.menuvert_niv2_cur {color: #E5352C; }
	/*** FIN MENU VERTICAL DE NAVIGATION ***/
	
	/** COULEURS MENU HORIZONTAL SUPBANDEAU ET MENU HORIZONTAL PIED **/
	#menusupbandeau a {background: transparent;color: #666;}
	#menusupbandeau .menusupbandeaucur {color: #FF0000;}

	#pied_cntr a {color: #666; }
	#pied_cntr a:hover {text-decoration: underline;}
	
	.menupied a {color: #666; }
	.menupied .menupiedcur {color: #FF0000; }
	
	
	.monotdrop select {
		border-color: #666;
		background: #fff;
		color: #333;
	}	

}
