/*
Couleur specifique composante : #E5352C
*/

@media all
{
	/***** Balises HTML *****/
	body {
		font-size: 83%;
		font-family: Arial, Helvetica, Sans-Serif;
	}
	
	#menusupbandeau {font-size: 0.9em;}

	h1,h2,h3,h4,h5,h6 {
		font-family: Arial, Helvetica, Sans-Serif;
		display:block; 
		font-weight:bold;
	}
	h1 {font-size: 18pt;}
	h2 {font-size: 16pt;}
	h3 {font-size: 16pt;}
	h4 {font-size: 14pt;}
	h5 {font-size: 14pt;}
	h6 {font-size: 12pt;}

	#col_cntr h1 {font-size: 1.2em;}
	#col_cntr h2 {font-size: 1em;}
	#col_cntr h3 {font-size: 1em;}
	#col_cntr h4 {font-size: 0.9em;}
	#col_cntr h5 {font-size: 0.9em;}
	#col_cntr h6 {font-size: 0.8em;}

	#col_drte h1 {font-size: 1em;}
	#col_drte h2 {font-size: 1em;}
	#col_drte h3 {font-size: 1em;}
	#col_drte h4 {font-size: 1em;}alt_main
	#col_drte h5 {font-size: 1em;}
	#col_drte h6 {font-size: 1em;}

	#col_cntr h1 {margin:1em 0 0.5em 0; border-bottom: 2px dotted; padding-top: 0; padding-left: 12px;}
	#col_cntr h2 {margin:0.2em 0 0 0;  padding-top: 1em;padding-left: 12px;}
	#col_cntr h3 {margin:0.4em 0 0.3em 0; padding-top: 1em;padding-left: 12px;}
	#col_cntr h4 {margin:0.4em 0 0.3em 0; padding-top: 1em;padding-left: 12px;}
	#col_cntr h5 {margin:0.4em 0 0.3em 0; padding-top: 1em;padding-left: 12px;}
	#col_cntr h6 {margin:0.4em 0 0.3em 0; padding-top: 1em;padding-left: 12px;}

	#col_drte h1 {margin: 1em 0 0.5em 0; padding:0; text-align: center;}
	#col_drte h2 {margin: 0.2em 0 0 0; padding:0;text-align: center;}
	#col_drte h3 {margin:0.4em 0 0.3em 0; padding:0;text-align: center;}
	#col_drte h4 {margin:0.4em 0 0.3em 0; padding:0;text-align: center;}
	#col_drte h5 {margin:0.4em 0 0.3em 0; padding:0;text-align: center;}
	#col_drte h6 {margin:0.4em 0 0.3em 0; padding:0;text-align: center;}

	p,ul,dd,dt { line-height: 1.3em;}alt_main
	p { margin: 0 0 0.9em 0; }

	strong, b { font-weight: bold; }
	em,i { font-style:italic; }

	pre, code {
		font-family: "Courier New", Courier, monospace;
		display:block;
		margin: 0 0 1em 1em;
		padding: 0.5em;
		color: #000; 
		background: #f0f0f4;
		border: 1px #ccd solid;
		border-left: 8px #ccd solid;
		font-size: 0.9em;
	}
	
	address { font-style:normal; line-height: 1.5em; margin: 0 0 1em 0; }

	hr { 
		color: #666;
		height: 1px;
		background: #666; 
		margin: 0; 
		padding: 0; 
		border:0; 
	}

	acronym, abbr {
		cursor: help;
		padding:0 0 0 20px;
		background: transparent url('http://www.univ-lille2.fr/fileadmin/template/css/img/icones/small_ed_acronym.gif') no-repeat left;
		border-bottom: 1px dotted;
	}

	blockquote { 
		padding: 1em 1em 0 1em;
		margin: 0 0 1em 2em;
		color: #6F6F6F; 
		background: #ececec; 	
		border-left: 4px #aaa solid;
	}

	/***** Images *****/

	img {
		border: 0;
		margin: 0;
		padding: 0;
	}

	img.float_left { float: left; margin-right: 1em; margin-bottom: 0.15em; border:0; }
	img.float_right { float: right; margin-left: 1em; margin-bottom: 0.15em; border:0; }
	img.center { text-align:center; background: #fff; padding: 4px; border:1px #ddd solid; }

	/***** Liens *****/
	a {text-decoration:none;}
	a:hover {text-decoration: underline;}
	#contenu a[href^="http:"], #contenu a[href^="https:"]
	{
		padding-left:0;
		background-image:none;
	}

	#contenu a.imagelink {
		padding-left: 0;
		background: transparent;
	}



	/*****  Tables et formulaires *****/
/*
	table {
		border-collapse:collapse;
		margin-bottom: 0.5em;
		width: 100%;
	}

	table.typo3-adminPanel {width:auto;}


	table {
		border-top: 2px solid #666666;
		border-bottom: 2px solid #666666;
		border-left: 2px solid #666666;
		border-right: 2px solid #666666;
	}
	table th { border: 1px solid #aaaaaa; text-align: center; background: #dddddd;}
	table td { border: 1px solid #aaaaaa; text-align: center;}
	table caption {font-weight: bold; font-size: 1.2em;}

*/


	form {overflow:hidden;}

	input, textarea {
		width: auto;
		font-size: 0.9em;
		border: 1px #ccc solid;
		background: #eee;
		padding: 3px;
		color: #777;
	}

	input[type=text]:focus, input[type=password]:focus, textarea:focus {
		background: #f0f0f0;
		color: #333;
		border-color: #666;
	}

	input[type=submit] {cursor: pointer;}


	/***** Quelques redefinitions de css style content *****/
	/* liste sans puce */ 
	ul.linklist { list-style-type: none; margin: 0 0 1em 0; }
	ul.linklist li { margin: 0 0 1em 0; }

	ul.csc-menu {
		list-style-type: none;
		margin: 0 0 1em 0;
		border: 1px solid #ccc;
		width: auto;
	}

	ul.csc-menu li a {
		color: #BF010B;
		background: transparent;
		padding-left: 7px;
	}

	ul.csc-menu li  a:hover {
		color: #BF010B;
		background:#EEEEEE;
		padding-left: 7px;
	}

	.csc-menu-def { background: #fff;}

	.csc-linkToTop {
		text-align: right;
	}

}

/*******************************************
* Classes pour le RTE 
********************************************/

span.fluojaun {
	font-style: normal; 
	padding: 0 0.2em 0 0.2em;
	background: #ffcc00;
	color: #990000;
}


p.petitcar {
	font-size: 0.85em;
}

p.tgris,
p.tspec
	{
	color:#fff;
	font-size: 1em;
	font-weight: bold;
	padding: 0 0.5em 0 0.5em; 
	margin: 0.5em 0 0 0;
}

p.pgris,
p.pspec {
	color:#000;
	padding: 0 4px 0 4px; 
	margin: 0 0 0.5em 0; 
}

p.tgris {background: #999999;}
p.pgris { 
	background: #FAFAFA; 
	border: 1px solid #999999; 
}

p.tspec {background: #E5352C;}
p.pspec { 
	background: #FAFAFA; 
	border: 1px solid #E5352C; 
}

p.code {
	display: block;
	margin: 0 0 0.5em 0.5em;
	font-family: "Courier New", Courier, monospace;
	font-size: 0.8em;
	padding: 1em 0.5em 0.5em 0.5em;
	color: #000; 
	background: #f0f0f0;
	border-left: 4px #ccc solid;
}

p.etiquette {
	color:#555;
	background: url('http://www.univ-lille2.fr/fileadmin/template/css/img/fond_gauche.gif') repeat-x bottom;
	border: 1px solid #E5352C;
	padding: 0.5em 0.5em 0.5em 0.5em;
	margin: 1em;
	line-height: 1.2em;
	/*-moz-border-radius: 6px;*/
}

	div.indent {margin-left : 20px;}
	p.align-left {text-align: left !important;}
	p.align-center {text-align: center !important;}
	p.align-right {text-align: right !important;}
	p.align-justify {text-align: justify !important;}

/* Fin specif RTE */
.csc-form-label-req {
	font-weight: bold;
}
.csc-caption {
	font-size: 0.85em;
	background-color: #EEEEEE; padding: 2px;
}
/* Typo3 Version 4 */
dd.csc-textpic-caption {
	font-style: italic;
	font-variant: small-caps;
	font-size: 0.85em;
	background-color: #EEEEEE; padding: 0;
}

/***** Classes specifiques *****/
	.datejour {font-weight: normal; font-size: 0.8em;}
	a.lil2-external-link-new-window {color: #F42941;}

#menulangue {
	/*display: block;*/
	/*float: right;*/
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
}
#menulangue a:hover {
	background: transparent;
}
#menulangue img.flag {
	/*margin-top: 4px;*/
	padding-right: 7px;
}
#menulangue img.arrow {
}


.divalign {text-align: center; margin-top: 1em; margin-bottom: 0.5em;}

/* Aspect de la search box */
.tx-macinasearchbox-pi1 {text-align: center; background: transparent; margin-bottom: 0.5em;}
.tx-macinasearchbox-pi1 form {margin: 0; padding: 0;}
.tx-macinasearchbox-pi1 input {	width: 180px; color: #aaa; background: #ffffff url(http://www.univ-lille2.fr/fileadmin/template/css/img/icones/loupe.gif) no-repeat right; padding: 1px; margin: 0;}
.tx-macinasearchbox-pi1 input[type=text]:focus {background: #f0f0f0 url(http://www.univ-lille2.fr/fileadmin/template/css/img/icones/loupe.gif) no-repeat right;}
.tx-macinasearchbox-pi1 a {font-size: 0.8em;}


