@media all
{
	body {padding: 10px 0 0 0;}
	
	#page_ext { 
		width:95%; 
		margin-left: auto;
	 	margin-right: auto;
		max-width:inherit;
		min-width:inherit;
		border: 2px solid;		
	}
	
	#page_int {height: 1%;}
	
	#bandeau, #bandeau_gche, #bandeau_cntr, #bandeau_drte {height: 100px;}
	
	#infbandeau {padding-top: 2px; padding-bottom: 2px; height: 1.1em; line-height: 1.1em;}	
	
	#pied {
		margin-top: 1px;
		padding: 0.5em 0 0.5em 0; 
		font-size: 0.9em;		
	}

	.menupied {
		margin: 0;
	}

	#contenu {padding-top: 0; padding-bottom: 0.5em;} 


	#content_normal, #content_border {padding: 0 0.5em 0 0.5em;}

	#col_gche_content,
	#infbandeau_gche_content, 
	#bandeau_gche_content 
	{
		margin-left: 8px;
		margin-right: 8px;
	}

	#pied_gche_content_menu {text-align: left;}

	#col_drte_content,
	#infbandeau_drte_content,
	#bandeau_drte_content,
	#pied_drte_content {
		margin-left: 0.5em;
		margin-right: 0.5em;
	}

	#infbandeau_drte, #bandeau_cntr { text-align: center;}

	#col_cntr_content,
	#pied_cntr_content {
		margin-left: 1em;
		margin-right: 1em;
	}


	#infbandeau_cntr_content  {
		margin-left: 0;
		margin-right: 0.5em;
		font-size: 0.9em;
	}

	#bandeau_gche_content, 
	#bandeau_drte_content, 
	#bandeau_cntr_content 
	{text-align: center;}

	
	.monotdrop {text-align: center;margin-top:10px; margin-bottom: 10px;}
	.monotdrop select {
		width: 180px;
		border: 1px solid;
		font-size: 0.9em;
	}
	
/* Pour Timtaw */
.tx-timtaw-pi1 {text-align: right; padding-right: 20px;}

	#bandeau_drte_content {padding-top: 10px;}

	#monpanelin {width:80px; margin-left: auto; margin-right: auto; padding: 0; font-size:0.7em;}
	#monpanelout {margin: 0; padding:0; text-align: center;}
	#borderin {border: 2px solid blue;}
	#borderout {border: 2px solid red;}
	
	.adresse_col {
		font-size: 0.8em;
		line-height: 1.2em;
	}
	
	
	
	
	
} 

