@media all
{
	
	* { margin:0; padding:0; font-size: 100%; } 

	html { height: 100% } 
	body { 
		min-height: 101%;	
		font-size: 100.01%; 
		position: relative; 
		text-align: left; 
	} 
	
	fieldset, img { border:0; }
	select, input, textarea { font-size: 99%; }

	#supbandeau, #bandeau, #infbandeau, #menusupbandeau {background: transparent;}
	
	#contenu, #pied, #supbandeau, #bandeau, #infbandeau {clear:both; width: auto; z-index: 10;}
	#col_gche, #pied_gche, #bandeau_gche, #infbandeau_gche {float: left;}
	#col_drte, #pied_drte, #bandeau_drte, #infbandeau_drte {float:right;}
	#col_cntr, #pied_cntr, #bandeau_cntr, #infbandeau_cntr {width:auto;}
	
	#col_gche, #pied_gche, #bandeau_gche, #infbandeau_gche {z-index: 3;}
	#col_drte, #pied_drte, #bandeau_drte, #infbandeau_drte {z-index: 5;}
	#col_cntr, #pied_cntr, #bandeau_cntr, #infbandeau_cntr {z-index: 1;}
	#col_gche_content, #pied_gche_content, #bandeau_gche_content, #infbandeau_gche_content {z-index: 4;}
	#col_drte_content, #pied_drte_content, #bandeau_drte_content, #infbandeau_drte_content {z-index: 6;}
	#col_cntr_content, #pied_cntr_content, #bandeau_cntr_content, #infbandeau_cntr_content {z-index: 2;}
	
	#menusupbandeau,
	#col_gche_content,
	#col_drte_content, 
	#col_cntr_content, 
	#pied_gche_content, 
	#pied_drte_content, 
	#pied_cntr_content,
	#bandeau,
	#bandeau_gche_content,
 	#bandeau_drte_content,
	#bandeau_cntr_content,
	#infbandeau_gche_content,
 	#infbandeau_drte_content,
	#infbandeau_cntr_content
	{ position:relative; }

	#menusupbandeau {text-align: right;}
	#bandeau_cntr_content {text-align: left;}


	#content_normal,
	#content_border 
	{overflow: hidden; }


/* #####################################################################################################*/

	 .clearfix:after {
		content: "."; 
		display: block; 
		height: 0; 
		clear: both; 
		visibility: hidden;
	}
	
	/* Safari*/
	.clearfix { display: block; } 
	

	
	/* *** */
	.specialclear { display: none;}


/* ######################################################################################################*/

	ul, ol { margin: 0 0 1em 1em }
	/*dl { margin: 0 0 1em 1em }*/
	li { margin-left: 1.5em; line-height: 1.5em; }
	

	dt { font-weight: bold; }
	/* dd { margin: 0 0 1em 2em; } */

	
	blockquote, cite { margin: 0 0 1em 1.5em; font-size: 0.93em; width: auto;}

/* ######################################################################################################
** ### Specifique aux sous templates  ###################################################################
** ######################################################################################################
*/

	/* *** */
	#col_cntr_subdiv { overflow:hidden; }


	.col_cntr_subdiv_content { 
		width: 100%;
		padding: 0 1px 0 1px; 
		margin: 0 -1px 0 -1px; 
		overflow:hidden;
	}

	
	.c50l, .c33l, .c66l {float: left; overflow: hidden;}
	.c50r, .c33r, .c66r {float: right; overflow: hidden;}
	
	.c33l, .c33r { width: 33.333%; }
	.c50l, .c50r { width: 49.999%; }
	.c66l, .c66r { width: 66.666%; }
	

	.content_left { padding: 0 0.5em 0 0; overflow: hidden;}
	.content_right { padding: 0 0 0 0.5em; overflow: hidden;}
}

