/* Memo couleur
 	composante: #F42941
*/


@media screen
{
	/** DEBUT MENU HORIZONTAL SUPBANDEAU ET MENU HORIZONTAL PIED **/
	#menusupbandeau a {
		padding-left: 0.5em; 
		padding-right: 0.5em; 
	}

	#menusupbandeau a:hover {text-decoration: underline;}
		#menusupbandeau .menusupbandeaucur {
		padding-left: 0.5em; 
		padding-right: 0.5em;
		font-style: italic;
	}

	.menupied a {
		/*padding-left: 0.5em;*/
		/*padding-right: 0.5em;*/
	}
	.menupied a:hover {text-decoration: underline;}	

	.menupied .menupiedcur {
		font-style: italic;		
		/*padding-left: 0.5em;*/
		/*padding-right: 0.5em;*/
	}	

/***********MENU VERTICAL ***************/
#menuvert {
	list-style: none;
	padding: 0;
	margin: 0;
}

#menuvert a {display: block; margin: 0; padding: 0;}

#menuvert li.menuvert_niv1_no,
#menuvert li.menuvert_niv1_act, 
#menuvert li.menuvert_niv1_cur
{
	margin: 0; 
	padding-left:0;
}

#menuvert li.menuvert_niv1_no a
{
	background: transparent url('pict_menu.gif') no-repeat center left;
	padding-left:10px;
}



#menuvert li.menuvert_niv1_no a:hover,
#menuvert li.menuvert_niv1_act a,
#menuvert li.menuvert_niv1_cur
{
	text-decoration: none;
}

#menuvert li.menuvert_niv1_act a {padding-left:10px;}
#menuvert li.menuvert_niv1_cur {font-style: italic; padding-left:10px;}
#menuvert li.menuvert_niv1_spc {margin:0; padding:0;background: transparent url('separateur_menu.gif') no-repeat center center;}
#menuvert li.menuvert_niv2_cur { font-style: italic;}

	
}