/*******************************************
* tt_news
********************************************/
.tx-ttnews-browsebox {
	text-align:center;
	margin:1.2em 0 1em 0;
  	padding:1px;
  	border-top : 1px solid #666;

}
.tx-ttnews-browsebox a, .tx-ttnews-browsebox strong {
	padding: 0 0.4em 0.4em 0;
	margin:0;
	background:transparent;
}

.tx-ttnews-browsebox table, .tx-ttnews-browsebox td{ border : none;}
.tx-ttnews-browsebox td.tx-ttnews-browsebox-SCell { font-weight: bold;}

/* LATEST */
.news-latest-container {font-size: 0.9em;}
.news-latest-item {
	margin-bottom: 1em;
}

.news-latest-item .casse {clear: both; height:0; margin:0;}




.news-latest-item hr { margin: 0; padding: 0; height: 1px;}
.news-latest-item p {margin-bottom: 0;}

.news-latest-item .news-latest-date {color: #999999; font-size: 0.9em; padding-left: 10px;}

.news-latest-container .news-latest-item h3 {
	font-size: 1em; 
	margin: 0 !important;
	/*background: transparent url('../img/pict_menu.gif') no-repeat center left !important; */
	/*padding: 0 0 0 10px !important;*/
	padding: 0 !important;	
}
.news-latest-container .news-latest-item h3 a {
	color: #000;
	background: transparent url('pict_menu.gif') no-repeat center left !important; 	 
	padding-left: 10px !important;
}


.news-latest-item h3 a:hover { text-decoration:underline; }
.news-latest-item img {
	padding-right: 1em;
	padding-top: 0.5em;
	float: left;
}

.news-latest-item .news-latest-subheader {background: transparent;}

.news-latest-morelink {
	padding-bottom:0.2em;
	margin-right: 2em;
	margin-left: 0;
	text-align:left;
}

.news-latest-category {clear: both;}
/*.news-latest-gotoarchive {display: none;}*/

/* LIST */
.news-list-item {
	margin-bottom: 1em;
}
.news-list-item h3 {
	font-size: 1em; 
	margin: 0 !important;
	padding: 0 !important;
}

.news-list-item hr { margin: 0; padding: 0; height: 1px;}
.news-list-item h3 a { 
	background: transparent url('pict_menu.gif') no-repeat center left !important; 	 
	color: #000;
	padding-left: 10px !important;
}
.news-list-item h3 a:hover {
	text-decoration:underline; 

}
.news-list-item .news-list-date {
	color: #999999; font-size: 0.9em; padding-left: 10px;
}

.news-list-item img {
	padding-right: 1em;
	padding-top: 0.5em;
	float: left;
}

.news-list-item .news-list-category img {
	float: none;
}

.news-list-item p {
margin-bottom: 0;
}

.news-list-item .news-list-category {
margin-top: 0;
	color: #666;
	font-size: 0.9em;
}
.news-list-morelink {
	padding-bottom:0.2em;
	margin-right: 2em;
	margin-left: 0;
	text-align:left;
}
.news-list-morelink a { }
.news-list-morelink a:hover { }



/* SINGLE */


.news-single-subheader {
	font-weight: bold;
}

.news-single-keywords {
	/*border: 1px solid #CFCFCF;*/
}
.news-single-keywords-header {
	padding-left: 2px;
	color: #666;
	font-weight: bold;
	/*ackground: #F4EFF3;*/
	/*border: 1px solid #FFFFFF;*/
}

.news-single-keywords-content {
	font-variant: small-caps;
	padding-left: 10px;
}

.news-single-img {
	padding-right:15px;
	float:left;
}
.news-single-img p {
	padding:0;
	margin:0;
}
.news-single-timedata {
	color: #666;
	margin-bottom: 0.5em;
}
.news-list-category {
	color: #aaa;
}
.news-single-additional-info {
	/*margin-left: 1em;*/
	margin-top: 2px;

}
.news-single-additional-info dl {
	/*border: 1px solid #CFCFCF;*/
	margin-bottom: 2px;
}
.news-single-additional-info dd {
	/*margin-top: -1em;*/
	padding-left: 0.5em;
}
.news-single-additional-info dt {
	padding-left: 2px;
	color: #666;
	/*background: #F4EFF3;*/
	/*border: 1px solid #FFFFFF;*/
}


.news-single-related, .news-single-links, .news-single-files {margin-top: 10px;}
.news-single-related dt, .news-single-links dt, .news-single-files dt {margin-bottom: 5px;}
.news-single-related dd, .news-single-links dd, .news-single-files dd {color: #666666;}

.news-single-links p.bodytext {
	background: transparent url('tt_news_links.gif') no-repeat left;
	/*margin: 0;*/
	padding: 0 0 0 20px;
}

.news-single-backlink {
	margin-top: 1em;
	margin-right: 2em;
	margin-left: 2em;
	/*border-bottom :1px solid #ccc;*/
	text-align:right;	
}

.news-catmenu  {
   padding: 0;
   margin-top: 1em;
	border-bottom: 1px solid  #666;

}

.news-catmenu .news-catmenu-header {margin: 0; text-align: center; border-bottom: 1px solid  #666;}
.news-catmenu DIV IMG {
   margin:0px;
   padding: 0px 3px 3px 0px;
   vertical-align: middle;
}
.news-catmenu .level1 {
	margin: 0;
	border-right: 1px solid  #666;
	border-left: 1px solid  #666;
	background: #EEEEEE;
	padding-left: 4px;
	padding-bottom:2px;
}
.news-catmenu .level2 {
	border: 1px solid #ccc;
	background: #E2E2E2;
	margin-left: 5px;
	padding-left: 4px;
}

.news-amenu-container {
	margin: 0; 
	border-right: 1px solid  #666;
	border-left: 1px solid  #666;
	border-bottom: 1px solid  #666;
	background: #EEEEEE;
}
.news-amenu-container h5 {display: none;}
.news-amenu-container h2 {display: none;}
.news-amenu-container ul {
	margin: 0; padding: 0;
	list-style-type: none;
	/*list-style-image: url("../img/pict_menu.gif");*/
}
.news-amenu-container li {
	margin: 0;
	padding-left: 4px;
	list-style-type: none;
	/*list-style-image: url("../img/pict_menu.gif");*/
}
.news-amenu-container li.news-amenu-item-year {list-style-type: none; margin: 0; padding: 0;}
/* .news-amenu-container li.news-amenu-item-year dd {margin: 0; padding: 0; color: red; font-weight: bold; text-align: left;} */
.news-amenu-container li.news-amenu-item-year dd {display: none;}

