#publication{
    color:#FFFFFF;
    padding: 2px;
	font-size: 0.9em;
}

.dev_erreur {
     background-color: red;
}

.dev_modifie {
     background-color: red;
}

.dev_ok {
     background-color: #408080;
}

.internaute_erreur {
     background-color: red;
}

.internaute_ok {
     background-color: green;
}


#publication a {
	color: #FFFFFF;
	
}

.deconnexion{
float:right;
top:0px;
padding: 0px;
margin:0px;
}

SPAN.titre{
font-size:14px;
font-weight: bold;
}

/* barre detail, font blanc */
.detail_dev {
     color: #000000;
     background-color: #FFFFFF;
	 padding: 2px;
     font-size: 0.9em;
}
