body {
	background-color:#dddddd;
	height:100%;
	margin:0px;
	padding:0px;
}

html>body {
height:auto;
}

#lapage {
	background-color:#1c4c62;
	position:absolute;
	left:50%;
	background-image:url(http://www.cepralmar.org/pics/fond.png);
	background-repeat: repeat-y;
	background-position: center;
	width:800px;
	height:100%;
	margin:0px 0px 0px -400px;
	padding: 0px;
}

html>body #lapage {
min-height:100%;
height:auto;
} 

#entete {
	position:absolute;
	top:0px;
	left:50%;
	width:800px;
	margin:0px 0px 0px -400px;
	padding: 0px 0px 0px 0px;
}

#entete #menuext {
	position:absolute;
	top:0px;
	left:0px;
	width:581px;
	height: 47px;
	background-image: url(fond-menu.gif);
	background-repeat: no-repeat;
	background-position: left;
}

#entete #menuext .lien {
	position:absolute;
	top: 12px;
	margin: 0px;
	padding: 5px 0px 5px  0px;
	background-image: url(puce-orange.gif);
	background-repeat: no-repeat;
	background-position: left;
}

#entete #menuext .lien a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
	color: #FFFFFF;
	text-decoration: none;
	padding: 0px 0px 0px 25px;
	margin: 0px;
}

#entete #menuext .lien a:hover {
	color: #ff9f00;
}

#entete #contact {
	position:absolute;
	top:0px;
	left:0px;
}

#entete #contact .lien {
	position:absolute;
	top: 12px;
	left: 590px;
	margin: 0px;
	padding: 5px 0px 5px  0px;
	background-image: url(puce.gif);
	background-repeat: no-repeat;
	background-position: left;
}

#entete #contact .lien a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
	color: #BAC9D0;
	text-decoration: none;
	padding: 0px 0px 0px 25px;
	margin: 0px;
}

#entete #contact .lien a:hover {
	color: #FFFFFF;
}

#entete .logos {
	position:absolute;
	margin: 0px;
	padding: 0px;
}

#entete .logos img {
	border: none;
}

#entete #logoC&eacute;pralmar {
	position:absolute;
	top:26px;
	left:698px;
	margin: 0px;
	padding: 0px;
}

#entete #menuint {
	position:absolute;
	top:47px;
	left:198px;
}

#entete #menuint .lien1 {
	position:absolute;
	top:0px;
	left:0px;
	width: 129px;
	height: 26px;
	background-image: url(menu-statuts.gif);
	background-repeat: no-repeat;
}

#entete #menuint .lien1 a {
	position:absolute;
	text-indent:-5000px;
	top:0px;
	left:0px;
	width: 129px;
	height: 26px;
	background-image: url(menu-statuts.gif);
	background-repeat: no-repeat;
}

#entete #menuint .lien1 a:hover {
	background-image: url(menu-statuts-over.gif);
}

#entete #menuint .lien2 {
	position:absolute;
	top:26px;
	left:0px;
	width: 129px;
	height: 25px;
	background-image: url(menu-equipe.gif);
	background-repeat: no-repeat;
}

#entete #menuint .lien2 a {
	position:absolute;
	text-indent:-5000px;
	top:0px;
	left:0px;
	width: 129px;
	height: 25px;
	background-image: url(menu-equipe.gif);
	background-repeat: no-repeat;
}

#entete #menuint .lien2 a:hover {
	background-image: url(menu-equipe-over.gif);
}

#entete #menuint .lien3 {
	position:absolute;
	top:51px;
	left:0px;
	width: 129px;
	height: 26px;
	background-image: url(menu-missions.gif);
	background-repeat: no-repeat;
}

#entete #menuint .lien3 a {
	position:absolute;
	text-indent:-5000px;
	top:0px;
	left:0px;
	width: 129px;
	height: 26px;
	background-image: url(menu-missions.gif);
	background-repeat: no-repeat;
}

#entete #menuint .lien3 a:hover {
	background-image: url(menu-missions-over.gif);
}

#lecontenu {
	margin: 156px 90px 0px 70px;
	line-height:15px;
}

#lecontenu .bloc {
	clear:both;
	margin: 0px 0px 0px 45px;
	padding: 0px
}
	
#lecontenu .texte {
	margin: 0px;
	padding: 0px
}
	
#lecontenu .photo {
	float:left;
	border:1px solid #FFFFFF;
	margin: 0px 15px 15px 0px;
	padding: 0px
}

#lepied {
	clear:both;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:normal;
	color:#6b8b99;
	margin: 0px;
	padding: 50px 0px 30px 0px ;
}

#lepied a{
	color:#6b8b99;
}

#lepied a:hover{
	color:#bac9d0;
	text-decoration:underline;	
	background:none
}

h1 {
	clear:both;
	color:#92d5f0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-style:italic;
	font-weight:bold;
	padding: 10px 0px 20px 0px;
	margin:0px
}

h2 {
	clear:both;
	color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	margin: 25px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
}

h3 {
	clear:both;
	color:#ff9f00;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color:#ffffff;
	margin: 0px 0px 15px 0px;
	padding: 0px
}

a {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color:#ffffff;
	margin: 0px 0px 15px 0px;
	padding:0px
}

li {
	margin: 0px;
	padding: 0px 0px 0px 7px;
	list-style-position: outside;
	background-image: url(liste.gif);
	background-repeat: no-repeat;
	background-position: left top;
	list-style-type: none;
	list-style-image: none;
}
				
.orange {
	color: #ff9f00;
	font-weight:bold
}

.bleu {
	color: #93d5f2;
	font-weight:bold
}

.legende {
	float:right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color:#ffffff;
	margin: 0px;
	padding: 0px
}

	