.menuText {
	font: bolder 12px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #FFEC01;
}
#menu ul#primary-nav {
	float : left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width : 655px;
	z-index : 10;
/*	background: #ffcc33 url("img/m.gif") no-repeat right center;
*/}

#menu ul#primary-nav ul {
	width: 130px;
	margin: 0;
	padding: 0;
	z-index: 10;
/*	background: #007DC4 url("img/m.gif") no-repeat right center;
*/}

#menu ul#primary-nav:after {
	content : ".";
	display : block;
	height : 0;
	z-index : 10;
	clear : both;
	visibility : hidden;
}
#menu ul#primary-nav li {
	position : relative;
	float : left;
	list-style : none;
	font : normal 100% Arial, Helvetica, sans-serif;
	z-index : 10;
	border-right: 1px solid white;
	width : 130px;
}
#menu ul#primary-nav li a, #menu ul#primary-nav li li a {
	display : block;
	text-decoration : none;
	color : #000;
	z-index : 10;
	padding : 2px 0 2px 10px;
}
#menu ul#primary-nav li a.active {
	display : block;
	background-color : #7FBEE1 !important;
}

* html ul#primary-nav li {	float : left;	height : 1%;}
* html ul#primary-nav li a { height : 1%;}
#menu ul#primary-nav ul {
	position : absolute;
	font : normal 100% Arial, Helvetica, sans-serif;
	display : none;
	z-index : 10;
}
#menu ul#primary-nav li ul li a {
	padding : 5px 0 5px 10px;
	border-left : 1px solid #007DC4;
	border-right : 1px solid #007DC4;
	background : #fff;
	z-index : 10;
}
#menu ul#primary-nav li:hover ul ul, #menu ul#primary-nav li.over ul ul {
	display : none;
	z-index : 10;
}
#menu ul#primary-nav li:hover ul, #menu ul#primary-nav li li:hover ul, #menu ul#primary-nav li.over ul, #menu ul#primary-nav li li.over ul {
	display : block;
	color : #000;
	padding : 0 0 0px 0;
	background-color: #FFFFFF;
	border-bottom : 1px solid #007DC4;

}
#menu ul#primary-nav li.menuparent, #menu ul#primary-nav li li.menuparent { background : transparent no-repeat right center;}
#menu ul#primary-nav li.menuparent:hover, #menu ul#primary-nav li.over { background-color : #7FBEE1 !important; }
#menu ul#primary-nav li a:hover {
	color: #000;
	background-color: #7FBEE1 !important;
}


#newsletter {
	position: relative;
	float: left;
	width: 150px;
	padding: 2px 0 3px 5px;
	margin: 0;
	z-index: 10;
	font-size: 11px;
	background: #AB1D43; 	color: #FFEC01;}
#newsletter form { margin: 0; padding: 0; }
#newsletter fieldset {
	border: none;
	margin: 0;
	padding: 0;

}
#newsletter input.email {
	border: none;
	float : left;
	margin: 0 5px 0 0;
	padding:  1px 0 1px 5px;
	width: 100px;
	font-size: 11px;	
}
#newsletter input.buttonNewsletter {
	font-size: 11px;
	border: none;
	color: #333;
	margin: 0;	
	width: 20px;
	background: white
}
#newsletter input.buttonNewsletter:hover, #newsletter input.buttonNewsletter.hover {
	font-size: 11px;
	border: none;
	color: #333;
	margin: 0;	
	width: 20px;
	background: #FF33CC; 
}