/* CSS Document */
/* --------------------------------------------------------------------------------------------- Main */
/* ------------------------------------------------------------------------- Left */
/* ----------------------------------------------------- Gauche */
	#gauche {
		float:left;
		width:448px;
		padding:0 0 0 6px
	}
/* --------------------------------- Zoom sur */
	#zoom_sur {
		width:430px;
		padding:12px 10px 1px 6px
	}
	#zoom_sur h3 {clear:both}
	#zoom_sur img {
		float:left;
		margin:0 10px 0 0
	}
	#zoom_sur p {line-height:1.6em}
	#zoom_sur a.lire_suite {
		display:block;
		float:right;
		font-family:verdana;
		color:#2899d1;
		background:url(fleche_rond_bleu.gif) no-repeat right top;
		padding:3px 24px 3px 0
	}
/* --------------------------------- Panorama */
	#panorama {
		width:441px;
		padding:2px 2px 4px 3px
	}
	#panorama div {
		float:left;
		width:212px;
		padding:4px 4px
	}
	#panorama div h3 {margin:0}
	#panorama div img {
		vertical-align:top;
		border:2px solid #ffd504
	}
	#panorama div a.lien {
		float:left;
		line-height:1.1em;
		font-size:1.1em;
		color:#012e44;
		background:#ffd504 url(coin_jaune_gauche.gif) no-repeat left bottom
	}
	#panorama div a.lien span {
		float:left;
		background:url(coin_jaune_droit.gif) no-repeat right bottom;
		padding:0 6px;
		cursor:pointer
	}
/* ----------------------------------------------------- Droite */
	#droite {
		float:left;
		width:319px;
		padding:0 7px 0 14px
	}