/* CSS Document */
/* -------------------------------------------------------------------- Formulaire */
	input:focus,
	input.focus,
	textarea:focus,
	textarea.focus,
	select:focus,
	select.focus {background:#f2f2f2}
	input.bouton, div.contenu div.conteneur input.bouton, #boutons a {
		font-family:tahoma;
		font-size:1em;
		color:#fff;
		background:#7f7f7f;
		border:1px solid #7f7f7f;
		padding:1px;
		cursor:pointer
	}
	#boutons a {
		text-decoration:none;
		padding:2px 3px
	}
	#boutons a:hover,
	#boutons a:focus,
	#boutons a.hover,
	input.bouton:hover,
	input.bouton:focus,
	input.bouton.focus,
	div.contenu div.conteneur input.bouton:hover,
	div.contenu div.conteneur input.bouton:focus,
	div.contenu div.conteneur input.bouton.focus {
		color:#7f7f7f;
		background:#fff
	}
/* -------------------------------------------------------------------- Liens externes */
	#main a.lightbox.externe, #liens_image ul li a.externe, #main #univers a.externe {
		background:none;
		padding-right:0
	}
	#main a.externe {
		background:url(lien_externe.gif) no-repeat right 50%;
		padding:0 14px 0 0
	}
	#main div.zone_contextuelle a.externe {background-image:url(lien_externe_zone_contextuelle.gif)}
/* -------------------------------------------------------------------- Outils */
	#outils {
		float:left;
		width:100%;
		line-height:normal;
		text-align:right;
		border-bottom:1px solid #cfcfcf;
		padding:20px 0 1px 0
	}
	#outils li {
		display:inline;
		background:none;
		padding:0
	}
	#outils img {
		vertical-align:middle;
		margin:0 0 0 8px
	}