* {
	font-family:Verdana;
}

div#head, div#bannerLead, div#bannerTopRight, div#headBanner {
	display:none;
}

div#navigLeft {
	display:none;
}

div#navigTop {
	display:none;
}

div#adBar {
	display:none;
}

div#adSense {
	display:none;
}

div#bannerRight {
	display:none;
}
