body {
	font-family:Arial, Helvetica;
	font-size: 12px;
	background-color:#d8d8d8;
	padding:0px;
	margin:0px;
	height:100%;
}

a {
	color:#f00;
	text-decoration:none;
}

h3 {
	font-size: 15px;
}

div#page {
	width:920px;
	position:absolute;
	top:4px;
	left:4px;
}

div#adSense {
	position:absolute;
	top:0px;
	left:790px;
	border:1px solid #000;
	padding:3px;
	background-color:#fff;
	
}

div#bannerRight {
  	width:160px;
	position:absolute;
	top:95px;
	left:786px;
	padding:0px;
}

div#bannerRight {
	border:1px solid #000;
}

div#bannerLead {	
	width:728px;
}

div#bannerLead img {
	border:1px solid #000;
}

div#bannerTopRight {
	position:absolute;
	width:213px;
	height:90px;
	top:0px;
	left:733px;
	border:1px solid #000;
}

div#main {
	width:781px;
	min-height:1000px;
	border:1px solid #000;
	background-color:#fff;
	position:absolute;
	left:0px;
}

div#head { 
	width: 780px;
	height: 184px;
	position: absolute;
	top:1px;
	left:1px;
}

div#headTitle {
	width: 780px;
	height: 110px;
	background-image: url(headTitle.jpg);
	position:absolute;
	top:0px;
	left:0px;
}

div#headLinks {
	position:absolute;
	top:16px;
	left:643px;
	width:180px;
}

div#headBottom {
	width: 780px;
	height: 70px;
	background-image: url(headBottom.jpg);
	position: absolute;
	left:0px;
	top:110px;
}

div#headReaderservice {
	width: 130px;
	height: 40px;
	padding-top:30px;
	padding-left:20px;
	position:absolute;
	top:0px;
	left:0px;
}

div#headBanner {
	width: 468px;
	height: 74px;
	position: absolute;
	top: 3px;
	left: 162px;
}

div#headWeather {
	width: 130px;
	height: 64px;
	padding-left:20px;
	padding-top:10px;
	position:absolute;
	left:630px;
	top:0px;
}

a.arrow {
	color:#000;
	text-decoration:none;
	background-image: url(arrow.gif);
	background-repeat: no-repeat;
	padding-left: 15px;
	padding-right:10px;
}

span#weatherDate {
	font-size: 11px;
}

div#navigTop {
	position:absolute;
	left: 162px;
	top: 184px;
	width:618px;
	height:21px;
	background-image: url(navig.gif);
	border:1px solid #b4b4b4;
	border-bottom-color:#000;
	border-right-width: 0px;
	z-index:500;
}

div#navigTop a {
	color:#000;
	font-weight:bold;
	font-size:12px;
	text-decoration:none;
	border-right: 1px solid #b4b4b4;
	padding-right:8px;
	margin-left:8px;
	padding-bottom:3px;
	padding-top:3px;
	position:relative;
	bottom:5px;
}

/*\*/
html*div#navigTop a {
	bottom:8px;
}
/**/

* html div#navigTop a {
	bottom:1px;
	padding-right:8px;
	padding-bottom:3px;
}

*+html div#navigTop a {
	bottom:2px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
	div#navigTop a {
		top:0px;
	}
	
	div#navigTop input {
		position:relative;
		top:0px;
	}
} 

div#navigAd {
	position:absolute;
	left:162px;
	top:207px;
	width:468px;
	height:22px;
	background-image:url(navigAdBackground.gif);
	border-width:0px;
}

div#navigAd a {
	color:#000;
	padding-left:30px;
	font-weight:bold;
	font-style:normal;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	position:relative;
	top:4px;
}


input#searchText, input#searchSubmit {
	padding:0px;
	margin:0px;
	border: 1px solid #000;
	margin-top:2px;
	font-size:11px;
}

input#searchText {
	width: 60px;
	font-size:12px;
}

/*\*/
html*input#searchText {
	position:relative;
	bottom:2px;
}
/**/

* html input#searchText {
	bottom:0px;
}

input#searchSubmit {
	width: 60px;
}

/*\*/
html*input#searchSubmit {
	position:relative;
	bottom:3px;
}
/**/

* html input#searchSubmit {
	bottom:0px;
}

form#searchForm {
	display:inline;
	margin:0px;
	margin-left:8px;
	padding:0px;
}

form#searchForm fieldset {
	border-width: 0px;
	margin:0px;
	padding:0px;
	display:inline;
}

div#content {
	margin-top:240px;
	margin-left:162px;
	width:468px;
	margin-bottom:30px;
	padding:0px;
}

div#content div#nooverflow {
	overflow:hidden;
}

html*div#content {
	margin-left:159px;
}

h4 {
	color: #ee0300;
}

div#navigLeft {
	float:left;
	margin-top:184px;
}

div#navigLeft div {
	width:150px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-bottom:5px;
}

div#navigLeft img {
	border:1px solid #000;
}

div#navigLeft ul {
	padding-left:9px;
}

div#navigLeft ul {
	margin-left:9px;
}

div#navigLeft span, div#navigLeft img, div#navigLeft a, div#navigLeft h3 {
	margin-left:0px;
}

div#navigLeft a {
	text-decoration:none;
	color: #000;
	line-height:20px;
	display:block;
	padding-left:15px;
}

div#navigLeft a.currentSite {
	background:url(arrow.gif) no-repeat left center;
}

div#navigLeft a.rubric {
	font-weight:bold;
	font-size:15px;
	border-top:1px solid #b2b2b2;
	padding-top:5px;
	margin-top:5px;
	width:135px;
	background-position:0% 70%;
}

div#navigLeft a#firstRubric {
	border-top-width:0px;
}

* html div#navigLeft a.rubric {
  padding-top:10px;
}

div#navigLeft a.home {
	background-image:url(navigHome.gif);
	font-weight:bold;
	margin-bottom:0px;
	padding-bottom:0px;
	position:relative;
	height:21px;
	top:0px;
	border-bottom:1px solid #000;
}

div#adBar {
	float:right;
	margin-top:220px;
	width:138px;
	padding-left:2px;
	padding-top:7px;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

div#adBar img {
	border:1px solid #ccc;
	margin:0px;
	margin-top:2px;
	margin-bottom:2px;
	margin-right:3px;
	padding:0px;
}

div#editor {

}

div#editor fieldset {
	border-width:0px;
}

div#editor input, div#editor textarea {
	border: 1px solid #000;
}

div#editor textarea {
	width:430px;
	height:100px;
}
	
#infoNewsSearch{
	position:absolute;
	top:21px;
	left:317px;
	width:300px;
	border:1px solid #000;
	display:none;
}
.infoBox{
	background-color:#fff;
}

.infoBox td{
	padding:3px;
}

.infoHeader{
	background-color:rgb(200,200,200);
}

div#loginWindow {
	display:none;
	position:absolute;
	top:22px;
	left:230px;
	width:380px;
	height:80px;
	overflow:hidden;
}


div#logoutWindow {
	display:none;
	position:absolute;
	top:22px;
	left:235px;
	width:380px;
	height:30px;
	overflow:hidden;
}

	
div#login {
	width:380px;
	height:80px;
	background-image:url(loginBg.gif);
	position:absolute;
	top:-80px;
}

div#logout {
	width:380px;
	height:30px;
	background-image:url(logoutBg.gif);
	position:absolute;
	top:-30px;
}

div#login input {
	width:65px;
}

div#login fieldset {
	margin-top:4px;
	margin-left:8px;
	border-width:0px;
}

div#login fieldset a {
	border-width:0px;
	margin:0px;
	padding:0px;
	padding-right:20px;
}

div#logout fieldset {
	margin-top:4px;
	margin-left:8px;
	border-width:0px;
}

div#logout fieldset a {
	border-width:0px;
	margin:0px;
	padding:0px;
	padding-right:20px;
}
+
		

