@charset "UTF-8";
/* drop down . css */ 
ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
 list-style: none;
 margin: 0;
 padding: 0;
 width:500px;
}

ul.dropdown {
 z-index: 0;
 float: left;
}

ul.dropdown li {
 float: left;
 vertical-align: middle;
 }

ul.dropdown li.hover,
ul.dropdown li:hover {
 position: relative;
 z-index: 101;
 cursor: default;
}

ul.dropdown ul {
 visibility: hidden;
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 100;

}

ul.dropdown ul li {
 float: none;
}

ul.dropdown ul ul {
 top: 1px;
 left: 196px;
}

ul.dropdown li:hover > ul {
 visibility: visible;
}	
ul.dropdown li.rtl ul {
 top: 100%;
 right: 0;
 
}

ul.dropdown li.rtl ul ul {
 top: 1px;
 right: 99%;
 
}

/* drop down upward.  css */ 
ul.dropdown-upward ul {
 top: auto !important;
 bottom: 100%;
}

ul.dropdown-upward ul ul {
 bottom: 1px;
}

/* helper .css */


ul.classic {
 list-style: disc;
}


/* default.css */ 
/* barre tout en bas */

	/* tout les LI */ 
	ul.dropdown li {
	 	background-image:url(article_off.png);
		background-repeat:no-repeat;
		background-color:#DEDEDE;
		padding-top:8px;
		height:26px;
		list-style : none;
		padding-left:4px;
		width:192px;
		border-left:2px #BABABA solid;
		border-right:2px #BABABA solid;
		font-weight:normal;
	}
	/* tout les LI qd on passe dessus */ 
	ul.dropdown li.hover,
	ul.dropdown li:hover {
		background-image:url(article_on.png);
	}
	ul.dropdown a {
		color:black;
		text-decoration:none;
	}
/*-------------------------------------------------/
 * @section		Base Style Extension
 */

ul.dropdown a,
ul.dropdown span {
 display: block;
}

ul.dropdown .dir_dropdown
{
	background-image:url(sousrub_off.png);
	font-weight:bold;
}
ul.dropdown .dir_dropdown:hover
{
	background-image:url(sousrub_on.png);
}
/*-------------------------------------------------/
 * @section		Support Class `open` Usage
 * @source		js, artificial
 *
 */

/* ajout pf */
.background_li_bt
{
	background-image: url(lower_bt_bg.jpg);
	background-repeat:repeat-x;
	float:left;
	padding-top:7px;
	height:22px;
}

/* -- correction dropdown -- */

