.contenu
{
	width:1060px;
	margin:auto;
	margin-top:5px;
}
.contenu_accueil
{
	width:970px;
	margin:auto;
	margin-top:5px;
}

.contenu_article
{
	float:left;
	color:black;
	background-color:#FFFFFF;
	width:621px;
	padding:4px;
	overflow:hidden;
}
.titre
{
	color:white;
	font-weight:bold;
	background-color:#991C3A;
	float:left;
	padding-bottom:3px;
	width:611px;
	padding-left:5px;
	font-size:19px;
}
.bottom
{
		
	color:white;
	border-top:2px white solid;
	background-image:url("header_bg.jpg");
	background-repeat:repeat-x;
	background-color:#656565;
	padding-bottom:12px;
	
}
.titre_bloc
{
	background-image:url("top_bloc.jpg");
	width:196px;
	height:18px;
	text-align:center;
	color:#991C3A;
	float:left;
	padding-top:8px;
	font-weight:bold;
	margin:auto; 
}
.bloc_texte
{
	background-image:url("bg_bloc.jpg");
	background-repeat:repeat-y;
	padding-left:10px;
	float:left;
	width:186px;
	height:190px;
}
.contenu_acc
{
	padding-top:2px;
	background-color:#CCCCCC;
	width:175px;
	font-size:11px;
	padding-left:10px;
}
.contenu_acc a 
{
	text-decoration:none;
	color:black;
}
.contenu_acc a:hover
{
	text-decoration:underline;
}
dt, .ligne_lien
{
	padding-left:2px;
	border-top:1px #BBBBBB solid;
	background-color:white;
	background-image:url("fleche_menu.jpg");
	background-position:top right;
	background-repeat:no-repeat;
	padding-top:2px;
	width:183px;
	text-decoration:none;
	font-weight:bold;
	color:#991C3A;
}
dt a, .ligne_lien a
{
	text-decoration:none;
	color:#991C3A;
}

.parcours_txt
{ 
	color:gray;
	text-decoration:none;
}
.parcours_txt:hover 
{
	text-decoration:underline;
}

.parcours_txt_ft
{ 
	color:white;
	text-decoration:none;
}
.parcours_txt_ft:hover 
{
	text-decoration:underline;
}

.active
{
	color:#222222;
	font-weight:bold;
	text-decoration:underline;
} 
.bt_pub
{
	display:inline;
	padding-left:4px;
	padding-right:4px;
	padding-bottom:4px;
	margin-left:6px;
	background-color:#CCCCCC;
}
.pub_active
{
	display:inline;
	padding-left:4px;
	padding-right:4px;
	padding-bottom:4px;
	margin-left:6px;
	background-color:white;
	border:1px #999999 solid;
	border-top:none;
}
.bt_pub a
{
	color:#991C3A;
	text-decoration:none;
}
.pub_active a
{
	color:#991C3A;
	text-decoration:none;
}
.bt_pub a:hover
{
	background-color:white;
}
.footer_rub
{
font-weight:bold;
}

.ul_gauche
{
	list-style: none;
	margin:0px;
	width:183px;
	padding:0px;
}
.li_gauche
{
	font-size:11px;	
	width:183px;
	margin:0px;
	padding:0px;
}
.lien_accordeon a
{
font-size:12px;	
color:black;
	text-decoration:none;
}
.lien_accordeon a:hover
{
	text-decoration:underline;
}
.lien_accordeon_active
{
	color:white;
	font-weight:bold;
}
dd
{
	background-color:#CCCCCC;  
	margin:0px;
	padding:0px;
	padding-left:2px;
}
dl
{
	background-color:#CCCCCC;  
	margin:0px;
	padding:0px;
}
.lien_lower_bt
{
	float:left;
	width:auto;
}
.lien_lower_bt a
{
	text-decoration:none;
	color:#991C3A;
}
.lien_lower_bt a:hover
{
	text-decoration:underline;
}



/* --- cleaning css  --- */
.clean_outils
{
	padding-top:4px;
	width:768px;
}

#scrollup {
   position: relative;
   overflow: hidden;
   height: 148px;
   width: 174px
 }
 .headline {
   position: absolute;
   top: 210px;
   left: 5px;
   height: 148px;
   width:174px;
 }
 
 #scrollup_2 {
   position: relative;
   overflow: hidden;
   height: 148px;
   width: 174px
 }
 .headline_2 {
   position: absolute;
   top: 150px;
   left: 5px;
   height: 148px;
   width:174px;
 }
 
 
 
 .headline_prix
 {
 float:left;
 color:white;
 background-color:#991C3A;
 width:auto;
 padding:4px;
 margin-left: 4px;
 }
.headline_dest
{
	padding-left:8px;
	color:gray;
	text-decoration:none;
}
.headline_lien
{
	text-align:right;
	padding-right:14px;
}
.headline_lien a
{
	color:#991C3A;
	text-decoration:none;
}
.headline_lien a:hover
{
	text-decoration:underline;
}
.headline_comp
{
	text-align:right;
	margin-right:8px;
}