.image-wrapper {
	border:5px solid #E8E8E8;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	height:180px;
	margin-bottom:20px;
	overflow:hidden;
	position:relative;
}
.image-wrapper a {
	color:#fff;
	display:block;
	text-decoration:none;
}
.image-wrapper a:hover {
	text-decoration:none;
}
.image-wrapper img {
	width:100%;
}
.content-overlay {
	background-color:#000;
	bottom:0;
	left:0;
	opacity:.7;
	position:absolute;
	width:100%;
}
.content-overlay span {
	font-weight:bold;
}
.content-overlay h4 {
	color:#FFF;
	font-size:1em;
	font-weight:normal;
	margin:5px;
	padding:0;
}
.content-overlay p {
	color:#FFF;
	margin:5px;
}

/* @group Carrousel */

#carrousel {
	background:transparent url(bg_carrousel.png) no-repeat 0 0;
	height:210px;
	overflow:hidden;
	width:270px;
}
#carrousel.enhanced {
	background:transparent url(bg_carrousel.png) no-repeat 0 -210px;
	height:270px;
}
.enhanced .content-overlay p {
	display: none;
}
#carrousel-detail .image-wrapper {
	background-color:transparent;
	border:none;
	height:200px;
	width:260px;
	display:none;
}
#carrousel-detail .image-wrapper.item1 {
	display:block;
}
#carrousel-detail .image-wrapper img {
	margin:0;
	width:262px;
}
#carrousel-detail {
	margin:5px;
}

#carrousel-pager {
	clear:both;
	line-height:1;
	list-style-position:inside;
	margin:0 0 0 7px;
	overflow:hidden;
	padding:0;
}
ul#carrousel-pager li {
	background:transparent url(bg_vignette.png) no-repeat 0 0;
	display:inline;
	float:left;
	height:54px;
	margin:0 5px;
	padding:0;
	width:54px;
}
ul#carrousel-pager li a {
	display:block;
}
ul#carrousel-pager li a.activeSlide img {
	border:2px solid #FF3A00;
}
ul#carrousel-pager li a img {
	border:2px solid #FFF;
}

/* @end */
