#all_site {
	/*width:647px;*/
	background:none;
}	
div#acces_autres_sites,
#connexion,
#menu,
#bandeau,
#recherche_simple,
#conteneur_footer,
#bas_site,
#barre_lien,
#barre_lien2,
.encadre_recherche,
#onglets,
#topbar {
	display:none;
}

#bloc_fil_recherche {
	height:30px;
	margin:0px; padding:0px;
	/*background:yellow;*/
}
p#ariane {
	/*width:647px; */
	height:30px;
	margin:0px; padding:0px;
	/*background:red;*/
}

#conteneur_header {
	padding:0px;
}
#logo {
	padding:0px 0px 15px 0px;
}
#conteneur_contenu {
	/*width:648px;*/
	background:/*orange*/ url(bg_conteneur_contenu.gif) repeat-y -283px 0px;
}
body #contenu_avec_encadres,
body.pagelibre #contenu_avec_encadres {
	/*width:429px;*/
	margin:0px; padding:0px 10px 0px 0px;
	/*background:blue;*/
}
body div#contenu_sans_encadres,
body.recherche div#contenu_sans_encadres {
	/*width:429px;*/
	margin:0px; padding:0px 10px 0px 0px;
	/*background:blue;*/
}
body div.colonne_contenu,
body.pagelibre div.colonne_contenu {
	float:none;
	/*width:429px;*/
	margin:0px; padding:0px;
	/*background:aqua;*/
}
#encadre {
	display:block;
	width:208px;
	padding:0px;
	/*background:red;*/
}
.encadre_fiche, .encadre_recherche,
.position_titre_colonne-droite_module_sans_picto {
	width:208px;
}
.fond_encadre_fiche {
	background:none;
}
div.colonne_fond,
body.actualite div.colonne_fond,
body.formation div.colonne_fond {
	float:none;
	background:none;
}
div.colonne_deco {
	float:none;
	padding:0px 0px 0px 0px;
}
div.colonne.premiere_colonne div.colonne_deco {
	padding:0px 5px 0px 0px;
}
div.colonne.derniere_colonne div.colonne_deco {
	padding:0px 0px 0px 5px;
}
div.colonne.premiere_colonne.derniere_colonne div.colonne_deco {
	padding:0px 0px 0px 0px;
}
div.ligne {
	float:none;
}
div.colonne {
	/*float:none;*/
}
div.colonne.premiere_colonne.derniere_colonne {
	float:none;
}
div.premiere_colonne {
	/*background:yellow;*/
}
div.derniere_colonne {
	/*background:orange;*/
}
div.colonne ul,
div.colonne ol,
div.colonne ul li,
div.colonne ol li {
	float:none;
	overflow:visible;
}
.style1, .style2, .style3, .sansstyle {
	clear:both; float:none;
	padding-bottom:10px;
	width:100%;
}
body.actualite #date_lieu {
	float:none;
}
body.actualite div#date_lieu ul,
body.actualite div#date_lieu ul li,
body.actualite div#bloc_contenu,
.infos_pratiques {
	float:none;
}
.para-an2 {
	float:none;
	width:419px; height:auto;
	padding:5px 5px 10px 5px;
}
body.formation .contenu_onglet1,
body.formation .contenu_onglet2,
body.formation .contenu_onglet3,
body.formation .contenu_onglet4,
body.formation .contenu_onglet5 {
	display:block;
}
.contenu_titreprint {
	display:block;
}
.contenu_titreprint h2 {
	border-bottom:1px solid #CCCCCC;
}
body.pagelibre div.fond_transparent {
	background:transparent url(gdcarre.png) no-repeat scroll 0 3px;
}
body.pagelibre div.fond_transparent h1 {
	margin:0px;
}
ul.liste-actualites li {
	clear:both;
}
.fond_titre_paragraphe {
	clear:both;
}
