body {
	background-color: #FFCB05;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 0px;
	padding: 0px;
	height: 100%;
}
#tablecentre {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #0033CC;
	text-align: center;
}