.jsonSuggest {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  z-index: 9999;
}
.jsonSuggest li a {
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  padding: 5px;
}
.jsonSuggest li a:hover {
  text-decoration: none;
  cursor: pointer;
}
.jsonSuggest li a strong {
  color: #d20a11;
}
.jsonSuggest li a.ui-state-hover {
  background: #d20a11;
  color: #fff;
}
.jsonSuggest li a.ui-state-hover strong {
  color: #fff;
}
