body {
	font-size: 0.7em;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #726970;
}
#page #main #actublock {
	color: #FFFFFF;
}

#page #main #actublock .content .actu .contenu {
	line-height: 1.4em;
}

#page #main #actublock .content .actu .actualite_metiers {
	margin: 0px 0px 0px 0px;
	font-size: 1.4em;
	font-weight: bold;
	color: #FFF;
}

#page #main #actublock .content #actuagence .actualites_agence {
	margin: 40px 0px 0px 0px;
	font-size: 1.4em;
	font-weight: bold;
	color: #F7931D;
}

#page #main #actublock .content .actu .orange {
	font-size: 1.1em;
	font-weight: bold;
	color: #F7931D;
}

#page #main #actublock .content a {
	color: #FFFFFF;
}

#main #actublock .content a:hover {
	text-decoration: none;
}

#main #actublock .content acronym {
	color: #F87D05;
}

#page #actublock .content .actu .contenu .liensup a, #page #contentmain .texteblock #references .contenu .liensup a {
	text-align: right;
	line-height: 1.3em;
	color: #FFFFFF;
}

#page #main #contentmain .texteblock {
	line-height: 1.6em;
	text-align: left;
}

#page #main #contentmain .texteblock a {
	color: #8F4484; /*previous : #F87D05;*/
	text-decoration: underline;
}

#page #main #contentmain .texteblock a:visited {
	color: #8F4484; /*previous : #F87D05;*/
	text-decoration: underline;
	/*text-decoration: underline;*/
}

#page #main #contentmain .texteblock a:hover {
	color: #8F4484;
	text-decoration: none;
}

.gototop {
	text-align: right;
	padding-right: 20px;
	margin-bottom: 20px;
}
.gototop a {
	font-size: 0.9em;
}
#page #main #contentmain .texteblock p {
	font-size: 1.1em;
}

#page #main #contentmain .texteblock p.right {
	text-align: right;
	margin: 0px 5px;
}

#page #main #contentmain #references .contenu p {
	line-height: 1.3em;
	font-size: 1em;
}

acronym {
	color: #726970;
}
#page #contentmain .texteblock #references .contenu .liensup a {
	color: #F7931D;
}


#page #contentmain .texteblock ul {
	margin: 0px 0px 15px 0px;
	line-height: 1.6em;
	}

#page #contentmain .texteblock ul li.bullet {
	font-size: 1.1em;
	margin-left: 20px;
	list-style: url(iconLI.gif);
}

#page #contentmain .texteblock ul li ul li.puce {
	font-size: 1em;
	margin-left: 20px;
	list-style: url(puce.gif);
}

.schemafloatRight p {
	margin-top: 7px;
	text-align: center;
}

.linkLegend {
	margin-top: 10px;
	font-size: 0.9em;
	text-align: center;
}


#page #contentmain .texteblock ol {
	margin: 0px 0px 20px 0px;
	}
#page #contentmain .texteblock ol li.bullet {
	font-size: 1.1em;
	margin: 0px 0px 0px 20px;
	list-style: url(iconLI.gif);
	}


/* ------------------------------------------------------------------------------------
titres pour les focus
------------------------------------------------------------------------------------ */
#focus .focusID {
	font-size: 1.2em !important;
	line-height: 140%;
	font-weight: 700;
}


/* ------------------------------------------------------------------------------------
q variable en hauteur
------------------------------------------------------------------------------------ */
#layoutQuote {
	margin-top: 16px;
	}

#layoutQuote #topQuote {
	background-image: url(http://www.intuiti.net/images/blockquote_top.jpg);
	height: 9px;
	}

#layoutQuote #middleQuote p {
	background-image: url(http://www.intuiti.net/images/blockquote_middle.jpg);
	padding : 15px 70px 0 75px;
	color: #000;
}

#layoutQuote #middleQuote p q {
	font-size: 1.3em;
	/*width: 600px;*/
	width: 450px;
	display: block;
	margin: 0 auto;
}
	
#layoutQuote #bottomQuote {
	background-image: url(http://www.intuiti.net/images/blockquote_bottom.jpg);
	height: 24px;
	}

/* ------------------------------------------------------------------------------------
blockquote variable en hauteur
------------------------------------------------------------------------------------ */
#layoutBlockquote #topBlockquote {
	background-image: url(http://www.intuiti.net/images/bracketsBlockquote.png);
	height: 43px;
	}

#layoutBlockquote #middleBlockquote {
	background-color: #E9D1E7;
	padding : 0px 70px 0 75px;
	color: #000;
}

blockquote {
	font-size: 1.3em;
	/*width: 600px;*/
	width: 450px;
	display: block;
	margin: 0 auto;
	background-color: #E9D1E7;
}
	
#layoutBlockquote #bottomBlockquote {
	background-image: url(http://www.intuiti.net/images/blockquote_bottom.jpg);
	height: 24px;
}
