/*Couleurs des elements de base*/
body {color: #333;}
input, select, textarea {color: #333;}

/*Niveaux de titrages*/

	/*Titrages de boites*/
	.boxTitle {
		font-weight: bold;
		font-size: 11px;
		text-transform: uppercase;
	}

/*Couleurs*/

	/*Gris bleuté*/
	.c1 {color: #464c56}
	/*Bleu base*/
	.c2 {color: #125687}
	/*Bleu actif*/
	.c3 {color: #0072ca}
