/* image principale bandeau */

#image_bandeau{
	clear:both;
	margin: 14px 52px 15px 43px;
}

#image_bandeau img{
	border: 1px solid #000;
	display:block;
}

#bloc_2_colonnes_accueil{
	position:relative;
	padding:0 0 0 43px;
}

#bloc_gauche{
	float:left;
	width:350px;
}

#acces_ent{
	float:left;
	display:block;
}

#acces_ent img{
	border:5px solid #fff;
}

#acces_ent:hover img{
	border:5px solid #005bc3;
}

#acces_direct{
	margin-right:8px;
	float: right;
	width: 174px;
}

#acces_direct h2{
	margin: 15px 0px 0px 24px;
	text-indent:-1000em;
	background:url(acces_direct.png) no-repeat 0 0;
	width:147px;
	height:18px;
}

#acces_direct form{
	width:174px;
	margin-bottom: 4px;
	padding:0;
}

#acces_direct select{
	width:172px;
}

.menu_deroulant {
	padding-top : 5px;
}

#acces_direct option{

}






#zone_flash{
	margin:15px 0 0 0;
}

#zone_flash img{
	border:0;
}

/* colonne droite */
#bloc_droit{
	float: left;
	width: 405px;
}

#bloc_breves{
	background: #0e3070 url(coin_breves.gif) no-repeat bottom left;
	padding: 5px 0;
	margin-top : 5px;
}

#bloc_breves #titre_breves{
	float: left;
	display: block;
	width: 63px;
	margin: 15px 10px 0;
	background: transparent url(breves.png) no-repeat top left;
	text-indent: -1000em;
}

#bloc_breves #les_breves{
	margin-left: 83px;
	width: 300px;
	letter-spacing: 0.08em;
	margin-bottom: 10px;
}

#bloc_breves .une_breve{
	color: #FFF;
	margin-top: 15px;
}

#bloc_breves .image_breves{
	float: left;
	margin-right: 15px;
}

#bloc_breves h3{
	font-size: 1em;
	color: #A1A2A5;
}

#bloc_breves p{
	margin-bottom: 5px;
	font: 1em Arial;
}

#bloc_breves .une_breve a {
	background-color: #111;
	color: #FF9245;
	text-decoration: none;
}

#bloc_breves .une_breve img { border: 1px solid #075ac1; }

.accueil #footer { margin: 15px 0 0 0; }