/* header */
#header{
	background: #f6f7fb url(http://www.univ-paris1.fr/fileadmin/templates/v1/images/fond_header.gif) repeat-x 0 0;
	height: 1%;
	position:relative;
}

	#header a#logo{
		float:left;
	}

	#header a#logo img{
		border: 0;
	}

	#header h1{
		text-indent:-1000em;
		background:url('http://www.univ-paris1.fr/fileadmin/templates/v1/images/univ_paris.jpg') no-repeat left 12px;
		width:618px;
		height:109px;
		margin:0 0 0 171px;
	}

/* moteur de search */
#bloc_recherche.recherche {
	background:#fff;
	width:187px;
	padding: 1px;
}

#bloc_recherche_ufr.recherche {
	background: #FFF;
	padding: 1px;
}

#bloc_recherche.recherche input,
#bloc_recherche_ufr.recherche input,
#searchbar input {
	background: #fff url(http://www.univ-paris1.fr/fileadmin/templates/v1/images/commun/loupe_recherche.gif) no-repeat left center;
	padding-left: 18px;
	border: 1px solid #CCC;
	float: left;
	width: 130px;
	margin-right: 2px;
}

#bloc_recherche.recherche button,
#bloc_recherche_ufr.recherche button,
#searchbar button {
	float: left;
	height: 18px;
	line-height: 18px;
	background: #FFF;
	border: 1px solid #CCC;
}

#bloc_recherche.recherche span,
#bloc_recherche_ufr.recherche span,
#searchbar span {
	padding:0 1px;
	font-size:0.8em;
	text-align: center;
}

/* placement du moteur de recherche */
.univers-universite #bloc_recherche.recherche,
.univers-formation #bloc_recherche.recherche,
.univers-documentation #bloc_recherche.recherche,
.univers-professionnel #bloc_recherche.recherche,
.univers-international #bloc_recherche.recherche,
.univers-recherche #bloc_recherche.recherche {
	position: absolute;
	right: 10px;
	top: 20px;
}

.univers-universite #bloc_recherche.recherche button,
.univers-formation #bloc_recherche.recherche button,
.univers-documentation #bloc_recherche.recherche button,
.univers-professionnel #bloc_recherche.recherche button,
.univers-international #bloc_recherche.recherche button,
.univers-recherche #bloc_recherche.recherche button,
.ufr #bloc_recherche.recherche button {
	padding: 0 0 0 3px;
	background: #FAFAFA ;
}

.univers-etudiant #bloc_recherche.recherche {
	position: absolute;
	top: 6px;
	left: 266px;
	background: transparent url('http://www.univ-paris1.fr/fileadmin/templates/v1/images/univers/etudiant/petit-point-search.gif') no-repeat left top;
	padding: 8px 0 0 10px;
}

	.univers-etudiant #bloc_recherche.recherche input {
		border: 3px solid #FE7E19;
		font-size: 1.2em;
		color: #4f5d1f;
		font-weight: bold;
	}
	
	.univers-etudiant #bloc_recherche.recherche button {
		margin-left: -10px !important;
		margin-top: -33px !important;
		float: right;
		width: 43px;
		height: 43px;
		background: transparent url('http://www.univ-paris1.fr/fileadmin/templates/v1/images/univers/etudiant/gros-point-search.gif') no-repeat left center;
		border: 0;
		color: #FFF;
		font-weight: bold;
		font-size: 1.1em;
		vertical-align: middle;
		position: relative;
	}

.profil #bloc_recherche.recherche {
	position: absolute;
	right: 100px;
	top: 120px;
}

/* menu pour les versions traduites */
ul#menu_langues{
	display:block;
	position:relative;
	float:right;
	margin:20px 44px 0 0;
	list-style:none;
}

	ul#menu_langues li{
		float:left;
	}

	ul#menu_langues a{
		display:block;
		height: 19px;
	}
	
	#welcome-msg {
		display: block;
		text-indent: -1000em;
		background: url(http://www.univ-paris1.fr/fileadmin/templates/v1/images/accueil/welcome-msg.png) no-repeat 0 0;
		width: 210px;
		height: 18px;
	}
	
	#change-lang-uk {
		text-indent: -1000em;
		background: url(http://www.univ-paris1.fr/fileadmin/templates/v1/images/accueil/flag-uk.png) no-repeat 0 0;
		width: 28px;
		height: 19px;
		margin-left: 10px;
	}
	
	#change-lang-fr {
		text-indent: -1000em;
		background: url(http://www.univ-paris1.fr/fileadmin/templates/v1/images/accueil/flag-fr.png) no-repeat 0 0;
		width: 28px;
		height: 19px;
		margin-left: 10px;
	}



/* menu des profils : futur étudiant, ... */
#menu_profils{
	font-size:0.9em;
	margin-top:48px;
	margin-bottom: 10px;
}

	#menu_profils ul{

	}

		#menu_profils li{
			display:inline;
		}

		#menu_profils a{
			color:#000;
			text-decoration:none;
		}
		
		#menu_profils a.profil-actif {
			color: #FE7E19;
		}

		#menu_profils a:hover{
			text-decoration:underline;
			color: #FED300
		}

/* menu haut : menu des univers */
#menu_h {
	background: #c3cfe9;
	width: 66.6em !important;
}

	#menu_h ul#menu_vertical_dynamique {
		list-style-type:none;
		margin-left: 40px;
		min-height: 2.7em;
		height: 2.7em;
	}

		#menu_h ul#menu_vertical_dynamique li{
			display: block;
			float:left;
			padding:0px 6px 0px 2px;
			background:#c2cfe8 url(http://www.univ-paris1.fr/fileadmin/templates/v1/images/commun/puce_menu_h.png) no-repeat right center;
		}

		#menu_h ul#menu_vertical_dynamique li.last{
			background-image:none;
		}

			#menu_h ul#menu_vertical_dynamique li a{
				display:block;
				color:#005bc3;
				font-weight:bold;
				padding:10px 2px;
				text-decoration:none;
				font-size:0.85em;
			}
			
			#menu_h ul#menu_vertical_dynamique li a.active { background-color: #f6f7fb; }
			#menu_h ul#menu_vertical_dynamique li a:hover{ background-color:#f6f7fb; }

/* menu déroulant javascript/typoscript */
ul.niveau2 { border-left: 1px solid #006DB4; border-right: 1px solid #006DB4; border-bottom: 1px solid #006DB4; list-style-type: none; }
ul.niveau2 li a { display: block; padding: 4px; border-left: 3px solid #A1A2A5; background: #F6F7FB; text-decoration: none; text-align: left; font-weight: bold; font-size: 11px; color: #005ac3; }
ul.niveau2 li a:hover { text-decoration: none; background: #C2CFE8; color: #0e3070; }