body{
padding: 0px; 
margin: 0px;
}
a{
color: #003EC8;
}
a.pretty_link {
border: 0px;
}
a.welcome_link {
text-decoration: none;
font-weight: bold;
color: black;
}
ul li{
list-style-image: url(fleche_puce.gif.1);
}
.fond_bandeau{
background : #FFBD00 url(fond_points_blancs.gif) 0px 28px;
background-repeat: repeat-x;
}
.td_right{
background: url(fond_droit.gif) repeat-x;
}
.img_variable{
border-top: 1px solid white;
border-bottom: 0px solid white;
border-left: 2px solid white;
border-right: 2px solid white;
}
h1.title_univ{
margin: 0px;
}	
h1.title_univ a{
font-size: 24px;
height: 30px;
width: 340px;
padding-left: 4px;
padding-top: 15px;
margin: 0px 0px 0px 42px;
font-family: lucida grande, arial;
color: white;
background-color: #FFBD00;
text-decoration: none;
margin-bottom: 0px;
/*border : 1px solid red;*/
}
a.lien_rouge{
color: #AF0800;
}
div.lien_rouge_fleche {
background-image: url('fleche_puce_sansfond.png');
background-repeat:no-repeat;
padding-left: 10px;
background-position: left 3px;
}
div.lien_rouge_fleche a {
color: #AF0800;
}
a.survol {
color: black;
text-decoration: none; 
}
a.survol:hover {
color: darkred;
background-color: #DDDDDD;
text-decoration: none; 
}
/* Actus newsletter ***********************************************************/

hr.actu{
  background-color: #FF9900;
  color: #FF9900;
  border: 0;
  height: 1px;
  width: 60%;
}

/* Menus de niveau 1 **********************************************************/
a.menu0, a.menu0_selected, a.menu0 div,a.menu0_selected div{
font-family: lucida grande, arial;
color: black;
font-size: 12px;
text-decoration: none;
}

a.menu0_selected div{
text-decoration: underline;
background: url(fleche_grise.gif) no-repeat 4px 6px;
}
td#jaune{
padding-top: 1px;
border-top: 6px solid #FEBD00;
}
td#bleu{
padding-top: 1px;
border-top: 6px solid #6CC0DC;
}
td#orange{
padding-top: 1px;
border-top: 6px solid #FE9D22;
}
td#vert{
padding-top: 1px;
border-top: 6px solid #8BB016;
}
td#gris{
padding-top: 1px;
border-top: 6px solid #A3A3A2;
}
td#bordeau{
padding-top: 1px;
border-top: 6px solid #C22567;
}
/* Menus 2 ********************************************************************/
a.menu2{
color: #6D6D6D;
font-family: lucida grande, arial;
text-decoration: none;
font-size: 12px;
}
a.menu2_selected{
color: #C23916;
font-family: lucida grande, arial;
text-decoration: none;
font-weight: bold;
font-size: 12px;
}
td.menu2_selected_before{
background: url(fleche_rouge.gif) no-repeat 4px 6px;
}
/* Pages **********************************************************************/
td.page, td.page_selected{
padding-left: 12px;
background: url(carre_rouge_petit.gif) no-repeat 4px 6px;
}
a.page, a.page_selected{
color: #C23916;
font-family: lucida grande, arial;
text-decoration: none;
font-size: 11px;
}
a.page_selected{
text-decoration: underline;
}
/* upper **********************************************************************/
a.upper, a.upper_selected{
font-family: lucida grande, arial;
color: black;
text-transform: none;
text-decoration: none;
font-size: 12px;
}
a.upper_selected{
font-weight: bold;
}
td.fond_upper{
background: url(fond_upper.gif);
}
table.table_upper{
padding-left: 66px;
background: #D0D0D0 url(fond_degrade_upper.gif) no-repeat 0px 12px;
}
/* Path ***********************************************************************/
#gs_path,a.link_path{
color: #BBBBBB;
font-family: lucida grande, arial;
font-size: 10px;
text-decoration: none;
}
/* downer *********************************************************************/
.div_downer{
font-family: lucida grande, arial;
color: #9A9A9A;
font-size: 10px;
width: 707px;
#margin-left: 273px;
text-align: center;
}
a.downer, a.downer_id{
font-family: lucida grande, arial;
color: #9A9A9A;
font-size: 12px;
text-decoration: none;
}
a.downer_id{
color: #E4E2E2;
}
/* search *********************************************************************/
div.title_search{
font-family: lucida grande, arial;
font-weight: bold;
color: black;
font-size: 12px;
padding-left: 82px;
background: url(bulles.gif) no-repeat 15px 3px;
}
/* actus **********************************************************************/

.actu_title{
color:#C22567;
font-family:lucida grande,arial;
font-size:14px;
font-style:normal;
font-weight:normal;
text-decoration:none;
}
.actu_close0,.actu_open0{
 background-color		: #F5F5F5;
 border-bottom			: 1px solid #969696;
 border-top					: 1px solid #969696;
}
.actu_close1,.actu_open1{
 padding						: 20px 0px;
}
table.table_home_actu{
margin-top: 13px;
}
td.title_generic_home_actu{
font-family: lucida grande, arial;
font-weight: bold;
color: white;
text-transform: uppercase;
font-size: 14px;
padding-top: 15px;
padding-left: 9px;
background: url(fond_top_actu.gif) no-repeat top left;
}
td.title_generic_home_agenda{
font-family: lucida grande, arial;
font-weight: bold;
color: #EC2A86;
text-transform: uppercase;
font-size: 14px;
padding-left: 9px;
/* background: url(fr/actus/fond_top_agenda.gif) no-repeat top left;*/
}
td.title_generic_home_agenda a{
color: #EC2A86;
}
a.actu_small_title_home, a.actu_summary_home, a.actu_link_home{
font-family: lucida grande, arial;
color: black;
font-size: 10px;
text-decoration: none;
}   
a.actu_small_title_home, a.actu_link_home{
font-weight: bold;
font-size: 11px;
}
a.actu_la_une_title_home{
font-family: verdana, lucida grande, arial;
font-weight: bold;
font-size: 12px;
text-decoration: none;
color: rgb(100, 100, 100);
}
a.actu_link_home{
color: #D00006;
}
.img_actu_home img{
 float:left; 
 margin : 0px 5px 0px 0px;
}

.actu_dr > .pretty_link {
text-decoration:underline;
color:#003EC8;
font-size:11px;
font-style:normal;
font-weight:normal;
}

/* Titres 1*********************************************************************/
h1.titre_niveau_1{
font-family: lucida grande, arial;
color: black;
font-size: 18px;
text-decoration: none;
font-weight: bold;
padding-right: 8px;
background-color: white;
padding: 0px 20px 0px 0px;
margin: 0px;
white-space: nowrap;
}

td.titre_niveau_1_jaune{
background: url(bulle_jaune.gif) repeat-x center left; 
}
td.titre_niveau_1_bleu{
background: url(bulle_bleue.gif) repeat-x center left; 
}
td.titre_niveau_1_orange{
background: url(bulle_orange.gif) repeat-x center left; 
}
td.titre_niveau_1_vert{
background: url(bulle_verte.gif) repeat-x center left; 
}
td.titre_niveau_1_gris{
background: url(bulle_grise.gif) repeat-x center left; 
}
td.titre_niveau_1_bordeau{
background: url(bulle_bordeaux.gif) repeat-x center left; 
}

td.title1 h1.title1,div.title1_contact, h1.title1,h1.title1_jaune,h1.title1_bleu,h1.title1_orange,h1.title1_vert,h1.title1_gris,h1.title1_bordeaux{
font-family: lucida grande, arial;
color: black;
font-size: 14px;
text-decoration: none;
font-weight: bold;
white-space: nowrap;
display: block;
width: 100%;
}
div.title1_contact{
font-size: 12px;
font-weight: normal;
cursor: pointer;
}
td.title1,h1.title1,h1.title1_jaune,h1.title1_bleu,h1.title1_orange,h1.title1_vert,h1.title1_gris,h1.title1_bordeaux{
padding-bottom: 5px;
}
table.neutre tr td table tr td table tr td h1.title1,table.jaune tr td table tr td table tr td h1.title1,h1.title1_jaune{
padding-left: 20px;
background: url(fleche_jaune.gif) no-repeat center left;
border-bottom: 1px dotted #FEBD00; 
color: #FEBD00;  
width: auto;
}
table.bleu tr td table tr td table tr td h1.title1,h1.title1_bleu{
padding-left: 20px;
background: url(fleche_bleue.gif) no-repeat center left;
border-bottom: 1px dotted #6CC0DC;
color: #6CC0DC;   
width: auto;
}
table.orange tr td table tr td table tr td h1.title1, h1.title1_orange{
padding-left: 20px;
background: url(fleche_orange.gif) no-repeat center left;
border-bottom: 1px dotted #FE9D22;  
color: #FE9D22; 
width: auto;
}
table.vert tr td table tr td table tr td h1.title1,h1.title1_vert{
padding-left: 20px;
background: url(fleche_verte.gif) no-repeat center left;
border-bottom: 1px dotted #8BB016;
color: #8BB016;
width: auto;
}
table.gris tr td table tr td table tr td h1.title1,h1.title1_gris{
padding-left: 20px;
background: url(fleche_grise.gif.1) no-repeat center left; 
border-bottom: 1px dotted #A3A3A2;
color: #A3A3A2;
width: auto;
}
table.bordeau tr td table tr td table tr td h1.title1,h1.title1_bordeaux{
padding-left: 20px;
background: url(fleche_bordeaux.gif) no-repeat center left;
border-bottom: 1px dotted #C22567;
color: #C22567;
width: auto;
}
/* Titres Pave droite*********************************************************************/
h1.pave_bordeaux {
font-family: lucida grande, arial;
font-size: 14px;
font-weight: bold;
border-bottom: 1px solid #A3A3A2;
color: #C22567;
margin: 0px 0px 1px 0px;
}
h1.pave_orange {
font-family: lucida grande, arial;
font-size: 14px;
font-weight: bold;
border-bottom: 1px solid #A3A3A2;
color: #FE9D22;
margin: 0px 0px 1px 0px;
}
/* Titres 1 avec lien contact *************************************************/
.title1_contact1
{
font-family: lucida grande, arial;
color: black;
font-size: 14px;
text-decoration: none;
font-weight: bold;
white-space: nowrap;
display: block;
width: 100%;
padding-left: 20px;
border-bottom: 1px dotted black; 
background: url(fleche_noire_contact.png) no-repeat center left;
}

table.neutre tr td table tr td table tr td div.title1_contact,table.jaune tr td table tr td table tr td div.title1_contact{
padding-left: 20px;
background: url(fleche_jaune_contact.gif) no-repeat center left;
border-bottom: 1px dotted #FEBD00; 
color: #FEBD00;
width: auto;  
}
table.bleu tr td table tr td table tr td div.title1_contact{
padding-left: 20px;
background: url(fleche_bleue_contact.gif) no-repeat center left;
border-bottom: 1px dotted #6CC0DC;
color: #6CC0DC;   
width: auto;
}
table.orange tr td table tr td table tr td div.title1_contact{
padding-left: 20px;
background: url(fleche_orange_contact.gif) no-repeat center left;
border-bottom: 1px dotted #FE9D22;  
color: #FE9D22; 
width: auto;
}
table.vert tr td table tr td table tr td div.title1_contact{
padding-left: 20px;
background: url(fleche_verte_contact.gif) no-repeat center left;
border-bottom: 1px dotted #8BB016;
color: #8BB016;
width: auto;
}
table.gris tr td table tr td table tr td div.title1_contact{
padding-left: 20px;
background: url(fleche_grise_contact.gif) no-repeat center left; 
border-bottom: 1px dotted #A3A3A2;
color: #A3A3A2;
width: auto;
}
table.bordeau tr td table tr td table tr td div.title1_contact{
padding-left: 20px;
background: url(fleche_bordeaux_contact.gif) no-repeat center left;
border-bottom: 1px dotted #C22567;
color: #C22567;
width: auto;
}
/* Titres 2 *******************************************************************/
div.pretty_title2{
font-family: lucida grande, arial;
color: #000000;
font-size: 12px;
text-decoration: none;
font-weight: bold;
}

/* Encarts ********************************************************************/
span.pretty_frame_left,span.pretty_frame_right,span.pretty_frame{
width: 200px;
padding: 10px;
background: #E0DECD url(fond_encart.gif) no-repeat bottom right;
}
span.pretty_frame_left ul li ,span.pretty_frame_right ul li ,span.pretty_frame ul li,div.pretty_frame ul li,div.other_frame ul li {
list-style-image: url(fleche_puce_fond_gris.gif);
}
span.pretty_frame_left{
float: left;
}
span.pretty_frame_right{
float: right;
}
div.pretty_frame{
width: 200px;
padding: 10px;
background: #E0DECD url(fond_encart.gif) no-repeat bottom right;
}
div.little_pretty_frame{
width: 160px;
padding: 10px;
background: #EEEEEE;
}
div.other_frame{
padding: 15px 15px 15px 23px;
background: url(fond_encart_2.gif) repeat-y top left;
}
div.white_frame, td.white_frame{
padding: 5px 15px 5px 23px;
border: 1px solid #D0D0D0;
background: transparent url(fond_encart_3.gif) repeat-y 2px 0px;
}
div.white_frame_slim, td.white_frame_slim{
padding: 3px 10px 5px 20px;
border: 1px solid #D0D0D0;
background: transparent url(fond_encart_3.gif) repeat-y 2px 0px;
}
div.lightyellow_frame, td.lightyellow_frame{
padding: 15px 15px 15px 23px;
border: 1px solid #D0D0D0;
background: #FFFFE0 url(fond_encart_3.gif) repeat-y 2px 0px;
}
div.gainsboro_frame, td.gainsboro_frame{
padding: 15px 15px 15px 23px;
border: 1px solid #D0D0D0;
background: #DCDCDC url(fond_encart_3.gif) repeat-y 2px 0px;
}
div.cornsilk_frame, td.cornsilk_frame{
padding: 15px 15px 15px 23px;
border: 1px solid #D0D0D0;
background: #FFF8DC url(fond_encart_3.gif) repeat-y 2px 0px;
}
div.cyan_frame, td.cyan_frame{
padding: 15px 15px 15px 23px;
border: 1px solid #D0D0D0;
background: #E0FFFF url(fond_encart_3.gif) repeat-y 2px 0px;
}
div.lavenderblush_frame, td.lavenderblush_frame{
padding: 15px 15px 15px 23px;
border: 1px solid #D0D0D0;
background: #FFF0F5 url(fond_encart_3.gif) repeat-y 2px 0px;
}
/* Texte **********************************************************************/
td.textJustify{
font-family: lucida grande, arial;
font-size: 11px;
text-decoration: none;
}
/* contacts surgissants********************************************************/
.contact_surgissant{
border : 1px solid #6D6D6D;
padding: 44px 10px 10px 10px;
width: 278px;
background: #D0D0D0 url(contactez_nous.gif) no-repeat top center;
}

/* objectadm ********************************************************/

.objectadm_row_0 {  background-color: #FFFFFF;}
.objectadm_row_1 {  background-color: #DDDDDD;}
.objectadm_line {  background-color: #DDDDDD;}
.objectadm_text0 {  background-color: #FFFFFF;}
.objectadm_text1 {  background-color: #DDDDDD;}
.table_objectadm_col0 {  background-color: #FFFFFF;}
.table_objectadm_col1 {  background-color: #DDDDDD;}
.objectadm_title0 {  background-color: #FFFFFF;}
.objectadm_title1 {  background-color: #DDDDDD;}
.objectadm_formInput {    background-color: #FFFFFF;}
.objectadm_formLabel {    background-color: #DDDDDD;}
.row_0 {  background-color: #FFFFFF;}
.row_1 {  background-color: #DDDDDD;}
.gsa_formInput { background-color: #FFFFFF; }
.gsa_formInput:hover { background-color: #EEEEEE; }

.objparagraph_td, .objparagraph_td_selected  {  background-color:  #CCCCCC;}
.objparagraph_txt, .objparagraph_txt_selected  { background-color:  #FFFFFF;}
.objparagraph_txt_selected  {   background-color: #CCCCCC  }
.objparagraph_bottom  {   background-color:  #CCCCCC; height:5px;}

/* div ouvrant avec opening *****************************************/
#opening_orange {
display:block;
font-weight:bold;
background-image:url(openclose-plus.gif);
background-position: center left;
background-repeat:no-repeat;
padding-left:13px;
line-height:20px;
margin-left: 7px;
cursor:pointer;
}
#opening_orange_open {
display:block;
font-weight:bold;
background-image:url(openclose-minus.gif);
background-position: center left;
background-repeat:no-repeat;
padding-left:13px;
line-height:20px;
margin-left: 7px;
cursor:pointer;
}

/* div orange pour pages conseils **********************************/
.college {
  background-color: #ffb200;
  font-size: 12px;
  color: #000983;
  font-weight: bold;
}

/* td pour tableau pour services numeriques **********************/
table.sn tr td {
padding: 5px;
}
table.sn tr td img {
padding-right: 5px;
float: left;
}
.blocActurec {
padding-right:50px;
}
.titleActurec {
background:transparent url(fleche_orange.gif) no-repeat scroll left center;
border-bottom:1px dotted #FE9D22;
color:#FE9D22;
padding-left:20px;
display:block;
font-family:lucida grande,arial;
font-size:14px;
font-weight:bold;
text-decoration:none;
white-space:nowrap;
width:100%;
}
.textActurec li {
list-style-image:url(fleche_puce.gif.1);
list-style-position:	outside;
margin-left: 40px;
margin-top:5px;
}
div.little_pretty_frame_rec{
width: 160px;
margin-bottom: 10px;
background: #EEEEEE;
}
div.little_pretty_frame_rec li{
list-style-image:url(fleche_puce_fond_gris.gif);
}