
/* - base.css - */
@media screen {
/* http://www.uha.fr/portal_css/base.css?original=1 */
/* */
/* */
body {
font: 69% Futura, Arial, "Lucida Grande", Verdana, Lucida, Helvetica, sans-serif;
background-color: White;
color: Black;
margin: 0;
padding: 0;
}
table {
font-size: 100%;
}
a {
color: #185dc6;
background-color: transparent;
}
img {
border: none;
vertical-align: middle;
}
p {
margin: 0 0 0.75em 0;
line-height: 1.5em;
}
p img {
border: none;
margin: 0;
}
hr {
border: 0;
height: 1px;
color: #63656b;
background-color: #63656b;
margin: 0.5em 0 1em 0;
}
h1, h2, h3, h4, h5, h6 {
color: Black;
background-color: transparent;
font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
font-weight: normal;
margin: 0 0 0.25em 0;
border-bottom: 1px solid #63656b;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
color: Black ! important;
text-decoration: none;
}
h1 {
font-size: 160%;
}
h2 {
font-size: 150%;
}
h3 {
font-size: 125%;
border-bottom: none;
font-weight: bold;
}
h4 {
font-size: 110%;
border-bottom: none;
font-weight: bold;
}
h5 {
font-size: 100%;
border-bottom: none;
font-weight: bold;
}
h6 {
font-size: 85%;
border-bottom: none;
font-weight: bold;
}
ul {
line-height: 1.5em;
margin: 0.5em 0 0 1.5em;
padding: 0;
list-style-image: url(bullet.gif);
list-style-type: square;
}
ol {
line-height: 1.5em;
margin: 0.5em 0 0 2.5em;
padding: 0;
list-style-image: none;
}
li {
margin-bottom: 0.5em;
}
dt {
font-weight: bold;
}
dd {
line-height: 1.5em;
margin-bottom: 1em;
}
fieldset {
border: 1px solid #63656b;
margin: 1em 0em 1em 0em;
padding: 0em 1em 1em 1em;
line-height: 1.5em;
width: auto;
}
legend {
background: White;
padding: 0.5em;
font-size: 90%;
}
form {
border: none;
margin: 0;
}
label {
font-weight: bold;
}
textarea {
font: 100% Monaco, "Courier New", Courier, monospace;
border: 1px solid #63656b;
color: Black;
background: White url(input_background.gif) repeat-x;
width: 100%;
}
input {
font-family: Futura, Arial, "Lucida Grande", Verdana, Lucida, Helvetica, sans-serif;
visibility: visible;
border: 1px solid #63656b;
color: Black;
vertical-align: middle;
background: White url(input_background.gif) repeat-x;
}
button {
font-family: Futura, Arial, "Lucida Grande", Verdana, Lucida, Helvetica, sans-serif;
visibility: visible;
border: 1px solid #63656b;
color: Black;
vertical-align: middle;
background-color: #103c84;
padding: 1px;
cursor: pointer;
font-size: 85%;
text-transform: lowercase;
}
select {
border: 1px solid #63656b;
color: Black;
background-color: White;
vertical-align: top;
}
optgroup {
font-style: normal;
font-weight: bold;
color: #999;
padding-left: 0.25em;
}
option {
color: black;
}
optgroup > option {
padding: 0 0.25em 0 1em;
}
abbr, acronym, .explain {
border-bottom: 1px dotted Black;
color: Black;
background-color: transparent;
cursor: help;
}
q {
font-family: Baskerville, Georgia, serif;
font-style: italic;
font-size: 120%;
}
blockquote {
padding-left: 0.5em;
margin-left: 0;
border-left: 4px solid #63656b;
color: #76797c;
}
code, tt {
font-family: Monaco, "Courier New", Courier, monospace;
font-size: 120%;
color: Black;
background-color: #103c84;
padding: 0 0.1em;
}
pre {
font-family: Monaco, "Courier New", Courier, monospace;
font-size: 100%;
padding: 1em;
border: 1px solid #63656b;
color: Black;
background-color: #103c84;
overflow: auto;
}
ins {
color: green;
text-decoration: none;
}
del {
color: red;
text-decoration: line-through;
}
/* */
.visualClear {
display: block;
clear: both;
}
/* */
.netscape4 {
display: none;
}
/* */
.hiddenStructure {
display: block;
background: transparent;
background-image: none; /* */
border: none;
height: 1px;
overflow: hidden;
padding: 0;
margin: -1px 0 0 -1px;
width: 1px;
}
.contentViews .hiddenStructure,
.contentActions .hiddenStructure {
position: absolute;
top: -200px;
left: -200px;
}
.hiddenLabel {
display: block;
background: transparent;
background-image: none; /* */
border: none;
height: 1px;
overflow: hidden;
padding: 0;
margin: -1px 0 0 -1px;
width: 1px;
}
#accordion {
margin:9px 0px;
}
h3.toggler {
cursor: pointer;
font-family:Arial, Helvetica, sans-serif;
font-size: 10px;
color: #528CE0;
}
.element ul {
margin-top:-7px;
}
.element ul li {
list-style-type:none;
font-family:Arial, Helvetica, sans-serif;
color:#0066FF;
}
.element ul li a:hover {
color:#000000;
}
.element ul li a {
text-decoration:none;
font-size:10px;
color:#0066FF;
}
/* */

}


/* - public.css - */
@media screen {
/* http://www.uha.fr/portal_css/public.css?original=1 */
/* */
/* */
/* */
#portal-column-one .visualPadding {
padding: 2em 0em 1em 2em;
}
#portal-column-two .visualPadding {
padding: 2em 2em 1em 0em;
}
/* */
.documentContent {
font-size: 110%;
padding: 1em 1em 2em 1em !important;
background: White;
}
/* */
.documentContent p a {
text-decoration: none;
border-bottom: 1px #cccccc solid;
}
.documentContent p a:visited {
color: #185dc6;
background-color: transparent;
}
.documentContent p a:active {
color: #185dc6;
background-color: transparent;
}
.documentContent li a {
text-decoration: none;
border-bottom: 1px #cccccc solid;
}
.documentContent li a:visited {
color: #185dc6;
}
.documentContent li a:active {
color: #185dc6;
}
.documentContent dd a {
text-decoration: none;
border-bottom: 1px #cccccc solid;
}
.documentContent dd a:visited {
color: #185dc6;
background-color: transparent;
}
.documentContent dd a:active {
color: #185dc6;
background-color: transparent;
}
/* */
/* */
.field {
top: 0;
left: 0;
margin: 0 1em 1em 0;
}
.field .field {
margin: 1em 0 0 0;
}
.fieldRequired {
background: url(required.gif) center left no-repeat;
padding: 0 0 0 8px;
color: White;
}
.fieldUploadFile {
text-align: right;
margin-right: 0.75em;
display: none;
}
.fieldTextFormat {
text-align: right;
margin-right: 0.75em
}
.formHelp {
font-size: 90%;
color: #76797c;
margin: 0 0 0.2em 0;
}
.formHelp:hover {
color: Black;
cursor: default;
}
.formControls {
margin: 1em 0;
}
.error {
/* */
background-color: #ffce7b;
border: 1px solid #ffa500;
padding: 1em;
margin: 0 0 1em 0;
width: 95%;
}
.error .fieldRequired {
color: #ffce7b;
}
/* */
.noborder,
.documentEditable * .noborder {
border: none;
margin: 0;
background: none;
background-color: transparent;
}
/* */
#visual-portal-wrapper {
margin: 0;
padding: 0;
}
/* */
#portal-logo {
background: url(logo.png) no-repeat;
border: 0;
margin: 0.75em 0em 0.75em 1.5em;
padding: 0;
}
#portal-logo a {
display: block;
text-decoration: none;
overflow: hidden;
border: 0;
margin: 0;
padding: 0;
padding-top: 92px;
height: 0px !important;
width: 1000px;
cursor: pointer;
}
/* */
#portal-skinswitcher {
}
#portal-skinswitcher a {
display: block;
float: left;
}
#portal-top {
/* */
margin: 0;
padding: 0;
background-color: transparent;
}
/* */
#portal-siteactions {
background-color: transparent;
white-space: nowrap;
list-style-image: none;
list-style-type: none;
margin: 1px 0 0 0;
height: auto;
line-height: normal;
float: right;
padding: 3px 2em 3px 0;
}
#portal-siteactions li {
display: inline;
}
#portal-siteactions li a {
background-color: transparent;
border: 1px solid White;
color: #76797c;
height: auto;
padding: 0.2em;
margin-right: 0.2em;
text-decoration: none;
text-transform: lowercase;
}
#portal-siteactions li.selected a {
background-color: #103c84;
color: #436976;
border: 1px solid #63656b;
}
#portal-siteactions li a:hover {
background-color: #103c84;
color: #436976;
border: 1px solid #63656b;
}
/* */
#portal-searchbox {
float: right;
clear: right;
background-color: transparent;
margin: 1.5em 0 0 0;
padding: 0 2em 0 0;
text-align: right;
text-transform: lowercase;
white-space: nowrap;
z-index: 2;
}
#portal-advanced-search {
margin-top: 0.2em;
clear: both;
}
#portal-advanced-search a {
color: #76797c;
text-decoration: none;
text-transform: lowercase;
}
/* */
.LSRes {
font-family:  Futura, Arial, "Lucida Grande", Verdana, Lucida, Helvetica, sans-serif;
visibility: visible;
color: #436976;
background-color: White;
vertical-align: middle;
display:block;
list-style-image: none;
list-style-type: none;
text-align: left;
min-width: 16.5em;
text-transform: none;
margin-left: 0;
line-height: 1.1em;
}
#LSHighlight {
background-color: #103c84;
border: 1px solid #63656b;
color: #436976;
}
.LSRow {
border: 1px solid White;
white-space: normal;
padding:0;
margin: 0;
list-style-image: none;
list-style-type: none;
}
.LSRow a {
text-decoration: none;
font-weight:bold;
white-space:nowrap
}
.LSDescr {
color: #76797c;
text-transform: lowercase;
padding-left:2.1em;
margin-top:-0.1em;
}
.LSResult {
position: relative;
display: block;
text-align: right;
padding-top: 5px;
margin: 0;
left: 3px;
z-index: 3;
}
.LSShadow {
position: relative;
text-align: right;
}
.livesearchContainer {
background-color: White;
margin-top: 0;
padding: 0 !important;
position: absolute;
right: 0px;
/* */
top: 0;
white-space: normal;
font-family:  Futura, Arial, "Lucida Grande", Verdana, Lucida, Helvetica, sans-serif;
visibility: visible;
text-align: left;
color: #436976;
border: 1px solid #63656b;
width: 30em;
text-transform: none;
}
* html .livesearchContainer {
padding: 1px !important;
padding-top: 0 !important;
background-color: #63656b;
border: 0;
}
#livesearchLegend {
line-height: 1em;
margin-top: -2em;
margin-left: -0.1em;
border: 1px solid #63656b;
border-bottom: 0;
}
* html #livesearchLegend {
margin-top: -1.9em;
margin-left: -8px;
position: relative;
}
/* */
.LSIEFix {
background-color: White;
padding: 0.5em !important;
z-index: 20;
}
.LSBox {
clear: left;
float: left;
text-align: right;
padding-right: 1px;
display:block;
}
#LSNothingFound {
text-align: center;
padding: 2px;
}
/* */
#portal-globalnav {
background-color: transparent;
padding: 0em 0em 0em 2em;
white-space: nowrap;
list-style: none;
margin: 0;
height: auto;
line-height: normal;
}
#portal-globalnav li {
display: inline;
}
#portal-globalnav li a {
/* */
background-color: transparent;
border-color: #63656b;
border-width: 1px;
border-style: solid solid none solid;
color: #436976;
height: auto;
margin-right: 0.5em;
padding: 0em 1.25em;
text-decoration: none;
text-transform: lowercase;
}
#portal-globalnav li.selected a {
/* */
background-color: #103c84;
border: 1px solid #63656b;
border-bottom: #103c84 1px solid;
color: #436976;
}
#portal-globalnav li a:hover {
background-color: #103c84;
border-color: #63656b;
border-bottom-color: #103c84;
color: #436976;
}
#portal-personaltools {
/* */
background-color: #103c84;
border-top-color: #63656b;
border-top-style: solid;
border-top-width: 1px;
border-bottom-color: #63656b;
border-bottom-style: solid;
border-bottom-width: 1px;
line-height: 1.6em;
color: Black;
padding: 0em 3em 0em 3em;
margin: 0;
text-align: right;
text-transform: lowercase;
list-style: none;
}
#portal-personaltools .portalUser {
background: transparent url(user.gif) center left no-repeat;
padding-left: 18px;
}
#portal-personaltools .portalNotLoggedIn {
/* */
color: Black;
padding: 0;
background: transparent;
background-image: none;
}
#portal-personaltools li {
color: #436976;
margin-left: 1em;
display: inline;
}
#portal-personaltools li a {
text-decoration: none;
color: #436976;
}
#portal-personaltools .visualIconPadding {
padding-left: 10px;
}
.visualCaseSensitive {
text-transform: none;
}
#portal-breadcrumbs {
/* */
border-bottom-color: #63656b;
border-bottom-style: solid;
border-bottom-width: 1px;
padding-left: 2em;
padding-right: 2em;
text-transform: lowercase;
line-height: 1.6em;
}
#portal-breadcrumbs a {
text-decoration: none;
}
.breadcrumbSeparator {
font-size: 120%;
}
.addFavorite {
vertical-align: bottom;
}
#content {
padding: 1em 1em 0 1em !important;
margin: 0em 0em 2em 0em;
}
.documentEditable {
padding: 0em 2em 1em 2em !important;
}
#content-news h1 {
margin-bottom: 1em;
}
/* */
#content h5,
#content h6 {
color: #76797c;
}
.newsItem {
margin-bottom: 1em;
border-bottom: 1px solid #63656b;
}
.newsImage {
border: 1px solid black;
}
.newsImageContainer {
float:right;
margin: 0 0 0.5em 1em;
width: 202px;
}
.newsContent {
padding: 0 1em 1em 1em;
}
.newsContent ul,
.newsContent li {
display: block;
list-style: none;
list-style-image: none;
margin: 0;
padding: 0;
}
.newsAbout {
display: block;
color: #76797c;
font-size: 85%;
padding: 0;
margin-top: 0;
list-style: none;
list-style-image: none;
float: right;
text-align: right;
}
.newsAbout li {
display: inline;
}
.newsFooter {
}
.newsFooter li {
display: inline;
margin: 0 1em 0 0;
}
.documentActions {
float: right;
margin: 0.4em 0 0 0.5em;
padding: 0;
text-align: right;
}
.documentActions ul {
margin: 1px 0 2px 0;
padding: 0;
display: block;
}
.documentActions li {
display: inline;
list-style: none;
list-style-image: none;
margin: 0;
padding: 0;
}
.documentActions a {
border: none !important;
text-decoration: none;
}
/* */
.portalMessage,
.portalWarningMessage,
.portalStopMessage,
.system-message,
#error-handling {
background-color: #ffce7b;
border: 1px solid #ffa500;
color: Black;
font-size: 85%;
font-weight: bold;
margin: 1em 0em;
padding: 0.5em 1em 0.5em 3em;
vertical-align: middle;
background-image: url(info_icon.gif);
background-repeat: no-repeat;
background-position: 5px 50%;
}
.portalMessage a,
.portalWarningMessage a,
.portalStopMessage a {
color: Black;
}
.documentDescription {
/* */
font-weight: bold;
display: block;
margin: 0em 0em 0.5em 0em;
line-height: 1.5em;
}
.documentByLine {
font-size: 85%;
font-weight: normal;
color: #76797c;
margin: 0em 0em 0.5em 0em;
}
.discussion {
margin-top: 1em;
}
.even {
background-color: #eef3f5;
}
.odd {
background-color: transparent;
}
.visualHighlight {
background-color: #eef3f5;
}
.discreet {
color: #76797c;
font-size: 85%;
font-weight: normal;
}
.pullquote {
padding: 0 1em 0 1em;
margin: 0 0 1em 1em;
font-weight: bold;
color: #CC9933;
float: right;
width: 35%;
clear: right;
background-color: White;
}
.callout {
font-weight: bold;
color: #CC9933;
padding: 0px 1em;
}
/* */
.listingBar {
background-color: #103c84;
border-color: #63656b;
border-style: solid;
border-width: 1px;
padding: 0em 1em;
text-align: center;
text-transform: lowercase;
vertical-align: top;
margin: 1em 0em;
font-size: 94%;
clear: both;
}
.listingBar span.previous,
.listingPrevious {
text-align: left;
float: left;
margin-right: 1em;
}
.listingBar span.next,
.listingNext {
text-align: right;
float: right;
margin-left: 1em;
}
.listingBar img {
vertical-align: middle;
}
.listingBar a {
text-decoration: none;
}
.tileItem {
border-top: 1px solid #63656b;
padding-top: 0.5em;
margin-top: 0.5em;
}
.tileHeadline {
border: none;
font-size: 110%;
font-weight: bold;
}
.tileHeadline a {
text-decoration: none;
}
.tileBody {
margin-bottom: 0.5em;
}
.tileImage {
float: right;
margin: 0 0 0.5em 0.5em;
border: 1px solid black;
}
.eventDetails {
float: right;
width: 20em;
clear: right;
}
/* */
/* */
ul.visualNoMarker,
ol.visualNoMarker {
list-style-type: none;
list-style-image: none;
margin: 0.5em 0 0 0;
line-height: 1em;
}
textarea.proportional {
font: 100% Futura, Arial, "Lucida Grande", Verdana, Lucida, Helvetica, sans-serif;
}
.productCredits {
text-align: right;
font-size: 85%;
clear: both;
font-weight: normal;
color: #76797c;
}
#portal-footer {
background-color: #103c84;
border-top: 1px solid #63656b;
border-bottom: 1px solid #63656b;
float: none;
line-height: 1.2em;
margin: 2em 0em 1em 0em;
padding: 0.5em 0em 1em 0em;
text-align: center;
}
#portal-footer p {
margin: 0.25em 0;
}
#portal-footer a {
text-decoration: none;
color: #185dc6;
border: none;
}
#portal-footer a:visited {
color: #185dc6;
}
#portal-footer a:hover {
text-decoration: underline;
}
#portal-colophon {
float: none;
margin: 0em 0em 2em 0em;
padding: 0.5em 0em 1em 0em;
text-align: center;
}
#portal-colophon ul,
#portal-colophon ul li,
#portal-colophon ul li a {
list-style-image: none;
list-style-type: none;
display: inline;
text-decoration: none;
color: Black;
}
#portal-colophon ul {
display: table-row;
list-style-type: none;
}
#portal-colophon ul li {
display: table-cell;
font-size: 85%;
margin: 0 0.25em;
padding: 0.1em 0.2em;
}
#portal-colophon .colophonWrapper {
display: table;
margin: 0 auto;
border-collapse: collapse;
border-spacing: 0;
}
#portal-colophon .colophonIcon {
display: block; /* */
display: inline-block;
text-decoration: none;
overflow: hidden;
border: 0;
margin: 0 auto;
padding: 0;
padding-top: 15px;
height: 0px !important;
width: 80px;
vertical-align: top;
}
#portal-colophon a.colophonIcon {
cursor: pointer;
}
#portal-colophon .colophonIconPlone {
background-image: url(plone_powered.gif);
}
#portal-colophon .colophonIcon508 {
background-image: url(colophon_sec508.gif);
}
#portal-colophon .colophonIconWAI {
background-image: url(colophon_wai-aa.gif);
}
#portal-colophon .colophonIconXHTML {
background-image: url(colophon_xhtml.png);
}
#portal-colophon .colophonIconCSS {
background-image: url(colophon_css.png);
}
#portal-colophon .colophonIconAnyBrowser {
background-image: url(colophon_anybrowser.png);
}
.feedButton {
display: block;
float: right;
margin-top: 1px;
}
.poweredBy {
display: block;
clear: both;
font-size: 85%;
font-weight: normal;
color: #76797c;
text-align: right;
}
/* */
#portal-sitemap {
list-style: none;
list-style-image: none;
margin: 0;
font-size: 90%;
border: none;
}
#portal-sitemap a {
border: 1px solid White;
}
#portal-sitemap a:hover {
border: 1px solid #63656b;
}
#portal-sitemap .navTreeLevel1 {
padding-left: 1em;
border-left: 0.5em solid #63656b;
margin: 0 0 0 0.5em;
}
#portal-sitemap .navTreeLevel2 {
padding-left: 1em;
border-left: 0.5em solid #103c84;
margin: 0 0 0 0.6em;
}
/* */
.photoAlbumEntry {
float: left;
height: 185px;
width: 143px;
margin: 0em;
padding: 0px 6px 0px 9px;
text-align: center;
background-image: url('polaroid-single.png');
background-repeat: no-repeat;
}
.photoAlbumEntry img {
border: 1px solid #ccc;
display: block;
margin: 0 auto;
}
.photoAlbumEntryWrapper {
height: 130px;
width: 128px;
margin-bottom: 7px;
}
.photoAlbumEntry a {
display: block;
text-decoration: none;
font-size: 85%;
height: 169px;
width: 130px;
margin: 16px auto 0px;
}
.photoAlbumFolder {
background-image: url('polaroid-multi.png');
background-repeat: no-repeat;
}
.photoAlbumEntryTitle {
color: #76797c;
display: block;
overflow: hidden;
width: 128px;
height: 3.6em;
}
/* */
.link-plain {
background-image: none;
padding: 0;
}
.link-parent {
display: block;
background: transparent url(arrowUp.gif) 4px 5px no-repeat;
padding: 1px 0px 10px 16px;
font-size: 85%;
text-decoration: none;
}
.link-user {
background: transparent url(user.gif) 0 1px no-repeat;
padding: 1px 0px 1px 16px;
}
.link-external {
background: transparent url(link_icon.gif) 0px 1px no-repeat;
padding: 1px 0px 1px 16px;
}
.link-https {
background: transparent url(lock_icon.gif) 0px 1px no-repeat;
padding: 1px 0px 1px 16px;
}
.link-mailto {
background: transparent url(mail_icon.gif) 0px 1px no-repeat;
padding: 1px 0px 1px 16px;
}
.link-news {
background: transparent url(topic_icon.gif) 0px 1px no-repeat;
padding: 1px 0px 1px 16px;
}
.link-ftp {
background: transparent url(file_icon.gif) 0px 1px no-repeat;
padding: 1px 0px 1px 16px;
}
.link-irc {
background: transparent url(discussionitem_icon.gif) 0px 1px no-repeat;
padding: 1px 0px 1px 16px;
}
.link-callto {
background: transparent url(phone_icon.gif) 0px 1px no-repeat;
padding: 1px 0px 1px 16px;
}
.link-webcal {
background: transparent url(event_icon.gif) 0px 1px no-repeat;
padding: 1px 0px 1px 16px;
}
.link-feed {
background: transparent url(rss.gif) 0px 1px no-repeat;
padding: 1px 0px 1px 18px;
}
.link-comment {
background: transparent url(discussionitem_icon.gif) center left no-repeat;
padding: 1px 0px 1px 16px !important; /* */
}
.link-anchor {
color: #76797c;
text-decoration: none;
font-weight: normal;
}
/* */
.visualGhosted {
opacity: 0.2;
}
/* */
body.fullscreen #portal-logo,
body.fullscreen #portal-siteactions {
display: none;
}
body.fullscreen #portal-globalnav {
margin-top: 4em;
}
body.fullscreen #portal-searchbox {
margin: 0.5em 2em 0 0.5em;
padding: 0;
position: relative;
z-index: 3;
}
/* */
.image-left {
float: left;
clear: both;
margin: 0.5em 1em 0.5em 0;
border: 1px solid Black;
}
.image-inline {
float: none;
}
.image-right {
float: right;
clear: both;
margin: 0.5em;
border: 1px solid Black;
}
/* */

}


/* - columns.css - */
@media screen {
/* http://www.uha.fr/portal_css/columns.css?original=1 */
/* */
#portal-columns {
width: 100% !important;
border-collapse: collapse;
border-spacing: 0;
}
#portal-column-one {
vertical-align: top;
width: 16em;
border-collapse: collapse;
padding: 0;
}
#portal-column-content {
vertical-align: top;
margin: 0;
padding: 0;
border-collapse: collapse;
padding: 0;
}
#portal-column-two {
vertical-align: top;
width: 16em;
border-collapse: collapse;
padding: 0;
}
/* */
body.fullscreen #portal-column-one,
body.fullscreen #portal-column-two {
display: none;
}
body.fullscreen #portal-column-content {
width: 100%;
margin: 0;
padding: 0;
}
/* */

}


/* - authoring.css - */
@media screen {
/* http://www.uha.fr/portal_css/authoring.css?original=1 */
/* */
/* */
.standalone,
.documentEditable * .standalone {
background: #103c84 url(linkOpaque.gif) 9px 1px no-repeat;
cursor: pointer;
font-size: 85%;
padding: 1px 1px 1px 15px;
text-transform: lowercase;
overflow: visible;
}
.context,
.documentEditable * .context {
background: transparent url(linkTransparent.gif) 9px 1px no-repeat;
cursor: pointer;
font-size: 85%;
padding: 1px 1px 1px 15px;
text-transform: lowercase;
overflow: visible;
}
.destructive,
.documentEditable * .destructive {
background: #ffce7b url(linkTransparent.gif) 9px 1px no-repeat;
border: 1px solid #ffa500;
cursor: pointer;
font-size: 85%;
padding: 1px 1px 1px 15px;
text-transform: lowercase;
overflow: visible;
}
input.searchButton {
margin-bottom: 1px ! important;
font-size: 85%;
background: White url(search_icon.gif) 2px 1px no-repeat;
cursor: pointer;
padding: 1px 1px 1px 15px;
text-transform: lowercase;
}
.add,
.documentEditable * .add {
}
.quickSearch {
}
.notify,
.documentEditable * .notify {
border: 1px solid #ffa500;
}
.card {
background-color: #103c84;
border-color: #63656b;
border-width: 1px;
border-style: solid;
float: left;
margin: 1em;
text-align: center;
width: 110px;
padding: 1em 0;
}
.card a {
text-decoration: none;
}
.portrait {
background-color: #103c84;
border-color: #63656b;
border-width: 1px;
border-style: solid;
font-size: 85%;
margin: 0.5em;
padding: 1em 0 0.5em 0;
text-align: center;
width: 100px;
}
.portraitPhoto {
border: 1px solid black;
}
.listing,
.stx table {
/* */
border-collapse: collapse;
border-left: 1px solid #63656b;
border-bottom: 1px solid #63656b;
font-size: 85%;
margin: 1em 0em 1em 0em;
}
.listing th,
.stx table th {
background: #103c84;
border-top: 1px solid #63656b;
border-bottom: 1px solid #63656b;
border-right: 1px solid #63656b;
font-weight: normal;
padding: 0.25em 1em;
text-transform: lowercase;
}
.listing .top {
border-left: 1px solid White;
border-top: 1px solid White ! important;
border-right: 1px solid White ! important;
text-align: right ! important;
padding: 0em 0em 1em 0em;
}
.listing .listingCheckbox {
text-align: center;
}
.listing td,
.stx table td {
border-right: 1px solid #63656b;
padding: 0.25em 1em;
}
.listing a {
text-decoration: none;
}
.listing a:hover {
text-decoration: underline;
}
.listing img {
vertical-align: middle;
}
.listing td a label,
.stx table td a label {
cursor: pointer;
}
/* */
.vertical {
background-color: White;
}
.vertical th {
padding: 0.5em;
}
.vertical td {
border-top: 1px solid #63656b;
padding: 0.5em;
}
ul.configlets {
margin: 1em 0;
list-style-image: none;
list-style: none;
}
ul.configlets li {
margin-bottom: 1em;
}
ul.configlets li a {
text-decoration: none;
border: none;
}
ul.configlets li a:visited {
color: #185dc6;
background-color: transparent;
}
ul.configlets li a:active {
color: #185dc6;
background-color: transparent;
}
ul.configlets li label {
font-weight: bold;
}
ul.configletDetails {
margin: 0em 1em 1em 4em;
list-style-image: none;
list-style: none;
}
ul.configletDetails li {
margin-bottom: 1em;
display: inline;
}
ul.configletDetails li a {
text-decoration: none;
}
ul.configletDetails li label {
font-weight: bold;
}
/* */
ul.visualNoMarker,
ol.visualNoMarker {
list-style-type: none;
list-style-image: none;
margin: 0.5em 0 0 0;
}
/* */
.stx table p /* */
{
margin: 0;
padding: 0;
}
.stx table  /* */
{
border: 1px solid #63656b ! important;
}
.stx table td {
border-bottom: 1px solid #63656b;
}
.reviewHistory {
display: inline;
font-size: 110% !important;
color: Black;
}
.comment {
background: #eef3f5;
border: 1px dashed #63656b;
padding: 0.25em 1em 0.5em 1em;
margin-bottom: 1em;
}
.comment h1,
.comment h2,
.comment h3,
.comment h4,
.comment h5,
.comment h6 {
border-bottom: 1px dashed #76797c;
font-weight: normal;
}
.comment h3 a {
background-image: url(discussionitem_icon.gif);
background-repeat: no-repeat;
padding-left: 18px;
margin-left: -1px;
margin-bottom: 1px;
min-height: 1.6em;
height: auto;
line-height: 1.6em;
}
.commentBody {
margin: 0 1em 1em 1em;
}
.spacer {
margin: 1em;
}
.contentViews {
background-color: transparent;
padding-left: 1em;
line-height: normal;
margin: 0;
list-style: none;
border: 1px solid #103c84;
border-top-width: 0px;
border-left-width: 0px;
border-right-width: 0px;
}
.contentViews li {
display: inline;
padding-top: 0.5em;
}
.contentViews li a {
background-color: transparent;
border: 1px solid #103c84;
border-style: solid;
color: white;
height: auto;
margin-right: 0.5em;
padding: 0em 1em;
line-height: normal;
text-decoration: none;
text-transform: lowercase;
z-index: 1;
}
.contentViews .selected a {
background-color: #103c84;
border-bottom: #103c84 1px solid;
color: white;
}
.contentViews li a:hover {
background-color: #103c84;
color: white;
}
.configlet .contentViews {
font-size: 90%;
}
.contentActions {
background-color: #103c84;
border-left: 1px solid #103c84;
border-right: 1px solid #103c84;
color: white;
text-align: right;
text-transform: lowercase;
padding: 0 0 0 1em;
z-index: 2;
position:relative;
height: 1.6em;
}
.contentActions ul,
.contentActions li {
margin: 0;
list-style: none;
list-style-image: none;
display: inline;
color: Black;
text-align: left;
}
.contentActions ul {
line-height: 1.6em;
padding: 0;
margin: 0;
}
.contentActions li {
float: right;
z-index: 4;
border-left: 1px solid #103c84;
line-height: 1.6em;
}
.actionItems li {
background-image: none;
}
.contentActions a {
text-decoration: none;
color: white;
padding: 0 0.5em;
}
.actionMenu {
/* */
position: relative;
margin: 0;
padding: 0;
}
.actionMenu .actionMenuHeader {
margin: 0;
padding: 0;
font-weight: normal;
cursor: pointer;
}
.actionMenu.activated .actionMenuHeader {
position: relative;
z-index: 10;
}
.actionMenu .actionMenuHeader a {
display: block;
}
.actionMenu.activated .actionMenuHeader a,
.actionMenu.deactivated .actionMenuHeader a {
background-image: url(arrowDownAlternative.gif);
background-repeat: no-repeat;
background-position: 95% 60%;
padding: 0 1.6em 0 0.5em !important;
cursor: pointer;
}
.actionMenuDisabled {
padding: 0 0.5em 0 0.5em !important;
cursor: pointer;
}
.actionMenu .actionMenuContent {
display: none;
z-index: 5;
position: absolute;
top: 1.6em;
right: -1px;
height: auto;
padding: 0;
margin: 0;
cursor: pointer;
}
.actionMenu .actionMenuContent ul {
display: block;
background: #103c84;
border: 1px #103c84;
border-style: none solid solid solid;
margin: -2px 0 0 0;
padding: 0;
cursor: pointer;
}
.actionMenu.activated .actionMenuContent {
display: block !important;
}
.actionMenu.activated .actionMenuContent {
/* */
display: table !important;
border-collapse: collapse;
border-spacing: 0;
}
.actionMenu.deactivated .actionMenuContent {
display: none !important;
}
.actionMenu .actionMenuContent li {
float: none;
background-color: transparent;
display: inline;
padding: 0;
margin: 0;
border: 0;
}
.actionMenu .actionMenuContent li a {
display: block;
white-space: nowrap;
padding: 0 0.5em;
margin: 0.2em 0;
}
.actionMenu .actionMenuContent .selected {
display: block;
white-space: nowrap;
padding: 0 0.5em;
margin: 0.2em 0;
}
.actionMenu .actionMenuContent li a:hover {
background-color: #103c84;
color: White;
}
.actionMenu .actionMenuContent .actionSeparator a {
margin-top: 0.2em;
padding-top: 0.2em;
border-top: 1px solid #103c84;
}
.actionMenu .actionMenuContent .actionSeparator div.currentDefaultPage {
margin-top: 0.2em;
padding: 0.2em 0.5em 0em 0.5em;
white-space: nowrap;
border-top: 1px solid #103c84;
}
.actionMenu .actionMenuContent .actionSeparator div.actionLabel {
margin-top: 0.2em;
padding: 0.2em 0.5em 0em 0.5em;
white-space: nowrap;
border-top: 1px solid #103c84;
background-color: #103c84;
color: #103c84;
cursor: default;
}
.contentBatchAction {
float: left !important;
padding: 0 0.5em;
border-top: 1px solid #103c84;
border-right: 1px solid #103c84;
border-left: none !important;
border-collapse: collapse;
position: relative;
top: -1px;
margin-left: -0.5em !important;
}
#objectMenu.actionMenu .actionMenuContent li {
display: block;
}
#objectMenu.actionMenu .actionMenuContent li,
#objectMenu.actionMenu .actionMenuContent li a:hover {
background-position: 3px 50%;
margin-left: 0;
}
#objectMenu.actionMenu .actionMenuContent li a {
padding-left: 22px;
}
.actionMenuSelected {
display: block;
cursor: default;
background-image: url(bullet_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
padding-left: 16px !important;
}
#templateMenu li a {
padding-left: 16px;
}
/* */
dl.collapsible {
border: 1px solid #63656b !important;
margin: 1em 0 0 0;
padding: 0;
}
dl.collapsible dt.collapsibleHeader {
display: block;
float: left;
background: White;
line-height: 1.2em;
vertical-align: middle;
font-size: 90%;
position: relative;
top: -0.6em;
width: auto;
margin: 0 0 -0.6em 1em;
padding: 0 0.5em;
}
dl.collapsible dd.collapsibleContent {
margin: 0;
padding: 0 1em;
clear: left;
}
/* */
dl.collapsible dd.collapsibleContent > dl {
margin: 0;
padding: 0;
}
dl.expandedInlineCollapsible dt.collapsibleHeader,
dl.expandedBlockCollapsible dt.collapsibleHeader {
padding: 0 6px 0 22px;
background: White url(treeExpanded.gif) no-repeat 6px 50%;
cursor: pointer;
}
dl.collapsedBlockCollapsible {
border: none !important;
height: 1em;
width: auto;
}
dl.collapsedBlockCollapsible dt.collapsibleHeader {
float: none;
position: static;
margin: 0;
padding: 0 0 0 22px;
line-height: 1em;
background: transparent url(treeCollapsed.gif) no-repeat 6px 50%;
cursor: pointer;
}
dl.collapsedInlineCollapsible dd.collapsibleContent,
dl.collapsedBlockCollapsible dd.collapsibleContent {
display: none;
}
dl.collapsedInlineCollapsible {
border: none !important;
height: 1em;
width: auto;
display: inline;
}
dl.collapsedInlineCollapsible dt.collapsibleHeader {
position: static;
float: none;
margin: 0;
padding: 0 0 0 22px;
line-height: 1em;
background: transparent url(treeCollapsed.gif) no-repeat 6px 50%;
cursor: pointer;
display: inline;
}
.configlet .documentEditable {
padding: 0em !important;
}
.documentEditable .documentContent {
border: 1px solid #103c84;
padding: 0;
}
.label {
font-weight: bold;
display: inline;
padding-right: 0.5em;
}
.optionsToggle {
border: 1px solid #63656b;
color: Black;
background-color: #103c84;
font-weight: normal !important;
font-size: 85%;
}
.portalNotLoggedIn {} /* */
#portal-column-content fieldset > * input:focus,
#portal-column-content fieldset > * textarea:focus {
border-color: #ffa500;
border-width: 1px;
}
.visualOverflow {
overflow: auto;
margin: 0 0 1em 0;
}
.visualOverflow pre,
.visualOverflow table,
.visualOverflow img {
margin: 0;
}
.visualFontSizeCorrection { /* */
font-size: 75%;
background: transparent;
background-image: none;
}
/* */
.highlightedSearchTerm {
background-color: #feff82;
}
/* */
.noInheritedRoles {
color: #a0a0a0;
}
/* */
.currentItem {
border-collapse: collapse;
border: 2px solid #ffa500;
padding: 1px;
}
/* */
#archetypes-fieldname-title input {
font-size: 160%;
font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
font-weight: normal;
width: 99%;
}
#archetypes-fieldname-description textarea {
font: 100% Futura, Arial, "Lucida Grande", Verdana, Lucida, Helvetica, sans-serif;
font-weight: bold;
}
/* */
tr.dragging td {
background-color: yellow;
}
.draggingHook {
cursor: move;
}
.notDraggable {
}
/* */

}


/* - portlets.css - */
@media screen {
/* http://www.uha.fr/portal_css/portlets.css?original=1 */
/* */
/* */
/* */
/* */
dl.portlet {
margin: 1px 0 1em 0;
border-bottom: 1px solid #63656b;
background-color: White;
}
dl.portlet a {
text-decoration: none;
}
.portlet a.tile {
display: block;
}
/* */
dd.portletItem a,
dd.portletFooter a {
border-bottom: none;
}
dd.portletItem a:visited,
dd.portletFooter a:visited {
color: #185dc6;
}
.portletHeader {
background-color: #103c84;
border: 1px solid #63656b;
padding: 0em 1em;
text-transform: lowercase;
font-weight: normal;
line-height: 1.6em;
}
.portletHeader a {
color: Black;
}
.portletItem {
margin: 0;
padding: 1em;
border-left: 1px solid #63656b;
border-right: 1px solid #63656b;
}
.portletItemDetails {
text-align: right;
display: block;
color: Black;
}
dd.portletFooter {
background-color: #eef3f5;
margin: 0;
padding: 0.25em 1em;
border: 1px solid #63656b;
border-style: dotted solid none solid;
text-align: right;
}
/* */
.portletTopLeft {}
.portletTopRight {}
.portletBottomLeft {}
.portletBottomRight {}
/* */
.portletNavigationTree {
margin: 0 0 0 0.75em;
padding: 0;
list-style: none;
list-style-image: none;
line-height: 1em;
}
.navTree {
list-style: none;
list-style-image: none;
margin-top: 1px;
}
.navTreeLocal {
margin: 0 0 0 0.75em;
}
.navTree li {
margin-bottom: 1px;
}
.navTreeItem {
display: block;
padding: 0;
margin: 0;
}
.navTreeItem a,
dd.portletItem .navTreeItem a {
border: 1px solid White;
display: block;
text-decoration: none;
padding-top: 0.2em;
padding-bottom: 0.25em;
}
.navTreeItem a:hover,
dd.portletItem .navTreeItem a:hover {
background-color: #103c84;
color: #436976;
border: 1px solid #63656b;
}
.navTreeCurrentItem {
background-color: #103c84;
color: #436976;
border: 1px solid #63656b !important;
}
li.navTreeCurrentItem {
display: block;
padding: 0 0 0 1px;
margin: 0 0 2px -1px;
}
li.navTreeCurrentItem a,
li.navTreeCurrentItem a:hover {
display: block;
border: 1px solid #103c84;
min-height: 1.6em;
line-height: 1.6em;
height: auto;
}
.visualIconPadding,
.actionMenu .actionMenuContent .visualIconPadding {
padding-left: 0.5em;
margin-bottom: 1px;
min-height: 1.6em;
height: auto;
line-height: 1.6em;
}
/* */
* html li.navTreeCurrentItem a,
* html li.navTreeCurrentItem a:hover {
height: 1.6em;
}
/* */
* html .visualIconPadding {
height: 1.6em;
}
.navTreeLevel0 { margin: 0; }
.navTreeLevel1 { margin-left: 0.75em;}
.navTreeLevel2 { margin-left: 0.75em; }
.navTreeLevel3 { margin-left: 0.75em; }
.navTreeLevel4 { margin-left: 0.75em; }
.navTreeLevel5 { margin-left: 0.75em; }
.dayPopup {
background-color: #ffffe1;
border: 1px solid Black;
padding: 0.2em;
position: absolute;
visibility: hidden;
width: 12em;
z-index: 2;
}
.date {
font-weight: bold;
}
.ploneCalendar {
border: 1px solid #63656b;
margin: 1px 0 1em 0;
border-collapse: collapse;
border-spacing:0;
width: 100%;
}
.ploneCalendar a {
text-decoration: none;
}
.ploneCalendar a:hover {
text-decoration: none;
}
.ploneCalendar th {
background-color: #103c84;
font-weight: normal;
text-align: center;
line-height: 1.6em;
}
.ploneCalendar td {
background-color: transparent;
width: 14%;
text-align: right;
padding: 2px;
}
.ploneCalendar .weekdays td {
background-color: #103c84;
border: 1px solid #63656b;
border-style: solid none;
text-align: center;
padding: 2px;
}
.ploneCalendar .event {
background-color: #103c84;
font-weight: bold;
}
.ploneCalendar .todayevent {
background-color: #103c84;
border: 2px solid #ffa500;
font-weight: bold;
}
.ploneCalendar .todaynoevent {
border-collapse: collapse;
border: 2px solid #ffa500;
}
.ploneCalendar #calendar-previous {
background-image: url(arrowLeft.gif);
background-repeat: no-repeat;
background-position: 50% 50%;
}
.ploneCalendar #calendar-next {
background-image: url(arrowRight.gif);
background-repeat: no-repeat;
background-position: 50% 50%;
}
.ploneCalendar #calendar-previous a,
.ploneCalendar #calendar-next a {
display: block;
text-decoration: none;
overflow: hidden;
border: 0;
margin: 0;
padding: 0;
padding-top: 9px;
height: 0px !important;
height /**/: 9px;
cursor: pointer;
}
.ploneCalendar #calendar-next a {
padding-top: 9px;
height: 0px !important;
height /**/: 9px;
}
/* */

}


/* - presentation.css - */
@media projection {
/* http://www.uha.fr/portal_css/presentation.css?original=1 */
/* */
/* */
body {
background: White url(logo.png) no-repeat fixed 95% 95%;
font-family: Futura, Arial, "Lucida Grande", Verdana, Lucida, Helvetica, sans-serif;
font-size: 50px !important;
color: Black;
margin: 0;
padding: 0;
min-width: 0px !important;
}
#visual-portal-wrapper {
width: 100% !important;
min-width: 0 !important;
}
#portal-column-content {
margin: 0 !important;
}
#portal-column-content #content {
padding: 1em;
margin: 0 !important;
}
h1, h2 {
font-size: 50px !important;
background-color: #103c84;
border-color: #63656b;
border-style: solid;
border-width: 1px;
padding-top: 0em;
padding-left: 0.5em;
padding-right: 0.5em;
margin: 1em 0 0 0;
page-break-before: always;
font-weight: normal;
}
h1.documentFirstHeading {
/* */
page-break-before: avoid;
}
dl, ol, ul {
font-size: 40px !important;
text-align: left;
margin-top: 0.5em;
}
dt {
background-color: #103c84;
border-color: #63656b;
border-style: solid;
border-width: 1px;
display: inline;
padding-right: 0.5em;
}
dd {
margin-bottom: 0.25em;
}
li {
margin: 0 0 0.5em 0;
}
p {
/* */
display: none;
}
.documentDescription {
font-size: 40px !important;
font-weight: normal;
margin-top: 4em;
text-align: center !important;
}
ul {
list-style-image: url(bulletBig.gif);
}
pre {
font-size: 25px;
padding: 0.5em;
font-weight: bold;
background-color: #103c84;
border: 1px dashed #63656b;
}
code {
background-color: #103c84;
border-color: #63656b;
border-style: dashed;
border-width: 1px;
padding: 0.1em 0.25em;
}
a {
color: #185dc6 !important;
}
div.top,
#portal-logo,
.hiddenStructure,
#portal-searchbox,
#portal-siteactions,
#portal-globalnav,
#portal-personaltools,
#portal-breadcrumbs,
#portal-column-one,
#portal-column-two,
.contentViews,
.contentActions,
.help,
.legend,
div.portalMessage,
div.documentActions,
.documentByLine,
.netscape4,
#portal-footer,
#portal-colophon,
input,
.skipnav {
/* */
display: none;
}
div#portal-columns div#visual-column-wrapper,
div#portal-columns div#visual-column-wrapper div#portal-column-content {
width: 100%;
}
div#portal-columns div#visual-column-wrapper div#portal-column-content {
padding: 0;
margin: 0;
}
div#portal-columns div#visual-column-wrapper div#portal-column-content * {
text-align: left;
}
#content,
.group {
background: transparent;
border: none;
padding: 0;
margin: 0;
}
#content {
margin: 0 1em;
}
table.listing,
table.listing td {
border: 1pt solid black;
border-collapse: collapse;
}
a, a:link, a:visited {
color: #520;
background: transparent;
}
/* */

}


/* - deprecated.css - */
@media screen {
/* http://www.uha.fr/portal_css/deprecated.css?original=1 */
/* */
/* */
/* */
/* */
.portletItemSingle {
margin: 0;
padding: 1em;
border: 1px solid #63656b;
border-top: none;
}
dd.portletItemLast {
margin: 0;
padding: 0.25em 1em;
border: 1px solid #63656b;
border-style: none solid;
}
/* */
div.portlet {
border: none;
margin-bottom: 1em;
padding: 0;
}
div.portlet a {
text-decoration: none;
}
/* */
#region-content .portlet {
font-size: 94%;
}
div.portlet h4 { /* */
background-color: #103c84;
border: 1px solid #63656b;
padding: 0em 0.3em 0em 1em;
text-transform: lowercase;
display: block;
font-size: 1em;
font-weight: normal;
}
div.portlet h5 {
background-color: #103c84;
border: 1px solid #63656b;
padding: 0em 1em 0em 1em;
text-transform: lowercase;
display: inline;
font-size: 1em;
font-weight: normal;
white-space: nowrap;
position: relative;
top: -1px;
}
div.portlet h6 {
background-color: #103c84;
border: 1px solid #63656b;
padding: 0em 0.3em 0em 1em;
text-transform: lowercase;
display: block;
font-size: 1em;
font-weight: normal;
}
div.portletBody {
position: relative;
top: -1px;
background: transparent;
border: 1px solid #63656b;
}
div.portletDetails {
text-align: right;
}
div.portletContent {
padding: 1em;
}
div.portletAction {
float: right;
width: 0.8em;
text-align: center;
display: block;
text-transform: none;
border-left: 1px solid #63656b;
padding-left: 0.3em;
}
div.portlet h1,
div.portlet h2,
div.portlet h3,
div.portlet h4 {
margin: 0;
padding: 0;
}
div.portlet input {
font-size: 100%;
}
div.portletSyndication {
display: block;
float: left;
border: 1px solid #8cacbb;
background-color: #dee7ec;
font-size: 85%;
}
a.portletMore {
display: block;
text-align: right;
}
div.portletFooter {
padding: 0.5em 1em 1em 1em;
}
/* */
.navIcon,
.navIconRoot {
position: relative;
right: 20px;
}
.navItemText {
margin-left: -20px;
}
.navRootItem,
.navItem {
margin: 0 0 0.2em 0;
border: 1px solid White;
display: block;
background-repeat: no-repeat;
background-position: 0 1px;
padding: 0.1em 0.25em 0.2em 20px;
margin: 1px 0;
}
.currentNavItem {
background-color: #103c84;
color: #436976;
border: 1px solid #63656b;
}
.portletNavigationTreeItem {
margin: 0;
}
.portletNavigationTreeItem a {
display: block;
text-decoration: none;
padding: 0.5em 0 0.5em 1.75em;
background-repeat: no-repeat;
background-position: 0 3px;
border: 1px solid White;
}
.portletNavigationTreeItem a:hover,
.currentNavItem {
background-color: #103c84;
color: #436976;
border: 1px solid #63656b !important;
}
/* */
.portletNavigationLevel0 {
margin: 0;
}
/* */
.navLevel1 { margin-left: 0em; }
.navLevel2 { margin-left: 1em; }
.navLevel3 { margin-left: 2em; }
.navLevel4 { margin-left: 3em; }
.navLevel5 { margin-left: 4em; }
.navLevel6 { margin-left: 4.5em; }
.navLevel7 { margin-left: 5em;   }
.navLevel8 { margin-left: 5.5em; }
/* */

}


/* - print.css - */
@media print {
/* http://www.uha.fr/portal_css/print.css?original=1 */
div.top,
#portal-logo,
#portal-siteactions,
.hiddenStructure,
#portal-searchbox,
#portal-globalnav,
#portal-personaltools,
#portal-breadcrumbs,
#portal-column-one,
#portal-column-two,
.contentViews,
.contentActions,
.help,
.legend,
div.portalMessage,
div.portalWarningMessage,
div.portalStopMessage,
div.documentActions,
.documentByLine,
.netscape4,
#portal-footer,
#portal-colophon,
.skipnav,
.visualNoPrint {
/* */
display: none;
}
body {
font-family: Baskerville, Georgia, Garamond, Times, serif;
font-size: 11pt !important;
}
h1, h2, h3, h4, h5, h6
{
border: none;
font-family: Baskerville, Georgia, Garamond, Times, serif;
}
div, p, ul, dl, ol {
width: auto !important;
}
ul, ol, dl {
padding-right: 0.5em;
}
ul {
list-style-type: square;
}
.documentDescription {
font-weight: bold;
}
pre {
border: 1pt dotted black;
white-space: pre;
font-size: 8pt;
overflow: auto;
padding: 1em 0;
}
table.listing,
table.listing td {
border: 1pt solid black;
border-collapse: collapse;
}
a {
color: Black !important;
padding: 0 !important;
text-decoration: none !important;
}
a:link, a:visited {
color: #520;
background: transparent;
}

}


/* - mobile.css - */
@media handheld {
/* http://www.uha.fr/portal_css/mobile.css?original=1 */
/* */
/* */
body {
font: 69% Futura, Arial, "Lucida Grande", Verdana, Lucida, Helvetica, sans-serif;
background-color: White;
color: Black;
margin: 0;
padding: 0;
}
table {
font-size: 100%;
}
a {
color: #185dc6;
background-color: transparent;
}
img {
border: none;
vertical-align: middle;
}
p {
margin: 0.5em 0em 1em 0em;
}
h1, h2, h3, h4, h5, h6 {
font-weight: normal;
border-bottom: 1px solid #63656b;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
color: Black ! important;
}
h1 {
font-size: 160%;
}
h2 {
font-size: 150%;
}
h3 {
font-size: 140%;
border-bottom: none;
font-weight: bold;
}
h4 {
font-size: 120%;
border-bottom: none;
font-weight: bold;
}
h5 {
font-size: 100%;
border-bottom: none;
font-weight: bold;
}
h6 {
font-size: 85%;
border-bottom: none;
font-weight: bold;
}
label {
font-weight: bold;
}
/* */
#portal-searchbox {
font-size: 10px;
}
#portal-globalnav {
/* */
background-color: transparent;
border-collapse: collapse;
padding: 0;
padding-left: 0.2em;
list-style: none;
margin: 0;
height: auto;
line-height: normal;
}
#portal-globalnav li {
display: inline;
}
#portal-globalnav li a {
/* */
background-color: transparent;
border-color: #63656b;
border-width: 1px;
border-style: solid solid none solid;
color: #436976;
height: auto;
margin-right: 0.1em;
padding: 0em 0.2em;
text-decoration: none;
text-transform: lowercase;
}
#portal-globalnav li.selected a {
/* */
background-color: #103c84;
border: 1px solid #63656b;
border-bottom: #103c84 1px solid;
color: #436976;
}
#portal-personaltools {
/* */
background-color: #103c84;
border-top-color: #63656b;
border-top-style: solid;
border-top-width: 1px;
border-bottom-color: #63656b;
border-bottom-style: solid;
border-bottom-width: 1px;
color: Black;
margin: 0;
text-align: right;
text-transform: lowercase;
list-style: none;
}
#portal-personaltools li {
margin-left: 0.2em;
display: inline;
}
#portal-personaltools li a {
text-decoration: none;
color: #436976;
}
.visualCaseSensitive {
text-transform: none;
}
#portal-breadcrumbs {
/* */
border-bottom-color: #63656b;
border-bottom-style: solid;
border-bottom-width: 1px;
padding-left: 0.2em;
padding-right: 0.2em;
text-transform: lowercase;
}
.contentViews {
background-color: transparent;
border-collapse: collapse;
padding-left: 0.1em;
line-height: normal;
margin: 0.2em 0 0 0;
/* */
list-style: none;
border: 1px solid #103c84;
border-top-width: 0px;
border-left-width: 0px;
border-right-width: 0px;
}
.contentViews li {
display: inline;
}
.contentViews li a {
background-color: transparent;
border: 1px solid #103c84;
border-style: solid;
color: white;
height: auto;
margin-right: 0.2em;
padding: 0;
line-height: normal;
text-decoration: none;
text-transform: lowercase;
z-index: 1;
}
.contentViews .selected a {
background-color: #103c84;
border-bottom: #103c84 1px solid;
color: white;
}
.contentActions {
border-collapse: collapse;
background-color: #103c84;
border-left: 1px solid #103c84;
border-right: 1px solid #103c84;
color: white;
text-align: right;
text-transform: lowercase;
padding: 0 0 0 0.2em;
z-index: 2;
height: 1.2em;
}
.contentActions ul,
.contentActions li {
margin: 0;
list-style: none;
list-style-image: none;
display: inline;
color: Black;
text-align: left;
}
.contentActions ul {
padding: 0;
margin: 0;
}
.contentActions li {
float: right;
background-image: url(arrowDownAlternative.gif);
background-repeat: no-repeat;
background-position: center right;
z-index: 4;
border-left: 1px solid #103c84;
padding: 0 0 0 0.2em;
margin: 0 0.2em 0 0;
}
.actionItems li {
background-image: none;
}
.contentActions a {
text-decoration: none;
color: white;
padding: 0 0.6em 0 0;
}
.contentActions .actionMenu .actionMenuContent {
display: none;
z-index: 5;
position: absolute;
top: 0;
right: -1px;
height: auto;
padding: 0;
margin: 0;
cursor: pointer;
}
.contentActions .actionMenu .actionMenuContent ul {
display: block;
background: #103c84;
border: 1px #103c84;
border-style: none solid solid solid;
margin: 0.2em 0 0 0;
padding: 0;
cursor: pointer;
}
.actionMenu .actionMenuContent li {
font-size: 10px !important;
float: none;
background: transparent;
display: inline;
padding: 0;
margin: 0;
border: 0;
}
.actionMenu .actionMenuContent li a {
display: block;
white-space: nowrap;
padding: 0 0.2em;
margin: 0.2em 0;
}
.actionMenu .actionMenuContent .actionSeparator a {
margin-top: 0.2em;
padding-top: 0.2em;
border-top: 1px solid #103c84;
}
.documentEditable .documentContent {
border: 1px solid #103c84;
padding: 0.5em;
}
/* */
.portalMessage,
.portalWarningMessage,
.portalStopMessage,
.system-message,
#error-handling {
background-color: #ffce7b;
border: 1px solid #ffa500;
color: Black;
font-size: 85%;
font-weight: bold;
margin: 2em 0em 1em 0em;
padding: 0.5em 1em;
vertical-align: middle;
}
.portalMessage a,
.portalWarningMessage a,
.portalStopMessage a {
color: Black;
}
.documentDescription {
/* */
font-weight: bold;
display: block;
margin: 0.5em 0em;
}
.documentByLine {
text-align: right;
font-size: 85%;
clear: both;
font-weight: normal;
color: #76797c;
}
#portal-footer {
background-color: #103c84;
border-top: 1px solid #63656b;
border-bottom: 1px solid #63656b;
float: none;
margin: 2em 0em 1em 0em;
padding: 0.5em 0em 1em 0em;
text-align: center;
}
.hiddenStructure,
#portal-logo,
#portal-searchbox,
#portal-siteactions,
#portal-column-one,
#portal-column-two,
.addFavorite,
.documentActions,
#portal-colophon,
.netscape4
{
display: none;
}
/* */

}


/* - generated.css - */
@media screen {
/* http://www.uha.fr/portal_css/generated.css?original=1 */
/* */
/* */
/* */
.contenttype-atrelativepathcriterion,
.actionMenu .contenttype-atrelativepathcriterion a:hover {
background-image: url(document_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-atrelativepathcriterion {
height: 1%;
}
#portal-sitemap .contenttype-atrelativepathcriterion a:hover,
#portlet-navigation-tree .contenttype-atrelativepathcriterion a:hover,
#portlet-navigation-tree .contenttype-atrelativepathcriterion a.navTreeCurrentItem {
background-image: url(document_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-atrelativepathcriterion,
#portlet-navigation-tree .contenttype-atrelativepathcriterion {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-atrelativepathcriterion a:hover,
* html #portlet-navigation-tree .contenttype-atrelativepathcriterion a:hover,
* html #portlet-navigation-tree .contenttype-atrelativepathcriterion a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-atrelativepathcriterion {
display: block;
}
.contenttype-basecacherule,
.actionMenu .contenttype-basecacherule a:hover {
background-image: url(document_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-basecacherule {
height: 1%;
}
#portal-sitemap .contenttype-basecacherule a:hover,
#portlet-navigation-tree .contenttype-basecacherule a:hover,
#portlet-navigation-tree .contenttype-basecacherule a.navTreeCurrentItem {
background-image: url(document_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-basecacherule,
#portlet-navigation-tree .contenttype-basecacherule {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-basecacherule a:hover,
* html #portlet-navigation-tree .contenttype-basecacherule a:hover,
* html #portlet-navigation-tree .contenttype-basecacherule a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-basecacherule {
display: block;
}
.contenttype-cachepolicy,
.actionMenu .contenttype-cachepolicy a:hover {
background-image: url(cachesetup_tool_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-cachepolicy {
height: 1%;
}
#portal-sitemap .contenttype-cachepolicy a:hover,
#portlet-navigation-tree .contenttype-cachepolicy a:hover,
#portlet-navigation-tree .contenttype-cachepolicy a.navTreeCurrentItem {
background-image: url(cachesetup_tool_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-cachepolicy,
#portlet-navigation-tree .contenttype-cachepolicy {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-cachepolicy a:hover,
* html #portlet-navigation-tree .contenttype-cachepolicy a:hover,
* html #portlet-navigation-tree .contenttype-cachepolicy a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-cachepolicy {
display: block;
}
.contenttype-cachetool,
.actionMenu .contenttype-cachetool a:hover {
background-image: url(cachesetup_tool_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-cachetool {
height: 1%;
}
#portal-sitemap .contenttype-cachetool a:hover,
#portlet-navigation-tree .contenttype-cachetool a:hover,
#portlet-navigation-tree .contenttype-cachetool a.navTreeCurrentItem {
background-image: url(cachesetup_tool_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-cachetool,
#portlet-navigation-tree .contenttype-cachetool {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-cachetool a:hover,
* html #portlet-navigation-tree .contenttype-cachetool a:hover,
* html #portlet-navigation-tree .contenttype-cachetool a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-cachetool {
display: block;
}
.contenttype-contentcacherule,
.actionMenu .contenttype-contentcacherule a:hover {
background-image: url(document_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-contentcacherule {
height: 1%;
}
#portal-sitemap .contenttype-contentcacherule a:hover,
#portlet-navigation-tree .contenttype-contentcacherule a:hover,
#portlet-navigation-tree .contenttype-contentcacherule a.navTreeCurrentItem {
background-image: url(document_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-contentcacherule,
#portlet-navigation-tree .contenttype-contentcacherule {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-contentcacherule a:hover,
* html #portlet-navigation-tree .contenttype-contentcacherule a:hover,
* html #portlet-navigation-tree .contenttype-contentcacherule a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-contentcacherule {
display: block;
}
.contenttype-discussion-item,
.actionMenu .contenttype-discussion-item a:hover {
background-image: url(discussionitem_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-discussion-item {
height: 1%;
}
#portal-sitemap .contenttype-discussion-item a:hover,
#portlet-navigation-tree .contenttype-discussion-item a:hover,
#portlet-navigation-tree .contenttype-discussion-item a.navTreeCurrentItem {
background-image: url(discussionitem_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-discussion-item,
#portlet-navigation-tree .contenttype-discussion-item {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-discussion-item a:hover,
* html #portlet-navigation-tree .contenttype-discussion-item a:hover,
* html #portlet-navigation-tree .contenttype-discussion-item a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-discussion-item {
display: block;
}
.contenttype-document,
.actionMenu .contenttype-document a:hover {
background-image: url(document_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-document {
height: 1%;
}
#portal-sitemap .contenttype-document a:hover,
#portlet-navigation-tree .contenttype-document a:hover,
#portlet-navigation-tree .contenttype-document a.navTreeCurrentItem {
background-image: url(document_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-document,
#portlet-navigation-tree .contenttype-document {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-document a:hover,
* html #portlet-navigation-tree .contenttype-document a:hover,
* html #portlet-navigation-tree .contenttype-document a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-document {
display: block;
}
.contenttype-event,
.actionMenu .contenttype-event a:hover {
background-image: url(event_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-event {
height: 1%;
}
#portal-sitemap .contenttype-event a:hover,
#portlet-navigation-tree .contenttype-event a:hover,
#portlet-navigation-tree .contenttype-event a.navTreeCurrentItem {
background-image: url(event_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-event,
#portlet-navigation-tree .contenttype-event {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-event a:hover,
* html #portlet-navigation-tree .contenttype-event a:hover,
* html #portlet-navigation-tree .contenttype-event a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-event {
display: block;
}
.contenttype-favorite,
.actionMenu .contenttype-favorite a:hover {
background-image: url(favorite_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-favorite {
height: 1%;
}
#portal-sitemap .contenttype-favorite a:hover,
#portlet-navigation-tree .contenttype-favorite a:hover,
#portlet-navigation-tree .contenttype-favorite a.navTreeCurrentItem {
background-image: url(favorite_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-favorite,
#portlet-navigation-tree .contenttype-favorite {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-favorite a:hover,
* html #portlet-navigation-tree .contenttype-favorite a:hover,
* html #portlet-navigation-tree .contenttype-favorite a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-favorite {
display: block;
}
.contenttype-file,
.actionMenu .contenttype-file a:hover {
background-image: url(file_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-file {
height: 1%;
}
#portal-sitemap .contenttype-file a:hover,
#portlet-navigation-tree .contenttype-file a:hover,
#portlet-navigation-tree .contenttype-file a.navTreeCurrentItem {
background-image: url(file_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-file,
#portlet-navigation-tree .contenttype-file {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-file a:hover,
* html #portlet-navigation-tree .contenttype-file a:hover,
* html #portlet-navigation-tree .contenttype-file a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-file {
display: block;
}
.contenttype-folder,
.actionMenu .contenttype-folder a:hover {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-folder {
height: 1%;
}
#portal-sitemap .contenttype-folder a:hover,
#portlet-navigation-tree .contenttype-folder a:hover,
#portlet-navigation-tree .contenttype-folder a.navTreeCurrentItem {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-folder,
#portlet-navigation-tree .contenttype-folder {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-folder a:hover,
* html #portlet-navigation-tree .contenttype-folder a:hover,
* html #portlet-navigation-tree .contenttype-folder a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-folder {
display: block;
}
.contenttype-headerset,
.actionMenu .contenttype-headerset a:hover {
background-image: url(document_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-headerset {
height: 1%;
}
#portal-sitemap .contenttype-headerset a:hover,
#portlet-navigation-tree .contenttype-headerset a:hover,
#portlet-navigation-tree .contenttype-headerset a.navTreeCurrentItem {
background-image: url(document_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-headerset,
#portlet-navigation-tree .contenttype-headerset {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-headerset a:hover,
* html #portlet-navigation-tree .contenttype-headerset a:hover,
* html #portlet-navigation-tree .contenttype-headerset a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-headerset {
display: block;
}
.contenttype-headersetfolder,
.actionMenu .contenttype-headersetfolder a:hover {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-headersetfolder {
height: 1%;
}
#portal-sitemap .contenttype-headersetfolder a:hover,
#portlet-navigation-tree .contenttype-headersetfolder a:hover,
#portlet-navigation-tree .contenttype-headersetfolder a.navTreeCurrentItem {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-headersetfolder,
#portlet-navigation-tree .contenttype-headersetfolder {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-headersetfolder a:hover,
* html #portlet-navigation-tree .contenttype-headersetfolder a:hover,
* html #portlet-navigation-tree .contenttype-headersetfolder a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-headersetfolder {
display: block;
}
.contenttype-image,
.actionMenu .contenttype-image a:hover {
background-image: url(image_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-image {
height: 1%;
}
#portal-sitemap .contenttype-image a:hover,
#portlet-navigation-tree .contenttype-image a:hover,
#portlet-navigation-tree .contenttype-image a.navTreeCurrentItem {
background-image: url(image_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-image,
#portlet-navigation-tree .contenttype-image {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-image a:hover,
* html #portlet-navigation-tree .contenttype-image a:hover,
* html #portlet-navigation-tree .contenttype-image a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-image {
display: block;
}
.contenttype-large-plone-folder,
.actionMenu .contenttype-large-plone-folder a:hover {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-large-plone-folder {
height: 1%;
}
#portal-sitemap .contenttype-large-plone-folder a:hover,
#portlet-navigation-tree .contenttype-large-plone-folder a:hover,
#portlet-navigation-tree .contenttype-large-plone-folder a.navTreeCurrentItem {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-large-plone-folder,
#portlet-navigation-tree .contenttype-large-plone-folder {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-large-plone-folder a:hover,
* html #portlet-navigation-tree .contenttype-large-plone-folder a:hover,
* html #portlet-navigation-tree .contenttype-large-plone-folder a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-large-plone-folder {
display: block;
}
.contenttype-link,
.actionMenu .contenttype-link a:hover {
background-image: url(link_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-link {
height: 1%;
}
#portal-sitemap .contenttype-link a:hover,
#portlet-navigation-tree .contenttype-link a:hover,
#portlet-navigation-tree .contenttype-link a.navTreeCurrentItem {
background-image: url(link_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-link,
#portlet-navigation-tree .contenttype-link {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-link a:hover,
* html #portlet-navigation-tree .contenttype-link a:hover,
* html #portlet-navigation-tree .contenttype-link a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-link {
display: block;
}
.contenttype-news-item,
.actionMenu .contenttype-news-item a:hover {
background-image: url(newsitem_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-news-item {
height: 1%;
}
#portal-sitemap .contenttype-news-item a:hover,
#portlet-navigation-tree .contenttype-news-item a:hover,
#portlet-navigation-tree .contenttype-news-item a.navTreeCurrentItem {
background-image: url(newsitem_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-news-item,
#portlet-navigation-tree .contenttype-news-item {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-news-item a:hover,
* html #portlet-navigation-tree .contenttype-news-item a:hover,
* html #portlet-navigation-tree .contenttype-news-item a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-news-item {
display: block;
}
.contenttype-newsletter,
.actionMenu .contenttype-newsletter a:hover {
background-image: url(Newsletter.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-newsletter {
height: 1%;
}
#portal-sitemap .contenttype-newsletter a:hover,
#portlet-navigation-tree .contenttype-newsletter a:hover,
#portlet-navigation-tree .contenttype-newsletter a.navTreeCurrentItem {
background-image: url(Newsletter.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-newsletter,
#portlet-navigation-tree .contenttype-newsletter {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-newsletter a:hover,
* html #portlet-navigation-tree .contenttype-newsletter a:hover,
* html #portlet-navigation-tree .contenttype-newsletter a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-newsletter {
display: block;
}
.contenttype-newsletterbtree,
.actionMenu .contenttype-newsletterbtree a:hover {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-newsletterbtree {
height: 1%;
}
#portal-sitemap .contenttype-newsletterbtree a:hover,
#portlet-navigation-tree .contenttype-newsletterbtree a:hover,
#portlet-navigation-tree .contenttype-newsletterbtree a.navTreeCurrentItem {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-newsletterbtree,
#portlet-navigation-tree .contenttype-newsletterbtree {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-newsletterbtree a:hover,
* html #portlet-navigation-tree .contenttype-newsletterbtree a:hover,
* html #portlet-navigation-tree .contenttype-newsletterbtree a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-newsletterbtree {
display: block;
}
.contenttype-newsletterreference,
.actionMenu .contenttype-newsletterreference a:hover {
background-image: url(NewsletterReference.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-newsletterreference {
height: 1%;
}
#portal-sitemap .contenttype-newsletterreference a:hover,
#portlet-navigation-tree .contenttype-newsletterreference a:hover,
#portlet-navigation-tree .contenttype-newsletterreference a.navTreeCurrentItem {
background-image: url(NewsletterReference.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-newsletterreference,
#portlet-navigation-tree .contenttype-newsletterreference {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-newsletterreference a:hover,
* html #portlet-navigation-tree .contenttype-newsletterreference a:hover,
* html #portlet-navigation-tree .contenttype-newsletterreference a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-newsletterreference {
display: block;
}
.contenttype-newsletterrichreference,
.actionMenu .contenttype-newsletterrichreference a:hover {
background-image: url(NewsletterReference.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-newsletterrichreference {
height: 1%;
}
#portal-sitemap .contenttype-newsletterrichreference a:hover,
#portlet-navigation-tree .contenttype-newsletterrichreference a:hover,
#portlet-navigation-tree .contenttype-newsletterrichreference a.navTreeCurrentItem {
background-image: url(NewsletterReference.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-newsletterrichreference,
#portlet-navigation-tree .contenttype-newsletterrichreference {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-newsletterrichreference a:hover,
* html #portlet-navigation-tree .contenttype-newsletterrichreference a:hover,
* html #portlet-navigation-tree .contenttype-newsletterrichreference a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-newsletterrichreference {
display: block;
}
.contenttype-newslettertheme,
.actionMenu .contenttype-newslettertheme a:hover {
background-image: url(NewsletterTheme.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-newslettertheme {
height: 1%;
}
#portal-sitemap .contenttype-newslettertheme a:hover,
#portlet-navigation-tree .contenttype-newslettertheme a:hover,
#portlet-navigation-tree .contenttype-newslettertheme a.navTreeCurrentItem {
background-image: url(NewsletterTheme.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-newslettertheme,
#portlet-navigation-tree .contenttype-newslettertheme {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-newslettertheme a:hover,
* html #portlet-navigation-tree .contenttype-newslettertheme a:hover,
* html #portlet-navigation-tree .contenttype-newslettertheme a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-newslettertheme {
display: block;
}
.contenttype-newslettertopic,
.actionMenu .contenttype-newslettertopic a:hover {
background-image: url(NewsletterTopic.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-newslettertopic {
height: 1%;
}
#portal-sitemap .contenttype-newslettertopic a:hover,
#portlet-navigation-tree .contenttype-newslettertopic a:hover,
#portlet-navigation-tree .contenttype-newslettertopic a.navTreeCurrentItem {
background-image: url(NewsletterTopic.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-newslettertopic,
#portlet-navigation-tree .contenttype-newslettertopic {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-newslettertopic a:hover,
* html #portlet-navigation-tree .contenttype-newslettertopic a:hover,
* html #portlet-navigation-tree .contenttype-newslettertopic a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-newslettertopic {
display: block;
}
.contenttype-plone-site,
.actionMenu .contenttype-plone-site a:hover {
background-image: url(site_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-plone-site {
height: 1%;
}
#portal-sitemap .contenttype-plone-site a:hover,
#portlet-navigation-tree .contenttype-plone-site a:hover,
#portlet-navigation-tree .contenttype-plone-site a.navTreeCurrentItem {
background-image: url(site_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-plone-site,
#portlet-navigation-tree .contenttype-plone-site {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-plone-site a:hover,
* html #portlet-navigation-tree .contenttype-plone-site a:hover,
* html #portlet-navigation-tree .contenttype-plone-site a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-plone-site {
display: block;
}
.contenttype-plonearticle,
.actionMenu .contenttype-plonearticle a:hover {
background-image: url(PloneArticle.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-plonearticle {
height: 1%;
}
#portal-sitemap .contenttype-plonearticle a:hover,
#portlet-navigation-tree .contenttype-plonearticle a:hover,
#portlet-navigation-tree .contenttype-plonearticle a.navTreeCurrentItem {
background-image: url(PloneArticle.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-plonearticle,
#portlet-navigation-tree .contenttype-plonearticle {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-plonearticle a:hover,
* html #portlet-navigation-tree .contenttype-plonearticle a:hover,
* html #portlet-navigation-tree .contenttype-plonearticle a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-plonearticle {
display: block;
}
.contenttype-plonearticlemultipage,
.actionMenu .contenttype-plonearticlemultipage a:hover {
background-image: url(multipagearticle_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-plonearticlemultipage {
height: 1%;
}
#portal-sitemap .contenttype-plonearticlemultipage a:hover,
#portlet-navigation-tree .contenttype-plonearticlemultipage a:hover,
#portlet-navigation-tree .contenttype-plonearticlemultipage a.navTreeCurrentItem {
background-image: url(multipagearticle_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-plonearticlemultipage,
#portlet-navigation-tree .contenttype-plonearticlemultipage {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-plonearticlemultipage a:hover,
* html #portlet-navigation-tree .contenttype-plonearticlemultipage a:hover,
* html #portlet-navigation-tree .contenttype-plonearticlemultipage a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-plonearticlemultipage {
display: block;
}
.contenttype-ploneexfile,
.actionMenu .contenttype-ploneexfile a:hover {
background-image: url(exfile.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-ploneexfile {
height: 1%;
}
#portal-sitemap .contenttype-ploneexfile a:hover,
#portlet-navigation-tree .contenttype-ploneexfile a:hover,
#portlet-navigation-tree .contenttype-ploneexfile a.navTreeCurrentItem {
background-image: url(exfile.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-ploneexfile,
#portlet-navigation-tree .contenttype-ploneexfile {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-ploneexfile a:hover,
* html #portlet-navigation-tree .contenttype-ploneexfile a:hover,
* html #portlet-navigation-tree .contenttype-ploneexfile a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-ploneexfile {
display: block;
}
.contenttype-policyhttpcachemanagercacherule,
.actionMenu .contenttype-policyhttpcachemanagercacherule a:hover {
background-image: url(document_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-policyhttpcachemanagercacherule {
height: 1%;
}
#portal-sitemap .contenttype-policyhttpcachemanagercacherule a:hover,
#portlet-navigation-tree .contenttype-policyhttpcachemanagercacherule a:hover,
#portlet-navigation-tree .contenttype-policyhttpcachemanagercacherule a.navTreeCurrentItem {
background-image: url(document_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-policyhttpcachemanagercacherule,
#portlet-navigation-tree .contenttype-policyhttpcachemanagercacherule {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-policyhttpcachemanagercacherule a:hover,
* html #portlet-navigation-tree .contenttype-policyhttpcachemanagercacherule a:hover,
* html #portlet-navigation-tree .contenttype-policyhttpcachemanagercacherule a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-policyhttpcachemanagercacherule {
display: block;
}
.contenttype-rulefolder,
.actionMenu .contenttype-rulefolder a:hover {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-rulefolder {
height: 1%;
}
#portal-sitemap .contenttype-rulefolder a:hover,
#portlet-navigation-tree .contenttype-rulefolder a:hover,
#portlet-navigation-tree .contenttype-rulefolder a.navTreeCurrentItem {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-rulefolder,
#portlet-navigation-tree .contenttype-rulefolder {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-rulefolder a:hover,
* html #portlet-navigation-tree .contenttype-rulefolder a:hover,
* html #portlet-navigation-tree .contenttype-rulefolder a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-rulefolder {
display: block;
}
.contenttype-section,
.actionMenu .contenttype-section a:hover {
background-image: url(Section.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-section {
height: 1%;
}
#portal-sitemap .contenttype-section a:hover,
#portlet-navigation-tree .contenttype-section a:hover,
#portlet-navigation-tree .contenttype-section a.navTreeCurrentItem {
background-image: url(Section.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-section,
#portlet-navigation-tree .contenttype-section {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-section a:hover,
* html #portlet-navigation-tree .contenttype-section a:hover,
* html #portlet-navigation-tree .contenttype-section a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-section {
display: block;
}
.contenttype-subscriber,
.actionMenu .contenttype-subscriber a:hover {
background-image: url(Subscriber.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-subscriber {
height: 1%;
}
#portal-sitemap .contenttype-subscriber a:hover,
#portlet-navigation-tree .contenttype-subscriber a:hover,
#portlet-navigation-tree .contenttype-subscriber a.navTreeCurrentItem {
background-image: url(Subscriber.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-subscriber,
#portlet-navigation-tree .contenttype-subscriber {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-subscriber a:hover,
* html #portlet-navigation-tree .contenttype-subscriber a:hover,
* html #portlet-navigation-tree .contenttype-subscriber a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-subscriber {
display: block;
}
.contenttype-templatecacherule,
.actionMenu .contenttype-templatecacherule a:hover {
background-image: url(document_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-templatecacherule {
height: 1%;
}
#portal-sitemap .contenttype-templatecacherule a:hover,
#portlet-navigation-tree .contenttype-templatecacherule a:hover,
#portlet-navigation-tree .contenttype-templatecacherule a.navTreeCurrentItem {
background-image: url(document_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-templatecacherule,
#portlet-navigation-tree .contenttype-templatecacherule {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-templatecacherule a:hover,
* html #portlet-navigation-tree .contenttype-templatecacherule a:hover,
* html #portlet-navigation-tree .contenttype-templatecacherule a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-templatecacherule {
display: block;
}
.contenttype-topic,
.actionMenu .contenttype-topic a:hover {
background-image: url(topic_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-topic {
height: 1%;
}
#portal-sitemap .contenttype-topic a:hover,
#portlet-navigation-tree .contenttype-topic a:hover,
#portlet-navigation-tree .contenttype-topic a.navTreeCurrentItem {
background-image: url(topic_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-topic,
#portlet-navigation-tree .contenttype-topic {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-topic a:hover,
* html #portlet-navigation-tree .contenttype-topic a:hover,
* html #portlet-navigation-tree .contenttype-topic a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-topic {
display: block;
}
.contenttype-uhabourseemploi,
.actionMenu .contenttype-uhabourseemploi a:hover {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-uhabourseemploi {
height: 1%;
}
#portal-sitemap .contenttype-uhabourseemploi a:hover,
#portlet-navigation-tree .contenttype-uhabourseemploi a:hover,
#portlet-navigation-tree .contenttype-uhabourseemploi a.navTreeCurrentItem {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-uhabourseemploi,
#portlet-navigation-tree .contenttype-uhabourseemploi {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-uhabourseemploi a:hover,
* html #portlet-navigation-tree .contenttype-uhabourseemploi a:hover,
* html #portlet-navigation-tree .contenttype-uhabourseemploi a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-uhabourseemploi {
display: block;
}
.contenttype-uhacomposante,
.actionMenu .contenttype-uhacomposante a:hover {
background-image: url(document_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-uhacomposante {
height: 1%;
}
#portal-sitemap .contenttype-uhacomposante a:hover,
#portlet-navigation-tree .contenttype-uhacomposante a:hover,
#portlet-navigation-tree .contenttype-uhacomposante a.navTreeCurrentItem {
background-image: url(document_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-uhacomposante,
#portlet-navigation-tree .contenttype-uhacomposante {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-uhacomposante a:hover,
* html #portlet-navigation-tree .contenttype-uhacomposante a:hover,
* html #portlet-navigation-tree .contenttype-uhacomposante a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-uhacomposante {
display: block;
}
.contenttype-uhacomposantes,
.actionMenu .contenttype-uhacomposantes a:hover {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-uhacomposantes {
height: 1%;
}
#portal-sitemap .contenttype-uhacomposantes a:hover,
#portlet-navigation-tree .contenttype-uhacomposantes a:hover,
#portlet-navigation-tree .contenttype-uhacomposantes a.navTreeCurrentItem {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-uhacomposantes,
#portlet-navigation-tree .contenttype-uhacomposantes {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-uhacomposantes a:hover,
* html #portlet-navigation-tree .contenttype-uhacomposantes a:hover,
* html #portlet-navigation-tree .contenttype-uhacomposantes a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-uhacomposantes {
display: block;
}
.contenttype-uhacv,
.actionMenu .contenttype-uhacv a:hover {
background-image: url(document_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-uhacv {
height: 1%;
}
#portal-sitemap .contenttype-uhacv a:hover,
#portlet-navigation-tree .contenttype-uhacv a:hover,
#portlet-navigation-tree .contenttype-uhacv a.navTreeCurrentItem {
background-image: url(document_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-uhacv,
#portlet-navigation-tree .contenttype-uhacv {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-uhacv a:hover,
* html #portlet-navigation-tree .contenttype-uhacv a:hover,
* html #portlet-navigation-tree .contenttype-uhacv a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-uhacv {
display: block;
}
.contenttype-uhacvs,
.actionMenu .contenttype-uhacvs a:hover {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-uhacvs {
height: 1%;
}
#portal-sitemap .contenttype-uhacvs a:hover,
#portlet-navigation-tree .contenttype-uhacvs a:hover,
#portlet-navigation-tree .contenttype-uhacvs a.navTreeCurrentItem {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-uhacvs,
#portlet-navigation-tree .contenttype-uhacvs {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-uhacvs a:hover,
* html #portlet-navigation-tree .contenttype-uhacvs a:hover,
* html #portlet-navigation-tree .contenttype-uhacvs a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-uhacvs {
display: block;
}
.contenttype-uhaentreprise,
.actionMenu .contenttype-uhaentreprise a:hover {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-uhaentreprise {
height: 1%;
}
#portal-sitemap .contenttype-uhaentreprise a:hover,
#portlet-navigation-tree .contenttype-uhaentreprise a:hover,
#portlet-navigation-tree .contenttype-uhaentreprise a.navTreeCurrentItem {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-uhaentreprise,
#portlet-navigation-tree .contenttype-uhaentreprise {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-uhaentreprise a:hover,
* html #portlet-navigation-tree .contenttype-uhaentreprise a:hover,
* html #portlet-navigation-tree .contenttype-uhaentreprise a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-uhaentreprise {
display: block;
}
.contenttype-uhanewscontainer,
.actionMenu .contenttype-uhanewscontainer a:hover {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-uhanewscontainer {
height: 1%;
}
#portal-sitemap .contenttype-uhanewscontainer a:hover,
#portlet-navigation-tree .contenttype-uhanewscontainer a:hover,
#portlet-navigation-tree .contenttype-uhanewscontainer a.navTreeCurrentItem {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-uhanewscontainer,
#portlet-navigation-tree .contenttype-uhanewscontainer {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-uhanewscontainer a:hover,
* html #portlet-navigation-tree .contenttype-uhanewscontainer a:hover,
* html #portlet-navigation-tree .contenttype-uhanewscontainer a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-uhanewscontainer {
display: block;
}
.contenttype-uhanewsfolder,
.actionMenu .contenttype-uhanewsfolder a:hover {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-uhanewsfolder {
height: 1%;
}
#portal-sitemap .contenttype-uhanewsfolder a:hover,
#portlet-navigation-tree .contenttype-uhanewsfolder a:hover,
#portlet-navigation-tree .contenttype-uhanewsfolder a.navTreeCurrentItem {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-uhanewsfolder,
#portlet-navigation-tree .contenttype-uhanewsfolder {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-uhanewsfolder a:hover,
* html #portlet-navigation-tree .contenttype-uhanewsfolder a:hover,
* html #portlet-navigation-tree .contenttype-uhanewsfolder a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-uhanewsfolder {
display: block;
}
.contenttype-uhanewslettertheme,
.actionMenu .contenttype-uhanewslettertheme a:hover {
background-image: url(NewsletterTheme.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-uhanewslettertheme {
height: 1%;
}
#portal-sitemap .contenttype-uhanewslettertheme a:hover,
#portlet-navigation-tree .contenttype-uhanewslettertheme a:hover,
#portlet-navigation-tree .contenttype-uhanewslettertheme a.navTreeCurrentItem {
background-image: url(NewsletterTheme.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-uhanewslettertheme,
#portlet-navigation-tree .contenttype-uhanewslettertheme {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-uhanewslettertheme a:hover,
* html #portlet-navigation-tree .contenttype-uhanewslettertheme a:hover,
* html #portlet-navigation-tree .contenttype-uhanewslettertheme a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-uhanewslettertheme {
display: block;
}
.contenttype-uhaoffre,
.actionMenu .contenttype-uhaoffre a:hover {
background-image: url(document_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-uhaoffre {
height: 1%;
}
#portal-sitemap .contenttype-uhaoffre a:hover,
#portlet-navigation-tree .contenttype-uhaoffre a:hover,
#portlet-navigation-tree .contenttype-uhaoffre a.navTreeCurrentItem {
background-image: url(document_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-uhaoffre,
#portlet-navigation-tree .contenttype-uhaoffre {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-uhaoffre a:hover,
* html #portlet-navigation-tree .contenttype-uhaoffre a:hover,
* html #portlet-navigation-tree .contenttype-uhaoffre a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-uhaoffre {
display: block;
}
.contenttype-uhaoffres,
.actionMenu .contenttype-uhaoffres a:hover {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-uhaoffres {
height: 1%;
}
#portal-sitemap .contenttype-uhaoffres a:hover,
#portlet-navigation-tree .contenttype-uhaoffres a:hover,
#portlet-navigation-tree .contenttype-uhaoffres a.navTreeCurrentItem {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-uhaoffres,
#portlet-navigation-tree .contenttype-uhaoffres {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-uhaoffres a:hover,
* html #portlet-navigation-tree .contenttype-uhaoffres a:hover,
* html #portlet-navigation-tree .contenttype-uhaoffres a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-uhaoffres {
display: block;
}
.contenttype-uhapole,
.actionMenu .contenttype-uhapole a:hover {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-uhapole {
height: 1%;
}
#portal-sitemap .contenttype-uhapole a:hover,
#portlet-navigation-tree .contenttype-uhapole a:hover,
#portlet-navigation-tree .contenttype-uhapole a.navTreeCurrentItem {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-uhapole,
#portlet-navigation-tree .contenttype-uhapole {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-uhapole a:hover,
* html #portlet-navigation-tree .contenttype-uhapole a:hover,
* html #portlet-navigation-tree .contenttype-uhapole a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-uhapole {
display: block;
}
.contenttype-uharubriquecomposante,
.actionMenu .contenttype-uharubriquecomposante a:hover {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-uharubriquecomposante {
height: 1%;
}
#portal-sitemap .contenttype-uharubriquecomposante a:hover,
#portlet-navigation-tree .contenttype-uharubriquecomposante a:hover,
#portlet-navigation-tree .contenttype-uharubriquecomposante a.navTreeCurrentItem {
background-image: url(folder_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-uharubriquecomposante,
#portlet-navigation-tree .contenttype-uharubriquecomposante {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-uharubriquecomposante a:hover,
* html #portlet-navigation-tree .contenttype-uharubriquecomposante a:hover,
* html #portlet-navigation-tree .contenttype-uharubriquecomposante a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-uharubriquecomposante {
display: block;
}
.contenttype-uhasmoothwelcome,
.actionMenu .contenttype-uhasmoothwelcome a:hover {
background-image: url(link_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-uhasmoothwelcome {
height: 1%;
}
#portal-sitemap .contenttype-uhasmoothwelcome a:hover,
#portlet-navigation-tree .contenttype-uhasmoothwelcome a:hover,
#portlet-navigation-tree .contenttype-uhasmoothwelcome a.navTreeCurrentItem {
background-image: url(link_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-uhasmoothwelcome,
#portlet-navigation-tree .contenttype-uhasmoothwelcome {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-uhasmoothwelcome a:hover,
* html #portlet-navigation-tree .contenttype-uhasmoothwelcome a:hover,
* html #portlet-navigation-tree .contenttype-uhasmoothwelcome a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-uhasmoothwelcome {
display: block;
}
.contenttype-uhastage,
.actionMenu .contenttype-uhastage a:hover {
background-image: url(document_icon.gif);
background-repeat: no-repeat;
background-position: 0% 0%;
}
* html .contenttype-uhastage {
height: 1%;
}
#portal-sitemap .contenttype-uhastage a:hover,
#portlet-navigation-tree .contenttype-uhastage a:hover,
#portlet-navigation-tree .contenttype-uhastage a.navTreeCurrentItem {
background-image: url(document_icon.gif);
background-repeat: no-repeat;
background-position: 0% 3px;
}
#portal-sitemap .contenttype-uhastage,
#portlet-navigation-tree .contenttype-uhastage {
background-position: 0% 4px;
}
* html #portal-sitemap .contenttype-uhastage a:hover,
* html #portlet-navigation-tree .contenttype-uhastage a:hover,
* html #portlet-navigation-tree .contenttype-uhastage a.navTreeCurrentItem {
position: relative;
}
.listing .contenttype-uhastage {
display: block;
}
.actionicon-plone-sendto {
background-image: url(mail_icon.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-plone-print {
background-image: url(print_icon.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-plone-rss {
background-image: url(rss.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-plone-extedit {
background-image: url(extedit_icon.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-plone-addtofavorites {
background-image: url(favorite_icon.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-controlpanel-QuickInstaller {
background-image: url(product_icon.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-controlpanel-PloneReconfig {
background-image: url(logoIcon.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-controlpanel-UsersGroups {
background-image: url(group.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-controlpanel-UsersGroups2 {
background-image: url(group.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-controlpanel-MemberPrefs {
background-image: url(user.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-controlpanel-MemberPassword {
background-image: url(lock_icon.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-controlpanel-MailHost {
background-image: url(mail_icon.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-controlpanel-PortalSkin {
background-image: url(skins_icon.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-controlpanel-errorLog {
background-image: url(error_log_icon.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-controlpanel-ZMI {
background-image: url(zope_icon.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-controlpanel-SearchSettings {
background-image: url(search_icon.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-controlpanel-NavigationSettings {
background-image: url(navigation_icon.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-plone-full_screen {
background-image: url(fullscreenexpand_icon.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-plone-unlock_lock {
background-image: url(lock.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-plone-lock_unlock {
background-image: url(unlock.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-controlpanel-portal_atct {
background-image: url(topic_icon.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-object_buttons-cut {
background-image: url(cut_icon.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-object_buttons-copy {
background-image: url(copy_icon.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-object_buttons-paste {
background-image: url(paste_icon.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-object_buttons-delete {
background-image: url(delete_icon.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-controlpanel-placefulworkflow {
background-image: url(placefulworkflow_icon.png) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-plone-ics {
background-image: url(icon_export_ical.png) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-plone-vcs {
background-image: url(icon_export_vcal.png) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-plone-rotate_clockwise {
background-image: url(icon_rotate_clockwise.png) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-plone-rotate_counter_clockwise {
background-image: url(icon_rotate_counter_clockwise.png) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-plone-rotate_180 {
background-image: url(icon_rotate_180.png) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-plone-flip_horizontal {
background-image: url(icon_flip_horizontal.png) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-plone-flip_vertical {
background-image: url(icon_flip_vertical.png) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-controlpanel-PloneLanguageTool {
background-image: url(flag-plone.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-controlpanel-attachmentfield_prefs {
background-image: url(AttachmentField.png) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-plone-lock {
background-image: url(lock.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-plone-unlock {
background-image: url(unlock.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-controlpanel-plonearticle_prefs {
background-image: url(PloneArticle.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-controlpanel-kupu {
background-image: url(kupu_icon.gif) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
.actionicon-controlpanel-CacheSetupPrefs {
background-image: url(cachesetup_tool_icon.gif.1) !important;
background-repeat: no-repeat;
background-position: 0% 50%;
}
/* */
.visualIconPadding,
.actionMenu .actionMenuContent .visualIconPadding {
padding-left: 18px;
margin-left: -1px;
}
.visualIconReplace {
background: transparent;
display: block !important;
border: 0;
margin: 0;
padding: 0 0 0 18px !important;
overflow: hidden;
width: 0px !important;
width /**/: 18px;
}
/* */

}

