/* CSS Document */


.tableauFormRech {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color:#FFFFFF;
	border: 1px solid #CCCCCC;
	text-align:left;
	position:relative;
}



td#colonneModule2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	background-color: #DADBDD;
	text-align: left;
	border-bottom: 1px solid #FFFFFF;
	line-height:15px;
	padding: 0px 0px 0px 5px;
}

td#colonneModule2Gras {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	color: #000000;
	background-color: #FFFFFF;
	text-align: left;
	border-bottom: 1px solid #C5DFF0;
	line-height:15px;
	padding: 0px 0px 0px 10px;
}



td#colonneModule1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:normal;
	font-style: normal;
	color: #000000;
	background-color: #FFFFFF;
	text-align: left;
	border-bottom: 1px solid #C5DFF0;
	line-height:15px;
	padding: 0px 0px 0px 5px;
}


td#colonneModule1Gras {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	color: #000000;
	background-color: #FFFFFF;
	text-align: left;
	border-bottom: 1px solid #C5DFF0;
	line-height:15px;
	padding: 0px 0px 0px 10px;
}

td#colonneModule1Planning {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	background-color: #FFFFFF;
	text-align:center;
	border-bottom: 1px solid #0099FF;
	
	
}
td#colonneModule2Planning {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	background-color: #DADBDD;
	text-align:center;
	border-bottom: 1px solid #0099FF;
	line-height:15px;
	
}

.NomColonneRech{

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;	
	text-align: center;
	
	background-image: url("fond_bleu.jpg.1");
	line-height: 18px;
}

.NomColonneRechGras{

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;	
	text-align: center;
	border: 1px solid #739ACE;
	background-image: url("degrade-bleu2.jpg");
	line-height: 18px;
}

.textColonne{
font-family: Arial, Helvetica, sans-serif;
font-weight:bold;
font-size: 12px;
text-align: left;
color: #000000;

}

#txtprecedsuiv{

font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: normal;
text-align: center;
background: transparent;
color:#000000;
text-decoration:none;
}

td#FormDroite{
padding-right:0px;

}

td#paddingColonne{
padding: 0px 0px 0px 10px;
}

td#paves{
padding: 10px 0px 0px 0px;
}

td#paves img{
padding: 10px 0px 0px 0px;	
}

#CalendarControlIFrame {
  display: none;
  height: 250px;
  width: 250px;
  z-index:99;
  position:absolute;
  
}

#CalendarControl {
  position:absolute;
  background-color:#FFF;
  margin:0;
  padding:0;
  display:none;
  z-index:100;
  
}

#CalendarControl table {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 8pt;
  border-left: 1px solid #336;
  border-right: 1px solid #336;
  top: 0px;  
  right:0px;
  position:absolute;
  
}

#CalendarControl th {
  font-weight: normal;
}

#CalendarControl th a {
  font-weight: normal;
  text-decoration: none;
  color: #FFF;
  padding: 1px;
}

#CalendarControl td {
  text-align: center;
}

#CalendarControl .header {
  background-color: #3994DD;
}

#CalendarControl .weekday {
  background-color: #DDD;
  color: #000;
}

#CalendarControl .weekend {
  background-color: #FFC;
  color: #000;
}

#CalendarControl .current {
  border: 1px solid #339;
  background-color: #3994DD;
  color: #FFF;
}

#CalendarControl .weekday,
#CalendarControl .weekend,
#CalendarControl .current {
  display: block;
  text-decoration: none;
  border: 1px solid #FFF;
  width: 2em;
}

#CalendarControl .weekday:hover,
#CalendarControl .weekend:hover,
#CalendarControl .current:hover {
  color: #FFF;
  background-color: #3994DD;
  border: 1px solid #999;
}

#CalendarControl .previous {
  text-align: left;
}

#CalendarControl .next {
  text-align: right;
}

#CalendarControl .previous,
#CalendarControl .next {
  padding: 1px 3px 1px 3px;
  font-size: 1.4em;
}

#CalendarControl .previous a,
#CalendarControl .next a {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}

#CalendarControl .title {
  text-align: center;
  font-weight: bold;
  color: #FFF;
}

#CalendarControl .empty {
  background-color: #CCC;
  border: 1px solid #FFF;
}


.CHAMP2{

	height: 18px;
	width: 153px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0000CC;
	text-align:center;
	margin:0px 0px 0px 19px;

}