.highslide-html {
    background-color: white;
}
.highslide-html-blur {
}
div.highslide-html-content-header {
	height: 20px;
	padding: 2px;
}
.highslide-html-content {
	position: absolute;
    display: none;
	 width: 350px;
}
div.highslide-body {
	padding: 0 10px 10px 10px;
}
.highslide-display-block {
    display: block;
}
.highslide-display-none {
    display: none;
}

.control {
	float: right;
    display: block;
    /*position: relative;*/
	margin: 0 5px;
	font-size: 9pt;
    font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #999;
}
.control:hover {
	color: black !important;
}
.highslide-move {
    cursor: move;
	 border: 0;
	 height: 18px;
	 padding: 2px;
}