.solarflare{
	/* root CSS class
	If you set a font type, size, color here then it will be the default for all
	subclasses unless they override it */
	font-size: 14px;
	color: #FFFFFF;
		font-weight:normal;
	font-family: "Trebuchet MS", Lucida Sans Unicode, Arial, sans-serif;
margin-left:190px;
height:35px;
background-image: url(nav.jpg);	
margin-top:-1px;
    top: 0px;
}

.solarflare .menuCont_1,
.solarflare .menuCont_2{
/* Menu containers (in this file we have 2 menu containers - the module parameter "CSS # Menu Classes:"
would need to correspond to this with a setting of 2.
This class affects a DIV tag which encapsulates the menu anchor. (Necessary to allow alpha filter)
*/
width: auto; height: 36px;

}

.solarflare .subItem_1 img, .solarflare .subItem_2 img, .solarflare .subItem_1-active img, .solarflare .subItem_2-active img, .solarflare .parentItem img, .solarflare .parentItem-active img{
    position: absolute;
    top: 0px;

}

.solarflare .rgtImg {
/* Positioning of image to right of menu*/
    margin-top: 0px;
    right: 4px;
    border: 0;
}
.solarflare .lftImg {
/* Positioning of image to left of menu*/
	margin-top: 0px;
    border: 0;
}


.solarflare .parentItem,  .solarflare .parentItem:hover,  .solarflare .parentItem-active, .solarflare .parentItem-active:hover {

	width: auto; height: 25px;

	background-repeat	: no-repeat;
    text-decoration		: none;
    display				: block;
    white-space			: nowrap;
    position			: relative;
	display				: block;
	font-weight:normal;
	border-right: 1px solid #CCCCCC;
	margin				: 0px 0px 0px 0px;
	padding				: 8px 20px 2px 20px;

}

.solarflare .parentItem, .solarflare .parentItem-active
{


}
.solarflare .subItem_1, .solarflare .subItem_2 {
background-color: #f7f8f8;
border: 1px solid #cccccc;
color:#666666;
}

.solarflare .parentItem:hover, .solarflare .parentItem-active:hover, .solarflare .subItem_1:hover, .solarflare .subItem_2:hover {
background-color: #00b3f3;
border-bottom: 1px solid #019ad1;
}

.solarflare .parentItem:link,.solarflare .parentItem:visited {
/*background-color	: #ff9b37;*/
	color				: #ffffff;
	font-weight: 200;
}

.solarflare .parentItem:hover,
.solarflare .parentItem-active {
background-image	: url(solarflare_menu_bg02.png);
	background-color: #00b3f3;
	color				: #ffffff !important;
}
.solarflare .parentItem:active {
	/*background-color	: #ee5500;*/
	color				: #ffffff !important;
}


.solarflare .subItem_1, .solarflare .subItem_2,
.solarflare .subItem_1:hover, .solarflare .subItem_2:hover,
.solarflare .subItem_1-active, .solarflare .subItem_2-active,
.solarflare .subItem_1-active:hover, .solarflare .subItem_2-active:hover {	
	width: auto; height: 25px;
	background-repeat	: no-repeat;
    text-decoration: none;
    display: block;
    white-space:nowrap;
    position: relative;
    z-index: 500;
	display				: block;
	margin				: 0px 0px 0px 0px;
	padding				: 5px 0px 5px 0px;
	color: #666666 !important;
border-bottom: 1px solid #666666;
}

.solarflare .subItem_1, .solarflare .subItem_2{
    color				: #666666;
padding-left:20px;
    margin-top: 0px;
border-bottom: 1px solid #c2c0c0;

}
.solarflare .subItem_1:hover, .solarflare .subItem_2:hover{
	color				: #ffffff !important;
padding-left:20px;
    margin-top: 0px;

}




.solarflare .section {
    border-style: none;
    position: absolute;
    visibility: hidden;
    z-index: -1;
}

* html .solarflare td { position: relative; } /* ie 5.0 fix */