/* CSS Document */

html {
	height: 100%;
}

body {
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;	/* Font to use */
	
		font-size:11px;
		margin:0px;
		padding-top:0px;
		height:100%;
		width:100%;
		text-align:left;
	/* background: #FFFFFF  url(../images/fond.jpg) center top no-repeat;*/
background: #FFFFFF  url(background.gif);
}

fieldset {
margin: 10px 0 0 0;
	border : 1px solid #CCCCCC;
	padding : 15px;
	}

legend {
	color : #666;
	font-size: 12px;
	}
/* MODULE
--------------------------------------------------------- */
div.moduletable h3 {
	margin: 0px -10px 10px 5px;
	padding: 5px 10px 10px 10px;
	color: #646E7B;
	font-size: 1em;
}

div.moduletable {
	padding: 10px;
}

a {
 color: #00B3F3;
}

a:visited {
 color: #00B3F3;
}

a:hover {
 color: #98D3D6;
}

 a.mainleveltopmenu {
	display: inline;
	color: #999999;
	text-decoration: none;
height:15px;
font-size:12px;
padding-right:5px;
padding-left:5px;
}

a.mainleveltopmenu:hover,
a.mainleveltopmenu:active,
a.mainleveltopmenu:focus {
	color: #666666;
	text-decoration: none;
}
 a.mainleveltopmenu #active_menu {
	color: #666666;
	text-decoration: none;
}
/* Default Joomla! Menu */
a.mainlevel {
margin-left:0px;
padding-left:0px;
	padding-top: 8px;
	border-bottom: 1px solid #C6CED9;
	display: block;
	color: #646E7B;
	text-decoration: none;

	height:23px;
font-size:13px;
	background: url(bouton.jpg) repeat-x;
}
img.mainlevel {
margin-right:0px;
padding-right:0px;
}
a.mainlevel:hover,
a.mainlevel:active,
a.mainlevel:focus {
	color: #4F89D2;
	background: #DFE5EC;
	text-decoration: none;
}

a.mainlevel #active_menu {
	color: #00b3f3;
	text-decoration: none;
}

a.sublevel {
	padding: 0px 0px 0px 10px;
	display: block;
	text-decoration: none;
	color: #646E7B;
height:32px;
}

a.sublevel:hover,
a.sublevel:active,
a.sublevel:focus {
	text-decoration: none;
	background: #DFE5EC;
	color: #4F89D2;
}

#active_menu {
	color: #e14570;
}
#wrapper {
z-index:-2;
 width: 1020px;
 margin: 0px auto;
 padding: 0px;
 border:1px solid #CCCCCC;
 color: #333333;
 font: 1.0em/150% 'Trebuchet MS', sans-serif;
 /* background: url(../images/bg.jpg) repeat-y;*/
}
#haut {
top:0px;
z-index:1;
 width: 1020px;
height:225px;
text-align:left;
 margin: 0 0 0 0;
 color: #333333;
 font: 1.0em/150% 'Trebuchet MS', sans-serif;
background: url(haut2.gif) no-repeat;
}
#hautgauche {
position:absolute;
top:0px;
z-index:-1;
 width: 600px;
height:227px;
text-align:left;
 margin: 20px 0 0 420px;
 color: #333333;
 font: 1.0em/150% 'Trebuchet MS', sans-serif;
background-color: #FFFFFF;
}
#sousheader {
position:absolute;
z-index:-1;
 float: right;
height:100%;
 width: 1020px;
 margin: 20px 0px 0px 0px;
 padding: 0px;
 background: #666666;
background: url(nuage.jpg) no-repeat;
}
#bandeau {
position:absolute;
margin-left:750px;
 width: 300px;
 padding: 0 0 0 0;
	height: 36px;		
font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
text-align:left;
z-index:5;
}
#competences {
position:absolute;
margin-left:0px;
width: 190px;
padding: 0 0 0 0;
height: 35px;		
font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
text-align:left;
z-index:6;
background: url(bandeaucompetence.jpg) no-repeat;
}

/* Header */
#header {
 width: 100%;
 margin: 0 0 0 0;
 padding: 0 0 0 0;
 background: #878787;		
border-top: 0px solid #CCCCCC;	
border-bottom: 0px solid #666666;
font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
text-align:left;
}

#header #title {
 margin: 0px;
 padding: 0px;
 color: #C4C4C4;
 font: bold 1.0em 'Trebuchet MS', sans-serif;
 text-align: left;
}

#header #title a {
 color: #C4C4C4;
}

#header div#description {
 margin: 0px;
 padding: 0px;
 color: #B3B3B3;
 font-size: 10px;
 text-align: left;
}


.createdate {
	height: 15px;
	padding-bottom: 10px;
	color: #999999;
	font-size: 11px;
}

.modifydate {
	height: 15px;
	padding-top: 10px;
	color: #999999;
	font-size: 11px;
}
form {
/* removes space below form elements */
width:100%;
	margin: 0;
 	padding: 0;
}

div.mosimage {
border: 1px solid #666666;
width:auto;
margin: 0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.mosimage {

}

.mosimage_caption {
  margin: 0px 0px 0px 0px;
  background: #666666;
  padding: 0px 0px 0px 0px;
  color: #FFFFFF;
  text-align:center;
  font-size: 10px;
  border-top: 0px solid #CCCCCC;
}
.button {
  color: #666666;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
  text-align: center;
  font-size: 11px;
  font-weight: normal;
  border: 1px solid #CCCCCC;
  width: auto;
  background: url(button_bg.png) repeat-x;
  padding: 0px 5px;
  margin-top: 5px;
}

.inputbox {
margin: 5px 3px 0px 0px;
	padding: 2px;
	border:solid 1px #CCCCCC;
	background-color: #FFFFFF;
font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	font-size: 11px;
}
span.article_seperator {
	display: block;
	height: 1.5em;
}
#actuimage {
position:absolute;
z-index:1;
height:350px;
 width: 1020px;
 margin: -14px 0px 0px -45px;
 padding: 0px 0px 0px 0px;
}
#englob {
z-index:-1;
 width: 1020px;
 margin: 0;
 padding: 0;
 border:0px solid #CCCCCC;
 color: #333333;
 font: 1.0em/150% 'Trebuchet MS', sans-serif;
 background: #ffffff;

 /* background: url(../images/bg.jpg) repeat-y;*/
}
/* Sidebar */
#firstSide {
float:left; 
width: 190px;
margin-left:0px;
margin-top:0px;
margin-bottom:1px;
border-right: 0px dotted #666666;
font-size: 1.0em;
text-align: left;
}
/* Main contents */
#contents {
width: 810px;
height:auto;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
font-size: 13px;
text-align: left;
float:right;
/*background: url(../images/nuage2.jpg) no-repeat; */

}
#contents img{
 margin: 0px 0px 0px 0px;
 padding: 0px 0px 0px 0px;
}

#contents .contents_body {
 margin:0px 25px;
 padding: 0px;
}


#contents blockquote {
 padding: 10px;
 background: #EFEFEF;
 border: #999999;
}
#modulebas {
 width: 810px;
height:auto;
 margin: 0px 0px 0px 0px;
 padding: 0px 0px 0px 210px;
 background: #FFFFFF;
 font-size: 12px;
 text-align: left;
}

h2 {
font-weight: normal;
font-size: 14px;
color: #74b320;
text-transform: uppercase;
}
h3 {
font-weight: normal;
font-size: 12px;
color: #74b320;
}

h4 {
font-weight: normal;
 	color: #B0167D;
 font: 14px Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;

}



p {
	margin: 5px 0 15px;
}

ul {
	margin-top: 5px;
	margin-bottom: 15px;
	list-style: none;
}

ul li {
	padding-left: 0px;
}

ol {
	margin-top: 5px;
	margin-bottom: 15px;
}

ol li {
	margin-left: 20px;
}


li
{
line-height: 15px;
padding-left: 10px;
padding-top: 0px;
background-repeat: no-repeat;
background-position: 0px 2px;
}
fieldset {
	border: none;
}

fieldset a {
	font-weight: bold;
}

hr {
	border-top: 1px solid #C6CED9;
	border-right: 0;
	border-left: 0;
	border-bottom: 0;
	height: 1px;
}



.contentpaneopen {
text-align: left;
background: transparent;
font-size: 12px;
}

table.contentpane ul {
margin: 0px;
padding: 0px;
list-style: none;
}

table.contentpane ul li{
padding: 0px;
margin: 0px;
padding-left: 10px;
}

.contentdescription {
font-size: 12px;
}
img.contentdescription {
padding-right : 5px;
}
.categorytitle {
width: 750px;
font-weight: normal;
font-size: 18px;
height: 25px;
line-height: 25px;
font-family: "Trebuchet MS", Verdana, sans serif;
}
#rubrique {
	color: #B0167D;
	text-align: left;
	padding-left: 26px;
	padding-top: 22px;
	padding-bottom: 10px;
	height: 25px;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	margin: 5px 5px 5px 5px;
	font-family: Helvetica, Arial, sans-serif;
	background: url(titre.jpg) no-repeat;
}

a.category {
text-decoration:  underline; 
 }
a.category:hover {
text-decoration:  underline; 
 }
/* JOOMLA STYLE
--------------------------------------------------------- */
table.blog {
}


table.moduletable {
	width: 100%;
	padding: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
}

div.moduletable {
	padding: 0;
	margin-bottom: 2px;
}

table.moduletable th, div.moduletable h3 {
	color: #B0167D;
	text-align: left;
	padding-left: 26px;
	padding-top: 22px;
padding-bottom: 10px;
	height: 25px;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	margin: 5px 5px 5px 5px;
	font-family: Helvetica, Arial, sans-serif;
background: url(titre.jpg) no-repeat;
}

table.moduletable td {

	padding: 0px;
	margin: 0px;
	font-weight: normal;
}

table.contentpane {
	border: none;
	width: 100%;
}

table.contentpaneopen {
	border: none;
}

table.contenttoc {
	margin: 0 0 10px 10px;
	padding: 0;
	width: 35%;
}

table.contenttoc a {
	text-decoration: none;
}

table.contenttoc td {
	padding: 1px 5px 1px 22px;
	background: url(bullet-list.gif) no-repeat 5% 50%;
}

table.contenttoc th {
	padding: 4px;
	border-bottom: 5px solid #FFFFFF;
	background: #DFE5EC;
	color: #646E7B;
	text-indent: 5px;
}

table.poll {
	padding: 0;
	width: 100%;
	border-collapse: collapse;
}

table.pollstableborder {
	padding: 0;
	width: 100%;
	border: none;
	text-align: left;
}

table.pollstableborder img {
	vertical-align: baseline;
}

table.pollstableborder td {
	padding: 2px!important;
}

table.searchintro {
	padding: 10px 0;
	width: 100%;
}

table.searchintro td {
	padding: 5px !important;
}

table.adminform {
	width: 400px!important; /*Control the Frontend Editor area width*/
}

.adminform .inputbox {
}

.blog_more {
	margin: 10px 0;
}

.blog_more strong {
	margin: 0 0 5px;
	padding-left: 13px;
	display: block;
	color: #646E7B;
	text-transform: uppercase;
}

.back_button {
	float: left;
  text-align: center;
  font-size: 10px;
  font-weight: normal;
  border: 1px solid #CCCCCC;
  width: auto;
  background: url(button_bg.png) repeat-x;
  padding: 0px 10px;
  line-height: 20px;
  margin: 1px;
}

.pagenav {
  text-align: center;
  font-size: 10px;
  font-weight: normal;
  border: 1px solid #CCCCCC;
  width: auto;
  background: url(button_bg.png) repeat-x;
  padding: 0px 10px;
  line-height: 20px;
  margin: 1px;
}

.pagenavbar {
	margin-right: 10px;
	float: right;
}
/* Footer */
#footer4 {
border-top:0px solid #CCCCCC;
 clear:both;
 width:1010px;
 height: 375px;
 margin: 0px;
 padding: 5px;
 background: #FFFFFF;
 font-size: 0.8em;
 	font-family: "Trebuchet MS", Verdana, sans serif;
}
#footer {
border-top:0px solid #CCCCCC;
 clear:both;
 width:1010px;
 height: 375px;
 margin: 0px;
 padding: 5px;
 background: #FFFFFF;
 font-size: 0.8em;
 	font-family: "Trebuchet MS", Verdana, sans serif;
	background: url(fondfooter.jpg) no-repeat;
}
.footer2 a{
color : #FFFFFF;
}
#footer h2{
 font-size: 14px;
color:#c32677;
}
.footer1 img{
border:3px solid #CCCCCC;
}
.footer1 {
float:left;
 width: 190px;
 margin: 0px 0px 0px 0px;
 padding: 10px 5px 0px 5px;
 font-size: 12px;
 text-align: left;
}
.footer1 h2{
color:#c32677;
}

.footer2 {
	float:left;
	width:445px;
 height: 365px;
 	margin: 0px 0px 0px 0px;
 	padding: 10px 5px 0px 40px;
 	font-size: 12px;
	border-left:0px dotted #666666;
	 background: #FFFFFF;
}
.footer2 img{
border:1px solid #666666;
}
.footer3 {
 width: 270px;
 	height: 365px;
 margin: 0px 0px 0px 0px;
padding: 10px 5px 0px 5px;
 font-size: 11px;
float:right;
 text-align: left;
   	background: #FFFFFF;
	border-left:1px dotted #666666;
}
input, textarea {
	font-size:12px;
	font-family: "Trebuchet MS", Verdana, sans serif;
	border: 1px solid #CCCCCC;
	background-color: #EFEFEF;
	margin-top: 5px;
	margin-bottom: 5px;
	color:#444;
	padding-left: 5px;
	padding-right: 5px;
}
textarea { width:100%;}
input:hover, textarea:hover { border: 1px solid #999999; background: #DDF4FF; }
select {
	font-size:12px;
	font-family: "Trebuchet MS", Verdana, sans serif;
	border: 1px solid #CCCCCC;
	background-color: #EFEFEF;
	margin-top: 5px;
	margin-bottom: 5px;
	color:#444;
	padding-left: 5px;
	padding-right: 5px;
}
select:focus { border: 1px solid #999999; background: #DDF4FF; }
/* Code text */
pre, .code {
	padding: 10px 15px;
	margin: 5px 0 15px;
	border-left: 5px solid #8E9CAE;
	background: #ECF0F4;
	font: 1em/1.5 "Courier News", monospace;
}

blockquote {
	padding: 15px 40px;
	background: url(quote.gif) 10px 10px no-repeat;
	font: italic 1em/1.5 Georgia, Times, serif;
}

.dropcap {
	float: left;
	padding: 3px 3px 0 0;
	display: block;
	color: #646E7B;
	font: 50px/40px Georgia, Times, serif;
}

/* Tips, Error, Message, Hightlight*/
.error {
	padding-left: 22px;
	color: #E50000;
	background: url(bullet-error.gif) no-repeat top left;
}

.message {
	padding-left: 22px;
	color: #4F89D2;
	background: url(bullet-info.gif) no-repeat top left;
}

.tips {
	padding-left: 22px;
	color: #E86D29;
	background: url(bullet-tips.gif) no-repeat top left;
}

.highlight {
	border-bottom: 0px dotted;
	background: #DFE5EC;
	font-weight: bold;
}

p.stickynote {
	padding: 25px 60px 15px 20px;
	background: url(sticky-bg.gif) no-repeat top right #4F89D2;
	color: #FFFFFF;
}

p.clipnote {
	padding: 25px 60px 15px 20px;
	background: url(clip-bg.gif) no-repeat top right #4F89D2;
	color: #FFFFFF;
}

.blocknumber {
	position: relative;
	clear: both;
	padding: 5px 10px 10px; 
}

.bignumber {
	float: left;
	font: 30px/normal Arial, sans-serif;
	font-weight: bold;
	color: #4F89D2;
	display: block;
	margin-right: 5px;
	margin-bottom: 5px;
}
.sectiontableheader {
	padding: 5px;
	background: #DFE5EC;
	color: #646E7B;
	font-weight: bold;
}
.sectiontableheader {
	padding: 5px;
	background: #DFE5EC;
	color: #646E7B;
	font-weight: bold;
}

tr.sectiontableentry1 td {
	font-size:12px;
	font-family: "Trebuchet MS", Verdana, sans serif;
	padding-left: 20px;
	height:30px;
border-bottom: 1px dotted #B0167D;
cursor:  pointer;
background-color: #FDFDFD;
background: url(arrow-titte.gif) 0.5% center no-repeat;

}
tr.sectiontableentry1 td a {
	font-size:12px;
color: #646E7B;
text-decoration: none;
}
tr.sectiontableentry1 td a:hover {
	font-size:12px;
color: #4F89D2;
text-decoration: none;
}
tr.sectiontableentry1 td:hover {
	font-size:12px;
	color: #4F89D2; 
	background-color: #DFE5EC;
}
tr.sectiontableentry2 td {
	font-size:12px;
	font-family: "Trebuchet MS", Verdana, sans serif;
	padding-left: 20px;
	height:30px;
border-bottom: 1px dotted #B0167D;
background-color: #FCFBFB;
cursor:  pointer;
background: url(arrow-titte.gif) 0.5% center no-repeat; 
}
tr.sectiontableentry2 td a {
	font-size:12px;
color: #646E7B;
text-decoration: none;
}
tr.sectiontableentry2 td a:hover {
	font-size:12px;
color: #4F89D2;
text-decoration: none;
}
tr.sectiontableentry2 td:hover {
	color: #4F89D2; background-color: #DFE5EC;
}

.small {
	color: #8E9CAE;
}

.smalldark {
	text-align: left;
}

div.syndicate div {
	text-align: center;
}


#bottom {
 width: 100%;
 margin: 0 0 0 0;
 padding: 0 0 0 0;
height: 39px;		
border-top: 0px solid #ccc;	
border-bottom: 0px solid #666666;
font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
color:#CCCCCC;
text-align:left;
}


#logo {
	z-index:12;
margin-top:0px;
margin-left:0px;
float:right;
height: 62px;
	width: 130px;
background: url(logocg2.jpg) no-repeat center center;
}

/**
 * DOCman 1.4.x - Joomla! Document Manager
 * @version $Id: theme.css 423 2007-10-29 22:18:47Z mjaz $
 * @package DOCman_1.4
 * @copyright (C) 2003-2007 The DOCman Development Team
 * @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
 * @link http://www.joomlatools.org/ Official website
 **/

/**
 * Default DOCman Theme
 *
 * Creator:  The DOCman Development Team
 * Website:  http://www.joomlatools.org/
 * Email:    support@joomlatools.org
 * Revision: 1.4
 * Date:     February 2007
 **/


/*.clr { clear: both;}*/


#dm_header {
	height: 50px;
	border-bottom: 1px dotted #DDDDDD;
	text-align: center;
}
#dm_header div {
	float: left;
	padding: 3px;
	width: 30%;
}
#dm_header a, #dm_header span  {
	display: block;
	padding-bottom: 0px;
	text-decoration:none;
}
#dm_header img{

	border: 0px dotted ;

}

#dm_pathway {
	font-size: 11px;
	text-align: left;
	background: #DDDDDD;
	margin-bottom: 5px;
	padding: 3px 3px 3px 10px;
}



#dm_cats, #dm_docs {
	text-align:left;
}

#dm_cats h3,
#dm_docs h3 {
padding: 5px 5px 5px 5px;
margin-left: 0px;
margin-right: 0px;
color:#FFFFFF;
	}
#dm_docs h3 {
	margin-bottom: 0;
}

#dm_docs h3 span,
#dm_cats h3 span  {
padding-top:0px;
}


.dm_separator{
	border-top:1px solid gray;
}


a.dm_icon, a.dm_thumb  { float: left; padding-right: 10px; }

a.dm_icon img{border:0px;}

a.dm_name { display: block; margin-top: 3px;  padding: 8px 0 6px 5px; font-weight: normal; font-size:14px;border-bottom: 1px dotted #d7d6d6;}
a.dm_name:hover { background: #00B3F3; color: #FFFFFF; }

span.dm_new,  span.dm_hot{
padding-left: 10px; color: black; font-weight: normal; font-style: italic;
}

.dm_date, .dm_files, .dm_counter{ float: right; margin: 7px 5px 0 0; }

.dm_homepage { padding: 1px 1px 1px 5px; font-size: 10px;   }


.dm_cat {
	padding: 3px;
margin-top:30px;

	}
.dm_cat .dm_name {
font-weight: normal;
font-size: 25px;
height: 30px;
padding-bottom:15px;
padding-top:10px;
font-family: "Trebuchet MS", Verdana, sans serif;
border-top: 1px dotted #00B3F3;
border-bottom: 1px dotted #00B3F3;
color: #00b3f3;
margin-bottom: 5px;
}
.dm_cat .dm_description {
font-family: "Trebuchet MS", Verdana, sans serif;
font-size: 12px;
padding: 3px;
}

.dm_cat img {
margin-right:30px;
	}

.dm_thumb {
float: left;
margin-right : 10px;
border : 3px solid #FFFFFF;
}


.dm_unpublished { border: 1px dotted red; background-color: #FFCCCC;}
.dm_unapproved { border: 1px dotted green; background-color: #CCFFCC;}
.dm_checked_out { border: 1px dotted blue; background-color: #CCCCFF;}

.dm_license { }
.dm_license_agree { }

/* ---------- Orderby styles ---------------------------------------- */

.dm_orderby { margin: 0 0 10px 0; padding: 1px 1px 1px 10px; background-color: #EEEEEE; font-size: 10px;  }

/* ---------- Details styles ---------------------------------------- */

/* -- shared styles */
.dm_doc caption, #dm_tooltip caption {
	margin: auto;
	padding: 5px 0 5px 0;
	font-weight: bold;
}

.dm_doc table, #dm_tooltip table {
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-collapse: collapse;
}

.dm_doc td, #dm_tooltip td {
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
}

.dm_doc thead, #dm_tooltip thead { background-color: #FFCC00; font-weight: bold; }
.dm_doc col#prop { background-color: #EEEEEE; }
.dm_doc thead td, #dm_tooltip thead td { text-align: left; }

/* -- specific style when show as seperate page */

#dm_details {
	clear:left;
	width: 100%;
	text-align: left;
	float: left;
}
#dm_details table {

	width:100%
	}
#dm_details td, #dm_details thead { padding: 5px; }

/* -- specific style when show as tooltip */

#dm_tooltip td, #dm_tooltip thead { padding: 2px; }

/* ---------- Taskbar styles ---------------------------------------- */

.dm_taskbar {

	/*height: 22px;*/
	padding-bottom:6px;
	margin-bottom:6px;
	/*border-bottom: 1px solid #BBBBBB;*/
	font-family: "Trebuchet MS", Verdana, sans serif;
	list-style-type: none;
}

.dm_taskbar li {
	float: left;
	list-style-type: none;
	background-image: none;
	padding: 0 0 0 3px;
	margin: 0.5em 0 2px 0;
	/*width:  5.5em;*/
	font-size: 10px;
}
.dm_taskbar li a {
	display: block;
	padding-left: 3px;
	padding-right: 3px;
}
.dm_taskbar li a:link,
.dm_taskbar li a:visited,
.dm_taskbar li a:hover {
	color: #696969; background-color: #EEEEEE;
	text-decoration: none;
}
.dm_taskbar li a:link,
.dm_taskbar li a:visited {
	border-top: 1px solid #CECECE;
	border-bottom: 1px solid Gray;
	border-left: 1px solid #CECECE;
	border-right: 1px solid Gray;
}

.dm_taskbar li a:hover {
   border-bottom: 1px solid #CECECE;
   border-top: 1px solid Gray;
   border-right: 1px solid #CECECE;
   border-left: 1px solid Gray;
}

.dm_taskbar li.approve a:link { background-color: #CCFFCC; }
.dm_taskbar li.publish a:link { background-color: #FFCCCC; }
.dm_taskbar li.checkin a:link { background-color: #CCCCFF; }

/* ---------- Toolbar styles --------------------------------------- */

.dm_toolbar    { list-style: none; height: 32px; margin-right: 25px; }
.dm_toolbar li { float: right; background-image: none; }

.dm_toolbar .dm_btn  { text-indent: -5000px; height: 32px; width: 32px; display: block;}
.dm_toolbar #dm_btn_save   { background-image: url(save_f2.png)   }
.dm_toolbar #dm_btn_cancel { background-image: url(cancel_f2.png) }
.dm_toolbar #dm_btn_save:hover   { background-image: url(save.png)   }
.dm_toolbar #dm_btn_cancel:hover { background-image: url(cancel.png) }

/* ---------- Form styles ------------------------------------------ */

.dm_form { padding:10px;width: 35em; border: 1px solid #CECECE; }
.dm_form fieldset { border:  0px; margin: 0; padding: 0;}
.dm_form label    { display: block; width: 100px; font-weight: bold; float: left; }
.dm_form label.nofloat { float: none; }
.dm_form p  { text-align: left; }
.dm_form fieldset.dm_button    { border-top: 1px solid Gray; }
.dm_form select option.label { background-color: #EEE; border: 1px solid #DDDDDD; color : #333333; }
.dm_form .editor { float: none;  }

#dm_frmupload label { width: 100px; padding-right: 10px;}
#dm_frmupload #dm_btn_back   { float: left;  }
#dm_frmupload #dm_btn_submit { float: right; }

#dm_frmedit { width: 90%; border: 0 none;}
#dm_frmedit #dmthumbnail_preview { float: right; margin-right: 30px; height: 80px; width: 80px; padding: 3px; border: 1px solid silver; }
#dm_frmedit #license-page label  { width: 250px; }

/* ---------- Nav styles ------------------------------------------ */

#dm_nav 	  { clear: both; padding-top: 15px; margin-top: 15px; border-top: 2px dotted #DDDDDD;}
#dm_nav div { margin-top: 10px; }
.dynCalendar_header{
	font-family: Arial, Verdana, Helvetica, Sans-Serif;
	font-size: 10pt;
	font-weight: bold;
}
.dynCalendar_dayname {
	background-color: #EEEEEE;
	border: 1px solid #C0C0C0;
	font-family: Arial, Verdana, Helvetica, Sans-Serif;
	font-size: 8pt;
	text-align: center;
}

.dynCalendar_day {
	background-color: #EEEEEE;
	color: #000000;
	font-family: Arial, Verdana, Helvetica, Sans-Serif;
	font-size: 8pt;
}

.dynCalendar_today {
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
	font-family: Arial, Verdana, Helvetica, Sans-Serif;
	font-size: 8pt;
}

.dynCalendar {
	background-color: #C0C0C0;
	border: 2px outset white;
	visibility: hidden;
	position: absolute;
	top: 1px;
	left: 1px;
}
.suite {
	text-align:right;}
a.suite, a:visited.suite, a:active.suite, a:link.suite {
	line-height:24px;
	font-weight:bold;
	text-transform:uppercase;
	font-size:90%;
	background:#00B3F3;
	color:#FFFFFF;
	padding:0px 5px;
	letter-spacing:0px;
}

a:hover.suite {
	text-decoration: none;
	background:#FF0000;
}
.listedoc {
	text-align:right;
}
.listedoc img {
	margin-left:-25px;}
a.listedoc, a:visited.listedoc, a:active.listedoc, a:link.listedoc {
	
	font-weight:normal;
	text-transform:uppercase;
	color:#00B3F3;
	padding:0px 5px;
	letter-spacing:0px;
text-decoration: none;

}

a:hover.listedoc {
	text-decoration: none;
	color:#999999;
}