.text {
}
.text2 {
}
.puce {
	font-weight: bold;
	list-style-image: url(puce.gif.1);
	color: #005A91;
	list-style-position: outside;
	padding-left: 86px;
	padding-top: 10px;
}
.puce2{
	list-style-image: url(puce.gif.1);
	list-style-position: outside;
}
.puce3{
	list-style-position: inside;
	padding-left: 86px;
	list-style-type: square;
}
a.lien:hover {
	color: #999999;
	text-decoration: underline;
	font-weight: bold;
}
.lien {
	text-decoration: none;
	color: #0074BC;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}


.mini {
	font-size: 8px;
	font-weight: normal;
}
.contact {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	padding-left: 10px;
	padding-bottom: 5px;
	line-height: 18px;
}
.puce3 {
	list-style-image: url(puce.gif.1);
	list-style-position: outside;
}
.tabD {
	padding-left: 2px;
	border: 2px solid;
	letter-spacing: 1pt;
	border-top-color: #2C60AD;
	border-right-color: #2C60AD;
	border-bottom-color: #2C60AD;
	border-color: #2C60AD;
	border-left-color: #2C60AD;
	font-weight: normal;
}
.tabE {
	border: 2px solid;
	letter-spacing: 1pt;
	border-top-color: #2C60AD;
	border-right-color: #2C60AD;
	border-bottom-color: #2C60AD;
	border-color: #2C60AD;
	border-left-color: #2C60AD;
	font-weight: bold;
	padding-left: 10px;
}

.bd {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000000;
	border-bottom-color: #000000;
}
.b {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
.d {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
}
.text2 {
	padding: 5px;
	border: 2px solid #ffb229;
	line-height: 17px;
	padding-top: 10px;
}
.zone {
	font-weight: bold;
	background-color: #EDEDED;
}

.guide {
	width: 210px;
	font-weight: bold;
	background-color: #EDEDED;
}


.perso {
	width: 210px;
	font-weight: bold;
	background-color: #EDEDED;
}
.marge_droite {
	padding-right: 10px;
}
.onglet {
	background: #ffffff url(onglet.gif) no-repeat left bottom;
	padding: 3px;
	padding-left: 10px;
	color: #000000;
	font-weight: bold;
}

.donnes {
	border-top: 2px solid #FFB229;
	line-height: 13pt;
	background-color: #EDEDED;
	
}
.form2 {
	border: 2px solid #FFB229;
	background-color: #FFFFFF;
	padding: 5px;
}
.small {
	font-size: 9px;
}
.inter {
	line-height: 3px;
}
.bouton {
	margin: 5px;
	color: #FFFFFF;
	background-color: #D30C38;
	border: 1px solid #FF0F84;
	font-weight: bold;
	font-size: 9px;
}
.cartotheque {
	color: #5A5D5A;
	border-bottom: 1px solid #FFB229 ;
	padding: 3px;
	padding-left: 10px;
}
.cart_ang_g {
	background: #FFB229 url(ang_g.gif) no-repeat left top;
	color: #FFF;
	font-weight: bold;
	padding: 3px;
}
.cart_ang_d {
	background: #FFB229 url(ang_d.gif) no-repeat right top;
	color: #FFF;
	font-weight: bold;
	padding: 3px;
}
.cart_milieu {
	color: #FFF;
	font-weight: bold;
	padding: 3px;
}
