body{ background:url(header-home.jpg) no-repeat 50% 0; }

	#header
	{	
		height:408px;
	}
	
		#header .header-top-link
		{
			left:auto;
			right:0;
			z-index:500;
		}
		
		#logo 
		{
			top:17px;
			left:280px;
		}
		
		#carte
		{
			width:295px;
			height:330px;
			position:absolute;
			right:-4px;
			top:87px;
			z-index:300;
		}
		
		#headline
		{
			position:absolute;
			top:245px;
			width:624px;
			height:106px;
			margin-left:16px;
		}
			
			#lien-malvoyantsW {
				float:left;
				width:70px;
				margin-right:12px;
			}
			
				#lien-malvoyantsW a {
					display:block;
					background:url(mal-voyants-accueil.png) no-repeat;
					behavior: url(http://www.synersud.com/fileadmin/templates/css/fileadmin/templates/css/iepngfix.htc);
					text-align:center;
					padding-top:60px;
					width:65px;
					height:60px;
					color:#555;
					font-size:10px;
					font-style:italic;
					text-decoration:none;
				}
				
				#lien-malvoyantsW a:hover {
					text-decoration:underline;
				}
				
			#enattendant
			{
				float:left;
				width:70px;
				margin-right:12px;
				height:120px;
			}
			
			#headline .actus 
			{
				width:500px;
				padding-top:6px;
				float:left;
				color:#e3001b;
			}
				#actus
				{
					position:relative;
					width:500px;
					height:95px;
					overflow:hidden;
				}
					#actusWrapper {width:1500px;}
					#actus .actu
					{
						width:500px;
						height:95px;
						float:left;
					}
			
			
	#menu
	{
		top:344px;
		/top:351px;
		width:638px;
	}
	
	#main
	{
		margin:32px 0 0 4px;
		_margin:32px 0 0 0px;
		background:url(principal-tranche.jpg) repeat-y 50% 0;
	}

		#ts1
		{
			
		}
		
		#content
		{
			float:left;
			width:640px;
		}
		
		#ts2
		{
			
		}
		
	#right
	{	
		padding-top:18px;
		float:left;
		width:296px;
		min-height:200px;
		padding-bottom:18px;
	}
	
/*
	PLUS
*/
	
#header .tx-macinasearchbox-pi1
{
	top:201px;
}


/*
Module Edito
*/

#edito 
{
	background-color:#E2E3E5;
	position:relative;
	float:left;
	width:551px;
	margin-left:30px;
	padding-left:64px;
	margin-bottom:24px;
}

	#edito h1
	{
		position:absolute;
		top:18px;
		/top:-2px;
		/padding-top:20px;
		/height:40px;
		z-index:10;
		right:4px;
		font-size:48px;
		color:#fff;
		font-weight:bold;
		
	}

	#edito .image {
		text-align:center;
		background:url(ombre.jpg) no-repeat;
		behavior: url(http://www.synersud.com/fileadmin/templates/css/fileadmin/templates/css/iepngfix.htc);
		width:143px;
		height:168px;
		float:left;
	}
	
	#edito .presentation 
	{
		background:url(edito-back.jpg) repeat-y;
		width:384px;
		padding:56px 12px 12px 12px;
		height:87px;
		float:left;
		position:relative;
	}
	
		#edito .presentation p
		{
			text-align:left;
		}
	
		#edito .presentation h3
		{
			font-size:14px;
			color:#333;
			font-weight:bold;
		}
		
		#edito .presentation p
		{
			font-size:18px;
			color:#fff;
			font-style:italic;
			font-weight:bold;
			width:66%;
			position:absolute;
			bottom:0;
		}
	
	#edito .texte
	{
		padding:12px;
		margin-left:16px;
		background:url(edito-texte.jpg) repeat-x;
		min-height:240px;
	}
	
	#bibi
	{
		text-indent:-9999px;	
	}