#menu ul
{
	text-align:left;
	
}
#menu ul, #menu ul li
{
	margin:0;
	padding:0;
	list-style-type: none !important;
	list-style-image: none !important;
	display:block;
}
#menu ul li
{
	display:block;
	position:relative;
	float:left;
	background:none;
	padding-right:2px;
	
}

#menu ul li.sep {
	background:url(http://www.synersud.com/fileadmin/templates/images/menu-sep.png) no-repeat;
	behavior: url(http://www.synersud.com/fileadmin/templates/css/fileadmin/templates/css/iepngfix.htc);
	margin-top:-5px;
	/margin-top:-12px;
	width:4px;
	height:56px;
	text-indent:-9999px;
}

#menu ul li a
{
	outline:none;
	display:block;
	background:none;
	font-size:12px;
	height:57px;
	font-weight:bold;
	text-decoration:none;
	letter-spacing:120%;
	padding:0 3px;
	margin-left:7px;
	margin-right:7px;
	line-height:44px;
	color:#333;
	/margin-top:-8px;
	float:left;
	behavior: url(http://www.synersud.com/fileadmin/templates/css/fileadmin/templates/css/iepngfix.htc);
}
	#menu ul li a strong
	{
		display:block;
		font-size:10px; 
		font-weight:normal; 
		line-height:8px;
	}

/* HOVER */
#menu ul li a:hover, #menu ul:hover li:hover a, #menu ul li.active a
{
	background:url(http://www.synersud.com/fileadmin/templates/images/menu-underline.png) repeat-x 0 -6px ;
	_background:none;
	_color:#E3011C;
}

#menu ul li.exp a:hover, #menu ul:hover li.exp:hover a
{
}

#menu ul li.active a:hover, #menu ul li.active a
{
}

#menu ul li:hover, #menu ul li.active
{
	background:url(http://www.synersud.com/fileadmin/templates/images/menu-hover.png) no-repeat 50% -4px ;
	/background:url(http://www.synersud.com/fileadmin/templates/images/menu-hover.png) no-repeat 50% -8px ;
	_background:none;
}

#menu ul li.sep:hover {
	background:url(http://www.synersud.com/fileadmin/templates/images/menu-sep.png) no-repeat;
	_background:none;
}

/* ACTIVE */
#menu ul li.active
{
	color:#ffffff;
}
#menu ul li.active a
{
}
	#menu ul li.active a strong
	{
	}

/* 
	------------------------------------------
	SOUS MENUS 
	------------------------------------------
*/
#menu ul li ul
{
	position : absolute;
	margin-left:-3px;
	color:#fff;
	top : 44px;
	z-index:200;
	width:186px;
	/width:220px;
	display:none;
	background:#C0C1C5 url(http://www.synersud.com/fileadmin/templates/images/menu-sous-menu.gif) no-repeat 0 100%;
	padding:4px 0;
	/padding-top:8px;
	margin-top:8px;
	/margin-top:1px;
}
	#menu ul li ul
	{
	}
#menu ul li:hover ul, #menu ul li.over ul
{
	left:0;
	display:block;
}
	#menu ul li ul li, #menu ul li:hover ul li, #menu ul li.over ul li
	{
		float:none;
		display:block;
		width:auto;
		margin:1px 3px;
		padding-bottom:2px;
		background: none;
		/padding:3px 0;
	}
	/* a links sous menus */
	#menu ul li.exp ul li a, #menu ul li.exp:hover ul li a, #menu ul li.over ul li a,
	#menu ul li.exp ul li.active a, #menu ul:hover li.exp:hover ul li a
	{
		color:#333;
		width:auto;
		padding:3px;
		width:auto;
		height:auto;
		background:none;
		font-size:12px;
		line-height:14px;
		font-weight:normal;
		float:none;
	}
	#menu ul:hover li:hover ul li a:hover, #menu ul li.active li a:hover, #menu ul li.exp li a:hover, #menu ul li.exp ul li.active a, #menu ul:hover li.exp:hover ul li.active a
	{
		color:#FFF;
	}
	#menu ul li ul li.active a:hover, #menu ul li ul li.active a
	{
		background:none;
		color:#;
	}
	#menu li.gotoHome, #menu li.gotoHome:hover
	{
		width:60px;
		height:85px;
		margin-right:10px;
		padding-top:10px;
		padding-left:10px;
		
	}
		#menu li.gotoHome a, #menu li.gotoHome a:hover
		{
			width:55px;
			height:60px;
			text-indent:-9999em;
			overflow:hidden;
			padding:0 !important;
		}
		#menu li.gotoHome a:hover
		{
			background-position: 0 0;
		}
		





#menu ul li ul li.sep {
	display:none;
}