/*
|	WordPress 2.6 Plugin: WP-PageNavi 2.40			|
|	Copyright (c) 2008 Lester "GaMerZ" Chan			|
|								|
|	File Written By:					|
|	- Lester "GaMerZ" Chan					|
|	- http://lesterchan.net					|
|								|
|	File Information:					|
|	- Page Navigation CSS Style				|
|	- wp-content/plugins/wp-pagenavi/pagenavi-css.css	|
|								|
+----------------------------------------------------------------+
*/
.wp-pagenavi a, .wp-pagenavi a:link {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #cccccc;
	color: #999999;
	background-color: #FFFFFF;	
}
.wp-pagenavi a:visited {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #cccccc;
	color: #999999;
	background-color: #FFFFFF;	
}
.wp-pagenavi a:hover {	
	border: 1px solid #333333;
	color: #333333;
	background-color: #FFFFFF;
}
.wp-pagenavi a:active {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #333333;
	color: #333333;
	background-color: #FFFFFF;	
}
.wp-pagenavi span.pages {
	padding: 2px 4px 2px 0px; 
	margin: 2px 2px 2px 0px;
	color: #666666;
	/*border: 1px solid #000000;*/
	background-color: #FFFFFF;
}
.wp-pagenavi span.current {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	font-weight: bold;
	border: 1px solid #333333;
	color: #333333;
	background-color: #DDDDDD;
}
.wp-pagenavi span.extend {
	padding: 2px 4px 2px 4px; 
	margin: 2px;	
	/*border: 1px solid #000000;*/
	color: #999999;
	background-color: #FFFFFF;
}
.wp-pagenavi {
clear: both;
margin: 20px 0px;
}