﻿/*
Theme Name: Sine Hebdo
Theme URI: http://www.sinehebdo.eu/
Description: Le thème du blog Sine Hebdo, basé sur le fameux thème <a href="http://binarybonsai.com/kubrick/">Kubrick</a>.
Version: 1.0
Author: Nicolas Got
Author URI: http://www.iconovox.com/

*/

body {
font-family: Arial, Sans-Serif;
font-size: 62.5%;
text-align: center;
background: #fff;
color: #333;
}
#page {
background-color: #ffffff;
text-align: left;
}
#header {
background-image: url(header_bg.png);
/*background: #ffffff url(images/header_bg.png) no-repeat top center;*/
}
/*#headerimg {
margin: 7px 9px 0;
height: 192px;
width: 740px;
}*/
#content {
font-size: 1.3em;
}
.widecolumn .entry p {
font-size: 1.05em;
}
.narrowcolumn .entry, .widecolumn .entry {
line-height: 1.4em;
margin-top: 0.5em;
margin-bottom: 0.5em;
}
.widecolumn {
line-height: 1.6em;
}
.narrowcolumn .postmetadata {
text-align: center;
}

.alt {
background-color: #f8f8f8;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}
#footer {
/*background: #eee url('images/kubrickfooter.jpg') no-repeat top;*/
border: none;
}
small {
font-family: Arial, Helvetica, Sans-Serif;
font-size: 0.9em;
line-height: 1.5em;
}
h1, h2, h3 {
font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
font-weight: bold;
}
h1 {
font-size: 4em;
text-align: center;
}
#header h1, #headerimg .description {
position: absolute;
left: -5000px;
top: -5000px;
text-indent: -5000px;
}
h2 {
font-size: 1.6em;
}
h2.pagetitle {
font-size: 3em;
}
#sidebar h2 {
font-family: 'Lucida Grande', Verdana, Sans-Serif;
font-size: 1.6em;
color: #E3006C;
}
h3 {
font-size: 1.3em;
}
h1, h1 a, h1 a:hover, h1 a:visited, #headerimg .description {
text-decoration: none;
color: white;
}
h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
color: #017290;
}
h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #sidebar h2, #wp-calendar caption, cite {
text-decoration: none;
}
.narrowcolumn .post > h2, .narrowcolumn .post > h3, .narrowcolumn .post .video > h3 {
border-bottom: 1px solid #ddd;
padding-bottom: 0.1em;
}

.middlecolumn h2 {
clear: both;
margin: 30px 0px 5px 0px;
background: #fff url(title_bar.gif) no-repeat top left ;
/*height: 32px;*/
color: #fff;
font-size: 1.6em;
line-height: 1.6;
/*padding-left: 5px;*/
padding: 0px 5px 5px 5px;
font-weight: bold;
}
* html .middlecolumn h2 {
margin: 10px 0px 5px 0px;
}

.middlecolumn h3 {
clear:both;
color: #E3006C;
}
/*.entry p a:visited {
color: #b85b5a;
}*/
.video {
height: 100px;
}
.couv {
width: 152px;
height: 280px;
margin: 10px 5px 0 0;
/*background: #fdf;*/
}
.couv h3 {
font-size: 1.2em;
padding: 0;
margin: 0.5em 0 0.2em 0;
}
.couv img {
border: 1px solid #333;
}
.couv .unavailable {
color: #999;
font-weight: bold;
}
.couv .price {
color: #E3006C;
font-weight: bold;
}
.couv .basket {
background: #fff url(add.gif) no-repeat top left ;
padding: 3px 0px 0px 20px;
}
.commentlist li, #commentform input, #commentform textarea {
font: 0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif;
}
.commentlist li {
font-weight: bold;
}
.commentlist cite, .commentlist cite a {
font-weight: bold;
font-style: normal;
font-size: 1.1em;
}
.commentlist p {
font-weight: normal;
line-height: 1.5em;
text-transform: none;
}
#commentform p {
font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}
.commentmetadata {
font-weight: normal;
}
#sidebar {
font: 1.1em 'Lucida Grande', Verdana, Arial, Sans-Serif;
}
#sidebar_right, #sidebar_left {
font-size: 1.2em;
}
#footer .nav {
color: #017290;
}
small, #sidebar ul ul li, #sidebar ul ol li, .nocomments, .postmetadata, blockquote, strike {
color: #777;
}
.on {
font-weight: bold;
}
code {
font: 1.1em 'Courier New', Courier, Fixed;
}
acronym, abbr, span.caps {
font-size: 0.9em;
letter-spacing: .07em;
}
a, a:visited {
color: #017290;
text-decoration: none;
}
h2 a:hover, h3 a:hover {
color: #E3006C;
text-decoration: none;
}
a:hover {
color: #E3006C;
text-decoration: underline;
}
#wp-calendar #prev a, #wp-calendar #next a {
font-size: 9pt;
}
#wp-calendar a {
text-decoration: none;
}
#wp-calendar caption {
font: bold 1.3em 'Lucida Grande', Verdana, Arial, Sans-Serif;
text-align: center;
}
#wp-calendar th {
font-style: normal;
text-transform: capitalize;
}

/* Barre Navigation
********************/
#navbar {
display: block;
float: left;
margin: 5px 20px;
padding: 0;
background-image: url(header_nav.gif);
height: 35px;
width: 800px;
}
#nav {
font-size: 14px;
font-weight: bold;
/*background: #555;*/
}
#nav, #nav ul {
list-style: none;
float: left;
line-height: 1.5;
padding: 5px 0 0 0;
margin: 0;
width: 590px;
}
#nav a, #nav a:hover {
display: block;
text-decoration: none;
border: none;
background-color: #017290;
}
#nav li {
float: left;
list-style: none;
}
#nav a, #nav a:visited {
display: block;
color: #fff;
padding: 2px 10px 2px 10px;
}
#nav a:hover, #nav a:active {
background: #E3006C;
text-decoration: none;
}
#navbar #searchform {
float: right;
text-align: right;
margin: 0;
padding: 8px 6px 0 6px;
}

/* End Typography & Colors */

/* Begin Structure
*******************/
body {
margin: 0 0 20px 0;
padding: 0;
}
#page {
background-color: #ffffff;
margin: 30px auto;
padding: 0;
width: 840px;
/*border: 1px solid #959596;*/
}
#header {
background-color: #ffffff;
margin: 0 20px 0 20px;
padding: 0;
height: 130px;
width: 800px;
}
* html #header {
margin: 0 20px 0 35px;
}
/*#headerimg {
margin: 0;
height: 10px;
width: 100%;
}*/
.narrowcolumn {
float: right;
padding: 0 0 20px 0;
margin: 10px 20px 0px 0px;
width: 570px;
}
.widecolumn {
float: right;
padding: 0px 0px 20px 0;
margin: 10px 20px 0px 20px;
width: 800px;
}
.middlecolumn {
float: right;
padding: 0 0 20px 0;
margin: 10px 20px 0px 0px;
width: 338px;
}
* html .narrowcolumn, * html .widecolumn, * html .middlecolumn {
margin: 10px 0px 0px 0px;
}
* html .middlecolumn {
padding: 10px 0px 0px 0px;
}

.post {
clear: both;
margin: 0 0 40px;
text-align: left;
}
* html .post {
margin: 0 0 25px;
}
.post hr {
display: block;
}
.widecolumn .post {
margin: 0;
}
.narrowcolumn .postmetadata {
padding-top: 5px;
}
.widecolumn .postmetadata {
margin: 30px 0;
}
.widecolumn .smallattachment {
text-align: center;
float: left;
width: 128px;
margin: 5px 5px 5px 0px;
}
.widecolumn .attachment {
text-align: center;
margin: 5px 0px;
}
.postmetadata {
clear: both; 
}
.clear { 
clear: both; 
}
#footer {
padding: 0;
margin: 0 auto;
width: 800px;
clear: both;
}
#footer p, #footer .nav {
margin: 0;
padding: 10px 0;
text-align: center;
}
/* End Structure */

/* Begin Headers
*****************/
h1 {
padding-top: 70px;
margin: 0;
}
h2 {
margin: 30px 0 0;
}
h2.pagetitle {
margin: 30px 0px;
text-align: center;
}
#sidebar h2 {
margin: 15px 0 0;
padding: 0;
}
h3 {
padding: 0;
margin: 30px 0 0;
}
.middlecolumn h3 {
margin: 10px 0 0;
}

/*.video h3 {
margin: 0;
}*/
h3.comments {
padding: 0;
margin: 40px auto 20px;
}
/* End Headers */

/* Begin Images
****************/
p img {
padding: 0;
max-width: 100%;
}
/*	Using 'class="alignright"' on an image will (who would've
thought?!) align the image to the right. And using 'class="centered',
will of course center the image. This is much better than using
align="center", being much more futureproof (and valid) */
img.centered {
display: block;
margin-left: auto;
margin-right: auto;
}
img.alignright {
padding: 4px;
margin: 0 0 2px 7px;
display: inline;
}
img.alignleft {
padding: 4px;
margin: 0 7px 2px 0;
display: inline;
}
.alignright {
float: right;
text-align: right;
margin-left: 7px;
}
.alignleft {
float: left;
text-align: left;
margin-right: 7px;
}
/* End Images */

/* Begin Lists
***************/

Special stylized non-IE bullets
Do not work in Internet Explorer, which merely default to normal bullets. */
html > body .entry ul {
margin-left: 0px;
padding: 0 0 0 30px;
list-style: none;
padding-left: 10px;
text-indent: -10px;
}
html > body .entry li {
margin: 7px 0 8px 10px;
}
.entry ul li:before, #sidebar ul ul li ul li:before {
content: "\00BB \0020";
}
.entry ol {
padding: 0 0 0 35px;
margin: 0;
}
.entry ol li {
margin: 0;
padding: 0;
}
.postmetadata ul, .postmetadata li {
display: inline;
list-style-type: none;
list-style-image: none;
}
#sidebar ul, #sidebar ul ol {
margin: 0;
padding: 0;
}
#sidebar ul li {
list-style-type: none;
list-style-image: none;
margin-bottom: 15px;
margin-left: 5px;
}
#sidebar ul p, #sidebar ul select {
margin: 5px 0 8px;
}
#sidebar ul ul, #sidebar ul ol {
margin: 5px 0 0 10px;
}
#sidebar ul ul ul, #sidebar ul ol {
margin: 0 0 0 10px;
}
ol li, #sidebar ul ol li {
list-style: decimal outside;
}
#sidebar ul ul li, #sidebar ul ol li {
margin: 3px 0 0;
padding: 0;
}
#sidebar ul ul li {
padding-bottom: 0.1em;
}
/* End Entry Lists */
/* Begin Form Elements */
/*#searchform {
margin: 10px auto;
padding: 5px 3px;
text-align: center;
}*/
#searchform input {
border: 1px solid #005577;
color:#666;
}
#searchform  #s {
font-size:95%;
}
#searchform  #searchsubmit {
padding: 1px;
font-size:90%;
}

#sidebar #searchform #s {
width: 108px;
padding: 2px;
}
#sidebar #searchsubmit {
padding: 1px;
}
.entry form {
/* This is mainly for password protected posts, makes them look better. */
text-align: center;
}
select {
width: 130px;
}
#commentform input {
width: 170px;
padding: 2px;
margin: 5px 5px 1px 0;
}
#commentform textarea {
width: 100%;
padding: 2px;
}
#commentform #submit {
margin: 0;
float: right;
}
/* End Form Elements */

/* Begin Comments
******************/
.alt {
margin: 0;
padding: 10px;
}
.commentlist {
padding: 0;
text-align: justify;
}
.commentlist li {
margin: 15px 0 3px;
padding: 5px 10px 3px;
list-style: none;
}
.commentlist li .avatar {
float: right;
border: 1px solid #eee;
padding: 2px;
background: #fff;
}
.commentlist p {
margin: 10px 5px 10px 0;
}
#commentform p {
margin: 5px 0;
}
.nocomments {
text-align: center;
margin: 0;
padding: 0;
}
.commentmetadata {
margin: 0;
display: block;
}
/* End Comments */

/* Begin Sidebar 
******************/
#sidebar, #sidebar_left, #sidebar_right {
padding: 10px 0 20px 0;
margin: 10px 0 20px 20px;
/*margin-left: 545px;*/
float: left;
width: 210px;
}
#sidebar form {
margin: 0;
}
#sidebar, #sidebar_left {
background-color: #eeeeee;
}
#sidebar_left, #sidebar_right {
width: 212px;
padding-top: 0px;
}
#sidebar_left {
padding-left:4px;
padding-right: 4px;
}
#sidebar_right {
float: right;
margin: 10px 18px 20px 0px;
}
* html #sidebar, * html #sidebar_left {
padding: 20px 0 30px 0;
}
* html #sidebar_right {
padding: 20px 0 30px 0;
margin: 10px 0px 20px 20px;
}
/* End Sidebar */

/* Begin Calendar
******************/
#wp-calendar {
empty-cells: show;
margin: 10px auto 0;
width: 155px;
}
#wp-calendar #next a {
padding-right: 10px;
text-align: right;
}
#wp-calendar #prev a {
padding-left: 10px;
text-align: left;
}
#wp-calendar a {
display: block;
}
#wp-calendar caption {
text-align: center;
width: 100%;
}
#wp-calendar td {
padding: 3px 0;
text-align: center;
}
#wp-calendar td.pad:hover {
/* Doesn't work in IE */
background-color: #fff;
}
/* End Calendar */
/* Begin Various Tags & Classes */
acronym, abbr, span.caps {
cursor: help;
}
acronym, abbr {
border-bottom: 1px dashed #999;
}
blockquote {
margin: 15px 30px 0 10px;
padding-left: 20px;
border-left: 5px solid #ddd;
}
blockquote cite {
margin: 5px 0 0;
display: block;
}
.center {
text-align: center;
}
.hidden { 
display: none; 
}
hr {
display: none;
}
a img {
border: none;
}
.navigation {
display: block;
text-align: center;
margin-top: 10px;
margin-bottom: 20px;
padding: 0px;
height: 30px;
}
.navside {
display: block;
width: 270px;
}
.feed {
/*display: block;*/
/*float: left;*/
font-size: 1.1em;
padding: 4px 0 4px 26px;
min-height: 25px;
background: url('feed.png') no-repeat 0 0px;
}
.twitter {
font-size: 1.1em;
font-weight : bold;
padding: 4px 0 4px 26px;
min-height: 25px;
background: url('twitter.png') no-repeat 0 0px;
}
.facebook {
font-size: 1.1em;
font-weight : bold;
padding: 4px 0 4px 26px;
min-height: 25px;
background: url('facebook.png') no-repeat 0 0px;
}
/* End Various Tags & Classes*/

/* Captions
************/
.aligncenter,
div.aligncenter {
display: block;
margin-left: auto;
margin-right: auto;
}
.wp-caption {
border: 1px solid #ddd;
text-align: center;
background-color: #f3f3f3;
padding-top: 4px;
margin: 10px;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}
.wp-caption img {
margin: 0;
padding: 0;
border: 0 none;
}
.wp-caption p.wp-caption-text {
font-size: 11px;
line-height: 17px;
padding: 0 4px 5px;
margin: 0;
}
/* End captions */

/* "Daisy, Daisy, give me your answer do. I'm half crazy all for the love of you.
It won't be a stylish marriage, I can't afford a carriage.
But you'll look sweet upon the seat of a bicycle built for two." */

/*.middlecolumn, .narrowcolumn, .widecolumn, #sidebar_right {
background: #ffeeff;
}*/
.num {
text-align: right;
padding-left: 25px;
}
a.button, a.button:visited, a.redbutton, a.redbutton:visited {
text-decoration: none;
text-weight: bold;
font-size: 1.1em;
color: #fff;
background: #017290;
border: 1px solid #017290;
padding: 2px 10px 2px 10px;
margin: 0px 2px;
}
a.button:hover, a.button:active, a.redbutton:hover, a.redbutton:active {
color: #fff;
border-color: #E3006C;
background: #E3006C;
text-decoration: none;
}
a.redbutton, a.redbutton:visited {
background: #E3006C;
border: 1px solid #E3006C;
}
a.redbutton:hover, a.redbutton:active {
border-color: #017290;
background: #017290;
}
#sidebar #divBasket li {
color: #333;
}

/*
 * Post - Pages
 */
.wp-postnavi span.page{
	font-weight: bold;
}
.wp-postnavi span.page{
	padding: 14px 25px 14px 20px;
	margin: 2px;
	font-size: 1.2em;
	font-weight: bold;
	color: #fff;
	border: 1px solid #ccc;
	background-color: #FFFFFF;
	background-image: url(play-red.png);
	background-position: center center;
}
.wp-postnavi a, .wp-postnavi a:link, .wp-postnavi a:visited, .wp-postnavi a:hover, .wp-postnavi a:active {
	text-decoration: none;
}

.wp-postnavi a  span.page, .wp-postnavi a:link  span.page, .wp-postnavi a:visited  span.page {
	text-decoration: none;
	color: #fff;
	background-image: url(play-blue.png);
}
.wp-postnavi a:hover span.page, .wp-postnavi a:active span.page {	
	border: 1px solid #E3006C;
	text-decoration: none;
	color: #fff;
	background-color: #FFFFFF;
	background-image: url(play-red.png);
}
.wp-postnavi span.pages {
	padding: 2px 4px 2px 0px; 
	margin: 2px 2px 2px 0px;
	color: #666666;
	/*border: 1px solid #000000;*/
	background-color: #FFFFFF;
}
.wp-postnavi {
clear: both;
margin: 30px 0px;
}