.breaker
{
	height : 0px;
} 

#header.internal {
	height : 104px;
	position : relative; 
}

#header.internal span {
	width : 338px;
	position : absolute;
	bottom : 9px;
	padding : 0 0 0 4px;
	line-height : 48px;
}

#TB_ajaxContent #debug {
	display : none;
}

/* Galerie d'image sans thickbox */

#contenu_centre .popupgal_image{
  	margin:20px 75px;
	width:623px;

}
#contenu_centre .popupgal_image h3{
  font-size:163%;
  color:#5669aa;
  margin:-14px 0 6px 36px;
  position:relative;
}

#contenu_centre .popupgal_image .liste_image{
	width:533px;
	margin:0 0 0 35px;	
}

#contenu_centre .popupgal_image .liste{
	background-color:#fdfdfd;
	border:solid 1px #d8d8d8;
	padding:12px 0px 10px 14px;
	margin:0 0 6px 0;	
}

#contenu_centre .popupgal_image .liste li{
	float:left;
	padding:0px 15px 0px 0px;
}

#contenu_centre .popupgal_image li.last{
	padding:0px 0px 0px 0px;
}

#contenu_centre .popupgal_image .pagination2 {
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	margin:0px auto 8px auto;
	position:relative;
	color:#304899;
	width:533px;
}

#contenu_centre .dossiers .contenu_dossiers h3 {
	font-size:163%;
	font-weight:bold;
}

#contenu_centre .popupgal_image .pagination2 a{
	font-size:100%;
}

#contenu_centre .popupgal_image .pagination2 a.last {
	position:absolute;
	left:0px;
	float:left;
	text-align:left;
	display:block;
}

#contenu_centre .popupgal_image .pagination2 a.next{
	float:none;
	position:absolute;
	right:0px;	
}

#contenu_centre .popupgal_image .pagination2 div a{
	font-size:91%;
	padding:0 4px;
}

#contenu_centre .popupgal_image .pagination2 div .encour{
	background-color:#304899;
	color:#fff;
}

#contenu_centre .popupgal_image .pagination2 div{
	margin:auto;
}

#contenu_centre .popupgal_image .visuel{
	background-color:#fdfdfd;
	border:solid 1px #d8d8d8;
	width:595px;
	padding:18px 0px 18px 0px;
	margin:0 0 16px 0;
}

#contenu_centre .popupgal_image .bloc_visuel .date{
	padding:0 0 5px 38px;
	display:block;
}

#contenu_centre .popupgal_image .bloc_visuel .date span{
	color:#9d2c1a;
	padding:0 0 0 0;
	font-weight:bold;
}

#contenu_centre .popupgal_image .bloc_visuel .num{
	float:right;
	padding:0 55px 0 0px;
	display:block;
}

#contenu_centre .popupgal_image .bloc_visuel p{
	padding:0 0px 8px 38px;
	font-size:110%;
	font-family:Arial, Helvetica, sans-serif;
}

#contenu_centre .popupgal_image .bloc_visuel .separateur{
	background:url(separateur3.png) no-repeat ;
	height:1px;
	padding:0 0 8px 0;
	zoom:1;
	overflow:hidden;
}

#contenu_centre .popupgal_image .bloc_visuel .credit{
	float:right;
	padding:0 55px 0 0px;
	font-size:91%;
}

.contenu_bloc .liste_lien {
	border-top:1px solid #CCCCCC;
	padding:16px 0 0 5px;
	margin : 0px;
}


.liste_image .liste .top.pagination {
  display : none;
}

.liste_image .liste .bottom.pagination {
	padding: 0px;
	margin : 0px;
	border : none;
	background : none;
}

#contenu_centre .popupgal_image .liste {
	width : 100%;
	background-color : transparent;
	margin : 0px;
	padding : 0px;
	border : none;	
}

#TB_ajaxContent .popupgal_image .liste {
	width : 100%;
	background-color : transparent;
	margin : 0px;
	padding : 0px;
	border : none;	
}

#TB_ajaxContent .popupgal_image .liste .thumbs {
	background-color:#FDFDFD;
	border:1px solid #D8D8D8;
	margin:0 0 6px;
	padding:12px 0 10px 14px;
}


#contenu_centre .popupgal_image .liste .thumbs {
	background-color:#FDFDFD;
	border:1px solid #D8D8D8;
	margin:0 0 6px;
	padding:12px 0 10px 14px;
}

TB_ajaxContent .visuel {
	background-color:#FDFDFD;
	border:1px solid #D8D8D8;
	margin:0 0 16px;
	padding:18px 0 18px 0;
	width:595px;
}

 .popupgal_image .visuel {
 	text-align : center;
 }
 
 
#TB_ajaxContent .popupgal_image .pagination2 {
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	margin:0px auto 8px auto;
	position:relative;
	color:#304899;
	width:533px;
}

.actualites_principale .visuel {
	height:380px;
	position:relative;
	width:380px;
}

.actualites_principale .visuel {
	height : auto;	
}

.actualites_principale .visuel .texte {
	background:transparent url(repeat_ombre2_bleu_blanc.png) repeat-y scroll 0 0;
	bottom:0;
	color:#000;
	height:auto;
	left:0;
	min-height:54px;
	padding:20px 5px 0;
	position:absolute;
	width:368px;
	top : auto;
}

.actualites_principale .visuel .texte {
	width:370px;
}


#TB_window {
	position : absolute;
}

#TB_ajaxContent .tools {
	position:absolute;
	right:90px;
	top: 3px;
}

.tools li {
	float : right;
	padding : 3px 5px;
}

.tools a {
	text-decoration : underline;
}

#TB_ajaxContent .bloc_visuel p {
	padding : 0 70px 8px 38px;
	
}

#TB_load{
  position: fixed;
  display:none;
  height:13px;
  width:208px;
  z-index:103;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}


/* Alignement object TinyMCE */
.content-view-embed .class-image .attribute-caption {
	color:#3D3D3D;
	font-size:91%;
	font-style:italic;
}

div .object-right {
	float : right;
	padding : 0px 0px 5px 18px;
}

div .object-left {
	float : left;
	padding : 0px 18px 5px 0px;
}

div .object-center .attribute-image {
	text-align : center;
	
}

.object-center .content-view-embed .class-image .attribute-caption {
	margin : auto;
	padding : 0px 0px 5px 0px;
	text-align : center;
}

.object-right .content-view-embed .class-image .attribute-caption {
	text-align : right;	
}

.object-left .content-view-embed .class-image .attribute-caption {
	text-align : left;	
}

/* Formulaire prévenir un ami (popup) */


.content-tipafriend {
	min-width : 330px;
	margin : 0px 20px;	
}

#popup .content-tipafriend {	
	margin-left : 150px;
}

.content-tipafriend .block {
	text-align : left;
	clear : none;
	margin : 10px 50px;
}

.content-tipafriend h1 {
	font-size:163%;
	color:#304899;
	font-weight:bold;
	text-align : left;
	margin: 0px 20px;
	padding : 10px 0 0;
	border-bottom : 1px solid #304899;
}

.content-tipafriend form .block label {
	width : 100%;
	text-align : left;
	font-weight : bold;
	margin : 5px 0;
	display:block;
}

.content-tipafriend form .block input[type=text] {
	width : 300px;
	border : solid 1px;
}

.content-tipafriend form .block input[type=text].half-box {
    width : 70px;
    border : solid 1px;
}

.content-tipafriend form .block textarea {
	width : 300px;
	height : 150px;
	border : solid 1px;
}

.content-tipafriend .buttonblock{
	width : 300px;
	text-align : right;
	padding : 10px 0px;
	font-weight : bold;
	font-size : 110%;
	cursor : pointer;
	margin : 10px 50px;
}

.content-tipafriend .buttonblock input {
	padding : 3px 10px;
	border : 1px solid #666666;
}

.content-tipafriend div.error {
	width:270px;
    background-color:#ffcece;
    border:1px solid #ff0000;
    padding:15px;
    margin:20px 0 20px 50px;
}

.content-tipafriend div.error ul {
	list-style:none;
	padding:8px 0 0 5px;
}

.content-tipafriend div.error ul li {
    list-style:none;
    padding:0 0 3px 15px;
    background:url(error.gif) 0px 3px no-repeat;
}

.content-tipafriend .security {
    width:270px;
    background-color:#E2E2E2;
    border:1px solid #AEAEAE;
    padding:15px;
    margin:20px 0 20px 50px;
}

.content-tipafriend .security h3 {
	color:#304899;
	font-size:130%;
	font-weight:bold;
	padding:0 0 10px 0;
}

.content-tipafriend .security p {
    font-size:90%;
    font-style:italic;
}

.content-tipafriend .security .reponse_captcha {
    text-align:center;	
}

.content-tipafriend .security .reponse_captcha input {
    margin:0 0 0 20px;
}

#col_gauche_popup {
	width : 112px;
	height : 1300px;
	background : #304899 none repeat scroll 0 0;
	float : left;
}

.content-tipafriend div.message-warning, div.warning {
	width : 266px;
}

.online_editor .link.pdf p {
	padding:0 0 8px;
}

.online_editor .link.pdf p a {
	background:transparent url(picto_pdf.png.1) no-repeat scroll left center;
	font-weight:bold;
	padding:2px 0 1px 20px;
	position:relative;
} 

.online_editor .chapo {
	clear: both;
	margin-top : 10px;
	font-weight: bold;	
}

/* Mise en forme des listes dans la zone de contenu */

.online_editor ul {
	padding:5px 0 13px 10px;
	list-style:disc;
	list-style-position:inside;
}

.online_editor ol {
    padding:5px 0 5px 10px;
    list-style: decimal;
    list-style-position:inside;
}

.online_editor li {
    padding:0 0 0 5px;
}

.les_communiques .bloc {
	padding:11px 5px 5px;
}


#debug {
	margin-left: 255px;
}


/* Insite Editing Style */
div#ezwt-help a {
	color:#4A5054;
	display:block;
	font-weight:normal;
	padding:4px 2px;
	text-decoration:none;
}

.break {
	clear : both;
}

.insite-editing {
	margin : 0px 10px;
}

.insite-editing h1 {
	text-align : left;
	font-weight: bold;
	color : #003399;
	border-bottom : 1px solid #003399;
	margin: 0px 20px;
	font-size : 130%;
	padding : 0px 10px;
}

.insite-editing p {
	margin: 10px 20px;
	padding : 0px 10px;
}

.insite-editing .list {
	/*width : 704px;*/
	margin : 0px 20px;
	border-left :solid 1px #304899;
	border-right :solid 1px #304899; 
}

.insite-editing th {
	border-bottom : 1px solid #CCC;
	font-weight: bold;
}

.insite-editing .list td,th {
	padding : 5px;
}

.insite-editing .list td a {
	text-decoration: underline;
}


.insite-editing th.tight, td.tight {
	width : 1%;
}

.insite-editing.list .bgdark {
	background-color: #F4F4EC;
}

.insite-editing input[type=submit] {
	margin : 3px 10px 3px 0px;
	padding : 3px 8px;
	cursor : pointer;
	border : 1px solid #999;
	color : #000000;
	background : transparent url(ezwt-mc.gif.1) repeat-x scroll right center
}

.insite-editing input[type=button] {
	margin : 3px 10px 3px 0px;
	padding : 3px 8px;
	cursor : pointer;
	border : 1px solid #999;
	color : #000;
	background : transparent url(ezwt-mc.gif.1) repeat-x scroll right center
}

.insite-editing input[type=text] {
	border : 1px solid #999;
	padding : 2px;
}

.insite-editing input[type=password] {
	border : 1px solid #999;
	padding : 2px;
}

.insite-editing textarea {
	border : 1px solid #AAAAAA;	
}

.insite-editing select {
	border : thick medium;
	margin : 3px 0px 3px 0px; 
}

.insite-editing .feedback {
	margin : 20px 40px 20px 20px; 
	padding : 20px;
	border : 5px solid #006600; 
}

.insite-editing .feedback h2 {
	font-weight :  bold;
}


.insite-editing .message-warning {
	margin : 20px 40px 20px 20px; 
	padding : 20px;
	border : 5px solid #CC0000;
	width : auto;
}

.insite-editing .message-warning h2  {
	font-weight :  bold;
}

.insite-editing .message-warning ul {
	margin : 5px 45px;
	list-style-type : disc;	
} 

.insite-editing .warning {
	margin : 20px 40px 20px 20px; 
	padding : 20px;
	border : 5px solid #CC0000;
	width : auto;
}

.insite-editing .warning h2  {
	font-weight :  bold;
}

.insite-editing .warning ul {
	margin : 5px 20px;
	list-style-type : disc;	
} 

.insite-editing .buttonblock {
	border-top : solid 1px #E8E8E8;
	text-align :right;
	margin : 15px 20px 0px 20px;
}

.insite-editing.user-login .block {
	margin : 15px 20px;
}

.insite-editing.user-login .block label{
	float :left;
	width : 100px;
	padding : 3px 0px;
	font-weight: bold;
}


.insite-editing.user-login .block.bo-access label{
	float : none;
	width : auto;
	padding : 3px 0px;
	margin : 2px;
	font-weight: normal;
}

.insite-editing.user-login .buttonblock {
	border-top : solid 1px #E8E8E8;
	text-align :right;
	margin : 15px 40px 0px 20px;
}

.insite-editing.content-edit-draft h2 {
	font-weight: bold;
	background-color : #304899;
	color : #FFFFFF;
	margin : 3px 20px 0px 20px;
	font-size : 100%;
	padding : 3px;
}

.insite-editing.content-edit-draft .button-bar {
	margin : 0px 20px;
	background-color : #304899;
	text-align :right;
	padding : 5px 10px;
}

.insite-editing.content-browse .context-title {
	font-weight: bold;
	background-color : #304899;
	color : #FFFFFF;
	margin : 3px 20px 0px 20px;
	font-size : 100%;
	padding : 3px;
}

.insite-editing.content-browse  .pagination {
	margin : 0px 20px;
	padding : 10px 30px;
	border-left :solid 1px #304899;
	border-right :solid 1px #304899;
}

.insite-editing.content-browse .button-bar {
	margin : 0px 20px;
	background-color : #304899;
	text-align :right;
	padding : 5px 10px;
}

.insite-editing.content-browse .view_choice {
    position:absolute;
    margin:4px 0 0 630px;
}

.insite-editing.content-browse .view_choice p {
    padding:0;
    margin:0;
}

.insite-editing.content-browse .view_choice p span {
    color:#ffffff;
    text-decoration:underline;
}

.insite-editing.content-browse .view_choice p a {
    color:#cecece;
    text-decoration:none;
}

.insite-editing.content-browse .view_choice p a:hover {
    color:#ffffff;
    text-decoration:underline;
}

.insite-editing.content-edit .block {
	margin : 10px 40px 10px 20px;
	padding : 5px;
	border : 1px solid #EAEAEA;
	background-color : #FCFCFC;
}

.insite-editing.content-edit .block label {
	display : block;
	font-weight: bold;
	margin-bottom : 8px;
}

.insite-editing.content-edit .block legend {
	display : block;
	font-weight: bold;
	margin-bottom : 8px;	
}

.insite-editing.content-edit .block .block {
	border :none;
	padding : 0;
	margin : 0px;
}

.insite-editing.content-edit .block table {
	border : 1px solid #AAA;
	margin : 0px;
}

.insite-editing.content-edit .block table th{
	min-width : 100px;
	font-weight: bold;
	padding : 3px;
	background-color : #AAAAAA;
	color : #FFFFFF;
}

.insite-editing.content-edit .block table td{
	padding : 3px;
}

.insite-editing.content-edit .block table.datalist tr.bgdark td {
	background-color :  #E8E8F4;
}

.insite-editing.content-edit .block table.datalist tr.bglight td {
    background-color :  #F2F2F4;
}

.insite-editing.content-edit .buttonblock {
	margin : 0px 30px 0px 0px; 
	text-align : right;
}

.insite-editing.content-edit .block .date {
	float : left;	
}

.insite-editing.content-edit .block input[type=button] {
	margin:3px 10px 3px 0;
	padding: 3px 8px;
}


.insite-editing.content-edit .block .date input[type=button] {
	margin:24px 10px 3px 0;
	padding:2px 8px;
}

.insite-editing.content-edit .block .element {
	float : left;
	margin-right : 15px;
}

.insite-editing.content-edit .block .element label {
	font-weight : normal;
	margin : 10px 0px 2px 0px;
}


.insite-editing.content-history .attribute-header h1 {
	font-weight: bold;
	background-color : #304899;
	color : #FFFFFF;
	margin : 3px 20px 0px 20px;
	font-size : 100%;
	padding : 3px;
}

.insite-editing.content-history .block.context-controls {
font-weight: bold;
	background-color : #304899;
	color : #FFFFFF;
	margin : 0px 20px 0px 20px;
	font-size : 100%;
	padding : 3px;
}

.insite-editing.content-history .block.context-controls .left {
	float : left;	
}

.insite-editing.content-history .block.context-controls .left {
	float : right;	
}

.insite-editing.content-history .list {
	border-bottom : 1px solid #304899;
}

.insite-editing.content-history #diffview {
	margin : 0px 20px;	
} 

.insite-editing.content-history #diffview .context-toolbar {
	float : right;
}

.insite-editing.content-history #diffview .context-toolbar .block {
	margin : 0px 0px 10px 0px;
}

.insite-editing.content-history #diffview .context-toolbar li{
	float : left;
	padding : 0px 5px;
}

.insite-editing.content-history #diffview .block {
	clear : both;
	margin : 10px 10px;
	border : 1px solid #EAEAEA;
	background-color : #FCFCFC;
}

.insite-editing.content-history #diffview .block label{
	display:block;
	margin : 2px 10px;
	font-weight: bold; 
}

.insite-editing.content-history #diffview .block .block {
	border : none;	
}


/* Insite editing - vignettes */

.insite-editing table.list-thumbnails
{
    width: 100%;
    background-color: #ffffff;
}

.insite-editing table.list-thumbnails td
{
    border: 4px solid #ffffff;
    padding: 0.5em;
    vertical-align: middle;
    background-color: #f8f8f8;
    height: 150px;
    text-align: center;
}

.insite-editing table.list-thumbnails td img {
    margin:0 0 10px 0;	
}

.image-wrapper {
	display: block;
}

.actu_videos .bloc_video.solo {
	width : 756px;
}

.actu_videos .bloc_video.solo div.wrapper {
	width : 424px;
	margin : 0px auto;
}

.actu_videos .bloc_video #equivalent {
	margin-top : 10px;
}

.last_article li li a.selected {
    background-color:#E3E3E3;
    font-weight:bold;
    text-decoration:none;
}

.right_col.discours .contenu_zone_media {
	padding : 0px;
	background : none;
}

.right_col.discours .contenu_zone_media .item_block.videos
{
	width : 100%;
}

.right_col.discours  .doc_associes {
	margin-bottom : 15px;
}

.right_col.discours .contenu_zone_media .item_block.videos .titre h2 {
	font-size:181%;
	padding:7px 0 0 6px;
	margin : 0px;
}

/* Correction pied bloc agenda j+7 */
.item_block.agenda .contenu {
	background-color:#ECECEC !important;
}

.item_block.agenda .contenu .pied {
	clear:both;
    display:block;
    width:100%;
    text-align:right;
    background:#FFFFFF url(separateur.png) no-repeat scroll 0% 0% !important;
    padding:8px 0 0;
}

.item_block.agenda .contenu .pied .lien {
   float:none;
   display:block;
}

/* Centrage image chrgmt ajax */
.agenda .ajaxloading {
    text-align:center;
    background-color:#FFF;
}

.agenda .bloc_calendrier .ajaxloading img {
    margin:75px auto;
}

.agenda .evenement .ajaxloading img {
    margin:85px auto;
}

/* Supp. padding-bottom : 0016642 */
.zoom ul {
    padding:5px 0px 0px;
}

.page_agenda .online_editor .breaker.alone {
	padding:0px 0pt 9px;
}

/*Fix pagination video */
.actu_videos .liste_bloc .separateur {
	border-top : 1px dotted #999999;
}

/* Fix chapo des communiques span->div
   MCC 0006754 */
.communique_fullpage .online_editor .chapo {
    font-size:100%;
    margin:0pt;
}
.communique_fullpage .online_editor .chapo p {
	padding:0px 0pt 19px;
}

/* Mise en forme du sitemap */

.content-view-sitemap {
	
}

.content-view-sitemap .block-sitemap {
	width:49%;
	float:left;
} 

.content-view-sitemap .block-sitemap h2 {
	color:#243D8C;
	font-size:190%;
	font-weight:bold;
}

.content-view-sitemap .block-sitemap ul {
	padding:0 0 0 25px;
	margin:10px 0 0 0;
	color:#243D8C;
}

.content-view-sitemap .block-sitemap ul li {
	list-style-type:disc;
	font-size:120%;
}

/* Mise en forme des pages erreur */

div.warning_error {
	background-color:#E2E2E2;
	border:1px solid #AEAEAE;
	padding:15px;
	width:80%;
	margin:20px auto;
}

div.warning_error h2 {
    color:#243D8C;
    font-size:190%;
    font-weight:bold;
    margin:0 0 15px 0;
}

div.warning_error ul {
	list-style:disc;
	padding:0 0 0 20px;
}

div.warning_error ul li {
    padding:0 0 0 8px;
}

.content-view-sitemap .champs_recherche{
    margin:7px auto;
    width:336px;
}

.content-view-sitemap .champs_recherche input{
    width:310px;
    height:17px;
    font-size:100%;
    color:#243D8C;
    padding:5px 0 0 4px;
    border:1px solid #a29e9e;
    border-right:none;
    float:left;
}

.content-view-sitemap .champs_recherche input.bt{
    background:url(btn_rech.png) no-repeat ;
    width:21px;
    height:24px;
    border:none;
    cursor:pointer;
}

.popupgal_image ul.thumbs li.selected img{
  border:2px solid #ec2142; 
}

