/* CSS Document */
.hide , caption{
	display: none;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.breaker{
	clear: both;
	height: 1px;
	overflow: hidden;
}
#page {
	width: 1005px;
	float:left;
	text-align: left;
}
/*****************************************************************************************************************************
***************************************** col gauche *************************************************************************
******************************************************************************************************************************/
#conteneur {
    background: url(bg_left_actu.gif) repeat-y top left;	
}

.presse #conteneur , .communiques #conteneur {
    background: url(bg_left_presse.gif) repeat-y top left;
}

.la_une #conteneur {
	background: url(bg_left_actu.gif) repeat-y top left;
}

#col_gauche {
	width:222px;
	float:left;
}

#col_gauche .left_col{
	width:110px;
	float:left;
	background:#e3e3e3 ;
	text-align:right;
	padding:0px 0 0 0;
}

#col_gauche .left_col img{
	padding:5px 5px 9px 0;
}
#col_gauche .left_col ul{
	padding:0 0 0 0;
}
#col_gauche .left_col li{
	font-weight: bold;
	padding:0 0 0 0;
}
#col_gauche .left_col li a{
	/*text-decoration: none;*/
	color: #003399; 
	display:block;
	padding:4px 10px 4px 5px;
	text-decoration:none;
}
#col_gauche .left_col li a:hover {
    color: #ffcc00;
}
#col_gauche .left_col li.encour {
    background:#9eabd7 url(puce2.png) no-repeat scroll 5px 9px;
}
#col_gauche .left_col li.encour a {
    color: #fff;
}
#col_gauche .left_col li a.rubactu:hover {
	color: #ffcc00;
}
#col_gauche .left_col li a.rubthem:hover {
	color:#006666;
}
#col_gauche .left_col li a.rubcult:hover {
	color:#339900;
}
#col_gauche .left_col li a.rubmin:hover {
	color: #CC0066;
}
#col_gauche .left_col li a.rubreg:hover {
	color: #33ccff;
}
#col_gauche .left_col li a.rubeve:hover {
	color: #FF6600;
}
#col_gauche .left_col li a.rubase:hover {
	color: #99cc00;
}
#col_gauche .left_col li a.rubrech:hover {
	color:#CC0000;
}
#col_gauche .left_col li a.rubstat:hover {
	color: #9933FF;
}
#col_gauche .left_col li a.rubinfo:hover {
	color:#FF66CC;
}
#col_gauche .left_col li a.rubplan:hover {
	color:#003399;
}
#col_gauche .left_col .langue {
	float:right;
	margin:0 4px 8px 0;
}
#col_gauche .left_col .langue li{
	font-size:91%;
	float:left;
	font-weight: normal;
	padding:0 3px 0px 0;
	color:#003399;
}
#col_gauche .left_col .langue li a{
    padding:0;	
}
#col_gauche .left_col .langue li a:hover{
}
#col_gauche .right_col{
	width:112px;
	float:left;
	background:#304899 ;
	padding:0px 0px 0 0;
}
#col_gauche .right_col img{
	float:right;
	margin:0 7px 0 0;
}
/*****************************************************************************************************************************
******************************************* centre ***************************************************************************
******************************************************************************************************************************/
#centre {
	float:left;
	width:765px;
	padding:0 0px 0 15px;
}
/*****************************************************************************************************************************
******************************************* HEADER ***************************************************************************
******************************************************************************************************************************/
#header {
	
}
/*****************************************************************************************************************************
******************************************* FOOTER ***************************************************************************
******************************************************************************************************************************/
#footer {
	border-top:solid 1px #939aa9;	
	text-align:center;
	padding-top:8px;
	padding-bottom:20px;
	width:756px;
	float:right;
	margin:-40px 15px 0 0;
	_margin:-40px 5px 0 0;
	

}
#footer li{
	text-align:center;
	display:inline;
	color:#003399;
	padding:0 8px 0 0;
}
#footer li a{
	color:#003399;
	text-decoration:none;
}
#footer li a:hover{
	text-decoration:underline;
}
/*****************************************************************************************************************************
******************************************* PAGE HOMES ***************************************************************************
******************************************************************************************************************************/
#contenu_centre {
	padding:15px 0 60px 0;
}
#contenu_centre .left_col{
	float:left;
	width:394px;
	margin:0 15px 10px 0;
}
#contenu_centre .left_col a:hover{
	text-decoration:underline;
}
.actualites_principale{
	margin:0px 0 14px 0;
}
.actualites_principale span.date{
	display:block;
	padding:0px 0 3px 0;
}
.actualites_principale span.date span{
	color:#9d2c1a;
	font-weight:bold;
}
.actualites_principale h3{
	font-size:272%;
	color:#243d8c;
	padding:0px 0 0px 0;
}
.actualites_principale h3 a{
	color:#243d8c;
	text-decoration:none;
}

.actualites_principale .visuel {
	position:relative;
	height:288px;
	width:379px;
}
.actualites_principale .visuel .texte{
	position:absolute;
	background:url(repeat_ombre2_bleu_blanc.png) repeat-y;
	top:210px;
	left:0;
	min-height:54px;
	height:auto;
	padding:20px 5px 0 5px;
	color:#000;
	width:368px;
}
.actualites_principale .visuel .texte p{
	font-size:110%;
	padding-bottom:0px;
}
.actualites_principale .visuel span.chapo{
	font-size:91%;
	float:right;
	padding:0px 0 0px 0;
	font-style:italic;
}
.lien_play a{
	background:url(icone_play.png) no-repeat left;
	padding:0 0 0 16px;
	display:block;
	float:left;
	margin:10px 76px 0 0;
	color:#003399;
	text-decoration:none;
}
.zone_actualites .separateur{
	background:url(separateur.png) no-repeat ;
	height:1px;
	padding:0 0 15px 0;
	zoom:1;
	overflow:hidden;
}
.actualites_secondaire{
	margin:0px 0 14px 0;
}
.actualites_secondaire span.date, .actualites_tertiaire span.date{
	display:block;
	padding:0px 0 7px 0;
}
.actualites_secondaire span.date span, .actualites_tertiaire span.date span{
	color:#9d2c1a;
	font-weight:bold;
}
.actualites_secondaire h3{
	margin:0px 0 12px 0;
}
.actualite_secondaire_ra h3{
	color:#243d8c;
}

.actualites_secondaire h3, .actualites_tertiaire h3{
	font-size:218%;
	padding:0px 0 0 0;
}
.actualites_secondaire h3 a, .actualites_tertiaire h3 a{
	color:#243d8c;
	text-decoration:none;
}
.actualites_secondaire .visuel{
	float:right;
	width:144px;
	margin:0 12px 0px 7px;
}
.actualites_secondaire .visuel span{
	font-size:91%;
	font-style:italic;
	color:#959595;
	padding-top:3px;
	display:block;
}
.actualites_secondaire p, .actualites_tertiaire p{
	font-size:110%;
	margin:0px 0 0 0;
}
.actualites_tertiaire p{
	margin:10px 0 12px 0;
}
.actualites span.date{
	display:block;
	padding:0px 0 1px 0;
}
.actualites span.date span{
	color:#9d2c1a;
	font-weight:bold;
}
.actualites {
	padding:0 0 13px 0;
}
.actualites h3{
	font-size:163%;
}
.actualites h3 a{
	color:#243d8c;
	text-decoration:none;
}
.actualites img{
	float:left;
	margin:0 8px 0 0;
}
.lien_actu {
	float:right;
	color:#243d8c;
	font-size:110%;
	text-decoration:none;
	font-weight:bold;
	margin:-8px 4px 8px 0;
}

#contenu_centre .right_col{
	float:left;
	width:355px;
	margin-bottom:10px ;
}
.zone_media{
}
.top_zone_media{
	background:url(top_media.gif) no-repeat ;
	height:10px;
	overflow:hidden;
}
.bas_zone_media{
	background:url(bas_media.gif) no-repeat ;
	height:10px;
}
.contenu_zone_media{
	background:url(repeat_media.gif) repeat-y ;
	padding:2px 8px 0 10px;
	overflow:hidden;
}
.champs_recherche{
	margin:0 0 7px 0;
}
.contenu_zone_media .champs_recherche input{
	width:310px;
	height:17px;
	font-size:100%;
	color:#000;
	padding:5px 0 0 4px;
	border:1px solid #a29e9e;
	border-right:none;
	float:left;
}
.contenu_zone_media .champs_recherche input.bt{
	background:url(btn_rech.png) no-repeat ;
	width:21px;
	height:24px;
	border:none;
	cursor:pointer;
}
.contenu_zone_media .item_block {
	width:335px;
	margin:0 0 10px 0;
}
.contenu_zone_media .liste_communiques .titre{
	background:url(titre_communiques.gif) no-repeat ;
	height:44px;
}
.contenu_zone_media .item_block .titre a{
	float:right;
	padding:13px 5px 0 24px;
	width:51px;
	text-decoration:none;
	background:url(separ.png) no-repeat left 3px;
	height:40px;
}
.contenu_zone_media .item_block .titre a span{
	padding:0px 4px 0 0;
	display:block;
	font-size:91%;
	color:#fff;
	float:left;
}
.contenu_zone_media .item_block .titre h2{
	padding:16px 0 0 24px;
	font-size:127%;
	color:#fff;
	margin:0px 0 0 8px;
}
.contenu_zone_media .liste_communiques .titre h2{
	background:url(puce.gif) no-repeat left 19px;
}
.contenu_zone_media .item_block .contenu{
	border:solid 1px #d0d0d0;
	background-color:#fff;
	padding:7px 8px 0 8px;
}
.liste_communiques .contenu h3{
	font-size:110%;
	font-weight:bold;
	margin:0px 0 10px 2px;
}
.liste_communiques .contenu li .fich_pdf{
	position:absolute;
	float:right;
	margin:0 0 0 240px;
}

.liste_communiques .contenu li .fich_pdf span{
	padding:0px 2px 0 0;
	
}

.liste_communiques .contenu li .fich_pdf img{
	vertical-align:middle;
}

.liste_communiques .contenu li{
	background:url(puce1.png) no-repeat left 3px;
	padding:0px 0 0 11px;
	margin:0px 0 5px 0;
	clear:both;
}

.liste_communiques .contenu li .fake{
	display:block;
	width:300px;
}

.liste_communiques .contenu li .txt{
	width:226px;
	display:block;
	margin:0;
	padding:0;
}
.item_block .contenu .separateur{
	background:url(separateur.png) no-repeat ;
	height:1px;
	padding:0 0 8px 0;
	zoom:1;
	overflow:hidden;
	margin-top:2px;
}
.item_block .contenu .lien{
	font-weight:bold;
	float:right;
	padding:0px 0 6px 0px;
	display:block;
}
.contenu_zone_media .pub{
	margin:0px 0 10px 0;
	text-align:center;
}
.contenu_zone_media .publications .titre{
	background:url(titre_publications.gif) no-repeat ;
	height:36px;
}
.contenu_zone_media .publications .titre h2, .contenu_zone_media .agenda .titre h2,
.contenu_zone_media .videos .titre h2, .contenu_zone_media .photos .titre h2{
	padding:11px 0 0 0px;
	margin:0px 0 0 16px;
}
.contenu_zone_media .publications .titre a, .contenu_zone_media .agenda .titre a,
.contenu_zone_media .videos .titre a, .contenu_zone_media .photos .titre a{
	padding:8px 5px 0 24px;
	background:url(separ2.png) no-repeat left 1px;
	height:34px;
}
.contenu_zone_media .publications .contenu .visuel{
	float:right;
	width:64px;
	margin:0 16px 0 20px;
	text-align:center;
}
.contenu_zone_media .publications .contenu h3{
	font-size:181%;
	padding:0 0 1px 4px;
}
.contenu_zone_media .publications .contenu p{
	padding:0 0 0px 4px;
}
.publications .contenu .separateur{
	margin-top:10px;
}
.contenu_zone_media .agenda .titre{
	background:url(titre_agenda.gif) no-repeat ;
	height:37px;
}
.contenu_zone_media .agenda .titre a{
	background:url(separ2.png) no-repeat left 2px;
}
.contenu_zone_media .agenda .contenu{
	border:solid 1px #d0d0d0;
	background-color:#fff;
	padding:0px 0px 0 0px;
}
.bloc_calendrier {
	width:170px;
	float:left;
	padding:8px 0 0 0;
	background-color:#fff;
	margin:0 9px 2px 0;
}
.bloc_calendrier .entete p {
	font-weight: bold;
	text-align: center;
	padding:3px 0 0 0;
}
.bloc_calendrier .entete p a{
	color: #333;	
}
.suiv_mois {
	float: right;
	margin-right: 6px;
}
.preced_mois {
	float: left;
	margin-left: 6px;
}
.bloc_calendrier .calendrier{
	padding: 10px 5px 10px 5px;
}
.bloc_calendrier .calendrier table{
	text-align: center;
}
.bloc_calendrier .calendrier table th{
	text-align: center;
	font-weight: bold;
	padding: 9px 0 9px 0;
	font-size:100%;
}
.bloc_calendrier .calendrier table th a{
	color: #343434;
}
.bloc_calendrier .calendrier table tr.jours th{
	border:solid 1px #bdbcbd;
	border-width:1px 0;
}
.bloc_calendrier .calendrier table td{
	padding: 2px 0 0 0;
	font-size:91%;
}
.bloc_calendrier .calendrier table td a, 
.bloc_calendrier .calendrier table td span {
	color: #343434;
	width:16px;
	height:15px;
	padding-top:1px;
	display:block;
}
.bloc_calendrier .calendrier table td a.event_j{
	background:url(event_j.png) no-repeat;
	color: white;
}
.bloc_calendrier .calendrier table td a.event_in{
	background:url(event_in.png) no-repeat;
	color: white;
}
.bloc_calendrier .calendrier table td span.noevent_j{
    background:url(noevent_j.png) no-repeat;
}
.agenda .evenement {
	padding:0px 0 0 0px;
	background-color:#ececec;
}
.agenda .evenement p{
	padding:8px 5px 8px 8px;
	border-bottom:1px solid #fff;
	line-height:16px;
}
.agenda .evenement p span{
	font-weight:bold;
	color:#9d2c1a;
}
.agenda .contenu .separateur{
	margin-top:-1px;
}
.agenda .contenu .lien{
	margin-right:10px;
}
.contenu_zone_media .videos .titre{
	background:url(titre_video.gif) no-repeat ;
	height:36px;
}
.contenu_zone_media .videos .contenu{
	padding:7px 8px 0 12px;
}
.contenu_zone_media .videos .video{
	padding:0px 0px 6px 0px;
}
.contenu_zone_media .videos .contenu h3{
	font-size:181%;
	padding:0px 0px 2px 0px;
}
.contenu_zone_media .videos .contenu p{
	padding:0px 12px 2px 0px;
}
.contenu_zone_media .photos .titre{
	background:url(titre_photo.gif) no-repeat ;
	height:36px;
}
.contenu_zone_media .photos .visuel{
	float:right;
	margin:0 0 0 10px;
}
.contenu_zone_media .photos .contenu h3{
	font-size:181%;
	padding:0px 0px 2px 0px;
}
.contenu_zone_media .photos .img{
	font-weight:bold;
	display:block;
	padding:0px 0px 2px 0px;
}
.zone_dossier {
	margin:0px 0px 10px 0px;
}
.zone_dossier .titre{
	background:url(titre_dossier.gif) no-repeat ;
	height:43px;
}
.zone_dossier .titre h2{
	padding:8px 0 0 8px;
	font-size:218%;
	color:#fff;
}
.zone_dossier .contenu{
	padding:10px 8px 8px 10px;
	background-color:#e3e3e3;
	border:solid 1px #d0d0d0;
}
.zone_dossier .contenu .bloc{
	float:left;
	width:360px;
	margin:0px 20px 25px 0px;
}
.zone_dossier .contenu .right{
	margin:0px 0px 25px 0px;
}
.zone_dossier .contenu .visuel{
	margin:0px 7px 0px 0px;
	float:left;
}
.zone_dossier .contenu .bloc h3{
	font-size:110%;
	font-weight:bold;
	margin:0px 0px 11px 0px;
}
.zone_dossier .contenu .lien{
	text-align:right;
	float:right;
	font-weight:bold;
	padding:6px 8px 6px 0px;
	background-color:#f1f1f1;
	width:738px;
}
.zone_site {
	margin:0px 0px 10px 0px;
}
.zone_site .titre{
	background:url(titre_site.gif) no-repeat ;
	height:45px;
}
.zone_site .titre h2{
	padding:8px 0 0 8px;
	font-size:218%;
	color:#304899;
}
.zone_site .contenu{
	padding:10px 0px 0px 0px;
	border:solid 1px #d0d0d0;
	zoom:1;
}
.zone_site .contenu .bloc{
	float:left;
	text-align:center;
	margin:0px 20px 10px 30px;
}
.zone_site .contenu img{
	/* display:block;
	text-align:center; */
	margin:0px auto 14px auto;
}
.zone_site .contenu .lien{
	text-align:right;
	float:right;
	font-weight:bold;
	padding:7px 8px 7px 0px;
	background-color:#e2e2e2;
	width:755px;
	margin-bottom:-1px;
}
/*****************************************************************************************************************************
******************************************* PAGES INTERNES *******************************************************************
*****************************************************************************************************************************/
/********************************************************************************
*****************************	 dossier	 ************************************
********************************************************************************/
/*******************************************************
******************** col gauche ************************
*******************************************************/
#col_gauche .right_col ul{
	padding:124px 0 0 0px;
}
#col_gauche .right_col li{
	margin:0 0 5px 0;
}
#col_gauche .right_col li a{
	color:#fff;
	display:block;
	padding:4px 0 4px 5px;
	text-decoration:none;
}
#col_gauche .right_col li a:hover{
	background-color:#596dad;
}
#col_gauche .right_col li.encour{
	font-weight:bold;
	background:#596dad url(puce2.png) no-repeat 5px 9px;
	padding:0 0 0 8px;
}
/*******************************************************
*********************** header *************************
*******************************************************/
.dossier #header {
	background: url(bordure.png) no-repeat bottom;
	padding-bottom:2px;
}
.dossier #header span{
	display:block;
	font-size:436%;
	color:#243d8c;
	padding:40px 0 0 4px;
}
.dossier #header img{
	/*float:right;*/
	position:absolute;
	right:0;
}
/*******************************************************
*********************** centre *************************
*******************************************************/
.dossier #centre {
	width:777px;
	padding:0 0px 0 4px;
}
.dossier #contenu_centre .left_col{
	width:420px;
	margin:0 2px 0 0;
}
.dossier #contenu_centre .one_col{
	width:680px;
	margin:0 2px 0 0;
}
.online_editor{
	margin:0px 0 14px 0;
	padding:0 3px 0 0;
}
.online_editor span.date{
	display:block;
	padding:0px 0 6px 0;
}
.online_editor span.date span{
	color:#9d2c1a;
	font-weight:bold;
}
.online_editor h1{
	font-size:218%;
	color:#243d8c;
	padding:0px 0 9px 0;
}
.online_editor h1 a{
	color:#243d8c;
	text-decoration:none;
}
.online_editor .visuel {
	margin:0px 0 5px 0;
	width:415px;
}
.online_editor .visuel span{
	font-size:91%;
	font-style:italic;
	color:#3d3d3d;
}
.online_editor p{
	font-size:110%;
	padding:0px 0 13px 0;
	color:#000;
}
.online_editor p .color{
	color:#243d8c;
}
.online_editor h2{
	font-size:118%;
	font-weight:bold;
}
.online_editor table{
	width:100%;
	margin:0 0 18px 0;
}
.online_editor table th{
	padding:8px 0 8px 11px;
	border:solid 1px #fff;
	background-color:#e2e2e2;
	font-weight:bold;
}
.online_editor table th.ligne{
	background-color:#d6d6d6;
	font-weight:normal;
}
.online_editor table td{
	text-align:center;
	background-color:#f2f2f2;
	border:solid 1px #fff;
}
.sous_article {
	background: url(separateur2.png) repeat-x bottom left;
}
.sous_article .online_editor .titre{
	background:#e3e3e3 url(bg_titre.png) no-repeat ;
	margin:0 0px 10px 0;
}
.sous_article .online_editor .titre h2{
	font-size:218%;
	font-weight:normal;
	color:#243d8c;
	padding:2px 0 3px 5px;
	background: url(bg_bas_titre.png) no-repeat bottom left;
}
.sous_article .online_editor p{
	font-size:100%;
	padding:0px 8px 18px 3px;
}


.contenu_zone_media .doc .titre, .contenu_zone_media .liens .titre{
	background:url(titre_doc.gif) no-repeat ;
	height:36px;
}
.contenu_zone_media .doc .titre h2, .contenu_zone_media .liens .titre h2{
	padding:11px 0 0 0px;
	margin:0px 0 0 16px;
}

.contenu_zone_media .doc .contenu{
	border:solid 1px #d0d0d0;
	background-color:#f5f5f5;
	padding:0px 0px 0 0px;
}
.doc .contenu h3{
	font-size:110%;
	font-weight:bold;
	margin:0px 0 3px 2px;
}
.doc .contenu li{
	background:url(puce1.png) no-repeat left 3px;
	padding:0px 0 0 11px;
	margin:0px 0 3px 0;
	clear:both;
}

.doc .contenu li.selected a {
    font-weight:bold;
}

.contenu_zone_media .doc .contenu div{
	padding:7px 8px 8px 8px;
}
.contenu_zone_media .doc .contenu .fond{
	background-color:#fff;
}
.contenu_zone_media .liens .contenu{
	padding:12px 8px 0px 12px;
}
.contenu_zone_media .liens .titre{
	background:url(titre_liens.gif) no-repeat ;
}
.liens .contenu li{
	background:url(puce1.png) no-repeat left 3px;
	padding:0px 0 0 11px;
	margin:0px 0 14px 0;
	clear:both;
}
/********************************************************************************
**************************	 espace_presse	 ************************************
********************************************************************************/
/*******************************************************
******************** col gauche ************************
*******************************************************/
.presse #col_gauche .right_col, .communiques #col_gauche .right_col{
	background:#61317c ;
}
.presse #col_gauche .right_col li a:hover, .communiques #col_gauche .right_col li a:hover{
	background-color:#815a96;
}
.presse #col_gauche .right_col li.encour, .communiques #col_gauche .right_col li.encour{
	background:#815a96 url(puce2.png) no-repeat 5px 9px;
}
/*******************************************************
*********************** header *************************
*******************************************************/
.presse #header, .communiques #header {
	background: url(bordure_presse.png) no-repeat bottom;
}
.presse #header span, .communiques #header span{
	color:#322248;
	padding:0px 0 0 4px;
	line-height:48px;
}
/*******************************************************
*********************** centre *************************
*******************************************************/
.presse #centre{
	width:777px;
	padding:0 0px 0 4px;
}

.presse #contenu_centre .left_col{
	width:414px;
	padding:0 6px 0 0px;
	margin:0 2px 0 0;
}
#contenu_centre .left_col .item_block {
	/*width:335px;*/
	margin:0 0 8px 0;
}
#contenu_centre .left_col .item_block .titre a{
	float:right;
	padding:8px 0px 0 0px;
	text-decoration:none;
}
#contenu_centre .left_col .item_block .titre h2{
	padding:0px 0 5px 0px;
	font-size:272%;
	margin:0px 0 5px 0px;
	background: url(separateur2.png) repeat-x bottom;
}
#contenu_centre .left_col .item_block .contenu{
	padding:0px 8px 0 5px;
}
.last_communiques .contenu h3{
	font-size:110%;
	font-weight:bold;
	margin:0px 0 8px 2px;
}
.last_communiques .contenu li .fich_pdf{
	float:right;
	margin-left:30px;
}
.last_communiques .contenu li .fich_pdf span{
	padding:0px 2px 0 0;
	float:left;
}
.last_communiques .contenu li .fich_pdf img{
	margin-top:-4px;
	position:relative;
}
.last_communiques .contenu li{
	background:url(puce1.png) no-repeat left 3px;
	padding:0px 0 0 11px;
	margin:0px 0 10px 2px;
	clear:both;
}
#contenu_centre .left_col .item_block .contenu .separateur{
	background:url(separateur2.png) no-repeat ;
	height:1px;
	padding:0 0 8px 0;
	zoom:1;
	overflow:hidden;
	margin-top:2px;
}
#contenu_centre .left_col .item_block .contenu .lien{
	border:1px solid #d0d0d0;
	background-color:#e2e2e2;
	font-weight:bold;
	text-align:right;
	padding:9px 6px 9px 0px;
	display:block;
	width:98%;
}
#contenu_centre .left_col .dossiers_presse .contenu{
	padding:0px 0px 0 3px;
}

.dossiers_presse .contenu .liste{
	padding:3px 7px 13px 6px;
	background:url(separateur2.png) no-repeat bottom;
}
.dossiers_presse .contenu .last{
	background:none;
}
.dossiers_presse .contenu .pyjama{
	background-color:#f1f1f1;
}
.dossiers_presse .contenu .fich_pdf{
	float:right;
	margin-left:30px;
	margin-top:4px;
}
.dossiers_presse .contenu h3{
	font-weight:bold;
}
.dossiers_presse .contenu .fich_pdf{
	float:right;
	margin-left:30px;
}
.dossiers_presse .contenu .fich_pdf span{
	padding:0px 2px 0 0;
	float:left;
}
.dossiers_presse .contenu .fich_pdf img{
	margin-top:-4px;
	position:relative;
}
.dossiers_presse .contenu .visuel{
	float:left;
	margin:3px 6px 0 0;
}
.derniers_discours .contenu .liste{
	padding:7px 7px 4px 6px;
}
.derniers_discours .video_play {
	position:relative;
	float:right;	
}
.derniers_discours .video_play  a {
	position:absolute;
	top:8px;
	left:16px;
}
.derniers_discours .video_play  a img.player {
	width:33px;
	height:33px;
	background:url(img_player.png) no-repeat top left; 
	z-index:+99999;
}
.contact_presse {
	width:326px;
	height:126px;
	background:url(contact_presse.png) no-repeat; 
	padding:6px 0 0px 9px;
	margin-bottom:10px;
}
.contact_presse .bloc{
	width:184px;
	color:#fff;
}
.contact_presse h2{
	font-size:218%;
	padding:0px 0 3px 0px;
}
.contact_presse .descrip{
	padding:0px 0 18px 0px;
	display:block;
}
.contact_presse .tel{
	font-size:127%;
	display:block;
}
.contact_presse a{
	font-size:127%;
	color:#fff;
}
/********************************************************************************
**************************	 communiques	 ************************************
********************************************************************************/
/*******************************************************
*********************** centre *************************
*******************************************************/
.communiques #centre {
	width:771px;
	padding:0 0px 0 10px;
}
.communiques #contenu_centre .left_col{
	padding:0 0px 0 0px;
	margin:0 6px 0 0;
}
.les_communiques .bloc{
	background:url(separateur2.png) repeat-x ;
	padding:11px 0px 5px 0px;
}
.les_communiques .bloc .visuel{	
	float:left;
	width:110px;
	margin:2px 7px 2px 0;
	padding-bottom:3px;
}
.les_communiques .bloc .date{	
	display:block;
	padding:0 0px 3px 0px;
}
.les_communiques .bloc .date span{	
	font-weight:bold;
	color:#68280b;
}
.les_communiques .bloc h3{	
	font-weight:bold;
	font-size:163%;
	padding:0 0px 4px 0px;
}
.les_communiques .bloc p{	
	padding:0 0px 6px 0px;
}
.les_communiques .bloc .link p{
	padding:0 0 8px 0;
}
.les_communiques .bloc .link a{
	background:url(picto_pdf.png.1) no-repeat left ;
	padding:2px 0px 1px 20px; 
	position:relative;
	font-weight:bold;
}
.communiques #contenu_centre .right_col,
.page_agenda_bis #contenu_centre .right_col
{
	width:227px;
	padding:0 0px 0 0px;
	margin:0 0 0 0;
}
.archives{}
.top_archives{
	background:url(top_archives.png) no-repeat ;
	height:5px;
	overflow:hidden;
}
.bas_archives{
	background:url(bas_archives.png) no-repeat ;
	height:5px;
}
.contenu_archives{
	background-color:#e3e3e3;
	padding:3px 8px 10px 12px;
	overflow:hidden;
}
.contenu_archives h2{
	font-size:181%;
	padding:0 0px 4px 0px;
}
.top_bloc{
	background:url(top_bloc.png) no-repeat ;
	height:4px;
	overflow:hidden;
}
.bas_bloc{
	background:url(bas_bloc.png) no-repeat ;
	height:4px;
}
.contenu_bloc{
	background:url(repeat_bloc.png) repeat-y;
	padding:4px 13px 0 10px;
	overflow:hidden;
}
.contenu_bloc .lien{
	background:url(puce3.png) no-repeat left;
	padding:1px 0px 1px 20px;
	float:right;
	font-weight:bold;
	display:block;
	margin:0 0 3px 0;
}
.last_article li {
	background:url(bg_year.png) no-repeat ;
}
.last_article li.open {
	background:url(bg_year_.png) no-repeat ;
}
.last_article li li.open  {
	background:none ;
}
.last_article  li ul{
	display:none;
}
.last_article  li.open ul{
	display:block;
}
.last_article li.open .year, .last_article li .year{
	padding:6px 5px 0px 5px;
	width:175px;
	height:21px;
	display:block;
	font-size:127%;
	color:#000;
	font-weight:bold;
	text-decoration:none;
}
.last_article li .year{
	color:#fff;
	text-decoration:none;
}
.last_article ul{
	background-color:#f4f4f4 ;
	padding:6px 0px 6px 0px;
	border:1px solid #cccccc;
	border-width:0 1px;
}
.last_article li li{
	background:url(separateur2.png) no-repeat bottom;
}
.last_article li li span{
	background:url(puce1.png) no-repeat left;
	padding:0px 0px 0px 13px;
	margin:0 0 0 5px;
}
.last_article li li a{
	padding:3px 0px 3px 0px;
	display:block;
	color:#fff;
}
.last_article li li a{
	color:#243d8c;
}
.last_article li li a:hover{
	font-weight:bold;
	background-color:#e3e3e3;
	text-decoration:none;
}
.contenu_bloc .liste_lien {
	margin:16px 0 0 5px;
}
.contenu_bloc .liste_lien li {
	background:url(puce1.png) no-repeat left ;
	padding:0px 0px 0px 13px;
	margin:0px 0 4px 0px;
}
.pagination {
	background:url(separateur.png) repeat-x ;
	padding:14px 30px 0px 30px;
}
.pagination a{
	float:left;
	font-size:100%;
}
.pagination a.next{
	float:right;
}
.pagination div{
	margin:0 auto;
	width:120px;
}
.pagination div a, .pagination div span{
	float:left;
	display:block;
	padding:0 5px 0 5px;
}
.pagination div span{
	padding:0;
	color:#243d8c;
}
.pagination div .encour{
	padding:0 5px 0 5px;
	background-color:#243d8c;
	color:#fff;
}
/********************************************************************************
**************************	 communique_fullpage	*****************************
********************************************************************************/
/*******************************************************
*********************** header *************************
*******************************************************/
.communique_fullpage #header span{
	padding:48px 0 0 4px;
}
/*******************************************************
*********************** centre *************************
*******************************************************/
.online_editor .lien{
	text-align:right;
	margin:0;
}
.online_editor .lien a{
	padding:0px 0px 0px 15px;
	margin:0 0 0 10px;
}
.online_editor .lien .print{
	background:url(picto_print.png) no-repeat left ;
}
.online_editor .lien .send{
	background:url(picto_sent.png) no-repeat left ;
}
.communique_fullpage .online_editor .chapo{
	font-size:110%;
	font-weight:bold;
	display:block;
	margin:0 0px 19px 0;
}
.online_editor .liste_prog {
	background:#f4f4f4 url(separateur2.png) repeat-x top;
	padding:12px 0px 8px 8px;
}
.online_editor .liste_prog h2{
	font-size:127%;
	font-weight:bold;
	margin:0 0px 6px 0;
}
.online_editor .liste_prog p{
	font-size:100%;
	padding:0 0px 6px 0;
	line-height:16px;
}
.online_editor .liste_prog p span{
	font-weight:bold;
	color:#9d2c1a;
}
.communique_fullpage .online_editor .separateur{
	background: url(separateur2.png) repeat-x top ;
	padding:0 0 0px 0;
	margin:0 0 10px 0;
	height:1px;
	zoom:1;
}
.online_editor .download{
	background:#61317c url(bg_down.png) no-repeat right;
	height:20px;
	display:block;
	padding:6px 30px 0px 11px;
	margin:0 0 10px 0;
	float:right;
	text-align:right;
	color:#fff;
}
.online_editor .download:hover{
	text-decoration:none;
}

.online_editor .backlink a{
    padding:8px 20px 7px 35px;
    background:#304899 url(bg_retour_dossier.gif) 12px center no-repeat ;
    color:#ffffff;
    display:block;
    float:right;
}

.online_editor .backlink.borderOn {
	border-bottom:1px solid #d0d0d0;
}

.surtitre_dossier {
    font-size:150%;
    color:#9d2c1a;
    margin:10px 0 5px 0;
}

.doc_associes h2{
	font-size:181%;
	background:#61317c url(titre_doc_associes.png) no-repeat ;
	min-height:33px;
	height:auto;
	padding:7px 0 0 6px;
	color:#fff;
}
.doc_associes ul{
	background-color:#f4f4f4;
	padding:0px 0px 6px 0px;
	border:1px solid #cccccc;
}
.doc_associes  li {
	padding:9px 8px 9px 9px;
}
.doc_associes  li span{
	background:url(puce1.png) no-repeat left 4px;
	padding:0px 0px 0px 12px;
	display:block;
}
.doc_associes  li.pyjama {
	background-color:#fff;
}
/********************************************************************************
**********************************	agenda	***********************************
********************************************************************************/
/*******************************************************
*********************** header *************************
*******************************************************/
.page_agenda #header span{
	padding:12px 0 0 4px;
	font-size:400%;
	line-height:46px;
}
/*******************************************************
*********************** centre *************************
*******************************************************/
.page_agenda .online_editor .lien{
	float:right;
	margin:0 10px 0 0;
	width:108px;
}
.page_agenda .online_editor h1{
	color:#000;
}
.page_agenda .online_editor .liste_prog {
	padding:10px 30px 8px 20px;
}
.page_agenda .online_editor .pyjama {
	background-color:#fff;
}
.page_agenda .online_editor .liste_prog h2{
	margin:0 0px 8px 0;
}
.page_agenda .online_editor .liste_prog p{
	padding:0 0px 8px 0;
	line-height:16px;
}
.page_agenda .online_editor .liste_prog p a{
	display:block;
	float:left;
	margin:0 20px 5px 33px;
	background:url(puce6.png) no-repeat left;
	padding:0px 0px 0px 7px;
}
.page_agenda .online_editor .separateur{
	background: url(separateur2.png) repeat-x top ;
	padding:0 0 0px 0;
	margin:0 0 14px 0;
	height:1px;
	zoom:1;
}
.page_agenda .contenu_archives{
	padding:3px 6px 0px 7px;
}
.page_agenda .agenda .titre{
	background: url(titre_agenda_.gif) no-repeat ;
	height:40px;
	margin:0;
}
.page_agenda .agenda .titre a{
	float:right;
	padding:7px 5px 0 0px;
	width:51px;
	text-decoration:none;
}
.page_agenda .agenda .titre a span{
	padding:0px 4px 0 0;
	display:block;
	font-size:91%;
	color:#fff;
	float:left;
}
.page_agenda .agenda .titre h2{
	padding:7px 0 0 9px;
	font-size:181%;
	color:#fff;
}

.page_agenda .agenda{
	margin:0 0 10px 0;
}
.page_agenda .agenda .bloc_calendrier {
	width:212px;
	border:solid 1px #aeaeae;
}
.page_agenda .agenda .suiv_mois {
	margin-right: 8px;
}
.page_agenda .agenda .preced_mois {
	margin-left: 8px;
}
.page_agenda .agenda .bloc_calendrier .calendrier{
	padding: 10px 23px 10px 23px;
}
.page_agenda .agenda .separateur{
	background:url(separateur.png) no-repeat ;
	height:1px;
	padding:0 0 8px 0;
	zoom:1;
	overflow:hidden;
}
.page_agenda .agenda .lien{
	font-weight:bold;
	float:right;
	padding:0px 0 6px 15px;
	display:block;
	font-size:110%;
	margin-right:10px;
}
.zoom h2{
	font-size:181%;
	background:#61317c url(titre_doc_associes.png) no-repeat ;
	min-height:33px;
	height:auto;
	padding:7px 0 0 6px;
	color:#fff;
}
.zoom ul{
	background-color:#fff;
	padding:5px 0px 6px 0px;
	border:1px solid #cccccc;
}
.zoom  li {
	padding:6px 8px 6px 9px;
	border-bottom:1px solid #aeaeae;
}
.zoom  li.last {
	border-bottom:none;
}
.zoom li span{
	font-size:110%;
}
.zoom li span span{
	font-weight:bold;
	color:#9f0038;
}
.zoom  li a {
	font-weight:bold;
}
.zoom  li.pyjama {
	background-color:#f2f2f2;
}
/********************************************************************************
**********************************	la_une	***********************************
********************************************************************************/
.la_une #col_gauche .right_col{
	background:#304899 ;
}
.la_une #col_gauche .right_col li a:hover{
	background-color:#596dad;
}
.la_une #col_gauche .right_col li.encour{
	background:#596dad url(puce2.png) no-repeat 5px 9px;
}
/*******************************************************
*********************** header *************************
*******************************************************/
.la_une #header {
	background: url(bordure.png) no-repeat bottom;
}
.la_une #header span{
	color:#243d8c;
	padding:48px 0 0 4px;
}
/*******************************************************
*********************** centre *************************
*******************************************************/
.les_communiques .fond{
	background-color:#f4f4f4 ;
}
.left_col .les_communiques .laune .visuel{	
	width:252px;
}
.left_col .les_communiques .laune h3{	
	font-size:218%;
	padding:0 0px 0px 0px;
}
.la_une .les_communiques .bloc .link a{
	background:url(icone_play.png) no-repeat left ;
	padding:0px 0px 0px 15px; 
}
.la_une #contenu_centre .left_col .les_communiques .separateur{
	background:url(separateur2.png) repeat-x ;
	margin-top:-1px;
}
.les_communiques .bloc .visuel{	
	float:left;
	width:110px;
	margin:2px 7px 2px 0;
	padding-bottom:3px;
}
.les_communiques .bloc .date{	
	display:block;
	padding:0 0px 3px 0px;
}
.les_communiques .bloc .date span{	
	font-weight:bold;
	color:#68280b;
}
.les_communiques .bloc h3{	
	font-weight:bold;
	font-size:163%;
	padding:0 0px 4px 0px;
}
.les_communiques .bloc p{	
	padding:0 0px 6px 0px;
}
.les_communiques .bloc .link p{
	padding:0 0 8px 0;
}
.les_communiques .bloc .link a{
	background:url(picto_pdf.png.1) no-repeat left ;
	padding:2px 0px 1px 20px; 
	position:relative;
	font-weight:bold;
}
/********************************************************************************
**********************************	gal_image	*********************************
********************************************************************************/
/*******************************************************
*********************** header *************************
*******************************************************/
.galerie #header span{
	padding:0px 0px 0 4px;
	line-height:32px;
}
/*******************************************************
*********************** centre *************************
*******************************************************/
.galerie #contenu_centre .one_col{
	width:742px;
	margin-left:8px;
	padding:0px 0px 0 9px;
}
/*.colonne {
	width:193px;
	float:left;
	margin:0 36px 0px 0;
}*/
.gal .item_block {
	float:left;
	width:193px;
	min-height:220px;
	height:auto;
	border-bottom:1px solid #d8d8d8;
	margin:0 36px 20px 0;
	padding-bottom:4px;
}
.gal .item_block .visuel{
	position:relative;
	background-color:#f0f0f0;
	border:1px solid #d8d8d8;
	padding:12px 0px 10px 9px;
	margin:0 0 5px 0;
}
.gal .item_block .date{
	position:absolute;
	background:url(bg_date.png) no-repeat  ;
	width:168px;
	height:18px;
	padding:5px 0 0 5px;
	top:87px;
	left:9px;
	color:#fff;
}
.gal .item_block .descrip{
	padding:0px 0px 0px 9px;
}
.gal .item_block .descrip h3{
	font-size:127%;
	font-weight:bold;
}
.gal .item_block .descrip .nbre{
	font-weight:bold;
	color:#9d2c1a;
}
/*******************************************************************************************************/
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
*{padding: 0; margin: 0;}
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
  font: 11px Arial, Helvetica, sans-serif;
  color: #333333;
}
#TB_secondLine {
  font: 10px Arial, Helvetica, sans-serif;
  color:#666666;
}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.TB_overlayBG {
  background-color:#000;
  filter:alpha(opacity=75);
  -moz-opacity: 0.75;
  opacity: 0.75;
}
* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_window {
  position: fixed;
  background: #eee;
  z-index: 102;
  color:#000000;
  display:none;
  border: 1px solid #525252;
  text-align:left;
  top:54%;
  left:52%; 
    width:577px;
  overflow:hidden;

}
* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
/*#TB_window img#TB_Image {
  display:block;
  margin: 15px 0 0 15px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
}
#TB_caption{
  height:25px;
  padding:7px 30px 10px 25px;
  float:left;
}*/
#TB_closeWindow{
  height:25px;
  padding:0px 25px 10px 0;
  float:right;
  color:#fff; 
}
#TB_closeAjaxWindow{
  text-align:right;
  float:right;
  margin:0px 0 1px 0;
  background:url(bg_close.png) no-repeat ;
  width:72px;
  height:20px;
  padding:7px 10px 0px 0;
  color:#fff;
}
#TB_closeAjaxWindow .bt_fermer{
  color:#fff;
  text-decoration:none;
}
#TB_ajaxWindowTitle{
  float:left;
  padding:7px 0 5px 10px;
  margin-bottom:1px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-style:italic;
  font-size:150%;
}
#TB_title{
 /* width:706px;*/
}
#TB_ajaxContent{
  clear:both;
  padding:0px 0px 5px 46px; 
  text-align:left;
  line-height:1.4em;   


}
#TB_ajaxContent.TB_modal{
  padding:15px;
}
#TB_ajaxContent .popup_gal_image{
  width:623px; 

}
#TB_ajaxContent h3{
  font-size:163%;
  color:#5669aa;
  margin:-14px 0 6px 36px;
  position:relative;
}
#TB_ajaxContent .liste_image{
	width:533px;
	margin:0 0 0 40px;	
}
#TB_ajaxContent .liste{
	background-color:#fdfdfd;
	border:solid 1px #d8d8d8;
	padding:12px 0px 10px 14px;
	margin:0 0 6px 0;	
}
#TB_ajaxContent .liste li{
	float:left;
	padding:0px 15px 0px 0px;
}
#TB_ajaxContent li.last{
	padding:0px 0px 0px 0px;
}
#TB_ajaxContent .popup_gal_image .pagination2 {
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	margin:0px auto 8px auto;
	position:relative;
	color:#304899;
	width:533px;
}
#TB_ajaxContent .pagination2 a{
	font-size:100%;
}
#TB_ajaxContent .pagination2 a.last {
	position:absolute;
	left:0px;
	float:left;
	text-align:left;
	display:block;
}
#TB_ajaxContent .pagination2 a.next{
	float:none;
	position:absolute;
	right:0px;	
}
#TB_ajaxContent .pagination2 div a{
	font-size:91%;
	padding:0 4px;
}
#TB_ajaxContent .pagination2 div .encour{
	background-color:#304899;
	color:#fff;
}
#TB_ajaxContent .pagination2 div{
	margin:auto;
}
#TB_ajaxContent .visuel{
	background-color:#fdfdfd;
	border:solid 1px #d8d8d8;
	width:595px;
	padding:18px 0px 18px 20px;
	margin:0 0 16px 0;
}
#TB_ajaxContent .bloc_visuel .date{
	padding:0 0 5px 38px;
	display:block;
}
#TB_ajaxContent .bloc_visuel .date span{
	color:#9d2c1a;
	padding:0 0 0 0;
	font-weight:bold;
}
#TB_ajaxContent .bloc_visuel .num{
	float:right;
	padding:0 55px 0 0px;
	display:block;
}
#TB_ajaxContent .bloc_visuel p{
	padding:0 0px 8px 38px;
	font-size:110%;
	font-family:Arial, Helvetica, sans-serif;
}
#TB_ajaxContent .bloc_visuel .separateur{
	background:url(separateur3.png) no-repeat ;
	height:1px;
	padding:0 0 8px 0;
	zoom:1;
	overflow:hidden;
}
#TB_ajaxContent .bloc_visuel .credit{
	float:right;
	padding:0 55px 0 0px;
	font-size:91%;
}
/********************************************************************************
**********************************	rubdos	***********************************
********************************************************************************/
.rubdos #col_gauche .right_col{
	background:#304899 ;
}
.rubdos #col_gauche .right_col li a:hover{
	background-color:#596dad;
}
.rubdos #col_gauche .right_col li.encour{
	background:#596dad url(puce2.png) no-repeat 5px 9px;
}
/*******************************************************
*********************** header *************************
*******************************************************/
.rubdos #header {
	background: url(bordure.png) no-repeat bottom;
}
.rubdos #header span{
	color:#243d8c;
	padding:5px 0 0 6px;
	line-height:24px;
}
/*******************************************************
*********************** centre *************************
*******************************************************/
.dossiers{
	padding:0 0 0 5px;
}
.dossiers_encour{
	width:514px;
	margin:0 0 25px 0;
}
.dossiers_encour h2, .all_dossiers h2{
	font-size:272%;
	padding:0 0 4px 0;
}
.dossiers .top_dossiers{
	background:url(top_dossiers.gif) no-repeat ;
	height:5px;
	overflow:hidden;
}
.dossiers .bas_dossiers{
	background:url(bas_dossiers.gif) no-repeat ;
	height:5px;
}
.dossiers .contenu_dossiers{
	background:url(contenu_dossiers.gif) repeat-y  ;
	overflow:hidden;
	padding:2px 0 0 0px;
	zoom:1;
}
#contenu_centre .dossiers .contenu_dossiers .item_block{
	border-bottom:solid 1px #aeaeae;
	padding:8px 0 5px 14px;
	margin:0;
}
#contenu_centre .dossiers .contenu_dossiers .last{
	border-bottom:none;
}
#contenu_centre .dossiers .contenu_dossiers .visuel{	
	float:left;
	margin:0px 7px 0px 0;
}
#contenu_centre .dossiers .contenu_dossiers .date{	
	display:block;
	padding:0 0px 2px 0px;
}
#contenu_centre .dossiers .contenu_dossiers .date span{	
	font-weight:bold;
	color:#68280b;
}
#contenu_centre .dossiers .contenu_dossiers h3{	
	font-weight:bold;
	font-size:110%;
}
.all_dossiers .bloc{
	background:url(separateur2.png) repeat-x ;
	padding:11px 0px 5px 0px;
}
.all_dossiers .bloc .visuel{	
	float:left;
	width:110px;
	margin:2px 7px 2px 0;
	padding-bottom:3px;
}
.all_dossiers .bloc .date{	
	display:block;
	padding:0 0px 3px 0px;
}
.all_dossiers .bloc .date span{	
	font-weight:bold;
	color:#68280b;
}
.all_dossiers .bloc h3{	
	font-weight:bold;
	font-size:163%;
	padding:0 0px 4px 0px;
}
.all_dossiers .bloc p{	
	padding:0 0px 6px 0px;
}
.all_dossiers .separateur{
	background:url(separateur2.png) repeat-x ;
	height:1px;
	padding:0 0 12px 0;
	overflow:hidden;
}
.all_dossiers .lien{
	text-align:right;
	float:right;
	font-weight:bold;
	padding:8px 10px 8px 0px;
	background-color:#e2e2e2;
	border:solid 1px #d0d0d0;
	width:510px;
}
/********************************************************************************
**********************************	listvid	  ***********************************
********************************************************************************/
.listvid .one_col h2{
	font-size:272%;
	padding:0px 0 13px 0px;
}
.listvid .gal .item_block, .contenu_actu_video .item_block {
	min-height:190px;
	height:auto;
	border-bottom:none;
}
.gal .item_block .visuel, #contenu_centre .contenu_actu_video .item_block .visuel{
	position:relative;
	background-color:#f0f0f0;
	border:1px solid #d8d8d8;
	padding:12px 0px 10px 9px;
	margin:0 0 5px 0;
}
.gal .item_block .video_play, #contenu_centre .contenu_actu_video .item_block .video_play {
	position:relative;
}
.gal .item_block .video_play  a, #contenu_centre .contenu_actu_video .item_block .video_play  a {
	position:absolute;
	top:18px;
	left:60px;
}
.gal .item_block .video_play  a img.player, #contenu_centre .contenu_actu_video .item_block .video_play  a img.player {
	width:61px;
	height:61px;
	background:url(img_player2.png) no-repeat top left; 
	z-index:+99999;
}
.listvid .gal .item_block .date, .contenu_actu_video .item_block .date{
	top:106px;
}
.listvid .gal .item_block .date .duree, .contenu_actu_video .item_block .date .duree{
	float:right;
	padding-right:5px;
}
.listvid .gal .item_block .descrip h3 {
	padding:0 0 4px 0;
}
/********************************************************************************
**********************************	gal_video  ***********************************
********************************************************************************/
.actu_video{
	width:743px;
}
.top_actu_video {
	background:url(top_actu_video.png) no-repeat ; 
	height:6px;
	overflow:hidden;
}
.contenu_actu_video {
	background:url(repeat_actu_video.png) repeat-y ; 
	padding:8px 0 0 12px;
}
.contenu_actu_video .video{
	float:left; 
	margin:0 12px 0 0 ;
}
.contenu_actu_video .bloc_video{
	padding:0 0 15px 0;
}
.contenu_actu_video .bloc_video .detail{
	float:left;
	width:340px;
}
.contenu_actu_video .bloc_video .detail h2{
	font-size:254%;
	padding:0px 0 4px 0px;
	color:#243d8c;
}
.contenu_actu_video .bloc_video .infos {
	background:url(separateur2.png) repeat-x ; 
	padding:10px 0 10px 8px;
}
.contenu_actu_video .bloc_video .infos span span{
	font-weight:bold;
	color:#9d2c1a;
}
.contenu_actu_video .bloc_video .infos .time{
	float:right;
	padding:0 40px 0 0;
}
.contenu_actu_video .bloc_video .separateur {
	background:url(separateur2.png) repeat-x ; 
	height:1px;
	overflow:hidden;
	zoom:1;
	padding:0 0 8px 0;
}
.contenu_actu_video .bloc_video .detail p{
	font-size:110%;
	padding:0px 5px 3px 6px;
	line-height:18px;
}
.contenu_actu_video .bloc_video .detail .credit{
	font-size:91%;
	padding:0px 0 0px 6px;
}
.contenu_actu_video .item_block {
	float:left;
	width:192px;
	margin:0 36px 0px 0;
	padding-bottom:4px;
}
.contenu_actu_video .item_block .date{
	position:absolute;
	background:url(bg_date.png) no-repeat  ;
	width:168px;
	height:18px;
	padding:5px 0 0 5px;
	color:#fff;
}
.contenu_actu_video .item_block .descrip h3{
	font-size:127%;
	font-weight:bold;
}
.contenu_actu_video .item_block .descrip .nbre{
	font-weight:bold;
	color:#9d2c1a;
}
#contenu_centre .contenu_actu_video .item_bloc .video_play  a img.player {
	width:61px;
	height:61px;
	background:url(img_player2.png) no-repeat top left; 
	z-index:+99999;
	border:solid 1px red;
}
.actu_video .lien, .gal_video .gal .lien{
	text-align:right;
	float:right;
	font-weight:bold;
	padding:8px 10px 8px 0px;
	background-color:#fff;
	border:solid 1px #aeaeae;
	width:731px;
	margin:0 0 18px 0;
}
.gal_video .gal .lien{
	background-color:#e2e2e2;
	border:solid 1px #d0d0d0;
}
/********************************************************************************
***********************************	 video  *************************************
********************************************************************************/
.galerie2 #contenu_centre .one_col{
	width:769px;
	margin-left:0px;
	padding:0px 0px 0 6px;
}
.actu_videos .bloc_video{
	width:424px;
	float:left;
	border:solid 1px #aeaeae;
	background-color:#e2e2e2;
	padding:9px 0 15px 5px;
	margin:0 6px 0 0;
}
.actu_videos .bloc_video h2{
	font-size:254%;
	padding:0px 0 6px 2px;
	color:#243d8c;
}
.actu_videos .bloc_video .video{
	margin-bottom:16px;
}
.actu_videos .bloc_video .detail{
	padding:0 6px 0 8px ;
}
.actu_videos .bloc_video .infos {
	background:url(pointiller.png) repeat-x bottom; 
	padding:0px 0 10px 2px;
	margin-bottom:5px;
}
.actu_videos .bloc_video .infos span span{
	font-weight:bold;
	color:#9d2c1a;
}
.actu_videos .bloc_video .infos .time{
	float:right;
	padding:0 120px 0 0;
}
.actu_videos .bloc_video .detail p{
	font-size:110%;
	padding:0px 5px 8px 0px;
	line-height:18px;
}
.actu_videos .bloc_video .separateur {
	background:url(pointiller.png) repeat-x ; 
	height:1px;
	overflow:hidden;
	zoom:1;
	padding:0 0 6px 0;
}
.actu_videos .bloc_video .detail .credit{
	padding:0px 0 0px 0px;
}
.actu_videos .bloc_video .detail a{
	font-size:91%;
	padding:1px 5px 0px 0px;
	float:right;
}
.actu_videos .liste_bloc {
	width:327px;
	float:left;
	padding:0px 4px 0px 0px;
}
.actu_videos .liste_bloc .bloc{
	background:url(separateur2.png) repeat-x ;
	padding:8px 0px 10px 0px;
}
.actu_videos .liste_bloc .pyjama{
	background-color:#f0f0f0;
}
.actu_videos .liste_bloc .bloc .visuel{	
	float:left;
	margin:2px 7px 0px 3px;
}
.actu_videos .liste_bloc .bloc .date{	
	display:block;
	padding:0 0px 2px 0px;
}
.actu_videos .liste_bloc .bloc .date span{	
	font-weight:bold;
	color:#68280b;
}
.actu_videos .liste_bloc .bloc h3{	
	font-weight:bold;
	font-size:127%;
	padding:0 0px 1px 0px;
}
.actu_videos .pagination {
	background: #f0f0f0 url(separateur.png) repeat-x ;
	padding:6px 0px 3px 0px;
	border-bottom:1px solid #939aa9;
}
.actu_videos .pagination a{
	float:left;
	font-size:91%;
}
.actu_videos .pagination a.next{
	float:right;
}
.actu_videos .pagination div{
	margin:0 auto;
	width:62px;
}
.actu_videos .pagination div a, .actu_videos .pagination div span{
	float:left;
	display:block;
	padding:0 3px 0 3px;
}
.actu_videos .pagination div span{
	padding:0;
	color:#243d8c;
}
.actu_videos .pagination div .encour{
	padding:0 3px 0 3px;
	background-color:#243d8c;
	color:#fff;
}



/********************************************************************************
********************* Bloc citations de la page d'accueil  **********************
********************************************************************************/
.citation{
    background: url(guillemets.png) no-repeat ;
    min-height:55px;
    height:auto;
    padding:12px 0 10px 16px;
    margin:-10px 0 14px 0;
    font-size:110%;
    border-bottom:1px solid #d9d9d9;
}
.citation span{
    font-weight:bold;
    color:#243d8c;
    display:block;
    padding:0 0 1px 0;
}
.citation p{
    font-style:italic;
}




/********************************************************************************
********************* Bloc pour le header imagé en haut de page *****************
********************************************************************************/
#header_banner, #header_banner_imagefloating{
	position: relative;
	background: url(bordure_presse.png) no-repeat bottom;
}

#header_banner_imagefloating{
    height: 104px;
    padding-bottom: 2px;
}


#header_banner_imagefloating img {
    position: absolute;
    right: 0;
}

#header_banner img{
	/* Petit probleme d'alignement de l'image et de la barre sous IE only */
    padding-top: 1px;
}


#header_banner span,  #header_banner_imagefloating span{
	bottom: 9px;
	line-height: 48px;
	padding: 0 0 0 4px;
	position: absolute;
	width: 338px;
	color: #322248;
	display: block;
    font-size: 436%;
}

/********************************************************************************
     Bloc pour les blocs relatifs aux page d'accueil_mcc 
          et rubrique_accueil_mcc  
********************************************************************************/
.citation{
    background: url(guillemets.png) no-repeat ;
    min-height:55px;
    height:auto;
    padding:12px 0 10px 16px;
    margin:-10px 0 14px 0;
    font-size:110%;
    border-bottom:1px solid #d9d9d9;
}
.citation span{
    font-weight:bold;
    color:#243d8c;
    display:block;
    padding:0 0 1px 0;
}
.citation span.citation_italic{
    font-weight:normal;
    color:#000000;
    padding:0 0 1px 0;
    font-style:italic;
}
.citation span font.citation_date{
    font-weight:normal;
    color:#000000;
    padding:0 0 1px 0;
    font-style: normal;
}



.multimedia {
    margin:0px 0px 10px 0px;
}
.multimedia .titre{
    background:url(titre_multimedia2.gif) no-repeat ;
    height:43px;
}
.multimedia .titre h2{
    padding:8px 0 0 8px;
    font-size:218%;
    color:#fff;
}
.multimedia .contenu{
    padding:2px 8px 8px 10px;
    background:url(bg_fond_blocmultimedia.png) no-repeat ;
    background-repeat: repeat-y;
    
    border-top :solid 1px #d0d0d0;
    border-right :solid 1px #d0d0d0;
    border-bottom :solid 0px #d0d0d0;
    border-left :solid 1px #d0d0d0;
    
    position:relative;
    zoom:1;
}

.multimedia .contenu_liens{
    
    border-top:0px solid #D0D0D0;
    border-right :solid 1px #d0d0d0;
    border-bottom :solid 1px #d0d0d0;
    border-left :solid 1px #d0d0d0;
    padding-bottom: 15px;
}


.multimedia .contenu .bloc_video{
    float:left;
    margin:0 8px 0 0;
}
.multimedia .contenu .bloc_video h3.title, 
.multimedia .contenu .bloc_photo h3.title{
    font-size:127%;
    color:#243d8c;
    padding:10px 0 14px 0;
}
.multimedia .contenu .bloc_video{
    width:398px;
    /* border-right:1px solid #d9d9d9; */
}

.multimedia .contenu_liens .bloc_video {
border-right:0px solid #D9D9D9;
width:398px;
}

.multimedia .contenu .bloc_video .video{
    margin:0 0 12px 2px;
}
.multimedia .contenu .bloc_video h3, .multimedia .contenu .bloc_photo h3{
    font-size:181%;
    color:#304899;
    padding:0 0 2px 0;
}
.multimedia .contenu .bloc_video p{
    padding:0 0 16px 0;
}
.multimedia .contenu .lien{
    text-align:right;
    float:right;
    font-size:110%;
    font-weight:bold;
    background-color:#f1f1f1;
    color:#304899;
}
.multimedia .contenu .bloc_video .lien{
    width:376px;
    padding:4px 8px 4px 0px;
    margin:0 13px 0 0;

}
.multimedia .contenu .bloc_photo{
    float:left;
    width:312px;
    padding:0px 4px 0 18px;
    border-left:0px solid #d9d9d9;
}
.multimedia .contenu .bloc_photo .visuel{
    margin:0 0 12px 0px;
}
.multimedia .contenu .bloc_photo .img{
    font-weight:bold;
    display:block;
    padding:0px 0px 2px 0px;
}
.multimedia .contenu .bloc_photo p{
    padding:0 10px 21px 0;
}
.multimedia .contenu .bloc_photo .lien{
    width:312px;
    padding:4px 8px 4px 0px;
}

.contenu_liens{
	height: 16px;
}

/********************************************************************************
************************** Rubrique Accueil / bloc themes ***********************
********************************************************************************/
.themes li {
    background:url(http://www.culture.gouv.fr/extension/smilemcc/design/mcc/images/css/bg_open_themes.png) no-repeat ;
}
.themes li.open {
    background:url(http://www.culture.gouv.fr/extension/smilemcc/design/mcc/images/css/bg_close_themes.png) no-repeat ;
}
.themes  li ul{
    display:none;
}
.themes  li.open ul{
    display:block;
}
.themes li.open .etat, .themes li .etat{
    height:18px;
    margin:0 0 5px 0;
    display:block;
    font-size:127%;
    color:#000;
    font-weight:bold;
    text-decoration:none;
}
.themes li .etat{
    color:#fff;
    text-decoration:none;
}


.bloc_theme{
    margin:0 0 10px 0;
}
.bloc_theme .etat{
    padding:2px 0px 2px 26px;
    font-size:127%;
    text-decoration:none;
}

.bloc_theme .etat:hover{
    text-decoration:none;
}
.bloc_theme #liste_theme {
    background-color:#304899 ;
    padding:6px 0px 6px 0px;
    margin:5px 0 0 0;
}
.bloc_theme #liste_theme ul{
    width:247px;
    float:left;
    padding:0px 0 0 8px;
}
.bloc_theme #liste_theme li{
    background:url(puce_agenda.png) no-repeat left 6px;
    padding: 0 2px 0 5px;
    color:#fff;
    font-size:110%;
    margin:0 0 1px 0;
}
.bloc_theme #liste_theme li a{
    color:#fff;
    line-height:18px;
}


.liste_theme_plie{
    background:transparent url(puce+.png) no-repeat scroll left center;
}

.liste_theme_deplie{
    background:transparent url(pucemoins.png) no-repeat scroll left center;
}



.themes ul.liste{
    background-color:#304899 ;
    width:247px;
    float:left;
    padding:4px 0 0 8px;
}
.themes li li{
    background:url(puce_agenda.png) no-repeat left 5px;
    padding:0px 0px 0px 7px;
    color:#fff;
    font-size:110%;
    margin:0 0 5px 0;
}
.themes li li a{
    color:#fff;
}
.developpement .zone_actualites .online_editor h2, .bloc_texte .online_editor h2 {
    font-size:218%;
    font-weight:normal;
    color:#243d8c;
    padding:0px 0 4px 0;
}
.developpement .zone_actualites .online_editor p{
    padding:0px 0 0px 0;
}
.developpement .zone_actualites .online_editor .separateur{
    padding:0px 0 0px 0;
    margin:14px 0 0px 0;
}
.bloc_texte {
    border:1px solid #d9d9d9;
    background-color:#f6f6f6;
    padding:5px 6px 13px 6px;
    margin:0 0 10px 0;
}
.bloc_texte .online_editor h2 {
    font-weight:bold;
}
.bloc_texte .online_editor h3{
    font-size:163%;
    color:#243d8c;
    padding:0px 0 8px 0;
}
.bloc_texte .online_editor img {
    float:left;
    margin:0 5px 5px 0;
}
.bloc_texte .online_editor p {
    padding:0px 0 5px 0;
}
.bloc_txt {
    border:1px solid #d9d9d9;
    padding:8px 10px 10px 6px;
    margin:0 0 10px 0;
    font-size:110%;
}
.bloc_txt span{
    display:block;
    padding:0px 0 4px 0;
}

/********************************************************************************
************************** Rubrique Accueil / Carte *****************************
********************************************************************************/
.acces_carte{
    background:url(bg_acces_carte.gif) no-repeat #273b7b;
    padding:8px 10px 5px 6px;
}
.acces_carte img{
    float:left;
    margin:0 14px 0 0;
}
.acces_carte h3{
    font-size:181%;
    padding:7px 0 14px 0;
    color:#fff;
}
.acces_carte .link{
    float:right;
    font-size:110%;
    font-weight:bold;
    color:#fff;
}
.acces_carte .link:hover{
    background:none;
}
/********************************************************************************
************************************* Carte *************************************
********************************************************************************/
.page_carte #centre {
    width:766px;
    padding:0 0px 0 15px;
}
.page_carte #contenu_centre .one_col{
    width:760px;
}
.carte .online_editor h2{
    font-size:218%;
    font-weight:normal;
    color:#243d8c;
    border-bottom:1px solid #d9d9d9;
    padding:0px 0 2px 6px;
    margin:0 0 11px 0;
}
.carte .online_editor .txt{
    padding:0px 0 0px 2px;
    margin:0 0 0 0;
}
.carte .online_editor .carte_map{
    margin:0 0 30px 0;
}




.colonneBforceblue{
 background:#304899 none repeat scroll 0 0;
}


.contenu_left_large #contenu_centre .left_col{
    width:525px;    
}


/********************************************************************************
*************************** Refonte du menu de gauche colonne A *****************
********************************************************************************/
.colonnea_encours {
    background:#9EABD7 url(puce2.png) no-repeat scroll 5px 9px;
}

.colonnea_pasencours
{
	display:block;
	padding:4px 10px 4px 5px;
	text-decoration:none;
	color:#FFCC00;
}

.colonnea_pasencours, .colonnea_encours
{
	font-weight:bold;
    padding:0;
}

.colonnea_pasencours a.rubactu:hover {
    color:#FFCC00;
}

.colonnea_encours a {
    color:#FFFFFF;
}

.colonnea_pasencours a:hover {
    color:#FFCC00;
}

.colonnea_global a {
	display:block;
	padding:4px 10px 4px 5px;
	text-decoration:none;
}

