/* CSS Document */
body {
   margin: 0px;
   padding: 0px;   
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000;
   
}
h1, h2, h3, h4, h5, h6, p, form, input{
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: #304899;
}
a:hover {
  text-decoration: underline;
}
ul {
  margin:0px;
  padding:0px;
  list-style-type: none;
}
fieldset{
	border: none;
	padding: 0px;
	margin: 0px;
}
legend {
  display: none;
}
img {
   border: none;
   vertical-align:middle;
}
input, select {
	font-family: Arial, Helvetica, sans-serif;
	vertical-align:middle;
	border: 0;
	color: #545454;
}
strong {
	font-weight: bold;
}
em {
	font-style:italic;
}
.hide {
	display: none;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.breaker{
	clear: both;
	height: 1px;
	overflow: hidden;
}
.bg_none{
	background:none;
}
.bold{
	font-weight:bold;
}

