/* Reset
-------------------------------------------------------------- */html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;}:focus{outline:0;}body{line-height:1;color:#000;background:#FFF;}ol,ul{list-style:none;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}

/* General
-------------------------------------------------------------- */
body{
	font-size: 75%;
	line-height: 1.2;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #EEE;
	background-position: center top;
	background-repeat: no-repeat;
}
#overall{
	width: 1000px;
	margin: 0 auto;
	padding: 10px 0;
}
#site{
	width: 992px;
	margin: 0 auto;
	background-color: #FFF;
	border: 1px solid #CCC;
}

/* Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6{
	margin-bottom: 5px;
	font-family: Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	color: #234;
	color: #048;
}
h1 { font-size: 2.17em; line-height: 1.0; letter-spacing: -0.01em; }
/**/h1 { font-size: 1.8em; line-height: 1.0; letter-spacing: -0.01em; font-weight: bold; }
h2 { font-size: 1.67em; line-height: 1.0; }
/**/h2 { font-size: 1.25em; line-height: 1.0; font-weight: bold; }
h3 { font-size: 1.50em; line-height: 1.0; }
h4 { font-size: 1.20em; line-height: 1.2; }
h5 { font-size: 1.00em; }
h6 { font-size: 1.00em; }

/* Text elements
-------------------------------------------------------------- */
p           { margin-bottom: 10px; }
a           { color: #333; text-decoration: none; outline: 0; }

blockquote  { margin-bottom: 10px; color: #666; font-style: italic; font-family: Georgia, sans-serif; }
strong,dfn  { font-weight: bold; }
em,dfn,cite { font-style: italic; }
sup, sub    { line-height: 0; }

abbr, 
acronym     { border-bottom: 1px dotted #666; }
address     { margin-bottom: 10px; font-style: italic; }
del         { color:#666; }

pre 		{ margin: 15px 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }


/* Lists
-------------------------------------------------------------- */
li ul, 
li ol       { margin:0 15px; }
ul, ol      { margin: 0 0 10px 20px; }

ul          { list-style-type: square; }
ul ul       { list-style-type: circle; }
ol          { list-style-type: decimal; }

dl          { margin-bottom: 10px; }
dl dt       { font-weight: bold; }
dd          { margin-left: 10px; }


/* Tables
-------------------------------------------------------------- */
table       	{ width:100%; }
caption, th		{ font-weight: bold; }
th,td,caption	{ padding: 5px; }
tfoot       	{ font-style: italic; }
caption     	{ background: #EEE; }

/* Form
-------------------------------------------------------------- */
label       { font-weight: bold; cursor: pointer; }
/* fieldset    { padding: 15px; margin-bottom: 10px; border: 1px solid #EEE; } */
legend      { font-weight: bold; font-size:1.2em; }

/* Misc
-------------------------------------------------------------- */
.hide{ display: none; }
.tl{ text-align: left; }
.tc{ text-align: center; }
.tr{ text-align: right; }
.clr{ clear: both; }
.clear{
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
	font-size: 1%;
	line-height: 0;
	padding: 0;
	margin: 0;
	background: none;
}