/* DROITE */
.droite {
	background-color: #ece6d3;
	width: 301px;
	padding: 7px 1px 0px 1px;
	margin: -54px 0px 0px 0px;
	float: right;
}

/* NAV */
.nav {
	width: 479px;
}

/* OPTIONS */
.options {
	width: 479px;
}

/* CONTENU */
.contenu {
	width: 479px;
}

/* Menu Droit*/

/*.bloc_droit5 {
	background-image: url(/images/blocs_droit/bloc_droit5_big_haut.gif);
	width: 291px;
	margin: 0px 0px 3px 0px;
}
.bloc_droit5 .bloc_droit5_bas {
	background-image: url(/images/blocs_droit/bloc_droit5_big_bas.gif);
}

.bloc_droit6 {
	background-image: url(/images/blocs_droit/bloc_droit6_big_haut.gif);
	width: 291px;
	margin: 0px 0px 3px 0px;
}
.bloc_droit6 .bloc_droit6_bas {
	background-image: url(/images/blocs_droit/bloc_droit6_big_bas.gif);
}*/

.bloc_droit1 {
	width: 301px;
	margin: 0px 0px 3px 0px;
}
.bloc_droit1 .bloc_droit_haut {
	background-image: url(bloc_droit1_big_haut.gif);
	width: 290px;
}
.bloc_droit1 .bloc_droit_bas {
	background-image: url(bloc_droit1_big_bas.gif);
}
.bloc_droit1 .bloc_droit_milieu {
	background-image: url(bloc_droit1_big.gif);
}
.bloc_droit1 li {
	width: 261px;
}

.bloc_droit2 {
	width: 301px;
	margin: 0px 0px 3px 0px;
}
.bloc_droit2 .bloc_droit_haut {
	background-image: url(bloc_droit2_big_haut.gif);
	width: 290px;
}
.bloc_droit2 .bloc_droit_bas {
	background-image: url(bloc_droit2_big_bas.gif);
}
.bloc_droit2 .bloc_droit_milieu {
	background-image: url(index.html.10);
}
.bloc_droit2 li {
	width: 261px;
}

/* MENU */
ul#menu .bt08 {
	width: 137px;
}





/* BOX EUROCK */
.box_eurock {
	font-size: 1.2em;
	text-align: center;
	background-image: url(fond.gif.1);
	background-repeat: no-repeat;
	background-position: bottom center;
	padding: 10px 0px 8px 0px;
}
.box_eurock a {
	color: #5d316c;
	text-decoration: none;
}
.box_eurock a:hover {
	text-decoration: underline;
}
.box_eurock img {
	border: none;
	margin: 0px 0px 5px 0px;
}
.box_eurock span {
	text-align: left;
	padding: 0px 0px 0px 60px;
	display: block;
}





/* BOX TERRITOIRE EN DANGER */
.box_ted {
	font-size: 0.8em;
	text-align: justify;
	background-color: #f8dc19;
	margin: 10px;
}
.box_ted strong {
	font-size: 1.1em;
}
.box_ted a {
	color: #000000;
	text-decoration: none;
}
.box_eurock a:hover {
	text-decoration: underline;
}
.box_ted img {
	border: none;
	float: left;
	position: relative;
	top: 5px;
}
.box_ted img.tedmaker {
	margin: 10px -11px 10px -11px;
	float: none;
}