.global {
	width: 100%;
}

/* ENTETE */
.entete {
	background-image:url(fond_entete_print.gif);
	height: 80px;
	width: auto;
	margin: 0px 0px 25px 0px;
}
.entete h1 {
	background-image: url(logo_print.gif);
	height: 80px;
}
.entete h1 a, .entete p, .entete form, .entete div {
	display: none;
}

/* MENU */
#menu {
	display: none;
}

/* GAUCHE */
.gauche {
	display: none;
}

/* DROITE */
.droite {
	display: none;
}

/* NAVIGATION */
.nav {
	display: none;
}

/* OPTIONS */
.options {
	display: none;
}

/* CONTENU */
.contenu {
	width: auto;
	padding: 0px;
	float: none;
}
.modele {
	width: auto;
	float: none;
}
.modele .fond {
	width: auto;
	float: none;
}
#texte03, #texte05 {
	width: 500px;
	/*width: auto;*/
	/*float: none;*/
}
#blocs {
	display: none;
}
p.bouton, p.bouton2 {
	display: none;
}

/* MENU BAS */
.menu_bas {
	display: none;
}

/* MENTIONS LEGALES */
.mentions_legales {
	display: none;
}