.entete {
	background-image: url(fond_entete.gif.1);
	height: 158px;
}
.entete h1 {
	background-image: none;
}
.entete .ted {
	height: 39px;
	width: 205px;
	display: block;
	position: absolute;
	top: 33px;
	left: 340px;
}
.entete .ted span {
	display: none;
}

ul#menu {
	top: 102px;
}
ul#menu .bt00 {
	background-image: url(bt00.gif.1);
}
ul#menu .bt01 {
	background-image: url(bt01.gif.1);
}
ul#menu .bt02 {
	background-image: url(bt02.gif.1);
}
ul#menu .bt03 {
	background-image: url(bt03.gif.1);
}
ul#menu .bt04 {
	background-image: url(bt04.gif.1);
}
ul#menu .bt05 {
	background-image: url(bt05.gif.1);
}
ul#menu .bt06 {
	background-image: url(bt06.gif.1);
}
ul#menu .bt07 {
	background-image: url(bt07.gif.1);
}
ul#menu .bt08 {
	background-image: url(bt08.gif.1);
}

#style00_haut {
	background-image: url(bt00_ON.gif.1);
}
#style01_haut {
	background-image: url(bt01_ON.gif.1);
}
#style02_haut {
	background-image: url(bt02_ON.gif.1);
}
#style03_haut {
	background-image: url(bt03_ON.gif.1);
}
#style04_haut {
	background-image: url(bt04_ON.gif.1);
}
#style05_haut {
	background-image: url(bt05_ON.gif.1);
}
#style06_haut {
	background-image: url(bt06_ON.gif.1);
}
#style07_haut {
	background-image: url(bt07_ON.gif.1);
}
#style08_haut {
	background-image: url(bt08_ON.gif.1);
}

.plan a, .contact a, .rechercher {
	display: none;
}





.gauche {
	background-image:url(fond_gauche.gif.1);
}
.gauche_bas {
	width:201px;
	background-image:url(fond_gauche_bas.gif.1);
}






.box_newsletter .box_newsletter_haut {
	background-image: url(haut.gif.3);
}
.box_newsletter .box_newsletter_bas {
	background-image: url(bas.gif.3);
}





.gauche .box_magazine a.bouton, .gauche .box_magazine a.bouton2 {
	background-image: url(bouton_left_magazine.gif.1);
}
.gauche .box_magazine a.bouton span {
	background-image: url(bouton_right_magazine.gif.1);
}
.gauche .box_magazine a.bouton2 span {
	background-image: url(bouton_right_magazine2.gif.1);
}