ul#menu .bt06 {
	background-image:url(bt06_ACCUEIL2.gif.1);
}
ul#menu .bt07 {
	background-image:url(bt07_ACCUEIL.gif.1);
}
ul#menu .bt08 {
	background-image:url(bt08_ACCUEIL.gif.1);
}





.droite {
	background-color: #f8dc19;
	margin: -28px 0px 0px 0px;
}

.bloc_droit1 .bloc_droit_haut {
	background-image: url(bloc_droit1_big_haut.gif.1);
}
.bloc_droit1 .bloc_droit_bas {
	background-image: url(bloc_droit1_big_bas.gif.1);
}

.bloc_droit2 .bloc_droit_haut {
	background-image: url(bloc_droit2_big_haut.gif.1);
}
.bloc_droit2 .bloc_droit_bas {
	background-image: url(bloc_droit2_big_bas.gif.1);
}