/* default buttonCart */
.buttonCart {
	display: block;
	width: 31px;
	height: 25px;
	background: url(http://www.castorama.fr/store/images/button_add_to_cart.gif) no-repeat 0 0;
	margin: 0 auto;
	margin-top: 15px;
	overflow: hidden;
	text-indent: -100em;
	white-space: nowrap;
	border: 0;
	cursor: pointer;
}

/* Red buttonCart for Bonnes Affaires */
.bonnesAffairs .buttonCart {
	background: url(http://www.castorama.fr/store/images/button_add_to_cart_red.gif) no-repeat 0 0;
}

/* Colors for add to cart buttons */
INPUT.buttonCart.grey		{background: url(http://www.castorama.fr/store/images/button_add_to_cart_grey.gif) no-repeat 0 0;}
INPUT.buttonCart.pink		{background: url(http://www.castorama.fr/store/images/button_add_to_cart_pink.gif) no-repeat 0 0;}
INPUT.buttonCart.darkBlue 	{background: url(http://www.castorama.fr/store/images/button_add_to_cart_darkBlue.gif) no-repeat 0 0;}
INPUT.buttonCart.green 		{background: url(http://www.castorama.fr/store/images/button_add_to_cart_green.gif) no-repeat 0 0;}
INPUT.buttonCart.lightBlue 	{background: url(http://www.castorama.fr/store/images/button_add_to_cart_lightBlue.gif) no-repeat 0 0;}
INPUT.buttonCart.brown 		{background: url(http://www.castorama.fr/store/images/button_add_to_cart_brown.gif) no-repeat 0 0;}
INPUT.buttonCart.red 		{background: url(http://www.castorama.fr/store/images/button_add_to_cart_red.gif) no-repeat 0 0;}
INPUT.buttonCart.yellow 	{background: url(http://www.castorama.fr/store/images/button_add_to_cart_yellow.gif) no-repeat 0 0;}

/* Search OK button - Header */
#navPane .block1 input.goBtn {
	width: 21px;
	height: 18px;
	border: 0;
	margin: 0 0 0 10px;
	background: url(http://www.castorama.fr/store/images/icoBlueRechercher.png) no-repeat 0 0;
	overflow: hidden;
	text-indent: -100em;
	cursor: pointer;
}

/* Calculate button */
.buttonCalcul {
	border: 0;
	display: block;
	width: 86px;
	height: 39px;
	background: url(http://www.castorama.fr/store/images/buttonCalcul.gif) no-repeat 0 0;
	overflow: hidden;
	text-indent: -100em;
	white-space: nowrap;
	cursor: pointer;
}

/* OK button */
.buttonOK {
	border: 0;
	display: block;
	width: 21px;
	height: 18px;
	background: url(http://www.castorama.fr/store/images/buttonOK.png) no-repeat 0 0;
	overflow: hidden;
	text-indent: -100em;
	white-space: nowrap;
	cursor: pointer;
}

/* VALIDER button */
.buttonValider {
	display: block;	
	width: 89px;
	height: 19px;
	background: url(http://www.castorama.fr/store/images/button_valider.gif) no-repeat 0 0;
	text-indent: -100em;
	overflow: hidden;
	border: 0;
	cursor: pointer;
}

/* AJOUTER big button */
.buttonCartBig {
	display: block;
	width: 170px;
	height: 30px;
	background: url(http://www.castorama.fr/store/images/button_add_to_cart_big.gif) no-repeat 0 0;
	margin: 0 auto;
	margin-top: 15px;
	overflow: hidden;
	text-indent: -100em;
	white-space: nowrap;
	border: 0;
	cursor: pointer;
}

/* TROUVER button */
.buttonTrouver {
	display: block;
	width: 191px;
	height: 30px;
	background: url(http://www.castorama.fr/store/images/button_trouver.gif) no-repeat 0 0;
	margin: 0 auto;
	margin-top: 15px;
	overflow: hidden;
	text-indent: -100em;
	white-space: nowrap;
	border: 0;
	cursor: pointer;
}

/* TROUVER button for featured product block */
.featuredProduct .buttonTrouver {
	width: 170px;
	background: url(http://www.castorama.fr/store/images/button_add_to_cart_compare.gif) no-repeat 0 0;
	margin-bottom: 5px;
} 

/* VIDER button */
.buttonVider {
	display: block;
	width: 170px;
	height: 30px;
	background: url(http://www.castorama.fr/store/images/buttonVider.png) no-repeat 0 0;
	margin: 9px auto 10px auto;
	overflow: hidden;
	text-indent: -100em;
	white-space: nowrap;
	border: 0;
	cursor: pointer;
}

/* Subscribe OK button - Footer */
.newsletterFormDiv INPUT.buttonMailOK {
	display: block;
	width: 21px;
	height: 18px;
	line-height: 18px;
	background: url(http://www.castorama.fr/store/images/subscribeOkay.png) no-repeat 0 0;
	margin: 0 12px 0 10px;
	overflow: hidden;
	text-indent: -100em;
	white-space: nowrap;
	border: 0;
	cursor: pointer;
}

/* Modifier button */
.buttonModifier {
	display: block;
	width: 79px;
	height: 24px;
	line-height: 18px;
	background: url(http://www.castorama.fr/store/images/buttonModifier.png) no-repeat 0 0;
	overflow: hidden;
	text-indent: -100em;
	white-space: nowrap;
	border: 0;
	cursor: pointer;
}

/* Recalculate button */
.recalcButtonInp {
	display: block;
	height: 19px;
	line-height: 19px;
	background: #fff url(buttonRecalc.gif) no-repeat 0 0;
}

.recalcButtonInp INPUT {
	width: 100%;
	border: none;
	display: block;
	height: 19px;
	line-height: 19px;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 9px;	
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #fff !important;
	background: transparent url(buttonRecalc.gif) no-repeat 100% -19px;
}

/* Default text button */
.inputButton {
	display: block;
	height: 30px;
	line-height: 30px;
	background: #09438b url(button-big.gif) no-repeat 0 0;
}

.inputButton INPUT {
	width: 100%;
	border: none;
	display: block;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 14px;	
	text-align: center;
	text-transform: uppercase;
	color: #ffffff !important;
	background: transparent url(button-big.gif) no-repeat 100% -30px;
}

/* Default gray button */
.inputButton.gray {
	background: #B0B0B0 url(http://www.castorama.fr/store/images/button-big-gray.gif) no-repeat 0 0;
}

.inputButton.gray INPUT {
	background: transparent url(http://www.castorama.fr/store/images/button-big-gray.gif) no-repeat 100% -30px;
}

/* Gray mini button */
.formButtons .grayMini {
	background: #a2a2a2 url(http://www.castorama.fr/store/images/button-small-gray.gif) no-repeat 0 0;
	height: 24px;
	margin-right: 10px;
	display: inline-block;
}

.formButtons .grayMini INPUT {
	background: transparent url(http://www.castorama.fr/store/images/button-small-gray.gif) no-repeat 100% -24px;
	height: 24px;
	line-height: 23px;
	font-size: 12px;
}

/* Blue button with border */
.medBlueBorder INPUT {
	height: 24px;
	line-height: 24px !important;
	background: transparent url(buttonBorderBlue.gif) no-repeat 100% -24px;
	font-size: 11px;
	margin-right: 0;
	padding: 0 10px;
}

/* Fix visibility for hidden inputs */
INPUT[type="hidden"] {
	border: 0;
	padding: 0;
	margin: 0;
	background: none;	
	height: 0;
	width: 0;
}

.formless .inputButton {
	width: 120px;
}

/* Trash icon button */
.icoTrash {
	width: 12px;
	height: 16px;
	margin: 0 5px;
	background: url(http://www.castorama.fr/store/images/icoTrash.gif) 0 0 no-repeat;
	display: block;
	text-indent: -100em;
}

INPUT.icoTrash {
	border: 0;
	cursor: pointer;
}


/* Select magasine button */
.buttonSelMag {
	border: 0;
	display: block;
	width: 211px;
	height: 30px;
	background: url(http://www.castorama.fr/store/images/buttonSelMag.png) no-repeat 0 0;
	overflow: hidden;
	text-indent: -100em;
	white-space: nowrap;
	cursor: pointer;
}

/* Change magasine button */
.buttonChangeMag {
	border: 0;
	display: block;
	width: 211px;
	height: 30px;
	background: url(http://www.castorama.fr/store/images/buttonChangeMag.jpg) no-repeat 0 0;
	overflow: hidden;
	text-indent: -100em;
	white-space: nowrap;
	cursor: pointer;
}

/* Compare button */
.buttonCompare {
	display: block;
	width: 170px;
	height: 30px;
	background: url(http://www.castorama.fr/store/images/button_compare.gif) no-repeat 0 0;
	margin: 0 auto;
	margin-top: 15px;
	overflow: hidden;
	text-indent: -100em;
	white-space: nowrap;
}

/* Comparer button */
.buttonComparer {
	display: block;
	width: 170px;
	height: 30px;
	background: url(http://www.castorama.fr/store/images/buttonComparer.png) no-repeat 0 0;
	margin: 21px auto 0 auto;
	overflow: hidden;
	text-indent: -100em;
	white-space: nowrap;
}

INPUT.buttonComparer {
	border: 0;
	cursor: pointer;
}

/* Ajouter button */
.buttonAjouter {
	display: block;
	width: 151px;
	height: 23px;
	background: url(http://www.castorama.fr/store/images/button-ajouter.gif) no-repeat 0 0;
	overflow: hidden;
	text-indent: -100em;
}

/* Control buttons global syle */
.controlButton {
	float: left;
	overflow: hidden;
	margin-right: -7px;
	width: 47px;
	height: 44px;
	background: url(http://www.castorama.fr/store/images/imgControl.png) no-repeat 0 0;
	text-align: center;
}

/* Control buttons global syle */
.imgControlsBlock .controlButton A {
	display: block;
	width: 33px;
	height: 30px;
	overflow: hidden;
	text-indent: -100em;
	margin: 0 auto;
	margin-top: 7px;
}

/* Images for Control buttons */
.controlZoom 	{background: url(http://www.castorama.fr/store/images/icoZoom.gif) no-repeat 50% 50%;}
.control3d 		{background: url(http://www.castorama.fr/store/images/ico3d.gif) no-repeat 50% 50%;}
.controlVideo 	{background: url(http://www.castorama.fr/store/images/icoVideo.gif) no-repeat 50% 50%;}
.controlPDF 	{background: url(http://www.castorama.fr/store/images/icoPDF.gif) no-repeat 50% 50%;}
.controlGPS 	{background: url(http://www.castorama.fr/store/images/icoGPS.gif) no-repeat 50% 50%;}

.orderA .formButtons .inputButton.button330Center {
	margin: 0 auto;
	width: 269px;
	//width: 330px;	
	position: relative;
	float: none;
}