/* Katsiaryna Sharstsiuk : all ".productFilter .filterChGroup .COLOR_STYLE" was added for highligthing text opposite checked checkbox in the filter area*/

.productFilter .pinkPage UL LI A,
.productFilter .pinkPage UL LI A:hover,
.productFilter .filterChGroup .pinkPage
{color: #B61D3C !important;}

.productFilter .greenPage UL LI A,
.productFilter .greenPage UL LI A:hover,
.productFilter .filterChGroup .greenPage
{color: #A1BE23 !important;}

.productFilter .darkbluePage UL LI A,
.productFilter .darkbluePage UL LI A:hover,
.productFilter .filterChGroup .darkbluePage
{color: #5A7B88 !important;}

.productFilter .lightbluePage UL LI A,
.productFilter .lightbluePage UL LI A:hover,
.productFilter .filterChGroup .lightbluePage
{color: #41C0EB !important;}

.productFilter .brownPage UL LI A,
.productFilter .brownPage UL LI A:hover,
.productFilter .filterChGroup .brownPage
{color: #88816F !important;}

.productFilter .redPage UL LI A,
.productFilter .redPage UL LI A:hover,
.productFilter .filterChGroup .redPage
{color: #ED1D25 !important;}

.productFilter .bluePage UL LI A,
.productFilter .bluePage UL LI A:hover,
.productFilter .filterChGroup .bluePage
{color: #09438C !important;}
