/* Subscription block (footer starts with it) and its styles */
#subscription {
	height: 48px;
	margin-top: 40px;
	background-color: #09438b;
	color: #FFFFFF;	
	line-height: 46px;
	overflow: hidden;
}

#subscription .right {
	clear: none;
	margin-left: 41px;
}

#subscription BIG {
	font-size: 15px;
	font-weight: bold;
	font-family: Arial Narrow, Arial;
	padding-right: 10px;
}

#subscription STRONG {
	font-size: 15px;
	letter-spacing: 2px;
}

/* Div with the subscription e-mail input field */
.newsletterFormDiv {
	float: right;
	margin: 15px 0 0px 6px;	
}
.newsletterFormDiv input {
	width: 124px;
	height: 16px;
	border: 1px solid #CBCBCB;
	float: left;
	margin: 0;
	line-height: 16px;
	font-weight: bold;
	font-size: 11px;
	padding: 0 2px 0 2px;
	color: #0b54ae;
}


/* Footer container (footer here means everything below the subscription bar) */
#footer {
	margin: 10px 0 20px 0;
	overflow: hidden;
	zoom: 1;
	color: #454545;
}
/* Footer left column */
#footer .leftCol {	
	width: 227px;
	border-right: 1px solid #D0D0D0;
	margin-right: 20px;
	overflow: hidden;
	zoom: 1;/*background-color: #ABABFF;*/}
/* Footer right column */
#footer .rightCol {	
	width: 742px;
}
/* Abstract left column, commonly used right inside the .content */
#footer .rightCol .subCol {
	float: left;
	width: 178px;
	margin-right: 10px;
	overflow: hidden;
	zoom: 1;
}
#footer .rightCol .lastSubCol {
	margin-right: 0;
	float: right;
}

/* Titles in footer */
#footer h2 {
	font-size: 12px;
	font-weight: bold;
	margin-top: 9px;
}

#footer A H2 {
	color: #454545;
	text-decoration: none;
}

#footer A:hover H2 {
	color: #09438B;
	text-decoration: underline;
}

#footer .leftCol h2 {	
	margin-top: 21px;
	color: #09438B;
}
/* Images in footer */
#footer .leftCol img {
	margin-top: 7px;
}
/* Small text (description in footer) */
#footer .leftCol small {
	font-weight: bold;
}

/* left side links list */ 
#footer UL.footerLinksLeft {
	padding: 3px 0 0 2px;
}

/* left side links list item */
#footer UL.footerLinksLeft LI {
	margin-bottom: 1px;
}
	
#footer .lastSubCol A.arrowedLink,
#footer .lastSubCol A.arrowedLink:hover{
	margin-top: 12px;
	height: 14px;
	color: #09438B;
	text-decoration: none;
}	
	
#footer .subCol a,
#footer .nosServ a {
	color: #454545;
}
	
#footer .subCol a:hover,
#footer .nosServ a:hover {
	color: #09438B;		
}
