/*--ideesconseils --*/
.content .ideesconseils {position: relative; background:transparent url(fond.gif) no-repeat scroll 0; width: 390px; height: 179px;}
.content .ideesconseils span {font-size: 11px; font-weight: bold; color:#fff;}

.content .ideesconseils .idee1{float: left; margin: 0;}
.content .ideesconseils .idee1 p{line-height: 12px; font-size: 9px; color: #dcdcdc; width: 108px; padding: 94px 0 0 7px; display: block; float: left;}
.content .ideesconseils .idee1 .visuel{display: block; float: left; padding: 94px 0 0 10px;}

.content .ideesconseils .idee2{float: left; margin: 0;}
.content .ideesconseils .idee2 p{line-height: 12px; font-size: 9px; color: #dcdcdc; width: 100px; padding: 9px 0 0 7px; display: block; float: left;}
.content .ideesconseils .idee2 .visuel{display: block; float: left; padding: 9px 0 0 2px;}


.content .ideesconseils .idee3{float: left; margin: 0;}
.content .ideesconseils .idee3 p{line-height: 12px; font-size: 9px; color: #dcdcdc; width: 100px; padding: 9px 0 0 7px; display: block; float: left;}
.content .ideesconseils .idee3 .visuel{display: block; float: left; padding: 10px 0 0 2px;}



