.arrowedLink,
.arrowedLink:hover {
	display: block;
	float: left;
	background: url(link_icons.gif) no-repeat;
	padding: 0 0 0 18px;
	height: 11px;	
	overflow: hidden;
	font-weight: bold;
	line-height: 11px;	
}

.arrowedLink.reverted {
	background: url(http://www.castorama.fr/store/images/link_icons_reverted.gif) no-repeat !important;
}

.arrowedLink.whiteLink,
.arrowedLink.whiteLink:hover {
	color: #fff;
}

/* link colors on light background*/
.lightBg .darkRed_whiteArrow {
	background-position: 0 -10px !important;
}
.lightBg .darkBlue_whiteArrow {
	background-position: 0 -31px !important;
}
.lightBg .green_whiteArrow {
	background-position: 0 -52px !important;
}
.lightBg .lightBlue_whiteArrow {
	background-position: 0 -73px !important;
}
.lightBg .cyan_whiteArrow {
	background-position: 0 -94px !important;
}
.lightBg .brown_whiteArrow {
	background-position: 0 -115px !important;
}
.lightBg .lightRed_whiteArrow {
	background-position: 0 -136px !important;
}
.lightBg .gray_whiteArrow {
	background-position: 0 -156px !important;
}
.lightBg .darkBlue_orangeArrow {
	background-position: 0 -178px !important;
}
.lightBg .white_blueArrow {
	background-position: 0 -199px !important;
}


.lightBg .pinkLink {background-position: 0 -10px !important; color: #b51E3B;}
.lightBg .greenLink {background-position: 0 -52px !important; color: #a1be23;}
.lightBg .darkblueLink {background-position: 0 -73px !important; color: #5a7b88;}
.lightBg .lightblueLink {background-position: 0 -94px !important; color: #41C0EB;}
.lightBg .brownLink {background-position: 0 -115px !important; color: #7c7564;}
.lightBg .redLink {background-position: 0 -136px !important; color: #eb1c24;}
.lightBg .blueLink {background-position: 0 -31px !important; color: #09438b;}

.lightBg .greyLink {background-position: 0 -155px !important; color: #595959;}



/* link colors on dark background*/
.darkBg .darkRed_whiteArrow {
	background-position: 0 -220px !important;
}
.darkBg .darkBlue_whiteArrow {
	background-position: 0 -241px !important;
}
.darkBg .green_whiteArrow {
	background-position: 0 -262px !important;
}
.darkBg .lightBlue_whiteArrow {
	background-position: 0 -283px !important;
}
.darkBg .cyan_whiteArrow {
	background-position: 0 -304px !important;
}
.darkBg .brown_whiteArrow {
	background-position: 0 -325px !important;
}
.darkBg .lightRed_whiteArrow {
	background-position: 0 -346px !important;
}
.darkBg .gray_whiteArrow {
	background-position: 0 -367px !important;
}
.darkBg .darkBlue_orangeArrow {
	background-position: 0 -388px !important;
}
.darkBg .white_blueArrow {
	background-position: 0 -409px !important;
}


/* link colors on blue background*/
.blueBg .darkRed_whiteArrow {
	background-position: 0 -430px !important;
}
.blueBg .darkBlue_whiteArrow {
	background-position: 0 -451px !important;
}
.blueBg .green_whiteArrow {
	background-position: 0 -472px !important;
}
.blueBg .lightBlue_whiteArrow {
	background-position: 0 -493px !important;
}
.blueBg .cyan_whiteArrow {
	background-position: 0 -514px !important;
}
.blueBg .brown_whiteArrow {
	background-position: 0 -535px !important;
}
.blueBg .lightRed_whiteArrow {
	background-position: 0 -556px !important;
}
.blueBg .gray_whiteArrow {
	background-position: 0 -577px !important;
}
.blueBg .darkBlue_orangeArrow {
	background-position: 0 -598px !important;
}
.blueBg .white_blueArrow {
	background-position: 0 -619px !important;
}



.productsListLayerInside H2 {
	display: block;
	font-size: 14px;
	font-weight: bold;
}

.productsListLayerInside H2 A {
	text-decoration: none;
	padding-left: 18px;
	display: block;
}

.productsListLayerInside H2 A SPAN {
	font-size: 11px;
}

.productsListLayerInside H2 A.pinkLink {
	color: #b51E3B;
	background: url(http://www.castorama.fr/store/images/icoRedArrow.png) no-repeat 0 3px;
}

.productsListLayerInside H2 A.greenLink {
	color: #a1be23;
	background: url(http://www.castorama.fr/store/images/icoGreenArrow.png) no-repeat 0 3px;
}

.productsListLayerInside H2 A.darkblueLink {
	color: #5a7b88;
	background: url(http://www.castorama.fr/store/images/h2arr.png) no-repeat 0 3px;
}

.productsListLayerInside H2 A.lightblueLink {
	color: #41C0EB;
	background: url(http://www.castorama.fr/store/images/bulletLargeBlue.png) no-repeat 0 3px;
}

.productsListLayerInside H2 A.brownLink {
	color: #7c7564;
	background: url(http://www.castorama.fr/store/images/bulletLargeBrown.png) no-repeat 0 3px;
}

.productsListLayerInside H2 A.redLink {
	color: #eb1c24;
	background: url(http://www.castorama.fr/store/images/aroowRed.gif) no-repeat 0 3px;
}

.productsListLayerInside H2 A.blueLink {
	color: #09438b;
	background: url(icoBlueArrow.png) no-repeat 0 3px;
}

.loginLink {
	background: url(icoCloseSquare.png) no-repeat 0 3px;
	padding-left: 15px;
}