/*********************************/
/* PRINT PAGE RULES              */
/*********************************/

/* Marker for print page */
BODY.print {
	background: #fff;
}

/* Print popups */
.print .whitePopupContent {
	margin: 0;
}

/* Logo */
.print #logo {
	float: left;
}

/* Close and Print links */
.print .closeBut,
.print .imprimer {
	margin-top: 15px;
}

/* Additional info */
.print .addPrintInfo {
	margin-top: 20px;
	overflow: hidden;
}

/* Header */
.print .whitePopupContent .whitePopupHeader .addPrintInfo H1 {
	margin-top: 5px;
}

/* Date */
.print .addPrintInfo .printDate {
	font-weight: bold;
	color: #595959;
	font-size: 12px;
	clear: left;
	margin-top: 5px;
}

.floatedLeft {
	float: left;
}

.print .popupContentContainer {
	overflow: hidden;
}

/*********************************/
/* PRINT MAGASINES               */
/*********************************/

.print-magasine .whitePopupContent {
	width: 800px;
}

.print-magasine .votre-magasin {
	margin-right: 0px;
	width: 800px;
}

.votre-magasin .productBlock {
	width: 800px;
}

.print-magasine .magComment H2 {
	margin-top: 5px;
}

.print-magasine .votre-magasin .mapImage {
	margin-right: 20px;
}

.print-magasine .votre-magasin .magservices ul {
	width: auto;
	margin-right: 40px;
}

.print-magasine .productContent {
	padding-left: 20px;
}

.print .addPrintInfo P {
	background-color: #f4f4f4;
	border: 1px solid #cfcfcf;
	color: #323232;
	text-align: center;
	padding: 8px;
	margin-left:212px;
}

.print-magasine .votre-magasin .magservices {
	margin-top: 10px;
	margin-bottom: 10px;
}

.print .productImage IMG,
.print .mapImage IMG {
	display: block;
}

.print .magservices {
	padding-bottom: 14px;
}

.print.productInfo .productContent h1 {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 5px;
}

.print.productInfo .productContent .refNum {
	display: block;
	border-bottom:1px solid #D7D7D7;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.print.productInfo .productContent,
.print.productInfo .productDecription {
	width:569px;
}

.print.productInfo .productDecription a.greyLink {
	float: none;
	margin-top: 5px;
}

.print.productInfo .productDecription UL {
	display: block;
	clear: both;
	border-top:1px solid #D5D5D5;
	margin-top: 10px;
	padding: 5px 0 5px 0;
}

.print.productInfo .addPrintInfo p {
	margin: 10px 0 15px 0;
}

/* Remove elemets from paper */
@media print {
	.imprimer,
	.closeBut {
		display: none !important;
  	}
  	.whitePopupContent {
  		border: 0 !important;
  	}
}