/******************************************************************************
* isoUtils.css
******************************************************************************/

.clear, .clearBoth 	{clear:both;}

.textAlignLeft,    .textalignleft		{text-align:left;}
.textAlignRight,   .textalignright		{text-align:right;}
.textAlignCenter,  .textaligncenter		{text-align:center;}
.textAlignJustify, .textalignjustify	{text-align:justify;}

.verticalAlignBaseline,  .verticalalignbaseline	{vertical-align:baseline;}
.verticalAlignBottom,    .verticalalignbottom	{vertical-align:bottom;}
.verticalAlignMiddle,	 .verticalalignmiddle	{vertical-align:middle;}
.verticalAlignSub,		 .verticalalignsub		{vertical-align:sub;}
.verticalAlignSuper,	 .verticalalignsuper    {vertical-align:super;}
.verticalAlignTextBottom,.verticalaligntextbottom{vertical-align:text-bottom;}
.verticalAlignTextTop,	 .verticalaligntexttop	{vertical-align:text-top;}
.verticalAlignTop,		 .verticalaligntop		{vertical-align:top;}

.noBoxOffset,		.noboxoffset		{border: 0px;padding: 0px;margin:0px;}
.noBoxHeightOffset,	.noboxheightoffset	{
	border-top-width: 0px;border-bottom-width: 0px;
	padding-top: 0px;padding-bottom: 0px;
	margin-top:0px;margin-bottom:0px;
}
.noBoxWidthOffset, .noboxwidthoffset 	{
	border-left-width: 0px;border-right-width: 0px;
	padding-left: 0px;padding-right: 0px;
	margin-left:0px;margin-right:0px;
}

.floatLeft, .floatleft	{float:left;}
.floatRight,.floatright {float:right;}

.displayInline,		.displayinline		{display:inline;}
.displayBlock,		.displayblock		{display:block;}
.displayNone,		.displaynone		{display:none;}
.displayInlineBlock,.displayinlineblock	{display:inline-block;}

.overflowAuto, .overflowauto	{ overflow:auto; }

.hidden, 			.hide				{display:none;}

/* block align */
.blockLeft {
	float:left;
	display:block;
}
.blockRight {
	float:right;
	display:block;
}
.blockCenter {
	margin-left: auto;
	margin-right: auto;
	display:block;
}

.positionfloatleft {
	float:left;
	display:block;
	margin-right: 4px;
	margin-bottom: 4px;
}

.positionfloatright {
	float:right;
	display:block;
	margin-left: 4px;
	margin-bottom: 4px;
}

.positionfullleft{
	text-align:left;
	display:block;
}

.positionfullright {
	text-align:right;
	display:block;
}

.positionfullwidth {
	text-align:center;
	display:block;
}