h3.bloc_libre_bleu {
padding:10px !important;
color:#FFF;
background:#0091d3;
}
h3.bloc_libre_orange {
padding:10px !important;
color:#FFF;
background:#ff7922;
}
h3.bloc_libre_vert {
padding:10px !important;
color:#FFF;
background:#80c62c;
}
h3.bloc_libre_magenta {
padding:10px !important;
color:#FFF;
background:#c0267d;
}
.txt_essonne_img {background:#000;
width:185px;
height:73px;
}
.txt_essonne_img p {
padding:10px;
color:#FFF;
font-size:1.5em;
font-weight:bold;
}
.txt_essonne_img p a {
color:#FFF;
text-decoration:none;
}

/* Tip a Friend */
.tip .ligne {
width:100%;
clear:both;
}
.tiplabel {
font-weight:bold;
width:30%;
float:left;
}
.tipinput {
width:69%;
float:left;
}

/* Plan du site */
ul.planNiv1 {
}
li.nivo1 {
font-weight:bold;
}
ul.planNiv2 {
margin-left:30px;
font-weight:normal;
}
li.nivo2 {
}
ul.planNiv3 {
margin-left:30px;
}
li.nivo3 {
}

/*  FCE egalement */
.rightBlockInfos#egalementVert, .rightBlockInfos#egalementOrange {background-color: transparent; border-width: 0px; margin:30px 0 0 0; }
.rightBlockInfos#egalementVert h3 {padding-left: 10px; background-color: #80c62c;}
.rightBlockInfos#egalementOrange h3 {padding-left: 10px; background-color: #ff7922;}
#egalementVert #aussi	{ border-color: #80c62c; }
#egalementOrange #aussi	{ border-color: #ff7922; }
.rightBlockInfos#egalementVert h4,
.rightBlockInfos#egalementOrange h4 {font-size: 1em; color: #404040; }
#aussi	{ border: 1px solid #c0267d; border-width: 0 1px 3px 1px; width:149px !important; width:185px; width/**/:/**/149px; padding: 17px; padding-bottom: 20px; }

/* FCE lien couleur */



.leftBlockVert a, .leftBlockOrange a {color: #FFFFFF; }

.leftBlockOrange {width:190px !important; width:166px; width/**/:/**/190px; background:url(bg_block_orange.gif) left top repeat-x #ff7922; margin:0;color: #FFFFFF; padding: 21px 12px 12px 12px;}
#right .leftBlockOrange {float:left;}
#right .leftBlockOrange {width:161px !important; width:185px; width/**/:/**/161px; background:url(bg_block_orange.gif) left top repeat-x #ff7922; margin:20px 0 0 0; color: #FFFFFF; padding: 21px 12px 12px 12px;}

.leftBlockVert {width:190px !important; width:166px; width/**/:/**/190px; background:url(bg_block_vert.gif) left top repeat-x #80c62c; margin:0;color: #FFFFFF; padding: 21px 12px 12px 12px;}
#right .leftBlockVert {float:left;}
#right .leftBlockVert {width:161px !important; width:185px; width/**/:/**/161px; background:url(bg_block_vert.gif) left top repeat-x #80c62c; margin:20px 0 0 0; color: #FFFFFF; padding: 21px 12px 12px 12px;}

.blockOrange { background-color: #ff7922; width:214px !important; width: 196px; width/**/:/**/214px; padding: 3px;margin:24px 0;}
.blockBleu { background-color: #004c93; width:214px !important; width: 196px; width/**/:/**/214px; padding: 3px;margin:24px 0;}
.blockVert { background-color: #80c62c; width:214px !important; width: 196px; width/**/:/**/214px; /*padding: 3px;*/margin:24px 0;}

.dossiers a.linkThematiqueBig,
.dossiers span.linkThematiqueBig {background-image:url(bg_more_big_associations.gif);  color:#004c93;}
.dossiers span.linkThematiqueBig a	{ color: #004c93; }


/**********AJOUT RTE NE PAS EFFACER***********/


.blocQuestion{background:url(degrade_paragraphe.gif) left top repeat-x;padding:25px;width:450px;margin:12px 0;border:1px solid #CECBCB;}

.bloc_gauche_gris{background:url(degrade_paragraphe.gif) left top repeat-x;margin:10px 0px 0px 0px;padding: 21px 12px 12px 12px;border:1px solid #A9A6A6; width:188px;}

.titreRose{color:#c0267d;font-size:14px;font-weight:bold;}

.titreNoir{color:#000000;font-size:14px;font-weight:bold;}

.titreGris{color:#f2f2f2;font-size:14px;font-weight:bold;}

.soustitreNoir{color:#000000;font-size:12px;font-weight:bold;}

.soustitreRose{color:#c0267d;font-size:12px;font-weight:bold;}

/**************FCE_BLEU*************/
.fce_bleu_contener{width:214px;float:left; margin-bottom:10px;}
.entete{background:url(entete.jpg) no-repeat;width:214px;height:45px;float:left;}
.corps{background:url(corps.png) repeat-x;width:214px;float:left;}
.corps p{padding: 0px 12px 12px 12px;}
.pied_bleu{float:left;background:url(pied_bleu.jpg) no-repeat;width:214px;height:1px;}

/*************FCE ROSE**********************/
.fce_rose_contener{width:214px;float:left;margin-bottom:10px;}
.entete_rose{background:url(entete_site.gif) no-repeat;width:214px;height:44px;float:left;}
.corps_rose{background:url(corps_sites_partenaires.gif) repeat-x;width:214px;float:left;}
.corps_rose p{padding: 0px 12px 12px 12px;}
.pied_rose{float:left;background:url(bas_sites_partenaires.gif) no-repeat;width:214px;height:18px;}
/*********************************************/

/*************ANNUAIRE**************/
.entete_annuaire_bleu{background:url(entete_annuaire.gif) no-repeat;width:214px;height:44px;float:left;}


