@charset "utf-8";
/* CSS Document */

#conteneur_bloc_profils{
background:url(fond_bloc_profils.png) no-repeat;
width:185px;
height:147px;
float:left;
}
#lib{
float:top left;
position:relative;
width:175px;
margin:20px 0px 0 10px;
}

#profils{
float:top left;
position:relative;
width:175px;
margin:0 0 0 0;
padding:0 0 0 0;
}

#motscles{
float:top left;
position:relative;
width:175px;
margin:0 0 0 0;
padding:0 0 0 0;
}
.profils{
float:top left;
position:relative;
width:175px;
padding:0 0 0 0;
margin:0px 10px 0 10px;
}
.profils form{
float:top left;
position:relative;
padding:0;
margin:0;
}
.profils select{
float:top left;
position:relative;
float:left;
width:133px;
height:20px;
padding:0;
margin:0 5px 0 0;
font-size:x-small !important; font-size:xx-small; font-size/**/:/**/x-small;
}



.motscles{
float:top left;
position:relative;
width:175px;
padding:0 0 0 0;
margin:0px 10px 0 10px;
}
.motscles form{
float:top left;
position:relative;
padding:0;
margin:0;
}
.motscles select{
float:top left;
position:relative;
float:left;
width:133px;
height:20px;
padding:0;
margin:0 5px 0 0;
font-size:x-small !important; font-size:xx-small; font-size/**/:/**/x-small;
}

