@charset "utf-8";
/* CSS Document */

.conteneur_bloc_pratique{
width:214px;
float:left;
}
.tete_bloc_pratique{
background:url(tete_bloc_pratique.png) no-repeat;
width:214px;
height:33px;
float:left;
}
#corps1_bloc_pratique{
background:url(corps_bloc_pratique.png) repeat-y;
width:214px;
float:left;
}
#corps2_bloc_pratique{
background:url(corps_bloc_pratique.png) repeat-y;
width:214px;
float:left;
}
#corps3_bloc_pratique{
background:url(corps_bloc_pratique.png) repeat-y;
width:214px;
float:left;
}
#inter1_bloc_pratique{
float:left;
background:url(inter_bloc_pratique.png) no-repeat;
width:214px;
height:28px;
}
#inter2_bloc_pratique{
float:left;
background:url(inter_bloc_pratique.png) no-repeat;
width:214px;
height:28px;
}
#corps1_bloc_pratique p{
	text-align:left;
	margin:0px 0px 0px 0px;
	padding: 10px 10px 0px 15px;
}
#corps2_bloc_pratique p{
	text-align:left;
	margin:0px 0px 0px 0px;
	padding: 0px 10px 0px 15px;
}
#corps3_bloc_pratique p{
	text-align:left;
	margin:0px 0px 0px 0px;
	padding: 0px 10px 0px 15px;
}
#pied_bloc_pratique{
float:left;
background:url(pied_bloc_pratique.png) no-repeat;
width:214px;
height:25px;
}
