@charset "utf-8";
/* CSS Document */

.conteneur_site_partenaires{
width:950px;
float:left;
}
.tete_site_partenaires{
background:url(tete_sites_partenaires.png) no-repeat;
width:950px;
height:24px;
float:left;
}
#corps_site_partenaires{
background:url(corps_sites_partenaires.png) no-repeat;
width:950px;
float:left;
}
#corps_site_partenaires p{
	text-align:center;
	margin:0px 0px 0px 0px;
	padding: 5px 20px 12px 20px;
}
#pied_site_partenaires{
float:left;
background:url(pied_sites_partenaires.png) no-repeat;
width:950px;
height:30px;
}
