table#tabActu {
	border: 1px dotted #3C67E3;
	padding: 5px;
	text-align: center;
}
ul {
 margin: 5px 5px 5px 5px;
}
#italique {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	color: #FFFFFF;
}
#italique a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	color: #FFFFFF;
	text-decoration: underline;
}
p#titreActuCl {
background-image: url(transavia_rotterdam_fond.jpg); 
background-repeat: repeat-x;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: #3E77BA;
	text-decoration: blink;
	width: 210px;

	margin-left: 5px;
	padding: 5px 5px 5px 5px;
}
p#ryanActuCl {
	background-color: #00009E;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: #FFFF00;
	text-decoration: blink;
	width: 210px;
	border: 0;
	margin-left: 5px;
	padding: 5px 5px 5px 5px;
}
p#ryanActuCl a {
	background-color: #00009E;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: #FFFF00;
	text-decoration: none;
	width: 210px;
	border: 0;

	padding: 1px 5px 5px 5px;
}
p#titreActuCl a {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: #3E77BA;
	text-decoration: none;
	width: 210px;
	padding: 1px 5px 5px 5px;
}
li#accueil {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	color: #FA7236;
	text-decoration:none;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
}
li#accueil a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	color: #FA7236;
	text-decoration:none;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
}
li#accueil hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	color: #FA7236;
	text-decoration: underline;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
}
.evenements {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	color: #000000;

}
.evenements:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	color: #000000;

}
.evenements:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-decoration: underline;
	color: #000000;
}

.fondpresentation {
	background-repeat: no-repeat;
	background-position: center center;
	cursor: default;

}
.titrepage {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	text-align: left;
	color: #455F94;
}
#compagnie {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: #455F94;
}
#compagnie a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: #455F94;
	text-decoration: none;
}
#compagnie a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: #455F94;
	text-decoration: underline;
}
.titrepage:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	text-align: left;
	text-decoration: underline;
	color: #455F94;
}
.titrepage:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	text-align: left;
	text-decoration: underline;
	color: #455F94;
}
.titrerubrique {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	color: #000000;
	text-decoration: none;

}
.titrerubrique:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	text-decoration: none;
	color: #000000;
}
.titrerubrique:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	text-decoration: underline;
	color: #000000;
}
.titreRubriqueGauche {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: left;
	color: #000000;
}
.titreRubriqueGauche:link{

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	color: #000000;
}
.titreRubriqueGauche:hover {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: left;
	text-decoration: underline;
	color: #000000;
}
.titreActu {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: #455F94;
}
.lignes {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-align: center;

}
.lignes:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
	text-align: center;
}
.lignes:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #707070;
	text-decoration: underline;
	text-align: center;
}
.titeNavigBleu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #3E77BA;
	text-align: left;
	text-decoration: none;
}
.titeNavigBleu:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #3E77BA;
	text-align: left;
	text-decoration: none;
}
.titeNavigBleu:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FA7236;
	text-align: left;
	text-decoration: underline;
}
.titeNavigOrange {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FA7236;
	text-align: left;
}
.navigHaut {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	color: #000000;
	text-decoration: none;
}
.navigHaut:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	color: #000000;
	text-decoration: none;
}
.navigHaut:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	color: #FA7236;
	text-decoration: underline;
}
.date {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	text-align: right;
	color: #000000;
}
.fondDecouvrir {
	background-image: url(http://www.larochelle.aeroport.fr/css/images_accueil/fond_decouvrir.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.titreActuOrangeCentre {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: #FA7236;
}
.TexteActuGauche {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	color: #000000;
}
.TexteActuCentre {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	color: #000000;
}
#LienActuCentre {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #FA7236;
	margin: 0px;
}

#cadre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #455F94;
	margin: 0px;
	padding: 3px;
	border: 1px solid #455F94;
}

.LienActuCentre:hover {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #FA7236;
	text-decoration:underline;
}
.LienActuCentre:link {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #FA7236;
	text-decoration:none;
}
body {
	scrollbar-face-color: #4986D4;
    scrollbar-shadow-color: #010080;
    scrollbar-highlight-color: #FFFABE;
    scrollbar-3dlight-color: #010080;
    scrollbar-darkshadow-color: #010080;
    scrollbar-track-color: #2272AD;
    scrollbar-arrow-color: #FFD479;
}
IFRAME {
	scrollbar-face-color: #4986D4;
    scrollbar-shadow-color: #010080;
    scrollbar-highlight-color: #FFFABE;
    scrollbar-3dlight-color: #010080;
    scrollbar-darkshadow-color: #010080;
    scrollbar-track-color: #2272AD;
    scrollbar-arrow-color: #FFD479;
}
ILAYER {
	scrollbar-face-color: #4986D4;
    scrollbar-shadow-color: #010080;
    scrollbar-highlight-color: #FFFABE;
    scrollbar-3dlight-color: #010080;
    scrollbar-darkshadow-color: #010080;
    scrollbar-track-color: #2272AD;
    scrollbar-arrow-color: #FFD479;
}
.titreChap {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	text-align: left;
	color: #455F94;
}
.bordureTab {
	border: 1px outset #CC9966;

}
.TexteCourant {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	color: #000000;
	padding: 0px 0px 0px 5px;
}
.navBas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	color: #000000;
}
.navBas:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	color: #000000;
}
.navBas:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: underline;
	color: #FF7901;
}
.fondActu1 {
	background-image: url(http://www.larochelle.aeroport.fr/css/images_accueil/aeroport_piste.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;

}
.fondActu2 {
	background-repeat: no-repeat;
	background-position: center center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
}
.titreRubriqueRouge {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	color: #FA7236;

}
.tableauLigne {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	border: none;
	text-align: center;

}
.tableauLigneGras {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: 600;
	color: #000000;
	text-align: center;

}
.bordureTabLigne {
	color: #000000;
	border: 1px dotted #666666;
}
.fondEcran {
	background-attachment: fixed;
	background-image: url(http://www.larochelle.aeroport.fr/css/images_fond_ecran/points.gif);
	background-repeat: repeat-y;
	background-position: left top;
}
.navBasGauche {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	color: #000000;
}
.navBasGauche : link {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	color: #000000;
}
.navBasGauche : hover {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-decoration: underline;
	color: #FF7901;
}
.titeNavigOrangeCentrer {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FA7236;
	text-align: center;
	
}
#LienActuDroit{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	color: #FA7236;
	margin-top: 5px;
	margin-right: 2px;
	margin-left: auto;
	margin-bottom: auto;
	text-decoration: none;
	width: auto;
}
#image{
	float: right;
}
.evenementsPetit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	color: #000000;
}
.evenementsPetitCentrer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	color: #000000;
	text-align: center;
}
.evenementRougeGras {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	color: #FF3300;
}
