/* body */
body {
	background: #EBF1F8;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

a, a:hover, a:visited {
	color: #015BAA;	
}

/* wrapper */
#wrapper {
	width:700px;
	margin:0px auto;
	text-align:left;
	padding:0px;
	}

/* header */
#header {
	height: 70px;
	margin: 0px;
	padding: 0px;
	background-image: url(header.gif);
}

/* stripe */
#stripe {
	height: 4px;
	margin: 0px;
	padding: 0px;
}

/* introImage */
#introImage {
	background-repeat: no-repeat;
	width: 700px;
	margin: 1px 0 0 0;
}

/* introImage - news */
#introImage div.news {
	float:right;
	width: 165px;
	margin: 5px 10px 5px 0;
	background-image: url(whatsnew.gif);
	background-repeat: no-repeat;
	padding-top: 45px;
}

#introImage div.newsitem h4{
	padding: 0px 0px 0px 0px;
	margin: 0;
	color: #fff;
	font-size: 8pt;
}

#introImage div.newsitem h5 {
	padding: 0px 0px 10px 0px;
	margin: 0;
	text-align: right;
}

#introImage div.newsitem h5 a{
	color: #fff;
	font-size: 8pt;
}

/* introImage - teaser */
#introImage div.teaser {
	float:right;
	width: 165px;
	margin: 5px;
	padding-top: 15px;
	color: #fff;
	font-size: 8pt;
}

#introImage div.teaser h4{
	padding: 0px 0px 5px 0px;
	margin: 0;
	color: #fff;
	font-size: 1.6em;
}

/* introImage - line */
#introImage div.line {
	float:right;
	width: 210px;
	margin: 5px;
	padding: 15px 5px 0 0;
	color: #fff;
	font-size: 8pt;
	line-height: 17px;
}

#introImage div.line h4{
	padding: 0px 0px 5px 0px;
	margin: 0;
	color: #fff;
	font-size: 1.6em;
}

/* introImage - vision */
#introImage div.vision {
	float:right;
	width: 200px;
	margin: 5px;
	padding: 15px 5px 0 0;
	color: #fff;
	font-size: 8pt;
	line-height: 17px;
}

#introImage div.vision h4{
	padding: 0px 0px 5px 0px;
	margin: 0;
	color: #fff;
	font-size: 1.6em;
}


/* introImage - cruiser */
#introImage div.cruiser {
	float:right;
	width: 200px;
	margin: 5px;
	padding: 15px 5px 0 0;
	color: #fff;
	font-size: 8pt;
	line-height: 17px;
}

#introImage div.cruiser h4{
	padding: 0px 0px 5px 0px;
	margin: 0;
	color: #fff;
	font-size: 1.6em;
}

/* introImage - title */
#introImage div.title {
	float:right;
	width: 140px;
	margin: 5px;
	padding-top: 35px;
	color: #fff;
	font-size: 8pt;
	text-align: center;
}

#introImage div.title h4{
	padding: 0px 0px 5px 0px;
	margin: 0;
	color: #fff;
	font-size: 1.6em;
}

/* introImage - text */
#introImage div.text {
	float:right;
	width: 390px;
	margin: 5px;
	padding-top: 15px;
	color: #fff;
	font-size: 8pt;
}

#introImage div.text h4{
	padding: 0px 0px 5px 0px;
	margin: 0;
	color: #fff;
	font-size: 1.6em;
}

#content {
	width: 700px;
	margin: 0 0 0 0;
}

#contentHighlight {
	width: 180px;
	float: left;
}

#contentBody {
	background: #fff;
	padding: 10px;
	clear:both;
}

#contentBody .highlightLabel {
	background: #015BAA;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;	
}

#contentBody .newsTeaser {
	margin: 0 0 13px 0;
}

#contentBody .newsTeaser h5{
	color: #000;
	font-size: 1.2em;
	font-weight: bold;
	text-align: left;	
	padding: 0;
	margin: 0;
}

#contentBody .newsTeaser h6{
	color: #000;
	font-size: .85em;
	font-weight: bold;
	font-style: italic;
	text-align: left;	
	padding: 0;
	margin: 0;
}

#footer {
	width: 100%;
	color: #59a7e6;
	font-size: 8pt;
	font-weight: bold;
	margin: 10px 0 0 0;
}

#footer .left{
	margin: 0 0 0 0;
	padding: 0 10px 0 0;
	width: 420px;
	float: left;
}

#footer .right{
	margin: 0 0 0 0;
	padding: 0 0 0 20px;
	width: 245px;
	float: right;
	border-left: 1px #59a7e6 solid;
}

#highlight_darkblue {
	margin: 0 0 0 0;
	padding: 5px;
	float: left;
	width: 370px;
	height: 148px;
	background: #015BAA;
	color: #fff;
}

#highlight_darkblue div.intro {
	width: 170px;
	padding: 0;
	margin: 0 0 10px 0;
	float: right;
	font-size: 1.4em;
	font-weight: bold;
}

#highlight_darkblue .big {
	background-image: url(boatshow.jpg);
	font-size: 19px;
	text-align: center;
}

#highlight_darkblue p {
	padding: 0;
	font-size: 1em;
}

#highlight_darkblue p a{
	margin: 0 2px 0 0;
	color: #fff;
	float: right;
}

#highlight_darkblue span.thumbnail img {
	padding: 0;
	margin: 0 10px 0 0;
	border: 3px solid #A0C1DF;	
	float: left;
}

#highlight_lightblue {
	padding: 5px;
	margin: 0 0 0 3px;
	float: left;
	width: 307px;
	height: 148px;
	background: #A0C1DF;
	color: #fff;
}

#highlight_lightblue div.intro {
	width: 142px;
	padding: 0;
	margin: 0 0 10px 0;
	float: right;
	font-size: 1.4em;
	font-weight: bold;
}

#highlight_lightblue p {
	padding: 0;
	font-size: 1em;	
}

#highlight_lightblue p a{
	margin: 0 2px 0 0;
	color: #fff;
	float: right;
}

#highlight_lightblue span.thumbnail img {
	padding: 0;
	margin: 0 10px 0 0;
	border: 3px solid #015BAA;	
	float: left;
}

#toursmenu {
	margin: 0px;
	padding: 5px 0 5px 5px;
	width: 160px;
}

#toursmenu span.item {	
	float: left;
	margin: 0px 2.5px 0 5px;
	width: 65px;
	text-align: center;
}

#toursmenu span.item img {
	border: 1px solid #015BAA;
	padding: 0;
	margin: 0
}

#toursmenu span.item a {
	text-decoration: none;
	color: #015BAA;
	font-weight: bold;
	font-size: 1.1em;
}

p#sourcelinks {
	text-align: right;
	font-size: 12px;
	padding: 3px 10px;
	border-bottom: 1px solid #ddd;
	background: #f9f9f9;
	margin-bottom: 10px;
}

span#docscode {
	float: left;
}

#specs {
	background: #FFF;
}

#equipment {
	background: #FFF;
}

#prSlide {
	background: #FFF;
}

#brSlide {
	background: #FFF;
}

#contentBody {
	background: #FFF;
}

#modelNav {
	background: #015BAA;
	padding: 4px;
}

#modelNav .label{
	padding: 0;
	margin: 0 0 0 0;
	border: 0;
	color: #FFF;
	font-size: 8pt;
	font-weight: bold;	
}

#modelNav .model a{
	padding: 0;
	margin: 0 12px 0 0;
	border: 0;
	color: #FFF;
	font-size: 8pt;
	font-weight: bold;	
	text-decoration: none;
}

#modelNav .model a:hover{
	text-decoration: underline;
}

.textLeft {
	font-size: 1em;
	float: left;
}


.textRight {
	font-size: 1em;
	text-align: right;
}

