/*  
 * Theme Name: 		Conseil Régional du Limousin
 * Description: 	Thème pour le portail du Conseil Régional du Limousin
 * Author: 			Proximit/Le Studio Vert
 * Author URI: 		http://www.proximit.com/
 * Version:			1.0
 */

/* Général */
body {
font-family:Verdana,Arial;
color:#333;
font-size:0.7em;
}
a {
text-decoration:underline;	
color:#f90;
}
a:hover {
color:#717075;	
}
h3 {
color:#404040;
font-size:1.2em;
font-weight:bold;
margin-bottom:10px;
margin-top:10px;
}
h4 {
font-size:1.2em;
margin-bottom:7px;
margin-top:7px;
color:#F90;
}
h5 {
color:#f90;
font-size:1em;
font-weight:bold;
padding-bottom:10px;
padding-left:10px;
}
h6 {
color:#f90;
font-size:0.9em;
font-weight:bold;
padding-bottom:10px;
padding-left:20px;	
}
p {
margin-bottom:5px;	
line-height:1.5em;
color:#575757;
}
input {
color:#666;	
}
.bold {
font-weight:bold;
}
/* Spécifiques */
	/* Liens */
div#menu a {
text-decoration:none;
}
div#menu a:hover {
border-bottom:1px solid #f90;
padding-bottom:5px;
}	
div#menu ul ul.niveau2 li a:hover {
background:transparent url(puce_menu.png) no-repeat 10px center;
}
div#menu a, div.encart_raccourcis a, ul.plan2 a, div.accordion_content a, ul.agenda a, div.credits a, li.titre_v ul a, div.blocs_destination a, div.blocs_destination a {
color:#717075;
}
div.blocs_destination a {
text-decoration:none;
}
div#menu a:hover, div.encart_raccourcis a:hover, ul.plan2 a:hover, div.accordion_content a:hover, ul.agenda a:hover, div.credits a:hover, li.titre_v ul a:hover, div.blocs_destination a:hover {
color:#f90;
}
p.rssactions a {
text-decoration:none;
}
div#footer a {
color:#333;
text-decoration:none;
}
div#footer a:hover {
color:#fff;
}
li.titre_v a {
font-size:1.1em;
text-decoration:none;
color:#717075;
}
li.titre_v a:hover {
color:#f90;	
}
.actif a {
color:#f90 !important;
}
.actif a:hover {
color:#717075 !important;	
}
li.titre_v ul a {
border-bottom:0;
font-size:1em;
color:#717075 !important;
text-decoration:none;
}	
li.titre_v ul li.actif a {
	color:#f90 !important;
}
li.titre_v ul a:hover {
color:#f90 !important;
}
div.bas_page a {
text-decoration:none;
}
ul.plan1 li a {
font-weight:bold;
}
ul.plan2 li a {
font-weight:normal !important;
}
div.accordion_content ul li a {
text-decoration:none;
}
h4.blocs_titre a, h4.blocs_replie  a  {
text-decoration:none;
}


	/* Paragraphes */
div#breadcrumb p {
font-size:1em;	
}
form#form_search p {	
padding-bottom:2px;
padding-top:0;
}
div#footer p {
color:#fff;
margin-top:10px;
font-weight:bold;
font-size:1em;
}
div#footer ul {
font-size:0.9em;	
}
div#footer p.planSite {
font-size:1.2em;
}
p.coordonnees {
color:#333 !important;
font-weight:normal !important;
}
div.site p {
margin-bottom:0;
margin-top:10px;
padding-left:10px;
padding-bottom:0px;
}
p.titredoc {
font-size:1.1em;
}
p.liresuite  {
font-style:italic;
padding-right:10px;
text-align:right;
}
p.recherche {
font-weight:bold;
font-size:1.2em;
}
p.maisons {
font-weight:normal !important;
padding-right:20px;
padding-top:6px;
color:#333 !important;
}
	/* Titres */
.titre {
color:#f90;
font-weight:bold;	
}
h3.first {
font-size:1.4em;
font-weight:bold;	
} 
h3.titreArticle, div.entete h3 {
color:#F90;
font-weight:bold;
font-size:1.6em;
margin-bottom:10px;
text-align:left;
margin-top:0;
width:500px;
}
	
h4.trans {
background:transparent url(h4trans.png) no-repeat scroll left top !important;
color:#fff;
padding-bottom:5px;
padding-left:12px;
padding-top:5px;
margin-bottom:0;
}
div.encart_acc h4 {
color:#fff;	
margin-bottom:0;
}
div.col_apropos h4, div.cartographie h4, div.col_apropossearch h4 {
color:#fff;
margin-bottom:0;
padding-bottom:5px;
padding-left:12px;
padding-top:5px;
}
div.galerie h4 {
color:#fff;
}
div.resultat h4 {
	color:#f90 !important;
}
div.cartographie h4 {
padding-top:1px;
}
div.encart_acc h3 {
color:#333;	
font-weight:bold;
font-size:1.1em;
}
div.encart_acc h3 span {
font-weight:bold;
}
div.accordion_toggle, div.site h5 {
color:#f90;
font-size:1.1em;
border-bottom:1px solid #f90;
padding:10px 0 10px 10px;
font-weight:normal;
}
div.docs h4 {
margin-top:10px;
font-size:1.2em !important;
}
div.articles h3 {
color:#f90;	
}
div#texte h4 {
color:#666;
font-size:1.1em;
font-weight:bold;
}
/* Menus */
div#menu {
font-size:1.2em;
}


/* formulaire gagnez des places */

div.form_gagnez input, div.form_gagnez textarea, div.form_gagnez select{
	border:1px solid;
}

div.form_gagnez textarea{
	margin-bottom:20px;
	width:250px;
}


div.form_gagnez input.radio{
	margin-left:7px;
	margin-right:15px;
	padding-top:3px;
}


div.form_gagnez input.submit{
	margin-left:270px;
}

div.form_gagnez label{
	display:block;
	float:left;
	width:110px;
}

div.form_gagnez p{
	margin-top : 10px;
	margin-bottom : 10px;
}

input.valide_gagnez {
	left:150px;
}

div.gagnez {
	_margin-left:100px !important;
	_width:460px;
}