.tx-basecontactcggard-pi1{
	float:left;
	width:28em;
margin-right:1em;
}
.tx-basecontact-pi1{
	/*float:left;
	width:47em;
	margin-left:1em;*/
}

.bc_map_container {
/*	clear:both;
	float:right;*/
	height:400px;
	width:47em;
}
.base_contact_cartes .bc_map_container{
	float:right;
}
.base_contact_cartes .tx-basecontact-pi1 .nav{
clear:both;
}
.tx-basecontactcggard-pi1 form{
	margin : 3em 0;
}
.tx-basecontactcggard-pi1 form .input{
	border:none;
	background:none;
	background:#FDC600;
	color:#FFF;
	font-weight:bold;
	padding:0.2em;
	margin-top:1em;
}

.tx-basecontactcggard-pi1  .types{
	float:left;
	width:49%;
	margin-bottom:0.5em;
}

.tx-basecontact-pi1 .annuaire_militant_gout{
margin-top:1em;
float:right;
margin-left:1em;
width:27.62em;
}
.tx-basecontact-pi1 .annuaire_militant_gout form{
margin-top:1em;
}
.tx-basecontact-pi1 .annuaire_militant_gout h3{
background:none;
border:0 none;
}
.tx-basecontact-pi1 .annuaire_militant_gout h3.annuaire49{
display:none;
}
.tx-basecontact-pi1 .annuaire_militant_gout h3:hover{
	text-decoration:none;
}
.tx-basecontact-pi1 .annuaire_militant_gout label{
padding-left:0.5em;
}
.tx-basecontact-pi1 .annuaire_militant_gout h3 a{
color:#000;

}
.tx-basecontactcggard-pi1  .types ul{
	position:absolute;
	z-index:10;
	background:#FFF;
	display:none;
	/*width:26%;*/
	width:50%;
	border:dashed 1px #FDC600;
	padding:0.5em;
	position:absolute;
	left:30%;
	top:45%;
}

.clear{
clear:both;
}

.tx-basecontactcggard-pi1 h3{
	font-weight:normal;
	cursor:pointer;
}

.tx-basecontactcggard-pi1 h3:hover{
text-decoration:underline;
}

.tx-basecontactcggard-pi1 .types h3,
.tx-basecontactcggard-pi1 .types h3.reduit{
	background:url('plus.gif') no-repeat left top;
	padding-left:1em;
	display:inline;
}



.tx-basecontactcggard-pi1 .types h3.actif{
	background:url('minus.gif') no-repeat left top;
}

.tx-basecontactcggard-pi1 ul li.fermer{
	cursor:pointer;
	text-align:right;
}

.tx-basecontact-pi1 ul.liste_selects{
margin:1em 0 1em 0em;
width:29em;
float:left;
}
.tx-basecontact-pi1 ul.liste_selects li{
margin-left:0;
}

.tx-basecontactcggard-pi1 .types span.select{
display:block;
font-size:0.8em;
font-style:italic;
margin:0.2em 0;
}
.tx-basecontactcggard-pi1 p {
margin:1em 0;
text-align:justify;
}
.tx-basecontactcggard-pi1 .rapide{
margin-top:2em;
}
.tx-basecontactcggard-pi1 .rapide select option.cat{

}
.tx-basecontactcggard-pi1 .rapide select option.type{
font-weight:bold;
}
.tx-basecontactcggard-pi1 .rapide select option.stype{
padding-left:1em;
}

.tx-basecontact-pi1 span.label{
	display:none;
}

.tx-basecontact-pi1 table.lieux {
clear:both;
}