/*
largeur du site : 980 px;
largeur des colonnes: 196/568/196 px

#fdc600 : Jaune titre
#dcdcdc : Cadre gris
#870267 : Cadre violet
#9c9d9f : Footer, MenuHaut, border Input Recherche, Ariane
#0079bc : MenuHaut sel ou survol, MenuHaut Sous menu
#007cbf : Liens
*/
*{
	margin: 0;
	padding: 0;
}

body{
	text-align: center;
	font-family: Arial;
	font-size: 1em;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

a img{
	border: none;
}

ul li,
.tx-basecontact-pi1 ul li{
	margin-left: 1em;
}

ul.menu, ul.smenu, ul {
list-style: none;
}

.tx-basecontact-pi1 fieldset.simplesearch {
color:#5B5B59;
/*float:left;
margin-right:1em;
border:1px solid #DDDDDD;*/
padding:1em;
border:none;
}

.tx-basecontact-pi1 fieldset.simplesearch div.criteria_line {
margin-bottom: 0.5em;
float: left;
}

.tx-basecontact-pi1 fieldset.simplesearch div.criteria_line label {
display:block;
float:left;
width:6em;
}

.tx-basecontact-pi1 fieldset.simplesearch div.criteria_line select {
width: 20em;
}

.tx-basecontact-pi1 fieldset.simplesearch div.criteria_line input {
width: 19.4em;
}

.tx-basecontact-pi1 fieldset.simplesearch div.criteria_button input {
border: none;
color: #FFFFFF;
background-color:#007CBF;
padding:0.1em 1em;
float: right;
}

.tx-basecontact-pi1 fieldset.simplesearch div.criteria_button {
/*margin-top: 2em;*/
margin-right: 4em;
text-align: center;
}

.tx-basecontact-pi1 table {
border-collapse:collapse;
margin-top:0.55em;
}

.tx-basecontact-pi1 table td {
border-bottom: 1px solid #DDDDDD;
padding:0.1em 2em;
text-align:left;
font-size: 0.9em;
}

#container #colc .tx-basecontact-pi1 div.nav ul {
margin: 0;
padding: 0;
}

.tx-basecontact-pi1 div.nav ul li {
display: inline;
}

.tx-basecontact-pi1 table td a {
color: #F57900;
text-decoration: none;
}

.tx-basecontact-pi1 table td a:hover {
text-decoration: underline;
}

.tx-basecontact-pi1 table th {
background-color:#EEEEEE;
/*border:1px solid #999999;*/
color:#999999;
/*font-size:1.1em;*/
font-weight:normal;
padding:0.1em 3em;
text-align:center;
}

#container #colc .tx-basecontact-pi1 div.details ul {
list-style-type:none;
font-size: 1.2em;
padding-right: 185px;
padding-left: 0;
}

#container #colc .tx-basecontact-pi1 div.details ul li {
margin-bottom: 0.5em;
list-style-type:none;
}

#container #colc .tx-basecontact-pi1 div.details ul li span.titre {
font-weight: bold;
color: #F57900;
display: block;
}

select{
	border: 1px solid #CCCCCC;
	width:auto;
	margin-bottom:0.3em;
}

.clearer{
	clear: both;
}

.col1{
	float: left;
	padding: 0;
	margin: 0 0.73em 1em 0;
	width: 48%;
	clear: both;
}
#container #colc .actualite .news-latest-item{
	clear: none;	
	margin: 0 0.6em 1em 0.72em;
	width: 47%;
	float: left;
	padding: 0;
}

.col2{
	float: left;
	padding : 0;
	margin : 0 0 1em 0.73em;
	width: 48%;
}

.col_principale{
  float:left;
  padding : 0.2em 0.73em 0.2em 0.2em;
  margin-bottom : 0.5em;
  width : 62%;
}

.col_secondaire{

  float:left;
  padding : 0.2em 0.2em 0.2em 0.73em;
  margin-bottom : 0.5em;
  width : 31%;
}

.hide{
display: none;
}
/*** Mise en place ***/
#container{
	width: 981px;
	margin: 0 auto;
	text-align: left;
	font-size: 0.8em;
}

#container #conteneur
{
  margin-top:12px;
}

#container div.fond_gris
{
  background-color:#F3F3F3;
  padding : 0.5em;
}

#container div.zone
{
}

#container #colg{
	width: 196px;
	float: left;
}

#container #colc{
	width: 567px;
	float: left;
          padding:0 14px 0 8px;
          	text-align: justify;
}

body div.conseil-general div#container div#colc.colc2 {
width: 760px;
}

#container #cold{
	width: 196px;
	float: right;
}

#container #footer{
	/*clear: left;*/
	clear:both;
	padding-top:0.5em;
}
/*** fin Mise en place ***/


/*** menuTop ***/
#container #menuTop{
	float: right;
	/*width: 465px;*/
	/*width:245px;*/
	font-size : 13px;
}
#container #menuTop #menu{
	float: left;
	margin-right: 1em;
}
#container #menuTop .menu{
	list-style: none;
	padding: 0.3em 0 0 0;
}

#container #menuTop .menu li{
	border-right: 1px solid black;
	float: left;
	padding: 0 0.5em;
}

#container #menuTop .menu li a{
	color: #666666;
	font-size: 13px;
	font-weight: bold;
}



#container #menuTop fieldset
{
  border : none;
}

#container #menuTop #recherche{
float:right;
margin-top:0px;
}
#container #menuTop .text{
	border: none;
	color: #ADAEC1;
	border-top: 1px solid #9c9d9f;
	border-left: 1px solid #9c9d9f;
	border-bottom: 1px solid #9c9d9f;
	height: 17px;
	margin: 0 -5px 0 0;
}
#container #menuTop input.text{
	float: left;
	margin-top: 0.25em;
}
#container #menuTop .submit{
	border: none;
	background: url(okRch.jpg) no-repeat right 3px;
	width: 24px;
	height: 22px;
	cursor: pointer;
}
#container #menuTop input.submit{
	float: left;
}
/*** fin menuTop ***/
#banniere{
	margin: 0 0 2px 0;
	position: relative;
	z-index: 0;
	clear:right;
}
/*** menuHaut ***/
#container #menuHaut .menu{
	height: 2em;
	position: relative;
}
#container #menuHaut .menu li{
	width: 195px;
        display:inline;
        float:left;
	height: 1.6em;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	font-size: 1.1em;
	text-transform:uppercase;
	background-color: #9c9d9f;
	padding-top:0.4em;
	border: none;
	border-right: 1px solid #ffffff;
	cursor: pointer;
	margin-left: 0;
}

#container #menuHaut .menu li a,
#container #menuHaut .menu li a:hover{
	width: 100%;
	color: #ffffff;
	text-decoration: none;
}

#container #menuHaut .menu li.courant,
#container #menuHaut .menu li.hover{
	float: left;
	text-align: center;
	background-color: #FDC600;
}


#container #menuHaut .menu .smenu{
	clear: left;
	background-color: #FDC600;
	/*height: 1.5em;*/
	text-align: center;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	padding: 0.2em 0 0.3em 0;
	margin: 0.4em 0 0 0;
	width: 979px;
	position: absolute;
	left: 0;
	top: 1.6em;
	display: none;
	z-index: 10;
}

#container #menuHaut .menu .courant .smenu{
	display: block;
}

#container #menuHaut .menu .smenu-blanc{
	clear: left;
	background-color: #ffffff;
	/*height: 1.55em;*/
	text-align: center;
	border-right: 1px solid #ffffff;
	padding: 0.2em 0 0.3em 0;
	margin: 0.4em 0 0 0;
	width: 979px;
	position: absolute;
	left: 0;
	top: 1.6em;
	display: none;
}

#container #menuHaut .menu .smenu li{
	display : inline;
        float:left;
	color: #ffffff;
	font-weight: normal;
	text-transform: none;
	font-size: 0.9em;
	background-color: transparent;
	padding: 0.2em 1em 0.3em 1em;
	border: none;
	border-right: 1px solid #ffffff;
	width: auto;
	float: none;
}

#container #menuHaut .menu .smenu .act a
{
  cursor:text;
  font-weight : bold
}

#container #menuHaut .menu .smenu li.last{
	border: none;
	border-right: none;
}

#container #menuHaut .menu .smenu li a{
	color: #ffffff;
	text-align: center;
}
/*** fin menuHaut ***/

/*** ariane ***/
#ariane,
#ariane a{
	color: #9c9d9f;
}

#ariane{
	clear: left;
	margin: 1em 0 0.2em 0;
	font-size: 0.85em;
	position: relative;
}
/*** fin ariane ***/

/*** colg ***/
#container #colg select,
#container #cold select
{
  width : 100%
}

#container #colg #visite{
	background-color: #dcdcdc;
	padding: 0.8em 0.5em 0.8em 0.6em;
	margin: 0 0 1em 0;
}

#container #colg #visite p{
	font-size: 1.1em;
	margin: 0.5em 0;
}

#container #colg #visite select{
	background-color: #ffffff;
	padding: 0;
}

#container #colg #gardDurable{
	background: #870267 url(puce_gard.jpg) no-repeat top right;
	color: #ffffff;
	padding: 0.8em 0.5em 0.5em 0.5em;
	margin: 0 0 1em 0;
}

#container #colg #gardDurable h3{
	font-size: 1.36em;
	font-weight: bold;
	margin: 0 0 1em 0;
}

#container #colg #gardDurable h3 span{
	color: #fdc600;
	margin:0;
	padding:0;
	background : none;
}

#container #colg #gardDurable p{
	font-size: 0.9em;
	text-align: justify;
	color: #ffffff;
}

#container #colg #menuGauche
{
	margin-bottom : 1em;
}

#container #colg #menuGauche a
{
	text-decoration: none;
}


#container #colg #menuGauche .stitre,
#container #colg #menuGauche .courant
{
        padding-top:8px;
}

#container #colg #menuGauche .stitre a,
#container #colg #menuGauche .courant a
{
	font-size: 1.25em;
	color: #fdc600;
	font-weight : bold;
}

#container #colg #menuGauche .smenu li a{
	color: #5b5b59;
	font-size:1em;
	font-weight : normal;
	padding:0.4em 0 0.4em 1.5em;
	display	: block;
}

#container #colg #menuGauche .smenu li{
	border-top: 1px solid #d6d6d8;
	border-bottom: 1px solid #f5f5f5;
	border-left: 3px solid #ffffff;
	/*padding:0.4em 0 0.4em 1.5em;*/
	/*font-size: 1.1em;*/
}

#container #colg #menuGauche .smenu li a:hover{
	background: #F3F3F3;
}
#container #colg #menuGauche .smenu li.last{
	border-top: 1px solid #d6d6d8;
	border-bottom: 1px solid #d6d6d8;
}

#container #colg #menuGauche .smenu li.act{
	border-top: 1px solid #d6d6d8;
	border-bottom: 1px solid #f5f5f5;
	border-left: 3px solid #FDC600;
}

#container #colg #menuGauche .smenu li.courant{
  background-color : #F3F3F3;
}

#container #colg #menuGauche .smenu li a:hover{
  color : #0079BC;
}

#container #colg #menuGauche .smenu li .ssmenu li{
  border-color : #FFFFFF;
  border:0;
  padding-left : 10px;
  padding-right : 0;
  padding-bottom : 3px;
  padding-top : 3px;
}

#container #colg #menuGauche .smenu li .ssmenu{
	margin-left: 1.5em;
}

#container #colg #menuGauche .smenu li .ssmenu li span.li_onblur,
#container #colg #menuGauche .smenu li .ssmenu li span.li_onfocus
{
  width : 9px;
  height : 9px;
  float : left;
  margin : 7px 5px 0 0;
}

#container #colg #menuGauche .smenu li .ssmenu li span.li_onblur
{
  background: transparent url(li_onblur.gif) no-repeat scroll left top;
}

#container #colg #menuGauche .smenu li .ssmenu li span.li_onfocus
{
  background: transparent url(li_onfocus.gif) no-repeat scroll left top;
}

#container #colg #menuGauche .smenu li .ssmenu li span a {
  color : #5B5B59;
  font-size : 0.85em;
}

#container #colg #menuGauche .smenu li .ssmenu li span a:hover {
  color : #dc002e;
}

#container #colg #visite {
	font-weight:bold;
}	
/*
#container #colg #menuGauche .smenu li .ssmenu li a:hover {
  color : #dc002e;
}
*/



#container #colg #phototheque{
	margin: 0 0 1em 0;
	clear: left;
	float : left;
}
#container #colg #phototheque h3, #container #colg #phototheque h3 span {
	background: #000;
	padding-left:0;
	text-align:center;
	color: #ffffff;
	text-transform:uppercase;
	font-size: 0.95em;
	padding:0.5em 0 0.5em 0em;
	text-align: center;
}
#container #colg #phototheque h3 span{
	padding: 0;
}
#container #colg #phototheque ul{
	background-color: #C0C0C0;
	float:left;
	width:100%;
	position: relative;
}
#container #colg #phototheque ul li{
	float: left;
	color: #5B5B59;
	text-align: center;
	border: none;
	//border-bottom: 1px solid #ffffff;
	width: 50%;
	margin:0.2em 0;
}
#container #colg #phototheque ul li a{
	color: #5B5B59;
	text-align: center;
font-weight: bold;
}
#container #colg #phototheque ul li a:hover{
	text-decoration:underline;
}

#container #colg #phototheque .text{
	background-color: #000000;
	color: white;
	margin: 7.5em 0 0 8.9em;
	padding: 0.2em;
	position: absolute;
	width: 6em;
	text-align: center;
	opacity: 0.5;
}
#container #colg #phototheque .photo,
#container #colg #phototheque .video{
	background:#DCDCDC;
	clear:both;
}
#container #colg #phototheque .photo p,
#container #colg #phototheque .video p{
	text-align:center;
}
#container #colg #phototheque .photo a,
#container #colg #phototheque .video a{
	color:#5B5B59;
}
#container #colg #phototheque .photo{
	display:none;
}
#container #colg #phototheque .video{
	float: left;
	margin-top: -0.3em;
}
#container #colg #phototheque dl{
margin:0;
padding:0;
}
/*** fin colg ***/
#container #outils{
	background-color: transparent;
	height: 2.1em;
	margin:5px 0 0 580px;
	position: absolute;
	text-align: right;
	width: 190px;
}

#container #outils.outils2{
	margin:5px 0 0 780px;
}
.accueil #container #outils, .ss_accueil #container #outils{
	margin-left: 1em;
	position: relative;
	width: auto;
	float: left;
	margin-top: 0;
}
#container .tx-efafontsize-pi1
{
  display : inline;
}

#container #outils ul li{
	display: inline;
	/**padding: 0 1em;**/
}

#container #outils ul li a{
	color : #F57900;
}
#container #outils ul li.ecouter {
	margin-bottom:5px;
	margin-left:-72px;
	margin-right:-72px;
	margin-top:5px;
	position:absolute;
}

#container .ecouteraccueil{
	color : #F57900;
	position:absolute;
}

#container #ecout1, #ecout2, #ecout4 {
margin-left:39em;
margin-top:0.8em;
}

#container #ecout3, #container #ecout5 {
margin-top:0.8em;
margin-left:16em;
}

#container #ecouter{
	float : right;
}

/*** colc ***/
#container div#colc.colc2 .tx-basecontact-pi1 h2 span {
display:none;
}

#container #colc h2 span,
#container #cold h2 span,
.tx-basecontactcggard-pi1 h2 span,
.tx-basecontact-pi1 h2 span

{
	background: #fdc600 url(puce_titre.jpg) no-repeat center left;
	color : #ffffff;
	font-size: 1.1em;
	width: auto;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	padding-left: 30px;
	padding-right:0.3em;
}
#container #colc h2 a span.list_actu{
	color: #fff;
}

#container #colc h2 a:hover span.list_actu{
	color: #fff;
	text-decoration: underline;
}

#container #colc h2,
#container #cold h2
{
  /*border-bottom:2px dotted #fdc600;*/
  /*max-width:19.8em;*/
  max-width:16.8em;
  margin-bottom:0.5em;
  text-align : left;
}
#container #colc h2.all{
	max-width: none;
}

#container #colc .news-single-item h2,
#container #colc  .csc-header-n2 h2{
	max-width:none;
}
.accueil #container #colc h2,
.tx-basecontactcggard-pi1 h2,
.tx-basecontact-pi1 h2{
/*	width: 10em;*/
  max-width:none;
	background: url(bordure_titre_accueil.jpg) repeat-x bottom left;
}
.accueil #container #colc h2 span,
.tx-basecontactcggard-pi1 h2 span,
.tx-basecontact-pi1 h2 span{
	padding-bottom: 1px;
}


#container #colc h3, #container #colc .actualite .news-latest-item h3
{
  font-size:1.2em;
  color : #000000;
  color : #FDC600;
  margin-bottom:0.4em;
  margin-top:0.2em;
  text-align : left;
}
.accueil #container #colc h3{
	font-size: 1em;
}
#container #colc h3.titre, #container #colc .csc-header.csc-header-n2 h3 {
    /*background: url(img/bordure_titre_jaune.jpg) repeat-x bottom left;*/
}
.inforoute #container .news-latest-container h3.titre{
	background: url(bordure_titre_jaune.jpg) repeat-x bottom left;
	font-size:1.2em;
	margin-bottom:0.4em;
margin-top:0.2em;
text-align:left;
}


#container #colc h3.titre span, #container #colc .csc-header.csc-header-n2 h3 span, .inforoute #conteneur .news-latest-container h3.titre span{
   color: #FDC600;
}
.inforoute #conteneur .news-latest-container h3.titre span{
background:#FFFFFF none repeat scroll 0 0;
border:medium none;
}
#container #colc h3 span
{
  background: #fff;
  padding-right: 0.1em;
}

#container #colc h4
{
  margin-bottom:0.5em;
  margin-top:0.5em;
  font-size : 1.15em;
  text-decoration:underline;
}
#container #colc .autrePublication h4{
	font-size: 1.5em;
	margin-left: 1em;
	cursor: pointer;
	background: url(triangle_droite2.jpg) no-repeat left center;
	padding-left: 0.8em;
	text-decoration: none;
}
#container #colc .autrePublication h4:hover{
	text-decoration: underline;
}
#container #colc .autrePublication .contentPublication{
	display: none;
}
#container #colc .autrePublication .contentPublication a{
	text-decoration: underline;
	color: #000;
}
#container #colc .autrePublication .contentPublication img{
	/*max-width: 80px;
	height: auto;*/
}
#container #colc .autrePublication .contentPublication h5{
	color:#FDC600;
	font-size:1.2em;
	margin-bottom:1em;
	margin-top:0.2em;
	text-align:left;
}
.accueil #container #colc h4{
	font-size: 1.25em;
}
.news-latest-item .news-single-video{
	padding-right: 0.5em;
}

.accueil #container #colc h3,
#container #colc .user-manifestations-search h3,
#container #colc .news-single-item h3
{
  border : none;
}
#container #colc .news-single-imgcaption,
#container #colc .news-single-img-miniaturecaption{
	display: none;
}
#container #colc .news-single-item p.chapeau{
	font-style:italic;
	color: #000;
}
#container #colc p{
	color:#5B5B59;
	font-size:0.9em;
	margin-bottom:0.7em;
}
.inforoute #container .news-latest-container  p{
color:#5B5B59;
font-size:0.9em;
margin-bottom:0.7em;
}
#container #colc ul{
	padding: 0 0 0 2em;
	margin:0 0 1em 0;
}

#container #colc ul li,
.tx-basecontact-pi1 ul li{
	font-size: 0.9em;
	color: #5b5b59;
}

#container #colc ul li{
	list-style-type:disc;
}

#container #colc .alaune{
	margin: 0 0 1em 0;
}

#container #colc .alaune img{
	float: left;
	margin: 0 0.5em 0.5em 0;
}

#container #colc .alaune h3{
	font-size: 1.4em;
	margin: 0 0 0.7em 0;
}

#container #colc .alaune p{
	font-size: 0.9em;
}

#container #colc .alaune a{
	float: right;
}

#container #colc .actus{
	clear: left;
	margin: 0 0 1em 0;
}

#container #colc .actus .actu{
	float: left;
	width: 267px;
	margin: 0 17px 0 0;
}

#container #colc .actus .actu img{
	width: 267px;
}

#container #colc .deuxcols{
	clear: left;
	margin: 0 0 1em 0;
}

#container #colc .deuxcols .col1,
#container #colc .deuxcols .col2{
	float: left;
	width: 267px;
	margin: 0 17px 0 0;
}

#container #colc .breve img{
	float: left;
	margin: 0 0.5em 0 0;
}

/*#container #colc .breve p{
	padding: 0 0 0 5.45em;
}*/

#container #colc .paroles{
	clear: left;
	margin: 0 0 1em 0;
}

#container #colc .paroles .parole{
	float: left;
	width: 267px;
	margin: 0 16px 0 0;
}

#container #colc .paroles .parole img{
	float: left;
	margin: 0 0.5em 0.7em 0;
}

#container #colc .paroles .parole h3{
	color: #007cbf;
	font-size: 0.9em;
}

#container #colc .paroles .parole span{
	font-weight: bold;
	font-size: 0.9em;
}

#container #colc .paroles .parole p{
	clear: left;
}

/* TT NEWS */
#container #colc .news-latest-item{
	margin: 0 0 1em 0;
	clear: both;
}
#container #colc .news-latest-item.video{
	clear: none;
}
#container #colc .news-latest-item img{
	float: left;
	margin: 0 1em 0.5em 0;
	height : auto;
}
.inforoute #container .news-latest-item img{
	margin: 0 1em 0.5em 0;
	height : auto;
}

#container #colc .actualite-latest img{
	width : auto;
}

#container #colc .news-latest-container_all .news-latest-item img{
	width: auto;
}
#container #colc .news-latest-item.breve img{
	float: left;
	margin: 0 0.5em 0.5em 0;
}

#container #colc .news-latest-item h3{
	font-size: 1.4em;
	margin: 0 0 0.7em 0;
  color : #000000;
}

#container #colc .news-latest-item h3 a, #container #colc .news-latest-item h4 a, .inforoute #container .news-latest-item h4 a{
	color: #000000;
	float: none;
}
#container #colc .news-latest-item.rubrique h4{
	line-height: 0.7em;
}
#container #colc .news-latest-item.rubrique h4 a{
	font-size: 0.75em;
}
#container #colc .news-latest-item h4 {
	text-decoration:none;
text-align:left;
font-size: 1.5em;

}
.inforoute #container  .news-latest-item h4{
	text-decoration:none;
text-align:left;
font-size: 1em;

}

#container #colc div.col1 .news-latest-item h4, #container #colc div.col2 .news-latest-item h4 {
font-size: 1.25em;

}

#container #colc .news-latest-item h4

#container #colc .news-latest-item p{
	font-size: 0.9em;
	text-align : left;
}

#container #colc .news-list-container{
	clear: left;
	margin: 0 0 1em 0;
}

#container #colc .news-list-item{
	float: left;
	width: 267px;
	margin: 0 16px 0 0;
}

#container #colc .news-list-item h3 a{
	color: #000000;
	float: none;
}

#container #colc .news-list-item img{
	width: 267px;
	height: auto;
}

#container #colc .news-list-item.parole img{
	width: auto;
}

#container #colc .news-list-item .news-list-morelink a, #container #colc .news-latest-item .news-latest-morelink a, .inforoute #container .news-latest-item .news-latest-morelink a{
	/*display: block;
	text-align: right;
	color:#0079BC;*/
	float:right;
	color:#000;
	font-size: 0.8em;
	text-decoration: underline;
	font-weight: bold;
}

#container #colc .news-single-backlink {
	clear:both;
	margin:1em 0;
}

#container #colc .news-single-backlink a{
	color:#0079BC;
}

#container #colc .news-single-item img{
	float: left;
	margin: 0 1em 0 0;
}
/* TT NEWS */

/* RECHERCHE */
#container #colc .tx-indexedsearch .tx-indexedsearch-res{
	margin: 0.5em 0 0 0;

	}
#container #colc .tx-indexedsearch .tx-indexedsearch-res li{
	color: #FDC600
}
#container #colc .tx-indexedsearch .tx-indexedsearch-res h3.titre{
	/*background:transparent url(img/bordure_titre_jaune.jpg) repeat-x scroll left bottom;*/
}
#container #colc .tx-indexedsearch .tx-indexedsearch-res h3.titre span a{
	color:#FDC600;
	text-decoration: underline;
}

#container #colc .tx-indexedsearch .tx-indexedsearch-icon,
#container #colc .tx-indexedsearch .tx-indexedsearch-result-number,
#container #colc .tx-indexedsearch .tx-indexedsearch-percent{
	display: none;
}

#container #colc .tx-indexedsearch .tx-indexedsearch-title a{
	/*color: #000000;*/
}

#container #colc .tx-indexedsearch .tx-indexedsearch-descr{
	padding: 0 0 0 0.5em;
	border: none;
	border-left: 2px solid #fdc600;
}

#container #colc .tx-indexedsearch .tx-indexedsearch-descr .tx-indexedsearch-redMarkup{
	color: #5B5B59;
}

#container #colc .tx-indexedsearch .tx-indexedsearch-info{
	display: none;
}
/* RECHERCHE */
/* MAIL */
#mailform fieldset{
	border: none;
}
#mailform fieldset .csc-mailform-field{
	margin: 0.5em 0;
}
#mailform fieldset .csc-mailform-field label{
	clear: left;
	float: left;
	width: 9em;
}
#mailform fieldset .csc-mailform-field #mailformformtype_mail{
	border: none;
	cursor: pointer;
	color: #ffffff;
	background-color: #FDC600;
	margin: 0 0 0 6.8em;
	padding: 0.2em;
}
#mailform fieldset .csc-mailform-field .csc-mailform-radio input{
	float: left;
	margin-right: 1em;
	clear: both;
	margin-top: 0.2em;
}
#mailform fieldset .csc-mailform-field .csc-mailform-radio label{
	float: none;
	clear: none;
}
/* MAIL */
/* SITEMAP */
#container #colc .csc-sitemap ul{
	margin: 0;
}

#container #colc .csc-sitemap ul li{
	font-size: 1em;
	list-style: none;
}

#container #colc .csc-sitemap ul li a{
	color: #000000;
}

#container #colc .csc-sitemap ul li ul{
	margin: 0;
}

#container #colc .csc-sitemap ul li ul li{
	font-size: 1em;
	list-style: disc;
}

#container #colc .csc-sitemap ul li ul li ul li{
	font-size: 1em;
	list-style: square;
}

#container #colc .csc-sitemap ul li ul li ul li ul li{
	font-size: 1em;
	list-style: circle;
}
/* SITEMAP */
/* USER-MANIFESTATIONS */
.user-manifestations-calPrev,
.user-manifestations-manifsCulturelles,
.user-manifestations-status{
	display: none;
}

.user-manifestations-search dt{
	font-weight: bold;
}
#container #colc .user-manifestations-search .user-manifestations-categories li{
	color:#0079BC;
}

#container #colc .user-manifestations-search dd.user-manifestations-dates {
	margin-bottom:1em;
	color:#0079BC;
}


dd.user-manifestations-schedules {
	margin-bottom:0.7em;
}

#container #colc .user-manifestations-search .titre_detail {
	color:black;
	padding:0;
	margin-bottom:1em;
}

#container #colc .user_text p {
	margin-left:1em;
}

#container #colc .user-manifestations-search dt.user-manifestations-description  {
	clear:both;
	margin-top:1em;
}

.user-manifestations-news a{
	color: #0079BC;
	display:block;
	text-decoration:none;
}

.user-manifestations-news .user_tous {
	margin-bottom:0;
	margin-left:10.2em;
	margin-right:0;
	margin-top:14.3em;
	position:absolute;
}

.user-manifestations-news dl {
	padding-top:0.5em;
	font-size:0.9em;
}

.user-manifestations-news dt{
	margin: 0 0 1em 0;
}

.user-manifestations-news a span{
	display:inline;
}
.user-manifestations-news a .manifestation-h4 {
	color:black;
	font-weight:bold;
}

.user-manifestations-news a .manifestation-savoir-plus{
	display: block;
	text-align: right;
	font-size: 0.8em;
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
.user-manifestations-calendar {
	float:left;
	width:14em;
}
.user-manifestations-searchForm fieldset {
	border:none;
}

.user-manifestations-searchForm fieldset input{
	width:8em;
	margin-left:0;
	top: 0;
}

.user-manifestations-searchForm fieldset  label, .user-manifestations-searchForm fieldset input {
	margin-bottom:0.2em;
}

.user-manifestations-searchForm fieldset  label {
	float:left;
	width:10em;
}

.user-manifestations-searchForm fieldset  .user-manifestations-submit {
	width:5em;
	margin:0;
}

.user-manifestations-search .user_retourTous{
	color:#0079BC;
	display:block;
	margin-bottom:1em;
}

.user-manifestations-dateETresult hr {
	margin-top:1em;
	margin-bottom:1em;
}

.user-manifestations-dateETresult  a {
	/*font-size:1.5em;*/
	margin-bottom:0.5em;
}

.user-manifestations-contentResult .dates , .user-manifestations-contentResult .user-manifestations-summary{
	margin-bottom:0.5em;
}

.user-manifestations-searchForm {
	margin-bottom:1em;
	float:left;
	margin-right:2em;
}

.maincontent {
	background-color:#dcdcdc;
	padding:1em 1em 0 1em;
	margin-bottom:1em;
}

.user-manifestations-search h4 {
	clear:both;
}

.user-manifestations-links table {
	background-color:#b9cde3;
	color:#b80000;
	text-align:center;
	font-weight:bold;
	border-collapse:collapse;
	width:100%;
}

.user-manifestations-links .mois, .user-manifestations-links .fleche {
	background-color:#fdc500;
}

.user-manifestations-links a {
	color:white;
}

.user-manifestations-links .datej{
	background-color:#fdc500;
}

.user-manifestations-links .mois a {
	font-size:1.3em;
	text-transform:capitalize;
}

.user-manifestations-summary {
	color:#5b5b59;
}

.manifestationimg img{
	float:left;
	width:150px;
	height:auto;
	margin-right:1em;
}

.user-manifestations-h4 a {
	color: #FDC600;
	/*font-size:1.36em;*/
}
.user-manifestations-h4 h3.titre, .user-manifestations-search .title{
	background: url(bordure_titre_jaune.jpg) repeat-x bottom left;
}
.user-manifestations-search .title .titre span{
	color: #FDC600;
}
.lien {
	text-align:right;
}

.user-manifestations-categories {
	float:left;
	padding-right:1em;
	color:#0079bc;
	background: #fff;
}

.user-manifestations-cattitle {
	color:#0079BC;
}

#container #colc .search_pagination li{
	float:left;
	list-style-type:none;
	margin-right:0.5em;
	font-weight:bold;
}

#container #colc .search_pagination .active{
	color:#FDC600;
}

#container #colc .search_pagination ul{
	float:right;
	margin-top:1.5em;
}

/* USER-MANIFESTATIONS */
/*** fin colc ***/

/*** cold ***/

#container #colg h3,
#container #cold h3 {
color:#FFFFFF;
font-size:1.2em;
}


#container #colg h3 span,
#container #cold h3 span
{
  background : #FDC600 url(puce_titre.jpg) no-repeat scroll left center;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  padding-left: 30px;
  padding-right:0.3em;
}

#container #colg h4,
#container #cold h4
{
  margin-bottom:0.5em;
  margin-top:0.5em;
  font-size:1.05em;
}

#container #colc h5,
#container #colg h5,
#container #cold h5
{
  margin-bottom:0.5em;
  margin-top:0.5em;
  font-size:1.05em;
}
#container #colc .contentPublication h5{
	margin-left: 4em;
	margin-top:1em;
	/*font-size:0.9em;*/
	color: #FDC600;
	text-decoration: underline;
	margin-bottom: 1em;
}

#container #colg p,
#container #cold p {
	color:#5B5B59;
	font-size:0.9em;
	margin-bottom:0.5em;
}

#container #cold p a {
	color:#5B5B59;
	text-decoration:underline;
}

#container #colg .zone,
#container #cold .zone{
	padding: 0.5em;
}

/*
	#container #cold #le-cg
	{
 	 background-color : #F3F3F3;
 	 padding : 2px
	}
*/

#container #cold #le-cg,
#container #cold #contacts,
#container #cold #telechargers,
#container #colg #gard-online,
#container #cold #sites{
	color: #5b5b59;
	margin: 0 0 0.5em 0;
}
#container #colg #gard-online{
margin-top: 1em;
clear: both;
}
#container #cold #sites{
	background-color: #ffffff;
	display: none;
}

#container #cold #contacts .contact img,
#container #cold #telechargers .telecharger p
{
	color: #5b5b59;
	font-size: 1.0em;
	padding-left : 44px;
}

#container #cold #telechargerss .telecharger p {
	/*padding-left : 73px;*/
}
#container #cold .gardMag  {
	margin-bottom:1.5em;
}

#container #cold .gardMag h3 {
	font-size:0.9em;	
	padding: 0.5em 0 0.5em 2em;
}
#container #cold .gardMag h3, #container #cold .gardMag h3 span{
	background: #000;
	padding-left:0;
	text-align:center;
	color: #ffffff;
	text-transform:uppercase;
}

#container #cold .gardMag #telechargerss .titre, #container #cold .gardMag #telechargerss .titre span  {
	padding:0;
}
#container #cold #telechargerss .fond_gris, #container #cold .gardMag {
	padding:0;
	background:#DCDCDC;
}

#container #cold #telechargerss .telecharger a,
#container #cold #telechargerss .telecharger p {
	color:black;
}

#container #cold #telechargerss .zone {
	padding: 0 0.5em 0.5em 0.5em;
}

#container #cold #telechargerss .telecharger a,
#container #cold #telechargerss .telecharger .titre
{
	font-size : 1.0em;
	font-weight:bold;
	
}

#container #cold #telechargers .telecharger
{
	background : url(pdf_02.png) no-repeat scroll left center;
	min-height : 3.3em;
	margin:1em 0 0.2em;
}

#container #cold #telechargerss .telecharger {
	/*background : url(img/publication.png) no-repeat scroll left center;
	min-height : 10.3em;
	margin:1em 0 0.2em;*/
}

#container #cold #telechargers h4{
	color: #5b5b59;
	font-size:1.2em;
}

#container #cold #contacts {
	clear : both;
}

#container #cold #contacts .contact h3{
	font-size: 0.9em;
}

#container #cold #contacts .contact p{
	font-size: 0.85em;
}

#container #cold #le-cg a,
#container #cold #contacts .contact a{
	color: #FDC600;
	font-size: 1em;
	padding-left : 3.5em;
}

#container #cold #le-cg .zone p a{
padding-left:0;
}

#container #cold #naissance{
	background-color: #FDC600;
	text-align: center;
	margin: 0 0 0.5em 0;
	color: #ffffff;
	float: left;
}

#container #cold #naissance h3{
	margin-bottom: 0;
	font-size: 3.3em;
	padding :0 ;
}

#container #cold #naissance p{
	font-size: 0.9em;
	color : white;
}

#container #cold #liens-directs{
	padding: 0.6em 0.5em 0 0.5em;
	margin: 0 0 0.5em 0;
	background-color: #dcdcdc;
}
#container #cold #liens-directs .meteo{
float:left;
margin-bottom:1em;
}
#container #cold #liens-directs ul{
	clear:both;
}
#container #cold #liens-directs ul li{
	height: 3em;
	padding: 0.5em 0 0;
}

#container #cold #liens-directs ul li a{
	font-weight: bold;
	color: #000000;
}
#container #cold #liens-directs ul li a img{
	display: block;
	clear: left;
	float: left;
	margin: -1em 0 0 0;
}

#container #cold #publications{
	/**background: #dcdcdc url(img/fond_publications.jpg) no-repeat bottom left;**/
	/*margin: 0 0 0.5em 0;*/
	/*padding: 0 0 0.5em 0;*/
	clear: left;
}

#container #cold #publications object{
	width:100%
}

#container #cold #publications h3{
	background-color: #000000;
	color: #ffffff;
	padding: 0.5em 0 0.5em 2em;
	font-size: 0.9em;
	text-transform:uppercase;
}

#container #cold #publications h4{
	font-size: 0.84em;
	margin: 1em 0 0.5em 0;
}

#container #cold #publications img{
	float: left;
	margin: 1em 0.4em 0.5em 0.6em;
}

#container #cold #publications p{
	font-size: 0.86em;
	padding: 0 0 0 6em;
}

#container #cold #publications p.titre{
	text-decoration: underline;
	margin: 0 0 0.5em 0;
}

#container #cold #publications a{
	font-size: 0.85em;
	text-align: right;
	display: block;
	margin: 0.5em 0.5em 0.5em 0;
}

#container #colg #gard-online{
	background-color: #dcdcdc;
	padding: 0 0 0.5em 0;
}
	
#container #colg #gard-online h3{
	background-color: #000000;
	color: #ffffff;
	padding: 0.5em 0 0.5em 1.5em;
	font-size: 0.9em;
	text-transform:uppercase;
}

#container #colg #gard-online h3 span
{
  background : #000000;
}

#container #colg #gard-online ul{
	margin: 0.5em 0 0 2em;
}

#container #colg #gard-online ul li{
	list-style: disc;
	color: #000000;
}

#container #colg #gard-online ul li a{
	color: #5b5b59;
}

#container #cold #newsletter{
	background: #dcdcdc;
	/*padding: 0.5em;*/
	margin: 0 0 0.5em 0;
	clear: both;
}

#container #cold #newsletter h3{
	font-size: 0.95em;
}
#container #cold #newsletter .text{
	border: none;
	border-top: 1px solid #9c9d9f;
	border-left: 1px solid #9c9d9f;
	border-bottom: 1px solid #9c9d9f;
	height: 17px;
	margin: 0 -5px 0 0;
}
#container #cold #newsletter .submit{
	border: none;
	background: url(okRch.jpg) no-repeat right 3px;
	width: 24px;
	height: 22px;
	cursor: pointer;
}

#container #cold #nouveaute{
	background: url(fond_nouveaute.jpg) no-repeat center;
	height:	122px;
}

#container #nouveaute p {
  text-align : center;
  padding-top:30px;
}

#container #nouveaute a {
  color: #ffffff;
  font-weight : bold;
}

#container #cold #annuaire ul li
{
  list-style-position:inside;
  margin:0.1em 0 0.2em 0.3em;
}

#container #cold #annuaire ul li a
{
  color : #ffffff;
}

#container #cold #annuaire
{
  padding : 0.1em;
  background-color:#DC002E;
}

/*** fin cold ***/

/*** footer ***/
#container #footer ul{
	background-color: #9c9d9f;
	height: 1.5em;
	text-align: center;
}
#container #footer ul li{
	display: inline;
	padding: 0 1em;
}

#container #footer ul li a{
	color: #ffffff;
}
/*** fin footer ***/

/*** Changement couleur ***/


.cevennes #container #colc h2{
	background: #0079bc url(http://www.gard.fr/fileadmin/templates/style/img/puce_titre_cevennes.jpg) no-repeat center left;
}
.cevennes #container #menuHaut .menu .smenu{
	background-color: #0079bc;
}
/*** Changement couleur ***/
#colc #formtip ul li label{
	width:35%;
	float: left;
	font-weight: 800;
}

#colc #formtip ul li input{
float: left;
	width:49%;
}

#colc #formtip ul li{
list-style-type: none;
font-weight: 800%;
}

#colc #formtip ul li #html{
margin-left: -9.5em;
}

#colc #formtip ul .submit{
border: 1px solid black;
width:8em;
}

#champobli{
margin-top: -2em;
}
/** style 'envaami' **/

/** style 'envaami' **/

.tx-pbsurvey-pi1{
	background-color: #dcdcdc;
        padding:0.8em 0 0.8em 0.6em;
	}
	
	.survey_item{
		border: none;
		}
		
		.question{
			font-weight: 800;
			padding-bottom: 0.5em;
			}
			
			.formbuttons input{
				border: 1px solid black;
				margin-top: 0.5em;
				}
				

.newsletter .champ #name{
	width:8em;
	margin-left: 6px;
}
.newsletter .champ #mail{
	width:8em;
}
#newslettressub{
	width: 185px;
}
#newslettressub input {
	width:12em;
	}
div.csc-textpic-center div.csc-textpic-text {  
text-align:justify;
}
div.csc-textpic-intext-left-nowrap div.csc-textpic-imagewrap .csc-textpic-image img {
	margin-bottom:0.7em;
	margin-left:0;
	margin-right:0;
}
.user-orga-pi1{
	margin: 0.5em 0 1em 4em;
}

#fond_lightbox{
display: none;
position: fixed;
background: #000000;
opacity: 0.5;
filter : alpha(opacity=50);
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 50;
}

#lightbox{
/*display: none;*/
visibility:hidden;
position: absolute;
border: 1px solid #FFFFFF;
padding: 2em;
background-color:#FFFFFF;/*#41555E;*/
z-index: 500;
/*height: 600px;
width: 930px;*/
top: 8%;
left: 5%;
margin: auto;
/*overflow-y: scroll;
overflow-x: hidden;*/
}
.tx-vgetagcloud-pi1{
	margin-top: 1em;
	background: #DCDCDC;
	float: left;
}
.tx-vgetagcloud-pi1 ul li a, .tx-vgetagcloud-pi1 ul li a:hover, 
.tx-vgetagcloud-pi1 ul li a:visited, .tx-vgetagcloud-pi1 ul li a:link{
	color: #5B5B59;
}

/* LECTEUR MP3 */
#container #colc .tx-freemp3player-pi1 {
	text-align:center;
	clear:both;
}

#fond_lightbox_video{
display:none;
position: absolute;
padding: 2em;
z-index: 500;
top: 4%;
left: 18%;
margin: auto;
}
#fond_lightbox_video span.valid,
#fond_lightbox_video a.close_video{
	float:right;
	text-align:right;
	color:#FFF;
	cursor:pointer;
}
#fond_lightbox_video .contenu{
	background:#FFF;
	margin:2em 0;
	padding:1em;
}

/* Publications */

#container #colc .col_secondaire .zone  {
 background-color : #f3f3f3;
 overflow-y : scroll;
 height : 110px;
 padding:0.5em;
}

.tx-rggooglemap-pi1 #map .markerTooltip{
	display:none;
}

.tx-rggooglemap-pi1 #map .gmnoprint #poi{
	/*font-size:0.75em;*/
	font-size:0.9em;
	text-align:left;
}
.tx-rggooglemap-pi1 #map .gmnoprint #poi #poi{
	font-size:1em;
}

.tx-rggooglemap-pi1 #map .gmnoprint #poi .poi-content .maj,
.tx-rggooglemap-pi1 #map .gmnoprint #poi .poi-content .direction p{
	color:#808080;
}

#container #colc .news-latest-item .news-single-img-miniature,
#container #colc .news-single-item .news-single-img-miniature{
	/*clear:both;*/
	float:left;
	width:315px;/* laisser en px pour le calcul en js */
	height: 2.6em;
	overflow:hidden;
	position:relative;
}

#container #colc .news-single-item .news-single-img-miniature{
	width:239px;/* laisser en px pour le calcul en js */
	margin-top:0.3em;
}

#container #colc .news-latest-item .news-single-img-miniature .contenu_defil,
#container #colc .news-single-item .news-single-img-miniature .contenu_defil{
	position:absolute;
	top:0;
	left:0;
/*	z-index:-1;*/
}

#container #colc .news-latest-item span.gauche,
#container #colc .news-latest-item span.droit,
#container #colc .news-single-item span.gauche,
#container #colc .news-single-item span.droit{
	display: block;
	height: 2.6em;
	width: 1.5em;
	z-index: 10;
	background:#FFF;
	float: left;
}
#container #colc .news-single-item span.gauche,
#container #colc .news-single-item span.droit{
	margin-top:0.3em;
}
#container #colc .news-latest-item span.gauche,
#container #colc .news-single-item span.gauche{
	clear:both;
	background:url('fgauche.jpg') no-repeat left center;
}
#container #colc .news-latest-item span.droit,
#container #colc .news-single-item span.droit{
	background:url('fdroite.jpg') no-repeat left center;
}
#container #colc .news-latest-item .news-single-img-miniature img,
#container #colc .news-single-item .news-single-img-miniature img{
	margin:0 0.3em 0 0;
}
#container #colc .news-latest-item .ttnews_galerie,
#container #colc .news-single-item .ttnews_galerie{
float:left;
margin-bottom:1em;
}
#container #colc .news-single-item .ttnews_galerie .news-single-video{
	margin-right: 1em;
}
.inforoute #container .news-latest-item .ttnews_galerie{
float:left;
margin-bottom:1em;
}

#container #colc .news-single-item .ttnews_galerie, .inforoute #container .news-single-item .ttnews_galerie{
margin-bottom:0.3em;
}

#container #colc .news-latest-item .news-latest-img img, .inforoute #container .news-latest-item .news-latest-img img  {
	float:none
}

.ttnews_galerie {
	text-align:center;
}


.colgauche {
float:left;
width:28%;
}

.colcentre {
float:left;
width:59%;
}

.colcentre a {
color: #000000;
text-decoration: none;
font-weight: bold;
font-size: 0.8em;
float: right;
}

.colcentre a:hover {
text-decoration: underline;
}

.coldroite {
float:left;
width:13%;
text-align: right;
padding-top:2.5em;
}

.tx-basecontact-pi1 h3 {
background-attachment:scroll;
background-color:transparent;
background-image:url(bordure_titre_bleu.jpg);
background-position:left bottom;
background-repeat:repeat-x;
}

.tx-basecontact-pi1 .photo {
margin-top: 1em;
}


.tx-basecontact-pi1 .photo img {
float:right;
width:150px;
}

div.conseil-general div#conteneur div#colc div h4 {
clear: both;
text-decoration: none;
}
div.conseil-general div#conteneur div#colc .news-latest-item h4 {
font-size:1.5em;
text-align:left;
text-decoration:none;
clear: none;
}

div.conseil-general div#conteneur div#colc div table.contenttable {
width: 100%;
background-color: #F3F3F3;
border-collapse: collapse;
}

div.conseil-general div#conteneur div#colc div table.contenttable td {
padding: 0.1em 0.5em;
border: 1px solid #FFFFFF;
width: 33%;
}
.accueil #colc .news-latest-item .tx-dcdflvplayer-pi1{
	float: left;
	margin: 0 1em;
}
#colc .tx-dcdflvplayer-pi1{
text-align:center;
margin: 1em 0;
}

#container .tx-srsendcard-pi1 .tx-srsendcard-pi1-card-form form{
width:auto;
}
#container .tx-srsendcard-pi1 .tx-srsendcard-pi1-card-form legend{
margin-left:0em;
padding:0;
color: #000;
}
#container .tx-srsendcard-pi1 .tx-srsendcard-pi1-card-form fieldset{
/*border:solid 1px #DCDCDC;*/
border:none;
}

#container  .tx-srsendcard-pi1 input, 
#container .tx-srsendcard-pi1 select, 
#container .tx-srsendcard-pi1 textarea {
background:none;
border:solid 1px #DCDCDC;
color:#000;
}

#container .tx-srsendcard-pi1 .tx-srsendcard-pi1-card-form fieldset label{
text-align:left;
}

#container .tx-srsendcard-pi1 .tx-srsendcard-pi1-card-form fieldset .tx-srsendcard-pi1-delivery-notify label{
font-weight:normal;
}

#container  .tx-srsendcard-pi1 input.tx-srsendcard-pi1-submit{
color:#000;
border:0 none;
font-size:1em;
}

#container  .tx-srsendcard-pi1 .tx-srsendcard-pi1-image-selector dt a, 
#container  .tx-srsendcard-pi1 .tx-srsendcard-pi1-image-selector dd a,
#container  .tx-srsendcard-pi1 .tx-srsendcard-pi1-card-buttons a,
#container  .tx-srsendcard-pi1 .tx-srsendcard-pi1-image-selector dt a:visited, 
#container  .tx-srsendcard-pi1 .tx-srsendcard-pi1-image-selector dd a:visited,
#container  .tx-srsendcard-pi1 .tx-srsendcard-pi1-card-buttons a:visited,
#container  .tx-srsendcard-pi1 .tx-srsendcard-pi1-image-selector dt a:active, 
#container  .tx-srsendcard-pi1 .tx-srsendcard-pi1-image-selector dd a:active,
#container  .tx-srsendcard-pi1  .tx-srsendcard-pi1-card-buttons a:active,
#container  .tx-srsendcard-pi1 .tx-srsendcard-pi1-image-selector dt a:hover, 
#container  .tx-srsendcard-pi1 .tx-srsendcard-pi1-image-selector dd a:hover,
#container  .tx-srsendcard-pi1 .tx-srsendcard-pi1-card-buttons  a:hover{
	color:#FDC600;
}
#container  .tx-srsendcard-pi1 .tx-srsendcard-pi1-image-selector dt a:hover, 
#container  .tx-srsendcard-pi1 .tx-srsendcard-pi1-image-selector dd a:hover,
#container  .tx-srsendcard-pi1  .tx-srsendcard-pi1-card-buttons a:hover{
text-decoration:underline;
}
#container  .tx-srsendcard-pi1 .tx-srsendcard-pi1-image-selector dd{
	display: none;
}
#container  .tx-srsendcard-pi1 .tx-srsendcard-pi1-image-selector dt img{
	border: 1px solid #000;
}
#container  .tx-srsendcard-pi1 .tx-srsendcard-pi1-card-selection-prompt{
	margin: 0.5em 0;
	text-align: center;
}
#container .tx-srsendcard-pi1 .tx-srsendcard-pi1-card-image{
	background: #666;
}
#container .tx-srsendcard-pi1 .tx-srsendcard-pi1-card{
	margin-top: 1em;
	border: 2px solid #007CC2;
}
#container .tx-srsendcard-pi1 .header{
	margin-top: 1em;
	font-weight: bold;
}
#container .tx-srsendcard-pi1 .tx-srsendcard-pi1-card-message-block{
	height:11em;
	padding:0 0.5em;
	width:26%;/*33%*/
}
#container .tx-srsendcard-pi1 .tx-srsendcard-pi1-card-message{
	position: relative;
}
#container .tx-srsendcard-pi1 .tx-srsendcard-pi1-card-message .destinataire{
	background: url(texte_vertical.jpg) no-repeat left center;
	width: 14.5em;
	/*float:right;*/
	height:12em;
	margin-top:-6em;
	padding-top:7em;
	position: absolute;
	top: 13em;
	right: 0em;
}
#container .tx-srsendcard-pi1 .tx-srsendcard-pi1-card-message .destinataire p{
	padding-left: 2em;
	font-weight: bold;
	margin-left: 1em;
}
#container .tx-srsendcard-pi1 .tx-srsendcard-pi1-card-message .destinataire p.dest{
	font-weight: normal;
}
.tx-srsendcard-pi1 .tx-srsendcard-pi1-clear-float{
	height: 0px;
}
.tx-srsendcard-pi1 .tx-srsendcard-pi1-card .tx-srsendcard-pi1-card-caption{
	display: none;
}
.tx-srsendcard-pi1 ul.tx-srsendcard-pi1-color-selector li label.tx-srsendcard-pi1-transparent {
	border:1px solid #DCDCDC;
}
.tx-srsendcard-pi1 ul.tx-srsendcard-pi1-color-selector li label.tx-srsendcard-pi1-non-transparent {
	border:1px solid #DCDCDC;
}

/**** modif pour faire en 2 colonnes ****/
.tx-srsendcard-pi1 .tx-srsendcard-pi1-card-form .tx-srsendcard-pi1-card-image-wrap{
	float: left;
	margin-top: 1em;
}
.tx-srsendcard-pi1 .tx-srsendcard-pi1-card-form .tx-srsendcard-pi1-card-form-wrap{
	width: 54%;
	float: right;
	margin-top: 1em;
}
.tx-srsendcard-pi1 .tx-srsendcard-pi1-card-form fieldset label{
	width: 10em;
}
.tx-srsendcard-pi1 .tx-srsendcard-pi1-card .tx-srsendcard-pi1-card-image{
	padding: 3em;
}
.colonnes .tx-srsendcard-pi1 .tx-srsendcard-pi1-image-wide-left-margin{
	margin-left: 50px;
}
p.align-right{
	text-align: right;
	margin-top: 0.5em;
}
p.align-right a{
	color: #000000;
	text-decoration: underline;
}
.accueil #colc .actualite .breve .texte{
clear:both;
}

#jHelperTipAttrContainer{ 
 	background:#FDC600;
 	color:#FFF;
 	font-weight:bold; 
 	display:none;
 	padding:0 0.5em;
 	font-size:0.8em;
}

#container .rt_curimage {
	height:90px;
}

/***** lightbox loginform espace presse *****/
#lightbox.loginform{
	left: 30%;
	top: 8%;
	padding: 0;
}
#lightbox.loginform span.valid{
	float:right;
	text-align:right;
	color:#FFF;
	cursor:pointer;
	margin-top: -1.1em;
}
#lightbox.loginform form{
	margin: 2em 2em 1em 2em;
}
#lightbox.loginform fieldset{
	border: none;
}
#lightbox.loginform fieldset div{
	margin: 0.5em 0;
	float: left;
	clear: both;
}
#lightbox.loginform label{
	float: left;
	width: 8em;
	font-size: 0.8em;
	padding-right: 0.5em;
	text-align: left;
}
#lightbox.loginform input{
	float: left;
}
#lightbox.loginform  input.submit{
	margin-top: 1em;
	float: none;
}
#lightbox.loginform .tx-felogin-pi1 p{
	text-align: left;
	padding-left: 0.5em;
	font-size: 0.8em;
}
#lightbox.loginform .tx-felogin-pi1 p a{
	font-size: 0.9em;
}

table.contenttable{
	clear: both;
	border: 1px solid #000;
	border-collapse: collapse;
	padding:0.5em 0.3em;
	text-align:center;
}
table.contenttable td, table.contenttable th{
	border: 1px solid #000;
	padding: 0.5em;
}
#container #colc table.contenttable th p{
	font-size: 1em;
	margin-bottom: 0;
}
#container #colc table.contenttable td p{
	margin-bottom: 0;
}