@CHARSET "ISO-8859-1";

html, body
{
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #494949;
}

body
{
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 62.5%;
}

div, span, h1, h2, h3, h4, h5, h6, input, select, textarea
{
	margin:0;
	padding:0;
	list-style: none;
}

p
{
	padding:5px 0 0 0 ;
	margin: 0;	
}

div, span, h1, h2, h3, h4, h5, h6, input, select, textarea, ul, li, p
{
	border:0;
	text-decoration:none;
	text-transform:none;	
}		

div, span, input, select, textarea, li, a, p
{
	font-size:11px;
}

h1
{
	font-size:15px;		
}

h2
{
	font-size:14px;		
}

h3
{
	font-size:13px;		
}

h4
{
	font-size:12px;		
}

h5
{
	font-size:11px;	
}

img
{
	border: 0;
	margin:0;
	padding:0;
}

form
{
	margin: 0;
	padding: 0;
}

.UnFloat, .UnFloatLeft, .UnFloatRight
{
	position: relative;
	clear: both;
	float: none;
	display: block;
	line-height: 0px;
	height: 0;
	font-size: 0;
}

.UnFloatLeft
{
	clear: left;	
}

.UnFloatRight
{
	clear: right;	
}

a
{
	color:#FF6400;
	margin:0;
	padding:0;
}

#CadrePrincipal
{
	position: relative;
	margin: 5px auto 10px auto;
	text-align: left;
	display: block;
	width: 1024px;
}

.greenTexte
{
	color:#7B9201;
}

.orangeTexte
{
	color:#EC7405;
}

.errorMessage
{
	color:red;
}

/* ------------------------------- FIL D'ARIANE ------------------------------- */

#CPBackstack
{
	position: relative;
	padding: 0;
	text-align: left;
	display: block;
	width: 800px;
	margin: 15px auto 10px auto;
	padding: 0 ;
}

#CPBackstack .BS_Liens
{
	padding: 0 20px;
}

#CPBackstack a:hover
{
	text-decoration: none;
}