@CHARSET "ISO-8859-1";
#FondCadreEntete
{
	position: relative;
	margin: 30px 0 0 0;
	padding: 0;
	text-align: center;
	width: 100%;
	height: 219px;
}

#CadreEntete
{
	display:block;
	height:219px;
	margin:0 auto;
	padding:0;
	position:relative;
	text-align:left;
	width:1024px;
}

#liensCommunauteEuroise
{
	text-align:right;
}