@CHARSET "ISO-8859-1";
@import url('body.css');

@import url('colonneGauche.css');

@import url('colonneDroite.css');

@import url('entete.css');

@import url('piedPage.css');

@import url('colonneCentrale.css');

#CCEnCeMoment
{
	margin-top: 20px;
}

#CCEnCeMoment h3
{

}

a.enCeMomentTitreActu
{
	margin-top:10px;
	color: #FF6400;
	font-weight:bold;
	font-size:13px;
	text-decoration:none;
	display:block;
}

a:hover.enCeMomentTitreActu
{
	text-decoration:underline;
}

.enCeMomentChapeauActu
{
	margin-top:10px;
	text-align: justify;
}

#CCAutresActu
{
	margin-top: 5px;	
}

#CCAutresActu div
{
	float:right;
}

#listeAutresActus
{
	margin-right: 5px;
}

#listeAutresActus h3
{
	color:#FF6400;
	padding:5px 0;
}

#lireLaSuiteActu
{
	background: transparent url("carreVert.gif") no-repeat right top;
	line-height:12px;
	border-bottom: 1px solid #000000;
	display: block;
	text-decoration: none;
}

#listeAutresActus ul
{
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;
}

#listeAutresActus li
{
	margin: 0 0 0 5px;
	padding: 0 0 0 15px;	
	list-style: none;
	background: transparent url("orangeBullet.gif") no-repeat 0 3px;
}

.lienAutresActus
{
	color:#7B9201;
}	
.categorieActualite
{
	color:#979797;
	font-size:10px;	
}

#actualitesFiltre
{
	clear: both;
	padding-top:10px;	
}

#actualitesFiltre h4
{
	font-weight:bold;
}

#categoriesActualite a
{
	padding-right: 10px;
	text-decoration: none;
}

#categoriesActualite a:hover
{
	text-decoration: underline;	
}

.unSelectedActualiteCategorie
{
	color: #979797;
}

.selectedActualiteCategorie
{
	color:#FF6400;
}

#blocAffichageActu
{	
	border:1px solid #494949;
	background-color:#6A6A6A;
	clear:both;
}

#blocAffichageActu td
{
	vertical-align: top;	
}

.CCInfosActu
{	
	padding:5px;
	background-color:#ffffff;
	overflow-y:auto;
	height:335px;
}

#CCActionsCG
{
	padding:5px;
}

.ceQueFaitLeCG
{
	color: #C8E91C;
}

.actionsCgUl
{
	margin:0;
	padding:0;
}

.actionsCgLi
{
	margin:10px 0 0 0;
	color:#fff;
	clear:both;
}

.actionsCgLi h5
{
	color:#fff;	
}

.actionsCgContenu
{
	color:#fff;
}

.actionsCgLireLaSuite
{
	float: right;
}

.actualiteActions
{
	background-color:#ffffff;
	padding: 0 0 5px 5px;	
}

/**** BLOC PARTICIPATIF ****/
#bandeau_participatif
{
	margin-top:20px;	
}

#readspeaker, #boutonCommentaires
{
	float: left;	
}

#boutonCommentaires
{
	background: transparent url("icone_reagir.jpg") no-repeat 0 5px;
	margin-left:10px;
	padding:5px 0 0 20px;
}

#boutonCommentaires a
{
	/*font-weight:bold;*/	
}

#CCIconesPartage
{
	float:right;	
}

#CCIconesPartage a
{
	text-decoration: none;	
}

#CCIconesPartage a img
{
	vertical-align: top;
}

.actualiteActions a
{
	text-decoration: none;	
}

.actualiteActions a:hover
{
	text-decoration: underline;
}
#enteteCommentaires
{
	position:relative;	
}

.boutonReagir
{
	float:right;
}

.separationCommentaires
{
	position: relative;
	border-bottom:1px dotted #494949;
	display: block;
	line-height: 1px;
	height: 1px;
	font-size: 0;
	margin:10px 0 5px 0;
}

#addCommentaire
{
	margin-top:20px;
}

#addCommentaire input.commentaireTitle
{
	height : 20px;
	width : 480px;
	border:1px solid #494949;
}

#addCommentaire textarea
{
	size : 480px;
	width : 480px;
	height : 100px;
	border:1px solid #494949;		
}		

input.validerCommentaire
{
	margin-top:10px;
	border:none;
	width:64px;
	height:15px;
	font-weight:normal;
	background: url("bouton.gif") no-repeat;
	padding-bottom: 2px;
	color: #000000;
}

#blocCommentaire
{
	list-style: none;
	margin:10px 0 0 0;
	padding:0;
}

#blocCommentaire li
{
	margin : 10px 0 0 0;
	padding : 0 0 0 10px;
	background: transparent url("bulleOrange.gif") no-repeat 0 3px;
	font-weight: bold;
}

#blocCommentaire div
{
	padding-left:20px;
	text-align: justify;
	font-weight: normal;
}		
