@CHARSET "ISO-8859-1";
#CadrePiedPage
{
	position: relative;
	background: url('http://www.eure-en-ligne.fr/jsp/jahia/templates/eure-en-ligne/eure-en-ligne/images/footer/bandeauFooter.gif') no-repeat bottom right;
	height:276px;
	margin: 0 auto;
	padding: 0;
	width: 1024px;
	display: block;
}

#footerLinks
{	
	position:relative;
	top:10px;
	margin-right:60px;
}

#footerLinks a
{
	/*color: #494949;*/
	text-decoration: none;
	font-weight: bold;	
}

#footerLinks a:hover
{
	text-decoration: underline;		
}

#CGAdresseCG
{
	margin-right:60px;
	padding-top:50px;
	text-align: center;	
}						