body { 
	background-color: #ffffff; 
	margin: 0 auto;
	padding: 0; 
	text-align: center;
}
#conteneur {
	width: 100%;
	margin: 0 auto;
	border : 0;
	line-height: 0.9em;
}
#header {
	display: none;
}
#menu {
	display: none;
}
#content {
	width: 100%;
	padding: 10px 15px 10px 15px;
	vertical-align: top;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #333399;
}
#content td {
	color: #333399;
}
#footer {
	height: 50px;
	text-align: center;
	background-color: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #333399;
	border-top: solid 1px #333399;
	padding-top: 10px;
}
 /* Uniquement pour page accueil */
.homeBlock {
	display: block;
	width: 545px;
	height: 110px;
	margin: 10px 0;
}
.homeBlock a {
	font-size:12px;
	font-weight:bold;
	color:#990033;
}
.homeBlock span {
	display: block;
	height: 94px;
	padding-top: 30px;
}

#homeRightMenu {
	float: right;
	margin: -9px -15px; 0 0;
	padding: 0;
	width: 210px;
	height: 100%;
	border: #cfd9e1 solid 1px;
}
#homeRightMenu h2 {
	height: 20px;
	text-align: center;
	background: url(menu_bl.gif) center no-repeat;
	font-weight: bold;
	font-size: 9pt;
	font-style: normal;
	color: #990033;
	margin: -1px 0 0 0;
	padding-top: 2px;
}
#homeRightMenu p {
	margin: 6px 3px;
}
#homeRightMenu #journal {
	text-align: center;
	margin-bottom: 10px
}
#homeRightMenu #journal img {
	margin: 2px 0 5px 0;
}
#homeRightMenu #agenda  {
	margin-bottom: 10px;
}
#homeRightMenu #agenda a {
	text-decoration: none;
}
#homeRightMenu #event {
	height: 155px;
	text-align: center;
}
#homeRightMenu #event img {
	float: left;
	vertical-align: middle;
}
#homeRightMenu #breves a {
	text-decoration: none;
}


/*********************************/
h1 {
	font-size: 1.6em;
	font-weight: bold;
	font-style: italic;
	color: #333399;
	text-align: center;
	margin: 1.2em 0;
}
h2 {
	font-size: 1.4em;
	font-weight: bold;
	color: #990033;
	text-align: center;
	margin: 1em 0;
}
h3 {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	margin: 0.5em 0;
}
h4 {
	font-size: 1.1em;
	font-weight: bold;
	color: #990033;
}
h5 {
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}
p, pre {
	margin: 0 0 1.4em 0;
}
blockquote {
	margin: 0 0 1.4em 1.4em;
}
ul, ol {
	margin: 0 1.4em 1.4em 1.4em;
}
hr {
	color: #333399;
	width: 80%;
	text-align: center;
	height: 1px;
	clear: both;
}

.center {
	text-align: center;
}
.right {
	float: right;
}
.left {
	float: left;
}
.margin15 {
	margin: 0 15px;
}
.clear {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}

a {
	color: #333399;
}

a.tm {
	font-weight: bold;
    color: #333399;
	text-decoration: none; 
}

a.tmc {
	font-weight: bold;
    color: #333399;
	text-decoration: none;
	text-transform:uppercase;
}


/************* STYLE POUR BARRE DE NAV ENTREPRISE*************/
/*lien blanc*/
a.onglet2{
    FONT-SIZE: 7pt;
    COLOR: #FFFFFF;
    TEXT-DECORATION: none;
     vertical-align : 25%;
}
a:hover.onglet2{
    COLOR: #FF3366;
}

/*bleu ciel*/
.chif{
    FONT-SIZE:7pt;
    COLOR: #99CCFF;
    vertical-align : 25%;    
}
/*************FIN STYLE POUR BARRE DE NAV ENTREPRISE*************/


/*****************STYLE POUR LES TITRES*********************/
/*titre des pages -bleu marine,italic,petites majuscules*/

/*titre en rouge petite capitale*/
.titrg{
    FONT-WEIGHT: bold;
    TEXT-TRANSFORM: uppercase;
    COLOR: #990033;
}

/* Titre Accueil Formation */
.titref {
    font-size: 13pt;
	font-weight: bold;
    font-style : italic;
	color: #333399;
    text-decoration: none;
	text-align : center;
}



/* Page d'accueil */
.breveId {
	font-weight:bold;
	margin-bottom: 9px;
}


.smallrg{
	font-size: 7pt;
	color: #990033;
}

.smallbl{
	font-size: 7pt;
}



/*---cellules fond bleu clair pour contenu et police bleu----*/
/*ex : tableau de page chiffres*/
td.ciel {
    background: #99CCFF;
    text-align : right;
}

td.cielcentre {
    background: #99CCFF;
    text-align : center;
}

td.cieleft {
    background: #99CCFF;
    text-align: left;
}


/* Page formation Apprentissage */
#arianeCdf {
	display: none;
}

/* Revue de presse*/
.r2p_titre {
    FONT-SIZE: 7pt;
    FONT-WEIGHT: bold;
	COLOR: #333399;
    TEXT-DECORATION: none; 
}

