﻿@charset "utf-8";
/* Comportements par defaut */
/**********************************************/ 
* {margin:0;padding:0;border:0; outline:none;}
body {font-family:Arial,Verdana,Helvetica,sans-serif;font-size:11px;color:#00437f;}
a,a:visited {text-decoration:none;color:#00437f}
a:hover {text-decoration:underline;}
table{border-collapse:collapse;border-spacing:0;margin:0;}
input {font-size:11px; color:#00437f; padding:1px 0 1px 2px; border:1px solid #8b91a0;}
textarea {font-size:11px;color:#00437f;}
input, select, textarea{font-size:11px;color:#00437f;border:1px solid #8B91A0;}
h1 {position:absolute;top:11px}
h2 { font-size:16px; margin:0 0 6px 0; }
h3 { font-size:14px; margin:0 0 6px 0; color:#00437F;}
h4 { font-size:12px;}
ol {padding:0; margin:0;}
ul {padding:0; margin:0;}
li {list-style:none; padding:0;margin:0;}
p { padding:0 0 5px 0;}

/***Classes generiques***/
/************************/
.clear {clear:both;line-height:0;padding:0; margin:0;}
.hidden { display:none}

/* Common Structure */
/**********************************************/
.main {width:911px;margin:0 auto;padding:0 0 10px 0;}

	/****************************header****************************/
	.header {width:911px;position:relative;}
	.headerTop {height:72px;overflow:hidden}
	.contentTerminal {display:none}	
	.lev1 {width:430px;float:left;margin:0 0 10px 0;padding:0 0 0 230px;overflow:hidden}
		.lev1 li {float:left;padding:7px 12px 0 6px; background:url(bgd_filet_bleu.gif) repeat-y; height:18px}
		.lev1 .lev1On {background:url(bgd_filet_orange.gif) repeat-y;}
	.option .englishVersion { width:75px;float:left; background:url(bgd_fleche_link_header.gif) 0 4px no-repeat; padding:0 8px 0 8px; margin:0 10px 0 0; font-size:11px;}
	.option { float:left;padding:8px 0 0 5px; margin:0 0 10px 0; width:80px; overflow:hidden;}
		.option li {float:left; }
		.option .englishVersion { float:left; background:url(bgd_fleche_link_header.gif) 0 4px no-repeat; padding:0 8px 0 8px; margin:0 10px 0 0; font-size:11px;}
		.option img { margin:0 2px 0 0;}
		
		.optionSize { float:right;padding:8px 0 0 5px; margin:0 0 10px 0; width:100px; overflow:hidden; height:18px;}
		.optionSize li {float:left; background:none!important;}
		.optionSize img{ border:none!important;}
		
	.formRecherche {float:right;padding:8px 25px 0 0;}
		.formRecherche input {width:100px; float:left; font-weight:bold;padding:1px 0 1px 5px;border:1px solid #c6c6cb;}
		.formRecherche .btnOk {border:none;float:left;width:23px;padding:5px 0 0 3px}
		
	.lev2 {width:704px;overflow:hidden;top:177px;margin:5px 0 0 0px; float:left;}	
		.lev2 ul {float:left;overflow:hidden; width:100%;}	
		.lev2 li {float:left;font-size:12px;margin:0px;list-style:none;}	
		.lev2 li a:hover { color:#ffffff;text-decoration:none;background:url(bgd_li_active.jpg) repeat-x;border-right:1px solid #fcc37f; border-left:1px solid #f8a443;}
		.lev2 li a:visited { color:#ffffff;text-decoration:none;}
		.lev2 li a{color:#ffffff; background:url(bgd_li_a.jpg) repeat-x;padding:4px 11px 4px 9px; display:block; border-left:1px solid #034977; border-right:1px solid #01a2db; }
		.lev2 .navOn {background:url(bgd_li_active.jpg) repeat-x;color:#ffffff; border:none;}
		.lev2 .navOn a {color:#ffffff; background:none;border-right:1px solid #fcc37f; border-left:1px solid #f8a443;}
		.lev2 h2 {width:185px;float:right}	
		.highlight{margin:20px 0 0px 0;}
		.linkheader{ background:url(bgd_li_header.jpg) 10px 0px no-repeat;}
		.lastlink{ background:url(bgd_accountlink.jpg) 22px 7px no-repeat; background-color:#dcedf3!important; width:136px;padding:5px 11px 3px 38px; display:block; color:#00437f; font-size:12px;}	
		.lastlinkactive{ background:url(bgd_h2_lev3.gif) 25px 7px no-repeat; background-color:#dcedf3!important; width:137px;padding:5px 1px 2px 45px; display:block; color:#ff8800; font-size:14px;}	
		.lastlinkactive a{color:#ff8800; }
		.accountLink{ float:left; width:122px; margin:5px 0 0 0;}
			
	/************************Partie Centrale général************************/
	.contentMain {width:911px;overflow:hidden;}
	/************************Partie Centrale général avec nav************************/
	.contentMainWithNav {width:911px;overflow:hidden; background:url(bgd_contentWithNav.gif) 0 0 repeat-y;}
		/************************Partie Centrale pour la home page************************/
		.contentHome {width:709px;float:left; padding:0 7px 0 0px; margin:10px 0 0 0;}
		/************************Partie Centrale pour page sous rubrique************************/
		.content {width:706px;float:left;padding:10px 10px 0 0}
		.content table{border-collapse:collapse;border-spacing:0;margin:0; border:1px solid #92a7b9;}
			.content table td{border:1px solid #92a7b9; padding:5px;}
			.content table th{border:1px solid #92a7b9;  background-color:#DCEDF3;text-align:left;padding:5px 5px 5px 5px;}
			.content table th span{ font-weight:normal;}
			.content table .smallCell th{ background-color:#f3f4f8; font-weight:normal;}
		
		/***Nav lev3***/
		.lev3 {width:179px;float:left;padding:0 10px 0 0;}
			.lev3 h2 {background: url(bgd_h2_lev3.gif) 0 1px no-repeat;margin:3px 10px 7px 0px;padding:0 0 0 15px;font-size:14px;color:#00437F;}
			.lev3 .lev3On {background-color:#dcedf3}
			.lev3 .sectionOn { font-weight:bold}
			.lev3 li {background:#c3e2ed url(bgd_li_lev3.gif) 8px 14px no-repeat; padding:7px 5px 7px 17px; border-top:4px solid #FFFFFF}
			.lev3 li li {background: url(bgd_li_li_lev3.gif) 0 6px no-repeat; padding:2px 0 0 7px; border:none}
			.lev3 li li li {background: url(bgd_li_li_li_lev3.gif) 0 8px no-repeat; padding:2px 0 0 6px; border:none}
		
		/************************Partie Centrale sans nav************************/
		.contentWithOutNav {width:681px; padding:0 0 0 25px;}
		.contentWithOutNav h2 { margin:0 0 15px 10px;}
		
		/************************Partie Centrale avec nav************************/
		.contentWithNav {width:507px;float:left; padding:0 0 0 10px;}
			.contentWithNav h2 {font-size:20px;color:#00437F;}
			.contentWithNav h2 img { border:0;}
			.contentWithNav h3 {background:url(bgd_h2_lev3.gif) 0 2px no-repeat; padding:0 0 0 18px;margin:10px 0 6px;}
			.contentWithNav h4 { background:url(ico_10.gif) 0 7px no-repeat; padding:0 0 0 12px; margin:0 0 5px 0px; clear:both;}
			.contentWithNav img { border:1px solid #92a7b9}	
			.contentWithNav .bigillust{ border:none; padding:0 0 10px 10px;}
			.higlightGame{padding:0 0 0 20px;}
			.contentWithNav dl { padding:10px 0 0 0px;}	
			.contentWithNav dt { padding:0 0 10px 0;}	
			
		.contentWithNav p {margin:0 0 0 0px;}
			.contentWithNav p a { text-decoration:none;}
			.contentWithNav p a:hover { text-decoration:underline;}
			.contentWithNav li { background:url(bgd_li_li_li_lev3.gif) 0 7px no-repeat; padding:0 0 0 7px; margin:0 0 0 0px;}

		.pushTransport { width:507px; overflow:hidden; background:url(bgd_line_01.gif) 0 bottom repeat-x; padding:10px 0; clear:both;}
			.pushTransport dt { width:165px; font-weight:bold; color:#00437F; float:left; font-size:12px; background: url(ico_10.gif) 0 8px no-repeat; padding:0 0 0 8px;}
			.pushTransport .title{ width:165px; font-weight:bold; color:#00437F; float:left; font-size:14px; background: url(bgd_h2_lev3.gif) 0 2px no-repeat; padding:0 0 0 15px;}
			.pushTransport dd { width:325px; float:right; clear:right; font-size:12px;}
			.pushTransport ul { margin:0 0 10px 0;}
			.pushTransport .links { margin:0 0 0 20px; font-size:11px;}
			.pushTransport img { border:0; margin:5px 0 0 0;}
			.lastPustTransport { background:none}
		
		.listInfo { width:220px; float:left; margin:0 10px 10px 12px; display:inline;}
			.listInfo li { background:url(bgd_lst_practise.gif) 0 0 no-repeat; padding:8px 0 5px 10px; width:200px; float:left; display:inline;}
			.listInfo .first { background:url(ico_12.gif) 0 12px no-repeat;}
		.focus02 { background:url(bgd_focus_02_bottom.gif) 0 bottom no-repeat; width:507px; margin:0 0 15px 0;}
			.focus02 .highlightFocus { background:url(bgd_focus_02_top.gif) no-repeat; width:477px; padding:15px; overflow:hidden}
			.focus02 .contenu { float:left; background:none; padding:0 0 0 0}
			.focus02 .visu { background:none; padding:0 0 0 0}
			.focus02 img{ margin:0 0 15px 0;}

			.focus02 p a { background:url(bgd_li_lev3.gif) 0 4px no-repeat; padding:0 0 0 10px; margin:0 0 0 10px;}
			.focus02 div { background:url(bgd_focus_02_top.gif) no-repeat; padding:15px;}
			.focus02 div img { float:right;}
			
		 
		.listInfo { width:220px; float:left; margin:0 10px 10px 12px; display:inline;}
			.listInfo li { background:url(bgd_lst_practise.gif) 0 0 no-repeat; padding:8px 0 5px 10px; width:200px; float:left; display:inline;}
			.listInfo .first { background:url(ico_12.gif) 0 12px no-repeat;}
		
		.listInfoBig { width:467px; margin:0 10px 10px 12px; }
			.listInfoBig li {background:url(bgd_lst_practise_big.gif) 0 0 no-repeat;padding:8px 0 5px 10px; width:457px;overflow:hidden}
			.listInfoBig li img { float:right}
			.listInfoBig .first { background:url(ico_12.gif) 0 12px no-repeat;}
		
		.visu01 { margin:0 5px 0 0;}
		
		
		
		.contentWithNav .btnStyle01 { background:url(btn_red_left.gif) 0 0 no-repeat; padding:0 0 0 27px; height:20px; margin:0 0 20px 60px; width:auto; clear:both;}
		.contentWithNav .btnStyle01 span {background:url(btn_red_right.gif) right 0 no-repeat; display:block; padding:0 15px 0 0; float:left;}
		.contentWithNav .btnStyle01 a { color:#FFFFFF; line-height:20px; display:block; font-size:12px; font-weight:bold; text-decoration:none;}
		.contentWithNav .btnStyle01 a:hover { text-decoration:underline;}

		.frmMonCompte {}
			.frmMonCompte h3 { margin:15px 0 10px 0;}
			.frmMonCompte p {height:1%; padding:0 0 9px 0; overflow:hidden;}
			.frmMonCompte input {width:154px; float:left;}
			.frmMonCompte label {font-weight:bold; width:178px; padding:0 12px 0 0; float:left; text-align:right;}
			.frmMonCompte .inpType01 {width:275px;}
			.frmMonCompte .inpType02 {width:86px;}
			.frmMonCompte .btn {padding:9px 0;}
			.frmMonCompte .btn input {width:91px; height:20px; margin:0 0 0 188px; border:none; float:none;}
			.frmMonCompte .btn a {font-weight:bold; color:#fff; background:url(btn_blue_left.gif) 0 0 no-repeat; margin:0 0 0 38px; padding:0 0 0 10px; text-decoration:none; display:block; float:left}
			.frmMonCompte .btn a:hover {text-decoration:underline;}
			.frmMonCompte .btn span {background:url(btn_blue_right.gif) right 0 no-repeat; padding:3px 10px 3px 0; display:block;}
		/*****************  style of devise express ***********************/
		.styleExpress h3 {background:url(ico_13.gif) 0 2px no-repeat; padding:0 0 0 18px;}
		.styleExpress .links { margin:0 0 20px 30px;}
		.styleExpress .links li { background:url(ico_15.gif) 0 1px no-repeat; padding:0 0 0 17px; margin: 0 0 3px 0;}
		.styleExpress .focus{ background:url(bgd_focus_express_bottom.gif) 0 bottom no-repeat; width:507px; margin: 0 0 10px 0;}
		.styleExpress .focus div {background:url(bgd_focus_express_top.gif) 0 0 no-repeat; padding:20px 10px 20px 5px; color:#000000;}
		.styleExpress .focus li { background:url(ico_14.gif) 0 8px no-repeat; padding:3px 0 3px 10px;}
		.styleExpress .focus li strong { color:#d11d5a; font-size:12px;}
		
		.pushAirport { width:507px;overflow:hidden;background:url(bgd_dotted.gif) repeat-x; padding:13px 0 0 0;}
			.pushAirport img { border:0;}
			.accessPlanParking { width:160px; float:left;}
			.accessPlanParking p { margin:0 0 0 0px; padding:0; font-weight:bold}
			.accessPlanParking dt { background:url(bgd_h2_context.gif) 0 1px no-repeat; color:#00437F; font-size:14px; font-weight:bold; padding:0 0 0 18px; margin:0 0 5px 0;}
			.accessPlanParking ul { margin:0 0 15px 0px;}
			.accessPlanParking li {background:url(bgd_li_lev3.gif) 0 4px no-repeat; padding:0 0 0 10px;}
		
		.highlightAccessPlanParking { width:335px; float:right;}

		.highlightSubSection05 {background:#DCEDF3; width:330px; border-left:5px solid #ff8800; overflow:hidden; clear:both; margin:0 0 10px 0;}
			.highlightSubSection05 img { border:0;}
			.highlightSubSection05 div { width:330px; display:block; overflow:hidden; padding:10px 15px;}
			.highlightSubSection05 ul { display:inline; padding:0 0 0 20px;}
			.highlightSubSection05 li { background:url(ico_06.gif) 0 3px no-repeat; padding:3px 0 3px 15px; width:120px; float:left; display:inline;}
			
		.back { background:url(bgd_line_back.gif) 0 0 repeat-x; margin:10px 0 20px 0; width:507px; overflow:hidden; clear:both;}
		.back ul { background:url(bgd_line_back.gif) 0 bottom repeat-x; padding:5px 0; width:507px; overflow:hidden; text-align:right; margin:0;}
		.contentWithNav .back li { float:right; background:url(bgd_li_lev3.gif) 0 4px no-repeat; padding:0 0 0 10px;}
		.back li a { text-decoration:none; }
		.back li a:hover { text-decoration:underline;}
		.contentWithNav .back .print { background:url(ico_print.gif) 0 2px no-repeat; padding:0 0 0 15px;}
		
		.pushNumeroVol { margin:0 0 10px 0;}
			.pushNumeroVol img { border:0;}
		
		.introWithImage {width:507px;overflow:hidden; margin:0 0 10px 0; font-size:14px; color:#00437f;}
			.introWithImage dt { float:left;}
			.introWithImage dt img { margin:0 10px 0 0; border:1px solid #92a7b9; display:block}
			.introWithImage dd { margin:0 0 5px 0;}
			.introWithImage dd a { background:url(ico_09.gif) 0 3px no-repeat; color:#00437F; padding:5px 0 5px 20px; line-height:20px; font-weight:bold; font-size:12px;}
			.introWithImage p { margin:0;}
			.listMargin{ padding:30px 0 0 0; }
			
			.introWithImage .specialInto { display:block; clear:both; font-size:11px; color:#00437f;}
		.intro { margin:0 0 10px 0; font-size:14px; color:#00437F;}
			.intro li {background:url(ico_09.gif) 0 5px no-repeat; padding:5px 0 5px 20px; margin:0; font-weight:bold; font-size:12px;}
			.intro li a {color:#00437F;}
			.intro p { margin:0;}
		
		.focus {background:url(bgd_focus_bottom.gif) 0 bottom no-repeat; width:100%; padding:0 0 10px 0; margin:10px 0 10px 0px;}
		.focus div {background:url(bgd_focus_top.gif) 0 0 no-repeat; padding:10px 10px 0 0 ;}
		.focus div p{margin:0 0 0 20px;}
		.focus03 {background:url(bgd_highlight_content_botto.gif) 0 bottom no-repeat; width:338px; padding:0 0 10px 0; margin:10px 0 10px 0px;}
		.focus03 div {background:url(bgd_highlight_content_top.gif) 0 0 no-repeat; width:338px; padding:10px 0px 0 0 ;}
		.focus03 ul{ float:left; padding:0 40px;}
		.focus03 ul li{ background:none;}
		.focus03 .listTitle{ font-weight:bold; padding:0 0 20px 0;}
		.focus03 p{ padding:0 10px 0 0;}
		.focus04 {background:url(bgd_highlight_content_botto2.gif) 0 bottom no-repeat; width:162px; padding:0 0 10px 0; }
		.focus04 div {background:url(bgd_highlight_content_top2.gif) 0 0 no-repeat; width:162px; padding:10px 0px 0 0 ;}
		.focus04 p{ padding:0 10px 0 0;}
		.focus04 ul{ float:left; padding:0 10px;}
		.focus04 ul li{ background:none;}
		.focus04 .listTitle{ font-weight:bold; padding:0 0 20px 0;}
		
		.links { margin:0 0 20px 0px;}
			.links li { background:url(ico_08.gif) 0 4px no-repeat; padding:0 0 0 12px;}
			.par{margin-left:18px;}
		.links01 { margin:0 0 20px 0; padding:0;}
			.links01 li { background:url(ico_01.gif) 0 1px no-repeat; padding:0 0 0 17px; margin:0 0 3px 0;}

.links02 { margin:0 0 10px 18px; padding:0;}
			.links02 li { background:url(ico_10.gif) 0 7px no-repeat; padding:0 0 0 12px; margin:0 0 3px 0; font-weight:bold; font-size:12px;}
			.links02 li span { width:95px; float:left}

		.links04 { width:330px; float:left; margin:0 0 10px 0; padding:0;}
			.links04 li { background:url(ico_01.gif) 0 1px no-repeat; padding:0 0 1px 17px; margin:0 0 3px 10px;}.links02 { margin:0 0 10px 18px; padding:0;}
		.imgLeft { float:left; margin:0 10px 10px 0;}
		.imgLeft01 { float:left; margin:0 0 10px 18px;}
		.imgRight { float:right; margin:0 0 0 10px;}
		
		.top { text-align:right; margin:20px 0 0 0;}
			.top a { background:url(ico_top.gif) 0 3px no-repeat; padding:0 0 0 15px;}

		.researchBlock { margin:0 0 20px 0;}
			.researchBlock img { border:0;}
		
		.pushAirportInfo { margin:10px 0;}
			.pushAirportInfo div { width:162px; float:left;}
			.contentWithNav .pushAirportInfo li { background:url(bgd_li_lev3.gif) 0 4px no-repeat; padding:0 0 0 10px; margin:0 0 0 28px;}
		
		/***Partie contenu***/
		.flashSpecial {width:674px; overflow:hidden; color:#ff8800;margin:8px 0 8px 0;border-left:1px solid #ff8800;border-right:1px solid #ff8800;padding:0 0 0 5px}
		.flashSpecial a {color:#ff8800;}
		.flashSpecial strong {text-transform:uppercase; float:left}
		.flashSpecial span {float:left}
		.scrollText {width:570px; overflow:hidden; position:relative; top:0; right:0; z-index:2}
		.scrollText span {white-space:nowrap; position:relative; top:0; right:0; z-index:1}
		
		.contentWithOutNav .path { margin:0 0 0 10px;}
		.path {color:#92a7b9; padding:0 0 10px 0;}
			.path a,.path a:visited {color:#92a7b9}
			
		/***Partie contenu Home Page***/
		.highlightContent {width:709px;overflow:hidden; padding:0 0 0 0; margin:0px; }
			.highlightContent div {width:344px; float:left}
			.highlightContent .first { width:364px; margin:0 0px 0 0;}
			
		.highlightContent01 { background: url(bgd_highlight_content_botto.gif) 0 bottom no-repeat; width:706px; padding:0 0 10px 0; margin:0 0 15px 0;}
		.highlightContent01Cont { background:url(bgd_highlight_content_top.gif) 0 0 no-repeat; padding:10px 0 0 0; width:706px; overflow:hidden; }
		.highlightContent01 .first {margin:0 11px 0 0}

		
		.highlightSmall {width:338px;overflow:hidden;}
			.highlightSmall div {width:162px;float:left}

		/***  highLightAccesParkings  ***/		
		.highLightAccesParkings { width:344px; overflow:hidden;}
			.highLightAccesParkings dl {overflow:hidden; border:1px solid #92a7b9;}
			.highLightAccesParkings dt { padding:4px 5px 4px 5px; border-top:1px solid #92a7b9;}
			.highLightAccesParkings dt a { background:url(ico_up.gif) 0 3px no-repeat; padding:0 0 0 15px; text-decoration:none; text-transform:uppercase; font-weight:bold;}
			.highLightAccesParkings dd { overflow:hidden; background:#dcedf3; border-bottom:1px solid #92a7b9; padding:5px 5px 0 5px;}
			.highLightAccesParkings .firstAcc { border:0;}
			.highLightAccesParkings ul { width:280px; overflow:hidden; padding:0 0 10px 20px; clear:both;}
			.highLightAccesParkings li { float:left; display:inline; width:140px;}
			.highLightAccesParkings li img { float:left; margin:0 10px 0 0;}
			.highLightAccesParkings dt.active { background:#dcedf3;}
			.highLightAccesParkings dt.active a { background:#dcedf3 url(ico_down.gif) 0 3px no-repeat ;}
			.highLightAccesParkings div {width:323px; padding:4px 5px 4px 5px; border-bottom:1px solid #92a7b9;border-left:1px solid #92a7b9;border-right:1px solid #92a7b9;}
			.highLightAccesParkings div a { background:url(ico_up.gif) 0 3px no-repeat; padding:0 0 0 15px; text-decoration:none; text-transform:uppercase; font-weight:bold;}

		/***  highlightSubSection01  ***/
		.highlightSubSection01 {width:335px; margin:0 0 10px 0;}
			.highlightSubSection01 div { width:305px; padding:1px 5px 1px 15px;}
			.highlightSubSection01 h3 { background:url(ico_07.gif) 0 0 no-repeat; padding:0 0 0 30px; font-size:20px;}
			.highlightSubSection01 div div { background:none; width:250px; margin:0 0 0 30px; padding:0; display:inline}
			.highlightSubSection01 li { background:url(ico_06.gif) 0 0 no-repeat; padding:0 0 0 16px; margin:0 0 2px 0px;}
			.highlightSubSection01 p { font-size:12px;}
			.noback{background-image:none;}

		/***  highlightSubSection02  ***/
		.highlightSubSection02 { width:295px; float:left; padding:10px 20px;}
			.highlightSubSection02 h3 { background:url(ico_05.gif) 0 0 no-repeat; padding:0 0 0 25px; font-size:20px;}
			.highlightSubSection02 div { width:250px; margin:0 0 0 30px;}
			.highlightSubSection02 img {  margin:0 20px 0 0; float:left}
			.highlightSubSection02 ul { float:left}
			.highlightSubSection02 li { background:url(ico_06.gif) 0 1px no-repeat; padding:0 0 0 16px; margin:0 0 2px 0;}
			.highlightSubSection02 p { font-size:12px;}
			
		/***  highlightSubSection03  ***/
		.highlightSubSection03 { width:295px; float:left; padding:10px 20px;}
			.highlightSubSection03 h3 { background:url(ico_05.gif) 0 0 no-repeat; padding:0 0 0 30px; font-size:20px;}
			.highlightSubSection03 div { width:250px; margin:0 0 0 30px;}
			.highlightSubSection03 dl { width:250px; float:left; margin:15px 0 0 0;}
			.highlightSubSection03 dt { margin:0 0 5px 0; font-weight:bold;}
			.highlightSubSection03 dd {width:250px; overflow:hidden}
			.highlightSubSection03 img { margin:0 10px 0 0; float:left;}
			.highlightSubSection03 ul { float:left;}
			.highlightSubSection03 li { background:url(ico_08.gif) 0 3px no-repeat; padding:0 0 0 10px; margin:0 0 2px 0;}
			.highlightSubSection03 p { font-size:12px;}
		
		/***  pubBig01  ***/	
		.pubBig01 { font-size:12px;}
			.pubBig01 div {height:auto !important; min-height:90px; height:90px; }	
			.pubBig01 h4 { background:#fff; padding:0 10px 2px 10px; margin:0 0 0 20px; float:left;display:inline; clear:both;}
			.pubBig01 p { clear:both; color:#fff; padding:10px 5px 10px 20px }
			.pubBig01 .aLink { background:#ff6691 url(bgd_les_boutiques_link.jpg) 0  bottom repeat-x; width:325px; padding:12px 5px; height:auto !important; min-height:20px; height:20px; }
			.pubBig01 .aLink a { font-weight:bold; background:url(ico_02.gif) 0 2px no-repeat; color:#FFFFFF; padding:0 0 0 13px;}
			.pubBig01 .aLink span { font-size:10px; color:#fff;}

		/***  pubSmall01  ***/
		.one{ margin:0 15px 0 0;}
		.second{ margin:0 10px 0 0!important;}
		.specialFirst{ margin:0 35px 0 0!important;}
		.firstInfo{ padding:0 31px 0 0!important;}
		.pushbigsecond{ padding:10px 0px 10px 45px;}
		.pubSmall01 {  margin:0 20px 0 0; font-size:12px;}
			.pubSmall01 div {width:162px; float:none; height:auto !important; min-height:90px; height:90px; }	
			.pubSmall01 h4 { background:#fff; padding:0 10px 2px 10px; margin:0 0 0 20px; float:left;display:inline; clear:both;}
			.pubSmall01 p { clear:both; color:#fff; padding:10px 5px 10px 20px }
			.pubSmall01 .aLink { background:#8fd1f2 url(bgd_voyages_link.jpg) 0  bottom repeat-x; width:152px; padding:5px; height:auto !important; min-height:34px; height:34px; }
			.pubSmall01 .aLink a { font-weight:bold; background:url(ico_03.gif) 0 2px no-repeat; color:#FFFFFF; padding:0 0 0 13px;}
			.pubSmall01 .aLink span { font-size:10px; color:#fff;}
		
		/***  pubSmall02  ***/		
		.pubSmall02 {font-size:12px;}
			.pubSmall02 div {width:162px; float:none; height:auto !important; min-height:90px; height:90px; }	
			.pubSmall02 h4 { background:#fff; padding:0 10px 2px 10px; margin:0 0 0 20px; float:left;display:inline; clear:both;}
			.pubSmall02 p { clear:both; color:#fff; padding:10px 20px 10px 5px; text-align:right; }
			.pubSmall02 .aLink { background:#ff3c25 url(bgd_devises_express_link.jpg) 0  bottom repeat-x; width:152px; padding:12px 5px; height:auto !important; min-height:20px; height:20px; }
			.pubSmall02 .aLink a{ font-weight:bold; background:url(ico_04.gif) 0 2px no-repeat; color:#FFFFFF; padding:0 0 0 13px;}
			.pubSmall02 .aLink a:visited{color:#FFFFFF;}
			.pubSmall02 .aLink span { font-size:10px; color:#fff;}

		/***  pushListBig01  ***/
		.pushListBig01 { background:url(bgd_line_coupe_orange.gif) repeat-y; padding:5px 0;}
			.pushListBig01 dl { width:160px; float:left; padding:0 0 0 8px;}
			.pushListBig01 dt { background:url(bgd_h2_context.gif) 0 0 no-repeat; color:#00437F; font-size:14px; font-weight:bold; padding:0 0 0 15px; margin:0 0 5px 0;}
			.pushListBig01 dd { background:url(ico_01.gif) 0 2px no-repeat; padding:0 0 0 13px; margin: 0 0 3px 10px}
			.pushListBig01.second{ padding:0 0 0 8px;}
		/***  pushListBig02  ***/
		.pushListBig02 { background:url(bgd_line_coupe_orange.gif) repeat-y; padding:5px 0; width:335px; float:left; overflow:hidden;}
			.pushListBig02 dl { width:160px; float:left; padding:0 0 0 5px;}
			.pushListBig02 dt {color:#00437F; background:url(bgd_h2_context.gif) 0 0 no-repeat; font-size:14px; font-weight:bold; padding:0 0 0 15px; margin:0 0 5px 0;}
			.pushListBig02 dd { margin: 0 0 3px 15px}
			.pushListBig02 dd span { color:#f5821f;}
		
		.highlightContent .classSpecial { background:url(bgd_flash_special.gif) repeat-y; width:325px; padding:5px;}
		.classSpecial h4 {background:url(bgd_h2_context.gif) 0 0 no-repeat; font-size:14px; color:#00437F; font-weight:bold; padding:0 0 0 15px; margin:0 0 5px 0;}
		.classSpecial p { color:#f5821f; margin:0 0 4px 15px;}
		.classSpecial p span { font-size:10px;}
		
		.highlightSubSection04 { background:#DCEDF3; width:703px; border-left:5px solid #ff8800; margin:0 0 10px 0;}
			.highlightSubSection04 div { width:697px; overflow:hidden;}
			.highlightSubSection04 h4 { background:url(ico_05.gif) 0 15px no-repeat; font-size:20px; color:#00437F; width:270px; float:left; display:inline; margin:0 0 0 20px; padding:15px 10px 15px 30px;}
			.highlightSubSection04 ul { width:320px; float:right; padding:5px 10px 5px 5px; display:inline;}
			.highlightSubSection04 li { background:url(ico_06.gif) 0 0 no-repeat; padding:0 0 0 20px; width:290px; clear:both}
		
		.pushListBig03 { background:url(bgd_push_list_big03.gif) -2px 0 repeat-y; padding:5px 0; width:706px; overflow:hidden; margin:0 0 10px 0;}
			.pushListBig03 div { width:159px; float:left; padding:0 9px 0 8px;}
			.pushListBig03 h4 { background:url(bgd_h2_context.gif) 0 0 no-repeat; color:#00437F; font-size:14px; font-weight:bold; padding:0 0 0 15px; margin:0 0 10px 0;}
			.pushListBig03 img { margin:0 0 10px 0;}
			.pushListBig03 li { background:url(bgd_li_lev3.gif) 0 3px no-repeat; padding:0 0 0 10px; margin:0 0 0 10px;}
		
	/***********************Partie contextuel***********************/
	.context {width:180px;float:right;padding:0 0px 0 0; margin:15px 0 0 0;}
	
		.monCompte {width:165px;padding:10px 0 5px 0; overflow:hidden;}
			.monCompte h3 { background:url(ico_mon_compte_up.gif) 10px 9px no-repeat; padding:5px 0 0 22px; margin:0;cursor:pointer;font-size:11px; font-weight:bold;color:#FFFFFF; text-transform:uppercase;}
			.monCompte .activeMon {background:url(ico_mon_compte_down.gif) 10px 8px no-repeat; }
			
			.monCompte ul {padding:0 0 0 10px; margin:0;}
			.monCompte li {padding:0 0 0 8px;background:url(bgd_li_monCompte.gif) 0 4px no-repeat; font-size:10px;}
			.monCompte .creerCompte {padding:0 10px 5px 15px; float:right;background:url(bgd_a_monCompte.gif) 0 1px no-repeat;}
			.monCompte .identification { padding:0 10px 10px 10px}
	
		.highlightVerticalFlash{width:168px;margin:10px 0 0 0}
		.highlightVertical {width:162px;background:url(bgd_highlightHorizontal_top.gif) top no-repeat; margin:10px 0 0 0;}
		.highlightVertical h2 {font-size:14px;font-weight:bold;padding:0 0 3px 15px;margin:0 6px 0 6px;background:url(bgd_h2_context.gif) 0 1px no-repeat;color:#00437F;}
			.highlightVertical .highlightActualites { color:#ff8800}
			.highlightVertical h3 {font-size:11px;color:#00437f;margin:0;padding:0 0 0 15px;}
			.highlightVertical span {font-size:10px;color:#92a7b9;padding:0 0 0 15px;}
			.highlightVertical li { background:url(ico_01.gif) 5px 0 no-repeat; padding:0 0 8px 23px;}
			.highlightVertical img{ padding:0px!important; border-left:none!important;border-right:none!important;margin:2px 0 5px 0;}		
			.highlightVertical p a {padding:0 0 0 0; background:none;}
			.highlightVertical p span {color:#f5821f;}
			.highlightVertical p{ padding:0 0 0 15px;}
			.highlightVertical img{ margin:0 0 0 1px;}
			.highlightVertical div {width:162px;padding:6px 0 6px 0;background:url(bgd_highlightHorizontal_bottom.gif) bottom no-repeat;}
			.highlightVertical div div {width:145px;padding:0 6px 0 8px!important;background:none;}
			.highlightVertical div div div {width:138px;padding:0 0 0 15px!important;}
			.highlightVertical .puceOrange li { background:url(ico_10.gif) 14px 7px no-repeat; padding:0 0 0 24px;margin:3px 0 0 0}
			.onelink li{ background:url(ico_06.gif.1) 0px 2px no-repeat!important; padding:0 0 8px 16px;}
			
			.highlightVerticalOrange {width:168px;background:url(bgd_highlightHorizontal_top_orange.gif) top no-repeat; margin:10px 0 0 0}
			.highlightVerticalOrange h2 {font-size:14px;font-weight:bold;color:#587fa0;padding:0 0 3px 15px;margin:0 6px 0 6px;background:url(bgd_h2_context.gif.1) 0 1px no-repeat;}
			.highlightVerticalOrange .highlightActualites { color:#ff8800}
			.highlightVerticalOrange h3 {font-size:11px;color:#00437f;margin:0 0 4px 21px;}
			.highlightVerticalOrange span {font-size:10px;color:#92a7b9;}
			.highlightVerticalOrange li { background:url(ico_01.gif) 0px 0 no-repeat; padding:0 0 0 15px; margin:3px 0 0 0}
			.highlightVerticalOrange li { background:url(ico_01.gif) 5px 0 no-repeat; padding:0 0 8px 23px; margin:0 0 0 0px;}
			.highlightVerticalOrange img{ margin:0 0 0 1px;}
			.highlightVerticalOrange p { margin:0 0 0 10px;}
			.highlightVerticalOrange p span {color:#f5821f;}
			.highlightVerticalOrange p a {padding:0 0 0 0; background:none;}
			.highlightVerticalOrange .pSpec { margin:0 0 0 5px;}
			.highlightVerticalOrange div {width:168px;padding:6px 0 6px 0;background:url(bgd_highlightHorizontal_bottom_orange.gif) bottom no-repeat;}
			.highlightVerticalOrange div div {width:153px;padding:0 6px 0 8px;background:none;}
			.highlightVerticalOrange div div div {width:138px;padding:0 0 0 15px;}
			.highlightVerticalOrange .puceOrange li { background:url(ico_10.gif) 14px 7px no-repeat; padding:0 0 0 24px;margin:3px 0 0 0}
			
			.highlightVertical .links05 { margin:0 0 10px 16px; padding:0;}
			.highlightVertical .links05 li { background:url(ico_10.gif) 0 7px no-repeat; padding:0 0 0 12px; margin:0 0 1px 0;}
		
		.highlightVertical01 {width:165px;background:url(bgd_highlightHorizontal_01_top.gif) top no-repeat; margin:10px 0 0 0; padding:7px 0 0 0;}
			.highlightVertical01 div {background:url(bgd_highlightHorizontal_01_bottom.gif) bottom no-repeat; width:165px; padding:3px 0 6px 0;}
			.highlightVertical01 div div {width:153px;padding:5px 6px 0 0;background:none;}
			.highlightVertical01 h2 {font-size:14px;font-weight:bold;color:#00437F;padding:0 0 5px 15px;margin:0 6px 0 6px;background:url(bgd_h2_context_01.gif) 0 2px no-repeat;}
			.highlightVertical01 h3 {font-size:11px;color:#00437f;margin:0 0 4px 21px;}
			.highlightVertical01 li { background:url(ico_06.gif) 0px 0 no-repeat; padding:0 0 8px 15px; margin:0 0 0 20px;}
			.highlightVertical01 img { background:#FFFFFF; padding:2px 0 2px 0; border-bottom:1px dotted #ff8800!important;border-top:1px dotted #ff8800!important;border-left:none!important;border-right:none!important;margin:0 0 5px 2px;}
			.highlightVertical01 p { margin:0 0 0 21px;}
			.highlightVertical01 p a {padding:0 0 0 0; background:none;}
		.highlightVerticalBleu {width:165px;background:#eaedf5 url(bgd_highlightHorizontalBleu_top.gif) top no-repeat; margin:10px 0 0 0}
			.highlightVerticalBleu h2 {font-size:14px;font-weight:bold;color:#00437F;padding:0 0 3px 15px;margin:0 6px 0 6px;background:url(bgd_h2_contextBleu.gif) 0 1px no-repeat;}
			.highlightVerticalBleu .highlightActualites { color:#ff8800}
			.highlightVerticalBleu h3 {font-size:11px;color:#00437f;margin:0;}
			.highlightVerticalBleu span {font-size:10px;color:#92a7b9;}
			.highlightVerticalBleu li { background:url(icoBleu_01.gif) 0px 0 no-repeat; padding:0 0 0 15px;margin:3px 0 0 0}
			.highlightVerticalBleu p {padding:0 0 0 0; background:none;}
			.highlightVerticalBleu p span {color:#f5821f;}
			.highlightVerticalBleu div {width:165px;padding:6px 0 6px 0;background:url(bgd_highlightHorizontalBleu_bottom.gif) bottom no-repeat;}
			.highlightVerticalBleu div div {width:153px;padding:0 6px 0 8px;background:none;}
			.highlightVertical div div div {width:138px;padding:0 0 0 15px!important;}
			.highlightVerticalBleu .puceOrange li { background:url(ico_10.gif) 5px 7px no-repeat; padding:0 0 0 15px;margin:3px 0 0 0}
		
		.formVoyageur {width:138px;overflow:hidden}
			.formVoyageur select {width:110px; float:left;padding:1px 0 1px 0;border:1px solid #7f9db9;}
			.formVoyageur .btnOk {border:none;float:left;width:23px;padding:5px 0 0 3px}
		
/*table tblCommande*/
		.tblCommande { border:1px solid #92a7b9; margin:0 0 30px 0!important;} 
		.tblCommande caption { display:none;}
		.tblCommande th { padding:8px 5px 8px 15px; border-right:1px solid #92a7b9; text-align:left; border-bottom:1px solid #92a7b9; background:#eaedf5;}
		.tblCommande td { padding:5px 1px; border-right:1px solid #92a7b9;}
		.tblCommande td { background:url(bgd_line_02.gif) 100% bottom repeat-x; margin:0; padding:5px 5px 5px 15px!important;border-bottom:none!important;border-top:none!important; }
		.tblCommande .lastTR td { background:none;}
		.tblCommande select { width:85px;}
		.tblCommande a { text-decoration:underline;}
		.tblCommande a:hover { text-decoration:none;}
		
		.links03 { padding-left:5px;}
		.links03 a { background:url(ico_16.gif) 0 1px no-repeat; padding:0 0 1px 18px; text-decoration:none;}
		.links03 a:hover { text-decoration:underline;}
		
		.btnValider { text-align:right; height:20px; width:470px; overflow:hidden; clear:both; margin:10px 0 0 18px!important; }
		.btnValider span { background:url(btn_blue_left.gif) 0 0 no-repeat; float:right; padding:0 0 0 22px;}
		.btnValider a {display:block; background:url(btn_blue_right.gif) right 0 no-repeat; padding:0 22px 0 0; line-height:20px; color:#FFFFFF; font-size:12px; font-weight:bold;text-decoration:none!important;}
		.btnValider a:hover { text-decoration:underline!important;}

		.btnValider01 { text-align:right; height:20px; width:470px; overflow:hidden; clear:both; margin:10px 0 0 0; }
		.btnValider01 span { background:url(btn_blue_left_01.gif) 0 0 no-repeat; float:right; padding:0 0 0 27px;}
		.btnValider01 a {display:block; background:url(btn_blue_right.gif) right 0 no-repeat; padding:0 22px 0 0; line-height:20px; color:#FFFFFF; font-size:12px; font-weight:bold;}
		.btnValider01 a:hover { text-decoration:underline;}

		/* popupDetail */
		.popupDetail { background:#fff; display:none; width:250px; border:1px solid #1e598e; padding:10px 10px 10px 0 ;}
		.popupDetail img { float:right; border:0 none;}
		
		.frmSeiul p { width:55%; overflow:hidden; text-align:right;}
		.frmSeiul label { width:150px; float:left; text-align:left;}
		.frmSeiul input { width:90px; float:left; border:1px solid #8b91a0; margin:0 0 0 0;}
		
		.dlbig07{ padding:0 2px 0 2px!important;}
		.ddbig07{ margin:0 0 3px 0px!important;}
	/*************************************footer**************************************/
	.footer {width:891px;font-weight:bold;overflow:hidden;padding:10px 0px 10px 0px; margin:10px 0 0 0;background:url(bgd_footer.gif) top repeat-x;}
		.footer li {float:left;border-right:1px solid #00437f;padding:0 7px 0 7px;}
		.footer .first {border-left:1px solid #00437f;}
		
	.siteMap {width:891px;overflow:hidden;padding:0;margin:0 25px 10px 0px;background:#f4f6fa}
		.siteMap h2 {font-size:11px;text-transform:uppercase;padding:7px 8px 0 8px;height:22px;}
		.siteMap h2 a {color:#00437f;}
		.siteMap h3 {font-size:11px;background:transparent url(bgd_h2_lev3.gif) no-repeat scroll 0px 2px; padding:0 0 0 17px;}
		.siteMap a,.siteMap a:visited {color:#00437F;text-decoration:none;}
		.siteMap a:hover {text-decoration:underline;}
		.siteMap ul {padding:0 0 10px 0}
		.siteMap ul li{background:transparent url(bgd_li_li_li_lev3.gif) no-repeat scroll 0 7px; padding:0 0 0 8px;}
		
		.siteMapLeft {float:left;width:706px;}
		.siteMapRight {float:left;width:165px; margin:0 0 0 0px;}
		
		.passagers {width:666px;overflow:hidden;padding:10px;}
		.passagers h2 {width:145px;float:left;background:url(bgd_h2_siteMap_passagers.gif) no-repeat;}
		.passagers div {width:148px;float:left;padding:5px 20px 0 0}
		
		.groupe {width:145px;padding:10px; border-bottom:10px solid #FFFFFF;border-left:20px solid #FFFFFF}
		.groupe h2 {background:url(bgd_h2_siteMap_groupe.gif) no-repeat;}
		.groupe div {width:145px;padding:5px 0 0 0}
		
		.activitesPro {width:145px;padding:10px;border-left:20px solid #FFFFFF}
		.activitesPro h2 {background:url(bgd_h2_siteMap_activites.gif) no-repeat;height:34px;}
		.activitesPro div {width:145px;padding:5px 0 0 0}	
		
	.mentions {color:#92a7b9;font-size:9px;font-family:Verdana,Helvetica,sans-serif;margin:0 25px 0 25px;}
		.mentions strong {font-size:11px;}
				
	/*layer*/
	.layer {width:200px; position:absolute; top:0; left:0; visibility:hidden; text-align:left}
	.layer a {overflow:hidden; float:right;}
	
	/*inline style*/
	.inline {background:#00407b;}
	.inline a {display:none;}
	.inline p {color:#ffffff; margin:0; padding:5px 10px;}

	/*Letter for depature*/
	.lstTerminalDetailDepature {display:none;}
	.lstTerminalDetailDepature li { background:0 none; display:inline; float:left; margin:0!important; padding:0!important;border:none!important; }
	.lstTerminalDetailDepature img { border:0 none;border-left:1px solid #587fa0; border-bottom:1px solid #587fa0;}
	.lstTerminalDetailDepature .lastImg {border-right:1px solid #587fa0;} 
	
	/*Letter for arrival*/
	.lstTerminalDetailArrival {display:none;}
	.lstTerminalDetailArrival li { background:0 none; display:inline; float:left; margin:0!important; padding:0!important;border:none!important;  }
	.lstTerminalDetailArrival img { border:0 none;border-left:1px solid #587fa0; border-bottom:1px solid #587fa0;}
	.lstTerminalDetailArrival .lastImg {border-right:1px solid #587fa0;}
	/*warning to user*/
	.contentWithNav .warningSelectArrival {width:487px; clear:left; padding:10px 0 0 0!important; margin:0; display:none}
	.contentWithNav .warningSelectDepature {width:487px; clear:left; padding:10px 0 0 0!important; margin:0; display:none}
	
	/* PAGE guides_correspondances3*/
	
	.terminalPlan { width:487px; overflow:hidden; margin:0 0 30px 20px;}
	.terminalPlan div { width:268px; float:left; margin:0;}
	.terminalPlan .last {width:208px; float:right;}
	.terminalPlan h4 { background:0 none; padding:0; margin:0 0 10px 0;}
	.terminalPlan h5 { background: url(ico_12.gif) 0 6px no-repeat; padding:0 0 0 10px; font-size:12px; margin:0 0 5px 0;}
	
	
	.lstTerminal { width:278px; overflow:hidden;}
	.lstTerminal li { display:inline; float:left; margin:0; padding:0;  }
	.lstTerminal img { border:0 none; border-left:1px solid #587fa0; border-top:1px solid #587fa0; border-bottom:1px solid #587fa0;}
	.lstTerminal .lastImg {border-right:1px solid #587fa0;}
	.lstTerminal li a { color:#115f95; display:block;}
	
	.lstParisOrly { width:208px; overflow:hidden;}
	.lstParisOrly li { display:inline; float:left; margin:0; padding:0;  }
	.lstParisOrly img { border:0 none; border-left:1px solid #587fa0; border-top:1px solid #587fa0; border-bottom:1px solid #587fa0;}
	.lstParisOrly .lastImg {border-right:1px solid #587fa0;}
	.lstParisOrly li a { color:#115f95; display:block;}
	
	.warningSelect { width:487px; overflow:hidden; clear:both; padding:0; }
	.resultSelection { width:487px; overflow:hidden; clear:both; padding:10px 0 0 0; margin:0 0 10px 20px; background:url(bgd_line_02.gif) 0 0 repeat-x;}
	.resultSelection dl {width:470px; overflow:hidden; clear:both; margin:0 0 10px 10px;}
	.resultSelection dt { float:left; }
	.resultSelection dt img {margin:0 10px 0 0; border:0;}
	.resultSelection dd { clear:right;}		
	.resultSelection .print { background:url(ico_print.gif) 0 2px no-repeat; padding:0 0 0 15px; float:right;}
	.resultSelection .print a { font-weight:normal; font-size:11px;}
	.resultSelection h4 { margin:0 0 15px 0;}
	.resultSelection h5 { background:url(bgd_h2_lev3.gif) 0 0px no-repeat; padding:0 0 0 18px; font-size:11px; margin:0 0 10px 10px;}
	.resultSelection p { margin:0; padding:0 0 0px 10px;}
	.resultSelection .txtResearch {background:url(bgd_li_li_li_lev3.gif) 0 5px no-repeat; padding:0 0 0 10px; margin:0 0 5px 0; display:block; font-weight:bold; font-size:12px;}
	.resultSelection ul { display:block; float:left; margin:0 0 0 10px;}
	.resultSelection li { background:none; margin:0; padding:0; font-size:10px;}
	.resultSelection div.itinerary {padding:0 0 12px 0; display:none;}
	.terminal {display:block}
	
	/*frmAfficher*/
	.frmAfficher { width:494px; background:#eaedf5; padding:10px 0 0 10px; border:1px solid #92a7b9; overflow:hidden; margin:0 0 10px 0; clear:both;}
	.frmAfficher p { width:494px; overflow:hidden; margin:0 0 5px 0;}
	.frmAfficher select { width:158px; float:left; margin:0 4px 0 0;}
	.frmAfficher .btnValider01 { width:482px;}

	.highlightProduct { width:506px;}
	.highlightProduct div { width:162px; float:left; margin:0 10px 0 0;}
	.highlightProduct div.last { margin:0;}
	.highlightProduct p { border:1px solid #c3ccde; margin:0 0 10px 0; padding:5px 10px;}
	.highlightProduct p a {font-size:12px; font-weight:bold;text-decoration:none!important;}
	.highlightProduct p a:hover { text-decoration:underline!important;}
	.highlightProduct img {margin:0 0 10px 0;}
	
	/***** NEW STYLES *****/

	.highlightSubSection06 {background:#DCEDF3; width:502px; border-left:5px solid #ff8800; overflow:hidden; padding:1px 0; clear:both; margin:0 0 10px 0;}
	.highlightSubSection06 img { border:0; float:left; margin:0 10px 0 0;}
	.highlightSubSection06 div { padding:0 0 0 0; float:left; width:65%;}
	.highlightSubSection06 ul { width:320px; padding:0 0 0 10px;}
	.highlightSubSection06 .coldouble { width:165px!important; padding:0 0 0 10px;float:left;}
	.highlightSubSection06 li { background:url(bgd_li_lev3.gif) 0 4px no-repeat!important; padding:0 0 0 12px!important; width:130px; float:left; display:inline;}
	.highlightSubSection06 input { border:none; margin:0 0 0 10px;}
	.contentWithNav .highlightSubSection06 .link{ background:url(ico_06.gif) 0 1px no-repeat; padding:0 0 0 15px;}
	.highlightSubSection06 p { margin:0 0 0 10px;}
	.highlightSubSection06 h4 {background:none; padding:0; margin:5px 0 5px 0; font-weight:normal;}
	
	
	.highlightSubSection09 {width:502px; height:93px; border-left:5px solid #ff8800; overflow:hidden; padding:0; clear:both; margin:0 0 10px 0;}
	.highlightSubSection09 img { border:0;margin:0 10px 0 0;}
	
	
	
	
	
	.orange { background:#ff8800; padding:0; margin:0 0 20px 0;}
	.orange div { width:335px;}
	.orange p a { background:url(ico_17.gif) 0 1px no-repeat; padding:0 0 0 17px;}
	
	.violet { background:#7e003f url(bgd_violet.gif) 0 0 repeat-x; padding:0; margin:0 0 20px 0;}
	.violet div { width:335px;}
	.violet p a { background:url(ico_18.gif) 0 1px no-repeat; padding:0 0 0 17px;}
	
	.rose { background:#d11d5a; padding:0;  margin:0 0 20px 0;}
	.rose div { width:335px;}	
	.rose p a { background:url(ico_19.gif) 0 1px no-repeat; padding:0 0 0 17px;}

	.highlightSubSection07 {background:url(bgd_push_list_big07.gif) 0 5px repeat-y; width:502px; border-left:5px solid #ff8800; overflow:hidden; margin:0 0 10px 0; clear:both;}
	.highlightSubSection07 img { border:0; float:left; margin:0 0 0 0;}
	.highlightSubSection07 div { width:159px; padding:0 0 0 0; float:left; margin:0 0 0 13px;}
	.highlightSubSection07 h3 { margin:0 0 3px 0;}
	.highlightSubSection07 div img { float:none; display:block; margin:0 0 3px 0;}
	.highlightSubSection07 ul { width:145px; display:block; overflow:hidden; margin:0 0 0 0px;}
	.highlightSubSection07 li { background:url(bgd_li_lev3.gif) 0 4px no-repeat!important; width:130px; display:block; padding:0 0 0 12px!important; margin:0; }
	.highlightSubSection07 .stypePadding { padding:20px 0  0 0;}
	.highlightSubSection07 .stypePadding h3 { margin:0 0 15px 0;}
	
	.highlightSubSection07Large {background:url(bgd_push_list_big09.gif) 0 5px repeat-y; width:502px; border-left:5px solid #ff8800; overflow:hidden; margin:0 0 10px 0; clear:both;}
	.highlightSubSection07Large img { border:0; float:left; margin:0 0 0 0;}
	.highlightSubSection07Large div { width:159px; padding:0 0 0 0; float:left; margin:0 0 0 13px;}
	.highlightSubSection07Large h3 { margin:0 0 3px 0;}
	.highlightSubSection07Large div img { float:none; display:block; margin:0 0 3px 0;}
	.highlightSubSection07Large ul { width:145px; display:block; overflow:hidden; margin:0 0 0 0px;}
	.highlightSubSection07Large li { background:url(bgd_li_lev3.gif) 0 4px no-repeat!important; width:130px; display:block; padding:0 0 0 12px!important; margin:0; }
	.highlightSubSection07Large .stypePadding { padding:20px 0 20px 0;}
	.highlightSubSection07Large .stypePadding h3 { margin:0 0 15px 0;}
	
	.pushListBig04 { background:url(bgd_push_list_big04.gif) repeat-y; padding:5px 0 0 0; width:507px; overflow:hidden; margin:0 0 15px 0; clear:both;}
	.pushListBig04 div { width:158px; float:left; padding:0 4px 0 8px;}
	.pushListBig04 .lastHighlight{ padding:0 0 0 9px!important;}
	.pushListBig04 h4 { background:url(bgd_h2_context.gif) 0 0 no-repeat; color:#00437F; height:auto !important; min-height:30px; height:30px; font-size:14px; font-weight:bold; padding:0 0 0 15px!important; margin:0 0 5px 0!important;}
	.pushListBig04 h4 span { font-size:11px;}
	.pushListBig04 img { margin:0 0 10px 0;}
	.pushListBig04 li { background:url(bgd_li_lev3.gif) 0 5px no-repeat!important; padding:0 0 0 10px!important; margin:0 0 0 10px!important;}
	.pushListBig04 a span { color:#f5821f;}
	
	
	.pushListBig06  { background:url(bgd_push_list_big06.gif) repeat-y; padding:5px 0 0 0; width:507px; overflow:hidden; margin:0 0 15px 0; clear:both;}
	.pushListBig06 div { width:224px; float:left; padding:0 12px 0 12px;}
	.pushListBig06 h4 { background:url(bgd_h2_context.gif) 0 0 no-repeat; color:#00437F; height:auto !important; min-height:30px; height:30px; font-size:14px; font-weight:bold; padding:0 0 0 15px!important; margin:0 0 5px 0!important;}
	.pushListBig06 h4 span { font-size:11px;}
	.pushListBig06 img { margin:0 0 10px 0;border-left:5px solid #FF8800}
	
		
	.highlightService { background:url(bgd_line_03.gif) repeat-y; width:501px; overflow:hidden; margin:0 0 20px 0; padding:0 0 0 6px;}	
	.highlightService dt { float:left;}	
	.highlightService dt img { margin:0 10px 0 0;}	
	.highlightService dd { float:left;}	
	.highlightService p { width:330px; margin-left:0;}
	.highlightService p a { background:url(bgd_li_lev3.gif) 0 4px no-repeat; padding:0 0 0 10px;}
	.highlightService h3 { margin:5px 0 6px 0}
	
	.linksPdf { display:block; clear:both; margin:0 0 10px 0;}	
	.linksPdf span { color:#f5821f;}
		
	.frmSearch01 { margin:0 0 10px 0;}

	.highlightPlan {}
	.highlightPlan dt { float:left}
	.highlightPlan dd {}
	
#myspace{width:160px;padding:0px 0 5px 0; overflow:hidden;background-color:#DCEDF3;border:1px solid #92A7B9;
 }	
		#myspace h2{display:none;}
		#myspace #UcLogin_lblEspacePersoTitle{}/* titre */
		#myspace #formLogin {padding:0 0 0 10px;}
		#myspace input{display:block; margin:0 0 3px 15px;}
		#myspace label{ font-weight:bold; font-size:11px; padding:0 0 0 15px; }
		#UcLogin_myspaceOk{ background:url(btn_myspace_valid.gif) no-repeat; width:88px; height:22px; border:none; cursor:pointer; margin-top:10px!important;}
		#myspace #UcLogin_myspacePassword{ display:inline;border:1px solid #B7B7B9;width:110px;}
		#myspace #UcLogin_myspaceLogin{border:1px solid #B7B7B9; width:110px;}

		
		#myspace .lightLink{ background:url(bgd_li_lev3.gif) no-repeat 3px 12px ; margin:0px 0 5px 0; display:block; padding:8px 0 0 15px; }
		.spTopType1 a, .spTopType1 a:hover, .spTopType1 a:visited{text-decoration:none;}
		#myspace .lightLink02{  background:url(bgd_li_lev3.gif) no-repeat 3px 3px ; margin:0px 0 5px 0; display:block; padding:0 0 0 15px;}
		#myspace .error{ color:#FF0000;}
		#UcLogin_lblLoginAvtEspace{ display:none;}
		#UcLogin_btnCreateProfile{padding:0 0 0 24px!important;background:url(bgd_li_lev3.gif) no-repeat 13px 3px ;}
		
		#myspace #UcLogout_lblEspacePersoTitle{color:#FFFFFF;font-size:14px;font-weight:bold; padding:3px 0 3px 10px; margin:0 0 5px 0; text-align:left;}
		#myspace #UcLogout_lblClientName{ font-size:12px;}
		#myspace .creerCompte {padding:0 10px 5px 15px; float:right;background:url(bgd_a_monCompte.gif) 0 1px no-repeat; color:#FFFFFF;}
			#myspace h3 { clear:both; padding:0px 0 0 15px; margin:0;cursor:pointer;font-size:11px!important; font-weight:bold;color:#00437f; text-transform:uppercase;width:120px; background:url(bgd_h2_lev3.gif) 0 2px no-repeat; margin:0 0 10px 0; }
			#myspace h4 { clear:both; padding:5px 0 0 22px; margin:0;cursor:pointer;font-size:11px; font-weight:bold;color:#FFFFFF; text-transform:uppercase;  border-top:1px solid #92a7b9; background:url(ico_mon_compte_up.gif) 10px 8px no-repeat;}
			#myspace .activeMon {background:url(ico_mon_compte_down.gif) 10px 8px no-repeat; }
			#myspace .service{ }
			#myspace p{ padding:0 0 0 15px; width:120px;}
				#myspace p a{ padding:0;}
			#UcLogout_lnkDeconnecter{background:url(bgd_li_lev3.gif) no-repeat 0px 2px ;padding:0 0 0 9px; border:none!important;margin:0 0 0 12px!important;}
			#myspace a { color:#00437f; text-decoration:none; padding:0 0 0 15px;  }
			#myspace a:hover{ text-decoration:underline;}
			#myspace ul {padding:5px 0 0 12px; margin:0;}
			#myspace li {padding:0 0 0 8px;background:url(bgd_li_monCompte.gif) 0 4px no-repeat; font-size:10px; list-style-image:none; list-style-type:none; color:#FFFFFF;}
			
	
		.center{ padding:0 0 0 20px;}
		.spTopType1{ padding:5px 0 0 10px;}	
	
	.pushListBig05 { width:507px; overflow:hidden; clear:both}
	.pushListBig05 li { background:url(bgd_line_01.gif) 0 bottom repeat-x; width:230px; display:inline; float:left; padding:5px 0; margin:5px 0 5px 20px;}
	.pushListBig05 h4 { margin:0 0 5px 0;}
	.pushListBig05 .links04 { background:url(ico_01.gif) 0 1px no-repeat; padding:0 0 1px 17px; margin:0 0 3px 0;}
	.pushListBig05 p { margin:0;} 
	.pushListBig05 span { color:#f5821f;}

	.linkPdf span { color:#f5821f;} 
	.pushPlanAeroport { margin:10px 0 10px 0;}
	
	.highlightSubsection08 { width:502px; overflow:hidden; background:#eaedf6; border-left:5px solid #ff8800; margin:0 0 20px 0;}
	.highlightSubsection08 dl { width:160px; float:left; background:none; padding:8px 0;}
	.highlightSubsection08 dt {background:transparent url(ico_10.gif) no-repeat scroll 0 7px; padding:0 0 15px 10px; color:#00437F; font-size:12px; font-weight:bold; margin:0 0 0 10px;}
	.highlightSubsection08 p { background:url(ico_06.gif) 0 1px no-repeat; padding:0 0 0 17px; margin:0 0 5px 20px;}
	.highlightSubsection08 input { border:0; margin:0 0 0 20px;}
	.highlightSubsection08 img { border:none;}
	
	
	
	
	.pushListCommander {width:490px; padding:15px 0 0 10px;}
		.pushListCommander li {background:url(ico_12.gif) 0 5px no-repeat; padding:0 0 5px 10px;}
		.pushListCommander input { border:none; margin:20px 0 20px 120px;}
	
	.service_violet li{background:url(pass_premium_puce.gif) 0 5px no-repeat;}	
	.service_violet h3{background:url(pass_premium_fleche.gif) 0 2px no-repeat; padding:0 0 0 18px;margin:10px 0 6px;}	
	
	.service_bleu li{background:url(parking_vac_puce.gif) 0 5px no-repeat;}	
	.service_bleu h3 {background:url(parking_vac_fleche.gif) 0 2px no-repeat; padding:0 0 0 18px;margin:10px 0 6px;}
	
	.service_pourpre li{background:url(icare_puce.gif) 0 5px no-repeat;}	
	.service_pourpre h3{background:url(icare_fleche.gif) 0 2px no-repeat; padding:0 0 0 18px;margin:10px 0 6px;}

	.service_rose li{background:url(devises_express_puce.gif) 0 5px no-repeat;}	
	.service_rose h3{background:url(devises_express_fleche.gif) 0 2px no-repeat; padding:0 0 0 18px;margin:10px 0 6px;}
	
	.highlightSubSection09 {width:502px; height:93px; border-left:5px solid #ff8800; overflow:hidden; padding:0; clear:both; margin:0 0 10px 0;}
                .highlightSubSection09 img { border:0;margin:0 10px 0 0;}

	.pushListBig06  { background:url(bgd_push_list_big06.gif) repeat-y; padding:5px 0 0 0; width:507px; overflow:hidden; margin:0 0 15px 0; clear:both;}
                .pushListBig06 div { width:224px; float:left; padding:0 12px 0 12px;}
                .pushListBig06 h4 { background:url(bgd_h2_context.gif) 0 0 no-repeat; color:#00437F; height:auto !important; min-height:30px; height:30px; font-size:14px; font-weight:bold; padding:0 0 0 15px!important; margin:0 0 5px 0!important;}
                .pushListBig06 h4 span { font-size:11px;}
                .pushListBig06 img { margin:0 0 10px 0;border-left:5px solid #FF8800}
	
	.lstShowProduct { width:507px; overflow:hidden;}
	.lstShowProduct li { background: url(bgd_line_02.gif) 0 0 repeat-x; padding:8px 0 5px 0; margin:5px 0; width:507px; display:block; overflow:hidden}
	.lstShowProduct div { width:390px; float:right;}
	.lstShowProduct img { float:left; border:0 none;}
	.lstShowProduct h3 {font-size:12px; padding:0 0 5px 0; margin:0;}
	/*.lstShowProduct h3 {background:url(/ADP/images/ico_10.gif) 0 8px no-repeat; padding:0 0 0 12px; font-size:12px; margin:0;}*/
	.lstShowProduct p { padding:0;} 
	.lstShowProduct .price { float:right; width:160px; overflow:hidden; margin:0;}
	.lstShowProduct .price dt { float:left; margin:0 5px 0 0; font-weight:bold;}
	.lstShowProduct .chez { margin:0 0 0 0; width:220px; float:left;}
	.lstShowProduct .chez dt {background:url(ico_10.gif) 0 4px no-repeat; padding:0 0 0 8px; margin:0;}
	.lstShowProduct .double {width:380px;}
	
	.slideShowProduct { margin:0 0 10px 0; width:507px; overflow:hidden;}
	.slideShowProduct img { border:0 none; float:left; }
	
	/****** LES SELECTIONS SHOPPING ****/
	.highlightSubSectionShopping {background:#DCEDF3; border-left:5px solid #FF8800; margin:0 20px 30px 0; overflow:hidden; width:220px; float:left;}
	.highlightSubSectionShoppingLarge {width:465px;}
                .highlightSubSectionShopping div { padding:0 0 0 5px;}
                .highlightSubSectionShopping img { border:0;}
				.highlightSubSectionShopping div a {padding:0 0 10px 20px; display:block;}
				.highlightSubSectionShopping div a span {color:#F5821F;}


	/*********** ACTUALITES ***********/
	.titleArticle span {float:left;}
	.titleArticle span.date { font-size:12px; color:#ff8800; font-weight:normal; line-height:220%;}	

	a.titleActu {background:url(bgd_titleActu.gif) bottom right no-repeat; padding:0 13px 0 0; display:inline-block; margin:0 0 10px 0; cursor:pointer;}	
	span.titleActu {color:#ff8800; border-bottom:1px solid #ff8800; display:inline-block; padding:0 3px 0 0;}
	
	/********** PAGE ACTUALITES ********/
	.focusActu { background:url(bgd_focus_02_bottom.gif) 0 bottom no-repeat; width:507px; margin:0 0 15px 0; overflow:hidden;}
		.focusActu div { background:url(bgd_focus_02_top.gif) no-repeat; padding:3px; overflow:hidden;}
			.focusActu div img {border:none; float:left;}
				.focusActu div div {width:330px; float:left; background:none; padding:10px 0 0 10px;}
				.focusActu div div h3 {background:transparent url(ico_05.gif) no-repeat scroll 0 0; font-size:20px; padding:0 0 0 30px;}
				.focusActu div div a.titleActu {background:url(bgd_titleActu_bleu.gif) bottom right no-repeat; padding:0 13px 0 0;}	
				.focusActu div div a.titleActu span {color:#ff8800; border-bottom:1px solid #ff8800; padding:0 3px 0 0; display:inline-block;}
				.focusActu div div dl {padding:0 25px 0 38px;}
				.focusActu div div dt {font-weight:bold; padding:0; margin:0;}
				.focusActu div div dd {padding:10px 0 0 0;}
				.focusActu div div dd a {background:url(ico_08.gif) 0px 4px no-repeat; margin:0 0 2px 0; padding:0 0 0 10px;}
				.focusActu div div dd p {padding:0 0 10px 0;}
					
	.highlightArticle {float:left; padding:10px 0 20px 0;}
	.highlightArticle .titleArticle {padding:0; margin:0 0 6px 0;}
	.highlightArticle .titleArticle span {background:url(bgd_h2_lev3.gif) no-repeat 0 2px; padding:0 0 0 18px; float:left;}
	.highlightArticle .titleArticle span.date {float:right; background:none; font-size:12px; font-weight:normal; color:#00437f; line-height:140%;}
		
	.pushListBig07 { background:url(bgd_line_coupe_orange2.gif) repeat-y; padding:5px 0; width:505px; float:left; overflow:hidden;}
		.pushListBig07 dl { width:160px; float:left; padding:0 0 0 7px;}
		.pushListBig07 dt { background:url(bgd_h2_context.gif) 0 0 no-repeat; color:#00437F; font-size:14px; font-weight:bold; padding:0 0 0 15px; margin:0 0 5px 0;}
		.pushListBig07 dt.titleActu { background:none; padding:0; margin:0; } 
			.pushListBig07 dt.titleActu span {color:#ff8800; border-bottom:1px solid #ff8800; padding:0 3px 0 0; font-size:11px; font-weight:normal; display:inline-block;}
		.pushListBig07 dd { margin: 0 0 3px 15px}
			.pushListBig07 dd span { color:#f5821f;}
			.pushListBig07 .date{ color:#FF8800;}
			
	.pushListBig07_02 { background:url(bgd_line_coupe_orange3.gif) repeat-y; padding:5px 0; width:505px; float:left; overflow:hidden;}
		.pushListBig07_02 dl { width:225px; float:left; padding:0 0 0 25px;}
		.pushListBig07_02 dt { background:url(bgd_h2_context.gif) 0 0 no-repeat; color:#00437F; font-size:14px; font-weight:bold; padding:0 0 0 15px; margin:0 0 5px 0;}
		.pushListBig07_02 dt.titleActu { background:none; padding:0; margin:0; } 
			.pushListBig07_02 dt.titleActu span {color:#ff8800; border-bottom:1px solid #ff8800; padding:0 3px 0 0; font-size:11px; font-weight:normal; display:inline-block;}
		.pushListBig07_02 dd { margin: 0 0 3px 15px}
			.pushListBig07_02 dd span { color:#f5821f;}
			.pushListBig07_02 .date{ color:#FF8800;}			
			
	/********* PAGE ACTUALITES-LISTE **********/
	h3.titleArticle {background:none; font-size:14px; font-weight:bold; padding:0; margin:0;}
	h3.titleArticle span {background:url(bgd_h2_lev3.gif) no-repeat 0 2px; font-size:14px; font-weight:bold; padding:0 0 0 18px; float:left;}
	h3.titleArticle span.date {float:right; background:none; font-size:12px; font-weight:normal; line-height:140%;}
	dl.listeActu {background:url(bgd_line_back.gif) repeat-x left bottom; overflow:hidden; padding:0 0 10px 0; margin:6px 0 10px 0; float:left; }
		.listeActu img {border:none;padding:0 10px 0 10px;}
		.listeActu dd {float:left; width:320px;}
		.listeActu dd.large {width:486px; padding:0 0 0 18px;}
		.listeActu dt {float:left; width:183px; }
		.listeActu a {background:url(ico_01.gif) no-repeat; margin:10px 0 2px 0; padding:0 0 0 16px;}


		/***  highLightReserverVoyage  ***/		
		.highLightReserverVoyage { width:344px; margin:0 0 10px 0;}
			.highLightReserverVoyage div {border:1px solid #003787; position:relative; overflow:hidden; width:342px;}
			.highLightReserverVoyage div form {overflow:hidden; padding:0 0 10px 0;}
			.highLightReserverVoyage ul { width:335px; padding:0 5px 0 5px; overflow:hidden; }
			.highLightReserverVoyage ul.typeVol li { float:left; display:inline; padding:0 5px 0 3px; margin:5px 0 0 0;}
			.highLightReserverVoyage ul.typeReserv li { float:left; display:inline; padding:0 5px 0 3px; margin:5px 0 0 0;}
				.highLightReserverVoyage li input { margin:0; padding:0; border:none; vertical-align:text-top;}
				.highLightReserverVoyage li label { font-size:9px; font-weight:bold;}
				.highLightReserverVoyage li.volHotel {width:120px; text-align:right;}
				.highLightReserverVoyage li.volHotel a {font-weight:bold; text-decoration:underline;}
			.highLightReserverVoyage fieldset {float:left; padding:5px 0 10px 0;}
				.highLightReserverVoyage fieldset.selectDate {padding:0 10px 0 10px; width:278px; }
			.highLightReserverVoyage p { float:left; font-weight:bold; padding:0; width:278px; margin:0 0 5px 0;}
			.highLightReserverVoyage div.bottom {border:none; background:#003787; color:#FFFFFF; font-weight:bold; padding:3px 5px 3px 10px;}
			.highLightReserverVoyage div.topLink {background:#003787; border:none;}
				.highLightReserverVoyage div.topLink a {color:#FFFFFF; display:block; font-weight:bold; font-size:14px; margin:5px 0 5px 10px;}
				.highLightReserverVoyage div.topLink img {margin:0 0 1px 0; display:block;}
			
			.formSejour {}
				.formSejour p span {margin:0;}
				.formSejour p input {width:100px; margin:0; vertical-align:top;}
				.formSejour p select {width:106px; margin:0 3px 0 0;}
				.formSejour p label { float:left; width:90px; text-align:right; padding:0 10px 0 0;}
				.formSejour p.dateReserv input {width:80px; margin:0;}
				.formSejour p.dateReserv a {margin:0 3px 0 2px;}
				.formSejour p.dateReserv {height:20px;}
				.formSejour fieldset.selectDate p select{float:left; }
				.formSejour fieldset.selectDate p label{width:120px;}
				
			.formVol {}
				.formVol p span {margin:0;}
				.formVol p input {width:100px; margin:0; vertical-align:top;}
				.formVol p select {width:106px; margin:0 3px 0 0;}
				.formVol p label { float:left; width:90px; text-align:right; padding:0 10px 0 0;}
				.formVol p.dateReserv input {width:80px; margin:0; }
				.formVol p.dateReserv a {margin:0 3px 0 2px;}
				.formVol fieldset.selectDate p select{float:left; width:110px;}
				.formVol fieldset.selectDate p label{width:140px;}
				.formVol ul.typeVol li a {font-weight:bold; text-decoration:underline;}
			
			.formHotel {}
				.formHotel p span {margin:0;}
				.formHotel p input {width:100px; margin:0; vertical-align:top;}
				.formHotel p select {width:106px; margin:0 3px 0 0;}
				.formHotel p label { float:left; width:90px; text-align:right; padding:0 10px 0 0;}
				.formHotel p.dateReserv input {width:80px; margin:0; }
				.formHotel p.dateReserv a {margin:0 3px 0 2px;}
				.formHotel fieldset.selectDate p select{float:left; width:120px;}

			.formWE {}
				.formWE p span {margin:0;}
				.formWE p input {width:100px; margin:0; vertical-align:top;}
				.formWE p select {width:106px; margin:0 3px 0 0;}
				.formWE p label { float:left; width:90px; text-align:right; padding:0 10px 0 0;}
				.formWE p.dateReserv input {width:80px; margin:0; }
				.formWE p.dateReserv a {margin:0 3px 0 2px;}
				.formWE fieldset.selectDate p select{float:left; width:120px;}

			.formVoitures {}
				.formVoitures p span {margin:0;}
				.formVoitures p input {width:100px; margin:0; vertical-align:top;}
				.formVoitures p select {width:106px; margin:0 3px 0 0;}
				.formVoitures p label { float:left; width:90px; text-align:right; padding:0 10px 0 0;}
				.formVoitures p.dateReserv {width:195px; margin:0; }
				.formVoitures p.dateReserv input {width:70px; margin:0; }
				.formVoitures p.dateReserv a {margin:0 3px 0 2px;}
				.formVoitures p.heureReserv {width:75px; margin:0;}
				.formVoitures p.heureReserv label{width:10px; margin:0; padding:0 3px 0 0; }
				.formVoitures fieldset.selectDate p select{float:left; width:163px;}
				.formVoitures fieldset.selectDate p .smallHour { width:55px; float:left;}

/*****************/
.custom-tip img{border:#9fb1c1 solid 1px;}

/*****************/
#zoomContainer {
	position:absolute;
	top: -1000px;
	left: -1000px;
	overflow:hidden;
	z-index: 999;	
}
#zoomHandle {
	z-index: 998;
	position:absolute;
	top: -1000px;
	left: -1000px;	
}
#imageZoom {
	position:absolute;
	top: -1000px;
	left: -1000px;	
}
.zoom {cursor:crosshair}