.bglight { background: #fefefe; border-bottom: 1px solid #fff; padding: 10px; }
.bgdark { background: #f8f8f8; border-bottom: 1px solid #fff; padding: 10px;}

.bglight h2, .bgdark h2 { line-height: 11pt; }

/* FICHE DE COM */
#manifestation { border: 0; }

#manifestation td a { font-size: 1.2em; }

#manifestation table { margin: 10px 0; border: 0; }

#manifestation div { padding: 10px 0; }
#manifestation span { font-weight: bold; }

#manifestation table,
#manifestation th,
#manifestation td { border: 1px solid #ccc;  }
#manifestation table.hidden_table td ,
#manifestation table.hidden_table {border: 0; }

#manifestation th { padding: 10px; vertical-align: top; line-height: 12px; text-align: center;  }
	#manifestation th div { border: 0;  }
#manifestation td { padding: 5px; vertical-align: top; line-height: 12px; }

#manifestation .editer {
	display: block;
	width: 16px;
	height: 16px;
	background: url(edit.gif) no-repeat;
	border: 1px solid #fff;
	margin-bottom: 4px;
	}
	#manifestation a.editer:hover { border: 1px solid #006699; }
	#manifestation .editer span { display: none; }
#manifestation .exporter {
	display: block;
	width: 16px;
	height: 16px;
	background: url(http://www.cg12.fr/design/standard/images/_export.gif) no-repeat;
	border: 1px solid #fff;
	margin-bottom: 4px;
	}
	#manifestation a.exporter:hover { border: 1px solid #006699; }
	#manifestation .exporter span { display: none; }

#dEvenements { }
div#required { font-size: 0.9em; font-style: italic; border: 0; padding: 0; text-align: right; }
#manifestation textarea { width: 200px; height: 150px; }
#manifestation .commentaires { width: 70%; height: 150px; }

div#dDetails,
div#dDetails table,
div#dDetails td { border: 0; }

#evenement_edit div { border: 0; }
#evenement_edit #onglets td { text-align: center; font-size: 0.9em; }
#evenement_edit .onglet_on { background: #3F6298; border-bottom: 2px solid #333; border-right: 2px solid #333; }
	#evenement_edit .onglet_on a { color: #fff; font-weight: bold; }
#evenement_edit .onglet_off { font-weight: bold; }
	#evenement_edit .onglet_off:hover { background: #b7b7b7; font-weight: bold; }
#evenement_edit .onglet_inter { background: #b7b7b7; font-weight: bold; }

#alt_button .button {
	border-bottom: 2px solid #333;
	border-right: 2px solid #333;
	font-size: 1.2em;
	background: #3F6298;
	}
	#alt_button .button:hover {
		border-color: #333;
		background: #ccc;
		color: #3F6298;
		}

.fleches {
	border-top: 1px solid #ccc;
	margin-top: 4px;
	padding-top: 4px;
	white-space: nowrap;
	}

.fleche_up {
	background: url(http://www.cg12.fr/design/standard/images/_fleche_up.gif) no-repeat 2px 0;
	width: 15px;
	_width: 17px;
	height: 10px;
	border: 1px solid #666;
	}
	.fleche_up:hover { background: #ffffff url(http://www.cg12.fr/design/standard/images/_fleche_up.gif) no-repeat 2px 0; }
.fleche_down {
	background: url(http://www.cg12.fr/design/standard/images/_fleche_down.gif) no-repeat 2px 0;
	border: 0;
	width: 15px;
	_width: 17px;
	height: 10px;
	border: 1px solid #666;
	}
	.fleche_down:hover { background: #ffffff url(http://www.cg12.fr/design/standard/images/_fleche_down.gif) no-repeat 2px 0; }

/* tarif_list */
	
#manifestation	a.nouveau_lieu {
		font-size: 1.1em;
		padding-left: 20px;
		background: url(http://www.cg12.fr/design/standard/images/_plus.gif) no-repeat 0 0;
		}
		
	a.retour2 {
		font-size: 1.1em;
		padding-left: 20px;
		background: url(http://www.cg12.fr/design/standard/images/_retour2.gif) no-repeat 0 0;
		}
		
#manifestation	a.deconnexion {
		font-size: 1.1em;
		padding-left: 20px;
		background: url(http://www.cg12.fr/design/standard/images/_deconnexion.gif) no-repeat 0 0;
		}			

#archive_list th { text-align: left; }

/* --- QUIZ --- */
#quiz div { margin-bottom: 10px; }

#quiz h1 { display: block; margin-bottom: 10px; }

#quiz .bgdark,
 #quiz .bglight { padding: 6px; margin: 0; border-bottom: 1px dotted #333; }

	/* page par page */
	#quiz .your_answer { font-size: 1.2em; color: #666; }
		#quiz div.your_answer span { font-size: 0.8em; color: #000; }

	#quiz .correct { font-size: 1.1em; font-weight: bold; color: #669900; }
	#quiz .incorrect { font-size: 1.1em; font-weight: bold; color: #cc0000; }

	#quiz .right_answer {}
	
	#quiz #your_score {
		font-weight: bold;
		color: #999;
		display: block;
		text-align: right;
		padding: 0 6px;
		border-bottom: 1px dotted #333;
		}
	
	#quiz .counter { font-weight: bold; color: #333;}
	#quiz .question { font-weight: bold; font-size: 1.5em; color: #666;}
	
	
	/* Résultats */
	#final_score { font-weight: bold; font-size: 1.5em; color: #666;}
	
	.pourcentage { background: #666;  }
	.pourcentage2 { background: #ccc;  }

/* PETITES ANNONCES */
#ads h2 { display: none; }

#ads #listing { margin: 10px 0; }
#ads #header { font-weight: bold; border: 2px solid #fff; background: #eee; color: #006699;  }
#ads #header h2 { display: none;  }

#ads #header {
	background: #F2F2F2;
	padding: 10px;
	overflow: hidden;
	height: 100%;
	border: 0;
	border-bottom: 2px solid #fff;
	}

#ads .bglight h2,
#ads .bgdark h2{ display: block; }

#ads .bglight { clear: both; overflow: hidden; _height: 100%; }
#ads .bgdark { clear: both;  overflow: hidden; _height: 100%; }

#ads .author { float: right; width: 30%; text-align: left;  }
#ads .message { float: left; width: 65%;  }

#ads .date { display: none; }

input.box { width: 300px; }
textarea.box { width: 300px; }

#ads_category table { margin-top: 20px; width: 100%; border: 1px solid #ccc; }

	#ads_category th { padding: 6px 10px; text-align: left;  }
	#ads_category table tr { background: #F2F2F2; }
	#ads_category table td {
		padding: 6px 10px;
		border-top: 1px solid #ccc;
		}

#ads_category img { display: none; }
#ads_category .date { display: none; }

/* --- DIAPORAMA --- */
	/* gallerie */
	.content-view-galleryline div.class-image { padding: 10px; text-align: center; }
	.content-view-galleryline .attribute-caption { padding: 3px 10px; font-style: italic;}	
	
	.content-view-children td {
		vertical-align: top;
		width: 25%;
		}
	
	.content-view-galleryline {
		clear: both;
		margin: 10px; padding: 10px;
		vertical-align: top; text-align: center;
		border: 1px solid #ccc;
		}
		
		.content-view-galleryline .attribute-image { display: inline; border-bottom: 1px solid #ccc; text-align: center; }
			div.content-view-galleryline div.attribute-image img { border: 1px solid red; }
	
	.content-view-galleryline .attribute-copyright p { clear: both; text-align: center; }	
	.content-view-galleryline .attribute-caption { clear: both; text-align: center; }

#gallery_image_full {}

#gallery_image_full_body { text-align: center; font-family: Arial; }

	#navigator { margin: 10px 0; white-space: nowrap; }

		#navigator span { color: #416297; font-weight: bold; }
		#navigator a { color: #000; font-weight: bold; }
			#navigator a:hover { color: #EC6F13; }
	
		#navigator .previous-disabled span { font-weight: normal; color: #000; }
		#navigator .next-disabled span { font-weight: normal; color: #000; }

		#gallery_image_full_body .image { background: #ccc; border: 1px solid #000; margin: 0 auto; }

		.copyright {}
		.caption {}

/* --- QUIZ --- */
#quiz div { margin-bottom: 10px; }

#quiz h1 { display: block; margin-bottom: 10px; }

#quiz .bgdark,
 #quiz .bglight { padding: 6px; margin: 0; border-bottom: 1px dotted #333; }

	/* page par page */
	#quiz .your_answer { font-size: 1.2em; color: #666; }
		#quiz div.your_answer span { font-size: 0.8em; color: #000; }

	#quiz .correct { font-size: 1.1em; font-weight: bold; color: #669900; }
	#quiz .incorrect { font-size: 1.1em; font-weight: bold; color: #cc0000; }

	#quiz .right_answer {}
	
	#quiz #your_score {
		font-weight: bold;
		color: #999;
		display: block;
		text-align: right;
		padding: 0 6px;
		border-bottom: 1px dotted #333;
		}
	
	#quiz .counter { font-weight: bold; color: #333;}
	#quiz .question { font-weight: bold; font-size: 1.5em; color: #666;}
	
	
	/* Résultats */
	#final_score { font-weight: bold; font-size: 1.5em; color: #666;}
	
	.pourcentage { background: #666;  }
	.pourcentage2 { background: #ccc;  }

/* --- Annuaires --- */
#annuaire_header {
	display: block;
	overflow: hidden;
	_height: 100%;
	border: 1px solid #ccc;
	background: #DFDFDF;
	padding: 6px 10px 6px 0;
	}


#annuaire_header fieldset { border:0; float: left; }

#annuaire_header select { _top: 1px; }

#annuaire_header select { _margin-top: 1px; }

#annuaire_header div { float: left; _margin-left: 6px; }

#annuaire_header #searchbutton { display: block; float: left; position: relative; top: 18px; _top: 14px; _margin-left: 6px; }

.directory_result h2 { color: #3a5d95; border: 0; }

.directory_result .bglight,
.directory_result .bgdark { border-bottom: 1px solid #ccc; padding: 10px 0; }

.directory_result_line {
	margin-right: 10px;
	padding: 0 20px 0 0;
	}
	.directory_result_line div {  }
	.directory_result_line label { display: inline; color: #333; }
	.directory_result_line a { display: inline; padding: 0; }

/* --- AGENDA ( /design/plain_site/override/templates/full/agenda2.tpl ) --- */

	/* Calendrier */
span.agenda_current { display: none; }
span.agenda_selected { display: none; }	
	
td#agenda_calender { padding-left: 15px; vertical-align: top;  }

td#agenda_calender table {
	margin-top: 10px;
	width: 180px;
	text-align:center;
	background: #B6C7E7;
	
	font-size: 0.9em;
	border: 1px solid #3F639D;
	}
	
	td#agenda_calender th {
		background: #fefefe;
		color: #3F639D; 
		}
		td#agenda_calender th a { color: #3F639D; }
			td#agenda_calender th a:hover { color: #000; }			

	td#agenda_calender td {
		padding: 0;
		color: #ccc;
		background: #3F639D;
		}
		td#agenda_calender a {
			display: block;
			width: 100%;
			font-weight: bold;
			color: #fff;
			}
			td#agenda_calender a:hover {
				color: #3F639D;
				background: #fff;
				}
	
	td#agenda_calender .agenda_selected { 
		color: #3F639D;
		background: #fff;
		border: 1px solid #3F639D;
		}
		td#agenda_calender .agenda_selected a {	color: #3F639D; }
			td#agenda_calender .agenda_selected a:hover { color: #000; }		
	
		/* Aujourd'hui */	
		td#agenda_calender .agenda_selected_current a {
			font-weight: bold;
			background: #6EC2C9;
			color: #fff;
			}
			td#agenda_calender .agenda_selected_current a:hover { font-weight: bold; color: #3F639D; background: #6EC2C9;	}
			td#agenda_calender .agenda_current { font-weight: bold; color: #fff; background: #6EC2C9; }		
			td#agenda_calender .agenda_current a { font-weight: bold; color: #fff; }		

/* infos */
td#agenda_month { vertical-align: top; padding-left: 15px; width: 100%; }

td#agenda_month .bglight,
td#agenda_month .bgdark { display: block; background: #fefefe; border-bottom: 1px dotted #666; padding: 0 0; }

td#agenda_month table { width: 100%; }
td#agenda_month td { vertical-align: top; }

td#agenda_month h1 { display: block; border-bottom: 1px solid #333; margin-bottom: 10px; }
td#agenda_month h2 { color: #3F639D; font-size: 1.5em; display: block; margin: 0 0 10px 0; }

.agenda_month_head { display: block; padding: 10px 20px 10px 0; width: 400px; margin: 0;  }
	.agenda_month_head h2 { display: block;  width: 100%; margin: 0; border: 0; padding: 0; }
	.agenda_month_head a { margin: 0; border: 0; padding: 0; }
	.agenda_month_head .intro { padding-bottom: 10px; color: #000; text-align: left; }
		.agenda_month_head .intro p { line-height: 13px;  color: #000;  font-size: 1.1em; text-align: left; }
	.agenda_month_head .dates { font-weight: bold; }
	.agenda_month_head .horaires { padding-left: 6px; border-left: 1px solid #333; font-weight: bold; }
	.agenda_month_head .lieu { display: block; font-weight: normal; font-size: 1.2em;}
	#agenda .elementlist_elementlink { margin-top: 6px; }
	#agenda .elementlist_elementlink a { padding-left: 14px; }
	
td#agenda_month .theme {  width:20%; text-align: right; margin: 0; padding: 0; }		

	/* today */
	#today { background: #F4F4F4; padding: 10px; margin-bottom: 10px; margin-top: 10px; }

	h2.current_month { margin: 0; }

.agenda_month_event_old { width: 100%; }
#agenda_month_hidden_show { font-size: 1.2em; font-weight: bold; display: block; margin-top: 20px; }
.class-agenda .date { display: block; clear: both; font-weight: bold; }

#area_middle .zoom_agenda h1 { display: block; }
	
	/* évenement d'agenda dans un articlelist */
	.elementlist_agenda_element { margin: 6px 0; font-weight: bold;}
	.elementlist_agenda_element .dates {}
	.elementlist_agenda_element .horaires { padding-left: 6px; border-left: 1px solid #333;}
	
	/* évenement d'agenda type articleview */
	#agenda_view_full {}
		.folder917 #agenda_view_full #folder_name { background: none; padding: 0; height: auto; margin: 0; }
		.folder917 #agenda_view_full #folder_name h1 { display: block; margin: 0; }
		
		.agenda_view_full_element { margin: 10px 0; font-weight: bold; text-align: right; border-bottom: 1px solid #ccc;}
			#agenda_view_full .dates {}
			#agenda_view_full .horaires { padding-left: 6px; border-left: 1px solid #333;}
			#agenda_view_full .lieu { display: block; font-weight: normal; font-size: 1.2em;}
			#agenda_view_full .attribute-image a { font-size: 0.9em; color: #333; font-style: italic; float: left; margin: 10px 10px 10px 0; }

/* --- AGENDA 2 --- */
#ag_sel {
	width:13em;
	float:right;
	border:1px solid;
	font-size:1em;
	padding:1em;
	margin-left:1em;
	margin-bottom:1em;
	}

#ag_sel fieldset {
	border:none;
	margin:0;
	padding:0;
	}

#ag_sel fieldset input,
#ag_sel fieldset select,
#ag_sel fieldset select option {
	font-size:0.9em;
	}

#ag_sel label {
	font-weight:bold;
	display:block;
	white-space:normal;
	margin-top:0.5em;
	}

#ag_sel .date_elt label {
	font-size:0.8em;
	font-weight:normal;
	font-style:italic;
	margin:0;
	}
	
#ag_sel .date_elt {
	float:left;
	}

#ag_sel .defaultbutton {
	margin-left:1em;
	margin-top:1em;
	}

/* --- FORMULAIRES --- */
.form { width: 100%; text-align:left; }
	
.mandatory { color: #666; margin-bottom: 20px 0; }

.form_description { padding:1em; margin:0 0 0.5em 0; }
	
.form_input { float:left; margin:0 0 1em 0; }
	
	input.defaultbutton,
	input.button {
		margin:0.5em 0.5em 0 0;
		font-weight:bold;
		font-size: 1em;
		color: #fff;
		background: #F86838;
		border: 1px solid #333;
		}
		input.defaultbutton:hover ,
		input.button:hover {
			color: #F86838;
			background: #fff;
			border: 1px solid #F86838;			
			}
	
div.form_input div.element { padding-right:1em; float:left; }

.form_input label { font-size:1em; font-weight:normal; }

.form_input .element label {
	font-style:normal;
	font-size:1em;
	font-weight:normal;
	}

.formacknoledgement_inputtitle { margin-top:1em; font-style:italic; }

.formacknoledgement_input { margin-left:10%; }
	
.date .element { float: left; margin-right: 10px; }

/* --- SONDAGE --- */

	/* page du sondage */
	.folder917 .class-poll h1 { display: block; }
	
	.class-poll label { font-weight: normal; }
	
		.content-question { margin-bottom: 10px; }
		.content-question .block { margin-bottom: 20px; }
		.content-question label { font-weight: normal; border-bottom: 1px solid #ccc; padding: 4px 0; }
	
	.class-poll .button {
		float: left;
		margin: -2px 4px 0 0 !important;
		margin: !-2px 4px 0 0 !important;
		margin: -1px 4px 0 0;
		}
	
	.content-results { display: inline; margin:0 ; padding: 0; }
		
	.content-results a {
		margin: 1px 0 0 0;
		padding: 1px 5px 1px 5px;
		color: #fff;
		font-weight:bold;
		font-size: 1em;
		background: #F86838;
		border: 1px solid #333;
		}
		.content-results a:hover {
			color: #F86838;
			background: #fff;
			border: 1px solid #F86838;
			}

			
	/* page des résultats */
	.class-poll h2 { margin-top: 10px; }
	
	.poll-resultlist td { vertical-align:top; }
	
	.chart-bar-resultbox { background: red; border: 1px solid #666; }
	
	.poll-percentage span { font-style: normal; }
	.poll-votecount span { display: none; }

		
/* --- Imposcope --- */
#imposcope .bglight,
	#imposcope .bgdark { clear: both; display: block; overflow: hidden; }

#imposcope .bglight div,
	#imposcope .bgdark div { float: left; display: block; }

#imposcope #header { margin: 20px 0 0 0; }

	#imposcope #header .bglight { border: 1px solid #3F629A; color: #333; }
	#imposcope #header .header_div1 { font-size: 1.2em; width: 20%; }
	#imposcope #header .header_div2 { font-size: 1.2em; width: 70%; font-weight: bold; }
	#imposcope #header .header_div3 { border: 1px solid #333; width: 9%; padding: 1px; text-align: center; font-weight: bold; }
		.header_div3 div.data1 { font-size: 1.1em; background: #333; color: #fff; display: block; width: 100%; }
		.header_div3 div.data2 { background: #fff; color: #333; display: block; width: 100%; }

	#imposcope #body { border: 1px solid #3F629A; }
	
		#imposcope #body .header_div1 { font-size: 1.2em; color: #333; width: 20%; }
		#imposcope #body .header_div2 { font-size: 1.2em; color: #333; width: 70%; font-weight: bold; }
		#imposcope #body .header_div3 { width: 9%; border: 1px solid #333; padding: 1px; text-align: center; font-weight: bold; }
			.header_div3 div.data1 { font-size: 1.1em; background: #333; color: #fff; display: block; width: 100%; }
			.header_div3 div.data2 { background: #fff; color: #333; display: block; width: 100%; }	
	
	.div1 { width: 45%; font-weight: bold; }
	.div2 { width: 45%; }
	.div3 { border: 1px solid #3F629A; width: 9%; padding: 1px; text-align: center; font-weight: bold; }
		.div3 div.data1 { font-size: 1.1em; background: #333; color: #fff; display: block; width: 100%; }
		.div3 div.data2 { background: #fff; color: #333; display: block; width: 100%; }		