/*
Template for new fonts:
.font[fontsize in px]line[lineheight in px][optional styles shortform(see below)] {font-size:[fontsize in px]px; line-height:[line-height in px]px; [Optional Styles]}

Shortform / Style:
bold: "font-weight:bold"
*/

.font9line11            {font-size:9px;  line-height:11px}
.font9line11bold        {font-size:9px;  line-height:11px; font-weight:bold}
.font9line12            {font-size:9px;  line-height:12px}
.font9line13            {font-size:9px;  line-height:13px}
.font9line15            {font-size:9px;  line-height:15px}
.font9line16            {font-size:9px;  line-height:16px}

.font10line10           {font-size:10px; line-height:10px}
.font10line11           {font-size:10px; line-height:11px}
.font10line12           {font-size:10px; line-height:12px}
.font10line13           {font-size:10px; line-height:13px}
.font10line16           {font-size:10px; line-height:16px}

.font11line11           {font-size:11px; line-height:11px}
.font11line12           {font-size:11px; line-height:12px}
.font11line12bold       {font-size:11px; line-height:12px; font-weight:bold}
.font11line13           {font-size:11px; line-height:13px}
.font11line13bold       {font-size:11px; line-height:13px; font-weight:bold}
.font11line14           {font-size:11px; line-height:14px}
.font11line15           {font-size:11px; line-height:15px}
.font11line16           {font-size:11px; line-height:16px}
.font11line17           {font-size:11px; line-height:17px}

.font12line18           {font-size:12px; line-height:18px;}
.font12line19           {font-size:12px; line-height:19px;}
.font12line13bold       {font-size:12px; line-height:13px; font-weight:bold}

.font13line15           {font-size:13px; line-height:15px}
.font13line15bold       {font-size:13px; line-height:15px; font-weight:bold}

.font14line15bold       {font-size:14px; line-height:15px; font-weight:bold}

.font15line22           {font-size:15px; line-height:22px;}

.font16line17bold       {font-size:16px; line-height:17px; font-weight:bold}
.font16line19bold       {font-size:16px; line-height:19px; font-weight:bold}

.font17line19bold       {font-size:17px; line-height:19px; font-weight:bold}

.font23line25           {font-size:23px; line-height:25px}
.font23line25bold       {font-size:23px; line-height:25px; font-weight:bold}