 /* the div that will be placed next to the search box */
#divSuggestions
{	
	position:absolute; /* the div's position will be set by placing it next to the search box */
	z-index:9050; /* z-index for the div */
	font-family:Verdana; /* font for the suggestions */
	font-size:8pt; /*font-size for the div */
	color:#00256A; /* color for the div */
	width:300px; /* width of the div */
}
/* the content that will be placed inside the div */
#divSuggestions .yui-ac-content 
{
background-color:#FFFFFF;
border:1px solid #ABC1D3;
left:0;
opacity:0.95;
overflow:hidden;
position:absolute;
text-align:left;
top:0;
width:300px;
z-index:9050;
}
/* the list of suggestions */
#divSuggestions ul 
{
letter-spacing:0;
margin:0;
padding:5px 0;
width:300px;
}
/* a suggestion */
#divSuggestions li 
{
	padding:0 5px; /* padding for the suggestion */
	cursor:default; /* cursor type when hovering over a suggestion */
	white-space:wrap; /* break/don't break lines beyond the end of the li */
	cursor: pointer;
}
/* a suggestion */
#divSuggestions li.ACQueryItem 
{
	line-height:13pt; /* default line height for suggestions */
}
#divSuggestions li.ACProductItem
{
	cursor: pointer;
	background-color:White; /* background color for the product suggetions */
}
/* a header */
#divSuggestions li.ACHeaderItem 
{

	border-bottom:1px solid #0099CC;
	color:#00256A;
	font-size:8pt;
	line-height:13pt;
	margin-bottom:1px;
	margin-left: 4px;
	margin-right: 4px;
}
/* highlighted suggestion */
#divSuggestions li.yui-ac-highlight 
{
	background-color:#0099CC; /* background color for highlighted content */
	color:White; /* color for highlighted content */
	padding:0px 0px 0px 5px;
}
/* a product suggestion */
.ACproductText 
{
	font-family:Verdana !important; /* font for the suggestions */
	font-size:7pt !important; /* font size for the product suggestions */
	color:#00256A; /* font color for the product suggestions */
	padding-top:5px;
	width:245px;
	display:block;
}

/* a product suggestion */
.ACProduct 
{
	width:100%;
	margin:0;
}
.ACProductImageCell
{
	margin:0px 0px 0px 0px;
	padding:0px 5px 0px 0px;
}
/* product's image */
img.ACProductImage 
{
	width:45px; /* width */
	height:45px; /* height */
}

/* Seperator between products */
.Seperator 
{
	margin:2px 0px 0px 0px;
	width:95%;
	border-top:1px solid silver;
	font-size:1pt;
}
.ACProduct tbody tr{
	width:300px;
	display:block;
}