/*********** Confo Corp ***********/



/* Contenu et structure des fiches produit */

/*body{
		color: #000;
		width: auto;
		height: auto;
		margin: 0;
		padding: 0;
		background-image: none;
}
*/

.photoXL {
	margin-bottom: 20px;
}

#embededPoductSheet {
	margin-bottom: 20px;
}

.pdtDetailBloc1 {
	width: 513px;
	margin:0 0 15px 0;
}

.pdtDetailTools {
	padding: 10px 0;
	text-align: center;
}

.pdtDetailLinks {
	margin-left: 35px;
	margin-bottom: 15px;
	height: 20px;
}

html>body .pdtDetailLinks {
	height: auto;
}

.pdtDetailLinks LI, .pdtDetailLinks LI IMG {
	display: inline;
	vertical-align: middle;
}

.pict_play {
	margin-left: 5px;
	margin-right: 5px;
}

.navDiapo li {
	display:inline;
}

.navDiapo li#fleche_gauche img, .navDiapo li#fleche_droite img
,.navDiapo li#fleche_gauche_Popin img, .navDiapo li#fleche_droite_Popin img {
	margin-bottom: 15px;
}

.btLinks{
	margin: auto;
	overflow:hidden;
	width: 513px;
	text-align: center;
}

.btLinks LI {
	display:inline;
	padding: 5px 0 5px 13px;
	margin-left: 5px;
	line-height: 20px;
	background: url(bg_btArrow.gif.1) left no-repeat;
	text-align: left;
}

.btLinks LI A {
	background: url(bg_bt.gif.1) right no-repeat;
	padding: 5px 10px 5px 0;
}

.btLinks li.pict_zoom {
	padding: 5px 0 5px 16px;
	background: url(bg_btPlus.gif) left no-repeat;
}

.pict_zoom A {
	background: url(bg_bt.gif.1) right no-repeat;
	padding: 5px 10px 5px 0;
}

.pict_zoom A:hover, .btLinks LI A:hover {
	text-decoration: none;
}

.btSituation{
	clear:left;
	text-align: center;
	width: 513px;
	margin-top: 10px
}

.btSituation a{
	display:block;
	background: url(pict_situation.gif);
	width: 277px;
	height: 44px;
	margin: auto;
}

.btSituation a span{
	display:none;
}

.thumboff IMG {
	border: 1px solid #CFCCC9;
	margin-right: 2px;
}

.thumbon IMG {
	border: 1px solid Black;
	margin-right: 2px;
}

.colorsBloc {
	padding: 5px 0 5px 10px;
	background-color: #eceaf1;
	overflow:hidden;
	width: 503px; 
	margin-bottom:1px;
}

.colorsBloc p{
	float:left;
	width: 185px;
	margin-top: 4px;
	font-weight: bold;
}

.colorsBloc ul{
	float:left;
	width: 318px;
}

.colorsBloc li{
	float:left;
	width:23px;
	height:23px;
	border:1px solid #cfccc9;
	margin: 0 10px 0 0;
}

.colorsBloc select{
	float:left;
	width: 308px;
	text-align: right;
}


.colorsBloc li.variantCurrent{
	border:1px solid #000;
}

.pdtDetailBloc2 {
	width: 437px;
	float: right;
	margin: 25px 0 15px 0;
}

.constructorLogo {
	float: right;
}

.pdtDesciptionPrice{
	float:left;
	width: 248px;
}


.pdtDescription{
	color: #909091;
	margin-bottom: 10px;
	overflow:hidden;
}

.pdtDescription h1, .pdtDescription h2{
	/*float:left;*/
	color: #244996;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 10px 0!important;
	padding: 0 !important;
	height: auto !important;
}

.pdtDescription h1 A:hover{
	text-decoration: none;
}

.pdtDescription em {
	font-size: 1.16em;
	color:#909091;
	font-style: normal;
	font-weight: normal;
}

.pdtDesciptionCredit{
	float:left;
	width: 156px;
	margin-left: 10px;
	display:inline;
	border-left:1px solid #cfccc9;
	padding: 49px 0 0 20px;
	background: url(visu_carte.jpg) 38px 0px no-repeat;
}

.pdtDesciptionCredit p{
	color:#909091;
}

.pdtDesciptionCredit p strong{
	color:#f00033;
	font-size: 1.36em;
}


.bodyPopin P {
	margin-bottom: 10px;
}

.ensemble{
	clear:both;
}

.ensemble LI {
	float: left;
	margin-right: 10px;
	text-align: center;
}

.ensemble .plus {
	margin-top: 20px;
}

.ensemble .price {
	font-size: 1em;
}

.pdtPriceBloc {
	display:inline;
	float: left;
	margin: 0 0 0 10px;
	padding-right: 10px;
	font-weight: bold;
}

.pdtPriceBloc .ecoPart {
	font-size: 1em;
	color:#909091 !important;
	font-weight:normal;
}

.pdtPriceBloc p {
	color:#909091 !important;
	font-weight:normal;
	padding: 10px 0;
}

.oldPrice {
	font-size:2.18em;
	text-decoration: line-through;
	color: #909091;
	font-weight: normal;
}

.eltSummary .oldPrice {
	font-size: 1.09em;
	font-weight: normal;
}

.newPrice {
	color: #F00033;
	font-size: 3.27em;
	line-height: 1em;
}

.eltSummary .newPrice, .tabTechniques .newPrice {
	font-size: 1.63em;
}

.pdtPaymentBloc {
	border-left: solid 1px #CFCCC9;
	width: 130px;
	padding:10px;
	float: left;
}

.credit {
	color: #F00033;
	font-size: 1.45em;
}

.economy {
	color: #f00033;
}

.pdtPriceBloc .economy {
	font-size: 1.45em;
}

.pdtDetailBloc2 .selectField {
	width: 370px;
}

.dispoBloc {
	background: url(bg_dispo.gif) repeat-x bottom #E7E5EE;
	padding: 10px 0 10px 15px;
	width: 437px;
	margin-bottom: 10px;
	min-height: 100px;
	color: Black;
	overflow:hidden;
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 422px;
	voice-family: "\"{\"";
}

* html body .dispoBloc {
	height: auto;
}

.dispoInfos{
	float:left;
	width:288px;
	margin-top: 15px;
}

.dispoMapFrance{
	background: url(visu_map.gif) 35px 0px no-repeat;
	float:left;
	width: 120px;
	text-align: center;
	border-left: 1px solid #cfccc9;
	padding: 55px 0 0 7px; 
}

.moreInfosBloc .dispoBloc, .moreInfosBloc .servicesBloc {
	width: 340px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 310px;
	voice-family: "\"{\"";
}

.detailContentScroll H3 {
	font-size: 1em;
	margin: 0 0 10px 0 !important;
	padding: 0 !important;
	height: auto !important;
}

.dispoBloc H3{
	font-size: 1em;
	margin: 0 !important;
}

.dispoBloc H3 IMG {
	vertical-align: middle;
}

.dispoInfos LI {
	margin-bottom: 8px;
	background: url(pict_infoDispo.gif) no-repeat;
	padding-left: 23px;
}

.dispoInfos LI.type2status0 {
	background: url(pict_infoDispo_V.gif) no-repeat;
}
.dispoInfos LI.type2status1 {
	background: url(pict_infoDispoProchainement_O.gif) no-repeat;
}
.dispoInfos LI.type2status-1, .dispoInfos LI.type2status-2, .dispoInfos LI.type2status-3 {
	background: url(pict_infoNonDispo_R.gif) no-repeat;
}
.dispoInfos LI.type3 {
	background: url(pict_delivery.gif) no-repeat;
}
.dispoInfos LI.type4 {
	background: url(pict_marteau.gif) no-repeat;
}

.dispoInfos LI.dispoMap {
	background-image: url(pict_delivery.gif);
}

.dispoInfos LI.dispoShipping {
	background-image: url(pict_shipping.gif);
}

.servicesBloc {
	background:url(bg_service.gif) no-repeat;
	padding: 10px 1px 1px 15px;
	width: 437px;
	height: 118px;
	margin-bottom: 10px;
	color: Black;
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 421px;
	height: 107px;
	voice-family: "\"{\"";
}

.servicesBloc.servicesCompl {
	background:url(bg_service_compl.gif) no-repeat;
	padding: 10px 1px 1px 15px;
	width: 437px;
	height: 153px;
	margin-bottom: 10px;
	color: Black;
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 421px;
	height: 142px;
	voice-family: "\"{\"";
}

.servicesBloc.servicesCompl .servicesBlocInner {
	height: 110px;
	width: 409px;
	overflow:auto;
	padding: 0 2px;
}
.servicesBloc .servicesBlocInner {
	height: 75px;
	width: 409px;
	overflow:auto;
	padding: 0 2px;
}

.servicesBlocPopin .servicesBlocInner {
	height: 55px;
	width: 380px;
	overflow-y:auto;
	padding: 0 2px;
}

.servicesBloc ul.linkPuce li.garantee A, .servicesBloc ul.linkPuce li.garantee INPUT {
	display: inline;
}

.servicesBloc ul.linkPuce li.garantee INPUT {
	margin-left: -1px;
}

* html body .servicesBloc ul.linkPuce li.garantee INPUT {
	margin-left: -5px;
}

.servicesBloc H3 {
	color:#244996;
	margin: 0 0 10px 0;
}

.servicesBloc UL {
	margin-bottom: 10px;
}

.servicePrice {
	color: #F00033;
}

#contentPopin .garantee .servicePrice {
	padding: 0 6px;
}

.basketGestion{
	overflow:hidden;
	width: 437px;
	margin-bottom: 30px;
}

.basketLinks {
	float: left;
	display: inline;
}

.basketLinks LI {
	float: left;
	margin-right: 10px;
}

.basketLinks LI.margT {
	margin-top: 10px;
}

.addToList {
	background: url(pict_selection.gif) 0 3px no-repeat;
	padding-left: 16px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.ongletContainer {
	width: 513px;
	margin-top: 15px;
	float: left;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.navOnglet {
	background: url(onglet_filet.gif) 0 29px repeat-x #fff;
	height: 30px;
	overflow: hidden;
}

.navOnglet LI {
	float: left;
	background: url(bg_ongletR_off.gif) right no-repeat;
	padding-right: 12px;
	height: 30px;
	margin-right: 5px;
}

.navOnglet LI A {
	background: url(bg_ongletL_off.gif) left no-repeat;
	padding-left: 12px;
	display: block;
	line-height: 30px;
	vertical-align: middle;
}

.navOnglet LI A:hover {
	text-decoration: none;
}

.navOnglet LI.ongletACtive {
	background-image: url(bg_ongletR_on.gif);
}

.navOnglet LI.ongletACtive A {
	background-image: url(bg_ongletL_on.gif);
	font-weight: bold;
	color: Black !important;
}

.detailContentScroll {
	border-left: solid 1px #CFCCC9;
	border-right: solid 1px #CFCCC9;
	border-bottom: solid 1px #CFCCC9;
	color: #909091;
	padding: 20px;
	/*width: 516px;*/
	width: 513px;
	height: 581px;
	overflow: auto;
	overflow-x: hidden;
	scrollbar-face-color: #F9F9F8;
	scrollbar-arrow-color: #DDDBD9;
	scrollbar-track-color: #F8F7F5;
	scrollbar-3dlight-color: #CFCCC9;
	scrollbar-darkshadow-color: #CFCCC9;
	voice-family: "\"}\"";
	voice-family:inherit;
	/*width: 473px;*/
		width: 471px;
	/*height: 430px;*/
	voice-family: "\"{\"";
}

#kitchen .detailContentScroll {
	height: 320px;
}

.contentScrollH {
	border-bottom: solid 1px #CFCCC9;
	margin-bottom: 10px;
}

.detailContentScroll H2, .detailContentScroll H3 {
	margin-bottom: 5px !important;
	color: Black;
}

.detailContentScroll .contentScrollH H2,.detailContentScroll .contentScrollH H3 {
	width: 280px;
	float: left;
}

.detailContentScroll H2.notBold, .detailContentScroll H3.notBold {
	font-weight: normal;
}

.score {
	width: 160px;
	float: right;
}

.score IMG {
	vertical-align: middle;
}

.contentScrollC UL, .contentScrollC P {
	margin-bottom: 10px;
}

.goToTop {
	background: url(arrowblueTop.gif) 0 5px no-repeat;
	padding-left: 10px;
	float: right;
	margin-top: -20px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.moreInfosBloc {
	width: 427px;
	float: left;
	color: #909091;
	margin-top: 30px;
	margin-left: 10px;
	display:inline;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.promoBloc, .similarProducts {
	margin-bottom: 15px;
}

.promoBloc .inlineList LI IMG {
	vertical-align: middle;
}

.pdtPrecision{
	margin-top: 5px;
}

.promoBloc .descPdtSim{
	font-weight: bold;
	font-size: 1.09em;
	margin-bottom: 3px;
}

.promoBloc .ecoPart{
	color: #909091;
}

.promoBloc .ecoPack{
	color:#f00033;
	font-weight: bold;
}

.promoBloc .packDesc{
	margin-bottom: 5px;
}

.pdtPrecision .oldPrice {
	font-size: 1.09em;
}

.pdtPrecision .newPrice {
	font-size: 1.63em;
}

.pdtSummary {
	width: 252px;
	float: left;
	padding: 5px 5px 5px 40px;
	height: 80px;
	margin-bottom: 5px;
}

html > body .pdtSummary {
	height: auto;
	min-height: 80px;
}

.similarProducts .pdtSummary {
	margin-top: 0;
}

.pdtSummary .descPdtSim{
	margin-bottom: 10px;
}

.pictConfo{
	float:left;
	width: 45px;
	margin-top: 5px;
	height: 65px;
}

html > body .pictConfo{
	height: auto;
	min-height: 65px;
}

.similarProducts .separator {
	margin: 0 0 5px 0;
}

.pdtSummary .ecoPart{
	color:#909091;
	display:block;
}

/* Fiche produit cuisine */

.photoXL {
	text-align: center;
}

.pdtComposition {
	width: 640px;
	float: left;
	color: #244996;
	margin-bottom: 20px;
	display: inline;
}

.pdtComposition H3 {
	color: #244996;
	font-size: 1.63em;
	float: left;
	width: 260px;
	margin: 0 0 5px 0;
	padding: 0;
}

.selectionChoices {
	width: 370px;
	float: right;
}

.selectionChoices LABEL, .selectionChoices INPUT {
	float: none !important;
	width: auto !important;
	display: inline !important;
}

.selectionChoices LI {
	margin-left: 20px;
	display: inline;
}

.pdtCompositionScroll {
	height: 419px;
	width: 635px;
	overflow: auto;
	overflow-x: hidden;
	scrollbar-face-color: #F9F9F8;
	scrollbar-arrow-color: #DDDBD9;
	scrollbar-track-color: #F8F7F5;
	scrollbar-3dlight-color: #CFCCC9;
	scrollbar-darkshadow-color: #CFCCC9;
}

.pdtCompositionContent {
	width: 615px;
	border-left: solid 1px #CFCCC9;
	border-top: solid 1px #CFCCC9;
}

.compositionElt {
	width: 204px;
	height: 138px;
	float: left;
	border-bottom: solid 1px #CFCCC9;
	border-right: solid 1px #CFCCC9;
	padding: 5px 3px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 198px;
	height: 128px;
	voice-family: "\"{\"";
}

.eltVisu {
	width: 65px;
	float: left;
	text-align: center;
}

.eltVisu STRONG, .eltVisu IMG {
	vertical-align: bottom;
}

.eltVisu STRONG {
	font-size: 1.18em;
	color: #ec8930;
}

.eltSummary {
	width: 125px;
	height: 90px;
	float: right;
	overflow: hidden;
}

.eltSummary H4 {
	margin: 0;
	padding: 0;
}

.pdtCompositionPrice {
	width: 220px;
	margin-top: 30px;
	float: left;
	color: #244996;
	margin-bottom: 20px;
	display: inline;
	margin-left: 37px;
}

.pdtCompositionPrice H3 {
	color: #244996;
	font-size: 1.63em;
	margin: 0 0 5px 0 !important;
	padding: 0 !important;
}

.pdtCompositionPrice H4 {
	line-height: 20px;
	margin: 0 0 50px 0;
	padding: 0;
}

.pdtCompositionPrice P {
	margin-bottom: 20px;
}

/* Fin Fiche produit cuisine */

.pdtDetailLeft {
	float:left;
	width: 513px;
	margin-right: 10px;
	display:inline;
}

.bandeauTop {
	width: 958px;
}
.bandeauTop, .bandeauTop .titreBandeau {
	overflow: hidden;
}

.bandeauTop .titreBandeau h2 {
	/*float:left;
	width: 670px;*/
	padding:0;
	margin:0;
}

.bandeauTop .listHead {
	width: 265px;
	float: left;
	margin-bottom:0;
	font-weight: normal;
}

.bandeauTop .listHead .HPToolsLinks {
	margin-top: 5px;
}

.small{
	font-size: 11px;
	color: #909091;
}

.bodyProductDispPopin .pdtDetailBloc2{ width: 405px !important;}
.moreInfosBloc .dispoBlocPopin, .moreInfosBloc .servicesBlocPopin
 {
	width: 340px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 310px;
	voice-family: "\"{\"";
}
.servicesBlocPopin {
	background:url(bg_service_popin.gif) no-repeat;
	padding: 10px 1px 1px 15px;
	width: 389px;
	margin-bottom: 10px;
	color: Black;
	height: 107px;
}

.bodyProductDispPopin .pdtDetailBloc2 .dispoBloc {
	width: 389px;
}
.bodyProductDispPopin .pdtDetailBloc2 .dispoBloc .dispoInfos{
	width: 260px;
}

.bodyProductDispPopin .moreInfosBloc{
	width: 395px;
}
.bodyProductDispPopin .mainFarandoleBig .carouselContainer{
	margin-left:0px !important;
}

#flashContent{z-index: 1001;}

/* BUG 20404 */
.pdtDetailBloc1,.pdtDetailTools,.btLinks,.btSituation{width:400px;}
.btLinks li {margin-left:2px;}

a.thumbon,a.thumboff,a.thumbon:hover,a.thumboff:hover{text-decoration: none !important;}
/* FIN BUG 20404 */


.pdtDetailRight{float: right; width: 437px;}
/*/ Contenu et structure des fiches produit */

/* etiquette produit */
.rubrique { 
	color: #244996;
	font-weight: bold;
	margin-bottom: 10px;
}
.ssrubrique {
	color: black;
	font-weight: normal;
	margin-left: 20px;
}

