/* bloc transverses de la colonne de droite */
	
	/* home page */
		#listAccesRight{
			width: 250px;
			float: none;
			position: relative;
		}
		
		#listAccesRight ul, #listAccesRight ul li{
			margin: 0;
			padding: 0;
			list-style-type: none;
			display: block;
			position: relative;
		}
		
		#listAccesRight ul li{margin-bottom : -3px;}
		html>/**/body #listAccesRight ul li{margin-bottom : 0;}
		
		#listAccesRight h2, #listAccesRight ul li a{
			display: block;
			background-repeat: no-repeat;
			background-color: #FFF;
			background-image: url("naviguer_autrement_home.gif");
			margin: 0;
			padding: 0;
			position: relative;
		}
		
		#listAccesRight h2{ height: 53px; background-position: 0px 0px;}
		
		#accessRightCat a{height: 95px; background-position: 0px -53px;}
		#accessRightPieces a{height: 70px; background-position: 0px -148px;}
		#accessRightVisuels a{height: 70px; background-position: 0px -218px;}
		#accessRightMarques a{height: 70px; background-position: 0px -288px;}
		#accessRightRefCat a{height: 70px; background-position: 0px -358px;}
		#accessRightGuideAchat a{height: 70px; background-position: 0px -428px;}
		
		#accessRightCat a:hover{background-position: -290px -53px;}
		#accessRightPieces a:hover{background-position: -290px -148px;}
		#accessRightVisuels a:hover{background-position: -290px -218px;}
		#accessRightMarques a:hover{background-position: -290px -288px;}
		#accessRightRefCat a:hover{background-position: -290px -358px;}
		#accessRightGuideAchat a:hover{background-position: -290px -428px;}
		
		
		
	/*/ home page */

/*/ blocs transverses de la colonne de droite */