#navigation ul li a:hover { text-decoration: none; }

div.breakingTicker ul li { display: none; }
div.breakingTicker ul.loaded li { display: block; }

.tabbedContainer div.tabs-hide { display: none; }

form.complainment { display: none; }
form.complainment.active { display: block; }

#soundAndVision p.more span { text-decoration: underline; cursor: pointer; }
#soundAndVision p.more span:hover { text-decoration: none; }
#soundAndVision .toggled { display: none; }

#entertainment { padding-top: 20px; }
#entertainment div.slidesHolder { overflow: hidden; height: 134px; }

#entertainment2 { padding-top: 20px; }
#entertainment2 div.slidesHolder { overflow: hidden; height: 134px; }

#editorsSlider div.slidesWrap { height: 130px; }

#videoRelated p.video a:hover { text-decoration: none; }
#videoRelated p.video-over a { color: #333; }

.deferredAdTags { display: none; }