#col_droite {
	text-align: left;
	width: 187px;
	padding-top: 30px;
	float: right;
	position: relative;
	margin-right: 50px;
}
#col_droite a {
	color: #FFFFFF;
	text-decoration: none;
}

#col_droite a:hover {
	font-weight: bold;
	color: #000000;
}

#col_droite ul {
	list-style-type: none;
}
#nav3 {
	font-size: 1.5em;
}
#col_droite  #nav3 a {
	display: block;
	line-height: 2em;
	padding-left: 0.8em;
	color: #FFF;
}
#nav4 {
	font-size: 1.2em;
	font-style: italic;
}

#col_droite #nav4 a {
	display: block;
	line-height: 2.5em;
	padding-left: 1em;
	color: #FFF;
}

#nav5 {
	font-size: 1.5em;
	position: absolute;
	top: 483px;
	width: 190px;
}
#col_droite #nav5 a {
	display: block;
	line-height: 2em;
	padding-left: 0.8em;
	color: #FFF;
}
#nav6 {
	font-size: 1.5em;
	position: absolute;
	top: 333px;
	width: 190px;
}
#col_droite #nav6 a {
	display: block;
	line-height: 2em;
	padding-left: 0.8em;
}
#nav7 {
	font-size: 1.2em;
	font-style: italic;
	width: 190px;
	position: absolute;
	top: 363px;
}
#col_droite #nav7 a {
	display: block;
	line-height: 2.5em;
	padding-left: 1em;
	color: #FFFFFF;
}


.rouge-niv01, .rouge-niv02, .rouge-niv03, .rouge-niv04, .rouge-niv05, .rouge-niv06, .rouge-niv07, .rouge-niv08, .rouge-niv09, .rouge-niv10, .rouge-niv11, .rouge-niv12, .rouge-niv13, .rouge-niv14, .rouge-niv15, .rouge-niv16, .rouge-niv17, .rouge-niv18 {
	background-image: url(droit-niveau-01.jpg);
	background-repeat: no-repeat;
	background-position: left 0px;
}
.rouge-niv02 {
	background-image: url(droit-niveau-02.jpg);
}
.rouge-niv03 {
	background-image: url(droit-niveau-03.jpg);
}
.rouge-niv04 {
	background-image: url(droit-niveau-04.jpg);
}
.rouge-niv05 {
	background-image: url(droit-niveau-05.jpg);
}
.rouge-niv06 {
	background-image: url(droit-niveau-06.jpg);
}
.rouge-niv07 {
	background-image: url(droit-niveau-07.jpg);
}
.rouge-niv08 {
	background-image: url(droit-niveau-08.jpg);
}
.rouge-niv09 {
	background-image: url(droit-niveau-09.jpg);
}
.rouge-niv10 {
	background-image: url(droit-niveau-10.jpg);
}
.rouge-niv11 {
	background-image: url(droit-niveau-11.jpg);
}
.rouge-niv12 {
	background-image: url(droit-niveau-12.jpg);
}
.rouge-niv13 {
	background-image: url(droit-niveau-13.jpg);
}
.rouge-niv14 {
	background-image: url(droit-niveau-14.jpg);
}
.rouge-niv15 {
	background-image: url(droit-niveau-15.jpg);
}
.rouge-niv16 {
	background-image: url(droit-niveau-16.jpg);
}
.rouge-niv17 {
	background-image: url(droit-niveau-17.jpg);
}
.rouge-niv18 {
	background-image: url(droit-niveau-18.jpg);
}


.bleu-niv01, .bleu-niv02, .bleu-niv03, .bleu-niv04, .bleu-niv05, .bleu-niv06, .bleu-niv07, .bleu-niv08, .bleu-niv09, .bleu-niv10, .bleu-niv11, .bleu-niv12, .bleu-niv13, .bleu-niv14, .bleu-niv15, .bleu-niv16, .bleu-niv17, .bleu-niv18 {
	background-image: url(droit-niveau-01.jpg.1);
	background-repeat: no-repeat;
	background-position: left 0px;
}
.bleu-niv02 {
	background-image: url(droit-niveau-02.jpg.1);
}
.bleu-niv03 {
	background-image: url(droit-niveau-03.jpg.1);
}
.bleu-niv04 {
	background-image: url(droit-niveau-04.jpg.1);
}
.bleu-niv05 {
	background-image: url(droit-niveau-05.jpg.1);
}
.bleu-niv06 {
	background-image: url(droit-niveau-06.jpg.1);

}
.bleu-niv07 {
	background-image: url(droit-niveau-07.jpg.1);
}
.bleu-niv08 {
	background-image: url(droit-niveau-08.jpg.1);
}
.bleu-niv09 {
	background-image: url(droit-niveau-09.jpg.1);
}
.bleu-niv10 {
	background-image: url(droit-niveau-10.jpg.1);
}
.bleu-niv11 {
	background-image: url(droit-niveau-11.jpg.1);
}
.bleu-niv12 {
	background-image: url(droit-niveau-12.jpg.1);
}
.bleu-niv13 {
	background-image: url(droit-niveau-13.jpg.1);
}
.bleu-niv14 {
	background-image: url(droit-niveau-14.jpg.1);
}
.bleu-niv15 {
	background-image: url(droit-niveau-15.jpg.1);
}
.bleu-niv16 {
	background-image: url(droit-niveau-16.jpg.1);
}
.bleu-niv17 {
	background-image: url(droit-niveau-17.jpg.1);
}
.bleu-niv18 {
	background-image: url(droit-niveau-18.jpg.1);
}

a:hover.droit-niv01on, a:hover.droit-niv02on, a:hover.droit-niv03on, a:hover.droit-niv04on, a:hover.droit-niv05on, a:hover.droit-niv06on, a:hover.droit-niv07on, a:hover.droit-niv08on, a:hover.droit-niv09on, a:hover.droit-niv10on, a:hover.droit-niv11on, a:hover.droit-niv12on, a:hover.droit-niv13on, a:hover.droit-niv14on, a:hover.droit-niv15on, a:hover.droit-niv16on, a:hover.droit-niv17on, a:hover.droit-niv18on {
	color: #0096A0;
	background-image: url(droit-niveau-01.jpg.2);
	background-repeat: no-repeat;
	background-position: left 0px;
}
a:hover.droit-niv02on {
	background-image: url(droit-niveau-02.jpg.2);
}
a:hover.droit-niv03on {
	background-image: url(droit-niveau-03.jpg.2);
}
a:hover.droit-niv04on {
	background-image: url(droit-niveau-04.jpg.2);
}
a:hover.droit-niv05on {
	background-image: url(droit-niveau-05.jpg.2);
}
a:hover.droit-niv06on {
	background-image: url(droit-niveau-06.jpg.2);
}
a:hover.droit-niv07on {
	background-image: url(droit-niveau-07.jpg.2);
}
a:hover.droit-niv08on {
	background-image: url(droit-niveau-08.jpg.2);
}
a:hover.droit-niv09on {
	background-image: url(droit-niveau-09.jpg.2);
}
a:hover.droit-niv10on {
	background-image: url(droit-niveau-10.jpg.2);
}
a:hover.droit-niv11on {
	background-image: url(droit-niveau-11.jpg.2);
}
a:hover.droit-niv12on {
	background-image: url(droit-niveau-12.jpg.2);
}
a:hover.droit-niv13on {
	background-image: url(droit-niveau-13.jpg.2);
}
a:hover.droit-niv14on {
	background-image: url(droit-niveau-14.jpg.2);
}
a:hover.droit-niv15on {
	background-image: url(droit-niveau-15.jpg.2);
}
a:hover.droit-niv16on {
	background-image: url(droit-niveau-16.jpg.2);
}
a:hover.droit-niv17on {
	background-image: url(droit-niveau-17.jpg.2);
}
a:hover.droit-niv18on {
	background-image: url(droit-niveau-18.jpg.2);
}
