#col_gauche {
	text-align: right;
	width: 187px;
	padding-top: 3em;
	float: left;
	position: relative;
}
#col_gauche a {
	color: #FFFFFF;
	text-decoration: none;
}
#col_gauche a:hover {
	font-weight: bold;
	color: #000000;
}

#col_gauche ul {
	list-style-type: none;
}
#nav1 {
	font-size: 1.5em;
}
#col_gauche  #nav1 a {
	display: block;
	line-height: 2em;
	padding-right: 3em;
}
#nav2 {
	font-size: 1.2em;
	font-style: italic;
	position: absolute;
	top: 390px;
	width: 187px;
	left: 0px;
}
#col_gauche #nav2 a {
	display: block;
	line-height: 2.5em;
	padding-right: 3.85em;
}
.menu-niv01, .menu-niv02, .menu-niv03, .menu-niv04, .menu-niv05, .menu-niv06, .menu-niv07, .menu-niv08, .menu-niv09, .menu-niv10, .menu-niv11, .menu-niv12, .menu-niv13 {
	background-image: url(gauche-niveau-01.jpg);
	background-repeat: no-repeat;
	background-position: right 0px;
}
.menu-niv02 {
	background-image: url(gauche-niveau-02.jpg);
}
.menu-niv03 {
	background-image: url(gauche-niveau-03.jpg);
}
.menu-niv04 {
	background-image: url(gauche-niveau-04.jpg);
}
.menu-niv05 {
	background-image: url(gauche-niveau-05.jpg);
}
.menu-niv06 {
	background-image: url(gauche-niveau-06.jpg);
}
.menu-niv07 {
	background-image: url(gauche-niveau-07.jpg);
}
.menu-niv08 {
	background-image: url(gauche-niveau-08.jpg);
}
.menu-niv09 {
	background-image: url(gauche-niveau-09.jpg);
}
.menu-niv10 {
	background-image: url(gauche-niveau-10.jpg);
}
.menu-niv11 {
	background-image: url(gauche-niveau-11.jpg);
}
.menu-niv12 {
	background-image: url(gauche-niveau-12.jpg);
}
.menu-niv13 {
	background-image: url(gauche-niveau-13.jpg);
}
a:hover.menu-niv01on, a:hover.menu-niv02on, a:hover.menu-niv03on, a:hover.menu-niv04on, a:hover.menu-niv05on, a:hover.menu-niv06on, a:hover.menu-niv07on, a:hover.menu-niv08on, a:hover.menu-niv09on, a:hover.menu-niv10on, a:hover.menu-niv11on, a:hover.menu-niv12on, a:hover.menu-niv13on {
	background-image: url(gauche-niveau-01.jpg.1);
	background-repeat: no-repeat;
	background-position: right 0px;
	color: #000000;
}
a:hover.menu-niv01on {
	background-image: url(gauche-niveau-01.jpg.1);
}
a:hover.menu-niv02on {
	background-image: url(gauche-niveau-02.jpg.1);
}
a:hover.menu-niv03on {
	background-image: url(gauche-niveau-03.jpg.1);
}
a:hover.menu-niv04on {
	background-image: url(gauche-niveau-04.jpg.1);
}
a:hover.menu-niv05on {
	background-image: url(gauche-niveau-05.jpg.1);
}
a:hover.menu-niv06on {
	background-image: url(gauche-niveau-06.jpg.1);
}
a:hover.menu-niv07on {
	background-image: url(gauche-niveau-07.jpg.1);
}
a:hover.menu-niv08on {
	background-image: url(gauche-niveau-08.jpg.1);
}
a:hover.menu-niv09on {
	background-image: url(gauche-niveau-09.jpg.1);
}
a:hover.menu-niv10on {
	background-image: url(gauche-niveau-10.jpg.1);
}
a:hover.menu-niv11on {
	background-image: url(gauche-niveau-11.jpg.1);
}
a:hover.menu-niv12on {
	background-image: url(gauche-niveau-12.jpg.1);
}
a:hover.menu-niv13on {
	background-image: url(gauche-niveau-13.jpg.1);
}
