﻿/*---------------------------------------------------------*/
/*-------------------- MEDIA     ECRAN  -------------------*/
/*---------------------------------------------------------*/

@media screen 
{
	/* Success, error & notice boxes for messages and errors. */
.error,
.notice, 
.success    { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; width: 350px; }
.error      { background: #FBE3E4; color: #D12F19; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #817134; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #529214; border-color: #C6D880; }
.error a    { color: #D12F19; }
.notice a   { color: #817134; }
.success a  { color: #529214; }  

/*Formulaire*/
.Anomalie {Text-Align: Center;Width: 300Px;padding:-20px}
.Anomalie p {text-align: right;}
.AnomalieMessage{Width: 400Px;}
.AnomalieMessage p{text-align: center;}

.erreur {vertical-align:middle;	padding-top:80px;}
.erreur p{text-align:center;line-height:20px;}	
	
	
#flashcontentBd{display:block;}
#flashcontent{display:block;}

/*Objet promo*/

/* The  GridView */
.gridGestionProduit
{
    background-color: #ebedf1;
	color: #282828;
	padding: 0px 4px 0px 4px;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;    
	border-left:1px; 
	border-left-width:1px;
}
/* The header of this GridView */
.gridHeaderGestionProduit
{
    background-repeat:repeat-x;
	background-image:url(Fond_cellule_02.gif);
	height:25;
    
	color: #282828;
	padding: 0px 4px 0px 4px;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-width:0;
	}
	
.gridHeaderGestionProduit a:link
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #282828;
	text-decoration: none
}
.gridHeaderGestionProduit a:visited
{
    font-size: 9px;
	color: #282828;
	text-decoration: none
}		
.gridHeaderGestionProduit a:hover
{
  font-size: 9px;
	color: #282828;
	text-decoration: underline
}		
.gridHeaderGestionProduit a:active
{
    font-size: 9px;
	color: #282828;
	text-decoration: none
}	







.gridGestionProduit a:link
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #282828;
	text-decoration: none
}
.gridGestionProduit a:visited
{
    font-size: 9px;
	color: #282828;
	text-decoration: none
}		
.gridGestionProduit a:hover
{
  font-size: 9px;
	color: #282828;
	text-decoration: underline
}		
.gridGestionProduit a:active
{
    font-size: 9px;
	color: #282828;
	text-decoration: none
}	
.txtGestionProduit {
	color: #282828;
	padding: 0px 4px 0px 4px;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}	
	
	
	
	.LienGestionProduitTbl {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 9px;
		color: #282828;
		text-decoration:none;
	
	}
	
	
.strongObjetPromo {
	color: #282828;
	padding: 0px 4px 0px 4px;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
	



.tableObjetPromo {
	border-width:1px;
	border-style:solid;
	border-color: #e0dedf;
}




.tblDetailFondBlancGestionProduit
{
		background-color: #FFFFFF;

}





	a.HyperLinkObjetPromo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #282828;
	text-decoration: none
	}
	a.HyperLinkObjetPromo:visited {
    font-size: 9px;
	color: #282828;
	text-decoration: none
	}
	a.HyperLinkObjetPromo:hover {
    font-size: 9px;
	color: #282828;
	text-decoration: underline
	}
	a.HyperLinkObjetPromo:active {
    font-size: 9px;
	color: #282828;
	text-decoration: none
	}


a.HyperLinkService {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #282828;
	text-decoration: none;
	}
	a.HyperLinkService:visited {
    font-size: 8pt;
	color: #282828;
	text-decoration: none;
	font-weight:normal;
	}
	a.HyperLinkService:hover {
    font-size: 8pt;
	color: #282828;
	text-decoration: none;
	font-weight:bold;
	}
	a.HyperLinkService:active {
    font-size: 10pt;
	color: #282828;
	text-decoration: bold;
	}





.gridAlternatingItem
{  
  background-color: #ffffff;
}

.tblGestionProduit
	{
	background-color: #ebedf1;
	border-width:1px;
	border-style:solid;
	border-color: #e0dedf;
	}
.enteteGestionProduitTbl1
{
	background-image:url(Fond_cellule_01.gif);
	height:25;
	width:auto;
	border-width:0;
}
.enteteGestionProduitTbl2
{
	background-image:url(Fond_cellule_02.gif);
	height:15;
	width:auto;
	border-width:0;
}


/*test marche pas sauf taille ....*/
th.a.enteteGestionProduitTbl2 {
	color: #282828;
	padding: 0px 4px 0px 4px;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

th.a.enteteGestionProduitTbl2:link {
	text-decoration: none;
}

th.a.enteteGestionProduitTbl2:visited {
	text-decoration: none;
}

th.a.enteteGestionProduitTbl2:hover {
	text-decoration: underline;
}

th.a.enteteGestionProduitTbl2:active {
	text-decoration: none;
}
/*fin test*/



td.enteteGestionProduitOmbreDessus
{
	background-image:url(Ombre_ht.gif);
	background-repeat:repeat-x;
	height:23;
	/*width:7;*/
}
td.enteteGestionProduitImageFondTitre
{
	background-image:url(Fond_titre.gif);
	background-repeat:repeat-x;
	height:23;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.linkButtonObjetPromo
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #347a9c;
	text-decoration: none;
}
.lblTxtNomProduitPanierObjetPromo {
	color: #282828;
	padding: 0px 4px 0px 4px;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


/*fin Objet promo*/





















	
	.styleTreeView {
	  width:34px; height:22px; 
	  cursor:pointer ;
	  font-size:x-large;
	}
	p /*idem que texte */
	{
		color: #3c4048;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;

	}
	body {
		background-color: #eaedf2;
		font-family:Verdana, Arial, Helvetica, sans-serif;
	}

	.Texte {
		color: #3c4048;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	.Texte_gras {color: #282828; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold;}
	.Texte_ca4242 {color: #ca4242; font-size: 13px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold;}

	.Texte_CDP_Titre {color: #ca4242; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold;}

	.Titre {color: #282828; font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; }
	.Titre_elu {
		color: #FFFFFF;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-weight: bold;
	}
	.Sous_titre {font-size: 16px; font-weight: bold; color: #282828; font-family: Verdana, Arial, Helvetica, sans-serif; }


	a.lienSiteSouligne {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		color: #282828;
		text-decoration:underline;
	}
	a.lienSiteSouligne:link {
		color: #282828;
		text-decoration: underline;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}

	a.lienSiteSouligne:visited {
		text-decoration: underline;
		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	a.lienSiteSouligne:hover {
		text-decoration: underline;
		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	a.lienSiteSouligne:active {
		text-decoration: underline;
		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}

	a.lienSite {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		color: #282828;
		text-decoration: none;
	}

	a.lienSite:link {
		color: #282828;
		text-decoration: none;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}

	a.lienSite:visited {
		text-decoration: none;
		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	a.lienSite:hover {
		text-decoration: none;
		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	a.lienSite:active {
		text-decoration: none;
		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		
	}
	
	
	.Texte_blanc {
		color: #FFFFFF;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-weight: bold;
	}

	/* Style des label Mise en couleur blanche*/
	.MiseEnBlanc
	{
		visibility:hidden
	}
	/* Style des label de la masterpage*/
	.LabelMasterPage
	{
		color:#236595;
		font-weight:bold;
		font-style:italic;
	}

	/* Style des labels des ContentPlaceHolder*/
	.LabelTitre
	{
		font-size: 19px;
		color: #236595;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	.Label
	{
		font-size: 13px;
		color: #236595;
		font-family: Arial, Helvetica, sans-serif;
	}

	.CheckBox
	{
		font-size: 11px;
		color: #282828;
		font-family: Arial, Helvetica, sans-serif;
		
	}

	/* Style des textbox de saisie pour champs */
	.TextBox
	{
		border-right: #282828 1px solid;
		border-top: #282828 1px solid;
		font-size: 13px;
		border-left: #282828 1px solid;
		color: #282828;
		border-bottom: #282828 1px solid;
		font-family: Arial, Helvetica, sans-serif;
		text-transform: uppercase;
	}
	.TextBox1
	{
		border-right: #282828 1px solid;
		border-top: #282828 1px solid;
		font-size: 13px;
		border-left: #282828 1px solid;
		color: #282828;
		border-bottom: #282828 1px solid;
		font-family: Arial, Helvetica, sans-serif;
		text-transform: none;
	}
	/* Style des DropDownList */
	.DropDownList
	{
		border-right: #282828 1px solid;
		border-top: #282828 1px solid;
		font-size: 13px;
		border-left: #282828 1px solid;
		color: #282828;
		border-bottom: #282828 1px solid;
		font-family: Arial, Helvetica, sans-serif;
	}
	.Menu {	font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		color: #00a0c6;
		font-weight: bold;
	}
	.Menu_SS {font-size: 11px; color: #3c4048; font-family: Arial, Helvetica, sans-serif;}
	.Titre_SS {	font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-weight: bold;
		color: #00a0c6;
	}
	/*.Texte {font-size: 10px; color: #3c4048; font-family: Verdana, Arial, Helvetica, sans-serif;}*/
	.Titre {color: #282828; font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; }
	.Tableau_Titre {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-weight: bold;
		color: #FFFFFF;
		background-color: #00a0c6;
		text-align: center;
	}
	.Tableau_Cellule_01 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		color: #3c4048;
		text-align: center;
		background-color: #FFFFFF;
	}
	.Tableau_Cellule_02 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		color: #3c4048;
		text-align: center;
		background-color: #D3EAF1;
	}
	


	.Erreur_Texte {font-size: 13px; color: #CC0000; font-family: Arial, Helvetica, sans-serif; }
	
	.Erreur_Titre {
		font-size: 12px;
		color: #CC0000;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
	}
	.Informations_Titre {font-size: 12px; color: #FEB301; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
	.Informations_Texte {font-size: 13px; color: #1eb574; font-family: Arial, Helvetica, sans-serif; }


	/* style pour les panels */
	Div.PanelPrincipal fieldset {color:#282828;border-width:1px;border-style:solid; border-color:#282828; } 
	Div.PanelPrincipal legend {font-weight:bold; text-transform: uppercase}

	Div.PanelRecherche fieldset {color:#282828;border-width:1px;border-style:solid; border-color:#282828; } 
	Div.PanelRecherche legend {font-weight:bold; text-transform: uppercase}
	Div.PanelRecherche table {font-family: Arial, Helvetica, sans-serif;font-size: 13px;color: #3c4048;text-align: center;background-color: #D3EAF1;}

	table {font-family: Arial, Helvetica, sans-serif;font-size: 13px}

	.listbox {
		background-color: #ffffff;
		border-width: 1px;
		border-color: #282828;
		border-style: solid;
		cursor: arrow;
		font-family: Arial, Helvetica, sans-serif;
		color:#282828;
	}
	.listbox li {
	text-align: left;
	list-style-type: none;
	margin-left: 0px;
	}
	.listbox a {
	color: #000;
	text-decoration: none;
	} 

	.Style10 {color: #CC3333; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; }

	/* Actualite */
	.lblActualiteTitre
	{
		padding-right: 0px; 
		padding-left: 0px; 
		font-weight: bold; 
		font-size: 9pt; 
		color: #ff9c00; 
		font-family: Arial; 
		text-align: left
		}
	.lblActualiteResume
	{
		font-family: Arial, Helvetica;
		font-size:small;
		text-align:justify;
		COLOR: #336699;
		}
	.lblActualiteTexteRiche
	{
		font-family: Arial, Helvetica, sans-serif;
		color:#282828;}
	.lblActualiteTexteGrandeImage
	{
		font-family: Arial, Helvetica, sans-serif;
		color:#282828;}
	.imgActualitePetiteImage
	{
		width:54px;
		height:54px;
		font-size:10px;
	}
	.imgElu
	{
	}
	.imgActualiteGrandeImage
	{
		font-family: Arial, Helvetica, sans-serif;
		color:#282828;}
	.lblActualiteTitrepnActualiteTexteRiche
	{
		font-size:small;
		color:#282828;
	}


	/* Video */
	.lblVideoTitre
	{
		padding-right: 0px; 
		padding-left: 0px; 
		font-weight: bold; 
		font-size: 9pt; 
		color: #ff9c00; 
		font-family: Arial; 
		text-align: left
		}
	.lblVideoResume
	{
		font-family: Arial, Helvetica;
		font-size:small;
		text-align:justify;
		COLOR: #336699;
	}
	
	
	 .imgFlecheRouge
	 {
		 width:9px;
		 height:8px;
	 }	

	.imgFlecheVerte
	 {
		 width:9px;
		 height:8px;
	 }	


	/* util pour affichage infobulle */
	.more {
	   position: absolute;
	   display: none;
	   /* Ce qui suit n'est pas vraiment important pour le fonctionnement */
	   top: 50%;
	   left: 55%;
	   background-color: #bbbbff;
	   color: black;
	   padding: 10px;
	   text-align: left;
	   font-style: italic;
	   font-weight: normal;
	   font-size: 80%;
	}
	
	/* Plan du Site */
	.MenuPlan {	font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		color: #00a0c6;
		font-weight: inherit;
	}





	/* Gestion pour les menus */

	.EnteteColDroite {
		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	
	
	Td.fondBleu 
	{
		background-image:url(bleu.gif);
		color: #FFFFFF;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-weight: bold;
		text-align:left;
	}
	
	Td.fondDegradeGrisGauche {background-image:url(degrade_gris_gauche.gif);}
	
	Td.sepPt {background-image:url(page_tirets_menu.gif);}
	Td.sepTrait {background-image:url(ombre_menu_droit_accueil.gif);}
	Td.cpTitre {color: #282828; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold;}
	Td.cpResum {
		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	Td.ImprimerPage 
	{
		background-image:url(page_imprimer.gif);
		background-repeat:no-repeat;
		cursor:pointer;
	}
	
	Td.LsvHaut 
	{
		background-image:url(le_saviez_vous_ht.gif);
		background-repeat:no-repeat;
		
	}
	
	Td.LsvCentre 
	{
		color: #3c4048;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		background-image:url(le_saviez_vous_centre.gif);
		background-repeat:no-repeat;
		
	}
	
	Td.LsvBas 
	{
		background-image:url(le_saviez_vous_bs.gif);
		background-repeat:no-repeat;
		
	}
		
	/* lecteur d'actualite */ 
	Td.lctRougeHt{background-image:url(rouge_ht.gif); height:23px;}
	Td.lctRougeHt02{background-image:url(rouge_ht_02.gif); height:23px;}
	Td.lctOmbre{background-image:url(ombre.gif); }
	Td.lctRougebs{background-image:url(rouge_bs.gif);}
	Td.page_ombre_vert{background-image:url(page_ombre_vert.gif);}
	Td.page_ombre_vertElu{background-image:url(ombre_titre.gif);background-repeat: no-repeat;}


	Td.lctTitre_actus {	font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		font-weight: bold;
		color: #FFFFFF;
	}

	Td.ActuSelected
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		font-weight: bold;
		color: #CC3333;
		background-image:url(blanc.gif);
		text-align:center;
	}

	Td.Texte_blanc {
		color: #FFFFFF;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-weight: bold;
		text-align:center;
	}
	
	
	
	/* Gestion produit*/
	table.divTableDetail 
	{
		 /*width: 100%;  */
		 width: 360px;  
		 border: none; 
		 border: 0px solid black;
	}
	table.divTableDetail td 
	{
		 font-size: 12px; 
		 border: none; 
		 background-color: #F4F4F4; 
		 vertical-align: top;
		 /*font-weight: bold;*/
		 text-align:left;
		 
	}
	
	table.divTableTotal td 
	{
		 font-size: 12px; 
		 border: none; 
		 background-color: #D1E3E7; 
		 vertical-align: top;
		 font-weight: bold;
		 text-align:left;
		 
	}
	
	
	
	.divDetailLignes
	{
		position:absolute;
		/*width:460px;*/
		/*height:30px;*/
		z-index:5;
		/*left: 480px;*/
		border-style: solid;
		border-width: 2px;
		border-color: #236595;
		background-color: #FFFFFF;
		visibility: hidden;
	}
	
	.divTableDetailImprimer
	{
		 width: 100%;  
		 border: 0px solid black;
		 
	}
	table.divTableDetailImprimer td 
	{
		 font-size: 12px; 
		 border-bottom: 1px solid black; 
		 border-right: 1px solid black; 
		 background-color: #F4F4F4; 
		 vertical-align: top;
		 /*font-weight: bold;*/
		 text-align:left;
		 
	}
	.divDetailLignesImprimer
	{
		height:30px;
		z-index:5;
		border-style: solid;
		border-width: 2px;
		border-color: #236595;
	}
	
	.divTotalLignesImprimer
	{
		 font-size: 12px; 
		 border: none; 
		 vertical-align: top;
		 font-weight: bold;
		 text-align:left;
	}

	#divModificationFond
	{
		position:relative;
		background-color: #FFFFFF;
/*		border-style: solid;*/
		/*border-width: 1px;*/
	}	
	
	/*Partie POA*/


#fichte2
{
	/*margin:10px;*/

}
#separationFiche
{
	
	margin:4px;
	padding:4px;
	border-width:1px;
	border-style:solid;
	border-color: #e75097;
}

div#POAFaq
{
/*position:absolute;*/
top:50px;
height:380px;
left:550px;
overflow:auto;
border-width:0pt;
border-style:solid;
}
.divListePanier
{
	width:468px;
	border-width:0pt;
	border-style:solid;
	overflow:auto;
}
ul {}
ul.poaa { list-style-image: url(http://www.cg59.fr/App_Themes/ThemeDefault/~/lescouleursdutemps/images/puce_fleche.gif) }

ul.poaa li { margin: 0.5em 0 0.5em 0}

	a.POAlienSiteActualite {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		color: #282828;
		text-decoration: none;
		font-size: 9px;
		font-weight: bold;
		
	}
	
	

	a.POAlienSiteActualite:link {
		color: #282828;
		text-decoration: none;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-weight:bold;
	}

	a.POAlienSiteActualite:visited {
		text-decoration: none;
		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-weight:bold;
	}
	a.POAlienSiteActualite:hover {
		text-decoration: none;
		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-weight:bold;
	}
	a.POAlienSiteActualite:active {
		text-decoration: none;
		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-weight:bold;
	}




/*pour tooltip fiche*/




a.info {
  position:relative;
  border-bottom:1px #808080;
  text-decoration: none; 
  font-weight: bold;
}
a:hover.info {
  text-decoration: none;
  background: none;
}
a.info span {display: none;}
a:hover.info span 
{
	/*
  display: inline;
  position: absolute; 
  top:4em;
  left:0.5em;
  z-index: 20;
  background: #FFFFFF;
  color: #FF0080;
  border:1px solid #FF0080;
  width:200px;
  text-align:left;
  font-weight:normal;
  font-size: 10px;
  line-height:12px;
  padding:2px 4px;
  */
  
  /*ok pour fiche POA*/
  display: inline;
  position: absolute; 
  top:2.5em;
  left:0.5em;
  z-index: 20;
  background: #FFFFFF;
  color: #FF0080;
  border:1px solid #FF0080;
  /*width:100px;*/
  text-align:left;
  font-weight:normal;
  font-size: 10px;
  line-height:12px;
  padding:2px 4px;
}

/*pour tooltip resultat POA*/
a.infoRst {
  position:relative;
  border-bottom:1px #808080;
  text-decoration: none; 
  font-weight: bold;
}
a:hover.infoRst {
  text-decoration: none;
  background: none;
}
a.infoRst span {display: none;}
a:hover.infoRst span 
{
   /* ok pour resultat POA */
  display: inline;
  position: absolute; 
  top:1.5em;
  right:-2em;
  z-index: 20;
  background: #FFFFFF;
  color: #FF0080;
  border:1px solid #FF0080;
  width:100px;
  text-align:left;
  font-weight:normal;
  font-size: 10px;
  line-height:12px;
}

/*pour tooltip resultat (criteres) POA*/
a.infoCritere {
  position:relative;
  border-bottom:1px #808080;
  text-decoration: none; 
  font-weight: bold;
}
a:hover.infoCritere {
  text-decoration: none;
  background: none;
}
a.infoCritere span {display: none;}
a:hover.infoCritere span 
{
  display: inline;
  position: absolute; 
  top:-2em;
  left:0.5em;
  z-index: 20;
  background: #FFFFFF;
  color: #FF0080;
  border:1px solid #FF0080;
  width:100px;
  text-align:left;
  font-weight:normal;
  font-size: 10px;
  line-height:12px;
  padding:2px 4px;
}

/*pour tooltip admin (criteres) POA*/
a.infoAdmin {
  position:relative;
  border-bottom:1px #808080;
  text-decoration: none; 
  font-weight: bold;
}
a:hover.infoAdmin {
  text-decoration: none;
  background: none;
}
a.infoAdmin span {display: none;}
a:hover.infoAdmin span 
{
  display: inline;
  position: absolute; 
  top:3.5em;
  left:1.5em;
  z-index: 20;
  background: #FFFFFF;
  color: #FF0080;
  border:1px solid #FF0080;
  width:200px;
  text-align:left;
  font-weight:normal;
  font-size: 10px;
  line-height:12px;
  padding:2px 4px;
}

/* fin tooltip */	
	
	.Erreur_Texte_POA {font-size: 10px; color:	red; font-family:  Arial, Helvetica, sans-serif; font-weight: bold; }
	
	body.PoaBody {
		background-color: #FFFFFF;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		scrollbar-face-color: #ffffff; 
		scrollbar-arrow-color: #e75095; 
		scrollbar-track-color: #ffffff; 
		scrollbar-3dlight-color: #e75095; 
		scrollbar-darkshadow-color: #e75095; 
		scrollbar-shadow-color: #ffffff; 
		scrollbar-highlight-color: #ffffff;
	}
	

	.divTitre
	{
		width:90%;
		z-index:5;
		border-style: solid;
		border-width: 1px;
		border-color: #e75095;
		background-color: #FFFFFF;
	}	
	
	.divPanier 
	{
		width:280px;
		border-width: 0px;
		margin:0px;
font-weight: bold;
	}
	
	.txt_bold_rose_titre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #e75097;
	font-weight: bold;
	}

	
	/* ToolTip Graphisme */	
	#divToolTip2 {
	position:absolute;
	width:259px;
	height:47px;
	z-index:5;
	/*left: 515px;*/
	left: 345px;
	top: 155px;
	visibility: hidden;
	}
	
	/* ToolTip Technique mixte */	
	#divToolTip5 {
	position:absolute;
	width:259px;
	height:47px;
	z-index:5;
	/*left: 515px;*/
	left: 345px;
	top: 190px;
	visibility: hidden;
	}	
	
	/* ToolTip Art ephemere */	
	#divToolTip8 {
	position:absolute;
	width:259px;
	height:47px;
	z-index:5;
	/*left: 515px;*/
	left: 345px;
	top: 210px;
	visibility: hidden;
	}	
	
	/* ToolTip Textile */	
	#divToolTip11 {
	position:absolute;
	width:259px;
	height:47px;
	z-index:5;
	/*left: 520px;*/
	left: 345px;
	top: 245px;
	visibility: hidden;
	}	
	
	/* ToolTip Sculpture */	
	#divToolTip3 {
	position:absolute;
	width:259px;
	height:47px;
	z-index:5;
	/*left: 660px;*/
	left:500px;
	top: 155px;
	visibility: hidden;
	}
		
	/* ToolTip Art applique */	
	#divToolTip6 {
	position:absolute;
	width:259px;
	height:47px;
	z-index:5;
	/*left: 660px;*/
	left: 500px;
	top: 170px;
	visibility: hidden;
	}	
	
	/* ToolTip Multimedia */	
	#divToolTip9 {
	position:absolute;
	width:259px;
	height:47px;
	z-index:5;
	/*left: 660px;*/
	left: 500px;
	top: 220px;
	visibility: hidden;
	}
	
	/* ToolTip Peinture */
	#divToolTip0 {
	position:absolute;
	width:259px;
	height:47px;
	z-index:5;
	/*left: 660px;*/
	left: 500px;
	top: 210px;
	visibility: hidden;
	}	
	
	/* ToolTip Photo */	
	#divToolTip4 {
	position:absolute;
	width:259px;
	height:47px;
	z-index:5;
	left: 640px; /*800*/
	top: 166px;
	visibility: hidden;
	}
	
	/* ToolTip Illustration */
	#divToolTip7 {
	position:absolute;
	width:259px;
	height:47px;
	z-index:5;
	left: 640px; /*800*/
	top: 170px;
	visibility: hidden;
	}
	
	/* ToolTip Design */
	#divToolTip10 {
	position:absolute;
	width:259px;
	height:47px;
	z-index:5;
	left: 640px; /*800*/
	top: 220px;
	visibility: hidden;
	}
	
	/* ToolTip Dessin */
	.divToolTip1 {
	position:absolute;
	width:259px;
	height:47px;
	z-index:5;
	left: 640px; /*800*/
	top: 245px;
	visibility: hidden;
	}	

	div#divErreur
	{
	position:absolute;
	width:285px;
	height:90px;
	z-index:20000;
	left: 50%;
	/*left: 629px;*/
	top: 20%;
	
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	visibility:hidden;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bolder;
	color: #282828;
	text-align: center;
	
	}
	
	div#divImpressionCharte
	{
	position:absolute;
	width:285px;
	height:30px;
	z-index:200000;
	left: 50%;
	top: 15%;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	visibility:hidden;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bolder;
	color: #282828;
	text-align:center;
	
	}
	
	div#divConfirmation
	{
	position:absolute;
	width:285px;
	height:70px;
	z-index:200000;
	/*left: 497px;*/
	left: 50%;
	top: 20%;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	visibility:hidden;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bolder;
	color: #282828;
	text-align: center;
	
	}
	
	
	div#divChkValidation {
	position:absolute;
	width:285px;
	height:80px;
	z-index:200000;
	/*left: 497px;*/
	left: 50%;
	top: 15%;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	visibility:hidden;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bolder;
	color: #282828;
	text-align: center;
	
	}
	
	div#divQuartLillois {
	position:absolute;
	width:485px;
	height:150px;
	z-index:200000;
	/*left: 497px;*/
	left: 41%;
	top: 280px;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	visibility:hidden;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:bold;
	color: #282828;
	text-align : center;
	
	}
	
	
	div#territoires {
	position:absolute;
	width:186px;
	height:100px;
	z-index:2;
	/*left: 497px;*/
	left: 328px;
	top: 149px;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	visibility: hidden;
	}
	
	div#carte {
	position:absolute;
	width:185px;
	height:149px;
	z-index:2;
	/*left: 497px;*/
	left: 327px;
	top: 160px;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	visibility: hidden;
	}
	
	div#communes {
	position:absolute;
	width:186px;
	height:149px;
	z-index:2;
	/*left: 497px;*/
	left:328px;
	top: 194px;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	visibility: hidden;
	}
	
	div#teledoc1 {
	position:absolute;
	width:185px;
	height:149px;
	z-index:2;
	left: 630px;
	top: 70px;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	visibility: hidden;
	}
	div#teledoc2 {
	position:absolute;
	width:185px;
	height:149px;
	z-index:2;
	left: 660px;
	top: 70px;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	visibility: hidden;
	}
	div#teledoc3 {
	position:absolute;
	width:75px;
	height:149px;
	z-index:2;
	left: 730px;
	top: 170px;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	visibility: hidden;
	}
	div#teledoc4 {
	position:absolute;
	/*width:185px;  
	height:70px;*/
	
	WIDTH: 20%;	HEIGHT: 38px;
	
	z-index:2;
	/*left: 550px;
	top: 220px;*/
	
	top: 40px;
	left: 10px;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	visibility: hidden;
	}
	div#teledoc5 {
	position:absolute;
	overflow :auto;
	z-index:auto;
	left: 520px;
	top: 20px;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	visibility: hidden;
	}
	div#teledoc6 {
	position:absolute;
	overflow :auto;
	z-index:auto;
	left: 520px;
	top: 20px;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	visibility: hidden;
	}
	div#teledoc7 {
	position:absolute;
	width:185px;
	height:149px;
	z-index:2;
	left: 630px;
	top: 70px;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	visibility: hidden;
	}
	
	
	
	div#disciplines {
	position:absolute;
	width:422px;
	height:149px;
	z-index:2;
	left: 489px;
	top: 320px;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	visibility: hidden;
	}
	
	div#resultat {
	/*position:absolute;*/
	/* left:487px;*/
    /*left: 317px;*/
	top:224px;
	width:478px;
	height:228px;
	overflow:auto;
	}
	
	div#fiche {
	position:absolute;
	/* left:487px;*/
    /* left: 317px;*/
	/*top:160px;*/
	top:157px;
	width:480px;
	/*height:287px;*/
	/*height:275px;*/
	height:294px;
	overflow:auto;

	border-color: #e75095;
	border-style: solid;
	border-width: 0px;
	background-color: #FFFFFF;
	visibility: hidden;
    
    vertical-align:middle;
    
    padding:1px;
    z-index:1000000;


	}
	
	div#MentionLegalPOAA
	{
		width:440px;
		text-align:left;
		
	}
	
	
	div#ApercuFiche {
	position:absolute;
    left: 540px;
	top:160px;
	width:460px;
/*	height:250px;*/
	overflow:auto;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	visibility: hidden;
    vertical-align:middle;
    padding:1px;
	}
	div#ApercuFichePhoto {
	width:50px;
	height:20px;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	text-align:left;
    padding:1px;
    vertical-align:middle;
    display:inline;
	float:left; 
	}
	div#ApercuFicheDescription {
	width:300px;
	border-color: #e75095;
	border-style: solid;
	border-width: 0px;
	background-color: #FFFFFF;
    padding:1px;
    text-align:left;
	}
	div#ApercuFicheDescriptif {
	width:450px;
	border-color: #e75095;
	border-style: solid;
	border-width: 0px;
	background-color: #FFFFFF;
    padding:1px;
    text-align:left;
	}

	
	
	
	div#nbNord {
	position:absolute;
	/*left:804px;*/
	left:632px;
	top:221px;
	width:18px;
	height:52px;
	overflow:auto;
	background-color: #FFFFFF;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	visibility: hidden;
	}
	div#nbPasCalais {
	position:absolute;
	/*left:804px;*/
	left:632px;
	top:241px;
	width:18px;
	height:52px;
	overflow:auto;
	background-color: #FFFFFF;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	visibility: hidden;
	}
	div#nbFlandre {
	position:absolute;
	/*left:804px;*/
	left:632px;
	top:261px;
	width:18px;
	height:52px;
	overflow:auto;
	background-color: #FFFFFF;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	visibility: hidden;
	}
	
	div#communesEcranAdminAtelier {
	position:absolute;
	width:185px;
	height:149px;
	z-index:2;
	left: 15px;
	top: 65px;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	visibility: hidden;
	}
	div#territoiresEcranAdminAtelier {
	position:absolute;
	width:185px;
	height:100px;
	z-index:2;
	left: 15px;
	top: 42px;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	visibility: hidden;
	}	
	
div#communesEcranAdmin {
	position:absolute;
	width:185px;
	height:149px;
	z-index:2;
	left: 724px;
	top: 150px;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	visibility: hidden;
	}
div#territoiresEcranAdmin {
	position:absolute;
	width:185px;
	height:100px;
	z-index:2;
/*	left: 499px;*/
	left: 329px;
	top: 150px;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	visibility: hidden;
	}	
	
	#divToolAccueil {
	position:absolute;
	width:259px;
	height:47px;
	z-index:5;
	/*left: 660px;*/
	left: 490px;
	top: 210px;
	visibility: hidden;
	}
	#divToolMessage {
	position:absolute;
	width:259px;
	height:47px;
	z-index:5;
	/*left: 660px;*/
	left: 490px;
	top: 210px;
	visibility: hidden;
	}
	#divToolLegende {
	position:absolute;
	width:259px;
	height:47px;
	z-index:5;
	/*left: 660px;*/
	left: 490px;
	top: 210px;
	visibility: hidden;
	}
	
	
	
	a.lienCommuneTerr {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		color: #282828;
		text-decoration: none;
		font-weight :normal;
	}

	a.lienCommuneTerr:link {
		color: #282828;
		text-decoration: none;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-weight :normal;
	}

	a.lienCommuneTerr:visited {
		text-decoration: none;
		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-weight :normal;
	}
	a.lienCommuneTerr:hover {
		text-decoration: none;
		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-weight :normal;
	}
	a.lienCommuneTerr:active {
		text-decoration: none;
		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-weight :normal;
	}
	.lblCritereResultat
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #282828;
	font-weight: bold;
	}
	
	a.Poatxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #282828;
	text-decoration: none
	}
	a.Poatxt:visited {
    font-size: 9px;
	color: #282828;
	text-decoration: none
	}
	a.Poatxt:hover {
    font-size: 9px;
	color: #282828;
	text-decoration: underline
	}
	a.Poatxt:active {
    font-size: 9px;
	color: #282828;
	text-decoration: none
	}
	
	a.Poatxt2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #282828;
	text-decoration: none;
	font-weight:bolder;
	}
	a.Poatxt2:visited {
    font-size: 12px;
	color: #282828;
	text-decoration: none;
	font-weight:bolder;
	}
	a.Poatxt2:hover {
    font-size: 12px;
	color: #282828;
	text-decoration: underline;
	font-weight:bolder;
	}
	a.Poatxt2:active {
    font-size: 12px;
	color: #282828;
	text-decoration: none;
	font-weight:bolder;
	}
	
	Td.fondRoseRaye 
	{
		background-image:url(http://www.cg59.fr/lescouleursdutemps/images/couleurs_du_temps_2007_02.gif);
		background-repeat:no-repeat;
		
	}
	
	Td.PoaBarreBas
	{
		background-image:url(http://www.cg59.fr/lescouleursdutemps/images/couleurs_du_temps_2007_08.gif);
		background-repeat:no-repeat;
	}
	
	Td.PoaBarreBas2
	{
		background-image:url(http://www.cg59.fr/lescouleursdutemps/images/couleurs_du_temps_2007_09.gif);
		background-repeat:no-repeat;
	}
	
	Td.PoaBarreGauche
	{
		background-image:url(http://www.cg59.fr/lescouleursdutemps/images/couleurs_du_temps_2007_04.gif);
		background-repeat:no-repeat;
	}
	
	
	Td.PoaLogoInscription
	{
		background-image:url(http://www.cg59.fr/lescouleursdutemps/images/Images/couleurs_du_temps_inscri.gif);
		background-repeat:no-repeat;
		height:408px;
	}
	Td.PoaLogoAccueil
	{
		background-image:url(http://www.cg59.fr/lescouleursdutemps/images/couleurs_du_temps_inscri.gif);
		background-repeat:no-repeat;
		height:408px;
	}
	Td.PoaLogoInscription2
	{
		background-image:url(http://www.cg59.fr/App_Themes/images/couleurs_du_temps_inscri_02.gif);
		background-repeat:no-repeat;
		height:408px;
	}
	Td.PoaLogo
	{
		background-image:url(http://www.cg59.fr/lescouleursdutemps/images/couleurs_du_temps_inscri.gif);
		background-repeat:no-repeat;
		height:408px;
	}

	
	
	
	Td.fondMenuWebTv
	{
		background-image:url(onglet_fond.gif);
		background-repeat:repeat-x;
	}
	
	Td.webTvBarreGauche{	background-image:url(WebTV_accueil_06.gif);}
	
	Td.webTvBarreDroite{	background-image:url(WebTV_accueil_08.gif);}
	
	Td.PoaBarreDroite
	{
		background-image:url(http://www.cg59.fr/App_Themes/ThemeDefault/~/lescouleursdutemps/images/couleurs_du_temps_2007_07.gif);
		background-repeat:no-repeat;
	}
	
	.TextBoxPOA
	{
		
		border : #E75095 1px solid;
		
		font-size: 10px;
		
		color: #282828;
		
		font-family: Arial, Helvetica, sans-serif;
	}
	
	.lstBoxPoa
	{
		background-color: #ffffff;
		border-width: 0px;
		border-color:  #E75095;
		border-style: none;
		cursor: arrow;
		font-family: Arial, Helvetica, sans-serif;
		color:#282828; 
		font-size: 9px;
		font-weight: regular;
	}
	
	Td.PoaBarreDroite
	{
		background-image:url(http://www.cg59.fr/App_Themes/ThemeDefault/~/lescouleursdutemps/images/couleurs_du_temps_2007_07.gif);
		background-repeat:no-repeat;
	}
	
	Td.PoaBarreBas2
	{
		background-image:url(http://www.cg59.fr/App_Themes/ThemeDefault/~/lescouleursdutemps/images/couleurs_du_temps_2007_09.gif);
		background-repeat:no-repeat;
	}
	
	Td.PoaBarreHaut
	{
		background-image:url(http://www.cg59.fr/App_Themes/ThemeDefault/~/lescouleursdutemps/images/couleurs_du_temps_2007_03.gif);
		background-repeat:no-repeat;
	}
	
	.LabelPoaPiedPage
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 9px;
		color: #9b9b9b;
	}

	Td.PoaPiedPage
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 9px;
		color: #9b9b9b;
	}
	
	.txt_maj_rose {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #e75097;
	font-weight: bold;
	text-transform: uppercase;
	}
	
	.txt_bold_rose {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #e75097;
	font-weight: bold;
	}
	
	.txt_bold_gris {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #808080;
	font-weight: bold;
	text-align:justify;
	
	}
	
	.txt_bold_rose_cadre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-style :double;
	border-color :#e75097;
	padding:5px;
	font-size: 9px;
	color: #e75097;
	font-weight: bold;
	}
	
	.txt_bold_rouge {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: red;
	font-weight: bold;
	}
	
	.txt_bold_noir {	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #282828;
	font-weight: bold;
	}	
	
	.PoaTxt_regular_noir {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #282828;
	font-weight: regular;
	}
	
	.PoaTxt_regular_noir_justif {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #282828;
	font-weight: regular;
	text-align:justify;
	}
	
	.txt_regular_noir {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #282828;
	font-weight: regular;
	}
	
	.PoaCheckbox {
	background-color: #ffffff;
	}
	
	.TextBoxChampsTerritoire {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #ffffff;
	color: #282828;
	border-width: 1px;
	border-color: #e75095;
	border-style: solid;
	width: 185px;
	height: 16px;
	padding-left: 5px;
	}
	
	.txtBoxCahierCharge {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #ffffff;
	color: #282828;
	border-width: 1px;
	border-color: #e75095;
	border-style: solid;
	width: 185px;
	/*height: 16px;*/
	padding-left: 5px;
	}
	
	
	.PoaDdlCommune
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 9px;
		background-color: #ffffff;
		border-width : 1px;
		
		border-right: #e75095 1px solid;
		border-top: #e75095 1px solid;
		border-left: #e75095 1px solid;
		color: #e75095;
		border-bottom: #e75095 1px solid;
		
		
	}
	
	
	Td.txt_titre 
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 5px;
	line-height: 15px;
	background: url(http://www.cg59.fr/App_Themes/ThemeDefault/~/lescouleursdutemps/images/rose.gif);
	}
	
	Td.txt_titre2 
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 5px;
	line-height: 15px;
	background: url(http://www.cg59.fr/App_Themes/ThemeDefault/~/lescouleursdutemps/images/rose.gif);
	}
	


Td.boutonRond
{
	background-image:url(http://www.cg59.fr/App_Themes/ThemeDefault/~/lescouleursdutemps/images/bout_rond.gif);
	height:19px;
	width:9px;
	background-repeat:no-repeat;
}

Td.POALigneResultat
{
	background-image:url(http://www.cg59.fr/App_Themes/ThemeDefault/~/lescouleursdutemps/images/page_b.gif);
	height:15px;
	width:350px;
	background-repeat:repeat-x;
}

Td.POALigneResultat2
{
	background-image:url(http://www.cg59.fr/App_Themes/ThemeDefault/~/lescouleursdutemps/images/page_b.gif);
	height:15px;
	width:30px;
	background-repeat:repeat-x;
}


 .imgPOAPage_g
 {
	 width:7px;
	 height:15px;
 }
 
  .imgPOAPage_d
 {
	 width:7px;
	 height:15px;
 }
 
  .imgLoupe
 {
	 width:9px;
	 height:9px;
	 border:0px;
 }

.imgPOApage_h
 {
	 width:85px;
	 height:15px;
	 background-image:url(http://www.cg59.fr/App_Themes/ThemeDefault/~/lescouleursdutemps/images/page_h.gif);
	 background-repeat:repeat-x;
	 font-family: Verdana, Arial, Helvetica, sans-serif;
	 font-size: 9px;
 	 color: #e75097;
	 font-weight: bold;
 }	
 .imgPOAPicto
 {
	width:17px;
	height:17px;
	}
	
 .imgPOAPicto2
 {
	width:16px;
	height:16px;
 }
 
.logosEditoPOA
{
	width:425px;
	height:58px;
}
.titreEditoPOA
{
	width:463px;
	height:23px
}

.imgBoutonTransferer
{
	vertical-align:middle;
}

/* visuel POA petit*/





.imgLogoCg59
{	
	width:38px;
	height:38px;
	border:0;
}
.imgPanier
{
	width:22px;
	height:23px;
	border:0;
}

/* visuel POA gd*/
.imgVisuelNORDgd
{}
.imgAfficheNORDgd
{}
.imgBanniereNORD110x147gd
{}
.imgBanniereNORD430x70gd
{}
.imgLogoCg59gd
{}


 
.ResultatGras {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 9px;
color: #282828;
font-weight: bold;
text-decoration: none
} 

.ResultatGras:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #282828;
	font-weight: bold;
	text-decoration: none
}
.ResultatGras:visited {
	color: #282828;
	font-size: 9px;
	font-weight: bold;
	text-decoration: none
}
.ResultatGras:hover {
	color: #282828;
	font-size: 9px;
	font-weight: bold;
	text-decoration: underline
}
.ResultatGras:active {
	color: #282828;
	font-size: 9px;
	font-weight: bold;
	text-decoration: none
}




/*Lien Envoyer formulaire (rose)*/
/* ou  lien valider  */
.EnvoyerGras:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #e75097;
	font-weight: bold;
	text-decoration: none
}
.EnvoyerGras:visited {
	color: #e75097;
	font-size: 9px;
	font-weight: bold;
	text-decoration: none
}
.EnvoyerGras:hover {
	color: #e75097;
	font-size: 9px;
	font-weight: bold;
	text-decoration: underline
}
.EnvoyerGras:active {
	color: #e75097;
	font-size: 9px;
	font-weight: bold;
	text-decoration: none
}



.Telecharger:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #e75097;
	text-decoration: none;
}
.Telecharger:visited {
	color: #e75097;
	font-size: 9px;
	text-decoration: none;
}
.Telecharger:hover {
	color: #e75097;
	font-size: 9px;
	text-decoration: underline;
}
.Telecharger:active {
	color: #e75097;
	font-size: 9px;
	text-decoration: none;
}







	
	/* ajout test */
	a.txt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #282828;
	text-decoration: none
}
a.txt:visited {
    font-size: 9px;
	color: #282828;
	text-decoration: none
}
a.txt:hover {
    font-size: 9px;
	color: #282828;
	text-decoration: underline
}
a.txt:active {
    font-size: 9px;
	color: #282828;
	text-decoration: none
}
a.resultat:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #282828;
	font-weight: bold;
	text-decoration: none
}
a.resultat:visited {
	color: #282828;
	font-size: 9px;
	font-weight: bold;
	text-decoration: none
}
a.resultat:hover {
	color: #282828;
	font-size: 9px;
	font-weight: bold;
	text-decoration: underline
}
a.resultat:active {
	color: #282828;
	font-size: 9px;
	font-weight: bold;
	text-decoration: none
}

a.page:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #e75097;
}
a.page:visited {
    font-size: 9px;
	color: #e75097;
}
a.page:hover {
    font-size: 9px; 
	color: #e75097;
}
a.page:active {
    font-size: 9px;
	color: #e75097;
}
a.site:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #9b9b9b;
	text-decoration: none
}
a.site:visited {
    font-size: 9px;
	color: #9b9b9b;
	text-decoration: none
}
a.site:hover {
    font-size: 9px; 
	color: #9b9b9b;
	text-decoration: underline
}
a.site:active {
    font-size: 9px;
	color: #9b9b9b;
	text-decoration: none
}
.txt_regular_rose {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #e75097;
	font-weight: regular;
	}
.txt_bold_rose {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #e75097;
	font-weight: bold;
}
.txt_bold_noir {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #282828;
	font-weight: bold;
}
.txt_maj_rose {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #e75097;
	font-weight: bold;
	text-transform: uppercase;
}

.txt_atelier {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 1px;
	PADDING-TOP: 1px;
	text-decoration: url(http://www.cg59.fr/App_Themes/ThemeDefault/rose.gif);
	color: #e75095;
	line-height: 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	background: url(http://www.cg59.fr/App_Themes/ThemeDefault/~/lescouleursdutemps/images/rose_clair.gif);
	font-weight: bold;
	text-align: center;
}
.txt_horaire {
	PADDING-BOTTOM: 1px;
	PADDING-TOP: 1px;
	text-decoration: url(http://www.cg59.fr/App_Themes/ThemeDefault/~/lescouleursdutemps/images/rose.gif);
	color: #e75095;
	line-height: 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	background: url(http://www.cg59.fr/App_Themes/ThemeDefault/~/lescouleursdutemps/images/rose_clair.gif);
	font-weight: regular;
}
.txt_maj_noir {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #282828;
	font-weight: bold;
	/*text-transform: uppercase;*/
}
	/* fin ajout test  */ 

	/* accueil */
	.texte_bleu_gris {	font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		font-weight: bold;
		color: #7798b7;
	}

	Td.deg_service_01
	{
		background-image:url(deg_service_01.gif);
		color: #282828; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; 
	}
	Td.deg_service_02
	{
		background-image:url(deg_service_01.gif);
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		font-weight: bold;
		color: #7798b7;
	}

	Td.bas_g{background-image:url(bas_g.gif);}
	Td.ombreVert{background-image:url(ombre_vert.gif);}
	Td.ombreVert2{background-image:url(ombre_menu_droit.gif);background-repeat:repeat-y; }
	Td.Texte{color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;}
		

	Td.page_ombre_menu{	background-image:url(page_ombre_menu.gif);}

	/* titre (voir aussi, le saviez vous)*/
	Td.page_ombre_menu_Titre{	background-image:url(page_ombre_menu.gif.1);}
	Td.page_trait_menu_Titre{	background-image:url(page_trait_menu.gif);}
	
	
	Td.pix_gris{	background-image:url(pix_gris.gif);}

	Td.page_trait_menu
	{
		background-image:url(page_trait_menu.gif.1);

		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	Td.menu_int_01{background-image:url(menu_int_01.gif);background-repeat:repeat-x;}
	Td.menu_int_03
	{
		background-image:url(menu_int_03.gif);
		background-repeat: repeat-x;
	}
	Td.page_titre_trait
	{
		background-image:url(page_titre_trait.gif);
		background-repeat: repeat-x;
		background-position:top;
		}
	Td.page_trait_menu 
	{
		background-image:url(page_trait_menu.gif.1);
		
		}


	.LienHypertextNoir a:link{color:#FFFFFF}
	.LienHypertextNoir a:visited{color:#FFFFFF}
	.LienHypertextNoir a:hover{color:#FFFFFF; text-decoration:underline}
	.LienHypertextNoir a:active{color:#FFFFFF}



	.Rouge
	{
		font-size: 13px;
		color: #282828;
		font-family: Arial, Helvetica, sans-serif;
	}
	.Normal
	{
		font-size: 13px;
		color:Black;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}



	/* Editeur de contenu */
	.TitreArticle 
	{ 
		font-family: Verdana,Arial, Helvetica, sans-serif;
		font-size: 12px;
		color:#006699;
	}

	.TitreParagraphe 
	{ 
		font-family: Verdana,Arial, Helvetica, sans-serif;
		font-size: 10px;
		color:#006699;
	}


	a.LienSecondaire
	{ 
		font-family: Verdana,Arial, Helvetica, sans-serif;
		font-size: 9px;
		color:#0066ff;
		text-decoration: none;
	}
	a.LienSecondaire :link
	{ 
		font-family: Verdana,Arial, Helvetica, sans-serif;
		font-size: 9px;
		color:#0066ff;
		text-decoration: none;
	}
	a.LienSecondaire:hover
	{ 
		font-family: Verdana,Arial, Helvetica, sans-serif;
		font-size: 9px;
		color:#3399cc;
		text-decoration: none;
	}


	a.lienSecondaire
	{ 
		font-family: Verdana,Arial, Helvetica, sans-serif;
		font-size: 9px;
		color:#0066ff;
		text-decoration: none;
	}
	a.lienSecondaire :link
	{ 
		font-family: Verdana,Arial, Helvetica, sans-serif;
		font-size: 9px;
		color:#0066ff;
		text-decoration: none;
	}
	a.lienSecondaire:hover
	{ 
		font-family: Verdana,Arial, Helvetica, sans-serif;
		font-size: 9px;
		color:#3399cc;
		text-decoration: none;
	}


	a.LienTexte
	{ 
		font-family: Verdana,Arial, Helvetica, sans-serif;
		font-size: 10px;
		color:#0066ff;
		text-decoration: none;
	}

	a.LienTexte :link
	{ 
		font-family: Verdana,Arial, Helvetica, sans-serif;
		font-size: 10px;
		color:#0066ff;
		text-decoration: none;
	}

	a.LienTexte:hover
	{ 
		font-family: Verdana,Arial, Helvetica, sans-serif;
		font-size: 10px;
		color:#3399cc;
		text-decoration: none;
	}
	
	#menu_langues
	{
		display:block;
	}
	
	#contenu {display:block;}	
		
#menu_bandeau
{
	display: block;
}

#menu_droite
{
	display: block;
}

#menu_gauche
{
	display: block;
}
#mentions_legales
{
	display: block;
}
.Rouge
	{
		font-size: 10px;
		color: Red;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	
.ProxyMenu
	{
		color: #006699;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-weight: bold;
	}
	
.police10
{
   font-size:10px;
}	

.justifie
{
   text-align: justify; 
}

/*ajout 09/2009 poaa*/
.italic
{
   font-style:italic; 
}
.encadreRose{
  border:2px solid #FF0080;
  padding:2px 4px;
  margin:2px 4px;
  }




/* test marche pas */
a.site:link:after {
	content: " (" attr(href) ") ";
}
a.site:visited:after {
    content: " (" attr(href) ") ";
}
/*
a.site:link:after, a.site:visited:after {
    content: " (" attr(href) ") ";
}*/
/*.a.site[href]:after { content: ” (” attr(href) “)”; }*/




}
/*---------------------------------------------------------*/
/*-------------------- MEDIA IMPRIMANTE -------------------*/
/*---------------------------------------------------------*/
@media print
{
	
	
	
	/* Utile pour edition de l apercu de la fiche lors de l'inscription en ligne POA */
	
	div#ApercuFiche {
	position:absolute;
    left: 10%;
	top:10%;
	width:460px;
	overflow:auto;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	visibility: hidden;
    /*vertical-align:middle;*/
    padding:1px;
	}
	div#ApercuFichePhoto {
	width:50px;
	height:20px;
	border-color: #e75095;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	text-align:left;
    padding:1px;
    vertical-align:middle;
    display:inline;
	float:left; 
	}
	div#ApercuFicheDescription {
	width:300px;
	border-color: #e75095;
	border-style: solid;
	border-width: 0px;
	background-color: #FFFFFF;
    padding:1px;
    text-align:left;
	}
	div#ApercuFicheDescriptif {
	width:450px;
	border-color: #e75095;
	border-style: solid;
	border-width: 0px;
	background-color: #FFFFFF;
    padding:1px;
    text-align:left;
	}
	.txt_bold_rose {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #e75097;
	font-weight: bold;
	}
	a.Poatxt, a.Poatxt:visited,a.Poatxt:hover, a.Poatxt:active  {
		visibility:hidden;
	}
	a.Poatxt2, a.Poatxt2:visited,a.Poatxt2:hover, a.Poatxt2:active  {
		visibility:hidden;
	}
	#divImpressionCharte, #divConfirmation, #charte, #divQuartLillois, #divChkValidation, #Tableau_01
	{
		visibility:hidden;
	}
	



	
	
	
	
	
	.styleTreeView {
	  width:34px; height:22px; 
	  cursor:pointer ;
	  font-size:x-large;
	}
	p /*idem que texte */
	{
		color: #3c4048;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;

	}
	

	.Texte {
		color: #3c4048;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	.Texte_gras {color: #282828; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold;}
	.Texte_ca4242 {color: #282828; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold;}

	.Titre {color: #282828; font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; }
	.Titre_elu {
		color: #FFFFFF;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-weight: bold;
	}
	.Sous_titre {font-size: 16px; font-weight: bold; color: #282828; font-family: Verdana, Arial, Helvetica, sans-serif; }


	a.lienSiteSouligne {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		color: #282828;
		text-decoration:underline;
	}
	a.lienSiteSouligne:link {
		color: #282828;
		text-decoration: underline;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}

	a.lienSiteSouligne:visited {
		text-decoration: underline;
		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	a.lienSiteSouligne:hover {
		text-decoration: underline;
		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	a.lienSiteSouligne:active {
		text-decoration: underline;
		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}











	a.lienSite {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		color: #282828;
		text-decoration: none;
	}

	a.lienSite:link {
		color: #282828;
		text-decoration: none;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}

	a.lienSite:visited {
		text-decoration: none;
		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	a.lienSite:hover {
		text-decoration: none;
		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	a.lienSite:active {
		text-decoration: none;
		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	.Texte_blanc {
		color: #FFFFFF;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-weight: bold;
	}

	/* Style des label Mise en couleur blanche*/
	.MiseEnBlanc
	{
		visibility:hidden
	}
	/* Style des label de la masterpage*/
	.LabelMasterPage
	{
		color:#236595;
		font-weight:bold;
		font-style:italic;
	}

	/* Style des labels des ContentPlaceHolder*/
	.LabelTitre
	{
		font-size: 19px;
		color: #236595;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	.Label
	{
		font-size: 13px;
		color: #236595;
		font-family: Arial, Helvetica, sans-serif;
	}

	.CheckBox
	{
		font-size: 13px;
		color: #282828;
		font-family: Arial, Helvetica, sans-serif;
	}

	/* Style des textbox de saisie pour champs */
	.TextBox
	{
		border-right: #282828 1px solid;
		border-top: #282828 1px solid;
		font-size: 13px;
		border-left: #282828 1px solid;
		color: #282828;
		border-bottom: #282828 1px solid;
		font-family: Arial, Helvetica, sans-serif;
		text-transform: uppercase;
	}
	.TextBox1
	{
		border-right: #282828 1px solid;
		border-top: #282828 1px solid;
		font-size: 13px;
		border-left: #282828 1px solid;
		color: #282828;
		border-bottom: #282828 1px solid;
		font-family: Arial, Helvetica, sans-serif;
		text-transform: none;
	}
	/* Style des DropDownList */
	.DropDownList
	{
		border-right: #282828 1px solid;
		border-top: #282828 1px solid;
		font-size: 13px;
		border-left: #282828 1px solid;
		color: #282828;
		border-bottom: #282828 1px solid;
		font-family: Arial, Helvetica, sans-serif;
	}
	.Menu {	font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		color: #00a0c6;
		font-weight: bold;
	}
	.Menu_SS {font-size: 11px; color: #3c4048; font-family: Arial, Helvetica, sans-serif;}
	.Titre_SS {	font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-weight: bold;
		color: #00a0c6;
	}
	/*.Texte {font-size: 10px; color: #3c4048; font-family: Verdana, Arial, Helvetica, sans-serif;}*/
	.Titre {color: #282828; font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; }
	.Tableau_Titre {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-weight: bold;
		color: #FFFFFF;
		background-color: #00a0c6;
		text-align: center;
	}
	.Tableau_Cellule_01 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		color: #3c4048;
		text-align: center;
		background-color: #FFFFFF;
	}
	.Tableau_Cellule_02 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		color: #3c4048;
		text-align: center;
		background-color: #D3EAF1;
	}


	.Erreur_Texte {font-size: 13px; color: #CC0000; font-family: Arial, Helvetica, sans-serif; }
	.Erreur_Titre {
		font-size: 12px;
		color: #CC0000;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
	}
	.Informations_Titre {font-size: 12px; color: #FEB301; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
	.Informations_Texte {font-size: 13px; color: #1eb574; font-family: Arial, Helvetica, sans-serif; }


	/* style pour les panels */
	Div.PanelPrincipal fieldset {color:#282828;border-width:1px;border-style:solid; border-color:#282828; } 
	Div.PanelPrincipal legend {font-weight:bold; text-transform: uppercase}

	Div.PanelRecherche fieldset {color:#282828;border-width:1px;border-style:solid; border-color:#282828; } 
	Div.PanelRecherche legend {font-weight:bold; text-transform: uppercase}
	Div.PanelRecherche table {font-family: Arial, Helvetica, sans-serif;font-size: 13px;color: #3c4048;text-align: center;background-color: #D3EAF1;}

	table {font-family: Arial, Helvetica, sans-serif;font-size: 13px}

	.listbox {
		background-color: #ffffff;
		border-width: 1px;
		border-color: #282828;
		border-style: solid;
		cursor: arrow;
		font-family: Arial, Helvetica, sans-serif;
		color:#282828;
	}
	.listbox li {
	text-align: left;
	list-style-type: none;
	margin-left: 0px;
	}
	.listbox a {
	color: #000;
	text-decoration: none;
	} 

	.Style10 {color: #CC3333; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; }

	/* Actualite */
	.lblActualiteTitre
	{
		padding-right: 0px; 
		padding-left: 0px; 
		font-weight: bold; 
		font-size: 9pt; 
		color: #ff9c00; 
		font-family: Arial; 
		text-align: left
		}
	.lblActualiteResume
	{
		font-family: Arial, Helvetica;
		font-size:small;
		text-align:justify;
		COLOR: #336699;
		}
	.lblActualiteTexteRiche
	{
		font-family: Arial, Helvetica, sans-serif;
		color:#282828;}
	.lblActualiteTexteGrandeImage
	{
		font-family: Arial, Helvetica, sans-serif;
		color:#282828;}
	.imgActualitePetiteImage
	{
	}
	.imgElu
	{
	}
	.imgActualiteGrandeImage
	{
		font-family: Arial, Helvetica, sans-serif;
		color:#282828;}
	.lblActualiteTitrepnActualiteTexteRiche
	{
		font-size:small;
		color:#282828;
	}


	/* Video */
	.lblVideoTitre
	{
		padding-right: 0px; 
		padding-left: 0px; 
		font-weight: bold; 
		font-size: 9pt; 
		color: #ff9c00; 
		font-family: Arial; 
		text-align: left
		}
	.lblVideoResume
	{
		font-family: Arial, Helvetica;
		font-size:small;
		text-align:justify;
		COLOR: #336699;
	}




	/* util pour affichage infobulle */
	.more {
	   position: absolute;
	   display: none;
	   /* Ce qui suit n'est pas vraiment important pour le fonctionnement */
	   top: 50%;
	   left: 55%;
	   background-color: #bbbbff;
	   color: black;
	   padding: 10px;
	   text-align: left;
	   font-style: italic;
	   font-weight: normal;
	   font-size: 80%;
	}






	/* Gestion pour les menus */

	.EnteteColDroite {
		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}

	Td.sepPt {background-image:url(page_tirets_menu.gif);}
	Td.sepTrait {background-image:url(ombre_menu_droit_accueil.gif);}
	Td.cpTitre {color: #282828; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold;}
	Td.cpResum {
		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
		
	/* lecteur d'actualite */ 
	Td.lctRougeHt{background-image:url(rouge_ht.gif); height:23px;}
	Td.lctRougeHt02{background-image:url(rouge_ht_02.gif); height:23px;}
	Td.lctOmbre{background-image:url(ombre.gif); }
	Td.lctRougebs{background-image:url(rouge_bs.gif);}
	Td.page_ombre_vert{background-image:url(page_ombre_vert.gif);}
	Td.page_ombre_vertElu{background-image:url(ombre_titre.gif);background-repeat: no-repeat;}


	Td.lctTitre_actus {	font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		font-weight: bold;
		color: #FFFFFF;
	}

	Td.ActuSelected
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		font-weight: bold;
		color: #CC3333;
		background-image:url(blanc.gif);
		text-align:center;
	}

	Td.Texte_blanc {
		color: #FFFFFF;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-weight: bold;
		text-align:center;
	}


	/* accueil */
	.texte_bleu_gris {	font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		font-weight: bold;
		color: #7798b7;
	}

	Td.deg_service_01
	{
		background-image:url(deg_service_01.gif);
		color: #282828; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; 
	}
	Td.deg_service_02
	{
		background-image:url(deg_service_01.gif);
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		font-weight: bold;
		color: #7798b7;
	}

	Td.bas_g{background-image:url(bas_g.gif);}
	Td.ombreVert{background-image:url(ombre_vert.gif);}
	Td.Texte{color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;}
		

	Td.page_ombre_menu{	background-image:url(page_ombre_menu.gif);}
	Td.pix_gris{	background-image:url(pix_gris.gif);}

	Td.page_trait_menu
	{
		background-image:url(page_trait_menu.gif.1);

		color: #282828;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	Td.menu_int_01{background-image:url(menu_int_01.gif);}
	Td.menu_int_03
	{
		background-image:url(menu_int_03.gif);
		background-repeat: repeat-x;
	}
	Td.page_titre_trait
	{
		background-image:url(page_titre_trait.gif);
		background-repeat: repeat-x;
		background-position:top;
		}
	Td.page_trait_menu 
	{
		background-image:url(page_trait_menu.gif.1);
		
		}


	.LienHypertextNoir a:link{color:#FFFFFF}
	.LienHypertextNoir a:visited{color:#FFFFFF}
	.LienHypertextNoir a:hover{color:#FFFFFF; text-decoration:underline}
	.LienHypertextNoir a:active{color:#FFFFFF}

	.divTableDetailImprimer
	{
		 width: 100%;  
		 border: none; 
		 border: 0px solid black;
	}
	table.divTableDetailImprimer td 
	{
		 font-size: 12px; 
		 border: none; 
		 background-color: #F4F4F4; 
		 vertical-align: top;
		 /*font-weight: bold;*/
		 text-align:left;
		 
	}
	.divDetailLignesImprimer
	{
		height:30px;
		z-index:5;
		border-style: solid;
		border-width: 2px;
		border-color: #236595;
		background-color: #FFFFFF;
	}
	
	.divTotalLignesImprimer
	{
		 font-size: 12px; 
		 border: none; 
		 vertical-align: top;
		 font-weight: bold;
		 text-align:left;
	}



	.Rouge
	{
		font-size: 13px;
		color: Red;
		font-family: Arial, Helvetica, sans-serif;
	}
	.Normal
	{
		font-size: 13px;
		color:Black;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}



	/* Editeur de contenu */
	.TitreArticle 
	{ 
		font-family: Verdana,Arial, Helvetica, sans-serif;
		font-size: 12px;
		color:#006699;
	}

	.TitreParagraphe 
	{ 
		font-family: Verdana,Arial, Helvetica, sans-serif;
		font-size: 10px;
		color:#006699;
	}


	a.LienSecondaire
	{ 
		font-family: Verdana,Arial, Helvetica, sans-serif;
		font-size: 9px;
		color:#0066ff;
		text-decoration: none;
	}
	a.LienSecondaire :link
	{ 
		font-family: Verdana,Arial, Helvetica, sans-serif;
		font-size: 9px;
		color:#0066ff;
		text-decoration: none;
	}
	a.LienSecondaire:hover
	{ 
		font-family: Verdana,Arial, Helvetica, sans-serif;
		font-size: 9px;
		color:#3399cc;
		text-decoration: none;
	}


	a.lienSecondaire
	{ 
		font-family: Verdana,Arial, Helvetica, sans-serif;
		font-size: 9px;
		color:#0066ff;
		text-decoration: none;
	}
	a.lienSecondaire :link
	{ 
		font-family: Verdana,Arial, Helvetica, sans-serif;
		font-size: 9px;
		color:#0066ff;
		text-decoration: none;
	}
	a.lienSecondaire:hover
	{ 
		font-family: Verdana,Arial, Helvetica, sans-serif;
		font-size: 9px;
		color:#3399cc;
		text-decoration: none;
	}


	a.LienTexte
	{ 
		font-family: Verdana,Arial, Helvetica, sans-serif;
		font-size: 10px;
		color:#0066ff;
		text-decoration: none;
	}

	a.LienTexte :link
	{ 
		font-family: Verdana,Arial, Helvetica, sans-serif;
		font-size: 10px;
		color:#0066ff;
		text-decoration: none;
	}

	a.LienTexte:hover
	{ 
		font-family: Verdana,Arial, Helvetica, sans-serif;
		font-size: 10px;
		color:#3399cc;
		text-decoration: none;
	}

	#contenu {position :absolute;
			left: 80px; 
			top: 40px;}	
			
	#menu_bandeau
	{
		display: none;
	}

	#menu_droite
	{
		display: none;
	}

	#menu_gauche
	{
		display: none;
	}
	
	#menu_langues
	{
		display:none;
	}
	#mentions_legales
	{
	display: none;
	}
	
	
	
	
	
/* Edition Panier POA */
	a.info {
	  position:relative;
	  border-bottom:1px #808080;
	  text-decoration: none; 
	  font-weight: bold;
	}
	a:hover.info {
	  text-decoration: none;
	  background: none;
	}
	a.info span {display: none;}
	a:hover.info span img
	{
	  /*ok pour fiche POA*/
	  display: none;
	}
	.txt_atelier {
		PADDING-RIGHT: 5px;
		PADDING-LEFT: 5px;
		PADDING-BOTTOM: 1px;
		PADDING-TOP: 1px;
		text-decoration: url(http://www.cg59.fr/App_Themes/ThemeDefault/rose.gif);
		color: #e75095;
		line-height: 15px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 9px;
		background: url(http://www.cg59.fr/App_Themes/ThemeDefault/~/lescouleursdutemps/images/rose_clair.gif);
		font-weight: bold;
		text-align: center;
	}
	.txt_horaire {
		PADDING-BOTTOM: 1px;
		PADDING-TOP: 1px;
		text-decoration: url(http://www.cg59.fr/App_Themes/ThemeDefault/~/lescouleursdutemps/images/rose.gif);
		color: #e75095;
		line-height: 15px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 9px;
		background: url(http://www.cg59.fr/App_Themes/ThemeDefault/~/lescouleursdutemps/images/rose_clair.gif);
		font-weight: regular;
	}
	.txt_regular_rose {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 9px;
		color: #e75097;
		font-weight: regular;
	}
	.txt_regular_noir {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 9px;
		color: #282828;
		font-weight: regular;
	}
	.ResultatGras {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 9px;
		color: #282828;
		font-weight: bold;
		text-decoration: none
	} 
	.ResultatGras:link {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 9px;
		color: #282828;
		font-weight: bold;
		text-decoration: none
	}
	.ResultatGras:visited {
		color: #282828;
		font-size: 9px;
		font-weight: bold;
		text-decoration: none
	}
	.ResultatGras:hover {
		color: #282828;
		font-size: 9px;
		font-weight: bold;
		text-decoration: underline
	}
	.ResultatGras:active {
		color: #282828;
		font-size: 9px;
		font-weight: bold;
		text-decoration: none
	}	
	.txt_maj_noir {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 9px;
		color: #282828;
		font-weight: bold;
		text-transform: uppercase;
	}	

	/*Lien Envoyer formulaire (rose)*/
	/* ou  lien valider  */
	.EnvoyerGras:link {
		display: none;
	}
	.EnvoyerGras:visited {
		display: none;
	}
	.EnvoyerGras:hover {
		display: none;
	}
	.EnvoyerGras:active {
		display: none;
	}
	.divListePanier
	{
		width:468px;
		border-width:0pt;
		border-style:solid;
		/*overflow:auto;*/
	}
	a.POAlienSiteActualite {
		display: none;
	}
	a.POAlienSiteActualite:link {
		display: none;
	}
	a.POAlienSiteActualite:visited {
		display: none;
	}
	a.POAlienSiteActualite:hover {
		display: none;
	}
	a.POAlienSiteActualite:active {
		display: none;	
	}
	.imgPanier
	{
		display: none;
	}







a.site:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #9b9b9b;
	text-decoration: none
}
a.site:visited {
    font-size: 9px;
	color: #9b9b9b;
	text-decoration: none
}
a.site:hover {
    font-size: 9px; 
	color: #9b9b9b;
	text-decoration: underline
}
a.site:active {
    font-size: 9px;
	color: #9b9b9b;
	text-decoration: none
}

#fichte2
{
	width:468px;
	margin:4px;
	padding:4px;
	border-width:1px;
	border-style:solid;
	border-color: #e75097;
}
a.txt_bold_rose {
	display: none;
	}


/* test pour afficher les liens mais ne fonctionne pas */
a:link:after, a.site:visited:after {
    content: " (" attr(href) ") ";
		font-size: 90%;
}
a.site[href]:after { content: ” (” attr(href) “)”; }
#content a[href]:after { content: ” (” attr(href) “)”; }
	
}



 

 

