/* CSS document */
/* http://www.ccip.fr/styles/ccip.css, 16/03/2009 */

a.agenda:link,a.agenda:visited,a.agenda:active { 
	text-decoration: underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight:normal;
	color:#333333;
	background-repeat : no-repeat;
	background-position : left;
	margin-left:0px;
	padding-left:0px;
}
a.agenda:hover {
	text-decoration: underline overline;
	font-family: Verdana, sans-serif;
	font-size: x-small;
	font-weight:normal;
	color:#333333;
	background-repeat : no-repeat;
	background-position : left;
	margin-left:0px;
	padding-left:0px;
}

a.bandeau_haut:link,a.bandeau_haut:visited,a.bandeau_haut:active{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#30568B;
	margin-left:8px;
	padding-left:15px;
	background-image:url('puce_haut2.gif');
	background-repeat : no-repeat;
	background-position : left;
}
a.bandeau_haut:hover{
	text-decoration:underline overline;
	font-family:Verdana, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#30568B;
	background-color:#B5C6EF;
	margin-left:8px;
	padding-left:15px;
	background-image:url('puce_haut2.gif');
	background-repeat : no-repeat;
	background-position : left;
}

a.bas_page:link,a.bas_page:visited,a.bas_page:active{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#8A899A;
}
a.bas_page:hover{
	text-decoration:underline overline;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#8A899A;
	font-weight:bold;
}

a.bas_page_corpo:link,a.bas_page_corpo:visited,a.bas_page_corpo:active{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#8A899A;
	font-weight:bold;
}
a.bas_page_corpo:hover{
	text-decoration:underline overline;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#8A899A;
	font-weight:bold;
}

a.cession_reprise:link,a.cession_reprise:visited,a.cession_reprise:active { 
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight:bold;
	color:#000000;
	background-image:url('fleche.gif');
	background-repeat : no-repeat;
	background-position : left;
	margin-left:0px;
	padding-left:20px;
}
a.cession_reprise:hover {
	text-decoration: underline;
	font-family: Verdana, sans-serif;
	font-size: x-small;
	font-weight:bold;
	color:#000000;
	background-image:url('fleche.gif');
	background-repeat : no-repeat;
	background-position : left;
	margin-left:0px;
	padding-left:20px;
}

a.cession_nx_courrier:link,a.cession_nx_courrier:visited,a.cession_nx_courrier:active{
	color:#E27906;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight:bold;
	text-decoration:none;
}
a.cession_nx_courrier:hover{
	color:#E27906;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight:bold;
	text-decoration:underline;
}

a.home_corpo:link,a.home_corpo:visited,a.home_corpo:active{
	background-image:url('fleche_lien_bas.gif');
	background-repeat : no-repeat;
	background-position : left;
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#385984;
	font-weight:bold;
	padding-left:12px;
}
a.home_corpo:hover{
	background-image:url('fleche_lien_bas.gif');
	background-repeat : no-repeat;
	background-position : left;
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#606C9D;
	font-weight:bold;
	background-color:#B5C6EF;
	padding-left:12px;
}

a.lien_home:link,a.lien_home:visited,a.lien_home:active{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#FF9900;
	font-weight:bold;
}
a.lien_home:hover{
	text-decoration:underline overline;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#FF9900;
	font-weight:bold;
}

a.lien_home2:link,a.lien_home2:visited,a.lien_home2:active{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#F09307;
}
a.lien_home2:hover{
	text-decoration:underline overline;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#F09307;
}

a.lien_recherche:link,a.lien_recherche:visited,a.lien_recherche:active{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	font-weight:bold;
	color:#30568B;
}
a.lien_recherche:hover{
	text-decoration:underline overline;
	font-family:Verdana, sans-serif;
	font-size:small;
	font-weight:bold;
	color:#30568B;
}

a.lien_titre2:link,a.lien_titre2:visited,a.lien_titre2:active{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#30568B;
	font-weight:bold;
}

a.lien_titre2:hover{
	text-decoration:underline overline;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#30568B;
	font-weight:bold;
	background-color:#B5C6EF;
}

a.lien_titre3:link,a.lien_titre3:visited,a.lien_titre3:active{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#FF9900;
	font-weight:bold;
}

a.lien_titre3:hover{
	text-decoration:underline overline;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#FF9900;
	font-weight:bold;
}

a.menu_corpo:link,a.menu_corpo:visited,a.menu_corpo:active{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	font-weight:bold;
	color:#4E546B;
}

a.menu_corpo:hover{
	text-decoration:none;
 	font-family:Verdana, sans-serif;
 	font-size:x-small;
 	font-weight:bold;
 	color:#4E546B;
 	background-color:#B5C6EF;
}

a.menu_home:link,a.menu_home:visited,a.menu_home:active{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	font-weight:bold;
}
a.menu_home:hover{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:11px;
	color:#1E5CA5;
	font-weight:bold;
}

a.menu_home_corpo:link,a.menu_home_corpo:visited,a.menu_home_corpo:active{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:10px;
	color:#FFFFFF;
	font-weight:bold;
}
a.menu_home_corpo:hover{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:10px;
	color:#BCD8F9;
	font-weight:bold;
}

a.menu_services:link,a.menu_services:visited{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#333333;
	font-weight:bold;
}
a.menu_services:hover{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#333333;
	font-weight:bold;
	background-color:#B5C6E5;
}
a.menu_services:active{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#003184;
	font-weight:bold;
}

a.mirroir:link,a.mirroir:visited,a.mirroir:active{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	font-weight:bold;
	color:#4E546B;
	padding-left:10px;
	background-image:url('puce_mirroir.gif');
	background-repeat : no-repeat;
	background-position : left top;
}
a.mirroir:hover{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	font-weight:bold;
	color:#4E546B;
	background-color:#B5C6EF;
	padding-left:10px;
	background-image:url('puce_mirroir.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

a.nx_courrier:link,a.nx_courrier:visited,a.nx_courrier:active{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:xx-small;
	font-weight:bold;
	line-height:1.7em;
	color:#C01602;
}
a.nx_courrier:hover{
	text-decoration:underline overline;
	font-family:Verdana, sans-serif;
	font-size:xx-small;
	font-weight:bold;
	line-height:1.7em;
	color:#C01602;
}

a.pages_recherche:link,a.pages_recherche:visited{
	text-decoration:none;
}
a.pages_recherche:hover,a.pages_recherche:active{
	text-decoration:underline;
	color:#726A6A;
}

a.poucet:link,a.poucet:visited,a.poucet:active { 
	text-decoration: underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: normal;
	color:#333333;
	margin-left:0px;
	padding-left:0px;
}
a.poucet:hover {
	text-decoration: underline overline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: normal;
	color:#333333;
	margin-left:0px;
	padding-left:0px;
}

a.retour:link,a.retour:visited,a.retour:active{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size: xx-small;
	color:#000000;
	font-weight:normal;
	background-color:#E4E4E4;
	margin-left:36px;
	padding-bottom:3px;
	padding-top:3px;
	padding-right:30px;
	padding-left:30px;
	background-image:url('fleche_retour.gif');
	background-repeat : no-repeat;
	background-position : right;
}
a.retour:hover{
	text-decoration:underline;
	font-family:Verdana, sans-serif;
	font-size:xx-small;
	color:#000000;
	font-weight:normal;
	background-color:#E4E4E4;
	margin-left:36px;
	padding-bottom:3px;
	padding-top:3px;
	padding-right:30px;
	padding-left:30px;
	background-image:url('fleche_retour.gif');
	background-repeat : no-repeat;
	background-position : left;
}

a.suite:link,a.suite:visited,a.suite:active{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:xx-small;
	color:#000000;
	font-weight:normal;
	background-color:#E4E4E4;
	margin-left:36px;
	padding-bottom:3px;
	padding-top:3px;
	padding-right:30px;
	padding-left:30px;
	background-image:url('fleche_suite.gif');
	background-repeat : no-repeat;
	background-position : left;
}
a.suite:hover{
	text-decoration:underline;
	font-family:Verdana, sans-serif;
	font-size:xx-small;
	color:#000000;
	font-weight:normal;
	background-color:#E4E4E4;
	margin-left:36px;
	padding-bottom:3px;
	padding-top:3px;
	padding-right:30px;
	padding-left:30px;
	background-image:url('fleche_suite.gif');
	background-repeat : no-repeat;
	background-position : right;
}

a.texte:link,a.texte:visited,a.texte:active{
	text-decoration:underline;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#30568B;
}
a.texte:hover{
	text-decoration:underline overline;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#30568B;
	background-color:#B5C6EF;
}

a.titrezoom:link,a.titrezoom:visited,a.titrezoom:active { 
	text-decoration: underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight:bold;
	color:#333333;
	background-repeat : no-repeat;
	background-position : left;
	margin-left:0px;
	padding-left:0px;
}
a.titrezoom:hover {
	text-decoration: underline overline;
	font-family: Verdana, sans-serif;
	font-size: x-small;
	font-weight:bold;
	color:#333333;
	background-repeat : no-repeat;
	background-position : left;
	margin-left:0px;
	padding-left:0px;
}

a.voir:link,a.voir:visited,a.voir:active{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#6F78A0;
}
a.voir:hover{
	text-decoration:underline overline;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#6F78A0;
	background-color:#B5C6EF;
}

body{
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	background-color: #D9D9D9;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#666666',EndColorStr='#D9D9D9');
}

div.calque{
	position:absolute;
	width:318px;
	visibility:hidden;
	margin-left:150px;
	top:273px;
}

div.calque2{
	position:absolute;
	width:318px;
	visibility:hidden;
	margin-left:-300px;
	margin-top:40px;
}

div.calque3{
	position:absolute;
	width:318px;
	visibility:hidden;
	margin-left:180px;
	margin-top:-50px;
	z-index:100;
}

div.logo_unique{	/* Pour placer texte et image du logo du numero unique CCIP */
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	margin-left:10px;
	margin-top:0px;
	padding-top:6px;
	width:333px;
	height:20px;
}

div.menu_off{
	z-index:2;
	margin-top:0px;
	margin-bottom:10px;
	padding-top:0px;
	padding-bottom:0px;
	display:none;
	width:176px;
}

div.menu_on{
	z-index:2;
	margin-top:0px;
	margin-bottom:10px;
	padding-top:0px;
	padding-bottom:0px;
	display:block;
	width:176px;
}

div.mirroir_off{
	z-index:2;
	position:absolute;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	display:none;
	vertical-align:top;
	text-align:center;
	width:144px;
	background-image:url('fond_mirroir.gif');
	background-repeat : no-repeat;
	background-position:bottom;
}

div.mirroir_on{
	position:absolute;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	display:block;
	vertical-align:top;
	text-align:center;
	width:144px;	
	height:37px;
	background-image:url('voir.gif');
}

div.nx_courrier{
	margin-left:32px;
}

div.recherche1{
	margin-left:15px;
	padding-left:15px;
	margin-bottom:20px;
	width:360px;
	background-image:url('puce_niveau2.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

div.skyscrapper{
	z-index:1;
	position:absolute;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	display:block;
	vertical-align:top;
	text-align:center;
	width:144px;
	margin-top:50px;	
}

div.zone_bas_home{
	height:100px;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#333333;
	margin-left:8px;
	margin-right:5px;
	text-align: left;
}

form{
	margin-bottom:0px;
	margin-top:0px;
	margin-right:0px;
	margin-left:0px;
}

/* Optimisation referencement */
#fil_ariane{
	margin-bottom:0px;
	margin-top:3px;
	margin-right:0px;
	margin-left:0px;
	font-weight:normal;
	width:auto;
}
#fil_ariane.chemin_acces{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#333333;
	margin-top:3px;
	margin-right:0px;
	margin-left:5px;
	margin-bottom:0px;
	padding-left:15px;
	background-image:url('puce_chemin_acces.gif');
	background-repeat : no-repeat;
	background-position : left top;
	width:auto;
}

h1{							
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#03177A;
	font-weight:bold;
	margin-bottom:10px;
	margin-top:0px;
	margin-right:0px;
	margin-left:10px;
}

h1.date_evenements{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#CC6600;
	font-weight:normal;
	margin-bottom:0px;
	margin-top:0px;
	margin-right:0px;
	margin-left:15px;
	padding-left:20px;
	background-image:url('puce_niveau2.gif');
	background-repeat : no-repeat;
	background-position : left;
}

h1.evenements{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#CC6600;
	font-weight:bold;
	margin-bottom:0px;
	margin-top:0px;
	margin-right:0px;
	margin-left:36px;
}

h1.parcours{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#03177A;
	font-weight:bold;
	margin-bottom:0px;
	margin-top:0px;
	margin-right:0px;
	margin-left:10px;
	padding-left:40px;
	padding-bottom:12px;
	padding-top:12px;
	background-image:url('picto_parcours.gif');
	background-repeat : no-repeat;
	background-position : left;
}

h2{
	text-decoration:none;
	font-family:Verdana,sans-serif;
	font-size: small;
	color: #000000;
	font-weight: bold;
}

h2.titre2{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:10px;
	color:#000000;
	font-weight:bold;
	margin-bottom:10px;
	margin-top:0px;
	margin-right:0px;
	margin-left:15px;
	padding-left:20px;
	background-image:url('puce_niveau2.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

h3.titre{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#FF9900;
	font-weight:bold;
	margin-bottom:10px;
	margin-top:0px;
	margin-right:0px;
	margin-left:20px;
	padding-left:10px;
	background-image:url('puce_h4.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

h3.parcours{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#FF9900;
	font-weight:bold;
	margin-bottom:10px;
	margin-top:0px;
	margin-right:0px;
	margin-left:50px;
}

a.home_corpo3:link,a.home_corpo3:visited,a.home_corpo3:active{ /* Corpo home */
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	margin-left:20px;
	margin-right:10px;
	color:#385984;
	font-weight:bold;
}

a.home_corpo3:hover{		/* Corpo home */
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	margin-left:20px;
	margin-right:10px;
	color:#606C9D;
	font-weight:bold;
	background-color:#B5C6EF;
}

div.largeur218{				/* Corpo home */
	width:218px;
	margin-left:auto;
	margin-right:auto;
}

p{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	margin-left:25px;
	color:#333333;
}

/* Communiques de presse */
p.cp_date{					
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:0.7em;
	font-style:italic;
	font-weight:bold;
	color:#FF9900;
	width:398px;
	margin-left:25px;
	margin-top:0px;
	margin-bottom:20px;
}

p.cp_texte{					
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#333333;
	width:398px;
	margin-left:25px;
	margin-top:0px;
	margin-bottom:20px;
}

a.note:link,a.note:visited,a.note:active{
	text-decoration:underline;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#30568B;
}
a.note:hover{
	text-decoration:underline overline;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#30568B;
	background-color:#B5C6EF;
}

cite {					
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#333333;
	font-style:italic;
}

acronym{
	border-bottom-style:dotted;
	border-bottom-width:thin;
	border-bottom-color:#bbbbbb;
}

div.encadre{
	border:#FF6633 2px solid;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	width:auto; /* 350px; */
	margin-left:25px;
}
div.encadre p.cp_texte, div.encadre ul{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#333333;
	margin-left:0px;
	margin-top:0px;
	margin-bottom:0px;
	font-weight:normal;
	background-image:none;
	width:auto;
}
div.encadre ul li{margin-left:15px;}

hr.cp{
	margin-left:25px;
	width:300px;
	text-align:left;
}
/* Fin CommuniquÃ©s de presse */

/* optimisation page d'accueil */
h1.accueil{
	text-decoration:none;
	margin-bottom:0px;
	margin-top:0px;
	margin-right:0px;
	margin-left:0px;
}

h2.accueil_service, h2.accueil_profil, h2.accueil_ccip{	/* page d'accueil */
	margin-right:0px;
	margin-bottom:0px;
	text-decoration:none;
	background-image:none;
	padding-left:0px;
}
h2.accueil_service{margin-top:15px;	margin-left:10px;}
h2.accueil_profil{margin-top:5px; margin-left:3px;}
h2.accueil_ccip{margin-top:0px;	margin-left:0px;}
h2.lactugp, h3.lactugp {margin:0; padding:0;}
h2.parcours{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#FF9900;
	font-weight:bold;
	margin-bottom:10px;
	margin-top:0px;
	margin-right:0px;
	margin-left:15px;
	background-image:none;
}

li h2.texte{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#333333;
	width:368px;
	margin-left:-20px;
	margin-top:0px;
	margin-bottom:0px;
	font-weight:normal;
	background-image:none;
}

/* h3.archive : voir à  p.texte */
h3.profil{	/* pages Profil */
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#333333;
	width:373px;
	margin-left:0px;
	margin-top:0px;
	margin-bottom:5px;
	font-weight:normal;
	background-image:none;
}

h3.cp{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	font-weight:bold;
	color:#AC0000;
	width:398px;
	margin-left:25px;
	margin-top:0px;
	margin-bottom:0px;
}

div.liste_deroul_print{width:398px;}
div.liste_deroul_print p {width:373px;}

.sans{margin:0;}

p.titre_cap{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#FF9900;
	font-weight:bold;
	font-variant:small-caps;
	margin-bottom:0px;
	margin-top:0px;
	margin-right:0px;
	margin-left:10px;
	padding-left:45px;
	padding-bottom:12px;
	padding-top:12px;
	background-image:url('picto_parcours.gif');
	background-repeat : no-repeat;
	background-position : left;
}

li.texte h2.texte, li.texte h3.texte, li.texte h4.texte, li.texte h5.texte{
	margin-top:0px;
	margin-left:0px;
	width:350px;
	color:#333333;
}
li.texte > li.texte h2.texte{width:350px;}
li.texte > li.texte h3.texte{width:300px;}
li.texte > li.texte h4.texte{width:250px;}
li.texte > li.texte h5.texte{width:200px;}

.largeur398{width:398px;}

/* h4.cp, h5.cp, h4.texte, h5.texte : voir p.texte */
/* Fin optimisation rÃ©fÃ©rencement */


h2.pme-pmi{
	text-decoration:none;
	font-family:Arial, Verdana, sans-serif;
	font-size:10pt;
	color:#000099;
	font-weight:bold;
	margin-bottom:10px;
	margin-top:0px;
	margin-right:0px;
	margin-left:25px;
	padding-left:25px;
	background-color:#ff9900;
	background-image:url('fleche_jaune.gif');
	background-repeat : no-repeat;
	background-position : left top;
	height:18px;
	width:150px;
	padding-top: 2px;
}

h2.commercant{
	text-decoration:none;
	font-family:Arial, Verdana, sans-serif;
	font-size:10pt;
	color:#ffffff;
	font-weight:bold;
	margin-bottom:10px;
	margin-top:0px;
	margin-right:0px;
	margin-left:25px;
	padding-left:25px;
	background-color:#a62b4d;
	background-image:url('fleche_rouge.gif');
	background-repeat : no-repeat;
	background-position : left top;
	height:18px;
	width:150px;
	padding-top: 2px;
}

h3.pme-pmi{
	text-decoration:none;
	font-family:Arial, Verdana, sans-serif;
	font-size:10pt;
	color:#000099;
	font-weight:bold;
	margin-bottom:10px;
	margin-top:0px;
	margin-right:0px;
	margin-left:63px;
	padding-left:5px;
	background-color:#ff9900;
	background-image:none;
	height:18px;
	width:140px;
	padding-top: 2px;
}

h3.commercant{
	text-decoration:none;
	font-family:Arial, Verdana, sans-serif;
	font-size:10pt;
	color:#ffffff;
	font-weight:bold;
	margin-bottom:10px;
	margin-top:0px;
	margin-right:0px;
	margin-left:63px;
	padding-left:5px;
	background-color:#a62b4d;
	background-image:none;
	height:18px;
	width:140px;
	padding-top: 2px;
}

h4.pme-pmi,h4.commercant{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#333333;
	width:360px;
	margin-left:63px;
	margin-top:0px;
	margin-bottom:0px;
}

img{
	border-width:0px;
}

img.aligne{
	border-style:solid;
	border-width:1px;
	border-color:#333333;
	padding:1px;
	margin:5px 10px 5px 25px;
	float:left;
}

img.chemin_acces{
	vertical-align:middle;
	border-width:0px;
}

img.cpdp {
	vertical-align:text-top;
	padding-top:1px;
}

img.img_home{margin-bottom:10px;}

img.imprimer{
	vertical-align:middle;
	border-width:0px;
}

img.logo_unique{	/* Pour placer le logo du numero unique CCIP dans la balise div.logo_unique */
	float:right;
	margin-top:-19px;
	border-width:0px;
}

img.menu1{
	margin-top:15px;
	border-width:0px;
}

img.menu2{
	margin-bottom:5px;
	border-width:0px;
}

img.menu3{
	margin-bottom:10px;
	border-width:0px;
}

img.pdf{
	vertical-align:middle;
	border-width:0px;
	margin-top:2px;
	margin-right:5px;
}

img.puce{
	vertical-align:middle;
	border-width:0px;
}

img.text{
	border-style:solid;
	border-width:1px;
	border-color:#333333;
	padding:1px;
	margin:5px;
}

input.recherche{
	font-family:verdana, sans-serif;
	font-size:xx-small;
	font-weight:bold;
	color:#003184;
	border:1px #003184 solid;
	background-color:#FFFFFF;
	margin-left:5px;
	width:90px;
	
}

input.recherche2{
	font-family:verdana, sans-serif;
	font-size:xx-small;
	color:#003184;
	border-color:#FFFFFF;
	background-color:#FFFFFF;
}

input.recherche3{
	font-family:verdana, sans-serif;
	font-size:xx-small;
	color:#003184;
	border-color:#FFFFFF;
	background-color:#FFFFFF;
}

input.submit_avispub{
	font-family:verdana, sans-serif;
	font-size:x-small;
	font-weight:bold;
	color:#003184;
	border:1px;
	border-color:#000000;
	background-color:#FFFFFF;
}

input.submit_recherche{
	font-family:verdana, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#003184;
	border:0px;
	border-color:#000000;
	background-color:#FFFFFF;
}

input.submit_recherche2{
	font-family:verdana, sans-serif;
	font-size:small;
	font-weight:bold;
	color:#FFFFFF;
	border:0px;
	border-color:#FFA012;
	background-color:#FFA012;
	padding-left:10px;
	padding-top:3px;
	background-image:url('fleche_recherche.gif');
	background-repeat : no-repeat;
	background-position : left;
}

label.marches{font-weight:bold; color:#FF9900;}

option.texte_option{color:#333333;}

option.rubrique_option{color:#333333; background-color:#B3C4E8;}

p.calque{
	padding-left:28px;
	padding-right:5px;
	margin-top:5px;
	margin-left:2px;
	margin-bottom:0px;
}

p.chapo{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:0.75em;
	line-height:1.4em;
	font-weight:bold;
	color:#666666;
	width:373px;
	margin-left:15px;
	margin-top:0px;
	margin-bottom:0px;
}

p.chapo_recherche{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:0.75em;
	line-height:1.4em;
	font-weight:bold;
	color:#333333;
	width:367px;
	margin-left:15px;
	margin-top:0px;
	margin-bottom:0px;
}

p.chemin_acces{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#333333;
	margin-left:5px;
	margin-bottom:0px;
	margin-top:3px;
	padding-left:15px;
	background-image:url('puce_chemin_acces.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

p.home{
	margin-left:10px;
	margin-right:0px;
	margin-top:4px;
	margin-bottom:0px;
}

p.home1{
	margin-left:10px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
}

p.home_corpo, h3.home_corpo{
	padding-left:10px;
	margin-left:5px;
	margin-right:0px;
	margin-top:4px;
	margin-bottom:0px;
	background-image:url('puce_corpo.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

p.home1_corpo{
	padding-left:10px;
	margin-left:10px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	background-image:url('puce_corpo.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

p.home_corpo1{
	margin-left:10px;
	margin-right:10px;
	margin-top:4px;
	margin-bottom:0px;
}

p.home_evenementielle{
	margin-top:0px;
	margin-bottom:10px;
}

p.home_evenementielle2{
	margin-top:0px;
	margin-bottom:5px;
}

p.home_services{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	font-weight:bold;
	color:#333333;
	width:353px;
	margin-left:10px;
	margin-right:0px;
	margin-top:20px;
	margin-bottom:0px;
}

p.home_services1, h3.home_services1{
	padding-left:10px;
	margin-left:0px;
	margin-right:0px;
	margin-top:4px;
	margin-bottom:0px;
	background-image:url('http://www.ccip.fr/images/home/puce_services.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

p.home1_services1, h3.home1_services1{
	padding-left:10px;
	margin-left:10px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	background-image:url('puce_parcours.gif');
	background-repeat : no-repeat;
	background-position : left;
}

p.logo_unique{	/* Pour le texte du logo du numero unique CCIP */
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;

}

p.marches{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#333333;
	width:403px;
	margin-left:20px;
	margin-top:0px;
	margin-bottom:0px;
}

p.menu1{
	width:160px;
	padding-left:15px;
	margin-top:20px;
	margin-left:2px;
	margin-bottom:0px;
	background-image:url('puce1.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

p.menu1a{
	width:160px;
	padding-left:15px;
	margin-top:20px;
	margin-left:2px;
	margin-bottom:0px;
	background-image:url('puce1a.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

p.menu2{
	width:160px;
	padding-left:15px;
	margin-top:5px;
	margin-left:2px;
	margin-bottom:0px;
	background-image:url('puce2.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

p.menu3{
	width:160px;
	padding-left:15px;
	margin-top:5px;
	margin-left:2px;
	margin-bottom:0px;
	background-image:url('puce3.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

p.menu4{
	width:160px;
	padding-left:15px;
	margin-top:5px;
	margin-left:2px;
	margin-bottom:0px;
	background-image:url('puce4.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

p.menu5{
	width:160px;
	padding-left:15px;
	margin-top:5px;
	margin-left:2px;
	margin-bottom:0px;
	background-image:url('puce5.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

p.menu6{
	width:160px;
	padding-left:15px;
	margin-top:5px;
	margin-left:2px;
	margin-bottom:0px;
	background-image:url('puce6.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

/* Ajout pour l'entree 'Apprentissage' dans la zone offre de services */
p.menu8{
	width:160px;
	padding-left:15px;
	margin-top:5px;
	margin-left:2px;
	margin-bottom:0px;
	background-image:url('puce8.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

p.menu1_home, h3.menu1_home{	/* optimisation page accueil pour referencement */
	padding-left:15px;
	margin-top:10px;
	margin-left:15px;
	margin-bottom:0px;
	background-image:url('puce1.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

p.menu1a_home, h3.menu1a_home{	/* optimisation page accueil pour referencement */
	padding-left:15px;
	margin-top:10px;
	margin-left:15px;
	margin-bottom:0px;
	background-image:url('puce1a.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

p.menu2_home, h3.menu2_home{
	padding-left:15px;
	margin-top:10px;
	margin-left:15px;
	margin-bottom:0px;
	background-image:url('puce2.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

p.menu3_home, h3.menu3_home{
	padding-left:15px;
	margin-top:10px;
	margin-left:15px;
	margin-bottom:0px;
	background-image:url('puce3.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

p.menu4_home, h3.menu4_home{
	padding-left:15px;
	margin-top:10px;
	margin-left:15px;
	margin-bottom:0px;
	background-image:url('puce4.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

p.menu5_home, h3.menu5_home{
	padding-left:15px;
	margin-top:10px;
	margin-left:15px;
	margin-bottom:0px;
	background-image:url('puce5.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

p.menu6_home, h3.menu6_home{
	padding-left:15px;
	margin-top:10px;
	margin-left:15px;
	margin-bottom:0px;
	background-image:url('puce6.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

/* Ajout fin novembre 2006 pour l'entree 'Apprentissage' */
p.menu8_home, h3.menu8_home{
	padding-left:15px;
	margin-top:10px;
	margin-left:15px;
	margin-bottom:0px;
	background-image:url('puce8.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

p.menu_corpo{
	font-family:Verdana, sans-serif;
	font-size: small;
	text-align:left;
	padding-left:10px;
	margin-top:0px;
	margin-left:5px;
	margin-bottom:4px;
	background-image:url('puce_menu.gif');
	background-repeat : no-repeat;
	background-position : left top;
}

p.mirroir{
	font-family:Verdana, sans-serif;
	font-size:x-small;
	font-weight:bold;
	color:#333333;
	text-align:left;
	width:125px;
	margin-left: 10px;
	margin-top:auto;
	margin-bottom:auto;
}

p.nx_courrier{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:xx-small;
	font-weight:bold;
	color:#333333;
	margin-left:10px;
	margin-top:0px;
	margin-bottom:0px;
	width:166px;
}

p.parcours{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:xx-small;
	font-weight:bold;
	color:#333333;
	width:350px;
	margin-left:50px;
	margin-top:0px;
	margin-bottom:0px;
}

p.recherche1a{
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
	width:340px;
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#333333;
}

p.recherche1b{
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
	width:340px;
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#333333;
	background-color:#FBCF65;
}

p.rechercher_services{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#000000;
	font-weight:bold;
	margin-left:15px;
	margin-bottom:0px;
	margin-top:0px;
}

p.select{
	margin-left:5px;
	margin-bottom:0px;
	margin-top:0px;
}

p.texte, h2.texte, h3.archive, h4.cp, h5.cp, h3.texte, h4.texte, h5.texte{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#333333;
	width:373px;
	margin-left:25px;
	margin-top:0px;
	margin-bottom:0px;
	font-weight:normal;
	background-image:none;
}

p.texte_cession_reprise{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#333333;
	width:360px;
	margin-left:63px;
	margin-top:0px;
	margin-bottom:0px;
}

p.texte_evenements{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#333333;
	width:387px;
	margin-left:36px;
	margin-top:0px;
	margin-bottom:18px;
}

p.texte_parcours{
	margin-left:50px;
	margin-top:0px;
	margin-bottom:0px;
}

p.texte_presentation_services{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#333333;
	width:387px;
	margin-left:36px;
	margin-top:0px;
	margin-bottom:0px;
}

select.sites{
	font-family:arial, sans-serif;
	font-size:x-small;
}
	
select.newsletters{
	font-size: x-small;
	width:200px;
	margin-bottom:12px;
	margin-left: 25px;
}

table.calque{
	width:318px;
	padding:0 0 0 0;
}

table.home{
	width:765px;
	padding:0 0 0 0;
}

table.template{
	background-color:#FFFFFF;
	width:765px;
	padding:0 0 0 0;
	margin-left: auto;
	margin-right: auto;
}

table.mirroir{
	background-color:#FFFFFF;
	width:144px;
	padding:0px;
}

td.actualite_home{
	width:260px;
	background-color:#FFFFFF;
	padding-left: 13px;
	padding-top: 5px;
	vertical-align:top;
	background-image:url('fond_actualites.gif');
	background-position : right;
}

td.agenda_home{
	width:252px;
	background-color:#FFFFFF;
	padding-left: 13px;
	padding-top: 5px;
	vertical-align:top;
}

td.bas_home{
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#8A899A;
	font-weight:bold;
	padding-top:3px;
	padding-bottom:3px;
	background-color:#FFFFFF;
	text-align:center;
}

td.bas_page{
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#8A899A;
	font-weight:bold;
	text-align:center;
	height:30px;
	background-image:url('fond_bas.gif');
	background-position : top;
	background-repeat : repeat;
	padding:0 0 0 0;
}

td.bas_page2{
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#8A899A;
	font-weight:bold;
	text-align:right;
	vertical-align:top;
	height:25px;
	padding:0 0 0 0;
}

td.calque{
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#003184;
	background-image:url('fond_calque.gif');
	background-position : bottom;
	background-repeat : no-repeat;
}

td.contact_beige {
	background-color: #FEF1D5; 
	background-position: top;
	vertical-align: top; 
	border: 1px #FFCC00 solid; 
	padding:5px 5px;
	text-decoration: none;
	font-family:Verdana, Arial, sans-serif;
	font-size:small;
	color:#333333;
	font-weight:bold;
}

td.contact_ivoire {
	background-color: #FFFFF0; 
	background-position: top; 
	vertical-align: top; 
	border: 1px #FFCC00 solid; 
	padding:5px 5px;
	text-decoration: none;
	font-family:Verdana, Arial, sans-serif;
	font-size:small;
	color:#333333;
}

td.contact_blanc {
	background-color: #FFFFFF; 
	background-position: top; 
	vertical-align: top; 
	border: 1px #FFCC00 solid; 
	padding:5px 5px;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:small;
	color:#333333;
}

td.contenu{
	width:423px;
	vertical-align:top;
	padding:0 0 0 0;
}

td.contenu_rech{
	width:567px;
	vertical-align:top;
	padding:0 0 0 0;
}

td.departements{
	width:255px;
	background-color:#FFFFFF;
	padding: 0 0 0 0; 
	vertical-align:top;
	background-image:url('fond_corpo_home.gif');
	background-position : right;
}

td.etudes{
	width:239px;
	background-color:#FFFFFF;
	padding: 0 0 0 0;
	vertical-align:top;
	background-image:url('fond_corpo_home.gif');
	background-position : right;
}

td.flashez{
	width:271px;
	background-color:#FFFFFF;
	padding: 0 0 0 0;
	vertical-align:top;
}

td.home_corpo{
	width:205px;
	height:295px;
	background-color:#0D3388;
	background-image:url('fond_corpo.gif');
	background-repeat : no-repeat;
	background-position : top;
	padding:0 0 0 0;
	vertical-align:top;
}


td.home_parcours{
	width:197px;
	height:295px;
	background-color:#F9B613;
	padding:0 0 0 0;
	vertical-align:top;
}

td.home_service{
	width:363px;
	height:295px;
	background-color:#FFA012;
	padding:0 0 0 0;
	vertical-align:top;
}

td.menu_gauche{
	vertical-align:top;
	width:198px;
	background-image:url('fond_menu_gauche.gif');
	background-repeat : no-repeat;
	background-position : bottom;
	padding:0px;
}

td.mirroir{
	vertical-align:top;
	text-align:left;
	width:144px;
	padding:0 0 0 0;
}

td.nopadding{
	padding:0 0 0 0;
}

td.nx_courrier_home{
	width:252px;
	background-color:#FFFFFF;
	padding-left: 13px;
	padding-right: 0px;
	padding-top: 5px;
	vertical-align:top;
}

td.produits_associes{
	width:177px;
	vertical-align:top;
	padding:0 0 0 0;
}

td.recherche{
	width:423px;
	vertical-align:top;
	padding:0 0 0 0;
	background-image:url('fond_recherche.gif');
	background-repeat : repeat;
	background-position : right;
}

td.webzine{
	padding:0px 0px 0px 0px;
	width:567px;
}

td.zoom_home{
	width:249px;
	background-color:#FFFFFF;
	padding-left: 13px;
	padding-right: 13px;
	padding-top: 5px;
	vertical-align:top;
	background-image:url('fond_zoom.gif');
	background-position : right;
}

textarea.recherche{
	font-family:verdana, sans-serif;
	font-size:xx-small;
	color:#003184;
	border-color:#FFFFFF;
	background-color:#FFFFFF;
	margin-left:20px;
}

tr.bande_grise{
	height:13px;
	background-image:url('bande_grise.gif');
}

tr.bande_grise_corpo1{
	height:9px;
	background-color:#DBDBDB;
}

tr.bande_grise_corpo2{
	height:4px;
	background-color:#C2BDBD;
}

tr.bandeau_flash{
	height:78px;
	text-align:right;
}

tr.bandeau_univers{
	height:115px;
}

tr.bandeau_home{
	height:295px;
}

tr.barre_corpo{
	height:19px;
	background-image:url('barre_corpo.gif');
}

tr.barre_corpo2{
	height:12px;
	background-image:url('barre_corpo2.gif');
}

tr.bas_page{
	height:30px;
}

tr.menu_haut{
	height:50px;
	text-align:center;
}

tr.menu_home_corpo{
	height:17px;
}

tr.pointilles{
	height:3px;
	background-image:url('pointilles.gif');
}

tr.pub{
	height:42px;
	text-align:right;
}

ul{
	margin-top:0px;
	margin-bottom:0px;
}

.adroite{
	text-align:right;
}

.agauche{
	text-align:left;
}

.aucentre{
	text-align:center;
}

.bandeau_haut{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	font-weight:bold;
	color:#30568B;
}

.chapo{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:0.75em;
	line-height:1.4em;
	font-weight:bold;
	color:#333333;
}

.clair{
	clear:both;
}

.graissage{
	font-weight:bold;
	font-size:small;
}

.italique{
	font-style:italic;
	font-size:small;
}

.margegauche5{
	margin-left:5px;
}

.margegauche10{
	margin-left:10px;
}

.margegauche15{
	margin-left:15px;
}

.margegauche20{
	margin-left:20px;
}

.margegauche80{
	margin-left:80px;
}

.moteur{
	margin-bottom:0px;
	margin-top:0px;
	margin-right:0px;
	margin-left:0px;
}

.pages_recherche{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#F9B613;
	font-weight:bold;
}

.rouge{
	color:#AC0000;
	font-weight:bold;
}

.rougesombre{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#990000;
}

.soulignement{
	text-decoration:underline;
}

.texte{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#333333;
	font-weight:normal;
}

.textejustif{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#333333;
	text-align:justify;
}

.texte2{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#333333;
}

.texte_evenements{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#333333;
	width:340px;
	margin-left:36px;
}

.texte_presentation_services{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#333333;
	width:360px;
	margin-left:36px;
}

.textezoom {
	font-family: Verdana, sans-serif;
	font-size: x-small;
	font-weight:normal;
	color:#333333;
	background-repeat : no-repeat;
	background-position : left;
	margin-left:0px;
	padding-left:0px;
}

.titre_recherche{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#000000;
	font-weight:bold;
}

.titre_home{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#333333;
	font-weight:bold;
	margin-left:25px;
}

.titre{
	font-family: Verdana, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	color: #FF6600;
	margin-left:25px;
}

.titre1{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#03177A;
	font-weight:bold;
	margin-left:10px;
}

.titre2{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#000000;
	font-weight:bold;
	margin-left:15px;
}

.titre3{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#FF9900;
	font-weight:bold;
	margin-left:20px;
}

.titre4{
	font-family: Verdana, sans-serif; 
	font-size: x-small; 
	font-weight: bold; 
	color: #D06401;
}

a.home_corpo2:link,a.home_corpo2:visited,a.home_corpo2:active{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	margin: 10px;
	/* margin-left:10px; */
	color:#385984;
	font-weight:bold;
}

a.home_corpo2:hover{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	margin: 10px;
	color:#606C9D;
	font-weight:bold;
	background-color:#B5C6EF;
}

/* Styles pour les pages Territem de ccip.fr : mÃ©tapage 107 et suivantes */
/* Fin des styles Territem */

/* Styles pour les pages optimisees de ccip.fr (referencement) */
.h { 	font-family: verdana, arial; 
	font-size: 10px; 
	font-weight:bold; 
	width:160px; 
	padding-left:15px; 
	margin-top:20px; 
	margin-left:2px; 
	margin-bottom:0px; 
} 

.h1 {	display:none;} 

.h a { 	color:#333333;
	text-decoration:none;
	font-weight:normal;
} 

.h a:hover { color:#333333; 
	text-decoration:none; 
	background-color:#B5C6E5; 
	font-weight:normal;
}
/* Fin des styles pour le referencement */

/* Styles pour les pages Fiches produits */
.tableau {
	margin-left:20px;
	width: 370px;
	border: 0;
	background-color:#FFFFFF;
}
.tableau p.soustitre{
	margin-left:10px;
	margin-top:0;
	margin-bottom:5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:x-small;
	color:#333333;
	font-weight:bold;
}
.tableau p{
	margin-top:0;
	margin-bottom:5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:x-small;
	color:#333333;
	font-weight:normal;
	margin-left: 20px;
	}
	
.tableau ul li, .tableau ol li {
	margin-left:3px 0 0 -15px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:x-small;
	color:#333333;
	font-weight:normal;
}

.tableau a.textetab:link,a.textetab:visited,a.textetab:active{
	text-decoration:underline;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#30568B;
	font-weight:bold;
}
.tableau a.textetab:hover{
	text-decoration:underline overline;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#30568B;
	background-color:#B5C6EF;
	font-weight:bold;
}
.tableau a.liste:link,a.liste:visited,a.liste:active{
	text-decoration:underline;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#30568B;
	font-weight:normal;
}
.tableau a.liste:hover{
	text-decoration:underline overline;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#30568B;
	background-color:#B5C6EF;
	font-weight:normal;
}

.tableau cite {					
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:1.25em;
	color:#333333;
	font-style:italic;
}

.tableau h2{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:x-small;
	color:#333333;
	margin:0 0 0 10px;
	padding:0;
}
.tableau h2.titre2{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#000000;
	font-weight:bold;
	margin-bottom:10px;
	margin-top:0px;
	margin-right:0px;
	margin-left:15px;
	padding-left:20px;
	background-image:url('puce_niveau2.gif');
	background-repeat : no-repeat;
	background-position : left top;
}
.tableau h3{
	margin-top:5px;
	margin-bottom:5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:x-small;
	color:#333333;
	font-weight:bold;
	margin-left:0;
}

.tableau h3.marge {
	margin-left:20px;
}

hr.barre{
	margin-left:0;
	width:100%;
}
/* Fin des styles pour les pages Fiches produits */
/* Styles pour le tableau Produits de la page d'accueil */
#produits{
	margin-left:30px;
	margin-bottom:10px;
	width:314px;
	border:0;
}
.texteproduits{
	font-family:Verdana, sans-serif;
	font-size:11px;
	color:#000000;
	font-weight:normal;
	margin-left:0;
	margin-bottom:5px;
}

.gamme_creation{
	width:125px;
	padding-left:15px;
	margin-top:20px;
	margin-left:2px;
	margin-bottom:0px;
	background-image:url('puce_creation.gif');
	background-repeat : no-repeat;
	background-position : left top;
	font-size:xx-small;
	font-weight:bold;
}

.gamme_formalites, .gamme_info_eco_jur, .gamme_formation_rh, .gamme_developpement_entreprise, .gamme_commerce, .gamme_innovation, .gamme_international, .gamme_environnement {
	width:125px;
	padding-left:15px;
	margin-top:10px;
	margin-left:2px;
	margin-bottom:0px;
	background-repeat : no-repeat;
	background-position : left top;
	font-size:xx-small;
	font-weight:bold;
}
.gamme_formalites {background-image:url('puce_formalites.gif');}
.gamme_info_eco_jur {background-image:url('puce_info_eco_jur.gif');}
.gamme_formation_rh {background-image:url('puce_formation_rh.gif');}
.gamme_developpement_entreprise {background-image:url('puce_developpement_entreprise.gif');}
.gamme_commerce {background-image:url('puce_commerce.gif');}
.gamme_innovation {background-image:url('puce_innovation.gif');}
.gamme_international {background-image:url('puce_international.gif');}
.gamme_environnement {background-image:url('puce_environnement.gif');}

p.fiche {
	width:125px;
	margin-left:15px;
	margin-top:5px;
	margin-bottom:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	font-size:xx-small;
	padding-left:0px;
}
a.fiche:link,a.fiche:visited,a.fiche:active {text-decoration:none; color:#333333;}
a.fiche:hover{text-decoration:underline; color:#333333;}

/* Fin des styles pour le tableau Produits de la page d'accueil */

/* Styles pour l'encadré de la page Grippe A H1N1 */
#encadre_grippe{
	width:136px;
	margin-left:0;
	margin-right:0px;
	margin-top:30px;
	background-color:#EDEDED;
	padding-left:3px;
	padding-top:5px;
	padding-bottom:5px;
	border:#FF9900 solid 1px;
}
#encadre_grippe p, #encadre_grippe label, #encadre_grippe input{	
	margin:5px;
	padding:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:x-small;
	color:#333333;
}
/* Fin des styles pour l'encadré de la page Grippe A H1N1 */

/* Page Chiffres-clés pop-up, 15/01/2010 */
table.tableau_couleur, td.tableau_couleur, td.fond_beige, td.chiffre, td.chiffre_gras, td.chiffre_gras_centre, td.titre_tab{
	border:#81f381 solid 1px;
	text-decoration:none;
	font-family:Verdana, Arial, sans-serif;
	font-size:small;
	color:#333333;
	margin:0 0 0 0;
	padding:5px 5px 5px 5px;
	font-weight:normal;
	background-image:none;
}
table.tableau_couleur{width:100%;}
table.general{width:100%; background-color:white; margin:0 0 0 0;}
#s70, #s70_2{width:70%}
td.fond_beige{
	font-weight:bold;
	background-color:#fef1d5;
}
td.chiffre{
	background-color:white;
	text-align:right;
}
td.chiffre_gras, td.chiffre_gras_centre{
	background-color:white;
	text-align:right;
	font-weight:bold;
}
td.chiffre_gras_centre{
	text-align:center;
}
td.titre_tab{
	text-align:center;
	font-weight:bold;
	background-color:#fef1d5;
}
/* Fin des styles pour la page Chiffres-clés pop-up */

/* style de lien pour balise h1, 19 janvier 2010 */
a.titre_page:link, a.titre_page:visited, a.titre_page:active, a.titre_page:hover{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:small;
	color:#03177A;
	font-weight:bold;
	margin:0 0 0 0;
}
a.titre_page:hover{text-decoration:none;}
/* fin style de lien pour balise h1 */

/* Textes en fin de page (réseaux sociaux), 9 février 2010 */
div.fin_page{width:100%;
	margin:10px 0 0 0;
	padding:0 0 0 0;
	text-align:center;
	margin-left:0;
}
div.fin_page p{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10pt;
	font-weight:bold;
	margin-left:0;
	color:#30568B;
}
div.fin_page img{vertical-align:bottom;}
div.fin_page a{font-weight:bold;}
/* Fin textes en fin de page */

/* Styles page-maquette Printemps de l'entreprise et du commerce */
h2.evt_printemps{
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	font-variant:small-caps;
	color:#cc3366;
	font-weight:bold;
	margin-top:18px;
	margin-left:20px;
	padding-left:0px;
}
a.evt_printemps:link,a.evt_printemps:visited,a.evt_printemps:active{
	text-decoration:underline;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#cc3366;
}
a.evt_printemps:hover{
	text-decoration:normal overline;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#cc3366;
	background-color:#ff99ff;
}
/* Fin des styles Printemps de l'entreprise et du commerce */
