table {border-collapse: collapse}
table td {border:1px solid gray; border-spacing:0; padding: 5px; text-align:left}

/*************** menu en table pour centrage vertical sur plusieurs lignes ****************/
#menu_espaces_dedies table {
	width: 1000px;
	height: 28px;
	font: normal 08pt Arial, Helvetica, sans-serif; 
	margin:0; padding:0;
	background: #380E45;
}
#menu_espaces_dedies table td {
	border-spacing: 0;
}

#menu_espaces_dedies table td.none {
	border: none;
}
/*#menu_espaces_dedies table td.pipe {
	margin:0; padding:0;
	border:none;
	color: #eacff3;
}
#menu_espaces_dedies table tr td.logo {
	width: 22px;
	height: 20px;
	margin:0; padding: 0;
	border:none;
}

#menu_espaces_dedies table div.spip_logos{
	width: 20px;
	margin:0; padding:0;
}

#menu_espaces_dedies table tr td.texte {
	padding: 0 0 0 0;
	height: 28px;
	line-height: 1em;
	vertical-align:middle;
}
#menu_espaces_dedies table td a {
	color: #eacff3;
	text-decoration: none;
	margin:0; padding:0;
}

#menu_espaces_dedies table td a:hover {
	color: #fff;
}
*/
#expositions_planches table{
	margin-left: 15px;
}
#expositions_planches table td{
	padding:0;
	border:none;
}
#expositions_planches table td a{
	text-decoration: none;
	font: bold 08pt Arial, Helvetica, sans-serif; 
}
#expositions_planches table td img{
	overflow: hidden;
}
#expositions_planches table td a:hover{
	text-decoration: underline;
}

/*.texte table {border: 1px solid #CCCCCC;}*/
.texte td {border: none;}

/******************** styles spip tableaux *************************/

table.spip {
	border: 1px solid #cccccc;
	border-collapse: collapse;
	margin: 10px 0;
	text-align: left;
	font-size: 08pt;
	overflow:hidden;
	/*width: 480px;*/
	background: #EFEDEF;
}

table.spip th {
	border: 1px solid #cccccc;
	padding: 3px;
	font-size: 08pt;
	font-variant:small-caps;
	font-weight: bold;
	background: #eacff3;
}
table.spip td a {
	color:#a53384;
	text-align: left;
}

table.spip td {
	border: 1px solid #cccccc;
	padding: 5px;
	text-align: left;
}

table.spip tr.row_odd{
	background: #EBE1EE;
}
