/* CSS document */
@import "sitemap.css";
@import "indexed_search.css";
@import "contact.css";
@import "style.css";

/* ELEMENT HTML */
html {
	margin: 0;
	padding: 0;
	height: 100%;
}
body{
	margin: 0; 
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Verdana;
	color: #001c56;
	background-color: white;
}
img, img a, a img{
	border: none;
}
a, a:visited, a.internal-link, a.internal-link:visited, li a, li a:visited, li a.internal-link, li a.internal-link:visited{
	text-decoration: none;
	color: #001c56;
}
a:hover, a.internal-link:hover, li a:hover, li a.internal-link:hover{
	text-decoration: none;
	background-color: #ffc21c;
	color: #001c56;
}
.form{
	padding: 0px;
	margin: 0px;
}

/* HEADER DE LA PAGE */
.header{
	width: 100%;
	height: 181px;
	margin: 0px;
	padding: 0px;
}
.header_logo{
	width: 292px;
	height: 148px;
	background: transparent url(header_logo_ccipap.gif) no-repeat top left;
}
.header_date{
	width: 292px;
	height: 32px;
}
.header_flash{
	width: 706px;
	height: 181px;
}
.menu_no_display{
	display: none;
}

/* CONTENU */
.whole_content{
	width: 100%;
	height:100%;
	/*margin:0;
	padding:0;	
	background:transparent url(../images/filet_footer_bas.jpg)  repeat-x bottom;*/
	/*background:transparent url(../images/filet_footer_bas.jpg)  repeat-x bottom;*/

}
.whole_content_table{
	width: 100%;
	margin-top:10px;
}

.texte_defilant {
color:#173664;
font-size:10px;
}
/*EDITO DE LA PAGE  D' ACCUEIL*/
#bloc_edito {
	width: 287px;
	height: 475px;
	background: url(fond_edito.png) no-repeat;
	margin:0px;
	float:left;
	overflow:hidden;
}
.content_edito {
	padding:60px 10px 10px 25px;
	color:#FFFFFF;
}
.content_edito  p{
	color:#FFFFFF;
	font-size:65%;
	text-align:justify;
}

.content_edito h1{	
	color:#E63A52;
	font-size:13px;	
	text-transform:uppercase;
}

/*EVENEMENTS*/
		
#bloc_evenements {
	margin-left:18px;
	margin-right:18px;
	float:left;
}
/*ACTUALITES*/
#bloc_actualites {	
	height: 302px;	
	/* border:1px solid; */
	/*float:left;*/
	/*width:100%;*/
}
.content_actu {
	padding:10px 0px 5px 5px;	
	color:#1C3365;
	width:100%;
	text-align:left;
}
.content_actu  p{	
	font-size:11px;
	text-align:justify;
	margin:0;
}
.content_actu table {
padding-left:5px;
}

.content_actu h1{	
	color:#1C3263;
	font-size:18px;	
	font-style:italic;
	padding:0;
	margin:2px 0px 0px 0px;
	font-weight:bold;
	text-decoration:underline;
}

.content_actu h2{	
	color:#D43C53;
	font-size:11px;	
	background:transparent;
	padding:0;
	height:auto;	
	margin:0;	
	font-weight:bold;	
}
.content_actu h3 p{	
	color:#1C3365;
	padding:0;
	margin:0;
	font-weight:normal;
	font-size:10px;	
}
.content_actu  .separateur{	
	width:437px;
	height:1px;	
	font-size:1px;
	background: url(separateur_h.png) repeat-x;
}
.content_actu  .lien_actualites{	
	color:#ED6C04;
	font-size:60%;
	padding:0;
	text-align:right;
}

.bloc_actualites_gauche {
	width: 39px;	
	height: 302px;
	background: url(fond_actu_gauche.png) no-repeat;
}
.bloc_actualites_droite {
	width: 26px;	
	height: 302px;
	background: url(fond_actu_droite.png) no-repeat;
}
.bloc_actualites_central {
	height: 302px;
	background: url(fond_actu_bande.png) repeat-x;
}
.bloc_actualites_central div{
	height: 302px;
	overflow:hidden;
}

/*AGENDA*/

#bloc_agenda {
	/*width:100%;*/
/*	width: 240px;
	height: 162px;
	margin-top:12px;	
	background: url(../images/fond_agenda.png) no-repeat;*/
	/* border:1px solid; */
}
	
	
.content_agenda {
	padding:5px 0px 5px 10px;	
	color:#1C3365;
	width:100%;
	text-align:left;
}
.content_agenda  p{	
	font-size:10px;
	text-align:justify;
	/*display:inline;*/
}

.content_agenda h1{	
	color:#1C3263;
	font-size:18px;	
	font-style:italic;
	padding:0;
	margin:0px 0px 0px 0px;	
	text-decoration:underline;
}

.content_agenda h2{	
	color:#424C58;
	font-size:11px;	
	padding:0;
	background:transparent;
	margin:15px 0px 0px 0px;
	text-transform:uppercase;
	font-weight:bold;	
}

.content_agenda h3{	
	color:#6C6C6E;
	font-size:10px;	
	padding:0;
	margin:10px 0px 30px 0px;	
	font-weight:normal;	
}


.bloc_agenda_gauche {
	width: 31px;
	min-width:31px;	
	height: 162px;
	background: url(fond_agenda_gauche.png) no-repeat;
}
.bloc_agenda_droite {
	width: 13px;
	min-width:13px;	
	height: 162px;
	background: url(fond_agenda_droite.png) no-repeat;
}
.bloc_agenda_central {
	height: 162px;
	min-width:200px;	
	background: url(fond_agenda_bande.png) repeat-x;
}

.bloc_agenda_central div{
	height: 140px;
	overflow:hidden;
}

/*A lA UNE ..*/
#bloc_alaune {
	/*width:100%;	*/
	/*width: 243px;
	height: 162px;
	margin-top:12px;
	background: url(../images/fond_laune.png) no-repeat;*/
	/* border:1px solid; */
}

	
.content_alaune {
	padding:10px 0px 5px 10px;	
	color:#1C3365;
	width:100%;
	text-align:left;
}
.content_alaune   p{	
	font-size:11px;
	/*display:inline;*/
	text-align:justify;
}

.content_alaune  h1{	
	color:#1C3263;
	font-size:18px;		
	font-style:italic;
	padding:0;
	margin:0px 0px 0px 0px;	
	text-decoration:underline;
}

.content_alaune  h2{	
	color:#424C58;
	font-size:11px;		
	padding:0;
	background:transparent;
	margin:15px 0px 0px 0px;
	text-transform:uppercase;
	font-weight:bold;	
}

.content_alaune  h3{	
	color:#6C6C6E;
	font-size:10px;		
	padding:0;
	margin:10px 0px 30px 0px;	
	font-weight:normal;	
}



.bloc_laune_gauche {
	width: 37px;
	min-width:37px;	
	height: 162px;
	background: url(fond_laune_gauche.png) no-repeat;
}
.bloc_laune_droite {
	width: 16px;
	min-width:16px;		
	height: 162px;
	background: url(fond_laune_droite.png) no-repeat;
}
.bloc_laune_central {
	height: 162px;
	background: url(fond_laune_bande.png) repeat-x;
}
.bloc_laune_central div{
	height: 140px;
	overflow:hidden;
}

/*EDITO DE LA PAGE  D' ACCUEIL*/
#bloc_contenu {

}

.bloc_contenu_gauche {
	width: 35px;	
	height: 304px;
	background: url(fond_contenu_gauche.png) no-repeat;
}

.bloc_contenu_central {	
	height: 304px;
	background: url(fond_contenu_bande.png) repeat-x;
}
.bloc_contenu_droite {
	width: 32px;	
	height: 304px;
	background: url(fond_contenu_droite.png) no-repeat;
}





/*RECHERCHE*/
#bloc_recherche {
	width: 168px;
	height: 153px;
	background: url(fond_recherche.png) no-repeat;
	float:left;
	font-size:65%;
}
#bloc_recherche_interieure {
	width: 235px;
	height: 126px;
	background: url(fond_recherche_interieure.png) no-repeat;
	float:left;
	font-size:65%;
}
.content_recherche{
	padding:50px 10px 5px 15px;	
	color:#1C3365;
	text-align:left;
}

/*PIED DE PAGE*/
#footer_table {
/*background:transparent url(../images/filet_footer.jpg) repeat-x scroll 0 0;*/
/*bottom:0;
position:absolute;*/
/*bottom:0;*/
height:68px;
left:0;
padding: 0;
margin: 0;
width:100%;
}


#footer_center{
	text-align:center;
	width: 988px;
	/*bottom:0;*/
	height:68px;
	/*background:transparent url(../images/fond_footer.jpg) no-repeat top center;*/
}
.space_footer {
height:28px;
width:100%;
}

.footer_texte {
	font-size:65%;
	color:#FFFFFF;	
}

.footer_texte a{
	color:#FFFFFF;
}

.footer_texte a:hover, a.internal-link:hover, li a:hover, li a.internal-link:hover{
	text-decoration: none;
	background:transparent;
	color: #ffc21c;
}
/* MENU DE DROITE */
.menu_droite_debut {
	width: 167px;
	height: 36px;
	background: url(menu_droite_debut.jpg) no-repeat right;
}

.btn_acces_metier{
	width: 167px;
	height: 33px;
	background: url(btn_acces_metier_out.jpg) no-repeat right;
}

.btn_acces_collaborateur{
	width: 167px;
	height: 33px;
	background:  url(btn_acces_collaborateur_out.jpg) no-repeat right;
}

.btn_annuaire_entreprise{
	width: 167px;
	height: 33px;
	background:  url(btn_annuaire_entreprise_out.jpg) no-repeat right;
}

.btn_marches_publics{
	width: 167px;
	height: 33px;
	background:  url(btn_marches_publics_out.jpg) no-repeat right;
}

.btn_forum{
	width: 167px;
	height: 33px;
	background:  url(btn_forum_out.jpg) no-repeat right;
}
.btn_boutique{
	width: 167px;
	height: 33px;
	background:  url(btn_boutique_out.jpg) no-repeat right;
}
.btn_sondage{
	width: 167px;
	height: 33px;
	background:  url(btn_sondage_out.jpg) no-repeat right;
}

.btn_faq{
	width: 167px;
	height: 33px;
	background:  url(btn_faq_out.jpg) no-repeat right;
}

.menu_droite_fin {
	width: 167px;
	height: 8px;
	background: url(menu_droite_fin.jpg) no-repeat right;
}

.flashcontent{
	width: 181px;
}

.titre_defilant{
	font-size: 70%;
	font-weight: bold;
}

.this_color{
	color: #cc9900;
}


div#page {
	margin: 0;
	padding: 0;
	min-height: 100%;
	position: relative;
	background:transparent url(filet_footer_bas.jpg)  repeat-x bottom;
}
div#piedpage {
	background:transparent url(fond_footer.png) no-repeat bottom center;
	position: absolute;
	bottom: 0; 
	left: 0;
	width: 100%;
	height: 71px;
	/*border:1px solid; */
}
div#page #element_conteneur {
	width: 100%;
	/*height: 100%;*/
}
div#page #premier-element {
	margin-top: 0;
}
div#page #dernier-element {
	padding-bottom: 70px;
	margin-bottom: 0;
}

.menu_left {
width:240px;
}