.tx-indexedsearch-searchbox fieldset{
	font-size: 70%;
}

.tx-indexedsearch .tx-indexedsearch-browsebox LI { display:inline; margin-right:5px; }
.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-button { width:100px; }
.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-sword { width:150px; }
.tx-indexedsearch .tx-indexedsearch-whatis { margin-top:10px; margin-bottom:5px; }
.tx-indexedsearch .tx-indexedsearch-whatis .tx-indexedsearch-sw { font-weight:bold; font-style:italic; }
.tx-indexedsearch .tx-indexedsearch-noresults { text-align:center; font-weight:bold; }
.tx-indexedsearch .tx-indexedsearch-res TD.tx-indexedsearch-descr { font-style:italic; }
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-descr .tx-indexedsearch-redMarkup { color: #cc0000; }
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-info { background:#eeeeee; }
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead { margin-top:20px; margin-bottom:5px; }
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead H2 { margin-top:0px; margin-bottom:0px; }
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead TD { background:#cccccc; vertical-align:middle; }
.tx-indexedsearch .tx-indexedsearch-res .noResume { color:#666666; }
.tx-indexedsearch .tx-indexedsearch-category { background:#cccccc; font-size:16px; font-weight:bold; }

.tx-indexedsearch .tx-indexedsearch-result-number, .tx-indexedsearch .tx-indexedsearch-title, .tx-indexedsearch .tx-indexedsearch-percent {
	font-size: 85%
}

.tx-indexedsearch .indexed_search_all_results {
	clear:both;
	margin-bottom: 20px;
}
.tx-indexedsearch .searchbox-tmpl-css LABEL {
	margin-right:1em;
	width:10em;
	float:left;
}
.tx-indexedsearch .result-count-tmpl-css, .tx-indexedsearch .percent-tmpl-css {
	letter-spacing:0;
	font-weight:normal;
	margin-top:-1.2em;
	float:right;
}
.indexed_search_all_results dl {
	font-size: 70%;
}
.tx-indexedsearch .info-tmpl-css dt, .tx-indexedsearch dl.info-tmpl-css dd {
	float:left;
}
.tx-indexedsearch .info-tmpl-css dd.item-mtime {
	float:none;
}
.tx-indexedsearch .info-tmpl-css dd.item-path {
	float:none;
}

.indexed_search_all_results p.tx-indexedsearch-descr, .indexed_search_all_results p.descr {
	margin-top: 5px;
	margin-bottom: 5px;
}
.indexed_search_all_results dl.tx-indexedsearch-info{
	margin-top: 0px;
	margin-bottom: 0px;
}