/* Plan du site */

.tx-dropdownsitemap-pi1 li {
 	list-style-type : none;
	padding-left: 5px;
}

.tx-dropdownsitemap-pi1 ol{
	padding-left: 5px;
}

.tx-dropdownsitemap-pi1{
	background: transparent url(http://www.pointe-a-pitre.cci.fr/fileadmin/templates/site/charte/images/plan_du_site.jpg) no-repeat top left;
	padding-left: 50px;
	padding-top: 30px;
	height: 380px;
}

div[class] .tx-dropdownsitemap-pi1{
	height: auto;
	min-height: 380px;
}

.tx-dropdownsitemap-pi1 A {
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.tx-dropdownsitemap-pi1 LI.open OL {
	display: block;
}
.tx-dropdownsitemap-pi1 LI.closed OL {
	display: none;
}
.tx-dropdownsitemap-pi1 LI.open UL {
	display: block;
}
.tx-dropdownsitemap-pi1 LI.closed UL {
	display: none;
}
.tx-dropdownsitemap-pi1 DIV {
	border: solid 0px #DFE2E3;
	background: #FFFFFF;
	padding: 2px;
	margin-bottom: 5px;
	margin-left: 0px;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-align:left;
}


.tx-dropdownsitemap-pi1 DIV.level_2 {
	background: #FFFFFF;
	border: solid 0px #DFE2E3;
	padding: 2px;
	margin-bottom: 10px;
	margin-left: 20px;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	  text-align:left;
}
.tx-dropdownsitemap-pi1 DIV.level_2 A {
	font-weight: normal;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}
.tx-dropdownsitemap-pi1 DIV.expAll {
	text-align:left;
}