/* Breaking News Sign-up - START */
.breaking-signup {width:300px;border:1px solid #ccc;font-family:arial, sans-serif; height:135px;} 
.breaking-signup .top {border-bottom:1px solid #ccc;width:300px;float:left;}
.breaking-signup h4{font-weight:bold;color:#B2861D;font-size:16px;padding:0;margin:10px 0 5px 5px;float:left;}
.breaking-signup span.clear {display:block;clear:both;}
.breaking-signup .container{float:left;margin:0;padding:8px}
.breaking-signup .field{float:left;margin:0 0 10px;}
.breaking-signup .field img{float:left;margin:0 5px 0 0;}
.breaking-signup p{color:#000;font-size:12px;margin:0;padding:0;}
.breaking-signup h2{color:#000;font-size:12px;font-weight:bold;margin:-2px 0 0;padding:0;}
.breaking-signup .check{float:left;height:25px;margin-right:5px;width:15px;}
.breaking-signup .deck{float:left;width:255px;}
.breaking-signup .deck p{color:#333;}
.breaking-signup form{margin:0;padding:0;}
.breaking-signup fieldset{border:none;margin:0;padding:0 0 5px 0;}
.breaking-signup .add_input.no_add{border:1px solid #CFCFCF;color:#333;float:left;font-family:arial,sans-serif;font-size:11px;height:15px;margin:0 3px 10px 0;padding:2px !important;width:215px;}
.breaking-signup .ckbx{position:static;width:auto !important;}
.breaking-signup input.add{background:url(but-sign.jpg) no-repeat;border:none;cursor:pointer;float:right;height:20px;margin:0;padding:0;width:54px;}
.breaking-signup .e-r{display:block;float:left;width:255px;}
.breaking-signup .e-r h2{color:#B60400;}
.breaking-signup .e-r p{font-weight:bold;}
.breaking-signup .e-r p a{color:#4D4D4D;text-decoration:none;}
.breaking-signup .t-y {display:block;float:left;width:255px;}
.breaking-signup .submitting {display:none;float:left;width:255px;color:#4D4D4D;}
.breaking-signup .e-r, .breaking-signup .t-y, .breaking-signup .submitting {display:none;}
/* Breaking News Sign-up - END */

