/* CSS Document */
#bloc_col_centre {
	left: 50px;
	position: relative;
	font-size: 11px;
	WIDTH: 543px;
	text-align: left;
	border: #cccccc 1px solid;
	padding-left: 8px;
	margin-bottom: 20px;
	background-color: #f7f7f7;
	padding-top: 8px;
}


#bloc_col_gauche {
display:none;
}
#bloc_col_droite {
display:none;
}


#bloc_bandohaut {
	POSITION: relative;
	left: 50px;

}
#bloc_fonctionnalites {
display:none;
}

#bloc_standard {
display:none;

}


.bloc_context {
display:none;
}
.bloc_context_haut {
display:none;

}

.bloc_context_bas{
display:none;
}


.bloc_context_milieu {
display:none;

}

#bloc_context_pub {
display:none;
}

#bloc_context_voircarte {
display:none;

}

#bloc_contenu_general {
	WIDTH: 950px;
	POSITION: relative;
	margin: 0 auto;
	text-align: left;

}


#bloc_menugauche {
display:none;

}


#bloc_bt_transversal {
display:none;

}

#bloc_accesrapide {
display:none;
}

#bloc_recherche {
display:none;
}

#bloc_espace {
display:none;
}




#bloc_cartelegende {
display:none;
}

#bloc_titre_article {
	width:363px;
	z-index:1;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2px;
	color:#403a3e;
	margin-bottom: 12px;
	margin-top: -5px;
}
#bloc_contenu_article {
	width:532px;
	padding-top: 3px;
	color:#403a3e;
	margin-bottom: 10px;
	position: relative;
}
#bloc_maj {
	width:530px;
	padding-top: 3px;
	color:#403a3e;
	margin-bottom: 15px;
	font-style: italic;
	position: relative;
	font-size: 10px;
}
#bloc_hautpage{
display:none;
}
/* CSS Document */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #ffffff;
}
body,th,p {
	font-family: arial, Tahoma ;
	color: #403a3e;

}

form {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;

}

.label {
	display:none;
}

.titre {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;


}

a {
	text-decoration: underline;
	color: #403a3e;

}

a:hover, a:focus {
	text-decoration: underline;
	color: #777777;
}


a.lienss:link {
	text-decoration: none;
}
a.lienss:visited {
	text-decoration: none;
}
a.lienss:hover {
	text-decoration: underline;
}
a.lienss:active {
	text-decoration: none;
}

.imgssborder {
border:0;

}


.img {
	border: 1px solid #999999;

}

 
.logo {
	display:none;

}
 


.select1 {
	display:none;
}

.aligndroit {
	text-align: right;

}

.aligngauche {
	text-align: left;

}

.bt_ok {
	display:none;
}

.bloc_gauche
{
margin:0;
float:left;


}

.bloc_droite
{
margin:0;
text-align:right;
float:right;

}

/* CSS Document */
/* -----------------menu gauche----------------------- */
 .menug1  {
display:none;
	 }


 .menug2  {
display:none;
} 

	 
.menug2 a {
display:none;
	 }
	 
.menug2 a:hover, .menug2 a:active {
display:none;
     }

/* -------------------bt transversal----------------------- */
 


 .bt_transversal  {
display:none;} 

 .bt_transversal ul {display:none;
 } 

 .bt_transversal li {display:none;}

 .bt_transversal a {
display:none;
	 }
	 
 .bt_transversal a:hover {
display:none;
     }

#menu {
display:none;
}
#menu ul {
display:none;
}
#menu ul li {
display:none;
}

#menu ul li span {
display:none;
}
#menu ul li {
display:none;
}
#menu ul li.m1 {
display:none;
}
#menu ul li.m2 {
display:none;
}
#menu ul li.m3 {
display:none;
}
#menu ul li.m4 {
display:none;
}

#menu ul li {
display:none;
}
#menu ul li ul {
	DISPLAY: none
}
#menu ul li.actif {
display:none;
}
#menu ul li.actif ul {
display:none;
}

#menu ul ul {
display:none;
}
.coul1 {
display:none;
}
.coul2 {
display:none;
}

.coul3 {
display:none;
}

.coul4 {
display:none;
}

#menu ul ul {
display:none;
}
#menu ul ul li {
display:none;
}
#menu ul ul li {
display:none;
}
#menu ul ul a {
display:none;
}
#menu ul ul a:hover {
display:none;
}


#bloc_baspage {
display:none;
}

.dTab {
	width : 512px;
	background-color: #ffffff;
	text-align: left;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	margin-left :2px;
	position:relative;
	padding:6px;
	top: 0px !important;
	margin-left :0px !important;	
	top: -1px;
	margin-left :4px;
}

.tabList ul {
	margin : 0;
	padding : 0;
	width : 530px;
	height : 40px;
}
.tabList ul li {
	float : left;
	list-style : none;
	line-height : 15px;
	text-align : center;
	height : 40px;
	width : 130px;
	margin-left:2px;
	text-decoration : none;

}

.tabList ul li a {
	color : #666666;
	padding-left :3px;
	display : block;
	text-decoration : none;
	height : 38px;
	padding-top:2px;
	background-image: url(fd_onglet.gif);


}

.imgrhone {
	border:0;
	margin-left: 49px;
}
