.sp_listtitre {
	font-weight: bold;
	width: 445px;
	display: block;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	border: 1px solid #ccc;
	background-color: #FFFFFF;
}



.sp_list2{
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 440px; 
	margin-left:10px;
	padding-top:10px;

} 
.sp_list2 li{

	font-weight:bold;
} 	 
 

.sp_list3 {	
	margin: 0;
	padding: 0;
	list-style-type: none;
	border-top: 1px solid #aaa;
	font-weight:normal;

	
} 

.sp_list3 li{	
	border-top: 1px dotted #ccc;
	font-weight:normal;
	
}  
.sp_list3 a {
	margin: 0;
	border-top: 0px;
	width: 445px; 
	display: block;
	text-decoration: none;
	color: #000;
	padding: 2px 2px 2px 5px;
	text-align: left;
	font-weight:normal;
}
	 
.sp_list3 a:hover, .sp_list3 a:active {
	background: #ffffff;
	text-decoration: none;
	color: #000;
	padding: 2px 2px 2px 5px;
}


.niv1 {
	text-align: left;


}

#niv1 li {
	width:230px;
	margin-left: 0px;
	text-align: left;
	background-color: #CCCCCC;
	border-top: 1px solid #000000;
	text-transform: uppercase;
	padding-left: 5px !important;
	padding-left: 0px;
}

#niv2 li {

	magin-left: -5px !important;
	magin-left: 0px;
	text-align: left;
	background-color: #f1f1f1;
	border-top: 1px solid #000000;
	text-transform: none;

	
}

#niv3 li {
	text-align: left;
	background-color: #FFFFFF;
	border-top: 1px solid #000000;

}

#niv3  li a {
text-decoration: none;


}

.marge {
	padding-left: 5px;
}

#div_btfermer{
	position:absolute;
	left:372px;
	top:6px;
	z-index:4;
	width: 155px;
	text-align: right;
}
#div_btfermer_hd{
	position:absolute;
	left:563px;
	top:4px;
	z-index:4;
	width: 155px;
	text-align: right;
}

#div_fd {
	width:532px;
	height:361px;
	z-index:1;
	background-image: url(fd_sp.jpg);
	position: relative;

}
#div_fd_hd {
	width:725px;
	height:418px;
	z-index:1;
	background-image: url(http://www.rhone.fr/design/rhone/stylesheets/images/fd_hd_sp.jpg);

}
#div_bouton {
	position:absolute;
	z-index:1;
	margin-left: 20px;
	padding-top:280px !important;
	padding-top:310px;
	left: -3px;
}
#div_bouton_hd {
	position:absolute;
	z-index:1;
	margin-top: 372px;
	margin-left: 20px;
}
#div_video {
	position:absolute;
	left:36px;
	top:146px;
	width:192px;
	height:144px;
	z-index:2;
	background-color: #CCCCCC;
}
#div_video_hd {
	position:absolute;
	left:16px;
	top:70px;
	width:384px;
	height:288px;
	z-index:2;
	background-color: #CCCCCC;
}
#div_texte {
	position:absolute;
	top:122px;
	width:480px;
	padding-left:25px;
	left: 0px;
	height:180px;
	z-index:3;
	overflow: auto;
}

#div_texte_hd {
	position:absolute;
	left:409px;
	top:128px;
	width:297px;
	height:231px;
	z-index:3;
	overflow: auto;
}

#date{
	position:absolute;
	left:195px;
	top:14px;
	height:18px;
	z-index:5;
	font-weight: bold;
	font-size:16px;
	color:#222222;
}
#date_hd{
	position:absolute;
	left:99px;
	top:52px;
	width:299px;
	height:18px;
	z-index:5;
	text-align: right;
		color: #FFFFFF;
	font-weight: bold;
}
