.backgroundColSeparatorH{
	background-color:#FF1010 ;
	background-image: ;
}
.backgroundColSeparatorV{
	background-color:#FF1010 ;
	background-image: ;
}
/*------------------------------------------------------------------------------------------------------------------------
													MODULE 'ADVANCED'
------------------------------------------------------------------------------------------------------------------------*/

/*********************************
** SEPARATEUR HORIZONTAL
**********************************/
.advSeparatorH {}

.advDashedSeparatorH{
	border-top:1px dashed $xsh:legendColor ;
	clear:both;
	padding:0;
	margin:0;
	height:1px;
	font-size:1px;
}

.advSolidSeparatorH{
	border-top:1px solid $xsh:legendColor ;
	clear:both;
	padding:0;
	margin:0;
	height:1px;
	font-size:1px;
}

/*********************************
** SEPARATEUR VERTICAL
**********************************/
.advSeparatorV {}

.advDashedSeparatorV{
	border-left:1px dashed $xsh:legendColor ;
	padding-left:0.5em;
}

.advSolidSeparatorV{
	border-left:1px solid $xsh:legendColor ;
	padding-left:1em;
}

/*********************************
** COLONNES
**********************************/
.advColumns {}

.advColumn {
	float: left;
	margin: 0;
	padding: 0;
}

.advStandardColumns {}

.advStandardColumn {
	float: left;
	margin: 0;
	padding: 0;
}

/*********************************
** BOUTON
**********************************/
.advButton {
	background-color: #EFEFEF;
	font-weight: bold;
	font-size : 110%;
	text-align: center;
}
.fontColorTitle1{
	color:#FF0000 ;
}
.backgroundColorTitle1{
	background-color:#FF0000 ;
}
.fontColorTitle2{
	color:#004080 ;
}
.backgroundColorTitle2{
	background-color:#FFFFFF ;
}
.fontFamilyTitle{
	font-family:Verdana, Arial, Helvetica, sans-serif ;
}
.fontColorTopLink, .fontColorTopLink:link, .fontColorTopLink:hover, .fontColorTopLink:active, .fontColorTopLink:visited{
	color:#888888 ;
	text-decoration:none;
}
.paraleft, .bsParaLeft{
	text-align: left;
}
.pararight, .bsParaRight{
	text-align: right;
}
.paracenter, .bsParaCenter{
	text-align: center;
}
.parajustify, .bsParaJustify{
	text-align: justify;
}




.illustRight{
	float:right;
}

.illustLeft{
	float:left;
}/*------------------------------------------------------------------------------------------------------------------------
													MODULE 'BASIC'
------------------------------------------------------------------------------------------------------------------------*/

/*********************************
** BOUTON
**********************************/

span.bsButtonSpan a.bsButton {
	line-height : 1.4em;
	border: 1px solid #000000;
	background-color: #EFEFEF;
	padding: 0.1em;
	font-weight : bold;
	color : #000000;
	text-decoration : none;
}

span.bsButtonSpan a.bsButton:hover {
	background-color: #E0E0E0;
}

/*********************************
** LISTE A PUCE
**********************************/
.bsList {}

.bsList p{
	margin-top:1em;
}

.bsSquareList{
	list-style-type:square;
	list-style-position:inside;
}

.bsDiscList{
	list-style-type:disc;
	list-style-position:inside;
}

.bsCircleList{
	list-style-type:circle;
	list-style-position:inside;
}

.bsNumberList{
	list-style-type:decimal;
	list-style-position:inside;
}

.bsLetterList{
	list-style-type:lower-alpha;
	list-style-position:inside;
}

.bsCustomList{
	list-style-position:inside;
}

/*********************************
** TEXTE
**********************************/
.bsIntroduction{}
.bsText{}
.bsDescription{}
.bsRemark{}

.bsBorderedText{
	margin:0;
	padding:3px;
	background:#f0f0f0;
	border-left:1px solid #ddd;
	border-top: 1px solid #ddd;
	border-right: 1px solid #999;
	border-bottom: 1px solid #aaa;
}

.bsRemarkIcon{
	padding:3px;
	margin:0;
	float:left;
}

.bsRemarkText{
	margin:0;
	text-align:justify;
}

.bsStandardText{
	margin:0;
	padding:0;
}

.bsImportantText{
	text-align: left;
	font-weight:bold;
	font-style:italic;
}

.bsParaLeft, .paraleft{
	text-align: left;
}
.bsParaRight, .pararight{
	text-align: right;
}
.bsParaCenter, .paracenter{
	text-align: center;
}
.bsParaJustify, .parajustify{
	margin:0;
	text-align: justify;
}

/*********************************
** BLOC
**********************************/
.bsBlockLeft{
	float: left;
}

.bsBlockRight{
	float: right;
}

.bsBlockCenter{
	margin: auto;
}

/*********************************
** TABLEAU D'IMAGES
**********************************/
.bsImageTable{
}

.bsImageTableCol{
	float:left;
}

/*********************************
** ILLUSTRATION ET IMAGE
**********************************/
.bsImage, .bsIllustration {}

.bsBorderedIllust{
	border-left:1px solid #ddd;
	border-top: 1px solid #ddd;
	border-right: 1px solid #999;
	border-bottom: 1px solid #aaa;
}

.bsIllustLeft {
	padding: 5px;
	text-align: left;
	float: left;
	margin: 0 5px 5px 0;
}

.bsIllustRight {
	padding: 5px;
	text-align: left;
	float: right;
	margin: 0 0 5px 5px;
}

.bsIllustCenter {
	padding: 5px;
	text-align: left;
	padding: 5px;
	margin: auto;
}

.bsIllustLegend {
	margin: 0px auto;
	padding:0;
	text-align: center;
	color: $xsh:legendColor ;
}

.bsIllustLegend img, .bsIllustZoom img {
	border:none;
}

.bsIllustPhoto {
	line-height: 1px;
	margin: 0;
}

.bsIllustPhoto img {
	border: 0;
}

.bsBorderedImg {
	line-height: 1px;
	margin: 0;
}
.bsBorderedImg img{
	border:1px solid #000;
}

/*.bsIllustLeft div.bsIllustZoom , .bsIllustRight div.bsIllustZoom , .bsIllustCenter div.bsIllustZoom {*/
div.bsIllustZoom {
	border:1px solid red;
	background: url("loupe.png") no-repeat;
	z-index: 10;
	position: absolute;
	border: none;
	margin: -21px 0 0 0;
	padding: 0;
}

.bsIllustZoom a {
	display: block;
	height: 21px;
	width: 21px;
}

.bsIllustZoom a span{
	display: none;
}

/*********************************
** TITRES
**********************************/
.bsPageTitle {}
.bsHeading1 {}
.bsHeading2 {}

.bsLevel0{
	font-size: 135%;
	font-weight:bold;
}
.bsLevel1{
	font-size: 120%;
	color: #FF0000 ;
	font-family: Verdana, Arial, Helvetica, sans-serif ;
}
.bsLevel2{
	font-size: 110%;
}

/*********************************
** DOCUMENT A TELECHARGER
**********************************/

.bsDownloadable h3 span {
	font-size: 110%;
}

.bsDownloadable .bsDownloadableTitle {
	background: url(http://www.cherbourg-cotentin.cci.fr/iso_icons/i_document.gif) no-repeat 0 5px;
	padding: 5px 0 5px 18px;
	font-weight:bold;
}

.bsDownloadable p {
	font-size: 1em;
	line-height: 1.4em;
}

.bsDownloadable .bsDownloadableTitle a {
	color: #000000;
}

.bsDownloadableInfos {
	font-style:italic;
}

/*********************************
** HAUT DE PAGE
**********************************/
.bsTopLink {
	text-align:right;
}

.bsTopLink a img {
	vertical-align:middle;
	border:none;
}
	.cCatTocFrame {
		width: 100% ;
	}
	.cCatTocFrame A, .cCatTocFrame A:link, .cCatTocFrame A:hover, .cCatTocFrame A:active, .cCatTocFrame A:visited {
		font-size: 11px ;
		font-family: Verdana, Arial, Helvetica, sans-serif ;
	}
	DIV.cCatTocL1 {
		display: block ;
		padding-left: 20px ;
		BACKGROUND-REPEAT: no-repeat ;
		background-image: url(cCat_cCatTocL1.png) ;
		BACKGROUND-POSITION: 10px 5px ;
		line-height: 20px ;
	}
	DIV.cCatTocL2 {
		display: block ;
		BACKGROUND-REPEAT: no-repeat ;
		padding-left: 30px ;
		background-image: url(cCat_cCatTocL2.png) ;
		BACKGROUND-POSITION: 20px 5px ;
		line-height: 20px ;
	}
	DIV.cCatTocL3 {
		display: block ;
		BACKGROUND-REPEAT: no-repeat ;
		padding-left: 40px ;
		background-image: url(cCat_cCatTocL3.png) ;
		BACKGROUND-POSITION: 30px 5px ;
		line-height: 20px ;
	}
	DIV.cCatTocL4 {
		display: block ;
		BACKGROUND-REPEAT: no-repeat ;
		padding-left: 50px ;
		background-image: url(cCat_cCatTocL4.png) ;
		BACKGROUND-POSITION: 40px 5px ;
		line-height: 20px ;
	}
	DIV.cCatTocL5 {
		display: block ;
		BACKGROUND-REPEAT: no-repeat ;
		padding-left: 60px ;
		background-image: url(cCat_cCatTocL5.png) ;
		line-height: 20px ;
		BACKGROUND-POSITION: 50px 5px ;
	}
	DIV.cCatCardView {
		margin: 2px ;
	}
	.cCatListBgColor {
		background-color: #000000 ;
	}
	.cCatListTitleBgColor {
		background-color: #FFFFFF ;
	}
	.cCatListTitleHighlightText, .cCatListTitleHighlightText:link, .cCatListTitleHighlightText:active, .cCatListTitleHighlightText:hover, .cCatListTitleHighlightText:visited {
		color: #FFFFFF ;
	}
	.cCatListCellBgColor {
		background-color: #FFFFFF ;
	}
	.cCatListAltBgColor {
		background-color: #EFF4E4 ;
	}
/* Can't load file C:\Program Files\Isotools\IsotoolsStudioMPV4\application\components\chart\css\00010003.css */
/*------------------------------------------------------------------------------------------------------------------------
													MODULE 'CUSTOM FORM'
------------------------------------------------------------------------------------------------------------------------*/

.cfCustomForm .cfFieldGroup legend {
	font-size: 110%;
	font-weight:bold;
	color: #000000;
}

.cfCustomForm .cfRequired {
	font-weight:bold;
	font-style:italic;
}

.cfCustomForm label {
	float: left;
	margin-right: 8px;
	width: 48%;
	text-align: right;
}

.cfCustomForm p, .cfCustomForm div {
	clear: both;
	margin: 5px 0;
}

.cfCustomForm input, .cfCustomForm select, .cfCustomForm textarea {
	width: 48%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	background-color: #fff;
	color: #000;
	margin: 0;
	padding: 0;
	text-align: left;
}

.cfCustomForm input.cfDay, .cfCustomForm input.cfMonth {
	width: 2em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	background-color: #fff;
	color: #000;
	margin: 0;
	padding: 0;
	text-align: left;
}

.cfCustomForm input.cfYear {
	width: 4em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	background-color: #fff;
	color: #000;
	margin: 0;
	padding: 0;
	text-align: left;
}

.cfCustomForm .cfDateLegend{
	font-style:italic;
}

.cfCustomForm .cfRradioLabel {
	float: left;
	margin-right: 3px;
	margin-left: 6px;
	width: auto;
	text-align: left;
}

.cfCustomForm p.radioContainer {
	clear: none;
	float: left;
	width: 45%;
	margin: 0;
	padding: 0;
	text-align: left;
}

.cfCustomForm input.cfRadio	 {
	float: left;
	width:auto;
	margin: 0;
	padding: 0;
	text-align: left;
	vertical-align:middle;
}

.cfCustomForm input.cfCheckbox {
	width:auto;
	margin: 0;
	padding: 0;
	text-align: left;
	vertical-align:middle;
}

.cfCustomForm p.cfAction {
	text-align: right;
}

.cfCustomForm p.cfAction input {
	background-color: #EFEFEF;
	font-weight: bold;
	font-size : 110%;
	text-align: center;
}

.cfCustomForm label.cfNotValid, span.cfNotValid {
	color:red;
	font-weight:bold;
}

.cfCustomForm input.cfNotValid , .cfCustomForm select.cfNotValid , .cfCustomForm textarea.cfNotValid {
	background-color: #ffdcd2;
	color:#000;
}

.cfCustomForm label.cfNotValid .cfNotValidMsg {
	display:inline;
	font-weight:normal;
}

	DIV.dRecErrorBlock {
		margin-bottom: 15px ;
		padding: 20px ;
		width: 100% ;
		border-color: red ;
		border-style: dashed ;
		text-align: center ;
	}
	SPAN.dRecErrorInline {
		border-color: red ;
		border-style: dashed ;
		border-width: 1 ;
		background-color: yellow ;
	}
/* Can't load file C:\Program Files\Isotools\IsotoolsStudioMPV4\application\components\dynamic\css\000100c6.css */
	.fontColorTitleCell .fontColorStandardText {
		color: #FFFFFF ;
	}
	.fontColorTableCell .fontColorStandardText {
		color: #400040 ;
	}
	.fontColorHighlightedCell .fontColorStandardText {
		color: #000000 ;
	}
	.mainBgCell {
		background-color: #FFFFFF ;
	}
	.noneFrameTable {
	}
	.wideFrameTable {
		border-collapse: collapse ;
	}
	.wideFrameCell {
		border-color: #FF9B9B ;
		border-width: 3 ;
		border-style: solid ;
		padding: 6 ;
	}
	.narrowFrameTable {
		border-collapse: collapse ;
	}
	.narrowFrameCell {
		border-color: #000000 ;
		border-width: 1 ;
		border-style: solid ;
		padding: 3 ;
	}
	.wideFrameNavigationPanel {
		font-weight: bold ;
		color: #FFFFFF ;
		background-color: #FF9B9B ;
	}
	.narrowFrameNavigationPanel {
		background-color: #FF9B9B ;
		font-weight: bold ;
		color: #FFFFFF ;
	}
	.noneFrameNavigationPanel {
		background-color: #FF9B9B ;
		font-weight: bold ;
		color: #FFFFFF ;
	}
	.dtabbutton {
		font-weight: bold ;
		background-color: #888888 ;
		color: #FFFFFF ;
		cursor: hand ;
		font-size: 12 ;
		text-decoration: none ;
	}
	.dtabbutton:link {
		font-weight: bold ;
		background-color: #888888 ;
		color: #FFFFFF ;
		cursor: hand ;
		font-size: 12 ;
		text-decoration: none ;
	}
	.dtabbutton:hover {
		text-decoration: none ;
	}
	.dtabCardColors {
		background-color: #FFFFFF ;
		color: #000000 ;
	}
	.dtabCardHighlightedColors {
		background-color: #E0E0E0 ;
		color: #000000 ;
	}
.fontColorLoginAlert{
	color:red;
	font-weight:bold;
}
/* Can't load file C:\Program Files\Isotools\IsotoolsStudioMPV4\application\components\eCard\css\00010003.css */
/* Can't load file C:\Program Files\Isotools\IsotoolsStudioMPV4\application\components\eventManager\css\00010003.css */
	.backgroundColorEventFrame {
		background-color: #EFF4E4 ;
	}
	.fontColorEvent {
		color: #698DB8 ;
	}
	.fontColorEventName {
		color: #000000 ;
	}
	.activeEvtTabBorder {
		background-color: #C83939 ;
	}
	.activeEvtTab {
		font-size: 11px ;
		font-weight: bold ;
		background-color: #FFFFFF ;
		text-decoration: none ;
		color: #C83939 ;
	}
	.activeEvtTab:link {
		font-size: 11px ;
		font-weight: bold ;
		background-color: #FFFFFF ;
		text-decoration: none ;
		color: #C83939 ;
	}
	.activeEvtTab:hover {
		font-size: 11px ;
		font-weight: bold ;
		background-color: #FFFFFF ;
		text-decoration: none ;
		color: #C83939 ;
	}
	.activeEvtTab:active {
		font-size: 11px ;
		font-weight: bold ;
		background-color: #FFFFFF ;
		text-decoration: none ;
		color: #C83939 ;
	}
	.activeEvtTab:visited {
		font-size: 11px ;
		font-weight: bold ;
		background-color: #FFFFFF ;
		text-decoration: none ;
		color: #C83939 ;
	}
	.inactiveEvtTabBorder {
		background-color: #968A97 ;
	}
	.inactiveEvtTab {
		font-size: 11px ;
		font-weight: bold ;
		text-decoration: none ;
		color: #FFFFFF ;
		background-color: #E5E5E5 ;
	}
	.inactiveEvtTab:link {
		font-size: 11px ;
		font-weight: bold ;
		text-decoration: none ;
		color: #FFFFFF ;
		background-color: #E5E5E5 ;
	}
	.inactiveEvtTab:hover {
		font-size: 11px ;
		font-weight: bold ;
		text-decoration: none ;
		color: #FFFFFF ;
		background-color: #E5E5E5 ;
	}
	.inactiveEvtTab:active {
		font-size: 11px ;
		font-weight: bold ;
		text-decoration: none ;
		color: #FFFFFF ;
		background-color: #E5E5E5 ;
	}
	.inactiveEvtTab:visited {
		font-size: 11px ;
		font-weight: bold ;
		text-decoration: none ;
		color: #FFFFFF ;
		background-color: #E5E5E5 ;
	}
	.linkEvtTitle {
		font-weight: bold ;
		text-decoration: none ;
		color: #4E68A4 ;
		font-size: 18px ;
	}
	.linkEvtTitle:link {
		font-weight: bold ;
		text-decoration: none ;
		color: #4E68A4 ;
		font-size: 18px ;
	}
	.linkEvtTitle:hover {
		font-weight: bold ;
		text-decoration: none ;
		color: #4E68A4 ;
		font-size: 18px ;
	}
	.linkEvtTitle:active {
		font-weight: bold ;
		text-decoration: none ;
		color: #4E68A4 ;
		font-size: 18px ;
	}
	.linkEvtTitle:visited {
		font-weight: bold ;
		text-decoration: none ;
		color: #4E68A4 ;
		font-size: 18px ;
	}
	.linkEvtSubTitle {
		font-weight: bold ;
		text-decoration: none ;
		color: #4E68A4 ;
		font-size: 11px ;
	}
	.linkEvtSubTitle:link {
		font-weight: bold ;
		text-decoration: none ;
		color: #4E68A4 ;
		font-size: 11px ;
	}
	.linkEvtSubTitle:hover {
		font-weight: bold ;
		text-decoration: none ;
		color: #4E68A4 ;
		font-size: 11px ;
	}
	.linkEvtSubTitle:active {
		font-weight: bold ;
		text-decoration: none ;
		color: #4E68A4 ;
		font-size: 11px ;
	}
	.linkEvtSubTitle:visited {
		font-weight: bold ;
		text-decoration: none ;
		color: #4E68A4 ;
		font-size: 11px ;
	}
	.fontColorFavLinkName {
		color: #698DB8 ;
	}
	.backgroundColorFavLink {
		background-color: #EFF4E4 ;
	}
/* Can't load file C:\Program Files\Isotools\IsotoolsStudioMPV4\application\components\fileManager\css\00010003.css */
/* Can't load file C:\Program Files\Isotools\IsotoolsStudioMPV4\application\components\fileSystemManager\css\00010003.css */
	.gPplAlternateBgColor {
		background-color: #FEFEFE ;
	}
	.gPplPersonTitle {
		color: #698DB8 ;
		font-size: 12px ;
	}

/*------------------------------------------------------------------------------------------------------------------------
													MODULE 'INLINE'
------------------------------------------------------------------------------------------------------------------------*/
.HIT{
	background-color:yellow;
}

.underline{
	text-decoration:underline;
}

.textColor0 {
	color: #000000 ;
}

.textColor1{
	color: #FF0000 ;
}

.textColor2{
	color: #004080 ;
}

.textColor3{
	color: #B70000 ;
}

.textColor4{
	color: #910000 ;
}
.fontColorInsetTitle1, .fontColorInsetTitle1:link, .fontColorInsetTitle1:hover, .fontColorInsetTitle1:active, .fontColorInsetTitle1:visited{
	color:#FFFFFF ;
	text-decoration:none;
}
.fontColorInsetTitle2, .fontColorInsetTitle2:link, .fontColorInsetTitle2:hover, .fontColorInsetTitle2:active, .fontColorInsetTitle2:visited{
	color:#000000 ;
	text-decoration:none;
}
.fontColorInsetTitle3, .fontColorInsetTitle3:link, .fontColorInsetTitle3:hover, .fontColorInsetTitle3:active, .fontColorInsetTitle3:visited{
	color:#000000 ;
	text-decoration:none;
}
.fontColorInsetTitle4, .fontColorInsetTitle4:link, .fontColorInsetTitle4:hover, .fontColorInsetTitle4:active, .fontColorInsetTitle4:visited{
	color:#FFFFFF ;
	text-decoration:none;
}
.fontColorInsetTitle5, .fontColorInsetTitle5:link, .fontColorInsetTitle5:hover, .fontColorInsetTitle5:active, .fontColorInsetTitle5:visited{
	color:#000000 ;
	text-decoration:none;
}
.fontColorInsetTitle6, .fontColorInsetTitle6:link, .fontColorInsetTitle6:hover, .fontColorInsetTitle6:active, .fontColorInsetTitle6:visited{
	color:#000000 ;
	text-decoration:none;
}
.fontColorInsetTitle7, .fontColorInsetTitle7:link, .fontColorInsetTitle7:hover, .fontColorInsetTitle7:active, .fontColorInsetTitle7:visited{
	color:#000000 ;
	text-decoration:none;
}
.fontColorInset1{
	color:#000000 ;
}
.fontColorInset2{
	color:#000000 ;
}
.fontColorInset3{
	color:#000000 ;
}
.fontColorInset4{
	color:#FFFFFF ;
}
.fontColorInset5{
	color:#000000 ;
}
.fontColorInset6{
	color:#9F0000 ;
}
.fontColorInset7{
	color:#8C0000 ;
}
/*------------------------------------------------------------------------------------------------------------------------
													MODULE 'INSETS'
------------------------------------------------------------------------------------------------------------------------*/

/*********************************
** CADRE
**********************************/
.insInset {
}

.insStandardInset{
	border: 1px solid #aaaaaa;
	background-color: #dddddd;
	margin: 0 0 1em 0;
	padding: .3em;
}

.insInsetTitle {
	font-size: 130%;
	text-align: left;
}

.calendar {
	BORDER-RIGHT: #000 2px solid; BORDER-TOP: #fff 2px solid; DISPLAY: none; FONT-SIZE: 11px; BACKGROUND: #FFFFFF; BORDER-LEFT: #fff 2px solid; CURSOR: default; COLOR: #000; BORDER-BOTTOM: #000 2px solid; FONT-FAMILY: tahoma,verdana,sans-serif; POSITION: relative
}
.calendar TABLE {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #000 1px solid; FONT-SIZE: 11px; BACKGROUND: #FFFFFF; BORDER-LEFT: #000 1px solid; CURSOR: default; COLOR: #000; BORDER-BOTTOM: #fff 1px solid; FONT-FAMILY: tahoma,verdana,sans-serif
}
.calendar .button {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #000 1px solid; TEXT-ALIGN: center
}
.calendar .nav {
	BACKGROUND: url(http://www.cherbourg-cotentin.cci.fr/iso_misc/menuarrow.gif) no-repeat 100% 100%
}
.calendar THEAD .title {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; BACKGROUND: #FF9B9B ; PADDING-BOTTOM: 1px; BORDER-LEFT: #000 1px solid; COLOR: #FFFFFF ; PADDING-TOP: 1px; BORDER-BOTTOM: #000 1px solid; TEXT-ALIGN: center
}
.calendar THEAD .headrow {
	
}
.calendar THEAD .daynames {
	
}
.calendar THEAD .name {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #DCE2E9; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid; TEXT-ALIGN: center
}
.calendar THEAD .weekend {
	COLOR: #FF6000
}
.calendar THEAD .hilite {
	BORDER-RIGHT: #000 2px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 2px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #fff 2px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #000 2px solid; BACKGROUND-COLOR: #FFFFFF
}
.calendar THEAD .active {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #9DACBF
}
.calendar TBODY .day {
	PADDING-RIGHT: 4px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 2em; PADDING-TOP: 2px; TEXT-ALIGN: right
}
.calendar TABLE .wn {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 3px; PADDING-LEFT: 2px; BACKGROUND: #DCE2E9; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.calendar TBODY .rowhilite TD {
	BACKGROUND: #DCE2E9
}
.calendar TBODY .rowhilite TD.wn {
	BACKGROUND: #c8d4d0
}
.calendar TBODY TD.hilite {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #000 1px solid
}
.calendar TBODY TD.active {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px solid
}
.calendar TBODY TD.selected {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND: #DCE2E9; PADDING-BOTTOM: 0px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px solid
}
.calendar TBODY TD.weekend {
	COLOR: #FF6000
}
.calendar TBODY TD.today {
	FONT-WEIGHT: bold; COLOR: #00f
}
.calendar TBODY .disabled {
	COLOR: #999
}
.calendar TBODY .emptycell {
	VISIBILITY: hidden
}
.calendar TBODY .emptyrow {
	DISPLAY: none
}
.calendar TFOOT .footrow {
	
}
.calendar TFOOT .ttip {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 1px; BACKGROUND: #FF9B9B ; PADDING-BOTTOM: 1px; BORDER-LEFT: #000 1px solid; COLOR: #FFFFFF ;; PADDING-TOP: 1px; BORDER-BOTTOM: #000 1px solid; TEXT-ALIGN: center
}
.calendar TFOOT .hilite {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 1px; BACKGROUND: #FFFFFF; PADDING-BOTTOM: 1px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #000 1px solid
}
.calendar TFOOT .active {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px solid
}
.combo {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #fff 1px solid; DISPLAY: none; PADDING-LEFT: 1px; FONT-SIZE: smaller; BACKGROUND: #FFFFFF; LEFT: 0px; PADDING-BOTTOM: 1px; BORDER-LEFT: #fff 1px solid; WIDTH: 4em; CURSOR: default; PADDING-TOP: 1px; BORDER-BOTTOM: #000 1px solid; POSITION: absolute; TOP: 0px
}
.combo .label {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; TEXT-ALIGN: center
}
.combo .label-IEfix {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; TEXT-ALIGN: center
}
.combo .label-IEfix {
	WIDTH: 4em
}
.combo .active {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 0px; BACKGROUND: #FFFFFF; PADDING-BOTTOM: 0px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid
}
.combo .hilite {
	BACKGROUND: #9DACBF; COLOR: #000000
}
.calendar TD.time {
	PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BACKGROUND-COLOR: #DCE2E9; TEXT-ALIGN: center
}
.calendar TD.time .hour {
	BORDER-RIGHT: #889 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #889 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #889 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #889 1px solid; BACKGROUND-COLOR: #fff
}
.calendar TD.time .minute {
	BORDER-RIGHT: #889 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #889 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #889 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #889 1px solid; BACKGROUND-COLOR: #fff
}
.calendar TD.time .ampm {
	BORDER-RIGHT: #889 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #889 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #889 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #889 1px solid; BACKGROUND-COLOR: #fff
}
.calendar TD.time .ampm {
	TEXT-ALIGN: center
}
.calendar TD.time .colon {
	PADDING-RIGHT: 2px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.calendar TD.time SPAN.hilite {
	BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; COLOR: #fff; BORDER-TOP-COLOR: #000; BACKGROUND-COLOR: #667; BORDER-RIGHT-COLOR: #000
}
.calendar TD.time SPAN.active {
	BORDER-LEFT-COLOR: #FF6000; BORDER-BOTTOM-COLOR: #FF6000; COLOR: #0f0; BORDER-TOP-COLOR: #FF6000; BACKGROUND-COLOR: #000; BORDER-RIGHT-COLOR: #FF6000
}
	.keywordLabels {
		border-width: 1 ;
		border-color: black ;
		border-style: solid ;
		padding: 4px ;
	}
	.fontColorNameDir {
		color: #698DB8 ;
	}
	.backgroundColorNameDirHighlightedCell {
		background-color: #EFF4E4 ;
	}
/* Can't load file C:\Program Files\Isotools\IsotoolsStudioMPV4\application\components\newsletterMore\css\00010003.css */
/* Can't load file C:\Program Files\Isotools\IsotoolsStudioMPV4\application\components\objectModelCore\css\00010003.css */
	.orgChartPoste {
		color: #ffffff ;
		text-decoration: none ;
		background-color: #496fb3 ;
		font-size: 11px ;
	}
	.orgChartAssistant {
		color: #000000 ;
		text-decoration: none ;
		font-size: 11px ;
		background-color: #d2d8e7 ;
	}
	.orgChartSubordinate {
		color: #000000 ;
		text-decoration: none ;
		font-size: 11px ;
		background-color: #d2d8e7 ;
	}
	.orgChartPoste3 {
		color: #000000 ;
		text-decoration: none ;
		font-size: 11px ;
		background-color: #d2d8e7 ;
	}
	.orgManagement {
		color: $orgc:managementTextColor ;
		text-decoration: none ;
		background-color: $orgc:managementBgColor ;
		text-align: center ;
		font-size: 12px ;
	}
	.orgManagement:link {
		color: $orgc:managementTextColor ;
		text-decoration: none ;
		background-color: $orgc:managementBgColor ;
		text-align: center ;
		font-size: 12px ;
	}
	.orgManagement:hover {
		color: $orgc:managementTextColor ;
		text-decoration: underline ;
		background-color: $orgc:managementBgColor ;
		text-align: center ;
		font-size: 12px ;
	}
	.orgManagement:visited {
		color: $orgc:managementTextColor ;
		text-decoration: none ;
		background-color: $orgc:managementBgColor ;
		text-align: center ;
		font-size: 12px ;
	}
	.orgAssistantManager {
		text-decoration: none ;
		font-size: 10px ;
		background-color: $orgc:assistantManagerBgColor ;
		color: $orgc:assistantManagerTextColor ;
	}
	.orgAssistantManager:link {
		text-decoration: none ;
		font-size: 10px ;
		background-color: $orgc:assistantManagerBgColor ;
		color: $orgc:assistantManagerTextColor ;
	}
	.orgAssistantManager:hover {
		text-decoration: none ;
		font-size: 10px ;
		background-color: $orgc:assistantManagerBgColor ;
		color: $orgc:assistantManagerTextColor ;
	}
	.orgAssistantManager:visited {
		text-decoration: none ;
		font-size: 10px ;
		background-color: $orgc:assistantManagerBgColor ;
		color: $orgc:assistantManagerTextColor ;
	}
	.orgConsultingManager {
		text-decoration: none ;
		font-size: 10px ;
		background-color: $orgc:consultingManagerBgColor ;
		color: $orgc:consultingManagerTextColor ;
	}
	.orgConsultingManager:link {
		text-decoration: none ;
		font-size: 10px ;
		background-color: $orgc:consultingManagerBgColor ;
		color: $orgc:consultingManagerTextColor ;
	}
	.orgConsultingManager:hover {
		text-decoration: none ;
		font-size: 10px ;
		background-color: $orgc:consultingManagerBgColor ;
		color: $orgc:consultingManagerTextColor ;
	}
	.orgConsultingManager:visited {
		text-decoration: none ;
		font-size: 10px ;
		background-color: $orgc:consultingManagerBgColor ;
		color: $orgc:consultingManagerTextColor ;
	}
	.orgDepartment {
		color: $orgc:departmentTextColor ;
		text-decoration: none ;
		background-color: $orgc:departmentBgColor ;
		font-weight: bold ;
		text-align: center ;
		font-size: 11px ;
	}
	.orgDepartment:link {
		color: $orgc:departmentTextColor ;
		text-decoration: none ;
		background-color: $orgc:departmentBgColor ;
		font-weight: bold ;
		text-align: center ;
		font-size: 11px ;
	}
	.orgDepartment:hover {
		color: $orgc:departmentTextColor ;
		text-decoration: underline ;
		background-color: $orgc:departmentBgColor ;
		font-weight: bold ;
		text-align: center ;
		font-size: 11px ;
	}
	.orgDepartment:visited {
		color: $orgc:departmentTextColor ;
		text-decoration: none ;
		background-color: $orgc:departmentBgColor ;
		font-weight: bold ;
		text-align: center ;
		font-size: 11px ;
	}
	.orgPeopleDepartment {
		color: $orgc:peopleDepartmentTextColor ;
		text-decoration: none ;
		background-color: $orgc:peopleDepartmentBgColor ;
		font-size: 11px ;
	}
	.orgPeopleDepartment:link {
		color: $orgc:peopleDepartmentTextColor ;
		text-decoration: none ;
		background-color: $orgc:peopleDepartmentBgColor ;
		font-size: 11px ;
	}
	.orgPeopleDepartment:hover {
		color: $orgc:peopleDepartmentTextColor ;
		text-decoration: underline ;
		background-color: $orgc:peopleDepartmentBgColor ;
		font-size: 11px ;
	}
	.orgPeopleDepartment:visited {
		color: $orgc:peopleDepartmentTextColor ;
		text-decoration: none ;
		background-color: $orgc:peopleDepartmentBgColor ;
		font-size: 11px ;
	}
	.orgAssistantDepartment {
		text-decoration: none ;
		font-size: 10px ;
		background-color: $orgc:assistantDepartmentBgColor ;
		color: $orgc:assistantDepartmentTextColor ;
	}
	.orgAssistantDepartment:link {
		text-decoration: none ;
		font-size: 10px ;
		background-color: $orgc:assistantDepartmentBgColor ;
		color: $orgc:assistantDepartmentTextColor ;
	}
	.orgAssistantDepartment:hover {
		text-decoration: none ;
		font-size: 10px ;
		background-color: $orgc:assistantDepartmentBgColor ;
		color: $orgc:assistantDepartmentTextColor ;
	}
	.orgAssistantDepartment:visited {
		text-decoration: none ;
		font-size: 10px ;
		background-color: $orgc:assistantDepartmentBgColor ;
		color: $orgc:assistantDepartmentTextColor ;
	}
	.orgConsultingDepartment {
		text-decoration: none ;
		font-size: 10px ;
		background-color: $orgc:consultingDepartmentBgColor ;
		color: $orgc:consultingDepartmentTextColor ;
	}
	.orgConsultingDepartment:link {
		text-decoration: none ;
		font-size: 10px ;
		background-color: $orgc:consultingDepartmentBgColor ;
		color: $orgc:consultingDepartmentTextColor ;
	}
	.orgConsultingDepartment:hover {
		text-decoration: none ;
		font-size: 10px ;
		background-color: $orgc:consultingDepartmentBgColor ;
		color: $orgc:consultingDepartmentTextColor ;
	}
	.orgConsultingDepartment:visited {
		text-decoration: none ;
		font-size: 10px ;
		background-color: $orgc:consultingDepartmentBgColor ;
		color: $orgc:consultingDepartmentTextColor ;
	}
	.orgService {
		color: $orgc:serviceTextColor ;
		text-decoration: none ;
		background-color: $orgc:serviceBgColor ;
		font-weight: bold ;
		font-size: 11px ;
	}
	.orgService:link {
		color: $orgc:serviceTextColor ;
		text-decoration: none ;
		background-color: $orgc:serviceBgColor ;
		font-weight: bold ;
		font-size: 11px ;
	}
	.orgService:hover {
		color: $orgc:serviceTextColor ;
		text-decoration: underline ;
		background-color: $orgc:serviceBgColor ;
		font-weight: bold ;
		font-size: 11px ;
	}
	.orgService:visited {
		color: $orgc:serviceTextColor ;
		text-decoration: none ;
		background-color: $orgc:serviceBgColor ;
		font-weight: bold ;
		font-size: 11px ;
	}
	.orgPeopleService {
		color: $orgc:serviceTextColor ;
		text-decoration: none ;
		background-color: $orgc:serviceBgColor ;
		font-weight: normal ;
		font-size: 11px ;
	}
	.orgPeopleService:link {
		color: $orgc:serviceTextColor ;
		text-decoration: none ;
		background-color: $orgc:serviceBgColor ;
		font-weight: normal ;
		font-size: 11px ;
	}
	.orgPeopleService:hover {
		color: $orgc:serviceTextColor ;
		text-decoration: none ;
		background-color: $orgc:serviceBgColor ;
		font-weight: normal ;
		font-size: 11px ;
	}
	.orgPeopleService:visited {
		color: $orgc:serviceTextColor ;
		text-decoration: none ;
		background-color: $orgc:serviceBgColor ;
		font-weight: normal ;
		font-size: 11px ;
	}
	.orgPeople {
		color: $orgc:peopleTextColor ;
		text-decoration: none ;
		font-size: 10px ;
		background-color: $orgc:peopleBgColor ;
	}
	.orgPeople:link {
		color: $orgc:peopleTextColor ;
		text-decoration: none ;
		font-size: 10px ;
		background-color: $orgc:peopleBgColor ;
	}
	.orgPeople:hover {
		color: $orgc:peopleTextColor ;
		text-decoration: underline ;
		font-size: 10px ;
		background-color: $orgc:peopleBgColor ;
	}
	.orgPeople:visited {
		color: $orgc:peopleTextColor ;
		text-decoration: none ;
		font-size: 10px ;
		background-color: $orgc:peopleBgColor ;
	}
	.fontColorPersonName {
		color: #F00000 ;
	}
	.backgroundColorPerson {
		background-color: #FFDDDD ;
	}
	.backgroundColorRbRoomTitleCell {
		background-color: #0000AC ;
	}
	.fontColorRbRoomTitleCell {
		color: #FFFFFF ;
	}
	.backgroundColorRbRoomCell {
		background-color: #DFDFFF ;
	}
	.fontColorRbRoomCell {
		color: #000000 ;
	}
	.backgroundColorRbRoomHighlightedCell {
		background-color: #FEF7DE ;
	}
	.fontColorRbRoomHighlightedCell {
		color: #000000 ;
	}
	.backgroundColorRbDateCell {
		background-color: #000099 ;
	}
	.fontColorRbDateCell {
		color: #FFFFFF ;
	}
	.backgroundColorRbCell {
		background-color: #D2D2FF ;
	}
	.fontColorRbCell, .fontColorRbCell:link, .fontColorRbCell:hover, .fontColorRbCell:visited, .fontColorRbCell:active {
		color: #FFFFFF ;
	}
	.backgroundColorRbSelectedCell {
		background-color: #FF9900 ;
	}
	.fontColorRbSelectedCell {
		color: #FFFFFF ;
	}
	.backgroundColorRbTitleCell {
		background-color: #000099 ;
	}
	.fontColorRbTitleCell, .fontColorRbTitleCell:link, .fontColorRbTitleCell:hover, .fontColorRbTitleCell:visited, .fontColorRbTitleCell:active {
		color: #FFFFFF ;
	}
	.rbColorHr {
		background-color: #000099 ;
	}
	.backgroundColorRbSelectAskCell {
		background-color: #99ff99 ;
	}
	.fontColorRbSelectAskCell {
		color: #FFFFFF ;
	}
	.rbTooltip {
		position: absolute ;
		visibility: hidden ;
		z-index: 4 ;
	}
	.rbTooltipBorder {
		border-width: 1px ;
		border-style: solid ;
		border-color: #000099 ;
		border-collapse: collapse ;
	}
/* Can't load file C:\Program Files\Isotools\IsotoolsStudioMPV4\application\components\rss\css\00010003.css */
.sortButtonLink {
	padding-left: 0px;
	padding-right: 0px;

}

.sortButtonUp {
	float:left;
	width: 12px;
	height: 12px;
	cursor:hand;
	background: url("dynlib_sortup.gif") no-repeat;
	margin-left:5px
	margin-right:5px
}

.sortButtonDown {
	float:left;
	width: 12px;
	height: 12px;
	cursor:hand;
	background: url("dynlib_sortdown.gif") no-repeat;
	margin-left:5px
	margin-right:5px
}

span.headingLabel {
	float:left;
	padding-right: 5px;
}

span.sortButtonText {
	display:none;
	width: 12px;
	height: 12px;
}


p.downloadTitle {
	margin: 0px;
	font-weight: bold;
}

p.downloadDescription {
	margin: 0px;
}

img.downloadIcon {
	margin: 5px;
}

table.tableFramewide {
	border-width: 4px;
	border-style: solid;
	border-color: #C0C0C0;
	border-collapse: collapse;
}

table.tableFramewide td.cardCell, table.tableFramewide td.cardNavigationBar {
	border-width: 4px;
	border-style: solid;
	border-color: #C0C0C0;
	padding: 4px;
	
}

table.tableFramenarrow {
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	border-collapse: collapse;
}

table.tableFramenarrow td.cardCell, table.tableFramenarrow td.cardNavigationBar {
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding: 4px;
	
}

td.cardNavigationBar {
	font-weight: bold;
}
.siteMapFrame{
	width:100%;
	margin-bottom:20px;
}
.siteMapLevel1{
	background-position:10px  50%;
	display:block;
	background-repeat:no-repeat;
	border-color: #8297B1 ;
	border-style:solid;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:15px;
	padding:5px;
	background-color: #FFFFFF ; 
	margin-bottom:10px;
}
.siteMapLevel1 A, .siteMapLevel1 A:link, .siteMapLevel1 A:hover, .siteMapLevel1 A:visited, .siteMapLevel1 A:active{
	text-decoration:none;
	font-weight:bold;
	color: #000000 ;
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 11px ;
}
.siteMapLevel2{
	display:block;
	background-repeat:no-repeat;
	padding-left:20px;
	background-image:url(sitemap_L2.png);
	background-position:5px  8px;
	line-height:20px;
}
.siteMapLevel2 A, .siteMapLevel2 A:link, .siteMapLevel2 A:hover, .siteMapLevel2 A:visited, .siteMapLevel2 A:active{
	text-decoration:none;
	color: #000000 ;
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 11px ;
}
.siteMapLevel3{
	display:block;
	background-repeat:no-repeat;
	padding-left:40px;
	background-image:url(sitemap_L3.png);
	background-position:25px 7px;
	line-height:20px;
}
.siteMapLevel3 A, .siteMapLevel3 A:link, .siteMapLevel3 A:hover, .siteMapLevel3 A:visited, .siteMapLevel3 A:active{
	text-decoration:none;
	color: #000000 ;
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 11px ;
}
.siteMapLevel4{
	display:block;
	background-repeat:no-repeat;
	padding-left:60px;
	background-image:url(sitemap_L4.png);
	background-position:45px 8px;
	line-height:20px;
}
.siteMapLevel4 A, .siteMapLevel4 A:link, .siteMapLevel4 A:hover, .siteMapLevel4 A:visited, .siteMapLevel4 A:active{
	text-decoration:none;
	color: #000000 ;
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 11px ;
}
.siteMapLevel5{
	display:block;
	background-repeat:no-repeat;
	padding-left:80px;
	background-image:url(sitemap_L5.png);
	background-position:65px 8px;
	line-height:20px;
}
.siteMapLevel5 A, .siteMapLevel5 A:link, .siteMapLevel5 A:hover, .siteMapLevel5 A:visited, .siteMapLevel5 A:active{
	text-decoration:none;
	color: #000000 ;
	font-family: Verdana, Arial, Helvetica, sans-serif ;
 	font-size: 11px ; 
}
/*------------------------------------------------------------------------------------------------------------------------
													MODULE 'SME'
------------------------------------------------------------------------------------------------------------------------*/

/********************************
** Raccourcis
********************************/

#smeSendToFriend label, #smeSendError label{
	float: left;
	margin-right: 8px;
	width:45%;
	text-align: right;
}

#smeSendToFriend input, #smeSendError input,
#smeSendToFriend textarea, #smeSendError textarea{
	width:45%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	background-color: #fff;
	color: #000;
	margin: 0;
	padding: 0;
	text-align: left;
}

#smeSendError p, #smeSendError div,
#smeSendToFriend p, #smeSendToFriend div {
	clear: both;
	margin: 5px 0;
}


#smeSendToFriend #submit,
#smeSendError #submit{
	background-color: #EFEFEF;
	font-weight: bold;
	font-size : 110%;
	text-align: center;
	float:right;
}
/********************************
** Plan du site
********************************/
.smeSiteMapFrame{
	margin: 0 5px 20px 0;
	float:left;
}

.smeSiteMapFrame ul {
	list-style:none;
	padding:0;
	margin:0;
}

.smeSiteMapLevel1{
	background-position:10px  50%;
	display:block;
	background-repeat:no-repeat;
	border-color: #8297B1 ;
	border-style:solid;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:15px;
	padding:5px;
	background-color: #FFFFFF ; 
	margin-bottom:10px;
	font-size:110%;
}

h2.smeSiteMapLevel1 a, h2.smeSiteMapLevel1 a:link, h2.smeSiteMapLevel1 a:hover, h2.smeSiteMapLevel1 a:visited, h2.smeSiteMapLevel1 a:active{
	text-decoration:none;
	font-weight:bold;
}

ul.smeSiteMapLevel2 li{
	display:block;
	background-repeat:no-repeat;
	padding-left:15px;
	background-image:url(sitemap_L2.png);
	background-position:5px 4px;
	line-height:1.2em;
}
ul.smeSiteMapLevel2 a, .smeSiteMapLevel2 a:link, .smeSiteMapLevel2 a:hover, .smeSiteMapLevel2 a:visited, .smeSiteMapLevel2 a:active{
	text-decoration:none;
}
ul.smeSiteMapLevel3 li{
	display:block;
	background-repeat:no-repeat;
	padding-left:20px;
	background-image:url(sitemap_L3.png);
	background-position:10px 3px;
	line-height:1.2em;
}
ul.smeSiteMapLevel3 a, .smeSiteMapLevel3 a:link, .smeSiteMapLevel3 a:hover, .smeSiteMapLevel3 a:visited, .smeSiteMapLevel3 a:active{
	text-decoration:none;
}
ul.smeSiteMapLevel4 li{
	display:block;
	background-repeat:no-repeat;
	padding-left:25px;
	background-image:url(sitemap_L4.png);
	background-position:15px 5px;
	line-height:1.2em;
}
ul.smeSiteMapLevel4 a, .smeSiteMapLevel4 a:link, .smeSiteMapLevel4 a:hover, .smeSiteMapLevel4 a:visited, .smeSiteMapLevel4 a:active{
	text-decoration:none;
}
ul.smeSiteMapLevel5 li{
	display:block;
	background-repeat:no-repeat;
	padding-left:30px;
	background-image:url(sitemap_L5.png);
	background-position:20px 5px;
	line-height:1.2em;
}
ul.smeSiteMapLevel5 a, .smeSiteMapLevel5 a:link, .smeSiteMapLevel5 a:hover, .smeSiteMapLevel5 a:visited, .smeSiteMapLevel5 a:active{
	text-decoration:none;
}
	.surveyHeaderFontColor {
		color: #4E68A4 ;
	}
	.surveyHeaderBgColor {
		background-color: #EFF3F7 ;
	}
	.surveyHistogramColor {
		background-color: #800000 ;
	}

.borderTable{
	border-color:#FF8080 ;
	border-width:1px ;
	border-style:solid ;
}
.backgroundColorTableBorder{
	background-color:#FF8080 ;
}
.backgroundColorTitleCell{
	background-color:#FF9B9B ;
}
.fontColorTitleCell{
	color:#FFFFFF ;
}
.highlightTitleCell{
	background-color:#FFFFFF ;
	color:#FF9B9B ;
}
.backgroundColorTableCell{
	background-color:#FFFFFF ;
}
.fontColorTableCell{
	color:#400040 ;
}
.backgroundColorSelectedCell{
	background-color:#E3DBFF ;
}
.fontColorSelectedCell{
	color:#000000 ;
}
.backgroundColorHighlightedCell{
	background-color:#FFD2D2 ;
}
.fontColorHighlightedCell{
	color:#000000 ;
}
TD.fontColorTitleCell A:link{
	color:#FFFFFF ;
	text-decoration:none ;
}
TD.fontColorTitleCell A:visited{
	color:#FFFFFF ;
	text-decoration:none ;
}
TD.fontColorTitleCell A:hover{
	color:#FFFFFF ;
	text-decoration:none ;
}
TD.fontColorSelectedCell A:link{
	color:#C08000 ;
	text-decoration:none ;
}
TD.fontColorSelectedCell A:hover{
	color:#C08000 ;
	text-decoration:none ;
}
TD.fontColorSelectedCell A:visited{
	color:#C08000 ;
	text-decoration:none ;
}
TD.fontColorHighlightedCell A:link{
	color:#C08000 ;
	text-decoration:none ;
}
TD.fontColorHighlightedCell A:hover{
	color:#C08000 ;
	text-decoration:none ;
}
TD.fontColorHighlightedCell A:visited{
	color:#C08000 ;
	text-decoration:none ;
}
TD.fontColorTableCell A:link{
	color:#C08000 ;
	text-decoration:none ;
}
TD.fontColorTableCell A:hover{
	color:#C08000 ;
	text-decoration:none ;
}
TD.fontColorTableCell A:visited{
	color:#C08000 ;
	text-decoration:none ;
}


TABLE.s-table {
	font-size: 11px ;
	border-collapse: collapse ;
	font-family: Verdana, Arial, Helvetica, sans-serif ;
}

TABLE.s-table TD.s-table, TABLE.s-table TH.s-tableTitleCell {
	border-width: 1px ;
	border-style: solid ;
	border-color: #FF8080 ;
	padding: 4px ;
}



TABLE.s-table TH.s-tableTitleCell, TABLE.s-table TD.titleCell {
	color: #FFFFFF ;
	background-color:#FF9B9B ;
}

TABLE.s-table TH.s-tableTitleCell A:link, TABLE.s-table TH.s-tableTitleCell A:visited, TABLE.s-table TH.s-tableTitleCell A:hover,
TABLE.s-table TD.titleCell A:link, TABLE.s-table TD.titleCell A:visited, TABLE.s-table TD.titleCell A:hover {
	color:	#FFFFFF ;
	text-decoration: underline ;
}

TABLE.s-table TR.even TD.s-table, TABLE.s-table TR.odd TD.s-table {
	color: #400040 ;
	background-color: #FFFFFF ;
}

TABLE.s-table TR.even TD.s-table A:link, TABLE.s-table TR.even TD.s-table A:visited, TABLE.s-table TR.even TD.s-table A:hover,
TABLE.s-table TR.odd  TD.s-table A:link, TABLE.s-table TR.odd  TD.s-table A:visited, TABLE.s-table TR.odd  TD.s-table A:hover
{
	color: #C08000 ;
	text-decoration: underline ;
}

TABLE.oddEven TR.odd TD.s-table {
	background-color: #FFD2D2 ;
	color: #000000 ;
}
TABLE.oddEven TR.odd TD.s-table A:link, TABLE.oddEven TR.odd TD.s-table A:visited, TABLE.oddEven TR.odd TD.s-table A:hover {
	color: #C08000 ;
	text-decoration: underline ;
}

TABLE.s-table TD.selectedCell {
	color: #000000 ;
	background-color:#E3DBFF ;
}

TABLE.s-table TD.selectedCell A:link, TABLE.s-table TD.selectedCell A:visited, TABLE.s-table TD.selectedCell A:hover {
	color:	#C08000 ;
	text-decoration: underline ;
}

TABLE.constant TR TD.odd, TABLE.constant TR TD.even {
	background-color:	#FFFFFF ;
	color:	#000000 ;
}

TABLE.cols TR TD.even {
	background-color:	#FFFFFF ;
	color:	#000000 ;
}

TABLE.cols TR TD.odd {
	background-color:	#F0F0F0 ;
	color:	#000000 ;
}


TABLE.rows TR.evenCardRow TD.even, TABLE.rows TR.evenCardRow TD.odd{
	background-color:	#FFFFFF ;
	color:	#000000 ;
}
TABLE.rows TR.oddCardRow TD.even, TABLE.rows TR.oddCardRow TD.odd{
	background-color:	#F0F0F0 ;
	color:	#000000 ;
}


TABLE.checkerboard TR.evenCardRow TD.even {
	background-color:	#FFFFFF ;
	color:	#000000 ;
}

TABLE.checkerboard TR.oddCardRow TD.even {
	background-color:	#F0F0F0 ;
	color:	#000000 ;
}

TABLE.checkerboard TR.evenCardRow TD.odd {
	background-color:	#F0F0F0 ;
	color:	#000000 ;
}

TABLE.checkerboard TR.oddCardRow TD.odd {
	background-color:	#FFFFFF ;
	color:	#000000 ;
}

p.tableCaption {
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 11px ;
	font-weight: bold;
	color: #888888 ;
	margin-top: 3px;
	margin-bottom: 10px;
}

p.figureCaption {
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 11px ;
	color: #888888 ;
	margin-top: 3px;
	margin-bottom: 10px;
	font-weight: bold;
}

table.noFrameGrid {
	border-collapse: collapse ;	
	background-color: transparent;
}
table.noFrameGrid tr td.grid {
	border-width: 0;
	background-color: transparent;	
}


table.narrowFrameGrid {
	border-collapse: collapse ;	
	background-color: transparent;
}
table.narrowFrameGrid tr td.grid {
	border-width: 0;
	background-color: transparent;
	border-width: 1;
	border-style: solid;
	border-color: black;
	padding: 3;
}

table.wideFrameGrid {
	border-collapse: collapse ;	
	background-color: transparent;
}
table.wideFrameGrid tr td.grid {
	border-width: 0;
	background-color: transparent;
	border-width: 3;
	border-style: solid;
	border-color: #FF9B9B ;
	padding: 6;
}/*------------------------------------------------------------------------------------------------------------------------
													MODULE 'TABLE'
------------------------------------------------------------------------------------------------------------------------*/

.tabTable{}

.tabStandardTable {
	border-collapse:collapse;
	border:1px solid #ccc;
	border-spacing:0px;
}

.tabRedTable {
	border-collapse:collapse;
	border:10px solid red;
	border-spacing:10px;
}

.tabCaption {
	text-align: center;
	color: $xsh:legendColor ;
}

.tabOddRow td {
	background-color:#fff;
}

.tabEvenRow td {
	background-color:#eee;
}

.tabTh {
	background-color:#ddd;
	border:1px solid #ccc;
	padding:2px;
}

.tabTd {
	background-color:#fff;
	border:1px solid #ccc;
	padding:2px;
}

.tabTable p {
	margin:0;
	padding:0;
}

/* alignement du tableau */
.tableft {
	float:left;
	margin-bottom:1em;
}

.tabright {
	float:right;
	margin-bottom:1em;
}

.tabcenter {
	margin:auto;
}

/* alignement des cellules */
.tabCelltopleft {
	vertical-align:top;
	text-align:left;
}

.tabCelltopcenter {
	vertical-align:top;
	text-align:center;
}

.tabCelltopright {
	vertical-align:top;
	text-align:right;
}

.tabCellmiddleleft {
	vertical-align:middle;
	text-align:left;
}

.tabCellmiddlecenter {
	vertical-align:middle;
	text-align:center;
}

.tabCellmiddleright {
	vertical-align:middle;
	text-align:right;
}

.tabCellbottomleft {
	vertical-align:bottom;
	text-align:left;
}

.tabCellbottomcenter {
	vertical-align:bottom;
	text-align:center;
}

.tabCellbottomright {
	vertical-align:bottom;
	text-align:right;
}

.directHtml TABLE{
	font-size:11px ;
	border-collapse:collapse ;
}
.directHtml TD{
	border-width:1px ;
	border-style:solid ;
	border-color:#FF8080 ;
}
.directHtml TABLE.oddEven TR.odd{
	background-color:#FFD2D2 ;
	color:#000000 ;
}
.directHtml TR{
	color:#400040 ;
	background-color:#FFFFFF ;
}
.directHtml TD.titleCell{
	color:#FFFFFF ;
	background-color:#FF9B9B ;
}
TD.directHtml TD.titleCell A:hover{
	text-decoration:none ;
	color:#FFFFFF ;
}
TD.directHtml TABLE.oddeven TR.odd A:hover{
	color:#C08000 ;
	text-decoration:none ;
}
TD.directHtml TR A:hover{
	text-decoration:none ;
	color:#C08000 ;
}
TD.directHtml TD.titleCell A:link{
	text-decoration:none ;
	color:#FFFFFF ;
}
TD.directHtml TABLE.oddeven TR.odd A:link{
	color:#C08000 ;
	text-decoration:none ;
}
TD.directHtml TR A:link{
	color:#C08000 ;
	text-decoration:none ;
}
TD.directHtml TD.titleCell A:visited{
	text-decoration:none ;
	color:#FFFFFF ;
}
TD.directHtml TABLE.oddeven TR.odd A:visited{
	color:#C08000 ;
	text-decoration:none ;
}
TD.directHtml TR A:visited{
	color:#C08000 ;
	text-decoration:none ;
}
.backgroundColorTocTitleCell{
	background-color:#8297B1
}
.backgroundColorTocCell{
	background-color:#FFFFFF
}
.fontColorTocTitleCell, .fontColorTocTitleCell:link, .fontColorTocTitleCell:hover, .fontColorTocTitleCell:active, .fontColorTocTitleCell:visited{
	color:#FFFFFF
	text-decoration:none;
}
.fontColorTocCell, .fontColorTocCell:link, .fontColorTocCell:active, .fontColorTocCell:hover, .fontColorTocCell:visited{
	color:#000000
}
.backgroundColorBorderTocScroller{
}
.backgroundColorTocScroller{
	background-color:#FFFFFF
}
.fontColorTocScroller, .fontColorTocScroller:link, .fontColorTocScroller:visited, .fontColorTocScroller:active, .fontColorTocScroller:hover{
	color:#000000
}
/* Can't load file C:\Program Files\Isotools\IsotoolsStudioMPV4\application\components\tableofcontents\css\00010072.css */
	.tabBox {
	}
	.tabArea {
		padding: 0px 0px 4px 0px ;
	}
	.tab, .tab:active, .tab:link, .tab:visited {
		background-color: #E5E5E5 ;
		border-bottom-width: 0px ;
		position: relative ;
		text-decoration: none ;
		top: 3px ;
		z-index: 100 ;
		color: #FFFFFF ;
		border: 2px solid #000000 ;
		border-color: #000000 ;
		padding: 4px ;
	}
	.activeTab, .activeTab:link, .activeTab:visited, .activeTab:hover, .activeTab:active, .tab:hover {
		border-color: #000000 ;
		color: #C83939 ;
		padding-bottom: 4px ;
		top: 1px ;
		z-index: 102 ;
		background-color: #000000 ;
		text-decoration: none ;
		padding: 4px ;
		font-weight: bold ;
	}
	.tabMain {
		background-color: #000000 ;
		position: relative ;
		z-index: 101 ;
		overflow: hidden ;
		border-color: #000000 #000000 #000000 #000000 ;
		border: 2px solid #000000 ;
	}
	.tabContent {
		width: 100% ;
		overflow: auto ;
		height: 100% ;
		visibility: hidden ;
		top: 0px ;
		left: 0px ;
		position: absolute ;
		padding: 4px ;
	}
/* Can't load file C:\Program Files\Isotools\IsotoolsStudioMPV4\application\components\upload\css\00010003.css */
	.fontFamilyStandardText {
		font-family: Verdana, Arial, Helvetica, sans-serif ;
	}
	.fontFamilyMenu {
		font-family: $hsh:fontFamilyMenu ;
	}
	.fontFamilySpecialText {
		font-family: Verdana, Arial, Helvetica, sans-serif ;
	}
	.fontSizeNormal {
		font-size: 11px ;
	}
	.fontSizeSmall {
		font-size: 80% ;
	}
	.fontSizeBig {
		font-size: 130% ;
	}
	.fontSizeBigger {
		font-size: 180% ;
	}
	.directHtml H1 {
		color: #000000 ;
		font-size: 24px ;
		margin-bottom: 0.2em ;
		margin-top: 0.2em ;
	}
	.directHtml H2 {
		color: #000000 ;
		font-size: 18px ;
		margin-bottom: 0.2em ;
		margin-top: 0.2em ;
	}
	.directHtml H3 {
		color: #000000 ;
		font-size: 16px ;
		margin-bottom: 0.2em ;
		margin-top: 0.2em ;
	}
	.directHtml H4 {
		color: #000000 ;
		font-size: 14px ;
		margin-bottom: 0.2em ;
		margin-top: 0.2em ;
	}
	.directHtml H5 {
		color: #000000 ;
		font-size: 12px ;
		margin-top: 0.2em ;
		margin-bottom: 0.2em ;
	}
	.directHtml H6 {
		color: #000000 ;
		font-size: 11px ;
		margin-bottom: 0.2em ;
		margin-top: 0.2em ;
	}
	.fontStyleItalic {
		font-style: italic ;
	}
	.fontStyleBold {
		font-weight: bold ;
	}
	.fontColorStandardText, .fontColorStandardText:link, .fontColorStandardText:active, .fontColorStandardText:hover, .fontColorStandardText:visited {
		color: #000000 ;
	}
	.fontColorHighlightText, .fontColorHighlightText:link, .fontColorHighlightText:active, .fontColorHighlightText:hover, .fontColorHighlightText:visited {
		color: #FFFFFF ;
	}
	.fontColorSpecialText {
		color: #000000 ;
	}
	.fontColorLegend {
		color: #888888 ;
	}
	.fontColorMenuL1, .fontColorMenuL1:link, .fontColorMenuL1:visited {
		color: $hsh:menuFgColor ;
		text-decoration: none ;
	}
	.fontColorMenuL1:hover, .fontColorMenuL1:active {
		color: $hsh:menuHoverFgColor ;
		text-decoration: none ;
	}
	.fontColorMenuL1Active, .fontColorMenuL1Active:link, .fontColorMenuL1Active:hover, .fontColorMenuL1Active:active, .fontColorMenuL1Active:visited {
		text-decoration: none ;
		color: $hsh:menuActiveFgColor ;
	}
	.fontColorMenuL1Hover, .fontColorMenuL1Hover:link, .fontColorMenuL1Hover:hover, .fontColorMenuL1Hover:active, .fontColorMenuL1Hover:visited {
		text-decoration: none ;
		color: $hsh:menuHoverFgColor ;
	}
	.fontColorMenuL2, .fontColorMenuL2:link, .fontColorMenuL2:visited {
		color: $hsh:submenuFgColor ;
		text-decoration: none ;
	}
	.fontColorMenuL2:hover, .fontColorMenuL2:active {
		color: $hsh:submenuHoverFgColor ;
		text-decoration: none ;
	}
	.fontColorMenuL2Active, .fontColorMenuL2Active:link, .fontColorMenuL2Active:hover, .fontColorMenuL2Active:active, .fontColorMenuL2Active:visited {
		color: $hsh:submenuActiveFgColor ;
		text-decoration: none ;
	}
	.fontColorMenuL2Hover, .fontColorMenuL2Hover:link, .fontColorMenuL2Hover:hover, .fontColorMenuL2Hover:active, .fontColorMenuL2Hover:visited {
		text-decoration: none ;
		color: $hsh:submenuHoverFgColor ;
	}
	.fontColorUsefullLink, .fontColorUsefullLink:link, .fontColorUsefullLink:hover, .fontColorUsefullLink:active, .fontColorUsefullLink:visited {
		color: #888888 ;
	}
	.fontColorShortcut, .fontColorShortcut:link, .fontColorShortcut:hover, .fontColorShortcut:active, .fontColorShortcut:visited {
		color: $hsh:pageShortcutFgColor ;
		text-decoration: none ;
	}
	.fontColorLocalize, .fontColorLocalize:link, .fontColorLocalize:hover, .fontColorLocalize:active, .fontColorLocalize:visited {
		color: $hsh:pageLocalizeFgColor ;
	}
	.fontColorPageTitle {
		color: #FF0000 ;
	}
	.fontColorLogo {
		color: $hsh:logoFgColor ;
	}
	.fontColorButtonText, .fontColorButtonText:link, .fontColorButtonText:active, .fontColorButtonText:visited {
		color: #FFFFFF ;
		text-decoration: none ;
	}
	.fontColorButtonText:hover {
		text-decoration: none ;
		color: #FFFFFF ;
	}
	.backgroundPage {
		background-color: $hsh:pageBgColor ;
		background-image: url(http://www.cherbourg-cotentin.cci.fr/iso_misc/$hsh:pageBgImg) ;
	}
	.backgroundContent {
		background-color: #FFFFFF ;
		background-image: url(http://www.cherbourg-cotentin.cci.fr/iso_misc/$hsh:pageMainBgImg) ;
	}
	.backgroundLogo {
		background-color: $hsh:logoBgColor ;
		background-image: url(http://www.cherbourg-cotentin.cci.fr/iso_misc/$hsh:logoBgImg) ;
	}
	.backgroundColorMain {
		background-color: $hsh:pageMainColor ;
	}
	.backgroundColorStandardText {
		background-color: #FFFFFF ;
	}
	.backgroundColorHighlightText {
		background-color: #000000 ;
	}
	.backgroundColorMenuL1 {
		background-color: $hsh:menuBgColor ;
	}
	.backgroundColorMenuL1Hover {
		background-color: $hsh:menuHoverBgColor ;
	}
	.backgroundColorMenuL1Active {
		background-color: $hsh:menuActiveBgColor ;
	}
	.backgroundColorMenuL2 {
		background-color: $hsh:submenuBgColor ;
	}
	.backgroundColorMenuL2Hover {
		background-color: $hsh:submenuHoverBgColor ;
	}
	.backgroundColorMenuL2Active {
		background-color: $hsh:submenuActiveBgColor ;
	}
	.backgroundColorMenuSeparator {
		background-color: $hsh:menuSeparatorColor ;
	}
	.backgroundColorLogo {
		background-color: $hsh:logoBgColor ;
	}
	.backgroundColorLocalize {
		background-color: $hsh:pageLocalizeBgColor ;
	}
	.backgroundColorShortcut {
		background-color: $hsh:pageShortcutBgColor ;
	}
	.alignMenu {
		text-align: $hsh:menuAlign ;
	}
	A {
		color: #0000B7 ;
		text-decoration: none ;
	}
	A:link {
		color: #0000B7 ;
		text-decoration: none ;
	}
	A:hover {
		color: #0000B7 ;
		text-decoration: none ;
	}
	A:active {
		color: #0000B7 ;
		text-decoration: none ;
	}
	A:visited {
		color: #0000B7 ;
		text-decoration: none ;
	}
	.visited, .visited:link, .visited:active, .visited:visited {
		color: #0000B7 ;
		text-decoration: none ;
	}
	.visited:hover {
		color: #0000B7 ;
		text-decoration: none ;
	}
	@media print {.noPrint {
		display: none ;
	}}
/*------------------------------------------------------------------------------------------------------------------------
													DECOR 'SHARED'
------------------------------------------------------------------------------------------------------------------------*/
.clear	{clear : both; line-height:0px}
.hide	{display: none;}
