/*
Theme Name: Bus Palladium
Theme URI:
Description: Thème pour le site du Bus Palladium à Paris
Author: Julien ETNA
Author URI: contact.manifesto@gmail.com
Tags:  
*/


* {margin:0;padding:0;}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
ol,ul {list-style:none;}
address,caption,cite,code,dnf,em,strong,th,var {font-style:normal;font-weight:normal;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
caption,th {text-align:left;}
q:before,q:after {content:'';}

body {
  font-size:11px;
  font-family:Arial, Verdana;
  background:#000000 url('bg_repeat-buspalladium.gif') repeat scroll 0 0;
  color:#989898;
  font-family:Arial,Verdana,Sans-Serif;
  text-align:center;
}

h3 {
color:#E2007A;
font-size:18px;
font-weight:normal;
margin:30px 0 0;
padding:0;
text-transform:uppercase;
}

h4 {
color:#EFEFEF;
font-size:18px;
font-weight:normal;
margin:30px 0 0;
padding:0;
text-transform:uppercase;
}

a {
  color:#FFFFFF;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

a.block {
  display:block;
  text-decoration:none;
  float:left;
  color:#989898;
  float:left;
}

.imageMain {
  background-color:#1D1D1D;
  border:1px solid #161616;
  padding:9px;
  width:622px;
}

.entry p {
  text-align:justify;
  padding:7px 0;
}

.entry a {
  color:#3780DF;
}

.entry strong {
  font-weight:bold;
  color:#FFFFFF;
}

.entry ol, .entry ul {
  list-style-image:none;
  list-style-position:inside;
  list-style-type:disc;
}

#page {
  padding-bottom:20px;
}

/*************************************/
/*             HEADER                */
/*************************************/

#header {
  background:transparent url(header-buspalladium.png) no-repeat scroll 0 0;
  height:174px;
  margin:0 auto;
  width:998px;
  _background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="wp-content/themes/buspalladium/images/header-buspalladium.png", sizingMethod="scale");

}

#headerimg {
  height:111px;
}

#headerimg h1 {
  float:left;
  width:380px;
}

#headerimg h1 a {
  color:#181818;
  display:block;
  font-size:1px;
  height:111px;
  text-align:left;
  width:380px;
}

.description {
  display:none;
}

#navbar {
width:998px;
_width:980px;
clear:both;
}

#navbar ul li {
  float:left;
  height:50px;
  padding:0 27px;
  _padding:0 20px;
  background: url('separateur_menu.gif') no-repeat 0 center;
}

#navbar ul li.menuFirst {
  background:none;
}

#navbar ul li a {
color:#C2C2C2;
font-family:georgia;
font-size:20px;
line-height:50px;
position:relative;
text-transform:uppercase;
z-index:2000;
}

#navbar ul li a:hover {
  text-decoration:none;
  color:#009EDF;
}

#radioPlayer {
  float:right;
  height:49px;
  margin-right:10px;
  margin-top:48px;
  width:190px;
  position:relative;
  z-index:30;
}

#radioPlayer a, #radioPlayer p {
  color:#FFFFFF;
  display:block;
  font-family:arial;
  font-size:14px;
  font-weight:bold;
  line-height:16px;
  margin-top:5px;
  padding-left:20px;
  text-align:left;
  text-transform:uppercase;
}

#radioPlayer p {
  color:#666;
  font-size:12px;
}

#radioPlayer a:hover {
  text-decoration:none;
  color:#FE82B9;
}

a#rpbusretro {
  background: url('player.gif') no-repeat scroll 0 0;
}

a#rpbuslive, p#rpbuslive {
  background: url('player.gif') no-repeat scroll 0 -19px;
}

a#rpbuslive:hover {
  color:#FE5458;
}

/************************************/
/*            DIVS GENERAUX         */
/************************************/

#container {
  background:#010101 url('bg_content.gif') repeat-x scroll 0 -15px;
  margin:0 auto;
  text-align:left;
  width:998px;
  padding:0;
}

#content {
  float:left;
  padding:20px 0 20px 20px;
  width:658px;
  _width:678px;
}

#arcContentTitle {
  background:transparent url('bg_tittle_archives.gif') repeat-x scroll 0 bottom;
  height:54px;  
}

#arcContentTitle h2 {
  float:left;
  font-family:georgia;
  font-size:38px;
  font-weight:normal;
  height:40px;
  line-height:40px;
  text-transform:uppercase;
}

#blockAgendaTittle {
  float:right;
  width:322px;
}

#agendaTittle, #archiveTittle {
  float:left;
  height:50px;
  padding-top:4px;
  _padding-top:0;
  text-align:center;
  width:161px;
  line-height:54px;
  font-size:18px;
  font-family:arial;
  text-transform:uppercase;
}

#agendaTittle a, #archiveTittle a {
  line-height:54px;
  font-size:18px;
  font-family:arial;
  text-transform:uppercase;
}

.ongletOn {
  background:transparent url('onglet_tittle_archives_on.gif') no-repeat scroll 0 0;
  color:#009FE1;
}

.ongletOff {
  background:transparent url('onglet_tittle_archives_off.gif') no-repeat scroll 0 0;
}

.ongletOff a {
  color:#545454;
}

.ongletOff a:hover {
  color:#FFFFFF;
  text-decoration:none;
}

#agendaContainer {
  background:transparent url('bg_agenda_top.gif') repeat-x scroll 0 top;
  padding-top:30px;
  _padding-top:15px;
  padding-left:8px;
}

#agendaContainer p.Erreur {
  color:#CD0D36;
  font-size:20px;
  padding:20px;
  text-align:center;
}

#agendaContainer .navigation {
  margin-top:-20px;
}

#imageDateHome {
  width:199px;
  height:109px;
  background:transparent url('date.png') no-repeat scroll;
  _background: none; /* Il supprimer l'image de fond s'il y en a une de déclarée dans la feuille de styles principale */
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://localhost/buspalladium/wp-content/themes/buspalladium/images/date.png", sizingMethod="scale");
  left:36px;
  _left:2px;
  position:relative;

}

/****************************************/
/*                      SIDEBAR         */
/****************************************/


#sidebar {
  float:left;
  padding:20px;
  _padding:0px;
  _margin-top:20px;
  width:280px;
}

#sidebar ul li {
  background-color:#1D1D1D;
  border:1px solid #161616;
  padding:7px;
  margin-bottom:10px;
}

#sidebar ul li h2 {
  color:#FFEC00;
  background-color:#181617;
  padding:12px 12px 0;
  _padding:12px 10px 0;
}

#sidebar ul li li {
  border:none;
  padding:0;
  margin:0 auto;
}

#sidebar ul li.widget_text .textwidget {
  background:#181617 url(bg-sidebarText.gif) repeat-x scroll 0 top;
  padding:12px;
  _padding:10px;
  text-align:justify;
}


.lienSidebar {
  background:transparent url(bg_liens_sidebar.gif) repeat-x scroll 0 0;
  line-height:49px;
}


/**********************************/
/*              CALENDRIER        */
/**********************************/

.widget_calendar h2.widgettitle {
  display:none;
}

.widget widget_calendar {
}

#calendar_wrap {
  background:#181617 url(bg-sidebarText.gif) repeat-x scroll 0 top;
}

#wp-calendar {
  width:100%;
  text-align:center;
}

#wp-calendar tbody, #wp-calendar thead {
  background-color:#000;
  text-align:center;
  text-transform:uppercase;
  
}

#wp-calendar tfoot {
height:29px;
}

#wp-calendar tfoot td {
  padding:0;
  width:50%;
}

#wp-calendar tfoot td#prev {text-align:left;padding-left:15px;}

#wp-calendar tfoot td#next {text-align:right;padding-right:15px;}

#wp-calendar tfoot td a {
  color:#989898;
  display:block;
  height:29px;
  line-height:29px;
  text-transform:uppercase;
}

#wp-calendar th, #wp-calendar td {
  font-size:12px;
  font-weight:bold;
  padding:2px 3px;
  text-align:center;
  color:#444444;
}

#wp-calendar th {
    color:#B4B29B;
}

#wp-calendar tbody td a {
  color:#009EDF;
  display:block;
}

#wp-calendar tbody td a:hover {
  background-color:#111111;
}

#wp-calendar caption {
  color:#E2017B;
  font-size:18px;
  font-weight:bold;
  text-align:center;
  text-transform:uppercase;
  padding:5px 0;
}


/**********************************/
/*       SOCIAL NETWORKING        */
/**********************************/



#menuFacebook a, #menuMyspace a, #menuBilletterie a {
  display:block;
  margin-left:7px;
  padding-left:42px;
  font-size:18px;
  color:#666666;
}

#menuFacebook a {background:transparent url('ico-facebook.gif') no-repeat scroll left center;}
#menuMyspace a {background:transparent url('ico-myspace.gif') no-repeat scroll left center;}
#menuBilletterie a {background:transparent url('ico-digitick.gif') no-repeat scroll left center;}


#footer {
  clear:both;
  margin:0 auto;
  padding:0;
  background:#EEEEEE url('bg_footer.gif') repeat-x scroll 0 0;
  height:46px;
}

#footer p {
  line-height:46px;
  text-align:center;
}


/************************************/
/*         POST ACCUEIL             */
/************************************/

.post {
  clear:both;
}


post h2 {
  color:#E2007A;
  float:left;
  font-size:20px;
  height:110px;
  text-transform:uppercase;
  width:460px;
}


.archive .archive-post, .single .post h2, .archivedayh2 {
  color:#E2007A;
  float:left;
  font-size:60px;
  height:105px;
  line-height:48px;
  margin-top:5px;
  text-transform:uppercase;
  width:447px;
}



.entry {
  clear:both;
  width:642px;
}

.eventImageHome {
  background-color:#000000;
  float:left;
  padding:10px;
}


.eventContentHome {
  float:left;
  padding-left:10px;
  width:464px;
  _width:474px;
}

.eventDescriptionHome {
  float:left;
  width:264px;
}

.eventDescriptionHome p {
  line-height:14px;
}

.eventDateHome {
  background:transparent url('date.png') no-repeat scroll 0 0;
  _background: none; /* Il supprimer l'image de fond s'il y en a une de déclarée dans la feuille de styles principale */
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://localhost/buspalladium/wp-content/themes/buspalladium/images/date.png", sizingMethod="scale");
  width:198px;
  height:110px;
  float:left;
}

.day, .month, .year {float:left;}

.day {
  color:#FFFFFF;
  font-size:70px;
  font-weight:bold;
  height:110px;
  line-height:110px;
  text-align:right;
  width:110px;
}
.month {
  color:#E2017B;
  font-size:24px;
  font-weight:bold;
  padding-left:10px;
  padding-top:26px;
  text-transform:uppercase;
  width:73px;
}
.year {
  color:#CCCCCC;
  font-size:24px;
  font-weight:normal;
  padding-left:10px;
}
.hour {}

.blockMea {height:263px;}
.blockMea h2 a {color:#009EDF;font-size:22px;}
.blockMea .eventDateHome {margin-top:15px;}
.blockMea .eventContentHome,
.blockMea .eventDescriptionHome {
  width:214px;
}

.navigation {
  clear:both;
}

.single .navigation {
  background:transparent url(bg_tfoot_calendar.gif) repeat-x scroll 0 0;
  color:#009EDF;
  font-size:12px;
  font-weight:bold;
  height:30px;
  line-height:30px;
  margin-top:20px;
  padding:0 15px;
  text-transform:uppercase;
  width:610px;
}


.navigation .alignleft {
  float:left;
}

.navigation .alignright {
  float:right;
}


/**********************************/
/*      HP Gallery                */
/**********************************/


#homeGallery {
    background-color:#1B1B1B;
    padding:15px;    
    width:610px;
}

#homeGallery h3 {
  margin:0;
  color:#666666;
  text-transform:uppercase;
}

.ngg-gallery-thumbnail-box {
  float:left;
}

.ngg-gallery-thumbnail:hover {
  background-color:#000000;
}

.ngg-gallery-thumbnail {
  margin:10px 8px 10px 7px;
  padding:5px;
  border:1px solid #000;
}

.ngg-gallery-thumbnail a {
  display:block;
}

.ngg-gallery-thumbnail img {
  border:none;
}

.ngg-gallery-thumbnail img:hover {
  color:#000000;
}

.ngg-navigation {
  background-color:#111111;
  border:1px solid #222222;
  clear:both;
  font-size:12px;
  font-weight:bold;
  padding:5px;
  text-align:center;
}

.ngg-navigation span, .ngg-navigation a {
  padding:5px;
}

.ngg-navigation span {
  color:#009EDF;
}

.ngg-navigation a {
  
}









