/* the news box */


#news
{
        font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
        width: 360px;
        height: 91px;
        position: relative;
        left: 10px;
        top: 0px;
        /*overflow: scroll;*/
        overflow: hidden;
        color: #1c4152;

}
#news a
{
        text-align: left;
        font-size: 11px;
        color: #1c4152;
}

.tx_newsflexible_datetime {
        font-size: 11px;
        font-weight: bold;
        color: #cc0000;
}


#news ul
{
	margin:0 .5em 0 1em;
	padding:0;
}
#news li{
	line-height:2em;
}
/* the news box when JavaScript is available */
#news.hasJS
{
  
        position: relative;
        left: 10px;
        top: 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        width: 360px;
        /*height: 91px;*/
        overflow: hidden;
}
/* The nested UL when JavaScript is available */
#news.hasJS div
{
	position:relative;
	left:0;
	margin:0 .5em 0 .5em;
	padding:0;
	/*height: 91px;*/
         overflow: hidden;

}
