#domMenu_main {
padding: 0px;
margin: 0px;
border-width: 1px 0px 1px 0px;
border: solid #ffffff;
}

div.domMenu_menuBar a {
  color:#000000;
  text-decoration: none;
}

div.domMenu_menuBar {
    border: solid #ffffff;  
    border-width: 0px;
    background-color: inherit;
}

div.domMenu_menuElement {
    font-family: arial, sans-serif; 
    font-size: 11px;
    font-weight: bold;
    border: solid #ffffff;  
    border-width: 0 0px 0px 0;
    background-color: #cccccc; 
    color: #000000;
    text-align: right;
    height: 12px;
    line-height: 12px;
    vertical-align: top;
    padding: 2px 10px 2px 0;
    margin: 0px;
}

div.domMenu_menuElement a {
        color: #000000;
	text-decoration:none;
}

div.domMenu_menuElement a:hover {
        font-size: 11px;
        color: #000000;
	text-decoration:none;
}

div.domMenu_menuElementHover {
    font-size: 11px;
    color: #ffffff;
    background-color: #E52116;
}

div.domMenu_subMenuBar {
    opacity: .90;
    filter: alpha(opacity=90);
}

div.domMenu_subMenuElement {
    font-family: arial, sans-serif; 
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    /*width: 170px; */
    padding: 3px 0 3px 3px;
    margin: 0px;
    background-color: inherit;
}

div.domMenu_subMenuElement a {
    color: #000000;
    padding: 0px;
    text-decoration: none;
}

div.domMenu_subMenuElement a:hover {
       color: #ffffff;
}

div.domMenu_subMenuElementHover {
	color:#ffffff;
}


#domMenu_main-1 div{
    background-color: #aa1432;
}

#domMenu_main-1-0 {
    background-color: #aa1432;
}

#domMenu_main-1-1-0 {
    background-color: #aa1432;
}
#domMenu_main-1-2-0 {
    background-color: #aa1432;
}
#domMenu_main-1-3-0 {
    background-color: #aa1432;
}
#domMenu_main-1-4-0 {
    background-color: #aa1432;
}
#domMenu_main-1-5-0 {
    background-color: #aa1432;
}
#domMenu_main-1-6-0 {
    background-color: #aa1432;
}
#domMenu_main-1-7-0 {
    background-color: #aa1432;
}
#domMenu_main-1-8-0 {
    background-color: #aa1432;
}
#domMenu_main-1-9-0 {
    background-color: #aa1432;
}
#domMenu_main-1-10-0 {
    background-color: #aa1432;
}
#domMenu_main-1-11-0 {
    background-color: #aa1432;
}
#domMenu_main-1-12-0 {
    background-color: #aa1432;
}
#domMenu_main-1-13-0 {
    background-color: #aa1432;
}
#domMenu_main-1-14-0 {
    background-color: #aa1432;
}
#domMenu_main-1-15-0 {
    background-color: #aa1432;
}
#domMenu_main-1-16-0 {
    background-color: #aa1432;
}


#domMenu_main-2 div {
    background-color: #00aaeb;
}

#domMenu_main-2-0 {
    background-color: #00aaeb;
}
#domMenu_main-2-1-0 {
    background-color: #00aaeb;
}
#domMenu_main-2-2-0 {
    background-color: #00aaeb;
}
#domMenu_main-2-3-0 {
    background-color: #00aaeb;
}
#domMenu_main-2-4-0 {
    background-color: #00aaeb;
}
#domMenu_main-2-5-0 {
    background-color: #00aaeb;
}
#domMenu_main-2-6-0 {
    background-color: #00aaeb;
}
#domMenu_main-2-7-0 {
    background-color: #00aaeb;
}
#domMenu_main-2-8-0 {
    background-color: #00aaeb;
}
#domMenu_main-2-9-0 {
    background-color: #00aaeb;
}
#domMenu_main-2-10-0 {
    background-color: #00aaeb;
}
#domMenu_main-2-11-0 {
    background-color: #00aaeb;
}
#domMenu_main-2-12-0 {
    background-color: #00aaeb;
}
#domMenu_main-2-13-0 {
    background-color: #00aaeb;
}
#domMenu_main-2-14-0 {
    background-color: #00aaeb;
}
#domMenu_main-2-15-0 {
    background-color: #00aaeb;
}



#domMenu_main-3 div {
    background-color: #ffc31e;
}

#domMenu_main-3-0 {
    background-color: #ffc31e;
}
#domMenu_main-3-1-0 {
    background-color: #ffc31e;
}
#domMenu_main-3-2-0 {
    background-color: #ffc31e;
}
#domMenu_main-3-3-0 {
    background-color: #ffc31e;
}
#domMenu_main-3-4-0 {
    background-color: #ffc31e;
}
#domMenu_main-3-5-0 {
    background-color: #ffc31e;
}
#domMenu_main-3-6-0 {
    background-color: #ffc31e;
}
#domMenu_main-3-7-0 {
    background-color: #ffc31e;
}
#domMenu_main-3-8-0 {
    background-color: #ffc31e;
}
#domMenu_main-3-9-0 {
    background-color: #ffc31e;
}
#domMenu_main-3-10-0 {
    background-color: #ffc31e;
}
#domMenu_main-3-11-0 {
    background-color: #ffc31e;
}
#domMenu_main-3-12-0 {
    background-color: #ffc31e;
}
#domMenu_main-3-13-0 {
    background-color: #ffc31e;
}
#domMenu_main-3-14-0 {
    background-color: #ffc31e;
}
#domMenu_main-3-15-0 {
    background-color: #ffc31e;
}



#domMenu_main-4 div {
    background-color: #8FB73E;
}
#domMenu_main-4-0 {
    background-color: #8FB73E;
}
#domMenu_main-4-1-0 {
    background-color: #8FB73E;
}
#domMenu_main-4-2-0 {
    background-color: #8FB73E;
}
#domMenu_main-4-3-0 {
    background-color: #8FB73E;
}
#domMenu_main-4-4-0 {
    background-color: #8FB73E;
}
#domMenu_main-4-5-0 {
    background-color: #8FB73E;
}
#domMenu_main-4-6-0 {
    background-color: #8FB73E;
}
#domMenu_main-4-7-0 {
    background-color: #8FB73E;
}
#domMenu_main-4-8-0 {
    background-color: #8FB73E;
}
#domMenu_main-4-9-0 {
    background-color: #8FB73E;
}
#domMenu_main-4-10-0 {
    background-color: #8FB73E;
}
#domMenu_main-4-11-0 {
    background-color: #8FB73E;
}
#domMenu_main-4-12-0 {
    background-color: #8FB73E;
}
#domMenu_main-4-13-0 {
    background-color: #8FB73E;
}
#domMenu_main-4-14-0 {
    background-color: #8FB73E;
}
#domMenu_main-4-15-0 {
    background-color: #8FB73E;
}
