@charset "utf-8";
/* CSS Document */




.liensGras{color:#000; font-weight:bold;}

.liensU{color:#000;}


#menu_profil{height:197px; background:url(fond_menu_profil.jpg) no-repeat;}

#menu_profilG{width:480px; float:left; /*background:#fcf;*/}
#menu_profil img{float:left;}
#menu_profilG img{float:none;}

#menu_profil ul{list-style:none; margin-left:260px; margin-top:6px;}
#menu_profil h2{margin-left:238px; padding-top:1px;}
#menu_profil li a{font-family:"Trebuchet MS", Arial, sans-serif; color:#fff; font-weight:bold; text-decoration:none;}
#menu_profil li{border-bottom:#0952AB 1px solid; width:196px; padding:1px 0;}
#menu_profil .lastItem{border:none;}
#menu_profil .profil_act a{color:#FAFF66; padding-left:12px; background:url(fl_profil_act.jpg) no-repeat 0 4px;}
#menu_profil a:hover{color:#FAFF66; padding-left:12px; background:url(fl_profil_act.jpg) no-repeat 0 4px;}

/************************* CONTG ****************************/

#contG img{display:block;}

/*#contG{width:252px; float:left;}*/
#contG{width:224px; float:left;}
#edito{background:#D7EA94; padding-bottom:25px;}
#adresse{background:#CAF5FF; padding-bottom:20px;}
#adresse h3{font-size:12px; width:200px; margin:8px auto;}
#edito p, #adresse p{width:200px; margin:8px auto; margin-bottom:0;}




/************************ CONTC *****************************/

#contC{width:442px; float:left; margin-left:23px; padding-left:0px;}

#contC #titre_acces_direct{margin-top:6px;}
#contC h2{color:#01AACE; font-size:18px; font-weight:normal; margin-top:15px; margin-bottom:4px;}
#contC h3{color:#073E81; font-size:11px; margin-top:5px; margin-bottom:3px;}
#acces_direct li{display:inline;}
#acces_direct li a{color:#073E81; font-weight:bold; margin:0 2px;}

#aLaUne{float:left; margin-right:10px;}

.liensC{color:#073E81; font-weight:bold; display:block; margin-top:20px;}

/************************ CONTD ******************************/

#contD{width:192px; float:left; margin-left:16px; background:url(illuContD.jpg) no-repeat 0 -32px; padding-top:33px;}

#contD img{display:block;}

#notre_offre{background:#FECA70; padding-bottom:12px;}
#btn_ok_offre{position:absolute; top:50px; left:140px;}
#notre_offre label{font-size:12px; font-weight:bold;}
#lbl_type{margin-left:-8000px; position:absolute;}
#chp_rech_formation{margin-top:8px; width:125px;}
#notre_offre form{position:relative;}

#flash_info{background:#F2BDC9; padding-bottom:36px;}

#notre_offre p, #flash_info p{width:164px; margin:8px 0px; margin-bottom:0;}