@charset "utf-8";
/* CSS Document */

.liensGras{color:#000; font-weight:bold;}

.liensU{color:#000;}

#top_content{ background-image:url(vague_int.jpg); height:72px;
background-repeat:no-repeat}
/*#profil_top_content{ background-image:url(images/vague_profil1.jpg); height:131px;

background-repeat:no-repeat}*/
#top_content.profil_top{ background-image:url(vague_profil1.jpg); height:131px;

background-repeat:no-repeat}
.content_fdG{background:url(fd_colG.jpg) #fff repeat-y;}

/************************* CONTG ****************************/

#contG{width:182px; float:left; position:relative;}
#nav_int{background:#F1F1F1; padding-top:5px;}
/* #nav_int ul{list-style:none; padding-bottom:80px;} */
#nav_int ul{list-style:none;}
#nav_int dl{background:#F1F1F1; list-style:none; padding-bottom:40px; margin-bottom:4px;}
#nav_int li a, #nav_int dt a, #nav_int dd a{color:#222; font-weight:bold; text-decoration:none;}
#nav_int li, #nav_int dt{width:150px; margin-left:15px; padding:4px 0; border-bottom:#A9A9A9 1px solid;}

#nav_int dt#rub_act{position:relative; border:none;}
#nav_int dd#s_rub_act{background:url(fl_navVer.jpg) no-repeat 4px 3px;}
#nav_int dd{margin-left:20px; padding-left:15px;}

#nav_int dt#rub_act img{position:absolute; left:-12px; top:8px;}
#lastDD{border-bottom:#A9A9A9 1px solid; width:130px;}

#adresse{background:#CAF5FF; padding-bottom:20px;}
#adresse h3{font-size:12px; width:160px; margin:8px auto;}
#adresse p{width:160px; margin:8px auto; margin-bottom:0;}
#adresse span{display:block;}



/************************ CONTC *****************************/

/* #contC{width:471px;margin-left:208px; padding-top:5px;} */
#contC{width:471px;margin-left:25px; padding-top:5px; padding-bottom:5px; padding-left:20px; overflow:auto;}
#contC1{width:671px;margin-left:25px; padding-top:5px; padding-bottom:5px; padding-left:20px; overflow:auto;}
/**/
#contC1 table.tx_txmenuprofil_pi1_table{border:0;width:100%;}
#contC1 tr.tx_txmenuprofil_pi1_row td{border:0;width:50%;padding-bottom:30px;vertical-align:top;}
#contC1 tr.tx_txmenuprofil_pi1_row td a{color:#073E81; font-size:11px;text-decoration:underline;font-weight:bold; background:#ADECF7; display:block; padding:3px 10px;}
#contC1 tr.tx_txmenuprofil_pi1_row td a:hover{color:#073E81; font-size:11px;text-decoration:none;}

#contC table.tx_txmenuprofil_pi1_table{border:0;width:100%;}
#contC tr.tx_txmenuprofil_pi1_row td{border:0;width:50%;padding-bottom:30px;vertical-align:top;}
#contC tr.tx_txmenuprofil_pi1_row td a{color:#073E81; font-size:11px;text-decoration:underline;font-weight:bold; background:#ADECF7; display:block; padding:3px 10px;}
#contC tr.tx_txmenuprofil_pi1_row td a:hover{color:#073E81; font-size:11px;text-decoration:none;}

#titre_profilD{margin-left:520px; padding-top:26px; color:#fff; list-style:none;color:#fff;}
#titre_profilD li{display:inline; margin:0 3px;font-size:28px;}

#titre_profilG{width:165px;padding-left:15px;margin-left:6px; margin-top:-6px; color:#fff; list-style:none;background:url(fl_titre.jpg) no-repeat 0 7px;}
#titre_profilG li{display:inline; font-size:18px;}

#filAriane{margin-left:192px; padding-top:4px; color:#fff; list-style:none;}
#filAriane li{display:inline; margin:0 3px;}
#filAriane a{color:#fff;}

#utils2{list-style:none; margin-left:520px; margin-top:30px;}
#utils2 li{display:inline; margin:0 5px;}
#utils2 li a{color:#073E81; font-weight:bold;}
#utils2 #imp{margin-left:60px;}

#utils2_profil{list-style:none; margin-left:520px; margin-top:5px;}
#utils2_profil li{display:inline; margin:0 5px;}
#utils2_profil li a{color:#073E81; font-weight:bold;}
#utils2_profil #imp{margin-left:60px;}


#contC h2, #contC h1{color:#01AACE; font-size:18px; font-weight:normal; margin-top:15px; margin-bottom:4px;}
#contC h3{color:#073E81; font-size:11px; margin-top:5px; margin-bottom:3px;}

#contC .lbl_formation{ font-weight:normal; font-size:14px; color:#000; /*background:#D5ED8E; */padding:7px; margin:20px 0;}

#contC .licence{ /*background:#D5ED8E;*/ background:#E9F7C0;}
#contC .master1{ background:#f7931d;}
#contC .master2{ background:#bce5f9;}
#contC .doctorat{ background:#e7ded4;}
#contC .DU{ background:#a383c4;}
#contC .autre{ background:#ffe9ba;}

#contC H2.licence{ /*color:#01AACE;*/ color:#326902;  background:#FFFFFF; margin-top:30px; /*font-size:14px; text-decoration:underline; font-weight:bold;*/}
#contC H2.master1{ color:#f36821; background:#FFFFFF}
#contC H2.master2{ color:#00409c;background:#FFFFFF}
#contC H2.doctorat{ color:#937a62; background:#FFFFFF}
#contC H2.DU{ color:#a383c4;background:#FFFFFF}
#contC H2.autre{ color:#f7931d;background:#FFFFFF}

/* contC1 */
#contC1 h2, #contC1 h1{color:#01AACE; font-size:18px; font-weight:normal; margin-top:15px; margin-bottom:4px;}
#contC1 h3{color:#073E81; font-size:11px; margin-top:5px; margin-bottom:3px;}

#contC1 .lbl_formation{ font-weight:normal; font-size:14px; color:#000; /*background:#D5ED8E; */padding:7px; margin:20px 0;}

#contC1 .licence{ /*background:#D5ED8E;*/ background:#E9F7C0;}
#contC1 .master1{ background:#f7931d;}
#contC1 .master2{ background:#bce5f9;}
#contC1 .doctorat{ background:#e7ded4;}
#contC1 .DU{ background:#a383c4;}
#contC1 .autre{ background:#ffe9ba;}

#contC1 H2.licence{ /*color:#01AACE;*/ color:#326902;  background:#FFFFFF; margin-top:30px; /*font-size:14px; text-decoration:underline; font-weight:bold;*/}
#contC1 H2.master1{ color:#f36821; background:#FFFFFF}
#contC1 H2.master2{ color:#00409c;background:#FFFFFF}
#contC1 H2.doctorat{ color:#937a62; background:#FFFFFF}
#contC1 H2.DU{ color:#a383c4;background:#FFFFFF}
#contC1 H2.autre{ color:#f7931d;background:#FFFFFF}



/*.csc-textpic-intext-left-nowrap{overflow:auto;}*/

#contC .liste_formations{list-style:none;}
#contC .liste_formations ul{list-style:none;}

#contC .liste_formations li{
	background:url(puce_verte.png) no-repeat 0 2px; 
	position:relative;
	padding-left:17px; 
	font-weight:bold; 
	color:#073E81;
	margin:12px 10px;
}
#contC .liste_formations li span.pucemention{display:block;width:10px; position:absolute; height:10px; margin-top:2px; margin-left:-17px;}

#contC .liste_formations li ul li{
	background:url(puce_bleue.png) no-repeat 0 5px; 
	padding-left:10px; 
	margin:2px auto 2px 20px;
	font-weight:normal;
	color:#000;
}

#contC1 .liste_formations{list-style:none;}
#contC1 .liste_formations ul{list-style:none;}

#contC1 .liste_formations li{
	background:url(puce_verte.png) no-repeat 0 2px; 
	position:relative;
	padding-left:17px; 
	font-weight:bold; 
	color:#073E81;
	margin:12px 10px;
}
#contC1 .liste_formations li span.pucemention{display:block;width:10px; position:absolute; height:10px; margin-top:2px; margin-left:-17px;}

#contC1 .liste_formations li ul li{
	background:url(puce_bleue.png) no-repeat 0 5px; 
	padding-left:10px; 
	margin:2px auto 2px 20px;
	font-weight:normal;
	color:#000;
}


#contC h1{margin-top:0;}
#contC1 h1{margin-top:0;}

.liensC{color:#073E81; font-weight:bold; display:block; margin-top:20px;}

#choisir{ border:#D1DEEE /*#457BBA*/ 1px solid; margin-top:15px; margin-bottom:3px; width:468px;}
.margeNeg{margin-bottom:-3px;}
#choisir h2{color:#CB0073; margin:8px;}
#choisir p{margin:8px;}
#choisir .csc-textpic-image{margin-left:0px; margin-bottom:0;}


.encadre_vert{background:#D5ED8E;padding:10px;}
#contC .encadre_vert h1{font-size:11px; font-weight:normal; color:#000; margin:4px 0;}
#contC .encadre_vert p{margin:4px 0;}
#contC .encadre_vert span{font-weight:bold;}

#contC1 .encadre_vert h1{font-size:11px; font-weight:normal; color:#000; margin:4px 0;}
#contC1 .encadre_vert p{margin:4px 0;}
#contC1 .encadre_vert span{font-weight:bold;}

#sous_nav{list-style:none; margin:20px 10px;}
#sous_nav li{display:inline;}
#sous_nav li a{color:#000; font-weight:bold;}
#sous_nav li.sous_nav_act a{ font-weight:normal; text-decoration:none;}

.indent10{margin-left:10px;}
.indent20{margin-left:20px;}

#contC .titre_rose{color:#CB0073; font-size:12px; font-weight:bold; background:url(puceTitre.png) no-repeat 0 6px; padding-left:10px;}
#contC1 .titre_rose{color:#CB0073; font-size:12px; font-weight:bold; background:url(puceTitre.png) no-repeat 0 6px; padding-left:10px;}


.liste_niveaux { border: solid black 1px; padding: 3px; float: left; width: 200px; margin-bottom: 10px; margin-right: 10px; }

div.toto { border: solid 2px black; margin-right: 10px; width:46%; float:left; position:relative; height:100px; }

#contC table { border: solid 2px #222222; margin-top: 5px; margin-bottom: 5px;}
#contC th.rose { background-color: #cb0073; color: #ffffff; padding: 3px; }
#contC td { border: solid 1px #aaaaaa; padding: 3px; }
#contC table.noborder,#contC table.noborder td { border: none; }

#contC1 table { border: solid 0px #222222; margin-top: 5px; margin-bottom: 5px;}
#contC1 th.rose { background-color: #cb0073; color: #ffffff; padding: 3px; }
#contC1 td { border: solid 0px #aaaaaa; padding: 3px; }
#contC1 table.noborder,#contC table.noborder td { border: none; }


.choisir_box{float:left; margin:5px 0; height:100px; width:200px;}
.pair{margin-left:60px;}
.liste_choix{margin-top:40px;}
#contC .choisir_box img{float:left;}
.choisir_box div{width:140px; float:left; margin-left:3px;}
.choisir_box p{padding-left:7px;}
.choisir_box ul li{padding-left:7px; margin:3px 0;}
.choisir_box ul li a{color:#000;}
#contC .choisir_box h3{margin-top:0; padding:2px 7px;}
#contC .choisir_box h3 a{font-size:13px; color:#fff;}
.dugead{background:#01AACE;}
.licence{background:#8FBF00;}
.master{background:#FF7200;}
.doctorat{background:#BEB475;}
.diplo_univ{background:#A383C4;}
.autre_form{background:#FFBA00;}

#adv_search{
	
}

#adv_search select{

	width:200px;
}
#adv_search .advLabel{

	width:150px;
	display:block;
	float:left;
}

#contC .csc-menu-4 dd{
	margin-bottom:10px;
}
#contC1 .csc-menu-4 dd{
	margin-bottom:10px;
}

/************************ CONTD ******************************/

#contD{width:192px; float:right; margin-right:0px;}

#contD img{display:block;}

#notre_offre{background:#FECA70; padding-bottom:12px;}
#btn_ok_offre{position:relative; top:50px; left:140px;}
#notre_offre label, label.notre_offre{font-size:12px; font-weight:bold;}
#lbl_type{margin-left:-8000px; position:absolute;}
#chp_rech_formation{margin-top:8px; width:125px;}
#notre_offre form, form.notre_offre,#notre_offre {position:relative;}
.bloc_content{position:relative;}

#flash_info{background:#F2BDC9; padding-bottom:36px;}

#notre_offre p, #flash_info p{width:164px; margin:8px 0px; margin-bottom:0;}

#pratique, #inscrire, #savoir_plus, #voir_aussi{background:#CAF5FF;padding-bottom:20px; margin-top:3px;}

#inscrire p{margin-top:10px; margin-left:25px;}

#savoir_plus ul, #voir_aussi ul{list-style:none; margin-top:8px; margin-left:25px;}
#savoir_plus ul a, #voir_aussi ul a{color:#000;}

#pratique_insc{padding-left:31px; background:url(picto_insc.png) no-repeat; margin:12px auto; width:140px;}
#pratique_dir{padding-left:31px; background:url(picto_dir.png) no-repeat; margin:12px auto; width:140px;}

#pratique_info{padding-left:31px; background:url(picto_info.png) no-repeat; margin:12px auto; width:140px;}
#pratique_date{padding-left:31px; background:url(picto_date.png) no-repeat;min-height:24px;  margin:12px auto; width:140px;}
#pratique_dip{padding-left:31px; background:url(picto_diplome.png) no-repeat;min-height:24px; margin:12px auto 0 auto; width:140px;}
#pratique_dip img{display:inline;}
#pratique_dip a{/*display:block; padding-right:15px; /background:url(images/pictoPdf.png) no-repeat right;*/color:#000;/* margin:2px 0; height:15px;*/}