/******************************************************************************
* cg50WdWidgetMeteo.css
*******************************************************************************

*******************************************************************************
*                                                                             *
* Copyright 2006									                          *
*                                                                             *
******************************************************************************/

#cg50WdMeteo .cmWidgetOpt 
{
    height:8px;  
    padding-left:5px; 
    font-size:0.1em; 
}

#cg50WdMeteo .cmWidgetOpt a.cmPlus,
#cg50WdMeteo .cmWidgetOpt a.cmMinus
{
    background-repeat:no-repeat;
    background-position:top left;
    display:block;
    width:13px;
    height:8px; 
    float:left;
}

#cg50WdMeteo .cmWidgetOpt a.cmPlus
{
    background-image:url('cmWidgetPlus.png'); 
}

#cg50WdMeteo .cmWidgetOpt a.cmMinus
{
    background-image:url('cmWidgetMinus.png'); 
}

#cg50WdMeteo .cmCity
{
    clear:both;
    width:80%;
}

#cg50WdMeteo .cmCity ul
{
    padding:0px;
    margin:0px;
    list-style:none;
    font-size:0.9em;
}

#cg50WdMeteo .cmCity ul li
{
    padding:0px;
    margin:0px;
    list-style:none;
    display:block;
    float:left;
}

#cg50WdMeteo .cmCity ul li a
{
    color:#000000;
    text-decoration:none;
    cursor:pointer;
}

#cg50WdMeteo .cmCity ul li a.selectedVille
{
    font-weight:bold;
    text-decoration:underline;
}

#cg50WdMeteo .cmCity ul li a:hover
{
    text-decoration:underline;
}


#cg50WdMeteo .cmMeteoContent 
{
    clear:both;
}

#cg50WdMeteo .cmMeteoMatin,
#cg50WdMeteo .cmMeteoMidi
{
    display:block;
    float:left;
}

#cg50WdMeteo .cmMeteoMatin span,
#cg50WdMeteo .cmMeteoMidi span,
#cg50WdMeteo .cmMeteoMatin img,
#cg50WdMeteo .cmMeteoMidi img
{
    float:left;
}

#cg50WdMeteo .cmMeteoMatin span,
#cg50WdMeteo .cmMeteoMidi span
{
    padding-top:15px;
    font-size:0.8em;
}

#cg50WdMeteo .cmMeteoMatin
{
    padding-right:15px;
}

#cmPage #cg50WdMeteo .cmC6
{
    padding-bottom:1px;
    zoom:1;
}

#cmPage #cg50WdMeteo .cmC6 .insLevel1
{
    background-image: url('c6BottomRight.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

#cmPage #cg50WdMeteo .cmC6 .insLevel2
{
    background-image: url('c6BottomLeft.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}

#cmPage #cg50WdMeteo .cmC6 .insLevel3
{
    background-image: url('c6TopRight.png');
    background-repeat: no-repeat;
    background-position: right top;
}

#cmPage #cg50WdMeteo .cmC6 .insLevel4
{
    background-image: url('c6TopLeft.png');
    background-repeat: no-repeat;
    background-position: left top;
    padding: 15px;
    padding-top:10px;
}

#cmPage #cg50WdMeteo .cmC6 .insLevel4 h3
{
    font-size: 1.1em;
    padding: 0px;
    margin: 0px;
    color:#24a3de;
}

#cmPage #cg50WdMeteo .cmC6 .insLevel4 .insContent
{
 
}

#cg50WdMeteo a.cmMeteoDetailled
{
    margin-top:10px;
    font-size:0.9em;
    color:#000000;
    text-decoration:none;
    text-align:center;
    display:block;
    font-weight:bold;
    clear:both;
}

#cmMeteoDetail
{
    padding:20px;
    margin-bottom:20px;
}

#cmMeteoDetail .cmMeteoHeader h3
{
    margin-bottom:20px;
    float:left;
}

#cmMeteoDetail .cmMeteoHeader select
{
    margin-top:10px;
    float:right;
}

#cmMeteoDetail .cmMeteoContent
{
    clear:both;
}

#cmMeteoDetail .cmMeteoContent .cmAm,
#cmMeteoDetail .cmMeteoContent .cmPm,
#cmMeteoDetail .cmMeteoContent .cmNight
{
    width:28%;
    margin-right:2%;
    padding-left:2%;
    padding-right:2%;
    float:left;
    text-align:center;
    font-weight:bold;
    font-size:1.1em;
}

#cmMeteoDetail .cmMeteoContent .cmDetailMeteoBlock
{
    width:28%;
    margin-right:2%;
    margin-bottom:2%;
    float:left;
    border:dotted 1px #cccccc;
    padding:2%;
    text-align:center;
}

#cmMeteoDetail .cmMeteoContent .cmVigilance .cmTitle
{
    font-weight:bold;
}

#cmMeteoDetail .cmMeteoContent .cmVigilance
{
    width:28%;
    margin-right:2%;
    margin-bottom:2%;
    float:left;
    padding:2%;
    text-align:center;
}