/******************************************************************************
* cg50WdWidgetAccount.css
*******************************************************************************

*******************************************************************************
*                                                                             *
* Copyright 2006									                          *
*                                                                             *
******************************************************************************/

#cg50WdAccount
{
}

#cmPage #cg50WdAccount .cmC4
{
    padding-bottom:1px;
    zoom:1;
}

#cmPage #cg50WdAccount .cmC4 .insLevel1
{
    background-image: url('c4BottomRight.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

#cmPage #cg50WdAccount .cmC4 .insLevel2
{
    background-image: url('c4BottomLeft.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}

#cmPage #cg50WdAccount .cmC4 .insLevel3
{
    background-image: url('c4TopRight.png');
    background-repeat: no-repeat;
    background-position: right top;
}

#cmPage #cg50WdAccount .cmC4 .insLevel4
{
    background-image: url('c4TopLeft.png');
    background-repeat: no-repeat;
    background-position: left top;
    padding: 15px;
    text-align:center;
    padding-top:12px;
    padding-bottom:13px;
}

#cmPage #cg50WdAccount .cmC4 .insLevel4 h3
{
    font-size: 1.1em;
    padding: 0px;
    margin: 0px;
    color:#24a3de;
}

#cmPage #cg50WdAccount .cmC4 .insLevel4 .insContent
{
 
}

#cmPage #cg50WdAccount .cmC4 .insLevel4 a
{
    color:#000000;
    text-decoration:none;
    font-weight:bold;
    
}

#cg50WdAccount .cmImgAccount 
{
    background-image: url('cmAccount.png');
    background-repeat: no-repeat;
    background-position: left top; 
    width:141px;
    height:63px;
}

.cmWidgetAccountDetail 
{
    padding:20px;
}

ul.cmWidgetAccountItem 
{
    padding:0px;
    margin:0px;
    list-style:none;
}

ul.cmWidgetAccountItem li 
{
    padding:0px;
    margin:0px;
    list-style:none;
    display:block;
    width:49%;
    float:left;
}

.cmWidgetAccountDetail .cmBtn
{
    text-align:center;
    padding:10px;
}

