#slideshow {list-style:none; color:#fff}
#slideshow span {display:none}
#wrapper {width:400px;float:left; display:none}
#wrapper * {margin:0; padding:0}
#fullsize {position:relative; width:400px; height:248px; padding:0px; background:#fff}
#information {position:absolute; bottom:0; width:400px; height:0; background:#5b5b5a; color:#fff; overflow:hidden; z-index:200; opacity:.7; filter:alpha(opacity=70)}
#information h3 {padding:4px 8px 3px; font-size:14px;color:white;font-weight:700;}
#information p {padding:0 8px 8px;width:190px;color:#ffb514;font-weight:700;}
#information h3 a{color:white;text-decoration:none;}
#information p a{color:#ffb514;text-decoration:none;}
#image {width:400px; height:248px;}
#image img {position:absolute; z-index:25; width:400px; height:248px;}
.imgnav {position:absolute; width:10%; height:248px; cursor:pointer; z-index:150}
#imglink {background:url(http://www.manche.fr/iso_album/spacer.gif) repeat;position:absolute; height:248px; width:400px; z-index:100; opacity:.4; filter:alpha(opacity=40)}
.linkhover {background:url(link.gif) center center no-repeat}
#thumbnails {margin-left: 200px ;margin-top:-45px; width:200px;position:absolute; z-index:200;}
#slideleft {float:left; width:20px; height:45px; background:url(scroll-left.gif) center center no-repeat; background-color:#222}
#slideleft:hover {background-color:#333}
#slideright {float:right; width:20px; height:45px; background:#222 url(scroll-right.gif) center center no-repeat}
#slideright:hover {background-color:#333}
#slidearea {float:left; position:relative; width:150px; margin-left:5px; height:45px; overflow:hidden}
#slider {position:absolute; left:0; height:45px}
#slider img {cursor:pointer; border:1px solid #000; padding:2px}