
/*
Theme Name: Glazart theme

Description: Le theme trop beau du blog trop bien de glaz'
Version: v1.0
Author: Webmistress
Author URI: 
Latest updated: 15 Fev 2008
*/

/* CSS for Body */
*{margin:0; padding:0;}
body{color: #303030; font:11px Arial;
	background: #333333 url(backd2.jpg) repeat-x fixed;
}
#page{color:#303030; margin:0px 0 0 0;}
#bg{background: #FFF url(main_bg2.gif) top repeat-y; color:#303030; margin:0 auto; width:780px;
}
#top{color:#303030; margin:0px auto; width:780px; height:216px; background: url(tiptop.jpg) no-repeat;}
#wrap{h5 color:#303030; margin:0 auto; width:780px; float: left;
	background: url(main_bg2.gif);
}
#m1, #m2, #m3, #m4, #m5{display: none;}

/* CSS for Links */
a{background-color:inherit; color: #009ee0; font-weight: bold; text-decoration:none;}
a:hover{background-color:inherit; color:#009ee0; font-weight: none;
}
a img{border:0;}
a.internal_tag {color:#333333;text-decoration:none; }
 a.internal_tag:hover{color:#333333;text-decoration:underline; }

/* CSS for Header */
#header{margin:5px 0 5; }
#header h1{ color:#135188; float:left; font-size:1em; margin:10 0 10 0px; width:780px; font-weight: none;}
#header h1 a{background-color:inherit; color:#135188; text-decoration:none;}
#header p a{background-color:inherit; color:#808080; float:right; font-size:1em; font-weight:none; line-height:1.3em; margin:6px 0 0; text-align:center;}
#frontphoto{margin:0 0 10px;}
#header_title{color:#135188; font-size:15px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; padding-left:58px; padding-top:5px; letter-spacing:1px; text-transform:uppercase;  }
#header_title a{background-color:inherit; color:#135188; text-decoration:none;}
#header_title a:hover{background-color:inherit; color:#333333; text-decoration:none;}
#header_title2{ color:#333333; letter-spacing:1px; font-size:13px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; padding-left:58px; padding-top:0px; text-transform:uppercase; }

/* CSS for Sidebars */
#leftside{clear:right; float:right; line-height:1.4em; margin:0px; padding: 15px 5px 5px; width: 200px;
	border-left: 1px solid #CCCCCC;
	background: #f6f6f6 0 100%;
	text-align: center;
}
#extras{float:right; line-height:1.4em; margin:0 0 5px; width:145px;}
#leftside p, #leftside ul, #leftside div.textwidget, #extras p, #extras ul, #extras div.textwidget{font-size:1em; margin:0 0 10px;}
#leftside li, #extras li{line-height:1.2em; list-style:none; margin:0 0 6px;}
#leftside ul ul, #extras ul ul{margin:6px 0 0 10px;}
#leftside ul ul li, #extras ul ul li{margin:0 0 4px;}
#leftside ul ul li a, #extras ul ul li a{font-weight:normal; color: #333333;}
#leftside ul.linklist, #extras ul.linklist{font-size:1em;}
#leftside ul.linklist ul, #extras ul.linklist ul{margin:0 0 18px;}
#leftside ul.linklist ul li a, #extras ul.linklist ul li a{font-weight:none;}
#leftside h2, #leftside ul.linklist li h2, #leftside h3, #extras h2, #extras ul.linklist li h2, #extras h3{background-color:inherit; color:#333333; font-size:1.1em; margin:0 0 10px; font-weight:bold; text-align:center;}
#leftside label, #extras label{display:none;}

/* CSS for Main menu */
ul.page{list-style:none; margin:0 0 18px; width:144px;}
ul.page li{display:inline; line-height:1.4em; width:144px; text-transform:uppercase; font-weight:bold;}
ul.page li a{background-color:#f4f4f4; border:0px; color:#505050; float:left; font-weight:none; margin-bottom:5px; padding:5px 1px 5px 5px; text-decoration:none; width:134px;}
ul.page li a:hover, ul.page li.current_page_item a{background-color:#135188; border:0px; color:#FFFFFF; text-decoration:none;}
ul.page ul{font-size:0.9em;margin:0 0 0 15px;padding:0 0 5px;width:129px;}
ul.page ul a{padding:3px 1px 3px 5px;width:119px;}
ul.page ul ul{width:117px;}
ul.page ul ul a{width:104px;}

/* CSS for Content */
#content{line-height:1.4em; width: 535px; letter-spacing:1px; text-align:justify; background:#FFF; margin-left: 15px;	margin-right: 15px; padding: 15px 0 0;}
#contentwide{line-height:1.2em; letter-spacing:1px; text-align:justify; padding: 15px 0 0; width: 535px;margin-left: 15px;margin-right: 15px;
}
#content h2,#contentwide h2 {font-size:18px !IMPORTANT;margin:0 0 10px; color: #333333; text-transform:uppercase;font-family: Arial, Helvetica, sans-serif; line-height: 18px;}
#content h2 a,#contentwide h2 a {font-size:18px !IMPORTANT;margin:0 0 10px; color: #333333 !IMPORTANT; text-transform:uppercase;font-family: Arial, Helvetica, sans-serif;}
#content h3,#contentwide h3{font-size:1.4em;margin:0 0 10px; color: #333333;text-transform:uppercase; font-family: Arial, Helvetica, sans-serif;}
#content img,#contentwide img{border:0px;float:auto;margin:0;}
#content ul,#contentwide ul,#content ol,#contentwide ol{margin:0 0 16px 30px;}
#content li,#contentwide li{padding:0 0 0 5px;}
#content ul ul,#contentwide ul ul,#content ol ol,#contentwide ol ol{margin:0 0 0 16px;}

/* CSS for Footer */
#footer{border-bastop:0px;clear:both; color:#808080;font-size:0.9em;font-weight:normal;line-height:1.3em;margin:0 auto; width:780px;padding:13px 0;text-align:center; width:780px; height: 50px;
	background-color: #222222;
}
#footer p{margin:0;padding:0;}
#footer a{background-color:inherit;color:#808080;font-weight:normal;text-decoration:none;}
#footer a:hover{background-color:inherit;color:#505050;text-decoration:underline;}


/* CSS for Submenu */
#subpages {border-bottom:0px; border-left:0px; font-weight:none;line-height:1.3em;float:right;margin:0px 0px 8px 15px;padding:0 0 10px 10px;width:150px;}
#subpages h2{font-size:1.2em;font-weight:bold; margin:0 0 10px; padding-top: 5px; color:#135188;}
#subpages ul.submenu{font-size:1.2em; line-height:1.4em;list-style:none; margin:0;}
#subpages ul.submenu li{display:inline; line-height:1.4em; width:140px; padding:0; text-transform:uppercase; font-weight:bold;}
#subpages ul.submenu li a{font-size:0.9em; background-color:#f4f4f4; border:0px;color:#505050;float:left;margin-bottom:5px;margin-right: 6px;padding:3px 1px 3px 5px;text-decoration:none;width:140px;}
#subpages ul.submenu li ul{margin:0 0 5px 10px;width:120px;}
#subpages ul.submenu li ul li a{width:120px;}
#subpages ul.submenu li ul ul{margin:0 0 5px 10px;width:110px;}
#subpages ul.submenu li ul ul li a{width:110px;}
#subpages ul.submenu li ul ul ul{margin:0 0 5px 10px;width:100px;}
#subpages ul.submenu li ul ul ul li a{width:100px;}
#subpages ul.submenu li a:hover,#subpages ul.submenu li.current_page_item a{background-color:#135188;border:0px;color:#FFFFFF;}
#subpages ul.submenu li.current_page_item ul li a{background-color:#f4f4f4;border:0px;color:#505050;}

/* CSS for Tags */
p,ul,ol{margin:0 0 16px;}
blockquote{border-left:4px solid #e0e0e0;margin:20px;padding:8px 8px 8px 15px;}
blockquote p{background-color:inherit;color:#505050;font-size:0.9em;line-height:1.3em;}
label{background-color:inherit;color:#333333;}
table#wp-calendar{margin:0 0 18px;width:140px;}

/* CSS for Forms */
#s,#submit{background-color:#ffffff;border:1px solid #cccccc;color:#505050;font-size:0.9em;padding:3px;width: 103px;}
#searchsubmit{background-color:#ffffff;border:1px solid #cccccc;color:#505050;font-size:0.9em;margin:0 0 0px;padding:2px;width:50px;}
#author,#email,#url,#comment{border:1px solid #cccccc;font-family:Verdana,Arial,Sans-Serif;font-size:1em;margin:0;padding:4px;}
#commentsection{margin:25px 0 0;}
#commentsection p{margin:0 0 6px;}

/* CSS for Float fix */
.contenttext{overflow:hidden; }
* html .contenttext{height:1px;overflow:visible;}
* html .contenttext p{overflow:hidden;width:99%;}

/* CSS for Various classes */
.left{border:1px solid #cccccc;float:left;margin:10px 15px 10px 0;}
.right{border:1px solid #cccccc;float:right;margin:10px 0 5px 10px;}
.center{border:1px solid #aaaaaa;margin:5px auto 12px;text-align:center;}
.textright{text-align:right;}
.sub{width: 99%;}
.small{font-size:0.8em;}
.bold{font-weight:bold;}
.hide{display:none;}
.post{margin:0;}
.divider{height: 50px; width:99%; text-align:center;}
.postinfo{background-color:#ffffff;border:0px;color:#333333;font-size:0.9em;font-weight:bold;line-height:1.5em;margin:1px 0 20px;padding:0px; }
.comment{background-color:#ffffff;border:0px;color:#333333;margin:0 0 10px;padding:0px 0px 0 0px;}
.comment p.commenthead{line-height:1.6em;}
.comment p{font-size:0.9em;line-height:1.3em;margin:0 0 6px;padding-bottom:5px;}
.navigation{margin:0;}
.navigation p{margin:0;padding:0;}
.prevlink{margin-right:20px;}
.nextlink{margin-left:20px;}

.nomSoiree, .nomSoiree a {
	font-weight: bold;
	font-size: 18px;
	line-height: 19px;
	color: #333333 !IMPORTANT;
	}
.nomSoiree a:hover {
	font-weight: bold;
	font-size: 18px;
	line-height: 19px;
	color: #009ee0 !IMPORTANT;
	}

.infospratiques {
	font-size: 11px;
	
}
.documentstitre {
color:#333333;
font-size:14px;
font-weight:bold;
text-align:center;
}

.styleavenir {
	font-size: 11px;
}
.soireeavenir {
	font-size: 13px;
}
.artiste, .artiste a {
	font-weight: bold;
	font-size: 15px;
	color: #333333 !IMPORTANT;
}
.artiste a:hover {
	font-weight: bold;
	font-size: 15px;
	color: #009ee0 !IMPORTANT;
}

.titremoyen {
	font-weight: bold;
	font-size: 16px;
	color:#036;	
}
.partenaires {
	font-weight: bold;
	font-size: 16px;
	color:#009ee0;	
}
.titrebleu {
	font-weight: bold;
	font-size: 16px;
	color:#333;	
}
.imagesconcerts {
	font-weight: bold;
	color: #000;
	text-align: center;
	font-size: 14px;
}

#newsletter{
	width:185px; 
	height:105px; 
	background: url(blocnews.jpg); padding-top:30px; 
	margin-left:5px; padding-left: 5px; 
}
.newsblanc{
	font-size:12px; 
	font-weight:bold; 
	color:#333; 
	margin-left: 5px;
}
#tdnews{
	text-align:left;
	 width:150px;
}
#documents {
	margin-left: 5px;
	border: 1px solid #CCCCCC;
	width: 188px;
	padding-top: 34px;
	background: white url(titredoc.jpg) no-repeat;
	margin-top: 10px;
}

/* CSS menupages */

#mainmenu {
margin:0 auto; 
width:780px;
background:#FFF;
}

#menupages {
    margin: 0;
    padding: 0;
    text-align:center;
    }

#menupages a {
	text-decoration:none;
    }

#menupages ul {
    margin: 0 0 0 0px;
    padding: 9px;
	text-transform:uppercase; 
	font-weight:bold;
	font-size:12px;
	background-color: #333333;
    }

#menupages ul li {
    display: inline;
    }


#menupages .page_item {
    background-color: #135188;
	color:#FFF;
 }
 #menupages .page_item a {
    background-color: #333;
	    padding:5px 10px;
	color:#FFF;
 }
 
 #menupages .page_item a:hover {
    background-color: #FFFFFF;
    padding:9px 10px;
	color:#333333;
	}

#menupages .current_page_item {
    background-color: #FFFFFF;
	color:#135188;
    }

#menupages .current_page_item a {
    background-color: #FFFFFF;
	padding:9px 10px;
	color:#333333;   
	}


