/* DTML instructions to set caching headers.
    
  
  
  
*/

.documentFields {
  border: 1px solid #29287B;
  margin: 1em 0 1em 0;
  padding: 0.7em 0.7em 0.7em 0.7em;
}


.dright {
  float: right;
  text-align: right;
  padding-left: 1em;
  padding-bottom: 1em;
}

.dleft {
float:left;
padding : 0;

}

.dleft2 {
float:left;
}

.dcenter {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.ddefault {
  padding-bottom: 1em;
}


div.dflush {
clear:left;
}

div.dcolleft {
  margin-right: 50%;
  padding-bottom: 1em;
}

div.dcolright {
  clear: right;
  float: right;
  width: 48%;
  padding-bottom: 1em;
}


div.dtitle, div.dtitle2, div.dtitle3, div.dtitle4, div.dtitle5, div.dtitle6 {
  color: Black;
  background-color: transparent;
  font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  margin: 0;
  padding-top: 0.5em;
}

div.dtitle {
  font-size: 160%;
  border-bottom: 1px solid #838183;
  margin-bottom: 0.5em;
}
div.dtitle2 {
  font-size: 140%;
  border-bottom: 1px solid #838183;
  margin-bottom: 0.5em;
}
div.dtitle3 {
  font-size: 130%;
  border-bottom: 1px solid #838183;
}
div.dtitle4 {
  font-size: 110%;
  border-bottom: 1px solid #838183;
  font-weight: bold;
}
div.dtitle5 {
  font-size: 100%;
  border-bottom: 1px solid #838183;
  font-weight: bold;
}
div.dtitle6 {
  font-size: 80%;
  border-bottom: 1px solid #838183;
  font-weight: bold;
}

div.dcontent {
  font-size: 100%;
}
div.dcontent p {
  text-align: justify;
}

div.ddescription {
  font-style: italic;
  font-size: 100%;
}

.dlabel {
  font-weight: bold;
  font-size: 100%;
}

.dbold {
  font-weight: bold;
}

.publicationDate {
  color: #777777;
  font-weight: bold;
  font-size: 100%;
}

/* hack for IE6 bugs */
/* Hides from IE5-mac \*/
* html div.dleft {height: 1%}
* html div.ddefault {height: 1%}
* html div.articleDesc {height: 1%}
* html div.articleTitle {height: 1%}
* html div.articleTitleImg {height: 1%}
* html #widget__textimage_widget {height: 1%}
* html div.article_box_body .content {word-wrap: break-word;}
* html div.article_box_title {word-wrap: break-word;}
/* End hide from IE-mac */

/*
*/
