    
  
  
  


body {
  font: 70% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  background: #FFFFFF;
  color: Black;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #436976;
  background-color: transparent;
}

a.strong {
  font-weight: bold;
}

img {
  border: 0;
}

p {
  margin: 0.5em 0 1em 0;
  line-height: normal;
}
p a {
  text-decoration: underline;
}
p a:visited {
  color: Purple;
  background-color: transparent;
}
p a:active {
  color: Red;
  background-color: transparent;
}
a:hover {
  text-decoration: none;
}
p img {
  border: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: Black;
  background-color: transparent;
  font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  padding-top: 0.5em;
}
h1 {
  font-size: 160%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 140%;
  margin-bottom: 1em;
}
h3 {
  font-size: 130%;
}
h4 {
  font-size: 110%;
}
h5 {
  font-size: 100%;
}
h6 {
  font-size: 80%;
}

ol, ul {
  padding: 0;
  margin: 0;
  line-height: normal;
list-style:none;
}
ul a, ol a {
  text-decoration: underline;
}

dt {
  font-weight: bold;
}
dt a {
  text-decoration: none;
}

dd {
  line-height: normal;
  margin-bottom: 1em;
}

legend {
  background: #FFFFFF;
  padding: 0.5em;
}

form {
  margin: 0;
}

form.workflow dl {
  font-weight: bold;
}

form.workflow dd {
  margin-left: 0;
}

form.workflow textarea {
  width: 100%;
}

/* Form layout taken from http://pompage.net/pompe/listesdefinitions/
WARNING: do not change since old versions of IE are highly sensitive to
slight modifications.
*/
dl.form {
  margin-left: auto;
  margin-right: auto;
  width: 41.1em;
  padding: 0;
}

dl.form dt {
  width: 15em;
  float: left;
  margin: 0;
  padding: .5em;
  text-align: right;
}

/* hack comment with backslash for ie5 mac \*/
dl.form dt { clear: both; }
/* end hack */

dl.form dd {
  float: left;
  width: 24em;
  margin: 0;
  padding: .5em;
}

form p.buttonArea {
  text-align: center;
  clear: both;
}
/* End of Warning */

textarea {
  color: Black;
  background-color: white;
  font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}
input {
  font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  color: Black;
  background-color: white;
  vertical-align: middle;
}
select {
  font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  vertical-align: top;
}
abbr, acronym, .explain {
  color: Black;
  background-color: transparent;
}
q, blockquote {
border : 1px solid #D4D0C8;
margin: 0px;
padding: 10px;
background-color: #F2F2F2;
}


//*  font-style: italic;
  font-size: 120%; *//

code {
  font-size: 120%;
  color: Black;
  background-color: #eeeeee;
}
pre {
  font-size: 100%;
  padding: 1em;
  border: 1px solid #29287B;
  color: Black;
  background-color: #eeeeee;
  overflow: auto;
}



table.columns {
  width: 100%;
}
table.columns td.left {
  vertical-align: top;
  padding-top: 1em;
  background: #9CB2CD;
}
table.columns td.main {
  vertical-align: top;
  padding-top: 1em;
}
table.columns td.right {
  vertical-align: top;
  padding-top: 1em;
  background: #EEEEEE;
}



#idioma p {
  margin-top: 0;
}

.logo {
  margin: 0.2em 0em 0.3em 1em;
  padding: 0;
}

.note {
  font-size: smaller;
}

.even {
  background-color: #fff;
}

.odd {
  background-color: #fff;
}

.pending {
  font-weight: bold;
  color: #ffa500;
}

.work {
  font-weight: bold;
  color: blue;
}

.draft {
  font-weight: bold;
  color: #5555ff;
}

.published {
  font-weight: bold;
  color: #22a522;
}

.deferred {
  font-weight: bold;
  color: #ff6600;
}

.expired {
  font-weight: bold;
  color: #ff0033;
}

.locked {
  border: 1px solid #ff6600;
  color: #ff6600;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.url {
  color: #006600
}

input.standalone {
  background: #eeeeee url(linkOpaque.png) 4px 4px no-repeat;
  background-image: none;
  color: Black;
}

input.context {
  background: #ffffff url(linkOpaque.png) 4px 4px no-repeat;
  background-image: none;
  color: Black;
}

input.destructive {
  background: #ffce7b url(linkOpaque.png) 4px 4px no-repeat;
  background-image: none;
  color: black;
}

button {
  font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  background: #eeeeee url(linkOpaque.png) 4px 4px no-repeat;
  color: Black;
  background-image: none;
  vertical-align: middle;
}


div.batchLayout {
  text-align: right;
  background-color: #fff;
}

div.pageNavigationLayout {
  text-align: center;
  background-color: #fff;
}

.contact {
  text-align: center;
  margin: 0;
  padding: 1px 0 1px 0;
}

div.message {
  background: #FFCA31;
  color: Black;
  font: bold 80% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  margin: 1em 0;
  padding: 0.5em 1em;
  vertical-align: middle;
}

div.message a {
  background: #FFCA31;
  color: Black;
  text-decoration: underline;
}

div.description {
  font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  display: block;
  margin-bottom: 0.5em;
  line-height: normal;
}

div.documentActions {
  float: right;
  margin-top: 1em;
}

div.documentActions li {
  display: inline;
}

div.searchBox {
  float: right;
  text-align: right;
  padding: 0;
  margin: 0em 1em 0em 0em;
  clear: right;
}

div.headerActions {
  float: right;
  text-align: right;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 4px;
}

div.headerActions li {
  display: inline;
}

div.pathBar {
  padding: 1px 1em 1px 1em;
  text-transform: none;
}

div.row {
  clear: both;
}

div.label {
  font-weight: bold;
}

div.field {
  padding: 0 0 0 0;
  text-align: left;
}

span.legend {
  font-weight: bold;
}

div.popupImg {
  padding: 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.hiddenItem {
  background-color: #fff;
}

div.contentTabs {
  padding: 0 0 0 1em;
  margin: 0;
}
div.contentTabs a {
  background-color: transparent;
  color: #578308;
  font-weight: normal;
}
div.contentTabs a.selected {
  background-color: #29287b;
  color: #578308;
  font-weight: normal;
}



span.selectedLang {
  background: #003a6b;
  color: #ffffff;
  font-weight: bold;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
a.availableLang {
  text-decoration: underline;
}
a.availableLang:hover {
  text-decoration: none;
}

table.box tr.title {
  color: white;   background-color: #29287B;
}
table.box tr.odd {
  background: #fff;
}
table.box tr.even {
  background: #fff;
}


div.box {
  margin: 0 0 1em 0;
}
div.box .title {
  font-weight: bold;
  text-transform: none;
}
div.box .title2 {
  font-size: 120%;
  font-weight: bold;
}
div.box a.close {
  border: 0;
}
div.box .content {
  padding: 0.7em;
}
div.box ul {
  margin-left: -1em;
  padding: 0;
}
div.box a.selected {
  background: #FFCA31;
}

.workspace {
  background: #F8F8ED;
}

.conformanceStatement {
  text-align: center;
}

.conformanceStatement li {
  display: inline;
}

.conformanceStatement img {
  margin: 1em;
}


.CalendarArrow {
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.CalendarTitle {
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

p.help {
  font-style: italic;
}

table.calendar td {
  white-space: nowrap;
  background-color: white;
  width: 1.5em;
}

table.calendar a {
  text-decoration: none;
  color: black;
}

table.calendar td.event {
  background-color: #fff;
  text-decoration: none;
}

table.calendar td.todayevent {
  background-color: #fff;
}

table.calendar td.weekdays {
  background-color: #fff;
}

table.calendar th {
  background-color: #fff;
  white-space: nowrap;
}

table.localRoleForm th {
  text-align: left;
}

span.highlightedSearchTerm {
  background-color: yellow;
}

