.abs1, .abs2, .abs3, .abs4, .abs5, .abs6, .abs7{position:absolute;top:0;left:0;visibility:hidden;cursor:pointer;cursor:hand;z-index:2; layer-background-color:#000066;}
body .abs1, body .abs2, body .abs3, body .abs4, body .abs5, body .abs6, body .abs7{ background-color:#000066;}
.nochild1, .nochild2, .nochild3, .nochild4, .nochild5, .nochild6, .nochild7{ padding-right:10px; color:#000066;}

.v4img{position:absolute;text-align:right;top:0;left:0;visibility:hidden;height:auto; padding-top:2px;}
.v4filet1, .v4filet2, .v4filet3, .v4filet4, .v4filet5, .v4filet6, .v4filet7{ position:absolute; left:1; top:0;}
.v4off1, .v4off2, .v4off3, .v4off4, .v4off5, .v4off6{position:absolute; text-align:left; visibility:inherit; padding-left:8px; padding-top:2px; padding-right:2px; font-size:11px; font-family:arial; display:block; color:#000066;}
.v4off1, .v4filet1{ background-color:#9999FF; layer-background-color:#9999FF;}
.v4off2, .v4filet2{ background-color:#A3A1A1; layer-background-color:#A3A1A1;}
.v4off3, .v4filet3{ background-color:#00A4E8; layer-background-color:#00A4E8;}
.v4off4, .v4filet4{ background-color:#FFBE00; layer-background-color:#FFBE00;}
.v4off5, .v4filet5{ background-color:#F6A2C4; layer-background-color:#F6A2C4;}
.v4off6, .v4filet6{ background-color:#F8942B; layer-background-color:#F8942B;}
.v4off7, .v4filet7{ background-color:#B3DC10; layer-background-color:#B3DC10;}
.v4on1, .v4on2, .v4on3, .v4on4, .v4on5, .v4on6, .v4on7{background-color:#FFFFFF; layer-background-color:#FFFFFF; position:absolute; text-align:left; visibility:hidden; padding-left:8px; padding-top:2px; padding-right:2px; font-size:11px; font-family:arial; display:block; color:#000066;}

.filet1, .filet2, .filet3, .filet4, .filet5, .filet6, .filet7{ margin-left:1px; margin-right:1px;}
.off41, .off42, .off43, .off44, .off45, .off46, .off47{margin-left:1px; margin-right:1px; margin-top:0px; position:auto; text-align:left; visibility:inherit; padding-left:8px; padding-top:2px; padding-bottom:2px; padding-right:2px; font-size:11px; font-family:arial; display:block; color:#000066;}
.on41, .on42, .on43, .on44, .on45, .on46, .on47{position:absolute; background-color:#FFFFFF; visibility:hidden; left:0; top:0; margin-left:1px; margin-right:1px; margin-top:0px; text-align:left; background-color:#FFFFFF; padding-left:8px; padding-top:2px; padding-bottom:2px; padding-right:2px; font-size:11px; font-family:arial; color:#000066;}
.off41 div, .on41 div, .off42 div, .on42 div, .off43 div, .on43 div, .off44 div, .on44 div, .off45 div, .on45 div, .off46 div, .on46 div, .off47 div, .on47 div{ font-size:11px;}
.off41, .filet1{ background-color:#9999FF;}
.off42, .filet2{ background-color:#A3A1A1;}
.off43, .filet3{ background-color:#00A4E8;}
.off44, .filet4{ background-color:#FFBE00;}
.off45, .filet5{ background-color:#F6A2C4;}
.off46, .filet6{ background-color:#F8942B;}
.off47, .filet7{ background-color:#B3DC10;}

.offv61, .offv62, .offv63, .offv64, .offv65, .offv66, .offv67{margin-left:1px; margin-right:1px; margin-top:0px; position:auto; text-align:left; visibility:inherit; padding-left:8px; padding-top:2px; padding-bottom:2px; padding-right:2px; font-size:11px; font-family:arial; color:#000066;}
head:first-child+body .offv61 div, head:first-child+body .onv61 div, head:first-child+body .offv62 div, head:first-child+body .onv62 div, head:first-child+body .offv63 div, head:first-child+body .onv63 div, head:first-child+body .offv64 div, head:first-child+body .onv64 div, head:first-child+body .offv65 div, head:first-child+body .onv65 div, head:first-child+body .offv66 div, head:first-child+body .onv66 div, head:first-child+body .onv67 div{ font-size:11px;}
.offv61{ background-color:#9999FF;}
.offv62{ background-color:#A3A1A1;}
.offv63{ background-color:#00A4E8;}
.offv64{ background-color:#FFBE00;}
.offv65{ background-color:#F6A2C4;}
.offv66{ background-color:#F8942B;}
.offv67{ background-color:#B3DC10;}
.offv61 .nochild, .onv61 .nochild, .offv62 .nochild, .onv62 .nochild, .offv63 .nochild, .onv63 .nochild, .offv64 .nochild, .onv64 .nochild, .offv65 .nochild, .onv65 .nochild, .offv66 .nochild, .onv66 .nochild, .onv67 .nochild{ padding-right:10px; color:#000066;}
.onv61, .onv62, .onv63, .onv64, .onv65, .onv66, .onv67{background-color:#FFFFFF; margin-left:1px; margin-right:1px; margin-top:0px;text-align:left; padding-left:8px; padding-top:2px; padding-bottom:2px; padding-right:2px; font-size:11px; font-family:arial; color:#000066;}
.v6off1, .v6off2, .v6off3, .v6off4, .v6off5, .v6off6, .v6off7{position:absolute;top:0;visibility:hidden;cursor:pointer;cursor:hand; background-color:#000066;}
.v6on1, .v6on2, .v6on3, .v6on4, .v6on5, .v6on6, .v6on7{position:absolute;top:0;visibility:visible;cursor:pointer;cursor:hand; background-color:#000066;}
.v6ioff{position:absolute;visibility:hidden;cursor:pointer;cursor:hand;border:none}
.v6ion{position:absolute;visibility:visible;cursor:pointer;cursor:hand;border:none}
