* {
outline:none;
}

body, td, li, a {
font-family:Geneva, Arial, Helvetica, sans-serif;
color:#263E4C;
font-size:10pt;
}
a {
text-decoration:none;
}
a:hover {
text-decoration:underline;
}

.soulignement a {
text-decoration:underline;
}
.soulignement a:hover {
text-decoration:none;
}

.imgTd {
width:160px;
height:160px;
border:1px solid #dedede;
}
.imgTd:hover {
border:1px solid #86a1a7;
}
.imgTd2 {
border:1px solid #dedede;
padding:2px;
}

.imgLien {
padding:10px;
}

.lienPro {
font-weight:bold;
text-decoration:underline;
}

.lienPro:hover {
text-decoration:none;
}

.concert {
padding:40px;
padding-top:70px;
padding-bottom:50px;
}
.concertFLien {
color:#BB0000;
}
.concertCLien {
color:#FAE1AA;
}

.concertFSalle {
position:absolute;
margin-left:30px;
margin-top:18px;
font-size:11pt;
font-weight:bold;
color:#BB0000;
text-align:center;
width:210px;
}
.concertCSalle {
position:absolute;
margin-left:30px;
margin-top:18px;
font-size:11pt;
font-weight:bold;
color:#FAE1AA;
text-align:center;
width:210px;
}
.concertFGenre {
position:absolute;
margin-left:252px;
margin-top:20px;
font-size:8pt;
font-weight:bold;
color:#FAE1AA;
width:112px;
text-align:center;
}
.concertCGenre {
position:absolute;
margin-left:252px;
margin-top:20px;
font-size:8pt;
font-weight:bold;
width:112px;
text-align:center;
}
.concertFSurTitre {
font-weight:bold;
font-size:9pt;
color:#ffffff;
}
.concertCSurTitre {
font-weight:bold;
font-size:9pt;
}
.concertFTitre {
font-weight:bold;
font-size:13pt;
color:#ffffff;
}
.concertCTitre {
font-weight:bold;
font-size:13pt;
}
.concertFDates, .concertCDates {
color:#FDAC22;
font-weight:bold;
font-size:11pt;
}
.concertFTarif, .concertFSite a {
color:#ffffff;
font-weight:bold;
}
.concertCTarif, .concertCSite a {
font-weight:bold;
}

.concertFTexte {
color:#ffffff;
}
