/* CSS for the survey module */

/* Labels in survey forms should wrap (core.css says nowrap) */
div.survey label
{ 
    white-space: normal;
}

div.survey-choices label
{
    font-weight: normal;
}

div.survey-choices div.block, div.survey-choices div.element
{
    margin: 0.25em 0 0.25em 0;
}

div.survey-edit
{
    border-bottom: 1px solid #e0e0e0;
}

div.survey-edit-option-header
{
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    margin-top: 1em;
    padding: 0.1em 0.25em 0.1em 0.25em;
}

div.survey-edit-option
{
    border: 1px solid #e0e0e0;
    border-top: none;
    margin-bottom: 1em;
    padding: 0.5em;
}

div.survey-edit-option h2
{
    margin: 0;
    padding-top: 0.25em;
}

div.survey-edit-option input.button
{
    background-color: #f8f8f8;
    font-size: 0.85em;
}

div.survey-view label
{
    white-space: normal;
}
