/* PHOTO */
TD.photo_legende {
  font-size: x-small;
  padding-right: 1ex;
  padding-left: 1ex;
  background-color: #D7C0A7
}

/* BANDEAU */
.bandeau_lieu_date_heure {
  padding-right: 1ex;
  padding-left: 1ex;
  font-size: xx-small
}

/* CARRES */
.carres UL {
  font-size: xx-small;
  list-style-type: none;
  list-style-image: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0
}
.carres LI { margin-bottom: .5em }
TABLE.carres { margin: .3em }
.carres A { font-size: xx-small }

/* PAROLES */
.paroles_titre_s {
  font-size: medium;
  color:#c95633
}
.paroles_descr {
  color: #826030;
  font-size: xx-small
}
.paroles_legende {
  padding-right: 1ex;
  padding-left: 1ex;
  font-size: xx-small
}
.paroles UL {
  font-size: xx-small;
  list-style-type: none;
  list-style-image: none;
  margin-top: .2em;
  margin-bottom: .2em;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0
}
TABLE.paroles { margin: .3em }
TABLE.paroles_photo { margin: .3em }
.paroles LI { margin-bottom: .3em }
.paroles_date { font-size: xx-small }
.paroles_titre { font-size: medium }

/* ACTUALITES */
.actualites UL {
  list-style-type: none;
  list-style-image: none;
  margin-top: .3em;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 1em;
  padding-left: 0
}
.actualites LI { margin-bottom: .3em }
TABLE.actualites { margin: .5em }
.actualites_titre { font-size: medium }
.actualites { font-size: xx-small }