/* -------------- MODUL BLOGS -------------- */
* {
	margin: 0px;
	padding: 0px;
}

div#BlogsModul {
	border: 1px solid #d5d5d5;
	width: 300px;
	height: auto;
	margin: 3px 0 5px 15px;
	padding-bottom: 8px;
	float:left;
	display:inline;
}

div#BlogsModul h1 {
	background: url(fonsHeader.gif);
	width: 290px;
	height: 20px;
	color: #555758;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	padding: 7px 0 0 10px;
}

div#BlogsModul h2 {
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: normal !important;
	font-size: 11px;
	color: #111213;
	clear:left;
}

div#BlogsModul span {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: normal;
	color: #111213;
	clear:left;
}

/*caixarec2 {
	padding-left: 15px;
}*/

div.BlogsContingut {
   width: 290px;
	float:left;
	clear: both;
	margin: 8px 0 0 10px;
	display: inline; 
}

div.BlogsContingut img.ContornImg {
	width: 43px;
	height: 45px;
	border: 2px solid #b2b3b2;
	margin: 0 7px 0 0;
	float:left;
}

div.BlogsContingut a:hover img.ContornImg {
	border: 2px solid #00376d;
}

div.BlogsContingutTxt {
	background-image: none !important;
	width:231px;
	float:left;
	clear:none;
}


div.BlogsContingut p a {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #00376d;
	clear:left;
	background-image: none !important;
}

div.BlogsContingut p a:hover {
	text-decoration: underline;
	}

div#BlogsModul h3 a {
	background: url(VerTodosIcon.gif) no-repeat;
	background-position: 0px 1px;
	text-indent: 15px;
	color: #435aa7;
	font-size: 11px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	margin: 5px 0 0 10px;
	text-decoration:none;
	float:left;
}

div#BlogsModul h3 a:hover {
	text-decoration: underline;
	}
	
	
/* ---------- MODUL OPINION ----------- */
div#OpinionModul {
	width: 650px;
	height: 240px;
	float:left;
	margin: 0 0 10px 0;
}
div#HaitiModul {
	width: 650px;
	height: 170px;
	float:left;
	margin: 0 0 10px 0;

}
div#OpinionModul h1 {
	background: url(fonsHeaderOpi.gif);
	width: 626px;
	height: 21px;
	color: #7a7a7a;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	padding: 6px 0 0 10px;
}
div#HaitiModul h1 {
	background: url(fonsHeaderOpi.gif);
	width: 626px;
	height: 21px;
	color: #7a7a7a;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	padding: 6px 0 0 10px;
}
div.OpinionContingut {
   width: 305px;
	float:left;
	padding-right: 5px;
	margin: 12px 0 10px 10px;
	border-right: 1px solid #bac2c6;
}

* html div.OpinionContingut {
   width: 305px;
	float:left;
	padding-right: 5px;
	margin: 12px 0 10px 5px;
	border-right: 1px solid #bac2c6;
}

div.OpinionContingutDret {
   width: 300px;
	float:left;
	padding-right: 0px;
	margin: 12px 0 10px 10px;
}

div.OpinionContingut h2, div.OpinionContingutDret h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	color: #565656;
	margin: 0;
	float:left;
	clear: left;
	text-transform:uppercase
}

div.OpinionContingut p a, div.OpinionContingutDret p a {
	text-decoration: none;
	margin: 0 0 9px 0;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	color: #373737;
	float:left;
	clear: left;
}

div.OpinionContingut p a:hover, div.OpinionContingutDret p a:hover {
	text-decoration: underline;
	}
