.ArialSeizeBoldRightPadVingt {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 16pt;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	color: #000000;

	text-decoration: none;

	text-align: right;

	vertical-align: bottom;

	padding-right: 20px;

}

.ArialNeufJustPadVingt {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 9pt;

	font-style: normal;

	line-height: 14px;

	font-weight: normal;

	font-variant: normal;

	color: #000000;

	text-decoration: none;

	padding-left: 20px;

	text-align: justify;

	padding-right: 20px;

	vertical-align: top;

	padding-top: 10px;

}

.ArialNeufRight {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 9pt;

	font-style: normal;

	line-height: 14px;

	font-weight: normal;

	font-variant: normal;

	color: #000000;

	text-decoration: none;

	text-align: right;

	vertical-align: top;

}

.ArialSeizeBoldRight {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 16pt;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	color: #000000;

	text-decoration: none;

	text-align: right;

	vertical-align: top;

}

a:link {

	font-family: Arial, Helvetica, sans-serif;

	color: #BF352D;

	text-decoration: none;

}

a:visited {

	font-family: Arial, Helvetica, sans-serif;

	color: #BF352D;

	text-decoration: none;

}

a:hover {

	font-family: Arial, Helvetica, sans-serif;

	color: #000000;

	text-decoration: none;

}

.menuServices {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 8pt;

	font-style: italic;

	line-height: normal;

	font-weight: normal;

	font-variant: normal;

	color: #000000;

	text-decoration: none;

}

.ArialHuitBold {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 8pt;

	font-style: normal;

	line-height: 14px;

	font-weight: bold;

	font-variant: normal;

	color: #000000;

	text-decoration: none;

}

.tabloEntreprise {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 0px;
	padding-bottom: 2px;

}

.ArialSeizeBoldRightBottom {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 16pt;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	color: #000000;

	text-decoration: none;

	text-align: right;

	vertical-align: bottom;

}

.ArialHuit {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 8pt;

	font-style: normal;

	line-height: 14px;

	font-weight: normal;

	font-variant: normal;

	color: #000000;

	text-decoration: none;

	text-align: justify;



}

.ArialNeuf {



	font-family: Arial, Helvetica, sans-serif;

	font-size: 9pt;

	font-style: normal;

	line-height: 14px;

	font-weight: normal;

	font-variant: normal;

	color: #000000;

	text-decoration: none;

	text-align: justify;

	vertical-align: top;

}

.ArialHuitBoldBlanc {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 9pt;

	font-style: normal;

	line-height: 14px;

	font-weight: bold;

	font-variant: normal;

	color: #FFFFFF;

	text-decoration: none;
}
.ArialNeufDroit {



	font-family: Arial, Helvetica, sans-serif;

	font-size: 9pt;

	font-style: normal;

	line-height: 14px;

	font-weight: normal;

	font-variant: normal;

	color: #000000;

	text-decoration: none;
}
.tabloEntrepriseRouge {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 8pt;

	font-style: normal;

	line-height: normal;

	font-weight: normal;

	font-variant: normal;

	color: #FF0000;

	text-decoration: none;

	padding-top: 3px;

	padding-left: 3px;

	padding-right: 0px;

	padding-bottom: 2px;
}
.ArialHuitDroit {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 8pt;

	font-style: normal;

	line-height: 14px;

	font-weight: normal;

	font-variant: normal;

	color: #000000;

	text-decoration: none;

	text-align: right;
}
.ArialNeufBleu {



	font-family: Arial, Helvetica, sans-serif;

	font-size: 9pt;

	font-style: normal;

	line-height: 14px;

	font-weight: bold;

	font-variant: normal;

	color: #003366;

	text-decoration: none;

	text-align: justify;

	vertical-align: top;
}