.search_glossary {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	font-size: 9px;	
}



.searchfield_glossary
{
    width: 105px;
    height: 13px;
    margin-right: 2px;
    color: #666;
    font-size: 10px;
    border: 1px solid #ccc;
    vertical-align: middle;
    padding: 1px;
    background-color: transparent;
}


.glossaryInitialLinks {
	position: relative;
	display: block;
	margin-top: 20px;
	font-size: 12px;
	width: 567px;
	color: #ccc;
}



.glossaryInitialLinks a, a:hover {
	text-decoration: none;
}


.glossary_results table {
	padding: 0px;
	margin-top: 30px;
	display: block;
	position:relative;
	width: 520px;
}

.glossary_results table tr {
	margin: 0;
	padding: 0;
}

.glossary_results table tr td {
	padding:0;
	padding-top: 5px;
	font-size: 10px;
	padding-bottom: 4px;
}


.glossary_results table tr td.term {
	padding-top: 3px;
	width: 159px;	
	padding-left: 8px;
}

.glossary_results table tr td.meaning {
	padding-right: 25px;
	line-height: 13px;
	padding-bottom: 7px;
	padding-left: 0px;

}




.separator_pipe {
	color: #ccc;
}



/* Standard Sizes Table */

table.bannerLibNormalTable
{
    border-collapse: collapse;
    width: 399px;
    margin-bottom: 16px;
}


.bannerLibNormalTable th,
.bannerLibNormalTable td
{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    vertical-align: top;
    text-align: left;
    margin: 0;
}

.bannerLibNormalTable th
{
    background-color: rgb(132,132,132);
    color: #fff;
    height: 26px;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;

}


.bannerLibNormalTable .alternate td
{
    background-color: rgb(248,248,248);
}

.bannerLibNormalTable td
{
    background-color: #fff;
    border-bottom: 1px dashed rgb(204,204,204);
    padding-top: 11px;
    padding-bottom: 11px;
}


table.separateColumns td.alternate
{
    background-color: #fff;
    padding-left: 17px;
}

table.separateColumns td
{
    background-color: rgb(248,248,248);
}


tr.bannerLibNormalTableFirstRow td {
	padding-top: 9px;
}