body
{
    font-size: 78%;
    font-family: arial, helvetica, sans-serif;
    margin-top: 0;
    padding-top: 0;
    background-color: white;
    color: black;
	width: 100%;
}

a
{
    text-decoration: underline;
    color: #666;
}

a img
{
    border: 0;
}

h1
{
    margin-top: 0;
    margin-bottom: 0;
	text-align: center;
}

h2
{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.navigation
{
    background-color: #eee;
    padding: 4px;
    margin-top: 24px;
}

.navigation a
{
    display: block;
    padding-left: 6px;
    padding-right: 6px;
    border-bottom: 1px solid #fff;
    padding-bottom: 1px;
}

table
{
    border-collapse: collapse;
    margin-bottom: 10px;
}

td,
th
{
    text-align: left;
    vertical-align: top;
    border-bottom: 1px dashed black;
    padding-top: 4px;
    padding-bottom: 6px;
    padding-right: 2px;
}

.related
{
    display: none;
}

img
{
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
}

#grid,
#navigationShade,
#navigationHomeSub
{
    display: none;
}

.illustratedLink strong
{
    display: block;
}

.imageSwitch,
.tabs,
.tabs li,
.newsLinks li,
.engineDiagram ol,
.teaserBar
{
	list-style-type: none;
}

.introImage img
{
	max-width: 615px;
	width: 100%;
}
