/* ################################################################################################################## */
/* Définit les styles du type de contenu chalmazel */
/* ################################################################################################################## */


/* ------------------------------------------------------------------------------------------------------------------ */
/* Colonne droite */
/* ------------------------------------------------------------------------------------------------------------------ */
.portletColonneDroiteChalmazel .colonneDroite {
  margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

/* Titre de bloc */
.portletColonneDroiteChalmazel .titreColonneDroite {
	margin: 0px 0px 0px 0px;
	padding: 0px;	
	/* la largeur vaut 2px de plus car sur blocColonneDroite il y a une bordure de 1px à droite et à gauche */
	width : 175px;
	background: #52841F url(http://www.loire.fr/images/custom/chalmazel/fond_titre.gif) no-repeat top left;
	text-align : center ;
}
.portletColonneDroiteChalmazel .titreColonneDroite h2 {
  margin: 0px;
	padding: 3px 0px 3px 5px;
	color: #FFFFFF;
	font-weight: bold;
}
.portletColonneDroiteChalmazel .titreColonneDroite h2 a {
	color: #FFFFFF;
}

/* Contenu du bloc */
.portletColonneDroiteChalmazel .blocColonneDroite {
	margin: 0px 0px 10px 0px;
	border: 1px solid #52841F;
	width : 173px;
}

.portletColonneDroiteChalmazel .blocColonneDroite a {
	color:#333333;
}
.portletColonneDroiteChalmazel .blocColonneDroite a:hover {
	color:#000000;
}

.portletColonneDroiteChalmazel .blocColonneDroite hr{
	margin:0;
}
.portletColonneDroiteChalmazel .blocColonneDroite .imageColonneDroite {
	float:right;
	margin: 0px 0px 2px 2px;
}
/* Surcharge des styles pour le bloc "Rss" en colonne de droite */
.portletColonneDroiteChalmazel .blocColonneDroite .imageRSS {
	float:right;
	margin: 0px 0px 2px 2px;
}
.portletColonneDroiteChalmazel .blocColonneDroite p{
	padding:0 5px 5px 5px !important;
	margin:0;
	width: auto;
}

.portletColonneDroiteChalmazel .icone_meteo{
	vertical-align: middle;
	float: left;
}
.portletColonneDroiteChalmazel .lienMeteoFrance{
	display: inline;
	margin-top: 20px;
}
.portletColonneDroiteChalmazel .h3_etat_station{
	text-align: center;
}

/* Styles pour le bloc "sondage" */
/* Surcharge du style "action" */
.portletColonneDroiteChalmazel .blocColonneDroite .action{
  text-align: center;
  margin: 5px 0px 5px 0px;
}


.portletColonneDroiteChalmazel  h3{
	padding: 0 3px !important;
	color: #333333;
}

.fondBloc{
	background-color : #A7CB2B;
	padding : 3px ;
	border-bottom: 1px solid #52841F;
	border-top: 1px solid #52841F;
}

.portletColonneDroiteChalmazel  .h3_une_ligne{
	font-size: 100%;
	padding: 0 !important;
}

.portletColonneDroiteChalmazel .wiki p img{
	vertical-align: middle !important;
}


.blocColonneDroite #infos_pratique_droite{
	padding-top:3px;
}

.blocColonneDroite .vignetteWebcam{
	text-align: center;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles pour la page d'état des pistes */
/* ------------------------------------------------------------------------------------------------------------------ */
#etatDesPistes{
}
#etatDesPistes table{
border: 1px solid #336699;
border-collapse:collapse;
border-spacing: 0px;
}
#etatDesPistes td{
border: 1px solid #336699;
}

#etatDesPistes .gauche,#etatDesPistes .droite{
	float: left;
}
#etatDesPistes .gauche{

}
#etatDesPistes .droite{
  margin-left: 40px;
}

#etatDesPistes .cellNumPiste{
	padding: 5px;
	width: 22px;
	text-align: center;
	color: white;
	font-weight: bold;
}
#etatDesPistes .cellNoColor{
	color: black;
}
#etatDesPistes .cellNomPiste{
	padding: 5px;
	width:160px;
}

#etatDesPistes .cellEtatPiste{
	padding: 5px;
	font-weight: bold;
	width: 50px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles pour la colone de droite en accueil */
/* ------------------------------------------------------------------------------------------------------------------ */
#colonne_accueil_droite_chalmazel{
	
	width:144px;
	font-size: 10px;
	padding:2px;
	border: #336699 1px solid;
	background-color: #d1f0fc;
}
#colonne_accueil_droite_chalmazel #image_station_chalmazel{
	width: 143px;
	height: auto;
}
#colonne_accueil_droite_chalmazel .meteo {
	float:left;
	width: 50px;
}
#colonne_accueil_droite_chalmazel .gauche{
	float: left;
	width: 50px;
}
#colonne_accueil_droite_chalmazel .droite{
	margin: 0 0 8px 3px;
	float: left;
	width:90px;
}

#colonne_accueil_droite_chalmazel h2{

	color:#336699 !important;
	font-size: 10px;
	font-weight: normal;
	padding: 0;
	margin: 0 0 2px 0;
	width: 80px;
}
#colonne_accueil_droite_chalmazel h3{
	padding:0;
	margin:5px 0 5px 0;
	color:#336699 !important;
	text-transform:uppercase;
	text-align:center;
	font-size:130%;
}
#colonne_accueil_droite_chalmazel .lien {
	margin-left: 3px;
}
#colonne_accueil_droite_chalmazel  #titre_webcam{
	margin-left:3px;
}
#colonne_accueil_droite_chalmazel .wiki p img{
	vertical-align: middle !important;
}
