/* Message Box */
@import url("msgbox.css");

/* Form */
@import url("form.css");

/* Misc */
@import url("misc.css");

/* List */
@import url("list.css");

/* Tags */
@import url("tag.css");

/* Widget */
@import url("widget.css");

/* Tab */
@import url("tab.css");

/* Body */
body {margin: 0; background-color: #FFFFFF; }

/* Exception */
DIV.exception BUTTON{
  font: bold 8pt Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  background-color: #CC0000;
  border:1px solid  #666666;
  margin: 1px;
}
DIV.exception TEXTAREA { 
  overflow:    scroll;
  white-space: pre;
  text-align:  left;
  font-size: 8pt;
  padding:   5px;
  margin:    0px;
  height:    300px;
  width:     400px;
  border:1px solid  #CC0000;
  background-color: #DDDDDD;
  color: #111111;
  display: block;
}
HTML > BODY  DIV.exception TEXTAREA { width: 90%; }

/* Tree */
.tree, .tree SPAN, .tree A, .tree TD {
 border:0px solid red;
 padding:0px;
 margin:0px;
 border-collapse:collapse;
 font:12px Arial, Helvetica, sans-serif;
 text-decoration:none;
 color:black;
 white-space:nowrap;
}
.tree A:hover { text-decoration: underline; }
.tree INPUT { width:12px; height:12px;}
.tree A.node IMG { border:0px;}

.ULtree , .ULtree UL { font: 12px Arial, Helvetica, Sans-Serif; color: #333333; list-style-type : none ; }
.ULtree LI           { font: 12px Arial, Helvetica, Sans-Serif; color: #333333; margin : 2px 2px 0px -25px ; white-space: nowrap; }
.ULtree A            { font: 12px Arial, Helvetica, Sans-Serif; color: #333333; text-decoration: none;}
.ULtree A:hover      { text-decoration: underline; }
.clickable           { cursor: pointer; }


