/* ################################################################################################################## */
/* Définit les styles généraux des TAGS HTML */
/* ################################################################################################################## */

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style des éléments englobants */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Style du corps */
body {
	margin : 0px;
	padding : 0px;
	/* Couleur et image du fond du site que l'on voit dans une résolution > 1024 à droite */
	background : #e6e6e6 ;
	/* Fonte globale */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	/* Couleur globale des textes */
	color:#333333;
	text-align : center ;
}

/* Style des formulaires */
form {
  margin:0px;
  padding:0px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style des éléments d'affichage */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Style des images */
img {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}

/* Style des liens */
a {
  color: #336699;
  text-decoration: underline;
}
a:hover {
  color: #A2BE28;
  text-decoration: underline;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles des niveaux d'affichage */
/* ------------------------------------------------------------------------------------------------------------------ */
h1 {
	margin: 10px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	color:#A2BE28;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size : 170%;
	font-weight : bold;
}
h2 {
	margin: 10px 0px 10px 10px;
	padding: 0px;
	color:#A2BE28;
	font-size : 120%;
	font-weight : bold;
}
h3 {
	margin: 5px 0px 5px 0px;
	padding: 0px;
	color:#008FAD;
	font-size : 110%;
	font-weight : bold;
}
