
/* ################################################################################################################## */
/* Définit les styles de l'affichage des modules de recherche de certains contenus du site */
/* ################################################################################################################## */

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style des recherches des types de contenu (Annuaires, Bibliothèques) */
/* ------------------------------------------------------------------------------------------------------------------ */
#contenuPrincipal .searchEngine {
  margin: 0px;
  padding: 0px;
}
#contenuPrincipal .searchEngine form {
	margin : 1em 1em 1em 0;
	padding : 0px;
}
#contenuPrincipal .searchEngine dl {
	position : relative;
	margin:  0;
	padding: 0;
	border : 1px solid;
	border-bottom: 0; /* BUG IE6 si on ne met pas un border sur les 4 cotés ou si on place un border-top : 0 ?????????????????*/
}
#contenuPrincipal .searchEngine dl.last {
  border-bottom: 1px solid;
  margin : 0px 0px 5px 0px;
}
#contenuPrincipal .searchEngine dt {
	position: absolute;
	left: .5em;
	top: .75em;
	width: 14.5em;
	font-weight: bold;
}
#contenuPrincipal .searchEngine dt.zonegeo {
	position: absolute;
	left: .5em;
	top: .37em;
	width: 14.5em;
	font-weight: bold;
}
#contenuPrincipal .searchEngine dd {
	border-left: 1px solid;
	margin: 0 0 0 16em;
	padding: .5em;
}
#contenuPrincipal .searchEngine dd.zonegeo {
	border-left: 1px solid;
	margin: 0 0 0 16em;
	padding: 0em;
}

/* Styles utilisés pour la partie tri et mot clé*/
#contenuPrincipal #zoneTri {
	margin: 0px;
	padding: 0px;
  float:left;
}
#contenuPrincipal #zoneMotCle {
	margin: 0px;
	padding: 0px;
  float:right;
}
#contenuPrincipal #zoneTri label, #contenuPrincipal #zoneMotCle label {
	font-weight: bold;
	margin: 0px 10px 0px 10px;
}

/* Styles utilisés pour la bibliothèque de vidéo */
#contenuPrincipal .searchEngine table.bibliotheque {
	margin: 0px;
	padding: 0px;
	border: 1px solid #A2BE28;
	border-collapse: collapse;
	width: 100%;
}
#contenuPrincipal .searchEngine table.bibliotheque td {
	margin: 0px;
	padding: 2px 2px 2px 5px;
	border: 1px solid #A2BE28;
}
#contenuPrincipal .searchEngine table.bibliotheque td label {
	margin: 0px 100px 0px 0px;
	font-weight: bold;
}
#contenuPrincipal .searchEngine table.bibliotheque td select {
	width: 300px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style des résultats de recherches des types de contenu */
/* TODO Ne plus utiliser*/
/* ------------------------------------------------------------------------------------------------------------------ */
.searchResult {
	margin : 0;
	padding : 0px 10px 0px 0px;
}
.searchResult ol {
	margin : 0;
	padding : 0;
}
.searchResult li {
	margin : .5em 0 1.5em 0;
	padding : 0px 0px 10px 0px;
	list-style : none;
	list-style-image : none!important;
	border-bottom : 1px dotted;
}

.searchResult .ficheAnnuaire {
	margin : 0px;
	padding : 0px;
}
.searchResult .ficheAnnuaire p.photo {
	margin: 0px;
	padding: 0px;
}

.searchResult dl, .searchResult dt, .searchResult dd {
	margin : 0px;
	padding : 0px;
}
.searchResult dt.titre{
	font-weight : bold;
}
.searchResult .ficheAnnuaire .titre {
	margin: 0px;
	padding: 0px;
	font-weight : bold;
	text-transform: uppercase;
}
.searchResult .ficheAnnuaire .type {
	margin : .5em 0;
	padding : 0;
	color: #52841F;
	font-weight : bold;
}
.searchResult .ficheAnnuaire .description {
	margin-top : 1em;
}


/* Annuaire de document, Annuaire Géographique et Bibliothèque d'Ecard */
.modeClassique, .modeClassiqueLast {
	border-bottom : 1px dotted #339;
	margin:.5em 0;
	width:99%
} 
.modeDoubleOld, .modeDoubleOldLast {
	width:50%;
	float:left;
	margin:.5em 0;
}
.modeDoubleOld {clear: both;}
.modeDoubleOldLast {clear: none;}
.modeDoubleOld td  {padding-right:.5em;}
.modeDoubleOldLast {border-left : 1px dotted #339;}
.modeDoubleOldLast td {padding-left:.5em;}
/* --------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style des résultats de recherches des annuaires et bibliothèques */
/* ------------------------------------------------------------------------------------------------------------------ */
.resultatRecherche {
  width: 100%;
  border-collapse: collapse;
}
.resultatRecherche td {
	margin: 0px;
	padding: 5px 0px 5px 0px;
	vertical-align: top;
}
.resultatRecherche td.separateur {
  border-left: 1px dotted #339;
  padding-left: 5px;
}
.resultatRecherche td.modeSimple {
	width:100%;
}
.resultatRecherche td.modeDouble {
	width:50%;
}

.resultatRecherche .imageDouble {
	float:left;
	margin: 0px 15px 5px 0px;
}

/* Ligne de séparation entre le contneu et les moterus de recherche (Vidéo et item d'agenda)*/
hr.separateurRecherche {
  margin: 10px 0px 10px 0px;
  padding: 0px;
  border: 2px solid #52841F;
}
