
/* ################################################################################################################## */
/* Définit les styles des formulaires du site */
/* ################################################################################################################## */
#formulaire{
	margin: 0px 0px 0px 10px;
	padding: 0px 5px 0px 0px;
}

/* Texte législatif dans les formulaires */
.textecnil {
	border:none;
	border-top :1px solid #B8AC96;
	border-bottom :1px solid #B8AC96;	
	padding: 5px 0px 5px 0px;
	margin: 5px 0px 5px 0px;
}
/* bloc html "address" */
.textecnil address {
	margin:0;
	margin-top:5px;
	font-style:normal;
}
/* Style de l'indication pour les champs obligatoires "(*)" */
.note {
	color : #B8AC96;
	font-weight : bold;
	text-decoration : none;
	position: relative;
}

/* Surcharge du style legende */
p.legend {
	margin: 5px;
	padding: 3px;
	background-color:#52841F;
	color:#FFFFFF;
	font-weight:bold;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles généraux du formulaire */
/* ------------------------------------------------------------------------------------------------------------------ */
fieldset{ 
	margin: 0px 10px 0px 0px;
	padding: 5px 0px 0px 5px;
  border: 2px solid #B8AC96;
}
.field, .fieldmultilabel {
  margin: 0px;
  padding: 5px;
}
.field .label, .fieldmultilabel .label {
	margin: 0px;
	padding: 0px 10px 0px 0px;
	font-weight: bold;
}
.field input, .field textarea, .field select {
  width: 98%;
  margin: 0px;
  padding: 0px;
	color:#000000;
	background-color:#FFFFFF;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles des formulaires spécifiques */
/* TODO A deplacer en mieux dans formulaire spécifiques */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Zones des libellés et champs */
.formulaireSpec .field,
.formulaireSpec .fieldcalendar,
.formulaireSpec .fieldmultilabel,
.formulaireSpec .fieldlong {
	position :  relative;
	width : 77%;
	margin: 0px;
	padding: 0px;
}
.formulaireSpec .fieldmultilabel {
	margin-left: 200px;
	width:60%;
}
/* Libellés des champs */
.formulaireSpec label span {
	cursor:default;
	text-decoration:none;
}
.formulaireSpec .field label span,
.formulaireSpec .fieldcalendar label span,
.formulaireSpec .fieldlong label span {
	position : absolute;
	top : 0;
	left : 0;
	font-weight : bold;
	width : 25%;
	padding: 0px 0px 0px 5px;
}
.formulaireSpec .fieldlong label span {
  width:250px;
}
.formulaireSpec .fieldmultilabel label span {
  font-weight : bold;
}

/* Utilisé pour le libellé "Choisir une date" des champs date */
.formulaireSpec span {
	cursor:pointer;
	text-decoration:underline;
}

/* Champs */
.formulaireSpec .field input,
.formulaireSpec .field select,
.formulaireSpec .field textarea,
.formulaireSpec .fieldcalendar input {
	margin-left: 150px;
	margin-top: 1px;
	margin-bottom: 1px;
	width: 95%;
}
.formulaireSpec .fieldcalendar input  {width:90px;}
.formulaireSpec .fieldlong input,
.formulaireSpec .fieldlong select,
.formulaireSpec .fieldlong textarea {
	margin-left : 250px;
	width : 79%;
}
