/* Forum */

table.forumBorder     { background-color: #666660; }
table.forumBackground { background-color: #e0e0e0; }
td.forumHeader        { color:#FFFFFF;  background-color: #CCCCC0; font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-align: center; font-size: 10pt; white-space:nowrap;}
a.forumHeader         { color:#FFFFFF; font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-align: center; }
a.forumHeaderSel      { color:#FFFF00; font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-align: center; }
td.forumEmptyHeader   { background-color:#ffffff;}
tr.forumOddRow        { background-color:#e0e0e0; font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
tr.forumEvenRow       { background-color:#f0f0f0; font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
td.forumEvenRow       { background-color:#f0f0f0; font-family: Arial, Helvetica, sans-serif; font-size: 10pt }
td.forumOddRow        { background-color:#e0e0e0; font-family: Arial, Helvetica, sans-serif; font-size: 10pt }
.forumEvenRow A, 
.forumOddRow A        {color:#000000; font-weight: bold; text-decoration: none;}
.forumEvenRow A:hover, 
.forumOddRow A:hover  {color:#000000; font-weight: bold; text-decoration: underline;}

/* threadView */

#threadView {
  margin-bottom: 20px;
  width: 98%;
}
#threadView .message {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  padding: 5px 0 0 30px;
  margin: 0 0 0 0;
  background-image: url("http://www.loire.fr/images/jalios/icons/files/article.gif");
  background-repeat: no-repeat;
  background-position: 10px 5px;
}
#threadView .message .message {
  border-left: 1px dashed #CCCCCC;
}
#threadView .details {
  font-family: verdana, sans-serif;
  font-size: x-small;
  color: #666666;
}

/* Discussion table & post message */

#discussionTable {
  margin: 20px 0;
}
.post {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #666660;
  margin-bottom: 5px;
  padding: 5px;
  background-color:#e0e0e0;
  width: 100%;
}
#discussionTable .oddRow  { background-color:#e0e0e0; }
#discussionTable .evenRow { background-color:#f0f0f0; }
.post div.reply {
  float: right;
  margin-right: 4px;
}
.post .reply {
  font-size: small;
}
.post .writer {
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding: 0 0 2px 25px;
}
.post .writer p {
  font-size: x-small;
  display: inline;
  margin: 0 5px 5px 0;
}
.post .writer p.author {
  font-size: small;
  font-weight: bold;
  display: block;
  margin-bottom: 0;
}
.post .writer p.author a { color: black; }
.post .title {
  font-size: small;
  font-weight: bold;
padding-bottom: 10px;
  border-bottom: 1px dashed #CCCCCC;
}
.post .message {
  background-color: #FFFFFF;
  clear: both;
  padding: 5px;
  font-size: small;
}
