.Glossary .index { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
}

.Glossary .indexLetter { 
   font-weight: bold;
   color: #000000;
}

.Glossary .emptyLetter { 
   color: #999999;
}

.Glossary .letter { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.Glossary .entry {
  margin-top:    10px;
  margin-bottom: 20px;
}

.Glossary .entry .term {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
}


.Glossary .entry .seealso .label {
  font-weight: bold;
  border-right: 0px;
  border-left: 0px;
}


.Glossary .entry .translation .label {
  font-weight: bold;
  border-right: 0px;
  border-left: 0px;
} 