/* ################################################################################################################## */
/* Définit les styles du menu gauche du site */
/* ################################################################################################################## */

#navigationColonne {
	margin : 0px;
	padding : 0px 0px 5px 0px;
	background-color: #A7CB2B;
	width: 186px;
}

/* Classe de la portlet bandeau image pour l'alignement de l'image */
.bandeauOnglet img{
	vertical-align:top;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style du menu de l'entête */
/* ------------------------------------------------------------------------------------------------------------------ */
#enteteMenu {
  margin: 11px 0 0 0;
  padding:0 0 0 20px;
  height: 35px;
  background:#36709B;
}
#navigationEntete {
	margin: 0px;
	padding: 11px 0px 0px 0px;
}
/*Définit une entrée du menu*/
#navigationEntete li {
	margin: 0px 30px 0px 0px;
	padding: 0px;
	display: inline;
	list-style-type: none;
	/* Couleur de l'entrée sélectionnée */
  color: #B4D73A;
  font-weight: bold;
}
#navigationEntete li img{
	margin: 0px 3px 0px 0px;
	padding: 0px;
	vertical-align: middle;
}
#navigationEntete a {
  color: #FFFFFF;
	text-decoration: none;
}
#navigationEntete a:hover {
	color: #B4D73A;
	text-decoration:none;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style de la navigation primaire (Valable pour la navigation générale et extranet) */
/* ------------------------------------------------------------------------------------------------------------------ */
.navigationPrimaire {
	margin: 0px;
	padding: 0px;
	width : 186px;
	background-color: #A7CB2B;
	vertical-align: top;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
/* Niveau 1 de navigation */
.navigationPrimaire ul {
	margin: 0px;
	padding: 0px 1px 0px 1px;
	list-style-type : none;
	height: 100%;
}
.navigationPrimaire ul li {
  margin: 0px;
	padding: 0px 0px 1px 0px;
  color: #006633;
  font-size: 11pt;
  font-weight: bold;
}
.navigationPrimaire ul li span{ 
	cursor : pointer ;
}
.navigationPrimaire ul li img {
 vertical-align: middle;
 margin: 0px 0px 1px 1px;
}
/* Niveau 2 de navigation */
.navigationPrimaire ul ul {
	background-color:#EAFFAA;
	margin: 0px;
	padding: 0px 0px 0px 10px;
}
.navigationPrimaire ul ul li {
	margin:0px 0px 0px 0px;
	padding:5px 0px 5px 0px;
	font-size: 10pt;
}
/* Niveau 2 - Liens */
.navigationPrimaire li li a {
  color: #000000;
	font-weight: bold;
	text-decoration: none;
}
.navigationPrimaire li li a:hover {
	color: #000000;
	text-decoration: underline;
}
/* Classe du niveau 2 en cours de consultation*/
.navigationPrimaire li li .courante {
	color: #000000;
}

/* Niveau 3 de navigation */
.navigationPrimaire ul ul ul {
  margin: 5px 0px 0px 0px;
  padding: 1px 2px 1px 0px;  
  background-color: #fff;
  font-family: verdana;
}
.navigationPrimaire ul ul ul li {
  margin: 0px;
  padding: 6px 0px 0px 0px;
}
.navigationPrimaire ul ul ul li div.coin_bas{
  margin: 0px;
  padding: 0px 0px 6px 0px;
}
.navigationPrimaire ul ul ul li div.coin_bas p{
  margin: 0px;
  padding: 0px 0px 0px 12px;
}
/* Niveau 3 - Liens */
.navigationPrimaire li li li a {
  margin: 0px;
  padding: 0px;
	color: #30463F;
	font-size: 90%;
	text-decoration: none;
}
/* Classe du niveau 3 en cours de consultation*/
.navigationPrimaire ul ul ul li.hover a {
  color: #30463F;
}
.navigationPrimaire ul ul ul li.hover a:hover {
  color: #30463F;
}
.navigationPrimaire ul ul ul li.courante {
	color: #000;
}
.navigationPrimaire ul ul ul li.courante a {
	color: #000;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style de la navigation "A votre service" */
/* ------------------------------------------------------------------------------------------------------------------ */
#navigationService {
	margin : 0px;
	padding : 0px;
	background-color: #52841F;
	width: 186px;
	vertical-align: top;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
#navigationService h2 {
  margin: 0px;
	padding: 0px;
	font-size: 100%;
  font-weight: bold ;
}
#navigationService ul {
	margin : 0px;
	padding : 0px 0px 0px 0px;
	list-style-type : none;
}
#navigationService ul li {
  margin: 0px;
	padding: 0px 0px 0px 0px;
}
/* Liens sans image */
#navigationService ul li a {
  color: #FFFFFF;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
}
#navigationService ul li a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

/* Second niveau */
#navigationService ul ul {
	margin : 0px;
	padding : 0px 0px 0px 10px;
	list-style-type : none;
}
#navigationService ul ul li {
	margin : 0px;
	padding : 5px 0px 5px 0px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles de la portlet "Nuage de tags" */
/* ------------------------------------------------------------------------------------------------------------------ */
#tagCloud{
	background : #FFFFFF url(http://www.loire.fr/images/custom/internet/portlet/headerTagcloud.gif) no-repeat top left;
	margin : 0px 1px 0px 1px;
	padding : 40px 1px 5px 1px;
}
.nuage1 {font-size : 8pt; font-weight: bold}
.nuage2 {font-size : 9.5pt; font-weight: normal}
.nuage3 {font-size : 10pt; font-weight: bold}
.nuage4 {font-size : 12pt; font-weight: normal}
.nuage5 {font-size : 14pt; font-weight: normal}
#tagCloud a{
	font-family: verdana;
	color: #003854;
	text-decoration: none;
	line-height: 25px;
}
#tagCloud a:hover {
  color: #A2BE28;
  text-decoration: underline;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style pour la navigation "Extranet" uniquement */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Style du lien de déconnexion */
a.deconnexion {
	margin: 10px 0px 0px 10px;
	padding: 0px 0px 0px 0px;
  color: #52841F;
	font-size: 90%;
  font-weight: bold;
  text-decoration: none;
}
a.deconnexion:hover {
  color: #52841F;
  text-decoration: none;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style du chemin de fer */
/* ------------------------------------------------------------------------------------------------------------------ */
.navigationChemin {
	margin: 10px 0px 0px 0px;
	padding: 5px 0px 5px 10px;
  color: #435440;
  font-weight: bold;
  font-size : 90% ;
}
.navigationChemin .niveau1 {
  margin: 0px;
	padding: 0px 0px 0px 0px;
  color: #435440;
  font-weight: bold;
  height: 1em;
  text-decoration: none;
}
.navigationChemin .niveau2 {
  color: #435440;
  font-weight: bold;
  text-decoration: none;
}
.navigationChemin .niveau2:hover {
	text-decoration: underline;
}
.navigationChemin .niveau3 {
  color: #435440;
  font-weight: bold;
  text-decoration: none;
}
.navigationChemin .niveau3:hover {
  text-decoration: underline;
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* Style de la navigation N2 */
/* ------------------------------------------------------------------------------------------------------------------ */
.navigationCheminN2 .niveau1 {
  font-weight: bold;
  color : #006b2f ;
  font-size : 150% ;
}
.navigationCheminN2 .niveau2 {
  font-weight: bold;
  font-size : 200% ;
  color : black ;
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* Style de la navigation en pied de page */
/* ------------------------------------------------------------------------------------------------------------------ */
.navigationPied {
	margin: 10px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	border-top: 1px solid #A7CB2B;
	border-bottom: 1px solid #A7CB2B;
	zoom:1;
}

.navigationPied .blocPied {
	margin: 0px;
	padding: 0px 0px 5px 0px;
	float: left;
	width: 200px;
}
.navigationPied .blocPied a {
	margin: 0px;
	padding: 0px;
	color:#454545;
	text-decoration:none;
	font-family: Geneva, Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
}
.navigationPied .blocPied a:hover {
	color:#006633;
	text-decoration: underline;
}
