
/* ################################################################################################################## */
/* Définit les styles des "plans de navigation" du site */
/* ################################################################################################################## */

#planNavigation {
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles du "plan du site" */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Surcharge du H1 */
#planNavigation h1{
	margin: 0px;
	padding: 5px 0px 5px 10px;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: #B8AC96;
  color: #006633;
 
}

#planNavigation h1 img {
	margin: 0px  5px 0px 0px;
	padding: 0px;
	vertical-align: middle;
}
	
/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles commun au "plan du site" et au "plan de catégorie" (portlet JSP) */
/* ------------------------------------------------------------------------------------------------------------------ */
#planNavigation .blocPlan{
  margin: 0px;
  padding: 0px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #B8AC96;
}

/* Affichage du niveau 2 */
#planNavigation .niveau2{
  margin: 0px;
  padding: 3px 0px 3px 10px;
  background-color: #efefef;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #B8AC96;
}
#planNavigation .niveau2 a{
  color:#3b3b3b;
  font-weight: bold;
  text-decoration: none;
}
#planNavigation .niveau2 a:hover{
  color: #272727;
  text-decoration: underline;
}
/* Affichage du niveau 3 */
#planNavigation .niveau3{
  margin: 0px;
  padding: 0px 0px 5px 10px;
  background-color: #FFFFFF;
}
#planNavigation table{
  margin: 0px;
  padding: 0px;
  border-collapse:collapse;
  width: 100%;
}
#planNavigation td{
  margin: 0px;
	padding: 3px 0px 2px 10px;
	background-image: url(http://www.loire.fr/images/custom/internet/navigation/puce.gif);
	background-position: 2px 3px;
	background-repeat: no-repeat;
  width: 50%;
  vertical-align: top;
}
#planNavigation td.vide{
  margin: 0px;
	padding: 0px;
	background-image: none;
  width: 50%;
}
#planNavigation .niveau3 a{
  margin: 0px;
  padding: 0px;
  color:#272727;
  font-weight: normal;
  text-decoration: none;
}
#planNavigation .niveau3 a:hover{
  color:#272727;
  text-decoration: underline;
}
