/* ################################################################################################################## */
/* Définit les styles de la portlet "Calendrier" */
/* ################################################################################################################## */

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style de la portlet calendrier réduite */
/* ------------------------------------------------------------------------------------------------------------------ */
.portletCalendrierGauche {
  margin: 0px 0px 15px 0px;
	padding: 5px 0px 10px 0px;
	text-align: center;
	background-color : #a7cb2b;
	background: #a7cb2b url(http://www.loire.fr/images/custom/internet/portlet/calendrier_fond.gif) no-repeat bottom left;
	width : 150px;
	color: #FFFFFF;
}

/* Styles des liens de l'entete */
.portletCalendrierGauche a {
  margin: 0px;
	padding: 0px;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
}
.portletCalendrierGauche a:visited {
  color: #FFFFFF;
}
/* Styles du tableau */
.portletCalendrierGauche table {
	margin: 0px;
	padding: 0px;
	width: 100%;
	border:1px solid #a7cb2b;
	border-spacing: 0px;
}
/* Styles du tableau */
.portletCalendrierGauche table td {
	margin: auto;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
	height: 20px;
	background-color: #b8d551;
}
.portletCalendrierGauche table td.celluleEntete {
  background-color: #a7cb2b;
}
.portletCalendrierGauche table td.empty {
  background-color: #a7cb2b;
}
/* Styles des liens des cellules */
.portletCalendrierGauche table td {
  color: #FFFFFF;
}
.portletCalendrierGauche table td a:visited {
  color: #FFFFFF;
}
.portletCalendrierGauche table td a:hover {
  color: #FFFFFF;
}

.portletCalendrierGauche table td.celluleJour  {
  color: #FFFFFF;
  background-color: #9ba748!important;
  font-weight: bold;
}
.portletCalendrierGauche table td.celluleJour a {
  color: #FFFFFF;
}
.portletCalendrierGauche table td.celluleEvent {
  background-color: #b8d551;  
}

/* Style du lien sous le calendrier */
.lienAgenda {
	margin: 0px;
	padding: 10px 0px 0px 0px;
}
.lienAgenda a{
	color:#FFFFFF;
	text-decoration: underline;
}
.lienAgenda a:hover {
	color:#FFFFFF;
}
