
/* ################################################################################################################## */
/* Définit les styles de la recherche du site */
/* ################################################################################################################## */

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style du menu de recherche */
/* ------------------------------------------------------------------------------------------------------------------ */
#fond_recherche{
	padding: 0px 0 0 0 ;
	margin : 11px 0 0 0 ;
	height: 35px;
	background: #36709B;
}

.formulaireRecherche {
  margin: 0px 0px 0px 0px;
  padding: 5px 0px 0px 0px;
}
.formulaireRecherche label {
	color: #FFFFFF;
	font-weight: bold;
	vertical-align: middle;
}
/* Champ de recherche rapide*/
.formulaireRecherche #inputMoteurRecherche {
	border: 1px solid #AEB3F3;
	width: 95px;
	height: 15px;
	vertical-align: middle;
}
/* Bouton d'action de la recherche rapide*/
.formulaireRecherche #opSearch {
	border: 0px;
	width: 25px;
	height: 25px;
	background: url(http://www.loire.fr/images/custom/internet/portlet/recherche_bouton.gif) no-repeat left top;
	vertical-align: middle;
	cursor: pointer;
}
/* Lien pour la recherche avancée*/
.formulaireRecherche a {
  margin: 0px 0px 0px 10px;
  padding: 4px 0 6px 22px ;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	background: url(http://www.loire.fr/images/custom/internet/portlet/recherche_avancee.gif) no-repeat left center;
	vertical-align: middle;
}
.formulaireRecherche a:hover {
	text-decoration: none;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style de la recherche avancée */
/* ------------------------------------------------------------------------------------------------------------------ */
#rechercheAvancee{
  margin: 0px 0px 0px 10px;
  padding: 0px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style de l'affichage des résultats */
/* ------------------------------------------------------------------------------------------------------------------ */
#resultatRecherche {
  margin: 0px 0px 0px 10px;
  padding: 0px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles du formulaire en entete des résultats */
/* ------------------------------------------------------------------------------------------------------------------ */
/*-----------------------------------------------------*/
/* Style du nombre de resultats et du texte recherché */
#resultatRecherche #nbrResultat {
	margin: 0px 0px 0px 5px;
	padding: 0px;
}
#resultatRecherche #nbrResultat p{
	margin: 5px 0px 0px 0px;
	padding: 0px 20px 0px 0px;
	display : inline;
	font-weight: bold;
	font-size: 120%;
}

/*-----------------------------------------------------*/
/* Style de l'entete des résultats de recherche (recherche affinée) */
#resultatRecherche .rechercheAffiner {
	margin: 5px 5px 0px 5px;
	padding: 5px;
	background-color: #DBDADB;
	text-align:right;
}
#resultatRecherche .rechercheAffiner label {
	text-transform:capitalize ;
}
#resultatRecherche .rechercheAffiner input {
  margin: 0px;
  padding: 0px;
  height: 18px;
	border : 1px solid #DBDADB;
}
#resultatRecherche .rechercheAffiner input.noBorder {
	border-width : 0;
}

#resultatRecherche .rechercheAffiner p {
  margin: 0px;
  padding: 0px;
}
#resultatRecherche .rechercheAffiner .left {
  margin: 0px;
  padding: 0px;
	float: left;
}
#resultatRecherche .rechercheAffiner .right {
	float : right;
}

#resultatRecherche .rechercheAffiner .formButton {
	background-color: #FFFFFF;
	color : #9999CC;
	height: 20px;
}

/* Surcharge du style "lien" */
#resultatRecherche .rechercheAffiner .lien {
  margin: 0px;
  padding: 5px 0px 0px 0px;
  clear:both;
}

/*-----------------------------------------------------*/
/* Style de l'entete des résultats de recherche ("trier par") */
#resultatRecherche .trie {
	margin: 10px 5px 0px 5px;
	padding: 3px;
	border-bottom : 1px solid #DBDADB;
}
#resultatRecherche .trie p {
  margin : 0px;
	padding: 0px;
	float:left;
	font-weight: bold;
}
#resultatRecherche .trie ul {
	margin : 0px 0px 0px 10px;
	padding : 0px;
	float:left;
}
#resultatRecherche .trie li {
	list-style-type: none;
	display:inline;
}

#resultatRecherche .legende {
	margin: 0px;
	padding: 10px 5px 10px 5px;
}
#resultatRecherche .legende img {
  vertical-align: middle;
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles des résultats de recherche */
/* ------------------------------------------------------------------------------------------------------------------ */
#resultatRecherche .blocResultatRecherche {
	margin : 10px 0px 0px 5px;
	padding: 0px;
}
#resultatRecherche .blocResultatRecherche p.date {
	margin: 0px;
	padding: 0px;
  color: gray;
}
/* Surcharge du style du lien */
#resultatRecherche .blocResultatRecherche p.lien a {
	color: #333333;
	text-decoration: underline;
	font-size: 130%;
}
#resultatRecherche .blocResultatRecherche p.lien a:hover {
	color: #A2BE28;
}
/* Surcharge du surlignage du mot recherché dans les réponses */
#resultatRecherche .blocResultatRecherche span.highlight{
  background-color: #DBDADB;
}
