#commune_list{
	z-index : 200;
	background-color : white ;
	cursor : pointer ;
	border : 1px solid #ffa800 ;
}
#commune_list .selected{
	background-color : #ffa800 ;
}
.erreur{
	color : red ;
	font-weight : bold ;
	font-size : 120% ;
}
img.annuaire {
  float : left ;
}
 
/* Style du formulaire */
#annuaire table {
	border-collapse: collapse;
	margin: auto;
}
#annuaire .vignette {
	margin : 0px ;
	background-color : #A71258 ;
	float : none ;
}
#annuaire td {
  margin: 0px;
	padding: 0px;
}

#annuaire fieldset {
  margin: 0px;
	padding: 10px 0px 0px 0px;
}
#annuaire input, #annuaire select{
	margin-top : 5px ;
	margin-left : 10px ;
}

#annuaire label {
	padding-left : 15px ;
	background : url(http://www.loire.fr/images/custom/jp/contenu/puce.gif) 3px no-repeat;
}
#annuaire .parenthese{
	font-weight : normal ;
	color : #9e9c9c
}
/* Surcharge de la zone d'action pour réduire les marges */
#annuaire p.action{
	padding-top: 0px;
}

/* Style des résultats */
#resultat{
	float : left ;
	width : 200px ;
}
#resultat img{
	vertical-align: middle;
}

/* Style de la légende (Différents types de structure) */
#legende {
	margin: 0px 0px 5px 0px;
	float : right;
	clear : right;
	width : 550px;
	font-size: 110%;
}
#legende img{
  vertical-align: middle;
}
