/* Forum Arbre Message */
#threadView {
  width: 100%;
  margin:0px;
  padding:0px;
}

.tableDiscussion {
  margin:0px 10px 0px 0px;
}
.tableDiscussion table {
  border-collapse: collapse;
}
.tableDiscussion td.listHeader {
  background-color: #52841F;
}

.messagearbre {
  margin:5px 10px 0px 0px;
	padding:0px;
	list-style:none;
}

.messagearbre ul.niveaupair {
	clear:both;
	/* Compense le décalage des <li> */
	margin:0px 0px 0px -15px;
	padding:10px 0px 0px 18px;
	list-style:none;
	background: transparent url(http://www.loire.fr/images/custom/forum/icone_ul_2.gif)  no-repeat top left;
}

.messagearbre ul.niveauimpair {
	clear:both;
	margin:0px 0px 0px -15px;
  padding:10px 0px 0px 18px;
	list-style:none;
	background: transparent url(http://www.loire.fr/images/custom/forum/icone_ul_1.gif)  no-repeat top left;
}

.messagearbre li.niveaupair  {
	clear:both;
	margin:0px;
	padding:0px 0px 3px 15px;
	/* Surcharge du style général */
	list-style-image :none!important;
	background: transparent url(http://www.loire.fr/images/custom/forum/icone_message_2.gif)  no-repeat top left;
}

.messagearbre li.niveauimpair {
	clear:both;
	margin:0px;
	padding:0px 0px 3px 15px;
	/* Surcharge du style général */
	list-style-image :none!important;
	background: transparent url(http://www.loire.fr/images/custom/forum/icone_message_1.gif)  no-repeat top left;
}

.tableMessage {
  margin:0px 10px 0px 0px;
}
