
/* ################################################################################################################## */
/* Définit les styles de l'affichage de la partie "Ecard" */
/* ################################################################################################################## */

/* ------------------------------------------------------------------------------------------------------------------ */
/* Affichage des rubriques de la bibliothèque d'ecard */
/* ------------------------------------------------------------------------------------------------------------------ */
.modeTriple, .modeTripleLast {
	width:33%;
	float:left;
	margin:2px 0px;
}
.modeTriple {clear: both;}
.modeTripleLast {clear: none;}
.modeTripleLast {border-left : 1px dotted #339;}


/* ------------------------------------------------------------------------------------------------------------------ */
/* Style pour l'affichage de l'Ecard */
/* ------------------------------------------------------------------------------------------------------------------ */
.encartEcard {
	/*border : 1px solid #333399;*/
	padding : 3px;
	margin: 0px;
	text-align: center;
	background-color: #FAF9FF;
}
.encartEcard p {
	font-weight: bold;
	color : #272727;
	margin-bottom : 10px;
	padding-left: 20px;
	text-align: left;
}
