
/* ################################################################################################################## */
/* Définit les styles de l'affichage de la partie "Diaporama" */
/* ################################################################################################################## */

/* Style des blocs englobant les actions du diaporama (Lancement, Retour, précédent et suivant) */
.actionDiaporama {
  margin : 0px;
  padding: 0px 0px 0px 0px;
  text-align: center;
  vertical-align: middle;
}
.actionDiaporama img {
  margin : 0px 0px 0px 0px;
  padding: 0px;
  vertical-align: middle;
  border: 0px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style pour l'affichage du diaporama en mode "mosaïque" */
/* ------------------------------------------------------------------------------------------------------------------ */
a.lienMiniature {
  text-decoration: none!important;
  font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style pour l'affichage du diaporama en mode "pellicule" */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Bloc contenant l'image affichée en grand */
.blocDiaporama {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.blocDiaporama td {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

/* Vignettes de navigation */
#diaporamaNavigation {
  margin: 0px 0px 20px 0px;
  padding: 0px;
  text-align: center;
}

/* Bloc contenant la vignette de navigation */
#diaporamaNavigation table {
  margin: 0px;
  padding: 0px;
  text-align: center;
  margin: auto;
}
#diaporamaNavigation td div {
  margin: 0px;
  padding: 0px;
  border: 1px solid #425c8e;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
#diaporamaNavigation td div.selected {
  background-color: #E2EBFA;
  border-width: 2px;
}

/* Bloc contenant l'indice de navigation */
#diaporamaNavigation td div.indiceNavigation {
  border: 0px;
  height: 1em;
  text-align: center;
  font-weight: bold;
}
