/**** 
1- CONTENUS */

/* DEFAULT */
html, body { margin:0; padding:0; background:#243964; font: 84% Arial,Helvetica,Verdana,Geneva,sans-serif; color:#000; }
p {color:#000; font-size:1em;}
/*
a,a:link,a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
*/
div, img, table, td, fieldset, form, dl, dl dt, dl dd, dl dd, h1, h2, h3, h4, h5, h6, p { margin:0; padding:0; border:0; }
input, select, option, textarea { font-size:1em; }

textarea { font-size:12px; }


/* CONTENUS ARTICULES */
/* titres */
h1	{ position: relative; top: -40px; margin: 0 -21px -15px -21px;  }
#encart h2, h2.content, #content h3 { font-size: 1.4em; font-weight:600; line-height:1.28em; margin-bottom: .75em; }
h2.content{ font-size: 1.7em; margin-bottom: .4em; }
h3.suite	{ margin-top: 1.5em; }
img.suite	{ margin-top: 0.5em; }
#encart h2 span, h2.content span, #content h3 span,.futDegr h2 span { color:#237ec8; font-size: .71em; }
#content h3 span {text-transform:uppercase;}
h2.content span	{ font-size: .58em; }
h2.content img	{ margin-bottom: 16px; }
h2.content a, #encart h2 a, #content h3 a { color:#000; text-decoration: none; }
h2.content a:hover, #encart h2 a:hover, #content h3 a:hover { text-decoration: underline; }
h2.rubPart, h2.rubTout, h2.rubChapeau	{ margin: 0 0 4px 0; line-height:2.8em; }
h2.rubPart	{ float: left; }
h2.rubChapeau	{ margin-bottom: 1.4em; }
#content h3.doculies	{ font-size: 1.1em; margin: 1.5em 0 1em 0; }
#content h3.infoactu	{ font-size: 1.1em; margin: 0 0 1em 0; }
html>body #content h3.infoactu	{ margin-top: .3em; }
#content h3.titreForm, h3.preForm { margin:0 0 13px 0; color:#fff; font-size:1.25em; line-height:1.3em; font-weight:bold; }
#content .partiers h3	{ margin-bottom: .2em; }
#content .columnEtroiteBordee .subColumn12 h3, #content .columnEtroiteBordee .subColumn22 h3,
#content .insertionTexteDroiteLarge h3	{ margin-bottom: 0; }
#content .insertionTexteDroiteEvenement h3	{ margin-bottom: 0; }
#utiles h3 { margin:14px -12px 0 -12px; padding:14px 12px; border-top:1px solid #c1c5c9; font-size: 1.25em; }
#utiles h3.intro { border: 0; margin-top: 0;}
#utiles h3.avecImage	{ padding-top: 4px; }
#utiles h3 img	{ vertical-align: middle; margin-left: 2px; }
#utiles h3.preForm	{ padding-bottom: 13px; border: 0; color: #e1e4e0; background: url(slbgt.gif) top center no-repeat;
 /*font-size: 1.7em;*/ font-size:14px; }
#articleReaction h3, .articleReaction div	{ margin: 0 -10px .75em -10px; padding: 10px; background-color: #e5e5e3; 
border-top: 1px solid #cacac8; border-bottom: 1px solid #bdbebb }
* html #articleReaction h3, * html .articleReaction div	{ margin-right: -20px; }
#content .articleReaction h3, .articleReaction h4	{ font-size: 1.1em; margin: 0; }
.articleReaction h3	{ float: right; }
.articleReaction h4	{ float: left; }

#envoiAmi h4	{ background: url(fd_envoi.gif) center no-repeat; font-size: 1em; margin: 0 -12px; padding: 0 8px; }
#envoiAmi h4 span	{ background-color: #f4f5f5; padding: 0 4px;}
.newsletter h3	{ margin: 0 -20px .75em -20px; padding: 10px 20px; background-color: #ecece9; 
border-top: 1px solid #aaaba8; border-bottom: 1px solid #bdbebb; }
#desinscriptionNL .newsletter h3	{ background-color: #e5e5e3; }
/* formulaires */
form a:link, form a:visited { color:#fdb812; font-size:0.9em; text-align:left; text-decoration:underline; }
form a:hover {text-decoration:none;}
form p { clear:both; margin:2px 0px; line-height:1.5em; text-align:left;}
form label	{ font-weight: normal; }
form legend {font-weight: bold;}
form p a { float:left; }
.submit input { font-weight:bold; }
form p select { width:111px; }
.vali, .valu	{ padding: 0; background-color: #e1e4e0; border: 1px solid #4d515a;}
.valu	{ background-color: #d4d0c8; }
.champ { border: 1px solid #4d515a} 
/* listes (hors navigation) */
ul.null{ list-style:none; margin:0; padding:0; }
ul.plat	{ margin: 0; padding: 0; }
ul.contenu	{ list-style-type: square; color: #898989; list-style-position: outside; padding-left: 12px; }
* html ul.contenu { margin-left: 4px; }
ul.contenu p	{ color: #000000; }
/* listes imbriquees du plan du site */
ul#plan	{ margin: 0 -4px; width: 649px; padding-left: 0; list-style-image: url(pu_plan.gif); list-style-position: inside; }
* html ul#plan	{ list-style-image: none; list-style-type: none; }
* html ul#plan span	{ background: url(pu_plan.gif) left 3px no-repeat; padding-left:16px; }
*:first-child+html ul#plan	{ list-style-image: none; list-style-type: none; }
*:first-child+html ul#plan span	{ background: url(pu_plan.gif) left 3px no-repeat; padding-left:16px; }
ul#plan li li	{ background-image: none; }
/* ajout yanlep */
ul#plan.pagePlan ul li { margin-left:-20px; padding-left:20px; background: url(bd-inf_cont.gif) no-repeat left bottom; }
ul#plan.pagePlan li li li { margin-left:0; border-bottom:0; }
* html ul#plan span, *:first-child+html ul#plan span { font-size:0.9em; }
/* fin ajout yanlep */
ul#plan li.gauche, ul#plan li.centre, ul#plan li.droite	{ background-image: url(bd-inf_cont.gif); background-repeat: no-repeat; 
width: 30%; margin-top: 1.33em; padding-top: 1.33em; }
/* cf js pour IE : float conditionne a javascript active */
html>body ul#plan li.gauche, html>body ul#plan li.centre, html>body ul#plan li.droite	{ float: left;  }
ul#plan li.gauche	{ background-position: top left; padding: 1.33em 4% 0 1%; clear: left; }
ul#plan li.centre	{ background-position: top center; }
ul#plan li.droite	{ background-position: top right; padding: 1.33em 1% 0 4%; }
ul#plan ul	{ list-style-image: none; list-style-type: none; padding: .5em 0 0 19px; margin: .5em 0 0 16px; 
background: #eff0ef url(bd-sup_plan-niv2.gif) top right no-repeat; }
* html ul#plan ul	{ list-style-position: outside; }
* html ul#plan li.gauche	{ padding-left: 6px; padding-right: 26px; width: 195px;}
* html ul#plan li.centre	{ width: 194px;}
* html ul#plan li.droite	{ padding-left: 26px; padding-right: 7px; width: 195px;}
*:first-child+html ul#plan ul	{ list-style-position: outside;  }
*:first-child+html ul#plan li.gauche	{ padding-left: 6px; padding-right: 26px; width: 195px;}
*:first-child+html ul#plan li.centre	{ width: 194px;}
*:first-child+html ul#plan li.droite	{ padding-left: 26px; padding-right: 7px; width: 195px;}
ul#plan ul ul	{ margin: .25em 0 .25em -19px; padding: 0; background-color: #f8fafb; }
ul#plan ul ul li	{ padding-left: 33px; background: url(bd-sup_plan-niv3.gif) bottom right no-repeat; }
ul#plan li a	{ text-decoration: none; color: #000; font-size: 1.2em; font-weight: bold; }
ul#plan li a:hover	{ color: #237ec8; }
ul#plan li li a	{ font-size: 1em; }
ul#plan li li li a	{ font-weight: normal; }
/* variante structure plan du site pour aides et demarches */
ul.aidem#plan ul	{ background-color: transparent; background-image: none; padding: 0; }
ul.aidem#plan li li a	{ color: #237ec8; font-size: 1em; font-weight: normal;}
ul.aidem#plan li li a:hover	{ color: #000;}

/*
ul.aidem li { float:left; width:210px; min-height:100px; border:1px solid red; }
ul.aidem li li { float:none; }
*/
/* VARIOUS CLASSES */
/* generiques */
.clear { clear:both; padding-bottom:1px; margin-bottom:-1px; font-size:0; }

.floatLeft { float:left; }
.floatRight { float:right; }
.centered { text-align:center; }
.centered input {clear:both; display:block; margin: 14px auto; font-weight:bold; }
.alignLeft { text-align:left; }
.alignRight { text-align:right; }
.structureLabel { position:absolute; left:0; top: -500px; height:100px; overflow:hidden;}
a { color: #237ec8; }
a.lien	{ color: #237ec8; }
a.lien:hover	{ color: #000; }
/* factuelles */
.columnBordee a, .columnEtroiteBordee a, .conclusion a	{  color: #237ec8; text-decoration: underline; }
.columnBordee a:hover, .columnEtroiteBordee a:hover, .conclusion a:hover	{  color: #000; }
p.rubCompl a:link, p.rubCompl a:visited	{ margin: 0 4px 0 0; color:#237ec8; text-decoration:underline; float:right; line-height:2.8em;}
p.rubCompl a:hover { color:#000; }
p.rubForm	{ line-height: 2em; }
p.rubForm a:link	{ line-height: 1.12em; }
#content a img	{ border: 3px solid #000; margin-bottom:0.2em; }
#content h3 a img	{ border: 0; }
#content .rubCompl a img	{ border: 0; margin:0; }
.documentation a	{ color: #237ec8; font-size: 1em; font-weight: bold; text-decoration:underline; }
.documentation a:hover	{ color: #000;}
.chapeau, .chapeauParagraphe	{ font-weight: bold; margin-bottom: 2em; font-size: 1.1em; }
.chapeau .date	{ font-weight: normal; font-size: .91em;  }
.chapeau .resultats	{ font-weight: normal; }
.chapeauParagraphe	{ margin-bottom: .5em; }
.chapo{font-weight:bold;font-size:1.05em}
p.p, .p	{ margin-bottom: 1em; font-size: 1.1em; }
.articleReaction p	{ margin-bottom: 1.6em;  }
.articleReaction p.der	{ margin: 0;  }
.articleReaction div p.p	{ margin: 0; }
.message	{ font-size: .9em; margin: 1em 0; }
.thematique	{ color: #237ec8; font-weight: bold; margin: 1em 0 .3em 0; }
.datemention	{ font-size: 1.1em; color: #5a5f67; margin-bottom: .66em; }
.ps	{ color: #919191; font-weight: normal; font-size: .91em; }


/**** 
2- CONTENANTS */

/* EN-TETE SUPERIEURE */
#location { position:relative; width:100%; background-color: #f2f3f3; }
#location p { margin:0; padding:0 0 0 1em; line-height:2.0em; }
#location p a, #location p a:link, #location p a:visited, #location p a:hover { color:#000; text-decoration:underline; }
#location p a:hover { color:#237ec8; }
#sousLocation	{ width: 980px; position: absolute; top: 0; left: 0; }
#location ul { position: absolute; right: 0; top: 0; }
#location li { display:inline; padding-right:1em; font-size:1em; line-height:2.0em; text-align:right; }
#location li img { margin-top:0.25em; }
#location li a, #location li a:link, #location li a:visited { color:#243964; font-size:1.1em; line-height:2.0em; font-weight:bold; text-decoration:none;}
#location li span	{ font-size: 1.1em; }
#location li a:hover { color:#237ec8; text-decoration:none; }

/* BANDEAU D'EN-TETE */
#header, #headerBa { height:300px; min-height: 300px; background: url(hsquare.gif) top left repeat-y; }
html>body #header	{ height: auto; }
#headerBa { height:177px; min-height: 177px; }
html>body #headerBa	{ height: auto; }
.logo	{ position: absolute; z-index: 3; }
/* l'arc haut 'theme' est l'arc haut par defaut - l'arc bas ne se decline pas */
div.arcsHt, div.arcsBa	{ height:343px; width:100%; background:url(vagueHTtheme.png) top left no-repeat; position: absolute; z-index: 2; }
div.arcsBa	{ height:222px; background-image:  url(vagueBAdefaut.png);}
* html div.arcsHt { background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/squelettes/img/vagueHTtheme.png', sizingMethod='crop'); }
* html div.arcsBa { background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/squelettes/img/vagueBAdefaut.png', sizingMethod='crop'); }
/* declinaison de l'arc haut */
.decltheme div.arcsHt	{ background-image:url(vagueHTtheme.png); }
.declenfance div.arcsHt	{ background-image:url(vagueHTenfance.png); }
.decljeunesse div.arcsHt	{ background-image:url(vagueHTjeunesse.png); }
.declfamille div.arcsHt	{ background-image:url(vagueHTfamille.png); }
.declpersagees div.arcsHt	{ background-image:url(vagueHTpersagees.png); }
.declprofessionnels div.arcsHt	{ background-image:url(vagueHTprofessionnels.png); }
* html .decltheme div.arcsHt { background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/squelettes/img/vagueHTtheme.png', sizingMethod='crop'); }
* html .declenfance div.arcsHt { background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/squelettes/img/vagueHTenfance.png', sizingMethod='crop'); }
* html .decljeunesse div.arcsHt { background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/squelettes/img/vagueHTjeunesse.png', sizingMethod='crop'); }
* html .declfamille div.arcsHt { background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/squelettes/img/vagueHTfamille.png', sizingMethod='crop'); }
* html .declpersagees div.arcsHt { background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/squelettes/img/vagueHTpersagees.png', sizingMethod='crop'); }
* html .declprofessionnels  div.arcsHt { background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/squelettes/img/vagueHTprofessionnels.png', sizingMethod='crop'); }
/* complement a l'arc pour les rayures bleues en fond sur la droite */
div.arcsHt img, div.arcsBa img	{ position: relative; z-index: 2; width: 100%; background: url(vagueHTthemeCO.gif) top left no-repeat; }
div.arcsHt img	{ height: 343px; }
div.arcsBa img	{ height: 222px; background-image: url(vagueBAdefautCO.gif); }
/* illustration,  contenu textuel */
#graphisme	{ width: 991px; position: relative; z-index: 1; }
#header #graphisme	{ background: #f2f3f3 url(htshadow.gif) top left no-repeat; height: 300px;  }
#headerBa #graphisme	{ height: 177px;  }
img.illuHt, img.illuLg	{ margin-top: 48px; position: absolute; z-index: 1; width: 662px; height: 245px;  }
img.illuLg	{ margin-top: 27px; width: 992px; height: 149px; }
#encart	{ position:relative; z-index: 4; left:662px; background-color:#f2f3f3; top: -201px; height: 150px; min-height: 150px; 
margin-bottom: -190px; padding:40px 21px 0 21px; width:339px; voice-family:"\"}\""; voice-family:inherit; width:287px; }
html>body #encart	{ height: auto;}

/* CORPS */
/*#wrapFd { width:100%; background:  url(../img/fd_degrade.png) top left no-repeat; }*/
#wrapFd { width:100%; background:  url(fd_degrade.png) top left repeat-y; }
#wrap { width:100%; background: url(csquare.gif) left repeat-y; }

#content { width:996px; }
.fut, .futDegr	{ float:left; height:100%; border:1px solid #a9a9a9; }
.futDegr	{ background:#dcdcda url(fd_degrade.gif) top repeat-x; }
#startContent2 { background:#efefef ; }

/* NAVIGATION (sur souche initiale des gabarits avec ses heritages) */
/* nav primaire */
#siteNav { padding:60px 0 0 0; margin: 0; border-width: 0 1px 0 0; width:167px;  voice-family:"\"}\""; voice-family:inherit; width:14.65em; }
body>#siteNav { width:166px; }
html>body #siteNav	{ width: 14.8em; }
#siteNav a	{ color:#000; text-decoration: none; }
#siteNav a:hover {  color:#237ec8; }
/* apparence liste nav primaire */
#siteNav li	{ font-size: 1.1em; font-weight: bold; background: url(snb1.gif) top right no-repeat; padding-bottom: 8px;
margin: 8px 0 0 -7px; list-style-position: inside; list-style-image: url(pu_transpa.gif); }
html>body #siteNav li	{ margin-left: 0px; }
#siteNav li#themes	{ margin-left: -8px; }
html>body #siteNav li#themes	{ margin-left: -4px; }
#siteNav li a, #siteNav li span	{ padding-left: 5px; }
html>body #siteNav li span, html>body #siteNav li a	{ padding-left: 0px; }
/* les puces */
#siteNav .enfance { list-style-image: url(pu_enf.gif); }
#siteNav .jeunesse { list-style-image: url(pu_jeun.gif); }
#siteNav .famille { list-style-image: url(pu_fam.gif); }
#siteNav .persagees { list-style-image: url(pu_ag.gif); }
#siteNav .professionnels { list-style-image: url(pu_pro.gif); }
/* pour le menu detaille du theme actif (dont possibilite de plusieurs retours a la ligne) */
#siteNav .theme  { list-style-image: url(pu_theme.gif); background-image: url(snb1_theme.gif); }
* html #siteNav .theme  { list-style-image: none; list-style-type: none; list-style-position: outside;
margin-left: 0; padding-top: 8px; background-position: 8px right; }
* html #siteNav .theme p  { padding-left: 14px; background: url(pu_theme.gif) top left no-repeat; }
* html #siteNav .theme a	{ padding-left: 0; }
* html #siteNav .maitriseflot	{ padding-left: 0; }
* html #siteNav .theme .sub	{ margin-left: -7px; width: 13.85em ; }
* html #siteNav .theme .sub .sub	{ width: 14em ; }
html>body #siteNav .theme p	{ position: relative; top: -15px; left: 17px; margin-bottom: -15px; }
html>body #siteNav .maitriseflot	{ float: left;  }
/* nav primaire declinee */
.actenfance #siteNav .enfance	{ background-image: url(snb1_enf.gif); }
.actjeunesse #siteNav .jeunesse	{ background-image: url(snb1_jeun.gif); }
.actfamille #siteNav .famille	{ background-image: url(snb1_fam.gif); }
.actpersagees #siteNav .persagees	{ background-image: url(snb1_ag.gif); }
.actprofessionnels #siteNav .professionnels	{ background-image: url(snb1_pro.gif); }
/* nav primaire declinee : #themes>a dans js pour Firefox, #themes dans code pour tous */
#siteNav .inferieur	{ background-image: url(snb1_tempori.gif);  }
#siteNav .inferieur	{ background-image: url(snb1_tempori.gif);  }
#siteNav li span	{ background-color: #eaebe7; padding-right: 8px;}
#siteNav .theme .maitriseflot { max-width:140px; }
 /* nav secondaires */
#sub, .sub	{ background:#f3f4f4 url(snb1_sub.gif) top right no-repeat; margin:0px; padding: 2px 0 0 0; margin-top: 5px;height: 1%;  }
.sub	{ background-color: #f0f1f0; }
.sub .sub	{ background-color: #f8fafb; margin-top: 10px; font-size: 1.1em; }
#siteNav li #sub li, #siteNav li .sub li { background:url(snb2.gif) bottom left no-repeat; font-weight:normal;
font-size: .9em; list-style-position: outside; list-style:none; margin-left: 7px; }
html>body #siteNav li #sub li, html>body #siteNav li .sub li	{ margin-left: 0; }
#siteNav li .sub .sub li	{ margin-left: 0px; padding-bottom: 4px; margin-top: 3px; }
#siteNav li .sub li.localisant	{ background-image: none; padding-bottom: 0 !important;}
#siteNav #sub li a, #siteNav .sub li a { display: block; padding-left: 12px; }
#siteNav .sub .sub li a, #siteNav .sub .sub li span { display: block; padding-left: 24px; }
#siteNav a.localisation	{ color:#237ec8; }
#siteNav a.localisation:hover	{ color:#000; }
#siteNav li .sub li.derniereRubrique	{ background: url(rsquare.gif) bottom left repeat-x; padding-bottom: 22px; }
#siteNav li .sub li.derniereRubrique.localisant	{ padding-bottom: 15px; }
/* IE7 */
*:first-child+html #siteNav ul	{ margin-left: 16px; }
*:first-child+html #siteNav li	{ list-style-position: outside; }
*:first-child+html #siteNav #sub, *:first-child+html #siteNav .sub	{ height: auto; margin-left: -13px; }
/* IE 7 : neutraliser html>body */
*:first-child+html #siteNav .theme p	{ position: relative; top: 0; left: 0; margin-bottom: -0; }
*:first-child+html #siteNav .maitriseflot	{ float: none; }
/* IE 7 : menu detaille du theme actif - a partir de de IE 6 */
*:first-child+html #siteNav .theme  { list-style-image: none; list-style-type: none; list-style-position: outside;
margin-left: 0; padding-top: 8px; background-position: 8px right; margin-left: -16px; padding-bottom: 0;}
*:first-child+html #siteNav .theme p  { padding-left: 14px; background: url(pu_theme.gif) top left no-repeat; }
*:first-child+html #siteNav .theme a	{ padding-left: 0; }
*:first-child+html #siteNav .maitriseflot	{ padding-left: 0; }
*:first-child+html #siteNav .theme .sub	{ margin-left: 0px; }
*:first-child+html #siteNav .theme .sub li	{ padding-left: 11px;  }
*:first-child+html #siteNav .theme .sub .sub	{ margin-left: -10px; }
*:first-child+html #siteNav .theme .sub .sub li	{ padding-left: 22px; }
/* IE 7 : menu detaille du theme actif - developpement propre */ /* mais ne fonctionne plus avec titre en trois lignes
*:first-child+html #siteNav .theme	{ margin-left: -17px; border-top: 1px solid transparent; padding-top: 23px; 
background-position: 9px right; padding-bottom: 0; }
*:first-child+html #siteNav .theme .sub	{ margin-left: 0; }
*:first-child+html #siteNav .maitriseflot	{ float: none; }
*/
/* Safari : voir js */


/* REDACTIONNEL */
#startContent, #startContent2 { margin-left:12px; padding:60px 4px 0 4px; border-width:0 1px; 
width:438px; voice-family:"\"}\""; voice-family:inherit; width:428px; }
body>#startContent { width:428px; }
#startContent2 { width:659px; voice-family:"\"}\""; voice-family:inherit; width:641px; }
body>#startContent2 { width:641px; }
.columnBordee	{ background: url(bd-inf_cont.gif) bottom left no-repeat; margin: 0 -4px; padding: 0 4px 1em 4px; }
.columnBordee .clear { clear:both; padding:0; }
.columnEtroiteBordee	{ background: url(bd-inf_cont-etroit.gif) bottom center no-repeat; margin: 0 -4px; padding: 10px 4px 1em 4px;}
.column	{ margin-top: 6px; }
.columnplus	{ margin-top: 16px; }
.columnplusse	{ margin-top: 19px; }
.lienenfin	{ padding-top: 6px; clear: both; }
/* colonnes-lignes (marges importantes, nombre d'item a priori determine) */
.subColumn12, .subColumn22, .subColumn13, .subColumn23, .subColumn33 { float:left; position: relative;
width:213px;voice-family:"\"}\""; voice-family:inherit; width:201px;  }



body>.subColumn12, body>.subColumn22, body>.subColumn13, body>.subColumn23, body>.subColumn33 { width:201px; }
.subColumn12 { margin: 6px 12px 6px 0;  }
.subColumn22 { margin: 6px 0 6px 12px; }
.subColumn13 { margin: 6px 8px 19px 0; /*margin: 6px 8px 48px 0;*/ }
.subColumn23 { margin: 6px 11px 19px 11px; /*margin: 6px 11px 32px 11px;*/ }
.subColumn33 { margin: 6px 0 19px 8px; /*margin: 6px 0 32px 8px;*/ }

/* ajout yanlep */
* html .subColumn13, * html .subColumn23, * html .subColumn33 { margin-bottom:0; }
* html h2.rubTout { margin-top:1em; }
/* fin ajout yanlep */


/* marges plus reduites (nombre d'item a priori non determine) */
.rubTiers, .rubTiers3	{ width: 200px; float: left; padding-right: 20px; padding-bottom: 2em; }
.rubTiers3	{ padding: 0; }
/* taille variable */
.moitie	{ float: left; width: 50%; }
.moitieG, .moitieD	{ float: left; width: 48%; margin-right: 2%; }
* html .moitieG, * html .moitieD	{ width: 47%; }
.moitieD	{ margin: 0 0 0 2%; }
/* */
.introduction	{ margin-bottom: 3.5em; }
.conclusion	{ padding-bottom: 2.5em; }
.insertionGauche	{ margin: 0 1em 2em 0; float: left;  }
.insertionTexteDroite	{ width: 110px; margin-left: 12px; float: left; }
.insertionTexteDroiteLarge	{ width: 554px; margin-left: 12px; float: left; }
.insertionTexteDroiteEvenement	{ width: 400px; margin-left: 12px; float: left; }

#articleReaction, .articleReaction	{ margin: 12px 8px 2em 8px; padding: 0 10px 10px 10px; width: 605px; display: block; background: #eeefed url(fd_form.gif) left bottom no-repeat; }
* html #articleReaction	{ height: 1%; }
*:first-child+html  #articleReaction	{ height: auto; }
#articleReaction label	{ color: #3c3c3c; font-weight: normal; font-size: 1.1em; display: block; }
#articleReaction input, #articleReaction textarea 	{ width: 100%; border: 1px solid #a1a1a1; margin-bottom: 1em;}
* html #articleReaction input, * html #articleReaction textarea 	{ width: 601px; }
* html #articleReaction .moitieG input, * html #articleReaction .moitieD input 	{ width: 100%; }
#articleReaction input.reagir	{ width: auto; background-color: #d4d0c8; }
* html #articleReaction input.reagir	{ margin-right: 2px; }
.valia	{ clear: both; text-align: right; padding-top: 1em; }
#obtenirActu	{ float: left; margin-left: 1em; }
html>body #obtenirActu select, html>body #obtenirActu input	{ vertical-align: middle; } 
#contactez, #connectez	{ background-color: #f2f2f0; margin: 3em -4px 2em -4px; border-top: 1px solid #bdbebb; padding: 1em 4px 1em 4px; }
html>body #contactez, html>body #connectez	{ padding-right: 8px; }
* html #contactez, * html #connectez	{ width: 641px; height: 1%; }
#contactez label, #connectez label	{ font-size: 1.1em; display: block; margin-bottom: .3em; }
#contactez input, #contactez textarea, #connectez input	{ width: 100%; border: 1px solid #a1a1a1; margin-bottom: 2em;}
#contactez select	{ margin-top: 0; }
#contactez input.reagir, #connectez input.reagir	{ width: auto; background-color: #d4d0c8; }
#connectez input	{ margin-bottom: 1em;}
.newsletter	{ margin: 2em -4px 0 -4px; width: 609px; padding: 0 20px 1em 20px; font-size: 1.1em; }
.newsletter label	{ color: #3c3c3c; }
.newsletter label.relab	{ font-weight: normal; }
#inscriptionNL	{ background-color: #f2f2f1; }
#desinscriptionNL	{ background-color: #eeeeed; }
#inscrireMail, #desinscrireMail, .inscrireNL	{ width: 50%; border: 1px solid #a1a1a1; margin-top: .3em; }
.inscrireNL	{ width: auto; background-color: #d4d0c8; }
#annuaire	{ width: 90%; font-size: 1.1em; }
#annuaire label	{ width: 50%; display: block; float: left; clear: both; margin: 4px 0; }
* html #annuaire label	{ margin: 4px 0 9px 0; }
select	{ width: 49%; min-width: 50%; margin: 4px 0; }
* html select	{ margin: 0; }
html>body select	{ width: auto; } /* pas ie */
.messageConf	{ margin: 2em -4px; padding: 2em 4px 1.5em 4px; background-color: #f2f2f0; border-top: 1px solid #bdbebb;}
* .hie	{ height: 1%; }
*:first-child+html .hie	{ height: auto; }

/* PAGE GALERIE  DIAPORAMA */
#centre.galerie { width:auto; }
#centre.galerie #contourA { background-color:#848a95; padding:10px 10px 15px 10px; width:602px; color:#808080; font:10px Verdana, Arial, Helvetica, sans-serif; }
#centre.galerie #contourB { background-color:#e9eae7; padding:13px 10px 13px 8px; }
#centre.galerie #contourA a { color:#808080; text-decoration:none; }
#centre.galerie #contourA a:hover,
#centre.galerie #contourA a.on { color:white; }
#centre.galerie #contourA span { padding:0 8px 0 0; }
#centre.galerie #contourA #btDiaporama { float:left; padding:5px 0 0 0; color:#000; }
#centre.galerie #contourA #btDiaporama a { color:#000; }
#centre.galerie #contourA #btDiaporama a.on { color:#fff; }
#centre.galerie #contourA #btDiaporama a:hover { text-decoration:underline; }
#centre.galerie #contourA #btTelecharger { float:right; padding:5px 0 0 0; color:#000; }
#centre.galerie #contourA #btTelecharger a { padding:0 0 0 8px; color:#000; }
#centre.galerie #contourA #btTelecharger a:hover { text-decoration:underline; }
#centre.galerie #contourA #btTelecharger img { border:0; margin:0px; }
#centre.galerie #contourA #btTelecharger #legend2 { vertical-align:top; }

#zoneDiaporama { position:relative; height:349px; }
#zoneDiaporama #fenetre { float:left; margin-left:5px; width:472px; overflow:hidden; background:#e9eae7; }
#zoneDiaporama #fenetre img { display:block; margin:0 auto; border:none; }
#zoneDiaporama #evere { float:left; overflow:hidden; width:99px; position:relative; }
#zoneDiaporama #evere #thumbs { font-size:0; }
#zoneDiaporama #evere #thumbs a { display:block; text-align:center; padding:4px; _height:0.01%; }
#zoneDiaporama #evere #thumbs span { display:none; }
#zoneDiaporama #evere #thumbs a.on { background:#000000; }
#zoneDiaporama #evere #thumbs img { margin:0 !important; padding:0 !important; border:0; /*border-left:1px solid #827f88; border-bottom:1px solid #827f88;*/ display:block; }
*#zoneDiaporama #evere #thumbs #repere { position:absolute; font-size:0; }
#zoneDiaporama #evere #thumbs ul { margin:0; padding:0; }
#zoneDiaporama .btDefiler a { display:block; width:13px; height:6px; font-size:0; position:absolute; left:45px; }
#zoneDiaporama .btDefiler a.up { background:url(bt_defiler_up.gif) left top no-repeat; top:-10px; }
#zoneDiaporama .btDefiler a.up:hover { background:url(bt_defiler_up_on.gif) left top no-repeat; }
#zoneDiaporama .btDefiler a.down { background:url(bt_defiler_down.gif) left top no-repeat; bottom:-10px; }
#zoneDiaporama .btDefiler a.down:hover { background:url(bt_defiler_down_on.gif) left top no-repeat; }

/* SCHEDULE */
#schedule { margin-left: 12px; padding:60px 4px 0 4px; border-width:0 1px;
 width:201px; voice-family:"\"}\""; voice-family:inherit; width:191px; }
#body>#schedule {width:191px;}
#scheduleSearchEngine { margin: 30px -5px; padding: 14px 5px; background:url(scbg.gif) no-repeat bottom; }
#scheduleSearchEngine p {color:#fff; background-color: #7e8590; }
#scheduleSearchEngine h3 {background-color: #7e8590; }
form#scheduleSearchEngine p	{ margin-top: .6em; }
#scheduleSearchEngine input	{ width: 95px; vertical-align: middle; }
#scheduleSearchEngine input.vali	{ width: auto }
#scheduleSearchEngine select	{ width: 115px; vertical-align: middle; }
form#scheduleSearchEngine p a { float: none;  }
#scheduleSearchEngine p a img { vertical-align:middle; border: 0;}

/* SIDEBAR */
#sidebar { border-width:0 1px; margin-left: 12px; padding-bottom: 60px; width:162px; voice-family:"\"}\""; voice-family:inherit; width:148px; }
#body>#sidebar {width:124px;}
#sidebar p { text-align:left; }
/* formulaire superieur */
#siteSearchEngine	{ padding:16px 12px 6px 12px; background: url(fsquare.gif) repeat; }
* html #siteSearchEngine	{ height: 1%; } 
#siteKeywords {width:70%; border: 1px solid #4d515a} 
#siteSearchEngine h3 label { color: #e1e4e0; font-size: .71em; margin: 0; line-height: 1.12em; background-color: #7e8590;  position: relative; z-index: 10;}
#siteSearchEngine input { position: relative; z-index: 10;}
#siteSearchEngine div.postap a { float: left; background-color: #7e8590; white-space: nowrap; }
#siteSearchEngine div.postap a.pr { padding-right: 5px; }
/* tous autres utilitaires */
#utiles	{ padding:0 12px; background: url(sdbg.gif) bottom no-repeat; }
#utiles div, #utiles h3	{ background-color: #f4f5f5; }
#utiles ol, #utiles ol li, #utiles ul, #utiles ul li {list-style:none; margin:0; padding:0;}
#utiles p a, #utiles p a:link, #utiles p a:visited, #utiles ul li a, #utiles ul li a:link, #utiles ul li a:visited { 
color:#237ec8; text-decoration:underline; font-weight:normal; }
#utiles p a:hover, #utiles ul li a:hover { color: #000; }
#utiles ul li { line-height:1.8em; }
#siteList	{ padding-bottom: 4px; }
h3.preForm label { background-color: #7e8590;}
#siteList p { margin:0 -12px 0 -12px; padding:0 12px 14px 12px; background: url(slbgb.gif) no-repeat bottom center; }
html>body #siteList select, html>body #siteList input	{ vertical-align: middle; } 
#siteCG { width:100px; }
#envoiAmi	{ margin-top: 8px; }
#envoiAmi fieldset	{ margin-bottom: 1em; }
#envoiAmi legend	{ background: url(pu_legend.gif) center left no-repeat; padding-left: 9px; font-weight: bold; 
margin-bottom: .75em;}
#envoiAmi label	{ font-weight: normal; }
#envoiAmi input, #envoiAmi textarea	{ border: 1px solid #a6a6a6; margin-bottom: .5em; width: 10.5em; }
#envoiAmi textarea	{ width: 120px; font-size:12px; }
#sidebar #envoiAmi p.alignRight	{ text-align: right; padding-right: 3px; }

/* PIED DE PAGE */
#footer { clear:both; width:100%; background: #d2d3d0; }
#resumeLinks { padding:24px 0 0 80px; background:#f2f3f3; }
html>body #resumeLinks	{ padding-bottom: 24px; }
#resumeLinks ol {list-style:none; margin-top: 0; padding-top: 0; }
#resumeLinks li { float: left; }
@media all and (min-width:0px) {
			head~body #resumeLinks li  {float:left; max-width:160px; }
		}
#resumeLinks li ol { padding-bottom: 24px; }
@media all and (min-width:0px) {
			head~body #resumeLinks li ol { padding-bottom:0 0 24px 0;}
		}
#resumeLinks li li { clear: both; }
#resumeLinks li a, #resumeLinks li strong, .pageact { color:#f5ad00; font-weight:bold; }
#resumeLinks li a:link, #resumeLinks li a:visited { color:#898989; text-decoration:none;}
#resumeLinks li a:hover { color:#237ec8; }
#footer p { width:996px; color:#237ec8; font-size:1em; font-weight:bold; text-align:center; padding: 8px 0 32px 0;}
#footer p a, #footer p a:link, #footer p a:visited { color:#237ec8; text-decoration:none; padding: 4px; }
#footer p a:hover { color:#000; text-decoration:none; }
 
/* fckeditor */
#fck{font-size:1.05em;}
#fck img { margin:5px; }
#fck a img { border:none; }
#fck .spip_form_champ input { border: 1px solid #a1a1a1;background-color:white}
#fck .spip_form_champ textarea { font-size:12px; }
#fck .spip_form_ok{background-color:white;color:red}
#fck p{margin-top:10px}
#fck table { margin-top:10px; background-color:none; !important }
#fck td { padding:0 0.5em; }
#fck ul { margin-bottom:15px; }
#fck li { padding:0 0 0 10px; background:url(http://www.seine-saint-denis.fr/squelettes/img/bg_li_wysiwyg.gif) left 5px no-repeat; _height:0.01%; }
#fck p { margin:0; padding-bottom:15px; }
#fck .right { float:right; margin:0 0 10px 15px; padding:1px; border:solid 1px #a9a9a9; }
#fck .left { float:left; margin:0 15px 10px 0; padding:1px; border:solid 1px #a9a9a9; }
#fck .surtitrebleu { font-weight:600;color:#237EC8; }
#fck h3 { font-size:12px; margin-bottom:10px; }
#fck h4 { font-size:11px; margin-bottom:8px; }
#fck table { margin-bottom:15px; width:100%;}
#fck td { padding:3px;}
/*#fck ul{ list-style-type: square; color: #898989; list-style-position: outside; padding-left: 12px;}*/
#fck ul { padding-left:0; }
#fck li { list-style:none; background:url(pu_legend.gif) no-repeat left 5px; padding-left:12px; }
* html #fck li { margin-left:-20px; }
#fck .bold { font-weight:bold; }
#siteList .submit a {float:none !important;}
#siteList .submit a:link {color:white !important;}
#siteList .submit a:visited {color:white !important;}
#siteList .submit a:hover {color:black !important;}

/* formualire login public */
#identification form{text-align:left;border:0px solid red; margin:auto; width:500px}
#identification p{text-align:left;border:0px solid red}
#identification fieldset{border:1px solid #7D848F; padding:15px 10px 15px 10px;}
#identification legend{border:0px solid red}

/* Print */
@media print {
	.hidePrint { display:none; }
}

#home_sondage div {
width:100% !important;
width: 185px;
margin:0;
padding:0;
border:0px solid red !important;
 }
#home_sondage  textarea{width:90%;font-size: 1.2em;}
#home_sondage  fieldset{
	border:0
}
#home_sondage .spip_forms {
	background: transparent ;
	padding-top: 0;
	margin-top: 0;
	}
#home_sondage  .spip_form_choix_unique{display:block; border: 0px solid blue !important}

#home_sondage .resultats_sondage{float:none;background-color:none;text-align:center;border:none}
#home_sondage .spip_form_label_details{display:none !important}
#home_sondage .spip_form_label {display:block;}
#home_sondage input { padding: 1px; font-size: 1em;}
#home_sondage {
	width:100% !important;
	width: 185px;
	margin-top:38px !important;
	margin-top: 100px;
	padding : 0 2px 0px 2px;

	}
#home_sondage input.valid {
	width: 180px;
	}
/* /Print */
.odd {
	background-color: #ddd ;
	}
.even {
	background-color: #fff ;
	}
.bleu {
	
	color: #237EC8;
}
.reponse_formulaire{
	color:  red;
	
}