/*--------------------------------------------------------------------
      USE CSS POSITIONNING
----------------------------------------------------------------------*/

#maincontainer{
width: 1000px; /*Width of main container*/
margin: 0 auto; /*Center container on page*/
}

#maincontainer2{
float:left;
width: 1000px; /*Width of main container*/
margin: -1000px;
margin-top: 0;
}

#topsection{
background: #EAEAEA;
height: 60px; /*Height of top section*/
}

#topsection h1{
margin: 0;
padding-top: 15px;
}

#contentwrapper{
float: left;
width: 100%;
}

#contentcolumn{
margin: 0 0 0 0; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
}

#leftcolumn{
float: left;
width: 680px; /*Width of left column in pixel*/
background: #C8FC98;
}

#leftcolumn-left{
float: left;
width: 440px; /*Width of left column in pixel*/
background: #dddddd;
}

#leftcolumn-right{
float: left;
width: 240px; /*Width of left column in pixel*/

background: #cccccc;
}


#rightcolumn{
/*float: left;*/
width: 320px; /*Width of right column*/
position:absolute;
background: #FDE95E;
}



#bottomsection{
clear: left;
width: 100%;
background: black;
color: #FFF;
text-align: center;
padding: 4px 0;
}

#bottomsection a{
color: #FFFF80;
}

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}

.rresume 
{
	font-family:Verdana, Arial, Verdana;
	font-size:10px;
	color:#a88457;
}

/*-------------------------------------------------------------------------------------*/

#lesiteMaster 
{
    position:relative;	
	width:1020px;
	background-color:#dddddd;
	height:100%;
}

#lesite 
{
    position:relative;	
	width:1000px;
	background-color:#fff;
	height:100%;
}

#lesite div {
}

#div-header, #div-footer {
	background-color:#eee;
	color:#000;
}


#p-main {
	width:1000px;
	background-color:#ffffff;
	float:left;		
	/*position:relative;*/
}


#p-leftPane {
 	width:680px; 	
	float:left;		
}

#p-leftPane-padding {
 	padding:00px;
 	
}

#p-leftPane-left {
 	
 	color:#000;
	float:left; 
	width:440px;
}

#p-leftPane-right {
 	background-color:#fff; 	
	float:left;
	width:240px;
	
}

#p-rightPane {
 	background-color:#fff; /* ADCEAD */ 
 	position:absolute;	
 	left:680px;
	/*float:left;*/		
	width:320px;
	
			
}
		
#p-rightPaneContent 
{
	BORDER-RIGHT: #ADCEAD 5px solid;
    BORDER-TOP: #ADCEAD 5px solid;
    BORDER-LEFT: #ADCEAD 5px solid;
    BORDER-BOTTOM: #ADCEAD 5px solid;    
    background-color:#fff;
}

.smallMenu
{
	width:76px; font: bold 09px Arial; color:#ffffff;
	background-color:#BBCCDC;
	padding: 3px 03px;
	text-transform:uppercase;
}

/*--------------------------------------------------------------------*/


html { margin: 0px; padding: 0px; }

body {
	margin: 0px; 
	padding: 0px;
	color: #000000;
	background: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:1.3;
	background-image:url(http://www.lepatriote.net/App_Themes/Default/images/bg_yellow.jpg);
}
.dot-vertical {
	background: url(http://www.lepatriote.net/App_Themes/Default/images/design/bg_dot_v1.gif) left repeat-y;	
}
 
.dot-horizontal {
	background: url(http://www.lepatriote.net/App_Themes/Default/images/design/bg_dot_h1.gif) left repeat-x;	
}


.fieldlabel
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color:#000000;
    font-size: 12px;     
    line-height: 1.5;
    font-weight:normal;  
}

.pattext
{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    color:#000000;
    font-size: 12px;     
    line-height: 1.5;
    font-weight:normal;  
}


mdtxt2 {
	FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 9pt; LINE-HEIGHT: 1.3}				
	    		
DIV.mdtxtb {
	COLOR:#000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 9pt}

.Listing {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #FF0000; font-weight: bold; }
.Listing A {font-family: Arial, Helvetica, sans-serif; color: #FF0000; font-size: 12px; text-decoration: none;}
.Listing A:LINK {font-family:  Arial, Helvetica, sans-serif; color: #FF0000; font-size: 12px; text-decoration: none;}
.Listing A:VISITED {font-family:  Arial, Helvetica, sans-serif; color: #67AA6D; font-size: 12px; text-decoration: none;}
.Listing A:ACTIVE {font-family:  Arial, Helvetica, sans-serif; color: #FF0000; font-size: 12px; text-decoration: none;}
.Listing A:HOVER {font-family:  Arial, Helvetica, sans-serif; color: #FF0000; font-size: 12px; text-decoration: underline; }

.Head {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 19px; font-style: normal; color: #FF0000; font-weight: bold; }
.Head A {font-family: Verdana, Arial, Helvetica, sans-serif; color: #FF0000; font-size: 18px; text-decoration: none;}
.Head A:LINK {font-family: Verdana, Arial, Helvetica, sans-serif; color: #FF0000; font-size: 18px; text-decoration: none;}
.Head A:VISITED {font-family: Verdana, Arial, Helvetica, sans-serif; color: #67AA6D; font-size: 18px; text-decoration: none;}
.Head A:ACTIVE {font-family: Verdana, Arial, Helvetica, sans-serif; color: #FF0000; font-size: 18px; text-decoration: none;}
.Head A:HOVER {font-family: Verdana, Arial, Helvetica, sans-serif; color: #FF0000; font-size: 18px; text-decoration: underline; }

/* ---- Main Title */
.Headx {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14pt; font-style: normal; color: #333333; font-weight: bold; }
.Headx A {font-family: Verdana, Arial, Helvetica, sans-serif; color: #333333; font-size: 14pt; text-decoration: none;}
.Headx A:LINK {font-family: Verdana, Arial, Helvetica, sans-serif; color: #333333; font-size: 14pt; text-decoration: none;}
.Headx A:VISITED {font-family: Verdana, Arial, Helvetica, sans-serif; color: #67AA6D; font-size: 14pt; text-decoration: none;}
.Headx A:ACTIVE {font-family: Verdana, Arial, Helvetica, sans-serif; color: #333333; font-size: 14pt; text-decoration: none;}
.Headx A:HOVER {font-family: Verdana, Arial, Helvetica, sans-serif; color: #333333; font-size: 14pt; text-decoration: underline; }

.Titlex {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; color: #333333; font-weight: bold; }
.Titlex A {font-family: Arial, Helvetica, sans-serif; color: #333333; font-size: 14px; text-decoration: none;}
.Titlex A:LINK {font-family:Arial, Helvetica, sans-serif; color: #333333; font-size: 14px; text-decoration: none;}
.Titlex A:VISITED {font-family:Arial, Helvetica, sans-serif; color: #333333; font-size: 14px; text-decoration: none;}
.Titlex A:ACTIVE {font-family: Arial, Helvetica, sans-serif; color: #333333; font-size: 14px; text-decoration: none;}
.Titlex A:HOVER {font-family: Arial, Helvetica, sans-serif; color: #333333; font-size: 14px; text-decoration: underline; }


.Head2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; color: #FF0000; font-weight: bold; }
.Head2 A {font-family: Verdana, Arial, Helvetica, sans-serif; color: #FF0000; font-size: 16px; text-decoration: none;}
.Head2 A:LINK {font-family: Verdana, Arial, Helvetica, sans-serif; color: #FF0000; font-size: 16px; text-decoration: none;}
.Head2 A:VISITED {font-family: Verdana, Arial, Helvetica, sans-serif; color: #67AA6D; font-size: 16px; text-decoration: none;}
.Head2 A:ACTIVE {font-family: Verdana, Arial, Helvetica, sans-serif; color: #FF0000; font-size: 16px; text-decoration: none;}
.Head2 A:HOVER {font-family: Verdana, Arial, Helvetica, sans-serif; color: #FF0000; font-size: 16px; text-decoration: underline; }

.SubHead {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; color: #000040; font-weight: bold; }
.SubHead A {color: #000040; font-size: 12px; text-decoration: none;}
.SubHead A:LINK {color: #000040; font-size: 12px; text-decoration: none;}
.SubHead A:VISITED {color: #67AA6D; font-size: 12px; text-decoration: none;}
.SubHead A:ACTIVE {color: #000040; font-size: 12px; text-decoration: none;}
.SubHead A:HOVER {color: #000040; font-size: 12px; text-decoration: underline; }

.arialblack {
	font-family:Arial Black, Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 11px;	
	text-decoration: none;
	/*font-weight: bold;	*/
	text-transform:uppercase;
}

.arialblack_new {
	font-family:Arial Black, Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
	text-decoration: none;
	/*font-weight: bold;*/
}

.arialblack_sm {
	font-family:Arial Black, Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

.arttitle {
	font-family: arial, verdana, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
}

.arttitlesmall {
	font-size: 11px;
	line-height: 14px;
	font-weight: bold;
}

.date, .subtitlesmall .date {
	color: #87796C;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 9px;
}



.Regular {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}	

a.Regular:link {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}
a.Regular:visited {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}
a.Regular:hover {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: underline;
	font-weight: normal;
}
a.Regular:active {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}


.MenuItem {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}	

a.MenuItem:link {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}
a.MenuItem:visited {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}
a.MenuItem:hover {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: underline;
	font-weight: normal;
}
a.MenuItem:active {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}

.actutitle   {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size:  09pt;
    font-weight:    bold;
    color: #336699;
}


.roundmenu_title   {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size:  09pt;
    font-weight:    bold;
    color: #ffffff;
}

.actusubtitle   {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size:  8pt;
    font-weight:    normal;
    color: #999999;
}

.smalltext
{
    font-size: 9pt;
    color: #666666;
    font-family: arial, verdana;
}

.smalltext2
{
    font-size: 9pt;
    color: #000000;
    font-family: arial, verdana;
}

.subhead {	
	font: normal small-caps 900 13px Arial;	
}
.subHead2 {	
	font: normal small-caps 900 13px Arial;	
}

.tBlack{font-family:Tahoma, Arial, Verdana, Helvetica, sans-serif; font-size:11px; font-weight:normal;  color:#000000; text-decoration:none; line-height:1.5; }
.blue{font-family:Trebuchet MS, Tahoma; font-size:11px;  color:#84A6AD; text-decoration:none; }
.yellow{FONT-SIZE: 11px; COLOR: #FECD18; LINE-HEIGHT: 1.5; FONT-FAMILY: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;}	
.tGreen{FONT-SIZE: 11px; COLOR: #287b2c; LINE-HEIGHT: 1.5; FONT-FAMILY: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;} 

a.tBlue:link {
	font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; font-size: 11px;  color: #003399;	
	text-transform:none; text-decoration: none;
}
a.tBlue:visited {
	font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; font-size: 11px;  color: #003399;	
	text-transform:none; text-decoration: none;
}
a.tBlue:hover {
	font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; font-size: 11px;  color: #CC0000;	
	text-transform:none; text-decoration: none;
}
a.tBlue:active {
	font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; font-size: 11px;  color: #003399;	
	text-transform:none; text-decoration: none;
}

a.tGreen:link {
	font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; font-size: 11px;  color: #287b2c;	
	text-transform:none; text-decoration: underline;
}
a.tGreen:visited {
	font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; font-size: 11px;  color: #287b2c;	
	text-transform:none; text-decoration: underline;
}
a.tGreen:hover {
	font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; font-size: 11px;  color: #ff3300;	
	text-transform:none; text-decoration: overline;
}
a.tGreen:active {
	font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; font-size: 11px;  color: #287b2c;	
	text-transform:none; text-decoration: underline;
}

.pagination{
padding: 2px;

}

.pagination ul{
margin: 0;
padding: 0;
text-align: left; /*Set to "right" to right align pagination interface*/
font-size: 16px;
}

.pagination li{
list-style-type: none;
display: inline;
padding-bottom: 1px; 
}

.pagination a, .pagination a:visited{
padding: 0 5px;
border: 1px solid #9aafe5;
text-decoration: none; 
color: #2e6ab1;

}

.pagination a:hover, .pagination a:active{
border: 1px solid #2b66a5;
color: #000;
background-color: lightyellow;

}

.pagination li.currentpage{
font-weight: bold;
padding: 0 5px;
border: 1px solid navy;
background-color: #2e6ab1;
color: #FFF;
}

.pagination li.disablepage{
padding: 0 5px;
border: 1px solid #929292;
color: #929292;
}

.pagination li.nextpage{
font-weight: bold;
}

* html .pagination li.currentpage, * html .pagination li.disablepage{ /*IE 6 and below. Adjust non linked LIs slightly to account for bugs*/
margin-right: 5px;
padding-right: 0;

}


.titrobox
{
     height:300px;
     width:200px;
     border:1px solid #c5c5c5;
     margin:5px;

}
.titroimage
{
    width:180px;
    height:243px;
}
.titrosummarydisplaywrapper
{
     width:200px;
     padding-top:10px;
}
.titrosummaryimageholder
{
    height:260px;
    text-align:center;
    vertical-align:middle;
}
.titrosummarytext
{
    padding: 02px 02px 02px 02px;
    height:18px;
}


.caricabox
{
     height:300px;
     width:300px;
     border:1px solid #c5c5c5;
     margin:5px;

}
.caricaimage
{
    width:250px;
    height:250px;
    /*border:solid 1px #333333; */
}
.caricasummarydisplaywrapper
{
     width:270px;
     padding-top:10px;
}
.caricasummaryimageholder
{
    height:260px;
    text-align:center;
    vertical-align:middle;
}


.SiteTitle   {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size:  20px;
    font-weight:    normal;
    color: #cccc99;
}

/* basic selectors */
a.adtext { color: #333399; text-decoration:none}
a.adtext:hover{ color: #333399; text-decoration:none}
a:link { color: #333399; text-decoration:none}
a:visited { color: #333399;  text-decoration:none}
a:active, a:hover { color: #000099;  text-decoration:none}


.mnuLink {font-size:12px; font-family:Verdana,Helvetica, Sans-Serif; color: #333399; text-decoration:none}
a mnuLink:link {font-size:12px; font-family:Verdana,Helvetica, Sans-Serif; color: #333399; text-decoration:none}
a mnuLink:visited {font-size:12px; font-family:Verdana,Helvetica, Sans-Serif; color: #333399;  text-decoration:none}
a.mnuLink:active {font-size:12px; font-family:Verdana,Helvetica, Sans-Serif; color: #333399;  text-decoration:none}
a.mnuLink:hover {font-size:12px; font-family:Verdana,Helvetica, Sans-Serif; font-weight:bold; color: #c80000;  text-decoration:none}

.mnuLink1 {font-size:11px; margin-left:05px; font-family:Tahoma, Arial,Verdana,Trebuchet MS, Helvetica, Sans-Serif; color: #333399; text-decoration:none}
a mnuLink1:link {font-size:11px; margin-left:05px; font-family:Tahoma, Arial,Verdana,Trebuchet MS, Helvetica, Sans-Serif; color: #333399; text-decoration:none}
a mnuLink1:visited {font-size:11px; margin-left:05px; font-family:Tahoma, Arial,Verdana,Trebuchet MS, Helvetica, Sans-Serif; color: #333399;  text-decoration:none}
a.mnuLink1:active {font-size:11px; margin-left:05px; font-family:Tahoma, Arial,Verdana,Trebuchet MS, Helvetica, Sans-Serif; color: #333399;  text-decoration:none}
a.mnuLink1:hover {font-size:11px; margin-left:05px; font-family:Tahoma, Arial,Verdana,Trebuchet MS, Helvetica, Sans-Serif;  color: #c80000;  text-decoration:none}

.list{background:url(http://www.lepatriote.net/App_Themes/Default/images/z1.gif)  center left no-repeat; padding-left:17px; padding-top:2px; vertical-align:middle; width:200px; height:20px}
.list a{ color:#302B2C; margin-left:11px; text-decoration:none}
.list a:hover{ color:#AD4D0C; text-decoration:none}

/* text style used for most text rendered by modules */
.text11
{
    font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height:1.5;    
}




th
{
    vertical-align:top;
}
td
{
    vertical-align:top;
}


img { border: 0px; }

.imgbutton
{
    vertical-align:bottom;
}

table { font-size: 100%; }
code { color: #6c0; font: 100% "Courier New", Courier, monospace }
form { margin: 0px; padding: 0px; }
input, textarea, select { font: 100% Verdana, Arial, Helvetica, sans-serif; border:1px solid #666666;}




.sectionheader
{
    border-bottom: #dcdcdc 1px dotted;
    color: #65738E;
    font-size: 8pt;
    padding-bottom: 5px;
    font-weight:bold;
}

.admin-header
{
    background-color: #6190CD; 
    height:40px;
    padding-left:10px;
    border-bottom:solid 4px #B4CCEB;
}
.admin-header h1
{
    color: white;
}

.admintable
{
	margin: 5px;
	padding:0;
	width:700px;
	border:1px dashed #cccccc;

}
.adminlabel
{
    font-size: 8pt;
    font-family: verdana;
    width: 120px;
    margin-bottom: 3px;
    vertical-align: top;
}
.adminitem
{
	border-width:0px;
	background-color: #ffffff;
	margin-bottom:3px;
}
.textLabel
{
    font-size: 8pt;
    font-family: verdana;        
}

.normalText
{
    font-size: 9pt;
    font-family: arial;        
}

.commandbar
{
	padding:3px;
	font-size:8pt;
/*	background-color: blue;*/
	border:1px solid gainsboro;
}

.topCategory {
	color: #000066;
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;	
	font-weight:bold;	 
}

#footer {
	clear: both;
	border-top: solid 1px #d4d9de;
	padding: 5px;
	text-align: center;
}



.adbox h3
{
    font-weight: bold;
    font-size: 10pt;
    font-family: verdana;
	color:#C7C030;
	margin-top:1px;
	margin-bottom:3px;

}
.loginheader
{ 
    height:30px;
    font-weight: bold; 
    font-size: 10pt; 
    color: #666666; 
    font-family: verdana; 
    background-color: #f5f5f5; 
    text-align:center;
 }
 .logincell
 {
    background-color:#ffffff;
    vertical-align:middle;
    text-align:center;
    padding:20px;
}
.logtable
{
    border:1px solid #cccccc;
    background-color:#cccccc;
    
}
.subcategory
{
    margin-left:05px;
}


.hookline
{
    font-size: larger;
    color: #5b626c;
    font-style: italic;
}
.coreboxbody
{
    background-image:url(core_box_bg.gif);
    width:140px;
    padding-left:20px;
    padding-right:20px;
}
.coreboxtop
{
   background-image:url(core_box_top.gif);
   height:22px;
   width:180px;

}
.coreboxbottom
{
    width:180px;
    background-image:url(core_box_bottom.gif);
    height:22px;

}
.coreboxheader
{
    width:180px;
    background-image:url(core_box_bg.gif);
    font-weight: bold;
    padding-top:5px;
    padding-bottom:10px;
    text-align:center;
}
.tenpixspacer
{
    height:10px;
}
.twentypixspacer
{
    height:20px;
}
.sectionoutline
{
    border:1px solid #cccccc;
    padding:15px;
}

checkout-visited
{
    font-size: 16pt;
    color: #dcdcdc;
    font-family: verdana;
}
checkout-current
{
    font-size: 16pt;
    color: #990000;
    font-family: verdana;
}
/* Rating */
.ratingstar {
    font-size: 0pt;
    width: 13px;
    height: 12px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
}

.filledratingstar {
    background-image: url(http://www.lepatriote.net/App_Themes/Default/Images/FilledStar.png);

}

.emptyratingstar {
    background-image: url(http://www.lepatriote.net/App_Themes/Default/Images/EmptyStar.png);
}

.savedratingstar {
    background-image: url(http://www.lepatriote.net/App_Themes/Default/Images/SavedStar.png);
}
fieldset
{
    padding:10px;
    -moz-border-radius: 1em;
    border-radius: 1em;

}

LI.side_cercle {list-style-type: circle}
LI.side_square {list-style-type: square}

.loadingbox
{
    position:absolute;
    top:40%;
    left:40%;
    border:1px solid lightsteelblue; 
    background-color: #ffffff; 
    height:50px; 
    width:250px;
    text-align:center;
    padding-top:20px
}

.tableBorderBlack
{
	border-top: 1px solid #333333;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
}

.boxLeft
{
	border-top: 5px solid #cccccc;
	border-left: 5px solid #cccccc;
	border-right: 5px solid #cccccc;
	border-bottom: 5px solid #cccccc;
}

.tan-border-green
{
    BORDER-RIGHT: #339900 1px solid;
    BORDER-TOP: #339900 1px solid;
    BORDER-LEFT: #339900 1px solid;
    BORDER-BOTTOM: #339900 1px solid
} 

.tan-border-blue
{
    BORDER-RIGHT: #003399 1px solid;
    BORDER-TOP: #003399 1px solid;
    BORDER-LEFT: #003399 1px solid;
    BORDER-BOTTOM: #003399 1px solid
} 

.tan-border-green
{
    BORDER-RIGHT: #339900 1px solid;
    BORDER-TOP: #339900 1px solid;
    BORDER-LEFT: #339900 1px solid;
    BORDER-BOTTOM: #339900 1px solid
} 

.tan-border-lightgreen
{
	BORDER-RIGHT: #58A858 1px solid;
    BORDER-TOP: #58A858 1px solid;
    BORDER-LEFT: #58A858 1px solid;
    BORDER-BOTTOM: #58A858 1px solid
}

.tan-border-lightgreen2px
{
	BORDER-RIGHT: #58A858 2px solid;
    BORDER-TOP: #58A858 2px solid;
    BORDER-LEFT: #58A858 2px solid;
    BORDER-BOTTOM: #58A858 2px solid
}

.tan-border-green-LRB
{
    BORDER-RIGHT: #339900 1px solid;
    BORDER-LEFT: #339900 1px solid;
    BORDER-BOTTOM: #339900 1px solid
} 

.tan-border-yellow
{
    BORDER-TOP: #FFCC00 1px solid;    
    BORDER-RIGHT: #FFCC00 1px solid;    
    BORDER-LEFT: #FFCC00 1px solid;
    BORDER-BOTTOM: #FFCC00 1px solid
} 
.tan-border-yellow-LRB
{
    BORDER-RIGHT: #FFCC00 1px solid;    
    BORDER-LEFT: #FFCC00 1px solid;
    BORDER-BOTTOM: #FFCC00 1px solid
} 

.tan-border-orange2px
{
    BORDER-TOP: #F29102 2px solid;    
    BORDER-RIGHT: #F29102 2px solid;    
    BORDER-LEFT: #F29102 2px solid;
    BORDER-BOTTOM: #F29102 2px solid
} 

.tan-border-orange
{
    BORDER-TOP: #F29102 1px solid;    
    BORDER-RIGHT: #F29102 1px solid;    
    BORDER-LEFT: #F29102 1px solid;
    BORDER-BOTTOM: #F29102 1px solid
} 
.tan-border-orange-LRB
{
    BORDER-RIGHT: #F29102 1px solid;    
    BORDER-LEFT: #F29102 1px solid;
    BORDER-BOTTOM: #F29102 1px solid
} 

.tan-border-focus-LRB
{
    BORDER-RIGHT: #336699 1px solid;    
    BORDER-LEFT: #336699 1px solid;
    BORDER-BOTTOM: #336699 1px solid
} 

.tableBorderGray
{
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.BorderGray
{
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
}
.BorderGrayR
{
	border-right: 1px solid #666666;
	
}
.BorderGrayL
{
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
}
.BorderGrayRB
{
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
}
.BorderGrayTop
{
	border-Bottom: 1px solid #666666;	
}
.BorderGrayBot
{
	border-Bottom: 1px solid #666666;	
}
.BorderGrayTRB
{
	border-top: 1px solid #666666;	
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
}
.BorderGrayLBR
{
	border-left: 1px solid #666666;	
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
}


.tableBorderGrayLRB
{
	
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.tableBorderGrayTB
{
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.depecheBorder
{
	border-top: 1px solid #c80000;
	border-left: 1px solid #c80000;
	border-right: 1px solid #c80000;
	border-bottom: 1px solid #c80000;
}

.editoBorder
{
	border-top: 1px solid #ffcc00;
	border-left: 1px solid #ffcc00;
	border-right: 1px solid #ffcc00;
	border-bottom: 1px solid #ffcc00;
}

.tableBorderBlue
{
	border-top: 1px solid #336699;
	border-left: 1px solid #336699;
	border-right: 1px solid #336699;
	border-bottom: 1px solid #336699;
}

.tableBorderBrick
{
	border-top: 0px solid #D25A0B;
	border-left: 1px solid #D25A0B;
	border-right: 1px solid #D25A0B;
	border-bottom: 1px solid #D25A0B;
}

.tableActuTitle
{
	border-top: 1px solid #cccccc;
	border-left: 5px solid #cccccc;	
	border-bottom: 1px solid #cccccc;
}

.tableBorderGrayBottom
{	
	border-bottom: 1px solid #cccccc;
}

tableBorderGrayRight
{	
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

tableBorderGrayLeft
{	
	border-left: 1px solid #cccccc;
}

tableBorderGrayTop
{	
	border-top: 1px solid #cccccc;
}
.tableBorderGrayTB
{	
    border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.tableBorderGrayLBR
{	
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.mainBorderR
{
	
	border-right: 1px solid #ADCEAD;
	
}

