@CHARSET "ISO-8859-1";



#bas_de_page {

	text-align: center;

	color: #35346d;

	font-size: 110%;

}



#bas_de_page a {

	color: #924c93;

}



#bas_de_page li {

	display: inline;

	margin-left: 10px;

	margin-right: 10px;

}



#bas_de_page .capital {

	font-weight: bold;

}



#bas_de_page .adresse {

	margin-top: 5px;

	padding-bottom: 30px;

	color: #924c93;

	font-size: 80%;

}



#bas_de_page img {

	position: relative;

	top: 7px;

}