@CHARSET "ISO-8859-1";

#fond_blanc {
	background: #fff;
}

#espace_perso {
	/* Style */
	text-align: right;
	color: #632D5F;
	background-color: #fff;
}

#espace_perso a {
	color: #632D5F;
	text-decoration: none;
}

#espace_perso a.bouton_violet {
	margin-left: 165px;
	margin-top: 5px;

	width: 110px;
	display: block;
	padding:1px 0;
    background: #632D5F;
    color: #fff;
    text-align: center;
}

#espace_perso .label_input {
	margin-top: 5px;
}

#espace_perso input.textfield {
	margin:3px;
	border-width: 0px;
	background: transparent url("input_login.png") no-repeat;
	width: 118px;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

#espace_perso .align_left {
	padding-left: 5px;
	text-align: left;
}

#espace_perso h2 {
	font-weight: bold;
	font-size: 140%;
}

#espace_perso h3 {
	font-weight: bold;
	font-size: 110%;
}

input.round_submit {
	width: 26px;
	border: 0;
	background: transparent url("fleche.png") no-repeat;
}

#recherche {
	/* Style */
	color: #632D5F;
	text-align: right;
	width: 252px;
}

#recherche #input_recherche {
	border-width: 0px;
	background: transparent url("input_recherche.png") no-repeat;
	width: 215px;
	padding-left: 18px;
	padding-right: 10px;
	padding-top: 2px;
}

#caracteres, #caracteres_sans_js {
	/* Style */
	text-align: center;
	font-weight: bold;
	font-size: 120%;
	color: #4b6eb3;
}

#caracteres a, #caracteres_sans_js a {
	font-weight: normal;
	color: #4b6eb3;
}

#caracteres a.default {
	font-size: 120%;
	font-weight: bold;
}
#caracteres a.grand {
	font-size: 180%;
}
#caracteres a.tres_grand {
	font-size: 250%;
}



