
#liens_internes a {
	color: #4b6eb3; 
}

#liens_internes a:hover, #liens_internes a:focus {
	color: #fff;
}

#menu_accueil {
	text-align: left;
	border-bottom: #4b6eb3 solid 2px;
}

#menu_accueil li p {
	font-size: 80%;
	padding-bottom: 10px;
	padding-top: 5px;
}

#menu_accueil li span {
	font-weight: bold;
	position: relative;
	bottom: 6px;
}

#menu_accueil li {
	border-top: #4b6eb3 solid 2px;

	list-style-position: inside;
	
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 5px;
	display: list-item;
}

#menu_accueil li span {
	padding-left: 5px;
}

#menu_accueil li.tick_bleu {
	list-style-image: url("tick_bleu.png");
}

#menu_accueil li.tick_jaune {
	list-style-image: url("tick_jaune.png");
}

#menu_accueil li.tick_violet {
	list-style-image: url("tick_violet.png");
}

#menu_accueil h2 {
	display: inline;
}