
.puce_plan {
	list-style-image: url("rose_des_vents.png");
}

.puce_outils {
	list-style-image: url("outils.png");
}

.puce_liens {
	list-style-image: url("liens.png");
}

.puce_accessibilite {
	list-style-image: url("ampoule.png");
}

.puce_contact {
	list-style-image: url("contact.png");
}
.puce_pdf {
	list-style-image: url("pdf.png");
}
.puce_fleche {
	list-style-image: url("puce_fleche.png");
}