/*events
*****************************************************************************************/
.noDisplay {
	position:absolute;
	left:0;
	top:-500px;
	width:1px;
	height:1px;
	overflow:hidden;
}

.portlet_events_tools .footer{
	background:transparent url(menu_footer.gif) no-repeat scroll 0 0;
	height:23px;	
	position:relative;
	top:-22px;
}

#calendarspace{
	padding-top:10px;
}

#menuCalendrier {
	width:152px;
	margin:0 auto;
}


#menuCalendrier table {
	border-collapse:collapse;
}

#menuCalendrier caption{
	display:none;
}

#menuCalendrier th {
	text-transform:lowercase;
	font-size:0.7em;
	text-align:center;
	vertical-align:middle;
	background:#F1F4F9;
	height:18px;
    color:#5578A6;
}

#menuCalendrier td {
	width:30px;
	height:20px;
	color:#666666;
	padding:0;
	text-align:center;
	vertical-align:middle;
	font-size:78%;
}

#menuCalendrier tr#jours td {
	color:#fff;
	background:#c7c8c2;
	text-transform:lowercase;
}

#menuCalendrier a {
	display:block;
	width:20px;
	height:18px;
	color:#666666;
	font-size:1em;
	text-decoration:none;
	padding:2px 0 0 0;
	margin:0 auto;
	background:white;
}

#menuCalendrier a.today {
	display:block;
	width:20px;
	height:18px;
	color:#ffffff;
	font-size:1em;
	text-decoration:none;
	padding:2px 0 0 0;
	margin:0 auto;
	background:#A21947;
}

#menuCalendrier .highlight{
    background-color:#DFDFDF !important;
    color:#666666 !important;
}

#menuCalendrier a:hover {
	color:#ffffff;
	background:#A21947;	
}

a#moisPrecedent {
	display:block;
	width:100%;
	padding:0;
	background:#F1F4F9  url(callt.gif.1) no-repeat  8px 5px;
	height:20px;
}

a#moisPrecedent:hover{
	background:#F1F4F9  url(callt.gif.1) no-repeat  8px 5px;
}

a#moisSuivant {
	display:block;
	width:100%;
	padding:0;
	background:#F1F4F9 url(calrt.gif.1) no-repeat 5px 5px;
	height:20px;	
}

a#moisSuivant:hover{
	background:#F1F4F9 url(calrt.gif.1) no-repeat 5px 5px;
}

.boxColonneGeneric {
	float:left;
	width:235px;
	margin:0 10px -20px 0;
}

html>body .boxColonneGeneric {
	margin:0 10px 0 0;
}

.champsCol1 {
	width:40%;
	float:left;
}

.champsCol2 {
	width:50%;
	float:left;
}

.evenement{clear:both;padding:23px 0 ;border-bottom:1px dotted #744872;}
.evenement h1{background:none !important;margin:0 !important;padding:0 !important;font-size:1.3em !important;color:#744872 !important;border:0 !important;}
.evenement .genres, .evenement .metaArrondissement{float:left;color:#6e6e6e;font-size:0.85em;}
.evenement .metaArrondissement2, .evenement .metaHoraires{color:#6e6e6e;font-size:0.85em;}
.evenement .vignette{float:right;position:relative;top:-2px;margin:4px 0 0 15px}
.evenement .vignette img{width:100px;border:1px solid #5375a5; padding:1px;}
.evenement p {font-size:0.85em !important;margin:8px 0 0 0 !important}
.evenement .moreInfo {font-size:0.85em !important;}
.evenement.even {background:transparent}
.evenement.even .vignette{float:left;margin:4px 15px 0 0}

.resultats h1.date {text-align:right;border-bottom:1px dotted #744872;background:none !important;margin:0!important;padding:10px 0 0 0 !important;font-size:1.3em !important;color:#744872 !important;text-transform:capitalize}

.toutes{font-weight:bold;position:relative;top:10px;}
#pagination{padding-bottom:15px;}
#paginationPrecedent{font-weight:bold;position:relative;top:10px;float:left}
#paginationSuivant{font-weight:bold;position:relative;top:10px;float:right}

.eventsearch FIELDSET {BORDER: #5375a5 1px solid;FONT-SIZE:
0.85em;padding-left:7px}
* html .eventsearch FIELDSET {margin-bottom:20px}

.eventsearch FIELDSET LEGEND {FONT-WEIGHT: bold; COLOR: #405a7f}

.eventsearch #champsQuoi {HEIGHT: 260px}
*+html .eventsearch #champsQuoi {HEIGHT: 320px;}
* html .eventsearch #champsQuoi {HEIGHT: 320px;}

.eventsearch #champsOu {HEIGHT: 260px}
*+html .eventsearch #champsOu {HEIGHT: 320px}
* html .eventsearch #champsOu {HEIGHT: 320px}

*+html .eventsearch #champsQuoi input {border:0; margin-left:10px}
* html .eventsearch #champsQuoi input{border:0;margin-left:10px}
*+html .eventsearch #champsOu input{border:0;margin-left:10px}
* html .eventsearch #champsOu input{border:0;margin-left:10px}

.eventsearch #champsQuand {HEIGHT: 80px}
*+html .eventsearch #champsQuand {HEIGHT: 100px}
* html .eventsearch #champsQuand {HEIGHT: 100px}

*+html .eventsearch #champsQuand #jour1{border:0;margin-left:10px}
*+html .eventsearch #champsQuand #jour5{border:0;margin-left:10px}
* html .eventsearch #champsQuand #jour1{border:0;margin-left:10px}
* html .eventsearch #champsQuand #jour5{border:0;margin-left:10px}

.eventsearch #champsQuand #endDate, .eventsearch #champsQuand #startDate {width:70px !important;margin-left:2px}

.eventsearch #champsMotsCles {HEIGHT: 80px}
*+html .eventsearch #champsMotsCles {HEIGHT: 100px}
* html .eventsearch #champsMotsCles {HEIGHT: 100px}

*+html .eventsearch #champsMotsCles input{margin-left:10px}
* html .eventsearch #champsMotsCles input{margin-left:10px}

/*.eventsearch fieldset{border:1px solid #5375a5;font-size:0.85em}
.eventsearch fieldset legend{color:#405a7f;font-weight:bold}

.eventsearch #champsQuoi {height:250px}
.eventsearch #champsOu{height:250px}
.eventsearch #champsQuand {height:80px}
.eventsearch #champsMotsCles{height:80px}
*/
.eventsearch .submitForm {padding:10px 0;clear:both}

.eventsearch #debut, .eventsearch #fin {margin-left:2px;}
/****************************************************************************************
agenda widget
*****************************************************************************************/
#widget__agenda_widget #widget__Title_widget h1{
	border:0;
	font-family:arial;
	font-size:1.25em;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:normal;
	margin:5px 0;
	padding:0 0 2px 0;	
	background:none;
	padding-top:10px;
}

#widget__agenda_widget #widget__textimage_widget div{margin:0 !important}

#widget__agenda_widget #widget__textimage_widget .dleft{padding:0 11px 4px 0}

#widget__agenda_widget #widget__Description_widget{display:none}


.stopFloat{
    clear:both
}

/****************************************************************************************
magic select
*****************************************************************************************/
.portlet_navigation select {
  display: none;
}

.portlet_navigation ul.selectReplacement {
  margin: 0;
  padding: 0;
  height: 21px;
}
.portlet_navigation ul.selectReplacement li {
  background:#F1F4F9;		
  color: #5578A6;
  cursor: pointer;
  display: none;
  font-size: 11px;
  line-height: 1.7em;
  list-style: none;
  margin: 0;
  padding: 1px 12px;
  font-weight:bold
}

* html .portlet_navigation ul.selectOpen{
	position:absolute
}

.portlet_navigation ul.selectOpen li {
  display: block;
}

#ul1_16 {color:#d4cce8}
#ul1_15 {color:#ffbff2}
#ul1_14 {color:#61005b}
#ul1_13 {color:#4bd2e2}
#ul1_12 {color:#3478c5}
#ul1_11 {color:#00416c}
#ul1_10 {color:#9c9c9c}
#ul1_9 {color:#4f5417}
#ul1_8 {color:#e9c6a0}
#ul1_7 {color:#785239}
#ul1_6 {color:#adc534}
#ul1_5 {color:#f3d606}
#ul1_4 {color:#ff7a39}
#ul1_3 {color:#c53453}
#ul1_2 {color:#d524a5}
#ul1_1 {color:#8651a8}



.portlet_navigation ul.selectReplacement li.selected {	
background:#F1F4F9 url('magicDown.gif') no-repeat top right;		
  color: #5578A6;
  display: block;
  height:19px;
}

.portlet_navigation ul.selectOpen li.selected {
  background:#5578A6;
  color:white;
  display: block;
}
.portlet_navigation ul.selectOpen li:hover, .portlet_navigation ul.selectOpen li.hover, .portlet_navigation ul.selectOpen li.selected:hover {
  background: #5578A6;
  color: #fff !important;
}

.magicselect1 ul{position:relative;z-index:20}
.magicselect2 ul{position:relative;z-index:10}

/****************************************************************************************
fiche
*****************************************************************************************/
#container.fiche{
	width:900px;
}

#container.fiche a{
	color:purple;
}


.fiche #header{
	width:900px;
	background:url('header-fiche.jpg') no-repeat top left;	
	height:141px;
	margin-bottom:10px;
	position:relative;
}

.fiche #header h1{color:#175d98;font-size:2.5em;background:none;border:0;position:absolute;right:10px;font-weight:normal;overflow:visible}
.fiche #header .genres{color:gray;font-size:1em;position:absolute;right:10px;bottom:85px}
.fiche #header .genres .kind{float:left;margin-top:1px}
	
.fiche #colonneDroite {
	float:left;
	width:190px;
}

.fiche #colonneDroite .grandeVignette{
	margin-bottom:10px;
    width: 176px;
}

.fiche #colonneDroite .vignette{
	margin:0 5px;
    width: 76px;
}

.fiche #colonneCentre {
border-left:1px dotted #CCCCCC;
border-right:1px dotted #CCCCCC;
float:left;
font-size:1.1em;
margin:0 15px 10px 0;
padding:0 15px;
width:480px;
}

.fiche #colonneCentre #quand,.fiche #colonneCentre #audience{
	width:48%;
	margin:0 1%;
	float:left;
}

* html .fiche #colonneCentre #quand,.fiche #colonneCentre #audience{
	width:45%;
}

.fiche #colonneCentre #ou,.fiche #colonneCentre #organisateur{
	width:48%;
	margin:0 1%;
	float:left;
}

* html .fiche #colonneCentre #ou,.fiche #colonneCentre #organisateur{
	width:45%;
}


.fiche #colonneCentre #ou{
	clear:left;
}

.fiche #colonneCentre #acces{
	clear:left;
}

.fiche #colonneGauche{
	width:180px;
	float:left;
}

.fiche #colonneGauche .portlet_navigation{
	width:auto;
	color:#5578A6;
	font-size:1.5em;
}

.fiche #colonneGauche .portlet_navigation a{
	color:#5578A6;
}

.principal {padding-right:8px}

.kind_1{
    background:url('picto_theme_1.gif') no-repeat;
    width: 22px;
    height: 11px;
    margin-right:2px;
}

.kind_2{
    background:url('picto_theme_2.gif') no-repeat;
    width: 22px;
    height: 11px;
    margin-right:2px;
}

.kind_3{
    background:url('picto_theme_3.gif') no-repeat;
    width: 22px;
    height: 11px;
    margin-right:2px;
}

.kind_4{
    background:url('picto_theme_4.gif') no-repeat;
    width: 22px;
    height: 11px;
    margin-right:2px;
}

.kind_5{
    background:url('picto_theme_5.gif') no-repeat;
    width: 22px;
    height: 11px;
    margin-right:2px;
}

.kind_6{
    background:url('picto_theme_6.gif') no-repeat;
    width: 22px;
    height: 11px;
    margin-right:2px;
}

.kind_7{
    background:url('picto_theme_7.gif') no-repeat;
    width: 22px;
    height: 11px;
    margin-right:2px;
}

.kind_8{
    background:url('picto_theme_8.gif') no-repeat;
    width: 22px;
    height: 11px;
    margin-right:2px;
}

.kind_9{
    background:url('picto_theme_9.gif') no-repeat;
    width: 22px;
    height: 11px;
    margin-right:2px;
}

.kind_10{
    background:url('picto_theme_10.gif') no-repeat;
    width: 22px;
    height: 11px;
    margin-right:2px;
}

.kind_11{
    background:url('picto_theme_11.gif') no-repeat;
    width: 22px;
    height: 11px;
    margin-right:2px;
}

.kind_12{
    background:url('picto_theme_12.gif') no-repeat;
    width: 22px;
    height: 11px;
    margin-right:2px;
}

.kind_13{
    background:url('picto_theme_13.gif') no-repeat;
    width: 22px;
    height: 11px;
    margin-right:2px;
}

.kind_14{
    background:url('picto_theme_14.gif') no-repeat;
    width: 22px;
    height: 11px;
    margin-right:2px;
}

.kind_15{
    background:url('picto_theme_15.gif') no-repeat;
    width: 22px;
    height: 11px;
    margin-right:2px;
}

.kind_16{
    background:url('picto_theme_16.gif') no-repeat;
    width: 22px;
    height: 11px;
    margin-right:2px;
}

.genre1 .genres{
    color:#8551A8 !important;
}

.genre2 .genres{
    color:#D524A6 !important;
}

.genre3 .genres{
    color:#C53353 !important;
}

.genre4 .genres{
    color:#FF7A39 !important;
}

.genre5 .genres{
    color:#F3D405 !important;
}

.genre6 .genres{
    color:#AFC533 !important;
}

.genre7 .genres{
    color:#785139 !important;
}

.genre8 .genres{
    color:#E9C6A0 !important;
}

.genre9 .genres{
    color:#505417 !important;
}

.genre10 .genres{
    color:#9C9C9C !important;
}

.genre11 .genres{
    color:#00426C !important;
}

.genre12 .genres{
    color:#337AC5 !important;
}

.genre13 .genres{
    color:#4AD3E2 !important;
}

.fiche #price{
    border-top: 1px solid #5375A5;
    border-bottom: 1px solid #5375A5;
    background: #F2F5F9 none repeat scroll 0pt 0pt;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    text-align:center;
}
