/*******************************************************************
DYNAMIC MENU HORIZONTAL NAV
*******************************************************************/
/** html #menu_horizonNav{display:none}
*+html #menu_horizonNav{display:none}*/

#menu_horizonNav{
	background:url('nav_bg.jpg') no-repeat;	
	padding:0 16px;
}

#menu_horizonNav table{
	height:27px;
	width:100%;
	border-collapse:collapse;	
}

#menu_horizonNav tr{
	width:100% !important;
	/*display:table;	*/
}

#menu_horizonNav td{
	width:959px !important;
	/*display:table-cell;*/
	height:27px;
	background:url(nav_separator.gif) no-repeat top left;	
}

#horizonNav td.first_item{
	background:none;
}


#horizonNav td ul{
  display:none;
}

#horizonNav td:hover>ul{
  display:block;
}


#horizonNav{
  margin:0px;
  padding:0px;
  list-style:none;
  width:100%;
  float:left; 
}

#horizonNav td .level1{
	display:block;
	white-space:nowrap;
	color:white;
	text-decoration:none;
	font:bold 0.7em/0.7em Arial;
	vertical-align:middle;  
	text-align:center;
	padding:5px 0 9px 0;
}

html>/**/body #horizonNav td .level1{
	padding:10px 0 9px 0;	
}


#horizonNav td .level1:hover{
	text-decoration:underline;
	color:#55192d;	
}

#horizonNav ul{
  position:absolute;
  list-style:none;
  width:170px;
  z-index:99999;
	border-top: 5px solid #55192d;
	border-left: 1px solid #55192d;
	border-right: 1px solid #55192d;
	border-bottom: 5px solid #55192d;
	padding:0;
	background:#a83861;
}


#horizonNav ul li{
	font-size: 0.8em;
	color:#5c3838;
	padding: 0 0 0 0 !important;
  width:170px;	
}

#horizonNav ul li .level2{
	text-align:left;
	font-family: arial;
	font-size:0.8em;
	font-weight: normal;
	color:white;
	text-decoration:none;
	display:block;
	border-top:1px solid #b45777;
	border-bottom:1px solid #890c36;
	width:146px;	
	padding: 0px 4px 0 20px;
}

* html #horizonNav ul li .level2{
	height:10px;
}

#horizonNav ul li .level2:hover{
	color:white;
	border-top:1px solid #890c36;
	border-bottom:1px solid #b45777;
	background: #55192d;
}
