

/* conteneur 
---------------------------------------- */

body {

	background: #e52667 url(fond.jpg) no-repeat; background-position: top center;

	margin: 0px; padding: 0px;

	text-align: center;
	
	font:normal 12px Verdana, Geneva, sans-serif;

}

body a  {

	color: #070707; text-decoration: none;

}

body a:active{

	outline: none;

}

body a:hover  {

	color: #01c5ff;	text-decoration: underline;

}

body img {

	border: 0px;

}

#conteneur {

	padding: 0px 0px 0px 2px; margin: 0px 0px 0px 0px;

	width: 1004px; text-align: left;

	margin-left: auto; margin-right: auto;

}

#contenu {

	padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;

	width: 1004px; text-align: left; background-color:#fff; float:left

}

#gauche {
	
	float:left; width:165px; 
	
	display:inline;	padding: 0px 0px 0px 0px; margin: 20px 12px 0px 10px;
	
}

#milieu {
	
	float:left; width:494px; 
	
	display:inline;	padding: 0px 0px 0px 0px; margin: 20px 0px 0px 0px;
	
}

#droite {
	
	float:left; width:300px;
	
	display:inline;	padding: 0px 0px 0px 0px; margin: 7px 10px 0px 13px;
	
}

#pub {
	
	margin:5px 0px 5px 0px; 
	
}


/* line 
---------------------------------------- */

.line, .line2 {

	height: 1px; width: 100%;

	border-bottom:1px solid #d8d8d8; 

	padding:0px 0px 0px 0px; margin:2px 0px 10px 0px; 

	clear: both; overflow: hidden;

}

.line2 {

	background:transparent url(fondline.jpg) repeat-x; background-position: top;
	
	height:10px; border-bottom:0px solid #d8d8d8; margin:0px 0px 10px 0px;

}

.couleur_rose {

	color:#e52667;

}

.couleur_gris {

	color:#5b5b5b;

}

.clear { 

	clear:both; height:0px; overflow:hidden; 
	
}



/* textes 
---------------------------------------- */

.titre, h1 {
	
	font:normal 18px Verdana, Geneva, sans-serif;
	
}

.titre1 {
	
	font:bold 14px Arial, Helvetica, sans-serif; margin:5px 0px 0px 0px; display:block;
	
}

.titre2 {
	
	font:bold 14px Arial, Helvetica, sans-serif; margin:0px 0px 10px 0px; display:block;
	
}

.soustitre {
	
	font:bold 11px Arial, Helvetica, sans-serif; margin:2px 0px 0px 3px;
	
}


.blogtext {
	width:98%;
	font:normal 12px Arial, Helvetica, sans-serif; text-align:justify; 
	
}

.titreleft {
	
	font:normal 12px Arial, Helvetica, sans-serif; float:left; clear:both; color:#534e4e;
	width:130px;
	background:transparent url(arroleft.jpg) no-repeat; padding: 0px 0px 0px 20px; margin: 0px 0px 10px 5px;
	
}

.titreright, .titreright_frm {
	
	font:bold 12px Arial, Helvetica, sans-serif; float:left; clear:both; color:#5b5b5b;
	
	background:transparent url(arroright.jpg) no-repeat; background-position: 0px 2px;
	
	padding: 0px 0px 7px 18px; margin: 0px 0px 10px 5px;
	
	border-bottom:1px solid #d8d8d8; width:273px;
	
}

.titreright_frm {
	
	background:transparent url(pictoforum.jpg) no-repeat; background-position: 0px 2px; color:#f15da4;
	
	padding: 0px 0px 7px 22px; width:269px;
	
}

.reagir {
	
	font:bold 12px Arial, Helvetica, sans-serif; float:left; clear:both; color:#e52667;
	
	background:transparent url(reagir.jpg) no-repeat; background-position: 0px 2px;
	
	padding: 5px 0px 7px 45px; margin: 0px 0px 5px 5px;
	
}


textarea,input {
	border:1px solid #e52667;
	font-family:verdana;
}

input.submit {
	border:0px;
	background-color:#e52667;
	color:white;
	padding:3px;
}



#bottom {
	text-align:center;
	color:white;
	padding:10px;
}

#bottom a {
	color:white;
}