.envoyer {
	background-image: url(valider.gif.1);
	background-repeat: no-repeat;
	width: 58px;
	height: 14px;
	border: none;
}
#central {
	margin: 15px 25px 5px 25px;
	width: 370px;
	border: 1px solid #AAAAAA;
	font: normal normal 11px/15px Arial, Helvetica, sans-serif;
	text-align: center;
}
#central th {
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 3px 0px;
	border-bottom: 1px solid #AAAAAA;
	font: normal bold 11px/17px Arial, Helvetica, sans-serif;
	text-align: center;
}


#central td {
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 3courantpx 0px;
	font: normal normal 11px/15px Arial, Helvetica, sans-serif;
	text-align: center;
}


em {
	font: italic normal 11px Arial, Helvetica, sans-serif;
	color: #FF4500;
	
}
#auteur em {
	font: italic normal 11px Arial, Helvetica, sans-serif;
	color: #FF4500;
	margin: 5px auto 10px 15px;
	text-align: left;
}


body {
	Scrollbar-face-color: #C3002D;
	Scrollbar-highlight-color: #739ACE;
	Scrollbar-shadow-color: #476487;
	Scrollbar-3dlight-color: #FFFFFF;

	Scrollbar-arrow-color: #FFFFFF;
	Scrollbar-track-color: #FFFFFF;
	Scrollbar-darkshadow-color: #739ACE;
	margin-top: 0px;
	padding-top: 0px;
}

td { 
text-decoration: none;
color: #000000; 
font-size: 11px
}

td#corps {
	border-top: 0px;

	border-bottom: 0px;
	vertical-align: top;
}


div#global {
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	width: 720px;
	background-color: White;
}


h2#codes {
	font: normal bold 16px/18px "Arial Narrow", Arial, sans-serif;
	text-align: right;
	color: #C3002D;
	margin: 10px 0px 15px 0px;
	padding: 5px 5px 0px 0px;
	width: auto;
} 




hr#filetHaut {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 720px;
	color: #CCCCCC;
	size: 1px;
	text-shadow: none;
}


hr#menu {
	margin: 1px 0px 1px 0px;
	padding: 0px 0px 0px 0px;
	width: 145px;
	color: #CCCCCC;
}
hr#separateur {
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 150px;
	color: #CCCCCC;
	size: 1px;
}


div#pubHaute {
	width: 702px;
	height: 65px;
	margin: 0px auto 5px auto;
	padding: 5px 0px 0px 0px;
}




div#plan {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: right ;
	height: 21px;


}


td#navigationGauche {
	border-right: 1px solid #CCCCCC;
	background-color: #F9F8F6;
	vertical-align: top;
}


td#navigationDroit {
	border-left: 1px solid #CCCCCC;
	background-color: #F9F8F6;
	vertical-align: top;
}


td#tableaustastiques {
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background-color: #F9F8F6;
	vertical-align: top;
}


td#tableauaeroport {
	border-bottom: 1px solid #CCCCCC;
	vertical-align: top;
	margin-top: 0px;
}


p#accueilHaut {
	height: 15px;
	margin: 0px;
	padding: 0px;
}


#idExtranet, form, p {
	text-align: right;
	margin-top: 5px;
	margin-bottom: 0px;


}


#idChamps, form, p {
	text-align: right;

	margin-top: 5px;
	margin-bottom: 0px;
}


p#identifiant {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: left;
	text-indent: 5px;
}


p#texte {
	font: normal normal normal 12px "Arial Narrow", Arial, sans-serif;
	text-align: left;
	line-height: 10px;
	text-indent: 30px;
}


p#texte2 {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: left;
	line-height: 13px;
	text-indent: 0px;
}
p#actu{
	font: normal normal normal 10px Arial, sans-serif;
	text-align: left;
	line-height: 13px;
	padding: 0px 0px 0px 5px;
	margin: 0px 0px 0px 0px;
}


td#situationTexte {
	width: 200px;
	padding: 5px 5px 5px 5px;
	border: 1px solid #AAAAAA;
	font: normal bold 11px/17px Arial, Helvetica, sans-serif;
	text-align: justify;
}
td#situationImage {
	width: 200px;
	padding: 5px 5px 5px 5px;
	font: normal bold 11px/17px Arial, Helvetica, sans-serif;
	border: 1px solid #AAAAAA;
	text-align: right;	
}


table#site {
	width: 405px;
	margin: 10px 5px 10px 6px;
	padding: 5px;
	font: normal bold 11px/17px Arial, Helvetica, sans-serif;
	border: 1px solid #AAAAAA;
}


#lienSite a {
text-decoration: none;
color : #333333;


}
#lienSite a:hover {
text-decoration:	none;
color : #AAAAAA;




}


p#aeroport{
	font: normal normal normal 11px Arial, sans-serif;
	text-align: left;
	line-height: 14px;
	margin: 0px 0px 0px 0px;
	padding: 1px 0px 5px 15px;
}




p#ligne{
	height: 22px;
	background-image:   url(traitgris.gif.1);
	background-repeat: repeat-x;
	vertical-align: middle;
}
p#ligne2{
	height: 11px;
	background-image:   url(traitgris2.gif.1);
	background-repeat: repeat-x;
	vertical-align: middle;
}
p#textrechecher {
	font: normal normal normal 10px Arial, sans-serif;
	text-align: justify;
	margin: 0px 0px 0px 0px;
	padding: 0px 5px 5px 5px;
}


p#textetitre {
	font: normal normal bold 12px Arial, sans-serif;
	text-align: left;
	text-indent: 20px;
}
p#sousTitre {
	font: normal normal bold 11px/13px Arial, sans-serif;
	text-align: left;
	text-indent: 25px;
	color: #666666;
	margin: 15px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#organigramme td {
	font: normal normal bold 10px/13px Arial, sans-serif;
	text-align: center;
	color: #666666;
}
tr#courant {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: justify;
	color: #000000;
}
p#courant ul {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: left;
	width: 395px;
	margin: 15px 10px 5px 15px;
	color: #000000;
	list-style-type: disc;
}

p#auteur {
	font: normal normal normal 11px Arial, sans-serif;
	width: 395px;
	margin: 15px 10px 0px 15px;
	color: #C81E00;
	text-decoration: none;
}

p#auteur a {
	font: normal normal normal 11px Arial, sans-serif;
	width: 395px;
	margin: 15px 10px 0px 0px;
	color: #C81E00;
	text-decoration: none;
}
p#auteur a:hover {
	font: normal normal normal 11px Arial, sans-serif;
	width: 395px;
	margin: 15px 10px 0px 0px;
	color: #C81E00;
	text-decoration: underline;
}
p#courant a {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: left;
	display: inline;
	width: 395px;
	margin: 15px 10px 5px 0px;
	color: #000000;
	text-decoration: underline;
}
p#courant a:hover {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: left;
	display: inline;
	width: 395px;
	margin: 15px 10px 5px 0px;
	color: #376EB9;
	text-decoration: none;
}
#coldroit {
float: left;
	font: normal normal normal 11px Arial, sans-serif;
	text-align: justify;
	margin: 0px 5px 5px 0px;
	padding: 0;
	color: #555555;
	text-decoration: none;
}

a {
	text-decoration: none;
}

#coldroit a {
float: left;
	font: normal normal normal 11px Arial, sans-serif;
	text-align: justify;
	margin: 0px 5px 5px 0px;
	padding: 0;
	color: #5555555;
	text-decoration: none;
}
#coldroit a:hover {
float: left;
	font: normal normal normal 11px Arial, sans-serif;
	text-align: justify;
	margin: 0px 5px 5px 0px;
	padding: 0;
	color: #376EB9;
	text-decoration: none;
}
#coldgauche{
	font: normal normal normal 11px Arial, sans-serif;
	text-align: justify;
	margin: 5px 5px 5px 0px;
	color: #555555;
	text-decoration: none;
}
#colgauche a {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: justify;
	margin: 5px 5px 5px 0px;
	color: #5555555;
	text-decoration: none;
}
#colgauche a:hover {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: justify;
	margin: 5px 5px 5px 0px;
	color: #376EB9;
	text-decoration: none;
}

div#imageGauche {
	margin: 15px auto 5px 10px;
	padding: 0px;
	text-align: left;
}
#imageGauche {
	margin: 10px 0px 2px 10px;
	padding: 0px;
	text-align: left;
	float: left;
	display: block	
}
div#imageDroit {
	margin: 15px 10px 5px auto;
	padding: 0px;
	text-align: right;
}
#imageDroit {
	margin: 10px 10px 2px 10px;
	padding: 0px;
	float: right;
	display: block	
}


p#textrechecher {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: justify;
	font-weight: normal;
	
}


p#titrebleu {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: left;
	line-height: 13px;
	color: #376EB9;
	padding: 3px;
	margin-top: 2px;
	margin-bottom: 0px;
}




p#titrerouge {
	font: normal italic bold 15px Arial, Helvetica, sans-serif;
	text-align: left;
	line-height: 10px;
	text-indent: 10px;
	color: #C3002D;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 5px 0px;
}
.separateur {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;

}




p#textrechecher {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: justify;
}


p#textreponse {
	font: normal normal normal 10px Arial, sans-serif;
	color: #C3002D;	
}

#textePetit {
	font: normal normal normal 10px Arial, sans-serif;
	margin: 10px 10px 10px 20px;
	padding: 0px 0px 0px 0px;
	text-align: justify;
}
#textePetitItalique {
	font: normal normal normal 10px Arial, sans-serif;
	margin: 10px 10px 10px 20px;
	padding: 0px 0px 0px 0px;
	text-align: justify;
}


input#login {
text-align: left;
}


input#rechercher {
text-align: left;
}


dl, dt, dd, ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#menu {
width: 150px;
}


#menu dt {
	cursor: pointer;
	height: 22px;
	background-image: url(fond-navigation.gif.1);
	background-repeat: repeat-x;
	font: normal normal bold 12px "Arial Narrow", Arial, sans-serif;
	text-align: left;
	text-indent: 5px;
	color: #FFFFFF;
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 0px 0px;
	list-style-type: none;
}
#menu dd {
	border: 0px;
	list-style-type: none;
}
#menu li {
	text-align: left;
	background: #FFFFFF;
	text-indent: 15px;
	font: normal normal 400 10px Arial, sans-serif;
	color: #FFFFFF;
	border-top: 1px solid #DDDDDD;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	list-style-type: none;
}


div#navigSecondaire {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 14px;
	text-align: left;
	margin: 5px 0px 5px 5px;
	color : #0000CD;
}


#menu li a {
	color: #000000;
	display: block;
	height: 100%;
	text-decoration: none;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}


#menu dt a {
	color: #FFFFFF;
	display: block;
	height: 100%;
	text-decoration: none;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}


#menu li a:hover, #menu dt a:hover {
	background: #739ACE;
	color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	height: 100%;
}
.chpsmenu {
	height: 15px;
	width: 120px;
	font: normal normal 11px/11px Arial, Helvetica, sans-serif;
}
h1#titrepage {
	font: normal bold 25px/25px "Arial Narrow", Arial, sans-serif;
	text-align: right;
	margin: 0px 0px 0px 0px;
	padding: 18px 5px 0px 0px;
	color: #5A5A5A;
	background-image: url(fond_titre_page.gif.1);
	background-repeat: repeat-x;
}


#rubriqueTech {
	font: normal bold 15px/25px "Arial Narrow", Arial, sans-serif;
	color: #014C84;
	text-align: left;
	border-bottom: 1px solid #AAAAAA;
	border-top: 1px solid #AAAAAA;
	margin: 10px 5px 5px 5px;
	padding-left: 10px;
	padding-bottom: 4px;
}
#sousRubriqueTech dt {
	font: normal bold 11px/15px Arial, sans-serif;
	color: #333333;
	text-align: left;
	margin: 4px 5px 1px 5px;
	padding-left: 10px;
	padding-bottom: 0px;
}


#rubriqueNormal dt {

	font: normal bold 11px Arial, Helvetica, sans-serif;
	margin: 5px 10px 10px 15px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	color: #0000CD;
}


h3 {
	font: normal bold 11px Arial, Helvetica, sans-serif;
	margin: 10px 10px 15px 15px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	color: #0000CD;
}


h4 {
	font: normal bold 10px Arial, Helvetica, sans-serif;
	margin: 5px 10px 10px 15px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	color: #0000CD;
}


#rubriqueNormal li {
	font: normal normal 11px Arial, Helvetica, sans-serif;
	margin: 5px 10px 10px 25px;
	padding: 0px 0px 0px 10px;
	text-align: justify;
	color: #333333;
}
li {
	font: normal normal 11px Arial, Helvetica, sans-serif;
	margin: 0px 10px 5px 50px;
	padding: 0px 0px 0px 5px;
	text-align: left;
	color: #333333;
	list-style-type: disc;
}


#rubriqueNormal p {
	font: normal bold 11px Arial, Helvetica, sans-serif;
	margin: 5px 25px 10px 25px;
	padding: 0px 0px 0px 10px;
	text-align: center;
	color: #333333;
}


#relief {
	font: normal bold 11px Arial, Helvetica, sans-serif;
	margin: 5px 25px 10px 25px;
	padding: 0px 0px 0px 10px;
	text-align: center;
	color: #333333;
}


#introRubrique {
	font: normal bold 12px Arial, Helvetica, sans-serif;
	margin: 5px 10px 10px 15px;
	padding: 0px 0px 0px 0px;
	text-align: justify;
	color: #333333;
}
#introParagraf {
	font: normal bold 11px Arial, Helvetica, sans-serif;
	margin: 5px 10px 10px 15px;
	padding: 0px 0px 0px 0px;
	text-align: justify;
	color: #333333;
	width: 395px;
}


#sousRubriqueTech p {
	font: normal normal 11px/15px Arial, sans-serif;
	color: #333333;
	text-align: left;
	margin: 4px 5px 1px 5px;
	padding-left: 10px;
	padding-bottom: 0px;
	display: inline;
}
#sousRubriqueTech ul, li {
	font: normal normal 11px/15px Arial, sans-serif;
	color: #333333;
	text-align: left;
	margin: 0px 5px 1px 5px;
	padding-left: 20px;
	padding-bottom: 0px;
	list-style-type: none;
}
#sousRubriqueTech a {
	font: normal normal 11px/15px Arial, sans-serif;
	color: #333333;
	text-align: left;
	margin: 4px 5px 1px 5px;
	padding-left: 10px;
	padding-bottom: 0px;
	display: inline;
	text-decoration : none
}
#sousRubriqueTech a:hover {
	color: #AAAAAA;
	text-align: left;
	margin: 4px 5px 1px 5px;
	padding-left: 10px;
	padding-bottom: 0px;
	display: inline;
	text-decoration : none
}

h2 {
	font: italic normal bold 15px/20px Arial, Helvetica, sans-serif;
	text-align: left;
	margin: 20px 10px 20px 10px;
	width: 400px;
	padding: 0px;
	color: #0000CD;
}
#situation li {
	margin: 0px 0px 0px 5px;
	padding: 5px 5px 5px 0px;
	font: normal normal normal 11px/13px Arial, Helvetica, sans-serif;
	list-style-type: none;
}
#situation a {
	margin: 0px 0px;
	padding: 5px 5px 5px 0px;
	font: normal normal normal 10px/12px Arial, Helvetica, sans-serif;
	color: #333333; 
	text-decoration: none; 
}
#situation a:hover {
	margin: 0px 0px;
	padding: 5px 5px 5px 0px;
	font: normal normal normal 10px/12px Arial, Helvetica, sans-serif;
	color: #AAAAAA; 
	text-decoration: none; 
}

p#introPage {
	font: normal bold 13px/17px Arial, sans-serif;
	text-align: justify;
	margin: 20px 25px 5px 45px;
	padding: 0px;
}
p#titrebleu a {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: left;
	line-height: 12px;
	color: #376EB9;
	padding: 3px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-decoration: none
}
p#titrebleu a:hover {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: left;
	line-height: 12px;
	color: #376EB9;
	padding: 3px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-decoration: underline
}