/*************************************************************
	Definitions globales des differentes balises HTML
*************************************************************/
BODY { font-family: Arial, sans-serif; font-size: 11px; background-color: #FFFFFF; text-align: center; color: #231F20; position: relative; }
HTML, BODY { padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; }
*{}

IMG { border: 0px solid white; }

INPUT, SELECT, TEXTAREA { font-family: Arial, sans-serif; font-size: 1em; }
FORM, UL, LI, H1, H2, H3, H4, H5, H6, P, TABLE, TR, TD, TH { padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; }

H1 H1, H1 H2, H1 H3, H1 H4, H1 H5, H1 H6,
H2 H1, H2 H2, H2 H3, H2 H4, H2 H5, H2 H6,
H3 H1, H3 H2, H3 H3, H3 H4, H3 H5, H3 H6,
H4 H1, H4 H2, H4 H3, H4 H4, H4 H5, H4 H6,
H5 H1, H5 H2, H5 H3, H5 H4, H5 H5, H5 H6,
H6 H1, H6 H2, H6 H3, H6 H4, H6 H5, H6 H6 { font-size: 1em; float: none; width: auto; background: none; }

TABLE, TR, TH, TD { vertical-align: top; font-size: 1em; }

H1, H3, H4, H5, H6 {}
ADRESSE {}
ACRONYM {}			
ABBR {}
HR {}
BLOCKQUOTE {}
SPAN {}
DIV {}

/************************************************************
	Liens : attention, tres haut risque de pbl d heritage
	Definir de preference les liens dans chaque bloc et sous bloc
************************************************************/
A:link { }
A:visited { }
A:hover { }
A:focus   { outline: none; }

/* Gestion des elements flottants */
.floatRight {float:right; }
.floatLeft {float:left; }
.floatNone {float:none; width:100%; }
.clear {clear:both; width:0px; height:0px; border:0px solid red; }
span.clear {display:block; }
*html span.clear {display:none;}
BR.clear {font-size:1px; }
html>/**/body BR.clear {display:none; }
	.clear IMG{width:1px; height:1px; }
.clearRight {float:right; }
.clearLeft {float:left; }
.clearFooter {clear:both;height:0; }  
*html .clearFooter {display:none; }  
	

/*************************************************************
	Gestion elements communs a tous les sites
**************************************************************/

/* Global ****************************************************/
.global {
	background:transparent url('bg_shadow.png') repeat-y scroll left top;
	width:970px;
	position:relative;
	margin:0px auto 10px auto;
	padding:0 10px 0 26px;
	text-align:left;
}

/* Tetiere ***************************************************/
.header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

/* Content ***************************************************/
.content { padding-bottom:0px; clear:left; background:#FFFFFF; color:#231F20; height: auto; min-height: 461px;}
*html .content { height: 461px;}
	.content .html {display: block;}
	.content .richCell .richIntroduction .richText1,
	.content .richCell .richParagraphe .richText1,
	.content .richCell .richConclusion .richText1 {display:inline;}
	.content .richCell .richMultimedia1,
	.content .richCell .richMultimedia2 { }
	.content .richCell .richIntroduction { }
		.content .richCell .richIntroduction .richMultimedia1 {float:left; }
		.content .richCell .richIntroduction .richMultimedia2 {float:right; }
		.content .richCell .richIntroduction .richText1 {width:100%; }
		.content .richCell .richIntroduction .richText2 {}
	.content .richCell .richParagraphe { }
		.content .richCell .richParagraphe .richMultimedia1 {float:left; }
		.content .richCell .richParagraphe .richMultimedia2 {float:right; }
		.content .richCell .richParagraphe .richMultimedia3Bg { }
		.content .richCell .richParagraphe .richMultimedia3Bg UL {}
			.content .richCell .richParagraphe .richMultimedia3Bg UL LI{}
		.content .richCell .richParagraphe .richText1 { }
		.content .richCell .richParagraphe .richText2 {width:100%;  }
		.content .richCell .richParagraphe .richText3 {float:left; width:48.4%;margin-right:0px;}
		.content .richCell .richParagraphe .richText4 {float:right; width:48%; }
	.content .richCell .richConclusion { }
		.content .richCell .richConclusion .richMultimedia1 {float:left; }
		.content .richCell .richConclusion .richMultimedia2 {float:right; }
		.content .richCell .richConclusion .richMultimedia3Bg { }
		.content .richCell .richConclusion .richMultimedia3Bg UL {position:relative; }
			.content .richCell .richConclusion .richMultimedia3Bg UL LI{}
		.content .richCell .richConclusion .richText1 {}
		.content .richCell .richConclusion .richText2 {width:100%; }
		.content .richCell .richConclusion .richLinkBack {float:left; width:50%; text-align:left; }
		.content .richCell .richConclusion .richLinkNext {float:left; width:49%; text-align:right; }
	
		.content .richCell .richText0 UL,
		.content .richCell .richText1 UL,
		.content .richCell .richText2 UL,
		.content .richCell .richText3 UL,
		.content .richCell .richText4 UL,
		.content .richCell .richText5 UL,
		.content .richCell .richText6 UL{margin:0px 0px 0px 18px; }
		
		.content .richCell .richText0 H1,
		.content .richCell .richText1 H2,
		.content .richCell .richText2 H3,
		.content .richCell .richText3 H4,
		.content .richCell .richText4 H5,
		.content .richCell .richText5 H6{font-size:1em; }
		
		.content .richCell .richMultimedia3Bg UL {width:100%;}
		.content .richCell .richMultimedia3Bg UL LI{list-style-type:none; float:left; width:auto; }
		.content .richCell .richMultimedia3Bg UL UL{width:auto;}
		.content .richCell .richMultimedia3Bg UL LI UL LI{width:95%; }
			
		.content .contentBloc IMG,
		.content .contentBloc EMBED {vertical-align:top;}
			
		/*.content .contentBloc IMG {float:left;border:0;}*/
			
.defaultCell {padding: 5px 0px 5px 0px;}
.fileCell A {text-decoration:none;clear:both;float:left;display:block;margin-left:auto;margin-right:auto;text-align:center;}	
.fileCell A IMG {}
.fileCell A SPAN {text-decoration:underline;display:block;margin-left: auto;margin-right: auto;text-align: left;}
.zoomLink {float:right;margin:5px 0px 5px 0px;}
.bandwidthLink {padding-right:5px;}
.titleLink {float:left;font-size:14px;margin:5px 0px 5px 0px;font-weight:bold;}
.overflowText {display:block;position:absolute;overflow:hidden;vertical-align:top;z-index:90;background-color:transparent;}
.overflowText SPAN {display:block;padding-right:10px;}

/* Footer ***************************************************/
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	clear: both;
}
