/*************************************************************
	Gestion des couleurs et des marges des elements du contenu
**************************************************************/

.header .logo .LogoImg{background:url(logo.gif) no-repeat;width:82px;height:69px;}

/* Tetiere ***************************************************/
.header{
	background-color:#FFF;
	clear:both;
}
.headerBg{}
	.header .headerHeader{display:none;}
	.header .headerFooter{display:none;}
	.ZoombigGlobal{position:absolute;display:block;z-index:100;padding:4px 0 0 4px;margin:0pt auto;background:transparent url(image_left.gif) no-repeat scroll left top;}
	div.ZoombigGlobal div.borderTopRight{position:absolute;width:8px;height:8px;top:0;right:0;z-index:101;background:transparent url(image_top_right.gif) no-repeat scroll left top;}
	div.ZoombigGlobal div.borderBottomLeft{position:absolute;width:8px;height:8px;bottom:0;left:0;z-index:101;background:transparent url(image_bottom_left.gif) no-repeat scroll left top;}
	.Zoombig{position:relative;display:block;z-index:100;padding:1px 15px 12px 11px;margin:0pt auto;background:#FFFFFF url(image_right.gif) no-repeat scroll right bottom;}
	.header .logo{position:absolute;margin:21px 19px 0 0;}
	*html .header .logo{margin-top:27px;}
	*html #menu .withjavascript{margin-bottom:15px;}
	*html .header .breadcrumbsBg{margin:3px 0 3px 0;}
	#realSizePicture A{text-align:right;margin:2px 4px 2px 0;display:block;background:url(close_bg.gif) no-repeat right;}
	#realSizePicture A:link{text-decoration:none;color:#999999;}
	#realSizePicture A:visited{text-decoration:none;color:#999999;}
	#realSizePicture A:hover{color:#999999;}
	#realSizePicture A:hover SPAN{text-decoration:underline;color:#999999;}
	#realSizePicture A SPAN{padding:0 20px 0 0;}
.dot{display:none;}
	.header .transverse{float:right;position:relative;top:0;font-size:0.8em;margin:0;}
	.header .transverse{height:auto;min-height:18px;}
	*html .header .transverse{height:18px;}
	html>body .header .transverse{margin:0;}
	.header .transverseBg{}
		.header .transverse .transverseHeader{display:none;}
		.header .transverse .transverseFooter{display:none;}
		.header .transverse .lang{float:left;background:url(lang_bg.gif) no-repeat right bottom;border-top:1px solid #B4B8BC;margin:0 6px 0 0;}
		.header .transverse .langBg{float:left;background:url(langBg_bg.gif) no-repeat left bottom;}
			.header .transverse .lang .langHeader{display:none;}
			.header .transverse .lang .langFooter{display:none;}
			.header .transverse .lang UL{margin:0 0 0 8px;}
				.header .transverse .lang UL LI{list-style-type:none;float:left;padding:1px 0 4px 0;}
					.header .transverse .lang UL LI A{padding:0 8px 0 5px;background:url(lang_a.gif) no-repeat left;}
					.header .transverse .lang UL LI A:link{color:#000000;text-decoration:none;}
					.header .transverse .lang UL LI A:visited{color:#000000;text-decoration:none;}
					.header .transverse .lang UL LI A:hover{color:#000000;text-decoration:none;}
					.header .transverse .lang UL LI.on A{padding:0 8px 0 5px;background:url(lang_a_on.gif) no-repeat left;}
					.header .transverse .lang UL LI.on A:link{color:#1365C8;text-decoration:none;}
					.header .transverse .lang UL LI.on A:visited{color:#1365C8;text-decoration:none;}
					.header .transverse .lang UL LI.on A:hover{color:#1365C8;text-decoration:none;}
					.header .transverse .lang UL LI.on SPAN{padding:0 8px 0 5px;background:url(lang_a_on.gif) no-repeat left;color:#1365C8;text-decoration:none;cursor:default;}

		.header .transverse .tools{
			float:left;
		}
		.header .transverse .toolsBg{
			float:left;
			background-color:#9aacc4;
			margin:0;
			padding:4px;
		}
		.header .transverse .tools .toolsHeader{display:none;}
		.header .transverse .tools .toolsFooter{display:none;}
			.header .transverse .tools UL{margin:0 12px 0 8px;}
				.header .transverse .tools UL LI{list-style-type:none;float:left;padding:1px 0 4px 0;}
					.header .transverse .tools UL LI SPAN{color:#FFFFFF;padding:0 2px 0 4px;}
					.header .transverse .tools UL LI A:link{color:#FFFFFF;text-decoration:none;}
					.header .transverse .tools UL LI A:visited{color:#FFFFFF;text-decoration:none;}
					.header .transverse .tools UL LI A:hover{color:#FFFFFF;text-decoration:none;}
					
		.header .navigation{
			clear:both;
			float:left;
			margin:42px 0 0 69px;
		}
		html>body .header .navigation{
			margin:36px 0 0 119px;
		}
		.header .navigationBg{}
			.header .navigation .navigationHeader{display:none;}
			.header .navigation .navigationFooter{display:none;clear:left;}
				
			/* style du menu par defaut */
			/*modified by Julie Leroy le 23/10*/
			#menu{}
			#menu.withjavascript{
				height:6px;
				position:relative;
				z-index:500;
			}
			html>body #menu.withjavascript{position:static;z-index:0;height:13px;}
			#menu ul{z-index:500;}
			#menu li{
				list-style-type:none;
				float:left;
				width:auto;
				font-size:0.9em;
				font-weight:bold;
				margin:0;
				padding:8px 0 8px 0;
				text-transform:uppercase;
				font-weight:bold;
			}
			#menu li.last{
				border-right:0;
			}
			#menu ul ul{background:#FFFFFF;float:left;white-space:nowrap;}
			#menu li li{
				font-size:1em;
				list-style-type:none;
				clear:left;
				float:none;
				position:relative !important;
				border-right:1px solid #E9E9E9;
				border-left:1px solid #E9E9E9;
				border-bottom:1px solid #E9E9E9;
				margin:0 0 0 0;
				padding:0;
			}

			#menu li li span{
				margin:-1px 0 0 0;
				padding:0;
			}
			
			/* style des liens */
			#menu li span.disabled{
				display:block;
				color:#79797B;
				text-decoration:none;
				padding:0 20px;
				cursor:default;
			}
			
			#menu li a, 
			#menu li a span{
				display:block;
				color:#79797B;
				text-decoration:none;
			}
			*html #menu li a, 
			*html #menu li a span{
				display:block;
				color:#79797B;
				text-decoration:none;
			}

			
			#menu li a span, #menu li span.disabled{
				padding:0 13px;
				border-right:1px solid #BCBDC0;
			}
			#menu li.last a span, #menu li.last span.disabled, #menu li.encourt a span, #menu li.encourt span.disabled{
				border-right:0;
			}
			#menu li a{
				padding:0;
			}
			#menu li a span{background:url(dot.gif);}

			#menu LI.encourt span.disabled,
			#menu LI span.disabled:hover,
			#menu li a:hover,
			#menu li.focus a,
			#menu li.encourt a{
				font-weight:bold;
			}
			
			#menu li.encourt,
			#menu li:hover,
			#menu li a:hover span,
			#menu li.focus a span,
			#menu li.encourt a span{
				font-weight:bold;
			}
			
			#menu li.encourt{
				background-color:#ffffff;
				color:#051048;
				border:1px solid #DDDDDD;
				padding:7px 0;
				margin:0 0 0 -1px;
			}
			#menu li.encourt span{
				border-left:0;
			}
			
			#menu li li a,
			#menu li li a span,
			#menu li.encourt li a,
			#menu li.encourt li a span{
				background:none;
				font-weight:normal;
				border-right:0;
			}
			
			*html #menu li li a,
			*html #menu li li a span,
			*html #menu li.encourt li a,
			*html #menu li.encourt li a span{background:none;font-weight:normal;}
			
			#menu li li.focus a,
			#menu li li.focus span,
			#menu li li a:focus,
			#menu li li a:hover,
			#menu li li a:focus span,
			#menu li li a:hover span{
				background:none;
				color:#041044;
				font-weight:normal;
			}
						
			/* nivel 1, 2 et 3 hidden */
			#menu.withjavascript ul{z-index:200;}
			#menu.withjavascript ul ul{white-space:normal;}
			html>body #menu.withjavascript ul{position:absolute;}
			#menu.withjavascript .submenu ul,
			#menu.withjavascript .encourt ul{
				z-index:200;
				position:absolute;
				top:-300em;
				width:0;
				height:0;
				margin:0;
				border-top:1px solid #DFDFDF;
			}
			
			/* nivel 1, 2 et 3 shown */
			#menu.withjavascript li{position:relative;}
			*html #menu.withjavascript li{position:static;}
			*+html #menu.withjavascript li{position:static;}
			#menu.withjavascript li.encourt{position:relative;}
			#menu.withjavascript li.encourt ul{
				top:26px;
				left:-1px;
				width:auto;
				height:auto;
				z-index:200;
			}
			#menu.withjavascript LI LI SPAN{
				width:auto;
				cursor:pointer;
				padding:8px 13px;
				text-transform:none;
			}
			
			*html #menu.withjavascript LI LI SPAN{width:auto;cursor:pointer;padding:8px 13px;text-transform:none;}
			*html #menu.withjavascript LI.encourt LI SPAN{width:100%;cursor:pointer;}
			
			#menu.withjavascript li.long ul{width:16em;}
			#menu.withjavascript li.long LI SPAN{width:15em;}
							
		.header .user{float:right;text-align:right;color:#BCBDC0;font-size:0.8em;padding:8px 0 0 0;margin:0 5px 0 0;}
		html>body .header .user{margin:0 10px 0 0;}
		.header .userBg{}
			.header .user .userHeader{display:none;}
			.header .user .userFooter{display:none;}
			.header .user A:link{color:#979797;text-decoration:underline;}
			.header .user A:visited{color:#979797;text-decoration:underline;}
			.header .user A:hover{color:#979797;text-decoration:underline;}
			
		.header .breadcrumbsSloganLine{
			clear:both;
			float:none;
			background:#FFFFFF;
			padding:0;
			height:16px;
			margin:6px 2px 0 2px;
		}
		.header .breadcrumbsSloganLineBg{width:967px;}
		* html .header .breadcrumbsSloganLine{padding:0;margin:-12px 2px 0 -9px;}
		.header .breadcrumbs{clear:both;float:left;color:#8D8D8D;margin:1px 0 0 80px;background:#FFFFFF;}
		html>body .header .breadcrumbs{margin:1px 0 0 130px;}
		.header .breadcrumbsBg{font-size:10px;width:817px;}
			.header .breadcrumbs .breadcrumbsHeader{display:none;}
			.header .breadcrumbs .breadcrumbsFooter{display:none;}
			.header .breadcrumbs SPAN{}
			.header .breadcrumbs A:link{color:#BCBDC0;text-decoration:none;}
			.header .breadcrumbs A:visited{color:#BCBDC0;text-decoration:none;}
			.header .breadcrumbs A:hover{color:#BCBDC0;text-decoration:underline;}
		.header .slogan{float:right;color:#4B4B4B;font-weight:bold;font-size:0.9em;text-transform:uppercase;padding:2px 0;margin:0 8px 0 0;}
		html>body.header .slogan{margin:0 16px 0 0;}
        .header .sloganBgSite{background:url(strapline.gif)no-repeat right;width:20em;margin-top:-3.6em;margin-right:.9em;}
		.header .sloganBg{background:url(strapline.gif) no-repeat right;width:20em;margin-top:-5em;margin-right:.9em;}
		*html .header .sloganBg{background:url(strapline.gif) no-repeat right !important;width:20em;position:relative;top:-1.5em;left:1.8em;height:4em;}
		*html .header .sloganBgSite{background:url(strapline.gif) no-repeat right !important;width:20em;position:relative;top:-1.7em;left:1.8em;height:4em;}

/* Titre ************************************************/
h1{
	float:none;
	clear:both;
	font-weight:normal;
	clear:both;
	width:970px;
	padding:6px 0 5px 0;
	color:#FFFFFF;
	font-size:1.58em;
	background-color:#9AACC4;
	display:none;
}
h1 span{margin:0 0 0 14px;}

/* Content ***************************************************/
.content{background-color:#FFFFFF;width:970px;} /* modified by Julien to optimize the zoom opacity */
	.contentBg{z-index:10;}
	.contentHeader{display:none;}
	.contentFooter{display:none;}

	.validator{color:#FF0000;}

	/***************************************************
		Rich cell
	***************************************************/
	.content .contentBloc{font-size:1.1em;}
	.content .contentBloc .complexImg IMG{width:222px;}
	.content .richCell{text-align:left;}
	.content .richCell .richCellHeader{display:none;}
	.content .richCell .richcellFooter{display:none;}
			.content .richCell H3{color:#43415E;font-size:1.25em;font-weight:bold;margin:0 0 0 0;padding:0 0 10px 0;text-transform:uppercase;}
		.content .richCell .richIntroduction{width:100%;padding:0 0 10px 0;margin-bottom:10px;}
			.content .richCell .richIntroduction .richIntroductionHeader{display:none;}
			.content .richCell .richIntroduction .richIntroductionFooter{display:none;}
			.content .richCell .richIntroduction .richMultimedia1{padding-right:10px;padding-bottom:5px;}
			.content .richCell .richIntroduction .richMultimedia2{padding-left:10px;padding-bottom:5px;}
			.content .richCell .richIntroduction .onlyOneRichMult{padding-right:0;padding-left:0;}
		.content .richCell .richParagraphe{width:100%;padding:10px 0 0 0;margin-top:10px;}
		.content .richCell .richFirstPara{width:100%;padding:0 0 0 0;margin-top:0;background-image:none;}
			.content .richCell .richParagraphe .richParagrapheHeader{display:none;}
			.content .richCell .richParagraphe .richParagrapheFooter{display:none;}
			.content .richCell .richParagraphe .richMultimedia1{padding-right:10px;padding-top:0;padding-bottom:5px;}
			.content .richCell .richParagraphe .richMultimedia2{padding-left:10px;padding-bottom:5px;}
			.content .richCell .richParagraphe .onlyOneRichMult{padding-right:0;padding-left:0;}
			.content .richCell .richParagraphe .richMultimedia3Bg{padding:0;}
			.content .richCell .richParagraphe .richSeparator{float:left;margin:10px 0 10px 0;background:url(richText3_bg.gif) repeat-y top center;} 
			.content .richCell .richParagraphe .richText3{float:left;margin:0;padding:0 5px 0 0;}
			.content .richCell .richParagraphe .richText4{float:right;margin:0;padding:0 0 0 5px;}
			.content .richCell .richParagraphe .richMultimedia3Header{display:none;}
			.content .richCell .richParagraphe .richMultimedia3Footer{display:none;}
			
		.content .richCell .richConclusion{width:100%;padding:10px 0 0 0;margin-top:10px;}
			.content .richCell .richConclusion .richConclusionHeader{display:none;}
			.content .richCell .richConclusion .richConclusionFooter{display:none;}
			.content .richCell .richConclusion H3{margin:10px 0 0 0;}
			*html .content .richCell .richConclusion .richText1{position:relative;}
			*+html .content .richCell .richConclusion .richText1{position:relative;}
			.content .richCell .richConclusion .richText0{float:left;width:100%;padding:0 0 10px 0;background:url(richText0_bg.gif) repeat-x bottom;}
			.content .richCell .richConclusion .richMultimedia3Header{display:none;}
			.content .richCell .richConclusion .richMultimedia3Footer{display:none;}
			.content .richCell .richConclusion .richMultimedia3Bg{float:left;padding:0;}
			.content .richCell .richParagraphe UL.richMultimedia,
			.content .richCell .richConclusion UL.richMultimedia{padding-top:10px;}
			.content .richCell .richConclusion .richMultimedia1{padding-right:10px;padding-bottom:5px;}
			.content .richCell .richConclusion .richMultimedia2{padding-left:10px;padding-bottom:5px;}
			.content .richCell .richConclusion .onlyOneRichMult{padding-right:0;padding-left:0;}
			.content .richCell .richConclusion .richLinkPrevious{margin:10px 0 0 0;float:left;}
				.content .richCell .richConclusion .richLinkPrevious A,
				.content .richCell .richConclusion .richLinkPrevious A:link,
				.content .richCell .richConclusion .richLinkPrevious A:visited{padding:0 10px 0 0;text-decoration:none;color:#041044;}
				.content .richCell .richConclusion .richLinkPrevious A:hover{text-decoration:underline;}
				
			.content .richCell .richConclusion .richLinkNext{margin:10px 0 0 0;float:right;}
				.content .richCell .richConclusion .richLinkNext A ,
				.content .richCell .richConclusion .richLinkNext A:link,
				.content .richCell .richConclusion .richLinkNext A:visited{padding:0 0 0 10px;text-decoration:none;color:#041044;}
				.content .richCell .richConclusion .richLinkNext A:hover{text-decoration:underline;}
				
		
		.content .richCell .richText1 A:link,
		.content .richCell .richText1 A:visited,
		.content .richCell .richText2 A:link,
		.content .richCell .richText2 A:visited,
		.content .richCell .richText3 A:link,
		.content .richCell .richText3 A:visited,
		.content .richCell .richText4 A:link,
		.content .richCell .richText4 A:visited,
		.content .richCell .richText5 A:link,
		.content .richCell .richText5 A:visited,
		.content .richCell .richText6 A:link,
		.content .richCell .richText6 A:visited{text-decoration:none;color:#041044;}
		.content .richCell .richText1 A:hover,
		.content .richCell .richText2 A:hover,
		.content .richCell .richText3 A:hover,
		.content .richCell .richText4 A:hover,
		.content .richCell .richText5 A:hover,
		.content .richCell .richText6 A:hover{text-decoration:underline;color:#041044;}
		
		.content .richCell .richText1 A:link span,
		.content .richCell .richText1 A:visited span,
		.content .richCell .richText2 A:link span,
		.content .richCell .richText2 A:visited span,
		.content .richCell .richText3 A:link span,
		.content .richCell .richText3 A:visited span,
		.content .richCell .richText4 A:link span,
		.content .richCell .richText4 A:visited span,
		.content .richCell .richText5 A:link span,
		.content .richCell .richText5 A:visited span,
		.content .richCell .richText6 A:link span,
		.content .richCell .richText6 A:visited span{text-decoration:none;color:inherit;}
		.content .richCell .richText1 A:hover span,
		.content .richCell .richText2 A:hover span,
		.content .richCell .richText3 A:hover span,
		.content .richCell .richText4 A:hover span,
		.content .richCell .richText5 A:hover span,
		.content .richCell .richText6 A:hover span{text-decoration:underline;color:inherit;}
		
		.content .FreeTextTable tr{background-color:#f2f2f2;}
		.content .FreeTextTable tr:hover{background-color:#fafafa;}
		.content .FreeTextTable td{padding:5px;border:0;border-style:none;border-color:none;width:200px;}

		/* FreeTextUL ***********************************************/
		.content .FreeTextUL{}
		.content .FreeTextUL LI{list-style-position:inside;position:relative;left:15px;}


		.content .FreeHRef:link{color:#041044;text-decoration:none;}
		.content .FreeHRef:visited{color:#041044;text-decoration:none;}
		.content .FreeHRef:hover{color:#041044;text-decoration:underline;}

		.content .FreeHRef:link span{color:inherit;text-decoration:none;}
		.content .FreeHRef:visited span{color:inherit;text-decoration:none;}
		.content .FreeHRef:hover span{color:inherit;text-decoration:underline;}

		.richCell .quickSearch{width:220px;}
		.quickSearch{margin:0 0 5px 0;}
			.quickSearch .quickSearchBg{background:url(bgbottom.gif) repeat-x bottom;}
			.quickSearch .quickSearchHeader{display:none;}
			.quickSearch .quickSearchFooter{display:none;}
			.quickSearch H3{font-size:1.1em;font-weight:bold;padding:15px 0 5px 10px;display:block;background:url(bgTop.gif) repeat-x bottom;}
			.quickSearch LABEL{display:none;}
			.quickSearch FIELDSET{border:0 solid #FFFFFF;margin:5px 0 20px 10px;}
			html>/**/body .quickSearch FIELDSET{margin:18px 0 20px 10px;}
			.quickSearch INPUT.frmQuickSearch{width:100px;float:left;vertical-align:top;margin:5px 0 0 0;}
			html>/**/body .quickSearch INPUT.frmQuickSearch{margin:2px 0 0 0;width:120px;}
			*+html .quickSearch INPUT.frmQuickSearch{margin:5px 0 0 0;}
			.quickSearch SPAN.btn INPUT{float:left;background:url(btn_bg.gif) no-repeat right;border:0 solid #FFFFFF;line-height:1.6em;font-size:1em;font-weight:bold;color:#FFFFFF;padding:4px 1px 9px 1px;}
			html>/**/body .quickSearch SPAN.btn INPUT{padding:4px 5px 9px 5px;}
			
		.RSSBox{margin:0 0 5px 0;float:left;background:url(panel_bg.jpg) repeat-x bottom;}
			.RSSBox .RSSBoxBg{background:url(RSSBox_bg.gif) repeat-x bottom;}
			.RSSBox .RSSBoxHeader{display:none;}
			.RSSBox .RSSBoxFooter{display:none;}
			.RSSBox H4{display:block;float:left;width:100%;font-size:1.1em;font-weight:bold;padding:1px 0 0 0;display:block;background:url(RSSBox_bg.gif) repeat-x bottom;}
				.RSSBox H4 SPAN{padding:14px 0 5px 20px;display:block;background:url(RSSBox_h4.gif) no-repeat left 1em;}
				.RSSBox H4 A{text-decoration:none;color:#5f5f5f;}
			.RSSBox UL{float:left;display:block;width:100%;padding:16px 0 27px 0;}
			.RSSBox UL LI{width:auto;display:block;padding:0 0 5px 5px;list-style-type:none;}
				.RSSBox LI A{padding:0 0 0 15px;background:url(RSSBox_li.gif) no-repeat left 0.5em;list-style-type:none;}
				.RSSBox LI A:link{text-decoration:none;font-weight:bold;color:#567E98;font-size:0.9em;}
				.RSSBox LI A:visited{text-decoration:none;font-weight:bold;color:#567E98;font-size:0.9em;}
				.RSSBox LI A:hover{text-decoration:underline;font-weight:bold;color:#567E98;font-size:0.9em;}
			
		.videoAd{font-weight:normal;margin:5px 0 5px 0;/*background:#FFFFFF url(../../../../images/themeSite/theme1/simple/video/li_bg.gif) repeat-x bottom;*/}
			.videoAd .videoAdBg{width:450px;margin:0 0 0 0;padding:10px 0 0 0;/*background:transparent url(../../../../images/themeSite/theme1/simple/video/li_bg.gif) repeat-x top;*/}
			.videoAd .illustration{padding:1px 0 9px 0;margin:0 10px 0 0;border-top:4px solid #DBDBDB;background:url(img_bg.gif) repeat-x bottom;float:left;width:auto;}
			.videoAd .videoBloc{margin-top:5px;width:300px;float:left;}
			.videoAd .videoBloc .pluginLink{display:none;}
			.videoAd H4{font-size:1.2em;color:#567D9A;font-weight:bold;float:left;}
				.videoAd H4 SPAN{display:block;}
			.videoAd A.send{padding:0 3px 3px 22px;float:right;font-weight:bold;background:url(aSend_bg.gif) no-repeat left;}
			.videoAd A:link.send{color:#E7950B;text-decoration:none;}
			.videoAd A:visited.send{color:#E7950B;text-decoration:none;}
			.videoAd A:hover.send{color:#E7950B;text-decoration:underline;}
			.videoAd P{padding:7px 0 0 0;clear:both;float:none;background:url(p_bg.gif) repeat-x 0 0;}
				html>/**/body .videoAd P{padding:15px 0 0 0;}
				.videoAd UL{padding:15px 0 0 0;clear:left;float:none;}
				.videoAd UL LI{list-style-type:none;float:left;}
				.content .richCell .richParagraphe .videoAd UL{width:300px;}
				.content .richCell .richParagraphe .videoAd UL LI{min-width:0;width:auto;}
				
				.videoAd LI SPAN.buttonSpan{padding:0 2px 0 2px;float:left;}
				.videoAd LI SPAN{padding:0 2px 0 2px;float:left;cursor:pointer;}
				.videoAd LI SPAN SPAN{padding:0 0 0 0;float:left;}
				.videoAd LI A,
				.videoAd LI INPUT{color:#354E63;float:left;display:block;padding:2px 0 2px 20px;text-align:left;background:url(a_bg.gif) no-repeat left;border:0 solid #FFFFFF;}
				.videoAd LI INPUT{padding:0 0 0 20px;}
				.videoAd LI A:link{color:#354E63;text-decoration:none;}
				.videoAd LI A:visited{color:#354E63;text-decoration:none;}
				.videoAd LI A:hover{color:#354E63;text-decoration:underline;}
				
			.videoClassic{z-index:2;font-weight:normal;margin:0 0 5px 0;}
				.videoClassic .videoClassicBg{margin:10px 0 10px 0;padding:7px 0 0 0;background:transparent url(img_video_top.gif) repeat-x scroll center top}
				.videoClassic .illustration{padding:0 0 5px 0;margin:0 0 0 0;background:url(img_bg.gif) repeat-x bottom;}/*border-top:4px solid #DBDBDB;*/
				*html .videoClassic .illustration{padding:0 0 7px 0;margin:0 0 0 0;background:url(img_bg.gif) repeat-x bottom;}/*border-top:4px solid #DBDBDB;*/

				
			.videoClassic H4{margin-top:5px;font-size:1.2em;color:#567D9A;font-weight:bold;float:left;}
				.videoClassic H4 SPAN{display:block;}
			.videoClassic P{padding:7px 0 0 0;clear:both;float:none;background:url(p_bg.gif) repeat-x 0 0;}
				html>/**/body .videoClassic P{padding:15px 0 0 0;}
				.videoClassic UL{padding:15px 0 0 0;clear:left;float:none;}
				.videoClassic UL LI{list-style-type:none;float:left;}
				.content .richCell .richParagraphe .videoClassic UL LI{width:auto;}
				.videoClassic LI SPAN.buttonSpan{padding:0 2px 0 2px;float:left;}
				.videoClassic LI SPAN{padding:0 2px 0 2px;float:left;cursor:pointer;}
				.videoClassic LI SPAN SPAN{padding:0 0 0 0;float:left;}
				.videoClassic LI A,
				.videoClassic LI INPUT{color:#354E63;float:left;display:block;padding:2px 0 2px 20px;text-align:left;background:url(a_bg.gif) no-repeat left;border:0 solid #FFFFFF;}
				.videoClassic LI INPUT{padding:0 0 0 20px;}
				.videoClassic LI A:link{color:#354E63;text-decoration:none;}
				.videoClassic LI A:visited{color:#354E63;text-decoration:none;}
				.videoClassic LI A:hover{color:#354E63;text-decoration:underline;}
				.videoClassic .pluginLink{float:left;padding:2px 0 0 2px;}
				.videoClassic .pluginLink A{padding-left:20px;background:transparent url(a_bg.gif) no-repeat scroll left center}
				.videoClassic .pluginLink A:link{color:#354E63;text-decoration:none;}
				.videoClassic .pluginLink A:visited{color:#354E63;text-decoration:none;}
				.videoClassic .pluginLink A:hover{color:#354E63;text-decoration:underline;}
				

		#GlobalVideoDiv{position:absolute;width:100%;height:100%;top:5px;left:-5px;z-index:500;}
		#GlobalVideoDiv.on{display:block}
		#GlobalVideoDiv.off{display:none}
	
		#GlobalVideoLayer{position:absolute;width:100%;height:100%;top:0;left:0;z-index:500;}
		#GlobalVideoLayer.on{display:block}
		#GlobalVideoLayer.off{display:none}
		 
		#VideoLayer{overflow:hidden;margin-left:auto;margin-right:auto;display:block;height:800px;position:absolute;width:969px;z-index:400;background:#FFFFFF;filter:alpha(opacity=50);-moz-opacity:.50;opacity:.50;}
		#VideoLayer.off{display:none}
		#VideoLayer.on{margin-left:auto;margin-right:auto;display:block;height:100%;}
 
		#VideoDiv{display:none;position:relative;z-index:500;margin:0 auto;background:transparent url(image_left.gif) no-repeat scroll left top;}
		#VideoDiv.on{margin:0 auto;display:block;padding:4px 0 0 4px}
		#VideoDiv.off{display:none;height:100%;padding:0 0 0 50px;top:0pt;width:100%;z-index:400;}
		#VideoDiv.on .videoZoom{margin:0 auto;background:#7F7F7F;padding:10px 10px 10px 10px;}

		#VideoDiv div.borderTopRight{position:absolute;width:8px;height:8px;top:0;right:-2px;z-index:101;background:transparent url(image_top_right.gif) no-repeat scroll left top;}
		#VideoDiv div.borderBottomLeft{position:absolute;width:8px;height:8px;bottom:-3px;left:0;z-index:101;background:transparent url(image_bottom_left.gif) no-repeat scroll left top;}
		*html #VideoDiv div.borderTopRight{position:absolute;width:8px;height:8px;top:0;right:0;z-index:101;background:transparent url(image_top_right.gif) no-repeat scroll left top;}
		*html #VideoDiv div.borderBottomLeft{position:absolute;width:8px;height:8px;bottom:0;left:0;z-index:101;background:transparent url(image_bottom_left.gif) no-repeat scroll left top;}
							 
		#VideoDiv.on .videoZoom{padding:3px 0 0 10px;background:#FFFFFF url(image_right.gif) no-repeat bottom right;}
		#VideoDiv.on A{text-align:right;padding:0 20px 0 0;margin:2px 12px 2px 0;display:block;background:url(close_bg.gif) no-repeat right;}
		#VideoDiv.on A:link{text-decoration:none;color:#999999;}
		#VideoDiv.on A:visited{text-decoration:none;color:#999999;}
		#VideoDiv.on A:hover{text-decoration:underline;color:#999999;}
		#VideoDiv.on .classdivPluging{padding:0 0 0 0;background:none;text-align:center;}
		#VideoDiv.on .classdivPluging A{background:none;text-align:center;}
		#VideoDiv.on .classdivPluging A:link{text-decoration:none;color:#999999;}				 
		#VideoDiv.on .classdivPluging A:visited{text-decoration:none;color:#999999;}
		#VideoDiv.on .classdivPluging A:hover{text-decoration:underline;color:#999999;}
					
		.download{float:left;font-weight:normal;margin:0;padding:7px 0;}
			.download .downloadBg{float:left;padding:0;background-color:#F5F5F5;}
			.download .downloadHeader{display:none;}
			.download .downloadBloc{width:110px;float:right;margin-bottom:0;display:block;}
			.download A.illustration{float:left;margin:0 2px 0 0;padding-bottom:7px;}
			.download IMG.illustration{}
			.download H4{margin-bottom:5px;padding:0 0 5px 0;color:#041044;font-weight:bold;font-size:1em;}
			.download H4 SPAN{padding:0 0 5px 0;}
			.download A.link{margin-bottom:5px;padding:10px 0 10px 20px;float:left;}
			.download A.link:link ,
			.download A.link:visited{color:#041044;text-decoration:none;}
			.download A.link:hover{text-decoration:underline;}
			
		.flash .flashHeader{display:none;}
		.flash .flashFooter{display:none;}
							
		.zoom{font-weight:normal;}
			.zoom .zoomBg{margin:0;padding:0;}
			.zoom .zoomHeader{display:none;}
			.zoom .zoomFooter{display:none;}
			.zoom A{text-decoration:none;cursor:pointer;}
			.zoom IMG.illustration{margin:0;padding:0;}
			.zoom .text{background:url(txt.gif) repeat-x left bottom;float:left;width:100%;}
			.zoom .notext{background:none}
				.zoom .notext SPAN.title,
				.zoom .text SPAN.title{padding:5px 0 5px 10px;float:left;}
			.zoom .notext A,
			.zoom .text A{padding:4px 10px 4px 30px;margin:0;float:right;background:transparent url(zoom.gif) no-repeat 8px 4px;}
			.zoom .notext A:link,
			.zoom .text A:link,
			.zoom .notext A:visited,
			.zoom .text A:visited{color:#041044;text-decoration:none;}
			.zoom .notext A:hover,
			.zoom .text A:hover{text-decoration:underline;}
			.zoom .notext A SPAN,
			.zoom .text A SPAN{cursor:pointer;}
			
		.search{font-weight:normal;margin:0 0 5px 0;}
			.search .searchBg{background-color:#F5F5F5;}
			.search .searchHeader{display:none;}
			.search .searchFooter{display:none;}
			.search .searchBg H3{background-color:#D2D2D7;color:#64A5D2;font-size:1em;padding:10px 0 8px 10px;margin:0 0 5px 0;}
				.search .searchBg H3 span{font-weight:bold;}
			.search FIELDSET{border:0 solid #FFFFFF;margin:10px 10px 5px 10px;}
			
			*html .search FIELDSET{margin:2px 10px 10px 10px;}
			.search IMG.illustration{float:left;margin:0 12px 5px 0;}
			.search LABEL{display:block;clear:both;margin:10px 0 0 0;}
			.search SELECT{width:100%;margin-top:10px;position:relative;}
			*html .search SELECT{width:100%;margin-top:10px;position:relative;}

			.list{font-size:0.9em;margin:0 0 5px 0;color:#ffffff;}
				.list .listBg{background-color:#F5F5F5;color:#5f5f5f;font-size:1em;}
				.list .listHeader h4{background-color:#D2D2D7;color:#64A5D2;font-size:1.1em;padding:10px 0 8px 10px;margin:0 0 5px 0;}
				.list .listIntroLeft{padding-right:5px;float:left;}
				.list .listIntroLeft img{border:solid 1px #d6d6d6;margin:2px 0 5px 0;padding:1px;}

				.list .listIntroRight{padding-right:5px;float:left;width:125px;}
				.list .listIntroRight ul{margin:0 0 0 20px;padding:0;list-style-type:none;}
				.list .listIntroRight li{margin:0;padding:0 0 0 0;clear:left;}
				.list .listIntroRight li a,
				.list .listIntroRight li a:visited{font-size:1em;color:#041044;text-decoration:none;outline:none;}
				.list .listIntroRight li a:hover{text-decoration:underline;}
				.list .listIntroRight li img{border:0;outline:0;margin-right:5px;}

				.list .listBody{clear:both;}
				.list .listBodyLeft{float:left;}
				.list .listBodyRight{float:left;width:100px;display:none;}
				.list span{width:100%;}
		
		.voteCell{color:#5F5F5F;}
		.content .richCell .richParagraphe .richMultimedia3Bg .voteCell ul,
		.content .richCell .richConclusion .richMultimedia3Bg .voteCell ul{width:60px;margin:0 0 0 0;}
		.content .richCell .richParagraphe .richMultimedia3Bg .voteCell ul li,
		.content .richCell .richConclusion .richMultimedia3Bg .voteCell ul li{width:60px;}
		.voteCell ul{width:60px;margin:0 0 0 0;}
		.content .richCell .richText0 .voteCell ul{margin:0 0 0 0;}
		.voteTop{}
			.voteTop .voteLabel{width:100%;height:1.7em;background:url(h4_bg.gif) repeat-x bottom;}
			.voteTop .voteLabel a{color:#5F5F5F;}
			.voteTop .voteLabel a:link{color:#5F5F5F;cursor:pointer;text-decoration:none;}
			.voteTop .voteLabel a:visited{color:#5F5F5F;cursor:pointer;text-decoration:none;}
			.voteTop .voteLabel a:hover{color:#5F5F5F;cursor:pointer;text-decoration:underline;}
			.voteTop .voteLabel{float:left;padding-top:1px;}
		.voteBody{float:left;padding:5px 0 0 0;width:60px;}

		.NewsletterOffBox{float:left;padding:5px 0 0 0;width:200px;background:url(RSSBox_bg.gif) repeat-x bottom;}
			.NewsletterOffBox .NewsletterOffBoxBg{}
		 .NewsletterOffBoxBg .buttonSubmit{background:#7ebdee url(buttonSubmit.gif) no-repeat right;width:8em;border:0;padding:0 0 0.2em 0.4em;margin:13px 0 0;font-size:1.1em;color:#fff;text-align:left;cursor:pointer;}			
			.NewsletterOffBoxBg .text{width:12em;}
			
		.NewsletterOnBox{float:left;padding:5px 0 0 0;width:200px;}
			.NewsletterOnBox .NewsletterOnBoxBg{}
			.NewsletterOnBoxBg .buttonSubmit{font-size:1em;text-align:left;color:#FFFFFF;background:url(arrow-next.gif) no-repeat #336699;padding:0 20px 2px 5px;background-position:right;height:20px;width:auto !important;border:0 solid #FFFFFF;cursor:pointer;overflow:visible;}
			.NewsletterOnBoxBg .text{width:12em;}
			.NewsletterOnBoxBg .ddl{width:12.2em;}


		/* Static vote properties */
		.voteResult{list-style:none;margin:0;padding:0;width:60px;height:20px;position:relative;z-index:1;background:url(star.gif) top left repeat-x;	}
			.voteResult li{padding:0;margin:0;	/*\*/float:left;/* */}
				.voteResult li div{display:block;width:15px;height:20px;text-decoration:none;text-indent:-9000px;z-index:20;position:absolute;	padding:0;}
				.voteResult div.voteStarFull1
				{
					width:15px;
					background:url(star.gif) left bottom;
					z-index:1;
					left:0;
				}

				.voteResult div.voteStarFull2
				{
					width:30px;
					background:url(star.gif) left bottom;
					z-index:1;
					left:0;
				}

				.voteResult div.voteStarFull3
				{
					width:45px;
					background:url(star.gif) left bottom;
					z-index:1;
					left:0;
				}

				.voteResult div.voteStarFull4
				{
					width:60px;
					background:url(star.gif) left bottom;
					z-index:1;
					left:0;
				}
				.voteResult div.voteStar1{left:0;}
				.voteResult div.voteStar2{left:15px;}
				.voteResult div.voteStar3{left:30px;}
				.voteResult div.voteStar4{left:45px;}	

		/* Dynamic vote properties */
		.voteInput{list-style:none;	margin:0;padding:0;width:60px;height:20px;position:relative;background:url(star.gif) top left repeat-x;display:none;	}
			.voteInput li{padding:0;margin:0;	/*\*/float:left;/* */}
				.voteInput li a{display:block;width:15px;height:20px;text-decoration:none;text-indent:-9000px;z-index:20;position:absolute;	padding:0;}
				.voteInput li a:hover{background:url(star.gif) left bottom;z-index:1;	left:0;}
				.voteInput a.voteStar1{left:0;}
				.voteInput a.voteStar1:hover{width:15px;}
				.voteInput a.voteStar2{left:15px;}
				.voteInput a.voteStar2:hover{width:30px;}
				.voteInput a.voteStar3{left:35px;}
				.voteInput a.voteStar3:hover{width:45px;}
				.voteInput a.voteStar4{left:45px;}	
				.voteInput a.voteStar4:hover{width:60px;}			
		.clickEnable{cursor:pointer;}
		.voteBottom{}
		.voteNumber{float:left;padding:9px 0 0 5px;color:#6B92AF;}
		
	/***************************************************
		Complexe 
	***************************************************/


/* Footer ***************************************************/
.footer{clear:both;padding:5px 0 21px 0;font-size:0.8em;}
*html .footer{padding:5px 0 21px 0;}
html>body .footer{position:relative;z-index:60;}
	.footer .footerBg{height:12px}
	.footer .footerHeader{display:none;}
	.footer .footerFooter{display:none;}
		.footer UL{margin:0;}
			.footer UL LI{list-style-type:none;float:left;color:#BCBDC0;padding-right:16px;}
				.footer UL LI SPAN{padding:0 5px 0 5px;}
				.footer UL LI A:link{color:#BCBDC0;text-decoration:none;}
				.footer UL LI A:visited{color:#BCBDC0;text-decoration:none;}
				.footer UL LI A:hover{color:#BCBDC0;text-decoration:none;}
				.footer UL LI.print{}
					.footer UL LI.print A{}
					.footer UL LI.print SPAN{}
					.footer UL LI.print SPAN.no_css{display:none;}
					.footer UL LI.print IMG{width:9px;height:9px;background:url(print.gif) no-repeat left top;}
				.footer UL LI.friend{}
					.footer UL LI.friend A{}
					.footer UL LI.friend SPAN{}
					
#bgFooter{
	position:absolute;
	display:block;
	background:transparent url('bg_footer.png') no-repeat top left;
	width:1006px;
	height:9px;
	margin:0 0 0 -26px;
}
