/* CSS Document */
/* --------------------------------------------------------------------------------------------- Récurrents */
/* ------------------------------------------------------------------------- Mieux servir */
	#habillage {
		float:left;
		width:301px;
		background:url(mieux_servir.gif) no-repeat left bottom;
		padding:0 0 9px 9px
	}
	#habillage #mieux_servir {
		width:291px;
		margin:0
	}
/* ----------------------------------------------------- Label */
	#habillage #mieux_servir label {
		width:291px;
		color:#fff;
		margin-left:0
	}
/* ----------------------------------------------------- Select */
	#habillage #mieux_servir select {
		width:250px;
		margin-left:0;
		margin-bottom:15px
	}
	#habillage #mieux_servir #vos_besoins {margin-bottom:0}
/* --------------------------------------------------------------------------------------------- Main */
/* ------------------------------------------------------------------------- Left */
	#main #left {
		float:left;
		width:622px
	}
/* ----------------------------------------------------- Gauche */
	#main #left #gauche {
		float:left;
		width:233px
	}
/* --------------------------------- h2 */
	#main #left #gauche h2 {
		text-transform:uppercase;
		font-size:1.8em;
		color:#01437b;
		padding:0 0 0 10px;
		margin:0 0 6px 0
	}
	#main #left #gauche h2 span {
		font-size:.7em;
		font-weight:normal
	}
/* --------------------------------- Services */
	#main #left #gauche #services {
		text-transform:uppercase;
		background:url(services_ul.gif) no-repeat right top;
		padding:1px 0 0 0;
		margin:0 0 13px 0
	}
	#main #left #gauche #services li {
		background-image:url(services_li.gif);
		background-repeat:no-repeat;
		background-position:right bottom;
		padding:2px 0 4px 0
	}
	#main #left #gauche #services li.alterne {background-image:url(services_li_alterne.gif)}
	#main #left #gauche #services li a {
		color:#01437b;
		background-image:url(left_menu_a.gif);
		background-repeat:no-repeat;
		background-position:left top;
		padding:2px 0 3px 20px
	}
	#main #left #gauche #services li a:hover {
		color:#1e95c7;
		background-position:left bottom
	}
/* ----------------------------------------------------- Pub */
	#main #left #pub {
		float:left;
		width:545px;
		padding:0 0 0 77px;
		margin:0 0 10px 0
	}
/* ----------------------------------------------------- Actualités */
	#main #actualites {
		display:inline;
		float:left;
		width:583px;
		background:url(actualites.gif) no-repeat left bottom;
		padding:0 0 13px 13px;
		margin:0 0 0 16px
	}
/* --------------------------------- h2 */
	#main #actualites h2 {
		position:relative;
		top:8px;
		float:left;
		text-transform:uppercase;
		font-size:1.9em;
		color:#618b9a;
		padding:0 10px 0 6px
	}
	#main #actualites h2 span {
		font-size:.8em;
		font-weight:normal;
		color:#91b8c6
	}
/* --------------------------------- RSS */
	#main #actualites #rss {
		float:left;
		margin:10px 6px 0 0
	}
/* --------------------------------- Onglets */
	#main #actualites #onglets {
		float:left;
		text-transform:uppercase
	}
	#main #actualites #onglets li {
		float:left;
		margin:0 1px 0 0
	}
	#main #actualites #onglets li h3 {
		font-size:1.1em;
		font-weight:normal
	}
	#main #actualites #onglets li h3 a {
		float:left;
		color:#fff;
		background-image:url(onglet_a.gif);
		background-repeat:no-repeat;
		background-position:left top
	}
	#main #actualites #onglets li h3 a span {
		display:block;
		float:left;
		background-image:url(onglet_span.gif);
		background-repeat:no-repeat;
		background-position:right top;
		padding:9px 8px 3px 7px;
		cursor:pointer
	}
	#main #actualites #onglets li h3 a:hover, #main #actualites #onglets li h3 a.on {background-position:left bottom}
	#main #actualites #onglets li h3 a:hover span, #main #actualites #onglets li h3 a.on span {
		background-position:right bottom;
		padding:3px 8px 9px 7px
	}
	#main #actualites #onglets li h3 a.on span {cursor:text}
/* --------------------------------- Carousel */
	#main #actualites .my-glider {
		float:left;
		width:581px;
		color:#617181;
		border:1px solid #c8dbe2;
		background:#f1f5f8;
		padding:15px 0
	}
	* html #main #actualites .my-glider {float:none}
	#main #actualites .my-glider span.navigation {
		display:block;
		float:left;
		width:31px;
		padding-top:35px
	}
	#main #actualites .my-glider span.navigation.precedent {text-align:right}
	#main #actualites .my-glider div.scroller {
		float:left;
		width:518px;
		overflow:hidden
	}
	#main #actualites .my-glider div.scroller ul.content {width:10000px}
	#main #actualites .my-glider div.scroller ul.content li.section {
		float:left;
		width:211px;
		overflow:hidden;
		padding:0 24px
	}
	#main #actualites .my-glider div.scroller ul.content li.section h4 {
		font-size:1.3em;
		margin:0 0 3px 0
	}
	#main #actualites .my-glider div.scroller ul.content li.section h4 a {color:#2386af}
	#main #actualites .my-glider div.scroller ul.content li.section h4 a:hover {text-decoration:underline}
	#main #actualites .my-glider div.scroller ul.content li.section span.date {
		display:block;
		font-style:italic;
		margin:0 0 4px 0
	}
	#main #actualites .my-glider div.scroller ul.content li.section img {
		float:left;
		border:3px solid #2386af;
		margin:0 9px 0 0
	}
	#main #actualites .my-glider div.scroller ul.content li.section p {
		line-height:1.5;
		text-align:justify
	}
	#main #actualites .my-glider a.tous {
		display:block;
		display:inline;
		float:left;
		width:550px;
		text-align:right;
		font-size:1.1em;
		font-weight:bold;
		color:#025599;
		background-image:url(fleches_bleu.gif);
		background-repeat:no-repeat;
		background-position:right 5px;
		padding:0 11px 0 0;
		margin:20px 20px 0 0;
		text-decoration:underline
	}
	#main #actualites .my-glider a.tous:hover {text-decoration:none}
/* ----------------------------------------------------- Autres sites */
	#main #left #autres_sites {
		display:inline;
		float:left;
		font-size:1.1em;
		color:#003466;
		margin:5px 0 0 30px
	}
	#main #left #autres_sites li {
		float:left;
		margin:0 0 0 3px
	}
	#main #left #autres_sites li a {
		display:block;
		display:inline;
		float:left;
		color:#003466;
		border-bottom-style:solid;
		border-bottom-width:4px;
		padding:0 0 1px 0;
		margin:0 3px 0 0
	}
	#main #left #autres_sites li a.cci_var {border-bottom-color:#5dc6f2}
	#main #left #autres_sites li a.ports {border-bottom-color:#a1d127}
	#main #left #autres_sites li a.formation {border-bottom-color:#b350cf}
	#main #left #autres_sites li a.investisseurs {border-bottom-color:#19338f}
	#main #left #autres_sites li a.provence {border-bottom-color:#ef4e17}
	#main #left #autres_sites li a:hover {border-bottom:0}
/* ------------------------------------------------------------------------- Right */
/* ----------------------------------------------------- Focus */
	#main #right h2.focus {
		text-transform:uppercase;
		font-size:1.8em;
		color:#fff;
		background:#47bfef;
		padding:0 0 0 8px;
		margin:0 0 1px 9px
	}
	#main #right #carousel_focus {
		display:inline;
		float:left;
		width:303px;
		margin:0 26px 0 9px
	}
	#main #right #carousel_focus div.controls {
		position:relative;
		float:left;
		width:63px;
		padding:0 0 0 240px;
		margin-top:-21px
	}
	#main #right #carousel_focus div.controls ul li {
		display:inline;
		/*position:relative;*/
		z-index:500
	}
	#main #right #carousel_focus div.controls ul li a {
		display:block;
		float:left;
		color:#47bfef;
		background:#d2eaf4;
		padding:1px 4px;
		margin:0 4px 0 0
	}
	#main #right #carousel_focus div.controls ul li a:hover {color:#6b7a89}
	#main #right #carousel_focus div.scroller {
		float:left;
		width:303px;
		overflow:hidden
	}
	#main #right #carousel_focus div.scroller ul.content {width:10000px}
	#main #right #carousel_focus div.scroller ul.content li.section {
		float:left;
		width:280px;
		background:url(degrade_bleu.gif) repeat-x;
		padding:10px 15px 30px 8px;
		overflow:hidden
	}
	#main #right #carousel_focus div.scroller ul.content li.section h3 {
		font-size:1.3em;
		color:#6b7a89;
		margin:0 0 15px 0
	}
	#main #right #carousel_focus div.scroller ul.content li.section h3 a {color:#6b7a89}
	#main #right #carousel_focus div.scroller ul.content li.section h3 a:hover {text-decoration:underline}
	#main #right #carousel_focus div.scroller ul.content li.section img {
		float:left;
		border:3px solid #6b7a89;
		margin:0 15px 0 0
	}
	#main #right #carousel_focus div.scroller ul.content li.section p {
		line-height:1.4;
		text-align:justify;
		color:#6b7a89;
		margin:0 0 3px 0
	}
	#main #right #carousel_focus div.scroller ul.content li.section span.lire_suite {
		float:right;
		font-size:.9em;
		color:#0591eb
	}
	#main #right #carousel_focus div.scroller ul.content li.section span.lire_suite a {color:#0591eb}
	#main #right #carousel_focus div.scroller ul.content li.section span.lire_suite a:hover {text-decoration:underline}
/* ----------------------------------------------------- Partenaires */
	#main #right #partenaires {
		float:left;
		width:278px;
		text-align:center;
		padding:0 30px;
		margin:10px 0 12px 0
	}
	#main #right #partenaires li {
		border-bottom:1px solid #8bc6e1;
		padding:8px 0
	}
	#main #right #partenaires li.last {border-bottom:none}
	#main #right #partenaires li img {vertical-align:middle}