#ox-is-overlay {
  position: absolute;
  z-index: 100;
  background-color: #f0f0f0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width:100%;
  height:100%;
  margin:auto;
}

#ox-is-skip,
#ox-is-logo {
  position: absolute;
  top: 5px;
}

#ox-is-skip {
	display:block;
	height:69px;
	position:relative;
	text-align:center;
	width:100%;
}

#ox-is-logo {
	display:block;
	height:83px;
	width:128px;
	position:relative;
	float:left;
	left:20px;
}

#ox-is-skip img,
#ox-is-logo img {
  border: 0;
  display: block;
}

#ox-is-ad {
  width: 100%;
  height: 530px;
  position:relative;
  clear:both;
}

#ox-is-ad td {
  width: 100%;
  text-align: center;
}


#ox-is-skip img
{
height:69px;
position:absolute;
right:20px;
top:-613px;
width:247px;
}