/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/* typography stripped */
/* typography.css */
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
/* h1 {font-size:3em;line-height:1;margin-bottom:0.5em;} */
h1 {font-size:2em; /*margin-bottom:0.75em;*/}
h2 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h3 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;height:1.25em;}
h4 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h5, h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus, a:hover {color:#000;}
a {color:#009;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre, code {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 1.5em 1.5em 1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
/* th, td {padding:4px 10px 4px 5px;} */
tfoot {font-style:italic;}


/* layout */
html, body {
	height:100%;
}

body {
	background: #1a1a1a url(http://www.visapourlimage.com/assets/img/background_body.png) repeat-x 0 0;
	color: #b5b5b5;
	font-family:"helvetica neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	line-height: 1.75em;
}
hr {
	clear:both;
	visibility:hidden;
	border:0;
	margin:0;
	padding:0;
	line-height:1%;
	height:1%;
}
a,
a:visited {
	color: #ff0009;
	text-decoration: none;
}
	a:hover {
		color: #fff;
	}

	a:hover, a:active {
		outline:none;
	}
h1, h2, h3 {
	color: #fff;
	font-weight: bold;
}
h1 {
	font-size: 180%;
	line-height: 1em;
	margin: 0 0 16px 0;
    padding-top:16px;
}
h2 {
	font-size: 133%;
	line-height: 1.125em;
	margin: 0 0 8px 0;
}

h3 {
	font-size: 100%;
	margin-bottom:0.5ex;
}

p {
	margin: 0 0 1em 0;
}

li {
/*	list-style: none; */
}
#navigation li,
#footer li,
#side_navigation li,
#languages li,
.special_link li {
	list-style:none;
}

.right {
	float: right;
	margin: 7px 0 5px 20px;
}
.left {
	float: left;
	margin: 7px 20px 5px 0;
}
#container {
	width:960px;
	margin:-44px auto 0 auto;
	min-height:100%;
	background: transparent;
	position: relative;
}
#logo {
	padding-top: 44px;
	float: left;
}
	#logo img {
		display: block;
	}
#content {
	clear:both;
	margin-bottom:15px;
}
/* columns layout */
.columns_1,
.columns_4,
.columns_1_3,
.columns_2_2,
.columns_1_2_1,
.columns_2_1_1,
.columns_1_1_2,
.columns_3_1 {
	margin-left:-20px;
	position:relative;
	top:0;
	clear:both;
}
.column {
	margin-left:20px;
	width:225px;
	float:left;
	padding-bottom: 1.5em;
}
.columns_1 .column {
		width: 960px;
	}
.columns_1 img {
		display: block;
	}
.columns_1_3 div.column + div.column {
	padding: 0 20px 20px 20px;
	width: 675px;
	background:transparent;
}
.columns_3_1 div.column {
	width:715px;
background:transparent;
}
.columns_3_1 div.column + div.column {
	width:225px;
	margin-left:20px;
	background:transparent;
}
.columns_1_2_1 div.column {
	width:225px;
	background:transparent;
}
.columns_1_2_1 div.column:first-child {
	font-size:11px;
	line-height:18px;
}
.columns_1_2_1 div.column + div.column {
	width:430px;
	padding:0 20px 20px 20px;
	background:#313131;
}
.columns_1_2_1 div.column + div.column + div.column {
	width:225px;
	padding: 0;
	background:transparent;
}
.columns_2_2 div.column {
	width:470px;
}
.columns_1_3 div.column + div.column {
	background-color: #313131;
}

.columns_4 .column {
		padding: 0 10px 20px 10px;
		width:205px;

	}
.columns_4 .column img {
		display: block;
		margin:0 -10px 20px -10px;
	}
.columns_3 {
	margin-left:-40px;
	margin-right:-20px;
}
.columns_3 div.column,
.columns_3 div.column + div.column,
.columns_3 div.column + div.column + div.column {
	width:205px;
	padding:0 10px 20px 10px ;
	margin-left:20px;
}
.columns_3 .column img {
	display: block;
	margin:0 -10px 20px -10px;
}

/* Columns end */
#header {
	margin-left: -20px;
}
#header img {
	display:block;
	/* Stop doing inline header images, you freaks --Nuey :) */
}
p.warning {
	background-color:#2f2f2f;
	font-size:90%;
	text-align:center;
	line-height:2.5em;
	border:1px solid #444;
}
p.intro {
	margin: 0;
	font-size: 125%;
	color: #ff0000;
	line-height: 1.2em;
	margin: 0 0 0.4em 0;
}
	#content .intro span {
		color: #ccc;
	}
.more {
	font-size: 90%;
	line-height:20px;
}
	.more,
	.special_link li {
		background:url(http://www.visapourlimage.com/assets/img/bullet_link.png) no-repeat 0 2px
	}
	.more a,
	.special_link a {
		padding-left: 20px;

	}

/*==== Top Banner ====*/
#top_banner {
	padding-top: 64px;
	width: 520px;
	height: 78px;
	line-height: 98px;
	text-align: right;
	position: absolute;
	top: 0;
	left: 190px;
}
/*==== Top Banner end ====*/

/*==== Languages ====*/
#languages,
#languages * {
	margin: 0;
	padding: 0;
}
#languages {
	padding-top: 44px;
	font-size: 9px;
	position: absolute;
	top: 35px;
	right: 0;
	height: 98px;
}
	#languages dt {
		display: none;
	}
	#languages ul,
	#languages ul li {
		float: left;
	}
	#languages li {
		margin: 0 9px;
	}
	#languages a {
		color: #bebebe;
		display: block;
		height: 12px;
		width: 38px;
		text-align:center;
		padding: 30px 0 0 0;
	}
		#languages a:hover,
		#languages .active a{
			color: #fff;
		}
	#french a {
		background: url(http://www.visapourlimage.com/assets/img/flag_france.png) no-repeat 50% 0;
	}
		#french a:hover,
		#french.active a {
			background: url(http://www.visapourlimage.com/assets/img/flag_france.png) no-repeat 50% -60px;
		}
	#english a {
		background: url(http://www.visapourlimage.com/assets/img/flag_england.png) no-repeat 50% 0;
	}
		#english a:hover,
		#english.active a {
			background: url(http://www.visapourlimage.com/assets/img/flag_england.png) no-repeat 50% -60px;
		}
	#spanish a {
		background: url(http://www.visapourlimage.com/assets/img/flag_spain.png) no-repeat 50% 0;
	}
		#spanish a:hover,
		#spanish.active a {
			background: url(http://www.visapourlimage.com/assets/img/flag_spain.png) no-repeat 50% -60px;
		}
	#catalan a {
		background: url(http://www.visapourlimage.com/assets/img/flag_catalan.png) no-repeat 50% 0;
	}
		#catalan a:hover,
		#catalan.active a {
			background: url(http://www.visapourlimage.com/assets/img/flag_catalan.png) no-repeat 50% -60px;
		}
/*==== Languages end ====*/


.preface {
	margin: 0 0 0.5em 0;
}
/*==== Sponsors ====*/
#sponsors_box {
	width:940px;
	padding: 0 10px;
	height: 70px;
	background :#fff;
	margin-top: 40px;
}
	#sponsors_box img {
		margin: 0 10px;
	}
/*==== Sponsors end ====*/

#side_navigation,
#side_navigation * {
	margin:0;
	padding:0;
}
#side_navigation {
	line-height:15px;
	font-size:11px;
}
	#side_navigation a {
		display:block;
		color:white;
	}
	#side_navigation span span {
		color: #716a6a;
	}
	#side_navigation li a {
		padding: 8px 10px;
	}
		#side_navigation li ul {
			padding-left:30px;
		}
		#side_navigation li li a {
			padding: 5px 10px;
			color: #bebebe;
		}
		#side_navigation li.expanded > a {
			font-style:italic;
			background: #3f3f3f url(http://www.visapourlimage.com/assets/img/navigation/side_active.png) repeat-x 0 0;
		}
			#side_navigation li.active a,
			#side_navigation li.active a:hover {
				font-style:italic;
				background:#be151a;
				color: #fff;
			}
			#side_navigation li a:hover {
				background:#fff;
				color: #310002;
			}
				#side_navigation li.active span span {
					color: #310002;
				}
#content .single_level a {
	color: #bebebe;
}

.component {
	background:#242424;
	margin:0 0 10px 0;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
}
	.component h2 {
		font-size:125%;
	}
	.component ul.special_link {
			clear:both;
			padding-top:8px;
			margin-left:0;
			margin-bottom:0;
		}
		.component ul.special_link a {
			color:#ccc;
			float:none;
		}
.component_header {
	margin-left:-10px;
	margin-right:-10px;
	margin-bottom:10px;
}
	.component_header img {
		display:block;
	}

.gallery_thumbnails {
	margin:0 -10px 0 -13px;
}
	.gallery_thumbnails img {
		float:left;
		display:block;
		margin:0 0 3px 3px;
	}

#debug {
	position: absolute;
	width: 575px;
	z-index: 100;
	height:1.5em;
	top: 10.5em;
	left: 190px;
    font-weight:bold;
	color: #fff;
	/*background: #ffff00 url(../img/debug_cat.jpg) no-repeat 100% 100%;
	color: #ffff00;
	font: 13px/93px "Comic Sans MS";
	padding: 30px 5px 5px 5px;*/
}
#debug h1 {
    color: #008000;
}

#quicklinks {
    display: none;
}
/* accreditation */

#accreditation {
	padding:0 12px;
	border-collapse:collapse;

}
#accreditation fieldset {
	border-top:1px solid #474747;
	padding-top:1ex;
}
fieldset#personal_information {
	border-bottom: 4px solid #474747;
	border-top: 0;
}
fieldset#business_information {
	border-top-width:1px;
	padding-top:1.5em
}
th, td {
	padding:0.5ex 1ex;
	vertical-align:top;

}
#accreditation th {
	width:128px;
	background:transparent;
	text-align:right;
	font-weight:normal;
}
#accreditation th em {
	color: #ff0009;
}
#accreditation th.accreditation_header {
	text-align: left;
}
#accreditation th span {
	color: #8c8c8c;
}
#accreditation input[type=text] {
	width:244px;
	padding-left:4px;

	border:0;
	background-color:#9f9f9f;
}
#accreditation td.address {
	width:128px;
}
#accreditation th.small {
	width:2em;
}
#accreditation td.other {
	font-size:90%;
}
#accreditation select {
	width:246px;
	background:#9f9f9f;
	border:0;
}
#accreditation td.other label {
	margin-right:1em;
}
#accreditation td.other input[type=text] {
	width:198px;
}
.note p {
	font-size:11px;
	padding:0 10px;
}
.button_container {
		text-align:right;
		padding:0 10px;
}
	.button_container button {
		border:0;
		padding:0;
		background-repeat:no-repeat;
		background-position:50% 50%;
	}
		.button_container button span {
			display:none;
		}
	button:hover {
		cursor: pointer;
	}
/* is this a double ? */
.en #accreditation button {
    background:url(http://www.visapourlimage.com/assets/img/forms/en/continue.png);
    width:131px;
    height:27px;
    border:0;
}
    .fr #accreditation button {
        background:url(http://www.visapourlimage.com/assets/img/forms/fr/continue.png);
        width:131px;
        height:27px;
        border:0;
    }
    .ca #accreditation button {
        background:url(http://www.visapourlimage.com/assets/img/forms/ca/continue.png);
        width:131px;
        height:27px;
        border:0;
    }
    .es #accreditation button {
        background:url(http://www.visapourlimage.com/assets/img/forms/es/continue.png);
        width:131px;
        height:27px;
        border:0;
    }

/* Login - Begin */
#login_form {
    margin:0 23em;
    padding:9em 12px;
    border-collapse:collapse;
}
#password_form {
    margin:2em 0 0 0;
    display:none;
}
#login_form h1,
#password_form h2 {
     margin: 0 0 0.2em 0;
}
    #password_form h2 {
        padding-left:2px;
    }
#login_form fieldset,
#password_form fieldset {
    border-top:1px solid #474747;
    padding-top:1ex;
}
#login_form label,
#password_form label {
    margin-right:1em;
    padding-left:2px;
    width:10em;
    float:left;
    display:block;
}
#login_form p,
#password_form p {
    margin:0;
    padding:0 2px;
}
#login_form input[type=text],
#password_form input[type=text],
#login_form input[type=password] {
    width:244px;
    padding-left:4px;

    border:0;
    background-color:#9f9f9f;
}
#login_form .button_container,
#password_form .button_container {
    padding:0 2px 0 0;
}
/* see above comment */
.en #login_form button,
.en #password_form button {
    margin:1em 0 0 0;
    background:url(http://www.visapourlimage.com/assets/img/forms/en/continue.png);
    width:131px;
    height:27px;
    border:0;
}
    .fr #login_form button,
    .fr #password_form button {
        margin:1em 0 0 0;
        background:url(http://www.visapourlimage.com/assets/img/forms/fr/continue.png);
        width:131px;
        height:27px;
        border:0;
    }
    .ca #login_form button,
    .ca #password_form button {
        margin:1em 0 0 0;
        background:url(http://www.visapourlimage.com/assets/img/forms/ca/continue.png);
        width:131px;
        height:27px;
        border:0;
    }
    .es #login_form button,
    .es #password_form button {
        margin:1em 0 0 0;
        background:url(http://www.visapourlimage.com/assets/img/forms/es/continue.png);
        width:131px;
        height:27px;
        border:0;
    }

#login_form .error_caption,
#password_form .error_caption {
    display: none;
    color:#f00;
}
/* Login - End */
#overview_intro {
	padding-top:2.25ex;
}
#overview_list {
	padding-top:1em;
}
#overview_list ul {
	padding:1em 0;
    margin-left:0;
    margin-right:0;
}
	#overview_list li {
		list-style:none;
	}
	#overview_list li a {
		display:block;
		margin: 0 -0.5em;
	}
	#overview_list li a:hover {
		background:url(http://www.visapourlimage.com/assets/img/overview_hover.png) repeat-x 50% 100% #c71b20;
		cursor: pointer;
	}
		#overview_list li a span {
			color:#bebebe;
			display:block;
			background:url(http://www.visapourlimage.com/assets/img/arrow_link.png) no-repeat 1em 50%;
		}
		#overview_list li span {
			display:block;
			padding:0.5ex 2.5em;
		}
		#overview_list li a:hover span {
			color:white;
			background-image:url(http://www.visapourlimage.com/assets/img/arrow_link_active.png);
		}

/* page bar starts */
.page_bar,
.page_bar * {
	margin:0;
	padding:0;
}
.page_bar {
	padding-top:20px;
}
	.page_bar dt {
		display:none;
	}
	.page_bar dd {
		position:relative;
		top:0;
		height:1.8em;
	}
	.page_bar li {
		list-style:none;
		margin:0;
		padding:0;
		color:#1a1a1a;
	}
	.page_bar li:last-child {
		right:0px;
		position:absolute;
		top:0;
	}
		.page_bar li a {
			color:#B5B5B5;
		}
		.page_bar li a:hover {
			color:white;
		}
		.page_bar li span {
			padding:0 10px;
			font-size:130%;
			font-weight:bold;
		}
/* page bar ends */

.content_list {
	background-color:#252525;
	margin-top:20px;
	margin-bottom:20px;
}
	.content_list dt {
		color:#bebebe;
		padding:1em 20px 0 20px;
	}
	.content_list dd {
		color:#716a6a;
		padding:10px 0 9px 20px;
		margin:0;
		font-size:90%;
		line-height:110%;
	}
	.content_list ul {
		list-style:none;
		padding:0;
		margin:0;
	}
	.content_list li {
		padding:1ex 0;
	}
	.content_list td {
		padding:1ex 0 1ex 0;
	}
	.content_list th {
		padding:1ex 1em 1ex 0;
	}

.winners table,
#awards_picture_editors ul {
	float:left;
	width:310px;
	margin-right:15px;
}
.winners th {
	width:2em;
}
.winners p {
	margin-top:2em;
	color:#ccc;
}
.index_list {
	padding:1em 0;
	margin:2em 0;
}
	.index_list li {
		list-style:none;
		padding:0.5ex 0;
		float:left;
		clear:left;
	}
	.index_list li:hover {
		background:url(http://www.visapourlimage.com/assets/img/overview_hover.png) repeat-x 50% 100% #c71b20;
	}
		.index_list li a {
			color:#bebebe;
			padding:0 2em;


			line-height:2em;
			height:2em;
			background:url(http://www.visapourlimage.com/assets/img/arrow_link.png) no-repeat 1ex 50%;
		}
		.index_list li:hover a {
			color:white;
			background-image:url(http://www.visapourlimage.com/assets/img/arrow_link_active.png);
		}

#daily_press_award {
	border-bottom:20px solid #1a1a1a;
	margin:0 -20px;
	padding:20px 20px 0px 20px;
}
#news_and_feature_reporting {
	border-top:5px solid #474747;
	margin:0 -20px;
	padding:20px 20px 0px 20px;
}
.youtube_container {
	float:right;
	margin: 0 0 20px 20px;
}

/* custon height. may be adjustable for other languages */
#home_intro {
	padding-bottom:0;
	margin-bottom:0;
}
	#home_intro h1 {
		font-size:1.25em;
		margin:-15px 0 1.25em 0;
	}
	#home_intro {
		font-size:11px;
		line-height:1.65em;
	}
	#home_intro ul {
		margin-left:0;
		padding-left:0;
	}
.hotels {
	border-collapse:collapse;
}
/* hotels table party */
.hotels .col_1 {
	width: 28%;
}
.hotels .col_2 {
	width: 42%;
}
.hotels .col_3 {
	width: 15%;
}
.hotels .col_4 {
	width: 15%;
}

/* Sponsors */
.columns_1_3 .sponsors,
.columns_1_3 .sponsors .column {
	background-color: #fff!important;
	text-align: center;
}
.columns_1_3 .sponsors a {
	display: inline;
}
.columns_1_3 .sponsors img {
	margin: 40px auto 0 auto;
	display: inline;
}
.columns_1_3 .sponsors li {
	list-style: none;
}
.columns_1_3 .sponsors li h2 {
	color: #8c8c8c;
	font-weight: bold;
	line-height: 40px;
}

.columns_1_3 .sponsors li h2 a:hover {
	color: #ff0009;
	text-decoration: underline;
}

/* Sponsors end */

/* Error messages */
ul.error {
	margin: 10px 20px 0 0;
}
	.error li {
		list-style: none;
		color: #f00;
		margin-top: 5px;
		text-align: left;
		font-size: 13px;
	}
label.error {
	color: #f00;
}
/* Error messages end */

/* Gallery */
#gallery_window {
  position:fixed;
  width:100%;
  height:100%;
  z-index:100;
  left:0;
  top:0;
}
/* Gallery end */