
* {
margin: 0;
padding: 0;
}

html {
background: white url(fond-html.gif) repeat-x;
}


body {
background: url(fond-body.gif) repeat-x;
font: 0.8em  Arial, Verdana, Helvetica;
color: #707070;
/* Pour faire fonctionner le menu sous IE */
behavior: url(http://www.unicaen.fr/css/css/csshover.htc);
width: 803px;

padding-bottom: 243px;
}

h1 {
background: url(fond-h1-accueil.gif) no-repeat;
display: block;
text-indent: -9999px;
width: 620px;
height: 100px;
position: absolute;
top: 221px;
left: 100px;
}


div#galerie-vitree {
background: url(galerie-vitree.jpg) no-repeat 100% 100%;
position: absolute;
top: 58px;
left: 699px;
width: 103px;
height: 115px;
padding-top: 10px;
border-left: 1px solid #a3b6c8;
}

div#galerie-vitree a {
margin: 0 0 0 5px;
}

div#etudiants {
background: #e5e9ed url(etudiants.jpg) no-repeat;
position: absolute;
top: 137px;
left: 453px;
width: 246px;
height: 46px;
}


ul#biatoss-enseignants {
list-style-type: none;
position: absolute;
top: 270px;
left: 707px;
padding-top: 10px;
}


ul#biatoss-enseignants li {
display: inline;
font-weight: bold;
border-right: 1px solid black;
padding: 0 10px 2px 0;
}

ul#biatoss-enseignants li.no-bordure {
border: 0;
padding: 0 0 0 8px;
}

#encart-actualite {
position: absolute; 
top: 370px; 
left: 90px;
width: 330px;
height: 153px;
}

#encart-actualite img#portail {
float: left;
}

#encart-actualite a.portail {
color: #849a0d;
font: italic bold 14px Georgia, "Times New Roman", Times, serif;
background: white url(http://www.unicaen.fr/images/logo-portail.gif) no-repeat 0 4px;
margin-left: 10px;
padding: 0 0 0 48px;
display: block;
height: 65px;
}

#encart-actualite a.portail span {
font-size: 11px;
display: block;
}

#dernieres-actualites {
position: absolute; 
top: 370px; 
left: 490px;
width: 270px;
border: 1px dotted #a3b6c8;
padding: 5px;
}

#dernieres-actualites h2 {
font-size: 0.9em;
font-weight: bold;
margin-bottom: 10px;
}

#dernieres-actualites ul {
font-size: 0.85em;
margin-left: 2em;
}

#dernieres-actualites ul li {
margin-bottom: 4px;
}

#dernieres-actualites p {
font-weight: bold;
text-align: right;
margin: 10px 10px 0 0;
}

#dernieres-actualites span.rouge {
color: #ff0000;
font-size: 1.5em;
}

#dernieres-actualites a.rouge {
font-size: 1em;
text-decoration: underline;
font-weight: bold;
color: #ff0000;
}


#dernieres-actualites a.rouge:hover {
font-size: 1em;
text-decoration: none;
font-weight: bold;
color: #ff0000;
}



#dernieres-actualites span.trait {
position: absolute;
top: 370px; 
left: 780px;
color: #a3b6c8;
text-align: center;
}



#grippe-A {
position: absolute; 
top: 370px; 
left: 790px;
width: 230px;
padding: 5px;
border: 1px solid #a3b6c8;
background-color: #f3f3f3;
}

#grippe-A h2 {
font-size: 0.9em;
font-weight: bold;
margin-bottom: 10px;
color: #ff0000;
}

#grippe-A ul {
font-size: 0.85em;
margin-left: 3em;
}

#grippe-A ul li {
margin-bottom: 7px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------*/



a {
font-family: arial, verdana, helvetica;
color: #CC6600; 
font-size: 8pt; 
line-height: 14pt; 
text-decoration: none;
}

a:hover {
text-decoration: underline;
}


a img  {
border: 0;
}


a.lien-externe:hover:after {
content: "\0000a0[\2197]"; 
}

/* ----------------------------------------------------------------------------------------------------- ==PARTIE FOOTER footer.php -----------------------------------------------------------------------------------*/

div#pied-de-page {
background: url(fond-pied-de-page.gif) repeat-x;
position: absolute; 
left: 0; 
top: 550px;
width: 100%;
}

div#pied-de-page  ul {
margin : 0 0 0 55px;
padding-top: 18px;
padding-left: 50px;
}

div#pied-de-page  ul li {
display : inline;
padding : 0;
}

div#pied-de-page ul li a {
padding: 0 2px;
}

div#pied-de-page  ul a {
color : #0000ff;
font-size : 1em;
text-decoration : none;
}

div#pied-de-page  ul a:visited {
color : #0000ff;
}

div#pied-de-page  ul a:hover {
color : #0000ff;
text-decoration : underline;
}

div#pied-de-page ul#mentions-legales {
position: relative;
top: -37px;
margin-left: 687px;
}

div#pied-de-page  ul#mentions-legales a {
color : white;
}

div#pied-de-page  ul#mentions-legales a:visited {
color : white;
}

div#pied-de-page  ul#mentions-legales a:hover {
color : white;
}





div#pied-de-page p {
font-size: 0.85em;
color: #a3b6c8;
text-align: left;
margin: -15px 0 0 170px;
}

/* ------------------------------------------------------------------------------------------------------- fin FOOTER ------------------------------------------------------------------------------------------------------------ */



div#nav {
position : absolute;
top : 38px;
left: 90px;
z-index : 100;
padding: 50px 0 30px 0;
border-left: 1px solid #c8d3de;
}



div#nav ul li {
list-style : none;
border : 0;
margin : 0;
padding : 0;
float : left;
border-right: 1px solid black;
}

div#nav ul li.actualites {
display: none;
}

div#nav ul.niveau1 li.sousmenu:hover ul.niveau2 {
display : block;
}

div#nav ul.niveau1 li.accueil-sous-menu {
border: 0;
}

/*  ---------------NIVEAU 1--------------------------  */

div#nav ul.niveau1 {
margin : 0;
padding : 0;
z-index : 100;
}

div#nav ul.niveau1 li:hover {
background : #4a6580;
}

div#nav ul.niveau1 li a {
color : #cc6600;
font-size: 1em;
font-weight: bold;
text-decoration : none;
border : 0;
margin : 0 10px;
display : block;
}


div#nav ul.niveau1 > li:hover a {
text-decoration : none;
color : white;
}

/* ------------------------FIN NIVEAU 1------------------- */

/* ------------------------NIVEAU 2 --------------------------*/

div#nav ul ul.niveau2 {
position : absolute;
top : 68px;
left : 0;
background : #e5e9ed;
display : none;
padding : 0;
margin : 0;
}


/* emplacement et taille des sous-menus */

div#nav ul ul.niveau2-universite {
left : -1px;
width : 15em;
}

div#nav ul ul.niveau2-formations {
left : 83px;
width : 20em;
}

div#nav ul ul.niveau2-recherche {
left : 175px;
width : 20em;
}

div#nav ul ul.niveau2-international {
left : 264px;
width : 22em;
}

div#nav ul ul.niveau2-documentation {
left : 366px;
width : 17em;
}

div#nav ul ul.niveau2-vie-universitaire {
left : 483px;
width : 12em;
}


/* fin emplacement */

div#nav ul.niveau1 ul.niveau2 li {
border-top : 1px solid white;
border-right: 0;
display : block;
width : 100%;
background : #e5e9ed;
padding: 0;
margin: 0;
}

div#nav ul.niveau1 ul.niveau2 li:hover {
background : #4a6580;
}

div#nav ul.niveau1 ul.niveau2 li a {
color : #4a6580;
background : #e5e9ed;
font-size : 0.85em;
font-weight: normal;
}

div#nav ul.niveau1 ul.niveau2 li:hover a {
color : white;
background : #a3b6c8;
background : #4a6580;
text-decoration : none;
}

/* -------------------------------FIN NIVEAU 2---------------------- */

/*---------------------------------------------------FIN MENU DEROULANT------------------------------------------------------------------- */


