#main_espace_faq{width:772px;float:left;overflow:hidden; color:#636262}
#col1{
	width:193px;
	float:left;
	overflow:hidden;
	padding-top: 1px;
	background-image: url(bg_left.jpg);
	padding-right: 0px;
	background-position: -2px 0px;
	
}
#main_espace_faq .gauche{ width:566px; float:left }

#main_espace_faq .gauche ul#menu_mag{
	width: 566px;
	background-image: url(bg_menu.gif);
	background-repeat: no-repeat;
	height: 39px;
	float: left;
	text-align: center;
}

#main_espace_faq .gauche ul#menu_mag li {
	float: left;
	margin-left: 11px;
	margin-top: 7px;
	margin-right: 0px;
	padding: 0px;
	text-indent: 0px;
	margin-bottom: 0px;
	width:auto;
	margin-left:11px;

		

}

#main_espace_faq .gauche ul#menu_mag a {
	float: left;
	opacity:.50;
	filter: alpha(opacity=50);
    -moz-opacity: 0.5;
	background-position: center top;
	background-repeat:no-repeat;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 0px;
	padding: 0px;
	display:block
}


#main_espace_faq .gauche ul#menu_mag a:hover {
opacity:1.00;filter: alpha(opacity=100); -moz-opacity: 1;
}
#main_espace_faq .gauche ul#menu_mag li img{display: block;border: 0px;   padding:0 ; margin:0}

.gauche form {float:right;display:inline;}

.gauche form {margin-bottom:-13px;}
.gauche form span {
	background-color: transparent;
	background-image: url(input_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	float:left;
	margin-top: 2px;
	padding-top: 0;
	padding-right: 3px;
	padding-bottom: 0;
	padding-left: 3px;
}
.gauche input {
	height:17px;
	width:153px;
	font-size:11px;
	color:#636262;
	border:0;
	background-color:transparent;
	float:left;
	margin-left: 5px;
}

#select_mag {
	height:17px;
	width:165px;
	font-size:11px;
	color:#636262;
	border:0;
	background-color:transparent;
	float:left;
	margin-left: -3px;
}

.gauche button {border:0;background-color:transparent; cursor:pointer; padding:0; margin:0 ; float:left}


#main_espace_faq .gauche form {

	background-repeat: no-repeat;
	height: 29px;
	width: 200px;
	padding-left: 2px;
	float:left;
	margin-left:40px
	
}#main_espace_faq .gauche form div{ margin-top:5px; margin-left:5px}
.gauche  .titre{ float:left}  
  .titre1{
	margin-bottom:15px;
	margin-top:17px;
	margin-left: 5px;
	width: 767px;
	float: left;color:#B4A088 ;
	font-size:16px
}  

  .titre1 img { float:left}
    .titre1  .lexique {
		text-align:right;
	margin-right: 10px;

}

 .titre1 a { color:#B4A088 ; font-size:16px ; text-decoration:none}
  .titre1 a:hover{ color:#59452C ; font-weight:bold}



.colone_mag{
	width:380px;
	color: #A79479;
	float: left;
	font-size: 13px
}
.colone_mag div{
	width:381px;
	background-image: url(degrade.jpg);
	background-position: left bottom;
	background-repeat: no-repeat;
	padding-bottom: 20px;
	margin-bottom: 9px;
	float: left;
}.colone_mag div p {
	background-image: url(bas_titre.gif.1);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 28px;
	padding-top: 15px;
}
.colone_mag div ul {
	background-image: url(bas_titre.gif.1);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 28px;
	padding-top: 15px;
}.colone_mag div li {
	background-image: url(puce_bg.gif);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 9px;
}.colone_mag div li a { color:#A79479 ; text-decoration:none}
.colone_mag div h3 {
	background-image: url(top_titre.gif.1);
	background-repeat: no-repeat;
	background-position: left top;
	padding-bottom: 2px;
	padding-top:7px;
	padding-left: 28px;	padding-right: 28px;
	color: #A1B811;
	font-size: 14px;
	line-height: 12px;
	margin: 0px;}
	.colone_mag div h3 a { color: #59452C; text-decoration:none ; font-size:14px}
.colone_mag a{color: #636262;text-decoration:underline}
#main_espace_faq .left{ float:left }
.marge5{
	margin-left:5px;
	float: left;
}
.marge10{ margin-left:10px}




.colone_mag2{
	width:768px;
	color: #636262;
	float: left;
	font-size: 11px
}
.colone_mag2 div{
	width:768px;
	padding-bottom: 20px;
	margin-bottom: 15px;
	float: left;
	background-image: url(bg_lexique.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}.colone_mag2 div p {
	background-image: url(bas_titre.gif.1);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 28px;
	padding-top: 15px;
}
.colone_mag2 div ul {
	background-image: url(bas_titre2.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 23px;
	padding-top: 15px;
	padding-right: 20px;
}.colone_mag2 div li {
	background-position: left center;
	background-repeat: no-repeat;
	font-size: 11px;
}
.colone_mag2 div h3 {
	background-image: url(top_titre2.gif.1);
	background-repeat: no-repeat;
	background-position: left top;
	padding-bottom: 2px;
	padding-top:7px;
	padding-left: 23px;	padding-right: 28px;
	color: #A1B811;
	font-size: 14px;
	line-height: 12px;
	margin: 0px;}
	
.colone_mag2 a{color: #636262;text-decoration:underline}
.colone_mag2 div li h1 {
	font-weight: bold;
	color: #59452C;
	padding-bottom: 10px;
	font-size: 11px;
	padding-top: 15px;
}
.colone_mag2 div h4 {
	background-image: url(top_titre2.gif.1);
	background-repeat: no-repeat;
	background-position: left top;
	padding-bottom: 2px;
	padding-top:7px;
	padding-left: 23px;	padding-right: 28px;
	
	font-size: 16px;
	color: #59452C;
	margin: 0px;}


	
.colone_mag2 div h3.spip {
	color: #59452C;
	font-size: 11px;
	font-weight: bold;
	padding-bottom: 5px;
	padding-top: 25px;
	background-image: none;
}

.colone_mag2 div p.spip {
	background-image: none;
}
