/**** NAV *****/
#nav {background:url('nav_top_bg.jpg') no-repeat center top;}
#nav ul.nav {margin-top:8px;}
#nav a:link, #nav a:visited {display:block; background-repeat:no-repeat;cursor:pointer;}
	#nav_assurances a:link, #nav_assurances a:visited {background-image:url('nav_arrow_1.jpg');background-position:0 12px;}
	#nav_quotidien a:link, #nav_quotidien a:visited {background-image:url('nav_arrow_2.jpg');}
	#nav_cr__dits a:link, #nav_cr__dits a:visited {background-image:url('nav_arrow_3.jpg');}
	#nav_epargne a:link, #nav_epargne a:visited {background-image:url('nav_arrow_4.jpg');}
	#nav_patrimoine a:link, #nav_patrimoine a:visited {background-image:url('nav_arrow_5.jpg');}
	#nav_banque_priv__e a:link, #nav_banque_priv__e a:visited {background-image:url('nav_arrow_5.jpg');}
	#nav_jeunes a:link, #nav_jeunes a:visited {background-image:url('nav_arrow_6.jpg');}
	#nav_jeunes_actifs a:link, #nav_jeunes_actifs a:visited {background-image:url('nav_arrow_6.jpg');}
	#nav_jeunes_mozaic a:link, #nav_jeunes_mozaic a:visited {background-image:url('nav_arrow_6.jpg');}
	#nav_financement a:link, #nav_financement a:visited {background-image:url('nav_arrow_3.jpg');}

	#nav_3_artisans_commercants a:link, #nav_3_artisans_commercants a:visited {background-image:url('nav_arrow_6.jpg');}
	#nav_3_professions_liberales a:link, #nav_3_professions_liberales a:visited {background-image:url('nav_arrow_6.jpg');}
	#nav_3_professions_de_sante a:link, #nav_3_professions_de_sante a:visited {background-image:url('nav_arrow_6.jpg');}

		#nav a:hover, #nav a:active,
		#nav a.selected:link, #nav a.selected:visited{background-position:0 -52px;}
		.nav #nav_assurances a:hover, .nav #nav_assurances a:active {background-position:0 -40px;}
#nav h2 {text-indent:-5000px;background-repeat:no-repeat;background-position:23px 0;}
#nav_assurances h2 {height:46px;background-image:url('nav_1.gif');}
#nav_quotidien h2 {height:46px;background-image:url('nav_2.gif');}
#nav_cr__dits h2 {height:46px;background-image:url('nav_3.gif');}
#nav_epargne h2 {height:36px;background-image:url('nav_4.gif');}
#nav_patrimoine h2 {height:36px;background-image:url('nav_5.gif');}
#nav_banque_priv__e h2 {height:36px;background-image:url('nav_5.gif');}
#nav_jeunes_mozaic h2 {height:24px;background-image:url('nav_jeu_1.gif');}
#nav_jeunes_actifs h2 {height:24px;background-image:url('nav_jeu_2.gif');}
	#nav .jeunes, #nav .financement {padding-top:8px;background:url('nav_top_bg.jpg') no-repeat center top;}
	#nav .financement {margin-top:8px;}
	#nav .financement h2 {height:25px;text-indent:25px;background:transparent url('nav_arrow_3.jpg') no-repeat left top;}
	#nav .financement ul {overflow:hidden;width:190px;}
	#nav .financement ul li{float:left;text-indent:0;height:auto;background-image:none;list-style-type:none;}
	#nav .financement ul li h2 {text-indent:0;height:auto;background-image:none;list-style-type:none;}


#nav_financement h2 {height:46px;background-image:url('nav_financement.gif');}

#nav_4_financement h2 {height:46px;background-image:url('nav_3_agric.gif');}
#nav_4_assurances h2 {height:50px;background-image:url('nav_1_agric.gif');}
#nav_4_quotidien h2 {height:46px;background-image:url('nav_2_agric.gif');}
#nav_4_epargne h2 {height:36px;background-image:url('nav_4_agric.gif');}

#nav_3_financement h2 {height:46px;background-image:url('nav_3_pro.gif');}
#nav_3_assurances h2 {height:48px;background-image:url('nav_1_pro.gif');}
#nav_3_quotidien h2 {height:46px;background-image:url('nav_2_pro.gif');}
#nav_3_epargne h2 {height:36px;background-image:url('nav_pro_epargne.gif');}

#nav_3_artisans_commercants h2 {height:24px;background-image:url('nav_artisans_commercants.gif');}
#nav_3_professions_liberales h2 {height:24px;background-image:url('nav_professions_liberales.gif');}
#nav_3_professions_de_sante h2 {height:24px;background-image:url('nav_professions_de_sante.gif');}

/* fleche */

#nav_3_assurances a:link, #nav_3_assurances a:visited {background-image:url('nav_arrow_1.jpg');}
#nav_3_quotidien a:link, #nav_3_quotidien a:visited {background-image:url('nav_arrow_2.jpg');}
#nav_3_cr__dits a:link, #nav_3_cr__dits a:visited {background-image:url('nav_arrow_3.jpg');}
#nav_3_epargne a:link, #nav_3_epargne a:visited {background-image:url('nav_arrow_4.jpg');}
#nav_3_jeunes a:link, #nav_3_jeunes a:visited {background-image:url('nav_arrow_6.jpg');}
#nav_3_financement a:link, #nav_3_financement a:visited {background-image:url('nav_arrow_3.jpg');}


#nav_4_assurances a:link, #nav_4_assurances a:visited {background-image:url('nav_arrow_1.jpg');}
#nav_4_quotidien a:link, #nav_4_quotidien a:visited {background-image:url('nav_arrow_2.jpg');}
#nav_4_cr__dits a:link, #nav_4_cr__dits a:visited {background-image:url('nav_arrow_3.jpg');}
#nav_4_epargne a:link, #nav_4_epargne a:visited {background-image:url('nav_arrow_4.jpg');}
#nav_4_jeunes a:link, #nav_4_jeunes a:visited {background-image:url('nav_arrow_6.jpg');}
#nav_4_financement a:link, #nav_4_financement a:visited {background-image:url('nav_arrow_3.jpg');}


#nav_6_assurances a:link, #nav_6_assurances a:visited {background-image:url('nav_arrow_1.jpg');}
#nav_6_gestion_de_la_dette a:link, #nav_6_gestion_de_la_dette a:visited {background-image:url('nav_arrow_2.jpg');}
#nav_6_cr__dits a:link, #nav_6_cr__dits a:visited {background-image:url('nav_arrow_3.jpg');}
#nav_6_partenariat a:link, #nav_6_partenariat a:visited {background-image:url('nav_arrow_1.jpg');}
#nav_6_ppp a:link, #nav_6_ppp a:visited {background-image:url('nav_arrow_1.jpg');}
#nav_6_e-administration a:link, #nav_6_e-administration a:visited {background-image:url('nav_arrow_4.jpg');}
#nav_6_mon__tique a:link, #nav_6_mon__tique a:visited {background-image:url('nav_arrow_4.jpg');}
#nav_6_logement_social a:link, #nav_6_logement_social a:visited {background-image:url('nav_arrow_6.jpg');}
#nav_6_collectivit__s_locales a:link, #nav_6_collectivit__s_locales a:visited {background-image:url('nav_arrow_6.jpg');}
#nav_6_placement a:link, #nav_6_placement a:visited {background-image:url('nav_arrow_3.jpg');}


#nav_6_cr__dits                 h2 {height:38px;background-image:url('nav_h2_6_cr__dits.jpg');}
#nav_6_assurances               h2 {height:38px;background-image:url('nav_h2_6_assurances.jpg');}
#nav_6_gestion_de_la_dette      h2 {height:40px;background-image:url('nav_h2_6_gestion_de_la_dette.jpg');}
#nav_6_partenariat              h2 {height:43px;background-image:url('nav_h2_6_partenariat.jpg');}
#nav_6_e-administration        h2 {height:43px;background-image:url('nav_h2_6_e-administration.jpg');}
#nav_6_mon__tique               h2 {height:44px;background-image:url('nav_h2_6_mon__tique.jpg');}
#nav_6_logement_social          h2 {height:44px;background-image:url('nav_h2_6_logement_social.jpg');}
#nav_6_collectivit__s_locales   h2 {height:44px;background-image:url('nav_h2_6_collectivit__s_locales.jpg');}
#nav_6_placement                h2 {height:44px;background-image:url('nav_h2_6_placement.gif');}
#nav_6_ppp                      h2 {height:43px;background-image:url('nav_h2_6_ppp.jpg');}



#nav_7_assurance a:link, #nav_7_assurance a:visited {background-image:url('nav_arrow_1.jpg');}
#nav_7_quotidien a:link, #nav_7_quotidien a:visited {background-image:url('nav_arrow_2.jpg');}
#nav_7_financement a:link, #nav_7_financement a:visited {background-image:url('nav_arrow_3.jpg');}
#nav_7_epargne a:link, #nav_7_epargne a:visited {background-image:url('nav_arrow_4.jpg');}
#nav_7_gestion_de_la_dette a:link, #nav_7_gestion_de_la_dette a:visited {background-image:url('nav_arrow_6.jpg');}
#nav_7_cr__dits a:link, #nav_7_cr__dits a:visited {background-image:url('nav_arrow_3.jpg');}
#nav_7_partenariat a:link, #nav_7_partenariat a:visited {background-image:url('nav_arrow_6.jpg');}
#nav_7_petites_et_moyennes_associations a:link, #nav_7_petites_et_moyennes_associations a:visited {background-image:url('nav_arrow2_6.jpg');}
#nav_7_grandes_associations a:link, #nav_7_grandes_associations a:visited {background-image:url('nav_arrow2_6.jpg');}


.nav #nav_7_petites_et_moyennes_associations a:hover, .nav #nav_7_petites_et_moyennes_associations a:active, 
.nav #nav_7_grandes_associations a:hover, .nav #nav_7_grandes_associations a:active 
{background-position:0 -71px;}

#nav_7_epargne                          h2 {height:47px;background-image:url('nav_h2_7_epargne.gif');}
#nav_7_financement                      h2 {height:47px;background-image:url('nav_h2_7_financement.gif');}
#nav_7_assurance                        h2 {height:47px;background-image:url('nav_h2_7_assurance.gif');}
#nav_7_quotidien                        h2 {height:47px;background-image:url('nav_h2_7_quotidien.gif');}
#nav_7_petites_et_moyennes_associations h2 {height:68px;background-image:url('nav_h2_7_petites_et_moyennes_associations.gif');}
#nav_7_grandes_associations             h2 {height:53px;background-image:url('nav_7_grandes_associations.gif');}



.separation {background:transparent url(nav_top_bg.jpg) no-repeat scroll center top;width:177px;height:1px;margin-bottom:8px;margin-top:8px;}

