/*
 * Caractéristiques communes
*/
#tete ul, #tete li { list-style: none; margin: 0 0 20px; padding: 0; }
#tete li { display: inline; text-align: center;}
#tete li a {
	text-transform:uppercase;
	font-size: 1.3em;
	font-weight: bold;
	letter-spacing: 0em;
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	color: #f6c63e;
	padding: 0 3px 0 18px;
	background: url(bg_li_a_nav.gif) no-repeat left 1px;
}
#tete li a:hover { color: white;}
#tete li.affiche a { background: none;  padding-left: 12px;}
#tete li.artistes a { }
#tete li.artistes a { padding: 0 2px 0 168px; background: none !important; }
#tete li.last a {  padding-right: 0px; }

#nav li.select a { color: red; }

/*
 * Régler la hauteur avec le nombre de ligne du menu (padding/margin compris)
 * Ex: 3 LI, avec 0.5em de padding en haut et en bas
 *     1 LI fait 2em de haut => 3 lignes = 6em;
 * Régler aussi le top des UL ci-dessous avec la hauteur d'un LI
*/
#nav {clear: left; margin: 13px 10px 13px 10px; }

/*
 * Masquer les niveaux 2 et plus
*/
#nav ul ul { display: none !important; }

/*
 * Menu vertical 
*/
#snav ul { }
#snav li { }
#snav li.last { }
/*
#snav ul ul, #snav ul li:hover ul ul, #snav ul li.select ul ul { display: none; }
#snav ul li:hover ul, #snav ul li.select ul, #snav ul li:hover ul li:hover ul, #snav ul li.select ul li.select ul { display: block; }
*/
#snav ul ul, #snav ul li.select ul ul { display: none; }
#snav ul li.select ul, #snav ul li.select ul li.select ul { display: block; }

/* 1e niveau */
#snav li a {
	padding-left: 1em;
	font-weight: bold; 
	background: no-repeat top left;
}
#snav li a:hover, #snav li.select li a:hover, #snav li.select a, #snav li.select li.select a {
	background-position: bottom left;
	color: red;
}
/* 2e niveau */
#snav ul ul {  }
/* Remettre l'image pour les non sélectionnés */
#snav li li a, #snav li.select li a {
	font-weight: normal;
	background-position: top left;
}


