.A4 { color:#FFCC99; }
.B1 { color:#FFFFCC; }
.B4 { color:#993300; }
.B5 { color:#FFFFFF; }
.M1 { color:#FFFFFF; }
.M2 { color: #FF9966; }
.M4 {color:#FFCC99;}
.M5 { color:#FFFFCC; }
.C1 { color: #CC3300; }
.C2 { color: #FF7709; }
.C3 { color: #CC0000; }
