@media print{

#bandeau_print{
display:block !important;
width:11cm;
height:2cm;
position:relative;
top:0;
left:0;}

#barre_haut, #menuFixe, #header, #barre_menuHoriz, #footer, #colonne_droite, #entete_centre, #zone_voir_aussi, #cadremenu,#titre_rubrique_ppal,#menu_lat, #sep_clearboth, #zone_menu{display:none;}

*{
	background-color:#FFFFFF !important;
	background-image:url(http://www.franche-comte.fr/fileadmin/crfc_tpl/charte/pixel.gif) !important;
	background-repeat:repeat !important;
	color:#000000 !important;
	text-decoration:none !important;
}
a:hover{
text-decoration:none !important;
}

#page, #zone_centrale_int, #zone_centrale {
position:relative !important;
top:0 !important;
left:0 !important;
margin:0  !important;
padding:0; 
width:100%;
}	

#contenu, #contenu_long { 
position:relative ;
left:0 !important;
top:0 !important ;
  width:85% !important;
  margin: 0 ;
  padding:0 ;
}
}

/***** Bloc elu ****/
#bloc_elu{
	font-size: 12px;
	width:235px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:0px;	
	float:left;	
}

#bloc_elu_photo {
	float:left;
	margin-right:5px;
	height:92px;
	
}

.bloc_elu_nom {
	font-weight:bold;
	display:block;
}
.bloc_elu_fonction{
font-size:11px;
	display:block;
}
.bloc_elu_politiques{
font-size:10px;
	display:block;
}
.bloc_elu_autrefonction{
font-size:10px;
display:block;
}
.bloc_elu_parti{
font-size:11px;
	display:block;
}
#bloc_elu_contenu{
float:left;
width:162px;}