

DIV#malvoyant_menu1, DIV#malvoyant_menu2_titre, DIV#malvoyant_menu2_contenu, DIV#malvoyant_page_titre {
	display: none;
}

/*
 * PREMIERE LIGNE
 */
div#accueil_contenu1 {
	width: 955px; height: 35px;
	position: absolute;
	left: 50%; top: 0px;
	margin: 0px; margin-left: -477px;
	background: white;
	border: 0px solid #000000;
	background: url('fond_contenu1.jpg');
}

/* RSS, TAILLE POLICE, MALVOYANT ET PLAN DU SITE */
DIV#accueil_haut1 {
	margin: 0px; padding: 0px;
	width: 302px;
	float: left;
}

/* ACCES DIRECT */
DIV#accueil_haut2 {
	margin: 0px; padding: 0px;
	width: 246px;
	float: left;
	padding-top: 8px;
	text-align: center;
}

/* RECHERCHER */
DIV#accueil_haut3 {
	margin: 0px; padding: 0px;
	width: 220px;
	float: left;
	padding-top: 8px;
}

/* METEO */
DIV#accueil_haut4 {
	margin: 0px; padding: 0px;
	float: left;
	border: 0px solid black;
	width: 100px; height: 33px;
	margin-top: 1px;
}

/* PREMIER DRAPEAU */
DIV#accueil_haut5 {
	margin: 0px; padding: 0px; margin-left: 10px;
	float: left;
	width: 26px; height: 33px;
	margin-top: 1px;
}

/* DEUXIEME DRAPEAU */
DIV#accueil_haut6 {
	margin: 0px; padding: 0px;
	float: left;
	width: 28px; height: 33px;
	margin-top: 1px;
}

INPUT.dklik_accueil_rechercher {
	margin: 0px; padding: 0px;
	width: 150px; height: 16px;
	background-color: #f7f7f7;
	border: 1px solid #d2d2d2;
	color: #858585;
}

.liste_deroulante {
	width: 180px;
}


/*
 * DEUXIEME LIGNE
 * Cette ligne contient le logo, un menu a 4 entrees et le bandeau Flash
 *
 */
div#accueil_contenu2 {
	width: 393px; height: 107px;
	position: absolute;
	left: 50%; top: 35px;
	margin: 0px; padding: 0px;
	margin-left: -477px;
	background: white;
	background: url('fond_contenu2.png');
}

DIV#accueil_profil {
	margin: 0px; padding: 0px;
	border: 0px solid black;
	width: 120px;
	text-align: left;
	margin-left: 270px;
	margin-top: 18px;
}

/* BANDEAU FLASH */
div#accueil_contenu3 {
	width: 562px; height: 106px;
	overflow: hidden;
	position: absolute;
	left: 50%; top: 35px;
	margin: 0px; padding: 0px;
	margin-left: -84px;
	background: url('fond_contenu3.jpg');
	border: 0px solid #d2d2d2;
	z-index: 10;
}

DIV#accueil_logo {
	width: 255px;
	margin-left: 1px;
	float: left;
}
/*
 * Menu general en rose HORIZONTAL
 *
 */
div#accueil_contenu4 {
	width: 955px; height: 35px;
	position: absolute;
	left: 50%; top: 141px;
	margin: 0px; margin-left: -477px;
	background: white;
	background: url('fond_contenu4.jpg');
	border: 0px solid black;
	z-index: 100;
}


div#accueil_contenu5 {
	width: 955px;
	position: absolute;
	left: 50%; top: 176px;
	margin: 0px; margin-left: -477px;
	background: white;
	border: 0px solid black;
}


/*
 * 3 colonnes du centre
 *
 */
TD#intContenuCol1 {
	width: 213px;
	border: 0px solid black; border-right: 1px solid #969696;
	margin: 0px; padding: 0px;
}

TD#intContenuCol2 {
	width: 562px;
	margin: 0px; padding: 0px;
	/*padding-left: 33px;  padding-right: 33px;*/
	border: 0px solid black; border-right: 1px solid #969696;
}

DIV#intContenuCol2Data {
	border: 0px solid black;
	width: 504px;
	margin-top: 20px;
	text-align: left;
	border: 0px solid black;
}

TD#intContenuCol3 {
	width: 180px; height: 800px;
	margin: 0px; padding: 0px;
	padding-top: 25px;
}


DIV#accueil_contenu5_contenu {
	margin: 0px; padding: 0px;
	width: 955px;
	border: 0px solid black;
}	

DIV#intContenuCol3 {
	width: 180px;
	margin: 0px; padding: 0px;
	padding-top: 25px;
	float: right;
}



DIV#intContenuCol3Data {
	margin-left: 18px;
}

DIV#intContenuCol3Data DL {
	margin: 0px; padding: 0px;
	border: 0px solid black;
}

DIV#intContenuCol3Publicite {
	margin: 0px; padding: 0px;
	margin-left: 18px;

}

/*
 * FOOTER
 *
 */
div#accueil_contenu7 {
	clear: both;
	width: 955px; height: 20px;
	margin: 0px;
	background: url('fond_contenu7.jpg');
}

div#accueil_contenu7 TD {
	font-family: Trebuchet MS; font-size:10px; font-weight: normal; font-style: normal; color: #FFFFFF; text-decoration: none;
}	

div#accueil_contenu8 {
	width: 955px; height: 16px;
	margin: 0px;
	background: #BFC0BB;
}



/*
 * Nouveau css DKLIK
 * concerne les liens -> Agrandir les polices
 *
 */

/* Premier lien */
A.dklik_taille_normale, A.dklik_taille_normale_active { font-family: Trebuchet MS; font-size:11px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_normale:link, A.dklik_taille_normale_active:link { font-family: Trebuchet MS; font-size:11px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_normale:visited, A.dklik_taille_normale_active:visited { font-family: Trebuchet MS; font-size:11px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_normale:active, A.dklik_taille_normale_active:active { font-family: Trebuchet MS; font-size:11px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_normale:hover, A.dklik_taille_normale_active:hover { font-family: Trebuchet MS; font-size:11px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none;}

A.dklik_taille_normale_active { color: #8D127A; }
A.dklik_taille_normale_active:link { color: #8D127A; }
A.dklik_taille_normale_active:visited { color: #8D127A; }
A.dklik_taille_normale_active:active { color: #8D127A; }
A.dklik_taille_normale_active:hover { color: #8D127A; }

/* Deuxieme lien */
A.dklik_taille_plus, A.dklik_taille_plus_active { font-family: Trebuchet MS; font-size:15px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_plus:link, A.dklik_taille_plus_active:link { font-family: Trebuchet MS; font-size:15px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_plus:visited, A.dklik_taille_plus_active:visited { font-family: Trebuchet MS; font-size:15px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_plus:active, A.dklik_taille_plus_active:active { font-family: Trebuchet MS; font-size:15px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_plus:hover, A.dklik_taille_plus_active:hover { font-family: Trebuchet MS; font-size:15px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none;}

A.dklik_taille_plus_active { color: #8D127A; }
A.dklik_taille_plus_active:link { color: #8D127A; }
A.dklik_taille_plus_active:visited { color: #8D127A; }
A.dklik_taille_plus_active:active { color: #8D127A; }
A.dklik_taille_plus_active:hover { color: #8D127A; }

/* Troisieme lien */
A.dklik_taille_plusplus, A.dklik_taille_plusplus_active { font-family: Trebuchet MS; font-size:20px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_plusplus:link, A.dklik_taille_plusplus_active:link { font-family: Trebuchet MS; font-size:20px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_plusplus:visited, A.dklik_taille_plusplus_active:visited { font-family: Trebuchet MS; font-size:20px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_plusplus:active, A.dklik_taille_plusplus_active:active { font-family: Trebuchet MS; font-size:20px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_plusplus:hover, A.dklik_taille_plusplus_active:hover { font-family: Trebuchet MS; font-size:20px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none;}

A.dklik_taille_plusplus_active { color: #8D127A; }
A.dklik_taille_plusplus_active:link { color: #8D127A; }
A.dklik_taille_plusplus_active:visited { color: #8D127A; }
A.dklik_taille_plusplus_active:active { color: #8D127A; }
A.dklik_taille_plusplus_active:hover { color: #8D127A; }

/* Lien Malvoyany */
A.dklik_lienMenuFixe { font-family: Trebuchet MS; font-size:11px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }

/* On supprme la bordure par defaut aux images du MENU GENERAL */
DIV#accueil_contenu4 IMG, DIV#MenudklikMenux0 IMG, DIV#MenudklikMenux1 IMG, DIV#MenudklikMenux2 IMG, DIV#MenudklikMenux3 IMG, DIV#MenudklikMenux4 IMG, DIV#MenudklikMenux5 IMG {
	margin: 0px; padding: 0px; border: 0px;
}


/*
 *
 * On gere les layers du menu general
 *
 */
DIV#MenudklikMenux0, DIV#MenudklikMenux1, DIV#MenudklikMenux2, DIV#MenudklikMenux3, DIV#MenudklikMenux4, DIV#MenudklikMenux5 {
	position: absolute; visibility: hidden;
	top: 176px; left: 50%;
	-moz-opacity:0.95; opacity: 0.95; filter:alpha(opacity=95);
	padding: 0px; 
	background: #a03365;
	width:480px;
}

DIV#MenudklikMenux0 { margin-left: -477px; }
DIV#MenudklikMenux1 { margin-left: -323px; }
DIV#MenudklikMenux2 { margin-left: -156px; }
DIV#MenudklikMenux3 { margin-left: -1px; }
DIV#MenudklikMenux4 { margin-left: -1px; }
DIV#MenudklikMenux5 { margin-left: -1px; }

DIV.menuRubriqueInterieure {
	margin: 0px; padding: 0px;
	border: 0px solid green;
	margin-top: 6px; margin-bottom: 7px;
	border: 0px solid black;
	clear: both;
}

DIV.menuHautLien {
	margin: 0px; padding: 0px;
	border: 0px solid black;
	width: 232px;
	padding-top: 7px; padding-bottom: 7px;
	float: left;
	border: 0px solid black;
}

DIV.menuHautLien:hover {
        background:#9E004A;
        background-color:#9E004A;
}

DIV.menuHautLien SPAN {
	margin: 0px; padding: 0px;
	margin-left: 8px;
}

DIV.menuHautLien SPAN A {
        font-family: Arial;
        font-size:12px;
        font-weight: normal;
        font-style:normal; 
        color: white;
        text-decoration:none;
        line-height:11px;
}















/* 
 * CSS pour le Footer
 * ...
 */
DIV#accueil_contenu7 A { font-family: Trebuchet MS; font-size:10px; font-weight: normal; font-style: normal; color: #FFFFFF; text-decoration: none; }
DIV#accueil_contenu7 A:link { font-family: Trebuchet MS; font-size:10px; font-weight: normal; font-style: normal; color: #FFFFFF; text-decoration: none; }
DIV#accueil_contenu7 A:visited { font-family: Trebuchet MS; font-size:10px; font-weight: normal; font-style: normal; color: #FFFFFF; text-decoration: none; }
DIV#accueil_contenu7 A:active { font-family: Trebuchet MS; font-size:10px; font-weight: normal; font-style: normal; color: #FFFFFF; text-decoration: none; }
DIV#accueil_contenu7 A:hover { font-family: Trebuchet MS; font-size:10px; font-weight: normal; font-style: normal; color: #FFFFFF; text-decoration: none; }







DIV#InterieureEntete {
  margin: 0px; padding: 0px;
  width: 510px; height: 28px;
  border: 0px; border-bottom: 1px solid #D2D2D2;
  margin-bottom: 6px;
}

DIV#InterieureEnteteTitre {
  margin: 0px; padding: 0px;
  width: 430px;
  float: left;
}

DIV#InterieureEnteteLiens {
  margin: 0px; padding: 0px;
  width: 80px;
  float: right;
}

/*
 * FIL D'ARIANE
 */
DIV#InterieureEnteteFilAriane {
  margin: 0px; padding: 0px;
  margin-left: 4px; margin-bottom: 6px;
  font: 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: #808080;
}

DIV#InterieureEnteteFilAriane A {
  margin: 0px; padding: 0px;
  font: 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: #808080;
}



/* ------------------------------------------------
 * CSS pour le JEU CONCOURS
 * de la page d'accueil
 * ...
 -------------------------------------------------- */
DIV#accueil_jeuconcours_container {
	margin: 0px; padding: 0px;
	border: 10px solid black;
	width: 161px;
	border: 0px solid #000000;
	background: url('colD_fond4.jpg') no-repeat;
	border: 0px solid black;
	padding-bottom: 1em;
}

DIV#accueil_jeuconcours_haut {
	margin: 0px; padding: 0px;
	width: 146px; height: 66px;
	border: 0px solid black;
}

DIV#accueil_jeuconcours_texte {
	margin: 0px; padding: 0px;
	margin-left: 8px;
	width: 146px;
	font-family: Trebuchet MS; font-size:11px; font-weight: normal; font-style: normal; color: #921B52; text-decoration: none;
	border: 0px solid black;
	padding-bottom: 1em;
}

DIV#accueil_jeuconcours_photo DIV {
	margin: 0px; padding: 0px;
	margin-left: 4px;
}

DIV#accueil_jeuconcours_texte A { font-family: Trebuchet MS; font-size:11px; font-weight: normal; font-style: normal; color: #921B52; text-decoration: none; }
DIV#accueil_jeuconcours_texte A:link { font-family: Trebuchet MS; font-size:11px; font-weight: normal; font-style: normal; color: #921B52; text-decoration: none; }
DIV#accueil_jeuconcours_texte A:visited { font-family: Trebuchet MS; font-size:11px; font-weight: normal; font-style: normal; color: #921B52; text-decoration: none; }
DIV#accueil_jeuconcours_texte A:active { font-family: Trebuchet MS; font-size:11px; font-weight: normal; font-style: normal; color: #921B52; text-decoration: none; }
DIV#accueil_jeuconcours_texte A:hover { font-family: Trebuchet MS; font-size:11px; font-weight: normal; font-style: normal; color: #921B52; text-decoration: none; }


DIV#accueil_jeuconcours_photo {
	margin: 0px; padding: 0px;
	width: 146px;
	border: 0px solid black;
}

DIV#accueil_jeuconcours_photo IMG {
	margin: 0px; padding: 0px;
	border: 0px solid white;
	margin-left: 10px;
}


/* 
 * CSS pour le bloc VOTRE AVIS
 * de la page d'accueil
 * ...
 */
DIV#accueil_votreavis_container {
	margin: 0px; padding: 0px;
	border: 0px solid black;
	width: 161px;
	background: url('colD_fond5.jpg');
	padding-bottom: 10px;
}

DIV#accueil_votreavis_haut {
	margin: 0px; padding: 0px;
	width: 146px; height: 22px;
}

DIV#accueil_votreavis_texte {
	margin: 0px; padding: 0px; margin-left: 10px; margin-bottom: 1em;
	width: 146px;
	overflow: hidden;
	font-family: Arial; font-size:11px; font-weight: normal; font-style: normal; color: #333333; text-decoration: none;
	line-height: 1em;
}

DIV#accueil_votreavis_photo {
	margin: 0px; padding: 0px;
}

DIV#accueil_votreavis_texte A { font-family: Trebuchet MS; font-size:12px; font-weight: bold; font-style: normal; color: #333333; text-decoration: none; line-height: 1.2em; }
DIV#accueil_votreavis_texte A:link { font-family: Trebuchet MS; font-size:12px; font-weight: bold; font-style: normal; color: #333333; text-decoration: none; line-height: 1.2em; }
DIV#accueil_votreavis_texte A:visited { font-family: Trebuchet MS; font-size:12px; font-weight: bold; font-style: normal; color: #333333; text-decoration: none; line-height: 1.2em; }
DIV#accueil_votreavis_texte A:active { font-family: Trebuchet MS; font-size:12px; font-weight: bold; font-style: normal; color: #333333; text-decoration: none; line-height: 1.2em; }
DIV#accueil_votreavis_texte A:hover { font-family: Trebuchet MS; font-size:12px; font-weight: bold; font-style: normal; color: #333333; text-decoration: none; line-height: 1.2em; }


/* 
 * CSS pour le bloc PORTAIL REGIONAL
 * de la page interieure dans la colonne de droite
 * ...
 */
DIV#int_portailregional_container {
	margin: 0px; padding: 0px;
	width: 162px; height: 87px;
	background: url('http://www.franche-comte.fr/fileadmin/templaVoila/flex_int_portail_regional/fond.jpg');
}

DIV#int_portailregional_haut {
	margin: 0px; padding: 0px;
	width: 162px; height: 50px;
}


/* 
 * CSS zone Voir Aussi
 * Cette zone est situee juste en dessous du contenu
 * dans certaine pages
 */
DIV#int_contenu_voir_aussi_titre {
	margin: 0px; padding: 0px;
	margin-top: 15px; margin-bottom: 6px;
	width: 496px; height: 28px;
	border: 0px; border-bottom: 1px solid #D2D2D2;
}
 
DIV#int_contenu_voir_aussi_data {
	margin: 0px; padding: 0px;
	border: 0px solid black;
	background: #F9F6F7;
	padding-top: 12px; padding-left: 15px;
	padding-bottom: 12px; padding-right: 15px;
}

DIV#bloc_voir_aussi_actualite_contenu {
	margin: 0px; padding: 0px;
}

SPAN.titre_voir_aussi {
	margin: 0px; padding: 0px; margin-bottom: 6px;
	font-family: Trebuchet MS; font-size:15px; font-weight: bold; font-style: normal; color: #535353; text-decoration: none; line-height: 1.2em;
}


DIV.news-latest-container {
	margin: 0px; padding: 0px;
}

DIV#separateur_voir_aussi {
	display: none;
}

DIV#actu {
	margin: 0px; padding: 0px;
	margin-bottom: 10px;
}

SPAN.voir_aussi_date_actu {
	font-family: Arial; font-size:12px; font-weight: bold; font-style: normal; color: #910056; text-decoration: none;
}
SPAN.voir_aussi_titre_actu {
	font-family: Arial; font-size:12px; font-weight: normal; font-style: normal; color: #535353; text-decoration: none;
}
TD#voir_aussi_td_lien_actu {
	padding-bottom: 10px;
}

SPAN.voir_aussi_lien_actu A, P#flex_lien_libelle {
	background: url('http://www.franche-comte.fr/fileadmin/templaVoila/interface/lireLaSuiteFond.jpg');
	background-repeat: no-repeat;
	margin: 0px; padding: 0px; padding-left: 6px;
	font-family: Arial; font-size:11px; font-weight: normal; font-style: normal; color: #910056;
}

DIV#flexVoirAussiTitre {
	padding:0px; margin:0px;
	font-family:Arial; font-size:14px; color:#535353; font-weight:bold;
	padding-bottom:2px; display:block;
	border: 0px solid #D2D2D2;
}


/*
 * MENU DE GAUCHE
 */
DIV#intMenuGaucheBlocNiveau3 {
	border: 0px solid #CACACA;
}


/*
 * Gabarit Sans le Menu A Gauche
 */
DIV#intContenuCol1SansMenuData {
	margin: 0px; padding: 0px;
	text-align: left;
	margin-top: 20px; margin-left: 25px;
	border: 0px solid black;
	float: left;
}


/*
 * Bloc Jaune
 */
DIV#flex_blocJaune_cadre, DIV#flex_blocVert_cadre, DIV#flex_blocEntreprise_cadre, DIV#flex_blocJeune_cadre, DIV#flex_blocTouriste_cadre {
	margin:0px; padding:0px;
	width: 234px;
	border: 1px solid #C7C7C7;
	margin-bottom: 15px;
}

DIV#flex_blocJaune_cadre IMG, DIV#flex_blocVert_cadre IMG, DIV#flex_blocEntreprise_cadre IMG, DIV#flex_blocJeune_cadre IMG, DIV#flex_blocTouriste_cadre IMG {
	margin:0px; padding:0px;
	border: 0px solid;
}

DIV#flex_blocJaune_partie1 {
	margin:0px; padding:0px;
	width: 234px; height: 25px;
	background: url('http://www.franche-comte.fr/fileadmin/templaVoila/flex_blocJaune/fondTitre.jpg');
}

DIV#flex_blocVert_partie1 {
	margin:0px; padding:0px;
	width: 234px; height: 25px;
	background: url('http://www.franche-comte.fr/fileadmin/templaVoila/flex_blocVert/fondTitre.jpg');
}

DIV#flex_blocEntreprise_partie1 {
	margin:0px; padding:0px;
	width: 234px; height: 25px;
	background: url('http://www.franche-comte.fr/fileadmin/templaVoila/flex_blocEntreprise/fondTitre.jpg');
}

DIV#flex_blocJeune_partie1 {
	margin:0px; padding:0px;
	width: 234px; height: 25px;
	background: url('http://www.franche-comte.fr/fileadmin/templaVoila/flex_blocJeune/fondTitre.jpg');
}

DIV#flex_blocTouriste_partie1 {
	margin:0px; padding:0px;
	width: 234px; height: 25px;
	background: url('http://www.franche-comte.fr/fileadmin/templaVoila/flex_blocTouriste/fondTitre.jpg');
}

DIV#flex_blocJaune_partie1 P#flex_blocJaune_partie1_titre
	, DIV#flex_blocVert_partie1 P#flex_blocVert_partie1_titre
	, DIV#flex_blocEntreprise_partie1 P#flex_blocEntreprise_partie1_titre
	, DIV#flex_blocJeune_partie1 P#flex_blocJeune_partie1_titre
	, DIV#flex_blocTouriste_partie1 P#flex_blocTouriste_partie1_titre {
	margin:0px; padding:0px; margin-left: 10px;  padding-top: 4px; 
	font-family: Trebuchet MS; font-size:16px; font-weight: normal; font-style: normal; color: #FFFFFF;
}

DIV#flex_blocJaune_partie2 P.bodytext, DIV#flex_blocVert_partie2 P.bodytext, DIV#flex_blocEntreprise_partie2 P.bodytext, DIV#flex_blocJeune_partie2 P.bodytext, DIV#flex_blocTouriste_partie2 P.bodytext {
	font-family: Trebuchet MS; font-size:11px; font-weight: normal; font-style: normal; color: #656565;
}

DIV#flex_blocMarge_data {
	margin: 10px;
}


/*
 *
 * Page cible
 *
 */
DIV#flex_blocBigTitreSouligne_cadre {
	margin:0px; padding:0px;
	border: 0px; border-bottom: 1px solid #C8C8C8;
	padding-bottom: 4px; margin-bottom: 12px; 
}

DIV#flex_blocBigTitreSouligne_titre {
	clear: both;
	margin:0px; padding:0px;
	font-family: Trebuchet MS; font-size:19px; font-weight: normal; font-style: normal;
}


/*      
 * CSS pour les actualites A LA UNE
 * de la page d'accueil
 * ...
 */

DIV#a_la_une IMG {
        margin: 0px; padding: 0px;
        border: 0px solid;
}       
DIV#accueil_news_une_rubrique {
        margin: 0px; padding: 0px;
        font-family: Trebuchet MS; font-size:17px; font-weight: bold; font-style: italic; color: #921B52;
        line-height:1em;
        padding-bottom: 2px;
        border: 0px solid #d2d2d2;
}       
DIV#accueil_news_une_date {
        margin: 0px; padding: 0px;
        font-family: Trebuchet MS; font-size:11px; font-weight: normal; font-style: normal; color: #E2016A;
        padding-bottom: 2px;
        border: 0px solid #d2d2d2;
}       
DIV#accueil_news_une_titre {
        margin: 0px; padding: 0px;
        font-family: Trebuchet MS; font-size:19px; font-weight: normal; font-style: normal; color: #595959;
        padding-bottom: 3px;
        line-height:1em;
        border: 0px solid #d2d2d2;
}
DIV#accueil_news_une_accroche { 
        margin: 0px; padding: 0px;
        font-family: Arial; font-size:12px; font-weight: normal; font-style: normal; color: #656565;
        padding-bottom: 6px;
        line-height:1.3em;
        border: 0px solid #d2d2d2;
}

DIV#accueil_news_une_accroche P {
        margin: 0px; padding: 0px;
}

.news-single-imgcaption{
	display:none;
}


/*      
 * CSS pour la page "LES TALENTS FRANCS-COMTOIS"
 * ...
 */
DIV#lien_talent_culture, DIV#lien_talent_terroir, DIV#lien_talent_economie, DIV#lien_talent_education, DIV#lien_talent_gastronomie, DIV#lien_talent_sport, DIV#lien_talent_tourisme, DIV#lien_talent_jeunes, DIV#lien_talent_recherche {
}



TD.td-0 {
	border: 0px solid #d2d2d2;
	vertical-align: top;
}

DIV#intContenuCol3Portail {
	border: 0px solid #black;
	margin: 0px; padding: 0px; margin-left: 18px;
	margin-bottom: 20px;
	width: 162px; height: 87px;
	background: url('http://www.franche-comte.fr/fileadmin/templaVoila/flex_int_portail_regional/fond.jpg') no-repeat;
}

DIV#intContenuCol3Portail DIV#intContenuCol3PortailItem {
	margin: 0px; padding: 0px;
	padding-top: 50px;
}

DIV#intContenuCol3Portail IMG {
	border: 0px;
}


/*      
 * MON ESPACE
 * ...
 */
TABLE#MonEspaceTable {
	margin: 0px;padding: 0px;
	margin-left: 10px;
}

P.MonEspaceTitre {
	margin: 0px; padding: 0px;
	font-family: Arial; font-size:12px; font-weight: bold; font-style: normal; color: #272727;
	margin-top: 4px;
}

FONT.MonEspaceTexte {
	margin: 0px; padding: 0px;
	font-family: Arial; font-size:11px; font-weight: normal; font-style: normal; color: #6D6D6D;
}

INPUT.formMonEspaceColDroiteInput {
	margin: 0px; padding: 0px;
	margin-bottom: 4px;
	border: 0px solid;
	width: 140px; height: 18px;
}

INPUT.formMonEspaceColDroiteInput2 {
	margin: 0px; padding: 0px;
	margin-bottom: 4px;
	border: 0px solid;
	width: 120px; height: 18px;
}

IMG.MonEspaceImgJeMinscris {
	margin-top: 8px;
}

INPUT.formMonEspaceInscriptionInput {
	margin: 0px; padding: 0px;
	border: 1px solid #6D6D6D;
	width: 200px; height: 18px;
	margin-bottom: 6px;
}

TEXTAREA.formMonEspaceInscriptionInput {
        margin: 0px; padding: 0px;
        border: 1px solid #6D6D6D;
        width: 200px; height: 80px;
        margin-bottom: 6px;
}       

FONT.MonEspaceLegende {
	margin: 0px; padding: 0px;
	font-family: Arial; font-size:11px; font-weight: normal; font-style: italic; color: #6D6D6D;
}

A.MonEspaceLienMonEspace { font-family:Arial, Helvetica, sans-serif; font-size: 12px; color: #595959; font-weight: bold; text-decoration: none;}
A.MonEspaceLienMonEspace:link { font-family:Arial, Helvetica, sans-serif; font-size: 12px; color: #595959; font-weight: bold; text-decoration: none;}
A.MonEspaceLienMonEspace:visited { font-family:Arial, Helvetica, sans-serif; font-size: 12px; color: #595959; font-weight: bold; text-decoration: none; }
A.MonEspaceLienMonEspace:active { font-family:Arial, Helvetica, sans-serif; font-size: 12px; color: #595959; font-weight: bold; text-decoration: none; }
A.MonEspaceLienMonEspace:hover { font-family:Arial, Helvetica, sans-serif; font-size: 12px; color: #595959; font-weight: bold; text-decoration: underline; }

FONT.MonEspaceLienEmail { font-family:Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-size: 11px; color: #595959; text-decoration: none;}
A.MonEspaceLienEmail { font-family:Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-size: 11px; color: #595959; text-decoration: none;}
A.MonEspaceLienEmail:link { font-family:Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-size: 11px; color: #595959; text-decoration: none;}
A.MonEspaceLienEmail:visited { font-family:Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-size: 11px; color: #595959; text-decoration: none; }
A.MonEspaceLienEmail:active { font-family:Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-size: 11px; color: #595959; text-decoration: none; }
A.MonEspaceLienEmail:hover { font-family:Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-size: 11px; color: #595959; text-decoration: underline; }

FONT.MonEspaceLienInfoBulle { font-family:Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px; color: #595959; }
A.MonEspaceLienInfoBulle { font-family:Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px; color: #595959; text-decoration: none; }
A.MonEspaceLienInfoBulle:link { font-family:Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px; color: #595959; text-decoration: none; }
A.MonEspaceLienInfoBulle:visited { font-family:Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px; color: #595959; text-decoration: none; }
A.MonEspaceLienInfoBulle:active { font-family:Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px; color: #595959; text-decoration: none; }
A.MonEspaceLienInfoBulle:hover { font-family:Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px; color: #595959; text-decoration: underline; }


/*      
 * CSS pour la page "ANNUAIRE AGRO-ALIMENTAIRE"
 * ...  
 */
FONT.AnnuaireDepartement {
        margin: 0px; padding: 0px;
        font-family: Arial; font-size:11px; font-weight: normal; font-style: normal; color: #484746;
}       
        
A.MonEspaceLienVoirLaFiche { font-family: Arial; font-size:11px; font-weight: normal; font-style: italic; color: #595959; text-decoration: none; }
A.MonEspaceLienVoirLaFiche:link { font-family: Arial; font-size:11px; font-weight: normal; font-style: italic; color: #595959; text-decoration: none; }
A.MonEspaceLienVoirLaFiche:visited { font-family: Arial; font-size:11px; font-weight: normal; font-style: italic; color: #595959; text-decoration: none; }
A.MonEspaceLienVoirLaFiche:active { font-family: Arial; font-size:11px; font-weight: normal; font-style: italic; color: #595959; text-decoration: none; }
A.MonEspaceLienVoirLaFiche:hover { font-family: Arial; font-size:11px; font-weight: normal; font-style: italic; color: black; text-decoration: none; }

