body {
	margin: 0px; padding: 0px;
	background: #333333;
	background: url('fond_body.gif');
}

H1 { margin: 0px; padding: 0px; font-family: Arial; font-size:12px; font-weight:bold; font-style:normal; color:black; text-decoration: none; }
P { font-family: Verdana; font-size:11px; font-weight:normal; font-style:normal; color:#555555; margin-bottom: 1em; }
FONT { font-family: Verdana; font-size:11px; font-weight:normal; font-style:normal; color:#555555; }

td{
/*text-align:left;*/
/*vertical-align:middle;*/
}


div.tx-kuloplayer-pi1 {
  background: #000000;
  width:470px;
  border-top:1px solid black;
}


div#accueil_contenu1 {
	width: 955px; height: 35px;
	position: absolute;
	left: 50%; top: 0px;
	margin: 0px; margin-left: -477px;
	background: white;
	border: 0px solid #000000;
	background: url('fond_contenu1.jpg');
}

DIV#accueil_haut1 {
	margin: 0px; padding: 0px;
	width: 302px;
	float: left;
}

DIV#accueil_haut2 {
        margin: 0px; padding: 0px;
        width: 246px;
	float: left;
	padding-top: 8px;
}

DIV#accueil_haut3 {
        margin: 0px; padding: 0px;
        width: 220px;
        float: left;
        padding-top: 8px;
}

DIV#accueil_haut4 {
	margin: 0px; padding: 0px;
	float: left;
	border: 0px solid black;
	width: 100px; height: 33px;
	margin-top: 1px;
}

/* METEO */
DIV#accueil_haut5 {
	margin: 0px; padding: 0px; margin-left: 10px;
	float: left;
	width: 26px; height: 33px;
	margin-top: 1px;
}

DIV#accueil_haut6 {
	margin: 0px; padding: 0px;
	float: left;
	width: 28px; height: 33px;
	margin-top: 1px;
}
/* FIN METEO */

INPUT.dklik_accueil_rechercher {
	margin: 0px; padding: 0px;
	width: 150px; height: 16px;
	background-color: #f7f7f7;
	border: 1px solid #d2d2d2;
	color: #858585;
}

.liste_deroulante {
	width: 180px;
}

div#accueil_contenu2 {
	width: 393px; height: 107px;
	position: absolute;
	left: 50%; top: 35px;
	margin: 0px; padding: 0px;
	margin-left: -477px;
	background: white;
	background: url('fond_contenu2.png');
	border: 0px solid black;
}

DIV#accueil_profil {
	margin: 0px; padding: 0px;
	border: 0px solid black;
	width: 120px;
	text-align: left;
	margin-left: 270px;
	margin-top: 18px;
}

/* Bandeau flash */
div#accueil_contenu3 {
	width: 562px; height: 106px;
	overflow: hidden;
	position: absolute;
	left: 50%; top: 35px;
	margin: 0px; padding: 0px;
	margin-left: -84px;
	background: url('fond_contenu3.jpg');
	z-index: 10;
}

/* Menu horizontal */
div#accueil_contenu4 {
	width: 955px; height: 35px;
	position: absolute;
	left: 50%; top: 141px;
	margin: 0px; margin-left: -477px;
	background: white;
	border: 0px solid black;
	background: url('fond_contenu4.jpg');
	z-index: 100;
}

/* 1258 */
div#accueil_contenu5 {
	width: 524px; height: 1270px;
	position: absolute;
	left: 50%; top: 176px;
	margin: 0px; margin-left: -477px;
	background: white;
}

DIV#accueil_col1_bloc0 {
        margin: 0px; padding: 0px;
        padding-left: 30px;
        border: 0px solid black;
}

DIV#accueil_col1_bloc1 {
	margin: 0px; padding: 0px;
	padding-left: 30px; padding-top: 25px;
	border: 0px solid black;
}

DIV#accueil_col1_bloc3 {
	margin: 0px; padding: 0px;
	padding-left: 30px;
	border: 0px solid black;
}

div#accueil_contenu6 {
	width: 270px; height: 1270px;
	position: absolute;
	left: 50%; top: 176px;
	margin: 0px; margin-left: 47px;
	background: white;
	border: 0px solid black;
	border-left: 1px solid #d2d2d2;
}

DIV#accueil_col2_bloc1 {
	margin: 0px; padding: 0px;
	padding-left: 16px; margin-top: 25px;
	border: 0px solid black;
	width: 250px; height: 310px;
}

DIV#accueil_col2_bloc1 IMG {
	margin: 0px; padding: 0px;
	border: 0px solid;
}

DIV#accueil_col2_bloc2 {
	margin: 0px; padding: 0px;
	padding-left: 16px;
	border: 0px solid black;
	width: 250px;
}

DIV#accueil_col2_bloc2 IMG {
	margin: 0px; padding: 0px;
	border: 0px solid;
}


/* 3eme colonne */
div#accueil_col3 {
	width: 162px; height: 1270px;
	position: absolute;
	left: 50%; top: 176px;
	margin: 0px; margin-left: 316px;
	background: white;
	border: 0px solid black;
}

DIV#accueil_col3_bloc0 {
	margin: 0px; padding: 0px;
	width: 162px; height: 25px;
	border: 0px solid black;
}

DIV#intContenuCol3Publicite {
        margin: 0px; padding: 0px;
        width: 162px;
        border: 0px solid black;
}

DIV#accueil_col3_bloc1 {
	margin: 0px; padding: 0px;
	width: 162px;
	border: 0px solid black;
	overflow: hidden;
}


/* 4eme colonne */
div#accueil_col4 {
	width: 24px; height: 90px;
	position: absolute;
	left: 50%; top: 495px;
	margin: 0px; margin-left: 478px;
	border: 0px solid black;
	background: url('fleur.jpg');
}


div#accueil_contenu7 {
	width: 955px; height: 20px;
	position: absolute;
	left: 50%; top: 1446px;
	margin: 0px; margin-left: -477px;
	border: 0px solid black;
	background: url('fond_contenu7.jpg');
}

div#accueil_contenu7 TD {
	margin: 0px; padding: 0px;
	font-family: Trebuchet MS; font-size:10px; font-weight: normal; font-style: normal; color: #FFFFFF; text-decoration: none;
}

div#accueil_contenu7 A {
	margin: 0px; padding: 0px;
}

div#accueil_contenu8 {
	width: 955px; height: 16px;
	position: absolute;
	left: 50%; top: 1466px;
	margin: 0px; margin-left: -477px;
	border: 0px solid black;
	background: #BFC0BB;
}


/* Nouveau css DKLIK
 * concerne les liens -> Agrandir les polices
 *
 *
 */

/* Premier lien */
A.dklik_taille_normale, A.dklik_taille_normale_active { font-family: Trebuchet MS; font-size:11px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_normale:link, A.dklik_taille_normale_active:link { font-family: Trebuchet MS; font-size:11px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_normale:visited, A.dklik_taille_normale_active:visited { font-family: Trebuchet MS; font-size:11px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_normale:active, A.dklik_taille_normale_active:active { font-family: Trebuchet MS; font-size:11px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_normale:hover, A.dklik_taille_normale_active:hover { font-family: Trebuchet MS; font-size:11px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none;}

A.dklik_taille_normale_active { color: #8D127A; }
A.dklik_taille_normale_active:link { color: #8D127A; }
A.dklik_taille_normale_active:visited { color: #8D127A; }
A.dklik_taille_normale_active:active { color: #8D127A; }
A.dklik_taille_normale_active:hover { color: #8D127A; }

/* Deuxieme lien */
A.dklik_taille_plus, A.dklik_taille_plus_active { font-family: Trebuchet MS; font-size:15px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_plus:link, A.dklik_taille_plus_active:link { font-family: Trebuchet MS; font-size:15px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_plus:visited, A.dklik_taille_plus_active:visited { font-family: Trebuchet MS; font-size:15px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_plus:active, A.dklik_taille_plus_active:active { font-family: Trebuchet MS; font-size:15px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_plus:hover, A.dklik_taille_plus_active:hover { font-family: Trebuchet MS; font-size:15px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none;}

A.dklik_taille_plus_active { color: #8D127A; }
A.dklik_taille_plus_active:link { color: #8D127A; }
A.dklik_taille_plus_active:visited { color: #8D127A; }
A.dklik_taille_plus_active:active { color: #8D127A; }
A.dklik_taille_plus_active:hover { color: #8D127A; }

/* Troisieme lien */
A.dklik_taille_plusplus, A.dklik_taille_plusplus_active { font-family: Trebuchet MS; font-size:20px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_plusplus:link, A.dklik_taille_plusplus_active:link { font-family: Trebuchet MS; font-size:20px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_plusplus:visited, A.dklik_taille_plusplus_active:visited { font-family: Trebuchet MS; font-size:20px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_plusplus:active, A.dklik_taille_plusplus_active:active { font-family: Trebuchet MS; font-size:20px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }
A.dklik_taille_plusplus:hover, A.dklik_taille_plusplus_active:hover { font-family: Trebuchet MS; font-size:20px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none;}

A.dklik_taille_plusplus_active { color: #8D127A; }
A.dklik_taille_plusplus_active:link { color: #8D127A; }
A.dklik_taille_plusplus_active:visited { color: #8D127A; }
A.dklik_taille_plusplus_active:active { color: #8D127A; }
A.dklik_taille_plusplus_active:hover { color: #8D127A; }

/* Lien Malvoyany */
A.dklik_lienMenuFixe { font-family: Trebuchet MS; font-size:11px; font-weight:normal; font-style:normal; color: #999999; text-decoration: none; }

/* On supprme la bordure par defaut aux images du MENU GENERAL */
DIV#accueil_contenu4 IMG, DIV#MenudklikMenux0 IMG, DIV#MenudklikMenux1 IMG, DIV#MenudklikMenux2 IMG, DIV#MenudklikMenux3 IMG, DIV#MenudklikMenux4 IMG, DIV#MenudklikMenux5 IMG {
	margin: 0px; padding: 0px; border: 0px;
}

/* On gere les layers du menu general */
/*
DIV#MenudklikMenux0, DIV#MenudklikMenux1, DIV#MenudklikMenux3, DIV#MenudklikMenux5 {
	margin: 0px; padding: 0px;
	left: 50%;
}

DIV#MenudklikMenux0 { margin-left: 0px; }
DIV#MenudklikMenux1 { margin-left: -177px; }
DIV#MenudklikMenux3 { margin-left: 0px; }
DIV#MenudklikMenux5 { margin-left: 200px; }
*/

/*
DIV#MenudklikMenux0, DIV#MenudklikMenux1, DIV#MenudklikMenux2, DIV#MenudklikMenux3, DIV#MenudklikMenux4, DIV#MenudklikMenux5 {
	position: absolute; visibility: hidden;
	top: 176px; left: 50%;
	-moz-opacity:0.95; opacity: 0.95; filter:alpha(opacity=95);
	padding: 0px; 
	background: #a03365;
}

DIV#MenudklikMenux0 { margin-left: -477px; }
DIV#MenudklikMenux1 { margin-left: -323px; }
DIV#MenudklikMenux2 { margin-left: -156px; }
DIV#MenudklikMenux3 { margin-left: 28px; }
DIV#MenudklikMenux4 { margin-left: 79px; }
DIV#MenudklikMenux5 { margin-left: 79px; }
*/

/* 
 * CSS pour les actualites A LA UNE
 * de la page d'accueil
 * ...
 */

DIV#a_la_une IMG {
	margin: 0px; padding: 0px;
	border: 0px solid;
}
DIV#accueil_news_une_rubrique {
	margin: 0px; padding: 0px;
	font-family: Trebuchet MS; font-size:17px; font-weight: bold; font-style: italic; color: #921B52;
	line-height:1em;
	padding-bottom: 2px;
	border: 0px solid #d2d2d2;
}
DIV#accueil_news_une_date {
	margin: 0px; padding: 0px;
	font-family: Trebuchet MS; font-size:11px; font-weight: normal; font-style: normal; color: #E2016A;
	padding-bottom: 2px;
	border: 0px solid #d2d2d2;
}
DIV#accueil_news_une_titre { 
	margin: 0px; padding: 0px;
	font-family: Trebuchet MS; font-size:19px; font-weight: normal; font-style: normal; color: #595959;
	padding-bottom: 3px;
	line-height:1em;
	border: 0px solid #d2d2d2;
}
DIV#accueil_news_une_accroche { 
	margin: 0px; padding: 0px;
	font-family: Arial; font-size:12px; font-weight: normal; font-style: normal; color: #656565;
	padding-bottom: 6px;
	line-height:1.3em;
	border: 0px solid #d2d2d2;
}

DIV#accueil_news_une_accroche P { 
	margin: 0px; padding: 0px;
}

/* 
 * CSS pour les agendas A LA UNE
 * de la page d'accueil
 * ...
 */

DIV#accueil_agenda_une_img-container IMG {
	margin: 0px; padding: 0px;
	border: 0px solid;
}

DIV#accueil_agenda_une_date {
	margin: 0px; padding: 0px;
	font-family: Trebuchet MS; font-size:14px; font-weight: bold; font-style: normal; color: #921B52;
	padding-bottom: 1px;
	line-height:1.2em;
}

DIV#accueil_agenda_une_rubrique {
	margin: 0px; padding: 0px;
	font-family: Trebuchet MS; font-size:11px; font-weight: normal; font-style: normal; color: #E2016A;
	padding-bottom: 1px;
	line-height:1.2em;
}

DIV#accueil_agenda_une_titre {
	margin: 0px; padding: 0px;
	font-family: Trebuchet MS; font-size:12px; font-weight: bold; font-style: normal; color: #666666;
	padding-bottom: 1px;
	line-height:1.2em;
}

DIV#accueil_agenda_une_auteur {
	margin: 0px; padding: 0px;
	font-family: Trebuchet MS; font-size:11px; font-weight: normal; font-style: normal; color: #656565;
	padding-bottom: 1px;
	line-height:1.2em;
}

DIV#accueil_agenda_une_lien SPAN {
        margin: 0px; padding: 0px;
	background: #8E1B4E;
	font-family: Arial; font-size:11px; 
}

DIV#accueil_agenda_une_lien A {
	font-family: Trebuchet MS; font-size:11px; font-weight: normal; font-style: normal; color: #8E1B4E; text-decoration: none;
}


/* 
 * CSS pour les talents A LA UNE
 * de la page d'accueil
 * ...
 */
DIV#accueil_talent_une_titre {
	margin: 0px; padding: 0px;
	padding-left: 8px; padding-right: 8px; padding-top: 8px;
	font-family: Trebuchet MS; font-size:13px; font-weight: bold; font-style: normal; color: #333333;
	padding-bottom: 4px;
}

DIV#accueil_talent_une_accroche {
	margin: 0px; padding: 0px;
	padding-left: 8px; padding-right: 8px;
	font-family: Trebuchet MS; font-size:11px; font-weight: normal; font-style: normal; color: #656565;
	padding-bottom: 1px;
}

DIV#accueil_talent_une_accroche P {
	margin: 0px; padding: 0px;
}


DIV#accueil_talent_une_photo {
	margin: 0px; padding: 0px;
	padding-top: 8px;
	padding-left: 8px; padding-right: 8px;
	padding-bottom: 1px;
}

/* 
 * CSS pour la REGION en ACTION
 * de la page d'accueil
 * ...
 */
DIV#accueil_regionaction_container {
	margin: 0px; padding: 0px;
	width:234px;
	height:415px;
	border: 1px solid #d2d2d2;
	overflow: hidden;
}

DIV#accueil_regionaction_titre1 {
	text-align: left;
	margin: 0px; padding: 0px;
	padding-left: 8px; padding-right: 8px; padding-top: 12px;
	font-family: Trebuchet MS; font-size:13px; font-weight: bold; font-style: normal; color: #333333;
	padding-bottom: 4px;
}

DIV#accueil_regionaction_texte1 {
	text-align: left;
	margin: 0px; padding: 0px;
	padding-left: 8px; padding-right: 8px;
	font-family: Trebuchet MS; font-size:11px; font-weight: normal; font-style: normal; color: #656565;
	padding-bottom: 1px;
	line-height: 1.2em;
	height: 74px;
	overflow: hidden;
}

DIV#accueil_regionaction_lirelasuite1 {
	margin: 0px; padding: 0px;
	padding-top: 4px;
	padding-left: 8px; padding-right: 8px;
}

DIV#accueil_regionaction_titre2 {
	text-align: left;
	margin: 0px; padding: 0px;
	padding-left: 8px; padding-right: 8px;
	font-family: Trebuchet MS; font-size:13px; font-weight: bold; font-style: normal; color: #333333;
	padding-bottom: 2px;
}

DIV#accueil_regionaction_texte2 {
	text-align: left;
	margin: 0px; padding: 0px;
	padding-left: 8px; padding-right: 8px;
	font-family: Trebuchet MS; font-size:12px; font-weight: normal; font-style: normal; color: #808080;
	padding-bottom: 1px;
	line-height: 16px;
}

DIV#accueil_regionaction_texte2 p.bodytext {
	margin: 0px; padding: 0px;
}

DIV#accueil_regionaction_texte2 A { font-family: Trebuchet MS; font-size:12px; font-weight: normal; font-style: normal; color: #808080; text-decoration: none; }
DIV#accueil_regionaction_texte2 A:link { font-family: Trebuchet MS; font-size:12px; font-weight: normal; font-style: normal; color: #808080; text-decoration: none; }
DIV#accueil_regionaction_texte2 A:visited { font-family: Trebuchet MS; font-size:12px; font-weight: normal; font-style: normal; color: #808080; text-decoration: none; }
DIV#accueil_regionaction_texte2 A:active { font-family: Trebuchet MS; font-size:12px; font-weight: normal; font-style: normal; color: #808080; text-decoration: none; }
DIV#accueil_regionaction_texte2 A:hover { font-family: Trebuchet MS; font-size:12px; font-weight: normal; font-style: normal; color: #333333; text-decoration: none; }


DIV#accueil_regionaction_lirelasuite2 {
	margin: 0px; padding: 0px;
	padding-top: 2px;
}


/* 
 * CSS pour le bloc PORTAIL REGIONAL
 * de la page d'accueil
 * ...
 */
DIV#accueil_portailregional_container {
	margin: 0px; padding: 0px;
	width: 236px; height: 125px;
	background: url('fond.png');
}

DIV#accueil_portailregional_haut {
	margin: 0px; padding: 0px;
	width: 236px; height: 72px;
}



/* 
 * CSS pour le bloc REGION MULTIMEDIA
 * de la page d'accueil
 * ...
 */
DIV#accueil_regionMultimedia_bloc2 {
	margin: 0px; padding: 0px; margin-bottom: 1em;
	width: 236px; height: 94px;
	background: url('regionMultimedia_Bloc2_Fond.png');
	overflow: hidden;
}

DIV#accueil_regionMultimedia_bloc2 UL {
	margin: 0px; padding: 0px;
	margin-left: 13px;
	font-family: Trebuchet MS; font-size:13px; font-weight: bold; font-style: normal; color: #333333; text-decoration: none;
}

DIV#accueil_regionMultimedia_bloc2 UL LI {
	list-style-type: none;
}

DIV#accueil_regionMultimedia_bloc2 UL LI A { line-height: 1.5em; font-family: Trebuchet MS; font-size:12px; font-weight: bold; font-style: normal; color: #333333; text-decoration: none; }
DIV#accueil_regionMultimedia_bloc2 UL LI A:link { line-height: 1.5em; font-family: Trebuchet MS; font-size:12px; font-weight: bold; font-style: normal; color: #333333; text-decoration: none; }
DIV#accueil_regionMultimedia_bloc2 UL LI A:visited { line-height: 1.5em; font-family: Trebuchet MS; font-size:12px; font-weight: bold; font-style: normal; color: #333333; text-decoration: none; }
DIV#accueil_regionMultimedia_bloc2 UL LI A:active { line-height: 1.5em; font-family: Trebuchet MS; font-size:12px; font-weight: bold; font-style: normal; color: #333333; text-decoration: none; }
DIV#accueil_regionMultimedia_bloc2 UL LI A:hover { line-height: 1.5em; font-family: Trebuchet MS; font-size:12px; font-weight: bold; font-style: normal; color: #808080; text-decoration: none; }



/* 
 * CSS pour le Footer
 * de la page d'accueil
 * ...
 */
 
DIV#accueil_contenu7 A { font-family: Trebuchet MS; font-size:10px; font-weight: normal; font-style: normal; color: #FFFFFF; text-decoration: none; }
DIV#accueil_contenu7 A:link { font-family: Trebuchet MS; font-size:10px; font-weight: normal; font-style: normal; color: #FFFFFF; text-decoration: none; }
DIV#accueil_contenu7 A:visited { font-family: Trebuchet MS; font-size:10px; font-weight: normal; font-style: normal; color: #FFFFFF; text-decoration: none; }
DIV#accueil_contenu7 A:active { font-family: Trebuchet MS; font-size:10px; font-weight: normal; font-style: normal; color: #FFFFFF; text-decoration: none; }
DIV#accueil_contenu7 A:hover { font-family: Trebuchet MS; font-size:10px; font-weight: normal; font-style: normal; color: #FFFFFF; text-decoration: none; }





/*      
 * MON ESPACE
 * ...
 */
TABLE#MonEspaceTable {
	margin: 0px;padding: 0px;
	margin-left: 10px;
}

P.MonEspaceTitre {
	margin: 0px; padding: 0px;
	font-family: Arial; font-size:12px; font-weight: bold; font-style: normal; color: #272727;
	margin-top: 4px;
}

FONT.MonEspaceTexte {
	margin: 0px; padding: 0px;
	font-family: Arial; font-size:11px; font-weight: normal; font-style: normal; color: #6D6D6D;
}

INPUT.formMonEspaceColDroiteInput {
	margin: 0px; padding: 0px;
	margin-bottom: 4px;
	border: 0px solid;
	width: 140px; height: 18px;
}

INPUT.formMonEspaceColDroiteInput2 {
	margin: 0px; padding: 0px;
	margin-bottom: 4px;
	border: 0px solid;
	width: 120px; height: 18px;
}

IMG.MonEspaceImgJeMinscris {
	margin-top: 8px;
}

INPUT.formMonEspaceInscriptionInput {
	margin: 0px; padding: 0px;
	border: 1px solid #6D6D6D;
	width: 200px; height: 18px;
	margin-bottom: 6px;
}

FONT.MonEspaceLegende {
	margin: 0px; padding: 0px;
	font-family: Arial; font-size:11px; font-weight: normal; font-style: italic; color: #6D6D6D;
}




/* 
 * CSS pour le bloc VOTRE AVIS
 * de la page d'accueil
 * ...
 */
DIV#accueil_votreavis_container {
	margin: 0px; padding: 0px;
	border: 0px solid black;
	width: 161px;
	background: url('colD_fond5.jpg');
	padding-bottom: 10px;
}

DIV#accueil_votreavis_haut {
	margin: 0px; padding: 0px;
	width: 146px; height: 22px;
}

DIV#accueil_votreavis_texte {
	margin: 0px; padding: 0px; margin-left: 10px; margin-bottom: 1em;
	width: 146px;
	overflow: hidden;
	font-family: Arial; font-size:11px; font-weight: normal; font-style: normal; color: #333333; text-decoration: none;
	line-height: 1em;
}

DIV#accueil_votreavis_photo {
	margin: 0px; padding: 0px;
}

DIV#accueil_votreavis_texte A { font-family: Trebuchet MS; font-size:12px; font-weight: bold; font-style: normal; color: #333333; text-decoration: none; line-height: 1.2em; }
DIV#accueil_votreavis_texte A:link { font-family: Trebuchet MS; font-size:12px; font-weight: bold; font-style: normal; color: #333333; text-decoration: none; line-height: 1.2em; }
DIV#accueil_votreavis_texte A:visited { font-family: Trebuchet MS; font-size:12px; font-weight: bold; font-style: normal; color: #333333; text-decoration: none; line-height: 1.2em; }
DIV#accueil_votreavis_texte A:active { font-family: Trebuchet MS; font-size:12px; font-weight: bold; font-style: normal; color: #333333; text-decoration: none; line-height: 1.2em; }
DIV#accueil_votreavis_texte A:hover { font-family: Trebuchet MS; font-size:12px; font-weight: bold; font-style: normal; color: #333333; text-decoration: none; line-height: 1.2em; }



/* ------------------------------------------------
 * CSS pour le JEU CONCOURS
 * de la page d'accueil
 * ...
 -------------------------------------------------- */
DIV#accueil_jeuconcours_container {
	margin: 0px; padding: 0px;
	border: 10px solid black;
	width: 161px;
	border: 0px solid #000000;
	background: url('colD_fond4.jpg');
	border: 0px solid black;
	padding-bottom: 1em;
}

DIV#accueil_jeuconcours_haut {
	margin: 0px; padding: 0px;
	width: 146px; height: 66px;
	border: 0px solid black;
}

DIV#accueil_jeuconcours_texte {
	margin: 0px; padding: 0px;
	margin-left: 8px;
	width: 146px;
	font-family: Trebuchet MS; font-size:11px; font-weight: normal; font-style: normal; color: #921B52; text-decoration: none;
	border: 0px solid black;
	padding-bottom: 1em;
}

DIV#accueil_jeuconcours_photo DIV {
	margin: 0px; padding: 0px;
	margin-left: 4px;
}

DIV#accueil_jeuconcours_texte A { font-family: Trebuchet MS; font-size:11px; font-weight: normal; font-style: normal; color: #921B52; text-decoration: none; }
DIV#accueil_jeuconcours_texte A:link { font-family: Trebuchet MS; font-size:11px; font-weight: normal; font-style: normal; color: #921B52; text-decoration: none; }
DIV#accueil_jeuconcours_texte A:visited { font-family: Trebuchet MS; font-size:11px; font-weight: normal; font-style: normal; color: #921B52; text-decoration: none; }
DIV#accueil_jeuconcours_texte A:active { font-family: Trebuchet MS; font-size:11px; font-weight: normal; font-style: normal; color: #921B52; text-decoration: none; }
DIV#accueil_jeuconcours_texte A:hover { font-family: Trebuchet MS; font-size:11px; font-weight: normal; font-style: normal; color: #921B52; text-decoration: none; }


DIV#accueil_jeuconcours_photo {
	margin: 0px; padding: 0px;
	width: 146px;
	border: 0px solid black;
}

DIV#accueil_jeuconcours_photo IMG {
	margin: 0px; padding: 0px;
	border: 0px solid white;
	margin-left: 10px;
}



