body{margin:0;text-align:center;font-family:Arial, Helvetica, sans-serif;font-size:12px; color:#32445F;
scrollbar-3dlight-color:#EFF2F5;
	scrollbar-arrow-color:#EFF2F5;
	scrollbar-darkshadow-color:#EFF2F5;
	scrollbar-face-color:#00529C;
	scrollbar-highlight-color:#00529C;
	scrollbar-shadow-color:#00529C;
	scrollbar-track-color:#EFF2F5;}
td,p{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#32445F;}
img{border:0;}

a:link, a:visited, a:hover {color:#0C50B6;text-decoration: underline;}
a:hover {text-decoration: none;}

#bloc{position:relative;margin:auto;clear:both;width:940px;}
#fond{width:100%; height:100%;background: url("fondCercle.jpg") no-repeat top center;}

#header{width:940px;height:160px;text-align:left;position:relative; margin:auto; font-size:11px;font-family:Arial, Helvetica, sans-serif;}
#logo{ position:absolute; top:33px; left:49px; width:161px; height:126px;}
#logo_print{ display:none;}
#chercher{margin:10px 0px 10px 0px;width:153px; }
#chercher .formText{width:102px; height:15px;padding:2px 0px 0px 3px;}
#chercher .formBouton{width:20px; height:17px;padding:0;}
#chercher .formBoutonOver{width:20px; height:17px;padding:0;}
#imgRight{position:absolute; top:0px; right:15px;width:246px; height:461px; background:#3A5F81 url(imgRight.gif) no-repeat bottom;}
#imgRight_photo{position:absolute; top:2px; right:10px;width:226px; height:300px; overflow:hidden;background:url(imgRight.jpg) no-repeat bottom;}

#urlhere{ min-height:18px;font-size:10px;color:#00529C; text-align:left; padding:2px 260px 0px 40px;}
#urlhere a{ color:#00529C; text-decoration:none;}
#urlhere a:hover{ color:#00529C;}
#icones{ position:absolute; top:175px; left:618px; width:54px; height:19px;}
#icones img{ margin-right:7px;}

#blocContent{width:940px;}
#menuContainer{width:153px; padding:27px 0px 0px 7px;text-align:left; vertical-align:top;}
#mainContent{width:780px;background:url(fond_contentS.jpg) repeat-y left top;text-align:justify;vertical-align:top;}
#mainContent_fondTop{background:url(fond_content.jpg) no-repeat left top; }
#mainContent_fondBottom{background:url(contentBottom.jpg) no-repeat left top; width:780px; height:39px;}
#contentBody{min-height:300px; width:700px;}
#contentText{text-align:justify;padding:15px 0px 20px 60px;min-height:300px; width:430px;}
#titreBottom{ width:493px; height:13px;margin:0px 0px 0px 26px;background:url(fond_titreBottom.jpg) no-repeat right top;}
#retour{margin:0px 0px 20px 10px; text-align:left;}

/*L'encart pour les articles*/
#encart{ float:right; display:block;margin-right:-80px;margin-top:250px;width:264px;background:url(encartFond.gif) repeat-y left top; text-align:left; font-size:11px;}
#encart a{ color:#569EC0;}
#encart h3{width:224px;height:20px; margin:0; padding:36px 0px 0px 40px;background:url(encartTop.gif) no-repeat left top;}
#encartBottom{width:264px;height:31px;background:url(encartBottom.gif) no-repeat left top;}
#encart ul{ margin:10px 10px 5px 35px;width:205px; padding:0; list-style:none; list-style-image:none;}
#encart ul li{background:url(encartPuce.gif) no-repeat left top; padding:2px 0px 3px 23px; margin:0;}
#bar{clear:both; margin:auto; position:relative; padding:1px;}

/*Footer*/
#footerContainer{position:relative;clear:both;margin:10px auto;background:url(footer_s.jpg) repeat-x top;}
#footer{width:100%;height:34px; padding-top:20px;background:url(footer.jpg) no-repeat top;text-align:center; color:#3A5F81; font-size:11px;font-family:Arial, Helvetica, sans-serif;}
#footer a{color:#EF3E42;}
#mentions{position:absolute; top:10px; left:0px;width:300px; text-align:left;}
#mentions a{margin-right:5px; text-decoration:none;}
#credit{margin:14px auto; position:relative;width:940px;font-size:11px;text-align:right; padding-top:10px;color:#3A5F81;}
#credit a{ color:#3A5F81;}

h1, h2, h3, h4, h5, h6 {margin:0;padding:0;color:#2570CB; font-family:"Century Gothic", Tahoma, Geneva, sans-serif;}
h1{font-weight:bold;font-size:18px;/*margin:12px 0px 0px 34px;*/padding:0px 0px 0px 23px;width:470px;margin:12px 0px 0px 26px;color:#165B9F;background:url(fond_titre.jpg) repeat-y right top;}
h2{font-size:16px; padding:15px 0px 10px 0px;font-weight:bold;}
h3{font-size:14px;padding:10px 0px 5px 0px;font-weight:bold;}
h4{font-size:12px;padding:5px 0px 3px 0px;font-weight:bold;}
h5{padding:5px 0px 3px 0px; font-size:12px;color:#569EC0;font-weight:bold;}
h6{padding:3px;font-weight:normal;font-size:11px;font-style:italic;}

ul {list-style-image:none; list-style:none; text-align:left;}
ul ul{ list-style-type:square;}
ul ul ul{list-style-type: none;}
ul li{background:url(list-style-image.gif) no-repeat left top; padding:0px 0px 3px 20px;list-style-image:none; list-style:none;}

.imageAligneeAdroite {
	float:right;
	margin:1px;
}

@media print {
.noprint{ display:none;}
#logo_print{ display:block; float:left; width:161px; height:126px; margin:0 2%; clear:both;}
}