<head>
<STYLE TYPE="text/css">

TD.MENU
{
    BACKGROUND	: #FFFFFF;
    CURSOR	: hand
}

a        { font-size: 11px; color: #5FA8E4; text-decoration : none; font-weight : bold;  }
a:active {  font-size: 11px; color: #2D75B0; text-decoration : none; }
a:hover  {  font-size: 11px; color: #2D75B0; text-decoration : underline; }

.bas { font-family: Verdana; font-size: 11px; color: #D0ECFE; text-decoration : underline; }
.bas:active { font-family: Verdana; font-size: 11px; color: #D0ECFE; text-decoration : none; }
.bas:hover { font-family: Verdana; font-size: 11px; color: #D0ECFE; text-decoration : none; }

.menu { font-family: Verdana; font-size: 11px; color: #294A94; text-decoration : none; }
.menu:active { font-family: Verdana; font-size: 11px; color: #294A94; text-decoration : none; }
.menu:hover { font-family: Verdana; font-size: 11px; color: #294A94; text-decoration : underline; }

.actions { font-family: Arial; font-size: 11px; color: #000000; text-decoration : none; font-weight : normal; }
.actions:active { font-family: Arial; font-size: 11px; color: #000000; text-decoration : none; }
.actions:hover { font-family: Arial; font-size: 11px; color: #000000; text-decoration : underline; font-weight : normal; }

.formulaire { font-family: Arial; font-size: 12px; color: #000000; text-decoration : none; }
.formulaire:active { font-family: Arial; font-size: 12px; color: #000000; text-decoration : none; }
.formulaire:hover { font-family: Arial; font-size: 12px; color: #000000; text-decoration : none; }

.liens { font-family: Verdana; font-size: 11px; color: #666666; text-decoration : underline; }
.liens:active { font-family: Verdana; font-size: 11px; color: #666666; text-decoration : none; }
.liens:hover { font-family: Verdana; font-size: 11px; color: #666666; text-decoration : none; }
.menuh { font-family: Verdana; font-size: 10px; font-weight : bold; color: #666666; text-decoration : none; }
.menuh:active { font-family: Verdana; font-size: 10px; font-weight : bold; color: #666666; text-decoration : none; }
.menuh:hover { font-family: Verdana; font-size: 10px; font-weight : bold; color: #666666; text-decoration : underline; }

.menuCN 		{ font-family: Verdana; font-size: 11px; color: #091d5a; text-decoration : none; font-weight : normal; }
.menuCN:active 	{ font-family: Verdana; font-size: 11px; color: #091d5a; text-decoration : none; font-weight : normal; }
.menuCN:hover 	{ font-family: Verdana; font-size: 11px; color: #091d5a; text-decoration : none; font-weight : normal; }

.menuhCN 		{ font-family: Verdana; font-size: 11px; color: #ffffff; text-decoration : none; font-weight : normal; }
.menuhCN:active { font-family: Verdana; font-size: 11px; color: #032157; text-decoration : none; font-weight : normal; }
.menuhCN:hover 	{ font-family: Verdana; font-size: 11px; color: white; text-decoration : underline; font-weight : normal; }

.titreBandeauDroite	{font-family: Verdana; font-size: 9px; color: #3176b9; text-decoration : none; }
.texteBandeauDroite	{font-family: Verdana; font-size: 9px; color: #000000; text-decoration : none; }

.menurouge { font-family: Verdana; font-size: 11px; color: #AE3850; text-decoration : none; }
.menurouge:active { font-family: Verdana; font-size: 11px; color: #AE3850; text-decoration : none; }
.menurouge:hover { font-family: Verdana; font-size: 11px; color: #AE3850; text-decoration : underline; }

.marquee        { font-family: Arial; font-size: 11px; font-weight : bold; color: #CA0E0E; text-decoration : none; margin: 0;}
.marquee:active { font-family: Arial; font-size: 11px; font-weight : bold; color: #CA0E0E; text-decoration : none; margin: 0;}
.marquee:hover  { font-family: Arial; font-size: 11px; font-weight : bold; color: #CA0E0E; text-decoration : underline; margin: 0;}
.marquee2       { font-family: Arial; font-size: 11px; font-weight : bold; color: #5FA8E4; text-decoration : none; margin: 0;}
#div_defilant { position:relative; overflow:hidden; height:16px; text-align:left; margin:auto;  }

.fondblanc { COLOR : #FFFFFF; background-color : #FFFFFF; }
.fondgris { COLOR : #F2F2F2; background-color : #F2F2F2; }
.fondgris2 { COLOR : #CCCCCC; background-color : #CCCCCC; }
.fondgris3 { COLOR : #FBFAFA; background-color : #FBFAFA; }
.fondbleu { COLOR : #AABFDF; background-color : #AABFDF; }
.fondbleu1 { COLOR : #A4BCDC; background-color : #A4BCDC; }
.fondbleu2 { COLOR : #4978B8; background-color : #4978B8; }
.fondbleu3 { COLOR : #E5F2FA; background-color : #E5F2FA; }
.fondbleu4 { COLOR : #C9E4F5; background-color : #C9E4F5; }
.fondbleu5 { COLOR : #CAE4F5; background-color : #CAE4F5; }
.fondbleu6 { COLOR : #F3FAFE; background-color : #F3FAFE; }

.textebleu { COLOR : #053C88; FONT-FAMILY : Verdana; font-size : 10px; text-decoration : none; font-weight : bold; }
.textebleu2 { COLOR : #294A94; FONT-FAMILY : Verdana; font-size : 11px; text-decoration : none; font-weight : bold; }
.texteblanc { COLOR : #FFFFFF; FONT-FAMILY : Verdana; font-size : 10px; text-decoration : none; font-weight : bold; }
.texteblanc2 { COLOR : #FFFFFF; FONT-FAMILY : Verdana; font-size : 11px; text-decoration : none; font-weight : bold; }
.textebas { font-family: Verdana; font-size: 11px; color: #D0ECFE; text-decoration : none; }
.vols { font-family: Verdana; font-size: 10px; color: #FF8C00; text-decoration : none; }
.space { COLOR : #053C88; FONT-FAMILY : Verdana; font-size : 8px; text-decoration : none; font-weight : bold; }

.titrebleu { COLOR : #3863AC; FONT-FAMILY : Verdana; font-size : 14px; text-decoration : none; font-weight : bold; }
.titreorange { COLOR : #FF8C00; FONT-FAMILY : Verdana; font-size : 14px; text-decoration : none; font-weight : bold; }

.selectsite { COLOR : #053C88; FONT-FAMILY : Verdana; font-size : 10px; text-decoration : none; font-weight : normal; width :
 188px;}
.recherche { COLOR : #053C88; FONT-FAMILY : Verdana; font-size : 10px; text-decoration : none; font-weight : normal; width : 90px; position : relative; top : 0px; }
.inputcourt { COLOR : #053C88; FONT-FAMILY : Verdana; font-size : 9px; text-decoration : none; font-weight : normal; width : 38px;}
.inputmoyen { COLOR : #053C88; FONT-FAMILY : Verdana; font-size : 9px; text-decoration : none; font-weight : normal; width : 54px;} 
.inputlong { COLOR : #053C88; FONT-FAMILY : Verdana; font-size : 9px; text-decoration : none; font-weight : normal; width : 94px;}
.input_ville { COLOR : #053C88; FONT-FAMILY : Verdana; font-size : 9px; text-decoration : none; font-weight : normal; width : 140px;}
 
.listeMenuVisible{ margin: 0; padding: 0; display: block; align:left;}
.listeMenuInvisible{ margin: 0; padding: 0; display: none; align:left;}
 
 
.cellule_milieu { background-color : #EDEDED; }

.pied_page   { FONT-FAMILY : Verdana; font-size : 9px; text-decoration : none; color : #A9A9A9; }
.pied_page a { FONT-FAMILY : Verdana; font-size : 9px; text-decoration : none; color : #A9A9A9; }
.pied_page a:hover{  FONT-FAMILY : Verdana;  font-size : 9px; text-decoration : underline; color : #2D75B0; }
 
.fond_marquee_gris { FONT-FAMILY : Arial; font-weight : 700; font-size : 11px; color: #B50020; background-color : #EBEBEB; height: 29px; }
  
.titre_actu { FONT-FAMILY : Arial; font-weight : 700; font-size : 11px; color: #54A3DE; }
a:hover.titre_actu { FONT-FAMILY : Arial; font-weight : 700; font-size : 11px; color: #54A3DE; }
 
.desc_actu { FONT-FAMILY : Arial; font-size : 11px; color: #000000; }
a:hover.desc_actu{ FONT-FAMILY : Arial; font-size : 11px; color: #000000; }
 
.lien_plus_info{ FONT-FAMILY : Arial; font-weight : 700; font-size : 11px; color: #FF8C00; }
a:hover.lien_plus_info{ FONT-FAMILY : Arial; font-weight : 700; font-size : 11px; color: #FF8C00; }
 
.lien_vols_actif        { FONT-FAMILY : Arial; font-weight : normal; font-size : 11px; color: #FFFFFF; }
a:hover.lien_vols_actif { FONT-FAMILY : Arial; font-weight : normal; font-size : 11px; color: #2D75B0; text-decoration : underline; }
.lien_vols_passif       { FONT-FAMILY : Arial; font-weight : normal; font-size : 11px; color: #9B9B9B; }
a:hover.lien_vols_passif{ FONT-FAMILY : Arial; font-weight : normal; font-size : 11px; color: #2D75B0; text-decoration : underline; }

.fond_bleu_clair { FONT-FAMILY : Arial; font-size : 11px; background-color : #EBF3FE; color : #000000; padding-left: 0px; }
.fond_blanc_actu { FONT-FAMILY : Arial; font-size : 11px; background-color : white; color : #000000; padding-left: 0px; }
 
.titre_bleu {  font-weight : 700;  color : #3E5396; }
.titre_bleu_0 {  FONT-FAMILY : Arial;  font-size : 11px;  font-weight : 700;  color : #62A7E0; }
 
 
.liens_acc_pdp        { FONT-FAMILY : Arial; font-weight : 700; font-size : 11px; color: #98989A; }
a:hover.liens_acc_pdp { FONT-FAMILY : Arial; font-weight : 700; font-size : 11px; color: #CE528C; }

.liens_acc_cap        { FONT-FAMILY : Arial; font-weight : 700; font-size : 11px; color: #98989A; }
a:hover.liens_acc_cap{ FONT-FAMILY : Arial; font-weight : 700; font-size : 11px; color: #E78C5A; }

.liens_acc_bleu        { FONT-FAMILY : Arial; font-weight : 700; font-size : 11px; color: #98989A; }
a:hover.liens_acc_bleu{ FONT-FAMILY : Arial; font-weight : 700; font-size : 11px; color: #2994CE; }

.texte_noir { COLOR : black; FONT-FAMILY : Arial; font-size : 10px; text-decoration : none; font-weight : normal; }
a:hover.texte_noir { COLOR : #CA0E0E; FONT-FAMILY : Arial; font-size : 10px; text-decoration : none; font-weight : normal; }

.accueil_majuscule { font-family:Arial; font-size:11px; color:#3B51AF; font-weight:bold; padding-left:20; }

.titre_destinations { font-family:Arial; font-size:12px; color:white; font-weight:bold; padding-left:0; }


</STYLE>
</head>