/*
	PB 03/08/08; lack of opacity support hack;
*/
* html .error ul
{ filter: alpha( opacity = 70 ); }

* html .ft
{ 
	width: 100%; 
	height: 2em;
	background: transparent url(http://www.martini.com/images/div-ft-BG.gif) repeat-x;
}
/* end hack */

/*
	PB 03/08/08; double margin bug fix;
*/
* html #promoWrapper,
* html #page64 #content .col,
* html .type15 #main,
* html .type15 .flexible
{ display: inline; }
/* end hack */

/*
	PB 03/08/08; min-height fix;
*/
* html .events a			{ height: 157px; }
* html #page1 #defaultFlash	{ height: 366px; }
* html #ferrariFlash		{ height: 495px; }
* html #defaultFlash,
* html #ferrariFlash		{ height: 495px; }
* html body.type13 #content	{ height: 359px; }
* html #drinksFlash			{ height: 620px; }
* html .events a			{ height: 75px; }
* html #flashCarousel		{ height: 260px; }
* html body.type6 #content	{ height: 250px; }
/* end hack */

/*
	PB 03/08/08; white space bug fix;
*/
* html .type16 ol li a { height: 1%; }
/* end hack */


* html .pageTemplate2 .flexible,
* html .pageTemplate3 .flexible
{ 
	/*margin-left: 0;*/ 
	padding-left: 64px;
}
/* end hack */

/*PB 13/08/07*/
* html #navigation .primary.haschildren
{
	height: 4em;
}
/*end fix*/

/*
	PB 03/08/08; set to block implicitly;
*/
* html fieldset
{
	display: block;
}
/* end hack */

/*
	PB 03/08/08; width jog;
*/
* html select#country { width: 173px; }
/* end hack */

/*
	PB 03/08/08;
*/
* html ul.drivers li ol,
* html ul.drivers li ol li
{
	list-style-position: outside; 
}
/* end hack */

* html ul.suggestions dl /*DK 25/6/9 - re-styled: /ServingSuggestions.aspx?... */
{
	height:200px;}