
#actus #skyblog_semaine {
	clear:left;
	margin-bottom:8px;
        position: relative;
}
#actus #skyblog_semaine img {
	float:left;
	margin:0 10px;
	position: relative;
}
#actus #skyblog_semaine h4 {
	font-size:11px;
	text-decoration:underline;
}
#actus #skyblog_semaine p {
	font-size:11px;
	margin:0 15px 15px 280px;
}
#actus #skyblog {
	clear:left;
	margin-bottom:8px;
	position: relative;
}
#actus #skyblog ul {
	margin:0 0 0 15px;
}
#actus #skyblog ul li {
	position: relative;
	float: left;
	width: 47%;
	height: 55px;
}
#actus #skyblog ul li img {
	float:left;
        margin-right: 5px;
        border: 1px solid #000;
        position: relative;
}
#actus #skyblog ul li h4, #actus #skyblog ul li h4 a {
	font-size:12px;
	color:#cff;
}
#actus #skyblog ul li p {
	font-size:12px;
	margin:0;
}
#actus p.propose {
	text-align:right;
	font-size:13px;
	margin: 5px 0 0 0;
	clear:both;
}
#actus p.propose a {
	color:#fff;
}
#actus div.propose {
	text-align: right;
}
#actus div.propose a {
	float: right;
}
#actus #avis_skynautes {
	clear:left;
	margin-bottom:8px;
	position: relative;
}
#actus #avis_skynautes .content {
	height:174px;
}
#actus #avis_skynautes img {
	float:left;
	margin:0 1px;
}
#actus #avis_skynautes p {
	font-size:13px;
	margin:2px 10px;
}
#actus #avis_skynautes ul {
	background:#c8c8c8;
	padding:3px;
	margin:0 20px 0 10px;
}
#actus #avis_skynautes ul li {
	border-top:1px solid #fff;
	border-bottom:1px solid #575757;
	clear:left;
	height:27px;
	margin:0;
}
#actus #avis_skynautes ul li.bg_grey{
	background:#999999;
}
#actus #avis_skynautes ul li p {
	font-size:11px;
	float:left;
	margin:0;
}
#actus #avis_skynautes ul li p.pseudo {
	width:90px;
	padding:2px 5px;
}
#actus #avis_skynautes ul li p.chapo {
	width:190px;
	font-size:9px;
	padding:1px 5px;
}
#actus #avis_skynautes ul li p.date {
	width:80px;
	text-align:right;
	padding:2px 5px;
}
#left_col #location {
	color:#fff;
	font-size:12px;
	padding:3px 10px 3px 0;
}
#left_col #location p.pages a {
	color: #fff;
}
#left_col #location p.pages {
	float:right;
}
#left_col #liste-news {
	margin-bottom:8px;
	/*height:135px;*/
}
#left_col #liste-news img {
	float:left;
	margin:1px 10px;
}
#left_col #liste-news h3 {
	font-size:13px;
}
#left_col #liste-news p {
	font-size:13px;
	}
#left_col #liste-news p.date {
	text-align:right;
	padding-right:15px;
	font-size:11px;
}
#left_col #liste-news p.clear {
	clear:both;
}
#left_col #liste-news a {
	color:#ccc;
}
#left_col #liste-news p.chapo, #left_col #liste-news p.content_news{
	padding:10px 15px;
}
div.content_news {
	padding-left: 10px;
	margin-right: 17px;
	font-size: 13px;
}
#left_col #liste_news p.chapo a {
	color: #000;
}
#left_col #liste-news p.suite {
	padding:0 15px;
	text-align:right;
	font-size:11px;
}
#left_col #liste-news span {
	display:block;
	margin:5px 30px;
	height:3px;
	background:#999 url(http://www.skyrock.fm/front/css/img/points.png) repeat-x 50%;
}
#liste-news li { 
	clear: both;
}


	height: 192px;
}
#encore_plus {
	float:right;
	margin:0 0 8px 0;
}
#encore_plus .content {
	margin-top:-3px;
	width:300px;
	font-size:11px;
}
#encore_plus ul {
	width:130px;
	float:left;
	margin-left:10px;
}
#encore_plus ul#first {
	text-align:right;
}

#encore_plus {
  clear:right;
    width:300px;
  background:url(bg_encore_plus.jpg) no-repeat;
    height:192px;
}
#encore_plus li span {
  display:none
}
#reagis-difool a, #pas-cher a, #romamonstre a, #lotofoot a, #probleme-mois a {
 height: 35px;
 width: 150px;
 display: block;
 }
#reagis-difool a{
 background:url(reagis-difool.png) no-repeat;
}
* html #reagis-difool a {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://skyrock.fm/front/css/img/reagis-difool.png',sizingMethod='crop');
}
#pas-cher a{
 background:url(pas-cher.png) no-repeat;
}
* html #pas-cher a {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://skyrock.fm/front/css/img/pas-cher.png',sizingMethod='crop');
}
#romamonstre a {
 background:url(romamonstre.png) no-repeat;
}
* html #romamonstre a {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://skyrock.fm/front/css/img/romamonstre.png',sizingMethod='crop');
}
#lotofoot a{
 background: url(lotofoot.png) no-repeat;
 display: block;
}
* html #lotofoot a {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://skyrock.fm/front/css/img/lotofoot.png',sizingMethod='crop');
}
#probleme-mois a{
 background: url(probleme-mois.png) no-repeat;
}
* html #probleme-mois a {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://skyrock.fm/front/css/img/probleme-mois.png',sizingMethod='crop');
}

#freestyle .content { margin-top:-3px; font-size:11px; padding: 0px 12px 16px 12px; }
#freestyle ul.left { float: left; width: 210px; }
#freestyle ul.right { float: right; width: 210px; }
#freestyle li.control_play { height: 16px; line-height: 16px; overflow: hidden; }
#freestyle li.control_play a { height: 16px; line-height: 16px; background: url(control_play.png) no-repeat; padding-left: 20px; }
#freestyle li.control_play a:hover { background-position: 0px -16px; }

#dernieres_interviews {
	}
	#dernieres_interviews .content, #dernieres_chroniques .content {
		margin-top:-3px;
		height:68px;
		}
	#dernieres_interviews ul, #dernieres_chroniques ul {
		margin:0 0 0 20px;
		float:left;
		}
	#dernieres_interviews p, #dernieres_chroniques p {
		clear:right;
		text-align:right;
		width:280px;
		}

#radio #recherche_pub {
	background:url(bg_recherche.png) repeat-y left;
	}
	#radio #recherche_pub a {
    text-decoration : none;
		color: #fff;
		}
	#radio #recherche_pub a:hover {
    text-decoration : underline;
  }
	#radio #recherche_pub p {
    padding: 10px;
    color: #fff;
    text-align: center;
		font-size: 11px;
		}
	#radio #recherche_pub .title {
		background:url(bg_recherche_title.png) no-repeat top left;
		}
	#radio #recherche_pub .content {
		background:url(bg_recherche_content.png) no-repeat bottom left;
		height:185px;
		}
		#radio #recherche_pub .content form {
      text-align: center;
			font-size:11px;
			color:#ccc;
			padding:25px 10px 15px 10px;
			}
		* html #radio #recherche_pub .content form {
      padding-top: 40px;
    }
			#radio #recherche_pub .content form select {
				width:130px;
				}
			#radio #recherche_pub .content form#grille_officielle select {
				margin:4px 0 !important;
				margin:0;
				}
			#radio #recherche_pub .content form#frequences select {
				margin:12px 0 0 0 !important;
				margin:0;
				}
			#radio #recherche_pub .content form input {
				width:20px;
				height:15px;
				}
			#radio #recherche_pub .content form input.bouton {
				width:24px;
				height:13px;
        border: none;
				cursor: pointer;
        background: url(bouton_ok.png.1) top left no-repeat;
				}
#radio #left_col .full .content p {

	}
#hits {
	clear:left;
	}
	#hits .title ul#hits_links {
		float:right;
		padding-right:32px;
		}
		#hits .title ul#hits_links li {
			display:inline;
			float:left;
			height:17px;
			
			margin:1px;
			}
			#hits .title ul#hits_links li a {
				display:block;
				padding:1px 0 0 5px;
				color:#ccc;
				font-size:11px;
				}
			#hits .title ul#hits_links li.selected a {
				color:#fcff00;
				font-weight:bold;
				}
	#hits table, #concert #central table {
		font-size:11px;
		margin-left:15px;
		width:425px;
		border-collapse: collapse;
		}
		#hits table tr, #concert #central table tr {
			background:#e7e7e7;
			}
			#hits table tr td, #concert table tr td {
				margin:0;
				padding:0;
				}
			#concert table tr th {
				text-align:center;
				}
			#hits table tr td.ecoute {
				width:18px;
				}
			#hits table tr td.ecoute img {
				border:0;
				}
			#hits table tr td.pochette {
				width: 30px;
			}
			#hits table tr td.pochette img {
				border:1px solid #3d3d3d;
				margin:1px 0 0 0;
				}
			#hits table tr td.state img {
				margin:2px 0 0 0;
				}
			#hits table tr td.rank {
				font-size:20px;
				padding: 0.5em;
				font-weight: bold;
				text-align: center;
				width: 2em;
				}
			#hits table tr td.desc {
				padding-left: 20px;
			}
			#hits table tr td.desc a {
				color:#0082cc;
				font-size: 11px;
			}
			#concert table tr td.desc a {
				margin:0 3px;
				color:#0082cc;
				}
			#hits table tr td.desc h4 a, #concert table tr td.desc h4 a {
				font-size:12px;
				margin:0 3px;
				color:black;
				}
			#hits table tr td.partenaires img {
				border:1px solid #9d9d9d;
				margin:2px 1px 0 1px;
				}
			#hits table tr td.vote a {
				display: block;
				background: url(Bvote.gif) no-repeat;
				text-indent: -70em;
				overflow: hidden;
				text-decoration: none;
				width: 39px;
				height: 12px;
			}
		#hits table tr.bg_grey, #concert table tr.bg_grey {
			background:#cccccc;
			}
		#hits table a, #concert table a {
			color:#000;
			}
#musique-artiste #two_cols {
	position:relative;
	margin:8px 0;
	}

#musique-artiste #two_cols ul#artistemenu {
	position:absolute;
	top:141px;
	left:29px;
	text-align:center;
	}
	#musique-artiste #two_cols ul#artistemenu li {
		width:54px;
		height:18px;
		display:inline;
		float:left;
		}
		#musique-artiste #two_cols ul#artistemenu li a {
			display:block;
			height:100%;
			font-size:12px;
			color:#343434;
			font-weight:bold;
			background:url(bg_artistemenu.png) no-repeat top left;
			}
		#musique-artiste #two_cols ul#artistemenu li a:hover, #musique-artiste #two_cols ul#artistemenu li.active a {
			color:#000;
			background:url(bg_artistemenu.png) no-repeat 0 -18px;
			}
#musique-artiste #artiste_links {
	text-align:right;
	display:block;
	height:20px;
	padding:5px 0 5px 180px;
	}
#musique-artiste #photos .content {
	}
	#musique-artiste #photos a, #musique-artiste #fans a {
		font-size:11px;
		float:left;
		padding-right:15px;
		color:#ccc;
		}
		#musique-artiste #photos .content a.clear, #musique-artiste #fans .content a.clear {
			clear:both;
			float:none;
			display:block;
			text-align:right;
			}
	#musique-artiste #photos ul, #musique-artiste #fans ul {
		clear:both;
		padding:5px 0 5px 10px;
		}
		#musique-artiste #photos ul li, #musique-artiste #fans ul li {
			display:inline;
			padding:0 8px;
			float:left;
			}
			#musique-artiste #photos ul li img, #musique-artiste #fans ul li img {
				border:1px solid #000;
				float:left;
				}
			#musique-artiste #photos ul li img {
				float:none;
				}
		#musique-artiste #fans ul li {
			width:200px;
			height:60px;
			font-size:10px;
			padding:0 5px;
			}
			#musique-artiste #fans ul li p {
				padding:0 0 0 60px;
				}


#photos-artiste {
	font-size:11px;
	}
	#photos-artiste p {
		font-size:10px;
		}
	#photos-artiste ul {
		padding: 5px 0;
		overflow: auto;
	}

		* html #photos-artiste ul {
			height: 1%;
        }
		#photos-artiste ul li {
			width:130px;
			text-align:center;
			float:left;
			}
		#photos-artiste ul#animateurs li {
			height:50px;
			width:60px;
			margin-right:0 !important;
			margin-right:-10px;
			}
		#photos-artiste ul#animateurs li.fleches {
			width:20px;
			padding-top:18px;
			}
			#photos-artiste ul li img {
				float:none;
				}
			#photos-artiste ul li a {
				color:#000;
				}
	#photos-artiste a.more {
		clear:left;
		display:block;
		text-align:right;
		padding:0 15px 0 0;
		color: #000;
                /* debut correction */
                float: right;
                /* fin correction */
		}
#photos-artiste div.more
{
  height: 20px;
}
    #musique-artiste #fans {
    clear:left;
    margin-bottom:8px;
	}
    #musique-artiste #fans .content {
        min-height: 100px;
    }
    #musique-artiste #fans ul li h4 {
        font-size:12px;
        margin-top:0 !important;
        margin-top:-25px;
        color:#cff;
    }
    #musique-artiste #fans ul li p {
        font-size:12px;
        margin:0;
    }
    #musique-artiste #fans p#propose {
        text-align:right;
        font-size:13px;
        margin:5px 15px 0 0;
        clear:both;
    }
        #musique-artiste #fans p#propose a {
            color:#fff;
        }

 	#notes_skynautes #notation {
		font-size:13px;
		padding-left:70px;
		}
		#notes_skynautes #notation p {
			padding-left:0;
			}
			#notes_skynautes #notation ul li{
				float:left;
				padding:0 6px;
				}
		#notes_skynautes #notation a {
			padding:0 5px;
			color:#000;
			}
 	#notes_skynautes #note{
		float:left;
		font-size:20px;
		padding:0 10px;
		}

form#comment {

	}
form#comment fieldset {
	display : block;
	border : none;
	margin : 0 0 0.5em 0;
	padding : 0;
	}
	form#comment fieldset p {
		margin-bottom : 1em;
		}
form#comment input#title, form#comment textarea {
	font-family : Verdana,Arial,Geneva,Helvetica,sans-serif;
	border-width : 1px;
	border-color : #999;
	}
form#comment input#title[type], form#comment textarea[name] {
	background : #eee;
	}
fieldset#submit {
	text-align:center;
	}
form#comment input[type=submit] {
	text-align:center;
	font-size:11px;
	background : #ccc;
	color : #000;
	}
form#comment input[type=submit]:hover {
	background : #ccc;
	color : #fff;
	}
form#comment textarea {
	width : 75%;
	}
form#comment p.field {
	margin : 1em 0 0 0;
	}
	form#comment p.field label {
		display : block;
		font-weight : bold;
		font-size : 13px;
		width : 100px;
		float : left;
		color : #fff;
		}


#concert #concert_une img {
	float:left;
	margin:0 10px;
	}
#concert #concert_une h3 {
	color:#fff;
	font-size:13px;
	margin:0 10px;
	}
#concert #concert_une p, #lire-interview p{
	font-size:12px;
	margin:10px;
	}

#lire-interview img {
	display:block;
	margin:0 auto;
	}
#lire-interview #intro p{
	font-size:13px;
	margin:10px;
	}
#lire-interview #intro img {
	float:left;
	margin:0 10px;
	}

#radio #days {
	text-align:center;
	}
	#radio #days a {
		font-size:12px;
		color:#fff;
		}

form#departements {
	text-align:center;
	}


#artiste-video,
.photos-artistes {
  width: 462px !important;
}

#artiste-video h2,
.photos-artistes h2 {
  background: url(header.png);
  height: 31px !important;
}

* html #artiste-video h2,
.photos-artistes h2 {
  height: 28px !important;
}

.content-truc-apres-pour-faire-joli {
  background: url(footer.png);
  height: 15px;
  font-size: 0;
}

#artiste-video .content,
.photos-artistes .content {
  background: url(fond.png) repeat-y
!important;
  margin: 0 !important;
}

#artiste-video .content img {
}

#artiste-video .content {
	text-align:center;
	font-size:12px;
	}
	#artiste-video .content ul{
		clear:both;
		}
	#artiste-video .content ul#prec-suiv {
		background:url(fonction-diapo.png) no-repeat top left;
		height:33px;
		}
		#artiste-video .content ul#prec-suiv li{
			float:left;
			display:block;
			width:48%;
			height:34px;
			}
			#artiste-video .content ul#prec-suiv li a {
				display:block;
				text-indent:-10000px;
				height:100%;
				}
#desc-artiste-truc-avant-pour-faire-joli {
  height: 13px !important;
  background: url(conteneur_haut.png);
  font-size: 0;
}

#desc-artiste-truc-apres-pour-faire-joli {
  height: 9px;
  background: url(conteneur_bas.png);
  font-size: 0;
}
	#artiste-video .content ul#desc-artiste{
		text-align:left;
                padding: 0 40px;
		color:#fff;
		background: url(conteneur_fond.png) repeat-y center top;
		}

#photos-difool img {
	padding:0 15px;
	}
#photos-difool p.more {
	clear:both;
	text-align:right;
	font-size:11px;
	padding:0;
	}
	#photos-difool p.more a {
		padding:0 10px;
		margin:0;
		color:#ccc;
		}

#emissions_phare ul {
  background: url(bg_emissions_phare.png) no-repeat top left;
  width: 434px;
  height: 66px;
  padding-left: 22px;
}
* html #emissions_phare ul {
  padding-left: 4px;
}
#emissions_phare ul li {
  float: left;
  margin: 7px 19px 0 18px;
}
#emissions_phare ul li a {
  display: block;
  width: 100px;
  height: 50px;
  line-height: 50px;
}

#radio #recherche_emissions .content form {
	font-size:12px;
	color:#ccc;
	padding:0 25px;
	}
#radio #recherche_emissions .content form#titre_diffuse {
	float:left;
	}
	#radio #recherche_emissions .content form select {
		width:150px;
		}
	#radio #recherche_emissions .content form#titre_diffuse select {
		margin:10px 0 0 0;
		}
	#radio #recherche_emissions .content form#grille_officielle select {
		margin:0;
		}
	#radio #recherche_emissions .content form input {
		width:20px;
		height:15px;
		}
	#radio #recherche_emissions .content form input.bouton {
		width:24px;
		height:13px;
		vertical-align:middle;
		}


#radio table#grille {
	width:435px;
	margin-left:10px;
	border-collapse:collapse;
	}
	#radio table#grille tr {
		border-bottom:1px solid #ebebe9;
		}
		#radio table#grille tr td {
			padding:3px;
			}
		#radio table#grille tr td.emission h4 {
			color:#fff;
			font-size:13px;
			}
		#radio table#grille tr td.avatar {
			width:78px;

			}
		#radio table#grille tr td.access {
			text-align:right;
			font-weight:bold;
			}
			#radio table#grille tr td.access a {
				color:black;
				}
			#radio table#grille tr td ul {
				font-size:10px;
				}
				#radio table#grille tr td ul li{
					margin-top:0 !important;
					margin-top:-7px;
					}
					#radio table#grille tr td ul li a{
						color:#cdcdcd;
						}


#radio #les-emissions .content {
	padding: 0 10px 0 25px;
	}
	#radio #les-emissions .content div {
		float:left;
		width:200px;
		background:#363636;
		border:1px solid #000;
		border-top:1px solid #848484;
		border-left:1px solid #848484;
		}
		#radio #les-emissions .content div h4 {
			color:#fff;
			margin:5px;
			}
		#radio #les-emissions .content div ul {
			font-size:11px;
			margin:0 10px 5px;
			}
			#radio #les-emissions .content div ul li a {
				color:#ccc;
				}
#radio #les-emissions .content .clearer {
  float: none;
	clear: both;
	height: 20px;
  visibility: hidden;
	}

#cat-albums form {
	background:#545454;
	border:1px solid black;
	margin:5px 15px;
	padding:3px;
	text-align:center;
	}
	#cat-albums form select{
		width:260px;
		margin-bottom:0 !important;
		margin-bottom:4px;
		}

#cat-albums p#links {
	font-size:15px;
	font-weight:bold;
	color:#000;
	margin:5px 15px;
	}
	#cat-albums p#links a {
		float:right;
		color:#000;
		}

#cat-albums ul {
	margin:5px 15px;
	}
	#cat-albums ul li {
		border-bottom:1px solid #000;
		margin:5px 0;
		height:60px;
		}
	#cat-albums ul li.last {
		border-bottom:none;
		}
	#cat-albums ul img {
		float:left;
		margin:3px;
		}
	#cat-albums ul li ul {
		margin: 0 0 0 70px !important;
		/*margin: -15px 70px 0 0;*/
		font-size:11px;
		}
		#cat-albums ul li ul li {
			border-bottom:none;
			margin:0;
			height:15px;
			}

#emissions_phare ul, #les-emissions ul, #grille_officielle ul, #liste-news ul {
    list-style:     none;
}

#emissions_phare ul li, #les-emissions ul li, #grille_officielle ul li {
    overflow: auto;
	margin: 5px;
}

#animateurs-fiche .content
{
	overflow: auto;
}

* html #animateurs-fiche .content
{
	height: 1%;
}

#hitskyrock fieldset { border: 0; }
#hitskyrock	form	{ margin: 0 1em; }
#hitskyrock dd { margin-left: 2em; margin-bottom: 8px; }
#hitskyrock dd * { width: 70%; }
#emission_courante{ color:dodgerblue;}

#bigpanel { width: 770px; height: 162px; }

