/*  Edito
*******************************************************************************/
#edito {
    margin:0 0 8px 0;
    }

/*  News
*******************************************************************************/
* html #news #news1, * html #news #news2, * html #news #news3 {
  margin-bottom: 2px;
}

#news #news3 {
    margin-right:0;
    }
#news .title {
    height:25px;
    }
#news .tiers img {
    margin:0 4px;
    border-bottom:1px solid #fff;
    }
#news p {
    font-size:11px;
    margin:2px 8px;
    color:#fff;
    }

/*  Recherche on Air
*******************************************************************************/
#recherche_on_air {
  clear: left;
}
#recherche_on_air #recherche_pub {
  float: left;
  width: 181px;
  margin: 0 8px 8px 0;
}
#recherche_pub #pub_recherche {
  width: 181px;
  height: 157px;
}
#recherche {
  height: 67px;
}
#recherche {
  display: block;
  padding-left:5px;
  /*text-indent: -70em;*/
  background: url(front-box.png) no-repeat top left;
/*  height: 67px;*/
}
#recherche input.bouton {
    margin-left:145px;
    margin-top:5px;
}

#recherche_input {
    width:130px;
    margin:3px;
    border:1px solid #d0d0d0;
    height:15px;
    font-size:11px;
    position:absolute;
    margin-bottom:3px;

    padding-left:5px;
}
#recherche label{
    color:white;
    font-size:11px;
    margin-top:-2px;

  opacity: 0.7;
  filter: alpha(opacity=70);
}


#recherche label:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

#recherche h2 {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    padding: 3px 0 0 27px;

}

#on_air {
  float: left;
  width: 269px;
  height: 221px;
  margin: 0 0 8px 0;
  background: url(bg_on_air.jpg) no-repeat top;
}

#on_air #horaire {
  float: right;
  color: #999;
  font-size: 11px;
  margin: 0px 0 0 0;
}

#on_air #emission-title{
  color: #9cf;
  font-size: 10px;
  font-weight: bold;
  margin: 0px 0 0 80px;
}

#on_air #animateurs{
  font-size: 10px;
  color: #fff;
  margin: 0 0 0 80px;
}

#on_air .titre {
  background-image: url(on_air_titre.png);
  color: #ccc;
  font-size: 12px;
  font-weight: bold;
  width: 171px;
  height: 18px;
  margin-left: 10px;
  margin-top: 12px;
  padding: 3px 0 0 10px;
  white-space: nowrap;
  text-transform: lowercase;
  overflow: hidden;
}
#on_air .titre span.artiste {
  color: #ff9;
}

#on_air .titre span.musique {
  color: #ffc;
  font-style: italic;
}

#on_air #ecoute_skyrock {
  color: #fff;
  font-size: 11px;
  text-align: right;
  padding: 0 10px 10px 0;
}

#on_air #ecoute_skyrock a {
  color: #fff;
}

#on_air #photo {
  float: left;
  margin: -18px 10px 0 10px;
  border: 1px solid #000;
  width: 96px;
  height: 96px;
}

#on_air ul#point {
  margin: 0 0 1px 8px;
  font-size: 11px;
  height: 55px;
  color: #fff;
}

* html #on_air ul#point {
  margin-bottom: 0;
}

#on_air #message {
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  padding: 0 0 5px 0;
}

#on_air #message a {
  color: #09c;
}

#on_air #on_air_links {
  margin: 15px 0 0 10px;
}

* html #on_air #on_air_links {
  margin-top: 5px;
}

#on_air #on_air_links li {
  float: left;
  padding-left: 15px;
}

#on_air #on_air_links li a {
  display: block;
  width: 63px;
  height: 30px;
  line-height: 25px;
}

/*  Communautaire
*******************************************************************************/
#communautaire {
    clear:left;
    }


#communautaire #zapping_skyblog .content {
    text-align:center;
    }
* html #communautaire #zapping_skyblog .content {
    /*height: 184px;*/
    }

    #zapping_skyblog h3 {
        color:#cc9;
        font-size:13px;
        margin-bottom:5px;
        }
    #zapping_skyblog table {
        width: 220px;
        }
        #zapping_skyblog table td {

            height: 120px;
            overflow: hidden;
            text-align: center;
            }
        #zapping_skyblog table td#tv img {
            width: 100px;
            max-height: 120px;
            height: 100px;
            border: 1px solid #333333;
        }

    #zapping_skyblog p#lien {
        font-size:14px;
        }
        #zapping_skyblog p#lien a {
            color:#9cf;
            }
    #zapping_skyblog p#creation {
        color:#9cc;
        font-weight:bold;
        font-size:14px;
        margin-top:21px;
        }
#communautaire #le_hub .content {
    text-align:center;
    font-size:10px;
    }
    #le_hub a {
    color: #fff;
    }
    #le_hub h3 {
        font-size:10px;
        color:#323335;
        margin:0 0 2px 0;
        }

    #le_hub p {
        margin: 0;
        padding: 0;
    }

    #le_hub #ope {
        overflow: auto;
        margin:0;
        }
        #le_hub #ope ul {
            margin:0 15px;
            display:block;
            overflow: auto;
            }
            #le_hub #ope ul li {
                width: 50px;
                height: 57px;
                margin: 0 5px;
                float: left;
                font-size: 10px;
                }
                #le_hub #ope ul li img {
                    float: left;
                    margin-left: 5px;
                    }
                #le_hub #ope ul li img.avatar {
                    width: 42px;
                    height: 42px;
                    }

                #le_hub #ope ul li ul.etat {
                    margin:0;
                    }
                    #le_hub #ope ul li ul.etat li {
                        margin:0;
                        width:10px;
                        font-size:6px;
                        }

    #le_hub #top_sky {
        clear:left;
        margin:0 20px;
        font-size:11px;
        }
        #le_hub #top_sky #top_100_ope {
            float:left;
            text-align:left;
            }
        #le_hub #top_sky #les_actifs {
            float:right;
            text-align:right;
            }

#communautaire #chat {
    font-size:11px;
    }
    #chat ul#combien {
        padding:5px 10px;
        }
        #chat ul#combien .rose, #chat ul#combien .bleu, #chat ul#combien .vert {
            font-weight:bold;
            }
    #chat #direct_chat {
        text-align:center;
        }
    #chat p {
        padding:1px 10px;
        }
    #chat ul#salon {
        margin:2px 5px;
        }
        #chat ul#salon li {
            background:#9acccd;
            padding:1px 0;
            }
        #chat ul#salon li.bleu_cyan {
            background:#cdffff;
            }
            #chat ul#salon li a {
                color:#000;
                }

#communautaire #annonces {
    font-size:12px;
    }
    #annonces a {
    color: #fff;
    }
    #annonces p#dernieres_annonces {
        margin-top: 10px;
    text-align: center;
        }
    #annonces ul {
        font-size:0.85em;
        padding:0 15px;
        height:30px;
        }
        #annonces ul li a {
            height:11px;
            }
    #annonces form {
        padding:0;
        margin:1px 0 0 15px;
        font-size:11px;
    text-align: center;
        }
    #annonces label {
        font-size:11px;
        }
    #annonces input.champs {
        width:176px;
        font-size:11px;
        }
    #annonces select {
        font-size:11px;
        width:176px;
        }
    #annonces input.bouton {
        display: block;
        margin: auto;
        margin-top: 10px;
        }

#communautaire #sonneries_logos {
    font-size:12px;
    }
  #sonneries_logos a {
    color:#000;
    }
    #sonneries_logos p#liens{
        font-size:10px;
        padding:0 10px;
        }
    #sonneries_logos ul#logos {
        margin:0 5px;
        }
        #sonneries_logos ul#logos li {
            float:left;
            margin:1px 3px;
            }
            #sonneries_logos ul#logos li img {
                border:1px solid #000;
                }
    #sonneries_logos ul#hifi {
        clear:both;
        margin:0 10px;
        font-size:11px;
        }
        #sonneries_logos ul#hifi li {
            display:block;
            }
        #sonneries_logos ul#hifi li.grey_bg {
            background:#c8c2c2;
            }

#communautaire #achat_vente {
    font-size:12px;
    }
    #achat_vente h3 {
        margin-left:5px;
        }
    #achat_vente img {
        clear:both;
        float:left;
        margin:3px 10px;
        }
        #achat_vente h3 img {
            float:none;
            }
    #achat_vente ul {
        padding:10px 10px 0 10px;
        font-weight:bold;
        }
    #achat_vente ul li a {
        color:#000;
        font-size:8px;
        }


/*  Skynautes
*******************************************************************************/
#skynautes {
    float:right;
    margin:0 0 8px 0;
    }
    #skynautes .content {
        margin-top: -10px;
        height: 88px;
        font-size: 11px;
        }
        #skynautes h3 {
            width:100px;
            text-align:center;
            }
    #skynautes #skynautes_gauche ul {
        margin: 0; padding: 0;
        margin-left: 20px;
        list-style-type: none;
        }
        #skynautes #skynautes_gauche ul li {
            list-style-type: none;
            margin-bottom: 4px;
            }
        #skynautes #skynautes_gauche ul li a {
                        color: #000;
            }
    #skynautes #skynautes_droite {
        width:137px;
        float:right;
        padding-right:10px;
        }
        #skynautes #skynautes_droite h3 {
            width:100px;
            text-align:center;
            margin:3px 15px;
            color:#696969;
            font-size:12px;
            }
    #skynautes #skynautes_droite ul {
        display:inline;
        width:150px;
        }
        #skynautes #skynautes_droite ul li {
            float:left;
            width:60px;
            text-align:center;
            font-size:8px;
            }
            #skynautes #skynautes_droite ul li img{
                height:50px;
                width:50px;
                }


/*  Fotozap
*******************************************************************************/
#fotozap .content {
    font-size: 12px;
    text-align: center;
}
#fotozap #img_fotozap {
  margin-top: 20px;
  border: 2px solid #555;
}
#fotozap #img_fotozap.online {
  border: 2px solid #339600;
}
#fotozap #img_fotozap.offline {
  border: 2px solid #f00;
}

#fotozap .content  p {
    margin-top: 10px;
}

#fotozap .content a.fille {
    color: #9e016a;
}

#fotozap .content a.none {
    display: none;
}

#fotozap .content a.garcon {
    color: #0b2f9d;
}

/*  Rencontres (bloc)
*******************************************************************************/
#bloc-rencontres .content
{
    text-align:center;
    font-size:12px;
}

#bloc-rencontres .content a
{
    color: #000;
}

#bloc-rencontres h3
{
    font-size:12px;
}

#bloc-rencontres form
{
    padding-top:20px;
    text-align:center;
}

#bloc-rencontres select
{
    clear: both;
    width: 100px;
    margin-bottom: 5px;
}

#bloc-rencontres p.bouton
{
    clear:both;
    margin-top:10px;
    margin-bottom:10px;
}

/*  Pub right
*******************************************************************************/
#pub_right {
    float:right;
    width:300px;
    height:255px;
    }
#pub_right2 {
    float:right;
    width:300px;
    height:1px;
    }


/*  Les news
*******************************************************************************/
#les_news {
    clear: both;
    background:url(bg_les_news2.png) no-repeat top left;
    height:275px;
    margin-bottom:8px;
    }
    #les_news a {
    color: #fff;
  }
    #les_news ul li {
        height:60px;
        padding:0 5px;
        }
        #les_news ul li img {
            float:left;
            margin:0 3px;
            }
        #les_news ul li .lire {
            float:right;
            width:80px;
            padding-top:40px;
            font-size:10px;
            }
        #les_news ul li h4 {
            font-size:12px;
            }
        #les_news ul li .summary p {
            font-size:11px;
            }
/*  Les mieux note
*******************************************************************************/
#les_mieux_note {
    clear:right;
    background:url(bg_les_news.png) no-repeat top left;
    height:275px;
    margin-bottom:8px;
    }
    #les_mieux_note a {
    color: #fff;
  }
    #les_mieux_note ul li {
        height:60px;
        padding:0 5px;
        }
        #les_mieux_note ul li img {
            float:left;
            margin:0 3px;
            }
        #les_mieux_note ul li .lire {
            float:right;
            width:80px;
            padding-top:40px;
            font-size:10px;
            }
        #les_mieux_note ul li h4 {
            font-size:12px;
            }
        #les_mieux_note ul li .summary p {
            font-size:11px;
            }

#concours {
    background:url(onglet_concours.png) no-repeat top left;
    width:300px;
    height:65px;
    padding-top:8px;
    }

/*  Forums
*******************************************************************************/
#forums {
    clear:right;
    background:url(bg_forums.png) repeat-y left;
    margin-bottom:8px;
  position: relative;
    }
    #forums .title {
        background:url(bg_forums_title.png) no-repeat top left;
        }
    #forums .content {
        background:url(bg_forums_content.png) no-repeat bottom left;
        height:116px;
        font-size:10px;
        }
    #forums p#derniers {
        font-size:12px;
        text-align:right;
        margin-right:10px;
        }
    #forums ul {
        border:1px solid #000;
        border-bottom:none;
        margin:0 10px;
        height:90px;
        }
        #forums ul li {
            background:#535353;
            height:30px;
            border-bottom:1px solid #000;
            border-top:1px solid #848484;
            }
            #forums ul li .sujet {
                width:150px;
                float:left;
                height:29px;
                border-right:1px solid #000;
                padding:2px 0 0 4px;
                }
                #forums ul li .sujet img {
                    float:right;
                    border-left:1px solid #000;
                    }
                #forums ul li .sujet h4 {
                    font-size:11px;
                    }
            #forums ul li .date {
                height:30px;
                font-size:10px;
                }
                #forums ul li .date p {
                    padding:1px 3px;
                    }
                    #forums ul li .date p.login {
                        display:inline;
                        color:#fecd32;
                        background:url(suite.png) no-repeat right center;
                        padding-right:23px;
                        }

#liste_news p, #lire_news p {
    font-size:      14px;
    margin-left:    15px;
    padding-right: 10px;
}

#liste_news p.date, #lire_news p.date {
    clear: both;
}

#liste_news p.date a, #lire_news p.date a {
    color: #000;
}

div.bigimg .content {
    height:     270px;
}

/* Mise en forme pour la galerie CSS */
#gallery_container {
    position:           relative;
    overflow:           hidden;
    margin-left:        50px;
}
#gallery {
    position:           absolute;
    left:               0;
    top:                0;
    white-space:        nowrap;
}
#gallery_container a img {
    border:             1px solid #ccc;
    float:              none;
}
#gallery_container a:hover img {
    border:             1px solid red;
}
#gallery_container a:hover {
    color:              red;
}
#gallery_statusdiv {
    position:           absolute;
    padding:            2px;
    left:               -300px;
    background-color:   lightyellow;
    border:             1px solid gray;
    visibility:         hidden;
}

* html .height-hack {
  height: 1px;
}

.strike {
  text-decoration: line-through;
}

#unconfirmed-account {
  color: #fff;
  background: #222;
  border: 4px solid red;
  padding: 1em;
  position: absolute;
  left: 24px;
  top: 16px;
  width: 700px;
  font-size: 1.25em;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

#unconfirmed-account p a {
  color: #ccc;
  text-decoration: underline;
}
