/* image titres */
#menu li a {background-image:url(titresMenu.png.1);}
/* titres */
#menu li.rub1 a {width:138px;}
#menu li.rub2 a {width:163px;}
#menu li.rub3 a {width:178px;}
#menu li.rub4 a {width:158px;}
#menu li.rub5 a {width:108px;}
#menu li.rub6 a {width:110px;_width:107px;}

/*titre nav gauche n-1*/
.titreSlidingNav {background-image: url(titreSlidingNav.png)}

/*promotion*/
.confAllPromo span{background-image:url('allPromos.png.1');}