/*
 Feuille de Styles spécifique aux aspects techniques
*/

.technicHidden {color:#FF0000; background-color:#FFFFFF; font-size:0.8em;}

#sessionTimeeoutWarning { border: 0px solid red; background-color:#FFFFFF; margin:0px; padding:0px; width:200px; height:16px; padding-top:1px; padding-left:3px; text-align:left; color:#78734B; }
#sessionTimeout { border: 0px solid red; background-color:#FFFFFF; margin:0px; padding:0px; width:200px; height:16px; padding-top:1px; padding-left:3px; text-align:left; color:#78734B; }
.sessionTimeoutWarningPosition { position:absolute; top:140px; right:0px; width:200px; height:16px;}
.sessionTimeoutPosition { position:absolute; top:140px; right:0px; width:200px; height:16px;}

.defaultAction {width:0;height:0;overflow:hidden}
