﻿/*
.register { }
.register ul,
.register li { float: left; clear: left; width: 100%; }
.register label { display: inline; float: left; width: 150px; clear:left; }
.register textarea,
.register input { float: left; border: solid 1px #ccc; padding: 3px 5px; width: 300px; }
.register textarea { height: 100px; }
.register span { float:left; }
.register .submit { height: 39px; }
.register .submit input { border: none 0; margin: 16px 0 0 150px; padding: 0px 15px 2px 10px; cursor: pointer; background: url(/_Resources/img/sendButtonArrow.png) right 0 no-repeat; width: auto; };
.register .submit input { color: #fff; }
*/


.register{}

        .register fieldset {  
            position: relative;
            margin: 0;  
            padding: 0;  
            border-style: none;
        }
            .register fieldset legend {
                color:#312F2C;
                font-size:14px;
                padding: 0;
                font-weight: bold;
                width:100%;
                text-transform:uppercase;
                left:0;
            }
                .register_form fieldset legend span {  
                    position: absolute;  
                    left: 0.72em;  
                    top: 0;  
                    margin-top: 0.4em;
                }
            .register fieldset ol {  
                list-style: none;
            }
                .register fieldset ol li {  
                    line-height:22px;
                    clear:both;
                }
                    .register fieldset ol li label {  
                        display: block;
                        float:left;
                        width:11.5em;
                        padding-top:.4em;
                        padding-right:.5em;
                        height:18px;
                        line-height:18px;
                    }
                .register span.req {
                    width:10px;
                    height:18px;
                    margin:0;
                    display:inline-block;
                    background-image:url(red-star.png);
                    background-position:top left;
                    background-repeat:no-repeat;
                    text-indent:-9999px;
                    _background-image:none;
                    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/_Resources/img/red-star.png');
                }
                
                
                        /* INPUTS */
                            .register textarea { height: 100px; border: solid 1px #ccc; padding: 3px 5px; width: 300px; }
                        
                            .register fieldset ol li input.text {
                                width:220px;
                                height:18px;
                                margin-bottom:10px;
                                border: solid 1px #ccc; padding: 3px 5px; width: 300px;
                            }
                            .register fieldset ol li select {
                                width:224px;
                                margin-right:.3em;
                                margin-bottom:10px;
                                border: solid 1px #ccc; 
                                padding: 3px 5px; 
                                width: 300px;
                            }
                            .register fieldset ol li select.day {
                                width:42px;
                            }
                            .register fieldset ol li select.month {
                                width:100px;
                            }
                            .register fieldset ol li select.year {
                                width:70px;
                            }
                            .register fieldset li span.checkbox input {
                              margin-top:8px;
                            }
                            /* CSS to code default aspx radio buttons */
                            .register fieldset ol li table {
                                display:inline;
                                width:100px;
                            }
                                .register fieldset ol li table tbody tr td {
                                    background-color:#fff;
                                    padding-top:2px;
                                }
                                .register fieldset ol li table tbody tr td label {
                                    display:inline;
                                    float:none;
                                    padding-right:1em;
                                    padding-left:.2em;
                                }
                                    .register fieldset ol li table tbody tr td input {
                                        display:inline;
                                        padding-right:1em;
                                    }
                            /* INPUTS ENDS */
                            
                
                .register ul.error {
                    list-style-type:circle;
                    list-style-position:inside;
                    margin:0 25px 0;
                }
                
.register .submit { height: 39px; }
.register .submit input { border: none 0; margin: 16px 0 0 0; padding: 0px 15px 2px 10px; cursor: pointer; background: url(sendButtonArrow.png) right 0 no-repeat; width: auto; }
.register .submit input { color: #fff; }


/*.register fieldset li span { line-height: 200%; } */
.register fieldset  ol.newsMail { float:left; width:250px;}
.register fieldset  ol.newsMail li { line-height:100%; margin: 10px 0;}
.register fieldset p { margin-top:5px;}

br.all { clear:both; }


.mailingList {}
.mailingList ol#mainform li span { display: block; }
.mailingList ol#mainform li span.req { display: inline-block; }
.mailingList span.req { padding-left: 5px; background-position: right center; }