/*
 *  Live Nation UK
 *  http://www.livenation.co.uk/
 *  Michal Gondar aka gondo
 *  Matthew French
 *
 */

body { margin: auto; background-color: #1E1E19; __behavior: url(csshover.htc); }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

/* main title */
h1, #twitterFeed h2 { background: url(line-dotted-red.png) repeat-x bottom; padding-bottom: 10px; margin-bottom: 20px; }
    #twitterFeed h2 { padding-bottom: 11px; }
    #twitterFeed span { display: block; width: 90px; background: url(twitter.png) no-repeat left; text-indent: -99em; }
    #twitterFeed h2 a { float: right; margin-top: -18px; font-size: 12px; }
/* home title */
h2 { margin-bottom: 10px; }
/* lineup stages */
h3 { margin-bottom: 10px; }

.hr,
hr {  margin: 20px 0; clear: both; height: 1px; background: url(line-dotted-grey.png) repeat-x bottom; }
/* div for IE what just cant undersnad this simple css for hr */
.hr hr { display: none; }

script { display: none; }

p { margin-bottom: 15px; }

table { width: 100%; border-collapse:separate; border-spacing: 2px; }
th { background: #3cab42; padding: 10px; }
td { background: #f2f0ed; padding: 10px; }

iframe.merchant { margin: 10px 0; width: 770px; height: 800px; }
iframe.sendToFriendIframe { width: 920px; height: 100px; float:left; }



/* main holder cause of sliding content when showing gallery */
#slideAllContent { float: left; width: 100%; position: absolute;}



/* infiniteBG under top area, sitemap, top navigation, search box */
#infiniteBGtop { width: 100%; float:left; background: url(dark-png24.png) #040404; }


/* top area, sitemap, top navigation, search box */
#topBG { margin-left: 50px; width: 920px; }

    /* hidden sitemap on top */
    #sitemap { display: none; width: 920px; }

        #sitemap ul { float: left; padding: 30px 0; margin-right: 4px; width: 128px; }
        #sitemap .last { margin-right: 0; }
        #sitemap .title { margin-bottom: 5px; }

    /* top navigation with search */
    #nav { float: left; width: 100%; height: 29px; line-height: 29px; position: relative; }
        
        #nav ul,
        #nav ul li,
        #nav form { float: left; display: inline; }

        ul#topMenu { width: 670px; }
        ul#topMenu a { padding: 1px 9px; margin-right: 3px; }
        ul#topMenu a.active,
        ul#topMenu a:hover { text-decoration: none; background-color: #2b828d; }

        #nav .sitemap { float: right; }

        ul#langmenu a { margin-right: 13px; }
        ul#langmenu a.active,
        ul#langmenu a:hover { text-decoration: none; }
        
        #nav form { width: 170px; height: 52px; background: url(box-search.png) no-repeat; position: absolute; right: 0;}
        #nav form .inputText { float:left; margin: 17px 0 0 18px; padding-top: 2px; width: 110px; height: 20px; line-height: 22px;  }
        #nav form .inputSubmit { float:left; margin: 17px 0 0 7px; width: 23px; height: 22px; background: url(btn_search.png) no-repeat; cursor: pointer; }
        #nav form .inputSubmit:hover { background-position: bottom;}
        


/* infiniteBG under top area, sitemap, top navigation, search box */
#infiniteBGlogo { float:left; width: 100%; background: url(header_bg.png) repeat-x 0 -30px; }

/* logo area, main navigation */
#logoBG { margin-left: 50px; width: 920px; height: 106px; background: url(header_bg.png) repeat-x 0 -30px; }

    /* clickable main logo */
    #logoBG a.logo { float: left; display: block; margin: 19px 0 18px 0; width: 100%; height: 43px; background: url(logo.png) no-repeat; overflow: hidden; text-indent: -99em; }

    #logoBG ul,
    #logoBG ul li,
    #logoBG li a { float: left; }

    #logoBG ul li { position: relative; z-index: 9; }

    #logoBG li a { clear:left; display: block; width: auto; height: 26px; margin-right: 2px; line-height: 26px; padding: 0 11px; background-color: #312f2c; }
    #logoBG li a.active,
    #logoBG li a:hover,
    #logoBG li:hover a { background-color: #70c0ca; text-decoration: none; }

    /* submenu show / hide */
    #logoBG ul ul,
    #logoBG ul ul li,
    #logoBG ul ul li a { float: none; background-color: #fff; margin-right: 0; white-space: nowrap; width: auto; }

    #logoBG ul ul { width: 220px; position: absolute; visibility:hidden; display:none; left: 0; top: 26px; border: solid 5px #70c0ca; }
    
    #logoBG ul li:hover a { color: #333; }
    #logoBG ul li:hover ul { visibility: visible; display:block; }
    #logoBG ul li:hover ul a { background-color: #fff; }


/* background in the background */
#backgroundImage { position: fixed; top: 0; left: 0; width: 100%; height: 100%; overflow:hidden; z-index:-1;  }
#backgroundImage { _position: absolute;  }
#backgroundImage img { width: 100%; z-index:-2; }

/* infiniteBG under top area, sitemap, top navigation, search box */
#infiniteBGmain { float: left; padding-bottom: 38px; width: 100%; background: no-repeat fixed center 0; }

/* main content area */
#mainBG { margin-left: 50px; width: 920px; min-height: 823px; margin-top: 10px; }

    /* feature artist bar */
    #featureArtistsCleaner { position: relative; width: 750px; margin-left: -10px; height: 85px; background: url(stripe-featured.png) no-repeat 0 center; }
    #featureArtists { position: relative; float: left; display:inline; margin-left: 10px; width: 730px; padding: 5px; text-align: right; height: 75px; background: url(stripe-featured.png) no-repeat -10px center #fff; }
    #featureArtists span { position: absolute; left: 45px; top: 24px; width: 100px; text-align: left;  }

    /* artist img + info*/
    #artistIMG { float: left; width: 740px; margin-top: 10px; position: relative; }
    #artistIMG img { float: left; width: 730px; border: solid 5px #a7d6c9; background: #312f2c; }
    #allBands { position: absolute; white-space: nowrap; right: 5px; top: 5px; padding: 4px 30px 4px 10px; background: url(icon-arrow.png) right center no-repeat #d82615; }
    #artistTextPosition { position: absolute; top: 50%; left: 5px; }
    #artistName,
    #artistDesc { background-image: url(dark-png24.png); float: left; clear: left; padding: 10px 13px; margin-bottom: 1px; }
    #artistDesc span { margin-right: 5px; }

    /* main content */
    #mainBox { float:left; width: 500px; margin-top: 10px; padding: 20px; background-color: #fff; }

        .newsContent { float: left; width: 325px; }
        #twitterFeed { float: right; width: 160px; overflow: hidden; }
            #twitterFeed li { padding-bottom: 20px; }
    
        #rss { float: right; height: 20px; line-height: 20px; padding-right: 30px; background: url(icon-rss.png) no-repeat right; }
        .newsIMG { float: left;  margin: 3px 15px 10px 0; }
        .moreNews { float: left; padding: 0 15px 0 5px; background: url(stripe-news.png) no-repeat right 0; height: 18px; line-height: 18px; }

        .halfBOX { float: left; width: 50%; }
        .halfBOX span { display:block; float: left; width:90px;}
        .halfBOX a { display:block; float: left; width:140px; margin-bottom:5px;}
        .halfBOX br { clear:left; }
        .thirdBOX { float: left; width: 33%; margin: 10px 0 20px 0; }
        .thirdBOX img { margin: 5px 0; clear: both; }
        .thirdBOX a img { float: left; }
        
        .LineupArrowList { clear: both; margin: 5px 0; }
        .LineupArrowList,
        .LineupArrowList li { float: left; width: 100%; }
        .LineupArrowList li a { display: block; padding-left: 10px; background: url(arrow-green.png) 0 5px no-repeat; }
   
        #mainBox .top { float: right; padding-right: 10px; clear: both; background: url(arrow-green.png) right -25px no-repeat; }
   
        a.image { float: left; width: 50%; margin-bottom: 20px; cursor: pointer; }
        a.image img { border: solid 1px #ccc; padding: 5px; margin-bottom: 3px; float: left; }
   
    /* side content */
    #LeftSideBox,
    #RightSideBox { float: left; width: 190px; margin: 10px 0 0 10px; }
    #LeftSideBox { margin: 10px 10px 0 0; }
        
        .BOXbones { float: left; width:130px; padding: 27px 10px 0 62px; display: block;  height: 78px;  background: url(box3.png) no-repeat; font-size: 1.2em; font-weight: bolder;}
        .BOXbonesLeft { float: left; width:150px; padding: 27px 10px 0 45px; margin-left: -10px; display: block; position: relative; background-image: url(box1.png); }

        .BOXphoto { float: left; display: block; width: 140px; height: 77px; padding: 28px 0 0 62px; background: url(box9.png) no-repeat; font-size: 1.2em; font-weight: bolder; margin: 0px; color: #ffffff; text-transform: uppercase;}

        .BOXleaf { margin-bottom: 10px; display: block; width: 140px; height: 68px; padding: 25px 0 0 62px; background: url(box6.png) no-repeat; }

        .BOXdartboard { float: left; position: relative; margin-bottom: 10px; width: 140px; height: 93px; padding: 35px 0 0 62px; background: url(box4.png) no-repeat; font-size: 1.2em; }
        .BOXdartboardLeft { float: left; margin-left: -10px; position: relative; background-image: url(box2.png); padding: 35px 0 0 55px; width: 145px; }
        .BOXdartboard form { position: absolute; width: 140px; height: 23px; top: 91px; left: 30px; }
        .BOXdartboardLeft form { left: 37px; }
        .BOXdartboard .inputText { float:left; padding-top: 2px; width: 104px; height: 20px; line-height: 22px; }
        .BOXdartboard .inputSubmit { float:left; margin-left: 3px; width: 29px; height: 22px; background: url(btn_ok.png) no-repeat; cursor: pointer; }
        .BOXdartboardLeft .inputSubmit { margin-left: 6px; }
        .BOXdartboard .inputSubmit:hover { background-position: bottom;}

        .BOXshield { position: relative; margin-bottom: 10px; width: 120px; height: 103px; padding: 25px 0 0 80px; background: url(box5.png) no-repeat; }
        .BOXshield form { position: absolute; width: 148px; height: 23px; top: 91px; left: 20px; }
        .BOXshield select { float:left; padding-top: 2px; width: 100%; height: 20px; line-height: 22px; padding-left: 7px; }

        .BOXcontent { float: left; margin-bottom: 10px; padding: 5px; width: 180px; background-color: #fff; }
        .BOXcenter { text-align: center; }
        .BOXborder { border: solid 5px #70c0ca; width: 170px; }
        .BOXcontent .orangeTile { text-align: left; padding: 7px 10px; margin-bottom: 5px; background-color: #52b2be; }
        .BOXcontent p { padding: 10px; }

        .facebook,
        .myspace,
        .youtube,
        .netlog,
        .twitter,
        .lastfm { height: 20px; margin: 5px; line-height: 20px; padding-left: 25px; display: inline; width: 55px; float: left; background-repeat: no-repeat; }

        .facebook { background-image: url(icon-facebook.png); }
        .myspace { background-image: url(icon-myspace.png); }
        .youtube { background-image: url(icon-youtube.png); }
        .netlog { background-image: url(icon-netlog.png); }
        .twitter { background-image: url(icon-twitter.png); }
        .lastfm { background-image: url(icon-lastfm.png); }

        .BOXorangeSubmenu { float: left; margin-bottom: 10px; padding: 5px; width: 180px; background: url(box7_bottom.png) repeat-y; }
        .BOXorangeSubmenu .topStarBox { width: 130px; height: 56px; padding: 28px 0 0 71px; margin: -5px 0 0 -5px; background: url(box7_top.png) no-repeat;}
        .BOXorangeSubmenu .topStarBox2 { width: 130px; height: 56px; padding: 28px 0 0 71px; margin: -5px 0 0 -5px; background: url(box7_top.png) no-repeat; padding:8px 0 0 70px }

        .BOXorangeSubmenu .double { padding-top: 25px; }
        .BOXorangeSubmenu h6 { margin-left: 20px; }

        #submenu { padding: 10px; }
        #submenu,
        #submenu li { float: left; width: 150px; }
        #submenu li a { padding: 5px 0; display: block; } /*height: 26px; line-height: 26px;*/
        #submenu.search { margin-top: -10px; padding: 0 10px 10px; }


        .arrowList { padding: 10px; clear: both;  }
        .arrowList,
        .arrowList li { float: left; width: 160px; }
        .arrowList li a { display: block; padding-left: 10px; background: url(arrow-green.png) 0 5px no-repeat;}
        
        .whiteArrowList { padding: 10px 20px 20px 20px; clear: both; }
        .whiteArrowList,
        .whiteArrowList li { float: left; width: 140px; }
        .whiteArrowList li a { display: block; padding: 2px 0 2px 12px; background: url(arrow-white.png) 1px 7px no-repeat;}
        .whiteArrowList li a.active,
        .whiteArrowList li a:hover { background-color: #217b86; }

    /* breadcrumbs navigation */
    #breadcrumbsCleaner { position: relative; width: 750px; margin-left: -10px; height: 36px; background: url(breadcrumbs_left.png) no-repeat 0 center; }
    #breadcrumbs { margin-left: 10px; width: 740px; height: 36px; background-color: #fff; } 
    #breadcrumbs.store { width: 770px; }
    #breadcrumbs ul,
    #breadcrumbs li,
    #breadcrumbs li a { float:left; }
    #breadcrumbs ul { height: 30px; margin-top: 3px; padding-right: 30px;  background: url(breadcrumbs_right.png) right 0 no-repeat; }
    #breadcrumbs li { background: url(breadcrumbs_mid.png); height: 30px; line-height: 24px; padding-right: 5px; }
    #breadcrumbs li a { display: block; padding: 0 10px 0 0; background: url(arrow-white.png) right 10px no-repeat; }


    /* content with show / hide divs */
    .fieldDescription { background: #eeebe7 url(icon-plus.png) 7px center no-repeat; padding: 5px 0 5px 26px; cursor: pointer; margin-bottom: 7px; }
    .fieldActive { background-image: url(icon-minus.png); }
    .fieldBody { margin-bottom: 30px; padding: 10px 0px 0 15px; }
    .fieldBody p[align="center"] { margin-bottom: 0; }
    .fieldBody ul { clear: both; }
    .fieldBody img { float: left; margin: 0 15px 10px 0; }
    .fieldBody span { margin-right: 10px; }
    /* some fido resets applied in reset.css */


    /* print, share buttons */
    .grayLink { display: inline; float: right; margin: 20px 0 0 10px; height: 14px; padding-right: 15px; background: url(stripe-grey.png) right 0 no-repeat; }
    .grayLink a { display: inline; height: 14px; padding: 0 0 0 20px; }
    .print { background: url(icon-print.png) 1px 1px no-repeat; }
    .shareSave { background: url(icon-share.png) 1px 1px no-repeat; }



/* Footer with jukebox */
#infiniteBGfooter { position: fixed; bottom: 0; left: 0; z-index: 99; float: left; width: 100%; overflow: hidden; background: #000 url(footer_flash_bg.png) repeat-x; }
#footer { margin-left: 50px; position: relative; width: 920px; }
.footerButton { background: url(line-dotted.png) no-repeat; height: 28px; float:left; }
.footerButton a { float: left; margin-left: 1px; display: block; padding: 0 10px; height: 28px; line-height: 26px; }
.footerButton a.selected,
.footerButton a:hover { background-color: #000; }
.ooooo { padding: 0 10px; }
.ooooo a { padding: 0; margin-top: 8px; float: left; width: 12px; height: 12px; text-indent: -99em; background: url(btn-bkg.png) no-repeat; font-size: 0; overflow: hidden;}
.ooooo a.selected,
.ooooo a:hover { background-position: 0 -12px; background-color: Transparent; }
#jukebox { float: left; width: 420px; height: 28px; }

/* flash variables */
#pID,
#aID,
#language { display: none; }


/* send to a friend */
#sendToAfriend { margin-left: 50px; clear:left; position: relative; width: 920px; overflow: hidden; }
#sendToAfriend iframe{ display: none; overflow: hidden; }
#sendToFriendBody { background: #000; padding: 30px 0 0 60px; overflow: hidden; }
#sendToFriend fieldset,
#sendToFriend ol,
#sendToFriend li { float: left; }

#sendToFriend li { width: 155px; height: 40px; }
#sendToFriend label {display: block; margin-bottom: 2px; }
#sendToFriend input { padding: 3px 5px; width: 140px; }
#sendToFriend .submit { height: 39px; }
#sendToFriend #sumbit { margin: 16px 0 0 10px; padding: 3px 15px 3px 10px; cursor: pointer; background: url(sendButtonArrow.png) right 0 no-repeat; width: auto; } /*background: #06830b;*/

/* copyright */

#copyright { margin-left: 50px; clear:left; position: relative; width: 920px; }
#copyright div { display: none; margin: 10px 0; float: right; }



/* Mailing List */
iframe#mailingList {width:100%; height:1300px; border:none;}
body#mailingList {margin: auto; background-color: #fff; font-family: Arial;  color: #333; }
#mailingList table { width: 100%; border-collapse:separate; border-spacing: 2px; }
#Table1, #Table2, #Table3, #Table4, #Table5, #Table6 {}
#mailingList th,
#mailingList td { background: #fff; padding:0 0 5px 0; font-size: 12px;}
#mailingList td.title {font-size: 16px; color:#312F2C; padding:0 0 5px 0; font-weight:bold;}
#mailingList td.header {font-size: 14px; color:#312F2C; padding:10px 0 5px 0; font-weight:bold;}
#mailingList #Table5 td {width:200px;}
#mailingList #Table4 td {width:100px;}
#mailingList input#submit3, input#submit4 {
	background:transparent url(sendButtonArrow.png) no-repeat scroll right 0;
	border:0 none;
	cursor:pointer;
	margin:16px 0 0 150px;
	padding:0 15px 2px 10px;
	width:auto;
	color:#FFF;
	text-transform:capitalize;
}

/* BLUE BACKGROUND 
.blueHead { position:relative; width:500px; height:20px;padding-bottom: 10px;}
.blueBody a {text-decoration: none;}
.blueBody { width:500px; background:transparent url(/_Resources/img/blueMiddle.png) repeat-y; }
.blueFoot { width:500px; height:15px; background:transparent url(/_Resources/img/blueBottom.png) bottom center no-repeat; text-align:right; }
*/

/* BLACK BACKGROUND 
.blackHead { width:500px; height:36px; background:transparent url(/_Resources/img/blackTop.png) no-repeat }
.blackBody { width:500px; background:transparent url(/_Resources/img/blackMiddle.png) repeat-y; }
.blackFoot { width:500px; height:29px; background:transparent url(/_Resources/img/blackBottom.png) no-repeat; }
*/

.right { float:right;}
.lastFm { display:block; position:relative; width:150px; height:15px; overflow:hidden; }
.lastFm span{ display:block; position:absolute; top:0; left:0; width:150px; height:15px; background:transparent url(powered_lastfm.gif) no-repeat;}

/*.lastfm2 { height: 15px; padding-left: 25px; display: inline; width: 300px; height: 15px;float: left;margin-left: 390px; padding-bottom: 10px; background: url(/_Resources/img/powered_lastfm.gif) no-repeat; cursor: pointer;text-decoration: none;}*/
/*.blueBody .lastfm2 { height: 15px; padding-left: 25px; display: inline; width: 300px; height: 15px;float: left;margin-left: 390px; padding-bottom: 10px; background: url(/_Resources/img/powered_lastfm.png) no-repeat; cursor: pointer;text-decoration: none;}*/

/***** ARTIST *****/
.artistImages img { float: left;}
.artistTracks a {color: #000;}
.artistTracks a:hover {text-decoration: underline;}
.artistTracks { font-size: 14px; line-height: 130%; }
.artistTracks .even, .artistTracks .even a { background-color:#EBEBEB; color:#131313;height:20px;width:255px; }
.artistTracks .even2, .artistTracks even2 a { background-color:#ffffff; color:#131313;height:20px;width:255px;}
.artistTracks even2 a:hover, .artistTracks even a:hover {color: #131313; text-decoration: underline;}

.artistTracks .position { clear:both; margin-right: 20px; width: 14px; text-align: right; display:block; float:left; }
.artistPanel .name {  float: left; width: 210px; margin-right: 10px; color: #131313; font-size: 11px;}
.artistTracks .bar {  height: 1px; font-size:0; margin-left: 255px; padding-bottom: 1px;}
.artistTracks .bar img {float: left; margin-top: -20px;}
.artistTracks .bar div {  height: 100%; background:#2797E4; font-size:0;}
.artistTracks .left { float: left; padding: 5px;}

.artistPanel .left .nameAlbum { clear: both; display: block; width: 115px; padding-top:10px; margin-right: 10px;}
.artistPanel .left .playcount { display: block; margin-bottom: 8px;}
.artistPanel .clear { clear: both; }
.left { float: left;}

/***** GALLERY *****/
#mainBox .galleryList li { float: left; margin: 0 30px 10px 0; padding-left: 15px; width: 205px; height: 2em; background: url(sendButtonArrow.png) -196px -2px no-repeat; font-size: 13px; font-weight: bold; }

#gallery .ss-controls { float: left; padding: 5px 0; margin-bottom:15px; background: #e2dfda; }
.ss-controls a { padding: 0 10px 0 25px; color: #2b8c98; text-transform: uppercase; font-weight: bold; }
.ss-controls .play { background: url(btn-pause-play.png) 10px -21px no-repeat; }
.ss-controls .pause { background: url(btn-pause-play.png) 10px 1px no-repeat; }

#gallery .nav-controls { float: right; padding-top: 5px; }
.nav-controls a { margin-left: 10px; color: #fff; text-transform: uppercase; font-weight: bold; }
.nav-controls .previous { padding: 1px 2px 1px 15px; background: #2b8c98 url(arrow-02.png) left top no-repeat; }
.nav-controls .next { padding: 1px 15px 1px 4px; background: #2b8c98 url(arrow-01.png) right top no-repeat; }

#gallery .slideshow-container { position: relative; clear: both; }
.slideshow-container img { padding:0; width: 500px; height: auto; }
    .slideshow-container a { position: absolute; top: 20px; left: 0; display: block; width: 50%; height: 90%; background: url(z.gif) left top repeat; }
    .slideshow-container a.advance-link { left: 50%; }
.image-title { font-size: 1.5em; font-weight: bold; text-transform: uppercase; }
.image-desc { color: #333; }
.image-desc span { padding-right: 10px; color: #d82615; }

.BOXgallery { float: left; padding: 0; width: 192px; background: #70C0CB; font-size: 1.2em; }
.BOXgallery h3 { position: relative; top: 15px; right: -12px; padding: 10px 0 0 65px; width: 125px; height: 58px; background:transparent url(tab-03.png) no-repeat scroll left top; color:#2B8C89; }
.BOXgallery .pagination { position: relative; top: 15px; right: -12px; clear: both; padding: 8px 0 0 7px; width: 175px; height: 40px; background:transparent url(tab-02.png) no-repeat scroll left top; }
    
    .pagination a, .pagination span { text-align:center; display: block; float: left; margin: 0 5px; padding: 2px 0px; background: #2b8c98; color: #e4d400; font-weight: bold; width:20px; }
    
    .pagination span, .pagination a:hover { color: #fff; text-decoration: none; }
    
    .pagination .previous { margin: 4px 0 0 0; width: 8px; height: 11px; text-indent: -999em; background: #fff url(arrows-leftright.png) left top no-repeat; }
    .pagination .next { margin: 4px 0 0 0; width: 8px; height: 11px; text-indent: -999em; background: #fff url(arrows-leftright.png) right top no-repeat; }
.BOXgallery .bottom { top: 0; }
.BOXgallery .thumbs { position: relative; display: block; float: left; margin-top: 15px; padding: 0 0 5px 12px; width: 180px; background: #70C0CB; }
.thumbs li { position: relative; float: left; margin: 0 10px 10px 0; width: 50px; height: 50px; }
.thumbs img { position: absolute; height: 70px; width: auto; clip: rect(0px 50px 50px 0px); }
.thumbs span { position: absolute; top: 0; left: 0; width: 40px; height: 40px; }
.thumbs a:hover span, .thumbs a:focus span { border: 5px solid #e4d400; }

.thumbs li.selected a span { border: 5px solid #e4d400; }

.BOXgalleryback { float: left; width: 130px; padding: 27px 10px 0 62px; display: block; height: 75px; background: url(box-01.png) no-repeat; font-size: 1.2em; font-weight: bolder; color: #fff; text-transform: uppercase; }

span.image-wrapper {display:block; margin-bottom: 10px; width:500px; height:500px; background-color:#eee;}
    .image-wrapper a { position: absolute; top: 50%; left: 10px; margin-top: -30px; display: block; width: 39px; height: 53px; }
        .slideshow-container a.advance-link { right: 10px; left: auto; background: url(btn_right.png) left top no-repeat; }
        .slideshow-container a.previous-link { background: url(btn_left.png) left top no-repeat; }