body {padding:0; margin:0; color:#000000; background-color:#ffffff}
form {
padding:0;
margin:0;
}
br{font-size:10px}
table {
border-collapse:collapse;
}
.sheader{color:#919292; font-size:9px; line-height:13px; background:#D4D7D8;} 
.sheader a{color:#353636; font-size:9px; text-decoration:none; font-weight:bold; text-transform:uppercase} 
.sheader a:hover{text-decoration:underline} 

.header1{color:#919292; font-size:9px; line-height:13px} 
.header1 a{font-size:9px; text-decoration:none} 
.header1 a:hover{text-decoration:underline} 
.header1 ul {
margin:0;
padding:0;
list-style:none;
float:right;
}
.header1 ul li {
background:url(z1.gif) no-repeat 0% 5px;
padding:0 9px 0 13px;
display:block;
float:left;
}
.header1 ul li a {
color:#353636;
}

.scontent td{color:#2C3032; font-size:11px; line-height:13px} 

/*.scontent .block{color:#2C3032; font-size:11px; line-height:1.3;
border:1px solid #D4D7D8;
}
*/
.scontent .block{color:#2C3032; font-size:11px; line-height:1.3;}


.footer{color:#919292; font-size:9px; line-height:13px} 
.footer a{color:#919292; font-size:9px; text-decoration:none} 
.footer a:hover{text-decoration:underline} 


.inputtext,.inputtextarea{ background:#FFFFFF;
   border:1px solid #9E9E9E;
   font-family:Tahoma;
   color:#656F72; 
   font-size:11px;
}

.text2{ background:#F6F6F6;
   border:1px solid #D4D7D8;
   font-family:Tahoma;
   color:#656F72; 
   font-size:9px;
   height:18px;
   width:129px;
}
.search_button {
background:url(k1.gif) no-repeat;
border:0;
color:#fff;
font-size:8px;
font-weight:bold;
height:18px;
text-transform:uppercase;
width:57px;
text-align:left;
padding-left:16px;
}
#input3{ background:#F6F6F6;
   border:1px solid #D4D7D8;
   font-family:Tahoma;
   color:#656F72; 
   font-size:11px;
}#input4{ background:#F6F6F6;
   border:1px solid #D4D7D8;
   font-family:Tahoma;
   color:#656F72; 
   font-size:11px;
} #input5{ background:#F6F6F6;
   border:1px solid #D4D7D8;
   font-family:Tahoma;
   color:#656F72; 
   font-size:11px;
}#input6{ background:#F6F6F6;
   border:1px solid #D4D7D8;
   font-family:Tahoma;
   color:#656F72; 
   font-size:11px;
}#input7{
   font-family:Tahoma;
   color:#656F72; 
   font-size:11px;
}#input8{
   font-family:Tahoma;
   color:#656F72; 
   font-size:11px;
}
 
.select{
   background:#F6F6F6;
   border:1px solid #D4D7D8;
   font-family:Tahoma;
   color:#656F72; 
   font-size:11px;
   width: 119px; height: 18px;
} 
/*.pad {
padding:11px 20px 11px 15px; 
}
*/
* html .pad {
 width:100%;
}