/* definitions generiques */
body{margin:0;padding:0 10px 0 10px;background-color:#FFF;}
body *{font-family:arial, verdana, sans-serif; font-size:100.01%;}
p, form, h1, h2, h3, h4, h5, h6{margin:0; font-weight:normal;}
table acronym{border:0;	border-collapse:collapse;}
td{padding:0;}
a img{border:none;}
.it{font-style:italic;}
.gras{font-weight:bold;}
.norm{font-weight:normal!important;}
.acc{position:absolute; left:-1000em;}
.cb{clear:both;}
.fl{float:left;}
.fr{float:right;}
#wt {width:100%;}
/* picto fleche suite */
.bsuite{width:11px; height:8px; margin:0 4px 0 4px;}
/* centrage - extensibilite contenu */
#pg{max-width:984px; margin:0 auto 0 auto; text-align:center;}
#pgcentre{text-align:left; margin:0 auto 0 auto; width:100%; max-width:984px;}
* html #pgcentre{width:auto;}
#pgcontenu{text-align:left; font-size:70%;}
* html #pgcontenu{width:984px;}
/* listes */
ul{list-style-type:none; padding:0; margin:0;}
.colB li{background:url(puce_nav2.gif) 0px 5px no-repeat;padding:0 0 0 9px;}
/* bandeau haut */
#bandeauhaut img{vertical-align:top;}
#logo{float:left;}
#visuel {float:left; padding:0 15px 0 3px;}
#signature {font-size:2.3em; font-weight: bold;	color: #33601B;	padding:40px 0 0 0; height:75px;}
* html #logo{margin-right:-3px;}
/* navigation principale */
#navprinc{background-color:#FFCC00;	padding:0 0 0 169px;}
#navprinc p:after{content:".";	display:block;	height:0; clear:both; visibility:hidden;}
*:first-child+html  #navprinc {height:100%;}
.lmin{width:767px; height:1px;	overflow:hidden;}
#navprinc img{float:left; margin:5px 0 0 0;}
#navprinc a{display:block; float:left;	color:#000; font-size:1em; text-decoration:none; font-weight:bold; padding:4px 11px 4px 9px;}
#navprinc span.on a{background:#33601B url(navprinc_fle.png) left center no-repeat; color:#FFF; font-size:1.2em;}
#navprinc a:hover{text-decoration:underline;}
/* navigation haut */
#navhaut{background-color:#D96B00;}
#navhaut:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
#navhaut div{background-color:#FFCC00; float:left; padding-left:170px;}
#navhaut div p{width:399px; text-align:center; padding:3px 0 3px 0;}
#navhaut p span.on{font-weight:bold;}
#navhaut p.contacts{background-color:#990000; text-align:right;	float:right; width:22%;	padding:3px 10px 3px 0;}
#navhaut a{color:#000;	text-decoration:none;}
#navhaut .contacts a{color:#FFF; font-weight:bold;}
#navhaut a:hover{text-decoration:underline;}
#navhaut p.contacts a img{margin:0 4px 0 0; vertical-align:baseline;}
/* navigation bas */
#navbas{background-color:#FFCC00; padding:5px 10px 3px 10px; margin-top:20px;}
#navbas p{float:left;}
#navbas p span.on{font-weight:bold;}
#navbas p.contacts{font-weight:bold; float:none; text-align:right;}
#navbas p.contacts a img{margin:0 4px 0 0; vertical-align:baseline;}
#navbas a{color:#000; font-size:1em; text-decoration:none;}
#navbas p a:hover{text-decoration:underline;}
#navbas p.contacts a:hover{text-decoration:none;}
#navbas p.contacts a:hover span{text-decoration:underline;}
* html #navbas p.contacts a:hover{text-decoration:underline;}
#navbas img{margin:-2px 2px 0 2px; vertical-align:middle;}
* html #navbas img{margin-top:0;}
/* colonne gauche */
#colA{vertical-align:top; background-color:#FFF5E1; border-top:10px solid #FFF;	border-right:10px solid #FFF;}
#colA .recherche{border-bottom:10px solid #FFF;	background-color:#FFE5B2; padding:10px 0 0 0; width:159px;}
#colA .recherche form {padding:0 0 0 10px;}
#colA .recherche label, #colA .contact div p{color:#990000; font-size:130%; font-weight:bold;}
#colA .recherche a:hover {text-decoration:underline;}
#colA .contact{border-bottom:10px solid #FFF; background-color:#FFE5B2; padding:10px 0 0 0; width:159px;}
#colA .contact div{padding:0 0 5px 10px;}
#colA .contact div a{color:#000; text-decoration:none; display:table-cell; padding:0 0 0 9px;}
#colA .contact div img{diplay:block; float:left}
.bolder {font-weight:bold;}
.last-newsletter {background-color:#FFF; padding:10px 0 0 0;}
.last-newsletter a {color:#000000; text-decoration:underline;}
#colA #recherche, #colA #newsletter{vertical-align:middle; width:112px; margin:2px 0 4px 0;}
#colA #ou{vertical-align:middle; width:112px; width:122px; margin:2px 0 0 0;}
* html #colA #recherche, * html #colA #recherche2{width:116px; margin-top:1;}

/* bouton OK */
input.ok{padding:2px 0 2px 0; color:#FFFFFF; font-size:1em; font-weight:bold; background-color:#990000;	margin-left:3px; border:none; height:1.65em;}
* html input.ok{width:1.9em;}
.recherche select{margin-left:10px;}
/* navigation secondaire */
#navsec ul{margin:-5px 0 0 0;}
#navsec ul ul{margin-top:2px;}
#navsec ul ul ul{margin:0 0 5px 0;}
#navsec li{background:none; padding:16px 8px 0 12px;}
#navsec li li{background:url(puce_nav2.gif) 0px 4px no-repeat;padding:0 0 0 9px;}
#navsec li li.on{background-image:url(puce_nav2_on.gif);}
#navsec li a{color:#622B10; font-size:1.1em; font-weight:bold; text-decoration:none; line-height:1em;}
#navsec li li a{color:#000; font-size:1em; font-weight:normal; text-decoration:none; line-height:1.2em;}
#navsec li li.on a{color:#33601B; font-weight:bold; font-size:1.2em;}
#navsec li a:hover{text-decoration:underline;}
#navsec li li.on li{background:none; padding:0 0 0 12px;}
#navsec li li.on li.on{background:url(puce_nav2b_on.gif) 6px 5px no-repeat; font-size:1.2em;}
#navsec li li.on li a{font-size:.9em; color:#000000; font-weight:normal;}
#navsec li li.on li.on a{color:#33601B;}
#navsec p{padding:8px 10px 0 10px; color:#000;}
#navsec p a{color:#000;}
#navsec p span{color:#622B10; font-weight:bold;}
#acclab{vertical-align:bottom; background-color:#FFF5E1; text-align:center; padding:50px 0 12px 0;}
#honcode{padding:0px 0px 12px 10px;}
#honcode a{color:#000;}
#honcode img{float:left; display:block; margin-right:6px;}
/* colonne centrale */
.pgcorps{height:375px;}
.pgcorps a{color:#000;}
#colB{vertical-align:top; width:100%; background:url(fd_colB.jpg) left top no-repeat; padding:0 0 0 18px;}
.colB{vertical-align:top; width:100%;}
.colC{vertical-align:top;}
#layout0 .colB{width:48%; background:url(fd_colC.jpg) right top no-repeat;}
#layout0 .colB .hpmrg{padding-right:20px;}
#layout0 .colC{width:52%;}
#layout0 .colC .hpmrg{padding:10px 0 0 10px;}
/* fil d'ariane */
#fa{padding:8px 0 12px 0; font-size:1em;}
#fa span{font-weight:bold;}
#fa a{color:#000; text-decoration:none;}
#fa a:hover{text-decoration:underline;}
/* sous-titres */
.pgstitre, .pgstitre2{background-color:#990000;	padding:2px 8px 2px 8px; color:#FFF; font-size:1.1em; font-weight:bold;}
.pgstitre2{background-color:#33601B;}
/* structure 2 colonnes */
.colx2a{float:left; width:47%;}
.colx2b{float:right; width:47%;}
/* lien fleche */
a.acces{font-size:1.1em; font-weight:bold; display:block; background:url(picto_lien.gif) 0px 5px no-repeat; padding:0 0 0 10px;text-decoration:underline; width:100%;}
/* blocs edito */
.bedtmrg{padding-top:10px;}
.bedt {clear:both;}
.bedt p{padding:0 0 8px 0;}
.bedt:after{content:"."; display:block;	height:0; clear:both; visibility:hidden;}
.bedt div{padding:0 0 4px 8px;}
*:first-child+html .bedt div{display:block; float:left;}
*:first-child+html .bedt {height:100%;}
.bedt div.nomrg{padding-left:0;}
.bedt .bimg{color:#333333; float:left; padding:3px 5px 2px 0;}
* html .bedt .bimg{margin:0 -3px 0 0;}
.bedt .bimg img{vertical-align:top; margin-bottom:2px;}
p.legendechapo {width:170px;}
p.legende {width:80px;}
p.legendehp {width:120px;}
.bedt .bnot{font-size:1em; padding-bottom:0;}
.bedt .bnot span {font-weight:bold;}
.bedt .btit, .bedt .btit2{line-height:1.2em; font-weight:bold; font-size:1.1em;	padding-bottom:2px;}
.bedt .btit2{font-size:1.3em;}
.bedt .btxt2{font-size:1.1em;}
/* page accueil */
/* bloc introduction */
.hpintro h1{font-size:1.8em; color:#990000; font-weight:bold;}
.hpintro p{font-size:130%; color:#33601B;}
.hpintro li {background:none}
.hpintro li p{font-size:1.1em;	background:url(puce_fleche-v.gif) 0 6px no-repeat; padding:2px 0 0 8px;}
/* blocs edito focus */
.hpfocus .pgstitre2{font-size:1.4em; margin:12px 0 12px 0;}
.hpfocus .bedt .btit{padding:0 0 4px 8px;}
.hpfocus .bedt .btxt{}
/* bloc info Fondation */
.ifond{margin:0 0 10px 0;}
.ifond .pgstitre{font-size:1.6em; padding:4px 5px 3px 28px; background:#990000 url(picto_actualite.gif) 4px 5px no-repeat;font-weight:normal;z-index:2;margin-bottom:-1px}
.ifond p{padding-top:4px;}
.ifond div p{border-top:1px solid #CC7F7F; padding:6px 12px 6px 0; position:relative; z-index:1}
.ifond div p span{font-size:1.1em;}
/* bloc informations avec fond saumon */
.sinfos{margin:0 0 10px 0;}
.sinfos .pgstitre{font-size:1.6em; padding:4px 5px 3px 28px; background:#990000 url(picto_actualite.gif) 4px 5px no-repeat;font-weight:normal; position:relative;	z-index:2;margin-bottom:-1px;}
.sinfos p{padding-top:4px;}
.sinfos div{position:relative; background-color:#FFF5E0; padding:8px;}
.sinfos img{position:relative;}
/* bloc proche de vous */
.proche {margin:20px 0 12px 0; position:relative; background-color:#FFF5E0; padding:5px 10px 5px 10px;}
.proche h2{background:#FFF5E0;font-size:1.3em; font-weight:bold; color:#990000;	padding:3px 3px 3px 54px;}
.proche img{position:absolute; margin:-58px 0 0 -10px;}
.proche label{clear:left; font-size:1.1em;}
.proche select{font-size:1.1em;	width:82%; margin:2px 0 2px 0; vertical-align:middle;}
.proche input{vertical-align:middle;}
.proche a{background:#990000; font-size:1.2em; color:#FFF; font-weight:bold; padding:2px; text-decoration:none;	float:left; margin:4px 0 4px 3px;}
/* bloc revue de presse */
.rp{position:relative;	margin:28px 0 0 0;}
.rp h2{background-color:#FFF5E0; font-size:1.3em; font-weight:bold; color:#990000; padding:3px 8px 0px 52px;}
.rp div{background-color:#FFF5E0; min-height:34px;}
.rp p{padding:5px 10px 0px 52px;}
.rp p a{color:#000; text-decoration:none; display:table-cell; background:url(puce_fleche-r.gif) 0px 3px no-repeat;padding:0 0 0 9px;}
.rp p a:hover{text-decoration:underline;}
.rp img{position:absolute; margin:-26px 0 0 7px;}
/* bloc actus */
.actus{margin:0 0 10px 0;}
.actus .pgstitre{font-size:1.6em; color:#000; border:1px solid #990000;	border-width:1px 0 1px 0; padding:3px 5px 2px 34px;background:#FFF url(pictu-actu.gif) 5px 7px no-repeat;font-weight:normal;position:relative;z-index:2;margin-bottom:-11px}
.actus div{position:relative; z-index:1; border-top:1px solid #CC7F7F; margin:10px 0 0 0; padding:10px 0 4px 0;}
.actus div p{padding:0 0 6px 0;}
.actus div p.tit{font-size:1.1em; font-weight:bold; color:#990000;}
.actus div p span{font-size:1.1em;}
/* bloc actualites avec fond saumon */
.sactus{margin:0 0 10px 0;}
.sactus .pgstitre{font-size:1.6em; color:#000; border:1px solid #990000;border-width:1px 0 1px 0; padding:3px 5px 2px 34px;background:#FFF url(pictu-actu.gif) 5px 7px no-repeat;font-weight:normal;position:relative;z-index:2;}
.sactus p{padding-top:4px;}
.sactus div{position:relative; background-color:#FFF5E0; padding:8px;}
.sactus img{position:relative;}
/*\*/
* html #navhaut, * html #bandeauhaut, * html #navprinc p, * html #navbas{height:1%;}
*:first-child+html #navhaut, * html #bandeauhaut, * html #navprinc p, * html #navbas{height:100%;}
* html a.acces{display:inline-block;}
* html .bedt{height:1%;}
* html .bedt div{display:block;	float:left;}
* html .bedt div/**/{display:inline-block; float:none;}
* html .bedt .bimg/**/{float:left;}
* html .bedt div.nomrg{padding-left:0;}
* html .rp div{height:34px;}
* html .rp p a{display:inline-block;}
* html .proche select{width:70%;}
/*int.css*/
#navsec li a{font-size:1.3em;}
#navsec li li a{font-size:1em;}
/* corps de page */
.pghaut{position:relative;}
* html .pghaut{height:1%;}
*:first-child+html .pghaut{height:100%;}
/* structures ab-c */
#layout1 .colC{padding-left:20px;}
#layout1 .colC div{width:175px;}
#layout2 .colB{width:50%; padding-right:15px;}
#layout2 .colC{width:50%; padding-left:15px;}
/* titre de page */
.pgtitre, .pgtitre2{padding:0 0 12px 0;	font-size:200%; color:#990000; font-weight:bold; width:70%;line-height:100%;}
.pgtitre2{color:#33601B;}
.pgsurtitre{padding-top:10px; font-size:1.1em; color:#000000;}
.pgsurtitre span{font-weight:bold;}
/* actions */
.pgactions{margin-top:-35px;margin-bottom:10px;float:right;}
.pgactions span{font-size:140%;	color:#AFAFAF;}
.pgactions a{color:#000000; text-decoration:none; white-space:nowrap;}
.pgactions a:hover{text-decoration:underline;}
.pgactions a.imp{background:url(picto_imp.gif) 4px 0px no-repeat; padding:4px 2px 4px 24px;}
.pgactions a.env{background:url(picto_env.gif) 4px 0px no-repeat; padding:4px 0 4px 25px;}
/* haut de page */
.pgtop{text-align:right;padding:5px 0 0 0;}
.pgtop a{display:table;	margin:0 0 0 auto; background:url(picto_top.gif) right center no-repeat;padding:0 12px 0 0;text-decoration:none;color:#000;}
.txt2{font-size:1.1em;}
/* bloc aide bandeau gauche */
.aide{padding:12px 8px 0 12px;}
.aide li{font-size:1em;	padding:0 0 6px 0; line-height:110%;}
.aide li a{color:#000000;}
.aide p{color:#622B10;	font-size:1.1em; font-weight:bold; text-decoration:none; line-height:100%; padding:0 0 6px 0;}
/* bloc encart */
.encart{background-color:#FFF5E0; padding:8px;}
.encart div {padding-right:30px;}
/* bloc le saviez-vous */
.lsv{margin:0px 0 20px 0;}
.lsv .pgstitre2{background-image:url(picto_lesaviezvous.png);background-position:10px 2px;background-repeat:no-repeat;padding:0px 49px 4px 32px;}
.lsv p{background-color:#FFF5E0; padding:8px; font-size:1.1em; color:#000;}
.pgchapo{font-size:1.1em; padding:0 8px 8px 8px;}
/* barre pagination */
.pgnav{padding-bottom:0; text-align:center; font-size:1.1em;}
.pgnav a, .pgnav span{margin:0 3px 0 3px;}
.pgnav a{text-decoration:underline;}
/* resultats moteur de recherche */
#restitre{font-weight:normal;}
#restitre span{font-weight:bold;}
div.res{padding:15px 12px 15px 8px;}
div.res p{padding-bottom:15px; font-size:1.1em;}
div.res p.st{padding-bottom:2px; font-size:1em;}
div.res p span{font-weight:bold;}
div.res p a{white-space:nowrap;}
div.res .bsuite{margin-left:2px;}
/* fafi le 04/11/08 remplacement du p par un ol-li */
div.res ol{list-style-type:none; padding-left:0px; margin:0; font-weight:normal;}
div.res li{background:none; padding:0 0 15px 0; font-size:1.1em;}
div.res li span{font-weight:bold;}
div.res li a{white-space:nowrap;}
/* bouton validation formulaire */
.bouton{border:none; color:#FFF; font-weight:bold; padding:2px 10px 2px 24px; background:#B41C0A url(picto_bouton.gif) left center no-repeat;	line-height:100%;}
.bouton2{border:none; color:#FFF; font-weight:bold; padding:2px 10px 2px 24px; background:#BCBBBB url(picto_bouton.gif) left center no-repeat;	line-height:100%;}
/* encart fiche */
#efich {clear:both}
#efich p{padding-top:4px;}
#efich div{padding:0 0 4px 0; clear:both;}
#efich div:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
#efich div p{padding-top:0; display:block; float:left;}
#efich div p.lab{display:block;	float:left; padding-right:4px; font-weight:bold;}
#efich div p.lib{font-weight:bold; font-size:1.2em;}
#efich div h2.lib{font-weight:bold; font-size:1.2em;}
#efich .acces {clear:both;}
/* encart article */
#eart div p{font-weight:bold; padding:0 0 2px 0;}
#eart div div.mrg{padding:0 0 8px 0;}
#eart div div.mrg p{font-weight:normal;	padding:0 0 2px 18px;}
/*\*/
* html .pgactions span, * html .pgactions a{display:block; float:left;}
* html .pgactions span/**/{display:inline-block; float:none;}
* html .pgactions a/**/{display:inline-block; float:none;}
* html .pgtop a{display:inline-block;}
* html .anpm{height:1%;}
*:first-child+html .anpm{height:100%;}
* html .anpm p{display:inline-block; width:auto;}
* html .anpm p.illus{float:left; margin-right:-3px;}
* html #efich div{height:1%;}
*:first-child+html #efich div{height:100%;}
* html #efich div p{display:inline-block;}
* html .colx2a{	margin-right:-3px;}
* html .bouton/**/{width:1px; overflow:visible; padding-top:4px;}
.fck_btit2{line-height:1.2em; font-weight:bold; font-size:1.1em; padding-bottom:2px; font-size:1.3em;}
.fck_bnot{font-size:1em; padding-bottom:0;}
.fck_vert{color:#33601B;}
.fck_rouge{color:#990000;}
.fck_li_rouge{background:url(puce_nav2.gif) 0px 4px no-repeat;	padding:0 0 0 9px;}
.fck_li_vert{background:url(puce_nav3.gif) 0px 4px no-repeat; padding:0 0 0 9px;}
/* bloc newsletter */
.newsletter{margin:0 0 10px 0;}
.newsletter label{font-size:1.1em; font-weight:bold;}
.newsletter #newsletter_abonne_email{width:80%;}
.newsletter input{vertical-align:middle; margin:6px 0 2px 0;}
.newsletter a{color:#000;}
/*lexique*/
.lexique-intro ul{zoom: 1; overflow: hidden; margin: 7px 0 0; padding: 0 0 2px 0;}
.lexique-intro li, #lexique-definitions li{padding:0px;}
.lexique-intro ul li{background:none; float: left; width: 2.05em; height: 2.0em; line-height: 2em;}
.lexique-intro ul li a, .lexique-intro ul li span, .lexique-intro ul li strong{display: block; background: #444344 url(lexique-lettres.gif) repeat-x left top; text-align: center; color: #fff; border: 1px solid #D2D1D1; border-left: 0;}
.lexique-intro ul li strong{background: #0A5243 url(lexique-lettres-on.gif) repeat-x left top;}
.lexique-intro ul li span{background: #E5E5E5; color: #000000;}
.lexique-intro ul li.premier a, .lexique-intro ul li.premier span, .lexique-intro ul li.premier strong{border:1px solid #D2D1D1;}
.lexique-intro ul li.premier strong{border:1px solid #D2D1D1;}
.lexique-intro ul li.premier span{border:1px solid #D2D1D1;}
#lexique-definitions{padding-left: 9px;}
#lexique-definitions li{background:none;}
#lexique-definitions li a{text-decoration:none;}
#lexique-definitions dl dt{font-weight: bold; padding-bottom: 0.4em;}
#lexique-definitions dl dd{padding-bottom: 5px; margin:0;}
#lexique-definitions .bsuite{margin:0 4px 0 0;}
/*annuaires sites&blogs*/
#bnvlst a{text-decoration:none;}