
/* ********** Edito ************* */

.sample_edito {
	width:300px;
	overflow:hidden;
	font:10px Verdana;
}

.sample_edito .link {
	float:right;
	width:50px;
	height:33px;
	margin:5px 0 0 5px;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/picto-com-bg.png');
	background-repeat:repeat-y;
	cursor:pointer;
	text-decoration:none;
}

.sample_edito .link span {
	float:left;
	margin:6px 0 0 4px;
	color:#fff;
}

.sample_edito .buttons{margin:0;padding:0;}

.sample_edito .buttons span {
	float:left;
	width:150px;
	height:37px;
	padding:10px 0 0 0;
	text-align:center;
	cursor:pointer;
	text-transform:uppercase;
	font-weight:bold;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/edito-title-bg-off.jpg');
	color:#2487bb;
	font-family: helvetica, sans-serif, black ;
	font-stretch :condensed;
	letter-spacing:-.1em;
}

.sample_edito .buttons span.active, .sample_edito .buttons span:hover{
	text-decoration:none;
	color:#fff;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/edito-title-bg-on.jpg');
}

.sample_edito .buttons span div {
	margin:0 5px;
}

.sample_edito .handles_edito {
	height:36px;
	color:#1e86be;
	font-family: helvetica, sans-serif, black ;
	font-stretch :condensed;
	letter-spacing:-.1em;
	font-size:14px;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/content-title-bg.jpg');
}

.box_mask_edito{
	position:absolute;
}

.box_mask_edito div{
	width:300px;
	float:left;
}

.sample_edito .buttons{
	text-align:center;
	clear:both;
}

.sample_edito span img{
	display:block;
	border:none;
}

.sample_edito .mask1{
	position:relative;
	width:300px;
	height:185px;
	overflow:hidden;
	float:left;
	margin:5px 0 0 0;
}

/* ********** Trailer ************* */

.sample_trailer {
	width:300px;
	overflow:hidden;
	font:10px Verdana;
}

.sample_trailer .link {
	float:left;
	width:43px;
	height:32px;
	margin:4px 0 0 120px;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/picto-com-bg.png');
	background-repeat:repeat-y;
	cursor:pointer;
	text-decoration:none;
}

.sample_trailer .link span {
	float:left;
	margin:3px 0 0 4px;
	color:#fff;
}

.sample_trailer .buttons{margin:0;padding:0;}

.sample_trailer .buttons span {
	float:left;
	width:150px;
	height:37px;
	padding:10px 0 0 0;
	text-align:center;
	cursor:pointer;
	text-transform:uppercase;
	font-weight:bold;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/edito-title-bg-off.jpg');
	color:#2487bb;
	font-family: helvetica, sans-serif, black ;
	font-stretch :condensed;
	letter-spacing:-.1em;
}

.sample_trailer .buttons span.active, .sample_trailer .buttons span:hover{
	text-decoration:none;
	color:#fff;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/edito-title-bg-on.jpg');
}

.sample_trailer .buttons span div {
	margin:0 5px;
}

.sample_trailer #handles_trailer {
	height:36px;
	color:#1e86be;
	font-family: helvetica, sans-serif, black ;
	font-stretch :condensed;
	letter-spacing:-.1em;
	font-size:14px;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/content-title-bg.jpg');
}

#box_trailer{
	position:absolute;
}

#box_trailer div{
	width:300px;
	float:left;
}

.sample_trailer .buttons{
	text-align:center;
	clear:both;
}

.sample_trailer span img{
	display:block;
	border:none;
}

.sample_trailer .mask1{
	position:relative;
	width:300px;
	height:185px;
	overflow:hidden;
	float:left;
	margin:0 0 0 0;
}


/* ********** Prime ************* */

.sample_prime {
	width:508px;
	overflow:hidden;
	font:10px Verdana;
	background-color:#000;
}

.sample_prime .buttons{padding:5px;}
.sample_prime .buttons span{color:#fff;padding:0 4px;cursor:pointer;font-size:12px;text-transform:uppercase;font-weight:bold;}
.sample_prime .buttons span.active, .sample_prime .buttons span:hover{color:#2487bb}

.sample_prime .buttons span h2 {
	float:left;
	font-size:24px;
	margin:7px 0 0 16px;
	padding:0;
	color:#fff;
	font-family: helvetica, sans-serif, black ;
	letter-spacing:-.1em;
	font-weight:normal;
}

#box_prime{
	position:absolute;
}
#box_prime div{
	width:480px;
	float:left;
}

.sample_prime .buttons{
	text-align:center;
	color:#fff;
	font-family:helvetica, sans-serif, black;
	font-size:150%;
	margin:9px 0 0 0;
	clear:both;
}

#box_prime img{
	display:block;
	border:none;
	margin:0 0 0 30px;
}

.sample_prime .mask1{
	position:relative;
	width:480px;
	height:155px;
	overflow:hidden;
	float:left;
	margin:0 0 0 25px;
}

#box_prime .prime_title {
	margin:12px 0 0 28px;
	text-align:left;
	width:200px;
	color:#fff;
	font-size:11px;
}

#box_prime .prime_content {
	float:left;
	margin:10px 10px 0 10px;
	width:220px;
}

/* -------- Carrousel Program -------- */

.sample-program-header {
	width:auto;
	height:36px;
	padding:0;
	color:#2d4a5c;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/content-title-bg.jpg');
}

.sample-program-header h2 {
	float:left;
	font-size:14px;
	margin:10px 0 0 10px;
	padding:0;
	color:#2487bb;
	font-family: helvetica, sans-serif, black ;
	font-stretch :condensed;
	letter-spacing:-.1em;
	text-transform:uppercase;
}

.sample-program-header .comma {
	position:relative;
	top:36px;
	right:190px;
	margin:0;
}

.sample-program-header img {
	float:right;
}

#box_program {
	position:absolute;
}

#box_program span{
	display:block;
}

#handles_program_1{
	float:left;
	margin:10px 10px 0 10px;
	color:#932084;
}

#handles_program_2{
	float:left;
	margin:10px 10px 0 0;
	color:#932084;
}

.mask_program {
	position:absolute;
	left:50%;
	margin-left:-230px;
	width:420px;
	height:236px;
	overflow:hidden;
}

.sample_program {
	float:left;
	width:100%;
}

.sample_program .buttons{
	clear:both;
	text-align:center;
}

.sample_program .thumbs{
	float:left;
}

.sample_program .thumbs .thumb-title {
	font-weight:bold;
	font-family: helvetica, sans-serif, black ;
	font-stretch :condensed;
	font-size:12px;
}

.sample_program .thumbs div {
	display:block;
	width:120px;
	height:102px;
	margin:3px 0;
	cursor:pointer;
}

.sample_program .thumbs div img {
	display:block;
	width:122px;
	height:69px;
	border:none
}

.sample_program .info {
	width:420px;
	height:50px;
	top:204px;
	background:#000;
	position:absolute;
}

.sample_program .info p, .info h4 {
	color:#fff;
	padding:3px 8px;
	font-family:Arial;
}

.sample_program .info h4 {
	font-size:14px;
}

.sample_program .info h4 a {
	float:right;
	background:#fff;
	color:#000;
	font-size:10px;
	padding:0 3px;
	text-decoration:none
}


/* ************ Carrousel Placard ******** */

#box_placard{
	position:absolute;
	width:360px;
}

#box_placard span{
	display:block;
	height:240px;
}

#handles_placard{
	float:left;
	margin:13px 0 0 0;
}

.mask_placard{
	position:absolute;
	left:50%;
	margin:0 0 0 -330px;
	width:360px;
	height:240px;
	overflow:hidden;
}

.sample_placard {
	float:left;
	text-align:left;
	width:508px;
	height:240px;
	margin:0 0 0 1px;
	font-size:100%;
	background-color:#000;
	color:fff;
}

.info{
	width:336px;
	height:50px;
	background:#000;
	position:absolute;
	text-transform:uppercase;
	top:190px;
}

.info h4{
	color:#fff;
	padding:3px 8px;
	font-family:Arial;
	font-size:14px;
	margin:17px 0 0 0;
}

.info h4 a{
	float:right;
	background:#000;
	color:#000;
	font-size:10px;
	padding:0 3px;
	text-decoration:none
}

.sample_placard .thumbs img {
	float:left;
	width:170px;
	height:13px;
	margin:-11px 0 0 1px;
}

.sample_placard .thumbs {
	width:96px;
	font-weight:bold;
	margin:0;
	padding:0;
}

.sample_placard .thumbs span {
	float:left;
	width:172px;
	height:65px;
	text-align:center;
	margin:-13px 0 0 0;
	cursor:pointer;
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
	color:#fff;
	font-family: helvetica, sans-serif, black ;
	font-stretch :condensed;
	letter-spacing:-.1em;
	/*background-image:url('../images/background/placard-prime-bg-off.png');*/
}

.sample_placard .thumbs span.active {
	text-decoration:none;
	color:#2487bb;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/placard-prime-on-bg.png');
}

.sample_placard .thumbs span:hover{
	text-decoration:none;
	color:#2487bb;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/placard-prime-focus-bg.png');
}

/* ************ Carrousel Placard Program ******** */

.sample_placard_program {
	float:left;
	text-align:left;
	width:692px;
	height:252px;
	margin:10px 0 0 0;
	font-size:100%;
	background-color:#000;
	color:fff;
}

.sample_placard_program .info{
	width:448px;
	height:50px;
	background:#000;
	position:absolute;
	text-transform:uppercase;
	top:202px;
}

.sample_placard_program .info p, .info h4{
	color:#fff;
	padding:0 8px;
	font-family:Arial;
}

.sample_placard_program .info h4{
	font-size:14px;
}

.sample_placard_program .buttons img {
	float:left;
	width:170px;
	height:13px;
	margin:-11px 0 0 39px;
}

.sample_placard_program .buttons {
	width:96px;
	font-weight:bold;
	margin:0;
	padding:0;
}

.sample_placard_program .buttons span {
	float:left;
	width:245px;
	height:62px;
	text-align:center;
	margin:-13px 0 0 0;
	cursor:pointer;
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
	color:#fff;
	font-family: helvetica, sans-serif, black ;
	font-stretch :condensed;
	letter-spacing:-.1em;
}

.sample_placard_program .buttons span.active {
	text-decoration:none;
	color:#2487bb;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/placard_program-prime-on-bg.png');
}

.sample_placard_program .buttons span:hover{
	text-decoration:none;
	color:#2487bb;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/placard_program-prime-focus-bg.png');
}

#box_placard_program{
	position:absolute;
	width:448px;
}

#box_placard_program span{
	display:block;
	
}

#handles_placard_program{
	float:left;
	margin:13px 0 0 0;
	padding:0;
	width:142px;
}

.mask_placard_program{
	position:absolute;
	left:50%;
	margin:0 0 0 -257px;
	width:448px;
	height:252px;
	overflow:hidden;
}


/* ************ News ******** */

#sample_news {
	
}

#sample_news .buttons {
	float:left;
	margin:0;
	padding:0;
}

#sample_news #prev1{
	float:left;
	width:22px;
	height:19px;
	background-image:url('http://www.direct8.fr/themes/direct8/images/picto/picto-filinfo-left.gif');
	cursor:pointer;
}

#sample_news #next1 {
	float:left;
	width:22px;
	height:19px;
	background-image:url('http://www.direct8.fr/themes/direct8/images/picto/picto-filinfo-right.gif');
	cursor:pointer;
}

#content_news {
	float:left;width:460px;
}

#box_news {
	position:absolute;
}

#box_news div{
	width:460px;
	height:19px;
	float:left;
	color:#000;
	background:#fff;
	text-align:left;
}

#box_news h3 {
	margin:0;
	padding:0 0 0 5px;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
}

#box_news h3 a {
	float:left;color:#000;margin:2px 0 0 0;padding:0;
}

#box_news p{
	color:#000;
}

.mask_news{
	position:relative;
	width:460px;
	height:19px;
	overflow:hidden;
}


/* ********** day_grid ************* */

.sample_day_grid {
	width:508px;
	overflow:hidden;
	font:10px Verdana;
	background-color:#000;
}

.sample_day_grid h3 {
	margin:10px 0 0 0;
}

.sample_day_grid .buttons{float:left;width:20px;color:#fff;margin:50px 0 0 20px;}
.sample_day_grid .buttons span{color:#fff;padding:0 4px;cursor:pointer;text-transform:uppercase;font-weight:bold;}
.sample_day_grid .buttons span.active, .sample_day_grid .buttons span:hover{color:#0e4f8a}

.sample_day_grid .buttons span h2 {
	float:left;
	font-size:24px;
	margin:7px 0 0 16px;
	padding:0;
	color:#fff;
	font-family: helvetica, sans-serif, black ;
	letter-spacing:-.1em;
	font-weight:normal;
}

#box_day_grid{
	position:absolute;
	font-size:80%;
}

#box_day_grid div{
	width:480px;
	float:left;
	font-size:12px;
}

#box_day_grid div .grid_box{
	float:left;
	margin:0 10px 0 10px;
	width:180px;
}

#box_day_grid div .grid_date{
	margin:0 0 8px 10px;
	text-align:left;
	width:170px;
	font-size:12px;
	color:#e74705;
}

#box_day_grid div .grid_title{
	margin:10px 0 0 10px;
	text-align:left;
	width:170px;
	color:#fff;
	font-size:11px;
}

#box_day_grid div img{
	margin:0 0 0 10px;
}

#box_day_grid .next{
	float:right
}

.sample_day_grid span img{
	display:block;
	border:none;
}

.sample_day_grid .mask1{
	position:relative;
	width:380px;
	height:163px;
	overflow:hidden;
	float:left;
	margin:0 0 0 25px;
}
