img {
	background: 0;
	border: 0px;
	padding: 0;
}

.form, .loginform {
    border: 1px solid rgb(181, 197, 212);
    background-color: rgb(246, 246, 246);
    padding: 12px;
}

.form-entry {
    margin-bottom: 1em;
}

.form-label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.form-control {
}

.form .footnote {
    margin-bottom: 1.5em;
}

.form input[type="text"], .form input[type="password"] {
    /*width: 100%;*/
}

textarea {
    padding: 0.2em;
    width: 100%;
    font: 13px Arial, Helvetica, sans-serif;
}

hr {
    height: 1px;
    padding: 0px;
    color: rgb(181, 197, 212);
    background-color: rgb(181, 197, 212);
    border: 0;
    margin-top: 12px;
    margin-bottom: 12px;
}

.inline-photo {
    border: 1px solid rgb(181, 197, 212);
    background-color: rgb(246, 246, 246);
    padding: 6px;
    float: right;
}


/* Messages */
.message {
    margin-bottom: 1.8em;
}

.clearer {
    clear: both;
}

.message .close {
    float: right;
    margin-right: -6px;
    margin-top: -6px;
}

.message #messagetext {
    visibility: hidden;
    display: none;
}

.message .readmore {
    float: right;
}

.message .readmore a {
    text-decoration: none;
}


/* Icons list */
.icon-list {
    margin-top: 1em;
    margin-left: 1em;
    font-size: smaller;
    text-align: center;
}

.icon {
    width: 120px;
    height: 80px;
    padding: 12px;
    float: left;
    /*align: center;*//*commenté par $nip le 11 juin 2009*/
    text-align: center;
}

.icon img {
    margin-bottom: 0.2em;
}

.icon a {
    text-align: center;
    /*align: center;*//*commenté par $nip le 11 juin 2009*/
    text-decoration: none;
    color: black;
}

.supertable td {

}
