/********/
/* TABS */
/********/

#tablist{
    padding-left: 0px;
    margin-bottom: 1px;
    font-weight: 600;
    margin-left: 16px;
    margin-right: 10px;
}

#tablist ul {
    margin: 0px;
    padding: 0px;
}

#tablist li{
    list-style: none;
    display: inline;
    margin: 0px;
    padding: 0px;
}

#tablist li a {
    padding: 3px 0.5em;
    margin: 0px;
    border: 1px solid #b8c6d6;
}

#tablist li a.unselected {
    text-decoration: none;
}

#tablist li a:link, #tablist li a:visited{
    color: #b8c6d6;
}

#tablist li a.current{
    background: #b8c6d6;
    border-bottom: 1px solid #b8c6d6;
    color: black;
}

#tabcontentcontainer{
    padding: 5px;
    border: 1px solid #b8c6d6;
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

.tabcontent{
    display:none;
}

.tabcontent form {
          margin-left: 10px;
          margin-right: 10px;
}

p.button, #content p.button {
	border: 1px solid rgb(181, 197, 212);
	background: url(../dtcimages/now.png) no-repeat rgb(246, 246, 246);
	background-position: 3px 3px;
	padding: 6px;
	margin: 0px;
	padding-left: 32px;
}

p.button a {
	text-decoration: none;
}

#content p.button {
	margin-left: 1em;
}

input, textarea {
    border: 1px solid #9e9e9e;
}

input[type="text"], textarea {
    width: 100%;
}

.supertable {
        border-collapse: collapse;
	margin-left: 1em;
	margin-right: 1em;
	text-align: center; 
}

.supertable th {
        background-color: rgb(246, 246, 246);
        border: 1px solid rgb(181, 197, 212);
        padding: 6px;
        margin: 0px;
	text-align: center;
}

.supertable td {
        border: 1px solid rgb(181, 197, 212);
        padding: 6px;
        margin: 0px;
}

.regular {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.square-button {
    border: 1px solid rgb(181, 197, 212);
    background: rgb(246, 246, 246);
    padding: 12px 6px;
    margin: 0.5em;
    color: gray;
    min-width: 200px;
    max-height: 84px;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    text-decoration: none;
}

.square-button:hover {
    background: #eee;
    -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
}

table#cbcmcic {
    border: 1px solid #73d216;
    padding: 1em;
}

#cbcmcic input {
    vertical-align: middle;
    font-weight: bold;
    margin-left: 1em;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

dt:hover {
    background: peachpuff;
}

dt {
    font-weight: bold;
    font-size: larger;
}

.form-control.bootstrap-select {
    font-size: 13x !important;
}

.form-control.bootstrap-select button {
    padding-left: 6px !important;
}

.required .control-label:after {
    content:"*";
    color:red;
}

.btn-orange {
    background-color: #a52e03;
    color: white;
}

.btn-orange:hover {
    background-color: #a52e03 !important;
    color: white !important;
}


.avatar {
    width: 42px !important;
    height: 42px !important;
    overflow: hidden !important;
    border-radius:50% !important;
    padding: 0px !important;
    margin: 3px;
    position: relative !important;
    display: inline-block !important;
    vertical-align: middle !important;
}

.avatar-small {
    width: 24px !important;
    height: 24px !important;
    margin: 0px;
    padding: 0px;
}

.avatar-xs {
    width: 20px !important;
    height: 20px !important;
    margin: 0px;
    padding: 0px;
}

.avatar-big {
    width: 64px !important;
    height: 64px !important;
}

.avatar img {
    position: absolute;
    margin: 0px !important;
    border: none !important;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
    max-width: 80px;
    max-height: 80px;
}

.avatar-small img {
    max-width: 42px !important;
    max-height: 42px !important;
}

.avatar-xs img {
    max-width: 24px !important;
    max-height: 24px !important;
    margin: 0px !important;	    
}

.avatar-big img {
    max-width: 120px !important;
    max-height: 120px !important;
}


.row-eq-height {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display:         flex !important;
    flex-wrap: wrap !important;
    margin-bottom: 5px;
}
.row-eq-height > [class*='col-'] {
    padding: 5px;
    display: flex !important;
    flex-direction: column !important;
}
