@media (max-width: 1005px) {

/*	Adaptation réalisée à partir de l'astuce Alsacréations
	"Une feuille de styles de base pour le Web mobile"
	http://www.alsacreations.com/astuce/lire/1177-une-feuille-de-styles-de-base-pour-le-web-mobile.html
*/

/* passer tous les éléments de largeur fixe en largeur automatique */ 
body,
#page,
#content,
.sidebar-right #content-inner,
#sidebar-right {
	width: auto !important; 
	margin: auto !important; 
	padding: 0 !important;
}

#page { 
	min-width: 0 !important; 
}

/* fixer une largeur maximale  de 100 % aux éléments potentiellement problématiques */ 
img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video { 
	max-width: 100% !important; 
}
 
/* gestion des mots longs */ 
textarea, table, td, th, code, pre, samp { 
	word-wrap: break-word; /* césure forcée */ 
}
code, pre, samp { 
	white-space: pre-line; /* passage à la ligne spécifique pour les éléments à châsse fixe */ 
}

/* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */ 
#content,
#sidebar-right,
#home #alaunetable #alaunetablegauche,
#home #alaunetable #alaunetabledroite,
.panel-2col-bricks .panel-col-first,
.panel-2col-bricks .panel-col-last { 
	float: none !important; 
	width: auto !important 
}

/* masquer les éléments superflus */ 
.hide_mobile { 
	display: none !important; 
}
 
/* Un message personnalisé
body:before { 
	content: "Version mobile du site"; 
	display: block; 
	color: #777; 
	text-align: center; 
	font-style: italic; 
}
*/ 

#header-blocks /* Wrapper for any blocks placed in the header region */ {
	max-width: 50%;
}
#header-blocks .block .block-inner {
	padding: 2%;
}
#header-blocks .block .form-item {
	float: none;
	display: block;
	text-align: center;
}

/* formulaire de connexion */
#user-login-form > div {
	text-align: right;
}

#user-login-form .form-item {
	float: none;
	text-align: right;
}

#header-blocks .block .form-item label,
#header-blocks .block .form-item input {
	float: none;
	width: auto;
	margin-right: 0;
	display: block;
	max-width: 100%;
}

#logo-title /* Wrapper for logo, website name, and slogan */ {
	max-width: 50%;
}

/* menu */
#navbar,
#navbar-inner {
	width: 100%;
	margin: 0;
}
#primary /* Primary links */ { margin: 0; }

#primary ul.links {
	margin-bottom: 10px;
}

#primary ul.links li,
#primary ul.links li.first,
#primary ul.links li.last {
	float: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

#primary ul.links li a {
	height: auto;
	font-size: smaller;
}

#primary ul.links li:not(:first-child) a {
	padding: 2px 7px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}

/* titre */
h1.title {
	padding: 7px;
}

/* fond du contenu */
#main {
	background: #E6EBED;	/* remplace background-image */
}

/* marges du contenu */
#content-area {
	padding: 0 8px;
}

.panel-col-last .inside {
	padding-left: 0;
}

.panel-2col-bricks .panel-col-last .inside {
	margin: 0 4px 0.5em 4px;
}

#home #adherer,
#home #campagne,
#home #alaunetable {
	margin: 1em;
	padding: 10px 15px;
	min-width: 50%;
}

#home .panel-pane {
	margin: 0 0 5px 0;
}

#home #alaunetabledroite h2 {
	margin-top: 15px;
}

#main #content .pane-content img {	/* bannière */
	margin: 0;
}

/* sidebar */
#sidebar-right {
	border-top: 2px solid #888;
	background-position: left top;
	background-size: 100% 81px;	/* étendre une image de fond en CSS3 (et dans un bloc Media Queries ça fonctionne à peu près à coup sûr !) */
}

#block-search-0 .block-inner {
	margin-top: 0;
	padding: 15px 0 10px 10px;
}

#block-block-14 img {	/* boutons orange/bleu : 1 par ligne */
	display: block;
	margin: 5px auto;
}

/* Footer */
#footer-message {
	text-align: left;
}

#footer-message a:last-child {
	display: block;
	text-align: center;
	margin: 0.3em 0 1em 0;
}

.soutenir {
	font-size: smaller;
	margin-top: 3em;
}
.soutenir h2 {
	font-size: large;
	margin-top: -1em;
}
.soutenir a {
	margin: 1.4em;
}
.soutenir img {
	top: -2em;
	right: 0;
	width: 4em;
}
.encart {
   border: 1px solid #999;
   background: #EEE;
   padding: 4px 10px;
   margin: 10px;
   font-size: 1.2em;
}
} /* fin MQ mobile @media */
