/* $Id: zen.css,v 1.1.2.26 2008/04/20 04:22:15 johnalbin Exp $ */

/*
 * ZEN STYLES
 *
 * This is an example stylesheet. Sub-themes should NOT include the zen/zen.css
 * file, but instead copy this CSS to their own stylesheets.
 *
 * In this stylesheet, we have included all of the classes and IDs from this
 * theme's tpl.php files. We have also included many of the useful Drupal core
 * styles to make it easier for theme developers to see them.
 *
 * Many of these styles are over-riding Drupal's core stylesheets, so if you
 * remove a declaration from here, the styles may still not be what you want
 * since Drupal's core stylesheets are still styling the element. See the
 * drupal5-reference.css file for a list of all Drupal 5.x core styles.
 *
 * In addition to the style declarations in this file, other Drupal styles that
 * you might want to override or augment are those for:
 *
 *   Book Navigation  See line 74  of Zen's drupal5-reference.css file
 *   Forum            See line 197 of Zen's drupal5-reference.css file
 *   Menus            See line 667 of Zen's drupal5-reference.css file
 *   News Aggregator  See line 20  of Zen's drupal5-reference.css file
 *   Polls            See line 287 of Zen's drupal5-reference.css file
 *   Search           See line 320 of Zen's drupal5-reference.css file
 *   User Profiles    See line 945 of Zen's drupal5-reference.css file
 */

.clear { clear: both; }

/** body **/
body {
  margin: 0;
  padding: 0;
  background: #e2e5e9 url(images/body_bg_top.gif) top repeat-x;
  font-family: Verdana, sans-serif !important;
  color: #000;
  background-color: #fff;
}

h1 { font-size: 22px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }

a {
  color: #02739f;
  text-decoration: none !important;
}
a:hover {
  color: #005184;
  text-decoration: none !important;
}

ol { list-style-type: decimal; }
ol[type="_"] { list-style-type: decimal; }

#main #content .pane-content img,
#main #content .content img {
  border: 1px solid #a0a0a0;
  margin: 10px 20px 10px 10px;
  padding: 2px;
  display: inline;
  background-color: white;
}

#page {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1254px;
  border-left: 1px solid #aabacd;
  border-right: 1px solid #aabacd;
  background-color: white;
}

#page-inner { }

/** header **/
#header { background: white url(images/header_bg_right.gif) right top no-repeat; }

#header-inner { }
#logo-title /* Wrapper for logo, website name, and slogan */ { }
#logo /* Wrapper for logo */ { }
#logo-image /* The actual logo image */ { /* left: 0; */ }
#site-name /* The name of the website */ { }

#site-name a:link, #site-name a:visited { color: #000; }
#site-name a:hover { text-decoration: underline; }
#site-slogan /* The slogan (or tagline) of a website */ { }
#header-blocks /* Wrapper for any blocks placed in the header region */ { }
/** main (container for everything else) **/
#main { background: white url(images/main_bg.gif) right repeat-y; }
#main-inner { }
/** content **/
#content { }
#content p {
  padding: 5px 0 7px;
  /*justify: default;*//*Commenté par $nip le 09/06/09*/
  text-align: justify; /* Ajouté par $nip le 09/06/09 */
}

#content-inner { }
#mission /* The mission statement of the site (displayed on homepage) */ { }
#content-top /* Wrapper for any blocks placed in the "content top" region */ { }

#content-header /* Wrapper for breadcrumb, title, messages, tabs, and help */ {
  min-height: 55px;
  background: url(images/content_header_bg.gif) top repeat-x;
}
#content-header h1 {
  background: url(images/content_header_bg.gif) top repeat-x #0274A0;
}
#content-header .breadcrumb + h1 { background-position: left -0.8em !important; }
#content-header .help { background-color: white; }

.breadcrumb /* The path to the current page in the form of a list of links */ {
  color: #98cde7 !important;
  padding: 0 0 0 20px !important;
  font-size: 10px !important;
  padding-bottom: 0 !important; /* Undo system.css */
  background-color: inherit !important;
  margin-bottom: inherit !important;
  list-style: inherit !important;
  border-radius: inherit !important;
}
.breadcrumb a { color: #cbe6f3 !important; }

h1.title, /* The title of the page */
h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */
{ margin: 0; }

h1.title {
  color: white;
  padding: 7px 0 0 20px;
  font-size: 22px;
  min-height: 34px;
  font-weight: normal;
}
.breadcrumb + h1 { padding-top: 0 !important; }

h2.pane-title, h2.pane-title a,
h2.title, h2.title a {
  color: #013a50;
  padding: 2px 0;
  font-size: 20px;
  font-weight: bold;
}

h3.title { font-size: 18px; }
h4.title { font-size: 16px; }

div.messages /* Important messages (status, warning, and error) for the user */ {
  color: #000;
  margin: 0 1em 5px 1em;
  border: 2px solid #ccc;
  padding: 5px;
  font-style: italic;
  background-color: white;
}

div.status /* Normal priority messages */ { }
div.warning /* Medium priority messages */ { border-color: #ff7; }
div.warning, tr.warning, body.section-admin tr.warning {
  color: #000;
  background-color: #ffc;
}

div.error /* High priority messages. See also the .error declaration below. */ {
  border-color: #c00;
}

div.error, tr.error, body.section-admin tr.error {
  color: #900;
  background-color: #fee;
}

div.tabs /* See also the tabs.css file. */ { }

.help /* Help text on a page */ {
  margin: 1em 0;
  padding-bottom: 5px;
}
#content-header .help {
  color: #000;
  padding: 0 20px;
}
#content-header .help a { color: #ee5921; }
.more-help-link /* Link to more help */ {
  color: #98cde7;
  font-size: 0.85em;
  text-align: right;
}
.more-help-link a { color: white; }

#content-area /* Wrapper for the actual page content */ {
  padding: 0 20px;
  background: white url(images/pixel_cfcfcf.gif) right repeat-y;
}

.pager /* A list of page numbers when more than 1 page of content is available */ {
  clear: both;
  margin: 1em 0;
  font-size: 12px;
  text-align: center;
}
.pager a, .pager strong.pager-current {
  border: 1px solid white;
  padding: 0.5em;
  border-bottom: 1px solid #e6ebed;
}
.pager strong.pager-current {
  border: 1px solid #e6ebed;
  border-top: 1px solid #f06f3e;
  border-bottom: 1px solid white;
}
.pager a:hover {
  color: #ee5921;
  background-color: #f2f5f6;
}  
  
.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ { margin: 1em 0; }

#content-bottom /* Wrapper for any blocks placed in the "content bottom" region */ { clear: both; }

/** navbar **/
#navbar {
  width: 75%;
  clear: right;
  float: right;
  margin: 0 10px 0 0;
  border-bottom: 0;
}

#navbar-inner {
  float: right;
  border-bottom: 0;
}

#search-box /* Wrapper for the search form */ { }

#primary /* Primary links */ { margin: 25px 0 0 0; }
#primary ul.links { text-align: center; }
#primary ul.links li {
  float: left;
  margin: 2px 1px 0 1px;
  padding: 0;
  border-top: none;
}
#primary ul.links li.first { margin: 2px 1px 0 0 ; }
#primary ul.links li.last { margin: 2px 0 0 1px; }
#primary ul.links li a {
  color: #005184;
  height: 19px;
  border: 1px solid #e2e5e9;
  display: block;
  padding: 2px 7px;
  font-size: 13px;
  background: white url(images/navbar_item_bg.gif) top repeat-x;
  font-weight: bold;
  border-bottom: none;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
#primary ul.links li a:hover {
  color: white;
  border: 1px solid #00749f;
  background: #309bcf url(images/navbar_item_bg.gif) bottom repeat-x;
  border-bottom: none;
}
  
#primary ul.links li.active {
  margin: 0 1px 0 1px;
  border-top: 2px solid #f06f3e;
}
#primary ul.links li.active.first { margin: 0 1px 0 0; }
#primary ul.links li.active.last { margin: 0 0 0 1px; }
#primary ul.links li.active a {
  color: white;
  height: 19px;
  border: none;
  padding: 3px 7px 2px 7px;
  background: #005184 url(images/navbar_item_select_bg.gif) top repeat-x;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}

body.logged-in #navbar { /* height: 90px; */ }
body.logged-in #navbar #primary /* Primary links */ { }

#secondary /* Secondary links */ { }

/** sidebar-left **/
#sidebar-left { }
#sidebar-left-inner { }

/** sidebar-right **/
#sidebar-right { background: #e6ebed url(images/rightmargin_top_bg.png) top no-repeat; }
#sidebar-right-inner { }

/** footer **/
#footer {
  font-size: 10px;
  text-align: right;
  background: #dfdfdf;
  border-top: 1px solid #cfcfcf;
}

#footer-inner { }
#footer-message /* Wrapper for the footer message from Drupal's "Site information"
and for any blocks placed in the footer region */
{ }

/** closure **/
#closure-blocks /* Wrapper for any blocks placed in the closure region */ { }

/** Drupal nodes **/
.node /* Node wrapper */ {
  clear: both;
  margin: 10px 0 0 0;
  display: block;
  /* border-bottom: 1px solid #dfdfdf; */
}

.node-inner /* Additional wrapper for node */ { }
.sticky /* A sticky node (displayed before others in a list) */ { }
.node-unpublished /* Unpublished nodes */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished div.unpublished, /* The word "Unpublished" displayed beneath the content. */
.comment-unpublished div.unpublished {
  color: #d8d8d8;
  height: 0;
  overflow: visible;
  font-size: 75px;
  word-wrap: break-word; /* A very nice CSS3 property */
  text-align: center;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.node-mine /* A node created by the current user */ { }
.node-teaser /* A node displayed as teaser */ { }

/* All nodes are given a node-type-FOO class that describes the type of
 * content that it is. If you create a new content type called
 * "my-custom-type", it will receive a "node-type-my-custom-type" class.
 */
.node-type-page /* Page content node */ { }
.node-type-story /* Story content node */ { }

.node h3, .node h2, .node h2 a, .node h2.title, .node h2.title a /* Node title */ {
  color: #013a50;
  font-size: 16px;
}

.node h1 { font-size: 18px; }
.node h2 { font-size: 16px; }
.node h3 { font-size: 14px; }
.node h4 { font-size: 13px; }
.marker /* "New" or "Updated" marker for content that is new or updated for the current user */
{ color: #c00; }

.node .picture /* The picture of the node author */ { }

.node.node-unpublished .picture,
.comment.comment-unpublished .picture
{ position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */ }

.node .submitted /* The "posted by" information */ {
  color: #a0a0a0;
  font-size: 10px;
}

.node .taxonomy /* Node taxonomy (categories) */ {
  color: #a0a0a0;
  font-size: 10px;
}
  

.node .content /* Node's content wrapper */ { font-size: 12px; }
.node .content p { margin: 5px 0; }

.views-field-title { display: inline; }
.views-field-created {
  display: inline;
  margin-left: 10px;
  border-left: 1px solid #e6ebed;
  padding-left: 10px;
}

.node div.links /* Wrapper for node links */ { /* margin: 1em 0; */ }

ul.links /* Taxonomy links, node links, comment links */ {
  margin: 0;
  padding: 0;
}

ul.links.inline { display: inline; }

ul.links li {
  display: inline;
  padding: 0 0.5em;
  list-style-type: none;
}

.taxonomy ul.links li a {
  color: #5f8ba9;
  border: 1px solid #dfdfdf;
}

.taxonomy ul.links li a:hover {
  color: #013a50;
  border: 1px solid #7fa8c1;
}

.links ul.links {
  float: right;
  margin: 0 0 35px 0;
}
.links ul.links li.comment_add,
.links ul.links li.node_read_more {
  margin: 0 0 0 20px;
  padding: 0 0 0 20px;
  background: url(images/link_more_swoosh.gif) left no-repeat;
}
.links ul.links li.comment_add a,
.links ul.links li.node_read_more a {
  color: #005184;
  font-size: 12px;
  font-weight: bold;
}
.links ul.links li.comment_add a:hover,
.links ul.links li.node_read_more a:hover {
  color: #ee5921;
}

.preview .node /* Preview of the content before submitting new or updated content */ {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

/** Drupal comments **/
#comments /* Wrapper for all comments */ { margin: 1em 0; }
.comment /* Wrapper for a single comment */ { }
.comment-inner /* Additional wrapper for a single comment */ { }
.comment.odd /* An odd-numbered comment in the list of comments */ { }
.comment.even /* An even-numbered comment in the list of comments */ { }
.comment-unpublished /* Unpublished comments */ { /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */ }
.comment-unpublished div.unpublished /* The word "Unpublished" displayed beneath the content. See also the div.unpublished declaration in the node section above. */ { }
.comment-by-author /* A comment created by the node's author */ { }
.comment-by-anon /* A comment created by an anonymous user */ { }
.comment-mine /* A comment created by the current user */ { }
.comment h3.title /* Comment title */ { }
.new /* "New" marker for comments that are new for the current user */ { color: #c00; }
.comment .picture /* The picture of the comment author */ { }
.comment .submitted /* The "posted by" information */ { }
.comment .content /* Comment's content wrapper */ { }
.comment div.links /* Wrapper for comment links. See also the ul.links declaration in the node section above. */ {
  margin: 1em 0;
}

.indented /* Nested comments are indented */ {
  /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
}

.preview .comment /* Preview of the comment before submitting new or updated comment */ {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

/** Drupal blocks **/
.block /* Block wrapper */ {
  /* margin-bottom: 1em; */
  clear: both;
  background: url(images/rightmargin_module_bg_bottom.gif) bottom repeat-x;
  border-bottom: 1px solid white;
}

.block.count-2 { background: none; }
.block.count-2 ul.menu li.leaf {
  padding: 0 0 0 10px;
  background: none;
}
.block.count-2 ul.menu li.leaf a {
  color: #005184;
  font-size: 13px;
}

.block.region-odd /* Zebra striping for each block in the region */ { }
.block.region-even /* Zebra striping for each block in the region */ { }
.block.odd /* Zebra striping independent of each region */ { }
.block.even /* Zebra striping independent of each region */ { }
.region-count-1 /* Incremental count for each block in the region */ { }
.count-1 /* Incremental count independent of each region */ { }
.block-inner /* Additional wrapper for block */ { padding: 15px 10px 5px 10px; }

.block h2.title /* Block title */ {
  color: #ee5921;
  font-size: 12px;
  font-weight: bold;
}

.mandatory { color: #ee5921; }
.block .content /* Block's content wrapper */ { }

.block .content ul.menu {
  margin: 5px 0;
  padding: 0;
  list-style: none;
}
.block .content ul.menu li {
  padding: 0 0 0 20px;
  list-style: none;
  background: url(images/rightmargin_list_dot.gif) left no-repeat;
}
.block .content ul.menu li a {
  font-size: 12px;
  font-weight: bold;
}
  
#block-aggregator-category-1 /* Block for the latest news items in the first category */ { }
#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ { }
#block-block-1 /* First administrator-defined block */ { }
#block-blog-0 /* "Recent blog posts" block */ { }
#block-book-0 /* "Book navigation" block for the current book's table of contents */ { }
#block-comments-0 /* "Recent comments" block */ { }
#block-forum-0 /* "Active forum topics" block */ { }
#block-forum-1 /* "New forum topics" block */ { }
#block-menu-2 /* "Primary links" block */ { }
#block-node-0 /* "Syndicate" block for primary RSS feed */ { }
#block-node-0 .content { padding: 5px 0; }
#block-poll-0 /* "Most recent poll" block */ { }
#block-profile-0 /* "Author information" block for the profile of the page's author */ { }
#block-search-0 /* "Search form" block */ { }
#block-search-0 {
  border: none;
  background: none;
}
#block-search-0 .block-inner {
  height: 35px;
  margin: 15px 0 0 0;
  padding: 0 0px;
}
#block-search-0 .form-item {
  float: left;
  margin: 0;
  display: inline;
  position: absolute;
}
#block-search-0 input.form-text {
  width: 100px;
  border: 1px solid #013a50;
  margin: 0 0 0 0;
  padding: 2px 4px 2px 4px;
  font-size: 11px;
}  
#block-search-0 input#edit-submit-0, #block-search-0 input#edit-submit-4 {
  color: #e5f2f9;
  cursor: pointer;
  border: 1px solid #013a50;
  margin: 0;
  padding: 0.2em 0.5em;
  font-size: 12px;
  background: #0275a0 url(images/rightmargin_search_searchbtn_bg.gif) top repeat-x;
  text-align: center;
  margin-left: 120px;
  border-radius: 0.5em;
}
#block-search-0 input#edit-submit-0:hover, #block-search-0 input#edit-submit-4:hover {
  color: #f2f5f6;
  border: 1px solid #013a50;
  background-color: #ee5921;
}

#block-statistics-0 /* "Popular content" block */ { }

#header-blocks .block /* "User login form" block */ {
  float: right;
  font-size: 10px;
  background: none;
  border-bottom: none;
}
#header-blocks .block .block-inner { padding: 3px 10px 0 0; }
.logged-in #header-blocks .block .block-inner { padding: 14px 18px 0 0; }
#header-blocks .block h2.title { display: none; }
#header-blocks .block .form-item {
  float: left;
  margin: 0;
  padding: 0;
}
#header-blocks .block .form-item label,
#header-blocks .block .form-item input {
  float: left;
  font-size: 10px;
  margin-right: 5px;
}
#header-blocks .block .form-item input {
  width: 75px;
  color: black;
  background-color: #DDD;
}
#header-blocks .block .form-item input.error { margin: 0 5px 0 0; }  
#header-blocks .block .form-item label {
  color: #a0a0a0;
  font-weight: normal;
}
#header-blocks .block .form-item label span.form-required { display: none; }
#header-blocks .block input#edit-submit-2-1 {
  color: #02739f;
  border: 1px solid #7fa8c1;
  font-size: 10px;
  background: url(images/login_btn_bg.gif) repeat-x;
}
#header-blocks .block input#edit-submit-2-1:hover {
  color: white;
  cursor: pointer;
  background: #02739f;
}
#header-blocks .block #user-login-form .item-list ul {
  margin: 0;
  padding: 0;
  font-size: 9px;
  list-style: none;
  text-align: right;
  /* white-space: no-wrap; */
}
#header-blocks .block input[type=submit] {
  border-radius: 0.5em;
}
#header-blocks .block #user-login-form .item-list ul li,
#header-blocks .block #user-login-form .item-list ul li ul li,
#header-blocks .block #user-login-form .item-list ul.menu li.expanded ul.menu li.leaf {
  list-style: none;
}
#header-blocks .block #user-login-form .item-list ul li a { color: #80bacf; }
#header-blocks .block #user-login-form .item-list ul li a:hover { color: #0275a0; }
#header-blocks .block /* "Who's new" block for a list of the newest users */ { }
#header-blocks .block /* "Who's online" block for a list of the online users */ { }

#block-block-4 {
  border-top: 1px solid #297896;
  background: #94bbca url(images/rightmargin_usermodule_bg_top.gif) top repeat-x;
  padding: 15px 10px 15px 10px;
}

#block-menu-menu-espace-membres /* "Navigation" block for Drupal navigation menu */ {
  border-top: 1px solid #297896;
  background: #94bbca url(images/rightmargin_usermodule_bg_top.gif) top repeat-x;
}
#block-menu-menu-espace-membres .block-inner { background: url(images/rightmargin_usermodule_bg_p.gif) top right no-repeat; }
#block-menu-menu-espace-membres h2.title {
  color: white;
  font-size: 12px;
  font-weight: bold;
}
#block-menu-menu-espace-membres .content ul.menu { list-style: none; }
#block-menu-menu-espace-membres .content ul.menu li { background: url(images/rightmargin_usermodule_list_dot.gif) left no-repeat; }
#block-menu-menu-espace-membres .content ul.menu li.expanded { background: url(images/rightmargin_usermodule_list_dot_expanded.gif) top left no-repeat; }
#block-menu-menu-espace-membres .content ul.menu li.collapsed { background: url(images/rightmargin_usermodule_list_dot_collapsed.gif) top left no-repeat; }
#block-menu-menu-espace-membres .content ul.menu li a { color: #e5f2f9; }
#block-menu-menu-espace-membres .content ul.menu li a:hover { color: white; }
#block-menu-menu-espace-membres .content ul.menu li a.active { color: #000; }  

.block-views {
  margin: 2px;
  background: white url(images/rightmargin_viewmodule_bg_bottom.gif) bottom repeat-x;
  border-bottom: none;
}
.block-views h2.title { color: #013a50; }
.block-views .content .item-list ul {
  margin: 0;
  padding: 2px 0 5px 0;
}
.block-views .content .item-list ul li {
  padding: 0 0 0 20px;
  font-size: 12px;
  list-style: none;
  background: url(images/rightmargin_viewmodule_list_dot.gif) top left no-repeat;
}
.block-views .content .more-link { text-align: right; }
.block-views .content .more-link a {
  color: #005184;
  padding: 0 0 0 20px;
  font-size: 12px;
  background: url(images/link_more_swoosh.gif) left no-repeat;
  font-weight: bold;
}
.block-views .content .more-link a:hover { color: #ee5921; }


/** Drupal boxes **/
/* Wrapper for Comment form, Comment viewing options, Menu admin, and
 * Search results.
 */
.box /* Wrapper for box */ { }
.box-inner /* Additional wrapper for box */ { }
.box h2.title /* Box title */ { }
.box .content /* Box's content wrapper */ { }

/** Miscellaneous Drupal styles **/
.error /* Errors that are separate from div.messages status messages (see above.) */ {
  color: #c00;
}
.more-link /* Aggregator, blog, and forum more link */ {
  text-align: right;
}
#user-login-form /* Drupal's default login form */ {
  text-align: left;
}

tr.even, tr.odd /* Some tables have rows marked even or odd. See also the ".section-admin tr.even" declaration below. */ {
  padding: 0;
  border-bottom: none;
}

tr.even { /* background-color: #eee; */ /* Drupal core uses a #eee background */ }
tr.odd { /* background-color: #eee; */ /* Drupal core uses a #eee background */ }

li a.active /* The active item in a Drupal menu */ { color: #000; }

/** Drupal forms **/
.form-item, /* Wrapper for a form element (or group of form elements) and its label */
.form-checkboxes,
.form-radios {
  margin: 1em 0;
}

.form-item input.error, /* Highlight the form elements that caused a form submission error */
.form-item textarea.error,
.form-item select.error {
  border: 2px solid #c00;
}

.form-item label /* The label for a form element */ {
  display: block !important;
  font-weight: bold !important;
}

.form-item label.option /* The label for a radio button or checkbox */ {
  display: inline;
  font-weight: normal;
}

.form-required /* The part of the label that indicates a required field */ {
  color: #c00;
}

.form-item .description /* The descriptive help text (separate from the label) */ {
  font-size: 0.85em;
}

.form-checkboxes .form-item, /* Pack groups of checkboxes and radio buttons closer together */
.form-radios .form-item {
  margin: 0.4em 0;
}

.form-submit /* The submit button */ { }

/* Guest book (echarp 2014 12 11) */
.guestbook img {
  margin: 1em;
}
form#guestbook-form-entry-form h3 {
  font-size: x-large;
}
form#guestbook-form-entry-form #edit-message-wrapper .resizable-textarea {
  width: 40em;
}
form#guestbook-form-entry-form #edit-message-wrapper textarea {
  color: black;
  height: 6em;
  padding: 0.4em;
  font-size: larger;
  background-color: white;
  box-shadow: 0 0 4px black;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
form#guestbook-form-entry-form input[type=submit] {
  color: #e5f2f9;
  cursor: pointer;
  border: 1px solid #013a50;
  margin: -0.5em 0 0.4em 17em;
  padding: 0.3em 1.2em;
  font-size: x-large;
  background: #0275a0 url(images/rightmargin_search_searchbtn_bg.gif) top repeat-x;
  text-align: center;
  font-weight: bolder;
  box-shadow: 0 0 4px slateblue;
  border-radius: 0.5em;
}
form#guestbook-form-entry-form input:hover {
  color: #f2f5f6;
  border: 1px solid #013a50;
  box-shadow: 0 0 8px black;
  text-shadow: 1px 1px black;
  font-weight: bolder;
}
.guestbook-entry {
  box-shadow: 0 0 4px gray;
  border-radius: 4px;
  margin: 0.6em auto;
  padding: 0.4em;
  max-width: 40em;
}
.guestbook-entry .submitted {
  float: right;
}

.container-inline div, .container-inline label, .container-inline .form-item /* Inline labels and form divs */ {
  display: inline;
}

.tips /* Tips for Drupal's input formats */ {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

/** Drupal admin tables **/
/* We overrode these styles in html-elements.css, but restore them for the
 * admin section of the site.
 */
.section-admin tbody { border-top: 1px solid #ccc; }

.section-admin th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 3px solid #ccc;
}

.section-admin tbody th {
  border-bottom: 1px solid #ccc;
}

.section-admin thead th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 3px solid #ccc;
}

.section-admin tr.even, .section-admin tr.odd {
  padding: 0.1em 0.6em;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
}


.more-link { text-align: right; }
.more-link a {
  color: #005184;
  padding: 0 0 0 20px;
  font-size: 12px;
  background: url(images/link_more_swoosh.gif) left no-repeat;
  font-weight: bold;
}
.more-link a:hover { color: #ee5921; }

#home .panel-pane,
#home .pane-content .view
#home .content .view { margin: 0 0 20px 0 ; }

#home .item-list ul li {
  color: #80bacf;
  padding: 2px 0 3px 0;
}
#home .item-list ul li .view-item {
  color: #a0a0a0;
  font-size: 11px;
}
#home .item-list ul li a {
  color: #005184;
  font-size: 14px;
  font-weight: bold;
}


#home .panel-pane {
  margin: 0 0 20px 0;
  padding: 0 0 5px 0;
  /* border-bottom: 1px solid #f2f8fc; */
}
#home .panel-panel.panel-col-middle .inside .panel-pane {
  background: url(images/home_citation_bg.gif) center no-repeat;
}
#home .panel-panel.panel-col-middle .inside .panel-pane .quotes-author {
  color: #646464;
  font-size: 12px;
  font-style: italic;
}
#home .panel-panel.panel-col-middle .inside .panel-pane .quotes-quote p,
#home .panel-panel.panel-col-middle .inside .panel-pane .quotes-author p {
  margin: 10px 0;
  padding: 0;
}  
.quotes-author,
.quotes-quote  {
  margin: 0;
  padding: 0;
}

#home a.tagadelic { line-height: 28px; }

#home #presentation {
  padding: 10px 17px;
  background: url(./images/home_presentation_bg.gif) top repeat-x #f2f5f6;
  border-bottom: 1px solid #e6ebed;
  /*font-weight: bold;*/
}
#home #presentation p {
  color: #013a50;
  margin: 0;
  padding: 0 0 0 0;
  /* Frederic Couchet 20080828 pour eviter interligne trop grand */
  /* line-height: 15px;*/
}

#home #adherer {
  border: 1px solid #e6ebed;
  padding: 15px;
  font-size: 12px;
  background: #f2f5f6;
  font-weight: bold;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#home #adherer h2 {
  color: #005184;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
}
#home #adherer .more_link { margin-top: 12px; }  
  
#home #adherer p {
  color: #013a50;
  margin: 0;
  padding: 5px;
  font-weight: normal;
}

#home #campagne {
  border: 1px solid #e6ebed;
  padding: 15px;
  font-size: 12px;
  background: #f2f5f6;
  font-weight: bold;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#home #campagne h2 {
  color: #005184;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
}
#home #campagne .more_link { margin-top: 12px; }  
  
#home #campagne p {
  color: #013a50;
  margin: 0;
  padding: 5px;
  font-weight: normal;
}
#home #alaune {
  border: 1px solid #e6ebed;
  padding: 15px;
  font-size: 12px;
  background: #f2f5f6;
  /*-moz-border-radius: 10px;*/
  font-weight: bold;
}
#home #alaune h2 {
  color: #005184;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
}
#home #alaune .more_link { margin-top: 12px; }  

#home #alaune p {
  color: #013a50;
  margin: 0;
  padding: 5px;
  font-style: italic;
}

#home #alaunetable {
  border: 1px solid #e6ebed;
  padding: 15px;
  background: #f2f5f6;
  /*-moz-border-radius: 10px;*/
  /*font-weight: bold;*/
  font-size: 12px;
}
#home #alaunetable h2 {
  color: #005184;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
}
#home #alaunetable .more_link { margin-top: 12px; }  

#home #alaunetable p {
  color: #013a50;
  margin: 0;
  padding: 5px;
  font-style: italic;
}

#home #alaunetable #alaunetablegauche  {
  float: left;
  width: 50%;
}

#home #alaunetable #alaunetabledroite  {
  float: right;
  width: 47%;
}
  

/* 2013 09 26 echarp - rajouté pour les 30 ans de gnu */
#home #alaunetable {
  border: none;
  margin: 1em 25%;
  min-width: 50%;
  font-size: larger;
  box-shadow: 0 1em 3em lightblue;
  border-radius: 0 0 120px 120px / 0 0 6px 6px;
  background: radial-gradient(ellipse at center top, white, white, lightblue);
}
#home #alaunetable p {
  font-style: normal;
}
#home #alaunetable ul {
  font-size: smaller;
  text-align: left;
  margin-top: 0;
}
#home #alaunetable li a {
  text-shadow: 0 0 4px lightblue;
}
#home #alaunetable img {
  border: none !important;
}
/* TODO à enlever */

#main #home #barreprogression img { display: inline; }
.panel-col-first .inside { padding-right: 10px; }
.panel-col-last .inside { padding-left: 10px; }
#main #content .pane-content img.regular,
#main #content .content img.regular {
  border: none;
  margin: 0px;
  padding: 0px;
  display: inline;
  background: none;
}

#main #content .pane-content .quotes-citation img,
#main #content .content .quotes-citation img {
  float: left;
  display: inline;
  margin-top: 0px;
  margin-left: 0px;
}

#main #content .content .view-data-node-created  { /*white-space: pre;*/ }

#main #content img.trombi {
  float: left;
  border: solid 1px black; 
  margin-top: 0px; 
  margin-left: 0px; 
  margin-right: 12px; 
}

#main #content td.trombi { padding: 12px }
#main .panel-col-top { margin-top: 15px; }
#main #bannieres-panel {
  text-align: center;
  vertical-align: 50%;
}

/* ajoute par Frederic Couchet le 10/11/2008 pour la barre de progression des adherents */
.graphe {
  width: 300px;
  border: 1px solid #2D4779;
  margin: 0 195px;
  padding: 2px;
}

.graphe .barre {
  color: #333;
  height: 1.5em;
  display: block;
  background: #ff7200;
  text-align: center;
  line-height: 1.5em;
}

/* Vertical-align */
#va-outer {
  height: 400px;
  overflow: hidden;
  position: relative;
}
#va-outer[id] {
  display: table;
  position: static;
}
#va-middle {
  top: 50%;
  position: absolute;
} /* for explorer only*/
#va-middle[id] {
  display: table-cell;
  position: static;
  vertical-align: middle;
}
#va-inner { position: relative; top: -50%; } /* for explorer only */

/*Flottants et centrage des blocks*/
.fg { float: left; }
.fd { float: right; }
.fc {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/*Alignement*/
.ag { text-align: left; }
.ad { text-align: right; }
.ac { text-align: center; }

/*Quelques modeles de cadres `a utiliser avec fg, fd et fc*/
.c1 {
  width: 400px;
  border: 1px solid #999;
  margin: 0px 20px;
  padding: 10px;
  background-color: #EFEFF7;
}
.c2 {
  width: 300px;
  border: 1px solid #999;
  margin: 0px 20px;
  padding: 20px;
  background-color: #F0F3F4;
}
.c3 {
  width: 70%;
  border: 1px solid #999;
  margin: 0px 20px;
  padding: 20px;
  min-height: 225px;
  background-color: #FEFEFE;
}

/*ajout le 25 mai 2009*/
.cadrefixe h2, .cadrefixe h3, .cadrefixe h4, .cadrefixe .contenu, .cadrefixe .contenu p {
  margin: 0;
}
.cadrefixe .contenu table.forme {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}
.cadrefixe h2 {
  text-align: center;
  background-color: #679FB4;
}
.cadrefixe h3 {
  background-color: #88B4C4;
  text-align: center;
}
.cadrefixe .contenu { background-color: #EFF2F3; }
.cadrefixe {
  margin: 7px 5px;
  border: 1px solid #005184;
  background-color: #EFF2F3; /*même couleur que le .contenu au cas où il y a un problème avec les marges*/
}
.intro {
  border: 1px dashed #005184;
  text-align: center;
}
.en_savoir_plus { text-align: left; }
.cadrefixe .contenu, .intro { padding: 2px; }

/*
#005184
#679FB4
#88B4C4
#EFF2F3
*/


/*ajout le 09 juin 2009 par Frederic Couchet */
.cadrefixe h2, .cadrefixe h3, .cadrefixe h4, .cadrefixe .contenu, .cadrefixe .contenu p {
  margin: 0;
}
.cadrefixe-mad .contenu-mad table.forme {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

.cadrefixe-mad .contenu-mad td.forme {
  padding: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

.cadrefixe-mad h2 {
  text-align: center;
  /*background-color:#679FB4;*/
  background-color: #88B4C4;
  background-color: #CED1FA;
  /*color: #ee5921;*/
  /*font-size: 13px;*/
  /*font-weight: bold;*/
}
.cadrefixe-mad h3 {
  text-align: center;
  background-color: #88B4C4;
}
.cadrefixe-mad .contenu { background-color: #EFF2F3; }
.cadrefixe-mad {
  margin: 7px 5px;
  border: 1px solid #005184;
  background-color: #EFF2F3; /*même couleur que le .contenu au cas où il y a un problème avec les marges*/
}
.intro-mad {
  border: 1px dashed #005184;
  text-align: center;
}
.en_savoir_plus-mad { text-align: left; }
.cadrefixe-mad .contenu, .intro { padding: 2px; }

/* fin ajout le 09 juin 2009 par Frederic Couchet */

/*ajout le 09 juin 2009 par $nip */

.cadrefixe-mad h2 { margin-top: 0px; }
.contenu-mad { padding: 2px 5px; }

.bloc-w {
  float: left;
  border: none;
  margin: 0;
  padding: 0;
}
.largeur100 { width: 100%; }
.largeur80 { width: 80%; }
.largeur75 { width: 75%; }
.largeur66 { width: 66%; }
.largeur60 { width: 60%; }
.largeur50 { width: 50%; }
.largeur40 { width: 40%; }
.largeur34 { width: 34%; }
.largeur33 { width: 33%; }
.largeur25 { width: 25%; }
.largeur20 { width: 20%; }
.bloc-separation {
  clear: both;
  border: none;
  margin: 0;
  padding: 0;
}
/* fin ajout le 09 juin 2009 par $nip */

/*ajout le 10 juin 2009 par $nip */
.centre-toc .toc {
  margin-left: auto;
  margin-right: auto;
}
.petites-marges {
  padding-left: 2px;
  padding-right: 2px;
}
/* fin ajout le 10 juin 2009 par $nip */

/*ajout migration Drupal 6 */
.toc-list { padding: 0 0 0 11px; }
.field-field-eventdate .field-item label { color: #999; }

/*Fix https://redmine.april.org/issues/201 */
.quotes-view-link { float: none !important; }
.quotes-citation { float: left; }

.quotes-more-link { text-align: right; }
.quotes-more-link a {
  color: #005184;
  padding: 0 0 0 20px;
  font-size: 12px;
  background: url(images/link_more_swoosh.gif) left no-repeat;
  font-weight: bold;
}
.quotes-more-link a:hover { color: #ee5921; }

/* fin ajout migration Drupal 6*/

/* Ajout pour la partie "nous soutenir", novembre 2013, echarp */

.soutenir {
  clear: both;
  width: 50em;
  margin: 0 auto 1em;
  border: solid outset #005184;
  padding: 0.4em;
  display: block;
  position: relative;
  max-width: 95%;
  text-align: center;
  box-shadow: 0em 4px 4px -2px black, 0em 1em 3em -0.4em #058;
  border-radius: 50%;
}
.soutenir * {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.soutenir h2 {
  margin: -0.2em 0;
  position: absolute;
  font-size: x-large;
  font-style: italic;
  text-shadow: -1px -1px gray, -3px -3px lightgray;
  border-radius: 1em;
  -webkit-transform: rotate(-11deg);
  -moz-transform: rotate(-11deg);
  transform: rotate(-11deg);
}
.soutenir img {
  right: 8em;
  position: absolute;
  max-width: 10%;
}
.soutenir a {
  margin: 1.5em;
  display: block;
  text-shadow: 1px 1px 1em white;
  text-decoration: underline;
}
.soutenir a:before { content: '»'; }
.soutenir a:after { content: '«'; }
.soutenir a:hover {
  font-weight: bolder;
  text-decoration: underline;
}

/* Fin "nous soutenir" */

/* Gros boutons */
/* PoluX le 10/12/2015 */

.node h2 .bouton {
  color: #FFF;
  font-size: 22px;
}

.node h3 .bouton { font-size: 20px; }
.node h4 .bouton { font-size: 18px; }
.node h5 .bouton { font-size: 16px; }

.bouton {
  display: inline-block;
  font-weight: bold;
  border-bottom-style: none;
  box-shadow: 3px 3px 2px grey;
  background-color: #005184;
  border: 0px none;
  border-radius: 4px;
  color: #FFF;
  padding: 10px 30px 11px;
  vertical-align: bottom;
}
.bouton:hover {
  background-color:#02739F;
  color: #fff;
}
.bouton.alert {
  background-color:#ff5310;
}
.bouton.alert:hover {
  background-color:#EE5921;
}
.bouton.red {
  background-color:#FF0000;
}
.bouton.red:hover {
  background-color:#FF2A2A;
}
.bouton.green {
  background-color:#008000;
}
.bouton.green:hover {
  background-color:#00AA00;
}
.bouton.transparent {
  background-color:transparent;
  color: #005184;
  box-shadow: 0px 0px 0px 2px #005184 inset;
}
.bouton.transparent:hover {
  background-color:rgba(127, 127, 127, 0.3);
}

/* Fin Gros boutons */

.front .item-list .pager{
    display: none;
}

#dtcmain p, #dtcmail blockquote {
    line-height: initial !important;
    text-align: initial;
}

#content blockquote {
    font-size: inherit !important;
}

/* H4 distinguables */
/* PoluX le 5/2/2018 */
.node h4 {
    color: #013A50;
    text-decoration: underline dotted;
}

/* fcouchet - 1er juin 2019 */

.encart {
    border: 1px solid #999;
    background: #EEE;
/*    padding: 4px 10px;*/
    padding: 20px 40px;
    margin: 10px;
    font-size: 1.2em;
}

@media screen and (max-width: 640px) {
   .encart {
    padding: 4px 10px;
   }
}

/* fcouchet - 8 juin 2019 */
/* https://agir.april.org/issues/3736 */
.tab button {
    background: linear-gradient(to bottom, rgb(242, 242, 242) 0%,rgb(255, 255, 255) 80%,rgb(229, 229, 229) 100%); background-color: rgba(0, 0, 0, 0);
    float: left;
    border: 1px solid rgb(242, 242, 242);
    outline: none;
    cursor: pointer;
    padding: 5px 14px 5px;
    transition: 0.3s;
    color: #2b5385;
    border-radius: 10px 10px 0 0;
    margin-right: 0.2rem;
    border: 1px solid #ddd;
}

.tab button.active {
    background: #005184;
    color: #fff;
}
.tabcontent {
    padding: 0px 12px;
}
.tab {
    overflow: hidden;
    border: 1px solid white;
    text-align: center;
    display: inline-block;
	    box-shadow: inset 0px -10px 10px -8px #cfcfcf;
}

@media screen and (max-width: 450px) { 
    .tab button {
	    padding: 10px 3px;
    }
}

/* fin https://agir.april.org/issues/3736 */
