.ph_D99E4F #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_D99E4F.jpg");
}
.ph_140C39 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_140C39.jpg");
}
.ph_931D6C #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_931D6C.jpg");
}
.ph_7D5E11 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_7D5E11.jpg");
}
.ph_2A072B #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_2A072B.jpg");
}
.ph_32AC00 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_32AC00.jpg");
}
.ph_663FF2 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_663FF2.jpg");
}
.ph_CF4AF3 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_CF4AF3.jpg");
}
.ph_FB34F2 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_FB34F2.jpg");
}
.ph_27FDC1 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_27FDC1.jpg");
}
.ph_41DCE6 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_41DCE6.jpg");
}
.ph_F09C5F #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_F09C5F.jpg");
}
.ph_D27B5B #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_D27B5B.jpg");
}
.ph_70716D #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_70716D.jpg");
}
.ph_4BF585 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_4BF585.jpg");
}
.ph_43F595 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_43F595.jpg");
}
.ph_3227B2 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_3227B2.jpg");
}
.ph_47C010 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_47C010.jpg");
}
.ph_ACC746 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_ACC746.jpg");
}
.ph_0BD228 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_0BD228.jpg");
}
.ph_047999 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_047999.jpg");
}
.ph_CC65DE #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_CC65DE.jpg");
}
.ph_52756D #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_52756D.jpg");
}
.ph_30CD68 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_30CD68.jpg");
}
.ph_CA62DC #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_CA62DC.jpg");
}
.ph_CB9125 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_CB9125.jpg");
}
.ph_C3CEA4 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_C3CEA4.jpg");
}
.ph_5AC9DD #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_5AC9DD.jpg");
}
.ph_EAFA4C #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_EAFA4C.jpg");
}
.ph_1628B6 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_1628B6.jpg");
}
.ph_0848D1 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_0848D1.jpg");
}
.ph_DC1DCF #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_DC1DCF.jpg");
}
.ph_F9C97F #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_F9C97F.jpg");
}
.ph_8D9B61 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_8D9B61.jpg");
}
.ph_49DEA2 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_49DEA2.jpg");
}
.ph_739A24 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_739A24.jpg");
}
.ph_C2EAE8 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_C2EAE8.jpg");
}
.ph_DB4282 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_DB4282.jpg");
}
.ph_A85105 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_A85105.jpg");
}
.ph_98C4A6 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_98C4A6.jpg");
}
.ph_0B2F6C #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_0B2F6C.jpg");
}
.ph_FDE663 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_FDE663.jpg");
}
.ph_75DF51 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_75DF51.jpg");
}
.ph_EB1C18 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_EB1C18.jpg");
}
.ph_2A4477 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_2A4477.jpg");
}
.ph_797D11 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_797D11.jpg");
}
.ph_F5696F #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_F5696F.jpg");
}
.ph_6EBBA9 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_6EBBA9.jpg");
}
.ph_26AB8F #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_26AB8F.jpg");
}
.ph_10B2F8 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_10B2F8.jpg");
}
.ph_ACF2CD #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_ACF2CD.jpg");
}
.ph_783A07 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_783A07.jpg");
}
.ph_6B7C33 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_6B7C33.jpg");
}
.ph_2BA593 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_2BA593.gif");
}
.ph_D7B469 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_D7B469.jpg");
}
.ph_E76DE8 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_E76DE8.jpg");
}
.ph_97EC8A #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_97EC8A.jpg");
}
.ph_AA38C8 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_AA38C8.jpg");
}
.ph_3F4E3A #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_3F4E3A.jpg");
}
.ph_723C84 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_723C84.jpg");
}
.ph_E8A0CA #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_E8A0CA.jpg");
}
.ph_FBF258 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_FBF258.jpg");
}
.ph_3801C6 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_3801C6.jpg");
}
.ph_D0757A #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_D0757A.jpg");
}
.ph_07E0A2 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_07E0A2.jpg");
}
.ph_595476 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_595476.jpg");
}
.ph_692F7B #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_692F7B.jpg");
}
.ph_1D904A #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_1D904A.jpg");
}
.ph_86A5C7 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_86A5C7.jpg");
}
.ph_1999CC #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_1999CC.jpg");
}
.ph_335276 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_335276.jpg");
}
.ph_79BA3B #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_79BA3B.jpg");
}
.ph_D8E124 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_D8E124.jpg");
}
.ph_1563A4 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_1563A4.jpg");
}
.ph_5A7CD9 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_5A7CD9.jpg");
}
.ph_1C8149 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_1C8149.jpg");
}
.ph_06EC84 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_06EC84.jpg");
}
.ph_335695 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_335695.jpg");
}
.ph_296984 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_296984.jpg");
}
.ph_317906 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_317906.jpg");
}
.ph_B48656 #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_B48656.jpg");
}
.ph_5E9CEA #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_5E9CEA.jpg");
}
.ph_64EE4F #ph-a {
	background-image: url("http://www.fr.capgemini.com/m/fr/bg/ph_64EE4F.jpg");
}
