/*
-----------------------------------------------
Capgemini Base Styles
Version:  5 Nov 2007
----------------------------------------------- */

body {
  background:#EEEEE7;
  margin:0;
  padding:0px 5px 15px 10px;
  font:small/1.6em Verdana,Sans-serif;
  text-align:center;
  color:#333;
  }

/* Page
----------------------------------------------- */
#page {
  background:#fff url(http://www.fr.capgemini.com/img/bg_page_topright.gif) no-repeat right top;
  margin:0 auto;
  padding-top:8px;
  width:955px;
  text-align:left;
  }
#page-a {
  background:url(http://www.fr.capgemini.com/img/bg_page_right.gif) repeat-y right top;
  width:955px;
  }
.gridright #page-a {
  background:url(http://www.fr.capgemini.com/img/bg_page_right_gridright.gif) repeat-y right top;
  }
.gridleft #page-a {
  background:url(http://www.fr.capgemini.com/img/bg_page_right_gridleft.gif) repeat-y right top;
  }
#page-b {
  background:url(http://www.fr.capgemini.com/img/bg_page_bot.gif) no-repeat right bottom;
  padding:0 20px 20px 15px;
  width:920px;
  }


/* Links
----------------------------------------------- */
a {
  color:#0141a2;
  text-decoration:none;
  border-bottom:1px dotted #024ac0;
  }
a:visited {
  color:#a654a8;
  border-color:#795476;
  }
a:hover, h2 a:hover, h2 a:visited:hover, h3 a:hover, h3 a:visited:hover {
  color:#742322;
  border-color:#981211;
  }
.photo a, a.noline, .thumbnail a, .image a, a img {
  border-width:0;
}
.inset-left a img {
  float:left;
  border:0;
}
h1 a, h2 a, h3 a, h4 a {
  border-width:0;
  }
.more a:after, a.more:after, .next a:after, a.next:after, .previous a:before, a.previous:before {
  content:"\2192";
  padding-left:2px;
  font-family:Verdana,Sans-serif;
  font-size:110%;
  color:#762124;
  }
.previous a:before, a.previous:before {
  content:"\2190";
  padding-left:0;
  padding-right:2px;
  }
a.previous:after, .more a.previous:after {
  content:"";
  }

/* Header
----------------------------------------------- */
#header {
  float:left;
  width:920px;
  padding-bottom:10px;
  }
#header a {
  border-width:0;
  }
#logo {
  float:left;
  display:block;
  padding:7px 10px 7px 25px;
  }
#country-search { 
  position:absolute; 
  right:0; 
  top:7px; 
  width:221px; 
  z-index:30; 
}
#country {
  font-size:10px;
  color:#BBB;
  width:200px;
  margin:0;
  padding:0;
}
#cs-border1 {
  display:none;
  position:absolute;
  top:-20px;
  left:-25px;
  width:20px;
  height:325px;
  z-index:30;
}
#cs-border2 {
  display:none;
  position:absolute;
  top:-20px;
  left:205px;
  width:20px;
  height:325px;
  z-index:30;
}
#cs-border3 {
  display:none;
  position:absolute;
  top:285px;
  left:-20px;
  width:240px;
  height:20px;
  z-index:30;
}
#countryselect { 
  display:none; 
  position:absolute; 
  top:21px; 
  left:0; 
  width:221px; 
  background:url(http://www.fr.capgemini.com/img/corners_countrymenu.png) no-repeat left bottom; 
  font-size:80%; 
  color:#bbb; 
  line-height:1.4em; 
  padding:0 0 10px; 
}
* html #countryselect { 
  background:url(http://www.fr.capgemini.com/img/corners_countrymenu.gif) no-repeat left bottom; 
}
#countryselect iframe { 
  width:211px; 
  height:222px; 
  background:#c9dfea; 
  border:5px solid #c9dfea; 
  border-bottom:0; 
}
* html #countryselect iframe { background:#c9dfea; padding:0; border:0; }
* html #countryselect div { border:5px solid #c9dfea; border-bottom:0; }
#search {
  background:#c9dfea url(http://www.fr.capgemini.com/img/shadow_c9dfea.gif) repeat-x;
  float:right;
  width:221px;
  margin:0;
  font:bold 80%/1.4em "Trebuchet MS",Arial,Verdana;
  text-transform:uppercase;
  letter-spacing:.1em;
  color:#776;
  }
#search div {
  background:url(http://www.fr.capgemini.com/img/corners_sidebar.gif) no-repeat left bottom;
  min-height:25px;
  padding:8px 20px 3px;
  }
html>body #search div {
  background-image:url(http://www.fr.capgemini.com/img/corners_sidebar.png);
  }
#search label {
  display:block;
  padding-bottom:4px;
  line-height:1px;
  font-size:1px;
  }
* html #search input {
  margin:0 0 5px 0;
}
#search input.text {
  width:141px;
  font:11px/13px Monaco,Monospace;
  }
#welcome-user {
  margin-right:10px;
  padding-top:12px;
  font-size:0.75em;
  color:#BBB;
  line-height:1.4em;
}
#user_search {
  float:right;
  width:675px;
  position:relative;
  z-index:99;
}
#welcome-user ul {
  margin:0;
  padding:0;
}
#welcome-user li {
  line-height:1.3em;
  background:url(http://www.fr.capgemini.com/img/tri_right_047.gif) no-repeat 0 .50em;
}

/* Nav
----------------------------------------------- */
#nav {
  background:#009dca url(http://www.fr.capgemini.com/img/corners_fullwidth_bot.gif) no-repeat left bottom;
  float:left;
  width:920px;
  margin-bottom:10px;
  color:#fff;
  }
html>body #nav {
  background-image:url(http://www.fr.capgemini.com/img/corners_fullwidth_bot.png);
  }
#nav ul {
  background:url(http://www.fr.capgemini.com/img/shadow_009dca.gif) repeat-x;
  height:36px;
  margin:0;
  padding:0 0;
  list-style:none;
  }
#nav li {
  float:left;
  margin:0;
  padding:0;
  background-image:none;
  line-height:normal;
  text-indent:0;
  }
#nav li a, #nav li strong {
  background-repeat:no-repeat;
  background-position:0 0;
  display:block;
  float:left;
  height:36px;
  border-width:0;
  text-indent:-10000px;
  }
#nav li strong {
  background-position:0 -36px;
  }
#nav li a:hover {
  background-position:0 -72px;
  }


/* Page Header (ph)
----------------------------------------------- */
#ph, #ph-a, #ph-b {
  float:left;
  width:920px;
  }
#ph  {
  background:url(http://www.fr.capgemini.com/img/bg_ph_col.gif) repeat-y left top;
  margin-bottom:10px;
  }
.top #ph {
  background-image:url(http://www.fr.capgemini.com/img/bg_ph_col_top.gif);
  }
#ph-a {
  background-repeat:no-repeat;
  }
#ph-b {
  position:relative;
  background:url(http://www.fr.capgemini.com/img/corners_fullwidth_bot.gif) no-repeat left bottom;
  }
#ph-b #cbe {
  position:absolute;
  left:598px;
  top:11px;
}
#ph-b #cbe a { 
  border:none; 
}
html>body #ph-b {
  background-image:url(http://www.fr.capgemini.com/img/corners_fullwidth_bot.png);
  }
.home #ph-b {
  background:url(http://www.fr.capgemini.com/img/corners_fullwidth_bot_phb.gif) no-repeat left bottom;
}
html>body .home #ph-b {
  background-image:url(http://www.fr.capgemini.com/img/corners_fullwidth_bot_phb.png);
}
#ph h1 {
  display:inline;
  float:left;
  width:650px;
  min-height:78px;
  margin:0;
  margin:0 0 0 20px;
  padding:25px 20px 15px 0;
  font:230%/1.2em Georgia,Serif;
  letter-spacing:0.05em;
}
#ph h1.borders {
  border-right:1px solid #e2e2e2;
  background:url(http://www.fr.capgemini.com/img/bg_border_b_h1.gif) right bottom no-repeat;
}
* html #ph h1 {
  height:78px;
  letter-spacing:0.02em;
  }
*:first-child+html #ph h1 {
  letter-spacing:0.02em;
  }
.top #ph h1 {
  padding-top:60px;
  padding-bottom:30px;
  }
#ph h1, h1 a, h1 a:visited, h1 a:hover {
  color:#fff;
  }
#location-general, #ph-text {
  background-image:url(http://www.fr.capgemini.com/img/shadow_009dca.gif);
  background-repeat:repeat-x;
  float:right;
  width:220px;
  margin:0;
  padding:15px 0 5px 0px;
  font-size:85%;
  line-height:1.4em;
  color:#BAD2D2;
  }
#location-general em {
  display:block;
  font-style:normal;
  padding:0 10px 2px 20px;
  color:#fff;
  }
#location-general a {
  background:url(http://www.fr.capgemini.com/img/tri_down_bad2d2.gif) no-repeat 10px .6em;
  display:block;
  padding:.2em 10px 0 20px;
  border-width:0;
  font:bold 100%/1.4em "Trebuchet MS",Verdana,Sans-serif;
  text-transform:uppercase;
  color:#fff;
  }
#ph-text {
  background-image:url(http://www.fr.capgemini.com/img/shadow_009dca.gif);
  background-repeat:repeat-x;
  width:180px;
  padding:20px;
  font:110%/1.8em Georgia,Serif;
  text-align:center;
  color:#fff;
  }

/* Structure
----------------------------------------------- */
#content {
  background:url(http://www.fr.capgemini.com/img/bg_col.gif) repeat-y right top;
  float:left;
  width:920px;
  }
#content-a {
  background:url(http://www.fr.capgemini.com/img/corners_sidebar_content_r.gif) no-repeat right bottom;
  float:left;
  width:920px;
  }
html>body #content-a {
  background-image:url(http://www.fr.capgemini.com/img/corners_sidebar_content_r.png);
  }
#content-main {
  float:left;
  width:699px;
  font-size:85%;
  line-height:1.6em;
  margin-right: -6px;
  }
#content-side {
  background:url(http://www.fr.capgemini.com/img/shadow_CEE6E6.gif) repeat-x;
  float:right;
  width:220px;
  padding-bottom:10px;
  }
#content-side .short {
  width:160px;
  padding:0 20px 10px;
  font-size:85%;
  line-height:1.8em;
}
#content-side .image {
  margin-right:-10px;
}
#content-side p {
  padding-left:6px !important;
  padding-right:6px !important;
}
.inset-left, .inset-right {
  background:#fff;
  float:left;
  width:195px;
  margin:1.5em 10px 1.5em 0;
  }
.inset-right {
  float:right;
  margin:1.5em 0 1.5em 10px;
  }
.inset-left {
  border-right: 1px dotted #ccc;
  margin-top:0;
  padding:0 15px 0 0;
  width:180px;
}
.inset-left .thumbnail {
  float: left;
  padding: 5px 0 0 0;
  margin-bottom: -5px;
}
.inset-left .video_thumbnail {
  margin: 10px auto 0;
}
.inset-left p {
  padding-right: 5px;
}
.subcolumn-left, .subcolumn-right {
  float:left;
  width:493px;
  margin:0 -10px 0 0;
  }
.subcolumn-right {
  float:right;
  margin:0 0 0 -10px;
  }


/* Headings
----------------------------------------------- */
h2 {
  margin:.75em 0 .25em;
  padding:0 20px;
  font:155%/1.4em Georgia,Serif;
  }
h2 {
  color:#000;
  }
h2 a, h2 a:visited {
  color:#0043a2;
  }
h2 em {
  font-style:normal;
  color:#722;
  }
h2 em:before {
  content:"| ";
  color:#999;
  }
#content-side h2, #content-side h3, .home #ph-text h2 {
  padding:0;
  }
.inset-left h2, .inset-right h2, .news-story .inset-left h2, .news-story .inset-right h2 {
  font:bold 92%/1.4em "Trebuchet MS",Arial,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.1em;
  color:#999;
  }
#content-side h2, .trio h2, .home #ph-text h2 {
  margin:1.75em 0 1em;
  font:bold 92%/1.4em "Trebuchet MS",Arial,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.1em;
  }
#content-side h2.first {
  margin:0.20em 0 1.50em;
}
#content-side h2, .trio h2, #content h2 a, .home #ph-text h2 {
  color:#036;
  }
#content-side h2 {
  padding:4px 6px;
  color:#fff;
  background:#80aec2;
  }
.subcolumn-left h2 {
  padding-right:10px;
  }
.subcolumn-right h2 {
  padding-left:10px;
  }
.trio h2 {
  padding:0;
  margin:0;
  padding:0 0 17px 0;
  }
#content .trio h2 a {
  color:#909090;
  display:block;
  padding:4px 0 4px 11px;
  }
.part1 h2 {
  background:#fff url(http://www.fr.capgemini.com/img/bg_h2_part1.gif) 0px 27px no-repeat;
  }
.part1 h2 a, .part1 h2 a:hover, .part1 h2 a:visited {
  border:1px solid #448899;
  border-top-width:4px;
  }
.part2 h2 {
  background:#fff url(http://www.fr.capgemini.com/img/bg_h2_part1.gif) 0px 27px no-repeat;
  }
.part2 h2 a, .part2 h2 a:hover, .part2 h2 a:visited {
  border:1px solid #994466;
  border-top-width:4px;
  }
.part3 h2 {
  background:#fff url(http://www.fr.capgemini.com/img/bg_h2_part1.gif) 0px 27px no-repeat;
  }
.part3 h2 a, .part3 h2 a:hover, .part3 h2 a:visited {
  border:1px solid #998844;
  border-top-width:4px;
  }
h3 {
  margin:1.25em 10px 1em;
  padding:0 10px .5em;
  border-bottom:1px dotted #ccc;
  font:125%/1.6em Georgia,Serif;
  }
h3, h3 a, h3 a:visited {
  color:#722;
  }
h3.important {
  margin:0 10px .5em;
  font:200%/1.2em Georgia,Serif;
  color:#000;
  }
.inset-left h3, .inset-right h3 {
  font:105%/1.4em Georgia,Serif;
  border-bottom: none;
  margin: 0.5em 10px;
  padding:0 10px;
}
h4 {
  margin:1.5em 0 .5em;
  padding:0 20px;
  font:bold 100%/1.8em Verdana,Sans-serif;
  color:#377;
  }



/* General Content
----------------------------------------------- */
p {
  padding:0 20px;
  line-height:1.8em;
  }
.subcolumn-left p {
  padding-right:10px;
  }
.subcolumn-right p {
  padding-left:10px;
  }
#content-side p,.home #ph-text p, .home #ph-text h2, .home #ph-text ul {
  margin:0;
  padding:0;
  }
.trio p {
  padding:0 10px;
  padding:0 10px 15px;
  }
dl.categories {
  margin:1.5em 0;
  }
.categories dt {
  font:bold 92%/1.6em "Trebuchet MS",Arial,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.1em;
  color:#999;
  }
.categories dd {
  margin:0 0 1em;
  padding:0;
  }
#content-main form {
  padding:0 20px;
  }


/* Side Nav
----------------------------------------------- */
ul.sidenav, .sidenav ul {
  margin:0;
  padding:0 0 10px;
  list-style:none;
  font:bold 80%/1.4em "Trebuchet MS",Verdana,Sans-serif;
  letter-spacing:.1em;
  text-transform:uppercase;
  }
.sidenav ul {
  padding:0;
  font-size:100%;
  }
.sidenav li {
  background:#33b1d5 url(http://www.fr.capgemini.com/img/shadow_side1.gif) repeat-x 0 0;
  margin:0;
  padding:0;
  }
.sidenav ul li {
  background:#66c4df;
  }
.sidenav ul ul li {
  background:#99d8ea;
  }
#lastnode li {
  background:none;
  }
.sidenav ul ul ul li, .sidenav ul #lastnode li {
  background:#c9dfea;
  }
.sidenav a, .sidenav a:visited, .sidenav strong {
  background:url(http://www.fr.capgemini.com/img/tri_down_fff.gif) no-repeat 10px 1.1em;
  display:block;
  padding:5px 20px;
  border-width:0;
  text-decoration:none;
  color:#fff;
  font-weight: normal;
  }
ul#lastnode {
  background:#c9dfea url(http://www.fr.capgemini.com/img/shadow_CEE6E6.gif) repeat-x 0 0;
  padding-top:5px;
  font:85%/1.5em Verdana,Sans-serif;
  text-transform:none;
  letter-spacing:0;
  }
.sidenav ul#lastnode {
  background-image:none;
  padding-top:0;
  font-size:106%;
  line-height:1.5em;
  }
ul#lastnode li {
  font-size:100%;
  line-height:1.5em;
  }
#lastnode a, #lastnode a:visited, #lastnode strong {
  background-image:none;
  padding:3px 20px 3px 20px;
  padding-bottom:3px;
  color:#36a;
  }
* html #lastnode a, * html #lastnode strong {
  height:1%;
  }
#lastnode strong {
  color:#000;
  background-image:url(http://www.fr.capgemini.com/img/tri_right_047.gif);
  background-position:10px .8em;
  text-decoration:none;
  }
.sidenav a:hover {
  background-color:#009DCA;
  color:#fff;
  }
#lastnode a:hover {
  background:#fff url(http://www.fr.capgemini.com/img/tri_right_fff.gif) no-repeat 10px .8em;
  }


/* Trios
----------------------------------------------- */
.trio {
  float:left;
  width:695px;
  margin-top:.5em;
  background:url(http://www.fr.capgemini.com/img/bg_trio.gif) left top repeat-y;
  }
.trio:after { 
  content:"."; 
  display:block; 
  height:0; 
  clear:both; 
  visibility:hidden; 
}
.trio { 
  display:inline-block; 
}
.trio .ahead:after { 
  content:"."; 
  display:block; 
  height:0; 
  clear:both; 
  visibility:hidden; 
}
.trio .ahead { 
  display:inline-block; 
}
.trio .part, .trio .part1, .trio .part2, .trio .part3 { 
  background:none; 
  float:left; 
  width:216px; 
  margin:0; 
  padding:0 0 0 15px; 
}
.trio .image {
  margin:0 0 5px;
  padding:5px 10px 0 0;
  float:left;
}
p.closer {
  background:#E6E4DF url(http://www.fr.capgemini.com/img/icon_arrow.gif) no-repeat 10px 50%;
  clear:both;
  line-height:1.8em;
  margin:1em 10px 1.75em;
  padding:5px 5px 5px 25px;
  }
.trio ul {
  margin:.25em 0 0;
  }
html>body .trio ul {
  margin-bottom:10px;
  }
.trio li, ul.files li {
  background-image:none;
  float:none;
  margin:0;
  padding:0 0 .25em;
  line-height:1.8em;
  }
#content-side ul.files {
  margin:0;
  padding:0;
  padding-bottom:1em;
  }
.trio p.logo {
  margin-bottom:.5em;
  padding:0 10px;
  }
.short p.logo {
  line-height:30px;
  height:30px;
  }
.med p.logo {
  line-height:50px;
  height:50px;
  }
.tall p.logo {
  line-height:80px;
  height:80px;
  }
.trio p.logo img {
  vertical-align:bottom;
  }
p.logo a {
  border-bottom-width:0;
  }


/* News
----------------------------------------------- */
.news-story h2 {
  margin:.25em 0;
  font-size:220%;
  line-height:1.3em;
  }
.news-story .lead {
  margin-top:.5em;
  font:125%/1.6em Georgia,Serif;
  color:#377;
  }
.news-story img.left {
  margin-right:20px;
  }
.news-story img.right {
  margin-left:20px;
  }
.newsitem {
  padding:0 10px;
  margin:0 0 1.75em;
  }
.subcolumn-left .newsitem {
  padding-right:0;
  }
.subcolumn-right .newsitem {
  padding-left:0;
  }
.newsitem h3 {
  background:url(http://www.fr.capgemini.com/img/icon_news.gif) no-repeat 10px .25em;
  margin:0;
  padding:0 10px;
  border-bottom:0;
  font:bold 110%/1.6em Verdana,Sans-serif;
  text-indent:22px;
  }
.newsitem p {
  margin:0 0 .25em;
  padding:0 10px;
  }
.newsitem p.more {
  margin:0 0 .75em;
  }
.also {
  margin:0 10px;
  padding:0 10px;
  }
.also h4 {
  margin:0 0 .25em;
  padding:0;
  border-bottom:0;
  font:bold 92%/1.4em "Trebuchet MS",Arial,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.1em;
  color:#777;
  }
.also ul {
  margin:0;
  padding:0;
  }

/* Document downloads
----------------------------------------------- */
.doc-item {
  clear: both;
  padding: 10px 40px 10px 20px;
  margin-top: 1.0em;
}
.doc-item, .video-item {
clear:both;
margin-top:1em;
padding:10px 40px 10px 20px;
}
.doc-item .doc-thumbnail {
  float: left;
  width: 66px;
  margin: .5em 0 1.0em 0;
}
.doc-item .doc-thumbnail a {
  border-width:0;
}
.video-item .video-thumbnail {
float:left;
margin:0.5em 0 1em;
width:87px;
}
.doc-item .doc-thumbnail a, .video-item .video-thumbnail a {
border-width:0;
}
.video-item .video-intro {
float:right;
text-align:left;
vertical-align:top;
width:530px;
}
.doc-item .doc-intro p, .video-item .video-intro p {
margin:0 0 1em;
padding:0;
}
.doc-info, .video-info {
color:#999999;
}
.doc-info strong, .video-info strong {
font-size:95%;
}
.doc-item .doc-hr, .video-item .video-hr {
border-bottom:1px solid #CCCCCC;
clear:both;
}
.doc-item .doc-intro {
  float: right;
  width: 560px;
  text-align: left;
  vertical-align: top;
}
.doc-item .doc-intro p {
  margin: 0 0 1.0em 0;
  padding: 0;
}
.doc-item .doc-hr {
  clear: both;
  border-bottom: 1px solid #ccc;
}

.doc-info {
  color: #999;
}
.doc-info strong {
  font-size: 95%;
}

/* Tables
----------------------------------------------- */
table {
  margin:15px 20px;
}
th {
  color:#fff;
}

/* Lists
----------------------------------------------- */
ul {
  margin:.25em 10px 1em;
  padding:0;
  list-style:none;
  }
.inset-left ul, .inset-right ul {
  margin-bottom:1.5em;
  }
.inset-left dl, .inset-right dl {
  padding:0 20px;
  }
li {
  background:url(http://www.fr.capgemini.com/img/tri_right_047.gif) no-repeat 0 .65em;
  margin:0;
  padding:0 10px;
  line-height:1.8em;
  }
* html ul li {
  height:1%;
}
ul, dl {
  padding:0 10px;
  }
dl {
  margin-bottom:1.75em;
  }
dd {
  margin:0 0 .5em 0;
  }

ol li {
  background:none;
  padding:0;
}

/* Forms
----------------------------------------------- */
input.text {
  border:1px solid;
  border-color:#aa9 #ffe #ffe #aa9;
  font-size:85%;
  }
.imgbutton {
  vertical-align:middle;
  }
div.facet {
  padding: 0 10px 10px 10px;
  margin: 0;
  width: 400px;
  height: 100px;
  overflow: auto;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  font-size: 10px;
  font-family: geneva, tahoma, sans-serif;
}

/* Form validation
----------------------------------------------- */
input.disabled {
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
}
input.required, textarea.required {
}
input.validation-passed, textarea.validation-passed {
}
input.validation-failed, textarea.validation-failed {
}
.validation-advice {
  color : red;
  border:1px solid #ff9999;
  background:#ffcccc;
  padding:5px;
  margin:5px 0 0 0;
}

/* Contact form
----------------------------------------------- */
#contact-form .row .fieldtitle {
  width: 160px;
}
#contact-form .row .formfield {
  float: left;
}
#contact-form .row .formfield .registration-textfield {
  width: 240px;
  margin: 0 0 5px 0;
  padding: 2px;
  border: 1px solid #ccc;
  font-size:85%;
}
#contact-form .row .formfield select {
  float:left;
  width: 240px;
  margin: 0 0 5px 0;
  border: 1px solid #ccc;
  font-size:85%;
}
#contact-form .row .formfield textarea {
  width: 300px;
  margin: 0 0 5px 0;
  padding: 2px;
  border: 1px solid #ccc;
}


/* Sign-in and registration forms
----------------------------------------------- */
#sign-in-container {
  margin: 20px 100px;
}
#sign-in-fixed {
  float:left;
  width:300px;
}
#sign-in-fixed p {
  padding: 0;
}
#sign-in-form {
  float:left;
  padding:5px;
  border: 1px solid #ccc;
}
#sign-in-form #sign_in {
  display:block;
  margin:0;
  padding:5px 0 0 0;
}
#sign-in-form #sign_in .row {
  clear: both;
  padding: 3px 0 0 0;
    margin:0;
}
#sign-in-form #sign_in .row .fieldtitle {
  float: left;
   margin:0;
  padding:0;
 width: 100px;
}
#sign_in .row .formfield {
  float: left;
}
#sign_in .row .formfield .registration-textfield {
  width: 180px;
  margin: 0 0 5px 0;
  font-size:85%;
}
#sign_in .row .formfield .registration-checkbox {
  margin: 5px 0 0 0;
  font-size:85%;
}
#sign_in .row .formfield .registration-submit {
  margin: 5px 0;
  font-size:85%;
}

#no-account {
  display: block;
  width: 520px;
}

#registration-form {
  margin: 30px 0 10px 0;
  width: 520px;
}
#registration-form p {
  padding: 0;
  margin-top: 20px;
}
#registration-form .row {
  clear: both;
  padding-top: 3px;
}
.row {
  clear: both;
  padding-top: 3px;
}
.row .fieldtitle {
  float: left;
  width: 160px;
}
.row .formfield {
  float: left;
}
#registration-form .row .formfield .registration-textfield {
  width: 240px;
  margin: 0 0 5px 0;
  border: 1px solid #ccc;
  font-size:85%;
}
#registration-form .row .formfield .registration-select {
  width: 240px;
  margin: 0 0 5px 0;
  border: 1px solid #ccc;
  font-size:85%;
}
#registration-form .row .formfield .registration-textbox {
  margin: 0 0 5px 0;
  border: 1px solid #ccc;
  font-size:85%;
}
#registration-form .row .formfield div.facet {
  padding: 0;
  margin: 0;
  width: 240px;
  height: 70px;
  overflow: auto;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  font-size: 10px;
  font-family: geneva, tahoma, sans-serif;
}
#registration-form .info-box {
  padding: 5px;
  margin: 10px 0 10px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}
#registration-form .row .formfield facet label {
  font-weight: normal;
}
#registration-form .registration-checkbox {
  margin: 5px 0 0 0;
  font-size:85%;
}
#registration-form .registration-submit {
  margin: 5px 0;
  font-size:85%;
}
.mandatory {
  color: red;
}
.registration-formfields {
  float: left;
  margin: 0;
  clear:right;
}


/* RSS feed form
---------------------------------------------- */
#rss-form {
  border:1px solid #ccc;
  margin:20px;
  padding:0;
  width:420px;
}
#rss-form div {
  margin:7px -20px 7px -13px;
  padding:10px;
  width:424px;
  background-color: #f8f8f8;
  border:1px solid #ccc;
}
#rss-form div.facet {
  margin:0;
  width: 100%;
  height:110px;
  padding:0;
  border:0;
}
#rss-form div.rss-form-facetrow1 {
  width:400px;
  border:0;
  margin:0;
  padding:0;
}
#rss-form div.rss-form-facetrow2 {
  width:400px;
  background-color:#fff;
  border:0;
  margin:0;
  padding:0;
}
#rss-form h3, #rss-form h4, #rss-form p {
  margin:0 0 5px;
  padding:0;
}
#rss-form-document-types {
  margin:0;
}
#rss-form-industries {

}
#rss-form-solutions {
}
#rss-form-partners {
}
#rss-form-regions {
}
#rss-form-created-feed {
  margin:0;
  padding:0;
  border:0;
}
#rss-form #rss-form-buttons {
  display:inline;
  border:0;
  background-color:#fff;
  margin: 0 0 0 -13px;
  padding:0 0 0 0;
}
#rss-form .form-button {
  padding:2px;
  margin:0 0 7px 0;
  background-color: #f8f8f8;
  border:1px solid #ccc;
  text-transform:uppercase;
  font-weight:bold;
  font-size:85%;
}
#rss-form #rss-form-back-button {
  margin-right:7px;
}
#rss-form-submit {
}

/* RSS form
----------------------------------------------- */
#rss-form h3, #rss-form p {
  margin:10px 0;
  padding:0;
}
#rss-form input {
  margin:1px;
  font-size:85%;
}
#rss-form .submit-button {
  font-size:100%;
}

/* Home
----------------------------------------------- */
.home #ph {
  background-image:url(http://www.fr.capgemini.com/img/bg_ph_col_home.gif);
  }
.home #ph-a {
  background-position:right top;
  }
.home #ph-a h1 {
  float:right;
  width:480px;
  min-height:0;
  padding-top:15px;
  padding-bottom:15px;
  }
.home #ph-a h1 strong {
  display:block;
  font-weight:normal;
  }
.home #ph-a #top-banner {
  position:relative;
  float:right;
  width:694px;
  padding:15px 1px 15px 0px;
  margin:0;
  cursor:pointer;
  min-height:130px;
  height:auto !important;
  height:130px;
  overflow:hidden;
}
.home #ph-a #top-banner.bannerLaunch { 
  height:117px; 
}
.home #ph-a #top-banner a, .home #ph-a #top-banner a:visited, .home #ph-a #top-banner a:hover {
  color:#fff;
  border-bottom:0;
  text-decoration:none;
}
.home #ph-a #top-banner #cbe {
  left:370px;
  top:33px;
  margin:0;
  padding:0 0 0 230px;
  z-index:2;
}
.home #ph-a #top-banner .txt-bottom {
  position:absolute;
  right:65px;
  bottom:7px;
  width:210px;
  height:9px;
  background:url(http://www.fr.capgemini.com/img/txt_together.png);
}
* html .home #ph-a #top-banner .txt-bottom {
  bottom:0;
  background:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/txt_together.png', sizingMethod='crop');
}
.home #ph-a #top-banner .banner-quote {
  float:left;
  padding:0 0 0 20px;
  margin:0;
  width:350px;
  font:85%/1.3em Georgia,Serif;
  color:#fff;
  text-decoration:none;
  border-bottom:0;
}
.home #ph-a #top-banner .banner-quote h1 {
  float:left;
  padding:0 0 10px 0;
  margin:0;
  font:200%/1.2em Georgia,Serif;
  width:350px;
  height:auto;
}
.home #ph-a #top-banner .banner-quote h2 {
  float:left;
  padding:0 0 10px 0;
  margin:0;
  font:150%/1em Georgia,Serif;
  width:350px;
  color:#fff;
}
.banner-quote .opaque-text {
  margin:0;
  padding:0;
  clear:both;
}
.banner-quote .opaque-text .quote-author {
  margin:10px 0 0 0;
}
.banner-quote .opaque-text .quote-author strong {
  font:bold 91%/1.3em Georgia,Serif;
}
.home #ph-text {
  background-image:url(http://www.fr.capgemini.com/img/shadow_home.gif);
  background-repeat:repeat-x;
  float:left;
  width:172px;
  padding:25px 20px 10px 33px;
  margin:0;
  font-size:85%;
  line-height:1.4em;
  text-align:left;
  }
.home #ph-text a {
  font: 92%/1.4em Verdana,Sans-serif;
  letter-spacing:.1em;
  }
.home #ph-text em {
  display:block;
  font-size:125%;
  line-height:1.4em;
  }
.home #ph-text p.international_sites {
  margin-top:.8em;
}
.home #content {
  background:url(http://www.fr.capgemini.com/img/bg_col_home.gif) repeat-y left top;
  }
.home #content-a {
  background-position:left bottom;
  background-image:url(http://www.fr.capgemini.com/img/corners_sidebar_content.gif);
  }
html>body .home #content-a {
  background-image:url(http://www.fr.capgemini.com/img/corners_sidebar_content.png);
  }
.home #content-main {
  float:right;
  }
.home #content-side {
  background-image:url(http://www.fr.capgemini.com/img/shadow_home.gif);
  float:left;
  width:205px;
  padding:15px 10px 10px 10px;
  font-size:85%;
  line-height:1.8em;
  }
.home #content-side img.left {
  margin-top:5px;
  margin-left:-10px;
  }
.home p.intro {
  margin:.5em 0 1em;
  font:130%/2em Georgia,Serif;
  color:#666;
  }
.home p.intro .leadin {
  font:130%/1.5em Georgia,Serif;
  text-transform:none;
  letter-spacing:0;
  color:#699;
  }
.home #content-side p.quote {
  background:url(http://www.fr.capgemini.com/img/quotes.gif) no-repeat 0 2px;
  font:130%/1.5em Georgia,Serif;
  text-indent:16px;
  color:#468;
  }


/* Misc
----------------------------------------------- */
p {
  margin:0 0 .75em;
  }
p.intro {
  font-weight:bold;
  }
p.lead {
  margin-top:1em;
  }
p.photo {
  margin-bottom:6px;
  }
p.photo img {
  display:block;
  }
#content .trio p.photo {
  padding-top:5px;
  }
p.logo {
  margin:.25em 0;
  }
.inset-left p.logo, .inset-right p.logo {
  margin-top:1em;
  }
#content-side p.logo {
  background:#fff;
  padding:10px 9px;
  border:1px solid;
  border-color:#abc #fff #fff #abc;
  }
#content-side p.logo img {
  display:block;
  }
p.attribute {
  font-weight:normal;
  color:#666;
  }
p.attribute strong {
  color:#333;
  }
.date {
  color:#777;
  }
hr {
  display:none;
}
hr.visible {
  display:block;
  height:1px;
  margin:0 20px 5px 20px;
  color:#C0C0C0;
  background-color:#C0C0C0;
}
img.icon {
  position:relative;
  top:3px;
  background:#fff;
  padding-right:2px;
  }
#content-side img.icon {
  background:#cde;
  }
.leadin {
  font:bold 100% "Trebuchet MS",Arial,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.2em;
  color:#000;
  }
.reset {
  clear:both;
  height:1px;
  font-size:1px;
  line-height:1px;
  margin:5px;
  }
img.left {
  float:left;
  margin:2px 8px 6px 0;
  }
img.right {
  float:right;
  margin:2px 0 6px 8px;
  }
#content-side .flash-152x60 {
  width:162px;
  height:70px;
  margin:25px -10px 0 0;
  padding:2px 0 0 2px;
  background:url(http://www.fr.capgemini.com/img/152_bg.gif) 0 0 no-repeat;
}
.stats-select {
  width:225px;
}
.warning-box {
  border:1px solid #ff9999;
  background:#ffcccc;
  padding:10px;
  margin:20px;
}
.success-box {
  border:1px solid #219765;
  background:#b5edbc;
  padding:10px;
  margin:20px;
}
.format-png { behavior: url(http://www.fr.capgemini.com/css/win_png.htc); } /* handle images png transparency IE6 */

/* Quotes
----------------------------------------------- */
blockquote {

  margin:1em 10px 1.75em;
  padding:.75em 0 0;
  border:dotted #ccc;
  border-width:1px 0;
  }
blockquote.quote {
  clear:both;
  padding:0;
  border:none;
  background:#e4e4ec;
  height:150px;
  }
blockquote.quote:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
blockquote.quote img {
  float:left;
  margin:0 18px 0 0;
  border-right:1px solid #fff;
  }
blockquote p {
  color:#722;
  }
blockquote.quote p {
  color:#235183;
  }
#content-main blockquote p {
  padding:0 10px;
  }
#content-main blockquote.quote p {
  padding:10px 10px 0 10px;
  }
#content-main blockquote.quote .author {
  padding:0 10px;
  }
blockquote.pullquote p {
  font:italic 150%/1.6em Georgia,Serif;
  }
#content-main ul li blockquote, #content-main ul li blockquote p {
  padding:0;
  margin:1em 0;
  }

/* Search
----------------------------------------------- */
#search-result-top {
  margin: 0 0 20px 0;
}

.search-result-item {
  margin: 0 20px 20px 20px;
  }

.search-result-item-description {
  margin: 0;
  padding: 0 0 0 15px;
}

.search-result-sortby {
  float:right;
  padding:0 20px 10px 0;
  clear:both;
}

.search-result-url {
  color:#749696;
}
.search-result-size {
  color:#749696;
}

.search-result-date {
  color:#749696;
}

.search-result-cache {
  color:#749696;
}

#search-result-icon {
  margin-right: 3px;
}

#search-page-nav {
  text-align: center;
  margin: 30px 0 20px 0;
  }

#search-page-range {
  float: left;
  margin-right: 10px;
  }

#search-current-page-range {
  float: left;
  margin-right: 10px;
}

#search-previous {
  float: left;
  margin-right: 10px;
  font-weight: bold;
}

#search-next {
  float: left;
  font-weight: bold;
  }

/* Video Player
----------------------------------------------- */
.video-container {
  clear:both;
  width:655px;
  min-height:320px;
  height:auto !important;
  height:320px;
  margin:0 10px 10px 25px;
  padding:0;
}
.video-player {
  float:left;
  width:320px;
  margin:0 10px 0 0;
  padding:0;
}
.video-description {
  float:left;
  width:320px;
}
.video-container-inset {
  float:left;
  width:469px;
  margin:10px -10px 20px 0px;
  padding:0 0 5px 0;
  background:url(http://www.fr.capgemini.com/img/e9_pix.gif) left bottom repeat-x;
}
.video-player-inset {
  margin:0 0 0 0;
  padding:0;
}
.video-container h3, .video-container p, .video-container-inset h3, .video-container-inset p {
  margin:0 0 10px;
  padding:0;
}
.video-container h2, .video-container-inset h2 {
  margin:10px 0 5px 0;
  padding:0;
}
.video-reset {
  clear:both;
  height:1px;
  font-size:1px;
  line-height:1px;
  margin:5px 10px 5px 20px;
  background:url(http://www.fr.capgemini.com/img/e9_pix.gif) left bottom repeat-x;
}

/* Footer
----------------------------------------------- */
#footer {
  background:#009dca url(http://www.fr.capgemini.com/img/corners_fullwidth_bot.gif) no-repeat left bottom;
  clear:both;
  width:920px;
  border-top:10px solid #fff;
  font-size:85%;
  line-height:1.6em;
  color:#dee;
  }
html>body #footer {
  background-image:url(http://www.fr.capgemini.com/img/corners_fullwidth_bot.png);
  }
#footer div {
  background:url(http://www.fr.capgemini.com/img/corners_fullwidth_top.gif) no-repeat;
  padding:12px 20px 15px;
  }
html>body #footer div {
  background-image:url(http://www.fr.capgemini.com/img/corners_fullwidth_top.png);
  }
#footer p {
  margin:0;
  padding:0;
  }
#footer a {
  color:#fff;
  border-color:#fff;
  }
#footer hr {
  display:none;
}