/*
-----------------------------------------------
Capgemini Nav Styles
Version:  03 November 2007
----------------------------------------------- */


/* Nav Images
----------------------------------------------- */
#nav ul {
  padding:0 0 0 68px;
  }
#nav1 a, #nav1 strong {
  background:url("http://www.fr.capgemini.com/img/nav1_groupe.gif");
  width:100px;
  }
#nav2 a, #nav2 strong {
  background:url("http://www.fr.capgemini.com/img/nav2_metiers.gif");
  width:105px;
  }
#nav3 a, #nav3 strong {
  background:url("http://www.fr.capgemini.com/img/nav3_travailler.gif");
  width:134px;
  }
#nav4 a, #nav4 strong {
  background:url("http://www.fr.capgemini.com/img/nav4_secteurs.gif");
  width:126px;
  }
#nav5 a, #nav5 strong {
  background:url("http://www.fr.capgemini.com/img/nav5_actualite.gif");
  width:105px;
  }
#nav6 a, #nav6 strong {
  background:url("http://www.fr.capgemini.com/img/nav6_contacts.gif");
  width:112px;
  }
#nav7 a, #nav7 strong {
  background:url("http://www.fr.capgemini.com/img/nav7_carrieres.gif");
  width:104px;
  }
