/* *************************** 
  Site - template
  ---------------------------
  StyleSheet Index
  $3 - Header Styles
  $4 - Content Styles
  $5 - Sidebar Styles
  $6 - Footer Styles
   ***************************/


.clear {
	clear:both;
	height:0;
	font-size:0;
}


/* *************************** 
   $3 Header Styles
   ***************************/

#header{
	width:989px;
	border-bottom:#fff 1px solid;
	border-right:#000 1px solid;
	overflow:hidden;
	margin:0 auto;
	text-align:left;
	background:url(bg.jpg) top left no-repeat;
	}
.row1{
	height:111px;
	width:989px;
	position:relative;
	}
.col1{
	width:155px;
	}
#header .row1 .col1,
#header .row2 .col1
{
	position:absolute;
	top:0;
	left:0;
	height:111px;
	 width:412px;
	}
.col2{
	width:256px;
	}
#header .row1 .col2,
#header .row2 .col2{
	position:absolute;
	top:0;
	left:155px;
	height:111px;
	border-left:#fff 1px solid;
	}
.col3{
	width:163px;
	}
#header .row1 .col3,
#header .row2 .col3{
	position:absolute;
	top:0;
	left:412px;
	height:111px;
	border-left:#fff 1px solid;	
	}
.col4{
	width:248px;
	}
#header .row1 .col4,
#header .row2 .col4{
	position:absolute;
	top:0;
	left:576px;
	height:111px;
	border-left:#fff 1px solid;	
	}
.col5{
	width:163px;
	}
#header .row1 .col5,
#header .row2 .col5{
	position:absolute;
	left:825px;
	height:111px;
	border-left:#fff 1px solid;
	}
.row2{
	height:111px;
	width:989px;
	position:relative;
	border-top:#fff 1px solid;
	}
.row3{
	width:989px;
	overflow:hidden;
        position:relative;
	background:url(bg_row3.png) left top no-repeat;
	border-top:#fff 1px solid;
	}
#header .row3 .col1{
	float:left;
	border-right:#fff 1px solid;
	}
#header .row3 .col2{
	float:left;
	border-right:#fff 1px solid;
	}
#header .row3 .col3{
	float:left;
	border-right:#fff 1px solid;
	}
#header .row3 .col4{
	float:left;
	border-right:#fff 1px solid;
	}
#header .row3 .col5{
	float:left;
	}
#header .row3 ul{
	padding-top:5px;
	padding-bottom:2px;
	float:left;
      
	}
#header .row3 ul li{
	}
#header .row3 ul li a{
	float:left;
	padding-left:20px;
	color:#fff;
	text-decoration:none;
	padding-top:2px;
	padding-bottom:2px;
	font-weight:bold;
	font-size:11px;
	background:url(arrow.gif) 11px 5px no-repeat;
	}
#header .row3 ul li a:hover{
	text-decoration:none;
	color:#000;
	background:#fff url(arrowhover.gif) 11px 5px no-repeat;;
	}
#header .row3 ul.col1 li a{
	width:135px;
	}
#header .row3 ul.col2 li a{
	width:236px;
	}
#header .row3 ul.col3 li a{
	width:143px;
	}
#header .row3 ul.col4  li a{
	width:228px;
	}
#header .row3 ul.col5 li a{
	width:143px;
	}