@charset "utf-8";
	/* -------------------------------------------------------------------------------------------------------- */
	/* Mise en forme des légendes des images */
	/* -------------------------------------------------------------------------------------------------------- */

	table.imgtext-table {
		display: block;
	}
	
	table.aGauche {
		float: left;
		margin: 5px 10px 5px 21px !important;
		margin: 5px 5px 5px 10px;
	}
	
	table.aDroite {
		float: right;
		margin: 5px 21px 5px 10px !important;
		margin: 5px 10px 5px 5px;
	}
	
	table.imgtext-table td {
		vertical-align: top;
	}
	
	table.imgtext-table p {
		margin: 0;
		padding: 0;
		
		text-align: center;
	}
	
