@charset "utf-8";
	/* -------------------------------------------------------------------------------------------------------- */
	/* CSS Pour le module de recherche */
	/* -------------------------------------------------------------------------------------------------------- */
	
	div#aidesRegion {
		width: 168px;
		height: auto;
		
		margin: 0 0 16px 15px;
		
		font-size: inherit;
	 }

	div#aidesRegion * {
		margin: 0;
		padding: 0;
		/*border: none;*/
		
		font-size: inherit;
	 }

	div#aidesRegion h3 {
		margin: 0 0 8px 0;
		padding: 0 0 0 1px;
		font-size: 0.9em;
		line-height: 1em;
	}	
	
	/* -------------------------------------------------------------------------------------------------------- */
	/* Le formulaire */
	/* -------------------------------------------------------------------------------------------------------- */

	div#formAidesRegion {
	}

	div#formAidesRegion form {
		float: left;
		
		width: 168px;
		
		margin: 0;
		padding: 0;
	}

	/* -------------------------------------------------------------------------------------------------------- */
	/* Balises <select> */

	div#formAidesRegion form select {
		display: block;
		float: left;
		
		margin: 0 0 5px 0;
		padding: 0;
		
		border: 1px solid #000;

		font-size: 0.7em;

		background-color: #FFF;
	}
	
	div#formAidesRegion form select.champsListe {
		width: 163px;
		padding: 0 0 0 1px;
	}
	
	div#formAidesRegion form select.champsListe option {
		padding: 0 10px 0 0;
	}
	
	

	/* -------------------------------------------------------------------------------------------------------- */
	/* Balises <input> */

	div#formAidesRegion form input.inputTypeText {
		float: left;
		
		width: 108px;
		height: auto;
		
		margin: 0;
		padding: 2px 1px 2px 3px;
		border: 1px solid #000;

		font-size: 0.7em;
	}

	div#formAidesRegion form input.inputTypeBoutonImage {
		float: right;

		margin: 1px 0 0 4px;
		padding: 3px 5px 0 0;
		
		cursor: pointer;
	}
	
	/* -------------------------------------------------------------------------------------------------------- */
	/* Les liens */
	/* -------------------------------------------------------------------------------------------------------- */

	div#rechercheAvancee {
		padding: 5px 0 0 0;
	}
	
	div#rechercheAvancee ul {
		position: relative;

		/* !!! LARGEUR IDENTIQUE !!! */
		width: 168px; /* Donner une valeur fixe en px ou em pour éviter certain bug avec IE */
		height: auto;
		line-height: normal;
		
		font-size: inherit; /* A la même taille que div#navMenuDeroulVert */
	}
	
	div#rechercheAvancee li {
		font-size: inherit;
		float:left;
		font-size:inherit;
		height:auto !important;
		line-height: 1em; /* !!! Pas de pourcentage, il n'est pas reconnu */
		margin: 0; /* Doit être définie. la hirarchie n'est pas prise en comptes à partir du *{} */
		padding: 0; /* Doit être définie. la hirarchie n'est pas prise en comptes à partir du *{} */
		min-height:1em !important;
		position:relative;
	}
	
	div#rechercheAvancee a {
		float: left;
		display: block;
		
		width: 148px;
		height: auto;
		
		margin: 0;
		padding: 0 10px 0 10px;
		
		line-height: 1em;

		font-size: 0.75em;
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/ModuleAidesRegion/Img_ModAidesRegion_FlecheNoireVersDroite.gif);
		background-position: 0 3px;
		background-repeat: no-repeat;
		
		text-decoration: none;
	}
	
	div#rechercheAvancee a:hover, div#rechercheAvancee a:focus, div#rechercheAvancee a:active {
		text-decoration: underline;
	}

	/* -------------------------------------------------------------------------------------------------------- */
	/* Les resultats */
	/* -------------------------------------------------------------------------------------------------------- */

	div#rechercheAvanceeResult {
		padding: 5px 0 0 0;
		margin:0;
		
	}
	
	div#rechercheAvanceeResult ul {
		position: relative;

		/* !!! LARGEUR IDENTIQUE !!! */
		
		/*width: 590px;*/ /* Donner une valeur fixe en px ou em pour éviter certain bug avec IE */
		height: auto;
		line-height: normal;
		
		font-size: inherit; /* A la même taille que div#navMenuDeroulVert */

		margin:0;
		padding:0;
	}
	
	div#rechercheAvanceeResult li {
		font-size: inherit;
		border-bottom:1px solid #A8A8A8;
		
		font-size:inherit;
		height:auto !important;
		line-height: 1em; /* !!! Pas de pourcentage, il n'est pas reconnu */
		margin: 0; /* Doit être définie. la hirarchie n'est pas prise en comptes à partir du *{} */
		padding: 0; /* Doit être définie. la hirarchie n'est pas prise en comptes à partir du *{} */
		min-height:1em !important;
		padding:5px 0 3px 15px;
		position:relative;
		/*width:575px;*/
	}
	
	div#rechercheAvanceeResult a {
		/*float: left;*/
		display: block;
		
		height: auto;
		
		margin: 0;
		padding: 0 10px 0 10px;
		
		line-height: 1em;

		font-size: 0.75em;
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/ModuleAidesRegion/Img_ModAidesRegion_FlecheNoireVersDroite.gif);
		background-position: 0 3px;
		background-repeat: no-repeat;
		
		text-decoration: none;
	}
	
	div#rechercheAvanceeResult a:hover, div#rechercheAvanceeResult a:focus, div#rechercheAvanceeResult a:active {
		text-decoration: underline;
	}

	/* -------------------------------------------------------------------------------------------------------- */
	/* MODE RECHERCHE AVANCEE*/
	/* -------------------------------------------------------------------------------------------------------- */



.aideDeLaRegion{
	float: left;
	width: 100%;
	background:#E5E5E5;
	margin: 0;
	padding: 0;
}

.aideDeLaRegion h3 {
	font-size:18px;
	padding-top:5px;
	padding-bottom:0;
	padding-bottom:0;
}
.aideDeLaRegion label {
	float:left; 
	padding-right:5px;
	width:65px;
}

.aideDeLaRegion .jesuis{
	font-size:12px;
	padding-left:25px;
	padding-bottom:10px;
	float:left;
	clear: both;
	width: 565px;
}

.aideDeLaRegion .domaines{
	font-size:12px;
	padding-left:25px;
	float:left;
	clear: both;
	width: 565px;
}

.aideDeLaRegion #annim_plier {
	color:red;
}

.aideDeLaRegion #aideActivitePrincipale,
.aideDeLaRegion #aideDomainePrincipal {
	padding-left:15px;
	float:left;
	width:200px;
}

.aideDeLaRegion #aideActiviteDetaille,
.aideDeLaRegion #aideDomaineDetaille {
	padding-left:15px;
	margin-left: 5px;
	float:left;
	width:230px;
}

.aideDeLaRegion .inputTypeBoutonImage{
	float:left;
	clear: both;
	padding-top:10px;
	padding-bottom:20px;
}
