/* Proprietes communes */

.nouveautes {
margin:0;
padding:0;

}


/* Liste d'elements en haut de page*/
div.news-list-li h3 {font-size:12px; color:#000; float:left; }


/* Repartition des zones */

.nouveautesG{
float:left;
width:350px;
}
.nouveautesD{
float:right;
width:350px;
}
.nouveautesB{
float:none;
width:300px;
}


/* Titre principal des blocs */
.nouveautes .news-list-container h2{
color:#000;
border-bottom:1px solid black;
display:block;
width:310px;
margin-bottom:20px;
}


/* Zone Titre et image*/
.nouveautes h3{
padding:0;
margin:0;

}
/* Zone texte accroche des news */
.nouveautes .bodytext{ display:none;}



.nouveautes .news-list-item {

}

/* Titre de la nouvelle */
.nouveautes .news-list-item h3 a{
float:left;
width:310px;
color:#000000;
font-weight:bold;
font-size:12px;
display:block;

}

/* Image de la nouvelle */
.nouveautes .news-list-item h3 a img{
float:left;
margin-right:15px;
border:1px solid #000;
}

/* Texte de la nouvelle
.nouveautes .news-list-item p.bodytext{
float:left;
width:150px;
margin-left:144px;
}*/

/* Lien lire la suite*/
.nouveautes .news-latest-morelink a{
float:left;
font-size:12px;
padding: 10px 0 10px 0px;
margin-left:15px;
display : list-item;
color:red;
list-style-image : url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/CharteEditoriale/Img_CharteEdit_FlecheRougeVersDroite.gif);
}

/* Separateur de nouvelles */
.nouveautes .news-list-item2 {
display:block;
clear:both;
margin-bottom:20px;
margin-top:10px;
border-top:1px solid #a8a8a8;
}
