@charset "utf-8";
	/* -------------------------------------------------------------------------------------------------------- */
	/* CSS Pour la barre de Navigation Générique */
	/* -------------------------------------------------------------------------------------------------------- */
	
	div#navGenerique {
		clear: both;
		float: none;
		
		width: 963px; /* 989px - 10px - 16px */
		height: auto !important;
		min-height: 22px !important;
		height: 22px;
		
		line-height: 22px;
		
		margin: 0 auto;
		padding: 0 16px 0 10px;

		font-size: 0.75em; /* Taille de référence pour tous les éléments enfants */
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/NavigationGenerique/Img_NavGenerique_Fond.jpg);
		
		overflow: visible;
	} 
	
	div#navGenerique * {
		margin: 0;
		padding: 0;
		/*border: none;*/
				
		background: transparent;
	} 
	
	div#navGenerique h3 {
		float: left;
		
		font-size: 1em; /* !!! BUG IE 6 : inherit n'est pas pris en compte */
		font-style: normal;
		font-weight: normal;
		
		height: auto !important;
		min-height: 21px !important;
		height: 21px;		
		line-height: 21px;
		
		margin: 1px 5px 0 0;
	} 
	
	div#navGenerique strong {
		float: left;
		cursor: pointer; /* !!! BUG IE 6 7 : Le float left ne fait plus apparaitre la main au survol des <strong> */
	} 
	
	div#navGenerique img {
		float: left;
		
		margin: 0;
		padding: 0;
	} 
	
	
	/* -------------------------------------------------------------------------------------------------------- */
	/* Configuration spécifique des liens */
	/* -------------------------------------------------------------------------------------------------------- */
	
	div#navGenerique .sanstexte strong {
		position: absolute;
		left: -9999px;
		
		font-size: 1px; /* Lignes obligatoires pour un hidden - Sinon un espace est réservé même si l'élément n'est pas visible */
		line-height: 0px;
	}
	
	div#navGenerique .avecPuceFlecheNoire {
		margin: 0;
		padding: 0 0 0 10px;
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/NavigationGenerique/Img_PuceFlecheNoire.gif);
		background-position: left 0.7em;
		background-repeat: no-repeat;
	}
	
	div#navGenerique .avecInterPuce4Points {
		margin: 0;
		padding: 0 20px 0 0;
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/NavigationGenerique/Img_InterPuce_4pointsNoirs.gif);
		background-position: right 0.75em;
		background-repeat: no-repeat;
	}
	
	div#navGenerique .iconeFluxRSS {
		clear: none;
		float: left;
		
		position: relative;
		top: 0.35em;
		
		margin: 0 0 0 5px;
	}
	
		
	/* -------------------------------------------------------------------------------------------------------- */
	/* Configuration #navGeneriqueGauche */
	/* -------------------------------------------------------------------------------------------------------- */
		
			div#navGeneriqueGauche {
				position: relative;
				float: left;
				
				width: auto;				
				height: auto;
		
				font-size: inherit;
				line-height: inherit;
				
				overflow: visible;
			 }
		
			div#navGeneriqueGauche h2 {
			}	
			
			div#navGeneriqueGauche ul {
				position: static;
				float: left;
				
				width: auto;
				height: auto;
				line-height: inherit;
				
				font-size: inherit;
			}
			
			div#navGeneriqueGauche li {
				position: relative;
				float: left; /* !!! BUG IE : Cette propriété élimine aussi le bug des espaces de IE dans les <ul> <li> */
				
				width: auto; /* Bug IE6 et IE7 : Pas de gestion du inherit */
				height: auto;
		
				margin: 0; /* Doit être définie. la hirarchie n'est pas prise en comptes à partir du *{} */
				padding: 0; /* Doit être définie. la hirarchie n'est pas prise en comptes à partir du *{} */
		
				font-size: inherit;
			}
			
			/* -------------------------------------------------------------------------------------------------------- */
			/* Etats généraux des balises <a> */
			div#navGeneriqueGauche a {
				display: block; /* <a> a une zone de sensibilité égale à celle du <li> */
				position: relative; /* Point de repère pour la flèche de sous menu */
				float: left;
				
				width: auto;
				height: auto;
				min-height: inherit;
				line-height: inherit; /* !!! Pas de pourcentage, il n'est pas reconnu */
				
				padding: 0;

				color: #000;
				
				font-size: inherit;		
				text-decoration: none;
			}
		
			div#navGeneriqueGauche a strong {
				color: #000;
				
				height: auto !important;
				min-height: 21px !important;
				height: 21px;		
				line-height: 21px;
				
				margin: 1px 0 0 0;
	
				font-weight: normal;
			}
			
			div#navGeneriqueGauche a:link {
			}
			
			div#navGeneriqueGauche a:visited {
			}
			
			div#navGeneriqueGauche a:hover, div#navGeneriqueGauche a:focus, div#navGeneriqueGauche a:active {
				color: #000;
				text-decoration: underline;
			}
			
			div#navGeneriqueGauche a.niv0:hover strong, div#navGeneriqueGauche a.niv0:focus strong, div#navGeneriqueGauche a.niv0:active strong {
				color: #000;
			}
			
			
	/* -------------------------------------------------------------------------------------------------------- */
	/* Configuration #navGeneriqueDroite */
	/* -------------------------------------------------------------------------------------------------------- */
		
			div#navGeneriqueDroite {
				position: relative; /* Point de repère pour le positionnement absolu du <ul> suivant */
				float: right;
				
				width: auto;				
				height: auto;
		
				font-size: inherit; /* Taille de référence pour tous les éléments enfants */
				line-height: inherit;
				
				overflow: visible;
			 }
		
			div#navGeneriqueDroite h2 {
			}	
			
			div#navGeneriqueDroite ul {
				position: static;
				float: left;
		
				width: auto;
				height: auto;
				line-height: inherit;
				
				font-size: inherit; /* A la même taille que div#navGeneriqueDroite */
			}
			
			div#navGeneriqueDroite li {
				position: relative;
				float: left; /* !!! BUG IE : Cette propriété élimine aussi le bug des espaces de IE dans les <ul> <li> */
				
				width: auto; /* Bug IE6 et IE7 : Pas de gestion du inherit */
				height: auto;
		
				margin: 0; /* Doit être définie. la hirarchie n'est pas prise en comptes à partir du *{} */
				padding: 0; /* Doit être définie. la hirarchie n'est pas prise en comptes à partir du *{} */
		
				font-size: inherit;
			}
			
			/* -------------------------------------------------------------------------------------------------------- */
			/* Etats généraux des balises <a> */
			div#navGeneriqueDroite a {
				display: block; /* <a> a une zone de sensibilité égale à celle du <li> */
				position: relative; /* Point de repère pour la flèche de sous menu */
				float: left;
				
				width: auto;
				height: auto;
				min-height: inherit;
				line-height: 22px; /* !!! Pas de pourcentage, il n'est pas reconnu */
				
				padding: 0;

				color: #000;
				
				font-size: inherit;		
				text-decoration: none;
			}
		
			div#navGeneriqueDroite a strong {
				color: #000;
					
				height: auto !important;
				min-height: 21px !important;
				height: 21px;		
				line-height: 21px;
				
				margin: 1px 0 0 0;
	
				font-weight: normal;
			}
			
			div#navGeneriqueDroite a:link {
			}
			
			div#navGeneriqueDroite a:visited {
			}
			
			div#navGeneriqueDroite a:hover, div#navGeneriqueDroite a:focus, div#navGeneriqueDroite a:active {
				color: #000;
				text-decoration: underline;
			}
			
			div#navGeneriqueDroite a.niv0:hover strong, div#navGeneriqueDroite a.niv0:focus strong, div#navGeneriqueDroite a.niv0:active strong {
				color: #000;
			}	
			
			
