@charset "utf-8";
	/* -------------------------------------------------------------------------------------------------------- */
	/* CSS Pour la barre de Navigation Principale Horizontale */
	/* -------------------------------------------------------------------------------------------------------- */
	
	div#navSecondaire {
		position: relative;
		
		width: 207px;
		height: auto;
		
		margin: 0 0 18px 0;					
		
		border-width: 0 0 1px 0;
		border-style: solid;
		border-color: #FFF;

		font-size: inherit; /* Taille de reference pour tous les elements enfants */
		line-height: normal;
		
		overflow: visible;
	 }

	div#navSecondaire * {
		margin: 0;
		padding: 0;
		/*border: none;*/
		
		background: transparent;
	 }

	div#navSecondaire h3 {
		line-height: 1em;
		font-size: 0.96em;
	}	
	
	div#navSecondaire h3 span {
		display: block;
		
		padding: 5px 3px 7px 18px; 

		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/NavigationSecondaire/Img_TitreH3_PuceFlecheNoireVersBas.gif);
		background-position: 5px 9px;
		background-repeat: no-repeat;
	}	
	
	div#navSecondaire ul {
		position: relative; /* Tous les bloques ul sont independants */
		top: 0;
		left: 0;

		/* !!! LARGEUR IDENTIQUE !!! */
		width: 207px; /* Donner une valeur fixe en px ou em pour eviter certain bug avec IE */
		height: auto;
		line-height: normal;
		
		font-size: inherit; /* A la meme taille que div#navSecondaire */
	}
	
	div#navSecondaire li {
		position: relative;
		float: left; /* !!! BUG IE : Cette propriete elimine aussi le bug des espaces de IE dans les <ul> <li> */
		
		/* !!! LARGEUR IDENTIQUE !!! */
		width: 207px; /* Bug IE6 et IE7 : Pas de gestion du inherit */
		height: auto;

		margin: 0; /* Doit etre definie. la hirarchie n'est pas prise en comptes a  partir du *{} */
		padding: 0; /* Doit etre definie. la hirarchie n'est pas prise en comptes a  partir du *{} */

		font-size: inherit;
		line-height: inherit; /* !!! Pas de pourcentage, il n'est pas reconnu */
		
		background: transparent;
	}
	
	/* -------------------------------------------------------------------------------------------------------- */
	/* Etats generaux des balises <a> */
 	div#navSecondaire a {
		display: block; /* <a> a une zone de sensibilite egale a  celle du <li> */
		position: relative; /* Point de repa¨re pour la fla¨che de sous menu */
		float: left;
		
		/* !!! LARGEUR IDENTIQUE !!! */
		width: 207px; /* width = largeur total - le padding */
		height: auto;

		padding: 0;
		
		color: #FFF;
		
		font-size: 1em; /* !!! BUG IE 6 : inherit n'est pas gerer */
		line-height: inherit; /* !!! Pas de pourcentage, il n'est pas reconnu */
		text-decoration: none;

		background: transparent;
	}

	div#navSecondaire a strong {
		color: #FFF;		
		font-weight: normal;
	}
	
	div#navSecondaire a.lienActif {
		color: #FFF;
		background-color: #60F;
	}
	
	div#navSecondaire a.lienActif strong {
		color: #FFF;		
		font-weight: normal;
	}
	
	div#navSecondaire a:link {
	}
	
	div#navSecondaire a:visited {
	}
	
	div#navSecondaire a:hover, div#navSecondaire a:focus, div#navSecondaire a:active, div#navSecondaire a.hoverIE {
		color: #000;
		background-color: #FFF; /* Bug IE7 : Pas de gestion correcte de la transparence. Mettre une image de fond ou une couleur obligatoirement */
	}
	
	div#navSecondaire li.niv0 a.hoverIE strong, div#navSecondaire a.niv0:hover strong, div#navSecondaire a.niv0:focus strong, div#navSecondaire a.niv0:active strong {
		color: #000;
	}
	
	div#navSecondaire li.niv0:hover a.hoverIE strong, div#navSecondaire li.niv0:hover a.niv0 strong {
		color: #000;
	}
	
	div#navSecondaire img.sousMenu {
		display: block;
		position: absolute;
		top: 0.6em;
		right: 4px;
	}
	
	/* -------------------------------------------------------------------------------------------------------- */
	/* NIVEAU 0 */
	/* -------------------------------------------------------------------------------------------------------- */
	
	
	div#navSecondaire ul.niv0 {
	}
	
	div#navSecondaire li.niv0 {
		margin: 0; /* Doit etre definie. la hirarchie n'est pas prise en comptes a  partir du *{} */
		padding: 0; /* Doit etre definie. la hirarchie n'est pas prise en comptes a  partir du *{} */

		background: transparent;
	}
	
	div#navSecondaire a.niv0 {
		width: 166px;
		padding: 5px 10px 5px 31px;
		
		min-height: 1em;
		line-height: 1.1em;
		
		font-size: 0.8em; /* !!! BUG IE 6 : inherit n'est pas gerer */
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/NavigationSecondaire/Img_NavSecNiv0_FlecheBlancheVersDroite.gif);
		background-position: 19px 9px;
		background-repeat: no-repeat;
	}
	
	div#navSecondaire  ul.niv0 li.flecheVersBas a.niv0 {
		color: #000;
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/NavigationSecondaire/Img_NavSecNiv0_FlecheNoireVersBas.gif);
		background-position: 19px 9px;
		background-repeat: no-repeat;
	}
	
	div#navSecondaire  ul.niv0 li.flecheVersBas a.niv0 strong {
		color: #000;
	}
	
	div#navSecondaire  ul.niv0 li.fondBlanc {
	
		background-color: #FFF;
	}
		div#navSecondaire  ul.niv0 li.fondBlanc a{
	
        color:#000000;
  }

	div#navSecondaire li.premier a.niv0 {
		padding-top: 9px;
		background-position: 19px 12px;
	}
	
	div#navSecondaire li.premier a.niv0:hover {
		background-position: 19px 12px;
	}
	
	div#navSecondaire li.dernier a.niv0 {
		padding-bottom: 15px;
	}
	
	div#navSecondaire a.niv0:hover, div#navSecondaire .fondBlanc a.niv0{
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/NavigationSecondaire/Img_NavSecNiv0_FlecheNoireVersDroite.gif);
		background-position: 19px 9px;
		background-repeat: no-repeat;
	}
	
		div#navSecondaire li.niv0 ul.niv1 {
		}
		
		div#navSecondaire li.niv0:hover ul.niv1, div#navSecondaire li.niv0 ul.hoverIE, div#navSecondaire ul.niv0 li.deroule ul.niv1 {
		}
     /*Determine la couleur de fond des menu parent actif */ !!! couleur de fond determine en ts
     div#navSecondaire li.fondclair { 
     	background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/NavigationSecondaire/Img_NavSecNiv0_FlecheNoireVersDroite.gif);
	
    }
	div#navSecondaire li.fondclair a{
  color:#000000
  }	
	
	/* -------------------------------------------------------------------------------------------------------- */
	/* NIVEAU 1 */
	/* -------------------------------------------------------------------------------------------------------- */
	
	
	div#navSecondaire ul.niv1 {
	}
	
	div#navSecondaire li.niv1 {
		margin: 0; /* Doit etre definie. la hirarchie n'est pas prise en comptes a  partir du *{} */
		padding: 0; /* Doit etre definie. la hirarchie n'est pas prise en comptes a  partir du *{} */

		background: transparent;
	}
	
	div#navSecondaire ul.niv1 a.niv1 {
		width: 160px;
		padding: 1px 10px 2px 37px;
		
		color: #000;
		
		line-height: 1.1em;
		
		font-size: 0.75em;
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/NavigationSecondaire/Img_NavSecNiv1_FlecheNoireVersDroite.gif);
		background-position: 28px 5px;
		background-repeat: no-repeat;
	}

	
	div#navSecondaire ul.niv1 li.flecheVersBas a.niv1 {
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/NavigationSecondaire/Img_NavSecNiv1_FlecheNoireVersBas.gif);
		background-position: 27px 6px;
		background-repeat: no-repeat;
	}
	
	div#navSecondaire ul.niv1 li.fondBlanc a.niv1 {
		
		background-color: #FFF;
	}
	
	div#navSecondaire ul.niv1 li.premier a.niv1 {
		padding-top: 10px;
		background-position: 28px 15px;
	}
	
	div#navSecondaire ul.niv1 li.dernier a.niv1 {
		padding-bottom: 15px;
	}
	
	div#navSecondaire ul.niv1 a.niv1:hover {
	}	
	
		div#navSecondaire li.niv1 ul.niv2 {
		}
		
		div#navSecondaire li.niv1:hover ul.niv2, div#navSecondaire li.niv1 ul.hoverIE, div#navSecondaire ul.niv1 li.deroule ul.niv2 {
		}
	
	/* -------------------------------------------------------------------------------------------------------- */
	/* NIVEAU 2 */
	/* -------------------------------------------------------------------------------------------------------- */
	
	
	div#navSecondaire li li .fondBlanc{background-image:none;background-color: #FFF;}
	
	div#navSecondaire li.niv2 {
		margin: 0; /* Doit etre definie. la hirarchie n'est pas prise en comptes a  partir du *{} */
		padding: 0; /* Doit etre definie. la hirarchie n'est pas prise en comptes a  partir du *{} */
		background: transparent;
		
		/*background-image: url(../Images/AmbiancesCouleur/Img_NavSecNiv2_Fond_Ambiance0.jpg);*/
	}
	
	div#navSecondaire a.niv2 {
		width: 150px;
		padding: 1px 10px 2px 47px;
		
		color: #000;
		
		line-height: 1.1em;
		
		font-size: 0.7em;
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/NavigationSecondaire/Img_NavSecNiv2_FlecheNoireVersDroite.gif);
		background-position: 38px 5px;
		background-repeat: no-repeat;
	}
	
	div#navSecondaire li.premier a.niv2 {
		padding-top: 10px;
		background-position: 38px 15px;
	}
	
	div#navSecondaire li.dernier a.niv2 {
		padding-bottom: 15px;
	}
	/* Fleche bas */
	div#navSecondaire li.dernier .flecheVersBas  a.niv2  {
		padding-bottom: 15px;
    background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/NavigationSecondaire/Img_NavSecNiv2_FlecheNoireVersBas.gif);
		background-position: 38px 5px;
		background-repeat: no-repeat;
   }
	
	div#navSecondaire a.niv2:hover {
	}	
	
		div#navSecondaire li.niv2 ul.niv3 {
		}
		
		div#navSecondaire li.niv2:hover ul.niv3, div#navSecondaire li.niv2 ul.hoverIE, div#navSecondaire ul.niv2 li.deroule ul.niv3 {
		}
	
	
	/* -------------------------------------------------------------------------------------------------------- */
	/* NIVEAU 3 */
	/* -------------------------------------------------------------------------------------------------------- */
	
	
	div#navSecondaire ul.niv3 {
	}
	
	div#navSecondaire li.niv3 {
		margin: 0; /* Doit aÂªtre daÂ©finie. la hirarchie n'est pas prise en comptes a  partir du *{} */
		padding: 0; /* Doit aÂªtre daÂ©finie. la hirarchie n'est pas prise en comptes a  partir du *{} */
	}
	
	div#navSecondaire a.niv3 {
		line-height: 1.1em;
	width: 150px;
		padding: 1px 10px 2px 55px;
		
		color: #000;
		
		line-height: 1.1em;
		
		font-size: 0.7em;
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/NavigationSecondaire/Img_NavSecNiv2_FlecheNoireVersDroite.gif);
		background-position: 43px 5px;
		background-repeat: no-repeat;
	}
	
	div#navSecondaire li.premier a.niv3 {
               padding-top: 10px;
		background-position: 43px 15px;
	}
	
	div#navSecondaire li.dernier a.niv3 {
padding-bottom: 15px;
	}
	
	div#navSecondaire a.niv3:hover {
text-decoration:underline;
	}
	
		div#navSecondaire li.niv3 ul.niv4 {
		}
		
		div#navSecondaire li.niv3:hover ul.niv4, div#navSecondaire li.niv3 ul.hoverIE, div#navSecondaire ul.niv3 li.deroule ul.niv4 {
		}
	
	
	/* -------------------------------------------------------------------------------------------------------- */
	/* NIVEAU 4 */
	/* -------------------------------------------------------------------------------------------------------- */
	
	
	div#navSecondaire ul.niv4 {
	}
	
	div#navSecondaire li.niv4 {
		margin: 0; /* Doit etre definie. la hirarchie n'est pas prise en comptes a  partir du *{} */
		padding: 0; /* Doit etre definie. la hirarchie n'est pas prise en comptes a  partir du *{} */
	}
	
	div#navSecondaire a.niv4 {
		line-height: 1.1em;
	}
	
	div#navSecondaire li.premier a.niv4 {
	}
	
	div#navSecondaire li.dernier a.niv4 {
	}
	
	div#navSecondaire a.niv4:hover {
	}
