@charset "utf-8";
/* Navigateurs conformes : IE 7 et 8 - Opera 9.5 - Firefox 3.x */
/* Navigateurs non conformes : IE 4 5 et 6 - Opera 6.5, 7.02 */

	/* -------------------------------------------------------------------------------------------------------- */
	/* Configuration général du site web */
	/* -------------------------------------------------------------------------------------------------------- */

	* {
		margin: 0;
		padding: 0;
		/*border: none;*/ /*  !!! border: 0; élimine la mise en forme d'origine des boutons radio et checkbox */
		
		color: #000;
		
		font-family: Arial, Helvetica, sans-serif;
		/* ce code est redondant pour palier au problème d'héritage d'anciens navigateurs. Netscape 4.X ne respecte pas et ignore l'héritage, ainsi que toutes les règles appliquées	l'élément body. IE pour Windows, jusqu'à la version 6, connait un problème similaire de non prise en compte des styles de fontes dans les tableaux */
	}
	
	html, body {
		margin: 0;
		padding: 0;
		
		font-size: 100%; /* !!! BUG IE : Correctif pour la gestion des tailles de texte en em */
	}

	html {
		position: static;
		height: 100%;

		background-color: #ADADAD;
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/OssatureSiteWeb/Img_OssatureSiteWeb_Fond_Rayures.jpg);
		background-position: center;
		background-repeat: repeat-y;	
	}
	
	body {
		position: relative;
		
		width: 100%;		
		height: auto !important;
		min-height: 100% !important;
		height: 100%;
	}

	div#bandeauNoir {
		width: 100%;
		height: 11px;
		
		margin: 0;
		padding: 0;
		
		font-size: 1px;
		line-height: 0;
		
		background-color: #000;
	}

	/* -------------------------------------------------------------------------------------------------------- */
	/* Ombre di site web sur le fond */	
	/* -------------------------------------------------------------------------------------------------------- */

	div#corpsSiteWebOmbre {
		position: relative;
	
		width: 1023px;
		height: auto;
		
		margin: 0 auto 2em auto;
		
		font-size: inherit;

		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/OssatureSiteWeb/Img_CorpsSite_Ombre_EW.png);
		background-position: center;
		background-repeat: repeat-y;
		
		overflow: visible;
	}

	div#corpsSiteWebOmbre div#ombreS {
		position: absolute;
		bottom: -16px;
		left: 0;
		
		width: 1023px;
		height: 16px;
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/OssatureSiteWeb/Img_CorpsSite_Ombre_S.png);
		background-position: bottom;
		background-repeat: no-repeat;
	}

	/* -------------------------------------------------------------------------------------------------------- */
	/* Corps */	
	/* -------------------------------------------------------------------------------------------------------- */

	div#corpsSiteWeb {
		position: relative;
		width: 989px;
		height: auto;
		
		margin: 0 auto;
		padding: 0;
		border-width: 0 1px 1px 1px;
		border-style: solid;
		border-color: #000;
		
		font-size: inherit;

		color: #000;
		text-align: left;

		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/AmbiancesCouleur/Img_CorpsDuSite_Fond_Ambiance0_Ligne.jpg);
		background-repeat: repeat-y;
		background-color: #333;
	}

	div#corpsSiteWeb * {
	}
	
	h5 {
		display:none;
	}

	ul, ol, li {
		list-style: none;
	}
	
	hr {
		display: none;
	}

	acronym, abbr {
		border-width: 0 0 1px 0;
		border-bottom-style: dotted;
		border-color: #000;
		
		cursor: help;
	}
	
	dfn {
		font-family:"Courier New", Courier, monospace;
	}
	
	img {
		border: none;	
	}
	
	
	/* -------------------------------------------------------------------------------------------------------- */
	/* Petites fonctions utiles */	
	/* -------------------------------------------------------------------------------------------------------- */

	.hidden {
		position: absolute;
		left: -9999px;
		
		font-size: 1px; /* Lignes obligatoires pour un hidden - Sinon un espace est réservé même si l'élément n'est pas visible */
		line-height: 0px;
 	}
	
	/* -------------------------------------------------------------------------------------------------------- */
	/* Contient l'en-tête du site web */
	/* -------------------------------------------------------------------------------------------------------- */

	div#banniereLogoMenuVisuel {
		position: relative;
		top: 0;
		left: 0;
		
		width: 989px; /* Le div#banniere fait la même largeur que le corps du site */
		height: auto !important;
		min-height: 80px !important; /* 303px - 223px */
		height: 80px; /* 303px - 223px */
		
		margin: 0 auto;
		padding: 223px 0 0 0;

		background-color: #FFF;
		
		background-image:url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/OssatureSiteWeb/Img_VisuelBanniere_Miroir.jpg);
		
		overflow: hidden !important;
		overflow: visible;
	}
	
	div#titreSiteWeb {
		position: absolute;
		top: 111px;
		left: 0;
		
		width: 413px;
		height: 112px;
		
		margin: 0;
		padding: 0;

	}
	
	div#titreSiteWeb div#titreImageFond {
		position: absolute;
		top: 0;
		left: 0;
		
		width: 413px;
		height: 112px;
		
		margin: 0;
		padding: 0;
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/OssatureSiteWeb/Img_Logo_RegionPACA.png);
	}
	
	div#titreSiteWeb h1 {
	}	
	
	div#titreSiteWeb a {
		position: absolute;
		top: 0;
		left: 0;
		
		width: 413px;
		height: 112px;
		
		margin: 0;
		padding: 0;
		/*border: none;*/
	}	
	
	div#titreSiteWeb img {
		display: none;

		margin: 0;
		padding: 0;
		border: none;
	}	
	
	/* -------------------------------------------------------------------------------------------------------- */
	/* Contient la liste des raccourcis */
	/* -------------------------------------------------------------------------------------------------------- */

	div#raccourcisClavier {
		position: absolute;
		left: -9999px;
	}
	
	/* -------------------------------------------------------------------------------------------------------- */
	/* Animation flash de la bannière */
	/* -------------------------------------------------------------------------------------------------------- */

	div#banniereAnimationFlash {
		position: absolute;
		top: 0;
		left: 0;
		
		width: 989px;
		height: 303px;
		
		overflow: visible !important;
		overflow: hidden;
	}
	
	/* -------------------------------------------------------------------------------------------------------- */
	/* Contient la colonne de gauche, les visuels et le texte sous la navigation principale, et se centre automatiquement dans le body */
	/* -------------------------------------------------------------------------------------------------------- */

	div#conteneurHorizontal {
		width: 989px; /* width = largeur total - le padding */
		
		margin: 0 auto; /* les marges automatiques (et dotées d'une largeur positive) centre la page */
		padding: 0;
	} 

	div#conteneurHorizontal * {
	} 

	/* -------------------------------------------------------------------------------------------------------- */
	/* Conteneur colonne de gauche*/
	/* -------------------------------------------------------------------------------------------------------- */

	div#conteneurColGauche {
		clear: both;
		position: relative;
		
		width: 207px;
		height: auto;
		float: left;
		
		padding-bottom: 15px;
		
		font-size: inherit;

		overflow: visible; /* !!! BUG IE6 : (Déjà connu de la communauté) Les italiques élargissent l'élément conteneur de 3px. Mettre cette propriété pour éviter un retour à la ligne de ce conteneur*/
	}

	/* -------------------------------------------------------------------------------------------------------- */
	/* Conteneur colonne de droite*/
	/* -------------------------------------------------------------------------------------------------------- */

	div#conteneurColDroite {
		position: relative;
		
		width: 192px;
		height: auto;
		float: left;
		
		padding-bottom: 15px;
		
		font-size: inherit;
		
		overflow: visible; /* !!! BUG IE6 : (Déjà connu de la communauté) Les italiques élargissent l'élément conteneur de 3px. Mettre cette propriété pour éviter un retour à la ligne de ce conteneur*/
	}

	div#conteneurColDroite div.ligneBlanche {
		clear: both;
		
		height: 0;
		
		margin: 0;
		padding: 0;
			
		border-width: 1px 0 0 0;
		border-style: solid;
		border-color: #FFF;
		
		font-size: 1px;
		min-height: 0;
		line-height: 0;
		
		color: #FFF;
		background: transparent;
	}

	/* -------------------------------------------------------------------------------------------------------- */
	/* Contient les textes et les visuels généraux de la zone centrale*/
	/* -------------------------------------------------------------------------------------------------------- */
	div#conteneurTextesVisuelsCentral {
		position: relative;
		
		float: left;
		width: 590px; /* width = largeur total - le padding */
		
		margin: 0 0 10px 0;
		padding: 0;
		
		background-color: #FFF;
		
		overflow: visible; /* !!! BUG IE6 : (Déjà connu de la communauté) Les italiques élargissent l'élément conteneur de 3px. Mettre cette propriété pour éviter un retour à la ligne de ce conteneur*/
	}
	
	/* -------------------------------------------------------------------------------------------------------- */
	/* Class pour un défaut de Firefox */
	/* -------------------------------------------------------------------------------------------------------- */
	.enfantFlottant {
	/* !!! BUG FIREFOX 2.x 3.x: Cette classe doit être placée pour un élément div ou break et doit être l'élément final avant la balise de fin d'un conteneur qui doit contenir entièrement un élément flottant */
		clear: both;
		font-size: 1px;
		min-height: 0;
		line-height: 0;
	}
