﻿/* <?xml version="1.0" encoding="ISO-8859-1"?><XMLCSS> */


/* -------------------------------------------------------------------- */
/* ||||||||||||||||||| ABSTRACT SKINNABLE CSS ||||||||||||||||||||||||| */
/* -------------------------------------------------------------------- */

/* <CSS label="Test"
		value="CG33Bleu" 
		type="PortletSkinable" 
		target="SkinBox" 
		description="Style Cg33 - Type 1 (Petit encadré)" /> */
@import url("bleu.css");




/* ***************************** *\
            CSS Blocs
\* ***************************** */

/* General */

.bloc_marge {
  margin-top: 10px;
  }

.bloc_date {
  font: 11px arial;
  font-weight: bold;
  color: #6EAB23;
  margin-top: 5px;
}

.lien_toutes_pub_bloc {
  text-align: left;

}

.lien_toutes_pub_bloc1 {
  text-align: right;

}

.lien_toutes_pub_bloc a.lien_toutes_pub {
  font: 11px Arial;
  font-weight: bold;
  color: #000000;
}

.lien_toutes_pub_bloc a.lien_toutes_pub:hover {
	color: #da2f36;
}	

.lien_toutes_pub_bloc1 a.lien_toutes_pub1 {
  font: 12px Arial;
  font-weight: bold;
  color: #da2f36;
}

.lien_toutes_pub_bloc1 a.lien_toutes_pub1:hover {
	color: #000000;
}	
	
a.bloc_titre:link {
  font: 14px Arial;
  color: #000000;
  font-weight: bold; 
  text-decoration: underline;
  padding-right: 10px;
}
a.bloc_titre:visited {
  font: 14px Arial;
  color: #000000;
  font-weight: bold; 
   text-decoration: underline;
  padding-right: 10px;
}
a.bloc_titre:hover {
  font: 14px Arial;
  color: #da2f36;
  font-weight: bold; 
  text-decoration: underline;
  padding-right: 10px;
}

.bloc_texte {
  font: 11px Arial;
  color: #000000;
}

.image_actu {
	width: 55px;
	height: 55px;
	border: 1px solid #77045e;
}

/* Gironde */

.gironde_titre_bloc {
	margin-bottom: 2px;
}

.gironde_titre_bloc .gironde_titre {
	font: 15px Arial;
	color:#E2001A;
	font-weight: bold;
	text-decoration: none;
}

.liens_gironde_bloc {
	display: block;
	margin-left: 60px;
	font-weight: bold;
}

.liens_gironde_bloc1 {
	display: block;
	margin-left: 20px;
	font-weight: bold;
}

.Portlet a.liens_gironde, .Portlet a.liens_gironde:visited  {
	font: 11px Arial;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	display: block;
}

.Portlet a.liens_gironde:hover {
	color: #da2f36;
	text-decoration: none;
}

.gironde_miniature {
	width: 55px;
	height: 55px;
	border: 1px solid #719e5a;
}

.gironde_chapeau {
	font: 11px Arial;
	color: #000;
	overflow: hidden;
}

/* President */
.president {
  font: 17px Arial;
  font-weight: bold;
  color: #9C9E9F;
  text-align: left;
  vertical-align:bottom;
  margin-top: 0px;
  margin-left: 30px;
}

.nouveautes {
  font: 17px Arial;
  font-weight: bold;
  color: #FC7215;
  text-align: left;
  vertical-align:bottom;
  margin-top: 0px;
  margin-left: 30px;
}

.image_tribune {
	width: 100px;
	height: 100px;
	border: 1px solid #6785ad;
	margin-right: 5px;
	margin-top: 5px;
}

.bloc_titre_tribune:link, a.bloc_titre_tribune:visited, a.bloc_titre_tribune:hover {
  font: 11px Arial;
  color: #000000;
  font-weight: bold;
  text-decoration:underline;
}

a.bloc_titre_tribune:hover {
	color: #da2f36;
}

/* Actu */
.actus {
  font: 17px Arial;
  font-weight: bold;
  color: #6EAB23;
  text-align: left;
  vertical-align:bottom;
  margin-top: 0px;
  margin-left: 30px;
}

/* Agenda */
.agenda {
  font: 17px Arial;
  font-weight: bold;
  color: #0085C7;
  text-align: left;
  vertical-align:bottom;
  margin-top: 0px;
  margin-left: 30px;
  }
  
  
.blocClear {
	clear:both;
	font-size: 1px;
	}

.separateur_article {
	background-image:url("sep_bloc.gif");
	font-size:1px;
	height: 1px;
	margin: 5px 10px;
}

/* A Votre Service */

#simpleBoxService .blocTitre, #simpleBoxService .blocTexte{
	font: 11px Arial;
	padding : 5px 10px;
	width : 244px;
	text-align: justify;
	}

#simpleBoxService .separateur_bloc {
		background-image:url("sep_bloc.gif");
}
.separateur_bloc {
	background-image:url("sep_bloc.gif");
	border-right:2px solid #FFFFFF;
	font-size:5px;
	margin-left:2px;
}

#simpleBoxService .blocTitre {
	font-weight: bold;
	text-align: left;
	}


#simpleBoxService a.blocLien{
  font-weight: bold; 
  color:#E2001A;
  
}

/* E-Service */

#simpleBoxEService .blocTitre, #simpleBoxEService .blocTexte{
	font: 11px Arial;
	padding : 5px 10px;
	width : 538px;
	}

#simpleBoxEService .blocTitre {
	font-weight: bold;
}


#simpleBoxEService .titre{
  font: 14px Arial;
  color: #D52B1E;
  font-weight: bold; 
  text-decoration: none;
}

#simpleBoxEService .separateur_service {
	border-top-style : dotted;
	font-size:1px;
	height: 1px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 10px;
	margin-bottom: 5px;
	border-top:1px none #6785AD;
	color : #6785AD;
	background-repeat: repeat-x;
	background-image:url("sep_bloc.gif");
	width: 538;
}

#simpleBoxEService .lien_interne {
	font: 11px Arial;
	color: #000000;
	font-weight: bold;
}

#simpleBoxEService .separateur_article {
	margin-left: 0px;
}

#simpleBoxEService .liens_services {
	margin-top: 10px;
}

#simpleBoxEService .blocTexte .blocVignette {
	float:top;
  	margin-bottom:10px;
	border:1px solid #6785ad;
}


/* Mission Vision */

#simpleBoxMissionVision {
	margin-left:3px;
	margin-right:7px;
	  
}

#simpleBoxMissionVision .blocTexte {
	float:left;
	font: 11px Arial;
	padding-top: 10px;
	padding-bottom: 3px;
	margin-left: 4px !important;
	margin-right: 7px !important;
	text-align: justify;
	}
	
#simpleBoxMissionVision a.blocLien {
  font: 11px Arial;
  color:#e2001a;
  font-weight: bold; 

  margin-left: 8px;
  
}

/* Actualite */

#simpleBoxActualite .blocTitre, #simpleBoxActualite .blocTexte{
	font: 11px Arial;
	padding : 5px 10px;
	width : 488px;
	text-align: justify;
	}

#simpleBoxActualite .blocTitre {
	font-weight: bold;
	}


#simpleBoxActualite a.blocLien{
  font-weight: bold; 
  color: #D52B1E;

}

#simpleBoxActualite .blocDate {
 	font: 11px Arial;
	font-weight: bold;
	text-align : center;
	float:left;
	
	
}

#simpleBoxActualite .separateur_page {
	height: 8px;
}

#simpleBoxActus2 .blocTitre ,#simpleBoxActus2 .blocDate, #simpleBoxActus2 a.blocLien {
	color: #E2001A;
  }
  
/* L'actualité */  
 
#simpleBoxActus2 .blocTitre {
 	font: 11px Arial;
	font-weight: bold;
	padding-left: 10px;
	float:left;
	width: 424px;
	}
	
#simpleBoxActus2 .blocDate {
 	font: 10px Arial;
	font-weight: bold;
	text-align:LEFT;
	width : 100px;
}

#simpleBoxActus2 .blocDate, #simpleBoxActus2 .blocTitre {
	margin: 10px 0px 0px 0px;	
	}
	
#simpleBoxActus2 .blocVignette {
	float: left;
	width : 55px;
	height: 55px;
	margin-top: 10px;
	margin-bottom: 10px;
	}
	
#simpleBoxActus2 .blocTexte {
	float:left;
	font: 11px Arial;
  	color: #000000;
  	padding-left: 10px;
  	width: 424px;
  	padding-bottom: 10px;
  	text-align: justify;
	}
 
 
#simpleBoxActus2 a.blocLien {
  font: 11px Arial;
  font-weight: bold; 
  text-decoration: underline;
  padding-top: 5px;
}
 
 /* cartouche thématique */ 

.bloc_titre_thematique:link, a.bloc_titre_thematique:visited, a.bloc_titre_thematique:hover {
  font: 14px Arial;
  color: #000000;
  font-weight: bold;
  padding-right: 10px;
 text-decoration: underline;
  
}

.bloc_titre_thematique {
  font: 15px Arial;
  color: #000000;
  font-weight: bold;
  padding-right: 10px;
  text-decoration: none;
}

a.bloc_titre_thematique:hover {
	color: #da2f36;
}

.corps_texte_thematique:link, .corps_texte_thematique:visited {
	font: 11px Arial;
	color: #000;
	text-align: left;
  	text-decoration: none;
} 

.separateurThematique {
	margin-left: 10px;
		
}

.bandeauThematique {
	margin-bottom: 10px;
}

/* Article */

#simpleBoxArticle { 
	margin-left: 5px;
	margin-right: 5px;
}

#simpleBoxArticle .blocTitre {
	font: 14px Arial;
	font-weight: bold;
}

#simpleBoxArticle .blocTexte {
	font : 11px Arial;	
}

#simpleBoxArticle .chapeau {
	margin-bottom: 5px;	
}

#simpleBoxArticle .liens {
	margin-bottom: 5px;	
	list-style-type: none;
}

#simpleBoxArticle a:hover {
	color: #da2f36;	
}

#simpleBoxArticle .blocLien {
	margin-right: 40px;
	text-align: right;
}

#simpleBoxArticle a.blocLien {
  font: 11px Arial;
  font-weight: bold; 
  padding-top: 5px;
}

#simpleBoxArticle .separateur {
	background-repeat: no-repeat;
	background-position: bottom;
	width: 261px;
}

#simpleBoxArticle .separateurLarge {
background-image:url("sep_bloc.gif");
	background-repeat: no-repeat;
	width: 261px;
}

#simpleBoxArticle .LienEnvoi {
	color : #E98300;
	font: 11px Arial;
  	font-weight: bold; 
  	text-decoration: underline;
  	text-transform: uppercase;
  	padding-top: 5px;
  	margin-right: 8px;
}

/* Offre d'emploi */

.simpleBoxOffreEmploi_nbOffre {
	font: 12px Arial;
	font-weight: bold;
	color: #E98300;
	text-align: center;
}

#simpleBoxOffreEmploi {
	margin-left : 15px;
	margin-right : 15px;
}

#simpleBoxOffreEmploi .blocTitre, #simpleBoxOffreEmploi .descriptifOffre{
	font: 11px Arial;
	text-align: justify;
}

#simpleBoxOffreEmploi .blocTitre{
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

#simpleBoxOffreEmploi .detailsOffre{
	font: 11px Arial;
	color: #D52B1E;
}

#simpleBoxOffreEmploi .date{
	font-weight: bold;
}

#simpleBoxOffreEmploi .blocLien{
	font: 12px Arial;
	color: #000000;
	text-decoration: underline;
	margin-top: 10px;
}

#simpleBoxOffreEmploi .blocSeparateur{
	height: 5px;
}

/* Agenda Des Evenements*/

#agendaDesEvenements .blocTitre {
	font: 11px Arial;
	text-align: justify;
	font-weight: bold;
	}


#agendaDesEvenements a.blocLien{
  font: 11px Arial;
  color:#000000;
  font-weight: bold; 

  margin-left: 8px;
}

#agendaDesEvenements .localisation{
  font: 11px Arial; 

}

#agendaDesEvenements .vignette{
  float: left; 
}

#agendaDesEvenements .separateur {
	height: 10px;
	display: block;
}

#agendaDesEvenements .boutonPager {
	background-image: url("pastille.gif");
	background-repeat:no-repeat;
	color:#D52B1E;
	padding-bottom:4px;
	padding-left: 35px;
	font: bolder 12px Arial;
	text-decoration: none;
}

#agendaDesEvenements .boutonRecherche {
	background-image: url("pastille_bleu_ushuaia.gif");
	background-repeat:no-repeat;
	color:#D52B1E;
	padding-bottom:4px;
	padding-left: 35px;
	font: bolder 12px Arial;
	text-decoration: none;
}



#agendaDesEvenements .blocDate {
	font: 14px Arial;
	font-weight: bold;
	color: #E98300;
	display: block;
	margin-top: 0px;
	margin-bottom: 10px;
}

#agendaDesEvenements .date {
  font: 11px arial;
  font-weight: bold;
  color: #E2001A;
  margin-top: 5px;
}

 /*  --------------  Skin bloc ----------------*/

/* Bloc 1 */
 
.bloc_head{
	font: 17px Arial;
 	font-weight: bold;
  	text-align: left;
	padding-left: 15px;
	height: 27px;
	
 	
}

.bloc_body{
	background-repeat: repeat-y;
}

.bloc_foot{
	background-repeat: no-repeat;
	height: 34px;
}


/* Bloc 2 */

.bloc2_head{
	font: 17px Arial;
 	font-weight: bold;
  	text-align: left;
	color:#9C9D9F;
	padding-left: 21px;
	height: 27px;
	background-image:url("rub_MV_fond.gif");
}

.bloc2_body{
}

/* Bloc 3 */
 
.bloc3_head{
	background-repeat: no-repeat;
	height: 36px;
	font: 17px Arial;
 	font-weight: bold;
 	color:#9C9D9F;
  	text-align: left;  	
  	padding-top: 3px;  
 	padding-left: 20px;
		background-image:url("rub_MV_fond.gif");

}

.bloc3_body{
	background-repeat: repeat-y;
}

.bloc3_foot{
	background-repeat: no-repeat;
	height: 11px;
}
 
/* Bloc 4 */
 
.bloc4_head{
	height: 36px;
	font: 17px Arial;
 	font-weight: bold;
 	color:#000000;
  	text-align: left;  	
  	padding-top: 3px;  
}

.bloc4_body{
	background-repeat: repeat-y;
}

.bloc4_foot{
	background-repeat: no-repeat;
	height: 11px;
}
/* </XMLCSS> */
