
.meteo .tab-row .tab ,
.meteo .tab-row .tab_selected  {
	background: #ffffff;
	height: 20px;
	border-style: none;
	margin: 1px;
	padding: 0px;
	font-weight: normal;
	text-align: center;
}

.meteo .tab-row .tab_selected  {
	background: #9C9E9F;
	border:#9C9E9F;
}

.meteo .tab_text {
	font: 9px Verdana;
	color: #FFFFFF;
}

.meteo .bodyline {
	font: 9px Verdana;
	text-align: justify;
}

.meteo .tab-row .tab a, .meteo .tab-row .tab_selected a, .meteo .tab-row .tab a:hover{
	font: 10px Verdana;
	color: #3AAADC;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}

.meteo .tab-row .tab_selected a, .meteo .tab-row .tab_selected a:hover  {
	color: #FFFFFF;
}


.meteo .tab-single-pane, .meteo .tab-page {
	margin: 0px 3px;
	margin-top: 0px;
	width: 152px;
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-top:3px solid #9C9E9F;
	border-bottom:3px solid #9C9E9F;
}