/* ***************************** *\
    Menu de navigation profilee
\* ***************************** */

/*.nav_profil	{ }*/

#jesuis {
  margin-left: 0px;
  margin-top: 63px;
  }

.nav_profilee {
  background: url("je_suis.gif");
  background-repeat: no-repeat;
}

.nav_profil ul, .nav_profil li {
  list-style: none; 
  margin: 1px 0 0 0;
  padding: 0;
  font-size: 6px;
}

.nav_profil img {
  border: 0;
  padding: 2px 5px 2px 0;
  float: left;
}

.nav_profil a.level0 img { margin-left: -10px }
.nav_profil a.level1 img { margin-left: -30px; padding-left: 40px }
.nav_profil a.level2 img { margin-left: -40px; padding-left: 10px }

.nav_profil a {
  display: block;
  text-decoration: none;
  line-height: 16px !important;
  margin: 0;
  padding: 0;
}

.nav_profil a.level0 {
  font: 11px Arial;
  color: #000000;
  text-transform: lowercase;
  margin-top: 4px;
  text-align: inherit;
  margin-left: 17px;
}

.nav_profil a.level1 {
  font: 10px  Arial, Helvetica, sans-serif;
  color: #000000;
  padding-left: 30px;
}
.nav_profil a.level2 {
  font: 10px  Arial, Helvetica, sans-serif;
  color: #000000;
  padding-left: 40px;
}
									  
.nav_profil a.level0:hover  { text-decoration: none; color: #FF0000; }

.nav_profil a.level1:hover  { text-decoration: none }
.nav_profil a.level2:hover  { text-decoration: none }


.nav_profil a.level0.currentCat { color: #FF0000; }

.nav_profil ul.close        {display: none; }
.nav_profil ul.open         {display: block; }

.nav_profil a.profilOut {
  font: 11px Verdana;
  color: #000000;
  font-weight: bold;
  text-transform: lowercase;
  margin-top: 10px;
  margin-left: 4px;
}

.nav_profil a.profilOut:hover { text-decoration: none; color: #da2f36;  }

