/* ***************************** *\
    Menu de navigation du bas
\* ***************************** */

.bottom {
  background-color: #E3E3E3;
}

A.bottom_nav:link {
  font: 8pt verdana; 
  color: #5B5B5B; 
  white-space: nowrap;
  text-decoration: underline;
}

A.bottom_nav:visited {
  font: 8pt verdana; 
  color: #5B5B5B; 
  white-space: nowrap;
  text-decoration: underline;
}

A.bottom_nav:active {
  font: 8pt verdana; 
  color: #5B5B5B; 
  white-space: nowrap;
  text-decoration: underline;
}