/* ***************************** *\
    Menu de navigation vertical
\* ***************************** */

.nav_principale {
  background-image: url("navigation.gif");
  background-repeat: no-repeat;
  background-position: bottom;
}
.nav_separateur {
  margin-left: 0px;
  font-family: Arial;
  font-weight: normal;
  font-size: 8px;
  margin-top: 0px;
}

.verticalMenu ul, .verticalMenu li {
  list-style: none; 
  margin: 0 0 0 0;
  padding: 0px;
  font-size: 6px;
  height: auto !important;
  height: 5px;
}

.verticalMenu a.close {
	font: 11px Arial;
  	text-transform: uppercase;
  	font-weight: bold;
}

.verticalMenu {
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	margin-right :5px;
}
.verticalMenu img {
  border: 0;
  margin: 0px 5px 2px 0;
  float: left;
}

.verticalMenu a.level0 img { margin-left: -20px }
.verticalMenu a.level1 img { margin-left: 10px; }
.verticalMenu a.level2 img { margin-left: 20px; }

.verticalMenu a {
  display: block;
  text-decoration: none;
  line-height: 15px !important;
  margin: 0px;
  padding: 0px;
}

.verticalMenu a.level0 {
  font: 11px Arial;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 19px;
}									  
.verticalMenu a.level1 {
  font: 11px Arial;
  color: #FFFFFF;
  margin-left: 30px;
}
.verticalMenu a.level2 {
  font: 11px Arial;
  color: #FFFFFF;
  margin-left: 40px;
}
									  
.verticalMenu a.level0:hover  { text-decoration: none; color: #da2f36; }
.verticalMenu a.level1:hover  { text-decoration: none }
.verticalMenu a.level2:hover  { text-decoration: none }
.verticalMenu a.close:hover  { text-decoration: none }

.verticalMenu .currentCat     { font-weight: bold !important; }

.verticalMenu ul.close        {display: none; }
.verticalMenu ul.open         {display: block; }