/* ***************************** *\
    Recherche simple
\* ***************************** */


form.recherche {margin: 0px; height: 80px;}

.input_recherche {
  font: normal 8pt verdana; 
  color: #333333; 
  border: 1px solid #333333; 
  margin-top: 25px;
  margin-left: 30px;
}

a.avancee:link {
  font: bold 8pt verdana; 
  color: #DB3239;
  text-transform: uppercase;
  text-decoration: underline;
  margin-left: 40px;
}
a.avancee:visited {
  font: bold 8pt verdana; 
  color: #DB3239;
  text-transform: uppercase;
  text-decoration: underline;
  margin-left: 40px;
}
a.avancee:hover {
  font: bold 8pt verdana; 
  color: #DB3239;
  text-transform: uppercase;
  text-decoration: underline;
  margin-left: 40px;
}

#simplerecherche {
  float: left;
}

#opSearch {
	margin-top: 25px;
	margin-left: 2px;
}