/* ------------------------------------------------------ */
/* FORMULAIRES */
/* ------------------------------------------------------ */

.form {
	width: 673px;
	padding: 10px 10px 10px 10px;
	/*border-top: 1px solid #adadad;*/
	background: #fff;
}

.form p {
	margin: 0px 0px 0px 0px;
	padding: 5px 0px;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	color: #000;
}

.form a {
color: #484848;
text-decoration: none;
}

.form a:hover {
color: #999;
}

.form ul {
	list-style-type: none;
	
}

.form ul li.inline {
	display: inline;
}

.form h3 {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 10px 0px;
	font: normal 18px Arial, Helvetica, sans-serif;
	background: url(puce01.png) no-repeat 0px 2px;
	color: #484848;
}
.form h5 {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 5px 0px;
	font: normal 18px Arial, Helvetica, sans-serif;
	background: url(puce02.png) no-repeat 0px 2px;
	color: #3d61ae;
}

.form .infosup {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 15px 0px;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
}

.form fieldset {
	border: none;
	margin: 0px 0px 10px 0px;
}

.form legend {
	padding: 0px 0px 5px 20px;
	font: normal 18px Arial, Helvetica, sans-serif;
	color: #3d61ae;}

.form .enum {
	font: normal Arial, Helvetica, sans-serif;
	color: #3d61ae;
	display : inline;
	}
	
.form .question  {
	border-top: 1px solid #adadad;
	width : 650px;
	}
.form .question fieldset  {
	border: none;
	margin: 0px 0px 10px 0px;
	
	}
.form .question h1{
	padding: 0px 0px 5px 20px;
	font: normal 18px Arial, Helvetica, sans-serif;
	color: #3d61ae;
	
	}
		
.form .warning h2 {
	padding: 0px 0px 5px 20px;
	font: bold 18px Arial, Helvetica, sans-serif;
	color: #A11215;
}
.form .warning ul {
	padding: 0px 0px 5px 20px;
	font: normal 16px Arial, Helvetica, sans-serif;
	color: #484848;
}

.form label {
	padding: 0px 0px 0px 20px;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	color: #000;}
	
.form table,
.form #commune_dept,
.form #commune_autre
 {
	padding: 0px 0px 0px 20px;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	color: #000;}

.form #inscription {
	background: url('bg_inscription.png') no-repeat 0px 0px;
	width:150px;
	height:72px;
	margin:0px ;
	padding:0px;
}

.form td {
	
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	color: #000;}
	
.form td .enum {
	font: normal Arial, Helvetica, sans-serif;
	color: #3d61ae;
	text-align:left;
	display : block;
	}




.form .inputText01 {
	margin: 0px 0px 5px 10px;
	height: 20px;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #484848;
	border: 1px solid #adadad;
	background: url(bgForm01.png) repeat 0px 0px;
}
.form .inputText01:disabled {
	margin: 0px 0px 5px 10px;
	height: 20px;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #484848;
	border: 1px solid #adadad;
	background: url(bgForm03.png) repeat 0px 0px;
}
.form .inputText02 {
	margin: 0px 0px 5px 10px;
	padding: 2px;
	height: 20px;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #484848;
	border: 1px solid #adadad;
	/*background: #fff;*/
	background: url(bgForm01.png) repeat 0px 0px;
}

.form .select01 {
	margin: 0px 0px 5px 10px;
	height: 20px;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #484848;
	border: 1px solid #adadad;
	background: url(bgForm01.png) repeat 0px 0px;
}

.form .textarea01 {
	display: block;
	margin: 5px 5px 5px 10px;
	/*height: 200px;*/
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #484848;
	border: 1px solid #adadad;
	background: url(bgForm01.png) repeat 0px 0px;
}

.form .inputCheckbox01 {
	margin: 0px 0px 0px 20px;
}

.form .inputRadio01 {
	margin: 0px 0px 0px 20px;
}

.form .inputSubmit01 {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #484848;
	background: url(bgSubmit01.png) repeat-x 0px 0px;
	height: 20px;
	
	border: none;
	margin: 3px 0px 5px 20px;
	padding: 2px 5px 2px 5px;
}

.form .inputSubmit02 {
	margin: 0px 0px 5px 20px;
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #000;
	height: 30px;
	border: none;
	background: url(bgSubmit02.png) repeat-x 0px 0px;
	padding:0px 10px;
}
.form .inputSubmit03 {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #484848;
	background: url(bgSubmit01.png) repeat-x 0px 0px;
	height: 20px;
	border: none;
	margin: 0px 0px 5px 10px;
	padding: 0px 2px 0px 2px
}
.form :focus {
	background: #ececec;
}

.form img {
	margin: 0px 10px 0px 0px;
}

.form .rdv a {
	padding: 0px 0px 0px 20px;
	font: normal 18px Arial, Helvetica, sans-serif;
	color: #3d61ae;
	}

.form .rdv  a:hover {
color: #999;
}
.form .colonne_gauche {
	font: normal 11px/16px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
	float: left;
	width: 320px;
	padding: 5px 5px 0px 0px;
	margin: 0px 10px 0px 0px;
	border-right : 1px dotted #adadad;
}
.form .colonne_right {
	font: normal 11px/16px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
	float: right;
	width: 320px;
	padding: 5px 5px 0px 0px;
	margin: 0px 10px 0px 0px;
	
}
.form .colonne_center {
	font: normal 11px/16px Verdana, Arial, Helvetica, sans-serif;
	text-align: justify;
	color: #484848;
	display: block;
	float: left;
	width: 640px;
	padding: 10px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	
}
.form .buttonblock {
	display: block;
	float: left;
	width: 640px;
	text-align: center;
}
.form .block {
	padding: 10px 0px 0px 0px;
}


/* ------------------------------------------------------ */
/* RESULTATS */
/* ------------------------------------------------------ */

.result {
float: left;
	width: 673px;
	padding: 10px 10px 10px 10px;
	border-top: 1px dotted #adadad;
	background: #fff;
}

.result p {
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

.result a {
	color: #484848;
	text-decoration: none;
	font-weight: bold;
}

.result h2 {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 15px 0px;
	font: normal 22px Arial, Helvetica, sans-serif;
	color: #484848;
}
.result h3 {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 15px 0px;
	font: normal 18px Arial, Helvetica, sans-serif;
	background: url(puce01.png) no-repeat 0px 2px;
	color: #484848;
}
.result h4 {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 15px 0px;
	font:bold 14px Arial, Helvetica, sans-serif;
	color: #484848;
}
.result h5 {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 15px 0px;
	font: normal 18px Arial, Helvetica, sans-serif;
	background: url(puce02.png) no-repeat 0px 2px;
	color: #3d61ae;
}
.result fieldset {
	border: none;
	margin: 0px 0px 10px 0px;
}

.result legend {
	padding: 0px 0px 5px 20px;
	font: normal 18px Arial, Helvetica, sans-serif;
	color: #3d61ae;
	}

.result label {
	padding: 0px 0px 0px 20px;
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	color: #000;}
.result #descriptif{
	padding: 0px 0px 0px 20px;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
}
.result .inputText01 {
	margin: 0px 0px 0px 10px;
	padding: 2px;
	width: 30px;
	height: 20px;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #484848;
	border: 1px solid #adadad;
	background: #fff;
}

.result .inputSubmit01 {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #484848;
	background: url(bgSubmit01.png) repeat-x 0px 0px;
	height: 20px;
	border: none;
	margin: 3px 0px 0px 20px;
	padding: 2px 5px 2px 5px;
}
.result .inputSubmit02 {
	margin: 0px 0px 5px 20px;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #fff;
	border: none;
	background: url(bgMenu.jpg) repeat-x 0px 0px;
	cursor:pointer;
	text-transform: uppercase;
}
.result .pagenavigator {
	padding: 0px 0px 5px 20px;
	font: bold 12px Arial, Helvetica, sans-serif;
	margin: 0px;
	text-align: left;
}
.result .pagenavigator .current {
	color: #8a8a8a;
}
.result table {
	font: bold 12px Arial, Helvetica, sans-serif;
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 10px 0px;
	
}



.result caption {
	text-align: left;
	font: normal 18px Arial, Helvetica, sans-serif;
	color: #3d61ae;}

.result table th {
	padding: 5px 3px 5px 3px;
	border: 1px solid #adadad;
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #3D61AE;
	text-align: center;
	}

.result table td {
	padding: 2px 3px 2px 3px;
	border: 1px solid #adadad;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #484848;
	text-align: left;
}
.result table .bordernone {
	border: 0px solid #adadad;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #484848;
}
.result table .bordernone_left {
	border: 0px solid #adadad;
	font: normal 12px Arial, Helvetica, sans-serif;
	text-align:right;
	color: #484848;
}
.result table tr.rool01:hover {
	background: #ccc;
}

.result table tr.rool02 {
	background: url(bgForm02.png) repeat 0px 0px;
}

.result .post {
	padding: 0px 0px 0px 20px;
	clear: both;
	font: normal 12px/16px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
	margin: 0px 0px 10px 0px;
	text-align: justify;
}


.result ul {
	list-style-type: none;
}


.result ul li.inline {
	display: inline;
}
.result label {
	padding: 0px 0px 0px 20px;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	color: #000;}
	
.result .inputRadio01 {
	margin:0px 0px 0px 20px;
}
.result .warning h2 {
	padding: 0px 0px 5px 20px;
	font: bold 18px Arial, Helvetica, sans-serif;
	color: #A11215;
}
.result .warning ul {
	padding: 0px 0px 5px 20px;
	font: normal 16px Arial, Helvetica, sans-serif;
	color: #484848;
}
.result .buttonblock {
	display: block;
	float: left;
	width: 640px;
	text-align: center;
}

/* ------------------------------------------------------ */
/* DETAIL */
/* ------------------------------------------------------ */

.detail {
	width: 673px;
	padding: 10px 10px 10px 10px;
	background: #fff;
}

.detail p {
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

.detail a {
	color: #484848;
	text-decoration: none;
}

.detail a:hover {
	color: #999;
}

.detail h3 {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 15px 0px;
	font: normal 18px Arial, Helvetica, sans-serif;
	background: url(puce01.png) no-repeat 0px 2px;
	color: #484848;
}

.detail h4 {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 10px 0px;
	font: bold 14px Arial, Helvetica, sans-serif;
}
.detail h6 {
	padding: 0px ;
	margin: 0px 0px 5px 0px;
	font: normal 18px Arial, Helvetica, sans-serif;
	text-align:left;
	color: #3d61ae;
}
.detail h7 {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 5px 0px;
	font: bold 16px Arial, Helvetica, sans-serif;
	color: #484848;
}
.detail p {
	padding: 10px 0px 5px 20px;
	font: normal 12px Arial, Helvetica, sans-serif;
}

.detail .detailLib {
	display: block;
	font: normal 18px Arial, Helvetica, sans-serif;
	color: #3D61AE;
}

.detail .detailVal {
	padding: 0px 0px 5px 0px;
	color: #484848;
}

.detail ul.detailLib {
	margin: 10px 0px 5px 20px;
	font: normal 18px Arial, Helvetica, sans-serif;
	color: #8e8e8e;
	list-style-type: none;
}

.detail ul.detailLib li.detailVal {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #484848;
}
.detail .select01 {
	display: block;
	width: 641px;
	height: 20px;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #484848;
	border: 1px solid #adadad;
	background: url(bgForm01.png) repeat 0px 0px;
}
.detail .inputSubmit02 {
	margin: 0px 0px 5px 20px;
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #000;
	height: 30px;
	border: none;
	background: url(bgSubmit02.png) repeat-x 0px 0px;
	padding:0px 10px;
}

/* ------------------------------------------------------ */
/* detail_new */
/* ------------------------------------------------------ */

.detail_new {
	width: 673px;
	padding: 10px 10px 30px 10px;
	border-top: 1px solid #adadad;
	background: #fff;
	background: url(bgForm01.png);
}

.detail_new a {
	color: #484848;
	text-decoration: none;
}

.detail_new a:hover {
	color: #999;
}

.detail_new h3 {
	padding: 0px 0px 15px 20px;
	font: normal 18px Arial, Helvetica, sans-serif;
	background: url(puce01.png) no-repeat 0px 2px;
	color: #484848;
}

.detail_new h4 {
	padding: 0px 0px 20px 20px;
	font: bold 16px Arial, Helvetica, sans-serif;
}

.detail_new h5 {
	padding: 10px 0px 0px 250px;
	font: bold 15px Arial, Helvetica, sans-serif;
	background: url(puce02.png) no-repeat 225px 12px;
	color: #3d61ae;
}

.detail_new p {
	clear: both;
	padding: 0px 0px 10px 20px;
	font: normal 12px Arial, Helvetica, sans-serif;
}

.detail_new .detail_newLib {
	display: block;
	width : 220px;
	float: left;
	text-align: right;
	color: #000;
	padding: 0px 10px 0px 0px;
	font-weight: bold;
}

.detail_new .detail_newVal {
	display: block;
	width : 400px;
	float: left;
	color: #484848;
}

.detail_new ul.detail_newLib {
	margin: 10px 0px 5px 20px;
	font: normal 18px Arial, Helvetica, sans-serif;
	color: #8e8e8e;
	list-style-type: none;
}

.detail_new ul.detail_newLib li.detail_newVal {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #484848;
}
