/*---- sIFR ---*/
.sIFR-flash {
	visibility: visible !important;
	margin: 0;
	padding: 0;
}

.sIFR-replaced {
	visibility: visible !important;
}

.sIFR-alternate {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	display: block;
	overflow: hidden;
}

.sIFR-active h2.replaced {
  visibility: hidden;
 
}

.sIFR-active h3.replaced {
  visibility: hidden;
  background:none;
}

.sIFR-active h4.replaced  {
  visibility: hidden;
}