
body {
background-color : #e7e7e7;
margin : 23px 10px 10px 10px;
font-family : Arial, Verdana, Geneva;
}
h1 {
font-family : Arial, Verdana, Geneva;
font-size : 14pt;
color : #0b3d91;
line-height : 26px;
padding-bottom : 10px;
}
h2 {
font-family : Arial, Verdana, Geneva;
font-size : 13pt;
line-height : 22px;
padding-bottom : 10px;
}
h3{
font-family : Arial, Verdana, Geneva;
font-size : 11pt;
color : #0b3d91;
line-height : 26px;
padding-bottom : 10px;
}
h4 {
font-family : Arial, Verdana, Geneva;
color : #0b3d91;
line-height : 16px;
font-size : 12px;
}
.encadre {
position : relative;
padding : 9px 9px 9px 9px;
}
.encadre .tl, .encadre .tr, .encadre .bl, .encadre .br {
position : absolute;
overflow : hidden;
width : 9px;
height : 9px;
line-height : 1px;
font-size : 1px;
color : white;
}
.encadre .tl {
background-position : top left;
left : 0;
top : 0;
}
.encadre .tr {
background-position : top right;
right : 0;
top : 0;
}
.encadre .br {
background-position : top right;
right : 0;
bottom : 0;
}
.encadre .bl {
background-position : top left;
left : 0;
bottom : 0;
}
#bloc_central {
margin : 0 auto 0 auto;
width : 990px;
background-color : white;
padding : 6px 5px 17px 11px;
}
#bloc_central .tl, #bloc_central .tr {
background-image : url(angle_top.gif);
}
#bloc_central .bl, #bloc_central .br {
background-image : url(angle_bas.gif);
}
#FTV_menu {
position : relative;
width : 970px;
margin : 0 0 0px -7px;
padding-left : 10px;
}
#FTV_menu2 {
float : left;
height : 50px;
width : 950px;
margin : 0 0 0 0;
background : white url(header_gradient.png) repeat-x top;
font-family : Verdana, Arial, Helvetica, Geneva;
font-size : 9px;
padding-top : 14px;
padding-left : 2px;
padding-right : 2px;
}
#FTV_menu_left {
float : left;
margin : 0;
border : 0;
}
#FTV_menu_right {
float : left;
margin : 0;
border : 0;
}
a.menulink, a.menulink:link, a.menulink:active {
font-family : Verdana, Arial, Helvetica, Geneva;
font-size : 11px;
font-weight : bold;
color : #818283;
text-decoration : none;
margin-right : 5px;
margin-left : 5px;
}
a.menulink:hover, a.menulink:visited:hover {
color : #196298;
text-decoration : underline;
}
a.menulinkon {
font-family : Verdana, Arial, Helvetica, Geneva;
font-size : 11px;
font-weight : bold;
color : #196298;
text-decoration : none;
margin-right : 5px;
margin-left : 5px;
}
#alexandra {
padding : 26px 10px 0 0;
width : 203px;
float : left;
}
#alexandra ul#navList {
list-style-type : none;
list-style-type : none;
margin : 0 0 0 0;
padding : 1px 0 0 0;
width : 193px;
font-weight : bold;
border-bottom : 1px solid #ccc;
}
#alexandra ul#navList ul {
list-style-type : none;
margin : 0;
padding : 0;
background-image : none;
}
#alexandra ul#navList li {
line-height : 16px;
margin : 0;
padding : 0;
}
#alexandra ul#navList li ul li {
background-image : none;
padding : 5px 0 5px 18px;
margin : 0;
border-bottom : 1px dotted #e7e7e7;
border-left : 0 solid #ffffff;
font-weight : normal;
font-size : 11px;
font-family : Arial, Helvetica, sans-serif;
line-height : 16px;
}
#alexandra ul#navList a:link, #alexandra ul#navList a:visited {
color : #666;
text-decoration : none;
display : block;
padding : 4px 0 4px 8px;
}
#alexandra ul#navList a:hover, #alexandra ul#navList a:active {
color : #196298;
text-decoration : none;
}
#alexandra ul#navList ul a:link, #alexandra ul#navList ul a:visited {
color : #666;
padding : 0;
text-decoration : none;
}
#alexandra ul#navList ul a:hover, #alexandra ul#navList ul a:active {
color : #666;
background-color : #fff;
padding : 0;
text-decoration : underline;
}
#alexandra ul#navList li.selected {
line-height : 16px;
margin : 0;
padding : 0;
}
#alexandra ul#navList li.selected a:link, #alexandra ul#navList li.selected a:visited {
color : #196298;
font-weight : bold;
color : #196298;
font-weight : bold;
line-height : 16px;
border-bottom : 1px solid #e7e7e7;
border-left : 3px solid #0b3d91;
font-size : 12px;
}
#alexandra ul#navList li.selected li, #alexandra ul#navList li.selected li a:link, #alexandra ul#navList li.selected li a:visited {
color : #666;
font-weight : normal;
border-top : 1px solid #ffffff;
background-color : #ffffff;
border-bottom : 0 dotted #e7e7e7;
border-left : 0 solid #ffffff;
}
#alexandra ul#navListC {
list-style-type : none;
list-style-type : none;
margin : 0 0 0 0;
padding : 1px 0 0 0;
width : 193px;
font-weight : bold;
border-bottom : 1px solid #ccc;
}
#alexandra ul#navListC ul {
list-style-type : none;
margin : 0;
padding : 0;
background-image : none;
}
#alexandra ul#navListC li {
line-height : 16px;
margin : 0;
padding : 0;
}
#alexandra ul#navListC li ul li {
background-image : none;
padding : 5px 0 5px 18px;
margin : 0;
border-bottom : 1px dotted #e7e7e7;
border-left : 0 solid #ffffff;
font-weight : normal;
font-size : 11px;
font-family : Arial, Helvetica, sans-serif;
line-height : 16px;
}
#alexandra ul#navListC a:link, #alexandra ul#navListC a:visited {
color : #666;
text-decoration : none;
display : block;
padding : 4px 0 4px 8px;
}
#alexandra ul#navListC a:hover, #alexandra ul#navListC a:active {
color : #196298;
text-decoration : none;
}
#alexandra ul#navListC ul a:link, #alexandra ul#navListC ul a:visited {
color : #666;
padding : 0;
text-decoration : none;
}
#alexandra ul#navListC ul a:hover, #alexandra ul#navListC ul a:active {
color : #666;
background-color : #fff;
padding : 0;
text-decoration : underline;
}
#alexandra ul#navListC li.selected {
line-height : 16px;
margin : 0;
padding : 0;
}
#alexandra ul#navListC li.selected a:link, #alexandra ul#navListC li.selected a:visited {
color : #196298;
font-weight : bold;
color : #196298;
font-weight : bold;
line-height : 16px;
border-bottom : 1px solid #e7e7e7;
border-left : 3px solid #0b3d91;
font-size : 12px;
}
#alexandra ul#navListC li.selected li, #alexandra ul#navListC li.selected li a:link, #alexandra ul#navListC li.selected li a:visited {
color : #666;
font-weight : normal;
border-top : 1px solid #ffffff;
background-color : #ffffff;
border-bottom : 0 dotted #e7e7e7;
border-left : 0 solid #ffffff;
}
.alexandra {
padding : 26px 10px 0 0;
width : 203px;
float : left;
}
.alexandra ul.navList {
list-style-type : none;
list-style-type : none;
margin : 0 0 0 0;
padding : 1px 0 0 0;
width : 193px;
font-weight : bold;
border-bottom : 1px solid #ccc;
}
.alexandra ul.navList ul {
list-style-type : none;
margin : 0;
padding : 0;
background-image : none;
}
.alexandra ul.navList li {
line-height : 16px;
margin : 0;
padding : 0;
}
.alexandra ul.navList li ul li {
background-image : none;
padding : 5px 0 5px 18px;
margin : 0;
border-bottom : 1px dotted #e7e7e7;
border-left : 0 solid #ffffff;
font-weight : normal;
font-size : 11px;
font-family : Arial, Helvetica, sans-serif;
line-height : 16px;
}
.alexandra ul.navList a:link, .alexandra ul.navList a:visited {
color : #666;
text-decoration : none;
display : block;
padding : 4px 0 4px 8px;
}
.alexandra ul.navList a:hover, .alexandra ul.navList a:active {
color : #196298;
text-decoration : none;

}
.alexandra ul.navList ul a:link, .alexandra ul.navList ul a:visited {
color : #666;
padding : 0;
text-decoration : none;
}
.alexandra ul.navList ul a:hover, .alexandra ul.navList ul a:active {
color : #666;
background-color : #fff;
padding : 0;
text-decoration : underline;
}
.alexandra ul.navList li.selected {
line-height : 16px;
margin : 0;
padding : 0;
}
.alexandra ul.navList li.selected a:link, .alexandra ul.navList li.selected a:visited {
color : #196298;
font-weight : bold;
color : #196298;
font-weight : bold;
line-height : 16px;
border-bottom : 1px solid #e7e7e7;
border-left : 3px solid #0b3d91;
font-size : 12px;
}
.alexandra ul.navList li.selected li, .alexandra ul.navList li.selected li a:link, .alexandra ul.navList li.selected li a:visited {
color : #666;
font-weight : normal;
border-top : 1px solid #ffffff;
background-color : #ffffff;
border-bottom : 0 dotted #e7e7e7;
border-left : 0 solid #ffffff;
}
.actualites {
font-family : Arial, Verdana, Helvetica, Geneva;
color : #000000;
font-size : 11px;
padding-left : 10px;
padding-right : 5px;
line-height : 16px;
padding-top : 5px;
}
.actualites_white {
font-family : Arial, Verdana, Helvetica, Geneva;
color : #ffffff;
font-size : 11px;
padding-left : 10px;
padding-right : 5px;
line-height : 16px;
padding-top : 5px;
}
.actualites_white a {
font-weight : bold;
text-decoration : underline;
color : #ffffff;
}
.homecontent {
font-family : Arial, Verdana, Helvetica, Geneva;
font-size : 11px;
padding-left : 5px;
padding-right : 8px;
line-height : 16px;
float : left;
width : 210px;
border-right : 1px dotted #e7e7e7;
margin-right : 5px;
}
.homecontent2 {
font-family : Arial, Verdana, Helvetica, Geneva;
color : #000000;
font-size : 11px;
line-height : 16px;
float : left;
width : 210px;
margin-right : 5px;
margin-left : 8px;
}
.container {
float : left;
width : 468px;
font-family : Arial, Verdana, Helvetica, Geneva;
font-family : Arial, Verdana, Helvetica, Geneva;
font-size : 11px;
margin-left : 15px;
margin-right : 20px;
padding-top : 5px;
padding-left : 10px;
padding-right : 8px;
line-height : 16px;
}
.container h4 {
width : 100%;
background-color : #e7e7e7;
margin-left : 0;
line-height : 15px;
padding : 3px;
}
.container2 {
float : left;
width : 220px;
border : 1px solid #efefef;
font-family : Arial, Verdana, Helvetica, Geneva;
font-size : 11px;
margin-right : 9px;
height : 450px;
}
.container3 {
float : left;
width : 210px;
border : 1px solid #efefef;
font-family : Arial, Verdana, Helvetica, Geneva;
font-size : 11px;
background : url(description_gradient.png) top;
height : 185px;
margin-bottom : 4px;
}
.container4 {
width : 210px;
font-family : Arial, Verdana, Helvetica, Geneva;
font-size : 11px;
background : #eff1ee url(bordure_bas.gif) bottom repeat-x;
}
.container5 {
width : 210px;
font-family : Arial, Verdana, Helvetica, Geneva;
font-size : 11px;
background : #04529f;
}
.title_bar {
width : 100%;
background : #0060a9 url(aqua_blue.png) top repeat-x;
line-height : 16px;
padding-top : 5px;
padding-bottom : 5px;
}
.floatleft {
float : left;
}
.section_title {
font-family : Arial, Verdana, Helvetica, Geneva;
font-size : 12px;
color : #ffffff;
font-weight : bold;
line-height : 16px;
padding-left : 8px;
width : 100%;
}
.subsection_title {
font-family : Arial, Verdana, Helvetica, Geneva;
font-size : 12px;
color : #0b3d91;
font-weight : bold;
line-height : 16px;
padding-left : 4px;
width : 95%;
border-bottom : 1px solid #e7e7e7;
border-left : 3px solid #0b3d91;
margin-bottom: 10px;
}
.logo_chaines {
font-family : Arial, Verdana, Helvetica, Geneva;
font-size : 11px;
font-weight : bold;
color : #484848;
}
.logo_chaines img {
text-align : right;
padding-top : 20px;
margin-left : 300px;
}
.description {
float : left;
width : 210px;
font-family : Arial, Verdana, Helvetica, Geneva;
font-size : 11px;
margin-left : 15px;
padding-right : 5px;
line-height : 16px;
}
.greybox {
background-color : #f0f0f0;
padding : 6px;
}
.description2 {
float : left;
width : 210px;
height : 132px;
border : 1px solid #e7e7e7;
font-family : Arial, Verdana, Helvetica, Geneva;
margin-left : 5px;
padding-right : 15px;
line-height : 16px;
background : #ffffff url(grey_grad.png) top repeat-x;
}
.animation {
width : 450px;
background : #ffffff url(telly_bg.gif) top no-repeat;
float : left;
padding-left : 8px;
margin-left : 15px;
margin-right : 15px;
padding-right : 10px;
text-align : center;
padding-top : 10px;
}
.programmes {
font-size : 13px;
padding-left : 15px;
padding-top : 15px;
height : 50px;
vertical-align : middle;
width : 450px;
}
.programmes2 {
float : left;
text-align : center;
margin-left : 30px;
padding : 5px;
}
.grey {
color : #888888;
}
.dark_grey {
color : #3c3c3c;
font-style : normal;
}
.image_article_gauche {
border : 0;
float : left;
clear : left;
text-align : left;
margin-right : 3px;
margin-bottom : 2px;
padding-right : 2px;
padding-bottom : 2px;
padding-top : 5px;
}
.image_chaines {
border : 0;
float : left;
text-align : left;
margin-right : 5px;
margin-bottom : 2px;
padding-right : 5px;
padding-bottom : 2px;
padding-top : 5px;
}
.bloc_intro {
width : 490px;
font-size : 12px;
float : left;
border-left : 1px dotted #e7e7e7;
border-right : 1px dotted #e7e7e7;
padding-left : 8px;
padding-right : 8px;
text-align : left;
}
.ligne_grise {
padding-top : 10px;
padding-bottom : 10px;
}
.paragraphe_image {
list-style-type : none;
margin-left : -35px;
padding-left : 0;
margin-right : 5px;
padding-bottom : 10px;
}
a.textlink, a.textlink:link, a.textlink:visited {
color : #196298;
text-decoration : none;
font-weight : bold;
}
a.textlink:hover, a.textlink:visited:hover {
text-decoration : underline;
}
#logo {
border : 0;
text-decoration : none;
margin-bottom : 15px;
margin-right : 5px;
float : left;
}
.footer {
color : #444444;
font-size : 10px;
font-weight : bold;
padding-top : 20px;
text-align : center;
}
.footer a, .footer a:link, .footer a:visited {
text-decoration : none;
color : #676767;
}
.footer a:hover {
text-decoration : underline;
color : #196298;
}
.france2 {
color : #e20026;
}
.france3 {
color : #017cbf;
}
.france4 {
color : #770d69;
}
.france5 {
color : #85b916;
}
.franceO {
color : #ed7902;
}
a img {
border : none;
}

/********* BOUTON		*************/

#contact {
border : none;
margin-left : 0;
}
#close {
margin-left : 250px;
height : 50px;
width : 50px;
}

/***** mask  ******/

#mask {
z-index : 90;
position : absolute;
height : 900px;
width : 100%;
left : 0;
top : -1000px;
background-color : #fff;
}
.greysquare {
z-index : 95;
position : absolute;
height : 500px;
width : 500px;
left : 20%;
top : 100px;
}

/*************		FORMULAIRE		****************/

#formulaire {
margin : 10px 120px;
}
.cols {
width : 290px;
padding-bottom : 5px;
background-color : #e7e7e7;
}
#cols2 {
left : 150px;
background-color : #e7e7e7;
padding-left : 260px;
}
.cols h3 {
margin-bottom : 0.5em;
margin-left : 1em;
}
.title {
width : 230px;
background : url(title.png) no-repeat center left;
margin-left : 20px;
margin-bottom : 5px;
padding-top : 5px;
color : #fff;
}
.title p {
margin : 10px 0 0 20px;
font-weight : bolder;
font-family : Arial, Helvetica, sans-serif;
font-size : 12px;
}
.entry {
margin-left : 20px !important ;
margin-left : 0;
margin-bottom : 20px;
width : 180px;
border : 2px solid #e7e7e7;
padding : 6px;
background-color : #fff;
font-weight : bold;
font-family : Arial, Helvetica, verdana;
color : #1c6dab;
}
#msg {
padding : 25px 10px 10px 10px;
height : 320px;
background : url(textarea.png) no-repeat center left;
color : #fff;
font-family : Arial, Helvetica, sans-serif;
}
textarea {
padding : 6px;
border : 2px solid #e7e7e7;
margin-left : 15px;
overflow : auto;
width : 220px;
height : 220px;
font-size : 0.9em;
color : #1c6dab;
font-family : Arial, Helvetica, sans-serif;
}
#submitter {
padding : 5px;
font-size : 12px;
font-family : Arial, Helvetica, sans-serif;
margin-left : 100px;
color : #ffffff;
background-color : #4eadd2;
}
#societe {
position : absolute;
top : -500px;
z-index : 100;
}
#nom {
position : absolute;
top : -500px;
z-index : 100;
}
#prenom {
position : absolute;
top : -500px;
z-index : 100;
}
#mail {
position : absolute;
top : -500px;
z-index : 100;
}
#internet {
position : absolute;
top : -500px;
z-index : 100;
}
#cols2 {
position : absolute;
top : -610px;
z-index : 95;
}
#log {
width : 250px;
margin-top : 30px;
font-size : 0.9em;
}
#log_res {
overflow : auto;
}
#log_res.ajax-loading {
padding : 20px 0;
background : url(http://www.francetelevisions.fr/images/ajax-loader.gif) no-repeat center;
}
#msgok {
color : #669900;
}
#fail {
color : #ff0000;
}
#warning {
color : #ff9933;
}
.spacer {
clear : both;
}
.spacer_right {
clear : right;
}
.spacer_left {
clear : left;
}

/* * Couleurs des liens de Spip */
a.spip_note {} /* liens vers notes de bas de page */
a.spip_in { color : #196298;
text-decoration : none;
font-weight : bold; } /* liens internes */
a.spip_out { color : #196298;
text-decoration : none;
font-weight : bold;  } /* liens sortants */
a.spip_url { color : #196298;
text-decoration : none;
font-weight : bold;  } /* liens url sortants */
a.spip_glossaire { color: #196298; } /* liens vers encyclopedie */
.on { font-weight: bold; color: #196298; } /* liens exposes */

p.spip a, p.spip a:link, p.spip a:visited {
color : #196298;
text-decoration : none;
font-weight : bold;
}
p.spip a:hover, p.spip a:visited:hover {
text-decoration : underline;
}

.navy {font-weight: bold; color: #003366;}
.green {font-weight: bold; color: #008000;}
.red {font-weight: bold; color: #a50021;}
.purple {font-weight: bold; color: #800080;}