﻿/* This CSS contains all the bases and structural styles of the website
-Used on each page-*/

*
{
	border: medium none;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;/*Uncomment this line when removing all the old css*/
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: medium;
	padding: 0;
}

body
{
	-x-system-font: none;
	background: #CBC9DF url(http://media.laredoute.fr/1024/AH08/20081021/hp/backgroundHP_neutre.jpg) no-repeat scroll center top;
	color: #556E73;
	font-family: Verdana,Arial,Helvetica,Sans-Serif;
	font-size: 10px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	text-align: center;
}
/*condition for to use that on IE6 only cause it IE6 fix and there no need in it in IE7 and 8*/
* html  .fixpng 
{
	_behavior: url(http://www.laredoute.fr/Scripts/evolution/ie-png-fix/iepngfix.htc) !important;
}

#wrapper
{
	margin: 0 auto;
	overflow: visible;
	text-align: left;
	width: 982px;
	/*position:relative; REMOVE COMENT ONCE CSS MIGRATION FINISHED, AND ADD TO BASKET LAYER, AND SKYSCRAPER IS FIXED */
	z-index:1;
}


#evo-content
{
	position: relative;
	z-index: 1;
	background: white none repeat scroll 0 0 !important;
	clear: both;
	margin: 0;
	overflow: hidden;
	padding: 0 4px;
	width: 974px;
}

a:link, a:visited
{
	color: #556E73;
	text-decoration: none;
}

a:hover
{
	color: #556E73;
	text-decoration: underline;
}

/* Auto Complete jQuery Plug-in styles ========*/
.ac_results {padding: 0px 3px 3px 0px; overflow: hidden; z-index: 99999; background:url(http://media.laredoute.fr/images/mimages/autocomp_bg.png) no-repeat bottom right #FFFFFF;}
.ac_results ul {width:auto; list-style-position: outside; list-style: none; padding: 0; margin: 0; border-top: 1px solid #ededed; border-left: 1px solid #ededed; 	position:relative;}
.ac_results li {margin: 0px; padding:1px 2px;cursor: default; display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 10px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
	text-align:left;
}

.ac_results li strong {color:#31961B}
.ac_loading {}
.ac_over {background-color: #bad6fd;}
.mui_autocomp_key {padding:0;text-align:left}
.mui_autocomp_nos {padding:0; text-align:left; float:right; width:95px}
/* [END] Auto Complete jQuery Plug-in styles ========*/

#headerZone
{
position:relative;
z-index:10;
}
 
div.clear {clear: both;}
 
input
{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:9px;
border:1px solid;
color:#7c7c7c;
border-color:#8f8f8f #cecece #cecece #8f8f8f;
}
 
 .header-site .link-icon-help {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(http://media.laredoute.fr/1024/projets/functional-header/images/aide_bg.png) no-repeat scroll left center;
cursor:pointer;
height:25px;
margin:0 4px;
padding-left:24px;
padding-top:10px;
position:relative;
top:-8px;
width:72px;
float:right;
}

/*temp for LA an AMPM header*/

#virtual_la .header-site .palette-2 h4 {
margin:13px 0;
}
#virtual_la .header-site .palette-3 h4, #virtual_la .header-site .palette-3-on h4 {
margin:13px 0;
}

#virtual_ampm .header-site .palette-2 h4 {
margin:13px 0;
}
#virtual_ampm .header-site .palette-3 h4, #virtual_ampm .header-site .palette-3-on h4 {
margin:13px 0;
}

/* Begin Order EXchange top banner */

.OE_header_message
{
	top:0;
	position:fixed;
	left:50%;
	z-index:12;
	width:726px;
	margin-left:-366px;
	background-color:#425b60;
	display:none;
}
/* B Correct Fixed position for IE6 */
.OE_header_message
{
	_position: absolute;
	_top: expression(documentElement.scrollTop+body.scrollTop + "px");
}
/* E Correct Fixed position for IE6 */

.OE_message_txt
{
	float:left;
	font-size:10px;
	color:#FFFFFF;
	padding:3px 0 3px 10px;
}

.OE_message_link
{
	float:right;
}

/* End Order EXchange top banner */
