.cadremenu {
	font-family: "Trebuchet MS", Verdana;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 12px;
}
a:link {

    color: #000000;

    text-decoration: none;

    font-weight: normal;

    font-style: normal;

}
a:visited {

    color: #666666;

    text-decoration: none;

    font-weight: normal;

    font-style: italic;

}
a:hover {

    color: #000000;

    text-decoration: underline;

    font-weight: normal;

    font-style: normal;

}
a:active {

    color: #000000;

    text-decoration: underline;

    font-weight: normal;

    font-style: normal;

}
