a.bandeau_haut:link,a.bandeau_haut:visited,a.bandeau_haut:active{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	font-weight:bold;
	color:#30568B;
	margin-left:8px;
	padding-left:15px;
	background-image:url('puce_haut2.gif');
	background-repeat : no-repeat;
	background-position : left;
}
a.bandeau_haut:hover{
	text-decoration:underline overline;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	font-weight:bold;
	color:#30568B;
	background-color:#B5C6EF;
	margin-left:8px;
	padding-left:15px;
	background-image:url('puce_haut2.gif');
	background-repeat : no-repeat;
	background-position : left;
}



a.menu_home:link,a.menu_home:visited,a.menu_home:active{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:x-smallpx;
	color:#FFFFFF;
	font-weight:bold;
}
a.menu_home:hover{
	text-decoration:none;
	font-family:Verdana, sans-serif;
	font-size:11px;
	color:#CCCCCC;
	font-weight:bold;
}

div.zone_bas_home{
	height:100px;
	font-family:Verdana, sans-serif;
	font-size:x-small;
	color:#666666;
	margin-left:5px;
	margin-right:5px;
}

input.recherche{
	font-family:verdana, sans-serif;
	font-size:xx-small;
	font-weight:bold;
	color:#003184;
	border:1px #003184 solid;
	background-color:#FFFFFF;
	margin-left:5px;
	width:130px;

}

input.submit_recherche{
	font-family:verdana, sans-serif;
	font-size:x-small;
	font-weight:bold;
	color:#003184;
	border:0px;
	border-color:#000000;
	background-color:#FFFFFF;
}


tr.bandeau_flash{
	height:78px;
	text-align:right;
}

tr.menu_haut{
	height:50px;
	text-align:center;
}

.titre4{
	font-family: Verdana, sans-serif;
	font-size: xx-small;
	font-weight: bold;
	color: #D06401;
}