/* CSS Panier */
/*Start changed : Rename the div*/
.black_box_header {
	border: 0px solid red;
	background-color: rgb(0,0,0);
	z-index: -1;
	position: absolute;
	top: 0pt;
	left: 0pt;
	height: 100%;
	width: 100%;
	opacity: 0;
	min-height:999px;
}
/*End changed : Rename the div*/

#modal_panier {position:absolute;z-index:101;background:url(bg_panier.png) no-repeat;width:0px;height:0px;;top:70px;display:none;}
/*#modal_panier {position:absolute;z-index:101;background:url(../images/bg_panier.png) no-repeat;width:310px;height:212px;;top:70px;display:none;}*/

#modal_panier .btn_close {position:absolute;width:14px;height:14px;margin-top:18px;margin-left:287px;cursor:hand;cursor:pointer;}
#modal_panier .titre {background:none ;border-bottom:0px;border-top:0px;padding:0px;position:absolute;margin-top:33px;margin-left:23px;font-size:20px;color:#fb5c01;text-align:center;width:264px;line-height:20px;height:20px;font-weight:bold;}
#modal_panier .titre_b {position:absolute;margin-top:22px;margin-left:23px;font-size:20px;color:#fb5c01;text-align:center;width:264px;line-height:20px;height:20px;font-weight:bold;}
#modal_panier .titre_b span {font-size:13px;color:#2b3340;font-weight:bold;}

#modal_panier .achats {position:absolute;width:115x;margin-top:85px;}
#modal_panier .achats.enligne {margin-left:26px;}
#modal_panier .achats.enligne .designation {color:#fb5c01;}
#modal_panier .achats.magasin {margin-left:171px;}
#modal_panier .achats.magasin .designation {color:#1c8ba0}
#modal_panier .achats .designation {height:30px;font-size:14px;font-weight:bold;line-height:15px;text-align:center;width:115px;}
#modal_panier .achats .nb_produits {float:left;margin:10px 16px 13px 0px;width:65px;font-size:11px;color:#666666;line-height:13px;text-align:right;}
#modal_panier .achats .nb {float:left;margin:14px 0px 15px 0px;width:34px;font-size:20px;font-weight:bold;color:#666666;line-height:20px;}
#modal_panier .achats .btn {clear:both;}