.moteurrecherche {width:329px;display:block;left:360px;position:absolute;top:16px;}
.moteurrecherche .boutonhaut {width: 350px;}
.moteurrecherche .texteinput {float:left;width:329px; background: #FFFFFF url(champrecherche.gif) no-repeat; }
.moteurrecherche .texteinput input {background:transparent; border:0px;height:33px; vertical-align:top;}
.moteurrecherche .texteinput input.champ {background:transparent; border:0px; width:215px; height:25px;padding-top:12px;color:#39424F; font-face:arial; font-size:12px;  }
.moteurrecherche .texteinput input.bt {text-align:right;height:33px;}

#alt_text_tel {position:absolute;color:#00505f;background:#e3f9ff;border:1px solid #00505f;padding:2px;top:10px;z-index:100;text-align:center;width:200px;}