#header
{
height:126px
}

#header img#logo
{
display:block;
position:absolute;
top:10px;
left:4px;
}

#header #liens
{
display:block;
position:absolute;
top:9px;
left:865px;
width:120px;
}

#header #liens a
{
display:block;
}

#header #search
{
display:block;
position:absolute;
top:16px;
left:378px;
}

#header #search img
{
float:left;
display:inline;
}

#header #search .texte
{
float:left;
display:inline;
background:url(search-bck-txt.gif) no-repeat;
width:146px;
height:19px;
}

#header #search .texte input
{
margin-top:3px;
border:0;
color:#9D9D9D;
font-size:10px;
width:130px;
}

#header #search .univers
{
float:left;
display:inline;
}

#header #search .univers select
{
color:#9D9D9D;
font-size:10px;
margin-top:1px;
}

#header #search .bt-ok
{
float:left;
display:inline;
margin-left:3px;
margin-top:-1px;
border:0px
}

#header #search .univers .jNiceSelectWrapper 
{
	z-index:10;
	width: 135px;
	position:relative;
	height: 19px;
	border:0;
	z-index:200px;
		color:#9D9D9D;
	font-size:10px;
}


#header #search .univers .jNiceSelectWrapper div span 
{
	border:0px solid black;
	color:#9D9D9D;
	font-size:10px;
	left:0;
	float: none;
	text-align:left;
	position: relative;
	width: 119px;
	height: 19px;
	line-height: 18px;
	padding: 0px 6px;
	overflow: hidden;
	background: url(search-bck-select.gif) no-repeat;

}

#header #search .univers .jNiceSelectWrapper div a {
	color:#9D9D9D;
	font-size:10px;
	display: block;
	position: absolute;
	right: 0px;
	width: 16px;
	height: 19px;
	background: url(search-bt-select.gif) no-repeat ;
}



#header #search .univers .jNiceSelectWrapper ul 
{
	position: absolute;
	text-align:left;
	width: 200px;
	top: 20px;
	left: 0px;
	list-style: none;
	background-color: #FFF;
	border: solid 1px #CCC;
	display: none;
	margin: 0px;
	padding: 2px;
	height: 110px;
	overflow: auto;
	overflow-y: auto;
	z-index:101;
}


#header #search .univers .jNiceSelectWrapper ul a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color:#9D9D9D;
	font-size:10px;
	background-color: #FFF;
}



#header #search .univers .jNiceSelectWrapper ul a:hover { background:#D4EBED; }

#header #search .univers .jNiceSelectWrapper ul a.selected {background: #D4EBED;}




/* -------------

 * Hidden - used to hide the original form elements

 * ------------- */

#header #search .univers .jNiceHidden {display: none;}



#header img#panier
{
display:block;
position:absolute;
top:7px;
left:757px;
}

#header img#recherche-mag
{
display:block;
position:absolute;
top:46px;
left:397px;
}

#header img#abo-nl
{
display:block;
position:absolute;
top:46px;
left:545px;
}