body {
	margin:0;
}

body, td, font {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#434343;
}

a {
	color:#6E81BC;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

#content {
	border:1px solid black;
}

.content {
	padding:2px;
}

.menubarre {
	border-top:1px solid #EDC919;
}

.mini {
	font-size:80%;
}

.menu {
	background-image:url(menu_bg.gif);
	padding:2px 7px 2px 23px;
}

.menu a {
	display:block;
	width:236px;
	padding:3px 0px;
	color:#333333;
	font-weight:bold;
	padding-left:5px;
}

.menu a:hover {
	background-color:#FFCA02;
	text-decoration:none;
}

.titretab {
	font-weight:bold;
	font-size:125%;
	white-space:nowrap;
}

.tabcontent {
	padding:10px 25px 8px 36px;
}

form {
	margin:0;
}

.champ {
	border:1px solid black;
	background-color:#EEEEEE;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:90%;
}

.champ:hover {
	border:1px solid red;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:90%;
}

.champ:focus {
	border:1px solid red;
	background-color:white;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:90%;
}

.bouton {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	background-color:white;
	border:1px solid black;
}

.bouton2 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background-color:white;
	border:1px solid black;
}

legend {
	font-weight:bold;
	font-size:120%;
	color:#333333;
	margin-bottom:5px;
}

fieldset {
	margin-top:4px;
	margin-bottom:10px;
}

.rouge {
	color:#F00000;
}

.vert {
	color:#00CC00;
}

ul {
	margin:0 24px;
	padding:0;
}

