.smenucouleur
{
	float: left;
}

.smenucouleur ul {
	list-style: none;
	display: block;
	height: 20px;
	width: 467px;
	
	}

.smenucouleur ul li {
	float: left;
}

.smenucouleur a {
	/* text-indent: -1000px; */
	background:#FFFFFF none repeat scroll 0%;
	border-right: 2px solid #fff;
	cursor:pointer;
	display:block;
	overflow:hidden;
	width:30px;
	height: 20px;
}

.smenucouleur ul  a {
	background: url(onglet_menu_couleur_deploye.gif) repeat scroll 0%;
}

.smenucouleur ul li.exploitation a {
	background: url(b_exploitation_portuaire.gif) repeat scroll 0%;
}

.gmenucouleur ul li.valorisation a {
	background: url(b_valorisation_domaine.gif) repeat scroll 0%;
}

.smenucouleur ul li.transport a {
	background: url(b_transport_de_passagers.gif) repeat scroll 0%;
}
	


.clear {
	clear: both;
}
