body {
	background-image: url(fond_point.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	color:#505050
}
#Accueil {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	top: 0px;
}
#anim {
	float: left;
}
#droite {
	float: right;
	width: 325px;
}
#menugauche {
	height: 77px;
	width: 140px;
	float: left;
	margin-top: 65px;
	background-color: #FFFFFF;
}
#imageactualites {
	text-align: center;
}

#menulangue {
	height: 50px;
	width: 150px;
	background-color: #FFFFFF;
	padding-top: 4px;
}
#smenubleu {
	float: left;
	height: 23px;
	width: 100%;
	background-image: url(fond_sous_menu_bleu.gif);
	background-repeat:repeat-x;
}

#smenuorange {
	float: left;
	height: 23px;
	width: 100%;
	background-image: url(fond_sous_menu_orange.gif);
	background-repeat:repeat-x;
}

#smenurouge {
	float: left;
	height: 23px;
	width: 100%;
	background-image: url(fond_sous_menu_rouge.gif);
	background-repeat:repeat-x;
}

#smenubleuciel {
	float: left;
	height: 23px;
	width: 100%;
	background-image: url(fond_sous_menu_bleuciel.gif);
	background-repeat:repeat-x;
}

#menugen {
	height: 140px;
	width: 150px;
	margin-top: 15px;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-left: 4px;
}
.smenu {
	background-image: url(onglet_gris_centre.gif);
	background-repeat: repeat-x;
	float: left;
	height: 19px;
	z-index:9999;
}

#smenucouleur {
	float: left;
	height: 19px;
}

.separateur {
	float: left;
	width: 2px;
}
#actualite {
	background-color: #79AFE6;
	float: right;
	height: 346px;
	width: 181px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#diaporamahaut {
	float: left;
	width: 733px;
	height: 172px;
}
#diaporamabas {
	float: left;
	width: 733px;
	height: 172px;
	margin-top: 2px;
}


#menudroite {
	height: 224px;
	width: 150px;
	float: left;
	margin-left: 22px;
}
#centre {
	clear: both;
	float: left;
	width: 917px;
	margin-top: 0px;
	margin-left: 70px;
}
.titreactualites {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	margin-top: 4px;
	margin-right: 4px;
	margin-left: 14px;
}

.texteactualites {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	margin-top: 4px;
	margin-right: 4px;
	margin-left: 14px;
	margin-bottom: 0px;
}
#Accueil #centre #actualite {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #333333;
	margin-right: 1px;
	margin-left: 1px;
	text-align: left;
	margin-bottom: 10px;
}
#Accueil #centre #actualite a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	text-decoration: none;
}

#Accueil #centre #actualite:hover{
	text-decoration: none;
	color: #FFFFFF;
	position: relative;
}

#Accueil #centre #actualite:visited{
	text-decoration: none;
}
#sousrubrique {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	padding-top: 4px;
	padding-right: 4px;
	padding-left: 6px;
	color: #000000;
	height:20px;
}
.sousrubrique {
}
a.sousrubrique {
	text-decoration: none;
	color: #000000;
}
a.sousrubrique:hover {
	text-decoration: none;
	color: #FFFFFF;
}
.sousrubriquesel {
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
}
.smenubleu {
	background-image: url(onglet_bleu_centre.gif);
	background-repeat: repeat-x;
	float: left;
	height: 19px;
	z-index:999;
}
#smenugauche {
	width: 200px;
	float: left;
}
#contenu {
	width: 684px;
	float: left;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 6px;
	background-color: #FFFFFF;
	position: relative;
}
A.ongletmenugauche {
	width: 180px;
	background-color: #C3C3C3;
	display: block;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 17px;
	font-weight: bold;
	color: #000000;
	font-size: 10px;
}

A.ongletmenugauche:hover {
	background-color: #4585C9;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
}

.ongletmenugauchesel {
	width: 180px;
	background-color: #4984C0;
	display: block;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 17px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10px;
}
#smenudroite {
	width: 200px;
	float: left;
	background-color: #FFFFFF;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-size: 10px;
}
.ongletmenugauchepicto {
	display: block;
	text-decoration: none;
	border-bottom-style: none;
	font-weight: bold;
	color: #000000;
	font-size: 10px;
	text-align: right;
	position: absolute;
	top: 0px;
	left: 540px;
}
#intpositiontexte {
	margin-left: 4px;
	padding: 4px;
	text-align: left;
}
#intarbniv1 {
	padding-left: 4px;
	float: left;
}
#textearticle {
	float: left;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 10px;
	font-size: 11px;
	width: 530px;
}
.titrebleu {
	color:#282828;
	text-decoration: none;
	margin: 0px;
	font-weight:bold;
	font-size:16px;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#intarbniv1 {
	float: right;
	margin: 4px;
	vertical-align: top;
}
#imagetitre {
	width: 220px;
	overflow: hidden;
	float: left;
}

H1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight: bold;
	color:#282828;
}

H2 {
	background-image: url(fleche.gif);
	background-position: left top;
	font-size: 14px;
	font-weight: bold;
	color: #4585C9;
	background-repeat: no-repeat;
	padding-left: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
li {
	background-color: #FFFFFF;
	list-style-image: url(puce_tiret.gif);
}
#slidehaut {
	position:relative;
	height:200px
}
#slidehaut a {
		float:left;
		position:absolute;
}
	
#slidehaut a img {
		border:none;
	}
a img {
		border:none;
	}

#slidehaut a.show {
		z-index:500
	}

#slidebas {
	position:relative;
	height:200px
}
#slidebas a {
		float:left;
		position:absolute;
}
	
#slidebas a img {
		border:none;
	}
	
#slidebass a.show {
		z-index:500
	}

.intmenugauche {
	width: 200px;
	text-align: left;
}
.intsousmenugauche {
}

.intsoussousmenugauche {
}

#basmenu {
	width: 200px;
	height:7px;
	background-color: #C3C3C3;
	display: block;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}



A.lienmenuon2 {
	width: 180px;
	background-color: #4585c9;
	display: block;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 4px;
	padding-left: 17px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10px;
}
A.lienmenuon2:hover {
	width: 180px;
	background-color: #4585c9;
	display: block;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 4px;
	padding-left: 17px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10px;
}

A.lienmenu2 {
	width: 180px;
	background-color: #C3C3C3;
	display: block;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 4px;
	padding-left: 17px;
	font-weight: bold;
	color: #000000;
	font-size: 10px;
}

A.lienmenu2:hover {
	background-color: #4585c9;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
}















A.lienmenurougeon2 {
	width: 180px;
	background-color: #FF0000;
	display: block;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 4px;
	padding-left: 17px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10px;
}
A.lienmenurougeon2:hover {
	width: 180px;
	background-color: #FF0000;
	display: block;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 4px;
	padding-left: 17px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10px;
}

A.lienmenurouge2 {
	width: 180px;
	background-color: #C3C3C3;
	display: block;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 4px;
	padding-left: 17px;
	font-weight: bold;
	color: #000000;
	font-size: 10px;
}

A.lienmenurouge2:hover {
	background-color: #FF0000;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
}



A.lienmenuorangeon2 {
	width: 180px;
	background-color: #FF8700;
	display: block;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 4px;
	padding-left: 17px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10px;
}
A.lienmenuorangeon2:hover {
	width: 180px;
	background-color: #FF8700;
	display: block;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 4px;
	padding-left: 17px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10px;
}

A.lienmenuorange2 {
	width: 180px;
	background-color: #C3C3C3;
	display: block;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 4px;
	padding-left: 17px;
	font-weight: bold;
	color: #000000;
	font-size: 10px;
}

A.lienmenuorange2:hover {
	background-color: #FF8700;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
}



A.lienmenubleucielon2 {
	width: 180px;
	background-color: #00A8FF;
	display: block;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 4px;
	padding-left: 17px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10px;
}
A.lienmenubleuciel:hover {
	width: 180px;
	background-color: #00A8FF;
	display: block;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 4px;
	padding-left: 17px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10px;
}

A.lienmenubleuciel2 {
	width: 180px;
	background-color: #C3C3C3;
	display: block;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 4px;
	padding-left: 17px;
	font-weight: bold;
	color: #000000;
	font-size: 10px;
}

A.lienmenubleuciel:hover {
	background-color: #00A8FF;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
}























A.lienmenuon3 {
	width: 166px;
	background-color: #4984C0;
	display: block;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 30px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10px;
}
A.lienmenuon3:hover {
	width: 166px;
	background-color: #4984C0;
	display: block;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 30px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10px;
}

A.lienmenu3 {
	width: 166px;
	background-color: #C3C3C3;
	display: block;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 30px;
	font-weight: bold;
	color: #000000;
	font-size: 10px;
}

A.lienmenu3:hover {
	background-color: #4585C9;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
}

A.lienmenuon4 {
	width: 153px;
	background-color: #4984C0;
	display: block;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 43px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10px;
}
A.lienmenuon4:hover {
	width: 153px;
	background-color: #4984C0;
	display: block;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 43px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10px;
}

A.lienmenu4 {
	width: 153px;
	background-color: #C3C3C3;
	display: block;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 43px;
	font-weight: bold;
	color: #000000;
	font-size: 10px;
}

A.lienmenu4:hover {
	background-color: #4585C9;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
}
A.lienmenuon5 {
	width: 140px;
	background-color: #4984C0;
	display: block;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 56px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10px;
}
A.lienmenuon5:hover {
	width: 140px;
	background-color: #4984C0;
	display: block;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 56px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10px;
}

A.lienmenu5 {
	width: 140px;
	background-color: #C3C3C3;
	display: block;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 56px;
	font-weight: bold;
	color: #000000;
	font-size: 10px;
}

A.lienmenu5:hover {
	background-color: #4585C9;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
}
#ong_sc {
	float: left;
	height: 20px;
	width: 151px;
}
#ong_ep {
	float: left;
	height: 20px;
	width: 151px;
	left: 151px;
	position: absolute;
}
#ong_vp {
	float: left;
	height: 20px;
	width: 151px;
	position: absolute;
	left: 302px;
}
#ong_tp {
	float: left;
	height: 20px;
	width: 151px;
	left: 460px;
	position: absolute;
}
#tst {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	float: left;
}
.smenusc {
	background-image: url(onglet_gris_centre.gif);
	background-repeat: repeat-x;
	float: left;
	height: 19px;
	position:relative;
	z-index: 999;
}

#actualitesbasgauche
{
	 width:11px;
	 height:10px;
	 float:left;
	margin-top:40px;
}
#actualitesbasdroite
{
	width:181px;
	height:10px;
	float:left;
	margin: 0px;
	background-image: url(coin_bleu_actu.gif);
	background-repeat: no-repeat;
	background-position: right;
}


#menubasgauche
{
	 width:7px;
	 height:7px;
	 float:left;
}
#menubascentre
{
	 width:100%;
	 height:7px;
	 float:left;
	background-color: #4984C0;
}
#menubasdroite
{
	width:7px;
	height:7px;
	float:right;
}

.contactsbleu
{
	background-color:#4585c9;
	font-size: 9px;
	color: #FFFFFF;
	padding:1px;
	width:100%;
	display:block;
}


#contactsbleu
{
	width:70px;
	text-align:center;
}
a
{
	color:#4585C9;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	font-weight:bold;
	}
	
a:hover
{
	color:#000066;
	}
	
.paragraphe {
	background-image: url(fleche.gif);
	background-position: left top;
	font-size: 14px;
	font-weight: bold;
	color: #4585C9;
	background-repeat: no-repeat;
	padding-left: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.titreorange {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight: bold;
	color:#282828;
}
tr.entete
{
background-color:#4585C9;
color:#FFFFFF;
font-weight:bold;
}
tr.ligne
{
background-color:#B5CEE9;
color:#000000;
}
tr.lignealt
{
background-color:#E7EFF8;
color:#000000;
}
.lienimprimer
{
	font-size: 9px;
	font-weight: normal;
	color: #999999;	
	text-decoration:none;
}

a.lienimprimer
{
	font-size: 9px;
	font-weight: normal;
	color: #999999;	
	text-decoration:none;
}

a.lienimprimer:hover
{
	text-decoration:none;	
}
#intmenuboutonbas
{
	text-align:right;
	font-size:9px;
	padding-top:20px;
}
.orange {
	color: #FF8700;
}

.rouge {
	color: #FF0000;
}
.bleu {
	color: #00A7FF;
}
