*{ 
	margin:0;
	padding:0;
}
body {
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: Verdana;
	color:#000;
	background-color: #e0e0e0;
}
a {
	text-decoration: none;
}
img{ border:none }

h1{
	height:53px;
	width:341px;
}

.invisible{ display:none; }
.clear{ clear:both; }
.nomargin{margin:0;}


#document {
	width:936px;
	background: url(accueil_fond.png) no-repeat top left;
	margin:0 auto;
	padding:0px 52px 0px 58px;
	height: auto;
	font-size : small;
}

#topmenu {
	width : 936px;
	height: 22px;
	color : #3857c3;
}
#topmenu form {  }
#topmenu h2 { display: none; }
#topmenu ul { }
#topmenu li { 
	float:left;
	width : 24.5%;
	height : 21px;
	list-style-type : none;
}
#topmenu a {
	padding : 0px 20px 0px 0px;
	margin : 4px 0px 0px 20px;
	text-align: left;
	color : #3857c3;
	text-decoration: none;
	background-position: top right;
	background-repeat: no-repeat;
	font-size:11px;
}
#topmenu a.contact { background-image: url(topmenu_enveloppe.gif); }
#topmenu a.plansite { background-image: url(topmenu_plansite.gif); }
#topmenu a.planacces { background-image: url(topmenu_planacces.gif); }
#topmenu p { padding:1px 4px; float:right; }
#topmenu  input.field {

	border : 1px solid #b7b7b7;
	background-color: #fff;
	color : #501f1f;
	padding:.1em;
	width: 180px;
	height : 14px;
	font-size : 12px;
	letter-spacing : .1em;
}
#topmenu input.formaction { 
	margin : 0 0 -.3em 2px;
}
	



#contenu { }

/* Pour IE 5 LAC */
#document {padding-top : 17px;}
/* Pour les autres */
@media screen {
	#document {padding-top : 0; }
}

#contenu .content{
	background:#fff; width:900px; padding:20px 18px; 
}

#contenu #lienLogo{
	height:53px;
	width:341px;
	display:block;
	margin : 10px 0px 0px 20px;
	cursor:default;
}


#contenu h2 { }
	
#contenu .menuItem{  width:130px; float:left; margin-right:5px; margin-top:25px; height:210px; }
#contenu .menuItem h2{ font-size:14px; text-align:center; padding:0px 7px; font-family: Arial, Helvetica, sans-serif; }
#contenu .menuItem p { font-size:11px; padding:10px; }
#contenu .menuItem ul { font-size:11px; margin-left:10px; margin-bottom:3px; }
#contenu .menuItem li { background:url(accueil_bg_lien_formation.gif) no-repeat 0px 4px; list-style-type: none; margin:0; padding:0px 0px 0px 8px; line-height:12px;  }
#contenu .menuItem li a { color:#23418c; text-decoration:underline; font-size:10px;  margin:0; padding:0px; }
#contenu .menuItem p.lireLaSuite{ margin:0; padding:0px; text-align:right; padding-bottom:5px;}
#contenu .menuItem p a { color:#23418c; text-decoration:underline; letter-spacing:-0.1em; text-align:right; font-size:10px; margin:0; padding:0px;}

#contenu #menu1 { margin-left:10px;}
html>body #contenu #menu1 { margin-left:20px;}
#contenu #menu1 h2 { margin:10px 0px 20px 0px; }
#contenu #menu1 h2 a { color:#588423; }

#contenu #menu2 { }
#contenu #menu2 h2{ margin:25px 0px 20px 0px; }
#contenu #menu2 h2 a  {color:#cf5100; }

#contenu #menu3 { }
#contenu #menu3 h2{ margin:50px 0px 20px 0px; }
#contenu #menu3 h2 a  { color:#d7330d;}

#contenu #menu5 {  }
#contenu #menu5 h2{ margin:35px 0px 40px 0px; }
#contenu #menu5 h2 a { color:#8f1a7c; }		

#contenu #menu4 {  }
#contenu #menu4 h2 { margin: 55px 0px 20px 0px; }
#contenu #menu4 h2 a { color:#89773C; }


#contenu #tagCloud { 
	float:left; 
	margin-top:50px; 
	width:215px; 
	height:185px; 
	margin-left:15px;
	overflow:hidden;
}
#contenu #tagCloud a{ 
	color:#a6b3df; 
	font-style:italic; 
	margin:10px;
	font-weight:bold; 
	line-height:20px;
} 
#contenu #tagCloud a.tag1{font-size: 10px;}
#contenu #tagCloud a.tag2{font-size: 11px;}
#contenu #tagCloud a.tag3{font-size: 12px;}
#actualite { }
#actualite h2 { 
	background:#fff url(accueil_bg_actualite.png) repeat-x 0px 8px; 
	font-size:15px; 
	color:#fe7203; 
	font-family: verdana; 
	padding-left:10px; 
	margin-bottom:10px;
	
}
#actualite h2 span{ 
	background-color:#fff; 
	padding:0px 3px; 
}
#actualite h2 span img { 
	margin-bottom:-2px; 
}
#actualite .item{
	width:31%; 
	float:left;
	margin:0px 0.5%;
}
html>body #actualite .item{
	margin:0px 1%;
}

#actualite .item img{ float:left; margin-right:2px;}
#actualite .item div { float:left; width:165px;}
#actualite .item h3{ 
	font-size:90%;
	margin-bottom:10px;
	background: url(accueil_fond_item_actualite.png) no-repeat top left;
	padding-left:20px;
}
#actualite .item h3 a { 
	color:#000; 
	font-size:90%;
}
#actualite .item p{
	font-size:x-small;	
	text-align:left;
	margin-left:20px;
}
#actualite #allNews{ margin-bottom:-20px; zoom:1; }
#actualite #allNews p { 
	margin-left:20px;
	margin-bottom:0px;
	padding:0px; 
	float:left; 
}
#actualite #allNews p a { 	
	font-size:90%;
	background: url(accueil_fond_item_actualite.png) no-repeat top left;
	padding-left:20px;
	color:#23418c; 
	text-decoration:underline; 
	font-size:12px;  
	margin:0px; 
	font-weight:bold;
}

#services{ } 
#services div { 
	width:auto;
}
#services a { 
	cursor:pointer;
	margin:0px; 
	padding:0px; 
	display:block;  
	color:#566f97; 
	font-weight:bold; 
	height:46px; 
	text-align:center;
	background-repeat: no-repeat;
	background-position: top left;   
}
#services a span  { 
	display:block; 
	background-repeat:no-repeat; 
	background-position:top right; 
	height:16px; 
	padding:15px 10px 15px 40px;
}
#lienEntreprise a span  { 
	background-image:url(accueil_fond_lien_entreprise_droite.png);
}
#lienNewsletter a span  { 
	background-image:url(accueil_fond_lien_newsletter_droite.png);
}
#lienEntreprise a { 
	background-image:url(accueil_fond_lien_entreprise.png); 
	width:380px;
}
#lienNewsletter a { 
	background-image:url(accueil_fond_lien_newsletter.png); 
	width:360px;
}
#lienEntreprise{
	height:46px; 
	margin-left:25px;
	float:left;
}
html>body #lienEntreprise{
	margin-left:250px;
}

#lienNewsletter{
	height:46px; 
	margin-right:40px;
	float:right;
}
html>body #lienNewsletter{
	margin-right:80px;
}
#basdepage { background:#fff; width:900px; padding:20px 18px;  height: 160px; }
#basdepage img { float:left; margin-right:5px; display:block; }
#basdepage div p { letter-spacing:-0.12em; letter-spacing:-0.05em; }
/*#basdepage div { float:left; display:block; background:#ffffff; font-size:85%;  max-width: 145px; width: 145px; margin-right:0px; }*/
#basdepage #siege { float:left; display:block; background:#ffffff; font-size:85%;  max-width: 180px; width: 180px; margin-right:0px; }
#basdepage #accueil { float:left; display:block; background:#ffffff; font-size:85%;  max-width: 180px; width: 180px; margin-right:5px; }
#basdepage #port { float:left; display:block; background:#ffffff; font-size:85%;  max-width: 180px; width: 180px; margin-right:0px; }
#basdepage #isfo { float:left; display:block; background:#ffffff; font-size:85%;  max-width: 180px; width: 180px; margin-right:0px; }
#basdepage div p strong { letter-spacing:normal;} 