/* CSS Document */

body {
	background-image: url(home_back.gif);
	background-repeat: repeat-y;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	background-color: #EAEBEB;
}
/*---------------- BANNER & NAVIGATION ----------------*/
#banner {
	width: 1005px;
	height: 52px;
}

#banner img {
	float: left;
}
#language {
	padding-top: 15px;
	font-family: Arial;
	font-size: 10px;
	color: #333366;
	width: 100px;
	float: left;
}
#language a {
	color: #333366;
	text-decoration: none;
}
#language a:hover {
	text-decoration: underline;
}
#navigation {
	padding-left: 314px;
	font-family: Arial;
	font-size: 12px;
	padding-top: 16px;
}
#navigation a {
	color: #666;
	text-decoration: none;
	display: block;
	float: left;
	width: 128px;
	height: 21px;
	margin-right: 54px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
	padding: 0px;
}
#navigation a:hover {
	text-decoration: none;
}
.nav_shopping {
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #68298F;
}
.nav_office {
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #b9E1F8;
}
.nav_convention {
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #F9BD19;
}
.nav_shopping:hover {
	color: #5a247c!important;
}
.nav_office:hover {
	color: #42a8d9!important;
}
.nav_convention:hover {
	color: #da9611!important;
}
/*---------------- GÈRE LES MARGE IE6 ----------------*/

* html #navigation {
	padding-left: 299px;
}
/*---------------- PAGE ---------------- */

#page {
	width: 1005px;
	background-color: #FFFFFF;
	float: left;
}
#page_bottom {
	color: #333366;
	font-family: Arial;
	font-size: 12px;
	margin: 0px;
	position: absolute;
	left: 21px;
	top: 700px;
}
#page_bottom a {
	color: #333366;
	text-decoration: none;
}
#page_bottom a:hover {
	text-decoration: underline;
}
/*---------------- MENU ----------------*/

#menu {
	margin-top: 45px;
	padding-top: 9px;
	padding-left: 13px;
	padding-right: 0;
	width: 203px;
	height: 568px;
	font-family: Arial;
	color: #666;
	font-size: 10px;
	float: left;
	background-color: #EAEBEB;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #979fa2;
	border-right-color: #979fa2;
	border-bottom-color: #979fa2;
}
#menu dl {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
}
#menu dt {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	display: block;
	padding-left: 17px;
	background-image: url(menu_puce.gif);
	background-repeat: no-repeat;
	color: #666;
}
#menu dt a {
	color: #666;
	text-decoration: none;
}
#menu dd {
	margin: 0px;
	line-height: 10px;
}
#menu dd a {
	color: #666;
	text-decoration: none;
	display: block;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 17px;
}
#menu dd a:hover {
	color: #FFFFFF;
	background-color: #AAA;
}
#menu .current {
	color: #FFFFFF;
	background-color: #666;
	padding-top: 2px;
	padding-bottom: 2px;
}
#content {
	padding-left: 0px;
}
#colonne1 {
	width: 316px;
	background-image: url(image01.jpg);
	background-repeat: no-repeat;
	height: 578px;
	float:left;
	padding-top: 120px;
	padding-left: 1px;
}
#news1 {
	background-color: #663399;
	padding-top: 5px;
	padding-bottom: 15px;
	padding-left: 20px;
	font-family: Arial;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 20px;
	-moz-opacity: 0.8;
	filter: Alpha(Opacity=80);
	opacity: 0.8;
	/* pour IE 6 */
	height : 1px;
}
/* pour les autres navigateurs */
* > #news1 {
	height: auto;
}
/* pour IE 7 */
*+html #news1 {
	min-height : 1px;
}
#colonne2 {
	width: 166px;
	background-image: url(image02.jpg);
	background-repeat: no-repeat;
	height: 698px;
	float:left;
}
#colonne3 {
	width: 299px;
	background-image: url(image03.jpg);
	background-repeat: no-repeat;
	height: 698px;
	float:left;
	padding-right: 6px;
}
* html #colonne3 {
	width: 290px;
}
#news3 {
	background-color: #663399;
	width: 255px;
	margin-top: 270px;
	padding-left: 20px;
	font-family: Arial;
	color: #FFFFFF;
	opacity: 0.8;
	filter: Alpha(Opacity=80);
	padding-bottom: 10px;
	padding-right: 30px;
	/* pour IE 6 */
	height: 1px;
}
* html #news3 {
	width: 246px;
}

/* pour les autres navigateurs */
* > #news3 {
	height: auto;
}
/* pour IE 7 */
*+html #news3 {
	min-height : 1px;
}
#news3 h1 {
	font-family: Verdana;
	font-size: 36px;
	font-weight: lighter;
	margin-top: 0;
	margin-bottom: 15px;
}
#news3 h5 {
	font-size: 14px;
	font-weight: lighter;
	margin-top: 0;
	margin-bottom: 15px;
}
#news3 p {
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 15px;
}
#news3 a {
	color: #ff9900;
	text-decoration: none;
	font-style: italic;
}
#news3 a:hover {
	text-decoration: underline;
	font-style: italic;
}
