




body {
  background: #ffffff;
  color: #000000;
  margin: 10px;
  padding: 0;
}

.netscape4,
.tabs,
.personalBar,
td.left,
td.right,
td.workspace,
div.documentActions,
div.message,
div.hidden,
div.headerActions,
div.searchBox,
div.fontColorFooterFontColors,
.footer,
.help,
.legend,
.rssExport,
.doNotPrint {
  display: none;
}

ul {
  list-style-image: none;
}

.editableDocument,
.document,
div.description,
.group {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

table.listing,
table.listing td {
  border: 1pt solid black;
  border-collapse: collapse;
}

a:link, a:visited {
  background: transparent;
  text-decoration: none;
}

pre{
  white-space: normal;
}

td.eventHeader {
  border: 1px solid black;
}
td.eventBody {
  border: 1px dotted black;
}

/* AGRICMSSITE skins  */
.boxShapeSeeAlsoShape,
table.publi_allink,
table.mediatheque_allink,
table.presse_allink,
.colorNoPrint,
.boxShapeBackOfficeShape,
.fontColorATNavTreeFontColors,
.fontShapeFooterShape,
.boxCornerPubliBOBYCorners,
.boxCornerPubliBOBYCorners,
.boxCornerPubliBOSearchCorners,
.boxShapeMagazineSommaireShape,
.boxCornerServiceDeptsCorners,
.boxCornerServiceRegionsCorners,
.boxCornerMediathequeCorners,
.boxCornerPresseComSearchCorners,
.boxCornerMenuThematiquesCorners,
.boxShapeATNavTreeShape,
.colorSearchBg{
  display: none;
}

div#searchMediatheque,
div#searchPublications,
div#searchPresse,
div#searchThematiques,
div#searchMinistere,
div#searchOutils,
div#searchResult,
#main_page{
 width:760px !important;
}
