<!-- INCLUDE : default.css.dtml -->









body {
  font: 70% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: black;
  margin: 0;
  padding: 0;
}

body .popup {
  font: 70% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #436976;
  background-color: transparent;
}

a.strong {
  font-weight: bold;
}

img {
  border: 0;
}

p {
  margin: 0.5em 0 1em 0;
  line-height: 1.2em;
}
p a {
  text-decoration: underline;
}
p a:visited {
  color: Purple;
  background-color: transparent;
}
p a:active {
  color: Red;
  background-color: transparent;
}
a:hover {
  text-decoration: none;
}
p img {
  border: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  background-color: transparent;
  font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  padding-top: 0.5em;
}
h1 {
  font-size: 140%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 130%;
  margin-bottom: 1em;
}
h3 {
  font-size: 120%;
}
h4 {
  font-size: 110%;
}
h5 {
  font-size: 105%;
}
h6 {
  font-size: 100%;
}

ol, ul {
  padding: 0;
  margin: 0;
  line-height: 1.2em;
}
ul a, ol a {
  text-decoration: underline;
}

dt {
  font-weight: bold;
}
dt a {
  text-decoration: none;
}

dd {
  line-height: 1.2em;
  margin-bottom: 1em;
}

legend {
  background: #ffffff;
  padding: 0.5em;
}

form {
  margin: 0;
}

form.workflow dl {
  font-weight: bold;
}

form.workflow dd {
  margin-left: 0;
}

/* Form layout taken from http://pompage.net/pompe/listesdefinitions/
WARNING: do not change since old versions of IE are highly sensitive to
slight modifications.
*/
dl.form {
  margin-left: auto;
  margin-right: auto;
  width: 41.1em;
  padding: 0;
}

dl.form dt {
  width: 15em;
  float: left;
  margin: 0;
  padding: .5em;
  text-align: right;
}

/* hack comment with backslash for ie5 mac \*/
dl.form dt { clear: both; }
/* end hack */

dl.form dd {
  float: left;
  width: 24em;
  margin: 0;
  padding: .5em;
}

form p.buttonArea {
  text-align: center;
  clear: both;
}
/* End of Warning */

textarea {
  color: black;
  background-color: white;
  font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}
input {
  font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
  vertical-align: middle;
}
select {
  font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  vertical-align: top;
}
abbr, acronym, .explain {
  color: black;
  background-color: transparent;
}
q, blockquote {
  font-style: italic;
  font-size: 120%;
}
code {
  font-size: 120%;
  color: black;
  background-color: #eeeeee;
}
pre {
  font-size: 100%;
  padding: 1em;
  border: 1px solid #29287B;
  color: black;
  background-color: #eeeeee;
  overflow: auto;
}


table.columns {
  width: 100%;
}
table.columns td.left {
  vertical-align: top;
  padding-top: 1em;
  background: #9cb2cd;
}
table.columns td.main {
  vertical-align: top;
  padding-top: 1em;
}
table.columns td.right {
  vertical-align: top;
  padding-top: 1em;
  background: #eeeeee;
}


#idioma p {
  margin-top: 0;
}

.logo {
  margin: 0.2em 0em 0.3em 1em;
  padding: 0;
}

.note {
  font-size: smaller;
}

.even {
  background-color: #eeeeee;
}

.odd {
  background-color: white;
}

.pending {
  font-weight: bold;
  color: #ffa500;
}

.work {
  font-weight: bold;
  color: blue;
}

.draft {
  font-weight: bold;
  color: #5555ff;
}

.published {
  font-weight: bold;
  color: #22a522;
}

.deferred {
  font-weight: bold;
  color: #ff6600;
}

.expired {
  font-weight: bold;
  color: #ff0033;
}

.locked {
  border: 1px solid #ff6600;
  color: #ff6600;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.url {
  color: #006600
}

input.standalone {
  background: #eeeeee url(linkOpaque.png) 4px 4px no-repeat;
  background-image: none;
  color: black;
}

input.context {
  background: #ffffff url(linkOpaque.png) 4px 4px no-repeat;
  background-image: none;
  color: Black;
}

input.destructive {
  background: #ffce7b url(linkOpaque.png) 4px 4px no-repeat;
  background-image: none;
  color: black;
}

button {
  font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  background: #eeeeee url(linkOpaque.png) 4px 4px no-repeat;
  color: black;
  background-image: none;
  vertical-align: middle;
}


div.batchLayout {
  text-align: right;
  background-color: #eeeeee;
}

div.pageNavigationLayout {
  text-align: center;
  background-color: #eeeeee;
}

.contact {
  text-align: center;
  margin: 0;
  padding: 1px 0 1px 0;
}

div.message {
  background: #ffca31;
  color: black;
  font: normal 110% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  margin: 1em 0;
  padding: 0.5em 1em;
  vertical-align: middle;
}

div.message a {
  background: #ffca31;
  color: black;
  text-decoration: underline;
}

div.description {
  font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  display: block;
  margin-bottom: 0.5em;
  line-height: 1.2em;
}

div.documentActions {
  float: right;
  margin-top: 1em;
}

div.documentActions li {
  display: inline;
}

div.searchBox {
  float: right;
  text-align: right;
  padding: 0;
  margin: 0em 1em 0em 0em;
  clear: right;
}

div.headerActions {
  float: right;
  text-align: right;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 4px;
}

div.headerActions li {
  display: inline;
}

div.pathBar {
  padding: 1px 1em 1px 1em;
  text-transform: none;
}

div.row {
  clear: both;
}

div.label {
  font-weight: bold;
}

div.field {
  padding: 0 0 0 0;
  text-align: left;
}

span.legend {
  font-weight: bold;
}

div.popupImg {
  padding: 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.hiddenItem {
  background-color: #eeeeee;
}

div.contentTabs {
  padding: 0 0 0 1em;
  margin: 0;
}
div.contentTabs a {
  background-color: transparent;
  color: #578308;
  font-weight: normal;
}
div.contentTabs a.selected {
  background-color: #003a6b;
  color: #578308;
  font-weight: normal;
}


span.selectedLang {
  background: #003a6b;
  color: #ffffff;
  font-weight: bold;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
a.availableLang {
  text-decoration: underline;
}
a.availableLang:hover {
  text-decoration: none;
}

table.box tr.title {
  color: white;   background-color: #003a6b;
}
table.box tr.odd {
  background: white;
}
table.box tr.even {
  background: #eeeeee;
}


div.box {
  margin: 0 0 1em 0;
}
div.box .title {
  font-weight: bold;
  text-transform: none;
}
div.box .title2 {
  font-size: 120%;
  font-weight: bold;
}
div.box a.close {
  border: 0;
}
div.box .content {
  padding: 0.7em;
}
div.box ul {
  margin-left: -1em;
  padding: 0;
}
div.box a.selected {
  background: #ffca31;
}

.workspace {
  background: #cde2a7;
}

.conformanceStatement {
  text-align: center;
}

.conformanceStatement li {
  display: inline;
}

.conformanceStatement img {
  margin: 1em;
}


.CalendarArrow {
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.CalendarTitle {
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

p.help {
  font-style: italic;
}

table.calendar td {
  white-space: nowrap;
  background-color: white;
  width: 1.5em;
}

table.calendar a {
  text-decoration: none;
  color: black;
}

table.calendar td.event {
  background-color: #eeeeee;
  text-decoration: none;
}

table.calendar td.todayevent {
  background-color: #eeeeee;
}

table.calendar td.weekdays {
  background-color: #eeeeee;
}

table.calendar th {
  background-color: #eeeeee;
  white-space: nowrap;
}

table.localRoleForm th {
  text-align: left;
}

span.highlightedSearchTerm {
  background-color: yellow;
}

/* hack for IE6 bugs */
/* Hides from IE5-mac \*/
* html .group {height: 1%}
* html div.box {height: 1%}
* html div.box .content {height: 1%}
* html div.document {height: 1%}
/* End hide from IE-mac */

.netscape4 {
  display: none;
}

img {
  vertical-align: middle;
}

table {
  font-size: 100%;
}

hr {
  height: 1px;
  color: #838183;
  background-color: rgb(131, 129, 131);
  border:none;
  margin:10px auto;
}

h1, h2 {
  border-bottom: 1px solid #838183;
}

form {
  border: none;
}

textarea {
  border: 1px solid #003a6b;
  padding: 0.1em;
}
input {
  border: 1px solid #003a6b;
  margin-bottom: 1px; /* IE bug fix */
  padding: 0.1em;
}
select {
  font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  border: 1px solid #003a6b;
  vertical-align: top;
}

abbr, acronym, .explain {
  border-bottom: 1px dotted black;
  cursor: help;
}

ol, ul {
  padding-left: 3em;
  margin: 0;
}

.content li, #content li {
  padding: 0 0 0.4em 0;
}

ul.fileChoice {
  padding-left: 0;
  list-style-type: None;
}

button {
  background: #ffffff 4px 4px no-repeat;
  border: 1px solid #003a6b;
  margin: 0.2em;
  padding: 0.1em;
  font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}

button:hover {
  background: #cccccc 4px 4px no-repeat;
}

input.standalone {
  background: #eeeeee url(linkOpaque.png) 4px 4px no-repeat;
  cursor: pointer;
  font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding: 1px 1px 1px 15px;
  text-transform: none;
}

input.standalone:hover {
  background: #cccccc url(linkOpaque.png) 4px 4px no-repeat;
}

input.context {
  background: #ffffff url(linkOpaque.png) 4px 4px no-repeat;
  cursor: pointer;
  font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding: 1px 1px 1px 15px;
  text-transform: none;
}

input.context:hover {
  background: #cccccc url(linkOpaque.png) 4px 4px no-repeat;
}

input.destructive {
  background: #ffce7b url(linkOpaque.png) 4px 4px no-repeat;
  border: 1px solid #ffa500;
  cursor: pointer;
  font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding: 1px 1px 1px 15px;
  text-transform: none;
}

input.destructive:hover {
  background: #ffaf29 url(linkOpaque.png) 4px 4px no-repeat;
  border: 1px solid #ff6a00;
}

input.noborder {
  background: transparent;
  border: none;
  margin: 0;
}

input.searchButton {
  font-size: 100% ! important;
  margin-bottom: 1px ! important;
}

input.moveUp {
  background: white url(moveItemsUp.png) 4px 4px no-repeat;
}
input.moveDown {
  background: white url(moveItemsDown.png) 4px 4px no-repeat;
}
input.moveTop {
  background: white url(moveItemsTop.png) 4px 4px no-repeat;
}
input.moveBottom {
  background: white url(moveItemsBottom.png) 4px 4px no-repeat;
}


table.columns td.left {
  background: #9cb2cd;
}
table.columns td.right {
  background: #eeeeee url('rightcol_bg.png') repeat-y;
}

table.listing {
  width: 100%;
}

table.listing caption {
  font-weight: bold;
  font-size: large;
}

table.listing td {
  padding: 0.4em;
}

table.listing thead td {
  background-color: #003a6b;
  color: white;
  text-align: center;
  font-weight: bold;
}

table.listing tbody td {
  background-color: #eeeeee;
  color: black;
}

table.listing tbody tr.odd td {
  background-color: #f0f7ff;
  color: black;
}

table.listing tbody tr.even td {
  background-color: #eeeeee;
  color: black;
}

table.listing .action {
  font-weight: bold;
  text-align: left;
}

table#subscriptions td {
  text-align: center;
}

table#subscriptions .action {
  text-align: left;
}

table.localRolesAssignment {
  width: 100%;
  padding: 0;
  margin: 0.4em;
  margin-bottom: 2em;
  border: 0.1em solid black;
}

table.localRolesAssignment td.assignedRole {
  text-align: center;
}

table.localRolesAssignment td.inheritedRole {
  text-align: center;
  background: #ffff99;
}

span.inheritedRole {
  background: #ffff99;
}

table.localRolesAssignment td.inheritedBlockedRole {
  text-align: center;
  background: #ff9999;
}

span.inheritedBlockedRole {
  background: #ff9999;
}


div.top {
  background: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
}

.contact {
  background: #eeeeee;
  border-top: 1px solid #003a6b;
  border-bottom: 1px solid #003a6b;
  width: 100%;
}

div.document {
  font: 120% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  background: White;
}

div.message {
  border: 0.2em solid black;
}


div.searchBox {
  background-color: transparent;
  color: black;
  text-transform: none;
  width: 40%;
}

div.pathBar {
  border-bottom-color: #838183;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

div.row {
  margin: 0 0 0.5em 0;
  position:relative;
}

div.label {
  font-weight: bold;
  display: inline;
}

.required {
  padding-right: 0.5em;
  background: url(required.png) right no-repeat;
}

.error {
  background: #ffca31;
  border: 0.2em solid black;
  padding: 1em;
  margin: 0;
}

div.field {
  margin-top: 0.2em;
}

span.legend {
  background: White;
  font-size: 80%;
  padding: 0.5em;
  position : relative;
  top: -0.8em;
  left: 0;
}

.group {
  border: 1px solid #003a6b;
  margin: 1em 0 1em 0;
  padding: 0.7em 0.7em 0.7em 0.7em;
}


ul.menuTabs {
  float: left;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #838183;
  padding: 0.5em 0 0 0;
}
ul.menuTabs li {
  float: left;
  background: #9cb2cd url("opentab.png") no-repeat left top;
  margin: 0 0 0 0.5em;
  padding: 0 0 0 3px;
  list-style: none;
}
ul.menuTabs a {
  display: block;
  float: left;
  width: 0.1em;
  padding: 0 10px 0 7px;
  color: white;
  background: #9cb2cd url("closetab.png") no-repeat right top;
  font-weight: normal;
  text-decoration: none;
  white-space: nowrap;
}
ul.menuTabs li > a {width:auto;}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
ul.menuTabs a {float:none;}
/* End IE5-Mac hack */
ul.menuTabs li.selected, ul.menuTabs li:hover {
  background: #003a6b url("opentab.png") no-repeat left top;
}
ul.menuTabs li.selected a, ul.menuTabs li a:hover {
  color: white;
  background: #003a6b url('closetab.png') no-repeat right top;
}


#menuSectionsAndWorkspaceRoot li.workspace {
  background: #cde2a7 url("opentab.png") no-repeat left top;
}
#menuSectionsAndWorkspaceRoot li.workspace a {
  color: #000;
  background: #cde2a7 url("closetab.png") no-repeat right top;
}
#menuSectionsAndWorkspaceRoot li.workspace.selected, #menuSectionsAndWorkspaceRoot li.workspace:hover {
  background: #297b28 url("opentab.png") no-repeat left top;
}
#menuSectionsAndWorkspaceRoot li.workspace.selected a, #menuSectionsAndWorkspaceRoot li.workspace a:hover {
  color: #fff;
  background: #297b28 url('closetab.png') no-repeat right top;
}


div.contentTabs {
  background: transparent;
  border-collapse: collapse;
  border-bottom-color: #838183;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 0.5em 0 0 2em;
  white-space: nowrap;
}

div.contentTabs a {
  background: transparent;
  border-color: #838183;
  border-width: 1px;
  border-style: solid none none none;
  color: #578308;
  font-weight: normal;
  height: 1.2em;
  margin-right: 0;
  padding: 0 0.5em;
  text-transform: none;
}

div.contentTabs a.selected {
  background: #cde2a7;
  border-top: 1px solid #838183;
  border-bottom: 1px solid #cde2a7;
  color: #578308;
  font-weight: normal;
}

div.contentTabs a:hover {
  background: #cde2a7;
  border-color: #838183;
  border-bottom-color: #cde2a7;
  color: #578308;
}

div.contentTabs .opentab {
  background: transparent url('opentab.png') no-repeat top left;
}

div.contentTabs .closetab {
  background: transparent url('closetab.png') no-repeat top right;
}

div.contentTabs .opentabSelected {
  background: #cde2a7 url('opentab.png') no-repeat top left;
  border-bottom: 1px solid #cde2a7;
}

div.contentTabs .closetabSelected {
  background: #cde2a7 url('closetab.png') no-repeat top right;
  border-bottom: 1px solid #cde2a7;
}


table.box tr.odd ul, table.box tr.even ul {
  margin-left: 2em;
}

div.box {
  border: none;
}
div.box .title {
  color: white;
  background-color: #003a6b;
  border: 1px solid #838183;
  border-style: solid solid none solid;
  padding: 0.2em 0.2em 0.2em 1em;
}
div.box .title2 {
  border: 1px solid #838183;
  border-style: none none solid none;
  padding: 0;
  margin-bottom: 1em;
}
div.box .title a {
  background-color: #003a6b;
  color: white;
}
div.box .body {
  border: 1px solid #838183;
}
div.box ul {
  list-style-image: url("bullet.png");
  margin-left: 1em;
}
div.box a.close {
  background-color: transparent;
  float: right;
  text-transform: none;
  margin-top: -2px;
}
div.box .even {
  background-color: #eeeeee;
}
div.box .odd {
  background-color: white;
}
div.box .highlight {
  border: 2px solid #ffa500;
}

table.calendar {
  border: 1px solid #838183;
  text-align: right;
}

table.calendar a:hover {
  text-decoration: none;
}

table.calendar th {
  border: none;
  font-weight: bold;
  text-align: center;
}

table.calendar td {
  width: 1.5em;
}

table.calendar td.weekdays {
  border: 1px solid #838183;
  border-style: solid none;
  text-align: center;
}

table.calendar td.event {
  font-weight: bold;
}

table.calendar td.todayevent {
  border: 2px solid #ffa500;
  font-weight: bold;
}

table.calendar td.todaynoevent {
  border-collapse: collapse;
  border: 2px solid #ffa500;
}

.tooltipControl {
  color: #000000;
  background: #ffffe1;
  border: 1px solid #000000;

  margin-left: 1em;
}

.tooltipControl:hover {
  background: #ffffb8;
}

.tooltipArea {
  color: #000000;
  background: #ffffe1;
  border: 1px solid #000000;
  padding: 0.8em;
  font-weight: normal;
  font-size: 80%;
  text-align: left;

  position: inherit;
  left: -15em;
  top: 1.5em;
  width: 20em;

  visibility: hidden;
  display: none;
  z-index: 1000;
}

div.mailboxerNoArchive {
  border-top: solid;
  border-width: 1px;
}

td.mailboxerMonth {
  background-color: #eeeeee;
  text-align: center;
}

div.bookSummary {
  width: 100%;
  border: 1px solid black;
  padding: 0.5em;
}

div.bookSummaryNav {
  text-align: center;
  width: 100%;
  background-color: #eeeeee;
}

li.summaryEntries {
  margin: 0.5em;
}

div.bookPageHeader {
  border-bottom: 1px solid black;
}

div.bookPageNavigation {
}

div.bookPageInfo {
  float: right;
}


#byline {
  clear: both;
  text-align: right;
  border-top: solid 1px;
  margin-top: 2em;
}

div.xmlExports {
  text-align: right;
}

span.rssExport a, span.rssExport a:visited, span.rssExport a:hover {
  border: 0.1em outset #ff6600;
  background: #ff6600;
  color: #ffffff;
  padding: 0 0.3em 0 0.3em;
  font: bold 70% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  text-decoration: none;
}

span.atomExport a, span.atomExport a:visited, span.atomExport a:hover {
  border: 0.1em outset #ff6600;
  background: #ff6600;
  color: #ffffff;
  padding: 0 0.3em 0 0.3em;
  font: bold 70% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  text-decoration: none;
}


div.hidden {
  visibility: hidden;
  display: none;
}

div.visible {
  visibility: visible;
  display: block;
}

#advancedSearchForm {
  font-size: 90%;
}

#advancedSearchZCText {
  text-align: right;
}

p.advancedSearchButton {
  text-align: right;
}

#advancedSearchForm fieldset {
  border: none;
  border-left: 1px solid #838183;
  border-bottom: 1px solid #838183;
  padding: 0.5em;
  margin: 0.5em;
}

span.advancedSearchColumn {
  padding-left: 1em;
  float:left;
  width:12em;
}



<!--INCLUDE : boxes.css.dtml-->

div.subfolderItem {
  float: left;
  width: 50%;
  margin-bottom: 0.5em;
}

span.subfolderItemTitle {
  font-weight: bold;
}

hr.spacer {
  clear: both;
  visibility: hidden;
}

<!--INCLUDE : msie.css-->

<!--INCLUDE : cpsskins_common-css2.css.dtml-->

html, body {
  height: 100%;
}

/* */
input, select, textarea, button {
  border: 1px solid #336699;
  background-color: #f9f9f9;
  margin: 3px;
}

input, button {
  padding: 0.1em;
}

input[type="radio"], input[type="checkbox"] {
  border: none;
}

.fileview {
  padding: 3px;
}

.statusmessage {
  padding: 3px;
  margin-bottom: 9px;
}

input.SearchBox {
  background: url("search_icon.png"); 
  background-repeat: no-repeat;
  background-position: center left;
  padding: 2px 2px 2px 20px;
  background-color: #fcfcfc;
  border: 1px solid #b0b0b0;
}

/* Portal boxes */

/* Standard vertical layout */
.cpsskinsBox ul.cpsskinsMenu, .cpsskinsBox ul.cpsskinsMenu li {
  margin: 0px;
  padding: 0px;
  line-height: normal;
  list-style-type: none;
  display: inline;
}

.cpsskinsBox ul.cpsskinsMenu li a {
  display: block;
  background-repeat: no-repeat;
  background-position: left top;
}

.cpsskinsBox ul.cpsskinsMenu li a.noicon,
.cpsskinsBox ul.cpsskinsMenu li.selected a.noicon {
  background-image: none !important;
  padding-left: 2px !important;
}

/* Item description */
.cpsskinsBox ul.cpsskinsMenu li a span.itemDescription {
  font-size: 85%;
  display: block;
}

.cpsskinsBox div.xmlExportButtons {
  text-align: right;
  padding-top: 1em;
}

.cpsskinsBox div.xmlExportButtons a {
  border: 0.1em outset #ff6600;
  background: #f60;
  color: #fff !important;
  font: bold 70% 'Lucida Grande', Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 0 0.3em 0 0.3em;
  margin: 0 0.1em 0 0.1em;
}


/* horizontal layout (tabs) */
.cpsskinsTab ul.cpsskinsMenu, .cpsskinsTab ul.cpsskinsMenu li {
  margin: 0px;
  padding: 0px;
  line-height: normal;
  list-style-type: none;
  display: inline;
}

.cpsskinsTab ul.cpsskinsMenu li a {
  display: inline;
  background-repeat: no-repeat;
  background-position: left center;
}

/* Item description */
.cpsskinsTab ul.cpsskinsMenu span.itemDescription {
  display: none;
}

.cpsskinsTab div.xmlExportButtons {
  display: none;
}

/* Buttons (min/max/close/edit) */
.cpsskinsBox .buttons {
  display: block;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.cpsskinsBox .buttons a {
  float: right;
}

/* Rounded Tabs */
.cpsskinsTabs {
  float: left;
  width: 100%;
  text-align: left;
  line-height: normal;
}

.cpsskinsTabs ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cpsskinsTabs li {
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
}

.cpsskinsTabs a {
  float: left;
  display: block;
  text-decoration: none;
  margin-left: 0 !important;
}
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
.cpsskinsTabs a {
  float: none;
}
/* End IE5-Mac hack */

/* Item description */
.cpsskinsTabs ul.cpsskinsMenu span.itemDescription {
  display: none;
}

.cpsskinsTabs div.xmlExportButtons {
  display: none;
}

/* Drop-down menus */
.cpsskinsTabs li ul {
  display: none;
  position: absolute; 
  left: 0;
}

.cpsskinsTabs li > ul {
  top: auto;
  left: auto;
}

.cpsskinsTabs li:hover ul, .cpsskinsTabs li.over ul {
  display: block;
}

/* Box corners */
.cpsskinsBoxCorners .rbtop div {
  position: relative;
  left: -2px;
  width: 100%;
}
.cpsskinsBoxCorners .rbtop {
  position: relative;
  right: -1px;
  top: -1px;
  width: 100%;
}
.cpsskinsBoxCorners .rbbot div {
  position: relative;
  left: -2px;
  width: 100%;
}
.cpsskinsBoxCorners .rbbot {
  width: 100%;
  position: relative;
  bottom: -1px;
  right: -1px;
}


/* Monthly calendar */
.cpsskinsCalendar { 
  text-align: center;
  border-collapse: collapse;
}
.cpsskinsCalendar .event { 
  border-width: 1px;
  border-style: solid;
}
.cpsskinsCalendar .event a { 
  font-weight: bold;
}
.cpsskinsCalendar .todaynoevent { 
  border-width: 2px;
  border-style: solid;
}
.cpsskinsCalendar .todayevent { 
  border-width: 2px;
  border-style: solid;
}
.cpsskinsCalendar .todayevent a { 
  font-weight: bold;
}
.cpsskinsCalendar .header { 
  font-weight: bold;
}
.cpsskinsCalendar .weekdays td { 
  border-width: 1px;
  border-style: solid none solid none;
}
.cpsskinsCalendar .preview {
  border-width: 1px;
  border-style: solid;
  padding: 0.2em;
  margin-top: 0.5em;
  position: absolute;
  visibility: hidden;
  width: 12em;
  text-align: left;
}

.hidden {
  display: none;
}


