div.content-left {
 position : static !important;
}

p#easy-access {
	display: none;
}

div.content-div h5 {
	background-image:url(page-content-subsubmenu-minus.gif) !important;
	border-bottom:medium none !important;
}

div.content-div div.accordion div.p-highlight {
	display: block !important;
}

div.researchandaccess div {
	display: none !important;
}

div.leftcolumn div.menu-niv1 {
	display: none !important;
}

table#runtime-toolbar-Runtime_Toolbar {
	display: none !important;
}

div.leftcolumn div.submenu {
	display: none !important;
}

div.leftcolumn div.innertube .hidden-L {
	display: none;
}

div.leftcolumn div.innertube {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

div.leftcolumn div.innertube div {
	display: none !important;
}

div.footer div.footerlinks {
	display: none !important;
}

div.content-focus .tools {
	display: none !important;
}

div.content-focus .find-labo {
	display: none !important;
}

div.contentcolumn {
	margin: 0 !important;
}

div.contentwrapper {
	border-top: none !important;
}

.hidden-L {
	float: none !important;
	position: static !important;
	left: 0 !important;
}

span.hidden-D {
	display: inline;
}

div.hidden-D {
	display: block;
}

div.contentcolumn .innertube h2.hidden-L {
	display: none;
}

/* UPMC Evols 2009 4.2.13*/
div.content, div.content-left {
	font-size : 13px !important;	
}

div.content div.content-left {
	margin-right : 0;	
}

div.content div.content-focus {
	display: none !important;
}
/**/