/*@charset "UTF-8";
 CSS Document */
/* COUL bleuciel /!\ NE CHANGER QUE : les ref couleurs et la partie faisant référence au couleurs dans les noms des images de fond */


/* @group Tp ACCUEIL */

html {
	background :transparent url(home-html-background-bleuciel.gif) repeat-y 16.4em 0;
}


div.leftcolumn {
	background :#fff url(home-leftcolumn-appendix-bleuciel.gif) no-repeat right 298px;
}

/* @group Right Column */

div.rightcolumn {
	background :#00B3DF url(rightcolumn-background-bleuciel.jpg) no-repeat right 22px;
}

div.rightcolumn ul ul li, div.rightcolumn ul ul li a{
	color:#d6eef7;
}

/* @end */


div.contentcolumn .innertube{
	background :transparent url(contentcolumn-appendix-bleuciel.gif) no-repeat left 410px;
}

/* @group Footer */

div.footer .footerlinks, div.footer .footerlinks a{ 
	color:#d6eef7;
}

div.footer .footerlinks .innertube{
	border-color:#d6eef7;
}

td.cms-only-rightcolumn, div.footerlinks-cms {
	background-color: #00B3DF;
}
/* @end */

/* @end */