/* CSS Document */
/* Feuille de style pour l'impression */
@page { 
	size: portrait;
	margin: 2cm;
}

a { color: #208dbc; text-decoration: none; }

body { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%;
	background-color: #FFFFFF;
	text-align: left;
}

#global {
	margin: 0;
	padding: 0;
}

#content {
	width: 100%;
}

h2 {
	color:#ff6200;
}
h3 {
	color:#208dbc;
	border-bottom: 1px dotted #8d8d8d;
}

#menu, #footer, #left, #search, #vousetes, #header, hr {
	display: none;
}

img {
	border: 0;
}

/* Informations pratiques */

h5.info {
	color: #ff6200;
	font-size: 1.2em;
	margin-top: 3em;
}

h3.soustitre {
	border: none;
	color: #453A2F;
	font-size: 1.3em;
	font-weight: normal;
	margin-top: 0;
	padding: 0;
}

/* Tableaux */
table.spip {
	margin-bottom: 1em;
	border: 1px solid #00496c;
	border-collapse: collapse;
	width: 100%; }
table.spip caption {
	caption-side: top; /* bottom pas pris en compte par IE */
	text-align: center;
	margin: auto;
	padding: 3px;
	font-weight: bold; }
table.spip tr.row_first { background: #bfd5e0; }
table.spip tr.row_odd { background: #FFF; }
table.spip tr.row_even { background: #ececec; }
table.spip th, table.spip td { padding: 0.5em; text-align: left; vertical-align: middle; /*border: 1px solid #00496c;*/ }