@charset "utf-8";
/* CSS Document */

/* CSS Document */
*{
/*---------------------------*/
/*-- TOUTES LES MARGES A 0 --*/
/*---------------------------*/
margin:0;
padding:0;
}
body{
	font-size:62.5%;
	font-family:Arial, Helvetica, sans-serif;
	color:#002965;
	background:#324357 url(bg-disclaimer.gif) repeat-x;
}
.wrapper{
	position:relative;
	margin:0 auto;
	width:410px;
	background:url(bg-disclaimer-content.gif) no-repeat;
	height:322px;
	padding-top:78px;
}
.wrapper p{text-align:center; font-size:1.2em;}
p.logo{margin-bottom:20px;}
p.champ{margin-top:20px;margin-bottom:2px; line-height:18px;}
p.champ input{border:solid 1px #003970;font-family:Arial, Helvetica, sans-serif; vertical-align:top;}
p.champ span{ width:35px; height:18px;}
p.error{ color:#ff0000; font-weight:bold;margin-top:10px;}
p.mention{ position:absolute; top:336px; color:#c6ced6; font-size:1em; text-transform:uppercase; left:5px;width:400px;text-align:center}