body {
	scrollbar-base-color: #5289CC;
	scrollbar-3dlight-color: #69B1FF;
	scrollbar-highlight-color: #5289CC;
	scrollbar-face-color: #5289CC;
	scrollbar-shadow-color: #5289CC;
	scrollbar-darkShadow-color: #365B85;
	scrollbar-arrow-color: #ffffff;
	scrollbar-track-color: #dddddd;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.arial_Titre {
	font-family:arial, helvetica;
	font-size:17px;
	font-weight: bold;
	color: #00477A;
}

.ongle_Titre {
	background-color : #2673B2;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 13;
	font-weight : bold;
}

.arial_16 { 
	font-family:arial,helvetica;
	font-size:16px; 
}

.arial_15 { 
	font-family:arial,helvetica;
	font-size:15px; 
}

.arial_14 { 
	font-family:arial,helvetica;
	font-size:14px; 
}

.arial_13 { 
	font-family:arial,helvetica;
	font-size:13px; 
}

.arial_12 {
	font-family:arial, helvetica;
	font-size:12px;
	color: #282828;
}

.arial_11 {
	font-family:arial, helvetica;
	font-size:11px;
}

.arial_11_just {
	font-family:arial, helvetica;
	font-size:11px;
	text-align: justify;
}

.arial_11_just_ital {
	font-family:arial,helvetica;
	font-size:11px;
	text-align: justify;
	font-style: italic;
}

.arial_10 {
	font-family:arial,helvetica;
	font-size:10px;
	font-weight: bold;
}

.arial_10_just {
	font-family:arial, helvetica;
	font-size:10px;
	font-weight: bold;
	text-align: justify;
}

.arial_10_bold_blueclaire {
	font-family:arial, helvetica;
	font-size:10px;
	font-weight: bold;
	color: #44949D;
	text-decoration: none;
}

.verdana_10 {
	font-family:verdana,geneva;
	font-size:10px;
}

a:link {
	color: #00477A;
}

a:visited {
	color: #00477A;
}

a:hover {
	color: #007BD4;
}

a:active {
	color: #007BD4;
}

.Menu {
	font-family:arial, helvetica;
	font-size:11px;
	font-weight: bold;
	color: #00477A;
	text-decoration: none;
}

.MenuOver {
	font-family:arial, helvetica;
	font-size:11px;
	font-weight: bold;
	color: #007BD4;
	text-decoration: none;
}

.SousMenu {
	font-family:arial, helvetica;
	font-size:11px;
	font-weight: normal;
	color: #00477A;
	text-decoration: none;
}

.SousMenuOver {
	font-family:arial, helvetica;
	font-size:11px;
	font-weight: normal;
	color: #007BD4;
	text-decoration: none;
}

ol {
	margin-top : 0px;
	margin-bottom : 0px;

}
ul {
	list-style-type: disc;
	margin-top : 0px;
	margin-bottom : 0px;
	margin-left: 15px;
}


#blue	{ color: #00477A; }
#light_blue	{ color: #007BD4; }
#red	{ color: #DF0000; }
#white	{ color: #ffffff; }
#black	{ color: #000000; }
#grey	{ color: #808080; }

