/* SLIMBOX */

#lbOverlay {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #000;
	cursor: pointer;
	z-index:9998;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	left: 50%;
	overflow: hidden;
	background-color: #fff;
	border: 2px solid #000;
	z-index:9999;
}
#lbCenter {
	border-width: 1px 1px 0 1px;
}
#lbBottomContainer {
	border-width: 0 1px 1px 1px;
}
.lbLoading {
	background: #fff url(loading.gif) no-repeat center;
}

#lbImage {
	border: 10px solid #fff;
	background-repeat:no-repeat;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url(http://www.pukkelpop.be/design/images/slimbox/prevlabel.gif) no-repeat 0% 0%;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url(http://www.pukkelpop.be/design/images/slimbox/nextlabel.gif) no-repeat 100% 0%;
}

#lbBottom {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}
#lbCaption {
	font-weight: bold;
}

#lbBottom a{ white-space:nowrap; cursor:pointer; font-size:14px; padding:8px 7px 0; text-transform:uppercase; display:block; height:19px; display:block; color:#FFF; background:url(button_background.png) no-repeat 0 0; width:auto; float:right; margin-left:10px; }
#lbBottom a:hover{ color:#000; background:url(button_background.png) no-repeat 0 -27px; }

/*
#lbBottom a {
	padding: 4px 10px;
	border: 1px solid #e3e3e3;
	background-color: #ffffff;
	color: #000000;
	text-decoration: none;
}
#lbBottom a:hover {
	border: 1px solid #CCCCCC;
	background-color: #f9f9f9;
	color: #666666;
}
#lbBottom #lbCloseLink {
	display: block;
	background-image: url(../images/slimbox/close.gif);
	background-repeat: no-repeat;
	background-position: 8% 50%;
	margin: 5px 0 0 0;
	padding-left: 25px;
	line-height: 22px;
	float: right;
	text-align: center;
}

#lbBottom #lbSaveLink {
	display: block;
	background-image: url(../images/icons/save.gif);
	background-repeat: no-repeat;
	background-position: 8% -56px;
	margin: 5px 5px 0 0;
	padding-left: 25px;
	line-height: 22px;
	float: right;
	text-align: center;
}

#lbBottom #lbCaptionPrevLink, #lbBottom #lbCaptionNextLink {
	display: block;
	margin: 5px 5px 0 0;
	line-height: 22px;
	float: left;
	text-align: center;
}
#lbBottom #lbCaptionPrevLink {
	background-image: url(../images/slimbox/prev.gif);
	background-repeat: no-repeat;
	/*background-position: 8% 50%;*/
	/*padding-left: 25px;/
	background-position:50% 50%;
	height:22px;
	width:22px;
}
#lbBottom #lbCaptionNextLink {
	background-image: url(../images/slimbox/next.gif);
	background-repeat: no-repeat;
	/*background-position: 92% 50%;*/
	/*padding-right: 27px;*
	background-position:50% 50%;
	height:22px;
	width:22px;
}*/
#lbNumber {
	font-style: italic;
	display:none;
}


#lbCaption span {
background:#000000;
color:#FFFFFF;
font-size:15px;
line-height:23px;
padding:0 5px 2px;
}

#lbCaption a{background:none; border:0; padding:0;}
#lbCaption a:hover{background:none; border:0; padding:0;}
#lbCaption a.photographer {background:url(http://www.pukkelpop.be/design/images/icons/camera.gif) no-repeat 0 -63px; padding:2px 0 2px 20px; display:inline-block;}

#lbCaption a.flickr {background:url(flickr.gif) no-repeat 0 0; padding:2px 0 2px 20px; display:inline-block;}
#lbCaption a.lastfm {background:url(lastfm.gif) no-repeat 0 0; padding:2px 0 2px 20px; display:inline-block;}

#lbBottom a#lbCaptionNextLink{background: url(arrows.gif) no-repeat -30px 0; width:30px; height:17px; text-indent:-9000px; display:block; float:left; margin:10px 10px 0 0; padding:0;}
#lbBottom a#lbCaptionNextLink:hover {background-position: -30px -17px;}
#lbBottom a#lbCaptionPrevLink{background: url(arrows.gif) no-repeat 0 0; width:30px; height:17px; text-indent:-9000px; display:block; float:left; margin:10px 10px 0 0; padding:0;}
#lbBottom a#lbCaptionPrevLink:hover {background-position: 0 -17px;}