body.template-a-3 .audi_main_flash_stage {
	height: 535px !important;
max-height: 535px !important;

}

body.template-a-1 #audi_teaser_control_home {
	max-height: 395px !important;
}

#audi_modal_container .layer_fullscreen #audi_modal_header {
	float: none;
}
