	/*
	* Base             100% 
	* -------------------------------------
	* 16px             103%   
	* 15px              96%   
	* 14px              88%   
	* 13px              82%  
	* 12px              77%  
	* 11px              71%
	* 10px              65%
	*  9px              59%
	*/

	* {
		margin:0;
		padding:0;
	}
	html {
    	padding:0px; 
   		margin:0px;
	}
	body { 
		background-image: url(fond-page.jpg);
		background-repeat: repeat-x; 
		margin: 0 0 0 0; 
		padding: 0px;
		/*text-align: center;*/
		width: 100%;
		font-size:71%;
		font-family: Arial;
		color: #6e6e6e;
	}
	h1, h2, h3, h4{
		font-family: Arial;
		margin: 0;
	}
	img{ 
		border: 0;
	}
	.color_vert_titre {
		background-color: #659041;
	}
	.color_vert_fonce {
		background-color: #eef5ea;
	}
	
	.color_vert_clair {
		background-color: #f9fbf7;
	}
	.color_bleu_titre {
		background-color: #457da0;
	}
	.color_bleu_fonce {
		background-color: #edf2f6;
	}
	.color_bleu_clair {
		background-color: #fafbfc;
	}
	.gras{
		font-weight: bold;
	}
	.gras_left{
		font-weight: bold;
		text-align: left;
	}
	.italic {
		font-style: italic;
	}
	.text{
		font-family: Arial;
		color: #6e6e6e;
		/*font-size: 100%;
		line-height: 20px;*/
	}
	.displayNone {
		display:none;
	}
	.text_error{
		font-family: Arial;
		color: #cc0000;
	}
	.text_error_bold{
		font-family: Arial;
		color: #cc0000;
		font-weight: bold;
	}
	.textvalign_top_align_left{
		vertical-align: top;
		text-align: left;
	}
	.textvalign_top_align_left_bold{
		vertical-align: top;
		text-align: left;
		font-weight: bold;
	}
	.textalign_left{
		text-align: left;
	}
	.textalign_left_bold{
		text-align: left;
		font-weight: bold;
	}
	.textalign_center{
		font-family: Arial;
		color: #6e6e6e;
		text-align: center;
	}
	.textalign_center_bold{
		font-family: Arial;
		color: #6e6e6e;
		text-align: center;
		font-weight: bold;
	}
	.textalign_right{
		text-align: right;
	}
	.textalign_left_bold{
		text-align: right;
		font-weight: bold;
	}
	.titre-blanc{
			font-weight: bold;
			font-size: 100%;
			color: #fff;
			padding-left: 8px;
	}
	.bgcolor-bleu-titre-blanc{
		background-color: #457da0;
			font-weight: bold;
			font-size: 100%;
			color: #fff;
			padding-left: 8px;
	}
	.bgcolor-vert-titre-blanc{
		background-color: #4e7407;
			font-weight: bold;
			font-size: 100%;
			color: #fff;
			padding-left: 8px;
	}
	
	.legende-image {
		font-family: Arial;
		/*font-size: 71%;*/
		color: #ffffff;
		padding:3px 0 0 12px;
		margin-top: 3px;
		height: 20px;
	}
	
	.divRight {
		float: right;
	}
	
	.divCenter {
		text-align: center;
	}

/*
	CALAGE IMAGE FOND GAUCHE ET DROITE
*/
	
	.gauche{
		background-image: url(gauche.jpg);
		width: 15px;
		height: 100%;
		/*height: 567px;*/
		float: left;
	}
	.droite{
		background-image: url(droite.jpg);
		width: 15px;
		height: 567px;
		float: left;
	}

/*
	BANDEAU
*/

	.bandeau{
		height: 138px;
		width: 775px;
	}
	.bandeau #gauche{
		float: left;
		width: 156px;
	}
	.bandeau #droite{ 
		/*background-image: url(../../medias/communs/visuel.jpg); */
		background-repeat: no-repeat; 
		float: right; 
		width: 619px; 
		height: 138px;
	}
	
	.bandeau #droite #stop{
		height: 20px;
		width: 614px;
		background-image: url(haut-bandeau.jpg);
		background-repeat: no-repeat;
		color: #444444;
		font-size: 80%;
		text-align: right;
		padding-right: 5px;
	}
	
	.bandeau #droite #stop a{
		color: #444444;
		text-decoration: none;
	}
	
	.bandeau #droite #stop a:hover{
		color: #444444;
		text-decoration: underline;
	}

	#alerte-flash{
		z-index: 4;
		position: absolute; 
	}

	.flashClass{
		padding-left: 5px;
		padding-right: 5px;
		background-color: #FFF;
		color: #444444;
		font-size: 80%;
	}

	.flashClass a{
		color: #444444;
		text-decoration: none;
	}
	
	.flashClass a:hover{
		color: #444444;
		text-decoration: underline;
	}
	
	.menu { 
		background-image: url(fond-menu.jpg);
		background-repeat: repeat-x; 
		position: relative; 
		height: 24px;
		text-align: left; 
		padding-left: 156px; 
	}
	
	.menu h2{
		font-size: 1%;
		margin: 0;
		background-image: url(pix.gif);
		background-repeat: no-repeat;
		display: none;
	}
	
	.sous-menu{
			background-image: url(sous-menu.gif);
			background-repeat: repeat-x;
			height: 13px;
			font-size: 1%;
	}
	
/*
	PAGES INTERIEURES;
*/

	#conteneur-pages{
		width: 805px;
		/*height: auto;*/
		/*height: 635px;*/
		position: relative;
	    padding: 0px;
	    margin: 0px auto;
	    text-align: left;
	    z-index: 0;
	    background: url(fond-pages.gif) repeat-y;
	}
	
	#pages { 
		/*background: url(../../medias/communs/fond-pages.gif) repeat-y;*/
		/*height: 567px;*/
		width: 805px;
	}
	
	#contenu-pages {
		width: 775px;
		/*height: 567px;*/
		height: auto;
		float: left;
		background-color: #fff;
	}
	
/*
	BAS DE PAGE
*/

	#bas{
		background: #fff url(fond-bas.gif) scroll no-repeat top left;
		width: 805px;
		height: 18px;
		clear: both;
	}
	.footer { 
		background: #fff url(footer.gif) scroll no-repeat top left; 
		width: 805px;
		height: 50px;
		text-align: left;
	
	}
	.contenufooter{
		width: 775px;
		font-family: Arial;
		font-size: 91%;
		color: #525657;
		height: 37px;
		margin-left: 15px;
		padding-top: 4px;
	}
	.contenufooter a{ 
		text-decoration: none;
		color: #525657; 
	}
	.contenufooter a:hover{
		text-decoration: underline;
		color: #525657;
	}
	.contenufooter #fgauche{
		float: left;
		width: 482px;
		height: 37px;
		text-align: left;
		padding-left: 18px;
		display: inline;
		margin-top: 12px;		
	}
	.contenufooter #fdroite{
		height: 37px;
		width: 180px;
		display: inline;
		margin-top: 12px;
		float: left;
	}
	.contenufooter #fimg{
		width: 86px;
		height: 37px;
		float: right;
		margin-top: 1px;
		display: inline;
	}
	
	
	.contenucredits{
		width: 775px;
	}
	
	.contenucredits #cgauche{
		float: left;
		text-align: left;
		display: inline;
		width: 100px;	
	}
	
	.contenucredits #cdroite{
		float: left;
		display: inline;
		width: 675px;
	}
	
/*
	DIVERS
*/

	.clear {
		clear: both;
	}
	.credits{
		font-family: Arial;
		font-size: 83%;
		color: #767676;
		text-align: right;
		padding-right: 15px;
		background: #fff;
	}
	.credits a{
		color: #767676;
		text-decoration: none;
	}
	.credits a:hover{
		color: #767676;
		text-decoration: underline;
	}
	.chemin-nav{ 
		font-family: Arial; 
		font-size: 91%; 
		color: #616161; 
		text-align: right; 
		height: 17px; 
		padding-right: 26px;
	}
	.chemin-nav a{
		color: #616161;
		text-decoration: none;
	}
	.chemin-nav a:hover{
		color: #616161;
		text-decoration: underline;
	}
	.clearfix:after {
		 content: ".";
		 display: block;
		 height: 0;
		 clear: both;
		 visibility: hidden;
	}
	.clearfix {
		display: inline-block;
	}
	
	/* Hides from IE-mac \*/
	* html .clearfix {height: 1%;}
	.clearfix {display: block;}
	/* End hide from IE-mac */
	
