.arrowlistmenu{
width: 220px; /*width of accordion menu*/
}

.arrowlistmenu .menuheader{ /*CSS class for menu headers in general (expanding or not!)*/
color: #5775AB;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
cursor: hand;
cursor: pointer;
}

.arrowlistmenu .openheader{ /*CSS class to apply to expandable header when it's expanded*/
background-image: url(http://www.yonne.cci.fr/css/titlebar-active.png);
}

.arrowlistmenu ul{ /*CSS for UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
margin-top: -8px;
margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
}

.arrow-list ul {
	width: 208px;
}

.arrowlistmenu ul li{
padding-bottom: 2px; /*bottom spacing between menu items*/
margin-bottom: 2px;
}

.arrowlistmenu ul li .opensubheader{ /*Open state CSS for sub menu header*/
background: lightblue !important;
}

.arrowlistmenu ul li .closedsubheader{ /*Closed state CSS for sub menu header*/
background: lightgreen !important;
}

.arrowlistmenu ul li a {
	font-size: 1.1em;
}

.arrowlistmenu ul li {
	padding: 0;
	background: none;
	width: 208px;
}

.arrowlistmenu ul li:hover, .arrowlistmenu ul li.active {
	padding: 0;
	background: #277555 url(nav-selected-00-top.jpg) left top no-repeat;
}

.arrowlistmenu ul li p {
	padding: 2px 10px 2px 10px;
}

.arrowlistmenu ul li:hover p, .arrowlistmenu ul li.active p {
	padding: 2px 10px 2px 10px;
	background: url(nav-selected-00-bottom.jpg) left bottom no-repeat;
}

.arrowlistmenu ul li a {
	font-size: 1.1em;
	display: block;
	width: 178px;
	padding: 0 0 0 10px;
}

.arrowlistmenu ul li:hover a, .arrowlistmenu ul li.active a {
	color: #fff !important;
	font-size: 1.1em;
	display: block;
	width: 178px;
	padding: 0 0 0 10px;
	background: url(nav-arrow-00.gif) left top no-repeat;
}

.arrowlistmenu ul li a:hover, .arrowlistmenu ul li.active a {
	text-decoration: none;
}

.arrowlistmenu ul li a:visited{
color: #5775AB;
}

.arrowlistmenu ul li a:hover, .arrowlistmenu ul li.active a{ /*hover state CSS*/
color: #5775AB;
}

.arrowlistmenu ul li a.subexpandable:hover{ /*hover state CSS for sub menu header*/
background: lightblue;
}






#content-container.rub01 .arrowlistmenu .menuheader{
color: #26937d;
}
#content-container.rub02 .arrowlistmenu .menuheader{
color: #3c8ac1;
}
#content-container.rub03 .arrowlistmenu .menuheader{
color: #d04d57;
}
#content-container.rub04 .arrowlistmenu .menuheader{
color: #e6773d;
}

#content-container.rub01 .arrowlistmenu ul li a:visited, #content-container.rub01 .arrowlistmenu ul li a{
color: #26937d;
}
#content-container.rub01 .arrowlistmenu ul li a:hover, #content-container.rub01 .arrowlistmenu ul li.active a{ /*hover state CSS*/
color: #26937d;
}
#content-container.rub02 .arrowlistmenu ul li a:visited, #content-container.rub02 .arrowlistmenu ul li a{
color: #3c8ac1;
}
#content-container.rub02 .arrowlistmenu ul li a:hover, #content-container.rub02 .arrowlistmenu ul li.active a{ /*hover state CSS*/
color: #3c8ac1;
}
#content-container.rub03 .arrowlistmenu ul li a:visited, #content-container.rub03 .arrowlistmenu ul li a{
color: #d04d57;
}
#content-container.rub03 .arrowlistmenu ul li a:hover, #content-container.rub03 .arrowlistmenu ul li.active a{ /*hover state CSS*/
color: #d04d57;
}
#content-container.rub04 .arrowlistmenu ul li a:visited, #content-container.rub04 .arrowlistmenu ul li a{
color: #e6773d;
}
#content-container.rub04 .arrowlistmenu ul li a:hover, #content-container.rub04 .arrowlistmenu ul li.active a{ /*hover state CSS*/
color: #e6773d;
}
#content-container.rub01 .arrowlistmenu ul li:hover, #content-container.rub01 .arrowlistmenu ul li.active {
	padding: 0;
	background: #277555 url(nav-selected-01-top.jpg) left top no-repeat;
}
#content-container.rub01 .arrowlistmenu ul li:hover p, #content-container.rub01 .arrowlistmenu ul li.active p {
	padding: 2px 10px 2px 10px;
	background: url(nav-selected-01-bottom.jpg) left bottom no-repeat;
}
#content-container.rub02 .arrowlistmenu ul li:hover, #content-container.rub02 .arrowlistmenu ul li.active {
	padding: 0;
	background: #398fdb url(nav-selected-02-top.jpg) left top no-repeat;
}
#content-container.rub02 .arrowlistmenu ul li:hover p, #content-container.rub02 .arrowlistmenu ul li.active p {
	padding: 2px 10px 2px 10px;
	background: url(nav-selected-02-bottom.jpg) left bottom no-repeat;
}
#content-container.rub03 .arrowlistmenu ul li:hover, #content-container.rub03 .arrowlistmenu ul li.active {
	padding:0;
	background: #c73f47 url(nav-selected-03-top.jpg) left top no-repeat;
}
#content-container.rub03 .arrowlistmenu ul li:hover p, #content-container.rub03 .arrowlistmenu ul li.active p {
	padding: 2px 10px 2px 10px;
	background: url(nav-selected-03-bottom.jpg) left bottom no-repeat;
}
#content-container.rub04 .arrowlistmenu ul li:hover, #content-container.rub04 .arrowlistmenu ul li.active {
	padding: 0;
	background: #e3784c url(nav-selected-04-top.jpg) left top no-repeat;
}
#content-container.rub04 .arrowlistmenu ul li:hover p, #content-container.rub04 .arrowlistmenu ul li.active p {
	padding: 2px 10px 2px 10px;
	background: url(nav-selected-04-bottom.jpg) left bottom no-repeat;
}
#content-container.rub01 .arrowlistmenu ul li:hover a, #content-container.rub01 .arrowlistmenu ul li.active a {
	color: #fff !important;
	font-size: 1.1em;
	display: block;
	width: 178px;
	padding: 0 0 0 10px;
	background: url(nav-arrow-01.gif) left top no-repeat;
}
#content-container.rub02 .arrowlistmenu ul li:hover a, #content-container.rub02 .arrowlistmenu ul li.active a {
	color: #fff !important;
	font-size: 1.1em;
	display: block;
	width: 178px;
	padding: 0 0 0 10px;
	background: url(nav-arrow-02.gif) left top no-repeat;
}
#content-container.rub03 .arrowlistmenu ul li:hover a, #content-container.rub03 .arrowlistmenu ul li.active a {
	color: #fff !important;
	font-size: 1.1em;
	display: block;
	width: 178px;
	padding: 0 0 0 10px;
	background: url(nav-arrow-03.gif) left top no-repeat;
}
#content-container.rub04 .arrowlistmenu ul li:hover a, #content-container.rub04 .arrowlistmenu ul li.active a {
	color: #fff !important;
	font-size: 1.1em;
	display: block;
	width: 178px;
	padding: 0 0 0 10px;
	background: url(nav-arrow-04.gif) left top no-repeat;
}