/* Tabs
----------------------------------*/
.ui-tabs { padding: 0; zoom: 1; margin: 0 0 10px 0;    }
.ui-tabs .ui-tabs-nav { list-style: none; position: relative; z-index: 3; overflow: visible !important;}
.ui-tabs .ui-tabs-nav li { 
	outline: none; 
	background: none;
	float: left;
	background: url(tab-bg.jpg) left top no-repeat;
	margin: 0 2px 0 0;
	padding: 0;
	position: relative;
	z-index: 3; 
	}
	
.ui-tabs .ui-tabs-nav li p { background: url(tab-r.jpg) right top no-repeat; padding: 5px ; }
.ui-tabs .ui-tabs-nav li a { text-decoration: none; padding: 0; color: #808080;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { 
	outline: none; 
	background: none;
	float: left;
	background: url(tab-sel.jpg) left top no-repeat;
	margin: 0 2px 0 0;
	padding: 0;
	position: relative;
	z-index: 3;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected p { background: url(tab-sel-r.jpg) right top no-repeat;	padding: 5px 15px 6px 15px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; color: #545454;}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { padding: 0; display: block; border-width: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; } 
/* END Tabs
----------------------------------*/


.tabs {
	margin: 0 0 0 0;
	position: relative;
	z-index: 3;
}

.tabs li {
	background: none;
	float: left;
	background: url(tab-bg.jpg) left top no-repeat;
	margin: 0 2px 0 0;
	padding: 0;
	position: relative;
	z-index: 3;
}

.tabs li p {
	background: url(tab-r.jpg) right top no-repeat;
	padding: 5px 15px;
}

.tabs li.selected {
	background: none;
	float: left;
	background: url(tab-sel.jpg) left top no-repeat;
	margin: 0 2px 0 0;
	padding: 0;
	position: relative;
	z-index: 3;
}

.tabs li.selected p {
	background: url(tab-sel-r.jpg) right top no-repeat;
	padding: 5px 15px 6px 15px;
}

.tabs li a {
	font-weight: bold;
	color: #888;
}

.tabs li a:hover {
	text-decoration: none;
	color: #77a1d2;
}

.tabs li.selected a, .tabs li.selected a:hover {
	font-weight: bold;
	color: #003877;
}






/* Tabs
----------------------------------*/
.ui-tabs { padding: 0; zoom: 1; margin: 0 0 10px 0;    }
.ui-tabs .ui-tabs-nav { list-style: none; position: relative; z-index: 3; overflow: visible !important; margin: 0 0 0 5px;}
.ui-tabs .ui-tabs-nav li { 
	outline: none; 
	background: none;
	float: left;
	background: url(tab-bg.jpg) left top no-repeat;
	margin: 0 2px 0 0;
	padding: 0;
	position: relative;
	z-index: 3; 
	}
	
.ui-tabs .ui-tabs-nav li p { background: url(tab-r.jpg) right top no-repeat; padding: 1px 15px 0 15px; line-height: 130%;}
.ui-tabs .ui-tabs-nav li a { text-decoration: none; padding: 0; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { 
	outline: none; 
	background: none;
	float: left;
	background: url(tab-sel.jpg) left top no-repeat;
	margin: 0 2px 0 0;
	padding: 0;
	position: relative;
	z-index: 3;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected p { background: url(tab-sel-r.jpg) right top no-repeat;	padding: 1px 15px 0px 15px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { padding: 0; display: block; border-width: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; } 
/* END Tabs
----------------------------------*/


.tab-content {
	background: #fff url(tab-top.jpg) right top no-repeat;
	width: 460px;
	padding: 10px 0 0 0;
	margin: -2px 0 0 0 !important;
	position: relative;
	z-index: 1;
}

.tab-content h3 {
	color: #333333;
	border-bottom: none;
	padding: 0 0 2px 0;
	margin: 0;
	font-size: 1.2em;
}

.tab-content-brd {
	padding: 10px 0 0 0;
	height: 100%;
}

