body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	border-left:0;
	border-right:0;
	
}
.bas {
	background-repeat: repeat-y;
	background-position:center;
	background-image: url(http://www.castres-mazamet.cci.fr/img/bas.jpg);
}
.gauche {
	background-repeat: repeat-x;
	background-position: left top;
	background-image: url(http://www.castres-mazamet.cci.fr/img/gauche.jpg);
}
.droite {
	background-repeat: repeat-x;
	background-position: right top;
	background-image: url(http://www.castres-mazamet.cci.fr/img/droite.jpg);
}