/* CSS Document */
/*
CSS Styles for Jack Daniels Redesign
Side Navigation
*/

#footerNav {
	width:960px;
	padding:5px 0 10px 0px;
}

#footerNav img {
	margin-top:10px;
}

#footerNav p {
	text-transform:uppercase;
	font-weight:normal;
	font-size:10px;
	padding:5px 0;
	color:#aaa;
	line-height:14px;
}
#footerNav p a{
	text-decoration:none;
	color:#a99561;	
}	
.footerphonenum {
	color:#a99561;		
}
#footerNav p a:hover{
	color:#fff;		
}

/************************** FOOTER NAV ****************************************************/
#footerNav ul {
	text-align:center;
	margin: 0px;
	padding:10px 0 0;
	list-style: none;
	
}

#footerNav li {
	display: inline;
}
#footerNav li a {
	text-transform:uppercase;
	font-weight:normal;
	font-size:10px;
	padding:10px 10px;
	color:#a99561;
	text-decoration: none;
}

#footerNav li a:hover{
	color:#ccc;
	text-decoration: none;
}


