/* CSS Document */
/*
CSS Styles for Jack Daniels Redesign
Main Document
*/

* {
  margin: 0;
  padding: 0;
}

html, body {
  /* Need to set body margin and padding to get consistency between browsers. */
  margin:0px;
  padding:0px; 
  text-align:center; /* Hack for IE5/Win */
  background-color: #000;
  color: #FFF;
  font: 10px Georgia, sans-serif;
}

p {
 font-family: Georgia, sans-serif;
 font-size:12px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, sans-serif;
}
img {
  border: none;
}
input, textarea, select {
  font: 10px Georgia, sans-serif;
}

table, tr, td, th{
	margin:0px;
	padding:0px;
	}
	
/****************************** HEADER TAGs *************************************/

#HeaderLogo {
	width:960px;
	padding-top:10px;
	padding-bottom:10px;
}

#HeaderFlash {
	width:960px;
	margin-top:10px;
	margin-bottom:10px;
}

#HeaderStatic {
	width:760px;
	margin-top:10px;
}

#HeaderCloseWindow {
	padding-right:30px;
	text-align:right;
	width:760px;
	margin-top:10px;
}

#HeaderCloseWindow a {
	font-size:10px;
	letter-spacing:2px;
	font-weight:normal;
	text-decoration:none;
	color:#a99561;
}
#HeaderCloseWindow a:hover {
	color:#fff;
}

#HeaderCloseWindowsmall {
	padding-right:30px;
	text-align:right;
	width:530px;
	margin-top:10px;
}

#HeaderCloseWindowsmall a {
	font-size:10px;
	letter-spacing:2px;
	font-weight:normal;
	text-decoration:none;
	color:#a99561;
}
#HeaderCloseWindowsmall a:hover {
	color:#fff;
}

/***************************** END HEADER TAGs *********************************/

/***************************** CONTAINERS **************************************/
td.ten{
	width:10px;
}
td.five{
	width:5px;
}
td.left, td.right, td.mid{
	vertical-align:top;
}

/*************************************************************************/
/********************* LEFTCONTAINER ************************************/
#left_container {
	margin:5px 0;
	border:#222222 1px solid;
	width:165px;
	padding:10px;
	text-align:left;
}
#left_container h2 {
	font-size:10px;
	letter-spacing:2px;
	font-weight:normal;
	text-transform:uppercase;
	color:#777;
}
/*************************************************************************/
/********************* MIDDLE CONTAINER ************************************/
#middle_container {
	margin:5px 0;
	border:#222222 1px solid;
	
	padding:10px;
	text-align:left;
}

#middle_container h2 {
	font-size:10px;
	letter-spacing:2px;
	font-weight:normal;
	text-transform:uppercase;
	color:#777;
}

#middle_container a{
	/*float:right;
	margin-top:-15px;*/
}
#middle_container a:hover{
	
}
/*************************************************************************/
/********************* RIGHT CONTAINER ************************************/
.right_container {
	margin:5px 0;
	width:165px;
	border:#222222 1px solid;
	padding:10px;
	text-align:left;
}

.right_container h2 {
	font-size:10px;
	letter-spacing:2px;
	font-weight:normal;
	text-transform:uppercase;
	color:#777;
}
/*************************************************************************/
/********************* HOMEPAGE ******************************************/

/*FLASH*/

#flash_home{
	margin:13px 0;
}

/*LEFT*/

#left_home {
	margin:5px 0;
	border:#222222 1px solid;
	width:145px;
	height:193px;
	padding:10px;
	text-align:left;
}
#left_home h2 {
	font-size:10px;
	letter-spacing:3px;
	font-weight:normal;
	text-transform:uppercase;
	color:#777;
}
#left_home_container {
	background-color:#111111;
	padding:10px 10px 0 10px;
	margin-top:10px;
	height:145px;
	border-top:1px #666666 solid;
	border-bottom:1px #666666 solid;
}
#left_home_container input.button{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-top:15px;
	padding:2px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	text-transform:none;
	width:65px;
	height:22px;
	cursor: pointer;
	cursor: hand;
}

#left_home_container p{
	margin:15px 0 0;
	font-size:10px;
	font-weight:bold;
	color:#777;
	
}

/*LEFT MID*/

#leftmid_home {
	margin:5px 0;
	border:#222222 1px solid;
	width:310px;
	height:203px;
	padding:10px 10px 0 10px;
	text-align:left;
}
/* begin new additions by Cody */
*html #leftmid_home 
{
	padding: 10px 10px 5px 10px;
}
/* end new additions by Cody */
#leftmid_home h2 {
	font-size:10px;
	letter-spacing:3px;
	font-weight:normal;
	text-transform:uppercase;
	color:#777;
}
#leftmid_home_container {
	background-color:#111111;
	padding:0px;
	margin:10px 0 5px;
	border-top:1px #666666 solid;
	border-bottom:1px #666666 solid;
}

#bottle_chooser_hm 
{
    padding:0px;
	margin: 0px;
}


/*RIGHT MID*/

#rightmid_home {
	margin:5px 0;
	border:#222222 1px solid;
	width:180px;
	height:203px;
	padding:10px 10px 0 10px;
	text-align:left;
}
#rightmid_home h2 {
	font-size:10px;
	letter-spacing:3px;
	font-weight:normal;
	text-transform:uppercase;
	color:#777;
}
#rightmid_home_container {
	background-color:#111111;
	padding:10px 0 0 10px;
	margin:10px 0 5px 0;
	height:145px;
	border-top:1px #666666 solid;
	border-bottom:1px #666666 solid;
}

/*RIGHT*/

.right_home {
	margin-top:5px;
	border:#222222 1px solid;
	width:185px;
	padding:10px 10px 0 10px;
	text-align:left;
}
.right_home h2 {
	font-size:10px;
	letter-spacing:3px;
	font-weight:normal;
	text-transform:uppercase;
	color:#777;
}

/********************* HOMEPAGE END ******************************************/
.rec
{
	background-color:#333;
	padding-left:5px;


}
.bottle-intro p
{
			color:#c04827 !important;
			font-size:14px !important;
			font-weight:bold !important;
}
.moveleft
{
	padding-left:5px;
}
.rec tr td input
{
	padding:5px;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	width:200px;
	text-transform:none;
	margin-bottom:0px;

}

.rec td select.dropdown{
	margin-top:8px;
		margin-bottom:0px;
	padding:5px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	width:200px;
	text-transform:none;
}
tr.formSplit {
	border-bottom:2px solid #000000;
}