/* CSS Document */
/*
CSS Styles for Jack Daniels Redesign
Side Navigation
*/
/****************************** MIDDLE_CONTAINER ****************************************/

.middle_container 
{
	margin:5px 0;
	border:#222222 1px solid;
	padding:10px;
	text-align:left;
}

.middle_container h2 {
	font-size:10px;
	letter-spacing:2px;
	font-weight:normal;
	text-transform:uppercase;
	color:#777;
}

.middle_container a{
	margin:0;
	border:0;
	
}
.middle_container a.toplink{
	float:right;
	margin-top:-15px;
	text-decoration:none;
}
.middle_container a.toplink2{
	font:Georgia, "Times New Roman", Times, serif;
	color:#a99561;
	font-size:10px;
	text-decoration:none;
	font-style:italic;
	font-weight:bold;
}


.lp 
{
	margin:5px 0;
	border:#222222 1px solid;
	width:700px;
	padding:10px;
	text-align:left;
}

.lp h2 {
	font-size:10px;
	letter-spacing:2px;
	font-weight:normal;
	text-transform:uppercase;
	color:#777;
}

.lp a{
	margin:0;
	border:0;
	
}
.lp a.toplink{
	float:right;
	margin-top:-15px;
	text-decoration:none;
}
.lp a.toplink2{
	font:Georgia, "Times New Roman", Times, serif;
	color:#a99561;
	font-size:10px;
	text-decoration:none;
	font-style:italic;
	font-weight:bold;
}


#cocktails h2 {
	display:inline;
}

#food h2 {
	display:inline;
}
.printAll {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#c04827;
	padding-left:20px;
	text-decoration:none;
}
.middle_container a:hover{
	
}

/****************************************************************************************/
.midContainerLine{
	border-top:1px #666666 solid;
	padding:5px 10px 0;
	margin:10px 0;
}

.recipeLine{
	border-top:1px #666666 solid;
	margin:20px 0;
}
.midContainerBTMLine{
	border-top:1px #666666 solid;
	margin:10px 0;
}

.midContainerBTMLineReadmore{
	border-top:1px #666666 solid;
	padding:0;
	margin:10px 0 0 0;
}

.midContainer{
	background-color:#111111;
	padding:10px 10px;
	margin:10px 0 5px;
	
}
.midContainer2
{
	background-color:#111111;
	padding:10px 10px;
	margin:10px 0 5px;
	
}
.midContainer2 a{
	color:#A99561;
}
.midContainer2 ol{
	padding-left:25px;
}
.midContainer2 li{
	font-size:12px;
	padding-left:25px;
	padding-top:5px;
	padding-bottom:5px;
	/*padding:5px 0 0 20px;*/

}
.HappeningIMGContainer{
	background-color:#111111;
	margin:5px 0 5px;
	
	
}

.HappeningIMGContainer img{
	padding:0;
	margin:0;
	border:0;
	
}

/* USe this class for href links around an image */

.HappeningIMGContainer a.imglinks{

	padding:0;
	margin:0;

	
}
.HeaderTextGraphic
{
	font-family:Arial;
	font-size:18px;
	color:white;
	text-transform:uppercase;
	padding-bottom:10px;
	padding-top:5px;
}
.HeaderTextGraphic p
{
	font-family:Arial;
	font-size:16px;
	color:white;
	font-weight:bold;
}
/**************************** midContainer IMAGE ******************************************/
.imgholder{
	background-color:#fff;
	padding:5px 5px;
}

/* NZ Image Gallery*/

.NZ_midContainer{
	background-color:#111111;
	margin:10px 0 5px;
	padding:5px 5px;
	
}
.NZ_imgthumb{
	padding:5px 4px 5px 4px;
}

.NZ_midContainer h3{
	padding:0px 0 0;
	margin:0px 0 5px;
	font-weight:normal;
	font-size:24px;
	color:#fff;
	text-transform:none;
	letter-spacing:normal;
}

.NZ_midContainerLine{
	border-top:1px #666666 solid;
	padding:0px 10px 0;
	margin:0px 0px;
}

.NZ_midContainer p{
	font-size:12px;
	line-height:10px;
}

.NZ_midContainer p.smallitalic{
	font-size:11px;
	font-style:italic;
	padding-top:5px;
	line-height:20px;
}

.NZ_midContainer p.smallitalicorange{
	font-size:12px;
	color:#c04827;
	font-style:italic;
	padding-top:5px;
	line-height:20px;
}

.NZ_midContainer p a.orange{
	font-size:12px;
	color:#c04827;
	margin-right:5px;
}

.NZ_midContainer p a.orange:hover{
	color:#a99561;
}

.middle_container td select.dropdown{
	margin-bottom:0px;
	padding:0px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	width:200px;
	text-transform:none;
}



.midContainer img.white{
	padding:1px;
	background-color:#000;
	border:4px #fff solid;
	
}

.midContainer img.head{
	padding:1px;
	background-color:#000;
	border:4px #fff solid;
}
.midContainer img.right{
	margin:10px;
	float:right;
}
.midContainer img.rightwhite{
	border:5px #fff solid;
	padding:1px;
	background-color:#000;
	margin:10px 10px 0;
	float:right;
}
.midContainer img.leftwhite{
	border:5px #fff solid;
	padding:1px;
	background-color:#000;
	margin:10px 10px 0;
	float:left;
}

.midContainer img.leftbbq{
	border:5px #111 solid;
	padding:1px;
	background-color:#000;
	margin:10px 10px 0;
	float:left;
}
.midContainer img.left{
	margin:10px;
	float:left;
}

.midContainer img.recipe{
	margin:5px 15px 5px 5px;
	float:left;
}

.midContainer img.title{
	padding:1px;
	margin-bottom:10px;
	display:block !important;
}



.midContainer img.happeningsimg{
	padding:1px;
	background-color:#000;
	border:4px #fff solid;
	vertical-align:top;
}

.midContainer img.largePhotocenter{
	text-align:center;
	vertical-align:top;
}


/**************************** midContainer TEXT ******************************************/
.midContainer br.clear{
	clear:both;
	
}

.largeLetter{
	font-size:72px;
	float:left;
	padding-right:5px;
	margin-top:-10px;
	margin-bottom:-20px;

}

.largeNumber{
	font-size:72px;
	float:left;
	padding:0 10px 0 5px;
	color:#a99561;
	margin-top:-20px;
	margin-bottom:-10px;
}

.midContainer p.instructions{
	font-size:11px;
	font-weight:bold;
	padding-left:5px;
	line-height:20px;
}

.midContainer p{
	font-size:12px;
	line-height:20px;
}

.midContainer #longSection p{
	padding-bottom:0;
}

.midContainer p.smallitalic{
	font-size:11px;
	font-style:italic;
	padding-top:10px;
	line-height:20px;
}


.midContainer p a{
	float:none;
	text-decoration:none;
	font-size:12px;
	padding-top:10px;
	line-height:20px;
	color:#a99561;
}

.midContainer p a.orange{
	font-size:12px;
	color:#c04827;
	margin-right:5px;
}

.midContainer p a.orange:hover{
	color:#a99561;
}

.midContainer p.readmore{
	clear:both;
	height:20px;
	padding-top:15px;
	margin:0;
	vertical-align:bottom;
}

.midContainer #longSection p.readmore{
	margin-bottom:5px;
	padding-top:0;
}

.midContainer p a.readmore{
	clear:both;
	height:20px;
	padding:0;
	margin:0;

	font-style:italic;
	color:#c04827;
	
}

.midContainer p a.readmore:hover{
	color:#fff;
}

.highlight{
	font-size:12px;
	padding-top:10px;
	line-height:20px;
	color:#c04827;
}

.midContainer h2{
	padding:10px 0 0;
	margin:15px 0 5px;
	font-size:18px;
	color:#FFFFFF;
	text-transform:none;
	letter-spacing:normal;
}

.midContainer h3{
	padding:0px 0 0;
	margin:0px 0 5px;
	font-size:18px;
	color:#FFFFFF;
	text-transform:none;
	letter-spacing:normal;
}

.midContainer h3.recipe{
	padding:0px 0 0;
	margin:0px 0 5px;
	font-size:18px;
	color:#FFFFFF;
	text-transform:none;
	letter-spacing:normal;
}

.midContainer h1.recipe{
	padding:0px 0 0;
	margin:0px 0 10px;
	font-size:24px;
	color:#FFFFFF;
	text-transform:none;
	letter-spacing:normal;
}
.midContainer p.recipeitalic{
	font-size:12px;
	padding:10px 0 0 20px;
	line-height:20px;
}

.midContainer h1 {
	padding:10px 0 0;
	margin:15px 0 5px;
	font-size:24px;
	color:#FFFFFF;
	text-transform:none;
}

.midContainer p.indent{
	font-size:12px;
	padding:10px 0 0 20px;
	line-height:20px;
}

/*.midContainer li{
	list-style:none;
	font-size:12px;
	padding:5px 0 0 20px;
}*/

.midContainer h2.indent{
	padding:10px 0 0 20px;
	margin:15px 0 0px;
	font-size:18px;
	color:#FFFFFF;
	text-transform:none;
}

/******************************************* FAQ CONTAINER TEXT ************************************************/
.faqContainer{
	background-color:#111111;
	padding:10px 10px;
	margin:10px 0 5px;
	
}

.faqContainer img.title{
	padding:1px;
	
}
.midContainer p.indent{
	font-size:12px;
	padding:10px 0 0 20px;
	line-height:20px;
}

.faqContainer h1 {
	padding:10px 0 0;
	margin:15px 130px 0px 15px;
	font-size:24px;
	color:#FFFFFF;
	letter-spacing:normal;
	font-weight:normal;
	text-transform:none;
}

.faqContainer p{
	padding-top:5px;
	margin:5px 130px 5px 15px;
	font-size:12px;
	font-weight:normal;
	line-height:20px;
	letter-spacing:normal;
}
.faqContainer ul{
	display:block;
}
.faqContainer li{
	list-style:none;
	font-size:12px;
	padding:10px 0 10px 25px;
}

.faqContainer a.link{
	float:none;
	text-decoration:none;
	color:#a99561;
}

.faqContainer a.link:hover{
	color:#fff;
}

.faqContainer li a.link{
	float:none;
	text-decoration:none;
	color:#a99561;
}

.faqContainer li a.link:hover{
	color:#fff;
}

.faqContainer img.title{
	padding:1px;
	background-color:#000;
	margin:0 0 25px 15px;
}

/**************************** midContainer EVENT CALENDER ******************************************/

.eventCalendar{
	background-color:#222;
	padding:10px 10px;
	margin:10px 0 5px;
}

.eventCalendar tr.odd {
	background-color:#666666;
}

.eventCalendar td {	
	vertical-align:top;
}

.eventCalendar td.date {
	width:100px;	
	vertical-align:top;
}
.eventCalendar td.state {
	width:125px;
	vertical-align:top;
}

.eventCalendar p {
	padding:5px;
}

/**************************** midContainer HAPPENINGS MAIN Page ******************************************/

.midContainer td.lined{
	border-top:1px #454545 solid;
	border-bottom:1px #454545 solid;
	background-color:#111111;
	/*padding:20px 10px 5px;
	margin-right:10px;*/
	vertical-align:bottom;
	padding-left:10px;
}
/* Creates thin line inside a table cell */
.midContainer td.squared{
	width:260px;
	border:1px #454545 solid;
	background-color:#111111;
	padding:5px;
	margin-top:10px;
	vertical-align:top;
}


.midContainer table.instruct
{
    clear:both;
	margin:10px 0 15px;
}

.midContainer table.bbqpicGrp{
	margin:20px 0 15px;
}


.leftHolder p{
	line-height:14px;
	font-size:11px;
	color:#fefefe;
	margin-right:5px;
}
.leftHolder p a{
	font-size:11px;
	font-style:italic;
	color:#c04827;
	margin-right:5px;
}
.leftHolder p a:hover{
	color:#fff;
}

.hidBlock{
	display:block;
	clear:both;
	padding-top:25px;
}
	
.hidBlock p{
	padding:0 10px 0 10px;
}

/******************************* commemorative bottles ***********************************/
.midContainer td.pic{
	vertical-align:top;
}
.midContainer td img.title{
	padding-bottom:30px;	
}

/*.midContainer td#longSection img.title{
	padding-bottom:20px;	
}*/


.midContainer td input{
	padding:3px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	width:104px;
	color:#999;
	
}

.bottcomm {
	width:550px;
}

.bottcomm div.midContainer td input{
	width:160px;
	height:16px;
	padding:2px;
}

.bottcomm div.midContainer td input.registerbtn{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-left:10px;
	padding:2px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	width:125px;
	height:22px;
	text-transform:none;
	vertical-align:top;
	cursor: pointer;
	cursor: hand;
}

*html .bottcomm div.midContainer td input.registerbtn{
	margin-top:1px;
}

.bottcomm div.midContainer td input.btl_regSubmitbtn{
	width:100px;
	padding:2px;
	margin:15px 0;
	height:22px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	text-transform:none;
	cursor: pointer;
	cursor: hand;
	
}


/*************************** Download page *************************************************/
.midContainer p.wallLink{
	color:#a99561;
}

.midContainer p.wallLink a{
	float:none;
	text-decoration:none;
	font-size:12px;
	padding-top:10px;
	line-height:20px;
	color:#a99561;
}
.midContainer p.wallLink a:hover{
	color:#fff;
}

.midContainer p.walllegal{
	font-size:10px;
	color:#777;
}

.midContainer p.walllegal a{
	float:none;
	text-decoration:none;
	font-size:10px;
	padding-top:10px;
	line-height:20px;
	color:#a99561
}
.midContainer p.walllegal a:hover{
	color:#fff;
}

/***************************** Registation form ******************************************/
.midContainer td p{
	color:#fefefe;
	margin-bottom:5px;
}

.midContainer td#longSection p{
	color:#fefefe;
	margin-bottom:0;	
}

.midContainer td input,
.midContainer td textarea {
	padding:5px;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	width:200px;
	text-transform:none;
	margin-bottom:15px;
	
}
.midContainer .radio td { margin-bottom:15px !important; }
.midContainer .radio td input {
	padding:5px !important;
	width:50px !important;
	margin-bottom:0 !important;
	float:left !important;
	border:none !important;
	background-color:#111111;
}
midContainer .radio td label {
	padding:5px !important;
	width:50px !important;
	margin-bottom:0 !important;
	float:left !important;
}

.midContainer td input.year{
	padding:5px;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	width:75px;
	text-transform:none;
	margin-bottom:15px;
	
}

.midContainer td input.submitbtn{
	width:75px;
	padding:5px;
	margin:15px 0;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	text-transform:none;
	
}



.midContainer td input.radio{
	margin:0;
	padding:0;
	border:0px #000 solid;
	background-color:#000;
	width:25px;
}

.midContainer td select.dropdown{
	margin-bottom:15px;
	padding:5px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	width:200px;
	text-transform:none;
}


#ctl00_ContentMiddle_wmi_favorite_way{
	width:350px;
}

.midContainer td select.twodigit{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-bottom:15px;
	padding:5px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	width:90px;
	color:#c04827;
	text-transform:none;
	
}
#ctl00_ContentMiddle_wmi_birthMonth{
	width:100px;
}

#ctl00_ContentMiddle_wmi_birthDay{
	width:60px;
}
#ctl00_MainContainer_wmi_birthYear{
	width:35px;
}
#ctl00_ContentMiddle_wmi_birthYear{
	width:35px;
}

.midContainer input.virtualTour{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:25px 10px 10px 0;
	padding:2px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	width:200px;
	text-transform:none;
	
}

/*********************************** Photo input ****************************************************/

.photo_reg{
	margin-top:15px;
	font-size:10px;
	font-weight:bold;
	color:#777;
}

.photo_reg td p.labels{
	font-size:10px;
	font-weight:bold;
	color:#777;
}

.error{
	font-size:10px;
	font-weight:bold;
	color:#a99561;
}

.photo_reg table{
	margin-bottom:25px;
}

.photo_reg td{
	vertical-align:top;
	padding-top:5px;
	margin:0px 0;
	font-size:10px;
	font-weight:bold;
	color:#777;
}

.photo_reg td img{
	margin:5px 0;
}

.photo_reg td select.twodigit{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:0 5px 0px 0;
	padding:5px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	width:65px;
	color:#c04827;
	text-transform:none;
	
}

.photo_reg td input{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-top:5px;
	padding:0px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	text-transform:none;
	width:45px;
	height:17px;
	vertical-align:top;
}

.photo_reg td input.year{
	padding:4px;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	width:40px;
	height:12px;
	text-transform:none;
	margin:0;
	
}

.photo_reg td input.PHsubmitbtn{
	width:75px;
	height:22px;
	padding:2px;
	margin:0;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	text-transform:none;
	cursor: pointer;
	cursor: hand;
	
}


/*********************************** Send to a friend Form ****************************************************/

.sendTFForm{
	margin:10px 0 0 20px;
	font-size:10px;
	font-weight:bold;
	color:#777;
}

.sendTFForm td p{
	font-size:11px;
	font-weight:bold;
	color:#777;
}

.labels{
	font-size:10px;
	font-weight:bold;
	color:#777;
}

.error{
	font-size:11px;
	font-weight:bold;
	color:#FFFF00;
}




.sendTFForm table{
	margin-bottom:25px;
}

.sendTFForm td{
	vertical-align:top;
	padding-top:5px;
	margin:5px 0;
	font-size:10px;
	font-weight:bold;
	color:#777;
}

.field{
	padding:5px;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	width:175px;
	text-transform:none;
	margin:0 5px 0px 0;
	
}
.stfcheckbox{
	padding:5px;
	line-height:20px;
	color:#c04827;
	width:20px;
	text-transform:none;
	margin:0 5px 0px 0;
	border:0;
	background-color:#111;
	
}

.sendTFForm td #chkConfirm {
    padding:5px;
	width:20px;
	margin:0 5px 0px 0;
	border:0;
	background-color:#111;

	
}

.sendTFForm td.copy 
{
    font-size:10px;
    color:#777;
    line-height:20px;
    text-transform:none;

}



.messagebox{
	padding:5px;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	width:250px;
	text-transform:none;
	margin:0 5px 0px 0;
}

.sendTFForm td input.submitbtn{
	width:75px;
	padding:4px;
	margin:10px 5px 0px 0;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	text-transform:none;
	cursor:pointer;
	cursor:hand;
	
}

.sendTFForm td #btnSend{
	width:75px;
	padding:4px;
	margin:10px 5px 0px 0;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	text-transform:none;
	cursor:pointer;
	cursor:hand;
	
}



/******************************************* SEARCH RESULTS CONTAINER TEXT ************************************************/
.searchContainer{
	background-color:#111111;
	padding:10px 10px;
	margin:10px 0 5px;
	
}

.searchContainer h1 {
	margin:15px 130px 0px 15px;
	font-size:30px;
	color:#FFFFFF;
	letter-spacing:normal;
	font-weight:normal;
	text-transform:none;
}

.searchContainer h2 a {
	padding:10px 0 0;
	margin:15px 130px 0px 15px;
	font-size:18px;
	color:#a99561;
	letter-spacing:normal;
	font-weight:normal;
	text-transform:none;
}

.searchContainer p{
	margin:5px 130px 5px 15px;
	font-size:12px;
	font-weight:normal;
	line-height:20px;
	letter-spacing:normal;
}

.searchContainer p.relevance{
	margin:0 0 0 15px;
	color:#777;
	font-style:italic;
	font-size:12px;
	font-weight:normal;
	letter-spacing:normal;
}

.searchContainer li{
	list-style:none;
	font-size:12px;
	padding:10px 0 10px 25px;
}
.searchContainer li a.link{
	text-decoration:none;
	color:#a99561;
}

.searchContainer li a.link:hover{
	color:#fff;
}

.searchContainer img.title{
	padding:1px;
	background-color:#000;
	margin:0 0 25px 15px;
}

#navbar a
{
	text-decoration:none;
	color:#a99561;
	font-size:12px;
}

.b a
{
	text-decoration:none;
	color:#a99561;
	font-size:12px;
}

.b a:hover
{
	text-decoration:none;
	color:#FFFFFF;
	font-size:12px;
}

.tooltip 
{
    background-color:#000;
    border:1px #fff solid;
    margin:5px;
    padding:5px;
}


.printbtns {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#c04827;
	padding:0 5px;
	text-decoration:none;
}

.printbtns a.printbtns  {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#c04827;
	padding:0 5px;
	text-decoration:none;
}

/* BBQ competition styles */

table#bbqSignup td#bbqCheckbox
{
	position:relative;
}

table#bbqSignup td#bbqCheckbox table td 
{
	position:relative;
	height:18px;
	width:200px;
}

table#bbqSignup td#bbqCheckbox input
{
	position:absolute;
	width:14px;
	height:14px;
	left:0;
}

table#bbqSignup td#bbqCheckbox label
{
	position:absolute;
	left:18px;
	font-size:12px;
}

.stateSpaced 
{
	margin-left:52px;
}
.midContainer a{
	color:#A99561;
}
.midContainer ol{
	padding-left:25px;
}
.midContainer li{
	font-size:12px;
	padding-left:25px;
	padding-top:5px;
	padding-bottom:5px;
	/*padding:5px 0 0 20px;*/

}

/*  JD Birthday Section */
#bday.thankyou .midContainer{
	text-align:center;
}
#bday .midContainer h2{
	margin-bottom:20px;
}
#bday .midContainer  p {
	padding-bottom:20px;
}
#bday .midContainer p.caveat {
	font-style:italic;
	font-size:11px;
}
#bday .midContainer p.enter {
	font-weight:bold;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
}
#bday .midContainer img {
	padding-top:10px;
}
#bday ol ol {
	list-style-type:lower-alpha;
}
#bday .HeaderTextGraphic {
	font-size:19px;
	font-weight:bold;
	line-height:21px;
	padding:20px 0;
}
#bday .midContainer table p {
	padding-bottom:0;
}

/****************************************************************************************/

/*LDA Styles*/
body#age { 
	background-image:url(background.jpg);
	background-repeat:no-repeat;
	background-position:top center;
}
body#age .mainContent { height:1000px; margin:0 auto; }
body#age .welcomeCopy {
	padding:117px 0 20px 0;
	text-transform:uppercase;
}
body#age .area {
	display:block;
	clear:both;
}
body#age .welcomeCopy p {
	font-size:1.8em;
	letter-spacing:4px;
}
body#age .area.ageForm {
	width:800px;
	margin:0 auto;
	padding-bottom:10px;
}
body#age .formField {
	float:left;
	width:226px;
	text-align:left;
	padding:0 0 10px 40px;
}
body#age .formField input,
body#age .formField select {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.2em;
	padding:2px;
	border:1px #ffffff solid;
	background-color:#000000;
	color:#ffffff;
	width:200px;
}
body#age .formField.birthday select {
	width:60px;
}
body#age .formField.birthday select#year {
	width:80px;
}
body#age .ageLabel p {
	display:block;
	text-transform:uppercase;
	font-size:1.6em;
	padding:16px 0 10px 0;
	font-weight:bold;
}
body#age .birthdateLabels {
	margin:5px 0 0 0;
}
body#age .birthdateLabels span {
	text-transform:uppercase;
}
body#age .area.submit {
	clear:both;
	margin:0 auto;
	color:#ffffff;
	padding:0 0 20px 0;
	width:500px;
}
body#age .area.submit .submitButton { position:relative; }
body#age .area.submit input {
	text-transform:uppercase;
}
body#age .area.submit span p {
	font-size:1.8em;
	padding-bottom:15px;	
}
body#age .area.submit span a {
	color:#b6a070;
	text-decoration:none;
}
body#age .area.submit span a:hover {
	text-decoration:underline;
}
body#age .area.submit .enterText {
	text-transform:uppercase;
	font-size:3em;
	left:150px;
	top:35px;
	position:absolute;
	text-align:center;
	width:200px;
	height:49px;
	line-height:1.6em;
	margin:0 auto;
	color:#ffffff;
	text-decoration:none;
}
body#age .area.submit #legalCheckBox { margin-right:10px; }
body#age .area.footer {
	width:auto;
	padding:35px 0 0 0;
}
body#age .area.footer h3 {
	text-transform:uppercase;
	font-size:1.8em;
}
body#age .area.footer h5 {
	font-size:1.4em;
	padding:20px 0;
}
body#age .area.footer p {
	text-transform:none;
	font-size:1.2em;
	color:#FFFFFF;
	padding-bottom:10px;
}
body#age .area.footer a {
	color:#d9861e;
	text-decoration:none;
}
body#age .area.footer a:hover {
	text-decoration:underline;
}
body#age .ldaErrors {
	font-size:1.2em;
	font-weight:bold;
	padding-bottom:10px;
}
body#age .ageLabel {
	height:75px;
}
/**************************** RUSSIAN MUSIC EVENT CALENDER ******************************************/
.eventCalendar td.state {
	width:153px;
}