/* CSS Document */
/*
CSS Styles for Jack Daniels Redesign
Side Navigation
*/

/************************** HAPPENING SIDE NAV ****************************************************/
.happeningsTitle{
	border-top:1px #666666 solid;
	border-bottom:1px #666666 solid;
	padding:10px 10px;
	margin:10px 0;
}

.happeningsTitle h3{
	color:#a99561;
	letter-spacing:1px;
	font-size:10px;
	text-transform:uppercase;
}


.happeningsIMG {
	text-align:center;
	border-bottom:1px #666666 solid;
	margin-bottom:10px;
}

/************************** PRIVACY SIDE NAV ****************************************************/

.MenuMain_topLine{
	margin-top:15px;
	border-top:1px #666666 solid;	
}

.MenuMain_second{
	border-bottom:1px #666666 solid;
	padding:15px 15px;
}

.MenuMain_first h3{
	color:#a99561;
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:2px;

}
.MenuMain_second h3{
	color:#a99561;
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:2px;
}

.MenuMain_second h3 a{
	color:#a99561;	
	text-decoration:none;
}
.MenuMain_second h3 a:hover{
	text-decoration:none;
	color:#FFFFFF;
}

/************************ Tennessee Stories Sid Nav ***********************************/
.MenuMain_selected{
	border-bottom:1px #666666 solid;
	background-color:#111111;
	padding:15px 15px;
}
.MenuMain_selected h3 {
	color:#a99561;
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:2px;
}

.MenuMain_selected h3 a{
	color:#a99561;
	text-decoration:none;
}
.MenuMain_selected h3 a:hover{
	color:#FFFFFF;
}

.MenuMain_selected h2{
	font-weight:bold;
	color:#777777;
	padding-top:10px;
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:2px;
}

.MenuMain_selected h2 a{
	font-weight:bold;
	color:#777777;
	text-decoration:none;
}
.MenuMain_selected h2 a:hover{
	color:#FFFFFF;
}
