/* CSS Document */
/*
CSS Styles for Jack Daniels Redesign
Side Navigation
*/



/************************* SEARCH WIDGET **************************************************/

#search_box{
	border-top:1px #454545 solid;
	border-bottom:1px #454545 solid;
	background-color:#111111;
	padding:10px 10px;
	margin:5px 0;
}

#search_box p{
	margin:5px 0;
	font-size:10px;
	font-weight:bold;
	color:#777;
	
}
#search_box input
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:5px;
	font-size:11px;
	font-weight:bold;
	border:1px #454545 solid;
	width:104px;
	background-color:#222;
	color:#c04827;
	text-transform:none;
	
	
}

#search_box input.searchbutton{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-top:10px;
	padding:2px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	text-transform:none;
	width:80px;
	cursor: pointer;
	cursor: hand;
	
}

/************************* REGISTER WIDGET **************************************************/

#register_box{
	border-top:1px #454545 solid;
	border-bottom:1px #454545 solid;
	background-color:#111111;
	padding:10px 10px;
	margin:5px 0;
}

#register_box p{
	margin:5px 0;
	font-size:10px;
	font-weight:bold;
	color:#777;
	
}
#register_box input{
	padding:5px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	letter-spacing:1px;
	width:140px;
	color:#fff;
	
}

#register_box input.regbutton {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-top:5px;
	padding:2px;
	font-size:11px;
	letter-spacing:normal;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	text-transform:none;
	width:80px;
	cursor: pointer;
	cursor: hand;
	
}



#spirits{
	border-top:1px #454545 solid;
	border-bottom:1px #454545 solid;
	background-color:#111111;
	padding:10px 10px;
	margin:5px 0;
}

#spirits p{
	margin:5px 0;
	font-size:10px;
	font-weight:bold;
	color:#777;
	
}
#spirits input{
	padding:5px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	letter-spacing:1px;
	width:140px;
	color:#fff;
	
}

#spirits input.regbutton {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-top:5px;
	padding:2px;
	font-size:11px;
	letter-spacing:normal;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	text-transform:none;
	width:148px;
	cursor: pointer;
	cursor: hand;
	
}




/************************* LANGUAGE COUNTRY WIDGET **************************************************/

#language_box{
	border-top:1px #454545 solid;
	border-bottom:1px #454545 solid;
	background-color:#111111;
	padding:10px 10px;
	margin:5px 0;
}

#language_box p{
	margin:0;
	font-size:10px;
	font-weight:bold;
	color:#777;
	
}
#language_box input{
	padding:5px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	width:140px;
	color:#fff;
	
}

#language_box input.langbutton{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-top:5px;
	padding:2px;
	font-size:11px;
	letter-spacing:normal;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	text-transform:none;
	width:80px;
	cursor: pointer;
	cursor: hand;
	
}
/************************** Bottle Registration Widget ***************************************/
.bottlereg_home{
	display:inline;
}

.bottle_chooser
{
    margin-left:10px;
	display:inline;
	width:130px;
}

.bottle_chooser_top{
	height:30px;
}

.bottlereg_box{
	border-top:1px #454545 solid;
	border-bottom:1px #454545 solid;
	background-color:#111111;
	padding:0;
	margin:5px 0;
}

.bottlereg_box input{
	padding:3px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	width:65px;
	color:#999;
	
}

.bottlereg_box input.button{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-top:10px;
	padding:2px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	text-transform:none;
	width:65px;
	cursor: pointer;
	cursor: hand;
}

.bottlereg_box h2 {
	text-align:center;
	font-size:10px;
	letter-spacing:3px;
	font-weight:normal;
	text-transform:uppercase;
	color:#fff;
}

/************************* PHOTO PICK-UP WIDGET **************************************************/

#photo_box_container{
	background-color:#111111;
	padding:10px 0 0 10px;
	margin:10px 0 5px 0;
	height:145px;
	border-top:1px #666666 solid;
	border-bottom:1px #666666 solid;
	color:#777777;
}

#photo_box_container img{
	margin-bottom:17px;
}

#photo_box select{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:5px 3px 0 0;
	padding:2px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	text-transform:none;
	width:46px;
}

#photo_box input{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-top:5px;
	padding:2px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	text-transform:none;
	width:38px;
	height:15px;
	vertical-align:top;
}

#photo_box input.button{
	width:70px;
	font-weight:normal;
	margin-top:10px;
	height:22px;
	cursor: pointer;
	cursor: hand;
}

#photo_box table{
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

#photo_box td{
	width:58px;
	margin:0;
	font-weight:normal;
}


/************************* HOME PAGE PHOTO WIDGETS **************************************************/

/*SEARCH HOME PAGE */
#searchhome_box{
	border-top:1px #454545 solid;
	border-bottom:1px #454545 solid;
	background-color:#111111;
	padding:8px 10px;
	margin:10px 0 6px 0;
	width:165px;
}

#searchhome_box p{
	margin:0;
	font-size:10px;
	font-weight:bold;
	color:#777;
}

#searchhome_box input{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-top:5px;
	padding:2px;
	font-size:11px;
	font-weight:bold;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	text-transform:none;
	width:85px;
	height:16px;
	vertical-align:top;
}

#searchhome_box input.button{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-left:5px;
	padding:2px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	text-transform:none;
	width:67px;
	height:22px;
	cursor: pointer;
	cursor: hand;
}

/*PHOTO BOX HOME PAGE*/
#bottlereg_home{
	display:inline;
}

#bottle_chooser{
	/*display:inline;
	width:130px;*/
	float:left;
}

#bottle_chooser_top{
	height:30px;
}

#bottlereg_home{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#777;
}
#bottlereg_home img{
	margin:10px 0 0 0;
}

#bottlereg_home input{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	margin-bottom:2px;
	font-size:11px;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	text-transform:none;
	width:80px;
	height:16px;
	vertical-align:top;
}

#bottlereg_home input.button{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	text-transform:none;
	width:60px;
	height:22px;
	vertical-align:top;
	cursor: pointer;
	cursor: hand;
}

/*PHOTO BOX HOME PAGE*/
#photo_home{
	margin-top:15px;
	font-size:10px;
	font-weight:bold;
	color:#777;
}

#photo_home select{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:5px 3px 0 0;
	padding:2px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	text-transform:none;
	width:50px;
}

#photo_home input{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-top:5px;
	padding:2px 2px 0 2px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	text-transform:none;
	width:45px;
	height:17px;
	vertical-align:top;
}

*html #photo_home input{
	margin-top:4px;
	height:16px;
}


#photo_home input.button{
	width:60px;
	font-weight:normal;
	margin-top:10px;
	height:22px;
	cursor: pointer;
	cursor: hand;
}

#photo_home table{
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

#photo_home td{
	width:58px;
	margin:0;
	font-weight:normal;
}

/************************* LANGUAGE COUNTRY WIDGET **************************************************/

#languagehome_box{
	border-top:1px #454545 solid;
	border-bottom:1px #454545 solid;
	background-color:#111111;
	padding:8px 10px;
	margin:10px 0 6px 0;
	width:165px;
}

#languagehome_box p{
	margin:0;
	font-size:10px;
	font-weight:bold;
	color:#777;
	
}
#languagehome_box input{
	padding:5px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	width:140px;
	color:#fff;
	
}

#languagehome_box input.button{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-top:5px;
	padding:2px;
	font-size:11px;
	font-weight:normal;
	border:1px #454545 solid;
	background-color:#222;
	color:#c04827;
	text-transform:none;
	width:80px;
	cursor: pointer;
	cursor: hand;
	
}