/* /production/cg35/home/v3/modules/generic/style/print.xml - BEGIN */
/* /production/cg35/home/v3/modules/generic/style/print.xml - END *//* /production/cg35/home/v3/webapp/modules/website/style/print.xml - BEGIN */
body {
	font-family: "Times New Roman", georgia, Times, serif;
}
#TopBanner, #Thread, #LeftNavigation, .PrintMenu, .anchor, #TopLinksLocation, #SubNavigationBlock, .PrintMenu, #Footer {
	display: none;
}
#Content {
	width: 95%;
	max-width: 95%;
	border-left: none;
	border-top: none;
	border-bottom: 2px dashed #000;
}
a:after {
	content: " [" attr(href) "] ";
	font-weight: normal;
}
acronym[title] {
	content: " [" attr(title) "] ";
	font-style: italic;
}
abbr[title] {
	content: " [" attr(title) "] ";
	font-style: italic;
}
acronym, abbr, a, a:visited {
	border: none;
	text-decoration: none;
}
/* /production/cg35/home/v3/webapp/modules/website/style/print.xml - END */