/* /production/cg35/home/v3/webapp/modules/generic/style/frontoffice.xml - BEGIN */
/* /production/cg35/home/v3/webapp/modules/generic/style/frontoffice.xml - END *//* /production/cg35/home/v3/webapp/modules/generic/style/richtext.xml - BEGIN */
/* /production/cg35/home/v3/webapp/modules/generic/style/richtext.xml - END *//* /production/cg35/home/v3/webapp/modules/website/style/frontoffice.xml - BEGIN */
div.freeLocation {
	clear: left;
	width: 100%;
}
div.freeBlock {
	float: left;
	width: 100%;
}
body, window {
	margin: 0;
	background: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
}
a.link {
	color: #AD3559;
	text-decoration: underline;
}
a.link:hover {
	color: #AD3559;
	text-decoration: underline;
}
#LeftMenu a {
	color: #000;
}
#Container {
	margin-left: auto;
	margin-right: auto;
	width: 973px;
	text-align: left;
}
#TopLinksLocation {
}
#SiteBorder {
	border: #eef3db solid 1px;
	border-top: #FFFFFF solid 1px;
	width: 973px;
	margin-top: -10px;
}
#TopLinks {
	text-align: right;
}
#TopLinks ul {
	list-style-type: none;
}
#TopLinks li {
	display: inline;
	padding-left: 15px;
}
#TopLinks a.link {
	font-weight: bold;
	color: #ad3559;
	text-decoration: none;
}
#TopLinks a.link:hover {
	font-weight: bold;
	color: #ad3559;
	text-decoration: underline;
}
#HiddenContent {
	display: none;
}
#TopBanner {
	width: 975px;
	margin: 0;
	padding: 0;
	margin-right: 0;
}
#TopBanner a img {
	border: 0;
}
#TopBannerLeftColumn {
	width: 152px;
	height: 248px;
	min-height: 248px;
	float: left;
}
#TopBannerRightColumn {
	width: 821px;
	float: left;
	margin-right: 0;
}
#Thread {
	clear: left;
	margin-left: 18px;
}
#Thread ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
#Thread li {
	display: inline;
}
.YouAreHere {
	display: inline;
	font-weight: bold;
	color: #5b682c;
	font-size: 1.1em;
}
#Thread a.link {
	color: #000000;
	text-decoration: none;
}
#Thread a.link:hover {
	color: #b0c85b;
	text-decoration: underline;
}
#LeftNavigation {
	width: 178px;
	font-size: 1.1em;
	color: #000000;
	float: left;
	margin-top: 10px;
}
#LeftNavigation ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: -18px;
}
#LeftNavigation a.link {
	text-decoration: none;
}
#LeftNavigation a.link:hover {
	text-decoration: underline;
}
#LeftMenu, #LeftContent {
	width: 160px;
	margin: 0 0 0 18px;
}
.LeftMenuBlockTitle {
	width: 160px;
	height: 50px;
	margin-bottom: 20px;
}
#LeftNavigation .Level1 ul {
	list-style-type: none;
}
#LeftNavigation .Level1 a.link {
	text-decoration: none;
}
#LeftNavigation .Level1 a.link:hover {
	text-decoration: underline;
}
#LeftNavigation .Level2 ul {
	list-style-type: none;
}
#LeftNavigation .Level2 {
	margin-left: 12px;
}
#LeftNavigation .Level2 a.link {
	text-decoration: none;
	color: #474747;
}
#LeftNavigation .Level2 a.link:hover {
	text-decoration: underline;
	color: #474747;
}
#LeftNavigation .LeftMenuLevel1ChosenItem {
	color: #000000;
}
#LeftNavigation .LeftMenuLevel2ChosenItem {
	text-decoration: underline;
	color: #474747;
}
#Content {
	float: left;
	display: block;
	width: 776px;
}
#Footer {
	width: 973px;
	padding: 5px 0 5px 0;
	background: #ad3559;
	text-align: center;
	color: #FFFFFF;
	clear: left;
}
#Footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#Footer li {
	display: inline;
}
#Footer a.link {
	color: #FFFFFF;
	text-decoration: none;
}
#Footer a.link:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
h3.hidden {
	display: none;
}
h3 a.link {
	text-decoration: none;
}
h3 a.link:hover {
	text-decoration: underline;
}
h4 {
	font-weight: bold;
	font-size: 1.3em;
}
h4 a.link {
	text-decoration: none;
}
h4 a.link:hover {
	text-decoration: underline;
}
h5 {
	font-weight: bold;
	font-size: 1.1em;
}
h5 a.link {
	text-decoration: none;
}
h5 a.link:hover {
	text-decoration: underline;
}
.DirectoriesList {
	float: left;
}
.DirectoriesInfoSheet {
	float: left;
	width: 514px;
	width: 714px;
}
.DirectoriesInfoSheetColumn01 {
	float: left;
	width: 153px;
	margin-left: 18px;
}
.DirectoriesInfoSheetColumn02 {
	float: right;
	width: 250px;
	margin-right: 18px;
	text-align: right;
}
.EluId {
	float: right;
	width: 250px;
}
.EluIdText {
	float: left;
	text-align: right;
	margin-right: 10px;
	width: 137px;
}
.EluIdPic {
	float: left;
	width: 77px;
}
.NomCanton, .Superficie, .NombreHabitants, .ProchaineElection, .SituationGeographique, .ListeCommunes, .NomElu, .Fonctions, .GroupePolitique, .Profession, .Contact, .LocalisationCommunes {
	margin-top: -16px;
}
.DirectoriesSheetSearch {
	float: left;
	width: 514px;
}
.SheetSearchFormItem {
	margin-top: 10px;
}
.DirectoriesSheetSearchColumn01 {
	float: left;
	width: 238px;
	margin-left: 18px;
}
.DirectoriesSheetSearchColumn02 {
	float: left;
	width: 238px;
	text-align: left;
}
.SheetSearchResults {
	width: 238px;
	text-align: left;
}
.AccessFromMap {
	width: 237px;
}
.Map {
	width: 237px;
}
.DirectoriesWorkSheetBlockWithoutPic {
	width: 514px;
}
.DirectoriesWorkSheetBlockWithPic {
	width: 514px;
}
.DirectoriesWorkSheetBlockWithPicTextColumn {
	width: 398px;
	float: left;
}
.DirectoriesWorkSheetBlockWithPicText {
	float: left;
	width: 393px;
	padding: 0 5px 0 0;
}
.DirectoriesWorkSheetBlockWithPicPic {
	float: left;
	width: 106px;
	padding: 5px 5px 0 5px;
}
.ErrorSurvey {
	margin-bottom: 5px;
}
.DiaporamaPictureColumn {
	width: 290px;
	float: left;
}
.DiaporamaCommentsColumn {
	width: 214px;
	padding-left: 10px;
	float: left;
}
.DiaporamaPictureTitle {
	margin-top: -20px;
}
.DiaporamaPictureSubTitle {
	margin-top: -15px;
}
.DiaporamaCommentsText {
	margin-top: 20px;
	text-align: justify;
}
.ECardsContainer {
	width: 514px;
}
.ECardsColumn01 {
	width: 257px;
	float: left;
}
.ECardsColumn02 {
	width: 257px;
	float: left;
}
.ECardsOneItem {
	width: 247px;
	float: left;
	margin-bottom: 10px;
}
.ECardsPic {
	width: 106px;
	float: left;
}
.ECardsTextContent {
	width: 135px;
	float: left;
	padding-left: 6px;
}
.ECardsTitle {
	width: 135px;
	margin-top: -18px;
}
.ECardsSubTitle {
	width: 135px;
	margin-top: -9px;
	font-weight: bold;
}
.ECardsSendLink {
	width: 135px;
	margin-top: 9px;
}
.SendECardColumn01 {
	width: 194px;
	float: left;
}
.SendECardColumn02 {
	width: 310px;
	float: left;
	padding-left: 10px;
}
.SendECardLabelForm {
	width: 40%;
	display: inline;
	float: left;
	text-align: right;
	margin-right: 5px;
}
.SendEcardInputForm {
	width: 40%;
	display: inline;
	float: left;
}
.ECardSmallInput {
	width: 55%;
	font-family: arial;
	font-size: 1em;
}
.ECardLongInput {
	width: 138%;
	font-family: arial;
	font-size: 1em;
}
.GenericBluePageSpacer {
	width: 514px;
	width: 714px;
	height: 4px;
	background: url(espaceur_actualites.gif) no-repeat center;
	clear: both;
	padding: 15px;
	margin-bottom: 18px;
}
.GenericTopPageLinkSeparator {
	clear: both;
}
.GenericTopPageTop {
	float: left;
}
.GenericTopPageTitle {
	float: left;
	margin-bottom: -18px;
	padding: 18px 0px;
	width: 600px;
}
.GenericTopPageTitle2 {
	float: left;
	margin-top: -10px;
	margin-bottom: -18px;
}
.GenericTopPageLinkBox {
	padding-left: 18px;
	float: left;
	margin-top: 22px;
	width: 50px;
}
.GenericTopPageLinkRightAlign {
	float: right;
}
.GenericTopPageLeftBullet {
	width: 9px;
	height: 9px;
	margin-right: 6px;
	background: url(fleche_gauche.gif) no-repeat left;
	float: left;
	margin-top: 4px;
}
.GenericTopPageLink {
	float: left;
	font-size: 1.2em;
}
.GenericTopPageLink a.link {
	text-decoration: none;
}
.GenericTopPageLink a.link:hover {
	text-decoration: underline;
}
.GenericTopPageRightBullet {
	width: 9px;
	height: 9px;
	margin-left: 6px;
	background: url(fleche_droite.gif) no-repeat left;
	float: left;
	margin-top: 4px;
}
.GenericInsidePageContainer {
	width: 514px;
}
.GenericNavPagesBrowser {
	width: 536px;
	width: 736px;
	margin-bottom: 18px;
	float: left;
	margin-top: -10px;
}
.OnePageBeforeBlock {
	width: 135px;
	float: left;
}
.GenericNavPagesBrowserMiddleBlock {
	width: 0px;
	height: 1.1em;
	font-size: 1.1em;
	float: left;
	text-align: center;
}
.GenericNavPagesBrowserMiddleBlock ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.GenericNavPagesBrowserMiddleBlock li {
	display: inline;
}
.GenericNavPagesBrowserMiddleBlock a.link {
	text-decoration: none;
}
.GenericNavPagesBrowserMiddleBlock a.link:hover {
	text-decoration: underline;
}
.OnePageAfterBlock {
	width: 130px;
	float: left;
}
.OnePageBeforeBullet {
	width: 16px;
	height: 15px;
	margin-right: 8px;
	float: left;
	background: url(fleche_pageprecedente.gif) no-repeat left;
}
.OnePageAfterBullet {
	width: 16px;
	height: 15px;
	margin-left: 8px;
	float: left;
	background: url(fleche_pagesuivante.gif) no-repeat left;
}
.GenericNavPagesBrowserLinks {
	font-size: 1.1em;
	float: left;
}
.GenericNavPagesBrowserLinks a.link {
	text-decoration: none;
}
.GenericNavPagesBrowserLinks a.link:hover {
	text-decoration: underline;
}
.GenericNavPagesBrowserLinksRightContainer {
	float: right;
}
#SiteBorder {
	margin-top: -10px;
}
h3 {
	color: #c22353;
}
h3 a {
	color: #c22353;
}
h3 a:hover {
	color: #c22353;
}
h4 {
	color: #c22353;
}
h4 a {
	color: #c22353;
}
h4 a:hover {
	color: #c22353;
}
#TopLinks a {
	color: #ad3559;
}
#TopLinks a:hover {
	color: #ad3559;
}
#Logo {
	width: 152px;
	height: 128px;
	background: url(topic_03.gif) no-repeat left;
}
#YouAreYouLive {
	width: 152px;
	min-height: 120px;
	height: 119px;
	font-weight: bold;
	background: url(topic_12.gif) #FFFFFF no-repeat left;
}
#TopBannerSpecificContent {
	height: 219px;
}
#PortalSpecificContentUp, .modules-website-portalspecificcontentup {
	width: 821px;
	height: 190px;
	float: left;
	background: #FFFFFF;
}
#PortalAll {
	height: 190px;
	float: left;
}
#PortalPicAndPrincipalNavigation {
	width: 479px;
	height: 190px;
	float: left;
}
#PortalPics {
	width: 479px;
	height: 153px;
	line-height: 150px;
}
#Portal04 {
	width: 71px;
	height: 150px;
	background: url(topic_04.gif) ;
	float: left;
}
#Portal05 {
	width: 243px;
	height: 150px;
	float: left;
}
#Portal06 {
	width: 165px;
	height: 150px;
	background: url(topic_06.gif) ;
	float: left;
}
#PortalPrincipalNavigation {
	width: 479px;
	width: 604px;
	background: url(http://www.ille-et-vilaine.fr/media/frontoffice/principalnav_bg.gif) repeat-x;
	background: url(firstnav_bg.gif) no-repeat;
	height: 40px;
	margin-bottom: 0;
	margin-top: -3px;
}
#PortalPrincipalNavigationButton {
	float: left;
}
a.Portal14 {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_14.gif) ;
	display: block;
	width: 146px;
	height: 40px;
}
a.Portal14:hover {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_14b.gif) ;
}
a.Portal15 {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_15.gif) ;
	display: block;
	width: 121px;
	height: 40px;
}
a.Portal15:hover {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_15b.gif) ;
}
a.Portal16 {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_16.gif) ;
	display: block;
	width: 115px;
	height: 40px;
}
a.Portal16:hover {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_16b.gif) ;
}
a.Portal17 {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_17.gif) ;
	display: block;
	width: 97px;
	height: 40px;
}
a.Portal17:hover {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_17b.gif) ;
}
 {
}
a.Portal10 {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_10.gif) ;
	display: block;
	width: 125px;
	height: 29px;
}
a.Portal10:hover {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_10b.gif) ;
}
a.Portal11 {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_11.gif) ;
	display: block;
	width: 125px;
	height: 33px;
}
a.Portal11:hover {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_11b.gif) ;
}
a.Portal13 {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_13.gif) ;
	display: block;
	width: 125px;
	height: 42px;
}
a.Portal13:hover {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_13b.gif) ;
}
#PortalSecondaryNavigation {
	width: 821px;
	height: 29px;
	background: url(secondarynav_bg.gif) no-repeat top left;
	background-color: #5fa9c5;
	margin-bottom: 0;
	margin-top: 0;
	display: block;
	float: left;
}
#PortalSecondaryNavigationButton {
	float: left;
}
a.Portal18 {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_18.gif) ;
	display: block;
	width: 136px;
	height: 29px;
}
a.Portal18:hover {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_18b.gif) ;
}
a.Portal19 {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_19.gif) ;
	display: block;
	width: 115px;
	height: 29px;
}
a.Portal19:hover {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_19b.gif) ;
}
a.Portal20 {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_20.gif) ;
	display: block;
	width: 160px;
	height: 29px;
}
a.Portal20:hover {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_20b.gif) ;
}
a.Portal21 {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_21.gif) ;
	display: block;
	width: 127px;
	height: 29px;
}
a.Portal21:hover {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_21b.gif) ;
}
a.Portal22 {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_22.gif) ;
	display: block;
	width: 129px;
	height: 29px;
}
a.Portal22:hover {
	background-image: url(http://www.ille-et-vilaine.fr/media/frontoffice/topic/topic_22b.gif) ;
}
#Thread a {
	color: #000000;
}
#Thread a:hover {
	color: #b0c85b;
}
#Footer {
	background: #ad3559;
	color: #FFFFFF;
}
#Footer a {
	color: #FFFFFF;
}
#Footer a:hover {
	color: #FFFFFF;
}
#SubNavigationBlock {
	width: 100%;
	display: block;
}
.SubNavigationBlockIndex {
	font-weight: bold;
	font-size: 1.3em;
	margin-top: 0px;
	padding-bottom: 1px;
}
.SubNavigationBlockIndex ul {
	margin-left: 0;
	padding-left: 0;
	margin-left: 22px;
}
.SubNavigationBlockIndex a.link {
	text-decoration: none;
}
.SubNavigationBlockIndex a.link:hover {
	text-decoration: underline;
}
.SubNavigationBlockPagesList {
	width: 736px;
	font-size: 1.1em;
}
.SubNavigationBlockPagesList ul {
	margin-left: 0;
	padding-left: 0;
}
.SubNavigationBlockPagesList li {
	width: 100%;
	min-height: 26px;
	list-style: none;
	vertical-align: top;
	padding-left: 20px;
}
.SubNavigationBlockPagesList a.link {
	text-decoration: none;
}
.SubNavigationBlockPagesList a.link:hover {
	text-decoration: underline;
}
.SubNavigationBlockPagesListCurrent {
	text-decoration: underline;
}
.SubNavigationBlockSpacer {
	width: 514px;
	width: 714px;
	height: 4px;
	background: url(espaceur_actualites.gif) no-repeat center;
	clear: both;
	margin-bottom: 18px;
}
.modules-news-news span.date, .modules-news-newsTopic span.date, .modules-news-newsTopic ol li.first span.date, .modules-news-newsTopic h3, .modules-news-newsTopic h3 a.link, .modules-news-newsTopic ol li.first h3, .modules-news-newsTopic ol li.first h3 a.link {
	color: #C22353;
}
.SiteMapLinkLevel1 a {
	color: #c22353;
}
.SiteMapLinkLevel1 a:hover {
	color: #c22353;
}
.BlueBlockSpacer {
	width: 514px;
	height: 4px;
	background: url(espaceur_actualites.gif) no-repeat left;
	clear: both;
	margin-bottom: 18px;
}
.NewsListOneItemDate {
	color: #c22353;
}
.NewsListOneItemWithoutPicDate {
	color: #c22353;
}
.LineFormButton input {
	background: #c22353;
}
.ButtonSubmit, .ButtonReset {
	margin-left: 25px;
	font-size: 1em;
}
.LineFormButton2 input {
	background: #c22353;
}
.ButtonSubmit2, .ButtonReset2 {
	font-size: 1em;
}
.ButtonSubmitSurvey, .ButtonResetSurvey {
	background: #c22353;
}
.BarSurvey {
	background: #c22353;
}
.GenericTopPageLink a {
	color: #c22353;
}
.GenericTopPageLink a:hover {
	color: #c22353;
}
.GenericNavPagesBrowserLinks a {
	color: #c22353;
}
.GenericNavPagesBrowserLinks a:hover {
	color: #c22353;
}
.GenericNavPagesBrowserMiddleBlock a {
	color: #c22353;
}
.GenericNavPagesBrowserMiddleBlock a:hover {
	color: #c22353;
}
.SiteMapTitle {
	width: 536px;
	margin-top: -22px;
}
.SiteMapBlockSpacer {
	width: 514px;
	height: 4px;
	background: url(espaceur_actualites.gif) no-repeat left;
	clear: both;
	margin-top: -18px;
}
.SiteMapBlock {
	width: 536px;
	font-size: 1.1em;
}
li.SiteMapLinkLevel1Topic, li.SiteMapLinkLevel2Topic, li.SiteMapLinkLevel3Topic, li.SiteMapLinkLevel4Topic {
	font-weight: bold;
	list-style: url(fleche_gauche.gif) circle outside;
}
li.SiteMapLinkLevel1Page, li.SiteMapLinkLevel2Page, li.SiteMapLinkLevel3Page, li.SiteMapLinkLevel4Page {
	list-style: url(fleche_noire.gif) square outside;
}
.SiteMapLinkLevel1Topic .SiteMapLinkLevel2Topic .SiteMapLinkLevel3Topic .SiteMapLinkLevel4Topic a.link {
	font-weight: bold;
	text-decoration: none;
}
.SiteMapLinkLevel1Topic .SiteMapLinkLevel2Topic .SiteMapLinkLevel3Topic .SiteMapLinkLevel4Topic a.link:hover {
	text-decoration: underline;
}
.SiteMapLinkLevel2Page .SiteMapLinkLevel3Page .SiteMapLinkLevel4Page a.link {
	text-decoration: none;
	color: #000000;
	font-weight: normal;
}
.SiteMapLinkLevel2Page .SiteMapLinkLevel3Page .SiteMapLinkLevel4Page a.link:hover {
	text-decoration: underline;
	color: #000000;
	font-weight: normal;
}
#PrintMenu {
	width: 535px;
	text-align: right;
}
#PrintMenu a {
	color: #000;
}
ul.PrintMenu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
li.PrintMenu {
	margin-left: 5px;
	display: inline;
}
#YouAre {
	width: 152px;
	padding: 10px 0 0 5px;
	margin: 0;
}
#YouLive {
	width: 152px;
	padding: 20px 0 0 5px;
	margin: 0;
}
div#YouLive ul {
	padding: 0;
	margin: 0;
}
div#YouLive ul li {
	display: inline;
}
#YouAre #YouLive label {
	font-size: 1em;
	font-weight: bold;
}
#YouAre select {
	width: 8.5em;
	height: 1.3em;
	border: #F6F4F4 1px solid;
	font-size: 1em;
}
#YouLive select {
	width: 8.5em;
	height: 1.3em;
	border: #F6F4F4 1px solid;
	font-size: 1em;
}
#YouAre input {
	width: 2em;
	font-weight: bold;
	font-size: 1.1em;
}
#YouLive input {
	width: 2em;
	font-weight: bold;
	font-size: 1.1em;
}
.NewsPageBeforeAfter {
	width: 536px;
	margin-bottom: 18px;
	float: left;
	margin-top: -10px;
}
.OnePageBeforeBlock {
	width: 257px;
	float: left;
}
.OnePageAfterBlock {
	width: 258px;
	float: left;
}
.OnePageBeforeBullet {
	width: 16px;
	height: 15px;
	margin-right: 8px;
	float: left;
	background: url(fleche_pageprecedente.gif) no-repeat left;
}
.OnePageAfterBullet {
	width: 16px;
	height: 15px;
	margin-left: 8px;
	float: left;
	background: url(fleche_pagesuivante.gif) no-repeat left;
}
.pagination {
	clear: both;
	padding: 5px 0 5px 0;
	margin-bottom: 20px;
}
.pagination ul li {
	margin-right: 5px;
	display: inline;
}
.pagination span.detail {
	float: right;
	margin-left: 5px;
}
ul.options {
	margin: 0;
	padding: 0;
	display: inline;
}
ul.options li {
	float: left;
	list-style-type: none;
	padding: 5px 6px;
	width: 137px;
	min-height: 30px;
	text-align: center;
	display: block;
	background: url(options-border.gif) repeat-y top right;
}
ul.options li a.link {
	font-weight: bold;
	color: #45839c;
	text-decoration: none;
}
ul.options li a.link:hover {
	font-weight: bold;
	color: #004f5c;
	text-decoration: none;
}
#HomeContentAll {
	margin: 0;
	padding: 0;
	width: 776px;
	float: left;
}
#HomeContentColumn01 {
	width: 535px;
	padding-left: 40px;
	float: left;
}
#HomeContentColumn02 {
	width: 160px;
	padding-left: 40px;
	float: left;
}
#HomeContentRow01 {
	width: 730px;
	padding-left: 40px;
	float: left;
}
#Container div.free-principal-nav ul.options li a {
	color: 536px;
}
#Container div.free-principal-nav ul.options li a:hover {
	color: 536px;
}
body#tplHome div#TopLinks li.first, body#tplOneColumn div#TopLinks li.first, body#tplTwoColumn div#TopLinks li.first {
	height: 16px;
	padding: 0;
	margin: 0;
	background: url(flag_great_britain.png) no-repeat;
	vertical-align: top;
	padding: 2px 0 5px 18px;
}
/* /production/cg35/home/v3/webapp/modules/website/style/frontoffice.xml - END *//* /production/cg35/home/v3/webapp/modules/website/style/richtext.xml - BEGIN */
body {
	margin: 0;
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
}
img, .image {
	border: none;
}
img.floatLeft {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}
img.floatRight {
	float: right;
	margin-right: 5px;
	margin-bottom: 5px;
}
.bordertitle {
	font-size: 1.6em;
	padding-left: 6px;
	line-height: 18px;
	letter-spacing: -1px;
	margin-bottom: 25px;
}
.BigTitle {
	font-weight: bold;
	font-size: 2em;
}
h3 a.link {
	text-decoration: none;
}
h3 a.link:hover {
	text-decoration: underline;
}
.Subtitle {
	font-weight: bold;
	font-size: 1.3em;
}
h4 a.link {
	text-decoration: none;
}
h4 a.link:hover {
	text-decoration: underline;
}
h5 a.link {
	text-decoration: none;
}
h5 a.link:hover {
	text-decoration: underline;
}
.SubtitleGrey {
	font-size: 1.3em;
	font-weight: bold;
	color: #000000;
}
.Chapeau {
	font-size: 1.1em;
	font-style: italic;
}
.Legend {
	font-size: 0.8em;
	font-style: italic;
	color: #000000;
}
.Credits {
	font-size: 0.8em;
	color: #000000;
}
table {
	border: #e4e4e4 solid 1px;
	border-collapse: collapse;
}
table td, table th {
	font-size: 1em;
}
.FondBleuCell {
	border: 1px solid #e4e4e4;
	padding: 5px;
	background-color: #4c7d8e;
	font-size: 1.1em;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
}
.FondGrisCell {
	border: 1px solid #e4e4e4;
	padding: 5px;
	background: #e4e4e4;
	color: #4c7d8e;
	font-weight: bold;
}
td {
	border: 1px solid #e4e4e4;
	padding: 5px;
}
ul.liste {
	list-style-image: url(fleche_noire.gif) ;
}
li.liste {
	color: #4c7d8e;
	font-weight: bold;
}
.information-block-01 {
	width: 150px;
	background-color: #e3e3e3;
	margin-bottom: 10px;
}
.information-block-02 {
	width: 150px;
	background-color: #f1f1f1;
	margin-bottom: 10px;
}
/* /production/cg35/home/v3/webapp/modules/website/style/richtext.xml - END *//* /production/cg35/home/v3/webapp/modules/abstractdirectory/style/frontoffice.xml - BEGIN */
/* /production/cg35/home/v3/webapp/modules/abstractdirectory/style/frontoffice.xml - END *//* /production/cg35/home/v3/modules/adultstructuredirectory/style/frontoffice.xml - BEGIN */
.knowmore {
	margin-top: -16px;
}
/* /production/cg35/home/v3/modules/adultstructuredirectory/style/frontoffice.xml - END *//* /production/cg35/home/v3/modules/animationtoolsdirectory/style/frontoffice.xml - BEGIN */
.titre {
	margin-top: -16px;
}
/* /production/cg35/home/v3/modules/animationtoolsdirectory/style/frontoffice.xml - END *//* /production/cg35/home/v3/webapp/modules/bookmark/style/frontoffice.xml - BEGIN */
.LinksSpacer {
	width: 150px;
	height: 4px;
	background: url(espaceur_liens.gif) no-repeat left;
}
.LinksColumn01 {
	width: 175px;
	float: left;
}
.LinksColumn02 {
	width: 170px;
	padding-left: 7px;
	float: left;
}
.LinksColumn03 {
	width: 170px;
	padding-left: 7px;
	float: left;
}
.LinksColumn01Title {
	width: 175px;
	height: 25px;
	margin-top: 12px;
}
.LinksColumn02Title {
	width: 175px;
	height: 25px;
	margin-top: 12px;
}
.LinksColumn03Title {
	width: 175px;
	height: 25px;
	margin-top: 12px;
}
.LinksEnd {
	width: 536px;
	clear: left;
}
ul.ulLinks {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
ul.ulLinks li.liLinks {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
.liLinks a {
	color: #000000;
	text-decoration: none;
}
.liLinks a:hover {
	color: #000000;
	text-decoration: underline;
}
/* /production/cg35/home/v3/webapp/modules/bookmark/style/frontoffice.xml - END *//* /production/cg35/home/v3/modules/cantondirectory/style/frontoffice.xml - BEGIN */
.canton {
	margin: 0px;
	float: left;
}
.cantonRennes {
	margin: 0px;
	display: inline;
}
/* /production/cg35/home/v3/modules/cantondirectory/style/frontoffice.xml - END *//* /production/cg35/home/v3/modules/cg35/style/frontoffice.xml - BEGIN */
#readspeaker {
	width: 250px;
	text-align: center;
}
#readspeaker h4.Subtitle {
	margin-top: -3px;
}
/* /production/cg35/home/v3/modules/cg35/style/frontoffice.xml - END *//* /production/cg35/home/v3/modules/communedirectory/style/frontoffice.xml - BEGIN */
h5 {
	color: #C22353;
}
/* /production/cg35/home/v3/modules/communedirectory/style/frontoffice.xml - END *//* /production/cg35/home/v3/webapp/modules/contactcard/style/frontoffice.xml - BEGIN */
/* /production/cg35/home/v3/webapp/modules/contactcard/style/frontoffice.xml - END *//* /production/cg35/home/v3/modules/diaporama/style/frontoffice.xml - BEGIN */
.DiaporamaPicture {
	width: 290px;
	height: auto;
	text-align: center;
}
#navigation {
	text-align: right;
}
#NavigationBar {
	margin: 2px 0 2px 0;
}
#status {
	display: inline;
	float: left;
}
.DiaporamaPictureColumn {
	width: 290px;
	float: left;
	margin-bottom: 10px;
}
.DiaporamaCommentsColumn {
	width: 214px;
	padding-left: 10px;
	float: left;
}
.DiaporamaPictureTitle {
	margin-top: -20px;
}
.DiaporamaPictureSubTitle {
	margin-top: -15px;
}
.DiaporamaCommentsText {
	margin-top: 20px;
	text-align: justify;
}
/* /production/cg35/home/v3/modules/diaporama/style/frontoffice.xml - END *//* /production/cg35/home/v3/modules/diary/style/frontoffice.xml - BEGIN */
.HomeDiaryContainer {
	width: 160px;
	float: left;
}
.HomeDiarySpacer {
	width: 160px;
	height: 4px;
	background: url(espaceur_agenda.gif) no-repeat left;
	clear: both;
}
.HomeDiaryTitle {
	width: 160px;
	float: left;
	margin-top: 18px;
	margin-bottom: 8px;
}
.GenericTopPageTitle h3 {
	font-size: 2em;
}
.DiaryOneEvent {
	float: left;
	margin-bottom: 8px;
}
.DiaryOneEventDate {
	font-weight: bold;
	float: right;
}
.DiaryBullet {
	float: right;
	margin-left: 4px;
}
.DiaryEventTitle {
	clear: right;
	text-align: right;
}
.DiaryEventTitle a {
	text-decoration: none;
	color: #000000;
}
.DiaryEventTitle a:hover {
	text-decoration: underline;
	color: #000000;
}
.DiaryMoreInfo {
	float: right;
	margin-bottom: 18px;
}
.DiaryMoreInfoText {
	text-align: right;
	color: #000000;
}
.DiaryMoreInfoLink {
	text-align: right;
}
.DiaryMoreInfoLink a {
	text-decoration: none;
}
.DiaryMoreInfoLink a:hover {
	text-decoration: underline;
}
.DiaryEventsListContent {
	float: left;
}
.DiaryEventsListColumn01 {
	margin-top: -18px;
	margin-bottom: 18px;
	float: left;
}
.DiaryEventsListColumn01 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.DiaryEventsListLine {
	height: 1.6em;
	margin-left: 18px;
}
.DiaryEventsListLine a {
	color: #C22353;
}
.DiaryEventsListLine2 {
	height: 1.6em;
	margin-left: 18px;
}
.DiaryEventsListLine2 a {
	text-decoration: none;
}
.DiaryEventsListLine2 a:hover {
	text-decoration: underline;
}
.DiaryEventsListColumn02 {
	width: 257px;
	float: left;
}
.DiaryEventsDetail {
	height: 18px;
	clear: both;
}
/* /production/cg35/home/v3/modules/diary/style/frontoffice.xml - END *//* /production/cg35/home/v3/webapp/modules/form/style/frontoffice.xml - BEGIN */
form.cmxform fieldset {
	margin-bottom: 10px;
}
form.cmxform legend {
	padding: 0 2px;
	font-weight: bold;
}
form.cmxform label {
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
}
form.cmxform ol {
	margin: 0;
	padding: 0;
}
form.cmxform ol li {
	list-style: none;
	padding: 5px;
	margin: 0;
}
form.cmxform fieldset fieldset {
	border: none;
	margin: 3px 0 0;
}
form.cmxform fieldset fieldset legend {
	padding: 0 0 5px;
	font-weight: normal;
}
form.cmxform fieldset fieldset label {
	display: block;
	width: auto;
}
form.cmxform em {
	font-weight: bold;
	font-style: normal;
	color: #f00;
}
form.cmxform label {
	width: 120px;
}
form.cmxform fieldset fieldset label {
	margin-left: 123px;
}
form.cmxform ul.errors li {
	color: red;
}
form.cmxform fieldset.radio {
	border: none;
	margin: 3px 0 0;
}
form.cmxform fieldset.radio legend {
	padding: 0 0 5px;
	font-weight: normal;
	color: black;
}
form.cmxform fieldset.radio label {
	display: block;
	width: auto;
	margin-left: 123px;
	color: red;
}
form.cmxform fieldset.radio label {
	display: block;
	width: auto;
	margin-left: 123px;
	color: red;
}
input[type="radio"] {
	margin-right: 4px;
}
form.cmxform ol li {
	text-align: left;
}
form.cmxform fieldset {
	margin-bottom: 10px;
	font-family: arial;
	border: none;
	font-weight: normal;
}
form.cmxform fieldset legend {
	font-weight: normal;
}
form.cmxform label {
	width: 120px;
	text-transform: none;
	font-size: 1em;
	text-align: right;
	letter-spacing: normal;
	font-weight: normal;
	padding-right: 12px;
}
form.cmxform input, form.cmxform textarea, form.cmxform select {
	font-family: arial;
	font-size: 1em;
	border: 1px solid #7f9db9;
}
form.cmxform input {
	width: 25%;
	margin: 0;
}
form.cmxform textarea {
	width: 50%;
	margin: 0;
}
form.cmxform input.button {
	background: #c22353;
	color: #fff;
	border: 0px solid;
	text-align: center;
	width: 10%;
	cursor: pointer;
}
p.textAlignRight {
	text-align: right;
}
.Star, .Error {
	color: red;
}
.LineForm {
	width: 100%;
	margin: 2px 0 2px 0;
	clear: left;
	display: table;
}
.LabelForm {
	width: 25%;
	display: inline;
	clear: left;
	text-align: right;
	margin-right: 5px;
	margin-bottom: 5px;
}
.SmallInput {
	width: 70%;
	font-family: arial;
	font-size: 1em;
}
.LongInput {
	width: 70%;
	font-family: arial;
	font-size: 1em;
}
.MiniInput {
	font-family: arial;
	font-size: 1em;
}
.LongInputForm, .LongInputFormLarge {
	width: 70%;
	display: inline;
	float: left;
}
.LineFormButton {
	width: 100%;
	float: left;
	display: inline;
	padding: 0;
	margin: 10px 0 2px 0;
}
.LineFormButton input {
	font-size: 1em;
	color: #FFFFFF;
}
.LineFormButton div {
	text-align: right;
}
.ButtonSubmit, .ButtonReset {
	margin-left: 25px;
	font-size: 1em;
	border: none;
	padding-top: 2px;
	padding-bottom: 2px;
	cursor: pointer;
}
select {
	font-size: 1.1em;
}
.LineFormButton2 {
	width: 100%;
	clear: left;
	display: table;
	padding: 0 0 0 0;
	margin: 10px 0 2px 0;
}
.LineFormButton2 input {
	font-size: 1.1em;
	color: #FFFFFF;
}
.LineFormButton2 div {
	text-align: center;
}
.ButtonSubmit2, .ButtonReset2 {
	font-size: 1em;
	border: none;
	padding-top: 2px;
	padding-bottom: 2px;
	cursor: pointer;
}
.ContentFormSurvey {
	margin: 0;
	clear: left;
	width: 100%;
}
.LineFormButtonSurvey {
	width: 100%;
	clear: left;
	padding: 0 0 0 0;
	margin: 5px 0 0 0;
}
.LineFormButtonSurvey div {
	text-align: right;
}
.ButtonSubmitSurvey, .ButtonResetSurvey {
	font-size: 1.1em;
	border: none;
	padding-top: 2px;
	padding-bottom: 2px;
	cursor: pointer;
	color: #FFFFFF;
}
.ProgressBarSurvey {
	background: #cdcdcd;
	width: 16em;
	height: 1em;
	float: left;
	margin: 5px 5px 0 0;
}
.ResultSurvey {
	clear: left;
	width: 100%;
	padding: 2px 0 2px 0;
}
.NumberVotes {
	clear: left;
	text-align: center;
	font-weight: bold;
	margin-top: 18px;
	padding-top: 18px;
}
.RadioButton {
	border: none;
}
/* /production/cg35/home/v3/webapp/modules/form/style/frontoffice.xml - END *//* /production/cg35/home/v3/modules/interview/style/frontoffice.xml - BEGIN */
.HomeMediathequeContainer {
	width: 530px;
}
.HomeMediathequeSpacer {
	width: 530px;
	height: 4px;
	background: url(espaceur_mediatheque.gif) no-repeat left;
	clear: both;
	margin-bottom: 18px;
}
.HomeMediathequeContent {
	width: 530px;
}
.HomeMediathequeText {
	float: left;
	width: 400px;
	padding-right: 14px;
}
.QuestionsToPicContainer {
	width: 300px;
	margin-bottom: 80px;
}
.QuestionsToPic {
	float: right;
}
.PersonName {
	font-weight: bold;
}
.Question1, .Question2, .Question3 {
	font-size: 0.8em;
}
.HomeMediathequePic {
	float: left;
	width: 116px;
}
.HomeMediathequePic a img {
	border: none;
}
/* /production/cg35/home/v3/modules/interview/style/frontoffice.xml - END *//* /production/cg35/home/v3/modules/librarydirectory/style/frontoffice.xml - BEGIN */
.typebibliotheque, .reseau, .contact, .horaire, .antenne, .info1, .info2, .adresse, .collection, .service, .territoire, .bibliotheque {
	margin-top: -16px;
}
/* /production/cg35/home/v3/modules/librarydirectory/style/frontoffice.xml - END *//* /production/cg35/home/v3/modules/mailbox/style/frontoffice.xml - BEGIN */
/* /production/cg35/home/v3/modules/mailbox/style/frontoffice.xml - END *//* /production/cg35/home/v3/webapp/modules/mailinglist/style/frontoffice.xml - BEGIN */
/* /production/cg35/home/v3/webapp/modules/mailinglist/style/frontoffice.xml - END *//* /production/cg35/home/v3/webapp/modules/media/style/frontoffice.xml - BEGIN */
#media-zoom-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 1px solid black;
	background: #eef;
	z-index: 10000;
}
#media-zoom-overlay-image {
	position: fixed;
	top: 0;
	left: 0;
	border: 1px solid #ddd;
	z-index: 10010;
}
#media-zoom-overlay-label {
	position: relative;
	top: 3px;
	color: black;
	font-weight: bold;
	font-size: 1em;
}
.media-flash-dummy, .media-video-dummy, .media-pdf-dummy, .media-doc-dummy, .media-media-dummy {
	border: 1px solid silver;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
}
.media-flash-dummy {
	color: dimgray;
	background: url(flash-logo.png) ghostwhite center no-repeat;
}
.media-video-dummy {
	color: dimgray;
	background: url(movie.png) ghostwhite center no-repeat;
}
.media-pdf-dummy {
	color: dimgray;
	background: url(pdf.png) ghostwhite center no-repeat;
}
.media-doc-dummy {
	color: dimgray;
	background: url(document_text.png) ghostwhite center no-repeat;
}
.media-media-dummy {
	color: dimgray;
	background: url(document_dirty.png) ghostwhite center no-repeat;
}
/* /production/cg35/home/v3/webapp/modules/media/style/frontoffice.xml - END *//* /production/cg35/home/v3/modules/news/style/frontoffice.xml - BEGIN */
.modules-news-news .NewsListPageTitle, h3, .modules-news-newsTopic .NewsListPageTitle, h3, .modules-news-newsTopic .NewsArchivePageTitle h3 {
	margin: 0;
}
.modules-news-news ol, .modules-news-newsTopic ol {
	margin: 0;
	padding: 0;
}
.modules-news-news ol li, .modules-news-newsTopic ol li {
	list-style-type: none;
	padding-bottom: 30px;
}
.modules-news-newsTopic img, .modules-news-newsTopic ol li.first img, .modules-news-news ol li.first img {
	float: left;
	margin-right: 10px;
}
.modules-news-news span.date, .modules-news-newsTopic span.date {
	float: right;
	margin-left: 10px;
	margin-top: 8px;
	font-weight: bold;
}
.modules-news-news ol li.first span.date, .modules-news-newsTopic ol li.first span.date {
	float: right;
	margin-left: 10px;
	margin-bottom: 12px;
	font-weight: bold;
}
.modules-news-news h3, .modules-news-news h3 a.link, .modules-news-newsTopic h3, .modules-news-newsTopic h3 a.link {
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
}
.modules-news-newsTopic ol li.first h3, .modules-news-newsTopic ol li.first h3 a.link, .modules-news-news ol li.first h3, .modules-news-news ol li.first h3 a.link, .modules-news-news h3.first {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 24px;
	text-decoration: none;
}
.modules-news-news h3 a.link:hover, .modules-news-news ol li.first h3 a.link:hover, .modules-news-newsTopic h3 a.link:hover, .modules-news-newsTopic ol li.first h3 a.link:hover {
	text-decoration: underline;
}
.modules-news-news .content, .modules-news-newsTopic .content {
	margin: 12px 0;
}
.modules-news-news ol li.first, .modules-news-newsTopic ol li.first {
	clear: both;
	margin: 12px 0px;
	padding: 12px 0px;
	border-top: 2px dotted #000;
	border-bottom: 2px dotted #000;
}
.modules-news-news ol li.first .content, .modules-news-newsTopic ol li.first .content {
	margin: 12px 0;
}
.cleaner {
	clear: both;
	width: 100%;
}
.modules-news-news ul.topnav, .modules-news-newsTopic ul.topnav {
	float: right;
	list-style-type: none;
}
.modules-news-news ul.topnav li, .modules-news-newsTopic ul.topnav li {
	clear: left;
	padding: 2px 0;
}
.leftblt, .rightblt {
	display: block;
	background: url(fleche_gauche.gif) no-repeat top left;
	float: left;
}
.leftblt {
	width: 10px;
	height: 10px;
	margin-right: 6px;
}
.rightblt {
	background: url(fleche_droite.gif) no-repeat top right;
	padding-right: 14px;
}
.HomeFirstNewsTitle h3 {
	font-weight: bold;
	font-size: 2em;
}
.OtherNewsTitle h3, .OtherNewsWithoutPicTitle h3, .NewsListOneItemWithoutPicTitle h3, .NewsListOneItemTitle h3 {
	font-weight: bold;
	font-size: 1.3em;
}
.OtherNewsTitle h3, .OtherNewsWithoutPicTitle h3, .NewsListOneItemWithoutPicTitle h3, .NewsListOneItemTitle h3, a {
}
.OtherNewsTitle h3, .OtherNewsWithoutPicTitle h3, .NewsListOneItemWithoutPicTitle h3, .NewsListOneItemTitle h3, a:hover {
}
.HomeNewsContainer {
	width: 535px;
}
.HomeFirstNewsContainer {
	width: 535px;
	margin-top: -10px;
}
.HomeFirstNewsTitle {
	width: 535px;
	margin-bottom: -14px;
}
.HomeFirstNewsContent {
	width: 535px;
	min-height: 170px;
	float: left;
}
.HomeFirstNewsDateContainer {
	width: 170px;
	width: 70px;
	height: 1em;
	float: right;
	margin-bottom: 24px;
}
.HomeFirstNewsDate {
	font-size: 1em;
	font-weight: bold;
	float: right;
}
.HomeFirstNewsPic {
	float: left;
	padding: 3px;
	margin-right: 14px;
}
.HomeFirstNewsText {
	text-align: justify;
	margin-bottom: 18px;
}
.OtherNewsContainer {
	width: 535px;
}
.OtherNewsPic {
	width: 110px;
	float: left;
	margin-right: 14px;
	text-align: center;
}
.OtherNewsContent {
	width: 411px;
	float: left;
}
.OtherNewsTitleAndDate {
	width: 411px;
	float: left;
}
.OtherNewsTitle {
	float: left;
	width: 350px;
	padding-right: 8px;
	margin-top: -22px;
}
.OtherNewsDateContainer {
	float: left;
	width: 48px;
}
.OtherNewsDate {
	float: right;
	font-size: 1em;
	font-weight: bold;
}
.OtherNewsText {
	text-align: justify;
	float: left;
	margin-top: -15px;
	margin-bottom: 18px;
}
.FFXJustify {
	text-align: justify;
}
.OtherNewsWithoutPicContainer {
	width: 535px;
}
.OtherNewsWithoutPicContent {
	width: 535px;
	float: left;
}
.OtherNewsWithoutPicTitleAndDate {
	width: 535px;
	float: left;
}
.OtherNewsWithoutPicTitle {
	float: left;
	width: 326px;
	padding-right: 8px;
	margin-top: -22px;
}
.OtherNewsWithoutPicDateContainer {
	float: left;
	width: 48px;
}
.OtherNewsWithoutPicDate {
	float: right;
	font-size: 1em;
	font-weight: bold;
}
.OtherNewsWithoutPicText {
	text-align: justify;
	float: left;
	margin-top: -20px;
	margin-bottom: 18px;
	width: 535px;
}
.NewsListPageTop {
	width: 736px;
	float: left;
}
.NewsListPageTitle {
	width: 500px;
	float: left;
	margin-top: -10px;
	margin-bottom: -18px;
}
.NewsListPageArchiveLinkBox {
	padding-left: 18px;
	width: 200px;
	float: left;
	margin-top: 22px;
}
.NewsListPageArchiveLinkRightAlign {
	float: right;
}
.NewsListPageLeftBullet {
	width: 9px;
	height: 9px;
	margin-right: 6px;
	background: url(fleche_gauche.gif) no-repeat left;
	float: left;
	margin-top: 4px;
}
.NewsListPageArchiveLink {
	float: left;
	font-size: 1.2em;
}
.NewsListPageArchiveLink a {
	text-decoration: none;
}
.NewsListPageArchiveLink a:hover {
	text-decoration: underline;
}
.NewsListPageRightBullet {
	width: 9px;
	height: 9px;
	margin-left: 6px;
	background: url(fleche_droite.gif) no-repeat left;
	float: left;
	margin-top: 4px;
}
.NewsListPageSpacer {
	width: 514px;
	width: 99%;
	height: 4px;
	background: url(espaceur_actualites.gif) no-repeat center;
	clear: both;
	margin-bottom: 18px;
	margin-top: 5px;
}
.NewsListOneItemContainer {
	width: 700px;
	margin-left: 18px;
}
.NewsListOneItemPic {
	width: 110px;
	float: left;
	margin-right: 14px;
	text-align: center;
}
.NewsListOneItemContent {
	width: 600px;
	float: left;
}
.NewsListOneItemTitleAndDate {
	width: 600px;
	float: left;
}
.NewsListOneItemTitle {
	float: left;
	width: 544px;
	padding-right: 8px;
	margin-top: -22px;
}
.NewsListOneItemDateContainer {
	float: left;
	float: right;
	width: 48px;
}
.NewsListOneItemDate {
	float: right;
	font-size: 1em;
	font-weight: bold;
}
.NewsListOneItemText {
	text-align: justify;
	float: left;
	width: 600px;
	margin-top: -15px;
	margin-bottom: 18px;
}
.FFXJustify {
	text-align: justify;
}
.NewsListOneItemWithoutPicContent {
	width: 700px;
	float: left;
}
.NewsListOneItemWithoutPicTitleAndDate {
	width: 476px;
	float: left;
}
.NewsListOneItemWithoutPicTitle {
	float: left;
	width: 420px;
	padding-right: 8px;
	margin-top: -22px;
}
.NewsListOneItemWithoutPicDateContainer {
	float: left;
	width: 48px;
}
.NewsListOneItemWithoutPicDate {
	float: right;
	font-size: 1em;
	font-weight: bold;
}
.NewsListOneItemWithoutPicText {
	text-align: justify;
	float: left;
	width: 476px;
	margin-top: -20px;
	margin-bottom: 18px;
}
.NewsPageBeforeAfter {
	width: 736px;
	margin-bottom: 18px;
	float: left;
	margin-top: -10px;
}
.OnePageBeforeBlock {
	width: 257px;
	float: left;
}
.OnePageAfterBlock {
	width: 258px;
	float: left;
	float: right;
}
.OnePageBeforeBullet {
	width: 16px;
	height: 15px;
	margin-right: 8px;
	float: left;
	background: url(fleche_pageprecedente.gif) no-repeat left;
}
.OnePageAfterBullet {
	width: 16px;
	height: 15px;
	margin-left: 8px;
	float: left;
	background: url(fleche_pagesuivante.gif) no-repeat left;
}
.NewsPageBeforeAfterLinks {
	font-size: 1.1em;
	float: left;
}
.NewsPageBeforeAfterLinks a {
	text-decoration: none;
}
.NewsPageBeforeAfterLinks a:hover {
	text-decoration: underline;
}
.NewsPageBeforeAfterLinksRightContainer {
	float: right;
}
.NewsArchivePageTitle h3, .NewsListPageTitle h3 {
	font-size: 2em;
}
.NewsArchivePageTitle {
	width: 270px;
	width: 470px;
	float: left;
	padding: 18px 0px;
}
.NewsArchivePageCurrentLinkBox {
	padding-left: 18px;
	width: 230px;
	float: left;
	margin-top: 22px;
}
.NewsArchiveChronologyBlock {
	width: 736px;
	float: left;
	margin-bottom: 18px;
}
.NewsArchiveByYearsBlock {
	width: 736px;
	margin-left: 15px;
}
.NewsArchiveByYearsBlock ul {
	margin-left: 0;
	padding-left: 0;
}
.NewsArchiveByYearsBlock li {
	font-size: 1.1em;
	display: inline;
	margin-left: 2px;
	margin-right: 6px;
}
.NewsArchiveByYearsBlock a {
	text-decoration: none;
}
.NewsArchiveByYearsBlock a:hover {
	text-decoration: underline;
}
.NewsArchiveByYearsCurrent {
	font-weight: bold;
	margin-left: 2px;
	list-style-type: none;
}
.NewsArchiveByMonthsBlock {
	clear: left;
	width: 736px;
	margin-left: -22px;
}
.NewsArchiveByMonths ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
.NewsArchiveByMonths li {
	display: inline;
}
.NewsArchiveByMonths a {
	text-decoration: none;
}
.NewsArchiveByMonths a:hover {
	text-decoration: underline;
}
.NewsArchiveByMonthsCurrent {
	text-decoration: underline;
}
.NewsDetailBlock {
	width: 736px;
	margin-bottom: 5px;
	clear: both;
}
.NewsDetailToKnowMore {
	width: 736px;
	margin-top: 20px;
	clear: both;
}
.NewsDetailToKnowMoreContent a {
	text-decoration: none;
}
.NewsDetailToKnowMoreContent a:hover {
	text-decoration: underline;
}
.IntroText ul {
	clear: both;
}
/* /production/cg35/home/v3/modules/news/style/frontoffice.xml - END *//* /production/cg35/home/v3/modules/newscg/style/frontoffice.xml - BEGIN */
.HomeDiaryContainer {
	width: 160px;
	float: left;
}
.HomeDiarySpacer {
	width: 160px;
	height: 4px;
	background: url(espaceur_agenda.gif) no-repeat left;
	clear: both;
}
.HomeDiaryTitle {
	width: 160px;
	float: left;
	margin-top: 18px;
	margin-bottom: 8px;
}
.DiaryOneEvent {
	float: left;
	margin-bottom: 8px;
}
.DiaryOneEventDate {
	font-weight: bold;
	float: right;
}
.DiaryBullet {
	float: right;
	margin-left: 4px;
}
.DiaryEventTitle {
	clear: right;
	text-align: right;
}
.DiaryEventTitle a {
	text-decoration: none;
	color: #000000;
}
.DiaryEventTitle a:hover {
	text-decoration: underline;
	color: #000000;
}
.DiaryMoreInfo {
	float: right;
	margin-bottom: 18px;
}
.DiaryMoreInfoText {
	text-align: right;
	color: #000000;
}
.DiaryMoreInfoLink {
	text-align: right;
}
.DiaryMoreInfoLink a {
	text-decoration: none;
}
.DiaryMoreInfoLink a:hover {
	text-decoration: underline;
}
.DiaryEventsListContent {
	float: left;
}
.DiaryEventsListColumn01 {
	margin-top: -18px;
	margin-bottom: 18px;
	float: left;
}
.DiaryEventsListColumn01 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.DiaryEventsListLine {
	height: 1.6em;
	margin-left: 18px;
}
.DiaryEventsListLine a {
	color: #C22353;
}
.DiaryEventsListLine2 {
	height: 1.6em;
	margin-left: 18px;
}
.DiaryEventsListLine2 a {
	text-decoration: none;
}
.DiaryEventsListLine2 a:hover {
	text-decoration: underline;
}
.DiaryEventsListColumn02 {
	width: 257px;
	float: left;
}
.DiaryEventsDetail {
	height: 18px;
	clear: both;
}
/* /production/cg35/home/v3/modules/newscg/style/frontoffice.xml - END *//* /production/cg35/home/v3/webapp/modules/newsletter/style/frontoffice.xml - BEGIN */
/* /production/cg35/home/v3/webapp/modules/newsletter/style/frontoffice.xml - END *//* /production/cg35/home/v3/modules/notification/style/frontoffice.xml - BEGIN */
/* /production/cg35/home/v3/modules/notification/style/frontoffice.xml - END *//* /production/cg35/home/v3/webapp/modules/photolib/style/frontoffice.xml - BEGIN */
#EcardMessageDetail {
	margin-top: 10px;
}
.ECardsContainer {
	width: 514px;
	width: 771px;
}
.ECardsColumn01 {
	width: 257px;
	float: left;
}
.ECardsColumn02 {
	width: 257px;
	float: left;
}
.ECardsColumn03 {
	width: 257px;
	float: left;
}
.ECardsOneItem {
	width: 247px;
	float: left;
	margin-bottom: 10px;
}
.ECardsPic {
	width: 106px;
	float: left;
}
.ECardsTextContent {
	width: 135px;
	float: left;
	padding-left: 6px;
}
.ECardsTitle {
	width: 135px;
	margin-top: -18px;
}
.ECardsSubTitle {
	width: 135px;
	margin-top: -9px;
	font-weight: bold;
}
.ECardsSendLink {
	width: 135px;
	margin-top: 9px;
}
.ECardsSendLink a {
	text-decoration: none;
}
.ECardsSendLink a:hover {
	text-decoration: underline;
}
.SendECardColumn01 {
	width: 194px;
	float: left;
}
.SendECardColumn02 {
	width: 310px;
	float: left;
	padding-left: 10px;
}
.SendECardLabelForm {
	width: 40%;
	display: inline;
	float: left;
	text-align: right;
	margin-right: 5px;
}
.SendEcardInputForm {
	width: 40%;
	display: inline;
	float: left;
}
.ECardSmallInput {
	width: 55%;
	font-family: arial;
	font-size: 1em;
}
.ECardLongInput {
	width: 138%;
	font-family: arial;
	font-size: 1em;
}
/* /production/cg35/home/v3/webapp/modules/photolib/style/frontoffice.xml - END *//* /production/cg35/home/v3/modules/poll/style/frontoffice.xml - BEGIN */
fieldset.survey ul {
	clear: both;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
	font-size: 1.1em;
}
fieldset.survey ul li {
	float: left;
	margin: 0 10px 10px 0;
	padding: 0;
	list-style-type: none;
}
fieldset.survey {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
}
fieldset.survey legend {
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 1.2em;
	font-weight: bold;
}
fieldset.survey label {
	margin: 0;
	padding: 0;
	font-size: 1em;
	color: #666;
}
fieldset.survey input.button {
	margin: 0;
	padding: 2px 5px;
	width: 8em;
	border: 0;
	font-size: 1.1em;
	color: #fff;
	background-color: #eb870e;
	position: static;
}
/* /production/cg35/home/v3/modules/poll/style/frontoffice.xml - END *//* /production/cg35/home/v3/webapp/modules/solrsearch/style/frontoffice.xml - BEGIN */
.modules_actions_action {
	background: url(businessmen.png) top left no-repeat;
	padding-left: 25px;
}
.modules_animationtoolsdirectory_tool {
	background: url(star_yellow.png) top left no-repeat;
	padding-left: 25px;
}
.modules_bookmark_bookmark {
	background: url(link.png) top left no-repeat;
	padding-left: 25px;
}
.modules_buildingdirectory_building {
	background: url(office-building.png) top left no-repeat;
	padding-left: 25px;
}
.modules_cantondirectory_canton {
	background: url(cubes_blue.png) top left no-repeat;
	padding-left: 25px;
}
.modules_collegedirectory_college {
	background: url(graduation_hat2.png) top left no-repeat;
	padding-left: 25px;
}
.modules_communedirectory_commune {
	background: url(houses.png) top left no-repeat;
	padding-left: 25px;
}
.modules_diary_event {
	background: url(address_book.png) top left no-repeat;
	padding-left: 25px;
}
.modules_epcidirectory_epci {
	background: url(components.png) top left no-repeat;
	padding-left: 25px;
}
.modules_librarydirectory_library {
	background: url(books.png) top left no-repeat;
	padding-left: 25px;
}
.modules_media_media_doc {
	background: url(document_text.png.1) top left no-repeat;
	padding-left: 25px;
}
.modules_media_media_image {
	background: url(photo_scenery.png) top left no-repeat;
	padding-left: 25px;
}
.modules_media_media_flash {
	background: url(flash.png) top left no-repeat;
	padding-left: 25px;
}
.modules_media_media_pdf {
	background: url(pdf.png.1) top left no-repeat;
	padding-left: 25px;
}
.modules_media_media_video {
	list-style-image: url(movie.png.1) ;
}
.modules_meeting_meeting {
	background: url(handshake.png) top left no-repeat;
	padding-left: 25px;
}
.modules_naturalspacedirectory_naturalspace {
	background: url(flower_blue.png) top left no-repeat;
	padding-left: 25px;
}
.modules_news_news {
	background: url(news.png) top left no-repeat;
	padding-left: 25px;
}
.modules_newscg_event {
	background: url(address_book.png) top left no-repeat;
	padding-left: 25px;
}
.modules_paysdirectory_pays {
	background: url(cubes_yellow.png) top left no-repeat;
	padding-left: 25px;
}
.modules_roadworksdirectory_roadworks {
	background: url(tractor_green.png) top left no-repeat;
	padding-left: 25px;
}
.modules_adultstructuredirectory_structure {
	background: url(school.png) top left no-repeat;
	padding-left: 25px;
}
.modules_website_page, .modules_website_pageexternal {
	background: url(document.png) top left no-repeat;
	padding-left: 25px;
}
.SearchResultsContent {
	width: 514px;
	float: left;
}
span.Number {
	font-weight: bold;
	color: #AD3559;
}
.SearchResultsContent {
	margin: 0;
	padding: 0;
}
.SearchResultsContent ol {
	width: 474px;
	margin: 11px 0 11px 0;
	list-style-type: none;
	padding: 0;
}
.SearchResultsPercent {
	color: #000000;
	font-weight: normal;
	font-size: 0.9em;
}
.SearchResultsListHeading {
	color: #c22353;
}
.SearchResultsListHeading a {
	text-decoration: none;
}
.SearchResultsListHeading a:hover {
	text-decoration: underline;
}
.SearchResultsList {
	width: 536px;
}
.SearchResultsList em {
	background-color: #FFEB0F;
}
.SearchResultsList div.link {
	font-style: italic;
}
#Search {
	width: 621px;
	width: 821px;
	min-height: 29px;
	height: 29px;
	margin-top: 5px;
	clear: left;
}
#EnglishFlag {
	float: left;
	width: 130px;
	height: 29px;
}
#SearchFormBlock {
	float: left;
	width: 490px;
	height: 29px;
}
#SearchBlock {
	float: right;
}
#SearchBlock form {
	margin: 0;
	padding: 0;
}
#SearchBlock span {
	display: inline;
	float: left;
}
.LabelSearch {
	font-size: 1em;
	padding: 2px 5px 1px 312px;
	padding-left: 307px;
}
.InputSearch input {
	width: 9em;
	height: 1.3em;
	font-size: 1em;
	border: #5fa9c5 solid 1px;
	margin: 0;
	margin-top: 0px;
}
div.modules-solrsearch-searchform ul {
	padding: 0;
	margin: 0;
}
div.modules-solrsearch-searchform ul li {
	display: inline;
}
.modules-solrsearch-searchform {
	float: left;
	width: 490px;
	width: 690px;
	height: 29px;
	text-align: right;
}
.modules-solrsearch-searchform form input {
	vertical-align: middle;
}
.modules-solrsearch-searchform form input.textfield {
	border: 1px solid #00abc7;
	width: 8em;
	height: 1.1em;
	margin: 0;
	margin-right: -3px;
}
ul.errors {
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.errors li {
	color: red;
}
/* /production/cg35/home/v3/webapp/modules/solrsearch/style/frontoffice.xml - END *//* /production/cg35/home/v3/modules/syndication/style/frontoffice.xml - BEGIN */
.syndication a {
	text-decoration: none;
}
/* /production/cg35/home/v3/modules/syndication/style/frontoffice.xml - END *//* /production/cg35/home/v3/modules/task/style/frontoffice.xml - BEGIN */
/* /production/cg35/home/v3/modules/task/style/frontoffice.xml - END *//* /production/cg35/home/v3/webapp/modules/users/style/frontoffice.xml - BEGIN */
/* /production/cg35/home/v3/webapp/modules/users/style/frontoffice.xml - END *//* /production/cg35/home/v3/modules/videoflv/style/frontoffice.xml - BEGIN */
.videoflv-video-dummy {
	border: 1px solid silver;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
	color: dimgray;
	background: url(film.png) ghostwhite center no-repeat;
}
/* /production/cg35/home/v3/modules/videoflv/style/frontoffice.xml - END *//* /production/cg35/home/v3/modules/workflow/style/frontoffice.xml - BEGIN */
/* /production/cg35/home/v3/modules/workflow/style/frontoffice.xml - END *//* /production/cg35/home/v3/modules/zoom/style/frontoffice.xml - BEGIN */
.HomeZoomSurContainer {
	width: 160px;
	float: left;
	margin-top: 10px;
}
.HomeZoomSurTitle {
	width: 160px;
	float: left;
	margin-bottom: 8px;
}
.HomeZoomSurText {
	width: 160px;
	float: left;
	font-size: 0.8em;
	text-align: justify;
	margin-bottom: 8px;
}
.HomeZoomSurText a {
	color: #000000;
	text-decoration: none;
}
.HomeZoomSurText a:hover {
	color: #000000;
	text-decoration: underline;
}
.HomeZoomSurPic {
	width: 160px;
	height: 40px;
	float: left;
	margin-bottom: 18px;
	text-align: center;
}
.HomeZoomSurPic img {
	border: #5fa9c5 1px solid;
}
.HomeZoomSpacer {
	width: 160px;
	height: 4px;
	background: url(espaceur_zoom.gif) no-repeat left;
	clear: both;
	margin-bottom: 10px;
}
/* /production/cg35/home/v3/modules/zoom/style/frontoffice.xml - END *//* /production/cg35/home/v3/webapp/modules/website/style/tplHome.xml - BEGIN */
.hors-champ {
	position: absolute;
	left: -10000px;
}
h2.free {
	color: #C22353;
	border-left: 3px solid #336799;
}
#Logo {
	width: 152px;
	height: 128px;
}
a.Logo:hover span {
	display: block;
}
h1.hidden-header {
	display: none;
}
h2.hidden {
	display: none;
}
#LeftMenuBlockTitle {
	display: block;
	margin-top: 24px;
	margin-bottom: 16px;
}
p.hidden-alternative {
	display: none;
}
#Portal08 {
	width: 217px;
	height: 190px;
	float: left;
	background: #e8e8e8;
	background: url(portal08.jpg) ;
	display: block;
}
div#PortalPrincipalNavigation {
	padding-left: 8px;
}
div#PortalSecondaryNavigation ul.options3 {
	margin: 0;
	padding: 0;
	display: inline;
}
div#PortalSecondaryNavigation ul.options3 li {
	float: left;
	list-style-type: none;
	padding: 1px 8px;
	width: 148px;
	text-align: center;
	display: block;
}
div#PortalSecondaryNavigation ul.options3 li a.link {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
div#PortalSecondaryNavigation ul.options3 li a.link:hover {
	color: #e8e8e8;
}
#PortalThirdNavigation {
	width: 125px;
	height: 150px;
	float: left;
	background: url(tete_droite.jpg) no-repeat;
}
/* /production/cg35/home/v3/webapp/modules/website/style/tplHome.xml - END */