div.light_square .pp_top .pp_left ,
div.light_square .pp_top .pp_middle,
div.light_square .pp_top .pp_right,
div.light_square .pp_bottom .pp_left,
div.light_square .pp_bottom .pp_middle,
div.light_square .pp_bottom .pp_right,
div.light_square .pp_content
{
	background: #fff;
	/*opacity:0.5;*/
	-moz-border-radius : 5px;
}

div.pp_pic_holder #pp_full_res
{
	position:relative;
	margin:auto;
	top:5px;
}

div.light_square .pp_top
{
	display:none;
}

div.light_square .pp_bottom
{
	display:none;
}

div.light_square a.pp_close, #closepopup, a.closelink
{
	width: 20px;
	height: 20px;
	overflow:hidden;
	background: url(http://www.cg89.fr/pics/bt-fermer.png) no-repeat;
	cursor: pointer;
	position:absolute;
	top:-7px;
	right:-7px;
	z-index:25000;
	text-indent:-9999px;
}

div.pp_pic_holder a:focus { outline:none; }

div.pp_overlay 
{
	background: #000;
	position: absolute; top: 0; left: 0;
	z-index: 9500;
	width: 100%;
}

div.pp_pic_holder 
{
	position: absolute; z-index: 10000;
	width: 100px;
}

div.pp_pic_holder .pp_top 
{
	position: relative;
	height: 20px;
}
* html div.pp_pic_holder .pp_top { padding: 0 20px; }

div.pp_pic_holder .pp_top .pp_left
{
	position: absolute;
	left: 0;
	width: 20px; height: 20px;
}

div.pp_pic_holder .pp_top .pp_middle
{
	position: absolute;
	left: 20px; right: 20px;
	height: 20px;
}

* html div.pp_pic_holder .pp_top .pp_middle { position: static; left: 0; }

div.pp_pic_holder .pp_top .pp_right
{
	position: absolute;
	top: 0; left: auto; right: 0;
	width: 20px; height: 20px;
}

div.pp_pic_holder .pp_content
{
	position: relative;
	text-align: left;
	width: 100%; height: 40px;
}

div.pp_pic_holder .pp_content .pp_details
{
	display: none;
	margin: 10px 15px 2px 20px;
}
div.pp_pic_holder .pp_content .pp_details p.pp_description { display: none; float: left; margin: 0; }

div.pp_pic_holder .pp_content .pp_details .pp_nav
{
	float: left;
	margin: 3px 0 0 0;
}

div.pp_pic_holder .pp_content .pp_details .pp_nav p { float: left; margin: 2px 4px; }

div.pp_pic_holder .pp_content .pp_details .pp_nav a.pp_arrow_previous,
div.pp_pic_holder .pp_content .pp_details .pp_nav a.pp_arrow_next
{
	float: left;
	display: block;
	width: 14px; height: 15px;
	overflow: hidden;
	text-indent: -10000px;
	margin-top: 3px;
}

div.pp_pic_holder .pp_content div.pp_hoverContainer
{
	position: absolute; z-index: 2000;
	top: 0; left: 0;
	width: 100%;
}

div.pp_pic_holder a.pp_next
{
	display:block;
	position:absolute;
	right:-35px;
	top:150px;
	width:28px;
	height:28px;
	background: url(http://www.cg89.fr/pics/bt-suivant.png) no-repeat;
	
	text-indent: -10000px;
}

div.pp_pic_holder a.pp_next:hover
{
	background: url(http://www.cg89.fr/pics/bt-suivant.png) no-repeat 0 -28px;
}

div.pp_pic_holder a.pp_previous
{
	display:block;
	position:absolute;
	left:-35px;
	top:150px;
	width:28px;
	height:28px;
	background: url(http://www.cg89.fr/pics/bt-precedent.png) no-repeat;
	
	text-indent: -10000px;
}

div.pp_pic_holder a.pp_previous:hover
{
	background: url(http://www.cg89.fr/pics/bt-precedent.png) no-repeat 0 -28px;
}

div.pp_pic_holder .pp_content a.pp_expand,
div.pp_pic_holder .pp_content a.pp_contract
{
	position: absolute; z-index: 20000;
	top: 10px; right: 30px;
	cursor: pointer;
	display: none;
	text-indent: -10000px;
	width: 20px; height: 20px;	
}

div.pp_pic_holder .pp_content a.pp_close
{
	float: right;
	display: block;
	text-indent: -10000px;
}

div.pp_pic_holder .pp_bottom 
{
	position: relative;
	height: 20px;
}
* html div.pp_pic_holder .pp_bottom { padding: 0 20px; }

div.pp_pic_holder .pp_bottom .pp_left 
{
	position: absolute;
	left: 0;
	width: 20px; height: 20px;
}

div.pp_pic_holder .pp_bottom .pp_middle 
{
	position: absolute;
	left: 20px; right: 20px;
	height: 20px;
}

* html div.pp_pic_holder .pp_bottom .pp_middle { position: static; left: 0; }

div.pp_pic_holder .pp_bottom .pp_right 
{
	position: absolute;
	top: 0; left: auto; right: 0;
	width: 20px; height: 20px;
}

div.pp_pic_holder .pp_loaderIcon
 {
	display: none;
	position: absolute;
	top: 50%; left: 50%;
	margin: -12px 0 0 -12px;
	width: 24px; height: 24px;
}

div.pp_pic_holder #pp_full_res { display: block; margin: 0 auto; width: 100%; text-align: center; }
div.pp_pic_holder #pp_full_res object,
div.pp_pic_holder #pp_full_res embed { visibility: hidden; }

div.ppt
{
	display: none;
	position: absolute;
	top: 0; left: 0;
	z-index: 9999;
	color: #fff;
	font-size: 17px;
}

.clearfix:after
{
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac */
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */