/*général*/
body,html{font-family:Tahoma,Verdana,sans-serif; font-size:11px; color:#092a4f;text-align:center;line-height:1.40em;}

.tx-irfaq-pi1 dt{font-size:14px;font-weight:bold;color:#d2011f;}
.tx-irfaq-pi1 a{color:#006ab2;}
.tx-irfaq-pi1 a:hover{text-decoration:none;}

div#page{text-align:left;}
  /*header*/
    #page #header #logo{text-decoration:none;}
    #page #header #mainMenuCont{text-align:right;}
      #page #header #mainMenuCont #mainMenu{text-align:left;}
        #page #header #mainMenuCont #lgMenu span{font-size:14px;color:#4e719b;}
     
        
  /*main*/
    #page #main.home #leftHome{text-align:center;}
    
      #page #main.home #rightHome p.important{font-size:13px;font-weight:bold;color:#13427a;}
      #page #main.home #rightHome div.actu span.date{font-weight:bold;}
      #page #main.home #rightHome div.actu a{color:#13427a;text-decoration:none;}
      #page #main.home #rightHome div.actu a:hover{text-decoration:underline;}
      #page #main.home #rightHome div.allActu{font-size:13px;font-weight:bold;color:#13427a;}
        #page #main.home #rightHome div.allActu a{color:#13427a;}
        #page #main.home #rightHome div.allActu a:hover{text-decoration:none;}
        
      
      #page #main #left #filArianne{font-weight:bold;color:#114279;}
        #page #main #left #filArianne a{color:#114279;text-decoration:none;}
        #page #main #left #filArianne a:hover{text-decoration:underline;}
        #page #main #left .contenuCentral{text-align:justify;}
        #page #main #left h1{font-size:12px;color:#114279;line-height:1.50em;text-align:left;}
        #page #main #left h2{font-size:18px;color:#f99300;line-height:1.30em;text-align:justify;}
        #page #main #left h3{font-size:12px;color:#114279;line-height:1.50em;text-align:justify;}
        #page #main #left p{text-align:justify;}
        #page #main #left p.savoir{line-height:1.60em;}
        #page #main #left p.more{line-height:1.60em;}
        #page #main #left p.boussole{font-size:11px;color:#092a4f;font-weight:normal;}
        #page #main #left p.liens{font-size:11px;color:#092a4f;font-weight:normal;}
        #page #main #left p.contact{font-size:11px;color:#092a4f;font-weight:normal;}
        #page #main #left span.chiffre{font-family:Lucida Sans Unicode;font-size:22px;color:#114279;font-weight:bold;letter-spacing:2px;}
        #page #main #left span.important{color:#f99300;font-weight:bold;}
        #page #main #left span.detail{color:#f99300;font-weight:bold;}
        #page #main #left div a{font-weight:bold;color:#114279;}
          #page #main #left div a:hover{text-decoration:none;}
        

        /*----tableaux----*/
        #page #main #left table td p{text-align:left;font-weight:normal;}
        #page #main #left table td.feux p{text-align:center;}
        #page #main #left table tr.title p{text-align:center;font-weight:bold;color:#FFFFFF;}
        #page #main #left table tr.carte p a{color:#0063A2;}
        #page #main #left table td img{text-align:center;}
        #page #main #left table td.none p{text-align:left;font-weight:normal;vertical-align:bottom;}
        #page #main #left table td.chiffre p{font-family:Tahoma;font-size:17px;color:#114279;font-weight:bold;letter-spacing:2px;vertical-align:top;}
        #page #main #left table td.legende p{font-size:10px;color:#2a2a2a;font-weight:normal;vertical-align:bottom;text-align:center;}
        #page #main #left table.contact{text-align:left;}
        #page #main #left table td.titre p{font-size:11px;color:#092a4f;font-weight:bold;text-align:left;}
        #page #main #left table td.coord p{text-align:left;color:#000000;}
        #page #main #left table td.coord {vertical-align:top;}
        /*----fin tableaux----*/  

        /*---plan du site---*/
        #page #main #left div.level_1 a{font-weight:bold;font-size:12px;text-transform:uppercase;text-decoration:none;}
        #page #main #left div.level_2 a{font-weight:normal;font-size:11px;text-transform:capitalize;}
        #page #main #left div.level_3 a{font-weight:normal;font-size:11px;text-transform:capitalize;}
        /*---fin plan du site---*/
      
        /*---formulaire---*/
        div.csc-mailform-label{font-size:11px;color:#092a4f;}
        div.csc-mailform-field label{font-size:11px;color:#092a4f;}    
        div.csc-mailform-field input.csc-mailform-submit{color:#092a4f;}
        div.csc-mailform-field input.submit{color:#092a4f;}
        /*---fin formulaire---*/
        
        /*---formulaire POWERMAIL---*/
        div.tx-powermail-pi1 {font-family:Tahoma,Verdana,sans-serif;font-size:11px;color:#092a4f;}
        div.tx_powermail_pi1_fieldwrap_html label{font-family:Tahoma,Verdana,sans-serif;font-size:11px;color:#092a4f;}    
        div.tx_powermail_pi1_fieldwrap_html input {font-family:Tahoma,Verdana,sans-serif;font-size:11px;color:#092a4f;}
        div.tx_powermail_pi1_fieldwrap_html textarea {font-family:Tahoma,Verdana,sans-serif;font-size:11px;color:#092a4f;}
        div.tx_powermail_pi1_fieldwrap_html select {font-family:Tahoma,Verdana,sans-serif;font-size:11px;color:#092a4f;}
        div.tx_powermail_pi1_fieldwrap_html input[type=submit]{font-family:Tahoma,Verdana,sans-serif;font-size:11px;color:#FFFFFF;}
        input[type=submit]{font-family:Tahoma,Verdana,sans-serif;font-size:11px;color:#FFFFFF;}
        /*---fin formulaire POWERMAIL---*/
          
          #page #main #right ul li a{font-size:12px;font-weight:bold;color:#fff;text-decoration:none;}
          #page #main #right ul li ul li a{font-size:11px;}
        
  /*footer*/
      #page #footer table tr td{color:#fff;font-size:11px;}
        #page #footer table tr td a{color:#fff;text-decoration:none;}
        #page #footer table tr td a:hover{text-decoration:underline;}
        
