.bgu, #header, #titre td.libelle, .bordercorpsu2{ background:#FF7200;}
#cont a:hover, div.sel, .linkon, .u{ color:#FF7200;}
td.lefton, .sfndhtitre, .tbrechreson{ background:#FFB048;}
fieldset.deg1{ border-color:#FFB048;}
.fndatitre, .bordercorpsu, .deg2{ background:#FFE299;}
.fndhtitre{ background:#FFC885;}
hr.seq, .deg3, .deg5, .radeg5{ background:#FFF1D2;}

.radeg5{ color:#FFF1D2;}
.deg4{ background:#F4F4F4;}
.radeg4{ color:#F4F4F4;}
.fon{ color:#424242;}

td.ongon { background:#FF7200;}
td.ongonb{ background:#FF7200 url('titongletson.gif');}
td.ongoff a { color:#FF7200;}
td.ongoff{ background:#FF7200 url('titongletsoff.gif');}
td.ongoffb{ background:#FF7200 url('titongletsoffb.gif');}
td.ongdis { background:#FFE299 url('titongletsoff.gif'); color:#FFE299}
td.ongdisb{ background:#FFE299 url('http://www.paris.fr/portail/charters/2/graphical/default/img/titongletsdisb.gif');}
td.ongpop { background:#FFE299;}
td.ongpopb{ background:#FFE299 url('http://www.paris.fr/portail/charters/2/graphical/default/img/titongletspopb.gif');}
.dvrechreson{ display:none;}
.dvrechreson input, .dvrechreson p.action strong{ display:inline;}
.dvrechresoff{ display:block;}
.tbrechresoff{ background-color:#E8E6E3;}
.none { display:none;}
#ongillus { background:#FF7200;}
#ongillus td { background:#FFFFFF url('fndongillus.gif');}

.coinnote {background:#FFF1D2 url('http://www.paris.fr/portail/charters/2/graphical/default/img/coin-note.gif');}
.fndnote span { color:#FF7200;}
.brdlist { background:#FFC885;}

.trouver { background:#FFFFFF url('http://www.paris.fr/portail/charters/2/graphical/default/img/trouver-activite.gif');}

#left, #noleft{ background:#FFFFFF url('left-u.gif');}
#right{ background:#FFFFFF url('http://www.paris.fr/portail/charters/2/graphical/default/img/right-u.gif');}
td.rborder{ background:#E8E6E3 url('right-border.gif');}
td.rborderw{ background:#FFFFFF url('right-border-w.gif');}
td.rtitbg{ background:#A49D97 url('right-titre.gif');}
#titre td.arrow{ background:#FFFFFF url('left-titre-a.gif.1'); width:14px; overflow:hidden}
.titrebottom{ background:#FFFFFF url('left-titre-b.gif.1');}
#left #sel{ background:#E8E6E3 url('left-srub-sel.gif') no-repeat;}
#left #firstsel{ background:#E8E6E3 url('http://www.paris.fr/portail/charters/2/graphical/default/img/left-first-srub-sel.gif') no-repeat;}
td.quad{ background:#E8E6E3 url('quad.gif') no-repeat;}
.rbuttonmid{ background:#E8E6E3 url('http://www.paris.fr/portail/charters/2/graphical/default/img/rbuttonmidbkg.gif');}
.fndtitre{ background:#FFFFFF url('http://www.paris.fr/portail/charters/2/graphical/default/img/fndtitre.gif');}
.entetea{ background:#FFFFFF url('entetebkg.gif');}
input.ok{ background:#FFFFFF url('fnd_ok.gif');}

.borderorga{ background:#FFFFFF url('http://www.paris.fr/portail/charters/2/graphical/default/img/border-orga.gif'); text-align:center}
#ssrub div{ background:#FFFFFF url('http://www.paris.fr/portail/charters/2/graphical/default/img/ssrub.gif') no-repeat;}
#ssrubon div{ background:#FFE299 url('http://www.paris.fr/portail/charters/2/graphical/default/img/ssrub.gif') no-repeat;}
.ssrubcorner{ background:#FFFFFF url('http://www.paris.fr/portail/charters/2/graphical/default/img/ssrub-corner.gif') no-repeat;}
#ssrub a:hover, #ssrubon a:hover, #sssrub a:hover{ color:#FF7200;}
#ssrubon{ background:#FFE299;}
#sssrub{ background:#FFF1D2;}

td.quad2{ background:#FFFFFF url('quad.gif') no-repeat;}
td.quad3{ background:#FFFFFF url('quad3.gif') no-repeat;}
td.quad3a{ background:#FFF1D2 url('quad3.gif') no-repeat;}
.fndpopadr{ background:#FFFFFF url('http://www.paris.fr/portail/charters/2/graphical/default/img/fndpopadr.gif') repeat-y;}
.fndactu, .fndnote, .ldeq, .ldeqfnd { background:#FFF1D2;}

#pratiquer { background: url('http://www.paris.fr/portail/charters/2/graphical/img/fndpratiquer.gif') repeat-x left top;}
/*/*/a{}

input.reset{ border:1px solid #FF7200; background-color:#FFFFFF; color:#FF7200;}
input.submit{ background:#FFFFFF url('fnd_submit.gif');}
input.submit2{ background:#FFFFFF url('http://www.paris.fr/portail/charters/2/graphical/default/img/fnd_submit_2.gif');color:#FF7200}
#ldeqsep{ background:#FFF1D2 url('http://www.paris.fr/portail/charters/2/graphical/default/img/sep-liste.gif');}

/** Puce Mairie de Paris **/
span.pucevdp{ 
	font-weight:bold;
	margin-left : 5px;
	padding-left:10px;
	background-image:  url('carre-u.gif'); 
	background-repeat: no-repeat;
	background-position:   left top;
}

/** Puce enumeration **/
span.pucevdp2{ 
	margin-left : 5px;
	padding-left:8px;
	background-image:  url('fleche.gif.1'); 
	background-repeat: no-repeat;
	background-position:   left;
}


#ldeqsep2{ border-right:2px solid #FFF1D2; }
.brdlist { background:#FFF1D2;}
.actu0 {
	background-image: url('http://www.paris.fr/portail/charters/2/graphical/default/img/h2back.jpg');
	background-repeat: repeat-x;
	clear: both
}
.actu0 p {

	font-size: larger;
}
.actu {
	font-size: larger;
	background-image: url('http://www.paris.fr/portail/charters/2/graphical/default/img/h2back.jpg');
	background-repeat: repeat-x;
	clear: both;
	margin-top: 16px
}
.actu h2, .actu h2 a {
	font-size:12px;
	font-weight: bold;
	margin-bottom: 5px;
	padding-right: 130px;
}
.actu0 h2, .actu0 h2 a {
	font-size:14px;
	font-weight: bold;
	margin-bottom: 16px;
	padding-right: 130px;	
}
.imgright {
	float: right;	
	margin-bottom: 16px;
}
.dateleft {
	color: #6C6C6C;
	margin-right: 20px;
	float: left;	
}
.bloctitre h2 {
	font-size: larger;
	font-weight: bold;
	background-image: url('http://www.paris.fr/portail/charters/2/graphical/default/img/h2back.jpg');
	background-repeat: repeat-x;
	margin-bottom: 16px
}

#cadre {
	border-top-width: 4px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-bottom-color: #AAB8C5;
	border-left-color: #AAB8C5;
	height: auto;
	width: 648px;
}

.photo {
	display: table;
	#position: relative;
	overflow: hidden;
	background-color: #FFF1D2;
	float: left;
	border-right-width: 1px;
	border-bottom-width: 5px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #AAB8C5;
	border-bottom-color: #000000;
	height: 203px;
	width: 161px;
}

.clear {
	clear: both;
}
.photo div {
	width: 161px;
	#position: absolute;
	_top: 50%;
	display: table-cell;
	vertical-align: middle;
	}
.photo div div {
	width: 161px;
	#position: relative;
	#top: -50%
	}
.center {
	text-align: center;
}
.loupe {
 background-image: url(http://www.paris.fr/portail/viewmultimediadocument?multimediadocument-id=21205);
 background-repeat: no-repeat;
 color: #026EAC;
 background-position: 0px 2px;
 padding-left: 20px;
}
#paristv {
	width: 355px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #099DE7;
	border-left-color: #099DE7;
}
#paristv h2 {
	margin: 0px;
	padding: 0px;
}
#paristv h2 a{
	background-image: url('paristv.jpg');
	display: block;
	height: 45px;
	width: 355px;
	text-indent: -5000px;
	font-size: 1%;
}
#paristv h3 {
	font-weight: bold;
}
#paristv div {
	padding-right: 26px;
	padding-left: 26px;
	margin: 0px;
	padding-top: 20px;
}
#coing {
	background-image: url('coinsronds.gif');
	float: left;
	height: 5px;
	width: 5px;
	font-size: 1%;
}
#coind {
	background-image: url('coinsronds.gif');
	background-position: 5px 0px;
	height: 5px;
	width: 5px;
	float: left;
	font-size: 1%;
}
.clear {
	clear: both;
}
#paristvb {
	float: left;
	width: 346px;
	height: 5px;	
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #3EB1E8;
	font-size: 1%;
}
#paristvpicto {
	background-image: url('pictoparistv.jpg');
	background-repeat: no-repeat;
	padding-left: 24px;
	display: block;
	margin-top: 14px;
	margin-bottom: 9px;
	float: right;
	height: 18px;
	padding-right: 20px;
	padding-top: 2px;
}
