body{
margin:0;
background:url('fond.png') top left repeat-x;
}
#main{
width:948px;
height:885px;
background:url('home.png') top left no-repeat;
margin:0 auto;
position:relative;
}
h1{
position:absolute;
top:140px;
left:450px;
color:#fff;
font-family:Verdana,sans-serif;
font-weight:normal;
}