#fondBando { background-image:url(bando_hp.jpg); height:212px}

#recherche { margin-top:152px; clear:both; float:right; padding-right:70px; color:#FFF; vertical-align:middle; font-size:11px;}
#recherche a {color:#A5BDC7; text-decoration:none}
#recherche a:hover {color:#A5BDC7; text-decoration:underline}