div#colonnes-deco{
background: none;
}

div#nav_deco{
display: none;
}

ul#menu_principal ul a{
color: #c2c2c2;
}

ul#menu_principal ul a:hover{
color: #fff;
}

/* ============== */
/* PAGE D'ACCUEIL */
/* ============== */


/* Partie supérieure */


.menu_principal_item1{
color: #fff;
text-decoration:none;
text-transform:uppercase;
line-height: 1.2;
font-weight: 700;
cursor: pointer;
}

ul#menu_principal li.menu_open div.menu_principal_sousmenu{
padding-left: 0;
}

ul#menu_principal li.menu_open div.element_menu_cache{
padding-top: 0;
width: 695px;
float: left;
}

body div#page ul#menu_principal li.menu_open{
background-image: url(vous_etes2.png);
background-repeat : no-repeat;
background-position: 100% 100%;
padding: 0 0 0 20px;
position: relative;
}

ul#menu_principal li{
padding-left: 20px;
}

ul#menu_principal li.menu_open div{
padding: 10px 20px 0 20px;
width: 179px;
float: left;
}

ul#menu_principal li.menu_open div.actu_texte{
background: #d6d6d8;
padding: 0 0 0.5em;
width: 400px;
color: #000;
}

ul#menu_principal li.menu_open div.actu_texte h3{
font-size: 1.2em;
font-weight: 700;
line-height: normal;
text-transform: none;
margin: 0;
padding: 1em 0;
}

ul#menu_principal li.menu_open div.actu_texte a{
text-transform: none;
color: #C04500;
}

/* === couleurs menu principal === */
#menu_principal_0 div.actu_texte h3{ color:#323339; } /* Etudiant */
#menu_principal_1 div.actu_texte h3{ color:#393b45; } /* Lyceen */
#menu_principal_2 div.actu_texte h3{ color:#62698a; } /* Entreprise */
#menu_principal_3 div.actu_texte h3{ color:#5c7080; } /* Enseignant */
#menu_principal_4 div.actu_texte h3{ color:#425360; } /* Adulte */
#menu_principal_5 div.actu_texte h3{ color:#155f6c; } /* Personnel Admin */
#menu_principal_6 div.actu_texte h3{ color:#15486c; } /* Etudiant etranger */
#menu_principal_7 div.actu_texte h3{ color:#2e3a43; } /* Ancien Etudiant */
#menu_principal_8 div.actu_texte h3{ color:#2e3a43; } /* Ancien Etudiant */
#menu_principal_9 div.actu_texte h3{ color:#2e3a43; } /* Ancien Etudiant */

ul#menu_principal li.menu_open div.actu_texte p{
width: 400px; 
}

ul#menu_principal li.menu_open div.photo{
padding: 0;
margin: 0 0 0 35px;
}

ul#menu_principal li.menu_open div.photo img{
display: block;
}

ul#menu_principal li.menu_open img.fermer{
position: absolute;
top: 2px;
right: 3px;
cursor: pointer;
}

ul#menu_principal li.menu_open ul li{
padding-left: 0;  
}

ul#menu_principal li.menu_open div.menu_item{
padding: 0 0 20px;
}


/* partie inférieure */

div#contenu_sans_encadres_sans_nav{
background: #e6e6e6;
}

div#contenu_sans_encadres_sans_nav div.actualite,
div#contenu_sans_encadres_sans_nav a#toutes_les_actus,
div#contenu_sans_encadres_sans_nav div#reste{
padding: 0 54px 10px 170px; 
}

div#contenu_sans_encadres_sans_nav div.actualite img{
float: right; 
}

h2#a_la_une{
background-color: #747887;
padding: 0;
margin: 0;
}

h2#a_la_une img{
display: block;
}

div#contenu_sans_encadres_sans_nav div.actualite h3{
margin-top: 30px;
color: #eb4d29;
font-size: 1.6em;
font-weight: 700;
}

div#contenu_sans_encadres_sans_nav div.actualite .fil_deco1,
div#contenu_sans_encadres_sans_nav div.actualite .fil_deco2{
width: 430px;
margin-right: 15px;
float: left;
}