body {	
	background-color: #f8f9e5;
	font-family: Arial, Helvetica, sans-serif;	
	
	}
	
/*------------------------------------------------------------------------------------*/
div#bandeauSup{
	position: absolute;
	top: 0px;
	left: 0px;	
	width:791px;
	height: 235px;
	background-color: #dac8dd;
	background-color: #00A6A6;
	
}

div#navBloc{
	position: absolute;
	top: 235px;
	left: 0px;	
	width:228px;
	background-color: #5485cf;
}

div#navGauche{
	position: relative;
	top: 0px;
	left: 0px;
	width:228px;
	height: 360px;
	background-color: #5485cf;
	background-repeat: no-repeat;
	
}

div#navGauche div div {
	display: inline;
}


div#navBas {
	position: absolute;
	top: 340px;
	left: 400px;
  width: 150px;
  height: 20px;
}

div#navBas ul {
	position: absolute;
	top: -10px;
	left: -265px;
}
div#navBas ul li a {
  color: #7E7F81;
}


div#menu{
	position: absolute;
	top: 239px;
	left: 1px;
	width:235px;
	height:345px;
	z-index: 2;
	
	
}
div#centre{
	position: absolute;
	top: 235px;
	left: 228px;	
	width:563px;
	height: 345px;
	
}
div#pubDroite{
	position: absolute;
	top: 0px;
	left: 791px;	
	width:199px;
	height:600px;
	background-color: #00A6A6;
	
}

div#titrePub{
	position: absolute;
	top: 356px;
	left: 830px;
	width:110px;
	height:20px;
	z-index: 3;	
}

div#titrePub1{
	position: absolute;
	top: 468px;
	left: 830px;
	width:110px;
	height:20px;
	z-index: 3;	
}
div#titrePub2{
	position: absolute;
	top: 472px;
	left: 830px;
	width:110px;
	height:20px;
	z-index: 3;	
}
div#titrePub3{
	position: absolute;
	top: 472px;
	left: 830px;
	width:191px;
	height:20px;
	z-index: 3;	
}
div#titrePub4{
	position: absolute;
	top: 588px;
	left: 830px;
	width:191px;
	height:20px;
	z-index: 3;	
}
div#titrePub5{
	position: absolute;
	top: 236px;
	left: 830px;
	width:191px;
	height:20px;
	z-index: 3;	
}
div#menuGb{
	position: absolute;
	top: 216px;
	left:0px;
	width:228px;
	height:19px;
	background-color: #E3402F;
	z-index: 2;
	
}
div#contGb{
	position: absolute;
	top: 218px;
	left:12px;
	width:215px;
	height:19px;
	z-index: 3;
	
}
div#flashInfo{
	position: absolute;
	top: 216px;
	left:228px;
	width:562px;
	height:19px;
	z-index: 2;
	
}
div#altair{
	position: absolute;
	top: 460px;
	left:0px;
	width:228px;
	height:130px;
	z-index: 2;
	text-align: center;
	background-color: #01A4A6;
}
div#pub1{
	position: absolute;
	top: 3px;
	left:797px;
	width:188px;
	height:110px;
	background-color: #7e7f81;
	z-index: 2;
	background-image: url(pub1.gif);
	
}

div#pub2{
	position: absolute;
	top: 355px;
	left:797px;
	width:188px;
	height:110px;
	z-index: 2;
	background-image: url(southampton.jpg);
	text-align: center;
}

div#pub3{
	position: absolute;
	top: 587px;
	left:797px;
	width:188px;
	height:110px;
	z-index: 2;
	background-image: url(keopolis.jpg);
	text-align: center;
	
}
div#pub4{
	position: absolute;
	top:471px;
	left:797px;
	width:188px;
	height:110px;
	z-index: 2;
	background-image: url(ot_southampton.jpg);
	text-align: center;
	
}
div#pub5{
	position: absolute;
	top:235px;
	left:797px;
	width:188px;
	height:110px;
	z-index: 2;
	background-image: url(firstcomp.jpg);
	text-align: center;
	
}

div#navBas {
	color: #7e7f81;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

ul.menuBas {
	display: inline;
}

ul.menuBas li {
	display: inline;
}

ul.menuBas a:link {color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;text-decoration: none;font-weight:normal }
ul.menuBas a:visited {color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;text-decoration: none; font-weight:normal}
ul.menuBas a:hover {color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;text-decoration: none;}
ul.menuBas a:active {color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;text-decoration: none;font-weight:normal}

div#liens {
	position: absolute; 
	top: 240px; 
	left:791px;
}

div#liens a {
	display: block;
}

div#liens a#logoKeolis {
	width: 180px;
	height: 62px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

div#liens a#logoALM {
	width: 200px;
	height: 38px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

div#liens a#logoSouthampton {
	width: 56px;
	height: 51px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

div#pub6{
	position: absolute;
	top:119px;
	left:797px;
	width:188px;
	height:110px;
	z-index: 2;
	background-image: url(pub.jpg);
	text-align: center;
	
}
div#titrePub6{
	position: absolute;
	top: 120px;
	left: 826px;
	width:164px;
	height:20px;
	z-index: 3;	
}

/*------------------------------------------------------------------------------------*/

div.publicite {
	display: block;
	position: relative;
	width: 188px;
	height: 110px;
	margin-top: 5px;
	margin-left: 5px;
}

div.publiciteFond {
	position: absolute;
	top: 0px;
	z-index: 1;
}


div.publiciteContenu {
	position: absolute;
	top: 0px;
	z-index: 2;
}

div.publiciteContenu p {
	width: 185px;
	margin-top: 8px;
	text-align: center;
}


div#textDefilant {
	position: absolute;
	top: 10px;
	left: 350px;
	width: 300px;
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;
}

div#keolis {
	width: 188px;
	height: 40px;
	position: absolute;
	right: 35px;
	text-align: center;
	top: 560px;
}

div#workspace {
	width: 545px;
	margin-top: 10px;
	margin-left: 5px;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}


p.bodytext {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}
