div#navGauche {
	width: 228px;
	background-image: url(menu_bg.gif);
	background-repeat: repeat-y;
	padding-top: 5px;
	text-align: left;
}

div#menu_10 a {
	display: block;
	width: 210px;
	height: 25px;
	margin-left: 10px;
	padding-top: 5px;
	background-image: url(vol_off.gif);
	background-position: top left;
	background-repeat: no-repeat;
	text-indent: 28px;
}
div#menu_9 a {
	display: block;
	width: 210px;
	height: 25px;
	margin-top: 5px;
	margin-left: 10px;
	padding-top: 5px;
	background-image: url(acces_off.gif);
	background-position: top left;
	background-repeat: no-repeat;
	text-indent: 28px;
}
div#menu_8 a {
	display: block;
	width: 210px;
	height: 25px;
	margin-top: 5px;
	margin-left: 10px;
	padding-top: 5px;
	background-image: url(aeroport_off.gif);
	background-position: top left;
	background-repeat: no-repeat;
	text-indent: 28px;
}
div#menu_7 a {
	display: block;
	width: 210px;
	height: 25px;
	margin-top: 5px;
	margin-left: 10px;
	padding-top: 5px;
	background-image: url(decouverte_off.gif);
	background-position: top left;
	background-repeat: no-repeat;
	text-indent: 28px;
}
div#menu_6 a {
	display: block;
	width: 210px;
	height: 25px;
	margin-top: 5px;
	margin-left: 10px;
	padding-top: 5px;
	background-image: url(contact_off.gif);
	background-position: top left;
	background-repeat: no-repeat;
	text-indent: 28px;
}
div#menu_5 a {
	display: block;
	width: 210px;
	height: 25px;
	margin-top: 5px;
	margin-left: 10px;
	padding-top: 5px;
	background-image: url(pilote_off.gif);
	background-position: top left;
	background-repeat: no-repeat;
	text-indent: 28px;
}




div#menu_on_10 a,div#menu_10 a:hover {
	display: block;
	width: 210px;
	height: 25px;
	margin-left: 10px;
	padding-top: 5px;
	background-image: url(vol_on.gif);
	background-position: top left;
	background-repeat: no-repeat;
	text-indent: 28px;

}
div#menu_on_9 a,div#menu_9 a:hover  {
	display: block;
	width: 210px;
	height: 25px;
	margin-top: 5px;
	margin-left: 10px;
	padding-top: 5px;
	background-image: url(acces_on.gif);
	background-position: top left;
	background-repeat: no-repeat;
	text-indent: 28px;
}
div#menu_on_8 a,div#menu_8 a:hover {
	display: block;
	width: 210px;
	height: 25px;
	margin-top: 5px;
	margin-left: 10px;
	padding-top: 5px;
	background-image: url(aeroport_on.gif);
	background-position: top left;
	background-repeat: no-repeat;
	text-indent: 28px;
}
div#menu_on_7 a,div#menu_7 a:hover {
	display: block;
	width: 213px;
	height: 25px;
	margin-top: 5px;
	margin-left: 10px;
	padding-top: 5px;
	background-image: url(decouverte_on.gif);
	background-position: top left;
	background-repeat: no-repeat;
	text-indent: 28px;
}
div#menu_on_6 a,div#menu_6 a:hover {
	display: block;
	width: 210px;
	height: 25px;
	margin-top: 5px;
	margin-left: 10px;
	padding-top: 5px;
	background-image: url(contact_on.gif);
	background-position: top left;
	background-repeat: no-repeat;
	text-indent: 28px;
}

div#menu_on_5 a,div#menu_5 a:hover {
	display: block;
	width: 210px;
	height: 25px;
	margin-top: 5px;
	margin-left: 10px;
	padding-top: 5px;
	background-image: url(pilote_on.gif);
	background-position: top left;
	background-repeat: no-repeat;
	text-indent: 28px;
}

ul.sousMenu {
	width: 170px;
	background-color: #80A4DB;
	list-style: none;
	margin: 0px;
	padding: 2px;
	border: 1px solid #5485CF;
	/*position: relative;*/
	/*top: 220px;*/
	/*top: 50px;*/
	text-align: left;
}

ul.sousMenu li {
	list-style-image: none;
	margin: 4px;
}

ul.sousMenu li a {
	display: block;
	width: 165px;
}


