/* GENERAL PANELBOX */
.box .teaser.panelbox {
background-image:url(panelbox.png);
background-repeat:no-repeat;
font-family:arial,verdana,sans-serif;
font-size:11px;
line-height:13px;
padding:5px 10px 0px 10px;
}

.box .teaser.panelbox h5 {
font-family:arial,verdana,sans-serif;
font-weight:bold;
font-size:11px;
line-height:13px;
padding:4px 0px 10px 0px;
}

.box .teaser.panelbox table tbody tr.odd, .box .teaser.panelbox table tbody tr.even {
background-color:transparent;
}

.box.x21 .teaser.panelbox {
background-position:-232px 0px;
height:120px;
width:212px;
}

*html .box.x21 .teaser.panelbox {
background-image:url(panelbox_21.png);
background-position:0px 0px;
}

.teaser.panelbox .cropper{
overflow:hidden;
position:relative;
}

.box.x21 .teaser.panelbox .cropper{
height:95px;
}

.box.x22 .teaser.panelbox {
background-position:0px 0px;
height:240px;
width:212px;
}

*html .box.x22 .teaser.panelbox {
background-image:url(panelbox_22.png);
background-position:0px 0px;
}

.box.x22 .teaser.panelbox .cropper{
height:200px;
}

.box.x23 .teaser.panelbox {
background-position:0px -240px;
height:360px;
width:212px;
}

*html .box.x23 .teaser.panelbox {
background-image:url(panelbox_23.png);
background-position:0px 0px;
}

.box.x23 .teaser.panelbox .cropper{
height:325px;
}

.box.x24 .teaser.panelbox {
background-position:-232px -122px;
height:480px;
width:212px;
}

*html .box.x24 .teaser.panelbox {
background-image:url(panelbox_24.png);
background-position:0px 0px;
}

.box.x24 .teaser.panelbox .cropper{
height:445px;
}

.box.x25 .teaser.panelbox {
background-position:-464px 0px;
height:600px;
width:212px;
}

*html .box.x25 .teaser.panelbox {
background-image:url(panelbox_25.png);
background-position:0px 0px;
}

.box.x25 .teaser.panelbox .cropper{
height:565px;
}

.box.x41 .teaser.panelbox {
background-position:0px -602px;
height:120px;
width:452px;
}

*html .box.x41 .teaser.panelbox {
background-image:url(panelbox_41.png);
background-position:0px 0px;
}

.box.x41 .teaser.panelbox .cropper{
height:102px;
}

.box.x42 .teaser.panelbox {
background-image:url(panelbox_42.png);
height:240px;
width:452px;
}

*html .box.x42 .teaser.panelbox {
background-image:url(panelbox_42.png);
background-position:0px 0px;
}

.box.x42 .teaser.panelbox .cropper{
height:210px;
}

.box.x43 .teaser.panelbox {
background-image:url(panelbox_43.png);
height:360px;
width:452px;
}

*html .box.x43 .teaser.panelbox {
background-image:url(panelbox_43.png);
background-position:0px 0px;
}

.box.x43 .teaser.panelbox .cropper{
height:325px;
}

.box.x44 .teaser.panelbox {
background-image:url(panelbox_44.png);
height:480px;
width:452px;
}

*html .box.x44 .teaser.panelbox {
background-image:url(panelbox_44.png);
background-position:0px 0px;
}

.box.x44 .teaser.panelbox .cropper{
height:445px;
}
/* /GENERAL PANELBOX */

/* PANELBOX LISTS */
.teaser.panelbox li.separator {
background-image:url(separator_h.png);
background-repeat:repeat-x;
background-position:bottom;
padding-bottom:6px;
margin-bottom:4px;
}

/* the following two declarations are for IE6 */
* html .teaser.panelbox li.separator {
overflow:auto; 
zoom: 1;
}

.teaser.panelbox .leading {
display:block;
font-weight:bold;
float:left;
margin-right:8px;
}
/* /PANELBOX LISTS */

/* PANELBOX TABS */
.teaser.panelbox ul.tabs {
background-image:url(tab_inactive.png);
background-repeat:repeat-x;
background-position:bottom;
height:23px;
}

*html .teaser.panelbox ul.tabs {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='/2010/img/panelbox/ie6/tab_inactive.png');
background-image:none;
}

*html .teaser.panelbox ul.tabs {
background-image:none;
}

.teaser.panelbox .tabs li {
float:left;
}

.teaser.panelbox .tabs li a {
display:block;
border-right:1px solid #c5cfd8;
border-bottom:1px solid #c5cfd8;
margin-top:1px;
padding:3px 10px 5px 10px;
}

.teaser.panelbox .tabs li a.first {
border-left:1px solid #f8f8f8;
}

.teaser.panelbox .tabs li.active a.first {
border-left:1px solid #c5cfd8;
}

.teaser.panelbox .tabs li a.last {
border-right:none;
}

.teaser.panelbox .tabs li.active a {
background-image:none;
border-top:1px solid #c5cfd8;
margin-top:0px;
border-bottom:1px solid #f8f8f8;
background-color:#f8f8f8;
}

.teaser.panelbox .tabs li.active a.last {
border-right:1px solid #c5cfd8;
}

.teaser.panelbox .tabs li a:link, .teaser.panelbox .tabs li a:visited {
color:#bbbbbb;
}

.teaser.panelbox .tabs li a:hover {
color:#000000;
}

.teaser.panelbox .tabs li.active a:link, .teaser.panelbox .tabs li.active a:visited {
color:#666666;
}

.teaser.panelbox .tabcontent_holder {
position:absolute;
top:60px;
width:210px;
}
/* /PANELBOX TABS */

/* WEATHER */
.teaser.panelbox.weather .today {
float:left;
}

.teaser.panelbox.weather .today a.icon {
font-weight:bold;
width:100px;
height:55px;
background-image:url(weather.png);
display:block;
}

.teaser.panelbox.weather .future .tomorrow, .teaser.panelbox.weather .future .later {
float:right;
width:95px;
height:30px;
background-image:url(separator_v.png.1);
background-position: top left;
background-repeat:repeat-y;
padding-left:10px;
}

.teaser.panelbox.weather .future a.icon {
background-image:url(weather.png);
display:block;
}

.teaser.panelbox.weather .highlight {
display:block;
}

.teaser.panelbox.weather .future .highlight {
font-weight:bold;
}
.teaser.panelbox.weather .future .separator {
background-image:url(separator_h.png);
background-repeat:repeat-x;
background-position:top;
float:right;
width:95px;
height:3px;
overflow:hidden;
margin-top:3px;
margin-bottom:3px;
}

.teaser.panelbox.weather .locations {
position:absolute;
top:4px;
right:0px;
}

#weather_popup {
height:345px;
width:193px;
}
/* /WEATHER */

/* RECTANGLE */
#left #min_rectangle, #right #min_rectangle {
width:480px;
height:360px;
}

.sideline #min_rectangle {
width:300px;
max-height:250px;
margin:0px 0px 30px 0px;
}

.rectangle {
width:300px;
height:250px;
margin:0px 0px 10px 170px;
}

.box.xspecial, .box.xspecial .box.x23 {
width:160px;
height:250px;
overflow:hidden;
}

.box.xspecial .teaser.panelbox.for-rectangle,
#min_rectangle .box.xspecial .teaser.panelbox.topstories, 
#min_rectangle .box.xspecial .teaser.panelbox.lateststories {
background-image:url(rectangle-panelbox.png);
background-position:0 0;
margin:0;
padding-left:14px;
padding-right:14px;
width:132px;
height:250px;
}

.box.xspecial .teaser.panelbox.for-rectangle .scroller,
#min_rectangle .box.xspecial .teaser.panelbox.topstories .scroller,
#min_rectangle .box.xspecial .teaser.panelbox.lateststories .scroller {
height:194px;
}

/* /RECTANGLE */

/* DAILYNEWS */
.teaser.panelbox.dailynews .scroller {
width:210px;
overflow:auto;
height:287px;
scrollbar-base-color:#cccccc;
padding-right:2px;
}

.x22 .teaser.panelbox.dailynews .scroller {
height:175px;
}

.teaser.panelbox.dailynews.double .scroller {
height:294px;
}

.teaser.panelbox.dailynews ul {
background-image:url(separator_h.png);
background-repeat:repeat-x;
background-position:top;
padding-top:7px;
}

.teaser.panelbox.dailynews li {
height:47px;
overflow:hidden;
}

.teaser.panelbox.dailynews.double li {
height:auto;
}

.teaser.panelbox.dailynews li .category {
font-weight:bold;
}

.teaser.panelbox.dailynews li img {
float:left;
padding-right:7px;
margin-bottom:10px;
}

.teaser.panelbox.dailynews.double .imagebox img {
float:none;
padding-right:0px;
}

.teaser.panelbox.dailynews.double .imagebox {
padding:0px;
margin:0px;
height:45px;
}

.teaser.panelbox.dailynews.double .imagebox img.first {
padding-right:3px;
}

.teaser.panelbox.dailynews.double .down, .teaser.panelbox.dailynews.double .up {
width:16px;
height:8px;
background-image:url(updown.png);
overflow:hidden;
}

.teaser.panelbox.dailynews.double .down {
background-position:0px 0px;
margin:0px 0px 1px 145px;
}

.teaser.panelbox.dailynews.double .up {
background-position:0px -8px;
margin:1px 0px 0px 43px;
}
/* /DAILYNEWS */

/* POLLS */
.teaser.panelbox.polls .question {
padding-bottom:10px;
background-image:url(separator_h.png);
background-repeat:repeat-x;
background-position:bottom;
}

.teaser.panelbox.polls .alert {
color:#cc0000;
padding:10px 0px 10px 0px;
}

.teaser.panelbox.polls .captcha {
padding-bottom:10px;
background-image:url(separator_h.png);
background-repeat:repeat-x;
background-position:bottom;
}

.teaser.panelbox.polls .captcha img {
vertical-align:middle;
}

.teaser.panelbox.polls .ok_button {
width:50px;
height:26px;
background-image:url(ok-button.png);
border:0px;
background-color:transparent;
text-indent:-500px;
line-height:500px;
overflowe:hidden;
cursor:pointer;
}

.teaser.panelbox.polls .ok_button:hover {
background-position:0px -26px;
}

.teaser.panelbox.polls .answerlist {
line-height:17px;
height:115px;
}

.teaser.panelbox.polls form input {
margin:0px;
padding:0px;
}

.teaser.panelbox.polls li {
border-bottom:1px solid #dddddd;
padding:2px 0px 0px 0px;
}

.teaser.panelbox.polls .button {
position:absolute;
bottom:0px;
left:55px;
width:95px;
height:26px;
background-image:url(poll-button.png);
border:0px;
background-color:transparent;
text-indent:-500px;
line-height:500px;
overflowe:hidden;
cursor:pointer;
z-index:150;
}

.teaser.panelbox.polls .button:hover {
background-position:0px -26px;
}

.teaser.panelbox.polls .scroller, .teaser.panelbox.polls .answerlist {
height:110px;
}

.x23 .teaser.panelbox.polls .scroller, .x23 .teaser.panelbox.polls .answerlist {
height:210px;
}

.teaser.panelbox.polls label {
font-size:9px;
}

.teaser.panelbox.polls .pollprozent {
font-size:9px;
margin-bottom:3px;
margin-right:10px;
background-image:url(poll_fade.png);
background-repeat:repeat-y;
}

.teaser.panelbox.polls .pollprozent .bar {
background-color:#cccccc;
background-image:url(poll_bar.png);
display:block;
height:11px;
margin-right:3px;
float:left;
border:1px solid #cccccc;
}

/* /POLLS */

/* VIDEOPLAYER */
.teaser.panelbox.videoplayer .title {
font-weight:bold;
padding:12px 0px 7px 0px;
background-image:url(separator_h.png);
background-repeat:repeat-x;
background-position:top;
display:block;
}
/* /VIDEOPLAYER */

/* TICKER */
.teaser.panelbox.ticker .tabcontent_holder {
width:207px;
height:133px;
overflow:auto;
scrollbar-base-color:#cccccc;
padding-right:5px;
}

.teaser.panelbox.ticker .tabcontent_holder li {
clear:both;
}

.teaser.panelbox.ticker .tabcontent_holder img {
float:left;
margin-right:10px;
margin-bottom:5px;
}
/* /TICKER */

/* REGIONEWS */
.teaser.panelbox.regionews p .category {
font-weight:bold;
}

.teaser.panelbox.regionews p {
margin-bottom:5px;
}

.teaser.panelbox.regionews p img{
float:left;
margin-right:7px;
margin-bottom:5px;
}

.teaser.panelbox.regionews .tabcontent_holder ul {
clear:both;
background-image:url(separator_h.png);
background-repeat:repeat-x;
background-position:top;
display:block;
padding-top:4px;
}
/* /REGIONEWS */

/* MULTIMEDIA */
.teaser.panelbox.multimedia ul {
position:absolute;
top:23px;
left:19px;
width:416px;
}

.teaser.panelbox.multimedia li {
float:left;
width:100px;
margin:0px 2px 0px 1px;
}

.teaser.panelbox.multimedia img {
clear:both;
}

.teaser.panelbox.multimedia .back, .teaser.panelbox.multimedia .forward {
width:14px;
height:14px;
background-image:url(multimedia_navi.png);
float:left;
margin-top:15px;
}

.teaser.panelbox.multimedia .back {
background-position:0px 0px;
position:absolute;
left:0px;
top:27px;
}

.teaser.panelbox.multimedia .back:hover {
background-position:0px -14px;
}

.teaser.panelbox.multimedia .forward {
background-position:-14px 0px;
position:absolute;
right:0px;
top:27px;
}

.teaser.panelbox.multimedia .forward:hover {
background-position:-14px -14px;
}

.teaser.panelbox.multimedia .pagenumber {
position:absolute;
top:5px;
right:22px;
}
/* /MULTIMEDIA */

/* LATESTSTORIES */
.teaser.panelbox.lateststories .scroller { 
width:210px;
overflow:auto;
height:287px;
scrollbar-base-color:#cccccc;
padding-right:2px;
}
/* / LATESTSTORIES */


/* LOCAL */
/* ==> Mit navicss mergen */
.teaser.panelbox.local .search_box {
background-image:url(search-box.png);
background-repeat:no-repeat;
width:173px;
height:21px;
margin:8px 0px 0px 0px;
display:block;
float:left;
}

.teaser.panelbox.local .search_box input {
position:absolute;
width:140px;
height:16px;
border:1px solid #FFFFFF;
border:none;
margin:4px 26px;
color:#999999;
line-height:16px;
}
/* <== Mit navicss mergen */

.teaser.panelbox.local .search_box {
margin-top:2px;
margin-bottom:10px;
float:none;
}

.teaser.panelbox.local a {
color:#2a80d0;
padding: 5px 0px 0px 0px;
display:block;
}

.teaser.panelbox.local a:hover {
color:#000000;
}

.teaser.panelbox.local .map {
background-image:url(local.png);
width:198px;
height:127px;
position:relative;
margin-left:5px;
}

.teaser.panelbox.local .map .dot {
color:#2a80d0;
position:absolute;
text-align:center;
}

.teaser.panelbox.local .map .dot .flag {
background-image:url(local.png);
background-position:top right;
width:13px;
height:20px;
display:block;
}

*html .teaser.panelbox.local .map .dot .flag {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='/2010/img/panelbox/ie6/local_dot_inactive.png');
background-image:none;
}

.teaser.panelbox.local .map .dot a:hover .flag {
background-position:right -19px;
}

*html .teaser.panelbox.local .map .dot a:hover .flag {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='/2010/img/panelbox/ie6/local_dot_active.png');
background-image:none;
}

/* hack for centering the flag in FF */
:root .teaser.panelbox.local .map .dot .flag {
margin:0px auto 0px auto;
}
/* /LOCAL */

/* SIDELEINE PANELBOX ADJUSTMENTS */
.sideline .box {
width:300px;
}

.sideline .box .teaser.panelbox {
background-image:url(panelbox_sideline.png);
}

.sideline .box.x21 .teaser.panelbox {
background-position:-300px 0px;
width:280px;
}

*html .sideline .box.x21 .teaser.panelbox {
background-image:url(panelbox_sideline_21.png);
background-position:0px 0px;
}

.sideline .box.x22 .teaser.panelbox {
background-position:0px 0px;
width:280px;
}

*html .sideline .box.x22 .teaser.panelbox {
background-image:url(panelbox_sideline_22.png);
background-position:0px 0px;
}

.sideline .box.x23 .teaser.panelbox {
background-position:0px -240px;
width:280px;
}

*html .sideline .box.x23 .teaser.panelbox {
background-image:url(panelbox_sideline_23.png);
background-position:0px 0px;
}

.sideline .box.x24 .teaser.panelbox {
background-position:-300px -122px;
width:280px;
}

*html .sideline .box.x24 .teaser.panelbox {
background-image:url(panelbox_sideline_24.png);
background-position:0px 0px;
}

.sideline .box.x25 .teaser.panelbox {
background-position:-600px 0px;
width:280px;
}

*html .sideline .box.x25 .teaser.panelbox {
background-image:url(panelbox_sideline_25.png);
background-position:0px 0px;
}

.sideline .teaser.panelbox.dailynews .scroller, .teaser.panelbox .tabcontent_holder {
width:280px;
}

.sideline .teaser.panelbox.ticker .tabcontent_holder {
width:275px;
}

.sideline .teaser.panelbox.polls .button {
left:90px;
}

.sideline .teaser.panelbox.local .map {
margin-left:40px;
}

.sideline .videoplayer img {
width:280px;
}

/* STEUERRECHNER */

.teaser.panelbox.taxcalkculator table {
width:100%;
margin-bottom:4px;
}

.teaser.panelbox.taxcalkculator td {
padding-bottom:1px;
padding-left:1px;
}

.teaser.panelbox.taxcalkculator input {
width:95px;
}

.teaser.panelbox.taxcalkculator select {
width:100px;
}

a#button:link, a#button:visited {
display:block;
width:88px;
height:26px;
background-image:url(taxcalcbutton.png);
background-position:0px 0px;
cursor:pointer;
}

*html a#button:link, a#button:visited {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='taxcalcbutton.png');
background-image:none;
}

a#button:hover {
background-position:0px -26px;
}

/* /SIDELINE PANELBOX ADJUSTMENTS */



/* LOKALPORTAL */

/* NEWSARCHIVE */
.teaser.panelbox.locarchive .scroller {
height:415px;
width:451px;
overflow:auto;
scrollbar-base-color:#cccccc;
padding-right:2px;
}

.teaser.panelbox.locarchive ul {
background-image:url(separator_h.png);
background-repeat:repeat-x;
background-position:top;
padding-top:5px;
}

.teaser.panelbox.locarchive .description {
display:block;
float:left;
margin-right:8px;
width:250px;
}
/* /NEWSARCHIVE */



/* SPORTSRESULTS */
.teaser.panelbox.locresults .tabcontent_holder {
width:447px;
height:134px;
overflow:auto;
scrollbar-base-color:#cccccc;
padding-right:5px;
}

.teaser.panelbox.locresults .team {
display:block;
float:left;
margin-right:8px;
width:165px;
height:15px;
overflow:hidden;
}

.teaser.panelbox.locresults ul.tabs a  {
background-image:url(icon_footie.png);
background-repeat:no-repeat;
background-position: 2px -15px;
padding-left:20px;
}

.teaser.panelbox.locresults ul.tabs a.last {
background-image:url(icon_hockey.png);
}

*html .teaser.panelbox.locresults ul.tabs a.first,
*html .teaser.panelbox.locresults ul.tabs a.last {
background-image:none;
padding-left:10px;
}

.teaser.panelbox.locresults ul.tabs  a,
.teaser.panelbox.locresults ul.tabs  a:hover {
background-position: 2px 3px;
}

* + html .teaser.panelbox.locresults ul.tabs .active a,
 {
background-position: 2px 4px;
}
/* /SPORTSRESULTS */

/* LOCAL INFO */
.teaser.panelbox.locinform .tabcontent_holder {
width:447px;
height:134px;
overflow:auto;
scrollbar-base-color:#cccccc;
padding-right:5px;
}
/* / LOCAL INFO */

/* IN NUMBERS */
.teaser.panelbox.locinnumbers table {
margin:0px;
}

.teaser.panelbox.locinnumbers table td{
border:0px;
padding:0px 10px 0px 0px;
}

.teaser.panelbox.locinnumbers p.separator, .teaser.panelbox.locinnumbers div.separator {
background-image:url(separator_h.png);
background-repeat:repeat-x;
background-position:top;
padding-top:6px;
margin-top:4px;
}
/* / IN NUMBERS */

/* EVENTS */
.teaser.panelbox.locevents .scroller {
width:210px;
overflow:auto;
height:170px;
scrollbar-base-color:#cccccc;
padding-right:2px;
line-height:16px;
}

.teaser.panelbox.locevents ul {
background-image:url(separator_h.png);
background-repeat:repeat-x;
background-position:top;
padding-top:5px;
}

.teaser.panelbox.locevents h5 {
display:block;
background-image:url(icon_events.png);
background-repeat:no-repeat;
padding-left:16px;
background-position:0px 2px;
}

*html .teaser.panelbox.locevents h5 {
background-image:none;
padding-left:0px;
}
/* /EVENTS */


/* CLUBS */
.teaser.panelbox.locclubs .scroller {
width:210px;
overflow:auto;
height:287px;
scrollbar-base-color:#cccccc;
padding-right:2px;
}

.teaser.panelbox.locclubs ul {
background-image:url(separator_h.png);
background-repeat:repeat-x;
background-position:top;
padding-top:7px;
}

.teaser.panelbox.locclubs li {
height:47px;
overflow:hidden;
}

.teaser.panelbox.locclubs li .category {
font-weight:bold;
}

.teaser.panelbox.locclubs li .logo {
display:block;
width:98px;
height:43px;
float:left;
margin-right:7px;
border:1px solid #d3d3d3;
background-color:#ffffff;
background-image:url(http://www.20min.ch/2010/CSS/main/img/clubs_placeholder.png);
background-position:center center;
}
/* /CLUBS */

/* LOCAL CLUBMULTI */
.teaser.panelbox.locclubmulti .tabcontent_holder {
width:447px;
height:264px;
overflow:auto;
scrollbar-base-color:#cccccc;
padding-right:5px;
}

.teaser.panelbox.locclubmulti #locclubmulti_names li {
height:47px;
overflow:hidden;
}

.teaser.panelbox.locclubmulti #locclubmulti_names li .category {
font-weight:bold;
display:block;
}

.teaser.panelbox.locclubmulti #locclubmulti_names li .logo {
display:block;
width:98px;
height:43px;
float:left;
margin-right:7px;
border:1px solid #d3d3d3;
background-color:#ffffff;
background-image:url(http://www.20min.ch/2010/CSS/main/img/clubs_placeholder.png);
background-position:center center;
}
/* / LOCAL CLUBMULTI */

/* CLUBNEWS */
.teaser.panelbox.locclubnews .scroller {
width:210px;
overflow:auto;
height:284px;
scrollbar-base-color:#cccccc;
padding-right:2px;
line-height:16px;
}

.teaser.panelbox.locclubnews ul {
background-image:url(separator_h.png);
background-repeat:repeat-x;
background-position:top;
padding-top:5px;
}
/* /CLUBNEWS */



/* MOVIES */
.teaser.panelbox.locmovie .scroller.movies {
margin-bottom:10px;
height:160px;
}

.teaser.panelbox.locmovie .scroller.theatres {
height:90px;
}

.teaser.panelbox.locmovie .movies li {
height:47px;
overflow:hidden;
}

.teaser.panelbox.locmovie li .lead {
float:left;
}

.teaser.panelbox.locmovie li .thumb {
display:block;
width:98px;
height:43px;
float:left;
margin-right:7px;
border:1px solid #d3d3d3;
background-color:#ffffff;
background-image:url(http://www.20min.ch/2010/CSS/main/img/movies_placeholder.png);
background-position:center center;
}
/* / MOVIES */


/* IMMO */
/*.teaser.panelbox.locimmo .logo {
display:block;
float:right;
width:87px;
height:14px;
background-image:url(/2010/img/panelbox/logo_homegate.png);
}*/

.teaser.panelbox.locimmo #homegateResuls img {
width:70px;
margin-right:10px;
float:right;
border:1px solid #d3d3d3;
}

.teaser.panelbox.locimmo #homegateResuls p {
background-image:url(separator_h.png);
background-repeat:repeat-x;
background-position:bottom;
padding-bottom:5px;
}

/*.teaser.panelbox.locimmo li {
height:69px;
overflow:hidden;
}

.teaser.panelbox.locimmo li .thumb {
display:block;
width:66px;
height:66px;
float:left;
margin-right:7px;
border:1px solid #d3d3d3;
background-color:#ffffff;
background-image:url(img/immo_placeholder.png);
background-position:center center;
}
*/
.teaser.panelbox.locimmo table td {
border:0px;
padding: 0px 6px 6px 0px;
}
/*
.teaser.panelbox.locimmo .largeinput {
width:150px;
}

.teaser.panelbox.locimmo .smallinput {
width:55px;
}

.teaser.panelbox.locimmo input.button {
display:block;
overflow:hidden;
width:59px;
height:26px;
background-image:url(/2010/img/panelbox/button_search.png);
background-position:0px 0px;
cursor:pointer;
border:0px;
margin-top:5px;
}

.teaser.panelbox.locimmo input.button:hover {
background-position:0px -27px;
}*/

/* / IMMO */


/* READ N REPORT */
.teaser.read_n_report a {
display:block;
width:230px;
height:230px;
background-image:url(local_read_n_report.png);
background-repeat:no-repeat;
}

.teaser.read_n_report a img {
margin: 5px;
}
/* / READ N REPORT */

/* CLUBSEARCH */
.teaser.clubsearch .label {
width:50px;
font-weight:bold;
vertical-align:middle;
}

.teaser.clubsearch td {
border:0px;
padding:2px 2px 2px 0px;
}

.teaser.clubsearch tr.separator td {
background-image:url(separator_h.png);
background-repeat:repeat-x;
background-position:bottom;
padding-bottom:5px;
}

.teaser.clubsearch select {
width:210px;
overflow:hidden;
}
/* / CLUBSEARCH */



/* /LOKALPORTAL */



/* MEMBERLISTING */

/* NEW MEMBERS, BIRTHDAY */
.teaser.panelbox.memlist_newmembers .scroller, .teaser.panelbox.memlist_birthday .scroller {
width:210px;
overflow:auto;
height:287px;
scrollbar-base-color:#cccccc;
padding-right:2px;
}

.x22 .teaser.panelbox.memlist_newmembers .scroller, .x22 .teaser.panelbox.memlist_birthday .scroller {
height:175px;
}

.teaser.panelbox.memlist_newmembers ul, .teaser.panelbox.memlist_birthday ul {
background-image:url(separator_h.png);
background-repeat:repeat-x;
background-position:top;
padding-top:7px;
}

.teaser.panelbox.memlist_newmembers li, .teaser.panelbox.memlist_birthday li {
height:47px;
overflow:hidden;
}

.teaser.panelbox.memlist_newmembers li img, .teaser.panelbox.memlist_birthday li img {
float:left;
padding-right:7px;
}
/* /NEW MEMBERS, /BIRTHDAY */

/* LOGIN */
.teaser.panelbox.memlist_login input {
margin-top:3px;
width:130px;
}

.teaser.panelbox.memlist_login input.password {
font-size:12px;
color:#999999;
}

.teaser.panelbox.memlist_login li {
background-image:url(separator_h.png);
background-repeat:repeat-x;
background-position:top;
padding-top:4px;
margin-top:4px; 
}

.teaser.panelbox.memlist_login .button {
width:69px;
height:26px;
background-image:url(login-button.png);
border:0px;
background-color:transparent;
text-indent:-400px;
line-height:100px;
overflow:hidden;
}

.teaser.panelbox.memlist_login .button:hover {
background-position:0px -26px;
}
/* / LOGIN */

/* COCKPIT */
.teaser.panelbox.memlist_cockpit .left {
width:225px;
float:left;
height:40px;

background-image:url(separator_v.png.1);
background-repeat:repeat-y;
background-position:right;
margin-bottom:10px;
}

.teaser.panelbox.memlist_cockpit .left a {
display:block;
background-image:url(cockpit_left.png);
padding-left:30px;
margin-top:3px;
height:20px;
background-repeat:no-repeat;
background-position:left 0px;
}

.teaser.panelbox.memlist_cockpit .left a.second {
background-position:left -20px;
}

.teaser.panelbox.memlist_cockpit .right a {
display:block;
background-image:url(cockpit_right.png);
padding-left:30px;
margin-top:3px;
height:20px;
background-repeat:no-repeat;
background-position:left 0px;
}

.teaser.panelbox.memlist_cockpit .right a.second {
background-position:left -23px;
}

.teaser.panelbox.memlist_cockpit .right {
width:215px;
float:left;
height:40px;
padding-left:10px;
margin-bottom:10px;
}

.teaser.panelbox.memlist_cockpit .bottom {
clear:both;
background-image:url(separator_h.png);
background-repeat:repeat-x;
background-position:top;
}

.teaser.panelbox.memlist_cockpit .bottom li {
display:block;
float:left;
margin-right:10px;
}

.teaser.panelbox.memlist_cockpit .bottom .online, .teaser.panelbox.memlist_cockpit .bottom .offline {
height:12px;
padding-left:12px;
background-image:url(status_online.png);
background-position:left 2px;
background-repeat:no-repeat;
}

.teaser.panelbox.memlist_cockpit .bottom .offline {
background-image:url(status_offline.png);
}

*html .teaser.panelbox.memlist_cockpit .online {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='/2010/img/listings/status_online.png');
background-image:none;
}

*html .teaser.panelbox.memlist_cockpit .offline {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='/2010/img/listings/status_offline.png');
background-image:none;
}

.teaser.panelbox.memlist_cockpit .right a.alert, .teaser.panelbox.memlist_cockpit .left a.alert {
color:#cc0000;
}

.teaser.panelbox.memlist_cockpit .right a.alert:hover, .teaser.panelbox.memlist_cockpit .left a.alert:hover {
color:#000000;
}
/* / COCKPIT */

/* SEARCH */
.teaser.panelbox.memlist_search td {
padding:3px 5px 3px 0px;
border:0px;
}

.teaser.panelbox.memlist_search td.separator {
background-image:url(separator_h.png);
background-repeat:repeat-x;
background-position:bottom;
padding-bottom:6px;
margin-bottom:4px;
}

.teaser.panelbox.memlist_search input.short {
width:70px;
}

.teaser.panelbox.memlist_search select.short {
width:75px;
}

.teaser.panelbox.memlist_search input.button {
display:block;
overflow:hidden;
width:59px;
height:26px;
background-image:url(button_search.png);
background-position:0px 0px;
cursor:pointer;
border:0px;
margin-top:5px;
text-indent:-500px;
line-height:100px;
background-color:transparent;
}

.teaser.panelbox.memlist_search input.button:hover {
background-position:0px -27px;
}
/* /SEARCH */

/* ONLINE NOW */
.teaser.panelbox.memlist_onlinenow li {
background-image:url(separator_h.png);
background-repeat:repeat-x;
background-position:bottom;
padding-bottom:2px;
margin-bottom:2px;
width:50%;
float:left;
}

.teaser.panelbox.memlist_onlinenow li a {
display:block;
height:17px;
padding-left:20px;
background-position:left top;
background-repeat:no-repeat;
}

.teaser.panelbox.memlist_onlinenow li a.male {
background-image:url(male.png);
}

.teaser.panelbox.memlist_onlinenow li a.female {
background-image:url(female.png);
}

.teaser.panelbox.memlist_onlinenow a.more {
display:block;
margin-bottom:5px;
clear:both;
}
/* / ONLINE NOW */

/* / MEMBERLISTING */ 


/* MIRACLE STORYPANELBOX (width:600px height:egal) */
.story_content .story_text .panelbox.magicx {
width:600px;
min-height:215px;
background-color:#FBFBFB;
background-image:url(storypanel_footer.png);
background-repeat:no-repeat;
background-position:bottom left;
font-family:arial,verdana,sans-serif;
font-size:11px;
line-height:13px;
padding:0px 0px 30px 0px;
margin:0px 0px 24px 0px;
}

.story_content .story_text .panelbox.magicx .panel_header {
width:600px;
height:15px;
background-image:url(storypanel_head.png);
background-position:left top;
background-repeat:no-repeat;
}

.story_content .story_text .panelbox.magicx .panel_border {
width:580px;
background-image:url(storypanel_border.png);
background-repeat:repeat-y;
padding:0px 10px 0px 10px;
}

.story_content .story_text .panelbox.magicx td {
border:none;
}













