html, html.backgroundfill, body {
background-color:#ffffff;
background-image:none;
}

body, div, td, .info_box .info_text {
color:#ffffff !important;
}

div#leaderboard {
display:none;
}

div#header {
display:none;
}

div#content_header {
display:none;
}

.published a {
display:none;
}

div.story_links {
display:none;
}

.story_content div.story_text {
width:600px;
margin-left:0px;
}

div.teaser.panelbox {
display:none;
}

div.topelement {
display:none;
}

embed {
display:none;
}

div#talkback {
display:none;
}

div.sideline {
display:none;
}

div#monstersky {
display:none;
}

div#footer {
display:none;
}

div.social_bookmarks {
display:none;
}

div.story_end {
display:none;
}










