/* TOPELEMENT */

/* !!!!! SECTIONS ARE HIDDEN AT THE MOMENT !!!!! */
/* all relevant snippets are marked with VV */
/* don't show the sections yet */


.topelement {
background-image:url(topelement.png);
background-position:bottom left;
width:600px;
background-repeat:no-repeat;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
line-height:14px;
color:#666666;
position:relative;

/* don't show the sections yet */
margin-bottom:-30px;
}

*html .topelement {
background-image:url(topelement.png.1);
}

.topelement .gallerybar {
margin:1px 0px 0px 2px;
overflow:hidden;
width:595px;
height:398px;
position:relative;
background-color:#000000;
border:1px solid #cccccc;
}

.topelement.video .gallerybar {
height:357px;
width:595px;
border:1px solid #cccccc;
}

.topelement .imageholder {
position:absolute;
left:0px;
height:400px;
width:500000px;
cursor:pointer;
}

.topelement .imagewrap {
display:block;
height:400px;
width:597px;
float:left;
text-align:center;
background-color:#000000;
overflow:hidden;
}

.topelement .adwrap {
width:597px;
height:400px;
float:left;
background-color:#ffffff;
}

.topelement .lastwrap {
width:597px;
height:400px;
float:left;
background-color:#000000;
}

.topelement .lastwrap h6 {
color:#aaaaaa;
font-weight:bold;
font-size:12px;
line-height:14px;
padding:10px 15px 5px 15px;
clear:both;
display:block;
}

.topelement .lastwrap ul {
margin:0px;
padding:0px;
}

.topelement .lastwrap li {
float:left;
height:41px;
width:183px;
border-bottom:1px solid #444444;
padding:5px 0px 5px 15px;
overflow:hidden;
}

.topelement .lastwrap li a:link, .topelement .lastwrap li a:visited {
text-decoration: none;
color: #cccccc;
}

.topelement .lastwrap li a:hover {
color:#ffffff;
}

.topelement .lastwrap li div.thumb {
float:left;
width:41px;
height:41px;
overflow:hidden;
}

.topelement .lastwrap li img {
cursor:pointer;
}

.topelement .lastwrap li span {
float:left;
display:block;
width:120px;
padding-left:10px;
cursor:pointer;
}

.topelement .back, .topelement .forward {
width:39px;
height:59px;
display:block;
background-image:url(separator_v.png);
background-repeat:repeat-y;
}

.topelement .back {
float:left;
background-position:right top;
}

.topelement .forward {
float:right;
background-position:left top;
}

.topelement .icon {
width:12px;
height:21px;
background-image:url(topelement_navi.png);
margin:19px 0px 0px 13px;
display:block;
cursor:pointer;
}

.topelement .back .icon {
background-position:0px 0px;
}

*html .topelement .back .icon {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='/2010/img/topelement/ie6/topelement_back.png');
background-image:none;
}

.topelement .back .icon.inactive {
background-position:0px -42px;
}

*html .topelement .back .icon.inactive {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='/2010/img/topelement/ie6/topelement_back_inactive.png');
background-image:none;
}

.topelement .forward .icon {
background-position:12px 0px;
}

*html .topelement .forward .icon {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='/2010/img/topelement/ie6/topelement_forward.png');
background-image:none;
}

.topelement .forward .icon.inactive {
background-position:12px -42px;
}

*html .topelement .forward .icon.inactive {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='/2010/img/topelement/ie6/topelement_forward_inactive.png');
background-image:none;
}

.topelement .back:hover .icon.active {
background-position:0px -21px;
}

*html .topelement .back:hover .icon.active {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='/2010/img/topelement/ie6/topelement_back_active.png');
background-image:none;
}

.topelement .forward:hover .icon.active {
background-position:12px -21px;
}

*html .topelement .forward:hover .icon.active {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='/2010/img/topelement/ie6/topelement_forward_active.png');
background-image:none;

}

.topelement .pagenumber {
float:left;
padding:23px 15px 0px 15px;
}

.topelement .caption {
float:left;
width:410px;
height:50px;
padding-top:10px;
}

.topelement .caption .restart_link:link, .topelement .caption .restart_link:visited {
color:#000000;
text-decoration:none;
float:left;
display:block;
width:285px;
padding-top:14px;
padding-left:125px;
}

.topelement .caption .restart_link:hover {
text-decoration:underline;
}

.topelement .caption .restart_link .restart_icon {
background-image:url(topelement_restart.png);
width:20px;
height:22px;
display:block;
float:left;
margin:-3px 10px 0px 0px;
}


.topelement.video .caption {
width:570px;
padding-left:12px;
}

.topelement .texttester {
width:410px;
display:none;
}

.topelement.video .texttester {
width:570px;
}

.topelement .more_link:link, .topelement .more_link:visited {
text-decoration:none;
color:#628bb7;
font-weight:bold;
}

.topelement .more_link:hover {
color:#000000;
}

.topelement .section {
width:99px;
height:30px;
margin:1px 0px 0px 100px;
background-image:url(topelement_section.png);
clear:both;

/* don't show the sections yet */
background-image:none;
}

/* don't show the sections yet */
/*
*html .topelement .section {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='img/topelement_section.png');
background-image:none;
}

.topelement.picture .section {
background-position:0px -30px;
}

*html .topelement.picture .section {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='/2010/img/topelement/ie6/topelement_section_pics.png');
background-image:none;
margin-left:50px;
}
*/

.topelement .copyright {
position:absolute;
bottom:14px;
right:50px;
color:#cccccc;
font-size:10px;
}

.topelement .pagelink {
position:absolute;
top:380px;
left:3px;
background-image:url(linkfade.png);
display:none;
width:595px;
height:20px;
line-height:20px;
}

.topelement .pagelink a {
color:#eeeeee;
text-decoration:none;
padding-left:87px;
display:block;
}

.topelement .pagelink a:hover {
color:#ffffff;
}

.topelement .wemfngoogle {
height:0px;
width:0px;
overflow:hidden;
}

/* /TOPELEMENT */