
/* ################################################################################################################## */
/* Définit les styles de la portlet d'authentification*/
/* ################################################################################################################## */

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style de la portlet d'auhtentification */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Style du formulaire d'authentification */
#formulaireAuthentification {
  margin: 10px 0px 0px 0px;
  padding: 5px 5px 10px 5px;
  width:170px;
  text-align:center;
  background:url(http://www.ain.fr/images/custom/internet/portlet/fond_autentification.gif) 0px 0px no-repeat;
}
#formulaireAuthentification H2{/*Surcharge du h2 standard */
	color:#FFFFFF;
	text-align:left;
	background:url(http://www.ain.fr/images/custom/internet/puces/triangle_blanc_16px.png) 0px 6px no-repeat;
}

#formulaireAuthentification .champAuhtentification {
  margin: 0px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
	width: 133px;
	height: 16px;
  border: 1px solid #CAC9CB;
  border-bottom: 1px solid #83797A;
}

/* Style d'affichage du message d'erreur */
#formulaireAuthentification .erreurAuthentification {
  color: red;
	font-size: 90%;
  font-weight: bold;
	margin: 0px 0px 5px 0px;
	padding: 0px;
}
