
/* ################################################################################################################## */
/* Définit les styles de la page centrale pour l'accueil et pour les listes */
/* ################################################################################################################## */

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles de la partie "A la une" */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Style de la portlet Accueil */

/* Style de la liste des contenus "plus d'actus" */
#encartActus{
	background:#c0b8cb url(http://www.ain.fr/images/custom/internet/accueil/filetActu.gif) no-repeat ;
	margin: 22px 0 10px 0;
	padding:5px 5px 10px 5px;
}
#encartActus ul{
	list-style-type:none;
	margin:0;
}
#encartActus li{
	background : url(http://www.ain.fr/images/custom/internet/puces/rond_rose.png) no-repeat left 5px;
	padding-left:9px;
	margin:0;
}
#encartActus li a{
	color:#2f1354;
}
/* Style du bloc de contenu */
.blocALaUne{
  margin: 0px;
  padding: 0px;
}
.blocALaUne .imageALaUne {
  margin: 0px 10px 10px 0px;
  padding: 0px;
  float:left;
}

.blocALaUne p.dateALaUne {
  margin:0 0 25px 0;
  padding: 0px;
  text-align : right;
  clear:both;
  background:url(http://www.ain.fr/images/custom/internet/pixel/gris666666.gif) 15px repeat-x;/*le filet avant la date*/
}
.blocALaUne p.dateALaUne span{
	background:#FFFFFF;/*masque le filet derriere la date*/
	padding-left:3px;/* on ecarte le filet des caractères*/
}
/*Surcharge du bloc wiki*/
.blocALaUne div.wiki p.first {
  margin: 0px;
  padding: 0px;
}
/*style du lien qui permet de revenir en haut*/
.hautDePage a{
	font-size:110%;
	font-family:arial;
	color:#2f1354;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles général de certaines portlet en colonne centrale */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Style de la portlet */
.portletColonne {
  margin: 0px;
  padding:0px;
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles de la partie "Notre Mission" */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Style de chaque élément */
.blocColonneMission {
	margin: 0px;
	padding: 0px;
}
/* Surcharge du style wiki */
.blocColonneMission div.wiki{
  padding: 0 10px 0 0;
  font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles de la partie "Actualités" en colonne de centrale */
/* ------------------------------------------------------------------------------------------------------------------ */
.blocColonneActualites {
	margin: 0px;
	padding: 0px 0px 10px 0px;
	width: 260px;
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles de la partie "Liste" */
/* ------------------------------------------------------------------------------------------------------------------ */
.portletListe {
  margin: 0px;
  padding : 0px;
}

.blocListe {
	margin: 10px 0px 0px 10px;
	padding: 0px;
}
.blocListe .imageListe {
  padding : 0px;
  margin: 0px 10px 0px 0px;
  float: left;
  display : inline;
}
/* Surcharge du h3 commun */
.blocListe h3 {
	margin: 5px 0px 5px 0px;
}
/* Surcharge du h3 et du a commun */
/*.blocListe h3 a {
	color: #83797A;
}
.blocListe h3 a:hover {
	color: #83797A;
}
*/


/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles de la partie "Offre Emploi" */
/* ------------------------------------------------------------------------------------------------------------------ */
.portletOffreEmploi {
  margin: 0px;
  padding : 0px;
}

/* Style du chapeau de la rubrique (Premiere offre d'emloi de la liste uniquement) */
.blocOffreEmploi {
	margin: 10px 0px 10px 0px;
	padding: 0px;
	background-color: #F1F1F1;
}

.portletOffreEmploi table {
	margin: 0px;
	padding: 0px;
	width: 100%;
	border-collapse: collapse;
	background-color: #F1F1F1;
}

.portletOffreEmploi table thead{
	background-color: #2f1354 ;
}
.portletOffreEmploi table thead th {
	margin: 0px;
	padding: 5px 0px 5px 5px;
	color:#FFFFFF;
	
}
.portletOffreEmploi td {
	margin: 0px;
	padding: 5px 0px 5px 5px;
	width: 40%;
}
.portletOffreEmploi .fleche {
  cursor:pointer;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/*styles de la partie planCategorie*/
/* ------------------------------------------------------------------------------------------------------------------ */
#planCategorie{
	background:#f0edf4;
	margin:20px 30px 10px 30px;
	padding:25px;
}

#planCategorie h3{/*surcharge du h3 générale*/
	font-size:102%;
	padding:0 0 0 10px;
}
#planCategorie h3 a{
	text-decoration:none;
}
#planCategorie ul{
	list-style:none;
	padding-left:0;
	margin:0;
}
#planCategorie li{
  margin : 0px;
	padding: 1px 0px 3px 20px;
	background:url(http://www.ain.fr/images/custom/internet/puces/fleche_noir.png) 2px 7px no-repeat;
}
#planCategorie li.active {
	font-weight:bold;

}
#planCategorie li a{
	color:#000000;
	text-decoration:none;
}
#planCategorie li a:hover{
	background-color:#2f1354;
	color:#FFFFFF;
}