
/* ################################################################################################################## */
/* Définit les styles de l'affichage des contenus du site */
/* ################################################################################################################## */

/* Définit les marges d'affichage de tous les types de contenus */
#contenuPrincipal {
  margin: 10px 0px 10px 0px;
  padding: 0px 30px 0px 30px;
}

/* Style global des vignettes */
#contenuPrincipal img.vignette {
	margin : 0px 10px 10px 0px;
	padding : 0px;
	float: left;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style général de l'affichage des contenus */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Affichage du bloc titre du contenu */
#contenuPrincipal .blocTitre {
  margin: 0px;
  padding: 0px;
}
#contenuPrincipal .blocTitre h1 {
/*  float: left;
  display : inline;*/
  /* On est obligé de spécifier la taille pour IE sinon cela déborde avec les marges */
  width: 375px;
}

/* Style de la description */
#contenuPrincipal .chapeau{
  margin: 10px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
  font-size: 120%;
  font-weight: bold;
}

/* Style de la vignette */
#contenuPrincipal .imageChapeau{
  float:right;
  margin : 0 0 0 10px ;
}

/* Pour le texte libre formaté et vidéo */
/* A déplacer si uniquement pour formaté */
/* ------------------------------------ */
/* Style des paragraphes*/
#contenuPrincipal div.paragraphes {
  margin: 10px 0px 10px 0px;
  padding: 0px;
}
/* Surcharge du H2 commun */
#contenuPrincipal div.paragraphes h2 {

}
#contenuPrincipal div.paragraphes .paragraphe_left {
/*plus de distinctions entre les paragraphes*/
/*  background-color: #E6E4E4;*/
  margin: 0px 0px 20px 0px;
  padding: 10px;
  /* La combinaison des deux fait en sorte que si l'image est plus grande que texte, le cadre gris ne va pas jusqu'en bas. */
  overflow: hidden;
  zoom: 1; /*MSIE : hidden content fixe and overflow implementation */
  display:block;
  border-top:1px solid #666666 ;
}

#contenuPrincipal div.paragraphes .paragraphe_right {
  margin: 0px 0px 20px 0px;
  padding: 10px;
  /* La combinaison des deux fait en sorte que si l'image est plus grande que texte, le cadre gris ne va pas jusqu'en bas. */
  overflow: hidden;
  zoom: 1; /*MSIE : hidden content fixe and overflow implementation */
  display:block;
  border-top:1px solid #666666 ;
}

#contenuPrincipal div.paragraphes img.right {
  float:right;
  margin: 0px 5px 10px 15px;
}

#contenuPrincipal div.paragraphes img.left {
  float:left;
  margin: 0px 20px 10px 5px;
}
/* ------------------------------------ */
/* ------------------------------------ */

/* ------------------------------------------------------------------------------------------------------------------ */
/* Surcharge de class IMG dans les blocs texte libres */
/* ------------------------------------------------------------------------------------------------------------------ */
img.img_txtlibre_gauche {
  margin: 10px 10px 0px 0px;
  float: left;
  vertical-align: top;
}

img.img_txtlibre_droit {
  margin: 0px 0px 10px 10px;
  float: right;
  vertical-align: top;
}

.classic img{
    padding-right: 5px;
}
