/*
cette feuille de style regroupe toutes les couleurs et images associées 
à classCss qui contiennent gabarit+Code (sur 3 lettres dans le champs icone de la catégorie)
*/

.gabarit .chapeau *{ color:#2F1354;}
.gabaritAGI .chapeau *{ color:#c70064;}
.gabaritDEV .chapeau *{ color:#00a2d2;}
.gabaritPRV .chapeau *{ color:#97be0d;}
.gabaritPRO .chapeau  *{ color:#ee8d00;}


.wiki li { padding-left:9px; list-style:none;}
.gabarit .wiki li{ background : url(http://www.ain.fr/images/custom/internet/puces/rond_violet.png) no-repeat left 5px;}
.gabaritAGI .wiki li{ background : url(http://www.ain.fr/images/custom/internet/puces/rond_rose.png) no-repeat left 5px;}
.gabaritDEV .wiki li{ background : url(http://www.ain.fr/images/custom/internet/puces/rond_bleu.png) no-repeat left 5px;}
.gabaritPRV .wiki li{ background : url(http://www.ain.fr/images/custom/internet/puces/rond_vert.png) no-repeat left 5px;}
.gabaritPRO .wiki li { background : url(http://www.ain.fr/images/custom/internet/puces/rond_orange.png) no-repeat left 5px;}


/*-----------------------------------------------*/
/* Styles  dans le H2 en fonction du code couleur*/
/*-----------------------------------------------*/
h2.gabaritAGI, .gabaritAGI h2{/*pour la catégorie agir*/
  color: #c70064;
 	background : transparent url(http://www.ain.fr/images/custom/internet/puces/triangle_rose_fonce_16px.png) no-repeat scroll 0 8px;
}

h2.gabaritAGI a, .gabaritAGI h2 a , .gabaritAGI .chapeau *{/*pour la catégorie agir lien*/
  color: #c70064;
}

h2.gabaritDEV, .gabaritDEV h2{/*Développer*/
  color: #00a2d2;
  	background : transparent url(http://www.ain.fr/images/custom/internet/puces/triangle_bleu_16px.png) no-repeat scroll 0 8px;
}

h2.gabaritDEV a, .gabaritDEV h2 a, .gabaritDEV .chapeau *{/*Développer (lien)*/
  color: #00a2d2;
}

h2.gabaritPRV, .gabaritPRV h2{/*pour la catégorie "preserver"*/
  color: #97be0d;
  	background : transparent url(http://www.ain.fr/images/custom/internet/puces/triangle_vert_16px.png) no-repeat scroll 0 8px;
}

h2.gabaritPRV a, .gabaritPRV h2 a, .gabaritPRV .chapeau *{/*pour la catégorie "preserver"*/
  color: #97be0d;
}

h2.gabaritPRO, .gabaritPRO h2{/*pour la catégorie "promouvoir"*/
  color: #ee8d00;
  background : transparent url(http://www.ain.fr/images/custom/internet/puces/triangle_orange_16px.png) no-repeat scroll 0 8px;
}

h2.gabaritPRO a, .gabaritPRO h2 a, .gabaritPRO .chapeau *{/*pour la catégorie "promouvoir" liens*/
  color: #ee8d00;
}

/*-----------------------------------------------*/
/* Styles  dans le H3 en fonction du code couleur*/
/*-----------------------------------------------*/
h3.gabaritAGI, .gabaritAGI h3{/*pour la catégorie agir*/
  color: #c70064;
/* 	background : transparent url(../../images/custom/internet/puces/triangle_rose_fonce_7px.png) no-repeat scroll 0 4px;*/
}

h3.gabaritAGI a, .gabaritAGI h3 a{/*pour la catégorie agir*/
  color: #c70064;
}

h3.gabaritDEV, .gabaritDEV h3{/*Développer*/
  color: #00a2d2;
/*  background : transparent url(../../images/custom/internet/puces/triangle_bleu_7px.png) no-repeat scroll 0 4px;*/
}

h3.gabaritDEV a, .gabaritDEV h3 a{/*Développer*/
  color: #00a2d2;
}

h3.gabaritPRV, .gabaritPRV , .gabaritPRV h3 a:hover, .gabaritPRV h3 a:visited{/*pour la catégorie "preserver"*/
  color: #97be0d;
/*  	background : transparent url(../../images/custom/internet/puces/triangle_vert_7px.png) no-repeat scroll 0 4px;*/
}

h3.gabaritPRV a, .gabaritPRV h3 a{/*pour la catégorie "preserver"*/
  color: #97be0d;
}

h3.gabaritPRO, .gabaritPRO h3{/*pour la catégorie "promouvoir"*/
  color: #ee8d00;
/*  background : transparent url(../../images/custom/internet/puces/triangle_orange_7px.png) no-repeat scroll 0 4px;*/
}

h3.gabaritPRO a, .gabaritPRO h3 a{/*pour la catégorie "promouvoir"*/
  color: #ee8d00;
}


/*H3 en colonne information*/


.gabaritAGI .blocInformation h3{/*pour la catégorie agir*/
  color: #c70064;
 	/*background : transparent url(../../images/custom/internet/puces/triangle_rose_fonce_16px.png) no-repeat scroll 0 8px;*/
}

.gabaritAGI .blocInformation h3 a {/*pour la catégorie agir lien*/
  color: #c70064;
}

.gabaritDEV .blocInformation h3{/*Développer*/
  color: #00a2d2;
/*  	background : transparent url(../../images/custom/internet/puces/triangle_bleu_16px.png) no-repeat scroll 0 8px;*/
}

.gabaritDEV .blocInformation h3 a{/*Développer (lien)*/
  color: #00a2d2;
}

.gabaritPRV .blocInformation h3{/*pour la catégorie "preserver"*/
  color: #97be0d;
/*  	background : transparent url(../../images/custom/internet/puces/triangle_vert_16px.png) no-repeat scroll 0 8px;*/
}

.gabaritPRV .blocInformation h3 a{/*pour la catégorie "preserver"*/
  color: #97be0d;
}

.gabaritPRO .blocInformation h3{/*pour la catégorie "promouvoir"*/
  color: #ee8d00;
/*  background : transparent url(../../images/custom/internet/puces/triangle_orange_16px.png) no-repeat scroll 0 8px;*/
}

.gabaritPRO .blocInformation h3 a{/*pour la catégorie "promouvoir" liens*/
  color: #ee8d00;
}
/*h4 (pour le moment que pour le plan de catégorie)*/
h4.gabaritPRV ,h4.gabaritPRO,h4.gabaritDEV,h4.gabaritAGI {
	padding:0 0 0px 10px;font-size:14px;
	margin:0 0 10px 0;
}
h4.gabaritPRV  { 
	color:#97be0d;
	background : transparent url(http://www.ain.fr/images/custom/internet/puces/triangle_vert_7px.png) no-repeat scroll 0 4px;
}
h4.gabaritPRV  a {
	color:#97be0d;
}
h4.gabaritPRO{
	color:#ee8d00;
	background : transparent url(http://www.ain.fr/images/custom/internet/puces/triangle_orange_7px.png) no-repeat scroll 0 4px;
}
h4.gabaritPRO a{
	color:#ee8d00;
}
h4.gabaritDEV {
	color: #00a2d2;
	background : transparent url(http://www.ain.fr/images/custom/internet/puces/triangle_bleu_7px.png) no-repeat scroll 0 8px;
}
h4.gabaritDEV a{
	color: #00a2d2;
}
h4.gabaritAGI {
	color: #c70064;
	background : transparent url(triangle_rose_fonce_7px.png) no-repeat scroll 0 8px;
}
h4.gabaritAGI a{
	color: #c70064;
}


/*plan du site pied de categorie*/
#planNavigation DIV.blocPlan.gabaritAGI{/*pour la catégorie agir*/
 	background :bottom left transparent url(http://www.ain.fr/images/custom/internet/planSite/piedAGI.jpg) no-repeat scroll;
}

#planNavigation DIV.blocPlan.gabaritDEV{/*Développer*/
 	background :bottom left transparent url(http://www.ain.fr/images/custom/internet/planSite/piedDEV.jpg) no-repeat scroll;
}

#planNavigation DIV.blocPlan.gabaritPRV{/*pour la catégorie "preserver"*/
 	background :bottom left transparent url(http://www.ain.fr/images/custom/internet/planSite/piedPRV.jpg) no-repeat scroll;
}

#planNavigation DIV.blocPlan.gabaritPRO {/*pour la catégorie "promouvoir"*/
 background :bottom left transparent url(http://www.ain.fr/images/custom/internet/planSite/piedPRO.jpg) no-repeat scroll;
}
#planNavigation DIV.blocPlan.gabaritELU {/*pour la catégorie "promouvoir"*/
 background :bottom left transparent url(http://www.ain.fr/images/custom/internet/planSite/piedELU.jpg) no-repeat scroll;
}