
/* ################################################################################################################## */
/* Définit les styles des "plans de navigation" du site */
/* ################################################################################################################## */

#planNavigation {
  margin: 0px 30px 0px 30px;
  padding: 0px;
  width:720px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles du "plan du site" */
/* ------------------------------------------------------------------------------------------------------------------ */
#planNavigation .blocPlan{
  margin: 30px 0px 0px 0px;
  padding: 0px;
  clear:both;
  
}
#planNavigation ul{
	list-style:none;
	padding:0;
	margin:0;
}

#planNavigation li{
  margin: 0px;
  padding: 0 0 5px 0px;
}
#planNavigation .blocPlan{

}

#planNavigation .siteMapSubCat {
	padding:0;
	margin:0;
	overflow:hidden;
	zoom:100%;
	z-index:1;
	background:url(http://www.ain.fr/images/custom/internet/planSite/fondBloc.gif) repeat-y;
}
#planNavigation .cat2{
	float:left;
	width:200px;
	padding-left:20px;
	margin-bottom:5px;
}
#planNavigation li.titre{
	width:720px;
	padding:0px;
}
#planNavigation .blocPlan{
	padding-bottom:30px;
	background-position:left bottom;
}
#planNavigation .cat3 li a, #planNavigation .gabaritELU .cat2 a {
	text-decoration:none;
	color:#000000;
}
#planNavigation .cat3 li a, #planNavigation .gabaritELU .cat2 a {
	display:block;
	padding-left:22px;
	background:transparent url(http://www.ain.fr/images/custom/internet/navigation/menu_LI.gif) no-repeat scroll left 5px;
}
#planNavigation .cat3 li a:hover,  #planNavigation .gabaritELU .cat2 a:hover{
	color:#FFFFFF;
	background:#301355 url(http://www.ain.fr/images/custom/internet/navigation/menu_LIselected.gif) no-repeat scroll left 5px;
}
