
/* ################################################################################################################## */
/* Définit les styles de la recherche du site */
/* ################################################################################################################## */

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style de la recherche rapide */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Formulaire et tableau */
.formulaireRecherche {
  margin: 0;
  padding: 12px 0 25px 0;
  width : 180px;
  height: 50px;
  overflow : hidden;
  zoom : 1;
  background:#2F1354  url(http://www.ain.fr/images/custom/internet/navigation/separateur.gif) 0px bottom no-repeat;
  
}
.formulaireRecherche a {
	float : left;
	width : 13px;
	padding : 0 3px 0 3px;
}

.formulaireRecherche table {
  border-collapse: collapse;
  float : left;
  width : 150px;
}
.formulaireRecherche td {
  margin: 0px;
  padding: 0px;
  text-align : left;
}
/* Lien de la recherche rapide */
.formulaireRecherche td a {
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-decoration: none;
  text-align : left;
  color : #fff;
  width : auto;
}
.formulaireRecherche a:hover {
	text-decoration: underline;
}
/* Champ de recherche rapide*/
.formulaireRecherche #inputRechercheRapide {
  margin: 0;
	padding: 0;
	width: 120px;
	height: 15px;
  border: 1px solid #CAC9CB;
  border-bottom: 1px solid #83797A;
}
/* Bouton d'action de la recherche rapide*/
.formulaireRecherche #opSearch {
  margin: 0;
	border: 0;
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* Style de la recherche avancée */
/* ------------------------------------------------------------------------------------------------------------------ */
#rechercheAvancee {
  margin: 0px 30px 0px 30px;
  padding: 0px;
}

#rechercheAvancee form {
  margin: 0px;
  padding: 10px 10px 5px 10px;
  background-color: #D3D4D6;
}
/* Styles des blocs des recherche */
#rechercheAvancee form .blocRecherche{
  margin: 0px;
  padding: 10px 0px 10px 0px;
  border-top: 1px dotted #2f1354 ;
}
/* Style de positionnement des champs de saisie */
#rechercheAvancee form .blocRecherche .champTexte{
  border: 1px solid #000000;
  width: 230px;
}
/* Style des libellés */
#rechercheAvancee form .blocRecherche label {
  margin: 0px 15px 0px 0px;
  padding: 0px 0px 0px 0px;
}
#rechercheAvancee form .blocRecherche label.decalage {
  margin: 0px 15px 0px 20px;
}
/* Style des champs date*/
#rechercheAvancee form .blocRecherche input.champDate {
  margin: 0px;
  padding: 0px;
  width: 80px;
}
#rechercheAvancee form .blocRecherche input.decalage {
  margin: 0px 0px 0px 70px;
}
/* Surcharge du bloc action pour la recherche */
#rechercheAvancee form p.action {
  margin: 0px;
  padding: 15px 0px 0px 0px;
  border-top: 1px dotted  #2f1354 ;
}
/* Style du bouton de recherche (Sur fond gris) */
#rechercheAvancee form p.action input.boutonRecherche {
  border: 0px;
  background-image: url(http://www.ain.fr/images/custom/internet/portlet/bouton_lancer_recherche.gif);
  background-repeat: no-repeat;
  background-position: left top;
  cursor: pointer;
  width: 225px;
  height: 31px;
  cursor: pointer;
  font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style de l'affichage des résultats */
/* ------------------------------------------------------------------------------------------------------------------ */

#rechercheAvancee .blocResultatRecherche {
	margin : 10px 0px 0px 0px;
	padding: 0px;
}
/* Surcharge */
#rechercheAvancee .blocResultatRecherche h3 a {
	color:  #2f1354;
}
