
/* ################################################################################################################## */
/* Définit les styles de l'affichage des "Publications de document" */
/* ################################################################################################################## */

/* Pour l'alignement des cartes */
.publicationDocument{
  text-align: center;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style pour l'affichage des liens de téléchargement */
/* ------------------------------------------------------------------------------------------------------------------ */
.telechargerAlternatif {
  margin: 0px;
  padding: 12px 10px 12px 0px;
  background: #FFFFFF url(http://www.ain.fr/images/custom/internet/portlet/bouton_cartographie.gif) no-repeat right top;
	text-align: right;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style de la liste pour les publications */
/* ------------------------------------------------------------------------------------------------------------------ */
.blocListePublication {
	margin: 20px 20px 0px 0px;
	padding: 0px;
	float: left;
	width: 30%;
	min-height: 150px;
	text-align: center;
}

.blocListePublication  p{
    margin: 5px 0;
}
.blocListePublication h3{
	text-align:left;	
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* Style de la liste de la cartographie */
/* ------------------------------------------------------------------------------------------------------------------ */
.blocListeCarte {
	margin: 0px;
	padding: 0px;
	background: #FFFFFF url(http://www.ain.fr/images/custom/internet/portlet/cartographie_fond.gif) repeat-y left top;
	float: left;
	width: 245px;
}
/* Surcharge du h3 commun */
.blocListeCarte h3 {
	margin: 0px;
	padding: 8px 0px 10px 20px;
	background: url(http://www.ain.fr/images/custom/internet/portlet/cartographie_titre.gif) no-repeat bottom center;
	color: #FFFFFF;
}
/* Surcharge du h3 et du a commun */
.blocListeCarte h3 a {
	color: #FFFFFF;
}
.blocListeCarte h3 a:hover {
	color: #FFFFFF;
}
/* Pied de page du bloc */
.blocListeCarte p.blocCarte{
	margin: 0px;
	padding-bottom: 25px;
	text-align: center;
	background: url(http://www.ain.fr/images/custom/internet/portlet/cartographie_pied.gif) no-repeat bottom center;
}
