
/* ################################################################################################################## */
/* Définit les styles de l'affichage de la partie "Ecard" */
/* ################################################################################################################## */

/* ------------------------------------------------------------------------------------------------------------------ */
/* Affichage des rubriques de la bibliothèque d'ecard */
/* ------------------------------------------------------------------------------------------------------------------ */
.modeTriple, .modeTripleLast {
	width:33%;
	float:left;
	margin:2px 0px;
	text-align:center;
	vertical-align:top;
}
.modeTriple {clear: both;}
.modeTripleLast {clear: none;}
.modeTripleLast {border-left : 1px dotted #393340;}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Affichage des résultats de la bibliothèque d'ecard */
/* ------------------------------------------------------------------------------------------------------------------ */
.resultatRechercheAnnuaire .resultat {
	text-align: center;
	width: 50%;
	vertical-align: bottom;
} 

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style pour l'affichage de l'Ecard */
/* ------------------------------------------------------------------------------------------------------------------ */
.encartEcard {
	border : 1px solid #393340;
	padding : 3px;
	margin: 0px;
	text-align: center;
	background-color: #FAF9FF;
}
.encartEcard p {
	font-weight: bold;
	color : #393340;
	margin-bottom : 10px;
	padding-left: 20px;
	text-align: left;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style pour le formulaire de l'Ecard */
/* ------------------------------------------------------------------------------------------------------------------ */
form.contenuFormulaireEcard {
	margin: 0px;
	padding: 0px;
}
/* Style des titres de bloc dans l'Ecard */
form.contenuFormulaireEcard p.legende {
	margin: 5px;
	padding: 3px;
	background-color:#AEAEAE;
	color:#FFFFFF;
	font-weight:bold;
}
form.contenuFormulaireEcard label {
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}
/* Style de positionnement des champs de saisie */
form.contenuFormulaireEcard .zoneChamp input {
  margin: 0px;
  padding: 0px;
  width: 220px;
  border: 1px solid #AEAEAE;
  background-color: #F1F1F1; 
}
form.contenuFormulaireEcard .zoneChampLong input {
  margin: 0px;
  padding: 0px;
  width: 370px;
  border: 1px solid #AEAEAE;
  background-color: #F1F1F1; 
}
form.contenuFormulaireEcard .zoneChampLong textarea { 
  margin: 0px 0px 10px 0px;
  padding: 0px;
  width: 470px;
  height: 100px;
  border: 1px solid #AEAEAE;
  background-color: #F1F1F1; 
}
