
/* ################################################################################################################## */
/* Définit les styles de l'affichage de la partie "Offre Emploi" */
/* ################################################################################################################## */

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style pour l'affichage d'une Offre d'Emploi */
/* ------------------------------------------------------------------------------------------------------------------ */
#FicheOffreEmploi {
	padding : 0px;
	margin: 0 15px 0 15px;
}

#EnteteOffreEmploi {
  color: #00a1dc;
}

#EnteteOffreEmploi p {
  color: #00a1dc;
  font-weight: bold;
}

#EnteteOffreEmploi p.separator {
  width: 100%;
  border-bottom : 1px dotted;
}

#EnteteOffreEmploi .intituleOffre {
  margin: 20px 0 20px 0;
  padding-top : 10px;  
  padding-bottom : 10px;
  background-color: #00a1dc;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

#CorpsOffreEmploi .titrePara {
  color: #393340;
  font-weight: bold;
  padding-bottom : 5px;
}

#CorpsOffreEmploi .corpsPara {
  color: #393340;
  padding: 0 0 15px 0;
}

#CorpsOffreEmploi .corpsPara div.wiki  {
  padding : 0 0 0 0;
  /*border: 1px solid;*/
}

#CorpsOffreEmploi .corpsPara ul {
  /*margin-left: 15px;*/
  margin: 0px 0px 0px 15px;
  /*border: 1px solid red;*/
}
