div.docs_bloc_contenu li {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color: #666600;
list-style-type:none;
list-style-position:inside;
list-style-image:url(http://www.la-croix.com/img/la-croix/commun/puce_bloc_docs.gif);
background-repeat:no-repeat;
margin-left:2px;
padding-left:1px;
text-transform: uppercase;
}

a.titre_finance:link{font-family:arial;color:#fff;font-size:14px;font-weight:bold;text-decoration:none;}
a.titre_finance:hover{font-family:arial;color:#fff;font-size:14px;font-weight:bold;text-decoration:underline;}
a.titre_finance:active{font-family:arial;color:#fff;font-size:14px;font-weight:bold;text-decoration:none;}
a.titre_finance:visited{font-family:arial;color:#fff;font-size:14px;font-weight:bold;text-decoration:none;}

a.wire_tous:link{font-family:arial;color:#125293;font-size:11px;font-weight:bold;text-decoration:none;}
a.wire_tous:hover{font-family:arial;color:#125293;font-size:11px;font-weight:bold;text-decoration:underline;}
a.wire_tous:active{font-family:arial;color:#125293;font-size:11px;font-weight:bold;text-decoration:none;}
a.wire_tous:visited{font-family:arial;color:#125293;font-size:11px;font-weight:bold;text-decoration:none;}

a.wire_title:link{font-family:arial;color:#c17f00;font-size:12px;font-weight:bold;text-decoration:none;}
a.wire_title:hover{font-family:arial;color:#c17f00;font-size:12px;font-weight:bold;text-decoration:underline;}
a.wire_title:active{font-family:arial;color:#c17f00;font-size:12px;font-weight:bold;text-decoration:none;}
a.wire_title:visited{font-family:arial;color:#c17f00;font-size:12px;font-weight:bold;text-decoration:none;}