/* les fiches (=fiche) : =annuaireksup, =annuaireetudiants, =annuaireanciensetudiants, =defautstructureksup, =formation, =ueup, =cours, =associationetudiant, =offresstagesemplois */

/*** surcharge =Annuaireksup  ***/
body.annuaireksup h2 {
border-bottom : 1px solid #a3a3a3;
margin-bottom : 0;
padding-bottom : 8px;
}


/* *** Listes d'affichage *** */
ul.liste-offresstagesemplois li {
border-top : 1px solid #a3a3a3;
clear : left;
list-style-type : none;
margin : 0;
padding : 10px 0;
}

ul.liste-offresstagesemplois li a {
padding-left : 0;
}

ul.liste-offresstagesemplois li span {
display : block;
}

ul.liste-offresstagesemplois em {
font-size : 1.1em;
font-style : normal;
font-weight : 700;
margin : 0;
padding : 0;
}

ul.liste-offresstagesemplois span.date-liste {
color : #8d7d74;
}

ul.liste-offresstagesemplois p {
font-size : 1em;
margin : 0;
padding : 0;
}


/**********************
	=Fiche =Annuaireksup =Annuaire
***********************/
body.annuaireksup #fonction {
border-bottom : 1px solid #a3a3a3;
padding : 8px 32px 8px 0;
}

body.annuaireksup #type_personnel {
border-bottom : 1px solid #a3a3a3;
border-top : 1px solid #a3a3a3;
font-size : 0.85em;
margin-top : 3px;
padding : 2px 0;
}

body.annuaireksup a.photo {
display: block;
text-align: center;
}

body.annuaireksup dl.type_2 {
background-color : transparent;
border-top : 0;
}


/**********************
	=Fiche =Annuaireetudiants =Annuaire
***********************/
body.annuaireetudiants #date_naissance,
body.annuaireanciensetudiants #date_naissance,
body.defaultstructureksup p#type_structure,
body.cours #disciplines{
border-bottom : 1px solid #a3a3a3;
border-top : 1px solid #a3a3a3;
font-size : 0.85em;
font-weight : normal;
margin : 0.5em 0;
}

body.annuaireetudiants .photo {
background : #fff;
float : right;
margin-left : 10px;
position : relative;
text-align : right;
z-index : 5;
margin-top: 1px;
}

body.annuaireetudiants dl.type_2 {
background-color : transparent;
}


/**********************
	=Fiche =Annuaireanciensetudiants =Annuaire
***********************/

body.annuaireanciensetudiants .photo {
background : #fff;
float : right;
margin-left : 10px;
text-align : right;
}

body.annuaireanciensetudiants dl.type_2 {
background-color : transparent;
}


/******************************************
	=Fiche =DefautStructureksup =Structure
******************************************/
body.defaultstructureksup .photo {
float : right;
margin : 1em 0 0 10px;
}

/******************************************
	=Fiche =Laboratoire =Structure
******************************************/
body.laboratoire .photo {
float : right;
margin : 1em 0 10px;
}

body.laboratoire p#type_laboratoire {
border-bottom : 1px solid #a3a3a3;
border-top : 1px solid #a3a3a3;
font-size : 0.85em;
margin : 0.5em 0;
}

/******************************************
	=Fiche =Formation
******************************************/
body.formation .stage_important {
color : #f3a300;
}

/* Classes pour les onglets */
body.formation ul#onglets {
margin-bottom : 1em;
padding-left : 0;
border-bottom: 1px solid #fff;
height: 1.5em;
}

body.formation ul#onglets li {
float : left;
font-size : 1.3em;
list-style : none;
margin-right: 10px;
}

body.formation ul#onglets a{
background : #fff url(onglets.png) no-repeat 3px 2px;
color : #8d7d74;
display : block;
font-size : 0.85em;
font-weight : 700;
margin : 0;
padding: 1px 0.4em 2px 12px;
}

body.formation ul#onglets a:hover,
body.formation ul#onglets li#actif a{
text-decoration: none;
color: #fff;
background-color: #8d7d74;
background-image: url(onglets_hover.png);
}

body.formation ul#onglets a:focus,
body.formation ul#onglets li#actif a:focus{
background-color: #8d7d74 !important;
background-image: url(onglets_hover.png) !important;
color: #fff !important;
}

body.formation .contenu_onglet1,
body.formation .contenu_onglet2,
body.formation .contenu_onglet3,
body.formation .contenu_onglet4,
body.formation .contenu_onglet5 {
display: none;
}

body.formation #onglet_actif {
display: block;
}

/* === */

body.formation h3.presentation {
border-left : 1px solid #000000;
display : inline;
font-size : 1em;
margin : 0 0 0 0.5em;
padding-left : 0.5em;
}

body.formation dl.presentation {
border-left : 1px solid;
float : left;
margin-left : 0.5em;
margin-top : 0;
padding-left : 0.5em;
position: relative;
}


body.formation h3.premier_bloc {
border-left : 0;
margin : 0;
padding-left : 0;
}

body.formation dl.premier_bloc {
border-left : 0;
margin-left : 0;
margin-right : 0.5em;
padding-left : 0;
padding-right : 0.5em;
}


body.formation dl.presentation dt {
font-weight : 700;
}

body.formation dl.presentation dd {
color : #f3a300;
margin : 0;
font-weight:bold;
}

dl.type_1 .liste_def_continue,
dl.type_1 .liste_def_alternance,
dl.type_1 .liste_def_apprentissage,
dl.type_1 .liste_def_distance,
dl.type_1 .liste_def_poursuite_etudes,
dl.type_1 .liste_def_debouches,
dl.type_1 .liste_def_secteurs_activites,
dl.type_1 .liste_def_metiers,
dl.type_1 .liste_def_echanges_internationaux,
dl.type_1 .liste_def_domaines_erasmus,
dl.type_1 .liste_def_langues_enseignement {
}

body.formation dl.type_1 dd {
min-height : 2.5em;
}

/* hack CSS pour IE */
* html body.formation dl.type_1 dd {
height : 2.5em;
}

body.formation h3.et_apres {
color : #666666;
font-size : 1.1em;
margin-bottom : 0.3em;
}


/**********************
	=Fiche =Ueup
***********************/
body.ueup table#details, body.ueup table#volumes_horaires {
border-top : 1px solid #a3a3a3;
float : left;
padding-top : 7px;
}

body.ueup table#details {
width : 60%;
}

body.ueup table#volumes_horaires {
width : 40%;
}

body.ueup table#details th , body.ueup table#volumes_horaires th {
text-align : right;
width : 50%;
}

body.ueup table#details td, body.ueup table#volumes_horaires td {
color : #f3a300;
padding-left : 0.7em;
text-align : left;
}


/**********************
	=Fiche =Cours
***********************/

body.cours table#volumes_horaires, body.cours table#coefs {
border-top : 1px solid #a3a3a3;
float : left;
padding-top : 7px;
}
body.cours table#volumes_horaires {
width : 60%;
}

body.cours table#coefs {
width : 40%;
}

body.cours table#volumes_horaires th, body.cours table#coefs th {
text-align : right;
width : 50%;
}

body.cours table#volumes_horaires td, body.cours table#coefs td {
color : #f3a300;
padding-left : 0.7em;
text-align : left;
}

/**********************
	=Fiche =Associationetudiant
***********************/
body.associationetudiant #types_association {
border-bottom : 1px solid #a3a3a3;
border-top : 1px solid #a3a3a3;
font-size : 0.85em;
margin : 0.85em 0;
}

body.associationetudiant #objet {
margin-bottom : 1.5em;
text-align : left;
}

body.associationetudiant .photo {
background : #fff;
float : right;
margin-left : 10px;
text-align : right;
}


/******************************************
	=Fiche =Offresstagesemplois
******************************************/
body.offresstagesemplois #type {
border-bottom : 1px solid #a3a3a3;
border-top : 1px solid #a3a3a3;
font-size : 0.85em;
margin : 0.5em 0;
}

body.offresstagesemplois #descriptif {
margin-bottom : 1.5em;
}

body.offresstagesemplois dl.type_1 .liste_def_debut,
body.offresstagesemplois dl.type_1 .liste_def_duree,
body.offresstagesemplois dl.type_1 .liste_def_date_limite {
border-top : 1px solid #a3a3a3;
}
