/**
 * Entete CSS : redefinition de styles par defaut
 */
html { overflow: -moz-scrollbars-vertical !important; }
html, body { height: 100%; }

body { margin: 0; padding: 0; font: 68.75% Arial, Helvetica, sans-serif; /*font: 68.75% Verdana, Arial, Helvetica, sans-serif;*/ color: #5E5E5E; background: #7C0303; behavior: url('csshover.htc'); }

a { color: #8FA4CF; text-decoration: none; }
	a img { border: none; }

form { margin: 0; padding: 0; }
input, textarea { font: 1em Verdana, Arial, Helvetica, sans-serif; }

ul { margin: 0; padding: 0; list-style: none; }
blockquote { margin: 8px 0 8px 0; background: #F6F8FB; color: #8FA4CF; font-size: 1.2em; font-weight: bold; letter-spacing: 0.02em; line-height: 18px; border-top: 1px solid #CCCDCD; border-bottom: 1px solid #CCCDCD; padding: 10px 6px 10px 6px; }
hr { height: 1px; display: block; margin: 10px 0 10px 0; padding: 0; color: #CCCDCD; background: #CCCDCD; border: 0; }

/**
 * Styles commun
 */
.clear { clear: both; }

.champobligatoire { color: #FF0000; font-weight: bold; }
.btn { background: #F6F8FB; padding: 3px 4px 3px 4px; color: #8FA4CF; font-size: 0.9em; }

.border { border: 1px solid #8FA4CF; padding: 2px; }
.border1 { border: 1px solid #CCCDCD; padding: 5px; }

.align_right { text-align: right; }
.center { text-align: center; }

.float_left { float: left; }
.float_right { float: right; }

.img_left { float: left; margin: 0 15px 5px 0; }
.img_right { float: right; margin: 0 0 5px 15px; }

.retour { text-align: center; margin-bottom: 15px; width: 474px; }

/**
 * Styles partie editable : styles pour FCKeditor
 */
.couleur1 { color: #EA083D; }
.couleur2 { color: #EA083D; }
.couleur3 { color: #777; }

.textepetit { font-size: 0.9em; }
.textegrand { font-size: 1.1em; }

/**
 * Style de l'interface
 */
#conteneur { position: relative; left: 50%; top: 50%; width: 760px; height: 402px; margin: -201px 0 0 -380px; background: url(conteneur.jpg) no-repeat #EA8724 0px 25px; }

	/**
	 * Header
	 */
	#header { position: relative; }
		#header h1 { margin: 0; }
		#header #version_chinoise { position: absolute; top: 3px; left: 325px; width: 30px; height: 20px; }
		
		#header ul { background: none; list-style-image: none; list-style-position: inside; }
			#header ul li a { display: block; text-indent: -5000px; font-size: 0px; position: absolute; top: -17px; }
			#header ul #header1 a { background: url(header_menu1.jpg) no-repeat; width: 52px; height: 60px; left: 383px; }
				#header ul #header1 a:hover { background: url(header_menu1_hover.jpg) no-repeat; }
			#header ul #header2 a { background: url(header_menu2.jpg) no-repeat; width: 50px; height: 60px; left: 450px; }
				#header ul #header2 a:hover { background: url(header_menu2_hover.jpg) no-repeat; }
			#header ul #header3 a { background: url(header_menu3.jpg) no-repeat; width: 54px; height: 68px; top: -25px; left: 512px; }
				#header ul #header3 a:hover { background: url(header_menu3_hover.jpg) no-repeat; }
			#header ul #header4 a { background: url(header_menu4.jpg) no-repeat; width: 64px; height: 71px; left: 571px; }
				#header ul #header4 a:hover { background: url(header_menu4_hover.jpg) no-repeat; }
			#header ul #header5 a { background: url(header_menu5.jpg) no-repeat; width: 46px; height: 71px; left: 644px; }
				#header ul #header5 a:hover { background: url(header_menu5_hover.jpg) no-repeat; }
			#header ul #header6 a { background: url(header_menu6.jpg) no-repeat; width: 52px; height: 73px; left: 708px; }
				#header ul #header6 a:hover { background: url(header_menu6_hover.jpg) no-repeat; }
	
	/**
	 * Menu de navigation
	 */
	#bloc_nav { background: url(bloc_nav.jpg) no-repeat; width: 100%; height: 35px; display: block; position: absolute; top: 189px; }
		#bloc_nav>ul a { width: auto; }
		#bloc_nav ul ul { position: absolute; }
			#bloc_nav li { margin: 0; padding: 0; float: left; z-index: 100; }
		
		#bloc_nav .level1 { position: relative; }
			#bloc_nav .level1 li { height: 35px;  margin: 0 10px 0 10px; }
				#bloc_nav .level1 li a { display: block; text-indent: -5000px; font-size: 0px; height: 35px; }
		
		/* definition des styles pour les rubriques de 1er niveau */
		#bloc_nav .level1 #menu1 { background: url(menu1.jpg) no-repeat; width: 97px; margin-left: 52px; margin-right: 0; }
		* html #bloc_nav .level1 #menu1 { margin-left: 27px; }
		#bloc_nav .level1 #menu1_actif { background: url(menu1_hover.jpg) no-repeat; width: 97px; }
			#bloc_nav .level1 #menu1:hover { background: url(menu1_hover.jpg) no-repeat; }
		#bloc_nav .level1 #menu2 { background: url(menu2.jpg) no-repeat; width: 193px; margin-left: 19px; margin-right: 0; }
		#bloc_nav .level1 #menu2_actif { background: url(menu2_hover.jpg) no-repeat; width: 193px; }
			#bloc_nav .level1 #menu2:hover { background: url(menu2_hover.jpg) no-repeat; }
		#bloc_nav .level1 #menu3 { background: url(menu3.jpg) no-repeat; width: 193px; margin-left: 19px; margin-right: 0; }
		#bloc_nav .level1 #menu3_actif { background: url(menu3_hover.jpg) no-repeat; width: 193px; }
			#bloc_nav .level1 #menu3:hover { background: url(menu3_hover.jpg) no-repeat; }
		#bloc_nav .level1 #menu4 { background: url(menu4.jpg) no-repeat; width: 119px; margin-left: 18px; margin-right: 0; }
		#bloc_nav .level1 #menu4_actif { background: url(menu4_hover.jpg) no-repeat; width: 119px; }
			#bloc_nav .level1 #menu4:hover { background: url(menu4_hover.jpg) no-repeat; }
		
		#bloc_nav ul.level1 li.submenu:hover ul.level2, #bloc_nav ul.level2 li.submenu:hover ul.level3 { display: block; }
		#bloc_nav ul.level1 #menu1_actif ul.level2, #bloc_nav ul.level1 #menu2_actif ul.level2, #bloc_nav ul.level1 #menu3_actif ul.level2, #bloc_nav ul.level1 #menu4_actif ul.level2 { display: block; z-index: 100; }
		
		#bloc_nav ul.level2 { top: 35px; left: 0; width: 760px; z-index: 900; }
		#bloc_nav #sub_menu1 { background: #8B6304; }
		#bloc_nav #sub_menu2 { background: #9F9B56; }
		#bloc_nav #sub_menu3 { background: #9D0404; }
		#bloc_nav #sub_menu4 { background: #6C9BD4; }
		#bloc_nav #menu1_actif ul.level2 { z-index: 950; }
		* html #bloc_nav ul.level2 { left: -712px; }
		
		#bloc_nav level1 ul.level2 li { display: inline; float: left; height: 28px; margin: 0; }
			#bloc_nav .level1 ul.level2 li a { text-indent: 0px; font-size: 1em; color: #fff; display: block; width: 70px; height: 28px; line-height: 1em; margin: 0; padding: 3px 0 0 0; }
			#bloc_nav .level1 ul.level2 li a.actif { font-weight: bold; }
	
	/**
	 * Bloc A la une
	 */
	#alaune { position: absolute; top: 335px; left: 6px; background: url(alaune.gif) no-repeat; width: 328px; height: 51px; }
		#alaune #scrolling { margin: 14px 0 8px 0; padding: 0 15px 0 21px; height: 29px; overflow: hidden; }
		#alaune h3 { display: none; }
		#alaune h4 { background: url(alaune_puce.gif) no-repeat 0px 4px; margin: 0; padding: 2px 0 2px 15px; font-size: 1em; font-weight: normal; }
		#alaune a { color: #fff; }
	
	#trophees { position: absolute; top: 329px; left: 340px; }
	* html #trophees { top: 340px; }
	*+html #trophees { top: 340px; }
	
	#pyxis { position: absolute; bottom: -10px; right: 4px; }
	* html #pyxis { bottom: 1px; }
	*+html #pyxis { bottom: 1px; }
