a {
	color:#0050A1;
	text-decoration:none;
}

a:hover, a:focus {
	color:#0050A1;
	text-decoration:underline;
}

hr {
    height: 0;
    color: #fff;
    background: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    margin: 2px 0 6px 0;
}

hr.cg13{		
    height: 2px;
    color: #0050A1;
    background: #0050A1;
    border: none;
    border-bottom: 1px solid #0050A1;
    margin: 0 0 7px 0;
}

hr.cg13_fin{		
    height: 1px;
    color: #0050A1;
    background: #0050A1;
    border: none;
    border-bottom: 1px solid #0050A1;
    margin: 0 0 12px 0;
}

#header .gHeader #slide-index {
	clear: left;
	height: 170px;
	margin: 0;
	padding: 0;
	border-top: solid 10px #465354;
}


#header .gHeader #chapo-rub {
	background: #0050A1;
}

	#header .gHeader #chapo-rub h2 {
		color: #fff;
		border: 0;
	}

	#header .gHeader #chapo-rub p {
		color: #fff;
	}
	
	#header .gHeader #chapo-rub a {
		color: #fff;
	}
	
div.gContenu h2, div.bloc-article h2, div.tx-rtmeteofr-pi1 h2 {
	background: transparent url(fleche-grise.png) no-repeat left 5px;
	border-bottom: solid 4px #465354;
	/*height: 20px;*/
	padding-bottom: 4px;
}

/*	@ajouts aline mars 2009
---------------------------------*/

div.gContenu h2.puce-fil {
	background: transparent url(puce-fil.png) left 8px no-repeat;
	border-bottom: solid 4px #465354;
	font: normal 2em/1.2em 'Trebuchet MS', helvetica, sans-serif;
}

div.bloc-article p.dateFil {
	color:#E3001B;
}
/********************************* BLOC ACTU **********************************/
div.bloc-article h3.cg13{
	background: transparent url(puce-h3-sommaire.png) no-repeat left 3px;
	padding:2px 0 2px 8px;
}

div.bloc-article h3.institutionnel{
	background: transparent url(puce-h3-sommaire.png) no-repeat left 3px;
	padding:2px 0 2px 8px;
}

div.bloc-article h3.education{
	background: transparent url(puce-h3-sommaire.png.1) no-repeat left 3px;
	padding:2px 0 2px 8px;
}

div.bloc-article h3.solidarite{
	background: transparent url(puce-h3-sommaire.png.2) no-repeat left 3px;
	padding:2px 0 2px 8px;
}

div.bloc-article h3.developpement{
	background: transparent url(puce-h3-sommaire.png.3) no-repeat left 3px;
	padding:2px 0 2px 8px;
}

div.bloc-article h3.economique{
	background: transparent url(puce-h3-sommaire.png.3) no-repeat left 3px;
	padding:2px 0 2px 8px;
}

div.bloc-article h3.cadre-de-vie {
	background: transparent url(puce-h3-sommaire.png.4) no-repeat left 3px;
	padding:2px 0 2px 8px;
}

div.bloc-article h3.culturel {
	background: transparent url(puce-h3-sommaire.png.4) no-repeat left 3px;
	padding:2px 0 2px 8px;
}

div.bloc-article h3.conference {
	background: transparent url(puce-h3-sommaire.png.4) no-repeat left 3px;
	padding:2px 0 2px 8px;
}

div.bloc-article h3.saison13{
	background: transparent url(puce-h3-sommaire.png.4) no-repeat left 3px;
	padding:2px 0 2px 8px;
}


/********************************* CONTENU **********************************/

#contenu .gContenu, #contenu .dContenu {
	top: 33px;
}
	/********************************* BLOC ACTU **********************************/
	div.bloc-article-institutionnel h3.institutionnel, div.bloc-article-cg13 h3.cg13{
		background: transparent url(puce-h3-sommaire.png) no-repeat left 3px;
		padding:3px 0 4px 15px;
	}
	
	div.bloc-article-education h3.education{
		background: transparent url(puce-h3-sommaire.png.1) no-repeat left 3px;
		padding:3px 0 4px 15px;
	}
	
	div.bloc-article-solidarite h3.solidarite{
		background: transparent url(puce-h3-sommaire.png.2) no-repeat left 3px;
		padding:3px 0 4px 15px;
	}
	
	div.bloc-article-economique h3.economique, div.bloc-article-developpement h3.developpement {
		background: transparent url(puce-h3-sommaire.png.3) no-repeat left 3px;
		padding:3px 0 4px 15px;
	}
	
	div.bloc-article-cadre-de-vie h3.cadre-de-vie, div.bloc-article-culturel h3.culturel, div.bloc-article-saison13 h3.saison13, div.bloc-article-conference h3.conference{
		background: transparent url(puce-h3-sommaire.png.4) no-repeat left 3px;
		padding:3px 0 4px 15px;
	}
		
	div.bloc-article-mode-de-vie h3.cadre-de-vie, div.bloc-article-culturel h3.culturel, div.bloc-article-saison13 h3.saison13, div.bloc-article-conference h3.conference{
		background: transparent url(puce-h3-sommaire.png.4) no-repeat left 3px;
		padding:3px 0 4px 15px;
	}
	
	#articles div.bloc-article {
		border-bottom: solid 1px #465354;
	}

	#articles div.bloc-article-culturel {
		margin-top: 2px;
		border-bottom: solid 1px #84E407;
	}
	
	#articles div.bloc-article-culturel h4{
		color:#029834;
		padding:0 15px;
		background:url(puce_cadre-de-vie.gif) no-repeat left 2px;
	}
	
	#articles div.bloc-article-culturel a.external-link-new-window{
		background:url(lien.gif) no-repeat left;
		color:#029834;
		padding:2px 22px;
	}
	
	#articles div.bloc-article-cadre-de-vie{
		margin-top: 2px;
		border-bottom: solid 1px #84E407;
	}
	
	#articles div.bloc-article-cadre-de-vie h4{
		color:#029834;
		padding:0 15px;
		background:url(puce_cadre-de-vie.gif) no-repeat left 2px;
	}
	
	#articles div.bloc-article-cadre-de-vie a.external-link-new-window{
		background:url(lien.gif) no-repeat left;
		color:#029834;
		padding:2px 22px;
	}
		
	#articles div.bloc-article-mode-de-vie{
		margin-top: 2px;
		border-bottom: solid 1px #84E407;
	}
	
	#articles div.bloc-article-mode-de-vie h4{
		color:#029834;
		padding:0 15px;
		background:url(puce_cadre-de-vie.gif) no-repeat left 2px;
	}
	
	#articles div.bloc-article-mode-de-vie a.external-link-new-window{
		background:url(lien.gif) no-repeat left;
		color:#029834;
		padding:2px 22px;
	}
	
	#articles div.bloc-article-saison13 {
		margin-top: 2px;
		border-bottom: solid 1px #84E407;
	}
	
	#articles div.bloc-article-saison13 h4{
		color:#029834;
		padding:0 15px;
		background:url(puce_cadre-de-vie.gif) no-repeat left 2px;
	}
	
	#articles div.bloc-article-saison13 a.external-link-new-window{
		background:url(lien.gif) no-repeat left;
		color:#029834;
		padding:2px 22px;
	}
	
	#articles div.bloc-article-conference {
		margin-top: 2px;
		border-bottom: solid 1px #84E407;
	}
	
	#articles div.bloc-article-conference h4{
		padding:0 15px;
		color:#84E407;
		background:url(puce_cadre-de-vie.gif) no-repeat left 2px;
	}
	
	#articles div.bloc-article-economique {
		margin-top: 2px;
		border-bottom: solid 1px #00C5EF;
	}
	
	#articles div.bloc-article-economique a.external-link-new-window{
		background:url(lien.gif.1) no-repeat left;
		color:#006768;
		padding:2px 22px;
	}
	
	#articles div.bloc-article-economique h4{
		background:url(puce_amenagement.gif) no-repeat left 2px;
		padding: 0 15px;
		color:#00C5EF;
	}
	
	#articles div.bloc-article-economique a{
		color:#006768;
	}
	
	#articles div.bloc-article-developpement {
		margin-top: 2px;
		border-bottom: solid 1px #00C5EF;
	}
	
	#articles div.bloc-article-developpement a{
		color:#006768;
	}
	
	#articles div.bloc-article-developpement h4{
		color:#00C5EF;
		padding: 0 15px;
		background:url(puce_amenagement.gif) no-repeat left 6px;
	}
	
	#articles div.bloc-article-developpement a.external-link-new-window{
		background:url(lien.gif.1) no-repeat left;
		color:#006768;
		padding:2px 22px;
	}

	#articles div.bloc-article-institutionnel {
		margin-top: 2px;
		border-bottom: solid 1px #0050A1;
	}
	
	#articles div.bloc-article-institutionnel h4{
		color:#0050A1;
		padding: 0 15px;
		background:url(puce_cg13.gif) no-repeat left 2px;
	}
	
	#articles div.bloc-article-solidarite {
		margin-top: 2px;
		border-bottom: solid 1px #EB067D;
	}
	
	#articles div.bloc-article-solidarite h4{
		color:#EB067D;
		padding: 0 15px;
		background:url(puce_solidarite.gif) no-repeat left 2px;
	}

	#articles div.bloc-article-education {
		margin-top: 2px;
		border-bottom: solid 1px #F9A709;
	}
	
	#articles div.bloc-article-education h4{
		padding: 0 15px;
		background:url(puce_education.gif) no-repeat left 2px;
		color:#F9A709;
	}

	#articles div.bloc-article-cg13 {
		margin-top: 2px;
		border-bottom: solid 1px #0050A1;
	}
	
	#articles div.bloc-article-cg13 h4{
		padding: 0 15px;
		background:url(puce_cg13.gif) no-repeat left 2px;
		color:#0050A1;
	}
	#articles p.lien-retour a{
		background:url(picto-retour.png) no-repeat left;
		padding:0 15px;	
	}
	
	#articles div.blocSeul {
		background:#0050A1;
		
	}
	
	#articles div.blocSeul p{
		color:#FFFFFF;
	}
	
	#articles div.pictoHautpage {
		background-image:url(haut-page.gif);
		background-position:right top;
		background-repeat:no-repeat;
		font-size:1em;
		font-weight:normal;
		margin:0 0 12px 0;
		padding:0pt 20px 5px 0pt;
		text-align:right;
		border-bottom:1px solid #0050A1;
	}
	
	#articles div.pictoHautpageSS {
		background-image:url(haut-page.gif);
		background-position:right top;
		background-repeat:no-repeat;
		font-size:1em;
		font-weight:normal;
		padding:0pt 20px 5px 0pt;
		text-align:right;
	}
		
	#contenu div.bloc-article p.titrePsdt{
		font-size:1.3em;
	}
	
	div.dContenu div.bloc-article {
		margin-top: 2px;
		border-bottom: solid 1px #465354;
	}
	
	div.dContenu div.bloc-article a{
		color:#878D8E;
	}
	
	div.dContenu div.bloc-article a:hover{
		color:#878D8E;

	}
	
	div.dContenu div.bloc-article p.culturel a, div.bloc-article p.cadre-de-vie a, div.bloc-article p.saison13 a, div.bloc-article p.developpement a, div.bloc-article p.economique a, div.dContenu div.bloc-article p.institutionnel a, div.dContenu div.bloc-article p.solidarite a, div.dContenu div.bloc-article p.cg13 a, div.dContenu div.bloc-article p.education a  {
		color:#465354;
	}
	
	div.dContenu div.bloc-article p.culturel a:hover, div.bloc-article p.cadre-de-vie a:hover, div.bloc-article p.saison13 a:hover, div.bloc-article p.developpement a:hover, div.bloc-article p.economique a:hover, div.bloc-article p.institutionnel a:hover  {
		color:#465354;
	}
		
	#articles div.bloc-article-culturel a, div.bloc-article-mode-de-vie a, div.bloc-article-saison13 a, conference a{
		color:#84E407;
	}
	
	#articles div.bloc-article-culturel a:hover, div.bloc-article-mode-de-vie a, div.bloc-article-saison13 a:hover, conference a:hover{
		color:#84E407;
	}
	
	#articles div.bloc-article-economique a, div.bloc-article-amenagement a{
		color:#00C5EF;
	}
	
	#articles div.bloc-article-economique a:hover, div.bloc-article-amenagement a:hover{
		color:#00C5EF;
	}
	
	#articles div.bloc-article-institutionnel a, div.bloc-article-cg13 a{
		color:#0050A1;
	}
	
	#articles div.bloc-article-institutionnel a:hover, div.bloc-article-cg13 a:hover{
		color:#0050A1;
	}
	
	#articles div.bloc-article-solidarite a{
		color:#EB067D;
	}
	
	#articles div.bloc-article-solidarite a:hover{
		color:#EB067D;
	}

	#articles div.bloc-article-savoir a{
		color:#F9A709;
	}
	
	#articles div.bloc-article-savoir a:hover{
		color:#F9A709;
	}
	
/********************************* BLOC TELE **********************************/
	h2#tele-cg13 {
		padding: 0;
		background: none;
		height: 48px;
	}


div.bloc-tele-mag {
	border-bottom: solid 1px #465354;
	position: relative;
	top: -25px;
}

	div.player {
		width: 420px;
		height: 336px;
		border: solid 1px #465354;
		margin: 0 10px 15px 0;
	}

	div.legende-player {
		margin: 0;
		padding: 0 0 5px 0;
		float:right;
		width:115px;
		height:335px;
	}
	
	div.legende-player p{
		height:235px;
	}	
			
	div.legende-player img.bt-mag{
		float:right;
	}
	
	div.bloc-tele-mag div.sommaire-mag {
		clear: left;
	}
		div.bloc-tele-mag div.sommaire-mag h3 {
			background: transparent url(http://www.cg13.fr/fileadmin/templates/images/h3-sommaire-mag.png) no-repeat left top;
			padding: 0 0 3px 21px;
			height: 10px;
		}
		
/********************************* BLOC UNE **********************************/		
h3.cg13 {
	background: transparent url(puce-cg13.png) no-repeat left 2px;
}

h3.cadre_de_vie {
	background: transparent url(puce-cadre-de-vie.png) no-repeat left 2px;
}

h3.developpement {
	background: transparent url(puce-amenagement.png) no-repeat left 2px;
}

h3.solidarite {
	background: transparent url(puce-solidarite.png) no-repeat left 2px;
}

h3.marseille {
	background: transparent url(h3-infos-marseille.png) no-repeat left top;
}

h3.education {
	background: transparent url(puce-education.png) no-repeat left 2px;
}

div.bloc-a-la-une{
	/*min-height:585px;*/
	margin-bottom:40px;
}

div.bloc-une, div.bloc-une-last, div.bloc-infos-marseille {
	border-bottom: solid 1px #465354;
	margin: 0 0 7px 0;
	padding: 0 0 12px 0;
}
div.bloc-une, div.bloc-une-last{
	background: #e8e8e8;
	min-height: 100px;
}

div.bloc-infos-marseille {
	background: #c3d3d4 url(bg-white.png) repeat-x left bottom;
	padding: 8px 12px 12px 2px;
	min-height: 100px;
}

	div.bloc-infos-marseille h3 {
		height: 13px;
		padding: 0 0 5px 12px;
		color: #465354;
		margin-left:2px;
	}
	
	.bloc-infos-marseille h4 {
		padding: 0 0 3px 0;
	}
	
	div.bloc-infos-marseille a.lien-article {
		background: transparent url(lien-article-bg-gris.png) no-repeat left top;
		font-size:0.9em;
	}
	
	a.lien-article {
		background: url(lien-article.png) no-repeat left top;
		font-size:0.9em;
	}
	
	div.bloc-infos-marseille a{
		color: #465354;
	}

		div.bloc-une, div.bloc-une-last {
			position: relative;
			float: left;
			width: 170px;
		}
		
		div.bloc-une {
			margin: 0 15px 0 0;
			width:100%;
		}
		
		div.bloc-une a{
			color: #465354;
		}
		
		div.bloc-une-last {
			margin: 0 0 0 1px;
			width:100%;
		}
		
		div.bloc-une-last a{
			color: #465354;
		}
			div.bloc-une img, div.bloc-une-last img {
				border: solid 1px #acacac;
				float:left;
				margin:0 10px 5px 0; 
				padding:2px;
			}
			
/********************************* PLAN DU SITE **********************************/
#articles div.csc-sitemap ul li{
	border-bottom:2px solid #0050A1;
	margin:5px 0;
	padding:0 0 5px 0;
}
		
#articles div.csc-sitemap ul li a{
	background: transparent url(puce-cg13.png) no-repeat left center;
	font-size:1.2em;
	padding:0 15px;
	font-weight:bold;
}

#articles div.csc-sitemap ul li ul li {
	border:0;
	padding:0;
}

#articles div.csc-sitemap ul li ul li a{
	font-size:0.9em;
	padding:0 15px;
	margin:0 15px;
	background: transparent url(picto-lien.png) no-repeat left center;
	font-weight:normal;
}

#articles div.csc-sitemap ul li ul li ul li{
	padding:0 15px;
}

#articles div.csc-sitemap ul li ul li ul li a{
	font-size:0.8em;
	padding:0 15px;
	margin:0 15px;

	background: transparent url(puce-h3-pages.png) no-repeat left center;
	font-weight:normal;
}

#articles div.csc-sitemap ul li ul li ul li ul li a{
	color:#878D8E;
	font-size:0.7em;
	padding:0 15px;
	margin:0 15px;

	background: transparent url(picto-lien.png.1) no-repeat left center;
	font-weight:normal;
}

/*	@A la Une
---------------------------------------*/

.bloc-a-la-une .content {
    position: relative;
    padding: 0px 13px;
    width: auto;
}

#js .bloc-a-la-une .content {
    position: relative;
    padding: 0px;
    width: 99%;
}

#js .bloc-a-la-une .sContent {
    margin: 0 5px 0 13px;
    overflow: hidden;
	height: 130px;
}

.bloc-a-la-une .carouselPrev,
.bloc-a-la-une .carouselNext {
    display: none;
}

#js .bloc-a-la-une .carouselPrev {
    display: block;
	position: absolute;
	top: 50px;
	left: -5px;
	width: 13px;
	height: 21px;
    /*background: url(../images/images/carousel-prev.png) no-repeat;*/ /* IE6 */
}

#js .bloc-a-la-une .carouselNext {
    display: block;
	position: absolute;
	top: 50px;
	left: auto;
	right: -10px;
	width: 13px;
	height: 21px;
  /* background: url(../images/images/carousel-next.png) no-repeat; *//* IE6 */
}

.bloc-a-la-une .jcarousel-clip {
    position: relative;
    overflow: hidden;
    width: 504px;
	border: 7px solid #d5e2e3;
	height: 117px;
}

#js .bloc-a-la-une .carousel {
    position: relative;
	height: 172px;
}

.bloc-a-la-une .carousel li {
    float: left;
    background: #fff;
    width: 504px;
    height: 117px;
    padding: 0;
	/*border: 7px solid #d5e2e3;*/
}

.bloc-a-la-une .carousel li.developpement {
	background: transparent url(bg-carousel-developpement.png) no-repeat 117px top;
}
	.navCarousel li.developpement {
		background: #fff url(bgNav-carousel-developpement.png) no-repeat 37px top;
	}

.bloc-a-la-une .carousel li.cadre-de-vie, .bloc-a-la-une .carousel li.cadre_de_vie {
	background: transparent url(bg-carousel-cadre-de-vie.png) no-repeat 117px top;
}
	.navCarousel li.cadre-de-vie, .navCarousel li.cadre_de_vie {
		background: #fff url(bgNav-carousel-cadre-de-vie.png) no-repeat 37px top;
	}

.bloc-a-la-une .carousel li.cg, .bloc-a-la-une .carousel li.cg13 {
	background: transparent url(bg-carousel-conseil-ge.png) no-repeat 117px top;
}

	.navCarousel li.cg, .navCarousel li.cg13 {
		background: #fff url(bgNav-carousel-conseil-ge.png) no-repeat 37px top;
	}

.bloc-a-la-une .carousel li.solidarites, .bloc-a-la-une .carousel li.solidarite {
	background: transparent url(bg-carousel-solidarites.png) no-repeat 117px top;
}

	.navCarousel li.solidarites, .navCarousel li.solidarite {
		background: #fff url(bgNav-carousel-solidarites.png) no-repeat 37px top;
	}

.bloc-a-la-une .carousel li.education {
	background: transparent url(bg-carousel-education.png) no-repeat 117px top;
}
	.navCarousel li.education {
		background: #fff url(bgNav-carousel-education.png) no-repeat 37px top;
	}

.bloc-a-la-une .carousel li img.floatLeft {
	display: block;
	width: 117px;
	height: 117px;
	float: left;
	margin-right: 34px;
}

.bloc-a-la-une .carousel .rubrique {
	font: normal 0.9em/1em verdana, helvetica, sans-serif;
	color: #878d8e;
	display: block;
	margin: 4px 5px 4px 0px;
}

.bloc-a-la-une .carousel .tt-article {
	display: block;
	color: #465354;
	font: bold 1.4em/1em 'Trebuchet MS', helvetica, sans-serif;
	margin: 0px 5px 8px 0px;
}

.bloc-a-la-une .carousel .text {
	display: block;
	margin: 0px 5px 7px 0px;
}

.bloc-a-la-une .carousel .lien-article, .bloc-actu-home .content p.lien-article {
	display: block;
	margin: 0px 5px 0px 0px;
	padding: 0px;
}

.bloc-a-la-une .carousel .lien-article a, .bloc-actu-home .content p.lien-article a {
	color: #465354;
	background: transparent url(lien-article.png) no-repeat left top;
	padding: 0px 0px 2px 17px;
}

	.bloc-a-la-une .carousel .lien-article a:hover, .bloc-a-la-une .carousel .lien-article a:focus, .bloc-actu-home .content p.lien-article a:hover, .bloc-actu-home .content p.lien-article a:focus {
		background: transparent url(lien-article-actif.png) no-repeat left top;
	}

.bloc-a-la-une hr.clear {
    clear: left;
    color: #3ec9d8;
    background: #3ec9d8;
    padding: 3px 0;
    border-color: #3ec9d8;
}

/*	@navCarousel
--------------------------*/

.navCarousel {
	width: 510px;
	margin: 0px 13px;
	padding: 0px;
	border: 7px solid #d5e2e3;
	border-width: 0px 1px 7px 7px;
	overflow: hidden;
	height: 37px;
}
	
.navCarousel ul {
	height: 37px;
	margin: 0px;
	padding: 0px;
}

	.navCarousel ul li {
		float: left;
		width: 164px;
		border-right: 6px solid #d5e2e3;
		margin: 0px;
		padding: 0px;
	}
	
		.navCarousel ul li a, .navCarousel ul li a:hover, .navCarousel ul li a:focus {
			text-decoration: none;
			margin: 0px;
			padding: 0px;
			
		}
	
	/*.navCarousel ul li.last {
		border-right: none;
	}*/
		
	
	.navCarousel ul li .floatLeft {
		float: left;
		height: 37px;
		width: 37px;
		margin: 0px 13px 0px 0px;
		padding: 0px;
	}
	
		.navCarousel ul li .rubrique {
			display: block;
			font: normal 0.8em/1em verdana, helvetica, sans-serif;
			color: #878d8e;
			display: block;
			margin: 2px 2px 2px 0px;
		}
		
		.navCarousel ul li .tt-article {
			display: block;
			color: #465354;
			font: bold 0.9em/1.1em 'Trebuchet MS', helvetica, sans-serif;
			margin: 0px 2px 0px 0px;
		}
	
.navCarousel li.hidden {
	display: none;
}	
	
/*	@ bloc-actu-home
-------------------------*/

.bloc-actu-home {
	border-bottom: 1px solid #465354;
	padding-bottom: 15px;
}

.bloc-actu-home .content {
	padding: 0px;
}

	.bloc-actu-home  img {
		float: left;
		margin: 0px 10px 0px 0px;
		padding: 0px;
	}
	
		.bloc-actu-home h3 {
			color: #465354;
			font: bold 1.2em/1em verdana, helvetica, sans-serif;
			margin: 0px 0px 12px 0px;
		}
		
		.bloc-actu-home .content {
			margin-left: 150px;
		}
			.bloc-actu-home .content p a {
				color: #465354;
				font: normal 1em/1.2em verdana, helvetica, sans-serif;
			}
			
				.bloc-actu-home .content p a:hover, .bloc-actu-home .content p a:focus {
					text-decoration: underline;
				}
		
/*	@dContenu
-----------------------------------------------*/

.dContenu .animRubrique {
	text-align: center;
}

.dContenu .showHide {
	margin: 0px 0px 10px 0px;
}

div.dContenu div.bloc-article .showHide h3 {
	font: normal 1.2em/1em verdana, helvetica, sans-serif;
	background: none;
	padding: 0px;
	margin: 0px;
}

	div.dContenu div.bloc-article .showHide h3 a {
		color: #878d8e;
	}
	
		.dContenu .showHide h3 a:hover, .dContenu .showHide h3 a:focus {
			text-decoration: none;
		}

	.showHide  h3 a {
		padding: 0px 0px 0px 18px;
	}
	
	.showHide  h3.cg13 a, .showHide  h3.institutionnel a, .actu p.cg13 {
		background: transparent url(puce-h3-sommaire.png) no-repeat left 2px;
	}
	
	.actu p.cg13 a, .actu p.handicap a, .actu p.solidarite a, .actu p.sante, .actu p.developpement a, .actu p.economique a, .actu p.transport a, .actu p.education a, .actu p.cadre-de-vie a, .actu p.cadre_de_vie a, .actu p.saison13 a, .actu p.culturel a {
		display: block;
		margin-left: 15px;
		color:#465354;
	}
		.showHide  h3.cg13 a:hover, .showHide  h3.cg13 a:focus, .show  h3.cg13 a, .showHide  h3.institutionnel a:hover, .showHide  h3.institutionnel a:focus, .show  h3.institutionnel a {
			background: transparent url(puce-h3-sommaire-actif.png) no-repeat left 2px;
		}
	
	.showHide  h3.solidarite a, .showHide  h3.sante a, .showHide  h3.handicap a, .actu p.solidarite, .actu p.sante, .actu p.handicap, .actu p.solidarite {
		background: transparent url(puce-h3-sommaire.png.2) no-repeat left 2px;
	}
		.showHide  h3.solidarite a:hover, .showHide  h3.solidarite a:focus, .show  h3.solidarite a, .showHide  h3.sante a:hover, .showHide  h3.handicap a:hover, .showHide  h3.sante a:focus, .showHide  h3.handicap a:focus, .show  h3.sante a, .show  h3.handicap a {
			background: transparent url(puce-h3-sommaire-actif.png.1) no-repeat left 2px;
		}
		
	.showHide  h3.developpement a, .showHide  h3.economique a, .showHide  h3.transport a, .actu p.developpement, .actu p.economique, .actu p.transport, .actu p.developpement {
		background: transparent url(puce-h3-sommaire.png.3) no-repeat left 2px;
	}
		.showHide  h3.developpement a:hover, .showHide  h3.developpement a:focus, .show  h3.developpement a, .showHide  h3.economique a:hover, .showHide  h3.economique a:focus, .show  h3.economique a, .showHide  h3.transport a:hover, .showHide  h3.transport a:focus, .show  h3.transport a {
			background: transparent url(puce-h3-sommaire-actif.png.2) no-repeat left 2px;
		}
	
	.showHide  h3.education a, .actu p.education {
		background: transparent url(puce-h3-sommaire.png.1) no-repeat left 2px;
	}
		.showHide  h3.education a:hover, .showHide  h3.education a:focus, .show  h3.education a.active {
			background: transparent url(puce-h3-sommaire-actif.png.3) no-repeat left 2px;
		}
		
	.showHide  h3.cadre-de-vie a, .showHide  h3.saison13 a, .showHide  h3.culturel a, .actu p.cadre-de-vie, .actu p.cadre_de_vie, .actu p.culturel {
		background: transparent url(puce-h3-sommaire.png.4) no-repeat left 2px;
	}
		.showHide  h3.cadre-de-vie a:hover, .showHide  h3.cadre-de-vie a:focus, .show  h3.saison13 a.active, .showHide  h3.saison13 a:hover, .showHide  h3.saison13 a:focus, .show  h3.saison13 a.active, .showHide  h3.culturel a:hover, .showHide  h3.culturel a:focus, .show  h3.culturel a {
			background: transparent url(puce-h3-sommaire-actif.png.4) no-repeat left 2px;
		}
		
	div.bloc-article .showHide p {
		color: #343f40;
		font: normal 1em/1.2em verdana, helvetica, sans-serif;
		margin-left: 18px;
		display: none;
	}
	
	div.bloc-article .showHide p a {
		color: #343f40;
	}
