/*  Ordre des propriétés pour la propriété font :
    font-style (italic/normal)
    font-variant (small-caps)
    font-weight (bold/normal)
    font-size/line-height
    font-family
*/
 
html, body {
    font-size: 100%;
}
 
body {
    font: 0.625em/1em verdana, helvetica, sans-serif;
}
 
h1, h3, h5, h6 {
    font-weight: normal;
}

 
h2, h2.bg-fleche {
    font: bold 1.5em/1.2em "Trebuchet MS", helvetica, sans-serif;
}

h2.puce, h2.puce-sommaire {
	font: 2em/1.2em "Trebuchet MS", helvetica, sans-serif;
}

h2 span.small {
	font: bold 0.9em/1em "Trebuchet MS", helvetica, sans-serif;
}

h3.cg13, h3.figures-libres, h3.marseille, h3.institutionnel, h3.cadre_de_vie, h3.cadre-de-vie, h3.culturel, h3.conference, h3.saison13, h3.developpement, h3.economique, h3.solidarite, h3.education, h3.puce, h3.puce-sommaire, div.sommaire-mag h3 {
    font: 0.9em/1em verdana, helvetica, sans-serif;
}

div.bloc-infos-marseille h3 {
	font: 1.2em/1em verdana, helvetica, sans-serif;
}

h3 {
	font: bold 1.6em/1.5em "Trebuchet MS", helvetica, sans-serif;padding-bottom:5px;
}

h4 {
	font: bold 1.2em/1.5em "Trebuchet MS", helvetica, sans-serif;padding-bottom:5px;
}

h5 {
	font: bold 1.2em/1.2em "Trebuchet MS", helvetica, sans-serif;padding-bottom:5px;
}
 
p {
    font: 1.1em/1.3em verdana, helvetica, sans-serif;
}
 
small, #contenu .fil-ariane {
    font: 0.8em/1em verdana, helvetica, sans-serif;
}
 
input, select, textarea {
    font: 100%/1em verdana, helvetica, sans-serif;
}

#header .dHeader form div  input#recherche {
	font: 1.1em/1.1em verdana, helvetica, sans-serif;
}

#header .gHeader #chapo-rub h2 {
	font: lighter 2.2em/0.8em arial, helvetica, sans-serif;
}

#header .gHeader #chapo-rub p {
	font: 1.6em/1.2em "Trebuchet MS", helvetica, sans-serif; 
}

#menu ul.menuNiveau1JS li a{
	font: 1.4em/1.2em arial, helvetica, sans-serif;
}

#menu ul li ul.menuNiveau2 li a, #menu ul li ul.menuNiveau2 li.actif {
	font: bold 1em/1.3em verdana, helvetica, sans-serif;
}

ul, ul.liste {
	font: normal 1.1em/1.2em verdana, helvetica, sans-serif;
}

div.sommaire-mag ul.liste {
	font: bold 1.2em/1.4em verdana, helvetica, sans-serif;
}

div.footer p {
	font: 1em/1em verdana, helvetica, sans-serif;
}

div.bloc-article p.accroche {
	font: 1.2em/1.2em verdana, helvetica, sans-serif;
}

#colDroite form div label {
	font: bold 1.6em/1.4em arial, helvetica, sans-serif;
}

#articles div.chapo  p {
	font: 1.6em/1.2em "Trebuchet MS", helvetica, sans-serif; 
}

#articles  p.chapo {
	font: 1.6em/1.2em "Trebuchet MS", helvetica, sans-serif; 
}

#articles div.chapo  p.legende {
	font: 1.1em/1em verdana, helvetica, sans-serif;
}

div.sMenuH ul li {
	font: bold 1em/1em "Trebuchet MS", helvetica, sans-serif;
}

div.bloc-article .chapo {
	font: 1.4em/1.2em "Trebuchet MS", helvetica, sans-serif;
}

div.aides h3, div.telecharge h3, div.liens h3, div.service-presse h3 {
	font: bold 1.1em/1.2em verdana, helvetica, sans-serif;
}