div.tx-mnogosearch-pi1{
	font: 1.1em/1.3em verdana, helvetica, sans-serif;
	color:#465354;
}

div.tx-mnogosearch-pi1-result{
	padding:5px;
	border-bottom:1px solid #465354;
	margin:8px 0;
}

div.tx-mnogosearch-pi1-result-excerpt{
	margin:0;
	padding:8px 0;
}

ul.tx-mnogosearch-pi1-results-links{
	margin:0;
	font-size:1em;
}