.powermail_all_td{
	padding-bottom:7px;
}

.tx-powermail-pi1_confirmation p{
	font-weight:bold;
}

.tx_powermail_pi1_formconfirmation_back{
margin-left:200px;
}

.tx-powermail-pi1_mandatory form {
	display:block;
	text-align:center;
	width:536px;
}

.powermail_mandatory_listitem strong{
	font-weight:normal;
}

.tx-powermail-pi1_mandatory{
	padding-top:10px;
}

.powermail_mandatory_list{
	margin-top:10px;
}

.powermail_mandatory_listitem{
	padding-bottom:5px;
}

.powermailfrontend_pagebrowser p{
	font-weight:bold;
	color:#0685E7;
}

div.tx-powermail-pi1 {
    color:#465354;
    background:#D5E2E3;
}

div.tx-powermail-pi1 legend{
	display:none;
}

p.tx_powermail_pi1_fieldwrap_html_radio_title{
	display:none;
}

fieldset.tx-powermail-pi1_fieldset {
    /* Disable border */
    border: none;
}

fieldset.tx-powermail-pi1_fieldset label {
    /* Style labels */
    display: block;
    width: 150px;
    float: left;
    clear: both;
    font-size:1.1em;
    font-weight:bold;
}

fieldset.tx-powermail-pi1_fieldset input, fieldset.tx-powermail-pi1_fieldset select {
    /* Style input fields */
    width: 200px;
    margin-left: 10px;
}

fieldset.tx-powermail-pi1_fieldset textarea{
    margin-left: 10px;
}

div.tx_powermail_pi1_fieldwrap_html {
    /* Increase margin between every field */
    margin: 10px 0;
    
}

.tx_powermail_pi1_fieldwrap_html_submit{
	text-align:center;
}

/************************** NEWSLETTER *****************************/

div.formNewsletter{
    color:#465354;
    background:#D5E2E3;
    margin:10px;
    padding:10px;
}

p.robot{
	display:none;
}

div.blocForm{
    height:25px;
}

div.blocForm label, div.labelRadio{
    /* Style labels */
    display: block;
    width: 200px;
    float: left;
    clear: both;
    font-size:1.1em;
    font-weight:bold;
}

div.blocForm input {
	width:200px;
}

div.blocRadio{
	height:60px;
	padding-left:200px;
	width: 300px;
	position:relative;
}

.erreur{
	color:#FF0000;
}


p.boutonInfo label{
    /* Style labels */
    display: block;
    width: 300px;
    float: left;
    clear: both;
    font-size:1.1em;
}