/********************/
/**     GLOBAL     **/
body	{padding: 0; margin: 0; font-family: verdana;}
h1		{padding: 0; margin: 0;}
h2		{padding: 0; margin: 0;}
h3		{padding: 0; margin: 0;}
h4		{padding: 0; margin: 0;}
p		{padding: 0; margin: 0;}
ul		{padding: 0; margin: 0;}
li		{padding: 0; margin: 0; display: inline;}
img		{border: none;}
a		{text-decoration: none;}
a:hover	{text-decoration: underline;}


/*******************/
/**  GLOBAL HTML  **/
input {
	font-size: 11px;
}
select {
	font-size: 11px;
}

/********************/
/**  GLOBAL CLASS  **/
.masque {
	display: none;
}
.clearnone {
	display: none;
	clear: both;
}
.clear {
	clear: both;
}
.cleardiv {
	clear: both;
	line-height: 1px;
	font-size: 1px;
}

/**************************************************************************************/
/*******************                 STYLES COMMUNS                 *******************/

#entete a {
	text-decoration: none;
}
#divers {
	text-align: right;
}
#navdroite {
	position: absolute;
	z-index: 100;
	top: 87px;
	right: 50%;
	background: #FFD100;
	margin-right: -380px;
	font-size: 9px;
	text-transform: uppercase;
	font-weight: bold;
}
#navdroite li {
	padding: 0;
	font-size: 9px;
}
#navdroite a {
	display: block;
	background: url("f_boutonblanc.gif") no-repeat bottom left;
	float: left;
	height: 20px;
	color: #00417D;
	line-height: 20px;
	padding: 0 8px 0 7px;
	font-size: 9px;
	text-decoration: none;
}
#piedpage {
	background: url("f_bas.gif") repeat-x top;
	clear: both;
	margin-top: 2px;
}
#piedpage a {
	text-decoration: none;
}
#piedpage a:hover {
	color: black;
}
h1 {
	float: left;
}
#navdivershaut {
	font-size: 9px;
	color: #7F7F7F;
	padding: 0px 0px 4px 0px;
}
#navdivershaut a {
	color: #7F7F7F;
}
#navdivershaut a:hover {
	color: black;
}
#recherche {
	padding: 20px 0px 0px 14px;
	float:left;
}

#recherche form{
	margin: 0px;
}
#cci {
	padding: 0px 45px 0px 5px;
}
#cci a {
	border:0px;
}
#buttonrecherche {
	font-size: 11px;
	line-height: 11px;
	width: 67px; 
	height: 19px; 
	border: none; 
	cursor: pointer;
	background: url("b_rechercher.gif") no-repeat;
	vertical-align: top;
	margin: 1px 0 0 3px;
}
#inputrecherche {
	border: 1px solid #7FCFF6;
}
#navdiversbas {
	font-size: 9px;
	color: #00417D;
	padding: 10px 0 3px 10px;
}
#navdiversbas a {
	color: #00417D;
}
#signature {
	width: 177px;
	height: 21px;
	margin: 3px 10px;
}


/************************************************************************************/
/*******************                 PAGE ACCUEIL                 *******************/
#bodyaccueil {
	text-align: center;
	background: white url("f_home.gif") top repeat-x;
}
#conteneurhome {
	text-align: left;
	margin: 0 auto;
	padding: 20px 17px 0 17px;
	width: 794px;
	background: url("f_conteneurhome.gif") no-repeat;
}
html>body #conteneurhome {
	width: 760px;
}
#contenuhome {
	clear: both;
	height: 246px;
	background: url("f_pointillesH.gif") repeat-x bottom;
}
#visuelhome {
	float: left;
}
#contenuhomebis {
	background: url("f_pointillesV.gif") repeat-y left;
	clear: both;
	margin-top: 2px;
}
#horaires {
	border-left: 5px solid white;
	float: left;
}
#actualites {
	float: left;
	width: 290px;
}
#actualites h2 {
	background: url("t_actualites.gif") repeat-x bottom;
	width: 287px;
	height: 32px;
}
#infosaeroport {
	float: left;
	width: 227px;
}
#infosaeroport h2 {
	background: url("t_infosaeroport.gif") repeat-x bottom;
	width: 224px;
	height: 32px;
}
#infoscompagnies {
	margin: 0 0 0 517px;
	width: 240px;
}
#infoscompagnies h2 {
	background: url("t_infoscompagnies.gif") repeat-x bottom;
	width: 240px;
	height: 32px;
}
#filetbas {
	clear: both;
	background: url("f_pointillesH.gif") repeat-x bottom;
	font-size: 5px;
}
#contenuactus {
	padding: 10px 8px;
}
#contenuaeroport {
	padding: 10px 8px;
}
#contenucompagnies {
	padding: 10px 8px;
}
#contenuhomebis p {
	font-size: 12px;
	font-family: arial;
}


/************************************************************************************/
/*******************                 PAGE CONTENU                 *******************/
#bodytype {
	text-align: center;
	background: white url("f_page.gif") top repeat-x;
}
#conteneur {
	text-align: left;
	margin: 0 auto;
	padding: 20px 17px 0 17px;
	width: 794px;
	background: url("f_conteneur.gif") no-repeat;
}
html>body #conteneur {
	width: 760px;
}
#contenu a {
	text-decoration: none;
}
#colgauche {
	float: left;
	width: 185px;
	margin-right: 5px;
	background: url("f_nav.gif") repeat-x;
	height: 380px;
}
#coldroite {
	margin-left: 190px;
	width: 567px;
}
#colgauche h2 {
	color: white;
	font-size: 12px;
	background: url("f_titrepage.gif") no-repeat #FFD100 bottom left;
	text-transform: uppercase;
	padding: 7px 0 7px 10px;
	border-bottom: 4px solid white;
}
#sousnav {
	margin-bottom: 25px;
}
#sousnav a {
	display: block;
	border-bottom: 1px solid #C5E9FB;
	padding: 5px 10px 5px 10px;
	color: #00417D;
	font-weight: bold;
	font-size: 12px;
}
#sousnav a:hover {
	background: url("f_rubriqueon.gif") repeat-y;
	color: white;
	text-decoration: none;
}
#sousnav .active {
	background: url("f_rubriqueon.gif") repeat-y;
}
#espacepub2 {
	text-align: center;
	margin: 10px 0;
}
#imagetitre {
}
#article {
	padding: 0 20px 20px 9px;
	float: left
	/*width: 567px;*/
}
#pagetitle {
	font-family: trebuchet MS;
	font-weight: normal;
	font-size: 24px;
	color: #3A9FF6;
	margin: 20px 0 10px 9px;
}
#title1 {
	font-family: trebuchet MS;
	font-weight: normal;
	font-size: 18px;
	color: #3A9FF6;
	margin: 10px 0 8px 0;
}
#article p {
	color: #00203E;
	font-size: 12px;
}
.fontColorStandardText {
	color: #00203E;
}
.fontSizeNormal {
	font-size: 12px;
}
.fontFamilyStandardText {
	font-family: arial;
}
#encartDroit {
	float: right;
	width: 120px;
	border-left: 1px solid #CCCCCC;
	padding: 0 0 0 15px;
	margin-right: 10px;
}
#encartGauche {
	text-align: center;
	margin: 10px 0;
}
.cadre2 h3 {
	font-size: 13px;
	font-weight: bold;
	color: white;
	background: #62C7F8;
	padding: 3px 5px;
}
.cadre2 h3 a {
	color: white;
}
.cadre2 p {
	margin: 10px 0;
}
/* ------------------------------------- Modification Y.P. le 19/06/08 */
#entete {
	border-bottom: 5px solid #A6EBFF;
	position:relative;
}

div#afaq {
	position:absolute;
	width:40px;
	height:45px;
	background-color:#996699;
	float:right;
	top:15px;
	right:0px !important;
	right:17px;
}