.zoneEE                   { background:transparent url(http://www.natixis.com/images/natixis/degrade_blocDroite.gif) repeat scroll left top; height:195px; width:214px; background-color:#0D0D37;}
.texteTitreEE             { font-weight: bold; font-size: 12px; color:#FFF; padding:10px 0pt 0pt 10px;}
.texteEETop               { background:transparent url(http://www.natixis.com/images/natixis/bande_Orange.gif) no-repeat scroll left center; color:#FFFFFF; font-size:11px; margin-top:20px; padding-left:15px; }
.texteEEBottom            { background:transparent url(http://www.natixis.com/images/natixis/bande_Verte.gif) no-repeat scroll left center; color:#FFFFFF; font-size:11px; margin-top:20px; padding-left:15px; }

.texteEETop a,
.texteEEBottom a          { color: #FFFFFF; text-decoration: underline; }
.texteEETop a:hover,
.texteEEBottom a:hover    { color: #FFFFFF; text-decoration: none; }

.Photo                    { margin-top:-2px;}
