#footer			        { text-align: right; background-color: #581D74; margin-top:3px; font-size: 10px; padding: 6px 10px 0 0; height: 20px;}
#footer a:hover		    { text-decoration: none; }
#footer .lienFooter	    { color: #FFFFFF; text-decoration: underline; vertical-align: 20%; padding: 0 6px 0 5px; }
#footer .texteCopyright	{ color: #FFFFFF; padding-left: 15px; vertical-align: 20%; }
