#header					                        { font-size: 10px; }
#header .logo 				                  { background: url("http://www.natixis.com/images/natixis/visu_BandoHaut.jpg") top right no-repeat; }
#header .barreLangue 			              { width: 100%; font-size: 10px; }
#header .barreLangue input	            { border: 1px solid #581D74; }
#header .barreLangue .langOn	          { font-weight: bold; color: #FF0000; vertical-align:100%; padding-right: 5px; text-decoration: none; }
#header .barreLangue .langOff           { font-weight: bold; color: #581D74; vertical-align:100%; padding-right: 5px; text-decoration: none; }
#header .barreLangue .langSep           { padding-right: 4px; text-decoration: none; }
#header .barreLangue select             { font-family: Verdana; font-size: 10px; color: #050D37; vertical-align: 70%; width:210px; }
#header .barreLangue input              { font-family: Verdana; font-size: 10px; color: #050D37; vertical-align: 70%; width:15px; }

#header .barreLangue input		          { vertical-align: 80%; width: 120px; }
#header .barreLangue .boutonRechercher	{ vertical-align: 60%; width: 15px; border:none;}
#header .barreLangue .texteLienOn	      { color: #505050; vertical-align: 100%; padding-right: 6px;}
#header .barreLangue .texteLienOff 	    { color: #FF0000; text-decoration: none;  vertical-align: 100%; padding:0 5px 0 10px; }

#header .menu							              { margin-top:-1px;}
#header .menu							              { !margin-top:-2px;}
*+html #header .menu					          { margin-top:-2px;}

#header .menu table                     { width: 100%; text-align: center; border-collapse: collapse;  font-weight: bold; font-size: 12px;}
#header .menu table td 		              { border: 1px solid #581D74; height: 40px; }
#header .menu table .setSize 	          { width: 153px; background-color: #FFF; }
#header .menu table .activeMenu         { background-color: #775549; color: white; }
#header .menu table .activ_img          { margin-left:5px; margin-right:2px; }
#header .menu table .activeMenu a       { background-color: #0D0D37; color: white; }

#header .menu table td a 		            { text-decoration: none; color: #581D74; }
#header .menu table .outils 	          { background-color: #581D74; }
#header .menu table .outils a	          { color: white; font-weight:bold; font-family: Verdana; font-size: 12px;}

#header .filArianne 	                  { font-weight: bold; color: #FF0000; padding: 2px 0 2px 10px; }
#header .filArianne a                   { color:  #FF0000; text-decoration: none;}
#header .filArianne .lienRub            { color:  #FF0000; font-weight: normal; text-decoration:underline; }
#header .filArianne a:hover             { text-decoration:none; }
#header .filArianne .locationSeparator  { font-size:8px; }
#header .filArianne br                  { display:none; }
#header .menu table td table td			    { border: none; } 
#header .menu .largeurFlecheRouge		    { width: 8px; border: none; padding :0 ; text-align: left;}
#header .menu table .setSizeSelect		  { width: 153px; background-color: #0D0D37; }
#header .menu table td  .lienSetSizeSelect  { text-decoration: none; color: #FFFFFF; }

#header #header_lang div                { display:inline; }
#header #header_lang #selectLang        { vertical-align:20%; }
*+html #header #header_lang #selectLang { vertical-align:bottom; }
#header #header_lang #selectLang        { !vertical-align:bottom; }

#header #header_lang #selectLang .validerFormulaireProfil       { font-size: 10px; font-weight: bold;color: #0D0D3; text-align: right; vertical-align:70%;}
#header #header_lang #selectLang .validerFormulaireProfil input { width:85px; vertical-align:-5px; border:none; }
#header #header_lang #selectLang .btnFormulaireProfil		        { vertical-align:-10%; !vertical-align:20%; background-color:white; border:none; color:#0D0D37; font-weight: bold; font-size:10; font-family: Verdana; cursor: pointer; !cursor:hand; text-align:right; !width:85px;}

#header #header_lang #selectLang form   { margin:0; padding:0; display:inline;}


* > #header .lienTransv                 { float:left; margin-left:30px;}
#header .lienTransv                  		{ !float:left; !margin-left:10px;}
*+html #header .lienTransv							{ margin-left:30px;}

#header .lienTransv a:hover             { text-decoration:none; }
* > #header .search_top	                { float:right; width:156px;}

#header .not_visible_menu	              { display:none;}

#header #headerH1                       { font-size: 12px; font-weight: bold; } 
