#modele_bio                             { width:756px; margin-left:16px; }
#modele_bio .texteInfo                  { color:#581D74; font-family:Verdana; font-size:12px; }
#modele_bio .texteId                    { color:#581D74; font-family:Verdana; font-size:12px; font-weight:bold; }
#modele_bio .fonction                   { color:#581D74; font-family:Verdana; font-size:11px; display:block; padding-top:5px; }
#modele_bio .block                      { height:110px; width:335px; background-color: white; }
#modele_bio .block_president            { height:110px; width:335px; background-color: #EAF8FF; margin-top:0px; }
#modele_bio .doc_link                   { color:#581D74; font-size:11px; vertical-align:top; }
#modele_bio .doc_size                   { color:#581D74; font-size:11px; }
#modele_bio .block_left                 { float:left;  width:235px; height:110px; padding:5px;}
#modele_bio .block_right                { float:right; width:90px;  height:110px; }

#modele_bio .bio_left                   { float:left;  width:340px; height:110px; padding-left:5px;padding-right:28px; }
#modele_bio .bio_right                  { float:left;  width:340px; height:110px; }

#modele_bio .img_bio                    { height:77px; width:60px; }
#modele_bio .title                      { margin-bottom:5px; margin-top:10px; height:20px; }
#modele_bio .title_member               { width:735px; margin-bottom:0px; margin-top:15px; margin-left:0px; height:20px; }
#modele_bio .title_left                 { width:365px; float:left; margin-left:5px; height:20px; }
#modele_bio .title_right                { width:355px; float:right; margin-right:0px; height:20px; }
#modele_bio .title_txt                  { color:#581D74; font-family:Verdana; font-size:12px; font-weight:bold; }

#modele_bio .bio_icon                   { float:left; margin-right:5px; }
#modele_bio .bio_link                   { float:left;  }

#modele_bio  #STD                       { margin-bottom:20px; }
#modele_bio  #STD br                    { display:none; }