#modele_dividende table   { width:500px; margin-top:0px; border: solid #AAE0FA 1px; border-collapse:collapse; margin-left:20px; margin-top:20px;}
#modele_dividende tr      { background-color:white; }
#modele_dividende td      { border: solid #AAE0FA 1px; height:18px; padding:5px 2px 5px 2px;  }
#modele_dividende .col1	  { width:100px; }
#modele_dividende thead   { background-color:#A22C1E; height:21px; }
#modele_dividende th      { background-color:#505050; color:white; font-size:11px; text-align:center; border: solid #AAE0FA 1px; }
#modele_dividende .row1   { background-color:#EAF7FE; color:#505050; font-size:11px; text-align:center; }
#modele_dividende .row2   { background-color:#EAF7FE; color:#505050; font-size:11px; text-align:center; }
