@import url("header.css");
@import url("footer.css");
@import url("M1.css");
@import url("M2.css");
@import url("menu_nav1.css");
@import url("menu_nav2.css");
@import url("article_etudes_eco.css");
@import url("mecenat_sponsoring.css");
@import url("Par.css");
@import url("modele_bio.css");
@import url("modele_agenda.css");
@import url("modele_dividende.css");
@import url("modele_notation.css");
@import url("nosSites.css");
@import url("publicite.css");
@import url("DOF.css");
@import url("STD.css");
@import url("FIC.css");
@import url("METIER.css");
@import url("CRISE.css");
@import url("FAQ.css");
@import url("IMP.css");
@import url("autreFeuillesCss.css");

*                                   { margin: 0px; padding: 0px; }
body                                { color: #505050; text-align:left; margin-left:auto; margin-right:auto; padding: 0; width: 62.1em; background-color: #FFFFFF; font-size:100%; font-family: Verdana; }
a                                   { cursor: hand; }
a img                               { border-width: 0px; }

.mbox                               { width:450px; background:#EAF7FE; url(http://www.natixis.com/css/portal/none;); border:1px solid #AAE0FA; color:#505050; font-family:Verdana; font-size:12px;}
.mboxWarning .mboxTitle             { color:#FF0000; }

table .formBackground               { url(http://www.natixis.com/css/portal/none;); border:1px solid #581D74; color:#505050; }
.formBackground table               { url(http://www.natixis.com/css/portal/none;); border:1px solid #581D74; color:#505050; }
table.formBackground .formTitle     { background-color:#FFF; }
table.formBackground .formInfo input  { float:left; margin-right:2px;  }

.imageTitre2					    { background: url("picto_Titre.gif") top left no-repeat; height: 30px; padding-left:10px; padding-top:5px; }
.texteTitre2					    { background-color: #775549; font-weight: bold; color: #FFFFFF; height: 21px; padding: 4px 0 0 5px; font-size: 12px; }

.filetSeparateurArticle		{ color: #581D74; background-color: #581D74; height: 1px; border:0; margin: 10px 0 10px 0; }

.structureHtml            { position: absolute; position: absolute; left: -999em; width: 1em; overflow: hidden;text-indent: -9999px;}





