.BORD {MARGIN:10PX 0PX;BACKGROUND-COLOR: #D7D4D6;TEXT-ALIGN: CENTER;PADDING:0PX !IMPORTANT}
.BORD DIV.CHOISIR{BORDER:NONE}
.BORD P.A_TITRE2{BORDER:NONE}
.TITRE{FONT-WEIGHT: BOLD;FONT-SIZE: 1.5EM;COLOR: #336699;BACKGROUND-COLOR: #FFFFFF}
.FTITRE,.STITRE,.LTITRE{FONT-WEIGHT:BOLD !IMPORTANT;PADDING:4PX 10PX 4PX 10PX}
.TIT{FONT-WEIGHT:BOLD;FONT-SIZE:2.5EM;COLOR:#FFF;BACKGROUND:#E5E5E5 url(titre.gif) TOP RIGHT NO-REPEAT;PADDING:11PX 10PX 11PX 10PX}
.INFO{FONT-SIZE: 1.2EM;BACKGROUND-COLOR: #FFFFFF;TEXT-DECORATION: NONE}
.MSGINFO{FONT-WEIGHT:NORMAL;COLOR:#4C4C4C;BACKGROUND:url(icoinfo.gif.1) NO-REPEAT 3PX 3PX #F3F0CD; BORDER:1PX SOLID #E5DF98;PADDING:10PX 10PX 10PX 33PX;MARGIN-TOP:100PX;MARGIN-BOTTOM:3PX}
.MSGINFO A,.ALERTE A{FONT-WEIGHT:NORMAL;COLOR:#4C4C4C}
.ERREUR A{COLOR:#FFF}
.ERREUR{COLOR:#FFF;BACKGROUND:url(messagerror.gif) NO-REPEAT 3PX 3PX #E75353; BORDER:1PX SOLID #E33031;PADDING:10PX 10PX 10PX 33PX;MARGIN-BOTTOM:3PX}
.ALERTE{FONT-WEIGHT:NORMAL;COLOR:#4C4C4C;BACKGROUND:none; BACKGROUND-COLOR:#F3F0CD; BORDER:1PX SOLID #E5DF98;PADDING:0;MARGIN-BOTTOM:3PX; text-align:center;}
.LISTE .ALERTE,.SAISIE .ALERTE,.FICHE .ALERTE{PADDING:10PX 10PX 10PX 33PX;BACKGROUND-COLOR:#F3F0CD}
.NAVLIENS{COLOR:#FFF;PADDING-TOP:6PX;PADDING-BOTTOM:2PX;BACKGROUND:url(a_menuappli_li.gif) TOP RIGHT REPEAT-X; font-weight:bold;}
.NAVLIENS IMG,.NAVLIENS A IMG{VERTICAL-ALIGN:MIDDLE;MARGIN-LEFT:5PX;MARGIN-RIGHT:3PX;}
.NAVLIENS A,.NAVLIENS A:HOVER{COLOR:#FFF;FONT-WEIGHT:normal;PADDING:3PX 13PX 6PX 0PX}
.NAVLIENS A{TEXT-DECORATION:underline}
.NAVLIENS A:HOVER{TEXT-DECORATION:none}
.fond  .poppdf {padding-left:18px !important;}
.NAVICO{WIDTH:110PX;LINE-HEIGHT:0PX;FONT-SIZE:0PX;BACKGROUND:url(a_menuappli_li.gif) TOP RIGHT REPEAT-X}
.NAVICO IMG{FLOAT:RIGHT;MARGIN-TOP:1PX}
.NOTE,.NOTE A{FONT-SIZE: 1EM;BACKGROUND:TRANSPARENT !IMPORTANT;COLOR:#3c3c3c !IMPORTANT}
.NOTE{PADDING:3PX 10PX}
SPAN.NOTE, SPAN.NOTE A{BACKGROUND:NONE !IMPORTANT}
.AIDE{FONT-SIZE: 1EM;FONT-STYLE: ITALIC;BACKGROUND-COLOR: #FFFFFF}
.BORDBULLE {BORDER:SOLID 1PX #3F6A9A;COLOR: WHITE;BACKGROUND-COLOR: #E2EDF5}
.BULLE {PADDING:3PX;FONT-SIZE: 1EM;COLOR: #3F6A9A;BACKGROUND-COLOR: #E2EDF5}
TD.LRUPTURE .LIEN:HOVER {TEXT-DECORATION: UNDERLINE}
.FRUPTURE, .LRUPTURE, .SRUPTURE{TEXT-ALIGN:LEFT;PADDING:5PX 10PX; BACKGROUND:#FFF url(rupture_degrade.gif) REPEAT-X LEFT bottom !IMPORTANT; BORDER:NONE;COLOR:#0f1b25 !IMPORTANT;FONT-WEIGHT:BOLD !important}
.FRUPTURE A, .LRUPTURE A, .SRUPTURE A, .LRUPTURE .LIEN, .SRUPTURE .LIEN, .LRUPTURE .SUIV{COLOR:#0f1b25 !IMPORTANT}
.LIEN,.SOMMAIRE,.PREC,.SUIV,.RETOURHP {FONT-WEIGHT:bold}
.LIEN:hover,.SOMMAIRE:hover,.PREC:hover,.SUIV:hover,.RETOURHP:hover {TEXT-DECORATION: none;COLOR:#D52F78}
.FICHE TD .LIEN,.LISTE TD .LIEN,.TAB2DIM TD .LIEN,.FICHE TD .SOMMAIRE,.LISTE TD .SOMMAIRE,.TAB2DIM TD .SOMMAIRE,.FICHE TD .PREC,.LISTE TD .PREC,.TAB2DIM TD .PREC,.FICHE TD .SUIV,.LISTE TD .SUIV,.TAB2DIM TD .SUIV,.FICHE TD .RETOURHP,.LISTE TD .RETOURHP,.TAB2DIM TD .RETOURHP{COLOR: #10509A}
.FICHE TD .LIEN:HOVER,.LISTE TD .LIEN:HOVER,.TAB2DIM TD .LIEN:HOVER,.FICHE TD .SOMMAIRE:HOVER,.LISTE TD .SOMMAIRE:HOVER,.TAB2DIM TD .SOMMAIRE:HOVER,.FICHE TD .PREC:HOVER,.LISTE TD .PREC:HOVER,.TAB2DIM TD .PREC:HOVER,.FICHE TD .SUIV:HOVER,.LISTE TD .SUIV:HOVER,.TAB2DIM TD .SUIV:HOVER,.FICHE TD .RETOURHP:HOVER,.LISTE TD .RETOURHP:HOVER,.TAB2DIM TD .RETOURHP:HOVER{COLOR: #D52F78}
TD.STITLIGU A,TD.STITLIGI A,TD.STITLIGP A {COLOR: #4C4C4C;FONT-WEIGHT: BOLD}
.IMPRIM {TEXT-ALIGN: RIGHT;TEXT-DECORATION: NONE}
.LISTE,.SAISIE, .FICHE {BACKGROUND-COLOR: #D8D8D8}
.LTITRE, .STITRE, .FTITRE{VERTICAL-ALIGN:TOP !IMPORTANT;HEIGHT:40PX !IMPORTANT;TEXT-ALIGN:CENTER;MARGIN:0PX;BACKGROUND:#FFFFFF url(a_titre2.gif) REPEAT-X TOP LEFT !IMPORTANT;COLOR:#D52F78;FONT-SIZE:1.2EM;FONT-WEIGHT:BOLD;TEXT-TRANSFORM:none;}
.LTITRE A,.FTITRE A,.STITRE A {COLOR: #D52F78;FONT-WEIGHT:NORMAL}
.LINFO UL LI{MARGIN:0PX 0PX 5PX 15PX;LIST-STYLE-IMAGE:url(puce_ul_niv1.gif)}
.LINFO UL{MARGIN-BOTTOM:10PX !IMPORTANT}
.LINFO, .SINFO, .FINFO{BACKGROUND:#F3F0CD !IMPORTANT;COLOR:#4C4C4C}
.LAIDE,.SAIDE,.FAIDE {FONT-STYLE: NORMAL;BACKGROUND-COLOR: #FFF}
TABLE.FICHE TH.FTITCOL{TEXT-ALIGN:CENTER !IMPORTANT}
.LTITCOL, .FTITCOL, .STITCOL, .LTITLIGU{PADDING:4PX 10PX;VERTICAL-ALIGN:MIDDLE;COLOR:#FFF !IMPORTANT;FONT-WEIGHT:BOLD !IMPORTANT;BACKGROUND:#356EAC url(table_list_th.gif) REPEAT-X LEFT TOP !IMPORTANT; TEXT-ALIGN:CENTER}
.LTITCOL A, .FTITCOL A, .STITCOL A, .LTITLIGU A{COLOR:#FFFFFF !IMPORTANT}
.LTITCOL IMG{VERTICAL-ALIGN:TOP;MARGIN-LEFT:5PX}
.LTITLIG, .LTITLIGP {BACKGROUND-COLOR: #FFFFFF}
.FTITLIG,.FTITLIGU,.FTITLIGP {BACKGROUND-COLOR: #FFFFFF;TEXT-ALIGN: LEFT}
.STITLIG,.STITLIGU {BACKGROUND-COLOR: #FFFFFF; text-align:right; font-weight:bold;}
.FTITLIGI,.LTITLIGI,.STITLIGI{BACKGROUND-COLOR: #FFFFFF;TEXT-ALIGN: LEFT}
.STITLIGU, .STITLIGP, .STITLIGI{FONT-WEIGHT:BOLD;TEXT-ALIGN: RIGHT}
.FDATAU,.FDATAP,.FDATAI{FONT-WEIGHT:BOLD}
.STITLIGP {BACKGROUND-COLOR: #FFFFFF;TEXT-ALIGN: LEFT}
.LTITCOIN, .FTITCOIN, .STITCOIN{FONT-WEIGHT: BOLD;FONT-SIZE: 1EM;BACKGROUND-COLOR: #444192;COLOR: #FFFFFF;TEXT-ALIGN: CENTER}
.FTITTOT, .LTITTOT, .STITTOT, .LTOTAL, .STOTAL, .FTOTAL {COLOR: #213143;BACKGROUND-COLOR: #FFFFFF}
.LACTIONG,.FACTIONG,.SACTIONG {TEXT-ALIGN:LEFT;BACKGROUND-COLOR:WHITE}
.LACTIONG .LIEN IMG{MARGIN-LEFT:0PX}
.fond .LACTIONG .LIEN{background:url(a_act_sup_bg.gif) 3px 2px no-repeat !important; padding-left:18px;}
* html .fond .LACTIONG .LIEN img{margin:0; padding:0;}
.LACTIONG .LIEN,.FACTIONG .LIEN,.SACTIONG .LIEN{COLOR:#10509A;text-decoration:none}
.LACTIONG a.LIEN:hover,.FACTIONG a.LIEN:hover,.SACTIONG a.LIEN:hover {text-decoration:underline}
.FDATA,.FDATAU,.FDATAP,.FDATAI,.LDATAP {BACKGROUND-COLOR: #FFFFFF}
.SDATA,.SDATAU,.SDATAI {BACKGROUND-COLOR: #FFFFFF}
.LDATA,.LDATAU,.LDATAI {BACKGROUND-COLOR: #FFFFFF}
.LDATAP,.SDATAP,.FDATAP,.FTITLIGP,.STITLIGP{BACKGROUND-COLOR: #F1F1F1 !IMPORTANT}
.LUNIE,.SUNIE,.LBOUTONS,.SBOUTONS {BACKGROUND-COLOR: #FFFFFF;TEXT-DECORATION: NONE}
.FUNIE,.FBOUTONS {BACKGROUND-COLOR: #FFFFFF;TEXT-DECORATION: NONE;FONT-WEIGHT:NORMAL}
.LBOUTONS,.SBOUTONS,.FBOUTONS {TEXT-ALIGN: CENTER;PADDING:10PX 0PX !IMPORTANT;BACKGROUND-COLOR: #FFFFFF;}
.LIMPAIRE,.LIL,.LIR,.LIC,.FIMPAIRE,.FI,.FIR,.FIC,.FIL,.SIMPAIRE,.SIL,.SIR,.SIC {BACKGROUND-COLOR: #FFFFFF;TEXT-DECORATION: NONE;FONT-WEIGHT:NORMAL}
.LIMPAIRE A,.LIL A,.LIR A,.LIC A,.FIMPAIRE A,.FI A,.FIR A,.FIC A,.FIL A,.SIMPAIRE A,.SIL A,.SIR A,.SIC A{TEXT-DECORATION: UNDERLINE;FONT-WEIGHT:NORMAL}
.LPAIRE,.LPL,.LPR,.LPC,.FPAIRE,.FP,.FPL,.FPC,.FPR,.SPAIRE,.SPL,.SPR,.SPC,.SDATAP {BACKGROUND-COLOR: #F1F1F1 !IMPORTANT;TEXT-DECORATION: NONE;FONT-WEIGHT:NORMAL}
.LPAIRE A,.LPL A,.LPR A,.LPC A,.FPAIRE A,.FP A,.FPL A,.FPC A,.FPR A,.SPAIRE A,.SPL A,.SPR A,.SPC A,.SDATAP A{TEXT-DECORATION: UNDERLINE;FONT-WEIGHT:NORMAL}
.LIL,.SIL,.LPL,.SPL,.FPL,.FIL {TEXT-ALIGN: LEFT}
.LIC,.SIC,.LPC,.SPC,.FPC,.FIC {TEXT-ALIGN: CENTER}
.LIR,.SIR,.LPR,.SPR,.FPR,.FIR {TEXT-ALIGN: RIGHT}
.LALTU, .FALTU, .SALTU, .LALTI, .FALTI, .SALTI, .LALTP, .FALTP, .SALTP, .LSTABU, .FSTABU, .SSTABU, .FSTABI, .SSTABI, .LSTABI, .LSTABP, .FSTABP, .SSTABP{BACKGROUND-COLOR: #FFFFFF}
.LALTU A, .FALTU A, .SALTU A{COLOR:#10509A;TEXT-DECORATION:NONE}
.LALTU A:HOVER, .FALTU A:HOVER, .SALTU A:HOVER{TEXT-DECORATION:UNDERLINE}
.LPAGSUI,.LPAGPRE,.LPAGDEB,.LPAGFIN {WIDTH: 15PX;TEXT-ALIGN: CENTER}
.LPAGCOU,.LPAGNUM {FONT-WEIGHT:BOLD;}
.LPAGLIG {TEXT-ALIGN: RIGHT;BACKGROUND-COLOR: #FFFFFF}
.LPAG {	TEXT-ALIGN: RIGHT; BACKGROUND-COLOR: #FFFFFF; PADDING:2PX}
.LIEN{TEXT-ALIGN:CENTER;PADDING:1PX 0PX}
.LIEN IMG{MARGIN:0PX 4PX 0PX 0PX}
TABLE.FOND H2,TABLE.FOND H2 { MARGIN:0PX; FONT-SIZE:X-SMALL; FONT-WEIGHT: BOLD; MARGIN-LEFT:1%}
SUP{FONT-SIZE:0.8EM;MARGIN-TOP:-5PX !IMPORTANT}
.FRUPTURE,.LRUPTURE,.SRUPTURE{PADDING:6px 4px !IMPORTANT}
.FUNIE,.LUNIE,.SUNIE,
.FIMPAIRE,.LIMPAIRE,.SIMPAIRE,
.FPAIRE,.LPAIRE,.SPAIRE,
.FDATAU,.LDATAU,.SDATAU,
.FDATAI,.LDATAI,.SDATAI,
.FDATAP,.LDATAP,.SDATAP,
.FDATA,.LDATA,.SDATA,
.FTITLIG,.LTITLIG,.STITLIG,
.FTITLIGU,.LTITLIGU,.STITLIGU,
.FTITLIGI,.LTITLIGI,.STITLIGI,
.FTITLIGP,.LTITLIGP,.STITLIGP,
.FINFO,.LINFO,.SINFO,
.FAIDE,.LAIDE,.SAIDE,
.FBOUTONS,.LBOUTONS,.SBOUTONS,
.FTITRE,.LTITRE,.STITRE,
.FACTIONG,.LACTIONG,.SACTIONG,
.FTITCOL,.LTITCOL,.STITCOL,
.FTITCOIN,.LTITCOIN,.STITCOIN,
.FTITTOT,.LTITTOT,.STITTOT, 
.FTOTAL, .LTOTAL,.STOTAL,
.FALTU,.LALTU,.SALTU,
.FALTI,.LALTI,.SALTI,
.FALTP,.LALTP,.SALTP,
.FSTABU,.LSTABU,.SSTABU,
.FSTABI,.LSTABI,.SSTABI,
.FSTABP,.LSTABP,.SSTABP,
.FPAGSUI,.LPAGSUI,.SPAGSUI,
.FPAGPRE,.LPAGPRE,.SPAGPRE,
.FPAGDEB,.LPAGDEB,.SPAGDEB,
.FPAGFIN,.LPAGFIN,.SPAGFIN,
.FPAGCOU,.LPAGCOU,.SPAGCOU,
.FPAGNUM,.LPAGNUM,.SPAGNUM,
.FPAGLIG,.LPAGLIG,.SPAGLIG,
.FPAG,.LPAG,.SPAG,
.FI,.LI,.SI,
.FIL,.LIL,.SIL,
.FIR,.LIR,.SIR,
.FIC,.LIC,.SIC,
.FPL,.LPL,.SPL,
.FPR,.LPR,.SPR,
.FPC,.LPC,.SPC,
.FP,.LP,.SP,
.FUNIE TD,.LUNIE TD,.SUNIE TD,
.FIMPAIRE TD,.LIMPAIRE TD,.SIMPAIRE TD,
.FPAIRE TD,.LPAIRE TD,.SPAIRE TD,
.FDATAU TD,.LDATAU TD,.SDATAU TD,
.FDATAI TD,.LDATAI TD,.SDATAI TD,
.FDATAP TD,.LDATAP TD,.SDATAP TD,
.FDATA TD,.LDATA TD,.SDATA TD,
.FTITLIG TD,.LTITLIG TD,.STITLIG TD,
.FTITLIGU TD,.LTITLIGU TD,.STITLIGU TD,
.FTITLIGI TD,.LTITLIGI TD,.STITLIGI TD,
.FTITLIGP TD,.LTITLIGP TD,.STITLIGP TD,
.FINFO TD,.LINFO TD,.SINFO TD,
.FAIDE TD,.LAIDE TD,.SAIDE TD,
.FBOUTONS TD,.LBOUTONS TD,.SBOUTONS TD,
.FTITRE TD,.LTITRE TD,.STITRE TD,
.FACTIONG TD,.LACTIONG TD,.SACTIONG TD,
.FTITCOL TD,.LTITCOL TD,.STITCOL TD,
.FTITCOIN TD,.LTITCOIN TD,.STITCOIN TD,
.FTITTOT TD,.LTITTOT TD,.STITTOT TD, 
.FTOTAL TD,.LTOTAL TD,.STOTAL TD,
.FALTU TD,.LALTU TD,.SALTU TD,
.FALTI TD,.LALTI TD,.SALTI TD,
.FALTP TD,.LALTP TD,.SALTP TD,
.FSTABU TD,.LSTABU TD,.SSTABU TD,
.FSTABI TD,.LSTABI TD,.SSTABI TD,
.FSTABP TD,.LSTABP TD,.SSTABP TD,
.FPAGSUI TD,.LPAGSUI TD,.SPAGSUI TD,
.FPAGPRE TD,.LPAGPRE TD,.SPAGPRE TD,
.FPAGDEB TD,.LPAGDEB TD,.SPAGDEB TD,
.FPAGFIN TD,.LPAGFIN TD,.SPAGFIN TD,
.FPAGCOU TD,.LPAGCOU TD,.SPAGCOU TD,
.FPAGNUM TD,.LPAGNUM TD,.SPAGNUM TD,
.FPAGLIG TD,.LPAGLIG TD,.SPAGLIG TD,
.FPAG TD,.LPAG TD,.SPAG TD,
.FI TD,.LI TD,.SI TD,
.FIL TD,.LIL TD,.SIL TD,
.FIR TD,.LIR TD,.SIR TD,
.FIC TD,.LIC TD,.SIC TD,
.FPL TD,.LPL TD,.SPL TD,
.FPR TD,.LPR TD,.SPR TD,
.FPC TD,.LPC TD,.SPC TD,
.FP TD,.LP TD,.SP TD
{
    padding:3px 4px
}
.SDATAU .SDATAU{padding:0px}
/* IE SEUL */
* HTML .NAVICO{WIDTH:100%}