/* Homepage
------------------------------------------------------------------*/

/* Columns */

#contentLeft {
	float: left;
	width: 387px;
	margin-top: 0;
	margin-right: 3px;
    overflow: hidden;
	}

#contentRight {
	float: left;
	width: 300px;
	margin-top: 0;
	}

/* General teaser */

.teaser,
.window {
	border: 1px solid #C7C7C7;
	background: #FFF;
	margin-bottom: 3px;
	margin-top: 3px;
	}
	

.teaserKeywords {
	background: #FFF;
	margin-bottom: 3px;
	margin-top: 3px;
	}

.window .teaser .teaserKeywords {
    border: 0;
    }

#contentLeft .teaser img {
	width: 120px;
	}

#contentLeft .teaser h3 a #videoIcon2T {
  width: 25px;
  height: 19px;
  float: none;
  border: none;
}

	
#contentLeft .teaserKeywords img {
	width: 120px;
	}
	
#contentLeft #slideshow {
	margin-bottom: 3px;
	margin-top: 0;
	}

.teaser ul, .teaserKeywords ul {
	padding-left: 0;
	margin: 3px 3px 0;
	margin-top: 5px;
	}

.teaser li, .teaserKeywords li {
	padding-left: 15px;
	background: url("http://levif.rnews.be/images/teaser_arrow.gif") no-repeat 0px 2px;
	margin-bottom: 3px;
	}

.teaser a:link,
.teaser a:visited,
.teaserKeywords a:link,
.teaserKeywords a:visited {
	text-decoration: none;
	color: #000;
	}

.teaser ul a:link, 
.teaser ul a:visited,
.teaserKeywords ul a:link, 
.teaserKeywords ul a:visited {
	text-decoration: none;
	color: #AC090B;
	font-weight: normal;
	}

.kanaal img {
    border: 1px solid #615F5F;;
    }
    
.teaser ul a:hover,
.teaserKeywords ul a:hover {
	text-decoration: underline !important;
	}

.teaser img {
	border: 0;
	float: left;
	margin: 0 3px 0 0;
}

#contentRight .teaser h3 a #videoIcon2T {
  width: 25px;
  height: 19px;
  float: none;
  border: none;
}

	
.teaserKeywords img {
	border: 0;
	float: right;
	margin: 0 3px 0 0;
	}

.teaserText {
	float: left;
	margin-right: 0;
	margin-top: 3px;
	margin-bottom: 3px;
	overflow: hidden;
	width: 100%;
	}

.teaser h3,
.teaser h2.sectionlabel,
.teaserKeywords h3,
.teaserKeywords h2.sectionlabel {
	font-weight: bold;
	margin: 0 6px 4px; 
	}

.teaser h3 a:link,
.teaser h3 a:visited, 
.teaser h3 a:active,
.teaserKeywords h3 a:link,
.teaserKeywords h3 a:visited, 
.teaserKeywords h3 a:active {
	margin-right: 3px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	}

.teaser h3 a:link,.teaserKeywords h3 a:link, .teaserText h3 a:active,.teaserText h3 a:visited { display: block; }

.teaser h3 a:hover,
.teaserKeywords h3 a:hover,
#contentLeft .teaserText h3 a:hover { text-decoration: underline; }

.teaser p,
.teaserKeywords p {
	margin: 0 3px 0 3px;
	}

.imu .teaserText {
	width: 260px;	
	}

.small, .smallLast {
	width: 190px;
	float: left;
	margin-right: 3px;
	min-height: 155px;
	}
	
.smallLast { margin-right: 0px;	}

#contentLeft .kop {
	border-left: none;
	border-right: none;
	clear: both;
    }
#contentLeft .kop {	
	margin-bottom: 0;
	margin-top: 0;
	background: #AC090B url("http://levif.rnews.be/images/bg_teasertitle.gif") repeat-x 0px 0px;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;	
	border-bottom: 1px none #CCC;
	border-top: 1px solid #CCC;
	}
#contentLeft .kop h2 {
	font-size: 1.8em;
	padding: 0px 3px 2px;
	margin: 0;
	}

#contentLeft .kop h2 a:link,
#contentLeft .kop h2 a:hover,
#contentLeft .kop h2 a:visited,
#contentLeft .kop h2 a:active { 
    font-size: .7em;
    color: #fff;
    text-decoration: none;
    }


#contentLeft div.beweb iframe {
	width: 385px;
	height: 149px;
	}

#proContra #pollbuttons {
	float: right;
	margin-right:3px;
	margin-bottom: 5px
	}	
	
#proContra form { margin: 0; }

#proContra p { 
	display:inline;
	}
	
#proContra p.pollvraag { 
	display:block; 
	float: none;
	}

.teaserText p a:link,
.teaserText p a:visited,
.teaserText p a:active,
.teaserText p a:hover {
	font-weight: normal;
	color: #000;
	text-decoration: none;
	}

span.update {
	background: #FFF;
	font-size: 11px;
	margin-right:5px;
	padding:1px 4px;
	color: #43BEF1;
	text-transform: uppercase;
	float: right;
	border: 1px solid #43BEF1;
}

/* -------------------------------------------------------- Lists with scrollbar */
#contentRight .teaser {
	background: #FFF;
	width: 100%;
	margin: 3px 0px;
	}

#contentRight .teaserImage {
	margin: 0;
	}

#contentRight h2,
#az h2 {
	background: #AC090B url("http://levif.rnews.be/images/bg_teasertitle.gif") repeat-x 0 0;
	color: #FFF;
	text-transform: uppercase;
	font-size: 1.2em;
	margin-top: 0;
	margin-bottom: 3px;
	border: 0;
	padding: 3px 0 3px 3px;
	font-weight: bold;
	height: 1%;
	}

#contentRight h2 a {
	color: #FFF;
	text-decoration: none;
	}

#contentRight #easyJobs h2 {
	background: #AC090B url("http://levif.rnews.be/images/bg_easyjobs.gif") no-repeat 0px 0px;
	}

#contentRight #nonStopNieuws { margin-top: 0; }

#contentRight #vandaag .teaserText,
#contentRight #beeldreportages .teaserText,
#contentRight #dossiers .teaserText,
#contentRight #kanaalz .teaserText {
	width: 210px;
	margin-top: 0;
	float: left;
	}

#contentRight #vandaag .teaserImage,
#contentRight #beeldreportages .teaserImage,
#contentRight #dossiers .teaserImage {
	float: left;
	margin-bottom: 3px;
	}

#contentRight #vandaag .teaserImage img,
#contentRight #beeldreportages .teaserImage img,
#contentRight #dossiers .teaserImage img,
.window .teaser img {
	border: 1px solid #615F5F;
	margin-right: 0px;
	float: left;	
	}
	
.window .teaser img {
    margin-right: 3px;
    }

#contentRight #vandaag .teaserText h3,
#contentRight #beeldreportages .teaserText h3,
#contentRight #dossiers .teaserText h3,
#contentRight #vandaag .teaserText h3 a,
#contentRight #beeldreportages .teaserText h3 a,
#contentRight #dossiers .teaserText h3 a {
	font-size: 1.1em;
	color: #797979;
	margin: 0 0 0 2px;
	text-decoration: none;
	}

.window .teaser h3 {
    font-size: 1.1em;
}

#contentRight .kanaal h3 a,
.window .teaser h3 a {
	font-size: 1.1em;
	color: #000000;
	margin: 0 0 0 2px;
	text-decoration: none;
	}

#contentRight .kanaal h3 a:hover,
.window .teaser h3 a:hover {
	text-decoration: underline;
	}
    
#contentRight #dossiers p.more,
#contentRight #beeldreportages p.more {
	text-align: center;
	margin: 5px 0 0;
	padding: 0;
	}

#contentRight #beeldreportages p.more {
	margin: 0 3px 0 0;
	}
	
#contentRight .news { 
	overflow: auto; 
	height: 15em;
	background-color: #FFF; 
	}
	
#contentRight div ul { 
	overflow: visible; 
	height: auto;
	}

#contentRight ul { 
	background: transparent url("http://levif.rnews.be/images/dotted-line.gif") repeat-x bottom left; 
	padding: 0 0 1px 0; 
	margin: 0; 
	}

#dezeweekinknack { overflow: hidden; }

#contentRight #easyJobs ul,
#dezeweekinknack ul {
	background: none;
	margin-bottom: 0;
	margin-top: 0;
	}

#dezeweekinknack ul {
	width: 232px;
	float: left;
	}

#dezeweekinknack img {
	float: left;
	margin-bottom: 3px;
	margin-left: 3px;
	}

#contentRight #nonStopNieuws ul li,
#contentRight #geldBeurs ul li,
#contentRight #znews ul li,
#contentRight #forum ul li { 
	background: url("http://levif.rnews.be/images/icon_belga.gif") no-repeat top left;
	padding-left: 0;
	}

#easyJobs ul li,
#dezeweekinknack ul li { 
	background: #FFF url("http://levif.rnews.be/images/teaser_arrow.gif") no-repeat 2px left;
	min-height: 10px;
	margin-left: 3px;
	margin-right: 3px;
	}

#contentRight #nonStopNieuws ul li a:link,
#contentRight #geldBeurs ul li a:link,
#contentRight #nonStopNieuws ul li a:visited,
#contentRight #geldBeurs ul li a:visited,
#contentRight #znews ul li a:link,
#contentRight #znews ul li a:visited,
#contentRight #forum ul li a:link,
#contentRight #forum ul li a:visited,
#contentLeft #mostread ul li a:link,
#contentLeft #mostread ul li a:visited{ 
	color: #000; 
	display: block; 
	padding: 5px 5px 0 3px; 
	font-weight: normal; 
	text-decoration: none;
	}
	
#contentRight #easyJobs ul li a:link,
#contentRight #easyJobs ul li a:visited,
#dezeweekinknack ul li a:link,
#dezeweekinknack ul li a:visited { 
	color: #000; 
	display: block; 
	padding: 0; 
	text-decoration: none;
	margin-bottom: 2px;
	background: none;
	}
	
#contentRight .controls {
	margin: 3px auto;
    text-align: center;
	height: 18px;
	clear: both;
	}

#contentRight #koersen {
	background: #FFF;
	width: 100%;
	margin: 5px 0px;
	cursor: pointer;
	}

#contentRight #koersen table {width: 100%;}

#contentRight #koersen table td {padding-right: 3px;}

#contentRight #proContra p{
	padding: 3px;
	margin: 0;
	}
#contentRight .kanaal ul {
	background: none;
	margin-left: 3px;
	margin-top: 5px;
	}

#contentRight .kanaal h3 {
	font-size: 1.2em;
	}
#contentRight .teaserText {
	margin-top: 0;
	}
#contentRight .teaserImage {
	margin-right: 3px;
	}
#contentRight #forum ul {
	margin: 3px;
}
#contentRight #forum ul li a:link,
#contentRight #forum ul li a:active,
#contentRight #forum ul li a:visited,
#contentRight #forum ul li a:hover {
	padding-left: 20px;
	background: url("http://levif.rnews.be/images/icon_belga_grey.gif") no-repeat 0px 0px  !important;
	/*height: 18px;*/
	}

#contentRight #forum h2,
#contentLeft #mostread h2 {
	background: #AC090B url("http://levif.rnews.be/images/bg_teasertitle.gif") repeat-x 0px 0px;
	font-size: 1.2em;
	padding: 3px 2px 2px;
	margin: 0 0 3px;
	color: #fff
	}
	
#contentLeft #vlanwoningen h2 {
	background: #AC090B url("http://levif.rnews.be/images/bg_vlanwoningen.gif") repeat-x;
	background-position:right;
	font-size: 1.2em;
	padding: 3px 2px 2px;
	margin: 0 0 3px;
	color: #ffffff;
}

#contentRight #forum h2 a,
#contentLeft #mostread h2 a{
    color: #ffffff;
	}
#contentLeft #mostread ol {
	padding-left: 30px;
	margin: 0;
	}
#contentLeft #mostread ol li { 
	background: none; 
	list-style: decimal outside; 
	padding-left: 0; 
	}
#contentLeft #mostread ol li a { 
	margin-left: 0; 
	padding-left: 0;
	background: none;
	}
.flashad {
	text-align: center;
	margin-bottom: 3px;
}


/* Kanaal Z */
#contentRight #kanaalz.teaser { padding-bottom: 0; background: #E5E5E5 url("http://levif.rnews.be/images/bg_video.gif") repeat-x 0 0 }
#contentRight #kanaalz.teaser #page1,
#contentRight #kanaalz.teaser #page2,
#contentRight #kanaalz.teaser #page3 { /*min-height: 200px; height: 200px;*/ }
#contentRight #kanaalz .controls a:hover {
	text-decoration: none;
}
#contentRight #kanaalz .teaserImage,
#contentRight #kanaalz .teaserImageRight { float: left; position: relative; width: 80px; height: 64px; margin-bottom: 3px; overflow: hidden; }
#contentRight #kanaalz .teaserImage .play,
#contentRight #kanaalz .teaserImageRight .play { 
	position: absolute; 
	width: 15px; 
	height: 15px; 
	overflow: hidden; 
	right: 2px; 
	top: 2px;
	background: url("http://levif.rnews.be/images/play_video.gif") no-repeat 0 0;
}
#contentRight #kanaalz .teaserText { float: right; width: 210px; }
#contentRight #kanaalz .teaserText img { display: none; }
#contentRight #kanaalz .teaserText p { 
	font-size: 1.3em;
	padding-top: 3px;
	background: url("http://levif.rnews.be/images/icon_belga.gif") no-repeat top left; 
}
#contentRight #kanaalz .teaserText p a { font-weight: bold; font-size: 1.1em; }
#contentRight #kanaalz .controls {
	text-align: center;
	word-spacing: 10px;
	clear: both;
	padding-bottom: 3px;
	padding-top: 3px;
	width: 100%;
	font-size: 1.1em;
	background: #EEE;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}
#contentRight #kanaalz .controls img { float: none; }

/*vif-club homepage*/
#vifclubhomepage p {
	line-height: 1.5em;
}

#vifclubhomepage h2 {
	background: #666666;
	padding: 0 0 2px;
	color: #FFFFFF;
	font: bold 14px Arial, Verdana, Helvetica, sans-serif;
	text-indent: 10px;
	letter-spacing: 0.2em;
	margin-top: 10px;
	border-bottom: 0;
}

.buitenkansje {
	background-color: #eeeeee;
	margin-bottom: 0;
	padding-bottom: 5px;
	position: relative;
}

.buitenkansje img {
	position: relative;
}

.buitenkansje img,
#vifclubhomepage .panel img {
	padding-right: 10px;
}

.buitenkansje h3 {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.buitenkansje p{
	color: #000000;
	font-size: 11px;
	margin: 5px 9px;
	padding: 0;
	text-decoration: none;
}

#vifclubhomepage .panel {
	height: 1%;
	overflow: visible;
	width: 316px;
}

#vifclubhomepage .panel {
	border: 1px solid #CCCCCC;
	float: left;
	voice-family: inherit;
	width: 316px;
	padding: 5px;
}

#avdw1, #avdw3, #avdw5, #avdw7, #avdw9 {
	margin-right: 10px;
}

#vifclubhomepage .panel h3 {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #000000;
}

#vifclubhomepage .panel p {
	font-size: 11px;
}

#vifclubhomepage .panel {
	margin-top: 10px;
}

#contentRight #weerbericht div.weather_day {
	width: 140px;
	margin-left: 5px;
	float: left;
}
#contentRight #weerbericht div.weather_day h5 { 
	margin: 0; 
	color: #333; 
	font-size: 1.1em; 
	padding: 0 2px 2px; 
	margin-right: 5px;
	border-bottom: 1px solid #EEE;
}
#contentRight #weerbericht div.weather_day img.weather_icon {
	float: left;
	margin: 0 5px 0 0;
}
#contentRight #weerbericht div.weather_day div.weather_location{
	width: 75px;
	display: block;
	float: left;
	font-size: 1.2em;
	margin: 10px 0 0;
	font-weight: bold;
}
#contentRight #weerbericht div.weather_day div.weather_temp{
	width: 75px;
	display: block;
	float: left;
	font-size: 1.3em;
	font-weight: bold;
	color: #666;
	margin: 4px 0 0;
}
#contentRight #weerbericht p { 
	clear: both;
	padding-left: 15px;
	background: #FFF url("http://levif.rnews.be/images/teaser_arrow.gif") no-repeat 0 0;
	margin: 5px;
}

#contentRight #weerbericht p a { color: #AC090B; text-decoration: none; }
#contentRight #weerbericht p a:hover { text-decoration: underline; }

.teaser span.reactions a:link,
.teaser span.reactions a:visited,
.teaser span.reactions a:active,
.teaser span.reactions{
	float: right;
	font-weight: normal;
	color: #666;
	text-decoration: underline;
	font-size: 1.2em;
	line-height: 1.2em;
	margin-right: 3px;
	cursor: pointer;
}

.teaser span.reactions a:hover { 
    text-decoration: none; 
}

.teaser span.reactions {
    padding: 5px;
}