#makrarchief div.teaser {
	border-style:none none solid;
	height:100px;
	padding-bottom:5px;
}

#makrarchief .teaser{
	border-color:-moz-use-text-color -moz-use-text-color #CCCCCC;
	border-style:none none solid;
	border-width:medium medium 1px;
}

#makrarchief p {
	margin-bottom: 40px;
}

#makrarchief .teaser h3 {
	color:#AC090B;
	font-size:1.2em;
}

#makrarchief .teaser h3 a {
	color:#AC090B;
	font-size:1.2em;
}

#makrarchief .teaser p {
	margin:0pt 0pt 1em;
	padding:0pt;
	font-weight: normal;
}



#makrarchief div.article {
	font-size: 11px;
}

#makrarchief .article h1,
#makrarchief .article h2,
#makrarchief .article h3,
#makrarchief .article h4{
	border: none;
	text-decoration: bold;
	font-size: 12px;
	margin: 15px 5px 15px 5px;
}

#makrarchief .article p {
	font-size: 12px;
	margin: 15px 5px 15px 5px;
}