table #rcRightContextTable{
	border-collapse:collapse;
}
.rcMenuContainer {
    font-family: Verdana, Arial;
    position: absolute;
    border: 1px solid #902015;
    background: #ffffff;
    padding:2px;
    z-index:10;
    width:200px;
    border-collapse:collapse; 
}

/*
* + html .rcMenuContainer {
    width:100px;
}
*/

.rcMenuItem {
    font-size:11px;
    font-weight:normal;
    padding:3px;
    text-decoration:none;
    color:#333333;
    background-color:#ffffff;
   border-width:0 0 1px 0;
    border-style:dotted;
    border-color:#333333;
}
.rcMenuItem a:hover{
    font-size:11px;
    font-weight:normal;
    padding:3px;
    text-decoration:none;
    background-color:#ffffff;
    color:#902015;
    border-width:0 0 1px 0;
    border-style:dotted;
    border-color:#333333;
}
.rcMenuItemHover {
    font-size:11px;
    font-weight:normal;
    padding:3px;
    text-decoration:none;
    background-color:#ffffff;
    color:#902015;
    border-width:0 0 1px 0;
    border-style:dotted;
    border-color:#333333;
}
.rcMenuItemText {
    font-size:1.2em;
    font-weight:bold;
    border:0px;
    padding:4px;
    color:#ffffff;
    border: 0px solid #FFFFFF;
    background: #902015;
    text-align:center;
}
.rcMenuItemTextExt {
    font-size:11px;
    font-weight:normal;
    border:1px dotted #ffffff;
    padding:2px;
} 
.rcMenuSeparator{
    color:#7e7e7e;
    height:1px;
    width:200px;
}
.rcImage {
	padding-right:4px; 
}


/* 

.rcMenuContainer {
    font-family: Verdana, Arial;
    position: absolute;
    border: 1px solid #7e7e7e;
    background: #EAE8E3;
    padding:2px;
    z-index:10;
    width:200px;
}
.rcMenuItem {
    font-size:11px;
    font-weight:normal;
    padding:3px;
    text-decoration:none;
    text-decoration:underline;
    color:#333333;
    background-color:#cccccc;
    border:1px solid #7E7E7E;
}
.rcMenuItemHover {
    font-size:11px;
    font-weight:normal;
    padding:3px;
    text-decoration:underline;
    background-color:#C7D5FE;
    color:#333333;
    border:1px solid #7E7E7E;
}
.rcMenuItemText {
    font-size:130%;
    font-weight:bold;
    border:0px;
    padding:2px;
    color:#FFFFFF;
    border: 0px solid #FFFFFF;
    background: #7e7e7e;
    text-align:center;
}
.rcMenuItemTextExt {
    font-size:11px;
    font-weight:normal;
    border:1px dotted grey;
    padding:2px;
} 
.rcMenuSeparator{
    color:#7e7e7e;
    height:1px;
    width:200px;
}
.rcImage {
	padding-right:4px; 
}

*/