/*********************************************************************************************************************/
/***********************************                  FEUILLE DE STYLE SPECIFIQUE -- HOME                *************/
/*********************************************************************************************************************/
/*******************************************************************************/
/**********     GENERAL     ****************************************************/
/*******************************************************************************/
body {
	background-color : #902015;
	background-image : url(fond.gif);
	background-repeat : no-repeat;
	background-position : 964px top;
	width : 236px;
	height : auto;
}
h1, h2, h3, h4, h5, h6 {
	color : #902015;
}


/*******************************************************************************/
/**********     DIVERS     *****************************************************/
/*******************************************************************************/
#conteneur {
	background-color : #ffffff;
	color : #000000;
}
#haut {
	background-image : url(fd_gauche.jpg);
} 
#haut_haut_gauche{
	background-color : #902015;
}
#milieu {
	background-color : #ffffff;
	padding : 10px 0 0 0;
} 
.milieu_gauche_fd{
	background-image : url(fd_gauche_ombre2.jpg);
	background-position  :213px top;
}
#milieu_milieu{
	margin : 0 20px 0 0 !important;
	margin : 0 27px 0 0;
}
#menu_haut li a:hover{
	color : #ffffff;
}


/*******************************************************************************/
/**********     TITRES     *****************************************************/
/*******************************************************************************/
.haut_bas_titre h1{
	color:#902015;
}
.milieu_milieu_contenu  h1.inter{
	background-image:url(barre_h1.gif);
}
.milieu_milieu_contenu  h2.inter{
	background-color:#902015;
}
h2.fond_titre {
	background-color: #902015;
	color : #FFFFFF;
}


/*******************************************************************************/
/**********     TITRES AVEC ICONES     *****************************************/
/*******************************************************************************/
h1.icone_webtv, h2.icone_webtv , h3.icone_webtv  {
	background-image : url(icone_webtv.gif);
}
h1.icone_zoom, h2.icone_zoom, h3.icone_zoom {
	background-image : url(icone_zoom.gif);
}
h1.icone_video, h2.icone_video, h3.icone_video {
	background-image : url(icone_video.gif);
}
h1.icone_verrouille, h2.icone_verrouille, h3.icone_verrouille {
	background-image : url(icone_verrouille.gif);
}
h1.icone_telechargement02, h2.icone_telechargement02, h3.icone_telechargement02 {
	background-image : url(icone_telechargement02.gif);
}
h1.icone_telechargement01, h2.icone_telechargement01, h3.icone_telechargement01 {
	background-image : url(icone_telechargement01.gif);
}
h1.icone_statistiques, h2.icone_statistiques, h3.icone_statistiques {
	background-image : url(icone_statistiques.gif);
}
h1.icone_salledepresse, h2.icone_salledepresse, h3.icone_salledepresse {
	background-image : url(icone_salledepresse.gif);
}
h1.icone_retouralaracine, h2.icone_retouralaracine, h3.icone_retouralaracine {
	background-image : url(icone_retouralaracine.gif);
}
h1.icone_reglagles, h2.icone_reglagles, h3.icone_reglagles {
	background-image : url(icone_reglagles.gif);
}
h1.icone_radio, h2.icone_radio, h2.icone_radio {
	background-image : url(icone_radio.gif);
}
h1.icone_presdechezvous, h2.icone_presdechezvous, h3.icone_presdechezvous {
	background-image : url(icone_presdechezvous.gif);
}
h1.icone_plandusite, h2.icone_plandusite, h3.icone_plandusite {
	background-image : url(icone_plandusite.gif);
}
h1.icone_photos, h2.icone_photos , h3.icone_photos {
	background-image : url(icone_photos.gif);
}
h1.icone_musique, h2.icone_musique, h3.icone_musique {
	background-image : url(icone_musique.gif);
}
h1.icone_motdupresident, h2.icone_motdupresident, h3.icone_motdupresident {
	background-image : url(icone_motdupresident.gif);
}
h1.icone_mauvaisespratiques, h2.icone_mauvaisespratiques, h3.icone_mauvaisespratiques {
	background-image : url(icone_mauvaisespratiques.gif);
}
h1.icone_loisirs02, h2.icone_loisirs02, h3.icone_loisirs02 {
	background-image : url(icone_loisirs02.gif);
}
h1.icone_loisirs01, h2.icone_loisirs01, h3.icone_loisirs01 {
	background-image : url(icone_loisirs01.gif);
}
h1.icone_jeuxmultimedia, h2.icone_jeuxmultimedia, h3.icone_jeuxmultimedia {
	background-image : url(icone_jeuxmultimedia.gif);
}
h1.icone_jeuxmultimedia, h2.icone_jeuxmultimedia, h3.icone_jeuxmultimedia {
	background-image : url(icone_jeuxmultimedia.gif);
}
h1.icone_liensutiles, h2.icone_liensutiles, h3.icone_liensutiles {
	background-image : url(icone_liensutiles.gif);
}
h1.icone_jeuxconcours, h2.icone_jeuxconcours, h3.icone_jeuxconcours {
	background-image : url(icone_jeuxconcours.gif);
}
h1.icone_infosetservices, h2.icone_infosetservices, h3.icone_infosetservices {
	background-image : url(icone_infosetservices.gif);
}
h1.icone_imprimer, h2.icone_imprimer, h3.icone_imprimer {
	background-image : url(icone_imprimer.gif);
}
h1.icone_formulaire, h2.icone_formulaire, h3.icone_formulaire {
	background-image : url(icone_formulaire.gif);
}
h1.icone_fluxrss, h2.icone_fluxrss, h3.icone_fluxrss {
	background-image : url(icone_fluxrss.gif);
}
h1.icone_deverrouille, h2.icone_deverrouille, h3.icone_deverrouille {
	background-image : url(icone_deverrouille.gif);
}
h1.icone_etaussi, h2.icone_etaussi, h3.icone_etaussi {
	background-image : url(icone_etaussi.gif);
}
h1.icone_dossiers, h2.icone_dossiers, h3.icone_dossiers {
	background-image : url(icone_dossiers.gif);
}
h1.icone_document, h2.icone_document, h3.icone_document {
	background-image : url(icone_document.gif);
}
h1.icone_discussion, h2.icone_discussion, h3.icone_discussion {
	background-image : url(icone_discussion.gif);
}
h1.icone_deposer, h2.icone_deposer , h3.icone_deposer  {
	background-image : url(icone_deposer.gif);
}
h1.icone_courriel, h2.icone_courriel, h3.icone_courriel {
	background-image : url(icone_courriel.gif);
}
h1.icone_corbeille, h2.icone_corbeille, h3.icone_corbeille {
	background-image : url(icone_corbeille.gif);
}
h1.icone_coordonnees, h2.icone_coordonnees, h3.icone_coordonnees {
	background-image : url(icone_coordonnees.gif);
}
h1.icone_accessibilite, h2.icone_accessibilite, h3.icone_accessibilite {
	background-image : url(icone_accessibilite.gif);
}
h1.icone_accesdirect, h2.icone_accesdirect, h3.icone_accesdirect {
	background-image : url(icone_accesdirect.gif);
}
h1.icone_agenda, h2.icone_agenda, h3.icone_agenda {
	background-image : url(icone_agenda.gif);
}
h1.icone_alaffiche, h2.icone_alaffiche, h3.icone_alaffiche {
	background-image : url(icone_alaffiche.gif);
}
h1.icone_alaune, h2.icone_alaune, h3.icone_alaune {
	background-image : url(icone_alaune.gif);
}
h1.icone_audio, h2.icone_audio, h3.icone_audio {
	background-image : url(icone_audio.gif);
}
h1.icone_avoiraussi, h2.icone_avoiraussi, h3.icone_avoiraussi {
	background-image : url(icone_avoiraussi.gif);
}
h1.icone_bonnespratiques, h2.icone_bonnespratiques, h3.icone_bonnespratiques {
	background-image : url(icone_bonnespratiques.gif);
}
h1.icone_breves, h2.icone_breves, h3.icone_breves {
	background-image : url(icone_breves.gif);
}
h1.icone_chiffrescles, h2.icone_chiffrescles, h3.icone_chiffrescles {
	background-image : url(icone_chiffrescles.gif);
}
h1.icone_commande, h2.icone_commande, h3.icone_commande {
	background-image : url(icone_commande.gif);
}
h1.icone_contact, h2.icone_contact, h3.icone_contact {
	background-image : url(icone_contact.gif);
}
h1.icone_infosmisenvaleur, h2.icone_infosmisenvaleur, h3.icone_infosmisenvaleur {
	background-image : url(icone_infosmisenvaleur.gif);
}
h1.icone_geolocalisation, h2.icone_geolocalisation, h3.icone_geolocalisation {
	background-image : url(icone_geolocalisation.gif);
}