/*********************************************************************************************************************/
/***********************************                  HABILLAGE                ***************************************/
/*********************************************************************************************************************/
/*******************************************************************************/
/**********     GENERAL     ****************************************************/
/*******************************************************************************/
body {
	background-color : #FFFFFF;
	background-image : none;
}
html {
	margin : 0;
	padding : 0;
	height: 100%;
}
body {
	margin : 0;
	padding : 0;
	height: 100%;

}
#conteneur {
	background-color : #FFFFFF;
	color : #000000;
	background-image:none;
}

#haut {
	background-color : #FFFFFF;
} 
#haut_haut_gauche {
	background-color : #FFFFFF;
}
#bandeau_impression {
	display : block;
	float : none;
	position : relative;
	height : 180px;
}
*+html #bandeau_impression {
	display : block;
	position : relative;
	width : 500px;
}
* html #bandeau_impression {
	display : block;
	position : relative;
	width : 500px;
}
#haut_bas_logo {
	display : none;
}
#conteneur {
	float : left;
	position : relative;
	display : block;
	margin : 0;
	padding : 0;
	width : 600px;
	text-align : left;
	background-color : #ffffff;
	color : #000000;
	height : 100%;
}

* html #conteneur {
float:none;
}

#haut {
	float:none;
	position:relative;
	display:block;
	margin : 0;
	padding : 0;
	width : 600px;
	background:none;
} 
#haut_haut{
	display:none;
}
#haut_milieu{
	display:none;
}
#haut_bas{
	float:none;
	position:relative;
	display:block;
	margin : 0;
	padding : 0;
	z-index : 1;
	width : 600px;
}
#haut_bas_fond{
	display:none;
}
* html #haut_bas_fond{
	display:none;
}
*+ html #haut_bas_fond{
	display:none;
}
#haut_bas_titre{
	float:none;
	position:relative;
	display:block;
	width:500px;
	height: 30px;
	margin : 0;
	padding : 0;
	z-index : 100;
	text-align : left;
	background:none;
}
*+html #haut_bas_titre{
	float:left;
	position:relative;
	display:block;
	margin:0 100px 0 0;
	padding:0 100px 0 0;
}
* html #haut_bas_titre{
	position:relative;
	display:block;
	margin:0 100px 0 0;
	padding:0 100px 0 0;
}
#milieu {
	float : none;
	display:block;
	margin : 0;
	padding : 0;
	width : 600px;
	background-color : #ffffff;
	background-image : url(fd_gauche.jpg);
	background-repeat : repeat-y;
} 

/*******************************************************************************/
/**********     HAUT PIED DE PAGE  *********************************************/
/*******************************************************************************/
#pied_page{
	margin : 0;
	padding : 0;
	float : left;
}

* html #pied_page{
float:none;
}

#pied_page li{
	margin : 4px 0 4px 0;
	padding : 0;
	float : left;
	list-style-type : none;
}

* html #pied_page li{
float:none;
}

#pied_page li a{
	float : left;
	padding : 0 8px 0 17px !important;
	padding : 0 8px 0 14px;
}

* html #pied_page li a{
float:none;
}

/*******************************************************************************/
/**********     MILIEU  ********************************************************/
/*******************************************************************************/
/*****************************************/
/**********     COLONNE GAUCHE  **********/
/*****************************************/
#milieu_gauche{
	display:none;
}
.titre_nonvisible {
	display : none;
}
.titre_nonvisible h1 {
	display : none;
}

/*****************************************/
/**********     TEMPLATE 2 COLS  *********/
/*****************************************/
#milieu_milieu{
	float:left;
	position:relative;
	display:block;
	margin : 0;
	padding : 0;
	width : 380px !important;
	width : 380px;
	background:none;
	background-color:#FFFFFF;
}

* html #milieu_milieu{
float:none;
}

#milieu_milieu #milieu_milieu_fil_arianne{
	margin : 30px 0 35px 0;
	padding : 0;
	

}
#milieu_milieu #milieu_milieu_fil_arianne ul{
	display:inline;
	margin : 0;
	padding : 0;
	max-width:380px;
	color:#000000;
}
#milieu_milieu #milieu_milieu_fil_arianne li{
	display:inline;
	margin :0;
	padding :0;
	font-weight : normal;
	list-style-type : none;
	font-size : 0.85em;
	color:#000000;
}
#milieu_milieu #milieu_milieu_fil_arianne li a, a:link, a:hover{
	margin : 0;
	padding : 0;
	font-weight : normal;
	color : #000000;
	max-width:380px;
}
#milieu_milieu .milieu_milieu_liens{
	float : none;
	display:none;
	position:relative;
	float : left;
	width : 380px;
	margin : 0 0 15px 0;
	padding : 0;
}

* html #milieu_milieu .milieu_milieu_liens{
float:none;
}

#milieu_milieu .milieu_milieu_contenu_une{
	margin : 0 0 15px 0;
	padding : 0;
	float : left;
	max-width:380px;
}

* html #milieu_milieu .milieu_milieu_contenu_une{
float:none;
}

#milieu_milieu .milieu_milieu_contenu{
	margin : 0 0 0 0;
	padding : 10px 0 10px 0;
	text-align:left;
	clear:both;
	width : 380px;
	color:#000000;
	background-color:#FFFFFF;
}

#milieu_milieu .milieu_milieu_contenu img{
	max-width:380px;
}
#milieu_milieu .milieu_milieu_contenu h1{
	display:block;
	text-align:left;
	max-width:380px;
	padding:0;
	margin:5px 0 15px 0;
}
#milieu_milieu .milieu_milieu_contenu h1.inter{
	display:block;
	position:relative;
	max-width:380px;
	padding:0;
	margin:0;
	text-align:left;
}
#h2{
	max-width:380px;
	padding:0;
	margin:0;
	color: #000;
	background-color:#FFFFFF;
}
.milieu_milieu_contenu  h2.inter{
	background-color : #FFFFFF;
}
h2.fond_titre {
	background-color : #FFFFFF;
	color : #000;
}

h3.icone_accesdirect,  h2.icone_accesdirect {
	display : none;
}

.milieu_milieu_contenu  h1.inter{
	background-image : none;
}
#milieu_milieu .milieu_milieu_contenu p{
	position:relative;
	display:block;
	width:380px;
	max-width:380px;
	padding:0;
	margin:0;
}

#milieu_milieu .milieu_milieu_contenu table{
	float : left;
	max-width:380px;
}

* html #milieu_milieu .milieu_milieu_contenu table{
	float : none;
}

#milieu_milieu .milieu_milieu_contenu_actu{
	margin : 0 0 15px 0;
	padding : 0;
	float : left;
	max-width:380px;
}

* html #milieu_milieu .milieu_milieu_contenu_actu{
	float : none;
}


#milieu_milieu .milieu_milieu_contenu_contenu{
	margin : 0 0 10px 0;
	padding : 0;
	float : left;
	max-width:380px;
}
#milieu_milieu .milieu_milieu_contenu ul, .milieu_milieu_contenu ol{
	display:block;
	color:#000000;
	margin : 0;
	padding : 0;
	max-width:380px;
	background-color:#FFFFFF;
}
#milieu_milieu .milieu_milieu_contenu_actu ul li, .milieu_milieu_contenu ul li, .milieu_milieu_contenu ol li{
	display:block;
	color:#000000;
	margin : 0 0 0 20px;
	padding : 0 0 0 20px;
	max-width:380px;
}
#milieu_milieu .milieu_milieu_contenu table{
	margin : 0;
	padding : 0;
}
#milieu_milieu .milieu_milieu_contenu tr{
	margin : 0;
	padding : 0;
}
#milieu_milieu .milieu_milieu_contenu tr.active{
	margin : 0;
	padding : 0;
	background-color : #669933;
}
#milieu_milieu .milieu_milieu_contenu tr.fd_gris{
	background-color : #eeeeee;
}
#milieu_milieu .milieu_milieu_contenu td{
	margin : 0;
	padding : 0 5px 0px 5px;
	font-size : 0.9em;
}
#milieu_milieu .milieu_milieu_contenu td p{
	margin : 0;
	padding : 5px 0;
}

#milieu_milieu .milieu_milieu_contenu h2.icone_etaussi {
	float:none;
}



/*****************************************/
/**********     TEMPLATE 1 COLS  *********/
/*****************************************/
#milieu_milieu_large {
	float : none;
	position:relative;
	display:block;
	margin : 0;
	padding : 0px;
	width : 600px;
	background-color : #ffffff;
}
#milieu_milieu_large #milieu_milieu_fil_arianne{
	display:block;
	margin : 0;
	padding : 20px 0 15px 0;
	width:450px;
}
#milieu_milieu_large #milieu_milieu_fil_arianne ul{
	float : none;
	position:relative;
	display:block;
	margin : 20px 10px 20px 10px;
	padding : 20px 10px 20px 10px;
}
#milieu_milieu_large #milieu_milieu_fil_arianne li{
	float : none;
	position:relative;
	display:block;
	margin : 0;
	padding : 0;
	font-weight : normal;
	list-style-type : none;
	font-size : 0.85em;
}
#milieu_milieu_large #milieu_milieu_fil_arianne li a{
	margin : 0;
	padding : 0;
	font-weight : normal;
}
#milieu_milieu_large #milieu_milieu_fil_arianne li a:hover{
	font-weight : normal;
	color : #000000;
}
#milieu_milieu_large .milieu_milieu_liens{
	display:none;
	float : none;
	position:relative;
	margin : 0;
	padding : 0;
	width : 200px;
}
#milieu_milieu_large .milieu_milieu_liens img{
	margin : 0;
	padding : 0 0 0 10px;
	display:none;
	float : none;
	position:relative;
	width : 200px;
}
#milieu_milieu_large .milieu_milieu_contenu_une{
	margin : 0 0 15px 0;
	display:none;
	float : none;
	position:relative;
	padding : 0;
	width : 200px;
}
#milieu_milieu_large .milieu_milieu_contenu{
	margin : 0 0 15px 0;
	padding : 0;
	float : left;
	width : 100%;
}

* html #milieu_milieu_large .milieu_milieu_contenu{
	float : left;
}


#milieu_milieu_large .milieu_milieu_contenu_actu{
	margin : 0 0 15px 0;
	display:none;
	float : none;
	position:relative;
	padding : 0;
	width : 200px;
}
#milieu_milieu_large .milieu_milieu_contenu_contenu{
	margin : 0 0 10px 0;
	display:none;
	float : none;
	position:relative;
	padding : 0;
	width : 200px;
}

#milieu_milieu_large .milieu_milieu_contenu ul, .milieu_milieu_contenu ol{
	padding:10px;
	margin : 0 0 0 20px;
	display:block;
	float : none;
	position:relative;
	padding : 0;
	max-width:380px;
	text-align:left;
}
#milieu_milieu_large .milieu_milieu_contenu ol li{
	margin : 0 0 0px 15px;
	padding : 0 0 3px 0;
	list-style-type : none;
	background-image : none;
	list-style-type : circle;
}
/*
#milieu_milieu_large .milieu_milieu_contenu_actu ul li, .milieu_milieu_contenu ul li{
	margin : 0;
	padding : 0 0 3px 13px;
	list-style-type : none;
	background-image : url(../images/icones/puce_ronde.gif);
	background-repeat : no-repeat;
	background-position : left 4px;
	display:none;
	float : none;
	position:relative;
	width : 200px;
}*/
#milieu_milieu_large .milieu_milieu_contenu_actu ul li li, .milieu_milieu_contenu ul li li{
	margin : 0 0 0px 15px;
	padding : 0 0 3px 0;
	list-style-type : none;
	background-image : none;
	list-style-type : circle;
}
#milieu_milieu_large .milieu_milieu_contenu_actu ol li, .milieu_milieu_contenu ol li{
	display:block;
	float : left;
	position:relative;
	margin : 0;
	padding : 0 0 3px 0;
	background-image : none;
	list-style-type : decimal;
}
#milieu_milieu_large .milieu_milieu_contenu_actu ol li li, .milieu_milieu_contenu ol li li{
	margin : 0 0 0 15px;
	padding : 0 0 3px 0px;
	background-image : none;
	list-style-type : lower-alpha;
}
#milieu_milieu_large .milieu_milieu_contenu table{
	display:none;
	float : none;
	position:relative;
	margin : 0;
	padding : 0;
	width : 200px;
}
#milieu_milieu_large .milieu_milieu_contenu tr{
	display:none;
	float : none;
	position:relative;
	margin : 0;
	padding : 0;
	width : 200px;
}
#milieu_milieu_large .milieu_milieu_contenu tr.active{
	display:none;
	float : none;
	position:relative;
	margin : 0;
	padding : 0;
	width : 200px;
	background-color : #669933;
}
#milieu_milieu_large .milieu_milieu_contenu tr.fd_gris{
	background-color : #eeeeee;
}
#milieu_milieu_large .milieu_milieu_contenu td{
	margin : 0;
	padding : 7px 5px 7px 5px;
	font-weight : bold;
	font-size : 0.9em;
	display:none;
	float : none;
	position:relative;
	width : 200px;
}


/*******************************************************************************/
/**********     COLONNE DROITE  ************************************************/
/*******************************************************************************/
#milieu_droite{
	float:right;
	display:inline;
	margin : 0;
	padding : 0;
	width : 180px !important;
	width : 180px;
	background-image : url(fd_droite.jpg);
	background-repeat : repeat-y;
	background-position : left top;
}

* html #milieu_droite{
float:none;
}

#milieu_droite h3{
	float:none;
	margin : 0;
	padding : 0 0 0 30px;
}
.milieu_droite_contenu{
	width:180px;
	margin : 0 0 0 10px;
	padding : 0;
}
.milieu_droite_contenu form{
	width:120px;
	margin : 0;
	padding : 0;
}
.milieu_droite_contenu select{
	margin : 0;
	padding : 0;
	float : left;
	width : 80px;
	font-size : 0.9em;
}
.milieu_droite_contenu input{
	margin : 0px;
	padding : 0px;
	width : 110px;
	font-size : 0.9em;
	border-width : 1px;
	border-style : solid;
	border-color : #000000;
	color : #000000;
	background-color : #ffffff;
}
.milieu_droite_contenu input.valide_recherche{
	margin : 0;
	padding : 0;
	width : 34px;
	font-size : 0.9em;
	border : none;
	color : #000000;
	font-weight : bold;
	background-color : #B9B8B9;
}
.milieu_droite_contenu .irfaq-search-form-submit input{
	margin : 0;
	padding : 0;
	width : 120px;
	font-size : 0.9em;
	border : none;
	color : #000000;
	font-weight : bold;
	background-color : #B9B8B9;
}
.milieu_droite_contenu ul{
	width : 120px;
	margin : 8px 0 0 0;
	padding : 0;
	border:none;
}
.milieu_droite_contenu li{
	margin : 0;
	padding : 0 0 10px 0;
	width:120px;
	font-weight : bold;
	list-style-position : inside;
	border:none;
}
.milieu_droite_contenu .tx-emenuderoulant-pi1 {
display: none;
}

.milieu_droite_contenu .icone_infosetservices {
display :none;

}

.milieu_droite_contenu table.calendar-table {
	border:none;
	margin-top:5px;
	float:none;
}

/*******************************************************************************/
/**********     EXTENSIONS  ****************************************************/
/*******************************************************************************/
/*****************************************/
/**********     DROPDOWN SITEMAP  ********/
/*****************************************/



/*****************************************/
/**********     TT_NEWS  *****************/
/*****************************************/
#milieu_milieu .tx-ttnews-browsebox table{
	border : none;
	margin : 0;
	padding : 0;

}
#milieu_milieu .tx-ttnews-browsebox table td{
	border : none;
	margin : 0;
	padding : 0;

}
#milieu_milieu .tx-ttnews-browsebox table td p{
	padding : 0;
	margin : 0;
}




/*****************************************/
/**********    CANTONS ELUS *****************/
/*****************************************/
.eeluscanton_recherche_cantons, .eeluscanton_recherche_elus {
	display: none;
}










