.texte {  margin:0 0; font-family: Arial; font-size: 11px; font-weight: normal; color: #333333; text-align:justify}

.texte-blanc {  margin:0 0; font-family: Arial; font-size: 11px; font-weight: normal; color: #FFFFFF; text-align:justify}

.petit-texte-noir {  margin:0 0; font-family: Arial; font-size: 10px; font-weight: normal; color: #000000; text-align:justify}

.petit-texte-blanc {  margin:0 0; font-family: Arial; font-size: 10px; font-weight: normal; color: #FFFFFF; text-align:justify}

.texte_gras {  margin:0 0; font-family: Arial; font-size: 12px; font-weight: bold; color: #333333; text-align:left}



.titre_page {  margin:0 0; font-family: Arial; font-size: 16px; font-weight: normal; color: #000000; text-align:justify}

.texte_sous_titre {  margin:0; font-family: Arial; font-size: 11px; font-weight: normal; color: #808080; text-align:justify}

.titre-actualites {  margin:0; font-family: Arial; font-size: 11px; font-weight: bold; color: #FF6600; text-align:justify; text-transform:uppercase}



.copyrights {  margin:0; font-family: Arial; font-size: 10px; color: #B2B2B2; text-align:justify; line-height:150%}


a.lien {font-size: 11px; font-family:Arial; color:#FF6600; text-decoration:none;}
a:hover.lien {font-size: 11px; font-family:Arial; color:#FFFFFF;}

a.lien-blanc {font-size: 11px; font-family:Arial; color:#FFFFFF; text-decoration:none;}
a:hover.lien-blanc {font-size: 11px; font-family:Arial; color:#FF6600;}

a.lien-noir {font-size: 11px; font-family:Arial; color:#333333; text-decoration:none;}
a:hover.lien-noir {font-size: 11px; font-family:Arial; color:#CC3300;}

a.lien-menu {font-size: 11px; font-family:Arial; color:#333333; text-decoration:none;}
a:hover.lien-menu {font-size: 11px; font-family:Arial; color:#CC3300; text-decoration:none; text-transform:uppercase}

a.small-lien-bleu {font-size: 10px; font-family:Arial; color:#CCD1D9; text-decoration:none;}
a:hover.small-lien-bleu {font-size: 10px; font-family:Arial; color:#FFFFFF;}

a.lien-sous_titre {font-size: 11px; font-family:Arial; color:#808080; text-decoration:none;}
a:hover.lien-sous_titre {font-size: 11px; font-family:Arial; color:#CC3300;}




#slideshow {
    position:relative;
    height:250px;
}
 
#slideshow DIV {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
    height: 250px;
}
 
#slideshow DIV.active {
    z-index:10;
    opacity:1.0;
}
 
#slideshow DIV.last-active {
    z-index:9;
}
 
#slideshow DIV IMG {
    height: 250px;
    display: block;
    border: 0;
    margin-bottom: 0px;
}