/**
 * This <div> element is wrapped by jCarousel around the list
 * and has the classname "jcarousel-container".
 */
.jcarousel-container {
    position: relative;
}

.jcarousel-clip {
    z-index: 2;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.jcarousel-list {
    z-index: 1;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

#marquee li,
.jcarousel-list li,
.jcarousel-item {
    list-style: none;
    /* We set the width/height explicitly. No width/height causes infinite loops. */
	width: 540px;
	height: auto;
	padding: 0 0px 0 1px;
	margin:0 0 22px 0;
	clear: none;
}

.jcarousel-list li a {
	display:block;
	position:relative;
	
}


.jcarousel-container-horizontal {
    width: 480px;
    padding: 0px 40px 20px 40px;
	margin-top:10px;
}

.jcarousel-clip-horizontal {

	width:  480px;
    height: 75px;
}

.jcarousel-next {
    z-index: 3;
    display: none;
}

.jcarousel-prev {
    z-index: 3;
    display: none;
}

 .jcarousel-next-horizontal {
    position: absolute;
    top: 15px;
    right: -2px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    background: transparent url(portofolioGallery_next.jpg) no-repeat 0 0;
}



.jcarousel-prev-horizontal {
    position: absolute;
    top: 15px;
    left: -2px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    background: transparent url(portofolioGallery_prev.jpg) no-repeat 0 0;
}


