.epi-modDrg, .epi-modFix, .epi-modUp, .epi-modUpFootPr, .epi-layout0, .epi-panel, .epi-panelDrop, .epi-panelLocked, .epi-panelMsg, .epi-indicator, .epi-panel-moveContent {
position:absolute;
/*visibility:hidden;*/
}
.epi-modDrg, .epi-modFix {
z-index:100;
}
.epi-modUp {
z-index:100;
}
.epi-modUpFootPr {
background:#FFFFFF none repeat scroll 0%;
border:1px solid #666666;
z-index:90;
}
.epi-layout0 {
overflow:hidden;
z-index:20;
}
.epi-panel {
overflow:hidden;
z-index:50;
}
.epi-panelDrop {
border:3px solid blue;
overflow:hidden;
z-index:110;
}
.epi-panelLocked {
background:#000000 none repeat scroll 0%;
color:red;
opacity:0.25;
overflow:hidden;
z-index:997;
}
.epi-panel-moveContent {
background:#EEEEEE none repeat scroll 0%;
overflow:hidden;
z-index:50;
}
.epi-panelMsg {
background:#EEEEEE none repeat scroll 0%;
color:red;
overflow:hidden;
z-index:998;
}
.epi-modDrg {
padding-left:1px;
}