/* SQLI Agency - SLM - Month 2007 */
/*
+---------------+
|	GENERAL		|
+---------------+
*/
html, body,
h1, h2, h3, h4, h5, h6,
div, span,
p, blockquote, cite, q, pre,
dl, dt, dd,
ol, ul, li,
abbr, acronym,
font, big, small, strike, s, strong, ins, del, em,
samp, kbd, dfn, code, tt, var, address,
a,
img,
fieldset, form, label, legend,
applet, object, iframe {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}

table, caption, tbody, tfoot, thead, tr, th, td{
	margin:0;
	padding:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}


:focus {outline:0;}

body {
	color:#000;
	line-height:1;
	background:#FFF;
}
strong {font-weight:bold;}
em {font-style:italic;}



ol, ul {list-style:none;}

table {
	border-collapse:separate;
	border-spacing:0; /* tables still need 'cellspacing="0"' in the markup */
}
caption, th, td {
	text-align:left;
	font-weight:normal;
}

abbr, acronym {
	cursor:help;
/*
	border-bottom-width:1px;
	border-bottom-style:dotted;
*/
}

pre, code, var {
	font-family:Courier, monospace;
}

kbd {
	padding:1px;
	color:#000;
	font-family:Courier, monospace;
	border:1px solid #EEE;
	border-top-color:#FAFAFA;
	border-left-color:#FAFAFA;
	border-right-color:#838383;
	border-bottom-color:#838383;
	background:#EEE;
}


blockquote:before,
cite:before,
blockquote:after,
cite:after {content:"";}
q:before {content:'"';}
q:after {content:'"';}
blockquote, cite{quotes:"" "";}
q {quotes:'"' '"';}



/*
+---------------+
|	UTILES		|
+---------------+
*/
.clear:after{
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
	content:".";
}
* html .clear {height:1%;}
*:first-child+html .clear{min-height:1%;}

.none {
	position:absolute;
	top:-9999px;
	left:-9999px;
}

.flr {float:right;}
.fll {float:left;}

.roll
{
	text-decoration:none;
}
.roll:hover,
.roll:focus
{
	text-decoration:underline;
}
.discret
{
	border-bottom:none;
}
label
{
	cursor:pointer;
}
kbd
{
	background-color:#FFF;
	border:none;
	font-family:sans-serif;
}
sup
{
	vertical-align:top
}