/* CSS DEV SOPRA */


#m_1_1_0
{
z-index: 900; padding-left:0;
}

#formulaire
{
	width:765px;
	margin-left: 120px;
	margin-right: 110px;
}

#formulaire .separateur {
	width:100%;
	height:2px;
	background-image:url(separateur.gif);
	background-repeat: repeat-x
}

.form_fermer {
	font-weight:bold;font-family:Arial;font-size:1.1em;
}

.form_fermer a:hover {
	text-decoration:none;
}

#formulaire p
{
	margin-bottom: 10px;
}

#formulaire .submit {
	text-align:center;
	vertical-align:top;
	height:22px;
	width:70px;
	color:white;
	font:1em/1.2 Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	background-color:#56748c;
	border: none;
}

#formulaire .commentaire {
	color:gray;	
	margin-bottom: 6px;
}

#formulaire_entete
{
	width: 725px;
	padding: 10px;
	margin-right: 20px;
	margin-left: 20px;
}

#formulaire .heading-1
{
	padding-bottom: 30px;
	padding-top: 30px;
	color: #52768c;
	text-align: left;
	font-size: 1.4em;
	font-weight: 500;
}

#formulaire_content
{
	width: 725px;
	padding: 10px;
	margin-right: 20px;
	margin-left: 20px;
}

#formulaire_content td td
{
	height: 30px;
}

#formulaire_content .label-1 {
	vertical-align: middle;
}

#formulaire_content .text {
	width: 400px;
}

#formulaire_footer  {
	width: 725px;
	padding-top: 10px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

#formulaire_footer td  {
	vertical-align: bottom;
}

#recrutement {
	vertical-align: center;
	margin-left : auto;
	margin-right : auto;
}

#recrutement h1 {
	FONT-SIZE: 1.6em; COLOR: #52768c; padding-bottom: 16px; text-align: center;
}

#recrutement h2 {
	FONT-SIZE: 1.2em; COLOR: #52768c; padding-bottom: 10px; font-weight: bold;
}

#recrutement label {
	font-weight: bold; COLOR: darkgray
}

#candidatureForm #recrutement label {
	COLOR: black; font-weight: normal;
}

#recrutement select {
	margin-top: 3px; margin-bottom: 4px; color: gray;
}

#recrutement .champ select {
	COLOR: #52768c; height: 120px;
}

#recrutement .more {
	font-family: Arial; color:darkred; font-size: 0.8em; font-weight: bold;
}

.submit {
	BORDER-RIGHT: #a6988e 1px solid; BORDER-TOP: #a6988e 1px solid; DISPLAY: inline-block; MARGIN: 0px; FONT: 1em/1.2 Verdana, Arial, Helvetica, sans-serif; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #a6988e 1px solid; CURSOR: pointer; COLOR: #4d4d4d; BORDER-BOTTOM: #a6988e 1px solid; WHITE-SPACE: nowrap; HEIGHT: 18px; BACKGROUND-COLOR: #d5ccc7; TEXT-ALIGN: center
}

.resultat {
	vertical-align: top;
	font-size: 0.8em;
}

.resultat .offre {
	padding: 8px;
	border-bottom: 1px solid darkgray;
}

.resultat .offre .gray {
	color: gray;
}

.resultat .heading-2 {
	font-weight: bold; COLOR: darkgray;
	padding-bottom: 8px;
	border-bottom: 1px solid darkgray;
}

.resultat .even {
	background-color: whitesmoke;
}

.resultat .odd {
}

.resultat hr {
	padding: 0; margin: 0;
}

#recrutement .button {
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	COLOR: #52768c;
}

#recrutement .er_resume {
	margin-top: 20px;
	font-size: 0.8em;
}

#recrutement .er_resume .poste {
	COLOR: #52768c;
	font-size: 1.2em;
	font-weight: bold;
	padding-top:5px;
}

#recrutement .er_resume .secteur {
	COLOR: darkgray;
	margin-bottom: 10px;
	font-weight: bold;
}

#recrutement .er_resume .ville {
	font-weight: bold;
}

#recrutement .er_resume .ref {
	COLOR: darkgray;
	margin-bottom: 10px;
}

#recrutement .er_resume .detail {
	margin-top: 10px;
	padding-top: 6px;
	font-size: 1.2em;
}

#recrutement .er_resume .remunerationPoste {
	COLOR: #52768c;
	font-size : 1em;
	padding-top : 15px;
	padding-bottom : 5px;
}

#recrutement .er_resume .submit {
	COLOR: black;
	text-decoration: none;
}

#recrutement .er_footer .submit {
	margin-top: 10px;
	font-size: 0.8em;
	
}

#recrutement .list_style_1 td {
	padding: 6px; vertical-align: middle;
}

#recrutement .chevrons-candidature {
	padding:2px 0 0 10px;
	background:url(chevrons-orange.gif) left 6px no-repeat;
}

#elus {
	text-align: center;
	width: 460px;
}

#elus .elu {
	background: WhiteSmoke;
	border: 1px solid gray;
	padding: 10px;
}

#elus h1 {
	FONT-SIZE: 1.6em; COLOR: #52768c; padding-bottom: 16px; text-align: center;
}

#elus h2 {
	FONT-SIZE: 1.2em; COLOR: #52768c; padding-bottom: 10px; font-weight: bold;
}

.delib {
	margin-bottom: 16px;	
}

.delib .heading-1 {
	FONT-SIZE: 1.2em; COLOR: #52768c; padding-bottom: 6px; font-weight: bold; padding-top: 10px;
}

.delib_form {
	background: WhiteSmoke;
	padding: 10px;
}

.delib .bgc-a2 {
	background: WhiteSmoke;
	border: 1px solid gray;
}

.delib .bgc-a3 {
	margin-left: 10px;
	margin-right: 20px;
	width: 80%;
}

.delib td.sep {
	border-color:gray;
	border-style:none solid none none;
	border-width:0 1px 0 0;
	padding:3px;
}


/* ESPACE VIDEO */
.sommaire-video {
	display: block;
	width : 90%;
}
.sommaire-video li {	
	width:100%;
	padding-top: 8px;
	margin-bottom: 10px;
	background:url(sommairevideo-ombre.gif) left top no-repeat;
}

.font_bold
{font-weight: bold;}

.short-title
{
color: #88746d;
font-size: 0.95em;
font-weight: bold;
}

div#cellule_visionneuse
{
border: 1px solid gray;
background-color: #F5F5F5;
display: block;
width: 475px;
text-align: center;
margin-left: 10px;
margin-right: 10px;
}

.cellule_espace_video
{
border: 1px solid gray;
background-color: #F5F5F5;
display: block;
width: 445px;
text-align: center;
margin-left: 10px;
margin-right: 10px;
padding: 16px;
}

.video_title
{
color: #88746d;
font-size: 1em;
font-weight: bold;
padding-top: 6px;
}

span.goto_but_got
{
	padding:0 0 0 14px;
	background:url(chevrons-orange.gif) left 6px no-repeat;
}

a.goto
{
	 color:#88746d;
}

.form-text-perso
{
display: block;
padding: 1px;
margin: 0px;
border:1px solid #808080;
height:20px;
background-color:#f6f5f3;
}

 .submit {
	display:inline-block;
	margin:0;
	padding: 2px;
	white-space:nowrap;
	text-align:center;
	vertical-align:middle;
	color:#4d4d4d;
	font:1em/1.2 Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	border:1px solid #a6988e;
	background-color:#d5ccc7;
}


/*Style de l'espace membre*/


#votreEspace{
	clear:both;
	margin:0px;
	padding: 0px;
	margin-left: 17px;
	margin-right: 5px;
}

#votreEspace h2{
	color:#53768C;
	font-family:"Trebuchet MS",sans-serif;
	font-size:2.1em;
	font-weight:bold;
	margin-bottom:0.5em;
	padding-bottom:0.2em;
}

#votreEspace h2.titreSecondaire{
	color:#53768C;
	font-family:"Trebuchet MS",sans-serif;
	font-size:1.5em;
	font-weight:bold;
	margin-bottom:0.5em;
	padding-bottom:0.2em;
}

#votreEspace h3{
	color:#53768C;
	font-size:1em;
	font-weight: bold;
	padding-bottom:0.2em;
}


#votreEspace .titre {
	color:#54768C;
	display:block;
	font-size:1.8em;
	font-weight:bold;
}

#votreEspace .note{
	color:#999999;
}

.article-intro .fll td {
	vertical-align: top;
}

.blocnavigationTree #colonne-1 div.actif {
	width: 221px;
}