ul.horizontal ul li {
	z-index:20;
	width:220px;

	left:auto;
	margin:0 0 0 0;
	height:100%;
	min-height:35px;
	color:#FFF;
	background-color:#df0030;
	text-align:left;
	border-bottom:2px solid #FFF;
	padding-right:12px;
	padding-left:5px;	
}

*html ul.horizontal ul li{
height:35px;
}


ul.horizontal ul li a, ul.horizontal ul li a:visited,ul.horizontal ul li a:link {
	text-decoration:none;
	color:#FFF;
}

ul.horizontal ul li:hover{
	background-image:url(backgoundMenuHover.png);
	background-position:right;
	background-repeat:no-repeat;
}
#descriptionMenu{
	
	background-color:#df0030;
}
*html #descriptionMenu{
	z-index:-1;
}

#animAccueil{
	z-index:-1;
}
