/* default styles for extension "tx_indexedsearch" */
		.tx-indexedsearch .tx-indexedsearch-browsebox LI { display:inline; margin-right:5px; }
		.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-button { width:100px; }
		.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-sword { width:150px; }
		.tx-indexedsearch .tx-indexedsearch-whatis { margin-top:10px; margin-bottom:5px; }
		.tx-indexedsearch .tx-indexedsearch-whatis .tx-indexedsearch-sw { font-weight:bold; font-style:italic; }
		.tx-indexedsearch .tx-indexedsearch-noresults { text-align:center; font-weight:bold; }
		.tx-indexedsearch .tx-indexedsearch-res TD.tx-indexedsearch-descr { font-style:italic; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-descr .tx-indexedsearch-redMarkup { color:red; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-info { background:#eeeeee; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead { margin-top:20px; margin-bottom:5px; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead H2 { margin-top:0px; margin-bottom:0px; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead TD { background:#cccccc; vertical-align:middle; }
		.tx-indexedsearch .tx-indexedsearch-res .noResume { color:#666666; }
		.tx-indexedsearch .tx-indexedsearch-category { background:#cccccc; font-size:16px; font-weight:bold; }

		/* Additional styles, needed for the tableless template_css.tmpl (styles don't conflict with the original template) */
		.tx-indexedsearch .res-tmpl-css { clear:both; margin-bottom:1em; }
		.tx-indexedsearch .searchbox-tmpl-css LABEL { margin-right:1em; width:10em; float:left; }
		.tx-indexedsearch .result-count-tmpl-css, .tx-indexedsearch .percent-tmpl-css { letter-spacing:0; font-weight:normal; margin-top:-1.2em; float:right; }
		.tx-indexedsearch .info-tmpl-css dt, .tx-indexedsearch dl.info-tmpl-css dd { float:left; }
		.tx-indexedsearch .info-tmpl-css dd.item-mtime { float:none; }
		.tx-indexedsearch .info-tmpl-css dd.item-path { float:none; }
/* default styles for extension "tx_srfeuserregister_pi1" */
   .tx-srfeuserregister-pi1 p { font-family:Verdana, sans-serif; font-size:12px; line-height:125%; color:#35006d; margin-top:8px; margin-bottom:0px; padding-top:0px; padding-bottom:0px; padding-right:3px; padding-left:3px; text-indent:0px; }
   .tx-srfeuserregister-pi1 a:link { background-color:transparent; color:navy; text-decoration:none; font-weight:bold;}
   .tx-srfeuserregister-pi1 a:visited { background-color:transparent; color:navy; font-weight:bold; text-decoration:none; }
   .tx-srfeuserregister-pi1 a:hover { background-color:transparent; color:#333333; text-decoration:none; }
   .tx-srfeuserregister-pi1 a:active { background-color:transparent; color:navy; font-weight:bold; text-decoration:none; }
   .tx-srfeuserregister-pi1 td { vertical-align:top;  font-family:Verdana, sans-serif; font-size:12px; line-height:125%; color:#35006d; margin-top:8px; margin-bottom:0px; padding-top:0px; padding-bottom:0px; padding-right:3px; padding-left:3px; text-indent:0px;}
   .tx-srfeuserregister-pi1 input { font-size:10px; font-family:Verdana; background-color:#35006d; color:#ffffff; font-weight:bold; }
   .tx-srfeuserregister-pi1 input[type=radio] { vertical-align: middle; margin-left: 10px; margin-right: 5px; }
   .tx-srfeuserregister-pi1 input.tx-srfeuserregister-pi1-submit { font-size:10px; font-family:Verdana; background-color:#35006d; color:#ffffff; font-weight:bold; }
   .tx-srfeuserregister-pi1 input.tx-srfeuserregister-pi1-uploader { font-size:10px; font-family:Verdana; background-color:#35006d; color:#ffffff; font-weight:bold; }
   .tx-srfeuserregister-pi1 input.tx-srfeuserregister-pi1-icon { font-size:10px; font-family:Verdana; background-color:transparent;}
   .tx-srfeuserregister-pi1 select { font-size:10px; font-family:Verdana; background-color:#35006d; color:#ffffff; font-weight:bold; }
   .tx-srfeuserregister-pi1 textarea { font-size:10px; font-family:Verdana; background-color:#35006d; color:#ffffff; font-weight:bold; }
   .tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-radio input  { font-size:10px; font-family:Verdana; background-color:transparent; color:#35006d; font-weight:bold; vertical-align:middle; }
   .tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-checkbox input  { font-size:10px; font-family:Verdana; background-color:transparent; color:#35006d; font-weight:bold; vertical-align:middle; }
   .tx-srfeuserregister-pi1 ul.tx-srfeuserregister-multiple-checkboxes { list-style-type: none; list-style-image: none; list-style-position: inside; margin: 0 0 0 .5em; font-size: 1em; }
   .tx-srfeuserregister-pi1 ul.tx-srfeuserregister-multiple-checkboxes li { margin: 0 0 .4em 0; }
   .tx-srfeuserregister-pi1 ul.tx-srfeuserregister-multiple-checkboxes li label { margin: 0; padding: 0 0 0 .5em; font-size: 1em; }
   .tx-srfeuserregister-pi1 ul.tx-srfeuserregister-multiple-checked-values { list-style-type: square; list-style-image: none; list-style-position: inside; margin: 0; font-size: 1em; }
   .tx-srfeuserregister-pi1 ul.tx-srfeuserregister-multiple-checked-values li { float: left; margin: 0 2em 0 0;}
/* default styles for extension "tx_loginboxmacmade_pi1" */
        .tx-loginboxmacmade-pi1 .tx-loginboxmacmade-pi1-error {
            color: #FF0000;
        }
        .tx-loginboxmacmade-pi1 TABLE.tx-loginboxmacmade-pi1-loginTable {
            margin-top: 5px;
            margin-bottom: 5px;
            border: solid 1px #DFE2E3;
            border-collapse: collapse;
        }
        .tx-loginboxmacmade-pi1 TABLE.tx-loginboxmacmade-pi1-loginTable TD {
            border: solid 1px #DFE2E3;
            background-color: #FAFBFB;
            padding: 5px;
        }
        .tx-loginboxmacmade-pi1 TABLE.tx-loginboxmacmade-pi1-loginTable TD.tx-loginboxmacmade-pi1-labelCell {
            border: solid 1px #E5D9B1;
            background-color: #F0E9D2;
            font-weight: bold;
        }
/* default styles for extension "tx_dropdownsitemap_pi1" */
        .tx-dropdownsitemap-pi1 A {
            font-weight: bold;
        }
        .tx-dropdownsitemap-pi1 .spc {
            font-weight: bold;
        }
        .tx-dropdownsitemap-pi1 .description {
            font-style: italic;
            font-size: 80%;
            margin-left: 5px;
        }
        .tx-dropdownsitemap-pi1 LI.open OL {
            display: block;
        }
        .tx-dropdownsitemap-pi1 LI.closed OL {
            display: none;
        }
        .tx-dropdownsitemap-pi1 LI.open UL {
            display: block;
        }
        .tx-dropdownsitemap-pi1 LI.closed UL {
            display: none;
        }
        .tx-dropdownsitemap-pi1 DIV {
            border: solid 1px #DFE2E3;
            background: #FAFBFB;
            padding: 2px;
            margin-bottom: 5px;
        }
        .tx-dropdownsitemap-pi1 DIV.level_2 {
            background: #FFFFFF;
        }
        .tx-dropdownsitemap-pi1 DIV.level_2 A {
            font-weight: normal;
        }
        .tx-dropdownsitemap-pi1 DIV.level_3 {
            background: #FAFBFB;
        }
        .tx-dropdownsitemap-pi1 DIV.level_4 {
            background: #FFFFFF;
        }
        .tx-dropdownsitemap-pi1 DIV.level_5 {
            background: #FAFBFB;
        }
        .tx-dropdownsitemap-pi1 DIV.expAll {
            text-align: center;
            border: solid 1px #DFE2E3;
            background: #FAFBFB;
        }
/* default styles for extension "tx_veguestbook_pi1" */

    .tx-veguestbook-pi1 {
        font-size:100%;
    }
  
    /* error handling */
	.tx-veguestbook-pi1 p.tx-guestbook-form-error {
		font-weight:bold;
		color:#990000;
	}
	
	/* display of result count */
	.tx-veguestbook-pi1 .tx-guestbook-result {
		font-weight:bold;
		float:left;
	}
	
	/* pagination */
	.tx-veguestbook-pi1 .tx-guestbook-pagination {
		font-size:75%;
		font-weight:bold;
		float:right;
	}
	
	/* styles for list mode */
	.tx-veguestbook-pi1 h2.tx-guestbook-header {
		clear:both;
		background:#666;
		color:#FFF;
		display:block;
		font-size:100%;
		font-weight:bold;
		padding: 1em;
		width: 35em;
	}
	
	.tx-veguestbook-pi1 .tx-guestbook-left {
		float:left;
		width:12em;
		background:#EFEFEF;
		min-height:4em;
		padding: 1em;
	}
	
	.tx-veguestbook-pi1 .tx-guestbook-left {
		height:4em;
	}
	
	.tx-veguestbook-pi1 .tx-guestbook-left p {
		color:#333;
	}
 
	.tx-veguestbook-pi1 .tx-guestbook-right {
		float:left;
		width:21em;
		background:#FFF;
		padding: 1em;
	}
	
	/* styles for latest mode */
	.tx-veguestbook-pi1 .tx-guestbook-latest p,
	.tx-veguestbook-pi1 .tx-guestbook-right p {
		color:#333;
	}
	
	.tx-veguestbook-pi1 .tx-guestbook-latest p.tx-guestbook-date,
	.tx-veguestbook-pi1 .tx-guestbook-right p.tx-guestbook-date {
        font-weight: bold;
	}
 
	.tx-veguestbook-pi1 .tx-guestbook-right h3 {
		font-size:100%;
		color:#990000;
		font-weight:bold;
		background:none;
	}
	
	.tx-veguestbook-pi1 .tx-guestbook-right .tx-guestbook-comment {
		font-size:75%;
		color:#333;
		font-style: italic;
	}
	
	.tx-veguestbook-pi1 .tx-guestbook-latest {
		display:block;
		padding:0.25em;
		clear:both;
	}
	
	/* form styles */
	.tx-veguestbook-pi1 .tx-guestbook-field {
		clear:both;
		width:100%;
		display:block;
		padding: 1em 0;
	}
	
	.tx-veguestbook-pi1 .tx-guestbook-field label {
		clear: both;
		display: block;
		float: left;
		width: 10em;
	}
	
	.tx-veguestbook-pi1 .tx-guestbook-field input.tx-guestbook-form-inputfield-med {
		float:left;
		width:10em;
	}
	
	.tx-veguestbook-pi1 .tx-guestbook-field input.tx-guestbook-form-inputfield-big {
		float:left;
		width:20em;
	}
	
	.tx-veguestbook-pi1 .tx-guestbook-field textarea.tx-guestbook-form-textarea {
		width: 30em;
		display: block;
		float: left;
	}
	
	.tx-veguestbook-pi1 .tx-guestbook-field span.tx-guestbook-form-obligationfield {
		color:#990000;
	}
	
	.tx-veguestbook-pi1 fieldset {
		border:none;
	}
	
	.tx-veguestbook-pi1 legend {
		display:none;
	}
	
	.tx-veguestbook-pi1 .tx-guestbook-freecap {
		float:left;
		display:block;
		background:#F7F7F7;
		border:1px solid #CCC;
	}
 
	.tx-veguestbook-pi1 .tx-guestbook-freecap {
		margin-left:2.25em;
	}
 
	
	.tx-veguestbook-pi1 .tx-guestbook-freecap img {
		float:left;
		display:block;
		padding-left:0.25em;
	}
	
	.tx-veguestbook-pi1 .tx-guestbook-freecap input {
		float:left;
	}
	
	.tx-veguestbook-pi1 .tx-guestbook-freecap label {
		clear:both;
		display:block;
		float:none;
		width:10em;
		margin-bottom:0.5em;
	}
	
	.tx-veguestbook-pi1 .tx-guestbook-freecap p {
		font-size:75%;
		padding:0.25em;
	}
	
	.tx-veguestbook-pi1 .tx-guestbook-freecap h3 {
		display:none;
	}
	
	.tx-veguestbook-pi1 .tx-guestbook-freecap span.tx-srfreecap-pi2-cant-read {
		color:#990000;
	}
	
	.tx-veguestbook-pi1 .tx-guestbook-clear {
		clear:both;
		display:block;
	}
	
	.tx-veguestbook-pi1 input.tx-guestbook-submit {
		width:auto;
		display:block;
	}
/* default styles for extension "tx_cssstyledcontent" */
	/* Captions */
	DIV.csc-textpic-caption-c .csc-textpic-caption { text-align: center; }
	DIV.csc-textpic-caption-r .csc-textpic-caption { text-align: right; }
	DIV.csc-textpic-caption-l .csc-textpic-caption { text-align: left; }

	/* Needed for noRows setting */
	DIV.csc-textpic DIV.csc-textpic-imagecolumn { float: left; display: inline; }

	/* Border just around the image */
	DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG {
		border: 2px solid black;
		padding: 0px 0px;
	}

	DIV.csc-textpic-imagewrap { padding: 0; }

	DIV.csc-textpic IMG { border: none; }

	/* DIV: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DIV.csc-textpic-image { float: left; }

	/* UL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL { list-style: none; margin: 0; padding: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL LI { float: left; margin: 0; padding: 0; }

	/* DL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image { float: left; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DT { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD IMG { border: none; } /* FE-Editing Icons */
	DL.csc-textpic-image { margin: 0; }
	DL.csc-textpic-image DT { margin: 0; display: inline; }
	DL.csc-textpic-image DD { margin: 0; }

	/* Clearer */
	DIV.csc-textpic-clear { clear: both; }

	/* Margins around images: */

	/* Pictures on left, add margin on right */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-right: 10px;
	}

	/* Pictures on right, add margin on left */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}

	/* Pictures centered, add margin on left */
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image .csc-textpic-caption { margin: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image IMG { margin: 0; }

	/* Space below each image (also in-between rows) */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image { margin-bottom: 5px; }
	DIV.csc-textpic-equalheight DIV.csc-textpic-imagerow { margin-bottom: 5px; display: block; }
	DIV.csc-textpic DIV.csc-textpic-imagerow { clear: both; }

	/* No margins around the whole image-block */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-firstcol { margin-left: 0px !important; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-lastcol { margin-right: 0px !important; }

	/* Add margin from image-block to text (in case of "Text w/ images") */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap {
		margin-right: 10px !important;
	}
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap {
		margin-left: 10px !important;
	}

	/* Positioning of images: */

	/* Above */
	DIV.csc-textpic-above DIV.csc-textpic-text { clear: both; }

	/* Center (above or below) */
	DIV.csc-textpic-center { text-align: center; /* IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap { margin: 0 auto; }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image { text-align: left; /* Remove IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-text { text-align: left; /* Remove IE-hack */ }

	/* Right (above or below) */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap { float: right; }
	DIV.csc-textpic-right DIV.csc-textpic-text { clear: right; }

	/* Left (above or below) */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap { float: left; }
	DIV.csc-textpic-left DIV.csc-textpic-text { clear: left; }

	/* Left (in text) */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap { float: left; }

	/* Right (in text) */
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap { float: right; }

	/* Right (in text, no wrap around) */
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap { float: right; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-right-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */

	/* Left (in text, no wrap around) */
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap { float: left; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-left-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */
/* default styles for extension "tx_srfreecap_pi2" */
		.tx-srfreecap-pi2-image { margin-left: 1em; }
		.tx-srfreecap-pi2-cant-read { font-size: .9em; color:#35006d; }
		.tx-srfreecap-pi2-cant-read a:link { background-color:transparent; font-weight:bold; text-decoration:none; }