/* ===========================
Initialisation des styles par defaut

NM : 06-07-2009 ajout div.style5 h3
=========================== */

body{
background: #fff url(body.png) repeat-y center 0;
color: #000;
font-family: arial, helvetica, sans-serif;
font-size: 62.5%;
margin-bottom: 2.5em;
}

body, html, fieldset{
border: 0;
}

h1, h2, h3, h4, h5, h6, pre, code{
font-size: 1em;
}

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, blockquote, fieldset, input{
margin: 0;
padding: 0;
}

a{
color: #1d316c;
text-decoration: underline;
}

a:hover{
color: #cc0500;
}

/* ?tat "focus" important pour accessibilite web */
a:focus{
background-color: #666 !important;
color: #fff !important;
text-decoration: none !important;
}

a img,
a:link img,
a:visited img{
border: none;
vertical-align: middle;
}

#menu_principal em,
#fil_ariane em{
font-style: normal;
}

h2{
font-family: "times new roman", times, "vera serif", serif;
color: #000;
font-size: 2em;
font-weight: 500;
margin: 0.4em 0;
background: url(h2.png) no-repeat 0 9px;
padding-left: 25px;
position: relative;
left: -15px;
}

/*.rubrique h2{
clear: both;
font-family: arial, sans-serif;
font-size: 1.55em;
font-weight: 700;
margin: 0;
padding: 6px 100px 6px 366px;
}*/

h3{
font-size: 1.4em;
margin: 1em 0;
}

h4{
font-size: 1.2em;
margin: 1em 0;
}

/* === Avertissement visuel quand on visualise une page par le mode aperu du back office === */

p#en_mode_apercu{
background-color: #FF5716;
color: #332E44;
font-size: 1.1em;
font-weight: 700;
margin: 0;
padding: 0.4em 0 1.1em 0;
text-align: center;
width: 1000px;
}

/* === Accessibilite liens evitement === */

p#acces_direct{
margin: 0 auto;
width: 1000px;
display: none;
}

p#raccourcis{
display: none;
margin: 0;
}

p#raccourcis a{
color: #fff;
}

/* ===========================
Grands Blocs
=========================== */

div#page{
background-color: transparent;
font-size: 1.1em;
width: 1000px;
border: 1px solid;
border-color: #384047 #a7a9ac #a7a9ac #384047;
margin: 0 auto;
}

/* ===========================
Styles Communs
=========================== */

hr.separateur_sections_page{
display: none;
}

/* === classes communes === */

.hide{
position: absolute;
visibility: hidden;
}

.separateur{
clear: both;
height: 1px;
margin: 0;
padding: 0;
}

.erreur{
color: #f00;
font-style: normal;
font-weight: 700;
}

.retour{
cursor: pointer;
}

/* champs de formulaires en lecture seule */
form input.readonly{
background-color: #eee;
}

.champ-saisie,
select{
border: 1px solid;
padding: 1px;
}

.ok{
color: #fff;
background: #cc0500;
border: 1px solid;
vertical-align: top;
}

p.legende{
background-color: transparent;
color: #afb5b9;
font-size: 0.95em;
margin: 0.5em 0 1em 0;
}

div.photo img{
/* border: 1px solid #eee; */
}

/* *******************
=Bloc =Bandeau
******************** */

div#bandeau{
background: url(bandeau.jpg) no-repeat 206px 0;
height: 136px;
position: relative;
}

ul#langues{
list-style: none;
position: absolute;
top: 88px;
right: 6px;
}

ul#langues li{
margin-bottom: 7px;
}

h1{
color: #fff;
font-family: arial, sans-serif;
font-size: 1.6em;
left: 0;
position: absolute;
top: 0;
}

h1 a{
color: #fff;
}

h1 a img{
width: 205px;
height: 136px;
display: block;
}

h1 img{
border-right: 1px solid #555658;
background-color: #db002e;
}

/* ====================
=Recherche =Simple
==================== */

form#recherche_simple{
font-family: verdana, sans-serif;
left: 693px;
position: absolute;
top: 0;
border-left: 10px solid #cc0500;
padding: 6px 0 0 6px;
font-size: 0.9em;
}

form#recherche_simple p{
margin: 0;
}

form#recherche_simple label{
color: #525766;
font-weight: 700;
vertical-align: baseline;
margin-right: 5px;
}

form#recherche_simple input.champ-saisie{
border-color: #a7a9ac;
width: 125px;
}

form#recherche_simple input.champ-saisie:focus{
border-color: #cc0500;
}

/* --- */

form#recherche_simple p#perimetre_recherche{
margin: 0.5em 0 0 37px;
}

form#recherche_simple p#perimetre_recherche label{
font-weight: 500;
margin-right: 5px;
}

form#recherche_simple p#perimetre_recherche select{
font-size: 0.9em;
width: 129px;
border-color: #a7a9ac;
}

form#recherche_simple input.ok{
font-size: 1em;
font-weight: 700;
font-family: verdana, sans-serif;
padding: 0.25em 0.2em;
}

form#recherche_simple p#vers_recherche_avancee{
margin: 0;
position: absolute;
top: 31px;
top: 5.4em;
left: 80px;
}

form#recherche_simple a{
background: url(recherche_avancee.png) no-repeat right bottom;
padding-right: 20px;
}

ul#acces_pratiques{
font-family: verdana, sans-serif;
font-size: 0.9em;
line-height: 180%;
left: 693px;
position: absolute;
bottom: 0;
border-left: 10px solid #cc0500;
padding-left: 6px;
list-style: none;
padding-bottom: 5px;
}

/* ====================
=Connexion
====================

div#connexion{
left: 825px;
position: absolute;
top: 40px;
width: 172px;
}

div#connexion legend{
}

div#connexion label{
display: block;
font-size: 0.9em;
font-weight: 700;
margin: 0;
}

div#connexion input#login_intranet{
margin-bottom: 0;
}

div#connexion ul{
font-size: 0.9em;
padding-top: 2px;
}

div#connexion p#mot_de_passe_oublie{
font-size: 0.9em;
margin: 0;
}

=== */

/* =Contexte =DSI */

body.dsi #connexion p#personne_dsi{
color: #fff;
font-weight: 700;
margin: 0 0 1em 0;
}

body.dsi #connexion ul{
margin-top: 0.2em;
}

body.dsi #connexion ul li{
display: inline;
list-style-type: none;
}

body.dsi #connexion ul li a#se_deconnecter{
display: block;
}

body.dsi #select_profil{
width: 140px;
}

body.dsi #personne_dsi span{
color: #ffb623;
display: block;
font-family: arial, sans-serif;
font-size: 1.3em;
font-weight: 700;
}

/* ===============
=Block =Menu
=============== */

div#menu{
background-color: #332e44;
color: #ccc;
float: left;
padding-bottom: 1px;
width: 100%;
}

body.collaboratif #menu{
border-bottom: 1px solid #332e44;
}

/* === Menu principal === */

ul#menu_principal{
background: #dcddde url(menu_principal.png) no-repeat 0 bottom;
font-size: 1.45em;
padding: 0 0 15px 0;
}

ul#menu_principal li{
list-style: none;
display: inline;
}

ul#menu_principal li#focus{
background-color: #afb5b9;
border-bottom: 1px solid #afb5b9;
display: block;
}

ul#menu_principal em{
font-weight: 700;
}

ul#menu_principal a{
color: #000;
text-decoration: none;
display: block;
border-bottom: 1px solid #a7a9ac;
padding: 0.4em 0.2em;
margin: 0 7px;
}

ul#menu_principal a:focus{
background-color: transparent !important;
color: #000 !important;
}

ul#menu_principal a:hover,
ul#menu_principal li#focus ul{
background: url(menu_principal_lien_hover.png) no-repeat right bottom;
}

ul#menu_principal li#focus a{
border-bottom: 0;
margin-top: -1px;
background: none;
}

ul#menu_principal ul{
font-size: 0.7em;
margin: 0.5em 7px 0 7px;
border-bottom: 1px solid #a7a9ac;
}

ul#menu_principal ul li{
display: block;
margin: 0 0 0.5em 12px;
}

ul#menu_principal ul a{
display: inline;
border-bottom: 0;
padding: 0;
}

ul#menu_principal ul a:hover{
background: none;
}

/* === bloc Accroche === */

div#accroche{
font-size: 1.25em;
line-height: 1.3;
min-height: 88px;
position: relative;
}

div#accroche .visuel-rubrique{
background-repeat: no-repeat;
float: left;
height: 147px;
width: 366px;
}

div#accroche p{
margin: 0;
padding-bottom: 10px;
padding-right: 20px;
padding-top: 10px;
}

div#accroche .separateur{
background-color: #332e44;
font-size: 1px;
height: 1px;
}

/* ===============
=Bloc =Navigation
=============== */

div#navigation{
float: left;
width: 205px;
}

body.collaboratif #navigation h3{
font-size: 130%;
font-weight: 700;
line-height: 1.4;
margin: 1em 10px 1em 20px;
}

#navigation .visuel-rubrique{
background-position: 50% 50%;
background-repeat: no-repeat;
color: #fff;
height: 80px;
padding: 0px 0 21px 0;
}

/* === services === */

form#services{
margin-left: 10px;
}

form#services label{
color: #fff;
font-size: 1.1em;
font-weight: 700;
vertical-align: middle;
}

form#services legend{
display: none;
}

form#services select{
font-size: 0.9em;
}

form#services input.valider{
}

/*********************************
=Bloc =Contenu
*********************************/

div#contenu_deco{
float: left;
height: auto;
position: relative;
background: #fff url(contenu_deco.png) no-repeat 0 bottom;
border-left: 1px solid #555658;
margin-bottom: 20px;
padding-bottom: 20px;
}

div#contenu_avec_encadres,
div#contenu_sans_encadres{
background-color: transparent;
float: left;
margin: 0;
min-height: 300px;
padding: 0.3em 15px 0 15px;
position: relative;
}

div#contenu_avec_encadres{
width: 559px;
border-top: 1px solid #555658;
}

div#contenu_sans_encadres{
/* width: 785px; */
background-color: #fff;
width: 764px;
padding-bottom: 20px;
margin-bottom: 20px;
border: 1px solid #555658;
border-right: 0;
}

/* pour plan de site et liste imbriquees dans toolbox */
div#contenu_avec_encadres ul,
div#contenu_avec_encadres ol,
div#contenu_sans_encadres ul,
div#contenu_sans_encadres ol{
margin: auto;
padding: 0 0 0 2em;
}

p#fil_ariane{
font-size: 0.9em;
padding: 0;
margin: 0;
}

/* === Plan du site  === */

ol.plansite1{
margin-bottom: 1em;
line-height: 180%;
}

ol.plansite1 li{
list-style: square url(puce.png);
font-weight: 700;
}

div#contenu_avec_encadres ol.plansite2,
div#contenu_sans_encadres ol.plansite2{
padding-bottom: 2em;
}

ol.plansite2 li{
list-style: disc none;
}

ol.plansite3 li{
list-style: circle;
font-weight: 500;
margin-bottom: 0;
}

/* === */


.effacer,
.valider,
.bouton{
color: #fff;
background: #cc0500;
border: 1px solid #cc0500;
margin: 0;
font-weight: 700;
}

.effacer{
border: 1px solid #cc0500;
color: #cc0500;
background: #fff;
}

/*************************************************
=Contexte =Rubrique
**************************************************/

#photo{
background-position: 50% 50%;
background-repeat: no-repeat;
color: #fff;
height: 80px;
padding: 0px 0 21px 0;
}

#photo div{
padding-left: 30px;
}

a#se_connecter{
display: block;
margin-left: 15px;
margin-top: 60px;
}

div.element_deco{
margin-bottom: 1.5em;
line-height: 160%;
}

div.element_deco h3{
font-family: "Times new roman", times, "vera serif", serif;
font-size: 1.3em;
border-bottom: 1px solid;
padding-bottom: 0.3em;
margin: 0 0 0.5em 0;
}

/* === Elements communs aux fiches === */

body.actualite p#thematique,
body.article p#thematique,
body.document p#thematique,
body.annuaireksup p#type_personnel,
body.annuaireetudiants p#date_naissance,
body.annuaireanciensetudiants p#date_naissance,
body.associationetudiant p#types_association,
body.cours p#disciplines,
body.laboratoire p#type_laboratoire,
body.offresstagesemplois p#type,
body.defaultstructureksup p#type_structure{
color: #ca0000;
font-size: 0.9em;
margin: 0.5em 0;
}

body.actualite p#date,
body.article p#date,
body.document div#auteurs{
color: #afb5b9;
font-size: 0.9em;
margin: 1em 0;
}

body.actualite p#resume,
body.article p#chapeau,
body.document p#resume{
border: 1px solid;
border-width: 1px 0;
font-family: "Times new roman", times, "vera serif", serif;
font-size: 1.3em;
font-weight: 700;
padding: 0.5em 0;
}

body.actualite div.photo,
body.article div.photo,
body.document div.photo{
float: left;
margin: 0 10px 0 0;
}

/* === =Fiche =Actualite === */

body.actualite div#description{
margin-bottom: 1.5em;
}

/* ===	=Fiche =Article === */

body.article p#soustitre,
body.document p#soustitre{
font-size: 1.3em;
margin: 0.5em 0;
}

/* ===	=Fiche =Document === */

body.document p#referenceisdn{
border-bottom: 1px solid;
margin: 1em 0;
padding-bottom: 0.5em;
}

/*=== Listes de definitions ===*/

/* de type 1 */

dl.type_1{
background: #fff;
border-bottom: 1px solid #555658;
position: relative;
/* width: 100%; */
margin: 1.5em 0;
}

dl.type_1 dt,
dl.type_1 dd{
border-top: 1px solid #555658;
}


dl.type_1 dt{
color: #555658;
font-weight: 700;
left: 22px;
margin: 0;
padding-top: 0.5em;
position: absolute;
/*width: 190px;*/
width: 18em;
}

dl.type_1 dd{
background: url(liste_definition_type_1_definition.png) no-repeat 7px 6px;
margin-left: 0;
padding: 0.5em 2%;
/*padding-left: 190px;*/
padding-left: 18em;
}


/* de type 1 dans fiche actualite
dl.type_1 .liste_def_contact,
dl.type_1 .liste_def_type,
dl.type_1 .liste_def_site,
dl.type_1 .liste_def_partenaires{
border-top: 1px solid #555658;
} */

/* de type 1 dans fiche document
dl.type_1 .liste_def_source, 
dl.type_1 .liste_def_editeur,
dl.type_1 .liste_def_type_document,
dl.type_1 .liste_def_dates,
dl.type_1 .liste_def_complement_info{
border-top: 1px solid 555658;
} */

/* de type 2 */

dl.type_2{
background: #fff url(liste_definition_type_2.png) repeat-y;
border-bottom: 1px solid #cbadb5;
border-top: 1px solid #cbadb5;
margin: 0 0 0.2em 0;
padding-bottom: 0.3em;
position: relative;
}

dl.type_2 dt{
font-weight: 700;
padding-top: 0.4em;
text-align: right;
width: 185px;
}

dl.type_2 dd{
margin: -14px 0 0 190px;
padding: 0 2%;
}

/* --- fin --- */

/* ===	=Commentaires === */

p#commenter, 
p#afficher_masquer_commentaires{
float: right;
font-size: xx-small;
}

p#commenter a,
p#afficher_masquer_commentaires a{
background-color: #e5e5e5;
border: 1px solid #686868;
color: #7C3345;
margin: 13px 0;
padding: 2px;
}

p#afficher_masquer_commentaires a{
margin-right: 10px;
}

a#lien_cache{
display: none;
}

a#commentaires_afficher{
display: block;
}

div#commentaires_masquer{
display: none;
}

div.commentaires_deco2{
border-right: 6px solid #332e44;
clear: both;
}

div.commentaires_deco1{
background: url(filet_droit.png) repeat-x bottom left;
}

div.commentaires_deco1 h3{
background: #fff url(com_h3_bgd.png) repeat-y;
border-top: 1px solid #332e44;
color: #fff;
font-size: 1em;
margin: 0;
padding: 20px 0 5px 5px;
}

div.commentaires_deco1 ul{
margin: 0;
}

ul#commentaires{
border-bottom: 1px solid #332e44;
padding: 0;
padding-left: 0 !important;
}

ul#commentaires li{
background-image: url(filet_droit.png);
background-position: bottom left;
background-repeat: repeat-x;
border-left: 1px solid #332e44;
list-style-type: none;
}

ul#commentaires a{
background-color: transparent;
}

li.niveau_1{
margin-top: 30px;
padding-left: 0;
}

li.niveau_1_premier{
margin-top: 0;
}

li.niveau_1 ul{
margin-left: 6px;
}

p.commentaires_titre{
background-color: #8bbfff;
border-top: 1px solid;
clear: both;
color: #000;
font-weight: 700;
margin: 0;
padding: 2px 0 2px 10px;
}

li.parite_0{
background-color: #d7f7ef;
}

li.parite_1{
background-color: #8bbfff;
}

p.commentaires_date,
p.commentaires_site{
background-color: #e4dff7;
border-left: 1px solid #332e44;
color: #6e858c;
font-size: x-small;
margin: 0 0 0 6px;
padding: 2px 5px;
}

p.commentaires_site,
p.commentaires_corps{
border-left: 1px solid #332e44;
border-top: 1px solid #6e858c;
}

span.commentaires_auteur{
border-left: 1px solid #6e858c;
padding-left: 5px;
}

div.commentaires_corps{
background-color: #fff;
border-left: 1px solid #332e44;
color: #184653;
margin-left: 6px;
padding: 2px 0 0 5px;
}

.com-new{
border-top: 30px solid #fff;
}

p.repondre{
background: #fff;
border-top: 1px solid #adb8ca;
margin: 5px 0 0 0;
}

p.repondre a{
border-left: 1px solid #7b3349;
border-right: 1px solid #7b3349;
color: #7b3349;
margin: 0 30px 0 380px;
padding: 0px 10px;
width: 5em;
}

/* ===	=Fiche =PageLibre === */

/*  ligne et colonnage */

div.ligne{
clear: left;
margin: 0;
}

div.premiere_ligne{
border: 0;
padding-top: 0;
}

div.colonne{
float: left;
}

div.colonne_deco{
margin-right: 10px;
padding: 0;
}

/* Fix Toolbox */
div.colonne_deco * li div{
display: inline;
}

div.derniere_colonne div.colonne_deco{
margin-right: 0;
}

div.premiere_colonne div.colonne_deco{
border: 0;
padding-left: 0;
}

/* styles de paragraphes */

div.sansstyle,
div.style1,
div.style2,
div.style3,
div.style4,
div.style5{
margin-bottom: 1.5em;
line-height: 160%;
}

/* --- */

div.style1 h3{
font-family: "Times new roman", times, "vera serif", serif;
margin: 0 0 0.3em 0;
font-size: 1.45em;
}

/* --- */

div.style2 h3{
color: #fff;
background: #cc0500;
font-family: "Times new roman", times, "vera serif", serif;
margin: 0 0 0.3em 0;
padding: 0.2em 1em;
font-size: 1.45em;
}


div.style2 div.style2_contenu{
padding: 0 0.8em;
}

/* --- */

div.style3 h3{
font-family: "Times new roman", times, "vera serif", serif;
border-bottom: 1px solid;
margin: 0 0 0.3em 0;
padding-bottom: 0.3em
}

/* --- */

div.style4{
background: #67747f;
color: #fff;
}

div.style4 h3{
font-family: "Times new roman", times, "vera serif", serif;
background-color: #1d316c;
margin: 0;
font-size: 1.45em;
padding: 0.2em 1em;
}

div.style4 div.style4_contenu{
padding: 0.3em 1.2em;
border: 1px solid #56616a;
}

div.style4 div.style4_contenu a{
color: #fff;
}

/* --- */

div.style5 h3{
font-family: "Times new roman", times, "vera serif", serif;
margin: 0 0 0.3em 0;
font-size: 1.45em;
color: #cc0500;
}

/* === */

div#contenu_avec_encadres ul#themes_recherche_avancee,
div#contenu_sans_encadres ul#themes_recherche_avancee{
font-weight: 700;
list-style: none;
padding: 0;
margin-top: 1.5em;
}

ul#themes_recherche_avancee li{
background:  url(themes_recherche_avancee.png) no-repeat 0 50%;
padding-left: 1.3em;
margin-bottom: 1.5em;
}

/********************************
=Fiche =Recherche_avancee
********************************/

form#recherche_avancee,
body.recherche form.gestion{
width: 97%;
}

form#recherche_avancee legend{
display: none;
}

form#recherche_avancee p,
body.recherche form.gestion p{
background: url(recherche_avancee_p.png) repeat-y 0 0;
border-bottom: 1px solid #555658;
clear: both;
margin: 0 0 1.5em 0;
overflow: auto;
padding: 0.5em 0 0.5em 20px;
}

body.recherche form.gestion p.msg-aide{
background: none;
border: 0;
padding: 0;
}

body.recherche form.gestion p#valider-formulaire{
background: none;
border: 0;
}

form#recherche_avancee label,
body.recherche form.gestion em,
body.recherche form.gestion label{
float: left;
font-weight: 700;
padding-left: 0;
width: 157px;
color: #555658;
}

body.recherche form.gestion p.radio label{
float: none;
font-weight: 700;
width: auto;
}

body.recherche form.gestion p.radio span{
margin: 0 0 0.5em 160px;
}

form#recherche_avancee label.no_float{
float: none;
}

form#recherche_avancee .ChampSaisie{
max-width: 360px;
font-size: 0.9em;
}

form#recherche_avancee input.bouton{
background-color: #fff;
border: 1px solid #333;
font-size: xx-small;
padding: 2px;
}

form#recherche_avancee p.boutons{
background-image: none;
border: 0;
text-align: right;
}

form#recherche_avancee p.boutons input{
font-size: 1em;
margin: 0 0 10px 10px;
padding: 2px;
}

/* page r?sultats de recherche  */

p#precisions_resultats{
font-weight: 700;
margin: 8px 0;
}

ul.liste_resultats{
margin-top: 1em;
}

ul.liste_resultats li{
margin-bottom: 1em;
list-style: url(puce.png);
}

ul.liste_resultats li a{
font-weight: 700;
}

a.precedent,
a.suivant,
a.premier,
a.dernier{
font-size: xx-small;
margin: 0 0 10px 10px;
padding: 2px;
}

/* === Listes d'affichage === */

div#contenu_avec_encadres ul.liste-objets,
div#contenu_sans_encadres ul.liste-objets{
padding-left: 0;
}

div#contenu_avec_encadres ul.liste-pardefaut li,
div#contenu_sans_encadres ul.liste-pardefaut li,
div#encadres ul.liste-pardefaut li{
list-style-type: none;
font-weight: 700;
}

ul.liste-documents li,
ul.liste-actualites li,
ul.liste-articles li,
ul.liste-formations{
clear: left;
list-style-type: none;
margin: 0 0 1.5em 0;
padding: 0;
list-style: square url(puce.png) inside;
}

ul.liste-detail li{
list-style-image: none;
list-style-position: outside;
list-style-type: none;
}

ul.liste-documents li a,
ul.liste-actualites a,
ul.liste-articles a{
padding-left: 0;
}

ul.liste-documents li span,
ul.liste-actualites li span,
ul.liste-articles li span{
display: block;
}

ul.liste-documents em,
ul.liste-actualites em,
ul.liste-articles em{
font-style: normal;
font-weight: 700;
margin: 0;
padding: 0;
}

ul.liste-documents a.telecharger-fichiers{
/*display: block;*/
}

ul.liste-documents span.soustitre-liste,
ul.liste-actualites span.soustitre-liste,
ul.liste-articles span.soustitre-liste{
font-weight: 500;
}

ul.liste-documents span.date-liste,
ul.liste-actualites span.date-liste,
ul.liste-articles span.date-liste{
color: #afb5b9;
}

div.style4 ul.liste-documents span.date-liste,
div.style4 ul.liste-actualites span.date-liste,
div.style4 ul.liste-articles span.date-liste{
color: #fff;
}

ul.liste-documents p,
ul.liste-actualites p,
ul.liste-articles p{
font-size: 1em;
margin: 0;
padding: 0;
}

ul.liste-pardefaut li{
list-style-type: disc;
}

ul.fluxrss li span{
display: block;
}

img.img-liste{
clear: left;
float: left;
margin: 7px 5px 0 0;
}

ul.liste-articles span.redac-liste{
font-size: 110%;
font-style: italic;
}

/* === =Contexte =Fiche =Collaboratif =Gestion === */

/* == layout du collaboratif ==*/

body.collaboratif div#navigation ul,
body.collaboratif div#navigation ol{
list-style: none;
}

body.collaboratif .ligne{
border: 0;
}

/* === end layout === */


/*** styles du collaboratif ***/

/*** Zone Centrale ***/
body.collaboratif .conteneursousparagrapheaccueil{
float: left;
margin-top: 2em;
padding-right: 3%;
width: 45%;
}

body.collaboratif .colonne{
margin-top: 2em;
width: 95%;
}

body.collaboratif .conteneursousparagraphealbum{
float: left;
margin-top: 2em;
width: 95%;
}

/****** Home - Tribu ****/

#responsables{
color: #000;
font-size: 1em;
font-style: italic;
margin: 0 0 15px 0;
}

/* Titres des Services */
h3.service{
background: url(escalier.gif) no-repeat 49% 0;
clear: both;
font-size: 110%;
font-weight: 700;
padding: 0.3em 60% 0.3em 10px;
position: relative;
}

/* Titres page tribu */
.conteneursousparagrapheaccueil h3.service{
background: url(escalier.gif) no-repeat 47% 0;
margin-bottom: 0;
}

/* Titre requeteur */
h3.service2{
background: url(escalier2.gif) no-repeat 49% 100%;
}

/*** Menus du Collaboratif ****/
#espace{
padding: 1em 10px 1em 20px;
}

div#navigation #espace h3{
font: 700 140% arial,verdana, sans-serif;
margin: 0;
}

p#logo_espace{
float: right;
}

body.collaboratif div#navigation ul{
line-height: 1.4;
margin: 1em 10px 1em 20px;
} 

/* Liste de mes espaces */

body.collaboratif div#navigation select,
body.collaboratif div#navigation label{
margin: 0.5em 0 0.5em 20px;
}

body.collaboratif div#navigation select{
font-size: 90%;
width: 120px;
}

form#liste_espaces input.valider{
height: 20px;
padding: 0;
vertical-align: text-bottom;
}

/* ====================
Fiches collaboratives
==================== */

.contenu_liste{
margin: 1em 0 1em 0;
padding: 0;
}

div.contact{
color: #37535b;
}

h3.contact{
font: normal 1.4em/1.1  verdana, arial, sans-serif;
font-weight: 500;
}

ul.list_collab li{
margin: 0 0 0.4em 0;
}

table.list_collab{
border: 1px solid;
width: 100%;
}

table.list_collab td{
width: 25%;
}

table.list_collab th{
text-align: left;
}

.publie_news{
color: #332e44;
font-size: 85%;
margin: 0;
padding: 2px 0;
}

#para_doc{
color: #000;
margin-bottom: 0.7em;
margin-top: 0.7em;
}

/* photo album */
.pagination_album{
clear: both;
padding-top: 20px;
text-align: center;
}

.slide-mount{
background-color: #eee;
border: 1px solid #332e44;
float: left;
height: 200px;
margin: 23px 8px 0 8px;
text-align: center;
width: 200px;
}

.slide-mount img{
cursor: pointer;
}

.ligne-photo{
clear: left;
}

.ligne-photo{
float: left;
}

.last-photo{
margin-right: 0;
}

.slide-mount img{
border: 1px solid #737373;
}

#verrou{
color: #f00;
margin-top: 10px;
text-align: center;
}

/* ****** Menu collab a gauche ******** */

#menu_collab{
background-color: #f5f5f5;
border: 1px solid #a5b3c1;
border-bottom: 0;
margin: 40px 0 10px 0;
width: 100%;
}

#menu_collab ul{
line-height: normal;
list-style: none;
text-align: right;
}

#menu_collab li{
border-bottom: 1px solid #a5b3c1;
}

#menu_collab a{
border-bottom: 2px solid #eee;
border-top: 2px solid #fff;
color: #AE3F76;
display: block;
font-size: 100%;
font-weight: 700;
padding: 3px 5px;
}

#menu_collab_2{
background-color: #f5f5f5;
border: 1px solid #a5b3c1;
border-bottom: 0;
margin: 10px 0 10px 0;
width: 100%;
}

#menu_collab_2 ul{
line-height: normal;
list-style: none;
text-align: right;
}

#menu_collab_2 li{
border-bottom: 1px solid #a5b3c1;
}

#menu_collab_2 a{
border-bottom: 2px solid #eee;
border-top: 2px solid #fff;
color: #49737f;
display: block;
font-size: 100%;
font-weight: 700;
padding: 3px 5px;
}

/* ********** =Formulaires de =Gestion ********* */

/* Espacement */
.gestion p,
.gestion div{
margin: 0.5em 0;
}

form.gestion p{
margin: 0 0 1em;
}

/* pour que l'arborescence du document s'affiche correctement */
.gestion div.dtree div{
margin: 0;
}

.gestion div.toolbox div{
border: 0;
margin: 0;
padding-top: .5em;
}

.gestion div.liste_multivaluee table{
border: 0;
border-collapse: separate;
margin: 0;
padding: 0;
width: auto;
}

.gestion div.liste_multivaluee td{
border: 0;
padding: 5px;
vertical-align: top;
}

.gestion div.liste_multivaluee select{
width: 200px;
}
.gestion div.liste_multivaluee option{
width: 200px;
}

.gestion .preliminaire{
margin: 0 0 3em 0;
}

.gestion .champ-texte,
.gestion label, 
.gestion span{
padding: 2px;
}

.gestion iframe{
width: 450px;
} /* taille de la toolbox */

/* Messages d'erreurs et autres */
#msg-alerte,
#msg-erreur,
#msg-confirmation{
float: none;
background: #eee;
border: 2px solid;
font-weight: 700;
padding: 0.5em;
text-align: center;
width: auto;
}

#msg-alerte{
color: #df9300;
}

#msg-erreur{
color: #cc0500;
}

#msg-confirmation{
color: #8abf23;
}

#msg-alerte a,
#msg-erreur a,
#msg-confirmation a{
}

/* Typo */
.gestion{
font-size: 1.1em;
}

.gestion input,
.gestion textarea{
font-size: 1em;
}

/*
.gestion,
.gestion div,
.gestion p,
.gestion label, 
.gestion span, 
.gestion .preliminaire, 
.gestion iframe,
.gestion textarea,
.gestion select,
.bouton{
color: #000;
}
*/

.gestion .obligatoire{
color: #f11b03;
}

.gestion span.msg-aide{
color: #666;
font-size: .9em;
}

.gestion .champ-texte,
.gestion iframe,
.gestion textarea{
border-color: #666 #ccc #ccc #666;
border-style: solid;
border-width: 1px;
}

.bouton:hover{
text-decoration: none;
}

.gestion .champ-texte:focus,
.gestion select:focus,
.gestion input:focus{
background: #ffc;
}

.gestion #valider-formulaire{
border-top: 2px solid #ccc;
float: none;
padding-top: 1em;
text-align: right;
}

.gestion input.readonly{
border: 0;
}

.gestion input.readonly:focus{
background: transparent;
}

form.gestion fieldset{
background-color: #f7f7f7;
border: 0;
clear: left;
margin-top: 1em;
padding-left: 0.5em;
width: 100%;
}

form.gestion fieldset legend{
color: #ff5715;
font-size: 1.1em;
font-weight: 700;
}

/*** Mode Colonne 
a gauche on a ou bien des label, des span.libelle
a droite on a des label.bouton
***/

.en-colonne label.label-bouton{
display: inline;
float: none;
}

.en-colonne label,
.en-colonne span.libelle, /* doit se comporter comme un label */
.en-colonne .multi-col span{
float: left;
font-weight: 700;
width: 200px;
}

div#encadres .en-colonne span.libelle,
div#encadres .en-colonne label,
div#encadres .en-colonne .multi-col span{
float: none;
}
div#responsable_formation{
	border-top : 1px solid #8C8C8C;
	margin-left : -5px;
	margin-right : -5px;
}



.en-colonne .colonne-droite{
clear: none;
float: none;
margin: 0;
padding-left: 135px;
width: auto;
}

.en-colonne label.label-bouton,
.en-colonne label .msg-aide{
font-weight: 500;
}

.gestion label.date-jour,
.gestion label.date-mois,
.gestion label.date-annee{
display: inline;
float: none;
margin-right: 5px;
}

.en-colonne div,
.en-colonne p{
clear: left;
float: left;
}

.en-colonne div,
.en-colonne p{
margin-left: 0;
margin-right: 0;
padding-left: 0;
padding-right: 0;
width: 100%;
}

.en-colonne div.toolbox p,
.en-colonne div.toolbox div{
clear: none;
float: none;
}

.en-colonne .multi-col table{
border: 0;
margin-left: 0;
padding-left: 0;
width: auto;
}

.en-colonne .multi-col table tr{
border: 0;
}

.en-colonne .multi-col table td{
border: 0;
line-height: 1.5;
padding-left: 0;
}

.en-colonne .multi-col table td *{
vertical-align: middle;
}

.en-colonne table label{
float: none;
width: auto;
}

.en-colonne .multivalue table{
background: #eee;
}

.en-colonne .multivalue table td{
padding: 15px;
}

.en-colonne .multivalue table .champ-texte{
width: 150px;
}

.en-colonne .multivalue select{
height: 108px;
width: 350px;
}

#liste-fichier{
clear: none;
float: left;
margin-top: 0;
width: 30%;
}

#liste-fichier input{
margin-bottom: 4px;
}

#inner-fichier{
margin: 0;
padding: 0;
}

/*** Nb Resultats par page ***/

.gestion #resultats_par_page input.champ-texte{
width: 3em;
}

/** Tableau de Bord - Ecran de =Gestion **************/

.gestion table,
.gestion th,
.gestion td {
font-family: verdana, arial, sans-serif;
font-size: 100%;
}

.gestion table{
border-collapse: collapse;
border-top: 1px solid #ccc;
line-height: 1.3;
margin: 1em 0;
width: 100%;
}

.gestion .conteneursousparagrapheaccueil table{
margin-top: 0;
}

.gestion th{
color: #332e44;
text-align: left;
}

.gestion th a{
color: #332e44;
text-decoration: underline;
}

.gestion td,
.gestion th{
padding: 3px 10px;
vertical-align: text-top;
}

.gestion tr {
border-bottom: 1px solid #ccc;
}

.gestion .odd td, .gestion .odd td a{
background-color: #d2e0e2;
}

.gestion .even td, .gestion .even td a{
background-color: #fff;
}

.gestion table img{
border: 0;
vertical-align: bottom;
}

.gestion table.layout td img{
border: 0;
vertical-align: bottom;
}

p.radio label{
float: none;
width: auto;
}
p.radio em{
float: left;
width: 200px;
font-style: normal;
font-weight: bold;
padding:2px;
}

p.radio span{
display: block;
margin-left: 200px;
}



/*** Liste horizontale de liens ***/

p#tableau_ajout{
float: none;
}

.liste-horizontale,
.liste-horizontale li,
div.liste-horizontale ul,
div.liste-horizontale li{
margin: 0;
padding: 0;
}

ul.liste-horizontale,
div.liste-horizontale ul{
list-style-type: none;
padding-left: 0 !important;
}

ul.liste-horizontale li,
div.liste-horizontale li{
display: inline;
}

.liste-horizontale li a,
div.liste-horizontale li a{
border-right: 1px solid #ccc;
margin: 0 5px 0 0;
padding: 0 5px 0 0;
}

/*.liste-horizontale li:first-child  a{
border-left: 0;
margin-left: 0;
padding-left: 0;
}*/

/* =commentaires =collaboratif */

body.collaboratif .commentaires_deco2{
margin-top: 15px;
}

/* ecran preferences utilisateur */

form#preferences_utilisateur fieldset{
background: #fff;
border-bottom: 2px solid #eee;
margin-bottom: 1.5em;
padding-bottom: 1em;
}

form#preferences_utilisateur legend{
background: #fff;
color: #f16d15;
display: block;
font-size: 1.1em;
font-weight: 700 !important;
margin-bottom: 0.5em;
}

/* === Pagination pour album === */

.pagination{
text-align: center;
}

.pagination img{
border: 0;
margin: 0 5px;
vertical-align: baseline;
}

.pagination{
font-weight: 700;
}

.pagination a,
.pagination a:hover{
font-weight: 500;
text-decoration: none;
}

/* === r?dacteur - date modif - contact rubrique === */

p#redacteur,
p#date_modification,
#contact_rubrique{
margin: 0;
text-align: right;
clear: both;
position: relative;
}

/************************
=Bloc =Encadres
*************************/

div#encadres{
float: left;
width: 205px;
}

body.collaboratif div#encadres{
display: none;
}

/*
4 types d'encadres: 
- Generique
- De rubrique
- De fiche
- De recherche contextuelle
*/

/* ------------------------------------------------
encadres de fiche, de navigation rubrique, automatique de fiche
------------------------------------------------ */

div.encadre_generique,
div.encadre_rubrique,
div.encadre_fiche,
div.encadre_auto_fiche,
div.encadre_nav_auto,
div.encadre_recherche{
margin-bottom: 2.7em;
}

div.encadre_auto_fiche_contenu{
background: #eef0f8;
}

div#encadres h3{
color: #fff;
background-color: #1d316c;
font-size: 1em;
font-weight: 700;
padding: 0.5em 1em;
margin: 0;
}

div#encadres div.couleur2 h3{
background-color: #cc0500;
}

div#encadres div.encadre_recherche h3{
color: #555658;
background-color: #fff;
border-top: 1px solid #828282;
border-left: 1px solid #828282;
}

div.encadre_generique_contenu,
div.encadre_rubrique_contenu,
div.encadre_fiche_contenu,
div.encadre_auto_fiche_contenu,
div.encadre_nav_auto_contenu,
div.encadre_recherche form{
padding: 0.6em 0.8em;
border: 1px solid #828282;
border-right: 0;
border-bottom: none;
}

div.encadre_auto_fiche ul#telecharger{
margin: 0;
padding: 0;

/*
background: cyan;
position: relative;
width: 205px;
top: -7px;
left: -9px;
*/
}

div.encadre_auto_fiche ul#telecharger li{
list-style-type: none;
background-repeat : no-repeat;
}

div.encadre_auto_fiche ul#telecharger li a{
padding-left : 0px; /*padding-left : 20px;*/
}

/* === Type de fichier-joint === */

ul#fichiersjoints{
margin: 0.5em 0 0 0;
padding: 0;
position: relative;
}

ul#fichiersjoints li{
list-style-type: none;
position: relative;
}

li.pdf,
li.doc,
li.xls,
li.ppt,
li.sxw,
li.sxc,
li.sxi,
li.image,
li.defaut{
background-color: transparent;
background-position: 100% 50%;
background-repeat: no-repeat;
margin: 0;
padding: 3px 20px 3px 0;
}

li.pdf{
background-image: url(pdf.png);
}

li.doc{
background-image: url(msword.png);
}

li.xls{
background-image: url(msexcel.png);
}

li.ppt{
background-image: url(mspowerpoint.png);
}

li.sxw{
background-image: url(ooo_texte.png);
}

li.sxc{
background-image: url(ooo_classeur.png);
}

li.sxi{
background-image: url(ooo_presentation.png);
}

li.image{
background-image: url(image.png);
}

li.defaut{
background-image: url(defaut.png);
}

/* ===================
encadres de recherche
==================== */

div.encadre_recherche p{
margin: 1em 0;
}

div.encadre_recherche p.date_du_au input{
width: 140px;
}

div.encadre_recherche p.checkbox label{
display: inline;
}

div.encadre_recherche p.checkbox em{
display: block;
}

div.encadre_recherche label{
display: block;
font-size: x-small;
color: #555658;
}

div.encadre_recherche legend{
display: none;
}

div.encadre_recherche .champ-saisie{
border: 1px solid #a7a9ac;
width: 162px;
}

div.encadre_recherche select{
border: 1px solid #a7a9ac;
width: 166px;
}

div.encadre_recherche a img{
vertical-align: middle;
}

div.encadre_recherche input.champ-saisie,
div.encadre_recherche select{
font-size: 0.8em;
font-family: verdana;
}

div.encadre_recherche input{
padding: 2px 1px;
}

div.encadre_recherche p.parcourir input.champ-saisie{
width: 100px;
vertical-align: top;
}

div.encadre_recherche p.parcourir input.valider{
padding: 1px 0;
font-size: 0.9em;
}

div.encadre_recherche p.button input{
font-size: 0.9em;
}

div.firstencadre{
border: 0;
}


/* ====================
=Bloc =Pied de Page
==================== */

div#pied_page{
border-top: 1px solid #fff;
background-color: #1d316c;
clear: both;
color: #fff;
position: relative;
}

div#pied_page a{
color: #fff;
text-decoration: none;
}

div#pied_page a:hover{
text-decoration: underline;
}

/* === outils === */

ul#outils{
list-style: none;
position: absolute;
right: 1em;
top: 0.7em;
}

ul#outils li{
display: inline;
}

/* =Adresse bas de page ===*/

div#pied_page address{
font-style: normal;
padding: 0.7em 1em;
}

/* ===*/

p#liens_pratiques{
display: none;
margin: 0 0 0 20px;
}

p#liens_pratiques a{
color: #fff;
}

p#liens_pratiques a.rss{
background: url(http://www.u-paris2.fr/jsp/styles/defaut/img/rss.png) no-repeat 0 50%;
padding-left: 17px;
}

/* ==================
=Contexte =Popup
================== */

body.popup{
background: #fff;
padding: 1em;
font-size: 0.7em;
}

body.popup h3{
font-family: "Times new roman", times, "vera serif", serif;
border-bottom: 1px solid;
}

/* ==================
=newsletter
================== */

body#newsletter ul,
body#newsletter ol{
margin: 0 1em;
padding: 0 1em;
}

body#newsletter p#affichage_incorrect{
color: #c00;
font-size: 11px;
font-family: verdana, arial, sans-serif;
font-weight: 700;
display: block;
padding: 0.2em 10px;
margin: 0 auto;
width: 730px;
}

body#newsletter table,
body#newsletter td{
font-size: 1em;
}

body#newsletter div#page{
color: #000;
background: #fff;
border: 1px solid #a7a9ac;
width: 750px;
}

body#newsletter img#bandeau{
border-bottom: 1px solid #757678;
margin-bottom: 35px;
}