div#page{
margin-top: 54px;
}

div#bandeau{
background: #56616a url(bandeau.jpg.1) no-repeat 500px 0;
height: 206px;
border-right: 55px solid #fff;
}

ul#langues{
top: 3px;
right: -50px;
}

form#recherche_simple{
top: -54px;
}

form#recherche_simple p#vers_recherche_avancee{
top: 31px;
}

h1{
width: 500px;
background: url(rubrique_site.jpg) no-repeat 293px 0;
height: 206px;
}

p#accroche{
background: #56616a;
font-weight: 700;
font-family: "Times new roman", times, "vera serif", serif;
font-size: 1.5em;
color: #fff;
position: absolute;
top: 178px;
left: 500px;
margin: 0;
line-height: 27px;
padding-left: 30px;
width: 415px;
}

p#accroche span{
font-size: 0.8em;
}

div#contenu_deco{
margin-top: 23px;
margin-bottom: 70px;
}

div#contenu_avec_encadres,
div#contenu_sans_encadres{
margin: 0;
}

h2{
font-weight: 700;
}

div.style1 h3,
div.style2 h3,
div.style3 h3,
div.style4 h3,
div.style5 h3{
font-family: arial, sans-serif;
font-size: 1.3em;
}

div#encadres h3{
font-size: 1.3em;
}