/****************************************************************/
/* PARAMETRES INITIAUX */
/****************************************************************/

table, div, form, p, h1, h2, h3,
h4, h5, h6, h7, pre, blockquote, ul, li, dl,
dt, dd, th, td, fieldset, img {
        margin: 0;
        padding: 0;
        font-weight: normal;
}

ol {
        font-weight: normal;
}

img {border: none}

.alignleft {text-align: left;}
.alignright {text-align: right;}
.aligncenter {text-align: center;}
img.alignleft {float: left; margin-right: 10px;}
img.alignright {float: right; margin-left: 10px;}
.clear {clear: both;}
.skipper {display: none;}
.adder {display: block;}


/****************************************************************/
/* SITE */
/****************************************************************/

input, select, textarea, optgroup {margin: 0}

select {font-size: 11px;}

abbr, acronym {
  cursor: help;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
    font-size: 11px;
    background-color: #fff;
    background-image: url(arriere-plan.png);
    background-repeat: repeat-x;
}

.paragraphe {
    text-align: justify;
}

h4 {
    margin: 4px 0 4px 0;
    font-size: 1em;
    font-weight: bold;
}

h5 {
    margin: 4px 0 4px 0;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 20px;
    background: url(h5.png) no-repeat center left;
}

h6 {
    margin: 4px 0 4px 0;
    font-size: 0.8em;
    font-weight: normal;
}

.site h2 {
    margin-bottom: 15px;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 25px;
    padding: 0 0 0 8px;
    background-color: #E4E2E7;
    color: #000;
}

.site h2.titre-page {
    text-align: right;
    padding: 0 8px 0 0;
}

.accueil h2 {
    color: #dd081e;
    font-weight: bold;
    padding: 4px 0 4px 0;
    margin-bottom: 6px;
    font-size: 1.4em;
    line-height: 20px;
}

div.clear {
    clear: both;
    height: 0;
    width: 0;
}

div.clear-left {
    clear: left;
    height: 0;
    width: 0;
}

div.clear-right {
    clear: right;
    height: 0;
    width: 0;
}

#document {
    position: relative;
    width: 1000px;
	margin-left: auto;
	margin-right: auto;
    background: url(relief_gauche.gif) repeat-y top left;
}

#document ul {
    height: 100%;
    list-style: none;
}

.inDocument {
    width: 952px;
    padding-left: 24px;
    padding-right: 24px;
    background-image: url(relief_droite.gif);
    background-repeat: repeat-y;
    background-position: top right;
}

.inDocument2 {
    background-color: #fff;
}

#corps a {
    text-decoration: none;
    color: #e2001a;
}
#corps a:hover {
    text-decoration: underline;
}

#documentHaut {
    position: relative;
    width: 1000px;
	margin-left: auto;
	margin-right: auto;
    background-color: #3f4c5c;
    height: 20px;
    color: #fff;
    text-align: right;
}

#documentHaut img {
    margin-right: 4px;
}

.documentHautDroit {
    width: 24px;
    height: 20px;
    margin: 0;
    padding: 0;
    background: url(relief_haut_droite.gif) no-repeat;
    float: right;
}

.documentHautGauche {
    width: 24px;
    height: 20px;
    margin: 0;
    padding: 0;
    background: url(relief_haut_gauche.gif) no-repeat;
    float: left;
}

#documentBas {
    position: relative;
    width: 1000px;
	margin-left: auto;
	margin-right: auto;
    height: 20px;
}

.documentBas {
    width: 952px;
    height: 20px;
    background: url(relief_bas.gif) repeat-x;
    float: left;
}

.documentBasDroit {
    width: 24px;
    height: 20px;
    margin: 0;
    padding: 0;
    background: url(relief_bas_droite.gif) no-repeat;
    float: right;
}

.documentBasGauche {
    width: 24px;
    height: 20px;
    margin: 0;
    padding: 0;
    background: url(relief_bas_gauche.gif) no-repeat;
    float: left;
}

#documentHaut a {
    line-height: 17px;
    color: #fff;
    text-decoration: none;
    float: right;
}

#documentHaut div.sep {
    background-image: url(sep-sur-menu.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 20px;
    width: 5px;
    float: right;
    margin-left: 4px;
    margin-right: 4px;
}

#documentHaut img {
    padding-top: 2px;
}

#bandeauFond {
  background-color: #3F4C5C;
  height: 139px;
  margin : 0;
  padding : 0;
}

#bandeauBas {
    background-image: url(bandeau-bas.jpg);
    background-repeat: repeat-x;
    height: 32px;
}

#bandeau {
    position: relative;
    width: 100%;
    height: 140px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#logo {
	margin : 0;
	padding : 0;
    height: 140px;
}

#navPrimaire {
    position: absolute;
    top: 131px;
    left: 27px;
    width: 1000px;
}

#navPrimaire ul {
    position: relative;
    line-height: 20px;
    height: 20px;
    padding-left: 4px;
    list-style: none;
}

#navPrimaire li {
    float: left;
    height: 20px;
}

#navPrimaire li.bg {
    width: 10px;
    margin-left: 4px;
    background-image: url(bd-gauche.gif);
}

#navPrimaire li.bm {
    background-color: #fff;
    padding-left: 4px;
    padding-right: 4px;
}

#navPrimaire li.bm_gauche, #navPrimaire li.bm_droit {
    background-color: #fff;
}

#navPrimaire li.bd {
    width: 10px;
    background-image: url(bd-droit.gif);
}

#navPrimaire li.bd-recherche {
    width: 16px;
    background-image: url(bd-droit_recherche.gif);
    margin: 0;
    padding: 0;
}

#navPrimaire a {
    text-decoration: none;
    color: #3e4c5b;
    font-weight: bold;
}

#navPrimaire li img {
    vertical-align: middle;
}

#navPrimaire input.champ {
    background-image: url(input-recherche.gif);
    border: none;
    height: 14px;
    width: 97px;
    margin-top: 2px;
    margin-right: 2px;
    font-size: 1.1em;
    padding: 2px;
}

#navPrimaire div.btn-recherche {
    background-image: url(http://www.cg73.fr/include/css/DMN_REFONTE/images/fleche.jpg);
    background-repeat: no-repeat;
    width: 10px;
    height: 20px;
    display: inline;
}

#navigation {
    position: relative;
    top: 16px;
    text-align: center;
}

#navigation ul {
    list-style: none;
}

#navigation li {
    display: inline;
}

#navigation a {
    text-decoration: none;
    color: #3e4c5b;
    font-weight: bold;
}

#navigation span {
    font-weight: bold;
}

#navigation li.dot {
    width: 3px;
    height: 3px;
    vertical-align: middle;
    margin: 0 6px;
}

#navigation li.dot-bords {
    margin: 0;
}


#navigation-2760 li.dot {
    background-image: url(dot-list_1.gif);
    background-repeat: no-repeat;
    background-position: left;
}
#navigation-2760 li a:hover,  #navigation-2760 li span {
    color: #e2001a;
}
#navigation-2759 li.dot {
    background-image: url(dot-list_2.gif);
    background-repeat: no-repeat;
    background-position: left;
}
#navigation-2759 li a:hover,  #navigation-2759 li span {
    color: #036ea3;
}
#navigation-2762 li.dot {
    background-image: url(dot-list_3.gif);
    background-repeat: no-repeat;
    background-position: left;
}
#navigation-2762 li a:hover,  #navigation-2762 li span {
    color: #5a8222;
}
#navigation-2763 li.dot {
    background-image: url(dot-list_4.gif);
    background-repeat: no-repeat;
    background-position: left;
}
#navigation-2763 li a:hover,  #navigation-2763 li span {
    color: #b3025a;
}
#navigation-2761 li.dot {
    background-image: url(dot-list_5.gif);
    background-repeat: no-repeat;
    background-position: left;
}
#navigation-2761 li a:hover,  #navigation-2761 li span{
    color: #f26d01;
}

#navPrimaire li.bg_selected-2760, #navPrimaire li.bg_static_selected-2760 {background-image: url(bd-gauche_1.gif);}
#navPrimaire li.bm_selected-2760, #navPrimaire li.bm_static_selected-2760 {background-color: #e2001a;}
#navPrimaire li.bd_selected-2760, #navPrimaire li.bd_static_selected-2760 {background-image: url(bd-droit_1.gif);}
#navPrimaire li.bm_selected-2760 a, #navPrimaire li.bm_static_selected-2760 a {color: #fff;}

#navPrimaire li.bg_selected-2759, #navPrimaire li.bg_static_selected-2759 {background-image: url(bd-gauche_2.gif);}
#navPrimaire li.bm_selected-2759, #navPrimaire li.bm_static_selected-2759 {background-color: #036ea3;}
#navPrimaire li.bd_selected-2759, #navPrimaire li.bd_static_selected-2759 {background-image: url(bd-droit_2.gif);}
#navPrimaire li.bm_selected-2759 a, #navPrimaire li.bm_static_selected-2759 a {color: #fff;}

#navPrimaire li.bg_selected-2762, #navPrimaire li.bg_static_selected-2762 {background-image: url(bd-gauche_3.gif);}
#navPrimaire li.bm_selected-2762, #navPrimaire li.bm_static_selected-2762 {background-color: #5a8222;}
#navPrimaire li.bd_selected-2762, #navPrimaire li.bd_static_selected-2762 {background-image: url(bd-droit_3.gif);}
#navPrimaire li.bm_selected-2762 a, #navPrimaire li.bm_static_selected-2762 a {color: #fff;}

#navPrimaire li.bg_selected-2763, #navPrimaire li.bg_static_selected-2763 {background-image: url(bd-gauche_4.gif);}
#navPrimaire li.bm_selected-2763, #navPrimaire li.bm_static_selected-2763 {background-color: #b3025a;}
#navPrimaire li.bd_selected-2763, #navPrimaire li.bd_static_selected-2763 {background-image: url(bd-droit_4.gif);}
#navPrimaire li.bm_selected-2763 a, #navPrimaire li.bm_static_selected-2763 a {color: #fff;}

#navPrimaire li.bg_selected-2761, #navPrimaire li.bg_static_selected-2761 {background-image: url(bd-gauche_5.gif);}
#navPrimaire li.bm_selected-2761, #navPrimaire li.bm_static_selected-2761 {background-color: #f26d01;}
#navPrimaire li.bd_selected-2761, #navPrimaire li.bd_static_selected-2761 {background-image: url(bd-droit_5.gif);}
#navPrimaire li.bm_selected-2761 a, #navPrimaire li.bm_static_selected-2761 a {color: #fff;}

#colonnegauche {
    width: 190px;
    clear: left;
    float: left;
    padding: 0 9px 0 0;
    border-right: 1px solid #e0e0e0;
}

#colonnegauche h3, #colonnedroite h3 {
    display: block;
    background: url(puces.jpg) no-repeat center left #e4e2e7;
    font-weight: bold;
    padding:  0 0 0 28px;
    font-size: 1em;
    line-height: 20px;
    color: #3e4c5b;
}

#colonnegauche div.separe, #colonnedroite div.separe {
    display: block;
    background-image: url(sep.gif);
    background-repeat: repeat-x;
    height: 13px;
    border: 0;
    margin: 2px 0 2px 0;
}

#contenu div.separe {
    display: block;
    height: 13px;
    border: 0;
    margin: 2px 0 2px 0;
}

#colonnegauche ul li {
    line-height: 18px;
    width: 184px;
    padding-left: 6px;
}

#colonnegauche span.selected {
    font-weight: bold;
}

#colonnegauche ul.menu-gauche li {
    border-bottom: 1px dotted #fff;
}

#colonnegauche ul.menu-gauche li ul li {
    border-top: 1px dotted #fff;
    border-bottom: 0;
}

#colonnegauche ul.menu-gauche li ul li.premier {
    border-top: 0;
}

#corps .menu-gauche a {
    color: #000;
}

#corps .menu-gauche a:hover {
    font-weight: bold;
    text-decoration: none;
}

.titre-menu-gauche {
    font-weight: bold;
    padding-left: 4px;
    line-height: 20px;
    background: url(coin-sous-menu.png) no-repeat top right;
}

#corps .titre-menu-gauche a {
    color: #fff;
}

.corps-2760 .menu-gauche {
    background-color: #E2001A;
    background-image: url(menu-gauche_1.png);
}
.corps-2760 .titre-menu-gauche {
    background-color: #E2001A;
}
.corps-2760 h2 {
    background-color: #f3e5eb;
    color: #E2001A;
}
.corps-2760 .texte-section, .corps-2760 h3, .corps-2760 h4 {
    color: #E2001A;
}
.corps-2760 #colonnedroite .actualite h3 {
    background-color: #E2001A;
    color: #FFFFFF;
}

.corps-2759 .menu-gauche {
    background-color: #036EA3;
    background-image: url(menu-gauche_2.png);
}
.corps-2759 .titre-menu-gauche {
    background-color: #036EA3;
}
.corps-2759 h2 {
    background-color: #daebf5;
    color: #036EA3;
}
.corps-2759 .texte-section, .corps-2759 h3, .corps-2759 h4 {
    color: #036EA3;
}
.corps-2759 #colonnedroite .actualite h3 {
    background-color: #036EA3;
    color: #FFFFFF;
}

.corps-2762 .menu-gauche {
    background-color: #5a8222;
    background-image: url(menu-gauche_3.png);
}
.corps-2762 .titre-menu-gauche {
    background-color: #5a8222;
}
.corps-2762 h2 {
    background-color: #d3faa1;
    color: #5a8222;
}
.corps-2762 .texte-section, .corps-2762 h3, .corps-2762 h4 {
    color: #5a8222;
}
.corps-2762 #colonnedroite .actualite h3 {
    background-color: #5a8222;
    color: #FFFFFF;
}

.corps-2763 .menu-gauche {
    background-color: #B3025A;
    background-image: url(menu-gauche_4.png);
}
.corps-2763 .titre-menu-gauche {
    background-color: #B3025A;
}
.corps-2763 h2 {
    background-color: #f3d9e6;
    color: #B3025A;
}
.corps-2763 .texte-section, .corps-2763 h3, .corps-2763 h4 {
    color: #B3025A;
}
.corps-2763 #colonnedroite .actualite h3 {
    background-color: #B3025A;
    color: #FFFFFF;
}

.corps-2761 .menu-gauche {
    background-color: #F26D01;
    background-image: url(menu-gauche_5.png);
}
.corps-2761 .titre-menu-gauche {
    background-color: #F26D01;
}
.corps-2761 h2 {
    background-color: #fedbbc;
    color: #F26D01;
}
.corps-2761 .texte-section, .corps-2761 h3, .corps-2761 h4 {
    color: #F26D01;
}
.corps-2761 #colonnedroite .actualite h3 {
    background-color: #F26D01;
    color: #FFFFFF;
}

/* Offres d'emploi */
.PGS_RECRUTEMENT h2 {
    background-color: #E2001A;
    color: #fff;
    margin-bottom: 0;
}
.PGS_RECRUTEMENT h4 {
    background-color: #E2001A;
    color: #fff;
    line-height: 20px;
    padding-left: 12px;
}

.PGS_RECRUTEMENT h6 {
    color: #E2001A;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    padding-left: 0;
}
#corps.PGS_RECRUTEMENT ul.rubriques {
    background: #ebebeb;
    padding: 20px 0 12px 0;
}
.PGS_RECRUTEMENT ul.rubriques li {
    list-style: none;
    height: 20px;
    line-height: 20px;
    background: #f7f7f7;
    margin-bottom: 4px;
}
.PGS_RECRUTEMENT .rubriques .libelle, .PGS_RECRUTEMENT .rubriques .compte, .PGS_RECRUTEMENT .rubriques .plus {
    float: left;
}
.PGS_RECRUTEMENT .rubriques .libelle {
    padding-left: 10px;
    font-weight: bold;
    width: 172px;
}
.PGS_RECRUTEMENT .rubriques .compte {
    width: 108px;
}
.PGS_RECRUTEMENT .rubriques .plus {
    margin-left: 92px;
}
.PGS_RECRUTEMENT .offre {
    margin-left: 35px;
}
.PGS_RECRUTEMENT h5 {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 8px;
    background-image: url(services-aides-dotrecherche.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 19px;
}
.PGS_RECRUTEMENT hr {
    height: 0;
    border-style: solid none none;
    border-top: 1px dashed #E2001A;
}
.PGS_RECRUTEMENT .titre {
    color: #E2001A;
    font-weight: bold;
    margin-top: 16px;
}
.PGS_RECRUTEMENT #contenu .titre {
    font-size: 14px;
}
.PGS_RECRUTEMENT .ajout-selection {
    float: right;
    background-image: url(plus-services-aides.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
}
.PGS_RECRUTEMENT .retrait-selection {
    float: right;
    background-image: url(moins-services-aides.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
}
.PGS_RECRUTEMENT .lien-selection {
    margin-left: 15px;
    background-image: url(services-aides-dotrecherche.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 19px;
    display: block;
}

/* Services et aides */
.PGS_GUIDE_AIDE h2, .TPL_SERVICES_AIDES h2, .PGS_EVENEMENT h2 {
    background-color: #E2001A;
    color: #fff;
}
.PGS_GUIDE_AIDE h4, .TPL_SERVICES_AIDES h4 {
    color: #E2001A;
    font-weight: bold;
    background-color: #FFF;
    line-height: normal;
    padding-left: 0px;
}
.PGS_GUIDE_AIDE h4.aide, .TPL_SERVICES_AIDES h4.aide {
    margin-bottom: 0;
}
.PGS_GUIDE_AIDE h5, .TPL_SERVICES_AIDES h5 {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 8px;
    background-image: url(services-aides-dotrecherche.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 19px;
}
.PGS_GUIDE_AIDE .PRS_CHIFFRES h3, .PRS_CHIFFRES h4, .PGS_GUIDE_AIDE .PRS_CHIFFRES h5, .PGS_GUIDE_AIDE .PRS_CHIFFRES h6 {
    color: #E2001A;
}
.PGS_GUIDE_AIDE hr, .TPL_SERVICES_AIDES hr {
    height: 0;
    border-style: solid none none;
    border-top: 1px dashed #E2001A;
}
.titre {
    color: #E2001A;
    font-weight: bold;
    margin-top: 16px;
}
#contenu .titre {
    font-size: 14px;
}
.PGS_GUIDE_AIDE .ajout-selection {
    float: right;
    background-image: url(plus-services-aides.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
}
.PGS_GUIDE_AIDE .retrait-selection {
    float: right;
    background-image: url(moins-services-aides.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
}
.PGS_GUIDE_AIDE .lien-selection {
    margin-left: 15px;
    background-image: url(services-aides-dotrecherche.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 19px;
    display: block;
}
div.bg {
    background-image: url(services-aides-bg.gif);
    background-repeat: repeat-x;
    padding-top: 4px;
}

#corps ul {
    list-style: disc;
    padding-left: 22px;
}

#corps #colonnegauche ul {
    list-style: none;
    padding-left: 0;
}


#contenu {
    width: 532px;
    float: left;
    margin-top: 2px;
    padding: 0 10px 0 10px;
}

.accueil #contenu h3 {
    background: #3e4c5b;
    color: #fff;
    font-weight: bold;
    padding: 4px 6px 4px 6px;
    margin-bottom: 6px;
    font-size: 1.4em;
    line-height: 20px;
}

.site #contenu h3, #bo_contenuPopup h3 {
    color: #dd081e;
    font-weight: bold;
    padding: 4px 0 4px 0;
    margin-bottom: 6px;
    font-size: 1.4em;
    line-height: 20px;
}

#chemin {
    width: 742px;
    float: left;
    clear: both;
    margin-top: 10px;
    padding: 0;
}

#chemin .inChemin {
    float: left;
}

#chemin span {
    color: #e2001a;
}

#chemin a {
    text-decoration: none;
    color: #3e4c5b;
}


#raccourci {
    float: right;
}

#raccourci ul, #pied ul {
    list-style: none;
}

#raccourci ul li, #pied ul li {
    float: left;
}

.sep-raccourci {
    background-image: url(sep_raccourci.gif);
    background-repeat: no-repeat;
    background-position: center top;
    vertical-align: top;
    padding-left: 2px;
    padding-right: 2px;
}

#colonnedroite {
    width: 190px;
    float: right;
    padding: 0 0 0 9px;
    border-left: 1px solid #e0e0e0;
    overflow: hidden;
}

#basPage {
    clear: both;
    height: 24px;
    background-image: url(bas_page.jpg);
    background-repeat: repeat-x;
}

#pied, #pied a {
    color: #778591;
    text-decoration: none;
}

.sep_contenu {
    background-color: #e4e2e7;
    border: 3px solid #e4e2e7;
    margin-bottom: 8px;
}

#colonneAccueil2G {
    float: left;
    width: 290px;
}

#colonneAccueil2D {
    float: left;
    width: 230px;
    padding-left: 10px;
}

#colonnePageG {
    float: left;
    width: 325px;
    padding-right: 20px;
}

#colonnePageD {
    float: left;
    width: 187px;
}

#colonnePageD .moduleRight {
    border-left: 3px solid #E4E2E7;
    padding-left: 10px;
}
#colonnePageD .PRS_BD_BLANC {
    border-left: none;
    padding-left: 13px;
}
#colonnePageD .TPL_PAROLE_ELU, #colonnePageD .TPL_ELUS_R, #colonnePageD .TPL_CANTONS_R {
    padding-left: 2px;
}
#colonnePageD .TPL_ZOOM_SUR, #colonnePageD .TPL_SA_R, #colonnePageD .TPL_SA_R_ID {
    padding-left: 0;
    border-left: 0;
}

.avecColonneMilieuDroite #colonnePageG, #colonnePageGSeule {
    width: 532px;
    padding-right: 10px;
}
.avecColonneMilieuDroite #colonnePageD {
    display: none;
}

#corps .agenda {
    margin: 0;
    padding: 0;
}

#corps .agenda div.lien {
    background-image: url(puce-agenda.gif);
    background-repeat: no-repeat;
    background-position: left center;
    margin: 4px 0 8px 2px;
    padding-left: 9px;
}

#corps .agenda div.lien a {
    color: #000;
    text-decoration: underline;
}

.servicePublic {
    text-align: center;
    margin-top: 10px;
}

p.europeEngage {
    text-align: center;
    margin-top: 10px;
}

div.europeEngage {
    color: #3E4C5B;
    margin-bottom: 8px;
}

.servicesAides {
    background-color: #e2001a;
    margin: 2px 0 0 0;
    width: 190px;
    overflow: hidden;
}

.servicesAides .particuliers {
    background: url(services-aides-particuliers.gif) #e2001a no-repeat;
    width: 190px;
    height: 101px;
    border-bottom: 1px dashed #f1808d;
}

.servicesAides .inParticuliers {
    color: #ff9999;
    margin-top: 2px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 10px;
}

.servicesAides .titre {
    color: #ff9999;
    margin-left: 10px;
    margin-top: 4px;
}

.servicesAides .sep-professionnels {
    position: relative;
    background: url(sep-professionnels.gif) no-repeat center;
    width: 100%;
    line-height: 8px;
    top: 24px;
}

.servicesAides .particuliers select {
    margin-top: 24px;
    margin-left: 14px;
    width: 158px;
}

.servicesAides .particuliers a {
    position: relative;
    top: 4px;
    left: 134px;
    font-weight: bold;
}

.servicesAides .professionnels {
    background: url(services-aides-professionnels.gif) #e2001a no-repeat;
    width: 190px;
    height: 144px;
    border-bottom: 1px solid #e93e4d;
}

.servicesAides .inProfessionnels {
    color: #ff9999;
    margin-top: 2px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 10px;
}
.servicesAides .inProfessionnels .titre {
    color: #ff9999;
    margin-left: 4px;
}

.servicesAides .professionnels select {
    position: relative;
    top: 25px;
    left: 14px;
    width: 158px;
}

.servicesAides .professionnels a {
    position: relative;
    top: 30px;
    left: 134px;
    font-weight: bold;
}

.servicesAides .selections {
    background: #f5cccc no-repeat top left;
    width: 189px;
    border-bottom: 1px solid #e2001a;
    border-right: 1px solid #f1515d;
    color: #660000;
}

.servicesAides .selections .inSelections {
    background: url(http://www.cg73.fr/include/css/DMN_REFONTE/images/services-aides-dot-lien.gif) no-repeat top left;
    margin-left: 4px;
    width: 80%;
}

.servicesAides .selections .inSelections .titre {
    padding: 10px;
    margin-top: 0;
    font-weight: normal;
    color: #660000;
    width: 190px;
}

.servicesAides .selections fieldset {
    border: 1px solid #660000;
    margin-bottom: 10px;
    width: 180px;
}
.tpl_pdc fieldset
{
background-color: #FEDBBC;
}

.tpl_pdc input.submit{
border: none;
    padding-right: 25px;
    padding-left: 0;
    height: 20px;
    width: 300px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
}
#corps .inSelections a {
    text-decoration: none;
}

.servicesAides .menu-servicesAides {
    background-color: #f5cccc;
}

.servicesAides .menu-servicesAides ul {
    width: 184px;
}

.servicesAides .menu-servicesAides li {
    background: url(services-aides-bd-droit.gif) no-repeat top right #e2001a;
    border-top: 1px solid #fff;
    color: #fff;
}
#corps .servicesAides .menu-servicesAides li a {
    color: #fff;
}

.liens-droits {
    text-align: center;
}

.liens-droits-sep img {
    background: url(sep_bord-droit.gif) no-repeat center left;
    padding: 0 0 0 2px;
}

#contenu .actualite .lien {
    margin-top: 4px;

}

#contenu .actualite {
    margin-bottom: 30px;

}

#contenu .actualite .video {
    float: left;
    width: 260px;
    text-align: center;
}

#contenu .actualite .texte {
    float: left;
    width: 260px;
    padding-left: 10px;
}

.alaune {
    margin-bottom: 10px;
}

/* Parole d'élu */
#contenu #paroleElu h3, #contenu #resultatElu h3 {
    font-weight: normal;
    display: block;
    z-index: 10000;
}
#contenu #paroleElu h3 span, #contenu #resultatElu h3 span {
    font-weight: bold;
}
.corps-2760 #paroleElu h3 {
    color: #E2001A;
}
.corps-2759 #paroleElu h3 {
    color: #036EA3;
}
.corps-2762 #paroleElu h3 {
    color: #5a8222;
}
.corps-2763 #paroleElu h3 {
    color: #B3025A;
}
.corps-2761 #paroleElu h3 {
    color: #F26D01;
}

#paroleElu .head, #resultatElu, #resultatCanton {
    background: url(fond-head-elu.png) no-repeat top left;
}
#paroleElu .head {
    padding-left: 10px;
}
#paroleElu p {
    display: inline;
}
#paroleElu .sep, #resultatElu .sep {
    clear: both;
    height: 4px;
    line-height: 4px;
    width: 190px;
}
#paroleElu .imageDetail, #resultatElu .imageDetail {
    float: left;
    padding-right: 4px;
    display: block;
}
#paroleElu .fonction, #resultatElu .fonction {
    float: left;
    display: block;
    width: 69px;
}
#paroleElu .imageDetail img, #resultatElu .imageDetail img {
    float: left;
    padding-right: 4px;
    width: 90px;
}
#paroleElu .texte p {
    font-weight: bold;
    clear: both;
    text-align: justify;
}
#paroleElu .texte {
    margin-bottom: 6px;
    padding-left: 10px;
}
#paroleElu a {
    margin-left: 10px;
}
#resultatElu .parole {
    font-weight: bold;
    float: right;
    width: 210px;
}
#resultatElu .infos {
    background: #ebebeb;
}
#resultatElu .lien_mail {
    padding: 10px 0 0 10px;
}
#resultatElu h4, #resultatCanton h4 {
    font-size: 12px;
    margin: 16px 10px 6px 10px;
}
#resultatElu .texte, #resultatCanton .texte {
    margin: 0px 10px 6px 10px;
}
#resultatElu, #resultatCanton {
    color: #3e4c5b;
}
#contenu #resultatCanton h3 {
    color: #b3025a;
    margin-bottom: 4px;
    margin-left: 10px;
}
#resultatCanton ul.liste_colonne {
    list-style: url(puce_lien.png);
}

/* Zoom sur */
#zoomSur {
        background: #fff;
        color: #fff;
        margin-top: 10px;
}
#contenu #zoomSur h3, #zoomSur h3 {
        font-style: italic;
        line-height: 24px;
        font-size: 14px;
        font-weight: normal;
        color: #FFFFFF;
        margin-bottom: 0;
        padding-left: 10px;
}
.corps-2760 #zoomSur h3 {
    background: url(fond-head-zoom-sur-2760.png) #3e4c5b no-repeat top right;
}
.corps-2759 #zoomSur h3 {
    background: url(fond-head-zoom-sur-2759.png) #036EA3 no-repeat top right;
}
.corps-2762 #zoomSur h3 {
    background: url(fond-head-zoom-sur-2762.png) #5a8222 no-repeat top right;
}
.corps-2763 #zoomSur h3 {
    background: url(fond-head-zoom-sur-2763.png) #B3025A no-repeat top right;
}
.corps-2761 #zoomSur h3 {
    background: url(fond-head-zoom-sur-2761.png) #FF7403 no-repeat top right;
}

#contenu #zoomSur h2, #zoomSur h2 {
        color: #fff;
        text-align: left;
        padding: 10px 0 0 0;
        margin-bottom: 4px;
        line-height: 16px;
}
.corps-2760 #zoomSur h2 {
    background: #65707c;
}
.corps-2759 #zoomSur h2 {
    background: #3388c2;
}
.corps-2762 #zoomSur h2 {
    background: #7b9b4e;
}
.corps-2763 #zoomSur h2 {
    background: #c2357b;
}
.corps-2761 #zoomSur h2 {
    background: #ff9035;
}

#contenu #zoomSur .texte, #zoomSur .texte {
        margin-top: 1px;
        padding: 0 10px 0 10px;
        text-align: justify;
}
.corps-2760 #zoomSur .texte {
    background: #65707c;
}
.corps-2759 #zoomSur .texte {
    background: #3388c2;
}
.corps-2762 #zoomSur .texte {
    background: #7b9b4e;
}
.corps-2763 #zoomSur .texte {
    background: #c2357b;
}
.corps-2761 #zoomSur .texte {
    background: #ff9035;
}

#contenu #zoomSur .lien, #zoomSur .lien {
        padding: 10px;
}
.corps-2760 #zoomSur .lien {
    background: #65707c;
}
.corps-2759 #zoomSur .lien {
    background: #3388c2;
}
.corps-2762 #zoomSur .lien {
    background: #7b9b4e;
}
.corps-2763 #zoomSur .lien {
    background: #c2357b;
}
.corps-2761 #zoomSur .lien {
    background: #ff9035;
}

#contenu #zoomSur .lien a, #zoomSur .lien a {
        background: url(fond-lien-zoom-sur.png) no-repeat top left #FFFFFF;
        display: block;
        line-height: 20px;
        padding-left: 14px;
}

/* Chiffres Cle */
#corps .PRS_CHIFFRES h2 {
    margin: 0;
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
    display: inline;
    background: #FFFFFF;
    padding: 0;
}
#corps .PRS_CHIFFRES h3 {
    margin: 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    display: inline;
    background: #FFFFFF;
    padding: 0;
}
#corps .PRS_CHIFFRES h4 {
    margin: 0;
    font-size: 11px;
    font-weight: bold;
    display: inline;
    background: #FFFFFF;
}
.corps-2760 #contenu .PRS_CHIFFRES h2, .corps-2760 #contenu .PRS_CHIFFRES h3, .corps-2760 #contenu .PRS_CHIFFRES h4 {
    color: #E2001A;
}
.corps-2759 #contenu .PRS_CHIFFRES h2, .corps-2759 #contenu .PRS_CHIFFRES h3, .corps-2759 #contenu .PRS_CHIFFRES h4 {
    color: #036EA3;
}
.corps-2762 #contenu .PRS_CHIFFRES h2, .corps-2762 #contenu .PRS_CHIFFRES h3, .corps-2762 #contenu .PRS_CHIFFRES h4 {
    color: #5a8222;
}
.corps-2763 #contenu .PRS_CHIFFRES h2, .corps-2763 #contenu .PRS_CHIFFRES h3, .corps-2763 #contenu .PRS_CHIFFRES h4 {
    color: #B3025A;
}
.corps-2761 #contenu .PRS_CHIFFRES h2, .corps-2761 #contenu .PRS_CHIFFRES h3, .corps-2761 #contenu .PRS_CHIFFRES h4 {
    color: #F26D01;
}

.corps-2760 #contenu .PRS_CHIFFRES {
    border-left: 3px solid #E2001A;
}
.corps-2759 #contenu .PRS_CHIFFRES {
    border-left: 3px solid #036EA3;
}
.corps-2762 #contenu .PRS_CHIFFRES {
    border-left: 3px solid #5a8222;
}
.corps-2763 #contenu .PRS_CHIFFRES {
    border-left: 3px solid #B3025A;
}
.corps-2761 #contenu .PRS_CHIFFRES {
    border-left: 3px solid #F26D01;
}


/* Publication */
#contenu .PRS_PUBLICATION h3, #colonnedroite .PRS_PUBLICATION h3 {
        background-color: #3e4c5b;
        color: #FFFFFF;
}
.PRS_PUBLICATION .contenu {
        text-align: center;
        margin: 6px 0 6px 0;
}
#corps .PRS_PUBLICATION a {
    color: #000;
}

/* Actualité de colonne */
#colonnedroite .actualite h4 {
        margin: 0 8px 10px 8px;
}
#colonnedroite .actualite {
        background: #ebebeb;
}
#colonnedroite div.right {
        float: right;
        width: 96px;
        padding-right: 10px;
}
#colonnedroite .actualite div.right {
        padding-right: 4px;
        font-weight: bold;
}
#colonnedroite .actualite .fond-haut p {
        font-weight: bold;
        margin: 0 8px 0 8px;
        text-align: justify;
}
#colonnedroite .actualite .fond p {
        margin: 0 8px 0 8px;
}
#colonnedroite .actualite .fond-haut {
        border-top: 2px solid #FFF;
        padding-top: 4px;
}
#colonnedroite .actualite hr {
        margin: 8px 0 8px 0;
        color: #FFF;
        border: 1px solid #FFF;
}
#colonnedroite .actualite img.alignleft {
        margin-right: 6px;
}

/* Site externe */
#colonnedroite div.publiExterne {
        background: url(bg-externe.png) repeat-x #222222 top left;
        color: #a5a5a5;
}
#colonnedroite h3.publiExterne {
        background-color: #171717;
        color: #FFFFFF;
        margin-bottom: 2px;
        font-weight: normal;
        font-size: 14px;
}
#colonnedroite div.publiExterne .liens {
        text-align:center;
        padding-bottom: 0.5em;
}
#colonnedroite div.publiExterne .liens img {
        margin: 2px;
}
#colonnedroite div.publiExterne .texte-haut {
        /*background: url(images/bg-externe-haut.png) repeat top left;*/
        padding: 1em 6px 0.5em 6px;
        text-align: center;
}
#colonnedroite div.publiExterne .texte-bas {
        /*background: url(images/bg-externe-bas.png) repeat top left;*/
        padding: 1em 6px 0.5em 6px;
}

/* Publications et vidéos */
.PGS_PUBLICATION h2 {
    color: #FFF;
    background: #3e4c5b;
}
.publi-video {
    width: 532px;
    background: #3e4c5b;
    padding-bottom: 2px;
}
#corps .publi-video ul {
    list-style: none;
    padding: 0;
}
.publi-video .recherche {
    line-height: 32px;
    height: 32px;
}
.publi-video .inRecherche {
    margin-left: auto;
    margin-right: auto;
    width: 410px;
}
.publi-video .onglets {
    line-height: 30px;
}
.publi-video .onglets ul {
    height: 30px;
    line-height: 30px;
    margin-left: 2px;
}
.publi-video .onglets ul li {
    float: left;
    line-height: 30px;
    height: 30px;
    font-weight: bold;
}
.publi-video .onglets ul li.bg {
    width: 14px;
    background: url(fond-bg-publi-videos.png) no-repeat top left;
}
.publi-video .onglets ul li.bd {
    width: 14px;
    background: url(fond-bd-publi-videos.png) no-repeat top left;
}
.publi-video .onglets ul li.bm {
    width: 236px;
    background: url(fond-bm-publi-videos.png) repeat-x top left;
    color: #c0c4c9;
    text-align: center;
    cursor: pointer;
}
.publi-video .onglets ul li.bg-selected {
    background: url(fond-bg-publi-videos-selected.png) no-repeat top left;
}
.publi-video .onglets ul li.bd-selected {
    background: url(fond-bd-publi-videos-selected.png) no-repeat top left;
}
.publi-video .onglets ul li.bm-selected {
    background: #ebebeb;
    color: #3e4c5b;
}
.publi-video .contenu {
    background: #ebebeb;
    clear: both;
    margin-left: 2px;
    width: 528px;
}
.publi-video .lien {
    height: 20px;
    line-height: 20px;
    padding-right: 8px;
    background: #ebebeb;
    clear: both;
    width: 520px;
    text-align: right;
}
.publi-video .lien a {
    background: url(fond-lien-publi-videos.png) no-repeat top left;
    padding-left: 14px;
}
.publi-video .publis a {
    background: url(picto-pdf.png) no-repeat top left;
    padding-left: 20px;
}
.publi-video .videos {
    height: 119px;
    background: #FFF;
    margin: 0 5px;
    padding: 26px 21px 45px 21px;
}
.publi-video .publis {
    background: #FFF;
    margin: 0 5px;
    padding: 26px 25px 4px 21px;
    display: none;
}
.publi-video .videos .element {
    float: left;
    width: 142px;
    margin-left: 25px;
}
.publi-video .videos .element div {
    width: 142px;
}
.publi-video .publis .element {
    float: left;
    margin-left: 10px;
    width: 110px;
    text-align: center;
}
.publi-video .publis .element img {
    width: 94px;
}
.publi-video .videos .element-g, .publi-video .publis .element-g {
    margin-left: 0;
}

/* A la une, paragraphe */
.PRS_ALAUNE {
    background: url(fond-publi.png) repeat-x top left;
}
.PRS_ALAUNE h3 {
}

/* Template services et aides */
#contenu #tplServicesAides h3 {
    padding-left: 23px;
    background: url(service-aide-tpl-titre.png) center left no-repeat #ebebeb;
    color: #3e4c5b;
    line-height: 10px;
    font-size: 1em;
    margin-bottom: 2px;
}
#tplServicesAides .contenu {
    background: #f5cccc;
    color: #660000;
    padding: 0 4px 6px 4px;
}
#tplServicesAides .resultats {
    background: #f5cccc;
    padding: 0 4px 6px 4px;
}
#contenu #tplServicesAides a {
    padding-left: 23px;
    padding-bottom: 6px;
    background: url(service-aide-tpl-aide.png) top left no-repeat;
    color: #660000;
    line-height: 12px;
    display: block;
}
#tplServicesAides .aides {
    background: #f5cccc;
    color: #660000;
    padding: 0 4px 6px 4px;
}
#tplServicesAides .titre {
    border-top: 1px #FFF dashed;
    color: #e2001a;
    font-weight: bold;
    padding: 6px 4px 4px 4px;
    margin-top: 0;
    font-size: 12px;
}
#tplServicesAides .pied {
    background: #e2001a;
    color: #FFF;
    padding: 0 4px 0 4px;
    text-align: justify;
}
#tplServicesAides {
    text-align: left;
}

/* Recherche elus/cantons */
#corps .tplRechercheEluCanton h3 {
    color: #fff;
    background-color: #3e4c5b;
}
#corps .tplRechercheElu h4, #corps .tplRechercheCanton h4 {
    color: #fff;
    background: #acacac;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    padding-left: 8px;
    margin-bottom: 0;
}
#corps .tplRechercheElu, #corps .tplRechercheCanton {
    background: #fff url(bg_elu_canton.png) repeat-x top left;
}
#corps .tplRechercheElu .sous-titre, #corps .tplRechercheCanton .sous-titre {
    background: #dadada;
    height: 3px;
    line-height: 3px;
}
#corps .tplRechercheElu .contenu, #corps .tplRechercheCanton .contenu {
    padding: 8px;
}
#corps .tplRechercheElu .recherche, #corps .tplRechercheCanton .recherche {
    padding-left: 8px;
    padding-right: 8px;
}
#corps .tplRechercheElu .recherche input, #corps .tplRechercheCanton .recherche input {
    background: #fff;
    padding-bottom: 4px;
    border: 1px solid #d4d4d4;
    width: 141px;
    padding-left: 26px;
    font-size:1.1em;
}
#corps .tplRechercheElu .recherche input.nom_elu {
    background: #fff url(icone_elu_nom.png) no-repeat top left;
}
#corps .tplRechercheElu .recherche input.commune_elu {
    background: #fff url(icone_elu_commune.png) no-repeat top left;
}
#corps .tplRechercheElu .recherche input.canton_elu {
    background: #fff url(icone_elu_canton.png) no-repeat top left;
}
#corps .tplRechercheElu .recherche input.domaine_comp {
    background: #fff url(icone_elu_competence.png) no-repeat top left;
}
#corps .tplRechercheElu .recherche input.submit, #corps .tplRechercheCanton .recherche input.submit {
    border: none;
    padding-right: 25px;
    padding-left: 0;
    height: 19px;
    line-height: 19px;
    width: 140px;
}
#corps .tplRechercheElu .recherche div.submit, #corps .tplRechercheCanton .recherche div.submit {
    text-align: right;
    margin-top: 4px;
    margin-right: 1px;
}
#corps .tplRechercheElu .recherche input.submit {
    background: url(icone_elu_submit.gif) no-repeat center right;
    color: #e2001a;
    cursor: pointer;
}
#corps .tplRechercheCanton .recherche input.submit {
    background: url(icone_canton_submit.gif) no-repeat center right;
    color: #b3025a;
    cursor: pointer;
}
#corps .tplRechercheCanton .recherche input.nom_canton {
    background: #fff url(icone_canton_nom.png) no-repeat top left;
}
#corps .tplRechercheCanton .recherche input.commune_canton {
    background: #fff url(icone_canton_commune.png) no-repeat top left;
}
#corps .tplRechercheElu .pied, #corps .tplRechercheCanton .pied {
    padding-left: 8px;
    padding-right: 8px;
}
#corps .tplRechercheElu .sep {
    margin: 10px 0 8px 0;
    background: url(sep_elu_conton.png) no-repeat top left;
    height: 1px;
}
#corps .tplRechercheElu a {
    background: url(puce_lien.png) no-repeat center left;
    padding-left: 10px;
}

/* Recherche générale */
.tplRecherche .entete {
    color: #3e4c5b;
    font-weight: bold;
    font-size: 12px;
    margin: 4px 0 32px 0;
}
.tplRecherche h2 {
    background: #3e4c5b;
    color: #FFF;
    margin-top: 10px;
}
.tplRecherche .rechercheSite {
    margin-bottom: 30px;
}
.tplRecherche .rechercheSite, .tplRecherche .rechercheVideoPubli {
    background: #3e4c5b;
    text-align: center;
}
.tplRecherche .rechercheVideoPubli select, .tplRecherche .rechercheSite input {
    margin: 4px;
    font-size: 1.1em;
}
.tplRecherche .rechercheSite input {
    width: 260px;
}
.tplRecherche .rechercheSite a.submit {
}
.tplRecherche .resultatsResume {
    background: #ebebeb;
    padding: 12px 10px;
    color: #e2001a;
}
.tplRecherche .resultatsResume .ligne {
    padding-left: 8px;
    background: #ebebeb url(puce_lien.png) no-repeat center left;
}
.tplRecherche .resultatsArticles {
    width: 324px;
    float: left;
    overflow: auto;
}
.tplRecherche .resultatsAides {
    width: 198px;
    float: right;
}

/* Suggest */
.suggest {
    background:#FFFFFF none repeat scroll 0 0;
    border:1px solid #C2C2C2;
    display:none;
    height:100px;
    overflow:auto;
    position:absolute;
    width:170px;
    z-index: 1000;
}
.suggest-values {
	cursor: pointer;
}

.suggest .alt {
	background-color: #efefef;
}

/* Résultat élus */
.resultatsElus h3 {
    margin: 0 10px 0 10px;
}

.resultatsElus h3 span {
    font-weight: normal;
}

.resultatsElus .head {
    background: url(fond-head-elu.png) no-repeat top left;
}
.resultatsElus .head img {
    margin: 0 10px 0 10px;
}
.resultatsElus .contenu {
    margin: 0 10px 0 10px;
}

/* Résultat de cantons */
.tplCanton {
    background: url(fond-head-elu.png) no-repeat top left;
    color: #3E4C5B;
}
.tplCanton .infos {
    margin-top: 90px;
}
#contenu .tplCanton h3 {
    color: #b3025a;
}
.tplCanton h4 {
    font-size: 12px;
    margin: 16px 10px 6px 10px;
}
.tplCanton .texte {
    margin: 0px 10px 6px 10px;
}
.tplCanton .texte .liste_communes {
    background-color: #ebebeb;
}
.tplCanton .texte .liste_communes ul {
    margin: 10px;
}

/* bloc evenement */
.tpl_evenement, .tpl_evenementCln {
    margin-bottom: 10px;
}
.tpl_evenement img.fond {
    position: absolute;
    z-index: 10;
    height: 326px;
}
.tpl_evenement .contenu {
    position: relative;
    z-index: 100;
    margin-left: 105px;
    height: 326px;
}
.tpl_evenementCln img.fond {
    position: absolute;
    z-index: 10;
    height: 313px;
}
.tpl_evenementCln .contenu {
    position: relative;
    z-index: 100;
    margin-left: 62px;
    height: 313px;
    text-align: justify;
}
.tpl_evenement .lien, .tpl_evenementCln .lien {
    margin-top: 7px;
}

/* Annuaires */
#TerrCanImg {
    display: none;
}

/* Organigramme, plan du site */
.tpl_organigramme fieldset, .tpl_plansite fieldset {
    background: #f5cccc;
    border: none;
}
.tpl_organigramme fieldset input, .tpl_plansite fieldset input {
    background: #f5cccc;
    border: 1px solid #cfbdc6;
}
.tpl_organigramme fieldset input.submit, .tpl_plansite fieldset input.submit {
    background: #fff url(fond-input.png) bottom left repeat-x;
    border: 1px solid #003c74;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.tpl_organigramme fieldset p, .tpl_plansite fieldset p {
    padding: 4px 0 4px 80px;
}
.tpl_organigramme fieldset .alignright, .tpl_plansite fieldset .alignright {
    text-align: center;
    padding-left: 0;
}
.tpl_organigramme dl, .tpl_plansite dl {
    background: #f7f7f7;
}
.tpl_organigramme dl dt, .tpl_plansite dl dt {
    padding: 0;
    margin: 0;
    background-image: url(services-aides-dotrecherche.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 19px;
    background-color: #f7f7f7;
    border-top: 4px solid #ebebeb;
}
.tpl_organigramme_fiche dl dd ul li {
    background-image: url(services-aides-dotrecherche.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 19px;
    list-style: none;
}
.tpl_organigramme_fiche dl dt, .tpl_plansite dl dt {
    color: #E2001A;
    font-weight: bold;
    margin: 0;
}
#corps .tpl_organigramme dl dt a, #corps .tpl_plansite dl dt a {
    color: #ab0b0e;
    font-weight: bold;
}
#corps .tpl_organigramme dl dd ul, #corps .tpl_plansite dl dd div ul {
    padding: 0;
    margin: 0;
}
#corps .tpl_organigramme dl dd ul li, #corps .tpl_plansite dl dd div ul li {
    list-style: none;
    background: #f7f7f7;
    border-top: 4px solid #ebebeb;
    padding: 0;
    margin: 0;
}
#corps .tpl_plansite dl dd div {
    background: #f7f7f7;
    border-top: 4px solid #ebebeb;
    padding: 0;
    margin: 0;
}
#corps .tpl_plansite dl dd div h4 {
    margin: 0;
}
#corps .tpl_plansite .clear {
    margin: 0;
    padding: 0;
    display: none;
}
#corps .tpl_organigramme dl dd ul li a, #corps .tpl_plansite dl dd div h4 a {
    margin-left: 40px;
    font-weight: normal;
}
#corps .tpl_organigramme dl dd ul li ul li a, #corps .tpl_plansite dl dd div ul li a {
    margin-left: 80px;
}

/* Contact et annuaire */
.tpl_contact fieldset, #fannuairelist, .tpl_lettreinformation fieldset {
    border: none;
}
.tpl_contact fieldset p, #fannuairelist p, .tpl_lettreinformation p {
    margin: 2px 0 2px 0;
}
.tpl_contact fieldset label, #fannuairelist label, .tpl_lettreinformation label {
    display: block;
    width: 90px;
    float: left;
}
.tpl_contact fieldset input, .tpl_contact fieldset select, .tpl_contact fieldset textarea, #fannuairelist input, #fannuairelist select, #fannuairelist textarea, .tpl_lettreinformation input, .tpl_lettreinformation select, .tpl_lettreinformation textarea, .popup input {
    background: #fff url(fond-input-blanc.png) bottom left repeat-x;
    border: 1px solid #000;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.tpl_liste_classic table th {
    font-weight: bold;
}

.video-all .element, .publi-all .element {
    float: left;
    text-align: center;
    margin: 12px;
}
.publi-all .element {
    width: 110px;
    height: 230px;
}
.publi-all .element img {
    width: 94px;
}
.publi-all a {
    background: url(picto-pdf.png) no-repeat top left;
    padding-left: 20px;
}
.video-all .element {
    width: 142px;
    height: 170px;
}
.video-all .element div {
    width: 142px;
}
.video-all a {
    background: url(fond-lien-publi-videos.png) no-repeat top left;
    padding-left: 14px;
}

/* Vidéos de colonnes */
#colonnedroite .tpl_insertVideoFlashCln h3 {
    color: #FFFFFF;
    margin-bottom: 10px;
    background: url(logo-video.jpg) no-repeat #E2001A;
}
.corps-2760 #colonnedroite .tpl_insertVideoFlashCln h3 {
    background: url(logo-video.jpg) no-repeat #65707c;
}
.corps-2759 #colonnedroite .tpl_insertVideoFlashCln h3 {
    background: url(logo-video.jpg) no-repeat #3388c2;
}
.corps-2762 #colonnedroite .tpl_insertVideoFlashCln h3 {
    background: url(logo-video.jpg) no-repeat #7b9b4e;
}
.corps-2763 #colonnedroite .tpl_insertVideoFlashCln h3 {
    background: url(logo-video.jpg) no-repeat #c2357b;
}
.corps-2761 #colonnedroite .tpl_insertVideoFlashCln h3 {
    background: url(logo-video.jpg) no-repeat #ff9035;
}

/* Popups */

.popup {
	border: 1px solid #C2C2C2;
	background-color: #FFF;
	text-align: center;
	padding: 4px;
}

.popup .actions {
	margin-top: 10px;
}

.popup .actions input {
	margin: 4px;
}

.overlay {
	background-color: #000;
}

.popup .titre {
	font-weight: bold;
	color: #CC0033;
}


/* Liste des structures */
.tpl_liste_classic .blocNavigation {
    margin-bottom: 8px;
}

/*
@import url(posi.css);
@import url(deco.css);
@import url(color.css);
@import url(typo.css);*/
