/****************************************************************
Origine du fichier : http://monc.se/tripoli/ 
****************************************************************/ 

/** 
 * TYPOS DE BASE 
 *************************************************************************************************/

html {
	font-size: 100%; 
	font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
}

strong, th, thead td, h1, h2, h3, h4, h5, h6, dt { 
	font-weight: bold; 
}

cite, em, dfn { 
	font-style: italic; 
}

code, kbd, samp, pre, tt, var, input[type='text'], input[type='password'], textarea { 
	font-size: 92%; 
	font-family: monaco, "Lucida Console", courier, mono-space; 
}

pre { 
	white-space: pre; 
}

pre * {
	font-size: 100%; 
	white-space: pre; 
}

del { 
	text-decoration: line-through; 
	color: #666; 
}

ins, dfn { 
	border-bottom: 1px solid #ccc; 
}

small, sup, sub { 
	font-size: 85%; 
}

big { 
	font-size: 125%; 
	line-height: 80%; 
}

abbr, acronym { 
	text-transform: uppercase; 
	font-size: 85%; 
	letter-spacing: .1em; 
}

a abbr, a acronym { 
	border: none; 
}

abbr[title], acronym[title], dfn[title] { 
	cursor: help; 
	border-bottom: 1px solid #ccc; 
}

sup { 
	vertical-align: super; 
}

sub { 
	vertical-align: sub; 
}

a:link, a:visited, a:hover, a:active, a:focus { 
	text-decoration: underline; 
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
}

h1 { 
	font-size: 1.6em; 
}

h2 { 
	font-size: 1.5em; 
}

h3 { 
	font-size: 1.4em; 
}

h4 { 
	font-size: 1.3em; 
}

h5 { 
	font-size: 1.2em; 
}

h6 { 
	font-size: 1em; 
}






/** 
 * QUOTES
 *************************************************************************************************/

blockquote { 
	border-top: 1px solid #ccc; 
	border-bottom: 1px solid #ccc; 
	color: #666; 
}

blockquote > *:before { 
	content: "\201C"; 
}

blockquote > *:after { 
	content: "\201D"; 
}

/* QUOTES EN FONCTION DE LA LANGUE */

q { quotes: "\201C" "\201D" "\2018" "\2019"; }
:lang(af), :lang(nl), :lang(pl) { quotes: '\201E' '\201D' '\201A' '\2019'; }
:lang(bg), :lang(cs), :lang(de), :lang(is), :lang(lt), :lang(sk), :lang(sr), :lang(ro) { quotes: '\201E' '\201C' '\201A' '\2018'; }
:lang(da), :lang(hr) { quotes: '\00BB' '\00AB' '\203A' '\2039'; }
:lang(el), :lang(es), :lang(sq), :lang(tr) { quotes: '\00AB' '\00BB' '\2039' '\203A'; }
:lang(en-GB) { quotes: '\2018' '\2019' '\201C' '\201D'; }
:lang(fi), :lang(sv) { quotes: '\201D' '\201D' '\2019' '\2019'; }
:lang(fr) { quotes: '\ab\2005' '\2005\bb' '\2039\2005' '\2005\203a'; }

/* NOTE: safari refuses to support the quotes syntax. I only added the english language quotes for safari to save space. */
*[lang|='en'] q:before   { content: '\201C'; }
*[lang|='en'] q:after    { content: '\201D'; }
*[lang|='en'] q q:before { content: '\2018'; }
*[lang|='en'] q q:after  { content: '\2019'; }






/** 
 * FORMULAIRES
 *************************************************************************************************/

fieldset { 
	border: 1px solid #ccc; 
}

legend { 
	background: #fff; 
}

textarea, input[type='text'], select { 
	border: 1px solid #ccc; 
	background: #fff; 
}

textarea:hover, input[type='text']:hover, input[type='password']:hover, select:hover { 
	border-color: #aaa; 
}

textarea:focus, input[type='text']:focus, input[type='password']:focus, select:focus { 
	border-color: #888; 
	outline: 2px solid #ddd; 
}

input, select, button { 
	cursor: pointer; 
}

input[type='text'], input[type='password'] { 
	cursor: text; 
}

input[type='hidden'] { 
	display:none; 
}

label {
	cursor:pointer;
}





/** 
 * HR 
 *************************************************************************************************/

hr { 
	display: block; 
	background: #aaa; 
	color: #aaa; 
	width: 100%; 
	height: 1px; 
	border: none; 
}





/** 
 * LISTES
 *************************************************************************************************/

ul{
	list-style: disc outside;
}

ol{
	list-style: decimal outside;
}

ul, ol, li {
	font-weight: normal;
	margin: 0;
	padding: 0;
}





/** 
 * MARGINS & PADDINGS
 *************************************************************************************************/
 
hr, p, ul, ol, dl, pre, blockquote, address, table, form { 
	margin-bottom: 1.6em; 
}

p+p { 
	margin-top: -.8em; 
}

p {
	line-height: 110%;
}

/*
blockquote p:last-child {
	margin-bottom: 0.5em;
}
*/

blockquote p {
	margin-bottom: 1.8em;
}

/* NOTE: Calulate header margins: TOP: line-height/size, BOTTOM: TOP/2 */
h1 { 
	margin: 1em 0 .5em;  
}
	
h2 { 
	margin: 1.07em 0 .535em; 
}

h3 { 
	margin: 1.14em 0 .57em; 
}

h4 { 
	margin: 1.23em 0 .615em; 
}

h5 { 
	margin: 1.33em 0 .67em; 
}

h6 { 
	margin: 1.6em 0 .8em; 
}

th, td { 
	padding: .8em; 
}

caption { /* padding instead of margin for IE */
	padding-bottom: .8em; 
} 

blockquote { 
	padding: 0 1em; 
	margin: 1.6em 0; 
}

fieldset { /* padding-top is margin-top for fieldsets in Opera */
	padding: 0 1em 1em 1em; 
	margin: 1.6em 0; 
} 

legend { 
	padding-left: .8em; 
	padding-right: .8em; 
}

legend+* { /* compensates for the opera margin bug */
	margin-top: 1em; 
}

textarea, input { 
	padding: .3em .4em .15em .4em; 
}

select { 
	padding: .1em .2em 0 .2em; 
}

option { 
	padding: 0 .4em .1em; 
}

a { /* Augmente légerement la zone de clic */
	position: relative; 
	padding: 0.3em 0 .1em 0; 
} 

dt { 
	margin-top: .8em; 
	margin-bottom: .4em; 
}

ul, ol { 
	margin-left: 2.2em;
}

li {
	margin-bottom: 0.3em;
}

ul ul, content ol ul, ul ol, content ol ol { 
	margin-bottom: 0; 
}

form  { 
	margin: 0 0 .8em 0;
	padding: 0; 
}

button { 
	padding: 0.3em 0.5em; 
}

blockquote > * { 
	margin: .8em 0; 
}






/** 
 * IMAGES DANS LES LIENS
 *************************************************************************************************/
a img{ 
	border:none; 
}






/** 
 * COULEURS DE BASE 
 *************************************************************************************************/
a:link { 

}

a:visited { 
	color: #99c; 
}

a:hover { 
	color: #c33; 
}

a:active, a:focus { 
	color: #000; 
}

code, pre { 
	/*color: #c33; */
}
