body {
	background-color:white;		
	background-image:none;
	text-align:left;
}

#global {
	width:640px;
	margin-left:0px;
	margin-right:0px;
}

#printBackLink a:visited {
	color:#AE72AE;
}

#headerLength,
#header,
#navigation,
#menurubrique,
#bottompage,
#ombrebas,
#footer,
.header .bandeau,
.Agenda,
.teaserLeftLength,
.teaserRightPartLength,
.picto ul,
.bottompage,
.listenlink,
.back,
.lockEncartCloseLeft,
.lockEncartCloseRight,
.textLockEncart,
.listen,
.backToTop,
.wysiwyg,
.separateurVisuelEdito,
.encartOuvert,
.fermer {
	display:none !important;		
}

#contentContainer {
	width:640px;
	background-color:white;
}

#contentContainerFond {
	background-image:none;
	background-color:white;
}

#content {
	width:640px;
}

/*** IMPRESSION DES EDITOS ***/
.editoEncartRight,
.editoEncartLeft,
.ouvert,
.bodyEncart {
	display:block !important;	
}

.tubeCorps {
	display : block!important;
}


.RSSItemList {
	display : block!important;
}

.RSSItemList ul, .RSSItemList li, .RSSItemList a{
	display : block!important;
}

.lstRSS {
	display : block!important;
}

.RSSItemList {
	display : block!important;
}