body { color: #130000; font-family: Arial, Verdana, Helvetica, sans-serif; background-color: #06f; }

p { }

td { }

a:link { color: #130000; }

a:visited { }

a:hover { color: #2a3fff; font-weight: bold; }

a:active { }
h2 { color: #06f; font-size: 1.5em; font-weight: bold; margin: 0.83em 0; }
