@charset "utf-8";
/* CSS Document */

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:url(eimm_body_bg.gif) repeat-x top left;
}

h1 {
	display:block;
	position:absolute;
	top:-22px;
	right:0px;
	width:313px;
	height:18px;
	text-indent:-5000px;
	background:url(eimm_entete.gif) no-repeat top left;
}

/*------- Zonning -------------*/
#eimm_contenu_prinicipal {
	width:978px;
	padding:5px 0px 0px 0px;
	margin:50px auto 0 auto;
	overflow:visible;
	position:relative;
	border:1px solid #ccc;
	background:#FFF;
}

#eimm_contenu_centre {
	float:left;
	width:610px;
	padding:0px 5px 5px 5px;
}

*+html #eimm_contenu_centre {
	padding:0px 5px 0px 5px;
}

* html #eimm_contenu_centre {
	padding:0px 5px 0px 5px;
}

#eimm_colonne_gauche {
	width:174px;
	float:left;
	margin:0px 0px 0px 5px;
	display:inline; /*hack IE6*/
}

#eimm_colonne_droite {
	width:174px;
	float:left;
	margin:0px 5px 0px 0px;
	display:inline; /*hack IE6*/	
}



#eimm_ban_centre {
	z-index:1;
}

/*----------- Colonne gauche --------*/

#eimm_logo {
	position:absolute;
	width:60px;
	height:60px;
	top:-30px;
	left:53px;
	padding:0 4px;
	background:url(eimm_logo_fond.gif) top left no-repeat;
}

#eimm_menu_gauche {
	width:174px;
	height:236px;
	margin-bottom:5px;
	background:#000 url(eimm_menu_gauche_bg.jpg) no-repeat left top;
	position:relative;
}

#eimm_menu_gauche ul {
	padding:70px 0px 0px 2px;
}

#eimm_menu_gauche ul li a {
	display:block;
	width:172px;
	height:31px;
	text-indent:-5000px;
	background-position:bottom left;
	background-repeat:no-repeat;
}

#eimm_menu_gauche ul li a:hover, #eimm_menu_gauche ul li a.hover {
	background-position:top left;
}

#eimm_menu_gauche ul li a#eimm_groupe {background-image:url(eimm_menu_gauche_groupe.jpg);}
#eimm_menu_gauche ul li a#eimm_dev_dur {background-image:url(eimm_menu_gauche_dev_dur.jpg);}
#eimm_menu_gauche ul li a#eimm_recrutement {background-image:url(eimm_menu_gauche_recrutement.jpg);}
	
	
#eimm_ban_col_gauche {
	height:323px;
	width:174px;
}
	
/*----------- Colonne droite --------*/


/*----------- Centre ---------*/
#eimm_ban_centre {
	width:610px;
	height:204px;
	margin-bottom:5px;
}

#eimm_col_particuliers , #eimm_col_pro  {
	float:left;
	width:200px;
	background:url(eimm_menu_centre_bg.gif) no-repeat left 26px;
	margin-right:5px;	
}
#eimm_col_ent_asso {
	float:left;
	width:200px;
}

.eimm_menu_centre_lien {
	display:block;
	width:200px;
	height:26px;
	text-indent:-5000px;
	background-position:bottom left;
	background-repeat:no-repeat;
}

.eimm_menu_centre_lien:hover, .eimm_menu_centre_lien.hover {
	background-position:top left;
}

.eimm_menu_centre_lien.eimm_lien_particuliers {background-image:url(eimm_lien_particuliers.jpg)}
.eimm_menu_centre_lien.eimm_lien_pro {background-image:url(eimm_lien_pro.jpg)}
.eimm_menu_centre_lien.eimm_lien_asso {background-image:url(eimm_lien_asso.jpg)}
.eimm_menu_centre_lien.eimm_lien_ent {background-image:url(eimm_lien_ent.jpg);}



		/*----- Menu ------*/

#eimm_col_particuliers ul, #eimm_col_pro ul {
	padding:13px 5px 23px 5px;	
}


#eimm_col_particuliers ul li a, #eimm_col_pro ul li a, #eimm_col_ent_asso ul li a {
	display:block;
	height:18px;
	width:152px;
	padding:5px 0px 0px 38px;
	color:#000;
	text-decoration:none;
	background:url(eimm_menu_centre_lien_puce.gif) -25px 1px no-repeat;
}
*+html #eimm_col_particuliers ul li a, *+html #eimm_col_pro ul li a, *+html #eimm_col_ent_asso ul li a {
	margin-top:-1px;
	padding:7px 0px 0px 38px;
	height:16px;	
}
* html #eimm_col_particuliers ul li a, * html #eimm_col_pro ul li a, * html #eimm_col_ent_asso ul li a {
	margin-top:-1px;
	padding:6px 0px 0px 38px;
	height:17px;
}

#eimm_col_particuliers ul li a:hover, #eimm_col_pro ul li a:hover, #eimm_col_ent_asso ul li a:hover {
	color:#b71717;
	background:url(eimm_menu_centre_lien_puce.gif) left 1px no-repeat;
}

#eimm_col_particuliers ul li a.hover, #eimm_col_pro ul li a.hover, #eimm_col_ent_asso ul li a.hover{	
	background:url(eimm_menu_centre_lien_puce.gif) left 1px no-repeat;
}

*+html #eimm_col_particuliers ul li a:hover, *+html #eimm_col_pro ul li a:hover, *+html #eimm_col_ent_asso ul li a:hover  {	
	color:#b71717;
	background:url(eimm_menu_centre_lien_puce.gif) left 2px no-repeat;
}

#eimm_menu_ent {
	padding:13px 5px 0px 5px;
	height:82px;
	background:url(eimm_menu_centre_ent_bg.gif) top left no-repeat;
}

#eimm_menu_asso {
	padding:6px 5px 0px 5px;
	height:70px;
	background:url(eimm_menu_centre_asso_bg.gif) top left no-repeat;	
}


		/*-------------- Encars Actu ---------------*/
.eimm_encars_actu {
	margin:0px 10px;
	height:132px;
}


/*----------------------- Colonne droite --------------------*/
#eimm_entete_qui_sommes {
	width:174px;
	height:23px;
	text-indent:-5000px;
	background:url(eimm_entete_qui_sommes.gif) top left no-repeat;
}

#eimm_lien_decouvrez {
	display:block;
	height:68px;
	width:174px;
	margin-bottom:5px;
	text-indent:-5000px;
	background:url(eimm_lien_decouvrez.gif) top left no-repeat;
}

#eimm_entete_devenir {
	width:174px;
	height:23px;
	text-indent:-5000px;
	background:url(eimm_entete_devenir.gif) top left no-repeat;
}

#eimm_lien_rejoignez {
	display:block;
	height:85px;
	width:174px;
	text-indent:-5000px;
	background:url(eimm_lien_rejoignez.jpg) top left no-repeat;
}

#eimm_ban_col_droite {
	padding-top:5px;
}

/*----------- Footer --------*/
#eimm_footer {
	clear:both;
	height:21px;
	border-top:1px solid #ccc;
}

#eimm_footer img {
	float:left;
}

#eimm_footer_lien {
	float: left;	
	margin-left: 198px;
	padding-top:4px;
}

#eimm_footer a {
	font-size:10px;
	text-decoration:none;
	color:#000;
}

#eimm_footer strong {
	padding:4px 5px 0px 0px;
	float:right;
	font-size:11px;
}

/**----------------- Message --------------------**/


.eimm_message {
	width:918px;
	padding:5px 30px 5px 30px;
	background:#FFF;
	display: none;
	position:absolute;
	top:-50px;
	border:1px solid #ccc;
	left:-1px;
	z-index:200;
}

.eimm_message a {
	text-decoration:none;
	font-weight:bold;
	color:#666;
}

.eimm_message a:hover {
	text-decoration:underline;
}

.eimm_message.rouge {
	background:url(http://www.societegenerale.fr/img/eimm_picto_message.gif) center left #FCC no-repeat;
	color:#F00;
	border:1px solid #F00;
}

.eimm_message.rouge a {color:#F00;}

/*--------------- Box Fancybox ---------------------*/
div#fancy_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 30;
}

div#fancy_loading {
	position: absolute;
	height: 40px;
	width: 40px;
	cursor: pointer;
	display: none;
	overflow: hidden;
	background: transparent;
	z-index: 100;
}

div#fancy_loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background: transparent url('fancy-loader.gif') no-repeat;
}

div#fancy_outer {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    padding: 20px 20px 40px 20px;
    margin: 0;
    background: transparent;
    display: none;
}

div#fancy_inner {
	position: relative;
	width:100%;
	height:100%;
	background: #FFF;
}

div#fancy_content {
	margin: 0;
	z-index: 100;
	position: absolute;
}

div#fancy_div {
	background: #fff;
	color: #FFF;
	height: 100%;
	width: 100%;
	z-index: 100;
}

img#fancy_img {
	position: absolute;
	top: 0;
	left: 0;
	border:0; 
	padding: 0; 
	margin: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
}

div#fancy_close {
	position: absolute;
	top: -22px;
	right: 0px;
	height: 24px;
	width: 79px;
	background: url('fancy_fermer.png') top left no-repeat;
	cursor: pointer;
	z-index: 181;
	display: none;
}

#fancy_frame {
	position: relative;
	width: 100%;
	height: 100%;
	display: none;
}

#fancy_ajax {
	width: 100%;
	height: 100%;
	overflow: auto;
}

a#fancy_left, a#fancy_right {
	position: absolute; 
	bottom: 0px; 
	height: 100%; 
	width: 35%; 
	cursor: pointer;
	z-index: 111; 
	display: none;
	background-image: url("data:image/gif;base64,AAAA");
	outline: none;
	overflow: hidden;
}

a#fancy_left {
	left: 0px; 
}

a#fancy_right {
	right: 0px; 
}

span.fancy_ico {
	position: absolute; 
	top: 50%;
	margin-top: -15px;
	width: 30px;
	height: 30px;
	z-index: 112; 
	cursor: pointer;
	display: block;
}

span#fancy_left_ico {
	left: -9999px;
	background: transparent url('fancy_left.png') no-repeat;
}

span#fancy_right_ico {
	right: -9999px;
	background: transparent url('fancy_right.png') no-repeat;
}

a#fancy_left:hover, a#fancy_right:hover {
	visibility: visible;
	background-color: transparent;
}

a#fancy_left:hover span {
	left: 20px; 
}

a#fancy_right:hover span {
	right: 20px; 
}

#fancy_bigIframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}

div#fancy_bg {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	z-index: 70;
	border: 0;
	padding: 0;
	margin: 0;
}
	
div.fancy_bg {
	position: absolute;
	display: block;
	z-index: 70;
	border: 0;
	padding: 0;
	margin: 0;
}

div#fancy_bg_n {
	top: -20px;
	left: 0;
	width: 100%;
	height: 20px;
	background: transparent url('fancy_shadow_n.png') repeat-x;
}

div#fancy_bg_ne {
	top: -20px;
	right: -20px;
	width: 20px;
	height: 20px;
	background: transparent url('fancy_shadow_ne.png') no-repeat;
}

div#fancy_bg_e {
	right: -20px;
	height: 100%;
	width: 20px;
	background: transparent url('fancy_shadow_e.png') repeat-y;
}

div#fancy_bg_se {
	bottom: -20px;
	right: -20px;
	width: 20px;
	height: 20px;
	background: transparent url('fancy_shadow_se.png') no-repeat;
}

div#fancy_bg_s {
	bottom: -20px;
	left: 0;
	width: 100%;
	height: 20px;
	background: transparent url('fancy_shadow_s.png') repeat-x;
}

div#fancy_bg_sw {
	bottom: -20px;
	left: -20px;
	width: 20px;
	height: 20px;
	background: transparent url('fancy_shadow_sw.png') no-repeat;
}

div#fancy_bg_w {
	left: -20px;
	height: 100%;
	width: 20px;
	background: transparent url('fancy_shadow_w.png') repeat-y;
}

div#fancy_bg_nw {
	top: -20px;
	left: -20px;
	width: 20px;
	height: 20px;
	background: transparent url('fancy_shadow_nw.png') no-repeat;
}

div#fancy_title {
	position: absolute;
	z-index: 100;
	display: none;
}

div#fancy_title div {
	color: #FFF;
	font: bold 12px Arial;
	padding-bottom: 3px;
	white-space: nowrap;
}
/*----- Retirer mais généré dans le JS
div#fancy_title table {
	margin: 0 auto;
}

div#fancy_title table td {
	padding: 0;
	vertical-align: middle;
}

td#fancy_title_left {
	height: 32px;
	width: 15px;
	background: transparent url('../img/fancy_title_left.png') repeat-x;
}

td#fancy_title_main {
	height: 32px;
	background: transparent url('../img/fancy_title_main.png') repeat-x;
}

td#fancy_title_right {
	height: 32px;
	width: 15px;
	background: transparent url('../img/fancy_title_right.png') repeat-x;
}
 ----------*/
 
