div.box-content {
	border: none;
}

div.box-content-title {
}

p.box-content-title {
	font-weight: bold;
	font-size: 0.9em;
}

div.box-content-title h2 {
	font-weight: bold;
	font-size: 0.8em;
	padding-bottom: 0.5em;
	margin-bottom: 0px;
}

div.box-content-title h2 a {
	font-weight: bold;
	font-size: 1em;
	color: black;
}

div.box-content-title h3 {
	font-weight: bold;
	font-size: 0.8em;
	padding-bottom: 0.5em;
	margin-bottom: 0px;
}

div.box-content-title h3 a {
	font-weight: bold;
	font-size: 1em;
	color: black;
}

div.box-content-title h4 {
	font-weight: bold;
	font-size: 0.8em;
	padding-bottom: 0.5em;
	margin-bottom: 0px;
}

div.box-content-title h4 a {
	font-weight: bold;
	font-size: 1em;
	color: black;
}

span.box-dossier-title {
	font-weight: bold;
	font-size: 0.8em;
}

div.box-dossier-title {
}

div.box-dossier-title h3 {
	font-weight: bold;
	font-size: 0.8em;
	padding-bottom: 0.5em;
	margin-bottom: 0px;
}

p.box-content-date {
	color: #60798D;
	background-color: #FFFFFF;
	padding-bottom: 0.5em;
}

p.box-content-img {
	text-align: center;
}

span.link_lang {
	font-size: 1em;
}

/*********************   rubrique   ******************************************/
div.box-rubrique-title {
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: solid 1px #498DC0;
	margin-bottom: 1em;
	margin-top: 0em;
	padding-bottom: 0.2em;
	padding-top: 0.5em;
}

div.box-rubrique-title h2 {
	font-family: Arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	color: #384390;
	background-color: #FFFFFF;
	margin-bottom: 0.5em;
	margin-top: 0em;
}

/*********************  dark blue color   ******************************************/
p.box-content-big-blue-title {
	color: #384390;
	background-color: #FFFFFF;
	font-weight: bold;
}

ul.box-content-dark-blue-arrows {
	margin: 0px;
	padding: 0px;
	margin-top: 1.0em;
	line-height: 0.8em;
	list-style-type: none;
	font-size: 1.0em;
}

ul.box-content-dark-blue-arrows li {
	vertical-align: top;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	padding-left: 13px;
	background-image:
		url('bullet_dark_blue_arrow.gif')
		;
	background-repeat: no-repeat;
	background-position: 0px 2px;
	line-height: 1em;
}

ul.box-content-dark-blue-arrows li a {
	color: black;
	line-height: 1em;
	vertical-align: top;
}

ul.box-content-dark-blue-arrows li a img {
	vertical-align: middle;
	border: none;
}

ul.box-content-dark-blue-arrows li span {
	color: black;
	line-height: 1em;
	vertical-align: top;
}
}

/*********************  gray color   ******************************************/
p.box-content-gray {
	color: #666666;
	background-color: #FFFFFF;
}

/*********************   article   ******************************************/
p.box-article-image {
	text-align: left;
	padding-top: 0.5em;
	padding-bottom: 01em;
}

/*********************   biographie   ******************************************/
div.biographie_img_col {
	float: left;
	overflow: hidden;
}

div.biographie_img_col img {
	
}

div.biographie_space_col {
	float: left;
	overflow: hidden;
}

div.biographie_identity_col {

	float: left;
	overflow: hidden;
}

/*********************   diaporama   ******************************************/
div.box-diaporama-center-left {
	width: 49%;
	float: left;
	color: #498DC0;
	background-color: #FFFFFF;
	border: solid 1px;
	padding: 2px;
	margin: 2px;
	text-align: center;
}

div.box-diaporama-center-right {
	width: 47%;
	float: left;
	margin-left: 0.5em;
}

img.diapo {
	width: 250px;
}

div.box-diaporama-center-left-img-button {
	background-color: #FFFFFF;
	color: #498DC0;
	width: 20px;
	float: left;
	border: 1px solid #498DC0;
	text-align: center;
	margin-left: 2px;
	margin-right: 2px;
	margin-top:3px;
}

div.box-diaporama-center-left-img-camera {
	float: left;
	border: none;
	text-align: center;
	margin-left: 2px;
	margin-right: 2px;
}

a.box-diaporama-center-left-img-button-unselected {
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	color: #498DC0;
	background-color: #FFFFFF;
	display: block;
}

a.box-diaporama-center-left-img-button-selected {
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	color: #FFFFFF;
	background-color: #498DC0;
	display: block;
}

a.box-diaporama-center-left-img-button-arrow {
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	color: #498DC0;
	background-color: #FFFFFF;
	display: block;
	font-weight: bold;
}

p.box-diaporama-center-description {
	color: #666666;
	background-color: #FFFFFF;
}

/*********************   diaporama crise  ******************************************/
div.box-diaporama-crise-center-left {
	width: 145px;
	float: left;
	color: #498DC0;
	background-color: #FFFFFF;
	border: solid 1px;
	padding: 2px;
	margin: 2px;
	text-align: center;
}

img.crise_diapo {
	width: 135px;
}

/*********************   agenda  ******************************************/
div.box-agenda-item {
	padding-bottom: 10px;
	border-bottom: 1px dashed #384390;
}

div.box-group-repere {
	border: 1px solid;
	color: #000000;
	border-color: #AAADBE;
	background-color: #EBF4FB;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

/*********************   repere  ******************************************/
div.box-repere {
	color: #000000;
	background-color: #EBF4FB;
	margin: 0px;
	padding: 0px;
}

div.box-repere-overlined {
	border-top: 4px solid #FFFFFF;
	color: #000000;
	background-color: #EBF4FB;
	margin: 0px;
	padding: 0px;
}

ul.box-repere-title {
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	color: #498dc0;
	background-color: #EBF4FB;
	font-weight: bold;
	list-style-image:
		url('bullet_carret.gif');
	margin-top: 0.5em;
	padding-top: 0em;
	padding-left: 1em;
	margin-left: 1em;
	margin-bottom: 0em;
	padding-bottom: 0em;
}

p.box-repere-detail {
	color: #000000;
	background-color: #EBF4FB;
	padding-left: 0em;
	margin-left: 2.5em;
	margin-top: 0em;
	padding-top: 0em;
	margin-bottom: 0.5em;
	padding-bottom: 0em;
}

/*********************   regroupement  ******************************************/
div.box-regroupement-left-content-dotted {
	border-top: 1px dashed #D0D0D0;
	border-right: 1px dashed #D0D0D0;
	padding-left: 1em;
	padding-right: 0.3em;
	padding-bottom: 0.3em;
	margin-bottom: 0.3em;
	padding-top: 0.5em;
}

div.box-regroupement-left-content {
	border-right: 1px dashed #D0D0D0;
	padding-left: 1em;
	padding-right: 0.3em;
	padding-bottom: 0.3em;
	margin-bottom: 0.3em;
	padding-top: 0.5em;
}

div.box-regroupement-right-content-dotted {
	border-top: 1px dashed #D0D0D0;
	padding-left: 2em;
	padding-right: 0.3em;
	padding-bottom: 0.3em;
	margin-bottom: 0.3em;
	padding-top: 0.5em;
}

div.box-regroupement-right-content {
	padding-left: 2em;
	padding-right: 0.3em;
	padding-bottom: 0.3em;
	margin-bottom: 0.3em;
	padding-top: 0.5em;
}

div.box-regroupement-content-dotted {
	border-top: 1px dashed #D0D0D0;
	padding-left: 0.2em;
	padding-right: 0.3em;
	padding-bottom: 0.3em;
	margin-bottom: 0.3em;
	padding-top: 0.5em;
}

div.box-regroupement-content {
	padding-left: 0.2em;
	padding-right: 0.3em;
	padding-bottom: 0.3em;
	margin-bottom: 0.3em;
	padding-top: 0.5em;
}

/*********************  tableau  ******************************************/
table.data_table {
	border: none;
	background:
		url('http://www.carrefour.com/docroot/groupe/C4com/System/System&#32;Property/resource-images/mappemonde.jpg')
		;
	background-repeat: no-repeat;
	width: 100%;
}

table.data_table caption {
	color: #000000;
	background-color: #FFFFFF;
	font-size: 0.8em;
	text-align: left;
	font-weight: bold;
}

td {
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: center;
}

/** table head **/
th {
	padding-left: 0.3em;
	padding-right: 0.3em;
	font-weight: none;
}

tr.head_table {
	border: none;
	color: #666666;
	height: 1.5em;
}

tr.head_table th {
	border: none;
	color: #666666;
	font-size: 0.7em;
}

/****** table body ******/ /** first line **/
tr.first_row {
	color: #000000;
	background-color: #d2dee4;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	height: 1.5em;
	font-weight: bold;
}

tr.first_row td {
	font-size: 0.7em;
}

tr.first_row th {
	color: #666666;
	background-color: #d2dee4;
	text-align: left;
	border-right: 1px solid #d2dee4;
	font-size: 0.7em;
}

/** level 1**/
tr.level1_row {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	font-size: 0.7em;
	height: 2.5em;
	font-weight: bold;
}

tr.level1_row td {
	border-top: 1px solid #d2dee4;
	color: #000000;
}

tr.level1_row th {
	border-top: 1px solid #d2dee4;
	text-align: left;
	border-right: 1px solid #d2dee4;
	font-weight: bolder;
}

tr.level1_row th a {
	font-size: 1em;
	color: #000000;
}

/** level 2**/
tr.level2_row {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	font-size: 0.7em;
	height: 2.5em;
}

tr.level2_row td {
	border-top: 1px solid #d2dee4;
	color: #000000;
}

tr.level2_row th {
	border-top: 1px solid #d2dee4;
	text-align: right;
	border-right: 1px solid #d2dee4;
}

tr.level2_row th a {
	font-size: 1em;
	color: #000000;
}

/** level 3**/
tr.level3_row {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	font-weight: normal;
	font-size: 0.7em;
	height: 1.5em;
}

tr.level3_row td {
	color: #000000;
}

tr.level3_row th {
	text-align: right;
	border-right: 1px solid #d2dee4;
	font-weight: normal;
}

tr.level3_last_row {
	color: #000000;
	font-size: 0.7em;
	padding-bottom: 0.5em;
	height: 1.5em;
}

tr.level3_last_row td {
	color: #000000;
}

tr.level3_last_row th {
	font-weight: none;
	text-align: right;
	border-right: 1px solid #d2dee4;
}

tr.level3_last_row th a {
	font-size: 1em;
	color: #000000;
}

/*********************  iframe boursorama  ******************************************/
iframe.iframe-boursorama {
}

iframe.iframe-boursorama-finance {
	border-right: 2px solid #D0D0D0;
	border-bottom: 2px solid #D0D0D0;
}


/*********************  home dossier  ******************************************/
div.box_home_dossier_left_col_box {
	float: left;
	overflow: hidden;
	width: 47%;
	margin-right: 1em;
}

div.box_home_dossier_right_col_box {
	float: left;
	overflow: hidden;
	width: 50%;
}

ul.box_home_dossier_links {
	list-style-image:
		url('bullet_dark_blue_arrow.gif')
		;
	margin-top: 0.5em;
	line-height: 1em;
	vertical-align: top;
}

ul.box_home_dossier_links li {
	margin-bottom: 0.3em;
	margin-left: -1.4em;
	line-height: 1em;
	vertical-align: top;
}

li.box_home_dossier_links_last {
	padding-bottom: 1em;
}

li.box_home_dossier_links_head {
	list-style-type:none;
	list-style-image:none;
	font-size: 1.2em;
	color: #384390;
}

a.box_home_dossier_links_head{
	font-weight: bold;
	color: #384390;
	background-color: #FFFFFF;
	margin-left: 0;
	padding-left: 0;
	margin-left: -1em;
}

a.box_home_dossier_links  {
	color: #000000;
	background-color: #FFFFFF;
	line-height: 1.2em;
	vertical-align: top;
}

div.box-diaporama-home-dossier {
	width: 260px;
	float: left;
	color: #498DC0;
	background-color: #FFFFFF;
	border: solid 1px;
	padding: 2px;
	margin: 2px;
	text-align: center;
}

div.box-diaporama-home-dossier-buttons {
	text-align: left;
	margin-left: 0.6em;
}

#link0,#link1 {
	text-decoration: none;
}

p.box_home_dossier_title {
	font-size: 0.9em;
}

div.box_home_dossier_links_col1_3 {
	float: left;
	overflow: hidden;
	width: 30%;
	margin-right: 1em;
}

span.home_dossier_fonction {
	color: #666666;
	background-color: #FFFFFF;
	font-size: 0.7em;
}

div.box_home_dossier_links_col1_3 ul p {
	margin-left: 0;
	padding-left: 0;
}

div.box_home_dossier_links_col1_3 p a {
	font-weight: bold;
	color: #384390;
	background-color: #FFFFFF;
	font-size: 1.2em;
	margin-left: 0;
	padding-left: 0;
	margin-left: -1.4em;
}

/*********************   aide  ******************************************/
div.box-aide-item {
	padding-bottom: 0em;
	margin-bottom: 1em;
	border-bottom: 1px dashed #384390;
}

span.box-aide-item-title {
	font-weight: bold;
	font-size: 0.8em;
}

div.box-aide-left {
	width: 20%;
	float: left;
}

div.box-aide-right {
	width: 70%;
	float: left;
}

/*********************   flash  ******************************************/
a.alt_flash {
	color: #000000;
	background-color: #FFFFFF;
}

/*********************   faq  ******************************************/
div.box-faq {
	border: none;
}

div.box-faq a {
	color: #000000;
	background-color: #FFFFFF;
}

h3.box-faq-title {
	color: #384390;
	background-color: #FFFFFF;
	font-weight: bold;
	font-size: 0.8em;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

div.box-faq-item {
	border-left: none;
	border-right: none;
	border-top: none;
}

div.box-faq-item-dotted {
	border-bottom: 1px dashed #384390;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

ul.box-faq-item-question {
	list-style-image:
		url('bullet_carret.gif');
	font-weight: bold;
	padding-left: 10px;
	margin-left: 10px;
	font-size: 0.7em;
}

p.box-faq-item-answer {
	padding-left: 20px;
}

ul.box-faq-item-answer-links {
	list-style-image:
		url('bullet_dark_blue_arrow.gif')
		;
	margin-top: 10px;
	padding-left: 20px;
	margin-left: 20px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	line-height: 0.8em;
	vertical-align: top;
}

ul.box-faq-item-answer-links li {
	line-height: 1em;
	vertical-align: top;
}

/********************** RSS content ***************************/
div.rss-content {
	border: none;
}

div.rss-content h3 {
	font-size: 0.8em;
	color: #384390;
}

div.rss-content h4 {
	font-size: 0.7em;
	color: black;
	font-weight: bold;
}

div.rss-content hr {
	color: white;
	background-color: white;
	height: 1px;
	border: 1px dashed #7C7C7C;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

div.rss-content ul {
	list-style-type: none;
}

div.rss-content ul li {
	
}

div.rss-content ul li img {
	vertical-align: baseline;
}