/*********************   block  ******************************************/
div.header_block {
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:5px;
	padding-top:0px;
	padding-bottom:5px;
	width:930px;
    text-align:left;
}

div.body_block{
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	margin-bottom:10px;
	width:930px;
    text-align:left;
}

div.footer_block{
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	width:930px;
    text-align:left;
}
/*********************   header  ******************************************/
div.header_center_col{
	width:100%;
	float:left;
	overflow:hidden;
}
/*********************   footer  ******************************************/
div.footer_center_col{
	width:100%;
	float:left;
	overflow:hidden;
}
/*********************   body  ******************************************/
div.body_left_col{
	width:17%;
	float:left;
	overflow:hidden;
}

div.homepage_body_left_col{
	width:23.5%;
	float:left;
	overflow:hidden;
}

div.body_left_to_center_col{
	width:1.5%;
	float:left;
	overflow:hidden;
}

div.body_center_to_right_col{
	width:1.5%;
	float:left;
	overflow:hidden;
}

div.body_center_col{
	width:60%;
	float:left;
	overflow:hidden;
}

div.body_center_big_col{
	width:80.5%;
	float:left;
	overflow:hidden;
}

div.body_center_flash_col{
	width:100%;
	float:left;
	overflow:hidden;
}

div.homepage_body_center_col{
	width:50.3%;
	float:left;
	overflow:hidden;
	padding-top:0;
	margin-top:0;
}

div.body_center_top_box{
	padding: 0.5em
}

div.body_center_2col_box{
	padding-top:0;
	margin-top:0;
}

div.body_center_1of3_col_box{
	float:left;
	overflow:hidden;
	width:31.5%;
	margin-right:0.5em;
}

div.body_center_1of2_col_box{
	float:left;
	overflow:hidden;
	width:49%;
}

div.body_center_1to2_col_box{
	float:left;
	overflow:hidden;
	width:2%;
}

div.body_right_col{
	width:20%;
	float:right;
	overflow:hidden;
	padding-top:0;
	margin-top:0;
}

div.homepage_body_right_col{
	width:23%;
	float:right;
	overflow:hidden;
	padding-top:0;
	margin-top:0;
}

div.body_center_main_col_box{
	float:left;
	overflow:hidden;
	width:68.5%;
	padding-right:0.5em;
}

div.body_center_main_col_box a{
	color:black;
    text-decoration:none;
	}
	
div.body_center_main_col_box a:hover{
	text-decoration:underline;
	}
	
div.body_center_repere_col_box{
	float:left;
	overflow:hidden;
	width:30%;
}


br.clear-left{
	clear:left;
}

div.clear-left{
	clear:left;
}


/*********************   print_page  ******************************************/
div.print_header_block {
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:5px;
	padding-top:0px;
	padding-bottom:5px;
	width:558px;
	border-bottom:1px solid #8dadc2;
}

div.print_body_block{
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	margin-bottom:10px;
	width:558px;
}

div.print_footer_block{
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	width:558px;
	color:#7C7C7C;
	border-top:1px solid #7C7C7C;
}