/**************************************************************************/
/*                         PORTAL STYLE                             */
/**************************************************************************/

h1, .gtitre {
        font-size: 16px;
        font-weight: bold;
        color: #d94165;

}
.gtitre2 {
        font-size: 13px;
        font-weight: bold;
        color: #619bc4;
}
.gsstitre1 {
        font-size: 12px;
        font-weight: bold;
        color: #31b5ff;
}
h2, .gsstitre2 {
	font-size: 13px;
	font-weight: bold;
	color: #d94165;
	text-decoration: none;
}
h3, .gsstitre3 {
        font-size: 12px;
        font-weight: bold;
        color: #d94165;
}

.titrepage{
        font-size: 16px;
        font-weight: bold;
        color: #d94165;
}
.titrerubrique{
        font-size: 16px;
        font-weight: bold;
        color: #619bc4;
}
.dorange {
	font-size: 10px;
	font-weight: bold;
	color: #ff9900;
	text-decoration: none;
}
.dviolet {
	font-size: 10px;
	font-weight: bold;
	color: #a070a0;
	text-decoration: none;
}
.drose {
	font-size: 10px;
	font-weight: bold;
	color: #ff33cc;
	text-decoration: none;
}
.alert {
	font-weight: bold;
	color: #a070a0;
}
.date {
	font-size: 10px;
	color: #FFFFFF;
}
.editeur {
	font-size: 10px;
	color: #FFFFFF;
}
.dgris {
	font-size: 10px;
	font-weight: bold;
	color: #555555;
}
.dgrisregular {
	font-size: 10px;
	font-weight: normal;
	color: #555555;
}
.ctitre {
	font-size: 12px;
	font-weight: bold;
	color: #ff9900;
}
.lienrose {
	color: #d94165;
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
}
a, .lienbleu {
	font-size: 11px;
	color: #31b5ff;
	text-decoration: none;
}
.lienbleu2 {
	font-size: 11px;
	color: #619bc4;
	text-decoration: none;
}
.liengris {
	color: #555555;
	text-decoration: none;
	font-size: 10px;
	font-weight: normal;
}
ul {
  list-style-image: url("puce.gif");
}


.fieldcomment {
	color: #d94165;
	text-decoration: none;
	font-size: 9px;
	font-weight: normal;
}
.inputhome {
 font-size: 9px;
 color: #555555;
 background-image: url(fd-input.gif);
 height: 14px;
 width: 87px;
 border: 1px solid #abdcff;
 font-family: Arial, Helvetica, sans-serif;
}
.checkbox {
	border: 0px;
}
input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #666666;
}
select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #666666;
}
body, .nostyle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #555555;
	text-decoration: none;
  font-weight: normal;
}
td {
	font-size: 11px;
	color: #555555;
}
.fdrepeat1 {
	background-repeat: repeat-x;
}
a:hover {
	text-decoration: underline;
}
.lienblanc {
	color: #FFFFFF;
	text-decoration: none;
}
.form1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #666666;
}
.select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #666666;
	width: 250px;
}
.bt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CC3366;
	background-color: #FFFFFF;
	border: 1px solid #CC3366;
}
.select2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #666666;
	width: 100px;
}
.lienannu {
 color: #ff9900;
 text-decoration: none;
 font-size: 10px;
 font-weight: bold;
}
.lienagenda {
 color: #A070A0;
 text-decoration: none;
 font-size: 10px;
 font-weight: bold;
}
.lienplan {
 color: #ff33cc;
 text-decoration: none;
 font-size: 10px;
 font-weight: bold;
}
.lieneservices {
 color: #ff9900;
 text-decoration: none;
 font-size: 10px;
 font-weight: bold;
}
.liendeliberation {
 color: #31b5ff;
 text-decoration: none;
 font-size: 10px;
 font-weight: bold;
}
.sousmenu {
 font-size: 10px;
 color: #555555;
 text-decoration: none;
}
fieldset {
  border: 1px solid #d94165;
	color: #d94165;
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
	padding: 5;
}
label {
	float: left;
	width: 100%;
  text-align: left;
	line-height: 1.8;
}
fieldset label:hover {
	cursor: pointer;
}
fieldset input, select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #666666;
	font-weight: normal;
	float: left;
  text-align: left;
}
