/***Mise en forme des balises par dfaut***/
/******************************************/
body, ul, li, ol, p, dl, dt, dd, form, div, h1, h2, h3, h4, h5, h6, label, a, table {margin:0;padding:0;}
body {font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#292895; background:#0c1686}
a {text-decoration:underline;color:#292895;}
a:hover {text-decoration:none;}
sup {line-height:0px;}
img {border:0px;}
input{ padding:0; margin:0}
form{ padding:0; margin:0}
li { list-style:none}
select {padding:0; margin:0}
*{ font-family:Arial, Helvetica, sans-serif;}
/***Classes gnriques***/
/************************/
.clear{clear:both;}
.spaceTop{margin:5px 0 0 0;}
/***Arborescence ID gnrique ***/
/********************************/
#main {width:955px; background:#FFFFFF;}

	#header {width:955px;}
		#header h1 {width:174px;float:left;}
		#header ul{width:781px;float:left;}
		
		#lev1 {width:781px;}
			#lev1 li { float:left; height:39px;}
			#lev1 img {display:block}
		
		#lev2 {width:781px;}
			#lev2 li {float:left;height:29px}
			#lev2 img {display:block}
			
	#content {width:955px; padding:10px 0 6px 0}
	
		#cont {width:736px;float:left;padding:0 0 0 0}
		
			#mainHighlight {padding:0 2px 10px 6px;}
			#highlights {width:724px; padding:0 6px 0 6px;}
				#highlights div {width:176px;float:left;padding:0 6px 0 0;}
				#highlights div div {width:170px;padding:10px 3px 0 3px; float:none; background:url(bgd_hightlight.gif) bottom no-repeat;}
				#highlights .last {width:178px; float:left;padding:0 0 0 0;}
				#highlights .last div {width:auto;background:none;padding:0 0 0 0;}
				#highlights ul {padding:0 3px 10px 3px}
				#highlights li a {color:#292895;background:url(puce_link.gif) 0 4px no-repeat; padding:0 0 0 8px}
				#highlights h2 {color:#ffffff;font-size:12px;height:20px;font-weight:bold;padding:5px 0 0 10px;background:url(bgd_h2_hightlight.gif) no-repeat}
				#highlights p {padding:0 3px 10px 3px}
				#highlights img {padding:0 0 10px 0; display:block}
				
				#highlights	#recherchezCentre {margin:0 0 0 0}
				#highlights	#recherchezCentre img {padding:0}
				#highlights	#recherchezCentre input { float:left; width:80px; font-size:11px; color:#292895; padding:1px 0 1px 2px}
				#highlights	#recherchezCentre #valider { width:25px; height:22px; padding:0 0 0 4px}
				#highlights	#recherchezCentre #formRecherchez {background:url(bgd_recherche.gif) top no-repeat;}
				#highlights	#recherchezCentre #saisirCodePostal {width:166px;padding:10px 3px 15px 9px;}
				#highlights	#recherchezCentre #saisirCodePostal p{padding:0 0 5px 0;}
				#highlights	#recherchezCentre #saisirCodePostal div {padding:10px 0 15px 0;}
				#highlights	#recherchezCentre #recherchezVotre {padding:0 3px 3px 9px; overflow:hidden; width:166px;}
				#highlights	#recherchezCentre #recherchezVotre div{ padding:0 0 0 0; float:right}
				
		
		#context {width:219px;float:left;}
		
			#votreCompte {width:210px;background:url(bgd_votre_compte.gif) no-repeat; padding:0 0 10px 6px; margin:0 0 0 0; color:#ffffff}
				#votreCompte div {padding:0 0 10px 0;}
				#votreCompte span { color:#FF0000; font-weight:bold}
				#votreCompte p {padding:0 0 6px 0; font-weight:bold;}
				#votreCompte label {float:left}
				#votreCompte input {width:140px; float:left; font-size:12px; color:#292895;padding:1px 0 1px 2px; margin:0 0 5px 0}
				#votreCompte #validerCompte {width:25px; height:22px; padding:0 0 0 4px; float:left}
				#votreCompte #cbAutoLogin {width:14px; height:14px; margin:0 4px 0 0; float:left}
				#votreCompte #retourMagasin { padding:90px 0 12px 0}
				#votreCompte #retourMagasin a { color:#FFFFFF}
			
			#creerCompte {width:215px;background:#ffffff; padding:0 0 0 0; margin:0 0 0 0; color:#619209}
				#creerCompte a { color:#619209}
				#creerCompte div {padding:0 0 0 0; }
				#creerCompte li img {float:left;padding:0 0 0 0;}
				#creerCompte li div {width:150px;float:left;padding:5px 0 0 0;}
				#creerCompte ul {width:207px;padding:0 0 5px 6px; border-left:1px solid #9fc117;border-right:1px solid #9fc117;}
				#creerCompte li {width:205px;padding:0 0 5px 0;}
			
			#newsletter {width:216px;background:url(bgd_newsletter.gif) bottom no-repeat; padding:0 0 11px 0; margin:10px 0 5px 0; color:#bcc0df}
				#newsletter div {padding:0 0 4px 0;}
				#newsletter p {padding:0 0 2px 6px;font-size:11px}
				#newsletter p strong { font-size:12px}
				#newsletter input {width:140px; float:left; font-size:12px; color:#292895;padding:1px 0 1px 2px; margin:0 0 5px 6px}
				#newsletter #validerNewsletter {width:25px; height:22px; padding:0 0 0 4px; float:left; margin:0}

	#footer {width:925px;padding:10px 0 10px 30px;}
		#footer ul{float:none;width:925px;}

		#footerLev1 {width:925px;padding:0 0 5px 0;}
			#footerLev1 li {list-style:none;float:left;padding:0 0 0 4px; font-size:11px}
			
		#footerLev2 {width:925px;padding:0 0 0 0;color:#ff762f;font-weight:bold;font-size:11px}
			#footerLev2 li {list-style:none;float:left;padding:0 0 0 4px;}
			#footerLev2 li a {color:#ff762f;}
			
/* gallery Products
***********************************************************************/
#galleryProducts {font-size:11px; width:945px; height:166px; background:#eaebf4 url(bgd_gallery.gif) no-repeat; overflow:hidden; padding:5px 0 0 7px;}
#galleryProducts * {margin:0; padding:0; border:0 none; outline:none;}
#galleryProducts h4 { font-size:12px; color:#292895;}
#galleryProducts h4 img{ margin:0 5px 0 0;}
	#btnPre, #btnNext {float:left; display:block; margin:50px 0 0 0;}
#galleryProductsInner {width:852px; overflow:hidden; float:left; margin:10px 0 0 10px; position:relative;}
	
	#galleryProductsSlide {width:50000px;}
	#galleryProductsSlide .slideTag {width:279px; float:left; margin:0 10px 0 0; border-right: dashed #d8dbe4 1px; height:120px}
	/*#galleryProductsSlide .slideProductImage {width:85px; float:left;}
	#galleryProductsSlide .slideTicket {color:#f00; font-weight:bold; line-height:32px; margin:5px 0 0 0;}
		#galleryProductsSlide .slideTicket img {display:block; margin:0 4px 0 0; float:left;}
	#galleryProductsSlide  .slideProductContent {width:87px; float:left;}
		#galleryProductsSlide  .slideProductContent * {display:block;}
		#galleryProductsSlide  .slideProductContent a {font-size:11px; margin:0; color:#292895; text-decoration:underline; font-weight:bold;}
			#galleryProductsSlide  .slideProductContent a:hover {text-decoration:none;}
		#galleryProductsSlide  .slideProductContent strong {color:#ff0000; font-size:14px; padding:3px 0;}
		#galleryProductsSlide  .slideProductContent p {color:#292895;}			*/
		
/* home_new.asp*/	
.slideTag{font-family:Arial, Helvetica, sans-serif}
#galleryProducts .slideTag .productTitle{float:left; width:160px;  color:#292895;}	
#galleryProducts .slideTag .productTitle p{ padding:5px 0 0 0;}	

/*without ticket of reduction and reduction at cash*/
#galleryProducts .slideTag .productPrice{font:Arial, Helvetica, sans-serif;margin:0;float:left;background:url(bgd_hightlightPrice4.gif) no-repeat; width:111px; height:56px; color:#FFFFFF; font-weight:bold; font-family:Arial, Helvetica, sans-serif; padding:3px 0 0 0;}
	#galleryProducts .slideTag .productPrice ul {padding:0; margin:0;}
		#galleryProducts .slideTag .productPrice li {list-style:none;}
	#galleryProducts .slideTag .productPrice .price{font-size:16px; text-align:center; line-height:12px;}
	#galleryProducts .slideTag .productPrice .unit{ font-size:9px;text-align:center ; color:#FFFFFF; line-height:10px; margin:2px 0 2px 0;}
	#galleryProducts .slideTag .productPrice .ecoParticipation{color:#FFFFFF; font-size:9px; line-height:9px; padding:2px 0 0 5px;text-align:center ;}
/*with or notticket of reduction and maybe reduction at cash too */
#galleryProducts .slideTag .productPriceWithTicket{font:Arial, Helvetica, sans-serif; float:left;margin:0 0 0 5px;float:left;font-weight:bold; background:url(bgd_HL_OrangePrice_tickets.gif) no-repeat; width:106px; height:113px; font-family:Arial, Helvetica, sans-serif;}
	#galleryProducts .slideTag .productPriceWithTicket ul {padding:0; margin:0;}
		#galleryProducts .slideTag .productPriceWithTicket li {list-style:none; text-align:center}
	#galleryProducts .slideTag .productPriceWithTicket .substraction{height:53px; padding:1px 0 3px 1px; text-align:center;}
	#galleryProducts .slideTag .productPriceWithTicket .price1{color:#00519e; float:left; padding:17px 0 0 5px; font-size:11px;} 
	#galleryProducts .slideTag .productPriceWithTicket .ticket{display:block; float:left;width:36px; color:#00519e; font-size:9px; text-align:center;padding:15px 0 9px 0; margin:6px 0 0 1px;background:url(bgd_price.gif) no-repeat;}
	#galleryProducts .slideTag .productPriceWithTicket .ticketB{width:37px;color:#ffffff;font-size:11px; text-align:center; display:block; float:left; padding:5px 0 18px 0; margin:6px 0 0 2px; background:url(bgd_price_B.gif) no-repeat;}
	#galleryProducts .productPriceWithTicket .enCaisse {clear:both;color:#00519E; text-align:center; font-weight:normal;}
	
	/* reduction at cash but ticket*/
	#galleryProducts .slideTag .productPriceWithTicket .substraction2{height:29px;padding:15px 0 13px 0; text-align:center;}
	
	/* Price+unit+ecopartipation after all calculation*/
	#galleryProducts .slideTag .productPriceWithTicket .price{color:#FFFFFF; font-size:16px; text-align:center; line-height:16px; padding:0; margin:0;}
	#galleryProducts .slideTag .productPriceWithTicket .price2{color:#00519e;font-size:11px;} 
	#galleryProducts .slideTag .productPriceWithTicket .unit{ font-size:9px; text-align:center ; color:#FFFFFF; padding:0;margin:1px 0 2px 0;}
	#galleryProducts .slideTag .productPriceWithTicket .ecoParticipation{color:#FFFFFF; font-size:9px; line-height:9px; padding:2px 0 0 5px;text-align:center ;}

/*Add on 06/06/2008*/
	#galleryProducts .slideTag .productPriceWithTicket .deuxLignes {padding:10px 0 0 0;}
	#galleryProducts .slideTag .productPriceWithTicket .uneLigne {padding:12px 0 0 0;}	
	#galleryProducts .slideTag .productPrice .deuxLignes {padding:10px 0 0 0;}
	#galleryProducts .slideTag .productPrice .uneLigne {padding:20px 0 0 0;}
	
/*fin de déclaration de charte soustraction */

#main #mention {margin:0 0 0 35px; font-size:10px;}