/*******************************************************************
 $Id: boiteActus.css,v 1.14 2010/01/18 10:28:52 c-dasilva Exp $
********************************************************************/


.menu-mba #menu2 {
	left:451px;
	height:177px;
	right:0;
	z-index:50;
}

div.actu {
  position:relative;
  margin-left:337px;
  top:17px;
  width:553px;
  height:337px;
  cursor:pointer;
  overflow:hidden;
}
.actu h2, h3{
  border:none;
  background:none;
  padding:0px;
  margin:0px;
  color: white;
  font-weight:normal;
  text-align:left;
}
.cadreActu1 h2 {
  margin-top:5px;
  padding-top:2px;
  padding-bottom:4px;
}
.actu2 h2 {
	padding-bottom:3px;
}
.actu h3 {
	margin-bottom:0px;
}
.actu a { 
  color: white;
  font-weight:normal;
  text-decoration:none;
  text-align:left;
  text-indent:0px;
}

.cadreActu1 {
  float:left;
  border:3px solid white;
  width:250px;
  height:326px;
  background-color:#B6B187;
  margin:0;
  padding:0;
  position:relative;
}

.cadreActu1 .texte {
  margin:0 5px;
}

.cadreActu1 div.image {
  margin:0;
  padding:0;
  position:absolute;
   bottom:0;  
}


.cadreActu1 div.image img{
	border-top:3px solid white;
	width:250px;
}



.cadreActu2 {
  float:left;
  padding:0px;
  margin:0px;
  margin-left:11px;
  width:280px;
  height:342px;
  overflow:hidden;
}

.actu2 {
  margin:0px;
  margin-bottom:10px;
  border:3px solid white;
  clear:both;
  width:260px;
  background-color:#B6B187;
}

.actu2 div.texte {
  background-color:#B6B187;
  padding:3px;
  height:92px;
  padding-left:5px;
  overflow:auto;
}
.actu2 div.image {
  float:left;
  border-right:3px solid white;
  width:70px;
  padding:0px;
}

.actu2 div.image img{
	position:relative;
	float:left;
	width:70px;
	height:98px;
}

.cadreActu1 h2 {
		font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size:2.4em;  
}

.cadreActu1 h3 {
		font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size:1.5em;  
}
.actu2 h2 {  
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size:1.7em;          
}
.actu2 h3 {    
    text-align:left;
    margin:0;    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:1em;    	
}
                

div.commentaire {
	top:304px;
	left:98px;
}
div.commentaire-inside {
	background-color:#00b9ce;
}
div.commentaire-fleche {
  background-image:url('coin_commentaire_bleu.gif');
  background-repeat:no-repeat;
  background-position:20px 0px;
}
