.boxrollover {
  width: 150px;
  float: left;
  height:19px;
  font-weight: normal;
  overflow:hidden;
  z-index:10;
  margin-left:3px;
  margin-right:3px;
}

.boxrollovertitle {
  color: #000;
  padding-top: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  border: 1px solid #000;
  background-color:#ccc;
}

.boxrollovercontent {
  padding-top: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color:#ccc;
}

.boxcontainer {
  position: absolute;
  top: 0px;
  margin-left: 0px;
  z-index:200;
}

