@charset "UTF-8";
/* CSS Document */

* {
margin: 0; padding: 0;
}

ul li {
text-indent: 0px;
color:#993366
}




.actuh{
color:#15507C;
font-family:Trebuchet MS,Arial,Helvetica,sans-serif;
font-size: 13px;
font-weight: normal;
padding:2px 7px 10px;


}
.marg {
color:#666666;
position: relative;
left: 77px;
text-transform: none;
font-size: 11px;
font-weight: 500;
text-decoration: underline;
}

.marg-a {
color:#666666;
text-transform: none;
position: relative;
left: 750px;
text-decoration:underline
font-size: 11px;
font-weight: 500;
}

.actuh a, .actuh a:visited, .actuh a:link, .actuh a:active {
color:#666666;
text-decoration:none;
font-size: 11px;
font-weight: 500;
text-decoration:underline
}


/* video */
.videoconteneur{
background-color: #252525;
margin-left: 10px;
padding:1px;
height: 420px;
width: 341px;
}

.contentvideo{
background-color:#000000;
height: 420px;
width: 341px;
}
.uns {
padding: 2 0 0 0px;
border-bottom: #161616 1px solid;

}

.box-left {
background-color:#E2E6E9;
clear:both;
height:25px;
width:277px;
}

.box-left-text {
display:block;
padding:5px;
text-decoration:none;
}

#faczine {
color: #E2E6E9;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
font-weight:500;
margin-top: 5px;
border-bottom: #252525 1px solid;
}
.fac {
float:right;
margin: 2px 2px 0 0;
}

.tjr {
display: block;
float:left;
height: 52px;
line-height: 52px;
padding: 0 0 0 25px;
}
#rdv {
clear: both;
display: block;
width: 341px;
height: 25px;
text-align: center;
border-bottom: #161616 1px solid;
border-top: #161616 1px solid;
padding: 2px 0 2px 0;
}
a.rd {
font-size:18px;
font-weight:500;
text-decoration: none;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #FFFFFF;
}
a.rd:visited, a.rd:link, a.rd:active {
color: #FFFFFF;
text-decoration: none;
}

a.rd:hover, a.rd:focus {
color: #4c9fd3;
text-decoration: none;
}

/* une */
.uneconteneur{
background-color:#E2E6E9;
margin-left: 10px;
padding:1px;
width: 350px;
}

.insconteneur{
padding: 0;

}
.contentune{
background:#FFFFFF url(f-ac.jpg) repeat-x scroll 0 0;
padding:3px;
border-bottom: 1px solid #D2E6E9;
}


.unebox{
background:#FFFFFF url(fond-article.gif) repeat-x scroll 0 0;
border-bottom:1px solid #E2E6E9;
list-style-type:none;
padding:1px;
../img/fond-article.gif
}

.uneimg{
border:1px solid #D2E6E9;
float:left;
margin:4px;
padding:2px;
}
.uneinfo
{
float:left;
width:230px;
padding: 5px 0 0 5px;
color: #666666;
}


.cleaner {
clear:both;
margin:0;
padding:0 0 5px;
}

.unebox .uneinfo a {
color: #15507c;
text-decoration: none;
font-weight:600;
}

.unebox .uneinfo a:hover {
color: #818384;
text-decoration: none;
font-weight:600;
}

.actubox li a {
color: #15507c;
text-decoration: none;
font-weight:600;
}

.actubox li a:hover {
color: #818384;
text-decoration: none;
font-weight:600;
}

.actuconteneur{
background-color:#E2E6E9;
margin-left:10px;

margin: 10px 20px 10px 10px;

}
.contentactu{
background:#FFFFFF url(f-ac.jpg) repeat-x scroll 0 0;

border-bottom:1px solid #D2E6E9;
height: 310px;
font-size:10px;
}


ul.actubox{
float:left;
margin-right: 5px;
text-align: left;
width: 310px;
color:#666666;
padding-left: 5px;

}


ul.actubox li {
list-style-type: none;
padding:1px;
width: 290px;
}

.actuimg{
float:left;
margin:4px;
padding:2px;
}
.actuinfo
{
float:left;
padding: 3px;
color:#666666;
width: 200px;
}

.link-etudb {
-x-system-font:none;
background: none;
color:#BD030D;
font-family:Trebuchet MS,Arial,Helvetica,sans-serif;
font-size:13px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:11pt;
padding-left: 0;
text-decoration:none;

}
a.link-etudb:visited, a.link-etudb:link, a.link-etudb:active {
-x-system-font:none;
background: none;
color:#BD030D;
font-family:Trebuchet MS,Arial,Helvetica,sans-serif;
font-size:13px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:11pt;
padding-left: 0;
text-decoration: underline;
}

a.link-fut-etudb:visited, a.link-fut-etudb:link, a.link-fut-etudb:active {
-x-system-font:none;
background: none;
color:#FE9500;
font-family:Trebuchet MS,Arial,Helvetica,sans-serif;
font-size:13px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:11pt;
padding-left: 0;
text-decoration: underline;
}

