﻿@charset "utf-8";
/* CSS Document */

.ErrorMessage
{
	color:Red;
}

/*.col_gauche_traiteur{
	width:600px;
	float:left;
	padding-left:5px;
	padding-top:2px;
	margin-right:25px!important;
	margin-right:11px;
	z-index: 200;
}*/

.col_traiteur_int_gauche_corps
{
	margin-left:1px;
	float:left;
	background-color:White;
	width:563px;
}
/*.col_traiteur_int_gauche{
	width:563px;
	height:auto;
	padding:0;
	margin:0;
}*/
.col_traiteur_int_droite{
	float:right;
	width:278px;
	height:auto;
	padding:0;
	margin:0;

}

.lien_traiteur{
	background: url(middle_traiteur.jpg) no-repeat 0px 0px;
	float:left;
	width:260px;
	height:105px;
	padding-top:10px;
	padding-left:15px;
	padding-right:8px;
	text-decoration:none;
	cursor: hand;	/* FOR IE */
	display:block;
	
}
.lien_traiteur:hover, .lien_traiteur.first:hover, .lien_traiteur.laster:hover{
	background: url(rollover_traiteur02.jpg) no-repeat 0px 0px;
	width:260px;
	height:105px;
	padding-top:10px;
	padding-left:15px;
	padding-right:8px;
	text-decoration:none;
	cursor: hand;	/* FOR IE */
}
.lien_traiteur.first{
	background: url(header_traiteur.jpg) no-repeat left -5px;
	width:260px;
	height:105px;
	padding-top:10px;
	padding-left:15px;
	padding-right:8px;
	text-decoration:none;
	cursor: hand;	/* FOR IE */
	display:block;
	
}
.lien_traiteur.laster{
	background: url(footer_traiteur.jpg) no-repeat left bottom;
	width:260px;
	height:105px;
	padding-top:10px;
	padding-left:15px;
	padding-right:8px;
	text-decoration:none;
	cursor: hand;	/* FOR IE */
	display:block;
	
}


.lien_traiteur img{
	float:left;
	padding-right:10px;
}

.bloc_lien_traiteur img{
	float:left;
	padding-right:10px;
}
/*.encart_droite_traiteur{
	background: url(/style%20library/images/traiteur/fond_haut.png) no-repeat left top !important;
	height:auto!important;
	height:310px;
	min-height:315px;
}*/


/*.bloc_lien_traiteur:hover{
	background: url(./images/traiteur/rollover_blocInterieur.jpg) no-repeat right -5px;
	/*width:255px;
	height:105px;
	padding-top:15px;
	padding-left:15px;
	padding-right:8px;
	text-decoration:none;
	cursor: hand;	 FOR IE */
/*}
.bloc_lien_traiteur{
	background: url(./images/traiteur/blocInterieurBg.jpg) no-repeat right -5px;
	float:left;
	width:255px;
	height:106px;
	padding-top:15px;
	padding-left:15px;
	padding-right:8px;
	text-decoration:none;
	cursor: hand;	/* FOR IE */
	/*display:block;
}*/

/* le super Tableau Article  */
/*.tableauArticle{
	width:264px;
	height:auto;
}
.headerTableauArticle{
	width:230px;
	padding-left:29px;
	padding-right:5px;
	padding-top:57px;
	height:20px;
	background: url(./images/traiteur/headerTableauArticle.jpg) no-repeat left top; 
}
.ligneTableauArticle{
	width:230px;
	padding-left:29px;
	padding-right:5px;
	padding-top:3px;
	padding-bottom:3px;
	min-height:20px;
	background: url(./images/traiteur/bg_ligneArticle.jpg) left top; 
	
}
.ligneTableauArticle:hover{
	width:230px;
	padding-left:29px;
	padding-right:5px;
	padding-top:3px;
	min-height:20px;
	background: url(./images/traiteur/bg_ligneArticleover.jpg) -1px top; 
}

.footerTableauArticle{
	width:230px;
	padding-left:29px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:3px;
	height:82px;
	background: url(./images/traiteur/footerTableauArticle.jpg) no-repeat -1px bottom; 
}

.headerTableauArticle table{ 
	width:200px;
	border:0;
}
.headerTableauArticle td{
	width:66px;
	color:#FFF;
	font-size:12px;
	font-weight:bold;
}
.ligneTableauArticle table{ 
	width:200px;
	border:0;
}
.ligneTableauArticle td{
	width:66px;
	color:#000;
	font-size:12px;
	font-weight:normal;
	padding-bottom:3px;
	border-bottom:#e8e8e8 1px solid;
}

.footerTableauArticle table{ 
	width:200px;
	height:40px;
	border:0;
}
.footerTableauArticle td{
	width:66px;
	color:#000;
	font-size:12px;
	font-weight:bold;
	padding-bottom:3px;
}



.btnMenuArticle{ margin-left:40px;}
.txtAlignL{ text-align:left}
.txtAlignC{ text-align:center}
.txtAlignR{ text-align:right}
.txtArticleTraiteur{float:left; margin:0; width:138px}
.titre_bleu_18{color:#00447d; font-size:18px!important; margin-bottom:10px!important}
h3 .grey{color:#828282; font-size:18px;}
.titre_bleu_18 a{margin-left:25px; font-size:11px!important;}

#menu_detail{
	width:589px;
}

.traiteur_bas{
	background:url(./images/traiteur/bas.png) no-repeat;
	height:9px;
}*/

/*  formulaire menu*/
.tableauDetailHaut{
	background-color:#FFF;
	margin:0;
	border-top: 1px solid #e0e7ee;
	border-right: 1px solid #e0e7ee;
	border-bottom: none;
	border-left: 1px solid #e0e7ee;
	width:589px;
}
.tableauDetailHaut th{
	background:url(bgTh.jpg); 
	color:#FFF;
	font-weight:bold;
	font-size:12px;
	height:21px;
	padding-top:4px;
	text-align:center;
}
.tableauDetailHaut td{
	background:#FFF; 
	height:113px;
}

.bordureTR{
	 border-bottom:#e0e7ee 1px solid;
}

.tableauDetailHaut tr:hover .bloc_lien_traiteur{
	background: url(rollover_blocInterieur.jpg) no-repeat right -5px;
	width:255px;
	height:105px;
	padding-top:15px;
	padding-left:15px;
	padding-right:8px;
	text-decoration:none;
	cursor: hand;	/* FOR IE */
}
.tableauDetailHaut tr:hover td{
	background:#ccc; 
	height:115px;
}
.brdLeftGrey{ border-left:#e0e7ee 1px solid;}
.brdRightGrey{ border-right:#e0e7ee 1px solid;}

.tdDetail_1{ width:278px; vertical-align:middle;}
.tdDetail_2{ width:190px; vertical-align:middle; text-align:center;}
.tdDetail_3{ width:124px; vertical-align:middle; text-align:center;}
.total{ background:#fff;}
.total_1{
	width:589px; 
	height:21px;
	padding-top:10px;
	background:#fff url(superTableau_11.jpg) no-repeat top left;
}
.total .bleu{ 
	padding-left:210px; 
	width:200px; 
	text-align:right;
	color:#00447d; 
	font-size:14px; 
	font-weight:bold;
	float:left;
}
.total_2{
	width:589px; 
	height:21px;
	padding-top:10px;
	background:#fff url(superTableau_13.jpg) no-repeat top left;
	
}
.total_3{
	width:589px;
	min-height:56px;
	padding-top:10px;
	background:url(superTableau_15.jpg) 1px top;
}
.total_3 a{ font-size:11px; font-weight:normal;}
.total_4{
	width:589px; 
	height:13px;
	background:url(superTableau_16.jpg) no-repeat top left;
}
/*
.colNoir{ 
	float:left;
	width:150px; 
	padding-left:15px;
	font-size:12px; 
	font-weight:bold;
	text-align:left;
}
*/
.tableauDetailHaut input{ width:20px; margin-right:10px;}
.contentA {
float:left;
margin-left:23px;
width:400px;
}
.contentB {
float:left;
width:150px;
}
/*.floatL{ float:left;}
.w50{ width:20px;}
.w150{ width:150px;}
.w170{ width:170px;}
.w200{ width:180px;}*/
.mtopfoot{margin-top:-6px;}

.bleuDetail{ 
	margin:0; 
	font-size:14px;
	color:#00447d;
}
.ml15{ margin-left:15px;}


/* colonne droite */
/*#colonne_droite_traiteur{
	float:right;
	width:265px;
	margin-top:463px;
}*/
/*.menu{
	position:absolute;
	height:362px;
	width:271px;
	margin-left:594px!important;
	margin-left:0px;
}*/
/*.menu_haut{
	background: url(./images/traiteur/fond_menu.png) no-repeat left top;
	padding-top:5px;
}
.menu_bas{
	background: url(./images/traiteur/fond_menu_bas.png) no-repeat left bottom;
	padding:0 0 7px 0;
}*/

/*.bas_traiteur{
	background:url(./images/traiteur/fond_bas.png) no-repeat left top;
	height:6px;
}*/