/* CSS Document */

html {
	height: 100%;
}
body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
form, map {
	margin: 0px;
	padding: 0px;
	border: none;
}
body, td, a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #494949;
}
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

#page {
	background: url(fond-hp-y.gif) repeat-y center top;
	height: 100%;
}
#pageTd {
	height: 100%;
}

#conteneur {
	background: url(fond-hp.jpg) no-repeat center top;
}

#contenu {
	width: 956px;
	margin: 0px auto;
	text-align: left;
	position: relative;
}

#headerTitre h1 {
	margin: 0px;
	padding: 0px;
	height: 102px;
	width: 380px;
	float: left;
}
#headerTitre ul {
	float: right;
	margin-top: 5px;
}
#headerTitre ul li {
	display: inline;
	margin-left: 20px;
}
#headerTitre ul li a {
	color: #FFFFFF;
	font-size: 11px;
}

#headerTexte {
	float: right;
	margin-top: 5px;
	text-align: right;
	color: #333333;
	font-weight: bold;
	font-size: 11px;
	width: 450px;
}
#headerTexte p {
	margin: 0px;
	padding: 0px;
}
#logoAccessiweb {
	float: right;
	margin-top: 5px;
}

#rubriques {
	background: url(fond-menu.gif) no-repeat 0px 0px;
	height: 184px;
	margin-top: 11px;
	text-align: left;
}

#encartsBas {
	background: url(fond-encarts-bas.gif) no-repeat 0px 0px;
	height: 193px;
	margin-top: 11px;
}

input, select {
	border: 1px solid #878787;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #878787;
}
input#recherche {
	width: 155px;
}
input.ok {
	border: none;
}

ul {
	margin: 0px;
	padding: 0px;
}
ul li {
	list-style: none;
}

ul.menuHeader {
	height: 39px;
	width: 588px;
	background: url(menu-haut.gif) no-repeat 0px 0px;
}
ul.menuHeader li {
	float: left;
	height: 12px;
}
ul.menuHeader li a {
   	display: block;
	height: 22px;
	font-size: 0px;
	text-indent: -5000px;
}
ul.menuHeader li.btn1 a {
	width: 140px;
}
ul.menuHeader li.btn2 a {
	width: 134px;
}
ul.menuHeader li.btn3 a {
	width: 146px;
}
ul.menuHeader li.btn4 a {
	width: 168px;
}
ul.menuHeader li.btn1 a:hover {
	background: transparent url(menu-haut.gif) no-repeat 0px -39px;
	height: 39px;
}
ul.menuHeader li.btn2 a:hover {
	background: transparent url(menu-haut.gif) no-repeat -140px -39px;
	height: 39px;
}
ul.menuHeader li.btn3 a:hover {
	background: transparent url(menu-haut.gif) no-repeat -274px -39px;
	height: 39px;
}
ul.menuHeader li.btn4 a:hover {
	background: transparent url(menu-haut.gif) no-repeat -420px -39px;
	height: 39px;
}

#decouvrir, #sejour, #infos {
	float: left;
}
#decouvrir {
	padding-left: 29px;
}
#sejour, #infos {
	padding-left: 20px;
}
#decouvrir h2 {
	width:286px;
	margin: 0px;
	padding: 0px;
	padding-top: 8px;
}
#sejour h2 {
	width:286px;
	margin: 0px;
	padding: 0px;
	padding-top: 8px;
}
#infos h2 {
	width:286px;
	margin: 0px;
	padding: 0px;
	padding-top: 8px;
}
#decouvrir ul {
	width:286px;
	background-color:#9ACC00;
}
#sejour ul {
	width:286px;
	background-color:#DB0077;
}
#infos ul {
	width:286px;
	background-color:#FE9918;
}
#decouvrir li {
	padding: 5px;
	background: url(barre-verte.gif) no-repeat center top;
	text-align: center;
}
#sejour li {
	padding: 5px;
	background: url(barre-rose.gif) no-repeat center top;
	text-align: center;
}
#infos li {
	padding: 5px;
	background: url(barre-orange.gif) no-repeat center top;
	text-align: center;
}
#decouvrir a, #sejour a, #infos a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}


#divRechercheGlobal {
	position:relative;
	top:0px;
	left:0px;
	margin:0px;
	margin-left:0px;
	padding:0px;
	text-align: left;
}

#divRecherche {
	position:absolute;
	top:-492px;
	left:15px;
	width:133px;
	visibility: visible;
	margin:0px;
	margin-left:0px;
	padding:0px;
}


.floatLeft { float: left; }
.clearBoth { clear: both; }
.clearRight { clear: right; }
.positionRelativeGlobalLayer { position: relative; right: 0px; top: 0px; }
.positionAbsolueLayer { position: absolute; right: 0px; top: -2px; }


#options {
	text-align: right;
}

ul.headerMenu {
	float: right;
	margin-top: 5px;
}
ul.headerMenu li {
	display: inline;
	margin-left: 20px;
}
ul.headerMenu li a {
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
}




.Arial9pxBlanc, td.Arial9pxBlanc, p.Arial9pxBlanc, span.Arial9pxBlanc, a.Arial9pxBlanc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
}
.Arial9pxRose, td.Arial9pxRose, p.Arial9pxRose, span.Arial9pxRose, a.Arial9pxRose {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #DC0078;
}
.Arial11pxRoseBold, td.Arial11pxRoseBold, p.Arial11pxRoseBold, span.Arial11pxRoseBold, a.Arial11pxRoseBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #DC0078;
	font-weight: bold;
}
.Arial9pxBleu, td.Arial9pxBleu, p.Arial9pxBleu, span.Arial9pxBleu, a.Arial9pxBleu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #1889FE;
}
.Arial11pxBleu, td.Arial11pxBleu, p.Arial11pxBleu, span.Arial11pxBleu, a.Arial11pxBleu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #1889FE;
}
.Arial11pxBleuBold, td.Arial11pxBleuBold, p.Arial11pxBleuBold, span.Arial11pxBleuBold, a.Arial11pxBleuBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #1889FE;
	font-weight: bold;
}

.Arial11pxBlancBold, td.Arial11pxBlancBold, p.Arial11pxBlancBold, span.Arial11pxBlancBold, a.Arial11pxBlancBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
}


.Arial11pxBlancBoldSansDeco, a.Arial11pxBlancBoldSansDeco {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
.Arial11pxGris, td.Arial11pxGris, p.Arial11pxGris, span.Arial11pxGris, a.Arial11pxGris {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #494949;
}
.Arial11pxGrisBold, td.Arial11pxGrisBold, p.Arial11pxGrisBold, span.Arial11pxGrisBold, a.Arial11pxGrisBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #494949;
	font-weight: bold;
}


