html,body{
	margin: 0px;padding: 0px;
	text-align: center;
	font-family:  Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	color: #ccc;
	background: ;
	height:100%;
}

td{
padding-bottom: 2px;
}

tr{
padding-bottom: 2px;
}

table{
padding-bottom: 2px;
}


.wrapper {
	text-align: left;
	margin: 0px auto;
	padding: 0px;
	border:0;
	width: 908px;
	background-color: #FFF;
}

#header {
	width: 100%; 
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
		
#container{
	clear:both;
	margin:0px;
	padding:30px 0px 0px 0px;
	background-repeat: no-repeat;
	background-position: center top;
	font-weight: normal;
}
		
#footer {
	clear: both;
	text-align:center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 20px;
	padding-left: 5px;
}
			
#left{
	float:left;
}

#logo{
	display: block;
	width: 908px;
	float: left;
	overflow: hidden;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-image: url(logodef.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 180px;
}

.float_left{
	float:left;
}

.float_right{
	float:right;
}
		
#toolBox{
	height: 24px; 
	width: 115px; 
	background: url(toolbox-background.jpg) no-repeat; 
	float: right;
}

#home{
	display: inline; 
	width: 11px; 
	padding: 23px 0px 0px 0px; 
	margin: 0px 0px 0px 17px; 
	overflow: hidden; 
	background: url(home.gif) no-repeat;
	float: left;
	height: 0px !important;
	font-size: 1px;
}		
	
#siteMap{
	display: inline; 
	width: 21px; 
	padding: 23px 0px 0px 0px; 
	margin: 0px 19px 0px 19px; 
	overflow: hidden; 
	background: url(sitemap.gif) no-repeat;
	float: left;
	height: 0px !important; 
	font-size: 1px;
}		
	
#contact{
	display: inline; 
	width: 11px; 
	padding: 23px 0px 0px 0px; 
	margin: 0px; 
	overflow: hidden; 
	background: url(contact.gif) no-repeat;
	float: left;
	height: 0px !important; 
	font-size: 1px;
}			

#mainMenu{
	height: 33px;
	clear: both;
	text-align: center;
	background-repeat: repeat;
	background-position: center center;
	font-family: inherit;
	font-size: 14px;
	font-style: normal;
	background-image: url(text-background.gif);
}

#mainMenu ul li{
	float: left;
	display: block;
	color: #FFF;
	font-family: inherit;
	font-size: 14px;
	font-style: normal;
}

#menu{
	width:628px; 
	padding: 0px 0px 0px 195px; 
	margin: 0px auto;
}

#powitanie{
	width: 317px;
	float: left;
	padding-top: 5px;
	padding-right: 24px;
	padding-bottom: 10px;
	padding-left: 24px;
	font-family: inherit;
	font-size: 100%;
	color: #03C;
}

#flash{
	width: 538px;
	float: left;
	height: 302px;
	background-image: url(test-fond.gif);
	background-repeat: no-repeat;
	background-position: center center;
	font-family: inherit;
	font-size: 100%;
	border-top-style: groove;
	border-right-style: groove;
	border-bottom-style: groove;
	border-left-style: groove;
	border-top-color: #900;
	border-right-color: #900;
	border-bottom-color: #900;
	border-left-color: #900;
}

#naSkrotyPortfolio{
	width: 238px;
	height:50px;
	float: left;
	background-repeat: no-repeat;
	padding-top: 50px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 165px;
}

#naSkrotyOferta{
	width: 300px;
	height:50px;
	float: left;
	background-repeat: no-repeat;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 24px;
	background-position: left;
	margin: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family: inherit;
	font-size: 100%;
	font-style: normal;
	color: #33F;
}

#naSkrotyKontakt{
	width: 888px;
	height:20px;
	float: right;
	background-repeat: no-repeat;
	font-size: 10px;
	font-style: normal;
	text-transform: none;
	font-weight: normal;
	background-color: #FFF;
	font-family: inherit;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}

#naSkroty{
	clear: both;
	background-color: #CCF;
}

div.hr hr {
	display: none;
}

div.hr {
	height: 1px; 
	border: none; 
	background: #333; 
	margin: 0px 0px 10px 0px; 
	padding: 0px; 
	clear: both;
}

div.clear{
	clear: both;
}

#footerMenu ul li{
	float: left;
	display: block;
}

#projekty{
	width: 790px;
	margin: 0px auto; 
	padding: 0px 0px 20px 0px;
}

#projekty_logo{
	width: 580px;
	margin: 0px auto; 
	padding: 0px 0px 20px 0px; 
	clear: both;
}

#projekty_logo img{
	margin: 0px 1px 2px 1px;
	
}

.projekt{
	width:237px; 
	margin: 20px 13px 20px 13px; 
	float: left; 
	display: inline;
}

.projekt img{
	border: 3px solid #4c4c4c; 
	margin: 0px 0px 10px 0px;
	display: block;
	width: 231px;
	height: 136px;
	background: url(loading.gif) 50% 50% no-repeat;
}

#projekty div.hr {
	height: 1px; 
	border: none; 
	background: #333; 
	padding: 0px; 
	clear: both; 
	margin: 0px 0px 10px 0px;
}

.hide{
	display:none;
}

#tekst-onas{
	background: url(onas-background.jpg) 0px 40px no-repeat; 
	padding: 0px 0px 40px 0px;
}		
	
#tekst-oferta{
	background: url(oferta-background.jpg) 0px 40px no-repeat; 
	padding: 0px 0px 40px 0px;
}

fieldset label{
	width: 45px; 
	display: block; 
	padding: 4px 0px 0px 0px;
}	

.pole{
	width:263px; 
	height: 16px; 
	background: #342f2f; 
	color: #fff; 
	border: 1px solid #777474; 
	padding: 2px 2px 0px 2px; 
	font-size: 11px; 
	margin: 0;
}	

.submit{
	margin-left: 241px; 
	cursor: pointer;
}

textarea {
	width: 308px; 
	height: 99px; 
	background:#342f2f; 
	border: 1px solid #777474; 
	padding: 2px; 
	color: #fff;
}

fieldset ol li{
	margin: 7px 0px 7px 0px;
}

.pole_kontakt{
	float: left; 
	padding: 20px 70px 20px 0px;
}
