html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	outline: 0;
	font-style: normal;
	font-family: inherit;
	vertical-align: baseline;
	color: #03C;
	background-repeat: no-repeat;
	background-position: right;
	text-align: left;
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-width: 0;
	padding: 0;
	margin-top: 0;
	margin-right: 5;
	margin-bottom: 0;
	margin-left: 0;
	font-size: 100%;
	font-weight: bold;
}
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background-color: #CCF;
}
ol, ul {
	list-style: none;
	color: #33C;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
