a{
	color: #ff6805;
}
a:hover{
	text-decoration: none;
}

b{
	color: #fff;
}

#mainMenu ul li a{
	text-decoration: none;
	color: #FFF;
	display: block;
	padding: 12px 0px 0px 0px;
	font-weight: bolder;
	font-family: inherit;
	font-size: 14px;
}

#mainMenu {
	text-align: center;
}

#mainMenu ul li a:hover{
	color:#FFF;
}

#mainMenu ul li a.active{
	color: #666;
}

#mainMenu ul li.menuSeparator {
	width: 20px;
	height: 11px;
	background: url(sep.gif) center center no-repeat;
	margin-top: 12px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#powitanie p{
	color: #ccc; 
	line-height: 140%;
}

#witamy{
	display: block;
	height: 40px;
	width: 150px;
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	text-align: left;
	background-color: #FFF;
	font-family: "Comic Sans MS";
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
	text-transform: none;
	text-decoration: underline;
}

#witamy span{
	display: none;
}

#stronyWWW{
	display: block;
	height: 28px; 
	margin: 0px; 
	padding: 0px; 
	width: 218px; 
	background: url(http://www.aerodrome-quiberon.fr/img/strony-internetowe.jpg) no-repeat;
}

#stronyWWW span{
	display: none;
}

#portfolio_logo{
	display: block; 
	height: 25px; 
	margin: 0px; 
	padding: 0px; 
	width: 166px; 
	background: url(http://www.aerodrome-quiberon.fr/img/projekty-logo.jpg) no-repeat;
}

#portfolio_logo span{
	display: none;
}


#onas{
	display: block; 
	height: 22px; 
	margin: 0px; 
	padding: 0px; 
	width: 70px; 
	background: url(http://www.aerodrome-quiberon.fr/img/onas.jpg) no-repeat;
}

#onas span{
	display: none;
}


#opss{
	display: block; 
	height: 24px; 
	margin: 0px; 
	padding: 0px; 
	width: 198px; 
	background: url(http://www.aerodrome-quiberon.fr/img/opss.gif) no-repeat;
}

#opss span{
	display: none;
}

#oferta{
	display: block; 
	height: 21px; 
	margin: 0px; 
	padding: 0px; 
	width: 77px; 
	background: url(http://www.aerodrome-quiberon.fr/img/oferta-text.jpg) no-repeat;
}

#oferta span{
	display: none;
}

#kontakt{
	display: block; 
	height: 20px; 
	margin: 0px; 
	padding: 0px; 
	width: 87px; 
	background: url(http://www.aerodrome-quiberon.fr/img/kontakt-text.jpg) no-repeat;
}

#kontakt span{
	display: none;
}

#mapa-strony{
	display: block; 
	height: 24px; 
	margin: 0px; 
	padding: 0px; 
	width: 147px; 
	background: url(http://www.aerodrome-quiberon.fr/img/mapa-strony.jpg) no-repeat;
}

#mapa-strony span{
	display: none;
}

#linki{
	float: right;
	padding: 12px 0px 0px 0px;
}

#naSkrotyPortfolio p{
	color: #fff; 
	margin: 0px 0px 15px 0px;
}

#naSkrotyPortfolio a{
    background: transparent url(button1b.gif) no-repeat scroll top right;
    color: #fff;
    display: block;
    float: left;
    height: 18px;
    padding-right: 8px; /* sliding doors padding */
    text-decoration: none;
}

#naSkrotyPortfolio a:hover{
	color: #333;
}

#naSkrotyPortfolio a span {
    background: transparent url(button1.gif) no-repeat;   
    display: block;
	padding: 3px 0px 4px 8px;
}

#naSkrotyOferta p{
	color: #03C;
	margin: 0px 0px 14px 0px;
	text-align: left;
	font-weight: normal;
	font-family: inherit;
	font-size: 100%;
}

#naSkrotyOferta a{
   
    background: transparent url(button2b.gif) no-repeat scroll top right;
    color: #333;
    display: block;
    float: left;
    height: 18px;
    padding-right: 8px; /* sliding doors padding */
    text-decoration: none;
}

#naSkrotyOferta a:hover{
	color: #666;
	}
	
#naSkrotyOferta a span {
    background: transparent url(button2.gif) no-repeat;
    display: block;
	padding: 3px 0px 4px 8px;
}

#naSkrotyKontakt p{
	color: #151515;
	text-align: left;
}

#naSkrotyKontakt a{
    background: transparent url(button2b.gif) no-repeat scroll top right;
    color: #333;
    display: block;
    float: left;
    height: 18px;
    padding-right: 8px; /* sliding doors padding */
    text-decoration: none;
}

#naSkrotyKontakt a:hover{
	color: #666;
}

#naSkrotyKontakt a span {
    background: transparent url(button2.gif) no-repeat;
    display: block;
	padding: 3px 0px 4px 8px;
}

#footerMenu ul li a{
	text-decoration: none; 
	color: #999; 
	display: block; 
	padding: 0px 0px 0px 0px;
}

#footerMenu {
	text-align: center;
}

#footerMenu ul li a:hover{
	color:#fff;
}

#footerMenu ul li.menuSeparator {
	width: 1px; 
	height: 11px; 
	background: url(sep.gif) center center no-repeat; 
	margin: 0px 18px 0px 18px;
}

#footerMenu ul li a.active{
	color: #666;
	font-weight: normal;
}

#footer p{
	color: #666;
	font-weight: normal;
}

#powitanie p{
	margin: 0px 0px 10px 0px;
	text-align: left;
	color: #03C;
	font-weight: normal;
	font-family: inherit;
	font-size: 100%;
}

#tekst-onas p{
	line-height: 140%; 
	margin: 7px 40px 7px 309px; 
	text-align: justify;
}

#tekst-onas ul{
	line-height: 140%; 
	margin: 7px 40px 7px 340px; 
	text-align: justify;
	list-style: square;
}
#tekst-onas ul li{margin: 4px;}

#tekst-onas p.first{
	margin: 40px 40px 7px 309px;
}

#tekst-oferta p{
	line-height: 140%; 
	margin: 7px 40px 7px 309px; 
	text-align: justify;
}

#tekst-oferta ul{
	margin: 7px 40px 7px 349px; 
	list-style: square;
}

#tekst-oferta ul li{
	padding: 3px 10px 3px 10px;
}

#tekst-oferta p.first{
	margin: 40px 40px 7px 309px;
}

#tekst-kontakt p{
	line-height: 140%; 
	text-align: justify;
}

#sitemap  {
	margin: 20px; 
	list-style: square;
}

#sitemap li{
	padding: 3px 5px 3px 5px;
}

#sitemap  ul {
	margin: 10px; 
	list-style: square;
}

#sitemap ul li{
	padding: 3px 5px 3px 5px;
}

.projekt p{
	margin:2px 3px 2px 3px;
}

.projekt a:hover img{
	border: 3px solid #fff;
}

p.nazwa{
	color: #ff6805;
}
