/*******************************************
CSS commune pour le header et le footer 
*******************************************/
/* ***************************************** GENERAL */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, strong, dl, dt, dd, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; }
img { border: 0; }
li { list-style:none; }
input, textarea, select { font-size:100%; font-family: inherit; }
a { text-decoration:none; cursor:pointer; outline:0 none; color:#000; }
a:hover { text-decoration:underline; }
label { cursor:pointer; }
/* clearfix */
.cf:after, #middle:after, #menu:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.cf, #middle, #menu { display:inline-block; }
/*hides from IE mac \*/
* html .cf, * html #middle, * html #menu { height:1%; }
.cf, #middle, #menu { display:block; }
/*end hides from IE mac*/
.left { text-align:left; }
.right { text-align:right; }
.center { text-align:center; }
.justify { text-align:justify; }
.floatleft, .fL { float:left; }
.floatright, .fR { float:right; }
.jCarouselParent { position:relative; left:-5000px; }
.swImg { position:relative; overflow:hidden; display:block; }
.swImg span { position:absolute; top:0; left:0; overflow:hidden; background-repeat:no-repeat; display:block; }
label.erreur { color:#ED381B !important; }
input.erreur, textarea.erreur { border:1px solid #ED381B !important; }
input[type='radio'] { vertical-align:middle; }
/* ***************************************** HEADER */
#header-w9 { text-align:left; font-size:11px; zoom:1; min-height:110px; background:#030324 url(bg-header.png) repeat-x; }
#header-w9 #header-w9-inner { width:1000px; min-height:110px; margin:0 auto; position:relative; }
#header-w9 #header-line1 { overflow:hidden; padding-top:17px; height:51px; }
#pub-768, #pub_dart_MBR_T_728x90 { color:white; text-align:center; }
#header-w9 #logoW9 { position:absolute; width:418px; height:86px; top:0; left:-127px; padding:17px 0 0 0; text-align:center; background:url(bg-logo-w9.png) no-repeat; }
#header-w9 #carouLogo { padding:3px 0 0 185px; float:left; display:none; }
#header-w9 #carouLogo a { display:block; width:44px; height:45px; position:relative; float:left; margin-right:8px; }
#header-w9 #carouLogo a img { display:block; position:absolute; top:0; left:0; height:100%; width:100%; }
#header-w9 #carouLogo a img.fade-off { z-index:100; }
#header-w9 #carouLogo a img.fade-on { z-index:101; }
#header-w9 #headerRight { float:right; padding:3px 0 0 0; width:267px; padding-left:35px; }
#header-w9 #searchForm { display:block; float:left; }
#header-w9 #searchForm #keyword { float:left; background:url(bg-keyword.gif) no-repeat; width:113px; height:15px; padding:2px 5px; border:0; }
#header-w9 #headerRight li { display:block; padding-left:5px; float:left; }
#header-w9 #btRSS a { float:left; width:20px; height:18px; }
#header-w9 #btRSS span { width:20px; height:18px; background-image:url(btn-rss.gif); line-height:0; font-size:0; }
#header-w9 .btnHeader a { display:block; width:56px; height:19px; line-height:19px; background:url(btn-header.gif) no-repeat; color:white; text-align:center; font-size:9px; }
/* menu */
#header-w9 #header-line2 { overflow:hidden; height:42px; }
#header-w9 #menuW9 a { color: #2a2b5c; }
#header-w9 #menuW9 { width:497px; float:left; height:27px; overflow:hidden; padding-left:189px; position:relative; top:8px; }
#header-w9 #menuW9 li { float:left; height:27px; }
#header-w9 #menuW9 li a { display:block; height:27px; position:relative; text-decoration:none; text-indent:-9999px; margin-right:35px; }
#header-w9 #menuW9 li a span { height:27px; position:absolute; top:0; left:0; background-image:url(bg-menu.png); background-repeat:no-repeat; }
#header-w9 #menuW9 #item-0 a, #header-w9 #menuW9 #item-0 a span { width:100px; }
#header-w9 #menuW9 #item-1 a, #header-w9 #menuW9 #item-1 a span { width:52px; }
#header-w9 #menuW9 #item-2 a, #header-w9 #menuW9 #item-2 a span { width:70px; }
#header-w9 #menuW9 #item-3 a, #header-w9 #menuW9 #item-3 a span { width:33px; }
#header-w9 #menuW9 #item-0 a span { background-position:0 0; }
#header-w9 #menuW9 #item-1 a span { background-position:-130px 0; }
#header-w9 #menuW9 #item-2 a span { background-position:-212px 0; }
#header-w9 #menuW9 #item-3 a span { background-position:-312px 0; }
#header-w9 #menuW9 #item-0:hover a span, #header-w9 #menuW9 #item-0.hover a span, #header-w9 #menuW9 #item-0.current a span { background-position:0 -29px; }
#header-w9 #menuW9 #item-1:hover a span, #header-w9 #menuW9 #item-1.hover a span, #header-w9 #menuW9 #item-1.current a span { background-position:-130px -29px; }
#header-w9 #menuW9 #item-2:hover a span, #header-w9 #menuW9 #item-2.hover a span, #header-w9 #menuW9 #item-2.current a span { background-position:-212px -29px; }
#header-w9 #menuW9 #item-3:hover a span, #header-w9 #menuW9 #item-3.hover a span, #header-w9 #menuW9 #item-3.current a span { background-position:-312px -29px; }
#header-w9 #liensTransversaux { position:relative; float:right; width:302px; height:36px; color:#fff; font-size:10px; text-align:center; overflow:hidden; }
#header-w9 #liensTransversaux a { display:inline; color:#fff; padding:0 2px; line-height:36px; text-transform:uppercase; }
#header-w9 #liensTransversaux .jcarousel-container { width:272px; padding:0 15px; overflow:hidden; margin:0 auto; }
#header-w9 #liensTransversaux .jcarousel-clip { width:272px; }
#header-w9 #liensTransversaux .jcarousel-item { position:relative; width:272px; text-align:center; }
#header-w9 #liensTransversaux .jcarousel-next { position:absolute; display:block; top:0; left:287px; width:15px; height:36px; background :url(http://www.m6.fr/img/btn-focus.gif) no-repeat right; filter:alpha(opacity=80); -moz-opacity:.80; opacity:0.80; }
#header-w9 #liensTransversaux .jcarousel-prev { position:absolute; display:block; top:0; left:0; width:15px; height:36px; background: url(http://www.m6.fr/img/btn-focus.gif) no-repeat left; filter:alpha(opacity=80); -moz-opacity:.80; opacity:0.80; }
#header-w9 .focusProgramme ul { width:253px; height:111px; overflow:hidden; margin:0 auto; }
/* subMenu */
#header-w9 #loadingMenu { display:none; position:absolute; left:486px; top:200px; width:32px; height:32px; background:url(loading.gif) left top no-repeat; }
#header-w9 #subMenu { position:relative; display:none; background:#08092d url(bg-sub-menu.png) repeat-x; padding:0 0 3px 0; height:428px; overflow:hidden; line-height:1.4em }
#header-w9 #subMenuLeft { float:left; color:white; padding:20px 0 10px 0; width:689px; overflow:hidden; }
#header-w9 #subMenuLeft a { color:white; }
#header-w9 #subMenuLeft a:hover, #header-w9 #subMenuLeft li:hover a, #header-w9 #subMenuLeft li.hover a { color:#d57df9; text-decoration:none; }
#header-w9 .tri { padding:0 0 0 5px; }
#header-w9 .tri li { display:inline; }
#header-w9 .tri li a { padding:0 5px; }
#header-w9 .tri .ui-tabs-selected a { color:#d57df9!important; }
#header-w9 .col { float:left; width:209px; padding:0 10px; margin:20px 0 0 0; border-right:1px solid #4c4c7e; height:357px; }
#header-w9 .last { border-right:none; }
#header-w9 .col ul { margin-bottom:16px; }
#header-w9 .col .h4, #header-w9 .col .h4-vide { background:url(bg-sub-menu-titres.png) repeat-x; padding:0 10px; font-weight:normal; line-height:17px; margin:0 -10px; }
#header-w9 .col .h4-vide { display:block; margin-left:-11px; }
#header-w9 .col .plusInfos { display:block; background:#293a4a; padding:3px; line-height:11px; height:35px; overflow:hidden; }
#header-w9 .col .plusInfos img { display:block; float:left; margin-right:3px; }
#header-w9 .col .plusInfos a { color:white!important; }
#header-w9 .col .plusInfos a:hover { text-decoration:underline; }
#header-w9 .semainier { position:relative; width:686px; margin:0 auto 0 auto; }
#header-w9 .semainier .jcarousel-container { position:relative; width:648px; height:30px; overflow:hidden; padding:0 15px; }
#header-w9 .semainier .jcarousel-next { width:15px; height:36px; background:url(http://www.m6.fr/img/btn-focus.gif) no-repeat right; position:absolute; right:0px; top:0px; filter:alpha(opacity=80); -moz-opacity:.80; opacity:0.80; }
#header-w9 .semainier .jcarousel-prev { width:15px; height:36px; background:url(http://www.m6.fr/img/btn-focus.gif) no-repeat left; position:absolute; left:0px; top:0px; filter:alpha(opacity=80); -moz-opacity:.80; opacity:0.80; }
#header-w9 .semainier .jcarousel-clip { width:648px; }
#header-w9 .semainier .jcarousel-item { width:90px; margin-right:3px; }
#header-w9 .semainier .jcarousel-item a { background:#0f1327 url(bg-semainier.png) repeat-x; text-align:center; display:block; width:90px; height:24px; padding:3px 0; color:#283848; line-height:12px; -moz-border-radius:5px; }
#header-w9 .semainier .jcarousel-item a:hover, #header-w9 .semainier .jcarousel-item .on { background:#ededf6 url(bg-semainier-on.png) repeat-x; font-weight:bold; color:#7634b0!important }
#header-w9 #sub-menu2 .col { margin:15px 0 0 0; background:#2a2b5d url(bg-sub-menu.png) 0 -65px repeat-x; /* BACKGROUND TRICKY BUG FADE IN FOR IEx */ }
#header-w9 .horaires a { font-size:12px; line-height:20px; }
#header-w9 .horaires .nolink { font-size:12px; line-height:20px; }
#header-w9 .horaires .heure { margin-right:5px; font-weight:bold; color:#d8b6ff }
#header-w9 .miseEnAvant li { display:block; width:200px; height:113px; overflow:hidden; margin:0 0 5px 0; padding:0; position:relative; line-height:16px; }
#header-w9 .miseEnAvant li a { display:block; height:113px; overflow:hidden; color:white; }
#header-w9 .miseEnAvant li a:hover { color:white!important; }
#header-w9 .miseEnAvant li img { width:200px; }
#header-w9 .miseEnAvant li .h2 { display:block; width:194px; padding:1px 3px; overflow:hidden; font-weight:bold; }
#header-w9 .miseEnAvant li .h2 span { display:inline-block; margin-right:5px; font-size:12px; }
#header-w9 .miseEnAvant li .text { position:absolute; bottom:0; left:0; background:#794f9f; filter:alpha(opacity=80); opacity:0.80; -moz-opacity:0.80; }
#header-w9 .miseEnAvant li .h3 { display:block; width:190px; padding:3px 5px; color:#fff; font-size:11px; line-height:14px; font-weight:normal; }
#header-w9 #subMenuRight { float:right; width:300px; padding:20px 5px 0 0; }
#header-w9 #remonteeFixe { color:white; margin-bottom:10px; border:2px solid #794f9f; padding:5px; width:286px; height:92px; overflow:hidden; line-height:auto!important; }
#header-w9 #remonteeFixe .horaire { font-size:14px; font-weight:bold; line-height:auto; }
#header-w9 #remonteeFixe .titre { font-size:12px; font-weight:bold; color:#d8b6ff; line-height:auto; color:#d8b6ff; text-transform:uppercase; }
#header-w9 #remonteeFixe .soustitre { font-size:10px; color:#d8b6ff; font-style:italic; line-height:auto; }
#header-w9 #remonteeFixe .resume { line-height:auto; }
#header-w9 #remonteeFixe .titre a { color:#d8b6ff; }
#header-w9 #remonteeFixe .soustitre a { color:#d8b6ff; }
#header-w9 #remonteeFixe img { float:left; margin:0 10px 0 0; }
#header-w9 #remonteeFixe a { color:white; }
#header-w9 #fermerSousMenu a { display:block; text-align:right; color:white; text-transform:uppercase; line-height:20px; background: url(bt-close.gif) no-repeat right; padding:8px 25px 8px 0; }
#skin { zoom:1; }
/* ***************************************** FOOTER */
#footer { margin:0 auto; width:1000px; background:url(http://www.w9.fr/style/images/bg-footer.png) bottom repeat-x; overflow:hidden;}
#footer-contextuel { text-align:center; padding:10px; border-top:1px solid #34375a; font-size:11px; font-weight:normal; }
#footer-contextuel span { padding:0 10px; }
#footer-groupe { text-align:center; margin-bottom:10px; font-size:11px; font-weight:normal; }
#footer-groupe li { display:inline; }
#footer-groupe li a { text-align:left; display:inline-block; padding:4px 10px; height:18px; background:url(bg-acces-rapide.gif); text-decoration:none; color:#fff!important; margin:0 2px; }
#footer-groupe li a img { vertical-align:middle; margin-right:5px; display:inline-block; }
#footer-groupe li a:hover { background:url(bg-acces-rapide_on.gif) }
#footer-corporate { height:26px; line-height:26px; text-align:center; color:#fff; font-size:10px; }
#footer-corporate li { display:inline; }
#footer-corporate a { color:#fff!important; padding:0 15px; }
#footer, #footer_all { background: #010413 url(bg-footer.jpg) repeat-x; color:#ffffff; }
#footer a, #footer_all a { color:#ffffff; }
/* ***************************************** @IMPORT */
/* header M6 */
/*@import url(footer-header-m6.css);*/
/* ***************************************** BASE PLUGINS */
/* tabs */
.ui-tabs-hide { display: none; }
/* jscrollPane */
.scroll-pane { overflow:auto; /* spÃ©cifier width et height pour skin */ }
.jScrollPaneContainer { position:relative; overflow:hidden; z-index:1; }
.jScrollPaneTrack { position:absolute; cursor:pointer; right:0; top:0; height:100% !important; }
.jScrollPaneDrag { position:absolute; cursor:pointer; overflow:hidden; }
.jScrollPaneDragTop { position:absolute; top:0; left:0; overflow:hidden; }
.jScrollPaneDragBottom { position:absolute; bottom:0; left:0; overflow:hidden; }
.jScrollArrowUp { display: block; position: absolute; z-index: 1; top: 0; right: 0; text-indent: -2000px; overflow: hidden; }
.jScrollArrowDown { display: block; position: absolute; z-index: 1; bottom: 0; right: 0; text-indent: -2000px; overflow: hidden; }
/* jcarousel */
.jcarousel-container { position:relative; }
.jcarousel-clip { z-index:2; padding:0; margin:0; overflow:hidden; position:relative; }
.jcarousel-list { z-index:1; overflow:hidden; position:relative; top:0; left:0; }
.jcarousel-list li, .jcarousel-item { float:left; list-style:none; }
.jcarousel-next { z-index:3; cursor:pointer; }
.jcarousel-prev { z-index:3; cursor:pointer; }
.jcarousel-prev-disabled { filter:alpha(opacity=35)!important; -moz-opacity:.35!important; opacity:0.35!important; }
.jcarousel-next-disabled { filter:alpha(opacity=35)!important; -moz-opacity:.35!important; opacity:0.35!important; }
/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.star-rating { float:left; width:13px; height:13px; text-indent:-999em; cursor:pointer; display:block; background:transparent; overflow:hidden; position:relative; top:2px; }
div.star-rating, div.star-rating a { background:url(star.gif) no-repeat 0 0px }
div.rating-cancel a, div.star-rating a { display:block; width:12px; height:100%; background-position:0 0px; border:0 }
div.star-rating-on a { background-position:0 -12px!important }
div.star-rating-hover a { background-position:0 -24px }
div.star-rating-readonly a { cursor:default !important }
div.star-rating { background:transparent!important; overflow:hidden!important }
div.rating-cancel { display:none; }
.notation { background:white; overflow:hidden; padding:5px; }
.notation .sa-note { float:right; }
.notation span.fL { padding-right:5px; }
#notation-confim { padding-left:10px; }
/* END jQuery.Rating Plugin CSS */
/********************************************* thickbox */
#TB_window { font: 12px Arial, Helvetica, sans-serif; color: #333333; }
#TB_secondLine { font: 10px Arial, Helvetica, sans-serif; color:#666666; }
#TB_overlay { position: fixed; z-index:1001; top: 0px; left: 0px; height:100%; width:100%; }
.TB_overlayMacFFBGHack { background:url(http://www.w9.fr/style/macFFBgHack.png) repeat; }
.TB_overlayBG { background-color:#000; filter:alpha(opacity=75); -moz-opacity: 0.75; opacity: 0.75; }
* html #TB_overlay { /* ie6 hack */ position: absolute; height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_window { position: fixed; background: #ffffff; z-index: 1002; color:#000000; display:none; border: 4px solid #525252; text-align:left; top:50%; left:50%; }
* html #TB_window { /* ie6 hack */ position: absolute; margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_window img#TB_Image { display:block; margin: 15px 0 0 15px; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; border-top: 1px solid #666; border-left: 1px solid #666; }
#TB_caption { height:25px; padding:7px 30px 10px 25px; float:left; }
#TB_closeWindow { height:25px; padding:11px 25px 10px 0; float:right; }
#TB_closeAjaxWindow { padding:7px 10px 5px 0; margin-bottom:1px; text-align:right; float:right; }
#TB_ajaxWindowTitle { float:left; padding:7px 0 5px 10px; margin-bottom:1px; }
#TB_title { background-color:#e8e8e8; height:27px; }
#TB_ajaxContent { clear:both; padding:2px 15px 15px 15px; overflow:auto; text-align:left; line-height:1.4em; }
#TB_ajaxContent.TB_modal { padding:15px; }
#TB_ajaxContent p { padding:5px 0px 5px 0px; }
#TB_load { position: fixed; display:none; height:13px; width:208px; z-index:1003; top: 50%; left: 50%; margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */ }
* html #TB_load { /* ie6 hack */ position: absolute; margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_HideSelect { z-index:1000; position:fixed; top: 0; left: 0; background-color:#fff; border:none; filter:alpha(opacity=0); -moz-opacity: 0; opacity: 0; height:100%; width:100%; }
* html #TB_HideSelect { /* ie6 hack */ position: absolute; height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_iframeContent { clear:both; border:none; margin-bottom:-1px; margin-top:1px; _margin-bottom:1px; }
/* ***************************************** STRUCTURE - HEADER - FOOTER */
body { font:normal 11px/1.3 Arial, Helvetica, sans-serif !important; color:#000; background-color:#AFAECD; }
#main { position:relative; overflow:hidden; background:#31335b url(bg-body.png) repeat-x 0 0; }
#h_homepage { background: url(bg-trame.jpg) no-repeat 50% 0; }
#h_conteneur { margin:0 auto; width:1000px; }
/* middle */
#colLC { width:670px; padding:0 10px 0 20px; overflow:hidden; float:left; }
#colR { width:300px; /* overflow:hidden;*/ float:right; }
.copyright { clear:both; text-align:center; padding:20px 0 10px 0; font-size:10px; }
/* ***************************************** COMMUN */
#middle { }
#middle .h1 { position: relative; }
#middle .h1 img { display:block; }
#middle .h1 a span { font-size:20px; font-weight:bold; color:white; position:absolute; }
.page-emissions .h1 a span { top:72px; left:535px; }
.page-series .h1 a span { top:72px; left:460px; }
.page-films .h1 a span { top:72px; left:450px; }
/*
#middle .banniere { position:relative; background-repeat:no-repeat; height:125px; width:1000px; overflow:hidden; }
#middle .banniere span { position:absolute; height:126px; width:1000px; text-indent:-5000px; }
.dateDiffusion { position:absolute; font-size:11px; }
.dateDiffusion.titre { width: 850px; text-align: center; }
.dateDiffusion.titre h1 { font-size:28px; text-transform:uppercase; }
*/
#middleInner { background:#A0A0BD url(bg-middle-inner.png) repeat-x; overflow:hidden; min-height:551px; }
#menuMiddle ul { overflow:hidden; }
#menuMiddle li { display:inline; }
#menuMiddle li a { display:block; float:left; width:100px; text-align:center; line-height:28px; font-size:13px; background-repeat: no-repeat; background-position:top left; }
#menuMiddle li a span { display:block; /*height:100%;*/ background-repeat: no-repeat; background-position:top right; }
#menuMiddle li a:hover, #menuMiddle li.current a { text-decoration:none; }
#menuMiddle li.current a { font-weight:bold; }
#div3col { padding:0 0 5px 0; overflow:hidden; }
.hp-rubrique .module { height:202px; }
.hp-rubrique .module .degrade { height:192px; }
.onecolumn .module_html, .onecolumn .module_html .degrade { height: auto!important; }
.bloc-3col { position:relative; float:left; width:227px; height:202px; margin:5px 0 0 6px; overflow:hidden; }
.bloc-3col .degrade { position:absolute; background:url(http://www.m6.fr/img/bg-degrade-3col.png) repeat-x; padding:5px; width:217px; height:192px }
.bloc-3col h2 { font-size:15px; margin-bottom:8px; border-bottom-width:1px; border-bottom-style:solid; }
.bloc-3col li h1 { display:inline; }
.bloc-3col .more { position:absolute; right:10px; bottom:3px; }
.bloc-3col .scroll-pane { width:215px; height:150px; }
.bloc-3col p { text-align: justify; }
.pagination { text-align:center; margin:10px 0; font-size:10px; }
.pagination a { padding:0 3px; }
.pagination strong { padding:0 3px; }
.pagination .prev { float:left; margin-left:5px; }
.pagination .next { float:right; margin-right:5px; }
.choixSaison { text-align:center; font-size:10px; }
.choixSaison a { padding:0 3px; }
.choixSaison strong { padding:0 3px; }
.choixSaison span { filter:alpha(opacity=20); opacity:0.20; -moz-opacity:0.20 }
.vosCommentaires .pagination .prev, .vosCommentaires .pagination .next { margin:0; }
.vosCommentaires { margin:0 0 5px 0; }
.vosCommentaires .inner { padding:10px; }
.vosCommentaires h2 { font-size:16px; padding:0 10px; }
.vosCommentaires .h3 { font-size:16px; font-weight:bold; }
.vosCommentaires .nbcommentaires { padding:5px 0; }
.vosCommentaires .commentaires { margin-bottom:10px; }
.vosCommentaires .commentaires li { position:relative; padding:10px 0 5px 0; border-bottom-width:1px; border-bottom-style:solid; margin:0; }
.vosCommentaires .pseudo { font-weight:bold; }
.vosCommentaires .alerter { padding-right:10px; }
.vosCommentaires form p { margin-top:10px; }
.vosCommentaires form .fL, .vosCommentaires form .fR { width:330px; }
.vosCommentaires .typeText { padding:1px 2px; width:322px; }
.vosCommentaires textarea { overflow:auto; width:652px; padding:1px 2px; }
.vosCommentaires img { vertical-align:middle; }
.vosCommentaires span { width:330px; }
.vosCommentaires label { font-weight:bold; display:block; }
.vosCommentaires label img { margin-left:20px; }
.vosCommentaires .typeSubmit { color:white; cursor:pointer; border:0; text-decoration:none; text-transform:uppercase; padding:0px 15px; -moz-border-radius: 3px; }
.googleAnnonce .title, .googleAnnonce .data, .googleAnnonce .link { display:block; /*line-height:13px;*/ }
.googleAnnonce .link { font-size:10px; }
.tri-liste { padding:0 0 10px 0; font-size:12px; margin-bottom: 10px; float:right; }
.tri-liste li { display:inline; border:0!important; padding:0!important; font-size:11px!important; }
.tri-liste li a { padding:0 }
.tri-liste h1, .tri-liste h2 { display:inline; font-size:11px!important; }
.tri-liste .current { font-weight:bold; }
.smallWidth .inner { width:670px; float:left; }
.listes ul.paddingBottom { padding-bottom:20px; }
.listes li { padding:10px 0; border-top:1px solid #cdc8c2; }
.listes .first { border:0; padding-top:0; }
.listes img { float:left; margin-right:10px; }
.listes .splitRight { width:520px; }
.listeAnimateurs .splitRight { width:570px; }
.listes .more { position:relative; top:7px; }
.smallWidth .splitRight { width:510px; }
.titreListe { background:url(http://www.m6.fr/img/bg-degrade-titres.png) repeat-y; padding:2px 5px; font-size:15px!important; font-weight:bold!important; margin-bottom:10px; }
.listes .h2, .listes h2 { font-size:15px; font-weight:bold; line-height:17px; }
.listes .h3, .listes h3 { font-size:13px; font-weight:normal; }
.listes .h4, .listes h4, .listeGaleries h3, .listeVideos h3 { font-size:13px; font-weight:normal; }
.listes .h5, .listes h5 { font-size:11px; line-height:normal; font-weight:normal; }
/*.listes p { margin-top:5px; }*/
.listes .boutons-pictos { padding:5px 0; }
.listePersonnages .splitRight { width:570px; }
.listes-right { width:226px; float:right; }
.blocs-listes-right { margin:0 0 10px 0; }
.blocs-listes-right li { border:0; padding:5px 0; }
.blocs-listes-right h3, .blocs-listes-right .h3 { float:none; font-size:15px; font-weight:bold; margin-bottom:8px; }
.blocs-listes-right h4, .blocs-listes-right .h4 { float:right; width:130px; font-size:11px; line-height:13px; margin-bottom:3px; }
.blocs-listes-right p { float:right; width:130px; }

.fil { padding:10px 5px 10px 0; font-size:10px; color:#fff;}
.fil strong { font-weight:normal; color:#d59cfc; }
.fil a { color:#fff!important; }

.recherche { padding:5px 10px; margin:0 0 20px 0; line-height:19px; }
.recherche span { font-weight:bold; }
.recherche label { padding:0 2px 0 10px; line-height:19px; display:block; float:left; }
.recherche input { vertical-align:middle; float:left; }
.recherche select { float:left; }
.recherche .submit { padding:0; margin:0 0 0 5px; }
.lesCommentaires h5 { font-weight:normal; }
.marginBottom10px { margin-bottom:10px; }
.non-dispo { border-width:1px; border-style: solid; }
.ficheTech h1 { font-weight:normal; display:inline; }
.ficheTech li { margin-bottom:5px; }
/* addThis */
.addthis { padding:3px; }
#at_hover, #at15s_head { font-size:10px!important; }
/* ***************************************** DOWNLOAD IE8 */
#ie8 { display:none; background:url(http://www.m6.fr/img/bg_liseret_ie8.jpg) left top no-repeat; padding-top:3px; height:22px; width:1000px; color:#003366; font-size:12px; text-indent:40px; overflow:hidden; }
#ie8 a { color:#fff; }
/*CACHER LA TRANVCHE HORAIRE ACTUELLE */
#trancheHoraireActuel { display : none; }
/* HABILLAGE */
#link-skin { display:none; }
/* a commenter pour masquer */
#page-index #header-w9 { zoom:1; }
/* message stack output */
.messageStack { margin: 5px; font-size: 12px; color: #465584; background-color: #FFFCF5; border-width: 1px; border-style: dotted; }
.messageStack ul li.warning { font-family: normal 11px/1.4 "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 100%; color: black; list-style-type: none; background-image: url(http://www.m6.fr/img/icons/warning.gif); background-repeat: no-repeat; background-position: 0 0.32em; padding-left: 15px; }
.messageStack ul li.error { font-family: normal 11px/1.4 "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 100%; color: black; list-style-type: none; background-image: url(http://www.m6.fr/img/icons/error.gif); background-repeat: no-repeat; background-position: 0 0.32em; padding-left: 15px; }
.messageStack ul li.notice { font-family: normal 11px/1.4 "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 100%; color: black; list-style-type: none; background-image: url(http://www.m6.fr/img/icons/notice.gif); background-repeat: no-repeat; background-position: 0 0.32em; padding-left: 15px; }
/********************************************************** */
/*************************** W9 *************************** */
/********************************************************** */
/* upFooter */
.divPreFooter{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.upFooter { padding:15px 0 5px 0; background:#6b6e9b url(bg-upfooter.png) repeat-x; }
.upFooter img { border:1px solid #fff; }
.upFooter a { color:white; }
.upFooterL { float:left; width:345px; margin-right:5px; }
.upFooterL ul, .upFooterR .googleZone { padding:10px; /*background:url(http://www.m6.fr/img/bg-upfooter-inner.png) repeat-x;*/ height:100%; }
.upFooterL li { display:block; width:154px; width:154px; }
.upFooterR { float:right; width:300px; }
.upFooter .h2 { font-size:14px; font-weight:bold; color:#1b1a28; text-transform:uppercase; padding-left:10px; }
.upFooter .h2 img {  border:0px }
.upFooter .googleAnnonce .title { font-weight:bold; }
/* ***************************************** COLONNE DROITE */
.pub-partenaires { position:relative; background:url(bg-partenaires.png) repeat-x; padding:20px; overflow:hidden; }
.pub-partenaires .degrade { position:absolute; background:url(bg-degrade-news.png) repeat-x; padding:10px; width:282px; height:140px }
.pub-partenaires p { font-weight:bold; }
/* M6 replay*/
.videosReplay { position:relative; background-repeat:repeat-x; padding:12px 10px; margin-bottom:8px; }
.videosReplay .h2 { font-size:15px; margin-bottom:10px; }
.videosReplay .h2 span { float:left; line-height:35px; font-weight:bold; }
.videosReplay .h2 img { vertical-align:middle; float:right; }
.videosReplay li { float:left; padding:4px; margin-bottom:5px; background-color:#eff1f3; }
.videosReplay li .visuel { float:left; width:76px; }
.videosReplay li p { float:right; width:180px; }
.videosReplay li .h4 { font-weight:bold; }
#pub-300, #pub_dart_REC_M_300x250 { margin-bottom:10px; }
#m6jeux { margin-bottom:8px; }
/* Google  */
#colR .googleZone { padding:5px 10px; margin:20px 0; }
#colR .googleZone .h3 { text-transform:uppercase; font-size:16px; color:#b25af4; }
#colR .googleZone .h3 span { color:#202155; }
#colR .googleAnnonce { padding-top:5px; }
#colR .googleAnnonce .title { font-size:13px; font-weight:bold; text-decoration:underline }
#colR .googleAnnonce .link a { color:#5C5C8B; }
/* ***************************************** HOME PAGE W9 */
#page-index #middleInner { background:none; }
#bulletin-programmes-outter { background:url(bg-bulletin-programmes-outter.png) repeat-x bottom; overflow:hidden; padding:10px; }
#bulletin-programmes-inner { float:left; width:648px; height:249px; padding:10px; background:url(bg-bulletin-programmes-inner.png) repeat-x bottom; overflow:hidden; }
#bulletin-programmes-inner .h2 { font-size:20px; color:white; font-weight:bold; }
.listes-vignettes { overflow:hidden; }
.listes-vignettes li { display:block; width:314px; float:left; padding:0 0 10px 0; }
.listes-vignettes li img { float:left; border:1px solid white; }
.listes-vignettes li .floatright { width:160px; padding-right:10px; }
.listes-vignettes li h2 { font-size:12px; font-weight:bold; text-transform:uppercase; color:#8035b4; }
.listes-vignettes h2 a { color:#8035b4; }
.listes-vignettes .chapo { font-size:10px; font-style:italic; color:#8035b4; }
.listes-vignettes .chapo a { color:#8035b4; }
#page-index .more { display:inline-block; line-height:16px; background:url(bg-button.png) no-repeat 0 0; padding:0 0 0 9px; }
#page-index .more span { display:inline-block; line-height:16px; background:url(bg-button.png) no-repeat 100% -16px; padding:0 9px 0 0px; color:#fff; font-weight:bold; }
#page-index .more:hover { text-decoration:none; }
#page-index #pub-300, #page-index #pub_dart_REC_M_300x250 { margin:20px 0 0 0; float:right; }
#cette-semaine { background:#EBEDF0 url(bg-cette-semaine.png) repeat-x top; overflow:hidden; padding:10px; }
#cette-semaine .h2 { font-size:20px; color:white; font-weight:bold; }
#cette-semaine .h3 { font-size:14px; font-weight:bold; text-transform:uppercase; color:#8035b4; padding-bottom:10px; }
#cette-semaine-replay .jcarousel-container { width:924px; /*height:119px;*/ padding:0 30px; overflow:hidden; margin:0 auto; }
#cette-semaine-replay .jcarousel-clip { width:924px; }
#cette-semaine-replay .jcarousel-item { position:relative; width:231px; }
#cette-semaine-replay .jcarousel-next { width:19px; height:19px; background:url(btn-fleche.png) no-repeat -19px 0; position:absolute; right:0px; top:57px; }
#cette-semaine-replay .jcarousel-prev { width:19px; height:19px; background:url(btn-fleche.png) no-repeat 0 0; position:absolute; left:0px; top:57px; }
#cette-semaine-replay li h2 a { display:block; width:211px; background:#0e161d; padding:5px 10px 5px 10px; filter:alpha(opacity=70); opacity:0.70; -moz-opacity:0.70; color:#fff; line-height:16px; }
#cette-semaine-replay li .h4 a { display:none; width:211px; background:#0e161d; height:30px; overflow:hidden; padding:0 10px 5px 10px; filter:alpha(opacity=70); opacity:0.70; -moz-opacity:0.70; color:#fff; font-size:11px; line-height:16px; font-weight:normal; }
#cette-semaine-replay li:hover h2 a { padding-bottom:0; }
#cette-semaine-replay li:hover .h4 a { display:block; }
#cette-semaine-replay li .text { position:absolute; bottom:65px; left:0; color:white; }
#cette-semaine-replay-inner { background: url(bg-cette-semaine-ombre.png) no-repeat 50% 150px }
#cette-semaine-bonus ul { overflow:hidden; }
#cette-semaine-bonus li { display:block; width:244px; float:left; padding:0 0 10px 0; }
#cette-semaine-bonus li img { float:left; position:relative; }
#cette-semaine-bonus li .floatright { width:130px; padding-right:10px; }
#cette-semaine-bonus li .nb-vues { font-size:10px; color:#8035b4; }
#plus { background:url(bg-plus.png) repeat-x top; overflow:hidden; padding:10px; }
#plus .h2 { font-size:20px; color:white; font-weight:bold; padding-bottom:10px; }
#plus #w9-focus .h3 { font-size:14px; font-weight:bold; text-transform:uppercase; color:#8035b4; padding-bottom:5px; }
#plus #w9-focus { float:left; background:#e2e7ef url(bg-w9-focus.png) repeat-x top; overflow:hidden; width:280px; padding:5px 10px 10px 10px; margin-right:8px; }
#plus #w9-focus ul { overflow:hidden; }
#plus #w9-focus li { width:123px; }
#plus #w9-focus .h5, #plus #w9-focus .h5 a { font-size:12px; font-weight:bold; color:#8035b4; }
#plus #w9-focus .h4, #plus #w9-focus .h4 a { font-size:16px; font-weight:bold; white-space:nowrap }
#plus .w9-focus-bloc { float:left; background:#292957 url(bg-w9-focus-bloc.png) repeat-x top; overflow:hidden; width:218px; height:177px; margin-right:8px; }
#plus .w9-focus-bloc a { color:white; }
#plus .w9-focus-bloc .h3 { font-size:12px; font-weight:bold; text-transform:uppercase; color:white; line-height:21px; padding:0 10px; background-repeat:repeat-y; }
#plus .w9-focus-bloc .h4 { font-size:12px; font-weight:bold; }
#plus .w9-focus-bloc .h4 a { background:url(puce-fleche.gif) no-repeat 0 3px; padding:0 0 0 12px }
#plus .w9-focus-bloc p { color:white; }
#plus .w9-focus-bloc img { float:left; margin:0 5px 5px 0; }
#plus .w9-focus-bloc ul { padding:10px; }
#plus .w9-focus-bloc li { padding-bottom:10px; }
#plus #plus-3 { margin-right:0; }
#plus #plus-1 .h4, #plus #plus-1 .h4 a { color:#bab8e5; }
#plus #plus-2 .h4, #plus #plus-2 .h4 a { color:#5ea8d7; }
#plus #plus-3 .h4, #plus #plus-3 .h4 a { color:#d53d18; }
#plus #plus-1 .h3 { background-image:url(bg-plus-high-tech.png); }
#plus #plus-2 .h3 { background-image:url(bg-plus-jeu-video.png); }
#plus #plus-3 .h3 { background-image:url(bg-plus-auto.png); }
/* ***************************************** PLAN DU SITE */
#page-plan-site #colLC { width:970px; }
.plan-site .h1 { margin:0 0 0 -20px; }
.plan-site h2 { padding:1px 6px; margin-bottom:10px; color:#fff; font-size:15px; font-weight:bold; background:url(bg-plan-site-titre.png) repeat-y; }
.plan-site ul { margin-bottom:10px; }
.plan-site li { padding-bottom:5px; }
.plan-site li a { color:#8035b4; }
.plan-site li a span { color:#000; font-weight:bold; }
.plan-site .col { float:left; width:318px; padding-left:8px; }
.plan-site .first { padding:0; }
/* ***************************************** RSS */
.rss { padding-top:10px; }
.rss .fL, .rss .fR { width:328px; }
.rubriqueRSS { margin-bottom:20px; }
.rubriqueRSS-title { position:relative; background:url(bg-plan-site-titre.png) repeat-y; height:27px; overflow:hidden; }
.rss h2 a { color:white; font-size:15px; font-weight:bold; padding:0 6px; line-height:27px; }
.rss h2 a:hover { text-decoration:none; }
.rss h4 a { position:absolute; right:0; top:0; display:block; background: url(bg-logos-rss.jpg) no-repeat; width:95px; height:27px; text-indent:-5000px; }
.rss ul { background:#c6c6db; padding:5px 5px 2px 5px; }
.rss li { display:inline; }
.rss li .inner { display:block; background:#eff1f2; padding:5px; margin-bottom:3px; }
.rss h3 a { font-size:14px; color:#3f3f72; display:block; background:url(bg-fleche-rss.gif) no-repeat top left; padding-left:20px; line-height:15px; }
.rss h3 a:hover { text-decoration:underline; }
* html .rss ul, * html .rss li .inner, * html .rss h5 a { zoom:1; }/* Has Layout IE6 */
.rss h3 a.open { background-position:bottom left; }
.rss .hide { background:none; padding:10px 0 0 0; margin:0; display:none; }
.rss li li a { display:inline-block; margin:0 12px 0 0; }
.rss li li img { vertical-align:middle; }
.rssTeva h4 a { background-position:right 0; }
.rssNeteco h4 a { background-position:right -27px; }
.rssClubic h4 a { background-position:right -54px; }
.rssTurbo h4 a { background-position:right -81px; }
.rssJeuxVideos h4 a { background-position:right -108px; }
.rssDeco h4 a { background-position:right -135px; }
.rssWideo h4 a { background-position:right -162px; }
.rssM6info h4 a { background-position:right -189px; }
.rssM6jeux h4 a { background-position:right -216px; }
#page-rss #colR { padding-top:120px; }
.rssAide { border:1px solid #c6c6db; margin-bottom:8px; }
.rssAide h2 { color:#3f3f72; padding:2px 10px; font-size:15px; background:#c6c6db; }
.rssAide p { padding:10px; text-align:justify; }
/* ***************************************** NOUS CONTACTER (FAQ) */
.faq { padding-top:10px; }
.faq .h1 { margin:0 0 0 -20px; }
.faq ul { padding-bottom:20px; }
.faq li { display:inline; }
.faq li .inner { margin-bottom:3px; padding:3px 0; }
.faq h2 a { font-size:14px; color:#3F3F72; display:block; background:url(bg-fleche-rss.gif) no-repeat top left; padding-left:15px; white-space:nowrap; letter-spacing:-0.02em; }
.faq h2 a.open { background-position:bottom left }
.faq .hide { background:#EFF1F2; border:1px solid #C6C6DB; padding:10px 20px; margin:10px 20px 20px 20px; display:none; font-size:12px; }
.faq .hide a { color:#3F3F72; }
.contact-faq { padding-bottom:20px; display:none; }
.contact-faq #erreur { padding:10px; background:#E2E2EA; }
.contact-faq h3 { font-size:17px; font-weight:normal; padding:0 10px; background:url(bg-titre-compte.png) repeat-y scroll 0 0; color:#fff; line-height:25px; margin-bottom:10px; }
.contact-faq form { width:500px; padding:20px 0; }
.contact-faq form p { margin-bottom:8px; }
.contact-faq label { display:block; color:#5e5e5e; }
.contact-faq .typeText { padding:1px 2px; width:322px; border:1px solid #b5b8c8; vertical-align:top; }
.contact-faq select { padding:1px 2px; width:328px; border:1px solid #b5b8c8; vertical-align:top; }
.contact-faq textarea { overflow:auto; padding:1px 2px; width:322px; vertical-align:top; border:1px solid #b5b8c8; }
.contact-faq form :focus { background:#E2E2E8; }
#page-faq #colR { padding-top:70px; }
/* ***************************************** PAGE JEUX CONCOURS  */
.jeux-concours { padding-bottom:10px; }
.jeux-concours .h1 { margin:0 0 0 -20px; }
#page-jeux-concours #colR { padding-top:70px; }
.jeux-concours .affiche { float:left; margin-bottom:10px; }
.jeux-concours .fR { width:430px; }
.jeux-concours .fR p { margin-bottom:10px; }
.jeux-concours h1 { font-size:25px; font-weight:normal; position:relative; top:-8px; color:#14143f; }
.jeux-concours ul { margin-bottom:10px; }
.jeux-concours li { display:inline; color:#b65fe4; }
.jeux-concours li a { padding:0 5px 0 0; color:#b65fe4; }
.jeux-concours .btJouer { background-color:#7450a0; background-image:url(bg-jouer.png); color:white; text-transform:uppercase; font-size:24px; font-weight:bold; text-align:center; padding:0; line-height:24px; height:24px; margin-top:20px; }
.jeux-concours .btJouer a { color:white; text-decoration:none; }
.jeux-concours iframe { clear:both; display:block; width:100%; }
/* ***************************************** PAGE MON COMPTE  */
.mon-compte .h1 { margin:0 0 0 -20px; }
.mon-compte div { margin-bottom:20px; text-align:center; }
.mon-compte a { color:#7450a0; }
.mon-compte .h2 { margin:0 0 10px 0; }
.mon-compte .titre { color:white; text-align:left; font-size:17px; font-weight:normal; background:url(bg-titre-compte.png) repeat-y; line-height:25px; margin-bottom:10px; padding:0 10px; }
.mon-compte form { width:240px; margin:0 auto; }
.mon-compte label { width:60px; display:block; float:left; text-align:right; padding-right:5px; color:#5e5e5e; }
.mon-compte form p { text-align:center; padding:5px 0; }
.mon-compte .typeText { padding:1px 2px; vertical-align:top; width:160px; }
.boutons { background:url(bg-boutons-compte.png) repeat-x 0 0; border:0; color:white!important; text-decoration:none; cursor:pointer; padding:0px 15px; font-size:11px; display:inline; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.boutons:hover { background-position:0 -100px; text-decoration:none; }
input.boutons { padding-top:0; padding-bottom:0; }
*:first-child+html input.boutons { padding:0 5px; }
* html input.boutons { padding:0 5px; }
#page-mon-compte #colR { padding-top:70px; }
.mon-compte p.message { color:#5e5e5e; margin-bottom:10px; }
.mon-compte ul { margin:10px 0; }
.mon-compte li { display:inline; }
.mon-compte li a { text-align:center; display:block; float:left; margin-left:2px; width:81px; height:37px; padding:0; background:url(bg-logo-chaines.png) repeat-x; text-decoration:none; overflow:hidden; }
#erreur { color:#ED381B; font-weight:bold; text-align:left; }
#erreur.valide { color:#248F3F; }
.confirmation { font-weight:bold; text-align:center; }
.mdpOublie form { width:300px; }
.mdpOublie form label { width:auto; }
.post-inscription p { padding:10px; }
.post-inscription form { width:300px; margin-top:10px; }
.post-inscription form label { width:auto; }
.validation p { padding:10px; }
.inscription-newsletter p { padding:10px; }
.inscription form { width:460px; margin:0 auto; }
.inscription label { width:200px; display:inline; padding-right:5px; color:#5e5e5e; float:left; }
.inscription form p { padding:5px 0; }
.inscription form p.left { text-align:left; }
.inscription .typeText { padding:1px 2px; vertical-align:top; width:160px; }
.inscription .typeRadio { vertical-align:middle; float:left; }
.inscription .typeCheckbox { vertical-align:middle; }
.inscription.radio { text-align:left; }
.inscription .radio label { width:20px; }
.inscription form :focus { background:#e1e6ea; }
.inscription .cgu { padding-left:100px; }
.inscription .cgu label { float:left; display:inline; margin-left:10px; width:auto; }
/* ***************************************** PAGE MON COMPTE M6 INSCRIPT */
#page-mon-compte-inscrit #middleInner { padding:10px 15px 10px 15px; }
#menu-mon-compte { margin:0; }
#menu-mon-compte li { display:inline; }
#menu-mon-compte a { font-size:13px; display:block; width:157px; margin:0 2px; background:url(bg-menu-mon-compte.png) repeat-x; float:left; text-align:center; line-height:31px; height:auto; color:black; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#menu-mon-compte a:hover { background-position:bottom; color:#d3a2f8; }
#menu-mon-compte .ui-tabs-selected a { background-position:bottom; color:#d3a2f8; }
.moncompte-inner { border-top:0; padding:10px; text-align:left!important; margin:0!important; }
.moncompte-inner form { width:650px; margin:0 auto; }
.moncompte-inner label { width:240px; display:inline; padding-right:5px; color:#5e5e5e; float:left; }
.moncompte-inner form p { padding:5px 0; }
.moncompte-inner form p.left { text-align:left; }
.moncompte-inner .typeText { padding:1px 2px; vertical-align:top; width:160px; }
.moncompte-inner .typeRadio { vertical-align:middle; float:left; }
.moncompte-inner .typeCheckbox { vertical-align:middle; }
.moncompte-inner .radio { text-align:left; }
.moncompte-inner .radio label { width:20px; }
.moncompte-inner form :focus { background:#e1e6ea; }
#moncompte2 .cf { padding:0 0 0 80px; }
#moncompte2 form { width:auto; }
#moncompte2 .fieldset { width:220px; float:left; margin:10px; padding:10px; border:1px solid #cfd7dd; }
#moncompte2 .fieldset .h3 { font-size:12px; padding:0 10px; background:url(bg-titre-compte.png) repeat-x; font-weight:bold; }
#moncompte2 .typeText { padding:1px 2px; vertical-align:top; width:210px; }
#moncompte2 label { display:block; text-align:left; }
#moncompte3 { padding:20px; }
#moncompte3 label { text-align:left; }
#moncompte3 form { width:auto; }
#moncompte3 ul { float:left; width:33%; }
#moncompte4 { padding:20px; }
#moncompte4 label { text-align:left; }
#moncompte4 form { width:auto; }
#moncompte4 ul { float:left; width:33%; }
/* ***************************************** PAGE INDEX RUBRIQUE  */
.index-rubrique { padding-bottom:10px; }
.index-rubrique .h1 { margin:0 0 0 -20px; }
#a-la-une { background:url(bg-a-la-une.png) repeat-x; margin:0 0 20px -5px; padding:0 0 0 5px; }
.scrollTo-Links { overflow:hidden; font-size:12px; padding:30px 0 20px 0; color:#8035b4; }
.scrollTo-Links li { display:inline; float:left; }
.scrollTo-Links a { color:#8035b4; }
.scrollTo-Links .current { color:#000; }
#page-index-series #colR, #page-index-emissions #colR, #page-index-films #colR { padding-top:44px; }
#colR #integralite-w9 { background:#8585AD url(bg-integralite-w9.png) repeat-x; width:280px; padding:10px; margin-bottom:10px; }
#colR #integralite-w9 ul { overflow:hidden; }
#colR #integralite-w9 li { overflow:hidden; background:#ebebf2; margin-bottom:5px; padding:5px; position:relative; }
#colR #integralite-w9 li .play span { position:absolute; background:url(bg-play.png) 50% 50%; width:82px; height:46px; }
#colR #integralite-w9 li .play { float:left; }
#colR #integralite-w9 .h3 { font-size:14px; font-weight:bold; text-transform:uppercase; padding-bottom:5px; }
#colR #integralite-w9 .h3 span { color:#8035b4; }
#colR #integralite-w9 .h3 img { position:relative; top:10px; }
#colR #integralite-w9 .h5, #colR #integralite-w9 .h5 a { font-size:12px; font-weight:bold; color:#8035b4 }
#colR #integralite-w9 li .floatright { width:180px; }
#colR #integralite-w9 li .resume { font-size:10px; }
#colR .focus { background-repeat:repeat-x; background-position:top; overflow:hidden; width:280px; height:164px; padding:10px; margin-bottom:10px; }
#colR .focus .h3 { font-size:14px; font-weight:bold; text-transform:uppercase; padding-bottom:5px; }
#colR .focus ul { overflow:hidden; }
#colR .focus li { width:123px; }
#colR .focus .h5, #colR .focus .h5 a { font-size:12px; font-weight:bold; }
#colR .focus .h4, #colR .focus .h4 a { font-size:16px; font-weight:bold; line-height:18px; }
#colR #focus-w9 { background-image:url(bg-integralite-w9.png); background-color:#8585AD; }
#colR #focus-w9 .h5, #colR #focus-w9 .h5 a, #colR #focus-w9 .h3 span { color:#8035b4; }
/*
#colR #focus-m6 { background-image:url(images/bg-focus-m6.png); background-color:#B5C3CB; }
#colR #focus-m6 .h5, #colR #focus-m6 .h5 a, #colR #focus-m6 .h3 span { color:#2d869c; }
*/
#colR #focus-paris-premiere { background-image:url(bg-focus-paris-premiere.png); background-color:#EDC193 }
#colR #focus-paris-premiere .h5, #colR #focus-paris-premiere .h5 a, #colR #focus-paris-premiere .h3 span { color:#f08e23; }
.boutons-pictos { padding:10px 0; }
.boutons-pictos li { display:inline; border:0!important; }
.boutons-pictos a { float:left; display:block; padding:0 0 0 5px; text-decoration:none; filter:alpha(opacity=100); opacity:1; -moz-opacity:1; margin-right:5px; line-height:16px; color:white; }
.boutons-pictos span { display:block; background-image:url(bg-pictos.gif); background-repeat:no-repeat; padding:0 5px 0 22px; line-height:16px; }
.boutons-pictos a:hover { filter:alpha(opacity=70); opacity:0.70; -moz-opacity:0.70; text-decoration:none; }
.boutons-pictos .picto-videos { background-position:0 -26px; }
.boutons-pictos .picto-photos { background-position:0 -56px; }
.boutons-pictos .no-picto { padding-right:5px; }
.page-index .tri-liste, .index-rubrique .tri-liste { float:none; overflow:hidden; padding:0; font-size:12px; margin: 10px 0; }
.page-index .tri-liste li, .index-rubrique .tri-liste li { display:inline; float:left; }
.page-index .tri-liste a, .index-rubrique .tri-liste a { color:#8035B4; font-weight:bold; }
.page-index .tri-liste .current, .index-rubrique .tri-liste .current { color:black; font-weight:bold; }
/* ***************************************** PAGE HP RUBRIQUE  */
#page-hp-emissions #colLC, #page-hp-series #colLC, #page-hp-films #colLC, #page-hp-spectacles #colLC { width:700px; padding:0; }
#page-hp-emissions #colR, #page-hp-series #colR, #page-hp-films #colR, #page-hp-spectacles #colR { width:300px; padding:0; }
/* News */
#lesNews { position:relative; float:left; background:#607e94; width:233px; height:250px; overflow:hidden; }
#lesNews .degrade { position:absolute; top:0; left:0; overflow:hidden; background:url(bg-degrade-news.png) repeat-x; width:100%; height:100%; padding:15px 5px 5px 10px; }
#lesNews .titre { font-size:15px; color:white; font-weight:bold; }
#lesNews h2, #lesNews .h2 { text-transform:uppercase; background-image:url(bg-pictos.gif); background-repeat:no-repeat; padding:0 0 0 22px; line-height:11px; overflow:hidden; height:12px; }
#lesNews h2 span, #lesNews .h2 span { padding:0 3px 0 0; color:white; }
.picto-forum h2, .picto-forum .h2 { background-position:0 0px; }
.picto-videos h2, .picto-videos .h2 { background-position:0 -29px; }
.picto-photos h2, .picto-photos .h2 { background-position:0 -59px; }
.picto-commentaires h2, .picto-commentaires .h2 { background-position:0 -90px; }
.picto-resume h2, .picto-resume .h2 { background-position:0 -120px; }
.picto-jeux h2, .picto-jeux .h2 { background-position:0 -150px; }
.picto-envoyer-ami h2, .picto-envoyer-ami .h2 { background-position:0 -179px; }
.picto-mobile h2, .picto-mobile .h2 { background-position:0 -210px; }
#lesNews li { padding:10px 0; height:44px; overflow:hidden; }
#lesNews li p { height:32px; overflow:hidden; }
#lesNews li p, #lesNews li p a { color:white; }
#page-index #lesNews li .h2, #page-index #lesNews li .h2 a { color:#000; font-weight:bold; }
#lesNews li p span, #lesNews li p a span { font-size:10px; }
#lesNews .scroll-pane { width:215px; height:190px; }
.jScrollArrowUp { background-image:url(fleche-select.gif); background-repeat: no-repeat; background-position:0 0; background-color:#000; height: 11px; filter:alpha(opacity=30); opacity:0.30; -moz-opacity:0.30; }
.jScrollArrowDown { background-image:url(fleche-select.gif); background-repeat: no-repeat; background-position:0 -11px; background-color:#000; height: 11px; filter:alpha(opacity=30); opacity:0.30; -moz-opacity:0.30; }
.jScrollPaneTrack { background-color:#999; filter:alpha(opacity=30); opacity:0.30; -moz-opacity:0.30; }
.jScrollPaneDrag { background-color:#000; }
.jScrollArrowUp:hover, .jScrollArrowDown:hover { background-color:#333; }
/* A La Une */
#AlaUne { position:relative; float:left; width:466px; height:250px; overflow:hidden; background:black; }
#AlaUne .degrade { position:absolute; top:0; left:0; z-index:500; overflow:hidden; background:url(bg-degrade-news.png) repeat-x; width:466px; height:25px; }
#AlaUne li { position:relative; width:466px; height:250px; }
#AlaUne .picture { position:absolute; left:0; top:0; z-index:1; }
#AlaUne .text { display:none; position:absolute; left:0; bottom:0; z-index:2; background:url(bg-alaune.png); color:#fff; font-size:13px; }
#AlaUne .text .wrap { padding:10px 18px 6px 20px; width:428px; height:49px; line-height:12px; text-align:center; font-size:10px; }
#AlaUne .text .title { display:block; padding:0 0 10px 0; font-size:23px; font-weight:bold; text-transform:uppercase; }
#AlaUne .text .h1 { text-transform:uppercase; font-size:15px; color:#caa7e6; font-weight:bold; }
#AlaUne .text .h1 a { color:#caa7e6 }
#AlaUne .text a { text-decoration:none; color:#fff; }
#AlaUne #nav-alaune { display:none; position:absolute; left:380px; top:210px; z-index:999; padding:0 0 0 9px; width:67px; height:20px; background:url(bg-nav-alaune.png); }
#AlaUne #nav-alaune a { float:left; display:block; margin:0 -5px 0 0; padding:19px 0 0 0; width:19px; height:0; overflow:hidden; background:url(bg-nav-alaune-off.png); }
#AlaUne #nav-alaune a.activeSlide { background:url(bg-nav-alaune-on.png); }
/* Intro film */
.intro-films .bloc-3col { width:206px; height:265px; padding:10px; margin:0; overflow:hidden; }
.intro-films p { text-align:justify; }
.intro-films h1 { font-size:15px; margin-bottom:8px; }
.resume-films h1 { font-size:18px; font-weight:normal; }
.resume-films img { margin-right:10px; }
/* blocs 3 cols */
.lesVideos li { padding:0 0 8px 0; overflow:hidden; }
.lesVideos li .visuel { float:left; width:76px; }
.lesVideos li h3, .lesVideos li p { float:right; width:130px; }
.lesVideos li h3 { line-height:14px; margin-bottom:3px; }
.lesPhotos .jcarousel-container { position:relative; width:215px; height:140px; overflow:hidden; margin:0 auto; }
.lesPhotos .jcarousel-next { width:15px; height:14px; background:url(btn-fleche.gif) no-repeat -15px 0; position:absolute; right:0px; bottom:0; }
.lesPhotos .jcarousel-prev { width:15px; height:14px; background:url(btn-fleche.gif) no-repeat 0 0; position:absolute; left:0px; bottom:0; }
.lesPhotos .jcarousel-clip { width:215px; }
.lesPhotos .jcarousel-item { width:215px; float:left; }
.galeriePortraits .jcarousel-container { position:relative; width:215px; height:140px; overflow:hidden; margin:0 auto; }
.galeriePortraits .jcarousel-next { width:15px; height:14px; background:url(btn-fleche.gif) no-repeat -15px 0; position:absolute; right:0px; bottom:0; }
.galeriePortraits .jcarousel-prev { width:15px; height:14px; background:url(btn-fleche.gif) no-repeat 0 0; position:absolute; left:0px; bottom:0; }
.galeriePortraits .jcarousel-clip { width:215px; }
.galeriePortraits .jcarousel-item { position:relative; width:215px; float:left; margin-right:5px; }
.galeriePortraits .jcarousel-item span { display:block; position:absolute; left:0; bottom:3px; background:black; text-align:center; color:white; width:212px; padding:3px; filter:alpha(opacity=70); opacity:0.70; -moz-opacity:0.70; overflow:hidden; }
.animateur .visuel { float:left; margin-right:5px; }
.animateur h4 { font-size:15px; font-weight:normal; }
.animateur li { padding:0 0 8px 0; overflow:hidden; }
.news-1 .center { margin-bottom:8px; }
.news-2 li { padding:0 0 18px 0; overflow:hidden; }
.news-2 li .visuel { float:left; width:76px; }
.news-2 li h3, .news-2 li p { float:right; width:130px; }
.news-2 li h3 { line-height:14px; }
.news-3 li { padding:0 0 8px 0; overflow:hidden; }
.news-3 li .visuel { float:left; width:76px; }
.news-3 li h3, .news-3 li p { float:right; width:130px; }
.news-3 li h3 { line-height:14px; margin-bottom:3px; }
.sondage .question { font-size:12px; font-weight:bold; margin:15px 0; }
.sondage .reponses li { padding-bottom:8px; }
/* Intro spectacle */
.intro-spectacles { padding:10px; }
.intro-spectacles p { text-align:justify; }
.intro-spectacles h1 { font-size:15px; margin-bottom:8px; }
.intro-spectacles h1 { font-size:18px; font-weight:normal; }
.intro-spectacles img { margin-right:10px; }
/* ***************************************** PAGE INDEX ANIMATEURS  */
#page-index-animateurs #colR { padding-top:44px; }
#page-index-animateurs .listes-vignettes li { float:none; overflow:hidden; width:auto; border-top:1px solid #c5c5d1; padding-top:10px; }
#page-index-animateurs .listes-vignettes li .floatright { width:500px; }
#page-index-animateurs .listes-vignettes .first { border-top:0; }
#page-index-animateurs .listes-vignettes h3, #page-index-animateurs .listes-vignettes h3 a { font-size:13px; color:#9573be; }
/* ***************************************** PAGE INDEX ACTEURS  */
#page-index-acteurs #colR { padding-top:44px; }
#page-index-acteurs .listes-vignettes li { float:none; overflow:hidden; width:auto; border-top:1px solid #c5c5d1; padding-top:10px; }
#page-index-acteurs .listes-vignettes li .floatright { width:500px; }
#page-index-acteurs .listes-vignettes .first { border-top:0; }
#page-index-acteurss .listes-vignettes h3, #page-index-acteurs .listes-vignettes h3 a { font-size:13px; color:#9573be; }
/* ***************************************** PAGE INDEX PERSONNAGES  */
#page-index-personnages #colR { padding-top:44px; }
#page-index-personnages .listes-vignettes li { float:none; overflow:hidden; width:auto; border-top:1px solid #c5c5d1; padding-top:10px; }
#page-index-personnages .listes-vignettes li .floatright { width:500px; }
#page-index-personnages .listes-vignettes .first { border-top:0; }
#page-index-personnages .listes-vignettes h3, #page-index-personnages .listes-vignettes h3 a { font-size:13px; color:#9573be; }
/* ***************************************** PAGE REGLEMENTS JEUX  */
#page-reglements-jeux .h1 { margin:0 0 0 -10px; }
.reglements-jeux { zoom:1; float:left; }
.reglements-jeux li { display:inline; }
.reglements-jeux li div { width:150px; height:120px; float:left; padding:0 17px 20px 0; }
.reglements-jeux li a img { margin-bottom:8px; }
.reglements-jeux li a { display:block; text-align:center; color:#8194a0; font-size:12px; }
.reglements-jeux li h2 { font-size:15px; font-weight:bold; color:#8035b4; text-transform:uppercase; }
.reglements-jeux li h2 a { font-size:15px; color:#8035b4 }
#page-reglements-jeux #colR { padding-top:100px; }
/* ***************************************** PAGE NO ACCESS  */
#page-no-access { background:#31335B url(bg-body.png) repeat-x; }
.bloc-alert .h1 { padding-bottom:20px; text-transform:uppercase; font-weight:bold; font-size:18px; }
.bloc-alert { background:url(bg-bloc-alert.png) repeat-x; width:960px; height:530px; margin:0 auto; text-align:center; color:#14143f; font-size:20px; margin-top:110px; padding:20px }
.bloc-alert .logoW9 { padding:40px; }
/* ***************************************** PAGE 404  */
#page-404 #main .h2 { font-size:16px; font-weight:bold; }
.prog-populaires { padding-top:10px; }
.prog-populaires h2 { padding:1px 6px; margin-bottom:10px; text-transform:uppercase; color:#2a3e45; font-size:15px; font-weight:normal; background:#dde3e7 }
.prog-populaires p { margin-bottom:20px; }
.prog-populaires .fL, .prog-populaires .fR { width:328px; }
#page-404 #colLC, #page-404 #colR { padding-top:70px; }
/* ***************************************** RESULTATS RECHERCHE */
#page-resultats-recherche #middleInner {background-image:url(bg-middle-inner-recherche.png);background-color:white;}
#page-resultats-recherche #colR { padding-top:44px; }
.resultats-recherche .h2 {margin:0 0 0 -20px;}
.resultats-recherche #cse-search-results iframe {width:670px;}
/* ***************************************** GRILLE DES PROGRAMMES */
#page-grille-programmes #middleInner #colLC { border:none; }
#page-grille-programmes #middleInner .semainier { padding:7px 0 16px 0; }
#page-grille-programmes #middleInner .semainier .jcarousel-container { position:relative; width:641px; height:35px; overflow:hidden; padding:0 15px; }
#page-grille-programmes #middleInner .semainier .jcarousel-next { width:12px; height:40px; background:url(bt-next.png) no-repeat 50% 10px; position:absolute; right:0px; top:0px; filter:alpha(opacity=80); -moz-opacity:.80; opacity:0.80; }
#page-grille-programmes #middleInner .semainier .jcarousel-prev { width:12px; height:40px; background:url(bt-prev.png) no-repeat 50% 10px; position:absolute; left:0px; top:0px; filter:alpha(opacity=80); -moz-opacity:.80; opacity:0.80; }
#page-grille-programmes #middleInner .semainier .jcarousel-clip { width:641px; }
#page-grille-programmes #middleInner .semainier .jcarousel-item { width:89px; margin-right:3px; }
#page-grille-programmes #middleInner .semainier .jcarousel-item a { background:url(bg-semainier-2.png) no-repeat; text-align:center; display:block; width:89px; height:27px; padding:2px 0; color:#fff; }
#page-grille-programmes #middleInner .semainier .jcarousel-item a:hover, #page-grille-programmes #middleInner .semainier .jcarousel-item .on { background:url(bg-semainier-on-2.png) no-repeat; height:35px; color:#8035b4!important; text-decoration:none; }
#page-grille-programmes #middleInner .horaire-semainier { background:#EDEDF6; color:#33365b; padding:3px 10px; font-size:12px; }
#page-grille-programmes #middleInner .horaire-semainier a { color:#33365b; padding:0 10px; }
#page-grille-programmes #middleInner .horaire-semainier a.current { color:#8035b4; text-decoration:underline; }
#page-grille-programmes #middleInner .scrollTo-Mask { width:671px; height:605px; overflow:hidden; position:relative; }
#page-grille-programmes #middleInner .scrollTo-Content { height:605px; width:10000px; }
#page-grille-programmes #middleInner .listes .splitRight { width:155px; }
#page-grille-programmes #middleInner .listes ul { float:left; width:671px; }
#page-grille-programmes #middleInner .listes li { float:left; padding:4px 0; width:330px; border-top:1px solid #ced4d9; }
#page-grille-programmes #middleInner .listes li.first { border:none; }
#page-grille-programmes #middleInner .listes li.first-col { margin:0 11px 0 0; }
#page-grille-programmes #middleInner .listes .hour { font-size:12px; font-weight:bold; color:#181e22; text-transform:uppercase; line-height:14px; }
#page-grille-programmes #middleInner .listes li.tonight-first { background:url(bg-grille-first.png) left top repeat-x; }
#page-grille-programmes #middleInner .listes li.tonight-second { background:url(bg-grille-second.png) left top repeat-x; }
#page-grille-programmes #middleInner .listes h2 { line-height:11px; font-size:12px; color:#8035b4; }
#page-grille-programmes #middleInner .listes h2 a { color:#8035b4; }
#page-grille-programmes #middleInner .h5, #page-grille-programmes #middleInner .h5 a { color:#8194a0; }
#page-grille-programmes #middleInner .h4 { line-height:12px; padding-top:5px; font-size:11px; }
#page-grille-programmes #middleInner .signaletique { padding:5px 5px 0 5px; overflow:hidden; text-align:right; }
#page-grille-programmes #middleInner .signaletique li { display:inline; float:none; border:none; }
#page-grille-programmes #middleInner .signaletique img { margin:0; float:none; }
#page-grille-programmes #middleInner #colR { padding-top:44px; }
#page-grille-programmes .vos-soirees { padding:8px 8px; background:url(bg-vos-soirees.png) repeat-x; }
#page-grille-programmes .vos-soirees .h2 { font-size:15px; text-transform:uppercase; }
#page-grille-programmes .vos-soirees .h2 span { color:#9460c0; }
#page-grille-programmes .vos-soirees .inner { overflow:hidden; padding:0 8px 0 8px; }
#page-grille-programmes .vos-soirees li { border-top:1px solid #ced4d9; padding:10px 0; }
#page-grille-programmes .vos-soirees .tonight-first { padding-bottom:10px; border:0; }
#page-grille-programmes .vos-soirees .tonight-first .hour { text-transform:uppercase; }
#page-grille-programmes .vos-soirees .tonight-first img { float:left; margin-bottom:5px; }
#page-grille-programmes .vos-soirees .tonight-first .h4 { clear:both; }
#page-grille-programmes .vos-soirees .splitRight { width:154px; }
#page-grille-programmes .vos-soirees .hour { font-size:11px; font-weight:bold; color:#181e22; background:url(puce-vos-soirees.gif) no-repeat 0 5px; padding:0 0 0 10px; }
#page-grille-programmes .vos-soirees h2 { padding:0 5px 0 0; }
#page-grille-programmes .vos-soirees h2 a, #page-grille-programmes .vos-soirees h2 { text-transform:uppercase; color:#9460c0; }
#page-grille-programmes .vos-soirees h2, #page-grille-programmes .vos-soirees .h5 { display:inline; }
/* ***************************************** POPUPS */
.popup { background:#040418 url(bg-popup.png) repeat-x; overflow:hidden; font-size:12px; overflow:hidden; width:550px; padding:8px; color:#fff; }
.popup h1 { padding:37px 0 0 0; overflow:hidden; background-repeat:no-repeat; line-height:11px; width:550px; margin:0 auto; }
.closeWindow a { position:absolute; top:20px; right:20px; display:block; text-align:right; color:white; text-transform:uppercase; line-height:14px; background: url(bt-close.gif) no-repeat right; padding:0 25px 0 0; }
.page-m6fr .closeWindow a { color:#414243; }
.popup .marginBottom { margin-bottom:20px; }
.popup h2 { padding:1px 6px; margin-bottom:5px; text-transform:uppercase; color:#c670fe; font-size:15px; font-weight:bold; background: url(bg-popup-titres.png) repeat-y; text-align:left; }
.popup .googleZone { padding:5px 10px; background:#585593; width:530px; overflow:hidden; margin-bottom:5px; }
.popup .googleZone .h3 { font-size:11px; background:transparent; padding:0; display:none; }
.popup .googleAnnonce { width:50%; float:left; text-align:left; }
.popup .googleAnnonce .title { font-weight:bold; color:#1c1c45 }
.popup .googleAnnonce .link a { color:#fff; }
.popup .copyright { position:absolute; bottom:0; left:0; color:#3e4c5c; text-align:center; width:550px; font-size:10px; }
#popup-infos-legales { width:550px; padding:8px; }
#popup-contact h1 { background-image:url(http://www.w9.fr/style/images/t-service-telespectateur.jpg); }
#popup-inscription-newsletter h1 { background-image:url(http://www.w9.fr/img/t-mon-compte.jpg); }
#popup-cgu h1 { background-image:url(http://www.w9.fr/style/images/t-mon-compte.jpg); }
#popup-cgu p { padding:10px 20px 0 20px; }
#popup-cgu ul { padding:10px 20px 0 50px; }
#popup-cgu ul li { list-style-type:disc; margin-bottom:5px; }
.popup form { width:461px; padding:0 0; }
.popup form p { margin-bottom:8px; }
.popup label { font-weight:bold; display:block; color:white; }
.popup .typeText { padding:1px 2px; width:322px; border:1px solid #b5b8c8; vertical-align:top; margin-left:10px; }
.popup select { padding:1px 2px; width:328px; border:1px solid #b5b8c8; vertical-align:top; margin-left:10px; }
.popup textarea { overflow:auto; padding:1px 2px; width:322px; vertical-align:top; border:1px solid #b5b8c8; margin-left:10px; }
.popup form :focus { background:#e1e6ea; }
.popup .btnHeader { text-transform:uppercase; display:inline-block; }
.popup form.newsletter { width:auto; }
.popup form.newsletter label { display:inline; vertical-align:middle; }
.popup form.newsletter input { vertical-align:middle; }
.popup form.newsletter .typeText { width:180px; }
#plus-1 .h3 { background-image:url(bg-plus-1.png); }
#plus #plus-2 .h3 { background-image:url(bg-plus-2.png); }
#plus #plus-3 .h3 { background-image:url(bg-plus-3.png); }
/* ***************************************** PAGES SERIES */
.page-series #colLC { padding:0 10px; width:680px; }
/* ***************************************** PAGES EMISSIONS */
.page-emissions #colLC { padding:0 10px; width:680px; }
/* ***************************************** PAGES PHOTOS */
.carouselGalerie { width:681px; margin:0 auto 10px auto; padding-bottom:10px; background:white; }
.carouselGalerie h2 { font-size:16px; padding:0 10px; }
.carouselGalerie .jcarousel-container { position:relative; width:614px; height:83px; overflow:hidden; padding:0 33px 0 34px; margin:0 auto; }
.carouselGalerie .jcarousel-next { width:15px; height:14px; background:url(btn-fleche.gif) no-repeat -15px 0; position:absolute; right:10px; bottom:35px; }
.carouselGalerie .jcarousel-prev { width:15px; height:14px; background:url(btn-fleche.gif) no-repeat 0 0; position:absolute; left:10px; bottom:35px; }
.carouselGalerie .jcarousel-clip { width:614px; height:83px; }
.carouselGalerie .jcarousel-item { position:relative; width:144px; height:81px; float:left; display:block; border:1px solid white; margin:0 10px 0 0; }
/*.carouselGalerie .jcarousel-item span { display:block;  background:black; text-align:left; color:white; width:152px; padding:3px; filter:alpha(opacity=70); opacity:0.70; -moz-opacity:0.70; overflow:hidden; }*/
.carouselGalerie .jcarousel-item a { text-decoration:none; }
.carouselGalerie .jcarousel-item a:hover span, .carouselGaleriePhotos .current span { display:block; }
.carouselGalerie .current { border-color:#000!important; }
.carouselGalerie .jcarousel-item .text { position:absolute; bottom:0; left:0; }
.carouselGalerie .jcarousel-item .h3 { display:block; width:124px; background:#0e161d; padding:2px 10px; filter:alpha(opacity=70); opacity:0.70; -moz-opacity:0.70; color:#fff; font-size:11px; line-height:14px; font-weight:normal; }
.carouselGalerie .jcarousel-item .h4 { display:none; width:124px; overflow:hidden; background:#0e161d; padding:2px 10px; filter:alpha(opacity=70); opacity:0.70; -moz-opacity:0.70; color:#fff; font-size:11px; line-height:14px; font-weight:normal; }
.page-photos .tri-liste { margin:0; padding:10px 0 0 0; }
.page-photos .carouselGalerie { padding:10px 0; }
.page-photos .inner { background:#fff; width:676px; margin:0 auto; padding:3px 2px 3px 3px;position:relative; }
.page-photos .inner .ui-tabs-selected a { font-weight:bold; }
.page-photos .listePhotos { width:676px; height:380px; overflow:hidden; margin-top:3px; text-indent: -5000px; }
.page-photos .navPhotos { margin:0 auto; text-align:center; padding:2px; }
.page-photos .navPhotos h2 { font-weight:normal; }
.page-photos h1 { font-size:15px; line-height:22px; text-align:left; overflow:hidden; padding:2px 10px }
.page-photos .inner .fL { display:block; width:109px; overflow:hidden; line-height:22px; }
.page-photos .btDiaporama { display:block; float:left; width:130px; overflow:hidden; line-height:22px; }
.page-photos .btPrev { position:relative; display:block; float:left; width:27px; height:23px; overflow:hidden; text-indent:-5000px; margin-right:5px; }
.page-photos .btNext { position:relative; display:block; float:left; width:27px; height:23px; overflow:hidden; text-indent:-5000px; }
.page-photos .btPrev span { position:absolute; top:0; left:0; background:url(btn-fleche.gif) no-repeat 0 -200px; width:100%; height:100%; }
.page-photos .btNext span { position:absolute; top:0; left:0; background:url(btn-fleche.gif) no-repeat -27px -200px; width:100%; height:100%; }
.copyright-galerie { font-size:9px; text-align:center;  zoom:1; width:676px; position:absolute;z-index:999;bottom:30px;left:3px; overflow:hidden; background:#fff; filter:alpha(opacity=60); opacity:0.60; -moz-opacity:0.60; color:#0e161d; font-weight:normal;}
/* ***************************************** PAGES VIDEOS */
.page-videos h1, .module_video h1 { font-size:15px; line-height:22px; text-align:left; overflow:hidden; padding:2px 10px; }
.page-videos .inner, .module_video .inner { background:white; width:676px; margin:0 auto; padding:3px; }
.page-videos .inner .ui-tabs-selected a, .module_video .inner .ui-tabs-selected a { font-weight:bold; }
.page-videos .tri-liste, .module_video .tri-liste { margin:0; padding:10px 0 0 0; }
.page-videos .carouselGalerie, .module_video .carouselGalerie { padding:10px 0; }
.page-videos #idPlayer, .module_video #idPlayer{ display:block; margin:0 auto; }
/* ***************************************** PAGES DETAIL */
.fiche { margin:0 0 10px 0; overflow:hidden; }
.fiche h1 { font-size:15px; font-weight:bold; margin-bottom: 0.5em; }
.fiche h2 { font-size:11px; line-height:normal; font-weight:normal; }
.fiche .h4 { font-size:13px; font-weight:normal; margin-bottom:5px; }
.fiche .h5 { font-size:11px; line-height:normal; font-weight:normal; }
.fiche .visuel { float:left; margin:0 10px 0 0; width:382px; }
.copyright-photo { font-size:9px; text-align:right!important; filter:alpha(opacity=30); opacity:.3; zoom:1; }
.fiche p { text-align:justify; }
.blocPerso { clear:both; }
/* carousel personnages */
.carouselPersonnages { width:681px; margin:0 auto 10px auto; padding:0 0 10px 0; background:white; }
.carouselPersonnages h2 { padding:1px 5px; font-weight:bold; font-size:15px; }
.carouselPersonnages .jcarousel-container { position:relative; width:635px; height:83px; overflow:hidden; padding:1px 21px; margin:0 auto; }
.carouselPersonnages .jcarousel-next { width:15px; height:14px; background:url(btn-fleche.gif) no-repeat -15px 0; position:absolute; right:2px; bottom:35px; }
.carouselPersonnages .jcarousel-prev { width:15px; height:14px; background:url(btn-fleche.gif) no-repeat 0 0; position:absolute; left:2px; bottom:35px; }
.carouselPersonnages .jcarousel-clip { width:635px; }
.carouselPersonnages .jcarousel-item { position:relative; width:123px; float:left; margin-right:5px; }
.carouselPersonnages .jcarousel-item span { display:block; position:absolute; left:0; bottom:0; background:black; text-align:center; color:white; width:117px; padding:3px; filter:alpha(opacity=70); opacity:0.70; -moz-opacity:0.70; overflow:hidden; }
/* Google Colonne gauche-centre */
#colLC .googleZone { padding:5px 10px; margin:20px 0; }
#colLC .googleZone .h3 { text-transform:uppercase; font-size:16px; }
#colLC .googleAnnonce { float:left; width:48%; padding-top:5px; }
#colLC .googleAnnonce .title { font-weight:bold; }

