/* Pour Impression */
* {color: black !important;}
.lireAussi span {display: block !important;}
.bigTitle {
        position: relative  !important; margin-left: 0 !important;
        height: auto !important; width: auto !important;
        overflow: auto; text-indent: 0 !important; font-size: 16px !important;
	}
#header,
#banniere,
#cciContainer,
#serviceContainer,
#espaceContainer,
#institutionnelContainer,
#recherche,
#navigationContainer,
#sideInfos,
#tiSuggestions,
#listeSuggestions,
p.accesArticle,
table.calendrier,
a.commander,
.btnInscription,
.pagination,
.lnkOptions select,
.accesAbonnes,
.btnTelecharger {display: none !important;}


body {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 10px; /*xx-small*/
	margin: 0; /*padding: 0 15mm 0 15mm;*/
    }
#allContent {
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	left: 0 !important;
	}
#contenu {
	width: 600px;
	position: relative !important;
	top: 0 !important; left: 0 !important;
	margin: 0 !important; padding: !important;
	}
.commonContainer {width: 600px; border: 0 !important}
img {border: 0;}
h1.t0 {
	font-size: 20px;
	position: relative;
	}
.commonContainer img {
	float: left; padding: 0 5pt 5pt 0;
	position: relative;
    }
.commonContainer em,
h3.t1 {
	display: block; clear: both;
	padding-top: 5px;
	border-top: 1px #BCBCBC solid;
	position: relative;
	}
.prix {
	display: block; clear: both;
	padding-bottom: 5px;
	border-bottom: 1px #BCBCBC solid;
	position: relative;
	}

#contactPerso, #infoboutique {
	position: relative; top: 0; left: 170px;
	background: transparent url(bg_contactPerso.gif) repeat-y;
	width: 200px; padding: 5px;
	border: 1px #bcbcbc solid;
 	}
table, td, th {font-size: 10px !important;}
table {
	position: relative;
	border-collapse: collapse;
	/*width: 370px;*/ width: 100%!important;
	text-align: left;
	border-color: black;
	}  
        
th, td {border: 1px #bcbcbc solid; padding: 3px;}
th {text-align: left;}
.piedimpression {
	width: 100%;
	border-top: 1px black solid;
	margin-top: 15px;
	padding-top: 10px;
	display: block !important;
	}



