
/* COLONNE Home */

#NewsHome .QCM {
font-family: Verdana, sans-serif;
color: #333333;
font-size: 12px;
}

#NewsHome .QCM .QCM-Resu .Ligne, #NewsHome .QCM .QCM-Vote .Ligne {
margin-top:12px;
}

#NewsHome .QCM .Reponse, #NewsHome .QCM .Reponse {
width:340px; 
padding-left:2px;
padding-right:20px;
float:left;
text-align:right;
}

#NewsHome .QCM .QCM-Resu .Ligne .Barre {
width:75px; 
height:11px;
margin-top:5px;
float:left;
background-color:#f0f0f0;
}

#NewsHome .QCM .QCM-Resu .Ligne .Barre .Remplissage {
float:left;
height:11px;
background-color:#0000CC;
background-image: url('http://www.lefigaro.fr/icones/sdg.gif');
background-position: left top;
background-repeat: repeat-x;
color:#0000CC;
overflow:hidden;
}

#NewsHome .QCM .QCM-Resu .Pourcent {
width:50px; 
float:right;
text-align:right;
overflow:hidden;
}

/* COLONNE NEWS */

#News3Col .QCM {
font-family: Verdana, sans-serif;
color: #333333;
font-size: 12px;
}

#News3Col .QCM .QCM-Resu .Ligne, #News3Col .QCM .QCM-Vote .Ligne {
margin-top:12px;
}

#News3Col .QCM .Reponse, #News3Col .QCM .Reponse {
width:340px; 
padding-left:2px;
padding-right:20px;
float:left;
text-align:right;
}

#News3Col .QCM .QCM-Resu .Ligne .Barre {
width:75px; 
height:11px;
margin-top:5px;
float:left;
background-color:#f0f0f0;
}

#News3Col .QCM .QCM-Resu .Ligne .Barre .Remplissage {
float:left;
height:11px;
background-color:#0000CC;
background-image: url('http://www.lefigaro.fr/icones/sdg.gif');
background-position: left top;
background-repeat: repeat-x;
color:#0000CC;
overflow:hidden;
}

#News3Col .QCM .QCM-Resu .Pourcent {
width:50px; 
float:right;
text-align:right;
overflow:hidden;
}

/* COLONNE VITRINE */

#Vitrine .QCM {
font-family: Verdana, sans-serif;
color: #333333;
font-size: 10px;
}

#Vitrine .QCM-Resu .Ligne, #Vitrine .QCM-Vote .Ligne {
margin-top:8px;
}

#Vitrine .QCM-Resu .Reponse, #Vitrine .QCM-Vote .Reponse {
width:190px; 
padding-right:10px;
float:left;
text-align:right;
}

#Vitrine .QCM-Resu .Barre {
width:40px; 
height:11px;
float:left;
background-color:#f0f0f0;
}

#Vitrine .QCM-Resu .Barre .Remplissage {
float:left;
background-color:#0000CC;
height:11px;
background-color:#0000CC;
background-image: url('http://www.lefigaro.fr/icones/sdg.gif');
background-position: left top;
background-repeat: repeat-x;
color:#0000CC;
overflow:hidden;
}

#Vitrine .QCM-Resu .Pourcent {
width:50px; 
text-align:right;
float:right;
overflow:hidden;
}
