/* SPIP-STYLE                                              version 1.9  */
/* Cette feuille contient les styles associes au code genere par SPIP.  */
/* Ces styles sont indispensables et doivent necessairement etre        */
/* definis pour le bon fonctionnement de vos squelettes.                */


/* Raccourcis typographiques de SPIP */
i.spip {}
strong.spip {}
hr.spip {}

.spip_puce { list-style-position: outside; }

ul.spip {margin:0; padding:0;}
ol.spip {}
ul.spip li.spip {background: transparent url('puce.gif') no-repeat scroll 0px 1px; text-indent: 1em; list-style:none;}

h3.spip {
	text-align: center; 
	margin-top: 1.5em; 
	margin-bottom: 1.4em; 
	font-size: 1.15em; 
	font-weight: bold; }

/* Paragraphes, citations, code et poesie */
p.spip {}
p.spip_note {font-size: 0.65em;}
 
blockquote.spip, .spip_serif { font-family: helvetica,arial,sans-serif; }

blockquote.spip { 
	margin: 1em; 
	padding-left: 1em;
	padding-right: 1em;
	border: 1px dotted; }

div.spip_poesie { 
	margin: 1em; 
	padding-left: 1em; 
	border-left: 1px solid;
	font-family: helvetica,arial,sans-serif; }
div.spip_poesie div { text-indent: -60px; margin-left: 60px; }

.spip_code, .spip_cadre { font-family: helvetica,arial,sans-serif; font-style: normal; font-size: 1.2em; }
.spip_cadre { width: 99%; border: 1px inset; }

.spip_surligne { background: #FF6; }

/* Tableaux */
table.spip {
	margin: auto;
	margin-bottom: 1em;
	border: 1px solid;
	border-collapse: collapse; }
table.spip caption {
	caption-side: top; /* bottom pas pris en compte par IE */
	text-align: center;
	margin: auto;
	padding: 3px;
	font-weight: bold; }
table.spip tr.row_first{background: #5C9513; color:#FFF;}

table.spip tr.row_odd { background: #DDD; }
table.spip tr.row_even { background: #EEE; }
table.spip th, table.spip td { padding: 3px; text-align: left; vertical-align: middle; }

table.spip th.col_first {color:#4A5D20;padding: 0.5em 1em 0.5em 0.2em; border-right: 1px solid #5C9513;}
table.spip tr.row_odd th.col_first {background: #CADFB5;}
table.spip tr.row_even th.col_first {background: #E0EFD1;}

table.spip tr.row_first th.first_dbl_entree, table.spip tr.row_first td	.first_dbl_entree  {
	background: #FFF;
	border-right: 1px solid #565656;
	border-bottom: 1px solid #565656;
}

/* Logos, documents et images */
img, .spip_logos { margin: 0; padding: 0; border: none; }

.spip_documents { text-align: center; }
.spip_documents_center { clear: both; width: 100%; margin: auto; }
span.spip_documents_center { display: block; margin-top:1em; }
.spip_documents_left { float: left; margin-right: 15px; margin-bottom: 5px; }
.spip_documents_right { float: right; margin-left: 15px; margin-bottom: 5px; }
.spip_doc_titre { font-weight: bold; font-size: 0.8em; margin-left: auto; margin-right: auto; }
.spip_doc_descriptif { clear: both; font-size: 0.8em; margin-left: auto; margin-right: auto; }

/* Images typographiques (via image_typo), URL a revoir... */
.format_png { behavior: url(http://www.centrepleinenature.fr/dist/win_png.htc); }

/* modeles par defaut */
.spip_modele { float: right; display: block; border: 1px dotted #666; width: 11.25em; }

/* Barre de raccourcis typographiques */
table.spip_barre { width: 100%; }

table.spip_barre a img {
	background: #FDA;
	padding: 3px;
	border: 1px outset #999; }
table.spip_barre a:hover img {
	background: #FFF;
	border: 1px solid #999; }

table.spip_barre input.barre { width: 100%; background: #EEE; }

/* * Couleurs des liens de Spip */
a.spip_note {} /* liens vers notes de bas de page */
a.spip_in { color: #5C9525; } /* liens internes */
a.spip_out { color: #5C9525; } /* liens sortants */
a.spip_url { color: #5C9525; } /* liens url sortants */
a.spip_glossaire { color: #060; } /* liens vers encyclopedie */
.on { font-weight: bold;  } /* liens exposes */

kbd {
border:1px solid gray;
font-size:1.2em;
padding:0px 2px;
}
