/*   Agenda v2.1
  		 (C) 2006 by André R.
		 http://www.sbio.no/it
*/

/* Full Agenda view agenda2full.tpl */
	div.class-agenda p.agenda_full_url { text-align: center;}
	div.class-agenda p.agenda_date{ clear:left; float:left; width: 55%; padding: 1px 0px 4px 4px; font-size: 10px;}


/* toolbar Calendar view agenda2toolbar.tpl */
	div#toolbar_Agenda_calendar, div#toolbar_Agenda_calendar td#agenda_calender { width: 187px;}
	div#toolbar_Agenda_calendar td#agenda_calender table { border-spacing: 0px; border-collapse:collapse; width: 185px;}


/* toolbar Event list agenda2toolbar_list.tpl */
	div#toolbar_Agenda_list { color:#444;}
	div#toolbar_Agenda_head { font-weight: bold;}
	div#toolbar_Agenda_list span.module_aktivitet_date { width: 49px; color: #808080; overflow: hidden;}

/*****************************************/
/* Menu horizontal                       */
/*****************************************/

#nav * { padding: 0em; margin: 0em; }

/* ----------------------------- start #nav ----------------------------- */
#nav img { border: none; }
#nav li { display: inline; list-style:none; }
#nav li a { float: left; display:block; width: auto; height: 30px; margin: 6px; }
#nav li a img {  border:none; vertical-align:bottom; /* for IE6 */}
/* ----------------------------- end #nav ----------------------------- */
