body {
padding: 0; margin: 0; border: 0;
font-family: Verdana, Arial, Trebuchet MS, sans-serif;
color:#000;
font-size: 0.7em;
}
 
#accesskeys { display: none; }

		/* FLASH */
		.flash_embed {
			text-align: center;
			margin: 0 0 10px 0;
			}
#area_middle th { vertical-align: middle; }				
#area_middle th p { text-align: center; line-height: 14px; }			

/* --- BALISES GENERIQUES --- */
a { text-decoration:none; color: #ff6600; }
	a:hover { text-decoration:none; color: #666; }


	/* titre rubrique */
	#folder_name {
		padding: 0;
		margin-bottom: 20px;
		}
	
		h1 {
			display: block;
			padding: 5px;
			font-size: 1.4em;
			font-weight: normal;
			color: #fff;
			background: #AEE477;
			margin:0;
			}
				
		.folder382 #folder_name h1 { display: block; margin: 0; background: #008840; color: #fff; }
		.folder6681 #folder_name h1 { display: block; margin: 0; background: #E20079; color: #fff; }
		.folder384 #folder_name h1 { display: block; margin: 0; background: #2C697F; color: #fff; }
		.folder385 #folder_name h1 { display: block; margin: 0; background: #EE7F00; color: #fff; }
		.folder386 #folder_name h1 { display: block; margin: 0; background: #86BD16; color: #fff; }
		.folder387 #folder_name h1 { display: block; margin: 0; background: #00509D; color: #fff; }
		.folder388 #folder_name h1 { display: block; margin: 0; background: #6B3931; color: #fff; }
		
h2 {
	font-size: 1.3em;
	color: #666;
	border-bottom: 1px dotted #94DC4C;
	}

h3 { font-size: 0.9em; padding: 0; font-weight: normal; margin: 0; line-height: 13px; }

h4 { font-size: 1.1em; color: #5B3C1A; }

h5 {
	font-size: 1em;
	font-weight: bold;
	color: green;
	margin: 0;
 	}
 	
   	.folder382 h5 { color: #008840; }
	.folder6681 h5 { color: #E20079;}
	.folder384 h5 { color: #2C697F; }
	.folder385 h5 { color: #B22600; }
	.folder386 h5 { color: #86BD16; }
	.folder387 h5 { color: #00509D; }
	.folder388 h5 { color: #6B3931; }	
 	
 	
h6 { 
	font-weight: normal;
	color: green;
	margin: 0;
 	}
  	
 	.folder382 h6  { color: #008840; }
	.folder6681 h6 { color: #E20079; }
	.folder384 h6  { color: #2C697F; }
	.folder385 h6  { color: #B22600; }
	.folder386 h6  { color: #86BD16; }
	.folder387 h6  { color: #00509D; }
	.folder388 h6  { color: #6B3931; } 	

pre, code { font-size: 0.8em;	}

ul, li { list-style-type: none;  }

ol { list-style-type: decimal ; }
ol li { list-style-type: none ; }

	/* pas de marge sur les menu */
	#area_top ul, #area_left ul, #area_ileft ul, #area_lowtop ul, #area_right ul, #area_iright ul,
	#area_top li, #area_left li, #area_ileft li, #area_lowtop li, #area_right li, #area_iright li { margin: 0; padding: 0; }

div { margin:0; padding:0; }

form { margin:0; padding:0; }

td { margin:0; }

img { border:none; }

p { text-align:justify; padding: 0; line-height: 19px; }

/* --- SITE --- */
#pagelayout_allcontent {
	border: 0; padding:0; margin:0;
	width: 988px;
	}

/* --- TETIERE --- */
.header_img { display: none; }

#area_top { }

	#link_16583 { display: none; }
	
	/* tetiere haut */
	.areablock9564 {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 988px;
		height: 130px;
		background: url(tetiere2.png);
		}
	
	
	.areablock297 {
		height: 130px;
		overflow: hidden;
		}
	
	.areablock297 a {
		position: absolute;
		z-index: 0;
		top: 0;
		display: block;
		width: 750px;
		height: 100px;
		}
		
		.areablock297 a:hover { background: none; }
		
	.areablock453 {
		position: absolute;
		left: 180px;
		top: 59px;
		}			
	
	/* menu haut 1 */
	.areablock377 {
		margin: 0;
		display: block;
		height: 28px;
		background: url(menu_haut1_bgd.png);
		overflow: hidden;
		}
	
		.areablock376 { float: left; }
		
		#menumenu1 {
		/*width:100%;*/
		}
	    #menumenu1 .menu_body {
        /*width:100%;*/
        }
			
			#menumenu1 .menu_title { display: none; }
	
			#menumenu1 li { float: left; }
	
			#menumenu1 a {
				display: block;
				margin: 5px 0px;
				padding: 2px 10px;
				color: #fff;
				font-weight: bold;
				border-left: 2px solid #fff;
				}
				#menumenu1 a:hover { color: #333; }
			
			
			/* recherche */	
			#searchbox {
				float:left;
				margin: 1px 0 0 6px !important;
				margin: 0px 0 0 10px;
				}
	
				#searchbox form {
					margin: 0;
					padding: 0;
					border: 0;
					}
	
				#searchbox input.searchboxinput {
					font-size: 0.9em;
					border: 1px solid #000;
					color: #000;
					width:115px;
					}
	
				#searchbox input.defaultbutton {
					height: auto !important;
					height: 17px;
					font-size: 0.8em;
					font-weight: normal;
					border: 1px solid #000;
					background: #000;
					color: #fff;
					}				

		#searchbox .optionblock { display: none; }
		#searchbox .site_search {}
		#searchbox .category_search {}
		
		.content-search .halfbox { margin: 0 0 14px 0; }
		.content-search .button { margin: 0 0 14px 0; }
		.content-search .feedback { margin: 14px 0 0 0; border: 0; font-size: 0.8em; }
			.content-search h2{ border: 0; }
		.content-search .elementlist_elementcontent,
		.content-search .fiche { border-top: 1px solid #ccc; }
		.content-search .fiche { padding-top: 7px; }
		
		.content-search .resultat { display: block; padding: 8px 0 8px 0; border-bottom: 1px dotted #ccc; }
		
		#advanced_search #search_console div { margin-bottom: 10px; }
			#advanced_search .all_the_words {}
			#advanced_search .exact_phrase {}
			#advanced_search .one_of_the_words { display: none; }
			#advanced_search .classes { display: none; }
			#advanced_search .attributs { display: none; }
			#advanced_search .search_section {}
			#advanced_search .Published {}
			#advanced_search .display_per_page {}
			#advanced_search .buttonblock {}
				#advanced_search .button {}

		#advanced_search .list,
		#advanced_search td { margin: 0; padding: 0; }
		
		#advanced_search .bglight { float: left; width: 47%; margin: 0; padding: 10px; }
		#advanced_search .bgdark { float: left; width: 47%; margin: 0; padding: 10px; }
		
		#advanced_search th { display: none; }	

	/* menu haut 2 */
	.areablock378 {
		clear: both;
		height: 19px;
		background: url(t20.gif);
		}
		
		/* MARQUEE - TICKER */
		.ticker { 
			color: #000;
			display: block;
			width: 155px !important;
			!width: 175px!important;
			width: 155px;
			padding: 3px 10px 0 10px;
			margin: 0;
			float: left;
			margin-right: 15px !important;
			! margin-right: 20px !important;
			margin-right: 15px;
			}		
	
		#menu4 {
			margin-left: 190px !important;
			! margin-left: 200px !important;
			margin-left: 190px;
			}
			
			#menu4 .menu_title { display: none; }
	
			#menu4 li { float: left; }
	
			#menu4 a {
				display: block;
				margin: 3px 0 0px 0;
				padding: 0px 10px;
				color: #fff;
				font-weight: bold;
				border-right: 1px solid #fff;
				}
				#menu4 a:hover { color: #000; }
				
		#pagelayout_currentdate {
			float: left;
			text-align: center;
			display: block;
			width: 181px;
			text-align: center;

			padding: 4px 0 0px 0;
			font-size: 1em;
			}													

	/* tétière bas */
	.areablock400 {
		clear: both;
		display: block;
		width: 988px;
		height: 19px;
		background: url(t30.png);
		overflow: hidden;
		}
		
	
/* --- PAGE --- */
#pagelayout_contentstructure {
	border:none;
	width:100%;
	clear:both;
	}

#pagelayout_contentstructure {	
	background: url(page_bgd.jpg) no-repeat 0 100%;
	}

	/* --- GAUCHE --- */
	#area_left {
		width:180px;
		padding-bottom: 270px;
		}
		
	#area_left img {
		display: block;
		overflow: hidden;
		background: none;
		}
		
		.image402 {}		

		#link_9477 {
			display: block;
			height: 38px;
			background: url(menu_gauche2_blog.gif);
			}
			a#link_9477:hover { background: url(menu_gauche2_blogo.gif); }
			#link_9477 span { display: none; }

		.link9478 {
			display: block;
			height: 38px;
			background: url(menu_gauche2_publications.gif);
			}
			a.link9478:hover { background: url(menu_gauche2_publicationso.gif); }
			.link9478 span { display: none; }				
				
		.link9479 {
			display: block;
			height: 33px;
			background: url(menu_gauche2_esp_presse.gif);
			}
			a.link9479:hover { background: url(menu_gauche2_esp_presseo.gif); }
			.link9479  span { display: none; }

	/* --- CONTENU --- */
	
		/* contenu_haut */
		#area_lowtop {display:none;}
		.folder106 #area_lowtop {display:block;}
		
		
		#link_16544 { visibility: hidden; }
		
		#node106 #link_16544 { color: #92918C; font-size: 0.9em; font-weight: normal; visibility: visible; }
		#node106 a#link_16544:hover { text-decoration: underline; }
		#node106 #link_16544 span { font-weight: normal; display: block; margin-bottom: 13px; }
		#node106 #link_16544 span:hover { text-decoration: underline; }
				
		/* zoom */
		#area_lowtop .zoom { margin: 0 0 20px 0; }

		#zoom_19832 .object-center {display:none;}


		#area_lowtop .zoom p { padding: 0; margin: 0; }

			#area_lowtop .zoom  .object-left { margin: 0; padding: 0; border: 0; margin-right: 6px; }
			#area_lowtop .zoom  .object-center { margin: 0; padding: 0; border: 0; }
			#area_lowtop .zoom  .object-right { margin: 0; padding: 0; border: 0; margin-left: 6px; }

		#area_lowtop .zoom_title {
			display: block;
			padding: 3px 10px;
			font-size: 1em;
			font-weight: bold;
			color: #00864B;
			background: #AEE477;
			}

		#area_lowtop .zoom .title {
			padding: 4px 0;
			font-weight: bold;
			font-size: 1.3em;
			color: #666;
			border-bottom: 1px dotted #94DC4C;
			margin-bottom: 10px;			
			}

		#area_lowtop .zoom_article { padding: 0 6px 10px 6px; color: #000; }

		#area_lowtop img { float: left; margin-right: 10px; }

		#area_lowtop .zoom_article script { display: none; }

		#area_lowtop .zoom_article p { text-align: justify; margin: 8px 0 8px 0; }

		#area_lowtop .image_de_presentation .imagecenter {
			float: left; margin: 0 10px 0 0; width: auto; _width: 1%;
			}

		#area_lowtop .zoom_article a { }

		#area_lowtop .zoom_article .link {}

		#area_lowtop .zoom_article .link a {
			font-weight: bold;
			color: #FF6600;
			padding: 0 0 0 14px;
			background: url(lire_la_suite.png) no-repeat 0 4px;
			text-decoration: none;
			}
			#area_lowtop .zoom_article .link a:hover { color: #666; }

			#area_lowtop .zoom_agenda { display: block; text-align: left; border: 0; padding: 0; margin: 0; }
			#area_lowtop .zoom_agenda .article { display: block; padding: 0 0 6px 0; margin-bottom: 10px; border-bottom: 1px dotted #ccc;  }

			#area_lowtop .zoom_agenda div { display: block;  }

			#area_lowtop .zoom_agenda .show_all_event{ font-weight: bold; font-size: 0.9em;  }
		
		
	
	#area_middle { padding: 0 15px 30px 15px; font-size: 1.1em; }

	#area_middle a { font-weight: bold; }
	
	#area_middle ul { margin-top: 0; margin-bottom: 10px; }	
	#area_middle li { line-height: 19px; }	
	#area_middle ul, #area_middle ul li { list-style-type: disc; }
	#area_middle ol, #area_middle ol li { list-style-type: decimal; }		
	#area_middle ul li ul, #area_middle ul li ul li { list-style-type: circle;	}	
	#area_middle ul li ul li ul, #area_middle ul li ul li ul li { list-style-type: square;	}	

	#node106 #area_middle #node h1 { display: none; }

	/* --- DROITE intérieure --- */
	td#area_iright { display:block; width: 233px; _width: 233px; }
	.area_iright { width: 223px; display: block; padding-right:0; padding-top:0; _padding-right:0; _margin-right:13px;}
	.folder106 .area_iright { padding-top:0px; width: 220px; padding-right:8px; _margin-right:0; }

	
	.inset {
		border: 1px solid #00864B;
		margin-bottom: 20px;
		}
		
		.inset_title { padding: 3px; background: #00864B; color: #fff; font-weight: bold; }
		.inset_body { padding: 10px 0 10px; border: 0; }
		.inset_body a { display: block; border: 0; }
		.inset_body .elementlist_element { border: 0; margin: 0; padding: 0; }
		.inset_body .elementlist_elementlink { border: 0; margin: 0 10px 10px 10px; padding: 0; }
	
		/* encarts */
		#area_iright .zoom { margin-right: 0; border:1px solid #AEE477; margin-bottom: 20px;  }
			
			#area_iright .zoom .zoom_title span { display: none; }
			#area_iright .zoom h2 { display: none; }
			#area_iright .zoom .zoom_article { display: block; padding: 0 0 10px 0; }
			#area_iright .zoom .zoom_article .title {
			display: block;
			padding: 3px 10px;
			font-size: 1em;
			font-weight: bold;
			color: #fff;
			background: #AEE477;
			}
			#node106 #area_iright .zoom .zoom_article .title {color: #008840;}
			#area_iright .zoom .zoom_article a { display: block; padding:0; margin:0; }
			#area_iright .zoom .zoom_article p { text-align: left; padding:0 10px; margin:0; }
			#area_iright .zoom .object-left {  float: none; margin: 0; padding: 0; border: 0; }
			#area_iright .zoom .object-center {  text-align: center; margin: 0; padding: 0; border: 0; }
			#area_iright .zoom .object-right {  float: none; margin: 0; padding: 0; border: 0; }
			#area_iright .zoom .zoom_article .content-body { padding: 0 10px; margin: 5px 0 10px 0; }
			#area_iright .zoom .zoom_article .content-body a { padding: 0; }
			
			/* vidéo */
			#area_iright #zoom_14601 .zoom_article .title { margin-bottom: 10px; }
			
				/* conseil general */
				.folder382 #area_iright .zoom { border:1px solid #008840; }
				.folder382 #area_iright .zoom .zoom_article .title { background:#008840; }
				/* Parcours de vie */
				.folder6681 #area_iright .zoom { border:1px solid #E20079; }
				.folder6681 #area_iright .zoom .zoom_article .title { background:#E20079; }
				/* Moyens de déplacement */
				.folder384 #area_iright .zoom { border:1px solid #2C697F; }
				.folder384 #area_iright .zoom .zoom_article .title { background:#2C697F; }
				/* Collèges et enseignement sup */
				.folder385 #area_iright .zoom { border:1px solid #EE7F00; }
				.folder385 #area_iright .zoom .zoom_article .title { background:#EE7F00; }
				/* Environnement */
				.folder386 #area_iright .zoom { border:1px solid #86BD16; }
				.folder386 #area_iright .zoom .zoom_article .title { background:#86BD16; }
				/* Entreprise, territoire */
				.folder387 #area_iright .zoom { border:1px solid #00509D; }
				.folder387 #area_iright .zoom .zoom_article .title { background:#00509D; }
				/* Culture... */
				.folder388 #area_iright .zoom { border:1px solid #6B3931; }
				.folder388 #area_iright .zoom .zoom_article .title { background:#6B3931; }
				
				.folder106 #area_iright #zoom_9511 { border:0; }
				.folder106 #area_iright #zoom_9511 .zoom_article .title { display: none; }
				

			/* Vidéo */
			#area_iright #zoom_9511 .title { }	
			#zoom_9511 { padding: 27px 0 0 0; background: url(actu_video_haut.gif); }
			#zoom_9511 .zoom_title { display: none;	}
			#zoom_9511 .zoom_article { padding: 0 10px; }
			#zoom_9511 .zoom_article .object-center {}
			
			#zoom_9511 .zoom_bottom { height: 23px; background: url(actu_video_bas.gif); }
				
	
			/* Focus */
			#zoom_5550 { color: #869486; border-bottom: 1px solid #94DB4C; margin-bottom: 20px; }			
			#zoom_5550 .zoom_title { height:25px; background: url(focus_haut.gif); }
			#zoom_5550 .title { display: none; }

			#area_iright #zoom_5551 .title { display: none; }	
			#zoom_5551 { background: url(agenda_bgd.gif); color: #869486; }
			#zoom_5551 .zoom_title { height: 25px; background: url(agenda_haut.gif); }						
		
			/* Listing */
			.area_iright .listing { border:1px solid #94DB4C; margin:0 0 20px 0; }
			.area_iright .listing .menu_top { background:#94DB4C; color:#FFF; font-weight:bold; padding:3px; margin:0; }
			.area_iright .listing .menu_body { padding:8px; color:#869486; }
			
			#zoom_15356 table.withoutborder { width: 218px; padding: 0; border: 0; }
	
			
			/* Sondage complexe */
			.sondage { clear: both; margin-right: 2px; margin-bottom: 10px; border: 1px solid #FFBA00; }
			
			.sondage a.haut {
				display: block;
				height: 50px;
				background: url(sondage_haut.gif) no-repeat;
				}
				.sondage .question { display: block; padding: 0 10px 10px 10px; color: #59C155;}
				.sondage .lien_texte { display: none; }
				.sondage #sondage_bas { display: none; }
				
			/* Sondage simple */
			#sondage_10848 { clear: both; margin-right: 2px; border: 1px solid #FFBA00; }			
			
			#sondage_10848 { clear: both; margin-right: 2px; margin-bottom: 10px; border: 1px solid #FFBA00; }
			
			#sondage_10848 .haut { height: 50px; background: url(sondage_haut.gif) no-repeat; }
				#sondage_10848 .nom { display: none; }
				#sondage_10848 .texte { padding: 0 10px; color: #59C155; }
				#sondage_10848 a.lien { display: block; height: 26px; background: url(sondage_votez.gif) no-repeat; }
					#sondage_10848 a.lien:hover { background: url(sondage_votezo.gif) no-repeat; }
				#sondage_10848 a.lien span { display: none; }
				
			#sondage_10848 { clear: both; margin-right: 2px; border: 1px solid #FFBA00; }
			
		

	/* --- DROITE --- */
	td#area_right {
		width: 168px;	
		}
	.folder106 td#area_right {
		/*width: 175px;	*/
		}
	
/* --- BAS --- */
#area_bottom {
	padding: 0 0 0 182px;
	margin: 0;
	border: 0;
	display: block;
	height: auto;
	background: #94DB4C;
	}
	
	#area_bottom .areablock347 { }
	
	#area_bottom .areablock347 a { border: 0; padding: 0; margin-right: 5px; color: #94DB4C; }
		#area_bottom .areablock347 a:hover { text-decoration: underline; color: #94DB4C; background: none; }	

#area_bottom a {
	color: #000;
	float: left;
	display: block;
	margin: 10px 0 0 0;
	padding: 0 10px 0 10px;
	border-right: 1px solid #5B3C1A;
	}
	#area_bottom a:hover { text-decoration: underline; }


/* -------------------------------------------------- STYLES OK */


/* --- DIAPORAMA --- */
div.content-navigator div.content-navigator-previous-disabled,
div.content-navigator div.content-navigator-next-disabled {
	color:#777777;
	}

div.content-navigator div.content-navigator-separator,
div.content-navigator div.content-navigator-separator-disabled {
	padding-left: 4px;
	padding-right: 4px;
	}

div.content-navigator div.content-navigator-arrow {
	font-size: 150%;
	color:#000080
	}

/* --- BREVES --- */
p.shortnews_separator {
	margin:0 5em;
	border-bottom:1px solid;
	font-size:2px;
	}

p.shortnews {
	margin:0;
	padding:0.5em 0;
	}
	
/* --- DERNIERS ARTICLES --- */
#latest_article_list {
	margin:0em 1em 2em 0;
	border-width:1px;
	border-style:solid;
	padding:0;
	}
	
div.linktool,
div.shortnews,
div.agenda_inset {
	margin:2em 1em 2em 0;
	border-width:1px;
	border-style:solid;
	}	
	
#latest_article_list_title,
div.linktool_title,
div.shortnews_title,
div.agenda_title {
	padding:0.3em;
	text-align:left;
	font-weight:bold;
	}
	
#latest_article_list_articles,
div.linktool_body,
div.shortnews_body,
div.agenda_body{
padding:0.3em;
font-size:0.9em;
text-align:left;
}

#latest_article_list_articles p a,
div.linktool_link,
p.shortnews a,
p.agenda_event a {
	font-size:1em;
	text-decoration:none;
	}

/* EQUIPE MUNICIPALE */
div.group {
	clear:both;
	padding:2em 0;
	}

div.group_member {
	width:50%;
	float:left;
	display:inline;
	margin-top:1em;
	}

div.person_summary div.role{
	font-weight:bold;
	}

/* -------------------------------------------------- STYLES IDENTIFIES */

#site_image {
	position:relative;
	z-index:10;
	}

#bypass {
	margin:0.3em;
	padding:0.3em;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:auto;
	}

#bypass ul {
	display:inline;
	list-style-type:none;
	}

#bypass ul li {
	display:inline;
	list-style-type:none;
	}

#site_title {
	position:absolute;
	top:0;
	left:0;
	}

li.search_option {
	display:inline;
	}

ul.search_options {
	margin:0;
	padding-bottom:0.2em;
	}

/*
table.elementlist_element {
	width:100%;
	margin:0;
	padding:0;
	}

table.elementlist_element tbody {
	width:100%;
	margin:0;
	padding:0;
	}

table.elementlist_element tbody tr {
	width:100%;
	margin:0;
	padding:0;
	}

table.elementlist_element tbody tr td {
	width:100%;
	margin:0;
	padding:0;
	}

table.elementlist_element tbody tr td#elementlist_firstelement {
	width:70%;
	margin:0;
	padding-right:0.3em;
	vertical-align:top;
	background: green;
	}

table.elementlist_element tbody tr td#elementlist_subcategories {
	width:30%;
	margin:0;
	padding:0;
	vertical-align:top;
	background: red;
	}
*/

div.elementlist_element {
	width:100%;
	margin-top:1.5em;
	margin-bottom:1em;
	}

div.elementlist_elementinfo {
	width:100%;
	padding:0.3em;
	margin-top:-1em;
	margin-bottom:1em;
	_margin-bottom:0px;
	}

div.elementlist_elementauthor {
	display:inline;
	float:left;
	font-size:0.8em;
	}

div.elementlist_elementdate {
	display:inline;
	float:right;
	font-size:0.8em;
	}

.elementlist_elementperiod span,
.elementlist_elementwhere span {
	font-weight:bold;
	}

.elementlist_elementperiod div {
	display:inline;
	}

#site_header {
	width:100%;		
	_margin-bottom:-3px;
	}
		
#site_header_relative {
	width:100%;
	position:relative;
	}

#site_title {
	position:absolute;
	top:0;
	left:0;
	visibility:hidden;
}

.zoom_article .link {margin: 0 10px;}

td#area_ileft #pagelayout_currentdate {
    text-align: right;
    display: block;
    padding: 4px 0 0px 0;
    font-size: 1em;
    float: none;
    width:auto;
}

#area_right .zoom {
    margin-right: 0;
    border-right:1px solid #AEE477;
    border-bottom:1px solid #AEE477;
    margin-bottom: 20px;
    background-color: #FFF;
    text-align:right;
}
#area_right .zoom img {
    margin-right: 10px;
}  
#area_right .zoom .zoom_title span {
    display: none;
}
#area_right .zoom h2 {
    display: none;
}
#area_right .zoom .zoom_article {
    display: block;
    padding: 0 0 10px 0;
}
#area_right .zoom .zoom_article .title {
    display: block;
    padding: 3px 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
    /*background: #AEE477;*/
    text-align:right;
}
#area_right .zoom .zoom_article .title {
    color: #008840;
}
#area_right .zoom .zoom_article a {
    display: block;
    padding:0;
    margin:0;
}
#area_right .zoom .zoom_article p {
    text-align: right;
    padding:0 10px;
    margin:0;
}
#area_right .zoom .object-left { 
    float: none;
    margin: 0;
    padding: 0;
    border: 0;
}
#area_right .zoom .object-center {
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
}
#area_right .zoom .object-right {
    float: none;
    margin: 0;
    padding: 0;
    border: 0;
}
#area_right .zoom .zoom_article .content-body {
    padding: 0 10px;
    margin: 5px 0 10px 0;
}
#area_right .zoom .zoom_article .content-body a {
    padding: 0;
}


.inset_agenda {
    margin-bottom:20px;
}
.inset_agenda .inset_title {
    width:100px;
    padding-left: 5px;
}
.inset_agenda .inset_body {
    border:1px solid #00864B;
    border-top:none;
    padding:10px;
    padding-bottom:0px;
    background-color:#FFF;
}
.inset_agenda .elem_event {
    margin-bottom:10px;
}
.inset_agenda .elem_event a {
    display:inline;
}

#area_iright a,
#area_right a {
    text-decoration: underline;
    font-weight: normal;
}
#area_middle #area_lowtop a,
#area_middle #node a,
#area_bottom a{
    text-decoration: underline;
}


#area_middle a.glossary_link,
#area_middle a:hover.glossary_link,
#area_iright a.glossary_link,
#area_iright a:hover.glossary_link,
#area_right a.glossary_link,
#area_right a:hover.glossary_link {
	font-weight:normal;
	color:#333; 
}

#menumenu1 .bloc_login{
    text-align:right;
    width : auto;
    float:right;
}

#menumenu1 .bloc_login a{
    border-left: none;
    color: #000;
}
#menumenu1 .bloc_login a:hover{
    color: #333;
}