/* --- Services en ligne --- */
#menu6 {
	border: 0;
	margin: 0;
	padding: 0;
	width: 178px;
	height: 59px;
	overflow: hidden;
	}

	#menu6 .menu_top { display: none; }

	#menu6 a {
		display: block;
		height: 59px;
		background: url(g00.png);
		}
		#menu6 a span { display: none; }
	#menu6 .menu_bottom { display: none; }


#submenu_9586 {
	border: 0;
	margin: 0;
	background: #94DB4C;
	width: 178px;
	border-top: 1px solid #fff;
	}

	#submenu_9586 .menu_top { display: none; }
	#submenu_9586 .menu_bottom { display: none; }
	
	#submenu_9586 ul li ul a:hover { text-decoration: none; }
	
	#submenu_9586 .name { display: none; }	
	
	#submenu_9586 ul, #submenu_ li {
		list-style-type: none;
		margin: 0; padding: 0; border: 0;
		_height: 1%;
		}

	#submenu_9586 a {
		color: #00864C;
		margin: 0 20px 0 0;
		}
		#submenu_9586 a:hover { color: #fff; background: #00864C; }

	/* rubrique racine de l'arbo */
	#submenu_9586 .currentree {
		display: block;
		padding: 4px 10px;
		font-weight: bold;
		color: #00864C;
		}
	

	/* rubriques */
	#submenu_9586 li.level0 { background: #BFDDA0; padding: 0; margin: 0; border-bottom: 1px solid #fff; }
			
	#submenu_9586 .level0 .current_node {
		display: block;
		padding: 3px 10px;
		background: #00864C;
		color: #fff;		
		}
		
		#submenu_9586 .level0 a .current_node { color: #333; }

		#submenu_9586 .level0 a {
			display: block;
			margin: 0;
			padding: 3px 10px;
			font-weight: bold;		
			}
			#submenu_9586 .level0 a:hover { }

	/* sous rubriques */
	#submenu_9586 li.level1  {  }
	
	#submenu_9586 .level1 .current_node {
		padding: 2px 10px 2px 20px;
		font-weight: bold;
		font-size: 1em;
		background: #00864C;
		color: #fff;
		_height: 1%;
		}
	
	#submenu_9586 .level1 a {
		font-weight: normal;
		height: 1%;
		display: block;
		padding: 2px 10px 2px 20px;
		text-align: left;
		}
		#submenu_9586 .level1 a:hover { }

		/* sous sous rubriques */
		#submenu_9586 li.level2  {}
		
		#submenu_9586 .level2 span.current_node {
			padding: 3px 10px 3px 30px;
			font-weight: bold;
			border: 0;
			}

	
		#submenu_9586 .level2 a {
			display: block;
			padding: 2px 10px 2px 30px;
			text-align: left;
			border: 0;
			background: url(menu_gauche1_puce.png) no-repeat 20px 7px;
			}
			#submenu_9586 .level2 a:hover {}
				#submenu_9586 .level2 a span { }
	
#submenu_9586 .current_node { font-weight: bold; color: #00864C; }



/* --- GAUCHE 1 dépliant --- */
#menu5 {
	border: 0;
	margin: 0;
	}

	#menu5 .menu_top { display: none; }
	#menu5 .menu_bottom { display: none; }
	
	#menu5 ul li ul a:hover { text-decoration: none; }
	
	#menu5 .name {
		display: none;
		}	
	
	#menu5 ul, #submenu_ li {
		list-style-type: none;
		margin: 0; padding: 0; border: 0;
		}


	/* rubrique racine de l'arbo */
	#menu5 .currentree {
		display: block;
		padding: 10px 10px;
		background: #CDE673;
		font-weight: bold;
		}
	

	/* rubriques */
	#menu5 li.level0 {
			padding: 0; margin: 0;
			}
			
	#menu5 .level0 .current_node {
		display: block;
		padding: 0 10px;
		color: #fff;
		background: #CDE673;
		}

		#menu5 .level0 a {
			display: block;
			color: #000;
			margin: 0;
			padding: 6px 10px 0 10px;
			height: 33px;	
			}
			#menu5 .level0 a:hover { text-decoration: underline; }


			#menu_382_root .level0 a {
				background: url(_comprendre.png) no-repeat;			
				}
				#menu_382_root .level0 .currentree { background: #20C45E; color: #fff; }
				
			#menu_6681_root .level0 a {
				background: url(_accompagner.png) no-repeat;
				}
				#menu_6681_root .level0 .currentree { background: #FF6299; color: #fff; }
				
			#menu_384_root .level0 a {
				background: url(_se_deplacer.png) no-repeat;
				}
				#menu_384_root .level0 .currentree { background: #5399B2; color: #fff; }
				
			#menu_385_root .level0 a {
				background: url(_apprendre.png) no-repeat;
				}
				#menu_385_root .level0 .currentree { background: #FFB220; color: #fff; }
				
			#menu_386_root .level0 a {
				background: url(_preserver.png) no-repeat;
				}
				#menu_386_root .level0 .currentree { background: #86BD16; color: #fff; }
				
			#menu_387_root .level0 a {
				background: url(_entreprendre.png) no-repeat;
				}
				#menu_387_root .level0 .currentree { background: #207CD4; color: #fff; }
				
			#menu_388_root .level0 a {
				background: url(_se_divertir.png) no-repeat;
				}
				#menu_388_root .level0 .currentree { background: #854F47; color: #fff; }																												



	/* sous rubriques */
	#menu5 li.level1  { border-bottom: 1px solid #fff; }
	
	#menu5 .level1 .current_node {
		padding: 3px 10px 3px 20px;
		font-weight: bold;
		font-size: 1em;
		margin: 0 5px 0 0;
		}
	
	#menu5 .level1 a {
		height: 1%;
		display: block;
		padding: 3px 10px 3px 20px;
		margin: 0 5px 0 0;
		text-align: left;
		border: 0;
		}
		#menu5 .level1 a:hover { text-decoration: none; }
					
			#menu_382_root .level1 a {
				background: #C1EACA;
				color: #000;
				}
				#menu_382_root .level1 a:hover { background: #20C45E; color: #fff; }
				
				#menu_382_root .level1 .current_node { background: #20C45E; color: #fff; }
			
			#menu_6681_root .level1 a {
				background: #FFD4ED;
				color: #000;
				}
				#menu_6681_root .level1 a:hover { background: #FF6299; color: #fff; }
				
				#menu_6681_root .level1 span.current_node { background: #FF6299; color: #fff; }
			
			#menu_384_root .level1 a {
				background: #C7E3EC;
				color: #000;
				}
				#menu_384_root .level1 a:hover { background: #5399B2; color: #fff; }
				
				#menu_384_root .level1 span.current_node { background: #5399B2; color: #fff; }
			
			#menu_385_root .level1 a {
				background: #FED9A8;
				color: #000;
				}
				#menu_385_root .level1 a:hover { background: #FFB220; color: #fff; }
				
				#menu_385_root .level1 span.current_node { background: #FFB220; color: #fff; }
			
			#menu_386_root .level1 a {
				background: #C9E987;
				color: #000;
				}
				#menu_386_root .level1 a:hover { background: #86BD16; color: #fff; }
			
				#menu_386_root .level1 span.current_node { background: #86BD16; color: #fff; }
			
			#menu_387_root .level1 a {
				background: #C2CFFF;
				color: #000;
				}
				#menu_387_root .level1 a:hover { background: #207CD4; color: #fff; }
				
				#menu_387_root .level1 span.current_node { background: #207CD4; color: #fff; }
			
			#menu_388_root .level1 a {
				background: #E6C58C;
				color: #000;
				}
				#menu_388_root .level1 a:hover { background: #854F47; color: #fff; }
				
				#menu_388_root .level1 span.current_node { background: #854F47; color: #fff; }				
		
		/* sous sous rubriques */
		#menu5 li.level2  { display: inline;}
		
		#menu5 .level2 span.current_node {
			padding: 3px 10px 3px 32px;
			font-weight: bold;
			color: #000;
			margin-right: 5px;
			border: 0;
			background: none;
			}
			
			#menu5 .level2 .currentree { background: none; color: #000; }

	
		#menu5 .level2 a {
			display: block;
			padding: 2px 10px 2px 32px;
			color: #767A73;
			text-align: left;
			border: 0;
			}
			#menu5 .level2 a:hover { color: #fff; }
				#menu5 .level2 a span { }	


			#menu_382_root .level2 a {
				background: #C1EACA url(menu_gauche1_puce.png) no-repeat 25px 7px;
				color: #000;
				}
				#menu_382_root .level2 a:hover { background: #20C45E; color: #fff; }
				#menu_382_root .level2 span.current_node {
					background: #C1EACA;
					color: #000;
					line-height: 12px;
					}
					#menu_382_root .level2 .currentree { background: #C1EACA; color: #000; }
			
			#menu_6681_root .level2 a {
				background: #FFD4ED url(menu_gauche1_puce.png) no-repeat 25px 7px;
				color: #000;
				}
				#menu_6681_root .level2 a:hover { background: #FF6299; color: #fff; }
				#menu_6681_root .level2 span.current_node {
					background: #FFD4ED;
					color: #000;
					line-height: 12px;
					}
					#menu_6681_root .level2 .currentree { background: #FFD4ED; color: #000; }
			
			#menu_384_root .level2 a {
				background: #C7E3EC url(menu_gauche1_puceo.png) no-repeat 25px 7px;
				color: #000;
				}
				#menu_384_root .level2 a:hover { background: #5399B2; color: #fff; }
				#menu_384_root .level2 span.current_node {
					background: #C7E3EC;
					color: #000;
					line-height: 12px;
					}
					#menu_384_root .level2 .currentree { background: #C7E3EC; color: #000; }
			
			#menu_385_root .level2 a {
				background: #FED9A8 url(menu_gauche1_puce.png) no-repeat 25px 7px;
				color: #000;
				}
				#menu_385_root .level2 a:hover { background: #FFB220; color: #fff; }
				#menu_385_root .level2 span.current_node {
					background: #FED9A8;
					color: #000;
					line-height: 12px;
					}
					#menu_385_root .level2 .currentree { background: #FED9A8; color: #000; }
			
			#menu_386_root .level2 a {
				background: #C9E987 url(menu_gauche1_puce.png) no-repeat 25px 7px;
				color: #000;
				}
				#menu_386_root .level2 a:hover { background: #86BD16; color: #fff; }
				#menu_386_root .level2 span.current_node {
					background: #C9E987;
					color: #000;
					line-height: 12px;
					}
					#menu_386_root .level2 .currentree { background: #C9E987; color: #000; }
			
			#menu_387_root .level2 a {
				background: #C2CFFF url(menu_gauche1_puce.png) no-repeat 25px 7px;
				color: #000;
				}
				#menu_387_root .level2 a:hover { background: #207CD4; color: #fff; }
				#menu_387_root .level2 span.current_node {
					background: #C2CFFF;
					color: #000;
					line-height: 12px;
					}
					#menu_387_root .level2 .currentree { background: #C2CFFF; color: #000; }
			
			#menu_388_root .level2 a {
				background: #E6C58C url(menu_gauche1_puce.png) no-repeat 25px 7px;
				color: #000;
				}
				#menu_388_root .level2 a:hover { background: #854F47; color: #fff; }
				#menu_388_root .level2 span.current_node {
					background: #E6C58C;
					color: #000;
					line-height: 12px;
					}
					#menu_388_root .level2 .currentree { background: #E6C58C; color: #000; }
				
.current_node { font-weight: bold; }				

		
/* Plus d'infos */
#menu1 {
	margin: 0px 0px;
	background: url(menus_gauche2_bgd.gif);
	}

#menu1 .menu_title {
	display: none;	
	}

#menu1 a {
	display: block;
	margin-left: 10px;
	
	color: #003333;
	padding: 3px 0 3px 0;
	}
	#menu1 a:hover { color: #009933; }


/* FRAME SELECT */
.frame_select {
	position: absolute;
	z-index: 10000;
	top: 34px;
	left: 772px;
	font-size: 0.9em;
	background: none;
	}
	.frame_select .frame_select_title { display: none; }
	
	.frame_select select {
		font-size: 0.9em;
		color: #009963;
		}
	.frame_select .frame_select_bottom { display: none; }
	
/* --------------------------------------------------------------------- MECANIQUE (NE PAS MODIFIER!!!) */

	/* --- DEROULANT --- */
	div.popup_l_menu a,
	div.popup_r_menu a,
	div.popup_t_menu a {
		width:100%;
		height:100%;
		margin:0;
		display:block;
		vertical-align:middle;
		text-decoration:none;
		border: 0px;
		float: none;
		}	
	
/* deroulant haut */
div.popup_t_menu ul {
	list-style:none;
	margin:0;
	vertical-align:middle;
	float: left;
	height:100%;
	_width:7.2em;
	}

div.popup_t_menu ul li {
	list-style:none;
	margin:0;
	position: relative;
	vertical-align:middle;
	}

	div.popup_t_menu ul li ul {
		position:absolute;
		display:block;
		visibility:hidden;
		width:12em;
		}

	div.popup_t_menu ul li ul li {
		width:100%;
		}

		div.popup_t_menu ul li ul li ul {
			top:0;
			left:100.1%;
			}
			
div.popup_t_menu ul li ul { z-index:11; }
div.popup_t_menu ul li ul li ul { z-index:12; }
div.popup_t_menu ul li ul li ul li ul { z-index:13; }
div.popup_t_menu ul li ul li ul li ul li ul { z-index:14; }
div.popup_t_menu ul li ul li ul li ul li ul li ul { z-index:15; }
div.popup_t_menu ul li ul li ul li ul li ul li ul li ul { z-index:16; }			


/* deroulant gauche - deroulant droite */
div.popup_l_menu a,
div.popup_r_menu a {
	padding:0.2em 0.3em;
	}

div.popup_l_menu ul,
div.popup_r_menu ul {
	list-style:none;
	margin:0;
	vertical-align:middle;
	width:100%;
	}

div.popup_l_menu ul li,
div.popup_r_menu ul li {
	list-style:none;
	margin:0;
	position: relative;
	vertical-align:middle;
	width:100%;
	}

	div.popup_l_menu ul li ul
	div.popup_r_menu ul li ul {
		position:absolute;
		display:block;
		visibility:hidden;
		top:0;
		width:12em;
		}

	div.popup_l_menu ul li ul { left:100.1%; }
		
	div.popup_r_menu ul li ul { right:100.1%; }
	
	div.popup_l_menu ul li ul li,
	div.popup_r_menu ul li ul li { width:100%; }

div.popup_l_menu ul li ul, div.popup_r_menu ul li ul { z-index:1; }
div.popup_l_menu ul li ul li ul, div.popup_r_menu ul li ul li ul { z-index:2; }
div.popup_l_menu ul li ul li ul li ul, div.popup_r_menu ul li ul li ul li ul { z-index:3; }
div.popup_l_menu ul li ul li ul li ul li ul, div.popup_r_menu ul li ul li ul li ul li ul { z-index:4; }
div.popup_l_menu ul li ul li ul li ul li ul li ul, div.popup_r_menu ul li ul li ul li ul li ul li ul { z-index:5; }
div.popup_l_menu ul li ul li ul li ul li ul li ul li ul, div.popup_r_menu ul li ul li ul li ul li ul li ul li ul { z-index:6; }

	/* --- DEPLIANT --- */
.inline_v_menu{ width: 100%; }

.inline_v_menu li { text-align: center; font-weight: normal; }

.inline_v_menu dl,
.inline_v_menu dt,
.inline_v_menu dd,
.inline_v_menu ul,
.inline_v_menu li {
	margin:0;
	padding:0;
	list-style-type: none;
	}

.inline_v_menu dt {
	cursor: pointer;
	padding:0.2em 0;
	text-align: center;
	font-weight: bold;
	font-size:1em;
	}

.inline_v_menu li a,
.inline_v_menu dt a {
	text-decoration: none;
	display: block;
	border: 0 none;
	height: 100%;
	}	
	
#menu6.search {
    background:transparent url(g01.gif) repeat scroll 0 0;
    display:block;
    height:29px;
    padding:30px 5px 0 5px;
    width: 168px;
}