body { font-size: 0.8em; page-break-inside : auto; }

#folder_name { margin: 0; padding: 0; border: 0; }
h1 { margin: 0; padding: 0; border: 0; }
h2 { margin: 0; padding: 0; border: 0; }

div#site_title,
div#area_top div.ticker,
div#area_top div.areablock297,
div#area_top div.areablock805,
div#area_top div.areablock377,
div#popup_6,
div#area_bottom,
div#area_bottom .folder_link,
td#pagelayout_left,
td#pagelayout_left div,
td#pagelayout_right,
div#site_header,
div#site_header_relative,
div#site_title,
div#site_image,
.header_img,
div#site_image a img,
div#bypass,
div#bypass ul,
div#bypass ul li,
#searchbox,
.searchblock,
li.search_option,
ul.search_options,
#searchbox .defaultbutton,
#searchbox input,
.search_options input,
div#footer,
div#tipafriend,
div#downloadpdf,
div#historyprevious,
div.popup_l_menu,
div.popup_l_menu ul,
div.popup_l_menu ul li,
div.popup_l_menu ul li ul,
div.popup_l_menu ul li ul li,
div.popup_l_menu a,
div.popup_r_menu,
div.popup_r_menu ul,
div.popup_r_menu ul li,
div.popup_r_menu ul li ul,
div.popup_r_menu ul li ul li,
div.popup_r_menu a,
div.popup_t_menu,
div.popup_t_menu ul,
div.popup_t_menu ul li,
div.popup_t_menu ul li ul,
div.popup_t_menu ul li ul li,
div.popup_t_menu ul li ul li ul,
div.popup_t_menu a,
.inline_v_menu,
.inline_v_menu li,
.inline_v_menu dl,
.inline_v_menu dt,
.inline_v_menu dd,
.inline_v_menu ul,
.inline_v_menu a,
/*div#pagelayout_pathdesign,
div#pagelayout_pathdesign p,
div#pagelayout_pathdesign p a,
*/
div#pagelayout_currentdate,
div#latest_article_list,
div#latest_article_list_title,
div#latest_article_list_articles,
div#latest_article_list_articles p,
div#latest_article_list_articles a,
div.linktool,
div.linktool_bottom,
div.linktool_title,
div.linktool_body,
div.linktool_text,
div.linktool_link,
div.linktool_link a,
div.shortnews,
div.shortnews_bottom,
div.shortnews_title,
div.shortnews_body,
p.shortnews_separator,
p.shortnews,
p.shortnews a,
div#footer,
div#footer a,
div#tipafriend,
div#printpage,
div#historyprevious {
display: none;
visibility:hidden;
height:0;
width:0;
padding:0;
margin:0;
border:none;
}

div#pagelayout_allcontent{
display: block;
margin:0;
padding:0;
background:none;
width: 96% !important;
width: 100%;
}

table#pagelayout_contentstructure { background:none; font-size: 1.2em !important; !font-size: 1.4em !important; font-size: 0.8em; }
td#pagelayout_nodecontent{

}

td#area_middle {
display: block;
border:none;
}

#area_lowtop {
display: block;
border:none;

}

.folder459 td#area_middle,
.folder460 td#area_middle,
.folder461 td#area_middle,
.folder462 td#area_middle {
border:none;
background:none;
}

td#area_middle p,
td#area_middle div,
td#area_middle span
{}

#area_lowtop { display: block; }

#area_middle .user,
#area_left,
#area_ileft,
#area_right,
#area_lowbottom,
#area_bottom,
td#area_left,
td#area_ileft,
td#area_right,
td#area_lowbottom,
td#area_bottom,
#menu5, #menu5 ul, #menu5 li, #menu5 a,
#submenu_9586, #submenu_9586 ul, #submenu_9586 li, #submenu_9586 a,  
#menu6, #menu6 a,
#menu1, #menu1 a,
div.areablock378,
#frame_select_16412
 {
display: none;
visibility:hidden;
height:0;
width:0;
padding:0;
margin:0;
border:none;
}

.areablock297,
.areablock9564 { background:none; size:auto; padding:0;}
.areablock515 { display: inline;   }
div.areablock792 { display: inline;  }
#pagelayout_pathdesign { font-size:0.8em; padding:5px; background: none; height: 100%; }
#pagelayout_pathdesign p { display: inline; padding: 0; }
#pagelayout_pathdesign a { white-space: normal; }
table,td,tr{
page-break-inside : auto; 
}

		#area_lowtop .image_de_presentation .imagecenter {
			float: left; margin: 0 10px 0 0; width: auto; _width: 1%;
			}
			
.elementlist_elementcontent { display: inline; text-align: justify; line-height: 19px; }

/* Images */
	div.imageleft { padding: 0; margin: 0 10px 0 0; overflow: hidden; text-align: center; float: left; }
	div.imageright { clear: both; padding: 0; margin: 0 0 0 30px; _margin: 0 0 0 10px; overflow: hidden; float: right; }
	
	div.object-left {
		margin: 0;
		padding: 0;
		border: 0;
		margin-right: 10px;
		float: left;
		}
		div.object-left div.imageleft { padding: 0; margin: 0; border: 0; text-align: center; }
		div.object-left p { padding: 0; margin: 0; border: 0; }		
		
	div.object-center {
		text-align: center;
		padding: 0 auto; margin: 15px 0; border: 0;
		width: auto;
		}
		div.object-center .content-view-embeddedmedia { margin: 0 auto; }
		div.object-center img { padding: 0; margin: 0; border: 0; }
		div.object-center p { padding: 0; margin: 0 auto; border: 0; }		
				
	div.object-right {
		margin: 0;
		border: 0;
		float: right;
		}
		div.object-right div.imageright { padding: 0; margin: 0; border: 0; }
		div.object-right p { padding: 0; margin: 0; border: 0; }
	
		/* légende photo */
		div.image_infos { clear: both; text-align: center; }
		div.image_infos2 { display: inline; }
		
		.copyright {
			text-align: right;
			color: #000;
			margin: 0; padding: 0;
			font-size: 0.8em;
			}
			.copyright_text {
			text-align: right;
			margin: 0; padding: 0;
			}
			
		.caption {
			text-align: center;
			color: #000;
			font-style:italic;
			margin: 0; padding: 0;
			font-size: 0.8em;
			font-style: italic;
			}
			
		.caption p {
			text-align: center;
			font-style:italic;
			margin: 0; padding: 0;
			}
			
			p { !display: inline; }
			
			.zoom { clear: both; margin-bottom: 20px; }
			
			h1 { background: #ccc; }