/*---------------------------------------------------------------------------------------------
Agefiph | COMMON STYLES
-----------------------------------------------------------------------------------------------*/
body 				{text-align: center; background: #801d86; font-size:12px;font-family: arial, sans-serif;color:#000;}
*  					{margin: 0; padding: 0;}
li					{list-style:none;}
img					{border:none;}
li span				{color:#6e146e; font-weight:bold;}
p span				{font-weight:bold;}
.clear 				{clear: both; height: 0; line-height:0;}
select				{font-size:10px;}
input				{vertical-align:bottom;}
fieldset 			{position:relative; border:none;}
fieldset legend span{position:absolute; left:-100000px; top:-1em; display:block;}
a					{outline:none; color:#000; text-decoration:none;}
a:hover				{text-decoration:underline;}
#cont #content hr	{display:none!important;}
h3 					{font-size:16px;}
#masthead, #mainnav, #context, #lev2, #footer, .btnPrintTop01, .lancerLink, #vosResultats, .btnPrintTop02  {display:none !important; margin:0 !important; padding:0 !important}
#zoom, h2, #printMap, #nav_deconector,.contType03 ul, .contType05 {display:none !important; margin:0 !important; padding:0 !important}
h3, h4{margin:0 !important; padding:10px 0 !important}
/*-----------------------------------------------------------------------------------------------*/
#vosprojet, #handicappesProject, #zoom , #highlightZoom ,
#content, #cont, #vosprojet, #temoi, #hphome, #mastheadForm, #ProInsertionBlocNote, 
#blocDosSpe, #blocNoteCont, #actu, .temoi1column, #contServices, .temoi1columnEmploi, .bgformation02 
{padding:0 !important; margin:0 !important; border:0 none;}
#navAccess, .infoType1{display:none;}
.illus{display:none !important}
#blocDosSpeNewsletterPHSeptembre { width:600px; padding:0}
