
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color:#0052A0;
}

select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color:#0052A0;
}

img {
	behavior:	url("pngbehavior.htc");
}
.fontSize11px{
	font-size: 11px;
}

#imprimable{
	display:none;
}

.bgBleuMoyen{
	background-color:#0052A0;
}

.bgBleuClair{
	background-color:#84ACD1;
}

.bgBleuTresClair{
	background-color:#DBE4F0;
}

.bgBlanc{
	background-color:#FFFFFF;
}

.bgJaune{
	background-color:#FBDD3D;
}

.bgOrange{
	background-color:#FAB56B;
}

.bgVert{
	background-color:#7BC84C;
}

.bgRouge{
	background-color:#F17E6F;
}

.bgBeige{
	background-color:#F7F7DE;
}

h2 {
	display:inline;
	font-weight:normal;
}

h3 {
	display:inline;
	font-weight:normal;
}


.mentions {
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #AAAAAA;
}

.smallGris {
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #9D9D9D;
}

.smallGrisFonce {
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #5A5A5A;
}

.titre{
	font-size:18px;
	color:#0052A0;
}
.titreVert{
	font-size:14px;
	color:#65BB46;
}
.soustitreVert{
	color:#65BB46;
	font-weight: bold;
}
.vert{
	color:#65BB46;
}
.orange{
	color:#FC9338;
}

.jauneFonce{
	color:#CAAC0D;
}

.orangeGras{
	color:#FC9338;
	font-weight: bold;
	font-size: 11px;
}

.orangeGrasGd{
	color:#FC9338;
	font-weight: bold;
	font-size: 14px;
}

.vertGras{
	color:#65BB46;
	font-weight: bold;
	font-size: 11px;
}

.blancGras{
	color:#FFFFFF;
	font-weight: bold;
	font-size: 11px;
}

.blanc{
	color:#FFFFFF;
}

.jauneGras{
	color:#FFAB08;
	font-weight: bold;
	font-size: 11px;
}

.roseGras{
	color:#CB4D8D;
	font-weight: bold;
	font-size: 11px;
}
.rose{
	color:#CB4D8D;
}

.roseGrasSmall{
	color:#CB4D8D;
	font-weight: bold;
	font-size: 9px;
}

.jauneFonceGras{
	color:#F4BA21;
	font-weight: bold;
	font-size: 11px;
}

.roseGrasGd{
	color:#EF3E82;
	font-weight: bold;
	font-size: 14px;
}

.rougeGrasGd{
	color:#D00C24;
	font-weight: bold;
	font-size: 14px;
}

.bordeauGras {
	color: #9f2825;
	font-weight: bold;
}
.noir {
	color:#000000;
}

.gras{
	font-weight: bold;
}

.onglet {
	color: #FFAB08;
	font-weight: bold;
	font-size: 10px;
}

.rouge{
	color:#DF1D35;
}
.rougeGras{
	color:#DF1D35;
	font-weight: bold;
	font-size: 11px;
}

.tableBorderGrise{
	border: 1px solid #B9B9B9;
}
.bgcolorGrise{
	background-color:#B9B9B9
}

A {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #0052A0;
	text-decoration: underline;
}
A:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #0099FF;
	text-decoration: underline;
}

A.lienRose {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #CB4D8D;
	text-decoration: none;
}
A.lienRose:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #E784B6;
	text-decoration: none;
}

A.lienGrisSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #5A5A5A;
	font-weight:normal;
	text-decoration: none;
}
A.lienGrisSmall:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #5A5A5A;
	font-weight:normal;
	text-decoration: underline;
}

A.smallNonSouligne {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #0052A0;
	font-weight:normal;
	text-decoration: none;
}
A.smallNonSouligne:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #0052A0;
	font-weight:normal;
	text-decoration: underline;
}


A.small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #0052A0;
	text-decoration: underline;
}
A.small:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #0099FF;
	text-decoration: underline;
}

A.small2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #0052A0;
	text-decoration: underline;
}
A.small2:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #0099FF;
	text-decoration: underline;
}

A.small2Blanc {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
A.small2Blanc:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #E784B6;
	text-decoration: none;
}
A.small2Rose {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #CB4D8D;
	text-decoration: none;
}
A.small2Rose:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #E784B6;
	text-decoration: none;
}
A.small2Rouge {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #DF1D35;
	text-decoration: underline;
}
A.small2Rouge:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #DF1D35;
	text-decoration: underline;
}

A.small2Orange {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FC9338;
	text-decoration: underline;
}
A.small2Orange:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FC9338;
	text-decoration: underline;
}
A.small2Vert {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #65BB46;
	text-decoration: underline;
}
A.small2Vert:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #65BB46;
	text-decoration: underline;
}

A.small2JauneFonce {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #CAAC0D;
	text-decoration: underline;
}
A.small2JauneFonce:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #CAAC0D;
	text-decoration: underline;
}

A.small2BleuMoyen {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #356FA1;
	text-decoration: underline;
}
A.small2BleuMoyen:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #356FA1;
	text-decoration: underline;
}

A.small2BleuFonce {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #003366;
	text-decoration: underline;
}
A.small2BleuFonce:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #003366;
	text-decoration: underline;
}

A.small2BleuClair {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #84ACD1;
	text-decoration: underline;
}
A.small2BleuClair:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #84ACD1;
	text-decoration: underline;
}

A.lienBlanc {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}

A.lienBlanc:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}

A.lienBlancNonSouligne {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
A.lienBlancNonSouligne:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
A.lienVertNonSouligne {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #0052a0;
	text-decoration: none;
}
A.lienVertNonSouligne:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #76d156;
	text-decoration: none;
}
A.lienVertNonSouligneNoCursor {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #76d156;
	text-decoration: none;
	cursor:default;
}
A.lienVertNonSouligneNoCursor:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #76d156;
	text-decoration: none;
	cursor:default;
}

.small{
	font-size: 10px;
}
.souligne {
	text-decoration:underline;
}
.bordGaucheGris{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #BABABA;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
}

.bordDroitGris{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #BABABA;
}

.bordDroitGaucheGris{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #BABABA;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #BABABA;
}

.bordHautGris{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #BABABA;
}
.bordHautDroitGris{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #BABABA;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #BABABA;
}
.bordHautGaucheGris{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #BABABA;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #BABABA;
}

.bordBasGris{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BABABA;
}

.bordBasDroitGris{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #BABABA;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BABABA;
}

.bordBasDroitGaucheGris{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #BABABA;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BABABA;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #BABABA;
}

.bordBasGaucheGris{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #BABABA;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BABABA;
}

.bordHautBasDroitGris{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #BABABA;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BABABA;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #BABABA;
}

.bordHautDroitGaucheGris{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #BABABA;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #BABABA;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #BABABA;
}

.bordHautBasGris{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BABABA;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #BABABA;
}

.bordsGris{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #BABABA;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #BABABA;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #BABABA;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BABABA;
}

.bordsGrisFonce{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #3A3A3A;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #3A3A3A;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #3A3A3A;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #3A3A3A;
}

.bordsRouge{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #D00C24;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #D00C24;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D00C24;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D00C24;
}

.bordBasVert{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A4DA92;
}

.bordBasVertFonce{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A4DA92;
}

/*
#toto {padding-top:15px;}
#toto2 {width:99%;}
*/
.sousMenuSelectionneOrange{
	font-weight: bold;
	color: #FFFFFF;
	font-size: 11px;

}


.sousMenuNonSelectionne{
	line-height: 19px;
}

.titreRubriqueEnCoursOrangeClair{
	color: #FFD7A7;
	font-weight: bold;
	font-size: 18px;
}

.mauve{
	color:#7688B2;
}
.bleuClair{
	color:#7DA8D5;
}
.bleuFonce {
	color: #003366;
}

.bold{
	font-weight: bold;
}

input {
	color: #0052A0;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 11px;
}

.textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0052A0;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 11px;
}

.checkbox {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 0px;
	font-style: normal;
	line-height: 10px;
	margin: 0px;
	height: 12px;
	width: 12px;
}


.titreRecette{
	background-color:#B3E664;
	color:#5787B8;
	font-size:14px;
	font-weight: bold;
}

.titreRecetteOrange{
	background-color:#FFCC9A;
	color:#5787B8;
	font-size:14px;
	font-weight: bold;
}

.vin {
	background-color:#B8165F;
	color:#FFFBF8;
	font-weight: bold;
	font-size: 11px;
}

.imgBorderVert{
	border-width:1px;
	border-color:#AFE985;
}

.imgBorderBlanche{
	border-width:1px;
	border-color:#FFFFFF;
}

.cursorHand{
	cursor:pointer;
}

.noCursor{
	cursor:default;
}

.titreRubriqueMaliste {
	font-size: 11px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-image: url(maliste_fond_rubrique.gif);
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BABABA;
	height: 27px;
	text-align:left;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
}

.titreSousRubriqueMaliste {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BABABA;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #38468D;
	padding: 2px;
	text-align:left;
}

.affaireMoment{
	color:#5E6EAD;
	font-size:24px;
}
/*
.formnews {
	color: #CB4D8D;
	font-weight: bold;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
*/
/*.soustitre{
	font-size:18px;
	color:#0052A0;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #0051A0;
}
.carnaval_bleu {color: #009FB2}
.carnaval_blanc {color: #FFFFFF}
.produitdumois {color: #FC9338}
.menudumois {color: #60B033}

*/