/******************************************************************************/
/*                 						TX_EOFFRESDEMPLOI						                    */
/******************************************************************************/

.tx-eoffresdemploi-pi1 .erreur {
	color:#ff0000;
	font-weight:bold;
}
.tx-eoffresdemploi-pi1 img.align-bottom {
	vertical-align:bottom;
}
#milieu-milieu .tx-eoffresdemploi-pi1 h3.poste {
	background-color:#c8bb89;
	color:#ffffff;
	padding:3px 8px;
	margin-bottom:10px;
	width:485px;
}
* html #milieu-milieu .tx-eoffresdemploi-pi1 h3.poste {
	width:480px;
}

/******************** Recherche **************************************/
.tx-eoffresdemploi-pi1 .eoffresdemploi_recherche_input {
	margin:5px 0px 10px 0px;
}

.tx-eoffresdemploi-pi1 .eoffresdemploi_recherche_select {
	margin:5px 0px 10px 0px;
}


.tx-eoffresdemploi-pi1 .eoffresdemploi_recherche label {
	display:block;
	float:left;
	width:140px;
}
.tx-eoffresdemploi-pi1 .eoffresdemploi_recherche_submit {
	margin-left:142px;
}
* html .tx-eoffresdemploi-pi1 .eoffresdemploi_recherche_submit {
	margin-left:147px;
}
.tx-eoffresdemploi-pi1 .eoffresdemploi_recherche_submit input{
	background-color:#FFFFFF;
	border:1px solid #7F9DB9;
	cursor:pointer;
	width:auto;
}

#milieu_droite #eoffresdemploi_recherche_input_label{
	width:175px;
}
#milieu_droite .eoffresdemploi_recherche_select select{
	width:175px;
}

* html #milieu_droite .eoffresdemploi_recherche_select select{
	width:180px;
}

*+html #milieu_droite .eoffresdemploi_recherche_select select{
	width:180px;
}


#milieu_droite .eoffresdemploi_recherche_select option{
	width:175px;
}


#milieu_droite .eoffresdemploi_recherche_submit{
	margin-left:35px;
}


* html #milieu_droite .eoffresdemploi_recherche_submit{
	margin-left:30px;
}

*+html #milieu_droite .eoffresdemploi_recherche_submit{
	margin-left:30px;
}

/******************** Liste complète ************************************/
.eoffresdemploi_listecomplete_pagination {
	margin:5px 0 15px 0;
}
.eoffresdemploi_listecomplete_pagination a {
	padding:0 4px;
}
.eoffresdemploi_listecomplete_elements {
	margin:0 0 30px 0;
}
#milieu-milieu .eoffresdemploi_listecomplete_elements a {
	font-weight:normal;
}

#milieu .eoffresdemploi_listecomplete_elements .lien_detail {
	text-align:right;
}
#milieu-milieu .eoffresdemploi_listecomplete_elements .lien_detail a{
	font-weight:bold;
}

.eoffresdemploi_listecomplete_elements h3.poste{
	float:left;
	/*width:100%;*/
	width:520px;
	
	color:#000000;
	background-color:#E3EC8C;

	margin-bottom:10px;
	padding:3px 8px;
}

/******************** Resultat de recherhce ******************************/
.eoffresdemploi_display_pagination {
	margin:5px 0 15px 0;
}
.eoffresdemploi_display_pagination a {
	padding:0 4px;
}
.eoffresdemploi_listecategorie_elements {
	margin:0 0 30px 0;
}
#milieu-milieu .eoffresdemploi_listecategorie_elements a {
	font-weight:normal;
}
#milieu .eoffresdemploi_listecategorie_elements .lien_detail {
	text-align:right;
}
#milieu-milieu .eoffresdemploi_listecategorie_elements .lien_detail a{
	font-weight:bold;
}


.eoffresdemploi_listecategorie_elements h3.poste{
	float:left;
	width:520px;
	
	color:#000000;
	background-color:#E3EC8C;

	margin-bottom:10px;
	padding:3px 8px;
}

/******************** Detail offre ******************************/
#milieu-milieu .eoffresdemploi_detail_offre a {
	font-weight:normal;
}
#milieu .eoffresdemploi_detail_offre .lien_detail {
	text-align:right;
}
#milieu-milieu .eoffresdemploi_detail_offre .lien_detail a{
	font-weight:bold;
}

#milieu .eoffresdemploi_detail_offre .lien_detail a{
	color:#4F7641;
	background-color:inherit;

	font-weight:bold;
	
	text-decoration:none;
	
	border:1px solid #DADADA;
	
	padding:2px 5px;
	
	text-align:center;
}

.eoffresdemploi_detail_offre h3.titre_poste{
	float:left;
	width:100%;
	
	color:#000000;
	background-color:#E3EC8C;

	margin-bottom:10px;
	padding:3px 8px;
}

/******************** Candidature ******************************/


.eoffresdemploi_form_cand fieldset{
	border:0;
	padding:0;
	margin:0;
}
.eoffresdemploi_form_cand legend{
	padding:0;
	margin:0;
}
#milieu-milieu .tx-eoffresdemploi-pi1 .eoffresdemploi_formulairecandidature .eoffresdemploi_form_cand input,
#milieu-milieu .tx-eoffresdemploi-pi1 .eoffresdemploi_formulairecandidature .eoffresdemploi_form_cand select,
#milieu-milieu .tx-eoffresdemploi-pi1 .eoffresdemploi_formulairecandidature .eoffresdemploi_form_cand textarea {
	width:200px;
}
#milieu-milieu .tx-eoffresdemploi-pi1 .eoffresdemploi_formulairecandidature .eoffresdemploi_form_cand input.radio {
	width:30px;
}
.tx-eoffresdemploi-pi1 .eoffresdemploi_candidature_submit {
	margin-left:0;
}
#milieu-milieu .tx-eoffresdemploi-pi1 .eoffresdemploi_formulairecandidature .eoffresdemploi_form_cand input.eoffresdemploi_submit {
	background-color:#FFFFFF;
	border:1px solid #7F9DB9;
	cursor:pointer;
	width:auto;
}
.tx-eoffresdemploi-pi1 .eoffresdemploi_formulairecandidature_indications {
	margin:15px 0;
	background:transparent url(http://www.cg19.fr/fileadmin/template/uploads/media/bg_hr.gif) repeat-x scroll left top;
	padding:15px 0 15px 0;
}
.candidature_field {
	margin: 0 0 10px 0;
}
.etoile {
	color:#ff0000;
	font-weight:bold;
}

.eoffresdemploi_formulairecandidature h1{
	float:left;
	width:100%;
	
	color:#000000;
	background-color:#E3EC8C;

	margin-bottom:10px;
	padding:3px 8px;
}

.eoffresdemploi_formulairecandidature h3.titre_poste{
	float:left;
	width:520px;
	
	color:#000000;
	background-color:#E3EC8C;

	margin-bottom:10px;
	padding:3px 8px;
}

.tx-eoffresdemploi-pi1 .eoffresdemploi_candidature_submit input {
	width:auto;
	
	color:#4F7641;
	background-color:#FFFFFF;
	
	font-weight:bold;
	
	border:1px solid #DADADA;
	
	cursor:pointer;
	
}