/******************************************************************************/
/*                              		PRINT			                                */
/******************************************************************************/

/******************************************************************************/
/*                                 GENERAL			                              */
/******************************************************************************/


body {
	margin: 0 auto;
	padding: 0px 0 0px 0;
	text-align: center;
	background-color: #ffffff;
}

#conteneur {
	margin: 0 auto;
	padding: 0px 0 0px 0;
	width: 961px;
	text-align: left;
	background-color: #ffffff;
	color: #000000;
	text-align: center;
	position: relative;
}

#haut {
	display:none;
	float: none;
	margin: 0;
	padding: 0;
	width: 961px;
	text-align: left;
	background-color: #ffffff;
	height: 175px;
	position: relative;
}

#haut_bandeau{
	display:none;
}

#milieu {
	float: none;
	width: 961px;
	color: #000000;
	background-color: #FFFFFF;
	text-align: left;
	background-image: none;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 15px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
}

*+html #milieu {
	margin-top : 20px;
}

#bas {
	display: none;
}

h1.titre_page {
	padding: 0 0 0 8px;
	background: none;
}


/******************************************************************************/
/*      			HAUT  			                      */
/******************************************************************************/

#haut_bandeau {
	margin: 0;
	padding: 0;
	float: left;
	width: 961px;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
}


/****************************************/

#haut_gauche {
	position: relative;
	float: left;
	width: 195px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 130px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	z-index: 1;
}

.haut_gauche_haut a {
	position: absolute;
	top: 0;
	left: 0;
	float: left;
	width: 210px;
	height: 110px;
	border: 0px;
	z-index: 100;
}

.haut_gauche_haut a img {
	float: left;
	width: 210px;
	height: 110px;
}

.haut_gauche_bas {
	display: none;
}


/***************************************/

#haut_milieu {
	position: relative;
	float: left;
	width: 546px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 105px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	z-index: 10;
}

.haut_milieu_haut {
	margin: 0;
	padding: 0;
	float: left;
	width: 526px;
}

.haut_milieu_haut img {
	float: left;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.haut_milieu_haut span {
	float: left;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.haut_milieu_bas {
	margin: 0;
	padding: 0;
	float: left;
	width: 526px;
}

.haut_milieu_bas_date {
	margin: 0;
	padding: 0;
	float: left;
	width: 170px;
}

.haut_milieu_bas_newsletter {
	margin: -5px 0 0 0;
	padding: 0;
	float: left;
	width: 170px;
}

.haut_milieu_bas_newsletter form {
	margin: 0px 0 0 0px !important;
	margin: 4px 0 0 0px;
	padding: 0px 0 0px 0;
	float: left;
	width: 195px;
	background-image: url(fd_newsletter.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 25px;
}

.haut_milieu_bas_newsletter input {
	margin: 5px 0 0 5px;
	padding: 0px 0 0px 0;
	float: left;
	width: 140px;
	border: none;
	background-color: transparent;
}

.haut_milieu_bas_newsletter input.bouton_submit {
	margin: 5px 0 0 5px;
	padding: 0px 0 0px 0;
	float: left;
	width: 20px;
	border: none;
	background-color: transparent;
	font-weight: bold;
	font-size :0.8em;
}

/***************************************/
#haut_droite {
	display: none;
}

* html #haut_droite {
	display: none;
}

.haut_droite_haut {
	margin: 0;
	padding: 0;
	float: left;
	width: 200px;
}

.haut_droite_milieu {
	float: left;
	width: 180px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.haut_droite_bas {
	margin: 0;
	padding: 0;
	float: left;
	width: 195px;
}


/******************************************************************************/
/*         			MILIEU			                      */
/******************************************************************************/

#milieu_gauche {
	display: none;

}


/***********************************/
#milieu_milieu {
	margin: 0px;
	padding: 0;
	float: none;
	/*width: 456px !important;
	width: 446px;*/
	width:600px;
}

* html #milieu_milieu {
	float: left;
}

*+ html #milieu_milieu {
	float: left;
}

.milieu_milieu_contenu caption {
	display: none;
}

.milieu_milieu_contenu_alaune {
	width: 546px;
	margin: 0px;
	padding: 0;
	float: none;
}

* html .milieu_milieu_contenu_alaune {
	padding-bottom: 15px;
}

*+html .milieu_milieu_contenu_alaune {
	padding-bottom: 15px;
}

.milieu_milieu_contenu_alaune .tx-dcdflvplayer-pi1 {
	display: none;
}

.milieu_milieu_contenu_alaune_titre,
.milieu_milieu_contenu_alaune .csc-header {
	float: left;
	width: 151px;
	background-image: url(fd_alaune.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.milieu_milieu_contenu_alaune .csc-header h1 {
	color: #FFFFFF;
	padding-top: 2px;
	padding-left: 15px;
	padding-right: 0px;
	padding-bottom: 1px;
}

.milieu_milieu_contenu_alaune_contenu {
	float: left;
	width: 550px;
	background-image: url(fd_alaune_milieu.gif);
	background-position: right top;
	background-repeat: repeat-y;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	padding: 0px;
}

.milieu_milieu_contenu_alaune_contenu_image {
	margin: 0px 0 8px 0;
	padding: 0;
	float: left;
	width: 150px;
	border-color: #8AB601;
	border-width: 1px 0 0 1px;
	border-style: solid;
}


.milieu_milieu_contenu_alaune_contenu_texte {
	float: left;
	width: 178px !important;
	width: 198px;
	background-image: url(fd_alaune_haut.gif);
	background-position: right top;
	background-repeat: no-repeat;
	margin: 0 !important;
	margin: 2px 0 2px 0;
	padding: 15px 10px;
}

.milieu_milieu_contenu_alaune_new {
	float: left;
}

.milieu_milieu_contenu_alaune_new .csc-textpic-text {
	float: left;
	width: 178px !important;
	width: 198px;
	background-image: none;
	margin: 0 !important;
	margin: 2px 0 2px 0;
	padding: 15px 10px;
}
/*FL CONTENT - End*/

.milieu_milieu_contenu_alaune_contenu_fd_bas {
	float: none;
	width: 500px;
	background-image: url(fd_alaune_titre.gif);
	background-position: right bottom;
	background-repeat: no-repeat;
	padding: 0px 0px 8px 0px;
}

.milieu_milieu_contenu {
	margin: 0px;
	padding: 0px 0 25px 0;
	float: left;
	width: 800px;
}

* html .milieu_milieu_contenu {
	width: 600px;
}

.milieu_milieu_contenu_2col {
	float: left;
	width: 243px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 28px;
	padding-bottom: 0px;
}

* html .milieu_milieu_contenu_2col {
	width: 248px; 
	padding-right: 20px;
}

.milieu_milieu_contenu_2col_actu {
	width: 243px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 7px;	
}

* html .milieu_milieu_contenu_2col_actu {
	width: 240px;
}

.milieu_milieu_contenu_2col_actu_image {
	margin: 0px 5px 0 0;
	padding: 0;
	float: left;
}

.milieu_milieu_contenu_2col_actu_texte {
	margin: 0;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
}

.milieu_milieu_contenu_3col {
	margin: 0px;
	padding: 0 10px 0 0;
	float: left;
	width: 170px;
}

.milieu_milieu_contenu_3col select {
	background-image: url(fd_3col.png);
	background-repeat: no-repeat;
	background-position: left top;
	border: none;
	padding: 5px 7px 5px 5px;
	width: 170px;
}

.haut_milieu_bas_gauche {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

.fil_arianne {
	float: none;
	width: 100%;
	color: #999999;
	background-color: inherit;
	margin-bottom: 15px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
}

* html .fil_arianne {
	margin-left: 0px;
}

.haut_milieu_bas_droite {
	float: right;
	margin: 0;
	padding: 37px 0 0 0;
	width: 135px;
}

* html .haut_milieu_bas_droite {
	padding: 23px 0 0 0;
}

* + html .haut_milieu_bas_droite {
	padding: 23px 0 0 0;
}

.milieu_milieu_service {
	display: none;
}

.milieu_milieu_service ul.service {
	display: none;
}


/***********************************/

#milieu_droite {
	display:none;
	float: left;
	width: 195px;
	height: 1%;
	margin-top: 0px;
	margin-left: 20px;
	margin-right: 0px;
	margin-bottom: 0px; 
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 0px;
	padding-bottom: 145px;
}

.milieu_droite_contenu {
	float: left;
	width: 195px;
	height: 1%;
	margin: 0;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
}

.milieu_droite_contenu_inter {
	margin: 0px;
	padding: 3px 0 7px 0px;
	float: left;
	width: 185px;
	border-width: 0 0 1px 0;
	border-style: dotted;
	border-color: #000000;
}

.milieu_droite_contenu_inter img {
	padding: 5px 0 5px 0px;
}

#droite_home {
	margin: 0px 0 0 0px;
	padding: 0;
	float: left;
}

#droite_home li {
	margin: 0px 0 0px 0;
	padding: 5px 0 15px 0px;
	list-style-type: none;
	width: 189px;
	float: left;
}

#droite_home li a {
	float: left;
	width: 140px;
	font-weight: bold;
	font-size: 1em;
	list-style-type: none;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
}

#milieu_droite span.thematique {
	display: none;
}

* html #milieu_droite span.thematique {
	height:65px;
}

*+html #milieu_droite span.thematique {
	height:65px;
}

#milieu_droite span.thematique p {
	height: 1%;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 25px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

span.thematique .csc-textpic-intext-left-nowrap {
	float: left;
}

span.thematique .csc-textpic-imagewrap {
	float: left;
}

span.thematique .csc-textpic-image {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 2px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 2px;	
}

.milieu_bottom_banner {
	display: none;
}


/****************   FORMULAIRE    *******************/

.csc-mailform-field {
	width: 100%;
}


.tx-dcdflvplayer-pi1 {
	display: none;
}


* html .tx-rtmeteofr-pi1 {
	visibility: hidden;
}

.eannuaireasso_objet table td {
	background-color: transparent;
}


