/******************************************************************************/
/*            			                  Cartes      	  	                      */
/******************************************************************************/
.tx_dcdgooglemap_map .tx_dcdgooglemap_carto {
	clear: both;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_category {
	font-weight: normal;
	margin-left: 5px;
	float: left;
	display: block;
	width: 30%;
	margin-bottom: 5px;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_category input, 
.tx_dcdgooglemap_map .tx_dcdgooglemap_category label, 
.tx_dcdgooglemap_map .tx_dcdgooglemap_category label img  {
	float: left;
	margin-right: 2px;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_sub_category_description {
	clear: both;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_category_description {
	float: left;
	border-color: #999999;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	display: none;
	z-index: 0;
}

.tx_dcdgooglemap_map .kmllink {
	cursor: pointer;
}

.tx_dcdgooglemap_map .popup_kmllink {
	width: 60%;
	margin-left: 40%;
	text-align: center;
	margin-right: 1px;
	padding: 5px 0px 5px 0px;
	border-color: #000000;
	border-style: solid;
	border-width: 0.5px;
	display: none;
	background-color: #FFFFFF;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_geocoder form, 
.tx_dcdgooglemap_map .tx_dcdgooglemap_direction form {
	padding-top: 10px;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_geocoder form {
	float: right;
	width: 55%;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_direction form {
	float: left;
	width: 43%;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_geocoder form fieldset, 
.tx_dcdgooglemap_map .tx_dcdgooglemap_direction form fieldset {
	border: #273E8E 1px solid;
	padding: 5px;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_geocoder form fieldset label, 
.tx_dcdgooglemap_map .tx_dcdgooglemap_direction form fieldset label {
	display: block;
	text-align: right;
	margin-bottom: 5px;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_geocoder_champs, 
.tx_dcdgooglemap_map .tx_dcdgooglemap_direction_champs {
	position: relative;
	top: -5pt;
	text-align: center;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_direction_from, 
.tx_dcdgooglemap_map .tx_dcdgooglemap_direction_to {
	width: 220px;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_geocoder_address {
	width: 220px;
}

.tx_dcdgooglemap_map .fieldsetlabel {
	font-weight: bold;
	text-align: left;
	top: -10pt;
	left: 15px;
	position: relative;
	background: #FFFFFF;
}
		
.tx_dcdgooglemap_map .tx_dcdgooglemap_category_description img {
	display: block;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_category_description a {
	display: block;
}

/* Bulle */
.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_name {
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 4px;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_title {
	margin-top: 2px;
	margin-bottom: 4px;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_address {
	margin-top: 2px;
	margin-bottom: 4px;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_zip {
	display: inline;
	margin-top: 2px;
	margin-bottom: 4px;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_city {
	display: inline;
	margin-top: 2px;
	margin-bottom: 4px;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_phone {
	margin-top: 2px;
	margin-bottom: 4px;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_email {
	margin-top: 2px;
	margin-bottom: 4px;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_note {
	margin-top: 2px;
	margin-bottom: 4px;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_image {
	margin-top: 2px;
	margin-bottom: 4px;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_img_label {
	text-align: center;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_image .tx_dcdgooglemap_img {
	margin-top: 2px;
	margin-bottom: 2px;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_image .tx_dcdgooglemap_label {
	margin-top: 2px;
	margin-bottom: 2px;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_download {
	margin-top: 2px;
	margin-bottom: 4px;
}

.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_download .tx_dcdgooglemap_file {
	margin-top: 2px;
	margin-bottom: 2px;
}		

.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_learn_more {
	margin-top: 2px;
	margin-bottom: 4px;
}
/* FIN Bulle */

.tx_dcdgooglemap_menu .tx_dcdgooglemap_menu_col {
	font-weight: normal;
	float: left;
	display: block;
	width: 30%;
}

.tx_dcdgooglemap_menu .tx_dcdgooglemap_category {
	margin-top: 10px;
	margin-bottom: 10px;
}
	
.tx_dcdgooglemap_menu .tx_dcdgooglemap_category_lib {
	font-size: 14px;
}

.tx_dcdgooglemap_menu .tx_dcdgooglemap_poi {
	margin-left: 15px;
	margin-top: 10px;
}

.tx_dcdgooglemap_menu .tx_dcdgooglemap_name {
	font-weight: bold;
}

.tx_dcdgooglemap_menu .tx_dcdgooglemap_title {
	padding-top: 3px;
}

.tx_dcdgooglemap_menu .tx_dcdgooglemap_address {
	padding-top: 3px;
}

.tx_dcdgooglemap_menu .tx_dcdgooglemap_zip {
	display: inline;
}

.tx_dcdgooglemap_menu .tx_dcdgooglemap_city {
	display: inline;
}

.tx_dcdgooglemap_menu .tx_dcdgooglemap_phone {
	padding-top: 3px;
}

.tx_dcdgooglemap_menu .tx_dcdgooglemap_email {
	padding-top: 3px;
}

.tx_dcdgooglemap_menu .tx_dcdgooglemap_note {
	padding-top: 3px;
}

.tx_dcdgooglemap_menu .tx_dcdgooglemap_image {
	display: block;
}

.tx_dcdgooglemap_menu .tx_dcdgooglemap_image img{
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}

.tx-dcdgooglemap-pi1{
	float: left;
	/*width: 790px;*/
	height: 500px;
}

#map455{
	position: absolute;
	top: 250px;
}

#map455-tx_dcdgooglemap_category{
	float: right;
	width: 280px;
	font-family: Arial,Helvetica,Verdana,sans-serif,"Courier New";
	font-weight: normal;
	font-size: 0.9em;
}

#map455-tx_dcdgooglemap_category span {
	float: left;
	width: 250px;
}

/* IE6 */
* html .tx-dcdgooglemap-pi1{
	/*width: 700px;*/
}
* html #map455{
	top: 280px;
}
* html #map455-tx_dcdgooglemap_category{
	width: 100px;
}
* html #map455-tx_dcdgooglemap_category span {
	width: 200px;
}

/* IE7 */
*+html #map455{
	top: 270px;
}



#menuCarteCG19{}

#menuCarteCG19 td{
	margin:0px;
	padding:0px;
}

#menuCarteCG19 p{
	margin:0px;
	padding:0px;
}

#menuCarteCG19 a{
	font-weight:normal;
}

#menuCarteCG19 img{
	margin:0px;
	padding:0px;
}

#milieu_milieu {
	width:500px;
}

.milieu_milieu_contenu{
	width:500px;
}