/******************************************************************************/
/*              		 TYPO 				              */
/******************************************************************************/


/**************************************************************************/
/*       	 		GENERAL				          */
/**************************************************************************/

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	color: #090909;
	background-color: #f0efef;
}

h1 {
	font-size: 1.6em;
	color: #090909;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 0 0 3px 0;
	margin: 0;
	font-weight: bold;
}

h2 {
	font-size: 1.3em;
	color: #090909;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 0 0 3px 0;
	margin: 0;
	font-weight: bold;
}

h3 {
	font-size: 1.2em;
	color: #090909;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 0 0 3px 0;
	margin: 0;
	font-weight: bold;
}

h4 {
	font-size: 1.1em;
	color: #090909;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 0 0 3px 0;
	margin: 0;
	font-weight: bold;
}

h5 {
	font-size: 1em;
	color: #090909;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 0 0 3px 0;
	margin: 0;
	font-weight: bold;
}

h6 {
	font-size: 0.9em;
	color: #090909;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 0 0 3px 0;
	margin: 0;
	font-weight: bold;
}

hr {
	height: 1px;
	color: #FFFFFF;
	background-color: #FFFFFF;
	margin: 10px 0;
	padding: 0;
	border-top: 0px solid #000000;
	border-left: 0px solid #000000;
	border-right: 0px solid #000000;
	border-bottom: 1px dotted #000000;
}

p {
	padding: 0 0 3px 0;
	margin: 0;
	font-size: 1em;
}

span {
	font-size: 1em;
}

ul {
	font-size: 1em;
	margin: 0 0 0 15px;
	padding: 0;
}

li {
	font-size: 1em;
	list-style-type: disc;
	list-style-position: outside;
}

a, a:link {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #000000;
	text-decoration: underline;
}

#milieu_milieu a, 
#milieu_milieu a:link {
	color: #4f7641;
	font-weight: bold;
	text-decoration: underline;
}

#milieu_milieu a:hover {
	color: #4f7641;
	text-decoration: underline;
}

table {
	margin: 0;
/*--Cco : Centrer	Automatiquement les tableaux--*/
  margin:0px auto 0px auto;
/*-- --*/
	padding: 0;
	font-size: 1em;
}

tr {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

td {
	margin: 3px;
	padding: 5px;
	font-size: 1em;
}

form {
	display: block;
	margin: 0;
	padding: 0;
}

input, select {
	font-size: 1em;
	line-height: 1.2em;
	color: #090909;
}

img {
	margin: 0;
	padding: 0;
}

a img {
	margin: 0;
	padding: 0;
	border: none;
}

#menu_haut {
	font-size: 0.85em;
	font-weight: bold;
	text-align: center;
}

#menu_haut li a:hover {
	text-decoration: none;
}


/*****************************************************************************/
/**********     HAUT     *****************************************************/
/*****************************************************************************/

#haut label {
	display: none;
}

.haut_milieu_haut p {
	margin: 0;
	padding: 20px 0 0 0;
	float: left;
}

.haut_milieu_bas p {
	margin: 0;
	padding: 0px 0 0 0px;
	float: left;
}

.haut_milieu_bas_newsletter a{
	color:#4F7641;
	font-weight:bold;
	
	text-indent:24px;
}

.haut_droite_haut h2 {
	margin: 0;
	padding: 15px 0 0 15px;
	font-size: 1.2em;
}


/*****************************************************************************/
/**********     MILIEU     ***************************************************/
/*****************************************************************************/

.milieu_milieu_contenu_alaune_titre h1 {
	color: #ffffff;
	padding: 2px 0 1px 15px;
}


.milieu_milieu_contenu_2col h1 {
	font-size: 1.3em;
	border-width: 0px 0px 1px 0px;
	border-style: dotted;
	border-color: #000000;
	padding: 0px 0px 3px 0px;
	margin: 0px 0px 10px 0px;
}

.milieu_milieu_contenu_2col h2 {
	font-size: 1.1em;
	border-width: 0px 0px 1px 0px;
	border-style: dotted;
	border-color: #000000;
	padding: 0px 0px 3px 0px;
	margin: 0px 0px 10px 0px;
}

.milieu_milieu_contenu_2col h3 {
	font-size: 1em;
	padding: 0 0 5px 0;
	margin: 0px 0 0px 0;
}

.milieu_milieu_contenu_3col h2 {
	font-size: 1.1em;
	border-width: 0 0 1px 0;
	border-style: dotted;
	border-color: #000000;
	padding: 0 0 3px 0;
	margin: 0px 0 10px 0;
}

.milieu_milieu_contenu_2col p.actu_date {
	color: #999999;
	background-color: inherit;	
	font-size: 0.7em;
	text-align: right;	
}

h1.titre_page {
	color: #708B1D;
	background-color: inherit;
	background-image: url(puce_titre_page.png);
	background-position: left center;
	background-repeat: no-repeat;	
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 30px;
	padding-right: 0px;
	padding-bottom: 0px;		
}

.milieu_milieu_contenu h2.titre {
	border-width: 0 0 1px 0;
	border-color: #000000;
	border-style: dotted;
	padding: 0 0 3px 0;
	margin: 0 0 15px 0;
}

.milieu_milieu_contenu p {
	padding: 0 7px 3px 7px;
}

.milieu_droite_contenu_inter p {
	padding:3px 10px 3px 10px;
}

.milieu_droite_contenu_inter a {
	font-weight:bold;
}


/*****************************************************************************/
/**********      PIED DE PAGE   **********************************************/
/*****************************************************************************/

#pied_page li a {
	font-size: 0.85em;
	color: #ffffff;
}

#pied_page li a:hover {
	color: #ffffff;
}


/*****************************************************************************/
/**********      WEB TV   ****************************************************/
/*****************************************************************************/

#playlist {
	clear: both;
}


/*****************************************************************************/
/**********      JOB    ****************************************************/
/*****************************************************************************/

.tx-dmmjobcontrol-pi1 input, 
.tx-dmmjobcontrol-pi1 select,
.tx-dmmjobcontrol-pi1 textarea,
.tx-dmmjobcontrol-pi1 .dmmjobcontrol_fileinput {
	border: 1px solid #DADADA;
}

.tx-dmmjobcontrol-pi1 .dmmjobcontrol_submit {
	background-color: #ffffff;
	cursor: pointer;
}

.tx-dmmjobcontrol-pi1 .dmmjobcontrol_search_table {
	margin-bottom: 25px;
}

.tx-dmmjobcontrol-pi1 .dmmjobcontrol_list_table {
	border-collapse: separate;
	margin: 2px;
}

.tx-dmmjobcontrol-pi1 .dmmjobcontrol_list_table th,
.tx-dmmjobcontrol-pi1 .dmmjobcontrol_list_table td {
	padding: 3px 7px;
	margin: 2px;
}


