/*****************************************************

GENERAL

*****************************************************/


/* Fil d'ariane */
#fil_mon_aquitaine{
    background-image:url(bg_fil_mon_aquitaine.gif);
    background-repeat:repeat-x;
    height:24px;
    width:100%;
    font-size:0.7em;
    font-family:verdana,sans serif;
    margin:0 auto;
    padding-top:7px;
}
*:first-child+html #fil_mon_aquitaine{font-size:0.8em;}
* html #fil_mon_aquitaine{font-size:0.8em;}
#fil_G{float:left;}
#fil_D{float:right;}

#fil_mon_aquitaine p{
	font-size:1.3em;
	margin:0;
	padding:0 20px;
}
#lienregion{
    float:right;
}

#fil_mon_aquitaine p a{text-decoration:none;color:#000;}
#fil_mon_aquitaine p a:hover{text-decoration:underline;}

#fil_mon_aquitaine p span.bold{text-decoration:none;font-weight:bold;color:#000;}
#fil_mon_aquitaine p a.bold:hover{text-decoration:underline;}
/* Fin fil d'Ariane */

html {
    position:relative;
}
body
{
    position:relative;
	margin:0 auto;
	padding:0;
	width:1000px;
	background-image:url(bg_global.gif);
	background-position:left top;
	background-repeat:repeat-x;
	background-color:#FFF;
	font-size:62.5%;
}
p{
	font-size:1.1em;
}



a img{
	border:none;
}

a.spip_out{
	font-style:italic;
}

.cacher
{
	display:none;
}


.demi
{
	width:50%;
	float:left;
	padding-top:3px;
}

div#outil_sommaire{
    background-image:none;
    border-left:5px solid #555;
    padding-left:20px;
     margin:15px 0;
}
div#outil_sommaire li{
    margin:0;
    padding:2px 0;
}
div.cs_sommaire{
    float:none;
    margin:0;
    max-height:auto;
overflow:none;
}

/********************  BACKGROUND  ***************/
/*
#page0
{
		background-color:#999;
		background-image:url(images/visu.jpg);
		width:1000px;
		float:left;

		background-repeat:no-repeat;
		font-family:arial,sans serif;
}*/
*+html #page1, *+html #page2, *+html #page3, *+html #page4, *+html #page5, *+html #page6, *+html #page7, *+html #page8, *+html #page9, *+html #page10
{
	padding-bottom:10px;
}

#page1
{
	background-color:#033a61;
	background-image:url(cra1.jpg);
	width:1000px;
	float:left;
	background-repeat:no-repeat;
	font-family:arial,sans serif;
}

#page1 #bandeau{background-image:url(tete1.jpg);}

#page2
{
	background-color:#150909;
	background-image:url(cra2.jpg);
	width:1000px;
	float:left;
	background-repeat:no-repeat;
	font-family:arial,sans serif;
}
#page2 #bandeau{background-image:url(tete2.jpg);}


#page3
{
	background-color:#4067a1;
		background-image:url(cra3.jpg);
		width:1000px;
		float:left;
		background-repeat:no-repeat;
		font-family:arial,sans serif;
}
#page3 #bandeau{background-image:url(tete3.jpg);}


#page4
{
	background-color:#2a3608;
		background-image:url(cra4.jpg);
		width:1000px;
		float:left;
		background-repeat:no-repeat;
		font-family:arial,sans serif;
}
#page4 #bandeau{background-image:url(tete4.jpg);}

#page5
{
	background-color:#34557c;
		background-image:url(cra5.jpg);
		width:1000px;
		float:left;
		background-repeat:no-repeat;
		font-family:arial,sans serif;
}
#page5 #bandeau{background-image:url(tete5.jpg);}

#page6
{
	background-color:#d39c2f;
		background-image:url(cra6.jpg);
		width:1000px;
		float:left;
		background-repeat:no-repeat;
		font-family:arial,sans serif;
}
#page6 #bandeau{background-image:url(tete6.jpg);}

#page7
{
	background-color:#1b3033;
		background-image:url(cra7.jpg);
		width:1000px;
		float:left;
		background-repeat:no-repeat;
		font-family:arial,sans serif;
}
#page7 #bandeau{background-image:url(tete7.jpg);}


#page8
{
	background-color:#6d8a21;
		background-image:url(cra8.jpg);
		width:1000px;
		float:left;
		background-repeat:no-repeat;
		font-family:arial,sans serif;
}
#page8 #bandeau{background-image:url(tete8.jpg);}


/***************   BANDEAU   ***************/

#banniere_hautjp3
{ 
  width:100%;

  background-color: black;
  text-align:center;
  }
#bandeau
{
  color:white;
	padding:10px 0 0 20px;
	height:95px;
	width:980px;
	text-align:right;
	/*background-image:url(images/tete.jpg);*/
	background-repeat:no-repeat;
	margin-top:0px;
	margin-bottom:10px;
}
#bandeau h1
{
	display:none;
}

#bandeau_droit span
{
	color:white;
	font-size:0.8em;
	margin-top:5px;
	margin-right:10px;
}
#bandeau a
{
	color:white;
	font-size:1.1em;
	margin-right:10px;
	text-decoration:none;
}
#bandeau a:hover
{
	text-decoration:underline;
}

#bandeau input[type=text]
{
border:none;
float:left;
margin-left:20px;
padding:5px;
width:240px;
}



.moteur2{
margin-bottom:10px;
margin-top:10px;

}
.moteur{
	margin-top:5px;
}
.moteur label{
	font-size:1.1em;
}



img.loupe
{
	vertical-align:middle;
}

#bandeau_droit
{
	width:450px;
	float:right;
	margin-right:10px;
}

#drapeau{
	height:10px;
}
#drapeau form{
    display:inline;
}
#drapeau form input{
    font-size:0.9em;
}
#drapeau form select{
    font-size:0.9em;
}

#form_recherche{
    width:300px;
    float:right;
    margin-top:15px;
}

#moteur
{
	/*height:25px;	*/
}

#case
{
		height:20px;
		margin-right:30px;
}

#logo
{
	width:80px;
	height:80px;
	float:left;
}
#logo a
{
	width:80px;
	height:80px;
	float:left;
}

#logo img
{
	border:none;
}



/*****************    BLOC GENERAL   **************/



#pub{
	padding:10px 0 0 0;
	margin-top:20px;
	margin-bottom:20px;
	width:180px;

	text-align:center;
	float:left;
}
*+html #pub{margin-top:17px;}
* html #pub{margin-top:20px;}

#footer{
	float:left;
	width:1000px;
	height:60px;
	background-color:white;
	border-top:1px solid #E4E4E3;
}

/****************************************************

TYPO GENERAL

******************************************************/
#article p a {
	color:#3861A2;
	text-decoration:none;
}
#article p a:hover {
	text-decoration:underline;
}
#article select{
	font-size:1em;
}
#article a{
	/*font-size:0.8em;*/
	color:#3861A2;
	text-decoration:none;
}
#article a:hover{
	text-decoration:underline;
}
#article fieldset{
	margin:10px 0;
}



#pub p
{
	font-size:1.1em;
	color:white;
	margin:0;
	text-align:center;
	padding-top:2px;
	padding-bottom:3px;
}
* html #footer p{padding-top:10px;}
*:first-child+html #footer p{padding-top:10px;}
#footer p
{
	font-family:arial, sans serif;
	color:#686868;
	font-size:1.1em;
	text-align:center;
	padding-right:20px;
	line-height:1.7em;
}
#footer a
{
	color:#686868;

}
#footer a:hover
{
	text-decoration:overline underline;


}


.transparent{
	background-image:url(test.png);
	margin-bottom:1px;
	padding:5px 10px;
}
.transparent:after {
    content: ".";
    display: block;
    height: 0;
    text-indent: -5000px;
    visibility: hidden;
    clear: both;
}
* html .transparent {
    height: 1%;
}
*:first-child+html .transparent {
    min-height: 1px;
}
/***************************************************

BLOC HOME

***************************************************/

#col_1{
	float:left;
	margin-left:20px;
	margin-right:20px;
	width:200px;
}

* html #col_1{
	margin-left:10px;
}

h2.plan_home{
	color:white;
	font-size:1.4em;
	margin-top:0;
	margin-left:0px;
	display:inline;
	background-color:#0B6EB7;
	padding:3px 6px;
}

ul.plan_home
{
	margin-top:5px;
	color:white;
	list-style:none;
	line-height:19px;

	padding-left:5px;
	margin-bottom:10px;
	margin-left:0;
	z-index:10;
}

ul.plan_home li{
	margin:0;
	padding:0;
}

ul.plan_home li a
{
	color:white;
	text-decoration:none;
	font-size:1.2em;
}
ul.plan_home li a:hover
{
	text-decoration:underline;
}


#col_2{
	float:left;
	width:540px;
	margin-bottom:20px;
}

#evenement h3{
	color:white;
	padding:0;
	margin:5px 0 5px 0;
	font-size:1.2em;
}
#evenement img{
	border:2px solid white;
}
#evenement p{
	color:white;
	padding:0;
	margin:7px 0 6px 0;
	font-size:1.1em;
	line-height:1.45em;
}
#evenement p a{
	color:white;
}
#evenement p a:hover{
	text-decoration:none;
}


#col_21{
	width:260px;
	float:left;
	margin-right:20px;
}
#col_22{
	width:260px;
	float:left;
}




h2.actu
{
	margin-bottom:0px;
	margin-top:0px;
	background-image:url(bg_titre_home.jpg);
	color:#3F3F3F;
	font-size:1.4em;
	padding:3px 0px 3px 20px;
}

#actu{
	margin-bottom:20px;
}

#actu h3
{
	background-image:url(puce_blanche.png);
	background-repeat:no-repeat;
	background-position:0px 3px;
	font-size:1.2em;
	margin:0;
	padding:0px 10px 0px 15px;

	color:white;
	clear:both;

}

#actu img.tonus{
	border:2px solid white;
}

#actu p{
	font-size:1.1em;
	margin-left:0px;
	margin-right:0px;
	margin-top:5px;
	margin-bottom:0px;
	padding:0px 0 0px 0;
	color:white;
}




#actu p a{
	color:white;
}
#actu p a:hover{
	text-decoration:none;
}
#actu p span.date{
	color:#888;
}


#actu h4{
	font-weight:normal;
	font-size:1.1em;
	padding:2px 10px 2px 15px;
	margin:1px 0px 0 0px;
	background-image:url(puce_blanche.png);
	background-repeat:no-repeat;
	background-position:0px 3px;
}
#actu h4 a{
	color:white;
	text-decoration:none;
}
#actu h4 a:hover{
	text-decoration:underline;
}

#actu p.gauche{
	margin-top:10px;
	width:60px;
	float:left;
	text-align:left;
	padding-bottom:0;
}
#actu a.droite{
	float:right;
	color:white;
	text-decoration:underline;
}
#actu a.gauche{
	color:white;

	text-decoration:underline;
}

#actu a.gauche:hover, #actu a.droite:hover{
text-decoration:none;

}

* html #actu p{
	margin-bottom:0;
	padding-bottom:0;
}

#bouton_info{
	background-image:url(bouton_info.gif);
	background-repeat:no-repeat;
	width:260px;
	height:49px;
	display:block;
	margin-top:20px;
}
#bouton_perso{
	background-image:url(bouton_perso.gif);
	background-repeat:no-repeat;
	width:260px;
	height:49px;
	display:block;
	/*margin-bottom:20px;*/
	margin-top:20px;
}


.bref ul{
	margin:0;
	padding:0;
	list-style:none;
}
.bref ul li{
	padding:3px 10px;
}
.bref ul li a{
	color:#aaa;
	text-decoration:none;
	font-size:1.1em;
}
.bref ul li a:hover{
	text-decoration:underline;
}


#col_3{
	float:left;
	margin-left:20px;
	width:180px;
}
* html #col_3
{
	margin-right:5px;
}
#col_3 a img{
	margin-top:10px;
}




#dossier{
	width:100%;
	float:left;
}
#dossier h2{
	background-color:#D64A0D;
	color:white;
	margin-bottom:0px;
	margin-top:20px;
	font-size:1.4em;
	padding:3px 0px 3px 20px;
}

#dossier h3{
    color:white;
    font-size:1.2em;
    margin:5px 0;
    float:left;
    width:300px;
}

#dossier p{
	margin:0px;
	padding:0px;
	color:white;
	float:left;
	width:300px;
	line-height:1.4em;
}
#dossier p a{
	color:white;
}
#dossier p a:hover{
    text-decoration:none;
}

#dossier img{
    float:left;
    margin:5px 10px 5px 0;
    border:2px solid white;
    width:200px;
}



.bloc_lien_direct{
	margin-bottom:1px;
}

.bloc_lien_direct h3
{
	background-color:#95A529;
	font-size:1.3em;
	color:white;
	margin-top:1px;
	margin-bottom:1px;
	padding:5px 10px 4px 10px;
	cursor:pointer;
}


.bloc_lien_direct2 h3 a
{
  color:white;
  text-decoration:none;
}
  
.bloc_lien_direct_active h3{
	background-image:url(lien_direct_home.jpg);
	background-repeat:no-repeat;
	background-position:left bottom;
	height:20px;
	cursor:default;
}
.bloc_lien_direct ul{
	background-color:transparent;
	font-size:1.1em;
	padding:0;
	list-style-image: none;
	list-style-type:none;
	margin:0;
	line-height:1.4em;
}
.bloc_lien_direct ul li{
	margin-bottom:1px;
	background-color:#E1E7C4;
	padding:3px 10px;
}
.bloc_lien_direct ul li a{
	color:#535E05;
	text-decoration:none;
}
.bloc_lien_direct ul li a:hover{
	text-decoration:underline;
}



/***********   PRESIDENT   ********/

#president_home{
	margin-bottom:20px;
}
#president_home h3{
	background-color:#353131;
	font-size:1.3em;
	color:white;
	padding:5px 10px 0px 10px;
	margin-bottom:0;
	margin-top:0;
	height:3em;
	cursor:pointer;
}
#president_home ul{
	background-color:transparent;
	font-size:1.1em;
	padding:0;
	list-style-image: none;
	list-style-type:none;
	margin:0;
	line-height:1.4em;
}
#president_home ul li{
	margin-bottom:1px;
	background-color:white;
	padding:3px 10px;
}
#president_home ul li a{
	color:#797971;
	text-decoration:none;
}
#president_home ul li a:hover{
	text-decoration:underline;
}


/************  PRESSE ************/


#presse_home{
	margin-bottom:20px;
	margin-top:20px;
}
#presse_home h3{
	background-color:#A2709F;
	font-size:1.3em;
	color:white;
	padding:5px 10px 4px 10px;
	margin-bottom:0;
	margin-top:0;
cursor:pointer;
	height:17px;
}
#presse_home ul{
    background-image:url(presse_home.jpg);
	background-repeat:no-repeat;
	background-position:left top;
	background-color:transparent;
	font-size:1.1em;
	padding:3px 0 0 0;
	list-style-image: none;
	list-style-type:none;
	margin:0;
	line-height:1.4em;
}
#presse_home ul li{
	margin-bottom:1px;
	background-color:#E2CEE1;
	padding:3px 10px;
}
#presse_home ul li a{
	color:#7A4077;
	text-decoration:none;
}
#presse_home ul li a:hover{
	text-decoration:underline;
}


/*************************************************

TYPO HOME

*************************************************/

span.image{
	float:left;
	margin-right:8px;
}
span.image img{
    border:2px solid white;
}

#actu h3.emploi{


	padding:0;
	margin:0;
}
#actu h3.emploi a{
	text-decoration:none;
	color:#414141;
	background-color:#EEEEEE;
	padding:10px;
	display:block;
}
#actu h3.emploi a:hover{
	background-color:#E1E1E1;

}



/**********************************************

En image

***********************************************/

#enImage{
	background-color:#2C2C2C;
	margin-top:20px;
	width:100%;
}
#enImage dl.spip_documents{
	margin:0;
}
#enImage h2{
	background-color:#D70965;
	color:white;
	margin-top:0px;
	font-size:1.4em;
	padding:3px 20px;
	margin-bottom:0px;
}

#enImage h3{
        background-color:#2C2C2C;
	color:white;
        margin-top:3px;
        font-size:1.2em;
        padding:3px 8px;
        margin-bottom:0px;
}


#enImage .menu_vid ul{
margin:0;
padding-left:30px;
  color:#FFFFFF;                  
}
#enImage .menu_vid ul li{
	list-style-image:url(puce_video.png);
	border-bottom:1px solid #323232;
	padding:3px 10px 3px 0px;
}

#enImage .menu_vid ul li a{
	color:#969696;
	font-size:1.1em;
	text-decoration:none;
}
#enImage .menu_vid ul li a:hover{
	text-decoration:underline;
}
#enImage .menu_vid p
{
  margin:0;
  padding:3px 10px;
  text-align:right;

}
#enImage .menu_vid p.spip{
   text-align:left;
   padding:10px;

}
#enImage .menu_vid a.tous{
    color:#FFFFFF;
    text-decoration:underline;
}
#enImage .menu_vid a.tous:hover{
    text-decoration:none;
}

/*********************************************

PAGE CONTENU

*********************************************/
.fil{color:white;font-size:1.2em;padding:0 0 0 20px;margin-top:0;}
.fil a{color:white;text-decoration:none;}
.fil a:hover{text-decoration:underline;}
#colpage_1{
	float:left;
	margin-bottom:20px;
	margin-left:20px;
	margin-right:20px;
	width:200px;
	display:inline
}

#colpage_2
{
	float:left;
	width:540px;
}

#article
{
	margin:2px 0px 20px 0px;
	padding:5px 20px 10px 20px;
	background-color:white;
	min-height:745px;
	font-size:1.2em;
    float:left;
    width:500px;
}
* html #article{
	height:745px;
}
*:first-child+html #article{

}

#colpage_2 h2.titre_institutionnel{
    color:white;
    background-color:#0B6EB7;
    padding:5px 20px;
    font-size:1.4em;
    margin: 0;
}
#colpage_2 h2.titre_aquitaineTV{
    color:white;
    background-color:#D70965;
    padding:5px 20px;
    font-size:1.4em;
    margin: 0;
}
#colpage_2 h2.titre_president{
    color:white;
    background-color:#353131;
    padding:5px 20px;
    font-size:1.4em;
    margin: 0;
}

h3.sous_titre{
    background-color:white;
    color:#0B6EB7;
    padding:10px 10px 3px 20px;
    font-size:1.4em;
    margin:2px 0 0 0;
}
h3.sous_titre:after {
    content: ".";
    display: block;
    height: 0;
    text-indent: -5000px;
    visibility: hidden;
    clear: both;
}
* html h3.sous_titre{
    height: 1%;
}
*:first-child+html h3.sous_titre{
    min-height: 1px;
}


span.outils{
    float:right;
    margin-right:0px;
}
span.outils a{
    text-decoration:none; 
}


#colpage_2 h2.titre_actu{
    color:#3F3F3F;
    background-image:url(bg_titre_home.jpg);
    padding:5px 20px;
    font-size:1.4em;
    margin: 0;
}
#article ul.liste_actu{
    list-style:none;
}
#article ul.liste_actu li{
    padding:10px 0 5px;
    margin:5px 0;
    border-top:1px solid #888;
    color:#888;
}
#article ul.liste_actu li span.date{
    color:black;
}
#article ul.liste_actu li a{
    color:#0B6EB7;

}
#colpage_2 h2.titre_emploi{
    color:white;
    background-color:#c62813;
    padding:5px 20px;
    font-size:1.4em;
    margin: 0;
}
#presse h2.titre_presse{
	background-color:#8D6B8B;
	color:white;
	 padding:5px 20px;
    font-size:1.4em;
    margin: 0;
}
#presse h3.sous_titre{

     background-color:white;
    color:#8D6B8B;
    padding:5px 20px;
    font-size:1.4em;
    margin:2px 0 0 0;
}
#presse #article select{
	width:350px
}
#colpage_2 h2.titre_lien_direct{
	background-color:#95A529;
	color:white;
	 padding:5px 20px;
    font-size:1.4em;
    margin: 0;
}

#article h3.soustitre_images{
    border-bottom:1px solid #555;
    color:#555;
    margin-top:20px
}
/*
#article h3{
    color:#0B6EB7;
}
#article h4{
	margin-bottom:0;
	margin-top:10px;
	font-size:1.2em;
	color:#555;
}

#article h6{
	margin-top:0;
	margin-bottom:0;
	font-size:1.2em;
	color:#555;
}
*/
#article p{
    margin-top:5px;
	color:#555;
}

#article p.annonce{
    font-weight:bold;
}

p.spip{
	color:#555;
}
.chapo p.spip{
	font-size:1.2em;
	color:#555;
	font-weight:bold;
}
.chapo{
	color:#555;
	font-weight:bold;
	margin:10px 0;
}

.ps{
    background-color:#ececec;
    margin-bottom:15px;
    padding:10px;
}
/*
#article h5{
	margin-top:0;
	margin-bottom:0;
	padding:5px 10px;
	font-size:1.2em;
	color:#FFF;
	background-color:#8D6B8B;
}
*/
#article p.presse{
	margin-top:0;
	margin-bottom:0;
	padding:2px 10px;
	font-size:1.1em;
	color:#FFF;
	background-color:#8D6B8B;
	text-align:right;
}
#article p.presse a{
	color:#FFF;
}

#article ul{
	margin-bottom:1px;
    padding-left:0;
    margin-top:1px;
    color:#555;
}
#article li{
	margin-top:1px;
	margin-left:20px;
    padding:2px 10px;
    font-size:1em;
    color:#555;
}
#article li a{
	color:#555;
}

#presse #article ul{
	margin-bottom:1px;
	list-style-image:none;
	list-style-type:none;
    padding-left:0;
    margin-top:1px;
    margin-left:0;
}

#presse #article li{
	background-color:#EEE;
	margin-top:1px;
	margin-left:0;
    padding:2px 10px;
    font-size:1.1em;
    color:#8D6B8B;
}

#colpage_3{
	float:left;
	width:180px;
	margin-left:20px;
}

#presse{
	float:left;
    width:100%;
}



.zone p a{
	font-size:0.9em;
	color:#8D6B8B;
	text-decoration:underline;
}
.zone p a:hover{


	text-decoration:underline overline;
}
.zone a{
	text-decoration:none;
}
.zone a img{
	margin-top:0px;
	margin-bottom:5px;
	margin-left:0px;
	margin-right:6px;
	padding:0;

}
a.ag img{
	margin-top:10px;
}
.zone p{
	margin:5px 0;
	font-size:0.7em;
}
.zone p span{
	font-size:1em;
	font-weight:bold;
	text-decoration:none;
}
.pagination {
	text-align:center;
	margin:10px 0;
}
h2 select{float:right;margin-top:-25px;}
#presse #article textarea{
	width:380px;
	border:1px solid #8D6B8B;
	background-color:#E4D9E3;
}
#presse input[type=text]{
	border:1px solid #8D6B8B;
	background-color:#E4D9E3;
}
#presse #article h3{
	color:#8D6B8B;
	margin:10px 0 0 0;


}

#presse fieldset{
	border:2px solid #8D6B8B;

}
* html #presse fieldset{padding-left:10px;}
*+html #presse fieldset{padding-left:10px;}


span.spip_form_label_obligatoire{
	font-size:0.8em;
	color:#c33f3f;
}
span.spip_form_label_details{
	font-size:0.7em;
}
#article p.spip_form_ok{
  font-size:1em !important;
  font-weight:bold;
  color:white;
}

/*********************************************

TYPO CONTENU

*********************************************/
h3{
	color:#086bad;
}

h3.spip{
	color:#555;
	margin-left:0;
    padding:0px;
	text-align:left;
    /*background-color:#e8e8e8;*/
    font-size:1.4em;
}
h3.spip a{
    padding-right:5px;
}
h4.spip{
    font-family:arial, sans serif;
    font-size:1.3em;
    font-weight:bold;
    color:#086bad;
    margin-left:20px;
}
h5.spip{
     color:#086bad;
    margin-left:30px;
    font-family:arial, sans serif;
    font-size:1.2em;
    font-weight:normal;

}
.caractencadre-spip{
    color:#8c0726;
}
.texteencadre-spip{
    border:1px solid #ccc;
    background-color: #f1f1f1;
    padding:10px;
    color:#555;
    font-weight:normal;
}
.spip_documents_left {
	margin-top:5px;
}
p.spip a{
	text-decoration:none;
	color:#3861A2;
	/*font-weight:bold;*/
}
p.spip a:hover{
	text-decoration:underline;
}
#presse a{
	color:#555;
	text-decoration:none;
}
#presse a:hover{
	text-decoration:underline;
}
#presse p.presse a{
	color:white;
}

#colpage_2 h2
{
	background-color:white;
	padding:10px 20px 10px 20px;
	color:#3861A2;
	margin:0;
	font-size:2em;
}
#colpage_2 h2 small{
	font-size:0.8em;
}
#colpage_2 h2 span.date{
	font-size:0.8em;
	color:#777;
}


#colpage_2 p.spip
{

}


/*********   MENU  ******************/



li.menu
{
	/*background-color:#0B6EB7;*/
	font-size:1.4em;
	margin-bottom:3px;
}

#colpage_1 #menu2 ul ul ul li a.on{
	font-weight:bold;

}
#colpage_1 #menu2 ul ul li a.on{
	font-weight:bold;

}
#colpage_1 #menu2 ul
{
	font-size:1em;
	margin:0;
	padding:0;
	list-style-image:none;
	list-style-type:none;
}
#colpage_1 #menu2 ul li span{
    background-color:#0B6EB7;
	padding:3px 5px;
}
#colpage_1 #menu2 ul li a
{
	/*margin-left:10px;*/
	line-height:1.75em;
	color:white;
	font-weight:bold;
	text-decoration:none;
	outline:0;
}

#colpage_1 #menu2 ul ul{
	font-size:0.85em;
	margin:0;
	padding:0;
}
#colpage_1 #menu2 ul ul li
{

}
#colpage_1 #menu2 ul ul li a
{
	color:white;
	text-decoration:none;
	font-weight:normal;
	line-height:1.7em;
	outline:0;
	margin-left:5px;
	/*background-image:none;
	padding-left:0px;*/
}

#colpage_1 #menu2 ul ul ul{
	margin:0;
	padding:5px 10px 5px 0px;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	margin:5px 0 5px 5px
}
#colpage_1 #menu2 ul ul ul li{
	margin:0;
	padding:0 0 0 13px;
	background-image:url(puce_blanche.png);
	background-repeat:no-repeat;
	background-position:left 3px;
}


*+html #colpage_1 #menu2 ul ul ul li{
	margin:0 0 0 2px;
	padding-left:15px;
	background-position:left 12px;
	font-size:1.15em;
}
* html #colpage_1 #menu2 ul ul ul li{
	background-position:left 12px;
	padding-left:17px;
	font-size:1.15em;
}

#colpage_1 #menu2 ul ul ul li a
{
	background-image:none;
	padding-left:10px;
	color:white;
	text-decoration:none;
	font-size:1.05em;
	margin-left:-10px;
	line-height:1.8em;
}
*+html #colpage_1 #menu2 ul ul ul li a
{
	padding-left:11px;
	margin-left:-17px;
}
* html #colpage_1 #menu2 ul ul ul li a
{
	padding-left:11px;
	margin-left:-17px;
}

#colpage_1 #menu2 ul ul ul li span
{
	padding-left:10px;
	color:white;
	text-decoration:none;
	font-size:1.05em;
	margin-left:-10px;
	line-height:1.8em;
	background-color:transparent;
}


form p.archives{
	text-align:right;
}

#colpage_1 #menu2 ul li.vie span
{
	font-size:1.4em;
	margin-bottom:2px;
	margin-top:15px;
	background-image:url(bg_titre_home.jpg);

}
#colpage_1 #menu2 ul li.vie a{
	color:#3F3F3F;
}
#colpage_1 #menu2 ul li.vie{
    margin-bottom:3px;
}

#colpage_1 #menu2 ul li.tv span
{
	font-size:1.4em;
	margin-bottom:2px;
	background-color:#D70965;

}
#colpage_1 #menu2 ul li.tv a{
	color:white;
}
#colpage_1 #menu2 ul li.tv{
    margin-bottom:3px;
}

a.carteAq{
    margin:25px;
    float:left;
}


/****************************************

TOOLTIP

****************************************/
#tooltip {
	background-color: #fff;
	font-family: Arial, sans serif;
	padding: 5px;
}
#tooltip h3, #tooltip p { margin: 0; }

#tooltip.fancy {
	border: none;
	width: 210px;
	padding:20px;
	height: 135px;
}
#tooltip.fancy h3 {
	margin-bottom: 0.75em;
	font-size: 1em;
	width: 220px;
	text-align: center;
}
#tooltip.fancy p { width: 220px; text-align: left; }

#yahoo { }
#right, #right2 { text-align: right; }
#tooltip.right { width: 250px; }

/***********************************************

AGENDA

***********************************************/
div.anoter {
  padding:5px;
  border-style:solid;
  border-color:#555;
  border-width:2px;
}
div.anoter p.spip{
	color:black;
	font-weight:bold;
	text-align:center;
	padding-top:15px;
}
td.anoter {
	color:#555;
	padding-left:40px;
}
td.anoter p{
	color:#555;

	padding-left:25px;
}
td.anoter abbr.dtstart{
	color:black;
	background-image:url(tick.png);
	background-repeat:no-repeat;
	padding-left:25px;
}
#tete_agenda h2{
	color:black;
	background-color:white;
}
#newsletter{
	margin-bottom:20px;
    background-color:#EAEAEA;
    padding:10px;
	color:#888;
	margin-top:10px;
}

a.desabon{
margin-top:5px;
font-size:0.8em;
color:#3861A2;
float:right;
}

#newsletter div{

}
#newsletter p{
	font-size:0.9em;
	margin-bottom:0px;
	margin-top:0px;
}
#newsletter input[type=submit]{
	border:1px solid #bbb;
	background-color:white;
	margin-left:5px;
	color:#888;
}
#newsletter input[type=text]{
	width:130px;
	border:1px solid #bbb;
	color:#888;
	padding:0 5px;
}
p.pied_agenda{
	font-style:italic;
	text-align:center;
	font-weight:bold;
	padding-top:20px;
	border-top:1px solid #555;
}
p.pied_agenda_contact{
	text-align:center;
	padding-top:10px;
}
#agenda_anoter{
	font-size:1em;
	color:#555;
	border:1px solid #555;
	padding:10px;
	margin-bottom:20px;
}
#agenda_anoter strong{
	font-size:0.8em;
	color:#555;
}

span.mois_droit
{
	 font-size:1.2em;
	 font-weight:bold;
	  color:#555;
}
span.nom_jour_droit
{
	 font-weight:bold;
	  color:#AAA;
}
span.jour_droit
{
 font-size:2.7em;
 font-weight:bold;
 color:#555;
}
span.nom_jour
{
	 font-size:0.8em;
	 font-weight:bold;
	  color:#AAA;
}
span.legerG
{
 font-size:1em;
	 color:#AAA;
	float:left;
}
span.legerD
{
 font-size:1em;
	 color:#AAA;
	 float:right;
}
span.jour
{
 font-size:2.5em;
 font-weight:bold;
 color:#555;
}
span.agenda-multidates
{
	 font-size:1.5em;
	 font-weight:bold;
	  color:#555;
}
span.mois
{
	 font-size:1em;
	 font-weight:bold;
	  color:#555;
}
table.agenda
{
font-size:1em;
}
td.separator
{
text-align:center;
width:120px;
}
td.lieux
{
	padding:0 20px;
	text-align:right;
	width:100px;
	vertical-align:top;
}
td.lieux abbr.dtstart{border:none;}
td.lieux span{
	font-size:0.7em;
}
td.titre_droit
{
	font-size:1.2em;
	font-weight:bold;
	text-align:left;
	width:250px;
	vertical-align:top;
}
td.titre
{
	font-weight:bold;
	text-align:left;
	width:330px;
	vertical-align:top;
	font-size:0.9em;
}
td.agendatitre
{
	font-weight:bold;
	text-align:left;
	width:330px;
	vertical-align:top;
	font-size:0.9em;
}
hr{
	border:3px solid #EEE;
}

table{
	font-size:0.8em;
}
#form_abo_presse table{
	font-size:1em;
}

#form_abo_agenda input{
	border:1px solid black;
}
span.erreur{
	color:#C33F3F;
  font-style:italic;
}
div.erreur{
	color:#DFB626;
}
h3 span{
	float:right;
	/*margin-top:-15px;*/
}

/***************************************************

ELU

*****************************************************/
#elu{
	width:470px;
	margin:15px;
	background-image:none;
	font-family:arial, sans serif;
}
#block_elu img{
	margin:0 10px 10px 0;
}
#block_elu h2{
	font-size:1em;
}
#block_elu h3{
	font-size:1em;
	color:#555;
	border-bottom:1px solid #555;
}
#block_elu ul{
	font-size:0.8em;
}
#block_elu p{
	font-size:0.8em;
}
table{
		font-family:arial, sans serif;
}

/*****************  FORM de contact ********************/

#article textarea{
	width:470px;
}
.form_3 input[type=text]{
	width:470px;
}
.form_3 fieldset{
	border:none;
	padding:0;
}
.form_3 legend{
	display:none;
}

.form_4 input[type=text]{
	width:470px;
}
#article .form_4 li{
margin-left:5px;
color:black;
}
span.erreur{
	color:#C33F3F;
	font-weight:bold;
	font-size:0.8em;

float:left;
font-size:0.8em;

padding-bottom:20px;
width:470px;
}




/****************  COMMENTAIRE  ************/
#commentaire{
    margin-top:10px;
}
.commentaire{
	margin-bottom:10px;
	background-color:#DAE3F0;
	padding:10px;
	color:#555;
}
.commentaire .auteur{
    font-weight:bold;
}
.commentaire .sujet{
    font-weight:bold;
}
.commentaire .date{
    font-weight:bold;
}
.commentaire .com_dev{
    margin-top:5px;
}

#commentaire h2{
	margin-left:0;
	padding-left:0;
	font-size:1em;
}
.repondre{
	font-size:0.9em;
}

a.elu{
	font-size:0.8em;
}

.spip_form_champ {
	margin-top:5px;
	margin-bottom:10px;
}
.spip_form_champ ul{
	list-style-type:none;
}

/**Recherche**/
#formulaire_tous input{
	border:1px solid black;
}

#formulaire_tous{
  color:#555555;
  font-size:0.8em;
  margin-left:20px;
  margin-top:1px;
  padding:2px 10px;
}

#colpage_2 .sans_resu h2{
    padding-left:0;
    padding-right:0;
}
#colpage_2 .sans_resu h3{
    color:#3861A2;
}
#colpage_2 .sans_resu form{
    font-size:1em;
    margin:0;
    padding:0;
}
#colpage_2 .sans_resu form input{
    margin-left:150px;
    margin-top:10px;
}

/*********************************************

Emploi

*********************************************/

#article ul.emploi{
	list-style-type:circle;
	margin-left:20px;
	margin-top:30px;
	margin-right:20px;
}
#article ul.emploi li.emploi{
	margin-left:0px;
	padding-left:0;

	border-bottom:1px solid #BBBBBB;

margin-top:10px;
padding-bottom:10px;
}
#article ul.emploi li.emploi a{

color:#3861A2;

}

ul.emploi li span.desc{
	margin-left:30px;
	color:black;
}
/*
a.lien_emploi{
background-image:url(images/bourse_emploi.jpg);
width:180px;
height:55px;
float:left;
margin-top: 20px;
}
*/
#lien_emploi{
    margin-top:20px;
    display:block;
    background-color:#c62813;
    color:white;
    padding:10px 25px;
    background-image:url(puce_blanche.png);
    background-repeat:no-repeat;
    background-position:10px 12px;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

#rendre_compte {
    margin-top:20px;
    display:block;
    background-color:#95A529;
    color:white;
    padding:10px 25px;
    background-image:url(puce_blanche.png);
    background-repeat:no-repeat;
    background-position:10px 12px;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

#lien_emploi:hover{
    cursor:pointer;
}
a.lien_droite{
	float:right;
}


/*************   LISTE VIDEO  **************/

ul.video{

}

#article ul.video li{
    list-style:none;
    
    background-color:#efefef;
    padding:10px;
    margin:5px 0 5px;
    
    
}
#article ul.video li h3{
	color:#484848;
	margin:0 0 10px;
}


#article ul.video li img.spip_logos{
	float:left;
	margin-right:15px;
}
#article ul.video li a{
   text-decoration:underline;
}
#article ul.video li a:hover{
   text-decoration:none;
}

#article ul.video li:after{
    content: ".";
    display: block;
    height: 0;
    text-indent: -5000px;
    visibility: hidden;
    clear: both;
}
*:first-child+html #article ul.video li{
    min-height: 1px;
} 
* html #article ul.video li{
    height: 1%;
}

p.flash_error{
	border:1px solid #bbb;
	font-size:1.2em;
	padding:20px;
}

/**************   TOUS LES SITES   *****************/

#article #toc{
    list-style:none;
    border-left:5px solid #555;
    padding-left:0px;
    margin:15px 0;
    
}
#article #toc li{
    margin:0;
}
#article #toc li a{
color:#3861A2;
}

#annuaire h3{
    color:white;
    background-color:#95A529;
    padding:5px 10px;
    font-size:1.1em;
    margin:30px 0 10px;
}
#annuaire h4{
    border-bottom:1px solid #555;
    font-size:1.2em;
}
#annuaire ul{
    margin:0;
    list-style:none;
}
#annuaire ul li{
   margin:0;
   padding-left: 0;
}
#article #annuaire a{
color:#3861A2;
}
#annuaire a.retour{
    display:block;
    margin-bottom:15px;
    margin-top:15px;
    text-align:right;
}


.spip_forms{
    border:none;
}


#tooltip {
	position: absolute;
	z-index: 3000;
	padding:5px;
	background-color:#fff;
	border: 1px solid #555;
}
#tooltip h3, #tooltip div { margin: 0; }



div.doc{
    padding:10px;
    /*border-bottom:1px solid #555;*/
    background-color:#EEEEEE;
    margin-bottom:15px;
    float:left;
    width:475px;
    font-size:1.1em;
}

div.doc p{
    font-size:0.8em;
}



div.doc img{
margin-right:15px;

}
div.doc a.doc{
    float:left;
    font-size:1.1em;
}

/****  JOURNAL  ********/

.lien_journal{
    padding:15px;
    float:left;
    margin-top:20px;
}
.lien_journal h3{
    margin:0 0 10px;
    padding:0;
    color:white;
    font-size:1.3em;
}

.article_journal{
    background-color:#eee;
    margin-top:10px;
    padding:15px;
}
.titre_journal{
    float:left;
}
.titre_journal h3{
    color:#494949;
    text-align:center;
    margin-bottom:0px;
}
.titre_journal p{
    color:#494949;
    text-align:center;
	font-size:0.8em;
}
#article .sommaire_journal p.dl a{
    color:#494949;
    text-decoration:underline;
	text-align:center;
}
#article .sommaire_journal p.dl a:hover{
    text-decoration:none;
}
#article .sommaire_journal p.dl{
    margin:20px 0 0;
}
#article .titre_journal p{
    text-align:center;
    margin-bottom:0;
}
.sommaire_journal{
    margin-left:170px;
    font-size:0.8em;
}

.sommaire_journal strong.caractencadre-spip{
  color: #005B90;
                                             }

/* TCHAT */

.messinvite, .messvisiteur {
    margin:10px 0;
    padding:10px 5px;
    font-size:0.9em;
}
.messinvite p.spip, .messvisiteur p.spip {
    font-size:1em;
}
.messinvite {
    color: #656565;
    border:1px solid #b8baad;
}
.messvisiteur {
    color: black;
}


/* FORMULAIRE */

#article ul.spip_form_choix_unique{
    width:auto;
}

#article .spip_forms fieldset {
    border:1px solid #CCCCCC;
}



.article_journal:after{
    content: ".";
    display: block;
    height: 0;
    text-indent: -5000px;
    visibility: hidden;
    clear: both;
}
*:first-child+html .article_journal{
    min-height: 1px;
} 
* html .article_journal{
    height: 1%;
}
