
/* CSS Document */

/*----------- générique -----------------*/
* {margin:0;padding:0;}
img{margin:0px;padding:0px;border:none;}
p{margin:0px;padding:10px 0px 0px 0px;}
ul{margin:0px;padding-bottom:5px;padding-top:5px;}
li{margin:0px;padding:0px;}
div{margin:0px;padding:0px;}
form{margin:0px;padding:0px;}
select{margin:0px;padding:0px;}
input{margin:0px;padding:0px;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
div{position:relative;}
span{padding:0px;margin:0px;}
table.plain td{padding:8px;}
table.listing td{padding:8px;}
table.data td{padding:8px;}
/*----------- /générique -----------------*/

/************************************************************************************/
/********************************** Modèle ******************************************/
/** Définition de la hauteur du document HTML **/
html{height:100%;}

/** Mise en forme du corps de la page **/
BODY {
	margin-left:0px; 
	margin-top:0px; 
	margin-bottom:0px;
	background:url('fond_bord_ext.jpg');
	background-color:#FFFFFF;
	height:100%;
}

.fond_logo{
	background:#71B3D1;
/*	height:200px;  */
	width:156px;
	padding-bottom:5px;
	height:100%;
}

/** Mise en forme des colonnes gauche et droite **/
.colonne {
	width:156px;
	background-color:#E9E8E1;
	margin-top:0px;
	vertical-align:top;
}

/** Mise en forme des titres d'entete **/
.titre {
	/*background:url('/lenya_univ/universite/live/img/picto_univ.gif') no-repeat 0px 2px; */
	padding-left:13px; 
	padding-top:0px; 
	height:17px; 
	vertical-align:middle; 
	color:#FFFFFF; 
	font-family:Arial, Georgia, 'Times New Roman', Times, serif; 
	font-size:12px; 
	font-weight:bold; 
}

.titre_gauche {
	padding-left:10px; 
	padding-top:0px;
	height:17px; 
	vertical-align:middle; 
	color:#FFFFFF; 
	font-family:Arial, Georgia, 'Times New Roman', Times, serif; 
	font-size:12px; 
	font-weight:bold; 
}

/** Mise en forme des champs textes des zones de formulaires **/
.champ {
 	font-family:Arial, Georgia, "Times New Roman", Times, serif;
	font-size:11px;
	color:#000000;
	background-color:#FFFFFF;
	border: 1px #7F9DB9 solid;
 	height:20px;
	padding:0px;
	margin:0px;
	width:95px;
}

/** Mise en forme des infos sur le documents - Auteur et modification **/
.infopage {
	font-size:10px;
	font-style: italic;
	text-align:right;
}
		

/** Fond d'entete de couleur vert **/
.bg_vert {
	background:url('haut_site_etudiant.gif');
	height:4px;
}

/** Fond d'entete de couleur rouge **/
.bg_rouge {
	background:url('haut_vous_etes.gif');
	height:4px;
}

/** Fond d'entete de couleur orange **/
.bg_orange {
	background:url('haut_recherche.gif');
	height:4px;
}

/** Fond d'entete de couleur bleu **/
.bg_bleu {
	background:url('haut_site.gif');
}

.bg_jaune {
	background:url('haut_biblio.gif');
}

.bg_bleu_gauche {
	background:url('haut_site_universite.gif');
	height:4px;
}
/** Alignement à gauche **/
.gauche {
	float:left;
}

/** Alignement à droite **/
.droite{
	float:right;
}

/*************** Haut de page *************/
.menu_h_haut {
	float:left;
	padding-top:3px;
	background-color:#71B3D1;
}
/** Mise en forme du menu de haut de page **/
.sep_menu_haut {
	background:url('separation_menu_haut.gif') repeat-x;
	font-family:Arial, Georgia, "Times New Roman", Times, serif;
	font-size:9px;
	color:#FFFFFF;
	text-align:right;
	padding-top:3px;
	padding-right:10px;
	letter-spacing:1px;
}

/** Mise en forme des liens hypertextes du menu de haut **/
a.menu_haut {
	color:#FFFFFF;
}

/** Classe pour la mise en majuscule **/
.upper {
	text-transform:uppercase;
}

/** Mise en forme de la ligne de séparation des blocs d'entetes **/
.pixel_blanc {
	background:url('pixel_blanc.gif');
}

/** Mise en page des zones formulaires **/
.zone_formu {
	height:25px;
	position:relative;
}

/** Mise en page du bouton du bouton Recherche **/
.bt_recherche {
	padding-top:5px;
	padding-left:5px; 
}


/*************** /Haut de page *************/

/*************** Colonne de gauche *********/

/** Couleur de fond des entêtes verts foncés. (Ex : Site Etudiant, Newsletter) **/
.fond_vert_tt {
	background-color:#506C3B;
}

/** Couleur de fond vert pale. (Ex : Newsletter) 
.fond_vert {
	background:#A3B695 url('/lenya_univ/universite/live/img/picto_fond_vert.gif') no-repeat right 30px;
} **/

.fond_vert {
        background:#A3B695;
}

/** Couleur de fond des entêtes bleus clairs. (Ex : Site SCD) **/
.fond_bleu_clair_tt {
	background-color:#6EB8D3;
}

/** Couleur de fonc en-tÃte gris **/
.fond_gris_tt {
	background-color:#7D7D7D url('picto_fond_gris')  no-repeat right 30px;
	
}

/** Mise en page des liens hypertexte du menu de la colonne de gauche **/
.menu_g {
	background:url('fleche_noire.gif') no-repeat 10px 5px;
	padding-left:20px; 
	white-space:normal;
	width:125px;
}

/** Mise en forme des liens hypertextes de la colonne de gauche **/
.menu_g_lien {
	color:#000000; 
	padding-top:0;
	margin-top:0;
	font-family:Arial, Georgia, 'Times New Roman', Times, serif; 
	font-size:11px;
}

.menutitle, .menutitle_actif {
/*cursor:pointer;*/
color:#FFFFFF;
padding:4px;
font-family:Arial, Georgia, "Times New Roman", Times, serif;
font-size:10px;
background:#AFABA6 url('filet_gris.gif') repeat-x 0px 0px;
}

.menutitle_actif{background:#807C7C url('filet_gris.gif') repeat-x 0px 0px;}


.submenu, .submenu_ouvert {
/*margin-bottom: 0.5em;*/
background-color:#C7C2BB;
color:#FFFFFF;
}
.submenu_lien {
	background:url('fleche_grise.gif') no-repeat 10px 5px;
	padding-left:20px;
	font-family:Arial, Georgia, "Times New Roman", Times, serif;
	font-size:11px;
}

.submenu_lien_actif {
	background:url('fleche_noire.gif') no-repeat 10px 5px;
	padding-left:20px;
	font-family:Arial, Georgia, "Times New Roman", Times, serif;
	font-size:11px;
}

.submenu_lien a {
	color:#FFFFFF;

}

.submenu_lien_actif {font-weight:bold;color:#FFFFFF;}
.submenu_lien_actif a{font-weight:bold;color:#807C7C;}
/*.submenu_lien_actif a:hover{text-decoration:none;}*/

.fond_bleu {
	background-color:#C6C5E5;
}

.fond_bleu_tt {
	background-color:#007DC3;
}
.fond_jaune {
	background-color:#ECD6BF;
}

.fond_jaune_tt {
	background-color:#F98E3D;
}


/*************** /Colonne de gauche *********/

/*************** Colonne centrale **********/
/** Mise en forme du contenu d'un bloc de Contenu **/
#col_centre {
	background:url('fond_scd.gif');
}

.contenu{
	font-family:Arial, Georgia, "Times New Roman", Times, serif;
	color:#606060;
	font-size:11px;
	text-align:justify;
	padding-left:2px;
}

/*.contenu h1{
    background-image:url('/lenya_univ/universite/live/img/picto_vague_bleu.gif');
    padding-left:33px; 
    background-position:8px;
    background-repeat:no-repeat; 
    font-family:Arial, Helvetica, sans-serif; 
    color:#00B0ED; 
    font-size:22px;
    font-weight:bold;
    text-align:left;
}*/

.contenu h1 {
	background:url('picto_vague_bleu.gif') 8px 4px no-repeat;
	padding:0 0 0 35px;
	font:bold 22px arial;
	color:#3399cc;
	text-align:left;
	padding-bottom:20px;
	}

.contenu h2 {
	color:#3300cc;
	text-align:left;
	font-size:16px; 
	}

.contenu div {
	padding-bottom:20px;
	}
/** Mise en forme de la ligne de séparation en pointillé **/
.sep_contenu{
	vertical-align:bottom;
	background:url('pixel_noir.gif') repeat-x;
	padding-top:1px;
}

/** Mise en forme de l'affichage de la date de création de la news **/
.contenu_date{
	font-family:Arial, Georgia, "Times New Roman", Times, serif;
	color:#807C7C;
	font-size:9px;
}

div.text-image-i-right{float:right;margin:0px 0px 8px 8px;}
div.text-image-i-left{float:left;margin:0px 8px 8px 0px;}
.clear{clear:both;font-size:1px;}

/** Positionnement de l'image miniature d'un bloc texte de la partie centrale **/
.img_contenu {
	padding-right:8px;
}

/* Mise en forme de la roadline */
#roadline {
	color:#807C7C;
	font-size:11px;
	font-family:Arial, Georgia, "Times New Roman", Times, serif;
	padding-bottom:10px;
}
#roadline a {
	color:#9FBECB;
	font-size:11px;
	font-family:Arial, Georgia, "Times New Roman", Times, serif;
}

/*************** /Colonne centrale *********/

/*************** Colonne de droite *********/
/** Mise en forme de l'espace de sélection des Langues **/
.langage {
	background-color:#E9E8E1;
	height:21px; 
	padding-top:10px;
	width:156px;
	text-align:center;
}

/** Mise en forme du texte de la colonne de droite ayant pour couleur de texte le rouge et avec une puce **/
.menu_d_r {
	background:url('fleche_rouge.gif') no-repeat 20px 5px;
	padding-left:31px; 
	white-space:normal;
	width:125px;
	line-height:16px;
}

/** Mise en forme du texte de la colonne de droite ayant pour couleur de texte l'orange et avec une puce **/
.menu_d_o {
	background:url('fleche_orange.gif') no-repeat 20px 5px;
	padding-left:31px; 
	padding-top:5px;
	white-space:normal;
	width:125px;
	position:static;
	line-height:16px;
}

/** Mise en forme du texte de la colonne de droite ayant pour couleur de texte le noir et avec une puce **/
.menu_d_b {
	background:url('fleche_noire.gif') no-repeat 20px 5px;
	padding-left:28px; 
	padding-top:0px;
	white-space:normal;
	width:114px;
	position:static;
	line-height:14px;
}

/** Mise en forme du texte de la colonne de droite ayant pour couleur de texte le vert **/
.menu_d_v {
	/*color:#506C3B;*/
	color:#000000;
	padding-left:30px;
	font-family:Arial, Georgia, 'Times New Roman', Times, serif; 
	font-size:11px;
}

/** Mise en forme des liens affichés dans la colonne de droite **/
.menu_d_lien {
	color:#FFFFFF; 
	padding-top:0;
	margin-top:0;
	font-family:Arial, Georgia, 'Times New Roman', Times, serif; 
	font-size:11px;
}

/** Couleur de fond rouge vif d'entete. (Ex : Vous Etes ou Identification) **/
.fond_rouge_tt {
	background-color:#D71726;
}

/** Couleur de fond de rubrique rouge pal (Ex : Vous Etes ou Identification) **/
.fond_rouge {
	background:#ECCFB4 url('picto_fond_rouge.gif') no-repeat right bottom;
}

/** Couleur des liens hypertextes rouge vif (Ex : Vous Etes ou Identification) **/
.lien_rouge {
	color:#D71726;
}

/** Couleur de fond orange vif d'entête (Ex : Rechercher) **/
.fond_orange_tt {
	background-color:#F0A937;
}

/** Couleur de fond de rubrique orange pale (Ex : Rechercher) **/
.fond_orange {
	background:#ECE4AE url('picto_fond_orange.gif') no-repeat right bottom;
}

/** Couleur des liens hypertextes orange vif (Ex : Rechercher) **/
.lien_orange {
	color:#F0A937;
}

/** Couleur des liens hypertextes noir **/
.lien_noir {
	color:#000000;
}

/** Couleur de fond foncé d'entete (Ex : Agenda) **/
.fond_bleu_fonce {
	background-color:#02629C;
}

/** Couleur de fond de rubrique grise (Ex : Agenda) **/
.fond_gris {
	background:#E9E8E1 url('picto_fond_gris.gif') no-repeat right 50px;
	height:150px;
}

/** Mise en forme des titres de la rubrique Agenda **/
.agenda_contenu_tt {
	font-weight:bold;
	font-family:Arial, Georgia, "Times New Roman", Times, serif;
	color:#000000;
	font-size:12px;
	white-space:normal;
}
/** Mise en forme des informations de la rubrique agenda **/
.agenda_contenu {
	font-family:Arial, Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	white-space:normal;
	color:#606060;
}
/** Mise en page de la partie Agenda : création des espaces gauche et droit du texte **/
.agenda_mise_en_forme {
	margin:0px 10px 0px 30px;
}

/*************** /Colonne de droite ********/

/*************** Pied de Page **************/
/** Création des marges et mise en forme du bloc "Coordonnées de l'Université" **/
.info_univ_mise_en_page {
	margin:0px 15px 0px 15px;
	font-family:Arial, Georgia, "Times New Roman", Times, serif;
	font-size:9px;
}

/* Mise en forme de la barre de navigation présente en bas du site */
.nav_bas {
	padding-left:90px;
	padding-right:66px;
	text-align:justify;
	font-family:Arial, Georgia, "Times New Roman", Times, serif;
	font-size:9px;
	color:#807C7C;
}

/* Mise en forme des liens de la barre de navigation en bas du site */
.nav_bas_lien {
	font-family:Arial, Georgia, "Times New Roman", Times, serif;
	font-size:9px;
	color:#807C7C;
}
/*************** /Pied de Page *************/

/********************************** /Modele ****************************************/
/***********************************************************************************/
