/* header bandeau common */
#header_banner_text1 .structure_left,#header_banner_text1 .structure_center,#header_banner_text1 .structure_right{font-size:6px;}
#header_banner_main{clear:both;height:104px;}

#header_banner_main_logo,#header_banner_main_pub{position:relative;}
#header_banner_main_logo{z-index:10;}
#header_banner_main_logo{float:left;}
#header_banner_main_logo img{position:absolute;top:7px;}

#header_banner_main_pub{z-index:11;}
#header_banner_main_pub img.pub{position:absolute;left:164px;top:7px;}
#header_banner_main_pub img.avertissement{position:absolute;left:892px;top:7px;}

/* quick access */
#header_quick_access_unfolded .sepa{height:1px;margin:5px 0 5px 0;display:block;border-bottom:1px solid #e6e6e6;font-size:0;padding:0;}
#header_quick_access_unfolded .part1{background:url(bloctop-top.gif) no-repeat;height:26px;font-size:1px;}
#header_quick_access_unfolded .part1 a {display:block;margin-top:7px;margin-right:5px;height:8px;width:51px;background:url(fermer.png) no-repeat;float:right;cursor:pointer;}
#header_quick_access_unfolded .part1 a:hover {display:block;margin-top:7px;margin-right:5px;height:8px;width:51px;background:url(fermer-hover.png) no-repeat;float:right;cursor:pointer;}
#header_quick_access_unfolded .part2{padding:0;margin:0;background:#fff;border:1px solid #fff;font-size:11px;font-weight:700;color:#333030;}

#header_quick_access_unfolded .block_abstract{padding-bottom:15px;}
.header_quick_access_unfolded_block_footer .structure_left{width:12px;height:26px;background:url(structure_left.png) no-repeat;}
.header_quick_access_unfolded_block_footer .structure_center{width:972px;height:26px;background:url(structure_center.png) repeat-x;}
.header_quick_access_unfolded_block_footer .structure_right{width:12px;height:26px;background:url(structure_right.png) no-repeat scroll 100% 100%;}
#header_quick_access_unfolded .block_footer .link_n2{margin-right:10px;}
#header_quick_access_unfolded .part3{width:996px;height:29px;background:url(bloctop-bottom.png) no-repeat;}
#header_quick_access_unfolded .bloctop_cols{padding-left:4px;width:987px;}
/* webradios */
#header_quick_access_unfolded .bloctop_col1{width:325px;padding:0 25px 0 0;display:block;float:left;border-right:1px solid #e6e6e6;}
#header_quick_access_unfolded .bloctop_col2{width:245px;padding:0 0 0 60px;display:block;float:left;}
#header_quick_access_unfolded .floatlogo{float:left;display:block;margin:0 20px 0 0;}
#header_quick_access_unfolded .en_ce_moment{float:left;display:block;margin:0;width:140px;}
#header_quick_access_unfolded .artistetxt{font-size:11px;font-weight:700;color:#333030;display:block;height:10px;width:144px;}
#header_quick_access_unfolded .titretxt{font-size:10px;color:#333030;}
#header_quick_access_unfolded .radiotxt{font-size:11px;color:#5a2723;display:block;width:140px;}
#header_quick_access_unfolded .radiomomenttxt{font-size:9px;color:#ff7e00;font-weight:700;}
#header_quick_access_unfolded .radiotitretxt{font-size:10px;color:#333030;font-weight:400;}
#header_quick_access_unfolded .radiotitretxt a{font-weight:700;}
#header_quick_access_unfolded .moment_picto{float:left;display:block;background:transparent url("header.css") 0 0 no-repeat;}
#header_quick_access_unfolded .picto_artiste{width:73px;height:72px;;padding:3px 3px 3px 4px;float:left;display:block;margin:0;background:url(bg-picto-artiste.gif) no-repeat;}
#header_quick_access_unfolded .bt_ecouter a{text-align:center;width:81px;height:20px;display:block;cursor:pointer;margin:0 20px 0 0;background:url(bt-ecouter.png) no-repeat;padding-top:3px;color:#fff;}
#header_quick_access_unfolded .bt_ecouter a:hover{width:81px;height:20px;display:block;cursor:pointer;background:transparent url(bt-ecouter-hover.png) no-repeat;color:#7c0022;}
#header_quick_access_unfolded .bt_fiche_artiste a{width:49px;height:45px;display:block;float:left;cursor:pointer;margin:0 20px 0 0;background:url(bt-fiche-artiste.png) no-repeat;}
#header_quick_access_unfolded .bt_fiche_artiste a:hover{width:49px;height:45px;display:block;float:left;cursor:pointer;background:url(bt-fiche-artiste-hover.png) no-repeat;}
#header_quick_access_unfolded .bt_acheter{width:49px;height:45px;display:block;float:left;margin:0 20px 0 0;background:url(bt-acheter-inactif.png) no-repeat;}
#header_quick_access_unfolded .bt_acheter a{width:49px;height:45px;display:block;float:left;cursor:pointer;background:url(bt-acheter.png) no-repeat;}
#header_quick_access_unfolded .bt_acheter a:hover{width:49px;height:45px;display:block;float:left;cursor:pointer;background:url(bt-acheter-hover.png) no-repeat;}
#header_quick_access_unfolded .bt_dedicacer a{width:49px;height:45px;display:block;float:left;cursor:pointer;background:url(bt-dedicacer.png) no-repeat;}
#header_quick_access_unfolded .bt_dedicacer a:hover{width:49px;height:45px;display:block;float:left;cursor:pointer;background:url(bt-dedicacer-hover.png) no-repeat;}
#header_quick_access_unfolded  .bt_fiche_artiste span,#header_quick_access_unfolded  .bt_acheter span,#header_quick_access_unfolded  .bt_dedicacer span{display:none;}
#header_quick_access_unfolded .block_centre_1000{padding:0 2px;width:996px;} /* largeur raccourci pour les ombrés de côté */
#header_quick_access_unfolded .webradioline{float:left;padding-bottom:10px;}
#header_quick_access_unfolded .part3 .link_n2{margin-right:10px;}
#header_quick_access_unfolded .sample-rating{float:left;margin:0 10px 0 0}

/* emissions */
#header_quick_access_unfolded .part2-emission{padding:0;margin:0;background:#fff;border:1px solid #fff;font-weight:bold;color:#333030;}
#header_quick_access_unfolded .bloctop_col_emission_other{width:318px;padding:0 10px 20px 0;display:block;float:left;}
#header_quick_access_unfolded .bloctop_col_emission_last{width:318px;padding:0 0 20px 0;display:block;float:left;}



/* quick access */
#header_quick_access_unfolded2 .sepa{height:1px;margin:5px 0 5px 0;display:block;border-bottom:1px solid #e6e6e6;font-size:0;padding:0;}
#header_quick_access_unfolded2 .part1{background:url(bloctop-top.gif) no-repeat;height:26px;font-size:1px;}
#header_quick_access_unfolded2 .part1 a {display:block;margin-top:7px;margin-right:5px;height:8px;width:51px;background:url(fermer.png) no-repeat;float:right;cursor:pointer;}
#header_quick_access_unfolded2 .part1 a:hover {display:block;margin-top:7px;margin-right:5px;height:8px;width:51px;background:url(fermer-hover.png) no-repeat;float:right;cursor:pointer;}
#header_quick_access_unfolded2 .part2{padding:0;margin:0;background:#fff;border:1px solid #fff;font-size:11px;font-weight:700;color:#333030;}

#header_quick_access_unfolded2 .block_abstract{padding-bottom:15px;}
.header_quick_access_unfolded_block_footer .structure_left{width:12px;height:26px;background:url(structure_left.png) no-repeat;}
.header_quick_access_unfolded_block_footer .structure_center{width:972px;height:26px;background:url(structure_center.png) repeat-x;}
.header_quick_access_unfolded_block_footer .structure_right{width:12px;height:26px;background:url(structure_right.png) no-repeat scroll 100% 100%;}
#header_quick_access_unfolded2 .block_footer .link_n2{margin-right:10px;}
#header_quick_access_unfolded2 .part3{width:996px;height:29px;background:url(bloctop-bottom.png) no-repeat;}
#header_quick_access_unfolded2 .bloctop_cols{padding-left:4px;width:987px;}
/* webradios */
#header_quick_access_unfolded2 .bloctop_col1{width:325px;padding:0 25px 0 0;display:block;float:left;border-right:1px solid #e6e6e6;}
#header_quick_access_unfolded2 .bloctop_col2{width:245px;padding:0 0 0 60px;display:block;float:left;}
#header_quick_access_unfolded2 .floatlogo{float:left;display:block;margin:0 20px 0 0;}
#header_quick_access_unfolded2 .en_ce_moment{float:left;display:block;margin:0;width:140px;}
#header_quick_access_unfolded2 .artistetxt{font-size:11px;font-weight:700;color:#333030;display:block;height:10px;width:144px;}
#header_quick_access_unfolded2 .titretxt{font-size:10px;color:#333030;}
#header_quick_access_unfolded2 .radiotxt{font-size:11px;color:#5a2723;display:block;width:140px;}
#header_quick_access_unfolded2 .radiomomenttxt{font-size:9px;color:#ff7e00;font-weight:700;}
#header_quick_access_unfolded2 .radiotitretxt{font-size:10px;color:#333030;font-weight:400;}
#header_quick_access_unfolded2 .radiotitretxt a{font-weight:700;}
#header_quick_access_unfolded2 .moment_picto{float:left;display:block;background:transparent url("header.css") 0 0 no-repeat;}
#header_quick_access_unfolded2 .picto_artiste{width:73px;height:72px;;padding:3px 3px 3px 4px;float:left;display:block;margin:0;background:url(bg-picto-artiste.gif) no-repeat;}
#header_quick_access_unfolded2 .bt_ecouter a{text-align:center;width:81px;height:20px;display:block;cursor:pointer;margin:0 20px 0 0;background:url(bt-ecouter.png) no-repeat;padding-top:3px;color:#fff;}
#header_quick_access_unfolded2 .bt_ecouter a:hover{width:81px;height:20px;display:block;cursor:pointer;background:transparent url(bt-ecouter-hover.png) no-repeat;color:#7c0022;}
#header_quick_access_unfolded2 .bt_fiche_artiste a{width:49px;height:45px;display:block;float:left;cursor:pointer;margin:0 20px 0 0;background:url(bt-fiche-artiste.png) no-repeat;}
#header_quick_access_unfolded2 .bt_fiche_artiste a:hover{width:49px;height:45px;display:block;float:left;cursor:pointer;background:url(bt-fiche-artiste-hover.png) no-repeat;}
#header_quick_access_unfolded2 .bt_acheter{width:49px;height:45px;display:block;float:left;margin:0 20px 0 0;background:url(bt-acheter-inactif.png) no-repeat;}
#header_quick_access_unfolded2 .bt_acheter a{width:49px;height:45px;display:block;float:left;cursor:pointer;background:url(bt-acheter.png) no-repeat;}
#header_quick_access_unfolded2 .bt_acheter a:hover{width:49px;height:45px;display:block;float:left;cursor:pointer;background:url(bt-acheter-hover.png) no-repeat;}
#header_quick_access_unfolded2 .bt_dedicacer a{width:49px;height:45px;display:block;float:left;cursor:pointer;background:url(bt-dedicacer.png) no-repeat;}
#header_quick_access_unfolded2 .bt_dedicacer a:hover{width:49px;height:45px;display:block;float:left;cursor:pointer;background:url(bt-dedicacer-hover.png) no-repeat;}
#header_quick_access_unfolded2  .bt_fiche_artiste span,#header_quick_access_unfolded2  .bt_acheter span,#header_quick_access_unfolded2  .bt_dedicacer span{display:none;}
#header_quick_access_unfolded2 .block_centre_1000{padding:0 2px;width:996px;} /* largeur raccourci pour les ombrés de côté */
#header_quick_access_unfolded2 .webradioline{float:left;padding-bottom:10px;}
#header_quick_access_unfolded2 .part3 .link_n2{margin-right:10px;}
#header_quick_access_unfolded2 .sample-rating{float:left;margin:0 10px 0 0}

/* emissions */
#header_quick_access_unfolded2 .part2-emission{padding:0;margin:0;background:#fff;border:1px solid #fff;font-weight:bold;color:#333030;}
#header_quick_access_unfolded2 .bloctop_col_emission_other{width:318px;padding:0 10px 20px 0;display:block;float:left;}
#header_quick_access_unfolded2 .bloctop_col_emission_last{width:318px;padding:0 0 20px 0;display:block;float:left;}


	/* BLOC QUICK ACCESS TYPE 1 */
	.block_quick_access_type1_top .structure_left{width:12px;height:31px;background:url(structure_left.png.1) no-repeat;}
	.block_quick_access_type1_top .structure_center{width:294px;height:31px;background:url(structure_center.png.1) repeat-x;color:#000;}
	.block_quick_access_type1_top .structure_right{width:12px;height:31px;background:url(structure_right.png.1) no-repeat scroll 100% 0;}
	.block_quick_access_type1_top h2{color:#ff7e00;font-size:.8em;font-weight:700;line-height:31px;}
	.block_quick_access_type1_top h2 a{color:#ff7e00 !important;text-decoration:none !important;}
	.block_quick_access_type1_top .bouton_modif{float:right;}

	.content_quick_access_type1{width:294px;padding:6px 9px;border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;}

	.block_quick_access_type1_footer .structure_left{width:12px;height:26px;background:url(structure_left.png.2) no-repeat;}
	.block_quick_access_type1_footer .structure_center{height:26px;background:url(structure_center.png.2) repeat-x;}
	.block_quick_access_type1_footer .structure_right{width:12px;height:26px;background:url(structure_right.png.2) no-repeat scroll 100% 100%;}

	.block_middle_quick_access_border{padding:0 2px;}
	/* FIN : BLOC QUICK ACCESS TYPE 1 */

#header_quick_access{color:#000;background-color:#fff;}
#header_quick_access{background-position:top;}
#header_menu_buttons_inc_unfolded{float:left;padding-left:2px;}
#header_menu_current{width:303px;float:right;margin-right:3px;} /* 391 représente la somme des bloques à l'intérieur et est nécessaire pour IE6 afin que l'alignement à droite s'effectu */
#header_menu_buttons_button_1,#header_menu_buttons_button_2,#header_menu_buttons_button_3,#bouton_haut_3{float:left;}
#header_menu_buttons_inc_unfolded a{display:block;cursor:pointer;text-decoration:none;}
#header_menu_current_music,#header_menu_singer_photo,#header_menu_listen{float:left;}
#header_quick_access .title{font-size:.8em;font-weight:bold;text-align:right;letter-spacing:-1px;text-align:right;}
#header_quick_access .title2{background:url(en-ce-moment.png.1) no-repeat ;height:26px;margin-left:13px;margin-top:2px;}
#header_quick_access .auteur,#header_quick_access .auteur2{font-size:.7em;font-weight:bold;text-align:right;}
#header_quick_access .chanson{font-size:.6em;font-weight:normal;text-align:right;}

#header_quick_access{height:65px;background:transparent url(bande-1.png) repeat-x;}
#header_banner_text1 .structure_left,#header_banner_text1 .structure_center,#header_banner_text1 .structure_right{height:7px;}
#header_banner_text1 .structure_left{width:12px;}
#header_banner_text1 .structure_center{width:976px;}
#header_banner_text1 .structure_right{width:12px;}
#header_menu_buttons{height:65px;}
#header_menu_buttons_button_1 a,#header_menu_buttons_button_2 a,#header_menu_buttons_button_3 a{display:block;height:65px;}
#header_menu_buttons_button_1{width:262px;}
#header_menu_buttons_button_2{margin-left:4px;width:197px;}
#header_menu_buttons_button_3{margin-left:4px;width:217px;}
#header_menu_buttons_button_1 a{background:url(ecouter-webradios.png) no-repeat;}
#header_menu_buttons_button_1 a:hover{background:url(ecouter-webradios_over.png) no-repeat;}
#header_menu_buttons_button_2 a{background:url(podcasts.png) no-repeat;}
#header_menu_buttons_button_2 a:hover{background:url(podcasts_over.png) no-repeat;}
#header_menu_buttons_button_3 a{background:url(histoires-droles.png) no-repeat;}
#header_menu_buttons_button_3 a:hover{background:url(histoires-droles.png) no-repeat;}
#header_menu_current{margin-left:4px;}
#header_menu_current_musique{height:64px;background:transparent url(fond_next_music.png) repeat;}
#header_menu_current_music{width:146px;height:64px;}
#header_menu_buttons .title,.title2{color:#ee6b8d;}
#header_menu_buttons .auteur,.auteur2{color:#000;margin-top:4px;}
#header_menu_buttons .chanson{color:#fff;margin-top:2px;}
#header_menu_current_music p{margin-right:6px;}
#header_menu_singer_photo{width:51px;height:65px;background:url(fond_photo_chanteur.png) no-repeat;}
#header_menu_singer_photo_box{width:45px;height:45px;padding:10px 0 0 3px;}

#header_menu_listen{width:106px;height:65px;}
#header_menu_listen .button-header-listen {margin-left:12px;margin-top:-30px;position:absolute;}
#header_menu_listen a.button-header-ecouter {width:79px;height:91px;display:block;cursor:pointer;background:url(listen_bouton.png) no-repeat;}
#header_menu_listen a.button-header-ecouter:hover{width:79px;height:91px;display:block;cursor:pointer;background:url(listen_bouton-over.png) no-repeat;}

#header_a-la-une_listing,#header_a-la-une_search{float:left;}
#header_a-la-une_listing li{float:left;}
#header_a-la-une_listing p,#header_a-la-une_listing a{text-decoration:none;font-size:.7em;}
#header_a-la-une_search_left,#header_a-la-une_search_center,#header_a-la-une_search_right,#header_a-la-une_search_center2{float:left;}

#header_a-la-une{height:35px;background:transparent url(fond_menu2.png) repeat-x;} /*background-color:#d61a4a; */
#header_a-la-une_content{clear:both;}
#header_a-la-une_listing,#header_a-la-une_search{height:37px;}
#header_a-la-une_listing{padding-left:3px;width:619px;} /* 3px = 2 gouttière + 1 border inexistant ; margin foire sous IE6, on met un padding à la place */
#header_a-la-une_search{width:375px;}
#header_a-la-une_listing li{height:33px;padding:0 8px;background:url(class-sep-1.gif) no-repeat scroll 100% 16px;line-height:37px;margin-top:4px;}
#header_a-la-une_listing a.txt{color:#f1f0f0;display:block;font-size:.7em;font-weight:700;}
#header_a-la-une_listing a:hover {text-decoration:underline;font-size:.7em;}
#header_a-la-une_listing .sep{font-size:7px;margin-top:19px;margin-left:8px;margin-right:8px;color:#ec8ca5;}
#header_a-la-une_search_left{height:27px;padding-top:10px;width:88px;font-weight:700;background:url(recherche.png) no-repeat} /* height 27 = 37 - paddding */
#header_a-la-une_search_center{height:29px;padding-top:8px;width:148px;}
#header_a-la-une_search_center input{width:140px;color:#62595c;}
#header_a-la-une_search_center2{height:29px;padding-top:9px;width:100px;}
* > #header_a-la-une_search_center2{padding-top:8px;} /* la vrai taille pour les vrais navigateurs ... */
#header_a-la-une_search_center2 select{overflow:hidden;width:90px;font-size:11px;}
#header_a-la-une_search_right{padding-top:7px;width:39px;height:30px;}
#header_a-la-une_search_right input{width:39px;height:24px;}
#header_a-la-une_listing .img_alaune{float:left;}
#header_a-la-une_listing .img_alaune img{margin-top:2px;}

#header_menu{height:39px;}
#header_menu{background:url(fond-id-menu3.png) repeat-x;}

#header_menu_content .structure_center a{font-size:.95em;font-weight:700;color:#5a2723;}
#header_menu_content .structure_center ul{text-decoration:none;font-size:.85em;}
#header_menu_content .structure_center a{text-decoration:none;}
#header_menu_content .structure_center li{float:left;padding:0 12px;background:url(class-sep-2.gif) no-repeat scroll 100% 50%;padding-top:12px;height:27px;}
#header_menu_content .structure_center li.last,#header_a-la-une_listing li.last{background:none;}
	/* class de gestion du hover, à gérer en javascript */
	#header_menu_content li.hover_before{background:none;}
	#header_menu_content li.hover{margin-top:0;padding:0;background:url(class-sep-2.gif) no-repeat scroll 100% 15px;}
	#header_menu_content .hover .ttier_g,#header_menu_content .hover .ttier,#header_menu_content .hover .ttier_d{float:left;height:39px;}
	#header_menu_content .hover .ttier_g,#header_menu_content .hover .ttier_d{width:12px;}
	#header_menu_content .hover .ttier_g{background:url(menu3-ttier_g.png) no-repeat;}
	#header_menu_content .hover .ttier{background:url(menu3-ttier.png) repeat-x;padding-top:12px;height:27px;}
	#header_menu_content .hover .ttier a{color:#5a2723;}
	#header_menu_content .hover .ttier_d{background:url(menu3-ttier_d.png) no-repeat;}
	/* partie à gérer en javascript : sur la sélection de la partie */
	#header_menu_content li.select_before{background:none;}
	#header_menu_content li.select{margin-top:0;background:none;padding:0;}
	#header_menu_content .select .ttier_g,#header_menu_content .select .ttier,#header_menu_content .select .ttier_d{float:left;height:39px;}
	#header_menu_content .select .ttier_g,#header_menu_content .select .ttier_d{width:12px;}
	#header_menu_content .select .ttier_g{background:url(menu3-ttier_g-hover_v2.png) no-repeat;}
	#header_menu_content .select .ttier{background:url(menu3-ttier-hover_v2.png) repeat-x;padding-top:12px;height:27px;}
	#header_menu_content .select .ttier a{color:#fd7a00;}
	#header_menu_content .select .ttier_d{background:url(menu3-ttier_d-hover_v2.png) no-repeat;}
#header_menu_content .structure_left,#header_menu_content .structure_right{width:12px;height:39px;}
#header_menu_content .structure_left{background:url(structure_left.png.3) no-repeat;}
/*#header_menu_content .structure_center{width:976px;height:34px;background:url(../images/header/menu/structure_center.png) repeat-x;}*/
#header_menu_content .structure_center{width:976px;height:39px;background:url(structure_center.png.3) repeat-x;overflow:hidden;}
#header_menu_content .structure_right{background:url(structure_right.png.3) no-repeat scroll 100% 0;}
.header_menu_content_js_select #header_menu_content .structure_left{background:url(structure_left.png.4) no-repeat;}
.header_menu_content_js_select #header_menu_content .structure_center{background:url(structure_center.png.4) repeat-x;}
.header_menu_content_js_select #header_menu_content .structure_right{background:url(structure_right.png.4) no-repeat scroll 100% 0;}
#house a {background:url(little_house.gif) no-repeat;display :block; height:16px ; width:13px;}
#house a:hover {background:url(little_house-hover.gif) no-repeat;}

#header_menu_unfolded{clear:both;}
#header_menu_unfolded .block_middle{padding:0 2px;}
#header_menu_unfolded .p_cont{float:left;width:994px;border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;background:#fff;}
.header_menu_unfolded_block_footer .structure_left{width:12px;height:26px;background:url(structure_left.png.5) no-repeat;}
.header_menu_unfolded_block_footer .structure_center{width:976px;height:26px;background:url(structure_center.png.5) repeat-x;}
.header_menu_unfolded_block_footer .structure_right{width:12px;height:26px;background:url(structure_right.png.5) no-repeat scroll 100% 100%;}

#header_menu_unfolded .block_abstract{padding-bottom:10px;}
#header_menu_unfolded .content__fond_blanc{float:left;width:976px;}
#header_menu_unfolded .content__header_border{padding:6px 9px;border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;}
#header_menu_unfolded .nav_radio .lst{float:left;width:218px;}
#header_menu_unfolded .nav_radio .lst li{padding:4px 0;font-size:.7em;font-weight:700;}
#header_menu_unfolded .nav_radio .lst li a{background:url(triangle_gris_clair.gif) no-repeat scroll 0 50%;padding-left:10px;}
#header_menu_unfolded .nav_radio .lst li a:hover{background:url(triangle_orange_simple.gif) no-repeat scroll 0 50%;color:#ff7e00;text-decoration:underline;}
#header_menu_unfolded .encart{width:494px;float:left;background:#fff3e0;margin:6px;padding:7px 6px;}
#header_menu_unfolded .encart .content_default{width:262px;float:left;background:url(vertical_89.gif) no-repeat scroll 100% 50%;}
#header_menu_unfolded .encart ul{float:left;width:228px;padding-left:4px;}
#header_menu_unfolded .encart ul li{width:208px;}
#header_menu_unfolded .encart ul li{font-size:.7em;padding:5px 0 4px;border-bottom:1px solid #e6e6e6;}
#header_menu_unfolded .encart ul li a{background:url(img-picto-content_blog.gif) no-repeat scroll 0 50%;padding-left:15px;}
#header_menu_unfolded .encart ul li.last{padding-bottom:0;border:none;}

#search_bouton,#onair_bouton{cursor:pointer;}
#b1_middle,#b2_middle,#b3_middle{float:left;}
#b1_picto1,#b1_text,#b1_picto2,#b2_picto1,#b2_text,#b2_picto2{float:left;}
#b1_content,#b2_content,#b3_content{font-size:1em;text-align:center;}

/* PARTIE SPECIAL DEFCON */
#header_quick_access .defcon_txt{padding:5px 0;}
#header_quick_access .defcon_txt a.mise_en_avant{color:#fff;}
#header_quick_access .defcon_txt p{text-align:center;color:#ffb4c8;font-size:1em;line-height:25px;font-weight:700;}
#header_quick_access .defcon_txt p.little{font-size:0.8em;}
#header_a-la-une ul.defcon{height:36px;width:800px;padding-left:200px;}
#header_a-la-une ul.defcon li{float:left;color:#fff;height:36px;line-height:36px;font-weight:700;font-size:0.7em;}
#header_a-la-une ul.defcon li a{background:url(triangle_rouge_fonce.gif) no-repeat scroll 0 50%;padding:0 18px 0 8px;color:#fff;}
.defcon_logo{height:500px;margin:0 auto;width:148px;padding:10px 0;}