#items_mea_flash{height:254px;width:681px;margin-left:2px;margin-right:2px;padding-left:0;padding-right:0;padding-top:10px;padding-bottom:10px;position:relative;border:1px solid #E6E6E6;}
#flash_item {left:0;margin-left:0;}
#items_mea{position:relative;height:214px;padding:10px;}
#items_mea ul{position:absolute;right:1%;width:209px;height:100%;top:10px;}
#items_mea li{padding:14px 12px 14px 24px;font:bold 0.8em Arial;background:#aaa;cursor:pointer;background:url('mea-bg-li-off.png') no-repeat right 0;}
#items_mea li.active{background:url('mea-bg-li-on.png') no-repeat right 0;color:#fff;padding:14px 12px 14px 24px;}
#items_mea div.bloc{display:none;background:#ccc;height:214px;background-repeat:no-repeat;position:absolute;width:663px;}
#items_mea div.accroche_description{position:absolute;bottom:0px;width:100%;background:url('mea-bg-accroche.png');padding-top:1%;}
#items_mea div.accroche_description div.links{height:20px;background:url('mea-bg-liens.png');padding:1%;margin-top:1%;}
#items_mea div.accroche_description h1, #items_mea div.accroche_description h2{padding-left:1%;}
#items_mea div.accroche_description h1{color:#d7602e;font-size:14px;}
#items_mea div.accroche_description h2{color:#5c5c5c;font-size:12px;font-weight:normal;}
#items_mea div.accroche_description div.links a{font-size:10px;color:#fff;margin-right:12px;padding:4px 0 4px 24px;}
#items_mea .links a.site{background:url('picto-site.png') no-repeat left center;}
#items_mea .links a:hover.site{background:url('picto-site-over.png') no-repeat left center;}
#items_mea .links a.photo{background:url('picto-photo.png') no-repeat left center;}
#items_mea .links a:hover.photo{background:url('picto-photo-over.png') no-repeat left center;}
#items_mea .links a.video{background:url('picto-video.png') no-repeat left center;}
#items_mea .links a:hover.video{background:url('picto-video-over.png') no-repeat left center;}
