/*@CHARSET "ISO-8859-1";*/

#ctnAltTabs
{
	width: 300px;
	font-family: Arial, Helvetica;
	/*margin-top: 5px;*/
	margin-bottom: 15px;
	margin-right: 0px;
	margin-left: 9px;
	font-size: 13px;
}

#ctnAltTabs .ui-tabs-panel
{
	height: 200px;
	padding: 0.2em;
	overflow: scroll;
	font-family: Arial, Helvetica;
}

#ctnAltTabs .ui-tabs .ui-tabs-nav li a {
	padding:0.3em 0.7em;
}

#ctnAltTabs .foot
{
	color: #00008B;
	font-size: 13px;
	padding: 0px 0px;
	text-align: center;
	height: 20px;
	width: 100%;
}

#ctnAltTabs .foot .slider
{
	width: 180px;
}

#ctnAltTabs .inner
{
	background-image: url(http://www.varmatin.com/edito/share/img/commun/loading.gif);
	background-repeat: no-repeat;
	background-position: top left;
	width: 100px;
	height: 100px;
}

/*#ctnAltTabs .ui-tabs-hide { display: none; }*/


#ctnAltTabsTabs
{
	border-left: 1px #333333 solid;
	border-right: 1px #333333 solid;
}

#ctnAltTabsTabs .a
{
	font-size: 12px;
	margin-bottom: 4px;
}

#ctnAltTabsTabs .a.pos1
{
	background-color: #eee;
}

#ctnAltTabsTabs .a a
{
	text-decoration: none;
}

#ctnAltTabsTabs .a .ph
{
	float: right;
	margin:0;
	margin-left: 2px;
	margi-bottom: 2px;
}

#ctnAltTabsTabs .a .co
{
	color: #3399FF;
	font-weight:bold;
}

#ctnAltTabsTabs .a .par
{
	color: #3399FF;
	font-style: italic;
}

#ctnAltTabsTabs .a .pop
{
	color: #f00;
	font-weight:bold;
}

#ctnAltTabsTabs .a .ti
{
	color: #000;
	font-weight:bold;
}

#ctnAltTabsTabs .a .acr
{
	color: #333;
}

/*
#ctnAltTabs .tabs
{
	margin: 0px;
	padding: 0px;
}
/*
#ctnAltTabs .tabs li
{
	display: inline;
	margin: 0px;
}

*/