
/*@CHARSET "ISO-8859-1";*/

@import url("cadre-commun.css");
@import url("grenier.css");
@import url("tag-cloud.css");
@import url("tag-list.css");
@import url("pub.css");
@import url("navigation-commun.css");
@import url("navigation-specific.css");
@import url("counter.css");
@import url("alttabs.css");
@import url("newsletter.css");
@import url("galeryphoto.css");
@import url("scroll-dma.css");
@import url("comment.css");
@import url("pied.css");
@import url("poll.css");
@import url("bloc-sondage.css");
@import url("bloc-photos.css");
@import url("bloc-video.css");

/* promo une sports */
.pus
{
	text-decoration: none;
	margin-bottom: 7px;
	color: black;
	display: block;
}

.pus .n
{
	color: #B33238;
	font-weight: bold;
}

.pus .t
{
	color: #B33238;
	font-weight: bold;
}

/* fix overlay z-index for ads */

#colorbox, #cboxOverlay, #cboxWrapper {
	z-index:99999999;
}