/*@CHARSET "ISO-8859-1";*/

#ctnAllComment
{
	width:300px;
	margin-bottom:15px;
	margin-left: 9px;
	margin-right:0px;
	padding:0px;
}

#ctnAllComment #titreComment
{
	background-color:#EAEAEA;
	background-image:url(http://www.varmatin.com/edito/share/img/commun/bg/bg_gondole_zoomin.png);
	background-repeat:no-repeat;
	color:#00008B;
	font-size:13px;
	font-weight:bold;
	padding:2px 5px;
	text-align:center;
}

#ctnAllComment #ctnComment
{
	height:200px;
	overflow:scroll;
	font-family:Arial,Helvetica;
	border:1px solid #808080;
	border-top:0px;
}

#ctnAllComment #ctnComment a
{
	text-decoration:none;
}

#ctnAllComment #ctnComment .inner
{
	background-image:url(http://www.varmatin.com/edito/share/img/commun/loading.gif);
	background-position:left top;
	background-repeat:no-repeat;
	height:100px;
	width:100px;
}

#ctnAllComment #ctnComment .artComment0
{
	background-color:#FFFFFF;
	margin-bottom:5px;
}

#ctnAllComment #ctnComment .artComment1
{
	background-color:#F2F2F2;
	margin-bottom:5px;
}

#ctnAllComment #ctnComment .titreArt
{
	color:#000000;
	font-family: Arial, Helvetica, Verdana, Helvetica;
	font-size:11px;
	font-weight:bold;
	margin-left:5px;
}

#ctnAllComment #ctnComment .comment .texte
{
	color:#000000;
	font-family: Arial, Helvetica, Verdana, Helvetica;
	font-size:11px;
	margin-left:5px;
}

#ctnAllComment #ctnComment .comment .bulle
{
	margin-right:4px;
}

#ctnAllComment #ctnComment .comment .pseudo
{
	color:#085CB0;
}

#ctnAllComment #ctnComment .comment .heure
{
	color:red;
}