/*@CHARSET "ISO-8859-1";*/

ul.tl
{
	font-size: 12px;
	font-weight: 350;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 450px;
}

ul.tl li
{
	display: inline;
	float: left;
	padding: 0px;
	list-style-type: none;
	margin: 0px;
}

ul.tl li.t
{
	border-left: 1px solid #aaaaaa;
}

ul.tl li.t a
{
	font-family: Arial, Helvetica;
	text-decoration: none;
	color: #DB0000; /*#1CCC4B;*/
	font-weight: bold;
	padding: 0px 3px 0px 3px;
}

ul.tl li.t a:hover
{
	text-decoration: underline;
	color: #FF00FF;
}

ul.tl li.p
{
	color: #3399FF;
	font-style: italic;
	border-left: 1px solid #aaaaaa;
	padding: 0px 6px 0px 3px;
}

ul.tl li.c
{
	color: #E24735;
	font-weight: bold;
	border-left: 1px solid #aaaaaa;
	padding: 0px 13px 0px 3px;
	background-image: url(http://www.varmatin.com/edito/share/img/commun/logo/nbcmt.png);
	background-repeat: no-repeat;
	background-position: center right;
}

ul.tl li.o0
{
	border-left: 0px;
	padding-left: 0px;
}

ul.tl li.o0 a
{
	border-left: 0px;
	padding-left: 0px;
}

ul.tl li.s {
	color:#E24735;
	font-weight:bold;
	padding:0 13px 0 3px;
	background-image: url(http://www.varmatin.com/edito/share/img/commun/logo/pollit.png);
	background-repeat: no-repeat;
	background-position: center right;
}