*, html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	color: #999999;
	background: #fff url(fondInside.jpg) repeat-x;
	font-family: Verdana, Arial, Tahoma, Helvetica, Sans-Serif;
	font-size: 85%;
	width: 100%;
}

#site {
	width: 1124px;
	margin: 0 auto;
	position: relative;
}

#page {
	width: 942px;
}

/****************************************************/
/**************** Bloc Entete ***********************/
/****************************************************/
#blocEntete {
	background: url(degradeInside.gif) no-repeat top left;
	padding: 1px 22px 0 21px;
	position: relative;
}

/*********************************************/
/***************** Bloc entete ***************/
/*********************************************/
#entete {
	height: 172px;
	position: relative;
	background: url(entete.jpg) no-repeat right bottom;
}

#entete h1 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
}

#entete h1 a {
	width: 200px;
	height: 172px;
	display: block;
	z-index: 13;
	text-decoration: none;
	outline: none;
	text-indent: -5000em;
}

/*********************************************/
/************* Bloc barreOutils **************/
/*********************************************/
#barreOutils {
	overflow: hidden;
	height: 27px;
	color: #000033;
	font-size: 10px;
	font-family: arial, verdana, sans-serif;
	margin-left: 360px;
	padding-top: 6px;
}

#barreOutils form {
	width: 230px;
	/*float: left;*/
	float: right;
	margin-right: 50px;
	padding-top: 5px;
	font-size: 11px;
	color: #fff;
}

#barreOutils form fieldset {
	padding-left: 30px;
	text-align: right;
}

#barreOutils form fieldset input {
	width: 100px;
}

#barreOutils form fieldset input.boutonSubmit {
	width: auto;
}

#barreOutils form#formLangue fieldset {
	text-align: right;
}

#barreOutils form#formLangue {
	width: 270px;
}

#barreOutils form#formLangue fieldset select {
	width: 100px;
	text-align: center;
}

#barreOutils .boutonSubmit {
	position: absolute;
	top: 12px;
	margin-left: 5px;
	cursor: pointer;
	border: none;
	background: none;
	color: #fff;
	font-weight: bold;
}

/****************************************************/
/************* Bloc Conteneur ***********************/
/****************************************************/
#conteneur {
	padding: 0 22px 0 24px;
	background: url(bordureContenu.gif) repeat-y;
}

#menuPrincipal {
	line-height: 39px;
	height: 39px;
	position: relative;
	z-index:  5;
	background: url(backgroundMenu.gif) repeat-x;
}

#menuPrincipal ul {
	list-style: none;
}

#menuPrincipal ul li {
	float: left;
	z-index: 11;
	position: relative;
	line-height: 39px;
	height: 39px;
	border-right: 1px solid #fff;
}

#menuPrincipal ul li a {
	font-size: 11px;
	background: url(http://www.tahiti-aeroport.pf/themes/setil/images/separatorMenu.gif) no-repeat 100% 0;
	font-weight: normal;
	color: #666666;
	display: block;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 8px;
}

#menuPrincipal ul li a#setilMenuPrincipalver1rub1 {
	padding-left: 12px;
	padding-right: 10px;
}

#menuPrincipal ul li a:hover {
	background: #e2e0e0;
}

/* Ul du 2eme niveau */
#menuPrincipal ul ul {
	display: none;
}

#menuPrincipal ul ul li {
	margin-right: 0;
}

#menuPrincipal ul li.sfhover, #menuPrincipal ul li:hover {
	z-index: 15;
	background: #e2e0e0;
}

#menuPrincipal ul li.sfhover ul li.sfhover, #menuPrincipal ul li:hover ul li:hover {
	z-index: 20;
}

#menuPrincipal ul li.sfhover ul, #menuPrincipal ul li:hover ul {
	display: block;
	position: absolute;
	left: 0;
	top: 39px;
	background: #cccccc url(fondMenuDeroulant.gif) repeat-x 0 100%;
	width: 200px;
	text-align: left;
	padding: 5px 0;
	z-index: 4;
	border: 1px solid #666666;
}

#menuPrincipal ul li.sfhover ul li ul, #menuPrincipal ul li:hover ul li ul,
#menuPrincipal ul li.sfhover ul li.sfhover ul li ul, #menuPrincipal ul li:hover ul li:hover ul li ul {
	display: none;
}

#menuPrincipal ul li.sfhover ul li.sfhover ul, #menuPrincipal ul li:hover ul li:hover ul,
#menuPrincipal ul li.sfhover ul li.sfhover ul li.sfhover ul, #menuPrincipal ul li:hover ul li:hover ul li:hover ul {
	display: block;
	top: 5px;
	left: 150px;
}

#menuPrincipal ul ul li {
	display: block;
	padding: 0;
	margin: 0;
	line-height: 18px;
	height: auto;
	float: left;
	width: 180px;
	border: none;
	margin: 0 10px;
}

#menuPrincipal ul ul li a {
	border-bottom: 1px solid #999999;
	display: block;
	text-transform: none;
	width: 180px;
	padding: 3px 0;
	background: none;
}

#menuPrincipal ul ul li a:hover {
	background: #e2e0e0;
	text-decoration: none;
}

/*********************************************/
/*************** Bloc blocContenu ************/
/*********************************************/
#blocContenu {
	overflow: hidden;
	width: 100%;
	margin-top: 2px;
	position: relative;
	background: #fff url(fondBlocInfo.gif) repeat-y;
}

#contenu {
	float: right;
	width: 644px;
	padding: 35px 32px 0 0;
}

/****************************************/
/************ Bloc blocInfo *************/
/****************************************/
#blocInfo {
	width: 200px;
	font-size: 11px;
	float: left;
	background: #1c77a4;
	padding-top: 35px;
}

#home #blocInfo {
	margin-top: -250px;
}

#blocInfo .bloc {
	margin: 0 16px 20px 18px;
	color: #fff;
}

#blocInfo .bloc a {
	color: #fff;
}

#blocInfo h2 {
	background: url(pointillesMenuInside.gif) repeat-x 0 100%;
	color: #fff;
	font-size: 16px;
}

#blocInfo h2 span {
	background: url(puceFleche.gif) no-repeat 0 7px;
	padding-left: 12px;
}

#blocInfo .actu {
	margin-bottom: 15px;
}

#blocInfo #blocActu h3 {
	font-size: 12px;
	text-transform: none;
}

#blocInfo #blocActu h3 a {
	text-decoration: underline;
	color: #d7e3e9;
}

#blocInfo #blocActu h3 a:hover {
	text-decoration: none;
}

#blocInfo .actu p, #blocInfo .actu p a {
	color: #fff;
}

#blocInfo .actu p a {
	font-weight: bold;
}

#blocInfo .actu p span {
	display: block;
	font-weight: bold;
}

#blocInfo #blocActu p.lienUtile a {
	background: url(puceActu.gif) no-repeat 0 5px;
	padding-left: 15px;
	color: #fff;
}

#blocEspacePro {
	background: url(iconeEspacePro.jpg) no-repeat;
}

#blocEspacePro h2 {
	padding: 6px 0 6px 25px;
}

#blocStationnement {
	background: url(iconeStationnement.jpg) no-repeat;
}

#blocStationnement h2 {
	padding: 16px 0 6px 55px;
}

#blocBoutique {
	background: url(iconeBoutique.jpg) no-repeat;
	padding-top: 10px;
}

#blocBoutique h2 {
	padding: 6px 0 6px 40px;
}

#blocInfo #blocActu {
	background: url(iconeActu.jpg) no-repeat;
	margin-left: 10px;
	padding-top: 10px;
}

#blocActu h2 {
	padding: 6px 0 6px 40px;
	
}

#blocActu .actu, #blocActu .lienUtile,#blocActu h2 {
	margin-left: 8px;
}

/****************************************************/
/*************** Bloc basPage ***********************/
/****************************************************/
#basPageHome {
	background: url(degradeBas.jpg) no-repeat top left;
	height: 130px;
	text-align: center;
}

#basPageHome p {
	color: #666666;
	font-size: 9px;
	padding: 70px 0 0 60px;
	word-spacing: -2px;
}

#basPageHome p a {
	font-weight: bold;
	color: #666666;
}

#basPage {
	background: #fff url(basPage.jpg) no-repeat top left;
	height: 130px;
	text-align: center;
}

#basPage p {
	color: #666666;
	font-size: 9px;
	padding: 55px 0 0 60px;
	word-spacing: -0.05;
	position: relative;
	z-index: 80;
}

#basPage p a {
	font-weight: bold;
	color: #666666;
}

#basPage p a#linkPptOnline {
	font-style: italic;
	font-weight: bold;
}

#pub {
	position: absolute;
	right: 0;
	top: 240px;
}

#contentColonne {
	overflow: hidden;
	width: 100%;
}

#contentColonne #colonne1 {
	float: left;
	width: 49%;
}

#contentColonne #colonne2 {
	float: right;
	width: 49%;
}

#formRechercheAnnuaire {
	position: relative;
	margin-bottom: 20px;
}

#blocSelecteurAnnuaire {
	width: 300px;
	position: absolute;
	top: 0;
	right: 20px;
}

#blocSelecteurAnnuaire #selecteurAnnuaire {
	width: 250px;
}

#formRechercheAnnuaire label {
	font-size: 12px;
}

#selecteurAnnuaire [label] {
	background: #fff;
	font-style: normal;
	font-weight: bold;
}

#selecteurAnnuaire option {
	padding-left: 15px;
}

#resultatRechercheVol li span {
	padding-right: 15px;
}


/***************************** Vols *************************/
#volsEnCours {
	float: right;
	width: 694px;
	background: #d6def3;
	background: #b9bed4 url(imghoraires.jpg) no-repeat 100% 0;
	margin: -3px 0 0 1px;
	overflow: hidden;
	border-left: 1px solid #fff;
	position: relative;
	padding-top: 15px;
}

#volsEnCours a {
	font-weight: normal;
}

#volsEnCours img.imggauche {
	margin: 0;
}

#detailsVolsEnCours {
	float: left;
	width: 694px;
	color: #666666;
	font-size: 11px;
	font-weight: bold;
	padding: 0;
	position: relative;
	padding-top: 6px;
}

#detailsVolsEnCours h2 {
	background: url(pointillesHoraire.gif) repeat-x 0 100%;
	margin: 0 15px 15px 25px;
	color: #fff;
	letter-spacing: -1px;
}

#detailsVolsEnCours h2 span {
	background: url(puceHoraire.gif) no-repeat 0 12px;
	padding-left: 10px;
}

.carousel ul li span span.numVols, #resultatRechercheVol .numVols {
	color: #006699;
	float: left;
	width: 80px;
}

.carousel ul li span span.imageVol {
	float: left;
	width: auto;
	padding-right: 0;
	margin-right: 10px;
	position: relative;
	top: 3px;
}

#departs .carousel li,  li span.depart {
	color: #006699;
}

.carousel {
	width: 694px;
	margin-left: 0;
}

#carousel .panel, .carousel ul { 
	width: 600px;
}	

.carousel ul li {
	height: 105px;
	display: block;
	float: left;
	width: 664px;
	font-size: 10px;
	word-spacing: -1px;
	letter-spacing: -0.05em;
	line-height: 20px;
	border-top: 1px solid #ccc;
}

.carousel ul li span, #detailsVolsEnCours p {
	width: 664px;
	display: block;
	overflow: hidden;
}

.carousel ul li span.ligne1 {
	border-bottom: 1px solid #ccc;
}

.carousel ul li span.ligne2 {
	border-bottom: 1px solid #ccc;
	background: #d7dfff;
}

.carousel ul li span {
	position: relative;
}

.carousel ul li span span {
	display: inline;
	padding-right: 25px;
	float: left;
	width: auto;
}

#detailsVolsEnCours p {
	color: #333;
	font-size: 11px;
	font-weight: normal;
}

#detailsVolsEnCours p span {
	float: left;
	text-align: center;
	width: auto;
}

#detailsVolsEnCours p span.dateVol {
	margin-left: 24px;
}

#detailsVolsEnCours p span.numeroVol {
	margin-left: 58px;
}

#detailsVolsEnCours p span.escaleVol {
	margin-left: 60px;
}

#detailsVolsEnCours p span.statutVol {
	position: absolute;
	left: 460px;
}

.carousel ul li span.fr {
	position: absolute;
	top: 0;
	left: 450px;
	height: 20px;
	width: auto;
}

#detailsVolsEnCours p span.fr {
	top: 9px;
}

.carousel-control {
	display: none;
}

#slider {
    width: 794px;
    position: relative;
}

.scroll {
    height: 140px;
    width: 792px;
    overflow: auto;
    position: relative;
    clear: left;
    border: 1px solid #d7dff4;
	border-top: none;
	background: #e8ebfc;
}

.scrollContainer div.panel {
    padding: 10px;
    height: 140px;
    width: 792px;
	overflow: hidden;
}

#shade {
    background: url(http://www.tahiti-aeroport.pf/themes/setil/images/shade.jpg) no-repeat 0 0;
    height: 50px;
}

ul.navigation {
    list-style: none;
	overflow: hidden;
	width: 100%;
}

ul.navigation li {
    display: inline;
    margin-right: 5px;
	float: left;
	width: 120px;
}

ul.navigation a {
	display: block;
    padding: 0;
    color: #000;
    text-decoration: none;
	background: url(onglet.jpg) repeat-x;
	line-height: 38px;
	height: 38px;
	text-align: center;
	color: #ccc;
}

ul.navigation li#lienArrivees a span {
	background: url(arrivee1.gif) no-repeat 16px 50%;
	display: block;
}

ul.navigation li#lienDeparts a span {
	background: url(depart1.gif) no-repeat 16px 50%;
	display: block;
}

ul.navigation li#lienArrivees a:hover span, ul.navigation li#lienArrivees a:hover span {
	background: url(arrivee.gif) no-repeat 16px 50%;
	display: block;
}

ul.navigation li#lienDeparts a:hover span, ul.navigation li#lienDeparts a:hover span {
	background: url(depart.gif) no-repeat 16px 50%;
	display: block;
}

ul.navigation a:hover {
    background: url(ongletSurvol.jpg) repeat-x;
	color: #333;
}

ul.navigation a.selected {
	/*background: url(images/ongletActif.jpg) repeat-x;*/
	background: #e8ebfc;
	border: 1px solid #cfd3ee;
	border-bottom: none;
	color: #333;
}

ul.navigation a:focus {
    outline: none;
	color: #333;
}

.scrollButtons {
    position: absolute;
    top: 150px;
    cursor: pointer;
	display: none;
}

.scrollButtons.left {
    left: -20px;
}

.scrollButtons.right {
    right: -20px;
}

.hide {
    display: none;
}

#rechercheVol form, #rechercheVol fieldset {
	text-align: left;
	background: none;
	color: #333;
	font-size: 11px;
	font-weight: normal;
	line-height: 27px;
}

#rechercheVol form select {
	text-align: left;
}

#rechercheVol form input#volArrivee, #rechercheVol form input#volArrivee, #rechercheVol form input#volDepart {
	width: 80px;
}

#rechercheVol form input#volArrivee, #rechercheVol form input#volDepart {
	width: auto;
}

#blocContenuHome {
	clear: both;
	padding: 20px 0 0 22px;
	overflow: hidden;
	width: 100%;
	border: none;
}

#rechercheVol select#ville {
	width: 220px;
}

#rechercheVol select#ville [label] {
	background: #fff;
	font-style: normal;
	font-weight: bold;
}

#menuFooter {
	text-align: center;
	font-size: 11px;
	margin-top: 5px;
	padding: 0 150px 50px 150px;
}

#menuFooter ul li {
	display: inline;
	padding-right: 10px;
	margin-right: 6px;
	background: url(separatorBottom.gif) no-repeat 100% 3px;
}

#messageInfo {
	background: url(pointillesMenuInside.gif) repeat-x;
	padding-top: 5px;
}

#messageInfo p {
	padding-top: 30px;
	font-size: 15px;
	padding-left: 12px;
	background: url(iconeAvotreEcoute.jpg) no-repeat 100% 0;
	line-height: 25px;
}

#messageInfo p strong {
	font-size: 18px;
	letter-spacing: -1px;
	font-weight: normal;
}

#messageInfo p em {
	font-size: 22px; 
	letter-spacing: -2px;
	font-style: normal;
}

#messageInfo p strong em {
	font-size: 20px;
	font-weight: bold;
}

