body   { color: black; font-size: 10px; font-family: verdana, arial, geneva, helvetica, sans-serif; margin: 0px 0px 0px 0px ;}

H1 { color: #fff; font-size: 12px; font-family: verdana, arial, geneva, helvetica, sans-serif; letter-spacing: 3px; margin: 0; padding: 0; font-weight: bold;}

h2 { color: #09205f; font-size: 12px; font-family: verdana, arial, geneva, helvetica, sans-serif; margin: 0; padding: 0; font-weight: bold; }

select  { color: #000000; font-size: 10px; font-family: verdana, arial, geneva, helvetica, sans-serif }

.spacer{
	clear:both;
}

img {
	border:none;
}

.tdleft {
    background-image: url(ombre_gauche.gif);
}
.tdleft2 {
    background-image: url(pois_gauche.gif);
}
.tdright {
    background-image: url(ombre_droite.gif);
}
.tdright2 {
    background-image: url(pois_droite.gif);
}
.tdtexture {
    background-image: url(texture_cci.gif);
}
.tdtexture2 {
    background-image: url(texture_recherche.gif);
}
.tdtexture3 {
    /*background-image: url(/pages/pictos/texture_visu_accueil_grenelle.gif);*/
	/*background-image: url(/pages/pictos/fond_bandeau.gif);*/
    /*background-color:#a3488e;
	background-image: url(/pages/pictos/texture_visu_accueil_002.gif);
	background-image: url(/pages/pictos/fond_bandeau.gif);
	background: transparent url(/pages/pictos/fond_bandeau_commercants.gif) repeat-x;*/
	background-image: url(texture_visu_accueil.gif);
}
.tdtexture4 {
    background-image: url(texture_accompagnement.gif);
}
.tdtexture5 {
    background-image: url(texture_menu.gif);
}
.tdtexture6 {
    background-image: url(fond_titre02.gif);
}
.tdtexture7 {
    background-image: url(fond_titre.gif);
}
.tdtexture8 {
    background-image: url(filet_actu.gif);
}

.tabletexture {
    background-image: url(texture_date.gif);
	height: 24px;
}
.tabletexture2 {
    background-image: url(filet_separation_menu.gif);
}
.tabletexture3 {
    background-image: url(texture_nav_bas.gif);
	height: 24px;
}
.tableheight33 {
	height: 33px;
}
.tableheight4 {
	height: 4px;
}
.tableheight31 {
	height: 31px;
}

.trheight2 {
	height: 2px;
}
.trheight4 {
	height: 4px;
}
.trheight13 {
	height: 13px;
}
.trheight27 {
	height: 27px;
}
.trheight31 {
	height: 27px;
}
.embedheight126 {
	height: 126px;
}
.embedheight66 {
	height: 66px;
	width: 742px;
}

a	                { color: #006699;text-decoration: underline  }
a:hover	           { color: #006699; text-decoration: none }

font  { color: black; font-size: 10px; font-family: verdana, arial, geneva, helvetica, sans-serif }

a.link2 { color: #09205f; font-size: 9px; font-family: verdana, Arial, Helvetica, Geneva; text-decoration: underline }
a:hover.link2 { color: #09205f; font-size: 9px; font-family: verdana, Arial, Helvetica, Geneva; text-decoration: none }

a.link3 { color: #09205f; font-size: 10px; font-family: verdana, Arial, Helvetica, Geneva; text-decoration: underline }
a:hover.link3 { color: #09205f; font-size: 10px; font-family: verdana, Arial, Helvetica, Geneva; text-decoration: none }

a.link3bis { color: #09205f; font-size: 10px; font-family: verdana, Arial, Helvetica, Geneva; text-decoration: none }
a:hover.link3bis { color: #09205f; font-size: 10px; font-family: verdana, Arial, Helvetica, Geneva; text-decoration: none }

a.link4 { color: #fff; font-size: 9px; font-family: verdana, Arial, Helvetica, Geneva; text-decoration: underline }
a:hover.link4 { color: #fff; font-size: 9px; font-family: verdana, Arial, Helvetica, Geneva; text-decoration: none }

a.link5 { color: #fff; font-size: 10px; font-family: verdana, Arial, Helvetica, Geneva; text-decoration: none }
a:hover.link5 { color: #fff; font-size: 10px; font-family: verdana, Arial, Helvetica, Geneva; text-decoration: underline }

a.link6 { color: #09205f; font-size: 9px; font-family: verdana, Arial, Helvetica, Geneva; text-decoration: none }
a:hover.link6 { color: #09205f; font-size: 9px; font-family: verdana, Arial, Helvetica, Geneva; text-decoration: underline }

a.link7 { color: #556270; font-size: 11px; font-family: arial, geneva, helvetica, sans-serif; text-decoration: none }
a:hover.link7 { color: #556270; font-size: 11px; font-family: arial, geneva, helvetica, sans-serif; text-decoration: underline }

a.link8  { color: #556270; font-weight: bold; font-size: 9px; font-family: verdana, Arial, Helvetica, Geneva; text-decoration: none }
a:hover.link8  { color: #556270; font-weight: bold; font-size: 9px; font-family: verdana, Arial, Helvetica, Geneva; text-decoration: underline }

a.link9 { color: #556270; font-size: 10px; font-family: verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
a:hover.link9 { color: #556270; font-size: 10px; font-family: verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: underline }

a.link10 { color: #069; font-size: 10px; font-family: verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
a:hover.link10 { color: #069; font-size: 10px; font-family: verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: underline }

a.link11 { color: #09205f; font-size: 10px; font-family: verdana, Arial, Helvetica, Geneva; text-decoration: none }
a:hover.link11 { color: #09205f; font-size: 10px; font-family: verdana, Arial, Helvetica, Geneva; text-decoration: underline }

a.link12 { color: #fff; font-size: 10px; font-family: verdana, Arial, Helvetica, Geneva; text-decoration: none }
a:hover.link12 { color: #fff; font-size: 10px; font-family: verdana, Arial, Helvetica, Geneva; text-decoration: none }



.arialgrey9px  { color: #556270; font-size: 9px; font-family: arial, geneva, helvetica, sans-serif }
.arialgrey10px  { color: #556270; font-size: 10px; font-family: arial, geneva, helvetica, sans-serif }
.arialgrey11px  { color: #556270; font-size: 11px; font-family: arial, geneva, helvetica, sans-serif }
.arialgrey12px  { color: #556270; font-size: 12px; font-family: arial, geneva, helvetica, sans-serif }
.arialblanc9px { color: #fff; font-size: 9px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanablanc9px { color: #fff; font-size: 9px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanablanc10px  { color: white; font-size: 10px; font-family: verdana, arial, geneva, helvetica, sans-serif; text-decoration: none }
.verdanablanc11px  { color: white; font-size: 12px; font-family: verdana, arial, geneva, helvetica, sans-serif; text-decoration: none }
.verdanagrey9px   { color: #556270; font-size: 9px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanagrey10px     { color: #556270; font-size: 10px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanagrey11px   { color: #556270; font-size: 11px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanagrey12px   { color: #556270; font-size: 12px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanagrey13px   { color: #556270; font-size: 13px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanablack9px { color: black; font-size: 9px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanablack10px { color: black; font-size: 10px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanablack11px { color: black; font-size: 11px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanablack12px { color: black; font-size: 12px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanablack13px { color: black; font-size: 13px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanablack16px { color: black; font-size: 16px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanablack18px { color: black; font-size: 18px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.titreblack13px { color: black; font-weight: bold; font-size: 13px; font-family: verdana, arial, geneva, helvetica, sans-serif; letter-spacing: 5px }
.verdanatitregrey11px { color: #6e7882; font-size: 11px; font-family: verdana, arial, geneva, helvetica, sans-serif; letter-spacing: 3px }
.verdanatitrenoir11px  { color: #000; font-size: 11px; font-family: verdana, arial, geneva, helvetica, sans-serif; letter-spacing: 3px }
.verdanatitreblanc11px { color: #fff; font-size: 12px; font-family: verdana, arial, geneva, helvetica, sans-serif; letter-spacing: 3px }
.verdanableuclair9px { color: #069; font-size: 9px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanableuclair10px { color: #069; font-size: 10px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanableuclair11px { color: #069; font-size: 11px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanableuclair12px { color: #069; font-size: 12px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanableu9px { color: #09205f; font-size: 9px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanableu10px { color: #09205f; font-size: 10px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanableu11px { color: #09205f; font-size: 12px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanableu12px { color: #09205f; font-size: 12px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanarouge9px { color: #f8003a; font-size: 9px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanarouge10px  { color: #f8003a; font-size: 10px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanarouge11px  { color: #f8003a; font-size: 11px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanarouge12px  { color: #f8003a; font-size: 12px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanarouge13px   { color: #f8003a; font-size: 13px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanaorange9px { color: #f63; font-size: 9px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanaorange10px { color: #f63; font-size: 10px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanaorange11px { color: #f63; font-size: 11px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanaorange12px { color: #f63; font-size: 12px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanaorange13px { color: #f63; font-size: 13px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanapourpre9px { color: #963182; font-size: 9px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanapourpre10px { color: #963182; font-size: 10px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanapourpre11px { color: #963182; font-size: 11px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanapourpre12px { color: #963182; font-size: 12px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanapourpre13px { color: #963182; font-size: 13px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanavert9px { color: #693; font-size: 9px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanaorangeclair11px { color: #ff9733; font-size: 12px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanavert10px { color: #693; font-size: 10px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanavert11px { color: #693; font-size: 11px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanavert12px { color: #693; font-size: 12px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanavert13px { color: #693; font-size: 13px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanaor9px { color: #a39669; font-size: 9px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanaor10px { color: #a39669; font-size: 10px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanaor11px { color: #a39669; font-size: 11px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanaor12px { color: #a39669; font-size: 12px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanaor13px { color: #a39669; font-size: 13px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanaviolet9px { color: #8968b7; font-size: 9px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanaviolet10px { color: #8968b7; font-size: 10px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanaviolet11px { color: #8968b7; font-size: 11px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanaviolet12px { color: #8968b7; font-size: 12px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.verdanaviolet13px { color: #8968b7; font-size: 13px; font-family: verdana, arial, geneva, helvetica, sans-serif }
.patternsdrop1    { color: #000000; font: 10px verdana, geneva, arial, sans-serif; background-color: #ffffff; margin-left: 2px; padding-top: 1px; border: solid 1px silver; width: 120px; height: 15px }
.patternsdrop2 { color: #000000; font: 10px verdana, geneva, arial, sans-serif; background-color: #ffffff; margin-top: 3px; margin-right: 10px; padding-top: 1px; padding-left: 1px; border: solid 1px silver; width: 120px; height: 15px }
.patternsdrop3 { color: #000000; font: 10px verdana, geneva, arial, sans-serif; background-color: #ffffff; margin-left: 2px; padding-top: 1px; border: solid 1px silver; width: 70px; height: 15px }
.patternsdrop4 { color: #000000; font: 10px verdana, geneva, arial, sans-serif; background-color: #ffffff; margin-top: 3px; margin-right: 10px; margin-bottom: 3px; padding-top: 1px; padding-left: 1px; border: solid 1px silver; width: 200px; height: 15px }
.patternsdrop5 { color: #000000; font: 10px verdana, geneva, arial, sans-serif; background-color: #ffffff; margin-top: 3px; margin-right: 10px; margin-bottom: 3px; padding-top: 1px; padding-left: 1px; border: solid 1px silver; width: 300px; height: 15px }
.patternsdrop6   { color: #000000; font: 9px verdana, geneva, arial, sans-serif; background-color: #ffffff; margin-top: 3px; margin-right: 10px; margin-bottom: 3px; padding-top: 1px; padding-left: 1px; border: solid 1px silver; width: 350px; height: 15px }
.patternsdrop7 { color: #000000; font: 9px verdana, geneva, arial, sans-serif; background-color: #ffffff; margin-top: 3px; margin-right: 10px; margin-bottom: 3px; padding-top: 1px; padding-left: 1px; border: solid 1px silver; width: 350px }
.patternsdrop8 { color: #000000; font: 10px verdana, geneva, arial, sans-serif; background-color: #ffffff; margin-top: 3px; margin-right: 10px; margin-bottom: 7px; padding-top: 1px; padding-left: 1px; border: solid 1px silver; width: 200px }
.patternsdrop9 { color: #000000; font: 10px verdana, geneva, arial, sans-serif; background-color: #ffffff; margin-top: 3px; margin-right: 10px; margin-bottom: 3px; padding-top: 1px; padding-left: 1px; border: solid 1px silver; }
.formsdrop1    { color: #000000; font: 10px verdana, geneva, arial, sans-serif; background-color: #ffffff; margin-left: 2px; padding-top: 1px; border: solid 1px silver; width: 120px; height: 15px }
.formsdrop2 { color: #000000; font: 10px verdana, geneva, arial, sans-serif; background-color: #ffffff; margin-top: 3px; margin-right: 10px; padding-top: 1px; padding-left: 1px; border: solid 1px silver; width: 120px; height: 15px }
.formsdrop3 { color: #000000; font: 10px verdana, geneva, arial, sans-serif; background-color: #ffffff; margin-left: 2px; padding-top: 1px; border: solid 1px silver; width: 70px; height: 15px }
.formsdrop4 { color: #000000; font: 10px verdana, geneva, arial, sans-serif; background-color: #ffffff; margin-top: 3px; margin-right: 10px; margin-bottom: 3px; padding-top: 1px; padding-left: 1px; border: solid 1px silver; width: 400px; height: 15px }
.formsdrop4b { color: #000000; font: 10px verdana, geneva, arial, sans-serif; background-color: #ffffff; margin-top: 3px; margin-right: 10px; margin-bottom: 3px; padding-top: 1px; padding-left: 1px; border: solid 1px silver; width: 400px; }
.formsdrop5 { color: #000000; font: 10px verdana, geneva, arial, sans-serif; background-color: #ffffff; margin-top: 3px; margin-right: 10px; margin-bottom: 3px; padding-top: 1px; padding-left: 1px; border: solid 1px silver; width: 300px; height: 15px }
.formsdrop6   { color: #000000; font: 9px verdana, geneva, arial, sans-serif; background-color: #ffffff; margin-top: 3px; margin-right: 10px; margin-bottom: 3px; padding-top: 1px; padding-left: 1px; border: solid 1px silver; width: 350px; height: 15px }
.formsdrop7 { color: #000000; font: 9px verdana, geneva, arial, sans-serif; background-color: #ffffff; margin-top: 3px; margin-right: 10px; margin-bottom: 3px; padding-top: 1px; padding-left: 1px; border: solid 1px silver; width: 350px }
.formsdrop8 { color: #000000; font: 10px verdana, geneva, arial, sans-serif; background-color: #ffffff; margin-top: 3px; margin-right: 10px; margin-bottom: 3px; padding-top: 1px; padding-left: 1px; border: solid 1px silver; width: 400px }
.puceliste  { list-style-image: url(puce_mini_fleche_rouge.gif) }
ul  { list-style-image: url(puce_mini_fleche_rouge.gif) }
.formsdrop9 { color: #000000; font: 10px verdana, geneva, arial, sans-serif; background-color: #ffffff; margin-top: 3px; margin-right: 10px; margin-bottom: 3px; padding-top: 1px; padding-left: 1px; border: solid 1px silver; }

#bloc-actu-entreprise {
padding-top: 0px;
padding-left: 0px;
padding-bottom: 0px;
padding-right: 10px;
margin: 0px;
}


#bloc-actu-entreprise ul {
margin: 0px;
padding: 0px;
list-style-image: none;
}


#bloc-actu-entreprise li {
font-size: 10px;
color: #556270; 
margin: 0px;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 15px;
display: block;
border-bottom: 1px #EDEDED solid;
background-image: url(mini_fleche_rouge.gif);
background-repeat: no-repeat;
background-position: left 18px; }


#bloc-actu-entreprise a {
font-size: 10px;
margin: 0pt;
display: block;
color: #565656;
text-decoration: none;
font-weight: bold; }


#bloc-actu-entreprise a:hover {
text-decoration: underline; }

#bloc-contact-entreprise {
font-size: 10px;
color: #556270; 
padding: 10px;
margin-top: 15px;
margin-bottom: 15px;
background-image: url(bloc_degrade.gif);
background-repeat: repeat-x;
background-position: top;
background-color: #D4D4D4;
line-height: 1.5em;
 }

#bloc-contact1 {
float:left;
padding-right: 15px;
border-right: 1px #BCBCBC solid;
width: 45%; }

#bloc-contact2 {
float:left;
padding-left: 15px;
}

#spacer, .spacer {
clear: both;
}

#popup {
	position:absolute;
	top:100px;
	right:250px;
	background-color:#f5f5f5;
	padding:20px;
	border:1px #c0c0c0 solid;
	z-index:1000;
}

#popup table {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#556270;	
}

#popupIntegration {
	position:absolute;
	top:100px;
	right:250px;
	background-color:#f5f5f5;
	padding:20px;
	border:1px #c0c0c0 solid;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#556270;
	z-index:1000;
}

.divpopup {
	position:absolute;
	top:0;
	left:350px;
	background-color:#f5f5f5;
	padding:20px;
	border:1px #c0c0c0 solid;
	z-index:1000;
}

.divpopup table {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#556270;
}

.divpopup .close, #popup .close, #popupIntegration .close {
	position:absolute;
	top:5px;
	right:5px;
}

.video {
	position:relative;
}

.video .visuel {
	padding-right:10px;
}

.video .titre {
	font-weight:bold;
	color:#09205f;
	font-size:14px;
	font-family: arial, verdana, geneva, helvetica, sans-serif;
}

.divpopup .titre, #popup .titre, #popupIntegration .titre {
	font-weight:bold;
	color:#556270;
	font-size:12px;	
}

.video .date {
	font-weight:bold;
	color:#aaaaaa;
	font-size:13px;
	line-height: 1.7em;
	font-family: arial, verdana, geneva, helvetica, sans-serif;}

.video .ami a {
	font-weight:bold;
	color:#556270;
	font-size:11px;
	text-decoration:none;
}

.video .ami a:hover {
	text-decoration:underline;
}

.video ul.links {
	padding:0;
	margin:0;
	padding-left:12px;
	margin-top: 12px;
}

.video ul.links li a {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#09205f;
}

.video .merci {
	font-size:10px;
	margin-top:5px;
	margin-bottom:5px;
	color: #f58836;
    background-image: url(ico_etoile.gif);
    background-repeat: no-repeat;
    background-position: 0px 6px;
    padding-left: 15px;
	
}

.error {
	font-size:10px;
	color:#00dd00;
	font-weight:bold;
	padding-left:150px;
}

#bloc-sommaire-video{
background-color: #ffffff;
background-image: url(fond_bloc_titres_video.gif);
background-repeat: repeat-x;
background-position: bottom;
border: 1px solid #f5f5f5;
margin-left: 24px;
padding: 13px 60px 0px 15px;
}


.titre-sommaire{
	font-size: 14px;
	font-family: "Verdana", Arial, lucida, sans-serif;
	color:#006698;
	font-weight: bold;
	line-height: 1.4em;
}

#sommaire {
	padding:0;
	margin:0;
	padding-bottom:20px;
	list-style-image:none;
}

ul#sommaire{
	margin-top:7px;
}

#sommaire li {
	background:none;
	list-style:none;
	list-style-type: none;
    background-image: url(puce_communique.gif);
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 19px;
    padding-right: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #a3a3a3;
    width: 450px;
}

*>#sommaire li {
padding-top: 0px;
}

#sommaire li a {
	font-weight:bold;
	color:#09205f;
    font-size: 12px;
    text-decoration: none;
}

#sommaire li a:hover {
color:#0b6d9d;
}
	
.titre-video {
	color:#09205f;
    font-size: 12px;
    background-image: url(ico_video_mini.gif);
    background-repeat: no-repeat;
    background-position: 0px 4px;
    padding-left: 13px;
}

#video-accueil{
background-color: #ffffff;
margin:12px 20px 12px 20px;
padding: 6px 9px 6px 9px;
}

h1.theme-video-accueil {
	color:#ffcc00;
    font-size: 17px;
    font-weight: bold;
    margin: 0 0 5px 0;
    padding: 0 0 0 0;
}

.titre-video-accueil {
	color:#ffffff;
    font-size: 12px;
    font-weight: bold;
}

#menuvideo {
	padding-bottom:5px;
	padding-left:20px;
	margin-bottom:0;
	list-style-image:none
}

ul#menuvideo {
	margin-left: 0px;
	margin-top: 0px;
}

#menuvideo li{
list-style-type: none;
background-image: url('puce_jaune.gif');
background-repeat: no-repeat;
background-position: 0px center;
padding-left: 10px;
padding-right: 14px;
padding-bottom: 5px;
padding-top: 0px;
}

#menuvideo li a {
	text-decoration:underline;
}

#menuvideo li a:hover {
	color:#ffffff;
	text-decoration:none;
}

.videoSeparateur {
	height:1px;
	/*background-color:#c0c0c0;*/
	border-top:1px #c0c0c0 solid;
	width:100%;
	padding:0;
	margin:0;
}

