/******************************************************************************
* insInsetGeneric.css
*******************************************************************************

*******************************************************************************
*                                                                             *
* Copyright 2007
*                                                                             *
******************************************************************************/

.insInset {
	margin-top:0.5em;
	margin-bottom:0.5em;
}

.insInset .insTitle-hidden {
	display:none;
}

.insInset .insTitle-bg-img {
	background-position:center center;
	background-repeat:no-repeat;
}

.insInset h3.insTitle-text,
.insInset h3.insTitle-img,
.insInset h3.insTitle-bg-img {
	font-size:1em;
}

