/******************************************************************************
* odfRuntimeCss.css
*******************************************************************************
CSS pour les contrôles
*******************************************************************************
*                                                                             *
* Copyright 2006									                          *
*                                                                             *
******************************************************************************/
div.odfErrorBlock {
	padding:1em;
	border-color:red;
	border-style:dashed;
	border-width:2px;
}
div.itlTraceBlock {
	padding:0.3em;
	margin:0.3em;
	border-color:red;
	border-style:solid;
	border-width:1px;
}
div.odfErrorBlock .line {
	overflow:auto;
	overflow-x:auto;
	overflow-y:hidden;
	background-color:#FFFFFF;
	color:#000000;
}
div.odfErrorBlock pre {
	font-size:12px;
	padding-top:1em;
	padding-bottom:1em;
}

/* Date control */

.odfDateControl input.dateInput {
	width:80px;
}

.odfDateControl input.dayInput {
	width:20px;
}

.odfDateControl input.monthInput {
	width:20px;
}

.odfDateControl input.yearInput {
	width:40px;
}

.odfDateControl img.popupButton {
	margin-top:2px;
	margin-left:2px;
	border-width:0px;
}

/* PropertySet control */

div.odfPropertySetControl div.frame {
	border: solid #7f9db9 1px;
	overflow: auto;
}

div.odfPropertySetControl div.propertySetInput {
	float:left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.hiddenRichTextMenu {
	display:none;
}
.richTextMenu {
	color: #000000;
	background-color: #F0F0F0;
	font-family: 'Microsoft Sans Serif' , Tahoma, Arial, Verdana, Sans-Serif;
	font-size: 11px;
	position:absolute;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

.richTextMenu a:link, .richTextMenu  a:visited {
	color: menutext;
	text-decoration: none;
	display:block;
	padding: 2px 20px 2px 2px;
}
.richTextMenu  a:hover {
	color: highlighttext;
	background-color: highlight;
	text-decoration: none;	
	display:block;
	padding: 2px 20px 2px 2px;
}


.hiddenRichTextPanel {
	display:none;
}

.richTextPanel {
	color: black;
	background-color:#F0F0F0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	position:absolute;
	border-width: 2px;
	border-style: outset;
	border-color: menu;
	width: 250px;
}

.richTextPanel div.title {
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	background: url(odf_button_bar.gif);
	background-color: #E0E0FF;
	height: 25px;
	cursor: move;		
}

.richTextOkButton {
	width: 70px;
	font-size: 10px;
}
.richTextCancelButton {
	width: 70px;
	font-size: 10px;
}
.attributeLabel {
	font-size: 11px;
	padding: 2px;
}
.attributeControlCell {
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.admBackoffice a.odfMenuLink:link,  .admBackoffice a.odfMenuLink:hover, .admBackoffice a.odfMenuLink:visited {
	text-docoration: none;
} 
.attributeIcon {
	padding-top: 1px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 1px;
	height: 20px;
	background: url(odf_button_bg_icon_column.gif);
}

.odfMenuItem {
	background: url(odf_button_bg_icon_column.gif)  repeat-y;
}
.odfMenuItemSep {
	background: url(odf_button_bg_icon_column.gif)  repeat-y;
	font-size: 1px;
	padding-left: 24px;
}
.odfMenuItemSep hr {
	width: 200px;
}

.richTextPanel SELECT {
	font-size: 10px;
}
.richTextPanel input.text {
	font-size: 10px;
	width: 100px;
}

a.titleCellButton:link {
	text-decoration: none;
	color: #FFFFFF ;
}
a.titleCellButton:hover {
	text-decoration: none;
	color: #FFFFFF ;
}
a.titleCellButton:visited {
	text-decoration: none;
	color: #FFFFFF ;
}
.referenceLabel {
	border-width: 1px ;
	border-color: black ;
	border-style: solid ;
	padding: 4px ;
}

.richTextPanel span.narrowReadOnly {
	background-color: #C0C0C0;
	width: 60px;
	white-space:nowrap;
	overflow: hidden;
}

.richTextPanel table{
	font-size: 11px;
}
.richTextPanel input.narrowBrowseButton {
	height: 14px;
	font-size:8px;
}
.noOverflowCell {
	border-width: 1px;
	border-style: solid;
	border-color: white;
}
.noOverflowCell div {
	overflow:hidden;
	height: 14px;
	white-space: nowrap;
	background-color: snow;
	text-overflow: ellipsis;
}

.sdsControl {
}

.failurePara {
	color: red;
	font-size: 11px;
	font-weight:bold;
	margin-top: 0px;
	margin-bottom: 0px;
}

a.colorMenuEntry:link, a.colorMenuEntry:visited {
	display:block;
	width: 20px;
	height: 8px;
	font-size: 1px;
	text-decoration: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin: 2px;
}

a.colorMenuEntry:hover {
	display:block;
	width: 20px;
	height: 8px;
	font-size: 1px;
	text-decoration: none;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	margin: 2px;
}


.richTextColorMenu {
	color: menutext;
	background-color: menu;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	position:absolute;
	border-width: 2px;
	border-style: outset;
	border-color: menu;
}

.keywordLabels {
	border-width: 1px ;
	border-color: black ;
	border-style: solid ;
	padding: 4px ;
	height: 1em;
}

.keywordTableCell {
}

div.RadioInputDiv {
	float:left;
}

div.RadioInputDiv1 {
	float:left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
}

div.RadioInputDiv2 {
	float:left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 50%;
}
div.RadioInputDiv3 {
	float:left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 33%;
}
div.RadioInputDiv4 {
	float:left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 25%;
}

div.radioControl {
	overflow: auto;
	padding:0px;
	margin:0px;
}


.sdsRadioControl {
	padding: 0px;
	margin: 0px;
}

img.sdsColorButton {
	border: 2px solid black;
	vertical-align: text-bottom;
}

.textAreaControl textarea {
	font-size:1em;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

img.odfFloatLeftImage {
	float: left;
}

img.odfFloatRightImage {
	float: right;
}

div.odfLeftImageDiv {
	text-align: left;
}

div.odfRightImageDiv {
	text-align: right;
}

div.odfCenterImageDiv {
	text-align: center;
}

td.odfControlLabelCell {
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: top;
}

td.odfControlCell {
	padding: 2px 0px 2px 4px;
}

span.odfRadioContainer {
	display:block;
	clear:both;
	overflow-y:auto;
}

span.odfRadioContainer label {
	font-weight: normal;
}

span.odfRadioColumns1 {
	float:left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 95%;
}

span.odfRadioColumns2 {
	float:left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 48%;
}
span.odfRadioColumns3 {
	float:left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 32%;
}
span.odfRadioColumns4 {
	float:left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 24%;
}

/* richText dump */

div.directHtml img {
	margin-left: 4px;
	margin-right: 4px;
}

div.directHtml .paraleft{
	text-align: left;
}

div.directHtml .pararight{
	text-align: right;
}

div.directHtml .paracenter{
	text-align: center;
}

div.directHtml .parajustify{
	text-align: justify;
}

/* empeche le chevauchement des p*/

.directHtml p,
.directHtml pre,
.directHtml h1,
.directHtml h2,
.directHtml h3,
.directHtml h4,
.directHtml h5,
.directHtml h6
{
	clear: both;
}

p.odfControlRow {
	margin: 0px
}

div.odfFormContent {
	margin: 2px
}

input.odfReferenceInput {
}

.openReference {
	background-color:#FFE0E0;
}

.boundReference {
	background-color:#E0FFE0;
}

.noReference {
	background-color:#FFFFFF;
}

textarea.odfReferenceInput, input.odfReferenceInput {
	vertical-align:top;
}
a.odfReferenceButton:link, a.odfReferenceButton:hover, a.odfReferenceButton:visited {
	padding: 8px;
	font-family: "Arial";	/* font-size: 1px; is managed with Arial family */
	font-size: 1px;
	text-decoration:none;
	background: url(dynlib_search.gif) transparent no-repeat top left;
	width:16px;
	height:16px;
}
.admBackoffice a.odfReferenceButton:link,.admBackoffice a.odfReferenceButton:hover,.admBackoffice a.odfReferenceButton:visited {
	text-decoration: none;
}
a.odfReferenceButton .textButton {
	display:none;
}

span.odfCollectionReferenceListFixedHeight {
	
	border: 1px solid #000000;
	display:block;
	float:left;
	overflow: auto;
	position: relative;
	top: -4px;
}

span.odfCollectionReferenceList {
	
	border: 1px solid #000000;
	display:block;
	float:left;
	min-height: 20px;
	position: relative;
	top: -4px;
}

img.odfCaptchaImg {
	position: relative;
	top: 3px;
	left: 3px;
	height: 16px;
	width: 120px;
}


div.richTextControl iframe {
	border-left : 1px solid #9d999a;
	border-right : 1px solid #9d999a;
	border-bottom : 1px solid #9d999a;
	clear: both;
}

/* action bar */

div.richTextButtonBar {
    border: #9d999a 1px solid;
    background: url(odf_button_bar.gif) #FFFFFF repeat top left;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}

.richTextButtonBar h2 {
	display:none;
}

.richTextButtonBar ul {
    padding:0px;
    margin:0px;
    list-style:none;
}
.richTextButtonBar li {
    padding:0px;
    margin:0px;
    list-style:none;
    display:inline;
    border-bottom: #e3e3e3 0px solid;
}
.richTextButtonBar .sep {
	float: left;
	background-color: #C0C0C0;
	margin: 4px;
	width:1px;
	height:16px;
}

.richTextButtonBar li.selected a, .richTextButtonBar li.selected a:link, .richTextButtonBar li.selected a:visited
{
	color: #000000;
}
.richTextButtonBar a ,.richTextButtonBar a:link, .richTextButtonBar a:visited {
   text-decoration: none;
   color: #8e8e8e;
   margin: 0px;
   padding: 0px;
   float: left;
   width: 25px;
   height:24px;
}

.richTextButtonBar select {
   float: left;
   margin-top: 4px;
}
.richTextButtonBar a:hover {
   color: #4c4c4c;
}

/* buttons */

.richTextButtonBar .bold  {
   background: url(odf_button_bold.gif) transparent no-repeat top left;
}
.richTextButtonBar .italic  {
   background: url(odf_button_italic.gif) transparent no-repeat top left;
}
.richTextButtonBar .underline  {
   background: url(odf_button_underline.gif) transparent no-repeat top left;
}
.richTextButtonBar .left_just  {
   background: url(odf_button_left_just.gif) transparent no-repeat top left;
}
.richTextButtonBar .right_just  {
   background: url(odf_button_right_just.gif) transparent no-repeat top left;
}
.richTextButtonBar .centre  {
   background: url(odf_button_centre.gif) transparent no-repeat top left;
}
.richTextButtonBar .justifyfull  {
   background: url(odf_button_justifyfull.gif) transparent no-repeat top left;
}
.richTextButtonBar .textcolor  {
   background: url(odf_button_textcolor.gif) transparent no-repeat top left;
}
.richTextButtonBar .numbered_list  {
   background: url(odf_button_numbered_list.gif) transparent no-repeat top left;
}
.richTextButtonBar .list  {
   background: url(odf_button_list.gif) transparent no-repeat top left;
}
.richTextButtonBar .outdent  {
   background: url(odf_button_outdent.gif) transparent no-repeat top left;
}
.richTextButtonBar .indent  {
   background: url(odf_button_indent.gif) transparent no-repeat top left;
}
.richTextButtonBar .hyperlink  {
   background: url(odf_button_hyperlink.gif) transparent no-repeat top left;
}
.richTextButtonBar .image  {
   background: url(odf_button_image.gif) transparent no-repeat top left;
}
.richTextButtonBar .insert_table  {
   background: url(odf_button_insert_table.gif) transparent no-repeat top left;
}

.richTextButtonBar .bold .richTextButtonText, 
.richTextButtonBar .italic .richTextButtonText, 
.richTextButtonBar .underline .richTextButtonText, 
.richTextButtonBar .textcolor .richTextButtonText, 
.richTextButtonBar .left_just .richTextButtonText, 
.richTextButtonBar .right_just .richTextButtonText, 
.richTextButtonBar .centre .richTextButtonText, 
.richTextButtonBar .justifyfull .richTextButtonText, 
.richTextButtonBar .numbered_list .richTextButtonText, 
.richTextButtonBar .list .richTextButtonText, 
.richTextButtonBar .outdent .richTextButtonText, 
.richTextButtonBar .indent .richTextButtonText, 
.richTextButtonBar .hyperlink .richTextButtonText, 
.richTextButtonBar .image .richTextButtonText, 
.richTextButtonBar .insert_table .richTextButtonText 
{
	display:none;
}
