/******************************************************************************
* odfXhtml.css
*******************************************************************************

*******************************************************************************
*                                                                             *
* Copyright 2006									                          *
*                                                                             *
******************************************************************************/

/* richText dump */

div.directHtml {
	display:inline; /* la syntaxe direct etant utilisee abusivement, on est oblige de preciser inline pour ne pas perturber le rendu */
}

/* empeche le chevauchement des p*/

.directHtml p,
.directHtml pre,
.directHtml h1,
.directHtml h2,
.directHtml h3,
.directHtml h4,
.directHtml h5,
.directHtml h6
{
	clear: both;
}

.odfFieldValue, 
.odfText {
	display: block;
	margin-bottom: 0.5em;
}

.odfBold {
	font-weight: bold;
}

.odfItalic {
	font-style: italic;
}