#contenu_page_centre_contenu ul.liste_donnees,
#contenu_page_centre_contenu ul.liste_donnees_recherche
{
	margin:			0px;
	padding:		0px;
	/*border:			1px solid #999999;*/
}

#contenu_page_centre_contenu ul.liste_donnees_recherche
{
	margin-bottom:20px;
}

#contenu_page_centre_contenu ul.liste_donnees li
{
	margin:			0px;
	padding:		5px;
	width:47%;
	float:left;
/*	border:			1px solid #999999;*/
/*	border:			1px solid white;*/
	vertical-align:	top;
	/*height:		22px;*/
	
/*	display:block;*/
/*	clear:both;*/
/*	border:1px solid red;*/

}

#contenu_page_centre_contenu ul.liste_donnees_recherche li
{
	margin:			0px;
	padding:		5px;

}

#contenu_page_centre_contenu ul.liste_donnees li a
{
	padding-left:20px;
	background: url(http://www.aeroportlimoges.com/design/defaut/site/images/puce_destination.png) top left no-repeat transparent;
}

ul.liste_colonnes li
{
	width:32%;
	float:left;
}


ul.liste_donnees li.liste_donnees_alt
{
/*	background-color:#EAEAEA;*/
	background-color:#F0F0F0;
}

#contenu_page_centre_contenu ul.liste_donnees li:hover,
#contenu_page_centre_contenu ul.liste_donnees_recherche li:hover
{
	background-color: #c2d290;
}


ul.liste_donnees {
	list-style: none;
}


ul li.element_triable {
	list-style: none;
    
}

ul li a.bouton_tri {
    cursor : move;
}

ul li a.liste_donnees_bouton
{
	display:			block;
	width:				22px;
	height:				22px;
	float:				left;	
}

ul li a.liste_donnees_bouton span
{
	display:none;
}

ul li a.liste_donnees_modifier
{
	background: url(http://www.aeroportlimoges.com/design/defaut/site/images/bouton_modifier.png) top left no-repeat transparent;
}

ul li a.liste_donnees_supprimer
{
	background: url(http://www.aeroportlimoges.com/design/defaut/site/images/bouton_supprimer.png) top left no-repeat transparent;
}

ul.liste_donnees li a.liste_donnees_depublier
{
	background: url(http://www.aeroportlimoges.com/design/defaut/site/images/bouton_publie_ok.png) top left no-repeat transparent;
}

ul.liste_donnees li a.liste_donnees_publier
{
	background: url(http://www.aeroportlimoges.com/design/defaut/site/images/bouton_publie_nok.png) top left no-repeat transparent;
}

ul.liste_donnees li a.liste_donnees_apercu
{
	background: url(http://www.aeroportlimoges.com/design/defaut/site/images/bouton_apercu.png) top left no-repeat transparent;
}

ul.liste_donnees li a.bouton_tri
{
	background: url(http://www.aeroportlimoges.com/design/defaut/site/images/fleche_deplacement.png) top left no-repeat transparent;
}

ul.liste_donnees li a
{
	margin-right:10px;
}

.tri_liste_destination{ background-color:white; outline: 1px dashed #cccccc;height:	22px;}

ul.liste_donnees li a.liste_donnees_mettre_en_avant
{
	background: url(http://www.aeroportlimoges.com/design/defaut/site/images/bouton_en_avant_off.png) top left no-repeat transparent;
}

ul.liste_donnees li a.liste_donnees_pas_mettre_en_avant
{
	background: url(http://www.aeroportlimoges.com/design/defaut/site/images/bouton_en_avant_on.png) top left no-repeat transparent;
}




