.barre_sondage
{
	height:				9px;
	margin-top:			3px;
	border:				1px solid black;
	float:left;
	background:			url(http://www.aeroportlimoges.com/design/defaut/site/images/sondage.jpg) top left repeat-x #a0c730;
}

#affiche_sondage p
{
	margin-top:		5px;
}



