table.tableau_donnees
{
	margin:			10px 0 20px 0;
	padding:		0px;
/*	border:			1px solid #999999;*/
	border-collapse:collapse;
	width:100%;
}

table.tableau_donnees th,
table.tableau_donnees_footer
{
/*	background-color:	#999999;*/
	background-color:	#360;
	color:				#fff;
	font-size:			100%;
}

table.tableau_donnees_footer
{
	font-weight:	bold;
}

table.tableau_donnees th,
table.tableau_donnees td
{
	margin:			0px;
	padding:		5px;
/*	border:			1px solid #999999;*/
	border:			1px solid white;
	vertical-align:	top;

}

table.tableau_donnees th.tableau_donnees_entete_vierge
{
	background:		none;
}

.tableau_donnees_alt
{
/*	background-color:#EAEAEA;*/
/*	background-color:#F0F0F0;*/
	background-color:#d9e1c0;
}

table.tableau_donnees td.hover,
table.tableau_donnees tr.hover
{
/*	background-color: #C9DBFC;*/
	background-color: #c2d290;
}

table.tableau_donnees td a.tableaux_donnees_bouton 
{
	display:			block;
	width:				22px;
	height:				22px;
}

table.tableau_donnees td a.tableaux_donnees_bouton  span
{
	display:none;
}

table.tableau_donnees td a.tableaux_donnees_modifier
{
	background: url(http://www.aeroportlimoges.com/design/defaut/site/images/bouton_modifier.png) top left no-repeat transparent;
}

table.tableau_donnees td a.tableaux_donnees_supprimer
{
	background: url(http://www.aeroportlimoges.com/design/defaut/site/images/bouton_supprimer.png) top left no-repeat transparent;
}

table.tableau_donnees td a.tableaux_donnees_droits
{
	background: url(http://www.aeroportlimoges.com/design/defaut/site/images/bouton_droits.png) top left no-repeat transparent;
}

#tableau_destinations tr td a
{
	padding-left:20px;
	background: url(http://www.aeroportlimoges.com/design/defaut/site/images/puce_destination.png) top left no-repeat transparent;
}