a.bouton_vols_journaliers,
a.bouton_vols_journaliers_off
{
	display:block;
	float:left;
	padding:5px 10px 5px 10px;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
	font-weight:bold;
}

a.bouton_vols_journaliers,
a.bouton_vols_journaliers_off:hover
{
	margin:0;
	padding:5px 10px 5px 10px;
	background:none;
	background-color:#439B23;
}

a.bouton_vols_journaliers_off
{
	margin-top:3px;
	padding-top:2px;
	padding-bottom:5px;
	
	background: url(http://www.aeroportlimoges.com/design/defaut/site/images/fond_bouton_vols_journaliers.jpg) top left repeat-y #B7F77B;
}

table.tableau_vols_journaliers
{
	clear:both;
	margin:			0px;
	margin-left:1px;
	padding:		0px;
	border:			1px solid #898F94;
	border-top:none;
	border-collapse:collapse;
	width:539px;
}

table.tableau_vols_journaliers th,
table.tableau_vols_journaliers_footer
{
	background:	url(http://www.aeroportlimoges.com/design/defaut/site/images/fond_entete_vols_journaliers.jpg) top left repeat-x #6C9F3B;
	color:				#000;
	font-size:			100%;
}

table.tableau_vols_journaliers_footer
{
	font-weight:	bold;
}


table.tableau_vols_journaliers th,
table.tableau_vols_journaliers td
{
	margin:			0px;
	padding:		5px;
/*	border:			1px solid #999999;*/
	/*border:			1px solid white;*/
	vertical-align:	top;

}

table.tableau_vols_journaliers th.tableau_vols_journaliers_entete_vierge
{
	background:		none;
}

.tableau_vols_journaliers_alt
{
/*	background-color:#EAEAEA;*/
/*	background-color:#F0F0F0;*/
	background: url(http://www.aeroportlimoges.com/design/defaut/site/images/fond_ligne_vols_journaliers.jpg) top left repeat-y #74B26F;
}

table.tableau_vols_journaliers td.hover,
table.tableau_vols_journaliers tr.hover
{
	background-color: #CEF4B5;
}

table.tableau_vols_journaliers td a.tableaux_donnees_bouton 
{
	display:			block;
	width:				22px;
	height:				22px;
}

table.tableau_vols_journaliers td a.tableaux_donnees_bouton  span
{
	display:none;
}

table.tableau_vols_journaliers td a.tableaux_donnees_modifier
{
	background: url(http://www.aeroportlimoges.com/design/defaut/site/images/bouton_modifier.png) top left no-repeat transparent;
}

table.tableau_vols_journaliers td a.tableaux_donnees_supprimer
{
	background: url(http://www.aeroportlimoges.com/design/defaut/site/images/bouton_supprimer.png) top left no-repeat transparent;
}

table.tableau_vols_journaliers td a.tableaux_donnees_droits
{
	background: url(http://www.aeroportlimoges.com/design/defaut/site/images/bouton_droits.png) top left no-repeat transparent;
}

.vol_jour_actif
{
	display:block;
	width:14px;
	height:14px;
	font-size:1px;
	background: url(http://www.aeroportlimoges.com/design/defaut/site/images/puce_vol_jour.png) top left no-repeat transparent;
}

#affichage_tous_les_vols
{
	display:block;
	text-decoration:none;
	padding:2px;
	text-align:center;
	background-color:	#439B23;
	color:				#fff;
	font-size:			100%;
	text-transform:uppercase;
	font-weight:bold;
}

#affichage_tous_les_vols:hover
{
	background-color:	#74B26F;
}


