/*-----------------------------------  clearer  -----------------------------------*/
/* prevent floated images from overlapping the div-containers they are wrapped in  */

.content-element .news-list-container HR.clearer, .content-element .news-single-item HR.clearer, .content-element .news-latest-container HR.clearer {
	clear:right;
	height:1px;
	border-top:0px none #000;
	color: #666;

}
.news-latest-container HR.clearer {
	clear:left;
}

/*-----------------------------------  tt_news LATEST view  -----------------------------------*/

.content-element .news-latest-container {
	border:0px none #000;
	background-color:#fff;
}

.content-element .news-latest-container H2, .content-element .news-latest-gotoarchive {
	color:#fff;
	padding:3px;
	margin:3px;
	border:0px none #000;
	/*background-color:#D8FA70;*/
	background-color:#fff;
}

.content-element .news-latest-gotoarchive {
	font-weight:bold;
	margin-top:5px;
}
.content-element .news-latest-gotoarchive A:LINK, .content-element .news-latest-gotoarchive A:VISITED, .content-element .news-latest-gotoarchive A:HOVER {
	color:#000;
}
.content-element .news-latest-gotoarchive A {
	color:#000;
}
.content-element .news-latest-item {
	/* IE hack */
	height: 1%;
	line-height: 1.3;
	/* IE hack end */
	padding:3px;
	margin:3px;
	border:0px none #000;
	background-color:#fff;
}

.content-element .news-latest-item IMG {

	margin-bottom:5px;
	margin-right:5px;
	border:1px solid #666;
	float:left;
}
.content-element .news-latest-category IMG {
	float: none;
	border:none;
	margin:0px;
}
.content-element .news-latest-date, .content-element .news-latest-morelink, .content-element .news-latest-category {
	font-size:9px;
}

.content-element .news-latest-morelink {
	height:12px;
}

.content-element .news-latest-morelink A {
	float:right;
}


/*--------------------------------- tt_news LIST view  -----------------------------------*/
.content-element .news-list-container {
	border:0px none #000;
	background-color:#fff;
}


.content-element .news-list-item {
	/* IE hack */
	height: 1%;
	line-height: 1.3;
	/* IE hack end */
	padding: 0;
	margin: 0 5px 0 0;
	border:0px none #000;
	background-color:#fff;

	}
.content-element .news-search-form {
	padding: 3px;
	margin: 0 0 5px 0;
	border:0px none #000;
	background-color:#fff;

}
.content-element .news-search-emptyMsg {
	margin: 0;
	padding: 0;
}
.content-element .news-search-form FORM {
	margin: 0;
	padding: 0;
}
.content-element .news-list-item .news-list-container H3 {
	margin: 0 0 5px 0;
	padding: 0;
	border-bottom: 0px none #000;
	background-color: #fff;
}
.content-element .news-list-container H3 A:LINK,.content-element .news-list-container H3 A:VISITED,.content-element .news-list-container H3 A:HOVER {
	color:#000;
	padding-left:2px;
	font-size: 12px;
}
.content-element .news-list-container H3 A {
	color:#000;

}
.content-element .news-list-container P {
	padding-left:3px;
}
.content-element .news-list-date {
	float: right;
	color: #000;
	width: 150px;
	text-align: right;
	height: 20px;
	margin: 3px 4px 0 0;
	font-size: 11px;
	font-weight: normal;
	background-color: #fff;
	font-style: italic;
}

.content-element .news-list-imgcaption {
	float: right;
	padding:3px 3px 0 0;
	font-size: 9px;
}

.content-element .news-list-container IMG {
	float: right;
	border:1px solid #005b74;
	margin: 0 2px 5px 5px;
}
.content-element .news-list-category IMG {
	float: none;
	border: none;
	margin: 0px;
}

.content-element .news-list-morelink,.content-element .news-list-category {
	font-size:9px;
	margin: 0 0 5px 0;
	padding: 0;
	color: #000;
}
.content-element .news-list-morelink  {
	margin-bottom:3px;
}
.content-element .news-list-browse {
	text-align: center;
	font-size:9px;
}



	/*---------------------------------  tt_news Page-Browser ---------------------------------*/
.content-element .tx-ttnews-browsebox, .content-element .browseBoxWrap {
	margin:3px;
	border:0px none #000;
	padding:3px;
	background-color:#fff;
}

.content-element .tx-ttnews-browsebox TD {
	font-size: 10px;
}
.content-element .tx-ttnews-browsebox-strong, .content-element .tx-ttnews-browsebox-SCell {
	font-weight: bold;
}
.content-element .tx-ttnews-browsebox-SCell P, .content-element .tx-ttnews-browsebox TD P {
	margin:0px;
}

.content-element .tx-ttnews-browsebox-SCell {
	background-color: #fff;
	border:1px solid #666;
}
.content-element .news-search-emptyMsg {
	font-size: 11px;
	margin-left: 10px;
}


	/*--------------------------------- tt_news SINGLE view  ---------------------------------*/
.content-element .news-single-item {
	padding:5px;
	margin: 0 5px 5px 0;
	border-bottom: 1px solid #aaa;
	background-color:#fff;

}
.content-element .news-single-item H2 {
	font-size: 14px;
	font-weight:bold;
	color: #000;
	margin: 0;
	padding: 0;
}
.content-element .news-single-item H3 {
	margin-bottom: 15px;
}

.content-element .news-single-img {
	float: right;
	margin-left:5px;
}
.content-element .news-single-img IMG {
	border: 1px solid #999;
}
.content-element .news-single-imgcaption {
	padding:3px;
	clear:both;
}
.content-element .news-single-category {
	margin: 0;
	padding: 0;
	font-size: 9px;
	color: #555;
}
.content-element .news-single-backlink, .content-element .news-single-backlink a {
	font-weight: bold;
	font-size: 10px;
	margin: 10px 0 15px 0;
}
.content-element .news-single-timedata {
	float: right;
	width: 120px;
	margin: 0;
	padding: 0;
	text-align: right;
}
.content-element .news-single-timedata, .content-element .news-single-author, .content-element .news-single-imgcaption {
	font-size: 9px;
	margin: 3px 0 0 0;
	padding: 0;
	color: #555;
}
.content-element .news-single-author {
	padding-bottom: 3px;
}
.content-element .news-single-additional-info {
	background-color: #fff;
/*	clear: both;*/
	margin-top: 15px;
	border: 1px solid #666;
	padding:3px 0 0 0;

}
.content-element .news-single-related, .content-element .news-single-files, .content-element .news-single-links  {
	border: 1px solid #666;
	margin: 0 0 3px 0;
	padding:3px;
	background-color:#fff;
}

.content-element .news-single-related DD, .content-element .news-single-links DD, .content-element .news-single-files DD {
	margin-left:20px;
}

.content-element .news-single-related DT, .content-element .news-single-links DT, .content-element .news-single-files DT {
	font-weight: bold;
	font-size: 11px;
	margin-left:5px;
	width:90%;
}

/*--------------------------------- tt_news Archivemenu (AMENU) --------------------------------- */
.content-element .news-amenu-container {
	width: 208px;
	margin: 0px;
	padding: 0px;
	border:1px solid #dadada;
	background-color:#fff;
	text-align: left;
}
.content-element .news-amenu-container UL LI DD {
	width: 50%;
	margin: 0px;
	padding: 0px;
	text-align: left;
}
.content-element .news-amenu-container UL LI {
	margin: 0px;
	padding: 3px 0 1px 5px;
	text-align: left;
}

.content-element .news-amenu-container UL {
	margin: 0px;
	padding: 0px;
	border:0px none #000;
	background-color:#fff;
	list-style-type: none;
	list-style-position: outside;
}
.content-element .news-amenu-container UL LI A {
	color: #666;
}
.content-element .news-amenu-container H2 {
	color:#fff;
	margin: 0;
	padding: 0;
	border:0px none #000;
	background-color:#00a8d8;
	text-align: center;
}
.content-element .news-amenu-item-year {
	font-weight: bold;
	border-bottom: 1px dotted #bbb;
	color:#000;
	font-size: 14px;
	text-align: left;
	margin: 0;
	padding: 0;
}

/*--------------------------------- tt_news Categorymenu (CATMENU) --------------------------------- */


.content-element .news-catmenu  {
	padding:5px;
	margin:10px 5px 10px 0;
	border:1px solid #888;
	background-color:#fff;
}
.content-element .news-catmenu .news-catmenu-header {
	font-size:11px;
	font-weight:bold;
}
.content-element .news-catmenu DIV {
	font-size:10px;
	white-space: nowrap;
}
.content-element .news-catmenu DIV img, .content-element .news-catmenu img, .content-element .news-catmenu .news-catmenu-header img {
	margin:0px;
	padding: 0px;
	vertical-align: middle;
}


.content-element .news-catmenu .news-catmenu-ACT {
	font-weight:bold;
	background-color: #dedede;	
}
.content-element .news-catmenu .news-catmenu-ACT a:link, .content-element .news-catmenu .news-catmenu-ACT a:visited {
	margin: 2px 0 0 0;
	padding: 0 5px 0 5px;
	color: #444;
	text-decoration: none;
}
.content-element .news-catmenu .news-catmenu-ACT a:hover, .content-element .news-catmenu .news-catmenu-ACT a:active {
	margin: 2px 0 0 0;
	padding: 0 5px 0 5px;
	color: #444;
	text-decoration: underline;
}

.content-element .news-catmenu .news-catmenu-NO {
	font-weight:bold;
	background-color: #fff;
}

.content-element .news-catmenu .news-catmenu-NO a:link, .content-element .news-catmenu .news-catmenu-NO a:visited {
	margin: 2px 0 0 0;
	padding: 0 0 0 5px;
	color: #000;
	text-decoration: none;
}
.content-element .news-catmenu .news-catmenu-NO a:hover, .content-element .news-catmenu .news-catmenu-NO a:active {
	margin: 2px 0 0 0;
	padding: 0 0 0 5px;
	color: #444;
	text-decoration: underline;
}


/*  Styles for catmenu mode "nestedWraps" */
.content-element .level1 {
	padding:1px 10px 10px 10px;
	background-color:#fff;
	border-left:1px solid #666;
	border-top:1px solid #666;
}
.content-element .level2 {
	padding:1px 10px 10px 10px;
	background-color:#fff;
	border-left:1px solid #666;
}
.content-element .level3 {
	padding:1px 10px 10px 10px;
	background-color:#fff;
	border-left:1px solid #666;
	border-top:1px solid #666;

}
.content-element .level4 {
	padding:1px 10px 10px 10px;
	background-color:#fff;
	border-left:1px solid #666;
}

