/* Porte (theme common)

Company : Vente-privee.com
Project : VP4 (Front)
Support : Media Screen

Version : V 0.1
Date : 01  2008
Author : David GALL

*/



	/* MODIFICATION COLORIS COMMUN			 */
	/*****************************************/
	
		body { background-color: #ead6b0; }
		h2 { color:#fff; }
		.formBloc input.logIn { color:#fff; }
		#footer,#footer a,#footer a:hover { color: #000; }
		
	/****************************************/



	/* AFFICHAGE des lments de porte BLANC */			 /* A Masquer/Demasquer */
	/****************************************/
    	
		h1 {
			background-image: url(http://fr.vente-privee.com/VP4/_web/site/theme/_common/images/door_logo-white.png) !important;
			background-image: none;
			_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='../_web/site/theme/_common/images/door_logo-white.png');
		}
		p.international { color: #fff; }
		
		.formBloc fieldset label, 
		.formBloc p.signUp,
		.formBloc p.signUp a,
		.formBloc p.signUp a:hover { color: #FFF; }
		
	/****************************************/



	/* AFFICHAGE des lments de porte NOIR */			/* A Masquer/Demasquer */
	/****************************************/
		/*
		h1 {
			background-image: url(../images/door_logo-black.png) !important;
			background-image: none;
			_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='../_web/site/theme/_common/images/door_logo-black.png');
		}
		p.international { color: #000; }
		.formBloc p.signUp,
		.formBloc p.signUp a,
		.formBloc p.signUp a:hover { color: #000; }
		.formBloc fieldset label { color: #fff; }
		*/
		
	/****************************************/



	/* THEME VISUEL COMMUN		 			 */
	/*****************************************/
		
		body { background-image: url(http://fr.vente-privee.com/VP4/_web/site/theme/_common/images/door_bg.jpg); }
		.doorBloc { background-image: url(http://fr.vente-privee.com/VP4/_web/site/theme/_common/images/door_visual.jpg); }
		.formBloc input.logIn { background-image: url(http://fr.vente-privee.com/VP4/_web/site/theme/_common/images/door_submit.jpg); }
		.formBloc p.signUp { background-image: url(http://fr.vente-privee.com/VP4/_web/site/theme/_common/images/door_arrow_white.gif); }
		
	/*****************************************/
