/* CSS Menu principal */
.menu-principal {
	position:absolute;
	top:89px; left:0;	/*20090721 top:104px;	reduction header	*/
	width:967px; height:35px;
	text-align:center;
}
.menu-principal ul {
	width:auto; height:auto;
	margin:0; padding:0;
	list-style:none;
	text-align:center;
}
.menu-principal ul li {
	position:relative;z-index:1;
	float:left;
	width:auto; height:auto;
	margin:0 1px; padding:0 0 0 8px;
}
.menu-principal ul li a, .menu-principal ul li a:visited {
	margin:0; 
	padding:9px 8px 9px 0; 	/* 20090721	padding:10px 8px 11px 0px;*/
	font-size:11px; 
	font-weight:bold; 
	color:#FFFFFF; 
	display:block; 
	color:#FFFFFF;
}

.menu-principal ul li.onglet-vert {background:transparent url(onglet-vert-gauche.gif) left top no-repeat;}
.menu-principal ul li.onglet-vert a {background:transparent url(onglet-vert-droite.gif) right top no-repeat;}
.menu-principal ul li.onglet-orange {background:transparent url(onglet-orange-gauche.gif) left top no-repeat;}
.menu-principal ul li.onglet-orange a {background:transparent url(onglet-orange-droite.gif) right top no-repeat;}
.menu-principal ul li.onglet-marine {background:transparent url(onglet-marine-gauche.gif) left top no-repeat;}
.menu-principal ul li.onglet-marine a {background:transparent url(onglet-marine-droite.gif) right top no-repeat;}
.menu-principal ul li.onglet-rouge {background:transparent url(onglet-rouge-gauche.gif) left top no-repeat;}
.menu-principal ul li.onglet-rouge a {background:transparent url(onglet-rouge-droite.gif) right top no-repeat;}
.menu-principal ul li.onglet-turquoise {background:transparent url(onglet-turquoise-gauche.gif) left top no-repeat;}
.menu-principal ul li.onglet-turquoise a {background:transparent url(onglet-turquoise-droite.gif) right top no-repeat;}
.menu-principal ul li.onglet-jaune {background:transparent url(onglet-jaune-gauche.gif) left top no-repeat;}
.menu-principal ul li.onglet-jaune a {background:transparent url(onglet-jaune-droite.gif) right top no-repeat;}
.menu-principal ul li.onglet-violet {background:transparent url(onglet-violet-gauche.gif) left top no-repeat;}
.menu-principal ul li.onglet-violet a {background:transparent url(onglet-violet-droite.gif) right top no-repeat;}
.menu-principal ul li.onglet-marron {background:transparent url(onglet-marron-gauche.gif) left top no-repeat;}
.menu-principal ul li.onglet-marron a {background:transparent url(onglet-marron-droite.gif) right top no-repeat;}
.menu-principal ul li.onglet-vertturquoise {background:transparent url(onglet-vertturquoise-gauche.gif) left top no-repeat;}
.menu-principal ul li.onglet-vertturquoise a {background:transparent url(onglet-vertturquoise-droite.gif) right top no-repeat;}
.menu-principal ul li.onglet-elus {background:transparent url(onglet-vert-gauche.gif) left top no-repeat;}
.menu-principal ul li.onglet-elus a {background:transparent url(onglet-vert-droite.gif) right top no-repeat;}

.menu-principal ul li ul {
	clear:both;
	/* width:160px; */
	margin:0; padding:5px 0;
	list-style:none;
	z-index:999 !important; /* BKA : passer par dessus images twitter */
}
.menu-principal ul li ul li {
	float:none;
	width:auto; height:auto;
	margin:0; padding:5px 12px 5px 12px;
}

.menu-principal ul li ul li a, .menu-principal ul li ul li a:link, .menu-principal ul li ul li a:visited, .menu-principal ul li ul li a:hover {
	background:none;
	margin:0; padding:0;
	text-align:left;
	font-size:11px; font-weight:bold; 
	background:none; 
	color:#FFFFFF;
}

.ssmenu-vert {position:absolute;top:30px;left:0;width:auto;height:auto; background-color:#85a721;}	/* 20090721 top:35px;	reduction header	*/
.ssmenu-orange {position:absolute;top:30px;left:0;width:auto;height:auto;background-color:#f55e05;}	
.ssmenu-marine {position:absolute;top:30px;left:0;width:auto;height:auto;background-color:#02285f;}
.ssmenu-rouge {position:absolute;top:30px;left:0;width:auto;height:auto;background-color:#9d0122;}
.ssmenu-turquoise {position:absolute;top:30px;left:0;width:auto;height:auto;background-color:#027caf;}
.ssmenu-jaune {position:absolute;top:30px;left:0;width:auto;height:auto;background-color:#e6b002;}
.ssmenu-violet {position:absolute;top:30px;left:0;width:auto;height:auto;background-color:#5e136e;}
.ssmenu-marron {position:absolute;top:30px;left:0;width:auto;height:auto;background-color:#461d05;}
.ssmenu-vertturquoise {position:absolute;top:30px;left:0;width:auto;height:auto;background-color:#006466;}
.ssmenu-elus {position:absolute;top:30px;left:0;width:auto;height:auto;background-color:#85a721;}