.marge
{
	margin-left:8px;
	margin-right:8px;
	
}
.NumeroLigne
{
	font-family:verdana;
	font-size:22px;
	font-weight: bolder;
	font-style:normal;
	color:#013E80;
	
}

.Trajet
{
	font-family:verdana;
	font-size:12px;
	font-weight: normal;
	font-style:normal;
	color:#013E80;
}
.NomTransporteur
{
	font-family:verdana;
	font-size:11px;
	font-weight: normal;
	font-style:normal;
	color:#013E80;
}
.aNomTransporteur
{
	font-family:verdana;
	font-size:11px;
	font-weight: normal;
	font-style:normal;
	color:#013E80;
}
.aNomTransporteur:hover
{
	font-family:verdana;
	font-size:11px;
	font-weight: normal;
	font-style:normal;
	color:#FF7100;
}
.aTrajet
{
	font-family:verdana;
	font-size:12px;
	font-weight: bold;
	font-style:normal;
	color:#013E80;
}
.aTrajet:hover
{
	font-family:verdana;
	font-size:12px;
	font-weight: bold;
	font-style:normal;
	color:#FF7100;
}
.donneesTableau
{
	height:50px;
	background:white;
	padding-left:4px;
	padding-right:4px;
}
.cadreFieldset
{
	border:1px solid #0670AD;
}

.RechercheBus
{
	padding-top:20px;
	padding-bottom:15px;
	padding-left:20px;
	background-image:url(BusRechercheFond.gif);
	background-position:left top;
	background-repeat:no-repeat;
}
.LibelleRecherche
{
	font-family:verdana;
	font-weight:bold;
	font-size:12px;
	color:#0670AD;
}
span.BusNote
{
	color: #FF7100;
}