.TitreAffiche
{
	color:#023D81;
	font-weight:bold;
	font-family:Arial;
	font-size:14px;
	vertical-align:bottom;
	padding-left:0px;
}
.DatePub
{
	font-family:Arial;
	font-weight:normal;
	font-size:11px;
	color:#828282;
}
.resume
{
	font-size:12px;
	font-family:Arial;
	color:#000000;
}
