FIELDSET
{
	width:550px;
	padding-right:15px;
	padding-left:15px;
}

LEGEND
{	
	font-size:11px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #000000;	
	margin: 0px;
	padding-bottom:10px;
}
body
{
	font-size:12px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: white;	
	color :black;	
	margin: 0;
	padding: 0;
	text-align: center; /* pour corriger le bug de centrage IE */
	background-image:url(FondGeneral1.jpg);
	background-repeat:no-repeat;
	background-position:left top;
}


TD 
{
	font-size:12px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #000000;
}

a
{
	font-family:Verdana;
	/*font-size:10px;*/
	font-weight:bold;
	color:#0670AD;
	text-decoration:none;
}

a:hover
{
	font-family:Verdana;
	/*font-size:10px;*/
	font-weight:bold;
	color: #FF7100;
	text-decoration:none;
}


select
{
	font-size : 11px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;	
	color : #000000;	
	border: 1px solid Black;
}

input
{
	font-size : 11px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;	
	color : #000000;	
	border: 1px solid Black;
}

textarea
{
	font-size : 11px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;	
	color : #000000;	
	border: 1px solid Black;
}

p
{padding:0px;margin:10px 0}

form
{padding:0px;margin:0px}

.ancre 
{
	float:right;
	font-weight:normal;
	font-family: Verdana;
	font-size: 12px;
	text-decoration:none;
	text-align:right;
	margin-top:10px;
		
	padding-right:10px;

	padding-bottom:15px;
}