
.libelleMenu_m8
{
		
			/*vertical-align: middle;*/
			/*Pour gerer l'image et le texte*/
			height:25px;
			padding-left:30px;
			padding-top:5px;
			margin-top:2px;			

}
.libelleMenu_m8_over
{			
			/*vertical-align: middle;*/
			/*Pour gerer l'image et le texte*/
			height:25px;
			padding-left:30px;
			padding-top:5px;
			margin-top:2px;
}

/* classe CONTENT pour le menu m8 de niveau N0 */
		DIV.content_m8_n0 {
			font-family: Verdana;
			font-size: 12px;
			font-style: normal;
			font-weight: normal;
			
			color:white;

			padding-top:25px;
			width:140px;
			background-color:#8E9FA8;
			text-align:center;
			/*border:1px solid red;*/
		}


/* classe ITEM pour le menu m8 de niveau N1 */
		DIV.item_m8_n1 {
			padding-bottom:5px;
			padding-left:3px;
		}
		DIV.item_m8_n1_over {
			color: #F6AF77;
			padding-bottom:5px;
			padding-left:3px;
		}
		DIV.item_m8_n1_open, DIV.item_m8_n1_open_over{
			padding-left:3px;
		}
		DIV.item_m8_n1_over, DIV.item_m8_n1_open_over {
			color: #F6AF77;
			padding-left:3px;
			cursor: pointer;
		}

/* classe MENU pour le menu m8 de niveau N1 */
		DIV.menu_m8_n1 {
			/*border-right:1px solid #D1D1D1;			*/
			text-align: left;
			
			
		}
		DIV.item_m8_n1_over DIV.menu_m8_n1, DIV.item_m8_n1_open DIV.menu_m8_n1, DIV.item_m8_n1_open_over DIV.menu_m8_n1 {
			color: #F6AF77;
		}

/* classe LINK pour le menu m8 de niveau N1 */
		SPAN.link_m8_n1 {
			color:white;
			overflow: hidden;
			padding-top:0px;
			/*text-transform: uppercase;*/
		}
		DIV.item_m8_n1_over SPAN.link_m8_n1, DIV.item_m8_n1_open SPAN.link_m8_n1, DIV.item_m8_n1_open_over SPAN.link_m8_n1 {
			color: #F6AF77;
		}

/* classe CONTENT pour le menu m8 de niveau N1 */
	DIV.content_m8_n1 {
			
			font-family: Verdana;
			font-size: 9px;
			font-style: normal;
			font-weight: normal;
			text-align:right;
			display: none;
			
		}


		DIV.item_m8_n2, DIV.item_m8_n2_over, DIV.item_m8_n2_open, DIV.item_m8_n2_open_over {
			/*border-left: 1px solid #555555;
			border-right: 1px solid #555555;
			border-bottom: 1px solid #555555;*/
		}
		DIV.item_m8_n2_over, DIV.item_m8_n2_open_over {
			cursor: pointer;
		}

		DIV.menu_m8_n2 {
			padding: 2px 10px 2px 10px;
			margin-bottom:5px;
		}
		DIV.item_m8_n2_over DIV.menu_m8_n2, DIV.item_m8_n2_open DIV.menu_m8_n2, DIV.item_m8_n2_open_over DIV.menu_m8_n2 {
			background-color: #62738B;
		}

		SPAN.link_m8_n2 {
			color: #000000;
			overflow: hidden;
		}
		DIV.item_m8_n2_over SPAN.link_m8_n2, DIV.item_m8_n2_open SPAN.link_m8_n2, DIV.item_m8_n2_open_over SPAN.link_m8_n2 {
			color: #F6AF77;
		}
