div.FondMenuHautDessus
{
	/*width:990px;
	background-image:url(/img/fondMenum1.gif);
	background-position:top;
	background-repeat:	repeat-x;
	border:1px solid red;
	height: 30px;*/
}
/* classe CONTENT pour le menu m1 de niveau N0 */

DIV.content_m1Premier_n0 {
	cursor: pointer;
	text-align: left;
	z-index: 99;
	border-left:1px solid #508AB7;
	float:left;
}

/************************************************************************/
/**** NIVEAU 1 ************/
/************************************************************************/


/* classe ITEM pour le menu m1Premier de niveau N1 */
DIV.item_m1Premier_n1{
	float:left;
}


DIV.item_m1Premier_n1_over,DIV.item_m1Premier_n1_open,DIV.item_m1Premier_n1_open_over{
	float:left;
	display:block; 
	
} 

/* classe MENU pour le menu m1Premier de niveau N1 */
DIV.menu_m1Premier_n1{	
	
}


/* classe LINK pour le menu m1Premier de niveau N1 */
SPAN.link_m1Premier_n1 {
}

/************************************************************************/
/**** NIVEAU 2 ************/
/************************************************************************/
DIV.content_m1Premier_n1 {
	text-align: left;
	display: none;
	background-color:#508AB7;
	border: 1px solid white;
	margin: 2px 0px 2px 0px;
	padding: 8px 10px 8px 10px;
	z-index: 99;
}

		
DIV.item_m1Premier_n2{
	
	color: white;
}

		DIV.item_m1Premier_n2_open,DIV.item_m1Premier_n2_over,DIV.item_m1Premier_n2_open_over{
			color:#FF7100;
		}

		DIV.menu_m1Premier_n2 {
			
		}
		
		SPAN.link_m1Premier_n2 {
			font-family: Verdana;
			font-weight: normal;
			font-size: 12px;
			white-space: nowrap;
		}

	