.libelleMenu_m7
{
			
			
			
			
			

}
.libelleMenu_m7_over
{
			
			
			

}

/* classe CONTENT pour le menu m7 de niveau N0 */
		DIV.content_m7_n0 {
			font-family: Arial,verdana;
			font-size: 12px;
			font-weight: bold;
			text-align:left;
			
		}


/* classe ITEM pour le menu m7 de niveau N1 */
		DIV.item_m7_n1 {
			color:#FFFFFF;
		}
		DIV.item_m7_n1_over, DIV.item_m7_n1_open, DIV.item_m7_n1_open_over {
			color: #F6AF77;
		}
		DIV.item_m7_n1_over, DIV.item_m7_n1_open_over {
			cursor: pointer;
			color: #F6AF77;
		}

/* classe MENU pour le menu m7 de niveau N1 */
		DIV.menu_m7_n1 {
			/*border-right:1px solid #D1D1D1;			*/
			background-image:url(PictoFlecheMenu.gif);
			background-position:8px 2px;
			background-repeat:no-repeat;
			padding-bottom:5px;	
			padding-left:26px;	
		}
		DIV.item_m7_n1_over DIV.menu_m7_n1, DIV.item_m7_n1_open DIV.menu_m7_n1, DIV.item_m7_n1_open_over DIV.menu_m7_n1 {
			
		}

/* classe LINK pour le menu m7 de niveau N1 */
		SPAN.link_m7_n1 {
			
			overflow: hidden;			
		}
		DIV.item_m7_n1_over SPAN.link_m7_n1, DIV.item_m7_n1_open SPAN.link_m7_n1, DIV.item_m7_n1_open_over SPAN.link_m7_n1 {
			/*color: #FF7100;*/
		}

/* classe CONTENT pour le menu m7 de niveau N1 */
/*	DIV.content_m7_n1 {
			background-color: #FFFFFF;
			border-top: 1px solid #555555;
			display: none;
			position: absolute;
		}


		DIV.item_m7_n2, DIV.item_m7_n2_over, DIV.item_m7_n2_open, DIV.item_m7_n2_open_over {
			border-left: 1px solid #555555;
			border-right: 1px solid #555555;
			border-bottom: 1px solid #555555;
		}
		DIV.item_m7_n2_over, DIV.item_m7_n2_open_over {
			cursor: pointer;
		}

		DIV.menu_m7_n2 {
			padding: 2px 10px 2px 10px;
		}
		DIV.item_m7_n2_over DIV.menu_m7_n2, DIV.item_m7_n2_open DIV.menu_m7_n2, DIV.item_m7_n2_open_over DIV.menu_m7_n2 {
			background-color: #62738B;
		}

		SPAN.link_m7_n2 {
			color: #000000;
			overflow: hidden;
		}
		DIV.item_m7_n2_over SPAN.link_m7_n2, DIV.item_m7_n2_open SPAN.link_m7_n2, DIV.item_m7_n2_open_over SPAN.link_m7_n2 {
		}
*/