/* classe CONTENT pour le menu mSommaire de niveau N0 */
		DIV.content_mSommaire_n0 {
			float:left;
			margin-left:20px;
			font-family: Verdana;
			font-size: 13px;
		}


/* classe ITEM pour le menu mSommaire de niveau N1 */
		DIV.item_mSommaire_n1 {
			margin-top:15px;
			width:325px;
		}
		
		DIV.menu_mSommaire_n1 {
			text-align: left;
			padding-top:2px;
			padding-bottom:2px;
			padding-left:5px;
			/*background-color:#F7F7F7;*/

		}
		
		a.link_mSommaire_n1 {
			color: #0670AD;
			overflow: hidden;
			text-decoration:none;
			font-family: Verdana;
			font-size: 13px;
		}
		
		a.link_mSommaire_n1:hover{
			color: #FF7100;
			text-decoration:underline;
			font-family: Verdana;
			font-size: 13px;
		}	
		

		
/* classe ITEM pour le menu mSommaire de niveau n2 */

		DIV.content_mSommaire_n1 {
			float:left;
			margin-left:22px;
			font-family: Verdana;
			font-size: 11px;
		}

		DIV.item_mSommaire_n2 {
			margin-top:5px;
			clear:both;
			float:left;
			width:300px;
		}
		
		a.link_mSommaire_n2 {
			color: #0670AD;
			overflow: hidden;
			text-decoration:none;
			font-family: Verdana;
			font-size: 11px;
			font-weight:normal;
		}
		
		a.link_mSommaire_n2:hover{
			color: #FF7100;
			text-decoration:underline;
			font-family: Verdana;
			font-size: 11px;
			font-weight:normal;
		}