.univers_bloc_actus{
	clear:both;
	float:left;
	padding-left:5px;
	width:100%;
}

.univers_actus_date{
	font-family:Arial;
	font-weight:bold;
	font-size:11px;
	color:#0670AD;
}

.univers_actus_titreMain{
	font-family:Arial;
	font-weight:bold;
	font-size:18px;
	color:#FF7100;
}

a.univers_actus_cat{
	font-family:Arial;
	font-weight:normal;
	font-size:11px;
	color:#8E9FA8;
	text-decoration:none;
}

a.univers_actus_titre{
	font-family:Arial;
	font-weight:bold;
	font-size:11px;
	color:#505A5F;
	text-decoration:none;
}

a.univers_actus_titre:hover{
	font-family:Arial;
	font-weight:bold;
	font-size:11px;
	color:#FF7100;
	text-decoration:underline;
}

a.univers_actus_cat:hover{
	font-family:Arial;
	font-weight:normal;
	font-size:11px;
	color:#FF7100;
	text-decoration:underline;
}

.univers_actus_titre{
	font-family:Arial;
	font-weight:normal;
	font-size:11px;
	color:#505A5F;
}

.univers_actus_lien{
	font-family:Verdana;
	font-weight:bold;
	font-size:11px;
	color:#0670AD;
	text-decoration:none;
}

.univers_actus_lien:hover{
	font-family:Arial;
	font-weight:bold;
	font-size:11px;
	color:#FF7100;
	text-decoration:underline;
}

div.univers_titrePage{
	float:left;
	padding-left:10px;
	margin-bottom:20px;
}

span.univers_titrePage{
	font-family:Arial;
	font-size:22px;
	font-weight:normal;
	color:#747d8c;
}