.rubrique-detente div.titre-agenda{
	background: transparent url('puce_titres_detente.gif') no-repeat;
	padding-left:12px;
}

.rubrique-culture div.titre-agenda{
	background: transparent url('puce_titres_culture.gif') no-repeat;
	padding-left:12px;
}

.rubrique-sport div.titre-agenda{
	background: transparent url('puce_titres_sport.gif') no-repeat;
	padding-left:12px;
}