/*
-----------------------------------------------
Style "Nantes.fr" polices taille nominale

media:    all
auteur:   Matthieu Faure 
version:  12/06/2007

Remarques:
- s'appuie sur les CSS "reset" et "fonts" v2.2.2 de YUI http://developer.yahoo.com/yui/
- doit etre appele *apres* "reset" et "fonts"
- ne contient QUE des font-size (ou valeurs dependantes de font-size)
- /!\ respecter l'ordre des regles CSS
----------------------------------------------- */

/* taille de base */
#doc {
	/*font-size: 45.73%;*/
	/*font-size: 69.38%;*/
	font-size: 82.73%;
	/*font-size: 92.5%;*/ /* 12px */
	/*font-size: 111%;*/
	/*font-size: 138.75%;*/
	/*font-size: 185%;*/
}


/* gabarit accueil
----------------------------------------------- */
.accueil h2,
.accueil #content h1,
.accueil #footer-nav h2 {
	font-size:167%;
}

.accueil #content h3 {
	font-size:122%;
}

/* gabarit article
----------------------------------------------- */
.article #content-titre-rubrique {
	font-size:136%;
}

.article #content h2 {
	font-size:122%;
}

.article #content h3 {
	font-size:110%;
}

.article #content h1,
.article #footer-nav h2 {
	font-size:167%;
}

/* gabarit article-3colonnes
----------------------------------------------- */
.article-3colonnes #content h1,
.article-3colonnes #footer-nav h2 {
	font-size:167%;
}

.article-3colonnes #content h2,
.article-3colonnes #extra-content h2 {
	font-size:122%;
}

.article-3colonnes #content h2,
.article-3colonnes #extra-content h2 {
	font-size:110%;
}

/* classes generiques
----------------------------------------------- */
.contenu-plus-info h2 {
	font-size:122%;
}