/* styles pour le RTE */
/*
h2.fond_rouge {background-color:red;}
h2.fond_vert {background-color:green;}
*/
.fond_rouge {background-color:red;}
.fond_vert {background-color:green;}

a.lien_petite_taille{font-size:80%;}

/*table.bord_bas{border-bottom:1px solid red;}*/
table.bord_bas{background:red;}
table.bord_bas td{border-bottom:1px solid red;}

.bord_bas {border-bottom:1px solid red;}