/*****Reset*****/
# html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,
# pre, form, fieldset, table, th, td { margin: 0; padding: 0; }

*{
	margin:0;
	padding:0;

}

/*****Basic Elements*****/
body {
	background-color: #FFFFFF;

	background-position: center top;
	margin: 0px;
	padding: 0px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	background-repeat: no-repeat;
}
.print{display:none;}
img{border:0;}
em{font-style:italic;}
strong{font-weight:bold;}
acronym{cursor:help; border-bottom:1px dotted;}
a:focus, a:active, button, input, select, textarea {outline:none; }
.clear{clear:both;}
.fleft{float:left;}
.right{float:right;}


/*****Basic Layout*****/
#structure{
	background-repeat: no-repeat;
	background-position: center bottom;

	
}
#page{
	
}
#container{
	width:990px;
	margin: 0 auto;
	text-align: left;
}

#footer{
	
}

#pagecontent{
	min-height:550px;
	font-size:12px;
	line-height:17px;
	
}
#pagecontent p{
	margin-bottom:17px;
	line-height:17px;
	
}


h1{
	font-size:20px;

}




/*****Communs*****/
h1{

	font-size:20px;

}

h2{
	font-size:16px;
	padding-bottom:10px
}


h3{
	color:#fffff;
	font-weight:bold;
	font-size:14px;
}

h4{
	color:#fffff;
	font-weight:bold;
	font-size:12px;
}

a{
	color:#f82d2d;
}

/*****Home*****/

#news{
	background-image: url(bgNews.png);
	padding: 15px;
	height: 560px;
	width: 268px;
	float:left;
	text-align:center
}
#newscontent{
	text-align:left;
	margin:10px 5px 0 0;
}

#news dt{
	float:left;
	background-image: url(bgDateNews.png);
	background-repeat: no-repeat;
	font-weight:bold;
	width:52px;
	height:38px;
	padding: 7px 0 0 9px;
	font-size:10px

	
}
#news dd{
	margin:0 0 10px 0;
	padding: 0 0 10px 60px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e5e5e5;
}

#newsnav{
	text-align:right;
}
#newsnav img{
	margin:10px 8px 0 0
}


#affiche{
	background-image: url(bgHighLight2.png);
	padding: 20px 15px 15px 15px;
	height: 370px;
	width: 573px;
}

#affiche a{
	color:#000000;
	text-decoration:none;
}
.colaffiche{
	float:left;
	margin: 5px;
	width: 175px;
}
.colaffiche h4{
	margin-top:5px;
	color:#f81e1e
}

#videohome{
	margin:7px 0 10px 20px;
	float:left
}
#newsletter{
	margin:7px 0 0 20px;

}

#invitfacebook img{
		margin:10px 0px 0 50px;
}




#journal{
	width:872px;
}
#journalContent{
	background: url(journalBg.png) repeat-y left top;
	padding: 0px 65px 10px 60px;
	line-height:15px;

}

#journal a{
	color:#000000;
	text-decoration:none;
	
}

/*****Fiche*****/
#fiche{
	width:975px;
	background-image: url(fichebg.gif);
	background-repeat: repeat-y;
	position:relative;
	min-height:500px;
	_height:500px;
}


#titrefiche{
	background-image: url(ficheTop.png);
	background-repeat: no-repeat;
	height: 47px;
	width: 854px;
	padding-left:210px;
}


#menufiche{
	float:left;
	background-image: url(fichedatebg.gif);
	background-repeat: repeat-y;
	width: 208px;

	
}
#menutitre{
	background-image: url(fichedatetop.gif);
	background-repeat: no-repeat;
	background-position: top;
	padding:10px 0 0 25px;
	


}
#menufiche #menutitre p{
 	padding:0;
	margin:0;
	color:#FFF;
	background-color:#000000;
	padding:5px;
	font-size:13px;
	font-weight:bold;
	width:150px;
	text-align:center;
}

#menufiche ul{
	padding:0 10px 10px 10px;
	list-style-type: none;	
	text-align:center;
}
#menufiche li{
	padding:8px 0 8px 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e5e5e5;
	font-weight:bold;
	font-size:13px;
}
#menufiche li a{
	color:#000000;
	text-decoration:none;
}

#menufiche #footmenu{
	background-image: url(fichedatefoot.gif);
	background-position: bottom;
	background-repeat: no-repeat;
	height: 40px;
}
#menufiche #navdates{
	background-image: url(fichedatebtn.png);
	background-repeat: no-repeat;
	font-weight:bold;
	color:#FFFFFF;
	font-size:11px;
	width:186px;
	height:22px;
	text-align:center;
	padding-top:7px;
	margin-left:10px;

}
#menufiche #navdates a{
	color:#FFFFFF;
	text-decoration:none;

}
#contentfiche{
	float:left;
	width:460px;
	padding:10px 20px 10px 20px;
	background-image: url(fichebgInner.gif);
	background-repeat: no-repeat;
	background-position: right bottom;

}

#datefiche{
	background-color:#EAEAEA;
	width:280px;
	font-size:15px;
	font-weight:bold;
	text-align:center;
	padding:5px 5px 5px 5px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #333333;
	border-bottom-color: #333333;
}
#descriptionfiche{
	width:400px;
	margin:20px;
}

#colfiche{
	position:absolute;
	top:0px;
	left:680px;
	width:288px;
}
#footfiche{
	background-image: url(fichefooter.png);
	height: 25px;
	width: 854px;
}
#otherFiche{
	color:#666666;
	margin:20px 0;
	}
	
/*********** Page *************/
#page{
	width:940px;
	background-image: url(pageBg.png);
	background-repeat: no-repeat;
	min-height:670px;
	_height:670px;
	
}
#coleft{
	margin-top:30px;
	width:204px;
	float:left;
}
#menupage{
	background-image: url(pageMenuBg.gif);
	background-repeat: repeat-y;	

}

#menupagetitre{
	background-image: url(pageMenuTop.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top:10px;
	text-align:center;
	width:204px;
	padding:20px;
}

#menupage ul{
	background-image: url(http://www.rockenseine.com/2010/_img/pageMenuFoot.png);
	background-position: bottom;
	background-repeat: no-repeat;
	padding:0 10px 10px 20px;
	list-style-type: none;	

}

#menupage li{
	padding:8px 0 8px 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	font-weight:bold;
	color:#FFF
}

#menupage a{
	color:#FFF;
	text-decoration:none;
}
#menupage #footmenu{
	background-image: url(pageMenuFoot.gif);
	background-position: bottom;
	background-repeat: no-repeat;
	height: 38px;
}
#content{
	float:left;
	width:695px;
	margin:15px 0 0 15px;
}
#content #inner{
	padding:10px 50px 10px 10px;
}

#content li{
	margin:5px 0 5px 0;
}
#content ul{
	margin:0 0 15px 30px;
}

#content h3{
	color:#f82d2d;
	margin:10px 0 15px 0;
}

#page h1, #page h2{
	margin:15px 0 5px 0;
	font-size:20px;
	color:#f82d2d;
}


/**************************BILLETTERIE*********************************/

.billetdate{
	background-image: url(dateBg.gif);
	background-position: bottom;
	width:685px;
	padding:0 0 20px 10px;
	background-repeat: no-repeat;
	clear:both;

}

.billetdate p{
	float:left;
	margin:10px 0 0 10px;
	font-size:14px;
	width:380px;
}
.prix{
	color:#f82d2d;
	font-weight:bold
}
.btnbook{

}


.endcol{
	width:204px;
	height:302px;
	background-image: url(bgcolbilletterie.gif);
	background-repeat: no-repeat;
	background-position: right top;
}


#billetpart1{
	background-image: url(dateFnacBg.gif);
	background-repeat: no-repeat;
	height:90px;
	margin:10px 0 0 0;
	font-weight:bold;
	color:#FFFFFF;
	padding:20px 20px 0 125px;
	clear:both;
}

#billetpart2{
	background-image: url(dateDigitickBg.gif);
	background-repeat: no-repeat;
	height:54px;
	font-weight:bold;
	color:#FFFFFF;
	padding:10px 20px 0 10px;
	clear:both;
}


#billetpart1 img, #billetpart2 img{
	float:right;
	margin-left:5px
}
.light{
	font-weight:normal;
}
#billetscomplements{
	background-image: url(dateCompBg.gif);
	background-repeat: repeat-y;

}

#billetscompinner{
	background-image: url(dateCompTop.gif);
	background-repeat: no-repeat;
	background-position: top;
	padding:50px 20px 0px 20px;
}
#billetscompinneren{
	background-image: url(dateCompTop_en.gif);
	background-repeat: no-repeat;
	background-position: top;
	padding:50px 20px 0px 20px;
}
#billetscompinner h3{
	color:#f82d2d;
}
#billetscompfoot{
	background-image: url(dateCompFoot.gif);
	height: 17px;
}

/*************************** SOUVENIRS ***********************/

#souvenirs{
	width:937px;
	padding-left:50px;

}


/*************************** PROGRAMME ***********************/

#program{
	width:937px;
	background-image:url(programBg.png);
	background-repeat: repeat-y;
}
#program table{
	margin:10px 0 0 20px;
	font-size:18px;
	font-weight:bold;
	color:#FFFFFF;
}

#programTop{
	background-image: url(programTop.png);
	background-repeat: no-repeat;
	height: 17px;

	
}
#programFoot{
	background-image: url(programFoot.png);
	background-repeat: no-repeat;
	height: 19px;
}

.programVendredi{
	background-image: url(programDate1.gif);
}
.programSamedi{
	background-image: url(programDate2.gif);

}

.programDimanche{
	background-image: url(programDate3.gif);

}
.programFriday{
	background-image: url(programDate1_en.gif);
}
.programSaturday{
	background-image: url(programDate2_en.gif);
}
.programSunday{
	background-image: url(programDate3_en.gif);
}
.programVendredi, .programSamedi, .programDimanche, .programFriday, .programSaturday, .programSunday{

	background-repeat: no-repeat;
	background-position: top;
	width:282px;
	padding:35px 20px 50px 0px;
	vertical-align: top;
	
	height:380px;
}
#program li {
	padding:2px 0 2px 0;
	/*padding:12px 0 22px 0;
	background-image: url(../_img/star.gif);
	background-repeat: no-repeat;
	background-position: center bottom;*/
	
	list-style-type: none;
	text-align:center;
	line-height:25px;
}
#program li:last-child{
	background:none;
}
#program li a{
	color:#FFFFFF;
	text-decoration:none;
}

#program .listartiste{
	text-align:left;
}

.artistFirst{
	font-size:25px;
}

#program .horaire{
	font-size:14px;color:#CCCCCC;float:left;padding-left:10px;
}
#program .salle{
	color:#f9f200;font-size:20px;text-align:center;
	padding:30px 0 0px 0;
	margin:10px 0 10px 0;
	background-image: url(star.gif);
	background-repeat: no-repeat;
	background-position: center top;
}
#program .artistename{
	margin-left:70px;
}