@import "content.css";
@import "navi_2009.css";
@import "css_styled_content_2009.css";
@import "kommentare.css";
@import "tx_styles_2009.css";
@import "FCE_2009.css";

body {
	background-color: #f0f0f3;
/*	font-family: Arial, Helvetica, sans-serif;
*/
	font-family: verdana;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}
a {
	outline-style:none;
	outline-width:0;
}

#topBanner {
	height: 91px;
	background-color: #999999;	
}

.navi_header {
	color: #ffffff;
	background-color: #a80847;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 6px;
}
.left_navi_table .left_navi_no, .left_navi_table .left_navi_no_letzter {
	padding: 5px;
	border-bottom: 1px solid #bacad5;
	background-image: url(navi_icon.gif);
	background-repeat: no-repeat;
	background-position: 2px center;
}
.left_navi_table .left_navi_no_letzter {
	border: 0;
}

.left_navi_table .telefonkontakt {
	padding: 5px 5px 5px 17px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bacad5;
	
	background-image: url(navi_icon.gif);
	background-repeat: no-repeat;
	background-position: 2px 7px;
	
	color: #618094;
}

.left_navi_table .telefonkontakt .telefonkontakt_zusatz {
	text-transform: none;
}


.date {
	font-size: 10px;
	padding: 5px 0 0 20px;
	float: left;
}
.header_block {
	background-color: #618094;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
	line-height: 16px;
}


#topbanner {
	height: 146px;
	width: 853px;
}

td.content {
	padding: 10px 20px;
}
td.rechte_spalte {
	padding: 10px 30px;
}
.rote_linie {
	border-top: 1px solid #a80847;
}

.left_navi_table {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #a80847;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
}
.left_navi_table .left_navi_no a, .left_navi_table .left_navi_no_letzter a {
	padding-left: 12px;
	color: #000000;
	text-decoration: none;
}
.left_navi_table .left_navi_no a.spzial, .left_navi_table .left_navi_no_letzter a.spzial {
	color: #999f9a;
}
.left_navi_table .left_navi_act {
	padding: 5px;
	border-bottom-width: 1px solid #bacad5;
	background-image: url(navi_icon.gif);
	background-repeat: no-repeat;
	background-position: 5px center;
	background-color: #dce4ea;
}


.left_navi_table .left_navi_2_abschluss {
	border-bottom-width: 1px solid #a80847;
}

.left_navi_table .left_navi_act a {
	padding-left: 15px;
	color: #000000;
	text-decoration: none;
}
.left_navi_table .left_navi_2_no {
	padding: 4px;
}
.left_navi_table .left_navi_2_no a {
	display: block;
	padding-left: 12px;
	color: #618094;
	text-decoration: none;
}

.login {
	color: #a80847;
	font-size: 9px;
	width: 90px;
	border: 1px solid #698699;
	border-bottom: 1px solid #849cac;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


.footer_grau {
	color: #6a6d6e;
	padding-top: 2px;
	padding-right: 0;
	padding-bottom: 3px;
	padding-left: 2;

}

.footer_grau a {
/*	font-size: 9px;
*/	color: #6a6d6e;
	text-decoration:none;
/*	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
*/
}

.footer_schwarz a {
/*	font-size: 9px;
*/	color: #000;
	text-decoration:none;
/*	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
*/
}

.footer_copyright {
/*	font-size: 7px;
	text-transform: uppercase;
*/	padding-top: 5px;
/*	font-family: Arial, Helvetica, sans-serif;
*/	color: #000000;
	font-weight: bold;
}