.content ul {
	padding: 0;
	margin: 5px 15px;
} 
.content ol  {
	padding: 0;
	margin: 5px 20px;
} 
.content li {
	padding: 0 0 0 30px;
}

/* Newsletter Registrierungs Formular */
.tx_directmail_subscription .newsletter_reg_check input {
	width: 20px;
	margin: 0 0 0 20px;
}


/* tt_news Templateanpassung für Ticker */

.ticker-list-container {
	background: #e5edf3;
	padding: 5px 13px 5px 13px;
	margin: 7px 0 6px 0 ;

}
.ticker-list-container .news-list-item {
	padding: 0;
	margin: 0;
}

.ticker-list-container .news-list-item h1 {
	font-size: 12px;
	font-weight: bold;
	font-color: #a80847;
}

.ticker-list-container .news-list-item h1 .ticker_date{
	color: black;
}

.ticker-list-container .redline {
	border-bottom: 1px solid red;
	clear: both;
}

.ticker_date {
	padding-top:7px;
	float: right;
	color: black;
	font-size: 10px;
}

.news_list_date_ticker {
	padding-top:9px;
	float: right;
	color: black;
	font-size: 10px;
}

.news_list_date {
	padding-top:5px;
	float: right;
	color: black;
	font-size: 10px;
}

.news_single_date_ticker {
	padding-top:13px;
	float: right;
	color: black;
	font-size: 10px;
}
.news_single_date {
	padding-top:3px;
	float: right;
	color: black;
	font-size: 10px;
}



p {
	padding: 0 0 5px 0 ;
	margin: 0;
}

h1 { margin:0; font-size: 16px; color: #000; font-weight:bold;}
.content h1.csc-firstHeader {margin:20px 0 10px 0;}
.content h1 {margin:5px 0}

.content h1 a {
	color: black;
}
.content h1 a:hover {
	text-decoration: underline;
}


h2 { margin:0; margin:0; font-size: 12px; color: #a80847; text-transform:none; /*letter-spacing: 0.3em;*/}

h6 {
	background-color: #b3cbd6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	padding: 2px 36px 2px 2px;
	margin: 10px 0 20px 0 ;
	line-height: 16px;
	display: inline;
	text-transform: none;
}

/*
.csc-header {
	padding-bottom: 10px;
}
*/
h3 {
	font-size: 15px;
	font-weight: bold;
	color: #a80847;
	padding:0;
	margin:0;
}

h4 {
	padding: 0;
	margin: 0;
	color: #a80847;
	font-size: 12px;
	
}


fieldset.csc-mailform{
	width: 360px;
	border: 1px solid #4c7f94;
	padding: 10px;
	background-color: #fafafa;
}


fieldset.csc-mailform fieldset {
	border: 0px solid #a80847;
	padding: 10px 0 10px 20px;
}

div.csc-mailform-field {
	padding: 3px 0 ;
}
.csc-mailform-radio legend {
	color: black;
	padding-left: 0px;
	margin: 0;
}

div.csc-mailform-field label {
	display: block;
	float: left;
	width: 100px;
	padding: 0 0 0 20px;
}

div.csc-mailform-field-check {
	padding: 0 0 0 20px;	
}

div.csc-mailform-field input, div.csc-mailform-field textarea {
	width: 200px;
}	

input.csc-mailform-submit {
	margin: 20px 0 20px 120px;
}

div.csc-mailform-field span.csc-mailform-label {
	padding-left: 27px;
}






.csc-frame-rulerAfter {
/*	border-top: 1px dashed #ccc;
*/
	height: 1px;
	background-image: url(http://www.jungefreiheit.de/fileadmin/templates/images/bgRuler.gif);
	background-repeat: repeat-x;
	margin: 10px 0;
}

.news-single-item {
	padding: 0 0 25px 0 ;
}
.news-single-item p{
	padding: 7px 0;
}

.news-single-item h1 {
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0 0 0;
	margin:0;
}
.news-single-item h3 {
	font-size: 15px;
	font-weight: bold;
	color: #a80847;
	padding:0;
	margin:0;
}
p.news-single-author {
	padding:0;
	margin:0;
	font-size: 10px;
}

.news-single-img {
	background-color: #bacad5;
	float: right;
	padding: 0;
	margin: 10px 0 0 10px;
	width: 250px;
}
p.news-single-imgcaption {
	padding:2px 5px;
	margin:0;	
	border-bottom: 10px solid #fff;
	font-size: 10px;

}



.news-list-item {
	clear: both;
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;

}

.news-list-image {
	float: right;
	padding: 0 0 5px 10px ;
}
.news-list-item h1 {
	font-size: 15px;
	font-weight: bold;
	color: #a80847;
	padding: 5px 0 ;
	margin:0;
}

h2.news-list {
	font-size: 12px;
	font-weight: bold;
	padding:0;
	margin:0;
	color:black;
	background-color: white;
}


.news-list-item h2 p {
	padding:0;
	margin:0;

}
.news-list-item p {
	padding:0;
	margin:0;
}

.news-list-morelink {
	float: right;

}


/* Content Frames */

.csc-frame-frame1 {
	border: 1px solid #eee;
	background: #f7f7f7;
	padding: 5px 8px;
}	