/* CSS Document */
/* --------------------------------------------------------------------------------------------- Visuels */
	#visuel {
		position:absolute;
		top:210px;
		left:10px
	}
/* --------------------------------------------------------------------------------------------- Main */
/* ------------------------------------------------------------------------- Top */
	#main #top {
		width:830px;
		min-height:190px;
		background:#f5fae3;
		padding:10px
	}
	* html #main #top {height:190px}
/* ----------------------------------------------------- Nuage de tags */
	#main #top #nuage_tags {
		float:right;
		width:250px;
		line-height:1.6em
	}
	#main #top #nuage_tags li {
		display:inline;
		margin:0 5px 0 0
	}
	#main #top #nuage_tags li a {color:#648200}
/* ------------------------------------------------------------------------- Left */
/* ----------------------------------------------------- Onglets */
	#main #left #onglets li {float:left}
	#main #left #onglets li a {
		display:block;
		float:left;
		width:164px;
		height:35px;
		font-size:1.1em;
		font-weight:bold;
		background-position:left top;
		padding:12px 0 0 26px
	}
	#main #left #onglets li #onglet_1 {
		color:#e6473e;
		background-image:url(onglet_1.gif)
	}
	#main #left #onglets li #onglet_2 {
		color:#6d83c5;
		background-image:url(onglet_2.gif)
	}
	#main #left #onglets li #onglet_3 {
		color:#819a2d;
		background-image:url(onglet_3.gif)
	}
	#main #left #onglets li a:hover, #main #left #onglets li.ui-tabs-selected a {
		background-position:left bottom;
		text-decoration:none
	}
	#main #left #onglets li.ui-tabs-selected a {cursor:text}
/* ----------------------------------------------------- Fragment */
	#main #left div.ui-tabs-hide {display:none}
	#main #left div.fragment {
		float:left;
		width:538px;
		border:1px solid #e7e7e7;
		border-top:none;
		padding:0 15px
	}
/* --------------------------------- Fragment 1 */
	#main #left #fragment-1 {
		padding-top:20px;
		padding-bottom:20px
	}
	#main #left #fragment-1 li {
		float:left;
		width:33%;
		padding:15px 0
	}
	/*#main #left #fragment-1 li.last {clear:both}*/
	#main #left #fragment-1 li a {
		display:block;
		color:#646464;
		padding:0 0 0 9px
	}
	#main #left #fragment-1 li a:hover {
		color:#000;
		background:url(fleche_rouge.gif) no-repeat left 4px;
		font-weight:bold;
		text-decoration:none
	}
/* --------------------------------- Fragment 2 */
	#main #left #fragment-2 {padding-top:15px}
	#main #left #fragment-2 strong {
		color:#000000;
		margin:0 0 0 9px
	}
	/*#main #left #fragment-2 li {
		padding:10px 0 5px 20px;
		background:url(../../images/elements/fleche_bleue.gif) no-repeat left 13px;
	}*/
	#main #left #fragment-2 ul {
		padding:0 0 10px 0;
	}
	#main #left #fragment-2 ul li {
		padding:8px 0;
	}
	#main #left #fragment-2 ul li a {
		color:#646464;
		padding:0 0 0 9px
	}
	#main #left #fragment-2 ul li a:hover {
		 color:#000;
		background:url(fleche_bleue.gif) no-repeat left 4px;
		font-weight:bold;
		text-decoration:none
	}
	#main #left #fragment-2 li span {
		float:right;
		font-weight:bold;
		color:#6d83c5
	}
	/*#main #left #fragment-2 li a {
		color:#000;*/
		/*font-weight:bold*/
	/*}*/
	#main #left #fragment-2 li p {
		line-height:1.5em;
		text-align:justify
	}
	#main #left #fragment-2 a.toutes_actus {
		display:block;
		/*float:right;*/
		font-weight:bold;
		color:#6D83C5;
		margin:0 0 10px 0;
	}

/* --------------------------------- Fragment 3 */
	#main #left #fragment-3 {
		padding-top:15px;
		padding-bottom:20px
	}
	#main #left #fragment-3 strong {
		color:#000;
		margin:0 0 0 9px
	}
	#main #left #fragment-3 ul li {
		float:left;
		width:50%;
		padding:8px 0
	}
	#main #left #fragment-3 ul li a {
		display:block;
		color:#646464;
		padding:0 0 0 9px
	}
	#main #left #fragment-3 ul li a:hover {
		 color:#000;
		background:url(fleche_vert.gif) no-repeat left 4px;
		font-weight:bold;
		text-decoration:none
	}

/* ----------------------------------------------------- Widget */

	#main #left #widget {
		float:left;
		width:570px;
		height:81px;
		background:url('widget.jpg') no-repeat top left;
		margin:10px 0 0 0;
	}

	#main #left #widget img{
		float:left;
		margin:1px 8px 0 120px;
	}

	#widget label {
		display:block;
		font-size:0.8em;
		margin:5px 0 0 0;
	}

	#widget input#rech-commerce {
		width:230px;
		position:relative;
		top:5px;
	}

	#widget select#zone {
		width:132px;
	}

	#widget #submit-rechcom {
		position:relative;
		top:10px;
		left:5px;
	}


/* ------------------------------------------------------------------------- Right */
/* ----------------------------------------------------- Profil */
	#main #right #profil {
		background:#e6463c url(profil.gif);
		padding:10px 0 18px 10px;
		margin:0 0 15px 0
	}
	#main #right #profil label {
		display:block;
		text-transform:uppercase;
		font-size:1.2em;
		font-weight:bold;
		color:#fff;
		margin:0 0 5px 0
	}
	#main #right #profil select {
		width:150px;
		font-style:italic;
		color:#969696;
	}
/* ----------------------------------------------------- Portrait du mois */
	#main #right #portrait_mois {
		float:left;
		width:100%;
		margin:0 0 10px 0;
		background:#f0f3fa;
		padding:0 0 10px 0;
	}
	* html #main #right #portrait_mois {
		margin: 0;
	}
	#main #right #portrait_mois span {
		display:block;
		color:#000;
		font-weight:bold;
		font-size:1em;
		margin:0 0 6px 10px
	}
	#main #right #portrait_mois span.titre {
		background:#6D83C5 url(titre_portrait_mois.gif) no-repeat scroll left top;
		color:white;
		display:block;
		font-size:1.25em;
		height:40px;
		margin:0 0 5px;
		padding:9px 0 0 15px;
		width:235px;
		text-transform:uppercase;
	}
	#main #right #portrait_mois img {
		float:left;
		margin:10px 8px 1px 10px;
		border:1px solid #d9dce2;
		background:white;
		padding:3px;
	}
	#main #right #portrait_mois p {
		font-size:.9em;
		line-height:1.5em;
		padding:0 10px;
	}
	#main #right #portrait_mois p.chapo {
		line-height:normal;
		/*font-weight:bold;*/
		color:#000;
		margin:0 0 10px 0;
	}
	#main #right #portrait_mois a.lire_suite {
		display:block;
		margin:4px 0 0 10px;
		font-size:.9em;
		text-decoration:underline;
		color:#ff5a3c
	}
	#main #right #portrait_mois a.lire_suite:hover {text-decoration:none}
/* ----------------------------------------------------- Espace presse */
	#main #right #espace_presse {
		display:block;
		text-transform:uppercase;
		color:#E6463C;
		font-weight:bold;
		font-size:1.1em;
		text-decoration:underline
	}
	#main #right #espace_presse:hover {text-decoration:none}