/* Global definitions */
/* ----------------- */

/* default definitions for the whole page. */
.boxExpand{
	background-image:url('boxExpand.gif');
	background-repeat: no-repeat;
	height: 15px;
	right: 10px;
	top: 10px;
	width: 15px;
}

.boxCollapse{
	background-image:url('boxCollapse.gif');
	background-repeat: no-repeat;
	height: 15px;
	right: 10px;
	top: 10px;
	width: 15px;
}

.error_text {
	color:#EC6400;
}

.bu-grey-25 .bg-right span {
	color:#EC6400;
}

#site {
	background-color: #05578F;
	background-image:url(site.jpg);
	font-family: Verdana;
}

#site table {
	font-size: 11px;
}

#site table .sub{
	height: 100%;
}

#site .raise2 {
	top:-1px;
}

#site .text_headline {
	font-size: 11px;
}

#site .text_title {
	font-size:17px;
}

#site .button {
	display: block;
}

/* Header */
/* ------ */

/* position and dimension of the header and some default values*/
#header {
	color: black;
	font-family: Verdana;
	font-size: 11px;
}

/* position, dimension and image of the store logo*/
#header .logo {
	background-image:url('logo.png');
	background-repeat: no-repeat;
	height: 56px;
	right: 30px;	
	top: 15px;
	width: 230px;
	-left: 729px;
}			

/* position and dimension of the search-form */
#header #search {
	display: none;
	left: 145px;
	top: 46px;
}

/* position, dimension and image of the search label*/
#header #search .searchLabel{
	background-image:url('search.gif');
	background-repeat: no-repeat;
	height:21px;
	top:4px;
	width:59px;
} 

/* position of the header select element */
#header #search .searchCategory {
	left: 65px;
	width: 156px;
}

/* dimension of the header select element*/
#header #search select {
	border-left: 1px solid #CCCCCC;
	width: 100%;
}

/* position of the header input element */
#header #search .searchQuery {
	left: 223px;
	width:214px;
}

/* dimension of the header input element*/
#header #search input {
	width: 100%;
}

#header #search .searchSubmit {
	background-image:url('go.gif');
	background-repeat: no-repeat;
	height: 25px;
	left: 446px;
	width: 49px;		
}

/* position of the header links (newsletter and help) */
#links {
	padding:0;
	left:10px;
	top:15px;
}

/* definitions for li-navigation link elements */
#links li a {
	border-left:1px solid #CCCCCC;
	color: #CCCCCC;
	text-decoration: none;
}

/* vertical seperator between the header links (newsletter and help) */
#links .first a {
	border-left:2px solid #D75B00;
}

#links .eusite {
	background-color:#EC7F2E;
	border:2px solid #D75B00;
	padding-bottom:3px;
	padding-left:4px;
	padding-right:4px;
	padding-top:3px;
	color: #FFFFFF;
}

/* shopping cart */
#shoppingCart {
	background-image: url('shoppingCart.gif.1');
	background-repeat: no-repeat;
	height:35px;
}

#shoppingCart #shoppingCartBox {
	background-color: transparent;
	border: 0;
}

#shoppingCart #shoppingCartIcon {
	background-image:url(shoppingCart.gif.2);
	height:35px;
	left:0px;
	top:0px;
	width:36px;
}

#shoppingCart #shoppingCartText {
	color: #FFFFFF;
}

#shoppingCart .link {
	color: #EC6400;
}

#shoppingCart .content {
	background-color:#FFFFFF;
	border-top: 0;
}

#shoppingCart .sliderTarget {
	top:35px;
}

#shoppingCart #CEWE {
	border-top: 0;
}


/* account */
#header #account {
	left: 11px;
	height: 35px;
	background-image: url('account.gif');
	background-repeat: no-repeat;
}

#header #account #accountIcon {
	background-image: url('account.gif.1');
	left: 0px;
	top: 0px;
	height:35px;
	width:36px;
}

#header #account #accountTextBox {
	background-color: transparent;
	border: 0;
	height:35px;
}

#header #account #accountText {
	color: #FFFFFF;
}

#header #account #accountText a {
	color: #FFFFFF;
}


/* navigation */
#topnavlayer-container li.headline span {
	color:#EC6400;
}

#navigation {
	height: 35px;
}

#navigation li {
	height: 35px;
}

#navigation .separator {
	background-image: none;
	background-color: transparent;
	height: 35px;
	width: 2px;
}

#navigation .actionsspecial, #navigation .actionsspecialSelected {
	width: 115px;
}
#navigation .actionsspecial{
	background: url(actions.jpg) no-repeat;
}
#navigation .actionsspecialSelected {
	background: url(actionsSelected.jpg) no-repeat;
}


#navigation .promotionsspecial, #navigation .promotionsspecialSelected {
	width: 115px;
}
#navigation .promotionsspecial {
	background: url(flyer.jpg) no-repeat;
}
#navigation .promotionsspecialSelected {
	background: url(flyerSelected.jpg) no-repeat;
}


#navigation .groupspecial, #navigation .groupspecialSelected {
	width: 72px;
	margin-left: 0px;
}
#navigation .groupspecial {
	background: url(group.jpg) no-repeat;
}
#navigation .groupspecialSelected {
	background: url(groupSelected.jpg) no-repeat;
}


#navigation .jobs, #navigation .jobsSelected {
	width: 115px;
}
#navigation .jobs {
	background: url(jobs.jpg) no-repeat;
}
#navigation .jobsSelected {
	background: url(jobsSelected.jpg) no-repeat;
}


#navigation .servicespecial, #navigation .servicespecialSelected {
	width: 115px;
}
#navigation .servicespecial{
	background: url(service.jpg) no-repeat;
}
#navigation .servicespecialSelected {
	background: url(serviceSelected.jpg) no-repeat;
}


#navigationLeft a:hover, #navigationLeft a.selected {
	color: #EC6400;
}

#navigationLeft #myaccount {
	background-image: url('myaccount.bmp');
	background-repeat: repeat-x;	
	color: #FFFFFF;
}

#myAccount .red {
	color:#EC6400;
}

#myAccountCancelAccount #cancel_account_reason_5_row, #myAccountCancelAccount #cancel_account_reason_6_row {
	display: none;
}

#myAccountGiftcard .giftcardImage {
	display: none;
}

#myAccountGiftcard .giftcardInfo {
	display:none;
}

#myAccountGiftcard .line {
	display:none;
}

#myAccountNewsletter .checkbox_pair_left {
	display: none;
}

#myAccountNewsletter .checkbox_pair_right {
	float:left;
}

#myAccount #masterDataInfoSign {
	left:350px;
}

#navigationLeft .level0 {
	font-family: Verdana;
	font-size: 11px;
	padding:0 10px 0;	
}

#navigationLeft .level1 {
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
}

#navigationLeft .level2 {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
}

#footer {
	font-family:Verdana;
	font-size:10px;
}

#doormat {
	font-family: Verdana;
	font-size:10px;
}

#doormat div {
	color: #EC6400;
}

#doormat div.raquo {
	color: #EC6400;
}

#doormat .store ul.first {
	display:none;
}

#doormat .store ul.last {
	width:190px;
}

/* buttons */

/* Content left area */
/* ----------------- */
#contentLeft div.separator {
	border: 0px;
	margin-bottom: 5px;
}

#contentLeft {
	background-color:transparent;
}

#contentLeft .searchResultBox {
	background-color:#EC6400;
}

#newsletterTeaser {
	background: url(background_newsalert.jpg) no-repeat;
	background-color: transparent;
	height: 158px;
}

#newsletterTeaser .newsletterHead {
	background-image:url(newsalert.png);
	height: 66px;
	width: 184px;
}

#newsletterTeaser .newsletterText {
	position: absolute;
	font-size: 11px;
	left: 0px;
	margin-top: 5px;
	top: 33px;
	width: 115px;
}

#newsletterTeaser .newsletterInput {
	width:171px;
	-width:177px;
}

#newsletterTeaser .newsletterSubmit {
	margin-top: 10px;
	margin-left: 104px;
	-margin-left: 51px;
}

/* Content middle area */
/* ----------------- */

#contentMiddle .breadcrumb a:hover {
	color:#EC6400;
}

#contentMiddle .box1, #contentMiddle .box2First, #contentMiddle .box2Last {
	border: 1px solid #cccccc;
}

#contentMiddle .box3First, #contentMiddle .box3, #contentMiddle .box3Last {
	border: 1px solid #cccccc;
}

#contentMiddle #myStoreMainContent .block {
	line-height: 17px;
}

#contentMiddle #myStoreMainContent .outletlink {
	color: #EC6400;
}

#contentMiddle #myStoreMainContent #storeSelector td {
	line-height:normal;
}

#contentMiddle #myStoreMainContent #storeSelector a {
	color:#EC6400;
}

#contentMiddle #myStoreMainContent #storeSelector a:hover {
	color:black;
}

#contentMiddle #myStoreMarketSelector .selectbox {
	width:180px;
}

#contentMiddle #myStoreMainContent .outletRow {
	width:235px;
}

/* area newsletter in content middle*/
#newsletter {
	background-color:white;
	background-image: url('newsletter.gif');
	background-repeat: repeat-x;	
}

#newsletter .label {
	color: black;
}

/* Content right area */
/* ----------------- */

#contentRight .box1 {
	background-color: white;
	border: 1px solid #cccccc;
}

#sslBox .sslIcon {
	background-image: url(lock.gif);
}

/* my store content */
#contentRight #mystoreTeaser .mystorehead {
	background-image: url('head.gif');
	background-repeat:no-repeat;
}

#contentRight #mystoreTeaser .mystoremystore {
	background-image: url('myStore.gif');
	background-repeat:no-repeat;
}

#contentRight #mystoreTeaser .mystoreroute {
	background-image: url('route.gif');
	background-repeat:no-repeat;
}

#contentRight #mystoreTeaser .mystoreservices {
	background-image: url('services.gif.1');
	background-repeat:no-repeat;
}

#contentRight #mystoreTeaser .mystoretopproducts {
	background-image: url('topProducts.gif');
	background-repeat:no-repeat;
}

#contentRight #mystoreTeaser #mystoremystorecontent .mystoremystorebottom {
	background-image: url('myStoreCenterBottom.jpg');
	background-repeat:no-repeat;
}

#contentRight #mystoreTeaser #mystoremystorecontent .mystoremystorecontenttop {
	background-image: url('myStoreCenterTop.jpg');
	background-repeat:no-repeat;
}

#contentRight #mystoreTeaser #mystoremystorecontent .mystoremystorecontentmiddle {
	background-image: url('myStoreCenterMiddle.jpg');
	background-repeat:no-repeat;
	color: #FFFFFF;
}

#contentRight #mystoreTeaser #mystoremystorecontent .mystoremystorecontent {
	background-image: url('myStoreCenterContent.jpg');
	background-repeat:repeat-y;
	color: #FFFFFF;
	-width:210px;
}

#contentRight #mystoreTeaser #mystoremystorecontent .mystoremystorecontent .mystoreopeninghours{
	color: #FFFFFF;
}

#contentRight .productrecommendationhead {
	background-image: url('mediatippHead.gif'); background-repeat:no-repeat;
}

/* buttons */
/* ------- */

.button{
	background-color: #EEEEEE;
	border:1px solid #cccccc;
	color: #EC6400;
}

.button2{
	background-color: #EEEEEE;
	border:1px solid #cccccc;
	color: #EC6400;
}

.button3LeftPartRight{
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	color: #EC6400; 
}

.button3RightPartLeft{
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	color: #EC6400; 
}


/* jobs */
/* ---- */

#jobs .jobs_header {
	background-image: url('jobs_header.jpg');
	height:127px;
	width:526px;
	margin-bottom:10px;
}

#jobs .jobs_2_header {
	background-image: url('jobs_2_header.jpg');
	height:127px;
	width:526px;
	margin-bottom:10px;
}

#jobs .jobs_outlet_selection_box {
	display: none;
	background-image: url('fader_gray176.gif');
	background-position:bottom;
	background-repeat:repeat-x;
	border:solid 1px #cccccc;
	height:169px;
	-height:171px;
}

#jobs .jobs_unsolicited_outlet_selection_box {
	background-image: url('fader_gray176.gif');
	background-position:bottom;
	background-repeat:repeat-x;
	border:solid 1px #cccccc;
	height:200px;
	-height:202px;
}

#jobs .jobs_unsolicited_end_finish {
	display: none;
}

#jobs .jobs_list_jobs_box {
	background-image: url('fader_gray176.gif');
	background-position:bottom;
	background-repeat:repeat-x;
	border:solid 1px #cccccc;
	padding-bottom:7px;
}

#jobs .jobs_detail_box {
	background-image: url('fader_gray176.gif');
	background-position:bottom;
	background-repeat:repeat-x;
	border:solid 1px #cccccc;
	padding-bottom:7px;
}

#jobs .jobs_2_header {
	background-image: url('jobs_2_header.jpg');
	height:127px;
	width:526px;
	margin-bottom:10px;
}

#jobs .jobs_unsolicited_box {
	background-image: url('fader_gray176.gif');
	background-position:bottom;
	background-repeat:repeat-x;
	border:solid 1px #cccccc;
	padding-bottom:10px;
}

#jobs .jobs_unsolicited_header {
	background-image: url('jobs_header.jpg');
	height:127px;
	width:526px;
	margin-bottom:10px;
}

#jobs .jobs_unsolicited_2_header {
	background-image: url('jobs_initiativ_2_header.jpg');
	height:127px;
	width:526px;
	margin-bottom:10px;
}

#jobs .jobs_unsolicited_3_header {
	background-image: url('jobs_initiativ_3_header.jpg');
	height:127px;
	width:526px;
	margin-bottom:10px;
}

#jobs .jobs_unsolicited_breadcrumb_1 {
	background-image: url('jobs_initiativ_breadcrumb_1.gif');
	height:35px;
	width:526px;
	margin-bottom:10px;
}

#jobs .jobs_unsolicited_breadcrumb_2 {
	background-image: url('jobs_initiativ_breadcrumb_2.gif');
	height:35px;
	width:526px;
	margin-bottom:10px;
}

#jobs .jobs_unsolicited_breadcrumb_3 {
	background-image: url('jobs_initiativ_breadcrumb_3.gif');
	height:35px;
	width:526px;
	margin-bottom:10px;
}

#jobs .jobs_unsolicited_breadcrumb_4 {
	background-image: url('jobs_initiativ_breadcrumb_4.gif');
	height:35px;
	width:526px;
	margin-bottom:10px;
}

#jobs .jobs_unsolicited_1_button_row {
	padding-left:431px;
	-padding-left:427px;
}

#jobs .jobs_unsolicited_table_col {
	vertical-align: bottom;
}

#jobs_unsolicited_start ul {
	list-style-image:url('jobs_list_bullet_red.gif');
	padding-bottom:0px;
	padding-left:13px;
	padding-top:3px;
}

#jobs .jobs_unsolicited_end_ok {
	background-image: url('jobs_initiativ_ok.gif');
	background-position: right bottom;
	background-repeat: no-repeat;	
	float:left;
	height:39px;
	width:46px;
}

#myAccountRegister .captchaImage {
	border: 1px solid #CCCCCC;
}

#myAccountRegister .captchaRefreshLink {
	color: #EC6400;
	text-decoration: none;
	float: right;
}

#layer #titlebar {
	background-color:#EC6400;
}

#layer #contact .submit {
	-padding-bottom: 4px;
}

/* global search */

#globalsearch_result_table .music_category_label {
	width:115px;
}

#globalsearch_result_table .music_searchfield_label {
	width:58px;
}

#globalsearch_result_table .music_searchfield_select {
	width:116px;
}

#globalsearch_result_table .music_searchfield_select_select {
	width:108px;
}

#globalsearch_result_table .music_sortfield_label {
	width:70px;
}

#globalsearch_result_table .music_sortfield_select {
	width:106px;
}

#globalsearch_result_table .music_sortfield_select_select {
	width:98px;
}

#globalsearch_result_table .music_maxhits_label {
	margin-left:0px;
	width:102px;
}

/* big start layer */

#big_start_layer .close_layer {
	background:transparent url('startLayerClose.gif') no-repeat;
	bottom:38px;
	cursor:pointer;
	height:38px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width:90px;
	z-index:500;
}

#big_start_layer .open_layer_container {
	left:200px;
	position:absolute;
	top:0px;
	width:575px;
	z-index:100;
}

#big_start_layer .open_layer {
	display:none;
	height:30px;
	margin-left:auto;
	margin-right:auto;
	padding-right:12px;
	position:relative;
	top:0px;
	width:409px;
	z-index:200;
}

#big_start_layer .open_layer_down {
	background:transparent url('startLayerDown.gif') no-repeat;
	background-position:center;
	cursor:pointer;
	height:20px;
	position:relative;
	margin-left:385px;
	top:-25px;
	width:20px;
	z-index:500;
}

/* big flash layer */

#big_flash_layer {
	background-image: url('flashLayerBg.gif');
	background-repeat: repeat;
}

