/* footer */
#footer {
	border-top: 1px solid #e7e7e7;
	margin: 20px 0 17px 0;
}
#footer li {
	float:left;
	padding:2px 6px 2px 0;
	color:#a7a8a8;
}
#footer li a, #footer li a:visited {
	float:left;
	padding-right:6px;
	color:#a7a8a8;
}
#info {
	float:left;
	padding-left:5px;
}
#info li, #info a, #info a:visited {
	color:#a7a8a8;
}
#sites {
	float:right; 
}
#sites li, #sites a, #sites a:visited {
	color:#a7a8a8;
}