/******************** headers ********************/
/****** global ******/
h1 img {
	position:relative;
	top:-20px;
	float:left;
}
h3 {
	clear:left;
	padding:2px 0;
	color:#4f6d82;
	background:#b5d1db;
	font-family:sans-serif;
	font-size:1em;
	text-transform:uppercase;
	text-indent: 18px;
}
/* sIFR Headings */

/* homepage headers */
#section_home h3 {
	padding:0;
}
h3 a, h3 a:visited {
	display:block;
	padding:11px;
	color:#4f6d82;
	background:url(http://www.peugeot.com/images/arrow_closed.gif) 10px center no-repeat;
}
h3 a:focus, h3 a:visited:focus {
}
h3 a:hover, h3 a:visited:hover {
	text-decoration:none;
	background:#6c8ca2 url(http://www.peugeot.com/images/arrow_hover.gif) 10px center no-repeat;
	color: #fff;
}
h3 a:active, h3 a:visited:active {
}
h3 a.on, h3 a:visited.on {
	background:url(http://www.peugeot.com/images/arrow_opened.gif) 10px center no-repeat;
}
#section_home #column2 h4 {
	padding:0;
	font-size:1.2em;
}
#section_home #column2 h5 {
	padding-bottom:7px;
	padding-right:2px;
	color:#6c8ca2;
	font-size:1.1em;
	font-weight:bold;
}
#section_home #column3 h4 {
	padding:5px 0 5px 11px;
	color:#464a4b;
	font-size:1em;
	font-weight:bold;
}
/******  search headers ******/ /* see news for h4 */
#section_search #column1 h3 {	
	float:left;
	padding:10px 0 10px 30px;
	color:#6c8ca2;
	background:none;
	font-size:1.5em;
}
/******  news headers ******/
.news_list h4 {
	padding:0 20px 5px 0;
	font-size:1em;
}
#column1 .news_list h4 {
	float: none;
}
#page_scroll h5 {
	float:left;
	padding:4px 0 3px 10px;
	color:#48494a;
	font-size:1em;
	font-weight:normal;
}
#section_news #column2 h4 {
	padding:12px 15px 10px 15px;
	color:#6c8ca2;
	font-size:1.6em;
}
#section_news #column2 h5 {
	clear:left;
	padding:0px 0px 2px 15px;
	color:#1a406e;
	font-size:1em;
}
#section_news #column3 h4, #section_search #column2 h4 {
	clear:left;
	padding:5px 0 5px 18px;
	border-left:1px solid #e6e4e4;
	border-bottom:1px solid #c9d6dd;
	color:#072c47;
	background:#fff;
	font-size:0.9em;
	text-transform:uppercase;
}
#section_search #column2 #calendar-title h4 {
	float: left;
	border: 0;
	font-size: 1em;
}
#news_list_popular li h5 {
	font-size:1em;
	font-weight:normal;
}

/* news detail */
#section_news #news_story h4 {
	width:300px;
	float:left;
	padding:10px 15px;
	font-size:1.5em;
}
#news_story_detail h6 {
	padding:0 0 0 15px;
	color:#1a406e;
	font-size:1em;
}

/* Search Results (News & Global) */
.search-container ul.search-results h4, #section_news #column2.wide .search-container ul.search-results h4 {
	color:#39617c;
	font-size:1.1em;
	margin-bottom:1px;
	border-bottom:1px solid #eff2f4;
	padding:0px 0px 1px 0px;
}
#section_news #column2.wide .search-container ul.search-results p {
	padding:0px;
}

/* Products */
#country_car_info h2 {
	float:left;
	padding:7px 15px 5px 310px;
	color:#4d6d84;
	font-size:1.1em;
	font-weight:bold;
	text-transform:uppercase;
}
h3.separator {	
	width: 100%;
	float: none;
	clear: both;
}


#tag_cloud h4 {
	height: 15px;
	border-top: 2px solid #a3bfcf;
	background: #b5d1db url(http://www.peugeot.com/images/products/h4_tags.gif) no-repeat;
	text-indent: -99999em;
}


.concept-gallery h5 {
	float: right;
	padding: 5px 10px 0 0;
	color:#a3bfcf;
	font-size: 1.4em;
	letter-spacing: -1px;
}
