.accueil_1{
	width:384px;
	height:241px;
	position:relative;
	z-index:2;
	top:13px;
	/*background-color:#000000;*/
}

.accueil_2{
	width:20px;
	height:272px;
	overflow:visible;
	position:relative;
	left:-38px;
	z-index:1;
	margin-right:-227px;

}

.accueil_3{
width:100%;
margin-top:5px;
margin-right:-475px;
clear:left;
height:420px;
}

.accueil_4{
position:relative;
z-index:0;
left:-40px;
top:0px;

margin-right:-940px;
}


.accueil_5{


margin-bottom:20px;

}

div#filou{
display:none;

}

div#div_niger
{
	width:100%;
	margin-top:5px;
}

/*---------- LINKS BOX --------------*/

#c_links{
width:535px;
position:relative;
padding-bottom:10px;
z-index:15;
}

#c_links div.link{
width:167px;
height:233px;
}

#c_links div#link2{
padding:0px 17px 0px 17px;
}