html { 

    overflow: -moz-scrollbars-vertical; 

} 



input.hideSubmit

{

	position:absolute;

	top:-5000px;

}



body,td,th,fieldset legend{

	font-family: Arial, Helvetica, sans-serif;

	font-size:11px;

	color:#3a9202;

	margin:0px;

	padding:0px;

	border:0px;

	

}



fieldset fieldset

{

	background-color:#FFFFFF;

	margin:0px;

	padding:0px;

}



div,table,iframe{

	float:left;

	border:0px;

	margin:0px;

	padding:0px;

}



form, input{

padding:0px;

margin:0px;

}



a{

	color:#3a9202;

	text-decoration:none;

	cursor:pointer;

	font-weight:bold;

}



a:hover{

	text-decoration:underline;

}



img{

border:0px;

}



h3{

font-size:15px;

}







/*------- CONTENANT --------------*/

#c_contenant{

	position:relative;

	left:50%;

	width:955px;

	margin-left:-477px;

	top:10px;

}



#c_back{

	position:absolute;

	width:100%;

	background-image:url(back.jpg);

	background-repeat:repeat-x;

	overflow:visible;

}



/*--------------------------------*/



/*---------- GAUCHE --------------*/

#c_gauche{

	width:205px;

	position:relative;

	/*top:-26px;*/
	top:-95px;

	z-index:15;

	margin-bottom:-36px;
}

.c_gauche_img{
	height:-93px;
	margin-bottom:-15px;
}

.c_gauche_1{

	position:relative;

	left:-2px;

	margin-bottom:2px;

}



.c_gauche_4{

position:relative;

/*top:-90px;*/

left:10px;
top:-12px;
width:205px;

/*margin-bottom:-90px;*/

}



.c_gauche_5{

position:relative;



}



.c_visite{

	width:190px;

	height:115px;

}



.c_visite img{

	border:0px;

	position:relative;

	left:3px;

}



.c_visite_1{

	width:185px;

	height:20px;

	float:left;

}



.c_visite_1_1{

	font-weight:bold;

	font-size:12px;

}

#visite_3d{

float:left;

position:relative;

top:-92px;

margin-bottom:-87px;

}





.c_zone_jeux{

	position:relative;

	top:-12px;

	margin-bottom:-12px;

}



.c_zone_jeux_1{

	position:relative;

	top:2px;

	background-image:url(jeux_back.gif);

	background-repeat:no-repeat;

	width:200px;

	height:170px;

	margin-bottom:-2px;

	

}



.c_zone_jeux_2{

	width:60px;

	height:55px;

}



.c_zone_jeux_2 img{

	border:solid 1px #8ebb8f;

}



.c_zone_jeux_3{

	width:100%;

	height:10px;

}



.c_zone_jeux_4{

	height:100px;

	width:10px;

}



.c_zone_jeux_5{

	position:relative;

	left:122px;

	top:-35px;

	margin-bottom:-35px;

	width:62px;

}



.c_zone_jeux_6{

	position:relative;

	top:-42px;

	left:-52px;

	margin-bottom:-42px;

	margin-right:-82px;

	width:82px;

}



.c_zone_jeux_6 a{

	color:#FFFFFF;

}



.c_zone_jeux_7{
	position:relative;
	font-size:12px;
	left:-45px;
	top:15px;
	margin-right:-45px;
	margin-bottom:15px;
}



.c_zone_jeux_8{

	font-size:10px;

	margin:0px;

}



.c_zone_jeux_9{

	position:relative;

	top:-290px;

	left:9px;

	z-index:100;

	margin-bottom:-290px;



}

/*--------------------------------*/


/*---------- CONTENU --------------*/

#c_contenu{

width:535px;



position:relative;

top:-30px;

z-index:15;

margin-bottom:-36px;

font-size:12px;

}



/*--------------------------------*/



/*---------- DROITE --------------*/

#c_droite{

width:205px;

position:relative;

z-index:2;

left:10px;

}





.c_encyclopedie{

	position:relative;

	top:-26px;

	z-index:1;

	margin-bottom:-40px;

}



.c_encyclopedie_1{

	position:relative;

	top:-190px;

	left:10px;

	margin-bottom:-180px;

	z-index:10;

}



.c_encyclopedie_2{

	position:relative;

	z-index:10;

}



.c_encyclopedie_3{

	position:relative;

	top:-2px;

	z-index:1;

}



.c_zoologiste{

	position:relative;

	top:3px;

	z-index:1;

}



.c_zoologiste_1{

	width:200px;

	height:120px;

	position:relative;

	left:10px;

}



.c_zoologiste_1_1{

	width:60px;

}



.c_zoologiste_1_3 img{

	border:solid 1px #8ebb8f;

}



.c_forfaits{

position:relative;

top:8px;

}



.c_forfaits_1{

	width:195px;

	text-align:center;

	position:relative;

	top:5px;

}


#c_droite .box{

	position:relative;

	top:3px;

	z-index:1;

}



.c_lng{

	text-align:right;

	font-weight:bold;

	margin-top:20px;

	font-size:14px;

	width:187px;

}



/*--------------------------------*/



/*---------- HEADER --------------*/



#c_header{

width:100%;

height:148px;

}



.c_header_1{ /*singe */

position:relative;

width:317px;

top:45px;

margin-bottom:-140px;

/*left:168px;*/
top:90px;

margin-right:-317px;

height:99px;

z-index:1;

}



.c_header_2{ /*souvenirs*/

clear:left;

position:relative;

left:290px;

top:-70px;

z-index:1;

margin-bottom:-117px;

}



.c_header_3{ /*logo*/

position:relative;

left:10px;

margin-left:-25px;

z-index:2;

top:-10px;

margin-bottom:-10px;

}



.c_header_s{

	width:100%;

	height:100%;

}



#c_search{

	height:110px;

	width:325px;

	font-size:11px;

	position:relative;

	left:11px;

	top:-11px;

	margin-left:-11px;

	z-index:2;

	

}



#recherche{ /*choix*/

	position:relative;

	width:100%;

	height:100%;

	margin-right:-180px;

	margin-bottom:-60px;

	background-image:url(options_back.gif);

	background-repeat:no-repeat;

	top:-60px;



}



.c_search_1{

	width:100%;	

	position:relative;

	left:20px;

}



.c_search_2{

	background-image:url(recherche.gif);

	background-repeat:no-repeat;

	width:210px;

	height:21px;

	position:relative;



	}



.c_search_input{

	height:14px;

	border:0px;

	margin:0px;

	padding:0px;

	margin-left:10px;

	width:170px;

	

}



.c_search_input{

	position:relative;

	font-size:10px;

	color:#3a9202;

}



.c_search_3{

	position:relative;

	width:102px;

	height:110px;

}



.c_search_4{ /* search */

	position:relative;

	width:200px;

	height:100%;

	

}



.c_search_5{

	position:relative;

	width:200px;

	height:10px;

}



.c_search_6{/* zebre*/

	position:relative;

	z-index:1;

	top:21px;

	left:4px;



}



.c_search_7{ /*choix*/

	position:relative;

	z-index:2;

	width:180px;

	height:47px;



	margin-bottom:-45px;

	top:37px;

	left:17px;

	overflow:hidden;

}



.c_search_8{

position:relative;

z-index:2;

}



.c_search_9{

	position:relative;

top:-15px;

	width:100%;

	color:#FFFFFF;

}



.c_search_9 tr{

	height:15px;

}



.c_search_9 td{

font-size:10px;

}



.c_search_10{

	width:140px;

	color:#FFFFFF;

	padding-left:5px;

}



.c_search_11{

	width:20px;

	color:#FFFFFF;

}



.check_search{

border:0px;

margin:-5px;

padding:0px;

}



.search_list{

list-style:none;

list-style-position:outside;

}

/*--------------------------------*/





/* menu */



.c_btn_menu,.c_btn_menu2,.c_btn_menu4{

cursor:pointer;

position:relative;

}



.c_btn_menu2,.c_btn_menu3,.c_btn_menu4{

margin-top:2px;

}



.c_btn_menu4{

cursor:default;

}



.c_btn_menu_1,.c_btn_menu_2,.c_btn_menu_3,.c_btn_menu_4,.c_btn_menu_5,.c_btn_menu_6,.c_btn_menu_1_2,.c_btn_menu_2_2,.c_btn_menu_3_2,.c_btn_menu_4_2,.c_btn_menu_5_2,.c_btn_menu_6_2{

position:relative;

z-index:201;

clear:left;

height:15px;

font-size:11px;

left:5px;

top:5px;

margin-bottom:5px;



cursor:pointer;

}



.c_btn_menu_1_2,.c_btn_menu_2_2,.c_btn_menu_3_2,.c_btn_menu_4_2,.c_btn_menu_5_2,.c_btn_menu_6_2{

	color:#8adf51;

	cursor:default;

}



.c_btn_menu_1,.c_btn_menu_1_2{

width:130px;

}



.c_btn_menu_2,.c_btn_menu_2_2{

width:203px;

}



.c_btn_menu_4,.c_btn_menu_4_2{

width:160px;

}



.c_btn_menu_5,.c_btn_menu_5_2{

width:125px;

}



.c_btn_menu_6,.c_btn_menu_6_2{

width:142px;

}



.sous_menu_fleche_1,.sous_menu_fleche_2,.sous_menu_fleche_4,.sous_menu_fleche_5,.sous_menu_fleche_6{

position:relative;

z-index:10;

top:-9px;

margin-bottom:-9px;

}



.sous_menu_fleche_1{

left:60px;

margin-right:-60px;

}



.sous_menu_fleche_2{



left:60px;

margin-right:-60px;

}



.sous_menu_fleche_4{

left:40px;

margin-right:-40px;

}



.sous_menu_fleche_5{

left:35px;

margin-right:-35px;

}



.sous_menu_fleche_6{

left:35px;

margin-right:-35px;

}







.sous_menu_1,.sous_menu_2,.sous_menu_4,.sous_menu_5,.sous_menu_6{

	position:relative;

	top:28px;

	margin:0px 0px -500px 0px;

	z-index:100;

	display:none;

	border-left:solid 1px #3a9202;

	border-right:solid 1px #3a9202;

	background-color:#FFF;

	padding-bottom:5px;

}





.sous_menu_1 a:hover,.sous_menu_2 a:hover,.sous_menu_4 a:hover,.sous_menu_5 a:hover,.sous_menu_6 a:hover{

	text-decoration:none;

	color:#8adf51;

}



.sous_menu_1{

	left:-131px;

	margin-right:-365px;

	width:130px;

	

}

	

.sous_menu_2{

	left:-154px;

	margin-right:-306px;

	margin-bottom:-500px;

	width:203px;



}



.sous_menu_4{

	left:-160px;

	margin-right:-162px;

	margin-bottom:-500px;

	width:160px;

}



.sous_menu_5{

	left:-125px;

	margin-right:-127px;

	margin-bottom:-500px;

	width:125px;

}



.sous_menu_6{

	left:-143px;

	margin-right:-145px;

	margin-bottom:-500px;

	width:142px;

}



.c_3{

position:relative;

top:1px;

}



.c_4{

position:relative;

top:1px;

}



.sous_top{

height:10px;

position:relative;

left:-1px;

margin-right:-10px;

top:-9px;

margin-bottom:-9px;

z-index:1;

top:-2px;

}



.t_1,.t_2,.t_4,.t_5,.t_6{

background-color:#FFFFFF;

border-top:solid 1px #3a9202;

}



.t_1,.b_1{

width:112px;

}



.t_2,.b_2{

width:185px;

}





.t_4,.b_4{

width:142px;

}



.t_5,.b_5{

width:107px;

}



.t_6,.b_6{

width:124px;

}





.b_1,.b_2,.b_4,.b_5,.b_6{

background-color:#FFFFFF;

border-bottom:solid 1px #3a9202;

}



/*----*/



.footer_1,.footer_2,.footer_3{

height:100px;

}



.footer_1{

width:205px;



clear:left;

}



.footer_2{

width:535px;

text-align:center;

}



.footer_3{

width:205px;

}







.navig{

	width:100%;

	text-align:right;

	margin-top:10px;

	margin-bottom:10px;

	position:relative;

	left:-17px;

}



.i_navig{

	width:20px;

	font-size:10px;

	border:solid 1px #009900;

	font-size:10px;

	color:#3a9202;

	margin:0px;

	padding:0px;

	text-align:center;

}



#frmEmail{

margin-top:10px;

}



.erreur{

margin-top:10px;

font-size:12px;

color:#FF0000;

}



.sep{

height:1px;

color:green;

border:0px;

border-bottom:solid 1px green;

margin:0px;

padding:0px;

}



/*----------NEW CSS-------*/ 



img.separator{

	float:left;

	margin:10px 0px 10px 0px;

	padding-right:175px;

}





div#c_contenu table.stats{

float:none;

width:400px;

margin:0px 0px 20px 0px;

}



div#c_contenu table.stats td{

padding:5px 10px 5px 0px;

}



div#c_contenu ul.stats li{

padding:3px 0px 3px 0px;

}



input.submit_btn{

font-size:14px;

font-weight:bold;

border:1px #3A9202 solid;

background-color:#fff;

color:#3A9202;

cursor:pointer;

}



p.left_padding{

	padding-left:5px;

}





div#form_register{



width:529px;

}



div#form_register fieldset{

width:510px;

}



div#form_register fieldset legend{

font-size:14px;

font-weight:bold;

}



h2#callback{

color:#ff0000;

}



div#c_contenant img#img3,div#c_contenant img#img4{

display:none;

}