/* This CSS sets the default styles for the base components. */

/* ---------- Browser normalization ---------- */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
/* background-color:#ddd; */
	
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset, img {
	border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

caption, th {
	text-align: left;
}

q:before, q:after {
	content: '';
}

abbr, acronym {
	border: 0;
}

body {
	
	font: 62.5%/1.6em Arial,sans-serif;
	 /* background-image:url(../images/crpc/royal.png); */
}

html {
	height: 100%;
}

body {
	background: white;
	font-size: 11px;
}

body.portal-popup {
	background: none;
	padding: 10px;
}

body.portal-iframe {
	padding: 0;
}

table {
	clear: both;
}

abbr, acronym {
	border-bottom: 1px dotted #000;
	cursor: help;
}

blockquote, ul, ol, dl {
	margin: 1em;
}

ol, ul, dl {
	margin-left: 2em;
}

ol li, ul ol li {
	list-style: decimal outside;
}

ul li, ol ul li {
	list-style: disc outside;
}

ul ul li {
	list-style-type: circle;
}

ol ol li {
	list-style-type: upper-roman;
}

dl dd {
	margin-left: 1em;
}

th {
	font-weight: bold;
}

caption {
	margin-bottom: 0.5em;
	text-align: center;
}

p {
	margin-bottom: 1em;
}

/* ---------- Links ---------- */

a {
	color: #369;
	text-decoration: underline;
}

a:hover {
	color: #06c;
	text-decoration: none;
}

a:visited {
}

/* ---------- Headers ---------- */

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

h1, h2, h3 {
	margin: 1em 0;
}

h4, h5, h6 {
	font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6, strong {
	font-weight: bold;
}

/* ---------- Text formatting ---------- */

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

code, pre {
	font-family: "Courier New",Courier,monospace;
	white-space: pre;
}

.important {
	font-weight: bold;
}

/* ---------- Staging area ---------- */

body.staging {
	border: 10px solid #f00;
}

.portal-iframe.staging {
	border: none;
}

/* ---------- Main content body ---------- */

#wrapper {
	margin:auto;
	width:970px;
	height:500px;
	position:relative;
border:1px solid white;
}

.page-maximized #wrapper {
position:static;
}

#footer,#footer.niv2
{
	margin-left:205px;
	width:445px;
	text-align:center;
	background: transparent url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/box3.png) no-repeat top left;
	height:41px;
	padding:0.3em 0px;
	color:#364671;
	padding-left:1em;
clear:both;
position:relative;
top:1.5em;
}

#footer.niv2
{
	margin-left:196px;
	background: transparent url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/box4.png) no-repeat top left;
	width:535px;
}

#footer a
{
	color:#364671;
	text-decoration:none;
	display:block;
	float:left;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/puce.png) no-repeat center left;
	padding-left:12px;
	margin-right:0.5em;
}

#content-wrapper {
	margin: 0;
	width: 100%;
}

.portal-iframe #content-wrapper {
	width: 100%;
}

/* ---------- Banner ---------- */

#banner {
	background: transparent url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/logo.png) no-repeat top right;
	width:193px;
	height:141px;
	position:absolute;
	left:-4px;
}


#banner logo {
	padding: 0;
}

#banner .logo a {
	text-decoration: none;
	display:block;
	width:193px;
	height:111px;
	padding: 0;
	text-indent:-5000px;
}

.ie6 #banner .logo {
	zoom: 1;
}

/* ---------- Alerts and popups ---------- */

.alert-background {
	background: #000;
}

.popup-alert-notice {
	background-color: #ffc;
	border-bottom-color: #fc0;
}

.popup-alert-warning {
	background-color: #fdd;
	border-bottom-color: #f00;
}

/* ---------- Portal add content ---------- */

.portal-add-content {
	background: #fff;
	text-align: left;
	z-index: 20;
}

.portal-add-content a {
	text-decoration: none;
}

/* ---------- Portal tool tips ---------- */

.portal-tool-tip {
	background: #fff url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/forms/button.png) repeat-x 0 100%;
	border: 1px solid;
	border-color: #DEDEDE #BFBFBF #BFBFBF #DEDEDE;
	color: #1E2529;
	max-width: 200px;
	padding: 6px 4px;
}

/* ---------- Loading animation ---------- */

.loading-animation {
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/progress_bar/loading_animation.gif) no-repeat top center;
	margin-top: 10px;
	padding-top: 40px;
	text-align: left;
}

/* ---------- Separator ---------- */

hr, .separator {
	border-top: 1px dotted #BFBFBF;
}

/* ---------- Update Manager ---------- */

.update-available {
	margin-top: 10px;
	padding: 2px;
	text-align: left;
}

/* ---------- Text highlighting ---------- */

.highlight {
	background: #ffc;
	font-weight: bold;
	padding: 0 1px;
}
