#crpc_columns_3_niv2 #column-2 .alfresco_contenu
{
	width:98%;
	clear:both;
}

.portlet-boundary_actuscontentportlet_WAR_actuscontentportlet_ #actu .alfresco_actu h2 
{
display:block;
}

#crpc_columns_3_niv2 #column-2 .chapeau, #crpc_columns_3_niv2 #column-2 .chapeau .chapeau
{
	display:block;
	color:#364671 ;
	/*font-style:italic;*/
	/*font-size:9pt;*/
	font-size:10pt;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/chapeaug.png) no-repeat  top left;
	padding-left:1em;
	padding-top:3px;
	line-height:1.2em;
	margin-bottom:1em;
}
#crpc_columns_3_niv2 #column-2 .chapeau .chapeau
{
	margin-bottom:0em;
}

#crpc_columns_3_niv2 #column-2 .chapeau .chapeau
{
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/chapeaud.png) no-repeat bottom right;
	padding-right:1em;
}

#crpc_columns_3_niv2  #column-2 .alfresco_contenu .chapeau
{
	margin-bottom:0em;
}

#crpc_columns_3_niv2 #column-2 .legende
{
	color:#7a7979;
	font-style:italic;
}

#crpc_columns_3_niv2 #column-2 .alfresco_contenu table td
{
	padding:0.5em;
	vertical-align:top;
}

#crpc_columns_3  #column-2, #crpc_columns_3_niv2 #column-2
{
color:#333333;
}

#crpc_columns_3  #column-2 h1, #crpc_columns_3_niv2 #column-2 h1
{
	font-size:12pt;
	color: #364671;
	/*text-transform:uppercase;*/
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/h1.png) no-repeat;
	padding-left:18pt;
	padding-top:2px;
}

#crpc_columns_3  #column-2 h2, #crpc_columns_3_niv2 #column-2 h2
{
	font-size:11pt;
	color: #393939;
}

#crpc_columns_3  #column-2 h3, #crpc_columns_3_niv2 #column-2 h3
{
	font-size:10pt;
	color: #364671;
	font-weight:bold;
}

#crpc_columns_3  #column-2 h4, #crpc_columns_3_niv2 #column-2 h4
{
	font-size:8pt;
	color: #1A1A1A;
	font-weight:bold;
}

#crpc_columns_3  #column-2 li,  #crpc_columns_3_niv2 #column-2 li
{
list-style-image:none;
list-style-position:outside;
list-style-type:none;
list-style-image:url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/puce3.png);
}

#crpc_columns_3  #column-2 li li,  #crpc_columns_3_niv2 #column-2 li li
{
list-style-image:none;
list-style-position:inside;
list-style-type:none;
list-style-image:url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/puce5.png);
}

#crpc_columns_3  #column-2 a,  #crpc_columns_3_niv2 #column-2 a
{
	color:#79a225;
	text-decoration:none;
}
#crpc_columns_3  #column-2 a:hover,  #crpc_columns_3_niv2 #column-2 a:hover
{
	text-decoration:underline;
}
#crpc_columns_3  #column-2 a,  #crpc_columns_3_niv2 #column-2 a:visited
{
	color:#5F7A21;
}

/* Page d'accueil */

#crpc_columns_3  #column-2 h1
{
	background:none;
	font-size:10pt;
	padding:0;
	
}

#crpc_columns_3  #column-2 h2
{
	font-size:12pt;
	color: #364671;
	text-transform:uppercase;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/h1.png) no-repeat;
	padding-left:18pt;
	padding-top:2px;
	margin-bottom:0.5em;
}

#crpc_columns_3  #column-2 h3
{
	font-size:10pt;
	color: #808080;
	text-transform:uppercase;
}

.portlet-boundary_contenualfrescoportlet_WAR_contentalfrescoportlet_
{
	margin-bottom:0em;
}

p.suite
{
	text-align:right;
	padding-right:1em;
	margin:0em;
}

.portlet-boundary_actuscontentportlet_WAR_actuscontentportlet_  p.suite, .portlet-boundary_brevecontentportlet_WAR_brevecontentportlet_  p.suite {
clear:both;
}

 p.suite a
{
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/suite.png) no-repeat bottom left !important;
	padding-left:22px !important;
	color:#e4642a !important;
}

.portlet_lien
{
	text-align:right;
	padding-right:1em;
}

.portlet_lien a
{
background:white url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/plus.png) no-repeat scroll 0 50%;
color:#E4642A !important;
padding-left:15px;
}


.haut_de_page
{
	text-align:right;
	padding-right:1em;
	float:right;
}

.haut_de_page a
{
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/top.png) no-repeat 0px 3px !important;
	padding-left:12px !important;
	color:#e4642a !important;
}

.alfresco_image_left
{
	float:left;
	padding-right:1em;
}

.alfresco_image_right
{
	float:right;
	padding-left:1em;
}

.alfresco_breve h3, .alfresco_accueil_breve h3
{
	font-size:8pt !important;
	color:#333 !important;
	text-transform:none  !important;
	line-height:1.4em;
	font-weight:normal  !important;
}
.alfresco_accueil_breve
{
margin:0.8em 0em;
}
.alfresco_accueil_breve h3
{
margin:0 !important;
}

#crpc_columns_3 .alfresco_accueil_actu h3
{
text-transform:none !important;
}

.alfresco_breve h3:first-letter, .alfresco_accueil_breve h3:first-letter
{
	text-transform:uppercase;
}

.alfresco_categories
{
	color:#808080;
	font-size:8pt !important;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/puce8.png) no-repeat 0px 1px !important;
	padding-left:15px;
	text-transform:uppercase;
	line-height:1.2em;
	display:block;
}

.alfresco_breve .alfresco_categories, .alfresco_actu .alfresco_categories, .alfresco_document .alfresco_categories, .alfresco_pageDossier .alfresco_categories, .alfresco_discours .alfresco_categories
{
margin-bottom:1em;
}

.alfresco_breve .alfresco_description, .alfresco_actu .alfresco_description, .alfresco_document .alfresco_description, .alfresco_pageDossier .alfresco_description,  .alfresco_video .alfresco_description
{
	/* 
	font-weight:bold;
	text-transform:lowercase;
	*/
	margin-bottom:1em;
}

#breves .alfresco_breve, #documents_presse .alfresco_dossier,  #documents_presse .alfresco_communique,  #documents_presse .alfresco_commission
{
	border-top: 2px solid #ddd;
	clear:both;
}

.alfresco_date_pub
{
	color:#666;
}
.alfresco_communique .alfresco_date_pub, .alfresco_dossier .alfresco_date_pub, .alfresco_commission .alfresco_date_pub, .alfresco_discours .alfresco_date_pub
{
	display:block;
	margin-bottom:0.5em;
}
.alfresco_actu .alfresco_date_pub, .alfresco_breve .alfresco_date_pub , .alfresco_video .alfresco_date_pub
{
	color:#777;
	display:block;
	float:left;
	margin-right:1em;
}
.alfresco_actu .alfresco_categories, .alfresco_breve .alfresco_categories , .alfresco_video .alfresco_categories
{
	display:block;
	float:left;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/puce8.png) no-repeat 0px 3px !important;
	line-height:1.7em;
}
.alfresco_actu .alfresco_description, .alfresco_breve .alfresco_description, .alfresco_video .alfresco_description
{
	clear:both;
}

.portlet-boundary_118_ td
{
	padding-right:0.5em;
}

.portlet_separator
{
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/separateur.png) no-repeat top left !important;
	padding-top:13px !important;
	margin:1.5em 0em;
}

.portlet_separator h2
{
	margin-top:0em;
}

a.document
{
	padding-left:22px;
	padding-top:2px;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/document.png) no-repeat top left;
}



form.uni-form
{
	margin-top:1.5em;
	margin-bottom:1.5em;
}

form.uni-form .block-labels label
{
	display: -moz-inline-block;
	display:inline-block;
	width:110px;
}

.page-maximized form.uni-form .block-labels label
{
	display:block;
	width:auto;
}

.pagination a
{
padding: 2px 5px 2px 5px;
background-color:#364671;
color:#EEEEEE !important;
cursor:pointer;
text-align:center;
text-decoration:none;
}

.pagination a.selected
{
color:#555 !important;
background-color:#949eb8;
}

.message
{
	margin:1em 0em;
	border:1px dashed #aaa;
	padding:1em; 
	background:#eee;
}
.alfresco_libelle
{
	color:#999999;
	margin:0.5em 0em;
	text-align:center;
}

.alfresco_center
{
	text-align:center;
}

label.optional
{
	color:#888;
}

.alfresco_sous_titre
{
color:#808080;
font-size:10pt;
text-transform:uppercase;
}
 
