/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Special styling for just the Classic theme ---------- */

body.lfr-has-sidebar {
	padding-left: 0;
}

.lfr-has-sidebar #content-wrapper {
	padding-left: 270px;
	width: auto;
}

