

.cadre_flux_RSS
{
	margin:20px 100px 0 0;
}

.label_flux_RSS
{
	float:left;
	font-weight:bold;
}

.flux_RSS
{
	text-align:right;
}

.portlet_RSS
{
	display:block;
	overflow:hidden;
	padding:10px;
	text-align:center;
}

.img_RSS
{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:40px;
}

.lien_RSS
{
	
}

