/* This CSS sets the default styles for forms. */

fieldset {
	border: 1px solid #BFBFBF;
	padding: 8px;
}

.ie fieldset {
	padding-top: 0;
}

legend {
	font-weight: bold;
	padding: 0 6px;
}

input {
	background: #fff;
}

input[type="text"], input[type="password"], input[type="file"],input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea {
	
	border: 1px solid;
	border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
	font: 1em Arial,Helvetica,Verdana,sans-serif;
	padding: 2px 2px;
}

select {
	padding: 1px;
}

input[type="image"] {
	background: transparent none;
	border: none;
	padding: 0;
}

input[type="submit"], input[type="button"], input[type="reset"] {
	background: #F5F5F5 url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/forms/button.png) repeat-x 0 0;
	border-color: #DEDEDE #BFBFBF #BFBFBF #DEDEDE;
	color: #34404F;
	cursor: pointer;
	font-weight: bold;
	padding: 5px;
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus {
	background: #DFF4FF;
	border: 1px solid #A7CEDF;
	color: #369;
}

/* ---------- IE6 chokes on attribute selectors in a chain, so we separate them into their own rule ---------- */

.ie6 input.text, input.password, .ie6 input.submit, .ie6 input.file, .ie6 input.button {
	
	border: 1px solid;
	border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
	font: 1em Arial,Helvetica,Verdana,sans-serif;
	padding: 2px 1px;
}

.ie6 input.submit, .ie6 input.button {
	background: #F5F5F5 url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/forms/button.png) repeat-x 0 0;
	border-color: #DEDEDE #BFBFBF #BFBFBF #DEDEDE;
	color: #34404F;
	cursor: pointer;
	font-weight: bold;
	padding: 5px;
}

input.focus, textarea.focus, .ie6 input.focus, .ie6 textarea.focus ,
{
	background: #fcfce4 none;
	border: 1px solid #fc0;
}

.page-maximized input.focus, .page-maximized textarea.focus, .ie6.page-maximized input.focus, .ie6.page-maximized textarea.focus
{
	background: #fcfce4 none !important;
	border: 1px solid #fc0 !important;
}


.uni-form .block-labels textarea {
float:none;
}


.page-maximized  input[type="text"], .page-maximized input[type="password"], .page-maximized input[type="file"], .page-maximized input[type="submit"], .page-maximized input[type="button"], 
.page-maximized input[type="reset"], .page-maximized select, .page-maximized textarea, .page-maximized .textarea {
background-image:url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/forms/input_shadow.png);
background-repeat:no-repeat;
border-color:#BFBFBF #DEDEDE #DEDEDE #BFBFBF;
border-style:solid;
border-width:1px;
font-family:Arial,Helvetica,Verdana,sans-serif;
font-size:1em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
padding:3px 1px;
}

.page-maximized input[type="submit"], .page-maximized input[type="button"], .page-maximized input[type="reset"] 
{
background:#F5F5F5 url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/forms/button.png) repeat-x scroll 0 0;
border-color:#DEDEDE #BFBFBF #BFBFBF #DEDEDE;
color:#34404F;
cursor:pointer;
font-weight:bold;
overflow:visible;
padding:5px;
width:auto;
}

.lfr-form-row {
border-bottom:1px solid #CCCCCC;
margin-bottom:10px;
overflow:hidden;
padding:5px;
position:relative;
}

.lfr-form-row .row-controls {
bottom:5px;
float:right;
position:absolute;
right:5px;
}

.lfr-form-row .row-controls a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(forms.css) no-repeat scroll 2px 50%;
display:block;
float:left;
font-size:0;
height:16px;
padding:2px;
text-indent:-9999em;
width:16px;
}

.lfr-form-row .row-controls .add-row {
background-image:url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/common/add.png);
}

.lfr-form-row .row-controls .delete-row {
background-image:url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/common/delete.png);
}

.lfr-form-row legend .field-label {
float:left;
margin-right:10px;
}

.lfr-form-row .lfr-arrow-controls a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(forms.css) no-repeat scroll 2px 50%;
clear:none;
display:block;
float:left;
font-size:0;
height:16px;
padding:2px;
text-indent:-9999em;
width:16px;
}

.lfr-form-row .handle-sort-vertical {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/application/handle_sort_vertical.png) no-repeat scroll 0 50%;
cursor:move;
padding-left:20px;
}

.uni-form .lfr-form-row fieldset {
border:medium none;
margin:0;
padding:0;
}