/* This is the main CSS that includes other CSS files. */

@import url(base.css);

@import url(css_cached.css);

@import url(application.css);

@import url(layout.css);

@import url(navigation.css);

@import url(portlet.css);

@import url(forms.css);

@import url(custom.css);

@import url(layout_crpc.css);

@import url(portlet_crpc.css);

@import url(navigation_crpc.css);

@import url(content.css);

@import url(flux-rss.css);

@import url(galerie-publications-regionales.css);

@import url(search.css);

@import url(iefix.css);

@media print 
{
    BODY { font-size: 9pt }
	
	
	#wrapper
	{
		width:100%;
		padding:0;
		margin:0;
		border:none;
	}
	#banner
	{
		display:none;
	}
       #column-1
	{
		display:none;
	}
	
	#crpc_columns_3_niv2 #column-2, #crpc_columns_3 #column-2
	{
		width:16.7cm;
		padding:0px !important;
		float:none;
	}
	
	#column-3
	{
		display:none;
	}
	.lfr-dock
	{
		display:none;
	}
	#footer
	{
		display:none;
	}
	#crpc_columns_3 #column-2 h1, #crpc_columns_3_niv2 #column-2 h1
	{
		padding-left:0;
	}
	#crpc_columns_3 #column-2 .chapeau, #crpc_columns_3_niv2 #column-2 .chapeau
	{
		padding:0;
	}
#crpc_columns_3_niv2 #column-2 .chapeau, #crpc_columns_3_niv2 #column-2 .chapeau .chapeau {
padding:0px !important;
}

#crpc_columns_3_niv2 #column-2 .alfresco_contenu {
width:100%;
}

	.print_header
	{
	display:block;
	border:1px solid #999;
	padding:0.5em;
  font-style:italic;
  }
  /* Bandeau non imprime... ouh le vilain bandeau */
  
  #p_p_id_portletbandeau_WAR_portletbandeau_
  {
    display:none;
  }
	
  /* PATCH IE6 PRINT */

  .ie6 #crpc_columns_3_niv2 #column-2, .ie6 #crpc_columns_3 #column-2 {	
   background:none;
  }

  .ie6 #crpc_columns_3_niv2 #column-2 h1, .ie6 #crpc_columns_3 #column-2 h2 {
  background:none;
  padding:0em;
  }

  .ie6 #crpc_columns_3 #column-2 li, .ie6 #crpc_columns_3_niv2 #column-2 li {
  list-style-image:none;
  list-style-type:disc;
  }
	

}

@page {
        margin-top:2cm;
        margin-bottom:2cm;
}

