/*******************************************************************************
********************************************************************************
	Project		: Mercedes-Benz Deutschland
********************************************************************************
*******************************************************************************/
div#ms93-f-sitemap-2 {
	padding: 2px 0 0 20px;
}
div#ms93-sitemap-wbu {
	clear: both;
	float: left;
	width: 100%;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms93_bg_sitemap_52.gif);
	background-repeat: repeat-y;
	border-bottom: 1px solid #DDD;
}
div#ms93-sitemap-wbu div#ms93-sitemap-wbu-2 {
	padding: 16px 0 19px 11px;
}

div.ms93-ll51-wrapper, 
div.ms93-ll52-wrapper {
	float: left;
	width: 100%;
	border-bottom: 1px solid #DDD;
}
div.ms93-sitemap-wbu div.ms93-ll51-wrapper, 
div.ms93-sitemap-wbu div.ms93-ll52-wrapper, 
div.ms93-sitemap-wobu div.ms93-ll51-wrapper, 
div.ms93-sitemap-wobu div.ms93-ll52-wrapper {
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms93_bg_sitemap_51_wbu.gif);
	background-repeat: repeat-y;
}
div.ms93-sitemap-wobu div.ms93-ll51-wrapper {
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms93_bg_sitemap_51_wobu.gif);
}
div.ms93-sitemap-wbu div.ms93-ll52-wrapper, 
div.ms93-sitemap-wobu div.ms93-ll52-wrapper {
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms93_bg_sitemap_52.gif);
}
div.ms93-distance-t {
	padding-top: 20px;
}
div.ms93-ll51-distance-b, 
div.ms93-ll52-distance-b {
	margin-bottom: 20px;
}
ul.ms93-ll51, 
ul.ms93-ll52 {
	display: block;
	float: left;
	width: 218px;
	margin: 7px 10px 0 11px;
	padding-bottom: 7px;
}
div#ms93-sitemap-wbu ul.ms93-ll51, 
div#ms93-sitemap-wbu ul.ms93-ll52 {
	width: 213px;
}
ul.ms93-ll51-no-sublevels, 
ul.ms93-ll52-no-sublevels {
	padding-bottom: 3px;
}
ul.ms93-ll51 li, 
ul.ms93-ll52 li {
	display: block;
}