/*******************************************************************************
********************************************************************************
	Project		: Mercedes Benz Deutschland
********************************************************************************
*******************************************************************************/




/*	Table 5 ********************************************************************
*******************************************************************************/
div.ms-tb5 form table.ms-table-cols-3 .ms-table-col-2 p.ms-form-select select, 
div.ms-tb5 form table.ms-table-cols-3 .ms-table-col-3 p.ms-form-select select {
	width: 356px;
}



/*	Formular *******************************************************************
*******************************************************************************/

div.ms93-frm {
}
div.ms93-frm legend {
	font-weight: bold;
	padding: 0 0 5px 0;
}

div.ms93-frm p {
	clear: both;
	float: left;
	width: 100%;
	padding-bottom: 5px;
}
div.ms93-frm p.ms93-frm-inftxt, 
div.ms93-frm p.ms93-frm-txt, 
div.ms93-frm p.ms93-frm-txtr, 
div.ms93-frm p.ms93-frm-slct {
	padding-bottom: 10px;
}
div.ms93-frm p.ms93-frm-inftxt {
	padding-left: 190px;
}
div.ms93-frm p.ms93-frm-inftxt span.ms93-frm-inftxt-txt {
	display: block;
	width: 275px;
}

p.ms93-frm-rdo span.ms93-frm-label,
p.ms93-frm-chckbx span.ms93-frm-label, 
p.ms93-frm-txt label, 
p.ms93-frm-txtr label, 
p.ms93-frm-slct label {
	display: block;
	padding-bottom: 5px;
}
p.ms93-frm-rdo span.ms93-frm-label,
p.ms93-frm-chckbx span.ms93-frm-label, 
p.ms93-frm-txt-sbs label, 
p.ms93-frm-txtr-sbs label, 
p.ms93-frm-slct-sbs label {
	float: left;
	width: 170px;
	margin-right: 20px;
	padding-bottom: 0;
}

/*	Radio / Checkbox **********************************************************/
p.ms93-frm-rdo span.ms93-frm-fields, 
p.ms93-frm-chckbx span.ms93-frm-fields {
	display: block;
	float: left;
	width: 275px;
}
p.ms93-frm-rdo span.ms93-frm-fields span.ms-frm-rdo-col-2-a, 
p.ms93-frm-rdo span.ms93-frm-fields span.ms-frm-rdo-col-2-b, 
p.ms93-frm-chckbx span.ms93-frm-fields span.ms-frm-chckbx-col-2-a, 
p.ms93-frm-chckbx span.ms93-frm-fields span.ms-frm-chckbx-col-2-b {
	display: block;
	float: left;
}
p.ms93-frm-rdo span.ms93-frm-fields span.ms-frm-rdo-col-2-a, 
p.ms93-frm-chckbx span.ms93-frm-fields span.ms-frm-chckbx-col-2-a {
	padding-right: 25px;
}
p span.ms93-frm-rdo-v span.ms93-frm-field, 
p span.ms93-frm-chckbx-v span.ms93-frm-field {
	clear: both;
	display: block;
	margin-bottom: 9px;
}
p span.ms93-frm-rdo-h span.ms93-frm-field input, 
p span.ms93-frm-rdo-v span.ms93-frm-field input, 
p span.ms93-frm-chckbx-h span.ms93-frm-field input, 
p span.ms93-frm-chckbx-v span.ms93-frm-field input {
	display: block;
	float: left;
	margin-top: 0px;
	margin-right: 9px;
}
p span.ms93-frm-chckbx-h span.ms93-frm-field input, 
p span.ms93-frm-chckbx-v span.ms93-frm-field input {
	margin-right: 10px;
}
p span.ms93-frm-rdo-h span.ms93-frm-field label, 
p span.ms93-frm-chckbx-h span.ms93-frm-field label {
	float: left;
	margin-right: 25px;
}

/*	Input Text, Textarea, Select **********************************************/
p.ms93-frm-txt span.ms93-frm-field, 
p.ms93-frm-txtr span.ms93-frm-field,
p.ms93-frm-slct span.ms93-frm-field {
	float: left;
}
p.ms93-frm-txt input, 
p.ms93-frm-txtr textarea, 
p.ms93-frm-slct select {
	width: 465px;
	background-color: #F3F3F3;
	border: 1px solid #999;
}
p.ms93-frm-txt-sbs input, 
p.ms93-frm-txtr-sbs textarea, 
p.ms93-frm-slct-sbs select {
	width: 273px;
}

/*	Submit ********************************************************************/
div.ms93-frm-sbmt {
	float: right;
}
body div.ms93-frm-sbmt p.ms93-bt3 {
	clear: none;
	float: left;
	width: auto;
	margin-left: 10px;
}