/*******************************************************************************
********************************************************************************
	Project		: Mercedes-Benz Deutschland
********************************************************************************
*******************************************************************************/

div#ms-navi-webspecial {
	position:absolute;
	left:330px;
	top:71px;
	z-index:10;
}
div#ms-navi-webspecial ul li {
	line-height:1.1! important;
}
div#ms-navi-webspecial ul li {
	display:block;
	float:left;
}
div#ms-navi-webspecial ul li {
	padding-right:20px;
}
div#ms-navi-webspecial ul li.ms-navi-webspecial-first {
	margin-right:30px;
	padding-right:30px;
	border-right:1px solid #333;
}
div#ms-navi-webspecial ul li a {
	padding-right:9px;
}
div#ms-navi-webspecial ul li.ms-navi-webspecial-first a {
	padding-right:0px;
	padding-left:9px;
}

div#ms-webspecial-hdl, 
div#ms-webspecial-sbl {
	position:absolute;
	right:10px;
	top:43px;
}
div#ms-webspecial-sbl {
	top:71px;
}
div#ms-webspecial-sbl h2{
	line-height:1.1! important;
}