/******************************************************************************
* itlTabsStyle.css
*******************************************************************************

*******************************************************************************
*                                                                             *
* Copyright 2006									                          *
*                                                                             *
******************************************************************************/

/* standard style */

div.itlStandardTabs ul.itlStandardTabs li {  
	border-top: 1px solid #E0E0E0; 
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #808080;
	border-bottom-width: 0px;
	background-color:#F0F0F0;
}
div.itlStandardTabs ul.itlStandardTabs li.tabButtonSelected {
	background-color:#E0E0E0;
}
div.itlStandardTabs ul.itlStandardTabs li a:link,
div.itlStandardTabs ul.itlStandardTabs li a:visited,
div.itlStandardTabs ul.itlStandardTabs li a:hover,
div.itlStandardTabs ul.itlStandardTabs li a:active {
	color:black;
	text-decoration:none;
}
div.itlStandardTabs div.itlStandardTabsBlock {
	border-top: 1px solid #E0E0E0;
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	background-color:#E0E0E0;
}

/* right truncated style */

div.itlRightTruncatedTabs ul.itlRightTruncatedTabs {
	position:relative;
}

div.itlRightTruncatedTabs ul.itlRightTruncatedTabs li {  
	border-left:#bebebe solid 1px;
	background: url(itl-tabs-rightTruncated-off.gif) no-repeat right top;
}

div.itlRightTruncatedTabs ul.itlRightTruncatedTabs li a:link,
div.itlRightTruncatedTabs ul.itlRightTruncatedTabs li a:visited,
div.itlRightTruncatedTabs ul.itlRightTruncatedTabs li a:hover,
div.itlRightTruncatedTabs ul.itlRightTruncatedTabs li a:active {
	color: #4b4b4b;
	text-decoration: none;
}

div.itlRightTruncatedTabs ul.itlRightTruncatedTabs li.tabButton {
	border-bottom: 1px solid black;
}

div.itlRightTruncatedTabs ul.itlRightTruncatedTabs li.tabButtonSelected {  
	border-left:black solid 1px;
	background: url(itl-tabs-rightTruncated-on.gif) no-repeat right top;
	position: relative;
	top: 1px;
}

div.itlRightTruncatedTabs ul.itlRightTruncatedTabs li.tabButtonSelected a:link,
div.itlRightTruncatedTabs ul.itlRightTruncatedTabs li.tabButtonSelected a:visited,
div.itlRightTruncatedTabs ul.itlRightTruncatedTabs li.tabButtonSelected a:hover,
div.itlRightTruncatedTabs ul.itlRightTruncatedTabs li.tabButtonSelected a:active {
	color: black;
}

div.itlRightTruncatedTabs div.itlRightTruncatedTabsBlock {
	border: 1px solid black;
	margin-top: -1px;
}