.calendar {
	border-right: #000 2px solid;
	border-left: #fff 2px solid;
	border-top: #fff 2px solid;
	border-bottom: #000 2px solid;
	display: none;
	font-size: 11px;
	font-family: tahoma,verdana,sans-serif;
	background: #FFFFFF;
	cursor: default;
	color: #000;
	position: relative;
	z-index: 100;
}
.calendar TABLE {
	border-right: #fff 1px solid;
	border-top: #000 1px solid;
	font-size: 11px;
	background: #FFFFFF;
	border-left: #000 1px solid;
	cursor: default;	
	color: #000;
	border-bottom: #fff 1px solid;
	font-family: tahoma,verdana,sans-serif;
}
.calendar .button {
	border-right: #000 1px solid;
	padding-right: 1px;
	border-top: #fff 1px solid;
	padding-left: 1px;
	padding-bottom: 1px;
	border-left: #fff 1px solid;
	padding-top: 1px;
	border-bottom: #000 1px solid;
	text-align: center;
}
.calendar .nav {
	background: url(http://www.cg72.fr/iso_misc/menuarrow.gif) no-repeat 100% 100%;
}
.calendar THEAD .title {
	border-right: #000 1px solid;
	padding-right: 1px;
	border-top: #000 1px solid;
	padding-left: 1px;
	font-weight: bold;
	background-color: #E0F0FF;
	padding-bottom: 1px;
	border-left: #000 1px solid;
	color: #000000;
	padding-top: 1px;
	border-bottom: #000 1px solid;
	text-align: center;
}
.calendar THEAD .headrow {
	
}
.calendar THEAD .daynames {
	
}
.calendar THEAD .name {
	padding-right: 2px;
	padding-left: 2px;
	background: #DCE2E9;
	padding-bottom: 2px;
	padding-top: 2px;
	border-bottom: #000 1px solid;
	text-align: center;
}
.calendar THEAD .weekend {
	color: #FF6000;
}
.calendar THEAD .hilite {
	border-right: #000 2px solid;
	padding-right: 0px;
	border-top: #fff 2px solid;
	padding-left: 0px;
	padding-bottom: 0px;
	border-left: #fff 2px solid;
	padding-top: 0px;
	border-bottom: #000 2px solid;
	background-color: #FFFFFF;
}
.calendar THEAD .active {
	border-right: #fff 1px solid;
	padding-right: 0px;
	border-top: #000 1px solid;
	padding-left: 2px;
	padding-bottom: 0px;
	border-left: #000 1px solid;
	padding-top: 2px;
	border-bottom: #fff 1px solid;
	background-color: #9DACBF;
}
.calendar TBODY .day {
	padding-right: 4px;
	padding-left: 2px;
	padding-bottom: 2px;
	width: 2em;
	padding-top: 2px;
	text-align: right;
}
.calendar TABLE .wn {
	border-right: #000 1px solid;
	padding-right: 3px;
	padding-left: 2px;
	background: #DCE2E9;
	padding-bottom: 2px;
	padding-top: 2px;
}
.calendar TBODY .rowhilite TD {
	background: #DCE2E9;
}
.calendar TBODY .rowhilite TD.wn {
	background: #c8d4d0;
}
.calendar TBODY TD.hilite {
	border-right: #000 1px solid;
	padding-right: 3px;
	border-top: #fff 1px solid;
	padding-left: 1px;
	padding-bottom: 1px;
	border-left: #fff 1px solid;
	padding-top: 1px;
	border-bottom: #000 1px solid;
}
.calendar TBODY TD.active {
	border-right: #fff 1px solid;
	padding-right: 2px;
	border-top: #000 1px solid;
	padding-left: 2px;
	padding-bottom: 0px;
	border-left: #000 1px solid;
	padding-top: 2px;
	border-bottom: #fff 1px solid;
}
.calendar TBODY TD.selected {
	border-right: #fff 1px solid;
	padding-right: 2px;
	border-top: #000 1px solid;
	padding-left: 2px;
	font-weight: bold;
	background: #DCE2E9;
	padding-bottom: 0px;
	border-left: #000 1px solid;
	padding-top: 2px;
	border-bottom: #fff 1px solid;
}
.calendar TBODY TD.weekend {
	color: #FF6000;
}
.calendar TBODY TD.today {
	font-weight: bold;
	color: #00f;
}
.calendar TBODY .disabled {
	color: #999;
}
.calendar TBODY .emptycell {
	visibility: hidden;
}
.calendar TBODY .emptyrow {
	display: none;
}
.calendar TFOOT .footrow {
	
}
.calendar TFOOT .ttip {
	border-right: #000 1px solid;
	padding-right: 1px;
	border-top: #000 1px solid;
	padding-left: 1px;
	background-color: #E0F0FF;
	padding-bottom: 1px;
	border-left: #000 1px solid;
	color: #000000;
	padding-top: 1px;
	border-bottom: #000 1px solid;
	text-align: center;
}
.calendar TFOOT .hilite {
	border-right: #000 1px solid;
	padding-right: 1px;
	border-top: #fff 1px solid;
	padding-left: 1px;
	background: #FFFFFF;
	padding-bottom: 1px;
	border-left: #fff 1px solid;
	padding-top: 1px;
	border-bottom: #000 1px solid;
}
.calendar TFOOT .active {
	border-right: #fff 1px solid;
	padding-right: 0px;
	border-top: #000 1px solid;
	padding-left: 2px;
	padding-bottom: 0px;
	border-left: #000 1px solid;
	padding-top: 2px;
	border-bottom: #fff 1px solid;
}
.combo {
	border-right: #000 1px solid;
	padding-right: 1px;
	border-top: #fff 1px solid;
	display: none;
	padding-left: 1px;
	font-size: smaller;
	background: #FFFFFF;
	left: 0px;
	padding-bottom: 1px;
	border-left: #fff 1px solid;
	width: 4em;
	cursor: default;
	padding-top: 1px;
	border-bottom: #000 1px solid;
	position: absolute;
	top: 0px;
}
.combo .label {
	padding-right: 1px;
	padding-left: 1px;
	padding-bottom: 1px;
	padding-top: 1px;
	text-align: center;
}
.combo .label-IEfix {
	padding-right: 1px;
	padding-left: 1px;
	padding-bottom: 1px;
	padding-top: 1px;
	text-align: center;
}
.combo .label-IEfix {
	width: 4em;
}
.combo .active {
	border-right: #fff 1px solid;
	padding-right: 0px;
	border-top: #000 1px solid;
	padding-left: 0px;
	background: #FFFFFF;
	padding-bottom: 0px;
	border-left: #000 1px solid;
	padding-top: 0px;
	border-bottom: #fff 1px solid;
}
.combo .hilite {
	background: #9DACBF;
	color: #000000;
}
.calendar TD.time {
	padding-right: 0px;
	border-top: #000 1px solid;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-top: 1px;
	background-color: #DCE2E9;
	text-align: center;
}
.calendar TD.time .hour {
	border-right: #889 1px solid;
	padding-right: 3px;
	border-top: #889 1px solid;
	padding-left: 4px;
	font-weight: bold;
	padding-bottom: 0px;
	border-left: #889 1px solid;
	padding-top: 0px;
	border-bottom: #889 1px solid;
	background-color: #fff;
}
.calendar TD.time .minute {
	border-right: #889 1px solid;
	padding-right: 3px;
	border-top: #889 1px solid;
	padding-left: 4px;
	font-weight: bold;
	padding-bottom: 0px;
	border-left: #889 1px solid;
	padding-top: 0px;
	border-bottom: #889 1px solid;
	background-color: #fff;
}
.calendar TD.time .ampm {
	border-right: #889 1px solid;
	padding-right: 3px;
	border-top: #889 1px solid;
	padding-left: 4px;
	font-weight: bold;
	padding-bottom: 0px;
	border-left: #889 1px solid;
	padding-top: 0px;
	border-bottom: #889 1px solid;
	background-color: #fff;
}
.calendar TD.time .ampm {
	text-align: center;
}
.calendar TD.time .colon {
	padding-right: 2px;
	padding-left: 3px;
	font-weight: bold;
	padding-bottom: 0px;
	padding-top: 0px;
}
.calendar TD.time SPAN.hilite {
	border-left-color: #000;
	border-bottom-color: #000;
	color: #fff;
	border-top-color: #000; 
	background-color: #667;
	border-right-color: #000;
}
.calendar TD.time SPAN.active {
	border-left-color: #FF6000;
	border-bottom-color: #FF6000;
	color: #0f0;
	border-top-color: #FF6000;
	background-color: #000;
	border-right-color: #FF6000;
}
