/* LISTE A PUCE */
.cg72ArrowList, .cg72NewsList, .cg72EventList, .cg72ProjetList, .cg72LienList, .cg72ZoomList, .cg72ContactList, .cg72GalerieList, .cg72MainList {
	list-style-type:none;
	list-style-position:outside;
	color:#000000;
	margin:.3em 0 .3em 0;
	padding:0;
}

.cg72ArrowList li {
	font-weight: normal;
	background: url(i_flecheliste.gif) no-repeat 0 4px ;
	padding: 0 0 0 12px;
	margin: 0;
}
.cg72NewsList li, .cg72EventList li, .cg72ProjetList li, .cg72LienList li, .cg72ZoomList li, .cg72ContactList li, .cg72GalerieList li, .cg72MainList li {
	font-weight: normal; 
	line-height: 12px;
	padding: 0 0 0 14px;
	margin: 0;
}
.cg72NewsList li { 
	background: url(i_news.gif) no-repeat 0 1px;
}
.cg72EventList li {
	background: url(i_agenda.gif) no-repeat 0 1px;
}
.cg72ProjetList li {
	background: url(i_projet.gif) no-repeat 0 1px;
}
.cg72LienList li {
	background: url(i_lien.gif) no-repeat 0 1px;
}
.cg72ZoomList li {
	background: url(i_zoom.gif) no-repeat 0 1px;
}
.cg72ContactList li {
	background: url(i_contact.gif) no-repeat 0 1px;
}
.cg72GalerieList li {
	background: url(i_galerie.gif) no-repeat 0 1px;
}
.cg72MainList li {
	background: url(i_itineraire.gif) no-repeat 0 1px;
}