@charset "utf-8";
/* RESET */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th, * {/*font-weight: normal;*/ font-style: normal;}

body {margin:0; padding:0; background-color:#231f20; font:normal 11px Tahoma, Geneva, sans-serif; color:#b6b2b3;}
p{line-height:1.3em;margin:0/* 0 10px*/;}
h1{color:#ac866d;font-family: Tahoma, Geneva, sans-serif;font-size:14px;font-weight:bold;line-height:16px;}
h2{color:#B46767;font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;font-size:15px;font-weight:400;line-height:20px;margin:0;}
h3{color:#8c7c80;font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;font-size:13px;font-weight:400;line-height:14px;margin:0;}
h4{color:#AD6464;font-family:Arial,Helvetica,sans-serif;font-size:13px;font-weight:700;}
h4 span{color:#B19999;font-family:Arial,Helvetica,sans-serif;font-size:13px;font-weight:700;}
h5{color:#AD6464;font-family:Arial,Helvetica,sans-serif;font-size:11px;}
ul {list-style-type:none}
ul li {background:url(arrow.gif) 0 0.4em no-repeat transparent; padding: 0 0 0 15px; margin:0 0 10px 0;}
a {color:#615659}
a:hover {color:#a7989c}
a img{border:0;}
strong{color:#9c8f92}
dfn,
dfn a,
.bloc ul li dfn a{color:#ac866d;}
input,textarea{background-color:#2e292a;border:0 none;font-size:9px;padding:2px; font:normal 11px Tahoma, Geneva, sans-serif;  color:#A69499;}
label{display:block;font-size:11px;text-align:right;margin:0 0 4px;}
s{text-decoration:none;}
hr{display:block; text-decoration:none; height:0; clear:both; border:0; visibility: hidden; margin:0; padding:0;}
u{display:block;text-decoration:none; height:0; font-size:1px; clear:both;}
u.esp{height:18px;}
u.esp10{height:10px;}
u.esp20{height:20px;}
hr.sep,
u.sep{height:18px; background:url(points-H.gif) repeat-x center;}
u.rel{position:relative; height:0; overflow:hidden;}

/* CLASSES */
.flagEN,
.flagRU,
.flagFR,
.flagSP,
.flagDE,
.flagIT,
.flagCR,
.flagENOff,
.flagFROff				{background:url(flag-fr.gif) no-repeat center right; display:inline-block; width:19px; height:13px; margin:0 2px; vertical-align:middle;}
.flagEN					{background-image:url(flag-en.gif);}
.flagENOff				{background-image:url(flag-en-off.gif);}
.flagFROff				{background-image:url(flag-fr-off.gif);}
.flagSP					{background-image:url(flag-sp.gif);}
.flagDE					{background-image:url(flag-de.gif);}
.flagCR					{background-image:url(flag-cr.gif);}
.flagIT					{background-image:url(flag-it.gif);}
.flagRU					{background-image:url(flag-ru.gif);}
/* CLASSES */
.mt0,	
.mb0,	
.ml0,	
.mr0		{margin:0;}
.ml5		{margin-left:5px;}
.ml10	{margin-left:10px;}
.ml15	{margin-left:15px;}
.ml20	{margin-left:20px;}
.ml30	{margin-left:30px;}
.ml40	{margin-left:40px;}
.ml50	{margin-left:50px;}
.ml60	{margin-left:60px;}
.ml70	{margin-left:70px;}
.ml80	{margin-left:80px;}
.ml90	{margin-left:90px;}
.ml100	{margin-left:100px;}
.mr5		{margin-right:5px;}
.mr10	{margin-right:10px;}
.mr15	{margin-right:15px;}
.mr20	{margin-right:20px;}
.mr30	{margin-right:30px;}
.mr40	{margin-right:40px;}
.mr50	{margin-right:50px;}
.mr60	{margin-right:60px;}
.mr70	{margin-right:70px;}
.mr80	{margin-right:80px;}
.mr90	{margin-right:90px;}
.mr100	{margin-right:100px;}
.mt5		{margin-top:5px;}
.mt10	{margin-top:10px;}
.mt15	{margin-top:15px;}
.mt20	{margin-top:20px;}
.mt30	{margin-top:30px;}
.mt40	{margin-top:40px;}
.mt50	{margin-top:50px;}
.mt60	{margin-top:60px;}
.mt70	{margin-top:70px;}
.mt80	{margin-top:80px;}
.mt90	{margin-top:90px;}
.mt100	{margin-top:100px;}
.mb5		{margin-bottom:5px;}
.mb10	{margin-bottom:10px;}
.mb20	{margin-bottom:20px;}
.mb30	{margin-bottom:30px;}
.mb40	{margin-bottom:40px;}
.mb50	{margin-bottom:50px;}
.mb60	{margin-bottom:60px;}
.mb70	{margin-bottom:70px;}
.mb80	{margin-bottom:80px;}
.mb90	{margin-bottom:90px;}
.mb100	{margin-bottom:100px;}

.pt0,	
.pb0,	
.pl0,	
.pr0		{padding:0;}
.pt5		{padding-top:5px;}
.pt10		{padding-top:10px;}
.pt15		{padding-top:15px;}
.pt20		{padding-top:20px;}
.pt30		{padding-top:30px;}
.pt40		{padding-top:40px;}
.pt50		{padding-top:50px;}
.pt60		{padding-top:60px;}
.pt70		{padding-top:70px;}
.pt80		{padding-top:80px;}
.pt90		{padding-top:90px;}
.pt100	{padding-top:100px;}
.pb5		{padding-bottom:5px;}
.pb10	{padding-bottom:10px;}
.pb15	{padding-bottom:15px;}
.pb20	{padding-bottom:20px;}
.pb30	{padding-bottom:30px;}
.pb40	{padding-bottom:40px;}
.pb50	{padding-bottom:50px;}
.pb60	{padding-bottom:60px;}
.pb70	{padding-bottom:70px;}
.pb80	{padding-bottom:80px;}
.pb90	{padding-bottom:90px;}
.pb100	{padding-bottom:100px;}
.pl5		{padding-left:5px;}
.pl10		{padding-left:10px;}
.pl15		{padding-left:15px;}
.pl20		{padding-left:20px;}
.pl30		{padding-left:30px;}
.pl40		{padding-left:40px;}
.pl50		{padding-left:50px;}
.pl60		{padding-left:60px;}
.pl70		{padding-left:70px;}
.pl80		{padding-left:80px;}
.pl90		{padding-left:90px;}
.pl100	{padding-left:100px;}
.pr5		{padding-right:5px;}
.pr10		{padding-right:10px;}
.pr15		{padding-right:15px;}
.pr20		{padding-right:20px;}
.pr30		{padding-right:30px;}
.pr40		{padding-right:40px;}
.pr50		{padding-right:50px;}
.pr60		{padding-right:60px;}
.pr70		{padding-right:70px;}
.pr80		{padding-right:80px;}
.pr90		{padding-right:90px;}
.pr100	{padding-right:100px;}
.marg10{margin:10px;}
.marg15{margin:15px;}
.marg20{margin:20px;}
.pad10{padding:10px;}
.pad15{padding:15px;}
.pad20{padding:20px;}
.margd05{margin-right:5px; float:left;}
.margd10{margin-right:10px; float:left;}
.margd20{margin-right:20px; float:left;}
.margg{margin:0 0 10px 10px; float:right;}
.clear{clear:both}
.c{text-align:center;}
.g{text-align:left;}
.d{text-align:right;}
.j{text-align:justify;}
.fr,
.fright{display:block;float:right;}
.fl,
.fleft{display:block;float:left;}
.fc{margin-right:auto; margin-left:auto;}
.note{font-size:9px;}
.rel{_position:relative;}
.none{display:none;}
.bloc						{background:url(bloc-bg.gif) repeat-x top; padding:16px 26px;}
.bloc ul li a				{color: #8e7c83; text-decoration:none;}
.bloc ul li a:hover	{color: #B6B2B3;}
.l5{width:5%;}
.l10{width:10%;}
.l15{width:15%;}
.l20{width:20%;}
.l25{width:25%;}
.l30{width:30%;}
.l33{width:33%;}
.l35{width:35%;}
.l40{width:40%;}
.l45{width:45%;}
.l48{width:48%;}
.l50{width:50%;}
.l55{width:55%;}
.l60{width:60%;}
.l65{width:65%;}
.l70{width:70%;}
.l75{width:75%;}
.l80{width:80%;}
.l85{width:85%;}
.l90{width:90%;}
.l95{width:95%;}
.l100{width:100%;}
.w100 {width:100px}
.l150{width:150px;}
.l200{width:200px;}
.l250{width:250px;}
.l300{width:300px;}
.l350{width:350px;}
.l400{width:400px;}
.l450{width:450px;}
.l500{width:500px;}
.l550{width:550px;}
.l600{width:600px;}
.l650{width:650px;}
.l700{width:700px;}
.l900{width:900px;}
.l950{width:950px;}
.cur{cursor:pointer;}

a.bouton{
	display:-moz-inline-box;
	display:inline-block;
	margin:0;
	padding:0;
	color:#e2d7da; text-decoration:none;  font-weight:normal;
	white-space:nowrap;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	border:0;
	background:none;}
a.bouton span{
	position:relative;
	float:left;
	padding:0 0 0 8px;
	vertical-align:middle;
	background:url(bouton-g.png) left top no-repeat; 		_background-image:url(bouton-g.gif);}
a.bouton span span{
	padding:0 8px 0 0;
	background:url(bouton-d.png) right top no-repeat;		_background-image:url(bouton-d.gif);}
a.bouton span span span{
	height:30px;
	padding:0 10px;
	line-height:2.4em;
	background:url(bouton-c.png) left top repeat-x;		_background-image:url(bouton-c.gif);}
a.bouton:hover{color:#fff;}

a.arrow		{background:url(arrow.gif) 0 0.4em no-repeat transparent; padding: 0 0 0 15px}

a.icoGoogleMaps,
a.icoPDF	,
a.icoLien			{display:-moz-inline-box; display:inline-block; cursor:pointer;}
a.icoGoogleMaps span,
a.icoPDF span,
a.icoLien span	{position:relative;	float:left;		vertical-align:middle;padding: 4px 0 4px 24px}

a.icoPDF span		{background:url(ico-pdf.gif) 0 0 no-repeat transparent; }
a.icoLien span	{background:url(ico-lien.png) 0 0 no-repeat transparent;_background-image:url(ico-lien.gif);}
a.icoGoogleMaps	{background:url(ico-googlemaps.png) 0 0 no-repeat transparent;_background-image:url(ico-googlemaps.gif);}

a.cadre img					{border:1px solid #2e292a; padding:1px;}
a.cadre:hover img			{border-color:#8E7C83;}

/*######## FORMULAIRES #########*/
.champcontact, .champfocus,	.champerreur{background-color:#3f3839;border:1px solid #231f20;font-size:9px; font:normal 11px Tahoma, Geneva, sans-serif;  color:#A69499;
	margin: 0 0 4px 0; padding:2px;display: inline;}
.champerreur{border:1px solid #fd7e00; border-top-color:#fbab25;border-bottom-color:#b65100; background: #381c00; color:#ffeedd;}
			
.erreur,	div.erreurMsg{font-family: "Century Gothic", "Apple Gothic", Arial, sans-serif; color:#47bcd9;font-weight:normal; font-size:11px;}
div.erreurMsg{margin: 6px 0px;	padding:8px 8px 8px 40px;
			background: url(http://www.wauquiez.com/images/ico-atttention.png) no-repeat 5px center #2f3134;_background-image:url(http://www.wauquiez.com/images/ico-atttention.gif);}
span.erreurMsg{margin: 6px 0px;font-family: "Century Gothic", "Apple Gothic", Arial, sans-serif; color:#47bcd9;font-weight:normal; font-size:11px;	padding:8px 8px 8px 40px;background: url(http://www.wauquiez.com/images/ico-atttention.png) no-repeat 5px center #2f3134;_background-image:url(http://www.wauquiez.com/images/ico-atttention.gif);}
span.erreurIcoArea,
span.erreurIcoArea span,
.erreurIco	{display:-moz-inline-box; display:inline-block;
				background: url(ico-erreur.png) no-repeat center center; _background-image:url(ico-erreur.gif); width:26px; height:24px}
span.erreurIcoArea		{background:none; vertical-align:top;}

/*tableau données*/
.Table{border-collapse:collapse; border-spacing:0; border:0; border-top: 1px solid #544b4d; border-left: 1px solid #544b4d; background:#342f30;}
.Table th{background: url(fond-th-clair.gif) no-repeat top left #d7cdbe; color: #4D382A;
					border-bottom: 1px solid #cdc4b8; border-right: 1px solid #cdc4b8; padding:4px;text-align:left;}
.Table th.c,
.Table tr.c th{text-align:center;}
.Table td{border:0;border-bottom: 1px solid #544b4d; border-right: 1px solid #544b4d; padding:2px 4px; color:#8c7a81;}

/*tableau données blanc*/
.TableBlanc{border-collapse:collapse; border-spacing:0; border:0; border-top: 1px solid #d8d0c1; border-left: 1px solid #d8d0c1; background:#fff;}
.TableBlanc th{background: url(fond-th-clair.gif) no-repeat top left #d7cdbe; color: #4D382A;
					border-bottom: 1px solid #cdc4b8; border-right: 1px solid #cdc4b8; padding:4px;text-align:left;}
.TableBlanc th.c,
.TableBlanc tr.c th{text-align:center;}
.TableBlanc td{border:0;border-bottom: 1px solid #d8d0c1; border-right: 1px solid #d8d0c1; padding:2px 4px; color:#8c7a81;}





div.Global {width:980px; margin:0 auto}
div.Header {width:100%; border-bottom:1px solid #615659; height:112px; padding:0/* 0 10px 0*/; overflow:hidden; position:relative;}
div.Header img.logo {float:left; margin: 0 0 0 40px}
#flashHome {width:980px; height:665px; margin:12px 0;}
#Concessionnaires {width:980px; height:580px;}

/* MENU PRINCIPAL */
ul.menuHaut {float:right; width:700px; /*_width:550px;*/ /*margin: 90px 0 0 0;*/ padding:0; position:absolute; right:0; bottom:10px; height:17px;}
ul.menuHaut li {float:left; margin: 0 16px; _margin: 0 10px; padding:0; font:normal 14px Tahoma, Geneva, sans-serif; text-transform:uppercase; background:none;}
ul.menuHaut li a {text-decoration:none;color:#A69499;}
ul.menuHaut li a:hover,
ul.menuHaut li a.selected {color:#dfd8da;}

ul.menuHaut li a.carre {display:block; _width:90px;padding-left:20px ; height:16px; background:url(ico-cadenas.gif) no-repeat 0 0.02em;}

/* MENU SECONDAIRE */
ul.menuSecondaire {float:right; width:700px; margin:0 0 60px 0; padding:0;}
ul.menuSecondaire li {float:right; margin: 0 8px 0 20px; padding:0; font:normal 11px Tahoma, Geneva, sans-serif; text-transform:uppercase; background:none; }
ul.menuSecondaire li a {text-decoration:none; color:#A69499;}
ul.menuSecondaire li a:hover,
ul.menuSecondaire li a.selected {color:#dfd8da;}


div.diaporamaHome			{width:980px; height:578px; overflow:hidden; margin:12px 0}

div.footer							{height:140px;	background:url(sep.gif) repeat-x 86px; position:relative; margin-top:-60px; _margin-top:-90px;}
div.footer ul						{height:56px;  padding:0; margin:0; position:absolute; bottom:20px; left:220px;}
div.footer ul li						{float:left; width:190px; height:56px;  margin:0; padding:0; background:none;}
div.footer ul li a					{display:block;width:100%; height:100%; }
div.footer ul li,
div.footer ul li a					{background:url(footer-1-off.gif) no-repeat bottom left;}
div.footer ul li a.selected		{background-image:url(footer-1.gif)}
div.footer ul li a span			{display:none;}

div.footer div.Embleme					{height:140px; width:200px; background:url(embleme-bateaux.gif) no-repeat top center;}
div.footer div.Embleme a					{background:url(embleme-bateaux.gif) no-repeat top center;display:block;width:100%; height:100%;}
div.footer div.Embleme a.bateaux		{background-image:url(embleme-bateaux.gif);}
div.footer div.Embleme a.gammes	{background-image:url(embleme-gammes.gif);}

div.footer li.Acces4					{width:180px;}
div.footer li.Acces1,
div.footer li.Acces1 a				{background-image:url(footer-1-off.gif);}
div.footer li.Acces2,
div.footer li.Acces2 a				{background-image:url(footer-2-off.gif);}
div.footer li.Acces3,
div.footer li.Acces3 a				{background-image:url(footer-3-off.gif);}
div.footer li.Acces4,
div.footer li.Acces4 a				{background-image:url(footer-4-off.gif);}
div.footer li.Acces1 a.selected,
div.footer li.Acces1 a:hover				{background-image:url(footer-1.gif);}
div.footer li.Acces2 a.selected,
div.footer li.Acces2 a:hover				{background-image:url(footer-2.gif);}
div.footer li.Acces3 a.selected,
div.footer li.Acces3 a:hover				{background-image:url(footer-3.gif);}
div.footer li.Acces4 a.selected,
div.footer li.Acces4 a:hover				{background-image:url(footer-4.gif);}



div.footer div.EmblemeEN					{height:140px; width:200px; background:url(embleme-bateaux.gif.1) no-repeat top center;}
div.footer div.EmblemeEN a					{background:url(embleme-bateaux.gif.1) no-repeat top center;display:block;width:100%; height:100%;}
div.footer div.EmblemeEN a.bateaux		{background-image:url(embleme-bateaux.gif.1);}
div.footer div.EmblemeEN a.gammes	{background-image:url(embleme-gammes.gif.1);}

div.footer li.Acces8					{width:180px;}
div.footer li.Acces5,
div.footer li.Acces5 a				{background-image:url(footer-1-off.gif.1);}
div.footer li.Acces6,
div.footer li.Acces6 a				{background-image:url(footer-2-off.gif.1);}
div.footer li.Acces7,
div.footer li.Acces7 a				{background-image:url(footer-3-off.gif.1);}
div.footer li.Acces8,
div.footer li.Acces8 a				{background-image:url(footer-4-off.gif.1);}
div.footer li.Acces5 a.selected,
div.footer li.Acces5 a:hover				{background-image:url(footer-1.gif.1);}
div.footer li.Acces6 a.selected,
div.footer li.Acces6 a:hover				{background-image:url(footer-2.gif.1);}
div.footer li.Acces7 a.selected,
div.footer li.Acces7 a:hover				{background-image:url(footer-3.gif.1);}
div.footer li.Acces8 a.selected,
div.footer li.Acces8 a:hover				{background-image:url(footer-4.gif.1);}




/**/
div.colDroite							{float:right;	width:420px; margin-right:60px; _margin-right:30px;	 overflow:hidden;  }
div.colGauche							{float:left; 		width:370px; margin-left:60px; 	_margin-left:30px;		padding-bottom:90px;}

/* page Pilot Saloon */
div.gammeGalerie,
div.gammeVideo							{float:right;	width:420px; margin-right:60px; _margin-right:30px;	overflow:hidden;  }
div.gammeTexte							{float:left; 		width:350px; margin-left:60px; _margin-left:30px;	}
div.vignetteGalerie,
div.vignetteVideo,
div.vignetteGalerieLarge				{width:410px; height:272px; overflow:hidden;  position:relative; margin:0 auto 10px auto; text-align:center;}
div.vignetteGalerieLarge				{width:630px; margin: 0 0 10px 0;}
div.vignetteVideo a.btVideo,
a.btGalerie									{background: url(bt-galerie-photo.png) no-repeat right top; /*width: 74px; height:74px;*/width:100%; height:100%; display:block;
												position:absolute; /*right:0;*/ _background-image: url(bt-galerie-photo.gif);  z-index:900;}
div.vignetteVideo a.btVideo			{background-image: url(bt-voir-video.png);_background-image: url(bt-voir-video.gif);}
div.vignetteVideo a.btLecture		{background: url(bt-lecture.png) no-repeat center center; width: 100%; height:100%; display:block;
												position:absolute; left:0; _background-image: url(bt-lecture.gif); z-index:800;}	
div.vignettesGalerie						{width:100%;}													
div.vignettesGalerie a					{display:block; width:200px; height:130px; float:left; margin:0 5px 10px 5px; _margin:0 5px 10px 3px; overflow:hidden;}		
div.vignettesGalerie a.none			{display:none;}


div.gammeGalerieEN,
div.gammeVideoEN							{float:right;	width:420px; margin-right:60px; _margin-right:30px;	overflow:hidden;  }
div.gammeTexteEN							{float:left; 		width:350px; margin-left:60px; _margin-left:30px;	}
div.vignetteGalerieEN,
div.vignetteVideoEN,
div.vignetteGalerieLargeEN				{width:410px; height:272px; overflow:hidden;  position:relative; margin:0 auto 10px auto; text-align:center;}
div.vignetteGalerieLargeEN				{width:630px; margin: 0 0 10px 0;}
div.vignetteVideoEN a.btVideoEN,
a.btGalerieEN									{background: url(bt-galerie-photo.png.1) no-repeat right top; /*width: 74px; height:74px;*/width:100%; height:100%; display:block;
												position:absolute; /*right:0;*/ _background-image: url(bt-galerie-photo.gif.1);  z-index:900;}
div.vignetteVideoEN a.btVideoEN			{background-image: url(bt-voir-video.png.1);_background-image: url(bt-voir-video.gif.1);}
div.vignetteVideoEN a.btLectureEN		{background: url(bt-lecture.png) no-repeat center center; width: 100%; height:100%; display:block;
												position:absolute; left:0; _background-image: url(bt-lecture.gif); z-index:800;}	
div.vignettesGalerieEN						{width:100%;}													
div.vignettesGalerieEN a					{display:block; width:200px; height:130px; float:left; margin:0 5px 10px 5px; _margin:0 5px 10px 3px; overflow:hidden;}		
div.vignettesGalerieEN a.none			{display:none;}

/* fiches Pilot Saloon */
div.ficheDroite,
div.ficheVideo							{float:right;	width:742px; 	overflow:hidden;  }
div.ficheGauche,
div.ficheTexte							{float:left; 		width:200px; margin-bottom:60px;}
div.vignettePhoto						{width:100%; overflow:hidden;  position:relative;}
div.vignettePhoto a.btGalerie		{background: url(bt-galerie-photo.png) no-repeat center center; width: 74px; height:74px; display:block;
												position:absolute; right:0; _background-image: url(bt-galerie-photo.gif);  z-index:900;}
												
div.vignettePhotoEN						{width:100%; overflow:hidden;  position:relative;}
div.vignettePhotoEN a.btGalerie		{background: url(bt-galerie-photo.png.1) no-repeat center center; width: 74px; height:74px; display:block;
												position:absolute; right:0; _background-image: url(bt-galerie-photo.gif.1);  z-index:900;}
												
/* pages Bateaux */
div.bateauxVisuel							{float:right;	width:742px; 	overflow:hidden;  }
div.bateauxTexte							{float:left; 		width:200px; 	}
div.vignettePhoto							{width:100%; overflow:hidden;  position:relative;}

h1.titre												{width:200px; height:70px; background:url(http://www.wauquiez.com/FR/images/navigations-exception.gif) no-repeat 0 0; margin-top:10px;}
h1.titre span										{display:none;}
h1.NavigationsException						{background-image:url(titre-navigations-exception.gif);}
h1.ArtMatiere										{background-image:url(titre-art-matiere.gif);}
h1.VotreConfort									{background-image:url(titre-votre-confort.gif);}
h1.Innovation										{background-image:url(titre-innovation-perfection.gif);}


h1.NavigationsExceptionEN						{background-image:url(titre-navigations-exception.gif.1);}
h1.ArtMatiereEN										{background-image:url(titre-art-matiere.gif.1);}
h1.VotreConfortEN									{background-image:url(titre-votre-confort.gif.1);}
h1.InnovationEN										{background-image:url(titre-innovation-perfection.gif.1);}


div.accesRapide							{background:url(bloc-bg.gif) repeat-x top; padding:16px 26px; margin:40px 0;}
div.accesRapide ul li a					{color: #8e7c83; text-decoration:none;}
div.accesRapide ul li a.selected,
div.accesRapide ul li a:hover		{color: #B6B2B3;}

/* Galerie de photos */
div.galeriePhotos a							{display:block; float:left; width:204px; height:137px; overflow:hidden; margin:0 10px 10px 0;}
div.galeriePhotos a img					{border:1px solid #2e292a; padding:1px;}
div.galeriePhotos a:hover img			{border-color:#8E7C83;}


/*diaporama Home*/
div.diaporamaHome						{width:980px; height:665px; overflow:hidden; position:relative;}
div.diaporamaSupTexte,					
div.diaporamaTexte						{width:240px; height:220px; position:absolute; bottom:188px; left:30px;padding:20px; z-index:60;
													background:#231F20; filter:alpha(opacity=90); -moz-opacity:0.90; opacity: 0.90;}
/*div.diaporamaSupTexte				{ z-index:50}
div.diaporamaVisuel						{z-index:40;}*/
div.diaporamaTexte h1,
div.diaporamaTexte h1 strong			{color:#FFFFFF; font-family:"Times New Roman", Times, serif; font-size:18px; font-style:italic; font-weight:normal;}
div.diaporamaTexte h1 strong			{color:#9C800E;}
div.diaporamaTexte p						{color:#cccccc;}
#diaporamaFlash 							{width:980px; height:665px;}


