body{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 9pt;
	background-color: #FFFFFF;
	font-style: normal;
	color: #858675;
}

td{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 9pt;
	font-style: normal;
	color: #858675;
}

a{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 9pt;
	font-weight: normal;
	color: #858675;
	text-decoration:none;
}

a:hover
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 9pt;
	font-weight: normal;
	color: #999999;
	text-decoration:underline;
}

.vinsTitre{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 12pt;
	font-style: normal;
	font-weight: bold;
	color: #580303;
	text-transform:uppercase;
}
.vinsSousTitre{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	color: #580303;	
}
.vinsDetails{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	color: #858675;	
}
.vins{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 11pt;
	font-style: normal;
	color: #858675;
}
.actusTitre{
	font-family:"Times New Roman", Times, serif;
	font-size: 12pt;
	font-style: normal;
	font-weight: bold;
	color: #580303;
	text-transform:uppercase;
}
.actusSousTitre{
	font-family:"Times New Roman", Times, serif;
	font-size: 11pt;
	font-style:italic;
	color: #580303;	
}
a.actusSousTitre{
	font-family:"Times New Roman", Times, serif;
	font-size: 11pt;
	font-style:italic;
	color: #580303;	
	text-decoration:none;
}

a:hover.actusSousTitre
{
	font-family:"Times New Roman", Times, serif;
	font-size: 11pt;
	font-style:italic;
	color: #999999;
	text-decoration:underline;
}
.actusDate{
	font-family:"Times New Roman", Times, serif;
	font-size: 9pt;
	font-style: normal;
	color: #580303;
}
a.photo{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 9pt;
	font-weight: bold;
	color: #858675;
	text-decoration:none;
}

a:hover.photo
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 9pt;
	font-weight: bold;
	color: #999999;
	text-decoration:underline;
}
.mention{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 8pt;
	line-height: 20px;
	color: #AA563F;
}
a.mention{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 8pt;
	color: #AA563F;
	text-decoration:none;
}

a:hover.mention
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 8pt;
	color: #999999;
	text-decoration:underline;
}

.pages{
	font-family: Times New Roman, Times, serif;
	font-size: 8pt;
	line-height: 20px;
	color: #AA563F;
}
a.pages{
	font-family: Times New Roman, Times, serif;
	font-size: 9pt;
	color: #AA563F;
	text-decoration:none;
}

a:hover.pages
{
	font-family: Times New Roman, Times, serif;
	font-size: 9pt;
	font-weight: bold;
	color: #AA563F;
	text-decoration:none;
}
#bouton{
	border-style: solid;
	border-width:1px;
	border-color:#3D0B00;
	background-color:C1BDA4;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 15px;
	color:3D0B00;
}