.diapo_menu{
/*border-bottom:1px solid #dadada;
padding:3px 0;
margin-bottom:2px;
background-color:#f4f4f4;*/}

#diapo_ico {background-color:#ffffff;}
#diapo_icones a { 
	float:right;
	font-size:8px;
	width:9px;
	margin:2px 5px 2px 2px;
	text-align:center;
	border:1px solid #dadada;
	border-color:#dadada;
	text-decoration: none;
}
#diapo_icones a:hover, #diapo_icones a.selected { 
	border:1px solid #006169; 
	border-color:#006169;
	text-decoration: none;
}
#diapo_icones #diapo_icoleft {
	border-left-width:4px;
}
#diapo_icones #diapo_icoright {
	border-right-width:4px;
}
#diapo_icones #diapo_icocenter{
	background-color:#dadada;
}
#diapo_icones #diapo_icocenter,
#diapo_icones #diapo_ico{
	width:12px;
}
#diapo_icones #diapo_icocenter.selected,
#diapo_icones #diapo_icocenter:hover{
	background-color:#006169;
}

#diapo_vignettes {
	/*margin-top:5px;
	position:relative;
	text-align:center;*/
}
.diapo_vignettes, .diapo_vignettes_center {
	/*margin-left:4px;*/
}
.diapo_vignettes_right {
	/*float:right;
	display:block;
	width:180px;*/
}
.diapo_vignettes_left {
	float:left;
	display:block;
	width:180px;
}
.diapo_vignettes_invisible {
	/*display:none;*/
}
.diapo_vignette {
	float:left;
	display:block;
	position:relative;
	text-align:left;
	width:89px;
	height:89px;
}
#diapo {
	/*float:left;
	display:block;
	position:relative;
	text-align:center;
	margin-top:5px;*/
}
.diapo_grand {
	/*width:60%;
	border:1px dotted red;*/
}
.diapo_petit {
	/*width:534px;*/
}