.piti {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px}
.champ {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #FFFFFF; background-color: #573B33}
.titre1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold}
.liens {  border: 1px #53372F solid; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; background-color: F4F8EA}
.courantju {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; text-align: justify}
.grasvert {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #649658}
.grasmar {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #663333
}
.grasocre {

font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #993300
}
a:link {
	color: #573B33;
	text-decoration: none;
}
a:hover {
	color: #776F62;
	text-decoration: none;
}
a:visited {
	color: #DD790B;
	text-decoration: none;
}
.gras {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: justify;
	font-weight: bold;

}
.grasrouge {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #ED0000
}
.courantor {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: justify;
	color: #EA6A39;

}
.graorang {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: justify;
	color: #EA6A39;
	font-weight: bold;

}
.courantnj {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.titre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #9ECB84;
	color: #607D55;
	border-top: 1px solid #DEEABF;
	border-right: 1px solid #77A960;
	border-bottom: 1px solid #77A960;
	border-left: 1px solid #DEEABF;
	text-indent: 5px;




}
.pitigra {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFECB0;
	letter-spacing: 1px;


}
.pitigrabl {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: 1px;

}
.border {
	border-top: 1px solid #77A960;
	border-right: 1px solid #679853;
	border-bottom: 1px solid #679853;
	border-left: 1px solid #77A960;

}
