/*=======*/
/* Label */
/*=======*/
form#formRech label, form#formRechAV label, form#formRechE label, form#formOTEP label {
  float: left;
  display: block;
  font-weight:bold;
  text-align: right;	
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}
form#formOTEP label {
	font-weight:normal;
	width: 200px;
	margin-right: 5px;
}
form#formOTEP3 label {
	width: 0px;
	margin-right: 5px;
}
form#formPortalPresse label, form#formRCM label {
  font-weight: bold;
}
div#RCMCriteresSel label {
  font-weight: normal;
}

form#CPSFormulaire label {
	float: left;
	display: block;
	font-weight:bold;
  text-align: right;	
	width: 130px;
  margin-top: 4px;
	margin-bottom: 10px;
  padding-right: 5px;
}

form#CPSFormulaire .label_join_error {
    float: none;
    display: inline;
    font-weight:bold;
    text-align: right;	
    width: 100px;
    margin-top: 4px;
    margin-bottom: 10px;
    padding-right: 5px;
    color:red;
}

/* Pour les champs concatÚnÚs */
form#CPSFormulaire .label_join {
    float: none;
    display: inline;
    font-weight:bold;
    text-align: right;	
    width: 100px;
    margin-top: 4px;
    margin-bottom: 10px;
    padding-right: 5px;
}


div#enteteRecherche label {
  display:none;
}
div#ravPersonaliseePeriode label, div#ravPersonaliseeTexte label, div#ravPersonaliseeMotsCles label {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
  text-align:left;
  border-bottom: thin dotted #c4c4c4;
  width: 100%;
}

div#RCMSaisieAnneMois label {
  display:none;
}
div#RCMSaisieAnneMois span {
  font-weight: bold;
}

/*=======*/
/* Input */
/*=======*/
.champ { 
	font-size:  1em;
	color: #373737;
  height:1.5em;
	background-color: #eee; 
	border: solid 1px #fff; 
	border-top-color: #888; 
	border-left-color: #888;
	padding-top: 3px; 
}
.champ:hover,.champ:focus, .champotep:hover, .champotep:focus  { 
	background: transparent;
}

.champotep {
  font-size: 1em;
  color: #373737;
	background: #eee; 
  vertical-align: middle;
	border: solid 1px #fff; 
	border-top-color: #888; 
	border-left-color: #888;
  margin: 2px 2px 2px 2px;
}

.champotep2 {
  margin-left: 144px;
}

.champotep3 {
  margin-left: 2px;
}

* html body .champotep3{
	margin-left: 144px !important;
}

div#searchCriteria .champ, form#formRech .champ, form#formRechAV .champ, form#formRechE champ {
  width : 14em;
}

fieldset#ravPersonnaliseeCriteria input.champ {
  width : 26em;
}

.champrecherche { 
  font-size:  1em;
  color: #E94E0A;
  height:1.5em;
  width: 15em;
  background-color: #fff;
  text-align: left;
  vertical-align: middle;
  border: solid 1px #00497E; 
}

div#SearchAVAction input {
  margin-right: 20px;
}

div#enteteRecherche input, div#enteteRecherche form {
  margin: 0px;
  padding: 0px;
	vertical-align: top;
}

/*==========*/
/* textarea */
/*==========*/
textarea { 
	background: #eee; 
	border: solid 1px #fff; 
	border-top-color: #888; 
	border-left-color: #888;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #373737;
	padding-top: 3px; 
  width: 22em;
  height: 10em;
}
textarea:hover,
textarea:focus  { 
		background: #fff; 
}
table#flexible_content textarea { 
	font-size:  1.3em;
}

/*========*/
/* Select */
/*========*/
select { 
	background: #eee; 
	border: solid 1px #fff; 
	border-top-color: #888; 
	border-left-color: #888;
	font-size:  1em;
	color: #373737;
}
select:hover,
select:focus  { 
		background: #fff; 
}

form#formRech select, form#formRechAV select {
  width: 14em;
}
div#ravPersonaliseeMotsCles select, div#ptPersonaliseeTheme select {
  width : 26em;
}


/*========*/
/* Bouton */
/*========*/
a.btbasic { 
	background-image: url(bt_basic.gif);
	background-repeat: no-repeat; 
	background-position: left center; 
	vertical-align: middle; 
	padding-left: 10px;
	line-height: 20px;
	text-align: center; 
	padding-top: 1px; 
	text-decoration: none;
  border-top: 1px solid #FF4500;
	border-bottom: 1px solid #FF4500;
}
a.btbasic:link{ 
	font-weight: bold;
}
div#entitePlanAccess a {
  height: 2em;
}

.btform, .btformService {
  background-color: #fff;
  background-image: url("btform.gif");
  background-repeat: no-repeat;
  background-position: left center;
  color: #4f7bb2;
  font-weight: bold;
  font-size:0.9em;
  text-align: center;
  margin-top:5px;
  padding-top: 0px;
  padding-left: 14px;
  padding-right: 3px;
  height: 2em;
  text-decoration: none;
  border: 1px solid #367ab9;
  cursor: pointer;
}

a.btprecedent {
	background-image: url(precedent.gif);
	background-repeat: no-repeat;
	background-position: left center;
	vertical-align: middle;
	font-weight: normal;
	font-size:  0.8em;
	text-decoration: none;
	text-align: center;
	padding-left: 15px;
	padding-right: 3px;
	border-right: 1px solid #a6c3de;
	border-top: 1px solid #a6c3de;
	border-bottom: 1px solid #a6c3de;
	margin-right: 10px;
}

a.btsuivant {
	background-image: url(suivant.gif);
	background-repeat: no-repeat;
	background-position: right center;
	vertical-align: middle;
	font-weight: normal;
	font-size:  0.8em;
	text-decoration: none;
	text-align: center;
	padding-left: 3px;
	padding-right: 18px;
	border-top: 1px solid #a6c3de;
	border-bottom: 1px solid #a6c3de;
	border-left: 1px solid #a6c3de;
	margin-left: 10px;
	width: 100%;
}

a.btConseils { 
  font-size: 1em;
  font-weight: bold;
  text-decoration: none; 
  vertical-align: middle; 
  padding-left: 20px;
  background-image: url(conseils_recherche.gif); 
  background-repeat: no-repeat;
  width: 250px; 
}

.btConseils a:link, .btConseils a:visited { 
  color: #373737;
}

.btConseils a:hover, .btConseils a:active {
  color: #e94e0a;
}

.form_selection{
  margin:0;
  padding:0;
}  
