@import url(main_nav.css);
@import url(popupForm.css);
@import url('moreinfos.css');

div.NavFolder {
    text-align : left;
}

#flashBandeau{
  margin:0;
  padding:0;
  margin-bottom:-2px;
  padding-left:20px;
}

/*==========*/
/* Widget   */
/*==========*/
.blocEnSavoirPlus {
  text-align: right;
  margin-bottom: 2em;
}

div#wIP_InfosPratiques, div#infosPratiquesTitre {
  clear: both;
  width : 40%;
}
div#wIP_Pied, div#infosPratiquesTitreLogo {
  height : 18px;
  background: transparent url("picto_zoom.gif") 0px no-repeat;
  padding-left: 23px;
  margin-bottom: 0.5em;
}
div#wIP_Texte, div#infosPratiquesTexte {
  font-size: 0.8em;
  padding: 0em 0 1em 0em;
}

div.field {
  width:533px;
}

.lienZoom {
  background: transparent url("picto_zoom.gif") 0px no-repeat;
	padding-left: 24px;
	padding-top: 5px;
	line-height: 1.5em;
	margin-bottom: 1em;
}
.ct2TexteGauche, .cl2TexteGauche {
  position: relative;
  float: left;
  width: 48%;
  margin-right: 1%;
  overflow: hidden;
}
.ct2TexteDroite, .cl2TexteLiens {
  position: relative;
  float: right;
  width: 48%;
  margin-left: 1%;
}
div.ct22ColsTexte {
  width: 100%;
  clear:both;
}

div.texteImage {
  height: auto;
  clear:both;
}

div.imageTexte {
  height: auto;
  clear:both;
}

div.imageTexteGauche {
	float: left;
	width: auto;
	margin-right:20px;
}
div.imageTexteDroite {
	width: auto;
	padding:0 1em 1em 0em;
	vertical-align: top;
	text-align: justify;
}
div.imageTexteDroite p {
	margin-top:0;
}
div.texteImageTexteRaz {
	clear: both;
	padding:0.25em 0em 0.25em 1em;
}
div.texteImageGauche {
	width:auto;
	padding:0 1em 1em 1em;
	vertical-align:top;
	font-size: 11px;
	color: #373737;
	text-align: justify;
}

/*.contentAvecGaucheAvecDroite div.texteImageGauche {
	width: 318px !important;
  width: 320px;
}*/

div.texteImageDroite {
  float: right;
	margin-left:20px;
  width: auto;
}

.ancreDepart {
  margin-bottom: 3em;
}
.ancreCible {
  margin-bottom: 1em;
}

.Col2Img1, .Col2Img2 {
  float: left;
  width: 40%;
}
.Col3Img1, .Col3Img2, .Col3Img3 {
  float: left;
  width: 30%;
}
.Col4Img1, .Col4Img2, .Col4Img3, .Col4Img4 {
  float: left;
  width: 24%;
}
.Col5Img1, .Col5Img2, .Col5Img3, .Col5Img4, .Col5Img5 {
  float: left;
  width: 20%;
}

/*==========*/
/* Mairie   */
/*==========*/
div#cmSommaireHaut, div#gpSommaireHaut, div#gpContenu, div#comSommaireHaut {
  border-bottom: 1px solid #c4c4c4;
	list-style-type: none;
  margin: 0em 0em 1em 0em;
  padding: 0em 0em 1em 0em;
}

div#caContenu {
  font-size: 1em;
  color: #373737;
  text-align: justify;
}
div#caSommaireHaut {
  font-size: 0.9em;
  color: #00497e;
  border-bottom: 1px solid #c4c4c4;
  margin: 0em 0em 1em 0em;
  padding: 0em 0em 1em 0em;
}

.Listecm {
  padding-bottom: 1em;
}
div#cmSommaireBas {
	list-style-type: none;
  margin: 1em 0em 0em 0em;
  padding: 1em 0em 0em 0em;
  border-top: 1px solid #c4c4c4;
}
div#gpSommaireBas {
  border-top: none;
}
div#caSommaireBas {
  text-align: center;
  font-size: 0.9em;
  color: #00497e;
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #c4c4c4;
}

ul#sommaireGestionElus {
  text-align: center;
	list-style-type: none;
}

/*============*/
/* HomePage   */
/*============*/
.ColDroiteNews {
  vertical-align: top;
  width: 100%;
  margin-bottom: 1em;
  padding: 0px;
	border: none;
}
.ColDroiteNewsImage {
  position: relative;
  float: left;
}
.ColDroiteNewsSuite {
  position: relative;
  clear: left;
  height: 15px;
  text-align: right;
}
.ColDroiteNewsTitre {
   padding-bottom:0.5em;
}
.ColDroiteBoite {
	text-align: left;
  margin-left: 0px;
  padding-left: 0px;
}
.separationActuEvt {
  clear: both;
  background-image: url(separateur_niv2_fonce.gif);
  background-repeat: repeat-x;
  width: 96%;
}

.ColGaucheNews {
  float:left;
	border: none;
  margin-right: 10px;
  width: 95%;
  vertical-align: top;
  /*background-image: url(images/separateur_niv2_fonce.gif);
  background-repeat: repeat-x;*/
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.ColGaucheNewsImage {
  float: left;
  margin-bottom:5px;
  padding-right:5px;
  background-color:white;
}



.ColGaucheNewsTexte {
    margin-left:10px;
}
.ColGaucheNewsSuite {
  position: relative;
  background-image: url(separateur_niv2_fonce.gif);
  background-repeat: repeat-x;
  clear: left;
  text-align: right;
}
div#boiteInternautes {
  text-align: right;
  margin: 10px;
  height: 2em;
}
.boiteInternautesMenuDroite {
	/*background-color: #eff3fd;*/
}
.boiteInternautesMenu {
  position: relative;
  float: right;
  margin-left: 2px;
  margin-right: 2px;
  height: 22px;
}

div#vdlUne {
  /*width: 650px;*/
  width: 95%;
  border-bottom: 1px solid #D7D7D7;
  margin-bottom:15px;
  padding:0;
}

div#vdlUne .blocEnSavoirPlus {
  text-align: right;
  margin-top:-25px;
  margin-bottom: 5px;
}
div#vdlUne .imageTexteDroite{
 padding:0em 1em 1em 0em;
}

div#welcomme {
  vertical-align: top;
  text-align: left;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-right: 20px;
/* width: 650px*/
  width: 95%;
}
div#welcommeTexte {
  position: relative;
  float: left;
  width: 60%;
}
div#welcommeDate {
  position: relative;
  float: left;
  width: 40%;
  text-align: right;
}
.divRaz {
  position: relative;
  clear: left;
}


div#menuDroite {
  position: relative;
  float: right;
  width: 220px;
  height: auto;
  text-align: center;

	/*background-color: #eff3fd;*/
	background-image:url('fond_droit.png');
	background-repeat: repeat-x;
	padding-bottom: 32767px;
	margin-bottom: -32767px;
}

#pageCentrale>#menuDroite{
  width:238px;
}

div#menuGauche {
  position: relative;
  float: left;
  width: 211px;
  height: 100%;
  text-align: center;
}

div#navigationBas {
  clear: both;
  color: #00497e;
  background-color: #fff;
}
div#navigationBasPagination {
  text-align: center;
  vertical-align: middle;
  width: 90%;
  height: 42px;
  padding-top: 1em;
}
div#navigationBasBoutonHaut, .boutonHaut {
  float:right;
  text-align: right;
  margin-top:10px;
}
.boutonHautImg {
  text-align: center;
  width: 50px;
}

div#navigationHaut {
  width: 95%;
	margin-bottom: 2em;
  background-color: #fff;
  border-bottom: 2px #c6c6c6 dotted;
}

/*==============*/
/* formulaire   */
/*==============*/
form#CPSFormulaire {
  margin-left: 20px;
}
.formulaire_msg_error {
  background-color: #eee;
  color: #900;
  font-weight: bold;
}
.formulaire_label_error {
  color: red;
}
form#CPSFormulaire input#idsubmit, form#CPSFormulaire div#blocAnnuler {
  margin-left: 50px;
  margin-right: 50px;
}
form#CPSFormulaire .separation {
  margin-top: 10px;
  margin-bottom: 10px;
}
div.radioBouton {
  overflow: hidden;
	display: inline-block;
}
div.radioBoutonListe {
	padding-bottom: 32767px;
	margin-bottom: -32767px;
}

/*==================*/
/* structure page   */
/*==================*/
div#page {
	width: 962px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	border-bottom: 1px #00497e solid;
	background-color: #fff;
}
div#pageEntete {
	width: 962px;
}
div#pageCorps {
  text-align: left;
  vertical-align: top;
	width: 960px;
	border-right: 1px #00497e solid;
	border-left: 1px #00497e solid;
}
.liseretMenuGauche {
  background-image: url("fondmenugauche.gif");
	background-repeat: repeat-y;
}
div#piedPage {
  position: relative;
  clear: left;
  background: url(frise.gif) no-repeat;
	width: 960px;
	padding-top: 52px;
}
div#piedPageMenu {
  height: 20px;
  text-align: center;
  background-color: #fff;
}

/*====================*/
/* structure entete   */
/*====================*/
div#enteteBandeau1 {
	width: 960px;
  font-size: 0.9em;
	border-right: 1px #00497e solid;
	border-left: 1px #00497e solid;
  background-color: #BAD0F5;
}
div#enteteBandeau1G {
  position: relative;
  float: left;
  height: 24px;
  background-color: #e94e08;
  color:white;
}

div#enteteBandeau1>div#enteteBandeau1G{
  height:24px;
}

div#enteteBandeau1D {
  position: relative;
  float: right;
  background-color: #00497e;
  height: 24px;
}
div#enteteBandeau2 {
	width: 960px;
  height: 82px;
	background-color: #c1d6f4;
	background-color:white;
	border-right: 1px #00497e solid;
	border-left: 1px #00497e solid;
	border-top: 1px #00497e solid;
	vertical-align: bottom;
	padding:0;
	margin:0;
}
/*====================*/
/* structure Bandeau1 */
/*====================*/
div#enteteAccessibilite {
  position: relative;
  float: left;
  margin: 3px 5px 3px 5px;
}
.enteteLangage {
  position: relative;
  float: left;
  margin-right: 5px;
  padding: 5px 0px 5px 0px;
  vertical-align: middle;
}
div#enteteContacter {
  position: relative;
  float: left;
  text-align: left;
	border-left: 1px #fff solid;
  padding: 5px 0px 5px 5px;
  margin-right: 5px;
}


div#enteteRecherche {
  position: relative;
  float: left;
  font-size: 0.9em;
  font-weight: bold;
	color: #fff;
	padding: 4px 10px 2px 10px;
}
div#enteteRechercheAV {
  position: relative;
  float: left;
	vertical-align: top;
  border-left: 1px #fff solid;
	padding: 0px 10px 0px 10px;
	height:100%;
}

/*====================*/
/* structure Bandeau2 */
/*====================*/
div#enteteBandeau, div#enteteBandeauArdt {
  position: relative;
  float: left;
  width: 750px;
  height: 82px;
  text-align: right;
}

div#enteteArdt {
  position: relative;
  float: right;
	font-weight: bold;
	font-size: 10px;

	/*font-style: italic;*/
	color: #f60;
  text-align: center;
  vertical-align: middle;
  width: 88px;
	height: 75px;
	padding-left: 5px;
	margin: 3px 4px 0px 0px;
	margin-bottom:0px;
	padding-bottom:0px;
	border-left: 1px #00497e solid;
	font-family: Verdana,Arial, Helvetica, sans-serif;
}

div#enteteLogo, div#enteteLogoArdt {
  position: relative;
  vertical-align: middle;
  text-align: center;
  padding-top: 7px;
  height: 68px;
}
div#enteteLogo {
  /*background-color: #F1F4FB;*/
  background-color:white;
  float: left;
  padding-top:14px;
  margin-bottom:-14px;
  padding-left:10px;
}
div#enteteLogoArdt {
  float: right;
  margin-right: 5px;
}
div#services {
  width: 99px;
  float: right;
  padding-top: 10px;
}

div#ardtCarte {
  position: relative;
  float: left;
  width: 44px;
}
div#ardtSelect {
  position: relative;
  float: left;
  width: 42px;
  padding-top:6px;
}
.ardtGeneric {
  position: relative;
  float: left;
  width: 14px;
  border: none;
  font-weight: normal;
  font-style:normal;
  font-size:9px;
  height:12px;
  font-family: Verdana,Arial, Helvetica, sans-serif;
}

div#ardt5 {
  border: 1px #00497e solid;
}
div#ardt1, div#ardt7 {
  border-right: 1px #00497e solid;
  width: 12px;
}
div#ardt4 {
  width: 12px;
  border-top: 1px #00497e solid;
  border-bottom: 1px #00497e solid;
}
div#ardt6 {
  width: 14px;
  border-top: 1px #00497e solid;
  border-bottom: 1px #00497e solid;
}
div#ardt3, div#ardt9 {
  border-left: 1px #00497e solid;
}
/*===========================*/
/* structure page centrale   */
/*===========================*/
div#pageCentrale {
  position: relative;
  /*float: left;*/
  text-align: left;
	margin: 0px 0px 0px 12px;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
}
.pageCentraleSansGauche
{
  width: 948px;
  background-color: #fff;
}
.pageCentraleAvecGauche
{
  width: 735px;
  background-color: #fff;
}

* html .pageCentraleAvecGauche{width: 744px;} /*IE6*/
*+html .pageCentraleAvecGauche {width: 747px;} /*IE7*/

div#content {
  position: relative;
  float: left;
	padding-bottom: 32767px;
	margin-bottom: -32767px;
}
.contentSansGaucheAvecDroite
{
  width: 690px;
  margin-left:2px;
  background-color: #fff;
}
.contentAvecGaucheAvecDroite
 {
  width: 458px;
  margin-left:10px;
  background-color: #fff;
  overflow:hidden;
}
.contentAvecGaucheSansDroite
 {
  width: 693px;
  margin-left:10px;
  margin-right:-10px;
  /*background-color: #fff;*/
}
.contentSansGaucheSansDroite
 {
  width: 100%;
  margin-left:0px;
  margin-right:10px;
}
/*===================*/
/* structure popup   */
/*===================*/
.popup {
	width: 573px;
	text-align: left;
}
div#popupContenu {
  margin-left: 10px;
}
div#popupEntete {
	text-align: right;
	vertical-align: middle;
	/*height: 20px;*/
	height: 2em;
	line-height: 2em;
	color: #fff;
	width: 573px;
  background-image: url(bandeauPopup.gif);
}
div#popupPied {
  background: url(frise_popup.gif) no-repeat;
	height: 48px;
}
div#entite {
  margin-left: 20px;
  margin-bottom: 3em;
}
div#entiteHandicape {
  margin-top: 1em;
  padding-left: 0px;
}

/*============*/
/* annuaire   */
/*============*/
div#listeArdt {
  font-size: 0.9em;
  font-weight: normal;
  color: #00497e;
}
div#actionSearch, div#selAnnu {
  float: left;
  width: auto;
}
div#actionNew {
  float: right;
  width: auto;
  margin-right: 20px;
  margin-top: 1em;
  margin-bottom: 1em;
}
div#actionNew p {
  padding-top: 0.3em;
  padding-bottom: 1em;
}
div#actionSearch p {
  padding-top: 1em;
  padding-bottom: 1em;
}
div#selArdt, div#selSaisie {
  float: left;
  width: auto;
  margin-left: 20px;
}
div#selSaisie, div#tipeDiv {
  margin-top: 1em;
}
div#selSaisie p {
  margin: 0px;
  padding: 0px;
}
div#actionBox {
  clear: both;
  margin-top: 1em;
  margin-bottom: 2em;
}
form#annuSearch .champAnnuaire {
  width: 260px;
}

table#resultatRecherche {
  margin-top: 2em;
  width: 100%;
  padding: 1px;
}

p#annuairePagination {
  text-align: center;
}

/*============*/
/* Impression */
/*============*/
div#pageEnteteImpression, div#popupEnteteImpression {
  display: none;
}

/*=====*/
/* elu */
/*=====*/
div#elu {
  margin-left: 90px;
}
div#eluPhoto {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 2em;
}

/*===========*/
/* recherche */
/*===========*/
div#searchCtrl {
  margin-top: 1em;
  margin-bottom: 1em;
}
div#searchResult {
  margin-top: 2em;
}
.emphasis {
   font-style: italic;
}

div#SearchAVAction {
  margin-top: 2em;
  margin-left: 200px;
}
div#SearchAVPied {
  border-top: 1px solid #c5c5c5;
  background: transparent url(logo_lyon_direct.gif) 0px no-repeat;
  padding-left: 200px;
  vertical-align: top;
  margin-top: 2em;
  margin-bottom: 2em;
}
div#SearchAVPiedTel {
  float: left;
}
div#SearchAVPiedMail {
  float: left;
  margin-left: 50px;
}

div#otepAction {
 border-top: thin #00497e dotted;
 padding-top: 1em;
 text-align: center;
}

div#detailImprimerDroite {
  text-align: right;
	height: 16px;
  margin-top: 1em;
}

/*===============*/
/* Portal presse */
/*===============*/
div#presseCriteresTitre, div#RCMCriteresTitre {
  position: relative;
  float: left;
  font-weight: bold;
  background: transparent url(puce_niv2.gif) 0px no-repeat;
	text-indent: 8px;
}
div#presseAide, div#RCMAide {
  position: relative;
  float: right;
}
div#presseCriteresSel, div#RCMCriteresSel {
  clear: both;
  border-top: 2px #c4c4c4 dotted;
  border-bottom: 2px #c4c4c4 dotted;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
}
form#formPortalPresse .legende, .RCMSaisie {
  margin-top: 0em;
  padding-bottom: 1em;
  border-bottom: 2px #c4c4c4 dotted;
}
div#presseAction, div#RCMAction {
  border-top: 2px #00497e dotted;
  padding-top: 1em;
  text-align: center;
}

/*============*/
/* Portal RCM */
/*============*/
.RCMSaisie {
  margin-bottom: 1em;
}
div#RCMIntroImg {
  position: relative;
  float: left;
  width: 30%;
}
div#RCMIntroTxt {
  position: relative;
  float: left;
  width: 60%;
  font-weight: bold;
  margin-left: 5px;
}
div#portalPresse, div#portalRCM {
  margin-top: 2em;
}
div#RCMIntro {
  margin-bottom: 2em;
}
div#RCMSommaire {
  border-bottom: 1px solid #c4c4c4;
}

/*==============*/
/* Profil Theme */
/*==============*/
div#ptCriteria, div#ptResult, div#ravCriteria {
  margin-top: 2em;
  margin-bottom: 2em;
}
div#ptPersonnalisee, div#ravPersonnalisee {
  position: relative;
  float: left;
  width: 60%;
}
div#ptPersonnaliseeTitre, div#ravPersonnaliseeTitre {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

div#ptAide, div#ravAide {
  position: relative;
  float: right;
  height: 20px;
  padding-top: 20px;
}
div#ptCadreGauche, div#ravCadreGauche {
  position: relative;
  float: right;
  width: 35%;
  text-align: left;
  margin-right: 5px;
}
fieldset#ptPersonnaliseeCriteria, fieldset#ravPersonnaliseeCriteria {
  clear: both;
  background: transparent;
  border: none;
}

.b1, .b2, .b3, .b4, .b1b, .b2b, .b3b, .b4b {
  display:block;
  overflow:hidden;
  font-size:1px;
}
.b1, .b2, .b3, .b1b, .b2b, .b3b {
  height:1px;
}
.b2, .b3, .b4, .b4b, .b3b, .b2b {
  background:#f5f9ff;
  border-left:1px solid #999;
  border-right:1px solid #999;
}
.b1, .b1b {
  padding: 0px;
  margin:0px 5px;
}
.b2, .b2b {
  margin:0px 3px;
  border-width:0 2px;
  background:#999;
}
.b3, .b3b {margin:0 2px;}
.b4, .b4b {
  height:2px;
  margin:0 1px;
}
.ptContent, .ravContent {
  display:block;
  background:#f5f9ff;
  border-left:1px solid #999;
  border-right:1px solid #999;
  padding-left: 20px;
}
.ravContent {
  padding-top: 0.5em;
  padding-right: 10px;
}
div#ravPersonaliseeIntro, div#ravContacterIntro {
  margin-top: 0.5em;
  margin-bottom: 1em;
  width: 100%;
  font-weight: bold;
}
div#ptPersonnaliseeEtre, div#ptPersonnaliseeTheme {
  position: relative;
  float: left;
  margin: 5px;
}
div#ptPersonnaliseeAction {
  clear: both;
  text-align: center;
}
div#ProfilThemePied {
  clear: both;
  border-top: 1px solid #c5c5c5;
  text-align: center;
}
div#ProfilThemePiedContacter {
  text-align: left;
  vertical-align: top;
  width: 60%;
  background: transparent url(logo_vdl.gif) 0px no-repeat;
  padding-top: 5px;
  padding-left: 70px;
  margin-top: 2em;
  margin-bottom: 2em;
}
div#ptRappelCritere {
  font-weight: bold;
  margin-bottom: 2em;
}
div#ptRappelCritere .criteres {
	color: #00497e;
	font-weight: bold;
}
div#ptResultatDemarche, div#ptResultatInfo, div#ptLstDemarches, div#ptLstInfos {
  position: relative;
  float: left;
  margin: 10px;
  width: 45%;
}
div#ptNoResult, div#ptNoCriteres {
  clear: both;
  font-style: italic;
  text-align: center;
}
div#ptAction {
  clear: both;
  text-align: center;
}

#formProfilTheme select {
  width:28em;
  margin-bottom:1.5em;
}



/* PIV */
/*=====*/
body#pivBody {
  width: 972px;
  height: 800px;
	margin-left:30px;
}
div#pivEntete {
	width: 972px;
	text-align: right;
	vertical-align: middle;
	height: 20px;
	color: #fff;
	border-left: 1px #00497e solid;
	border-right: 1px #00497e solid;
  background-image: url(bandeauPiv.gif);
}
div#pivEnteteBandeau {
	width: 972px;
  background-color: #bdd4f5;
  background-color:blue;
  height: 84px;
	border-left: 1px #00497e solid;
	border-right: 1px #00497e solid;
}
div#pivEnteteBandeauMenu {
  float: left;
  width: 250px;
  background-image: url(plan_interactif_search_01.gif) no-repeat;
}
div#pivEnteteBandeauImg1, div#pivEnteteBandeauImg2 {
  float: left;
}
div#pivEnteteBandeauImg2 {
  float: left;
}
div#pivEnteteBandeauMenuGauche {
  float: left;
  width: 18px;
  height: 47px;
  margin-top: -2px;
}
div#pivEnteteBandeauMenuCentre {
  float: left;
  width: 212px;
  height: 47px;
  margin-top: -2px;
  background-color: #cedff8	;
}
div#pivEnteteBandeauMenuDroit {
  float: left;
  width: 17px;
  height: 47px;
  margin-top: -2px;
}
div#pivEnteteBandeauMenuBas {
  clear:left;
  margin-top: -7px;
}

div#pivEnteteBandeauLogo {
  position: relative;
  float: left;
  text-align: center;
}
div#pivAccessibilite {
  clear: left;
  font-weight: bold;
  text-align: center;
	color: #00497e;
}
div#pivPageCorps {
  width: 972px;
	border: 1px #00497e solid;
}
iframe#plan_mappy {
  float: left;
  border: none;
  width: 570px;
  height: 500px;
}
iframe#plan_recherche {
  float: right;
  border: none;
  width: 400px;
  height: 500px;
  padding-top: 3em;
}
div#pivResult {
  margin-top: 3em;
}
div#VVResult, div#VPResult, div#complement_VP, div#complement_VV  {
  float: left;
}
div#pivEqptSubmit {
  margin-top: 1em;
  padding-top: 1em;
  background-image: url(separateur_niv2_fonce.gif);
  background-repeat: repeat-x;
}
p#pivEqptArdt {
  margin-top: 1em;
  padding-top: 1em;
  background-image: url(separateur_niv3.gif);
  background-repeat: repeat-x;
}
div#VisitePanoramique {
  margin-top: 2em;
}
div#breadcrumbs {
	font-size: 0.8em;
	color: #999;
	padding-top:1em;
	padding-left:15px;
}


.mainColGaucheDroite {
  width: 50%;
  float: left;
}
.mainColGauche, .mainColDroite {
  width: 99%;
}
/*******************************************************/
/*		NOUVEL HABILLAGE								  */
/*******************************************************/
.no_pages img{
 float:left;
 margin:0 5px 2px 0;
}

.no_pages h2{
	clear:left;
}

html>/**/body .no_pages .firstSection{
	padding-bottom:6px;
}

.no_pages .otherSections{
	clear:left;
	margin-bottom:20px;
}

.otherSections .accroche{
	border-bottom:thin dotted #D7D7D7;
	padding-bottom:10px;
}


.calendar table {
width = 50px;
}

/*******************************************************/
/*						AGENDA								   */
/*******************************************************/
#agendaHeader{
	border-left:1px solid #00497E;
	border-right:1px solid #00497E;
	background:transparent url("header_agenda.gif") no-repeat top left;
	height:77px;
	width:957px;
	margin:0 auto;
}

#agendaHeader .homelink{
	display:block;
	width:59px;
	height:50px;
	position:relative;
	top:23px;
	left:846px;
}

#agendaMain{
	border-left:1px solid #00497E;
	border-right:1px solid #00497E;
	background:transparent url("agenda_background.gif") repeat-y top left;
	text-align:left;
	vertical-align:top;
	width:690px;
	margin:0 auto;
	padding:27px 40px 0 227px
}

#agendaMain .needHelp{
	background:transparent url("help_icon.gif") no-repeat top left;
	display:block;
	width:100px;
	height:13px;
	color:#00497e;
	font:normal 10px arial;
	padding-left:17px;
}

#agendaMain #tools{
	width:168px;
	position:relative;
	top:35px;
	left:522px;
	height:19px;
}

#agendaMain #tools .printAgenda{
	display:block;
	width:28px;
	height:19px;
	background:transparent url("agenda_print.gif") no-repeat top left;
	float:right;
}

#agendaMain #tools .newsearch{
	background:#87b1d0 url("agenda_btform.gif") no-repeat left center;
	border:0;
	color:white;
	font:bold 10px verdana;
	height:16px;
	margin-top:3px;
	padding:0 3px 2px 14px;
	text-align:center;
	width:135px;
	float:left;
	position:relative;
	top:-3px;
}


#agendaMain .standalone{
	background:#e94e0a url("agenda_btform.gif") no-repeat left center;
	border:0;
	color:white;
	font:bold 11px verdana;
	height:16px;
	margin-top:5px;
	padding:0 3px 2px 14px;
	text-align:center;
	width:160px;
}

#agendaMain a:hover{
	text-decoration:underline;
}

#agendaMain .stopFloatAgenda{
	clear:both;
	padding-bottom:15px;
}

.agenda{
	border-left:1px solid #00497E;
	border-right:1px solid #00497E;
	border-bottom:1px solid #00497E;
	text-align:left;
	vertical-align:top;
	width:957px;
	margin:0 auto;
}

.agenda #piedPage{
	background:transparent url("agenda_frise.gif") no-repeat top left;
	width:957px;
}

.agenda #piedPageMenu{
	background:transparent;
}

#agendaFormFast{
	border-bottom:1px solid #c2c2c2;
	padding:0 0 3px 0;
	margin: 0 0 3px 0;
}

#agendaFormFast .inputText, #agendaForm .inputText, #agendaForm .inputDate{
	background: #ebebeb;
	border:0;
	padding:2px 5px 0 5px;
	font:10px arial;
	color:#00497e;
	width:228px;
	height:15px
}

#agendaFormFast .submit{
	height:17px;
	width:24px;
	border:0;
	background: #ebebeb;
	font:10px arial;
	color:#00497e;
}
html>/**/body #agendaFormFast .submit{
	position:relative;
	top:1px;
}

#agendaFormFast h2{
	border:0;
	background:none;
	color:#e94e0a;
	font:bold 13px arial;
	padding:0;
	margin:0;

}

#agendaForm{
	margin-top:30px;
}

#agendaForm h1{
	color:#00497e;
	border-bottom:1px solid #c2c2c2;
	font:bold 14px arial;
	background:none;
	padding:0 0 2px 0;
	margin:0 0 5px 0;
}

#agendaForm fieldset{
	border:0;
	margin:0;
	padding:0;
	border-bottom:1px solid #ebebeb;
	padding:5px 0 8px 0;
	color:#e94e0a;
	font:11px verdana;
}

#agendaForm fieldset i{
	color:#00497e;
	display:block;
	padding-bottom:5px;
}

#agendaForm label{
	display:block;
	color:#00497e;
	font:11px verdana;
	width:86px;
	float:left;

}

#agendaForm fieldset select{
	color:#00497e;
}

#agendaForm #periode{
	float:left;
	padding-right:70px;
}

#agendaForm #periodeDates{
	float:left;
	width:300px;
}


#agendaForm .inputDate{
	width:100px;
	margin-right:5px;
}


#agendaForm .calendarButton{
	background:transparent url("agenda_calendarButton.gif") no-repeat top left;
	width:25px;
	height:14px;
	border:0;

}

.resultats h2, .ficheEvenement h2{
	background:transparent url("agenda_puce_h2.gif") no-repeat scroll 0px 50%;
	border-bottom:1px solid #c2c2c2;
	color:#00497e;
	font:bold 15px arial;
	padding-bottom:0px;
	padding-left:13px;
	text-align:left;
	vertical-align:middle;
	margin-top:20px;
}

.howManyResults{
	color:#00497e;
	font:11px verdana;
	background:#f4f6fc;
	padding:5px;
	margin-bottom:20px;
}

.howManyResults b{
	color:#e94e0a;
	font:bold 12px verdana;
}

.resultItem{
	border-top:1px solid #ebebeb;
	padding:10px 0 10px 0;
}

.resultItem h1{
	color:#00497e;
	font:11px verdana;
	border:0;
	background:none;
	padding:0;
	margin:0 0 5px 0;
}

.resultItem h1 a{
	color:#00497e;
}

.resultItem h1 a:hover{
	text-decoration:underline;
}

.resultItem .resultNumber{
	display:block;
	float:left;
	color:white;
	background:#e94e0a;
	font:bold 10px verdana;
	width:23px;
	height:13px;
	margin-right:6px;
}

.resultItem  .description{
	margin-left:29px;
}

.resultItem  .description .lieu{
	margin-top:5px;
}

.resultItem  .description .lieu i{
	color:#428ec5;
}

#agendaMain #pagination{
	border-top:1px solid #ebebeb;
	padding:10px 0 10px 0;
}

#agendaMain #pagination, #agendaMain #pagination a{
	font:normal 10px verdana;
	color:#00497e;
}

#agendaMain #pagination a.actif{
	font-weight:bold;
	color:#e94e0a;
}

#agendaMain #pagination #paginationPrecedent{
	background:transparent url("agenda_precedent.gif") no-repeat center left;
	padding-left:10px;
}

#agendaMain #pagination #paginationSuivant{
	background:transparent url("agenda_suivant.gif") no-repeat center right;
	padding-right:10px;
}

#agendaMain #pagination table{
	width:100%;
	text-align:center;
}

.ficheEvenement .titreFiche{
	font:bold 14px verdana;
	color:#e94e0a;
	background:#f1f4fb url("agenda_titreFiche.gif") no-repeat 10px 10px;
	text-align:left;
	padding:5px 5px 5px 25px;
	margin-bottom:5px;
}

.ficheEvenement .titreFiche .lienRetour{
	display:block;
	color:#a8a8a8;
	font:10px verdana;
	background:transparent url("agenda_lienGris.gif") no-repeat center right;
	padding:0 10px 0 10px;
	float:right;

}

.ficheEvenement .date{
	font:bold 11px verdana;
	color:#00497e;
}

#pagination .source{
	font:italic 10px verdana;
	display:block;
	color:#a8a8a8;
}

.ficheEvenement .ficheLeft{
	width:70%;
	float:left;
	padding:10px 10px 0 0;
	color:#00497e;
	border-right:1px solid #ebebeb;
}

.ficheEvenement .ficheRight{
	float:left;
	padding-left:12px;
	color:#00497e;
	width:25%;
}


.ficheEvenement .ficheLeft #blocHoraires, .ficheEvenement .ficheLeft #blocTarifs, .ficheEvenement .ficheLeft #blocReservation, .ficheEvenement .ficheLeft #blocRenseignements{
	padding:20px 0 0 0;
}

.ficheEvenement .ficheRight #blocContact, .ficheEvenement .ficheRight #blocAcces, .ficheEvenement .ficheRight #blocRenseignements,  .ficheEvenement .ficheRight #blocPlan, .ficheEvenement .ficheRight #blocweb{
	padding:0 0 20px 0;
}

#blocweb a{
	color:#00497e;
	font:normal 11px verdana;
}

.ficheEvenement .ficheLeft strong{
	display:block;
	color:#e94e0a;
	font:bold 11px verdana;
}

.ficheEvenement .ficheRight strong{
	display:block;
	color:#87b1d0;
	font:bold 11px verdana;
}

.ficheEvenement #blocPlan a{
	font: italic 10px verdana;
	color:#00497e;
	border:0;
	background:transparent url("agenda_access.gif") no-repeat center left;
	padding:4px 0 4px 20px;

}

.calendar table {
	margin:0pt !important;
	width:10px !important;
}

#agendaBox{
	height:94px;
	width:201px;
	background:transparent url("agenda_box.gif") no-repeat 0px 4px;
	margin:15px auto;
	text-align:left;
	padding:0;
	overflow:hidden;
	clear:both;
}

#agendaBox h1{
	color:white;
	background:none;
	font:bold 12px arial;
	padding:0;
	margin:0;
	border:0;
	position:relative;
	top:6px;
	left:25px;
	display:inline;
}

#agendaBox .date{
	display:block;
	width:31px;
	height:32px;
	position:relative;
	top:-16px;
	left:158px;
}

#agendaBox .date .month{
	height:14px;
	width:31px;
}

#agendaBox .date .day{
	height:18px;
	width:31px;
}


#agendaBox .when{
	color:#00497e;
	font:bold 10px arial;
	position:relative;
	top:-10px;
	left:20px;
}

#agendaBox .when a{
	color:#00497e;
	font:bold 10px arial;
	background:transparent url("agenda_bullet.gif") no-repeat center left;
	padding:0 10px 0 12px;
}

#agendaBox .when a:hover{
	text-decoration:underline;
}

#agendaBox form{
	position:relative;
	top:-8px;
	left:18px;
	padding:0px;
	margin:0px;
}

#agendaBox form #keywordAgenda{
	color:#00497e;
	font:10px verdana;
	padding:2px 3px 0 3px;
	margin:0;
	border:1px solid #cfcfcf;
	width:121px
}

#agendaBox form .standalone{
	background:transparent url("agendabox_ok.gif") no-repeat top left;
	width:30px;
	height:17px;
	border:0;
	position:expression("relative");
	left:expression("-10px");
}

#agendaBox .advanced{
	color:#e94e0a;
	font:italic 10px arial;
	margin-left:20px;
}

#agendaBox .advanced:hover{
	text-decoration:underline;
}

/*******************************************************/
/*						EQUIPEMENT						   */
/*******************************************************/
.popupEquipement, #equipementContenu{
	width:771px !important;
	font-family:verdana;
}

.stopFloat{
	clear:both;
}

.popupEquipement #popupPied{
	width:771px;
	background: transparent url("equipement_footer.gif") no-repeat top left;
}

.popupEquipement #popupContenu{
	margin:0;
}

.popupEquipement .closePopup{
	display:block;
	width:50px;
	height:16px;
	background: #e94e0a url("closePopup.gif") no-repeat top left;
	color:white;
	padding-left:15px;
	padding-right:3px;
	position:absolute;
	left:706px;
}

.popupEquipement .closePopup:hover, .popupEquipement .closePopup:active, .popupEquipement .closePopup:visited{
	color:white;
}

.popupEquipement .boutonHaut{
	float:none;
	margin-left:706px;
	width:50px;
}

.ficheEquipement a:hover{
	text-decoration:underline;
}

.ficheEquipement #header{
	padding-bottom:50px;
}

.ficheEquipement .tools{
	padding-left:30px;
}

.ficheEquipement .tools .print{
	display:block;
	float:left;
	border-top:6px solid #e94e0a;
	background: transparent url("printPopup.gif") no-repeat top left;
	width:30px;
	height:30px;
}

.ficheEquipement .tools .web{
	display:block;
	float:left;
	border-top:6px solid #e94e0a;
	background: transparent url("equipement_iconweb.gif") no-repeat top left;
	width:86px;
	height:30px;
}

.ficheEquipement .equipementTitle{
	border-bottom:0;
	border-top: 15px solid #bad0f5;
	background:#00497e url("equipement_title.gif") no-repeat bottom right;
	margin:0px;
	padding:20px 10px 12px 25px;
	color:white;
	width: 428px;
}

.ficheEquipement .equipementTitle span{
	background:transparent url("equipement_title_bullet.gif") no-repeat 0 7px;
	padding-left:12px;
}


.ficheEquipement #contenuPrincipal{
	clear:left;
	float:left;
	border-left:6px solid #bad0f5;
	padding-left:15px;
	width:447px;
}

.ficheEquipement #contenuContextuel{
	float:left;
	padding-left:30px;
	width:270px;
}

.ficheEquipement #contenuPrincipal #blocText{
	background:#f2f6fa;
	padding:10px 5px;
	color:#00497e;
	width:427px;
	margin-bottom:20px;

}

.ficheEquipement #contenuPrincipal #blocTarifs{
	margin-bottom:20px;
	color:#00497e;
}

.ficheEquipement #contenuPrincipal #blocHoraires{
	margin-bottom:20px;
	color:#00497e;
}

.ficheEquipement #contenuPrincipal #blocHoraires h2, .ficheEquipement #contenuPrincipal #blocTarifs h2{
	color:#e94e0a;
	border-bottom:0;
	border-left:41px solid #e94e0a;
	background:none;
	font:bold 11px verdana;
	padding:0 0 0 4px;
	height:11px;
	text-transform:uppercase;
	margin-bottom:8px;
}

.ficheEquipement #contenuContextuel .bloc{
	margin:0 0 15px 0;
}

.ficheEquipement #contenuContextuel #blocImages img{
	float:left;
}

.ficheEquipement #contenuContextuel .blueBox{
	width:259px;
	color:#00497e;
	padding-bottom:20px;
	background:#bad0f5 url("bluebox_bottom.gif") no-repeat bottom left;

}

.ficheEquipement #contenuContextuel .blueBox .infoPratiques{
	background:transparent url("info_pratiques.gif") no-repeat top left;
	border-bottom:0px;
	margin:0;
	width:259px;
	height:26px;
	padding:0 0 15px 0;

}

.ficheEquipement #contenuContextuel .blueBox strong{
	display:block;
}

.ficheEquipement #contenuContextuel .blueBox .sousbloc{
	padding:5px 10px;
}

.ficheEquipement #contenuContextuel .blueBox #accesHandicap strong{
	padding-bottom:5px;
}

.ficheEquipement #contenuContextuel #blocPlan a{
	font: italic 10px verdana;
	color:#00497e;
	border:0;
	background:transparent url("equipement_access.gif") no-repeat center left;
	padding:4px 0 4px 20px;

}

.ficheEquipement #contenuContextuel #blocVisite{
	padding:10px 0 15px 0;
	padding:expression("10px 0 20px 0");
}

.ficheEquipement #contenuContextuel #blocVisite a{
	color:#00497e;
	font:bold 10px verdana;
	background:transparent url("equipement_visite.gif") no-repeat top left;
	width:129px;
	height:28px;
	border:0;
	padding:7px 0 0 14px;
	display:block;

}

.ficheEquipement #contenuContextuel #allerPlusLoin{
	width:259px;
	color:#00497e;
	padding-bottom:10px;
	background:#bad0f5 url("bluebox_bottom.gif") no-repeat bottom left;
}

.ficheEquipement #contenuContextuel #allerPlusLoin h1{
	background:transparent url("allerplusloin.gif") no-repeat top left;
	border-bottom:0px;
	margin:0;
	width:259px;
	height:26px;
	padding:0 0 15px 0;
}

.ficheEquipement #blocGallerie{
	padding-left:15px;
	width:731px;
	margin-bottom:20px;
}

.ficheEquipement #blocGallerie h2{
	color:#1e4f81;
	border-bottom:0;
	border-left:41px solid #1e4f81;
	background:none;
	font:bold 11px verdana;
	padding:0 0 0 4px;
	height:11px;
	text-transform:uppercase;
	margin-bottom:8px;
}

.ficheEquipement #blocGallerie .head{
	background:#eeeeee url("equipement_photo_top.gif") no-repeat top left;
	height:13px;
	width:731px;
}

.ficheEquipement #blocGallerie .body{
	background:#eeeeee url("equipement_photo_bottom.gif") no-repeat bottom left;
	width:701px;
	width:expression("731px");
	padding:0 15px 13px 15px;
}

/*******************************************************/
/*						PRESSE								   */
/*******************************************************/
#portalPress{
}

#portalPress #rechercher{
	float:left;
}

#portalPress .titleSearch{
	margin-left:100px;
	margin-left:expression("130px");
	color:#00497e;
}

#portalPress .nbrpage{
	color:#373737;
	font:normal 11px verdana;
	background:#d5ddf3;
	padding:3px 4px;
}

#portalPress .nbrpage strong{
	color:#e94e0a;
}

#formPortalPresse{
	padding-bottom:20px;
	padding-top:10px;
}


#portalPress #RCMAction{
	border:0;
	height:20px;
}

#portalPress #RCMAction, #portalPress #RCMAction a{
	font-weight:normal;
	color:#367ab9;
	font:10px verdana;
}


#portalPress #RCMAction .selected{
	color:#e94e0a;
	font:bold 10px verdana;
}

#RCMLstResult{
	border-bottom:1px solid #EBEBEB;
	padding-top:10px;
	position:relative;
}

#RCMLstResult .iconInfo{
	float:right;
	width:150px;
	margin:0px;
	padding:0;
	position:relative;
}

#RCMLstResult .odd{
	background:#f4f6fc;
	padding:5px 0;
}

#RCMLstResult .even{
	padding:5px 0;
}

#RCMLstResult .resultItem{
	padding:5px 0;
}

#RCMLstResult .resultItem h1{
	float:left;
	color:#4f7bb2;
	font:11px verdana;
	border:0;
	background:none;
	padding:0;
	margin:0 0 5px 0;
	width:530px;
	position:relative;
}

#RCMLstResult .resultItem h1 a{
	color:#4f7bb2;
	display:block;
	margin-left:30px;
}

#RCMLstResult .resultItem h1 a:hover{
	text-decoration:underline;
}

#RCMLstResult .resultItem .resultNumber{
	display:block;
	float:left;
	color:white;
	background:#e94e0a;
	font:bold 10px verdana;
	width:23px;
	height:13px;
	margin-right:6px;
}

#RCMLstResult .resultItem .description{
	clear:both;
}


/*******************************************************/
/*							FAQ								  */
/*******************************************************/

#faq .resultItem{
	border-top:1px solid #ebebeb;
	padding:5px 0;
}

#faq .items{
	border-bottom:1px solid #ebebeb;
	padding-top:15px;
}

#faq .intro{
	padding-left:15px;
	padding-right:5px;
}

#faq .resultItem h1{
	color:#00497e;
	font:11px verdana;
	border:0;
	background:none;
	padding:0;
	margin:0 0 5px 0;
}

#faq .resultItem h1 a{
	color:#00497e;
	display:block;
	margin-left:30px;
}

#faq .resultItem h1 a:hover{
	text-decoration:underline;
}

#faq .resultItem .resultNumber{
	display:block;
	float:left;
	color:white;
	background:#e94e0a;
	font:bold 10px verdana;
	width:23px;
	height:13px;
	margin-right:6px;
	position:relative;
	z-index:10;
}

#faq .selected{
	background:#fce5da;
	padding:5px 0pt;
	position:relative;
	z-index:1;
}

#faq .selected h1, #faq .selected h1 a{
	color:#e94e08;
	font:bold 11px verdana;
}

#faq .selected .reponse{
	padding-left:30px;
}

#faq .selected .reponse p{
	display:inline;
}

/*******************************************************/
/*   ENVOI DE CARTE POSTAL DEPUIS BLOC "ALBUM PHOTO"   */
/*******************************************************/

.send_postcard_form form{
        float:right;
}

.send_postcard_form label{
        display:block;
}

.send_postcard_form #message{
        display:block;
        margin-bottom: 10px;
}

.send_by_postcard div{
        align:center;
}

.send_by_postcard a{
        display:block;
        font-size:xx-small;
        font-weight:normal;
}

.send_postcard_img{
        max-width: 330px;
        width:expression(this.clientWidth >= 330? "330px": "auto" );
}

div#postcard_sent{
        border: 2px #c4c4c4 solid;
        padding: 20px;
        margin-right: 50px;
        margin-left: 100px;
}

div#detail_postcard_sent li{
        font-weight: bold;
}

p#stamp{
        text-align: right;
}

p#sender, p#message_postcard_sent{
        text-align: left;
        margin-left: 80px;
}

p#sender{
        border-top: 2px #c4c4c4 dotted;
        border-bottom: 2px #c4c4c4 dotted;
        text-align: left;
        font-weight: bold;
}

p#sender span{
        width: 100px;
}

p#sender a{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  color: #4F7BB2;
}

img#stamp{
    float: left;
}


.message{
    color: red;
}

.required{
	text-decoration:underline;
}

#activity_types table, #activity_types td, #activity_types th{
    border: 1px solid black;
}

#activity_types label{
    font-weight: bold;
    display: block;
}

#activity_types .button_delete{
    float: right;
}

#activity_types .psm{
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 12px;
}

#activity_types .edit_form{
    display: none;
}

.infobulle {
background-color:#eeeeee;
color:#505050;
font-family:Arial;
font-size:12px;
padding:5px;
position:absolute;
visibility:hidden;
white-space:nowrap;
}

/*elus*/
#elus #cmSommaireHaut, #elus #cmSommaireBas{
	border:0;
}

#elus h2{
	color:#4f7bb2;
}

#elus #Maire a.nom{
	color:#4F7BB2;
	font:bold 10px verdana;
}

#elus #Maire p{
	margin:0;
	padding:0;
}

#elus #Maire td{
    vertical-align: bottom;
}

#elus #Maire .mail{
	background:transparent url(mail_icon.gif) no-repeat top left;
	display:block;
	padding:4px 0 10px 30px;
	margin-top:10px;
	margin-bottom:5px;
	color:#e94e0a;
	font:normal 10px verdana;
}

#elus #Maire .info{
	background:transparent url(info_icon.gif) no-repeat top left;
	display:block;
	width:444px;
	padding-left:30px;
	color:#e94e0a;
	font:normal 10px verdana;
    padding-bottom: 10px;
}

#elus #Maire .mail:hover,#elus #Maire .info:hover, .elu #mainElu td.eluInfo a:hover{
	text-decoration:underline;
}

#elus span{
	font-size:80%;	
}

#Municipaux, #MunicipauxDelegues, #Adjoints{
	width:600px;
}

.elu{
	color:#373737;
	font-size:10px;
}

.elu #highlight {
	border-left:5px solid #bad0f5;
	padding-left:15px
}

.elu #highlight p, .elu #highlight .text{
	margin:0;
	padding:0;
	font:normal 10px verdana;
}

.elu #highlight .text{
	background:#f2f6fa;
	width:350px;
	padding:3px 5px;
}

.elu #mainElu{
	border-collapse:collapse;
	margin-left:20px;
	margin-top:5px;
	font-size:10px;
}

.elu #mainElu td{
	vertical-align:top;
}

.elu #mainElu td.eluInfo{
	padding-left:35px;
}

.elu #mainElu td.eluInfo .mail{
	font-style:italic;
	color:#4f7bb2;
}

.elu #mainElu td.eluInfo a{
	color:#e94e0a;
	font-style:normal;
	font-weight:normal;
}


.elu #mainElu td.eluInfo ul{
	list-style-type:none;
	font-size:11px;
	padding-left:15px;
	position:relative;
	left:-37px;

}

html>/**/body .elu #mainElu td.eluInfo ul{
	left:0;
}

.elu #mainElu td.eluInfo li{
	background-image:url(puce_elu_bleu.gif);
	background-repeat: no-repeat;
	background-position: 0 0.7em;
	/*list-style-image:url(images/puce_elu_bleu.gif);*/
	padding:5px 0pt 0pt 10pt;

}

.elu #mainElu td.eluInfo li li{
	background-image:url(puce_elu_noir.gif);
	background-repeat: no-repeat;
	background-position: 0 0.7em;
	/*list-style-image:url(images/puce_elu_noir.gif);*/
	padding:5px 0pt 0pt 10pt;
}

.elu #bio{
	margin-left:20px;
	margin-top:50px;
}

.elu #bio h1{
	color:#4f7bb2;
	font:bold 12px verdana;
	background:none;
	border:0;
	padding-left:0;
}

#popupCitypass p {
   margin-left:20px;
}
#popupCitypass h1{

        background: white url("titre_formulaire.gif") no-repeat top left !important;
        margin:0 0 0 0 !important;
        padding:15px 10px 5px 35px !important;
        height:100px !important;
        border-bottom:0px !important;
        color:white !important;
        width:408px !important;
        font-size:17px !important;
        position:relative;
        left:-20px;
        top:-1px;
}

#popupCitypass h3 {
   /*background:transparent url(images/h2Popup.gif) no-repeat scroll 0 1px !important;*/
   border-bottom:1px dotted #E94E0A!important;
   border-top:1px dotted #E94E0A!important;
   clear:both;
   color:#E94E0A !important;
   font-size:11px !important;
   margin:10px 0 50px 0 !important;
   padding:10px 0 10px 45px !important;
   text-transform:uppercase !important;
}

#popupCitypass #recap {
   margin-left: 20px;
   background-color:;
   border-left:5px solid #BAD0F5 !important;
   margin:0 0 10px !important;
   padding:0 10px !important;
}

#popupCitypass h2 {
   background:transparent url(h2Popup.gif) no-repeat scroll 0 1px !important;
   border-bottom:0 none !important;
   clear:both;
   color:#E94E0A !important;
   font-size:11px !important;
   margin:10px 0 0 !important;
   padding:0 0 0 45px !important;
   text-transform:uppercase !important;
}

#popupCitypass span.libelle {
   display:block;
   float:left;
   font-weight:bold;
   margin-bottom:10px;
   margin-top:4px;
   padding-right:5px;
   text-align:right;
   width:210px;
   background-color:#F2F6FA !important;
   color:#00497E !important;
   font-weight:normal !important;
   margin:0 8px 10px 0 !important;
   padding:3px 2px !important;
   text-align:left !important;
}

#popupCitypass p {
  margin-left:45px;
  font-size:1.1em;
}
/******** Bloc 2 colonnes *******/
#byline {
  float:left;
  width:100%;
}

.assocLinks{
	position:absolute;
	right:19px;
	top:133px;
}

#blocVideo {
    width:295px;
    background:#fff url(bandeauBloc.jpg) no-repeat top;
    padding:45px 0 0 0;
    border:1px solid #316788;
    font-family: Arial, sans-serif;
    position:relative;
    left:-35px;
}

#blocVideo .onglet {
	width:295px;
	height:36px;
	background:#fff url(bgOnglet.gif) no-repeat top;
}

#blocVideo .onglet span {
	padding:5px  30px 5px 30px;
	margin:12px 0 0 0;
	float:left;
	text-transform:uppercase;
	color:#316788;
	text-decoration:none;
	background:#fff url(puceOnglet.gif) no-repeat 11px 4px;
}

#blocVideo .content {
	padding:20px 6px 6px 6px;
	background:#fff;
	line-height:1.3em;
}

#blocVideo h1 {
	background:none;
	clear:left;
	display:block;
	float:none;
	height:auto;
	margin:0 0 7px 0;
	padding:0;
	text-indent:0;
	line-height:1.3em;
	width:auto;
	font-weight:bold;
	font-size: 1.5em;
	color:#000;
    border: 0px 0px 0px 0px;
    border-bottom: none;
}

#blocVideo .content p {
	color:#999;
    margin: 0px 0px 0px 0px;
}

#blocVideo .footer {
	width:295px;
	height:36px;
	background:#fff url(bgFooter.gif) no-repeat top;
}

#blocVideo .footer ul {
	margin:13px 0 0 10px;
	float:left;
	border-right:1px solid #366788;
    padding-left:0px;
 }

* html #blocVideo .footer ul {
	margin:13px 0 0 5px;
 }

#blocVideo .footer li{
	display:inline;
	color:#366788;
	border-left:1px solid #366788;
	padding:0 5px;
}

#blocVideo .videoAll {
    float:right;
    margin:13px 0 0 0;
    padding:5px  20px 6px 30px;
    color:#316788;
    text-decoration:none;
    background:#fff url(puceOnglet.gif) no-repeat 11px 4px;
    font-weight:normal;
    position: relative;
    top: -2px;
}

#blocVideo .videoAll:hover {
	background:#316788 url(puceOngletOver.gif) no-repeat 11px 4px;
	color:#FFF;
}

#blocVideo #video {
border:none;
margin:0 0 10px 0;
}
