
#dropmenu .bd {
	
	border:none;
	border-top:none;
	padding:15px;
	width:300px;

}

#dropmenu .bd ul {
	padding:0;
	margin:0;
	border-top:1px solid #DDD;
	/*width:200px;*/
}



#dropmenu .bd ul li {
	float:none;
	display:block;
	height:25px;
	line-height:25px;
	
	background-image:none;
	text-align:left;
	padding:0;
	margin:0;
	border-bottom:1px solid #DDD;/**/
}

#dropmenu .bd ul li a {
	text-align:left;
	display:block;
	height:25px;
	line-height:25px;
	padding:0 12px;
	font-size:11px
	/**/
}

#dropmenu .bd ul li a:hover{
	color:#FFF;
	text-decoration:none;
}

.yuimenubaritem-selected {
background-color:#FFFFFF;
}




/* -------- ENTREPRISE -------- */

.yui-skin-ap #main .yuimenuContainer .yuimenuitem { display:block; }
.yui-skin-ap #main .yuimenuContainer .yuimenuitem .bd, .yui-skin-ap #main .yuimenuContainer .yuimenu ul { border:none; }

.yui-skin-ap #main .yuimenuContainer .yuimenuitem-selected{background-color:#F5F5F5;}
.yui-skin-ap #main .yuimenuContainer .yuimenuitem a{
background-image:url(fch_blue2.gif);
background-position:5px center;
background-repeat:no-repeat;
display:block;
height:21px;
line-height:21px;
padding:0 0 0 17px;
}

.yui-skin-ap .yuimenuContainer .yuimenuitem-hassubmenu{
background-image:none;
}
.yui-skin-ap .yuimenuContainer .yuimenuitem-selected .bd {
padding:10px;
}

.yui-skin-ap #main .yuimenuContainer .yuimenuitem ul li a {
background-image:url(fch_green.gif);
color:#77AF0A;
background-position:5px center;
background-repeat:no-repeat;
font-size:11px;
height:18px;
line-height:18px;
padding:0 0 0 17px;
}